@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/FrontapplicationDesign/css/animate.css" rel="stylesheet" />
<link href="~/Ckeditor/contents.css" rel="stylesheet" />
<link href="~/CSS/Slieder.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/plugins.css" rel="stylesheet" />
<link href="~/CSS/custom-guest.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/CSS/boostrapslider.css" rel="stylesheet" />
<link href="~/CSS/aaaaa.css" rel="stylesheet" />
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
<link href="~/CSS/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Areas/WHITELABEL/Design/css/whitelabel.css" rel="stylesheet" />
@{

    var correctString = "";
    var col = "";
    var raj = "";
    var whitelabelid = "";
    using (VastwebmultiEntities db = new VastwebmultiEntities())
    {
        string currenturl = HttpContext.Current.Request.Url.Authority;

        currenturl = currenturl.Replace("www.", "").Replace("https://", "").Replace("http://", "");
        currenturl = currenturl.ToUpper();

        if (currenturl.Contains("LOCALHOST"))
        {
            whitelabelid = db.WhiteLabel_userList.AsNoTracking().Where(aa => aa.localhost.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
        }
        else
        {
            whitelabelid = db.WhiteLabel_userList.AsNoTracking().Where(aa => aa.websitename.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
        }
        // Filter pushed to SQL via FirstOrDefault - avoids loading all rows
        var colorRec = db.changecolors.AsNoTracking().FirstOrDefault(p => p.UserId == whitelabelid);
        if (colorRec != null)
        {
            col = colorRec.multipaloutercolor;
            if (col != "")
            {
                String s = col;
                Char charRange = ',';
                int startIndex = s.IndexOf(charRange);
                int endIndex = s.LastIndexOf(charRange);
                int length = endIndex - startIndex + 1;
                var res = s.Substring(startIndex, length);
                raj = res.Trim(',');
            }
            else
            {
                col = "linear-gradient(to right,#ff0000,#000000)";
                String s = col;
                Char charRange = ',';
                int startIndex = s.IndexOf(charRange);
                int endIndex = s.LastIndexOf(charRange);
                int length = endIndex - startIndex + 1;
                var res = s.Substring(startIndex, length);
                raj = res.Trim(',');
            }
        }
        else
        {
            col = "";
        }
        // Single query instead of ToList() check + second FirstOrDefault() query (was 2 SQL calls)
        var imageRec = db.tblSilderWhiteBackImages.AsNoTracking().FirstOrDefault(p => p.UserId == whitelabelid);
        if (imageRec != null)
        {
            correctString = imageRec.SilderBackImage.Replace(@"\", @"/");
        }
        else
        {
            correctString = "";
        }
        ViewBag.aboutimage1 = db.tblAboutUsContents.AsNoTracking().Where(p => p.UserId == whitelabelid).ToList();
        ViewBag.alltravelbus1 = db.tblTravels.AsNoTracking().Where(p => p.UserId == whitelabelid).ToList();
        ViewBag.companyname1 = db.tblWhiteContactDatas.AsNoTracking().Where(p => p.UserId == whitelabelid).ToList();
        // Cache slider data once - was queried twice (ToList() called 2x on same table)
        var silder = db.tblWhitlabelSilders.AsNoTracking().ToList();
        ViewBag.silder = silder;
        if (silder.Count > 0)
        {
            ViewBag.indexsilder = silder.Where(p => p.UserId == whitelabelid).ToList();
        }

    }

}

<style>
    .da-slider {opacity: 0.99;width: 100%;min-width: 320px;height: 607px !important;position: relative;margin:0 auto;overflow: hidden;background: transparent url('./@correctString') repeat-x 0% center;background-size:auto 100%;-webkit-transition: background-position 1s ease-out 0.3s;-moz-transition: background-position 1s ease-out 0.3s;-o-transition: background-position 1s ease-out 0.3s;-ms-transition: background-position 1s ease-out 0.3s;transition: background-position 1s ease-out 0.3s;}
    .da-slider .mask {position:absolute;top:0;left:0;width:100%;height:100%;background: @ViewBag.silderback;opacity:0.60;filter: alpha(opacity=85);}
     .viewmorebutton{min-width: 125px;height: 35px;margin-top: 23px;font-size: 20px;letter-spacing: 1px;color: white;text-align:center;padding:0px;font-family: initial;border-color:white;}
        .kkkk {transition: transform .2s;}
        .kkkk:hover {-ms-transform: scale(0.8);-webkit-transform: scale(0.8);transform: scale(0.8);border-radius:10px;}
     .radhe {transition: transform .5s;}
    .radhe:hover {transform: scale(0.9); }
    p {font-weight: 100;color: black;margin-left: 10px;margin-right: 10px;line-height: 20px;padding:10px;}
    .setform{padding-bottom: 0px;margin-top: 0px;width: 100%;float: left;position:relative;}
    @*#ABOUT .title h1::before ,.header-about-top h2::before{content: '';border-top: 25px solid @PageData["GlobalSecond"];width: 19px;height: 20px;border-left: 17px solidtransparent;border-right: 17px solidtransparent;display: block;float: left;margin: 8px 5px 0px 0px;}*@

     .our-service-w .first-service{background: @PageData["GlobalFirst"];}
     .HOME-layer{ position: absolute; display: block; top: 0px; left: 0px;right: 0px; bottom: 0px; background-image: linear-gradient(to right , @PageData["GlobalFirst"], @PageData["GlobalSecond"]);opacity: .5;}

</style>
<style>
    #HOME {
        background: url(../AdminDesign/images/second-wl-banner.jpg)no-repeat top center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;
    }

    #SERVICES, #Travelservice {
        background: url(../AdminDesign/images/service-wl-bg.jpg)no-repeat top center;
        background-size: 100% 100%;
        width: 100%;
        position: relative;
    }

    .home-inner {
        position: absolute;
        color: #fff;
        width: 40%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0,0,0,.5);
        padding: 40px;
        border: 4px solid #f0c20d;
    }

        .home-inner p {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: #fff;
        }

        .home-inner h2 {
            font-size: 28px;
            margin-top: 0px;
        }

    .our-service-w {
        width: 100%;
    }

    .service-section {
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 25px;
    }

        .service-section span {
            font-size: 16px;
            margin: 0px 20px;
            cursor: pointer;
            transition: .5s linear;
        }

            .service-section span.active {
                background: #FECE1A;
                color: #fff;
                padding: 5px 20px;
                border-radius: 20px;
            }

    .our-service-w li:nth-child(3n-1) {
        margin: auto 0%;
        margin-left: 1.3%;
    }

    .our-service-w li {
        margin-left: 1.3%;
        background: rgba(0,0,0,.6);
        color: #fff;
    }

    .second-service h2 {
        margin-bottom: 15px;
        font-size: 28px;
        margin-top: 10px;
        border-color: #fff;
    }

    .header-about-top1 h2 {
        display: block;
        margin: 0px;
        margin-bottom: 30px;
        color: #fff;
        text-align: center;
    }

    .thumbnail:hover .mask {
        left: 0;
    }

    .thumbnail .mask {
        top: 0px;
        left: 100%;
    }

    .third-service {
        padding: 0px 15px 15px;
    }

    .section-title-wh {
        width: 100%;
        float: left;
        text-align: center;
        color: #000;
        margin: 35px 0;
        position:relative;
    }
        .section-title-wh span {
            font-size: 45px;
            font-weight: 500;
            color: #000;
            position:relative;
        }
            .section-title-wh span::after {
                content: "";
                display: block;
                width: 50%;
                height: 2px;
                background: #f0c20d;
                position: absolute;
                bottom: 7px;
                left: 0;
                margin: 0 auto;
                right: 0;
            }
    .flexclasswh {display:flex;width:100%;float:left;align-content:center;}
    .allsection-space {
        margin-bottom: 45px;
    }
    .section-content p {
        margin: 0;
        padding: 0;
        color: #555;
        font-weight: 400;
        line-height: 26px;
        font-size: 14px;
    }
    .section-content {
        color: #555;
        font-weight: 400;
        line-height: 26px;
        font-size: 14px;
    }
    .servissection-wh .other-service.all h2 {
        border: 0;
    }
    .servissection-wh .our-service-w .section-content {
        color: #fff;
     }
    .second-service h2 {
        border: 0;
    }
    .whychoose-full {
        width: 100%;
        float: left;
        border: 1px solid #d7d5d5;
        transition:all .4s linear;
    }
    .whychoose-full * {
        transition:all .4s linear;
    }
    .whychoose-full:hover img {
        transform: scale(1.05);
    }
        .whychoose-full .section-content .why-heading {
            margin: 0;
            padding-bottom: 10px;
            color: #000;
            font-size: 18px;
            text-transform: capitalize;
        }
        .whychoose-full .section-content {
            width: 100%;
            float: left;
            padding: 20px 10px;
            background: #f7f7f7;
        }
    .multi-img {
        width: 100%;
        overflow: hidden;
    }
    
    .section-title-wh span {
        letter-spacing: 2px;
    }
    .whychoose-wh .col-md-3 img{width:100%;}

    @@media screen and (max-width:991px) {
        .home-inner {
            width: 75%;
        }

        .nav-collapse {
            width: auto;
            overflow: visible;
        }

        .navbar .container {
            padding: 0px 15px;
        }
        .about-section .col-md-5, .about-section .col-md-7 {
            width: 100%;
            float: left;
            padding-bottom: 15px;
        }
        .flexclasswh {
            display: inherit;
        }
        .travelsection-white .our-service-w .other-service.all {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
        .container {
            width: 100%;
        }
        .flexclasswh .aboutimg {
            text-align: center;
        }
        .whychoose-wh .col-md-3 {
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }
        .row {
            margin: 0 !important;
        }

    }

    @@media screen and (max-width:767px) {
        .our-service-w li {
            width: 48%;
        }

        .footer-wl-one {
            display: flex;
            flex-wrap: wrap;
        }

            .footer-wl-one > li {
                width: 50%;
            }

        .for-outer-in {
            width: 80%;
            height: 85%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .for-outer-close {
            right: 0px;
            top: 0px;
        }
        .section-title-wh span {
            font-size: 25px;
        }
        .section-title-wh span::after {
            display:none;
        }
        .allsection-space {
            margin-bottom: 15px;
        }
        .whychoose-wh {
            padding-bottom: 0 !important;
            padding-top: 0px !important;
        }
        .section {
            padding: 0;
        }
    }

    @@media screen and (max-width:470px) {
        

        .team .span7 {
            margin-top: 10px;
        }

        .footer-wl-in > .row-fluid {
            width: 100% !important;
        }

        .our-service-w li {
            width: 100%;
        }

        .footer-wl-in > .row-fluid ~ span {
            width: 100%;
        }

        .service-section span {
            margin: 0px 5px;
        }

        .footer-wl-one > li {
            width: 100%;
        }

        .social {
            text-align: center;
        }

        .home-inner {
            padding: 5px;
        }

            .home-inner p {
                padding: 0px;
            }

        #ABOUT .team p {
            padding: 5px !important;
        }

        .section .container {
            padding-top: 20px;
        }

        .verify-form .digit-group {
            width: 95%;
        }

            .verify-form .digit-group input {
                height: 39px;
                font-size: 35px;
            }

        .login-form h2, .create-form h2, .forget-form h2, .verify-form h2 {
            font-size: 28px;
        }

        .verify-form button {
            padding: 8px 15px;
            font-size: 20px;
        }

        .second-service h2 {
            font-size: 22px;
        }
        .section-content p, .section-content {
            font-size: 12px;
        }
        .section-title-wh {
            margin: 20px 0;
        }
        .container-fluid, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-1,
        .col-md-2, .col-md-3 {
            padding-left:0px !important;padding-right:0px !important;
        }
        .whychoose-wh {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

</style>



@{
    if (ViewBag.OTPSendNotify != null)
    {
        PageData["OpenOtpBox"] = ViewBag.OTPSendNotify;
    }
    else if (ViewBag.InvalidCode != null)
    {
        PageData["InvalidCode"] = ViewBag.InvalidCode;
    }
    <div id="HOME">
        <div class="HOME-layer"></div>

        <div class="home-inner">
            <h2>Financial services</h2>
            <p>Financial services are the economic services provided by the finance industry, which encompasses a broad range of businesses that manage money.</p>
        </div>
        @*<div id="da-slider" class="da-slider">


                <div class="container">

                    <div class="da-slide">

                        <div class="da-img">
                            <img src="~/AdminDesign/images/bus.jpg" class="img-responsive" />
                        </div>
                    </div>
                    <div class="da-slide">

                        <div class="da-img">
                            <img src="~/AdminDesign/images/flight-tickit-booking.jpg" class="img-responsive" />
                        </div>
                    </div>
                    <div class="da-slide">

                        <div class="da-img">
                            <img src="~/AdminDesign/images/mobile and dth.jpg" class="img-responsive" />

                        </div>
                    </div>
                    <div class="da-slide">

                        <div class="da-img">
                            <img src="~/AdminDesign/images/hotel booking.jpg" class="img-responsive" />

                        </div>
                    </div>

                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                </div>
            </div>*@
    </div>

    List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.AboutUs> Abot = new List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.AboutUs>();
    JSONReadWrite readWrite = new JSONReadWrite();
    Abot = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.AboutUs>>(readWrite.Read("AboutUs.json", "~/Areas/WHITELABEL/Models/JsonFile/"));
    var ABOUTUS = Abot.Where(a => a.UserId == whitelabelid).ToList();
    if (ABOUTUS.Count() > 0)
    {
        <!--<div class="section secondary-section" id="ABOUT">
            <div class="container">
                <div class="header-about-top1">
                    <h2 style="color:#fff;">About Us</h2>
                </div>
                <div class="row-fluid team" style="display:flex;flex-wrap:wrap;">
                    <div class="span5">
                        <img src="~/AdminDesign/images/about-wl.png" />
                    </div>
                    <div class="span7">
                        <div class="thumbnail" style="padding:0px;background: transparent;color:#fff;">
                            @Html.Raw(ABOUTUS.SingleOrDefault().AboutContent)-->
        @*<img src="@Url.Content("~/" + @ViewBag.aboutimage)" alt="team 1" style="border: 10px solid #f5f5f5;">*@
        <!--<div class="mask" style="opacity:0.70;">-->
        @*<h3>@ViewBag.aboutheading</h3>*@
        <!--</div>
                        </div>
                    </div>



                </div>

            </div>
        </div>-->
    }

    @*About Section*@

    <section id="ABOUT" class="allsection-space about-section">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="section-title-wh"><span>About Us</span></h2>
                </div>
                <div class="container">
                    <div class="row" style="align-content:center;">
                        <div class="flexclasswh">
                            <div class="col-md-5">
                                <div class="aboutimg">
                                    <img src="~/AdminDesign/images/about-us-top.gif" />
                                </div>
                            </div>
                            <div class="col-md-7" style="display:flex;align-items:center;">
                                <div class="section-content">
                                    <p>Our are provide India's largest multi recharge platform. We are work domestic money transfer, international money transfer services, Prepaid & Dth Recharge, Postpaid payments, Electricity bill payments, Gas & insurance payments, Domestic & internationnal Hotel booking, Domestic & internationnal flight booking, Bus booking, New PAN registration & edit, Mini ATM (M-Pos), AEPS services, All type "GIFT-CARD", and largest Ecommerace that offers comprehensive payment services for customer and merchants. We offer mobile payment solutions to over 5000 consumers to make seamless mobile payments from Cards, Bank Accounts and Digital Credit among others. Our investors and partners has been in all over India's. We strive to maintain an open culture where everyone is a hands-on contributor and feels comfortable sharing ideas and opinions. We are doing our best.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    @*Service Section*@

    <div class="section primary-section allsection-space servissection-wh" id="SERVICES">
        <div class="HOME-layer"></div>
        <div class="container" style="position:relative;">
            <div class="header-about-top1">
                <h2 class="section-title-wh"><span style="color:#fff;">Our Main Services</span></h2>
                
            </div>

            <ul class="our-service-w">
                <li class="other-service all">
                    @*<div class="first-service">

                            <img src="~/AdminDesign/images/prepaid.svg" />
                        </div>*@
                    <div class="second-service"><h2>Prepaid&nbsp;&&nbsp;DTH</h2></div>
                    <div class="third-service section-content">
                        We are leading online DTH and Prepaid recharge service provider in India. We provide DTH online recharge for an array of companies including Airtel DTH, Reliance DTH, Dish TV, Tata Sky, and Sun Direct.
                    </div>
                </li>
                <li class="other-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/utilities.svg" />
                        </div>*@
                    <div class="second-service"><h2>All&nbsp;Utilities</h2></div>
                    <div class="third-service section-content">
                        Utilities (water, electricity and gas) are essential services that play a vital role in economic and social development. Quality utilities are a prerequisite for effective poverty eradication. Governments are ultimately responsible for ensuring reliable universal access of service under accountable regulatory frameworks.

                    </div>
                </li>
                <li class="other-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/micro.svg" />

                        </div>*@
                    <div class="second-service"><h2>Micro&nbsp;ATM</h2></div>
                    <div class="third-service section-content">
                        Micro ATM is a mini version of an ATM. Micro ATMs are like the modified point of sales terminals this terminal can connect to banking network via GPRS to perform banking transactions. This machine contains a card swipe facility and a fingerprint scanner.

                    </div>
                </li>
                <li class="other-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/aeps.svg" />
                        </div>*@
                    <div class="second-service"><h2>Aeps&nbsp;Service</h2></div>
                    <div class="third-service section-content">
                        Aadhaar Enabled Payment System or AEPS is a new payment service offered by the National Payments Corporation of India to banks and financial institutions using ‘Aadhaar’. Aadhaar is a unique identification number issued by the Unique Identification Authority of India (UIDAI).

                    </div>
                </li>
                <li class="other-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/bank.svg" />
                        </div>*@
                    <div class="second-service"><h2>(DMT)&nbsp;Money&nbsp;Transfer</h2></div>
                    <div class="third-service section-content">
                        Domestic Money transfer available 365 days round the clock The transfer has done via IMPS / NEFT to any bank. The transfer is done from Customer Wallet to Bank account within seconds The highly secure platform assures the safety of your transactions                    Domestic Money transfer is a boon to the un-banked masses Led by a team of experts

                    </div>
                </li>
                <li class="travel-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/flight.svg" />
                        </div>*@
                    <div class="second-service"><h2>Flight Booking</h2></div>
                    <div class="third-service section-content">
                        Online flight booking, cheap air tickets for domestic & international flight ticket booking. Grab deals & offers on online flight booking

                    </div>
                </li>
                <li class="travel-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/bus.svg" />
                        </div>*@
                    <div class="second-service"><h2>Bus Booking</h2></div>
                    <div class="third-service section-content">
                        World's largest online bus ticketing platform offers bus travels, AC Volvo bus, carpooling & bus hire at best rates. Easy cancellation & Instant refund.

                    </div>
                </li>
                <li class="travel-service all section-content">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/hotel.svg" />
                        </div>*@
                    <div class="second-service"><h2>Hotel Booking</h2></div>
                    <div class="third-service section-content">
                        Online hotel reservations are a popular method for booking hotel rooms. Travellers can book rooms on a computer and mobile apps by using online security to protect their privacy and financial information and by using several online travel agents to compare prices and facilities at different hotels.

                    </div>
                </li>
                <li class="other-service all">
                    @*<div class="first-service">
                            <img src="~/AdminDesign/images/purchase.svg" />
                        </div>*@
                    <div class="second-service"><h2>E-Commerce</h2></div>
                    <div class="third-service section-content">
                        Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions.

                    </div>
                </li>
            </ul>
        </div>
    </div>


    @*Works section*@

<section id="WORKS" class="allsection-space" style="padding-bottom: 70px; padding-top: 20px;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h2 class="section-title-wh" style="margin-top:0px;"><span>Our Main Works</span></h2>
            </div>
            <div class="container">
                <div class="row" style="align-content:center;">
                    <div class="flexclasswh">
                        <div class="col-md-7" style="display:flex;align-items:center;">
                            <div class="section-content">
                                <p>Our provided Permanent Account Number or PAN, is a means of identifying various taxpayers in the country. PAN is a unique identification number assigned to Indians, mostly to those who pay tax. The PAN system of identification is a computer-based system that assigns unique identification number to every Indian tax paying entity. Through this method, all tax related information for a person is recorded against a single PAN number which acts as the primary key for storage of information. This is shared across the country and hence no two people on tax paying entities can have the same PAN.</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="aboutimg">
                                <img src="~/images/slider1.png" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

@*Travel section*@

<div class="section primary-section allsection-space servissection-wh travelsection-white" id="Travelservice">
    <div class="HOME-layer"></div>
    <div class="container" style="position:relative;">
        <div class="header-about-top1">
            <h2 class="section-title-wh"><span style="color:#fff;">Travel & Hotel Services</span></h2>

        </div>

        <ul class="our-service-w">
            <li class="other-service all">
                @*<div class="first-service">

                        <img src="~/AdminDesign/images/prepaid.svg" />
                    </div>*@
                <div class="second-service"><h2>Bus</h2></div>
                <div class="third-service section-content">
                    This is India's largest online bus ticketing platform, trusted by all over Indians. With a sale of over Bus tickets via web, mobile, and our bus agents, and stands at the top of the game in bus ticketing.and operates on over 8020 routes reputed bus operators. and launched its bus booking services in the year 2018, thus offerings customers all travel options on one platform. It became the true one-stop travel planner as everything from flights,holiday packages, train reservations, car rentals, to , all things related to travel was now available on this portal Bus services are available across the length and breadth of India, and this portal realizing the importance of this market has tied up with India’s premier bus services around the country and has been able to quickly gain a significant foothold in this market. It is still at a nascent stage however, and is working towards building many more partnerships to expand its reach and offer an even wider range of options to customers..
                </div>
            </li>
            <li class="other-service all" style="margin-top:0px;">
                @*<div class="first-service">
                        <img src="~/AdminDesign/images/utilities.svg" />
                    </div>*@
                <div class="second-service"><h2>Flight</h2></div>
                <div class="third-service section-content">
                    The leading player in online flight bookings in India.this portal offers great offers, some of the lowest airfares, exclusive discounts and a seamless online booking experience. Flight bookings through the desktop or mobile site is a delightfully customer friendly experience, and with just a few clicks you can complete your booking. With features like Instant Discounts, Fare Calendar, MyRewards Program, MyWallet and many more, the overall booking experience with constantly adds value to its product and continues to offer the best to its customers. While booking flights with This portal, you can expect the ultimate online booking experience. With premium customer service, 24/7 dedicated helpline for support, and over 99% delighted customers, This portal takes great pride in enabling customer satisfaction. With a cheapest flight guarantee, book your tickets at the lowest airfares. Avail great offers, exclusive deals for loyal customers and get instant updates for your flight status and fare drops.

                </div>
            </li>
            <li class="other-service all">
                @*<div class="first-service">
                        <img src="~/AdminDesign/images/micro.svg" />

                    </div>*@
                <div class="second-service"><h2>Hotel</h2></div>
                <div class="third-service section-content">
                    The most important aspect for any holiday plan is the part where you have to choose a nice hotel that suits your budget. Staying in a good hotel makes your holiday convenient and more memorable. Therefore, we bring to you mind-blowing hotel offers and an array of hotel deals on domestic as well as international hotels, so that you can enjoy luxury like never before. We have all sorts of hotels, ranging from luxury to cheap, so whatever be your requirement, you will get the accommodation. When you find the hotel of your choice, just click on its name to see its detailed description. Apart from Goa, our database includes myriad properties in all holiday and business destinations in India. Our payment gateway is totally secure, so all your bank details are safe. A smooth transfer process means that making payment is as swift as searching the hotel. So, whether you are looking for budget or upscale hotels in Delhi, Shimla, Mumbai, Chennai or any other destination, visit This Portal, and get the best deal.

                </div>
            </li>
            
        </ul>
    </div>
</div>

 @*Why Choose section*@

<section id="WhyChoose" class="allsection-space whychoose-wh" style="padding-bottom: 70px; padding-top: 20px;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h2 class="section-title-wh" style="margin-bottom:0px;"><span style="padding-bottom:10px;">Why Choose</span></h2>
                <div class="section-content" style="width: 100%; float: left; margin-top: 15px;">
                    <p style="width: 100%; float: left; text-align: center; color: #444; margin-bottom: 35px;">
                        This Portal is a best Multi Recharge Company In India, and provide the multi services with single plateform and support the all client's.
                    </p>
                </div>
            </div>
            
            
                <div class="container-fluid">
                    @*section-1*@
                    <div class="col-md-3">
                        <div class="whychoose-full">
                            <div class="multi-img">
                                <img src="~/images/MULTIRECHARGESERVICE.png" />
                            </div>
                            <div class="section-content">
                                <h4 class="why-heading">Mulit Service With Single Plateform</h4>
                                <p>Our Multi-Services Platform is a flexible, high-density media resource platform with integrated signalling capabilities, which is designed to enable developers to bring new services to market quickly and cost-effectively.</p>
                            </div>
                        </div>
                    </div>
                    @*section-2*@
                    <div class="col-md-3">
                        <div class="whychoose-full">
                            <div class="multi-img">
                                <img src="~/images/Support.png" />
                            </div>
                            <div class="section-content">
                                <h4 class="why-heading">Support Service</h4>
                                <p>Our Multi-Services Platform is a flexible, high-density media resource platform with integrated signalling capabilities, which is designed to enable developers to bring new services to market quickly and cost-effectively.</p>
                            </div>
                        </div>
                    </div>
                    @*section-3*@
                    <div class="col-md-3">
                        <div class="whychoose-full">
                            <div class="multi-img">
                                <img src="~/images/Team.png" />
                            </div>
                            <div class="section-content">
                                <h4 class="why-heading">Team</h4>
                                <p>Our Multi-Services Platform is a flexible, high-density media resource platform with integrated signalling capabilities, which is designed to enable developers to bring new services to market quickly and cost-effectively.</p>
                            </div>
                        </div>
                    </div>
                    @*section-4*@
                    <div class="col-md-3">
                        <div class="whychoose-full">
                            <div class="multi-img">
                                <img src="~/images/Ecommerceouterthem.png" />
                            </div>
                            <div class="section-content">
                                <h4 class="why-heading">E-commerce</h4>
                                <p>Our Multi-Services Platform is a flexible, high-density media resource platform with integrated signalling capabilities, which is designed to enable developers to bring new services to market quickly and cost-effectively.</p>
                            </div>
                        </div>
                    </div>
                </div>

            
            

        </div>
    </div>
</section>


    if (ViewBag.newupdatasts == "Y")
                {
                    if (ViewBag.newupdate.Count > 0)
                    {
            @*<div id="NEWUPDATE" class="section secondary-section" style="background:#fff;">
                <div class="container">
                    <div class="header-about-top">
                        <h2 style="color:#000;">New Update News</h2>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="nav-tabs-custom" style="border-radius:5px;outline: 5px solid @PageData["GlobalSecond"];outline-offset: 10px;background: #b9bdb9;-moz-outline-radius: 5px;">


                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <br>
                                    <div class="carousel-inner">
                                        @{int count1 = 0;
            string activeclass1 = "";

        }
        @foreach (var item in ViewBag.newupdate)
        {
            if (count1 == 0)
            {
                activeclass1 = "item active";
                count1++;
            }
            else
            {
                activeclass1 = "item";
            }
            var xx1 = item.UpdateContent;
            var pp1 = xx1;
            var q1 = "";
            if (pp1.Length > 1300)
            {
                q1 = pp1.Substring(0, 1300) + " .....";
            }
            else
            {
                q1 = pp1;
            }
                                            <div class="item @activeclass1">
                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <div class="thumbnail" style="border:none; background:transparent; text-align:inherit; margin-bottom:10px;">
                                                            <div class="span3">
                                                                <img class="media-object  img-responsive" src="@Url.Content("~/" + @item.Image)" style="border: 1px solid #cfcccc;margin: auto;border-radius: 50%;width:200px;height:200px;">
                                                            </div>
                                                            <div class="span9">
                                                                <div class="caption" style="padding:15px;">
                                                                    <span class="fa fa-commenting-o for-quote" style="color:black; text-align:justify;">@Html.Raw(q1)</span>
                                                                    <br>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>*@
        }
    }

    if (ViewBag.contactsts == "Y")
    {
        if (ViewBag.companyname1.Count > 0)
        {
            <!--<div id="CONTECTUS" class="contact">
                <div class="section secondary-section" style="background:#f5f5f5;">


                    <div class="container">
                        <div class="row-fluid">




                            <div class="span12" style="height:auto; ">-->
                                @*
                                    <span class="fa fa-envelope" style="font-size:17px; color:black; margin-top:26px;">&nbsp;&nbsp;&nbsp;&nbsp;<b>Email :-</b> </span><span style="font-size:16px; margin-top:5px;"> @ViewBag.emil</span>
                                    <br />*@
                                <!--<div class="row-fluid">

                                    <div class="span6" style="text-align:center;">

                                        <img src="~/AdminDesign/images/android-1.svg" style="width:500px;" />

                                        <div>
                                            <a href="#" style="background:@PageData["GlobalFirst"];display: inline-block;margin-top: 20px;padding: 6px 24px;border-radius: 2px">Download APK</a>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <h3 style="text-align:center;color:#555;">Get In Touch With Us</h3>
                                        @using (Html.BeginForm("AllWhiteContect_Data", "Home", FormMethod.Post))
                                        {
                                            <div class="form-group setform">
                                                @Html.TextBoxFor(m => m.SuperstokistName, "", new { @class = "form-control", @style = "color:#555", placeholder = "Enter Name", required = "required" })
                                                @Html.ValidationMessageFor(m => m.SuperstokistName, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                            <div class="form-group setform">
                                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @style = "color:#555", placeholder = "Enter Email-id", required = "required" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                            <div class="form-group setform">
                                                @Html.TextBoxFor(m => m.SuperstokistName, "", new { @class = "form-control", @style = "color:#555", placeholder = "Enter Subject", required = "required" })
                                                @Html.ValidationMessageFor(m => m.SuperstokistName, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                            <div class="form-group setform">
                                                @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Enter Mobile Number", @style = "color:#555", onkeypress = "return isNumber(event)", maxlength = "10", required = "required" })
                                                @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                            <div class="form-group setform" style="width: 100%;margin: auto;display: block;float: none;clear: both;">
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Message ", @style = "color:#555; height: 80px;", @onkeypress = "javascript:return AddValidation(event)", required = "required" })
                                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger", @style = "color:red" })
                                            </div>
                                            <div class="">
                                                <input type="submit" value="Get In Touch" class="btn" style="background:@PageData["GlobalFirst"];color:#fff;">
                                            </div>
                                        }

                                        <div class="">
                                            <h3 style="color:#fff;background:#64798a;margin:0px;padding: 0px 10px;">We Are Social</h3>
                                        </div>

                                        <div class="row-fluid centered" style="background:#64798a;">
                                            <ul class="social">
                                                <li>
                                                    @if (ViewBag.fac != "")
                                                    {
                                                        <a href="@ViewBag.fac" target="_blank"><span class="icon-facebook-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-facebook-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.twi != "")
                                                    {
                                                        <a href="@ViewBag.twi" target="_blank"><span class="icon-twitter-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-twitter-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.Instagra != "")
                                                    {
                                                        <a href="@ViewBag.Instagra" target="_blank"><span class="icon-instagram-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-instagram-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.linked != "")
                                                    {
                                                        <a href="@ViewBag.linked" target="_blank"><span class="icon-linkedin-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-linkedin-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.skyp != "")
                                                    {
                                                        <a href="@ViewBag.skyp" target="_blank"><span class="icon-skype-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-skype-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.Pinteres != "")
                                                    {
                                                        <a href="@ViewBag.Pinteres" target="_blank"><span class="icon-pinterest-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-pinterest-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.Youtub != "")
                                                    {
                                                        <a href="@ViewBag.Youtub" target="_blank"><span class="icon-Youtube-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-Youtube-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.Blogge != "")
                                                    {
                                                        <a href="@ViewBag.Blogge" target="_blank"><span class="icon-Blogger-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-Blogger-circled"></span></div>
                                                    }
                                                </li>
                                                <li>
                                                    @if (ViewBag.Tumbl != "")
                                                    {
                                                        <a href="@ViewBag.Tumbl" target="_blank"><span class="icon-Tumblr-circled"></span></a>
                                                    }
                                                    else
                                                    {
                                                        <div><span class="icon-Tumblr-circled"></span></div>
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>-->
        }
    }
}
<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/MainFrontDesign/js/vendor/bootstrap.min.js"></script>
<script src="~/CSS/multislider.js"></script>
<script>
    $("#readmore").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            }
            else {
                toggle_switch.html('Read Less');
            }
        });
    });
</script>
<script>
    $('button').click(function () {
        if (this.id == 'viewmore') {
            $('#allcard').show();
            $('#silderid').hide();
            $('#viewless').show();
            $('#viewmore').hide();
        }
        else {
            $('#allcard').hide();
            $('#silderid').show();
            $('#viewless').hide();
            $('#viewmore').show();
        }
    })
</script>
<script>
    $('#basicSlider').multislider({
        continuous: true,
        duration: 2000
    });
    $('#mixedSlider').multislider({
        duration: 750,
        interval: 3000
    });
</script>
<script>
    window.onload = function () {
        var succ = '@TempData["front"]';
        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>
<script>
    $(function () {
        var selectedClass = "";
        $(".service-section span").click(function () {
            $(".service-section span").removeClass('active');
            $(this).addClass('active');
            selectedClass = $(this).attr("data-rel");
            $(".our-service-w").fadeTo(100, 0.1);
            $(".our-service-w li").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $(".our-service-w").fadeTo(500, 1);
            }, 500);

        });
    });
</script>
