@model Vastwebmulti.Models.RegisterViewModel
@{
    Layout = null;
    if (!HttpContext.Current.Request.IsLocal)
    {
        <!-- To Disable Inspect Element -->
        <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
    }
}
<html lang="en">
<head>
    <title>@ViewBag.DomainName</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Event Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- //custom-theme -->
    <!-- js -->
    <link href="~/outerRegisterDesign/css/style.css" rel="stylesheet" />
    <link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- banner -->
    <div class="center-container">
        <div class="main">

            @*<h1 class="w3layouts_head" style="font-size:28px;"><i class="fa fa-sign-in" aria-hidden="true" style="color:green;"></i>&nbsp;Registration Form</h1>*@
            @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="w3layouts_main_grid">

                    <div class="w3_agileits_main_grid w3l_main_grid">

                        <span class="agileits_grid">
                            <label>Your Name </label>
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control name", @placeholder = "Your Name", })

                        </span>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Company Name</label>
                            @Html.ValidationMessageFor(m => m.Companyname, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Companyname, new { @class = "form-control name", @placeholder = "Enter Company Name" })
                        </span>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Your Email Id </label>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control email", @placeholder = "Your Email-ID" })
                        </span>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Mobile Number </label>
                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = " Mobile Number", @maxlength = 10 })
                        </span>
                    </div>


                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>State </label>
                            @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.DropDownListFor(m => m.state, (IEnumerable<SelectListItem>)ViewData["state"], "-- Select State--", new { @class = "form-control", @onchange = "FillDistict1()" })

                        </span>
                    </div>
                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>District </label>
                            @Html.ValidationMessageFor(m => m.distict, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.DropDownListFor(m => m.distict, (IEnumerable<SelectListItem>)ViewBag.district, "-- Select District--", new { @class = "form-control" })
                        </span>
                    </div>
                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>Address </label>
                            @*<input type="text" placeholder="Your Full Registered Address" class="form-control" />*@
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Your Full Registered Address" })
                        </span>
                    </div>
                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>Pin Code </label>
                            @*<input type="text" placeholder="Customer Care Number" class="form-control" />*@
                            @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Pin, new { @class = "form-control", @placeholder = "Enter Pin Code" })
                        </span>
                    </div>
                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>Customer Care</label>
                            @*<input type="text" placeholder="Customer Care Number" class="form-control" />*@
                            @Html.ValidationMessageFor(m => m.customercareno, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.customercareno, new { @class = "form-control", @placeholder = "Customer Care Number" })
                        </span>
                    </div>
                    <div class="agileits_w3layouts_main_grid w3ls_main_grid">
                        <span class="agileinfo_grid">
                            <label>Support Mail</label>
                            @*<input type="text" placeholder="Customer Support Mail Id" class="form-control" />*@
                            @Html.ValidationMessageFor(m => m.SupportMail, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.SupportMail, new { @class = "form-control", @placeholder = "Customer Support Mail Id" })
                        </span>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Password</label>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                        </span>
                    </div>

                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Confirm&nbsp;Password</label>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Confirm Password" })
                        </span>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid">
                            <label>Enter Virtual Value</label>
                            @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger ", @style = "color:red;" })
                            @Html.TextBoxFor(m => m.Value, new { @class = "form-control name", @placeholder = "Enter Virtual Value" })
                        </span>
                    </div>

                    <div class="w3_main_grid">

                        <div class="w3_main_grid_right">
                            <input type="submit" value="Submit" style="margin-left:156px;">
                        </div>
                    </div>
                    <div class="w3_agileits_main_grid w3l_main_grid">
                        <span class="agileits_grid" id="show">
                        </span>
                    </div>

                </div>
            }
            <!-- Calendar -->
            <link href="~/outerRegisterDesign/css/jquery-ui.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
            <script src="~/AdminDesign/plugins/bootstrap/js/bootstrap.js"></script>
            <script src="~/Swalalert/sweetalert-dev.js"></script>
        </div>
    </div>
    <!-- Demo Js -->
    <script>
    function FillDistict1() {
        var State_id = $('#state').val();
    $.ajax({
         url: '@Url.Action("FillRegiDistict", "Home")',
        type: "GET",
        dataType: "JSON",
         data: { Id: State_id },
        success: function (cities) {
            $("#distict").html(""); // clear before appending new list
            $.each(cities, function (i, distict) {

                $("#distict").append(
                    $('<option></option>').val(distict.Dist_id).html(distict.Dist_Desc));
                 });
                 }
                     });
                 }
    </script>

    <script>
        window.onload = function () {
         var myStr = '@TempData["aaa"]';
        var newStr = myStr.replace("Name", "Email");

        show.innerHTML = newStr;
        var succ = '@TempData["aa"]';

        if (succ != null && succ != "") {
            if (succ.includes("Register")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }

    </script>

</body>

</html>