@using Vastwebmulti.Models
@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @{
        var cname = "";
        VastwebmultiEntities db = new VastwebmultiEntities();
        string currenturl = HttpContext.Current.Request.Url.Authority;
        currenturl = currenturl.Replace("www.", "").Replace("https://", "").Replace("http://", "");
        currenturl = currenturl.ToUpper();
        var whitelabelid = "";
        if (currenturl.Contains("LOCALHOST"))
        {
            whitelabelid = db.WhiteLabel_userList.Where(aa => aa.localhost.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
        }
        else
        {
            whitelabelid = db.WhiteLabel_userList.Where(aa => aa.websitename.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
        }
        var admindetail = db.Admin_details.ToList();
        var mailid = admindetail.SingleOrDefault().email;
        var mobile = admindetail.SingleOrDefault().mobile;
        var company = db.tblWhiteContactDatas.Where(p => p.UserId == whitelabelid).ToList();
        if (company.Count > 0)
        {
            cname = company.SingleOrDefault().CompnayName;
        }
        else
        {
            cname = "";
        }
    }
    <title>@cname</title>
    @{
        var favimage = "";
        VastwebmultiEntities db2 = new VastwebmultiEntities();
        var faviconlogo = db2.tblfavicons.Where(p => p.UserId == whitelabelid).ToList();
        if (faviconlogo.Count() > 0)
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
        else
        {
            <link rel="icon" href="" type="image/x-icon" />
        }
        var logoimage = "";
        var logo = db.tblwhitelabelLoginContents.Where(aa => aa.UserId == whitelabelid).ToList();
        if (logo.Count > 0)
        {
            logoimage = logo.SingleOrDefault().Image;
        }
        else
        {
            logoimage = "Login_Images/login22.png";
        }
    }
    <link rel="icon" href="@Url.Content("~/" + @favimage)" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tab Login Form widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/LoginFormDesign/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/LoginFormDesign/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="~/Areas/WHITELABEL/Design/css/whitelabel.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    @*<link href="~/FrontapplicationDesign/css/bootstrap.css" rel="stylesheet" />*@
    <script type="text/javascript">
        $(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                height: '300px',
                fit: true
            });
        });
    </script>
    <style>
        .dropp {
            outline: none;
            font-size: 1em;
            /*padding: 15px 30px 10px 10px;*/
            margin: 0;
            width: 90%;
            border: none;
            border-bottom: 2px solid #cecfd3;
        }
    </style>
    <style>
        .body {
            background: url(@ViewBag.fullpath)repeat 0px 0px;
            background-attachment: fixed;
        }
    </style>
    <style>
        .login-right input[type="text"], .login-right input[type="password"] {
            outline: none;
            font-size: 1em;
            padding: 5px 20px 7px 7px;
            margin: 0;
            width: 100%;
            border: none;
            border: 1px solid #555;
            -webkit-appearance: none;
            box-shadow: none;
            margin-bottom: 10px;
            border-radius: 0px;
        }

            .login-right input[type="text"]:focus, .login-right input[type="password"]:focus {
                border-color: red;
            }
    </style>
    <style type="text/css">

        .ldio-gs56nt525f > div {
            transform-origin: 14px 14px;
            animation: ldio-gs56nt525f 0.4s infinite linear;
        }

            .ldio-gs56nt525f > div div {
                position: absolute;
                width: 22px;
                height: 16px;
                background: #fff;
                left: 14px;
                top: 14px;
                transform: translate(-50%,-50%);
            }

                .ldio-gs56nt525f > div div:nth-child(1) {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                }

                .ldio-gs56nt525f > div div:nth-child(6) {
                    width: 13px;
                    height: 13px;
                    background: #000;
                    border-radius: 50%;
                }


        .resp-tabs-list .resp-tab-active::before {display:none;
        }

        .resp-tab-item{border-top:0px;}
                .submit input[type="submit"]{color: #fff;background: transparent;border: 2px solid #fff;}

                .ldio-gs56nt525f > div div:nth-child(3) {
                    transform: translate(-50%,-50%) rotate(45deg);
                }

                .ldio-gs56nt525f > div div:nth-child(4) {
                    transform: translate(-50%,-50%) rotate(90deg)
                }

                .ldio-gs56nt525f > div div:nth-child(5) {
                    transform: translate(-50%,-50%) rotate(135deg)
                }

        .loadingio-spinner-gear-94vo528ab8 {
            width: 123px;
            height: 34px;
            overflow: hidden;
            background: rgba(0,0,0,.5);
            float: right;
            border: 3px solid #000;
            padding: 0px 43px
        }

        .ldio-gs56nt525f {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
        }

            .ldio-gs56nt525f div {
                box-sizing: content-box;
            }

            .ldio-gs56nt525f::before, .ldio-gs56nt525f::after {
                content: '';
                border-left: 4px solid #fff;
                position: absolute;
                width: 2px;
                height: 92%;
                display: block;
                left: -27px;
                top: 1px;
            }

            .ldio-gs56nt525f::after {
                left: auto;
                right: -27px;
            }
            .new-login-wl{position:relative;width: 100%;background-size:cover;
float: left;}
            .new-login-wl::before{content:'';background:rgba(0,0,0,.6);position:absolute;top: 0px;
left: 0px;
right: 0px;
bottom: 0px;}
            .login-right {background-color: rgba(0,0,0,.6);border-radius:30px;}
            .resp-tabs-container{background-color: transparent;}
        .resp-tab-item {
            color: #fff;width:33.33%;
        }
        .resp-tabs-list{border: 2px solid #fff;}
        .logo img {border: 0px;}
        .resp-tab-active{border-color:#fff;background: #fff;
color: #000;}
        .resp-tabs-list .resp-tab-active::before {
            background: #fff;
        }
        .login-right input[type="text"], .login-right input[type="password"],.login-right select{
            background:transparent;border-color: #fff;color:#fff;
        }
        .form-control::placeholder{color:#fff;}
        .login-text ul li label {
            color: #fff;
        }
    </style>

</head>
<body class="body new-login-wl" style="background:url(../../AdminDesign/images/wl-banner.jpg)no-repeat top center;">
    <!-- main -->
    <div class="main" style="width: 100%;float: left;position: relative;">
        <div class="login-form">

            <div class="login-right" style="height:auto;">
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;min-height: 432px;">
                        <div class="logo">
                            @*<img src="@Url.Content("~/"+logoimage)"  />*@
                            <img src="~/AdminDesign/images/login-wl-third.png"  style="max-height:100%; max-width:100%;" class="img-responsive" alt="" />
                        </div>
                        <ul class="resp-tabs-list" style="text-align:center;">
                            <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>Sign in</span></li><li class="resp-tab-item resp-tab-item2" aria-controls="tab_item-1" role="tab"><span>Sign up</span></li><li class="resp-tab-item resp-tab-item3" aria-controls="tab_item-2" role="tab"><span>Forget Password</span></li>
                        </ul>
                        <div class="resp-tabs-container">
                            <!--Login Form-->
                            @using (Html.BeginForm("NewLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "UpdateForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("latloc")
                                @Html.Hidden("longloc")
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="login-top">
                                        @Html.TextBoxFor(m => m.USERCHECK, new { @class = "form-control", @placeholder = "Enter USER ID", @required = "" })
                                        @Html.ValidationMessageFor(m => m.USERCHECK, "", new { @class = "text-danger ", @style = "color:red;" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control password", @placeholder = "Enter Password", @required = "", @Style = "margin-top:22px;" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger ", @style = "color:red;" })
                                        <div class="login-text">
                                            <br />
                                            <ul>
                                                <li><label>@Html.CheckBoxFor(m => m.RememberMe)&nbsp;Remember Me?</label></li>
                                                <li style="float:right;">
                                                    <div class="submit" style="float:none;">
                                                        <div class="loadingio-spinner-gear-94vo528ab8 first-login" style="display:none;">
                                                            <div class="ldio-gs56nt525f">
                                                                <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                                            </div>
                                                        </div>

                                                        <input id="btnnewlogin" type="submit" value="GO TO SIGN IN" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--Sign Up Form-->
                            @using (Html.BeginForm("insert_WhiteLabel", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmsignup" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="tab-1 resp-tab-content ghthtyhyt" aria-labelledby="tab_item-1">
                                    <div class="login-top sign-top">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control name", @placeholder = "Enter Name", @required = "" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger ", @style = "color:red;" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control email", @placeholder = "Enter Email-ID", @required = "" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger ", @style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control phone", maxlength = "10", @placeholder = "Enter Mobile No", @required = "" })
                                                @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger ", @style = "color:red;" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.Passwordnew, new { @class = "form-control", @placeholder = "Enter Password", @required = "" })
                                                @Html.ValidationMessageFor(m => m.Passwordnew, "", new { @class = "text-danger ", @style = "color:red;" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.Pin, new { @class = "form-control", @placeholder = "Enter Pin", @required = "" })
                                                @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger ", @style = "color:red;" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(m => m.referralcode, new { @class = "form-control", @placeholder = "Enter Referral Code" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                                @Html.DropDownListFor(model => model.state, (IEnumerable<SelectListItem>)ViewBag.Sate, "-- Select State--", new { @onchange = "FillDistict()", @style = "text-align:center; width:100%; height:38px;padding-left:0px;", @required = "" })
                                                @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger " })
                                            </div>
                                            <div class="col-md-6">

                                                @Html.DropDownListFor(model => model.distict, new SelectList("Value", "Text"), "-- Select District--", new { @style = "text-align:center; width:100%; height:38px; padding-left:0px;", @required = "" })
                                                @Html.ValidationMessageFor(m => m.distict, "", new { @class = "text-danger " })
                                            </div>
                                        </div>
                                        <div class="login-text">
                                            <br />
                                            <ul>
                                                <li><label>@Html.CheckBoxFor(m => m.RememberMe)&nbsp;Remember Me?</label></li>
                                                <li style="float:right;">
                                                    <div class="submit" style="float:none;">
                                                        <div class="loadingio-spinner-gear-94vo528ab8 second-login" style="display:none;">
                                                            <div class="ldio-gs56nt525f">
                                                                <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                                            </div>
                                                        </div>
                                                        <input id="btnsignup" type="submit" value="SIGN UP" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!--forgot password-->
                            <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">
                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ForgtFrm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="login-top sign-top">

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter User-ID", @required = "" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        <div class="login-bottom">
                                            <div class="submit">
                                                <div class="loadingio-spinner-gear-94vo528ab8 third-login" style="display:none;">
                                                    <div class="ldio-gs56nt525f">
                                                        <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                                    </div>
                                                </div>
                                                <input id="btnforget" type="submit" value="SUBMIT" />
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="copyright">
                    <p>© 2017 - @DateTime.Now.Year All Rights Reserved | @ViewBag.company </p>
                </div>
            </div>
        </div>
        @{
            <input type="button" value="sleep" id="btnsleep" data-toggle="modal" data-target="#sleep-modal" style="display:none;">
            <div class="modal fade" id="sleep-modal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="@Url.Content("~/Deskrop Sleep Mode.png")" id="mImage" />
                        </div>
                        <div>
                            <span style="font-size:15px; margin-left:15px;">Mail-id :-<b style="color:red;"> @mailid</b> </span>
                            <br />
                            <span style="font-size:15px; margin-left:15px;">Mobile No :-<b style="color:red;"> @mobile</b></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--//main -->
    <!--Login Popup -->
    <script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Swalalert/sweetalert-dev.js"></script>
    <link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyALrSTy6NpqdhIOUs3IQMfvjh71td2suzY&ver=3.exp"></script>








    <script type="text/javascript">
        navigator.geolocation.getCurrentPosition(
            function (position) { // success cb
            },
            function () { // fail cb
            }
        );
        //jQuery(document).ready(function ($) {
        //    $("#get-mylocation").click(function (e) {
        //        e.preventDefault();
        //        navigator.geolocation.getCurrentPosition(
        //            function (position) { // success cb
        //        //            },
        //            function () { // fail cb
        //            }
        //        );
        //    });
        //});
        $(function () {
            /* Chrome need SSL! */
            //var is_chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
            //var is_ssl = 'https:' == document.location.protocol;
            //if (is_chrome && !is_ssl) {
            //    return false;
            //}
            var allowSubmit = false;
            /* HTML5 Geolocation */
            navigator.geolocation.getCurrentPosition(
                function (position) { // success cb
                    /* Current Coordinate */
                    var lat = position.coords.latitude;
                    var lng = position.coords.longitude;
                    $('#latloc').val(lat);
                    $('#longloc').val(lng);
                    var google_map_pos = new google.maps.LatLng(lat, lng);
                    /* Use Geocoder to get address */
                    var google_maps_geocoder = new google.maps.Geocoder();
                    google_maps_geocoder.geocode(
                        { 'latLng': google_map_pos },
                        function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK && results[0]) {
                                alert(results[0].formatted_address)
                            }
                        }
                    );
                },
                function () { // fail cb
                }
            );
        });
    </script>

    <script>
        $("#UpdateForm").submit(function (e) {

            if ($("#UpdateForm").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#btnnewlogin').show();
                    $('.loadingio-spinner-gear-94vo528ab8.first-login').hide()
                } else {
                    $('#btnnewlogin').hide();
                    $('.loadingio-spinner-gear-94vo528ab8.first-login').show()

                }
            }
            else {
                e.preventDefault();
                return false;
            }

            //$('#btnnewlogin').hide();
            //$('.loadingio-spinner-gear-94vo528ab8.first-login').show()
        })
        $("#frmsignup").submit(function (e) {

            if ($("#frmsignup").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#btnsignup').show();
                    $('.loadingio-spinner-gear-94vo528ab8.second-login').hide()
                } else {
                    $('#btnsignup').show();
                    $('.loadingio-spinner-gear-94vo528ab8.second-login').hide()

                }
            }
            else {
                e.preventDefault();
                return false;
            }


            //  $('#btnsignup').hide();
            //  $('.loadingio-spinner-gear-94vo528ab8').show()

        })


        $("#ForgtFrm").submit(function (e) {

            //  $('#btnsignup').hide();
            //  $('.loadingio-spinner-gear-94vo528ab8').show()

            if ($("#ForgtFrm").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#btnforget').show();
                    $('.loadingio-spinner-gear-94vo528ab8.third-login').hide()
                } else {
                    $('#btnforget').hide();
                    $('.loadingio-spinner-gear-94vo528ab8.third-login').show()

                }
            }
            else {
                e.preventDefault();
                return false;
            }



        })
    </script>
    <script>
        document.onreadystatechange = function () {

            if (document.readyState !== "complete") {
                document.querySelector(
                    "#btnnewlogin").style.visibility = "visible";
                document.querySelector(
                    ".loadingio-spinner-gear-94vo528ab8.first-login").style.display = "none";
                $('#btnforget').show();
                $('.loadingio-spinner-gear-94vo528ab8.third-login').hide()
            } else {
                document.querySelector(
                    "#btnnewlogin").style.display = "block";
                document.querySelector(
                    ".loadingio-spinner-gear-94vo528ab8.first-login").style.display = "none";


            }
        };
    </script>
</body>
</html>

<script>
    window.onload = function () {
        var forgotmsg = '@ViewBag.msgchhhk'
        if (forgotmsg != "") {
                swal("Message ", forgotmsg, "success");
        }
        var message = '@ViewData["aaaa"]'
        if (message != "") {
            if (message == "Failure") {
                swal("Oops...", "User ID Or Password Wrong.", "error");
            }
        }
        var slaberror = '@ViewData["slaberror"]';
        if (slaberror != null && slaberror != "") {
            swal("Oops!", slaberror, "error");
        }
        var success = '@ViewData["success"]'
        if (success != "") {
            var vv = success.replace(".", "\n");
            swal("You got registered !!", vv, "success");
           }
        var error = '@ViewData["error"]'
        if (error !="" && error !=null)
        {
            swal("Oops..", error, "error");
        }
        var existuser = '@ViewData["existuser"]'
        if (existuser != "" && existuser != null) {
            swal("Oops..", existuser, "error");
        }
        var ch2 = '@ViewData["bbbb"]';
        if (ch2 != "" && ch2 != null) {
            if (ch2 == "Confrimed") {
                swal("Oops...", "Your E-mail verification is pending.\n Please confirm firstly.", "error");
            }
        }
        var block = '@ViewData["msg1"]';
        if (block == "websiteblock") {
            $('#btnsleep').click();
            $("#sleep-modal").modal('show');
        }
    }
</script>
<script>
    function FillDistict() {
        var State_id = $('#state').val();
        var dist = $('#distict').val();
        if (dist == "") {
            $("#divdistributor").css("display", "none");
            document.getElementById('loginformimage').style.height = "396px";
        }
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",
        data: { State: State_id },
        success: function (data) {
            var markup = "<option value=''> -- Select District --</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                //alert(markup)
            }
            $("#distict").html(markup).show();
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });
  }
</script>
<!--fill dealer according to district id-->
<script>
    function FillDealer() {
        var district_id = $('#distict').val();
        $.ajax({
             url: '@Url.Action("whitelabelFillDealerList", "Home")',
            type: "GET",
            dataType: "JSON",
            data: { District: district_id },
            success: function (show) {
                $("#Distributorid").html("");
                var procemessage = "<option value=''>Select your Nearest & Known Distributor Point</option>";
                $("#Distributorid").html(procemessage).show();
                $("#divdistributor").css("display", "block");
                document.getElementById('loginformimage').style.height = "434px";
                for (var x = 0; x < show.length; x++) {
                    $("#Distributorid").append($('<option></option>').val(show[x].Value).html(show[x].Text));
                }
                },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>
