@model Vastwebmulti.Areas.RETAILER.ViewModels.AirSearchResultVM
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar sidebar-searchfilter searchfiltermarginnone searchfiltermarginnone-reds" style="width:20%;">
        <!-- Menu -->
        <div class="menu" style="">
            <div style="position: relative;height: 75vh;">

                


                <div style="width: 100%;float: left;border: 1px solid #e7e7e7;background:#f5f5f5;margin-bottom:7px;">
                    @*<div class="select-flightimgshow">

                        <img src="~/ashok-images/passport.svg" />
                    </div>*@

                    @if (Request.Params["JourneyType"] == "1")
                    {
                        <div class="col-md-12 clender-fair body-border-bottom">
                            <div class="col-md-3 button-pre">
                                <button onclick="pre()" class="nextfontsizes">
                                    Last <div class="nextloader" style="display:none">
                                        <div class="loader1 loader--style2" title="1">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                            <rect x="0" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0s" dur="0.6s" repeatCount="indefinite" />















    </rect>
                                            <rect x="7" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0.2s" dur="0.6s" repeatCount="indefinite" />















    </rect>
                                            <rect x="14" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0.4s" dur="0.6s" repeatCount="indefinite" />















    </rect>
  </svg>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-3 monthshow" style="padding: 0; width: 49%; text-align: center;">
                                <input id="currentmonth" type="text" value="@Convert.ToDateTime(Request.Params["txt_frm_date"]).AddDays(1).ToString("MMMM yyyy")" readonly style="border:none; background:none;" />
                            </div>
                            <div class="col-md-3 button-next" style="float:right;">
                                <button onclick="next()" class="nextfontsize">
                                    Next<div class="nextloaders" style="display:none">
                                        <div class="loader1 loader--style2" title="1">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                            <rect x="0" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0s" dur="0.6s" repeatCount="indefinite" />















    </rect>
                                            <rect x="7" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0.2s" dur="0.6s" repeatCount="indefinite" />















    </rect>
                                            <rect x="14" y="0" width="4" height="20" fill="#ff0048">
                                            <animate attributeName="opacity" attributeType="XML"
                                                     values="1; .2; 1"
                                                     begin="0.4s" dur="0.6s" repeatCount="indefinite" />















    </rect>
  </svg>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div id="calenderref">
                        @*    @Html.Action("_CalanderFare", new { txtSource = Model.Content.Addinfo.Origin, txtDestination = Model.Content.Addinfo.Destination, txt_frm_date = Request.Params["txt_frm_date"] })*@
                        </div>
                    }
                </div>
                <div class="border-full" style="margin-bottom: 0;border-bottom: 0;">
                    <div class="filterHeader filterHeader-first">
                        <span><strong>Price Range</strong></span>
                    </div>
                    <div class="price-filter">
                        <div class="range-slider">
                            <input type="text" class="js-range-slider" name="my_range" value="" />
                        </div>
                    </div>
                </div>

                <br />
                <div class="border-full" style="padding-bottom:8px;margin-bottom: 0;border-bottom: 0;">
                    <div class="filterHeader filterHeader-second">
                        <span><strong>Stops</strong></span>
                    </div>
                    <div class="demo-checkbox radiobuttonchange11">
                        <input type="checkbox" id="stop_checkbox_1" value="1" class="filled-in chk-col-blue StopsFilter">
                        <label for="stop_checkbox_1" class="label0"><span>0</span></label>
                        <input type="checkbox" id="stop_checkbox_2" value="2" class="filled-in chk-col-blue StopsFilter">
                        <label for="stop_checkbox_2" class="label1"><span>1</span></label>
                        <input type="checkbox" id="stop_checkbox_3" value="3" class="filled-in chk-col-blue StopsFilter">
                        <label for="stop_checkbox_3" class="label2"><span>2</span></label>
                    </div>
                </div>
                <div class="border-full" style="margin-bottom:0;">
                    <div class="filterHeader filterHeader-three">
                        <span><strong>Airlines</strong></span>
                    </div>
                    <div class="demo-checkbox filter-checkbox">
                        <input type="checkbox" id="md_checkbox_ALL_Opt" value="ALL" class="filled-in chk-col-blue busOptNameFilter" checked="">
                        <label for="md_checkbox_ALL_Opt">ALL Airlines</label>
                        @foreach (var item in Model.Content.Addinfo.Results.First().GroupBy(a => a.Segments.First().First().Airline.AirlineName).ToList())
                        {
                            @*<span>@item.First().Segments.First().First().Airline.AirlineName</span>*@
                            <input type="checkbox" id="md_checkbox_@item.First().ResultIndex" value="@item.First().Segments.First().First().Airline.AirlineName" class="filled-in chk-col-blue busOptNameFilter" checked="">
                            <label for="md_checkbox_@item.First().ResultIndex">@item.First().Segments.First().First().Airline.AirlineName</label>
                        }
                    </div>
                </div>

            </div>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        @*<div class="legal">
            <div class="copyright">
                &copy; 2018 - 2019 <a href="javascript:void(0);">@ViewBag.FirmName</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0
            </div>
        </div>*@
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>

<script>
    $(".js-range-slider").ionRangeSlider({
        skin: "round",
        type: "single",
        min: 1000,
        max: 50000,
        from: 40000,
        step: 100,
        grid: true,
        onFinish: function (data) {
            // Called then action is done and mouse is released
            //alert(data.from);
            var min = data.min;
            var max = data.from;
            var list = document.getElementsByClassName("air-col-lg-12");
            var i = 0;
            for (var item of list) {

                var dataPriceVal = list[i].getAttribute('data-air-price');
                if (dataPriceVal >= min && dataPriceVal <= max) {
                    $("div").find("[data-air-price='" + dataPriceVal + "']").show();
                } else {
                    $("div").find("[data-air-price='" + dataPriceVal + "']").hide();
                }
                i++;
            }
        },
    });
</script>
<script>
        $(".clender-fair").prev('.select-flightimgshow').css('display', 'none');
</script>