@model List<Vastwebmulti.Models.proc_FlightCancellationReport_Result>
@using Newtonsoft.Json;
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        #region CssSettings
        var color = "";
        var fontweight = "";
        var text = "";
        var emailid = "";
        var Retailername = "";
        var framname = "";
        var mobile = "";
        var rolename = "";
        var icon = "";
        var rchtype = "";
        var rchtypeicon = "";
        var sts = "";
        var refundcolor = "";
        var dmtytpe = "";
        var img = "";
        var style = "";
        var pendingColor = "";

        sts = ((Vastwebmulti.Areas.RETAILER.Enums.ChangeRequestStatus)Convert.ToInt32(item.ChangeRequestStatus)).ToString();

        if (item.ChangeRequestStatus == 5)
        {
            color = "red";
            fontweight = "700";
            img = "../../ashok-images/closes.svg";
            style = "height:20px;width:20px;margin-right:3px;float:left;";
            style = "font-size:0px !important;";
        }
        if (item.ChangeRequestStatus == 4)
        {
            color = "green";
            fontweight = "700";
            img = "../../ashok-images/correct.svg";
            style = "font-size:0px !important;float:left;margin-right: 5px;margin-left: 5px;";
        }
        if (item.ChangeRequestStatus <= 3)
        {
            color = "#ff9600";
            fontweight = "700";
            img = "../../ashok-images/clkk.png";
            style = "height:20px;width:20px;margin-right:3px;float:left;background-color:none;font-size:0px !important;";
            pendingColor = "#fff8d1";
        }
        if (item.ChangeRequestStatus == 6 || item.ChangeRequestStatus == 8)
        {
            color = "#9C27B0";
            fontweight = "700";
        }
        if (item.ChangeRequestStatus == 7)
        {
            color = "#2196F3";
            fontweight = "700";
        }
        #endregion
        <tr style="font-weight:700;background-color:@pendingColor;">
            <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;"><img style="@style background-color:@color;" src=@img />@sts</span>&nbsp;</p></td>
            <td>
                <p style="font-size:13px;">&nbsp;@item.RequestType&nbsp;</p>
            </td>
            <td>
                <p style="font-size:13px;">@item.CancellationType</p>
            </td>
            <td style="font-size:13px;">@item.ChangeRequestId</td>
            <td><p style="font-size:11px;margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationRequestDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
            <td><p style="font-size:11px;margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationResponseDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>

            <td style="font-size:13px;">@item.RefundedAmount</td>
            <td style="font-size:13px;">@item.CancellationCharge</td>
            <td>
                <center>
                    <div class="col-xs-3" style="margin-bottom:0px;">
                        @Ajax.ActionLink("STATUS", "CancellationStatus", "Air", new { ChangeReqId = item.ChangeRequestId, idno = item.idno }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "loadermoney" }, new { @class = "btn btn-primary" })
                    </div>
                </center>
            </td>
        </tr>
    }
}

else
{
    <tr>
        <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

    </tr>

}