
@model List<Vastwebmulti.Models.proc_FlightCancellationReport_Result>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Flight Cancellation";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

        .h_menu-set .page-header-third {
            margin-left: 0;
            margin-right: 0;
        }

    .air-cancellation .container-fluid {
        padding-left: 10px;
    }


    /* new css  */

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 90px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .ress :hover {
        color: #ff9600;
    }

    .view :hover {
        color: #3F51B5;
    }

    @@media only screen and (max-width:1169px){

        .air-cancellation .container-fluid {
            padding-left: 15px;
        }

    }


    @@media only screen and (max-width:991px) {

        .flight-secondcss .col-md-2 {
            float: left;
        }
    }



   @@media screen and (max-width:767px){
    .flight-secondcss .col-md-2 {
        margin-right: 0px;
    }
    .flighcancel-second .flightdate-show.finacial-selectsss {
        padding-left: 0px !important;
    }
    .flighcancel-second #sts.col-md-2.flightcancelclass {
        padding-left: 0 !important;width: 50% !important;float: left;
    }
    .flighcancel-second .flightcancelclass button.btn.dropdown-toggle.btn-default {background-size: 10px !important;}
    .flighcancel-second .col-md-2.pnrclass {width: 50% !important;float: left !important;}
    .flighcancel-second .flightdate-show.finacial-selectsss {
        width: 100% !important;margin-top: 5px;margin-bottom: 5px;
    }
    .flighcancel-second .flightdate-search button span {
        text-align: center !important;position: static !important;float: none;
    }
    .flighcancel-second .flightdate-search button i{display:none;}
    .col-md-2.flightdate-search {
        padding-left: 0px !important;
    }
   }
   @@media screen and (max-width:766px){
    .flighcancel-second .row.clearfix.flight-changecss {
        position: static !important;
        width: 100% !important;
        float: left;
        margin-top: 10px;
    }
    .flighcancel-second .row.clearfix.flight-changecss .card{margin-bottom:0px !important;}
    .flighcancel-second .newtabsreport.newtabsreportBusreport {
        width: 100% !important;
        float: left;
    }
    
    .air-cancellation {position: relative;}
        .air-cancellation .row.clearfix.flight-secondcss {
            margin: 0px;width: 100%;float: left;position: static !important;
        }
        .air-cancellation .flightdate-search {width: auto !important;float: left;}
    .col-md-3.buttonPdf {display: block;}
        .col-md-3.buttonPdf button:nth-child(2) {margin: 0px 3px;}

   }

   @@media screen and (max-width:480px){

    .h_menu-set {
        display: block;
    }
    #tabsrepor-navs li {
        margin-right: 0px !important;
        padding-right: 2px;
        width: 33.333%;
        float: left;
    }
    #ul li {
        margin-left: 0px !important;
        padding-right: 2px;
        width: 50%;
    }

    #tabsrepor-navs li a{
        width: 100%;
        float: left;
    }

    .flighcancel-second #sts.col-md-2.flightcancelclass {
        width: 100% !important;
    }
    .flighcancel-second .col-md-2.pnrclass {
        width: 100% !important;
    }

    .flight-secondcss .pnrclass {
        padding-left: 0px !important;
        padding-top: 6px;
    }

   }


</style>

<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content content-margin-second flighcancel-second air-cancellation" style="">
    <div class="container-fluid">
        <div class="newtabsreport newtabsreportBusreport">
            <div class="container container-tabsrepor cancelreport-retailer" id="flightaddclass">

                <div class="h_menu-set">
                    <div class="page-header-third">
                        @Html.Partial("~/Areas/RETAILER/Views/Home/_Travelsview.cshtml")
                    </div>

                    <div class="page-header-third">
                        <div class="clearfix flight-changecss">
                            <div class="changepadding changepadding-cancel" style="">
                                <div class="card">
                                    <div class="col-md-12 flight-changecsscolmd" id="addnewclass">
                                        <div class="flightmenu-rtailer" style="">
                                            @Html.Partial("_FlightMenu")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-content tabsrepor-content" id="flightreportcss">
            
            <div class="row clearfix flight-secondcss" style="margin:0;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="card">
                        @using (Html.BeginForm("CancellationReport", "Air", FormMethod.Post))
                        {
                        <div class="page-header-third">



                            <div class="col-md-2 flightcancelclass" id="sts" style="width:12%;">
                                <div class="" style="margin-top:6px;margin-left:-13px;width:108%;padding-bottom:10px;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="Success",Value="SUCCESS"},
                        new SelectListItem{Text="Pending",Value="PENDING"},
                        new SelectListItem{Text="Failed",Value="FAILED"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>


                            <div class="col-md-2 pnrclass" style="width:12%;">
                                <div class="input-group" style="border:1px solid #bfbebe;margin-top:6px;width:100%;">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search" style="margin-left:3px;color:#9999b3;padding-top:3px;"></i>
                                    </span>
                                    <div class="">
                                        @Html.TextBox("PNR", "", new { @class = "form-control", @placeholder = "PNR", @style = "height:30px;margin-left:-8px;padding:0px; background:none;font-size:12px;padding-top:4px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 flightdate-show finacial-selectsss" style="padding-left:3px;">
                                <div class="form-group" style="margin-bottom:0px;width:100%;margin-top:2px;">
                                    <div class="input-daterange input-group">
                                        <div class="datesate datesates">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                        </div>
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                        </span>
                                        <div class="datesate datesatese">
                                            <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 flightdate-search">


                                <div class="col-md-6">
                                    <center>
                                        <button type="submit" value="Old" name="submit" class="btn retailer-search-second" style="margin-left:-9px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>

                            </div>

                            <div class="col-md-3 buttonPdf retailer-pdf-second" style="width: 30%;float: right;text-align: right;">

                                <button id="btnPDF">PDF</button>
                                <button id="btnExport">Export</button>
                                <button>Total</button>
                            </div>


                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                <div class="card">
                    @*<div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">FLIGHT&nbsp;CANCELLATIONS&nbsp;REPORT&nbsp;></li>
                        </ol> 
                    </div>*@
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                            <div class="page-header-third">
                                <div class="table-responsive flightcancel-responsive" style="position:inherit;">
                                    <table id="example" class="table table-bordered table-striped table-hover" cellspacing="0" style="width:100%;font-size:12px;">
                                        <thead style="color:black;position:inherit;background-color:whitesmoke;">
                                            <tr>
                                                <th>Live&nbsp;Status</th>
                                                <th>Request&nbsp;Type</th>
                                                <th>Cancel&nbsp;Type</th>
                                                <th>Cancellation&nbsp;Id</th>
                                                <th>Request&nbsp;Date</th>
                                                <th>Response&nbsp;Date</th>
                                                <th>Refunded&nbsp;Amount</th>
                                                <th>Charge</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="trow">
                                            @{
                                                Html.RenderAction("_CancellationReport", "Air", new { Model = Model });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
@*<script src="http://localhost/HotelDemo/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();
    var PNR = $('#PNR').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_cancelticket","Home")",
                    { "pageindex": pageindex, "PNR": PNR,"ddl_status":ddl_status, "frm_date": txt_frm_date, "to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    function OnSuccess(data) {
        //alert("s");
        var respo = JSON.parse(data);
        if (respo.Status == "Success") {
            swal("Wow!", respo.Message, "success");
            setTimeout(function () {
                location.reload();
            }, 3000);
        } else {
            swal("Oops!", respo.Message, "error");
        }
    }
    function OnFailure() {
        swal("Oops!", "Unable to fatch data", "error");
    }
</script>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>


<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');

            }
        })
    });
</script>


<script>
    $(function() {
  var loc = window.location.href; // returns the full URL
  if('/RETAILER/Air/CancellationReport') {
    $('#flightaddclass ul li:first-child a, .list.report-list-change li#rewertyd a').addClass('active');
  }
});
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var PNR = $('#PNR').val();
        var bookingid = $('#bookingid').val();
        var cancelreqid = $('#cancelreqid').val();
        var tracid = $('#tracid').val();
        var url = '@Url.Action("Excel_Cancellation_Report", "Air")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&PNR=' + PNR + '&bookingid=' + bookingid + '&cancelreqid=' + cancelreqid + '&tracid=' + tracid;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var PNR = $('#PNR').val();
        var bookingid = $('#bookingid').val();
        var cancelreqid = $('#cancelreqid').val();
        var tracid = $('#tracid').val();
        var url = '@Url.Action("PDF_CancellationReport", "Air")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&PNR=' + PNR + '&bookingid=' + bookingid + '&cancelreqid=' + cancelreqid + '&tracid=' + tracid;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>

