@model List<Vastwebmulti.Models.proc_FlightCancellationReport_Result>
@{
    ViewBag.Title = "PDF_CancellationReport";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TicketReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table id="example" class="table table-bordered table-striped table-hover" cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="color:black;position:inherit;background-color:whitesmoke;">
            <tr>
                <th>Live&nbsp;Status</th>
                <th>Request&nbsp;Type</th>
                <th>Cancel&nbsp;Type</th>
                <th>Cancellation&nbsp;Id</th>
                <th>Request&nbsp;Date</th>
                <th>Response&nbsp;Date</th>
                <th>Refunded&nbsp;Amount</th>
                <th>Charge</th>
            </tr>
        </thead>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                #region CssSettings
                var color = "";
                var fontweight = "";
                var text = "";
                var emailid = "";
                var Retailername = "";
                var framname = "";
                var mobile = "";
                var rolename = "";
                var icon = "";
                var rchtype = "";
                var rchtypeicon = "";
                var sts = "";
                var refundcolor = "";
                var dmtytpe = "";
                var img = "";
                var style = "";
                var pendingColor = "";

                
                #endregion
    <tr>
        <td>@item.ChangeRequestStatus</td>
        <td>@item.RequestType</td>
        <td> @item.CancellationType</td>
        <td style="font-size:13px;">@item.ChangeRequestId</td>
        <td>@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationRequestDate)</td>
        <td>@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationResponseDate)</td>

        <td>@item.RefundedAmount</td>
        <td>@item.CancellationCharge</td>
    </tr>
            }
        }

        else
        {
            <tr>
                <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

            </tr>

        }
        </table>
    </body>
</html>
