@model Vastwebmulti.Areas.RETAILER.ViewModels.GetFlightDetailsVM
@{
    Layout = null;
    var admin = ViewBag.AdminDetailes;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E-Ticket</title>
    <style>
        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            float: left;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
            margin-top: 11px;
        }
    </style>

    @*<link href="~/CSS/PageCss/Eticket.css" rel="stylesheet" />*@
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    @*<script language="JavaScript" src="~/Scripts/PageScript/Retailer/FlightResport/prototype.js"></script>
        <script language="JavaScript" src="~/Scripts/PageScript/Retailer/FlightResport/ash.js"></script>*@

    <script language="JavaScript" type="text/javascript">
        function ClosePop() {
            window.close();
        }
    </script>

    <script language="JavaScript" type="text/javascript">
<!--

/* The actual print function */

var flightId;
var flightIdOther;
// -->
    </script>

</head>
<body>

    <div class="container">
        <br />
        <table style="margin-top:20px; width:100%;" border="1">
            <tbody>
                <tr>
                    <td style="padding:0 15px 0 15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <CENTER>
                                            <img src="@Url.Content("~/" +ViewBag.logoimage)" class="img-responsive" data-holder-rendered="true" />
                                        </CENTER>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding:0 15px 0 15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>@ViewBag.Admin.Address</p>
                                        <p>@ViewBag.Admin.mobile</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding:0 15px 0 15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-size:24px;font-weight:700;">E&nbsp;-&nbsp;Ticket</p>
                                        <p style="margin-top:-10px;">PNR :&nbsp;<span style="font-weight:600;">@Model.Content.ADDINFO.FlightItinerary.Pnr</span> </p>
                                        <p style="margin-top:-10px;">Issued Date :&nbsp;<span style="font-weight:600;">@Model.Content.ADDINFO.FlightItinerary.InvoiceCreatedOn.ToString("ddd, dd MMMM yyyy")</span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding:0 15px 0 15px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>@ViewBag.CreatorAddresss</p>
                                        <p style="margin-top:-10px;">@ViewBag.CreatorState, @ViewBag.CreatorDistrict @ViewBag.CreatorPIN</p>
                                        <p style="margin-top:-10px;"> Phone :&nbsp;<span style="font-weight:600;">@ViewBag.CreatorMobile</span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


        <table style="width:100%;">
            <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <th style="padding:0 15px 0 15px;"><p>Passenger Detail</p></th>
                                </tr>
                                <tr>
                                    <td style="padding:0 15px 0 15px;">
                                        Name :
                                        @foreach (var pax in Model.Content.ADDINFO.FlightItinerary.Passenger)
                                        {
                                            <p>
                                                @pax.FirstName @pax.LastName
                                            </p>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table style="float:right;">
                            <tbody>
                                <tr>
                                    <th style="padding:0 15px 0 15px;">
                                        <p style="float:right;font-weight:700;">Ticket Number</p>
                                    </th>
                                </tr>
                                <tr>
                                    <td style="padding:0 15px 0 15px;float:right;">
                                        <p style="margin-left:26%;"> @Model.Content.ADDINFO.FlightItinerary.Passenger[0].Ticket.TicketNumber  </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        @foreach (var flight in Model.Content.ADDINFO.FlightItinerary.Segments)
        {
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">
                                            <p style="font-size:14px;font-weight:700;">@flight.Origin.DepTime.ToString("ddd, dd MMMM yyyy") &nbsp;<span>@flight.Airline.AirlineName @flight.Airline.AirlineCode @flight.Airline.FlightNumber</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">

                                            <p style="font-size:14px;font-weight:normal;">
                                                From: <span style="font-weight:700;">
                                                    @flight.Origin.Airport.AirportCode
                                                    (@flight.Origin.Airport.AirportName, @flight.Origin.Airport.CityName)
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">
                                            <p style="font-size:14px;font-weight:normal;">
                                                To: <span style="font-weight:700;">
                                                    @flight.Destination.Airport.AirportCode

                                                    (@flight.Destination.Airport.AirportName, @flight.Destination.Airport.CityName)
                                                </span>
                                            </p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table style="float:right;">
                                <tbody>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">
                                            <p style="float:right;font-weight:700;"> Status : <span style="font-weight:normal;">@flight.FlightStatus</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">
                                            <p style="float:right;font-weight:700;"> Dep: <span style="font-weight:normal;">@flight.Origin.DepTime.ToString("HH:mm tt")</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 15px 0 15px;">
                                            <p style="float:right;font-weight:700;"> Arr: <span style="font-weight:normal;">@flight.Destination.ArrTime.ToString("HH:mm tt")</span></p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12" style="border-bottom:1px solid #dddddd;border-top:1px solid #dddddd;">
                            <div class="table-responsive">
                                <table class="table table" border="0" cellspacing="0" cellpadding="0" style="padding:5px; margin-top:21px; overflow:hidden;margin-right:242px;">
                                    <tbody>
                                        <tr>
                                            <td style="border:none;">
                                                <span>
                                                    @flight.Airline.FareClass Class
                                                </span>
                                            </td>
                                            <td style="border:none;">

                                                <span>
                                                    @TimeSpan.FromHours(flight.Duration).ToString("hh':'mm") Hours Flight
                                                </span>

                                            </td>
                                            <td style="border:none;">
                                                <span>
                                                    @string.Format("{0}", flight.StopOver ? "Indirect" : "Non stop")
                                                </span>
                                            </td>
                                            <td style="border:none;">
                                                <span>
                                                    Total Baggage (per passenger): @ViewBag.BaggagePerPax
                                                </span>
                                            </td>
                                            <td style="border:none;">
                                                <span>Aircraft: @flight.Craft</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <p style="text-align:justify;">Carriage and other services provided by the carrier are subject to conditions of carriage which hereby incorporated by reference. These conditions may be obtained from the issuing carrier. If the passenger's journey involves an ultimate destination or stop in a country other than country of departure the Warsaw convention may be applicable and the convention governs and in most cases limits the liability of carriers for death or personal injury and in respect of loss of or damage to baggage.</p>
                            <br />
                            <p style="color:red;font-weight:700;">Don't forget to purchase travel insurance for your visit. Please Contact your travel agent to purchase travel insurance.</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
