
@model List<Vastwebmulti.Models.proc_FlightReport_Result>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Flight Cancellation";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }
    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
        .h_menu-set .page-header-third {
            margin-left: 0;
            margin-right: 0;
        }

    /* new css  */
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 95px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .ress :hover {
        color: #ff9600;
    }

    .view :hover {
        color: #3F51B5;
    }

    @@media only screen and (max-width:1169px){

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }
        .aepsfullpage .container.container-tabsrepor {
            padding-left: 15px !important;
        }
        

    }
    @@media only screen and (max-width:990px){
        .aepsfullpage .container.container-tabsrepor {
            padding-right: 15px !important;
        }
        .col-md-3.buttonPdf.retailer-pdf-second {
            margin-top: 5px;
        }

    }

    @@media only screen and (max-width:767px){
        .flight-secondcss #sts.col-md-2, .flight-secondcss .pnrclass {
            width: 50% !important;
        }
        .flight-secondcss .col-md-2 {
            padding: 0;
            margin-right: 0;
            margin-bottom: 4px;
        }
        .flight-secondcss .btn-group button {
            background-size: 12px;
        }
        .flight-secondcss .col-md-3.buttonPdf button{
            margin-left:4px;
        }
        .col-md-3.buttonPdf.retailer-pdf-second {
            margin-top: 0px;
        }
        .flight-changecss ul li a::after, .flight-changecss ul.change-icon li a::after, .flight-changecss ul.change-icon-second li a::after {
            
            top: 0px;
        }
    }

    @@media only screen and (max-width:480px){

        .flight-secondcss #sts.col-md-2, .flight-secondcss .pnrclass {
            width: 100% !important;
        }
        .flight-secondcss .col-md-2 {
            margin-bottom: 6px;
        }
        .flight-secondcss .pnrclass {
            padding-left: 0px !important;
        }
        .hfhfhbcdfgf .col-md-2.flightdate-show.finacial-selectsss {
            width: 100%;
            float: left;
        }
        .all-chan-aepsfullpage .form-iconmy {
            display: block;
        }
        .newclassadd-dmtresponshive .flight-secondcss .col-md-2.flightdate-search {
            width: 100px !important;
        }

        .col-md-2.flightdate-search {
            padding-left: 0px !important;
        }
        .h_menu-set {
            display: block;
        }
        #tabsrepor-navs li {
            margin-right: 0px !important;
            padding-right: 2px;
            width: 33.333%;
            float: left;
        }
            #tabsrepor-navs li a {
                width: 100%;
            }
            .newtabsreport.newtabsreport-ticketreport #tabsrepor-navs {
                width: 100%;
            }
        #ul li {
            margin-left: 0px !important;
            padding-right: 2px;
            width: 50%;
        }
        .layoutt-retailer section.content {
            margin-top: 90px;
        }

    }

</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content aepsfullpage all-chan-aepsfullpage hfhfhbcdfgf content-margin-second" id="eestatusshow-dmt" style="">
    <!--newtabsreport-->
    <div class="newtabsreport newtabsreport-ticketreport">
        <div class="container container-tabsrepor newclassadd-dmtresponshive">

            <div class="h_menu-set">
                <div class="page-header-third">
                    @Html.Partial("~/Areas/RETAILER/Views/Home/_Travelsview.cshtml")
                </div>
                <div class="page-header-third">
                    <div class="flight-changecss">
                        <div class="card">
                            <div class=" flight-changecsscolmd">

                                @Html.Partial("_FlightMenu")

                            </div>

                            @*<div class="col-md-5">
                    <button type="button" class="btn btn-success waves-effect" style="margin-top:6px;" title="Total  Success">Success &nbsp;@ViewData["Totalofferfare"]</button>
                    <button type="button" class="btn btn-danger waves-effect" style="margin-top:6px;" title="Total  Failed">Total&nbsp;Failed&nbsp;@ViewData["Totalf"]</button>
                    <button type="button" class="btn btn-warning waves-effect" style="margin-top:6px;" title="Total  Pending">Total Pending&nbsp;@ViewData["Totalp"]</button>

                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content tabsrepor-content content-responshivesate" id="flightreportcss">

                <div id="home" class="tab-pane fade in active">
                    <div class="container-fluid" style="padding:0;">
                        
                        <div class="row clearfix flight-secondcss" style="margin:0;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                <div class="card">
                                    @using (Html.BeginForm("TicketReport", "Air", FormMethod.Post))
                                    {
                                        <div class="page-header-third">
                                            <div class="col-md-2" id="sts" style="width:12%;">
                                                <div class="" style="margin-top:6px;margin-left:-13px;width:108%;padding-bottom:10px;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                {
                                        new SelectListItem{ Text="Status",Value="",},
                                        new SelectListItem{Text="Success",Value="SUCCESS"},
                                        new SelectListItem{Text="Pending",Value="PENDING"},
                                        new SelectListItem{Text="Failed",Value="FAILED"}
                                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                                </div>
                                            </div>


                                            <div class="col-md-2 pnrclass" style="width:12%;">
                                                <div class="input-group" style="border:1px solid #bfbebe;margin-top:6px;margin-left:-17px;width:108%;">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-search" style="margin-left:3px;color:#9999b3;padding-top:3px;"></i>
                                                    </span>
                                                    <div class="">
                                                        @Html.TextBox("PNR", "", new { @class = "form-control", @placeholder = "PNR", @style = "height:30px;margin-left:-8px;padding:0px; background:none;font-size:12px;padding-top:4px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 flightdate-show finacial-selectsss">
                                                <div class="form-group" style="margin-bottom:0px;margin-left:-10px;width:100%;margin-top:2px;">
                                                    <div class="input-daterange input-group">
                                                        <div class="datesate datesates">
                                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                        </div>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                        </span>
                                                        <div class="datesate datesatese">
                                                            <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-2 flightdate-search">


                                                <div class="col-md-6">
                                                    <center>
                                                        <button type="submit" value="Old" name="submit" class="btn retailer-search-second" style="margin-left:-9px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                            <span style="top:-2px;color:black;">Search</span>
                                                        </button>
                                                    </center>
                                                </div>

                                            </div>
                                            <div class="col-md-3 buttonPdf retailer-pdf-second" style="width: 30%;float: right;text-align: right;">

                                                <button id="btnPDF">PDF</button>
                                                <button id="btnExport">Export</button>
                                                <button>Total</button>
                                            </div>

                                            <div class="col-md-2 current-status">
                                                <span id="msgspan" style="color:green"></span>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix statusshow-dmt statusshowdmt-respomshive" id="statusshow-dmtss" style="float: left;position: relative;width:100%;margin:0;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statusshow-dmtpage" style="padding:0;">
                                <div class="card">
                                    @*<div class="page-header-third">
                                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:0px;margin-top:0px;margin:0;">
                                            <li class="active" style="color:#9E9E9E; font-size:12px;">FLIGHT&nbsp;REPORT&nbsp;></li>
                                        </ol>
                                    </div>*@
                                    <div class="row clearfix" style="margin:0;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                            <div class="page-header-third">
                                                <div class="table-responsive flight-responsive tablethirddesign-newnew" style="position:inherit;">
                                                    <table id="example" class="table table-bordered table-striped table-hover third-design-table" cellspacing="0" style="width:100%;font-size:12px;">
                                                        <thead class="" style="color:black;position:inherit;background-color:whitesmoke;">
                                                            <tr>
                                                                <th style="">#&nbsp;/&nbsp;Booking&nbsp;Id</th>
                                                                <th style="width:110px;">Ticket&nbsp;Status</th>
                                                                <th>Passanger&nbsp;Name</th>
                                                                <th>Flight</th>
                                                                <th style="display:none;">Booking&nbsp;Id</th>
                                                                <th>PNR&nbsp;₹</th>
                                                                @*<th>Source</th>
        <th>Destination</th>*@
                                                                <th>Booking&nbsp;Date</th>
                                                                <th>Fare&nbsp;Amount</th>
                                                                <th>Pre&nbsp;₹</th>
                                                                <th>Post&nbsp;₹</th>
                                                                <th>U&nbsp;Fee</th>
                                                                <th>Income</th>
                                                                <th>#</th>
                                                                <th>#</th>
                                                                <th>#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="trow">
                                                            @{
                                                                Html.RenderAction("_ticketreport", "Air", new { Model = Model });
                                                            }
                                                        </tbody>
                                                    </table>

                                                    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                                        <div class="loadertablecssnew">Loading...</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>


</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/HotelDemo/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();
    var PNR = $('#PNR').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_ticket","Home")",
                    { "pageindex": pageindex, "PNR": PNR,"ddl_status":ddl_status, "frm_date": txt_frm_date, "to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    function OnSuccess(data) {

        var respo = JSON.parse(data);
        if (respo.Status == "Success") {
            location.reload();
        }
    }
    function OnFailure() {
        alert("f");
    }
</script>

<script>
    $(function () {



            var sts = '@TempData["Status"]';
            var msg = '@TempData["Message"]';
            // alert(sts);
            // alert(msg);
            if (sts != null && sts != '') {
                if (msg != null && msg != '') {
                    swal("Oops..", msg, "error");
                }
            }
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>



<script>
    function getTicketStatus(TraceId,refNo,pnr)
    {
        var requestObject = {};
        requestObject.BookingId = refNo;
        requestObject.PNR = pnr;
        requestObject.TraceId = TraceId;
        $("#loadermoney").show();
        $.ajax({
            url: '@Url.Action("GetFlightStatus", "Air")',
            type: 'POST',
            data: JSON.stringify(requestObject),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#loadermoney").hide();
                //alert("Success");
                var respo = JSON.parse(data);
                if(respo.Status == "Success")
                {
                    if(respo.StatusCode == 5)
                    {
                        $('#msgspan').text("Ticketed successfully");

                    }
                    else if (respo.StatusCode == 1) {
                        $('#msgspan').text("Ticket is on Hold");

                    }
                    else if (respo.StatusCode == 2) {
                         $('#msgspan').text("Ticket is ready");

                    }
                    else if (respo.StatusCode == 3) {
                         $('#msgspan').text("Ticket is cancelled");

                    }
                    else if (respo.StatusCode == 4) {
                         $('#msgspan').text("Ticket is in InProgress");

                    }
                    else {
                        $('#msgspan').text("Ticket not confirmed yet");

                    }
                }
                else {
                     $('#msgspan').text(respo.Message);

                }
                // alert('Data: '+data);
                //$("#topSection").html(data);
                //$('#radio_'+DstnRadionValue).click();
                //$('#radio_' + DstnRadionValue).attr("checked", true);
            },
            error: function (request, error) {
                $("#loadermoney").hide();
                 alert("Error");
                // alert("Request: "+JSON.stringify(request));
            }
        });
    }
</script>
<script type="text/javascript">
    function changerequest(id,bookingId,orgn,dstn,TicketId)
    {
        // alert(e)
        swal({
            title: "Are you sure?",
            text: "Do you want to cancel this ticket!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, cancel it!",
            closeOnConfirm: false
        },
function () {
    $("#loadermoney").show();
                var url = '@Url.Action("CancelTicket", "Air")';
                $.post(url, { idno : id, bookingid: bookingId, origin: orgn, destination: dstn, ticketIds: TicketId }, function (data) {
                    //alert(data);
                    var respo = JSON.parse(data);
                    if(respo.Status == "Success")
                    {
                        swal("Wow!!", respo.Message, "success");
                    } else {
                        swal("Oops!!", respo.Message, "error");
                    }
                }).fail(function () {
                    swal("Oops!!", "Unknow error.", "error");
                }).complete(function () {
                    $("#loadermoney").hide();
                })
}
);
    }
</script>

<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerss');
    });


</script>

<script>
    $(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var PNR = $('#PNR').val();
        var url = '@Url.Action("Excel_Ticket_Report", "Air")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&PNR=' + PNR;
        location.href = url
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var PNR = $('#PNR').val();
        var url = '@Url.Action("PDF_TicketReport", "Air")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&PNR=' + PNR;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>