@model Vastwebmulti.Models.ResetPasswordViewModel
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "WHITELABEL").ToList();
    if (image.Count > 0)
    {
        ViewBag.image = image.FirstOrDefault().ImageUrl;
    }
    else
    {
        ViewBag.image = "img85.png";
    }
    //ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;
}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
<style>
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }

    .form-horizontal {
        width: 39%;
        margin: auto;
        background: #fff;
        display: block;
        padding: 20px 60px;
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    .form-control:focus {
        border-color: var(--main-bg-lcolor);
        box-shadow: none;
    }

    .form-control {
        border: 1px solid #bbb;
        padding: 15px !important;
        width: 90%;
    }

    .text-danger ul li {
        display: inline-block;
        color: red;
        font-weight: 600;
    }
    .fullbodydycolorbg {
    background-image: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
}
</style>
<div class="container-fluid fullbodydycolorbg" style="padding:20px 0px; width:100%;float:left;border-top: 5px solid #fff;border-bottom: 5px solid #fff;}">
    <div class="row-fluid" style="margin-top:40px; margin-bottom:20px;">

        <center>
            <img src="~/AdminDesign/images/reset-pass.svg" style="width:50px;margin-top: -24px;margin-right: 15px;" />
            <span style="color: #fff;font-size: 50px;font-weight: 700;">
                Reset Login Password
            </span>
        </center>

        @using (Html.BeginForm("ResetPasswordAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">

                <br />

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size: 23px;color: #000;margin-bottom: 10px;font-weight: 500;"><b>Registered Email ID</b></p>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Registered Email Id", @style = "color:black; padding:0px 10px;" })
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-md-12" style="position:relative;">
                            <p style="font-size: 23px;color: #000;margin-bottom: 10px;font-weight: 500;"><b>Password</b></p>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password", @style = "color:black; padding:0px 10px;" })
                        <div id="strength">
                            <span class="result" style="position: absolute;right: 36px;top: 50px;color: #ff983e;"></span>
                        </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">

                        <div class="col-md-12">
                            <p style="font-size: 23px;color: #000;margin-bottom: 10px;font-weight: 500;"><b>Confirm Password</b></p>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Password", @style = "color:black; padding:0px 10px;" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary("", new { @class = "text-danger", @style = "font-size:14px;text-align:center;margin-bottom: 12px; " })
                            @Html.HiddenFor(model => model.Code)
                            <input type="submit" class=" fullbodydycolorbg" value="Reset Password" style="color:#fff;font-size:18px;font-weight:600; padding:0px;border:0px; height:38px;width:100%; background-image: linear-gradient(to right , #c82329, #383838) !important;" />
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script>
	var result = $("#strength");
  $('#Password').keyup(function(){
        $(".result").html(checkStrength($('#Password').val()))
    })

    function checkStrength(password){
    var strength = 0

    if (password.length == 0) {
        result.removeClass()
        return ''
    }
    if (password.length < 8) {
        result.removeClass()
        result.addClass('short')
        return '⚠'
    }

    if (password.length > 7) strength += 1
    if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))  strength += 1
    if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/))  strength += 1
    if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/))  strength += 1
    if (password.match(/(.*[!,%,&,@@,#,$,^,*,?,_,~].*[!,",%,&,@@,#,$,^,*,?,_,~])/)) strength += 1

    if (strength < 2) {

    } else if (strength == 2 ) {

    } else {
        result.removeClass()
        result.addClass('strong')
        return '✅'
    }
}
</script>
