@model Vastwebmulti.Models.ResetPasswordViewModel
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Reset password";
}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    string currenturl = HttpContext.Current.Request.Url.Authority;
    currenturl = currenturl.Replace("www.", "").Replace("https://", "").Replace("http://", "");
    currenturl = currenturl.ToUpper();
    var whitelabelid = "";
    if (currenturl.Contains("LOCALHOST"))
    {
        whitelabelid = db.WhiteLabel_userList.Where(aa => aa.localhost.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
    }
    else
    {
        whitelabelid = db.WhiteLabel_userList.Where(aa => aa.websitename.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
    }
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "WHITELABEL" && p.UserID == whitelabelid).ToList();
    if (image.Count > 0)
    {
        ViewBag.image = image.SingleOrDefault().ImageUrl;
    }
    else
    {
        ViewBag.image = "img85.png";
    }
    // ViewBag.image = image.Count == 0 ? "" : image.SingleOrDefault().ImageUrl;
}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="section secondary-section" style="background:url(@Url.Content("~/FooterImages/"+ViewBag.image)">
    <div class="container centered">
        <center>
            <p class="large-text">
                <i class="fa fa-undo fa-stack-2x" style="font-weight:700; font-size: 55px; padding: 32px; position:initial;">&nbsp;Reset Password .</i>
            </p>
        </center>


        <div class="row-fluid" style="margin-top:50px; margin-bottom:20px;">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="span1">
                    </div>
                    <div class="span8">
                        <div class="row">
                            <div class="span3">
                                <p>Register Email-ID</p>
                            </div>
                            <div class="span9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "span12" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span3">
                                <p>Password</p>
                            </div>
                            <div class="span9">
                                @Html.PasswordFor(m => m.Password, new { @class = "span12" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span3">
                                <p>Confirm Password</p>
                            </div>
                            <div class="span9">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span12" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span3">

                            </div>
                            <div class="span9">
                                <input type="submit" class="btn btn-default" value="Reset" />
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
