@model Vastwebmulti.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}
@if (!HttpContext.Current.Request.IsLocal)
{
    <!-- To Disable Inspect Element -->
    <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
}
<div class="section secondary-section">
    <div class="triangle animated fadeInDown" style="border-left: 585px outset transparent; border-right: 585px outset transparent;"></div>
    <div class="container centered">
        <p class="large-text" style="font-weight:700;">SendCode Verification</p>
    </div>
</div>

<div class="section primary-section" id="about" style="height:250px;">
    <div class="container">
        @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="row-fluid" style="margin-top:80px;">
                <div class="span2">
                </div>
                <div class="span8">
                    <div class="row">
                        <div class="span3" style="margin-top:-5px;">
                            <p>Send verification code</p>
                        </div>
                        <div class="span6">
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "span12" })
                        </div>
                        <div class="span3">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="span3">

                            </div>
                            <div class="span9">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>*@
                </div>
                <div class="span2">
                </div>
            </div>
        }
    </div>
</div>
@*@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()
        @Html.Hidden("rememberMe", @Model.RememberMe)
        <h4>Send verification code</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">
                Select Two-Factor Authentication Provider:
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    }*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
