@model IEnumerable<Vastwebmulti.Models.select_operator_retailer_Result>
@{
    ViewBag.Title = "BlockOPT";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

 </style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                    <div class="header" style="padding:10px; padding-left:12px;">
                                <h2>
                                    <span style="font-size:24px;"></span>All Retailer Operators  Block & UnBlock&nbsp;&nbsp;<span style="font-size:21px;">➾</span>
                                </h2>
                      
                        </div>
                    </div>
                    @using (Html.BeginForm("BlockOPT", "Home", FormMethod.Post))
            {
                        <div class="col-md-6">
                         <div class="row">
                                    <div class="col-md-5">

                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                                                @Html.DropDownList("opttype", ViewBag.opttype as SelectList, "Operator Type", new { id = "opttype", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                                                @Html.DropDownList("rem", ViewBag.retailer as SelectList, "Select Retailer", new { id = "rem", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                             <div class="col-md-2">
                                 <button type="submit" id="btntype" name="btntype" class="btn  waves-effect" style="margin-top:5px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;">
                                     <i class="fa fa-search" style="top:1px;font-size:15px;"></i>
                                     <span style="top:0px;">Search</span>
                                 </button>
                             </div>
                                </div>
                        </div>
                    }
                </div>
            </div>
            
         
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-39px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                     </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-23px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Operator Name</th>
                                        <th>Operator Type</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            var color1 = "#424242";
                                            var color = "#fff";
                                            if (item.Operator_type == "PrePaid")
                                            {
                                                color1 = "#484343";
                                                color = "#f7f1f3";
                                            }
                                            else if (item.Operator_type == "PostPaid")
                                            {
                                                color1 = "#484343";
                                                color = "#25c59121";
                                            }
                                            else if (item.Operator_type == "Landline")
                                            {
                                                color1 = "#484343";
                                                color = "#2531c51a";
                                            }
                                            else if (item.Operator_type == "Insurance")
                                            {
                                                color1 = "#484343";
                                                color = "#c525c01a";
                                            }
                                            else if (item.Operator_type == "Gas")
                                            {
                                                color1 = "#484343";
                                                color = "#c3c5251a";
                                            }
                                            else if (item.Operator_type == "Electricity")
                                            {
                                                color1 = "#484343";
                                                color = "#71c5251a";
                                            }
                                            else if (item.Operator_type == "DTH")
                                            {
                                                color1 = "#484343";
                                                color = "#13090f1a";
                                            }
                                            <tr style="background-color: @color;color:@color1;">
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.opt_name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Operator_type)
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(modelItem => item.status)
                                                    @{
                                                        if (@item.status == true)
                                                        {
                                                            <div class="demo-switch">
                                                                <div class="switch">
                                                                    <label>
                                                                        <a href="@Url.Action("BlockOPT", new { id = item.Operator_id, rem = item.RetailerId,opttype=item.Operator_type })" style="text-decoration:none;"><input type="checkbox" checked /><span class="lever" style="background-color:green;"></span></a>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="demo-switch">
                                                                <div class="switch">
                                                                    <label>
                                                                        <a href="@Url.Action("BlockOPT", new { id = item.Operator_id, rem = item.RetailerId,opttype=item.Operator_type })" style="text-decoration:none;"><span class="lever" style="background-color:red;"></span></a>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                                            i++;
                                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>




