@using Vastwebmulti.Models;
@model Tuple<ChangePasswordViewModel, ChangePinViewModel>
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }
</style>
<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h2 style="color:red; font-size:16PX; font-weight:700;"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Required Password Strength:-</h2>
                    </div>
                    <div style="padding-top:13px;">
                        <p style="line-height:32px;padding-left:10px;">1.Password must be Required one Special character</p>
                        <p style="line-height:32px;padding-left:10px;">2.Password must be Required one Digit Number</p>
                        <p style="line-height:32px;padding-left:10px;">3.Password must be Required one Lowercase character</p>
                        <p style="line-height:32px;padding-left:10px;">4.Password must be Required one Uppercase character</p>
                        <p style="line-height:32px;padding-left:10px;">4.Password must be Required one alphabet character</p>
                        <p style="line-height:32px;padding-left:10px;">5.Password must be Required Minimum Length Six character</p>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h2 style="color:red;">
                            <i class="fa fa-keyboard-o" aria-hidden="true"></i>&nbsp;&nbsp; Change Password
                        </h2>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="body">
                            <div class="row clearfix">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    <label>Enter Old Password</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(tuple => tuple.Item1.OldPassword, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(tuple => tuple.Item1.OldPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <label>Enter New Password</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(tuple => tuple.Item1.NewPassword, new { @class = "form-control", @required = "" })

                                        </div>
                                        @Html.ValidationMessageFor(tuple => tuple.Item1.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <label>Enter Confirm Password</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(tuple => tuple.Item1.ConfirmPassword, new { @class = "form-control", @required = "" })

                                        </div>
                                        @Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div style="float:right;">
                                        <button type="submit" class="btn bg-blue-grey m-t-15 waves-effect">Change Password</button>
                                        <a href="@Url.Action("Dashboard","Home")" class="btn bg-teal waves-effect" style="margin-top:15px;">Back</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

        <!--Change Transaction IMPS AND Reset-->
        <div class="row clearfix">
            <div class="col-md-12 body-password-class">
                <div class="card" style="">
                    <p class="password-header fullbodydycolorbg" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;"><i class="fa fa-lock"></i>&nbsp;IMPS&nbsp;Transaction&nbsp;Pin</p>
                    <div class="row">
                        <div class="col-md-6 click-me-button">
                            <div class="body">
                                <div class="important-passwordss fullbodydycolorbg" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="second-header" style="margin-top:-24px;font-weight:bold;padding:1px 16px 0px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:38%;border-radius:1px;"><span></span>Reset&nbsp;IMPS&nbsp;Pin</p></center>
                                    @using (Html.BeginForm("Reset_IMPSPin", "Home", FormMethod.Post, new { id = "resttarnspass" }))
                                    {
                                        <div class="body pading-row-body" style="margin-top:20px;">
                                            <div class="row clearfix">





                                                <div class="form-group email-id-input" style="margin-bottom:0px;">
                                                    <label class="required">Email&nbsp;Id</label>
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Enter Registered Email" />
                                                    </div>
                                                    <div class="errow-password" style="height:27px;">
                                                        <p id="errowidshowfirst" style="display:none;color:#fff;">Please Enter Register Email-Id</p>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:11px;">
                                                        <center>
                                                            <div class="">
                                                                <button type="button" class="btn  btn-circle-lg waves-effect waves-circle waves-float" style="width:111px;height:111px;background-color:whitesmoke;" onclick="confrim()">
                                                                    <p style="font-size:18px;padding-left:10px;">Click&nbsp;Me</p>
                                                                </button>
                                                            </div>
                                                        </center>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="body add-newbody" style="margin-bottom:11px;">
                                <div class="important-password" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="second-header" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:39%;border-radius:1px;"><span></span>Change&nbsp;IMPS &nbsp;Pin</p></center>
                                    @using (Html.BeginForm("Edit_IMPSPin", "Home", FormMethod.Post))
                                    {
                                        <div class="body pading-row-body row-full-padding" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter Old Pin</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.OldPin, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.OldPin, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter New Pin</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item2.NewPin, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.NewPin, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter Confirm Pin</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.ConfirmPin, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.ConfirmPin, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix clearfix-buttonmy">
                                                <div class="col-md-12 clearfix-buttonmy-second">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg" style="border:1px solid #ddd;color:#fff;">Change Pin</button>
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #ddd;background:#a4a0a0;color:#fff;">Reset</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
        window.onload = function() {
            var message = '@TempData["Message"]';
            if(message !="" && message !=null) {
                swal("Good job!", message, "success");
            }
        }
</script>
<script>
    $(document).ready(function()
    {
        var succ ='@ViewData["success"]';
        var error = '@ViewData["error"]';
        if(succ !="")
        {
            swal("Change Password!", succ, "success");
        }
        if(error !="")
        {
            swal("Wrong!", error, "success");
        }
    })
</script>
<!-- Reset IMPS PIN-->
<script>
    function confrim() {
        var txtmail = $("#txtemail").val();
        if (txtmail != "") {
            swal({
                title: "Are you sure?",
                text: "You want to reset your IMPS Pin",
                //text: kk,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Reset IMPS Pin!",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#resttarnspass").submit();
                        return true;
                    }
                    else {
                        return false;
                    }
                });
        }
        else {
            //swal("Oops!", "Please Enter Register Email-Id", "error");
            $("#errowidshowfirst").css("display", "block");
            return false;
        }

    }
</script>