@model IEnumerable<Vastwebmulti.Models.proc_whitelabel_complaint_request_Result>
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}

<style>
    .wdealer-complaint .col-md-12 i::before{position:relative;left:-2px;}
    .wdealer-complanitfirst ul li.chatting-wdealer {background: @PageData["Globalfirst"];}
    .wdealer-complanitfirst ul li.chatting-wdealersecond {background:#ddd;}
    .wdealer-complanitfirst ul li .chat-body.clearfix {width: 75%;float: left;}
    .wdealer-complanitfirst ul li span.chat-img {width: 25%;text-align: right;}
    .wdealer-complanitfirst ul li span.chat-img img {width: 40px;}
    .wdealer-complanitfirst ul li span.chat-img p {margin-bottom: 0 !important;}
    .wdealer-complanitfirst ul li .chat-body.clearfix .header {padding: 0;}
    .wdealer-complanitfirst ul li {border: 2px solid #555 !important;padding: 2px 20px;border-radius: 34px;box-shadow: 0 0 7px 2px #5555;margin-bottom: 20px;}
    .wdealer-complanitfirst ul li .chat-body.clearfix {padding: 10px 0;}
    .wdealer-complanitfirst ul li .chat-body.clearfix p {color: #fff;}
    .wdealer-complanitfirst ul li.chatting-wdealersecond span.chat-img {float: left !important;text-align: left;}
    .wdealer-complanitfirst ul li.chatting-wdealersecond .chat-body.clearfix {margin: 0;}
    .wdealer-complanitfirst ul li.chatting-wdealersecond .chat-body.clearfix .header {width: 100%;float: right;}
    .wdealer-complanitfirst ul li.chatting-wdealersecond .chat-body.clearfix .mechatfull p {text-align: right;}
    
    @@media screen and (max-width:767px){
        .wdealer-complanitfirst ,.wdealer-complaint{padding-left:0;}
        .wdealer-complaint .card .body{min-height:inherit !important;}
    }

</style>

<link href="~/Swalalert/chatting.css" rel="stylesheet" />
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-4 wdealer-complaint">
                <div class="card" style="background:#f5f5f5;">

                    <div class="header" style="background-color:#dedddd;padding:8px;">
                        <h2>
                            <i class="fa fa-keyboard-o" aria-hidden="true" style="color:#555; font-size:21px;"></i>&nbsp;&nbsp;<span style="color:#555;margin:0;">Insert Complaint</span>
                        </h2>

                    </div>
                    @using (Html.BeginForm("Complaint_insert", "Home", FormMethod.Post))
                    {
                        <div class="body" style="min-height:81vh;">
                            <div class="form-group" style="margin-top:0;">
                                <div class="">
                                    <textarea id="message" name="message" class="form-control" style="height:189px; border:1px solid #1b171714;" required="" placeholder="Enter Message"></textarea>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-send-o" style="color:#fff;font-size: 18px;top:2px;left: -13px;padding: 8px 8px 8px 8px;background-color: @PageData["GlobalSecond"];border-radius: 35px;"></i>
                                        <span style="top: 3px;font-weight: 600;font-size: 19px;text-transform: uppercase;">Insert Message</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="reset" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-eraser" style="top: 1px;"></i>
                                        <span style="top:-2px;font-size: 14px;">Reset</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <a href="@Url.Action("Dashboard","Home")" class="btn  waves-effect" style="float:right;border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-arrow-left" style="top:0px;color: #525050;"></i>
                                        <span style="top:-2px;font-size: 14px;color:black;">Back</span>
                                    </a>
                                </div>
                            </div>




                        </div>
                    }
                </div>
            </div>
            <div class="col-md-8 wdealer-complanitfirst">

                <div class="card" style="margin-top:0px;">
                    <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;font-size:18px;">
                        <span class="fa fa-comments-o" style="font-size:20px;"></span> Chatting Details

                    </div>
                    <div class="panel-collapse collapse" style="display:block;">
                        <div class="panel-body" style="height:auto;">

                            <ul class="chat">

                                @foreach (var item in Model)
                                {

                                    if (item.resdate != null)
                                    {
                                <li class="chatting-wdealer" style="">

                                    <div class="chat-body clearfix" style="float:left;">

                                        <p style="margin-left:0;">
                                            @item.response
                                        </p>
                                        <div class="header" style="border-bottom:none;">
                                            <p class="text-muted" style="margin-top:0px;color:#fff;"><span class="fa fa-clock-o" style="color:#fff;"></span>&nbsp;@item.resdate</p>
                                            <strong class="pull-right primary-font"></strong>
                                        </div>
                                    </div>
                                    <span class="chat-img pull-right">
                                        <img src="../../images/reportimage/chatuserimage.png" />
                                        <p style="color:#E91E63 ;font-weight:700;margin-top:5px;color:#fff;">WAdmin</p>
                                    </span>
                                </li>

                                    }
                                    if (item.rdate != null)
                                    {

                                        <li class="left clearfix chatting-wdealersecond" style="">
                                            <span class="chat-img pull-left">
                                                <img src="../../images/reportimage/chatuserimage.png" />
                                                <p style="color:green;font-weight:700;margin-top:5px;color:#555;position:relative;left:8px;">You</p>
                                            </span>
                                            <div class="chat-body clearfix" style="float:right;">
                                                <div class="mechatfull" style="width:100%;float:left;text-align:left;">
                                                    @if (item.sts == "Open")
                                                    {
                                                        <p style="margin-left:0px; font-weight:700;color:#555;">@item.complant </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-left:0px;color:#555;">@item.complant </p>
                                                    }
                                                </div>
                                                <div class="header" style="border-bottom:none;">
                                                    <strong class="primary-font" style="color:#555;"></strong> <p class="pull-right text-muted" style="margin-top:0px;color:#555;">
                                                        <span class="fa fa-clock-o" style="color:#555;"></span>&nbsp;@item.rdate
                                                    </p>
                                                </div>

                                            </div>
                                        </li>
                                    }

                                }


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



