@model IEnumerable<Vastwebmulti.Models.whitelabel_Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "Dealer_Ledger_Report";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top:75px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }


    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .wmasteralltwodate{width:50%;float:left;position:relative;}
    .wdealer-dashboardclass ul li a, .wdealer-dashboardclass ul li {
        -webkit-background-clip: text !important;-moz-background-clip: text !important;
        -webkit-text-fill-color: transparent;font-size:16px;
    }
    .wdealer-dashboardclass ul li{list-style:none;display:inline-block;}
    .wdealer-dashboardclass ul{padding:0;}
    .wdealer-tabledata-all table {background: #f5f5f5;}
.wdealer-tabledata-all table, .wdealer-tabledata-all table tr, .wdealer-tabledata-all table tr th, .wdealer-tabledata-all table tr td {border-color: #ddd !important;border: 1px solid;}
    .wdealer-tabledata-all table tr th, .wdealer-tabledata-all table tr td {padding: 8px 5px;color:#555 !important;}
    .card.wdealer-tabledata-all tr th, .card.wdealer-tabledata-all tr td {
    white-space: nowrap;
}
@@media screen and (max-width:767px){
    .card.wdealer-tabledata-all .table-responsive {border: 0;}
    .container-fluid.wdealer-dealerfirst {padding-left: 0;}
    .wdealer-dashboardclass {width: 100% !important;}
    .card.wdealer-tabledata-all {margin-top: 15px;}

}
@@media screen and (max-width:480px){
    .wdealer-dealerdate {width: 72% !important;}
    .wdealer-dealersearch {width: 28% !important;}
    .wdealer-dealersearch button {width: 100% !important;}
    .wdealer-dealerdate .form-iconmy {display: none;}
    .wdealer-dealerdate input {padding: 0;text-align: center;font-size: 12px;}
}

</style>
<section class="content">
    <div class="container-fluid wdealer-dealerfirst">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom:0;">
                    @using (Html.BeginForm("DealerLedger", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="wdealer-dashboardclass" style="width: auto; float: left; ">
                            <ul>
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                        Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                    Dealer Ledger Report
                                </li>
                            </ul>
                        </div>
                       

                        <div class="col-md-2 wdealer-dealersearch" style="width:auto;float:right;padding-left:0;padding-right:0;">
                            <center>
                                <button type="submit" class="btn" style="margin-top:0px;height:32px;border:1px solid #c7c2c2;background:#eae9e9;">
                                    <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                    <span style="top:-1px;color:#555;margin-left:0;">Search</span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-3 wdealer-dealerdate" style="width:auto;float:right;padding-right:6px;">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="wmasteralltwodate" style="padding-right:3px;">
                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding:5px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;margin-top:0px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <div class="wmasteralltwodate" style="padding-left:3px;">
                                        <div class="form-iconmy" style="top: 0px;left:4px;padding:5px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                        </div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;margin-top:0px;height:32px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </div>
                    }
                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card wdealer-tabledata-all">
                    <div class="body" style="padding:0;">
                        <div class="table-responsive " style="position: inherit;">
                            <table class="table table-bordered" style="width:100%;">
                                <thead style="color:white;position:initial;" class="">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Request&nbsp;Id</th>
                                        <th>Email</th>
                                        <th>Particular</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th>Balance</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="mytable">
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestId)</td>
                                            <td><p style="font-size:12px;">@item.Email</p></td>
                                            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.credit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debit)</td>
                                            <td>@item.Balance</td>
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

                       $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }

        });
</script>

