@model Vastwebmulti.Areas.RETAILER.Models.GST_PDF_MODEL

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vastwebmulti</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Wait Me Css -->
    <link href="~/AdminDesign/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Core Css -->
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/AdminDesign/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/AdminDesign/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/AdminDesign/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/AdminDesign/css/style.css" rel="stylesheet">
    <link href="~/fonts/icofont.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/AdminDesign/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/AdminDesign/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row clearfix">
           <div class="col-md-12 col-sm-12 col-xs-12">
               <center style="background-color:red;"><h3 style="color:white; padding-top:10px; padding-bottom:10px;">GST TAX INVOICE</h3></center>
                            <div class="card">
                                <div class="body">
                                    <div class="pull-left" style="margin-right:20px;">

                                        <table style="width:300px;">
                                            <tr>
                                                <th style="color:black;">
                                                    <p>Company Name : @ViewBag.AdminDetails.Name</p>
                                                    <p>Email Id : @ViewBag.AdminDetails.email</p>
                                                    <p>Mobile No :@ViewBag.AdminDetails.mobile</p>
                                                    <p>
                                                        Pan Card No :
                                                        @if (string.IsNullOrEmpty(ViewBag.AdminDetails.pencardno))
                                                        {
                                                            @:N \A
                                                          }
                                                        else
                                                        {
                                                            @ViewBag.AdminDetails.pencardno
                                                        }

                                                    </p>
                                                    <p>
                                                        GST No :

                                                        @if (string.IsNullOrEmpty(ViewBag.AdminDetails.Gstno))
                                                        {
                                                            @:N \A
                                                          }
                                                        else
                                                        {
                                                            @ViewBag.AdminDetails.Gstno
                                                        }

                                                    </p>
                                                     <p>
                                                        Address : @ViewBag.AdminDetails.Address
                                                    </p>
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="pull-left">

                                        <table style="width:300px;">
                                            <tr>
                                                @if (ViewBag.Role.Name == "API")
                                                {
                                                    <th style="color:black;">
                                                        <p>API Name : @ViewBag.UserDetails.username</p>
                                                        <p>API Id : @ViewBag.UserDetails.apiid</p>
                                                        <p>Email Id : @ViewBag.UserDetails.emailid</p>
                                                        <p>Mobile No :  @ViewBag.UserDetails.mobile</p>
                                                        <p>
                                                            Pan Card No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.pancard))
                                                            {
                                                                @:N /A
                                                        }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.pancard
                                                            }

                                                        </p>

                                                        <p>
                                                            GST No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.gst))
                                                            {
                                                                @:N /A
                                                        }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.gst
                                                            }

                                                        </p>
                                                        <p>Address: @ViewBag.UserDetails.address</p>
                                                        @*<p>Aadhaar No : @ViewBag.UserDetails.AadharCard</p>*@
                                                    </th>
                                                }
                                                @if (ViewBag.Role.Name == "Retailer")
                                                {
                                                    <th style="color:black;">
                                                        <p>Retailer Name : @ViewBag.UserDetails.RetailerName</p>
                                                        <p>Retailer Id : @ViewBag.UserDetails.RetailerId</p>
                                                        <p>Email Id : @ViewBag.UserDetails.Email</p>
                                                        <p>Mobile No :  @ViewBag.UserDetails.Mobile</p>
                                                        <p>
                                                            Pan Card No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.PanCard))
                                                            {
                                                                @:N /A
                                                        }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.PanCard
                                                            }

                                                        </p>

                                                        <p>
                                                            GST No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.gst))
                                                            {
                                                                @:N /A
                                                        }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.gst
                                                            }

                                                        </p>
                                                        <p>Address: @ViewBag.UserDetails.Address</p>
                                                        @*<p>Aadhaar No : @ViewBag.UserDetails.AadharCard</p>*@
                                                    </th>
                                                }
                                                @if (ViewBag.Role.Name == "Dealer")
                                                {
                                                    <th style="color:black;">
                                                        <p>Buyer Name : @ViewBag.UserDetails.FarmName</p>
                                                        <p>Email : @ViewBag.UserDetails.Email</p>
                                                        <p>Mobile :  @ViewBag.UserDetails.Mobile</p>
                                                        <p>
                                                            Pan Card No :
                                                           @if (string.IsNullOrEmpty(ViewBag.UserDetails.pancard))
                                                            {
                                                              @:N /A
                                                             }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.pancard
                                                            }

                                                        </p>
                                                          <p>
                                                            GST No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.gst))
                                                            {
                                                             @:N /A
                                                              }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.gst
                                                            }
                                                        </p>

                                                        <p>
                                                            Address: @ViewBag.UserDetails.Address
                                                        </p>
                                                    </th>
                                                }
                                                @if (ViewBag.Role.Name == "master")
                                                {
                                                    <th style="color:black;">
                                                        <p>Buyer Name : @ViewBag.UserDetails.FarmName</p>
                                                        <p>MD Id :@ViewBag.UserDetails.SSId</p>
                                                        <p>Email :@ViewBag.UserDetails.Email</p>
                                                        <p>Mobile :@ViewBag.UserDetails.Mobile</p>
                                                        <p>
                                                            Pan Card No :
                                                         @if (string.IsNullOrEmpty(ViewBag.UserDetails.pancard))
                                                            {
                                                             @:N /A
                                                            }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.pancard
                                                            }

                                                        </p>
                                                        <p>
                                                            GST No :
                                                            @if (string.IsNullOrEmpty(ViewBag.UserDetails.gst))
                                                            {
                                                                @:N /A
                                                        }
                                                            else
                                                            {
                                                                @ViewBag.UserDetails.gst
                                                            }
                                                        </p>

                                                        <p>
                                                            Address: @ViewBag.UserDetails.Address
                                                        </p>
                                                    </th>
                                                }

                                            </tr>


                                        </table>


                                    </div>

                                    <div class="pull-right" style="">
                                        <table>
                                            <tr>
                                                <th style="color:black;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-12"><strong style="font-size:18px;">Invoice No :</strong><span style="font-size:18px; color:black;"> @Model.INVOICENO</span></div>
                                                         </div>

                                                    </div>
                                                </th>
                                            </tr>


                                        </table>
                                        <table>
                                            <tr>
                                                <th style="color:black;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-12"><strong>Date :</strong><span style="color:black;"> @ViewData["month"]</span></div>
                                                     </div>

                                                    </div>
                                                </th>
                                            </tr>


                                        </table>
                                        <table>
                                            <tr>
                                                <th style="color:black;">
                                                    <div class="col-md-12" style="float:right">
                                                        <div class="col-md-4">
                                                            <div class="col-md-12"><p>Opening Balance : @ViewBag.OpnBal</p></div>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>


                                        </table>
                                        <table>
                                            <tr>
                                                <th style="color:black;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-12"><p>Advance Value : @ViewBag.Purchase</p></div>
                                                       </div>

                                                    </div>
                                                </th>
                                            </tr>


                                        </table>
                                        <table>
                                            <tr>
                                                <th style="color:black;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-12"><p>Closing Balance : @ViewBag.CloseBal</p></div>
                                                      </div>

                                                    </div>
                                                </th>
                                            </tr>


                                        </table>

                                    </div>

                                    <div class="clearfix" style="border-bottom:1px solid black;"></div>
                                </div>

                                <div class="x_content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="table-responsive">
                                               
                                                @if (Model.RetailerGst != null)
                                                {
                                                    <table class="table table-bordered table-striped">
                                                        <thead style="color:black;">
                                                            <tr>
                                                                <th>SR</th>
                                                                <th>Description</th>
                                                                <th>HSN/SAC</th>
                                                                <th>Recharge Amount</th>
                                                                <th>Discount</th>
                                                                <th>Net Amount</th>
                                                                <th>Taxable Value</th>

                                                                @if (ViewBag.CloseBal == "ISGST")
                                                                {
                                                                    <th> IGST(18%)</th>
                                                                }
                                                                else
                                                                {
                                                                    <th>CGST(9%)</th>
                                                                    <th>SGST(9%)</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody id="myTable">
                                                            @{int i = 1;}
                                                            @foreach (var item in Model.RetailerGst)
                                                            {
                                                                <tr style="color:black;">
                                                                    <td>@i</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.operator_Name) (E-Top)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.HSN_SAC)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Sell)</td>

                                                                    <td style="">@Html.DisplayFor(modelItem => item.RetailerSellAmt)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.NetAmount)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.TaxableValue)</td>

                                                                    @if (ViewBag.CloseBal == "ISGST")
                                                                    {
                                                                        <td style="">@Html.DisplayFor(modelItem => item.IGST)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="">@Html.DisplayFor(modelItem => item.CGST)</td>
                                                                        <td style="">@Html.DisplayFor(modelItem => item.SGST)</td>
                                                                    }


                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="font-weight:bold;color:black;">
                                                                <td></td>
                                                                <td></td>
                                                                <td style="">Total</td>
                                                                <td style=""></td>
                                                                <td></td>
                                                                <td>@Model.RetailerGst.Sum(modelItem => modelItem.NetAmount)</td>
                                                                <td>@Model.RetailerGst.Sum(modelItem => modelItem.TaxableValue)</td>
                                                                @if (ViewBag.CloseBal == "ISGST")
                                                                {
                                                                    <td style="">@Model.RetailerGst.Sum(modelItem => modelItem.IGST)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="">@Model.RetailerGst.Sum(modelItem => modelItem.CGST)</td>
                                                                    <td style="">@Model.RetailerGst.Sum(modelItem => modelItem.SGST)</td>
                                                                }

                                                            </tr>
                                                        </tfoot>

                                                    </table>

                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody id="myTable">

                                                            <tr style="color:black;">
                                                                <td class="align-right">Total: @Model.RetailerGst.Sum(a => a.NetAmount)&nbsp;&nbsp;&nbsp;@ViewData["total"] </td>
                                                                <td colspan="4"></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                                }
                                                @if (Model.DealerGst != null)
                                                {
                                                    <table class="table table-bordered table-striped">
                                                        <thead style="color:black;">
                                                            <tr>
                                                                <th>SR</th>
                                                                <th>Description</th>
                                                                <th>HSN/SAC</th>
                                                                <th>Recharge Amount</th>
                                                                <th>Discount</th>
                                                                <th>Net Amount</th>
                                                                <th>Taxable Value</th>

                                                                @if (ViewBag.CloseBal == "ISGST")
                                                                {
                                                                    <th> IGST(18%)</th>
                                                                }
                                                                else
                                                                {
                                                                    <th>CGST(9%)</th>
                                                                    <th>SGST(9%)</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody id="myTable">
                                                            @{int i = 1;}
                                                            @foreach (var item in Model.DealerGst)
                                                            {
                                                                <tr style="color:black;">
                                                                    <td>@i</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.operator_Name) (E-Top)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.HSN_SAC)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Sell)</td>

                                                                    <td style="">@Html.DisplayFor(modelItem => item.DealerSellAmt)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.NetAmount)</td>
                                                                    <td style="">@Html.DisplayFor(modelItem => item.TaxableValue)</td>

                                                                    @if (ViewBag.CloseBal == "ISGST")
                                                                    {
                                                                        <td style="">@Html.DisplayFor(modelItem => item.IGST)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="">@Html.DisplayFor(modelItem => item.CGST)</td>
                                                                        <td style="">@Html.DisplayFor(modelItem => item.SGST)</td>
                                                                    }


                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr style="font-weight:bold;color:black;">
                                                                <td></td>
                                                                <td></td>
                                                                <td style="">Total</td>
                                                                <td style=""></td>
                                                                <td></td>
                                                                <td>@Model.DealerGst.Sum(modelItem => modelItem.NetAmount)</td>
                                                                <td>@Model.DealerGst.Sum(modelItem => modelItem.TaxableValue)</td>
                                                                @if (ViewBag.CloseBal == "ISGST")
                                                                {
                                                                    <td style="">@Model.DealerGst.Sum(modelItem => modelItem.IGST)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="">@Model.DealerGst.Sum(modelItem => modelItem.CGST)</td>
                                                                    <td style="">@Model.DealerGst.Sum(modelItem => modelItem.SGST)</td>
                                                                }

                                                            </tr>
                                                        </tfoot>

                                                    </table>

                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody id="myTable">

                                                            <tr style="color:black;">
                                                                <td class="align-right">Total: @Model.DealerGst.Sum(a => a.NetAmount)&nbsp;&nbsp;&nbsp;@ViewData["total"] </td>
                                                                <td colspan="4"></td>

                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                                }
                                    
                                            </div>
                                            <div class="pull-left" style="margin-right:20px;">

                                                <table style="width:500px;">
                                                    <tr>
                                                        <th>
                                    <p style="font-size:17px; color:black;font-weight:200;">Terms & Condition: </p>
                                    <p style="font-size:11px; color:black;">1.Goods once sold will not be taken back.  </p>
                                    <p style="font-size:11px; color:black;">2.Interest 18% p.a. will be charged if payment is not made within due date.  </p>
                                    <p style="font-size:11px; color:black;">3.Our risk and responsibility ceases as soon as the goods leave our premises.</p>
                                    <p style="font-size:11px; color:black;">4.We declare that this invoice shows the actual price of the goods </p>
                                    <p style="font-size:11px; color:black;">described and that all particulars      true and correct.</p>
                                    <p style="font-size:11px; color:black;">5."Subject to <span style="text-transform:uppercase;">"@ViewBag.city"</span> Jurisdiction only. E.&.O.E"</p>
                                                        </th>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="pull-right">
                                                <br /><br />
                                                <table>
                                                    <tr>
                                                        <th style="color:black;">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                       <div class="col-md-12"><p style="font-size:17px;">For, @ViewBag.AdminDetails.Name </p></div>
                                                                </div>

                                                            </div>
                                                        </th>
                                                    </tr>


                                                </table>
                                                <table>
                                                    <tr>
                                                        <th style="color:black;">
                                                            <div class="col-md-12">
                                                                <div class="col-md-4">
                                                                    <div class="col-md-4"></div>
                                       <div class="col-md-6"><p style="font-size:14px; color:black;">(Authorised Signatory)</p></div>
                                                                </div>

                                                            </div>
                                                        </th>
                                                    </tr>
                                                   </table>
                                             </div>
                                           </div>
                                        <br />
                                        <center><p style="color:black;">THIS IS A COMPUTER GENERATED RECEIPT HENCE DOES NOT REQUIRE ANY SEAL AND SIGNATURES.</p></center>

                                    </div>
                                </div>
                            </div>
                        </div>
                 
         </div>
    </div>
    </body>
</html>
