@model Vastwebmulti.Areas.DEALER.Models.DealerInvoiceModel
@{
    ViewBag.Title = "InvoicePDF";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Vastwebmulti</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Wait Me Css -->
    <link href="~/AdminDesign/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Core Css -->
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/AdminDesign/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/AdminDesign/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/AdminDesign/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/AdminDesign/css/style.css" rel="stylesheet">
    <link href="~/fonts/icofont.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/AdminDesign/css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/AdminDesign/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div style="width:100%; height:100px;">
        <div style="float:left;">
            <div><span style="font-size:25px; ">Vastwebmulti </span></div>
            <div><span style="font-size:18px;">Dealer Name :  @TempData["retailername"] </span> </div>
            <div><span style="font-size:18px;">Firm Name :  @TempData["firmname"] </span> </div>
            <div> <span style="font-size:18px; ">Dealer Mobile :  @TempData["retailermobile"] </span></div>
            <div> <span style="font-size:18px; ">Money Transfer Date :  @TempData["retailerdate"] </span></div>
        </div>
        <div style="float:right;">
            <img src="@Context.Server.MapPath("~/Images/Logo.png")" alt="PayNowRecharge" />
        </div>
    </div>
    <div style="background-color:Black; margin-top:4%;">
        <center>
            <h1 style="color:White; ">FUND RECEIVE RECEIPT  </h1>
        </center>
    </div>
    <div style="height:40px;">
        <div style="float:left;">
            <span style="font-size:18px; ">Receipt No :  </span>
        </div>
        <div style="float:right;">
            <span style="font-size:18px; "> Date : @TempData["date"] </span>
        </div>
    </div>
    <table class="table" style="margin-top:40px;">
        <tr>
            <th>Sr No.</th>
            <th>Receive From  </th>
            <th>Old Remain </th>
            <th>Value</th>
            <th>Final Value</th>
            <th>New Remain </th>
            <th>Date </th>

        </tr>

        <tr>
            <td>1</td>
            <td>@Html.DisplayFor(a => a.From)</td>
            <td>@Html.DisplayFor(a => a.DistOldBal)</td>
            <td>@Html.DisplayFor(a => a.Value)</td>
            <td>@Html.DisplayFor(a => a.Value)</td>
            <td>@Html.DisplayFor(a => a.DistNewBal)</td>
            <td>@Html.DisplayFor(a => a.Date)</td>
        </tr>


    </table>
    <div style="margin-top:60px;">
        <center>
            <span style="font-size:18px; padding-bottom :40px;">THIS IS A COMPUTER GENERATED RECEIPT HENCE DOES NOT REQUIRE ANY SEAL AND SIGNATURES.</span>
        </center>
    </div>

    <div style="margin-top:30px;">
        <center>
            <span style="font-size:22px; font-weight:bold;"> Thanks for using PayNowRecharge</span>
        </center>
    </div>

</body>
</html>
