@model Vastwebmulti.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}

<section class="content" style="">
    <div class="container-fluid">
        <div class="row clearfix">

            <div class="col-md-4">
                <div class="card" style="height: 324px; position: initial;">
                    <div class="header " style="padding: 10px; border-bottom: 1px solid #dddddd;">
                        <center>
                            <h2 style="color: black;"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:green;"></i>&nbsp;<span style="color:green;font-weight:700;">" Whitelabel Distributor "</span>&nbsp;Profile</h2>
                        </center>
                    </div>
                    <div class="body">
                        <center>
                          @if (ViewBag.MD_Details.Photo != null)
                          {
                                <div class="image" style="margin-top: 24px;">
                                    <img src="@Url.Content("~/" + ViewBag.MD_Details.Photo)" class="img-circle" alt="User" width="100" height="100" />
                                </div>

                            }
                            else
                            {
                                <div class="image" style="margin-top: 24px;">
                                    <img src="/Vastwebmulti/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">

                                </div>
                            }

                            <div class="msg" style="padding-top: 12px; font-size: 22px; font-weight: 600; color: black;">@ViewBag.MD_Details.DealerName</div>


                            <div class="col-xs-12" style="margin-top: 25px;">
                                <a href='@Url.Action("Edit_Profile", "Home", new {Retailerid = ViewBag.MD_Details.DealerId})' class="btn bg-blue-grey  waves-effect" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd;">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:22px;"></i>
                                    <span style="font-size:17px;">&nbsp;Edit&nbsp;Profile</span>
                                </a>
                            </div>

                        </center>
                    </div>
                </div>
                
                <div class="card" style="margin-top:-19px;">
                    <div class="header " style="padding: 10px; border-bottom: 1px solid white;">
                        <div class="button-demo" style="height: 52px; margin-top: -28px;">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn  waves-effect" style="background: transparent; box-shadow: none; top: 22px; font-size: 18px;"><i class="fa fa-lock" aria-hidden="true" style="top: 2px;"></i>&nbsp;&nbsp;OTP Security</button>
                            </div>
                            <div class="col-xs-4">
                                 @if (Model.TwoFactorEnabled)
                                {
                                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", new {area = ""}, FormMethod.Post, new {encType = "multipart/form-data", @style = "padding-left:38px;padding-top:2px;"}))
                                    {
                                                @Html.AntiForgeryToken()
                                                <button type="submit" style="text-decoration: none; background: transparent; box-shadow: none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-on icofont-3x" style="color: green; font-size: 63px; top: 2px;"></i></button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", new {area = ""}, FormMethod.Post, new {encType = "multipart/form-data", @style = "padding-left:38px;padding-top:2px;"}))
                                    {
                                                @Html.AntiForgeryToken()
                                                <button type="submit" style="text-decoration: none; background: transparent; box-shadow: none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-off icofont-3x" style="color: red; font-size: 63px; top: 2px;"></i></button>
                                    }
                                }
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card ">
                        <div class="header " style="padding:10px;">
                            <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My Admin Details</h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="body table-responsive" style="margin-top:-39px; border:none;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="border-top:none;">Email-Id</th>
                                                <td style="border-top:none;">@ViewBag.showmddetails.EmailId</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Name</th>
                                                <td>@ViewBag.showmddetails.Name</td>

                                            </tr>
                                             <tr>
                                                <th scope="row">Mobile&nbsp;No</th>
                                                <td>@ViewBag.showmddetails.Mobile</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header " style="padding: 10px;">
                        <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;User Profile Information</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="body table-responsive" style="margin-bottom: 4px;">
                                <table class="table table-bordered" style="margin-top: -20px;">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="border-top: none;">User Id</th>
                                            <td style="border-top: none;">@ViewBag.MD_Details.Email</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>@ViewBag.MD_Details.DealerName</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Frim Name</th>
                                            <td>@ViewBag.MD_Details.FarmName</td>

                                        </tr>

                                        <tr>
                                            <th scope="row">Mobile Number</th>
                                            <td>@ViewBag.MD_Details.Mobile</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">Full Address</th>
                                            <td>@ViewBag.MD_Details.Address</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">State</th>
                                            <td>@ViewBag.ddlstate</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">District</th>
                                            <td>@ViewBag.district</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Pincode Number</th>
                                            <td>@ViewBag.MD_Details.Pincode</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">Aadharcard Number</th>
                                            <td>@ViewBag.MD_Details.adharcard</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">Pancard Number</th>
                                            <td>@ViewBag.MD_Details.pancard</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">GST Number</th>
                                            <td>@ViewBag.MD_Details.gst</td>


                                        </tr>
                                        <tr>
                                            <th scope="row">Status</th>
                                            @if (ViewBag.MD_Details.Status == "Y")
                                            {
                                                <td style="color:green;font-weight:700;">Active</td>
                                            }
                                            else
                                            {
                                                <td style="color:red;font-weight:700;">Inactive</td>
                                            }

                                        </tr>
                                        <tr>
                                            <th scope="row">Joining Date</th>
                                            <td>@ViewBag.MD_Details.JoinDate</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>

<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html("");
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>

@*<script>
        $(function () {
            $('#State').val(@Model.State);
            $('#District').val(@Model.District);

        })
    </script>*@

