@model IEnumerable<Vastwebmulti.Models.retailer_slab>
@{
    ViewBag.Title = "Retailer_Slab";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
             <div class="card">
                <div class="col-md-8">
                    <div class="header" style="padding:10px; padding-left:12px;">
                        <h2>
                            <span style="font-size:24px;"></span>All Retailer Slab Details
                        </h2>
                    </div>    
                </div>
                 <div class="col-md-4">
                     @using (Html.BeginForm("Retailer_Slab", "Home", FormMethod.Post))
                     {
                      <div class="input-group" style="margin-top:3px;">
                                <div class="" style="border:1px solid #dddddd; height:38px;">
                                    @Html.DropDownList("slabnm", ViewBag.slabnm as SelectList, "Select Slab Name", new { id = "slabnm", @class = "selectpicker form-control", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;", @required = "required" })
                                </div>
                                <span class="input-group-addon">
                                    <button type="submit" class="btn bg-blue-grey waves-effect" style="margin-top:-6px; height:38px; ">
                                        <i class="material-icons" style="top:4px;">save</i>
                                        <span style="top:-2px;">Submit</span>
                                    </button>
                                </span>
                            </div>
                     
                       }
                 </div>
             </div>
            </div>
            
            
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-39px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;"></h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-23px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Operator&nbsp;Name</th>
                                        <th>Slab&nbsp;Name</th>
                                        <th>Commission&nbsp;(%)</th>
                                        <th>Commission&nbsp;(Rs.)</th>
                                        <th>Commission&nbsp;(Max Rs.)</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        var show = "";
                                        if (item.Operator_name == null)
                                        {
                                            show = item.@operator;
                                        }
                                        else
                                        {
                                            show = item.Operator_name;
                                        }
                                        <tr>
                                            <td> @show</td>
                                            <td> @Html.DisplayFor(modelItem => item.retailer_id)</td>
                                            <td> @Html.DisplayFor(modelItem => item.comm)</td>
                                            <td> @Html.DisplayFor(modelItem => item.commrs)</td>
                                            <td> @Html.DisplayFor(modelItem => item.maxrs)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

