@model IEnumerable<Vastwebmulti.Models.select_Dealer_credit_report_by_Wadmin_Result>
@{
    ViewBag.Title = "Show_Credit_report_by_admin";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-3">
                <a href="@Url.Action("show_credit_Report","Home")"  class="btn btn-danger  btn-link" style="padding:10px;">show_credit_Report</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Show_Retailer_credit","Home")"  class="btn  btn-link" style="padding:10px;">Show_Retailer_credit</a>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="col-md-12">
            <hr class="border-bottom-black-1" style="background-color:black;" />
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">MY CREDIT REPORT BY ADMIN &nbsp;></li>
                        </ol>
                    </div>
                    <div class="body" style="margin-top:-49px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR.NO</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Last&nbsp;Transaction&nbsp;Date</th>
                                        <th>Last&nbsp;Transaction&nbsp;Type</th>
                                        <th>Live&nbsp;Balance</th>
                                        <th>Current&nbsp;Outstanding</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.WEmail</td>
                                            <td>@item.Name</td>
                                            <td>@item.transfer_date</td>
                                            <td>@item.bal_type</td>
                                            <td>@item.dealer_postbal</td>
                                            <td>@item.cr</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td><p style="font-size:17px;">Total</p></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><p style="font-size:17px;">@Model.Sum(a => a.cr)</p></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>





