@model IEnumerable<Vastwebmulti.Models.Login_info>
@{
    ViewBag.Title = "WebLogin";
    Layout = "~/Areas/WDealer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top:75px !important;
    }
    .wdealer-weblogin a::after {
        content: "";display: block;width: 20px;height: 20px;float: left;border-radius: 50%;
        background: url('../../../../ashok-images/down-arrowweb.svg')no-repeat;
        background-size: contain;background-color: @PageData["Globalfirst"];
        background-size: 12px;background-position: center;transform: rotate(-180deg);transition: .4s linear;margin-top:0px;margin-right: 4px;
    }
    .wdealer-weblogin .wdealerwebactive::after, .wdealer-weblogin a:hover::after {
        background: url('../../../../ashok-images/correct.svg')no-repeat;
        transform: none;transition: .4s linear;background-size: 12px;background-color: @PageData["GlobalSecond"];
        background-position: center;background-position-x: 3px;
    }
    .wdealer-weblogin a:hover{background-color:@PageData["Globalfirst"] !important;}
    .wdealer-weblogin a span {color: #fff !important;font-size:14px;}
    .wdealer-weblogin {width: auto;float: left;}
    .wmasteralltwodate{width:50%;float:left;position:relative;}
    .wdealer-tabledata-all table {background: #f5f5f5;}
.wdealer-tabledata-all table, .wdealer-tabledata-all table tr, .wdealer-tabledata-all table tr th, .wdealer-tabledata-all table tr td {border-color: #ddd !important;border: 1px solid;}
    .wdealer-tabledata-all table tr th, .wdealer-tabledata-all table tr td {padding: 8px 5px;}

    @@media screen and (max-width:767px){
        .wdealer-date-search {width: 100% !important;margin-top: 10px;margin-bottom: 5px;}
        .card.wdealer-tabledata-all .table-responsive {border: 0;}
        .wdealer-webfirst {padding-left: 0;}
    }
    @@media screen and (max-width:480px){
        .wdealer-date-search .col-md-2 {width: 28% !important;}
        .wdealer-date-search .col-md-6 {width:72% !important;padding-left: 0;}
        .wdealer-date-search .col-md-6 .form-iconmy {display: none;}
        .wdealer-date-search .col-md-6 input {text-align: center;font-size: 12px;}
        .wdealer-weblogin {padding-right: 0;}
        .wdealer-weblogin a span {font-size: 12px;}
        .wdealer-weblogin a:last-child {margin-left: 0 !important;}
        .wdealer-weblogin a {padding: 6px 5px;}
    }
</style>
<section class="content">
    <div class="container-fluid wdealer-webfirst">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 0; ">
                    <div class="col-md-6 wdealer-weblogin" style="padding-left:0px;">

                        <a href="@Url.Action("WebLogin","Home")" id="btn" class="btn wdealerwebactive" style="margin-top:0px;height:32px;border:1px solid #c7c2c2;background: @PageData["Globalfirst"];">
                            <span style="top:0px; color: black; margin-left: 0;">Web Success Login</span>
                        </a>
                        <a href="@Url.Action("WebLoginFailed","Home")" id="btn" class="btn" style="margin-top:0px;margin-left:12px;height:32px;border:1px solid #c7c2c2;background-color: @PageData["GlobalSecond"];" title="Go to Web Failed Login History">
                            <span style="top:0px;color:black;margin-left:0;">Web Failed Login</span>
                        </a>
                    </div>

                    @using (Html.BeginForm("WebLogin", "Home", FormMethod.Post))
                    {


                <div class="wdealer-date-search" style="width:auto;float:right;">
                    <div class="col-md-2" style="float:right;width:auto;padding:0px;">
                        <center>
                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top:0px; margin-left:0px; height:32px;border:1px solid #ddd !important;width:100%;float:left;background:#eae9e9 !important;">
                                <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                <span style="top:-1px;color:#555;">Search</span>
                            </button>
                        </center>
                    </div>
                    <div class="col-md-6" style="float:right;width:auto;padding-right:6px;">
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="input-daterange input-group">
                                <div class="wmasteralltwodate" style="padding-right:3px;">
                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding:5px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                    </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;height:32px;", autocomplete = "off" })
                                </div>
                                <div class="wmasteralltwodate" style="padding-left:3px;">
                                    <div class="form-iconmy" style="top: 0px;left:4px;padding:5px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                    </div>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;height:32px;", autocomplete = "off" })
                                </div>
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>

                    }

                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card wdealer-tabledata-all">
                
                    <div class="body" style="padding:7px 0;">
                        <div class="table-responsive" style="position:inherit;">
                            <table id="" class="table" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;Id</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.UserId</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>@item.CurrentLoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>