@model Vastwebmulti.Models.proc_ProductList_Result

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<link href="~/CSS/PageCss/ProductView.css" rel="stylesheet" />
<section class="content" style="margin: 75px 0px 0 0px;">
    <!-- Product Detailed Description-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="card">
                            <div class="body bg-white">
                                <div class="image">
                                    <img class="object-fit_scale-down" src="@Url.Content("~"+Model.Photo)" />
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <a href="@Url.Action("viewCart","ECommerce")" class="btn btn-block btn-lg btn-primary waves-effect">
                                                <i class="material-icons">shopping_cart</i>
                                                <span> Go To Cart</span>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            @using (Html.BeginForm("doPayment", "ECommerce",FormMethod.Post))
                                        {
                                                <input type="hidden"  name="productID" value="@Model.ProductID" />
                                                <button type="submit" class="btn btn-block btn-lg btn-primary waves-effect">
                                                    <i class="material-icons">offline_bolt</i>
                                                    <span> Buy Now</span>
                                                </button>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="card" style="min-height:528px;">
                            <div class="body bg-blue-grey" style="min-height:530px;">
                                <h3>@Model.Name</h3>
                                <p>@Model.ShortDescription></p>
                                <small style="text-decoration:line-through;">
                                    MRP : @(string.Format("{0:C2}", Model.ListPrice))
                                </small>
                                <br />
                                <small>
                                    PRICE : @(string.Format("{0:C2}",Model.StandardPrice))
                                </small>
                                <br />
                                @if (Model.stock != null && Model.stock > 0)
                                {
                                <p style="color:greenyellow;"><small style="color:greenyellow;">
                                    IN STOCK : @Model.stock
                                </small></p>
                                }
                                else
                                {
                                    <small>
                                        IN STOCK : @Model.stock
                                    </small>
                                }
                                <hr />
                                <strong>
                                    @Html.Raw(Model.FullDescription)
                                </strong>
                                <br />
                                <p>Vendor: This Product is Filled And Soled By 
                                <a href="javascript:void(0);" style="color:#0035f7;">@ViewBag.Vendor.Firmname</a>
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- END-->
</section>

@Html.Partial("Loder")
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        //alert('@ViewBag.Vendor.Firmname');
    });

    
</script>



