@model List<Vastwebmulti.Models.proc_HotelReport_new_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Hotel Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Ticket&nbsp;Status</th>
                <th>frm name</th>
                <th>Hotel&nbsp;Information</th>
                <th>Room</th>
                <th>Bookind&nbsp;Date&nbsp;</th>
                <th>check&nbsp;in&nbsp;Date</th>
                <th>Publish&nbsp;Fare</th>
                <th>Price</th>
                <th>Pre</th>
                <th>Debit</th>
                <th>Post</th>
                <th>Total&nbsp;Debit</th>
                <th>Booking&nbsp;Id</th>
                @*<th>Dealer&nbsp;Pre</th>
                    <th>Dealer&nbsp;Inc</th>
                    <th>Dealer&nbsp;Post</th>
                    <th>Master&nbsp;Pre</th>
                    <th>Master&nbsp;Inc</th>
                    <th>Master&nbsp;Post</th>
                    <th>Admin&nbsp;Pre</th>
                    <th>Admin&nbsp;Inc</th>
                    <th>Admin&nbsp;Post</th>*@

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.TicketStatus;
                if (item.TicketStatus.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>

                    <td>@item.Frm_Name </td>
                    <td>@item.HotelName</td>
                    <td>@item.NoOfRooms</td>
                    <td>@item.ticketdate</td>
                    <td>@item.checkindate </td>
                    <td>@item.totalpublishfare</td>
                    <td>@item.totalOfferedFare</td>

                    <td>@item.rempre</td>
                    <td>@item.reminc</td>
                    <td>@item.rempost </td>
                    <td>@item.reminc </td>

                    <td>@item.BookingId</td>
                    @*<td>@item.DlmPre</td>
                        <td>@item.DlmInc</td>
                        <td>@item.DlmPost</td>
                        <td>@item.MdPre</td>
                        <td>@item.MdInc</td>
                        <td>@item.MdPost</td>
                        <td>@item.AdminPre</td>
                        <td>@item.AdminInc</td>
                        <td>@item.AdminPost</td>*@

                </tr>
            }


        </tbody>
    </table>
</body>
</html>
