@model List<Vastwebmulti.Models.proc_HotelCancellationReport_Result>
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}


<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

        .h_menu-set .page-header-third {
            margin-left: 0;
            margin-right: 0;
        }

    .col-md-2.pnrclass.pnrclassnumber {
        padding-left: 0;
    }
    .col-md-2.flightdate-show.flightdatesecond {
        padding-left: 0;
    }

    
    /* new css  */

     .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/TRAVEL.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }
    .cancel-hotel-img {width:20px;height:20px;border-radius:50%;padding:5px;}

    .flight-secondcss .btn-group button {
        background-size: 10px;
    }

    @@media only screen and (max-width:1169px){

        .container-fluid.hotelcsschange {
            padding-left: 15px;
        }

    }

    @@media only screen and (max-width:991px){

        .flight-secondcss #sts.col-md-2, .flight-secondcss .pnrclass {
            float: left;
        }
        .col-md-2.flightdate-search {
            float: left;
        }
        .col-md-2.bus-status.bus-status2, .col-md-2.pnrclass.pnrclassnumber {
            float: left;
        }
        .flightdate-show {
            float: left;
        }
        flight-secondcss .pnrclass {
            padding-left: 0px !important;
        }
        .col-md-2.flightdate-search {
            padding-left: 0px !important;
        }




    }

    @@media only screen and (max-width:990px) {
        .clearfix-tableresponshive {
            margin: 0;
        }

            .clearfix-tableresponshive .col-md-12 {
                padding: 0;
            }


    }

    @@media only screen and (max-width:767px){

        .col-md-2.bus-status.bus-status2, .col-md-2.pnrclass.pnrclassnumber {
            width: 50%;
            margin: 0;
            padding-left: 3px !important;
            margin-bottom: 4px;
        }
        .flight-secondcss #sts.col-md-2, .flight-secondcss .pnrclass {
            width: 50% !important;
            margin: 0;
            margin-bottom: 4px;
        }


    }

    @@media only screen and (max-width:520px){

        .col-md-2.bus-status.bus-status2 {
            width: 50%;
            margin: 0;
            padding-right: 3px !important;
            margin-bottom: 4px;
            padding-left: 0px !important;
        }
        .col-md-2.pnrclass.pnrclassnumber {
            width: 50%;
            margin: 0;
            padding-right: 0px !important;
            margin-bottom: 4px;
            padding-left: 0px !important;
        }
        .col-md-2.flightdate-search {
            margin-top: 0px;
        }
        .flightreportcssaaa-respo .col-md-2.flightdate-show.flightdatesecond {
            width: 100% !important;
            margin-bottom: 4px;
        }

    }

    @@media only screen and (max-width:480px){

        .h_menu-set {
            display: block;
        }
        #tabsrepor-navs li {
            margin-right: 0 !important;
            width: 33.333%;
            float: left;
            padding-right: 2px;
        }

        #tabsrepor-navs li a{
            width: 100%;
        }
        #ul li {
            margin-left: 0px !important;
            padding-right: 2px;
            width: 50%;
        }

        .col-md-2.bus-status.bus-status2, .col-md-2.pnrclass.pnrclassnumber {
            width: 100% !important;
            margin: 0;
            padding-left: 0px !important;
            margin-bottom: 4px;
            padding-right: 0px !important;
        }



    }



</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content" style="">
    <div class="container-fluid hotelcsschange hotelcsschange-responsive">
        <div class="newtabsreport newtabsreportBusreport" id="flightaddclass">
            <div class="container container-tabsrepor">

                <div class="h_menu-set">
                    <div class="page-header-third">
                        @Html.Partial("~/Areas/RETAILER/Views/Home/_Travelsview.cshtml")
                    </div>


                    <div class="page-header-third">

                        <div class="row clearfix flight-changecss" style="margin:0;">
                            <div class="col-md-12 Cancellations" style="padding:0;">
                                <div class="card">
                                    <div class="col-md-12" style="padding:0;">
                                        
                                            @Html.Partial("_hotelpartialmenu")
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                
            </div>
        </div>


        <div class="row clearfix tabsrepor-content flightreportcssaaa flightreportcssaaa-respo" style="margin:0;">
        
        <div class="row clearfix flight-secondcss flightrortcssaaa" style="margin:0;">
            @using (Html.BeginForm("CancellationQueue", "Hotel", FormMethod.Post))
            {
                <div class="col-md-12" style="padding:0;">
                    <div class="card" style="">
                        <div class="page-header-third">
                            
                            <div class="col-md-12" style="padding:0;">
                                <div class="row" style="margin:0;">
                                    <div class="col-md-2 bus-status bus-status2">
                                        <div class="form-group">
                                            <div class="" style="width:100%;border:1px solid #dddddd;padding-bottom:10px;">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                        new SelectListItem{Text="PENDING",Value="PROCCESSED"},
                        new SelectListItem{Text="FAILED",Value="FAILED"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2 bus-status bus-status2" style="padding-left: 8px;display:none">
                                        <div class="form-group">
                                            <div class="" style="width:100%;border:1px solid #dddddd;padding-bottom:10px;">
                                                @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="TOP 50",Value="50",},
                        new SelectListItem{Text="TOP 100",Value="100"},
                        new SelectListItem{Text="TOP 500",Value="500"},
                        new SelectListItem{Text="TOP 1500",Value="1500"},
                            new SelectListItem{Text="ALL Entry",Value="10000"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2 pnrclass pnrclassnumber">
                                        <div class="form-group">
                                            <div style="width:100%;border:1px solid #dddddd;">
                                                @Html.TextBox("TXNID", "", new { @class = "form-control", placeholder = "Txn/Ref No", autocomplete = "off", @style = "height:30px;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 flightdate-show flightdatesecond">
                                        <div class="form-group" style="margin-bottom:0px;margin-top:2px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                </div>
                                                <div class="datesate datesatese datesatese-eruyy" style="width:50%;float:left;">
                                                    <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })

                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2 flightdate-search flightsecond-srarch">
                                        <div class="form-group">
                                            <div class="form-line" style="border-bottom:none;">
                                                <button type="submit" class="btn" id="btntype" name="btntype" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 buttonPdf buttonPdfs" style="width: 30%;float: right;text-align: right;">

                                        <button id="btnPDF">PDF</button>
                                        <button id="btnExport">Export</button>
                                        @*<button>Total</button>*@
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
            </div>


        <div class="row clearfix clearfix-tableresponshive">
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="padding:0px;">
                        
                        <div class="page-header-third">
                            <div class="table-responsive " style="position:inherit;">
                                <table id="example1" class="table table-bordered table-striped table-hover" style="width:100%; font-size:12px;background:#f9f9f9;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Live&nbsp;Status</th>
                                            <th>Cancellation&nbsp;Id</th>
                                            <th>Booking&nbsp;Id</th>
                                            <th>Cancallation&nbsp;Charge</th>
                                            <th>Refund&nbsp;Amount</th>
                                            <th>Request&nbsp;Date</th>
                                            <th>Response&nbsp;Date</th>
                                            <th>#</th>

                                        </tr>
                                    </thead>
                                    <tbody id="myTable">

                                        @foreach (var item in Model)
                                        {
                                            var sts = "";
                                            var color = "";
                                            var img = "";
                                            if (item.ChangeRequestStatus.Contains("1") || item.ChangeRequestStatus.Contains("2"))
                                            {
                                                color = "#ff9600";
                                                sts = "Pending";
                                                img = "../../ashok-images/clkk.png";
                                            }
                                            if (item.ChangeRequestStatus.Contains("3"))
                                            {
                                                color = "green";
                                                sts = "Success";
                                                img = "../../ashok-images/correct.svg";
                                            }
                                            if (item.ChangeRequestStatus.ToUpper().Contains("4"))
                                            {
                                                color = "red";
                                                sts = "Failed";
                                                img = "../../ashok-images/closes.svg";
                                            }
                                            //if (item.TicketStatus.Contains("Refund"))
                                            //{
                                            //    color = "#9C27B0";
                                            //    sts = "Refund";
                                            //}
                                            <tr>
                                                <td><p style="color:@color;font-size:15px;font-weight:700;"><img class="cancel-hotel-img" src="@img" style="background:@color;" />@*@sts*@</p></td>
                                                <td>@item.ChangeRequestId</td>
                                                <td>@item.BookingId</td>
                                                <td>@item.CancellationCharge</td>
                                                <td>@item.RefundedAmount</td>
                                                <td>
                                                    @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationRequestDate)
                                                </td>
                                                <td>
                                                    @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationResponseDate)
                                                </td>

                                                <td>@Ajax.ActionLink("View Status", "CancellationStatus", "Hotel", new { ChangeReqId = item.ChangeRequestId, idno = item.idno }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessStatus", OnFailure = "OnFailedStatus", OnComplete = "reloadPage", LoadingElementId = "loadermoney" }, new { @class = "btn btn-primary" }) </td>


                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->

<!-- Price Modal -->

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
   
  
    function OnSuccessStatus(data)
    {
        var respo = JSON.parse(data);
        if (respo.Status == "Pending")
        {
            swal("Keep calm!", respo.Message, "warning");
        }
        else if (respo.Status == "Success") {
            swal("Wow!", respo.Message, "success");

        }
        else {
            swal("Oops!", respo.Message, "error");
        }
    }
    function OnFailedStatus(data) {
        swal("Oops!", "Failed to fatch data.", "error");
    }
    $(function () {

            var sts = '@TempData["Status"]';
        var msg = '@TempData["Message"]';
        if (sts != null && sts != '')
        {
            if(sts == "Success")
            {
                swal("Wow!", msg, "success");
            } else {
                swal("Oops!", msg, "error");
            }
        }
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script>
    function reloadPage()
    {
        window.setTimeout(function () {
            location.reload();
        }, 3000);
    }
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/RETAILER/Hotel/CancellationQueue') {
            $('#flightaddclass ul li:last-child a, .list.report-list-change li#rewertyd a').addClass('active');
        }
    });
</script>

<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('qdatepickersecondcancelreport');
    });


</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var ddl_status = $('#ddl_status').val();
        var ddl_top = $('#ddl_top').val();
        var bookingid = $('#TXNID').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelCancellationQueue", "Hotel")?ddl_status=' + ddl_status + '&ddl_top=' + ddl_top + '&bookingid=' + bookingid + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var ddl_status = $('#ddl_status').val();
        var ddl_top = $('#ddl_top').val();
        var bookingid = $('#TXNID').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDFCancellationQueue", "Hotel")?ddl_status=' + ddl_status + '&ddl_top=' + ddl_top + '&bookingid=' + bookingid + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
