@model Vastwebmulti.Areas.RETAILER.ViewModels.HotelBookingDetailsResponseModel
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}


<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>

<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body bg-blue-grey">
                        @Model.Content.Addinfo.HotelName <br />
                        <small> @Model.Content.Addinfo.AddressLine1 @Model.Content.Addinfo.AddressLine2</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body bg-blue-grey">
                        Check-In : <span>@Model.Content.Addinfo.CheckInDate</span> <br />
                        Check-Out : <span>@Model.Content.Addinfo.CheckOutDate</span> <br />
                        Rooms : <span>@Model.Content.Addinfo.NoOfRooms</span> <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body bg-blue-grey">
                        Booking ID : <span>@Model.Content.Addinfo.BookingId</span> <br />
                        Booking Status : <span>@Model.Content.Addinfo.HotelBookingStatus</span> <br />
                        Booking Date : <span>@Model.Content.Addinfo.BookingDate</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="header">
                        <h2>
                            Guest Details
                        </h2>
                    </div>
                    <div class="body" style="margin-top:-18px;padding:0px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover " style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>FIRST NAME</th>
                                        <th>Last NAME</th>
                                        <th>AGE</th>
                                        <th>PHONE</th>
                                        <th>TYPE</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{ int i = 1;}
                                    @foreach (var item in Model.Content.Addinfo.HotelRoomsDetails)
                                    {
                                        foreach (var pax in item.HotelPassenger)
                                        {
                                            <tr>
                                                <th scope="row">@i</th>
                                                <td>@pax.Title</td>
                                                <td>@pax.FirstName</td>
                                                <td>@pax.LastName</td>
                                                <td>@pax.Age</td>
                                                <td>@pax.Phoneno</td>
                                                <td>@pax.PaxType</td>
                                            </tr>
                                        }

                                        i++;
                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->
<div id="guestDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Guest Details</h4>
            </div>
            <div class="modal-body" id="guestDescription">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Price Modal -->
<div id="guestPriceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Hote Price Details</h4>
            </div>
            <div class="modal-body" id="priceDescription">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->


