@model List<Vastwebmulti.Models.proc_HotelReport_new_Result>
    @*{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    }*@


<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

        .h_menu-set .page-header-third {
            margin-left: 0;
            margin-right: 0;
        }

    /* new css  */

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .modal {
        top: 100px;
    }

    .selectborder-reta-second select {
        border: 1px solid #ccc !important;
        text-align:left !important;
    }
    .selectborder-reta-second {width: 12% !important;padding-left: 0px !important;}
    .hotelretailer-modal-table table, .hotelretailer-modal-table table th, .hotelretailer-modal-table table td {
        border: 1px solid #dbdbdb;
        background: #f9f9f9;
        margin-bottom: 0;
    }
    .hotelretailer-modal-table .modal-footer {
        padding: 10px 25px;
        padding-top: 0;
    }

        .hotelretailer-modal-table .modal-footer button {
            background: #a4a0a0 !important;
            font-size: 14px;
            border-radius: 3px;
        }    

    .hotelretailer-modal-table .modal-header button {
        color: #000;
        opacity: 1;
        margin-top: 0px;
    }
    .hotel-table-retailer table tr th {white-space:nowrap;}
    .hotel-table-retailer table tr th, .hotel-table-retailer table tr td {
        font-size: 14px;
    }

    @@media only screen and (max-width:1169px){

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }
        .container-fluid.hotel-newclassadd.hotel-newclassadd-respon {
            padding-left: 15px;
        }


    }



</style>

<section class="content aepsfullpage all-chan-aepsfullpage" style="">
    <div class="container-fluid hotel-newclassadd hotel-newclassadd-respon">
        <div class="newtabsreport newtabsreportBusreport newtabsreport-hotel busreport-responshive dfffgffff-res">
            <div class="container container-tabsrepor">

                <div class="h_menu-set">
                    <div class="page-header-third">
                        @Html.Partial("~/Areas/RETAILER/Views/Home/_Travelsview.cshtml")
                    </div>

                    <div class="page-header-third">
                        <div class="row clearfix flight-changecss">
                            <div class="col-md-12">
                                <div class="card bus-reportbus" id="cardbus-reportbus">
                                    <div class="flight-changecss" id="ulstart">

                                        @Html.Partial("_hotelpartialmenu")

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-content tabsrepor-content tabsrepor-content-responshive" id="tabsrepor-contentss">
            
            <div class="row clearfix flight-secondcss" id="flight-secondcssee" style="margin:0;">
                @using (Html.BeginForm("HotelReport", "Hotel", FormMethod.Post))
                {
                    <div class="col-md-12 hotelclasschange">
                        <div class="card" style="">
                            <div class="page-header-third">
                                <div class="col-md-2" style="display:none;">
                                    <div style="margin-left:-6px;">
                                        <p style="font-size:20px;color:#aba8a8;margin-top:2px;">Hotel&nbsp;Report</p>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row" style="margin:0;">
                                        <div class="col-md-2 bus-status bus-status2 selectborder-reta-second">
                                            <div class="form-group">
                                                <div class="" style="width:100%;border:1px solid #dddddd;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                    {
                                                   new SelectListItem{ Text="Status",Value="",},
                                                   new SelectListItem{Text="SUCCESS",Value="Confirmed"},
                                                   new SelectListItem{Text="PENDING",Value="PROCCESSED"},
                                                   new SelectListItem{Text="FAILED",Value="Failed"}
                                                    }, new { @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 bus-status bus-status2 selectborder-reta-second">
                                            <div class="form-group">
                                                <div class="" style="width:100%;border:1px solid #dddddd;">
                                                    @Html.DropDownList("ddl_status_ticket", new List<SelectListItem>
                                                    {
                                                   new SelectListItem{ Text="Ticket Status",Value="",},
                                                   new SelectListItem{Text="SUCCESS",Value="Success"},
                                                   new SelectListItem{Text="PENDING",Value="PROCCESSED"},
                                                   new SelectListItem{Text="Failed",Value="Failed"}
                                                    }, new { @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 flightdate-show finacial-selectsss">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                <div class="input-daterange input-group">
                                                    <div class="datesate datesates">
                                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:33px;", autocomplete = "off" })
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                    </span>
                                                    <div class="datesate datesatese">
                                                        <div class="form-iconmy form-iconmyss" id="iconmyssee" style="left: 149px;top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:33px;", autocomplete = "off" })
                                                    </div>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-md-2 flightdate-search">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;">
                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">Search</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-3 buttonPdf col-md-3buttonPdf" style="width: 26%;float: right;text-align: right;">

                                            <button id="btnPDF">PDF</button>
                                            <button id="btnExport">Export</button>
                                            <button>Total</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row clearfix clearfix-hotelclass" style="margin:0;">
            <div class="col-md-12" style="padding:0;">
                <div class="card">
                    <div class="body" style="padding: 0;">

                        <div class="page-header-third">
                            <div class="table-responsive hotel-responsive hotel-tablerespons tablethirddesign-newnew hotel-table-retailer" style="position:inherit;">
                                <table id="example1" class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;background:#f9f9f9;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Booking Status</th>
                                            <th>Hotel Name</th>
                                            <th>Rooms</th>
                                            <th>Publish Fare</th>
                                            <th>Pre&nbsp;₹</th>
                                            <th>Offer Fare</th>
                                            <th>Debit Amount</th>
                                            <th>Tds</th>
                                            <th>Post&nbsp;₹</th>
                                            <th>Booking&nbsp;Id</th>

                                            <th>Ticket Status</th>
                                            <th>Date</th>
                                            <th>Check In Date</th>
                                            <th>Check Out Date</th>
                                            <th>View&nbsp;Guests</th>
                                            <th>View&nbsp;Price</th>
                                            <th>View&nbsp;Status</th>
                                            <th>Cancel Ticket</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                var img = "";
                                                var color = "";

                                                if (item.HotelBookingStatus.Contains("Proccessed"))
                                                {
                                                    color = "#ff9600";
                                                    img = "../../ashok-images/clkk.png";
                                                }
                                                if (item.HotelBookingStatus.Contains("Confirmed"))
                                                {
                                                    color = "green";
                                                    img = "../../ashok-images/correct.svg";
                                                }
                                                if (item.HotelBookingStatus.Contains("Failed"))
                                                {
                                                    color = "red";
                                                    img = "../../ashok-images/closes.svg";
                                                }
                                                if (item.HotelBookingStatus.Contains("Refund"))
                                                {
                                                    color = "#9C27B0";
                                                    img = "../../ashok-images/undo.svg";
                                                }
                                                <tr>
                                                    <td><img src="@img" style="background:@color;" />@*@item.HotelBookingStatus*@</td>
                                                    <td style="white-space:nowrap;">@item.HotelName</td>
                                                    <td>@item.NoOfRooms</td>
                                                    <td>@item.totalpublishfare</td>
                                                    <td>@item.rempre</td>
                                                    <td>@item.totalOfferedFare</td>
                                                    <td>@item.reminc</td>
                                                    <td>@item.remtds</td>
                                                    <td>@item.rempost</td>
                                                    <td>@item.BookingId</td>

                                                    <td>@item.TicketStatus</td>
                                                    <td>@item.ticketdate</td>
                                                    <td>@item.checkindate</td>
                                                    <td>@item.checkoutdate</td>
                                                    <td>@Ajax.ActionLink("View Guests", "GuestDetails", "Hotel", new { TXNID = item.TraceId }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailed", UpdateTargetId = "guestDescription" }, new { @class = "btn btn-default", @style = "1px solid #c7c2c2" }) </td>
                                                    <td>@Ajax.ActionLink("View Price", "HotelPriceDetails", "Hotel", new { TXNID = item.TraceId }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessPrice", OnFailure = "OnFailedPrice", UpdateTargetId = "priceDescription" }, new { @class = "btn btn-default", @style = "1px solid #c7c2c2" }) </td>
                                                    <td>@Ajax.ActionLink("View Status", "HotelBookingStatus", "Hotel", new { TXNID = item.TraceId }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessStatus", OnFailure = "OnFailedStatus" }, new { @class = "btn btn-default", @style = "1px solid #c7c2c2" }) </td>
                                                    @if (item.HotelBookingStatus == "Confirmed" && item.IsVoucherBooking == true)
                                                    {
                                                        <td>
                                                            @Ajax.ActionLink("CANCEL", "BookingCancallation", "Hotel", new { id = item.idno, BookingId = item.BookingId },
                                                     new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessStatus", OnFailure = "OnFailedStatus" }, new { @class = "btn btn-default", @style = "1px solid #c7c2c2" })
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                    <div class="loadertablecssnew">Loading...</div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->
<div id="guestDetailsModal" class="modal fade guestDetailsModalnew hotelretailer-modal-table" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" style="float:left;">Guest Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="guestDescription">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Price Modal -->
<div id="guestPriceModal" class="modal fade guestDetailsModalnew hotelretailer-modal-table" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hote Price Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="priceDescription">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    function OnSuccess(data) {
        //alert("success");
        $("#guestDescription").html(data);
        $("#guestDetailsModal").modal('show');
    }
    function OnFailed() {
        swal("Oops!", "Failed to fatch data.", "error");
    }
    function OnSuccessPrice(data) {
        //alert("success");
        $("#priceDescription").html(data);
        $("#guestPriceModal").modal('show');
    }
    function OnFailedPrice() {
        swal("Oops!", "Failed to fatch data.", "error");
    }
    function OnSuccessStatus(data)
    {
        var respo = JSON.parse(data);
        if(respo.Status == "Success")
        {
            swal("Wow!", respo.Message, "success");
        } else {
            swal("Oops!", respo.Message, "error");
        }
    }
    function OnFailedStatus(data) {
        swal("Oops!", "Failed to fatch data.", "error");
    }
    $(document).ready(function () {

            var sts = '@TempData["Status"]';
        var msg = '@TempData["Message"]';
        if (sts != null && sts != '')
        {
            if(sts == "Success")
            {
                swal("Wow!", msg, "success");
            } else {
                swal("Oops!", msg, "error");
            }
        }
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script>
    function reloadPage() {
        location.reload();
    }
</script>

<!--My Script-->

<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerlast');
    });


</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/RETAILER/Hotel/HotelReport') {
            $('.list.report-list-change li#rewertyd a').addClass('active');
        }
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var ddl_status = $('#ddl_status').val();
        var ddl_status_ticket = $('#ddl_status_ticket').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelHotelReport", "Hotel")?ddl_status=' + ddl_status + '&ddl_status_ticket=' + ddl_status_ticket + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url
});
</script>
<script>
    $("#btnPDF").click(function () {
        var ddl_status = $('#ddl_status').val();
        var ddl_status_ticket = $('#ddl_status_ticket').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_HotelReport", "Hotel")?ddl_status=' + ddl_status + '&ddl_status_ticket=' + ddl_status_ticket + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>