@model List<Vastwebmulti.Models.proc_HotelReport_new_Result>
@{
    ViewBag.Title = "PDF_HotelReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TicketReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table id="example1" class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;background:#f9f9f9;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Booking Status</th>
                <th>Hotel Name</th>
                <th>Rooms</th>
                <th>Publish Fare</th>
                <th>Pre&nbsp;₹</th>
                <th>Offer Fare</th>
                <th>Debit Amount</th>
                <th>Tds</th>
                <th>Post&nbsp;₹</th>
                <th>Booking&nbsp;Id</th>

                <th>Ticket Status</th>
                <th>Date</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>@item.HotelBookingStatus</td>
                <td>@item.HotelName</td>
                <td>@item.NoOfRooms</td>
                <td>@item.totalpublishfare</td>
                <td>@item.rempre</td>
                <td>@item.totalOfferedFare</td>
                <td>@item.reminc</td>
                <td>@item.remtds</td>
                <td>@item.rempost</td>
                <td>@item.BookingId</td>

                <td>@item.TicketStatus</td>
                <td>@item.ticketdate</td>
                <td>@item.checkindate</td>
                <td>@item.checkoutdate</td>
            </tr>
                }
             }
        </tbody>
    </table>
    </body>
</html>
