@model List<Vastwebmulti.Models.proc_HotelCancellationReport_Result>
@{
    ViewBag.Title = "PDFCancellationQueue";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TicketReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table id="example1" class="table table-bordered table-striped table-hover" style="width:100%; font-size:12px;background:#f9f9f9;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Live&nbsp;Status</th>
                <th>Cancellation&nbsp;Id</th>
                <th>Booking&nbsp;Id</th>
                <th>Cancallation&nbsp;Charge</th>
                <th>Refund&nbsp;Amount</th>
                <th>Request&nbsp;Date</th>
                <th>Response&nbsp;Date</th>

            </tr>
        </thead>
        <tbody id="myTable">

            @foreach (var item in Model)
            {
                var sts = "";
                var color = "";
                var img = "";
                <tr>
                    <td>@item.ChangeRequestStatus</td>
                    <td>@item.ChangeRequestId</td>
                    <td>@item.BookingId</td>
                    <td>@item.CancellationCharge</td>
                    <td>@item.RefundedAmount</td>
                    <td>
                        @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationRequestDate)
                    </td>
                    <td>
                        @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationResponseDate)
                    </td>

                </tr>

            }

        </tbody>
    </table>
</body>
</html>