@model List<Vastwebmulti.Models.schdule_fund>
<div class="purchase-history">
    <div class="table-responsive">
        <table class="table  table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>API Name</th>
                    <th>Payee Name</th>
                    <th>Bank Name</th>
                    <th>Account Number</th>
                    <th>Ifsc Code</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.apiname</td>
                        <td>@item.PayeeName</td>
                        <td>@item.bankName</td>
                        <td>@item.ifsccode</td>
                        <td>@item.txnamt</td>
                        <td>@item.status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



