
@model List<Vastwebmulti.Models.proc_FlightCancellationReport_Result>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Flight";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .ress :hover {
        color: #ff9600;
    }

    .view :hover {
        color: #3F51B5;
    }
       .nrch .material-icons:hover {
    color: green !important;
}
    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

     /*     New css vs responcive    */
    

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }



    @@media only screen and (max-width: 992px) {
        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }
        .tre3 {
            width: 100%;
            float: left;
            display: block !important;
        }


    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


        @@media only screen and (max-width:766px) {
    .tre1,.tre2{width: 100%;margin-bottom:5px;}
    .tre1 .kklo #custnav ul li a{padding: 5px 25px !important;}
    .tre2{padding-left:0px !important;}
    .tre2 .uuio #ul li a {padding: 5px 40px;}
    .tre3{width:100%;margin-bottom: 15px;}
    .tre3 .col-md-2 {width: 49% !important;height: 32px;margin-bottom: 5px;}
  .tre3 .col-md-5{width:100% !important;}
  .tre3 .col-md-5 .form-group.jjp {width: 100%;margin-bottom:5px;}
  .tre3 .col-md-5 .form-group.jjp input{width: 49% !important;}
    .tre3 .col-md-5 .form-group.jjp .nrr3 {
        width: 50%;
    }
    .tre3 .col-md-5 .form-group.jjp .nrr3 input{width: 100% !important;}
 .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > tbody > tr > td:first-child{border-left:1px solid var(--border-color); }
 .table-responsive > .table-bordered > thead > tr > th:last-child{border-right:1px solid var(--border-color);}
 }

        @@media only screen and (max-width:480px){

            .page-header-third #custnav ul li {
                width: 50%;
                float: left;
                margin: 0;
                padding: 5px 0;
                padding-right: 2px;
            }
            
            .tre1, .tre2 {
                width: 100% !important;
            }

            .D_menu {
                width: 100% !important;
            }

            .tre3 .col-md-2 {
                width: 100% !important;
            }
            .tre3 .col-md-5 .form-group.jjp input {
                width: 100% !important;
                margin-bottom: 4px;
            }
            .tre3 .col-md-5 .form-group.jjp .nrr3 {
                width: 100%;
            }
            .tre2 .uuio #ul li a {
                padding: 5px 18px;
            }

        }

        
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12 up-to-up" style="padding-right: 15px; padding-left: 15px;">
                <div class="card card-rel-third-respo">
                    
                    <div class="page-header-third" style="width: auto; float: left;">
                        <div class="col-md-2 tre1 up-third-design airtab-respon-third" style="padding: 0; width: auto;">
                            <div>
                                @Html.Partial("~/Areas/ADMIN/Views/Air/_travelReportMenu.cshtml")
                            </div>
                        </div>
                        <div class="col-md-2 tre2 up-third-design airtab-respon-third" style="padding: 0; width: auto;">
                            @Html.Partial("_FlightMenu")
                        </div>
                    </div>

                    <div class="page-header-third D_menu" style="width: auto; float: right;">
                        <div class="col-md-2 tre4 pdf-lastclass-third widthautposit-third-respon" style="padding: 0; width: auto;">
                            <div class="white-l-search-nine">
                                <div class="web-white-filter pdfexpoer-second totalbutton-secondclas" style="float: right;">
                                    <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                                </div>
                            </div>
                        </div>

                        <div class="white-success" style="display:none;position: absolute;right: 37px;width: auto;" id="total">
                            <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                            <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                            <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;float: left;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                  
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <div class="page-header-third">

                                <div class="col-md-6 tre3 all-type-third tickt-third-responsive" style="padding: 0px; margin: 0; width: 100%; display: flex; align-items: center; justify-content: space-between;">

                                    <div class="t_menu">
                                        <div class="bread-same-all-page breadsameall-second">
                                            <ul>
                                                <li class="smli">
                                                    <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                                    </a>
                                                </li>

                                                <li class="fullbodydycolorbg tmw-total-color-one">
                                                    CancellationReport
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="t_menu">
                                        @using (Html.BeginForm("CancellationReport", "Air", FormMethod.Post))
                                        {


                                            <div class="col-md-2 mrj jkjk responcive-fifty">
                                                <div class="">
                                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                                              {
                                           new SelectListItem{ Text="Admin",Value="Admin"},
                                           new SelectListItem{Text="Master",Value="Master"},
                                           new SelectListItem{Text="Distributor",Value="Dealer"},
                                           new SelectListItem{Text="Retailer",Value="Retailer"},
                                           new SelectListItem{Text="Api User",Value="APIID"},
                                            new SelectListItem{Text="Whitelabel",Value="Whitelabel"}
                                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                                </div>
                                            </div>

                                            <div class="col-md-2 mrj jkjk dip responcive-fifty" style="display:none;" id="allwhitelabel">
                                                <div class="form-line">
                                                    @Html.DropDownList("allwhitelabel", ViewBag.allwhitelabel as SelectList, "All Whitelabel", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                                </div>
                                            </div>
                                            <div class="col-md-2 mrj jkjk dip responcive-fifty" style="display:none;" id="allmaster">
                                                <div class="form-line">
                                                    @Html.DropDownList("allmaster", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                                </div>
                                            </div>

                                            <div class="col-md-2 mrj jkjk dip responcive-fifty" style="display:none;" id="dlm">
                                                <div class="form-line">
                                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                </div>
                                            </div>
                                            <div class="col-md-2 mrj jkjk dip responcive-fifty" style="display:none;" id="rem">
                                                <div class="form-line">
                                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                </div>
                                            </div>


                                            <div class="col-md-2 mrj jkjk responcive-fifty" id="sts">
                                                <div class="">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                {
                                        new SelectListItem{ Text="Status",Value="ALL",},
                                        new SelectListItem{Text="Success",Value="SUCCESS"},
                                        new SelectListItem{Text="Pending",Value="PENDING"},
                                        new SelectListItem{Text="Failed",Value="FAILED"}
                                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                                </div>
                                            </div>


                                            <div class="col-md-2 mrj responcive-fifty" style="width: 100px;">
                                                <div class="inp">
                                                    @Html.TextBox("PNR", "", new { @placeholder = "Enter PNR" })
                                                </div>
                                            </div>
                                            <div class="col-md-5 mrj responcive-full" style="width: auto;">
                                                <div class="form-group jjp">
                                                    <div class="input-daterange input-group">
                                                        <div class="custom-date-icon ner">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                                        <div class="nrr3">
                                                            <div class="custom-date-icon ner">
                                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                            </div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mrj responcive-fifty" style="margin-right: 0px;">
                                                    <button type="submit" value="Old" name="submit" class="btn input-back-second" style="background:transparent; border:1px solid #b1a6a638;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                        <span style="top:-2px;color:black;">Search</span>
                                                    </button>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>


                                    <div class="table-responsive" style="position:inherit;width:100%;float:left;margin-top:6px;">
                                        <table id="example" class="table table-bordered example-second thpadding-second" cellspacing="0" style="width:100%;font-size:12px;">
                                            <thead style="background-color:whitesmoke;position:inherit; color:black;">
                                                <tr>
                                                    <th style="width:110px;">Live&nbsp;Status</th>
                                                    <th>Email&nbsp;Id</th>
                                                    <th>Retailer&nbsp;Name</th>
                                                    <th>Frim&nbsp;Name</th>
                                                    <th>Request&nbsp;Type</th>
                                                    <th>Cancel&nbsp;Type</th>
                                                    <th>Cancellation&nbsp;Id</th>
                                                    <th>Request&nbsp;Date</th>
                                                    <th>Response&nbsp;Date</th>
                                                    <th>Refunded&nbsp;Amount</th>
                                                    <th>Charge</th>
                                                    <th>#</th>
                                                    <th>Retailer&nbsp;Pre</th>
                                                    <th>Retailer&nbsp;Income</th>
                                                    <th>Retailer&nbsp;Post</th>

                                                    <th>Dealer&nbsp;Pre</th>
                                                    <th>Dealer&nbsp;Income</th>
                                                    <th>Dealer&nbsp;Post</th>

                                                    <th>Master&nbsp;Pre</th>
                                                    <th>Master&nbsp;Income</th>
                                                    <th>Master&nbsp;Post</th>

                                                    <th>Admin&nbsp;Pre</th>
                                                    <th>Admin&nbsp;Income</th>
                                                    <th>Admin&nbsp;Post</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Count > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        #region CssSettings
                                                        var color = "";
                                                        var fontweight = "";
                                                        var text = "";
                                                        var emailid = "";
                                                        var Retailername = "";
                                                        var framname = "";
                                                        var mobile = "";
                                                        var rolename = "";
                                                        var icon = "";
                                                        var rchtype = "";
                                                        var rchtypeicon = "";
                                                        var sts = "";
                                                        var refundcolor = "";
                                                        var dmtytpe = "";

                                                        sts = ((Vastwebmulti.Areas.RETAILER.Enums.ChangeRequestStatus)Convert.ToInt32(item.ChangeRequestStatus)).ToString();

                                                        if (item.ChangeRequestStatus == 5)
                                                        {
                                                            color = "red";
                                                            fontweight = "700";
                                                        }
                                                        if (item.ChangeRequestStatus == 4)
                                                        {
                                                            color = "green";
                                                            fontweight = "700";
                                                        }
                                                        if (item.ChangeRequestStatus <= 3)
                                                        {
                                                            color = "#ff9600";
                                                            fontweight = "700";
                                                        }
                                                        if (item.ChangeRequestStatus == 6 || item.ChangeRequestStatus == 8)
                                                        {
                                                            color = "#9C27B0";
                                                            fontweight = "700";
                                                        }
                                                        if (item.ChangeRequestStatus == 7)
                                                        {
                                                            color = "#2196F3";
                                                            fontweight = "700";
                                                        }
                                                        #endregion
                                                        <tr style="font-weight:700;">
                                                            <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p></td>
                                                            <td>
                                                                <p style="font-size:13px;">&nbsp;@item.Email</p>
                                                            </td>
                                                            <td>
                                                                <p style="font-size:13px;">&nbsp;@item.RetailerName</p>
                                                            </td>
                                                            <td>
                                                                <p style="font-size:13px;">&nbsp;@item.Frm_Name</p>
                                                            </td>
                                                            <td>
                                                                <p style="font-size:13px;margin-left:-8px;">&nbsp;@item.RequestType&nbsp;</p>
                                                            </td>
                                                            <td>
                                                                <p style="font-size:13px;margin-left:-7px; ">@item.CancellationType</p>
                                                            </td>
                                                            <td style="font-size:13px;margin-left:-7px;">@item.ChangeRequestId</td>
                                                            <td><p style="font-size:11px;margin-left:-7px; margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationRequestDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
                                                            <td><p style="font-size:11px;margin-left:-7px; margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.CancellationResponseDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>

                                                            <td style="font-size:13px;margin-left:-7px;">@item.RefundedAmount</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@item.CancellationCharge</td>
                                                            <td>
                                                                <center>
                                                                    <div class="col-xs-3" style="margin-bottom:0px;">
                                                                        @Ajax.ActionLink("STATUS", "CancellationStatus", "Air", new { ChangeReqId = item.ChangeRequestId, idno = item.idno }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "loadermoney" }, new { @class = "btn btn-primary" })
                                                                    </div>
                                                                </center>
                                                            </td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemPre, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemInc, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemPost, 2)</td>

                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmPre, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmInc, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmPost, 2)</td>

                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.MdPre, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.MdInc, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.MdPost, 2)</td>

                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.AdminPre, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.AdminInc, 2)</td>
                                                            <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.AdminPost, 2)</td>

                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="http://localhost/HotelDemo/Scripts/jquery.unobtrusive-ajax.min.js"></script>



<script>
    function OnSuccess(data)
    {
     
        var respo = JSON.parse(data);
        if(respo.Status == "Success")
        {
            swal("Wow!", respo.Message, "success");
            location.reload();
        }else
        {
            swal("Oops!", respo.Message, "error");
        }
    }
    function OnFailure()
    {
        swal("Oops!", "Unable to fatch data", "error");
    }
</script>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
         
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
           
        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
        
        }
        else if (answer == "Admin") {
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
         
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
                }
        else if (answer == "Retailer") {
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
                document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
        
          }
      
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });


</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
