@model List<Vastwebmulti.Models.proc_FlightReport_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Ticket Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Status</th>
                <th>Firm&nbsp;Name</th>

                <th>Retailer&nbsp;Name</th>
                <th>Passenger&nbsp;Name&nbsp;</th>
                <th>Flight</th>
                <th>Booking&nbsp;/&nbsp;Id</th>
                <th>PNR</th>
                <th>Booking&nbsp;Date</th>
                <th>Fare&nbsp;Amount</th>
                <th>Retailer&nbsp;Pre</th>
                <th>Retailer&nbsp;Inc</th>
                <th>Retailer&nbsp;Post</th>
                @*<th>Dealer&nbsp;Pre</th>
                    <th>Dealer&nbsp;Inc</th>
                    <th>Dealer&nbsp;Post</th>
                    <th>Master&nbsp;Pre</th>
                    <th>Master&nbsp;Inc</th>
                    <th>Master&nbsp;Post</th>
                    <th>Admin&nbsp;Pre</th>
                    <th>Admin&nbsp;Inc</th>
                    <th>Admin&nbsp;Post</th>*@

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.TicketStatus;
                if (item.TicketStatus.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>

                    <td>@item.Frm_Name</td>
                    <td>@item.RetailerName</td>
                    <td>@item.LeadPaxFirstName  @item.LeadPaxLastName</td>
                    <td>@item.AirlineName</td>
                    <td>@item.BookingId</td>
                    <td>@item.PNR</td>
                    <td>@item.TicketDate</td>
                    <td>@Math.Round(item.FareAmount, 2)</td>
                    <td>@Math.Round(item.RemPre, 2)</td>
                    <td>@Math.Round(item.RemInc, 2)</td>
                    <td>@Math.Round(item.RemPost, 2)</td>
                    @*<td>@item.DlmPre</td>
                        <td>@item.DlmInc</td>
                        <td>@item.DlmPost</td>
                        <td>@item.MdPre</td>
                        <td>@item.MdInc</td>
                        <td>@item.MdPost</td>
                        <td>@item.AdminPre</td>
                        <td>@item.AdminInc</td>
                        <td>@item.AdminPost</td>*@

                </tr>
            }


        </tbody>
    </table>
</body>
</html>
