
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<link href="~/bilikingcss/Blinking.css" rel="stylesheet" />
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card navbar" style="position:initial;margin-top:-4px;">

                <div class="body">
                    <div class="row">
                        @Html.Partial("_FinancialMenu")
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="padding:10px; padding-left:21px;">
                    <h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                    <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">FINANCIAL</a></li>
                                    <li class="active" style="color:#607d8b; font-weight:700;font-size:15px;">PANCARD SERVICE AGENT(PSA ID: @ViewBag.PSAID)</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <a href="http://www.psaonline.utiitsl.com/psaonline/" target="_blank" class="btn bg-blue-grey waves-effect" style="float:right;">
                                    <i class="fa fa-angle-double-right" style="top:0px;"></i>
                                    <span style="font-size:17px;top:-1PX;">Login to UTI Portal</span>
                                </a>

                            </div>
                        </div>

                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="margin-top:-20px;">
                <div class="body">
                    <div class="row">
                        <div class="col-md-4">
                            <center>
                                <img id="notregisterimg" src="~/images/usernotregister.png" class="img-responsive" style="height:256px;width:256px;" />
                                <img id="registerimg" src="~/images/userregister.png" class="img-responsive" style="height:256px;width:256px;" />
                                <img id="registerformimg" src="~/images/userform.png" class="img-responsive" style="height:256px;width:256px;" />
                                <img id="userspendingimg" src="~/images/userspendingimg.png" class="img-responsive" style="height:256px;width:256px;" />
                            </center>


                        </div>
                        <div class="col-md-1">
                        </div>
                        <!--Pancard Register Form Partial view-->
                        <div class="col-md-8" id="pancardregistractionformDiv">
                            <div class="container-fluid" id="registerPsa">
                            </div>
                        </div>

                        <!--end-->
                        <!--pancard Not registered Div-->
                        <div class="col-md-7" id="NotregisterDiv" style="display:block;">
                            <CENTER><p id="notregip" style="font-family:'Roboto', Arial, Tahoma, sans-serif; font-size:25px; margin-top:-48px;color:red;border:1px solid #607d8b14;">&nbsp;You are Not Registered with Pancard Service.</p></CENTER>

                            <div class="body" style="margin-top:-18px;margin-left:-18px;">
                                <br /><br />
                                <center>
                                    <p style="font-size:34px;" class="flash flashhover">Please Click Register UTI</p>
                                    <i class="fa fa-arrow-down flash flashhover" aria-hidden="true" style="font-size:34px;"></i>
                                </center>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (!ViewBag.IsRegistered)
                                        {
                                            <center>
                                                <button type="button" id="btnRegisterPSA" class="btn bg-blue-grey waves-effect" style="margin-left:2px;">
                                                    <span style="font-size:17px;">Register at UTI</span>
                                                </button>
                                            </center>
                                        }
                                        else
                                        {
                                            <center>
                                                <button type="button" onclick="showAlert()" class="btn bg-blue-grey waves-effect" style="margin-left:2px;">
                                                    <span style="font-size:17px;">Register at UTI</span>
                                                </button>
                                            </center>
                                        }
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--End-->
                        <!--Pancard Registered Div-->
                        <div class="col-md-7" id="registerDiv" style="display:none;">
                            <p style="font-family:'Roboto', Arial, Tahoma, sans-serif; font-size:25px; margin-top:-21px;color:red;">&nbsp;Important Step For PSA Activaton</p>
                            <div class="body" style="margin-top:-18px;margin-left:-18px;">
                                <!--Livestatus Pending Content Div-->
                                <ul class="list-group" id="LivestatuspendingcontentDiv" style="display:block;">
                                    <li class="list-group-item">1. Your PAN Card Service Registration <span style="color:#FFC107;font-weight:700;">Waiting</span> for Approval</li>
                                    <li class="list-group-item">2. From time to time, click <span style="color:#FFC107;font-weight:700;">"Live status"</span> for live status.</li>
                                    <li class="list-group-item">3. After the PSA is activated, visit the UTI website and enjoy the services.</li>
                                    <li class="list-group-item"><span style="color:red;font-size:12px;">NOTE:</span>&nbsp;PAN card application will be filled on UTI portal.</</li>
                                </ul>
                                <!--End-->
                                <!--Live Status Success Content Div-->
                                <ul class="list-group" id="LivestatussuccesscontentDiv" style="display:none;">
                                    <li class="list-group-item">1. Your PSA Service Registration for Live Services is <span style="color:green;font-weight:700;">"Active"</span> . Enjoy with PSA services.</li>
                                    <li class="list-group-item">2. Happy day .... buy UTI tokens for business</li>
                                    <li class="list-group-item">3. After buying tokens, visit the UTI website and enjoy the services.</li>
                                    <li class="list-group-item"><span style="color:red;font-size:12px;">NOTE:</span>&nbsp;PAN card application will be filled on UTI portal.</</li>
                                </ul>
                            </div>
                            <div class="row" style="margin-top:-18px;">
                                <div id="UpdatepsaDiv" style="display:block;">
                                    @if (ViewBag.IsRegistered)
                                    {
                                        <div class="col-md-2">
                                            <button type="button" id="btnUpdatePSA" class="btn bg-amber waves-effect" style="margin-left:2px;">
                                                <span style="font-size:17px;">Update PSA</span>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2">
                                            <button type="button" onclick="regAlert()" class="btn bg-amber waves-effect" style="margin-left:2px;">
                                                <span style="font-size:17px;">Update PSA</span>
                                            </button>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2" id="LivestatusDiv" style="display:block;">
                                    <a class="btn bg-amber waves-effect" href="#" style="font-size:17px;" onclick="checkstatus()">Live Status</a>
                                </div>
                                <div class="col-md-3" id="buytokenDiv" style="display:none;">
                                    <button type="button" id="btnBuyToken" class="btn bg-blue-grey waves-effect" data-toggle="modal" data-target="#myModal">
                                        <span style="font-size:17px;">Buy UTI Token</span>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn bg-blue-grey waves-effect" href='@Url.Action("TokenPurchaseReport", "PANCARD")' style="font-size:17px;">View Report</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn bg-blue-grey waves-effect" href='@Url.Action("Dashboard", "Home")' style="font-size:17px;">Go to Home</a>
                                </div>

                            </div>
                        </div>
                        <!--End-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Modal Token Counter-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase PAN Card Token</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="input-group" style="margin-bottom:0px; margin-top:-2px;border:1px solid #dddddd; height:37px;margin-left:1px;">
                        <div class="header" style="padding:6px; border-bottom:none;">
                            <strong><span>Total Token </span><span id="showTotalCouponCount" style="padding-right:10px;">1</span></strong>
                            <input type="hidden" id="txtTotalCouponCount" value="1" />
                            <input type="hidden" name="digitalCount" id="digitalCount" value="0" />
                            <input type="hidden" name="phyicalCount" id="phyicalCount" value="1" />

                            <ul class="" style="min-width:250px;list-style-type:none;">

                                <hr />
                                <li>
                                    <ul style="display:-webkit-box;list-style:none;">
                                        <li><span id="showPhysicalCount" style="padding-right:4px;padding-left:4px;">1</span> Physical Token</li>
                                        <li>
                                            <button type="button" id="btnChildMinus" class="btn  waves-effect btmPlusMinus" style="margin-right: 0px;margin-left: 58px; background:white; border:1px solid #cdcecf;box-shadow:none;" onclick="onPluseMinus('child', -1)" disabled="disabled">
                                                <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" id="btnChildPlus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus('child', 1)" style="background:white; border:1px solid #cdcecf;box-shadow:none; border-left:none;">
                                                <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <hr />
                                <li style="margin-top:15px;">
                                    <ul style="display:flex;list-style:none;">
                                        <li style="padding-top:7px;"><span id="showDigitalCount" style="padding-right:4px;padding-left:4px;">0</span>Digital Token</li>
                                        <li class="">
                                            <button type="button" id="btnAdultMinus" class="btn  waves-effect btmPlusMinus" style="margin-right: 0px;margin-left: 75px; background:white; border:1px solid #cdcecf;box-shadow:none;" onclick="onPluseMinus('Adult',-1)" disabled="disabled">
                                                <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                            </button>
                                        </li>
                                        <li class="">
                                            <button type="button" id="btnAdlutPlus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus('Adult', 1)" style="background:white; border:1px solid #cdcecf;box-shadow:none; border-left:none;">
                                                <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <hr />
                                @*<li>
                                        <ul style="display:-webkit-box;list-style:none;">
                                            <li><span id="showInfantCount" style="padding-right:4px;padding-left:4px;">0</span>Infanct BELOW 2 YRS</li>
                                            <li>
                                                <button type="button" id="btnInfantMinus" class="btn  waves-effect btmPlusMinus" style="margin-right: 0px;margin-left: 21px; background:white; border:1px solid #cdcecf;box-shadow:none;" onclick="onPluseMinus('infant', -1)" disabled="true">
                                                    <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus('infant', 1)" style="background:white; border:1px solid #cdcecf;box-shadow:none; border-left:none;">
                                                    <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="BuyToken()">Purchase</button>
            </div>
        </div>

    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!--Get Login Credentials-->

<script>
    function showAlert() {
        swal("Oops!", "You are already registered at UTI.", "error");
    }
    function regAlert() {
        swal("Oops!", "Please regiter at UTI first.", "error");
    }

    function BuyToken() {
        var digiCount = parseInt($('#digitalCount').val());
        var physiCount = parseInt($('#phyicalCount').val());
        if (digiCount > 0 || physiCount > 0) {
            swal({
                title: "Are you sure?",
                text: "To buy UTI Token, you will be charge '@ViewBag.TokenChargeDigital' INR per Digital coupon and '@ViewBag.TokenChargePhysical' INR per Physical Coupon!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
           function (isConfirm) {
               if (isConfirm) {
                   var url = '@Url.Action("buyUTIToken", "PANCARD")'
                   var jqxhr = $.post(url, { digitalCount: digiCount, physicalCount: physiCount }, function (data) {
                       var response = JSON.parse(data);
                       if (response.RESULT == "0") {
                           swal("Wow!", response.ADDINFO, "success");
                       }
                       else {
                           swal("Oops!!!", response.ADDINFO, "error");
                       }
                   })
                  .fail(function (jqXHR, textStatus, errorThrown) {

                      swal("Oops!!!", jqXHR.responseText, "error");

                  })
               }
               else {
                   swal("Token is required to request a pan card.");
               }
           });
        } else {
            swal("Oops!", "Either physical or digital quantity should be 1.", "error");
        }

    }
</script>
<script>
    $("#btnRegisterPSA").on('click', function () {
        document.getElementById("loadermoney").style.display = "block";
              $.ajax({
            url: '@Url.Action("RegisterPSA", "PANCARD")',
            type: 'GET',
            dataType: 'html',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                document.getElementById("loadermoney").style.display = "none";
              $("#registerPsa").html(data);
                document.getElementById("pancardregistractionformDiv").style.display = "block";
                document.getElementById("NotregisterDiv").style.display = "none";
                document.getElementById("registerformimg").style.display = "block";
                document.getElementById("registerimg").style.display = "none";
                document.getElementById("notregisterimg").style.display = "none";
            },
            error: function (request, error) {
                document.getElementById("loadermoney").style.display = "none";
                document.getElementById("NotregisterDiv").style.display = "block";
            }
        });
    });
    $("#btnUpdatePSA").on('click', function () {
        document.getElementById("loadermoney").style.display = "block";
            $.ajax({
            url: '@Url.Action("UpdatePSA", "PANCARD")',
            type: 'GET',
            dataType: 'html',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                document.getElementById("loadermoney").style.display = "none";
                $("#registerPsa").html(data);
                document.getElementById("registerDiv").style.display = "none";
                document.getElementById("pancardregistractionformDiv").style.display = "block";
                document.getElementById("registerformimg").style.display = "block";
                document.getElementById("registerimg").style.display = "none";
                document.getElementById("notregisterimg").style.display = "none";
                document.getElementById("userspendingimg").style.display = "none";
                      },
            error: function (request, error) {
                document.getElementById("loadermoney").style.display = "none";
                document.getElementById("registerDiv").style.display = "none";
                document.getElementById("registerformimg").style.display = "block";
                document.getElementById("registerimg").style.display = "none";
                document.getElementById("notregisterimg").style.display = "none";
                document.getElementById("NotregisterDiv").style.display = "none";
                document.getElementById("userspendingimg").style.display = "none";
            }
        });
    });
    function OnSuccess(data)
    {
        var respo = JSON.parse(data);

          if(respo.Status == "Success")
          {
            swal("Wow!!!", respo.Message, "success");
           document.getElementById("pancardregistractionformDiv").style.display = "none";
            document.getElementById("NotregisterDiv").style.display = "none";
            document.getElementById("notregisterimg").style.display = "none";
            document.getElementById("registerformimg").style.display = "none";
            document.getElementById("registerimg").style.display = "none";
            document.getElementById("loadermoney").style.display = "none";
            document.getElementById("LivestatussuccesscontentDiv").style.display = "none";
            document.getElementById("userspendingimg").style.display = "block";
            document.getElementById("registerDiv").style.display = "block";
            document.getElementById("LivestatuspendingcontentDiv").style.display = "block";

        }
        if(respo.sts =="updaterror")
        {
           document.getElementById("registerformimg").style.display = "block";
            document.getElementById("registerimg").style.display = "none";
            document.getElementById("pancardregistractionformDiv").style.display = "block";
            document.getElementById("LivestatuspendingcontentDiv").style.display = "block";
            document.getElementById("registerDiv").style.display = "none";
            document.getElementById("NotregisterDiv").style.display = "none";
            document.getElementById("notregisterimg").style.display = "none";
            document.getElementById("notregip").style.marginTop = "-8px";
            document.getElementById("loadermoney").style.display = "none";
            document.getElementById("userspendingimg").style.display = "none";
            document.getElementById("LivestatussuccesscontentDiv").style.display = "none";
            swal("Oops!!!", respo.Message, "error");
        }
        if (respo.sts == "registererror")
        {
           document.getElementById("registerformimg").style.display = "block";
            document.getElementById("registerimg").style.display = "none";
            document.getElementById("pancardregistractionformDiv").style.display = "block";
            document.getElementById("registerDiv").style.display = "none";
            document.getElementById("NotregisterDiv").style.display = "none";
            document.getElementById("notregisterimg").style.display = "none";
            document.getElementById("LivestatuspendingcontentDiv").style.display = "block";
            document.getElementById("notregip").style.marginTop = "-8px";
            document.getElementById("loadermoney").style.display = "none";
            document.getElementById("userspendingimg").style.display = "none";
            document.getElementById("LivestatussuccesscontentDiv").style.display = "none";
            swal("Oops!!!", respo.Message, "error");
        }

    }
    function OnFailer(data) {
        alert(data);
    }
</script>

<script>
    $(function () {
        var registersts = '@ViewBag.IsRegistered';
        var chkstaus = '@ViewBag.status';
       
        //alert(chkstaus);
           if (registersts == "False") {
            document.getElementById("NotregisterDiv").style.display = "block";
            document.getElementById("registerimg").style.display = "none";
            document.getElementById("registerformimg").style.display = "none";
            document.getElementById("registerformimg").style.display = "none";
            document.getElementById("userspendingimg").style.display = "none";
        }
           if (registersts == "True") {
               if (chkstaus == "Pending" || chkstaus == "Rejected") {
                document.getElementById("registerDiv").style.display = "block";
                document.getElementById("NotregisterDiv").style.display = "none";
                document.getElementById("notregisterimg").style.display = "none";
                document.getElementById("registerformimg").style.display = "none";
                document.getElementById("registerimg").style.display = "none";
                document.getElementById("userspendingimg").style.display = "block";
            }
            else if (chkstaus == "Approved")
            {
                document.getElementById("userspendingimg").style.display = "none";
                document.getElementById("registerimg").style.display = "block";
                document.getElementById("registerformimg").style.display = "none";
                document.getElementById("notregisterimg").style.display = "none";
                document.getElementById("pancardregistractionformDiv").style.display = "none";
                document.getElementById("NotregisterDiv").style.display = "none";
                document.getElementById("LivestatusDiv").style.display = "none";
                document.getElementById("UpdatepsaDiv").style.display = "none";
                document.getElementById("LivestatuspendingcontentDiv").style.display = "none";
                document.getElementById("registerDiv").style.display = "block";
                document.getElementById("buytokenDiv").style.display = "block";
                document.getElementById("LivestatussuccesscontentDiv").style.display = "block";
            }
            //else
            //{
            //    document.getElementById("NotregisterDiv").style.display = "block";
            //    document.getElementById("registerimg").style.display = "none";
            //    document.getElementById("registerformimg").style.display = "none";
            //    document.getElementById("registerformimg").style.display = "none";
            //    document.getElementById("userspendingimg").style.display = "none";
            //}
        }
        $(document).ajaxStart(function () {
            document.getElementById("loadermoney").style.display = "block";
        });
        $(document).ajaxComplete(function () {
            document.getElementById("loadermoney").style.display = "none";
        });

      
    });
</script>

<!--back registraction form-->
<script>
    function back()
    {
        document.getElementById("NotregisterDiv").style.display = "block";
        document.getElementById("pancardregistractionformDiv").style.display = "none";
        document.getElementById("notregip").style.marginTop = "-8px";
        document.getElementById("notregisterimg").style.display = "block";
        document.getElementById("registerimg").style.display = "none";
        document.getElementById("registerformimg").style.display = "none";
     }
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

<!--Update button loader-->
<script>
    //function loader()
    //{
    //    var phone2 = $("#phone2").val()
    //    if (phone2 != "" && phone2 != null)
    //    {
    //        document.getElementById("loadermoney").style.display = "block";
    //        return true;
    //    }
    //    else {
    //        document.getElementById("loadermoney").style.display = "none";
    //        alert("Enter Mobile Number");
    //        return false;


    //    }

    //}
</script>

<!--Register Now Button Loader-->
<script>
    //$("#btnUpdateSubmit").on('click', function () {
    //    alert();
    //    document.getElementById("loadermoney").style.display = "block";
    //});
</script>

<!--Checkstatus-->
<script>
    function checkstatus()
    {
         $.ajax({
            url: '@Url.Action("CheckStatus", "PANCARD")',
            type: 'GET',
            dataType: "json",
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.Status == "Success") {

                    swal("Good job!", obj.Message, "success");
                    document.getElementById("userspendingimg").style.display = "none";
                    document.getElementById("registerimg").style.display = "block";
                    document.getElementById("registerformimg").style.display = "none";
                    document.getElementById("notregisterimg").style.display = "none";
                    document.getElementById("pancardregistractionformDiv").style.display = "none";
                    document.getElementById("NotregisterDiv").style.display = "none";
                    document.getElementById("LivestatusDiv").style.display = "none";
                    document.getElementById("UpdatepsaDiv").style.display = "none";
                    document.getElementById("LivestatuspendingcontentDiv").style.display = "none";
                    document.getElementById("registerDiv").style.display = "block";
                    document.getElementById("buytokenDiv").style.display = "block";
                    document.getElementById("LivestatussuccesscontentDiv").style.display = "block";

                }
                if (obj.Status == "Warning")
                {
                    document.getElementById("registerimg").style.display = "none";
                    document.getElementById("registerformimg").style.display = "none";
                    document.getElementById("notregisterimg").style.display = "none";
                    document.getElementById("pancardregistractionformDiv").style.display = "none";
                    document.getElementById("NotregisterDiv").style.display = "none";
                    document.getElementById("buytokenDiv").style.display = "none";
                    document.getElementById("LivestatussuccesscontentDiv").style.display = "none";
                    document.getElementById("LivestatusDiv").style.display = "block";
                    document.getElementById("UpdatepsaDiv").style.display = "block";
                    document.getElementById("registerDiv").style.display = "block";
                    document.getElementById("userspendingimg").style.display = "block";
                    document.getElementById("LivestatuspendingcontentDiv").style.display = "block";
                   swal("Oh!", obj.Message, "warning");
                } else {
                    var remark = obj.Remark;
                    swal("Oops!", obj.Message + "\n Remark : " + remark, "error");
                    //document.getElementById("NotregisterDiv").style.display = "block";
                    //document.getElementById("registerimg").style.display = "none";
                    //document.getElementById("registerformimg").style.display = "none";
                    //document.getElementById("registerformimg").style.display = "none";
                    //document.getElementById("userspendingimg").style.display = "none";
                }

            },
            error: function (data) {
                swal("Oops!", "Internal server error", "error");
            }
        });
        return true;
    }
</script>
<script>
    function onPluseMinus(check, v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#digitalCount').val());
        var physiCount = parseInt($('#phyicalCount').val());
        //var infCount = parseInt($('#txtInfantCount').val());
        var allCount = parseInt($('#txtTotalCouponCount').val());
        if (check == 'Adult') {
            if (v >= 0)
            {
                $('#digitalCount').val(digiCount + v);
                $('#txtTotalCouponCount').val(allCount + v);
                $('#showTotalCouponCount').html(allCount + v);
                $('#showDigitalCount').html(digiCount + v);
                //document.getElementById("showPhysicalCount").textContent = "0";
                //document.getElementById("phyicalCount").value = "0";
            } else
            {
                $('#digitalCount').val(digiCount - 1);
                $('#txtTotalCouponCount').val(allCount - 1);
                $('#showTotalCouponCount').html(allCount - 1);
                $('#showDigitalCount').html(digiCount - 1);
                //document.getElementById("showPhysicalCount").textContent = "0";
                //document.getElementById("phyicalCount").value = "0";
            }
            if (parseInt($('#digitalCount').val()) >= 1) {
                $('#btnAdultMinus').prop('disabled', false);
            }
            if (parseInt($('#digitalCount').val()) == 0) {
                $('#btnAdultMinus').prop('disabled', true);
            }
            //var vv = document.getElementById("showTotalCouponCount").textContent;
            //if (vv == 9) {
            //    $('#btnAdlutPlus').prop('disabled', true);
            //    $('#btnChildPlus').prop('disabled', true);
            //}
            //var adspan = document.getElementById("showDigitalCount").textContent;
            //if (adspan == 9) {
            //    $('#btnAdlutPlus').prop('disabled', true);
            //    $('#btnChildPlus').prop('disabled', true);
            //    $('#btnAdultMinus').prop('disabled', false);
            //    $('#btnChildMinus').prop('disabled', true);
            //    document.getElementById("showPhysicalCount").textContent = "0";
            //    document.getElementById("phyicalCount").value = "0";
            //}
            //else if (vv != 1) {
            //    $('#btnAdlutPlus').prop('disabled', false);
            //    $('#btnChildPlus').prop('disabled', false);

            //}
            //else {
            //    $('#btnAdultMinus').prop('disabled', true);

            //}
        }
        else if (check == 'child') {
            if (v >= 0)
            {
                $('#phyicalCount').val(physiCount + v);
                $('#txtTotalCouponCount').val(allCount + v);
                $('#showTotalCouponCount').html(allCount + v);
                //alert(parseInt($('#phyicalCount').val()));
                $('#showPhysicalCount').html(physiCount + v);
            } else {
                $('#phyicalCount').val(physiCount - 1);
                $('#txtTotalCouponCount').val(allCount - 1);
                $('#showTotalCouponCount').html(allCount - 1);
                //alert(parseInt($('#phyicalCount').val()));
                $('#showPhysicalCount').html(physiCount - 1);
            }


            if (parseInt($('#phyicalCount').val()) > 0) {
                $('#btnChildMinus').prop('disabled', false);
            }
            var vv = document.getElementById("showTotalCouponCount").textContent;

            if (vv == 9) {
                $('#btnAdlutPlus').prop('disabled', false);
                $('#btnChildPlus').prop('disabled', true);
            }
            var gg = document.getElementById("showPhysicalCount").textContent;
            if (gg == 0) {
                $('#btnChildMinus').prop('disabled', true);
                $('#btnChildPlus').prop('disabled', false);
                $('#btnAdlutPlus').prop('disabled', false);

            }
        }
    }
</script>
