@model IEnumerable<Vastwebmulti.Models.pancard_transation>
@{
    ViewBag.Title = "PDF_TokenPurchaseReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TokenPurchaseReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>S. No.</th>
                <th>Status</th>
                <th>Amount</th>
                
                <th>Request&nbsp;id</th>
                <th>Request&nbsp;Time</th>
                <th>Remain&nbsp;Pre</th>
                <th>Comm</th>
                <th>TDS</th>
                <th>Remain&nbsp;Post&nbsp;₹</th>
                <th>Final</th>
               
            </tr>
        </thead>
        @if (Model != null && Model.ToList().Count > 0)
        {
            int sno = 0;
            foreach (var item in Model)
            {
                sno += 1;
                var sts = "";
                var color = "";
                var img = "";
                var style = "";
                var pendingColor = "";

                <tr style="background-color:@pendingColor">
                    <td>@sno</td>
                    <td>@Html.DisplayFor(modelItem => item.status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.requestid)</td>
                    <td>@Html.DisplayFor(modelItem => item.request_time)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.Rem_pre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rem_comm)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rem_tds)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.rem_post)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rem_final)</td>
                 
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

            </tr>

        }
    </table>
</body>
</html>
