@model IEnumerable<Vastwebmulti.Models.PAN_CARD_IPAY_Token_report_paging_Result>
@{
    ViewBag.Title = "PDF_TokenPurchaseReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TokenPurchaseReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>S. No.</th>
                <th>Live&nbsp;Status</th>
                <th style="display:none;">Retailer&nbsp;Id</th>
                <th>Processing&nbsp;Fees</th>
                <th>Physical</th>
                <th>Digital</th>
                <th style="display:none;">TXN&nbsp;ID</th>
                <th>UTI&nbsp;TXN&nbsp;ID</th>
                <th>UTI&nbsp;Status</th>
                <th>Date</th>
                <th style="display:none;">Action</th>
                <th>Remain&nbsp;Pre</th>
                <th>Net&nbsp;Income</th>
                <th>Remain&nbsp;Post&nbsp;₹</th>

            </tr>
        </thead>
        @if (Model != null && Model.ToList().Count > 0)
        {
            int sno = 0;
            foreach (var item in Model)
            {
                sno += 1;
                var sts = "";
                var color = "";
                var img = "";
                var style = "";
                var pendingColor = "";
               
    <tr style="background-color:@pendingColor">
        <td>@sno</td>
        <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
        <td>@Html.DisplayFor(modelItem => item.ProcessingFees)</td>
        <td>@Html.DisplayFor(modelItem => item.PhysicalCount)</td>
        <td>@Html.DisplayFor(modelItem => item.DigitalCount)</td>
        <td style="display:none;">@Html.DisplayFor(modelItem => item.MerchantTxnId)</td>
        <td>@Html.DisplayFor(modelItem => item.UTI_TXN_ID)</td>
        <td>@Html.DisplayFor(modelItem => item.CouponStatus)</td>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
        <td style="display:none;">
            <button class="btn btn default" id="tokenStatus" onclick="tokenStatus('@item.idno')" style="margin-left:2px;  background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="View Pancard Status">
                View
            </button>
        </td>
        <td>@Html.DisplayFor(modelItem => item.retailer_remain_pre)</td>
        <td>@Html.DisplayFor(modelItem => item.RetailerIncome)</td>
        <td>@Html.DisplayFor(modelItem => item.retailer_remain_post)</td>
    </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

            </tr>

        }
    </table>
</body>
</html>
