@model IEnumerable<Vastwebmulti.Models.pancard_transation_manual>
@{
    ViewBag.Title = "TokenPurchaseReport";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/RetailerCss/financialcss-retailer.css" rel="stylesheet" />
<style>


    /* new css */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
        margin-bottom: 0;
    }

    /* new css */


    .dropdown-menu {
        margin-top: 130px !important;
    }

    .container-fluid.Financial-page .newtabsreport ul li a span {
        font-size: 13px;
    }


    .col-md-2.aeps-statusclass button, .col-md-2.aeps-statusclass .btn-group.bootstrap-select.form-control.open button {
        background-size: 10px !important;
    }

    .Financial-pagetabs *, .Financial-pagetabs .btn.dropdown-toggle.btn-default span, .Financial-pagetabs .aeps-status-search button i, .Financial-pagetabs .aeps-status-search button span {
        color: #555 !important;
    }

    .Financial-pagetabs .enteraddarnumber input::placeholder {
        color: #555 !important;
    }

    .form-iconmy.form-iconmyss {
        z-index: 9;
    }

    @@media screen and (max-width:1366px) {
        .newtabsreport-second {
            width: 100% !important;
            float: left;
            margin-bottom: 10px;
        }


        body .col-md-9.Financial-pagetab .aeps-statusclass .btn-group button {
            background-size: 10px !important;
        }

        .aeps-report-responshive {
            padding-right: 0px;
        }

            .aeps-report-responshive .col-md-12 {
                padding-right: 0px;
            }
    }

    @@media only screen and (max-width:1169px) {

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }

        .aepsfullpage .container-fluid.Financial-page {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:990px) {

        .row.clearfix.rewrere.rewreress {
            margin: 0;
        }

        .rewreress .col-md-12 {
            padding-left: 0px !important;
        }
    }

    @@media only screen and (max-width:767px) {

        .newtabsreport-aepsclass ul {
            margin-bottom: 0px !important;
        }

        .allfinancial-report-resons .col-md-2 {
            width: 50% !important;
            float: left;
        }

        .allfinancial-report-resons .col-md-3 {
            width: 100% !important;
            float: left;
            padding: 0 !important;
        }


            .allfinancial-report-resons .col-md-3 .form-group {
                margin: 8px 0 !important;
            }

        .Financial-pagess-responshive {
            padding-right: 15px;
        }
    }

    @@media screen and (max-width:766px) {
        .allfinancial-report-resons .col-md-12 .col-md-12 {
            padding-left: 0;
            width: 100%;
            float: left;
        }

        .allfinancial-report-resons {
            padding-left: 0 !important;
        }

        .aeps-report-responshive .col-md-12 {
            padding-right: 10px;
        }

        .pancardtablestatusee table tr td {
            white-space: normal !important;
        }
    }

    .new_old a {
        padding: 6px 12px;
        border: 1px solid #ccc;
        float: left;
        margin-right: 4px;
    }

    @@media only screen and (max-width:480px) {


        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            width: 50% !important;
            margin-bottom: 10px !important;
        }

        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            padding-right: 0px;
        }

        .allfinancial-report-resons .col-md-2 {
            width: 100% !important;
        }

        .aeps-report-responshive .aeps-status-search button span {
            font-size: 12px !important;
        }
    }
</style>

<section class="content aepsfullpage content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow: initial;">
    <div class="container-fluid Financial-page Financial-pagess Financial-pagess-responshive">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Token Purchase Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Token Purchase Report</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="newtabsreport newtabsreport-aepsclass newtabsreport-second" style="width:100%;">
            <div class="container container-tabsrepor money-transfer-retailer" style="padding:0px;">
                @Html.Partial("~/Areas/RETAILER/Views/Home/_menuFinicalReport.cshtml")
            </div>
        </div>
        <div class="new_old">
            <div class="page-header-third">
                @Html.ActionLink("NEW", "TokenPurchaseReport_new", "PANCARD")

                @Html.ActionLink("OLD", "TokenPurchaseReport", "PANCARD")
                @Html.ActionLink("MANUAL", "TokenPurchaseReport_new_manual", "PANCARD", new { @style = "background: var(--main-bg-lcolor);color: #fff;" })
            </div>
        </div>
        <div class="row clearfix aeps-report-responshive aeps-report-second allfinancial-report-resons" style="margin:0px;">
            <div class="page-header-third">
                @using (Html.BeginForm("TokenPurchaseReport_new_manual", "PANCARD", FormMethod.Post))
                {
                    <div class="col-md-12 Financial-pagetabs aeps-report-responshive" style="padding:0;">
                        <div class="card class-back-tra-fourdesign" style="width:100%;float:left;margin-bottom:0px;">
                            <div class="">
                                @*<div class="col-md-2" style="display:none;">
                                        <div style="margin-left:-6px;">
                                            <p style="font-size:20px;color:#aba8a8;margin-top:2px;">Pancard&nbsp;Report</p>
                                        </div>
                                    </div>*@

                                <div class="col-md-12" style="padding: 0;">
                                    <div class="row" style="margin:0;">

                                        <div class="col-md-2 aeps-statusclass" style="padding-right:0px;">
                                            <div class="form-group">
                                                <div class="" style="margin-top:5px;width:100%;border:1px solid #dddddd;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="PENDING",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                             }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-3 aeps-status finacial-selectsss" style="margin:0px !important;padding-left:3px;">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                <div class="input-daterange input-group">
                                                    <div class="datesate datesates">
                                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                    </span>
                                                    <div class="datesate datesatese">
                                                        <div class="form-iconmy form-iconmyss" id="form-iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                    </div>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-md-1 aeps-status-search">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;">
                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                        <i class="fa fa-search" style="top:0px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">Search</span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 buttonPdf buttonPdfss retailer-pdf-second" style="float: right;">

                                            <button id="btnPDF">PDF</button>
                                            <button id="btnExport">Export</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row clearfix rewrere rewreress rewrere-aeps-responshive">
            <div class="col-md-12" style="padding: 0 15px 0 30px;">
                <div class="card class-back-tra-fourdesign">
                    <div class="body" style="margin-top:10px;padding:0px;">
                        <div class="page-header-third">
                            <div class="table-responsive pancardtablestatusee tablethirddesign-newnew" style="position:inherit;">
                                <table id="example1" class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Status</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Father Name</th>
                                            <th>DOB</th>
                                            <th>Aadhaar</th>
                                            <th>Gender</th>
                                            <th>Amount</th>

                                            <th>Request id</th>

                                            <th>Request Time</th>

                                            <th>Remain&nbsp;Pre</th>
                                            <th>Comm</th>
                                            <th>TDS</th>
                                            <th>Remain&nbsp;Post&nbsp;₹</th>
                                            <th>Final</th>
                                            <th>Doc</th>
                                        </tr>
                                    </thead>
                                    <tbody id="trow">
                                        @{ var s = 0;
                                            foreach (var i in Model)
                                            {
                                                s++;
                                                <tr>
                                                    <td>@s</td>

                                                    @{
                                                        var sts = i.status;


                                                        if (i.status.Contains("Refund"))
                                                        {
                                                            sts = "Refund";
                                                        }
                                                    }





                                                    <td>
                                                        @if (i.status.Contains("PENDING"))
                                                        {
                                                            <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:#ffc107" src="../../ashok-images/clkk.png"> @sts


                                                        }
                                                        @if (i.status.Contains("Refund"))
                                                        {
                                                            <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:brown" src="../../ashok-images/backresnd.svg"> @sts

                                                        }
                                                        @if (i.status.Contains("Failed"))
                                                        {
                                                            <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:red" src="../../ashok-images/closes.svg"> @sts

                                                        }
                                                        @if (i.status.Contains("Success"))
                                                        {
                                                            <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:green" src="../../ashok-images/correct.svg"> @sts

                                                        }
                                                    </td>
                                                    <td>@i.Title @i.Name</td>
                                                    <td>AAdhar=@i.AadharregNumber<br />Customer =@i.Mobile</td>
                                                    <td>@i.Email</td>
                                                    <td>@i.Fathername</td>
                                                    <td>@i.DOB</td>
                                                    <td>@i.Aadharno</td>
                                                    <td>@i.Gender</td>
                                                    <td>@i.Amount</td>

                                                    <td>@i.requestid</td>
                                                    <td>@i.request_time</td>
                                                    <td>@i.Rem_pre</td>
                                                    <td>@i.Rem_comm</td>
                                                    <td>@i.Rem_tds</td>
                                                    <td>@i.rem_post</td>
                                                    <td>@i.Rem_final</td>
                                                    <td>
                                                        @if (i.status.Contains("Failed"))
                                                        {

                                                            <div>@i.imageurl</div>

                                                        }
                                                        else if (i.status.Contains("Success"))
                                                        {
                                                            if (i.imageurl.Contains("/SlipPanCard/"))
                                                            {
                                                                <button onclick="views(@i.idno)">View</button>
                                                            }
                                                            else
                                                            {
                                                                <a href="~/@i.imageurl" target="_blank">  <button>View</button></a>
                                                            }

                                                        }
                                                        else
                                                        {

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <script>
                        function views(i) {
                             
                            $.ajax({
                                url: '@Url.Action("slipview", "Home")',
                                type: "POST",
                                data: { Idno: i },
                                cache: false,
                                success: function (Response) {
                                    window.open(Response, '_blank');
                                    window.location.reload();


                                }
                            });
                        }

                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();

        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll","Home")",
             { "pageindex": pageindex, "txt_frm_date":txt_frm_date,"txt_to_date":txt_to_date,"ddl_status":ddl_status},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script>
    function tokenStatus(id) {
        var url = '@Url.Action("GetTokenStatus", "PANCARD")'
        var jqxhr = $.post(url, {id : id}, function (data) {
            var response = JSON.parse(data);
            if (response.RESULT == "0") {
                swal("Wow!", response.ADDINFO, "success");
            }
            else if (response.RESULT == "2") {
                swal("Oops!", response.ADDINFO, "warning");
            }
            else {
                swal("Oops!!!", response.ADDINFO, "error");
            }
        })
       .fail(function (jqXHR, textStatus, errorThrown) {

           swal("Oops!!!", jqXHR.responseText, "error");

       })

    }
</script>



<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerpancard');
    });


</script>


<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/RETAILER/PANCARD/TokenPurchaseReport') {
            $('.list.report-list-change li#classtravelactive a').addClass('active');
        }
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("Excel_TokenPurchase_Report1_manual", "PANCARD")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        location.href = url
});

</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("PDF_TokenPurchaseReport1_manual", "PANCARD")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>