@model Vastwebmulti.Areas.RETAILER.Models.RegisterPSAModel
<!-- Input -->
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" style="margin-top:-41px;box-shadow:0 0px 1px 0px #eee;">
            <div class="header">
                <h2>Update PSA Information</h2>
            </div>
            @using (Ajax.BeginForm("UpdatePSA", "PANCARD", new AjaxOptions { OnFailure = "OnFailer(data)", OnSuccess = "OnSuccess(data)",LoadingElementId= "loadermoney" }))
            {
                @Html.HiddenFor(a => a.psaid)
                <div class="body">
                    @*<h2 class="card-inside-title">Different Widths</h2>*@
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="error" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.contactperson, new { @class = "form-control", placeholder = "Enter Name", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.psaname, new { @class = "form-control", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.emailid, new { @class = "form-control", placeholder = "Enter Email-Id", @readonly = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.dob, new { @class = "form-control", placeholder = "Enter Date of Birth",@readonly=""})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.phone1, new { @class = "form-control", placeholder = "Enter Phone Number", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.phone2, new { @class = "form-control", placeholder = "Enter Phone Number", @onkeypress = "javascript:return isNumber(event)", maxlength = 10, @required ="" })
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.state, new { @class = "form-control", placeholder = "Enter State", @readonly = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.pincode, new { @class = "form-control", placeholder = "Enter Pincode Number", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.pan, new { @class = "form-control", placeholder = "Enter Pancard Number", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextBoxFor(m => m.adhaar, new { @class = "form-control", placeholder = "Enter Aadharcard Number", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="" style="border:1px solid #ddd;">
                                    @Html.TextAreaFor(m => m.location, new { @class = "form-control", placeholder = "Enter Address", @readonly = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn bg-blue-grey waves-effect" style="margin-top:-15px;">UPDATE NOW</button>
                </div>
            }
        </div>
    </div>
</div>
