@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string urllinks = @ViewBag.urllink;

    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
}
<style>
    #hero {
        width: 100%;
        overflow: hidden;
        position: relative;
        background: linear-gradient(0deg, #313a46 0%, #313a46 100%);
        padding: 0;
    }

        #hero .carousel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            position: relative;
            height: 70vh;
            padding-top: 60px;
        }

        #hero h2 {
            color: #fff;
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: 700;
        }

        #hero p {
            width: 80%;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
            margin: 0 auto 30px auto;
            color: #fff;
        }

        #hero .carousel-control-prev, #hero .carousel-control-next {
            width: 10%;
        }

        #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
            background: none;
            font-size: 48px;
            line-height: 1;
            width: auto;
            height: auto;
        }

        #hero .btn-get-started {
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 50px;
            transition: 0.5s;
            line-height: 1;
            margin: 10px;
            color: #fff;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
            border: 2px solid #727cf5;
        }

            #hero .btn-get-started:hover {
                background: #727cf5;
                color: #fff;
                text-decoration: none;
            }

    @@media (min-width: 1024px) {
        #hero p {
            width: 60%;
        }

        #hero .carousel-control-prev, #hero .carousel-control-next {
            width: 5%;
        }
    }

    @@media (max-width: 768px) {
        #hero .carousel-container {
            height: 90vh;
        }

        #hero h2 {
            font-size: 28px;
        }
    }

    .hero-waves {
        display: block;
        width: 100%;
        height: 60px;
        position: relative;
    }

    .wave1 use {
        -webkit-animation: move-forever1 10s linear infinite;
        animation: move-forever1 10s linear infinite;
        -webkit-animation-delay: -2s;
        animation-delay: -2s;
    }

    .wave2 use {
        -webkit-animation: move-forever2 8s linear infinite;
        animation: move-forever2 8s linear infinite;
        -webkit-animation-delay: -2s;
        animation-delay: -2s;
    }

    .wave3 use {
        -webkit-animation: move-forever3 6s linear infinite;
        animation: move-forever3 6s linear infinite;
        -webkit-animation-delay: -2s;
        animation-delay: -2s;
    }

    @@-webkit-keyframes move-forever1 {
        0% {
            transform: translate(85px, 0%);
        }

        100% {
            transform: translate(-90px, 0%);
        }
    }

    @@keyframes move-forever1 {
        0% {
            transform: translate(85px, 0%);
        }

        100% {
            transform: translate(-90px, 0%);
        }
    }

    @@-webkit-keyframes move-forever2 {
        0% {
            transform: translate(-90px, 0%);
        }

        100% {
            transform: translate(85px, 0%);
        }
    }

    @@keyframes move-forever2 {
        0% {
            transform: translate(-90px, 0%);
        }

        100% {
            transform: translate(85px, 0%);
        }
    }

    @@-webkit-keyframes move-forever3 {
        0% {
            transform: translate(-90px, 0%);
        }

        100% {
            transform: translate(85px, 0%);
        }
    }

    @@keyframes move-forever3 {
        0% {
            transform: translate(-90px, 0%);
        }

        100% {
            transform: translate(85px, 0%);
        }
    }

    .section-title h2 {
        width: 100%;
        float: left;
        margin: 0 0 5px 0;
    }

        .section-title h2 span {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #444;
            line-height: normal;
            width: auto;
            float: left;
            position: relative;
        }

    .section-title {
        width: 100%;
        float: left;
    }

        .section-title h2 span::after {
            content: "";
            display: block;
            width: 120px;
            height: 1px;
            background: #727cf5;
            float: right;
            float: right;
            position: relative;
            top: 11px;
            margin-left: 10px;
        }

        .section-title p {
            display: block;
            margin: 0;
            margin-top: 0px;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #2a2c39;
            margin-top: 5px;
            width: 100%;
            float: left;
        }

    .all-section-space {
        padding-top: 60px;
    }

    .section-title {
        margin-bottom: 40px;
    }

    .section-content p {
        font-size: 16px;
        color: #444;
        font-family: 'Open Sans', sans-serif;
        line-height: 26px;
        letter-spacing: normal;
    }

    .flex-sateclass {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
    }

    .six-design-full {
        width: 100%;
        float: left;
    }

    .service-fullclass {
        width: 100%;
        float: left;
        text-align: center;
    }

    .service-subheding h3 {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        color: #2a2c39;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .service-img img {
        width: 150px;
        height: 150px;
    }

    .back-spaceclass {
        background: #f0e8de2e;
    }

    .top-six-space {
        margin-top: 60px;
    }

    .back-spaceclass {
        margin-top: 60px;
        padding-bottom: 60px;
    }

    .works-first {
        border: 1px solid #d8d8d8;
    }

    .works-img img {
        height: 240px;
        width: 100%;
    }

    .works-content {
        padding: 10px;
    }

        .works-content .section-content p {
            font-family: 'Cormorant Garamond', serif;
            color: #444;
            font-weight: bold;
            font-size: 17px;
        }

    .works-content {
        min-height: 306px;
    }

    .card-full-six .works-content {
        min-height: inherit;
        background: #313a46;
    }

        .card-full-six .works-content .product-titlecards {
            margin: 0;
            color: #fff;
            font-size: 18px;
            text-transform: capitalize;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            margin-bottom: 15px;
            text-align: center;
        }

    .card-full-six .works-content {
        padding: 15px 10px;
    }

    .card-full-six .works-img img {
        height: 200px;
        width: 100%;
    }

    .card-full-six .works-img {
        background: #d8d8d8;
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-full-six p {
        float: left;
        margin: 0px;
        color: #fff !important;
    }

    .card-full-six a {
        float: right;
        color: #fff;
        font-size: 17px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 600;
        transition: all .4s linear;
    }

    .card-full-six .works-first {
        border: 0;
    }

    .card-full-six .works-first {
        border: 0;
    }

    .card-full-six a:hover {
        color: #fff;
    }

    .travel-fullclass .works-content {
        background: #fdfbf9;
    }

        .travel-fullclass .works-content h2.travel-title {
            font-family: "Poppins", sans-serif;
            color: #2a2c39;
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 10px;
            text-transform: capitalize;
            position: relative;
        }

    .travel-fullclass .works-first, .travel-fullclass .works-first * {
        transition: all .4s linear;
    }

        .travel-fullclass .works-first img {
            filter: grayscale(100);
            cursor: pointer;
        }

        .travel-fullclass .works-first:hover img {
            filter: inherit;
        }

    .andeoid-fillclass {
        background: url(../AdminDesign/images/appbg-third.jpg)no-repeat top center;
        background-attachment: scroll;
        min-height: 600px;
        background-attachment: fixed;
        position: relative;
        display: flex;
        align-items: center;
    }

        .andeoid-fillclass::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .4;
            z-index: 1;
        }

        .andeoid-fillclass .container {
            z-index: 11;
            position: relative;
        }

    .appcontent h4 {
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 60px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    .appcontent p {
        color: #fff;
        margin-bottom: 50px;
        text-align: center;
        font-size: 20px;
    }

    .app-linkdesign a {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #fff;
        padding: 10px 20px;
        background: #fff;
        color: #2a2c39;
        margin-right: 20px;
        transition: all .4s linear;
        overflow: hidden;
        display: inline-block;
    }

        .app-linkdesign a img {
            width: 22px;
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-right: 0;
            transform: translateX(-300%);
            transition: all .4s linear;
            visibility: hidden;
        }

        .app-linkdesign a:hover img {
            transform: translateX(-15%);
            visibility: visible;
        }

    .app-linkdesign {
        display: flex;
        justify-content: center;
    }

        .app-linkdesign a:last-child {
            margin-right: 0px;
        }

        .app-linkdesign a:hover {
            color: #000;
        }

        .app-linkdesign a:nth-child(2) {
            background: #727cf5;
            color: #fff;
            border-color: #727cf5;
        }

    .card-full-six a.viewallbutton {
        padding: 6px 35px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        margin-top: 40px;
        color: #2a2c39;
        font-size: 20px;
        border: 0;
    }

        .card-full-six a.viewallbutton:hover {
            color: #fff;
            background: #313a46;
        }

    @@media screen and (max-width:991px) {
        .flex-sateclass {
            display: block;
        }

            .flex-sateclass .col-md-6.section-img {
                margin-bottom: 15px;
            }

        .service-fullclass {
            margin-bottom: 15px;
        }

        .works-content {
            min-height: inherit;
        }

        .works-first {
            margin-bottom: 25px;
        }

        .card-full-six .works-img {
            min-height: 230px;
            padding: 20px 0;
        }

        .travel-fullclass .works-first img {
            height: auto;
        }

        #whychooseus .col-md-6 {
            text-align: center;
        }

        .app-linkdesign {
            display: inherit;
            justify-content: center;
            text-align: center;
        }

            .app-linkdesign a {
                font-size: 16px;
                margin-bottom: 15px;
            }

        .footer-fullclass .col-md-3 {
            width: 100%;
            float: left;
            overflow: hidden;
        }

            .footer-fullclass .col-md-3 .footer-title {
                width: 100%;
                float: left;
            }
    }

    @@media screen and (max-width:766px) {
        .section-content p {
            font-size: 13px;
        }

        .section-title p {
            font-size: 25px;
        }

        .back-spaceclass {
            margin-top: 20px;
            padding-bottom: 20px;
        }

        .all-section-space {
            padding-top: 20px;
        }

        .works-content .section-content p {
            font-size: 13px;
        }

        .travel-fullclass .works-content h2.travel-title {
            font-size: 22px;
        }

        .appcontent h4 {
            font-size: 30px;
            margin-bottom: 15px;
        }

        .appcontent p {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }
</style>


<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700|Sanchez&display=swap" rel="stylesheet">
<link href="~/CSS/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/dist/css/AdminLTE.min.css" rel="stylesheet" />

<link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Ckeditor/contents.css" rel="stylesheet" />
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="~/CSS/Slieder.css" rel="stylesheet" />
<link href="~/CSS/aaaaa.css" rel="stylesheet" />
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
<link href="~/CSS/custom-guest.css" rel="stylesheet" />
<link href="~/MainFrontDesign/wow/engine/style.css" rel="stylesheet" />
<script src="~/MainFrontDesign/wow/engine/jquery.js"></script>
<link href="~/Custom-Animation/css/animate.min.css" rel="stylesheet" />
<link href="~/MainFrontDesign/mainview/css/aos.css" rel="stylesheet" />
<link href="~/MainFrontDesign/mainview/css/owl.carousel.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<meta name="viewport" content="width=device-width">
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var allcolor1 = db.tblMenuColors.ToList();
    var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
    var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
    var col = "";
    var outercolor = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    if (outercolor.Count > 0)
    {
        if (outercolor.SingleOrDefault().Role == "ADMIN")
        {
            col = outercolor.Where(p => p.Role == "ADMIN").SingleOrDefault().multipaloutercolor;
        }
    }
    else
    {
        col = "";
    }
    var color = col;
    var Apk_Version = "";
    var apkversion = db.uploaded_apklink.SingleOrDefault();
    if (apkversion != null)
    {
        if (!string.IsNullOrWhiteSpace(apkversion.Apk_Version))
        {
            Apk_Version = apkversion.Apk_Version;
        }

    }

    var aboutbac = db.tblAboutUsBackgroundColorChanges.Where(p => p.Role == "ADMIN").ToList();
    var aboutbaccolor = aboutbac.Count == 0 ? "" : aboutbac.SingleOrDefault().MultipalAboutUsColor;

    var service = db.tblServiceOuterColors.Where(p => p.Role == "ADMIN").ToList();
    var servicecolor = service.Count == 0 ? "" : service.SingleOrDefault().ServiceBackGroundcolor;

    ViewBag.Services = db.tblServices.Where(p => p.Role == "ADMIN").ToList();

    ViewBag.product = db.tblProducts.ToList();

    var productcolor = db.tblProductBackColors.ToList();
    var productbackcolor = productcolor.Count == 0 ? "" : productcolor.SingleOrDefault().ProductBackColor;

    ViewBag.works = db.tblWorks.ToList();
    var workbackcolor1 = db.tblWorkbackColors.ToList();
    var workbackcolor = workbackcolor1.Count == 0 ? "" : workbackcolor1.SingleOrDefault().WorkBackColor;

    var border = db.Admin_Outer_Border.ToList();
    var bordersize = border.Count == 0 ? "" : border.SingleOrDefault().Border;

    ViewBag.card = db.tblCards.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor1 = db.tblCardBackColors.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor = cardbackcolor1.Count == 0 ? "" : cardbackcolor1.SingleOrDefault().CardBackColor;
    ViewBag.about = db.tblAboutUsContents.Where(p => p.Role == "ADMIN").ToList();
    ViewBag.address = db.tblContects.ToList();
    var st = db.tblMenus.Where(p => p.Role == "ADMIN").ToList();
    var homests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "HOME").SingleOrDefault().Status;
    var aboutsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "ABOUT").SingleOrDefault().Status;
    var servicests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "SERVICES").SingleOrDefault().Status;
    var productsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "PRODUCTS").SingleOrDefault().Status;
    var worksts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WORKS ").SingleOrDefault().Status;
    var cardsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CARDS").SingleOrDefault().Status;
    var travelsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TRAVEL").SingleOrDefault().Status;
    var dthsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "DTHCONNECTION").SingleOrDefault().Status;
    var teamsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TEAM").SingleOrDefault().Status;
    var contactsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CONTACTUS").SingleOrDefault().Status;
    var whychoosests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WHYCHOOSEUS").SingleOrDefault().Status;
    var newupdatasts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "NEWUPDATE").SingleOrDefault().Status;
    var Firm_Name = db.Admin_details.FirstOrDefault().Companyname;
}
<div class="six-design-homepage">

    @*Banner-slider-start*@

    <section id="hero" class="d-flex flex-column justify-content-end align-items-center page-section">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>@Firm_Name</span></h2>
                    <p class="animate__animated fanimate__adeInUp">We are big players in recharge and financial industries. We provide services in Recharge Services, Utilities, Financial Services, Travel Services@*, Digital Gift Cards*@, Device Security and Ecommerce sectors.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>


        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section>

    @*Banner-slider-end*@

    @*About-section-start*@

    <section id="about" class="all-section-space page-section">
        <div class="container">
            <div class="section-title" data-aos="zoom-out">
                <h2><span>About</span></h2>
                <p>Who we are</p>
            </div>
            <div class="section-imgcontent" data-aos="fade-up">
                <div class="row">
                    <div class="flex-sateclass">
                        <div class="col-md-6 section-img">
                            <img src="~/AdminDesign/images/abutus.jpg" />
                        </div>
                        <div class="col-md-6">
                            <div class="section-content">
                                    <p>Cards Bank Accounts and Digital Credit among others. Our investors and partners has been in all over India's. We strive to maintain an open culture where everyone is a hands-on contributor and feels comfortable sharing ideas and opinions. We are doing our best.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @*Service-section-start*@

    <section id="service" class="all-section-space page-section back-spaceclass">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                <h2><span>Service</span></h2>
                <p>What we do offer</p>
            </div>
            <div class="row">
                <div class="servicesection-full" data-aos="fade-up">
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/prepaid.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>Prepaid & Dth </h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>We are provide all prepaid and DTH recharge with live response, you feel real speed with US.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/All_Utilities-1.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>All Utilities</h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>Postpaid Mobile, Landline, Broadband, Electricity bill with BBPS, Insurance premium, and Water Bill Payment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/M-POS_Device-1.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>M-POS Device</h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>M POS (Mobile Point of Sale) 24x7 Fast services with maximum commission.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="servicesection-full top-six-space">
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/Bill_Payment-2.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>Bill Payment</h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>Pay all your bills online with the BBPS. Postpaid mobile, landline, electricity bill, and water bill payment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/busouter.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>Bus & Flight</h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>All domestic Bus booking and All domestic & international Flight booking.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-fullclass">
                            <div class="service-img six-design-full">
                                <img src="~/images/E-Commerce-2.png" />
                            </div>
                            <div class="service-subheding six-design-full">
                                <h3>E-Commerce</h3>
                            </div>
                            <div class="section-content six-design-full">
                                <p>We are provide India largest E commerce market minimum price and maximum standard.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    @*Works-design-start*@

    <section id="works" class="all-section-space page-section">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                <h2><span>Works</span></h2>
                <p>Who we are</p>
            </div>
            <div class="worksfull six-design-full" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-4">
                        <div class="works-first six-design-full">
                            <div class="works-img six-design-full" style="background:#d8d8d8;">
                                <img src="~/AdminDesign/images/2work.png" />
                            </div>
                            <div class="works-content six-design-full">
                                <div class="section-content">
                                    <p>Our provided Permanent Account Number or PAN, is a means of identifying various taxpayers in the country. PAN is a unique identification number assigned to Indians, mostly to those who pay tax. The PAN system of identification is a computer-based system that assigns unique identification number to every Indian tax paying entity. Through this method, all tax related information for a person is recorded against a single PAN number which acts as the primary key for storage of information. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="works-first six-design-full">
                            <div class="works-img six-design-full" style="background:#d8d8d8;">
                                <img src="~/AdminDesign/images/2worksecond.png" />
                            </div>
                            <div class="works-content six-design-full">
                                <div class="section-content">
                                    <p>The idea behind PAN is similar to the Social Security Number or SSN used in the United States. SSN in the US is a unique nine-digit number issued to all citizens of the US, permanent and temporary both. Although, the primary aim for SSN creation was to track individuals for social security purposes, it has now become a primary identification number for taxation processes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="works-first six-design-full">
                            <div class="works-img six-design-full" style="background:#d8d8d8;">
                                <img src="~/AdminDesign/images/2workthird.png" />
                            </div>
                            <div class="works-content six-design-full">
                                <div class="section-content">
                                    <p>This is shared across the country and hence no two people on tax paying entities can have the same PAN. Any PAN issued is valid for the entire lifetime of the PAN holder. This is so majorly because PAN is unaffected by any change of address of the PAN cardholder.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    @*Cards-design-start*@

    @if (Card != "Y")
    {
        <section id="Cards" class="all-section-space page-section back-spaceclass">
            <div class="container">
                <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                    <h2><span>Cards</span></h2>
                    <p>What we do offer</p>
                </div>

                <div class="card-full-six six-design-full " data-aos="fade-up">
                    <div class="row sixdesign-productsl">

                        <div class="col-md-4 ">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/ashok-images/internet.svg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h4 class="product-titlecards">Ecommerece & Online</h4>
                                        <p>Upto 45% Off*</p>
                                        <a href="@Url.Action("Login", "Home", new { id = "singin" })">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/ashok-images/video.svg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h4 class="product-titlecards">Entertainment</h4>
                                        <p>Upto 45% Off*</p>
                                        <a href="@Url.Action("Login", "Home", new { id = "singin" })">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/ashok-images/supermarket.svg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h4 class="product-titlecards">Grocery & Homeneeds</h4>
                                        <p>Upto 45% Off*</p>
                                        <a href="@Url.Action("Login", "Home", new { id = "singin" })">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="six-design-full" style="text-align:center;display:flex;align-items:center;justify-content:center;">
                        <a href="@Url.Action("Login", "Home", new { id = "singin" })" class="viewallbutton">View All</a>
                    </div>
                </div>
            </div>

        </section>
    }

        @*Travel-design-start*@
        @if (Travel != "Y")
        {
            <section id="travel" class="all-section-space page-section">
                <div class="container">
                    <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                        <h2><span>Travel</span></h2>
                        <p>Who we are</p>
                    </div>
                </div>
                <div class="worksfull six-design-full" data-aos="fade-up">
                    <div class="travel-fullclass">
                        <div class="col-md-4">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/AdminDesign/images/travel-bus.jpg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h2 class="travel-title">Bus Booking</h2>
                                        <p>
                                            This is India's largest online bus ticketing platform, trusted by all over Indians. With a sale of over Bus tickets via web, mobile, and our bus agents, and stands at the top of the game in bus ticketing.and operates on over 8020 routes reputed bus operators. and launched its bus booking services in the year 2018, thus offerings customers all travel options on one platform.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/AdminDesign/images/travel-flight.jpg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h2 class="travel-title">Fligh Booking</h2>
                                        <p>The leading player in online flight bookings in India.this portal offers great offers, some of the lowest airfares, exclusive discounts and a seamless online booking experience. Flight bookings through the desktop or mobile site is a delightfully customer friendly experience, and with just a few clicks you can complete your booking. With features like Instant Discounts, Fare Calendar, MyRewards Program, MyWallet and many more, the overall booking experience with constantly adds value to its product and continues to offer the best to its customers. While booking flights with This portal, you can expect the ultimate online booking experience. With premium customer service, 24/7 dedicated helpline for support, and over 99% delighted customers, This portal takes great pride in enabling customer satisfaction. With a cheapest flight guarantee, book your tickets at the lowest airfares. Avail great offers, exclusive deals for loyal customers and get instant updates for your flight status and fare drops.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="works-first six-design-full">
                                <div class="works-img six-design-full">
                                    <img src="~/AdminDesign/images/travel-hotel.jpg">
                                </div>
                                <div class="works-content six-design-full">
                                    <div class="section-content">
                                        <h2 class="travel-title">Hotel Booking</h2>
                                        <p>The most important aspect for any holiday plan is the part where you have to choose a nice hotel that suits your budget. Staying in a good hotel makes your holiday convenient and more memorable. Therefore, we bring to you mind-blowing hotel offers and an array of hotel deals on domestic as well as international hotels, so that you can enjoy luxury like never before. We have all sorts of hotels, ranging from luxury to cheap, so whatever be your requirement, you will get the accommodation. When you find the hotel of your choice, just click on its name to see its detailed description. Apart from Goa, our database includes myriad properties in all holiday and business destinations in India. Our payment gateway is totally secure, so all your bank details are safe. A smooth transfer process means that making payment is as swift as searching the hotel. So, whether you are looking for budget or upscale hotels in Delhi, Shimla, Mumbai, Chennai or any other destination, visit This Portal, and get the best deal.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        }

        @*why-choose-us-design-start*@

        <section id="whychooseus" class="all-section-space page-section">
            <div class="container">
                <div class="section-title aos-init aos-animate" data-aos="zoom-out">
                    <h2><span>why choose us</span></h2>
                    <p>What we do offer</p>
                </div>


                <div class="section-imgcontent" data-aos="fade-up">
                    <div class="row">
                        <div class="flex-sateclass">
                            <div class="col-md-6 section-img">
                                <img src="~/images/MULTIRECHARGESERVICE.png">
                            </div>
                            <div class="col-md-6">
                                <div class="section-content">
                                    <p>Our Multi-Services Platform is a flexible, high-density media resource platform with integrated signalling capabilities, which is designed to enable developers to bring new services to market quickly and cost-effectively.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-sateclass">
                            <div class="col-md-6">
                                <div class="section-content">
                                    <p>We are providing the best supporting service in India. Customer service and support departments interact with consumers as they need assistance. Learn about the differences between service and support and see how they work.</p>
                                </div>
                            </div>
                            <div class="col-md-6 section-img">
                                <img src="~/images/SUPPORT-2.png">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-sateclass">
                            <div class="col-md-6 section-img">
                                <img src="~/images/TEAM-2.png">
                            </div>
                            <div class="col-md-6">
                                <div class="section-content">
                                    <p>Our team is easily accessible to all our customers. We value all our customers and strive to ensure that our products are working optimally. and provides all its customers a range of targeted and specialized support and technical services.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-sateclass">
                            <div class="col-md-6">
                                <div class="section-content">
                                    <p>Looking for a top-class e-commerce development company? Get custom e-commerce development services and robust website designing solutions at competitive prices. Our dedicated web developers are known for delivering ultimate service!</p>
                                </div>
                            </div>
                            <div class="col-md-6 section-img">
                                <img src="~/images/Ecommerceouterthem.png">
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>

        @*Android-design-start*@

        <section id="android" class="all-section-space page-section">
            <div class="andeoid-fillclass">
                <div class="container" data-aos="fade-up">
                    <div class="appcontent section-content">
                        <h4>Download Our App</h4>
                        <p>To download the Android application directly from the website, the download button is given below, to download the application, open the website in the Android device.</p>
                    </div>
                    <div class="app-linkdesign">
                        @if (!string.IsNullOrEmpty(urllinks))
                        {
                            <a href="@Url.Action("DownloadAPK", "Home")"><img src="~/AdminDesign/images/android-front.svg" />Download Android App / Version = @Apk_Version</a>
                        }
                        else
                        {
                            <a href="Javascript:void(0);">
                                <img src="~/AdminDesign/images/android-front.svg" style="width:20px;margin:-2px 10px 0px 0px;" />App Link Not Available
                            </a>
                        }
                        <a href="Javascript:void(0);"><img src="~/AdminDesign/images/android-front.svg" />Download Play Store Link</a>
                        <a href="Javascript:void(0);" onclick="myFunction()" onmouseout="outFunc()"><img src="~/AdminDesign/images/copy-front.svg" />Copy Download Link</a>

                    </div>
                    @if (!string.IsNullOrEmpty(urllinks))
                    {
                        <input type="text" id="txthdlink" name="txthdlink" readonly value="@urllinks" style="opacity:0;" />
                    }
                </div>
            </div>
        </section>



        @{

            var desktopimgurl = (from img in db.message_popup select img.imageurl).FirstOrDefault() ?? "";
            var headercontent = (from content in db.message_popup select content.Heardercontent).FirstOrDefault() ?? "";
            var imgsts = (from img in db.message_popup select img.sts).FirstOrDefault() ?? "N";


            <input type="button" value="login" id="btn111" data-toggle="modal" data-target="#desktoppopup-modal" style="display:none;">
            <div class="modal fade" id="desktoppopup-modal" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:85px;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <p class="modal-title" style="font-size:20px;color:#000000a6;text-align:center;">@headercontent</p>
                        </div>
                        <div class="modal-body">
                            @if (imgsts == "Y")
                            {
                                <img src="@Url.Content("~/" + @desktopimgurl)" class="img-responsive" />
                                <script type="text/javascript">

                                    $(document).ready(function () {
                                        $('#btn111').click();
                                    });

                                </script>

                            }
                            else
                            {

                            }
                        </div>
                    </div>

                </div>
            </div>
        }


    </div>
<script src="~/MainFrontDesign/mainview/js/aos.js"></script>
@* ============================================================== *@


<script src="~/Custom-Animation/js/jquery.min.js"></script>
<script src="~/Custom-Animation/js/wow.min.js"></script>
<script src="~/Custom-Animation/js/main.js"></script>


@*<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/MainFrontDesign/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/MainFrontDesign/js/jquery.easing.1.3.js"></script>*@

@*<script src="~/CSS/multislider.js"></script>*@

@*        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>*@

<script>
    AOS.init();
</script>

<script>
    function myFunction() {
        var copyText = document.getElementById("txthdlink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>



<script>
$(document).ready(function () {
var sil1 = '@ViewBag.silder1';
if (sil1 == "Y") {
document.getElementById("silder1").style.display = "block";
document.getElementById("silder2").style.display = "none";
}
else {
document.getElementById("silder1").style.display = "none";
document.getElementById("silder2").style.display = "block";
}
var succ = '@TempData["front"]';
if (succ != null && succ != "") {
if (succ.includes("Successfully")) {
swal("Good job!", succ, "success");
}
else {
swal("Oops!", succ, "error");
}
}
});
</script>
<script>

    $("#readmore").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            }
            else {
                toggle_switch.html('Read Less');
            }
        });
    });
</script>
<script>
    $("#readmorebus").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $("#readmoreflight").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $("#readmorehotel").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $('button').click(function () {
        if (this.id == 'viewmore') {
            $('#allcard').show();
            $('#silderid').hide();
            $('#viewless').show();
            $('#viewmore').hide();
        }
        else {
            $('#allcard').hide();
            $('#silderid').show();
            $('#viewless').hide();
            $('#viewmore').show();
        }
    })
</script>


<script>
    $("#readmorewhy").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            }
            else {
                toggle_switch.html('Read Less');
            }
        });
    });
</script>
<script>
    var j = $.noConflict();
    j(document).ready(function () {
        j('.my-slick').slick({
            dots: false,
            infinite: true,
            speed: 1200,
            fade: true,
            autoplay: true,
            cssEase: 'linear'

        });
    });

</script>
<script>
    $('.contact-us-form input').focus(function () {
        $(this).parents('.form-group1').addClass('focused');
    });

    $('.contact-us-form input').blur(function () {
        var inputValue = $(this).val();
        if (inputValue == "") {
            $(this).removeClass('filled');
            $(this).parents('.form-group1').removeClass('focused');
        } else {
            $(this).addClass('filled');
        }
    })
</script>



