
<div class="col-md-1">

</div>
<div class="col-md-10" style="margin-bottom:0px;">
    <center>
        <ul id="leftulbar" class="nav nav-tabs tab-col-orange" role="tablist" style="background:#607D8B;border-bottom:none;
-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:4px; border-radius:2px;">

            <li id="finanical" role="presentation" class="" style="padding-left:55px;">
                <a href="@Url.Action("Money_transfer1","Home")" aria-expanded="true">
                    <img src="~/images/transfer-money.png" style="height:45px;margin-top:-5px" />
                    <br />
                    <span style="padding-left:5px;">Money&nbsp;Transfer</span>
                </a>
            </li>

            <li id="finanical1" role="presentation" class="" style="padding-left:52px;">
                <a href="@Url.Action("Index","PANCARD")" aria-expanded="true">
                    <img src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" />
                    <br />Pancard
                </a>
            </li>
           
            <li id="aeps" role="presentation" class="" style="padding-left:70px;padding-bottom:2px;margin-top:-7px;">
                <a href="@Url.Action("AEPS", "Home")" aria-expanded="true">
                    <img src="~/images/aespicon.png" style="height:45px;margin-top:0px;" />
                    <br /><span style="margin-left:14px;">AEPS</span>
                </a>
            </li>
            
            <li id="mpos" role="presentation" class="" style="padding-left:94px;">
                <a href="@Url.Action("MPOS", "Home")" aria-expanded="true">
                    <img src="~/images/mposicon.png" style="height:45px;margin-top:-5px;" />
                    <br />
                    <span style="margin-left:-8px;">M-POS</span>
                </a>
            </li>
           
            <li id="Fees" role="presentation" style="padding-left:62px;box-shadow:none;margin-top:3px;">
                <a href="@Url.Action("SchoolFees","Home")" data-toggle="tab" aria-expanded="true">
                    <img src="~/images/school.png" style="height:45px; margin-top:-8px;" />
                    <br />
                    <span style="padding-left:0px;">School&nbsp;Fee</span>
                </a>
            </li>
            <li id="Indonepal" role="presentation" class="" style="padding-left:69px;">
                <a href="@Url.Action("IndoNepal","Home")" aria-expanded="true">
                    <img src="~/images/phone.png" style="height:45px; margin-top:-5px;" />
                    <br />
                    <span style="padding-left:5px;">INDO&nbsp;NEPAL</span>
                </a>
            </li>
        </ul>
    </center>
</div>
<div class="col-md-1">
</div>