@model IEnumerable<Vastwebmulti.Models.proc_Whitelabel_PAN_CARD_IPAY_Token_report_Result>
@{
    ViewBag.Title = "TokenPurchaseReport";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #ddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }

</style>
<section class="content" style="margin:0px 0px 0px 0px; overflow-x:hidden;">
    <div class="all-page-container">
        <div class="row clearfix">
            @using (Html.BeginForm("TokenPurchaseReport", "PANCARD", FormMethod.Post))
            {
                <div class="col-md-12">
                    <div class="card">
                        <div class="">


                            <div class="col-md-12  recharge-report-wr money-trnasfer-wr">
                                
                                    <div class="col-md-2 wr-status-re">
                                        <div class="form-group">
                                            <div class="" style="margin-top:5px;">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                        new SelectListItem{Text="PENDING",Value="PENDING"},
                        new SelectListItem{Text="FAILED",Value="FAILED"}
                         }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                            </div>
                                        </div>

                                    </div>
                                    @*<div class="col-md-1">
                                                        <div class="form-group">
                                                            <div class="" style="margin-top:5px;margin-left:-13px;width:108%;border:1px solid #dddddd;">
                                                                @Html.DropDownList("ddl_top", new List<SelectListItem>
                                                {
                                        new SelectListItem{ Text="TOP 50",Value="50",},
                                        new SelectListItem{Text="TOP 100",Value="100"},
                                        new SelectListItem{Text="TOP 500",Value="500"},
                                        new SelectListItem{Text="TOP 1500",Value="1500"},
                                            new SelectListItem{Text="ALL Entry",Value="All"}
                                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                            </div>
                                                        </div>

                                                    </div>*@
                                    <div class="col-md-3 lager-date-wr">
                                        <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="input-whitelabel leftwhitellabel">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>

                                                <div class="input-whitelabel rightwhitellabel">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2 lager-date-search">
                                        <div class="form-group">
                                            <div class="form-line" style="border-bottom:none;">
                                                <button type="submit" class="btn" id="btntype" name="btntype" style="">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">Search</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="whitelabel-pdf">
                                        <button><img src="~/ashok-images/pdf.png" />PDF</button>
                                        <button><img src="~/ashok-images/xls.png" />Export</button>
                                        <button>Total</button>
                                    </div>

                                    @*<div class="col-md-4">
                                            <div class="row">
                                                <div class="form-group" style="margin-top:-18px; ">
                                                    <div style="padding-top: 22px;  margin-right: 4px;">
                                                        <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["totals"]</button>
                                                        <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["totalp"]</button>
                                                        <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["totalf"]</button>
                                                        <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 30px;" title="Total  Retailer Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">Income</span>&nbsp;@ViewData["Rincome"]</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row clearfix">
            <div class="col-md-12  recharge-report-datawr recharge-report-datawr-status">
                <div class="card">
                    <div class="body body-whitelabelpadding" style="margin-top:;padding:0px;">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead class="" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Live&nbsp;Status</th>
                                        @*<th>Retailer&nbsp;Id</th>*@
                                        <th>Processing&nbsp;Fees</th>
                                        <th>Physical</th>
                                        <th>Digital</th>
                                        <th>TXN&nbsp;ID</th>
                                        <th>UTI&nbsp;TXN&nbsp;ID</th>
                                        <th>UTI&nbsp;Status</th>
                                        <th>Date</th>

                                        <th>Retailer&nbsp;Pre</th>
                                        <th>Net&nbsp;Income</th>
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        var sts = "";
                                        var color = "";
                                        if (item.Particulars.Contains("Pending"))
                                        {
                                            color = "#ff9600";
                                            sts = "Pending";
                                        }
                                        if (item.Particulars.Contains("Success"))
                                        {
                                            color = "green";
                                            sts = "Success";
                                        }
                                        if (item.Particulars.Contains("Failed"))
                                        {
                                            color = "red";
                                            sts = "Failed";
                                        }
                                        if (item.Particulars.Contains("Refund"))
                                        {
                                            color = "#9C27B0";
                                            sts = "Refund";
                                        }
                                    <tr>
                                        <td><p style="color:@color;font-size:15px;font-weight:700;">@sts</p></td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Email)</td>*@

                                        <td>@Html.DisplayFor(modelItem => item.ProcessingFees)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhysicalCount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DigitalCount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MerchantTxnId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UTI_TXN_ID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CouponStatus)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>

                                        <td>@Html.DisplayFor(modelItem => item.retailer_remain_pre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RetailerIncome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.retailer_remain_post)</td>
                                        <td>
                                            <button class="btn btn default" id="tokenStatus" onclick="tokenStatus('@item.idno')" style="margin-left:2px;  background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="View Pancard Status">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script>
    function tokenStatus(id) {
        var url = '@Url.Action("GetTokenStatus", "PANCARD")'
        var jqxhr = $.post(url, {id : id}, function (data) {
            var response = JSON.parse(data);
            if (response.RESULT == "0") {
                swal("Wow!", response.ADDINFO, "success");
                window.location.reload();
            }
            else {
                swal("Oops!!!", response.ADDINFO, "error");
            }
        })
       .fail(function (jqXHR, textStatus, errorThrown) {

           swal("Oops!!!", jqXHR.responseText, "error");

       })

    }
</script>

<script>
    $(".input-whitelabel input").click(function () {
        $(".datepicker").addClass('whitedate-first-aeps-date');
    });


</script>