@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Refund & Cancellation Policy";
    string urllinks = @ViewBag.urllink;

    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;

}


<meta name="viewport" content="width=device-width">
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var allcolor1 = db.tblMenuColors.ToList();
    var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
    var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
    var col = "";
    var outercolor = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    if (outercolor.Count > 0)
    {
        if (outercolor.SingleOrDefault().Role == "ADMIN")
        {
            col = outercolor.Where(p => p.Role == "ADMIN").SingleOrDefault().multipaloutercolor;
        }
    }
    else
    {
        col = "";
    }
    var color = col;
    var Apk_Version = "";
    var apkversion = db.uploaded_apklink.SingleOrDefault();
    if (apkversion != null)
    {
        if (!string.IsNullOrWhiteSpace(apkversion.Apk_Version))
        {
            Apk_Version = apkversion.Apk_Version;
        }

    }
    var logoimage = "";
    var logo = db.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        if (logo.SingleOrDefault().Role == "ADMIN")
        {
            logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
        }
    }
    else
    {
        logoimage = "images/Default_Logo.png";
    }

    var aboutbac = db.tblAboutUsBackgroundColorChanges.Where(p => p.Role == "ADMIN").ToList();
    var aboutbaccolor = aboutbac.Count == 0 ? "" : aboutbac.SingleOrDefault().MultipalAboutUsColor;

    var service = db.tblServiceOuterColors.Where(p => p.Role == "ADMIN").ToList();
    var servicecolor = service.Count == 0 ? "" : service.SingleOrDefault().ServiceBackGroundcolor;

    ViewBag.Services = db.tblServices.Where(p => p.Role == "ADMIN").ToList();

    ViewBag.product = db.tblProducts.ToList();

    var productcolor = db.tblProductBackColors.ToList();
    var productbackcolor = productcolor.Count == 0 ? "" : productcolor.SingleOrDefault().ProductBackColor;

    ViewBag.works = db.tblWorks.ToList();
    var workbackcolor1 = db.tblWorkbackColors.ToList();
    var workbackcolor = workbackcolor1.Count == 0 ? "" : workbackcolor1.SingleOrDefault().WorkBackColor;

    var border = db.Admin_Outer_Border.ToList();
    var bordersize = border.Count == 0 ? "" : border.SingleOrDefault().Border;

    ViewBag.card = db.tblCards.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor1 = db.tblCardBackColors.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor = cardbackcolor1.Count == 0 ? "" : cardbackcolor1.SingleOrDefault().CardBackColor;
    ViewBag.about = db.tblAboutUsContents.Where(p => p.Role == "ADMIN").ToList();
    ViewBag.address = db.tblContects.ToList();
    var st = db.tblMenus.Where(p => p.Role == "ADMIN").ToList();
    var homests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "HOME").SingleOrDefault().Status;
    var aboutsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "ABOUT").SingleOrDefault().Status;
    var servicests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "SERVICES").SingleOrDefault().Status;
    var productsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "PRODUCTS").SingleOrDefault().Status;
    var worksts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WORKS ").SingleOrDefault().Status;
    //var cardsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CARDS").SingleOrDefault().Status;
    var travelsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TRAVEL").SingleOrDefault().Status;
    var dthsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "DTHCONNECTION").SingleOrDefault().Status;
    var teamsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TEAM").SingleOrDefault().Status;
    var contactsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CONTACTUS").SingleOrDefault().Status;
    var whychoosests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WHYCHOOSEUS").SingleOrDefault().Status;
    var newupdatasts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "NEWUPDATE").SingleOrDefault().Status;


}

@{
    var favimage = "";
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {

        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;


}




<style>
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }
</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Refund & Cancellation Policy</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <h5> <b>@Firm_Name Refund & Cancellation Policy Services</b> </h5>
                    <p>
                        Once the transaction done or the service has been delivered on or by the Company Platform are final with no refund or exchange permitted. @Firm_Name holds no responsibility for any mathematical, logical, reasoning based or any other type of inaccuracy while performing the transaction at Retailer or Distributor's end.
                    </p>
                    <p>
                        The Retailer and/or Distributor has to be aware about any type of alteration for the service provider's end like mobile operators change their plans, the Company does not hold any responsibility for such.
                    </p>
                    <p>
                        You are also responsible for the information relating to data card and toll-tag recharge and all charges that result from those purchases.
                    </p>
                    <p>
                        @Firm_Name  is not responsible for any purchase of prepaid recharge for an incorrect mobile number or DTH account number or incorrect toll or data card information. However, if in a transaction performed by You on the <b>@Firm_Name</b> Platform, money has been charged to Your card or bank account and a recharge is not delivered within 24 hours of the completion of the transaction, then You shall inform us by sending an email to our customer services email address mentioned on the 'Contact Us' page on the <b>@Firm_Name</b> Platform. Please include in the e-mail the following details – the mobile number (or DTH account number or data card or toll-tag information), operator name, recharge value, transaction date and order number. <b>@Firm_Name</b> will investigate the incident and, if it is found that money was indeed charged to Your card or bank account without delivery of the recharge, then You will be refunded the money within 5-10 working days from the date of receipt of Your email. All refunds will be credited to Your closed wallet. You can trigger a request in Your UTP wallet to transfer the money from Your <b>@Firm_Name</b> wallet back to source. It will take 2-10 working days for the money to show in Your bank account depending on Your bank's policy.
                    </p>
                    <p>
                        A transaction that fails for a reason that it is directly attributable to <b>@Firm_Name</b>, and for which the user receives a corresponding confirmation from the associated payment gateway will be refunded automatically back to the account of the user in a time period of 2 to 10 working days, from the date on which the original transaction has taken place. A confirmation email may also be sent to the email ID of the user registered with us. Please note that the amount pertaining to the applicable taxes and the payment gateway charges will not be refunded.
                    </p>
                    <p>In cases in which the user receives the successful payment completion confirmation but does not get the services, the user is required to register a complaint with <b>@Firm_Name</b>. This complaint can be logged by the user by sending an email to the Customer Care email ID provided on the Company website. We will conduct a complete inquiry upon receiving the complaint registered by the user. Refund of the payment will be provided to the user account on the basis of results of the inquiry.</p>
                    <p>Please note that in all cases, the liability of <b>@Firm_Name</b> is restricted only to provide a valid refund to the extent of the payment received to us. <b>@Firm_Name</b> is not responsible for any consequential liability or claim that may be associated with the failure of the services of our system.</p>
                    <p>A user should accept that the <b>@Firm_Name</b> refund policy is subject to the stated terms and conditions of the user agreement of the website.</p>

                    <h5><b>How do payments fail? Why are refunds required?</b> </h5>
                    <p>If the communication fails at any step after the customer account has been charged, the payment fails and the customer has a legitimate case for seeking a refund.</p>
                    <p>There can be various reasons for either of steps 1,2 or 3 failing but the most prominent one in our experience is network connectivity. Until all steps are complete, the customer’s device needs to be connected to the internet for the customer to be notified.</p>
                    <p>Also, payments can show up as failed if the payment status is not updated either (Step 1) by issuing banks or the acquiring bank (Step 2) despite being collected. The payment gateway does not receive any notification in these cases just as the customers and the online business themselves.</p>
                    <p>Payments work on several technical infrastructures and all of them are not as optimized to solve such issues. As the classic adage goes – any chain is as strong as its weakest link. This could not be more true for online payments.</p>
                    <p>How does <b>@Firm_Name</b> handle refunds?</p>
                    <p>A payment gateway’s job doesn’t stop if they do not receive a successful payment status from the banks. There are a couple of things that it can do to retrieve a failed payment and check again for updates regarding its status.</p>
                    <p>Our Payment Gateway keeps polling acquiring banks periodically, to see if a payment that was called out as “failed” before has been updated to successful. If it has, we inform the business where the transaction was done and give them an option to collect the payment then. One of 2 things happen here –</p>
                    <p>The online business accepts the change in payments status, agrees to collect the payment and provides the service/good that was promised earlier to the customer.</p>
                    <p>The online business decides not to collect the payment as it is no longer in position to service the customer at the agreed terms (could be time of delivery, cost of purchase, inventory issues, etc). In this case, they have to refund the payment to the customer who gets the money in their account in a period of 5-10 working days.</p>
                    <p>At <b>@Firm_Name</b>, we have developed these monitoring systems so that the refunds are handled without impacting the end customers in such circumstances. In instances where payment/refund can still not tracked, we attempt to resolve issues further with the banks via manual intervention.</p>
                    <p>In case of payments failure due to a breakdown in communication between a payment gateway and the online website, a good payment gateway should have a fallback mechanism for reconciling payments for both parties and updating their correct status in near real-time.At <b>@Firm_Name</b>, we encourage our client businesses to receive the status of each payment through both a website level integration and also on their servers through webhooks.</p>
                    <p>When a transaction is marked as failed, we give these online businesses an option to check via our Webhooks API if the transaction has genuinely failed or if its a false alarm. If found that the transaction is successful, the online business has the option to carry out the transaction as normal.</p>


                    <p>  <strong>&nbsp;</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>