@using Microsoft.AspNet.Identity
@using Vastwebmulti.Models;
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Terms & Conditions";
}
@{
    VastwebmultiEntities DB = new VastwebmultiEntities();
    var url = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    var admindetail = DB.Admin_details.ToList();
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var weburl = admindetail.SingleOrDefault().WebsiteUrl;
    var email = admindetail.SingleOrDefault().email;
    var weburl2 = "http://" + weburl;
    var logoimage = "";
    var logo = DB.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        if (logo.SingleOrDefault().Role == "ADMIN")
        {
            logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
        }
    }
    else
    {
        logoimage = "images/Default_Logo.png";
    }

    List<Vastwebmulti.JsonData.Hlp_TC_Privacy> people = new List<Vastwebmulti.JsonData.Hlp_TC_Privacy>();
    JSONReadWrite readWrite = new JSONReadWrite();
    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.JsonData.Hlp_TC_Privacy>>(readWrite.Read("TnCAdmin.json", "~/Areas/ADMIN/Models/JsonData/"));
    var Terms = people.ToList();
}

<style>
    .our-services1 {
        padding: 15px 15px;
        min-height: 240px;
        text-align: left;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 3px 0 rgb(20 27 202 / 17%);
    }
</style>

<div class="container my3 pt-3 z-depth-1">
    <section class="pagedetl mb-5">
        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2> Terms & Conditions </h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="our-services1">
                    <h5> <b>Acceptance of Terms</b> </h5>
                    <p>
                        The access and use of this website <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a> is subject to the following terms and conditions of use ("Conditions" and/or "Terms"). If user do not agree to abide by the Conditions, please do not review, refer or download materials or use this website.
                    </p>
                    <p>
                        User can use @Firm_Name Internet sites or any of the products or services offered on those sites (collectively, the "Services") is subject to these Terms of Use (these "Terms"). We may modify these Terms at any time without notice to user by posting revised Terms on our sites. Use of our sites constitutes user binding acceptance of these Terms, including any modifications that we make.
                    </p>
                    <p>
                        Some of the Services may be subject to additional posted conditions. Use of those Services is subject to those conditions, which are incorporated into these Terms by reference. In the event of an inconsistency between these Terms and any additional posted conditions, the provisions of the additional conditions shall control.
                    </p>
                    <p>We have the right, but not the obligation, to take any of the following actions in our sole discretion at any time and for any reason without giving user any prior notice:</p>
                    <p>Restrict, suspend, or terminate user’s access to all or any part of our Services; Change, suspend, or discontinue all or any part of our Services; Refuse, move, or remove any material that user submit to our sites for any reason; Refuse, move, or remove any content that is available on our sites; Deactivate or delete user accounts and all related information and files in user account; Establish general practices and limits concerning use of our sites.</p>
                    <p>User agree that we will not be liable to user or any third party for taking any of these actions.User understand and agree that our Services may include communications such as service announcements and administrative messages from us or from our partners or licensors or associates and that these communications are considered part of the Services. User will not be able to opt out of receiving these messages.</p>
                    <p>User confirms to provide us any and every details we require to obtain from them, including such other personal or proprietary information relating to any of user acts or omissions or violations or other persons who may be a party with user, on suspicion or otherwise in relation to the use of @Firm_Name site. For viewing of contents on the @Firm_Name site, we advise user s to exercise discretion and in any case user must be atleast 18 years old and above. In any case, user will exercise this discretion and be liable to all risk associated with it including third parties and if users are less than 18 years or incompetent or insane.</p>
                    
                    
                    <h5><b>THIRD-PARTY Sites, Products and Services</b> </h5>
                    <p>
                        Our sites contain links to other Internet sites owned by third parties. User use of each of those sites is subject to the conditions, if any, that each of those sites has posted. We have no control over sites that are not ours, and we are not responsible for any changes to or content on them. Our inclusion on our sites of any third-party content or a link to a third-party site is not an endorsement of that content or third-party site.
                    </p>
                    <p>We do not sell, resell, or license any of the products or the services that we review, list, or advertise on our sites, and we disclaim any responsibility for or liability related to them. User correspondence or related activities with third parties, including payment transactions and goods-delivery transactions, are solely between user and that third party. User agree that we will not be responsible or liable for any loss or damage of any sort incurred as the result of any of user transactions with third parties. Any questions, complaints, or claims related to any product or service should be directed to the appropriate vendor.</p>
                    
                    <h5><b>Liability of the User</b> </h5>
                    <p>
                        The User shall be liable for: <br /> Non-compliance of Terms of Service (Terms & Conditions) mentioned herein. <br /> If he/she has breached the Terms of Service (Terms & Conditions) or contributed or caused the loss by negligent actions such as the following: <br /> Failing to crosscheck or enter correct bank details for the transaction <br /> Not verifying the bank account before processing the transaction <br /> Doing transaction on credit for customers
                    </p>

                    <h5><b>Documents Required For Agent Enrolment</b> </h5>
                    <p>
                        The User shall be responsible for submitting necessary documents, duly verified/or self-attested and any other information that will be required for agent enrolment process. If any request for a service is such that it cannot be given effect to unless it is followed up by requisite documentation, @Firm_Name shall not be required to act on the request until it receives such documentation from the user.
                    </p>

                    <h5><b>Technology Risks</b> </h5>
                    <p>
                        The site of <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may require maintenance and during such time it may not be possible to process the request of the users. Company will take reasonable care to inform the users of such maintenance activity including non-availability of Banking Service well in advance. This maintenance activity could result in delays and/or failure in the processing of transactions. The user understands that <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  disclaims all and any liability, whether direct or indirect, whether arising out of loss or otherwise arising out of any failure or inability.User shall not download, reformat, and print a limited amount of content from <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  for user personal and commercial use. In accessing <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  web pages, user agree that user may only access the content for user own personal non-commercial use. User shall also not include excerpts or limited portions of information from <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  in printed memos, reports, and presentations or any other manner.
                    </p>

                    <h5><b>Personal, non-commercial use</b> </h5>
                    <p>
                        User shall not download, reformat, and print a limited amount of content from <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  for user personal and commercial use. In accessing <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  web pages, user agree that user may only access the content for user own personal non-commercial use. User shall also not include excerpts or limited portions of information from <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  in printed memos, reports, and presentations or any other manner.
                    </p>
                    <h5><b>Charges</b> </h5>
                    <p>
                        User understand that <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may charge “charges” for using its services at its discretion from time to time may specify charges for usage. The charges for selected services which notified to customers through website or any other medium and any further changes in the charges/fees shall also be notified in aforesaid manner. The Customer and the other account holder(s) hereby authorize(s) <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  to recover all charges related to its services from time to time by debiting the user(s) Account. If at any time it is found that the user has engaged or is engaging in any act or omission to defraud @Firm_Name, its affiliates, users or otherwise engages in unlawful, fraudulent, suspicious or other activities which suggest malafide intent of the user, whether to avail benefits of any offer, cashback, reward or incentive given by the company or otherwise, and/or which activities are detrimental to our interest, company reserves its right to claw-back or recover the benefits of such offer, with or without intimation to the user, at its sole discretion, by debiting the Account.
                    </p>
                    <h5><b>Copyright Notice</b> </h5>
                    <p>
                        All rights, including copyright, in the content of <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  webpages are owned or controlled for these purposes by @Firm_Name In accessing <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  web pages, User agree that User may only access the content for User own personal non-commercial use. Except where expressly stated otherwise, User are not permitted to copy, broadcast, download, store (in any medium), transmit, show or play in public, adapt or change in any way the content of h <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  web pages for any other purpose whatsoever without the prior written permission of @Firm_Name Use for any other purpose is expressly prohibited by law, and may result in severe civil and criminal penalties.
                    </p>
                    

                    <p>  <strong>&nbsp;</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var PrivacyElement = @Html.Raw(Json.Encode(Terms.SingleOrDefault().Name));
    console.log(decodeURIComponent(PrivacyElement))
    if (decodeURIComponent(PrivacyElement).length > 7) {
        document.getElementById('en_container').innerHTML = '<div><div/>';
        document.getElementById('en_container').innerHTML = decodeURIComponent(PrivacyElement);
    }

</script>
