<style>

    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .wretailerinsurance .viewwretailer .form-group {
        height: auto !important;
    }

        .wretailerinsurance .viewwretailer .form-group .form-line {
            height: auto !important;
        }

            .wretailerinsurance .viewwretailer .form-group .form-line input {
                height: auto !important;
                padding: 5px !important;
                background: transparent !important;
                color: #555 !important;
                font-size: 11px;
            }

    .wretailerinsurance .viewwretailer {
        padding-right: 0;
        top: 4px !important;
    }

    .wretailerinsurance input {
        margin-top: 0 !important;
    }

    .wretailerinsurance .col-md-4, .wretailerinsurance .col-md-2, .wretailerinsurance .col-md-3, .wretailerinsurance .col-md-1 {
        padding-left: 0;
    }

        .wretailerinsurance .col-md-2 .txtelectricity1 {
            margin-top: 0 !important;
        }

    .wretailerinsurance input {
        width: 100% !important;
        float: left;
    }

    .wretailerinsurance .input-daterange.input-group {
        margin-left: 0 !important;
    }
    @@media screen and (max-width:767px) {
        .wretailerinsurance {
            width: 100%;
            float: left;
        }
        .wretailerinsurance .col-md-4, .wretailerinsurance .col-md-1, .wretailerinsurance .col-md-2, .wretailerinsurance .col-md-3 {
    width: 100% !important;
    float: left;
    padding: 0 !important;
       
}
    }
</style>
<div id="insurinfo" class="row wretailerinsurance" style="padding-left:0px;margin:0;">
    <div class="col-md-4 elecpay-first insurinfo-class" style="padding-left:0;padding-right:15px;">
        
        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="input-group">

                @Html.DropDownList("insuranceddltype", ViewBag.insurance as SelectList, "Select Insurance Company", new { id = "insuranceddltype", @class = "form-control", required = "required", onchange = "insuranceddl(this)" })

                <div class="input-group-addon in-addon">

                </div>
            </div>
            <!-- /.input group -->
        </div>

    </div>

    <div class="col-md-2">
        
        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="insurancemessage" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="txtelectricity1" style="margin-top:-1px; height:37px;">
                <input type="text" id="txtpolicyno" name="txtpolicyno" class="form-control" placeholder="Enter Policy Number" onkeypress="return isNumber(event)" />
            </div>
        </div>
    </div>
    <div class="col-md-2" id="gasamount-input-right">
        
        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="insuranceamountmessage" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="txtelectricity1" style="margin-top:-1px; height:37px;">
                <input type="text" id="insuranceamount" name="insuranceamount" class="form-control" placeholder="Amount" style="padding-left:5px;" onkeypress="return isNumber(event)" />
                <!--Add Button View-->
                <div class="col-md-1 wamount-input-type viewwretailer">
                    <center>
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="form-line" style="border-bottom:none;">
                                <input type="submit" id="btnnn4" class="btn bg-blue-grey" value="View Bill" style="height: 37px;" onclick="GetInsuranceviewbill('insuranceddltype')" />
                            </div>
                        </div>
                    </center>

                </div>
                <!--Add Button View-->

            </div>
        </div>
    </div>
    <div class="col-md-2" id="divbob">
        

        <div class="form-group" style="margin-bottom:0px;">
            <div class="wretailererrorclass">
                <p id="dobinsurancemessage" class="insurancemessage22" style="position:static !important;"></p>
            </div>
            <div class="txtelectricity1" style="margin-top:-5px;height:37px;">
                <div class="input-daterange input-group" style="margin-left:-13px;">
                    @Html.TextBox("txtDOB", "", new { @class = "form-control", required = "required", style = " margin-top:4px;height:37px;text-align: left;padding-left: 5px;", placeholder = "DOB Ex: dd-mm-yyyy", autocomplete = "off" })
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1 gasamount-input-before wretailer-dthbutton" style="padding-right:0;">
        <center>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:-1px !important; border-bottom:none;">
                    <input type="submit" id="btn4" class="btn bg-blue-grey" value="Continue" style="height:37px;margin-left:-15px;" onclick="getinsurancecontinuebtn('insuranceddltype')" />
                </div>
            </div>
        </center>

    </div>
    <!--View Bill button-->
    <!--

    <div class="col-md-1">
        <center>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:39px; border-bottom:none;">
                    <input type="submit" id="btnnn" class="btn bg-blue-grey" value="View Bill" style="height:37px;margin-left:-15px;" onclick="GetInsuranceviewbill('insuranceddltype')" />
                </div>
            </div>
        </center>

    </div>

    -->

</div>
<table id="confirminsur" class="for-prepaid" style="width:100%;margin-top:-11px !important;display:none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:25%;">Operator</th>
        <th style="width:25%;">Recharge to</th>
        <th style="width:10%;">amount</th>
        <th style="width:15%;">Service Fee </th>
        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backinsur()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size:15px;">
            <b><span id="showoptinsur"></span> </b>
        </td>
        <td class="border-centerbe" style="font-size: 20px;"><b> <span id="shownumberinsur"></span> </b></td>
        <td class="border-centerbe" style="font-size: 20px;"><b><span id="showamountinsur"></span></b></td>
        <td style="padding-right:10px;"><input type="number" class="form-control" id="servicefeeinsurance" placeholder="Enter Fee" style="-webkit-appearance: none;-moz-appearance: textfield;" /></td>
        <td><button class="wretailer-buttonrecharge" style="float: right;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="insurrechargeconfirm()">Procces To Pay</button></td>

    </tr>
</table>
<table id="rechargeconfirminsur" class="for-prepaid" style="width:100%;margin-top:-11px !important;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschkinsur"></span> </b></td>
        <td class="border-centerbe border-centerbess" style="font-size: 20px;"><b><span id="rchmsginsur"></span></b></td>
        <td><button class="wretailer-buttonrecharge" style="float: right;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagaininsur()">Recharge Again</button></td>
    </tr>
</table>
<div class="loader loaderwww"></div>
<script>
    j('#insuranceddltype').select2();
</script>


<!--Insurance View Bill-->
<script>
    function GetInsuranceviewbill(ins) {
        var e = document.getElementById(ins);
        var insuranceddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtpolicyno = $("#txtpolicyno").val();
        var insuranceamount = $("#insuranceamount").val();
        var dob = $("#txtDOB").val();
        /*call function */
        var sts = getinsurancecontiunebtn(insuranceddl, txtpolicyno, dob, "10");
        if (sts == true) {
            viewbillinsur(insuranceddl, eleddlvalue, txtpolicyno, "10", dob, "", "", "");
            event.preventDefault();
            return false
        }
        else {
            event.preventDefault();
            return false
        }
    }
</script>
<script>
    function viewbillinsur(optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("viewbill", "Home")",
            data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amount, optional1: optional1, optional2: optional2, optional3: optional3, optional4: optional4 },
            cache: false,
            dataType: 'json',
            closeOnConfirm: true,
            success: function (result) {

                if (result.Response == 'SUCCESS') {
                var displayValues = "";
                var price = result.Price;
                displayValues = price;
                    if (price != "") {

                        //price = parseInt(price);
                        $('#insuranceamount').val(price);
                        //swal("Success!", displayValues, "success")

                        var newRow =
                            "<div class='col-sm-4' style='text-align: left;'>" +
                            "" + displayValues + ""
                        "</div>"
                        $('#insurCustomerTbl').append(newRow);
                        $('#insurCustomerInfo').css('display', 'block');
                    }
                    else {
                        var message = result.Message;
                                      $('#insuranceamount').val(0);
                    //swal("Success!", displayValues, "success")

                                                     var newRow =
                              "<div class='col-sm-4' style='text-align: left;'>" +
                                  ""+message+""
                    "</div>"
                      $('#insurCustomerTbl').append(newRow);
                      $('#insurCustomerInfo').css('display', 'block');
                    }

                }
            }
        })
    }
</script>
<script>
    function backinsur() {
        $('#insurCustomerInfo').show();
           $('#insureinfo').show();
            $('#confirminsur').hide();
    }
    </script>
<!--Insurance continue button function-->
<script>
    function getinsurancecontinuebtn(ins) {
        var e = document.getElementById(ins);
        var insuranceddl = e.options[e.selectedIndex].text;
        var insurancevalue = e.options[e.selectedIndex].value;
        var txtpolicyno = $("#txtpolicyno").val();
        var insuranceamount = $("#insuranceamount").val();
        var dob = $("#txtDOB").val();

        /*call function */
        var sts = getinsurancecontiunebtn(insuranceddl, txtpolicyno, dob, insuranceamount);
        if (sts == true) {
            $('#showoptinsur').text(insuranceddl);
            $('#shownumberinsur').text(txtpolicyno);
            $('#showamountinsur').text(insuranceamount);
              $('#insurCustomerInfo').hide();
            $('#insurinfo').hide();
            $('#confirminsur').show();

          //  Recharge(insuranceddl, insurancevalue, txtpolicyno, insuranceamount, dob, "", "", "", "0");
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }
    }
</script>

<script>
    function insurrechargeconfirm() {
        var e = document.getElementById("insuranceddltype");
        var insuranceddl = e.options[e.selectedIndex].text;
        var insurancevalue = e.options[e.selectedIndex].value;
        var txtpolicyno = $("#txtpolicyno").val();
        var insuranceamount = $("#insuranceamount").val();
        var dob = $("#txtDOB").val();
        var servicefeeinsurance = $("#servicefeeinsurance").val();
        if (servicefeeinsurance != "") {
            /*call function */
            var sts = getinsurancecontiunebtn(insuranceddl, txtpolicyno, dob, insuranceamount);
            if (sts == true) {
                  $("#servicefeeinsurance").css("border-color", "#00000");
                $("#txtpolicyno").val("");
                $("#insuranceamount").val("");
                if (txtpolicyno != "" && insuranceamount != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Recharge","Home")",
                        data: { OperatorName: insuranceddl, OptCode: insurancevalue, mobileno: txtpolicyno, Amount: insuranceamount, optional1: dob, optional2: "", optional3: "", optional4: "", comm: "", BillRefId: "" ,servicefee: servicefeeinsurance },
                        cache: false,
                        dataType: 'json',
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (result) {
                            var status = result.Response;
                            var message = result.Message;
                            $('#rchstatuschkinsur').text(status);
                            $('#rchmsginsur').text(message);
                            $('#confirminsur').hide();
                            $('#rechargeconfirminsur').show();
                        },
                        complete: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                            $.ajax({
                                url: '@Url.Action("showrecentrecharge", "Home")',
                                type: 'GET',
                                dataType: "html",
                                data: { type: "Insurance" },
                                success: function (data) {
                                    $('#reportchk').html(data);
                                },
                                error: function (data) {

                                }
                            });
                        },
                        error: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                        }
                    })
                }
            }
        }
        else {
              $("#servicefeeinsurance").css("border-color", "#FF0000");
        }
    }
</script>

<script>
    function Rechargeagaininsur() {
                $('#insurinfo').show();
            $('#confirminsur').hide();
            $('#rechargeconfirminsur').hide();
           j('#insuranceddltype').val("");
        j('#insuranceddltype').select2().trigger('change');
        $('#txtpolicyno').val("");
            $('#insuranceamount').val("");
                   $('#txtDOB').val("");
    }
</script>