
@{
    ViewBag.Title = "_menuFinicalReport";
    Layout = null;
}


<ul class="nav nav-tabs tabsrepor-nav tab-content tabsrepor-content activeclass-bac-four" style="width:100% !important;display:flex;padding-left:0;">
    <li class="">
        <a href="@Url.Action("Money_Transfer_Report","Home")" style="padding: 5px 4px;">
            <img class="reportnone" src="~/AdminDesign/images/money(1).svg" /> <img class="reportblock" style="" src="~/AdminDesign/images/business.svg" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">To&nbsp;A/C&nbsp;To&nbsp;Wallet</span>
        </a>
    </li>
    <li><a style="padding: 5px 2px;" href="@Url.Action("AepsReport","Home")"><img class="reportnone" src="~/images/aeps1.png" /> <img class="reportblock" style="" src="~/images/aespicon.png" /><span>Aeps</span></a></li>
    <li>@*<a style="padding: 5px 2px;" href="@Url.Action("m_Possreport","Home")"><img class="reportnone" src="~/images/mpos1.png" /> <img class="reportblock" style="" src="~/images/mposicon.png" /><span>M-Pos</span></a>*@</li>
    <li><a style="padding: 5px 2px;" href="@Url.Action("TokenPurchaseReport","PANCARD")"><img class="reportnone" src="~/images/pancarde1.png" /> <img class="reportblock" style="" src="~/images/pancardicon.png" /><span>Pan Card</span></a></li>
    <li><a style="padding: 5px 2px;" href="@Url.Action("CashDepositReport","Home")"><img class="reportnone" src="~/ashok-images/moneyretailerdesec.svg" /> <img class="reportblock" style="" src="~/ashok-images/moneyretailerde.svg" /><span>Cash Deposit</span></a></li>
</ul>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.nav.nav-tabs.tabsrepor-nav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');
                $this.addClass('navbar');

            }
        })
    });
</script>