@model Vastwebmulti.Areas.WRetailer.Models.remmulti
<div class="body" style="padding:0px;">
    <div class="body table-responsive" style="position:inherit;">
        <table id="example" class="table table-bordered example-recharge" cellspacing="0" style="width:100%;">
            <thead class="navbar" style="color:white;position:inherit;">
                <tr class="recharge-tableoperator">
                    <th>Operator&nbsp;Name</th>
                    <th>REQ ID</th>
                    <th>Recharge&nbsp;No</th>

                    <th>Amount</th>

                    <th>Operator&nbsp;ID</th>
                    <th>Req&nbsp;Time</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.recent_rechargereport != null)
                {
                    foreach (var item in Model.recent_rechargereport)
                    {
                        var color = "#000000f2";
                        var icon = "";
                        var opticon = "";
                        if (item.Rstaus.Contains("Request Send"))
                        {
                            color = "#ff9600";
                        }
                        if (item.Rstaus.Contains("FAILED"))
                        {
                            color = "red";
                        }
                        if (item.Rstaus.Contains("SUCCESS"))
                        {
                            color = "green";
                        }

                        if (item.Rstaus.Contains("Refund"))
                        {
                            icon = "fa fa-share-square";
                            color = "blue";
                        }
                        if (item.rch_type == "ONLINE")
                        {
                            icon = "fa fa-globe";
                        }
                        if (item.rch_type == "Apps")
                        {
                            icon = "fa fa-android";
                        }
                        

                        <tr style="color:@color;">
                            <td>
                                @if (item.Rstaus.ToUpper().Contains("REQ"))
                                {
                                    <img style="height: 20px;width: 20px;margin-right:3px;float:left;max-width: 100%;padding: 0; background-color:;" src="../../ashok-images/clock.svg">

                                }
                                else
                                {
                                    if (item.Rstaus.ToUpper() == "SUCCESS")
                                    {
                                        <img src="../../ashok-images/correct.svg" style="height:20px;width:20px;margin-right:3px;float:left; background-color:green;" />
                                    }
                                    else
                                    {
                                        <img src="../../ashok-images/closes.svg" style="height:20px;width:20px;margin-right:3px;float:left; background-color:red;" />
                                    }
                                }

                                <i class="@opticon"></i>&nbsp;@item.operator_Name
                            </td>
                            <td><i class="@icon" style="font-size:14px;"></i>&nbsp;@item.idno</td>
                            <td>@item.Mobile</td>

                            <td>@item.amount</td>

                            <td style="font-size:14px;">@item.OPt_id</td>
                            <td>
                                <p style="font-size:14px;">
                                    @String.Format("{0:dd-MMM HH:mm:ss}", item.Rch_time)

                                </p>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

</div>
