@model IEnumerable<Vastwebmulti.Models.getstudentdetails_Result>
<div class="body table-responsive " style="position:inherit;padding:12px;">
    <table class="table table-bordered table-striped   ">
        <thead class="navbar" style="color:white;position:inherit;">
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Father Name</th>
                <th>Section</th>
                <th>Class&nbsp;Name</th>
                <th>School&nbsp;Name</th>
                <th>Proceed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RollNo</td>
                    <td>@item.Name</td>
                    <td>@item.FName</td>
                    <td>@item.Section</td>
                    <td>@item.stdClass</td>
                    <td>@item.SchoolName</td>
                    <td>
                <button type="button" class="btn bg-blue-grey waves-effect" onclick="fillstudentform('@item.RollNo','@item.FCId')">
                <span style="top:-2px;">Proceed</span>
                </button>
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>


