@model Vastwebmulti.Areas.RETAILER.Models.PANCARD_Model_FINAL
@{
    ViewBag.Title = "ADD_PAN_CARD_FINAL";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}


<style>
    .lblRequired:after {
        content: "*";
        color: red;
    }

    .field-validation-error {
        color: red;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="padding:18px; padding-left:21px;">
                        <h2>
                            <span style="font-size:21px;"></span>Application For Pancard&nbsp;( PAN Master)

                            <a href="~/RETAILER/Home/Dashboard" class="btn bg-indigo  waves-effect" style="margin-top:-3px; margin-left:5px; float:right;">
                                <i class="material-icons" style="top:3px;">arrow_back</i>
                                <span style="top:-4px;">Back To Dashborad</span>
                            </a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
          @using (Html.BeginForm("ADD_PAN_CARD_FINAL", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
          { 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top:-18px;">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(a => a.Idno)
                        @Html.HiddenFor(a => a.communicationAddress)
                        @Html.HiddenFor(a => a.RA_Address)
                         @Html.HiddenFor(a => a.AckNo)
                        <div class="body">
                            <form class="form-horizontal">
                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                       <center><label align="center" style="font-size:22px;">Area's Details</label></center>      </div>
                                   </div>
                                <div class="row clearfix">
                                 <div class="col-md-4">
                                 <b for="email_address_2" style="padding-top:0px;">Defence Personnel select the appropriate category</b>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" style="margin-bottom:0px; margin-top:-10px; ">
                                            <div class="form-line" style="top:10px; border-bottom:none;">
                                 <input name="DefencePersonnel" type="radio" id="RBAirForce" class="with-gap" value="Army" >
                                 <label for="RBAirForce" style="font-weight:600;">Army</label>
                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" style="margin-bottom:0px; margin-top:-10px; ">
                                            <div class="form-line" style="top:10px; border-bottom:none;">
                                          <input name="DefencePersonnel" type="radio" id="RBAirForce2" class="with-gap" value="Air Force">
                                       <label for="RBAirForce2" style="font-weight:600;">Air Force</label>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" style="margin-bottom:0px; margin-top:-10px; ">
                                            <div class="form-line" style="top:10px; border-bottom:none;">
                                         <input name="DefencePersonnel" type="radio" id="RBIndividual" class="with-gap" value="Other Individuals Non International">
                                <label for="RBIndividual" style="font-weight:600;">Other Individuals Non International</label>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                <div class="row clearfix" style="margin-top:22px;">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Area Details</label>
                                    </div>
                                   
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Area Code</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(a => a.AreaCode, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(a => a.AreaCode)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">AO Type</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                      @Html.TextBoxFor(m => m.AOType, new { @class = "form-control" })
                                    <span class="field-validation-valid" data-valmsg-for="AOType" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <b for="inputEmail3" class="lblRequired">Range code</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Rangecode, new { @class = "form-control" })
                                                <span class="field-validation-valid" data-valmsg-for="Rangecode" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <b for="inputEmail3" class="lblRequired">AO NO</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                      @Html.TextBoxFor(m => m.AONO, new { @class = "form-control" })
                                    <span class="field-validation-valid" data-valmsg-for="AONO" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">AO Code Link :</label>
                                    </div>
                                     <div class="col-md-10">
                                         <a target="_blank" href="https://tin.tin.nsdl.com/pan2/servlet/AOSearch" style="color:#0C0;">https://tin.tin.nsdl.com/pan2/servlet/AOSearch</a>
                                     </div>
                                 </div>
                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                        <center><label align="center" style="font-size:22px;">Applicant's Details</label></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                           <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Category of Applicant</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                               @Html.DropDownListFor(m => m.Category, new List<SelectListItem>
                               {
                               new SelectListItem{ Text="Individual",Value="Individual",},
                               new SelectListItem{Text="Firm",Value="Firm",},
                               new SelectListItem {Text="Body of Individuals",Value="Body of Individuals", },
                               new SelectListItem {Text="Hindu Undivided Family",Value="Hindu Undivided Family", },
                               new SelectListItem {Text="Association of Persons",Value="Association of Persons" ,},
                               new SelectListItem {Text="Local Authority",Value="Local Authority",},
                               new SelectListItem {Text="Company",Value="Company",},
                               new SelectListItem {Text="Trust",Value="Trust" ,},
                               new SelectListItem {Text="Artificial Juridical Person",Value="Artificial Juridical Person",},
                               new SelectListItem {Text="Government",Value="Government",},
                               new SelectListItem {Text="Limited Liability Partnership",Value="Limited Liability Partnership" }

                               }, "-- Please Select -- ", new { @class = "form-control" })
                               @Html.ValidationMessageFor(m => m.Category)
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired"> Applicant's Title</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                @Html.DropDownListFor(m => m.Title, new List<SelectListItem>
                               {
                               new SelectListItem{ Text="Shri",Value="Shri",},
                               new SelectListItem{Text="Smt/Mrs",Value="Smt/Mrs",},
                               new SelectListItem {Text="Kumari/Ms",Value="Kumari/Ms", },
                               new SelectListItem {Text="M/s",Value="M/s", },

                               }, "-- Select Title -- ", new { @class = "form-control" })
                               @Html.ValidationMessageFor(m => m.Title)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:18px;">Applicant's Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Last Name/ Surname</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                 @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(m => m.LastName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">First Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                 @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = "readonly" })
                                 @Html.ValidationMessageFor(m => m.FirstName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3" >Middle Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                              @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @readonly = "readonly" })
                               @Html.ValidationMessageFor(m => m.MiddleName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:7px;">Name on Card</label>
                                    </div>
                                    <div class="col-md-10">
                                    <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                 @Html.TextBoxFor(m => m.Name_of_Card, new { @class = "form-control", @readonly = "readonly" })
                              @Html.ValidationMessageFor(m => m.Name_of_Card)
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Date of Birth / Incorporation</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.DOB, new { @class = " datepicker form-control",@style= "padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;" })
                                                @Html.ValidationMessageFor(m => m.DOB)
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" > Gender </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                          {
                                         new SelectListItem {Text="Male",Value="Male",},
                                           new SelectListItem {Text="Female",Value="Female" }
                                            }, "Select Gender", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Gender)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Contact Details</label>
                                    </div>
                                    <div class="col-md-5">
                                        <b for="inputEmail3">Mobile</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Mobile)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <b for="inputEmail3">Email</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                        <center><label align="center" style="font-size:22px;">Applicant's Parents Details</label></center>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Parent name</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.IsFatherMother, new List<SelectListItem>
                                                 {
                                                 new SelectListItem {Text="FATHER" ,Value="FATHER",},
                                                 new SelectListItem {Text="MOTHER" ,Value="MOTHER"}
                                                 }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.IsFatherMother)
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Father's Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Father's Last Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FLastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.FLastName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">First Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FFirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Middle Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FMiddleName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Mother's Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Mother's Last Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.MLastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.MLastName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">First Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.MFirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Middle Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.MMiddleName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                        <center><label align="center" style="font-size:22px;">Residence</label></center>
                                    </div>
                                </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">
                                
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Flat/Door/Block No</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FLATNO, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.FLATNO)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Premises/Building/Village </b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Village, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Village)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Road/Street/Lane/Post Office</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Post_Street_LANE, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Post_Street_LANE)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Area/Taluka/Sub-division</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Are_SUBDIV, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Are_SUBDIV)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">State/Union Territory</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                               @Html.DropDownListFor(m => m.State, ViewBag.state as SelectList, "Select State", new { @class = "form-control", @onchange="FillDistict()" })
    @Html.ValidationMessageFor(m => m.State)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Town/District (Country Name)</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.District, ViewBag.District as SelectList, "Select Districts", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.District)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Pin Code</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.PINCODE, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.PINCODE)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Another Source of Income</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.SourceOFIncome, new List<SelectListItem>
                                                          {

                               new SelectListItem {Text="Income from capital gains",Value="Income from capital gains",},
                               new SelectListItem {Text="Income from house property",Value="Income from house property" ,},
                                new SelectListItem {Text="Income from other sources",Value="Income from other sources",},
                               new SelectListItem {Text="Income from capital gains and house property",Value="Income from capital gains and house property" ,},
                              new SelectListItem {Text="Income form house property and other sources",Value="Income form house property and other sources",},
                               new SelectListItem {Text="Income from capital gains and other               sources",Value="Income from capital gains and other sources" ,},
                                new SelectListItem {Text="Income from capital gains,house property and other sources",Value="Income from capital gains,house property and other sources",},
                              new SelectListItem {Text="No Income",Value="Male",}
                                                           }, "Select Income", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.SourceOFIncome)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Income (Salaried Employee Type)</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                          @Html.DropDownListFor(m => m.IsSalariedEmployee, new List<SelectListItem>
                                           {
                               new SelectListItem {Text="NO",Value="NO",},
                               new SelectListItem {Text="YES",Value="YES" ,},
                               }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IsSalariedEmployee)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Organisation Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.OrganisationName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.OrganisationName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Business/ Profession</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.IsBusinessProfession, new List<SelectListItem>
                                                          {

                               new SelectListItem {Text="NO",Value="NO",},
                               new SelectListItem {Text="YES",Value="YES" ,},
                               }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.IsBusinessProfession)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Business/ Profession code</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.IsBusinessProfessionCode, new List<SelectListItem>
                              {

                               new SelectListItem {Text="Medical Profession and Business",Value="Medical             Profession and Business",},
                               new SelectListItem {Text="Engineering",Value="Engineering" ,},
                               new SelectListItem {Text="Architecture",Value="Architecture" ,},
                               new SelectListItem {Text="Chartered Accountant and Accountancy",Value="Chartered     Accountant and Accountancy" ,},
                               new SelectListItem {Text="Interior Decoration",Value="Interior Decoration" ,},
                               new SelectListItem {Text="Technical Consultancy",Value="Technical Consultancy" ,},
                               new SelectListItem {Text="Company Secretary",Value="Company Secretary" ,},
                               new SelectListItem {Text="Legal Practitioner and Solicitors",Value="Legal            Practitioner and Solicitors" ,},
                               new SelectListItem {Text="Government Contractors",Value="Government                  Contractors" ,},
                               new SelectListItem {Text="Insurance Agency",Value="Insurance Agency" ,},
                               new SelectListItem {Text="Films, TV and such other entertainment",Value="Films TV     and such other entertainment" ,},
                               new SelectListItem {Text="Information Technology",Value="Information                  Technology" ,},
                               new SelectListItem {Text="Builders and Developer",Value="Builders and                 Developer" ,},
                               new SelectListItem {Text="Members of Stock Exchange and Share Brokers and Sub        brokers",Value="Members of Stock Exchange and Share Brokers and Sub brokers" ,},
                               new SelectListItem {Text="Performing Arts and Yatra",Value="Performing Arts and       Yatra" ,},
                               new SelectListItem {Text="Operations of Ship, Hovercraft, Aircrafts or                Helicopters",Value="Operations of Ship, Hovercraft, Aircrafts or Helicopters" ,},
                               new SelectListItem {Text="Plying Taxis, Lorries, Trucks, Buses or other Commercial  Vehicles",Value="Plying Taxis, Lorries, Trucks, Buses or other Commercial            Vehicles" ,},
                               new SelectListItem {Text="Ownership of Horses or Jockeys",Value="Ownership of        Horses or Jockeys" ,},
                               new SelectListItem {Text="Cinema Halls and Other Theaters",Value="Cinema Halls and    Other Theaters" ,},
                               new SelectListItem {Text="Others",Value="Others" }
                               }, "Select Business-Profession", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.IsBusinessProfessionCode)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                        <center><label align="center" style="font-size:22px;">Proof Of Identity Details</label></center>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Proof of Identity</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.ProofIdentity, new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Certificate of Identity signed by a Gazetted Officer",Value="Certificate of Identity signed by a Gazetted Officer",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Legislative Assembly",Value="Certificate of Identity signed by a Member of Legislative Assembly",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Parliament",Value="Certificate of Identity signed by a Member of Parliament",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Municipal Councillor",Value="Certificate of Identity signed by a Municipal Councillor",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                               new SelectListItem {Text="Passport",Value="Passport"},
                                              new SelectListItem {Text="Arms license",Value="Arms license",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",},
                                              new SelectListItem {Text="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",Value="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Pensioner Card having photograph of the applicant",Value="Pensioner Card having photograph of the applicant",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Ration card having photograph of the applicant",Value="Ration card having photograph of the applicant",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem { Text = "Certificate Of Registration Issued By Registrar Of Firms", Value = "Certificate Of Registration Issued By Registrar Of Firms" },
                                               new SelectListItem { Text = "Partnership Deed", Value = "Partnership Deed" },
                                               new SelectListItem { Text = "Certificate of Registration Issue By Resiastar Of Companies", Value = "Certificate of Registration Issue By Resiastar Of Companies" },
                                               new SelectListItem { Text = "Certificate of Registration Number Issued By Charity Commissioner", Value = "Certificate of Registration Number Issued By Charity Commissioner" }
                                               ,
                                               new SelectListItem { Text = "Trust Deed", Value = "Trust Deed" },
                                               new SelectListItem { Text = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships", Value = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships" }
                                               }
                                                           , "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ProofIdentity)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Proof of Address</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownList("ProofAddress", new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Certificate of Identity signed by a Gazetted Officer",Value="Certificate of Identity signed by a Gazetted Officer",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Legislative Assembly",Value="Certificate of Identity signed by a Member of Legislative Assembly",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Parliament",Value="Certificate of Identity signed by a Member of Parliament",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Municipal Councillor",Value="Certificate of Identity signed by a Municipal Councillor",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                               new SelectListItem {Text="Passport",Value="Passport"},
                                              new SelectListItem {Text="Arms license",Value="Arms license",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",},
                                              new SelectListItem {Text="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",Value="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Pensioner Card having photograph of the applicant",Value="Pensioner Card having photograph of the applicant",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Ration card having photograph of the applicant",Value="Ration card having photograph of the applicant",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem { Text = "Certificate Of Registration Issued By Registrar Of Firms", Value = "Certificate Of Registration Issued By Registrar Of Firms" },
                                               new SelectListItem { Text = "Partnership Deed", Value = "Partnership Deed" },
                                               new SelectListItem { Text = "Certificate of Registration Issue By Resiastar Of Companies", Value = "Certificate of Registration Issue By Resiastar Of Companies" },
                                               new SelectListItem { Text = "Certificate of Registration Number Issued By Charity Commissioner", Value = "Certificate of Registration Number Issued By Charity Commissioner" }
                                               ,
                                               new SelectListItem { Text = "Trust Deed", Value = "Trust Deed" },
                                               new SelectListItem { Text = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships", Value = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships" }
                                               }, "", new { @class = "form-control", @id = "ProofAddress" })
                                                @Html.ValidationMessageFor(m => m.ProofAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Proof of DOB</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.ProofDOB, new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Birth Certificate issued by the Municipal Authority or any office authorized to issue Birth and Death Certificate by the Registrar of Birth and Death of the Indian Consulate", Value ="Birth Certificate issued by the Municipal Authority or any office authorized to issue Birth and Death Certificate by the Registrar of Birth and Death of the Indian Consulate" ,},
                                              new SelectListItem {Text="Pension payment order",Value="Pension payment order",},
                                              new SelectListItem {Text="Marriage certificate issued by Registrar of Marriages",Value="Marriage certificate issued by Registrar of Marriages",},
                                              new SelectListItem {Text="Matriculation certificate",Value="Matriculation certificate",},
                                              new SelectListItem {Text="Passport",Value="Passport",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                              new SelectListItem {Text="Domicile certificate issued by the Government",Value="Domicile certificate issued by the Government",},
                                              new SelectListItem {Text="Affidavit sworn before a magistrate stating the date of birth",Value="Affidavit sworn before a magistrate stating the date of birth",},
                                              new SelectListItem {Text="Matriculation Marksheet of recognised board",Value="Matriculation Marksheet of recognised board",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",}

                                               }, " -- Birth Proof --", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ProofDOB)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Aadhaar No </b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.AadhaarNo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.AadhaarNo)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Name On Aadhaar</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.NameOnAadhaar, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.NameOnAadhaar)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Date of Birth On Aadhaar</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.AadhaarDOB, new { @class = "form-control datepicker ",@style= "padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;" })
                                                @Html.ValidationMessageFor(m => m.AadhaarDOB)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Gender on Aadhaar</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.GenderAadhaar, new List<SelectListItem>
                                          {
                                          new SelectListItem {Text="MALE",Value="MALE",},
                                           new SelectListItem {Text="FEMALE",Value="FEMALE" }
                                                           }, "-- GENDER --", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.GenderAadhaar)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">Signature Presence</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.IsSignaturePresence, new List<SelectListItem>
                                           {

                                new SelectListItem {Text="YES",Value="YES"},
                              new SelectListItem {Text="NO",Value="NO",}
                                     }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IsSignaturePresence)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Name of Verifier</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.NameOfVerifier, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.NameOfVerifier)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-2">
                                        <b for="inputEmail3">Capacity of Verifier</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.CapacityOfVerifier, new List<SelectListItem> {
                                                                   new SelectListItem { Text = "Himself/Herself",Value="Himself/Herself"},new SelectListItem { Text = "Karta",Value="Karta"},
                                                                   new SelectListItem { Text = "Director",Value="Director"},
                                                                   new SelectListItem { Text = "Authorized Signatory",Value="Authorized Signatory"},
                                                                   new SelectListItem { Text = "Partner",Value="Partner"},new SelectListItem { Text = "Trustee",Value="Trustee"},
                                   new SelectListItem { Text = "Representative Assesse",Value="Representative Assesse"}
                                                   }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.CapacityOfVerifier)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <b for="inputEmail3">Place of Verification</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.PlaceofVerification, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.PlaceofVerification)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <b for="inputEmail3">KYC Compliant</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                @Html.DropDownListFor(m => m.isKYCCompliant, new List<SelectListItem>
                              {
                               new SelectListItem {Text="YES",Value="YES" ,},
                               new SelectListItem {Text="NO",Value="NO" ,}
                               }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.isKYCCompliant)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Verification Date</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.VerificationDate, new { @class = "form-control datepicker",@style= "padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;" })
                                                @Html.ValidationMessageFor(m => m.VerificationDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12" style="border-bottom:1px solid #0000000d;">
                                        <center><label align="center" style="font-size:22px;">Document</label></center>
                                    </div>
                                </div>

                                <div class="row clearfix" style="margin-top:5px;">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-5">
                                        <label for="inputEmail3">First PAGE<span style="padding-left: 2%;font-size: 12px;font-weight: initial; color:red;">(<strong>Note:</strong>  Maximum File Upload Size 1200 KB File Name Should Be Acknowlwdgement-Number)</span></label>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                @Html.TextBoxFor(m => m.DocFirmtPage, new { @class = "form-control", type = "file" })
                                                @Html.ValidationMessageFor(m => m.DocFirmtPage)
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-5">
                                        <label for="inputEmail3">PDF <span style="padding-left: 2%;font-size: 12px;font-weight: initial; color:red;">(<strong>Note:</strong> Upload Documents Pdf File Maximum Size 1 mb File Name Should Be Acknowlwdgement-Number)</span></label>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                               @Html.TextBoxFor(m => m.DocPDF, new { @class = "form-control", type = "file" })
                                                @Html.ValidationMessageFor(m => m.DocPDF)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <button type="submit" id="btnPROCEED" class="btn btn-primary" style="float:right;">PROCEED</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
</section>

<!-- Jquery Core Js -->


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Scripts/PAN_CARD.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/custom-validators.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    window.onload = function () {
        var from = '@ViewBag.fromdate';
        var aadharfrom = '@ViewBag.aadharfromdate';
        var verifyform = '@ViewBag.verifyformdate';
        if (from != "" && from != null && aadharfrom != "" && aadharfrom != null && verifyform !="") {
            $('#DOB').val(from);
            $('#AadhaarDOB').val(aadharfrom);
            $('#VerificationDate').val(verifyform);

        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("DOB").value = tt;
            document.getElementById("AadhaarDOB").value = tt;
            document.getElementById("VerificationDate").value = tt;
            
            
              }


    }
</script>

<script type="text/javascript">
    $(function () {
       
        $("#ProofDOB").prop("disabled", false);


        $("#Title option[value='" + '@Model.Title' + "']").attr('selected', 'selected');

        $('#btnPROCEED').click(function () {
            var x = $('#AadhaarDOB').val();
            
             var y = $('#DOB').val();
          


        });

    });

</script>
<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html(""); // clear before appending new list
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>






