@model IEnumerable<Vastwebmulti.Models.spWhitelabel_Aeps_Report_New_Result>
@{
    ViewBag.Title = "AEPS Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #ddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
</style>
<section class="content" style="margin:0px 0px 0px 0px; ">
    <div class="all-page-container">
        <div class="wretailer-moneytab">
            @Html.Partial("_menuFinicalReport")
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    @using (Html.BeginForm("AepsReport", "Home", FormMethod.Post))
                    {
                        <div class="col-md-12 recharge-report-wr aeps-report-wr">

                            <div class="col-md-2 wr-status-re">
                                <div class="form-group">
                                    <div class="" style="margin-top:4px;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                            {
                    new SelectListItem{ Text="Status",Value="ALL",},
                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                    new SelectListItem{Text="Pending",Value="PENDING"},
                    new SelectListItem{Text="FAILED",Value="FAILED"}
                     }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2 wr-operators-re">
                                <div class="form-group">
                                    <div class="" style="margin-top:4px;">
                                        @Html.TextBox("BankId", "", new { @placeholder = "Bank Id / Aadhar", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="" style="margin-top:5px;">
                                        @Html.TextBox("aadhar", "", new { @placeholder = "Aadhar", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-1 wr-consumer-number">
                                <div class="form-group">
                                    <div class="" style="margin-top:4px;">
                                        @Html.TextBox("amount", "", new { @placeholder = "Amount", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                    </div>
                                </div>

                            </div>


                            @*<div class="col-md-1">
                                      <div class="form-group">
                                          <div class="" style="margin-top:5px;border:1px solid #dddddd;margin-left:-13px;width:108%;padding-bottom:10px;">
                                              @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                             new SelectListItem{ Text="50",Value="50"},
                             new SelectListItem{Text="100",Value="100"},
                             new SelectListItem{Text="200",Value="200"},
                             new SelectListItem{Text="500",Value="500"},
                             new SelectListItem{Text="1500",Value="1500"},
                             new SelectListItem{Text="All",Value="All"}
                            }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                          </div>
                                      </div>


                                  </div>*@


                            <div class="col-md-3 lager-date-wr" style="">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-daterange input-group">
                                        <div class="input-whitelabel leftwhitellabel">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                        <div class="input-whitelabel rightwhitellabel">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2 lager-date-search">
                                <div class="form-group">
                                    <center>
                                        <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                            <div class="whitelabel-pdf">
                                <button><img src="~/ashok-images/pdf.png" />PDF</button>
                                <button><img src="~/ashok-images/xls.png" />Export</button>
                                <button>Total</button>
                            </div>

                        </div>
                    }

                    @*<div class="col-md-3">
                        <div class="form-group" style="margin-top:-19px;">
                            <div style="padding-top: 22px; padding-left:26%;">
                                <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                                <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                                <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"]</button>
                            </div>


                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 recharge-report-datawr recharge-report-datawr-status" style="">
                <div class="card">

                    <div class="body body-whitelabelpadding" style="padding:7px;">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;font-size:12px;">
                                <thead style="color:white;position:initial;" class="">
                                    <tr>
                                        <th style="">Live&nbsp;Status</th>
                                        @*<th>From</th>*@
                                        <th>Aadhaar&nbsp;Number</th>
                                        <th>Bank&nbsp;Name</th>
                                        <th>Net&nbsp;Amount</th>
                                        <th>User&nbsp;Fee</th>
                                        <th>Earn</th>
                                        <th>Pre&nbsp;₹</th>
                                        <th>Cr&nbsp;/&nbsp;Dr</th>
                                        <th>Post&nbsp;₹</th>
                                        <th>Bank&nbsp;RRN&nbsp;No</th>
                                        <th>Request&nbsp;Time</th>
                                        <th>Action</th>


                                        @*<th>View&nbsp;Status</th>
                                        <th>Merchant&nbsp;ID</th>
                                        <th>Req&nbsp;Date</th>
                                        <th>Transfer&nbsp;</th>
                                        <th>Mobile&nbsp;No</th>
                                        <th>User&nbsp;Credit&nbsp;</th>
                                        <th>Bank&nbsp;RRN&nbsp;</th>
                                        <th>User&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Credit&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                        <th>Terminal&nbsp;ID</th>
                                        <th>Remark</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {

                                            var color = "";
                                            var fontweight = "";
                                            var text = "";
                                            var emailid = "";
                                            var Retailername = "";
                                            var framname = "";
                                            var mobile = "";
                                            var icon = "";
                                            var rchtype = "";
                                            var rchtypeicon = "";
                                            var sts = "";
                                            var refundcolor = "";
                                            var rolename = "";

                                            if (item.ApplicationType == "web")
                                            {
                                                rchtypeicon = "fa fa-globe";
                                            }
                                            if (item.ApplicationType == "app")
                                            {
                                                rchtypeicon = "fa fa-android";
                                            }

                                            if (item.Status.Contains("Pending"))
                                            {
                                                color = "#ff9600";
                                                fontweight = "700";
                                                sts = item.Status;

                                            }
                                            if (item.Status.Contains("Failed"))
                                            {
                                                color = "#9C27B0";
                                                fontweight = "700";
                                                sts = item.Status;

                                            }
                                            if (item.Status.Contains("Success"))
                                            {
                                                color = "green";
                                                fontweight = "700";
                                                sts = item.Status;

                                            }
                                            if (item.Status.ToUpper().Contains("REFUND"))
                                            {
                                                color = "blue";
                                                sts = "Refund";
                                            }
                                            if (item.Status.ToUpper().Contains("SETTLEMENT"))
                                            {
                                                color = "#9C27B0";
                                                sts = "Settlement";
                                            }
                                            <tr style="font-weight:700;">
                                                <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p></td>
                                                @*<td>
                                                    <p style="font-size:16px;margin-left:-8px;margin-top:-2px;">&nbsp;<i class="@rchtypeicon"></i>&nbsp;</p>
                                                </td>*@

                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.AccountHolderAadhaar&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.BankName&nbsp;</p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    @{
                                                        decimal amount = 0;
                                                        decimal remincome = 0;
                                                        decimal usercredit = 0;
                                                        if (item.Role == "WRetailer")
                                                        {
                                                            amount = Convert.ToDecimal(item.Amount);
                                                            remincome = Convert.ToDecimal(item.RemIncome);
                                                            usercredit = (amount + remincome);
                                                        }
                                                    }
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@String.Format("{0:0.00#}", usercredit)&nbsp;</p>
                                                </td>
                                                <td></td>

                                                @{
                                                    decimal usercredit1 = 0;
                                                    if (item.Role == "WRetailer")
                                                    {

                                                        usercredit1 = (Convert.ToDecimal(item.Amount) + Convert.ToDecimal(item.RemIncome));
                                                    }

                                                }
                                                <td>@String.Format("{0:0.00#}", item.RemPre)</td>
                                                <td>@String.Format("{0:0.00#}", usercredit1)</td>
                                                <td>@String.Format("{0:0.00#}", item.RemPost)</td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.BankRRN&nbsp;</p>
                                                </td>
                                                <td><p style="font-size:11px;margin-left:-7px; margin-top:-2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.Txn_Date)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
                                                <td></td>




                                                <td>
                                                    <button class="btn btn default" id="but" onclick="checkStaus('@item.MerchantTxnId')" style="margin-left:2px;  background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:-3px; padding:1px 6px 1px 6px;" title="Check Status">
                                                        Status
                                                    </button>

                                                </td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.MerchantTxnId&nbsp;</p>
                                                </td>


                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@String.Format("{0:0.00#}", item.Amount)&nbsp;</p>
                                                </td>
                                                <td><p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.Mobile&nbsp;</p></td>






                                                <td>
                                                    <p style="font-size:13px;">@item.TerminalId</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:13px;">@item.Remark</p>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>

<!--Manual SUCCESS -->
<script>

    function checkStaus(txnid)
    {
        $.ajax({
            url: '@Url.Action("AepsStatus", "Home")',
            type: 'POST',
            dataType: "json",
            data: { txnid: txnid },
            success: function (data) {
                var response = JSON.parse(data);
                if (response.Status =="Success") {
                    swal("Good Job", response.Message, "success");
                    window.location.reload();
                    //reloadPageeee();
                }
                else {
                    swal("Oops...", response.Message, "error");
                }
                //alert(response.Message);
            },
            error: function (data) {
            }
        });
    }
</script>

<script type="text/javascript">
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

<!--Generate Print-->
<script type="text/javascript">
            function GotoPDF(e) {
                // alert(e)
                var idno = e.toString(); ;
                var url = '@Url.Action("GeneratePDF", "Home")?Idno=' + idno + '';
                //window.location.href = url,;
                window.open(url, '_blank');
            }
</script>


<script>
    $(".input-whitelabel input").click(function () {
        $(".datepicker").addClass('whitedate-first-aeps-date');
    });


</script>