@model IEnumerable<Vastwebmulti.Models.Whitelabel_bank_info>
@{
    ViewBag.Title = "Bank_info";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .wretailer-bankinfo .section-second .header-report{border-bottom-color:@PageData["GlobalSecond"] !important;}
    .table-account-de table ,.table-account-de table tr ,.table-account-de table tr td ,.table-account-de table tr th{border-color:#9f9595 !important;}
    .section-second .header-report{border-color:@PageData["GlobalSecond"];}

</style>
<section class="content" style="        margin: 00px 0px 0px 0px;
        overflow-x: hidden;">
    <div class="all-page-container wretailer-bankinfo">
        <div class="row clearfix">
            <div class="ful-two-section">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom:0px;">
                        <div class="header-report">
                            <h2>Company Bank Information & Cash Deposit Charges</h2>
                        </div>
                    </div>
                </div>
                <div class="bank-wr-full">
                    <div class="col-md-6">
                        <div class="bank-information-wr custome-background-wr">
                            <img src="~/ashok-images/microsoft-office.svg" />
                            <h3 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Branch&nbsp;/ CMS Cash Deposit</h3>
                            <div class="center-left-right">
                                <div class="charge-details-wr">
                                    <strong>Charges&nbsp;(In %)</strong>
                                    <span>0.00 %</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="bank-information-wr custome-background-wr">
                            <img src="~/ashok-images/value.svg" />
                            <h3 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Credit Fund Charge</h3>
                            <div class="center-left-right">
                                <div class="charge-details-wr">
                                    <strong>Charges&nbsp;(In %)</strong>
                                    <span>0.00 %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 table-account-de">
                    <h4>Accounts</h4>
                    <table border="1" class="custome-background-wr">
                        <tr>
                            <th>Bank&nbsp;Name</th>
                            <th>IFSC&nbsp;CODE</th>
                            <th>Account&nbsp;Number</th>
                            <th>Account&nbsp;Type</th>
                            <th>Account&nbsp;Holder&nbsp;Name</th>
                            <th>Branch&nbsp;Address</th>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:center">No Data Found</td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-12 table-account-de">
                    <h4>Wallets</h4>
                    <table border="1" class="custome-background-wr">
                        <tr>
                            <th>Bank&nbsp;Name</th>
                            <th>IFSC&nbsp;CODE</th>
                            <th>Account&nbsp;Number</th>
                            <th>Account&nbsp;Type</th>
                            <th>Account&nbsp;Holder&nbsp;Name</th>
                            <th>Branch&nbsp;Address</th>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:center">No Data Found</td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="ful-two-section section-second">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom:0px;">
                        <div class="header-report">
                            <h2>Distributor Accounts Information & Cash Deposit Charges</h2>
                        </div>
                    </div>
                </div>
                <div class="bank-wr-full">
                    <div class="col-md-6">
                        <div class="bank-information-wr custome-background-wr">
                            <img src="~/ashok-images/microsoft-office.svg" />
                            <h3 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Branch / CMS Cash Deposit</h3>
                            <div class="center-left-right">
                                <div class="charge-details-wr">
                                    <strong>Charges&nbsp;(In %)</strong>
                                    <span>0.00 %</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="bank-information-wr custome-background-wr">
                            <img src="~/ashok-images/value.svg" />
                            <h3 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Credit&nbsp;Fund&nbsp;Charge</h3>
                            <div class="center-left-right">
                                <div class="charge-details-wr">
                                    <strong>Charges&nbsp;(In %)</strong>
                                    <span>0.00 %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 table-account-de">
                    <h4>Accounts</h4>
                    <table border="1" class="custome-background-wr">
                        <tr>
                            <th>Bank&nbsp;Name</th>
                            <th>IFSC&nbsp;CODE</th>
                            <th>Account&nbsp;Number</th>
                            <th>Account&nbsp;Type</th>
                            <th>Account&nbsp;Holder&nbsp;Name</th>
                            <th>Branch&nbsp;Address</th>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:center">No Data Found</td>
                        </tr>

                    </table>

                </div>

                <div class="col-md-12 table-account-de">
                    <h4>Wallets</h4>
                    <table border="1" class="custome-background-wr">
                        <tr>
                            <th>Bank&nbsp;Name</th>
                            <th>IFSC&nbsp;CODE</th>
                            <th>Account&nbsp;Number</th>
                            <th>Account&nbsp;Type</th>
                            <th>Account&nbsp;Holder&nbsp;Name</th>
                            <th>Branch&nbsp;Address</th>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:center">No Data Found</td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body" style="margin-top:20px;">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6">
                                    <table border="1" style="margin-top:5px;margin-left:10px; margin-bottom:5px; float:left;border:6px solid #e4e1e1;">
                                        <tr>
                                            <th class="navbar" style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white; position:initial;border:1px solid #dddddd;">
                                                Bank Name
                                            </th>
                                            <th style="width:320px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.banknm)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px;   height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white;position:initial;border:1px solid #dddddd;">
                                                Branch Name
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.branch_nm)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px;  height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white;position:initial;border:1px solid #dddddd;">
                                                IFSC CODE
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.ifsccode)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white;position:initial;border:1px solid #dddddd;">
                                                Account Number
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.acno)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white;position:initial;border:1px solid #dddddd;">
                                                Account Type
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.actype)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white; position:initial;border:1px solid #dddddd;">
                                                Account Holder Name
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.holdername)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="navbar" style="width:220px;  height: 42px; font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:white;position:initial;border:1px solid #dddddd;">
                                                Branch Address
                                            </th>
                                            <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                @Html.DisplayFor(modelItem => item.address)
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>





