@using Microsoft.AspNet.Identity;
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "ChangePin";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
@{ 
    VastwebmultiEntities db = new VastwebmultiEntities();
    var userid = User.Identity.GetUserId();
    var Email = db.Whitelabel_Retailer_Details.Single(p => p.RetailerId == userid).Email;
}
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden; ">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:-10px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            Reset IMPS Transaction Pin
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>User&nbsp;Id</th>
                                        <th>Reset&nbsp;Pin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Email</td>
                                        <td>
                                            <a href='@Url.Action("Reset_IMPSPin", "Home")'>
                                                <i class="fa fa-reply-all" style="font-size:28px;color:#607D8B ; margin-left:30px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:-10px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            Change IMPS Pin
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>User&nbsp;Id</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Email</td>
                                        <td>
                                            <a href='@Url.Action("Edit_IMPSPin", "Home")'>
                                                <i class="fa fa-edit fa-2x" style="font-size:28px;color:#607D8B ;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function () {

        var succ = '@TempData["success"]';
        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    });
</script>
