
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .ribbon {
        position: absolute;right: -2px;top: -2px;z-index: 1;overflow: hidden;width: 75px;height: 75px;
    }

        .ribbon span {
            font-size: 11px;color: #fff;text-align: center;font-weight: bold;line-height: 20px;transform: rotate(45deg);
            -webkit-transform: rotate(45deg);width: 100px;box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);position: absolute;
            top: 19px;right: -21px;background: linear-gradient(#c5c5c5 0%, #868686 100%);
        }

    .list-group-item {border: none;}

    .field-validation-error {color: red;}

    .required:after {color: red;content: " *";}

    .table tbody tr td, .table tbody tr th {padding: 5px;}

    .news-all.slideCol {overflow: hidden;}
        .news-all.slideCol p {margin: 0px !important;}
    .news-all.slideCol .scroller {height: 43px;line-height: 70pt;overflow: hidden;}

    .wretailer-dashbord .profile-fullheight ul li a span::after {
        content: "";display: block;width: 20px;height: 20px;float: left;border-radius: 50%;background: url('../../../../ashok-images/down-arrowweb.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-size: auto;background-size: contain;
        background-color: @PageData["GlobalFirst"];background-size: 12px;background-position: center;transform: rotate(-180deg);transition: .4s linear;
        position: relative;left: -4px;top:0px;
    }

    .wretailer-dashbord .profile-fullheight ul li.active a span::after, .wretailer-dashbord .profile-fullheight ul li a:hover span::after {
        background: url('../../../../ashok-images/correct.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-size: auto;transform: none;
        transition: .4s linear;background-size: 12px;background-color: @PageData["GlobalSecond"];background-position: center;
        background-position-x: center;background-position-x: 3px;
    }

.wretailer-dashbord .profile-fullheight ul li a:hover, .wretailer-dashbord .profile-fullheight ul li.active a:hover, .wretailer-dashbord .day-tab-all ul.nav.nav-tabs li a:hover , .wretailer-dashbord .profile-fullheight ul li.active a{
    background:@PageData["Globalfirst"] !important;
}
.wretailer-dashbord .profile-fullheight ul li a span{display:inline-block;}
.wretailer-dashbord .profile-fullheight .card.other-card .body .col-xs-4 a button::after{background:@PageData["Globalfirst"] !important;}
.dataall-pagedashbord ul.nav.nav-tabs li.active a ,.dataall-pagedashbord ul.nav.nav-tabs li:hover a{background:@PageData["Globalfirst"] !important;}
.dataall-pagedashbord ul.nav.nav-tabs {background: #d0cfcc !important;}
.dataall-pagedashbord ul.nav.nav-tabs li a span {color:#555 !important;}
.dataall-pagedashbord ul.nav.nav-tabs li:hover a span{color:#fff !important;}
.dataall-pagedashbord ul li.active a::before{background:@PageData["Globalfirst"];
    border-color:@PageData["Globalfirst"];}
.wretailer-todaydetails ul li.activeeee::before {
        background:@PageData["Globalfirst"] !important;
    }
.offer-month-wretailer ul li.activeeee::before {
        border-color:@PageData["Globalfirst"] !important;
        background:@PageData["GlobalSecond"] !important;
    }
@@media screen and (max-width:580px){
    .dataall-pagedashbord ul li:nth-child(3) a {
    border-right: 0 !important;
}
}
@@media screen and (max-width:420px){
    .nodatafoundclass-wretailer h2 span {font-size: 85px;}
    .nodatafoundclass-wretailer h2 {font-size: 30px;}
    .dataall-pagedashbord ul li a {border: 0 !important;}
    .offer-month-wretailer ul li:first-child {margin-right: 0 !important;}
    .offer-month-wretailer ul li span {font-size: 12px;}
    .offer-month-wretailer ul {padding-left: 5px;padding-right: 5px;}
    .offer-month-wretailer ul li:last-child {float: right;}
    .wretailertodayclass .wretailer-todaydetails ul li:first-child {padding-right: 5px !important;}
    .wretailertodayclass .wretailer-todaydetails ul li {font-size: 12px;}
    .wretailer-dashbord .profile-fullheight ul li a {padding-top: 15px;}
    .wretailer-dashbord .profile-fullheight ul li a span::after {position: absolute;left: 0;right: 0;margin: 0px auto;top:5px;}
    .wretailer-dashbord .profile-fullheight ul li a {padding-top: 28px;}
    .wretailer-holiday img {
    text-align: center;
    display: block;
    margin: 0px auto;
    float: none !important;
}
    .wretailer-holiday .twocolm-padding .col-holidays span.holidayspan-wr {
    margin-top: 0px !important;
}

}

@@media screen and (max-width:320px){
    .body.body-profile-first .profile-manage {
        width: auto !important;
    }
}

</style>

<link href="~/Areas/RETAILER/effectivemodal/effectivemodalpopup.css" rel="stylesheet" />
<section class="content" style="margin: 0px 0px 0px 0px; ">
    <div class="container-fluid">
        

        <!---Profile and Business Report-->
        <div class="row clearfix">
            <div class="home-page-container home-page-container-page">
                <!-- Profile -->
                <div class="col-md-12 dashbord-first wretailer-dashbord">
                    <div class="custome-background-wr profile-fullheight">
                        
                        <ul class="nav nav-tabs profile-tabs custome-background-wr"style="border-bottom:0;">
            <li class="active"><a data-toggle="tab" href="#myaccountsetting"><span style="color:#fff;">My&nbsp;Account&nbsp;Setting</span></a></li>
            <li><a data-toggle="tab" href="#profiletabid"><span style="color:#fff;">Profile</span></a></li>

        </ul>
                        

                        <div class="tab-content profile-tab-content">
                            <div id="myaccountsetting" class="tab-pane fade in active">
                                <!--Ledger and Day Book and GST TDS Report-->
                                <div class="card other-card" style="clear:both;">
                                    <div class="" style="">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="body" style="">
                                                    <div class="icon-button-demo">

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("RetailerLedger","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <center>
                                                                        <img src="~/images/reportimage/resume.svg" style="margin-left:0px;" />
                                                                    </center>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("RetailerLedger","Home")" style="margin-left:7px;cursor:pointer;font-size:11px;font-weight:700;">Ledger</a>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Retailer_Daybook_Reports","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <img src="~/images/reportimage/123.svg" style="height:24px;" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Retailer_Daybook_Reports","Home")" style="margin-left:3px;cursor:pointer;font-size:11px;font-weight:700;">Day&nbsp;Book</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("My_Earn","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <img src="~/images/reportimage/money-bag.svg" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("My_Earn","Home")" style="margin-left:4px;cursor:pointer;font-size:11px;font-weight:700;">My&nbsp;Earn</a>

                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("ReferralBenefit","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <center>
                                                                        <i class="fa fa-exchange" style="margin-left:0px;color:black;font-weight:700;"></i>
                                                                    </center>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("ReferralBenefit","Home")" style="margin-left:-9px;cursor:pointer;font-size:11px;font-weight:700;">Referral&nbsp;Benefit</a>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Service_Fee","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:2px;">
                                                                    <img src="~/ashok-images/support.svg" style="height:26px;" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Service_Fee","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">Service&nbsp;Fee</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("WebLogin","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <center>
                                                                        <img src="~/images/reportimage/login.svg" />
                                                                    </center>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("WebLogin","Home")" style="margin-left:2px;cursor:pointer;font-size:11px;font-weight:700;">Login&nbsp;Info</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Bank_info","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <i class="fa fa-university" style="font-size:20px;color:black;"></i>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Bank_info","Home")" style="margin-left:0px;cursor:pointer;font-size:11px;font-weight:700;">Bank&nbsp;Info</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("WalletUnloadReport","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:7px;">
                                                                    <center>
                                                                        <i class="fa fa-credit-card" style="font-size:20px;font-weight:700;color:black;"></i>

                                                                    </center>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("WalletUnloadReport","Home")" style="margin-left:-2px;cursor:pointer;font-size:11px;font-weight:700;">Wallet&nbsp;Unload</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Operator_info","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:8px;">
                                                                    <img src="~/images/reportimage/monitoring.svg" style="height:27px;" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Operator_info","Home")" style="margin-left:-2px;cursor:pointer;font-size:11px;font-weight:700;">Operator&nbsp;Comm</a>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Markup_Setting","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:2px;">
                                                                    <img src="~/images/reportimage/Markup.svg" style="height:26px;" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Markup_Setting","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">Markup&nbsp;Setting</a>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("DisputeReport","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <center>
                                                                        <img src="~/images/reportimage/hammer.svg" style="height:30px;margin-left:-4px;" />
                                                                    </center>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("DisputeReport","Home")" style="margin-left:-8px;cursor:pointer;font-size:11px;font-weight:700;">Dispute&nbsp;List</a>
                                                        </div>
                                                        <div class="col-xs-4 changeicon-dashboard">
                                                            <a href="@Url.Action("My_Credit","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:2px;">
                                                                    <i class="material-icons" style="color:#000;font-size:35px;margin-top:1px;">bubble_chart</i>
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("My_Credit","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">My&nbsp;Credit</a>
                                                        </div>


                                                        @*<div class="col-xs-4">
            <a href="@Url.Action("WalletToBankAmountTransfer","Home")">
                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:2px;">
                    <img src="~/images/reportimage/affiliate-marketing.svg" style="height:26px;" />
                </button>
            </a>
            <a href="@Url.Action("WalletToBankAmountTransfer","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">Unload&nbsp;Charge's</a>
        </div>*@





                                                        @*<div class="col-xs-4">
            <a href="@Url.Action("show_credit_Report","Home")">
                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                    <img src="~/images/reportimage/Markup.svg" style="height:27px;" />
                </button>
            </a>
            <a href="@Url.Action("show_credit_Report","Home")" style="margin-left:-9px;cursor:pointer;font-size:11px;font-weight:700;">Credit&nbsp;History</a>
        </div>*@

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("GST_Report","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:11px;">
                                                                    <img src="~/images/reportimage/contract.svg" style="height:26px;" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("GST_Report","Home")" style="margin-left:-2px;cursor:pointer;font-size:11px;font-weight:700;">Declaration&nbsp;Form</a>
                                                        </div>


                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Gst_Invocing_Retailer_report","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <img src="~/images/reportimage/tax.svg" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Gst_Invocing_Retailer_report","Home")" style="margin-left:-6px;cursor:pointer;font-size:11px;font-weight:700;">GST&nbsp;Invoice</a>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <a href="@Url.Action("Help","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float" style="margin-left:10px;">
                                                                    <img src="~/images/reportimage/Help.svg" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Help","Home")" style="margin-left:25px;cursor:pointer;font-size:11px;font-weight:700;">Help</a>
                                                        </div>



                                                        @*<div class="col-xs-4">
                                                            <a href="@Url.Action("Send_Purchase_Order","Home")">
                                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                                    <img src="~/images/reportimage/purchase.svg" />
                                                                </button>
                                                            </a>
                                                            <a href="@Url.Action("Send_Purchase_Order","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">Purchase&nbsp;Req</a>
                                                        </div>*@








                                                        @*<div class="col-xs-4">
            <a href="@Url.Action("Purchase_ORDER","Home")">
                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                    <img src="~/images/reportimage/purchase.svg" />
                </button>
            </a>
            <a href="@Url.Action("Purchase_ORDER","Home")" style="margin-left:-14px;cursor:pointer;font-size:11px;font-weight:700;">Purchase&nbsp;Req</a>
        </div>*@

                                                        @*<div class="col-xs-4">
            <a href="@Url.Action("FundRecive","Home")">
                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                    <center>
                        <i class="fa fa-exchange" style="margin-left:0px;color:black;font-weight:700;"></i>
                    </center>
                </button>
            </a>
            <a href="@Url.Action("FundRecive","Home")" style="margin-left:-9px;cursor:pointer;font-size:11px;font-weight:700;">Fund&nbsp;Recived</a>
        </div>*@





                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div id="profiletabid"  class="tab-pane fade" style="width:100%;float:left;">
                                <div class="card profile-card" style="background-color:#e3e1da;clear:both;">
                                    <div class="" style="padding-top:1px;">
                                        <div class="ribbon"><span>RETAILER</span></div>

                                        <div class="body body-profile-first" style="margin-top:38px;">
                                            <center>
                                                <div class="image" style="">
                                                    @if (ViewBag.image != null && ViewBag.image != "")
                                                    {
                                                        <img src="@Url.Content("~/" + ViewBag.image)" width="100" height="100" class="img-circle" alt="User">

                                                    }
                                                    else
                                                    {

                                                        <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">
                                                    }

                                                </div>
                                                <div class="msg" style="padding-top:5px;">@ViewBag.email</div>

                                                <div class="msg" style="padding-top:5px;">@ViewBag.name</div>
                                            </center>
                                            <center>


                                                <div class="col-xs-6 profile-profile" style="margin-bottom:0px;padding-right:10px;">
                                                    <a href="@Url.Action("Profile","Home")" class="btn btn-default waves-effect" type="button" style="text-decoration:none;box-shadow:none; border:1px solid #555;width:100%;margin-left:-10px;"><i class="fa fa-user-circle-o" style="top:1px;font-size:14px;"></i>&nbsp;My&nbsp;Profile</a>
                                                </div>

                                                <div class="col-xs-6 profile-manage" style="margin-bottom:0px;padding-left:10px;">
                                                    <a href="@Url.Action("ChangePassword","Home")" style="text-decoration:none;box-shadow:none; border:1px solid #555;width:100%;margin-left:-27px;" class="btn btn-default waves-effect"><span style="font-size:13px;"><i class="material-icons" style="font-size:14px;top:2px;left:1px;">lock_outline</i>&nbsp;Manage Password</span></a>

                                                </div>
                                                @*<div class="col-xs-4">
                                <a class="btn btn-default waves-effect" href="/WRetailer/Outlet/RetailerKYC" style="text-decoration:none;box-shadow:none;">UPDATE KYC</a>
                            </div>*@



                                            </center>


                                        </div>


                                    </div>

                                </div>

                            </div>

                             

                        </div>


                    </div>
                </div>

                <!--Basic setting-->
                
                <!--Show Today and Yesterday Businees-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 all-day-data dataall-pagedashbord" style="padding:0;">
                    <div class="card">
                        <div class="day-tab-all" style="">
                            <!-- Nav tabs -->

                            <ul class="nav nav-tabs custome-background-wr" role="tablist" style="padding-bottom:9px;border-bottom:1px solid #e6e6e6;border:3px solid white;">
                                <li role="presentation" class="active" style="background:transparent; margin-left:4px;">
                                    <a href="#wretailer-notification" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect">
                                        <img class="notification-none" src="/ashok-images/notification.svg"><img class="notification-active" src="/ashok-images/notification(1).svg">&nbsp;<span style="color:black;top:2px;">Notification</span>
                                    </a>
                                </li>
                                <li role="presentation" class="" style="background:transparent; margin-left:4px;">
                                    <a href="#wretailer-offers" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect">
                                        <img class="notification-none" src="/ashok-images/offer.svg" style="width:19px;top:-2px;"><img class="notification-active" src="/ashok-images/offer(1).svg" style="width:19px;top:-2px;">&nbsp;<span style="color:black;top:2px;">Offers&nbsp;!!</span>
                                    </a>
                                </li>
                                <li role="presentation" class="" style="background:transparent; margin-left:4px;">
                                    <a href="#History" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect" onclick="Alltab()">
                                        <img class="notification-none" src="/ashok-images/fast-time.svg" style="width:22px;margin-top:1px;"><img class="notification-active" src="/ashok-images/fast-time(1).svg" style="width:22px;margin-top:1px;"><span style="color:black;top:2px;">Recent&nbsp;Transections</span>
                                    </a>
                                </li>
                                <li role="presentation" style="background:transparent;">
                                    <a href="#Todaybusiness" id="Today" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect todaynewsgros" onclick="today(this)">
                                        <img class="notification-none" src="/ashok-images/calculation.svg" style="width:19px;"><img class="notification-active" src="/ashok-images/calculation(1).svg" style="width:19px;">&nbsp;<span style="color:black;top:2px;">Gross&nbsp;Business</span>
                                    </a>
                                </li>
                                <li role="presentation" style="background:transparent;">
                                    <a href="#wretailer-holidays" data-toggle="tab" id="Yesterday" aria-expanded="false" class="btn bg-grey waves-effect" onclick="today(this)" style="border-right:0 !important;">
                                        <img class="notification-none" src="/ashok-images/closed.svg" style="width:22px;"><img class="notification-active" src="/ashok-images/closed(1).svg" style="width:22px;">&nbsp;<span style="color:black;top:2px;">Bank&nbsp;Holidays</span>
                                    </a>
                                </li>


                            </ul>

                            <!-- Tab Panes -->
                            <div class="tab-content custome-background-wr all-data-history responsive-page-height">

                                <div role="tabpanel" class="tab-pane fade in active" id="wretailer-notification" style="margin-top:15px;width:100%;float:left;">
                                    <div class="nodatafoundclass-wretailer" style="top:6px;">
                                        <h2> <span style="text-decoration: underline;color:#555 !important;text-decoration-color:@PageData["Globalfirst"];font-style:inherit;">Sorry !</span> No Data Found !</h2>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="wretailer-offers" style="margin-top:15px;width:100%;float:left;">
                                    <div class="offer-month-wretailer" style="position:static;">
                                        <ul style="list-style:none;">
                                            <li class="activeeee" style="width:auto !important;margin-right:43px;" id=""><span>December Offer</span></li>
                                            <li style="width:auto !important;" id="" class=""><span>January Offer</span></li>
                                        </ul>

                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="History">
                                    <div class="" style="" id="rch">
                                        <div style="margin-top:0px;">
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="table-responsive table-dashoard-home" style="">
                                                        <table class="table tableifirst-das">
                                                            <thead>
                                                                <tr>
                                                                    <th>Type</th>
                                                                    <th>Transaction&nbsp;Description</th>
                                                                    <th>Transaction&nbsp;Date</th>
                                                                    <th>Cr/Dr</th>
                                                                    <th>Updated&nbsp;Bal</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Money</td>
                                                                    <td>Money Transfer to: 1962227221608691</td>
                                                                    <td>7/22/2020 6:37:55 PM</td>
                                                                    <td>0.00</td>
                                                                    <td>31.00</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Money</td>
                                                                    <td>Money Transfer Refund to: 196222722869514</td>
                                                                    <td>7/22/2020 6:36:59 PM</td>
                                                                    <td>0.00</td>
                                                                    <td>31.00</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade todaybusiness-tab wretailertodayclass" id="Todaybusiness" style="margin-top:15px;">
                                    <div class="wretailer-todaydetails">
                                        <ul>
                                            <li class="activeeee" style="width:auto !important;padding-right:43px;">Today Business</li>
                                            <li style="width:auto !important;">Yesterday Business</li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        @*<div class="col-md-5">
                <div id="donut_chart" class="graph" style="margin-bottom:72px;display:none;"></div>
            </div>*@
                                        <div class="col-md-12">
                                            <div class="body" style="margin-bottom:-43px;">
                                                <div class="table-responsive">
                                                    <table class="table table-hover dashboard-task-infos" style="">
                                                        <thead>
                                                            <tr>
                                                                <th>SIGN</th>
                                                                <th>OPERATORS</th>
                                                                <th>TOTAL</th>
                                                                <th>Earn</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tabletoday"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade todaybusiness-tab" id="wretailer-holidays" style="margin-top:15px;width:100%;float:left;">
                                    <div class="col-md-12 holiday-full wretailer-holiday">
                                        <div class="col-md-6 twocolm-padding" style="padding-left:0;padding-right:15px;">
                                            <div class="col-holidays">
                                                <img src="/images/reportimage/holidaycalander.png" style="float: left;height: 35px;;">
                                                <span class="holidayspan-wr" style="font-size: 11px;display: block;margin-top: 0px;margin-right: -6px;">
                                                    <span class="holidaydate-wr" style="font-size:17px;font-weight:600;">12</span>
                                                    July<span class="holidayyear-wr" style="font-size: 10px; margin-top: 10px; padding-left:5px;"><sup style="font-size:11px; top:0px;">2020</sup></span>
                                                </span>
                                                <span class="holidaylastt-wr" style="font-size: 10px;margin-top: -5px;display: block;margin-right: -14px;margin-bottom: 0;text-transform: uppercase;line-height:normal;">Sunday</span>

                                            </div>

                                        </div>

                                        <div class="col-md-6 twocolm-padding" style="padding-right:0;padding-left:15px;">
                                            <div class="col-holidays">
                                                <img src="/images/reportimage/holidaycalander.png" style="float: left;height: 35px;">
                                                <span class="holidayspan-wr" style="font-size: 11px;display: block;margin-top: 0px;margin-right: -6px;">
                                                    <span class="holidaydate-wr" style="font-size:17px;font-weight:600;">12</span>
                                                    July<span class="holidayyear-wr" style="font-size: 10px; margin-top: 10px; padding-left:5px;"><sup style="font-size:11px; top:0px;">2020</sup></span>
                                                </span>
                                                <span class="holidaylastt-wr" style="font-size: 10px;margin-top: -5px;display: block;margin-right: -14px;margin-bottom: 0;text-transform: uppercase;line-height:normal;">Sunday</span>

                                            </div>
                                        </div>


                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
                <!-- #END# Browser Usage -->
            </div>
            </div>

            <!--End this comment -->

        </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<!--Today Business-->
<script>
    function Alltab()
        {
        document.getElementById("Todaybusiness").style.display = "none";
        document.getElementById("rch").style.marginBottom = "35px";
        }
</script>
<script>
    function today(a)
    {
        document.getElementById("Todaybusiness").style.display = "block";
        $("#tabletoday").empty();

        var x = a.id;
        //call ajax
        $.ajax({
            url: '@Url.Action("Show_Today_All_Recharge", "Home")',
            type: 'POST',
            dataType: "html",
            data: { yesterday: x },
            success: function (data) {
                var  x = JSON.parse(data);

                var newRow =
            "<tr>" +
           " <td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-desktop' style='color:#E91E63;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Recharge & bill</p></td>" +
           "<td><p style='padding-top:3px;'> " + x.Recharge + "</p></td>" +
            "<td><p style='padding-top:3px;'> " + x.RechargeEran + "</p></td>" + "</tr>" +
           "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-university' style='color:#2196F3;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Financial Services</p> </td>" +
           "<td><p style='padding-top:3px;'>" + x.Moneytransfer + "</p></td>" +
            "<td><p style='padding-top:3px;'> " + x.DmtEarn + "</p></td>" + "</tr>" +
            "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='material-icons' style='color:#FF9800;'>fingerprint</i></p></td>" +
           "<td><p style='padding-top:3px;'>Aeps Services</p> </td>" +
           "<td><p style='padding-top:3px;'>" + x.Aeps + "</p></td>" +
            "<td><p style='padding-top:3px;'> " + x.AepsEarn + "</p></td>" + "</tr>" +
            "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-id-card' aria-hidden='true' style='color:#000000;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Pancard</p> </td>" +
           "<td><p style='padding-top:3px;'>" + x.Pancard + "</p></td>" +
            "<td><p style='padding-top:3px;'> " + x.PancardEarn + "</p></td>" + "</tr>" +
            "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-plane' style='color:#4CAF50;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Travel</p> </td>" +
           "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
            "<td><p style='padding-top:3px;'> " + 0.00 + "</p></td>" + "</tr>" +
            "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-gift' style='color:#F44336;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Gift Cards </p></td>" +
           "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
            "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
           "</tr>" +
            "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-cart-plus' style='color:#555;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>E-Commerce</p> </td>" +
             "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
                "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
             + "</tr>" +
             "<tr>" +
            "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-television' style='color:#795548;'></i></p></td>" +
           "<td><p style='padding-top:3px;'>Dth-Booking </p></td>" +
           "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
            "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>" +
           "</tr>";
                    $('#tabletoday').append(newRow);
                    $("#donut_chart").empty();
                    var rechargebillamt = x.Recharge;
                    var moneytransferamt = x.Moneytransfer;
                    var aepstransferamount = x.Aeps;
                    var pancardamount = x.Pancard;
                    initDonutChart(rechargebillamt, moneytransferamt, aepstransferamount, pancardamount);


            },
            error: function (data) {

            }
        });
        return true;

     }
</script>
<!-- Doughnut Chart -->
<script type="text/javascript">
    function initDonutChart(rechargebill, moneytrasfer, aepstransferamount, pancardamount) {

         var rechargeandbill = rechargebill;
         var Financial = moneytrasfer;
         var Aeps = aepstransferamount;
         var Pancard = pancardamount;
         var Travel = 0.00
         var GiftCards = 0.00
         var ECommerce = 0.00
          var Dthbooking =0.00
          Morris.Donut({
            element: 'donut_chart',

            data: [
                {
                    label: 'Recharge & bill',
                    value: rechargeandbill,
                },
            {
                label: 'Financial',
                value: Financial
            },
             {
                 label: 'Aeps',
                 value: Aeps
             },
              {
                  label: 'Pancard',
                  value: Pancard
              },
            {
                label: 'Travels',
                value: Travel
            },
            {
                label: 'Gift Cards',
                value: GiftCards,
                },
             {
                 label: 'E-Commerce',
                 value: ECommerce
             },
            {
              label: 'Dth-Booking',
              value: Dthbooking
            }
            ],

            colors: [
                'rgb(233, 30, 99)',
                'rgb(0, 128, 255)',
                'rgb(255, 152, 0)',
                'rgb(0, 0, 0)',
                'rgb(76, 175, 80)',
                'rgb(255, 0, 0)',
                'rgb(128, 128, 128)',
               ' rgb(121, 85, 72)'],

            formatter: function (y) {
             return y
            }
         });

    }
</script>

<script>
    $(function () {
        var errormsg = '@ViewBag.msg';
        if (errormsg != "") {
            swal("Oops!", errormsg, "error");
        }
    });
</script>


<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/Dashboard') {
            $('.list-reports-wr li:nth-child(1) a').addClass('active');
        }
    });
</script>

<script>
    $(".dataall-pagedashbord ul li a").click(function () {
        $("#Todaybusiness").hide();
    });
    $(".dataall-pagedashbord ul li a.todaynewsgros").click(function () {
        $("#Todaybusiness").show();
    });
</script>

<script>
    $(".offer-month-wretailer ul li ,.wretailer-todaydetails ul li").click(function () {
        $(this).addClass("activeeee").siblings().removeClass("activeeee");
    });
</script>