@model IEnumerable<Vastwebmulti.Models.show_whitelabel_dispute_list_Result>
@{
    ViewBag.Title = "DisputeReport";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
    margin-top: 0 !important;
}
    .wretailer-disputerreport .table-responsive table tr th, .wretailer-disputerreport .table-responsive table tr td {
    white-space: nowrap;
}
    @@media screen and (max-width:767px){
        .wretailer-disputerreport .table-responsive table {border: 1px solid;}
        .wretailer-disputerreport .table-responsive {border: 0;}
    }
    @@media screen and (max-width:480px){
        .all-page-container {margin-top: 65px !important;}
        .wretailer-disputerreport .lager-date-wr i {display: none;}
        .wretailer-disputerreport .lager-date-wr input {text-align: center !important;}
        .wretailer-disputerreport .lager-date-wr {width: 100% !important;}
        .wretailer-disputerreport .lager-date-wr {margin-bottom: 0px;}
        .wretailer-disputerreport .lager-date-search {width: 30% !important;}
        .wretailer-disputerreport .whitelabel-pdf {width: 70% !important;display: inherit !important;}
    }
</style>

<section class="content" style="margin:0px 0px 0px 0px; overflow-x:hidden;">
    <div class="all-page-container wretailer-disputerreport">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @using (Html.BeginForm("DisputeReport", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="col-md-6 daybook-wr-all" style="padding-left:0;">
                            <div class="form-group wretailer-dashboardclass">
                                <ul>
                                    <li class="smli">
                                        <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                            Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                        Dispute&nbsp;Report
                                    </li>
                                </ul>
                                

                            </div>
                        </div>

                        <div class="col-md-3 lager-date-wr">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                </div>
                                    <!-- /.input group -->
                                </div>
                        </div>

                        <div class="col-md-2 lager-date-search">
                            <div class="form-group">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                        </div>

                        <div class="whitelabel-pdf">
                            <button><img src="~/ashok-images/pdf.png" />PDF</button>
                            <button><img src="~/ashok-images/xls.png" />Export</button>
                        </div>

                    </div>
                    }
                </div>

            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="" style="margin-top:;">
                        <div class="body body-whitelabelpadding" style="position:inherit;padding:12px;">
                            <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position: inherit;">
                            <table class="table table-bordered table-striped   ">
                                <thead style="color:white;position:initial;" class="">
                                    <tr>
                                        <th>SR</th>
                                        <th>Status</th>
                                        <th>Number</th>
                                        <th>Operator&nbsp;Name</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Recharge&nbsp;Date</th>
                                        <th>Dispute&nbsp;Reason</th>
                                        <th>Response</th>
                                        <th>Dispute&nbsp;Date</th>

                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @if (Model.Count() > 0)
                                    {
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            var color = "";
                                            if (item.sts.Contains("Pending"))
                                            {
                                                color = "#FF9800";
                                            }
                                            if (item.sts.Contains("Rejected"))
                                            {
                                                color = "red";
                                            }
                                            if (item.sts.Contains("Success"))
                                            {
                                                color = "green";
                                            }
                                            <tr>
                                                <td>@i</td>
                                                <td style="color:@color;font-weight:700;">@Html.DisplayFor(modelItem => item.sts)</td>
                                                <td>@Html.DisplayFor(modelItem => item.rch_number)</td>
                                                <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.rch_amount)</td>
                                                <td>@Html.DisplayFor(modelItem => item.rch_time)</td>
                                                <td>@Html.DisplayFor(modelItem => item.dispute_region)</td>
                                                <td>@Html.DisplayFor(modelItem => item.comment)</td>
                                                <td>@Html.DisplayFor(modelItem => item.dis_time)</td>

                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            
                                            <td colspan="9" style="text-align:center;">No Data Found</td>
                                            
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

