@model Vastwebmulti.Models.Whitelabel_Retailer_Details
@{
    ViewBag.Title = "Edit_Profile";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
</style>
<section class="content" style="margin:0px 0px 0px 0px;">
    <div class="all-page-container">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit_Profile", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <div class="card">
                    @*<div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update Profile
                            </h2>
                        </div>*@
                    <div class="row">
                        <div class="body body-edit-bank">


                            <div class="col-md-6 edit-user-name">
                                <div class="bank-bckground">
                                    <div class="user-header-profile">
                                        <h2> Update Profile</h2>
                                    </div>


                                    @Html.HiddenFor(model => model.RetailerId)
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="Email" class="required">Email-Id</label>
                                    </div>

                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="setbox" class="required">Name</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.RetailerName, new { @class = "form-control", @required = "" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.RetailerName)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="package" class="required">Frim Name</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.Frm_Name, new { @class = "form-control", @required = "" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Frm_Name)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="amount" class="required">Mobile Number</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @readonly = "readonly" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="fullname" class="required">Full Address</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @required = "" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Address)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="fullname" class="required">Date Of Birth</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group input-line-height" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.dateofbirth, new { @class = "form-control", @type = "date", @required = "" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.dateofbirth)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="mobileno" class="required">State </label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.Sate, "-- Select State--", new { @class = "for-select2 form-control", data_live_search = "true", @required = "required", @onchange = "FillDistict()" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.State)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="District" class="required">District</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.DropDownListFor(m => m.District, (IEnumerable<SelectListItem>)ViewBag.District, "-- Select District--", new { @class = "for-select2 form-control", @required = "" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.District)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Aadharcard Number</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.AadharCard, new { @class = "form-control", onkeypress = "return isNumber(event)", maxlength = "12", @required = "", minlength = "12" })
                                            </div>
                                            @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                            @Html.ValidationMessageFor(model => model.AadharCard)
                                        </div>
                                    </div>

                                    <div class="" style="width:100%;float:left;">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                            <label for="address" class="required">Pancard Number</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.PanCard, new { @class = "form-control", @style = "text-transform:uppercase", @required = "" })
                                                </div>
                                                @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                                @Html.ValidationMessageFor(model => model.PanCard)
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address">GST Number</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.gst, new { @class = "form-control", maxlength = "15", @style = "text-transform:uppercase" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="Pincode" class="required">Pincode Number</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Pincode)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Position</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.DropDownListFor(m => m.Position, new List<SelectListItem>
                                               {
                                      new SelectListItem{ Text="Select Type",Value=""},
                                     new SelectListItem{Text="Director",Value="Director"},
                                      new SelectListItem{Text="Authorized Signatory",Value="Authorized Signatory"}
                                       }, new { @class = "for-select2 form-control", data_live_search = "true", @required = "required" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Position)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Business Type</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.DropDownListFor(m => m.BusinessType, new List<SelectListItem>
                                               {
                                     new SelectListItem{ Text="Select Type",Value=""},
                                     new SelectListItem{Text="Agriculture Machinery",Value="Agriculture Machinery"},
                                     new SelectListItem{Text="Agriculture Fertilizer",Value="Agriculture Fertilizer"},
                                     new SelectListItem{Text="Automobiles and Vehicles",Value="Automobiles and Vehicles"},
                                     new SelectListItem{Text="Automobile Tyre Supply and Service",Value="Automobile Tyre Supply and Service"},
                                     new SelectListItem{Text="Beauty and Wellness",Value="Beauty and Wellness"},
                                     new SelectListItem{Text="Advertising Agenices",Value="Advertising Agenices"},
                                     new SelectListItem{Text="accounting & Tax Consultants",Value="accounting & Tax Consultants"},
                                     new SelectListItem{Text="Employment Consultants",Value="Employment Consultants"},
                                     new SelectListItem{Text="Software Development and Sales",Value="Software Development and Sales"},
                                     new SelectListItem{Text="Photo and Video Studio",Value="Photo and Video Studio"},
                                     new SelectListItem{Text="Computer Repair & Services",Value="Computer Repair & Services"},
                                     new SelectListItem{Text="Tent And Awning Shops",Value="Tent And Awning Shops"},
                                     new SelectListItem{Text="Packers and Movers",Value="Packers and Movers"},
                                     new SelectListItem{Text="RealEstate Consultants",Value="RealEstate Consultants"},
                                     new SelectListItem{Text="Laundy and Dry Cleaner",Value="Laundy and Dry Cleaner"},
                                     new SelectListItem{Text="Matrimony Services",Value="Matrimony Services"},
                                     new SelectListItem{Text="Lawyers",Value="Lawyers"},
                                     new SelectListItem{Text="Charitable Organisation",Value="Charitable Organisation"},
                                     new SelectListItem{Text="Driving Classes",Value="Driving Classes"},
                                     new SelectListItem{Text="Elementary and Secondary Schools",Value="Elementary and Secondary Schools"},
                                     new SelectListItem{Text="Correspondance Courses",Value="Correspondance Courses"},
                                     new SelectListItem{Text="Other Events & Entertainment",Value="Other Events & Entertainment"},
                                     new SelectListItem{Text="Security Brokers and Dealers",Value="Security Brokers and Dealers"},
                                     new SelectListItem{Text="Collection Agency",Value="Collection Agency"},

                                    new SelectListItem{Text="fuel Service Stations",Value="fuel Service Stations"},
                                    new SelectListItem{Text="Government",Value="Government"},
                                    new SelectListItem{Text="Home Services",Value="Home Services"},
                                    new SelectListItem{Text="Hospitals and Healthcare",Value="Hospitals and Healthcare"},
                                    new SelectListItem{Text="Hotels, Restaurants and Food",Value="Hotels, Restaurants and Food"},
                                    new SelectListItem{Text="Insurance Sale",Value="Insurance Sale"},
                                    new SelectListItem{Text="Computers and Acessories",Value="Computers and Acessories"},
                                    new SelectListItem{Text="Silver Jewellery",Value="Silver Jewellery"},
                                    new SelectListItem{Text="Hardware Shop (Paint & Building Materials)",Value="Hardware Shop (Paint & Building Materials)"},
                                    new SelectListItem{Text="Mobile shop",Value="Mobile shop"},
                                    new SelectListItem{Text="Home Decor",Value="Home Decor"},
                                    new SelectListItem{Text="Bicycle Shop, Repair and Service",Value="Bicycle Shop, Repair and Service"},
                                    new SelectListItem{Text="Tours and Travel Agency",Value="Tours and Travel Agency"},
                                    new SelectListItem{Text="Trucks and Others",Value="Trucks and Others"},
                                    new SelectListItem{Text="Taxi and Car Rentals",Value="Taxi and Car Rentals"},
                                    new SelectListItem{Text="Cruises Service",Value="Cruises Service"},
                                      new SelectListItem{Text="Tuition and Classes",Value="Tuition and Classes"},
                                    new SelectListItem{Text="Cable Service Providers",Value="Cable Service Providers"},
                                    new SelectListItem{Text="Recharges and Bill Payments",Value="Recharges and Bill Payments"},

                              }, new { @class = "for-select2 form-control", data_live_search = "true", @required = "required" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.BusinessType)
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 edit-user-bank">
                                <div class="bank-bckground">
                                    <div class="user-header-profile">
                                        <h2>Update Bank Information</h2>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Bank Account Number</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Bankaccountno, new { @class = "form-control", onkeypress = "return isNumber(event)", @required = "" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Bankaccountno)
                                        </div>
                                    </div>

                                    <div class="" style="width:100%;float:left;">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                            <label for="address" class="required">IFSC Code</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Ifsccode, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Ifsccode)
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Bank Name</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.bankname, new { @class = "form-control", @required = "" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.bankname)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Account Holder</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group fgqwws" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.accountholder, new { @class = "form-control", @required = "" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.accountholder)
                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">City</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.city, new { @class = "form-control", @required = "" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.city)
                                        </div>
                                    </div>

                                </div>

                                <div class="bank-bckground bank-bckground-responsivesate">
                                    <div class="user-header-profile">
                                        <h2>Upload Document</h2>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Pancard Upload</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.pancardPath, new { @type = "file", @class = "form-control" })
                                            </div>

                                        </div>
                                    </div>



                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address" class="required">Aadhaar Upload</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); align-items: center; justify-content: center">
                                                <label style="justify-self: center">Front</label>
                                                @Html.TextBoxFor(m => m.aadharcardPath, new { @type = "file", @class = "form-control" })

                                            </div>
                                            <div class="" style="border:1px solid #dddddd;display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); align-items: center; justify-content: center">
                                                <label style="justify-self: center">Back</label>
                                                @Html.TextBoxFor(m => m.BackSideAadharcardphoto, new { @type = "file", @class = "form-control" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="address">Firm&nbsp;Registration&nbsp;Upload</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.frimregistrationPath, new { @type = "file", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="" style="width:100%;float:left;">
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                            <label for="address">Passport&nbsp;Image&nbsp;Upload</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.photo, new { @type = "file", @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 edit-save-button">
                                        <div style="margin-top:22px;">
                                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                                <span style="top:-2px;color:black;">Save Change</span>
                                            </button>
                                            <a href="@Url.Action("Dashboard","Home")" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                                <span style="top:-2px;color:black;">Back</span>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
    <div class="row clearfix">

    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>
<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html(""); // clear before appending new list
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>
<script>
    $(document).ready(function () {
        $('#State').val(@Model.State);
        $('#District').val(@Model.District);
        var dd = '@Model.dateofbirth';
        document.getElementById('dateofbirth').valueAsDate = new Date(dd);;

        var viewrespo = '@TempData["viewrespo"]';
        if (viewrespo != null && viewrespo != '')
        {
            //aler(viewrespo);
            swal("Oops!", viewrespo, "error");
        }
        var panMSG = '@TempData["UpdateRequiredMSG"]';
        //alert(panMSG);
        if(panMSG != null && panMSG != '')
        {
            swal("Oops!", panMSG,"warning");
        }
    });
</script>
<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }


</script>


<script>
    function fun() {
        var calval = $("#dateofbirth").val();
        var now = new Date();
        var dateString = moment(now).format('YYYY-MM-DD');
        var a = moment(calval, 'YYYY-MM-DD');
        var b = moment(dateString, 'YYYY-MM-DD');
        var diffDays = b.diff(a, 'days');
        if (diffDays > 6575) {
            return true;
        }
        else {
            alert("Age should be minimum 18 year");
            return false;

        }


    }

</script>




