@model Vastwebmulti.Areas.RETAILER.Models.PANCARD_Model
@{
    ViewBag.Title = "Edit_PAN_CARD";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .lblRequired:after {
        content: "*";
        color: red;
    }

    .field-validation-error {
        color: red;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="padding:18px; padding-left:21px;">
                        <h2>
                            <span style="font-size:21px;"></span> Pancard New Application (Form for Indian Citizen)

                            <a href="~/RETAILER/Home/Dashboard" class="btn bg-indigo  waves-effect" style="margin-top:-3px; margin-left:5px; float:right;">
                                <i class="material-icons" style="top:3px;">arrow_back</i>
                                <span style="top:-4px;">Back To Dashborad</span>
                            </a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            @using (Html.BeginForm("Edit_PAN_CARD", "Home", FormMethod.Post))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top:-18px;">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(a => a.Idno)
                        <div class="body">
                            <form class="form-horizontal">
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Category of Applicant</label>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3" class="lblRequired">Type</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.Category, new List<SelectListItem>
                               {
                               new SelectListItem{ Text="Individual",Value="Individual",},
                               new SelectListItem{Text="Firm",Value="Firm",},
                               new SelectListItem {Text="Body of Individuals",Value="Body of Individuals", },
                               new SelectListItem {Text="Hindu Undivided Family",Value="Hindu Undivided Family", },
                               new SelectListItem {Text="Association of Persons",Value="Association of Persons" ,},
                               new SelectListItem {Text="Local Authority",Value="Local Authority",},
                               new SelectListItem {Text="Company",Value="Company",},
                               new SelectListItem {Text="Trust",Value="Trust" ,},
                               new SelectListItem {Text="Artificial Juridical Person",Value="Artificial Juridical Person",},
                               new SelectListItem {Text="Government",Value="Government",},
                               new SelectListItem {Text="Limited Liability Partnership",Value="Limited Liability Partnership" }

                               }, "-- Please Select -- ", new { @class = "form-control", data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.Category)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3" class="lblRequired">Action</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.Status, new List<SelectListItem> { new SelectListItem { Text = "NEW", Value = "NEW" }, new SelectListItem { Text = "Change", Value = "Change" } }, new { @class = "form-control", data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.Status)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" id="PANCARDNO" style="display:none">
                                        <b for="inputEmail3" class="lblRequired">Pancard</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.PANNo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.PANNo)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Applicant's Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Last Name/ Surname </b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.LastName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">First Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.FirstName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Middle Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.MiddleName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Name on Card</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group" style="margin-bottom:0px; margin-top:-18px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Name_of_Card, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Name_of_Card)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Father's Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3" class="lblRequired">Father's Last Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FLastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.FLastName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">First Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FFirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3">Middle Name</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.FMiddleName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Date of Birth / Incorporation</label>
                                    </div>
                                    <div class="col-md-5">
                                        <b for="inputEmail3" class="lblRequired">Date of Birth</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.DOB, new { @class = "datepicker form-control", @style = "padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;" })
                                                @Html.ValidationMessageFor(m => m.DOB)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <br>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                          {
                                         new SelectListItem {Text="Male",Value="Male",},
                                                          new SelectListItem {Text="Female",Value="Female" }
                                                           }, "Select Gender", new { @class = "form-control", data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.Gender)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:0px;">Contact Details</label>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3"> ISD CODE</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.ISDCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <b for="inputEmail3">STD CODE</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.STDCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <b for="inputEmail3" class="lblRequired">Telephone Number</b>
                                        <div class="input-group" style="margin-bottom:0px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Mobile)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2" style="padding-top:7px;">Enter Email-Id</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="input-group" style="margin-bottom:0px; margin-top:-14px;">
                                            <div class="form-line">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Address for Communication</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.communicationAddress, new List<SelectListItem>
                                                 {
                                              new SelectListItem {Text="INDIAN" ,Value="INDIAN",},
                                                     new SelectListItem {Text="FOREIGN" ,Value="FOREIGN"}
                                                 }, new { @class = "form-control", data_live_search = "true" })
                                                @Html.ValidationMessageFor(m => m.communicationAddress)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;">RA Address</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.RA_Address, new List<SelectListItem>
                                                 {
                                          new SelectListItem {Text="INDIAN" ,Value="INDIAN",},
                                                     new SelectListItem {Text="FOREIGN" ,Value="FOREIGN"}
                                                 }, new { @class = "form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Select State</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.State, ViewBag.state as SelectList, "Select State", new { @class = "form-control", data_live_search = "true", @onchange = "FillDistict()" })
                                                @Html.ValidationMessageFor(m => m.State)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Select District</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownList("District", new List<SelectListItem>
                                           {
                                           }, "Select Districts", new { @class = "form-control",@required="required" })
                                                @Html.ValidationMessageFor(m => m.District)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Proof of Identity</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.ProofIdentity, new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Certificate of Identity signed by a Gazetted Officer",Value="Certificate of Identity signed by a Gazetted Officer",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Legislative Assembly",Value="Certificate of Identity signed by a Member of Legislative Assembly",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Parliament",Value="Certificate of Identity signed by a Member of Parliament",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Municipal Councillor",Value="Certificate of Identity signed by a Municipal Councillor",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                               new SelectListItem {Text="Passport",Value="Passport"},
                                              new SelectListItem {Text="Arms license",Value="Arms license",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",},
                                              new SelectListItem {Text="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",Value="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Pensioner Card having photograph of the applicant",Value="Pensioner Card having photograph of the applicant",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Ration card having photograph of the applicant",Value="Ration card having photograph of the applicant",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem { Text = "Certificate Of Registration Issued By Registrar Of Firms", Value = "Certificate Of Registration Issued By Registrar Of Firms" },
                                               new SelectListItem { Text = "Partnership Deed", Value = "Partnership Deed" },
                                               new SelectListItem { Text = "Certificate of Registration Issue By Resiastar Of Companies", Value = "Certificate of Registration Issue By Resiastar Of Companies" },
                                               new SelectListItem { Text = "Certificate of Registration Number Issued By Charity Commissioner", Value = "Certificate of Registration Number Issued By Charity Commissioner" }
                                               ,
                                               new SelectListItem { Text = "Trust Deed", Value = "Trust Deed" },
                                               new SelectListItem { Text = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships", Value = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships" }
                                               }
  , "", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ProofIdentity)
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Proof of Address</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownList("ProofAddress", new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Certificate of Identity signed by a Gazetted Officer",Value="Certificate of Identity signed by a Gazetted Officer",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Legislative Assembly",Value="Certificate of Identity signed by a Member of Legislative Assembly",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Member of Parliament",Value="Certificate of Identity signed by a Member of Parliament",},
                                              new SelectListItem {Text="Certificate of Identity signed by a Municipal Councillor",Value="Certificate of Identity signed by a Municipal Councillor",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                               new SelectListItem {Text="Passport",Value="Passport"},
                                              new SelectListItem {Text="Arms license",Value="Arms license",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",},
                                              new SelectListItem {Text="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",Value="Bank certificate in Original on letter head from the branch (along with name and stamp of the issuing officer) containing duly attested photograph and bank account number of the applicant",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Pensioner Card having photograph of the applicant",Value="Pensioner Card having photograph of the applicant",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Ration card having photograph of the applicant",Value="Ration card having photograph of the applicant",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem { Text = "Certificate Of Registration Issued By Registrar Of Firms", Value = "Certificate Of Registration Issued By Registrar Of Firms" },
                                               new SelectListItem { Text = "Partnership Deed", Value = "Partnership Deed" },
                                               new SelectListItem { Text = "Certificate of Registration Issue By Resiastar Of Companies", Value = "Certificate of Registration Issue By Resiastar Of Companies" },
                                               new SelectListItem { Text = "Certificate of Registration Number Issued By Charity Commissioner", Value = "Certificate of Registration Number Issued By Charity Commissioner" }
                                               ,
                                               new SelectListItem { Text = "Trust Deed", Value = "Trust Deed" },
                                               new SelectListItem { Text = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships", Value = "Copy Of Certificate of Registration Issued By the Registrar Of Firm/Limited Liability Partnerships" }
                                               }, "", new { @class = "form-control", @id = "ProofAddress" })
                                                @Html.ValidationMessageFor(m => m.ProofAddress)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="lblRequired">Proof of DOB</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                @Html.DropDownListFor(m => m.ProofDOB, new List<SelectListItem>
                                                      {
                                              new SelectListItem {Text="Birth Certificate issued by the Municipal Authority or any office authorized to issue Birth and Death Certificate by the Registrar of Birth and Death of the Indian Consulate", Value ="Birth Certificate issued by the Municipal Authority or any office authorized to issue Birth and Death Certificate by the Registrar of Birth and Death of the Indian Consulate" ,},
                                              new SelectListItem {Text="Pension payment order",Value="Pension payment order",},
                                              new SelectListItem {Text="Marriage certificate issued by Registrar of Marriages",Value="Marriage certificate issued by Registrar of Marriages",},
                                              new SelectListItem {Text="Matriculation certificate",Value="Matriculation certificate",},
                                              new SelectListItem {Text="Passport",Value="Passport",},
                                              new SelectListItem {Text="Driving License",Value="Driving License",},
                                              new SelectListItem {Text="Domicile certificate issued by the Government",Value="Domicile certificate issued by the Government",},
                                              new SelectListItem {Text="Affidavit sworn before a magistrate stating the date of birth",Value="Affidavit sworn before a magistrate stating the date of birth",},
                                              new SelectListItem {Text="Matriculation Marksheet of recognised board",Value="Matriculation Marksheet of recognised board",},
                                              new SelectListItem {Text="AADHAAR Card issued by the Unique Identification Authority of India",Value="AADHAAR Card issued by the Unique Identification Authority of India",},
                                              new SelectListItem {Text="Electors photo identity card",Value="Electors photo identity card",},
                                              new SelectListItem {Text="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",Value="Photo identity Card issued by the Central Government or State Government or Public Sector Undertaking",},
                                              new SelectListItem {Text="Central Government Health Scheme Card",Value="Central Government Health Scheme Card",},
                                              new SelectListItem {Text="Ex-Servicemen Contributory Health Scheme photo card",Value="Ex-Servicemen Contributory Health Scheme photo card",}

                                               }, " -- Birth Proof --", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ProofDOB)
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="email_address_2 " style="padding-top:17px;" class="">Processing Fee</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group" style="margin-bottom:0px;margin-top:8px;">
                                            <div class="form-line">
                                                <input type="text" id="ProcessingFee" name="ProcessingFee" value="113" class="form-control" readonly="" />
                                            </div>
                                            <span class="input-group-addon">
                                                <i class="fa fa-rupee"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" style="float:right;">PROCEED</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
</section>

<!-- Jquery Core Js -->


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Scripts/PAN_CARD.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    window.onload = function () {
        var from = '@Model.DOB';
     
        if (from != "" && from != null) {
            $('#DOB').val(from);

        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("DOB").value = tt;
              }
        

    }
</script>

<script type="text/javascript">
            $('#Status').change(function () {

            if ($(this).val() == "NEW")
            {
                $("#PANCARDNO").hide();
            }
            else {
                $("#PANCARDNO").show();
            }

        });

</script>
<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html(""); // clear before appending new list
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>
<script type="text/javascript">
    $(function () {
   
        var selectedCat = '@Model.Category';
        var isChange = '@Model.Status';
        if (selectedCat == "Individual")
        {
            $('#nameaadhaar').show();
        }
        if (isChange == "Change")
        {
            $('#PANCARDNO').show();
        }
        if ('@TempData["Response"]' != null && '@TempData["Response"]' != '') {

            swal("Good job!", @TempData["Response"], "success")
                   @*var varTitle = $('<textarea />').html('@TempData["Response"]').text();
                   var als = JSON.parse(varTitle);
                   alert(als.Message);*@
               }
           });
</script>




