@model Vastwebmulti.Models.ChangePinViewModel
@{
    ViewBag.Title = "Edit_IMPSPin";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<section class="">
    <div class="container-fluid" style="margin-top:75px;">
        <div class="row clearfix">
            <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Edit_IMPSPin", "Home", FormMethod.Post))
            {
                        <div class="card">
                            <div class="header" style="padding:10px;">
                                <h2>
                                    <span style="font-size:21px;"></span> Update IMPS Pin
                                </h2>
                            </div>
                            <div class="row clearfix">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-12">
                                    <label style="margin-left:10px;">Enter Old Pin</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.PasswordFor(m => m.OldPin, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(m => m.OldPin, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <label style="margin-left:10px;">Enter New Pin</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.NewPin, new { @class = "form-control", @maxlength = "4" ,@required = "" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.NewPin, "", new { @class = "text-danger" })
                                    </div>
                                    <label style="margin-left:10px;">Enter Confirm Pin</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.ConfirmPin, new { @class = "form-control", @required = "", @maxlength = "4" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ConfirmPin, "", new { @class = "text-danger" })
                                    </div>
                                    <div>
                                        <button type="submit" class="btn bg-blue-grey m-t-15 waves-effect" style="margin-bottom:15px; margin-left:15px;">Change Pin</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    }
                </div>
            <div class="col-md-3">
            </div>
            </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function () {
        var succ = '@TempData["success"]';
        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    });
</script>

