
@{
    ViewBag.Title = "Gift_Card";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<section class="content" style="margin:0px 0px 0px 0px; ">
    <div class="all-page-container">
    
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
            <div class="card" style="position:initial;">

                
                    @*style="margin-top:52px; margin-bottom:28px;"*@
                    
                        
                        <div class="col-md-12 gift-card-alltab" style="margin-bottom:0px;">
                            
                                <ul id="leftulbar" class="nav nav-tabs tab-nav-right" role="tablist" style="background:#423b40;">

                                    <li role="presentation" class="active" style="">
                                        <a href="#allwhitellabel" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/gift.svg" />
                                            <span>All</span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="" style="">
                                        <a href="#ecommerceandonine" data-toggle="tab" aria-expanded="false" onclick="Apparel()">
                                            <img src="~/ashok-images/internet.svg" />
                                            <span>Ecommerece&nbsp;&&nbsp;Online</span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="" style="">
                                        <a href="#Apparel" data-toggle="tab" aria-expanded="false" onclick="Accessories()">
                                            <img src="~/ashok-images/video.svg" />
                                            <span>Entertainment</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="">
                                        <a href="#groceryandhomneds" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/supermarket.svg" />
                                            <span>Grocery&nbsp;&&nbsp;Homeneeds</span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="" style="">
                                        <a href="#Health" data-toggle="tab" aria-expanded="false" onclick="Health()">
                                            <img src="~/ashok-images/ayurvedic.svg" />
                                            <span>Health</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="">
                                        <a href="#fashionandlifestyle" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/fashion-designer.svg" />
                                            <span>Fashion&nbsp;&&nbsp;Lifestyle</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="">
                                        <a href="#jewellerytab" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/wedding.svg" />
                                            <span>Jewellery</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="">
                                        <a href="#sportswearfootwear" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/sneakers.svg" />
                                            <span>Sportswear&nbsp;&&nbsp;Footwear</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="">
                                        <a href="#Electronics" data-toggle="tab" aria-expanded="false" onclick="Electronics()">
                                            <img src="~/ashok-images/home-theater.svg" />
                                            <span>Electronics</span>
                                        </a>
                                    </li>

                                    <li role="presentation" class="" style="">
                                        <a href="#Restaurants" data-toggle="tab" aria-expanded="false" onclick="Restaurants()">
                                            <img src="~/ashok-images/plane(1).svg" />
                                            <span>Travel&nbsp;&&nbsp;Restaurants</span>
                                        </a>
                                    </li>


                                </ul>
                            
                        </div>
                        
                  

                
            </div>
        </div>
    
    <div class="row">
        
        <div class="col-md-12" style="margin-top:;">
            <center>
                <div class="tab-content gifcard-white-content" style="">
                    <!--Start All Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade active in " id="allwhitellabel">
                        <h2>All Digital Gift Card Vouchers </h2>
                    </div>

                    <!--Start Ecommerece & Online Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade" id="ecommerceandonine">
                        <h2>Ecommerece & Online Gift Card Vouchers </h2>
                    </div>

                    <!--Start Grocery & Homeneeds Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade" id="groceryandhomneds">
                        <h2>Grocery & Homeneeds Gift Card Vouchers</h2>
                    </div>

                    <!--Start Fashion & Lifestyle Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade active" id="fashionandlifestyle">
                        <h2>Fashion & Lifestyle Gift Card Vouchers</h2>
                    </div>

                    <!--Start Jewellery Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade" id="jewellerytab">
                        <h2>Jewellery Gift Card Vouchers</h2>
                    </div>

                    <!--Start Sportswear & Footwear Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade" id="sportswearfootwear">
                        <h2>Sportswear & Footwear Gift Card Vouchers</h2>
                    </div>


                    <!--Start Entertainment Tbalpanel-->
                    <div role="tabpanel" class="tab-pane fade" id="Apparel">
                        <h2>Entertainment Gift Card Vouchers </h2>
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.Apparel)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                    <!--Start Accessories tappanel-->
                    <div role="tabpanel" class="tab-pane fade " id="Accessories">
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.Accessories)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                    <!--Start Health tab pannel-->
                    <div role="tabpanel" class="tab-pane fade " id="Health">
                        <h2>Health Gift Card Vouchers</h2>
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.HealthBeauty)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>

                    </div>
                    <!--Start Travel & Restaurants tab pannel-->
                    <div role="tabpanel" class="tab-pane fade " id="Restaurants">
                        <h2>Travel & Restaurants Gift Card Vouchers</h2>
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.Restaurants)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>

                    </div>
                    <!--Start Travel tab pannel-->
                    <div role="tabpanel" class="tab-pane fade " id="Travel">
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.Travel)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>

                    </div>
                    <!--Start Electronics tab pannel-->
                    <div role="tabpanel" class="tab-pane fade " id="Electronics">
                        <h2>Electronics Gift Card Vouchers</h2>
                        <form method='post'>
                            <div class="row">
                                @foreach (var item in ViewBag.Electronics)
                                {
                                    <div class="col-md-4" style="margin-top:10px;">
                                        <img src="@Url.Content("~/" + item.GiftImage)" class="img-responsive" />
                                        <p style="margin-left:60px; margin-top:15px;">@item.GiftName</p>
                                    </div>
                                }
                            </div>
                        </form>

                    </div>

                </div>
            </center>
        </div>       
    </div>

    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert.min.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />


