
@{
    ViewBag.Title = "Giftcard_Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
    @@media screen and (max-width:420px){
        .wretailergiftreport .giftcard-report-wr ,.wretailergiftreport .giftcard-report-wr .card{
    width: 100%;
    float: left;
}
        .all-page-container {
    margin-top: 60px !important;
}
        .wretailergiftreport .wr-status-re {
    width: 50%;
    float: left;
}
        .wretailergiftreport .wr-operators-re {
    float: left;
    width: 50% !important;
}
        .wretailergiftreport .lager-date-wr {
    float: left;
    width: 68% !important;
}
        .wretailergiftreport .lager-date-search {
    width: 32% !important;
    float: left;
}
        .wretailergiftreport .giftcard-report-wr .card {
    margin-bottom: 0;
}
        .wretailergiftreport .giftcard-report-wr .card .lager-date-wr i {
    display: none;
}
    }
</style>

<section class="content" style="margin: 0px 0px 0px 0px; ">
    <div class="all-page-container wretailergiftreport">
        <div class="row clearfix" style="margin:0;">
            <div class="col-md-12 recharge-report-wr giftcard-report-wr">
                <div class="card" style="margin-top: 2px;">


                    @using (Html.BeginForm("Travels", "Home", FormMethod.Post))
                    {

                        <div class="col-md-2 wr-status-re">
                            <div class="form-group">
                                <div class="" style="margin-top: 4px;border:0;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="Pending",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                            }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 wr-operators-re">
                            <div class="form-group">
                                <div class="form-line" style="margin-top: 4px;border:0;">
                                    @Html.DropDownList("category", ViewBag.category as SelectList, "ALL Category", new { id = "category", @class = "for-select2 form-control", data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-1">
                                <div class="form-group">
                                    <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="50",Value="50"},
                                new SelectListItem{Text="100",Value="100"},
                                new SelectListItem{Text="200",Value="200"},
                                new SelectListItem{Text="500",Value="500"},
                                new SelectListItem{Text="1500",Value="1500"},
                                new SelectListItem{Text="All",Value="All"}
                                }, new { @class = "selectpicker form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", data_live_search = "true" })

                                    </div>
                                </div>
                            </div>*@

                        <div class="col-md-3 lager-date-wr">
                            <div class="form-group" style="margin-bottom:0px;margin-top:1px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-md-2 lager-date-search">
                            <div class="form-group">
                                <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                    <center>
                                        <button value="OLD" type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>

                                    </center>

                                </div>
                            </div>
                        </div>

                        <div class="whitelabel-pdf">
                            <button><img src="~/ashok-images/pdf.png" />PDF</button>
                            <button><img src="~/ashok-images/xls.png" />Export</button>
                            <button>Total</button>
                        </div>


                    }


                </div>
            </div>




        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="body body-whitelabelpadding" style="margin-top: ; padding:0px;">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit; padding:0;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable text-nowrap" cellspacing="0" style="width:100%;">
                                <thead class="" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Receiver</th>
                                        <th>User&nbsp;Email</th>
                                        <th>User&nbsp;No</th>
                                        <th>Amount</th>
                                        <th>Pre&nbsp;₹</th>
                                        <th>Debit&nbsp;₹</th>
                                        <th>Post&nbsp;₹</th>
                                        <th>Request&nbsp;Time</th>
                                        <th>Operator&nbsp;Id</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="11" style="text-align:center;">Data Not Found</td>
                                        
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>

<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#date').bootstrapMaterialDatePicker
       ({
           clearButton: false
       });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/Giftcard_Report') {
            $('.list-reports-wr li:nth-child(4) a').addClass('active');
        }
    });
</script>