@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Account Transfer FUND TRANSFER GST";
    Layout = null;
}

@{
    var logoimage = "";
    var com = "";
    VastwebmultiEntities db = new VastwebmultiEntities();
    var userid = User.Identity.GetUserId();
    var dealerid = db.Whitelabel_Retailer_Details.Where(a => a.RetailerId == userid).FirstOrDefault().DealerId;
    var whitelabelid = db.whitelabel_Dealer_Details.Where(a => a.DealerId == dealerid).FirstOrDefault().Whitelabelid;
    var logo = db.tblHeaderLogoes.Where(p => p.UserId == whitelabelid && p.Role == "WHITELABEL").ToList();
    if (logo.Count > 0)
    {
        logoimage = logo.SingleOrDefault().LogoImage;
    }
    else
    {
        logoimage = "";
    }
    var websiteurl = db.WhiteLabel_userList.Where(a => a.WhiteLabelID == whitelabelid).FirstOrDefault().websitename;
    var companyname = db.tblWhiteContactDatas.Where(p => p.UserId == whitelabelid).ToList();
    if (companyname.Count > 0)
    {
        com = companyname.SingleOrDefault().CompnayName;
    }
    else
    {
        com = "";
    }

}



<!DOCTYPE html>

<html lang="en">
<head>
    <title>@com</title>
    <meta charset="utf-8">
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <style>
        table, th, td {
            border: 1px solid black;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container" style="padding-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border:1px solid black;">
                    <div class="col-xs-2">
                        <p style="text-align:left;padding-top:5px;">@ViewBag.last</p>
                    </div>
                    <div class="col-xs-5">
                        <h4><p style="text-align:right">TAX INVOICE</p></h4>
                    </div>
                    <div class="col-xs-5">
                        <center><p style="padding-top:5px;text-align:right; padding-right:105px; ">INVOICE NO: </p></center>
                    </div>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4">
                        <CENTER>
                            <img src="@Url.Content("~/" +logoimage)" class="img-responsive" data-holder-rendered="true" style="margin-top:10px;"/>
                       </CENTER>
                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-6">
                        <div style="float:left;">
                            <p style="padding-top:5px; text-align:left;">@ViewBag.firmname</p>
                            <p style="text-align:left; margin-top:-10px;">@ViewBag.address</p>
                            <p style="text-align:left;margin-top:-10px;">Pan No : @ViewBag.pancard</p>
                            <p style="text-align:left;margin-top:-10px;">GSTIN : @ViewBag.customergst</p>
                        </div>

                    </div>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border:1px solid black;">

                    <div class="col-xs-12">
                        <p style="padding-top:5px; text-align:left;">Company&nbsp;Name : @ViewBag.cmpyname</p>
                        <p style="margin-top:-10px; text-align:left;">Address : @ViewBag.adminaddress</p>
                        <p style="text-align:left; margin-top:-10px;">Pan No : @ViewBag.adminpan</p>
                        <p style="text-align:left;margin-top:-10px;">GSTIN : @ViewBag.admingst</p>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border-bottom:1px solid black;border-right:1px solid black;border-left:1px solid black;">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th rowspan="2">Sr No.</th>
                                <th rowspan="2">Description</th>
                                <th rowspan="2">HSN/SAC</th>
                                <th rowspan="2">Taxable Value</th>
                                <th colspan="2">CGST</th>
                                <th colspan="2">SGST</th>
                                <th colspan="2">IGST</th>
                                <th rowspan="2">Total</th>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <th>%</th>
                                <th>Amount</th>
                                <th>%</th>
                                <th>Amount</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                            <tr>
                                <td rowspan="2">1.</td>
                                <td rowspan="2">Account Transfer</td>
                                <td rowspan="2">997159</td>
                                <td rowspan="2">@ViewBag.dmtcomm</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@ViewBag.dmttotal</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.dmtcgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.dmtsgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.dmtigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                               
                               
                            <tr>
                                <td rowspan="2">2.</td>
                                <td rowspan="2">Utility</td>
                                <td rowspan="2">996111</td>
                                <td rowspan="2">@ViewBag.rechargecomm</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@ViewBag.rechargetotal</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.rechargecgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.rechargesgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.rechargeigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                            
                          
                            <tr>
                                <td rowspan="2">3.</td>
                                <td rowspan="2">Mpos</td>
                                <td rowspan="2">998739</td>
                                <td rowspan="2">@ViewBag.Mposcomm</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@ViewBag.Mpostotal</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.Mposcgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.Mpossgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.Mposigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                                             
                            <tr>
                                <td rowspan="2">4.</td>
                                <td rowspan="2">Aeps</td>
                                <td rowspan="2">9985</td>
                                <td rowspan="2">@String.Format("{0:0.00#}", ViewBag.Aepscomm)</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@String.Format("{0:0.00#}", ViewBag.Aepstotal)</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.Aepscgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.Aepssgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.Aepsigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                            
                            <tr>
                                <td rowspan="2">5.</td>
                                <td rowspan="2">Pancard</td>
                                <td rowspan="2">9985</td>
                                <td rowspan="2">@ViewBag.Pancomm</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@ViewBag.Pantotal</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.Pancgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.Pansgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.Panigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                         
                            <tr>
                                <td rowspan="2">6.</td>
                                <td rowspan="2">Flight</td>
                                <td rowspan="2">9985</td>
                                <td rowspan="2">@String.Format("{0:0.00#}", ViewBag.Flightcomm)</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@String.Format("{0:0.00#}", ViewBag.Flighttotal)</td>
                                
                            </tr>
                            <tr>
                                <td>@ViewBag.Flightcgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.Flightsgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.Flightigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td>@String.Format("{0:0.00#}", ViewBag.totaltaxvalue)</td>
                                 <td>@ViewBag.totalcgst</td>
                                <td></td>
                                <td>@ViewBag.totalsgst</td>
                                <td></td>
                                <td>@ViewBag.totaligst</td>
                                <td></td>
                                <td>@String.Format("{0:0.00#}", ViewBag.finaltotal)</td>
                              </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Taxable Amount</td>
                                <td>@String.Format("{0:0.00#}", ViewBag.totaltaxvalue)</td>
                               </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Total Tax</td>
                                <td>@ViewBag.totalgsttotal</td>
                            </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Total Amount</td>
                                <td>@String.Format("{0:0.00#}", ViewBag.finaltotal)</td>
                               
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">Total Amount (in Words)</p>
                    </div>
                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">@ViewBag.finalword</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">For @ViewBag.firmname</p>
                        <p style="padding-top:10px;font-weight:700;">Authorised Signatory</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
