@{
    ViewBag.Title = "Help";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody tr td, .table tbody tr th {
        border-top: 0px;
        border-bottom: 0px;
    }

    .table-responsive {
        border: 0px;
    }
    .row.clearfix.help-fullpage.help-fullpage-div {
    border-top: 2px solid @PageData["GlobalSecond"] !important;
 
}
    .card.card-help-table table tr {
    border-bottom: 1px solid #9f9595;
}
    .card.card-help-table table {
    border: 1px solid #9f9595;
}
    @@media screen and (max-width:992px) {
        .wretailer-helppage .col-md-6.help-class {
            float: left;
            width: 50%;
        }
    }
    @@media screen and (max-width:767px) {
        .wretailer-helppage .col-md-6.help-class {
            float: left;
            width:100%;
        }
    }
</style>
<section class="content" style="margin: 0px 0px 0px 0px; overflow-x: hidden; ">
    <div class="all-page-container wretailer-helppage">
        <div class="row clearfix help-fullpage">
            <div class="col-md-6 help-class">
                <div class="card card-help-table">
                    <p class="custome-background-wr" style="font-size:21px;"><img src="~/images/reportimage/Help.svg" style="height:24px;">&nbsp;Customer&nbsp;Care&nbsp;Support&nbsp;Time</p>

                    <div class="col-md-12" style="margin-bottom:0;padding:0;">
                        <div class="table-responsive">
                            <table class="table custome-background-wr">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MONDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>
                                    </tr>
                                    <tr>
                                        <td>TUESDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>WEDNESDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>

                                    <tr>
                                        <td>THURSDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>FRIDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>SATURDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>SUNDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  02.00 PM</p></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>







                </div>
            </div>

            <div class="col-md-6  help-class">
                <div class="card card-help-table" style="margin-top:;">
                    <p class="custome-background-wr" style="font-size:21px;"><img src="~/AdminDesign/images/company.svg" style="height:24px;">&nbsp;Contact&nbsp;Information</p>

                    <div class="col-md-12" style="margin-bottom:0;padding:0;">
                        <div class="table-responsive">
                            <table class="table custome-background-wr">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Company Name</td>

                                        <td>
                                            @if (ViewBag.admin.FrmName != null && ViewBag.admin.FrmName != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.FrmName</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Name</td>

                                        <td>
                                            @if (ViewBag.admin.Name != null && ViewBag.admin.Name != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Name</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Email-ID</td>

                                        <td>
                                            @if (ViewBag.admin.EmailId != null && ViewBag.admin.EmailId != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.EmailId</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>Mobile No</td>

                                        <td>
                                            @if (ViewBag.admin.Mobile != null && ViewBag.admin.Mobile != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Mobile</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>






                </div>
            </div>
        </div>

        <div class="row clearfix help-fullpage help-fullpage-div">
            <div class="col-md-6 help-class">
                <div class="card card-help-table">
                    <p class="custome-background-wr" style="font-size:21px;"><img src="~/images/reportimage/Help.svg" style="height:24px;">Distributer&nbsp;Working&nbsp;Time</p>

                    <div class="col-md-12" style="margin-bottom:0;padding:0;">
                        <div class="table-responsive">
                            <table class="table custome-background-wr">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MONDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>
                                    </tr>
                                    <tr>
                                        <td>TUESDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>WEDNESDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>

                                    <tr>
                                        <td>THURSDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>FRIDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>SATURDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                    </tr>
                                    <tr>
                                        <td>SUNDAY</td>
                                        <td><p style="font-weight:700;">9.00 AM  to  02.00 PM</p></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>







                </div>
            </div>

            <div class="col-md-6  help-class">
                <div class="card card-help-table" style="margin-top:;">
                    <p class="custome-background-wr" style="font-size:21px;"><img src="~/AdminDesign/images/company.svg" style="height:24px;">Distributer&nbsp;Contact&nbsp;Information</p>

                    <div class="col-md-12" style="margin-bottom:0;padding:0;">
                        <div class="table-responsive">
                            <table class="table custome-background-wr">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Company Name</td>

                                        <td>
                                            @if (ViewBag.admin.FrmName != null && ViewBag.admin.FrmName != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.FrmName</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>Name</td>

                                        <td>
                                            @if (ViewBag.admin.Name != null && ViewBag.admin.Name != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Name</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Email-ID</td>

                                        <td>
                                            @if (ViewBag.admin.EmailId != null && ViewBag.admin.EmailId != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.EmailId</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>Mobile No</td>

                                        <td>
                                            @if (ViewBag.admin.Mobile != null && ViewBag.admin.Mobile != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Mobile</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>

                                        <td>
                                            @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                            {
                                                <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                            }
                                            else
                                            {
                                                <p style="margin-left:12%;">No Data Found !</p>
                                            }
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>






                </div>
            </div>
        </div>

        


    </div>
</section>

