
@{
    ViewBag.Title = "Hotel_Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #ddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
    .wretailerflightreport .row.clearfix.hotel-responsive-report .recharge-report-wr.money-trnasfer-wr.hotel-report-wr .card .only-hotel-reclass.hotel-active-class ul#ul li a.activee {
        background: @PageData["Globalfirst"] !important;
    }
    .wretailerflightreport .row.clearfix.hotel-responsive-report .recharge-report-wr.money-trnasfer-wr.hotel-report-wr .card .only-hotel-reclass.hotel-active-class ul#ul li a:hover {
        background: @PageData["Globalfirst"] !important;
    }
    .wretailerflightreport .only-hotel-reclass ul li a span::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 50%;
        background: url('../../../../ashok-images/down-arrowweb.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: contain;
        background-color: @PageData["GlobalFirst"];
        background-size: 12px;
        background-position: center;
        transform: rotate(-180deg);
        transition: .4s linear;
        position: relative;
        left: -1px;
        top: 0px;
    }

    .wretailerflightreport .only-hotel-reclass ul li a.activee span::after, .wretailerflightreport .only-hotel-reclass ul li a:hover span::after {
        background: url('../../../../ashok-images/correct.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        transform: none;
        transition: .4s linear;
        background-size: 12px;
        background-color: @PageData["GlobalSecond"];
        background-position: center;
        background-position-x: center;
        background-position-x: 3px;
    }
    .wretailerflightreport .only-hotel-reclass ul li a span{display:inline-block;}
    .all-page-container.wretailerflightreport {padding-left: 13%;padding-right: 1%;}
    .all-page-container.wretailerflightreport input {
    line-height: normal;
}

    @@media screen and (max-width:1366px) {
        .all-page-container.wretailerflightreport {padding-left: 14%;padding-right: 1.5%;}
        .wretailerflightreport .hotel-active-class.only-bus-reclass {padding-right: 8px;}
        .wretailerflightreport .lager-date-wr {width: 22%;}
        .wretailerflightreport .hotel-active-class.only-hotel-reclass {width: 31%;}
    }
    @@media screen and (max-width:1169px){
        .all-page-container.wretailerflightreport {padding-left: 1%;padding-right: 1.5%;}
        .all-page-container.wretailerflightreport .only-flight-reclass {width: 100%;float: left;}
        }
    @@media screen and (max-width:767px){
            .wretailerflightreport .hotel-active-class.only-hotel-reclass {padding: 0;width: 100%;float: left;}
            .wretailerflightreport .card {width: 100%;float: left;margin-bottom: 0;}
            .wretailerflightreport .col-md-2.wr-status-re {width:25% !important;}
            .wretailerflightreport .col-md-3.lager-date-wr {width:50% !important;}
            .wretailerflightreport .col-md-2.lager-date-search {width: 30% !important;float: left;padding: 0;}
            .wretailerflightreport .whitelabel-pdf {display: block;width: auto;float: right;}
            .wretailerflightreport .whitelabel-pdf button {width: auto;padding: 0 5px !important;}
            .wretailerflightreport .body.body-whitelabelpadding {padding-right: 7px !important;}
            .all-page-container {margin-top: 65px !important;}

        }
    @@media screen and (max-width:420px) {
        .wretailerflightreport .flight-bus-hoteltab ul li a {padding: 6px 7px !important;}
        .wretailerflightreport .lager-date-wr i {display: none;}
    }
</style>

<section class="content" style="margin: 0px 0px 0px 0px; ">
    <div class="all-page-container wretailerflightreport">
        <div class="row clearfix hotel-responsive-report">
            <div class="col-lg-12 col-md-12 recharge-report-wr money-trnasfer-wr hotel-report-wr">
                <div class="card" style="margin-top: 2px;">

                    <div class="col-md-5 only-hotel-reclass hotel-active-class">
                        @Html.Partial("_Travelsview")
                    </div>

                    @using (Html.BeginForm("Travels", "Home", FormMethod.Post))
                    {
                        <div class="col-md-2 wr-status-re">
                            <div class="form-group">
                                <div class="" style="margin-top:4px;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="Pending",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                            }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-2 wr-status-re">
                <div class="form-group">
                    <div class="form-line" style="margin-top: 5px;">
                        @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "for-select2 form-control", data_live_search = "true" })

                    </div>
                </div>
            </div>*@

                        <div class="col-md-2 wr-status-re wr-status-retailer">
                            <div class="form-group">
                                <div class="form-line" style="margin-top: 4px;">
                                    <input class="form-control" id="" name="TXNID" placeholder="Txn/Ref No" type="text" value="">

                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-1">
                <div class="form-group">
                    <div class="" style="margin-top: 5px;">
                        @Html.DropDownList("ddl_top", new List<SelectListItem>
                {
                new SelectListItem{ Text="50",Value="50"},
                new SelectListItem{Text="100",Value="100"},
                new SelectListItem{Text="200",Value="200"},
                new SelectListItem{Text="500",Value="500"},
                new SelectListItem{Text="1500",Value="1500"},
                new SelectListItem{Text="All",Value="All"}
                }, new { @class = "selectpicker form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", data_live_search = "true" })

                    </div>
                </div>
            </div>*@




                        <div class="col-md-3 lager-date-wr">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", type = "date", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", type = "date", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <div class="col-md-2 lager-date-search">
                            <center>
                                <button type="submit" id="btntype" class="btn" style="margin-top:6px; margin-left: -61px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>

                        </div>

                        <div class="whitelabel-pdf">
                            <button><img src="~/ashok-images/pdf.png" />PDF</button>
                            <button><img src="~/ashok-images/xls.png" />Export</button>
                            <button>Total</button>
                        </div>


                    }

                </div>
            </div>


        </div>
        <div class="row clearfix">
            <div class="col-md-12" style="padding-right: 6px;">
                <div class="card">
                    <div class="body body-whitelabelpadding" style="margin-top:0px; padding:0px;">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit; padding:0px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable text-nowrap" cellspacing="0" style="width:100%;">
                                <thead class="" style="color:white;position:inherit;">
                                    <tr>
                                        <th>#&nbsp;/&nbsp;Hotel</th>
                                        <th>Rooms</th>
                                        <th>Price</th>
                                        <th>Pre&nbsp;₹</th>
                                        <th>Post&nbsp;₹</th>
                                        <th>Income</th>
                                        <th>Booking&nbsp;Id</th>
                                        <th>Voucher&nbsp;Status</th>
                                        <th>Date</th>
                                        <th>View&nbsp;Guests</th>
                                        <th>View&nbsp;Price</th>
                                        <th>View&nbsp;Status</th>
                                        <th>OPEN</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td colspan="14" style="text-align:center;">No Data Found</td></tr>
                                    
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Calendar Javascript-->

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#date').bootstrapMaterialDatePicker
       ({
           clearButton: false
       });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/Hotel_Report') {
            $('.list-reports-wr li:nth-child(6) a').addClass('active');
        }
    });
</script>
