@model IEnumerable<Vastwebmulti.Models.Whitelabel_Mpos_Report_New_Result>
@{
    ViewBag.Title = "m_Possreport";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu{margin-top:0 !important;}


    .wretailer-dmtreport img {
        max-width: 100%;
        width: 10px;
    }

    .wretailer-moneytab ul li {
        padding: 0;
        box-shadow: none !important;
    }
    .wretailer-moneytab ul li a {
    margin: 0;
}
    .wretailer-moneytab ul li a:before{display:none;}
    .wretailer-moneytab ul li a span{color:#555 !important;}
    .wretailer-moneytab ul {border-bottom:0px !important;}
    .wretailer-dmtreport .addnew-responsiveclass {
        padding: 0;
    }
    .wretailer-moneytab ul li a.active {
        background:@PageData["GlobalSecond"];
    }
    .wretailer-moneytab ul li a {
        background: #e3e1da;
        border-right: 1px solid #aaa4a4;
    }
    .wretailer-moneytab ul li a {
        background: #e3e1da;
        border: 1px solid #aaa4a4 !important;
    }

    .wretailer-moneytab ul{width:auto;float:left;}
    .wretailer-moneytab {
        float: left;
        width: auto;
    }
    .wretailer-moneytab ul li a {
    padding: 5px 4px !important;
    text-align: center;
    height: 32px;
}
    .wretailer-moneytab ul li a img.reportblock ,.wretailer-moneytab ul li a.active img.reportnone{
    display: none;
}
    .wretailer-moneytab ul li a.active img.reportblock {
    display: block;
}
    .wretailer-moneytab ul li a img {
    float: left;
    width: 20px;
    margin-right: 5px;
}
    .wretailer-moneytab ul li a.active span {
    color: #fff !important;
    margin: 0 !important;
}
    .wretailer-moneytab ul li a span{margin:0 !important;font-size:14px;}
    .wretailer-moneytab {
        float: left;
        width: 30%;
    }
    .wretailer-moneytab ul{display:flex;}
    .wretailer-moneycontent{width:70%;float:left;}
    .select2-container--default .select2-selection--single {
        border: 1px solid #dddddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
    .wretailer-moneycontent .col-md-2, .wretailer-moneycontent .col-md-3, .wretailer-moneycontent .col-md-4 {
        padding-left: 0;
        padding-right: 5px;
    }
    .wretailer-moneycontent .select2.select2-container {
        width: 100% !important;
    }
    .wretailer-moneycontent .input-whitelabel i {
        top: 0 !important;
    }
    .wretailer-moneycontent .finacial-select-search button {
        width: 100%;
    }
    .wretailer-moneycontent .finacial-select-search {
        width: 12%;
        padding: 0;
    }
    .wretailer-moneycontent .buttonPdf button:nth-child(1){background:url(/ashok-images/pdf.png) no-repeat;background-position:1px;padding-left:15px;}
    .wretailer-moneycontent .buttonPdf button:nth-child(2) {
        background: url(/ashok-images/xls.png) no-repeat;
        background-position: 1px;
        padding-left: 15px;
    }
    .wretailer-moneycontent .buttonPdf button{background-color:#e1e1e1 !important;border:1px solid #adadad;height:32px;}
    .wretailer-moneycontent .buttonPdf {
        width: auto;
        float: right;
        padding: 0;
    }
    .all-page-container {
        padding-left: 13%;
        padding-right: 1%;
    }
    .wretailer-moneycontent {
        padding-left: 15px;
    }
    .wretailer-dmtstatus {
        margin: 0;
    }
    .wretailer-dmtstatus {width: 100%;float: left;}
    .wretailer-dmtstatus table tr td img {
    border-radius: 50%;padding: 2px 3px;height: 17px !important;width: 17px !important;
    float: left;margin-right: 2px;padding-left: 3px !important;margin-right: 5px;
}
    .wretailer-dmtstatus table tr td p {float: left;border: 0 !important;margin: 0 !important;}
    .wretailer-moneytab ul li a {
    border-right: 0px !important;
}
        .wretailer-moneytab ul li:last-child a{
            border-right: 1px solid #aaa4a4 !important;
        }

    @@media screen and (max-width:1366px){
        .all-page-container {padding-left: 14%;padding-right: 1%;}
        .wretailer-dmtstatus .table-responsive {overflow: auto;white-space: nowrap;}
        .wretailer-moneytab {float: left;width: auto;white-space: nowrap;}
        .wretailer-moneycontent {width: 100%;float: left;margin-top: 15px !important;padding-left: 0px !important;}
    }
    @@media screen and (max-width:1169px){
        .all-page-container {padding-left: 1%;padding-right: 1%;}

    }
    @@media screen and (max-width:992px){
        .wretailer-moneycontent .col-md-12 {width: 100%;float: left;}
        .wretailer-moneycontent .col-md-2, .wretailer-moneycontent .col-md-3, .wretailer-moneycontent .col-md-4 {
            float: left;
        }
        .wretailer-moneycontent .col-md-3.buttonPdf {float: right;}
        .wretailer-moneycontent .form-group {margin-bottom: 10px;}

    }
    @@media screen and (max-width:767px){
        .wretailer-moneycontent .finacial-select {
            width: 25%;
        }
        .wretailer-moneycontent .finacial-selectsss {
            padding-right: 0;
            width: 50%;
            float: left;
        }
        .wretailer-moneycontent .card {
            width: 100%;
            float: left;
        }
        .wretailer-moneycontent .form-group {
            margin-bottom: 0;
        }
        .wretailer-moneycontent .finacial-select-search {
            width: auto;
            margin: 8px auto;
        }
        .wretailer-moneycontent .buttonPdf {
            margin: 8px 0;
        }
        .all-page-container {
            margin-top: 65px !important;
        }
    }
    @@media screen and (max-width:480px){
        .wretailer-moneycontent .finacial-selectsss i {
            display: none;
        }
        .wretailer-moneytab ul li a span {
            font-size: 12px;
        }
        .wretailer-moneytab ul li a img {
            width: 10px;
            float: left;
            margin-top: 7px;
        }
        .wretailer-dmtstatus table tr th {
            padding-right: 40px !important;
        }
    }

</style>
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="wretailer-moneytab">
            @Html.Partial("_menuFinicalReport")
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div class="header" style="padding:6px; padding-left:12px; border-bottom:none;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey">
                                <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">Dashboard</a></li>
                                <li class="active" style="color:#607d8b; font-weight:700;font-size:15px;">M-Poss Report</li>
                            </ol>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        @Html.Partial("_financial")
                    </div>*@

                    @*<div class="col-md-6">
                        <div class="row">
                            <div class="form-group" style="margin-top:-19px; ">
                                <div style="padding-top: 22px;  padding-left: 10px; float:right;">
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px; color:green;font-weight:600;">Success&nbsp;[&nbsp;@ViewData["Totals"]&nbsp;]</span>
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px; color:red;font-weight:600;">Failed&nbsp;[&nbsp;@ViewData["Totalf"]&nbsp;]</span>
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px;color:#ff9600; font-weight:600;">Pending&nbsp;[&nbsp;@ViewData["Totalp"]&nbsp;]</span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-19px;">
                <div class="card">
                    @using (Html.BeginForm("m_Possreport", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;margin-left:-13px;width:108%;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">

                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px;padding-left:15px;margin-top:-3px;">From</p>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;" data-dtp="dtp_FUmMD">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;margin-left:-13px;width:108%;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px; padding-left:17px;margin-top:-3px;">To</p>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;" data-dtp="dtp_zdyoO">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <button type="submit" class="btn bg-blue-grey waves-effect" style="margin-top:3px;margin-left:-20px;">
                                        <i class="material-icons">search</i>
                                        @*<span>SEARCH</span>*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-19px;">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>M&nbsp;-&nbsp;Poss&nbsp;Id</th>
                                        <th>Retailerid</th>
                                        <th>Message</th>
                                        <th>TransType</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>MerchantID</th>
                                        <th>BankmerchantID</th>
                                        <th>BankterminalID</th>
                                        <th>Cardbrand</th>
                                        <th>Card&nbsp;Holder&nbsp;Name</th>
                                        <th>Cardnumber</th>
                                        <th>Card&nbsp;Type</th>
                                        <th>Date</th>
                                        <th>Invoice&nbsp;No</th>
                                        <th>Payment&nbsp;Id</th>
                                        <th>Merchant&nbsp;Address</th>
                                        <th>Retailer&nbsp;Pre</th>
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Retailer&nbsp;Comm</th>
                                        <th>Retailer&nbsp;GST</th>
                                        <th>Retailer&nbsp;Income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.mPOSid</td>
                                                <td>@item.RetailerId</td>
                                                <td>@item.Message</td>
                                                <td>@item.transType</td>
                                                <td>@item.amount</td>
                                                <td>
                                                    @if (item.status == "00")
                                                    {
                                                        <p style="color:green; font-size:18px;">Success</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:red; font-size:18px;">Failed</p>
                                                    }
                                                </td>
                                                <td>@item.merchatID</td>
                                                <td>@item.bankmerchantID</td>
                                                <td>@item.bankterminalID</td>
                                                <td>@item.cardbrand</td>
                                                <td>@item.cardholdername</td>
                                                <td>@item.cardnumber</td>
                                                <td>@item.cardtype</td>
                                                <td>@item.date</td>
                                                <td>@item.invoiceno</td>
                                                <td>@item.paymentid</td>
                                                <td>@item.merchantnameaddress</td>
                                                <td>@item.RetailerPre</td>
                                                <td>@item.RetailerPost</td>
                                                <td>@item.Rem_comm</td>
                                                <td>@item.remgst</td>
                                                <td>@item.remincome</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />




<script>
    $(function () {
        $('#date').bootstrapMaterialDatePicker
             ({
                 clearButton: false
             });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }
        answers();
    });
</script>

