
@{
    ViewBag.Title = "Markup_Setting";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    
    .wretailer-markupsetting .markup-satting-page table tr th, .wretailer-markupsetting .markup-satting-page table tr td {
    white-space: nowrap;
}
    .wretailer-markupsetting .markup-satting-page table ,.wretailer-markupsetting .markup-satting-page table tr ,.wretailer-markupsetting .markup-satting-page table tr th ,.wretailer-markupsetting .markup-satting-page table tr td
     ,.wretailer-markupsetting .markup-satting-page table tr td button{border-color:#9f9595 !important;}
    @@media screen and (max-width:767px) {
        .wretailer-markupsetting .daybook-wr-all.markup-wr-first {
            margin-bottom: 0;
            padding-right: 0;
        }

        .wretailer-markupsetting .markup-satting-page {
            padding-left: 0;
        }

        .all-page-container {
            margin-top: 65px !important;
        }
    }
</style>
<section>
    <div class="all-page-container wretailer-markupsetting">
        <div class="col-md-12 daybook-wr-all markup-wr-first wretailer-dashboardclass" style="padding-left:0;">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                        Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                    Markup&nbsp;Setting
                </li>
            </ul>
            
        </div>

        <div class="col-md-12 markup-satting-page">
            <table border="1" class="custome-background-wr">
                <tbody>
                    <tr>
                        <th>Sr</th>
                        <th>Particulars</th>
                        <th style="width: 180px;">Amount</th>
                        <th>Description</th>
                        <th>Last&nbsp;Updated&nbsp;Date</th>
                        <th style="width: 140px;">Action</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Domestic&nbsp;Flight</td>
                        <td><span class="edit-button-wr">0.00</span><input class="button-blockinput" type="number" style="display:none" /></td>
                        <td>Description</td>
                        <td>6/24/2020 2:15:40 PM</td>
                        <td><button class="edit-option-td">Edit</button><button class="input-text-save" style="display:none">Save</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>International&nbsp;Flight</td>
                        <td><span class="edit-button-wr">0.00</span><input class="button-blockinput" type="number" style="display:none" /></td>
                        <td>Description</td>
                        <td>6/24/2020 2:15:40 PM</td>
                        <td><button class="edit-option-td">Edit</button><button class="input-text-save" style="display:none">Save</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Bus</td>
                        <td><span class="edit-button-wr">0.00</span><input class="button-blockinput" type="number" style="display:none" /></td>
                        <td>Description</td>
                        <td>6/24/2020 2:15:40 PM</td>
                        <td><button class="edit-option-td">Edit</button><button class="input-text-save" style="display:none">Save</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Hotel</td>
                        <td><span class="edit-button-wr">0.00</span><input class="button-blockinput" type="number" style="display:none" /></td>
                        <td>Description</td>
                        <td>6/24/2020 2:15:40 PM</td>
                        <td><button class="edit-option-td">Edit</button><button class="input-text-save" style="display:none">Save</button></td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(".edit-option-td").click(function () {
        
        $(".edit-button-wr").hide();
        $(".button-blockinput").show();
        $(this).next(".input-text-save").show();
        $(this).hide();
      
    });
    $(".input-text-save").click(function () {
        $(".edit-button-wr").show();
        $(".button-blockinput").hide();
        $(".edit-option-td").show();
        $(this).hide();
    });
</script>
