@{
    ViewBag.Title = "Money_transfer";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<script src="~/loaderjs/loaderdemo.js"></script>
@*<script src="http://code.jquery.com/jquery-latest.js"></script>*@
<link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
<link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<style>
    .transaction ul li.transaction-left, .transaction ul li.transaction-right {
        height: 28px;
    }

    .loader::after {
        border-color: var(--main-bg-lcolor) !important;
        border-top-color: transparent !important;
    }

    .aadharpaysup {
        animation: blinks 2s linear infinite;
        font-size: 8px;
        top: -10px;
        left: -12px;
    }

    @@keyframes blinks {
        0% {
            color: #000;
        }

        50% {
            color: green;
        }

        100% {
            color: red;
        }
    }
    .wretailer-moneytrransfer ul li{background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);}
    .wretailer-moneytrransfer ul li.current{background:transparent !important;}
    .wretailer-dmtcontentfirst .wretailerfirst-dmt .money_tab-height p.body-border-bottom {
    border-bottom:1px solid @PageData["GlobalSecond"];
}
    .wretailerrematerclass .number-login {
    border-bottom: 2px solid @PageData["GlobalSecond"];
}
    .wretailerrematerclass .radiobuttonimps label input:checked ~ .checkmark ,.wretailerradiobuttonimps label input:checked ~ span.checkmark
     ,.wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label input:checked ~ .checkmark{
        background: url('../../ashok-images/check.png')no-repeat;
    background-color: @PageData["GlobalSecond"];
    background-size: 10px;
border: none;
background-position: center;
background-position: 2px 2px;
}
    .wretailerneftime table tr td .Transferdata a.click-delete {
    background:@PageData["GlobalSecond"] !important;
    padding-top: 5px;
}
    .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong button.verify-account{background:@PageData["GlobalSecond"];}
    .wretaileraccountholderde .transaction-button button, .wretailercancelbutton a, .wretailer-confirm-dmt .cancelbutton .cancelbuttonright a, .wretailer-dmttransferfinal .transaction-button button
    ,.wretailer-NewSenderregister .transaction-button button{
        background-image: linear-gradient(to right, @PageData["Globalfirst"], @PageData["GlobalSecond"] ) !important;
    }
    .wretailerdmttransfer .accountholderde .account-holder p{color:@PageData["GlobalSecond"];}
    .wretailer-confirm-dmt .button-classadd .button-one button {
        border:3px solid @PageData["GlobalSecond"];
    }
    .wretailer-confirm-dmt .button-classadd .button-one button span{
        color: @PageData["GlobalSecond"] !important;
    }
        .wretailer-confirm-dmt .button-classadd .button-one button::after {

            background:@PageData["GlobalSecond"];

        }
    .wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong strong {
        color:@PageData["GlobalSecond"];
    }
    .wretailer-confirm-dmt .button-classadd {border-bottom:1px solid @PageData["GlobalSecond"];}
    .wretailer-confirm-dmt .button-classadd .button-imps {
    padding-top: 20px;
}
    .wretailer-dmtcontent .wretailerfirst-dmt fieldset legend {
        color:@PageData["GlobalSecond"] !important;
    }
    .wretailer-dmtcontent .tab-content.wretailer-dmtcontentfirst .money_tab-height {height: auto !important;}
    .wretailer-confirm-dmt .fullwidthaccount .amount strong, .wretailer-confirm-dmt .fullwidthaccount .amount span {
        color: #555;
    }
    .wretailer-dmtdataall .wretailereportallinone {overflow: auto;}
    .loader::after {border-color:@PageData["GlobalSecond"] !important;border-top-color:transparent !important;}
    .wretailerfirst-dmt .wretailerremitter_button span#errorsenderno {
        font-weight: 400;padding-left: 0;width: 100%;position: relative;top: 5px;float:left;
    }
    .wretailer-dmtdataall .wretailereportallinone {
        overflow: inherit;
    }
    .wretailer-dmtdataall .wretailereportallinone table tr th {
    width: auto !important;
}
    .wretailerfirst-dmt .wretailerremitter_button input:focus {
        border-color: #000 !important;
        box-shadow: none;
    }
    .wretailerfirst-dmt .wretailerremitter_button input {
       
        box-shadow: none;
    }
    .wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label {
    cursor: pointer;
}


    @@media screen and (max-width:1366px) {
        .newpagecustom.newpagecustomertyui ul li span.aeps-aadharclassdiv {left: -11px !important;}
        .wretailerrematerclass .add_account.add_account-responshive a {padding: 6px 4px;}
        .wretailerrematerclass .add_account.add_account-responshive a, .wretailerrematerclass .add_account.add_account-responshive a span {
    font-size: 12px;}
        .wretailer-dmtdataall .wretailereportallinone {
            overflow: auto;
        }

    }
    @@media screen and (max-width:990px){
        .wretailerdmttransfer .amount.amount_strong { width: 100%;float: left;}
        .wretailerfirst-dmt .wretailerremitter_button {width: 100%;float: left;}
        .wretailerrematerclass .col-md-5, .wretailerrematerclass .col-md-2, .wretailerrematerclass .col-md-12 {
            float: left;
        }
        .wretailerdmttransfer .col-md-12 {float: left;}
        .wretailer-confirm-dmt .fullwidthaccount .amount {float: left;width: 100%;}
        .wretailer-dmttransferfinal .Confirm-Payment .col-md-6, .wretailer-dmttransferfinal .Confirm-Payment .col-md-12 {
            float: left;
        }
        .wretailerrematerclass .radiobuttonimps, .wretailerrematerclass .number-login {width: 100%;float: left;}
        .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong {width: 100%;float: left;}
    }
    @@media screen and (max-width:767px){
        .wretailer-moneytrransfer {
            width: 100%;float: left;
        }
        .wretailer-moneytrransfer ul {display: flex !important;}
        .wretailer-moneytrransfer ul li {padding: 0 !important;border: 0;}
        .wretailer-dmtcontent {width: 100%;float: left;padding: 0;}
        .wretailer-dmtcontent .tab-content.wretailer-dmtcontentfirst {min-height: inherit;}
        .wretailerrematerclass .number-login {width: 100%;float: left;}
        .wretailerrematerclass .userName {width: 40%;float: left;padding-right: 5px;}
        .wretailerrematerclass .changesenderclass {padding-right: 5px;width: 35%;float: left;}
        .wretailerrematerclass .add_account.add_account-responshive {width: auto;float: right;}
        .wretailerrematerclass .add_account.add_account-responshive a {
    white-space: normal;display:inline-block;position:relative;text-align:center;padding:0 4px;
}
        .wretailerrematerclass .add_account.add_account-responshive a strong {position: absolute;left:9px;}
        .wretailerrematerclass .add_account.add_account-responshive a {font-size: 10px;font-weight: 400;height:34px;padding-top:3px;}
        .wretailerrematerclass .radiobuttonimps {width: 100%;float: left;}
        .wretailerrematerclass .add_account.add_account-responshive a span {display: block;padding: 0;}
        .wretailerdmttransfer .amount.amount_strong.amount_strongcolm1, .wretailerdmttransfer .amount.amount_strong.amount_strongcolm {
    width: 100%;float: left;}
        .all-page-container {
    margin-top: 65px !important;
}

    }

    @@media screen and (max-width:480px){
        .wretailer-moneytrransfer ul li span sup.aadharpaysup {left: 15px !important;}
        .wretailerfirst-dmt .wretailerremitter_button input {width: 65%;}
        .wretailerfirst-dmt .wretailerremitter_button button {width: auto !important;float: left;}
        .wretailer-NewSenderregister .wretailernewsandernum .amount.amount_strong strong, .wretailer-NewSenderregister .amount.amount_strong strong {
            width: 43% !important;font-size: 13px;}
        .wretailer-NewSenderregister .wretailernewsandernum .amount.amount_strong input, .wretailer-NewSenderregister .amount.amount_strong input{
            margin: 0;width: 57%;}
        .wretailerdmttransfer .amount.amount_strong.radiobuttonimps #dividproof label {padding-right: 0;}

        .wretailerdmttransfer .amount.amount_strong strong {width: 35%;}
        .wretailerdmttransfer .amount.amount_strong input {width: 65%;}
        .wretailerdmttransfer .amount.amount_strong.radiobuttonimps strong {width: 100%;border-bottom: 1px solid #a4a0a0;}
        .wretailerrematerclass .userName, .wretailerrematerclass .changesenderclass {width: 50%;float: left;}
        .wretailerrematerclass .add_account.add_account-responshive {margin-top: 5px;}
        .wretailerrematerclass .changesenderclass {position: relative;padding-right:0;}
        .wretailerrematerclass .changesenderclass input {width: 100%;margin: 0;}
        .wretailerrematerclass .changesenderclass .fa.fa-exchange {
    position: absolute;right: 5px;width: auto;height: auto;padding: 6px;top: 3px;
}
        .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong strong {font-size: 13px;width: 35%;}
        .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong input {width: 65%;}
        .wretaileraccountholderde .wretaileraddaccount .amount.amount_strong .select2.select2-container.select2-container--default {
    width: 65% !important;

}
        .wretailerdmttransfer .accountholderde .account-holder {width: 100%;margin-top: 5px;padding: 0 5px;}
        .wretailerdmttransfer .accountholderde .account-holder1 {border-right: 1px solid #a4a0a0;}
        .wretailerdmttransfer .accountholderde .account-holder strong {font-size: 11px;}
        .wretailer-confirm-dmt .button-classadd .button-one {width: auto;text-align: center;float: none;}
        .wretailer-confirm-dmt .button-classadd .button-imps {width: 100%;float: left;}
        .wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong {width: 100%;margin-top: 8px;border-right: 1px solid #a4a0a0 !important;}
        .wretailer-confirm-dmt .next-page .button-imps .amount.amount_strong span {font-size: 12px;}
        .wretailer-confirm-dmt .fullwidthaccount .amount strong, .wretailer-confirm-dmt .fullwidthaccount .amount span {
            font-size: 12px;color: #555;
        }
        .wretailer-dmtdataall table th, .wretailer-dmtdataall table td {white-space: nowrap;}
    }

</style>
<section class="newpagecustom newpagecustomertyui" style="margin:0;width:100%;float:left;">
    <div class="all-page-container">
        <div id="full" class="col-md-12 tabspage" style="background:transparent;padding:0;">
            <div class="col-md-2 wretailer-moneytrransfer custome-background-wr">
                <ul class="tabsmy" id="tabsmyss" style="display:;">
                    <li class="tab-link-new current" data-tab="tab-1" onclick="DMT()" style="padding: 5px 0px;"><strong class="img-none" style="display:none;"><img style="height: 65px;" src="~/images/transfer.svg" /></strong><img class="hover-display-none" src="~/images/transfer-money.png" /><span style="padding-left:0;">DMT</span></li>
                    <li class="tab-link-new" data-tab="tab-2" onclick="AEPS()" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img src="~/images/aeps1.png" /></strong><img class="hover-display-none" src="~/images/aespicon.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">AEPS<sup class="aadharpaysup" style="position:absolute;top: -3px;left:-36px;right: 0;font-size:7px;">Aadhar&nbsp;pay</sup></span></li>
                    <li class="tab-link-new" data-tab="tab-3" onclick="PANCARD()" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img src="~/images/pancarde1.png" /></strong><img class="hover-display-none" src="~/images/pancardicon.png" /><span style="padding-left:0;">Pancard</span></li>
                    <li class="tab-link-new" data-tab="tab-5" onclick="GotoATMActive()" style="padding:5px 0px;"><strong class="img-none" style="display: none; "><img src="~/ashok-images/microatm.svg" /></strong><img class="hover-display-none" src="~/ashok-images/microatm(1).svg" /><span style="padding-left:0;">VM30</span></li>
                    <li class="tab-link-new" data-tab="tab-4" onclick="MPOS()" style="padding:5px 0px;"><strong class="img-none" style="display: none; "><img src="~/images/mpos1.png" /></strong><img class="hover-display-none" src="~/images/mposicon.png" /><span style="padding-left:0;">ME30S</span></li>

                </ul>
            </div>
            <div class="col-md-10 wretailer-dmtcontent">
                <div id="tab-1" class="tab-content current wretailer-dmtcontentfirst">
                    <div id="reload">
                        @if (ViewBag.chkcharge == "DONE")
                        {
                            @Html.Partial("_Moneytransfer")
                        }
                        else
                        {
                            @Html.Partial("_Money_Transfer_Purchase")
                        }
                    </div>
                </div>
                <div id="tab-2" class="tab-content tab-content2" style="padding: 25px 10px;">
                    @if (ViewBag.req == "REQUIREDOTP" || ViewBag.req == "REQUIREDSCAN")
                    {
                        @Html.Partial("_EKYC")
                    }
                    else
                    {
                        @Html.Partial("_Aeps")
                    }
                </div>
                <div id="tab-3" class="tab-content tab-3 pancardpageheight-tab">
                    @Html.Partial("_pancard")
                </div>
                <div id="tab-4" class="tab-content">
                    @Html.Partial("_mpos")
                </div>
                <div id="tab-5" class="tab-content">
                    @Html.Partial("_microATM")
                </div>



            </div>

        </div>
        <div class="col-md-12 money-transform-content wretailer-dmtdataall" style="width:100%;float:left;padding:0;">
            <div id="reportallinone" class="custome-background-wr wretailereportallinone">
                @Html.Partial("_RecentReport")
            </div>

        </div>
        <!--Change-New-->


    </div>
</section>
<script>
    $('ul.tabsmy li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabsmy li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
</script>
<script>
    $(document).ready(function () {
        $("button.driver-buttons ,.update-page2").click(function () {
            $("button.driver-buttons ,.update-page2").addClass("update-page3");

        });
    });
</script>
<script>
    $(".update-page1").click(function () {
        $(".update-page2").removeClass("update-page3");
    });
</script>
<script>
    $(".update-page1").click(function () {
        $('#digitaltokenvalue').val(0);
        $('#buttokenerror').text("");
        $(".update-page1").addClass("update-page5");
    });
</script>
<script>
    $(".update-page2").click(function () {
        $('#Physicaltokenvalue').val(0);
        $('#buttokenerror').text("");
        $(".update-page5").removeClass("update-page5");
    });
</script>
<script>
    $(document).ready(function () {
        $("button.driver-buttons ,.update-page2").click(function () {
            $(".update-page1").addClass("update-page4");

        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#impsbutton ,.addaccount-add-scan-img').click(function () {
            $('.impsbutton ,.impsstrong ,.scan-img').css('display', 'block')
            $('.upibutton').css('display', 'none')
            $('.neftbutton').css('display', 'none')
            $('.neftstrong ,.upistrong').css('display', 'none')

        });
        $('#neftbutton ,.driver-buttons').click(function () {
            $('.impsbutton').css('display', 'none')
            $('.neftbutton ,.neftstrong ,.container-fluid.driver-page').css('display', 'block')
            $('.upibutton').css('display', 'none')
            $('.impsstrong ,.upistrong').css('display', 'none')
        });
        $('#neftbutton').click(function () {
            $('.impsbutton').css('display', 'none')

        });

        $('.addaccount-add-scan-img ,.introbutton').click(function () {
            $('.scan-img ,#aeps_id1').css('display', 'block')
            $('.container-fluid.driver-page').css('display', 'none')

        });

        $('#cash-withdrawal').click(function () {
            $('.blance-block ,.scan-img').css('display', 'none')
            $('.with-click-block').css('display', 'block')
        });

        $('#upibutton ,#get-account-balance').click(function () {
            $('.neftbutton ,.with-click-block ,.scan-img ,.driver-page').css('display', 'none')
            $('.impsbutton').css('display', 'none')
            $('.upibutton ,.upistrong ,.blance-block').css('display', 'block')
            $('.impsstrong ,.neftstrong').css('display', 'none')
        });
        $('.click-change ,.back-main-page ,.update-page1 ,.update-page4').click(function () {
            $('.click-change-remove ,.container-fluid.driver-page ,.button-plush.button-plush-top.button-plush-top-right').css('display', 'none')
            $('.click-change-block ,.button-plush-top').css('display', 'block')
        });



    });
</script>
<script>
    $(document).ready(function () {
        $('.update-page1').click(function () {

            $('.custome-none-class1').css('display', 'block')
            $('#button-top-none').css('display', 'none')
        });
        $('.update-page2').click(function () {
            $('.custome-none-class1').css('display', 'none')
            $('.custome-none-class').css('display', 'block')
        });



    });
</script>
<script>

    var incrementPlus;
    var incrementMinus;

    var buttonPlus = $(".cart-qty-plus");
    var buttonMinus = $(".cart-qty-minus");

    var incrementPlus = buttonPlus.click(function () {
        var $n = $(this)
            .parent(".button-container")
            .parent(".container")
            .find(".qty");
        $n.val(Number($n.val()) + 1);
    });

    var incrementMinus = buttonMinus.click(function () {
        var $n = $(this)
            .parent(".button-container")
            .parent(".container")
            .find(".qty");
        var amount = Number($n.val());
        if (amount > 0) {
            $n.val(amount - 1);
        }
    });


</script>
<script>
    // Initialize select2
    $('select').select2();
</script>