@model List<Vastwebmulti.Models.money_transfer_report_paging_Result>
@{
    ViewBag.Title = "Money_Transfer_Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu{margin-top:0 !important;}

    
    .wretailer-dmtreport img {
        max-width: 100%;
        width: 10px;
    }

    .wretailer-moneytab ul li {
        padding: 0;
        box-shadow: none !important;
    }
    .wretailer-moneytab ul li a {
    margin: 0;
}
    .wretailer-moneytab ul li a:before{display:none;}
    .wretailer-moneytab ul li a span{color:#555 !important;}
    .wretailer-moneytab ul {border-bottom:0px !important;}
    .wretailer-dmtreport .addnew-responsiveclass {
        padding: 0;
    }
    .wretailer-moneytab ul li a.active {
        background:@PageData["GlobalSecond"];
    }
    .wretailer-moneytab ul li a {
        background: #e3e1da;
        border-right: 1px solid #aaa4a4;
    }
    .wretailer-moneytab ul li a {
        background: #e3e1da;
        border: 1px solid #aaa4a4 !important;
    }

    .wretailer-moneytab ul{width:auto;float:left;}
    .wretailer-moneytab {
        float: left;
        width: auto;
    }
    .wretailer-moneytab ul li a {
    padding: 5px 4px !important;
    text-align: center;
    height: 32px;
}
    .wretailer-moneytab ul li a img.reportblock ,.wretailer-moneytab ul li a.active img.reportnone{
    display: none;
}
    .wretailer-moneytab ul li a.active img.reportblock {
    display: block;
}
    .wretailer-moneytab ul li a img {
    float: left;
    width: 20px;
    margin-right: 5px;
}
    .wretailer-moneytab ul li a.active span {
    color: #fff !important;
    margin: 0 !important;
}
    .wretailer-moneytab ul li a span{margin:0 !important;font-size:14px;}
    .wretailer-moneytab {
        float: left;
        width: 30%;
    }
    .wretailer-moneytab ul{display:flex;}
    .wretailer-moneycontent{width:70%;float:left;}
    .select2-container--default .select2-selection--single {
        border: 1px solid #dddddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
    .wretailer-moneycontent .col-md-2, .wretailer-moneycontent .col-md-3, .wretailer-moneycontent .col-md-4 {
        padding-left: 0;
        padding-right: 5px;
    }
    .wretailer-moneycontent .select2.select2-container {
        width: 100% !important;
    }
    .wretailer-moneycontent .input-whitelabel i {
        top: 0 !important;
    }
    .wretailer-moneycontent .finacial-select-search button {
        width: 100%;
    }
    .wretailer-moneycontent .finacial-select-search {
        width: 12%;
        padding: 0;
    }
    .wretailer-moneycontent .buttonPdf button:nth-child(1){background:url(/ashok-images/pdf.png) no-repeat;background-position:1px;padding-left:15px;}
    .wretailer-moneycontent .buttonPdf button:nth-child(2) {
        background: url(/ashok-images/xls.png) no-repeat;
        background-position: 1px;
        padding-left: 15px;
    }
    .wretailer-moneycontent .buttonPdf button{background-color:#e1e1e1 !important;border:1px solid #adadad;height:32px;}
    .wretailer-moneycontent .buttonPdf {
        width: auto;
        float: right;
        padding: 0;
    }
    .all-page-container {
        padding-left: 13%;
        padding-right: 1%;
    }
    .wretailer-moneycontent {
        padding-left: 15px;
    }
    .wretailer-dmtstatus {
        margin: 0;
    }
    .wretailer-dmtstatus {width: 100%;float: left;}
    .wretailer-dmtstatus table tr td img {
    border-radius: 50%;padding: 2px 3px;height: 17px !important;width: 17px !important;
    float: left;margin-right: 2px;padding-left: 3px !important;margin-right: 5px;
}
    .wretailer-dmtstatus table tr td p {float: left;border: 0 !important;margin: 0 !important;}
    .wretailer-moneytab ul li a {
    border-right: 0px !important;
}
        .wretailer-moneytab ul li:last-child a{
            border-right: 1px solid #aaa4a4 !important;
        }

    @@media screen and (max-width:1366px){
        .all-page-container {padding-left: 14%;padding-right: 1%;}
        .wretailer-dmtstatus .table-responsive {overflow: auto;white-space: nowrap;}
        .wretailer-moneytab {float: left;width: auto;white-space: nowrap;}
        .wretailer-moneycontent {width: 100%;float: left;margin-top: 15px !important;padding-left: 0px !important;}
    }
    @@media screen and (max-width:1169px){
        .all-page-container {padding-left: 1%;padding-right: 1%;}

    }
    @@media screen and (max-width:992px){
        .wretailer-moneycontent .col-md-12 {width: 100%;float: left;}
        .wretailer-moneycontent .col-md-2, .wretailer-moneycontent .col-md-3, .wretailer-moneycontent .col-md-4 {
            float: left;
        }
        .wretailer-moneycontent .col-md-3.buttonPdf {float: right;}
        .wretailer-moneycontent .form-group {margin-bottom: 10px;}
        
    }
    @@media screen and (max-width:767px){
        .wretailer-moneycontent .finacial-select {
            width: 25%;
        }
        .wretailer-moneycontent .finacial-selectsss {
            padding-right: 0;
            width: 50%;
            float: left;
        }
        .wretailer-moneycontent .card {
            width: 100%;
            float: left;
        }
        .wretailer-moneycontent .form-group {
            margin-bottom: 0;
        }
        .wretailer-moneycontent .finacial-select-search {
            width: auto;
            margin: 8px auto;
        }
        .wretailer-moneycontent .buttonPdf {
            margin: 8px 0;
        }
        .all-page-container {
            margin-top: 65px !important;
        }
    }
    @@media screen and (max-width:480px){
        .wretailer-moneycontent .finacial-selectsss i {
            display: none;
        }
        .wretailer-moneytab ul li a span {
            font-size: 12px;
        }
        .wretailer-moneytab ul li a img {
            width: 10px;
            float: left;
            margin-top: 7px;
        }
        .wretailer-dmtstatus table tr th {
            padding-right: 40px !important;
        }
    }

</style>
<section class="content" style="margin:0;overflow-x: hidden;">
    <!--newtabsreport-->
    <div class="all-page-container">
        <div class="newtabsreport uladdcssnew wretailer-dmtreport" style="width:100% !important;float:left;">
            <div class="container container-tabsrepor addnew-responsiveclass" style="width:100% !important;float:left;">

                <div class="wretailer-moneytab">
                    @Html.Partial("_menuFinicalReport")
                </div>


                <div class="tab-content tabsrepor-content wretailer-moneycontent" style="float:left;margin-top:0px;">

                    <div id="home" class="tab-pane fade in active">


                        <div class="col-md-12" style="padding:0;">
                            <div class="card" style="margin-bottom: 0;">
                                
                                    @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                                    {
                                        

                                            <div class="col-md-2 finacial-select">
                                                <div class="form-group">
                                                    
                                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="Status",Value="ALL",},
                                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                            new SelectListItem{Text="Pending",Value="PENDING"},
                                            new SelectListItem{Text="FAILED",Value="FAILED"}
                                            }, new { @class = "form-control for-select2" })

                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-2 finacial-select">
                                                <div class="form-group">
                                                    
                                                        @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                            {
                                                     new SelectListItem{ Text="Transition Type",Value="ALL",},
                                             new SelectListItem{Text="Transfer",Value="IMPS"},
                                             new SelectListItem{Text="Account Verify",Value="IMPS_VERIFY"}
                                            }, new { @class = "form-control for-select2" })

                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4 finacial-selects finacial-selectsss" id="rwqrtse">
                                                <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                    <div class="input-daterange input-group">
                                                        <div class="input-whitelabel leftwhitellabel">
                                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;height:33px;", autocomplete = "off" })
                                                        </div>
                                                        @*<span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                        </span>*@
                                                    <div class="input-whitelabel rightwhitellabel">
                                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;height:33px;", autocomplete = "off" })
                                                    </div>
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                            <div class="col-md-2 finacial-select-search">
                                                <div class="form-group">
                                                    <div class="form-line" style="border-bottom:none;">
                                                        <button value="LIVE" type="submit" class="btn" id="submit" name="submit" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:#555;"></i>
                                                            <span class="font-responsiveo" style="top:-1px;color:#555;">Search</span>
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 buttonPdf">

                                                <button>PDF</button>
                                                <button>Export</button>
                                                <button>Total</button>
                                            </div>

                                        
                                    }
                                
                            </div>
                        </div>




                    </div>


                </div>

                <div class="row clearfix statusshow-dmt statusshow-dmts wretailer-dmtstatus" style="">
                    <div class="col-md-12 statusshow-dmtpage" style="padding: 0;">
                        <div class="card">
                            <div class="body" style="padding:12px;padding-left: 0;padding: 0px;">
                                <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;margin-top:0px;">
                                    <table id="tbldata" class="table table-bordered table-striped table-hover dataTable gfdgfdgfdgf" cellspacing="0" style="width:100%;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th class="first-statuswe">Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

                                                <th>Sender&nbsp;No</th>

                                                <th>Beneficiary&nbsp;A/C</th>
                                                <th>Beneficiary&nbsp;Name</th>

                                                @*<th style="display:none;">Request&nbsp;Date</th>*@

                                                <th>Net&nbsp;T/F</th>
                                                <th>Charge</th>
                                                <th>Tax</th>

                                                @*<th style="display:none;">Total&nbsp;.&nbsp;Trans</th>
                                                <th style="display:none;">My&nbsp;Sharing</th>
                                                <th style="display:none;">GST&nbsp;│&nbsp;TDS</th>
                                                <th style="display:none;">Net&nbsp;INC</th>*@

                                                <th>Debit&nbsp;₹</th>
                                                <th>Pre&nbsp;₹</th>
                                                <th>Post&nbsp;₹</th>
                                                <th>Earn</th>
                                                <th>Request&nbsp;Time</th>
                                                <th>Response&nbsp;Time</th>
                                                <th>RRN&nbsp;(utr)&nbsp;no</th>
                                                <th>Print</th>
                                                @*<th class="last-childaction">Action</th>*@
                                                @*<th style="display:none;">View&nbsp;Sts</th>
                                                <th style="display:none;">Bank&nbsp;Ref&nbsp;No</th>
                                                <th style="display:none;">Bank&nbsp;Name</th>
                                                <th style="display:none;">Request&nbsp;ID</th>
                                                <th style="display:none;">Common&nbsp;Trans&nbsp;ID</th>
                                                <th style="display:none;">IFSC&nbsp;Code</th>
                                                <th style="display:none;">Response&nbsp;Date</th>*@


                                            </tr>
                                        </thead>
                                        <tbody id="trow">
                                            @{
                                                Html.RenderAction("_Money_Transfer_Report", "Home", new { Model = Model });
                                            }
                                        </tbody>
                                    </table>
                                    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                        <div class="loadertablecssnew wretailerloadertablecssnew">Loading...</div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--newtabsreport-->
        <!--<div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="">
                                    @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                                    {
                                        <div class="row">

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="" style="margin-top: 5px;">
                                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="Status",Value="ALL",},
                                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                            new SelectListItem{Text="Pending",Value="PENDING"},
                                            new SelectListItem{Text="FAILED",Value="FAILED"}
                                            }, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <div class="" style="margin-top: 5px;">
                                                        @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                            {
                                                     new SelectListItem{ Text="Type",Value="ALL",},
                                             new SelectListItem{Text="Transfer",Value="IMPS"},
                                             new SelectListItem{Text="Verify",Value="IMPS_VERIFY"}
                                            }, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                    <div class="input-daterange input-group">
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                        </span>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-line" style="border-bottom:none;">
                                                        <button value="LIVE" type="submit" class="btn" id="submit" name="submit" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                            <span style="top:-1px;color:black;">Search</span>
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="body" style="padding:12px;">
                                    <div class="table-responsive" style="position:inherit;margin-top:-10px;">
                                        <table id="tbldata" class="table table-bordered table-striped table-hover dataTable" cellspacing="0" style="width:100%;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>Status</th>
                                                    <th>Sender&nbsp;No</th>
                                                    <th>Beneficiary&nbsp;Account&nbsp;Information</th>
                                                    <th>Type</th>
                                                    <th>Request&nbsp;Date</th>
                                                    <th>Transfer&nbsp;&#x002B;&nbsp;Fee&nbsp;=&nbsp;Total</th>
                                                    <th>Total&nbsp;.&nbsp;Trans</th>
                                                    <th>My&nbsp;Sharing</th>
                                                    <th>GST&nbsp;│&nbsp;TDS</th>
                                                    <th>Net&nbsp;INC</th>
                                                    <th>Pre&nbsp;Amt&nbsp;│&nbsp;Debit&nbsp;│&nbsp;Post&nbsp;Amt</th>
                                                    <th>Print</th>
                                                    <th>View&nbsp;Sts</th>
                                                    <th>Bank&nbsp;Ref&nbsp;No</th>
                                                    <th>Bank&nbsp;Name</th>
                                                    <th>Request&nbsp;ID</th>
                                                    <th>Common&nbsp;Trans&nbsp;ID</th>
                                                    <th style="width:84px; padding:9px;">IFSC&nbsp;Code</th>
                                                    <th style="width:84px; padding:9px;">Response&nbsp;Date</th>


                                                </tr>
                                            </thead>
                                            <tbody id="trow">
                                                @{
                                                    Html.RenderAction("_Money_Transfer_Report", "Home", new { Model = Model });
                                                }
                                            </tbody>
                                        </table>
                                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                            <img src="~/img/ajax-loader.gif" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        -->
    </div>
</section>
<!--View Status Model PopUp Modal-->

<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top:27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    <input type="text" id="name" name="name" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                    @Html.Hidden("TID")
                                </div>
                                <span style="color:red" id="invalidname"></span>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                            <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotp()">Resend Otp</button>
                            <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submit()">Send</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalold" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top: 27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    <input type="text" id="nameold" name="nameold" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                    @Html.Hidden("TIDold")
                                </div>
                                <span style="color:red" id="invalidnameold"></span>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                            <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotpold()">Resend Otp</button>
                            <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submitold()">Send</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();

        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_money","Home")",
                    { "pageindex": pageindex, "txt_frm_date": txt_frm_date,"txt_to_date":txt_to_date, "ddl_status": ddl_status},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script type="text/javascript">
                   function GotoPDF(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("IMPSPDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>
<script>
    $('select').select2();
</script>
<!--View Status-->
<script>
    function GotoView(idno)
    {
        $.ajax({
            url: '@Url.Action("viewsearch", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno},
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success")
                {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded")
                {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewold(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModalold').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                             //  location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewoldDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearcholdDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function Submit()
    {
        var tid = $('#TID').val();
        var otp = $('#name').val();
        $.ajax({
            url: '@Url.Action("Refund", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP")
                {
                    $('#myModal').modal('hide');
                }
            }
        });

    }
    function Submitold() {
        var tid = $('#TIDold').val();
        var otp = $('#nameold').val();
        $.ajax({
            url: '@Url.Action("Refundold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP") {
                    $('#myModalold').modal('hide');
                }
            }
        });

    }
    function Resendotp() {
        var tid = $('#TID').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                swal("Response ! ", result, "success");

            }
        });

    }
    function Resendotpold() {
        var tid = $('#TIDold').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                swal("Response ! ", result, "success");

            }
        });

    }
</script>
<script>
    $("").click(function () {
        $(".report-list-change li").addClass(".active");
    });

</script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.menu-top-custome ul li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');
            }
        })
    });
</script>
<script>
    $(document).ready(function () {
        $(".addnew-responsiveclass .finacial-selectsss input").click(function () {
            $(".datepicker").addClass('datapicker-bottom-responshive');
        });
    });
</script>
