@model IEnumerable<Vastwebmulti.Models.mPosInfo>
@{
    ViewBag.Title = "MPOSH Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 0px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {border: 1px solid #ddd !important;border-radius: 0px !important;height: 32px !important;}

    @@media screen and (max-width:767px){
        .all-page-container.wretailermposreport {margin-top: 65px !important;}
        .all-page-container.wretailermposreport .table-responsive {border: 0;}
    }

    @@media screen and (max-width:420px) {
        .wretailermposreport .lager-date-wr .fa.fa-calendar.tmw-total-color-one {display: none;}
        .wretailermposreport .lager-date-wr {width: 65% !important;}
        .wretailermposreport .lager-date-wr input {text-align: center !important;}
        .wretailermposreport .lager-date-search {width: 34% !important;}
    }

</style>
<section class="content" style="margin: 0px 0px 0px 0px; ">
    <div class="all-page-container wretailermposreport">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    @using (Html.BeginForm("MposReport", "Home", FormMethod.Post))
                    {
                        <div class="col-md-12 recharge-report-wr aeps-report-wr">
                            
                            <div class="col-md-2 wr-status-re">
                                    <div class="form-group">
                                        <div class="" style="margin-top:5px;">
                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                        new SelectListItem{Text="Pending",Value="PENDING"},
                        new SelectListItem{Text="FAILED",Value="FAILED"}
                         }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 wr-operators-re">
                                    <div class="form-group">
                                        <div class="" style="margin-top:5px;">
                                            @Html.TextBox("BankId", "", new { @placeholder = "Bank Id / Aadhar", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 wr-consumer-number">
                                    <div class="form-group">
                                        <div class="" style="margin-top:5px;">
                                            @Html.TextBox("amount", "", new { @placeholder = "Amount", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                        </div>
                                    </div>

                                </div>

                                @*<div class="col-md-2">
                                        <div class="form-group">
                                            <div class="" style="margin-top:5px;">
                                                @Html.TextBox("cardNo", "", new { @placeholder = "Aadhar", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                            </div>
                                        </div>

                                    </div>*@
                                @*<div class="col-md-1">
                                              <div class="form-group">
                                                  <div class="" style="margin-top:5px;">
                                                      @Html.DropDownList("ddl_top", new List<SelectListItem>
                                        {
                                     new SelectListItem{ Text="50",Value="50"},
                                     new SelectListItem{Text="100",Value="100"},
                                     new SelectListItem{Text="200",Value="200"},
                                     new SelectListItem{Text="500",Value="500"},
                                     new SelectListItem{Text="1500",Value="1500"},
                                     new SelectListItem{Text="All",Value="All"}
                                    }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                  </div>
                                              </div>


                                          </div>*@


                                <div class="col-md-3 lager-date-wr" style="">
                                    <div class="form-group" style="">
                                        <div class="input-daterange input-group">
                                            <div class="input-whitelabel leftwhitellabel">
                                                <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                            <div class="input-whitelabel rightwhitellabel">
                                                <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2 lager-date-search">
                                    <div class="form-group">
                                        <center>
                                            <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                <span style="top:-1px;color:black;">Search</span>
                                            </button>
                                        </center>
                                    </div>
                                </div>

                                <div class="whitelabel-pdf">
                                    <button><img src="~/ashok-images/pdf.png" />PDF</button>
                                    <button><img src="~/ashok-images/xls.png" />Export</button>
                                    <button>Total</button>
                                </div>

                           
                        </div>
                    }
                    @*<div class="col-md-3">
                            <div class="form-group" style="margin-top:-19px;">
                                <div style="padding-top: 22px; padding-left:26%;">
                                    <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                                    <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                                    <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"]</button>
                                </div>
                            </div>
                        </div>*@



                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 recharge-report-datawr recharge-report-datawr-status" style="margin-top:;">
                <div class="card">
                    
                    <div class="body body-whitelabelpadding" style="padding:7px;">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;margin-top:;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;font-size:12px;">
                                <thead style="color:white;position:initial;" class="">
                                    <tr>
                                        <th style="width:110px;">Status</th>
                                        @*<th>Req&nbsp;ID</th>*@
                                        <th>M-Poss&nbsp;Id</th>
                                        <th><span style="height:10px;width:10px;background:#555;"></span>Brand</th>
                                        <th>Card&nbsp;Holder&nbsp;Name</th>
                                        <th>Card&nbsp;Number</th>
                                        <th>Card&nbsp;type</th>
                                        @*<th>Bank&nbsp;Merchant&nbsp;ID</th>
                                        <th>Req&nbsp;Date</th>
                                        <th>Sale/Withdraw</th>
                                        <th>Bank&nbsp;RRN&nbsp;</th>*@
                                        <th>Payment&nbsp;Id</th>
                                        <th>User&nbsp;Fee</th>
                                        <th>Earn</th>
                                        <th>Pre&nbsp;₹</th>
                                        <th>Cr&nbsp;/&nbsp;Dr</th>
                                        <th>Post&nbsp;₹</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            #region preInit
                                            var color = "";
                                            var fontweight = "";
                                            var text = "";
                                            var emailid = "";
                                            var Retailername = "";
                                            var framname = "";
                                            var mobile = "";
                                            var icon = "";
                                            var rchtype = "";
                                            var rchtypeicon = "";
                                            var sts = "";
                                            var refundcolor = "";
                                            var rolename = "";


                                            rchtypeicon = "fa fa-android";


                                            if (item.status.Contains("22"))
                                            {
                                                color = "#ff9600";
                                                fontweight = "700";
                                                sts = "PENDING";

                                            }
                                            else if (item.status.Contains("00"))
                                            {
                                                color = "green";
                                                fontweight = "700";
                                                sts = "SUCCESS";

                                            }
                                            else
                                            {
                                                color = "#9C27B0";
                                                fontweight = "700";
                                                sts = "FAILED";


                                            }

                                            #endregion
                                            <tr style="font-weight:700;">
                                                <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p></td>
                                                @*<td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.reqid&nbsp;</p>
                                                </td>*@
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.cardholdername&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.cardnumber&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;text-transform:uppercase;">&nbsp;@item.cardtype&nbsp;</p>
                                                </td>

                                                @*<td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.bankmerchantID&nbsp;</p>
                                                </td>

                                                <td><p style="font-size:11px;margin-left:-7px; margin-top:-2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.date)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@String.Format("{0}{1:0.00#}", item.transType + " => ", item.amount)&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.BankRRN&nbsp;</p>
                                                </td>*@

                                                <td></td>
                                                <td>@String.Format("{0:0.00#}", item.RetailerPre)</td>
                                                <td></td>
                                                <td></td>
                                                <td>@String.Format("{0:0.00#}", item.remincome)</td>
                                                <td>@String.Format("{0:0.00#}", item.RetailerPost)</td>
                                                <td></td>

                                               
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<!--Manual SUCCESS -->


<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

<!--Generate Print-->
<script type="text/javascript">
            function GotoPDF(e) {
                // alert(e)
                var idno = e.toString(); ;
                var url = '@Url.Action("GeneratePDF", "Home")?Idno=' + idno + '';
                //window.location.href = url,;
                window.open(url, '_blank');
            }
</script>



@*<script>
    $(".input-whitelabel input").click(function () {
        $(".datepicker").addClass('whitedate-first-aeps-date');
    });


</script>*@

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/WRetailer/Home/RechargeReport') {
            $('.list-reports-wr li:nth-child(3) a').addClass('active');
        }
    });
</script>