
@{
    ViewBag.Title = "My_Credit";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .table-data-mycridit table, .table-data-mycridit table tr, .table-data-mycridit table tr td, .table-data-mycridit table tr th {
        border-color: #9f9595 !important;
    }

    @@media screen and (max-width:767px) {
        .all-page-container {
            margin-top: 60px !important;
        }
    }
</style>
<section style="margin:0;">
    <div class="all-page-container">

        <div class="col-md-12 mycridit-page-wr" style="padding:0;padding-top:15px;">
            <div class="col-md-6">
                <div class="custome-background-wr box-shadow-height my-credit-page">
                    <img src="~/ashok-images/value.svg" />
                    <h2 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Credit From Company</h2>
                    <div class="table-data-mycridit">
                        <table border="1">
                            <tr>
                                <th>Company&nbsp;Name</th>
                                <td>@ViewBag.company.FrmName</td>
                            </tr>
                            <tr>
                                <th>Company&nbsp;Mobile No</th>
                                <td>@ViewBag.company.Support_Mobile</td>
                            </tr>
                            <tr>
                                <th>Current&nbsp;Blance</th>
                                <td>@ViewBag.balance</td>
                            </tr>
                            <tr>
                                <th>Current&nbsp;Credit<sup>*</sup></th>
                                <td>@ViewBag.admin_cr</td>
                            </tr>

                        </table>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="custome-background-wr box-shadow-height my-credit-page">
                    <img src="~/ashok-images/value.svg" />
                    <h2 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">Credit From Distributor</h2>
                    <div class="table-data-mycridit">
                        <table border="1">
                            <tr>
                                <th>Company&nbsp;Name</th>
                                <td>@ViewBag.dealer.FarmName</td>
                            </tr>
                            <tr>
                                <th>Company&nbsp;Mobile No</th>
                                <td>@ViewBag.dealer.Mobile</td>
                            </tr>
                            <tr>
                                <th>Current&nbsp;Blance</th>
                                <td>@ViewBag.balance</td>
                            </tr>
                            <tr>
                                <th>Current&nbsp;Credit<sup>*</sup></th>
                                <td>@ViewBag.dealer_cr</td>
                            </tr>

                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
