
@{
    ViewBag.Title = "My_Earn";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    @@media screen and (max-width:766px){
        .wretailer-myearn{margin:0;}
        .all-page-container {margin-top: 65px !important;}
        .wretailer-myearn .col-md-12 {padding: 0px 5px;width: 100%;float: left;}
        .all-page-container {padding-right: 5px;}
        .wretailer-myearn .whitelabel-pdf {float: right;}
    }
    @@media screen and (max-width:480px){
        .wretailer-myearn .lager-date-wr .input-whitelabel.rightwhitellabel {width: 100%;}
        .wretailer-myearn .lager-date-wr input {text-align: center !important;}
    }
    @@media screen and (max-width:360px){
        .wretailer-myearn .whitelabel-pdf {display: none;}
        .wretailer-myearn .lager-date-search {width: 30% !important;float: left;margin-top: 12px;}
    }
</style>

    <section style="margin: 0; ">
        <div class="all-page-container">

            <div class="row clearfix wretailer-myearn">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        
                            <div class="">
                                <div class="col-md-6 daybook-wr-all wretailer-dashboardclass" style="padding-left:0;">
                                    <ul>
                                        <li class="smli">
                                            <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                                Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                            </a>
                                        </li>

                                        <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                            My&nbsp;Earn&nbsp;(Day Income)
                                        </li>
                                    </ul>
                                   
                                </div>


                                <div class="col-md-3 lager-date-wr">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="input-whitelabel leftwhitellabel">
                                               <div style="height:2px;"> </div>
                                            </div>
                                            <div class="input-whitelabel rightwhitellabel">
                                                <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                                <input type="date" class="form-control" style="border:1px solid #dddddd;margin-top:4px;line-height:normal;-webkit-appearance:none;" />
                                                
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2 lager-date-search">
                                    <center>
                                        <button type="submit" class="btn" style="margin-top:6px; margin-left: -61px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>

                                <div class="whitelabel-pdf">
                                    <button><img src="~/ashok-images/pdf.png" />PDF</button>
                                    <button><img src="~/ashok-images/xls.png" />Export</button>
                                </div>

                            </div>
                       
                    </div>
                </div>

                <div class="col-md-12 my-earn-table">
                    <table border="1" class="custome-background-wr">
                        <thead>
                            <tr>
                                <th>Sr.&nbsp;No</th>
                                <th>Type</th>
                                <th>Total&nbsp;Success</th>
                                <th>Total&nbsp;Pending</th>
                                <th>Total&nbsp;Failed</th>
                                <th>Income</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="6" style="text-align:center;">No Data Found</td></tr>
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </section>
