@model Vastwebmulti.Areas.ADMIN.Models.Operater_Commission
@{
    ViewBag.Title = "Operator_info";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<section class="" style=" padding: 100px 0 0 200px;">
    <div class="container-fluid">
        <div class="row clearfix" style="margin-top:-9px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @using (Html.BeginForm("Operator_info", "Home", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group" style="margin-top: 2px;margin-bottom:0px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li class="active" style="color:#a79f9f; font-size:15px;font-weight:700;">Show Operator Wise Commission Details</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;">
                                    @Html.DropDownList("ddlcomm", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Select One",Value="Select",},
                                new SelectListItem{Text="Prepaid & Dth",Value="Prepaid"},
                                new SelectListItem{Text="Utilities",Value="Utility"},
                                new SelectListItem{Text="Money",Value="Money"},
                                new SelectListItem{Text="Pancard",Value="Pancard"},
                                new SelectListItem{Text="AEPS",Value="AEPS"},
                                     new SelectListItem{Text="Broadband",Value="Broadband"},
                                    //new SelectListItem{Text="Loan",Value="Loan"},
                                   new SelectListItem{Text="Water",Value="Water"},
                                   new SelectListItem{Text="Insurance",Value="Insurance"},
            }, new { @class = "form-control", @style = "margin-top:10px; padding-left:0px; padding-right:0px;text-align:center;border:1px solid #dddddd;height:32px;" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="btntype" name="btntype" class="btn  waves-effect" style="margin-top:11px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-search" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Search</span>
                                </button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:12px;">
                <div class="card">
                    <div class="body" style="margin-top:-30px;">
                        <div id="Prepaid" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Prepaid)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Utility" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Electricity_comm)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                    @*<a href="#" style="text-decoration:none;"><i class="icofont icofont-toggle-on icofont-3x" style="color:green;font-size:46px;"></i></a>*@
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                    @*<a href="#" style="text-decoration:none;"><i class="icofont icofont-toggle-off icofont-3x" style="color:red;font-size:46px;"></i></a>*@
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Money" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Verify&nbsp;Comm</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;0&nbsp;-&nbsp;1000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;1001&nbsp;-&nbsp;2000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;2001&nbsp;-&nbsp;3000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;3001&nbsp;-&nbsp;4000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;4001&nbsp;-&nbsp;5000</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Money)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Verifycomm)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_1000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_2000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_3000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_4000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_5000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Pancard" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>

                                        <th style="padding-left:0px;text-align:center">Token&nbsp;Digital&nbsp;Value</th>
                                        <th style="padding-left:0px;text-align:center">Token&nbsp;Physical&nbsp;Value</th>
                                        <th style="padding-left:0px;text-align:center">Digital&nbsp;Commission</th>
                                        <th style="padding-left:0px;text-align:center">Physical&nbsp;Commission</th>
                                        <th style="padding-left:0px;text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Pencard_comm)
                                    {
                                        <tr>
                                            <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.TokenValueDigital)</td>
                                            <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.TokenValuePhysical)</td>
                                            <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.CommissionDigital)</td>
                                            <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.CommissionPhysical)</td>
                                            <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="AEPS" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">

                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>₹&nbsp;20</th>
                                        <th>₹&nbsp;50</th>
                                        <th>₹&nbsp;100</th>
                                        <th>₹&nbsp;200</th>
                                        <th>₹&nbsp;500</th>
                                        <th>₹&nbsp;1000</th>
                                        <th>₹&nbsp;2000</th>
                                        <th>₹&nbsp;2500</th>
                                        <th>₹&nbsp;3000</th>
                                        <th>₹&nbsp;3500</th>
                                        <th>₹&nbsp;5000</th>
                                        <th>₹&nbsp;10000</th>
                                        <th>IsGstApplicable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var item in Model.AEPS)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.RS20)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS50)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS100)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS200)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS1000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS2000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS2500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS3000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS3500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS5000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS10000)</td>
                                            <td>
                                                @if (item.IsGstApplicable == true)
                                                {
                                                    <center><p style="color:green;font-weight:600;">Yes</p></center>
                                                }
                                                else
                                                {
                                                    <center><p style="color:red;font-weight:600;">No</p></center>
                                                }
                                            </td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>

                        <div id="Broadband" class="table-responsive " style="position:inherit; display:none; margin-top:-17px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Broadband)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Water" class="table-responsive " style="position:inherit; display:none; margin-top:-17px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Water)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Insurance" class="table-responsive " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Insurance)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>

                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>

                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        var chh = '@ViewData["type"]';
        $('#' + chh + '').show();
    });
</script>
