@model Vastwebmulti.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<section class="content" style="margin:0px 0px 0px 0px; overflow-x:hidden;">
    <div class="row clearfix">
        <div class="all-page-container">
            <div class="col-md-4 profile-first-edit" style="padding-left:0;">
                <div class="profile-whitel">
                    <div class="card navbar card-dfdgdgd" style="position:initial;">
                        <div class="header " style="padding:10px;border-bottom:1px solid #ddd;">
                            <center>
                                <h2 style="color:white;"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span style="color:white; font-weight:700;">&nbsp;Retailer&nbsp;</span> Profile</h2>
                            </center>
                        </div>
                        <div class="body">

                            <center>
                                @if (ViewBag.show.photo != null && ViewBag.show.photo != "")
                                {
                                    <div class="image" style="margin-top:-11px;">

                                        <img src="@Url.Content("~/"+ ViewBag.show.photo )" class="img-circle" alt="User" width="100" height="100" />


                                    </div>

                                }
                                else
                                {
                                    <div class="image" style="margin-top:-11px;">
                                        <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">

                                    </div>
                                }

                                <div class="msg" style="padding-top:12px; font-size:22px; font-weight:600; color:white;">@ViewBag.show.RetailerName</div>

                                <div class="row">
                                    <div class="col-md-12 edit-profile" style="margin-top:16px;">
                                        <center>
                                            <a href='@Url.Action("Edit_Profile","Home",new { Retailerid = ViewBag.show.RetailerId })' class="btn btn-default waves-effect" style="text-decoration: none; box-shadow: none;">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:19px; top:3px;"></i>
                                                <span style="font-size:13px;top:0px;">&nbsp;Edit&nbsp;Profile</span>
                                            </a>

                                        </center>
                                    </div>
                                    @*<div class="col-md-12 edit-profile" style="padding-left:0;">
                                            <center>
                                                <a href="@Url.Action("RetailerKYC", "Outlet")" class="btn btn-default waves-effect">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:19px; top:3px;"></i>
                                                    <span style="font-size:13px;top:0px;">&nbsp;Instantpay&nbsp;Update&nbsp;KYC</span>
                                                </a>
                                            </center>
                                        </div>*@
                                </div>

                            </center>
                        </div>
                    </div>
                    <div class="card card-edit" style="">
                        <div class="header header-edit header-edit-second" style="padding:10px;border-bottom:1px solid white;">
                            <div class="button-demo demo-otp fullbodydycolorbg" style="">
                                <div class="col-xs-12 demo-otp-button">
                                    <button type="button" class="btn btn  waves-effect" style="background:transparent;box-shadow:none;font-size:18px;"><i class="fa fa-lock" aria-hidden="true" style="top:2px;"></i>&nbsp;&nbsp;OTP Security</button>
                                </div>
                                <div class="col-xs-12 demo-otp-onof">
                                    @if (Model.TwoFactorEnabled)
                                    {
                                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data", @style = "padding-left:38px;padding-top:2px;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" style="text-decoration:none; background:transparent;box-shadow:none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-on icofont-3x" style="color:green;font-size:63px;top:2px;"></i></button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data", @style = "padding-left:38px;padding-top:2px;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" style="text-decoration:none; background:transparent;box-shadow:none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-off icofont-3x" style="color:red;font-size:63px;top:2px;"></i></button>

                                        }
                                    }
                                </div>


                            </div>

                        </div>

                    </div>
                    <div class="card distributor-detail-profile" style="clear:both;">
                        <div class="header " style="padding:10px;">
                            <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My Distributor Details</h2>
                        </div>
                        <div class="body" style="padding-bottom:0px;">

                            <div class="body table-responsive" style="border:none;overflow:-webkit-paged-x;padding:0 !important;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="border-top:none;">Email-Id</th>
                                            <td style="border-top:none;">@ViewBag.email</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>@ViewBag.name</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Frim</th>
                                            <td>@ViewBag.framname</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Mobile&nbsp;No</th>
                                            <td>@ViewBag.dealermobile</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>@ViewBag.dealeraddress</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Bank&nbsp;Acc</th>
                                            <td>123456</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">IFSC&nbsp;Code</th>
                                            <td>123456</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Bank&nbsp;Name</th>
                                            <td>demo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-8 profile-information" style="padding-right:0;">
                <div class="back-information">
                    <div class="card">
                        <div class="header " style="padding:10px;padding-left: 20px;padding-right: 20px;">
                            <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;User Profile Information</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="body table-responsive information-data" style="margin-bottom:4px;">
                                    <table class="table table-bordered" style="">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-top:1px solid #eee">
                                                <th scope="row">Name</th>
                                                <td>@ViewBag.show.RetailerName</td>
                                                <th scope="row">Position</th>
                                                <td>@ViewBag.show.Position</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Frim Name</th>
                                                <td>@ViewBag.show.Frm_Name</td>
                                                <th scope="row" style="border-top:none;">Business Type</th>
                                                <td style="border-top:none;">@ViewBag.show.BusinessType</td>

                                            </tr>

                                            <tr>
                                                <th scope="row" style="border-top:none;">Reg.Email</th>
                                                <td style="border-top:none;">@ViewBag.show.Email</td>
                                                <th scope="row">Reg.Mobile No</th>
                                                <td>@ViewBag.show.Mobile</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Pancard No</th>
                                                <td>@ViewBag.show.PanCard</td>
                                                <th scope="row">Aadhaar No</th>
                                                <td>@ViewBag.show.AadharCard</td>

                                            </tr>

                                            <tr>
                                                <th scope="row">GST Number</th>
                                                <td>@ViewBag.show.gst</td>
                                                <th scope="row">Date of Birth</th>
                                                <td>@ViewBag.show.dateofbirth</td>
                                            </tr>

                                            <tr>

                                                <th scope="row">State</th>
                                                <td>@ViewBag.ddlstate</td>
                                                <th scope="row">Bank Account No</th>
                                                <td>@ViewBag.show.Bankaccountno</td>

                                            </tr>

                                            <tr>
                                                <th scope="row">District</th>
                                                <td>@ViewBag.district</td>
                                                <th scope="row">IFSC Code</th>
                                                <td>@ViewBag.show.Ifsccode</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">City</th>
                                                <td>@ViewBag.show.city</td>
                                                <th scope="row">Acc&nbsp;/&nbsp;Holder</th>
                                                <td>@ViewBag.show.accountholder</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Zipcode</th>
                                                <td>@ViewBag.show.Pincode</td>
                                                <th scope="row">Bank Name</th>
                                                <td>@ViewBag.show.bankname</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Address</th>
                                                <td>@ViewBag.show.Address</td>
                                                <th scope="row" style="border-top:none;">Referral Code</th>
                                                <td style="border-top:none;">@ViewBag.show.referralcode</td>

                                            </tr>

                                            <tr class="active-inactive">
                                                <th scope="row">Joining Date</th>
                                                <td>@ViewBag.show.JoinDate</td>
                                                <th scope="row">User Status</th>
                                                @if (ViewBag.show.Status == "Y")
                                                {
                                                    <td style="color:green;font-weight:700;"><span class="activeuserbu"><span>Active</span></span></td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;font-weight:700;"><span class="inactiveuserbu"><i class="fa fa-times" aria-hidden="true"></i>Inactive</span></td>
                                                }
                                            </tr>
                                            <tr class="active-inactive">
                                                <th scope="row">PSA Status</th>
                                                @if (ViewBag.show.PSAStatus == "Y")
                                                {
                                                    <td style="color:green;font-weight:700;"><span class="activeuserbu"><span>Active</span></span></td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;font-weight:700;"><span class="inactiveuserbu"><i class="fa fa-times" aria-hidden="true"></i>Inactive</span></td>
                                                }
                                                <th scope="row">DMT Status</th>
                                                @if (ViewBag.show.moneysts == "Y")
                                                {
                                                    <td style="color:green;font-weight:700;"><span class="activeuserbu"><span>Active</span></span></td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;font-weight:700;"><span class="inactiveuserbu"><i class="fa fa-times" aria-hidden="true"></i>Inactive</span></td>
                                                }
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-bottom: 4px;">
                        <div class="header" style="padding:10px;padding-left: 20px;padding-right: 20px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd">
                            <h2><i class="fa fa-file" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Upload Document</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12 upload-document-table">
                                <div class="body table-responsive" style="margin-bottom:4px;">
                                    <table class="table table-bordered" style="margin-top:-11px;">
                                        <thead>
                                            <tr>
                                                <th>Pancard</th>
                                                <th>Aadhaar ( front & back )</th>
                                                <th>Firm Registration</th>
                                                <th>Passport Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border-top:1px solid #eee">
                                                <td>
                                                    <img src="@Url.Content("~/"+ ViewBag.show.pancardPath)" class="img-responsive" style="height:56px;width:56px;" />
                                                </td>
                                                <td style="display:flex; justify-content: space-around">
                                                    <img src="@Url.Content("~/"+ ViewBag.show.aadharcardPath)" class="img-responsive" style="height:56px;width:56px;" />
                                                    <img src="@Url.Content("~/"+ ViewBag.show.BackSideAadharcardphoto)" class="img-responsive" style="height:56px;width:56px;" />
                                                </td>
                                                <td>
                                                    <img src="@Url.Content("~/"+ ViewBag.show.frimregistrationPath)" class="img-responsive" style="height:56px;width:56px;" />
                                                </td>
                                                <td><img src="@Url.Content("~/"+ ViewBag.show.photo)" class="img-responsive" style="height:56px;width:56px;" /></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>

<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html("");
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>

