@model Vastwebmulti.Areas.WRetailer.Models.ReferralcodeListRem
@{
    ViewBag.Title = "ReferralBenefit";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {box-shadow: none;}

    .ppp {margin-top: -20px !important;}

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {height: 29px;}
    @@media screen and (max-width:767px){
        .wretailer-referral {margin: 0;width: 100%;float: left;}
        .wretailer-referral .col-lg-12.col-md-12.col-sm-12.col-xs-12 {padding-right: 0;}
        .wretailer-referral .referral-div-first {width: 100%;float: left;padding-right: 0;}
        .wretailer-referral .referral-div-first .referral-page-wr {min-height: inherit;}
        .wretailer-referral .referral-table-data {padding-left: 0;}
        .wretailer-referral .referral-table-data .table-data-referral-page {min-height: inherit;padding-bottom: 15px;width: 100%;float: left;}
        .wretailer-referral .referral-table-data .table-data-referral-page .table-responsive .no-footer {padding-bottom: 15px;}

    }
</style>
<section class="content" style="margin: 0; ">
    <div class="all-page-container">
        <div class="row clearfix" style="display: none;">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <div class="col-md-7">
                            <div style="margin-left:-13px;">
                                @Html.Partial("Fundrecivepartial")
                            </div>
                        </div>
                        @using (Html.BeginForm("ReferralBenefit", "Home", FormMethod.Post))
                        {
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-daterange input-group">
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange"></i>
                                        </span>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:-25px; height:34px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix wretailer-referral">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                <div class="card">

                    <div class="col-md-4 referral-div-first" style="padding-left:0;">
                        <div class="custome-background-wr box-shadow-height referral-page-wr">

                            <h2 class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">My Referral Code</h2>
                            <div class="background-referralimg">
                                <div class="referral-code-wr">
                                    <h3>5066977809</h3>
                                    <p>Referral Kro aur Kamao</p>
                                </div>
                            </div>
                            <div class="referral-second">
                                <p class="referral-benifits-wr">Referral Benefit</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 referral-table-data">
                        <div class="custome-background-wr table-data-referral-page">
                        <div class="body body-whitelabelpadding white-referral-body" style="padding:7px;">
                            <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;margin-top:;">
                                <table id="example" class="table table-bordered " style="width:100%;">
                                    <thead class="" style="color:white;position:inherit;">
                                        <tr>
                                            <th>Amount</th>
                                            <th>Retailer&nbsp;Pre</th>
                                            <th>Retailer&nbsp;Post</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Referalcode_benifitHistoryrem)
                                        {
                                            <tr>
                                                <td>@item.Refamount</td>
                                                <td>@item.retailerremainpre</td>
                                                <td>@item.retailerremainpost</td>
                                                <td>@item.refdate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

