@model IEnumerable<Vastwebmulti.Models.whitelabel_Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "Dealer_Ledger_Report";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
    margin-top: 0px !important;
}

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }


    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .table-responsive-whitelabel table tr td, .table-responsive-whitelabel table tr th {
    white-space: nowrap;
}

    @@media screen and (max-width:766px){
        .table-responsive-whitelabel {
            border: 0 !important;
        }

        .all-page-container {
            margin-top: 65px !important;
        }
        .card.wretailer-ledger {
    width: 100%;
    float: left;
    margin-bottom: 0;
}
        .card.wretailer-ledger .lager-date-wr, .card.wretailer-ledger .lager-date-search{
    margin-top: 0;
}
        .card.wretailer-ledger .whitelabel-pdf {
    margin-top: 3px;
}
    }
    @@media screen and (max-width:480px){
        .card.wretailer-ledger .lager-date-wr {
    width: 100% !important;
    float: left;
    margin-bottom: 5px;
}
        .card.wretailer-ledger .lager-date-search {
    margin-bottom: 15px;
}
        .card.wretailer-ledger .lager-date-wr .fa.fa-calendar.tmw-total-color-one {
    display: none;
}
        .card.wretailer-ledger .lager-date-wr input {
    text-align: center !important;
}
        .card.wretailer-ledger .lager-date-search {
    width: 35% !important;
}
        .card.wretailer-ledger .whitelabel-pdf {
    width: 61% !important;
    display: block !important;
}
    }
</style>
<section class="content" style="margin:0px 0px 0px 0px; ">
    <div class="all-page-container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card wretailer-ledger">
                    @using (Html.BeginForm("RetailerLedger", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="col-md-6 daybook-wr-all wretailer-dashboardclass" style="padding-left: 0; ">
                            <ul>
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                        Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                    Retailer&nbsp;Ledger&nbsp;Report
                                </li>
                            </ul>
                        </div>
                       


                        <div class="col-md-3 lager-date-wr">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-2 lager-date-search">
                            <center>
                                <button type="submit" class="btn" style="margin-top:6px; margin-left: -61px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>

                        <div class="whitelabel-pdf">
                            <button><img src="~/ashok-images/pdf.png" />PDF</button>
                            <button><img src="~/ashok-images/xls.png" />Export</button>
                        </div>

                    </div>
                    }
                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body body-whitelabelpadding" style="">
                        <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position: inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead style="color:white;position:initial;" class="">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Request&nbsp;Id</th>
                                        <th>Email</th>
                                        <th>Particular</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th>Balance</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="mytable">
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestId)</td>
                                            <td><p style="font-size:12px;">@item.Email</p></td>
                                            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.credit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debit)</td>
                                            <td>@item.Balance</td>
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

                       $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }

        });
</script>

@*<script>
    $(".input-whitelabel input").click(function () {
        $(".datepicker").addClass('whitedate-first');
    });


</script>*@