
@{
    ViewBag.Title = "Retailer_Daybook_Reports";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .custome-background-wr tr th, .custome-background-wr tr td {
    white-space: nowrap;
}
    @@media screen and (max-width:766px) {
        .row.clearfix.day-book-report {
    margin: 0;
}
        .my-earn-table {
    padding-left: 0;
}
        .card.wretailer-daybook {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
        .wretailerdaybookfirst {
    padding-left: 0;
}
        .wretailerdaybookfirst .lager-date-wr {
    padding-left: 0;
    margin-top: 0;
}
        .card.wretailer-daybook .lager-date-search {
    margin-top: 0;
}
        .all-page-container {
    margin-top: 60px !important;
}
    }
    @@media screen and (max-width:480px){
        .card.wretailer-daybook .lager-date-wr .fa.fa-calendar.tmw-total-color-one {
    display: none;
}
        .card.wretailer-daybook .lager-date-wr input {
    text-align: center !important;
}
        .card.wretailer-daybook .lager-date-search {
    width: 30% !important;
}
    }

</style>
    <section style="margin: 0; ">
        <div class="all-page-container wretailer-retailerdaybook">

            <div class="row clearfix day-book-report">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wretailerdaybookfirst">
                    <div class="card wretailer-daybook">

                        <div class="">
                            <div class="col-md-6 daybook-wr daybook-wr-all wretailer-dashboardclass" style="padding-left:0;width:65%;">
                                
                                <ul>
                                    <li class="smli">
                                        <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                            Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                        Retailer&nbsp;Day&nbsp;Book&nbsp;Report
                                    </li>
                                </ul>
                            </div>


                            <div class="col-md-3 lager-date-wr">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-daterange input-group">
                                        <div class="input-whitelabel leftwhitellabel">
                                            <div style="height:2px;"> </div>
                                        </div>
                                        <div class="input-whitelabel rightwhitellabel">
                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                            <input type="date" class="form-control" style="border:1px solid #dddddd;margin-top:4px;line-height:normal;-webkit-appearance:none;" />

                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2 lager-date-search">
                                <center>
                                    <button type="submit" class="btn" style="margin-top:6px; margin-left: -61px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>

                           

                        </div>

                    </div>
                </div>

                <div class="col-md-12 my-earn-table">
                    <table border="1" class="custome-background-wr">
                        <thead>
                            <tr>
                                <th>Firm Name</th>
                                <th>Recharge & Bill</th>
                                <th>IMPS</th>
                                <th>AEPS</th>
                                <th>M-POS</th>
                                <th>Pancard</th>
                                <th>Travel</th>
                                <th>Purchase</th>
                                <th>Opening&nbsp;Bal</th>
                                <th>Closing&nbsp;Bal</th>
                                <th>Old&nbsp;Day&nbsp;Refund</th>
                                <th>Old&nbsp;Day&nbsp;Failed</th>
                                <th>Diff</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td colspan="13" style="text-align:center;">No Data Found</td></tr>
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </section>