@model IEnumerable<Vastwebmulti.Models.show_rem_to_rem_bal_Result>
@{
    ViewBag.Title = "Retailer_to_retailer";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<section class="content" style="margin:90px 0px 0px 0px;">
    <div class="container-fluid">
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    @using (Html.BeginForm("rem_rem_fund_transfer", "Home", FormMethod.Post))
{
                        <div class="">
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top:6px;margin-bottom:0px;">
                                    <p style="font-size:20px;padding-left:10px;">Fund To Other Retailer &nbsp;🡇</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="" style="margin-top:4px;border:1px solid #dddddd;">
                                        <input class="form-control" id="RetailerId" name="RetailerId" placeholder="Enter Retailer ID" required="required" style="padding-top:4px;" type="text">

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="" style="margin-top:4px;border:1px solid #dddddd;">
                                        <input class="form-control" id="txtbal" name="txtbal" onkeypress="return isNumber(event)" placeholder="Enter Value" required="required" style="padding-top:4px;" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="" style="margin-top:4px;border:1px solid #dddddd;">
                                        <textarea id="comment" name="comment" class="form-control" style="height:35px;" placeholder="Enter Comment" required=""></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <input id="submit" type="submit" value="Fund Transfer" class="btn bg-blue-grey waves-effect" style="margin-top:4px; margin-left:11px; height:38px;">
                                </div>
                            </div>

                        </div>
}
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-22px;">
                <div class="card" style="margin-top:2px;">
                    @using (Html.BeginForm("Retailer_to_retailer", "Home", FormMethod.Post))
                {
                        <div class="">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <a href="~/RETAILER/Home/Dashboard" class="btn bg-blue-grey  waves-effect" style="margin-top:3px; margin-left:-5px;">
                                        <i class="material-icons" style="top:3px;">arrow_back</i>
                                        <span style="top:-4px;">Back To Dashborad</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-line" style="margin-top:5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("RetailerID", ViewBag.retailerid as SelectList, "Select Retailer", new { @class = "selectpicker form-control", data_live_search = "true", required = "required" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">

                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px;padding-left:15px;margin-top:-3px;">From</p>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px; padding-left:17px;margin-top:-3px;">To</p>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn bg-blue-grey  waves-effect" style="margin-top:4px;">
                                        <i class="material-icons" style="top:3px;">search</i>
                                        <span style="top:-4px;">Search</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                }
                </div>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="" style="margin-top:-20px;">
                        <div class="body table-responsive " style="position:inherit;padding:12px;">
                            <table class="table table-bordered table-striped   ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Retailer&nbsp;ID</th>
                                        <th>₹&nbsp;Value</th>
                                        <th>Retailer&nbsp;Old&nbsp;Bal</th>
                                        <th>Retailer&nbsp;New&nbsp;Bal</th>
                                        <th>Your&nbsp;Old&nbsp;Bal</th>
                                        <th>Your&nbsp;New&nbsp;Bal</th>
                                        <th>Comment</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                    {
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.rem_to)</td>
                                            <td> @Html.DisplayFor(modelItem => item.value)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rem_to_old_bal)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rem_to_new)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rem_from_old_bal)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rem_from_new)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comment)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tran_date)</td>
                                        </tr>
                                    </tbody>
                    }

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div> 

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/PageScript/Retailer/FundRecive.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function () {
        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        fundreciveonload(from, to);

    });
</script>




