@model IEnumerable<Vastwebmulti.Models.getstudentdetails_Result>
@{
ViewBag.Title = "SchoolFees";
Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .trb{
border-top:1px dotted #ccc;
border-bottom:1px dotted #ccc;
    }
    .thw{
  width:35%;
  background-color:#F5F5F5;
    }
    .tdw{
width:75px;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; ">
<div class="row clearfix">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card navbar" style="position:initial; margin-top:-4px;">

<div class="body">

<div class="row">
<div class="col-md-1">

</div>
<div class="col-md-10" style="margin-bottom:0px;">
<center>
<ul id="leftulbar" class="nav nav-tabs tab-col-orange" role="tablist" style="background:#607D8B;border-bottom:none;
-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:4px; border-radius:2px;">

<li id="finanical" role="presentation" class="" style="padding-left:55px;">
<a href="@Url.Action("Money_transfer1","Home")" aria-expanded="true">
<img src="~/images/transfer-money.png" style="height:45px;margin-top:-5px" />
<br />
<span style="padding-left:5px;">Money&nbsp;Transfer</span>
</a>
</li>

@if (ViewBag.pancardsts == "Y")
{
<li id="finanical1" role="presentation" class="" style="padding-left:52px;">
<a href="@Url.Action("PAN_CARD","Home")" aria-expanded="true">
<img src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" />
<br />Pancard
</a>
</li>
}
else
{
<li id="finanical1" role="presentation" style="padding-left:52px;">
<a href="@Url.Action("Index","PANCARD")" aria-expanded="true"><img src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" /><br />Pancard</a>
</li>
}
<li id="aeps" role="presentation" class="" style="padding-left:70px;padding-bottom:2px;margin-top:-7px;">
<a href="@Url.Action("AEPS","Home")" aria-expanded="true">
<img src="~/images/aespicon.png" style="height:45px;margin-top:-5px;" />
<br /><span style="margin-left:14px;">AEPS</span>
</a>
</li>
<li id="mpos" role="presentation" class="" style="padding-left:94px;">
<a href="@Url.Action("MPOS","Home")" aria-expanded="true">
<img src="~/images/mposicon.png" style="height:45px;margin-top:-5px;" />
<br />
<span style="margin-left:-8px;">M-POS</span>
</a>
</li>
<li id="Fees" role="presentation" class="active" style="padding-left:62px;box-shadow:none;margin-top:-7px;">
<a href="#" data-toggle="tab" aria-expanded="false">
<img src="~/images/school.png" style="height:45px; margin-top:-8px;" />
<br />
<span style="padding-left:0px;">School&nbsp;Fee</span>
</a>
</li>
<li id="Indonepal" role="presentation" class="" style="padding-left:69px;">
<a href="#indonepal" data-toggle="tab" aria-expanded="false">
<img src="~/images/phone.png" style="height:45px; margin-top:-5px;" />
<br />
<span style="padding-left:5px;">INDO&nbsp;NEPAL</span>
</a>
</li>
</ul>
</center>
</div>
<div class="col-md-1">
</div>
</div>
</div>
</div>
</div>
</div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="padding:10px; padding-left:21px;">
                    <h2>
                        <div class="row">
                            <div class="col-md-1">
                                <p style="font-size:21px;"></p>Pay&nbsp;School&nbsp;Fees
                            </div>
                            <div class="col-md-4">
                                <div style="float:right; border:1px solid #00000014;">
                                    <button type="button" class="btn btn-default waves-effect" style="box-shadow:none;">
                                        <i class="material-icons" style="top:2px;">search</i>
                                        <span style="top:-4px;">By</span>
                                    </button>
                                    <input name="group5" type="radio" id="radio_30" class="with-gap radio-col-blue-grey" checked="" value="RollNo" onclick="getradioval()">
                                    <label for="radio_30" style="font-size:14px;">Roll&nbsp;No</label>
                                    <input name="group5" type="radio" id="radio_31" class="with-gap radio-col-blue-grey" value="StudentName" onclick="getradioval()">
                                    <label for="radio_31" style="font-size:14px;">Student</label>
                                    <input name="group5" type="radio" id="radio_32" class="with-gap radio-col-blue-grey" value="FatherName" onclick="getradioval()">
                                    <label for="radio_32" style="font-size:14px; padding-right:13px;">Father</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group" id="rollnodiv" style="display:block;">
                                            <div class="input-group" style="height:39px;">
                                                <div class="input-group-addon" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;">
                                                    <label id="name" style="margin-bottom:0px;">&nbsp;&nbsp;Roll&nbsp;Number&nbsp;</label>
                                                </div>
                                                <input type="text" id="rollno" name="rollno" class="form-control" placeholder="Enter your Roll Number" autocomplete="off" onkeypress="return isNumber(event)" style="font-weight:700;border:1px solid #dddddd;padding-left:9px; height:39px;">
                                            </div>
                                            <p id="rollno_validation" style="color:red; font-size:13px; margin-top:-18px; float:right;margin-right:38px;"></p>
                                        </div>
                                        <div class="form-group" id="studentdiv" style="display:none;">
                                            <div class="input-group" style="height:39px;">
                                                <div class="input-group-addon" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;">
                                                    <label id="name" style="margin-bottom:0px;">&nbsp;&nbsp;Your&nbsp;Name&nbsp;</label>
                                                </div>
                                                <input type="text" id="studentname" name="studentname" class="form-control" placeholder="Enter your Name" autocomplete="off" style="font-weight:700;border:1px solid #dddddd;padding-left:9px; height:39px;">
                                            </div>
                                            <p id="name_validation" style="color:red; font-size:13px; margin-top:-18px; float:right;margin-right:38px;"></p>
                                        </div>
                                        <div class="form-group" id="fatherdiv" style="display:none;">
                                            <div class="input-group" style="height:39px;">
                                                <div class="input-group-addon" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;">
                                                    <label id="name" style="margin-bottom:0px;">&nbsp;&nbsp;Father&nbsp;Name&nbsp;</label>
                                                </div>
                                                <input type="text" id="fname" name="fname" class="form-control" placeholder="Enter your Father Name" autocomplete="off" style="font-weight:700;border:1px solid #dddddd;padding-left:9px; height:39px;">
                                            </div>
                                            <p id="fathername_validation" style="color:red; font-size:13px; margin-top:-18px; float:right;margin-right:38px;"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group" style="height:39px;border:1px solid #dddddd;border-top-left-radius:4px;border-bottom-left-radius:4px;">
                                            <div class="input-group-addon" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;">
                                                <label style="margin-bottom:0px;">&nbsp;&nbsp;&nbsp;&nbsp;Select&nbsp;School&nbsp;</label>
                                            </div>
                                            @Html.DropDownList("schoolname", (IEnumerable<SelectListItem>)ViewBag.schoolname, "Select School", new { @class = "selectpicker form-control", data_live_search = "true", required = "required", @style = "font-weight:700;padding-left:9px; height:39px;" })
                                        </div>
                                        <p id="school_validation" style="color:red; font-size:13px; margin-top:-18px; float:right;margin-right:38px;"></p>
                                    </div>


                                    <div class="col-md-1">
                                        <button type="button" class="btn bg-blue-grey waves-effect" style="height:39px;margin-left:-27px;" onclick="getstudentdetails()">
                                            <i class="material-icons">search</i>
                                            @*<span style="top:-2px;">Search</span>*@
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </h2>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="margin-top:-20px;">
                <div class="body">
                    <div class="row clearfix">
                        <center><p style="font-size:22px;">Student Details</p></center>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="" style="margin-top:-12px;">
                                    <div class="" id="showdeatils">
             @Html.Partial("_showstudentdetails", Model)
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--form design-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                 Student 
                    </h2>
                    
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Roll Number</th>
                                        <td class="tdw"><span id="RollNumber" ></span></td>
                                   
                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Student Name</th>
                                        <td class="tdw"><span id="studentname1" ></span></td>
                                 
                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Father Name</th>
                                        <td class="tdw"><span id="fathername"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Class Name</th>
                                        <td class="tdw"><span id="classname"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Section</th>
                                        <td class="tdw"><span id="section"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Session</th>
                                        <td class="tdw"><span id="Session"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Address</th>
                                        <td class="tdw"><span id="Address"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Number Of Installments</th>
                                        <td class="tdw"><span id="NumberOfInstallments"></span></td>

                                    </tr>
                                 
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr class="trb">
                                        <th scope="row" class="thw">Paid Installments</th>
                                        <td class="tdw"><span id="PaidInstallment"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Actual Fees</th>
                                        <td class="tdw"><span id="ActualFee"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Actual Bus Fees</th>
                                        <td class="tdw"><span id="ActualBusFee"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Discounte Fees</th>
                                        <td class="tdw"><span id="DiscountedFee"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Discounte Bus Fee</th>
                                        <td class="tdw"><span id="DiscountedBusFee"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Amount</th>
                                        <td class="tdw"><span id="Amount"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" class="thw">Bus Amount</th>
                                        <td class="tdw"><span id="AmountBus"></span></td>

                                    </tr>
                                    <tr  class="trb">
                                        <th scope="row" ></th>
                                        <td ></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--change textbox using radio button value -->
<script>
    function getradioval()
    {
        var radioval = document.querySelector('input[name="group5"]:checked').value;
           
  if (radioval == "RollNo")
  {
      document.getElementById("rollnodiv").style.display = "block";
      document.getElementById("studentdiv").style.display = "none";
      document.getElementById("fatherdiv").style.display = "none";
      document.getElementById("rollno").value = "";
      document.getElementById("studentname").value = "";
      document.getElementById("fname").value = "";

  }
  if (radioval == "StudentName") {
      document.getElementById("rollnodiv").style.display = "none";
      document.getElementById("studentdiv").style.display = "block";
      document.getElementById("fatherdiv").style.display = "none";
      document.getElementById("rollno").value = "";
      document.getElementById("studentname").value = "";
      document.getElementById("fname").value = "";
  }
  if (radioval == "FatherName") {
  
      document.getElementById("rollnodiv").style.display = "none";
      document.getElementById("studentdiv").style.display = "none";
      document.getElementById("fatherdiv").style.display = "block";
      document.getElementById("rollno").value = "";
      document.getElementById("studentname").value = "";
      document.getElementById("fname").value = "";
  }
       
      
    }
</script>

<!--search  student details click search button-->
<script>
    function getstudentdetails()
    {
        var rollno = "";
        var stname = "";
        var fname = "";
        var schoolid = "";
        var radioval = document.querySelector('input[name="group5"]:checked').value;
        rollno = $("#rollno").val();
        stname = $("#studentname").val();
        fname = $("#fname").val();
        
         var e = document.getElementById("schoolname");
         schoolid = e.options[e.selectedIndex].value;

         if(rollno=="")
         {
             document.getElementById("rollno_validation").innerHTML="Please enter Roll no";
         }
         if (rollno !="") {
             rollno = rollno;
         }
         if (stname == "") {
             document.getElementById("name_validation").innerHTML = "Please enter name";
         }
         if (stname != "") {
             rollno = stname;
         }
         if (fname == "") {
             document.getElementById("fathername_validation").innerHTML = "Please enter Father name";
         }
         if (fname != "") {
             rollno = fname;
         }
         if(schoolid=="")
         {
             document.getElementById("school_validation").innerHTML = "Please select school name";
         }
         else
         {
            $.ajax({
            url: '@Url.Action("searchstudetdetails", "Home")',
            type: 'GET',
            dataType: "html",
            data: { rollno: rollno, schoolid: schoolid, radioval: radioval },
            success: function (data) {
                $('#showdeatils').html(data);
            },
            error: function (data) {

            }
        });
        return true;

         }
    }
</script>

<script>
    $("#rollno").on('keypress blur keyup', function (e) {
        var k = e.keyCode || e.which;
        var id = $(this)[0].id;
        var str = $(this)[0].value;
        var length = str.length;
        if (length == 1 && e.type == "keyup") {
            e.preventDefault();
            if (id == 'rollno') {
                document.getElementById("rollno_validation").innerHTML = "";
                return true;
            }
           
        }
    });
</script>

<!--search studentlist rollnumber wise-->
<script>
    function fillstudentform(rollno, schoolid) {
        $.ajax({
            type: 'Post',
            url: '@Url.Action("Getstudentdetails", "Home")',
            data: { rollno: rollno, schoolname: schoolid },
            dataType: 'json',
            cache: false,
            success: function (response) {
                var myObj = JSON.parse(response);
  
              var sts = "";
                var stsMessage = "";
                try {
                   
                    sts = myObj.Status;
                    stsMessage = myObj.Message;
                }
                catch (e)
                { }
                if (sts == "Success") {
                    $('#RollNumber').html(stsMessage.Rollno);
                    $('#studentname1').html(stsMessage.Name);
                    $('#fathername').html(stsMessage.FName);
                    $('#classname').html(stsMessage.stdClass);
                    $('#section').html(stsMessage.Section);
                    $('#Session').html(stsMessage.Session);
                    $('#Address').html(stsMessage.Address);
                    $('#NumberOfInstallments').html(stsMessage.NumberOfInstallments);
                    $('#PaidInstallment').html(stsMessage.PaidInstallment);
                    $('#ActualFee').html(stsMessage.ActualFee);
                    $('#ActualBusFee').html(stsMessage.ActualBusFee);
                    $('#DiscountedFee').html(stsMessage.DiscountedFee);
                    $('#DiscountedBusFee').html(stsMessage.DiscountedBusFee);
                    $('#Amount').html(stsMessage.Amount);
                    $('#AmountBus').html(stsMessage.AmountBus);
                }
                if (sts == "Failed") {
                    sweetAlert("Failed!", stsMessage, "error");
                }
     
                else {
                 
                }
            }
        });

    }
</script>



<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>




