
@{
    ViewBag.Title = "Send_Purchase_Order";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
</style>



<section class="content" >
    <div class="container-fluid">

        <div class="col-md-12">

            <div class="row clearfix" style="margin-top: 72px;">
                <div class="col-md-4">
                    <div class="fund-trasfer-left fund-user-left" style="background: black;">
                        <ul class="nav nav-tabs fullbodydycolorbg tabchangeclass" id="tabs">
                            <li class="tab-link current active tabChangeType" data-tabname="ReatilerToRetailer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="ReatilerToRetailer"})" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true">Fund Transfer<sup style="top: -5px;left: 2px;">2</sup>&nbsp;&nbsp;Reatiler</a></li>
                            <li class="tab-link tabChangeType" data-tabname="Purchase_ORDER" data-href="@Url.Action("MDTODealer","Home",new { tabtype="Purchase_ORDER"})" data-tab="tab-1"><a data-toggle="tab" href="#menu1" aria-expanded="false">Purchase &nbsp;&nbsp; &nbsp;Order</a></li>
                            <li class="tab-link tabChangeType" data-tabname="fundrecivewhitelabel" data-href="@Url.Action("MDTODealer","Home",new { tabtype="fundrecivewhitelabel"})" data-tab="tab-1"><a href="#home11" data-toggle="tab">FundRecive &nbsp;&nbsp;From&nbsp;Whitelabel</a></li>
                            <li class="tab-link tabChangeType" data-tabname="fundrecivedealer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="fundrecivedealer"})" data-tab="tab-1"><a href="#home11" data-toggle="tab">FundRecive&nbsp;&nbsp;From &nbsp;Dealer</a></li>
                            <li class="tab-link tabChangeType" data-tabname="creditReportwhitelabel" data-href="@Url.Action("MDTODealer","Home",new { tabtype="creditReportwhitelabel"})" data-tab="tab-1"><a href="#home11" data-toggle="tab">show &nbsp;&nbsp;credit_Report&nbsp;Whitelabel</a></li>
                            <li class="tab-link tabChangeType" data-tabname="creditReportdealer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="creditReportdealer"})" data-tab="tab-1"><a href="#home11" data-toggle="tab">show&nbsp;credit_Report&nbsp;&nbsp;Dealer</a></li>

                        </ul>

                        <div class="width100 float-left ">

                            <div id="home" class="width100 float-left tab-pane fade active in">

                                <div class="fund-transfer-form" id="frmdata">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>
                                            Enter Retailer Mobile No/EmailID

                                        </label>
                                        <div>
                                            <div class="">
                                                <input class="form-control" id="RetailerId" name="RetailerId" placeholder="Enter Email ID / Mobile No" minlength="6" required="required" style="padding-top:4px;height:30px;" type="text">

                                            </div>

                                            <div class="col-md-12 RetailerInfoShow-data">
                                                <div class="row" id="retailerinform" style="display:none;">
                                                    <div class="nameshow">
                                                        <table border="1">
                                                            <tr>
                                                                <td><label>Firm Name :</label></td>
                                                                <td><label id="lblfrmname"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Retailer Name:&nbsp;</label></td>
                                                                <td> <label id="lblreatilername"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Email:&nbsp;</label></td>
                                                                <td><label id="lblemail"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Mobile:&nbsp;</label> </td>
                                                                <td><label id="lblmobile"></label></td>
                                                            </tr>
                                                        </table>

                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                    @using (Ajax.BeginForm("WlRetailerToWlRetailerFundTransfer", "Home",
                                      new AjaxOptions
                                      {
                                          InsertionMode = InsertionMode.Replace,
                                          OnSuccess = "OnSuccess",
                                          OnFailure = "OnFailure",
                                          UpdateTargetId = "tblshowMasterD",
                                                                  // LoadingElementId = "progress"
                                                              }))
                                    {

                                        <div class="noneandshow">

                                            <div class="col-md-12 col-sm-12 col-xs-12 amount ">
                                                <label>Enter Amount </label>
                                                <div>
                                                    <input type="hidden" id="HDRetailerId" value="" required name="HDRetailerId" />
                                                    <input type="text" id="mddistamount" name="mddistamount" placeholder="Enter Amount" />
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 fund-comment">
                                                <label>Comments</label>
                                                <div>
                                                    <textarea id="txtmddidtcomment" name="txtmddidtcomment"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div>
                                                    <div class="new-nextbutton">
                                                        <button type="submit" id="shownoneclass" disabled="disabled" class="fullbodydycolorbg" style="float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                                            Transfer
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <label id="errorss"></label>

                                        </div>
                                    }
                                </div>


                            </div>
                            <div id="menu1" class="width100 float-left tab-pane fade ">

                                <div class="fund-transfer-form" id="frmdata1">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div>

                                            <div class="old-crd"><span>My Old Cr</span> = 100</div>
                                        </div>
                                    </div>
                                    <div class="w-100 float-left tab-menur">
                                        <ul class="w-100 float-left">
                                            <li><a href="#" data-oldcr="@Url.Action("R_Creditchk","Home",new {MID="Distributor" })" data-usertype="Distributor" class="chkoldcredit tab-ar  active-ar" data-id="tab1" style="color: black !important;">Fund Request &#8658; Distributor</a></li>
                                            <li><a href="#" data-oldcr="@Url.Action("R_Creditchk","Home",new {MID="Whitelabel" })" class="chkoldcredit tab-ar" data-usertype="Whitelabel" data-id="tab2" style="color: black !important;">Fund Request &#8658; Whitelabel</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            <label id="orderAPPLY"></label>

                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>
                                            Payment Mode
                                        </label>
                                        <div>

                                            <div class="custom-district">
                                                <select id="ddldealerPaymentMode" name="ddldealerPaymentMode" onchange="changemoded(this)">
                                                    <option value="Cash">Cash</option>
                                                    <option value="Branch / CMS Deposite">Branch / CMS Deposite</option>
                                                    <option value="Online Transfer">Online Transfer</option>
                                                    <option value="Wellets Transfer">Wellets Transfer</option>

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dcollection-by ">
                                        <label>Collection By </label>
                                        <div>
                                            <input type="text" id="txtdlmretcollection" name="txtdlmretcollection" placeholder="Enter Collection Person" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dtransfer-type" style="display:none;">
                                        <label>Transfer Type </label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="ddlAdmintransfertype" name="ddlAdmintransfertype">
                                                    <option>Neft</option>
                                                    <option>RTGS</option>
                                                    <option>IMPS</option>
                                                    <option>Same Bank</option>
                                                    <option>UPI</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dbank-select" style="display:none;">
                                        <label>Select Bank </label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="dealerbank" name="dealerbank">
                                                    <option>select</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 daccount-no" style="display:none;">
                                        <label>Account No.</label>
                                        <div>
                                            <input type="text" readonly id="txtdealeraccountno" name="txtdealeraccountno" placeholder="Enter Account No." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dutr-no" style="display:none;">
                                        <label>UTR No.</label>
                                        <div>
                                            <input type="text" id="txtdelmretutr" name="txtdelmretutr" placeholder="Enter UTR No." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dwallet-select" style="display:none;">
                                        <label>Select Wallet</label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="dealerwallets" name="dealerwallets">
                                                    <option>select</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dwallet-no" style="display:none;">
                                        <label>Wallet No.</label>
                                        <div>
                                            <input type="text" readonly id="txtdealerwalletno" name="txtdealerwalletno" placeholder="Enter Wallet No." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dtranstion-no" style="display:none;">
                                        <label>Transtion No.</label>
                                        <div>
                                            <input type="text" id="txtdlmrettranctionno" name="txtdlmrettranctionno" placeholder="Enter Transtion No." />
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 dsubject-reason" style="display:none;">
                                        <label>Subject (Reason)</label>
                                        <div>
                                            <input type="text" id="txtdlmretreason" name="txtdlmretreason" placeholder="Enter Credit Detail" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 damount ">
                                        <label>Enter Amount </label>
                                        <div>
                                            <input type="text" id="txtdlmretamount" name="txtdlmretamount" placeholder="Enter Amount" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 ddeposite-slip-no" style="display:none;">
                                        <label>Deposite Slip No. </label>
                                        <div>
                                            <input type="text" id="txtdeposno" name="txtdeposno" placeholder="Enter Deposite No." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 dfund-comment">
                                        <label>Comments</label>
                                        <div>
                                            <textarea id="dlmretcomment" name="dlmretcomment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            <label id="errorsssnd"></label>
                                            <button id="btndistributorInform" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                                Submit
                                            </button>
                                        </div>
                                    </div>


                                </div>

                                <div id="DIstribotorshowinformation" style="display:none" class="fund-transfer-form show-after-submit">


                                    @using (Ajax.BeginForm("Place_purchase_order", "Home",
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        OnSuccess = "OnSuccess11",
                                        OnFailure = "OnFailure",
                                        UpdateTargetId = "tblshowMasterD",
                                                                // LoadingElementId = "progress"
                                                            }))
                                    {

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div>
                                                <input type="hidden" id="Payto" name="Payto" value="Distributor" />

                                                <div id="hdddninputvalues">

                                                </div>
                                                <button id="btnsendpurorder" class="fullbodydycolorbg" type="submit" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-left:10px;">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>

                            <div id="home11" class="width100 float-left tab-pane fade in">
                                <div class="fund-transfer-form" id="frmdata11">


                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="fund-trasfer-right fund-user-right">
                        <ul class="nav nav-tabs" id="tabs">
                            <li class="tab-link current active" data-tab="tab-1"><a data-toggle="tab" aria-expanded="true">M/D to Distibutor Transfered</a></li>
                            <li class="tab-link" data-tab="tab-2"><a data-toggle="tab" aria-expanded="false">Distributor to Retailer transfered</a></li>
                            <li class="tab-link" data-tab="tab-3"><a data-toggle="tab">Retailer to Retailer transfered</a></li>


                        </ul>
                        <div id="tab-1" class="width100 float-left tab-content current">
                            <div class="for-un">
                                <table>
                                    <tr>
                                        <td>

                                            <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                        </td>
                                        <td>
                                            <input type="datetime" id="txt_to_date" name="txt_to_date" />
                                        </td>
                                        <td>
                                            <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <i class="fa fa-search"></i>

                                            </button>
                                        </td>
                                    </tr>




                                </table>
                            </div>
                            <div id="tblshowMasterD" class="table-responsive " style="width:100%;">
                                @Html.Partial("_FundTransferWlRetailerToWlRetailerPartial")

                            </div>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                        <div id="tab-2" class="width100 float-left tab-content ">
                            <div class="table-responsive " style="width:100%;">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Distributor Firm</th>
                                            <th>Retailer Firm</th>
                                            <th>Head</th>

                                            <th>Total AMT</th>
                                            <th>Charge</th>

                                            <th>Net T/F</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-toggle="modal" data-target="#distributor-fund-transfer">

                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu<img src="~/ashok-images/rightaeps.svg" style="width:11px;margin-top:6px;float:right;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="tab-3" class="width100 float-left tab-content ">
                            <div class="table-responsive " style="width:100%;">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>From Retailer Firm</th>
                                            <th>To Retailer Firm</th>
                                            <th>Head</th>
                                            <th>Payment&nbsp;Type</th>
                                            <th>Total AMT</th>
                                            <th>Charge</th>

                                            <th>Net T/F</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-toggle="modal" data-target="#retailer-fund-transfer">
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu</td>
                                            <td>uiu<img src="~/ashok-images/rightaeps.svg" style="width:11px;margin-top:6px;float:right;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!----------master distributor fund transfer----->

        <div class="modal fund-tr-history  in" id="m-d-fund-transfer" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog" role="document" style="margin:0px;float:right;margin-top: 77px;">

                <div class="modal-content width100 float-left">
                    <div class="modal-header width100 float-left ecomm-pop-head">

                        <h5 id="mdhis">Retailer Fund Transfered History</h5>


                        <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>


                    </div><!--.modal-header-->
                    <div class="modal-body width100 float-left ecomm-pop-body">
                        <div class="float-left width100">
                            <form class="first-form">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label id="mdfrmname">Retailer Firm Name</label>

                                            <input class="form-control" readonly="readonly" required="required" id="txtmdfirmnameshow" type="text">

                                        </div>
                                    </div>

                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Total Amount</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txttotalamountshow">
                                        </div>
                                    </div>

                                </div><!--.row-->


                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPreremain">Reatiler Pre Remain</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPREREMAINshow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostremain">Reatiler Post Remain</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTREMAINshow">
                                        </div>
                                    </div>
                                </div><!--.row-->



                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPrecredit">Your Pre Balance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPRECREDITshow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostcredit">Your Post Balance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshow">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Request Timing</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtREQUESTTIMINGshow">
                                        </div>
                                    </div>
                                    @*<div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                            <div class="form-group">
                                                <label>Transfered Timing</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtTRANSFERTIMINGshow">
                                            </div>
                                        </div>*@
                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label>Comments</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtCOMMNETSshow" style="height:50px;">

                                        </div>
                                    </div>

                                </div><!--.row-->



                            </form>

                            <!--=============-->

                        </div><!--.modal-body-->


                    </div>

                </div>
            </div>
        </div>


        <!---------Purchase request send-->
        <div class="modal fund-tr-history  in purchase-model" id="m-d-fund-transfer12" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
            <div class="modal-dialog" role="document" style="margin:0px;float:right;">

                <div class="modal-content width100 float-left">
                    <div class="modal-header width100 float-left ecomm-pop-head">

                        <h5 id="mdhis">Purchase Order History</h5>


                        <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>


                    </div><!--.modal-header-->
                    <div class="modal-body width100 float-left ecomm-pop-body">
                        <div class="float-left width100">
                            <form class="first-form">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label id="mdfrmname">Purchase Order TO</label>

                                            <input class="form-control" readonly="readonly" required="required" id="txtfromshow" type="text">

                                        </div>
                                    </div>

                                </div><!--.row-->





                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Order No</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtordernohow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txtstsshow" type="text">
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>paymode</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymodeshow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="lblcollreason">utrno</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcollreason">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                @*<div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                <div class="form-group">
                                                    <label>Credit Adjust</label>
                                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcradjustshow">
                                                </div>
                                            </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                            </div>
                                        </div>
                                    </div>*@<!--.row-->


                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPreremain">amount</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountshow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostremain">reqdate</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtreqdateshow">
                                        </div>
                                    </div>
                                </div><!--.row-->



                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPrecredit">responsedate</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtresponsedateshow">
                                        </div>
                                    </div>
                                    @*<div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                            <div class="form-group">
                                                <label id="mdPostcredit">M/D Post Credit</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshow">
                                            </div>
                                        </div>*@
                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>cashDepositCharge</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" id="txtcashDepositChargehow">

                                        </div>
                                    </div>
                                    @*<div class="col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="form-group">
                                                <label>crests</label>

                                                <input class="form-control" readonly="readonly" required="required" type="text" id="txtcrestsshow">

                                            </div>
                                        </div>*@
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>finalAmount</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtfinalAmountshow" style="height:50px;">

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                        </div>
                                    </div>
                                </div><!--.row-->



                            </form>

                            <!--=============-->

                        </div><!--.modal-body-->


                    </div>

                </div>
            </div>
        </div>


        <!-------------orderrecive-->
        <!-------------orderrecive-->

        <div class="modal fund-tr-history  in purchase-model" id="m-d-fund-orderRecive" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
            <div class="modal-dialog" role="document" style="margin:0px;float:right;">

                <div class="modal-content width100 float-left">
                    <div class="modal-header width100 float-left ecomm-pop-head">

                        <h5 id="mdhis">Recive Fund Info.</h5>


                        <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>


                    </div><!--.modal-header-->
                    <div class="modal-body width100 float-left ecomm-pop-body">
                        <div class="float-left width100">


                            <div id="ALLdatashow">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label id="mdfrmname">Fund Recive From</label>

                                            <input class="form-control" readonly="readonly" required="required" id="txtfromrecive" type="text">

                                        </div>
                                    </div>

                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Payment Mode</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymentmodes">
                                        </div>
                                    </div>

                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Total Amount</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txttotalamounht" type="text">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPreremain">Net Transfer</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountnettransfer">
                                        </div>
                                    </div>

                                </div><!--.row-->

                                <div class="row">


                                    <div class="col-md-12 col-sm-12 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="">Charges</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretChargess">
                                        </div>
                                    </div>

                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Current CR</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcurrentcr">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="lblcollreasonrecive">OLD CR</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtoldcr">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                @*<div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                                <div class="form-group">
                                                    <label>Credit Adjust</label>
                                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcradjustshow">
                                                </div>
                                            </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                            </div>
                                        </div>
                                    </div>*@<!--.row-->
                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostremain">Transfer Date</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txttransferdaterecive">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPrecredit">Retailer Pre Balance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretpreamountbalance">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostcredit">Retailer Post Balance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretPOSTamountbalance">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>Head  Type</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" id="txtdeadtype">

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label id="lblcollectionbyret">Collection By</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" id="txtcollectionretailer">

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label>Comment</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtretailercomment" style="height:50px;">

                                        </div>
                                    </div>
                                </div><!--.row-->
                                @*<div class="row">

                                        <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsrecive">
                                            </div>
                                        </div>
                                    </div>*@
                                <!--.row-->
                            </div>




                            <!--=============-->

                        </div><!--.modal-body-->


                    </div>

                </div>
            </div>
        </div>



        <!-------------ALLFUNDRECIVE-->
        <div class="modal fund-tr-history  in purchase-model" id="ALLm-d-fund-transfer12" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
            <div class="modal-dialog" role="document" style="margin:0px;float:right;">

                <div class="modal-content width100 float-left">
                    <div class="modal-header width100 float-left ecomm-pop-head">

                        <h5 id="mdhis">Fund Receive History</h5>


                        <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>


                    </div><!--.modal-header-->
                    <div class="modal-body width100 float-left ecomm-pop-body">
                        <div class="float-left width100">
                            <form class="first-form">
                                @*<div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="form-group">
                                                <label id="mdfrmname">TO</label>

                                                <input class="form-control" readonly="readonly" required="required" id="txtfromshow" type="text">

                                            </div>
                                        </div>

                                    </div>*@<!--.row-->





                                <div class="row">
                                    @*<div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Order No</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtordernohow">
                                            </div>
                                        </div>*@
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txtstsshowfundrecive" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>paymode</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymodeshowfundrecive">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="lblcollreasonfundrecive">utrno</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcollreasonfundrecive">
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>PreBalance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtPrebalanceshowrecive">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>PostBalance</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtPostbalanceshowrecive">
                                        </div>
                                    </div>
                                </div>

                                <!--.row-->


                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPreremain">amount</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountshowfundrecive">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostremain">reqdate</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtreqdateshowfundrecive">
                                        </div>
                                    </div>
                                </div><!--.row-->



                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPrecredit">M/D Pre Credit</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtPrecreditshowfundrecive">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostcredit">M/D Post Credit</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshowfundrecive">
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>cashDepositCharge</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" id="txtcashDepositChargehowfundrecive">

                                        </div>
                                    </div>
                                    @*<div class="col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="form-group">
                                                <label>crests</label>

                                                <input class="form-control" readonly="readonly" required="required" type="text" id="txtcrestsshow">

                                            </div>
                                        </div>*@
                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>finalAmount</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtfinalAmountshowfundrecive" style="height:50px;">

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshowfundrecive">
                                        </div>
                                    </div>
                                </div><!--.row-->



                            </form>

                            <!--=============-->

                        </div><!--.modal-body-->


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script>


    $('#btnchangetabbutton').click(function (e) {
        debugger
     var  tabtype=  $("ul.tabchangeclass li.tab-link.active").attr('data-tabname')
      $.ajax({
          url: "@Url.Action("MDTODealer","Home")",
          data: { tabtype: tabtype, txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val() },
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })


    });



</script>

<script>
    $(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>


<script>
    $('.tabChangeType').click(function () {
        $.ajax({
            url: $(this).attr('data-href'),
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })



    })
</script>

<script>
    $(function () {
          $('#orderAPPLY').html('Purchase Order TO <strong>Distributor</strong>')
        $('.tab-ar').click(function () {
            debugger
            $(".tabr").removeClass('tab-activer');
            $(".tabr[data-id='" + $(this).attr('data-id') + "']").addClass("tab-activer");
            $(".tab-ar").removeClass('active-ar');
            $(this).parent().find(".tab-ar").addClass('active-ar');
            var usertype = $(this).attr('data-usertype')
            if (usertype == 'Whitelabel') {
                $('#Payto').val('Whitelabel')
                $('#orderAPPLY').html('Your Request TO <strong>Whitelabel</strong>')
            }
            else if (usertype == 'Distributor') {
                $('#Payto').val('Distributor')
                  $('#orderAPPLY').html('Your Request TO <strong>Distributor</strong>')

            }
        });
    });
</script>


<script>
    $( document ).ready(function() {

         $('.old-crd').show();
        $('.old-crd').html('Loading...')


         $.ajax({
             url: "@Url.Action("R_Creditchk","Home")",
             data: {MID:'Distributor'},
            success: function (data) {

                $('.old-crd').empty();
                if (data.diff > 0) {

                    $('.old-crd').html('CR. ' + data.diff)


                }
                else {
                    $('.old-crd').html('<b>No Old Credit Balance</b>')

                }

                $("#dealerbank").html("");

                $("#dealerbank").append($('<option></option>').val('').html('Select Bank'));
                for (var x = 0; x < data.listbank.length; x++) {
                    $("#dealerbank").append($('<option></option>').val(data.listbank[x].Value).html(data.listbank[x].Text));
                }
                $("#dealerwallets").html("");
                $("#dealerwallets").append($('<option></option>').val('').html('Select Wallet'));
                for (var x = 0; x < data.walletinfo.length; x++) {
                    $("#dealerwallets").append($('<option></option>').val(data.walletinfo[x].Value).html(data.walletinfo[x].Text));
                }
            }

        })


});



</script>




<script>
    function tablerowshowdetail(frmname, total, remainfromnew, remainfromold, remtoold, remotonew, comment, date) {
        


        $('#txtmdfirmnameshow').val(frmname);

        $('#txttotalamountshow').val(total);

        $('#txtMDPREREMAINshow').val(remtoold);
        $('#txtMDPOSTREMAINshow').val(remotonew);
        $('#txtMDPRECREDITshow').val(remainfromold);
        $('#txtMDPOSTCREDITshow').val(remainfromnew);
        $('#txtCOMMNETSshow').val(comment)
        $('#txtREQUESTTIMINGshow').val(date)
        //   $('#txtmdfirmnameshow').val(frmname);
        //$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //  $('#txtmdfirmnameshow').val(frmname);
    }



</script>


<script>


    $("#RetailerId").blur(function (event) {
           $('#HDRetailerId').val("")
        //  var character = String.fromCharCode(event.keyCode);
        var mobemail = $("#RetailerId").val()

           $('#retailerinform').hide();

            //   alert(mobemail.val())
            $.ajax({
                url: "@Url.Action("CheckRetailerEmailMobile")",
                data: { emailmobile:mobemail},
                success: function (data) {
                    
                    if (data.remfill != '') {
                        $('#retailerinform').show();
                        $('#lblfrmname').text(data.remfill[0].Frm_Name);
                          $('#lblreatilername').text(data.remfill[0].RetailerName);
                        $('#lblemail').text(data.remfill[0].Email);
                        $('#lblmobile').text(data.remfill[0].Mobile)
                        $('#shownoneclass').removeAttr('disabled');
                        $('#HDRetailerId').val(data.remfill[0].RetailerId)
                    }
                    else {
                        $('#retailerinform').hide();
                         $('#shownoneclass').attr('disabled', 'disabled');
                    }


                }



            })


});

</script>
<script>
    var fewSeconds = 10;
    $(document).ajaxStart(function () {
        debugger
        $("#shownoneclass").prop('disabled', true);
        $("#btnsendpurorder").prop('disabled', true);
        setTimeout(function () {

            $("#btnsendpurorder").prop('disabled', false);

        }, fewSeconds * 1000);
    });


</script>

<script>


    function OnSuccess(result) {
         $("#errorss").text('');
        $("#errorss").text(result);
        $("#home").find("input[type=text]").val('');

         $('#retailerinform').hide();
         $('#shownoneclass').attr('disabled', 'disabled');
           $('#HDRetailerId').val("")
       // cahangeTab('menu1');

        $.ajax({
            url: "@Url.Action("MDTODealer","Home",new { tabtype="ReatilertoRetailer"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)

  }

        })



    }




</script>
<script>
    $('.chkoldcredit').click(function () {
        $('.old-crd').show();
        $('.old-crd').html('Loading...')

        $.ajax({
            url: $(this).attr('data-oldcr'),
            success: function (data) {
                debugger
                $('.old-crd').empty();
                if (data.diff > 0) {

                    $('.old-crd').html('CR. ' + data.diff)


                }
                else {
                    $('.old-crd').html('<b>No Old Credit Balance</b>')

                }

                $("#dealerbank").html("");

                $("#dealerbank").append($('<option></option>').val('').html('Select Bank'));
                for (var x = 0; x < data.listbank.length; x++) {
                    $("#dealerbank").append($('<option></option>').val(data.listbank[x].Value).html(data.listbank[x].Text));
                }
                $("#dealerwallets").html("");
                $("#dealerwallets").append($('<option></option>').val('').html('Select Wallet'));
                for (var x = 0; x < data.walletinfo.length; x++) {
                    $("#dealerwallets").append($('<option></option>').val(data.walletinfo[x].Value).html(data.walletinfo[x].Text));
                }
            }

        })


    })
</script>


<script>
    $(function () {
        $('.new-nextbutton button#shownoneclass').prop('disabled', true);
        $('.fullclassdata input#RetailerId').keyup(function () {
            if ($(this).val() != '') {
                $('.new-nextbutton button#shownoneclass').prop('disabled', false);
            }
        });
    });
</script>

<script>


    function changemoded(value) {
        var res = $(value).val();

        if (res == "Cash") {
            $('.dcollection-by').show();

            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
        else if (res == "Branch / CMS Deposite") {
            $('.dcollection-by').hide();

            $('.dbank-select').show();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').show();
            $('.dfund-comment').show();
        }
        else if (res == "Online Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').show();
            $('.dbank-select').show();
            $('.daccount-no').show();
            $('.dutr-no').show();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').hide();


        }
        else if (res == "Wellets Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').hide();
            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').show();
            $('.dwallet-no').show();
            $('.dtranstion-no').show();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
    }







</script>

<script>

    ///Distreibutort Start

    $('#btndistributorInform').click(function () {
        debugger
        $('#hdddninputvalues').empty();

        if ($('#ddldealerPaymentMode').val() == '' || $('#ddldealerPaymentMode').val() == null) {
            $("#errorsssnd").text('Pay mode REQUIRED');
            return false;
        }
        if ($('#ddldealerPaymentMode').val() == 'Cash') {
            if ($('#txtdlmretcollection').val() == '' || $('#txtdlmretcollection').val() == null) {
                $("#errorsssnd").text('Collection Person Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }


        }
        else if ($('#ddldealerPaymentMode').val() == 'Branch / CMS Deposite') {

            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#txtdeposno').val() == '' || $('#txtdeposno').val() == null) {
                $("#errorsssnd").text('Enter Deposite Slip No.');
                return false;
            }

            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }

        }

        else if ($('#ddldealerPaymentMode').val() == 'Online Transfer') {

            //if ($('#DDTransferType').val() == '' || $('#DDTransferType').val() == null) {
            //    $("#errorss").text('Select Transfer Type');
            //    return false;
            //}
            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdealeraccountno').val() == '' || $('#txtdealeraccountno').val() == null) {
                $("#errorsssnd").text('Account No Required');
                return false;
            }
            if ($('#txtdelmretutr').val() == '' || $('#txtdelmretutr').val() == null) {
                $("#errorsssnd").text('UTR No Required');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }

        }
        else if ($('#ddldealerPaymentMode').val() == 'Wellets Transfer') {

            if ($('#dealerwallets').val() == '' || $('#dealerwallets').val() == null) {
                $("#errorsssnd").text('Select Wallets');
                return false;
            }
            if ($('#txtdealerwalletno').val() == '' || $('#txtdealerwalletno').val() == null) {
                $("#errorsssnd").text('Wallet No. Required');
                return false;
            }
            if ($('#txtdlmrettranctionno').val() == '' || $('#txtdlmrettranctionno').val() == null) {
                $("#errorsssnd").text('Transtion No.');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            //if ($('#txtDISTCOMMENTS').val() == '' || $('#txtDISTCOMMENTS').val() == null) {
            //    $("#errorss").text('Comment Required');
            //    return false;
            //}
        }


        var idst = $("#ddldealerPaymentMode option:selected").text();
        var collper = $('#txtdlmretcollection').val();
        var amount = $('#txtdlmretamount').val();

        var comment = $('#dlmretcomment').val();
        var bankname = $("#dealerbank option:selected").text();
        var depositeslip = $('#txtdeposno').val();
        var tranftype = $("#ddlAdmintransfertype option:selected");
        var accountno = $('#txtdealeraccountno').val();
        var UTRnos = $('#txtdelmretutr').val();
        var walletname = $("#dealerwallets option:selected");
        var walletno = $('#txtdealerwalletno').val();
        var transectionno = $('#txtdlmrettranctionno').val();
        //var setteltype = $('#txtDISTSETTLEMENTTYPE').val();
        //var crdetails = $('#txtDISTCREDITDETAILS').val();
        var sbject = $('#txtdlmretreason').val();
        var accnosele = $("#dealerbank").val();


        var thtm = '<div id="hdidsss">';

        thtm += '<input id="hdPaymentMode" required name="hdPaymentMode" type="hidden"  value="' + idst + '" />';
        //  thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' +amount + '" />';


        if ($("#ddldealerPaymentMode").val() === "Cash") {

            thtm += '<input id="hdMDcollection" required name="hdMDcollection" type="hidden"  value="' + collper + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Branch / CMS Deposite") {

            thtm += '<input id="hdMDBank" required name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" required name="hdMDaccountno" type="hidden"  value="' + accnosele + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDDepositeSlipNo" required name="hdMDDepositeSlipNo" type="hidden"  value="' + depositeslip + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';


        }
        if ($("#ddldealerPaymentMode").val() === "Online Transfer") {

            thtm += '<input id="hdMDTransferType" required name="hdMDTransferType" type="hidden"  value="' + tranftype.text() + '" />';
            thtm += '<input id="hdMDBank" required name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" required  name="hdMDaccountno" type="hidden"  value="' + accountno + '" />';
            thtm += '<input id="hdMDutrno" required name="hdMDutrno" type="hidden"  value="' + UTRnos + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Wellets Transfer") {

            thtm += '<input id="hdMDwallet" required name="hdMDwallet" type="hidden"  value="' + walletname.text() + '" />';
            thtm += '<input id="hdMDwalletno" required name="hdMDwalletno" type="hidden"  value="' + walletno + '" />';
            thtm += '<input id="hdMDtransationno" required name="hdMDtransationno" type="hidden"  value="' + transectionno + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';
        }
        thtm += '</div>';

        $('.txtcodecodec').val('');
        // $('#txtcode').val('')
        $('#hdddninputvalues').html(thtm);
        $('#btnsendpurorder').click();


    })

    ///Distreibutort END

</script>
<script>

    $('#dealerbank').change(function () {

        $('#txtdealeraccountno').val($('#dealerbank').val());


    })

    $('#dealerwallets').change(function () {

        $('#txtdealerwalletno').val($('#dealerwallets').val());


    })


</script>


<script>

     function OnSuccess11(result) {

         $("#menu1 #errorsssnd").text('');
        $("#menu1 #errorsssnd").text(result);
        $("#menu1").find("input[type=text]").val('');


        $('.old-crd').empty();

        $('#hdddninputvalues').empty();

       // cahangeTab('menu1');

        $.ajax({
            url: "@Url.Action("MDTODealer","Home",new { tabtype="Purchase_ORDER"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)

  }

        })



    }




</script>

<script>
    function tablerowshowdetail22(frm, orderno, sts, paymode, utrno, details, amount, reqdate, responsedate, cashDepositCharge, finalAmount, headtype) {

        $('#txtfromshow').val(frm);
        $('#txtordernohow').val(orderno);
        $('#txtstsshow').val(sts);
        $('#txtpaymodeshow').val(paymode);
        // $('#txtutrnoshow').val(utrno);
        $('#txtdetailsshow').val(details);
        $('#txtamountshow').val(amount);
        $('#txtreqdateshow').val(reqdate);
        $('#txtresponsedateshow').val(responsedate);
        //$('#txtcrestsshow').val(crests);
        $('#txttypeshow').val(headtype);
        $('#txtcashDepositChargehow').val(cashDepositCharge)
        $('#txtfinalAmountshow').val(finalAmount)
        if (paymode == "Cash") {

            $('#lblcollreason').html('Collection By')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Branch / CMS Deposite") {

            $('#lblcollreason').text('Deposite Slip No.')
            $('#txtcollreason').val(utrno)
        }


        var res = paymode.match(/Online Transfer/)
        if (res != '' && res != null) {
            $('#lblcollreason').text('UTR No.')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Online Transfer") {

            $('#lblcollreason').text('UTR No.')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Wellets Transfer") {

            $('#lblcollreason').text('Transtion No')
            $('#txtcollreason').val(utrno)
        }


        //  $('#txtmdfirmnameshow').val(frmname);
        // / /$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
    }



</script>

<script>
    function tablerowshowdetailorderrecive(roletype, frm, paymode, transferamount, charges, comment, currentcr, oldcr, nettransfer, rechargedate, retailerfromold, retailerfromnew, ret_to_old, ret_to_new, headtype, TotalBal, utrno) {
        
        var modess = 'Neft,RTGS,IMPS,UPI';

            $('#txtfromrecive').val(frm);
            $('#txtpaymentmodes').val(paymode);

            // $('#txtutrnoshow').val(utrno);
            $('#txttotalamounht').val(transferamount);
            $('#txtcurrentcr').val(currentcr);
            $('#txtoldcr').val(oldcr);
            $('#txtamountnettransfer').val(nettransfer);
            //$('#txtcrestsshow').val(crests);
            $('#txttransferdaterecive').val(rechargedate);
            $('#txtretpreamountbalance').val(retailerfromold)
            $('#txtretPOSTamountbalance').val(retailerfromnew)

            $('#txtdeadtype').val(headtype);

            $('#txtretChargess').val(charges)
            $('#txtretailercomment').val(comment)

            if (paymode == "Cash") {

                $('#lblcollectionbyret').html('Collection By')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Branch / CMS Deposite") {

                $('#lblcollectionbyret').text('Deposite Slip No.')
                $('#txtcollectionretailer').val(utrno)
            }

            if (paymode == "Wellets Transfer") {

                $('#lblcollectionbyret').text('Transtion No')
                $('#txtcollectionretailer').val(utrno)
            }

            if (paymode == "Credit") {

                $('#lblcollectionbyret').text('')
                $('#txtcollectionretailer').val()
            }
            if (paymode == "Manual Settelment") {

                $('#lblcollectionbyret').text('Settlement Type')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "GST Credit") {

                $('#lblcollectionbyret').text('Credit Detail')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Offline Charge") {

                $('#lblcollectionbyret').text('Subject (Reason)')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Charge Back") {

                $('#lblcollectionbyret').text('Subject (Reason)')
                $('#txtcollectionretailer').val(utrno)
            }
            var res = paymode.match(/Online Transfer/)
            if (res != '' && res != null) {
                $('#lblcollectionbyret').text('UTR No.')
                $('#txtcollectionretailer').val(utrno)
            }




        //  $('#txtmdfirmnameshow').val(frmname);
        // / /$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
    }



</script>