@model List<Vastwebmulti.Models.Whitelabel_WalletToBankAmountTransferCharge>
@{
    ViewBag.Title = "Slab";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    tr th {
        text-align: center;
    }
</style>

<section class="content" style="margin:90px 0px 0px 0px;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Wallet To Bank Amount Transfer Slab</h2>
                            </div> 
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <div id="dataTable" class="table-responsive" style="position:inherit; margin-top:-20px;">
                           
                            <table class="table table-bordered">
                                <thead class="navbar" style="position:initial;color:white;">
                                    <tr>
                                        <th rowspan="2">SR</th>
                                        <th colspan="4">General</th>
                                        <th colspan="4">Tatkal</th>
                                        @*<th rowspan="2">Status</th>*@
                                       
                                    </tr>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Charge</th>
                                        <th>Time</th>

                                        <th>From</th>
                                        <th>To</th>
                                        <th>Charge</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyshow">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.AmtFromGeneral</td>
                                            <td>@item.AmtToGeneral</td>
                                            <td>@item.chargeGeneral</td>
                                            <td>@item.TimeTakesGeneral</td>
                                            <td>@item.AmtFromTatkal</td>
                                            <td>@item.AmtToTatkal</td>
                                            <td>@item.chargeTatkal</td>
                                            <td>@item.TimeTakesTatkal</td>
                                            @*<td>@item.IsEnabled</td>*@
                                           
                                        </tr>
                                        i++;
                                    }

                                </tbody>

                            </table>
                           
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->


<!--Window Load-->


