@model Vastwebmulti.Areas.RETAILER.Models.modelviewwalletunload
@{
    ViewBag.Title = "Wallet Unload";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
</style>

<section class="content"style="margin:0px;overflow-x: hidden;">
    <div class="all-page-container addnewcalsspadd">
        <div class="row clearfix">
        <div class="col-md-12" style="margin-bottom: 32px;">
    @using (Html.BeginForm("WalletUnloadReport", "Home", FormMethod.Post))
    {
            <div class="row">
                <div class="col-md-7">
                    </div>


                    <form action="/WRetailer/Home/WebLogin" method="post">
                        <div class="col-md-3 lager-date-wr"style="margin-left:90px;">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="input-whitelabel leftwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , #08a187, #ed164c);"></i>
                                        <input autocomplete="off" class="form-control" id="txt_frm_date" name="txt_frm_date" required="required" style="border:1px solid #dddddd; margin-top:4px;" type="text" value="">
                                    </div>
                                    <div class="input-whitelabel rightwhitellabel">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , #08a187, #ed164c);"></i>
                                        <input autocomplete="off" class="form-control" id="txt_to_date" name="txt_to_date" required="required" style="border:1px solid #dddddd; margin-top:4px;" type="text" value="">
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-2 lager-date-search">
                            <center>
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>

                    </form>


                </div>
                }
            </div>
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="walletunloadfull walletunloadfull-responshive">
                    <div class="col-md-12 colmdwerty">
                        <h2 class="fullbodydycolorbg" style="color:#fff;margin:0px;text-align: center;font-size: 24px;padding: 4px 0px;background-image: linear-gradient(to right , #08a187, #ed164c) !important;">Wallet Unload</h2>

                        <label id="nsddadasd" style="display: block;text-align: center; margin-top:10px;">
                            <span>Remaining Unload Limit:</span>
                            @if (ViewBag.WalletUnloadlimits != null)
                            {
                                <span>
                                    @ViewBag.WalletUnloadlimits.aepsremain
                                </span>
                            }
                            else
                            {
                                <span>0</span>
                            }
                        </label>

                        @using (Ajax.BeginForm("AddWalletToBankRequest", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailed" }))
                        {

                            <div class="walletunloadf" style="background:#eae9e9;width: 100%;float: left;padding-top: 20px;">
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top:4px;">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input class="form-control" id="Amount" name="Amount" onkeypress="return isNumber(event)" placeholder="Enter Value" required="required" style="padding-top:4px;height:30px;" type="text">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top:4px;margin-bottom:15px;">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="Type" name="Type" class="form-control" required="" style="height:29px;">
                                                <option value="IMPS">IMPS</option>
                                                <option value="NEFT">NEFT</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 walletbuttontr">
                                    <div class="col-md-12 walleterrowshow">
                                        <label id="errormsg" style="color:red;"></label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit" class="btn  waves-effect fullbodydycolorbg" style="float:right; color:#fff;padding:5px 20px; height:34px;border:1px solid #c7c2c2;background-image: linear-gradient(to right , #08a187, #ed164c) !important;">
                                            <span style="top:0px;">Transfer</span>
                                        </button>

                                    </div>

                                </div>

                            </div>
                        }

                    </div>

                    <div class="col-md-12 wallet-unload">
                        <h2 class="" style="color:#fff;margin:0px;text-align: center;font-size: 24px;padding: 4px 0px;background:#a4a0a0;">Wallet Unload Charges</h2>

                        <table class="table table-bordered">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Min&nbsp;(₹)</th>
                                    <th>Max(₹)</th>
                                    <th>IMPS&nbsp;(₹)</th>
                                    <th>NEFT&nbsp;(₹)</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyshow">
                                @{ int i = 1;}
                                @foreach (var item in Model.WCharges.OrderBy(a => a.AmtFromTatkal))
                                {
                                    <tr>
                                        <td>@item.AmtFromTatkal</td>
                                        @if (@item.AmtToTatkal == 0)
                                        {
                                            <td>---------</td>
                                        }
                                        else
                                        {
                                            <td>@item.AmtToTatkal</td>
                                        }
                                        <td>@item.chargeTatkal</td>
                                        <td>@item.chargeTatkalNEFT</td>

                                    </tr>
                                    i++;
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>



            <div class="col-md-8 walletdata">
                <div class="row clearfix">
                    <div class="card">
                        <div class="">
                            <div class="col-md-12 tabel-wallets tabel-wallets-responshive">
                                <div id="datashow" class="table-responsive wallettable" style="position:inherit;padding:0px;">
                                    <table class="table table-bordered table-striped">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Status</th>
                                                <th>Account&nbsp;No</th>
                                                <th>Type</th>
                                                <th>Pre&nbsp;Bal</th>
                                                <th>Amount</th>
                                                <th>Charge</th>
                                                <th>Post</th>
                                                <th>RRN</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.WRequests)
                                        {
                                            var color = "";
                                            if (item.Status.Contains("Success"))
                                            {
                                                color = "green";
                                            }
                                            if (item.Status.Contains("Pending"))
                                            {
                                                color = "#FF9800";
                                            }
                                            if (item.Status.Contains("Rejected"))
                                            {
                                                color = "red";
                                            }
                                            if (item.Status.Contains("Refund"))
                                            {
                                                color = "#3F51B5";
                                            }
                                            <tbody>

                                                <tr>
                                                    <td style="color:@color;font-weight:700;">@Html.DisplayFor(modelItem => item.Status)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.BankAccount)</td>

                                                    <td>@Html.DisplayFor(modelItem => item.TransferType)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.ProcessingCharge)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.BankRRN)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                                                </tr>
                                            </tbody>
                                        }
                                        @if (Model.WRequests.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="9"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    function OnSuccess(data)
    {
        $('#Amount').val("");

        var respose = JSON.parse(data);

        if (respose.status == "Success") {
             $('#errormsg').text(respose.Message);
              $("#datashow").load(location.href + " #datashow");
            window.location.href = "@Url.Action("WalletUnloadReport")"

        }
        else if (respose.status == "Failed") {
            $('#errormsg').text(respose.Message);
        }
        else if(respose.status=="Profile") {
             window.location.href = "@Url.Action("Profile")"
        }

    }
    function OnFailed()
    {
        $('#errormsg').text("Internal Error");
    }
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerdmt-yuh');
    });
</script>