@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "WebLoginFailed";
    Layout = "~/Areas/WRetailer/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .webloginbutton-wretailer a::after {
        content: "";display: block;width: 20px;height: 20px;float: left;border-radius: 50%;
        background: url('../../../../ashok-images/down-arrowweb.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;
        background-size: auto;background-size: contain;background-color: #08a187;background-size: 12px;
        background-position: center;transform: rotate(-180deg);transition: .4s linear;position: relative;left: -4px;top: 0px;
    }

    .webloginbutton-wretailer a.active::after, .webloginbutton-wretailer a:hover::after {
        background: url('../../../../ashok-images/correct.svg')no-repeat;
        background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-size: auto;
        background-color: rgba(0, 0, 0, 0);background-position-x: 0%;background-position-y: 0%;background-size: auto;
        transform: none;transition: .4s linear;background-size: 12px;background-color: #ed164c;background-position: center;
        background-position-x: center;background-position-x: center;background-position-x: 3px;
    }
    @@media screen and (max-width:767px){
        .all-page-container {margin-top: 65px !important;}
    }
    @@media screen and (max-width:480px){
        .wretailer-weblogin .lager-date-wr i {display: none;}
        .wretailer-weblogin .lager-date-wr input {text-align: center !important;}
        .wretailer-weblogin .lager-date-search .fa.fa-search {font-size: 14px !important;}
        .wretailer-weblogin .lager-date-search span {margin: 0 !important;}
        .wretailer-weblogin .whitelabel-pdf {width: 100%;margin-top: 0;margin-bottom: 15px;}
        .wretailer-weblogin .lager-date-search {width: 30% !important;}
        .wretailer-weblogin .lager-date-wr {width: 68% !important;}
        .wretailer-weblogin .webloginbutton-wretailer a {margin: 0 !important;}
        .wretailer-weblogin .table-responsive table tr th, .wretailer-weblogin .table-responsive table tr td {white-space: nowrap;}
        .wretailer-weblogin .table-responsive .dataTables_wrapper.no-footer {padding-bottom: 15px;}
        .wretailer-weblogin .lager-date-wr .form-group {width: 100%;float: left;margin: 0;}
    }
</style>
<section class="content" style="margin:0px 0px 0px 0px; overflow-x:hidden;">
    <div class="all-page-container wretailer-weblogin">

        <div class="row clearfix">

            @using (Html.BeginForm("WebLoginFailed", "Home", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="">
                            <div class="col-md-6 web-login-buttonwr webloginbutton-wretailer">

                                <a href="@Url.Action("WebLogin","Home")" id="btn" class="btn" style="margin-top:6px; margin-left:-13px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <span style="color:black;">Web&nbsp;Success&nbsp;Login</span>
                                </a>
                                <a href="@Url.Action("WebLoginFailed","Home")" id="btn" class="btn active" style="margin-top:6px; margin-left:12px; height:31px;border:1px solid #c7c2c2;background:@PageData["Globalfirst"];" title="Go to Web Failed Login History">
                                    <span style="color:#fff;">App&nbsp;Login&nbsp;History</span>
                                </a>
                            </div>

                            @*<div class="col-md-3">
            <div class="form-group">
                <a href="@Url.Action("WebLogin","Home")" class="btn bg-blue-grey  waves-effect" style="margin-top:3px; margin-left:5px;">
                    <i class="material-icons" style="top:3px;">call_missed_outgoing</i>
                    <span style="top:-4px;">Go&nbsp;To&nbsp;Success&nbsp;Logins</span>
                </a>
            </div>
        </div>*@


                            <div class="col-md-3 lager-date-wr">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-daterange input-group">
                                        <div class="input-whitelabel leftwhitellabel">
                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                        <div class="input-whitelabel rightwhitellabel">
                                            <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);"></i>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2 lager-date-search">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>

                            <div class="whitelabel-pdf">
                                <button><img src="~/ashok-images/pdf.png" />PDF</button>
                                <button><img src="~/ashok-images/xls.png" />Export</button>
                            </div>


                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="" style="">
                        <div class="body body-whitelabelpadding" style="position:inherit;padding:12px;">
                            <div class="table-responsive custome-background-wr table-responsive-whitelabel" style="position:inherit;">
                                <table class="table table-bordered table-striped">
                                    <thead class="" style="color:white;position:inherit;">
                                        <tr>
                                            <th>Login&nbsp;Status</th>
                                            <th>Login&nbsp;ID</th>
                                            @*<th>Password</th>*@
                                            <th>Device&nbsp;Details</th>
                                            <th>IMEI&nbsp;No</th>
                                            <th>Location</th>
                                            <th>Login&nbsp;Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="table-status"><span style="background:green;display:none;">Success</span><span style="background:red;display:none;">Faild</span></td>
                                                <td>@item.EmailId</td>
                                                @*<td>@item.pwd</td>*@
                                                <td>@item.LoginFrom</td>
                                                <td>@item.IP_Address</td>
                                                <td>@item.browser</td>
                                                <td>@item.LoginTime</td>
                                            </tr>
                                            i++;
                                        }
                                        <tr>
                                            <td colspan="6" style="text-align:center;">No Data Found</td>
                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>

                        </div>
                </div>

            </div>
        </div>


    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/PageScript/Retailer/FundRecive.js"></script>

<!--Calendar Javascript-->
<script>
    $(function () {
        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        fundreciveonload(from, to);

    });
</script>
