@model Vastwebmulti.Areas.ADMIN.Models.DealerModel
@{
    ViewBag.Title = "DistibutorList";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity
@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var currentuser = User.Identity.GetUserId();
    var iswritepermision = DB1.tbl_permission_Services.Where(x => x.Employee_ID == currentuser && x.Servicename == "USERS" && x.iswrite == true).Any();

}
<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    #defaultModal222 input:placeholder-shown {
        border-color: red !important;
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: var(--main-bg-lcolor);
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #c7c7c7;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    #distributorlist table tr td:nth-child(5) button {
        padding: 4px 7px;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 10px;
    }

    .mastetr222Modal .modal-dialog {
        margin: 0px;
    }

    .costom-on {
        text-align: end;
        float: left;
        width: 100%;
        padding: 2px 4px;
        background: #f0f0f0;
        padding-top: 3px;
        color: #999;
        vertical-align: text-bottom;
        padding-top: 6px;
    }

        .costom-on::after {
            float: left;
            margin-right: 9.5rem;
        }

    .onoffswitch {
        width: 27%;
        height: 32px;
        margin-left: 5px;
    }


    .costom-on::after {
        width: 20px;
        height: 20px;
        top: 5px;
    }

    .custom-off::before {
        width: 20px;
        height: 20px;
        top: 5px;
    }
</style>
<div class="table-responsive">
    <table class="table table-bordered table-due-second table-due-second-desti third-design-table" id="mdList">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Master&nbsp;Distributor&nbsp;Firm</th>
                <th>Distributor&nbsp;Firm</th>
                <th>Distributor&nbsp;Name</th>
                <th>Mobile&nbsp;No</th>
                <th>Balance</th>
                @*   <th>Aadhar&nbsp;No</th>*@
                @*<th>PAN&nbsp;No</th>*@
                <th>KYC</th>
                <th>Email&nbsp;V/F</th>

            </tr>
        </thead>
        <tbody id="body">
            @if (Model.Select_dealer_list != null)
            {
                int i = 0;
                var id = 1;
                foreach (var item in Model.Select_dealer_list)
                {
                    var idno = "subTbl";
                    idno = idno + i;

                    var idshow = "subTblshow";
                    idshow = idshow + i;

                    var idhide = "subTblhide";
                    idhide = idhide + i;

                    var colorchange = "";
                    var borderleft = "";
                    var imggg = "";

                    if (item.aadharcardPath != null && item.BackSideAadharcardphoto != null && item.pancardPath != null)
                    {
                        if (item.PSAStatus == "N" && item.AadhaarStatus == "N")
                        {
                            colorchange = "#dbdb70";
                            borderleft = "7px solid var(--main-bg-lcolor)";
                            imggg = "☻";

                        }

                    }
                    <tr class="tr" style="background-color:@colorchange">
                        <td>@id</td>
                        <td>@item.MasterEmail</td>
                        <td style="border-left:@borderleft">
                            <span id="@idshow" onclick="md_dlm_List('@item.DealerId', '@i')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;
                                @item.FarmName
                            </span>
                            <span id="@idhide" style="display:none;" onclick="md_dlm_Listhide('@i')">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>&nbsp;&nbsp;
                                @item.FarmName
                            </span>
                        </td>
                        <td><span style="font-size:20px;width: 16px;display: inline-block;color: var(--main-bg-lcolor);">@imggg</span>&nbsp;@item.DealerName</td>
                        <td>@item.Mobile</td>
                        <td>@item.remaindlm</td>
                        @*  <td>@item.adharcard</td>*@
                        @* <td> @item.pancard</td>*@
                        <td class="kyc-button">
                            @if (item.PSAStatus == "Y" && item.AadhaarStatus == "Y" && item.pancardsts == "Y")
                            {
                                <button class="btn done-third">Done</button>
                            }
                            else
                            {
                                <div class="btn" style="background:var(--main-bg-lcolor);height: 25px;color:#fff; padding: 4px 10px;float:left; font-size: 11px;">Due</div>
                            }
                            @*<button class="btn" style="background:yellow;"><img src="~/images/reportimage/wall-clock.svg" /></button>
                                <button class="btn btn-danger"><img src="~/images/reportimage/close.svg" /></button>
                                <button class="btn btn-success"><img src="~/images/reportimage/check.svg" /></button>*@



                            @*@item.adharcard*@
                        </td>
                        <td data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.DealerId')">
                            @if (item.Emailconfirmed == true)
                            {
                                <button class="btn due-done-second done-third" style="border:1px solid #bbb;font-size: 11px;padding: 4px 7px;height: 25px;border: 1px solid #bbb;">Done</button>
                            }
                            else
                            {
                                <div class="btn" style="background:var(--main-bg-lcolor);height: 25px;color:#fff; padding: 4px 10px;float:left; font-size: 11px;">Due</div>
                            }
                            <img class="email-popup-second" src="~/ashok-images/rightaeps.svg" style="width: 11px;margin-top: 6px;float: right;" />
                        </td>

                    </tr>

                    <tr id="@i" style="display:none;background-color: #fff;">
                        <td colspan="8" style="padding:0px;">
                            <div id="@idno">
                                @*@Html.Partial("_SelectRID")*@
                            </div>
                        </td>
                    </tr>

                    i++;
                    id++;
                }

            }
        </tbody>
    </table>
</div>



<!--For Right Popup -->
<div class="modal mastetr222Modal mastermodal-second-design" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>

        <div id="userinfodiv" class="modal-content width100 float-left input-border-third">

            <div class="modal-body width100 float-left">
                <div class="background-kk width100 float-left mastermodal-second">
                    <div class="thisLeft float-left">
                        <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User" />
                    </div>
                    <div class="thisRight">
                        <ul class="float-left width100">
                            <li><span><b>Name:</b></span><span><label id="Names"></label></span></li>
                            <li><span><b>Firm:</b></span><span><label id="FirmName"></label></span></li>
                            <li><span><b>Registered Date:</b></span><span><label id="RegisteredDate"></label></span></li>
                            <li> <div id="alinks"></div></li>
                        </ul>
                    </div>
                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="background: #f5f5f5;border: 0px;position: absolute;right: 15px;top: 15px;padding: 4px 9px;height: auto;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("DealerIdshow")
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBox("Email11", "", new { @class = "form-control", placeholder = "Enter Email", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Pancard</label>
                                    @Html.TextBox("Pancard11", "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Aadhar Card</label>
                                    @Html.TextBox("Aadhar11", "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Balance</label>
                                    @Html.TextBox("Distributorbalance", "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase;background: #ffffce;", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Retailer's Balance</label>
                                    @Html.TextBox("Retailerbalance", "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase;background: #ffffce;", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col">
                                <div class="form-group">
                                    <label>Area Pin Code</label>
                                    @Html.TextBox("pincode11", "", new { @class = "form-control", placeholder = "Enter Area Pin Code", maxlength = 6, @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>GST Registration No</label>
                                    @Html.TextBox("GSTRegistrationNo11", "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 col">
                                <div class="form-group">
                                    <label>Margine(Offline)<span>%</span></label>
                                    <span id="offmargine" style="background: #fff;border: 1px solid #ccc;height: 32px;display: inline-block;width: 100%;line-height: 30px;color: #555;padding-left: 10px"></span>

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 col">
                                <div class="form-group">
                                    <label>Capping</label>
                                    <span id="Capping" style="background: #fff;border: 1px solid #ccc;height: 32px;display: inline-block;width: 100%;line-height: 30px;color: #555;padding-left: 10px"></span>
                                </div>
                            </div>
                        </div><!--.row-->



                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.TextBox("State11", "", new { @class = "form-control", placeholder = "Enter State", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                    @*     @Html.DropDownList("State11", new SelectList(ViewBag.state1, "Value", "Text"), "Select State", new { @class = "form-control", data_live_search = "true", @disabled = "disabled" })*@
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>District</label>
                                    @Html.TextBox("District11", "", new { @class = "form-control", placeholder = "Enter District", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                    @*@Html.DropDownList("District11",
                        new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                               "Select district",
                               new { @class = "form-control", data_live_search = "true", @disabled = "disabled" })*@
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextArea("address11", "", new { @class = "form-control", placeholder = "Enter Enter Address", @style = "text-transform:uppercase;height:72px", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        @*<div style="float: right; background: #f0f0f0 !important; ">

                <div class="KYCON onoffswitch" style="float: right; width: 114px; position: absolute; right: 15.6%; border: 1px solid #bfbebe !important; background: #f0f0f0 !important; ">
                    <span class="custom-off" style="height:32px;" id="chargeback_otpsts" onclick="OTPONOFF('KYCON')">Charge Back OTP</span>
                </div>
            </div>*@
                        <div class="modal-footer width100 float-left button-seconddesign">
                            <ul class="width100 float-left">

                                @if (iswritepermision)
                                {
                                    <!-- Sirf read-only users ko Edit/Delete ka option -->
                                    <li class="five onoffswitch">
                                        <button type="button" class="costom-on costom-off" id="chargeback_otpsts" onclick="OTPONOFF('KYCON')" style="border:0px;height:30px;"><span style="color:#777; font-size: 12px;">Charge Back OTP</span></button>
                                    </li>
                                    <li class="one2  onoffswitch">
                                        <button type="button" class="costom-on costom-off" id="self_upi" onclick="ONOFF('KYCON')" style="border:0px;height:30px;"><span style="color:#777; font-size: 12px;">Self UPI </span></button>
                                    </li>
                                    <li class="one" style="width:30%;">
                                        <button type="button" value="Edit" class="btn btn-first button-third" style="width: 80%; padding: 0px"><span style="color:#777;font-size:12px;">Edit & Update KYC</span></button>
                                    </li>
                                    <li class="One2" style="display:none;">
                                        <button type="button" value="SaveChange" class="btn special-iii btnssl2233 btn-first button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><span style="color: #777; font-size: 11px;">Save Change</span></button>
                                    </li>
                                    @*<li class="two">
                            <button type="button" value="Change" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Reset Password</button>
                        </li>*@
                                    <li class="three" style="width:18%;">
                                        <button type="button" value="Email_Verify" class="btn btn-first button-third" onclick="EmailVerify()" style="padding:0px;"><span style="color:#777;font-size:12px;">Email Verify</span></button>
                                    </li>
                                    <li class="four">
                                        <button type="button" value="Delet" class="btn btn-first button-third" onclick="Deleteuser()"><span style="color:#777;">Delete</span></button>
                                    </li>
                                }
                                else
                                {
                                    <!-- Write permission waalon ko Edit/Delete nahi dikhana -->
                                    @*<p>Write Permission: Edit/Delete allowed nahi hai</p>*@
                                }




                            </ul>

                            <div> <span id="error" style="color:red;"></span> </div>
                        </div><!--.modal-footer-->

                    </form>

                    <!--=============-->

                    
                        <div style=" width: 100%; float: left; display: flex; justify-content: space-between; }">
                            <div id="sellbutton">

                            </div>
                            <div id="Messages12">

                            </div>
                        </div>

                  
                        <div class="second-form tabcurrent-seconddesign" style="display:none;">
                            @using (Ajax.BeginForm("Edit_Distributer_dealer", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "distributorlist", OnSuccess = "OnSuccess", OnBegin = "chkvalidation" }))
                            {
                                @Html.Hidden("DealerId")
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Name</label>
                                            @Html.TextBox("NameEdit", "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label>Firm Name</label>
                                            @Html.TextBox("FirmEdit", "", new { @class = "form-control", placeholder = "Enter FirmName", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>DOB</label>
                                            <input type="date" id="DOBEdit" name="DOBEdit" class="form-control" style="padding:0px 10px;" required="required" />
                                            @*@Html.TextBox("DOBEdit", "", new { @class = "form-control", type = "date" , placeholder = "DOB", @style = "text-transform:uppercase;padding:0px 10px;", required = "required", @onkeypress = "javascript:return isNumber(event)" })*@
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group spspl">
                                            <label>Pancard<a href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/VerifyYourPanDeatils.html?lang=eng" target="_blank" style="font-size: 12px;font-weight: 400;color: blue;"> (Verification Link)</a></label>
                                            @Html.TextBox("pancardEdit", "", new { @class = "form-control", placeholder = "Enter Pancard No", @style = "text-transform:uppercase", })
                                            <div class="ss-right">
                                                <div class="row">
                                                    <div id="pandocshow">


                                                        <button type="button" class="btn" data-toggle="modal" data-target="#panviewdoc" value="view" title="View" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            View
                                                        </button>


                                                        <button type="button" class="btn" value="reject" title="Rejected" onclick="Rejected('pan')" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;" />
                                                        </button>

                                                        <div id="panapproved">

                                                            <button type="button" class="btn" value="view" title="Approved" onclick="Approved('pan')" style="border:1px solid #bbb;padding: 0px 6px;float: left;">
                                                                <i class="fa fa-check" aria-hidden="true" style="color:green;top:1px;"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div id="pandocnotshow">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn" value="Not Found" title="Document Not Found">
                                                                Doc Not Found
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group spspl">
                                            <label>Aadhar Card<a href="https://resident.uidai.gov.in/verify" target="_blank" style="font-size: 12px;font-weight: 400;color: blue;"> (Verification Link)</a></label>
                                            @Html.TextBox("AadhaarEdit", "", new { @class = "form-control", placeholder = "Enter Aadhaar Number", @style = "text-transform:uppercase", @onkeypress = "javascript:return isNumber(event)" })
                                            <div class="ss-right">
                                                <div class="row">
                                                    <div id="aadhardocshow">
                                                        <button type="button" class="btn" data-toggle="modal" data-target="#aadharviewdoc" value="view" title="View" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            View
                                                        </button>



                                                        <button type="button" class="btn" value="reject" title="Rejected" onclick="Rejected('aadhar')" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;" />
                                                        </button>

                                                        <div id="aadharapproved">

                                                            <button type="button" class="btn" value="view" title="Approved" onclick="Approved('aadhar')" style="border:1px solid #bbb;padding: 0px 6px;float: left;">
                                                                <i class="fa fa-check" aria-hidden="true" style="color:green;top:1px;"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="aadhardocnotshow">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn" value="Not Found" title="Document Not Found">
                                                                Doc Not Found
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group spspl">
                                            <label>GST Registration No<a href="https://services.gst.gov.in/services/searchtp" target="_blank" style="font-size: 12px;font-weight: 400;color: blue;"> (Verification Link)</a></label>
                                            @Html.TextBox("gstEdit", "", new { @class = "form-control", placeholder = "Enter GST Registration No", @style = "text-transform:uppercase" })
                                            <div class="ss-right">
                                                <div class="row">
                                                    <div id="gstdocshow">


                                                        <button type="button" class="btn" data-toggle="modal" data-target="#gstviewdoc" value="view" title="View" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            View
                                                        </button>


                                                        <button type="button" class="btn" value="reject" title="Rejected" onclick="Rejected('gst')" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;" />
                                                        </button>

                                                        <div id="gstapproved">
                                                            <button type="button" class="btn" value="view" title="Approved" onclick="Approved('gst')" style="border:1px solid #bbb;padding: 0px 6px;float: left;">
                                                                <i class="fa fa-check" aria-hidden="true" style="color:green;top:1px;"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div id="gstdocnotshow">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn" value="Not Found" title="Document Not Found">
                                                                Doc Not Found
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <!--.row-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group spspl">
                                            <label>Farm Aggreement</label>
                                            <input type="text" id="frmagrEdit" name="frmagrEdit" readonly style="height: 32px;padding: 5px;" />
                                            @*@Html.TextBox("frmagrEdit", "", new { @class = "form-control", placeholder = "Enter GST Registration No", @style = "text-transform:uppercase" })*@
                                            <div class="ss-right">
                                                <div class="row">
                                                    <div id="frmagrdocshow">


                                                        <button type="button" class="btn" data-toggle="modal" data-target="#frmagrviewdoc" value="view" title="View" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            View
                                                        </button>



                                                        <button type="button" class="btn" value="reject" title="Rejected" onclick="Rejected('Aggrement')" style="border:1px solid #bbb;float:left;margin-right:5px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;" />
                                                        </button>

                                                        <div id="frmagrapproved">

                                                            <button type="button" class="btn" value="view" title="Approved" onclick="Approved('Aggrement')" style="border:1px solid #bbb;padding: 0px 6px;float: left;">
                                                                <i class="fa fa-check" aria-hidden="true" style="color:green;top:1px;"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div id="frmagrdocnotshow">
                                                        <div class="col-md-12">
                                                            <button type="button" class="btn" value="Not Found" title="Document Not Found">
                                                                Doc Not Found
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <!--.row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>State</label>
                                            <div class="custom-district">
                                                <select id="StateEdit" onchange="Editstatechange()" name="StateEdit">
                                                    <option>Select State</option>
                                                </select>
                                            </div>
                                            @* @Html.DropDownList("StateEdit", new SelectList(ViewBag.state1, "Value", "Text"), "Select State", new { @class = "form-control", data_live_search = "true" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>District</label>
                                            <div class="custom-district">
                                                @Html.DropDownList("DistrictEdit",
                                              new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                                                     "Select district",
                                                     new { @class = "form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row" id="roleShowNot">
                                    <div class="col-md-4 col-sm-4 col-xs-12 col">
                                        <div class="form-group spspl">
                                            <label>Financial Role</label>
                                            @*<input type="text" id="frmagrEdit" name="frmagrEdit" readonly />*@

                                            @*@Html.TextBox("frmagrEdit", "", new { @class = "form-control", placeholder = "Enter GST Registration No", @style = "text-transform:uppercase" })*@
                                            <div id="DivEditddlrole" class="custom-district">
                                                <select id="Editddlrole" name="Editddlrole" class="form-control" required="required" style="height:34px;">
                                                    <option value="">Select Finincial Role</option>
                                                    <option value="FieldSalesOfficer" title="Field Sales Officer">FOS</option>
                                                    <option value="CommissionAgent">Commission Agent</option>
                                                </select>
                                            </div>
                                            <input type="text" readonly value="" style="display:none" id="Edittxtlrole" name="Edittxtlrole" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Pin Code</label>
                                            @Html.TextBox("PinEdit", "", new { @class = "form-control", placeholder = "Enter Pin Code", @style = "text-transform:uppercase", required = "required" })
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Capping <span style="color: #555;font-size: 11px;">(Amount)</span></label>
                                            @Html.TextBox("CappingEdit", "", new { @class = "form-control", placeholder = "Enter Capping Value", @style = "text-transform:uppercase", required = "required", @onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>



                                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Margine <span style="color: #555;font-size: 11px;">(Offline)</span></label>
                                            @Html.TextBox("offmargineEdit", "", new { @class = "form-control", placeholder = "Enter Offline Margine Value", @style = "text-transform:uppercase", required = "required", @onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            @Html.TextArea("AddressEdit", "", new { @class = "form-control", placeholder = "Enter Address", @style = "text-transform:uppercase", required = "required" })
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="modal-footer width100 float-left button-seconddesign">
                                    <ul class="width100 float-left">
                                        <li class="one">
                                            <button type="button" value="Edit" class="btn btn-first button-third"><span style="color:#777;">Edit</span></button>
                                        </li>
                                        <li class="One2" style="display:none;">
                                            <button type="submit" value="SaveChange" class="btn special-iii btnssl2233 fullbodydycolorbg btn-first button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;"><span style="color:#fff;">Save Change</span></button>
                                        </li>
                                        @*<li class="two">
                                <button type="button" value="Change" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Reset Password</button>
                            </li>
                            <li class="three">
                                <button type="button" value="Email_Verify" class="btn">Email Verify</button>
                            </li>
                            <li class="four">
                                <button type="button" value="Delet" class="btn">Delete MD</button>
                            </li>*@
                                    </ul>
                                </div><!--.modal-footer-->
                            }
                        </div>

                    </div>
            </div><!--.modal-body-->


        </div>

    </div>
</div>

<div id="panviewdoc" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="headershow" class="modal-title">Pan Card View</h4>
            </div>
            <div id="panmodal" class="modal-body">
                <img id="panimageshow" src="" style="width:550px;" />
            </div>
        </div>
    </div>
</div>
<div id="aadharviewdoc" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="headershow" class="modal-title">Aadhar Card View</h4>
            </div>
            <div id="aadharmodal" class="modal-body">
                Front  <img id="aadharimageshow" src="" style="width:550px;" />
                Back Image   <img id="aadharimagebackshow" src="" style="width:550px;" />
            </div>
        </div>

    </div>
</div>
<div id="gstviewdoc" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="headershow" class="modal-title">Gst View</h4>
            </div>
            <div id="gstmodal" class="modal-body">
                <img id="gstimageshow" src="" style="width:550px;" />
            </div>
        </div>

    </div>
</div>
<div id="frmagrviewdoc" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="headershow" class="modal-title">Certification View</h4>
            </div>
            <div id="gstmodal" class="modal-body">
                <img id="frmagrimageshow" src="" style="width:550px;" />
            </div>
        </div>

    </div>
</div>
<div id="otpmodal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="float:right;margin-top:0px;width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="headershow" class="modal-title">OTP</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ConfirmDeleteDealerOTP", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "distributorlist", OnSuccess = "OnSuccessdistributor", OnFailure = "OnFailureotperror" }))
                {
                    @Html.Hidden("DealerIddelete")
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">

                                @Html.TextBox("Deleteotp", "", new { @class = "form-control", placeholder = "Enter OTP", required = "required", @style = "background: #f5f5f5;border: 1px solid #bbb;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                            <span id="otpwrong" style="color:red;float:left; "></span>
                            <button type="submit" value="SaveChange" class="btn special-iii btnssl2233 fullbodydycolorbg btn-first" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="float: right;color: #fff;font-weight: 600;"><span style="color:#fff;">Delete User</span></button>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>
<script>


    function OnSuccessdistributor(data) {


        $('#distributorlist').html(data);
        $('#defaultModal222').hide();
        $('#otpmodal').hide();
        $(".modal-backdrop").hide();
        ToastrMessage();
        toastr.success("Account Deleted Successfully");
    }

    function OnFailureotperror(data) {

        $('#otpmodal').modal('show');
        //$('#otpwrong').text("otpmismatch");
        $('#otpwrong').text("OTP Mismatch , Please enter Correct OTP");
    }



</script>
<script>
    //$(document).ready(function () {
    $('.mastetr222Modal button.btn[value="Edit"]').click(function () {
        $(".mastetr222Modal .first-form").hide();
        $(".mastetr222Modal .second-form").show();
        $('.mastetr222Modal .modal-footer li.one').hide();
        $('.mastetr222Modal .modal-footer li.One2').show();
    });
    //});
</script>
<script>
    function OnFailure() {
        $('#otpwrong').text("Otp MissMatch");
    }
</script>
<script>
    function chkvalidation() {
        $("#PinEdit").parent().next(".alert.alert-success").remove(); // remove it
        var name = $('#NameEdit').val();
        var FarmName = $('#FirmEdit').val();
        var Email = $('#Email').val();
        var Mb = $('#Mb').val();
        var State = $('#StateEdit').val();
        var District = $('#DistrictEdit').val();
        var Address = $('#AddressEdit').val();
        var Editddlrole = $('#Editddlrole').val();
        var Pincode = $('#PinEdit').val();
        var adharcard = $('#AadhaarEdit').val();
        var gst = $('#gstEdit').val();
        var pancard = $('#pancardEdit').val();
        if (name == null || name == '') {
            $('#error').text('Master Distributor Name Required')
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Please Enter Name</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;

        }
        if (FarmName == null || FarmName == '') {
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Firm Name Required</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }


        if (pancard.length != 0) {
            var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
            if (!regex.test(pancard.toUpperCase())) {
                // $('#error').text('Invalid Pan No')
                // return false;
                $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid Pan No'</div>");
                RegisterSuccess.stopImmediatePropagation();

                return false;
            }


        }
        if (Editddlrole == null || Editddlrole == '') {
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Finincial Required'</div>");
            RegisterSuccess.stopImmediatePropagation();
        }
        if (State == null || State == '') {
            //   $('#error').text(' State Required')
            //  return false;
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'State Required'</div>");
            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (District == null || District == '') {
            //  $('#error').text(' District Required')
            //  return false;
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' District Required'</div>");
            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (Address == null || Address == '') {
            // $('#error').text(' Address Required')
            //  return false;
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' Address Required'</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }

        if (adharcard.length != 0) {


            if (validatesss(adharcard) == false) {
                //  $('#error').text('Invalid Adhar No')
                //    return false;
                $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid Adhar No'</div>");
                RegisterSuccess.stopImmediatePropagation();
                return false;
            }


        }
        if (gst.length != 0) {
            var gstinformat = new RegExp('^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$$');
            if (!gstinformat.test(gst)) {
                //  $('#error').text('Invalid GST No')
                //  return false;
                $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid GST No')'</div>");
                RegisterSuccess.stopImmediatePropagation();
                return false;
            }


        }
        if (Pincode == null || Pincode == '') {
            //  $('#error').text(' Pincode Required')
            //  return false;
            $("#PinEdit").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' Pincode Required')'</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }


    }

</script>
<script>
    function Deleteuser() {
        var DealerId = $('#DealerId').val();
          $.ajax({
            url: '@Url.Action("DeleteDD","Home")',
            type: 'POST',
            data: {DealerId:DealerId },
             cache: false,
            success: function (response) {
                 if (response == "success") {
                     $('#otpwrong').text('');
                    $('#otpmodal').modal('show');
                }
                else {

                    $('#otpmodal').modal('show');
                    $('#otpwrong').text(response);

                }
            }
        });
    }
</script>
@*<script>
        function Approved(val) {
            var DealerId = $('#DealerId').val();
             $.ajax({
                url: '@Url.Action("Approveddealersts","Home")',
                type: 'POST',
                data: { val: val,DealerId:DealerId },
                 cache: false,
                success: function (response) {
                    $('#distributorlist').html(response);
                        $(".modal-backdrop").hide();
              }
            });
        }
         function Rejected(val) {
            var DealerId = $('#DealerId').val();
             $.ajax({
                url: '@Url.Action("Rejecteddealersts","Home")',
                type: 'POST',
                data: { val: val,DealerId:DealerId },
                 cache: false,
                success: function (response) {
                     $('#distributorlist').html(response);
                        $(".modal-backdrop").hide();
              }
            });
        }
    </script>*@


<script>
    $(document).ready(function () {

        $("#defaultModal222").on('hide.bs.modal', function () {

             $.ajax({
            url: '@Url.Action("DealerlistPart","Home")',
            type: 'POST',
            cache: false,
            success: function (response) {
                $('#distributorlist').html(response);

          }
        });
        });

    });
      $("#defaultModal222").on('hide.bs.modal', function () {
            $.ajax({
            url: '@Url.Action("DealerlistPart","Home")',
            type: 'POST',
            cache: false,
            success: function (response) {
                $('#distributorlist').html(response);

          }
        });
        });
</script>


<script>


    function Approved(val) {
         var DealerId = $('#DealerId').val();
         $.ajax({
            url: '@Url.Action("Approveddealersts","Home")',
            type: 'POST',
            data: { val: val,DealerId:DealerId },
             cache: false,
             success: function (response) {
                 if (response==='pan') {
                     $('#panapproved').hide();


                 }
                 else if (response === 'aadhar') {
                     $('#aadharapproved').hide();

                 }
                 else if (response === 'gst') {
                     $('#gstapproved').hide();

                 }
                 else if (response==='Aggrement') {
                     $('#frmagrapproved').hide();

                 }
                  if ($('#panapproved').css('display') == 'none' && $('#aadharapproved').css('display') == 'none' ) {
                      $('#frmagrEdit').val('Aggrement Status Pending');


                      $('#frmagrapproved').hide();

                 }

               // $('#Masterlistupdate').html(response);
                  //  $(".modal-backdrop").hide();
          }
        });
    }
     function Rejected(val) {
        var DealerId = $('#DealerId').val();
         $.ajax({
            url: '@Url.Action("Rejecteddealersts","Home")',
            type: 'POST',
            data: { val: val,DealerId:DealerId },
             cache: false,
            success: function (response) {
              //  $('#Masterlistupdate').html(response);
              //  $(".modal-backdrop").hide();

                if (response === 'pan') {
                   $("#pandocnotshow").show();
                    $("#pandocshow").hide();

                    $('#frmagrdocshow').hide();
                    $("#frmagrdocnotshow").show();
                      $('#frmagrEdit').val('KYC Due');

                 }
                 else if (response === 'aadhar') {
                    $("#aadhardocnotshow").show();
                    $("#aadhardocshow").hide();

                    $('#frmagrdocshow').hide();
                    $("#frmagrdocnotshow").show();
                      $('#frmagrEdit').val('KYC Due');
                 }
                 else if (response === 'gst') {
                     $("#gstdocnotshow").show();
                    $("#gstdocshow").hide();
                 }
                 else if (response === 'Aggrement') {
                    $("#frmagrdocnotshow").show();
                    $('#frmagrdocshow').hide();
                     if ($('#pandocnotshow').css('display') == 'block' || $('#aadhardocnotshow').css('display') == 'block') {
                    $('#frmagrdocshow').hide();
                     $("#frmagrdocnotshow").show();
                    $('#frmagrEdit').val('KYC Due');
                   // $('#frmagrEdit').val('Aggrement Status Pending');
                    //if ($('#frmagrapproved').css('display') == 'none') {
                    //    $('#frmagrEdit').val('Aggrement Status Pending');

                    //    $('#alinks').empty();
                    //}
                    //else {
                    //    $('#Edittxtlrole').hide();
                    //    ravi("#DivEditddlrole").show();
                    //    $('#frmagrdocshow').hide();
                    //    $('#frmagrapproved').hide();
                    //    $("#frmagrdocnotshow").show();
                    //    $('#frmagrEdit').val('KYC Due');
                    //    //  $('#frmagrEdit').val('Aggrement Status Pending');
                    //}



                }
                else {
                     $('#frmagrapproved').hide();
                        $("#frmagrdocnotshow").show();
                    $('#frmagrEdit').val('Aggrement Status Pending');
                    $('#alinks').empty();
                }

                }
          }
        });
    }
</script>


<script>
    function OnSuccess() {
        $(".modal-backdrop").hide();
        ravi("select").select2();
    }
    $(document).ajaxComplete(function () {
        ravi("select").select2();
    })
</script>

<script language="javascript" type="text/javascript">
       function Editstatechange() {

         var stid = $('#StateEdit').val()
            GetDistrict11(stid)

    }
    function GetDistrict11(_stateId) {

            var procemessage = "<option value='0'> Please wait...</option>";
            $("#DistrictEdit").html(procemessage).show();
            var url = '@Url.Action("DistrictList","Home")'
            $.ajax({
                url: url,
                data: { Id: _stateId },
                cache: false,
                type: "POST",
                success: function (data3) {
                    ravi("#DistrictEdit").html("");
                    for (var x = 0; x < data3.length; x++) {
                        ravi("#DistrictEdit").append($('<option></option>').val(data3[x].Value).html(data3[x].Text));
                    }
                },

            });
        }
</script>

<script>
    function mdActionBtn(SSId) {


      $('#loadredmodel').show();
         $('#userinfodiv').hide();
        $('#alinks').html('');
        $.ajax({
            url: '@Url.Action("DealerByIdSearch","Home")',
            type: "POST",
            data: { ssid: SSId },
            cache: false,
            success: function (data2) {

                      $('#error').text("");
                var date = new Date(parseInt((data2.list[0].JoinDate).match(/\d+/)[0]))

                var createddate = converttoDate(date);

                var datess = data2.list[0].DOF;
                var dateTimesss = moment(datess).format("YYYY-MM-DD");

                var CCNValue = data2.list[0].adharcard;
                CCNValue = CCNValue.substring(0, 8).replace(/\d/g, "X") + CCNValue.substring(8);


                $("#DealerId").val(data2.list[0].DealerId);
                $("#DealerIddelete").val(data2.list[0].DealerId);
                $("#DealerIdshow").val(data2.list[0].DealerId);
                $("#Names").text(data2.list[0].DealerName);
                $("#NameEdit").val(data2.list[0].DealerName);
                $("#FirmName").text(data2.list[0].FarmName);
                $("#FirmEdit").val(data2.list[0].FarmName);
                $("#DOBEdit").val(dateTimesss);
                $("#RegisteredDate").text(createddate);
                $("#Email11").val(data2.list[0].Email);
                $("#Pancard11").val(data2.list[0].pancard);
                $("#pancardEdit").val(data2.list[0].pancard);
                $("#Aadhar11").val(CCNValue);
                $("#AadhaarEdit").val(data2.list[0].adharcard);
                $("#GSTRegistrationNo11").val(data2.list[0].gst);
                $("#gstEdit").val(data2.list[0].gst);
                  $('#Edittxtlrole').hide();
                ravi("#DivEditddlrole").show();
               ravi("#Editddlrole").val(data2.list[0].FinincialRolesType).trigger('change');
                $("#pincode11").val(data2.list[0].Pincode);
                $("#PinEdit").val(data2.list[0].Pincode);

                $("#Capping").text(data2.list[0].caption);
                $("#CappingEdit").val(data2.list[0].caption);
                //$("#masterremain").html(data2[0].superremain);
                $("#offmargine").html(data2.list[0].dlmcomminper);
                $("#offmargineEdit").val(data2.list[0].dlmcomminper);
                $("#Distributorbalance").val(data2.list[0].remaindlm);
                $("#Retailerbalance").val(data2.list[0].remainrem);
                $("#State11").val(data2.list[0].State_name);
                $("#District11").val(data2.list[0].Dist_Desc);
                $("#address11").val(data2.list[0].Address);
                $("#AddressEdit").val(data2.list[0].Address);
                $("#StateEdit").val(data2.list[0].State);
                var dealerId = data2.list[0].DealerId;
                var buttonHTML = "";

                console.log(data2.list[0].selregSTATUS);
                console.log(data2.list[0].sellstatus);
                if (data2.list[0].selregSTATUS == null && data2.list[0].sellstatus == null) {
                   /* $("#sellbutton").val("<button>Submit<button>");*/


                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + dealerId + '\', \'SELL STATUS\')" style=" border: 1px solid; padding: 4px 7px; background: #f61212; color: #fff;"><div>SELL STATUS</div></div>';
                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                else if (data2.list[0].selregSTATUS == false && data2.list[0].sellstatus == false) {
                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + dealerId + '\', \'Registration\')" style=" border: 1px solid; padding: 4px 7px; background: #d9811b; color: #fff;"><div>Registration</div></div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                else if (data2.list[0].selregSTATUS == true && data2.list[0].sellstatus == false) {
                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + dealerId + '\', \'Sell RECHARGE OFF\')" style=" border: 1px solid; padding: 4px 7px; background: #f61212; color: #fff;"><div>Sell RECHARGE OFF</div></div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                else if (data2.list[0].selregSTATUS == true && data2.list[0].sellstatus == true) {

                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + dealerId + '\', \'Sell RECHARGE ON\')" style=" border: 1px solid; padding: 4px 7px; background: #1db61f; color: #fff;"><div>Sell RECHARGE ON</div></div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                document.getElementById('Messages12').innerHTML ='';
                var chargeback_otpsts = data2.list[0].chargeback_otpsts;


                if (chargeback_otpsts == true) {
                    $('#chargeback_otpsts').addClass('costom-on')
                    $('#chargeback_otpsts').removeClass('custom-off')
                }
                else {
                    $('#chargeback_otpsts').addClass('custom-off')
                    $('#chargeback_otpsts').removeClass('costom-on')
                }

                var self_upi = data2.list[0].DealerSelf_sts;


                if (self_upi == true)
                {
                    $('#self_upi').addClass('costom-on')
                    $('#self_upi').removeClass('custom-off')
                }
                else
                {
                    $('#self_upi').addClass('custom-off')
                    $('#self_upi').removeClass('costom-on')
                }
                var pancarddoc = data2.list[0].pancardPath;
                var aadhardoc = data2.list[0].aadharcardPath;
                var aadhardocback = data2.list[0].BackSideAadharcardphoto;
                var gstdoc = data2.list[0].frimregistrationPath;
                 var frmagmnt=data2.list[0].Agreementpath;
                if (pancarddoc == null) {
                    $("#pandocnotshow").show();
                    $("#pandocshow").hide();
                }
                else {
                    $("#pandocnotshow").hide();
                    $("#pandocshow").show();
                    $('#panimageshow').attr('src', "../.." + pancarddoc);
                }
                 if (aadhardoc == null || aadhardocback == null) {
                    $("#aadhardocnotshow").show();
                    $("#aadhardocshow").hide();
                }
                else {
                    $("#aadhardocnotshow").hide();
                    $("#aadhardocshow").show();
                    $('#aadharimageshow').attr('src', "../.." + aadhardoc);
                    $('#aadharimagebackshow').attr('src', "../.." + aadhardocback);
                }
                  if (gstdoc == null) {
                    $("#gstdocnotshow").show();
                    $("#gstdocshow").hide();
                }
                else {
                    $("#gstdocnotshow").hide();
                    $("#gstdocshow").show();
                    $('#gstimageshow').attr('src', "../.." + gstdoc);
                }

                if (data2.list[0].PSAStatus == "Y") {
                    $('#panapproved').hide();

                }
                else {
                     $('#panapproved').show();
                }
                  if (data2.list[0].AadhaarStatus == "Y") {
                        $('#aadharapproved').hide();
                    }
                else {

                    $('#aadharapproved').show();
                }

                if (data2.list[0].gststatus == "Y") {
                    $('#gstapproved').hide();

                }
                else {
                     $('#gstapproved').show();
                }

                if (data2.list[0].PSAStatus == "Y" && data2.list[0].AadhaarStatus == "Y") {
                    if (frmagmnt == null) {
                        $('#frmagrEdit').val('Aggrement Status Pending');
                        $("#frmagrdocnotshow").show();
                        $('#frmagrdocshow').hide();
                        $('#frmagrapproved').hide();
                           $("#FirmEdit").prop("readonly", true);
                          $("#NameEdit").prop("readonly", true);
                        $("#AddressEdit").prop("readonly", true);
                         $("#pancardEdit").prop("readonly", true);
                        $("#AadhaarEdit").prop("readonly", true);
                       $("#DOBEdit").prop("readonly", true);

                    }

                    else {
                          $("#AddressEdit").prop("readonly", false);
                        $("#NameEdit").prop("readonly", false);
                        $("#DOBEdit").prop("readonly", false);
                       $("#pancardEdit").prop("readonly", false);
                        $("#AadhaarEdit").prop("readonly", false);
                         $('#frmagrEdit').val('Aggrement Status Pending');
                        $('#frmagrapproved').show();
                         $("#frmagrdocnotshow").hide();
                    $("#frmagrdocshow").show();
                    $('#frmagrimageshow').attr('src', "../.." + aadhardoc);


                    }
                         //
                        if (data2.list[0].IsAgreement === true) {
                            $("#frmagrdocnotshow").hide();
                            $('#frmagrapproved').hide();
                            $('#Edittxtlrole').show();
                            ravi("#DivEditddlrole").hide();
                            $('#Edittxtlrole').val(data2.list[0].FinincialRolesType)
                            var link = $("<a>");
                            link.attr("href", "http://www.google.com");
                            link.attr("title", "Google.com");
                            link.text("Certificate");
                            link.addClass("link");
                            $('#alinks').html(link);
                            $('#frmagrimageshow').attr('src', "../.." + frmagmnt);
                            $('#frmagrEdit').val('Agreement  Status Appoved Please Check Your Certificate.');
                        }
                        else {

                        }





                }
               else {
                              $('#Edittxtlrole').hide();
                              ravi("#DivEditddlrole").show();
                               $('#frmagrdocshow').hide();
                    $('#frmagrapproved').hide();
                    $('#frmagrEdit').val('KYC Due');

                }




      ravi("#StateEdit").val(data2.list[0].state);


                ravi('#StateEdit').html('');
                var options = '';
                options += '<option value="">Select</option>';
                var se;
                for (var i = 0; i < data2.state.length; i++) {
                    if (data2.state[i].Selected == true) {
                        options += '<option selected  value="' + data2.state[i].Value + '">' + data2.state[i].Text + '</option>';
                    }
                    else {
                         options += '<option  value="' + data2.state[i].Value + '">' + data2.state[i].Text + '</option>';
                    }

                }
              ravi('#StateEdit').append(options);
                GetDistrict11(data2.list[0].State);
                var objSelect11 = document.getElementById("DistrictEdit");
                binddistmdAction(data2.list[0].State, data2.list[0].District, objSelect11);
                  $('#loadredmodel').hide();
                $('#userinfodiv').show();
          }
        });
    }
    function converttoDate(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2),
                Hrs = (date.getHours()),
                mnts = (date.getMinutes()),
                sec = (date.getSeconds());
            return dd= [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
        }
    function binddistmdAction(staid, dist, objSelect11) {
            var url = '@Url.Action("DistrictList","Home")'
            $.ajax({
                url: url,
                data: { Id: staid },
                cache: false,
                type: "POST",
                success: function (data1) {
                    var markup = "<option value='0'>Select District</option>";
                    for (var x = 0; x < data1.length; x++) {
                        markup += "<option value=" + data1[x].Value + ">" + data1[x].Text + "</option>";
                    }
                    $("#DistrictEdit").html(markup).show();
                    setSelectedValue(objSelect11, dist);
                }

            });
    }
    function setSelectedValue(selectObj, valueToSet) {
            for (var i = 0; i < selectObj.options.length; i++) {
                if (selectObj.options[i].value == valueToSet) {
                    //alert(selectObj.options[i].value);
                    selectObj.options[i].selected = true;
                    return;
                }
            }
    }
    function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();
    if (month.length < 2)
        month = '0' + month;
    if (day.length < 2)
        day = '0' + day;
    return [year, month, day].join('-');
}
</script>
<script>
    function EmailVerify() {
        var DealerId = $('#DealerId').val();
         $.ajax({
            url: '@Url.Action("emailverifyfordealer","Home")',
            type: "POST",
            data: { dealerid: DealerId },
             cache: false,
             dataType: "html",
             success: function (data2) {
                 $('#distributorlist').html(data2);
                $('#defaultModal222').hide();
                 $(".modal-backdrop").hide();
          }
        });
    }

</script>
<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>

<script>
    function OTPONOFF(usefor) {
        var DealerId = $('#DealerId').val();
       $.ajax({
            url: '@Url.Action("ChargeBack_OTP_ON_OFF", "Home")',
           type: 'GET',
           data: { DealerId: DealerId },
           success: function (data) {
               console.log(data)
                    if (data.status == "Success") {
                        if (data.Message == true) {
                            $('#chargeback_otpsts').removeClass('custom-off');
                            $('#chargeback_otpsts').addClass('costom-on');
                        }
                        else {
                            if (data.Message == false) {
                                $('#chargeback_otpsts').removeClass('costom-on');
                                $('#chargeback_otpsts').addClass('custom-off');
                            }
                        }
                    }
                    else {
                        ToastrMessage();
                        toastr.error(data.Message);
                    }
            }
        });
    }
</script>


<script>
    function ONOFF(usefor) {
        var DealerId = $('#DealerId').val();
       $.ajax({
            url: '@Url.Action("Self_Upi_STS_ON_OFF", "Home")',
           type: 'GET',
           data: { DealerId: DealerId },
           success: function (data) {
               console.log(data)
                    if (data.status == "Success") {
                        if (data.Message == true) {
                            $('#self_upi').removeClass('custom-off');
                            $('#self_upi').addClass('costom-on');
                        }
                        else {
                            if (data.Message == false) {
                                $('#self_upi').removeClass('costom-on');
                                $('#self_upi').addClass('custom-off');
                            }
                        }
                    }
                    else {
                        ToastrMessage();
                        toastr.error(data.Message);
                    }
            }
        });
    }
</script>
<script>
    function disrecharsellupdate(sww , text) {
        console.log(sww);

        $.ajax({
            url: '@Url.Action("dealerrechSellUpdate","Home")',
            type: "POST",
            data: { ssid: sww, Type: text },
            cache: false,
            success: function (data2) {

                console.log(data2.list);
                console.log(data2.list1);
                var buttonHTML = "";
                if (data2.list1 == false && data2.list == false) {
                    var buttonHTML = '<div onclick="disrecharsellupdate(\'' + sww + '\', \'Registration\')" style=" border: 1px solid; padding: 4px 7px; background: #d9811b; color: #fff;">Registration</div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;

                }
                else if (data2.list == true && data2.list1 == true) {

                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + sww + '\', \'Sell RECHARGE ON\')" style=" border: 1px solid; padding: 4px 7px; background: #1db61f; color: #fff;">Sell RECHARGE ON</div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                else if (data2.list == false && data2.list1 == true) {

                    buttonHTML = '<div onclick="disrecharsellupdate(\'' + sww + '\', \'Sell RECHARGE OFF\')" style=" border: 1px solid; padding: 4px 7px; background: #f61212; color: #fff;">Sell RECHARGE OFF</div>';

                    document.getElementById('sellbutton').innerHTML = buttonHTML;
                }
                document.getElementById('Messages12').innerHTML = data2.Mess;

            }
        });










    }

</script>