@model List<Vastwebmulti.Models.all_dispute_list_Result>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    var color = "";
  
<tr onclick="@Url.Action("ShowAll", "Home", new { idno = item.rch_id, disput = item.dispute_region })">

    <td>

        @if (item.sts.Contains("Pending"))
        {
            <i style='color: antiquewhite;'><button id='but' class='view' href='#' style='background: none;border: none;' data-toggle='tooltip' data-placement='bottom' title='View Status'><img src="~/ashok-images/clock.svg" style="width: 20px;"></button></i>
            ;
        }
        @if (item.sts.Contains("Rejected"))
        {
            <img src="~/ashok-images/closes.svg" style="width: 19px;background:red;border-radius: 50%;padding: 3px;">
            ;

        }
        @if (item.sts.Contains("Approved"))
        {
            <img src="~/ashok-images/correct.svg" style="width: 19px;background:green;border-radius: 50%;padding: 3px;">
            ;

        }


        <i></i>&nbsp;<span>@item.Roles</span>&nbsp;⇒&nbsp;<span>@item.Frm_Name</span>
        @*<p style="color:@color; font-weight:700;">@item.Roles </p>*@
    </td>

    <td>@item.rch_number</td>
    <td>@item.rch_amount</td>
    <td>@item.opt</td>
    <td>@item.portno</td>


    <td>@item.dis_time</td>
    <td>@item.dispute_region</td>
    <td>@item.opt_id</td>
    <td>@item.comment</td>
    <td>@item.rch_time</td>
    @*<td>@item.comment</td>*@
    <td>
        @if (item.sts == "Pending")
        {
            <center>
                <a href="@Url.Action("ShowAll", "Home", new { idno = item.rch_id, disput = item.dispute_region })" style=" padding:1px 4px 1px 4px;margin-top:4px;cursor:pointer;background: #f0f0f0;border: 1px solid #bbb;padding: 3px 10px;" title="Show Dispute">
                    <img src="~/ashok-images/rightaeps.svg" style="width:13px;margin-top:2px;">
                </a>

            </center>

        }
    </td>
</tr>
}


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>