@model Vastwebmulti.Areas.ADMIN.Models.RetailerDetalsModel


@if (Model.select_retailer_details_paging != null)
{
    int i = 0;
    int id = 51;
    foreach (var item in Model.select_retailer_details_paging)
    {
        var idno = "subTbl";
        idno = idno + i;

        var idshow = "subTblshow";
        idshow = idshow + i;

        var idhide = "subTblhide";
        idhide = idhide + i;


        var colorchange = "";
        var borderleft = "";
        var imggg = "";
        if (item.aadharcardPath != null && item.BackSideAadharcardphoto != null && item.pancardPath != null)
        {
            if (item.PSAStatus == "N" && item.AadhaarStatus == "N")
            {
                colorchange = "#dbdb70";

                borderleft = "7px solid var(--main-bg-lcolor)";
                imggg = "☻";

            }

        }


        <tr class="tr" style="background-color:@colorchange">
            @*<td></td>*@
            <td style="display: flex; align-items: center; border: none;">
                <div style="margin-right: 10px;">
                    @if (item.aadhar_image != null)
                    {
                        <img src="@item.aadhar_image" width="30" alt="aadhar" style="cursor: pointer;" onclick="viewImage(this)" />
                    }
                    else
                    {
                        <div style="border: 1px solid var(--border-color); display: grid; padding: 2px">
                            <span style="font-size: 9px;max-width: 30px; text-align: center;">No</span>
                            <span style="font-size: 9px;max-width: 30px; text-align: center;">Image</span>
                        </div>
                    }
                </div>
                <div style="display: grid">
                    <div>@item.RetailerName</div>
                    <div style="display: flex; border: none;">
                        <div style="margin-right: 4px;">
                            <span class="onoffswitch costom-on-second" style="border:0px;">
                                <button style="margin-left:0px;background:transparent;border:none;">
                                    @if (item.Status == "Y")
                                    {
                                        <span id="" class="securtyoff-show" style="height:10px;width:10px;float:left;background:#4aa815;position: absolute; top:1px;border-radius: 50px;"></span>
                                    }
                                    else
                                    {
                                        <span id="" class="securtyoff-show" style="height:10px;width:10px;float:left;background:red;position: absolute; top:1px;border-radius: 50px;"></span>
                                    }
                                </button>

                            </span>
                        </div>
                        <div style="margin-left: 5px;">@item.Frm_Name</div>
                    </div>
                </div>
            </td>

            <td style="width: 12%;">
                <div style="display: flex; justify-content: space-around; border: none; align-items: center">
                    <div style="margin-right: 1px;">
                        @if (item.PhoneNumberConfirmed == true)
                        {
                            <span id="" class="securtyoff-show" style="height:10px;width:10px;float:left;background:#4aa815;margin-bottom: 2px;"></span>
                        }
                        else
                        {
                            <span id="" class="securtyoff-show" style="height:10px;width:10px;float:left;background:red;margin-bottom: 2px;"></span>
                        }
                    </div>
                    <div>@item.Mobile</div>

                </div>
            </td>
            <td style="border-left:@borderleft">@item.DealerFarmName</td>
            <td style="display: flex; justify-content: space-around; border: none; position: relative; top: 8px;">
                @if (item.aadhar_verification == true)
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="costom-on clscall" id="" value="ON" style="border:1px solid #aaa4a4;">
                            <span style="font-size: 8px">Verified</span>
                        </button>
                    </span>
                }
                else
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="custom-pending clscall" id="" value="ON" style="border:1px solid #aaa4a4; width:100%;">
                            <span style="font-size: 8px">Unverify</span>
                        </button>
                    </span>
                }
                @if (item.pan_verification == true)
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="costom-on clscall" id="" value="ON" style="border:1px solid #aaa4a4;">
                            <span style="font-size: 8px">Verified</span>
                        </button>
                    </span>
                }
                else
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="custom-pending clscall" id="" value="ON" style="border:1px solid #aaa4a4; width:100%;">
                            <span style="font-size: 8px">Unverify</span>
                        </button>
                    </span>
                }
                @if (item.EmailConfirmed == true)
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="costom-on clscall" id="" value="ON" style="border:1px solid #aaa4a4;">
                            <span style="font-size: 8px">Verified</span>
                        </button>
                    </span>
                }
                else
                {
                    <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                        <button data-idno="" class="custom-pending clscall" id="" value="ON" style="border:1px solid #aaa4a4; width:100%;">
                            <span style="font-size: 8px">Unverify</span>
                        </button>
                    </span>
                }
            </td>
            <td>
                @item.Remainamount<br />
                @if (item.caption > 0)
                {
                    <span style="color: #595959;background:#ffffff;padding: 3px 3px;font-size: 9px;border-radius: 4px; border: 1px solid #ccc;">Caping&nbsp;-&nbsp;@item.caption </span>
                }
            </td>

            <td>

                <p style="">

                    @foreach (var itempermission in Model.Service_BlockUserwiseclslist)
                    {
                        var customclsadd = "";
                        var textdata = "OFF";
                        if (item.RetailerId == itempermission.remid)
                        {
                            if (itempermission.idno == itempermission.serviceidno && itempermission.servicestatus == true)
                            {
                                customclsadd = "costom-on";
                                textdata = "ON";
                            }
                            else
                            {
                                customclsadd = "custom-off";
                                textdata = "OFF";
                            }
                            <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                                <button data-idno="@itempermission.basedupdate_id" class="@customclsadd clscall" id="" value="ON" onclick="callstats(this)" style="border:1px solid #aaa4a4;">
                                    <img src="~/AdminDesign/images/money(1).svg" style="width: 10px; margin-right: 2px; margin-top: 1px; float: left; margin-left: 2px; ">
                                    <span style="">@textdata</span>
                                </button>
                            </span>



                        }
                    }

                </p>

            </td>
            <td class="kyc-button" style="display: flex;border: 0px;" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.RetailerId')">
                @if (item.PSAStatus == "Y" && item.AadhaarStatus == "Y" && item.ShopwithSalfieStatus == "Y")
                {
                    <button class="btn done-third" style="border:1px solid #bbb;font-size: 11px !important;padding: 4px 7px;height: 25px;border: 1px solid #bbb;">Done</button>
                }
                else
                {
                    <div class="btn" style="background:var(--main-bg-lcolor);height: 25px;color:#fff; padding: 4px 8px;float:left; font-size: 11px;">&nbsp;Due&nbsp;</div>
                }

                <img class="email-popup-second" src="~/ashok-images/rightaeps.svg" style="width: 12px;margin-left: 6px;float: right;">

            </td>

        </tr>


        i++;
        id++;
    }

}