@model List<Vastwebmulti.Models.proc_HotelCancellationReport_Result>
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }

    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/TRAVEL.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .rechargepdfexal span {
        background-color: #eeebeb;
        border: 1px solid #ccc;
        color: #aaaaaa;
        height: 32px;
        display: inline-block;
        padding: 5px 7px;
    }

        .rechargepdfexal span img {
            position: relative;
            left: -3px;
        }

    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .jkjk::after {
        display: none;
    }

    @@media only screen and (max-width: 1366px) and (min-width: 993px) {
        .tre1, .tre2, .tre4 {
            width: 50% !important;
            float: left !important;
            margin-bottom: 15px;
        }

        .tre3 {
            width: 100%;
            float: left;
            margin-bottom: 15px;
        }

        .tre1 ul li, .tre2 ul li {
            width: 32%;
        }

        .tre4, .web-white-filter {
            float: left !important;
        }

        .tre1 ul li a, .tre2 ul li a {
            text-align: left !important;
        }

        .tre4 .rechargepdfexal {
            float: left !important;
        }
    }

    @@media only screen and (max-width: 992px) and (min-width: 481px) {
        .tre1, .tre2 {
            width: 50% !important;
            float: left !important;
            margin-bottom: 15px;
        }

        .tre3 {
            width: 100%;
            float: left;
            margin-bottom: 15px;
        }

        .tre1 ul li, .tre2 ul li {
            width: 32%;
        }

        .web-white-filter {
            float: left !important;
        }

        .tre1 ul li a, .tre2 ul li a {
            text-align: left !important;
        }

        .responcive-fifty {
            width: 50% !important;
            float: left;
            margin: 0;
            margin-bottom: 10px;
        }

            .responcive-fifty div {
                margin-right: 3px;
                margin-bottom: 10px;
            }

        .responcive-full {
            width: 100% !important;
            float: left;
            margin-bottom: 10px !important;
        }

            .responcive-full input {
                width: 50% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

            .responcive-full .nrr3 {
                width: 49.5% !important;
            }

            .responcive-full .form-group.jjp {
                width: 100%;
                margin-bottom: 10px;
            }

        .responcive-fifty button {
            width: 100%;
            text-align: left;
        }

        .col-md-2.tre4 {
            position: absolute;
            right: 0;
            bottom: 35px;
        }

        .up-to-up .card {
            float: left;
        }
    }

    @@media only screen and (max-width:480px) {
        .tre1, .tre2 {
            width: 100%;
            margin-bottom: 5px;
        }

            .tre1 .kklo #custnav ul li a {
                padding: 5px 25px !important;
            }

        .tre2 {
            padding-left: 0px !important;
        }

            .tre2 .uuio #ul li a {
                padding: 5px 40px;
            }

        .tre3 {
            width: 100%;
            margin-bottom: 15px;
        }

            .tre3 .col-md-2 {
                width: 49% !important;
                height: 32px;
                margin-bottom: 5px;
            }

            .tre3 .col-md-5 {
                width: 100% !important;
            }

                .tre3 .col-md-5 .form-group.jjp {
                    width: 100%;
                    margin-bottom: 5px;
                }

                    .tre3 .col-md-5 .form-group.jjp input {
                        width: 49% !important;
                    }

                    .tre3 .col-md-5 .form-group.jjp .nrr3 {
                        width: 50%;
                    }

                        .tre3 .col-md-5 .form-group.jjp .nrr3 input {
                            width: 100% !important;
                        }

        .tre4 {
            position: absolute;
            bottom: -175px;
            right: 4px;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }
    }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12 up-to-up">
                <div class="card card-rel-third-respo" style="margin-bottom:0px;">
                    <div class="col-md-2 tre1 up-third-design airtab-respon-third" style="padding: 0;">
                        <div>
                            @Html.Partial("~/Areas/ADMIN/Views/Air/_travelReportMenu.cshtml")
                        </div>
                    </div>
                    <div class="col-md-2 tre2 up-third-design airtab-respon-third" style="padding: 0;">
                        @Html.Partial("HotelpartialView")
                    </div>
                    <div class="col-md-6 tre3 all-type-third tickt-third-responsive" style="padding: 0;">

                        @using (Html.BeginForm("CancellationQueue", "Hotel", FormMethod.Post))
                        {



                            <div class="col-md-2 mrj jkjk responcive-fifty">
                                <div class="" style="">
                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Admin",Value="Admin"},
                           new SelectListItem{Text="Master",Value="Master"},
                           new SelectListItem{Text="Distributor",Value="Dealer"},
                           new SelectListItem{Text="Retailer",Value="Retailer"},
                           //new SelectListItem{Text="Api User",Value="APIID"},
                            new SelectListItem{Text="Whitelabel",Value="Whitelabel"}
                          }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;;", @onchange = "answers()" })

                                </div>
                            </div>

                            <div class="col-md-2 mrj dip jkjk responcive-fifty" style="display:none;" id="allwhitelabel">
                                <div class="form-line">
                                    @Html.DropDownList("allwhitelabel", ViewBag.allwhitelabel as SelectList, "All Whitelabel", new { @style = "margin-top:0px", @class = "for-select2 form-control", data_live_search = "true", })
                                </div>
                            </div>
                            <div class="col-md-2 mrj  dip jkjk responcive-fifty" style="display:none;" id="allmaster">
                                <div class="form-line">
                                    @Html.DropDownList("allmaster", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px", @class = "for-select2  form-control", data_live_search = "true", })
                                </div>
                            </div>

                            <div class="col-md-2 mrj  dip jkjk responcive-fifty" style="display:none;" id="dlm">
                                <div class="form-line">
                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 mrj  dip jkjk responcive-fifty" style="display:none;" id="rem">
                                <div class="form-line">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 mrj jkjk responcive-fifty" id="sts">
                                <div class="">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="Status",Value="",},
                                    new SelectListItem{Text="Success",Value="Confirmed"},
                                    new SelectListItem{Text="Pending",Value="Proccessed"},
                                    new SelectListItem{Text="Failed",Value="Failed"}
                                    }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>



                            <div class="col-md-2 mrj responcive-fifty" style="width: 100px;">
                                <div class="inp">
                                    @Html.TextBox("BookingId", "", new { placeholder = "TXN/REF NO", autocomplete = "off", @style = "height:32px;border:1px solid #dddddd;padding:5px;" })
                                </div>
                            </div>

                            <div class="col-md-5 mrj responcive-full" style="width: auto;">
                                <div class="form-group jjp">
                                    <div class="input-daterange input-group">
                                        <div class="custom-date-icon ner">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                        <div class="nrr3">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="mrj responcive-fifty" style="margin-right: 0px;">
                                    <button type="submit" name="submit" class="btn input-back-second" style=" height:32px;border:1px solid #c7c2c2;background:transparent;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </div>
                            </div>






                        }

                    </div>
                    <div class="col-md-2 tre4 spanpdfback-third widthautposit-third-respon" style="padding: 0;">
                        <div class="rechargepdfexal pdfexport-span-second" style="float:right;">
                            <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                            <span>
                                <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div>
                        <div class="table-responsive " style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover example-second thpadding-second" style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Email&nbsp;Id</th>
                                        <th>Retailer&nbsp;Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Cancellation&nbsp;Id</th>
                                        <th>Booking&nbsp;Id</th>
                                        <th>Cancallation&nbsp;Charge</th>
                                        <th>Refund&nbsp;Amount</th>
                                        <th>Request&nbsp;Date</th>
                                        <th>Response&nbsp;Date</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var sts = "";
                                        var color = "";
                                        if (item.ChangeRequestStatus.Contains("1") || item.ChangeRequestStatus.Contains("2"))
                                        {
                                            color = "#ff9600";
                                            sts = "Pending";
                                        }
                                        if (item.ChangeRequestStatus.Contains("3"))
                                        {
                                            color = "green";
                                            sts = "Processed";
                                        }
                                        if (item.ChangeRequestStatus.ToUpper().Contains("4"))
                                        {
                                            color = "red";
                                            sts = "Failed";
                                        }
                                        //if (item.TicketStatus.Contains("Refund"))
                                        //{
                                        //    color = "#9C27B0";
                                        //    sts = "Refund";
                                        //}
                                        <tr>
                                            <td><p style="color:@color;font-size:15px;font-weight:700;">@sts</p></td>
                                            <td>@item.Email</td>
                                            <td>@item.RetailerName</td>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.ChangeRequestId</td>
                                            <td>@item.BookingId</td>
                                            <td>@item.CancellationCharge</td>
                                            <td>@item.RefundedAmount</td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationRequestDate)
                                            </td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationResponseDate)
                                            </td>

                                            <td>@Ajax.ActionLink("View Status", "CancellationStatus", "Hotel", new { ChangeReqId = item.ChangeRequestId, idno = item.idno }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessStatus", OnFailure = "OnFailedStatus", OnComplete = "reloadPage", LoadingElementId = "loadermoney" }, new { @class = "btn btn-default", @style = "1px solid #00000026;" }) </td>


                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->
<!-- Price Modal -->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>


    function OnSuccessStatus(data)
    {
        var respo = JSON.parse(data);
        console.log(respo);
        if (respo.Status == "Pending")
        {
            swal("Keep calm!", respo.Message, "warning");
        }
        else if (respo.Status == "Success") {
            swal("Wow!", respo.Message, "success");

        }
        else {
            swal("Oops!", respo.Message, "error");
        }
    }
    function OnFailedStatus(data) {
        swal("Oops!", "Failed to fatch data.", "error");
    }
    $(document).ready(function () {

            var sts = '@TempData["Status"]';
        var msg = '@TempData["Message"]';
        if (sts != null && sts != '')
        {
            if(sts == "Success")
            {
                swal("Wow!", msg, "success");
            } else {
                swal("Oops!", msg, "error");
            }
        }
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>
<script>
    function reloadPage() {
        window.setTimeout(function () {
            location.reload();
        }, 3000);
    }
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            //document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            //document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            //document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Admin") {
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
            //document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
        }
        else if (answer == "Retailer") {
            document.getElementById("allwhitelabel").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            // document.getElementById("apiid").style.display = "none";
        }
        //else if (answer == "APIID") {
        //    document.getElementById("allwhitelabel").style.display = "none";
        //    document.getElementById("allmaster").style.display = "none";
        //    document.getElementById("apiid").style.display = "block";
        //    document.getElementById("dlm").style.display = "none";
        //    document.getElementById("rem").style.display = "none";
        //      }
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
