@model List<Vastwebmulti.Models.report_cash_deposit_Result>
@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity
@{
    Layout = null;
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var currentuser = User.Identity.GetUserId();
    var iswritepermision = DB1.tbl_permission_Services.Where(x => x.Employee_ID == currentuser && x.Servicename == "CASHDEPOSIT" && x.iswrite == true).Any();
}

@{
    ViewBag.Title = "CashDepositReport";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>
    table #trowsdszdsa {
        counter-reset: rowNumber;
    }

        table #trowsdszdsa tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) ".";
            text-align: right;
        }

    .mastetr222Modal-secondcl .modal-body .col-md-3, .mastetr222Modal-secondcl .modal-body .col-md-2 {
        width: 30%;
        float: left;
    }

    .mastetr222Modal-secondcl .modal-body .col-md-9, .mastetr222Modal-secondcl .modal-body .col-md-10 {
        width: 70%;
        float: left;
    }

    .mastetr222Modal-secondcl .modal-body .form-group {
        margin-bottom: 10px;
    }
</style>
<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 5px 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }

        .floatright-third-resoin {
            float: right;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:992px) {
        .fin2 {
            width: 100% !important;
            float: left;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify {
            width: 49% !important;
            float: left !important;
            margin-bottom: 20px;
        }

            .responcive-fify button.btn.llpo {
                width: 100%;
                text-align: left;
            }

        .responcive-full {
            width: 99% !important;
            float: left;
            margin-bottom: 10px;
        }

            .responcive-full .nrr3 {
                width: 50% !important;
                float: left;
            }

            .responcive-full input {
                width: 49% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .fin3.responcive-fify {
            position: absolute;
            top: 170px;
            right: 10px;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 52% !important;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 42px;
            bottom: 0;
            width: auto !important;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:766px) {
        .allpagefinincal-report .reportdate-money-allpage {
            width: 100% !important;
            float: left;
            margin-bottom: 10px !important;
        }

        .white-successadmin-money {
            bottom: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .fin1, .fin2 {
            width: 100% !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                width: 99% !important;
                float: left;
                margin-left: 0px !important;
                margin-bottom: 3px;
            }

                .fin2 .col-md-2.cltu.for-width {
                    width: 48% !important;
                }

            .fin2 .col-md-4 {
                width: 100% !important;
                margin-bottom: 5px;
            }

                .fin2 .col-md-4 input {
                    width: 50% !important;
                }

                .fin2 .col-md-4 .nrr3 {
                    width: 48%;
                }

                    .fin2 .col-md-4 .nrr3 input {
                        width: 100% !important;
                    }

        .llpo span {
            display: inline-block;
        }

        .fin2 .col-md-1 {
            width: 40% !important;
        }

            .fin2 .col-md-1 button {
                width: 100%;
            }

        .col-md-2.fin3 {
            width: 55%;
            right: 10px;
            top: 152px;
        }

        .cltu {
            margin-bottom: 15px !important;
        }

        .col-md-2.for-r-r-width {
            width: 49% !important;
            float: left;
        }

        .special-iii .custom-date-icon i, .custom-date-icon i {
            top: 7px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third, .web-white-filter.ttre {
            position: absolute;
            top: inherit !important;
            right: 19px;
            bottom: 0;
            width: auto !important;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12">
                <div class="card card-rel-third-respo">
                    <div class="col-md-12 fin1 firsttimerespon-admin gjut-ruty up-third-design moneytab-respon-third monalltab-resp-third" style="padding: 0px;">
                        <div>
                            @Html.Partial("_finicalmenureport")
                        </div>
                    </div>
                    <div class="col-md-12 fin2 all-type-third allpagefinincal-report" style="padding: 0px; margin-top:0px;position:relative;">
                        <div class="card" style="width:100%;float:left;min-height:inherit;">
                            @using (Html.BeginForm("CashDepositReport", "Home", FormMethod.Post))
                            {

                                <div class="col-md-1 cltu responcive-fify" style="padding: 0px; margin-right: 3px;">
                                    <div class="form-line">
                                        <select class="selectpicker form-control" data-live-search="true" id="ddlusers" name="ddlusers" style="margin-top:4px;padding-left:0px; padding-right:0px;text-align:center;" onchange="answers()">
                                            <option value="Admin">All User</option>
                                            <option value="Master">Master D</option>
                                            <option value="Dealer">Distributor</option>
                                            <option value="Retailer">Retailer</option>
                                            @*  <option value="Whitelabel">Whitelabel</option>*@
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="allmaster">
                                    <div class="form-line">
                                        @Html.DropDownList("allmaster1", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>

                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="dlm">
                                    <div class="form-line">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="rem">
                                    <div class="form-line">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>


                                <div class="col-md-1 cltu for-width responcive-fify" style="padding: 0px;margin-right: 3px;">
                                    <div class="form-line">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="All Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="Pending",Value="Pending"},
                            new SelectListItem{Text="FAILED",Value="FAILED"},

                     }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-3 responcive-full reportdate-money-allpage" style="padding: 0px;float: left;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <div class="input-daterange input-group">
                                            <div class="inputiconsateall" style="padding-right:2px;">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 100% !important;" })
                                            </div>
                                            <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 100% !important;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 responcive-fify respon-third-button responcive-fify-search" style="padding: 0px;float: left;width: 10px;">

                                    <center>
                                        <button type="submit" value="Old" name="submit" class="btn llpo input-back-second" style=" border:1px solid #b1a6a638;background: transparent;">
                                            <i class="fa fa-search" style="top:0px;font-size:16px;color:black;"></i>
                                            <span style="top:0px;color:black;">SEARCH</span>
                                        </button>
                                    </center>

                                </div>

                            }
                            <div class="col-md-2 fin3 responcive-fify pdf-lastclass-third widthauto-resp-third exl-respo-third floatright-third-resoin pdfadmin-allpageclass" style="padding: 0px;width:auto;float:right;">
                                <div class="row" style="margin:0px;">
                                    <div style="float:right; padding-right:0px;text-align: right;" class="web-white-filter pdfexpoer-second totalbutton-secondclas">
                                        <button class="white-success-button" style="padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: right;margin-left: 4px;background: #b1a6a638;" id="findtotal" onclick="findtotal()">Total</button>
                                        <input type="button" id="btnExport" value="Export" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                        @*<input type="button" id="btnPDF" value="PDF" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />*@

                                    </div>



                                </div>
                            </div>
                            <div class="white-success white-successadmin-money" style="display:none;position: absolute;width: auto;right: 40px !important;z-index: 9;bottom: 0;">
                                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive ghklp" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;">
                                        <th>S.No.</th>
                                        <th>Firm Name</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                        <th>BankRRN&nbsp;No</th>
                                        <th>Ben&nbsp;Name</th>
                                        <th>Bank&nbsp;Name</th>
                                        <th>Remain&nbsp;Pre</th>
                                        <th>Comm</th>
                                        <th>GST</th>
                                        <th>TDS</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var sno = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        var i = item.idno;
                                        var idno = "subTbl";
                                        idno = idno + i;

                                        var idno1 = "subTbl1";
                                        idno1 = idno1 + i;

                                        var idshow = "subTblshow";
                                        idshow = idshow + i;

                                        var idhide = "subTblhide";
                                        idhide = idhide + i;

                                        var idshowEdit = "subTblshowEdit";
                                        idshowEdit = idshowEdit + i;

                                        var idhideEdit = "subTblhideEdit";
                                        idhideEdit = idhideEdit + i;

                                        sno += 1;
                                        <tr>
                                            <td>@sno</td>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.status</td>
                                            <td>@item.amount</td>
                                            <td>@item.req_date</td>
                                            <td>
                                                <input type="text" style="display:none" class="notshowsingrrn" id="txtbnkrrn-@item.idno" name="txtbnkrrn-@item.idno" value="" />


                                                @item.bankrrn
                                            </td>
                                            <td>@item.benname</td>
                                            <td>@item.bankname</td>
                                            <td>@item.Rem_pre</td>
                                            <td>@item.rem_comm</td>
                                            <td>@item.rem_gst</td>
                                            <td>@item.rem_tds</td>
                                            <td>@item.rem_post</td>
                                            <td>
                                              
                                                @{
                                                    var idncr = "nrch";
                                                    var idncr1 = item.idno;
                                                    var chkkkk = idncr + idncr1;
                                                }
                                                <div class="nrch" id="@chkkkk">
                                                    @if (iswritepermision)
                                                    {
                                                    if (item.status.ToUpper() == "PENDING")
                                                    {
                                                        <div class="ctti" style="margin-bottom:0px;">
                                                            <button id="@idshow" class="ss btnshowhide" data-toggle="tooltip" onclick="btn_showhide(@i)" style="display:block;border:none;color:black; background:transparent;" title="Success">
                                                                <i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;"></i>
                                                            </button>
                                                            <button id="@idhide" class="ss tbnnotshow" data-toggle="tooltip" onclick="success('@item.idno', '@item.status')" style="display:none; border:none;color:black; background:transparent;" title="Are you sure ?">

                                                                <i class="fa fa-question-circle-o" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;"></i>
                                                            </button>
                                                        </div>
                                                        <div class="ctti" style="margin-bottom:0px;">

                                                            <button id="fff" type="button" class="fftr" style="background-color:transparent; color:black;border:none;margin-top:0px;" data-toggle="modal" title="Refund" data-toggle="modal" data-target="#defaultModal1" onclick="refundshow('@item.idno','@item.status')">
                                                                <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;"></i>
                                                            </button>
                                                        </div>
                                                    }
                                                    }
                                                    <span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.idno')"> <img src="~/ashok-images/rightaeps.svg" style="border: 1px solid #c7c2c2;padding: 3px 5px;font-size: 10px;width:22px;"> </span>


                                                </div>
                                                @{
                                                    var idncr111 = "nrchsuccess";
                                                    var idncr11 = item.idno;
                                                    var chkkkk1 = idncr111 + idncr11;
                                                }
                                                @if (iswritepermision)
                                                {
                                                <p class="nrchsuccess" id="@chkkkk1" style="display:none;text-align:center;background: green;width: 100%;padding: 5px;">
                                                    <button onclick="resend('@item.idno')" style="color: white; font-weight: 800;font-size: 11px; background-color:transparent;border:0px;">
                                                        I'M SURE > Resend
                                                    </button>
                                                </p>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left">

                <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="senderTitle"></span></h4>
                <h4 class="modal-title">
                    <span style="margin-right: 6px;" id="BenAcTitle"></span>
                </h4>
                <div class="modal-back width100">
                    @Html.Hidden("Idno")

                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>Request ID</label>
                                    @Html.TextBox("ReqID", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Remain Pre</label>
                                    @Html.TextBox("masterremainpre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Comm</label>
                                    @Html.TextBox("mastercomm", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Gst</label>
                                    @Html.TextBox("mastergst", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <!--.row-->
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master tds</label>
                                    @Html.TextBox("mastertds", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Remain Pre</label>
                                    @Html.TextBox("MasterPost", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor&nbsp;Pre&nbsp;Amt</label>
                                    @Html.TextBox("DealerPre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Gst</label>
                                    @Html.TextBox("Dealercomm", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Gst</label>
                                    @Html.TextBox("Dealergst", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Tds</label>
                                    @Html.TextBox("Dealertds", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Post</label>
                                    @Html.TextBox("DealerPost", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <!--.row-->
                    </form>
                </div>
            </div><!--.modal-body-->


        </div>

    </div>
</div>

<!--Refund Model-->
<div class="modal fade mastetr222Modal" id="defaultModal1" tabindex="-1" role="dialog" style="height: 200px;overflow-y: hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:1px solid #ece7e7;">
                <h4 class="modal-title" id="defaultModalLabel" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span id="StatusTitle"></span></h4>
                <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="BenTitle"></span></h4>
                <h4 class="modal-title"><span style="margin-right: 6px;" id="NetAmtTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" style="text-align: left;">
                            <label for="email_address_2">Failed Reason</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @Html.TextBox("txtrefidno", "", new { style = "display:none;" })
                                <div class="ppo">
                                    @Html.DropDownList("ddl_refund", new List<SelectListItem>
                                           {
                                     new SelectListItem{ Text="Manual Failed",Value="Manual FAILED"},
                                     new SelectListItem{Text="Bank Server Down ",Value="Bank Server Down"},
                                   new SelectListItem{ Text="Failed Due To Invalid Choice",Value="Failed Due To Invalid Choice"},
                                  new SelectListItem{Text="Network Down",Value="Network Down"},
                                    new SelectListItem{Text="Unsupported Network",Value="Unsupported Network"},
                                 new SelectListItem{Text="Network issue",Value="Network issue"},
                                 new SelectListItem{Text="Insufficient Fund ",Value="Insufficient Fund"}
                                            }, new { @class = "btn-group bootstrap-select form-control show-tick dropup" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2">Security&nbsp;Password</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="">
                                    <input type="password" id="securitypass" name="securitypass" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn bg-blue-grey waves-effect" onclick="Failed()" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">Confirm & Refund</button>
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });


</script>
<script>
    function print(idno) {
        var url = '@Url.Action("MicroAtmslip", "Home")?idno='+idno;
        window.open(url,"_blank")
    }
</script>
<script>
    function findtotal() {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var ddl_Type = $('#ddl_Type').val();
        var txtmob = $('#txtmob').val();
        var ddlusers = $('#ddlusers').val();
        var allmaster = $('#allmaster').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();

             $.post("@Url.Action("FindcashdepositTotal", "Home")",
                 {
                     "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date, "ddlusers": ddlusers,
                     "ddl_status": ddl_status, "ddl_Type": ddl_Type,"txtmob": txtmob,
                     "allmaster": allmaster, "alldealer": alldealer, "allretailer": allretailer,
                     "allapiuser":allapiuser
                 },

                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();
        var url = '@Url.Action("ExcelCashReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        location.href = url;
});
</script>

<script>
    function btn_showhide(id) {
        $('.notshowsingrrn').hide();
        $('.btnshowhide').show();
        $('.tbnnotshow').hide();

        var btn1 = "subTblshow" + id;
        var btn2 = "subTblhide" + id;
        var btn2 = "subTblhide" + id;
        var txtbnkrrn = "txtbnkrrn-" + id;
        $('#' + btn1).css("display", "none");
        $('#' + btn2).css("display", "block");
        $('#' + txtbnkrrn).css("display", "block");
    }
</script>
<script>
    function refundshow(idno, status) {
        RefundTitleVal(idno);
        $("#txtrefidno").val(idno);
    }
</script>
<!--Manual SUCCESS -->
<script>
    function success(idno, status)
    {
    alert('sdsf')
        var txtbnkrrn = "txtbnkrrn-" + idno;
        var bnkrrnno = $('#' + txtbnkrrn).val();
        if (bnkrrnno != null || bnkrrnno == "") {
            $.ajax({
                url: '@Url.Action("successcashdeposit", "Home")',
                type: 'POST',
                dataType: "html",
                data: { idno: idno, bnkrrn: bnkrrnno },
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                }
            });
        }
        else{
            alert("enter Bank RRN")
        }
    }
</script>
<script>
    function Failed() {
        var secuirtypass = $("#securitypass").val();
        var id = $("#txtrefidno").val();
        var e = document.getElementById("ddl_refund");
        var ddlval = e.options[e.selectedIndex].value

        if (secuirtypass != "" && secuirtypass != null) {
            $.ajax({
                url: '@Url.Action("Failedcashdeposit", "Home")',
                type: 'POST',
                dataType: "html",
                data: { txtrefidno: id, ddl_refund: ddlval, secuirtypass: secuirtypass},
                success: function (data) {

                    var response = JSON.parse(data);
                    if (response.Status) {
                        //swal("Good Job!", response.Message, "success");
                        window.location.reload();
                        reloadPageeee();
                        //moneyReport();
                    }
                    else {

                        alert(response.Message);
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {

                }
            }).done(function () {
                $("#defaultModal1").modal('hide');
            });
        }
    }
</script>

<script>
        function mdActionBtn(Idno) {
        $.ajax({
            url: '@Url.Action("cashdeposit_view", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {
                $('#Idno').val(Response[0].idno)
                $('#ReqID').val(Response[0].reqid)
                $('#masterremainpre').val(Response[0].md_pre)
                $('#mastercomm').val(Response[0].md_comm)
                $('#mastergst').val(Response[0].md_gst)
                $('#mastertds').val(Response[0].md_tds)
                $('#MasterPost').val(Response[0].md_post)
                $('#DealerPre').val(Response[0].dlm_pre)
                $('#Dealercomm').val(Response[0].dlm_comm)
                $('#Dealergst').val(Response[0].dlm_gst)
                $('#Dealertds').val(Response[0].dlm_tds)
                $('#DealerPost').val(Response[0].dlm_post)


            }
        });
    }
        function RefundTitleVal(Idno) {
        $.ajax({
            url: '@Url.Action("cashdeposit_view", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                $('#StatusTitle').text(Response[0].status)
                $('#BenTitle').text("A/C " + Response[0].accountno)
                $('#NetAmtTitle').text("Rs " + Response[0].amount)
            }
        });
    }
</script>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>



<script>
    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Admin") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Retailer") {

            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
        }
    }
</script>


