@model IEnumerable<Vastwebmulti.Models.Mpos_Report_New_Result>
@{
    ViewBag.Title = "m_Possreport";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 5px 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .money-tab-secondclass {
        width: 30%;
    }

    .pdfresponsive-second {
        width: auto;
        float: right;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:992px) {
        .fin2 {
            width: 100% !important;
            float: left;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify {
            width: 49% !important;
            float: left !important;
            margin-bottom: 20px;
        }

            .responcive-fify button.btn.llpo {
                width: 100%;
                text-align: left;
            }

        .responcive-full {
            width: 99% !important;
            float: left;
            margin-bottom: 10px;
        }

            .responcive-full .nrr3 {
                width: 50% !important;
                float: left;
            }

            .responcive-full input {
                width: 49% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .fin3.responcive-fify {
            position: absolute;
            top: 170px;
            right: 10px;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 52% !important;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 42px;
            bottom: 0;
            width: auto !important;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:766px) {
        .white-successadmin-money {
            bottom: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .fin1, .fin2 {
            width: 100% !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                width: 99% !important;
                float: left;
                margin-left: 0px !important;
                margin-bottom: 3px;
            }

                .fin2 .col-md-2.cltu.for-width {
                    width: 48% !important;
                }

            .fin2 .col-md-4 {
                width: 100% !important;
                margin-bottom: 5px;
            }

                .fin2 .col-md-4 input {
                    width: 50% !important;
                }

                .fin2 .col-md-4 .nrr3 {
                    width: 48%;
                }

                    .fin2 .col-md-4 .nrr3 input {
                        width: 100% !important;
                    }

        .llpo span {
            display: inline-block;
        }

        .fin2 .col-md-1 {
            width: 40% !important;
        }

            .fin2 .col-md-1 button {
                width: 100%;
            }

        .col-md-2.fin3 {
            width: 55%;
            right: 10px;
            top: 152px;
        }

        .cltu {
            margin-bottom: 15px !important;
        }

        .col-md-2.for-r-r-width {
            width: 49% !important;
            float: left;
        }

        .special-iii .custom-date-icon i, .custom-date-icon i {
            top: 7px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 19px;
            bottom: 0;
            width: auto !important;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }

        .fin2 .col-md-4 input {
            width: 100% !important;
            margin: 0 !important;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12">
                <div class="card card-rel-third-respo">
                    <div class="col-md-12" style="padding:0px;">
                        <div>
                            @Html.Partial("_finicalmenureport")
                        </div>
                    </div>
                    <div class="col-md-12 fin2 all-type-third allpagefinincal-report" style="padding: 0px; margin-top:0px;position:relative;">
                        <div class="card" style="width:100%;float:left;min-height:inherit;">
                            @using (Html.BeginForm("m_Possreport", "Home", FormMethod.Post))
                            {

                                <div class="col-md-2 cltu for-r-r-width responcive-fify" style="padding: 0px;margin-right:3px;">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("ddlusers", new List<SelectListItem>
                                  {
                               new SelectListItem{ Text="All User",Value="Admin"},
                               new SelectListItem{Text="Master D",Value="Master"},
                               new SelectListItem{Text="Distributor",Value="Dealer"},
                               new SelectListItem{Text="Retailer",Value="Retailer"},
                                new SelectListItem{Text="Whitelabel",Value="Whitelabel"},
                              }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;", @onchange = "answers()" })

                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="allwhitelabel">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allwhitelabel1", ViewBag.allwhitelabel as SelectList, "All Whitelabel", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="allmaster">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allmaster2", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px;height:32px;", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>

                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="dlm">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="rem">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>

                                <div class="col-md-2 cltu for-r-r-width responcive-fify" style="padding: 0px;margin-right: 3px;">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="All Status",Value="ALL",},
                            new SelectListItem{Text="Success",Value="00"},
                            new SelectListItem{Text="Failed",Value="22"},
                            }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>
                                <div class="col-md-2 gglk for-r-r-width responcive-fify" style="padding: 0px;margin-right: 3px; margin-bottom: 10px;">
                                    <div class="input-group classborder-thirddesign" style="border:1px solid #e1dcdc;margin-top: 0px;">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search" style="margin-left:3px;color:#9999b3;"></i>
                                        </span>
                                        <div class="ffjkt">
                                            @Html.TextBox("txtmob", "", new { @class = "form-control", @placeholder = "Text", @style = "height:30px !important;margin-left:-8px;padding:0px; background:none;font-size:12px;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 responcive-full reportdate-money-allpage" style="padding: 0px;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <div class="input-daterange input-group">
                                            <div class="inputiconsateall" style="padding-right:2px;">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 122px;margin-right: 3px;" })
                                            </div>

                                            <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 122px;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 responcive-fify respon-third-button responcive-fify-search" style="padding: 0px;float: left;">

                                    <button type="submit" class="btn llpo input-back-second" onclick="Reportmpos()" style=" height:32px;border:1px solid #b1a6a638;background: transparent;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>

                                </div>

                            }
                            <div class="col-md-2 fin3 responcive-fify pdfresponsive-second pdf-lastclass-third widthauto-resp-third exl-respo-third pdfadmin-allpageclass" style="padding: 0px;">
                                <div class="row">
                                    <div style="float:right; padding-right:10px;text-align: right;" class="web-white-filter pdfexpoer-second totalbutton-secondclas">
                                        <button class="white-success-button" style="padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: right;margin-left: 4px;background: #b1a6a638;" onclick="findtotal()">Total</button>
                                        <input type="button" id="btnExport" value="Export" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />

                                    </div>



                                </div>
                            </div>

                            <div class="white-success white-successadmin-money" style="display:none;position: absolute;width: auto;right: 40px !important;z-index: 9;bottom: 0;">
                                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive ghklp tableseconddes-admin" style="position:inherit;">
                            <table id="mpos" class="table table-bordered table-background-second" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;">
                                        <th>Status</th>
                                        <th>Tran&nbsp;Type</th>
                                        <th>Card&nbsp;Type</th>
                                        <th>Card&nbsp;Brand</th>
                                        <th>Poss&nbsp;Id</th>

                                        <th>Net&nbsp;Amount&nbsp;₹&nbsp;</th>
                                        <th>Comm</th>
                                        <th>Debit&nbsp;Amount&nbsp;₹&nbsp;</th>
                                        <th>BankRRN&nbsp;No</th>
                                        <th>Date</th>
                                        <th>Bank&nbsp;TerminalID</th>
                                        <th>#</th>



                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @{
                                        Html.RenderAction("_m_Possreport", "Home", new { Model = Model });

                                    }
                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left" style="background-color:#eee">
                <div class="modal-back width100 float-left">
                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("Idno")
                        <!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Card Number</label>
                                    @Html.TextBox("cardnumber", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Card Holder Name</label>
                                    @Html.TextBox("cardholdername", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>TxnId</label>
                                    @Html.TextBox("TxnId", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Merchant ID</label>
                                    @Html.TextBox("merchatID", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Bank Merchant ID</label>
                                    @Html.TextBox("bankmerchantID", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Invoice No</label>
                                    @Html.TextBox("invoiceno", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Payment Id</label>
                                    @Html.TextBox("paymentid", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Merchant Address</label>
                                    @Html.TextBox("merchantnameaddress", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Admin Pre</label>
                                    @Html.TextBox("AdminPre", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Admin Post</label>
                                    @Html.TextBox("AdminPost", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Admin Income</label>
                                    @Html.TextBox("adminincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Pre</label>
                                    @Html.TextBox("MasterPre", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Post</label>
                                    @Html.TextBox("MasterPost", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Comm</label>
                                    @Html.TextBox("MdComm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">

                                <div class="form-group">
                                    <label>Master Income</label>
                                    @Html.TextBox("mdincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master GST</label>
                                    @Html.TextBox("mdgst", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Pre</label>
                                    @Html.TextBox("DealerPre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Post</label>
                                    @Html.TextBox("DealerPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Comm</label>
                                    @Html.TextBox("Dlm_Comm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Income</label>
                                    @Html.TextBox("dlmincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor GST</label>
                                    @Html.TextBox("dlmgst", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Pre</label>
                                    @Html.TextBox("RetailerPre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Post</label>
                                    @Html.TextBox("RetailerPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Income</label>
                                    @Html.TextBox("remincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer GST</label>
                                    @Html.TextBox("remgst", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>






                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Response</label>

                                    <textarea class="form-control" cols="20" id="Message" name="Response" readonly="readonly" rows="2" style="height:130px; width:450px;"></textarea>

                                    @*@Html.TextBox("Message", "", new { @class = "form-control", maxlength = 10000, @style = "height:100px; with:450px;" })*@
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('#allwhitelabel1').select2();
    $('#allmaster2').select2();
    $('#alldealer').select2();
    $('#allretailer').select2();
</script>

<script>
    function mdActionBtn(Idno) {
        $('#loadredmodel').show();

        $.ajax({
            url: '@Url.Action("m_Possreport_View", "Home")',
            type: "POST",
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                $("#cardnumber").val(Response[0].cardnumber);
                $("#cardholdername").val(Response[0].cardholdername);
                $("#TxnId").val(Response[0].TxnId);
                $("#merchatID").val(Response[0].merchatID);
                $("#bankmerchantID").val(Response[0].bankmerchantID);
                $("#invoiceno").val(Response[0].invoiceno);
                $("#paymentid").val(Response[0].paymentid);
                $("#merchantnameaddress").val(Response[0].merchantnameaddress);
                $("#AdminPre").val(Response[0].AdminPre);
                $("#AdminPost").val(Response[0].AdminPost);
                $("#adminincome").val(Response[0].dlmincome);
                $("#MasterPre").val(Response[0].MasterPre);
                $("#MasterPost").val(Response[0].MasterPost);
                $("#MdComm").val(Response[0].MdComm);
                $("#mdincome").val(Response[0].mdincome);
                $("#mdgst").val(Response[0].mdgst);
                $("#DealerPre").val(Response[0].DealerPre);
                $("#DealerPost").val(Response[0].DealerPost);
                $("#Dlm_Comm").val(Response[0].Dlm_Comm);
                $("#dlmincome").val(Response[0].dlmincome);
                $("#dlmgst").val(Response[0].dlmgst);
                $("#RetailerPre").val(Response[0].RetailerPre);
                $("#RetailerPost").val(Response[0].RetailerPost);
                $("#remincome").val(Response[0].mdincome);
                $("#remgst").val(Response[0].remgst);
                $("#Message").val(Response[0].Message);
                $("#Request").val(Response[0].Request);
                $("#Response").val(Response[0].response_output);
            }
        });
    };

</script>

<script>
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {

            var ddlusers = $('#ddlusers').val();
        var allmaster = $('#allmaster2').val(); allwhitelabel1
        var allwhitelabel = $('#allwhitelabel1').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
        if ($(window).scrollTop() > Number($("#mpos").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_mpos", "Home")",
                    { "pageindex": pageindex, "ddlusers": ddlusers, "allmaster2": allmaster, "allwhitelabel1": allwhitelabel, "alldealer": alldealer, "allretailer": allretailer,"ddl_status":ddl_status, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#loadingdiv").load("content.html");
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });


</script>


<script>
    $("#btnPDF").click(function () {

     var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
         var allmaster = $('#allmaster2').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
        var url = '@Url.Action("PDFMposReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster2=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>

<script>
    function findtotal() {
         var ddlusers = $('#ddlusers').val();
            var allmaster = $('#allmaster2').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("mpos_Total", "Home")",
             {"ddlusers": ddlusers, "allmaster2":allmaster, "alldealer": alldealer, "allretailer": allretailer,"ddl_status":ddl_status, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date},
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                 });
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>


<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Admin") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Retailer") {

            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
        }
    }
</script>

<script>
    function GotoView(idno) {
        $.ajax({
            url: '@Url.Action("MposStatus", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
            }
        });
    }
</script>

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
         var allmaster = $('#allmaster2').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
        var url = '@Url.Action("ExcelRechargereport_mpos", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster2=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        location.href = url;
});
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/ADMIN/Home/m_Possreport') {
            $('.sidebar .kkli li:nth-child(2) a').addClass('activee');
        }
    });
</script>