@model IEnumerable<Vastwebmulti.Models.microatm_report_Result>
@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "MIcroAtmReport";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var currentuser = User.Identity.GetUserId();
    var iswritepermision = DB1.tbl_permission_Services.Where(x => x.Employee_ID == currentuser && x.Servicename == "MICROATM" && x.iswrite == true).Any();

}

<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>

    table #trowsdszdsa {
        counter-reset: rowNumber;
    }

        table #trowsdszdsa tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) ".";
            text-align: right;
        }

    .mastetr222Modal-secondcl .modal-body .col-md-3, .mastetr222Modal-secondcl .modal-body .col-md-2 {
        width: 30%;
        float: left;
    }

    .mastetr222Modal-secondcl .modal-body .col-md-9, .mastetr222Modal-secondcl .modal-body .col-md-10 {
        width: 70%;
        float: left;
    }

    .mastetr222Modal-secondcl .modal-body .form-group {
        margin-bottom: 10px;
    }
</style>

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 5px 10px;
    }

    .card {
        margin-bottom: 16px;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }

        .floatright-third-resoin {
            float: right;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:992px) {
        .fin2 {
            width: 100% !important;
            float: left;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify {
            width: 49% !important;
            float: left !important;
            margin-bottom: 20px;
        }

            .responcive-fify button.btn.llpo {
                width: 100%;
                text-align: left;
            }

        .responcive-full {
            width: 99% !important;
            float: left;
            margin-bottom: 10px;
        }

            .responcive-full .nrr3 {
                width: 50% !important;
                float: left;
            }

            .responcive-full input {
                width: 49% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .fin3.responcive-fify {
            position: absolute;
            top: 170px;
            right: 10px;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 52% !important;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 42px;
            bottom: 0;
            width: auto !important;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:766px) {


        .white-successadmin-money {
            bottom: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .fin1, .fin2 {
            width: 100% !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                width: 99% !important;
                float: left;
                margin-left: 0px !important;
                margin-bottom: 3px;
            }

                .fin2 .col-md-2.cltu.for-width {
                    width: 48% !important;
                }

            .fin2 .col-md-4 {
                width: 100% !important;
                margin-bottom: 5px;
            }

                .fin2 .col-md-4 input {
                    width: 50% !important;
                }

                .fin2 .col-md-4 .nrr3 {
                    width: 48%;
                }

                    .fin2 .col-md-4 .nrr3 input {
                        width: 100% !important;
                    }

        .llpo span {
            display: inline-block;
        }

        .fin2 .col-md-1 {
            width: 40% !important;
        }

            .fin2 .col-md-1 button {
                width: 100%;
            }

        .col-md-2.fin3 {
            width: 55%;
            right: 10px;
            top: 152px;
        }

        .cltu {
            margin-bottom: 15px !important;
        }

        .col-md-2.for-r-r-width {
            width: 49% !important;
            float: left;
        }

        .special-iii .custom-date-icon i, .custom-date-icon i {
            top: 7px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third, .web-white-filter.ttre {
            position: absolute;
            top: inherit !important;
            right: 19px;
            bottom: 0;
            width: auto !important;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12">
                <div class="card card-rel-third-respo">
                    <div class="col-md-12 fin1 firsttimerespon-admin gjut-ruty up-third-design moneytab-respon-third monalltab-resp-third" style="padding: 0px;">
                        <div>
                            @Html.Partial("_finicalmenureport")
                        </div>
                    </div>
                    <div class="col-md-12 fin2 all-type-third allpagefinincal-report" style="padding: 0px; margin-top:0px;position:relative;">
                        <div class="card" style="width:100%;float:left;min-height:inherit;">
                            @using (Html.BeginForm("MIcroAtmReport", "Home", FormMethod.Post))
                            {

                                <div class="col-md-2 cltu for-r-r-width responcive-fify" style="padding: 0px;margin-right:3px;">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("ddlusers", new List<SelectListItem>
                                        {
                                           new SelectListItem{ Text="All User",Value="Admin"},
                                           new SelectListItem{Text="Master D",Value="Master"},
                                           new SelectListItem{Text="Distributor",Value="Dealer"},
                                           new SelectListItem{Text="Retailer",Value="Retailer"},
                                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;", @onchange = "answers()" })

                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="allwhitelabel">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allwhitelabel1", ViewBag.allwhitelabel as SelectList, "All Whitelabel", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="allmaster">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allmaster2", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px;height:32px;", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>

                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="dlm">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>
                                <div class="col-md-2 for-r-r-width responcive-fify" style="display:none;padding: 0px;margin-right: 3px; margin-bottom: 10px;" id="rem">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>

                                <div class="col-md-2 cltu for-r-r-width responcive-fify" style="padding: 0px;margin-right: 3px;">
                                    <div class="form-line" style="width:100%;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="All Status",Value="",},
                            new SelectListItem{Text="Success",Value="Success"},
                            new SelectListItem{Text="Failed",Value="Failed"},
                            new SelectListItem{Text="Pending",Value="Pending"},
                            }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                    </div>
                                </div>


                                <div class="col-md-4 responcive-full reportdate-money-allpage" style="padding: 0px;margin-right: 0px;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <div class="input-daterange input-group">
                                            <div class="inputiconsateall" style="padding-right:2px;">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 100% !important;" })
                                            </div>
                                            <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 100% !important;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 responcive-fify respon-third-button responcive-fify-search" style="padding: 0px;float: left;">

                                    <button type="submit" class="btn llpo input-back-second" onclick="Reportmpos()" style=" height:32px;border:1px solid #b1a6a638;background: transparent;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>

                                </div>

                            }
                            <div class="col-md-2 fin3 responcive-fify pdf-lastclass-third widthauto-resp-third exl-respo-third floatright-third-resoin pdfadmin-allpageclass" style="padding: 0px;">
                                <div class="row">
                                    <div style="float:right; padding-right:10px;text-align: right;" class="web-white-filter pdfexpoer-second totalbutton-secondclas">
                                        <button class="white-success-button" style="padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: right;margin-left: 4px;background: #b1a6a638;" id="findtotal">Total</button>
                                        <input type="button" id="btnExport" value="Export" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                        @*<input type="button" id="btnPDF" value="PDF" style="margin-left: 0px;padding: 0px 4px;padding-left: 4px;height: 32px;border: 1px solid #b1a6a638;background: #b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />*@

                                    </div>



                                </div>
                            </div>

                            <div class="white-success white-successadmin-money" style="display:none;position: absolute;width: auto;right: 55px !important;z-index: 9;bottom: 0;">
                                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                <span id="FailedPending" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive ghklp" style="position:inherit;">
                            <table id="mpos" class="table table-bordered whitetable-second third-design-table" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;">
                                        <th>S.N.</th>
                                        <th>Firm Name</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                        <th>BankRRN&nbsp;No</th>
                                        <th>Tran&nbsp;Type</th>
                                        <th>Card&nbsp;Type</th>
                                        <th>Card&nbsp;No</th>
                                        <th>Net&nbsp;Work</th>
                                        <th>Remain&nbsp;Pre</th>
                                        <th>Comm</th>
                                        <th>GST</th>
                                        <th>TDS</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>#</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody id="trowsdszdsa">
                                    @foreach (var item in Model)
                                    {
                                        //  decimal comm = 0;
                                        decimal comm = 0;
                                        var transtype = "";
                                        if (item.status.Contains("success"))
                                        {
                                            if (item.transaction_type == "microatm")
                                            {
                                                //comm = (item.amount.Value * item.Retailer_comm.Value) / 100;
                                                //comm = comm + item.Retailer_gst.Value - item.Retailer_tds.Value;
                                                comm = item.Retailer_comm.Value + item.Retailer_gst.Value + item.Retailer_tds.Value;
                                                transtype = "COMM";

                                            }
                                            else if (item.transaction_type == "purchase")
                                            {
                                                comm = (item.amount.Value * item.Retailer_comm.Value) / 100;

                                                transtype = "CH";
                                            }
                                        }


                                        <tr>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.status</td>
                                            <td>@item.amount</td>
                                            <td>@item.transtime</td>
                                            <td>@item.rrn</td>
                                            <td>@item.transaction_type</td>
                                            <td>@item.card_payment_type</td>
                                            <td>@item.masked_pan</td>
                                            <td>@item.network</td>
                                            <td>@item.retailer_remain_pre</td>
                                            <td>@comm</td>
                                            @*<td>@comm @transtype</td>*@
                                            @*<td>@item.Retailer_comm</td>*@
                                            <td>@item.Retailer_gst</td>
                                            <td>@item.Retailer_tds</td>
                                            <td>@item.retailer_remain_post</td>
                                            <td>
                                                @if (iswritepermision)
                                                {
                                                if (item.transaction_type.ToUpper() == "REVERSAL" && item.status.ToUpper() == "SUCCESS")
                                                {
                                                    <button id="fff" type="button" class="fftr" style="background-color:transparent; color:black;border:none;margin-top:0px;" data-toggle="modal" title="Refund" data-target="#defaultModal1" onclick="refundshow('@item.rrn')">
                                                        <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i>
                                                    </button>
                                                }
                                                }
                                            </td>
                                            <td>
                                                @if (iswritepermision)
                                                {
                                                    if (item.status.ToUpper() == "PENDING")
                                                    {
                                                    <div class="nrch" id="nrch'+@item.idno+'">
                                                        <div class="ctti" style="margin-bottom:0px;">

                                                            <button class="ss" data-toggle="tooltip" data-toggle="modal" data-toggle="modal" data-target="#defaultModal11122" onclick="successMATM('@item.Requestid', '@item.amount', '@item.transaction_type')" style="border:none;color:black; background:transparent; " title="Success"><i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;" aria-hidden="true"></i></button>

                                                        </div>
                                                        <div class="ctti" style="margin-bottom:0px;">

                                                            <button type="button" class="fftr" style="background-color:transparent; color:black;border:none;margin-top:0px;" title="Failed" onclick="FailedMTM('@item.Requestid', '@item.amount','@item.transaction_type')">
                                                                <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                    }
                                                }
                                            </td>
                                            <td class="nrch">
                                                <span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.idno')"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">

            <div class="modal-header width100 float-left" style="background-color:#eee">

                <label id="lblresponseid">

                </label>
                <div class="modal-back width100 float-left">
                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("Idno")
                        <!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Pre</label>
                                    @Html.TextBox("DealerPre", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Post</label>
                                    @Html.TextBox("DealerPost", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Comm</label>
                                    @Html.TextBox("Dlm_Comm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Gst</label>
                                    @Html.TextBox("dlmgst", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Dealer Tds</label>
                                    @Html.TextBox("dlmtds", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Master Pre</label>
                                    @Html.TextBox("MasterPre", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Post</label>
                                    @Html.TextBox("MasterPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Master Comm</label>
                                    @Html.TextBox("Md_Comm", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Gst</label>
                                    @Html.TextBox("Mdgst", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master TDS</label>
                                    @Html.TextBox("Mdtds", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Response</label>
                                    @Html.TextBox("Response", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="modal fade mastetr222Modal" id="defaultModal1" tabindex="-1" role="dialog" style="height: 200px;overflow-y: hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:1px solid #ece7e7;">
                <h4 class="modal-title" id="defaultModalLabel" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span id="StatusTitle"></span></h4>
                <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="BenTitle"></span></h4>
                <h4 class="modal-title"><span style="margin-right: 6px;" id="NetAmtTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" style="text-align: left;">
                            <label for="email_address_2">Failed Reason</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @Html.TextBox("txtrefidno", "", new { style = "display:none;" })
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2">Security&nbsp;Password</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="">
                                    <input type="password" id="securitypass" name="securitypass" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn bg-blue-grey waves-effect" onclick="Failed()" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">Confirm & Refund</button>
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade mastetr222Modal mastetr222Modal-secondcl" id="defaultModal11122" tabindex="-1" role="dialog" style="height:auto;overflow-y: hidden;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:1px solid #ece7e7;">
                <h4 class="modal-title" id="defaultModalLabel" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span id="StatusTitle"></span></h4>
                <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="BenTitle"></span></h4>
                <h4 class="modal-title"><span style="margin-right: 6px;" id="NetAmtTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-6col-xs-8 form-control-label" style="text-align: left;">
                            @*<label for="email_address_2">Confirm</label>*@
                            <input type="hidden" id="hdtransectionid" name="hdtransectionid" />
                            <input type="hidden" id="hdamount" name="hdamount" />

                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <span>AMOUNT</span>
                            </div>
                            <div class="col-md-9">

                                <input type="text" id="txtamountas" readonly name="txtamountas" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <span>BANK RRN</span>
                            </div>
                            <div class="col-md-9">

                                <input type="text" id="txtbnkrrn" name="txtbnkrrn" class="form-control" />

                            </div>
                        </div>

                        <div class="form-group col-md-12">

                            <div class="col-md-2">
                                <span>Transection Type</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">


                                <select id="ddltransectiontype" name="ddltransectiontype" class="form-control" disabled>
                                    <option value="">Select Transection Type</option>
                                    <option value="balance_enquiry">BALANCE_ENQUIRY</option>
                                    <option value="microatm">MICROATM</option>
                                    <option value="purchase">PURCHASE</option>
                                    <option value="cash_at_pos">CASH_AT_POS</option>
                                </select>


                            </div>
                        </div>
                        <div class="form-group col-md-12" id="divcpurchase" style="display:none;">
                            <div class="col-md-2">
                                <span>CARD PAYMENT</span>
                            </div>

                            <div id="divCARDPAYMENT" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">


                                <select id="ddlcardpaymenttype" name="ddlcardpaymenttype" class="form-control">
                                    <option value="">Card Payment Type</option>
                                    <option value="credit">CreditCard</option>
                                    <option value="debit">DebitCard</option>

                                </select>


                            </div>
                        </div>
                        <div class="form-group col-md-12">

                            <div class="col-md-2">
                                <span>Select Type</span>

                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <select id="ddlnetworktype" name="ddlnetworktype" class="form-control">
                                    <option value="">Select Card</option>
                                    <option value="rupay">RUPAY</option>
                                    <option value="Other">OTHER</option>

                                </select>

                            </div>
                        </div>
                        <div class="form-group col-md-12">

                            <div class="col-md-2">
                                <span>Card Type</span>

                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <select id="ddlcard_usage_type" name="ddlcard_usage_type" class="form-control">
                                    <option value="">Select Type</option>
                                    <option value="Domestic">Domestic</option>
                                    <option value="International">International</option>

                                </select>

                            </div>
                        </div>


                        @*<div class="col-lg- col-md-9 col-sm-8 col-xs-7">

                            </div>*@

                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <span>Create Date</span>

                            </div>

                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">



                                <input type="date" id="createddate" name="createddate" class="form-control" />

                            </div>
                        </div>

                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2">Security&nbsp;Password</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="">
                                    <input type="password" id="securitypass22" name="securitypass22" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn bg-blue-grey waves-effect" onclick="SuccessMATMsssss()" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">Confirm </button>
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function refundshow(idnn) {
        $('#txtrefidno').val(idnn);

    }
</script>


<!--Manual failed -->
<script>
    function Failed() {
        var secuirtypass = $("#securitypass").val();
        var id = $("#txtrefidno").val();

        if (secuirtypass != "" && secuirtypass != null) {
            $.ajax({
                url: '@Url.Action("microatmsuccesstofailed", "Home")',
                type: 'POST',
                dataType: "html",
                data: { txtrefidno: id,  secuirtypass: secuirtypass},
                success: function (data) {
                    var response = JSON.parse(data);
                    if (response.Status) {
                        //swal("Good Job!", response.Message, "success");
                        window.location.reload();
                        //moneyReport();
                    }
                    else {
                        alert(response.Message);
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {

                }
            }).done(function () {
                $("#defaultModal1").modal('hide');
            });
        }
    }
</script>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>




<script>
    function success(trans_id, bank_trans_id, recivername, status) {
        $.ajax({
            url: '/ADMIN/Home/Moneysucess',
            type: 'POST',
            dataType: "html",
            data: { trans_id: trans_id, bank_trans_id: bank_trans_id, recivername: recivername, currentstatus: status },
            success: function (data) {
                var response = JSON.parse(data);
                if (response.Status) {
                    //swal("Good Job", response.Message, "success");
                    window.location.reload();
                    reloadPageeee();
                    //moneyReport();
                }
                else {
                    //swal("Oops...", response.Message, "error");
                }
            },
            error: function (data) {
            }
        });
    }

</script>


<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();
        var url = '@Url.Action("MICROATMEXCELLGENERATE", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        location.href = url;
});
</script>
@*<script>
        $("#btnPDF").click(function () {
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
            var ddlusers = $('#ddlusers').val();
            var ddl_status = $('#ddl_status').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var allmaster = $('#allmaster').val();
            var allapiuser = $('#allapiuser').val();
            var Whitelabel = $('#Whitelabel').val();
            var ddl_Type = $('#ddl_Type').val();
            var url = '@Url.Action("PDFMoneyReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
            window.open(url,'_blank');
        });
    </script>*@

<script>
    $('#findtotal').click(function () {


         var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();
         $.ajax({
            url: '@Url.Action("TotalALLCount", "Home")',
            type: "POST",
             data: {
                 txt_frm_date: txt_frm_date, txt_to_date:txt_to_date, ddlusers:ddlusers,ddl_status:ddl_status,allmaster: allmaster,alldeale: alldealer,allretailer:allretailer,allapiuser: allapiuser,Whitelabel:Whitelabel, ddl_Type:ddl_Type },
            cache: false,
             success: function (Response) {
                 
                 $('#successtotal').text(Response.totalsuccess).parent().show();
                 $('#Failedtotal').text(Response.totalfailed);
                 $('#FailedPending').text(Response.totalpending);
                 //$('#totafind').html("<span>" + Response.totalsuccess + "</span> < span > " + Response.totalpending + "</span > < span > " + Response.totalfailed + "</span >");
             }

        })


    })





</script>

<script>

    function successMATM(reqid,amnt,transectiontype) {
        
        $('#hdtransectionid').val(reqid)
        $('#hdamount').val(amnt)
        $('#txtamountas').val(amnt)
        $('#ddlcardpaymenttype').val('')
        $('#ddlnetworktype').val('')
        $('#ddlcard_usage_type').val('')
        $('#ddltransectiontype').val(transectiontype)
        if (transectiontype == 'microatm') {
            $('#divcpurchase').show();
        }
        else if (transectiontype == 'purchase') {
            $('#divcpurchase').show();
        }
        else {
            $('#divcpurchase').hide();
        }

        $("#defaultModal11122").modal('show');



    }





    $('#ddltransectiontype').change(function () {
        if ($('#ddltransectiontype').val() == "purchase") {

            $('#divcpurchase').show();
        }
       else if ($('#ddltransectiontype').val() == "microatm") {

            $('#divcpurchase').show();
        }

        else {

            $('#divcpurchase').hide();

        }

    })


    function SuccessMATMsssss() {
        
        if ($('#hdtransectionid').val() == '' || $('#txtbnkrrn').val() == '' || $('#ddltransectiontype').val() == '' || $('#securitypass22').val() == '' || $('#ddlnetworktype').val() == '' || $('#hdamount').val() == '' || $('#ddlcard_usage_type').val()=='') {
            return true;
        }

            $.ajax({
                url: '@Url.Action("microatmspendingTosuccess", "Home")',
                type: 'POST',
                dataType: "html",
                data: { filed1: $('#hdtransectionid').val(), rrn: $('#txtbnkrrn').val(), transaction_type: $('#ddltransectiontype').val(), secuirtypass: $('#securitypass22').val(), created_at: $('#createddate').val(), network: $('#ddlnetworktype').val(), amount: $('#hdamount').val(), card_payment_type: $('#ddlcardpaymenttype').val(), card_usage_type: $('#ddlcard_usage_type').val() },
                success: function (data) {

                    var response = JSON.parse(data)
                    $('#hdtransectionid').val('')
                    $('#txtbnkrrn').val('')
                    $('#ddltransectiontype').val('')
                    $('#securitypass22').val('')
                    $('#ddlnetworktype').val('')
                    $('#hdamount').val('')
                    $('#ddlcardpaymenttype').val('')
                    $('#ddlcard_usage_type').val('')
                    $('#txtamountas').val('')
                    $("#defaultModal11122").modal('hide');
                    if (response.Status) {
                        //swal("Good Job!", response.Message, "success");
                        window.location.reload();
                        //moneyReport();
                    }
                    else {
                        alert(response.Message);
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {

                }
            }).done(function () {
                $("#defaultModal1").modal('hide');
            });



    }


        function FailedMTM(reqid, amnt) {
            if (confirm('Are you sure?')) {
                $.ajax({
                    url: '@Url.Action("microatmspendingToFailed", "Home")',
                    type: "POST",
                    data: {
                        filed1: reqid, amount: amnt},

                    cache: false,
                    success: function (data) {
                        var response = JSON.parse(JSON.stringify(data))
                        if (response.Status) {
                            //swal("Good Job!", response.Message, "success");
                            window.location.reload();
                            //moneyReport();
                        }
                        else {
                            alert(response.Message);
                            //swal("Oops...", response.Message, "error");
                        }


                    }

                })


            }
        }



</script>




<script>
    function mdActionBtn(Idno) {
        $('#loadredmodel').show();

        $.ajax({
            url: '@Url.Action("Microatm_View", "Home")',
            type: "POST",
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {


                $("#DealerPre").val(Response[0].dealer_remain_pre);
                $("#Dlm_Comm").val(Response[0].dealer_comm);
                $("#dlmgst").val(Response[0].dealer_gst);
                $("#dlmtds").val(Response[0].dealer_tds);
                $("#DealerPost").val(Response[0].dealer_remain_post);

                $("#MasterPre").val(Response[0].master_remain_pre);
                $("#Md_Comm").val(Response[0].master_comm);
                $("#Mdgst").val(Response[0].master_gst);
                $("#Mdtds").val(Response[0].master_tds);
                $("#MasterPost").val(Response[0].master_remain_post);

                $("#Response").val(Response[0].resp);

                $("#lblresponseid").text(Response[0].network);
            }
        });
    };

</script>
<script>
    $('#allwhitelabel1').select2();
    $('#allmaster2').select2();
    $('#alldealer').select2();
    $('#allretailer').select2();
</script>

<script>
    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            doitemument.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Admin") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Retailer") {

            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>