
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Money_Transfer_Report";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    <link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />
    <style>
        table #trow {
            counter-reset: rowNumber;
        }

            table #trow tr::before {
                display: table-cell;
                counter-increment: rowNumber;
                content: counter(rowNumber) ".";
                text-align: left;
                padding-left: 3px;
                border-right: 1px solid #aaa4a4;
            }
    </style>

    <style>

        .select2-container--default .select2-selection--single {
            border: 1px solid #eee !important;
            border-radius: 0px !important;
            height: 32px !important;
            margin-top: 1px;
        }

        .dropdown-menu {
            margin-top: 81px !important;
        }

        .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
            height: 20px;
        }

        .menu_links {
            cursor: pointer;
        }

        .modalStyle {
            position: absolute;
            top: 10px;
            right: 100px;
            bottom: 0;
            left: 0;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;
        }

        .loadermoney {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 199999;
            background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
        }

        .ss :hover {
            color: green;
        }

        .ress :hover {
            color: #ff9600;
        }

        .view :hover {
            color: #3F51B5;
        }

        .cltu::after {
            content: "";
            display: block;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            position: absolute;
            top: 15px;
            width: 0;
            right: 10px;
            z-index: 11;
        }

        .cltu {
            width: 12%;
            margin-right: 3px;
        }

        .nrr3 {
            float: left;
            position: relative;
        }

        .ner2 {
            width: 25px !important;
            border: 1px solid #b1a6a638 !important;
        }

        .ner {
            width: 25px !important;
            border: 1px solid #b1a6a638 !important;
        }

        .chnj td img {
            height: 18px !important;
            padding: 3px !important;
        }

        .sspl tr th {
            padding-right: 0px !important;
        }

        .table-bordered tbody tr td span, .table-bordered tbody tr td p {
            color: #555;
        }

        .table-bordered tbody tr td {
            font-size: 13px;
            padding: 10px 4px;
        }

        .money-tab-secondclass {
            width: 30%;
        }

        .pdfresponsive-second {
            width: auto;
            float: right;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #eee !important;
            border-radius: 0px !important;
            height: 32px !important;
            margin-top: 1px;
        }

        .dropdown-menu {
            margin-top: 81px !important;
        }

        .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
            height: 20px;
        }

        .menu_links {
            cursor: pointer;
        }

        .modalStyle {
            position: absolute;
            top: 10px;
            right: 100px;
            bottom: 0;
            left: 0;
            z-index: 10040;
            overflow: auto;
            overflow-y: auto;
        }

        .loadermoney {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 199999;
            background: url('../../images/mmmm.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
        }

        .ss :hover {
            color: green;
        }

        .ress :hover {
            color: #ff9600;
        }

        .view :hover {
            color: #3F51B5;
        }

        .cltu::after {
            content: "";
            display: block;
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            position: absolute;
            top: 15px;
            width: 0;
            right: 10px;
            z-index: 11;
        }

        .cltu {
            width: 12%;
            margin-right: 3px;
        }

        .nrr3 {
            float: left;
            position: relative;
        }

        .ner2 {
            width: 25px !important;
            border: 1px solid #b1a6a638 !important;
        }

        .ner {
            width: 25px !important;
            border: 1px solid #b1a6a638 !important;
        }

        .chnj td img {
            height: 18px !important;
            padding: 3px !important;
        }

        .sspl tr th {
            padding-right: 0px !important;
        }

        .table-bordered tbody tr td span, .table-bordered tbody tr td p {
            color: #555;
        }

        .table-bordered tbody tr td {
            font-size: 13px;
            padding: 10px 4px;
        }

        .white-successadmin-money span {
            float: left;
            line-height: normal;
        }


        @@media screen and (max-width:1366px) {
            .moneytransferreport-admin .fin1.firsttimerespon-admin.gjut-ruty {
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }

            .moneytransferreport-admin .cltu.left-space-no.responcive-fify {
                margin-left: 0px !important;
            }

            .moneytransferreport-admin .pploh.fin3.responcive-fify {
                width: auto;
                float: right;
            }
        }

        @@media only screen and (min-width:481px) and (max-width:992px) {
            .fin2 {
                width: 100% !important;
                float: left;
            }

            .left-space-no {
                margin-left: 0px !important;
            }

            .responcive-fify {
                width: 49% !important;
                float: left !important;
                margin-bottom: 20px;
            }

                .responcive-fify button.btn.llpo {
                    width: 100%;
                    text-align: left;
                }

            .responcive-full {
                width: 99% !important;
                float: left;
                margin-bottom: 10px;
            }

                .responcive-full .nrr3 {
                    width: 50% !important;
                    float: left;
                }

                .responcive-full input {
                    width: 49% !important;
                }

                .responcive-full .nrr3 input {
                    width: 100% !important;
                }

            .responcive-fify .web-white-filter {
                width: 100%;
            }

            .col-md-2.pploh.fin3.responcive-fify {
                position: absolute;
                top: 210px;
                right: 42px;
            }

            .fin1.gjut-ruty ul li {
                width: 24.5%;
                position: relative;
            }

                .fin1.gjut-ruty ul li img {
                    position: absolute;
                    left: 30%;
                }

            .white-success {
                float: left !important;
                width: auto !important;
                right: 52% !important;
            }
        }

        @@media screen and (max-width:766px) {
            .moneytransferreport-admin .col-md-12.classbottomo-third {
                width: 100%;
                float: left;
            }

            .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin {
                width: 100%;
                float: left;
                margin-top: 8px;
            }

                .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin ul li {
                    width: 19%;
                }

                    .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin ul li a img {
                        float: left !important;
                        position: static;
                    }

            .moneytransferreport-admin .table-responsive table {
                border-left: 1px solid #aaa4a4;
            }

            .table-responsive table thead tr th:last-child {
                padding-right: 52px !important;
            }

            .white-successadmin-money {
                bottom: 10px !important;
            }
        }

        @@media only screen and (max-width:480px) {
            .fin1, .fin2 {
                width: 100% !important;
            }

                .fin1 .kklo #custnav ul li a {
                    padding: 5px 15px;
                }

                .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                    width: 49.5% !important;
                    float: left;
                    margin-left: 0px !important;
                }

                    .fin2 .col-md-2.cltu.for-width {
                        width: 48% !important;
                    }

                    .fin2 .col-md-2.gglk {
                        width: 99% !important;
                        margin-bottom: 5px;
                    }

                .fin2 .col-md-3 {
                    width: 100% !important;
                    margin-bottom: 5px;
                }

                    .fin2 .col-md-3 input {
                        width: 50% !important;
                    }

                    .fin2 .col-md-3 .nrr3 {
                        width: 48%;
                    }

                        .fin2 .col-md-3 .nrr3 input {
                            width: 100% !important;
                        }

            .llpo span {
                display: inline-block;
            }

            .fin2 .col-md-1 {
                width: 40% !important;
            }

                .fin2 .col-md-1 button {
                    width: 100%;
                }

            .col-md-2.pploh.fin3 {
                width: 55%;
                right: 30px;
                top: 190px;
            }

            .table-responsive > .table-bordered > thead > tr > th:first-child {
                border-left: 1px solid var(--border-color);
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child {
                border-right: 1px solid var(--border-color);
            }

            .white-success {
                right: 20px !important;
            }

            .cltu {
                margin-bottom: 15px !important;
            }

            .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin ul li {
                width: 32%;
                float: left;
            }

                .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin ul li:nth-child(5), .moneytransferreport-admin .col-md-3.fin1.firsttimerespon-admin ul li:nth-child(4) {
                    width: 48%;
                    margin-top: 8px;
                }

            .moneytransferreport-admin .col-md-2.pploh.fin3.responcive-fify {
                top: auto;
                bottom: 0;
            }
        }
    </style>
</head>
<body>
    <div id="loadermoney" class="loadermoney" style="display:none;"></div>
    <section class="content">
        <div class="container-fluid moneytransferreport-admin">
            <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
                <div class="col-md-12 classbottomo-third" style="margin-bottom: 10px;">

                    <div class="col-md-12" style="padding: 0px;">
                        <div>
                            @Html.Partial("_finicalmenureport")
                        </div>
                    </div>
                    <div class="col-md-12 fin2 all-type-third allpagefinincal-report" style="padding: 0px; margin-top:0px;position:relative;">

                        @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                        {

                            <div class="col-md-2 cltu left-space-no responcive-fify marginleft-third-respon" style="padding: 0px;">
                                <div class="">
                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="All User",Value="Admin"},
                           new SelectListItem{Text="Master D",Value="Master"},
                           new SelectListItem{Text="Distributor",Value="Dealer"},
                           new SelectListItem{Text="Retailer",Value="Retailer"},
                           new SelectListItem{Text="Api User",Value="APIID"},
                            new SelectListItem{Text="Whitelabel",Value="WAdmin"}
                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                </div>
                            </div>

                            <div class="col-md-2 responcive-fify" style="display:none;padding:0px;padding-right: 3px; margin-bottom: 10px" id="allmaster">
                                <div class="">
                                    @Html.DropDownList("allmaster", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px;padding:0px;", @class = "selectpicker form-control allmasters", data_live_search = "true", })
                                </div>
                            </div>

                            <div class="col-md-2 responcive-fify" style="display:none;padding:0px;padding-right: 3px;margin-bottom: 10px;" id="dlm">
                                <div class="">
                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 responcive-fify" style="display:none;padding:0px;padding-right: 3px;margin-bottom: 10px;" id="rem">
                                <div class="">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 responcive-fify" style="display:none;padding:0px;padding-right: 3px;margin-bottom: 10px;" id="apiid">
                                <div class="">
                                    @Html.DropDownList("allapiuser", ViewBag.apiid as SelectList, "All API", new { id = "allapiuser", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 responcive-fify" style="display:none;padding:0px;padding-right: 3px;margin-bottom: 10px;" id="whitelabelid">
                                <div class="">
                                    @*@Html.DropDownList("Whitelabel", ViewBag.whitelabel as SelectList, "Select Whitelabel", new { id = "Whitelabel", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })*@
                                </div>
                            </div>
                            <div class="cltu responcive-fify" id="sts" style="padding: 0px;">
                                <div class="">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="All Status",Value="ALL",},
                        new SelectListItem{Text="Success",Value="SUCCESS"},
                        new SelectListItem{Text="Pending",Value="PENDING"},
                        new SelectListItem{Text="Failed",Value="FAILED"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 cltu for-width responcive-fify" style="padding: 0px;">
                                <div class="">
                                    @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Type",Value="ALL",},
                        new SelectListItem{Text="Transfer",Value="IMPS"},
                        new SelectListItem{Text="Verify",Value="IMPS_VERIFY"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 gglk responcive-full responcive-fify" style="padding: 0px;margin-right: 3px;">
                                <div class="input-group classborder-thirddesign" style="border: 1px solid #e1dcdc;margin-top: 0px;">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search" style="margin-left:3px;color:#9999b3;"></i>
                                    </span>
                                    <div class="ffjkt">
                                        @Html.TextBox("txtmob", "", new { @class = "form-control", @placeholder = "Sender Number / Bank Acc", @style = "height:30px !important;margin-left:-8px;padding:0px; background:none;font-size:12px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 responcive-full reportdate-money-allpage" style="padding: 0px;margin-right: 0px;float: left;margin-top: 0px;">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="input-daterange input-group">
                                        <div class="inputiconsateall" style="padding-right:2px;">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width:100% !important;" })
                                        </div>
                                        <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                            <div class="custom-date-icon ner2">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width:100% !important;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 responcive-fify responcive-fify-search respon-third-button" style="padding: 0px;width: 10px;float: left;">
                                <center>
                                    <button type="submit" value="Old" name="submit" class="btn llpo input-back-second" style=" border:1px solid #b1a6a638;background: transparent;">
                                        <i class="fa fa-search" style="top:0px;font-size:16px;color:black;"></i>
                                        <span style="top:0px;color:black;">SEARCH</span>
                                    </button>
                                </center>

                            </div>


                        }

                        <div class="col-md-2 pploh fin3 responcive-fify pdfresponsive-second pdf-lastclass-third widthauto-resp-third exl-respo-third pdfadmin-allpageclass" style="padding: 0px;">
                            <div class="row">
                                <div class="form-group">
                                    <div style=" float:right;width: 100%;text-align: right;">
                                        @*<button type="button" id="admin" value="Admin" class="btn bg-grey waves-effect" style="margin-top:2px;" title="Admin income" onclick="Getvaladmin(this)">My Earn</button>*@
                                        @*<button type="button" id="gst" value="GST" class="btn bg-grey waves-effect" style="margin-top:2px;" title="Total GST" onclick="Getvaladmin(this)">GST</button>*@
                                        @*<button type="button" id="tds" value="TDS" class="btn bg-grey waves-effect" style="margin-top:2px;" title="Total TDS" onclick="Getvaladmin(this)">TDS</button>*@
                                        @*<button type="button" id="countverify" value="Verify" class="btn bg-grey waves-effect" style="margin-top:2px;" title="Total Imps Verify" onclick="totaocount(this)">Verify</button>
                                            <button type="button" id="countimps" value="IMPS" class="btn bg-grey waves-effect" style="margin-top:2px;" title="Total Imps " onclick="totaocount(this)">IMPS</button>*@
                                        <div style="float:right; padding-right:10px;" class="web-white-filter lop pdfexpoer-second totalbutton-secondclas">
                                            <button class="white-success-button" style="height:32px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: right;margin-left: 4px;background: #b1a6a638;" onclick="findtotal()">Total</button>
                                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />

                                        </div>



                                    </div>
                                </div>






                            </div>
                        </div>

                        <div class="white-success white-successadmin-money" style="display:none; position: absolute;width: auto;right: 40px !important;z-index: 9;bottom: 0;">
                            <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                            <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                            <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                        </div>

                    </div>


                </div>
            </div>

            <div class="row clearfix" style="margin-top: 10px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <div class="table-responsive tableseconddes-admin" style="position:inherit;overflow: hidden;">
                                        <table id="mmm" class="table table-bordered table-striped table-hover  sspl table-background-second example-second" cellspacing="0" style="width:100%;font-size:12px;background:#f9f9f9;">
                                            <thead style="color:black;position:inherit;">
                                                <tr>
                                                    <th>S.R.</th>
                                                    <th>#&nbsp;User's&nbsp;Information</th>
                                                    <th>Mode</th>
                                                    <th>Sender&nbsp;Number</th>
                                                    <th>Beneficiary&nbsp;A/C</th>
                                                    <th>Net&nbsp;T/F&nbsp;</th>
                                                    <th>User&nbsp;Pre&nbsp;₹&nbsp;</th>
                                                    <th>Debit&nbsp;₹&nbsp;</th>
                                                    <th>User&nbsp;Post&nbsp;₹</th>
                                                    <th>Api&nbsp;Bal</th>
                                                    <th>Request&nbsp;Time</th>
                                                    <th>Bank&nbsp;UTR</th>
                                                    <th>
                                                        <center><span data-toggle="tooltip" title="Success" style="float: left;">Action</span></center>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="trow" class="alin chnj">

                                                @{
                                                    Html.RenderAction("_Money_TransferReport", "Home", new { Model = Model });
                                                }
                                            </tbody>
                                        </table>
                                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                            <img src="~/img/ajax-loader.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--view modal popup-->
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke;">
                    <h4 class="modal-title" id="largeModalLabel" style="color:#100f0fa8;">View Response</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <tr>
                                <th>Status</th>
                                <td><span id="sts1"></span></td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td><span id="amount"></span></td>
                            </tr>
                            <tr>
                                <th>Bank&nbsp;id</th>
                                <td><span id="bankID"></span></td>
                            </tr>
                            <tr>
                                <th>Beneficiary&nbsp;Name</th>
                                <td><span id="benname"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-grey waves-effecttn b" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <!--View Status Model PopUp Modal-->

    <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                    <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
                </div>
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="form-group" style="margin-top:27px;">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="name" name="name" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                        @Html.Hidden("TID")
                                    </div>
                                    <span style="color:red" id="invalidname"></span>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                                <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotp()">Resend Otp</button>
                                <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submit()">Send</button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--View Status OLD Model PopUp Modal-->

    <div class="modal fade" id="myModalold" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                    <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
                </div>
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="form-group" style="margin-top:27px;">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="nameold" name="nameold" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                        @Html.Hidden("TIDold")
                                    </div>
                                    <span style="color:red" id="invalidnameold"></span>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                                <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotpold()">Resend Otp</button>
                                <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submitold()">Send</button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--For Right Popup -->
    <div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
                <div class="ldio-zdyd6mf6t5">
                    <div></div><div></div>
                </div>
            </div>
            <div id="userinfodiv" class="modal-content width100 float-left">
                <div class="modal-header width100 float-left">

                    <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="senderTitle"></span></h4>
                    <h4 class="modal-title">
                        <span style="margin-right: 6px;" id="BenAcTitle"></span>
                    </h4>
                    <div class="modal-back width100">
                        @Html.Hidden("Idno")

                        <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;background:transparent;">
                            <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div><!--.modal-header-->
                <div class="modal-body width100 float-left">

                    <div class="float-left width100">

                        <form class="first-form">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Request ID</label>
                                        @Html.TextBox("ReqID", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        @Html.TextBox("bankname", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div><!--.row-->
                            <!--.row-->
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Account Holder</label>
                                        @Html.TextBox("acholder", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Master&nbsp;Pre&nbsp;Amt</label>
                                        @Html.TextBox("MasterPre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Credit</label>
                                        @Html.TextBox("MasterCr", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Master&nbsp;D&nbsp;Post&nbsp;Amt</label>
                                        @Html.TextBox("MasterPost", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Distributor&nbsp;Pre&nbsp;Amt</label>
                                        @Html.TextBox("DealerPre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Credit</label>
                                        @Html.TextBox("DealerCr", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Distributor&nbsp;Post&nbsp;Amt</label>
                                        @Html.TextBox("DealerPost", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>IFSC Code</label>
                                        @Html.TextBox("IFSC", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>IP Address</label>
                                        @Html.TextBox("IPAddress", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Request</label>
                                        @Html.TextBox("Request", "", new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Response</label>
                                        @Html.TextArea("Response", "", new { @class = "form-control", @style = "height:100px;", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div><!--.row-->
                            @*<div class="modal-footer width100 float-left">
                                    <ul class="width100 float-left">
                                        <li class="one">
                                            <button type="button" value="Edit" class="btn">Edit</button>
                                        </li>
                                        <li class="One2" style="display:none;">
                                            <button type="button" value="SaveChange" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Change</button>
                                        </li>
                                        <li class="three">
                                            <button type="button" value="Email_Verify" class="btn" onclick="EmailVerify()">Email Verify</button>
                                        </li>
                                        <li class="four">
                                            <button type="button" value="Delet" class="btn" onclick="Deleteuser()">Delete MD</button>
                                        </li>

                                    </ul>
                                    <div> <span id="error" style="color:red;"></span> </div>
                                </div>*@

                        </form>

                    </div>
                </div><!--.modal-body-->


            </div>

        </div>
    </div>

    <!--Refund Model-->
    <div class="modal fade mastetr222Modal" id="defaultModal1" tabindex="-1" role="dialog" style="height: 200px;overflow-y: hidden;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:1px solid #ece7e7;">
                    <h4 class="modal-title" id="defaultModalLabel" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span id="StatusTitle"></span></h4>
                    <h4 class="modal-title" style="margin-right: 10px;border-right: 2px solid;padding-right: 10px;"><span style="margin-right: 6px;" id="BenTitle"></span></h4>
                    <h4 class="modal-title"><span style="margin-right: 6px;" id="NetAmtTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" style="text-align: left;">
                                <label for="email_address_2">Failed Reason</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    @Html.TextBox("txtrefidno", "", new { style = "display:none;" })
                                    @Html.TextBox("txtbankid", "", new { style = "display:none;" })
                                    @Html.TextBox("txtrecivername", "", new { style = "display:none;" })
                                    @Html.TextBox("txtstatus", "", new { style = "display:none;" })
                                    <div class="ppo">
                                        @Html.DropDownList("ddl_refund", new List<SelectListItem>
                                               {
                                         new SelectListItem{ Text="Manual Failed",Value="Manual FAILED"},
                                         new SelectListItem{Text="Bank Server Down ",Value="Bank Server Down"},
                                       new SelectListItem{ Text="Failed Due To Invalid Choice",Value="Failed Due To Invalid Choice"},
                                      new SelectListItem{Text="Network Down",Value="Network Down"},
                                        new SelectListItem{Text="Unsupported Network",Value="Unsupported Network"},
                                     new SelectListItem{Text="Network issue",Value="Network issue"},
                                     new SelectListItem{Text="Insufficient Fund ",Value="Insufficient Fund"}
                                                }, new { @class = "btn-group bootstrap-select form-control show-tick dropup" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top:10px;">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Security&nbsp;Password</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input type="password" id="securitypass" name="securitypass" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn bg-blue-grey waves-effect" onclick="Failed()" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">Confirm & Refund</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal" style="height: auto;background: #ddd !important;color: #000 !important;padding: 7px 5px !important;border: 1px solid #dddddd;">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('#alldealer').select2();
    $('#allretailer').select2();
    $('#allapiuser').select2();
    $('.allmasters').select2();



</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            $("#sts").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("sts").style.marginLeft = "0px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Master") {
            $("#sts").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("sts").style.marginLeft = "0px";
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Admin") {

            $("#sts").removeClass("col-md-1").addClass("col-md-2");
            $("#top").removeClass("col-md-1").addClass("col-md-1");
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Retailer") {
            $("#sts").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("sts").style.marginLeft = "0px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "APIID") {
            $("#sts").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("sts").style.marginLeft = "0px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "WAdmin") {
            $("#sts").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("sts").style.marginLeft = "0px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "block";
        }
    }
</script>

<script>
    function findtotal() {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var ddl_Type = $('#ddl_Type').val();
        var txtmob = $('#txtmob').val();
        var ddlusers = $('#ddlusers').val();
        var allmaster = $('#allmaster').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();

             $.post("@Url.Action("FindMoneyTotal", "Home")",
                 {
                     "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date, "ddlusers": ddlusers,
                     "ddl_status": ddl_status, "ddl_Type": ddl_Type,"txtmob": txtmob,
                     "allmaster": allmaster, "alldealer": alldealer, "allretailer": allretailer,
                     "allapiuser":allapiuser
                 },

                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();
        var url = '@Url.Action("ExcelMoneyReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();
        var url = '@Url.Action("PDFMoneyReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        window.open(url,'_blank');
    });
</script>



<script>
    var ddlusers = $('#ddlusers').val();
    var ddl_status = $('#ddl_status').val();
    var alldealer = $('#alldealer').val();
    var allretailer = $('#allretailer').val();
    var allmaster = $('#allmaster').val();
    var allapiuser = $('#allapiuser').val();
    var Whitelabel = $('#Whitelabel').val();
    var ddl_Type = $('#ddl_Type').val();
    var txtmob = $('#txtmob').val();
    var pageindex = 2;
        var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#mmm").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll1", "Home")",
                    { "pageindex": pageindex, "txt_frm_date": $('#txt_frm_date').val(), "txt_to_date": $('#txt_to_date').val(), "ddlusers": ddlusers, "allmaster": allmaster, "alldealer": alldealer, "allretailer": allretailer, "Whitelabel": Whitelabel, "ddl_status": ddl_status, "allapiuser": allapiuser, "txtmob": txtmob, "ddl_Type": ddl_Type},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>
    function converttoDate(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Hrs = (date.getHours()),
            mnts = (date.getMinutes()),
            sec = (date.getSeconds());
        return dd = [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
    }
</script>

<!--Manual SUCCESS -->
<script>
    function success(trans_id, bank_trans_id, recivername, status)
    {
        $.ajax({
                url: '@Url.Action("Moneysucess", "Home")',
                type: 'POST',
                dataType: "html",
                data: { trans_id: trans_id, bank_trans_id: bank_trans_id, recivername: recivername, currentstatus: status },
                success: function (data) {
                    var response = JSON.parse(data);
                       if (response.Status) {
                           //swal("Good Job", response.Message, "success");
                           window.location.reload();
                           reloadPageeee();
                           //moneyReport();
                    }
                    else {
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {
                }
            });
    }
</script>

<!--failed show model popup-->
<script>
    function refundshow(idno, trans_id, bank_trans_id, recivername, status) {
        RefundTitleVal(idno);
        $("#txtrefidno").val(trans_id);
        $("#txtbankid").val(bank_trans_id);
        $("#txtrecivername").val(recivername);
        $("#txtstatus").val(status);
    }
</script>

<!--Manual failed -->
<script>
    function Failed() {
        var secuirtypass = $("#securitypass").val();
        var id = $("#txtrefidno").val();
        var bankid = $("#txtbankid").val();
        var recivername = $("#txtrecivername").val();
        var status = $("#txtstatus").val();
        var e = document.getElementById("ddl_refund");
        var ddlval = e.options[e.selectedIndex].value

        if (secuirtypass != "" && secuirtypass != null) {
            $.ajax({
                url: '@Url.Action("MoneyFailed", "Home")',
                type: 'POST',
                dataType: "html",
                data: { txtrefidno: id, bankid: bankid, recivername: recivername, ddl_refund: ddlval, secuirtypass: secuirtypass, currentstatus: status },
                success: function (data) {
                    
                    var response = JSON.parse(data);
                    if (response.Status) {
                        //swal("Good Job!", response.Message, "success");
                        window.location.reload();
                        reloadPageeee();
                        //moneyReport();
                    }
                    else {

                        alert(response.Message);
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {

                }
            }).done(function () {
                $("#defaultModal1").modal('hide');
            });
        }
    }
</script>

<!--Resend-->
<script>
    function resendchk11(id) {
        var btnk = "nrch" + id;
        var btn1 = "nrchsuccess" + id;
        $('#' + btnk).css("display", "none");
        $('#' + btn1).css("display", "block");
    }
</script>
<script>
    function resend(Idno)
    {

      document.getElementById("loadermoney").style.display = "block";
            $.ajax({
                url: '@Url.Action("MoneyResend", "Home")',
                type: 'POST',
                dataType: "json",
                data: { idno: Idno, DmtType: "DMT2" },
                success: function (data) {
                   document.getElementById("loadermoney").style.display = "none";
                   // swal("Good Job!", "Resend SuccessFully ", "success");
                   window.location.reload();
                   reloadPageeee();
                    //moneyReport();
                }
            });
    }
</script>
<script>
    function reloadPageeee() {
        $('#balance').load(location.href + " #balance");
        $('#all').load(location.href + " #all");

    }
</script>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>

<script type="text/javascript">
    function funsave1(e) {
        var arr = e.split('|||');
        var id = arr[0];
        var trnid = arr[1];
        swal({
            title: "Are you sure?",
            text: "You will Refund the Transtion ID " + trnid + "!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Refund it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
function (isConfirm) {
    if (isConfirm) {
        $.ajax({
            type: "POST",
            url:"@Url.Action("MoneyFailed", "Home")",
            data: { 'id': id },
            cache: false,
            dataType: 'json',
            async: false,
            success: function (result) {
                //swal("Refunded!", "Transtion ID " + trnid + " Is Refund SuccessFully. ", "success");
                //location.reload();
            }
        });
    } else {
        //swal("Cancelled", " Canceled it:)", "error");
        return false;
    }
});
        return false;
    }
</script>

<script type="text/javascript">
    function funsave2(e) {
         var arr = e.split('|||');
        var id = arr[0];
        var trnid = arr[1];
        swal({
            title: "Are you sure?",
            text: "You will Success this Transtion ID " + trnid + "!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Success it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
function (isConfirm) {
    if (isConfirm) {
        $.ajax({
            type: "POST",
            url:  "@Url.Action("Moneysuccess", "Home")",
            data: { 'id': id },
            cache: false,
            dataType: 'json',
            async: false,
            success: function (result) {
                //swal("SUCCESS!", "Transtion ID " + trnid + " is  SUCCESS. ", "success");
                //location.reload();
            }
        });
    } else {
        //swal("Cancelled", " Canceled it:)", "error");
        return false;
    }
});
        return false;
    }
</script>

<script type="text/javascript">
    function resendchk() {
        swal({
            title: "Are you sure?",
            text: "You Want To Resend This Transaction ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Resend it!",
            closeOnConfirm: false
        },
            function () {
                //    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                $('input:checkbox:checked').each(function () {
                    var ch = $(this).attr('value');
                    $.ajax({
                        type: "POST", url: "process_moneyresend", data: { 'Id': ch }, dataType: 'json', cache: false, async: true, success: function (result) {
                            if (result.status == 'success') {
                                //sweetAlert("Success", result.message, "success");
                            }
                            if (result.status == 'failure') {
                                //sweetAlert("Failed!", result.message, "error");
                            }
                        }
                    });
                });
            });
    }
</script>

<script>
          function sender(sender) {
//  $('#loader').show();
              $.ajax({
                    type: 'Post',
                    url: "@Url.Action("process_sender_cyber", "Home")",
                    data: {sender_number:sender},
                    dataType: 'json',
                    cache: false,
                    async: false,
                    success: function (data) {
                          var chhh = data.CardDetail;
                          var wallremain=chhh.RemitLimitAvailable;
                          var walluse=chhh.Balance;
                          $("#bal").html(walluse);
                            $("#balremain").html(wallremain);
                          $("#sendnum").html(sender);
                            $("#loader").css("display", "none");
                           jQuery('#click1').click();
                    }
                    });
    }

                function Responseurl(idno, Receivername,trandate,bankname,ifsc,transmode,apiname,transamount,granttotal,remopenbal,remclosebal,dlmopenbal,dlmclosebal,mdopenbal,mdclosebal,requesturl,responseurl)
                {
                    $("#idno").val(idno);
                    $("#receivername").val(Receivername);
                    $("#transactiondate").val(trandate);
                    $("#bankname").val(bankname);
                    $("#ifsccode").val(ifsc);
                    $("#transactionmode").val(transmode);
                    $("#apiname").val(apiname);
                    $("#transactionamount").val(transamount);
                    $("#granttotal").val(granttotal);
                    $("#retaileropenbal").val(remopenbal);
                    $("#retailerclosebal").val(remclosebal);
                    $("#distributoropenbal").val(dlmopenbal);
                    $("#distributorclosebal").val(dlmclosebal);
                    $("#masteropenbal").val(mdopenbal);
                    $("#masterclosebal").val(mdclosebal);
                    $("#requesturl").val(requesturl);
                    $("#responseurl").val(responseurl);

                }
</script>

<!--Generate Print-->
<script type="text/javascript">
            function GotoPDF(e) {
                // alert(e)
                var idno = e.toString(); ;
                var url = '@Url.Action("GeneratePDF", "Home")?Idno=' + idno + '';
                //window.location.href = url,;
                window.open(url, '_blank');
            }
</script>

<script>

    $("#res").click(function () {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {

                if (isConfirm) {

                    swal("Shortlisted!", "Candidates are successfully shortlisted!", "success");

                } else {
                    swal("Cancelled", "Your imaginary file is safe :)", "error");
                }
            });
    });

    function Show() {
        $('#div_Loader').show();
    }

    function Hide() {
        $('#div_Loader').hide();
    }

</script>
<!--show count Gst and Tds and Admin income-->
<script>
    function Getvaladmin(obj)
    {
        var val = obj.value;
        var txt_frm_date=$("#txt_frm_date").val();
        var txt_to_date = $("#txt_to_date").val();
          $.ajax({
            type: 'Post',
            url: "@Url.Action("AdminImpsIncmoe", "Home")",
            data:{Type:val,txt_frm_date:txt_frm_date,txt_to_date:txt_to_date},
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                var type = data.Type;

                if (type == "Admin")
                {
                    document.getElementById("admin").innerText = "₹ " + data.Adminincome;

                  }
                else if (type == "GST")
                {
                    document.getElementById("gst").innerText = "₹ " + data.Gst;
                   }
              //  else if (type == "TDS")
              //  {
              //      document.getElementById("tds").innerText = "₹ " + data.Tds;
              //}


        }
    });
    }
</script>

<!--show count Imps Verify and Count Imps In javscript-->
<script>
    function totaocount(obj)
    {

        var val = obj.value;
        var txt_frm_date=$("#txt_frm_date").val();
        var txt_to_date = $("#txt_to_date").val();
          $.ajax({
            type: 'Post',
            url: "@Url.Action("CountImpasandVerify", "Home")",
              data: { Type: val, txt_frm_date: txt_frm_date, txt_to_date: txt_to_date },
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                var type = data.Type;
                if (type == "Verify")
                {
                    document.getElementById("countverify").innerText = "ⓥ " + data.VerifyCount;

                  }
                else if (type == "IMPS")
                {
                    document.getElementById("countimps").innerText = "⇗ " + data.Impscount;
              }

              }
    });
    }
</script>

<!--view modal popup javacsript-->
<script type="text/javascript">
    function response(idno) {
        $('#sts1').text("");
        $('#message').text("");
        $('#amount').text("");
        $('#type').text("");
        $('#bankID').text("");
        $('#benname').text("");
        $('#accountno').text("");
        $('#transfertype').text("");
        $.ajax({
            type: "POST",
            url: "@Url.Action("reponse_result_money", "Home")",
            data: { idno: idno },
            dataType: "json",
            cache: false,
            async: true,
            success: function (result) {
                if (result != "NO") {
                    var ss = JSON.parse(result);
                    $('#sts1').text(ss.status);
                    $('#amount').text(ss.data.amount);
                    $('#bankID').text(ss.data.opr_id);
                    $('#benname').text(ss.data.name);
                    jQuery('#largeModal').click();
                }
            }
        });
    }
</script>



<!--View Status-->
<script>
    function GotoView(idno)
    {
        $.ajax({
            url: '@Url.Action("viewsearch", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno},
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success")
                {
                    //swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                    //                        function () {
                    //                            location.reload();
                    //                        }
                    //);
                }
                else if (output == "Failed" || output == "Refunded")
                {
                   // swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
                else if (output == "Pending") {
                   // swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
            }
        });
    }

    function GotoViewDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    //swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                    //                        function () {
                    //                            location.reload();
                    //                        }
                    //);
                }
                else if (output == "Failed" || output == "Refunded") {
                   // swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
                else if (output == "Pending") {
                   // swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
            }
        });
    }

    function GotoViewold(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModalold').modal('show');
                }
                else if (output == "Success") {
                    //swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                    //                        function () {
                    //                            location.reload();
                    //                        }
                    //);
                }
                else if (output == "Failed" || output == "Refunded") {
                   // swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
                else if (output == "Pending") {
                   // swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
            }
        });
    }
    function GotoViewoldDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearcholdDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    //swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                    //                        function () {
                    //                            location.reload();
                    //                        }
                    //);
                }
                else if (output == "Failed" || output == "Refunded") {
                   // swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
                else if (output == "Pending") {
                   // swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                   //                        function () {
                   //                            location.reload();
                   //                        }
                   //);
                }
            }
        });
    }
    function Submit()
    {
        var tid = $('#TID').val();
        var otp = $('#name').val();
        $.ajax({
            url: '@Url.Action("Refund", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                //swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP")
                {
                    $('#myModal').modal('hide');
                }
            }
        });

    }
    function Submitold() {
        var tid = $('#TIDold').val();
        var otp = $('#nameold').val();
        $.ajax({
            url: '@Url.Action("Refundold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                //swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP") {
                    $('#myModalold').modal('hide');
                }
            }
        });

    }
    function Resendotp() {
        var tid = $('#TID').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                //swal("Response ! ", result, "success");

            }
        });

    }
    function Resendotpold() {
        var tid = $('#TIDold').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                //swal("Response ! ", result, "success");

            }
        });

    }

</script>

<script>
        function mdActionBtn(Idno) {
        $.ajax({
            url: '@Url.Action("Money_Tranfer_Details_View", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                $('#Idno').val(Response[0].idno)

                $('#senderTitle').text("Sender " + Response[0].senderno)
                $('#BenAcTitle').text("A/C " + Response[0].accountno)

                $('#TransID').val(Response[0].trans_id)
                $('#BankTransID').val(Response[0].bank_trans_id)
                $('#ReceiverName').val(Response[0].recivername)
                $('#TranStatus').val(Response[0].status)

                $('#ReqID').val(Response[0].trans_id)
                $('#bankname').val(Response[0].bank_nm)
                $('#IFSC').val(Response[0].ifsccode)
                $('#acholder').val(Response[0].recivername)
                $('#MasterPre').val(Response[0].md_remain_pre)
                $('#MasterCr').val(Response[0].md_income)
                $('#MasterPost').val(Response[0].md_remain)
                $('#DealerPre').val(Response[0].dlm_remain_pre)
                $('#DealerCr').val(Response[0].dlm_income)
                $('#DealerPost').val(Response[0].dlm_remain)
                $('#IPAddress').val(Response[0].ipaddress)
                $('#Request').val(Response[0].Request)
                $('#Response').val(Response[0].response_output)
            }
        });
    }
        function RefundTitleVal(Idno) {
        $.ajax({
            url: '@Url.Action("Money_Tranfer_Details_View", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                $('#StatusTitle').text(Response[0].status)
                $('#BenTitle').text("A/C " + Response[0].accountno)
                $('#NetAmtTitle').text("Rs " + Response[0].amount)
            }
        });
    }
</script>

<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });


</script>


<script>
    function F() {
        var x4 = document.getElementById("sssS3");
        var x5 = document.getElementById("sssSConfirm3");
        if (x4.style.display === "block") {
            x4.style.display = "none";
            x5.style.display = "block";
        } else {
            x4.style.display = "block";
            x5.style.display = "none";
        }
    }
</script>

<script>
    function btn_showhide(id) {
        var btn1 = "subTblshow" + id;
        var btn2 = "subTblhide" + id;

        $('#' + btn1).css("display", "none");
        $('#' + btn2).css("display", "block");
    }
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/ADMIN/Home/Money_Transfer_Report') {
            $('.kklo #custnav ul li:first-child a').addClass('activee navbar');
        }
    });
</script>

<script>
    function Edit_OPT(id) {
        var btn1 = "subTblshowEdit" + id;
        var btn2 = "subTblhideEdit" + id;
        var btn3 = "subTbl" + id;

        $('#' + btn1).css("display", "none");
        $('#' + btn2).css("display", "block");
        $('#' + btn3).css("display", "none");
    }

    function UpdateOptId(id) {
        var Idno = id;
        var btn3 = "subTbl1" + id;
        btn3 = "#" + btn3;

        var OptId = $(btn3).val();
        $.ajax({
            url: '@Url.Action("EditDMToperator", "Home")',
            type: 'POST',
            data: { txtidno: Idno, txtoptid: OptId},
            cache: false,
            success: function (Response) {
                window.location.reload();
            }
        });


    };
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>