@model List<Vastwebmulti.Models.proc_BusReport_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Bus Booking report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Ticket&nbsp;Status</th>
                <th>Firm&nbsp;Name</th>
                <th>Passanger&nbsp;Name</th>
                <th>Source&nbsp;(From)</th>
                <th>Destination&nbsp;(To)</th>
                <th>Date&nbsp;Of&nbsp;Journey</th>
                <th>Fare</th>
                <th>Retailer&nbsp;Pre</th>
                <th>Retailer&nbsp;Post</th>
                <th>PNR</th>
                <th>Booking&nbsp;Time</th>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.TicketStatus;
                if (item.TicketStatus.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>

                    <td>@item.Frm_Name</td>
                    <td>@item.PassengerName</td>
                    <td>@item.sourceStationName</td>
                    <td>@item.destinationStationName</td>
                    <td>@item.dateOfJourney</td>
                    <td>@item.FareAmount</td>
                    <td>@item.RemPre</td>
                    <td>@item.RemPost</td>
                    <td>@item.PNR</td>
                    <td>@item.TicketDate</td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
