@model List<Vastwebmulti.Models.Mpos_Report_New_paging_Result>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">M&nbsp;-&nbsp;Poss&nbsp;Id</th>

                <th style="padding-left:2px; padding-right:2px;text-align:center;">BankRRN&nbsp;No</th>
                <th style="padding-left: 2px;padding-right: 2px;text-align:center;">TxnId</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">TransType</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Amount</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Comm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Debit&nbsp;Amount</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Merchant&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;Merchant&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;Terminal&nbsp;ID</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {


                    if (item.status == "00")
                    {
                        item.status = "Success";
                    }
                    else
                    {
                        item.status = "Failed";

                    }
                    <tr>

                        <td>@item.status&nbsp;⇒&nbsp;@item.Frm_Name</td>
                        <td>@item.transType</td>
                        <td>@item.cardtype</td>
                        <td>@item.cardbrand</td>
                        <td>@item.mPOSid</td>

                        <td>@item.amount</td>
                        <td>@item.Rem_comm</td>
                        <td>@item.totalamount</td>
                        <td>@item.BankRRN</td>
                        <td>@item.date</td>

                        <td>@item.bankterminalID</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

