@model List<Vastwebmulti.Models.proc_Recharge_operator_report_newPaging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Live&nbsp;Status</th>
                <th>Firm&nbsp;Name</th>
                <th>Operator&nbsp;Name</th>
                <th>&nbsp;&nbsp;Customer&nbsp;No&nbsp;</th>
                <th>Amount</th>
                <th>Port&nbsp;/&nbsp;API</th>
                <th>Lapu&nbsp;Remain</th>
                <th>Transition&nbsp;ID</th>
                <th>Request&nbsp;Time</th>
                <th>Response&nbsp;Time</th>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.rstatus;
                if (item.rstatus.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>

                    <td>@item.Rch_time</td>
                    <td>@item.Operator_name</td>
                    <td>@item.mobile</td>
                    <td>@item.amount</td>
                    <td>@item.portno</td>
                    <td>@item.lapubal</td>
                    <td>@item.opt_id</td>
                    <td>@item.frm_name</td>
                    <td>@item.resp_time</td>

                </tr>
            }


        </tbody>
    </table>
</body>
</html>
