@model IEnumerable<Vastwebmulti.Models.history_norton_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>Request&nbsp;ID</th>
                <th>Plan&nbsp;Name</th>
                <th>User&nbsp;Firm </th>
                <th>Amount</th>
                <th>Income</th>
                <th>Pre&nbsp;₹</th>
                <th>Cr/Dr</th>
                <th>post&nbsp;₹</th>
                <th>Operator&nbsp;ID</th>
                <th>Date&nbsp;Time</th>

                @*<th>Dealer&nbsp;Pre</th>
                    <th>Dealer&nbsp;Inc</th>
                    <th>Dealer&nbsp;Post</th>
                    <th>Master&nbsp;Pre</th>
                    <th>Master&nbsp;Inc</th>
                    <th>Master&nbsp;Post</th>
                    <th>Admin&nbsp;Pre</th>
                    <th>Admin&nbsp;Inc</th>
                    <th>Admin&nbsp;Post</th>*@

        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                decimal final = Convert.ToDecimal(item.amount) - Convert.ToDecimal(item.total_rem_pay);

                //var final = item.total_md_pay;
                var sts = item.Status;
                if (item.Status.ToUpper().Contains("REQ"))
                {


                    sts = "Pending";
                }
                <tr>
                    <td>@item.Status</td>
                    <td>@item.req_id</td>
                    <td>@item.plan_nm</td>
                    <td>@item.Frm_Name</td>
                    <td>@item.amount</td>
                    <td>@item.total_rem_pay</td>
                    <td>@item.rempre</td>
                    <td>@final</td>
                    <td>@item.rempost</td>
                    <td>@item.OPerator_id</td>
                    <td>@item.transfer_time</td>
                    @*<td>@item.DlmPre</td>
                        <td>@item.DlmInc</td>
                        <td>@item.DlmPost</td>
                        <td>@item.MdPre</td>
                        <td>@item.MdInc</td>
                        <td>@item.MdPost</td>
                        <td>@item.AdminPre</td>
                        <td>@item.AdminInc</td>
                        <td>@item.AdminPost</td>*@

                </tr>
            }


        </tbody>
    </table>
</body>
</html>
