@model Vastwebmulti.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";

  
}


<style>

    .body.profile-register-address.upload-document ul .list-group-item {
        padding: 10px 0px;
    }


    .col-md-8.customlisttupe .retailer-profile-secondclass {
        padding-bottom: 40px;
    }

    .retailer-profile-secondclass p.uptotransction {
        float: left;
        background: #f9f9cb;
        color: #555;
        padding: 5px 1px;
        margin-left: 8px;
        margin-top: 3px;
        margin-bottom: 0;
        width: 33%;
    }

    .retailer-profile-secondclass strong {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }

        .retailer-profile-secondclass strong span {
            font-size: 12px;
        }

    .col-md-8.customlisttupe {
        margin-top: 20px;
    }

        .col-md-8.customlisttupe .retailer-profile-secondclass {
            margin-bottom: 0;
        }

        .col-md-8.customlisttupe button.btn.bg-blue-grey.waves-effect.valuechangebuttonadmin.valuechang-second {
            border: none;
        }


    p.uptotransction.activeupto::after {
        content: "";
        float: left;
        width: 14px;
        height: 14px;
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 83%;
        background-position: center;
        position: relative;
        left: 4px;
        top: 3.4px;
    }


    .onofloaderclass {
        display: none;
    }

    .onofloaderclass {
        animation: none;
        border: 1px solid #bfbebe;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        overflow: hidden;
        background: #f0f0f0;
        height: 24px;
        width: 100%;
        float: left;
    }

        .onofloaderclass::before {
            -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;
            width: 12px;
            height: 12px;
            display: block;
            text-align: center;
            margin: 0px auto;
            margin-top: 4px;
        }

    .ribbon {
        position: absolute;
        right: -2px;
        top: -2px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
    }

        .ribbon span {
            font-size: 11px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 100px;
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px;
            right: -21px;
        }

    .list-group-item {
        border: none;
    }


    .field-validation-error {
        color: red;
    }

    .firt {
        -webkit-transform: rotate(-90deg);
        position: absolute;
        left: -46px;
        top: 48px;
    }

    .ons1 button {
        font-size: 22px;
        text-align: center;
        padding: 5px 22px;
        font-weight: bold;
        margin: 0px auto;
        float: right;
        margin-top: 22px;
    }

    .ons1 input {
        width: 24%;
        float: right;
        border: 1px solid #c7c7c7;
        height: 28px;
        margin-left: 4px;
        padding: 0px 2px;
        font-size: 12px;
    }

    .ons1 {
        width: 100%;
        float: left;
        background: #fff;
        border: 1px solid #c7c7c7;
        padding: 3px 5px;
        margin-bottom: 5px;
    }

        .ons1 span {
            font-size: 16px;
            display: inline-block;
            float: left;
            width: 32%;
            margin-top: 3px;
        }

        .ons1 select {
            width: 17%;
            height: 28px;
            border: 1px solid #c7c7c7;
            float: left;
            background: #e1e1e1;
        }

    .firt span {
        color: var(--main-bg-lcolor);
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .firt3, .firt4 {
        margin-left: 5px;
    }

    .firt2, .firt3, .firt4 {
        padding: 0px;
        width: 32%;
    }

    .required:after {
        color: red;
        content: " *";
    }

    .profile-register-address .list-group-item {
        background-color: var(--second-bg-color);
    }

    .userwise-off ul li {
        float: left;
        padding: 0px 8px;
        border-left: 1px solid #aeaaaa;
        width: 20%;
        height: 50px;
    }

    .userwise-off ul {
        margin: 0px;
    }

    .userwise-off .onoffswitch {
        width: 55px;
    }

    .userwise-off .custom-off::before {
        content: '';
        width: 10px;
        height: 10px;
        top: 8px;
    }

    .userwise-off .costom-on::after {
        top: 7px;
    }

    #btnff.custom-off::before {
        top: 4px;
    }

    #btnon.costom-on::after {
        top: 5px;
        right: 10px;
    }

    .master-user-pop, .Distributor-user-pop, .retailer-user-pop, .api-user-pop, .white-user-pop {
        width: 100%;
        float: left;
        display: none;
        position: absolute;
        top: 80px;
        z-index: 1;
        box-shadow: 0px 0px 3px #000;
        padding: 25px;
        background: #fff;
    }

    .master-close-out-up {
        position: absolute;
        right: 3px;
        top: 2px;
    }

    .master-close-out {
        position: relative;
        width: 25px;
        height: 25px;
        border: 2px solid #aaa4a4;
        background: #fff;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
    }

    .for-master-close {
        color: var(--main-bg-lcolor);
        font-size: 14px;
        position: absolute;
        left: 2px;
        top: 49%;
        background: #fff;
        -ms-transform: translateY(50%);
        transform: translateY(-50%);
        width: 17px;
        line-height: 0px;
    }


    select.profileseclet {
        float: left;
        width: 40%;
        padding: 0;
        border: 1px solid #999;
        text-transform: uppercase;
        font-weight: 400;
        height: 24px;
        font-size: 12px;
        background: transparent;
    }

    #btnff.custom-off::before {
        top: 6px;
    }

    .userwise-off .onoffswitch {
        width: 77px;
    }

    select.profileseclet {
        padding-left: 15px;
    }

    .Masterlist-page .left-first-tabs button.dropdown-toggle::after, .custom-district::after {
        right: 5px;
        top: 11px;
        width: 7px;
        height: 7px;
        border-color: #6a6a6a;
    }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 5px 10px;
    }

    @@media screen and (max-width:1366px) {
        .useroftime-third-respon ul li p {
            font-size: 11px;
        }

        .useroftime-third-respon .select-redgreen select {
            width: 100% !important;
            margin-bottom: 2px;
        }

        #masterref, .dealerotpoffclass, .retaileroffclass, .apioofclass, .wwhiteoofclass {
            display: none;
        }

        .useroftime-third-respon ul li {
            height: auto !important;
        }
    }

    @@media only screen and (max-width:1300px) {
        .userwise-off.one-time-otp-user {
            width: 60% !important;
        }

        .userwise-off ul li {
            padding: 0px;
            padding-left: 4px;
        }

        .userwise-off .onoffswitch {
            width: 40px;
        }

        .custmor-support-in button {
            margin: 12px 15px;
        }

        .userwise-off.one-time-otp-user.useroftime-third.useroftime-third-respon {
            width: 72% !important;
        }
    }

    @@media screen and (max-width:766px) {
        .one-time-otp.otponetime-third {
            width: 100% !important;
        }

            .one-time-otp.otponetime-third h1 {
                width: 100%;
                float: left;
            }

            .one-time-otp.otponetime-third span {
                margin-left: 0 !important;
            }

        .col-md-8 {
            width: 100%;
            float: left;
        }

        .userwise-off.one-time-otp-user.useroftime-third {
            width: 100% !important;
        }

        .profile-third-design {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            margin-top: 8px;
        }

        .col-md-8, .col-md-4 {
            width: 100%;
            float: left;
        }

        .userwise-off.one-time-otp-user.useroftime-third.useroftime-third-respon {
            width: 100% !important;
            margin-top: 8px;
        }

        .useroftime-third-respon ul li {
            width: 50%;
            float: left;
            padding-right: 5px;
        }
    }

    @@media only screen and (max-width:480px) {
        .one-time-otp {
            width: 100% !important;
            float: right;
        }

            .one-time-otp #UserWiseOTPbtn {
                float: right;
            }

        .userwise-off.one-time-otp-user {
            width: 100% !important;
            float: left !important;
            margin-bottom: 60px;
        }

        .userwise-off ul li {
            width: 33%;
            margin-top: 10px;
        }

        .custmor-support.fullbodydycolorbg {
            margin-top: 140px;
        }

        .otp-security .table-responsive > .table-bordered > thead > tr > th:first-child, .otp-security .table-responsive > .table-bordered > tbody > tr > td:first-child {
            border-left: 1px solid var(--border-color);
        }

        .profile-customer-third .custmor-support {
            margin-top: 0;
        }

        .useroftime-third-respon ul li {
            width: 50%;
            float: left;
            padding-right: 5px;
        }
    }
</style>
<section class="content">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-4 profile-third-design">
                <div class="card " style="margin-bottom:0px;">
                    <div class="ribbon"><span class="fullbodydycolorbg"><strong style="font-weight:bold;">EMPLOYEE</strong></span></div>
                    <div class="body fullbodydycolorbg">
                        <center>

                                <div class="image" style="margin-top:24px;">
                                    <img id="Adminimage" src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle profileimg-third" alt="User">
                                </div>
                           
                            <div class="msg" style="padding-top:12px; font-size:19px; font-weight:600; color:#fff">@ViewBag.admin.Employee_name</div>
                            <p style="margin-top:5px;font-size:14px;text-transform:uppercase;color:#fff" "><strong>EMPLOYEE</strong></p>
                        </center>
                    </div>
                </div>
            </div>
            <div id="saveaddressModal" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom:0px;">
                  
                    <div class="body profile-register-address profile-address-second" style="background:var(--second-bg-color);padding-top: 0px;padding-bottom: 13px;  ">
                        <ul class="list-group edit-profilebor-second" style="margin-bottom:4px;">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker"></i> <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Registered Business Address</span>
                            </li>
                            <li class="list-group-item">
                                @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                {
                                    <p style="text-align:justify;margin-top:-12px;"><span id="spnaddress"> @ViewBag.admin.Address </span></p>
                                }
                                else
                                {
                                    <p style="margin-top:-12px;"><span id="spnaddress"> ADDRESS NOT FOUND !  </span></p>
                                }

                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;Town&nbsp;/&nbsp;City</span>
                                @if (ViewBag.admin.city != null && ViewBag.admin.city != "")
                                {
                                    <p style="float:right;text-transform:uppercase;margin-top:4px;">@ViewBag.admin.city</p>
                                }
                                else
                                {
                                    <p style="margin-top:4px;float:right;">CITY NOT FOUND !</p>
                                }
                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;State</span>
                                <p style="float:right;text-transform:uppercase;"><span id="spnstate">  @ViewBag.ddlstate </span></p>
                            </li>

                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;District</span>
                                <p style="float:right;text-transform:uppercase;"><span id="spndistrict"> @ViewBag.dddistrict </span></p>
                            </li>

                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;Zip Code</span>
                                @if (ViewBag.admin.Pincode != null)
                                {
                                    <p style="float:right;margin-top:5px;"><span id="spnpincode"> @ViewBag.admin.Pincode </span></p>
                                }
                                else
                                {
                                    <p style="float:right;margin-top:5px;"><span id="spnpincode"> ZIP CODE NOT FOUND ! </span></p>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="card ">
                   
                    <div class="my-profile-save" style="background: var(--second-bg-color);padding:10px;">
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Employee_name</p>
                        <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminname">@ViewBag.admin.Employee_name</label> </p>
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">DOB</p>
                        <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminname">@ViewBag.admin.DOB</label> </p>
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">JoinDate</p>
                        <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminname">@ViewBag.admin.JoinDate</label> </p>
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Email-ID</p>
                        <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminemail">@ViewBag.admin.E_mail </label> </p>
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Mobile</p>
                        <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminmobile"> @ViewBag.admin.Mobile </label></p>
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Aadharcard</p>
                        @if (ViewBag.admin.AadharCard != null && ViewBag.admin.AadharCard != "")
                        {
                            <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminaadhar"> @ViewBag.admin.AadharCard </label></p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;">Data Not Found !</p>
                        }
                        <p style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Pancard</p>
                        @if (ViewBag.admin.PanCard != null && ViewBag.admin.PanCard != "")
                        {
                            <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;"><label id="lbladminpencard"> @ViewBag.admin.PanCard </label></p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;margin-top:-7px;border-bottom: 1px solid #fff;padding-bottom: 6px;margin-bottom: 6px;">Data Not Found !</p>
                        }
                
                    </div>
                </div>

            </div>
           
           
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />


<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html("");
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>
