@model IEnumerable<Vastwebmulti.Models.report_cash_deposit_Result>
@{
    Layout = null;
}


@if (Model != null)
{

    foreach (var item in Model)
    {
        var i = item.idno;
        var idno = "subTbl";
        idno = idno + i;

        var idno1 = "subTbl1";
        idno1 = idno1 + i;

        var idshow = "subTblshow";
        idshow = idshow + i;

        var idhide = "subTblhide";
        idhide = idhide + i;

        var idshowEdit = "subTblshowEdit";
        idshowEdit = idshowEdit + i;

        var idhideEdit = "subTblhideEdit";
        idhideEdit = idhideEdit + i;


        var img = "";
        var bcolor = "";
        var font = "600";

        if (item.status.Contains("Pending"))
        {
            img = "../../ashok-images/clkk.png";
            bcolor = "#ffc107";
            font = "600";
        }
        if (item.status.Contains("Failed"))
        {
            img = "../../ashok-images/closes.svg";
            bcolor = "red";
            font = "600";
        }
        if (item.status.Contains("Success"))
        {
            img = "../../ashok-images/correct.svg";
            bcolor = "green";
            font = "600";
        }
        if (item.status.Contains("Refund"))
        {
            img = "../../ashok-images/backresnd.svg";
            bcolor = "brown";
            font = "600";
        }

        <tr>

            <td><img class="img-microatm" src="@img" style=" height: 20px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@bcolor;float:left;" />@item.status</td>
            <td>@item.Frm_Name</td>

            <td>@item.amount</td>
            <td>@item.req_date</td>
            <td>
                <input type="text" style="display:none" class="notshowsingrrn" id="txtbnkrrn-@item.idno" name="txtbnkrrn-@item.idno" value="" />


                @item.bankrrn
            </td>
            <td>@item.benname</td>
            <td>@item.bankname</td>
            <td>@item.Rem_pre</td>
            <td>@item.rem_comm</td>
            <td>@item.rem_gst</td>
            <td>@item.rem_tds</td>
            <td>@item.rem_post</td>
            <td style="white-space:nowrap;">
                @{
                    var idncr = "nrch";
                    var idncr1 = item.idno;
                    var chkkkk = idncr + idncr1;
                }
                <div class="nrch" id="@chkkkk">
                    @if (item.status.ToUpper() == "PENDING")
                    {
                        <div class="ctti" style="margin-bottom:0px;">
                            @*<button id="@idshow" class="ss btnshowhide" data-toggle="tooltip" onclick="btn_showhide(@i)" style="display:block;border:none;color:black; background:transparent;" title="Success">
                                    <i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;"></i>
                                </button>*@
                            @*<button id="@idhide" class="ss tbnnotshow" data-toggle="tooltip" onclick="success('@item.idno', '@item.status')" style="display:none; border:none;color:black; background:transparent;" title="Are you sure ?">

                                    <i class="fa fa-question-circle-o" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;"></i>
                                </button>*@
                        </div>
                        <div class="ctti" style="margin-bottom:0px;">

                            <button id="fff" type="button" class="fftr" style="background-color:transparent; color:black;border:none;margin-top:0px;" data-toggle="modal" title="Refund" data-toggle="modal" data-target="#defaultModal1" onclick="refundshow('@item.idno','@item.status')">
                                <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;"></i>
                            </button>
                        </div>
                    }
                    @*<span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.idno')"> <img src="~/ashok-images/rightaeps.svg" style="border: 1px solid #c7c2c2;padding: 3px 5px;font-size: 10px;width:22px;"> </span>*@


                </div>
                @{
                    var idncr111 = "nrchsuccess";
                    var idncr11 = item.idno;
                    var chkkkk1 = idncr111 + idncr11;
                }
                <p class="nrchsuccess" id="@chkkkk1" style="display:none;text-align:center;background: green;width: 100%;padding: 5px;">
                    <button onclick="resend('@item.idno')" style="color: white; font-weight: 800;font-size: 11px; background-color:transparent;border:0px;">
                        I'M SURE > Resend
                    </button>
                </p>
            </td>
        </tr>
    }
}