
@{
    Layout = null;
}
@*<style>
    .circles {
        width: 100%;
        padding: 6px;
        border: 1px solid;
    }

</style>*@
@if (ViewBag.isReport != "1")
{
    if (ViewBag.simdetails != null)
    {
        var i = 1;
        foreach (dynamic item in ViewBag.simdetails)
        {

            <tr class="tr">
                <td>@i</td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("operator_Name").GetValue(item, null)</p></td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" class="form-control" name="simnumber" id="simnumber" value="@ViewBag.sellerSIMChargeByID.simnumber" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("simnumber").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" step="any" class="form-control" name="dailyhome_limit" id="dailyhome_limit" value="@ViewBag.sellerSIMChargeByID.dailyhome_limit" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("dailyhome_limit").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" step="any" class="form-control" name="dailyrom_limit" id="dailyrom_limit" value="@ViewBag.sellerSIMChargeByID.dailyrom_limit" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("dailyrom_limit").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" step="any" class="form-control" name="purchasecomm" id="purchasecomm" value="@ViewBag.sellerSIMChargeByID.purchasecomm" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("purchasecomm").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        @*<input type="text" class="form-control" name="circle" id="circle" value="@ViewBag.sellerSIMChargeByID.circle" />*@

                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7" style="padding: 0px; width: auto;">
                            <div class="">
                                <select style="width: 100%; padding: 7px 0px 7px 0px;; border: 1px solid #ccc; "="circles" id="circle_edit" name="circle" required>
                                    @*<option value="@ViewBag.sellerSIMChargeByID.circle">@ViewBag.sellerSIMChargeByID.circle</option>*@
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar Jharkhand">Bihar Jharkhand</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Dadra &amp; Nagar Haveli">Dadra &amp; Nagar Haveli</option>
                                    <option value="Delhi NCR">Delhi NCR</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu Kashmir">Jammu Kashmir</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Madhya Pradesh Chhattisgarh">Madhya Pradesh Chhattisgarh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="North East">North East</option>
                                    <option value="Orissa">Orissa</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="UP East">UP East</option>
                                    <option value="UP West">UP West</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("circle").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="text" class="form-control" name="simname" id="simname" value="@ViewBag.sellerSIMChargeByID.simname" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("simname").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="text" class="form-control" name="userid" id="userid" value="@ViewBag.sellerSIMChargeByID.userid" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("userid").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="text" class="form-control" name="password" id="password" value="@ViewBag.sellerSIMChargeByID.password" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("password").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" class="form-control" name="pin" id="pin" value="@ViewBag.sellerSIMChargeByID.pin" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("pin").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" step="any" class="form-control" name="remainbal" id="remainbal" value="@ViewBag.sellerSIMChargeByID.remainbal" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("remainbal").GetValue(item, null)</p>
                    }
                </td>
                <td>
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) == ViewBag.sellerSIMChargeByID.idno)
                    {
                        <input type="number" step="any" class="form-control" name="totalrecharge" id="totalrecharge" value="@ViewBag.sellerSIMChargeByID.totalrecharge" />
                    }
                    else
                    {
                        <p style="margin-top:6px;"> @item.GetType().GetProperty("totalrecharge").GetValue(item, null)</p>
                    }
                </td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("insertdate").GetValue(item, null)</p></td>
                <td>
                    @if (item.GetType().GetProperty("status").GetValue(item, null) == true)
                    {
                        <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                            <button class="costom-on clscall" data-bind="btnsts_@item.GetType().GetProperty("idno").GetValue(item, null)" value="ON" id="@item.GetType().GetProperty("idno").GetValue(item, null)" onclick="OperatorCodestatusupdate('@item.GetType().GetProperty("idno").GetValue(item, null)','Y')" style="border:1px solid #aaa4a4;">ON</button>
                        </span>

                    }
                    else if (item.GetType().GetProperty("status").GetValue(item, null) == false)
                    {
                        <span class="onoffswitch costom-off-second" style="float: left;border:0px;">
                            <button class="custom-off clscall" data-bind="btnsts_@item.GetType().GetProperty("idno").GetValue(item, null)" id="@item.GetType().GetProperty("idno").GetValue(item, null)" value="OFF" onclick="OperatorCodestatusupdate('@item.GetType().GetProperty("idno").GetValue(item, null)','N')" style="border:1px solid #aaa4a4;">OFF</button>
                        </span>

                    }
                </td>
                <td class="last-td">
                    @if ((int)item.GetType().GetProperty("idno").GetValue(item, null) != ViewBag.sellerSIMChargeByID.idno)
                    {
                        <button type="button" onclick="Editmode('@item.GetType().GetProperty("idno").GetValue(item, null)')" id="btnEdit" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                            <p>Edit</p>
                        </button>
                    }
                    else
                    {
                        <button type="button" onclick="btnSavedata('@item.GetType().GetProperty("idno").GetValue(item, null)')" id="btnSavedata" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Save">
                            <p>Save</p>
                        </button>
                    }

                </td>
            </tr>
            i++;
        }
    }

}
else
{
    if (ViewBag.simdetails != null)
    {
        var i = 1;
        foreach (dynamic item in ViewBag.simdetails)
        {

            <tr class="tr">
                <td>@i</td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("operator_Name").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("simnumber").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("dailyhome_limit").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("dailyrom_limit").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("purchasecomm").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("circle").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("simname").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("userid").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("password").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("pin").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("remainbal").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("totalrecharge").GetValue(item, null)</p></td>
                <td><p style="margin-top:6px;"> @item.GetType().GetProperty("insertdate").GetValue(item, null)</p></td>
                <td>
                    @if (item.GetType().GetProperty("status").GetValue(item, null) == true)
                    {
                        <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                            <button class="costom-on clscall" data-bind="btnsts_@item.GetType().GetProperty("idno").GetValue(item, null)" value="ON" id="@item.GetType().GetProperty("idno").GetValue(item, null)" onclick="OperatorCodestatusupdate('@item.GetType().GetProperty("idno").GetValue(item, null)','Y')" style="border:1px solid #aaa4a4;">ON</button>
                        </span>

                    }
                    else if (item.GetType().GetProperty("status").GetValue(item, null) == false)
                    {
                        <span class="onoffswitch costom-off-second" style="float: left;border:0px;">
                            <button class="custom-off clscall" data-bind="btnsts_@item.GetType().GetProperty("idno").GetValue(item, null)" id="@item.GetType().GetProperty("idno").GetValue(item, null)" value="OFF" onclick="OperatorCodestatusupdate('@item.GetType().GetProperty("idno").GetValue(item, null)','N')" style="border:1px solid #aaa4a4;">OFF</button>
                        </span>

                    }
                </td>

                <td class="last-td">
                    <button type="button" onclick="Editmode('@item.GetType().GetProperty("idno").GetValue(item, null)')" id="btnEdit" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                        <p>Edit</p>
                    </button>
                </td>
            </tr>
            i++;
        }
    }
}
<script>
    function btnSavedata(idno) {
         $.ajax({
             url: '@Url.Action("UpdateSeller_SIM", "Home")',
             type:'POST',
             data: {
                 idno: idno, dailyhome_limit: $('#dailyhome_limit').val(), dailyrom_limit: $('#dailyrom_limit').val(), circle: $('#circle_edit').val(), simnumber: $('#simnumber').val()
                 , simname: $('#simname').val(), userid: $('#userid').val(), password: $('#password').val(), pin: $('#pin').val()
                 , remainbal: $('#remainbal').val(), totalrecharge: $('#totalrecharge').val(), purchasecomm: $('#purchasecomm').val()
             },
             success: function (data) {

                 setTimeout(function(){ $('#addcommbody').html(data); }, 500);

            }
        });


    }

     $('.btnssl1').on('click', function () {
                    var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 500);
     });

    $('#circle_edit').val('@ViewBag.sellerSIMChargeByID.circle').change();
</script>