@model List<Vastwebmulti.Models.proc_FlightReport_Result>
@{

    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        #region CssSettings
        var color = "";
        var fontweight = "";
        var text = "";
        var emailid = "";
        var Retailername = "";
        var framname = "";
        var mobile = "";
        var rolename = "";
        var icon = "";
        var rchtype = "";
        var rchtypeicon = "";
        var sts = "";
        var refundcolor = "";
        var dmtytpe = "";

        sts = ((Vastwebmulti.Areas.RETAILER.Enums.TicketStatus)Convert.ToInt32(item.TicketStatusCode)).ToString();

        if (item.TicketStatusCode == 0 || item.TicketStatusCode == 3 || item.TicketStatusCode == 4 || item.TicketStatusCode == 6 || item.TicketStatusCode == 8 || item.TicketStatusCode == 9)
        {
            color = "red";
            fontweight = "700";
        }
        if (item.TicketStatusCode == 5 || item.TicketStatusCode == 1)
        {
            color = "green";
            fontweight = "700";
        }
        if (item.TicketStatusCode == 2)
        {
            color = "#ff9600";
            fontweight = "700";
        }
        #endregion
        if (item.TicketStatus.Contains("Pending"))
        {
            color = "#ff9600";
            sts = "Pending";
            icon = "../../ashok-images/clock.svg";
        }
        if (item.TicketStatus.Contains("Success"))
        {
            color = "green";
            sts = "Success";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.TicketStatus.Contains("FAILED"))
        {
            color = "red";

            icon = "../../ashok-images/closes.svg";
        }
        if (item.TicketStatus.Contains("Refund"))
        {
            color = "#9C27B0";
            sts = "Refund";
            icon = "../../ashok-images/closes.svg";

        }
    <tr style="font-weight:700;">
        <td>
            <p style="font-weight:700;">

                <img style="height: 20px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />
                @item.Frm_Name
            </p>
        </td>
        <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p></td>

        <td>
            <p style="font-size:13px;margin-left:-8px;">&nbsp;@item.LeadPaxFirstName @item.LeadPaxLastName&nbsp;</p>
        </td>
        <td style="font-size:13px;margin-left:-7px;">@item.AirlineName</td>
        <td style="font-size:13px;margin-left:-7px;">@item.BookingId</td>
        <td style="font-size:13px;margin-left:-7px;">@item.PNR</td>
        <td style="font-size:13px;margin-left:-7px;">

            @{
                int adult = 0;
                int child = 0;
                int infant = 0;
                int total_pass = 0;

                adult = Convert.ToInt32(item.totaladultticket);
                child = Convert.ToInt32(item.Totalchildticket);
                infant = Convert.ToInt32(item.TotalInfantticket);
                total_pass = (adult + child + infant);


            }
            @total_pass

        </td>
        <td style="font-size:13px;margin-left:-7px;">@item.OfferedFare</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmInc, 2)</td>
        <td><p style="font-size:11px;margin-left:-7px; margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.TicketDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>

        @*<td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemPre, 2)</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemInc, 2)</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.RemPost, 2)</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmPre, 2)</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmInc, 2)</td>
        <td style="font-size:13px;margin-left:-7px;">@Math.Round(item.DlmPost, 2)</td>*@




    </tr>
    }
}
