@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.PrepaidSlab
@using (Ajax.BeginForm("_prepaid_comm", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Dealer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Dealer")
        {
            favimage = usernname.SingleOrDefault().NickName;

        }
    }

    <style>
        span.range_one_1 {
        font-size: 12px !important;
        font-weight: bold;
           @* color: var(--main-bg-lcolor) !important;*@
            border-bottom: 1px solid var(--main-bg-lcolor) !important;
            border-width: thin;
            padding-bottom: 3px;
        }
        .table-bordered thead tr th {
            padding: 10px;
            border: 1px solid var(--border-color);
            text-align: center !important;
        }

        #updatecolm p {
            font-size: 9px;
            margin-top: 10px;
            text-align: center;
        }
        input#btnsubmit {
            position: absolute;
            top: 0;
            left: 20.1%;
        }
    </style>




    <input id="btnsubmit" type="submit" value="Save Now" class="btn  waves-effect" style="display:none;" />
    <div class="slab-table">
        <table id="updatecolm" class="table table-bordered example-second third-design-table" style="margin-top: 15px;">
            <thead class="navbar" style="position: initial; background: var(--main-bg-lcolor);">
                <tr>
                    <th rowspan="3" style="text-align:center">Operator&nbsp;Name</th>
                    <th colspan="3" style="text-align:center">@favimage&nbsp;%</th>
                </tr>

                <tr>
                    @{
                        var range1 = Convert.ToInt32(@Model.AmountRange[0].maximum1);
                        var range2 = Convert.ToInt32(@Model.AmountRange[0].maximum2);
                        var rangee1 = range1 + 1;
                        var rangee = range2 + 1;
                    }
                    <th><span class="range_one_1">Range One</span><p>1 To @range1</p></th>
                    <th><span class="range_one_1">Range Two</span><p>@rangee1 To @range2</p></th>
                    <th><span class="range_one_1">Range Three</span><p>@rangee and Above</p></th>
                </tr>
            </thead>
            <tbody id="tbodyshow">
                @foreach (var item in Model.common)
                {
                    <tr>
                        <td>@item.OperatorName</td>
                        <td>@item.dlmcomm</td>
                        <td>@item.dlmcomm1</td>
                        <td>@item.dlmcomm2</td>
                    </tr>
                }
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @for (int i = 0; i < Model.common.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.common[i].idno)
                        <td>
                            @Html.DisplayFor(a => a.common[i].OperatorName)
                        </td>

                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm2)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>
