

@if (Model.PurchaseRequestRecived != null)
{
    foreach (var item in Model.PurchaseRequestRecived)
    {
        var color = "";
        var stscolor = "";
        if (item.paymode.ToUpper() == "CASH")
        {
            color = "green";
        }
        if (item.paymode.ToUpper() == "CREDIT")
        {
            color = "red";
        }
        if (item.paymode == "Pending")
        {
            stscolor = "#FF9800";

        }
        if (item.paymode == "APPROVED")
        {
            stscolor = "green";

        }
        if (item.paymode == "REJECTED")
        {
            stscolor = "red";

        }
        <tr>

            <td><p style="font-size:12px;">@item.orderno&nbsp;⇒&nbsp;<span style="color:@color;font-weight:600;">@item.paymode.ToUpper()</span></p></td>
            <td><p style="font-size:12px;text-align:center;"><span style="color:@stscolor;font-weight:600;">@item.sts.ToUpper()</span></p></td>
            <td><p style="font-size:10px;font-weight:700;">@item.RemEmail</p></td>
            <td><p style="font-size:12px;text-align:center;">item.amount</p></td>
            <td><p style="font-size:12px;text-align:center;">@item.cashDepositCharge</p></td>
            <td><p style="font-size:12px;text-align:center;">@item.paymode</p></td>
            @*<td>
                    <div class="row">
                        @if (item.sts == "Pending")
                        {
                            <div class="col-xs-6" style="margin-bottom:0px;">
                                <center>
                                    <button type="button" name="type" onclick="return funin('@item.idno','APP')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa fa-check" style="color:green;"></li> </button>
                                </center>
                            </div>
                            <div class="col-xs-6" style="margin-bottom:0px;">
                                <center>
                                    <button type="button" name="type" onclick="return funin('@item.idno','REJ')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa  fa-ban" style="color:red;"></li> </button>
                                </center>
                            </div>
                        }
                        else
                        {

                        }
                    </div>
                </td>
                <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.reqdate)</p></td>
                <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.Toaccountno)</p></td>
                <td>@Html.DisplayFor(modelItem => item.utrno).ToString().ToUpper()</td>
                <td>@Html.DisplayFor(modelItem => item.details) </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Slip))
                    {
                        <img src="@Url.Content("~/" + item.Slip)" height="60" width="60" />
                    }
                </td>*@
            <td>@item.responsedate </td>
            <td>
                <div class="row">
                    @if (item.sts == "Pending")
                    {
                        <div class="col-xs-6" style="margin-bottom:0px;">
                            <center>
                                <button type="button" name="type" onclick="return funin('@item.idno','APP')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa fa-check" style="color:green;"></li> </button>
                            </center>
                        </div>
                        <div class="col-xs-6" style="margin-bottom:0px;">
                            <center>
                                <button type="button" name="type" onclick="return funin('@item.idno','REJ')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa  fa-ban" style="color:red;"></li> </button>
                            </center>
                        </div>
                    }

                </div>
            </td>
        </tr>
    }
}

