




@if (Model != null && Model.SendPurchaserequest != null)
{
    foreach (var item in Model.SendPurchaserequest)
    {
        var color = "";
        var stscolor = "";
        if (item.type_ == "Cash")
        {
            color = "green";
        }
        if (item.type_ == "Credit")
        {
            color = "red";
        }
        if (item.sts == "Pending")
        {
            stscolor = "#FF9800";

        }
        if (item.sts == "APPROVED")
        {
            stscolor = "green";

        }
        if (item.sts == "REJECTED")
        {
            stscolor = "red";

        }

        <tr>
            <td>@item.Role</td>
            <td><p style="font-size:12px;">@item.orderno&nbsp;⇒&nbsp;<span style="color:@color;font-weight:600;">@item.paymode.ToUpper()</span></p></td>
            <td><p style="font-size:12px;text-align:center;"><span style="color:@stscolor;font-weight:600;">@item.sts.ToUpper()</span></p></td>
            <td><p style="font-size:12px;">@item.frm</p></td>
            <td><p style="font-size:12px;text-align:center;">@item.amount</p> </td>
            <td><p style="font-size:12px;text-align:center;">@item.cashDepositCharge</p> </td>
            <td><p style="font-size:11px;">@item.paymode.ToUpper()</p></td>
            <td><p style="font-size:12px;text-align:center;">@item.Toaccountno</p></td>
            <td><p style="font-size:12px;text-align:center;">@item.utrno</p></td>
            <td>@item.reqdate</td>
            <td>@item.respodate</td>
            <td>@item.details</td>

            <td>
                @if (!string.IsNullOrWhiteSpace(item.Slip))
                {
                    <img src="@Url.Content("~/" + item.Slip)" height="60" width="60" />
                }

            </td>

        </tr>
    }
}


