@model IEnumerable<Vastwebmulti.Models.proc_Recharge_operator_report_newPaging_Result>
@{
    Layout = null;
}



@if (Model != null)
{
    foreach (var item in Model)
    {
        var color = "";
        var fontweight = "";
        var icon = "";
        if (item.rstatus.Contains("SUCCESS"))
        {
            color = "green";
            fontweight = "700";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.rstatus.Contains("FAILED"))
        {
            color = "red";
            fontweight = "700";
            icon = "../../ashok-images/closes.svg";
        }
        if (item.rstatus.Contains("Success To Failed"))
        {
            color = "red";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Failed To Success"))
        {
            color = "#53ad00";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Refund"))
        {
            icon = "../../ashok-images/undo.svg";
            color = "#673AB7";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Request Send"))
        {
            icon = "../../ashok-images/clock.svg";
            color = "#FF9800";
            fontweight = "700";
        }
        <tr>
      
            <td class="success-pandingclass">
                <img style="height: 20px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />



                <span style="color:black;font-weight:@fontweight;">@item.frm_name</span>
            </td>

            <td>@item.mobile</td>
            <td>@item.amount</td>
            <td>@item.Operator_name</td>
            <td>@item.operator_type</td>
            <td>@item.dealerincome</td>
            <td>@item.income</td>
            @*<td>@item.rch_type</td>*@
            <td>@item.opt_id</td>
            <td>@item.Rch_time</td>
        </tr>
    }
}


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>