
@model List<Vastwebmulti.Models.select_dlm_rem_Result>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {

        <tr style="background:no-repeat;">
            <td>@item.Frm_Name</td>
            <td>@item.bal_type</td>
            <td>@item.Balance</td>
            <td>@item.commission</td>
            <td>@item.TotalBal</td>
            <td>@item.remain_amount</td>
            <td>@item.cr</td>
            <td>
                @item.RechargeDate
                        
                    </td>
          
        </tr>
    }
}

