


@foreach (var item in Model.DealerToRemFundTransfer)
{


    var charge = item.commission == null ? 0 : item.commission;
    var headtype = item.Head == null || item.Head == "Direct" ? "Direct" : item.Head;
    <tr data-toggle="modal" onclick="tablerowshowdetail('RLM','@item.Frm_Name','@headtype','@item.bal_type','@item.remain_pre_amount','@charge','@item.cr','@item.TotalBal','@item.remain_pre_amount','@item.remain_amount','@item.oldcrbalance','@item.cr','@item.comment','@item.TotalBal','@item.RechargeDate','@item.CollectionBy')" data-target="#m-d-fund-transfer" style="background:no-repeat;">


        <td><p style="margin-top:6px;">  @item.Frm_Name</p></td>
        <td>@headtype</td>

        <td><p style="margin-top:6px;">@item.bal_type</p></td>

        <td><p style="margin-top:6px;">@item.TotalBal</p></td>
        @*
            <td><p style="margin-top:6px;">@item.remainsuper</p></td>*@

        <td><p style="margin-top:6px;"> @charge</p></td>


        @*
            <td><p style="margin-top:6px;">@item.remainsuperafter</p></td>*@
        @*
            <td><p style="margin-top:6px;">@item.cr</p></td>*@

        <td><p style="margin-top:6px;">@item.Balance</p></td>
        @*
            <td><p style="margin-top:6px;">@item.oldcrbalance</p></td>*@

        <td><p style="margin-top:6px;">@item.RechargeDate</p></td>

    </tr>
}

