@model IEnumerable<Vastwebmulti.Models.Aeps_Report_New_Result>
@{
    ViewBag.Title = "AepsReport";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top:75px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .view :hover {
        color: #3F51B5;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .money-transferreportpage .table-responsive.web-white-table table tr td {white-space: nowrap;}
    .money-transferreportpage .table-responsive.web-white-table table tr th:first-child {padding-right: 70px;}
    .money-transferreportpage .table-responsive.web-white-table table tr th:nth-child(2) {padding-right: 208px;}

</style>
<style>
    .slab-setting-menu li a.activee {
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    }

    @@media screen and (max-width:1290px){
        .money-transferreportpage .aepspdfexlto-button .web-white-filter.fil {margin: 0 !important;padding-right:3px;}
        .money-transferreportpage .aepspdfexlto-button .web-white-filter.fil input:last-child {margin-left: 0 !important;}
    }
    @@media screen and (max-width:992px){
        .money-transferreportpage .aeps-reportbutton ,.money-transferreportpage .col-md-2{float: left;}
        .money-transferreportpage .money-transfere-aeps {float:right;width:70%;}
        .money-transferreportpage .money-transfere-aeps .aeps-selectclass {float: left;width:23%;}
        .money-transferreportpage .col-md-5.aeps-dateclass {float: left;width: 40%;}
        .money-transferreportpage .col-md-5.aeps-dateclass input {font-size: 12px;}
        .money-transferreportpage .money-transfere-aeps .aeps-selectclass .select2 span {font-size: 12px;}
        .money-transferreportpage .col-md-2 .form-line button span {font-size: 12px;}
        .money-transferreportpage .col-md-2.aepspdfexlto-button {float: right !important;padding: 0;margin-top: 10px;width: auto;}
        .money-transferreportpage .col-md-2.aepspdfexlto-button .row {margin: 0;}
        .money-transferreportpage .money-transfere-aeps .col-md-12 {padding-right: 0;}
        .money-transferreportpage .money-transfere-aeps .col-md-12 .row.clearfix {margin: 0;}
        .money-transferreportpage .col-md-2.dmtsearchclass {float: left;padding-right: 0;width: 14%;}
        .money-transferreportpage .dmtsearchclass button{width:100% !important;float:left;padding-left:0;padding-right:0;text-align:center;}

    }
    @@media screen and (max-width:768px){
        .money-transferreportpage .money-transfere-aeps {width: 100%;float: left;padding: 0;}
        .money-transferreportpage .money-transfere-aeps .row {margin: 0;}
        .money-transferreportpage .money-transfere-aeps .col-md-12 {padding: 0;}
        .money-transferreportpage .money-transfere-aeps .aeps-selectclass {padding-left: 0;}
        .money-transferreportpage .table-responsive {border: 0;}
        .money-transferreportpage .col-md-2.aepspdfexlto-button {position: absolute;right: 0;top: -10px;}
        .money-transferreportpage .col-md-2.dmtsearchclass {float: left;width: 14%;}
        .money-transferreportpage .table-responsive {padding-bottom: 15px;}
        .money-transferreportpage .table-responsive{position:relative !important;z-index:9;}
    }
    @@media screen and (max-width:520px){
        .money-transferreportpage .money-transfere-aeps .aeps-selectclass {float: left;width: 50%;margin-bottom: 10px;}
        .money-transferreportpage .col-md-5.aeps-dateclass {float: left;width: 78%;}
        .money-transferreportpage .col-md-2.dmtsearchclass button {width: 100%;float: left;}
        .money-transferreportpage .col-md-2.dmtsearchclass {float: left;width: 22%;}
        .money-transferreportpage .col-md-2.dmtsearchclass button {padding-left: 0;padding-right: 0;}
    }
    @@media screen and (max-width:420px){
        .money-transferreportpage .col-md-2.aepspdfexlto-button {position: static;}
        .money-transferreportpage .col-md-7.money-transfere-aeps .form-line{padding-bottom:0 !important;}
    }
     
</style>
<section class="content money-transferreportpage">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Aeps Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Aeps Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-4 aeps-reportbutton">
                        <div style="margin-left:-14px;">
                            @Html.Partial("Moneytransferreportpartialview")
                        </div>
                    </div>
                    <div class="col-md-6 money-transfere-aeps">
                        <div class="row">


                            <div class="col-md-12" style="padding:0px;">
                                <div>
                                    <div>
                                        <div>
                                            @using (Html.BeginForm("AepsReport", "Home", FormMethod.Post))
                                            {

                                                <div class="for-form-mar">

                                                    <div class="col-md-3 only-select-css aeps-selectclass" id="rem" style="padding-right: 5px;">
                                                        <div class="form-line" style="width:100%;padding-bottom:10px;">
                                                            @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "Select User", new { id = "allretailer", @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-2 only-select-css aeps-selectclass" style="padding-left:0px;padding-right: 5px;">
                                                        <div class="form-line" style="width:100%;padding-bottom:10px;">
                                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                        {
                                                new SelectListItem{ Text="Status",Value="ALL",},
                                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                new SelectListItem{Text="Pending",Value="PENDING"},
                                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                                 }, new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 aeps-dateclass" style="padding:0px;">
                                                        <div class="form-group for-web-date" style="width:100%;">
                                                            <div class="input-daterange input-group">
                                                                <div class="all-report-inputclass all-report-inputclass-left">
                                                                    <div class="custom-date-icon border-colorchangecss" style="height: 32px;">
                                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                                    </div>
                                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;padding-left:20px;", autocomplete = "off" })
                                                                </div>
                                                                @*<span class="input-group-addon">
                                                                    <i class="fa fa-exchange"></i>
                                                                </span>*@
                                                                <div class="all-report-inputclass all-report-inputclass-right">
                                                                    <div class="custom-date-icon border-colorchangecss" style="height: 32px;">
                                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                                    </div>
                                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;padding-left:20px;", autocomplete = "off" })
                                                                </div>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 dmtsearchclass" style="padding-left:5px;">
                                                        <center>
                                                            <button type="submit" class="btn" style="width:100%; height:32px;border:1px solid #ccc;background:#eeebeb;">
                                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:#444;"></i>
                                                                <span style="color:#444;">Search</span>
                                                            </button>
                                                        </center>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="col-md-2 aepspdfexlto-button">
                        <div class="row">
                            <div class="form-group" style="margin-top:-18px; ">
                                <div style="padding-top: 18px; float:right">
                                    <button class="white-success-button" style="height:32px;border:1px solid #ccc;background:#eeebeb;" onclick="findtotal()">Total</button>
                                    <div class="web-white-filter fil" style="float: left;margin-right: 5px;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #ccc;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #ccc;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                                    </div>
                                </div>
                                <div class="white-success" style="display:none; float: right; margin-top: 20px;">
                                    <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>




        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card all-reporttable-css all-reporttable-css-aeps">

                    <div>
                        <div class="table-responsive web-white-table tableseconddes-dealer" style="position:inherit;">
                            <table id="apes" class="table table-bordered table-striped table-hover " style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="width: 135px;">Live&nbsp;Status</th>
                                        <th style="width: 280px;">Merchant&nbsp;ID</th>
                                        <th>Aadhaar&nbsp;Number</th>
                                        <th>Customer&nbsp;Bank&nbsp;Name</th>
                                        <th>T-Type</th>
                                        <th>Transfer&nbsp;Amount</th>
                                        <th>User&nbsp;Credit&nbsp;</th>
                                        <th>MY&nbsp;Post&nbsp;</th>
                                        <th>Bank&nbsp;UTR&nbsp;</th>
                                        <th>Req&nbsp;Date</th>
                                        @*<th>User&nbsp;Credit&nbsp;</th>
                                        <th>Bank&nbsp;RRN&nbsp;</th>
                                         <th style="width:300px; ">User&nbsp;Information</th>
                                        <th>User&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Credit&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                         <th>Dealer&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                         <th>Terminal&nbsp;ID</th>
                                        <th>Remark</th>*@
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin">
                                    @{
                                        Html.RenderAction("_AepsReport", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- model for table -->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    $(function () {

       $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
              });
</script>
<script>
    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>
<script>
    function findtotal() {

        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("TotalAepsreport", "Home")",
                 { "ddlusers": ddlusers,"ddl_status": ddl_status, "allretailer": allretailer, "alldealer": alldealer, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();

        var url = '@Url.Action("ExcelAepsreport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date +'&ddl_status=' + ddl_status +  '&allretailer=' + allretailer;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();

        var url = '@Url.Action("PDFAepsReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date +  '&ddl_status=' + ddl_status + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>
<script>
    var pageindex = 2;
        var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
            if ($(window).scrollTop() > Number($("#apes").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScrollAeps", "Home")",
                    { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date, "allretailer": allretailer, "ddl_status": ddl_status},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/DEALER/Home/AepsReport') {
            $('.sidebar-dealer-responshive ul.dealer-all-reportpage li:nth-child(4) a').addClass('active');
        }
    });
</script>