@using Vastwebmulti.Models;
@model Vastwebmulti.Models.Autofundtransfermodelviewmodel

@{
    ViewBag.Title = "AutoFundTransfer_Dealer_To_rem";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Retailer").ToList();
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Retailer")
        {
            var favimage = usernname.SingleOrDefault().NickName;
            ViewBag.nickname = favimage;
        }
    }
}

<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    #Retailershowinformation .col-md-12, #showinformation .col-md-12, #DIstribotorshowinformation .col-md-12,
    #APIUSERshowinformation .col-md-12, #WLUSERshowinformation .col-md-12 {
        border-bottom: 1px solid #bbb;
        margin: 0px 3% !important;
        width: 94%;
        margin-bottom: 6px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
    }

        #Retailershowinformation .col-md-12 label:last-child, #showinformation .col-md-12 label:last-child, #DIstribotorshowinformation .col-md-12 label:last-child,
        #APIUSERshowinformation .col-md-12 label:last-child, #WLUSERshowinformation .col-md-12 label:last-child {
            text-align: right;
            font-weight: 800;
        }

        #Retailershowinformation button, #showinformation .col-md-12 button, #DIstribotorshowinformation .col-md-12 button,
        #APIUSERshowinformation .col-md-12 button, #WLUSERshowinformation .col-md-12 button {
            margin-top: 20px !important;
        }

    .table-bordered thead tr th {
        padding: 5px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        background: green;
        width: 100%;
    }

    .fund-trasfer-left .errorss1 {
        color: #fff;
        background: red;
        width: 100%;
    }

    #body input {
        width: 100%;
    }
</style>
<style>
    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        width: 100%;
        padding-left: 40px;
    }

    .custom-district1 {
        position: relative;
    }

        .custom-district1::before {
            content: '';
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            position: absolute;
            right: 8px;
            top: 13px;
        }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
        padding: 0px 20px
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

        .for-change-fund select {
            width: 220px !important;
            height: 30px;
        }

        .for-change-fund .select2.select2-container.select2-container--default {
            width: 150px !important;
            text-align: left;
        }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        font-weight: 400;
        width: 100%
    }

    .fund-trasfer-right .tab-content {
        height: 80vh;
    }

    input[type="password"] {
        background-color: transparent;
        border: 1px solid var(--main-bg-lcolor);
        box-shadow: none;
    }

    .fund-transfer-main-admin ul li a .custom-district1 select {
        width: 100%;
        float: left;
    }

    .fund-transfer-main-admin ul li a {
        width: 100%;
        float: left;
    }

    .newfourdesign-admin .for-change-fund .select2.select2-container.select2-container--default {
        width: 140px !important;
        text-align: left;
        background: #fff;
    }

    .newfourdesign-admin .fund-trasfer-left .nav-tabs li.active a, .fund-trasfer-left .nav-tabs li.active a {
        background: var(--fullbodybg-four) !important;
    }

    .onoffswitch2 {
        width: 90px;
        padding-left: 4px;
    }

        .onoffswitch2 .costom-on::after {
            display: none
        }

    @@media screen and (max-width:1366px) {
        .fund-transfer-main-admin ul li a {
            width: 100%;
            float: left;
            padding-left: 0px !important;
        }

        .fund-transfer-main-admin ul li:nth-child(3) {
            width: 35% !important;
            float: left !important;
        }

            .fund-transfer-main-admin ul li:nth-child(3) .row {
                margin: 0;
            }

            .fund-transfer-main-admin ul li:nth-child(3) .for-un {
                margin-left: 0px !important;
            }

                .fund-transfer-main-admin ul li:nth-child(3) .for-un .col-md-5 {
                    padding-right: 2px;
                }
    }

    @@media screen and (max-width:766px) {
        .fund-transfer-main-admin ul.nav.nav-tabs li {
            width: 100% !important;
            float: left;
            padding: 0px;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 100% !important;
            position: static;
        }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-5 {
                float: left;
                width: 50%;
            }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-2.li-left-in {
                float: left;
                width: auto;
                margin-top: 5px
            }

        .fund-transfer-main-admin ul.nav.nav-tabs li a {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(4) {
            position: absolute;
            bottom: 9px;
            right: 0;
            width: auto !important;
            margin-top: 0px !important;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:991px) {
        .fund-transfer-form {
            height: auto;
        }

        .fund-trasfer-right ul.nav-tabs li, .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
            float: left;
        }

            .fund-trasfer-right .nav-tabs li:first-child span, .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in {
                width: 50% !important;
                text-align: left;
                float: left;
            }

                .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in button {
                    width: 97%;
                    margin-top: 10px;
                }

        #masterdrop span, #dealerdrop span, #retailerdrop span, #apidrop span, #whitedrop span {
            width: 100% !important;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            width: 50%;
            float: left;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 0px !important;
            margin: 0px;
        }

        .fund-trasfer-right ul {
            padding: 10px 10px;
            float: left;
            width: 100%;
            position: relative;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            padding: 0px 10px;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 50% !important;
            position: absolute;
            bottom: 10px;
            left: 51%;
        }

        .fund-trasfer-left .col-md-12.col-sm-12.col-xs-12 {
            width: 50%;
            float: left;
        }
    }

    @@media only screen and (max-width:480px) {
        .fund-transfer-form {
            height: auto;
            margin-bottom: 15px;
        }

        .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            width: 100% !important;
        }

        .for-un .fund-t-dalear .col-md-5 {
            width: 50%;
            float: left;
        }

        .for-un .fund-t-dalear .col-md-2 {
            width: 45%;
            float: left;
            margin-top: 3px;
        }

            .for-un .fund-t-dalear .col-md-2 button {
                width: 100%;
            }

        .for-un .fund-t-dalear {
            padding: 0px 15px;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            float: right;
        }

        .fund-trasfer-right ul {
            position: relative;
            padding-bottom: 5px;
        }

        .for-export {
            position: absolute !important;
            bottom: 6px;
            right: 5px;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 5px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .fund-tr-history .modal-dialog {
            width: 95%;
            margin-right: 2% !important;
        }
    }
</style>
<style>
    .custom-off::before {
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        background: #ff0000ab;
        top: 6px;
    }

    .costom-on::after {
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        background: #28a745e6;
        top: 6px;
        right: 5px;
    }
</style>




<section class="content" style="margin: 80px 0px 0 164px;">
    <div class="container-fluid" style="height:inherit !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Fund Transfer</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Auto Credit Transfer Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third second-header-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <div class="col-md-6" style="padding: 0px;">
                    <ul>
                        <li class="smli">
                            <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </a>
                        </li>

                        <li class="fullbodydycolorbg tmw-total-color-one">
                            Auto fund Setting
                        </li>
                    </ul>
                </div>
                <div class="col-md-2" style="width:auto;float:right;padding-right:0px;">

                    <div class="white-l-search-nine pdfexpoer-second">

                        <div class="web-white-filter fil pdf-third-design" style="float: right;margin-right: 0px;">
                            <input onclick="excel()" type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                            <input onclick="PDF()" type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                        </div>

                    </div>
                </div>
                <div class="col-md-6 tablesearch-second" style="padding: 0px;margin-bottom:15px;width:30%;float:right;">
                    <div class="search-after-third">
                        <input class="form-control marginbottom-respon-third" type="text" value="" id="myInput" placeholder="Search.." name="myInput" style="float: right;height:32px;border:1px solid;width:100%;border: 1px solid #aaa;padding: 0 5px;">
                    </div>

                </div>


            </div>
        </div>

    </div>

    <div class="col-md-12 fund-transfer-main-admin">
        <div class="fund-trasfer-right">

            <div id="tab-1" class="width100 float-left tab-content current" style="padding:0px;">





                <div id="tblshowMasterD" class=" table-responsive tableseconddes-admin" style="width:100%;">
                    <table class="table table-bordered table-striped table-hover third-design-table">
                        <thead>
                            <tr>
                                <th>@ViewBag.nickname Firm Details</th>
                                <th>@ViewBag.nickname Minimium Balance</th>
                                <th>Transfer Amount</th>
                                <th>Day Count</th>
                                <th>Credit Limit</th>
                                <th>Last Transection Date</th>
                                <th>Transfer Type</th>
                                <th>Current Status</th>

                            </tr>
                        </thead>
                        <tbody id="body">


                            @foreach (var item in Model.autofundtransfermodel)
                            {

                                <tr style="background: #eae9e9" class="tr">

                                    <input type="hidden" id="idno" name="idno" value="@item.idno" />
                                    <input type="hidden" id="transfertype" name="transfertype" value="@item.types" />
                                    <input type="hidden" id="Currentsts" name="Currentsts" value="@item.status" />
                                    <td><p style="margin-top:6px;">  @item.Name</p></td>
                                    <td class="tbltdshow">
                                        <span id="spanminimium">
                                            @item.minimiumamount
                                        </span>
                                    </td>

                                    <td class="tbltdNOTshow" style="display:none">

                                        @Html.EditorFor(model => model.minimiumamount)
                                        @*<input type="number" data-bind="miniumamnttxtbox_@item.idno" value="0" style="border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield;display:block;" />*@

                                        <span style="color:red;display:none;" data-bind="errormsg_@item.idno">Minimum amount must be 500</span>

                                    </td>

                                    <td class="tbltdshow">
                                        <span id="spantransferamnt">@item.transferamount </span>

                                    </td>
                                    <td class="tbltdNOTshow" style="display:none;width:145px;">
                                        @Html.EditorFor(model => model.transferamount)
                                        @*<input type="number" data-bind="transamnttxtbox_@item.idno" value="0" style="border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield;display:block;" />*@
                                        <span style="color:red;display:none;" data-bind="errormsg1_@item.idno">Minimum amount must be 500</span>
                                    </td>


                                    <td class="tbltdshow">
                                        <span id="spantotaltrans">@item.totaltransfer </span>
                                    </td>
                                    <td class="tbltdNOTshow" style="display: none; width: 92px;">
                                        @Html.EditorFor(model => model.totaltransfer)
                                    </td>



                                    <td class="tbltdshow">
                                        <span id="spanmaxcredit">@item.MaxCredit </span>
                                    </td>
                                    <td class="tbltdNOTshow" style="display: none; width: 120px; ">
                                        @Html.EditorFor(model => model.MaxCredit)
                                    </td>










                                    <td>@item.transferdatetime</td>


                                    <td>
                                        <p style="">

                                            @if (item.types.ToUpper() == "CREDIT")
                                            {
                                                <span class="onoffswitch onoffswitch2 costom-on-second" style="float: left;border:1px solid #aaa4a4">
                                                    <img src="../../ashok-images/correct.svg" style="background:#fe7d0f;height: 15px;width: 15px;margin-right: 3px;float: left;border-radius: 50%;padding: 3px;display: inline-block;margin-top: 3px;">
                                                    <button class="costom-on clscall" data-bind="btntransfersts_@item.idno" value="Cash" onclick="calltransfertype(this)" style="border: 0px; width: auto;">BY CREDIT</button>
                                                </span>

                                            }
                                            else
                                            {
                                                <span class="onoffswitch onoffswitch2 costom-on-second" style="float: left;border:1px solid #aaa4a4">
                                                    <img src="../../ashok-images/correct.svg" style="background:green;height: 15px;width: 15px;margin-right: 3px;float: left;border-radius: 50%;padding: 3px;display: inline-block;margin-top: 3px;">
                                                    <button class="costom-on clscall" data-bind="btntransfersts_@item.idno" onclick="calltransfertype(this)" value="Credit" style="border:0px;width: auto;">BY CASH</button>
                                                </span>
                                            }

                                        </p>
                                    </td>
                                    <td>
                                        <p style="float:left;margin:0px;">

                                            @if (item.status == "Y")
                                            {
                                                <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                                                    <button class="costom-on clscall" data-bind="btnsts_@item.idno" value="ON" onclick="callstats(this)" style="border:1px solid #aaa4a4;">ON</button>
                                                </span>

                                            }
                                            else
                                            {
                                                <span class="onoffswitch costom-off-second" style="float: left;border:0px;">
                                                    <button class="custom-off clscall" data-bind="btnsts_@item.idno" onclick="callstats(this)" value="OFF" style="border:1px solid #aaa4a4;">OFF</button>
                                                </span>
                                            }

                                            <div class="tbltdshow" data-bind="editbtnshow_@item.idno" style="float:left;">
                                                <button value="EDIT" onclick="Edittransferinform(this)" class="btnssl22" style="border: 1px solid #aaa4a4; padding: 1px 5px; text-transform: capitalize; color: #555;margin-left:4px;">Edit</button>
                                            </div>
                                            <div class="tbltdNOTshow" data-bind="savebtnNotshow_@item.idno" style="display:none;float:left;">
                                                <button value="Save" onclick="Savetransferamnt(this)" class="btnssl22" style="border: 1px solid #aaa4a4; padding: 1px 5px; text-transform: capitalize; color: #555;margin-left:4px;">Save</button>
                                            </div>

                                        </p>
                                    </td>



                                </tr>
                            }

                        </tbody>
                    </table>






                </div>
            </div>

        </div>
    </div>

</section>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })



</script>
<script>
    function calltransfertype(idno) {

        const { typessnew } = datatblbeGET(idno);
        var id = $(idno).closest('tr').find('#idno').val();
          $.ajax({
        url:"@Url.Action("ChangeStatusAutoCreditDistributorToremTrnasfer")",
        type: "POST",
              data: { idno: id, curntsts: typessnew},
             success: function (result) {

                 getdatabyid(idno)


                 if (result == 'Credit' || result == 'CREDIT') {


                     $(idno).val('Cash')
                     $(idno).text('BY CREDIT')
                 }
                 else if (result == 'Cash' || result == 'CASH') {


                     $(idno).val('Credit')
                     $(idno).text('BY CASH')
                 }


        }
   });


    }

    function callstats(idno) {

        const {  Currentstsnew } = datatblbeGET(idno);
        var id = $(idno).closest('tr').find('#idno').val();
        var crntsts = "N";
        if (Currentstsnew == "N") {
            crntsts = "Y"
        } else {
            crntsts = "N"
        }

        $.ajax({
        url:"@Url.Action("ChangeStatusAutoCreditDistributorToremTrnasfer")",
        type: "POST",
            data: { idno: id, curntsts: crntsts},
             success: function (result) {

                 getdatabyid(idno)
                 var curntst;
                 if (result == 'Y') {
                     curntst = 'ON';
                 }
                 else if (result == 'N') {
                     curntst = 'OFF';
                 }

                 if (curntst == 'OFF') {

                     $(idno).removeClass('costom-on');
                     $(idno).addClass('custom-off');
                     $(idno).val('OFF');
                     $(idno).text('OFF');

                  }
                 else if (curntst == 'ON') {

                     $(idno).removeClass('custom-off');
                     $(idno).addClass('costom-on');
                     $(idno).text('ON')
                     $(idno).val('ON')

                  }

           // $("#" + tabID).html(result);
        }
   });





    }

    function getdatabyid(idno) {

        var id = $(idno).closest('tr').find('#idno').val();

         $.ajax({
        url:"@Url.Action("GetAutoTransferAmountDistributorTOrem")",
             type: "GET",
             data: { idno: id },
        dataType: "html",
             success: function (result) {

                 var ssssd = JSON.parse(result)

                 datatblbeset(idno, ssssd.Transferamount, ssssd.minamount, ssssd.count, ssssd.uplimitt, ssssd.types, ssssd.status);

        }
   });

    }

    function Edittransferinform(idno) {

        "#transferamount"

        $(idno).closest('tr').find('#minimiumamount').val('');
        $(idno).closest('tr').find('#transferamount').val('');
        $(idno).closest('tr').find('#totaltransfer').val('');
        $(idno).closest('tr').find('#MaxCredit').val('');
        $(idno).closest('tr').find('#transfertype').val('');
        $(idno).closest('tr').find('#Currentsts').val('');
        $('.tbltdshow').show();
        $('.tbltdNOTshow').hide();

       var id= $(idno).closest('tr').find('#idno').val();

         $.ajax({
        url:"@Url.Action("GetAutoTransferAmountDistributorTOrem")",
             type: "GET",
             data: { idno: id },
        dataType: "html",
             success: function (result) {

                 var ssssd = JSON.parse(result)

                 datatblbeset(idno, ssssd.Transferamount, ssssd.minamount, ssssd.totaltransfer, ssssd.MaxCredit, ssssd.types, ssssd.status);
                 $(idno).closest('tr').find('.tbltdNOTshow').show();
                 $(idno).closest('tr').find('.tbltdshow').hide();
        }
   });



    }

    function datatblbeset(idno, Transferamount, minamount,count,uplimitt,typess, Currentsts) {

        $(idno).closest('tr').find('#minimiumamount').val(minamount);
        $(idno).closest('tr').find('#transferamount').val(Transferamount);
        $(idno).closest('tr').find('#totaltransfer').val(count);
        $(idno).closest('tr').find('#MaxCredit').val(uplimitt);
        $(idno).closest('tr').find('#transfertype').val(typess);
        $(idno).closest('tr').find('#Currentsts').val(Currentsts);

    }
    function datatblbeGET(idno) {

        var minamount =  $(idno).closest('tr').find('#minimiumamount').val();
        var transamnt =  $(idno).closest('tr').find('#transferamount').val();
        var countperday =  $(idno).closest('tr').find('#totaltransfer').val();
        var uptolimit =  $(idno).closest('tr').find('#MaxCredit').val();
        var typess= $(idno).closest('tr').find('#transfertype').val();
        var Currentsts= $(idno).closest('tr').find('#Currentsts').val();


        return {
            minamount1: minamount,
            transamnt2: transamnt,
            countperday3: countperday,
            uptolimit4: uptolimit,
            typessnew: typess,
            Currentstsnew: Currentsts,

        };
    }



    function Savetransferamnt(idno) {
      //  var gfdgf = datatblbeGET(idno, minamount, transamnt, transfertype, Currentsts)
        const { minamount1, transamnt2, countperday3, uptolimit4 } = datatblbeGET(idno);
        var id = $(idno).closest('tr').find('#idno').val();
            $.ajax({
                url: "@Url.Action("SaveautoTransferDistributorToremamount")",
                type: "POST",
                data: { idno: id, transamnt: transamnt2, minimiumset: minamount1, countperday: countperday3, uptolimit: uptolimit4,},
                dataType: "html",
                success: function (result) {

                    var aaaaa = JSON.parse(result)

                    $(idno).closest('tr').find('span#spanminimium').text(aaaaa.minimiumbal);
                    $(idno).closest('tr').find('span#spantransferamnt').text(aaaaa.transferamnt);
                    $(idno).closest('tr').find('span#spantotaltrans').text(aaaaa.daycount);
                    $(idno).closest('tr').find('span#spanmaxcredit').text(aaaaa.limit);
                    $(idno).closest('tr').find('.tbltdNOTshow').hide();
                    $(idno).closest('tr').find('.tbltdshow').show();
                    // $("#" + tabID).html(result);
                }
            });







    }


</script>

<script>
    $(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>