@model Vastwebmulti.Areas.ADMIN.Models.BankInfoList
@{
    ViewBag.Title = "bankinfodealer";
}

<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    .modal-dialog-reportclass.reportclass-modalnewclass .modal-footer button span {
        margin: 0;
        text-align: center;
        color: #555 !important;
        top: 0 !important;
    }
</style>
<style>
    .fund-t-dalear input {
        border: 1px solid #dddddd;
        height: 32px;
        padding: 0px 5px;
        width: 100%;
        padding-left: 40px;
    }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #dedddd;
        padding: 0px 20px
    }

    .tab-menur li a.active-ar {
        color: var(--main-bg-lcolor);
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .for-change-fund .select2.select2-container.select2-container--default {
        width: 220px !important;
        text-align: left;
    }

    .for-change-fund select {
        width: 220px !important;
        height: 32px;
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

        .for-change-fund select {
            width: 220px !important;
            height: 30px;
        }

        .for-change-fund .select2.select2-container.select2-container--default {
            width: 220px !important;
            text-align: left;
        }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .tab-menur li a::before {
        content: '';
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid #bbb;
        border-radius: 50%;
        margin: 2px 6px 0px 0px;
    }

    .tab-menur li a.active-ar::before {
        border-color: var(--main-bg-lcolor);
        background: var(--main-bg-lcolor);
    }

    .tab-menur ul li a.active-ar {
        background-color: transparent;
    }

    body .datepicker-dropdown.datepicker {
        margin-top: 75px !important;
    }

    .table-search-historyshow {
        width: auto;
        float: right;
        padding: 0;
    }

        .table-search-historyshow input {
            border: 1px solid #aaa;
            height: 30px;
            padding: 0 6px;
        }
    .fund-transfer-form{padding:15px !important;}
        .fund-transfer-form input {
            margin-bottom: 10px;
        }
    .fund-user-right.fund-trasfer-right .nav-tabs li {
        width: 50% !important;
    }
        .fund-user-right.fund-trasfer-right .nav-tabs li.active a {
            background: var(--main-bg-lcolor) !important;
            width: 100%;color:#fff !important;
        }
    .dealer-four-design .fund-user-right.fund-trasfer-right .nav-tabs li.active a {
        background: var(--fullbodybg-four) !important;
    }
        .fund-user-right.fund-trasfer-right .nav-tabs li.active a{
            width:100%;
        }


    @@media screen and (max-width:1367px) {
    }
</style>

<style>
    .table-bordered thead tr th, .table-bordered tbody tr td {
        padding: 10px 5px;
    }

    .third-design-dealer .third-design-table tr:hover td a {
        color: #fff;
    }
</style>

<section class="content">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Bank Info</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Bank Info</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="bread-same-all-page">
            <div class="col-md-6 dealer-none-fourclass">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Add Bank a/c&nbsp;&&nbsp; Wallet
                    </li>
                </ul>
            </div>
            <div class="col-md-6 table-search-historyshow">

                <div class="for-search">
                    <input id="myInput" name="myInput" type="text" placeholder="Search..." onkeyup="myFunction()">

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix">
            <div class="col-md-4 fund-transfer-activedata transfer-activedata-responshive">
                <div class="fund-trasfer-left fund-user-left">
                    <ul class="nav nav-tabs fulltabchange" id="tabs">
                        <li id="activelinkkarahfundtransfer" class="tab-link current  active" data-tab="tab-1"><a data-toggle="tab" href="#home1" aria-expanded="true">Add Bank Account</a></li>


                        <li id="activelinkkarahfundrequest" class="tab-link retailerrequest" data-tab="tab-1"><a href="#menu11" data-toggle="tab">Add Wallet</a></li>

                    </ul>

                    <div class="width100 float-left ">

                        <div id="home1" class="width100 float-left tab-pane fade remove-activein active in">

                            <div class="fund-transfer-form dealer-box-back-four">
                                @*@using (Ajax.BeginForm("AddBank", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tblshowMasterD",InsertionMode = InsertionMode.InsertBefore,OnSuccess="onsuccessaddbnk",LoadingElementId= "outer-loader" }))
                                    {*@
                                @using (Html.BeginForm("AddBank", "Home", FormMethod.Post))
                                {
                                    <span>Bank Name</span>
                                    <input placeholder="Enter Bank Name" class="form-input" id="Banknm" name="Banknm" required="True" type="text" value=""> <span>Branch Name</span>
                                    <input placeholder="Enter Branch Name" class="form-input" id="BranchName" name="BranchName" required="True" type="text" value=""> <span>IFSC CODE</span>
                                    <input placeholder="Enter Ifsc Code" class="form-input" id="ifsccode" name="ifsccode" required="True" type="text" value=""> <span>Account Number</span>
                                    <input placeholder="Enter Account Number" class="form-input" id="accountno" name="accountno" required="True" type="text" value=""> <span>Account Type</span>
                                    <input placeholder="Enter Account Type" class="form-input" id="accounttype" name="accounttype" required="True" type="text" value=""> <span>Account Holder Name</span>
                                    <input placeholder="Enter Account Holder Name" class="form-input" id="accountholder" name="accountholder" required="True" type="text" value=""> <span>City / Town</span>
                                    <input placeholder="Enter City" class="form-input" id="City" name="City" required="True" type="text" value="">
                                    <input type="submit" class="fullbodydycolorbg button-third" value="Save" style="color:white;float: right;width: 100px;">

                                }
                            </div>

                        </div>
                        <div id="menu11" class="width100 float-left remove-activein-add tab-pane fade">
                            <div class="fund-transfer-form dealer-box-back-four" id="frmdata1">

                                @using (Html.BeginForm("AddWallet", "Home", FormMethod.Post))
                                {
                                    <span>Wallet Name</span>
                                    <input placeholder="Wallet Name" class="form-input" id="walletnm" name="walletnm" required="True" type="text" value=""> <span>Wallet No</span>
                                    <input placeholder="Wallet No" class="form-input" id="walletno" name="walletno" required="True" type="text" value=""> <span>Wallet Holder Name</span>
                                    <input placeholder="Wallet Holder Name" class="form-input" id="walletholdername" name="walletholdername" required="True" type="text" value="">
                                    <input type="submit" class="fullbodydycolorbg button-third" value="Save" style="color:white;float: right;
width: 100px;">
                                }

                            </div>
                        </div>



                    </div>

                    <div id="outer-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 15px;left: 15px;bottom: 0px;top: 0px;display:none;">
                        <div id="loader" style="position: absolute; right: 30%; top: 50%; transform: translate(0%, -50%);">
                            <div class="loadingio-spinner-ripple-92ar2pfqk5j">
                                <div class="ldio-zdyd6mf6t5">
                                    <div></div><div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="fund-trasfer-right fund-user-right fund-user-right-responshive">

                    <div id="tab-1" class="width100 float-left tab-content current dealer-box-back-four" style="padding:0px;">

                        <ul class="nav nav-tabs" style="padding-bottom:0px;">

                            <li class="active" id="hometabe123"><a data-toggle="tab" href="#home123">Bank Details</a></li>
                            <li id="menutabe123"><a data-toggle="tab" href="#menu1234">Wallets Details</a></li>

                        </ul>
                        <div id="home123" class="width100 float-left tab-pane fade remove-activein active in">
                            <div id="tblshowMasterD" class="table-responsive tableseconddes-dealer" style="width:100%;margin-top:15px;">

                                <div class="table-responsive" id="tblshowmastertbl">
                                    <table class="third-design-table table-resp-padd-third" style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                        <thead>
                                            <tr>
                                                <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                                    Bank&nbsp;Name
                                                </th>
                                                <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    Branch&nbsp;Name
                                                </th>
                                                <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    IFSC&nbsp;CODE
                                                </th>
                                                <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    Account&nbsp;Number
                                                </th>
                                                <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    Account&nbsp;Type
                                                </th>
                                                <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);">
                                                    Account&nbsp;Holder&nbsp;Name
                                                </th>
                                                <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    City&nbsp;/&nbsp;Town
                                                </th>

                                                <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                    Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.bankinfo != null)
                                            {
                                                foreach (var item in Model.bankinfo)
                                                {
                                                    <tr>
                                                        <td style="width:320px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.banknm
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.branch_nm
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.ifsccode
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.acno
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial; text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.actype
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.holdername
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            @item.address
                                                        </td>
                                                        <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                            <button class="first-del done-third" style="width: auto; padding: 4px 4px;border:0px;background:transparent;"><img src="../../MainFrontDesign/images/delete.svg" style="width:13px;"></button>
                                                            <button onclick="deletebank('@item.idno')" class="fullbodydycolorbg second-del done-third" style="display:none;width: auto;height: auto;padding: 2px 2px;color:#fff;font-size: 12px;background: var(--main-bg-lcolor) !important;border: 1px solid var(--main-bg-rcolor);">Sure<br />?</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>






                            </div>
                        </div>

                        <div id="menu1234" class="width100 tab-pane fade remove-activein">
                            <div class="table-responsive " style="width:100%;">

                                <table class="third-design-table" style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                    <tbody>
                                        <tr>
                                            <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                                Company Name
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Wallet No.
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Wallet Holder
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Action
                                            </th>
                                        </tr>

                                        @if (Model.walletinfo != null)
                                        {

                                            foreach (var item in Model.walletinfo)
                                            {
                                                <tr>
                                                    <td style="width:320px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletname
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;padding: 10px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletno
                                                    </td>
                                                    <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletholdername
                                                    </td>
                                                    <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">


                                                        <button class="first-del done-third" style="width: auto; padding: 4px 4px;"><i style="font-size:24px;color:red;" class="fa" aria-hidden="true"></i></button>
                                                        <button onclick="deleteWallet('@item.walletid')" class="fullbodydycolorbg second-del done-third" style="display:none;width: auto;height: auto;padding: 2px 2px;color:#fff;font-size: 12px;background: var(--main-bg-lcolor) !important;border: 1px solid var(--main-bg-rcolor);">Sure<br />?</button>
                                                    </td>
                                                </tr>
                                            }

                                        }


                                    </tbody>

                                </table>


                            </div>
                        </div>

                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif">
                        </div>
                    </div>
                    @*<div id="tab-2n " class="width100 float-left tab-content ">*@



                </div>
            </div>
        </div>
    </div>

  
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('.third-design-dealer .third-design-table td').mouseenter(function () {

        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;


        $(".third-design-table td:nth-child(" + colIndex + ")").css('cssText', 'color: #fff !important;background:var(--main-bg-rcolor) !important;');
        $(".third-design-table tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');

    });

    $('.third-design-dealer .third-design-table td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tr:nth-child(" + rowIndex + ")").css('background', 'transparent');

    });
</script>



@*<script>
    function onsuccessaddbnk() {
        updateDiv();
    }



    function updateDiv() {
        
        var url = '@Url.Action("bankinfodealer", "Home")';
        window.location=url;
      //  $("#tblshowMasterD").load(window.location.href + " #tblshowMasterD");
    }
</script>*@

<script>
    function deletebank(idno) {
        var url = '@Url.Action("Deletebank", "Home")';
        $.ajax({
        url: url,
        data: { id: idno},
        cache: false,
        type: "GET",
        success: function (data) {
        var url = '@Url.Action("bankinfodealer", "Home")';
        window.location=url;
        }
        })
        }
        function deleteWallet(idno) {
        var url = '@Url.Action("Deletewallet", "Home")';
        $.ajax({
        url: url,
        data: { id: idno},
        cache: false,
        type: "GET",
        success: function (data) {
        var url = '@Url.Action("bankinfodealer", "Home")';
        window.location=url;
        }
        })
        }
        </script>
        <script>
            $('.first-del').click(function () {
                $(this).hide();
                $(this).next('.second-del').show();
            });
        </script>