@model List<Vastwebmulti.Models.proc_HotelCancellationReport_Result>
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/TRAVEL.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }
    .slab-setting-menu li a.activee {
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
        }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:0px;">
                    <div class="col-md-3">
                        <div style="margin-left:-14px;">
                            @Html.Partial("_hotelpartialmenu")
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row clearfix">
                            @using (Html.BeginForm("CancellationQueue", "Home", FormMethod.Post))
                            {
                                <div class="col-md-12" style="padding:0px;">
                                    <div class="card" style="margin-bottom:0px;">
                                        <div class="">
                                            <div class="col-md-2" id="rem" style="padding:0px;padding-right:5px;">
                                                <div class="form-line" style="width:100%;padding-bottom:10px;">
                                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                </div>
                                            </div>
                                            <div class="col-md-2" id="sts" style="padding:0px;">
                                                <div class="" style="width:100%;padding-bottom:10px;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                {
                                        new SelectListItem{ Text="Status",Value="",},
                                        new SelectListItem{Text="Success",Value="Confirmed"},
                                        new SelectListItem{Text="Pending",Value="Proccessed"},
                                        new SelectListItem{Text="Failed",Value="Failed"}
                                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                                </div>
                                            </div>

                                            <div class="col-md-2" style="padding:0px 5px;">
                                                <div class="form-group">
                                                    <div style="width:100%;border:1px solid #dddddd;">
                                                        @Html.TextBox("BookingId", "", new { @class = "form-control", placeholder = "TXN/REF NO", autocomplete = "off", @style = "height:32px;" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5" style="padding-left:0px;padding-right:5px;">
                                                <div class="form-group for-web-date" style="margin-bottom:0px;">
                                                    <div class="input-daterange input-group">
                                                        <div class="custom-date-icon" style="height: 32px;">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;padding-left:20px;", autocomplete = "off" })
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:6px;"></i>
                                                        </span>
                                                        <div class="custom-date-icon" style="height: 32px;">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;padding-left:20px;", autocomplete = "off" })
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>

                                            <div class="col-md-1" style="padding:0px;">


                                                
                                                        <button type="submit" name="submit" class="btn" style=" height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                           
                                                            <span style="color:black;">Search</span>
                                                        </button>
                                                  

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                    <div class="col-md-2" style="padding:0px;">
                       
                        <div class="web-white-filter" style="float:right;">
                            <table class="dataTable js-exportable ">
                                <thead>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                   
                    <div>
                        <div class="table-responsive " style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover " style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Email&nbsp;Id</th>
                                        <th>Retailer&nbsp;Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Cancellation&nbsp;Id</th>
                                        <th>Booking&nbsp;Id</th>
                                        <th>Cancallation&nbsp;Charge</th>
                                        <th>Refund&nbsp;Amount</th>
                                        <th>Request&nbsp;Date</th>
                                        <th>Response&nbsp;Date</th>
                                      
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var sts = "";
                                        var color = "";
                                        if (item.ChangeRequestStatus.Contains("1") || item.ChangeRequestStatus.Contains("2"))
                                        {
                                            color = "#ff9600";
                                            sts = "Pending";
                                        }
                                        if (item.ChangeRequestStatus.Contains("3"))
                                        {
                                            color = "green";
                                            sts = "Processed";
                                        }
                                        if (item.ChangeRequestStatus.ToUpper().Contains("4"))
                                        {
                                            color = "red";
                                            sts = "Failed";
                                        }
                                        //if (item.TicketStatus.Contains("Refund"))
                                        //{
                                        //    color = "#9C27B0";
                                        //    sts = "Refund";
                                        //}
                                        <tr>
                                            <td><p style="color:@color;font-size:15px;font-weight:700;">@sts</p></td>
                                            <td>@item.Email</td>
                                            <td>@item.RetailerName</td>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.ChangeRequestId</td>
                                            <td>@item.BookingId</td>
                                            <td>@item.CancellationCharge</td>
                                            <td>@item.RefundedAmount</td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationRequestDate)
                                            </td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationResponseDate)
                                            </td>
                                            
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->
<!-- Price Modal -->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>



