@using Vastwebmulti.Models;
@model Tuple<ChangePasswordViewModel, ChangeTransactionViewModel>
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {color: red;}

    .required:after {color: red;content: " *";}

    @@media screen and (max-width:768px){
        .change-password-section .container-fluid .col-md-12{padding-right:0;}
    }


    .hide_otp input {
        width: 40px !important;
        height: 32px !important;
        text-align: center;
        font-size: 19px;
    }
        /* Chrome, Safari, Edge, Opera */
        .hide_otp input::-webkit-outer-spin-button,
        .hide_otp input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        .hide_otp input[type=number] {
            -moz-appearance: textfield;
        }

    .hide_otp {
        padding: 0px 7%;
    }

    .col-md-12.txtemailret.txtemaisup {
        margin: 0 !important;
    }

    .errorswer {
        height: 0px !important;
    }

</style>
<section class="content change-password-section">
    <div class="container-fluid full-dealer-secondanimation changepassword-dealer-third">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Manage Password</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Manage Password</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card card-changepaswordsite">
                    <div class="onetimepassowrdclass">
                        <h2 class="header-changepasword" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:#bbb;"><i class="fa fa-lock"></i>&nbsp;Login&nbsp;Password</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="body">
                                <div class="body-backgroundclass dealer-box-back-four" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="important-dataprofile" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:43%;border-radius:1px;">Important</p></center>
                                    <p style="line-height:32px;padding-left:10px;">1.Password must be Required one Special character</p>
                                    <p style="line-height:32px;padding-left:10px;">2.Password must be Required one Digit Number</p>
                                    <p style="line-height:32px;padding-left:10px;">3.Password must be Required one Lowercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one Uppercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one alphabet character</p>
                                    <p style="line-height:32px;padding-left:10px;">5.Password must be Required Minimum Length Six character</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 margin-formgroupclass">
                            <div class="body" style="margin-bottom:11px;">
                                <div class="body-backgroundclass dealer-box-back-four" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="important-dataprofile" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:35%;border-radius:1px;">Change&nbsp;Login&nbsp;Password</p></center>
                                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="body" style="margin-top:4px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.OldPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                        <p style="font-size:10px;margin-bottom:0;margin-top:0px;">@Html.ValidationMessageFor(tuple => tuple.Item1.OldPassword, "", new { @class = "text-danger" })</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.NewPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                        <p style="font-size:10px;margin-bottom:0;margin-top:0px;">@Html.ValidationMessageFor(tuple => tuple.Item1.NewPassword, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.ConfirmPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                        <p style="font-size:10px;margin-top:0px;margin-bottom:0;">@Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">

                                                            <button type="submit" class="btn  m-t-15 waves-effect" style="border:1px solid #ddd;color:#555;background:transparent;">Change Password</button>
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #ddd;background:transparent;">Reset</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Change Transaction Pin AND Reset-->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card card-changepaswordsite">
                    <div class="onetimepassowrdclass">
                        <h2 class="header-changepasword header-changepasword-second" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:#bbb;"><i class="fa fa-lock"></i>&nbsp;Transaction&nbsp;Pin</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-5 resetimps-emai resetimps-emai-custome">
                            <div class="body bodyclassfirst">
                                <div class="password-content password-contentswer fullbodydycolorbg" style="min-height: 264px;padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="restpinclass restpinclass-class important-dataprofile" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:38%;border-radius:1px;">Reset&nbsp;Transaction&nbsp;Pin</pclass="important-dataprofile"></center>
                                    @using (Html.BeginForm("Reset_TransPin", "Home", FormMethod.Post, new { id = "resttarnspass" }))
                                    {
                                <div class="body" style="margin-top:20px;">
                                    <div class="row clearfix">



                                        <div class="col-md-12 txtemailret txtemaisup">

                                            <div class="form-group classemailre" style="margin-bottom:0px;margin-top:-8px;">
                                                <label class="">Register&nbsp;Email&nbsp;Id<sup>*</sup></label>
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Enter Registered Email" required />
                                                </div>
                                                <div class="errorswer" style="height:22px;"> <P class="showclickerror" style="display:none;color:#fff;">Please Enter Register Email-Id</P></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        @{
                                            var asd = Convert.ToString(Session["chk1"]);


                                            if (asd != null && asd != "0" && asd != "")
                                            {

                                                <a href="#" onclick="otpsend1('12')" id="forgetpass" style="position: absolute; top: 121px; right: 84px; padding: 2px 5px; color: green; ">Send OTP</a>

                                                <div class="hide_otp">
                                                    <div class="row clearfix ">
                                                        <div class="col-md-4" style=" padding-top: 8px; ">
                                                            <label class="required" style=" margin-top: 0.5rem; color: #f9f6f6; ">Enter&nbsp;OTP</label>
                                                        </div>

                                                        <div class="col-md-8">


                                                            @*<input type="number" id="OTp" name="OTp" placeholder="Enter OTP" required="required" maxlength="4" style="height: 31px; width: 100%; border: 2px solid #dad9df; outline: none; text-align: center; font-size: 1.5em; border-radius: -1.7em; background-color: #ffffff; outline: none; margin-top: 6px; " />*@
                                                            <div class="inputfield" style=" width: 100%; margin-top: 5px; text-align: end; ">


                                                                <div class="otp_set2">

                                                                    <input class="tested" type="number" name="oTP"  maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" required>
                                                                    <input class="tested" type="number" name="oTP1" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" required>
                                                                    <input class="tested" type="number" name="oTP2" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" required>
                                                                    <input class="tested" type="number" name="oTP3" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" required>



                                                                </div>

                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        }
                                    </div>





                                    <div class="row clearfix">
                                        <div class="col-md-12 password-click">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                <center>
                                                    <div class="">

                                                        <button type="button" id="clickemebutton" class="btn  btn-circle-lg waves-effect waves-circle waves-float" style="width:111px;height:111px;background-color:whitesmoke;" onclick="confrim()">
                                                            <p style="font-size:18px;text-align:center;color:red;">Click&nbsp;Me</p>
                                                        </button>
                                                    </div>
                                                </center>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 margin-formgroupclass">
                            <div class="body classbodysecond" style="margin-bottom:11px;">
                                <div class="password-content body-backgroundclass dealer-box-back-four" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;height: 264px;">
                                    <center><p class="restpinclass important-dataprofile" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:39%;border-radius:1px;">Change&nbsp;Transaction &nbsp;Pin</pclass="important-dataprofile"></center>
                                    @using (Html.BeginForm("Edit_Reset_TransPin", "Home", FormMethod.Post))
                                    {
                                        <div class="body" style="margin-top:4px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter Old Pin</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Oldtransactionpass, new { @class = "form-control", @required = "" })
                                                        </div>
                                                        <p style="font-size:10px;margin-top:0px;margin-bottom:0;">@Html.ValidationMessageFor(tuple => tuple.Item2.Oldtransactionpass, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter New Pin</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Newtransactionpass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>
                                                        <p class="seconderrowet" style="font-size:10px;margin-top:0px;margin-bottom:0;">@Html.ValidationMessageFor(tuple => tuple.Item2.Newtransactionpass, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Enter Confirm Pin</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Confirmtransactionpass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>
                                                        <p class="seconderrowet" style="font-size:10px;margin-top:0px;margin-bottom:0;">@Html.ValidationMessageFor(tuple => tuple.Item2.Confirmtransactionpass, "", new { @class = "text-danger" })</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="submit" class="btn  m-t-15 waves-effect" style="border:1px solid #c7c2c2;background:transparent;">Change Password</button>
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:transparent;">Reset</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    @* otp sect valu *@
        var container = document.getElementsByClassName("otp_set2")[0];
    container.onkeyup = function (e) {
        var target = e.srcElement || e.target;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() === "input") {
                    next.focus();
                    break;
                }
            }
        }
        // Move to previous field if empty (user pressed backspace)
        else if (myLength === 0) {
            var previous = target;
            while (previous = previous.previousElementSibling) {
                if (previous == null)
                    break;
                if (previous.tagName.toLowerCase() === "input") {
                    previous.focus();
                    break;
                }
            }
        }
    }

    @* otp sect valu end *@

</script>

<script>
    $(function () {

            var message = '@ViewData["success"]';
            if(message !="" && message !=null) {
                swal("Success", message, "success");
        }
        var messages = '@ViewData["error"]';
            if(messages !="" && messages !=null) {
                swal("Error!", messages, "error");
        }
        var messages = '@TempData["Messagewrong"]';
            if(messages !="" && messages !=null) {
                swal("Error!", messages, "error");
            }
    });
</script>

<!-- Reset Trans PIN-->
<script>
    function confrim() {
        var txtmail = $("#txtemail").val();
        if (txtmail != "") {
            swal({
                title: "Are you sure?",
                text: "You want to reset your Transaction Password",
                //text: kk,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Reset Transaction Password!",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $("#resttarnspass").submit();
                        return true;
                    }
                    else {
                        return false;
                    }
                });
        }
        else {
            //swal("Oops!", "Please Enter Register Email-Id", "error");
            $(".showclickerror").css("display", "block")
            return false;
        }

    }
</script>
<script>
       function otpsend1() {

           var id = $('#txtemail').val();
        $.ajax({
            url:   '@Url.Action("Passcode3", "Home")',

            type: 'GET',
            data: { ids: id },

        dataType: "JSON",


        })
    }



</script>