@model Vastwebmulti.Areas.ADMIN.ViewModel.TargetSetviewmodel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";

    DateTime todaysDate = DateTime.Now.Date;
    int month = todaysDate.Month;
    int year = todaysDate.Year;
}
<link href="~/AdditionalCSS/effectivemodalpopup.css" rel="stylesheet" />
<link href="~/retailer-custum/custum-retailer.css" rel="stylesheet" />
<style>
    .table tbody tr td, .table tbody tr th {
        padding: 5px;
    }

    .dealer-user-nav .nav-tabs li {
        background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
    }

        .dealer-user-nav .nav-tabs li.active {
            background: #f5f5f5;
        }

            .dealer-user-nav .nav-tabs li.active a {
                color: #000 !important;
            }

                .dealer-user-nav .nav-tabs li.active a:hover {
                    background: transparent;
                }

    .dealer-firstclass-responshive .test .col-xs-3 {
        width: 33%;
        float: left;
        margin-bottom: 5px;
    }

    .dealer-all-reporthome .tab-content, .dealer-firstclass .tab-content {
        min-height: 535px;
    }

    .dealer-changepassword-classfull .image img.img-circle {
        width: 190px;
        height: 190px;
    }

    /*@@keyframes changecolor {
        0% {
            color: #104202;
        }

        50% {
            color: #6af955;
        }

        100% {
            color: green;
        }
    }*/
    .dealer-firstclass.dealer-firstclass-responshive .tab-content {
        min-height: 638px;
    }

    .dealer-firstclass-responshive .col-xs-3 {
        margin-bottom: 20px !important;
    }

    .offerachivment-image p span {
        white-space: nowrap;
    }

    .offer-month ul li::after {
        content: "";
        display: block;
        width: 110%;
        height: 104%;
        background: var(--main-bg-rcolor);
        position: absolute;
        top: 0;
        left: -6px;
        transform: skewY(-7deg);
        opacity: 1;
        z-index: 9;
    }

    .offer-month ul li {
        position: relative;
        border: 2px solid var(--main-bg-rcolor) !important;
        padding: 5px 10px;
    }

        .offer-month ul li span {
            color: #fff;
            z-index: 99;
            position: relative;
            font-style: italic;
        }

        .offer-month ul li.activeeee::after {
            background: var(--main-bg-lcolor);
        }

        .offer-month ul li::before {
            z-index: 99;
        }

    @@keyframes offerscolor {
        0% {
            color: #6af955;
        }

        50% {
            color: #fff;
        }

        100% {
            color: yellow;
        }
    }

    .offer-month ul li.activeeee span {
        animation: offerscolor 2s linear infinite;
    }

    .col-xs-8.col-sm-8.col-md-8.col-lg-8.show-to.right-op .offer-month ul li:last-child {
        border-right: 2px solid var(--main-bg-rcolor ) !important;
    }

    #offers .offerclass-full .offer-month {
        padding: 12px 0 !important;
        padding-top: 10px !important;
    }

    .offer-month ul li::before {
        z-index: 99;
        position: relative !important;
        border-color: var(--main-bg-lcolor) !important;
    }

    .offer-month ul li.activeeee::before {
        background: green !important;
        border-color: #fff !important;
    }

    .offer-month ul {
        padding: 0;
    }

    @@keyframes text-animation {
        0% {
            width: 0;
        }

        50% {
            width: 100%;
        }

        100% {
            width: 0;
        }
    }

    .offerslider-full .offer-imageslide h3 strong {
        color: var(--main-bg-rcolor);
        display: inline-block;
        position: relative;
    }

        .offerslider-full .offer-imageslide h3 strong::before {
            content: attr(data-title);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 0;
            transition: all 1s ease-in-out;
            animation: text-animation 3s infinite;
            display: inline-block;
            border-bottom: 1px solid var(--main-bg-rcolor);
        }

    #offers-dealers .offerclass-full .offer-month {
        position: absolute;
        left: 22px;
        width: auto;
        top: 65px;
        padding: 0 !important;
    }

    .offer-imageslide {
        padding-top: 50px !important;
    }

    .offerslider-full .offer-imageslide .nofitio-imageround {
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }

    .offerclass-full .offerslider-full {
        margin-top: 15px !important;
    }

    .offerclass-full-dealer .offerachivment-image {
        height: auto;
        min-height: 95px !important;
    }

        .offerclass-full-dealer .offerachivment-image img {
            width: 72px !important;
            height: 70px !important;
        }

        .offerclass-full-dealer .offerachivment-image p span {
            white-space: normal;
        }

    .offerclass-full-dealer .offerachivment-image {
        padding-top: 1px !important;
        padding-bottom: 3px;
    }

    .nodatafoundclass-dealer {
        float: left;
        width: 100%;
    }

    .nodatafoundclass-dealer {
        z-index: 99;
    }

    @@media screen and (max-width:1366px) {
        #offers-dealers .offerclass-full .offer-month {
            padding: 0 15px !important;
            width: 42%;
            left: 0;
        }

            #offers-dealers .offerclass-full .offer-month ul {
                width: 100%;
            }

        .offerclass-full .offer-month ul li:last-child {
            float: right !important;
        }

        #offers-dealers .offer-month ul li {
            padding: 5px 1px;
        }

        .offer-month ul li:first-child {
            margin-right: 0 !important;
            float: left !important;
        }
    }

    @@media screen and (max-width:768px) {
        .history-onetable .table-responsive table {
            margin-top: 0 !important;
        }

        .dealer-all-reporthome .tab-content, .dealer-firstclass .tab-content {
            min-height: inherit;
        }

        .tab-content-dealersclass {
            min-height: inherit !important;
            padding-bottom: 20px;
        }

        .notification-dealercontent .text-description-dealer {
            width: 45%;
        }

        .notification-dealercontent {
            margin-top: 0;
        }

        .dealer-tabresponsive .offerslider-full .offer-imageslide {
            width: 100%;
            float: left;
        }

        .dealer-tabresponsive .nofitio-imageround {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .dealer-tabresponsive .offer-imageslide h3 span {
            font-size: 45px;
        }

        .dealer-tabresponsive .offerclass-full-dealer .offerslider-full .offer-text-description {
            width: 100%;
            float: left;
        }

        .dealer-tabresponsive .history-onetable .recent-transition-dealer table tr th, .dealer-tabresponsive .history-onetable .recent-transition-dealer table tr td {
            white-space: nowrap;
        }

        .dealer-tabresponsive .history-onetable .recent-transition-dealer {
            overflow: auto;
        }

        #offers-dealers .offerclass-full .offer-month {
            position: static;
            margin-top: 15px;
        }

        .offer-imageslide {
            padding-top: 0 !important;
        }

        .offer-month ul li:first-child {
            margin-right: 40px !important;
            float: left !important;
        }

        #offers-dealers .offerclass-full .offer-month {
            width: auto;
            float: left;
            padding: 0 !important;
        }
    }

    @@media screen and (max-width:580px) {
        .dealer-addtabnew ul.header-tabbutton li:nth-child(3) {
            border-right: 0 !important;
        }

        .dealer-addtabnew ul.header-tabbutton li:nth-child(1), .dealer-addtabnew ul.header-tabbutton li:nth-child(2), .dealer-addtabnew ul.header-tabbutton li:nth-child(3) {
            width: 33.3333% !important;
            border-bottom: 2px solid #fff;
        }

        .dealer-addtabnew ul.header-tabbutton li {
            width: 50% !important;
        }

        .notification-dealercontent {
            margin-top: 0;
        }

            .notification-dealercontent .imageandheader-dealer {
                width: 100%;
            }

            .notification-dealercontent .text-description-dealer {
                width: 100%;
                margin-top: 20px;
                min-height: inherit;
            }

        .dealer-addtabnew ul.header-tabbutton li span {
            font-size: 12px !important;
        }

        .dealer-tabresponsive .bankholiday-datashow {
            padding: 20px 0 !important;
        }

            .dealer-tabresponsive .bankholiday-datashow .dealer-holiday-bank {
                width: 100%;
                float: left;
                margin-bottom: 20px;
                padding: 0;
            }
    }

    @@media screen and (max-width:420px) {
        .dealer-addtabnew ul.header-tabbutton li img {
            display: none !important;
        }

        .dealer-tabresponsive ul.header-tabbutton li {
            border-bottom: 0 !important;
        }

        .dealer-addtabnew ul.header-tabbutton li:nth-child(1), .dealer-addtabnew ul.header-tabbutton li:nth-child(2), .dealer-addtabnew ul.header-tabbutton li:nth-child(3) {
            border-bottom: 2px solid #fff !important;
        }

        .dealer-addtabnew ul.header-tabbutton li:nth-child(2) {
            width: 22% !important;
        }

        .dealer-addtabnew ul.header-tabbutton li:nth-child(3) {
            width: 44.6% !important;
        }

        .dealer-tabresponsive .notification-dealercontent .nofitio-imageround-dealer {
            width: 240px;
            height: 240px;
        }

        .dealer-tabresponsive .offerclass-full-dealer .offerachivment-image {
            width: 50%;
        }

        .dealer-tabresponsive .offerachivment-image p strong {
            font-size: 30px;
        }

        .dealer-tabresponsive .offerclass-full.offerclass-full-dealer {
            padding: 0 10px;
        }

        .dealer-tabresponsive .offerclass-full-dealer .offerslider-full .offer-imageslide .nofitio-imageround {
            width: 245px;
            height: 245px;
        }

        .dealer-tabresponsive .offer-month ul li:nth-child(1) {
            padding-right: 10px !important;
        }

        .dealer-tabresponsive .offer-month ul li {
            border: 0;
        }

        .dealer-tabresponsive .offer-month ul {
            padding: 0;
        }

        .dealer-tabresponsive .dealerclassgross ul li:first-child {
            padding-right: 10px !important;
        }

        .dealer-tabresponsive .dealerclassgross ul li {
            border: 0;
        }

        .dealer-tabresponsive .dealerclassgross ul li {
            font-size: 13px;
        }

        .nodatafoundclass-dealer h2 span {
            font-size: 76px !important;
        }

        .nodatafoundclass-dealer h2 {
            font-size: 25px !important;
        }
    }
</style>
<section class="content content3" style="">
    <div class="container-fluid">
        <!--Holiday Clander and News Start-->
        <!--Holiday Clander and News End-->
        <!--Basic Setting and Profile and Today and Yesterday Bussiness-->
        <div class="clearfix"></div>
        <div class="w-100 float-left">
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-md-4 dealer-firstclass dealer-firstclass-responshive dealer-dashb-second">
                    <div class="card" style="margin-bottom:10px;">
                        <div class="dealer-user-nav" style="padding-top:1px;">
                            <ul class="nav-tabs fullbodydycolorbg" role="tablist" @*style="padding-bottom:9px;border-bottom:1px solid #e6e6e6;background:#dddddd;border:3px solid white;*@>
                                <li role="presentation" class="active">
                                    <a href="#basicsetting" data-toggle="tab" aria-expanded="false">
                                        <span>Account Active</span>
                                    </a>
                                </li>
                                <li class="d-no" role="presentation" style="float:right;">
                                    <a href="#adminprofile" data-toggle="tab" aria-expanded="false">
                                        <span>Manage&nbsp;Profile</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="w-100 float-left tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="basicsetting">
                                    <div class="w-100 float-left body test">
                                        <div class="icon-button-demo text-center" id="try-one">

                                            <div class="col-xs-3 dl">
                                                <span>Account Active</span>   

                                            </div>

                                            @*<div class="col-xs-3">
            <a href="~/DEALER/Home/FundTransferDealer">
                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                    <img src="~/images/reportimage/transfer.svg" />
                </button>
            </a>
            <a href="~/DEALER/Home/FundTransferDealer">Fund&nbsp;Transfer</a>
        </div>*@

                                            <div class="col-xs-3">
                                                <a href="~/DEALER/Home/Index">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                        <img src="~/AdminDesign/images/retailer-d.svg" />
                                                    </button>
                                                </a>
                                                <a href="~/DEALER/Home/Index">User&nbsp;Management</a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="@Url.Action("usedTokens","Home")">
                                                    <button type="button" class="btn  btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/Signup.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("usedTokens","Home")">Token's&nbsp;History</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Notification","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/notification.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Notification","Home")">Notification</a>
                                            </div>



                                            <div class="col-xs-3">
                                                <a href="@Url.Action("BlockOPT","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/settings.svg" class="spinner" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("BlockOPT","Home")">Block&nbsp;Service's</a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="@Url.Action("All_Operator_Info","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float"><img src="~/images/reportimage/ofer.svg" /></button>

                                                </a>
                                                <a href="@Url.Action("All_Operator_Info","Home")">Commissions</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("WebLogin","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <center>
                                                            <img src="~/images/reportimage/login.svg" />
                                                        </center>
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("WebLogin","Home")">Login&nbsp;Info</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Help","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/Help.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Help","Home")">Help</a>
                                            </div>


                                            <div class="col-xs-3">
                                                <a href="@Url.Action("ReceiveFund_by_admin","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/AdminDesign/images/purchase-b.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("ReceiveFund_by_admin","Home")">Purchase</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Actual_Dealer_income","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/money-bag.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Actual_Dealer_income","Home")">My&nbsp;Earn</a>

                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Dealer_Daybook_Report","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/AdminDesign/images/daybook-b.svg" style="height:24px;" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Dealer_Daybook_Report","Home")">Day&nbsp;Book</a>
                                            </div>


                                            <div class="col-xs-3">
                                                <a href="~/DEALER/Home/Gst_Invocing_Dealer_report">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float"><img src="~/images/reportimage/tax.svg" /></button>
                                                </a>
                                                <a href="#">GST Invoice</a>
                                            </div>


                                            <div class="col-xs-3">
                                                <a href="~/DEALER/Home/TDSReport">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/tax.svg" />
                                                    </button>
                                                </a>
                                                <a href="~/DEALER/Home/TDSReport">TDS&nbsp;Report</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Bank_Details","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <img src="~/images/reportimage/123.svg" style="height:24px;" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Bank_Details","Home")">Bank&nbsp;Info</a>
                                            </div>






                                            <div class="col-xs-3">
                                                <a href="@Url.Action("DealerLedger","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <center>
                                                            <img src="~/AdminDesign/images/ladger-b.svg" style="margin-left:0px;" />
                                                        </center>
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("DealerLedger","Home")">Ledger</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("Active_User","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                        <center>
                                                            <img src="~/AdminDesign/images/user-b.svg" style="margin-left:0px;" />
                                                        </center>
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("Active_User","Home")">User's&nbsp;Book</a>
                                            </div>
                                            <div class="col-xs-3">
                                                <a href="@Url.Action("bankinfodealer","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                        <img src="~/AdminDesign/images/set-target.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("bankinfodealer","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Add a/c&nbsp;& &nbsp; Wallet</a>
                                            </div>

                                            <div class="col-xs-3">
                                                <a href="@Url.Action("DealerSellgst","Home")">
                                                    <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                        <img src="~/images/reportimage/Signup.svg" />
                                                    </button>
                                                </a>
                                                <a href="@Url.Action("DealerSellgst","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Invoice</a>
                                            </div>





                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade dealer-changepassword-classfull" id="adminprofile">
                                    <div class="body" style="height:231px;">
                                        <center>
                                            <div class="image" style="margin-top:-6px;">
                                                @if (ViewBag.image != null && ViewBag.image != "")
                                                {
                                                    <img src="@Url.Content("~/" + ViewBag.image)" width="100" height="100" class="img-circle" alt="User">

                                                }
                                                else
                                                {

                                                    <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">
                                                }

                                            </div>
                                            <div class="msg" style="padding-top:16px;">@ViewBag.email</div>
                                        </center>
                                        <center>
                                            <div class="row" style="margin-top:9%;">

                                                <div class="col-xs-6" style="margin-bottom:0px;">
                                                    <a href="~/DEALER/Home/Profile" class="btn btn-default waves-effect" type="button" style="text-decoration:none;box-shadow:none; border:1px solid #dddddd;width:100%;"><i class="fa fa-user-circle-o" style="top:1px;font-size:14px;"></i>&nbsp;My&nbsp;Profile</a>
                                                </div>

                                                <div class="col-xs-6 dealer-changepassword" style="margin-bottom:0px;">
                                                    <a href="~/DEALER/Home/ChangePassword" style="text-decoration:none;box-shadow:none; border:1px solid #dddddd;width:100%;" class="btn btn-default waves-effect"><span style="font-size:13px;top:-2px;"><i class="material-icons" style="font-size:14px;top:2px;">lock_outline</i>&nbsp;Manage Password</span></a>
                                                </div>

                                            </div>
                                        </center>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Start setting and basic information-->
                    <!--Active and Inactive User-->
                    @*<div class="card active-user-dealer">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="w-100 float-left light-yellow">
                                            <div id="imgid" class="imgid-dealercss" style="display:block;cursor:pointer;margin-bottom:0px;" onclick="activeinactive()">
                                                <center style="padding:20px 0;"><span class="text-uppercase">My Active Users</span></center>
                                            </div>
                                            <div id="activeuserid" style="display:none;height:auto;">
                                                <div class="table-responsive table-responsive-dealer">
                                                    <table class="table table-hover dashboard-task-infos">
                                                        <thead>
                                                            <tr>
                                                                <th>USER</th>
                                                                <th>ACTIVE</th>
                                                                <th>INACTIVE</th>
                                                                <th>TOTAL</th>
                                                                <th>PROGRESS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="showactiveuser"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!--End-->

                </div>
                <!--Show Today and Yesterday Businees-->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 dealer-all-reporthome dealer--report-responshive full-dealer-second full-dealer-secondanimation">
                    <div class="card dealer-addtabnew dealer-tabresponsive">
                        <div class="" style="padding-top:1px;">
                            <!-- Nav tabs -->

                            <ul class="nav nav-tabs header-tabbutton tab-seconddesign" role="tablist">
                                <li role="presentation" class="active notification-class-active" style="background:#dddddd;">
                                    <a href="#notifaction-dealer" data-toggle="tab" id="" aria-expanded="false" class="btn bg-grey waves-effect">
                                        <img class="notification-none" src="~/ashok-images/notification.svg" /><img class="notification-active" src="~/ashok-images/notification(1).svg" />  <span style="color:black;top:1px;">Notification</span>
                                    </a>
                                </li>
                                <li role="presentation" style="background:#dddddd;">
                                    <a href="#offers-dealers" data-toggle="tab" id="" aria-expanded="false" class="btn bg-grey waves-effect">
                                        <img class="notification-none" src="~/ashok-images/offer.svg" style="width:19px;top:-2px;" /><img class="notification-active" src="~/ashok-images/offer(1).svg" style="width:19px;top:-2px;" /><span style="color:black;top:1px;">Offers&nbsp;!!</span>
                                    </a>
                                </li>

                                <li role="presentation" class="" style="background:#dddddd;">
                                    <a href="#History1" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect" onclick="Alltab()">
                                        <img class="notification-none" src="~/ashok-images/fast-time.svg" style="width:22px;" /><img class="notification-active" src="~/ashok-images/fast-time(1).svg" style="width:22px;" /><span style="color:black;top:1px;">Recent Transections</span>
                                    </a>
                                </li>
                                <li role="presentation" style="background:#dddddd;">
                                    <a href="#Todaybusiness" id="Today" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect" onclick="today(this)">
                                        <img class="notification-none" src="~/ashok-images/calculation.svg" style="width:19px;" /><img class="notification-active" src="~/ashok-images/calculation(1).svg" style="width:19px;" /><span style="color:black;top:1px;">Gross Business</span>
                                    </a>
                                </li>
                                <li role="presentation" class="bankholiday-dealertab" style="background:#dddddd;">
                                    <a href="#bankholiday-dealer" data-toggle="tab" id="" aria-expanded="false" class="btn bg-grey waves-effect">
                                        <img class="notification-none" src="~/ashok-images/closed.svg" style="width:22px;" /><img class="notification-active" src="~/ashok-images/closed(1).svg" style="width:22px;" />  <span style="color:black;top:1px;">Bank Holidays</span>
                                    </a>
                                </li>


                            </ul>

                            <!-- Tab panes -->
                            <div class="w-100 float-left tab-content tab-content-dealersclass" style="padding-top:0px;">

                                <div role="tabpanel" class="tab-pane fade in active notification-datashow" id="notifaction-dealer">
                                    <div class="notification-dealercontent">
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                            <img class="d-blokto" src="~/ashok-images/notification(1).svg" style="width: 200px;position: relative;left: 30%;display: none;" />

                                            <div class="carousel-inner" style="margin-top: 20px;padding-bottom:20px;">
                                                <div class="satearrowleft-right-dealer">
                                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-right:8px;"><span class="glyphicon">←</span></a>
                                                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon ">→</span></a>
                                                </div>

                                                @*<div class="col-md-12 notification-content-dealer item active">
                                                        <div class="imageandheader-dealer">
                                                            <div class="nofitio-imageround-dealer">
                                                                <img src="~/ashok-images/box.svg" style="width:100%;margin-top:5px;" />
                                                            </div>
                                                            <h2>Operator Up</h2>
                                                        </div>
                                                        <div class="text-description-dealer">
                                                            <p class="first-ani" style="font-size:19px;color:#000;">test</p>
                                                        </div>
                                                    </div>*@
                                                <div class="slider-activeclassadd"></div>

                                                @if (ViewBag.newsdata.Count > 0)
                                                {
                                                    foreach (var item in ViewBag.newsdata)
                                                    {
                                                        if (@item.name != null || @item.name != "")
                                                        {

                                                            if (@item.name == "Operator Up")
                                                            {
                                                                <div class="col-md-12 notification-content-dealer item">
                                                                    <div class="imageandheader-dealer">
                                                                        <div class="nofitio-imageround-dealer">
                                                                            <img src="~/ashok-images/warning.svg" style="width:100%;margin-top:5px;" />
                                                                        </div>
                                                                        <h2>@item.Header</h2>
                                                                    </div>
                                                                    <div class="text-description-dealer">
                                                                        <p class="first-ani" style="font-size:19px;color:#000;">


                                                                            @item.message

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (@item.name == "Operator Down")
                                                            {
                                                                <div class="col-md-12 notification-content-dealer item">
                                                                    <div class="imageandheader-dealer">
                                                                        <div class="nofitio-imageround-dealer">
                                                                            <img src="~/ashok-images/warning.svg" style="width:100%;margin-top:5px;" />
                                                                        </div>
                                                                        <h2>@item.Header</h2>
                                                                    </div>
                                                                    <div class="text-description-dealer">
                                                                        <p class="first-ani" style="font-size:19px;color:#000;">


                                                                            @item.message

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (@item.name == "New Service")
                                                            {
                                                                <div class="col-md-12 notification-content-dealer item">
                                                                    <div class="imageandheader-dealer">
                                                                        <div class="nofitio-imageround-dealer">
                                                                            <img src="~/ashok-images/label11.svg" style="width: 90%;margin-top: 21px;" />
                                                                        </div>
                                                                        <h2>@item.Header</h2>
                                                                    </div>
                                                                    <div class="text-description-dealer">
                                                                        <p class="first-ani" style="font-size:19px;color:#000;">


                                                                            @item.message

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (@item.name == "Important News")
                                                            {
                                                                <div class="col-md-12 notification-content-dealer item">
                                                                    <div class="imageandheader-dealer">
                                                                        <div class="nofitio-imageround-dealer">
                                                                            <img src="~/ashok-images/email.svg" style="width: 83%;margin-top: 12px;margin-left: 18px;" />
                                                                        </div>
                                                                        <h2>@item.Header</h2>
                                                                    </div>
                                                                    <div class="text-description-dealer">
                                                                        <p class="first-ani" style="font-size:19px;color:#000;">


                                                                            @item.message

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }

                                                        }


                                                    }
                                                }
                                                else
                                                {
                                                    <!--DATA____NOT____FOUND-->
                                                    <div class="nodatafoundclass-dealer">
                                                        <h2> <span>Sorry !</span> No Data Found !</h2>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div role="tabpanel" class="tab-pane fade offers-dealers-dealrs" id="offers-dealers">
                                    <div class="offerclass-full offerclass-full-dealer">
                                        <div class="offer-month">
                                            <ul style="list-style:none;">
                                                <li class="activeeee" style="width:auto !important;margin-right:43px;" id="CurrentMonthYYY"><span>@todaysDate.ToString("MMMM") Offer</span></li>
                                                <li style="width:auto !important;" id="NextMonthYYY"><span>@todaysDate.AddMonths(1).ToString("MMMM") Offer</span></li>
                                            </ul>

                                        </div>
                                        @Html.Partial("_DealerTargetOffer")
                                        @*<div id="myCarouselslide2" class="carousel slide" data-ride="carousel" style="width:100%;float:left;">

                                                <div class="carousel-inner" style="margin-top:0px;padding-bottom:41px;">
                                                    <div class="satearrowleft-right-dealersecond">
                                                        <a class="left carousel-control" href="#myCarouselslide2" data-slide="prev" style="margin-right:8px;"><span class="glyphicon">←</span></a>
                                                        <a class="right carousel-control" href="#myCarouselslide2" data-slide="next"><span class="glyphicon ">→</span></a>
                                                    </div>

                                                    <div class="offerslider-full item active">
                                                        <div class="offer-imageslide">
                                                            <h3><strong>Target&nbsp;Amount&nbsp;INR</strong><span>100000</span></h3>
                                                            <div class="nofitio-imageround">
                                                                <img src="~/ashok-images/warning.svg" style="width:100%;" />
                                                            </div>
                                                            <h2>Prepaid&nbsp;&&nbsp;Utility</h2>
                                                        </div>
                                                        <div class="offer-text-description">

                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>100% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>90% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>80% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>70% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>60% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">Cash&nbsp;Rs</span><strong>50000</strong></p></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="offerslider-full item">
                                                        <div class="offer-imageslide">
                                                            <h3><strong>Target&nbsp;Amount&nbsp;INR</strong><span>100000</span></h3>
                                                            <div class="nofitio-imageround">
                                                                <img src="~/ashok-images/warning.svg" style="width:100%;" />
                                                            </div>
                                                            <h2>Prepaid&nbsp;&&nbsp;Utility</h2>
                                                        </div>
                                                        <div class="offer-text-description">

                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>100% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>90% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>80% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>70% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><img src="~/ashok-images/calculation.svg" /></div>
                                                            </div>
                                                            <div class="offerachivment">
                                                                <div class="offerachivment-text"><strong>60% <span>Achievement</span></strong></div>
                                                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">Cash&nbsp;Rs</span><strong>50000</strong></p></div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>*@

                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade history-onetable" id="History1">
                                    <div class="col-md-12 recent-transition-dealer" style="height:100vh; overflow:auto;">
                                        <table border="1" class="tablerow-second-dealer third-design-table">
                                            <thead>
                                                <tr>
                                                    <th>Firm Name</th>
                                                    <th>Type</th>
                                                    <th>Transaction Description</th>
                                                    <th>Transaction Date</th>
                                                    <th>Cr/Dr</th>
                                                    <th>Updated Bal</th>
                                                </tr>
                                            </thead>
                                            @if (Model.DashBoard_Report_top != null)
                                            {
                                                foreach (var item in Model.DashBoard_Report_top)
                                                {
                                                    DateTime date = Convert.ToDateTime(item.Date);
                                                    var val = item.Cr;
                                                    if (item.Cr == 0)
                                                    {
                                                        val = -item.Dr;
                                                    }
                                                    <tr>
                                                        <td>@item.Firmname</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Operator_type)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                        <td>@date.ToString("d-MMM-yyyy HH:mm:ss")</td>
                                                        <td>@val</td>
                                                        <td>@item.UserPost</td>
                                                    </tr>
                                                }
                                            }

                                        </table>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane1 fade today-report-dealer" id="Todaybusiness" style="margin-top:15px;display:none;">

                                    @*<div class="col-md-6 graph-class">
                                            <div id="donut_chart" class="graph" style="margin-top:-28px;margin-bottom:54px;"></div>
                                        </div>*@
                                    <div class="col-md-12 gross-busnice-dealer">
                                        <div class="button-centerfllowclass dealerclassgross">
                                            <ul>
                                                <li class="activeeee" style="width:auto !important;padding-right:43px;">Today Business</li>
                                                <li style="width:auto !important;">Yesterday Business</li>
                                            </ul>
                                        </div>
                                        <div class="body" style="margin-top:-34px;">
                                            <div class="table-responsive">
                                                <table class="table table-hover dashboard-task-infos tablerow-second-dealer" style="border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;">
                                                    <thead>
                                                        <tr>
                                                            <th>SIGN</th>
                                                            <th>OPERATORS</th>
                                                            <th>TOTAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tabletoday"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane fade bankholiday-datashow" id="bankholiday-dealer">
                                    <div class="col-md-12 col-sm-12 col-xs-12 holiday-right-border holiday-tabnewclass">
                                        @{
                                            var vvv = ViewBag.showholiday;
                                        }
                                        @if (vvv.Count > 0)
                                        {
                                            foreach (var item in ViewBag.showholiday)
                                            {
                                                <div class="col-xs-6 col-sm-6 col-md-6  dealer-holiday-bank" style="border-right:0;color:#dff;">
                                                    <div class="dealer-holiday-contentlass">
                                                        <center>
                                                            <div class="dealer-holidayclass">
                                                                <img src="~/images/reportimage/holidaycalander.png" style="float:left;height:49px;margin-top:-5px;" />
                                                            </div>
                                                            <span style="font-size: 11px;display:block;width:100%;float:left;"><span class="dealer-holiday-date" style="font-weight:600;">@item.Day</span> @item.Month<span class="holidaybank-years" style=""><sup style="font-size:11px; top:0px;">@item.Year</sup></span></span>
                                                            <span class="holidaybank-typemassege" style="font-weight:700;">@item.HolidayName</span>
                                                        </center>
                                                    </div>
                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <div class="bank-holidaynotfound-dealer">
                                                <center class="w-100 float-left"><p style="color:#e0dddd;margin:0;display:;"><span class="">Sorry !</span><strong style="display: block;font-size: 75px;margin-bottom: 15px;">🙈</strong>No Holiday Found !</p></center>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
                <!-- #END# Browser Usage -->
            </div>
        </div>


    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Chart Plugins Js -->
<script src="~/AdminDesign/plugins/chartjs/Chart.bundle.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/charts/chartjs.js"></script>

<!--Today Business-->
<script>
    function Alltab() {
        document.getElementById("Todaybusiness").style.display = "none";
        document.getElementById("rch").style.marginBottom = "40px";
    }
</script>
<script>
    function today(a)
    {
        document.getElementById("Todaybusiness").style.display = "block";
        $("#tabletoday").empty();

        var x = a.id;
        //call ajax
        $.ajax({
            url: '@Url.Action("Show_All_Recharge", "Home")',
            type: 'POST',
            dataType: "html",
            data: { yesterday: x },
            success: function (data) {
                var  x = JSON.parse(data);

                    var newRow =
                "<tr>" +
               " <td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-desktop' style='color:#E91E63;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Recharge & bill</p></td>" +
               "<td><p style='padding-top:3px;'> " + x.Recharge + "</p></td>" + "</tr>" +
               "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-university' style='color:#2196F3;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Financial Services</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Moneytransfer + "</p></td>" + "</tr>" +
                  "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='material-icons' style='color:#FF9800;'>fingerprint</i></p></td>" +
               "<td><p style='padding-top:3px;'>Aeps Services</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Aeps + "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-id-card' aria-hidden='true' style='color:#000000;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Pancard</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Pancard + "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-plane' style='color:#4CAF50;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Travel</p> </td>" +
               "<td><p style='padding-top:3px;'>" + 0.00+ "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-gift' style='color:#F44336;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Gift Cards </p></td>" +
               "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>"
                 + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;'><i class='fa fa-cart-plus' style='color:#555;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>E-Commerce</p> </td>" +
                 "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>"
                 + "</tr>";
                    $('#tabletoday').append(newRow);
                    $("#donut_chart").empty();
                    var rechargebillamt = x.Recharge;
                    var moneytransferamt = x.Moneytransfer;
                    var Aepsamt = x.Aeps;
                    var pancardamount = x.Pancard;
                    initDonutChart(rechargebillamt, moneytransferamt, Aepsamt, pancardamount);


            },
            error: function (data) {

            }
        });
        return true;

     }
</script>
<!-- Doughnut Chart -->
<script type="text/javascript">
    function initDonutChart(rechargebill, moneytrasfer, Aepsamt, pancardamount) {

        var rechargeandbill = rechargebill;
        var Financial = moneytrasfer;
        var aeps = Aepsamt;
        var Pancard = pancardamount;
        var Travel = 0.00
        var GiftCards = 0.00
        var ECommerce = 0.00

        Morris.Donut({
            element: 'donut_chart',

            data: [
                {
                    label: 'Recharge & bill',
                    value: rechargeandbill,
                },
                {
                    label: 'Financial',
                    value: Financial
                },
                {
                    label: 'Aeps',
                    value: aeps
                },
                {
                    label: 'Pancard',
                    value: Pancard
                },
                {
                    label: 'Travels',
                    value: Travel
                },
                {
                    label: 'Gift Cards',
                    value: GiftCards,
                },
                {
                    label: 'E-Commerce',
                    value: ECommerce
                }
            ],

            colors: [
                'rgb(233, 30, 99)',
                'rgb(0, 128, 255)',
                'rgb(255, 152, 0)',
                'rgb(0, 0, 0)',
                'rgb(76, 175, 80)',
                'rgb(255, 0, 0)',
                'rgb(128, 128, 128)'],

            formatter: function (y) {
                return y
            }
        });

    }
</script>


<!--Active and Inactive User using Javascript-->
<script>
    function activeinactive()
    {
        $("#showactiveuser").empty();
        //call ajax
        $.ajax({
            url: '@Url.Action("Show_All_ActiveandInactive_user", "Home")',
            type: 'POST',
             dataType: "html",
             success: function (data) {

                 document.getElementById("activeuserid").style.display = "block";
                 document.getElementById("imgid").style.display = "none";
                 document.getElementById("activeuserid").style.height = "157px";
                var x = JSON.parse(data);
                var newRow =

               "<tr>" +
              " <td style='border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;cursor:pointer;'><a href='#'><p style='padding-top:3px;'>Retailer</p></a></td>" +
              "<td style='border-right:1px solid #eeeeee;'><p style='padding-top:3px;text-align:center;'>" + x.Reatileractive + "</p></td>" +
               "<td style='border-right:1px solid #eeeeee;'><p style='padding-top:3px;text-align:center;'>" + x.Retailerinactive + "</p></td>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='padding-top:3px;text-align:center;'>" + x.RetailerTotal + "</p></td>" +
              "<td style='border-right:1px solid #eeeeee;'> <div class='progress'><div class='progress-bar bg-pink progress-bar-striped' role='progressbar' aria-valuemin='0' aria-valuemax='100' style='width:" + x.RetaileractivePer + "%'></div></div></td>" + "</tr>";

                $('#showactiveuser').append(newRow);
               },
            error: function (data) {

            }
        });
          }
</script>


<script>
    $(".bankholiday-dealertab ,.notification-class-active").click(function () {
        $("#Todaybusiness").hide();
    });
</script>


<script>
    $(".offerclass-full-dealer .offer-month ul li ,.button-centerfllowclass.dealerclassgross ul li").click(function () {
        $(this).addClass("activeeee").siblings().removeClass("activeeee");
    });
</script>
<script>
    $("#NextMonthYYY").click(function () {
        $("#myCarouselslide3").show();
        $("#myCarouselslide2").hide();
    });
    $("#CurrentMonthYYY").click(function () {
        $("#myCarouselslide2").show();
        $("#myCarouselslide3").hide();
    });
</script>

<script>

    $('.notification-dealercontent #myCarousel .slider-activeclassadd').next('.notification-content-dealer.item').addClass('active');

</script>
