@model IEnumerable<Vastwebmulti.Models.dlm_purchase_info_Result>
@{
    ViewBag.Title = "DealerSellgst";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}


<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    body .datepicker-dropdown.datepicker {
        margin-top: 75px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 2px;
    }

    .recharge-report-dealer {
        padding: 0;
    }

    .white-success-dealer {
        position: absolute;
        top: inherit;
        bottom: -35px;
        right: 15px;
        width: auto;
        z-index: 99;
    }

    @@media screen and (max-width:1300px) {
        .col-md-1.allretailer-report-four button span {
            text-transform: capitalize !important;
        }

        .recharge-reportdateclass {
            width: 27%;
        }

        .classrecharge-report .recharge-reportdateclass .custom-date-icon {
            width: 25px;
        }
    }

    @@media screen and (max-width:990px) {
        .allretailer-report, .allretailer-report-first, .allretailer-report-second {
            width: 25% !important;
            float: left !important;
        }

        .col-md-1.allretailer-report-three {
            float: left;
            width: 16%;
        }

        .recharge-reportdateclass {
            width: 31%;
        }

        .col-md-1.allretailer-report-four {
            float: left;
            width: 10%;
            padding-right: 0 !important;
        }

        .col-md-2.recharge-report-dealer {
            float: right;
            width: auto;
        }

        .classrecharge-report .form-group {
            margin-bottom: 10px;
        }
    }

    @@media screen and (max-width:768px) {
        .recharge-reportdateclass .custom-date-icon {
            display: none;
        }

        .recharge-reportdateclass input {
            text-align: center !important;
            font-size: 12px;
        }

        .classrecharge-report .table-responsive {
            position: relative !important;
            z-index: 9;
        }

        .white-success-dealer {
            bottom: -50px;
        }
    }

    @@media screen and (max-width:520px) {
        .col-md-1.allretailer-report-three {
            float: left;
            width: 25%;
        }

        .recharge-reportdateclass {
            width: 57%;
        }

        .col-md-2.recharge-report-dealer {
            margin-bottom: 15px;
            position: relative;
            left: -16px;
        }

        .classrecharge-report .table-responsive table tr th:first-child {
            padding-right: 175px;
        }
    }

    @@media screen and (max-width:420px) {
        .col-md-1.allretailer-report-four button span {
            margin: 0;
            font-size: 0;
        }

        .classrecharge-report .select2 span {
            font-size: 12px;
            padding-left: 2px !important;
            float: left;
            width: 100%;
        }

        .allretailer-report, .allretailer-report-first, .allretailer-report-second {
            padding-right: 1px !important;
        }

        .col-md-1.allretailer-report-three input {
            font-size: 12px;
        }

        .col-md-1.allretailer-report-three {
            padding-right: 3px !important;
        }

        .all-report-inputclass.all-report-inputclass-left {
            padding-right: 1px;
        }

        .all-report-inputclass.all-report-inputclass-right {
            padding-left: 2px;
        }

        .recharge-reportdateclass {
            width: 62%;
        }

        .classrecharge-report .responshive-rechargereport {
            padding-right: 0;
        }
    }
</style>

<section class="content classrecharge-report">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Recharge_Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Dealer Sell GST</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responshive-rechargereport">
                <div class="" style="width:100%;float:left;">
                    <div class="">
                        <div class="col-md-10 report-divsate" style="padding-left: 0;">
                            <div style="margin-top: 2px;">
                                @using (Html.BeginForm("DealerSellgst", "Home", FormMethod.Post))
                                {
                                    <div class="">
                                        <div class="col-md-2 only-select-css allretailer-report" style="padding:0px;padding-right:5px;">
                                            <div class="">
                                                @Html.DropDownList("Month", ViewBag.month as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })

                                            </div>
                                        </div>
                                        <div class="col-md-1 only-select-css allretailer-report-first" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @Html.DropDownList("Year", ViewBag.year as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 allretailer-report-four" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                                    <center>
                                                        <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second button-center-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;justify-content:center;align-items:center;">
                                                            <i class="fa fa-search"></i>
                                                            <span>Search</span>
                                                        </button>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
        @Html.Partial("_menu_invoice")
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card all-reporttable-css">
                    <div>
                        <div class="table-responsive tableseconddes-dealer" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  text-nowrap example-second third-design-table" cellspacing="0" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>

                                        <th>Firm Name</th>
                                        <th>Email</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody class="alin">
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@item.FarmName</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <button onclick="Download('@item.DealerId')" type="button" target="_blank" class="btn btn-sm btn-success" style="border-color:transparent !important;background-color:transparent !important;">
                                                    <i class="fa fa-file-pdf-o fa-2x" style="color:red;"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- model for table -->

<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />



<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        //answers();
    });
</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("rem").style.display = "none";
            //document.getElementById("allretailer").selectedIndex = "0";

        }
        else if (answer == "Retailer") {
            document.getElementById("rem").style.display = "block";
        }
    }
</script>
<script>
    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>







<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.sidebar-dealer-responshive ul li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>

<script>
    $(document).ready(function () {
        var month = '@ViewBag.chkmonth';
        $('#Month').val(month);
        $('#Month').select2().trigger('change');
        $('#dealerid').select2();
        $('#Year').select2();
    });
</script>
<script>
    function Download(apiid) {
        var Month = $('#Month').val();
        var Year = $('#Year').val();
            var url = '@Url.Action("Print_Sell_Gst_dealer", "Home")?Month=' + Month + '&Year=' + Year + '';
            window.open(url, '_blank');
    }
</script>



