@model  List<Vastwebmulti.Areas.DEALER.Models.dealerCommon_status_master_dlm_Transfer_cls>
@{
    ViewBag.Title = "Dealerhold_comm_reports";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}


<section class="content" style="">
    <div class="container-fluid">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Commission Hold Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>*@
                <li><a href="javascript:void(0);">Commission Hold Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->
        <div class="page-header-third pageheader-margin-third second-header-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <div class="col-md-6" style="padding: 0px;">
                    <ul style="float:left;padding:0px;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </a>
                        </li>

                        <li class="fullbodydycolorbg tmw-total-color-one">
                            Commission Hold Report
                        </li>
                    </ul>
                </div>
                </div>
            </div>
                <div class="col-md-12 fund-transfer-main-admin">
                    <div class="fund-trasfer-right">
                        <div class="row clearfix">
                            <div>
                                <table class="table table-bordered table-striped table-hover third-design-table" style="background:#f9f9f9;">
                                    <thead>
                                        <tr>

                                            <th> Name</th>
                                            <th> Firm</th>
                                            <th> Mobile</th>
                                            <th>Pre Balance</th>
                                            <th>Total  Comm. Recived</th>
                                            <th> Post Balance</th>
                                            <th> Admin  Pre bal</th>
                                            <th>Admin Post bal</th>
                                            <th>Hold Comm date</th>
                                            <th>Hold Comm Transfer date</th>


                                        </tr>
                                    </thead>
                                    <tbody id="bodyss">
                                        @foreach (var item in Model)
                                        {
                                            <tr class="tr">

                                                <td>@item.Name</td>
                                                <td>@item.Frmname</td>
                                                <td> @item.mobile </td>
                                                <td> @item.master_remain_pre </td>
                                                <td> @item.totalcomm </td>
                                                <td> @item.master_remain </td>
                                                <td> @item.admin_prebal </td>
                                                <td>@item.admin_postbal</td>
                                                <td>@item.Hold_date</td>
                                                <td>@item.trasnferdate</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>

