@model IEnumerable<Vastwebmulti.Models.show_ecomm_report_Result>
@{
    ViewBag.Title = "Ecommerce_Report";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 75px !important;
    }

    @@media screen and (max-width:992px){
        .ecommerce-reportpage .selectcss-ecommerce {float: left;width:18%;}
        .ecommerce-reportpage .col-md-4.eccommerce-date {float: left;width:35%;}
        .ecommerce-reportpage .col-md-1 {float: left;padding-right: 0;width: 11%;}
        .ecommerce-reportpage .col-md-1 button {width: 100%;padding-left: 0;padding-right: 0;}
        .ecommerce-reportpage .selectcss-ecommerce .form-group {margin-bottom: 10px;}
        .ecommerce-reportpage .col-md-3.ecommerce-pdfbutton {float: right;margin-bottom: 10px;}
    }
    @@media screen and (max-width:768px){
        .ecommerce-reportpage .table-responsive {border: 0;}
    }
    @@media screen and (max-width:520px){
        .ecommerce-reportpage .selectcss-ecommerce {float: left;width: 33%;}
        .ecommerce-reportpage .col-md-4.eccommerce-date {float: left;width: 78%;}
        .ecommerce-reportpage .col-md-1 {width: 22%;}
        .ecommerce-reportpage .col-md-3.ecommerce-pdfbutton .dt-buttons {padding: 0;}
        .ecommerce-reportpage .col-md-3.ecommerce-pdfbutton {margin-top: 10px;}
    }
    @@media screen and (max-width:420px){
        .ecommerce-reportpage .select2 span, .ecommerce-reportpage input, .ecommerce-reportpage button span, .ecommerce-reportpage a, .ecommerce-reportpage button {font-size: 12px !important;}
        .ecommerce-reportpage button span {margin-left: 0 !important;}
        #m-d-fund-transfer .modal-dialog.modal-dialog-reportclass {width: 100% !important;float: left !important;}
        #m-d-fund-transfer .modal-dialog.modal-dialog-reportclass .modal-body.width100.float-left.dealer-pop-body {height: auto !important;}
        .ecommerce-reportpage .table-responsive{z-index:9;position:relative !important;}
        .ecommerce-reportpage .table-responsive table tr td ,.ecommerce-reportpage .table-responsive tr th ,.ecommerce-reportpage table tr td p ,.ecommerce-reportpage .table-responsive table tr td span{font-size:12px;}
    }

</style>
<section class="content ecommerce-reportpage">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Ecommerce Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Ecommerce Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div class="row">
                        <div class="col-md-9 eccommerce-reportclass">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px; ">
                                <div>
                                    @using (Html.BeginForm("Ecommerce_Report", "Home", FormMethod.Post))
                                    {
                                        <div class="">
                                            <div class="col-md-3 only-select-css selectcss-ecommerce" style="display:block;padding-left:0px;padding-right:5px;" id="rem">
                                                <div class="form-group">
                                                    <div class="">
                                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "Select User", new { id = "allretailer", @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 only-select-css selectcss-ecommerce" style="padding:0px;">
                                                <div class="form-group">
                                                    <div class="">
                                                        @Html.DropDownList("category", ViewBag.category as SelectList, "ALL Category", new { id = "category", @class = "selectpicker form-control for-select2", data_live_search = "true" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2 only-select-css selectcss-ecommerce" style="padding: 0px 5px;">
                                                <div class="form-group">
                                                    <div class="">
                                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                {
                                        new SelectListItem{ Text="Status",Value="ALL",},
                                        new SelectListItem{Text="SUCCESS",Value="2"},
                                        new SelectListItem{Text="Pending",Value="1"},
                                        new SelectListItem{Text="Rejected",Value="3"}
                                         }, new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:3px; padding-right:0px;" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 eccommerce-date" style="padding:0px;">
                                                <div class="form-group for-web-date" style="margin-bottom:0px; ">
                                                    <div class="input-daterange input-group">
                                                        <div class="all-report-inputclass all-report-inputclass-left">
                                                            <div class="custom-date-icon border-colorchangecss" style="height: 32px;">
                                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                            </div>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;;height:32px;padding-left:20px;", autocomplete = "off" })
                                                        </div>
                                                        @*<span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                        </span>*@
                                                        <div class="all-report-inputclass all-report-inputclass-right">
                                                            <div class="custom-date-icon border-colorchangecss" style="height: 32px;">
                                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                            </div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;padding-left:20px; height:32px;", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                            <div class="col-md-1" style="padding-left:5px;">
                                                <center>
                                                    <button type="submit" class="btn  waves-effect" style="border:1px solid #ccc;background:#eeebeb;height:32px;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:#444;"></i>
                                                        <span style="color:#444;">Search</span>
                                                    </button>
                                                </center>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>

                        </div>



                        <div class="col-md-3 ecommerce-pdfbutton" style="padding-left:0px;">
                            <button class="white-success-button">Total</button>
                            <div class="white-success" style="display:none;width: 192px;right: 15px">
                                <button type="button" class="btn btn-default waves-effect" style="margin-top:2px;" title="Total  Success"><img src="~/ashok-images/correct.svg" style="width: 19px;background: green;border-radius: 50%;padding: 3px;" />&nbsp;@ViewData["Totals"]</button>
                                <button type="button" class="btn btn-default waves-effect" style="margin-top:2px;" title="Total  Failed"><img src="~/ashok-images/closes.svg" style="width: 19px;background: red;border-radius: 50%;padding: 3px;" />&nbsp;@ViewData["Totalf"]</button>
                                <button type="button" class="btn btn-default waves-effect" style="margin-top:2px;" title="Total  Pending"><img src="~/ashok-images/clock.svg" style="width: 20px;" />&nbsp;@ViewData["Totalp"]</button>

                            </div>
                            <div class="web-white-filter" style="float:right;">
                                <table class="dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card all-reporttable-css">
                    <div>
                        <div class="table-responsive tableseconddes-dealer" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  text-nowrap" cellspacing="0" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr&nbsp;No.</th>
                                        <th>Live&nbsp;Status</th>
                                        <th>Users&nbsp;Registration&nbsp;Information</th>
                                        <th>Order&nbsp;Date</th>
                                        <th>Product&nbsp;Name</th>
                                        <th>MRP&nbsp;Price</th>
                                        <th>Product&nbsp;Price</th>
                                        <th>Qty</th>
                                        <th>Total&nbsp;Amount</th>
                                        @*<th><span>User&nbsp;Role</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                          <th><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th>Approved&nbsp;Date</th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var color = "";
                                        var fontweight = "";
                                        var emailid = "";
                                        var name = "";
                                        var framname = "";
                                        var rolename = "";
                                        var sts = "";

                                        if (item.RoleName == "Retailer")
                                        {
                                            emailid = item.Email;
                                            name = item.RetailerName;
                                            framname = item.Frm_Name;
                                            rolename = item.RoleName;

                                        }

                                        if (item.OrderStatus == 2)
                                        {
                                            color = "green";
                                            fontweight = "700";
                                            sts = "Success";
                                        }
                                        if (item.OrderStatus == 3)
                                        {
                                            color = "red";
                                            fontweight = "700";
                                            sts = "Rejected";
                                        }

                                        if (item.OrderStatus == 1)
                                        {
                                            color = "#FF9800";
                                            fontweight = "700";
                                            sts = "Pending";
                                        }
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td><p style="font-size:12px;"><span style="color:@color;font-weight:@fontweight;">@sts</span></p></td>
                                            <td><p style="font-size:12px;"><span>&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;@framname</span>&nbsp;⇒&nbsp;@emailid</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.OrderDate</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.ProductName</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.ListPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.StandardPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.QTY</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.Amount</p></td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>@rolename</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.RemPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.Remcomm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.RemPost</span></p>
                                                }
                                            </td>

                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.DlmPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.DlmComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.DlmPost</span></p>
                                                }

                                            </td>


                                            <td><p style="font-size:11px;">&nbsp;@item.UpdatedOn</p></td>
                                        </tr>
                                        i++;
                                    }
                                    <tr>
                                        <td>1</td>
                                        <td>dfdfds</td>
                                        <td>dfdf</td>
                                        <td>dfdfd</td>
                                        <td>dfdd</td>
                                        <td>efdds</td>
                                        <td>dcdcd</td>
                                        <td>dfed</td>
                                        <td class="leger-report-modal"><span>10099</span>&nbsp;<img src="~/ashok-images/rightaeps.svg" data-toggle="modal" data-target="#m-d-fund-transfer" style="width: 11px;margin-top: 6px;float: right;" /></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- model for table -->
<div class="modal fund-tr-history in" id="m-d-fund-transfer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-reportclass" role="document" style="margin:0px;float:right;">

        <div class="modal-content width100">
            <div class="modal-header width100 float-left dealer-pop-head">
                <h5>Ecommerce Report</h5>
                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;background:transparent;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>


            </div><!--.modal-header-->
            <div class="modal-body width100 float-left dealer-pop-body" style="height:100vh;">
                <div class="float-left width100">
                    <form class="first-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label>Firm&nbsp;Name</label>

                                    <input class="form-control" readonly="readonly" required="required" type="text" value="">

                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label>Retailer&nbsp;Name</label>

                                    <input class="form-control" readonly="readonly" required="required" type="text" value="">

                                </div>
                            </div>

                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Recharge&nbsp;No</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Operator</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Operator&nbsp;Type</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div><!--.row-->




                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Income</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Retailer Income</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;" type="text" value="">
                                </div>
                            </div>
                        </div><!--.row-->


                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Recharge Type</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Operator ID</label>
                                    <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div><!--.row-->

                    </form>

                    <!--=============-->

                </div><!--.modal-body-->


            </div>

        </div>
    </div>
</div>




<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<!--Calendar Javascript-->
<script>
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>

