@model List<Vastwebmulti.Models.daywisecomm>
@using Vastwebmulti.Models
@using Microsoft.AspNet.Identity;
@{
   
  
    VastwebmultiEntities db = new VastwebmultiEntities();
}
<style>

    /* new css */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }


    /* new css */



    .toast-top-right1 {
        top: 78px;
        left: 81%;
    }

    .datepicker-orient-bottom {
        top: 173px !important;
    }

        .datepicker-orient-bottom.datepickerrecharge {
            top: 147px !important;
        }

    .recharge-report-rtailer th {
        border-bottom: 0px !important;
    }

    .table-responsive table tr, .table-responsive table, .table-responsive table tr td, .table-responsive table tr th {
        border-color: #aaa4a4 !important;
    }

    .noexel-newclass img {
        border-radius: 50% !important;
    }

    .datepicker.datepicker-dropdown.dropdown-menu.datepickerrecharge.datepicker-orient-left.datepicker-orient-bottom {
        margin-top: -21px !important;
    }

    @@media only screen and (max-width:767px) {

        .col-lg-4.col-md-4.col-sm-4.col-xs-4.rechargepdfexal {
            display: block;
        }

        .rechargefirst {
            width: 50%;
        }

        .col-md-3.rechargesecond {
            width: 50%;
        }

        .col-md-2.rechargefiveclass {
            width: 50%;
            padding-top: 5px;
        }

        .col-md-3.rechargethrees {
            width: 50%;
            padding-top: 5px;
        }

        .col-md-2.rechargefive {
            width: 50%;
            padding-top: 5px;
            padding-right: 4px;
        }

        .rechargepdfexal {
            width: 50%;
            padding-top: 5px;
            padding-right: 5px;
        }
    }


    @@media screen and (max-width:766px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 151px !important;
        }
    }

    @@media screen and (max-width:580px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 194px !important;
        }
    }

    @@media only screen and (max-width:480px) {

        .rechargefirst {
            width: 100%;
            padding-top: 0px;
            padding-right: 0;
            margin-bottom: 5px;
        }

        .col-md-3.rechargesecond {
            width: 100%;
            padding-top: 0px;
            padding-right: 0;
            margin-bottom: 5px;
        }

        .col-md-2.rechargefiveclass {
            width: 100%;
            padding-top: 0px;
            padding-right: 0;
            margin-bottom: 5px;
        }

        .col-md-3.rechargethrees {
            width: 100%;
            padding-top: 0px;
            padding-right: 0;
            margin-bottom: 5px;
        }

        .col-md-2.rechargefive {
            width: 100%;
            padding-top: 0px;
            padding-right: 0px;
            margin-bottom: 5px;
        }

        .rechargepdfexal {
            width: 100%;
            padding-top: 0px;
            padding-right: 0px;
        }
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid retailer-page fundtranfer rechargefirstclass fundtranfer-responshive" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->
        <div class="row clearfix">
            @{
                var userid = User.Identity.GetUserId();
                var chk = db.daywisecommsetforusers.Where(s => s.userid == userid && s.role == "Dealer").ToList();
            }

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card class-back-tra-fourdesign">
                        <div class="body change-iconrech-report change-iconrech-responshive" style="padding:12px;padding-left: 0;padding-right: 0;padding-top: 15px;">
                            <div class="table-responsive recharge-responsive retailer-table-seconddesign tablethirddesign-new page-header-third" style="position:inherit;">
                                <table id="tbldata" class="table table-bordered table-striped table-hover dataTable example-second retailer-whitespa-second third-design-table" cellspacing="0" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr class="recharge-report-rtailer">
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">commission 2000 to 5000</th>
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">commission 5001 to 10000</th>
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">commission 10001 to Above</th>

                                        </tr>
                                    </thead>
                                    <tbody id="trow">
                                        @foreach (var i in chk)
                                        {
                                            <tr>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.Comm_2000_5000 %</td>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.Comm_5001_10000 %</td>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.Comm_10001_max %</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                    <div class="loadertablecssnew">Loading...</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 gift-card-top all-type-third">
            <div class="card page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass borderclassgift" style="margin-top:2px;">
                @using (Html.BeginForm("Extracomm_Report", "Home", FormMethod.Post))
                {
                    <div class="">

                        <div class="col-md-3 clk responcive-full" style="padding-right: 0px; padding-left: 5px;">
                            <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                                @*<div class="custom-date-icon" style="height: 32px;">
                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                </div>*@
                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px; width: 100%;" })
                                <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                                </span>
                                <div class="nrr3">
                                    @*<div class="custom-date-icon ner2" style="position: relative;">
                                        <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                    </div>*@
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px; width: 100%;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 ytr-okpli gift-respo-thired search-resp-third" style="padding:0px;padding-left:5px;">
                            <div class="">
                                <div class="">
                                    <center>
                                        <button name="btntype" type="submit" class="btn input-back-second" style="  height:32px;border: 1px solid #b1a6a638;background: #fff;margin-top:1px;background: #f9f9f9;width: 100%;" onclick="serch()">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>
                                    </center>

                                </div>


                            </div>
                        </div>

                    </div>
                }

            </div>


        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">


            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card class-back-tra-fourdesign">
                        <div class="body change-iconrech-report change-iconrech-responshive" style="padding:12px;padding-left: 0;padding-right: 0;padding-top: 15px;">
                            <div class="table-responsive recharge-responsive retailer-table-seconddesign tablethirddesign-new page-header-third" style="position:inherit;">
                                <table id="tbldata" class="table table-bordered table-striped table-hover dataTable example-second retailer-whitespa-second third-design-table" cellspacing="0" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr class="recharge-report-rtailer">
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">Date</th>
                                           
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">Commission</th>
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain pre</th>
                                            <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain post</th>

                                        </tr>
                                    </thead>
                                    <tbody id="trow">
                                        @foreach (var i in Model)
                                        {
                                            <tr>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.date</td>
                                            
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.dlmcomm</td>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.dlmpre</td>
                                                <td style="padding-left:2px; padding-right:2px;text-align:center;">@i.dlmpost</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                    <div class="loadertablecssnew">Loading...</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>