@model Vastwebmulti.Areas.ADMIN.Models.GSTReportModel
@{
    ViewBag.Title = "GSTReport";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Partial("Moneytransferreportpartialview")
                        </div>
                        <div class="col-md-4">
                            @using (Html.BeginForm("GSTReport", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: 3px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.CurrentMonthName'>
                                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                <span style="top:-2px;color:black;">@ViewBag.CurrentMonthName</span>
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: -10px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth1'>
                                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                <span style="top:-2px;color:black;">@ViewBag.OldMonth1</span>
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: -30px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth2'>
                                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                <span style="top:-2px;color:black;">@ViewBag.OldMonth2</span>
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;"><b style="font-size:20px;">GST&nbsp;Report&nbsp;For&nbsp;Month&nbsp;:-&nbsp;@ViewBag.Crmonth</b></li>
                        </ol>
                    </div>
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-58px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Role</th>
                                        <th>FarmName</th>
                                        <th>Name</th>
                                        <th>Account Transfer&nbsp;GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                    }
                                    @if (Model.GSTDealer != null)
                                    {
                                        foreach (var item in Model.GSTDealer)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Role</td>
                                                <td>@item.FarmName</td>
                                                <td>@item.Name</td>
                                                <td>@item.gst</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                <tfoot  style="background-color:whitesmoke;">
                                    @if (Model.GSTDealer != null)
                                    {
                                        <tr>
                                            <td style="font-size:18px;">Total</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="font-size:18px;">@Model.GSTDealer.Sum(a => a.gst)</td>
                                        </tr>
                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />







