@{
    ViewBag.Title = "Help";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody tr td, .table tbody tr th
    {
        border-top:0px;
        border-bottom:0px;
    }
    .table-responsive{
        border:0px;
    }

    @@media screen and (max-width:520px){
        
        .content-help .dealer-helppage-right .table-responsive table tr td{border:0;width:100%;float:left;text-align:left;}
        .content-help .dealer-helppage-right .table-responsive table tr{border-bottom:1px solid #dddddd;}
        .dealer-helppage-right .responshive-helppageclassfull {padding-top: 5px !important;}
        .dealer-helppage-right .responshive-helppageclassfull .col-md-12 {margin-bottom: 0 !important;}
        .dealer-helppage-right .responshive-helppageclassfull .col-md-12 .table-responsive {margin-bottom: 0;}
        .dealer-helppage-right .responshive-helppageclassfull table tr:last-child {border-bottom: 0;}
        
    }
     
</style>
<section class="content content-help">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Help</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Help</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 dealer-helppage">
                <div class="card helpcard-third">

                    <div class="row">
                        <div class="col-md-6 dealer-helppage-left dealer-helppage-left-third">
                            <div class="body">
                                <h2 style=""><img src="~/images/reportimage/Help.svg" style="height:24px;">&nbsp;Customer&nbsp;Care&nbsp;Support&nbsp;Time</h2>
                                <div class="help-dealer-second-design" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">

                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:-25px;">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>

                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>MONDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>
                                                        <tr>
                                                            <td>TUESDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>
                                                        <tr>
                                                            <td>WEDNESDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>

                                                        <tr>
                                                            <td>THURSDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>
                                                        <tr>
                                                            <td>FRIDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>
                                                        <tr>
                                                            <td>SATURDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  08.00 PM</p></td>

                                                        </tr>
                                                        <tr style="padding-bottom: 6px;">
                                                            <td>SUNDAY</td>

                                                            <td><p style="font-weight:700;">9.00 AM  to  02.00 PM</p></td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 dealer-helppage-right dealer-helppage-left-third">
                            <div class="body">
                                <h2 style=""><img src="~/images/reportimage/Help.svg" style="height:24px;">&nbsp;Contact&nbsp;Information</h2>
                                <div class="responshive-helppageclassfull help-dealer-second-design" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">


                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:-19px;">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>

                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Company Name</td>

                                                            <td>
                                                                @if (ViewBag.admin.Companyname != null && ViewBag.admin.Companyname != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.Companyname</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>


                                                        </tr>
                                                        <tr>
                                                            <td>Name</td>

                                                            <td>
                                                                @if (ViewBag.admin.Name != null && ViewBag.admin.Name != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.Name</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Email-ID</td>

                                                            <td>
                                                                @if (ViewBag.admin.email != null && ViewBag.admin.email != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.email</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td>Mobile No</td>

                                                            <td>
                                                                @if (ViewBag.admin.mobile != null && ViewBag.admin.mobile != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.mobile</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Address</td>

                                                            <td>
                                                                @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Address</td>

                                                            <td>
                                                                @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Address</td>

                                                            <td>
                                                                @if (ViewBag.admin.Address != null && ViewBag.admin.Address != "")
                                                                {
                                                                    <p style="margin-left:12%;">@ViewBag.admin.Address</p>
                                                                }
                                                                else
                                                                {
                                                                    <p style="margin-left:12%;">No Data Found !</p>
                                                                }
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

