@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.DEALER.Models.RetailerModel
@{
    ViewBag.Title = "Attributes";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";

    string token_validate = Model.Dealertoken <= 0 ? "" : "#defaultModal";

    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Retailer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Retailer")
        {
            favimage = usernname.SingleOrDefault().NickName;

        }
    }



}
<style>
    .show_error {
        display: block;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .selectcssinlineclass span.select2 span.select2-selection.select2-selection--single {
        border-radius: 0;
        border-color: #ddd !important;
        height: 34px;
    }

    .create-retaileruse span.keyfreamuse {
        width: 13px;
        height: 13px;
        float: left;
        border-radius: 50%;
        background: #fff;
        margin: 0 !important;
        margin-top: 3px !important;
        margin-right: 1px !important;
        animation: backgrounder 3s linear infinite;
    }

    @@keyframes backgrounder {
        0% {
            background: #fff;
        }

        50% {
            background: yellow;
        }

        100% {
            background: var(--main-bg-rcolor);
        }
    }

    .col-md-4.create-retaileruse button {
        background: var(--main-bg-lcolor) !important;
    }

    .new-retailer-table tr.retailer-tablefooter .onoffswitch span {
        font-size: 0;
        float: left;
        height: auto;
        padding: 0;
        background: transparent;
    }

    .new-retailer-table tr.retailer-tablefooter .onoffswitch {
        padding: 0;
        border: 0;
        background: transparent;
        float: left;
        width: auto;
    }

        .new-retailer-table tr.retailer-tablefooter .onoffswitch span::after, .new-retailer-table tr.retailer-tablefooter .onoffswitch span::before {
            position: static !important;
            margin-top: 2px;
            margin-right: 5px;
        }

    .new-retailer-table table tr.retailer-tablefooter td {
        white-space: nowrap;
    }

    .new-retailer-table table thead th {
        padding: 10px 5px;
    }

    .new-retailer-table table tbody td:nth-child(3), .new-retailer-table table tbody td:nth-child(8) {
        white-space: normal;
    }

    .new-retailer-table table tbody td {
        padding: 8px 5px;
    }

    .responshivemodal-class .modal-dialog .form-group {
        margin-bottom: 10px;
    }

    #defaultModal1, .responshivemodal-class {
        padding: 0 !important;
    }

    @@media screen and (max-width:768px) {
        #defaultModal .modal-dialog {
            width: 100% !important;
            float: left;
        }

        .indextable-page .index-pagetablefull .table-responsive {
            border: 0;
        }

        .new-retailer-table table tbody td:nth-child(3), .new-retailer-table table tbody td:nth-child(8) {
            white-space: nowrap;
        }
    }

    @@media screen and (max-width:580px) {
        .col-md-8 {
            width: 100% !important;
            text-align: center;
            float: left;
        }

            .col-md-8 .form-group {
                margin-bottom: 0px !important;
            }

        .col-md-4.create-retaileruse {
            float: left !important;
            padding-left: 15px !important;
            margin-bottom: 10px;
            padding-right: 0px !important;
        }
    }

    @@media screen and (max-width:420px) {
        .responshivemodal-class .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
            width: 100%;
            float: left;
        }

        .col-md-2.recharge-report-dealer input, .col-md-2.recharge-report-dealer button {
            font-size: 11px !important;
        }

        .col-md-4.create-retaileruse button span {
            font-size: 10px;
        }

        .col-md-4.create-retaileruse button {
            padding: 0 5px !important;
        }
    }

    @@media screen and (max-width:380px) {
        .col-md-4.create-retaileruse button {
            padding: 6px 4px;
        }
    }

    @@media screen and (max-width:320px) {

        .index-pagetablefull .col-md-8 ol li {
            margin-top: 0;
        }

        .col-md-4.create-retaileruse button {
            text-align: center;
            margin: 0px auto;
            display: block;
            float: none !important;
            padding: 0 15px;
        }

        .index-pagetablefull .col-md-8 {
            width: 100% !important;
            padding: 0;
        }

            .index-pagetablefull .col-md-8 .form-group {
                margin-bottom: 0px !important;
            }

                .index-pagetablefull .col-md-8 .form-group ol {
                    margin-bottom: 8px;
                }
    }
</style>

<section class="content indextable-page" style="margin: 80px 0px 0 164px;">
    <div class="container-fluid index-pagetablefull full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>User Management</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User Management</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom: 0px; ">
                    <div class="row">
                        <div class="col-md-8 dealer-none-fourclass" style="width:auto;float:left;">
                            <div class="form-group" style="margin-bottom:15px;">
                                <ol class="" style="padding:0px;">
                                    <li class="active" style=" color:#555; font-size:21px;font-weight:700;">All&nbsp;@favimage&nbsp;Details</li>

                                </ol>
                            </div>
                        </div>

                        @*<div class="col-md-2 recharge-report-dealer" style="width:auto;float:right;padding-left:0px;">
                                <div class="form-group" style="margin-bottom:0px;width:100%;float:left;">
                                    <div style="padding-top:0px;float:right">
                                        <button class="white-success-button" style="height:32px;border:1px solid #b1a6a638;background:#b1a6a638;float: right;padding: 0px 4px;margin-top:-1px;" onclick="findtotal()">Total</button>
                                        <div class="web-white-filter fil" style="float: left;margin-right: 5px;margin-top:-1px;">
                                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                    background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;">
                                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                    background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                        <div class="col-md-4 create-retaileruse" style="width:auto;float:right;padding-right:5px;padding-left:0px;">
                            <button type="button" class="btn fullbodydycolorbg waves-effect" style="position: relative; top: -2px; height: 33px; float: right;" data-toggle="modal" data-target="@token_validate" onclick="handleCreate_btn('@token_validate')">

                                <span style="color:#fff;"><span class="keyfreamuse"></span>Create&nbsp;@favimage&nbsp;Account</span>
                            </button><br />
                            <span class="text-danger hidden" id="token_err" style="position: absolute; top: 31px;font-size:11px;padding-left: 8px;">Your Remain Token Is Low</span>



                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card all-reporttable-css new-retailer-table">
                    <div>
                        <div class="table-responsive tableseconddes-dealer" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>S.R.</th>
                                        <th style="padding-right: 96px;">Firm&nbsp;Info.</th>
                                        <th>Name</th>

                                        <th>Reg&nbsp;Email&nbsp;Id</th>

                                        <th>Reg&nbsp;Mobile&nbsp;No</th>
                                        <th>Remain&nbsp;Bal.</th>


                                        @*<th>Capping</th>*@
                                        <th>State</th>
                                        <th>District</th>
                                        <th>Full&nbsp;Address</th>

                                        @*<th>Pancard</th>
                                            <th>Aadharcard</th>
                                            <th>GST</th>*@
                                        @*<th>Status</th>*@
                                        @*<th style="padding-right:25px;">Email&nbsp;Confirm</th>*@
                                        <th style="padding-right:30px;">Edit</th>
                                        <th>Join&nbsp;Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.dealer_retailer != null)
                                    {
                                        int i = 1;
                                        foreach (var item in Model.dealer_retailer)
                                        {
                                            var pendingColor = "";
                                            if (item.Emailconfirmed == false)
                                            {
                                                pendingColor = "#fff8d1";
                                            }

                                            <tr style="background:no-repeat;" class="retailer-tablefooter">
                                                <td>@i</td>
                                                <td>
                                                    <div class="onoffswitch">
                                                        @if (item.Status == "Y")
                                                        {
                                                            <span class="costom-on">on</span>

                                                        }
                                                        else
                                                        {

                                                            <span class="custom-off">off</span>

                                                        }
                                                    </div>
                                                    @item.Frm_Name
                                                </td>
                                                <td>@item.RetailerName</td>

                                                <td><span style="background:@pendingColor;padding:2px 4px;">@item.Email</span></td>

                                                <td>@item.Mobile</td>
                                                <td>@item.Remainamount</td>


                                                @*<td>@item.caption</td>*@
                                                <td>@item.State_name</td>
                                                <td style="white-space:nowrap;">@item.Dist_Desc</td>
                                                <td>@item.Address</td>


                                                @*<td>@item.PanCard</td>
                                                    <td>@item.AadharCard</td>
                                                    <td>@item.gst</td>*@





                                                @*<td style="padding:9px;">
                                                        @if (item.Emailconfirmed == true)
                                                        {
                                                            <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:5px 7px 5px 10px">
                                                                <span>DONE</span>
                                                            </a>

                                                        }
                                                        else
                                                        {
                                                            <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:5px 11px 5px 11px;">
                                                                <span>NOT&nbsp;DONE</span>
                                                            </a>

                                                        }
                                                    </td>*@

                                                <td>
                                                    <div class="row" style="margin:0px;">
                                                        <div class="col-xs-4" style="padding-left:0;padding-right:0;">
                                                            <button class="btn btn default" id="but" onclick="animation('@item.RetailerId')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;height:23px; padding:1px 6px 1px 6px;" title="Edit Information">
                                                                Edit
                                                            </button>

                                                        </div>
                                                        @*<div class="col-xs-4" style="padding-left:0;">
                                                                @if (item.Emailconfirmed == false)
                                                                {
                                                                    <button class="btn btn default" id="but" onclick="sendotpRetailer('@item.RetailerId')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;height:28px; padding:1px 10px 1px 10px;margin-left:-10px;" title="Delete Information">
                                                                        Delete
                                                                    </button>
                                                                }

                                                            </div>
                                                            <div class="col-xs-4" style="padding-left:0;padding-right:0;">
                                                                @if (item.Emailconfirmed == false)
                                                                {
                                                                    <a class="btn btn default" href="@Url.Action("ResendRetailerEmail", "Home", new { email = item.Email })" title="Resend Email " style="border:1px solid #c7c2c2; height:28px; padding:1px 10px 1px 10px;margin-left:-6px;">
                                                                        Resend
                                                                    </a>
                                                                }
                                                            </div>*@
                                                    </div>
                                                </td>
                                                <td>@item.JoinDate</td>

                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add New   modal-->

<div class="modal fade responshivemodal-class" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;">
        <div class="modal-content">
            <div class="modal-header" style="position:initial; background-color:whitesmoke;padding:10px 15px;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:#555;">Create&nbsp;New&nbsp;Retailer</h4>
            </div>
            @using (Html.BeginForm("InsertRetailer", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;" id="myform">
                    <div class="body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form id="form_validation" method="POST">


                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Mobile<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Mobile, "", new { @class = "form-control", required = "required", placeholder = "Enter Mobile Number", onkeypress = "return isNumber(event)", minlength = "10", maxlength = "10" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Email-ID</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email Id" })
                                        </div>
                                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Aadhar Card</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Adhaar, "", new { @class = "form-control", placeholder = "Enter Aadharrcard No", onkeypress = "return isNumber(event)", maxlength = "12" })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Pancard</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pan, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase" })
                                        </div>

                                    </div>
                                </div>

                            </div>




                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Name<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Firm Name<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Firm, "", new { @class = "form-control", placeholder = "Enter Firm Name", required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Firm, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Gst Number<span style="color: red"></span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Gst, "", new { @class = "form-control", placeholder = "Enter GST No", maxlength = 15, @style = "text-transform:uppercase" })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Capping<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Capping, "", new { @class = "form-control", placeholder = "Enter Capping No", onkeypress = "return isNumber(event)" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Capping, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group only-select-css selectcssinlineclass">
                                        <label for="email_address_2">State<span style="color: red">*</span></label>
                                        <div class="">
                                            @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "selectpicker form-control", data_live_search = "true", required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">District<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="District" name="District" class="form-control show-tick" required="">
                                                <option>
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Address<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Pincode<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pin Code", required = "required", onkeypress = "return isNumber(event)", maxlength = "6", minlength = "6" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger", onkeypress = "return isNumber(event)" })
                                    </div>
                                </div>

                            </div>


                            @*<div class="row clearfix">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="email_address_2">Enter Password<span style="color: red">*</span></label>
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", placeholder = "Enter Password", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            @*<div class="row clearfix">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="email_address_2">Enter Pin<span style="color: red">*</span></label>
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Pin, "", new { @class = "form-control", placeholder = "Enter Pin", required = "required", onkeypress = "return isNumber(event)" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@




                            <div class="modal-footer" style="padding-right:0px;">
                                <button type="button" class="btn  waves-effect" style=" height:34px;" data-dismiss="modal">
                                    <span style="color:black;">Close</span>
                                </button>
                                <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" margin-right: 12px; height:34px;">
                                    <span style="color:#fff;">Create&nbsp;User</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
        }

    </div>
</div>


<!--Edit  Modal-->
<div class="modal fade tableeditdefaultmodal responshivemodal-class" id="defaultModal1" tabindex="-1" role="dialog" style="padding-right:0 !important;">
    <div class="modal-dialog" role="document" style="float:right;margin-top:0;padding-right:0 !important;">
        <div class="modal-content">
            <div class="modal-header" style="position:initial; background-color:whitesmoke;padding:10px 15px;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:#555;">Edit Retailer Information</h4>
            </div>
            @using (Html.BeginForm("Editretailer", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Retailerid)
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">

                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Name</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Name1, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Name1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Firm Name</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Firm1, "", new { @class = "form-control", placeholder = "Enter ", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Firm1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Pancard</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pan1, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", required = "required" })

                                        </div>

                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="email_address_2">Aadhar Card</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Adhaar1, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12", required = "required" })

                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="aadharcardPathdisplay" style="margin-bottom:0px; display:none;">
                                    <div class="form-group" style=" margin-bottom: 5px;">
                                        <div class="" style="border:1px solid #adadad;background: #fff;padding: 0px 6px;">
                                            <p style="margin: 0px; border-bottom: 1px solid #bbb; font-size: 11px; font-weight: bold;">Aadhar Front Image</p>  <input type="file" class="form-control" id="aadharcardfrontdoc" name="aadharcardfrontdoc" style="color:red;height: 28px;padding: 2px 0px;" data-val="true" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="aadharcardPathdisplay2" style="margin-bottom:0px; display:none;">
                                    <div class="form-group" style=" margin-bottom: 5px;">
                                        <div class="" style="border:1px solid #adadad;background: #fff;padding: 0px 6px;">
                                            <p style="margin: 0px; border-bottom: 1px solid #bbb; font-size: 11px; font-weight: bold;">Aadhar Back Image </p> <input type="file" class="form-control" id="aadharcardbackdoc" name="aadharcardbackdoc" style="color:red;height: 28px;padding: 2px 0px;" data-val="true" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="pancardPathdisplay" style="margin-bottom: 0px; display: none;">
                                    <div class="form-group" style=" margin-bottom: 5px;">
                                        <div class="" style="border:1px solid #adadad;background: #fff;padding: 0px 6px;">
                                            <p style="margin: 0px; border-bottom: 1px solid #bbb; font-size: 11px; font-weight: bold;">Pancard Doc </p> <input type="file" class="form-control" id="pancarddoc" name="pancarddoc" style="color:red;height: 28px;padding: 2px 0px;" data-val="true" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="Selfiedisplay" style="margin-bottom: 0px; display: none;">
                                    <div class="form-group" style=" margin-bottom: 5px;">
                                        <div class="" style="border:1px solid #adadad;background: #fff;padding: 0px 6px;">
                                            <p style="margin: 0px;border-bottom: 1px solid #bbb;font-size: 11px;font-weight:bold;">Shop With Selfie </p> <input type="file" class="form-control" id="shopwithselfiledoc" name="shopwithselfiledoc" style="color:red;height: 28px;padding: 2px 0px;" data-val="true" />
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group only-select-css selectcssinlineclass">
                                        <label for="email_address_2">State</label>
                                        <div class="" style="">
                                            @Html.DropDownListFor(model => model.State1, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "form-control for-select2", data_live_search = "true" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.State1, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group only-select-css selectcssinlineclass">
                                        <label for="email_address_2">District</label>
                                        <div class="" style="">
                                            @Html.DropDownListFor(m => m.District1,
                            new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
              "Select district",
              new { @class = "form-control for-select2" })

                                        </div>

                                        @Html.ValidationMessageFor(m => m.District1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>




                            @*<div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Capping </label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.Capping1, "", new { @class = "form-control", placeholder = "Enter Capping No", onkeypress = "return isNumber(event)", required = "required" })

                                            </div>
                                            @Html.ValidationMessageFor(m => m.Capping1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Gst Number</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Gst1, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase" })

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Address</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextAreaFor(m => m.Address1, new { @class = "form-control", placeholder = "Enter Address ", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Pin Code</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pincode1, new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 6, onkeypress = "return isNumber(event)", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Pincode1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email_address_2">Offline Margine(%)<span style="color: red">*</span></label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.offmargineEditn, "", new { @class = "form-control", placeholder = "Set Offline Marine", onkeypress = "return isNumber(event)", maxlength = "6" })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="kycvideodisplay" style="margin-bottom: 0px; display: none;">
                                    <div class="form-group" style=" margin-bottom: 5px;">
                                        <div class="" style="border:1px solid #adadad;background: #fff;padding: 0px 6px;">
                                            <p style="margin: 0px; border-bottom: 1px solid #bbb; font-size: 14px; font-weight: bold;"> KYC Video <span style="color: red; font-size: 10px; font-weight: 100;">(*Max File Size 20 MB) </span> </p> <input type="file" accept="video/mp4,video/x-m4v,video/*" class="form-control" id="KYCVIDEOfile" name="KYCVIDEOfile" style="color:red;height: 28px;padding: 2px 0px;" data-val="true" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <label id="lblberror"></label>
                                <button type="submit" id="btnEditrem" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:0px;color:#555;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:0px;color:#555;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Delete Otp -->
<div class="modal fade" id="OTPModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">User Delete (OTP) </h4>
            </div>

            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>
                        <input type="text" id="RetailerId" name="RetailerId" style="display:none;" />
                        <div class="row clearfix">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <p><span style="font-size:19px;color:red;font-weight:600;">Note</span><span style="color:green;font-size:14px;font-weight:600;margin-left:10px;">OTP SENT SUCCESSFULLY ON YOUR EMAIL.PLEASE CHECK YOUR MAIL</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top:-9px;">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Enter&nbsp;OTP</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="txtotp" name="txtotp" class="form-control" placeholder="Enter OTP" onkeypress="return isNumber(event)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="DeleteRetailer()">
                                <span style="top:-2px;color:black;">Save Change</span>
                            </button>
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                <span style="top:-2px;color:black;">Close</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Scripts/CheckValidation/ChkValid.js"></script>

<script>

    $('#btnEditrem').click(function () {

        $('#lblberror').text('');
        var pancard = $('#Pan1').val()
        if (pancard.length > 0) {
            var pancardformate = new RegExp('^([A-Za-z]){5}([0-9]){4}([A-Za-z]){1}$');

            if (!pancardformate.test(pancard)) {

                $('#lblberror').text('☒ Invalid Pan No');

                return false;
            }


        }



        var aadhar = $('#Adhaar1').val();
        $('#lblberror').text('');
        var res = validatesss(aadhar)
        if (res == false) {
            $('#lblberror').text('☒ Invalid AAdhar No');

            return false;

        }
        var gst = $('#Gst1').val()
        if (gst.length > 0) {
            console.log(gst.length)
            console.log(gst)
            var gstinformat = new RegExp('^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$$');

            if (!gstinformat.test(gst)) {

                $('#lblberror').text('☒ Invalid GST No');

                return false;
            }


        }




    })



</script>



<script>
    $('.for-select2').select2();


</script>


<!--EDIT fill dropdown list-->
<script language="javascript" type="text/javascript">
    $(function () {
        $('#State1').change(function () {
            var stid = $('#State1').val()
            if (stid === "") {
                stid = 0;
           }
            else {
                GetDistrict(stid);
            }
            function GetDistrict(_stateId) {
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#District1").html(procemessage).show();
                var url = '@Url.Action("DistrictList","Home")'
                $.ajax({
                    url: url,
                    data: { Id: _stateId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option>Select District</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                         }
                        $("#District1").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
        });
    })
</script>
<!--ADD fill dropdown list-->
<script type="text/javascript">
    $(function () {
        $('#State').change(function () {
             var stid = $('#State').val()
            if (stid === "") {
                stid = 0;
               }
            else {
            GetDistrict(stid)
            }
            function GetDistrict(_stateId) {
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#District").html(procemessage).show();
                var url = '@Url.Action("DistrictList","Home")'
                $.ajax({
                    url: url,
                    data: { Id: _stateId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                             }
                        $("#District").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
        });
    })
</script>
<!--Edit Retailer Users users-->

<script type="text/javascript">
    var val1 = "";

     document.getElementById("Pan1").readOnly = false;
                      document.getElementById("Adhaar1").readOnly = false;
                      document.getElementById("Name1").readOnly = false;
                      document.getElementById("Firm1").readOnly = false;

                      document.getElementById("Address1").readOnly = false;
                      document.getElementById("State1").readOnly = false;
                      document.getElementById("District1").readOnly = false;
                      document.getElementById("Pincode1").readOnly = false;

        function animation(userid) {

            $("#Retailerid").val(userid);
            var url = '@Url.Action("RetailerSearch", "Home")';
            $.ajax({
                url: url,
                data: { userid: userid },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#Name1").val(data[0].RetailerName);
                    $("#Firm1").val(data[0].Frm_Name);
                    $("#Address1").val(data[0].Address);
                    $("#Pincode1").val(data[0].Pincode);
                    //$("#Slab1").val(data[0].slab_name);
                    $("#Pan1").val(data[0].PanCard);
                    $("#Adhaar1").val(data[0].AadharCard);
                    $("#Capping1").val(data[0].caption);
                    $("#Gst1").val(data[0].gst);
                    $("#State1").val(data[0].State);

                    GetDistrict1(data[0].State);
                    if (data[0].pancardPath != null && data[0].PSAStatus == "Y") {
                        document.getElementById("Pan1").readOnly = true;

                    }
                    else {
                        if (data[0].pancardPath != null) {
                            $("#pancardPathdisplay").hide();
                        }
                        else {
                            $("#pancardPathdisplay").show();
                        }
                    }

                    if (data[0].aadharcardPath != null && data[0].AadhaarStatus == "Y") {
                        document.getElementById("Adhaar1").readOnly = true;
                    }
                    if (data[0].aadharcardPath != null && data[0].BackSideAadharcardphoto != null) {
                        $("#aadharcardPathdisplay").hide();
                        $("#aadharcardPathdisplay2").hide();
                    }
                    else {
                            $("#aadharcardPathdisplay").show();
                            $("#aadharcardPathdisplay2").show();
                    }
                    if (data[0].videokycpath == null && data[0].videokycstatus == "N" && data[0].AadhaarStatus == "Y" && data[0].PSAStatus == "Y" && data[0].ShopwithSalfieStatus == "Y" ) {
                        $("#kycvideodisplay").show();
                    }
                    else {
                        $("#kycvideodisplay").hide();
                    }
                    if (data[0].ShopwithSalfie != null) {
                        $("#Selfiedisplay").hide();
                    }
                    else {
                        $("#Selfiedisplay").show();
                    }

                if (data[0].pancardPath != null && data[0].PSAStatus == "Y" && data[0].aadharcardPath != null && data[0].AadhaarStatus == "Y") {
                    document.getElementById("Pan1").readOnly = true;
                      document.getElementById("Adhaar1").readOnly = true;
                      document.getElementById("Name1").readOnly = true;
                      document.getElementById("Firm1").readOnly = true;

                      document.getElementById("Address1").readOnly = true;
                      document.getElementById("State1").readOnly = true;
                      document.getElementById("District1").readOnly = true;
                      document.getElementById("Pincode1").readOnly = true;

                }
                    var objSelect1 = document.getElementById("District1");
                    binddist(data[0].State, data[0].District, objSelect1);
                      $('#lblberror').text('');
                    $('#defaultModal1').modal('show');
                },
                error: function (req,stmsg,reponse) {
                    alert("error : " + reponse + stmsg.st);
                }

            });

        }
      function binddist(staid, dist, objSelect1) {
          var url = '@Url.Action("DistrictList","Home")';
            $.ajax({
                url: url,
                data: { Id: staid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select District</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#District").html(markup).show();
                    setSelectedValue(objSelect1, dist);
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    function setSelectedValue(selectObj, valueToSet) {

            for (var i = 0; i < selectObj.options.length; i++) {
                if (selectObj.options[i].value == valueToSet) {
                  selectObj.options[i].selected = true;
                    return;
                }
            }
        }
    function GetDistrict1(_stateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#District1").html(procemessage).show();
        var url = '@Url.Action("DistrictList","Home")'
        $.ajax({
            url: url,
            data: { Id: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#District1").html("");
                for (var x = 0; x < data.length; x++) {
                $("#District1").append($('<option></option>').val(data[x].Value).html(data[x].Text));
                }

            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<!--Insert Popuop-->
<script>
    $(document).ready(function () {
        var succ = '@TempData["msgrem"]';
        if (succ != "" && succ != null) {
            swal("Good job!", succ, "success");

        }
        var mobileconfrimation = '@TempData["mobileno"]';
        if (mobileconfrimation != "" && mobileconfrimation != null) {
            swal("Oops...", mobileconfrimation, "error");

        }

        var mailconfrimation = '@TempData["emailconfrim"]';
        if (mailconfrimation != "" && mailconfrimation != null) {
            swal({
                html: true,
                title: 'Oops!',
                text: mailconfrimation,
                type: 'error'
            });

        }
        //Edit Message
        var editdata = '@TempData["edit"]';
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }
        var errormessage = '@TempData["Error"]'
        if (errormessage != "" && errormessage != null) {
            swal("Oops...", errormessage, "error");
        }
        var resendmail = '@ViewData["ResendMail"]'
        if (resendmail != null && resendmail != "") {
            swal("Good job!", resendmail, "success");
        }
    });
</script>


<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>

<!--Send OTP BY ADMIN-->

<script>
    document.getElementsByTagName("button")[0].addEventListener("click", function () {
        sendEmail();
    });

    function sendEmail() {

        //check if all fields are fill in. If not do this code;
        document.getElementById("errortext").innerHTML = "Fill in all the fields please.";

        var errorblock = document.getElementById("errorblock");
        errorblock.style.visibility = "visible";
        errorblock.style.height = "46px";
    }
</script>

<script>
    function sendotpRetailer(ID) {
        $.ajax({
            type: 'Post',
          url: "@Url.Action("DeleteRetailerSendOTP", "Home")",
            dataType: 'json',
        cache: false,
        async: false,
        success: function (result) {
            if(result=="Success")
            {
                $("#RetailerId").val(ID);
                $("#OTPModal").modal('show');
            }
            else {
                swal({ title: "Failed !", text: "Something went wrong.", type: "error" });
            }
        }
    });
    }
</script>

<script>
    function DeleteRetailer()
    {
        var OTP = $("#txtotp").val();
        var retailerid = $("#RetailerId").val();

        if(OTP != "")
        {
            $("#OTPModal").modal('hide');
            swal({
                text: "<p style='color:#948f8b; font-size:20px;border-bottom:1px solid #dddddd;margin-top:-12px;padding-bottom:12px;'>Delete</p>" +
                       "</br><i class='fa fa-trash'style='font-size:72px;color:red;'></i></br><p style=''>Are you sure ?</p>",
                html: true,
                title: "",
                showCancelButton: true,
                confirmButtonColor: "#f9a7a7",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                       function (isConfirm) {
                           if (isConfirm) {
                               $.ajax({
                                   type: "POST",
                                   url: '@Url.Action("Delete_Retailer", "Home")',
                                   data: { 'RetailerId': retailerid, 'OTP': OTP },
                                   cache: false,
                                   dataType: 'json',
                                   async: true,
                                   success: function (result) {
                                       if (result == "Success") {
                                           swal({ title: "Data Removed !", text: "Data Deleted Successfully.", type: "success" },
                                              function () {
                                                  location.reload();
                                              }
                                           );
                                       }

                                       else if (result == "OTPWrong") {

                                           swal("Wrong OTP !", "OTP Is Wrong !. Please try again.", "error");
                                           $("#OTPModal").modal('show');
                                       }
                                       else {
                                           swal({ title: "Failed !", text: "Something went wrong.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                                        );
                                       }
                                   }
                               });
                           }
                       });
            return true;
        }
        else {

            swal("Oops !", "Please Enter OTP", "error")
            $("#OTPModal").modal('show');
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.second-design-dealer .example-second').DataTable({


            paging: false
        });
    });

    function handleCreate_btn(str) {
        !str && $('#token_err').toggleClass('hidden');
    }

</script>


<script>
    var inputs = document.getElementById('myform').querySelectorAll('input[type="text"], input[type="password"]');
    var mobile_ref = document.getElementById('Mobile');

    disable_inputs();

    mobile_ref.addEventListener('keyup', (e) => {
        if (e.target.value.length == 10) {
            block_inputs();
        }
        else {
            disable_inputs();
        }
    })

    email_ref.addEventListener('keyup', (e) => {
        if (mobile_ref && mobile_ref.value.length == 10 && e.target.value) {
            block_inputs();
        }
        else {
            disable_inputs();
        }
    })




    function disable_inputs() {
        for (i = 0; i < inputs.length; i++) {
            if (!['Mobile'].includes(inputs[i].getAttribute('id'))) {
                inputs[i].setAttribute('disabled', true);
                inputs[i].value = '';
            }
        }
    }

    function block_inputs() {
        for (i = 0; i < inputs.length; i++) {
            if (!['Mobile'].includes(inputs[i].getAttribute('id'))) {
                inputs[i].removeAttribute('disabled');
                inputs[i].value = '';
            }
        }
    }
</script>