




<style>
    .slab-setting-menu {
        float: left;
        padding: 0px;
    }

        .slab-setting-menu li {
            list-style: none;
            float: left;
            border: 1px solid #bbb;
            margin-right: 3px;
        }

            .slab-setting-menu li a {
                color: #555 !important;
                padding: 5px 6px;
                display: block;
            }

                .slab-setting-menu li a.activee {
                    color: #fff !important;
                }
</style>












<ul class="slab-setting-menu">
    <li><a href="@Url.Action("Money_Transfer_Report","Home")">DMT</a></li>
    @*<li><a href="@Url.Action("TDSReport","Home")">Money Transfer TDS Report</a></li>*@
    <li><a href="@Url.Action("AepsReport","Home")">AEPS</a></li>
    <li><a href="@Url.Action("m_possreport","Home")">M-Poss</a></li>
    <li><a href="@Url.Action("Pancard_report_new","Home")">Pancard</a></li>
    <li><a href="@Url.Action("MIcroAtmReport","Home")">MIcroATM</a></li>
    <li><a href="@Url.Action("CashDepositReport","Home")">CashDeposite</a></li>


</ul>
<script type="text/javascript">



    $(document).ready(function () {
        var current = location.pathname;
        $('.slab-setting-menu li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');

            }
        })
    });

</script>

