@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Notification";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Retailer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Retailer")
        {
            favimage = usernname.SingleOrDefault().NickName;

        }
    }
}
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/Progess.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    .notification-selectcss span {
        text-align: left;
        border-radius: 0 !important;
    }

        .notification-selectcss span.select2-selection.select2-selection--single {
            height: 32px;
        }
</style>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .silver-notification {
        background: #eae9e9;
        width: 100%;
        float: left;
        border: 1px solid #ddd;
    }

        .silver-notification .left-item-two {
            width: 100%;
            float: left;
        }

            .silver-notification .left-item-two .col-md-12, .silver-notification .left-item-two .form-group {
                padding: 0;
                float: right;
                margin: 0;
                text-align: right;
            }

            .silver-notification .left-item-two button {
                margin-top: 0 !important;
                margin-right: 0 !important;
                border-radius: 0 !important;
                border: 0 !important;
            }

        .silver-notification .body, .silver-notification .screen {
            width: 100%;
            float: left;
        }

            .silver-notification .screen span.select2 span.selection .select2-selection.select2-selection--single {
                height: 40px !important;
                padding-top: 4px;
            }

            .silver-notification .screen span.select2 .select2-selection__arrow {
                height: 34px;
                top: 2px;
            }

            .silver-notification .screen .form-group {
                margin-bottom: 10px;
            }

        .silver-notification .left-item-two {
            margin-top: 15px;
        }

    .silver-notification {
        margin-top: 10px;
    }

    .silver-notification {
        -webkit-box-shadow: 0 10px 6px -8px #777;
        -moz-box-shadow: 0 10px 6px -8px #777;
        box-shadow: 0 10px 6px -8px #777;
        border-radius: 0 0 0 100px;
    }
</style>

<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content full-dealer-secondanimation" id="notifaction_page">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Notification</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Notification</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row">
            <div class="col-md-6 dealer-none-fourclass">
                <div class="w-100 float-left bread-same-all-page">
                    <ul class="float-left bred" style="margin:0;padding:0;;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">Dashboard&nbsp;<span style="font-size:18px;">&#187;</span></a>
                        </li>
                        <li class="fullbodydycolorbg tmw-total-color-one" style="margin-top:5px;">Notification</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="web-white-filter" style="float:right;">
                    <table>
                        <thead>
                            <tr>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card" style="margin-top:-4px;">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb fullbodydycolorbg" style="padding:10px 1em;">
                                        <li class="breadcrumb-item active" aria-current="page" style="font-size:15px;color:#fff;font-weight:bold;">SEND NOTIFICATION TO @favimage</li>
                                    </ol>
                                </nav>

                                <div class="row text-center" style="margin:0;">
                                    <!--mobile creat strat-->
                                    <div class="silver-notification silver-notification-second dealer-box-back-four">

                                        <div class="screen">
                                            <div class="body">
                                                @using (Html.BeginForm("Send_Notification", "Home", FormMethod.Post))
                                                {
                                                    <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="col-lg-12 text-left" style="margin-bottom:0px;">
                                                            <label for="email_address_2" style="margin-top:0px;">User Level :</label>
                                                        </div>
                                                        <div class="col-lg-12" style="margin-bottom:0px;">
                                                            <div class="form-group only-select-css notification-selectcss">
                                                                <div class="" style="">
                                                                    @Html.DropDownList("retailerid", (List<SelectListItem>)ViewBag.allretailer, "Select User", new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                                        <div class="col-lg-12 text-left" style="margin-bottom:0px;">
                                                            <label for="email_address_2" style="margin-top:7px;">Message :</label>
                                                        </div>
                                                        <div class="col-lg-12" style="margin-bottom:0px;">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #dddddd;">
                                                                    @Html.TextArea("txtMsgBody", "", new { onkeyup = "apna(this)", maxlength = 160, @class = "form-control", @placeholder = "Enter Message Here", style = "height:120px", @required = "" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="left-item-two">
                                                        <div class="form-group">
                                                            <div class="col-md-12">


                                                                <button type="submit" id="start_button" class="btn fullbodydycolorbg waves-effect btnssl special-iii test" onclick="verify()" disabled data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                                                    <span>Send Notification</span>
                                                                </button>
                                                                <button id="btn" type="reset" class="btn waves-effect fullbodydycolorbg btnssl special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                                    <span>Reset</span>
                                                                </button>


                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="home"></div>
                                        <div class="bottom-bar"></div>
                                    </div>
                                    @*<div class="left-menu" style="background:@PageData["globalDLM"];">
                                            <div class="testmenu">
                                                <div class="left-item-one" style="background:linear-gradient(to right,#ff0000,#ff0080);">
                                                    <h2>The test</h2>
                                                </div>

                                            </div>

                                        </div>*@
                                    <!--mobile creat end-->



                                    <div class="col-md-12">

                                    </div>
                                </div>
                            </div>
                            <script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>



<script>
    $(document).ready(function()
    {
        document.getElementById("loadermoney").style.display = "none";
        var succ = '@ViewData["success"]'
        if(succ != "")
        {
            swal("Send Notification !", succ, "success");
        }
    })
</script>
<script>
    function Saveall() {
        document.getElementById("loadermoney").style.display = "block";
        return true;
    }
</script>



<!--=======================on click button=============================-->
<script>
    $('.btnssl').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 500);
    });
</script>


<script>
    function apna(dienb) {
        var bt = document.getElementById('start_button');
        if (dienb.value != '') {
            bt.disabled = false;
        }
        else {
            bt.disabled = true;
        }
    }
</script>

<script>
    function manages(txts) {
        var bt = document.getElementById('btSubmits');
        if (txts.value != '') {
            bt.disabled = false;
        }
        else {
            bt.disabled = true;
        }
    }
</script>

<script>
    $('.searchInput').keyup(function () {
        if ($(this).val() == '') {

            $('.enableOnInput').prop('disabled', true);
        } else {

            $('.enableOnInput').prop('disabled', false);
        }
    });
</script>