@model List<Vastwebmulti.Models.proc_FlightReport_Result>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF FLIGHT report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>

                <th style="width:110px;">Status</th>

                <th>Passanger&nbsp;Name</th>
                <th>Flight</th>
                <th>Booking&nbsp;Id</th>
                <th>PNR</th>
                <th>Fare&nbsp;Amount</th>
              
                <th>MY&nbsp;Income</th>
                <th>Booking&nbsp;Date</th>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                if (item.TicketStatus.Contains("Refund"))
                {
                    item.TicketStatus = "Refund";

                }

                <tr style="font-weight:700;">
                    <td>
                        <p style="font-weight:700;">

                            @item.TicketStatus&nbsp;-&nbsp;
                            @item.Frm_Name
                        </p>
                    </td>
                    <td>
                        <p>&nbsp;@item.LeadPaxFirstName @item.LeadPaxLastName&nbsp;</p>
                    </td>
                    <td>@item.AirlineName</td>
                    <td>@item.BookingId</td>
                    <td>@item.PNR</td>
                    <td>@item.OfferedFare</td>
                    <td>@Math.Round(item.DlmInc, 2)</td>
                    <td><p>@String.Format("{0:dd-MMM HH:mm:ss}", item.TicketDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>

