@model List<Vastwebmulti.Models.Mpos_Report_New_paging_Result>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF MPOSS report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Status</th>
                <th>TransType</th>
                <th>Card&nbsp;Type</th>
                <th>Card&nbsp;Brand</th>
                <th>Poss&nbsp;Id</th>
                <th>Net&nbsp; Amount&nbsp;₹&nbsp;</th>
                <th>User&nbsp;Comm</th>
                <th>MY&nbsp;Comm</th>
                <th>Debit&nbsp;Amount&nbsp;₹&nbsp;</th>
                <th>BankRRN&nbsp;No</th>
                <th>Bank&nbsp;TerminalID</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {


                    if (item.status == "00")
                    {
                        item.status = "Success";
                    }
                    else
                    {
                        item.status = "Failed";

                    }
            <tr>
                <td>@item.status @item.Frm_Name</td>
                <td>@item.transType</td>
                <td>@item.cardtype</td>
                <td>@item.cardbrand</td>
                <td>@item.mPOSid</td>
                <td>@item.amount</td>
                <td>@item.Rem_comm</td>
                <td>@item.Dlm_Comm</td>
                <td>@item.totalamount</td>
                <td>@item.BankRRN</td>
                <td>@item.bankterminalID</td>
                <td>@item.date</td>
            </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

