@model List<Vastwebmulti.Models.proc_Recharge_operator_report_newPaging_Result>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Status</th>
                <th>Recharge&nbsp;No</th>
                <th>Amount</th>
                <th>Operator</th>
                <th>Opt&nbsp;Type</th>
                <th>MY Income</th>
                <th>User-Income</th>
                <th>OperatorID</th>
                <th>Date</th>



</thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {



            <tr>

                <td>@item.rstatus&nbsp;&nbsp;@item.frm_name</td>

                <td>@item.mobile</td>
                <td>@item.amount</td>
                <td>@item.Operator_name</td>
                <td>@item.operator_type</td>
                <td>@item.dealerincome</td>
                <td>@item.income</td>
                @*<td>@item.rch_type</td>*@
                <td>@item.opt_id</td>
                <td>@item.Rch_time</td>
            </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

