@model IEnumerable<Vastwebmulti.Models.dealer_total_fund_recive_by_master_Result>
@{
    ViewBag.Title = "ReceiveFund_by_master";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top:75px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .received-fund-master .all-report-inputclass {
    position: relative;
}
    .received-fund-master .custom-date-icon {
    position: absolute;
    z-index: 9;
    top: 0;
    border-right: 1px solid #ddd;
        border-right-color: rgb(221, 221, 221);
    padding: 5px 5px;
}
    .receivefund-master-right {
    float: right;
}
    .receivefund-master-right .received-fund-master {
    padding: 0;
    width: 75%;
}
    .receivefund-master-right .receivefund-searchclass {
    width: 25%;
    padding-right: 0;
    padding-left: 5px;
}
    .receivefund-master-right .receivefund-searchclass button {
    width: 100%;
    float: left;padding:0;
}
    .receivefund-master-right .receivefund-searchclass button {
    border: 1px solid #ddd !important;
    border-radius: 0;
    background: #eeebeb !important;
}
    .card.receivfund-tabledata .dt-buttons ,.card.receivfund-tabledata .dataTables_filter ,.card.receivfund-tabledata .dataTables_info ,.card.receivfund-tabledata .dataTables_paginate.paging_simple_numbers{
    display: none;
}
    .receivfund-tabledata .table-responsive table {
    margin: 0 !important;
}
    .receivfund-tabledata .table-responsive {
    overflow: inherit;
}
    .receivfund-tabledata .table-responsive table thead tr th {
    padding: 5px !important;
    border-bottom: 0;
 
}
    .receivfund-tabledata .table-responsive table tfoot tr td {
    border-bottom: 0;
        
}
    .receivfund-tabledata .table-responsive table tr td .btn-group {
    width: 100%;
    float: left;
}
    .receivfund-tabledata .table-responsive table tr td .btn-group .btn-group button {
    width: 95%;
    padding: 0 5px !important;
    text-align: left;color:#555;background:#fff !important;
}
    .receivfund-tabledata .table-responsive table tr td .btn-group .btn-group button::before{width:8px;height:8px;}
    .receivfund-tabledata .table-responsive table tr td .btn-group ul.dropdown-menu.ppp {
    top: 52px;
    width: 95%;
    box-shadow: none;
    border: 1px solid #ccc;
    border-top: 0;
}
    .receivfund-tabledata .table-responsive table tr td .btn-group ul.dropdown-menu.ppp li a {
    padding: 2px 6px;
    line-height: normal !important;
    border-bottom: 1px solid #ccc !important;
}
    .receivfund-tabledata .table-responsive table tr td .btn-group ul.dropdown-menu.ppp li a p {
    margin: 3px 0 !important;
}
    .receivfund-tabledata .table-responsive table tr td .btn-group ul.dropdown-menu.ppp li:last-child a {
    border-bottom: 0 !important;padding-bottom:0;
}
    .dropdown-menu .active.selected.day::before{display:none;}
    .receivfund-tabledata .table-responsive table tbody tr td p{margin:0 !important;}
    .receivfund-tabledata .table-responsive table tbody tr td {
    white-space: nowrap;
}
    .receivefund-master-right .received-fund-master ,.receivefund-master-right .receivefund-searchclass{
    float: left;
}

    @@media screen and (max-width:1300px){
        .receivfund-tabledata .table-responsive table tr td .btn-group .btn-group button::before {
            top: 10px;
            right: -5px;
        }
        .receivfund-tabledata .table-responsive table tr td .btn-group .btn-group button ,.receivfund-tabledata .table-responsive table tr td .btn-group ul.dropdown-menu.ppp{
            width: 100%;
        }
        .receivfund-tabledata .table-responsive table thead tr th:first-child {
    padding-right: 96px !important;
    width: auto !important;
}

    }
    @@media screen and (max-width:766px){
        .receivfund-tabledata .table-responsive {
    border: 0;
}
    }
    @@media screen and (max-width:420px){
        .received-fund-master input {
    font-size: 12px;
    text-align: right;
}
        .bread-page-getway ul li a {
    font-size: 14px;
}
        .bread-page-getway ul li {
    margin: 0;
    font-size: 13px;
}
    }
    


</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Fund Receive From Master History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Received From Master Distributor</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 10px; ">
                    @using (Html.BeginForm("ReceiveFund_by_master", "Home", FormMethod.Post))
                    {
                        <div class="">

                            <div class="bread-same-all-page bread-page-getway dealer-none-fourclass" style="padding-left:0px;padding-bottom:0;width:auto;float:left;">
                                <ul style="width:100%;float:left;padding-left:0;">
                                    <li class="smli">
                                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                        Fund&nbsp;Receive&nbsp;From&nbsp;Master&nbsp;History
                                    </li>
                                </ul>
                            </div>

                            <div class="receivefund-master-right">
                                <div class="col-md-3 received-fund-master">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="all-report-inputclass all-report-inputclass-left">
                                                <div class="custom-date-icon" style="height: 32px;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;", autocomplete = "off" })
                                            </div>
                                            <div class="all-report-inputclass all-report-inputclass-right">
                                                <div class="custom-date-icon" style="height: 32px;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;", autocomplete = "off" })
                                            </div>

                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2 receivefund-searchclass">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style="">
                                            <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                            <span style="top:-1px;color:#555;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
                <div class="card all-reporttable-css receivfund-tabledata full-dealer-secondanimation">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive" style="position:inherit;margin-top:0;">
                            <table id="" class="table table-bordered third-design-table" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Master&nbsp;Info</th>
                                        <th>Total&nbsp;Transfer</th>
                                        <th>Type</th>
                                        <th>Remain&nbsp;Pre</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Current&nbsp;Credit</th>
                                        <th>Old&nbsp;Credit</th>
                                        <th>Net&nbsp;Amt</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="background:no-repeat;">
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Click to All information">
                                                            @item.Email
                                                        </button>
                                                        <ul class="dropdown-menu ppp">
                                                            <li>
                                                                <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                    @item.SuperstokistName
                                                                    <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Name</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                    @item.FarmName
                                                                    <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Frim Name</p>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                    @item.comment
                                                                    <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Comment</p>
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </div>

                                            </td>
                                            <td><p style="margin-top:6px;">@item.Newbalance</p></td>

                                            <td><p style="margin-top:6px;">@item.bal_type</p></td>
                                            <td><p style="margin-top:6px;">@item.dealer_prebal</p></td>
                                            <td><p style="margin-top:6px;">@item.dealer_postbal</p></td>
                                            <td><p style="margin-top:6px;">@item.cr</p></td>
                                            <td><p style="margin-top:6px;">@item.Oldcreditbalance</p></td>
                                            <td><p style="margin-top:6px;">@item.balance</p></td>
                                            <td><p style="margin-top:6px;">@item.date_dlm</p></td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td>Total</td>
                                        <td>@Model.Sum(m => m.balance)</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.dealer_prebal)</td>
                                        <td>@Model.Sum(m => m.dealer_postbal)</td>
                                        <td>@Model.Sum(m => m.cr)</td>
                                        <td>@Model.Sum(m => m.Oldcreditbalance)</td>
                                        <td>@Model.Sum(m => m.Newbalance)</td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>
