@model Vastwebmulti.Areas.RETAILER.Models.remmulti
@{
    ViewBag.Title = "Recharge_Report";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {padding: 8px 4px 6px 4px;}

    .table.dataTable tbody th, table.dataTable tbody td {padding: 8px 4px 6px 4px;}

    .dropdown-menu {margin-top: 81px !important;}
    body .datepicker-dropdown.datepicker{margin-top:75px !important;}

    .dataTables_wrapper .dt-buttons a.dt-button {padding: 7px 10px 8px 8px;}

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {height: 20px;}

    .select2-container--default .select2-selection--single {border: 1px solid #eee !important;border-radius: 0px !important;height: 32px !important;margin-top: 2px;}
    .recharge-report-dealer{padding:0;}

    .white-success-dealer {
        position: absolute;
        top: inherit;
        bottom: -35px;
        right: 15px;
        width: auto;
        z-index:99;
    }

    @@media screen and (max-width:1300px){
        .col-md-1.allretailer-report-four button span {text-transform: capitalize !important;}
        .recharge-reportdateclass {width: 27%;}
        .classrecharge-report .recharge-reportdateclass .custom-date-icon {width: 25px;}
    }

    @@media screen and (max-width:990px){
      .allretailer-report, .allretailer-report-first, .allretailer-report-second {width: 25% !important;float: left !important;}
      .col-md-1.allretailer-report-three {float: left;width: 16%;}
      .recharge-reportdateclass {width:31%;}
      .col-md-1.allretailer-report-four {float: left;width: 10%;padding-right: 0 !important;}
      .col-md-2.recharge-report-dealer {float: right;width: auto;}
      .classrecharge-report .form-group {margin-bottom: 10px;}

    }
    @@media screen and (max-width:768px){
        .recharge-reportdateclass .custom-date-icon {display: none;}
        .recharge-reportdateclass input {text-align: center !important;font-size: 12px;}
        .classrecharge-report .table-responsive{position:relative !important;z-index:9;}
        .white-success-dealer{bottom:-50px;}
    }
    @@media screen and (max-width:520px){
        .col-md-1.allretailer-report-three {float: left;width: 25%;}
        .recharge-reportdateclass {width: 57%;}
        .col-md-2.recharge-report-dealer {margin-bottom: 15px;position: relative;left: -16px;}
        .classrecharge-report .table-responsive table tr th:first-child {padding-right: 175px;}
    }
    @@media screen and (max-width:420px){
        .col-md-1.allretailer-report-four button span {margin: 0;font-size: 0;}
        .classrecharge-report .select2 span {font-size: 12px;padding-left: 2px !important;float: left;width: 100%;}
        .allretailer-report, .allretailer-report-first, .allretailer-report-second {padding-right: 1px !important;}
        .col-md-1.allretailer-report-three input {font-size: 12px;}
        .col-md-1.allretailer-report-three {padding-right: 3px !important;}
        .all-report-inputclass.all-report-inputclass-left {padding-right: 1px;}
        .all-report-inputclass.all-report-inputclass-right {padding-left: 2px;}
        .recharge-reportdateclass {width: 62%;}
        .classrecharge-report .responshive-rechargereport{padding-right:0;}
    }


</style>
<section class="content classrecharge-report">
    <div class="container-fluid full-dealer-secondanimation">
            
        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Recharge_Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Recharge Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responshive-rechargereport">
                <div class="" style="width:100%;float:left;">
                    <div class="">
                        <div class="col-md-10 report-divsate" style="padding-left: 0;">
                            <div style="margin-top: 2px;">
                                @using (Html.BeginForm("Recharge_Report", "Home", FormMethod.Post))
                                {
                                    <div class="">
                                        <div class="col-md-2 only-select-css allretailer-report" style="padding:0px;padding-right:5px;">
                                            <div class="">
                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "Select User", new { id = "allretailer", @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;" })

                                            </div>
                                        </div>
                                        <div class="col-md-1 only-select-css allretailer-report-first" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @*@Html.DropDownList("Operator_Type", ViewBag.Operator_Type as SelectList, "ALL OPERATORS Type", new { id = "Operator_Type", @class = "selectpicker form-control", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;", @onchange = "answers1()" })*@
                                                    @Html.DropDownList("Operator_Type", new List<SelectListItem>
                                                                     {
                                                       new SelectListItem{Text="All Category",Value="Broadband"},
                                                                   new SelectListItem{Text="Broad Band Bill",Value="Broadband"},
                                                                  new SelectListItem{Text="DTH Recharge",Value="DTH"},
                                                                  new SelectListItem{Text="Electricity Bill",Value="Electricity"},
                                                                      new SelectListItem{Text="Insurance",Value="Insurance"},
                                                                  new SelectListItem{Text="Loan Payment",Value="Loan"},
                                                                       new SelectListItem{Text="Gas Bill",Value="Gas"},
                                                                  new SelectListItem{Text="Landline Bill",Value="Landline"},
                                                                            new SelectListItem{Text="PostPaid Bill",Value="PostPaid"},
                                                                  new SelectListItem{Text="PrePaid Recharge",Value="PrePaid"},
                                                                  new SelectListItem{Text="Water",Value="Water"},
                                                                 }, new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;", @onchange = "answers1()" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 only-select-css allretailer-report" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 only-select-css allretailer-report-second" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="Status",Value="ALL",},
                                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                    new SelectListItem{Text="Pending",Value="PENDING"},
                                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                                    }, new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 allretailer-report-three" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="">
                                                    <input type="text" id="txtmob" name="txtmob" class="form-control" placeholder="Mobile" style="height:32px;border:1px solid #dddddd;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 recharge-reportdateclass" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="input-daterange input-group">
                                                    <div class="all-report-inputclass all-report-inputclass-left">
                                                        <div class="custom-date-icon" style="height: 32px;">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                    </div>
                                                    @*<span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>*@
                                                    <div class="all-report-inputclass all-report-inputclass-right">
                                                        <div class="custom-date-icon" style="height: 32px;">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 allretailer-report-four" style="padding:0px;padding-right:5px;">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                                    <center>
                                                        <button value="OLD" type="submit" class="btn" id="btntype" name="btntype" style="  height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                            <span style="top:-1px;color:black;text-transform:uppercase;">Search</span>
                                                        </button>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2 recharge-report-dealer">
                            <div class="form-group" style="margin-top:-19px;">
                                <div style="padding-top: 22px; float:right">
                                    <button class="white-success-button" style="height:32px;border:1px solid #b1a6a638;background:#b1a6a638;float: right;padding: 0px 4px;margin-top:-1px;" onclick="findtotal()">Total</button>
                                    <div class="web-white-filter fil" style="float: left;margin-right: 5px;margin-top:-1px;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="white-success white-success-dealer" style="display:none;">
                    <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:6px 9px;color: white;font-weight: 600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                    <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:6px 9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                    <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:6px 9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size: 15px; top: 1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card all-reporttable-css">
                    <div>
                        <div class="table-responsive tableseconddes-dealer" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  text-nowrap example-second third-design-table" cellspacing="0" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>

                                        <th>Status</th>
                                        <th>Recharge&nbsp;No</th>
                                        <th>Amount</th>
                                        <th>Operator</th>
                                        <th>Opt&nbsp;Type</th>
                                        <th>MY&nbsp;Income</th>
                                        <th>User&nbsp;Income</th>
                                        <th>Operator&nbsp;ID</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin">
                                    @{
                                        Html.RenderAction("_Recharge_Report", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- model for table -->

<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />



<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        //answers();
    });
</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("rem").style.display = "none";
            //document.getElementById("allretailer").selectedIndex = "0";

        }
        else if (answer == "Retailer") {
            document.getElementById("rem").style.display = "block";
        }
    }
</script>
<script>
    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>
<script type="text/javascript">
    function answers1()
    {
        var Operator_Type = $('#Operator_Type').val();
        if (Operator_Type === "") {
            Operator_Type = 0;
            //alert(stid)
        }
        else {
            //alert(stid)
            GetOperator(Operator_Type)
        }
    }

    function GetOperator(Operator_Type) {

                                var url = '@Url.Action("Getopt", "Home")'
                                $.ajax({
                                    url: url,
                                    data: { Id: Operator_Type },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value='ALL'>Select Operator</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        $("#Operator").html(markup).show();
                                    },
                                    error: function (reponse) {
                                        alert("error : " + reponse);
                                    }
                                });
                            }
</script>
<script>
    $('#Operator').select2();
    $('#Operator_Type').select2();
</script>
<script>
    function findtotal() {
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("TotalRecharge_Report", "Home")",
                 { "ddlusers": ddlusers, "Operator": Operator, "ddl_status": ddl_status, "txtmob": txtmob, "allretailer": allretailer, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                 function (data) {
                     $('#successtotal').text("₹ " + data.success);
                     $('#Failedtotal').text("₹ " + data.failed);
                     $('#Pendingtotal').text("₹ " + data.pending);
                 });
    }
</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("ExcelRechargereport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&Operator=' + Operator + '&ddl_status=' + ddl_status + '&txtmob=' + txtmob + '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var url = '@Url.Action("PDFRecharge_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&Operator=' + Operator + '&ddl_status=' + ddl_status + '&txtmob=' + txtmob + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>
<script>
    var ddlusers = $('#ddlusers').val();
    var Operator = $('#Operator').val();
    var ddl_status = $('#ddl_status').val();
    var txtmob = $('#txtmob').val();
    var allretailer = $('#allretailer').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
        if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScrollRechargeReport", "Home")",
                    { "pageindex": pageindex, txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val(), "ddlusers": ddlusers, "Operator": Operator, "ddl_status": ddl_status, "txtmob": txtmob, "allretailer": allretailer},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.sidebar-dealer-responshive ul li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>


