@model IEnumerable<Vastwebmulti.Models.Selling_Recharge_info>
@{
    ViewBag.Title = "sellRechargeReport";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    select#ddl_status {
        height: 30px;
    }
    select#Operator {
        height: 30px;
    }

    .custom-date-icon {
        position: absolute;
        left: 0px;
        z-index: 9;
        top: 0px !important;
        background: transparent;
        height: 32px;
        width: 32px;
        border: 1px solid #bbb;
    }

        .custom-date-icon i {
            top: 8px !important;
            position: absolute;
            /* left: 7px; */
            background-color: #fff;
        }
    .toast-top-right1 {
        top: 78px;
        left: 81%;
    }

    .datepicker-orient-bottom {
        top: 173px !important;
    }

        .datepicker-orient-bottom.datepickerrecharge {
            top: 147px !important;
        }

    .recharge-report-rtailer th {
        border-bottom: 0px !important;
    }

    .table-responsive table tr, .table-responsive table, .table-responsive table tr td, .table-responsive table tr th {
        border-color: #aaa4a4 !important;
    }

    .noexel-newclass img {
        border-radius: 50% !important;
    }

    .datepicker.datepicker-dropdown.dropdown-menu.datepickerrecharge.datepicker-orient-left.datepicker-orient-bottom {
        margin-top: -21px !important;
    }

    @@media screen and (max-width:766px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 151px !important;
        }
    }

    @@media screen and (max-width:580px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 194px !important;
        }
    }
    .col-md-2.only-select-css.allretailer-report {
        border: 1px solid #c9c6c6;
    }
    .col-md-3.only-select-css.allretailer-report {
        border: 1px solid #c9c6c6;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<section class="content classrecharge-report" style="">
    <div class="container-fluid retailer-page fundtranfer rechargefirstclass fundtranfer-responshive" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Prepaid & Utility</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Prepaid & Utility</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responshive-rechargereport">
                <div class="" style="width: 100%; float: left;">
                    <div class="col-md-10 report-divsate"style="padding-left: 0;">

                        @using (Ajax.BeginForm("sellRechargeReport", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp11" }))
                        {
                            <div class="">
                                <div class="col-md-2 only-select-css allretailer-report"style="padding:0px;padding-right:5px;">
                                    <div class="form-group">
                                        <div class="" style="">
                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="ALL Status",Value="",},
                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                    new SelectListItem{Text="Pending",Value="PENDING"},
                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                    }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 only-select-css allretailer-report">
                                    <div class="form-group">
                                        <div class="" style="">
                                            @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-2 rechargefiveclass">
                    <div class="form-group">
                        <div class="" style="border: 1px solid #ccc;">
                            @Html.TextBox("txtmob", "", new { @class = "form-control", @placeholder = "Consumer Number", @style = "height:30px;" })
                        </div>
                    </div>
                </div>*@
                            <div class="col-md-4 recharge-reportdateclass" style="padding:0px;padding-right:5px;">
                                <div class="form-group">
                                    <div class="input-daterange input-group">
                                        <div class="all-report-inputclass all-report-inputclass-left focused">
                                            <div class="custom-date-icon" style="height: 32px;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            @*<input autocomplete="off" class="form-control" id="txt_frm_date" name="txt_frm_date" required="required" style="border:1px solid #dddddd;height:32px;" type="text" value="">
                                       *@ </div>

                                        <div class="all-report-inputclass all-report-inputclass-right">
                                            <div class="custom-date-icon" style="height: 32px;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            @*<input autocomplete="off" class="form-control" id="txt_to_date" name="txt_to_date" required="required" style="border:1px solid #dddddd;height:32px;" type="text" value="">
                                       *@ </div>

                                    </div>
                                </div>
                            </div>



                                <!--<div class="col-md-4 recharge-reportdateclass">
                                    <div class="form-group" style="margin-bottom:0px;margin-top:1px;">
                                        <div class="input-daterange input-group">
                                            <div class="datesate datesates focused">
                                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            </div>
                                            <span class="input-group-addon" style="display:none;">
                                                <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                            </span>
                                            <div class="datesate datesatese">
                                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>-->
                                        <!-- /.input group -->
                                    <!--</div>
                                </div>-->
                                <div class="col-md-2 rechargefive">
                                    <div class="form-group">
                                        <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                            <center>
                                                <button value="LIVE" type="submit" class="btn" id="btntype" name="btntype" style="margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">Search</span>
                                                </button>

                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 rechargepdfexal">
            <div class="spanpdfbuttob-secondreta" style="float:right;">
                <span><img src="~/ashok-images/pdf.png" /><input type="button" id="btnPDF" value="PDF" style="margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;color:#555;" /></span>
                <span>
                    <img src="~/ashok-images/xls.png" /><input type="button" id="btnExport" value="Export" style="margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;color:#555;" />
                </span>

                <button onclick="findtotal()" class="btn" id="pdfblock" style=" margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                    <span class="displaypdf" style="top:-1px;color:#555 !important;">TOTAL</span>
                    <strong class="pdfblocks" style="display:none;float:right;"><span id="successtotal" style="color:#555 !important;"></span><span id="Failedtotal" style="color:#555 !important;"></span><span id="Pendingtotal" style="color:#555 !important;"></span></strong>
                </button>
            </div>

        </div>*@

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="display:none;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <span>SUCCESS : </span>


                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <span>FAILED : </span>


                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <span>PENDING : </span>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card class-back-tra-fourdesign">
                    <div class="body change-iconrech-report change-iconrech-responshive" style="padding:12px;padding-left: 0;padding-right: 0;padding-top: 15px;">
                        <div class="table-responsive recharge-responsive retailer-table-seconddesign tablethirddesign-new" style="position:inherit;margin-top:-10px;">
                            <table id="tbldata" class="table table-bordered table-striped table-hover dataTable example-second retailer-whitespa-second third-design-table" cellspacing="0" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr class="recharge-report-rtailer">

                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Consumer</th>
                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Operator&nbsp;Name</th>


                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Opt&nbsp;Type</th>*@

                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Net&nbsp;Amt</th>

                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Earn</th>

                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain Pre</th>
                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain Pos</th>
                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Type</th>*@

                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Operator&nbsp;ID</th>*@

                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Request&nbsp;Date</th>
                                        <th style="padding-left:2px; padding-right:2px;text-align:center;">Resp&nbsp;Date</th>

                                    </tr>

                                </thead>
                                <tbody id="divEmp11">
                                    @Html.Partial("_sellRechargeReport", Model);
                                </tbody>

                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <div class="loadertablecssnew">Loading...</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Dispute Reason Model-->
<!-- Jquery Core Js -->

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>

<script>
    function confirm(e) {
        $('#disp-'+e).hide();
        $('#confirm-'+e).show();
        $('#close-'+e).show();
    }
    function cancel(e) {
          $('#disp-'+e).show();
        $('#confirm-'+e).hide();
        $('#close-'+e).hide();
    }
    function disputedata(e) {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
        var txtmob = $('#txtmob').val();
        let descript = prompt('Enter Description');
        if (descript!= null) {
             $.post("@Url.Action("dispute","Home")",
                 { "id": e, "txtregion": descript },
                 function (data) {
                     ToastrMessage();
                     toastr.info(data);
                     $.post("@Url.Action("InfiniteScroll","Home")",
             { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob },
                    function (data) {
                        $("#trow").html(data.HTMLString);
                    });
           });
        }
    }
</script>

<script>
    $('select').select2();
</script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();
    var Operator = $('#Operator').val();
    var txtmob = $('#txtmob').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll","Home")",
             { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script type="text/javascript">
    function GotoPDFRecharge(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("RechargePDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

<!--Dispute Id-->
<!--<script>
    function findtotal() {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
         var txtmob = $('#txtmob').val();
             $.post("@Url.Action("FindTotal","Home")",
             {"txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob},
                 function (data) {
                     $('#successtotal').text(data.success);
                     $('#Failedtotal').text(data.failed);
                       $('#Pendingtotal').text(data.pending);
                    });
    }
</script>-->
<!--Genertae Invoice-->
@*<script type="text/javascript">
        function GenrateInvoice(ultra_request_id, RechargeTo, OptName, amt, OptID, Date) {
           var url = '@Url.Action("GotoInvoicePDF1", "Home")?Id=' + ultra_request_id + '&RechargeTo=' + RechargeTo + '&OptName=' + OptName + '&amt=' + amt + '&OptID=' + OptID + '&Date=' + Date + '';
                window.open(url, '_blank');
         }
    </script>
    <script>
        $("#btnExport").click(function(){
       var txt_frm_date = $('#txt_frm_date').val();
             var txt_to_date = $('#txt_to_date').val();
             var ddl_status = $('#ddl_status').val();
             var Operator = $('#Operator').val();
            var txtmob = $('#txtmob').val();
            var url = '@Url.Action("ExcelRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob;
            location.href = url;
    });
    </script>
    <script>
        $("#btnPDF").click(function () {
         var txt_frm_date = $('#txt_frm_date').val();
             var txt_to_date = $('#txt_to_date').val();
             var ddl_status = $('#ddl_status').val();
             var Operator = $('#Operator').val();
            var txtmob = $('#txtmob').val();
            var url = '@Url.Action("PDFRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob;
            window.open(
    url,
      '_blank' // <- This is what makes it open in a new window.
    );
        });
    </script>
    <script>
        $(document).ready(function () {
            var current = location.pathname;
            $('.report-list-change li a').each(function () {
                var $this = $(this);
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('active');


                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#pdfblock").click(function () {
                $(".pdfblocks").css("display", "block");

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".rechargefirst span.select2-selection").click(function () {
                $(".select2-dropdown").addClass('selectcutomere');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".rechargesecond span.select2-selection").click(function () {
                $(".select2-dropdown").addClass('selectcutomeress');
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".rechargethrees input").click(function () {
                $(".datepicker").addClass('datepickerrecharge');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".fundtranfer-responshive .rechargefirst .select2").click(function () {
                $(".select2-dropdown.select2-dropdown--below.selectcutomere").addClass('parepaidstatus');

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".fundtranfer-responshive .col-md-3.rechargesecond .select2").click(function () {
                $(".select2-dropdown.select2-dropdown--below.selectcutomeress").addClass('parepaidstatussecond');

            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.second-design .example-second').DataTable({


                paging: false
            });
        });

    </script>*@