@model Vastwebmulti.Areas.ADMIN.Models.TDSReportModel
@{
    ViewBag.Title = "TDSReport";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .tdsreportclass-first .dt-buttons, .tdsreportclass-first .dataTables_filter ,.tdsreportclass-first .dataTables_info ,.tdsreportclass-first .dataTables_paginate.paging_simple_numbers{display:none;}
    .tdsmonth-button button {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
    .tds-topclassheader .card {
    margin-bottom: 0;
}
    .tds-topclassheader .card ul.slab-setting-menu li a:hover {
    background: var(--main-bg-lcolor);
    color: #fff !important;
    border-color: var(--main-bg-lcolor) !important;
}
    .tdsreportclass-first table tr th ,.tdsreportclass-first table tfoot tr td{
    border-bottom: 0;
        
}
    .tdsreportclass-first .table-responsive {
    overflow: inherit;
}
    .tdsreportclass-first table tfoot tr td {
    padding: 10px 5px;
}
    @@media screen and (max-width:766px){
        .tdsreportclass-first table {
    border: 0;
        
    margin: 0 !important;
}
        .tdsreportclass-first .table-responsive {
    margin-top: 10px !important;
}
        .tdsmonth-button .col-xs-4 {
    width: 20%;
    padding-left: 0;
    float: right;
}
        .tdsreportclass-first .table-responsive {
    overflow: auto;
}
    }
    @@media screen and (max-width:520px){
        .col-md-4.tdsmonth-button {
            width: 100%;
            float: left;
        }
        .tdsmonth-button .col-xs-4 {
    width: 33%;
    float: left;
}
        .col-md-4.tdsmonth-button .row {
    margin-left: 0;
}
    }

</style>
<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tds-topclassheader" style=" margin-top: 0px; ">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                     
                          @Html.Partial("Moneytransferreportpartialview")
                     
                        </div>
                        <div class="col-md-4 tdsmonth-button">
                            @using (Html.BeginForm("TDSReport", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.CurrentMonthName'>
                                                <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                                <span style="top:-2px;color:#555;">@ViewBag.CurrentMonthName</span>
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth1'>
                                                <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                                <span style="top:-2px;color:#555;">@ViewBag.OldMonth1</span>
                                            </button>
                                        </center>
                                    </div>
                                    <div class="col-xs-4">
                                        <center>
                                            <button id="submit" type="submit" class="btn  waves-effect" style="height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth2'>
                                                <i class="fa fa-search" style="top:-1px;font-size:14px;color:#555;"></i>
                                                <span style="top:-2px;color:#555;">@ViewBag.OldMonth2</span>
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tdsreportclass-first" style="margin-top:0;">
                <div class="card">
                    
                    <div class="body all-reporttable-css" style="padding:0px;">
                        <div class="table-responsive" style="position:inherit;margin-top:0;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:14px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR.No</th>
                                        <th>Role</th>
                                        <th>FarmName</th>
                                        <th>Name</th>
                                        <th>DMT&nbsp;TDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                    }
                                    @if (Model.TDSDealer != null)
                                    {
                                        foreach (var item in Model.TDSDealer)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Role</td>
                                                <td>@item.FarmName</td>
                                                <td>@item.Name</td>
                                                <td>@item.TDS</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    @if (Model.TDSDealer != null)
                                    {
                                        <tr>
                                            <td style="font-size:18px;">Total</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="font-size:18px;">@Model.TDSDealer.Sum(a => a.TDS)</td>
                                        </tr>
                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />





