@model IEnumerable<Vastwebmulti.Models.RetailerCreationTokensAssignHistory>
@{
    ViewBag.Title = "Joining Tokens";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {margin-top: 81px !important;}
    .tokenpurchase-history .bread-same-all-page {
    float: left;
}
    .tokenpurchase-history .bread-same-all-page ul{float:left;padding-top: 9px;margin: 0;}
    .tokenpurchase-history .card.tokenhistory-table .body {padding-left: 0;padding-right: 0;padding-top:10px;}
    .tokenpurchase-history .card.tokenhistory-table .body .table-responsive .dt-buttons ,.tokenpurchase-history .card.tokenhistory-table .body .table-responsive .dataTables_filter{display: none;}
    .tokenpurchase-history .card.tokenhistory-table .body .table-responsive .dataTables_info {
    display: none;
}
    .tokenpurchase-history .card.tokenhistory-table .body .table-responsive .dataTables_paginate.paging_simple_numbers{display:none;}
    .tokenhistory-table .table-responsive {overflow: inherit;}
    .tokenhistory-table .table-responsive table thead tr th {border-bottom: 0;}
    .tokenpurchase-history .tokenpdfbutoon{width:auto;}

    @@media screen and (max-width:1366px){
        

    }
    @@media screen and (max-width:766px){
        .tokenpurchase-history .table-responsive{border:0;}
        .tokenpurchase-history .table-responsive table tr td {white-space: nowrap;}
        .tokenpurchase-history .table-responsive{overflow:auto;padding-bottom:15px;}
    }
    @@media screen and (max-width:420px){
        .tokenpurchase-history .table-responsive table {
            border-right: 0;
        }

            .tokenpurchase-history .table-responsive table tr td ul.dtr-details {
                width: 100%;
            }
        .tokenpurchase-history .table-responsive table tr td.child {border-right: 1px solid #aaa4a4;}
        .tokenpurchase-history .table-responsive table tr td ul.dtr-details li {border-bottom: 1px solid #aaa4a4 !important;}

    }

</style>
<section class="content tokenpurchase-history">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Token Purchase History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Token Purchase History</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="tokenpurchase-dashboard">
            <div class="bread-same-all-page dealer-none-fourclass">
                <ul style="padding-left:0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px; ">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Token&nbsp;Purchase&nbsp;History
                    </li>
                </ul>
            </div>
            <div class="col-md-2 tokenpdfbutoon" style="padding:0;float:right;">
                <div class="form-group" style="margin-top:-19px;">
                    <div style="padding-top: 22px; float:right">
                        <button class="white-success-button" style="height:32px;border:1px solid #b1a6a638;background:#b1a6a638;float: right;padding: 0px 4px;margin-top:-1px;" onclick="findtotal()">Total</button>
                        <div class="web-white-filter fil" style="float: left;margin-right: 5px;margin-top:-1px;">
                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;">

                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card all-reporttable-css tokenhistory-table" style="margin-top:0;">

                    <div class="body">
                        <div class="table-responsive" style="position:relative;margin-top:;">
                            <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR.No</th>
                                        @*<th>Dealer</th>*@
                                        <th>Tokens</th>
                                        <th>Remain&nbsp;Pre</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Date</th>
                                        @*<th>Free&nbsp;By&nbsp;Dealer</th>*@
                                        @*<th>#</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            @*<td>@Html.DisplayFor(modelItem => item.Email)</td>*@
                                            <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RemainTokenPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RemainTokenPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    window.onload = function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }
    }
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            sweetAlert("Oops...", data, "error");
        }
    })
</script>



