@model IEnumerable<Vastwebmulti.Models.Dealer_upload_gst>
@{
    ViewBag.Title = "uploadgst";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}


<style>
    section.content {
        margin: 87px 0px 0 164px;
    }

    span {
        color: #fff !important;
    }

    .second-design .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .inputpdfbu-retailer-second button {
        border-color: #555 !important;
    }

    .for-search input {
        box-shadow: none !important;
        outline: none !important;
        border-radius: 0;
        border: 1px solid #aaa4a4;
    }

    .form-control:focus {
        border-color: #ccc;
    }

    .datepicker table tr td span {
        color: #555 !important;
    }

        .datepicker table tr td span.active {
            color: #fff !important;
        }

    .trypurchasecewq-newadd select {
        padding-left: 1px;
    }

    @@media screen and (max-width:766px) {
        .fund-tr-history .modal-dialog {
            width: 100% !important;
        }
    }

    @@media screen and (max-width:480px) {
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq.trypurchasecewq-newadd {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }

    @@media screen and (max-width:420px) {
        #leftsidebar.sidebar.retailer-header-left, .second-design #leftsidebar.retailer-header-left.header-left-newresponshive.newresponshive-secondde {
            margin-top: -88px !important;
        }
    }
</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->
        <div class="page-title-box-fourde">
            <h3>Dealer Upload History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Wallet History</a></li>
            </ul>
        </div>
        <!--Four-Design-Page-Header-End-->
        <div class="bread-same-all-page wallethistory-newadd wallethistory-responshive wallethistory-newadd-four">
            <ul>
                <li class="smli four-design-noneclass">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one four-design-noneclass">
                     Upload GST
                </li>
                <li>
                    @using (Html.BeginForm("uploadgst", "Home", FormMethod.Post))
                    {
                        <div class="row fund-t-dalear fund-t-dalear-erfrdfgdf">
                            <div class="col-md-3 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                @Html.DropDownList("Month", ViewBag.month as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="col-md-3 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                @Html.DropDownList("Year", ViewBag.year as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="col-md-2 apiclass-satenew" style="padding:0px;">
                                <input type="hidden" id="tabtype" name="tabtype" value="FundTranferAllReport" />
                                <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding:0px 15px;float:left;height:30px;margin-top:2px;cursor:pointer; " data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                </button>
                            </div>
                            <div class="col-md-3 apiclass-satenew">
                                @Html.TextBox("upload", "", new { type = "file", accept = "application/pdf" })
                                <label style="color:red;">Accept Only pdf File</label>
                                @*<button type="submit" name="Uploadgst" class="btnssl22" style="padding:0px 15px;float:left;height:30px;margin-top:2px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-upload" style="top:-1px;font-size:13px;color:black;"></i>Upload
                                    </button>*@
                            </div>
                            <div class="col-md-1 apiclass-satenew">
                                <button id="btnupload" type="button" name="Uploadgst" class="btnssl22" style="padding: 0px 15px; float: left; height: 30px; margin-top: 2px; cursor: pointer;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-upload" style="top:-1px;font-size:13px;color:black;"></i>
                                </button>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
    @Html.Partial("_menu_invoice")
    <div class=" col-md-12" style="width:100%;float:left;">
        <div class="row clearfix">
            <div class=" col-md-12 padding-both-none-four">
                <div class="wallet-history" style="padding:0;">
                    <div class="table-responsive">
                        <div id="tblshowMasterD" class="table-responsive tblshowMasterclassadd tablethirddesign-newnew" style="width:100%;overflow:auto;">
                            <table class="table table-bordered table-striped table-hover third-design-table table-white-third">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Status</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.monthchk</td>
                                            <td>@item.yearchk</td>
                                            <td>@item.status</td>
                                            <td>
                                                <i class="fa fa-file-pdf-o fa-2x" style="color:red;cursor:pointer;" onclick="show('@item.uploadfile')"></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------orderrecive-->
</section>
<!---------Purchase request send-->
<div class="modal fund-tr-history  in purchase-model purchase-model-newadd model-responshive-full" id="m-d-fund-transfer12" tabindex="-1" role="dialog" style="margin-top: 77px;width:auto;">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;height:auto;width:auto;">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left ecomm-pop-head">
                <h5 id="mdhis">Dealer Upload GST</h5>
                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left ecomm-pop-body">
                <div class="float-left width100">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <iframe id="ifrmgst" src="#" style="width:1000px;height:1000px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!--=============-->
                </div><!--.modal-body-->
            </div>

        </div>
    </div>
</div>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
    $(function () {
        var month = '@ViewBag.chkmonth';
        $('#Month').val(month);
    });
</script>
<script>
    $('#btnupload').click(function () {
        var fileUpload = $("#upload").get(0);
        var files = fileUpload.files;
        var month = $('#Month').val();
        var year = $('#Year').val();
        // Create FormData object
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        fileData.append("month", month);
        fileData.append("year", year);
        $.ajax({
            url: "@Url.Action("uploadgstfile", "Home")",
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data:  fileData ,// '{files:' + fileData + ',Month:' + month + ',Year:' + year+'}',
            //data: '{"fileData":"+fileData"}' ,
            success: function (result) {
                location.reload();
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    });
</script>
<script>
    function show(str) {
        $('#m-d-fund-transfer12').modal('toggle');
        $('#ifrmgst').attr("src", "../../"+str)
    }
</script>

