@model IEnumerable<Vastwebmulti.Models.Login_info>
@{
    ViewBag.Title = "WebLogin";
    Layout = "~/Areas/DEALER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {margin-top: 75px !important;}
     .slab-setting-menu li a.activee {background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;}
     .dropdown-menu tr td.active::before{display:none;}

     @@media screen and (max-width:768px){
         .webloginclass-responsive .table-responsive{z-index:9;position:relative !important;}
         .content.webloginclass-responsive .table-responsive {padding-bottom: 15px;}
     }

     @@media screen and (max-width:420px){
        .weblogin-dealerclass {padding: 0 15px !important;}
        .recharge-report-dealer input {font-size: 10px;}
        .weblogin-dealerclass .col-md-10 {width: 80% !important;}
        .weblogin-dealerclass .col-md-2 {width: 20% !important;}
        .weblogin-dealerclass .col-md-2 button {padding-left: 0px;padding-right: 0;}
        .webloginclass-responsive .col-md-6.weblogin-webfaild ul li a {font-size:11px;}
     }

</style>
<section class="content webloginclass-responsive">
    <div class="container-fluid full-dealer-secondanimation">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Login Info</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account Active&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Web Login</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6 weblogin-webfaild" style="width:auto;float:left;">

                            @Html.Partial("_webpartial")
                        </div>
                        <div class="col-md-2 recharge-report-dealer" style="width:auto;float:right;padding-left:5px;">
                            <div class="form-group" style="margin-bottom:0px;width:100%;float:left;">
                                <div style="padding-top:0px;float:right">
                                    @*<button class="white-success-button" style="height:32px;border:1px solid #b1a6a638;background:#b1a6a638;float: right;padding: 0px 4px;margin-top:-1px;" onclick="findtotal()">Total</button>*@
                                    <div class="web-white-filter fil" style="float: left;margin-right: 0px;margin-top:0px;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 weblogin-dealerclass" style="float:right;padding:0px;width:auto;">
                            @using (Html.BeginForm("WebLogin", "Home", FormMethod.Post))
                            {
                                <div class="row" style="margin:0px">

                                    <div class="col-md-10" style="padding:0px;">
                                        <div class="form-group for-web-date" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="all-report-inputclass all-report-inputclass-left">
                                                    <div class="custom-date-icon" style="height: 32px;">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="custom-date-icon" style="height: 32px;">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                                </div>
                                                @*<span class="input-group-addon">
                                                    <i class="fa fa-exchange"></i>
                                                </span>*@
                                                <div class="all-report-inputclass all-report-inputclass-right">
                                                    <div class="custom-date-icon" style="height: 32px;">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                                </div>

                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding:0px 5px;padding-right:0px;">
                                        <center>
                                            <button type="submit" class="btn  waves-effect" style="height:32px;width:100%;">

                                                <span style="color:black;">Search</span>
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-2 pdf-totalbuttonclass">

                            <div class="web-white-filter" style="float:right;">
                                <table class="dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card all-reporttable-css">



                    <div class="body" style="margin-top:-10px;padding:0px;">
                        <div class="table-responsive tableseconddes-dealer" style="position:inherit;">
                            <table class="table table-bordered example-second third-design-table" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;Id</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.UserId</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>@item.CurrentLoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>


<script>
    $(function () {
        $('.second-design-dealer .example-second').DataTable({
            paging: false
        });
    });
</script>