@model Vastwebmulti.Areas.RETAILER.ViewModels.ProductVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
  string serviceerror=   Convert.ToString(ViewBag.servicefressornot);


}


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<link href="~/AdminDesign/plugins/animate-css/animate.min.css" rel="stylesheet" />
<script src="~/AdminDesign/js/pages/ui/animations.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>


<style>

    /* new css */

    .card .header .header-dropdown {
        position: relative;
        float: right;
        top: auto;
        right: auto;
        margin: 0;
    }
    .card .header {
        padding: 0;
        float: left;
        width: 100%;
    }

    .layoutt-retailer section.content {
        margin-top: 100px;
    }

    @@media only screen and (max-width:991px){

        .info-box {
            margin: 3px 0px 10px 0 !important;
        }
        #over img {
            width: 100%;
            float: left;
        }


    }


   

    
    /* new css */

</style>


<script type="text/javascript">

        $.noConflict();
        jQuery(document).ready(function ($) {
            var sts = '@TempData["Status"]';
            var msg = '@TempData["Message"]';
            if (sts != null && sts != '')
            {
                if (sts == "Success")
                {
                    $.notify(msg, {
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                        },
                        type: 'success'
                    });
                }
                else {
                    $.notify(msg, {
                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                        },
                        type: 'danger'
                    });
                }
            }


            $("#txtSearch").autocomplete({
                source:'@Url.Action("FindProductByName")',
                minLength: 1
            });
            $('#txtSearch').on('autocompleteselect', function (e, ui) {
                //alert("item " + ui.item.value + " selected");
                //$("#ProductName").val(ui.item.value);
                //$("#lstProductsSubmit").click();

            });
        });
</script>


@Html.Action("_MenuList")

<link href="~/CSS/PageCss/EcommIndex.css" rel="stylesheet" />
<!--Auto Compelete-->
<section class="content" >

    <!--Catagory List-->
    <div class="container-fluid">
        <div class="row clearfix">
            @if (serviceerror == "NOTOK")
            {
                <div id="firstECOMM" class="col-md-12" style="text-align:center;">
                    <img src="~/ashok-images/forbidden.svg" style="width:90px;display:block;margin: 0px auto;" />
                    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">ECOMMERCE Service Expired !</span>
                    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseECOMM('ECOMM')" style="color: #fff;">ECOMMERCE Purchase</button>
                    <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href">Refresh Page</button>
                </div>
            }

            else if (serviceerror == "ALLNOTDONE")
            {
                <div id="ALLECOMM" class="col-md-12" style="text-align:center;">

                    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
                    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">ECOMMERCE Service Expired !</span>
                    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseECOMM('ALL')" style="color: #fff;">ALL Purchase</button>
                    <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href">Refresh Page</button>

                </div>
            }
            else if (serviceerror == "BOTHNOTDONE")
            {
                <div id="BOTHECOMM" class="col-md-12" style="text-align: center;">
                    <img src="~/ashok-images/forbidden.svg" style="width: 90px; display: block; margin: 0px auto; " />
                    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">ECOMMERCE Service Expired !</span>
                    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseECOMM('ALL')" style="color: #fff;">ALL Purchase</button>
                    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseECOMM('ECOMM')" style="color: #fff;">ECOMMERCE Purchase</button>
                    <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href">Refresh Page</button>

                </div>
            }




            <div id="secpurECOMM" class="col-md-12 remitter_button remitter_buttonewq" style="display:none;text-align: center;">
                <span style="margin-top:0;">Payment Details</span>
                <div class="lavbrd">
                    <label>Mode</label>
                    <label class="rightlable" id="PaymentType111"></label>
                </div>
                <div class="lavbrd">
                    <label>Amount</label>
                    <label class="rightlable" id="Price111"></label>
                </div>
                <div class="coldebuttonnew">
                    <button class="bacbuttonrrt" onClick="window.location.href=window.location.href">Back</button>
                    <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchaseECOMM()" style="color: #fff;">Pay Now</button>
                </div>
                <br />
                <label id="errmsgmicro" style="color:red;"></label>
            </div>




            @if (serviceerror == "OK")
            {

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="lstProducts">
                    @Html.Action("_productlist", "ECommerce", new { ProductName = Model.ProductName, SortBy = Model.SortBy })
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="HDServicesname" name="HDServicesname" value="" />

    <!--Catagory List END-->
</section>
@using (Ajax.BeginForm("_productlist", "ECommerce", new AjaxOptions
{
    UpdateTargetId = "lstProducts",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loadermoney",
    OnComplete = "OnComplete"
}))
{
    <input type="hidden" name="ProductName" id="ProductName" />
    <input type="hidden" name="SubCatId" id="SubCatId" />
    <input type="hidden" name="Price" id="Price" />
    <input type="hidden" name="SortBy" id="SortBy" />
    <input type="hidden" name="FilterBy" id="FilterBy" />
    <input type="submit" id="lstProductsSubmit" />
}
@Html.Partial("Loder")






<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/PageScript/Retailer/ProductList.js"></script>

<script>

 

    function PurchaseECOMM(e) {
            $('#HDServicesname').val('');
        $.ajax({
            url: '@Url.Action("ServiceCharge", "Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                
                $('#secpurECOMM').show();
                $('#PaymentType111').html(data.PaymentType);
                $('#Price111').html(data.Price);
                $('#ALLECOMM').hide();
                $('#BOTHECOMM').hide();
                $('#firstECOMM').hide();

                $('#HDServicesname').val(e);
            }
        });
    }
    function FinalPurchaseECOMM() {

         $.ajax({
            url: '@Url.Action("ServicePurchase", "Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {

                 if (data.Status == "Success") {
                     $('#HDServicesname').val('')
                     window.location.reload();
                 }
                 else {
                     $('#errmsgmicro').text(data.Message);
                 }

             },
             complete: function () {
                 $('.loader').hide();
                 $("#remainretailer").load(location.href + " #remainretailer");
             },
             error: function () {
                 $("#remainretailer").load(location.href + " #remainretailer");
                 $('.loader').hide();
             }
        });
    }
</script>