@using Vastwebmulti.Models;
@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string urllinks = @ViewBag.urllink;

    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
}

<style>
    .new-one-banner {
        background: url('../MainFrontDesign/images/sectionback-new.png')no-repeat;
        background-color: var(--main-front-bg-lcolor);
        background-size: contain;
        background-position: center;
    }

    .w-100 {
        width: 100%;
    }

    .new-one-banner {
        padding-top: 100px;
    }

    .new-one-flex-item {
        display: flex;
        align-items: center;
    }

    .new-one-banner-text h1 {
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
        position: relative;
    }

        .new-one-banner-text h1::after {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            background: var(--main-front-bg-rcolor);
        }

    * {
        font-family: 'Open Sans', sans-serif;
    }

    .new-one-text {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
    }

    .new-one-sec-link {
        text-decoration: none !important;
        color: #333;
        background: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 21px;
        text-transform: uppercase;
        padding: 25px 60px;
        font-family: 'Playfair Display', serif !important;
        letter-spacing: 5px;
        transition: all .4s linear !important;
    }

    .new-position-re {
        position: relative;
    }

    .newone-box {
        box-shadow: -30px -30px 0px -10px rgb(255,255,255, .8);
    }

    .new-one-sec-link:hover {
        color: #000;
    }

    .new-one-sec-link::after {
        content: "→";
        display: block;
        width: 20px;
        height: 5px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: -4px;
        font-size: 20px;
    }

    .new-one-sec-link {
        display: flex;
        align-items: center;
    }

    .one-section-heading::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background: var(--main-front-bg-rcolor);
        margin-top: 25px;
    }

    .one-section-heading {
        font-family: 'Playfair Display', serif !important;
        font-size: 40px;
        text-transform: capitalize;
        font-weight: 700;
        color: #333;
        margin-bottom: 25px;
    }

    .new-one-text-color {
        color: rgba(0,0,0,0.4);
        font-size: 14px;
        line-height: 25px;
    }

    .all-one-section-white {
        padding: 150px 0;
    }

    .classpadding-content1 {
        padding-right: 35px;
    }

    .classpadding-content2 {
        padding-left: 35px;
    }

    .section-one-sede-img {
        background: var(--main-front-bg-rcolor);
        position: relative;
        min-height: 510px;
    }

    .one-img-section {
        margin-top: -40px !important;
        margin-right: 40px !important;
        margin-bottom: 40px !important;
        margin-left: -40px !important;
        text-align: center;
        position: absolute;
        box-shadow: 13px 42px 45px -3px rgba(0,0,0,0.1);
    }

        .one-img-section img {
            width: 100%;
            height: 510px;
        }

    .full-content-service {
        padding-left: 25px;
    }

        .full-content-service h3::after {
            content: "?";
            width: 30px;
            height: 30px;
            background: #111;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            left: -40px;
            top: 4px;
            border-radius: 50%;
            font-weight: bold;
            color: var(--main-front-bg-lcolor);
            font-family: 'Open Sans', sans-serif;
            transition: all .4s linear;
        }

        .full-content-service h3 {
            position: relative;
            color: #111;
            font-family: 'Playfair Display', serif !important;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

    .allback-same-one {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .full-content-service .new-one-text {
        color: #333;
        font-size: 14px;
    }

    .service-one-sec .new-one-flex-item {
        margin-bottom: 50px;
        align-items: inherit;
    }

    .work-img {
        position: relative;
        min-height: 354px;
        background: var(--main-front-bg-rcolor);
        width: 93%;
        margin-bottom: 20px;
    }

        .work-img img {
            height: 350px;
            width: 100%;
            position: absolute;
            top: 0;
            margin-left: 25px;
            margin-right: -25px;
            margin-top: -25px;
            margin-bottom: 25px;
            box-shadow: 13px 42px 45px -3px rgba(0,0,0,0.1);
        }

    .work-section-one .classpadding-content2 {
        padding-right: 35px;
        padding-left: 15px;
    }

    .work-section-one .one-img-section {
        margin-top: -40px !important;
        margin-right: -40px !important;
        margin-bottom: 40px !important;
        margin-left: 40px !important;
    }

    .work-section-one .classpadding-content1 {
        padding-left: 60px;
        padding-right: 15px;
    }

    .one-card-section h3 {
        font-size: 16px;
    }

    .one-card-section .new-one-text {
        font-size: 14px;
    }

    .service-one-sec .col-md-3:hover h3::after, .service-one-sec .col-md-4:hover h3::after {
        background: #fff;
    }

    .service-one-sec h3 {
        transition: all .4s linear;
    }

    .service-one-sec .col-md-3:hover h3, .service-one-sec .col-md-4:hover h3 {
        color: #fff;
    }

    .new-one-sec-link:hover {
        background: var(--main-front-bg-lcolor);
        box-shadow: none;
        color: #fff;
    }

    .why-choose-content h4 {
        color: #111;
        font-family: 'Playfair Display', serif !important;
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-align: center;
    }

    .why-choose-content .new-one-text {
        color: #333;
        font-size: 13px;
        line-height: 25px;
    }

    .why-choose-content {
        background: var(--main-front-bg-rcolor);
        padding: 20px 8px;
    }

    .whychooseonefull * {
        transition: all .4s linear;
    }

    .oveflow-one {
        overflow: hidden;
    }

    .whychooseonefull:hover img {
        transform: scale(1.03);
    }

    .why-choose-content {
        min-height: 230px;
        width: 100%;
    }

    .whychooseonefull .oveflow-one {
        border: 10px solid #fff;
    }

    .whychooseonefull {
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    }

    .newonesection-link {
        display: inline-block;
        background: var(--main-front-bg-rcolor);
        box-shadow: -30px -30px 0px -10px var(--main-front-bg-lcolor);
        margin-top: 60px;
    }

        .newonesection-link::after {
            top: 11px;
        }

    .whychooseonefull .oveflow-one img {
        width: 100%;
    }

    .new-one-banner, .all-one-section-white {
        overflow: hidden;
    }

    @@media screen and (max-width:766px) {
        .new-one-banner {
            padding-top: 30px;
        }

        .col-md-6 {
            width: 100%;
            float: left;
        }

        .new-one-flex-item {
            display: block;
        }

        #home-onedesign .col-md-6 {
            text-align: center;
        }

            #home-onedesign .col-md-6 h1::after {
                display: none;
            }

        .new-one-sec-link {
            font-size: 15px;
            padding: 25px 50px;
        }

        .new-one-banner {
            padding-top: 30px;
            padding-bottom: 100px;
        }

        .all-one-section-white {
            padding: 30px 0;
        }

        .new-one-text {
            font-size: 12px;
            line-height: normal;
        }

        .one-section-heading {
            font-size: 30px;
            margin-bottom: 10px;
        }

            .one-section-heading::after {
                margin-top: 10px;
            }

        .classpadding-content1, .classpadding-content2 {
            padding: 0 15px !important;
        }

        .one-img-section.w-100 {
            position: static;
            margin: 0 !important;
        }

        .one-img-section img {
            width: 100%;
            height: auto;
        }

        .classpadding-content2 {
            margin-top: 20px;
        }

        .work-section-one .classpadding-content2 {
            margin-bottom: 20px;
            margin-top: 0px;
        }

        .allback-same-one {
            padding-top: 30px;
            padding-bottom: 100px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .service-one-sec .new-one-flex-item {
            margin-bottom: 0px;
        }

            .service-one-sec .new-one-flex-item .col-md-4, .service-one-sec .new-one-flex-item .col-md-3 {
                padding-bottom: 30px;
            }

        .full-content-service h3 {
            font-size: 18px;
        }

        .new-one-flex-item {
            display: block;
        }

        #why-choose-one .col-md-3 {
            padding: 0px;
        }

        .section-one-sede-img {
            min-height: inherit;
        }

        #one-Travel .work-section-one .row.new-one-flex-item .col-md-6.classpadding-content2 {
            order: 2;
            margin-top: 20px;
        }

        .one-img-section {
            box-shadow: none;
        }

        #why-choose-one .col-md-3 {
            padding-bottom: 20px;
        }

        #one-android .new-one-sec-link.newone-box.newonesection-link {
            margin-left: 20px;
        }

        .one-footer-section .container-fluid {
            padding: 0 15px !important;
        }

        .footer-link li a {
            font-size: 12px;
        }

        .footer-link li i {
            font-size: 12px;
            width: 25px;
            height: 25px;
        }

        .footer-one .footer-link li, .footer-link li {
            margin-bottom: 15px;
        }

        .footer-link-second li strong {
            font-size: 15px;
        }

        .footer-link-second li span {
            font-size: 12px;
        }

        .onefootertitle {
            font-size: 25px;
        }

        .one-footer-section ~ section .container-fluid {
            padding: 15px !important;
            text-align: center;
        }

        .new-one-banner.one-footer-section {
            padding: 30px 0;
        }

        #one-Travel .work-section-one .row.new-one-flex-item {
            display: grid;
        }

        .new-one-banner-text h1 {
            font-size: 25px;
            margin-bottom: 0;
        }

        .end-footer {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

            .end-footer ~ .new-one-text.new-one-text-color {
                width: 100%;
                text-align: center;
            }

        .new-one-banner {
            background-size: cover;
        }

        .new-one-sec-link::after {
            content: "→";
            top: -1px;
        }

        .newonesection-link::after {
            top: 7px;
        }
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600|Open+Sans:300,400,600,700,800|Roboto:300,400,500,700|Sanchez&display=swap" rel="stylesheet">
<link href="~/CSS/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/CSS/dist/css/AdminLTE.min.css" rel="stylesheet" />

<link href="~/AdminDesign/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Ckeditor/contents.css" rel="stylesheet" />
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="~/CSS/Slieder.css" rel="stylesheet" />
<link href="~/CSS/aaaaa.css" rel="stylesheet" />
<link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
<link href="~/CSS/custom-guest.css" rel="stylesheet" />
<link href="~/MainFrontDesign/wow/engine/style.css" rel="stylesheet" />
<script src="~/MainFrontDesign/wow/engine/jquery.js"></script>
<link href="~/Custom-Animation/css/animate.min.css" rel="stylesheet" />
<link href="~/MainFrontDesign/mainview/css/aos.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
@*
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/MainFrontDesign/js/vendor/jquery-1.11.2.min.js"></script>

<meta name="viewport" content="width=device-width">
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var allcolor1 = db.tblMenuColors.ToList();
    var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
    var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
    var col = "";
    var outercolor = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    if (outercolor.Count > 0)
    {
        if (outercolor.SingleOrDefault().Role == "ADMIN")
        {
            col = outercolor.Where(p => p.Role == "ADMIN").SingleOrDefault().multipaloutercolor;
        }
    }
    else
    {
        col = "";
    }
    var color = col;

    var Apk_Version = "";
    var apkversion = db.uploaded_apklink.SingleOrDefault();
    if (apkversion != null)
    {
        if (!string.IsNullOrWhiteSpace(apkversion.Apk_Version))
        {
            Apk_Version = apkversion.Apk_Version;
        }

    }

    var aboutbac = db.tblAboutUsBackgroundColorChanges.Where(p => p.Role == "ADMIN").ToList();
    var aboutbaccolor = aboutbac.Count == 0 ? "" : aboutbac.SingleOrDefault().MultipalAboutUsColor;

    var service = db.tblServiceOuterColors.Where(p => p.Role == "ADMIN").ToList();
    var servicecolor = service.Count == 0 ? "" : service.SingleOrDefault().ServiceBackGroundcolor;

    ViewBag.Services = db.tblServices.Where(p => p.Role == "ADMIN").ToList();

    ViewBag.product = db.tblProducts.ToList();

    var productcolor = db.tblProductBackColors.ToList();
    var productbackcolor = productcolor.Count == 0 ? "" : productcolor.SingleOrDefault().ProductBackColor;

    ViewBag.works = db.tblWorks.ToList();
    var workbackcolor1 = db.tblWorkbackColors.ToList();
    var workbackcolor = workbackcolor1.Count == 0 ? "" : workbackcolor1.SingleOrDefault().WorkBackColor;

    var border = db.Admin_Outer_Border.ToList();
    var bordersize = border.Count == 0 ? "" : border.SingleOrDefault().Border;

    ViewBag.card = db.tblCards.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor1 = db.tblCardBackColors.Where(p => p.Role == "ADMIN").ToList();
    var cardbackcolor = cardbackcolor1.Count == 0 ? "" : cardbackcolor1.SingleOrDefault().CardBackColor;
    ViewBag.about = db.tblAboutUsContents.Where(p => p.Role == "ADMIN").ToList();
    ViewBag.address = db.tblContects.ToList();
    var st = db.tblMenus.Where(p => p.Role == "ADMIN").ToList();
    var homests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "HOME").SingleOrDefault().Status;
    var aboutsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "ABOUT").SingleOrDefault().Status;
    var servicests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "SERVICES").SingleOrDefault().Status;
    var productsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "PRODUCTS").SingleOrDefault().Status;
    var worksts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WORKS ").SingleOrDefault().Status;
    var cardsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CARDS").SingleOrDefault().Status;
    var travelsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TRAVEL").SingleOrDefault().Status;
    var dthsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "DTHCONNECTION").SingleOrDefault().Status;
    var teamsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "TEAM").SingleOrDefault().Status;
    var contactsts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "CONTACTUS").SingleOrDefault().Status;
    var whychoosests = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "WHYCHOOSEUS").SingleOrDefault().Status;
    var newupdatasts = st.Count == 0 ? "" : st.Where(aa => aa.MenuName == "NEWUPDATE").SingleOrDefault().Status;
    var Firm_Name = db.Admin_details.FirstOrDefault().Companyname;
}

<div class="new-one-full w-100">
    <section id="home-onedesign" class="new-one-banner new-position-re">

        <div class="container">
            <div class="row new-one-flex-item">
                <div class="col-md-6">
                    <div class="w-100">
                        <img src="~/MainFrontDesign/images/newone-main-banner.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="new-one-banner-text">
                        <h1>@Firm_Name</h1>
                        <p class="new-one-text">We are big players in recharge and financial industries. We provide services in Recharge Services, Utilities, Financial Services, Travel Services@*, Digital Gift Cards*@, Device Security and Ecommerce sectors.</p>

                    </div>
                </div>

            </div>
        </div>
        <a class="new-one-sec-link newone-box" data-aos="fade-left" href="@Url.Action("Login","Home",new { id="singin" })">Read More</a>
    </section>

    @*About-Section*@

    <section id="one-about" class="one-about all-one-section-white">
        <div class="container">
            <div class="row new-one-flex-item">
                <div class="col-md-6 classpadding-content1" data-aos="fade-right">
                    <div class="w-100">
                        <h2 class="one-section-heading">About us</h2>
                        <p class="new-one-text new-one-text-color">
                            We are providing India's largest multi-recharge platform. We provide Domestic Money Transfer, International Money Transfer Services,
                            Prepaid & DTH Recharge, Postpaid Payment, Electricity Bill Payment, Gas & Insurance Payment, Domestic & International Hotel Booking,
                            Domestic & International Flight Booking, Bus Booking, New PAN Registration & Editing, Mini Work We do. ATM (M-Pos), AEPS services@*,
                                all types of "GIFT-CARD",*@ and the largest Ecommerace that provides comprehensive payment services for customers and merchants.
                            We provide mobile payment solutions to over 5000 consumers to make seamless mobile payments from cards, bank accounts, and digital credits.
                            Our investors and partners have been across India. We strive to maintain an open culture where everyone is a contributor and feels
                            comfortable sharing thoughts and ideas. We are trying our best.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 classpadding-content2" data-aos="fade-left">
                    <div class="section-one-sede-img w-100">
                        <div class="one-img-section w-100">

                            <img src="~/MainFrontDesign/images/aboutus-newdesign.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Services-Section*@

    <section id="Services-one" class="service-one-sec new-one-banner new-position-re allback-same-one">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="one-section-heading" style="margin-bottom:50px;color:#fff;">Our Main Services</h2>
                </div>
            </div>
            <div class="row new-one-flex-item">
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> Prepaid & Dth </h3>
                        <p class="new-one-text">We provide all Mobile and DTH recharge with the live response, you feel real speed with US.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> All Utilities </h3>
                        <p class="new-one-text">Postpaid Mobile, Landline, Broadband, Electricity bill with BBPS, Insurance premium, and Water Bill.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> M-POS Device </h3>
                        <p class="new-one-text">M POS (Mobile Point of Sale) 24x7 Fast services with high commission.</p>
                    </div>
                </div>

            </div>
            <div class="row new-one-flex-item">
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> Money Transfer </h3>
                        <p class="new-one-text">We are Provide Money transfers with all Indian Banks with live and Fast transition.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> Bus & Flight </h3>
                        <p class="new-one-text">
                            All domestic Bus booking and All domestic & international Flight booking.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="w-100 full-content-service">
                        <h3> E-Commerce </h3>
                        <p class="new-one-text">We are providing India's largest E-commerce market with minimum price and maximum standard.</p>
                    </div>
                </div>

            </div>
        </div>
        <a class="new-one-sec-link newone-box" data-aos="fade-left" href="@Url.Action("Login","Home",new { id="singin" })">Read More</a>
    </section>

    @*Work-Section*@

    <section id="one-work" class="work-section-one one-about all-one-section-white">
        <div class="container">

            <div class="row new-one-flex-item">
                <div class="col-md-6 classpadding-content2" data-aos="fade-right">
                    <div class="section-one-sede-img w-100">
                        <div class="one-img-section w-100">

                            <img src="~/MainFrontDesign/images/mainwork-newdesign.jpg" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 classpadding-content1" data-aos="fade-left">
                    <div class="w-100">
                        <h2 class="one-section-heading">Our Main Works</h2>
                        <p class="new-one-text new-one-text-color">
                            The Permanent Account Number or PAN provided by us is a means to identify various taxpayers in the country.
                            PAN is a unique identification number given to Indians, mostly to tax payers. The PAN system of identification
                            is a computer based system that assigns a unique identification number to each Indian tax-paying entity.
                            Through this method, all the tax related information for an individual is recorded against a single PAN number which acts as
                            the primary key for the storage of the information. It is shared across the country and hence no two persons of tax paying
                            entities can have the same PAN. The idea behind PAN is similar to the Social Security Number, or SSN, used in the United States.
                            The SSN in the US is a unique nine-digit number that is issued to all US citizens, both permanent and temporary. Although the
                            primary purpose of SSN creation was to track individuals for social security purposes, it has now become the primary identification
                            number for taxation processes. Any PAN issued is valid for the entire life of the PAN holder. This is primarily because the PAN remains
                            unaffected by any change in the address of the PAN cardholder.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    @*Cards-Section*@

    @if (Card != "Y")
    {
        <section id="Cards-one" class="service-one-sec new-one-banner new-position-re allback-same-one one-card-section">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="one-section-heading" style="margin-bottom:50px;color:#fff;">Digital Gift Cards</h2>
                    </div>
                </div>
                <div class="row new-one-flex-item">
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Ecommerece & Online</h3>
                            <p class="new-one-text">We are provide all prepaid and DTH recharge with live response, you feel real speed with US.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Entertainment</h3>
                            <p class="new-one-text">Postpaid Mobile, Landline, Broadband, Electricity bill with BBPS, Insurance premium, and Water Bill Payment.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Grocery & Homeneeds</h3>
                            <p class="new-one-text">M POS (Mobile Point of Sale) 24x7 Fast services with maximum commission.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Health & Hospitality</h3>
                            <p class="new-one-text">M POS (Mobile Point of Sale) 24x7 Fast services with maximum commission.</p>
                        </div>
                    </div>

                </div>
                <div class="row new-one-flex-item">
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Fashion & Lifestyle</h3>
                            <p class="new-one-text">We are Provide Money transfer with all Indian Banks with live and high speed transition.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Sportswear & Footwear</h3>
                            <p class="new-one-text">We are Provide Money transfer with all Indian Banks with live and high speed transition.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Electronics</h3>
                            <p class="new-one-text">All domestic Bus booking and All domestic & international Flight booking.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="w-100 full-content-service">
                            <h3>Travel & Restaurants</h3>
                            <p class="new-one-text">We are provide India largest E commerce market minimum price and maximum standard.</p>
                        </div>
                    </div>

                </div>
            </div>
            <a class="new-one-sec-link newone-box" data-aos="fade-left" href="@Url.Action("Login", "Home", new { id = "singin" })">Buy Now</a>
        </section>
    }

    @*Travel-Section*@
    @if (Travel != "Y")
    {
        <section id="one-Travel">
            <section class="one-about all-one-section-white">
                <div class="container">
                    <div class="row new-one-flex-item">
                        <div class="col-md-6 classpadding-content1" data-aos="fade-right">
                            <div class="w-100">
                                <h2 class="one-section-heading">Bus Booking</h2>
                                <p class="new-one-text new-one-text-color">
                                    It is India's best online bus ticketing platform, which is trusted by all Indians. With the sale of bus tickets
                                    through the web, mobile, and our bus agents, and being on top of the game in bus ticketing. and operates on more than
                                    8020 routes of reputed bus operators. and launched its bus booking services in the year 2018, thus providing all travel
                                    options at one platform to the customers. We provide different types of bus ticket booking systems for our customers.
                                    It has all the latest facilities for bus ticket booking with an online payment gateway. It became a true one-stop travel
                                    planner as everything related to flights, holiday packages, train reservations, car rentals, travel was now available on
                                    this portal, bus services are available all over India, and that is the importance of this market. Realizing this,
                                    the portal has tied up with India's leading bus services across the country and is rapidly able to establish a significant
                                    foothold in this market. However, it is still in its early stages and is working towards forging many more partnerships to
                                    expand its reach and provide even more options to the customers.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 classpadding-content2" data-aos="fade-left">
                            <div class="section-one-sede-img w-100">
                                <div class="one-img-section w-100">


                                    <img src="~/MainFrontDesign/images/busimgnewon.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="one-about" class="work-section-one one-about all-one-section-white" style="padding:0px;">
                <div class="container">

                    <div class="row new-one-flex-item">
                        <div class="col-md-6 classpadding-content2" data-aos="fade-right">
                            <div class="section-one-sede-img w-100">
                                <div class="one-img-section w-100">

                                    <img src="~/images/airplane-removebg-preview.png" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 classpadding-content1" data-aos="fade-left">
                            <div class="w-100">
                                <h2 class="one-section-heading">Flight Booking</h2>
                                <p class="new-one-text new-one-text-color">
                                    Leading player in online flight booking in India. The portal offers great offers, some of the lowest airfares,
                                    special discounts and a seamless online booking experience. Booking a flight through the desktop or mobile site is a pleasant
                                    customer-friendly experience, and with just a few clicks you can complete your booking. With features like Instant Discounts,
                                    Fare Calendar, My Rewards Program, My Wallet, and many more, the holistic booking experience continuously adds value to its product
                                    and continues to offer the best to its customers. While booking flights from this portal, you can expect the ultimate online booking
                                    experience. With premium customer service, 24/7 dedicated helpline for support and over 99% pleased customers, this portal takes
                                    immense pride in enabling customer satisfaction. Book your tickets at the lowest airfares, with the cheapest flight guarantee. Take
                                    advantage of great offers, special deals for loyal customers, and get instant updates on your flight status and drop in fares.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section id="one-about" class="one-about all-one-section-white">
                <div class="container">
                    <div class="row new-one-flex-item">
                        <div class="col-md-6 classpadding-content1" data-aos="fade-right">
                            <div class="w-100">
                                <h2 class="one-section-heading">Hotel Booking</h2>
                                <p class="new-one-text new-one-text-color">
                                    The most important aspect of any holiday plan is the part where you have to choose a good hotel that suits your budget. Staying in a
                                    good hotel makes your vacation convenient and memorable. Hence, we bring you a range of great hotel offers and hotel deals on domestic
                                    and international hotels, so that you can enjoy luxury like never before. We have all kinds of hotels, from luxury to cheap, so you'll
                                    find accommodation for whatever you need. When you find a hotel you like, click on its name to see its detailed description. Apart from
                                    Goa, our database includes a myriad of properties across all holiday and business destinations in India. Our payment gateway is
                                    completely secure, so all your bank details are secure. An easy transfer process means paying is as fast as searching for a hotel.
                                    So, whether you are looking for budget or upscale hotels in Delhi, Shimla, Mumbai, Chennai, or any other destination, visit this portal,
                                    and get the best deals.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 classpadding-content2" data-aos="fade-left">
                            <div class="section-one-sede-img w-100">
                                <div class="one-img-section w-100">

                                    <img src="~/MainFrontDesign/images/hotelnewoneimg.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    }
        @*Why-Choose-Section*@

        <section id="why-choose-one" class="why-choose-one service-one-sec new-one-banner new-position-re allback-same-one one-card-section" style="padding-top:52px;padding-bottom:170px;">


            <div class="col-md-12">
                <div class="col-12">
                    <h2 class="one-section-heading" style="margin-bottom:60px;color:#fff;">Why Choose </h2>
                </div>
            </div>



            <div class="col-12">
                <div class="col-md-3">
                    <div class="w-100 whychooseonefull">
                        <div class="w-100 oveflow-one">
                            <img src="~/images/MULTIRECHARGESERVICE.png" />
                        </div>
                        <div class="why-choose-content">
                            <h4>Multi Service With Single Plateform</h4>
                            <p class="new-one-text">
                                Our Multi-Services Platform is a flexible, high-density media processing platform with integrated signaling capabilities,
                                designed to enable developers to bring new services to market quickly and cost-effectively.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="w-100 whychooseonefull">
                        <div class="w-100 oveflow-one">
                            <img src="~/images/Support.png" />
                        </div>
                        <div class="why-choose-content">
                            <h4>Support Service</h4>
                            <p class="new-one-text">
                                We Are Providing Best Supporting Service. Customer service and support departments interact with consumers as they require assistance.
                                Learn about the difference between service and support and see how they work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="w-100 whychooseonefull">
                        <div class="w-100 oveflow-one">
                            <img src="~/images/Team.png" />
                        </div>
                        <div class="why-choose-content">
                            <h4>Team Work</h4>
                            <p class="new-one-text">
                                Our team is easily available to all our clients. We value all our customers and strive to ensure that our products perform optimally.
                                and provides a range of targeted and specialized support and technical services to all its customers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="w-100 whychooseonefull">
                        <div class="w-100 oveflow-one">
                            <img src="~/images/Ecommerceouterthem.png" />
                        </div>
                        <div class="why-choose-content">
                            <h4>E-commerce</h4>
                            <p class="new-one-text">
                                Looking for a top class e-commerce development company? Get custom e-commerce development services and robust website designing solutions
                                at competitive prices. Our dedicated web developers are known for providing great service!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="new-one-sec-link newone-box" data-aos="fade-left" href="@Url.Action("Login","Home",new { id="singin" })">View More</a>
        </section>

        @*Android-Section*@

        <section id="one-android" class="work-section-one one-about all-one-section-white androidsection" style="">
            <div class="container">

                <div class="row new-one-flex-item">
                    <div class="col-md-6 classpadding-content2" data-aos="fade-right">
                        <div class="section-one-sede-img w-100">
                            <div class="one-img-section w-100">

                                <img src="~/MainFrontDesign/images/appnewimg.jpg" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 classpadding-content1" data-aos="fade-left">
                        <div class="w-100">
                            <h2 class="one-section-heading">Download Our App</h2>
                            <p class="new-one-text new-one-text-color">
                                To download the Android application directly from the website, the download button is given below, to download the application, open the website in the Android device.
                            </p>
                            @if (!string.IsNullOrEmpty(urllinks))
                            {
                                <a class="new-one-sec-link newone-box newonesection-link" data-aos="fade-left" href="@Url.Action("DownloadAPK", "Home" )" style="position:static;">Download App / Version = @Apk_Version</a>

                            }
                            else
                            {
                                <a class="new-one-sec-link newone-box newonesection-link" data-aos="fade-left" href="Javascript:void(0);" style="position:static;">Download App</a>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </section>


        @{

            var desktopimgurl = (from img in db.message_popup select img.imageurl).FirstOrDefault() ?? "";
            var headercontent = (from content in db.message_popup select content.Heardercontent).FirstOrDefault() ?? "";
            var imgsts = (from img in db.message_popup select img.sts).FirstOrDefault() ?? "N";


            <input type="button" value="login" id="btn111" data-toggle="modal" data-target="#desktoppopup-modal" style="display:none;">
            <div class="modal fade" id="desktoppopup-modal" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:85px;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <p class="modal-title" style="font-size:20px;color:#000000a6;text-align:center;">@headercontent</p>
                        </div>
                        <div class="modal-body">
                            @if (imgsts == "Y")
                            {
                                <img src="@Url.Content("~/" + @desktopimgurl)" class="img-responsive" />
                                <script type="text/javascript">

                                    $(function () {
                                        $('#btn111').click();
                                    });

                                </script>

                            }
                            else
                            {

                            }
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>

@* ============================================================== *@
<script src="~/MainFrontDesign/mainview/js/aos.js"></script>

<script src="~/Custom-Animation/js/jquery.min.js"></script>
<script src="~/Custom-Animation/js/wow.min.js"></script>
<script src="~/Custom-Animation/js/main.js"></script>


@*
<script src="~/AdminDesign/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/MainFrontDesign/js/vendor/jquery-1.11.2.min.js"></script>
<script src="~/MainFrontDesign/js/jquery.easing.1.3.js"></script>

<script src="~/CSS/multislider.js"></script>*@

<script>
    function myFunction() {
        var copyText = document.getElementById("txthdlink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>



<script>
    $(function () {
        var sil1 = '@ViewBag.silder1';
        if (sil1 == "Y") {
            document.getElementById("silder1").style.display = "block";
            document.getElementById("silder2").style.display = "none";
        }
        else {
            document.getElementById("silder1").style.display = "none";
            document.getElementById("silder2").style.display = "block";
        }
        var succ = '@TempData["front"]';
        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    });
</script>
<script>

    $("#readmore").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            }
            else {
                toggle_switch.html('Read Less');
            }
        });
    });
</script>
<script>
    $("#readmorebus").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $("#readmoreflight").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $("#readmorehotel").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('View More');
            }
            else {
                toggle_switch.html('View Less');
            }
        });
    });
</script>
<script>
    $('button').click(function () {
        if (this.id == 'viewmore') {
            $('#allcard').show();
            $('#silderid').hide();
            $('#viewless').show();
            $('#viewmore').hide();
        }
        else {
            $('#allcard').hide();
            $('#silderid').show();
            $('#viewless').hide();
            $('#viewmore').show();
        }
    })
</script>


<script>
    $("#readmorewhy").click(function () {
        var collapse_content_selector = $(this).attr('href');
        var toggle_switch = $(this);
        $(collapse_content_selector).toggle(function () {
            if ($(this).css('display') == 'none') {
                toggle_switch.html('Read More');
            }
            else {
                toggle_switch.html('Read Less');
            }
        });
    });
</script>
<script>
    var j = $.noConflict();
    j(document).ready(function () {
        j('.my-slick').slick({
            dots: false,
            infinite: true,
            speed: 1200,
            fade: true,
            autoplay: true,
            cssEase: 'linear'

        });
    });

</script>


<script>
    AOS.init();
</script>

