<style>
    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        border-radius: 0%;
        height: 100vw;
        width: 100vw;
    }

    .minitransaction tr td {
        padding: 10px !important;
    }

    .select2-container--open .select2-dropdown--below {
        width: 314px !important;
    }

    .select2-results__option[aria-selected] {
        border-bottom: 1px dotted;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::before {
        content: '';
        display: none;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: transparent;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 0%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 0%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .radiobuttonimps.radiobuttonimps-addnew-aadh label {
        float: left;
        margin: 0 !important;
        font-size: 13px;
        height: 34px;
        padding-top: 7px;
        padding-left: 22px;
    }

    .radiobuttonimps.radiobuttonimps-addnew-aadh .aadharnewpayclass {
        animation: blinks 2s linear infinite;
        left: -16px;
        top: -10px;
        font-size: 8px;
    }

    .select2-container--open .select2-dropdown--below {
        width: 314px !important;
    }

    @@media screen and (max-width:1366px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container {
            width: 22% !important;
            left: 0;
        }

            .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child {
                width: 31% !important;
            }

            .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:last-child {
                width: 25% !important;
                float: left !important;
            }
    }

    @@media screen and (max-width:1300px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:nth-child(3) {
            width: 21% !important;
        }

        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child {
            width: 32% !important;
        }
    }

    @@media screen and (max-width:420px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container, .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child, .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:nth-child(3), .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:last-child {
            width: 50% !important;
            float: left;
        }

        .newpagecustom.newpagecustomertyui .tabspage ul li span {
            font-size: 10px;
        }
    }
</style>
<!--AEPS ID NOT-->
<div style="display: flex; flex-direction: column">
    <div>
        <button class="btn" id="createBtn" style="padding: 15px; font-size: 22px;">Create</button>
    </div><br />
    <div id="otp-box" style="display: none">
        <input type="text" class="form-control" placeholder="Enter Otp" id="otp-input" />
        <small class="text-danger" id="otperror"></small>
        <button class="btn" type="button" id="aeps2_otp_submit">Submit Otp</button>
    </div>
</div>

<div class="container-fluid aeps">
    <div class="col-md-12 gotoscan-changecss" id="gotoscan2" style="display: none;">
        <button onclick="gotoscan()" class="display-nonescanp" id="scanrecoveer2"><strong>GO</strong> To Scan</button>
    </div>
</div>
<!--Driver Page-->
<!--Driver Page-->
<div id="notfound2" style="display:none;">
    <div class="container-fluid hedn" style="text-align: center;">
        <span class="cross" style="margin-top: 20px;margin-bottom: 20px;">

            <img src="~/ashok-images/identity.svg" style="width: 100px;" />
        </span>
        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;border-bottom: 1px dashed;display: inline-block;padding: 0px;">AEPS Service Not Active</span>
        <p style="margin-bottom: 20px;text-align: justify;font-size: 18px;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
        <button class="fullbodydycolorbg" type="submit" onclick="SendOTP()" id="submitMobile2" style="color: #fff;border: 0px;margin-top: 10px;padding: 7px 15px;font-size: 18px;">Active Now</button>
    </div>
    <div>
        <span id="errormessgeshow2" style="color:red;"></span>
    </div>
    <div class="sho" style="display: none;text-align: center;">
        <span style="font-size: 22px;border-bottom: 1px solid;display: inline-block;padding: 0px;padding-bottom: 5px;margin-bottom: 10px;">One Time Password</span>
        <input id="otpShow2" placeholder="Insert OTP" style="display:none;margin: 0px auto;width: 100%;margin-top: 15px;font-size: 16px;" autocomplete="off" />

        <label id="OTPMSG2" style="margin-top: 5px;text-align: left;display: block;padding-left: 6px;"></label>
        <button class="fullbodydycolorbg" type="submit" onclick="otpverify()" id="otpSubmit2" style="display:none;color: #fff;border: 0px;padding: 7px 22px;font-size: 16px;margin-top: 20px;float: right;">Submit</button>
        <button type="button" onclick="backshow()" style="color: #fff;border: 0px;background: #a4a0a0 !important;margin-right: 8px;padding: 7px 22px;font-size: 16px;margin-top: 20px;float: right;">Back</button>
    </div>
</div>
<div id="firstpurAEPS2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;margin-top: 10px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">AEPS Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;font-size: 18px;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseAEPS('AEPS')" style="color: #fff;font-size: 18px;margin-top: 10px;padding: 6px 11px;">AEPS Purchase</button>
</div>

<div id="firstpurALLservice2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;margin-top: 10px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">AEPS Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;font-size: 18px;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseAEPS('ALL')" style="color: #fff;font-size: 18px;margin-top: 10px;padding: 6px 11px;">ALL Purchase Service</button>
</div>
<div id="firstpurBOTHservice2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;margin-top: 10px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">AEPS Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;font-size: 18px;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseAEPS('AEPS')" style="color: #fff;font-size: 18px;margin-top: 10px;padding: 6px 11px;">AEPS Purchase</button>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseAEPS('ALL')" style="color: #fff;font-size: 18px;margin-top: 10px;padding: 6px 11px;">ALL Purchase Service</button>
</div>

<input type="hidden" id="HDServicesname2" name="HDServicesname" value="" />
<div id="secpurAEPS2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <span style="font-size: 24px;border-bottom: 1px solid #ccc;margin-top: 15px;padding-bottom: 10px;margin-bottom: 10px;">Payment Details</span>
    <div class="lavbrd" style="border-bottom: 1px solid #ccc;float: left;width: 100%;padding-bottom: 10px;">
        <label style="float: left;margin-bottom: 0px;font-size: 18px;">Mode </label>
        <label id="PaymentTypeaeps2" style="float: right;margin-bottom: 0px;font-size: 18px;"></label>
    </div>
    <br />
    <div class="lavbrd" style="border-bottom: 1px solid #ccc;float: left;width: 100%;padding-bottom: 12px;margin-top: 10px;">
        <label style="float: left;margin-bottom: 0px;font-size: 18px;">Amount </label>
        <label id="Priceaeps2" style="float: right;margin-bottom: 0px;font-size: 18px;"></label>
    </div>
    <br />

    <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchaseAEPS()" style="color: #fff; float: right; font-size: 18px; padding: 7px 22px; margin-top: 30px;">Pay Now</button>
    <button class="btn btn-default" onclick="AEPS()" style="        color: #fff;
        background: #a4a0a0 !important;
        font-size: 18px;
        float: right;
        margin-right: 8px;
        padding: 7px 22px;
        margin-top: 30px;">
        Back
    </button>

    <br />
    <label id="errmsgaeps2" style="color:red;"></label>
</div>

<label id="KYCNotComp2"></label>
<input type="text" id="pidata_doc2" style="display:none;" />
<!--AEPS ID NOT-->
<div id="Devicerror2" style="display:none;">
    <div class="container-fluid aepsid-login">
        <div class="col-md-12 aeps-start">
            <div class="col-md-12 aeps_id">
                <div class="scannot-found">
                    <img src="~/ashok-images/scanner.svg" />
                </div>
                <div class="scannot-font-size">
                    <span id="deviceerror12" style="    color: red;
        border-bottom: 2px solid #ff0048;
        display: inline-block;
        padding-bottom: 2px;
        font-size: 16px;
        font-weight: 700;
" class="body-border-bottom"></span>
                    <span id="deviceerror22" style="color:red;"></span>

                    <span id="deviceerror32" style="color:red;"></span>
                    <span id="deviceerror42" style="color:red;"></span>
                    <span id="deviceerror52" style="color:red;"></span>
                    <span id="deviceerror62" style="color:red;"></span>
                    <span id="deviceerror72" style="color:red;"></span>
                    <span id="deviceerror82" style="color:red;"></span>
                    <span id="deviceerror92" style="color:red;"></span>
                    <a href="#scanrecoveer2" id="againscanclick2" onclick="gotoscan()">Scan&nbsp;Again</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="AEPSFOUND2" class="aepsfound-responshivecs" style="display:none;">

    <!--AEPS ID Login-->
    <!--Cash Details-->
    <div class="col-md-12 radiobuttonimps radiobuttonimps-addnew-aadh" id="radiobuttonimps-cash2" style="margin-top:-15px;">
        <form class="radiobutton-bottom">
            <div class="col-md-12">
                <label class="col-md-4 container" style="width:31%;">
                    <input type="radio" name="radio" id="radio12" checked="checked" value="transfer"><p>Cash&nbsp;Withdrawal</p>
                    <span class="checkmark"></span>
                </label>
                <label class="col-md-4 container" style="width:22%;margin-left:5px;">
                    <input type="radio" name="radio" id="radio32" value="ministatement"><p>Statement</p>
                    <span class="checkmark"></span>
                </label>
                <label class="col-md-4 container" style="width:22%;">
                    <input type="radio" name="radio" id="radio22" value="balance"><p>Balance</p>
                    <span class="checkmark"></span>
                </label>
                <label class="col-md-4 container" style="width:25%;">
                    <input type="radio" name="radio" id="radio42" value="aadharpay"><p>Aadhar&nbsp;Pay<sup class="aadharnewpayclass">New</sup></p>
                    <span class="checkmark"></span>
                </label>
            </div>
        </form>
    </div>

    <div class="with-click-block">

        <div class="cash-add">
            <div class="container-fluid otp_page">
                <div class="fullwidthaccount fullwidthaccount-top addnewnamecss">
                    <div class="col-md-12 amount amount_strong">
                        <strong class="changere11" style="">Bank Name</strong>

                        <select id="banklistshow2">
                        </select>
                        @*   @Html.DropDownList("iin", @ViewBag.BankList as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true", @onchange = "bankChange()" })*@
                    </div>
                    <div class="col-md-12 amount amount_strong">
                        <strong class="changere" style="">Device Info</strong>
                        <input type="text" id="txtdevice2" placeholder="Enter Aadhaar Number" readonly /><input type="text" id="devicesrno2" placeholder="Device Sr No." readonly />
                    </div>
                    <div class="col-md-12 amount amount_strong">
                        <strong class="changere2" style="">User&nbsp;Mobile</strong>
                        <input type="text" id="txtphone2" placeholder="Enter Phone Number" onkeypress="return isNumber(event)" />
                    </div>
                    <div class="col-md-12 amount amount_strong">
                        <strong class="changere1" style="">User&nbsp;Aadhaar</strong>
                        <input type="text" id="txtaadhar2" placeholder="Enter Aadhaar Number" onkeypress="return isNumber(event)" />
                    </div>


                    <div class="col-md-12 amount amount_strong">
                        <strong class="changere2" style="">User&nbsp;Name</strong>
                        <input type="text" id="txtusernm2" placeholder="Enter Consumer Name" />
                    </div>

                    <div id="transferfnd2" class="col-md-12 amount amount_strong">
                        <strong class="changere3" style=""> <label id="wtext2"> Withdraw Rs.  </label> </strong>
                        <input type="text" id="txtamt2" placeholder="Enter Your Amount" onkeypress="return isNumber(event)" />
                    </div>
                    <div id="transferser2" class="col-md-12 amount amount_strong">
                        <strong class="changere4" style=""> service Fee  </strong>
                        <input type="text" id="txtfee2" value="0" placeholder="Enter Your Service Fee" onkeypress="return isNumber(event)" />
                    </div>
                    <div id="otpfortransfer2" class="col-md-12 amount amount_strong" style="display:none;">
                        <strong class="changere4" style=""> OTP  </strong>
                        <input type="text" id="txtotptransfer2" name="txtotptransfer" value="0" placeholder="Enter Your Service Fee" onkeypress="return isNumber(event)" />
                    </div>
                    <input type="hidden" id="cap2" />

                    <div class="col-md-12 amount amount_strong" id="aepserrow-show2">
                        <span id="txterrortransfer2" style="color:red;"></span>
                    </div>
                </div>


                <div class="container-fluid transaction-button" id="next_page2">
                    <button id="addaccount-back2" style="background:#a39f9e;" onclick="Reset()">Reset</button>
                    <button id="addaccount-back2" class="agsc" style="background:#a39f9e;" onclick="gotoscan()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Scan Again</button>
                    <button id="nextfund2" class="fullbodydycolorbg addaccount-add-scan-img" onclick="Nextransfer()">
                        Confirm & Withdraw
                        <i class="fa fa-angle-right otp_icon"></i>
                    </button>
                    <button id="nextclick2" style="display:none;  " class="fullbodydycolorbg addaccount-add-scan-img" onclick="nextclick()">
                        NEXT
                        <i class="fa fa-angle-right otp_icon"></i>
                    </button>

                    <button id="addaccount-balance2" style="display:none;" class="fullbodydycolorbg addaccount-add-scan-img" onclick="Getbalance()">
                        Get Balance
                        <i class="fa fa-angle-right otp_icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="scanshowfund2" class="cash-add cash-add-active scanshowfund-responshivecl" style="display:none;">
    <div class="container-fluid otp_page">
        <div class="fullwidthaccount fullwidthaccount-top">
            <div class="col-md-12 amount amount_strong"><strong style="">Bank Name</strong><span id="spanbank2"></span></div>
            <div class="col-md-12 amount amount_strong"><strong style="">Aadhaar Number</strong><span id="spanaadhar2"></span></div>
            <div class="col-md-12 amount amount_strong"><strong style="">Register Mobile</strong><span id="spanmobile2"></span></div>
            <div class="col-md-12 amount amount_strong"><strong style="">Withdraw Amount</strong><span id="spanamount2"></span></div>
            <div class="col-md-12 amount amount_strong">
                <span id="scanerror2" style="color: red;"></span>
            </div>
        </div>
        <div id="scanimage2" class="scan-img scan-img-responshivewer">
            <div class="img-scan-border">
                <img class="body-border-bottom-top" src="~/ashok-images/portrait_mode_scanning.gif" />

            </div>
            <span id="response1" style="color: green "></span>
            <span id="response2" style="color: green "></span>
        </div>
        <div class="container-fluid transaction-button" id="next_page2">
            <button style="background: #a39f9e;">Back</button>
            <button id="payaeps2" class="fullbodydycolorbg addaccount-add-scan-img" style="        display: none;
">
                Pay <i class="fa fa-angle-right otp_icon"></i>
            </button>
        </div>
    </div>
</div>

<!--Cash Details-->
<!--Scan-->
<!--Scan-->
<!--Blance-->
<div class="col-md-12 Confirm-Payment" id="getbalanceview2" style="display:none;">
    <div class="container-fluid">
        <div class="col-md-6 successful">
            <p>transaction successful</p>

            <span id="rrnchk2"></span><br />
            <span> Date - @DateTime.Now.ToString("d-MMM-yyyy HH:mm:ss")</span>
        </div>
        <div class="col-md-6 successful-logo">
            <img id="logochkaeps2" src="" />
        </div>
    </div>
    <div class="container-fluid transaction">
        <p>AEPS Get Balance details</p>
        <ul class="transaction-detail">
            <li class="transaction-left"><span>retailer firm</span></li>
            <li class="transaction-right"><span id="remfirmaeps2"></span></li>

            <li class="transaction-left"><span>Bank Name</span></li>
            <li class="transaction-right"><span id="aepsbankname2"></span></li>
            <li class="transaction-left"><span>Aadhaar Number</span></li>
            <li class="transaction-right"><span id="aepsaadhar2"></span></li>

            <li class="transaction-left"><span>Register Mobile</span></li>
            <li class="transaction-right"><span id="aepsmobile2"></span></li>

            <li class="transaction-left"><span>AEPS mode</span></li>
            <li class="transaction-right"><span>Balance</span></li>

            <li class="transaction-left"><span>A/C Remain</span></li>
            <li class="transaction-right"><span id="aepsremain2"></span></li>
        </ul>

    </div>
    <div class="container-fluid transaction-button" id="next_page2">
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="AEPS()">back</button>
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="print('balance')">print</button>
    </div>
</div>

<div class="col-md-12 Confirm-Payment" id="ministat2" style="display:none; padding-bottom:20px;">
    <div class="container-fluid">
        <div class="col-md-6 headd" style="padding: 0px;">
            <p id="txtbankstate2"></p>
            <p id="txtbankaadhar2"></p>
        </div>
        <div class="col-md-6 headd" style="padding: 0px;text-align: right;">
            <p id="txtfrmstate2"></p>
            <p id="txtfrmdate2"></p>
        </div>

    </div>
    <div class="container-fluid minitransaction">
        <table class="table-bordered" style="width: 100%;margin-bottom: 10px;">
            <thead>
                <tr>
                    <th>T&nbsp;-&nbsp;Date</th>
                    <th>Open&nbsp;₹</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Close&nbsp;₹</th>
                </tr>
            </thead>
            <tbody id="statementtbody2">
            </tbody>
        </table>

    </div>
    <div class="container-fluid">
        <div id="serfeeshow2" class="col-md-12 headdown" style="padding: 0px;border: 1px solid #dddddd;">
            <span style="padding: 15px 5px;display: inline-block;">Service&nbsp;Fee</span>
            <span id="txtfeeservice2" style="padding: 15px 5px;display: inline-block;float: right;"></span>
        </div>
        <div class="col-md-12 headsig" style="text-align: right;padding: 0px;">
            <span style="padding: 10px;">Sig.</span>

        </div>

    </div>
    <div class="container-fluid transaction-button" id="next_page2">
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="AEPS()">back</button>
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="print('statemenUrlrl')">print</button>
    </div>
</div>
<!--Blance-->
<!--Confirm Payment-->
<div class="col-md-12 Confirm-Payment" id="aeps-Confirm-Payment2" style="display:none;">
    <div class="container-fluid">
        <div class="col-md-6 successful">
            <p>transaction successful</p>
            <strong><img src="~/ashok-images/india(2).svg" /><span class="transform-re" id="amountaepssuccess2"> </span><i class="fa fa-check fullbodydycolorbg"></i></strong>
            <span id="rrnaepssuccess2"></span><br />
            <span> Date - @DateTime.Now.ToString("d-MMM-yyyy HH:mm:ss")</span>
        </div>
        <div class="col-md-6 successful-logo">

            <img id="logochkaepssuccess2" src="" />

        </div>
    </div>
    <div class="container-fluid transaction">
        <p>AEPS transaction details</p>
        <ul class="transaction-detail">
            <li class="transaction-left"><span>retailer firm</span></li>
            <li class="transaction-right"><span id="aepssuccessfirm2"></span></li>

            <li class="transaction-left"><span>Bank Name</span></li>
            <li class="transaction-right"><span id="aepssuccessBankname2"></span></li>
            <li class="transaction-left"><span>Aadhaar Number</span></li>
            <li class="transaction-right"><span id="aepssuucessaadhar2"></span></li>

            <li class="transaction-left"><span>Register Mobile</span></li>
            <li class="transaction-right"><span id="aepssuccessmobile2"></span></li>

            <li class="transaction-left"><span>AEPS mode</span></li>
            <li class="transaction-right"><span>Cash</span></li>

            <li class="transaction-left"><span>A/C Remain</span></li>
            <li class="transaction-right"><span id="aepssuccessremain2"></span></li>

            <li class="transaction-left"><span>Withdraw Amount </span></li>
            <li class="transaction-right"><span id="aepssuccessamt2"></span></li>

            <li class="transaction-left"><span>service Fee</span></li>
            <li class="transaction-right"><span id="aepssuccessfee2"></span></li>

            <li class="transaction-left"><span>tax</span></li>
            <li class="transaction-right"><span id="aepssuccesstax2"></span></li>

            <li class="transaction-left"><span>Paid amount</span></li>
            <li class="transaction-right"><span id="paidamt2"></span></li>

        </ul>


    </div>
    <div class="container-fluid transaction-button" id="next_page2">
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="AEPS()">back</button>
        <button id="addaccount-back2" style="background:#a39f9e;" onclick="print('transfer')">print</button>
    </div>
</div>
<div id="loadaeps2" style="display: none">
    <img class="body-border-bottom-top" src="~/ashok-images/portrait_mode_scanning.gif" style="height:150px;" />
</div>
<div class="loader"></div>
<script src="~/Scripts/PageScript/Retailer/AEPS/AEPS_NEW.js"></script>

<script>
    var otpReferenceID = '';
    var hash = '';

    $(function () {
        checkRetailerOutlet();
    });

    $('#createBtn').click(() => {
        otpReferenceID = '';
        hash = '';

        $.ajax({
            url: '@Url.Action("sendOtpForOutlet", "Home")',
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
                $('#otp-box').hide();
            },
            success: function (data) {
                $(".loader").hide();
                console.clear();

                if (data.status) {
                    $('#createBtn').hide();
                    $('#otp-input').val('');
                    $('#otp-box').show();

                    otpReferenceID = encodeURIComponent(data.otpReferenceID);
                    hash = encodeURIComponent(data.hash);
                }
                else {
                    $('#otp-box').hide();
                    alert(data.message);
                    $('#createBtn').show();
                    $('#gotoscan2').hide();
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    })

    function checkRetailerOutlet() {
        $.ajax({
            url: '@Url.Action("checkRetailerOutlet", "Home")',
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();

                if (data.status) {
                    $('#createBtn').hide();
                    $('#gotoscan2').show();
                }
                else {
                    $('#createBtn').show();
                    $('#gotoscan2').hide();
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    }

    function scanagain() {
         $.ajax({
            url: '@Url.Action("chk1","Home")',
            cache: false,
            type: "GET",
            beforeSend: function() {
                $(".loader").show();
                location.reload();
             },
            success: function (data) {

            }, error: function (data) {
                scanfing();
                $(".loader").hide();
            }
        })
    }

    var submit_btn_loading = false;
    $('#aeps2_otp_submit').click(() => {
        if (submit_btn_loading) return;

        let otp = $('#otp-input').val();
        if (!otp) return;

        $('#otperror').text('');
        submit_btn_loading = true;

        $.ajax({
            url: '@Url.Action("Aeps2VerifyOtp", "Home")?otp=' + otp + '&otpReferenceID=' + otpReferenceID + '&hash=' + hash,
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
                $('#createBtn').hide();
            },
            success: function (data) {
                $(".loader").hide();
                submit_btn_loading = false;

                if (data.status) {
                    $('#otp-box').hide();
                    $('#otp-input').val('');
                    $('#gotoscan2').show();

                    otpReferenceID = '';
                    hash = '';
                }
                else {
                    $('#otperror').text(data.message);
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    })

</script>
<script>
    function gotoscan() {
        $('#deviceerror12').text("");
        $('#deviceerror22').text("");
        $('#deviceerror32').text("");
        $('#deviceerror42').text("");
        $('#deviceerror52').text("");
        $('#deviceerror62').text("");
        $('#deviceerror72').text("");

        $('#driverdetails').hide();
        $('#devicesrno22').val("");
        $('#txtaadhar2').val("");
        $('#txtphone2').val("");
        $('#cap2').val("");
        $('#devicesrno2').val("");
        $('#txtamt2').val("");
        $('#txtfee2').val("0");
        $("#radio12").click();
        $('#getbalanceview2').hide();
        $('#aeps-Confirm-Payment2').hide();
        $('#AEPSFOUND2').hide();
        $('#nextfund2').show();
        $('#addaccount-balance2').hide();
        $('#scanshowfund2').hide();
        $("#Devicerror2").hide();
        $("#transferfnd2").show();
        $("#transferser2").show();

        scanfing()
    }
</script>
<script>
    function PurchaseAEPS(e) {
        $('#HDServicesname').val('');
        $.ajax({
            url: '@Url.Action("ServiceCharge","Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                $('#PaymentTypeaeps').text(data.PaymentType);
                $('#Priceaeps').text(data.Price);
                $('#firstpurAEPS').hide();
                $('#firstpurALLservice').hide();
                $('#firstpurBOTHservice').hide();
                $('#secpurAEPS').show();
                $('#HDServicesname').val(e);
            }
        });
    }
    function FinalPurchaseAEPS() {
         $.ajax({
            url: '@Url.Action("ServicePurchase","Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {
                 $('.loader').hide();
                 if (data.Status == "Success") {
                     AEPS();

                 }
                 else {
                            $('#errmsgaeps').text(data.Message);
                 }

            }
        });
    }
</script>
<script>
    function backshow() {
        $('.sho').hide();
        $('.hedn').show();
    }
</script>
<script>
    function AEPS() {

        $('#HDServicesname').val('');
        $('#txtusernm').val();
        $('#firstpurAEPS').hide();
        $('#firstpurALLservice').hide();
        $('#firstpurBOTHservice').hide();
        $('#secpurAEPS').hide();
        $('.sho').hide();
        $('#ministat').hide();
        $('.display-nonescanp').show();
        $("#banklistshow").empty();
        $('#devicesrno').val("");
        $('#txtaadhar').val("");
        $('#txtphone').val("");
        $('#cap').val("");
        $('#devicesrno').val("");
        $('#txtamt').val("");
        $('#txtfee').val("0");
        $("#radio1").click();
        $('#getbalanceview').hide();
        $('#aeps-Confirm-Payment').hide();
        $('#AEPSFOUND').hide();
        $('#nextfund').show();
        $('#addaccount-balance').hide();
        $('#scanshowfund').hide();
        $("#Devicerror").hide();
        $("#transferfnd").show();
        $("#transferser").show();

        $.ajax({
            url: '@Url.Action("AEPS","Home")',
            cache: false,
            type: "GET",
            //beforeSend: function() {
            //      $("#loadaeps").show();
            // },
            success: function (data) {

              var output = JSON.parse(data);
              var status = output.status;
                if (status == "OK") {
                    var frm = output.From;

                    if (frm == "SBA") {
                        var list = JSON.parse(output.banklist);
                        var sts = list.Content.ADDINFO.status;

                        if (sts == true) {
                            var count = list.Content.ADDINFO.codeValues.length;
                            var i;
                            var ddlCustomers = $("#banklistshow");
                            ddlCustomers.append(
                                $('<option></option>').val("").html("Select Bank")
                            );
                            for (i = 1; i < count; i++) {
                                if (frm == "SBA") {
                                    ddlCustomers.append(
                                        $('<option></option>').val(list.Content.ADDINFO.codeValues[i].code).html(list.Content.ADDINFO.codeValues[i].value)
                                    );
                                }
                                else {
                                    ddlCustomers.append(
                                        $('<option></option>').val(list.Content.ADDINFO.data[i].iinno).html(list.Content.ADDINFO.data[i].bankName)
                                    );
                                }
                            }
                        }
                    }
                    else {
                        var list = JSON.parse(output.banklist);
                        var sts = list.status;

                        if (sts == true) {
                            var count = list.data.length;
                            var i;
                            var ddlCustomers = $("#banklistshow");
                            ddlCustomers.append(
                                $('<option></option>').val("").html("Select Bank")
                            );
                            for (i = 1; i < count; i++) {
                                ddlCustomers.append(
                                    $('<option></option>').val(list.data[i].iinno).html(list.data[i].bankName)
                                );

                            }
                        }
                        }

                    var aepsid = output.aepsid;
                    $('#errormessgeshow').text("");
                    $('#AEPSID').text(aepsid);
                    $('#notfound').hide();
                    $('#gotoscan').show();
                }
                   //scanfing();
                else if (status == "NOTOK")
                {
                    var msg = output.msg;
                     if (msg == "Firstlly Purchase this Service." ||msg  =="AEPS Service is Expired.") {
                         $('#firstpurAEPS').show();
                         $('#firstpurALLservice').hide();
                         $('#firstpurBOTHservice').hide();
                    }
                    else {
                          $('#KYCNotComp').text(msg);
                    }

                    $("#loadaeps").hide();

                    $('#notfound').hide();
                    $('#gotoscan').hide();
                    $('#AEPSID').text("");
                    $('#AEPSFOUND').hide();

                }
                else if (status == "NOTOKALL")
                {
                    var msg = output.msg;
                    if (msg == "Firstlly Purchase this Service." || msg == "AEPS Service is Expired.") {
                        $('#firstpurAEPS').hide();
                         $('#firstpurALLservice').show();
                        $('#firstpurBOTHservice').hide();
                    }
                    else {
                          $('#KYCNotComp').text(msg);
                    }

                    $("#loadaeps").hide();

                    $('#notfound').hide();
                    $('#gotoscan').hide();
                    $('#AEPSID').text("");
                    $('#AEPSFOUND').hide();

                }
                else if (status == "NOTOKBoth") {
                    var msg = output.msg;
                    if (msg == "Firstlly Purchase this Service." || msg == "AEPS Service is Expired.") {

                        $('#firstpurAEPS').hide();
                        $('#firstpurBOTHservice').show();
                        $('#firstpurALLservice').hide();

                    }
                    else {
                        $('#KYCNotComp').text(msg);
                    }

                    $("#loadaeps").hide();

                    $('#notfound').hide();
                    $('#gotoscan').hide();
                    $('#AEPSID').text("");
                    $('#AEPSFOUND').hide();

                }
                else {
                    var msg = output.msg;
                    $("#loadaeps").hide();
                    $('#errormessgeshow').text(msg);
                    $('#notfound').show();
                    $('#gotoscan').hide();
                    $('#AEPSID').text("");
                    $('#AEPSFOUND').hide();
                }
            },
            complete: function () {
                $("#remainretailer").load(location.href + " #remainretailer");
                onloaddata();
               $("#loadaeps").hide();
            },
            error: function () {
                $("#remainretailer").load(location.href + " #remainretailer");
               $("#loadaeps").hide();
               }

        })
                 $.ajax({
            url: '@Url.Action("AEPSreportnew","Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
              success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
        }

        function onloaddata() {
             $.ajax({
            url: '@Url.Action("AEPSreportnew","Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
        })


        }
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>


<script>
    $('input[type=radio][name=radio]').change(function () {
        $('#txtphone').attr('readonly', false);
        $('#txtaadhar').attr('readonly', false);
        $('#txtusernm').attr('readonly', false);
        $('#txtamt').attr('readonly', false);
        $('#txtfee').attr('readonly', false);
        $("#nextfund").show();
        $("#nextclick").hide();
        if (this.value == 'ministatement') {
            $('#txterrortransfer').text("");
            $("#transferfnd").hide();
            $("#transferser").show();
            $('#nextfund').hide();
            $('#addaccount-balance').html('Get Statement >');
            $('#addaccount-balance').show();
            $("#transferser").hide();
            $('#serfeeshow').hide();
            $('#wtext').text("Withdraw Rs.");

        }
        if (this.value == 'balance') {
            $('#txterrortransfer').text("");
            $("#transferfnd").hide();
            $("#transferser").hide();
            $('#nextfund').hide();
            $('#addaccount-balance').html('Get Balance >');
            $('#addaccount-balance').show();
            $('#serfeeshow').hide();
            $('#wtext').text("Withdraw Rs.");

        }
        else if (this.value == 'transfer') {
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Withdraw Rs.");
            $('#nextfund').html('Confirm & Withdraw');
        }
        else if (this.value == 'aadharpay') {
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Withdraw Rs.");
            $("#nextfund").hide();
            $("#nextclick").show();
            // $('#nextfund').html('Confirm & Withdraw');
        }
        else if (this.value == 'depositwithotp') {
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Deposit Rs.");
            $('#nextfund').html('Confirm & Deposit');
        }
        else if (this.value == 'deposit') {
            $('#txterrortransfer').text("");
            $('#nextfund').show();
            $("#transferfnd").show();
            $("#transferser").show();
            $('#addaccount-balance').hide();
            $('#serfeeshow').show();
            $('#wtext').text("Deposit Rs.");
            $('#nextfund').html('Confirm & Deposit');
        }
    });
</script>
<script>

    function nextclick() {
        var txtphone = $('#txtphone').val();
        var amount = $('#txtamt').val();
        var myRadio = $("input[name=radio]");
        var checkedValue = myRadio.filter(":checked").val();
        if (checkedValue == "aadharpay") {
            type = "M";
            $('#txtphone').attr('readonly', true);
            $('#txtaadhar').attr('readonly', true);
            $('#txtusernm').attr('readonly', true);
            $('#txtamt').attr('readonly', true);
            $('#txtfee').attr('readonly', true);
            if (amount >= 5000) {
                $.ajax({
                    url: "@Url.Action("GenerateOTPFOR_AEPS_AADHARPAY", "Home")",
                    cache: false,
                    type: "POST",
                    data: { usermobile: txtphone, typess: type, amount: amount },
                    success: function (data) {

                        var stscode = data.status;
                        var msg = data.Details;
                        if (stscode == "OTP") {

                            $('#otpfortransfer').show();
                            $('#nextfund').show();
                            $('#nextclick').hide();

                        }
                        else {
                            //swal("Oops!!", msg, "error");
                            $('#OTPMSG').text(msg);
                        }
                    }
                })
            }
            else {
                $('#nextfund').show();
                $('#nextclick').hide();
            }
        }

    }


    function Nextransfer() {
        var otpss = "";
        var txtamt = $('#txtamt').val();
        var myRadio = $("input[name=radio]");
        var checkedValue = myRadio.filter(":checked").val();
        var type = "CW";
        if (checkedValue == "aadharpay") {
            type = "M";
            if (txtamt > 5000) {
                otpss = $('#txtotptransfer').val();
            }
        }
        if (checkedValue == "depositwithotp") {
            type = "CDO";
        }
        if (checkedValue == "deposit") {
            type = "CD";
        }
        $("#txterrortransfer").text("");
        var txtaadhar = $('#txtaadhar').val();
        var txtphone=$('#txtphone').val();
        var bankname = $("#banklistshow").find("option:selected").text();
        var iin = $('#banklistshow').val();
        var cap = $('#cap').val();

        var remark = "";

        var servicefee =  $('#txtfee').val();
        var devicesrno = $('#devicesrno').val();
        var usernm = $('#txtusernm').val();
        var devicenm = $('#txtdevice').val();
        var pidata = $('#pidata_doc').val();
        pidata = escape(pidata);
        if (txtaadhar != "" && txtphone != "" && cap != "" && devicesrno != "" && txtamt != "" && bankname!="Select Bank") {
            var chk = validate(txtaadhar);
            if (chk == true) {
                $.ajax({
                    url: '@Url.Action("AEPS","Home")',
                    cache: false,
                    data: { mobile: txtphone, uid: txtaadhar, bank: bankname, iin: iin, cap: cap, type: type, amount: txtamt, remark: remark, DeviceSrNo: devicesrno, servicefee: servicefee, usernm: usernm, devicenm: devicenm, userotp: otpss, pidata: pidata },
                    type: "POST",
                    beforeSend: function () {
                        $('.loader').show();
                    },
                    success: function (data) {
                        var sts = data.Status;

                        if (sts == "Failed") {
                            var msg = data.Message;

                            $('#cap').val("");
                            $('#devicesrno').val("");
                            $("#txterrortransfer").text(msg);
                            $('#cap').val("");
                            $('#devicesrno').val("");
                            $('#nextfund').html('Confirm & Withdraw')
                        }
                        else {

                            var userinfo = data.userinfo;
                            var taxenable = userinfo.taxenable;
                            var paid = 0; var tax = 0;
                            if (taxenable == "N") {
                                paid = parseFloat(txtamt) - parseFloat(servicefee);
                            }
                            else {
                                tax = (parseFloat(servicefee) * 18) / 100;
                                paid = parseFloat(txtamt) - parseFloat(servicefee) - parseFloat(tax);
                            }

                            $('#aeps-Confirm-Payment').show();
                            $('#AEPSFOUND').hide();
                            $('#cap').val("");
                            $('#devicesrno').val("");
                            $('#amountaepssuccess').text(txtamt);
                            var rrnno = "RRN - " + data.Message.BankRrn;
                            $('#rrnaepssuccess').text(rrnno);
                            $("#logochkaepssuccess").attr("src", "../.." + userinfo.logo);
                            $('#aepssuccessfirm').text(userinfo.firmname);
                            $('#aepssuccessBankname').text(bankname);
                            $('#aepssuucessaadhar').text(txtaadhar);
                            $('#aepssuccessmobile').text(txtphone);
                            $('#aepssuccessremain').text(data.Message.BalanceAmount);
                            $('#aepssuccessamt').text(txtamt);
                            $('#aepssuccessfee').text(servicefee);
                            $('#aepssuccesstax').text(tax);
                            $('#paidamt').text(paid);
                        }
                    },
                    complete: function () {
                        $("#remainretailer").load(location.href + " #remainretailer");
                        $('.loader').hide();
                           onloaddata();
                    },
                    error: function () {
                        $("#remainretailer").load(location.href + " #remainretailer");
                        $('.loader').hide();
                    }
                })

            }
            else {
                $('#txterrortransfer').text("⚠ Enter Valid AADHAR");
            }
        }
        else {
            if (cap == "") {
                $('#txterrortransfer').text("⚠ Scan Again");
            }
            else {
                $('#txterrortransfer').text("⚠ All Field Are Mandatory");
            }
        }
    }
</script>
<script>
    function Getbalance() {
        var val = $('input[name="radio"]:checked').val();
        $("#txterrortransfer").text("");
        var txtaadhar = $('#txtaadhar').val();
        var txtphone=$('#txtphone').val();
        var bankname = $("#banklistshow").find("option:selected").text();
        var iin = $('#banklistshow').val();
        var cap = $('#cap').val();
        var txtfee = $('#txtfee').val();
        var usernm = $('#txtusernm').val();
        var devicenm = $('#txtdevice').val();
        var type = "";
        if (val == "balance") {
               type = "BE";
        }
        else {
               type = "SAP";
        }

        var remark = "";
        var txtamt = 0;
        var devicesrno = $('#devicesrno').val();
        var pidata = $('#pidata_doc').val();
        pidata = escape(pidata);
        if (txtaadhar != "" && txtphone != "" && cap != "" && devicesrno != "" && bankname!="Select Bank") {
            var chk = validate(txtaadhar);
            if (chk == true) {
                var validnumber = txtphone.length;
                if (validnumber == 10) {
                    $.ajax({
                        url: '@Url.Action("AEPS", "Home")',
                        cache: false,
                        data: { mobile: txtphone, uid: txtaadhar, bank: bankname, iin: iin, cap: cap, type: type, amount: txtamt, remark: remark, DeviceSrNo: devicesrno, servicefee: txtfee, usernm: usernm, devicenm: devicenm, pidata: pidata},
                        type: "POST",
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (data) {

                            var sts = data.Status;


                            if (sts == "Failed") {
                                var msg = data.Message;
                                $('#cap').val("");
                                $('#devicesrno').val("");
                                $("#txterrortransfer").text(msg);
                            }
                            else {
                                if (type == "SAP") {
                                    var msg1111 = data.Message;

                                    var ouut = JSON.parse(msg1111);
                                    var mini_statement = ouut.miniStatementStructureModel;

                                    var len = mini_statement.length;

                                    var openbal = ouut.balanceAmount;
                                    var closebal = ouut.balanceAmount;
                                    for (i = 0; i < len; i++) {
                                        var date = mini_statement[i].date;
                                        var txnType = mini_statement[i].txnType;
                                        var amount = mini_statement[i].amount;
                                        if (txnType == "Cr") {
                                            openbal = parseFloat(closebal) - parseFloat(amount);
                                        }
                                        else {
                                            openbal = parseFloat(closebal) + parseFloat(amount);
                                        }

                                        var markup = "<tr><td>" + date + "</td><td>" + openbal.toFixed(2) + "</td><td>" + txnType + "</td><td>" + amount + "</td><td>" + closebal.toFixed(2) + "</td></tr>";

                                        $("#statementtbody").append(markup);

                                        closebal = openbal;
                                    }
                                      $('#cap').val("");
                                    $('#devicesrno').val("");
                                      var userinfo = data.userinfo;
                                       $('#txtfeeservice').text("₹ "+txtfee);
                                        $('#txtbankstate').text(bankname);
                                        $('#txtbankaadhar').text(txtaadhar);
                                    $('#txtfrmstate').text(userinfo.firmname);
                                   var today = new Date();
                    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                                        $('#txtfrmdate').text(date);
                                    $('#ministat').show();
                                    $('#AEPSFOUND').hide();
                                }
                                else {
                                    var userinfo = data.userinfo;
                                    $('#cap').val("");
                                    $('#devicesrno').val("");
                                    var rrnno = "RRN - " + data.Message.BankRrn;
                                    $('#rrnchk').text(rrnno);
                                    $('#aepsbankname').text(bankname);
                                    $('#aepsaadhar').text(txtaadhar);
                                    $('#aepsmobile').text(txtphone);
                                    $("#logochkaeps").attr("src", "../.." + userinfo.logo);
                                    $('#remfirmaeps').text(userinfo.firmname);
                                    $('#aepsremain').text(data.Message.BalanceAmount);
                                    $('#getbalanceview').show();
                                    $('#AEPSFOUND').hide();
                                }
                            }
                        },
                        complete: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                        },
                        error: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                        }
                    })
                }
                else {
                    $('#txterrortransfer').text("Enter Valid Phone Number");
                }
            }
            else {
                 $('#txterrortransfer').text("Enter Valid AADHAR");
            }
        }
        else {
             if (cap.length == "") {
                   $('#txterrortransfer').text("Scan Again");
            }
            else {
                $('#txterrortransfer').text("All Field Are Mandatory");
            }
        }
    }
</script>
<script>
    function Reset() {
        $('#txtaadhar').val("");
        $('#txtphone').val("");
        //$('#banklistshow').val("");
        $('#txtaadhar').val("");
        $('#txtamt').val("");
        $('#txtfee').val("");
        $('#txterrortransfer').text("");
        $('#txtphone').attr('readonly', false);
        $('#txtaadhar').attr('readonly', false);
        $('#txtusernm').attr('readonly', false);
        $('#txtamt').attr('readonly', false);
        $('#txtfee').attr('readonly', false);
        var myRadio = $("input[name=radio]");
        var checkedValue = myRadio.filter(":checked").val();
        $('#txtotptransfer').val("");
        if (checkedValue == "aadharpay") {

            $("#otpfortransfer").hide();
            $("#nextfund").hide();
            $("#nextclick").show();

        }
    }
</script>

<script>
    function print(e) {
        if (e == "balance") {
            var rrnno = $('#rrnchk').text();
            var firmname = $('#remfirmaeps').text();
            var Bankname = $('#aepsbankname').text();
            var aadhar = $('#aepsaadhar').text();
            var mobile = $('#aepsmobile').text();
            var remain = $('#aepsremain').text();
            var url = "@Url.Action("Print_aeps_balance_Pdf", "Home")?rrnno=" + rrnno + "&firmname=" + firmname + '&Bankname=' + Bankname + "&aadhar=" + aadhar + "&mobile=" + mobile + "&remain=" + remain;
            window.open(url, "_blank")
        }
        else if (e == "statemenUrlrl")
        {
             var txtbankstate = $('#txtbankstate').text();
            var txtfrmstate = $('#txtfrmstate').text();
            var txtbankaadhar = $('#txtbankaadhar').text();
            var txtfrmdate = $('#txtfrmdate').text();
            var txtfeeservice = $('#txtfeeservice').text();
            var statementtbody = $("#statementtbody").html();
            var sttt= JSON.stringify(statementtbody)
            var url = "@Url.Action("Print_aeps_ministatement_Pdf", "Home")?txtbankstate=" + txtbankstate + "&txtfrmstate=" + txtfrmstate + "&txtbankaadhar=" + txtbankaadhar + "&txtfrmdate=" + txtfrmdate + "&txtfeeservice=" + txtfeeservice+"&statementtbody="+sttt;
            window.open(url, "_blank")
        }
        else if (e=="transfer") {
            var rrnno = $('#rrnaepssuccess').text();
            var firmname = $('#aepssuccessfirm').text();
            var Bankname = $('#aepssuccessBankname').text();
            var aadhar = $('#aepssuucessaadhar').text();
            var mobile = $('#aepssuccessmobile').text();
            var remain = $('#aepssuccessremain').text();
            var aepssuccessamt = $('#aepssuccessamt').text();
            var aepssuccessfee = $('#aepssuccessfee').text();
            var aepssuccesstax = $('#aepssuccesstax').text();
            var paidamt = $('#paidamt').text();
            var url = "@Url.Action("Print_aeps_transfer_Pdf", "Home")?rrnno=" + rrnno + "&firmname=" + firmname + '&Bankname=' + Bankname + "&aadhar=" + aadhar + "&mobile=" + mobile + "&remain=" + remain+"&amount="+aepssuccessamt+"&servicefee="+aepssuccessfee+"&tax="+aepssuccesstax+"&paidamount="+paidamt;
            window.open(url, "_blank")
        }
        else if (e=="aadharpay") {
            var rrnno = $('#rrnaepssuccess').text();
            var firmname = $('#aepssuccessfirm').text();
            var Bankname = $('#aepssuccessBankname').text();
            var aadhar = $('#aepssuucessaadhar').text();
            var mobile = $('#aepssuccessmobile').text();
            var remain = $('#aepssuccessremain').text();
            var aepssuccessamt = $('#aepssuccessamt').text();
            var aepssuccessfee = $('#aepssuccessfee').text();
            var aepssuccesstax = $('#aepssuccesstax').text();
            var paidamt = $('#paidamt').text();
            var url = "@Url.Action("Print_aeps_transfer_Pdf", "Home")?rrnno=" + rrnno + "&firmname=" + firmname + '&Bankname=' + Bankname + "&aadhar=" + aadhar + "&mobile=" + mobile + "&remain=" + remain+"&amount="+aepssuccessamt+"&servicefee="+aepssuccessfee+"&tax="+aepssuccesstax+"&paidamount="+paidamt;
            window.open(url, "_blank")
        }
    }
</script>
<script>
    // multiplication table
    const d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
    ]

    // permutation table
    const p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
    ]

    // validates Aadhar number received as string
    function validate(aadharNumber) {
        let c = 0
        let invertedArray = aadharNumber.split('').map(Number).reverse()

        invertedArray.forEach((val, i) => {
            c = d[c][p[(i % 8)][val]]
        })

        return (c === 0)
    }
</script>
<script>
    function drivershow() {

        $('#getbalanceview').hide();
        $('#aeps-Confirm-Payment').hide();
        $('#AEPSFOUND').hide();
        $('#nextfund').show();
        $('#addaccount-balance').hide();
        $('#scanshowfund').hide();
        $("#Devicerror").hide();
        $("#transferfnd").show();
        $("#transferser").show();
    }
</script>

<script>
    $(function () {
        $('.display-nonescanp').click(function () {
            $(this).css('display', 'none')
        });
    });
</script>

<!-------Retailer Outlet-------->
<script>
    function SendOTP() {
        $('.loader').show();
        var url = '@Url.Action("RetailerOutletRegister", "Home")'
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                $('.loader').hide();
                var stscode = data.Status;
                var msg = data.Message;
                if (stscode == "TXN") {

                    $('#otpShow').css('display', 'block');
                    $('#otpSubmit').css('display', 'block');
                    $('#OTPMSG').text(msg);
                }
                else {
                    //swal("Oops!!", msg, "error");
                    $('#OTPMSG').text(msg);
                }
            }
        })
    }
</script>

<script>
    function otpverify() {
        $('.loader').show();
        var otp = $('#otpShow').val();
        var url = '@Url.Action("EnterOtp", "Home")'
        $.ajax({
            url: url,
            data: { otp:otp },
            cache: false,
            type: "POST",
            success: function (data) {
                $('.loader').hide();
                var stscode = data.Status;
                var msg = data.Message;
                if (stscode == "TXN") {

                      //swal("Success!!", "AEPS Active DONE", "success");
                    location.reload();
                    $('#OTPMSG').text(msg).css('color','green');
                }
                else {
                    $('#OTPMSG').text(msg).css('color','red');
                    //swal("Oops!!", msg, "error");
                }
            }
        })
    }
</script>

<script>
    $(function () {
        $("#submitMobile").click(function () {
            $(".hedn").hide();
        });
        $("#submitMobile").click(function () {
            $(".sho").show();
        });
    });
</script>
<script>
    $("#txtphone").keyup(function () {
        if (this.value.length == 10) {
            var mobile = $('#txtphone').val();
              var url = '@Url.Action("AEPSNAMEFIND", "Home")'
            $.ajax({
                url: url,
                data: { mobile: mobile },
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#txtusernm').val(data);
                }
            })
        }
    });
</script>