@model List<Vastwebmulti.Models.prepaid_card_Transaction>


<style>


    th, td {
        padding: 10px;
        border: 1px solid;
    }

    table {
        width: 100%;
    }

  /*  #cards_table {
       margin:
    }
*/
    
</style>

<div class="page-header-third">
    <div class="timer_off">

        @if (Session["succes"] != "")
        {
            @Session["succes"]
            <button onclick="craft()">OK</button>
        }
    </div>



    @*@Session["succes"]*@
    <div class="cards_table" id="cards">
        <table>
            <tr>
                <th>STATUS</th>
                <th>AMOUNT</th>
                <th>QUANTITY</th>
                <th>COMM</th>
                <th>REMAIN PRE</th>
                <th>REMAIN POST</th>
                <th>FINAL BALANCE</th>
            </tr>

            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Status</td>
                    <td>@i.Amount</td>
                    <td>@i.Quantity</td>
                    <td>@i.Rem_comm</td>
                    <td>@i.Rem_remain_pre</td>
                    <td>@i.rem_remain_post</td>
                    <td>@i.rem_final</td>
                </tr>

            }



        </table>

    </div>
</div>

<script>
   
     

    function craft() {
       
        $('.timer_off').hide();
            
        
    }
    //else {
    //    const myTimeout = setTimeout(my, 5000);

    //    function my() {
    //        document.getElementById("cards_table").style.display = "none"
    //    }
 /*   }*/
</script>