<style>
    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .firstdeposit-classdespo {
        width: 100%;
        float: left;
    }

        .firstdeposit-classdespo .col-md-5, .firstdeposit-classdespo .col-md-7 {
            padding-left: 0;
        }

        .firstdeposit-classdespo .col-md-7 {
            padding-right: 0px;
        }

        .firstdeposit-classdespo .col-md-5 span {
            padding: 0;
        }

        .firstdeposit-classdespo .col-md-7 span.select2, .firstdeposit-classdespo .col-md-7 input, #full .firstdeposit-classdespo .col-md-7 span.select2 {
            width: 100% !important;
            float: left !important;
            margin: 0px !important;
        }

        .firstdeposit-classdespo .col-md-7 span {
            padding: 0;
        }

    #full .firstdeposit-classdespo .col-md-7 span .select2-selection__arrow {
        position: absolute !important;
    }

        #full .firstdeposit-classdespo .col-md-7 span .select2-selection__arrow b {
            top: 55% !important;
        }

    .select2-container--open .select2-dropdown--below {
        width: 229px !important;
    }

    #full .firstdeposit-classdespo .col-md-7 span.select2 .select2-selection {
        border-radius: 0;
        height: 34px;
        padding-top: 3px;
        border: 1px solid #ddd;
    }

    .firstdeposit-classdespo .col-md-12 {
        height: auto;
        width: 100%;
        float: left;
    }

        .firstdeposit-classdespo .col-md-12 button.button-money {
            margin-bottom: 20px;
            float: right;
            margin-top: 8px;
        }

    .firstdeposit-classdespo .col-md-7 span {
        font-weight: 400;
        text-transform: capitalize;
        float: left;
        position: relative;
        top: 3px;
    }

    .firstdeposit-classdespo .col-md-7 .select2 span {
        position: static;
    }

    .firstdeposit-classdespo .col-md-5 span {
        text-transform: capitalize;
    }

    .confirmdetails-cash {
        width: 100%;
        float: left;
    }

    .casdepostivebackclassnew {
        width: 100%;
        float: left;
    }

        .casdepostivebackclassnew .col-md-12 {
            background: #f5f5f5;
            border: 1px solid #ddd;
            padding: 8px 8px;
            margin-bottom: 10px;
        }

            .casdepostivebackclassnew .col-md-12 .col-md-7 * {
                text-align: right;
                float: right;
            }

    .confirmcasdiposit-button {
        width: 100%;
        float: left;
    }

    .firstdeposit-classdespo .col-md-12 .col-md-4 {
        padding: 0;
        width: auto;
        float: left;
        padding-right: 2px;
    }

    .confirmcasdiposit-button input, .confirmcasdiposit-button button {
        width: 100% !important;
        margin: 0 !important;
    }

    .firstdeposit-classdespo .confirmcasdiposit-button {
        padding: 0;
        display: flex;
    }

    .col-md-12.errowcasdepotiveclass {
        padding: 0;
    }

    .errowcasdepotiveclass span {
        padding: 0;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .casdepostivebackclassnew-last {
        width: 100%;
        float: left;
    }

        .casdepostivebackclassnew-last .col-md-12 span {
            padding: 0;
            font-weight: 400;
            float: left;
        }

            .casdepostivebackclassnew-last .col-md-12 span:last-child {
                float: right;
            }

            .casdepostivebackclassnew-last .col-md-12 span:first-child {
                text-transform: capitalize;
            }

        .casdepostivebackclassnew-last .col-md-12 {
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 7px 0;
        }

    @@media screen and (max-width:766px) {
        .casdepostivebackclassnew .col-md-12 .col-md-5 {
            width: auto;
            float: left;
            padding-right: 0;
        }

        .casdepostivebackclassnew .col-md-12 .col-md-7 {
            width: auto;
            float: right;
        }

        .firstdeposit-classdespo .confirmcasdiposit-button {
            display: block;
        }
    }
</style>
<div>
    <div id="Firstdeposit">
        <fieldset>
            <legend class="bodycolormy" id="first_legend">Cash Deposit With Otp</legend>
            <div id="" class="firstdeposit-classdespo">
                <div class="col-md-12 remitter_button button-responshivecce">
                    <div class="col-md-5 remitter_button button-responshivecce">
                        <strong class="changere11" style="">Bank Name</strong>
                    </div>
                    <div class="col-md-7 remitter_button button-responshivecce">
                        <select id="Cashbanklistshow">
                        </select>
                        <span id="errorcashbank" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-12 remitter_button button-responshivecce" id="user_name" style="display: none;">
                    <div class="col-md-5 remitter_button button-responshivecce">
                        <span>Name:</span>
                    </div>
                    <div class="col-md-7 remitter_button button-responshivecce">
                        @Html.TextBox("UserName", "", new { placeholder = "Enter Name", required = "required", @style = "width:100%;" })
                        <span id="erroraccountno" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-12 remitter_button button-responshivecce" id="accounbox">
                    <div class="col-md-5 remitter_button button-responshivecce">
                        <span>Account No:</span>
                    </div>
                    <div class="col-md-7 remitter_button button-responshivecce">
                        @Html.TextBox("cashaccountno", "", new { placeholder = "Enter Account Number", required = "required", @style = "width:100%;" })
                        <span id="erroraccountno" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-12 remitter_button button-responshivecce">
                    <div class="col-md-5 remitter_button button-responshivecce">
                        <span>Mobile Number:</span>
                    </div>
                    <div class="col-md-7 remitter_button button-responshivecce">
                        @Html.TextBox("CashPhoneno", "", new { placeholder = "Enter Mobile Number", onkeypress = "return isNumber(event)", required = "required", @style = "width:100%;" })
                        <span id="errorPhoneno" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-12 remitter_button button-responshivecce">
                    <div class="col-md-5 remitter_button button-responshivecce">
                        <span>Amount:</span>
                    </div>
                    <div class="col-md-7 remitter_button button-responshivecce">
                        @Html.TextBox("CashAmount", "", new { placeholder = "Enter Amount", onkeypress = "return isNumber(event)", required = "required", @style = "width:100%;" })
                        <span id="errorCashAmount" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-12 remitter_button button-responshivecce">
                    <button type="button" id="btncashsend" name="btncashsend" onclick="First()" class="button-money">
                        Next&nbsp;&nbsp;<i class="fa fa-angle-right" style="top:1px; font-size:19px;float:right;right:15px;"></i>
                    </button>
                </div>
            </div>

        </fieldset>
    </div>

    <div id="seconddeposit" class="firstdeposit-classdespo" style="display:none;">

        @*<div class="confirmdetails-cash">
                <span>Confirm Detail</span>
            </div>*@

        <div class="casdepostivebackclassnew">

            <div class="col-md-12">
                <div class="col-md-5">
                    <span>Bank Name </span>
                </div>
                <div class="col-md-7">
                    <span id="confirmbank"></span>
                </div>
            </div>
            <div class="col-md-12" id="accountno_second_box">
                <div class="col-md-5">
                    <span>Account Number </span>
                </div>
                <div class="col-md-7">
                    <span id="confirmaccount"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <span>Phone number </span>
                </div>
                <div class="col-md-7">
                    <span id="confirmphonenumber"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">
                    <span>Amount </span>
                </div>
                <div class="col-md-7">
                    <span id="confirmamount"></span>
                </div>
            </div>

            <div id="cashotpshow" class="col-md-12" style="display:none;padding-top:0;padding-bottom:0;padding-right:0;">
                @Html.Hidden("hidefingpaytransid")
                @Html.Hidden("hidechkpid")
                <div class="col-md-5">
                    <span style="padding-top: 7px;">Enter Otp</span>
                </div>
                <div class="col-md-7">
                    @Html.TextBox("txtotp", "", new { placeholder = "Enter Otp", required = "required", @style = "width:100%;border:0;text-align:left;" })
                    <span id="cashotperror" style="color:red;font-weight:400"></span>
                </div>
            </div>
            <div id="bencashshow" class="col-md-12" style="display:none;">
                <div class="col-md-5">
                    <span>Beneficry Name</span>
                </div>
                <div class="col-md-7">
                    @Html.Hidden("hidebenname")
                    <span id="spanbenname"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12 errowcasdepotiveclass">
            <span id="wrongotp" style="color:red;"></span>
        </div>
        <div class="col-md-12 errowcasdepotiveclass">
            <span style="color:red;" id="Cashfailedfirst"></span>
        </div>
        <div class="col-md-12 confirmcasdiposit-button">
            <div class="col-md-4">
                <input type="button" value="Cancel" onclick="CashDeposit()" />
            </div>
            @*<div class="col-md-4">
                    <input type="button" value="Cancel" onclick="cashCancel()" />
                </div>*@
            <div id="sendotpdiv" class="col-md-4">
                <input type="button" style="background: var(--main-bg-lcolor); color: #fff;" value="Confirm" onclick="Sendotp()" />
            </div>
            <div id="cashsubmitotpdiv" class="col-md-4" style="display:none;">
                <input type="button" style="background: #a4a0a0;" value="SubmitOTP" onclick="cashsubmitotp()" />
            </div>
            <div id="cashdepositdiv" class="col-md-4" style="display:none;">
                <input type="button" style="background: var(--main-bg-lcolor); color: #fff;" value="Make Payment" onclick="FundDeposit()" />
            </div>
        </div>


    </div>

    <div id="aftermsgshow" class="firstdeposit-classdespo" style="display:none;">
        <div class="casdepostivebackclassnew-last">
            <div class="col-md-12">
                <span>Status : </span> <span id="cashstatusmsg"></span>
            </div>
            <div class="col-md-12">
                <span>Message : </span> <span id="cashmessageshow"></span>
            </div>
            <div class="col-md-12">
                <span>Bank RRN : </span> <span id="cashbankrrn"></span>
            </div>
            <div class="col-md-12">
                <span>Beneficiary Name : </span> <span id="cashbenname"></span>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <input type="button" value="New Transaction" onclick="CashDeposit()" style="width: auto; float: right; background: var(--main-bg-lcolor); color: #fff;margin:0px;" />
        </div>
    </div>


</div>
<div class="loader"></div>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<script>
    function CashDeposit() {
        $('#cashaccountno').val("");
        $('#CashPhoneno').val("");
        $('#CashAmount').val("");
        $('#errorCashAmount').text("");
        $('#errorPhoneno').text("");
        $('#erroraccountno').text("");
        $('#errorcashbank').text("");
        $('#hidefingpaytransid').val("");
        $('#hidechkpid').val("");
        $('#cashstatusmsg').text("");
        $('#cashmessageshow').text("");
        $('#cashbankrrn').text("");
        $('#cashbenname').text("");
        $('#Firstdeposit').show();
        $('#seconddeposit').hide();
        $('#cashotpshow').hide();
        $('#aftermsgshow').hide();
        $('#txtotp').val("");
        $('#cashotperror').text("");
        $('#wrongotp').text("");
        $('#cashsubmitotpdiv').hide();
        $('#sendotpdiv').show();
        $('#cashotpshow').hide();
        $('#Cashfailedfirst').text("");
        $('#bencashshow').hide();
        $('#hidebenname').val("");
        $('#spanbenname').text("");
        $('#cashdepositdiv').hide();
        $('#Cashbanklistshow').empty();
        $.ajax({
            url: '@Url.Action("CashDeposit", "Home")',
            cache: false,
            type: "GET",
            success: function (data) {
                var output = JSON.parse(data);
                var list = JSON.parse(output.banklist);
                var sts = list.status;
                if (sts == true) {
                    var count = list.data.length;
                    var i;
                    var ddlCustomers = $("#Cashbanklistshow");
                    ddlCustomers.append(
                        $('<option></option>').val("").html("Select Bank")
                    );
                    ddlCustomers.append(
                        $('<option></option>').val("paytm").html("Paytm Bank")
                    );
                    for (i = 1; i < count; i++) {
                        if (list.data[i].iinno == "508534") {
                            ddlCustomers.append(
                                $('<option></option>').val(list.data[i].iinno).html(list.data[i].bankName)
                            );
                            return;
                        }
                    }
                }
            }
        });
          $.ajax({
            url: '@Url.Action("cashDepositreportnew", "Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
          })

    }

    $("#Cashbanklistshow").change(e => {
        var val = e.target.value;

        if (val == 'paytm') {
            $('#first_legend').text('Paytm Deposit With Otp');
            $('#accounbox').hide();
            $('#user_name').show();
        }
        else {
            $('#first_legend').text('Cash Deposit With Otp');
            $('#accounbox').show();
            $('#user_name').hide();
        }
    })
</script>
<script>
    function reloadcash() {
          $.ajax({
            url: '@Url.Action("cashDepositreportnew", "Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
    }
</script>
<script>
    function First() {
        var bank_val = $("#Cashbanklistshow").val();
        var banknm = $('#Cashbanklistshow').val();
        var bankname = $("#Cashbanklistshow option:selected").text();
        var acc = $('#cashaccountno').val();
        var phone = $('#CashPhoneno').val();
        var amt = $('#CashAmount').val();
        if (banknm == "") {
            $('#errorcashbank').text("Please Select Any Bank");
        }
        else if (bank_val != 'paytm' && acc == "") {
            $('#erroraccountno').text("Please Enter Account Number");
            $('#errorcashbank').text("");
        }
        else if (phone == "") {
            $('#errorPhoneno').text("Please Enter Phone Number");
            $('#erroraccountno').text("");
            $('#errorcashbank').text("");
        }
        else if (amt == "") {
            $('#errorCashAmount').text("Please Enter Amount");
            $('#errorPhoneno').text("");
            $('#erroraccountno').text("");
            $('#errorcashbank').text("");
        }
        else if (Number(amt) < 100 || Number(amt) > 5000) {
            $('#errorCashAmount').text("Please Enter Amount Between 100 and 5000");
            $('#errorPhoneno').text("");
            $('#erroraccountno').text("");
            $('#errorcashbank').text("");
        }
        else {
            $('#errorCashAmount').text("");
            $('#errorPhoneno').text("");
            $('#erroraccountno').text("");
            $('#errorcashbank').text("");
            $('#confirmbank').text(bankname);
            $('#confirmaccount').text(acc);
            $('#confirmphonenumber').text(phone);
            $('#confirmamount').text(amt);
            $('#Firstdeposit').hide();
            $('#seconddeposit').show();
            bank_val == 'paytm' && $('#accountno_second_box').hide();
        }
    }
</script>
<script>
    function Sendotp() {
        var bank_val = $("#Cashbanklistshow").val();
        var iin= $('#Cashbanklistshow').val();
        var acc = $('#cashaccountno').val();
        var phone = $('#CashPhoneno').val();
        var amt = $('#CashAmount').val();

        var url = '@Url.Action("CashdepositeGenrateOtp", "Home")';
        var body = {
            mobile: phone, account: acc, amount: amt, iin: iin
        }
        if (bank_val == 'paytm') {
            url = '@Url.Action("PaytmWalletGenrateOtp", "Home")',
            body = {
                mobile: phone, amount: amt
            }
        }
        $.ajax({
            url: url,
            data: body,
            cache: false,
            type: "POST",
            beforeSend: function () {
                $('.loader').show();
            },
            success: function (data) {
                var sts = data.Status;
                var msg = data.Message;
                if (sts == "Success") {
                    if (bank_val != 'paytm') {
                        var fingpayTransactionId = data.fingpayTransactionId;
                        var cdPkId = data.cdPkId;
                        $('#hidefingpaytransid').val(fingpayTransactionId);
                        $('#hidechkpid').val(cdPkId);
                        $('#cashotpshow').show();
                        $('#sendotpdiv').hide();
                        $('#cashsubmitotpdiv').show();
                    }
                    else {
                        $('#sendotpdiv').hide();
                        $('#cashotpshow').show();
                        $('#cashsubmitotpdiv').show();
                    }

                }
                else {
                    $('#Cashfailedfirst').text(msg);
                }
            },
            complete: function () {
                $('.loader').hide();
            }
        });
    }
</script>
<script>
    function cashCancel() {
        $('#Firstdeposit').show();
        $('#seconddeposit').hide();
        $('#txtotp').val("");
        $('#wrongotp').text("");
        $('#cashsubmitotpdiv').hide();
        $('#sendotpdiv').show();
        $('#cashotpshow').hide();
    }
</script>
<script>
    function cashsubmitotp() {
        var otp = $('input[name="txtotp"]').val();
        if (otp == "") {
            $('#cashotperror').text("Please Enter The Otp");
        }
        else {
            var ben_name = $('#UserName').val();
            var isPaytm = $('#Cashbanklistshow').val();
            $('#cashotperror').text("");
            var chkpid = $('#hidechkpid').val();
            var iin = $('#Cashbanklistshow').val();
            var fingpayTransactionId = $('#hidefingpaytransid').val();
            var account = $('#cashaccountno').val();
            var mobile = $('#CashPhoneno').val();
            var amount = $('#CashAmount').val();
            var bankname = $("#Cashbanklistshow option:selected").text();

            var url = '@Url.Action("Verifyotp", "Home")';
            var body = { otp: otp, cdPkId: chkpid, fingpayTransactionId: fingpayTransactionId, mobile: mobile, account: account, amount: amount, iin: iin, bankname: bankname };

            if (isPaytm == 'paytm') {
                url = '@Url.Action("Verifyotp_PaytmWallet", "Home")';
                body = { otp: otp, mobile: mobile, amount: amount, bankname: 'Paytm Bank', benname: ben_name, referenceid: Math.round(Math.random() * 10000000000) };
            }

            $.ajax({
                url: url,
                data: body,
                cache: false,
                type: "POST",
                beforeSend: function () {
                    $('.loader').show();
                },
                success: function (data) {
                    var sts = data.Status;
                    var msg = data.Message;
                    if (sts == "Success") {
                        if (isPaytm != 'paytm') {
                            var benname = data.benname;
                            $('#bencashshow').show();
                            $('#hidebenname').val(benname);
                            $('#spanbenname').text(benname);
                            $('#cashdepositdiv').show();
                            $('#cashotpshow').hide();

                            $('#cashsubmitotpdiv').hide();
                            $('#sendotpdiv').hide();
                            $('#cashdepositdiv').show();
                            $('#wrongotp').text("");
                        }
                        else {
                            var bankrrn = data.bankrrn;
                            var benname = ben_name;
                            $('#cashstatusmsg').text(sts);
                            $('#cashbankrrn').text(bankrrn);
                            $('#cashmessageshow').text(msg);
                            $('#cashbenname').text(benname);
                            $('#seconddeposit').hide();
                            $('#aftermsgshow').show();
                            reloadcash();
                        }
                    }
                    else if (sts == "OTPMISSMATCH") {
                        $('#wrongotp').text(msg);
                        $('#cashotpshow').show();
                    }
                    else {
                        if (isPaytm == 'paytm') {
                            cashCancel();
                            reloadcash();
                        }
                        else {
                            $('#wrongotp').text(msg);
                            $('#cashotpshow').hide();
                        }
                    }
                },
                complete: function () {
                    $('.loader').hide();
                }
            });
        }
    }
</script>
<script>
    function FundDeposit() {
        var otp = $('#txtotp').val();
        var chkpid = $('#hidechkpid').val();
        var iin = $('#Cashbanklistshow').val();
        var fingpayTransactionId = $('#hidefingpaytransid').val();
        var account = $('#cashaccountno').val();
        var mobile = $('#CashPhoneno').val();
        var amount = $('#CashAmount').val();
        var spanbenname = $('#spanbenname').text();
        var banknm = $('#confirmbank').text();
      $.ajax({
                url: '@Url.Action("CashDepositWithotp", "Home")',
          data: { otp: otp, cdPkId: chkpid, fingpayTransactionId: fingpayTransactionId, mobile: mobile, account: account, amount: amount, iin: iin, benname: spanbenname, bankname: banknm },
                   cache: false,
                   type: "POST",
                   beforeSend: function () {
                       $('.loader').show();
                   },
            success: function (data) {
                var sts = data.Status;
                var msg = data.Message;
                var bankrrn = data.bankrrn;
                var benname = data.benname;
                $('#cashstatusmsg').text(sts);
                $('#cashbankrrn').text(bankrrn);
                $('#cashmessageshow').text(msg);
                $('#cashbenname').text(benname);
                $('#seconddeposit').hide();
                $('#aftermsgshow').show();
                reloadcash();
                  },
                   complete: function () {
                     $('.loader').hide();
                    }
               });
    }
</script>