@model Vastwebmulti.Areas.ADMIN.Models.DMT2SlabModel1

@using (Html.BeginForm("_Common_Money_transfer_UPI", "Home", FormMethod.Post))
{



    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <div class="">
        <table class="table table-bordered slab-table example-second thpadding-second third-design-table">
            <thead class="navbar" style="position: initial; max-height: inherit; margin: 0; ">
                <tr>
                    <th rowspan="2">User&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th rowspan="2">Verify&nbsp;<br />Charge&nbsp;(₹)</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;100&nbsp;>&nbsp;1K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;1001&nbsp;>&nbsp;2K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;2001&nbsp;>&nbsp;3K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;3001&nbsp;>&nbsp;4K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;4001&nbsp;>&nbsp;5K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;5001&nbsp;>&nbsp;6K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;6001&nbsp;>&nbsp;7K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;7001&nbsp;>&nbsp;8K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;8001&nbsp;>&nbsp;9K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;9001&nbsp;>&nbsp;10K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;10001&nbsp;>&nbsp;11K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;11001&nbsp;>&nbsp;12K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;12001&nbsp;>&nbsp;13K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;13001&nbsp;>&nbsp;14K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;14001&nbsp;>&nbsp;15K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;15001&nbsp;>&nbsp;16K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;16001&nbsp;>&nbsp;17K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;17001&nbsp;>&nbsp;18K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;18001&nbsp;>&nbsp;19K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;19001&nbsp;>&nbsp;20K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;20001&nbsp;>&nbsp;21K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;21001&nbsp;>&nbsp;22K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;22001&nbsp;>&nbsp;23K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;23001&nbsp;>&nbsp;24K</th>
                    <th colspan="2" style="text-align:center">Charge&nbsp;24001&nbsp;>&nbsp;25K</th>
                    @*<th colspan="25" style="text-align:center"><span style="float:left;width:33.33%;">------Charges&nbsp;in&nbsp;rupees(₹)------</span><span style="text-align: center; width: 33.33%;">------Charges&nbsp;in&nbsp;rupees(₹)------</span><span style="float: right; width: 33.33%;">------Charges&nbsp;in&nbsp;rupees(₹)------</span></th>*@
                    <th colspan="4" style="text-align:center">Charge&nbsp;Above&nbsp;25K</th>
                </tr>
                <tr style="color: #333333; font-weight: 600; font-size: 11px;">
                    <td>Charge</td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>

                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>

                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>Active</td>
                    <td>(₹)</td>
                    <td>(%)</td>
                    <td>Max(₹)</td>
                    <td>Active</td>
                </tr>
            </thead>
            <tbody id="tbodyshow">
                @if (Model != null && Model.commonUPI != null)
                {
                    foreach (var item in Model.commonUPI)
                    {
                        var usertype = item.usertype;
                        if (item.usertype == "Distributor-REM")
                        {
                            usertype = "Retailer Charge";
                        }
                        var data = "";
                        if (item.usertype == "Retailer")
                        {
                            usertype = "Retailer";
                            data = "Table";
                        }
                        var color = "";
                        if (item.usertype == "Purchase")
                        {
                            usertype = "Purchase Charge";
                            color = "#f9f9cb";
                        }
                        if (item.usertype == "WhiteLabel")
                        {
                            usertype = "WhiteLabel Charge";
                        }
                        if (item.usertype == "API")
                        {
                            usertype = "API Charge";
                        }
                        if (item.usertype == "Master")
                        {
                            usertype = "Master commission";
                        }
                        if (item.usertype == "Distributor")
                        {
                            usertype = "Distributor commission";
                        }
                        var active26 = item.Type_26000;
                        if (active26 == "Per")
                        {
                            active26 = "(%)";
                        }
                        else
                        {
                            active26 = "(₹)";
                        }
                        var active1 = item.Type_1000;
                        if (active1 == "Per")
                        {
                            active1 = "(%)";
                        }
                        else
                        {
                            active1 = "(₹)";
                        }
                        var active2 = item.Type_2000;
                        if (active2 == "Per")
                        {
                            active2 = "(%)";
                        }
                        else
                        {
                            active2 = "(₹)";
                        }
                        var active3 = item.Type_3000;
                        if (active3 == "Per")
                        {
                            active3 = "(%)";
                        }
                        else
                        {
                            active3 = "(₹)";
                        }
                        var active4 = item.Type_4000;
                        if (active4 == "Per")
                        {
                            active4 = "(%)";
                        }
                        else
                        {
                            active4 = "(₹)";
                        }
                        var active5 = item.Type_5000;
                        if (active5 == "Per")
                        {
                            active5 = "(%)";
                        }
                        else
                        {
                            active5 = "(₹)";
                        }
                        var active6 = item.Type_6000;
                        if (active6 == "Per")
                        {
                            active6 = "(%)";
                        }
                        else
                        {
                            active6 = "(₹)";
                        }
                        var active7 = item.Type_7000;
                        if (active7 == "Per")
                        {
                            active7 = "(%)";
                        }
                        else
                        {
                            active7 = "(₹)";
                        }
                        var active8 = item.Type_8000;
                        if (active8 == "Per")
                        {
                            active8 = "(%)";
                        }
                        else
                        {
                            active8 = "(₹)";
                        }
                        var active9 = item.Type_9000;
                        if (active9 == "Per")
                        {
                            active9 = "(%)";
                        }
                        else
                        {
                            active9 = "(₹)";
                        }
                        var active10 = item.Type_10000;
                        if (active10 == "Per")
                        {
                            active10 = "(%)";
                        }
                        else
                        {
                            active10 = "(₹)";
                        }
                        var active11 = item.Type_11000;
                        if (active11 == "Per")
                        {
                            active11 = "(%)";
                        }
                        else
                        {
                            active11 = "(₹)";
                        }
                        var active12 = item.Type_12000;
                        if (active12 == "Per")
                        {
                            active12 = "(%)";
                        }
                        else
                        {
                            active12 = "(₹)";
                        }
                        var active13 = item.Type_13000;
                        if (active13 == "Per")
                        {
                            active13 = "(%)";
                        }
                        else
                        {
                            active13 = "(₹)";
                        }
                        var active14 = item.Type_14000;
                        if (active14 == "Per")
                        {
                            active14 = "(%)";
                        }
                        else
                        {
                            active14 = "(₹)";
                        }
                        var active15 = item.Type_15000;
                        if (active15 == "Per")
                        {
                            active15 = "(%)";
                        }
                        else
                        {
                            active15 = "(₹)";
                        }
                        var active16 = item.Type_16000;
                        if (active16 == "Per")
                        {
                            active16 = "(%)";
                        }
                        else
                        {
                            active16 = "(₹)";
                        }
                        var active17 = item.Type_17000;
                        if (active17 == "Per")
                        {
                            active17 = "(%)";
                        }
                        else
                        {
                            active17 = "(₹)";
                        }
                        var active18 = item.Type_18000;
                        if (active18 == "Per")
                        {
                            active18 = "(%)";
                        }
                        else
                        {
                            active18 = "(₹)";
                        }
                        var active19 = item.Type_19000;
                        if (active19 == "Per")
                        {
                            active19 = "(%)";
                        }
                        else
                        {
                            active19 = "(₹)";
                        }
                        var active20 = item.Type_20000;
                        if (active20 == "Per")
                        {
                            active20 = "(%)";
                        }
                        else
                        {
                            active20 = "(₹)";
                        }
                        var active21 = item.Type_21000;
                        if (active21 == "Per")
                        {
                            active21 = "(%)";
                        }
                        else
                        {
                            active21 = "(₹)";
                        }
                        var active22 = item.Type_22000;
                        if (active22 == "Per")
                        {
                            active22 = "(%)";
                        }
                        else
                        {
                            active22 = "(₹)";
                        }
                        var active23 = item.Type_23000;
                        if (active23 == "Per")
                        {
                            active23 = "(%)";
                        }
                        else
                        {
                            active23 = "(₹)";
                        }
                        var active24 = item.Type_24000;
                        if (active24 == "Per")
                        {
                            active24 = "(%)";
                        }
                        else
                        {
                            active24 = "(₹)";
                        }
                        var active25 = item.Type_25000;
                        if (active25 == "Per")
                        {
                            active25 = "(%)";
                        }
                        else
                        {
                            active25 = "(₹)";
                        }


                        <tr style="background-color: @color;display: @data; width: 100%;float: left;">
                            <td>@usertype</td>
                            <td>@item.verify_comm</td>
                            <td>@item.comm_1000</td>
                            <td>@active1</td>
                            <td>@item.comm_2000</td>
                            <td>@active2</td>
                            <td>@item.comm_3000</td>
                            <td>@active3</td>
                            <td>@item.comm_4000</td>
                            <td>@active4</td>
                            <td>@item.comm_5000</td>
                            <td>@active5</td>
                            <td>@item.comm_6000</td>
                            <td>@active6</td>
                            <td>@item.comm_7000</td>
                            <td>@active7</td>
                            <td>@item.comm_8000</td>
                            <td>@active8</td>
                            <td>@item.comm_9000</td>
                            <td>@active9</td>
                            <td>@item.comm_10000</td>
                            <td>@active10</td>
                            <td>@item.comm_11000</td>
                            <td>@active11</td>
                            <td>@item.comm_12000</td>
                            <td>@active12</td>
                            <td>@item.comm_13000</td>
                            <td>@active13</td>
                            <td>@item.comm_14000</td>
                            <td>@active14</td>
                            <td>@item.comm_15000</td>
                            <td>@active15</td>
                            <td>@item.comm_16000</td>
                            <td>@active16</td>
                            <td>@item.comm_17000</td>
                            <td>@active17</td>
                            <td>@item.comm_18000</td>
                            <td>@active18</td>
                            <td>@item.comm_19000</td>
                            <td>@active19</td>
                            <td>@item.comm_20000</td>
                            <td>@active20</td>
                            <td>@item.comm_21000</td>
                            <td>@active21</td>
                            <td>@item.comm_22000</td>
                            <td>@active22</td>
                            <td>@item.comm_23000</td>
                            <td>@active23</td>
                            <td>@item.comm_24000</td>
                            <td>@active24</td>
                            <td>@item.comm_25000</td>
                            <td>@active25</td>
                            <td>@item.comm_26000</td>
                            <td>@item.per_26000</td>
                            <td>@item.maxrs_26000</td>
                            <td>@active26</td>


                            @*<td>@item.comm_27000</td>
                    <td>@item.comm_28000</td>
                    <td>@item.comm_29000</td>
                    <td>@item.comm_30000</td>

                    <td>@item.comm_31000</td>
                    <td>@item.comm_32000</td>
                    <td>@item.comm_33000</td>
                    <td>@item.comm_34000</td>
                    <td>@item.comm_35000</td>
                    <td>@item.comm_36000</td>
                    <td>@item.comm_37000</td>
                    <td>@item.comm_38000</td>
                    <td>@item.comm_39000</td>
                    <td>@item.comm_40000</td>

                    <td>@item.comm_41000</td>
                    <td>@item.comm_42000</td>
                    <td>@item.comm_43000</td>
                    <td>@item.comm_44000</td>
                    <td>@item.comm_45000</td>
                    <td>@item.comm_46000</td>
                    <td>@item.comm_47000</td>
                    <td>@item.comm_48000</td>
                    <td>@item.comm_49000</td>
                    <td>@item.comm_50000</td>
                                    <td>@item.gst</td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center text-danger">
                            No data available
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @if (Model != null && Model.commonUPI != null)
                {
                    for (int i = 0; i < Model.commonUPI.Count; i++)
                    {
                        var usertype = Model.commonUPI[i].usertype;
                        if (Model.commonUPI[i].usertype == "Distributor-REM")
                        {
                            usertype = "Retailer Charge";
                        }
                        var data = "";
                        if (Model.commonUPI[i].usertype == "Retailer")
                        {
                            usertype = "Retailer > Common";
                            data = "none";
                        }
                        var color = "";
                        if (Model.commonUPI[i].usertype == "Purchase")
                        {
                            usertype = "Purchase Charge";
                            color = "#f9f9cb";
                        }
                        if (Model.commonUPI[i].usertype == "WhiteLabel")
                        {
                            usertype = "WhiteLabel Charge";
                        }
                        if (Model.commonUPI[i].usertype == "API")
                        {
                            usertype = "API Charge";
                        }
                        if (Model.commonUPI[i].usertype == "Master")
                        {
                            usertype = "Master commission";
                        }
                        if (Model.commonUPI[i].usertype == "Distributor")
                        {
                            usertype = "Distributor commission";
                        }
                        <tr style="background-color:@color; display:@data">
                            @Html.HiddenFor(a => a.commonUPI[i].idno)
                            <td>
                                @usertype
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].verify_comm)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_1000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_1000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_1000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_2000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_2000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_2000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_3000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_3000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_3000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_4000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_4000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_4000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_5000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_5000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_5000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_6000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_6000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_6000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_6000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_7000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_7000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_7000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_7000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_8000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_8000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_8000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_8000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_9000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_9000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_9000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_9000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_10000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_10000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_10000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_10000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_11000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_11000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_11000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_11000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_12000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_12000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_12000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_12000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_13000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_13000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_13000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_13000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_14000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_14000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_14000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_14000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_15000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_15000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_15000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_15000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_16000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_16000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_16000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_16000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_17000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_17000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_17000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_17000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_18000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_18000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_18000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_18000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_19000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_19000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_19000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_19000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_20000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_20000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_20000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_20000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_21000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_21000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_21000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_21000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_22000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_22000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_22000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_22000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_23000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_23000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_23000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_23000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_24000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_24000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_24000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_24000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_25000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_25000)
                            </td>
                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_25000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_25000))
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].comm_26000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].comm_26000)
                            </td>

                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].per_26000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].per_26000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonUPI[i].maxrs_26000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonUPI[i].maxrs_26000)
                            </td>

                            <td>

                                @Html.DropDownListFor(aa => aa.commonUPI[i].Type_26000, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.commonUPI[i].Type_26000))
                            </td>

                            @*<td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_26000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_26000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_27000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_27000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_28000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_28000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_29000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_29000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_30000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_30000)
                    </td>

                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_31000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_31000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_32000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_32000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_33000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_33000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_34000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_34000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_35000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_35000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_36000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_36000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_37000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_37000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_38000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_38000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_39000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_39000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_40000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_40000)
                    </td>

                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_41000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_41000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_42000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_42000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_43000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_43000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_44000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_44000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_45000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_45000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_46000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_46000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_47000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_47000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_48000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_48000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_49000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_49000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.commonUPI[i].comm_50000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].comm_50000)
                    </td>*@
                            @*<td>
                        @Html.EditorFor(a => a.commonUPI[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.commonUPI[i].gst)
                    </td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center text-danger">
                            No data available
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });


</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>


