@model Vastwebmulti.Areas.ADMIN.Models.DMTSlabModelPPI

@using (Html.BeginForm("_Common_Money_transfer_new_PPI", "Home", FormMethod.Post))
{

    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <div class="">
        <table class="table table-bordered slab-table example-second thpadding-second third-design-table">
            <thead class="navbar" style="position: initial; max-height: inherit; margin: 0; ">
                <tr>
                    <th rowspan="3">User&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th rowspan="3">Verify&nbsp;<br />Charge&nbsp;(₹)</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;100&nbsp;>&nbsp;1K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;1001&nbsp;>&nbsp;2K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;2001&nbsp;>&nbsp;3K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;3001&nbsp;>&nbsp;4K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;4001&nbsp;>&nbsp;5K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;5001&nbsp;>&nbsp;6K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;6001&nbsp;>&nbsp;7K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;7001&nbsp;>&nbsp;8K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;8001&nbsp;>&nbsp;9K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;9001&nbsp;>&nbsp;10K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;10001&nbsp;>&nbsp;11K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;11001&nbsp;>&nbsp;12K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;12001&nbsp;>&nbsp;13K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;13001&nbsp;>&nbsp;14K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;14001&nbsp;>&nbsp;15K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;15001&nbsp;>&nbsp;16K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;16001&nbsp;>&nbsp;17K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;17001&nbsp;>&nbsp;18K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;18001&nbsp;>&nbsp;19K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;19001&nbsp;>&nbsp;20K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;20001&nbsp;>&nbsp;21K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;21001&nbsp;>&nbsp;22K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;22001&nbsp;>&nbsp;23K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;23001&nbsp;>&nbsp;24K</th>
                    <th colspan="3" style="text-align:center">Range&nbsp;24001&nbsp;>&nbsp;25K</th>

                </tr>
                <tr style="color: #333333; font-weight: 600; font-size: 11px;">
                    <td>Charge</td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>
                    <td>
                        Charge
                    </td>
                    <td>
                        Comm
                    </td>
                    <td>Active</td>


                </tr>
            </thead>
            <tbody id="tbodyshow">
                @if (Model != null && Model.commonnew != null)
                {
                    foreach (var item in Model.commonnew)
                    {
                        var usertype = item.usertype;
                        if (item.usertype == "Distributor-REM")
                        {
                            usertype = "Retailer";
                        }
                        var data = "";
                        if (item.usertype == "Retailer")
                        {
                            usertype = "Retailer";
                            data = "";
                        }
                        var color = "";
                        if (item.usertype == "Purchase")
                        {
                            usertype = "Purchase";
                            color = "#f9f9cb";
                        }

                        if (item.usertype == "Master")
                        {
                            usertype = "Master";
                        }
                        if (item.usertype == "Distributor")
                        {
                            usertype = "Distributor";
                        }


                        <tr style="background-color: @color;display: Table;width: 100%;float: left;">

                            <td>@usertype</td>
                            <td>@item.VerifyComm</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_1000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_1000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_2000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_2000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_3000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_3000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_4000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_4000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_5000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_5000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_6000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_6000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_7000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_7000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_8000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_8000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_9000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_9000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_10000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_10000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_11000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_11000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_12000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_12000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_13000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_13000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_14000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_14000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_15000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_15000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_16000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_16000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_17000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_17000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_18000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_18000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_19000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_19000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_20000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_20000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_21000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_21000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_22000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_22000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_23000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_23000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_24000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_24000</td>
                            <td> ₹</td>
                            @if (usertype == "Retailer")
                            {
                                <td>@item.Comm_25000_Charge</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.Comm_25000</td>
                            <td> ₹</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center text-danger">
                            No data available
                        </td>
                    </tr>
                }
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @if (Model != null && Model.commonnew != null)
                {
                    for (int i = 0; i < Model.commonnew.Count; i++)
                    {
                        var usertype = Model.commonnew[i].usertype;
                        var data = "";
                        if (Model.commonnew[i].usertype == "Retailer")
                        {
                            usertype = "Retailer";
                        }
                        var color = "";
                        if (Model.commonnew[i].usertype == "Purchase")
                        {
                            usertype = "Purchase";
                            color = "#f9f9cb";
                        }

                        if (Model.commonnew[i].usertype == "Master")
                        {
                            usertype = "Master";
                        }
                        if (Model.commonnew[i].usertype == "Distributor")
                        {
                            usertype = "Distributor";
                        }

                        <tr style="background-color:@color; display:@data">
                            @Html.HiddenFor(a => a.commonnew[i].idno)
                            <td>
                                @usertype
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].VerifyComm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].VerifyComm)
                            </td>

                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_1000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_1000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_1000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_2000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_2000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_2000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_3000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_3000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_3000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_4000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_4000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_4000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_5000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_5000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_5000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_6000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_6000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_6000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_6000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_7000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_7000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_7000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_7000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_8000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_8000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_8000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_8000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_9000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_9000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_9000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_9000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_10000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_10000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_10000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_10000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_11000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_11000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_11000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_11000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_12000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_12000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_12000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_12000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_13000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_13000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_13000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_13000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_14000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_14000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_14000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_14000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_15000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_15000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_15000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_15000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_16000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_16000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_16000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_16000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_17000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_17000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_17000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_17000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_18000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_18000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_18000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_18000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_19000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_19000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_19000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_19000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_20000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_20000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_20000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_20000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_21000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_21000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_21000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_21000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_22000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_22000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_22000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_22000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_23000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_23000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_23000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_23000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_24000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_24000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_24000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_24000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @if (usertype == "Retailer")
                                {
                                    @Html.EditorFor(a => a.commonnew[i].Comm_25000_Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                    @Html.ValidationMessageFor(a => a.commonnew[i].Comm_25000_Charge)
                                }
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_25000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.commonnew[i].Comm_25000)
                            </td>
                            <td>
                                ₹
                            </td>
                        </tr>


                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center text-danger">
                            No data available
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });


</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

