<style>
    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        border-radius: 0%;
        height: 100vw;
        width: 100vw;
    }

    .minitransaction tr td {
        padding: 10px !important;
    }

    .select2-container--open .select2-dropdown--below {
        width: 314px !important;
    }

    .select2-results__option[aria-selected] {
        border-bottom: 1px dotted;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::before {
        content: '';
        display: none;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: transparent;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 0%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 0%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .radiobuttonimps.radiobuttonimps-addnew-aadh label {
        float: left;
        margin: 0 !important;
        font-size: 13px;
        height: 34px;
        padding-top: 7px;
        padding-left: 22px;
    }

    .radiobuttonimps.radiobuttonimps-addnew-aadh .aadharnewpayclass {
        animation: blinks 2s linear infinite;
        left: -16px;
        top: -10px;
        font-size: 8px;
    }

    .select2-container--open .select2-dropdown--below {
        width: 314px !important;
    }

    .diveotpclass button {
        text-align: center;
        background: var(--main-bg-lcolor) !important;
        color: #fff;
        min-width: 50%;
        padding: 8px 0 !important;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        border: 1px solid var(--main-bg-rcolor) !important;
        font-size: 14px !important;
        transition: all .4s linear;
    }

    .diveotpclass span {
        position: relative;
        top: 4px;
        font-weight: 400;
        text-transform: capitalize;
        color: red;
    }

    .diveotpclass {
        width: 100%;
        float: left;
        text-align: center;
        min-height: 100px;
        display: flex;
        align-items: center;
    }

        .diveotpclass .form-group {
            margin: 0;
        }

    .verifyotpclass input {
        width: 100% !important;
    }

    .verifyotpclass .verifybuttonotp input {
        background: var(--main-bg-rcolor) !important;
        color: #fff;
        font-size: 14px !important;
        border: 1px solid #555 !important;
    }

    .devicefindclass .col-md-12 {
        padding: 0;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .devicefindclass .col-md-12 .col-md-7 {
            padding-left: 0;
        }

            .devicefindclass .col-md-12 .col-md-7 input {
                width: 100% !important;
            }


    @@media screen and (max-width:1366px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container {
            width: 22% !important;
            left: 0;
        }

            .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child {
                width: 31% !important;
            }

            .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:last-child {
                width: 25% !important;
                float: left !important;
            }
    }

    @@media screen and (max-width:1300px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:nth-child(3) {
            width: 21% !important;
        }

        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child {
            width: 32% !important;
        }
    }

    @@media screen and (max-width:420px) {
        .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container, .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:first-child, .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:nth-child(3), .radiobuttonimps.radiobuttonimps-addnew-aadh label.col-md-4.container:last-child {
            width: 50% !important;
            float: left;
        }

        .newpagecustom.newpagecustomertyui .tabspage ul li span {
            font-size: 10px;
        }
    }
</style>
<p style="font-size: 25px; font-weight: 800; background: var(--main-bg-lcolor) !important; padding: 4px 10px; display: inline-block; border-radius: 4px; color: #fff; box-shadow: 0px 0px 8px -3px #000; ">EKYC Validation </p>
<div id="divotpsend" class="diveotpclass">
    <div class="form-group">
        <button onclick="Genrateotpekyc()" class="btn btn-default">
            GenrtaeOTP
        </button>
        <span id="otperror123" style="color:red;font-weight:400;text-transform:capitalize;"></span>
        <input type="hidden" id="primaryhide" />
        <input type="hidden" id="encodehide" />
        <input type="hidden" id="cap" />
        <input type="hidden" id="capxml" />
    </div>
</div>
<div id="verifyotp" class="verifyotpclass" style="display:none;">
    <div class="form-group" style="margin:0;">
        <div class="col-md-5 col-sm-5 col-xs-5" style="padding-left:0;">
            <input id="txtotp" class="form-control" type="text" placeholder="Enter Otp" style="margin:0;" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 verifybuttonotp" style="padding:0px;">
            <input type="button" value="Verify OTP" onclick="VerifyotpEkyc()" class="btn btn-default" style="margin:0;" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-3 col-sm-3 col-xs-3 verifybuttonotp" style="padding:0px;">
            <input type="button" value="Resend OTP" onclick="Genrateotpekyc()" class="btn btn-default" style="margin:0;" />
        </div>
        <span id="verifyotperr" style="color:red;font-weight:400;text-transform:capitalize;"></span>
    </div>
</div>

<div id="scancheck" class="gotoscan-changecss" style="display:none;text-align:center;">
    <button onclick="gotoscanekyc()" class="display-nonescanp2" id="scanrecoveer"><strong>GO</strong> To Scan</button>
</div>
<div id="loadaeps1" style="display: none;text-align:center;">
    <img class="body-border-bottom-top" src="~/ashok-images/portrait_mode_scanning.gif" style="height:150px;" />
</div>
<div id="Devicerror" style="display:none;">
    <div class="container-fluid aepsid-login">
        <div class="col-md-12 aeps-start">
            <div class="col-md-12 aeps_id">
                <div class="scannot-found">
                    <img src="~/ashok-images/scanner.svg" />
                </div>
                <div class="scannot-font-size">
                    <span id="deviceerror1" style="    color: red;
        border-bottom: 2px solid #ff0048;
        display: inline-block;
        padding-bottom: 2px;
        font-size: 16px;
        font-weight: 700;
" class="body-border-bottom"></span>
                    <span id="deviceerror2" style="color:red;"></span>

                    <span id="deviceerror3" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror4" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror5" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror6" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror7" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror8" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <span id="deviceerror9" style="color:red;font-weight:400;text-transform:capitalize;"></span>
                    <a href="#scanrecoveer" id="againscanclick" onclick="gotoscanekyc()">Scan&nbsp;Again</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="Devicefind" style="display:none;">
    <div class="devicefindclass">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5"><strong>Device Name</strong></div>
            <div class="col-md-7 col-sm-7 col-xs-7"><input type="text" id="txtdevice" readonly /></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5"><strong>Device SRNO</strong></div>
            <div class="col-md-7 col-sm-7 col-xs-7"><input type="text" id="device_srno" readonly /></div>
        </div>
        <div class="" style="width:100%;float:left;padding:0px 15px;">
            <div class="" style="float:right;">
                <input type="button" value="Validate" onclick="ValidateDevice()" style="margin:0px;width:auto;background: var(--main-bg-rcolor);color: #fff;" />
                <input type="button" value="ScanAgain" onclick="gotoscanekyc()" style="margin:0px;width:auto;background: #a4a0a0;color: #000;" />
                <input type="button" value="Regenerate Token" onclick="AEPSEKYC()" style="margin:0px;width:auto;background: #a4a0a0;color: #000;" />
            </div>
        </div>
        <div id="namechnage" style="display:none;">
            <input id="EditName" type="button" value="Edit Name" onclick="namechange()" style="margin:0px;width:auto;background: var(--main-bg-rcolor);color: #fff;" />
            <div id="updatename" style="display:none;">
                <div class="devicefindclass">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-5 col-sm-5 col-xs-5"><strong>Name</strong></div>
                        <div class="col-md-7 col-sm-7 col-xs-7"><input id="txtremname" type="text" placeholder="Enter Name" style="margin:0px;" /></div>
                    </div>
                    <div class="" style="width:100%;float:left;">
                        <input type="button" value="Update Name" onclick="updatename()" style="margin:0px;width:auto;background: var(--main-bg-rcolor);color: #fff;float:right;" />
                    </div>
                </div>
            </div>
        </div>
        <span id="errdevicefind" style="color:red;font-weight:400;text-transform:capitalize;"></span>
    </div>
</div>
<div class="">
    <div class="money_tab-height">
        <p class="body-border-bottom">Important Notes</p>
        <p class="note-content"><strong>.</strong> Firstly Register Yourself On Ekyc</p>
        <p class="note-content"><strong>.</strong>Otp Send To Your Registered Mobile Number</p>
        <p class="note-content"><strong>.</strong>Scan Your Finger , if Match to Aadhar Then Ekyc Done</p>

    </div>
</div>
<div class="loader"></div>
<script src="~/Scripts/PageScript/Retailer/AEPS/Aeps_validate.js"></script>
<script>
    function Genrateotpekyc() {

        $('#verifyotperr').text("")
            $.ajax({
                url: '@Url.Action("GenrateOtpEKYC_1", "Home")',
                cache: false,
                type: "POST",
                beforeSend: function () {
                    $(".loader").show();
                },
                success: function (data) {


                    var output = data; //JSON.parse(data);
                    var status = output.Status;
                    var msg = output.Message;

                    if (status == "Success") {
                        var primarykey = output.primarykey;
                        var encodetxnid = output.encodetxnid;
                        $('#primaryhide').val(primarykey);
                        $('#encodehide').val(encodetxnid);
                        $('#divotpsend').hide();
                        $('#verifyotp').show();
                        $('#verifyotperr').text(msg)
                    }
                    else {
                        $('#otperror123').text(msg);
                    }
                },
                complete: function () {
                    $(".loader").hide();
                },
                error: function () {
                    $(".loader").hide();
                }
            })
        }
</script>
<script>
        function VerifyotpEkyc() {
            var otp = $('#txtotp').val();
            var primaryhide = $('#primaryhide').val();
            var encodehide = $('#encodehide').val();
            if (otp == "") {
                $('#verifyotperr').text("Please Enter The OTP");
            }
            else {
                $.ajax({
                    url: '@Url.Action("VerifyotpEkyc1", "Home")',
                    cache: false,
                    type: "POST",
                    data: { otp:otp, primaryhide:primaryhide, encodehide:encodehide},
                    beforeSend: function () {
                        $(".loader").show();
                    },
                    success: function (data) {
                        var output = data;//JSON.parse(data);
                        var status = output.Status;
                        var msg = output.Message;
                        if (status == "Success") {
                            $('#divotpsend').hide();
                            $('#verifyotp').hide();
                            $('#scancheck').show();
                        }
                        else {
                            $('#verifyotperr').text(msg);
                        }
                    },
                    complete: function () {
                        $(".loader").hide();
                    },
                    error: function () {
                        $(".loader").hide();
                    }
                })
            }
        }
</script>
<script>
    function gotoscanekyc() {
            $('#cap').val("");
            $('#capxml').val("");
            $('#device_srno').val("");
            $('#txtdevice').val("");
            $('#scanrecoveer').hide();
            $("#Devicerror").hide();
            $('#Devicefind').hide();
        $.ajax({
            url: '@Url.Action("chk1","Home")',
            cache: false,
            type: "GET",
            beforeSend: function() {
                  $("#loadaeps1").show();
             },
            success: function (data) {

            }, error: function (data) {
                scanfing();
            }
        })
    }
</script>
<script>
        function ValidateDevice() {
            var cap = $('#cap').val();
            var capxml= $('#capxml').val();
            var devicesrno = $('#device_srno').val();
            var devicenm = $('#txtdevice').val();
            $('#namechnage').hide();
            $('#EditName').show();
            $('#updatename').hide();
            console.log(capxml)
            if (cap == "") {
                $('#errdevicefind').text("Please Scan Again");
            }
            else {
                $.ajax({
                    url: '@Url.Action("ValidateDeviceinfo1", "Home")',
                    cache: false,
                    type: "POST",
                    data: { cap: cap, capxml: encodeURIComponent(capxml), devicesrno: devicesrno, devicenm: devicenm },
                    beforeSend: function () {
                        $(".loader").show();
                    },
                    success: function (data) {
                        $('#cap').val("");
                        $('#capxml').val("");
                        $('#device_srno').val("");
                        $('#txtdevice').val("");
                        var output = data; //JSON.parse(data);
                        var status = output.Status;
                        var msg = output.Message;
                        if (status == "Success") {
                            var url = '@Url.Action("Money_transfer2", "Home")';
                            window.location.href = url;
                        }
                        else {
                            if (msg.includes("NAME NOT MATCHING")) {
                                $('#namechnage').show();
                            }
                            $('#errdevicefind').text(msg);
                        }
                    },
                    complete: function () {
                        $(".loader").hide();
                    },
                    error: function () {
                        $(".loader").hide();
                    }
                })
            }
    }
</script>
<script>
    $(document).ready(function () {
        var info = '@ViewBag.req';
        if (info == "REQUIREDSCAN") {
            $('#divotpsend').hide();
            $('#verifyotp').hide();
            $('#scancheck').show();
        }
    });
</script>
<script>
    function namechange() {
       $.ajax({
                    url: '@Url.Action("RetailerName", "Home")',
                    cache: false,
                    type: "POST",
                    beforeSend: function () {
                        $(".loader").show();
                    },
           success: function (data) {
               $('#EditName').hide();
               $('#updatename').show();
               $('#txtremname').val(data);
                    },
                    complete: function () {
                        $(".loader").hide();
                    },
                    error: function () {
                        $(".loader").hide();
                    }
                })
    }
</script>
<script>
    function updatename() {
        var op = $('#txtremname').val();
        if (op != "") {
           $.ajax({
                    url: '@Url.Action("Updateremname", "Home")',
               cache: false,
               data:{name:op},
                    type: "POST",
                    beforeSend: function () {
                        $(".loader").show();
                    },
           success: function (data) {
              var url = '@Url.Action("Money_transfer2", "Home")';
                            window.location.href = url;
                    },
                    complete: function () {
                        $(".loader").hide();
                    },
                    error: function () {
                        $(".loader").hide();
                    }
                })
        }
    }
</script>
@*<script>
        $(document).ready(function () {
                 $.ajax({
        url: '@Url.Action("AEPSreportnew","Home")',
        cache: false,
             type: "GET",
             cache: false,
           dataType:"html",
        success: function (data) {
             $('#reportallinone').html(data);
        }
    })
        });
    </script>*@
<script>
    function AEPSEKYC() {
        $(".loader").show();
              location.reload();
        }
</script>