@model IEnumerable<Vastwebmulti.Models.IMPS_transtion_detsils>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div>
                <div class="col-md-6">
                    <div class="header" style="padding:6px; padding-left:12px; border-bottom:none;">
                        <h2>
                            <span style="font-size:21px;"></span>Money Transfer&nbsp;Report&nbsp;&nbsp;🡇
                        </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href='@Url.Action("Money_Transfer_Report","Home")'>
                        <button type="submit" class="btn bg-indigo waves-effect" style="float:right; margin-top:7px;">
                            @*<i class="material-icons" style="top:2px;">library_add</i>*@
                            <span style="top:0px;">Go&nbsp;To&nbsp;IMPS&nbsp;Report</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body" style="margin-top:-20px; padding:12px;">
                <div class="table-responsive" style="position:inherit;">
                    <table id="example1" class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                        <thead class="navbar" style="color:white;position:inherit;">
                            <tr>
                                <th style="width:84px; padding:9px;">Order&nbsp;Request&nbsp;Date</th>
                                <th style="width:90px; padding:9px;">Order&nbsp;ID</th>
                                <th style="width:75px; padding:9px;">Sender&nbsp;Mobile</th>
                                <th style="width:84px; padding:9px;">Beni.&nbsp;A/C&nbsp;No</th>
                                <th style="width:84px; padding:9px;">Beni.&nbsp;A/C&nbsp;Name</th>
                                <th style="width:84px; padding:9px;">Beni.&nbsp;Bank&nbsp;Name</th>
                                <th style="width:84px; padding:9px;">Beni.&nbsp;IFSC&nbsp;Code</th>
                                <th style="width:35px; padding:9px;">Amount</th>
                                <th style="width:84px; padding:9px;">Status</th>
                                <th style="width:84px; padding:9px;">Bank&nbsp;Reference&nbsp;No</th>
                                <th style="width:84px; padding:9px;">Request&nbsp;Close&nbsp;Date</th>
                                <th>Total&nbsp;Amount&nbsp;Send</th>
                                <th>Opening&nbsp;Amount</th>
                                <th>Total&nbsp;Amount&nbsp;Charge</th>
                                <th>CashBack</th>
                                <th>Closing&nbsp;Amount</th>
                                <th>Transaction&nbsp;Mode</th>
                                <th>Order&nbsp;Complete&nbsp;Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.trans_time</td>
                                        <td>@item.trans_id</td>
                                        <td>@item.senderno</td>
                                        <td>@item.accountno</td>
                                        <td>@item.recivername</td>
                                        <td>@item.bank_nm</td>
                                        <td>@item.ifsccode</td>
                                        <td>@item.amount</td>
                                        <td>@item.Status</td>
                                        <td>@item.bank_trans_id</td>
                                        <td>@item.Response_time</td>
                                        <td>@item.amount</td>
                                        <td>@item.user_remain_pre</td>
                                        <td>@item.income</td>
                                        <td>@item.Cashback</td>
                                        <td>@item.user_remain</td>
                                        <td>@item.Trans_Type</td>
                                        <td>@item.Response_time</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

