@model List<Vastwebmulti.Models.fundTransferALLReports_Result>

@{
    Layout = null;
}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        var heads = item.Head == null || item.Head == "Direct" ? "Direct" : item.Head;
        <tr class="tr">
            <td>@item.Role</td>
            @*<td>@item.Name</td>*@
            <td>@heads</td>
            <td>@item.bal_type</td>
            <td>@item.TotalBal</td>
            <td>@item.charge</td>
            <td>@item.remain_pre_amount</td>
            <td>@item.NetTransfer</td>
            <td>@item.remain_amount</td>
            @*<td>@item.remain_amount_dealer</td>
                <td>@item.remain_pre_amount_dealer</td>*@
            <td>@item.cr</td>
            <td>@item.oldcrbalance</td>

            <td>@item.RechargeDate</td>


        </tr>
    }
}
else
{
    <tr>
        <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

    </tr>

}
