@model Vastwebmulti.Areas.RETAILER.Models.remmulti


<style>

    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
</style>
<div id="gasinfo" class="row" style="padding-left: 4px;">
    <div class="newpipedgas" id="firstrediobuttonshow" style="display:block;">
        <div class="col-md-4 elecpay-first gasinfo-class">
            <div style="height:28px;position:absolute;">
                <p id="gasmessage11" style="margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="input-group" style="">
                    @Html.DropDownList("gasddltype", ViewBag.gas as SelectList, "Select Operators", new { id = "gasddltype", @class = "form-control", required = "required", onchange = "gasddl(this)" })

                    <div class="input-group-addon in-addon">

                    </div>
                </div>


                <!-- /.input group -->
            </div>
        </div>
        <div class="col-md-3" id="divgasbilldiv">
            <div>
                <p id="gasmessage" style="top:-16px !important; margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line txtelectricity1 form-line-after" style="margin-top:-1px; height:37px;">
                    <input type="text" id="txtgasno" name="txtgasno" class="form-control" placeholder="Enter CA Number" onkeypress="return isNumber(event)" />
                </div>
            </div>
        </div>
        <div class="col-md-2 divbillgroupswidth" id="divbillgroup" style="display:none;">
            <div>
                <p id="billgroupmessage" style="top:-16px !important;  margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="" style="margin-top:-1px;border:1px solid #dddddd; height:36px;">
                    <input type="text" id="billgroup" name="billgroup" class="form-control" placeholder="Bill Group No" onkeypress="return isNumber(event)" style="padding-left:0px;" />
                </div>
            </div>
        </div>
        <div class="col-md-2 gasamounterwidth" id="gasamount-input">
            <div>
                <p id="gasamountmessage" style="top:-16px !important; margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="txtelectricity1" style="margin-top:-1px; height:37px;">
                    <input type="text" id="gasamount" name="gasamount" class="form-control" placeholder="Enter Amount" style="padding-left:0px;" />

                    <!--add button vive-->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 wamount-input-type" @*id="btngetviewbill"*@>
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="form-line" style="margin-top:39px; border-bottom:none;">
                                <input type="button" id="btnnn3" class="btn bg-blue-grey" value="View Bill" style="height:37px;float:left;" onclick="GetGasviewbill('gasddltype')" />
                            </div>
                        </div>
                    </div>
                    <!--add button vive-->

                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 gasamount-input-before">
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:-1px !important; border-bottom:none;">
                    <input type="submit" id="btn3" class="btn bg-blue-grey" value="Continue" style="height:37px; float:left; margin-left:-20px;" onclick="getgascontinuebtn('gasddltype')" />
                </div>
            </div>
        </div>

    </div>

    <div class="gasinfo-class-newaddclass" id="showlpggassclass" style="display:none;">
        <div class="col-md-3 elecpay-first gasinfo-class">
            <div style="height:28px;position:absolute;">
                <p id="lpggasmessage11" style="margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="input-group" style="">
                    @Html.DropDownList("lpggasddltype", ViewBag.lpggas as SelectList, "Select Operators", new { id = "lpggasddltype", @class = "form-control", required = "required", onchange = "lpggasddl(this)" })


                </div>


                <!-- /.input group -->
            </div>
        </div>
        <div class="col-md-2" id="divgasbilldiv">
            <div>
                <p id="lpggasmessage" style="position:absolute; top:-27px !important; margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line txtelectricity1 form-line-after" style="margin-top:-1px; height:37px;">
                    <input type="text" id="txtlpggasno" name="txtlpggasno" class="form-control" placeholder="Enter Consumer Number" />
                </div>
            </div>
        </div>


        <div class="col-md-2 divbillgroupswidth">
            <div>
                <p id="lpgbillgroupmessage" style="position:absolute; top:-27px !important;  margin-top:10px; color:#E91E63; font-size:10px; padding-right:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="" style="margin-top:-1px;border:1px solid #dddddd; height:36px;">
                    <input type="text" id="lpgbillgroup" name="lpgbillgroup" class="form-control" placeholder="Enter Distributor ID" style="padding-left:5px;" />
                </div>
            </div>
        </div>

        <div class="col-md-2 registergroupswidth">
            <div>
                <p id="registermomessage" style="position:absolute; top:-27px !important;  margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="" style="margin-top:-1px;border:1px solid #dddddd; height:36px;">
                    <input type="number" id="registermogroup" name="registermogroup" class="form-control" placeholder="Register Mobile" style="padding-left:5px;" required />
                </div>
            </div>
        </div>



        <div class="col-md-2 gasamounterwidth" id="gasamount-input">
            <div>
                <p id="lpggasamountmessage" style="position:absolute; top:-27px !important; margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <div class="txtelectricity1" style="margin-top:-1px; height:37px;">
                    <input type="text" id="lpggasamount" name="lpggasamount" class="form-control" placeholder="Enter Amount" style="padding-left:5px;" />

                    <!--add button vive-->
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 wamount-input-type" @*id="btngetviewbill"*@>
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="form-line" style="margin-top:39px; border-bottom:none;">
                                <input type="button" id="btnnn3" class="btn bg-blue-grey" value="View Bill" style="height:37px;float:left;" onclick="GetlpgGasviewbill('lpggasddltype')" />
                            </div>
                        </div>
                    </div>
                    <!--add button vive-->

                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1 col-xs-1 gasamount-input-before">
            <div class="form-group" style="margin-bottom:0px;">
                <div class="form-line" style="margin-top:-1px !important; border-bottom:none;">
                    <input type="submit" id="btn3" class="btn bg-blue-grey" value="Continue" style="height:37px; float:left; margin-left:-20px;" onclick="getlpggascontinuebtn('lpggasddltype')" />
                </div>
            </div>
        </div>

    </div>



    <!--View Bill button-->
    <!--
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" @*id="btngetviewbill"*@>
        <div class="form-group" style="margin-bottom:0px;">
            <div class="form-line" style="margin-top:39px; border-bottom:none;">
                <input type="button" id="btnnn" class="btn bg-blue-grey" value="View Bill" style="height:37px;float:left;" onclick="GetGasviewbill('gasddltype')" />
            </div>
        </div>
    </div>
    -->

</div>

<div id="gasmsgBox" style="margin-top:10px;"></div>
<div id="lpggasmsgBox" style="margin-top:10px;"></div>
<table id="confirmgas" class="for-prepaid" style="width:100%;margin-top:0px;margin-top: -11px !important;display:none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:25%;">Operator</th>
        <th style="width:25%;">Recharge to</th>
        <th style="width:10%;">amount</th>
        <th style="width:15%;">Service Fee </th>
        @if (Model.Ispin == null)
        {
            <th style="width:15%;">Pin </th>
        }

        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backgas()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size: 14px;"><b><span id="showoptgas"></span> </b></td>
        <td class="border-centerbe" style="font-size: 20px;"><b> <span id="shownumbergas"></span> </b></td>
        <td class="border-centerbe" style="font-size: 20px;"><b><span id="showamountgas"></span></b></td>
        <td>
            <input type="number" class="form-control" id="servicefeegas" placeholder="Enter Fee" />
            <input type="hidden" name="gasduedate" id="gasduedate" />
        </td>

        @if (Model.Ispin == true)
        {
            <td style="font-size: 24px;">
                <input style=" width: 160px; " type="password"
                       id="gasRechargepin"
                       class="form-control text-center"
                       placeholder="Enter PIN"
                       maxlength="6"
                       autocomplete="off" />
                <span id="gaspinError"
                      style="color:red; font-size:13px; display:none; margin-top:5px;">
                </span>
            </td>
        }

        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="gasprocessToPay()">Procces To Pay</button></td>

        @*<td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="gasrechargeconfirm()">Procces To Pay</button></td>*@

    </tr>
</table>
<table id="rechargeconfirmgas" class="for-prepaid" style="width:100%;margin-top:-11px !important;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschkgas"></span> </b></td>
        <td class="border-centerbe border-centerbess" style="font-size: 20px;"><b><span id="rchmsggas"></span></b></td>
        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagaingas()">Recharge Again</button></td>
    </tr>
</table>


<table id="confirmlpggas" class="for-prepaid" style="width:100%;margin-top:0px;margin-top: -11px !important;display:none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:25%;">Operator</th>
        <th style="width:25%;">Recharge to</th>
        <th style="width:10%;">amount</th>
        <th style="width:15%;">Service Fee </th>
        @if (Model.Ispin == true)
        {
            <th style="width:15%;">Pin </th>
        }
        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backlpggas()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size: 14px;"><b><span id="showoptlpggas"></span> </b></td>
        <td class="border-centerbe" style="font-size: 20px;"><b> <span id="shownumberlpggas"></span> </b></td>
        <td class="border-centerbe" style="font-size: 20px;"><b><span id="showamountlpggas"></span></b></td>
        <td>
            <input type="number" class="form-control" id="servicefeelpggas" placeholder="Enter Fee" style="height: 30px;box-shadow: none;width: 150px;" />
            <input type="hidden" name="lpggasduedate" id="lpggasduedate" />
        </td>

        @if (Model.Ispin == true)
        {
            <td style="font-size: 24px;">
                <input style=" width: 160px; " type="password"
                       id="lpggasRechargepin"
                       class="form-control text-center"
                       placeholder="Enter PIN"
                       maxlength="6"
                       autocomplete="off" />
                <span id="lpggaspinError"
                      style="color:red; font-size:13px; display:none; margin-top:5px;">
                </span>
            </td>
        }
        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="lpggasprocessToPay()">Procces To Pay</button></td>


        @*<td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="lpggasrechargeconfirm()">Procces To Pay</button></td>*@

    </tr>
</table>
<table id="rechargeconfirmlpggas" class="for-prepaid" style="width:100%;margin-top:-11px !important;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschklpggas"></span> </b></td>
        <td class="border-centerbe border-centerbess" style="font-size: 20px;"><b><span id="rchmsglpggas"></span></b></td>
        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagainlpggas()">Recharge Again</button></td>
    </tr>
</table>


<div class="loader loaderwww"></div>




<script>
    var isPinOn = @Model.Ispin.ToString().ToLower();

    function gasprocessToPay() {

        if (isPinOn) {

            var pin = $('#gasRechargepin').val();


            if (!pin) {
                alert('Please enter transaction PIN');
                $('#gasRechargepin').focus();
                return;
            }

            gasrechargeconfirm(pin);
        }
        else {
            gasrechargeconfirm('');
        }
    }
</script>

<script>
    var isPinOn1 = @Model.Ispin.ToString().ToLower();

    function lpggasprocessToPay() {

        if (isPinOn1) {

            var pin1 = $('#lpggasRechargepin').val();


            if (!pin1) {
                alert('Please enter transaction PIN');
                $('#lpggasRechargepin').focus();
                return;
            }

            lpggasrechargeconfirm(pin1);
        }
        else {
            lpggasrechargeconfirm('');
        }
    }
</script>

<script>
    function gasshowMsg(msg, type) {

        var color = (type === "success") ? "green" : "red";

        $('#gasmsgBox').html(
            '<div style="color:' + color + '; font-weight:bold;">' + msg + '</div>'
        );

        setTimeout(function () {
            $('#gasmsgBox').html('');
        }, 5000);
    }
</script>

<script>
    function lpggasshowMsg(msg, type) {

        var color = (type === "success") ? "green" : "red";

        $('#lpggasmsgBox').html(
            '<div style="color:' + color + '; font-weight:bold;">' + msg + '</div>'
        );

        setTimeout(function () {
            $('#lpggasmsgBox').html('');
        }, 5000);
    }
</script>


<script>
    j('#gasddltype').select2();
    j('#lpggasddltype').select2();
</script>

<!--Gas View Bill-->
<script type="text/javascript">
    function GetGasviewbill(ggg) {

        var e = document.getElementById(ggg);
        var eleddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtval = $("#txtgasno").val();
        var billgroup = $("#billgroup").val();
        var registermobile = $("#registermogroup").val();

        //var cycleno = $("#ProcessingCycle").val();
        //var billunit = $("#billunit").val();
        //var Amount = $("#gasamount").val();

        /* call function*/
        var sts = getgascontiunebtn(eleddl, txtval, "10", billgroup, registermobile);

        if (sts == true) {
            viewbillgas(eleddl, eleddlvalue, txtval, "10", billgroup, registermobile, "", "");
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }
    }

</script>
<script>
    function viewbillgas(optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4) {
        $(".loaderwww").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("viewbill", "Home")",
            data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amount, optional1: optional1, optional2: optional2, optional3: optional3, optional4: optional4 },
            cache: false,
            dataType: 'json',
            closeOnConfirm: true,
            success: function (result) {
                $(".loaderwww").hide();
                if (result.Response == 'SUCCESS') {
                                //Gas View Bill

                    var price = result.Price;
                    var BIllduedate = result.billduedate;
                    var displayValues = "";
                    $.each(JSON.parse(result.DisplayValues), function (key, val) {
                        if (!val.label.includes('Incentive')) {

                            displayValues = displayValues + val.label + ' : ' + val.value + "</br>";
                        }
                    });
                if (price != "") {
                    //price = parseInt(price);
                    $('#gasamount').val(price);
                    $('#gasduedate').val(BIllduedate);

                    var newrow = "<table class='col-sm-4 table-responsive table-bordered'><tr>";
                    newrow += "<td>" + displayValues + "</td></tr>";
                    newrow += "<tr><td> Bill Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp; ::  " + result.Price + "</td></tr>";
                    newrow += "</table>";
                    $('#gasCustomerTbl').append(newrow);
                    $('#gasCustomerInfo').css('display', 'block');
                    //swal("Success!", displayValues, "success")
                }
                else {
                                var message = result.Message;
                    $('#gasamount').val(0);
                    $('#gasduedate').val('');

                    var newRow =
                        "<div class='col-sm-4' style='text-align: left;'>" +
                        "" + message + ""
                    "</div>"
                    $('#gasCustomerTbl').append(newRow);
                    $('#gasCustomerInfo').css('display', 'block');
                }
                }
            }
        })
    }

</script>


<!--gas continue button function-->

<script>
    function backgas() {
        $('#gasCustomerInfo').hide();
        $('#gasinfo').show();
        $('#confirmgas').hide();
    }
</script>

<script>
    function getgascontinuebtn(gas) {
        var e = document.getElementById(gas);
        var gasddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtgasno = $("#txtgasno").val();
        var billgroup = $("#billgroup").val();
        var registermobile = $("#registermogroup").val();
        var gasamount = $("#gasamount").val();
        var duedate = $("#gasduedate").val();
        var BillRefId = $("#BillRefId").val();
        /*call function */
        var sts = getgascontiunebtn(gasddl, txtgasno, gasamount, billgroup, registermobile);
        if (sts == true) {

            $('#showoptgas').text(gasddl);
            $('#shownumbergas').text(txtgasno);
            $('#showamountgas').text(gasamount);
            $('#gasduedate').text(duedate);
            $('#gasCustomerInfo').hide();
            $('#gasinfo').hide();
            $('#confirmgas').show();

            //  Recharge(gasddl, eleddlvalue, txtgasno, gasamount, billgroup, "", "", "", "0", BillRefId);
            event.preventDefault();
            return false;
        }
    }
</script>


<script>
    function gasrechargeconfirm(pinValue) {

                var e = document.getElementById("gasddltype");
        var gasddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtgasno = $("#txtgasno").val();
        var billgroup = $("#billgroup").val();
        var registermobile = $("#registermogroup").val();
        var gasamount = $("#gasamount").val();
        var duedate = $("#gasduedate").val();
        var BillRefId = $("#BillRefId").val();
        var servicefeegas = $("#servicefeegas").val();
        if (servicefeegas != "") {
            /*call function */
            var sts = getgascontiunebtn(gasddl, txtgasno, gasamount, billgroup, registermobile);
            if (sts == true) {
                           $("#servicefeegas").css("border-color", "#000000");
                //$("#txtgasno").val("");
                //$("#gasamount").val("");
                //if (txtgasno != "" && gasamount != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Recharge","Home")",
                        data: { OperatorName: gasddl, OptCode: eleddlvalue, mobileno: txtgasno, Amount: gasamount, optional1: billgroup, optional2: registermobile, optional3: "", optional4: "", comm: "", BillRefId: BillRefId, servicefee: servicefeegas, billduedate: duedate, Rechargepin: pinValue },
                        cache: false,
                        dataType: 'json',
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (result) {


                            // 🔴 Clear old PIN error every time
                            $('#gaspinError').hide().text("");

                            /* 🔴 PIN ERROR — SAME PAGE */
                            if (result.status && (
                                result.status === "PIN_REQUIRED" ||
                                result.status === "INVALID_PIN" ||
                                result.status === "PIN_NOT_SET")) {

                                $('#gaspinError').text(result.message).show();
                                $('.loader').hide();
                                return; // 🚫 STOP ONLY FOR PIN ERROR
                            }

                            var status = result.Response;
                            var message = result.Message;
                            if (status == "GATEWAY") {
                                window.open(message, "_self");
                                $('#rchstatuschkgas').text("Pending");
                                $('#rchmsggas').text("Please Wait While Redirect The Gateway");
                            }
                            else {
                                $('#rchstatuschkgas').text(status);
                                $('#rchmsggas').text(message);

                                $("#txtgasno").val("");
                                $("#gasamount").val("");
                            }

                            $('#confirmgas').hide();
                            $('#rechargeconfirmgas').show();
                        },
                        complete: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                            $.ajax({
                                url: '@Url.Action("showrecentrecharge", "Home")',
                                type: 'GET',
                                dataType: "html",
                                data: { type: "gas" },
                                success: function (data) {
                                    $('#reportchk').html(data);
                                },
                                error: function (data) {

                                }
                            });
                        },
                        error: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                        }
                    })
              //  }
            }
        }
        else {
               $("#servicefeegas").css("border-color", "#FF0000");
        }
    }
</script>

<script>
    function Rechargeagaingas() {
        $('#numbershowmobile').text("");
        $('#gasCustomerInfo').show();
        $('#gasinfo').show();
        $('#confirmgas').hide();
        j('#gasddltype').val("");
        j('#gasddltype').select2().trigger('change');
        $('#txtgasno').val("");
        $('#rechargeconfirmgas').hide();
        $('#gasamount').val("");

    }
</script>


<!----LPG---->
<!--LPG Gas View Bill-->
<script type="text/javascript">
    function GetlpgGasviewbill(ggg) {

        var e = document.getElementById(ggg);
        var eleddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtval = $("#txtlpggasno").val();
        var billgroup = $("#lpgbillgroup").val();
        var registermobile = $("#registermogroup").val();

        //var cycleno = $("#ProcessingCycle").val();
        //var billunit = $("#billunit").val();
        //var Amount = $("#gasamount").val();

        /* call function*/
        var sts = getlpggascontiunebtn(eleddl, txtval, "10", billgroup, registermobile);

        if (sts == true) {
            viewbilllpggas(eleddl, eleddlvalue, txtval, "10", billgroup, registermobile, "", "");
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }
    }

</script>
<script>
    function viewbilllpggas(optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4) {
        $('#lpggasCustomerTbl').empty();
        $(".loaderwww").show();
        debugger;
        $.ajax({
            type: "POST",
            url: "@Url.Action("viewbill", "Home")",
            data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amount, optional1: optional1, optional2: optional2, optional3: optional3, optional4: optional4 },
            cache: false,
            dataType: 'json',
            closeOnConfirm: true,
            success: function (result) {
                $(".loaderwww").hide();
                if (result.Response == 'SUCCESS') {
                                //Gas View Bill
                    var price = result.Price;
                    var BIllduedate = result.billduedate;
                    var displayValues = "";
                    $.each(JSON.parse(result.DisplayValues), function (key, val) {
                        if (!val.label.includes('Incentive')) {

                            displayValues = displayValues + val.label + ' : ' + val.value + "</br>";
                        }
                    });
                if (price != "") {
                    //price = parseInt(price);
                    $('#lpggasamount').val(price);
                    $('#lpggasduedate').val(BIllduedate);

                    var newrow = "<table class='col-sm-4 table-responsive table-bordered'><tr>";
                    newrow += "<td>" + displayValues + "</td></tr>";
                    newrow += "<tr><td> Bill Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp; ::  " + result.Price + "</td></tr>";
                    newrow += "</table>";
                    $('#lpggasCustomerTbl').append(newrow);
                    $('#lpggasCustomerInfo').css('display', 'block');
                    //swal("Success!", displayValues, "success")
                }
                else {
                    var message = result.Message;
                    $('#lpggasamount').val(0);
                    $('#lpggasduedate').val('');

                    var newRow =
                        "<div class='col-sm-4' style='text-align: left;'>" +
                        "" + message + ""
                    "</div>"
                    $('#lpggasCustomerTbl').append(newRow);
                    $('#lpggasCustomerInfo').css('display', 'block');
                }
                }
                if (result.Response == 'ERROR') {

                    var newRow = "<div class='col-sm-4' style='text-align: left;color:red'>" +
                        "" + result.Message + ""
                    "</div>";

                    $('#lpggasamount').val('');
                    $('#lpggasduedate').val('');
                    $('#lpggasCustomerTbl').append(newRow);
                    $('#lpggasCustomerInfo').css('display', 'block');
                }
            }
        })
    }

</script>


<!--lpg gas continue button function-->

<script>
    function backlpggas() {
        $('#lpggasCustomerInfo').hide();
        $('#lpggasinfo').show();
        $('#showlpggassclass').show();

        $('#confirmlpggas').hide();
    }
</script>

<script>
    function getlpggascontinuebtn(gas) {
        var e = document.getElementById(gas);
        var gasddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtgasno = $("#txtlpggasno").val();
        var billgroup = $("#lpgbillgroup").val();
        var registermobile = $("#registermogroup").val();
        var gasamount = $("#lpggasamount").val();
        var duedate = $("#lpggasduedate").val();
        var BillRefId = $("#lpgBillRefId").val();
        /*call function */
        var sts = getlpggascontiunebtn(gasddl, txtgasno, gasamount, billgroup, registermobile);
        if (sts == true) {

            $('#showoptlpggas').text(gasddl);
            $('#shownumberlpggas').text(txtgasno);
            $('#showamountlpggas').text(gasamount);
            $('#lpggasduedate').text(duedate);
            $('#lpggasCustomerInfo').hide();
            $('#lpggasinfo').hide();
            $('#showlpggassclass').hide();
            $('#confirmlpggas').show();

            //  Recharge(gasddl, eleddlvalue, txtgasno, gasamount, billgroup, "", "", "", "0", BillRefId);
            event.preventDefault();
            return false;
        }
    }
</script>


<script>
    function lpggasrechargeconfirm(pinValue1) {
                var e = document.getElementById("lpggasddltype");
        var gasddl = e.options[e.selectedIndex].text;
        var eleddlvalue = e.options[e.selectedIndex].value;
        var txtgasno = $("#txtlpggasno").val();
        var billgroup = $("#lpgbillgroup").val();
        var registermobile = $("#registermogroup").val();
        var gasamount = $("#lpggasamount").val();
        var duedate = $("#lpggasduedate").val();
        var BillRefId = $("#lpgBillRefId").val();
        var servicefeegas = $("#servicefeelpggas").val();
        if (servicefeegas != "") {
            /*call function */
            var sts = getlpggascontiunebtn(gasddl, txtgasno, gasamount, billgroup, registermobile);
            if (sts == true) {
                           $("#servicefeelpggas").css("border-color", "#000000");
                //$("#txtlpggasno").val("");
                //$("#lpggasamount").val("");
                //if (txtgasno != "" && gasamount != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Recharge","Home")",
                        data: { OperatorName: gasddl, OptCode: eleddlvalue, mobileno: txtgasno, Amount: gasamount, optional1: billgroup, optional2: registermobile, optional3: "", optional4: "", comm: "", BillRefId: BillRefId, servicefee: servicefeegas, billduedate: duedate, Rechargepin: pinValue1 },
                        cache: false,
                        dataType: 'json',
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (result) {


                            // 🔴 Clear old PIN error every time
                            $('#lpggaspinError').hide().text("");

                            /* 🔴 PIN ERROR — SAME PAGE */
                            if (result.status && (
                                result.status === "PIN_REQUIRED" ||
                                result.status === "INVALID_PIN" ||
                                result.status === "PIN_NOT_SET")) {

                                $('#lpggaspinError').text(result.message).show();
                                $('.loader').hide();
                                return; // 🚫 STOP ONLY FOR PIN ERROR
                            }

                            var status = result.Response;
                            var message = result.Message;
                            $('#rchstatuschklpggas').text(status);
                            $('#rchmsglpggas').text(message);
                            $('#confirmlpggas').hide();
                            $('#rechargeconfirmlpggas').show();

                            $("#txtlpggasno").val("");
                            $("#lpggasamount").val("");
                        },
                        complete: function () {
                            $('.loader').hide();
                            $.ajax({
                                url: '@Url.Action("showrecentrecharge", "Home")',
                                type: 'GET',
                                dataType: "html",
                                data: { type: "LPG Gas" },
                                success: function (data) {


                                    //// 🔴 Clear old PIN error every time
                                    //$('#lpggaspinError').hide().text("");

                                    ///* 🔴 PIN ERROR — SAME PAGE */
                                    //if (result.status && (
                                    //    result.status === "PIN_REQUIRED" ||
                                    //    result.status === "INVALID_PIN" ||
                                    //    result.status === "PIN_NOT_SET")) {

                                    //    $('#lpggaspinError').text(result.message).show();
                                    //    $('.loader').hide();
                                    //    return; // 🚫 STOP ONLY FOR PIN ERROR
                                    //}

                                    $('#reportchk').html(data);


                                    //$("#txtlpggasno").val("");
                                    //$("#lpggasamount").val("");
                                },
                                error: function (data) {

                                }
                            });
                        },
                        error: function () {
                            $('.loader').hide();
                        }
                    })
               // }
            }
        }
        else {
               $("#servicefeelpggas").css("border-color", "#FF0000");
        }
    }
</script>

<script>
    function Rechargeagainlpggas() {

        j('#lpggasddltype').val("");
        j('#lpggasddltype').select2().trigger('change');
        $('#txtlpggasno').text("");
        $('#lpggasamount').text("");
        $('#BillRefId').text("");
        $('#txtlpggasno').text("");
        $('#lpgbillgroup').text("");
        $('#lpgbillgroup').text("");
        $('#showlpggassclass').show();
        $('#rechargeconfirmlpggas').hide();
        $('#confirmlpggas').hide();

        //$('#numbershowmobile').text("");
        //$('#gasCustomerInfo').show();
        //$('#lpggasCustomerInfo').show();
        //$('#gasinfo').show();
        //$('#lpggasinfo').show();
        //$('#confirmgas').hide();
        //$('#confirmlpggas').hide();
        //j('#gasddltype').val("");
        //j('#lpggasddltype').val("");
        //j('#gasddltype').select2().trigger('change');
        //j('#lpggasddltype').select2().trigger('change');
        //$('#txtgasno').val("");
        //$('#txtlpggasno').val("");
        //$('#rechargeconfirmgas').hide();
        //$('#rechargeconfirmlpggas').hide();
        //$('#gasamount').val("");
        //$('#lpggasamount').val("");

    }
</script>
