@model IEnumerable<Vastwebmulti.Models.Rem_IRCTC_TokenPurchase_reports_Result>


    @foreach (var item in Model)
    {
        var btnstyle = "none";

        <tr>
            <td>
                @if (item.status == "Pending")
                {
                    <span>Pending</span>
                    <input type="button" value="status chk" onclick="checkstatusdata('@item.TxnID')" />
                }
                else
                {
                    <span>
                        @item.status
                    </span>
                }
            </td>
            <td>
                @item.RetailerName
            </td>
            <td>
                @item.remmobile
            </td>
            <td>
                @item.secondmobile
            </td>
            <td>
                @item.remEmail
            </td>
            <td>
                @item.secondemail
            </td>
            <td>
                @item.amount
            </td>
            <td>
                @item.txn_date
            </td>
            <td>
                @item.expire_time
            </td>
            <td>
                @item.remain_pre
            </td>
            <td>
                @item.remain
            </td>
        </tr>

    }



