@model Vastwebmulti.Areas.RETAILER.Models.remmulti


<style>

    /* new css */

    .form-line {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    #btnnn2 {
        padding: 0 10px !important;
        margin-top: 1.5px !important;
    }


    /* new css */


    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
</style>
<div id="Landlineshow" class="row" style="padding-left:4px;">
    <!--Lnadline dropdown-->
    <div class="col-md-2 Landlineshow-first" style="margin-top:10px;">
        <div style="visibility:inherit;">
            <p id="landlineopt" style=" position:absolute;margin-top:0;color:#E91E63; font-size:10px; padding-left:0px; bottom: 27px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            <img src="~/AdminDesign/BBPSlogo.png" style="float: right; width: 50px !important; " />

            <div class="form-line">

                @Html.DropDownList("landlineddl", ViewBag.landline as SelectList, "Select Service Provider", new { id = "landlineddl", @class = "form-control", onchange = "landlineddltype(this)" })
                <div class="input-group-addon in-addon" id="inaddons">

                </div>

            </div>

        </div>

    </div>
    <!--Landline number-->
    <div class="col-md-4 Landlineshow-second customelandcss" style="margin-top:8px;">
        <div>
            <p id="landlinemessage" class="landlinemessagecustome" style="margin-top:0;color:#E91E63; font-size:10px; padding-left:0px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            @* <div class="" style="margin-top:-2px;float:left;width:100%;height:37px;">*@

            <input type="text" id="txtlandline" name="txtlandline" class="form-control" maxlength="13" placeholder="Enter Landline Number" onkeypress="return isNumber(event)" autocomplete="off" />
            @*<div style="        float: right;
                        margin-top: -29px;
                        margin-right: 4px;
                        display: none;
                " id="divLLILLC">
                                    <input name="landlinegroup" type="radio" id="LLI" value="LLI" class="with-gap radio-col-blue-grey" checked="">
                                    <label for="LLI" style="padding-left: 23px;">LLI</label>
                                    <input name="landlinegroup" type="radio" id="LLC" value="LLC" class="with-gap radio-col-blue-grey">
                                    <label for="LLC" style="padding-left: 23px;">LLC</label>
                                </div>*@

            @*</div>*@
        </div>

    </div>
    <!--STD Code-->
    <div class="col-md-1" id="DivSTDCode" style="margin-top:10px;">
        <div style="height:28px;position:absolute;top: -21px !important;width: 100%;">
            <p id="stdcodemessage" style="color:#E91E63; font-size:10px; padding-left:1px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            <div class="form-line form-line-after" style="margin-top:-2px; height:37px;">
                <input type="text" id="STDCODE" name="STDCODE" class="form-control" placeholder="STD CODE" onkeypress="return isNumber(event)" style="padding-left:0px; font-size:14px;" maxlength="6" />
            </div>
        </div>
    </div>
    <!--Landline Account number-->
    <div class="col-md-2 Divaccountnumbereswr" id="Divaccountnumber" style="margin-top:10px;">
        <div style="height:28px; position:absolute;width:100%;float:left;top: -22px !important;">
            <p id="accountmessage" style="margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            <div class="form-line form-line-after" style="margin-top: -2px; height: 37px;">
                <input type="text" id="txtaccount" name="txtaccount" class="form-control" placeholder="Enter Account No" onkeypress="return isNumber(event)" />
            </div>
        </div>
    </div>
    <!--Land line amount-->
    <div class="col-md-2" style="margin-top:10px;">
        <div style="height: 28px;position: absolute;top: -22px !important;">
            <p id="amountmessage" style="margin-top:10px; color:#E91E63; font-size:10px; padding-left:1px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            <div class="form-line" style="margin-top:-2px; height:37px;">
                <input type="text" id="landamount" name="landamount" class="form-control" placeholder="Enter Amount" onkeypress="return isNumber(event)" />

                <!--Add Button View-->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 wamount-input-type" id="btngetviewbill">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="border-bottom:none;">
                            <input type="button" id="btnnn2" class="btn bg-blue-grey" value="View Bill" style="height:37px;float:left;" onclick="GetviewbillLandline('landlineddl')" />
                        </div>
                    </div>
                </div>
                <!--Add Button View-->

            </div>
        </div>
    </div>

    <div class="col-md-1 Divaccountnumber-second" style="margin-top:10px;">
        <div class="form-group" style="margin-bottom:0px; ">
            <div class="form-line" style="border-bottom:none;">
                <input type="button" id="btn1" class="btn bg-blue-grey" value="Continue" style="height:37px;" onclick="Getlanlinecontinuebtn('landlineddl')" />
            </div>
        </div>
    </div>
</div>

<div id="landlinemsgBox" style="margin-top:10px;"></div>

<table id="confirmlandline" class="for-prepaid" style="        width: 100%;
        margin-top: 5px;
        display: none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:25%;">Operator</th>
        <th style="width:25%;">Recharge to</th>
        <th style="width:10%;">amount</th>
        <th style="width:15%;">Service Fee </th>
        @if (Model.Ispin == true)
        {
            <th style="width:15%;">Pin</th>
        }
        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backLandline()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size: 24px;"><b><span id="showoptlandline"></span> </b></td>
        <td class="border-centerbe" style="font-size: 24px;"><b><span id="shownumberlandline"></span> </b></td>
        <td class="border-centerbe" style="font-size: 24px;"><b><span id="showamountlandline"></span></b></td>
        <td>
            <input type="number" class="form-control" id="servicefeelandline" placeholder="Enter Fee" />
            <input type="hidden" name="landlineduedate" id="landlineduedate" />
        </td>
        @if (Model.Ispin == true)
        {
            <td style="font-size: 24px;">
                <input style=" width: 120px; " type="password"
                       id="landlineRechargepin"
                       name="landlineRechargepin"
                       class="form-control text-center"
                       placeholder="Enter PIN"
                       maxlength="6"
                       autocomplete="off" />
                <span id="landlinepinError"
                      style="color:red; font-size:13px; display:none; margin-top:5px;">
                </span>
            </td>
        }

        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="landlineprocessToPay()">Procces To Pay</button></td>


        @*<td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="landlinerechargeconfirm()">Procces To Pay</button></td>*@

    </tr>
</table>
<table id="rechargeconfirmlandline" class="for-prepaid" style="width:100%;margin-top:0px !important;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschklandline"></span> </b></td>
        <td style="font-size: 20px;"><b><span id="rchmsglandline"></span></b></td>
        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagainlandline()">Recharge Again</button></td>
    </tr>
</table>


<div class="loader loaderwww"></div>
landline


<script>
    var isPinOn = @Model.Ispin.ToString().ToLower();

    function landlineprocessToPay() {

        if (isPinOn) {

            var pin = $('#landlineRechargepin').val();

            if (!pin) {
                alert('Please enter transaction PIN');
                $('#landlineRechargepin').focus();
                return;
            }

            landlinerechargeconfirm(pin);
        }
        else {
            landlinerechargeconfirm('');
        }
    }
</script>



<script>
    function showMsg(msg, type) {

        var color = (type === "success") ? "green" : "red";

        $('#msgBox').html(
            '<div style="color:' + color + '; font-weight:bold;">' + msg + '</div>'
        );

        setTimeout(function () {
            $('#DthmsgBox').html('');
        }, 5000);
    }
</script>





<script>
    j('#landlineddl').select2();
</script>

<script type="text/javascript">
    function GetviewbillLandline(el) {

        var e = document.getElementById("landlineddl");
        var ddllandline = e.options[e.selectedIndex].text;
        var optvalue = e.options[e.selectedIndex].value;
        //  var radiobtn = document.querySelector('input[name="landlinegroup"]:checked').value;
        var landlineno = $("#txtlandline").val();
        var Stdcode = $("#STDCODE").val();
        var accountno = $("#txtaccount").val();
        var amountno = $("#landamount").val();
        var radiobtn = "";
        if (ddllandline == "BSNL Landline") {

            radiobtn = "LLI";
            // var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, 'LLI');
        }
        else if (ddllandline == "BSNL Landline - Corporate") {

            radiobtn = "LLC";
            //  var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, 'LLC');
        }


        //if (ddllandline == "Airtel Landline")
        //{
        //    var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode,0, amountno, radiobtn);
        //}
        //else
        //{
        // var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno);
        var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, radiobtn);
        //optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4
        //}
        if (sts == true) {


            if (ddllandline == "BSNL Landline") {
                //  Recharge(ddllandline, optvalue, landlineno, amountno, accountno, radiobtn, Stdcode, '', "0", "");
                viewbille(ddllandline, optvalue, landlineno, 10, accountno, radiobtn, "", "");
            }
            if (ddllandline == "BSNL Landline - Corporate") {
                //  Recharge(ddllandline, optvalue, landlineno, amountno, accountno, radiobtn, Stdcode, '', "0", "");
                viewbille(ddllandline, optvalue, landlineno, 10, accountno, radiobtn, "", "");
            }
            else if (ddllandline == "MTNL Delhi Landline" || ddllandline == "MTNL - Mumbai") {
                viewbille(ddllandline, optvalue, landlineno, 10, accountno, "", "", "");
            }
            else if (ddllandline == "Airtel Landline") {
                viewbille(ddllandline, optvalue, landlineno, 10, "", "", "", "");
            }
            else if (ddllandline == "Tata Docomo LANDLINE") {

                viewbille(ddllandline, optvalue, landlineno, 10, "", "", "", "");
            }
            else if (ddllandline == "Reliance LANDLINE") {
                viewbille(ddllandline, optvalue, landlineno, 10, accountno, "", "", "");
            }
        }
        else {
            event.preventDefault();
            return false;
        }
    }

</script>


<script>
    function viewbille(optname, optvalue, mobileno, amount, optional1, optional2, optional3, optional4) {
        $('.loader').show();

       $.ajax({
           type: "POST",
           url: "@Url.Action("viewbill", "Home")",
           data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amount, optional1: optional1, optional2: optional2, optional3: optional3, optional4: optional4 },
           cache: false,
           dataType: 'json',
           closeOnConfirm: true,
           success: function (result) {

               $('.loader').hide();

               if (result.Response == 'SUCCESS') {
               var displayValues = "";
            $.each(JSON.parse(result.DisplayValues), function (key, val) {
                if (!val.label.includes('Incentive')) {

                    displayValues = displayValues + val.label + ' : ' + val.value + "</br>";
                }
            });
                   //                          var newRow ="<div class='col-sm-4' style='text-align: left;'>" +
                   //               ""+displayValues+""
                   //"</div>";
                   var newrow = "<table class='col-sm-4 table-responsive table-bordered'><tr>";
                   newrow += "<td>" + displayValues +"</td></tr>";
                   newrow += "<tr><td> Bill Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp; ::  " + result.Price + "</td></tr>";
                   newrow += "<tr><td> Due Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ::  " + result.billduedate + "</td></tr>";
                    newrow += "</table>";
                              $('#ElectricityCustomerTbl').append(newrow);
                              $('#ElectricityCustomerInfo').css('display', 'block');
            var price = result.Price;
                   var BillRefId = result.reference_id;
                   var BIllduedate = result.billduedate;
                   if (BillRefId == "undefined" || BillRefId == "") {
                       if (price != "") {
                           //price = parseInt(price);
                           $('#landamount').val(price);
                           $('#landlineduedate').val(BIllduedate);

                           // displayValues
                       }
                   }
                   else {
                       if (price != "") {
                           //price = parseInt(price);
                           $('#landamount').val(price);
                           $('#landlineduedate').val(BIllduedate);
                           // displayValues
                       }
                       else {
                                 var message = result.Message;
                           $('#landamount').val('');
                           $('#landlineduedate').val(BIllduedate);
                       }
                   }
               }
               if (result.Response == 'ERROR') {
                   $('.loader').hide();
                                               var newRow ="<div class='col-sm-4' style='text-align: left;color:red'>" +
                                  ""+result.Message+""
                   "</div>";

                   $('#landamount').val('');
                   $('#landlineduedate').val('');
                     $('#ElectricityCustomerTbl').append(newRow);
                              $('#ElectricityCustomerInfo').css('display', 'block');
               }
           }

       })
    }
</script>




<!--Landline continue btn Javascript -->
<script type="text/javascript">
    function Getlanlinecontinuebtn(land) {
        var e = document.getElementById("landlineddl");
        var ddllandline = e.options[e.selectedIndex].text;
        var optvalue = e.options[e.selectedIndex].value;
        //var radiobtn = document.querySelector('input[name="landlinegroup"]:checked').value;
        var landlineno = $("#txtlandline").val();
        var Stdcode = $("#STDCODE").val();
        var accountno = $("#txtaccount").val();
        var amountno = $("#landamount").val();
        var duedate = $("#landlineduedate").val();

        //if (ddllandline == "Airtel Landline")
        //{
        //    var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode,0, amountno, radiobtn);
        //}
        //else
        //{
        var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, "");
        //}
        if (sts == true) {
            $('#showoptlandline').text(ddllandline);
            $('#shownumberlandline').text(landlineno);
            $('#showamountlandline').text(amountno);
            $('#landlineduedate').text(duedate);
            $('#Landlineshow').hide();
            $('#confirmlandline').show();


            if (ddllandline == "BSNL Landline") {
                //  Recharge(ddllandline, optvalue, landlineno, amountno, accountno, radiobtn, Stdcode, '', "0", "");
                event.preventDefault();
                return false;
            }
            else if (ddllandline == "MTNL Delhi Landline" || ddllandline == "MTNL - Mumbai") {
                // Recharge(ddllandline, optvalue, landlineno, amountno, accountno, '', '', '', "0");
                event.preventDefault();
                return false;
            }
            else if (ddllandline == "Airtel Landline") {
                //  Recharge(ddllandline, optvalue, landlineno, amountno, Stdcode, '', '', '', "0");
                event.preventDefault();
                return false;
            }
            else if (ddllandline == "Tata Docomo LANDLINE") {

                //  Recharge(ddllandline, optvalue, landlineno, amountno, '', '', '', '');
                event.preventDefault();
                return false;
            }
            else if (ddllandline == "Reliance LANDLINE") {
                // Recharge(ddllandline, optvalue, mobileno, amountno, Stdcode, '', '', '', "0");
                event.preventDefault();
                return false;
            }
        }
        else {
            event.preventDefault();
            return false;
        }
    }
</script>
<script>
    function backLandline() {

        // j('#landlineddl').val("");
        //j('#landlineddl').select2().trigger('change');
        //$('#txtlandline').val("");
        //$('#STDCODE').val("");
        //$('#txtaccount').val("");
        //$('#landamount').val("");
        $('#Landlineshow').show();
        $('#confirmlandline').hide();
        $('#rechargeconfirmlandline').hide();
    }
</script>
<script>
    function landlinerechargeconfirm(pinValue) {

        var optional1 = ""; var optional2 = ""; var optional3 = "";
        var e = document.getElementById("landlineddl");
        var ddllandline = e.options[e.selectedIndex].text;
        var optvalue = e.options[e.selectedIndex].value;
       /* var radiobtn = document.querySelector('input[name="landlinegroup"]:checked').value;*/
        var landlineno = $("#txtlandline").val();
        var Stdcode = $("#STDCODE").val();
        var accountno = $("#txtaccount").val();
        var amountno = $("#landamount").val();
        var duedate = $("#landlineduedate").val();
        var servicefeelandline = $("#servicefeelandline").val();
        if (servicefeelandline != "") {
                        $("#servicefeelandline").css("border-color", "#000000");
            var sts = getlandlinecontinuebtn(ddllandline, landlineno, Stdcode, accountno, amountno, null);
            if (sts == true) {
                if (ddllandline == "BSNL Landline") {
                    optional1 = accountno;
                   /* optional2 = radiobtn;*/
                    optional3 = Stdcode;
                    //  Recharge(ddllandline, optvalue, landlineno, amountno, accountno, radiobtn, Stdcode, '', "0", "");

                }
                else if (ddllandline == "MTNL Delhi Landline" || ddllandline == "MTNL - Mumbai") {
                    optional1 = accountno;
                    // Recharge(ddllandline, optvalue, landlineno, amountno, accountno, '', '', '', "0");

                }
                else if (ddllandline == "Airtel Landline") {
                    optional1 = Stdcode;
                    //  Recharge(ddllandline, optvalue, landlineno, amountno, Stdcode, '', '', '', "0");

                }
                else if (ddllandline == "Tata Docomo LANDLINE") {
                    //  Recharge(ddllandline, optvalue, landlineno, amountno, '', '', '', '');

                }
                else if (ddllandline == "Reliance LANDLINE") {
                    optional1 = Stdcode;
                    // Recharge(ddllandline, optvalue, mobileno, amountno, Stdcode, '', '', '', "0");

                }

              //  $("#txtlandline").val("");
              //  $("#landamount").val("");
              //  if (landlineno != "" && amountno != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Recharge","Home")",
                        data: { OperatorName: ddllandline, OptCode: optvalue, mobileno: landlineno, Amount: amountno, optional1: optional1, optional2: optional2, optional3: optional3, optional4: "", comm: "", BillRefId: "", servicefee: servicefeelandline, billduedate: duedate, Rechargepin: pinValue },
                        cache: false,
                        dataType: 'json',
                        beforeSend: function () {
                            $('.loader').show();
                        },
                        success: function (result) {



                            // 🔴 Clear old PIN error every time
                            $('#landlinepinError').hide().text("");

                            /* 🔴 PIN ERROR — SAME PAGE */
                            if (result.status && (
                                result.status === "PIN_REQUIRED" ||
                                result.status === "INVALID_PIN" ||
                                result.status === "PIN_NOT_SET")) {

                                $('#landlinepinError').text(result.message).show();
                                $('.loader').hide();
                                return; // 🚫 STOP ONLY FOR PIN ERROR
                            }

                            var status = result.Response;
                            var message = result.Message;
                            if (status == "GATEWAY") {
                                window.open(message, "_self");
                                $('#rchstatuschklandline').text("Pending");
                                $('#rchmsglandline').text("Please Wait While Redirect The Gateway");
                            }
                            else {
                                $('#rchstatuschklandline').text(status);
                                $('#rchmsglandline').text(message);

                                  $("#txtlandline").val("");
                                 $("#landamount").val("");

                            }

                            $('#confirmlandline').hide();
                            $('#rechargeconfirmlandline').show();
                        },
                        complete: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                            $.ajax({
                                url: '@Url.Action("showrecentrecharge", "Home")',
                                type: 'GET',
                                dataType: "html",
                                data: { type: "landline" },
                                success: function (data) {
                                    $('#reportchk').html(data);
                                },
                                error: function (data) {

                                }
                            });
                        },
                        error: function () {
                            $("#remainretailer").load(location.href + " #remainretailer");
                            $('.loader').hide();
                        }
                    })

               // }

            }
        }
        else {
            $("#servicefeelandline").css("border-color", "#FF0000");
        }
    }
</script>
<script>
    function Rechargeagainlandline() {
        $('#numbershowmobile').text();
        j('#landlineddl').val("");
        j('#landlineddl').select2().trigger('change');
        $('#txtlandline').val("");
        $('#STDCODE').val("");
        $('#txtaccount').val("");
        $('#landamount').val("");
        $('#Landlineshow').show();
        $('#confirmlandline').hide();
        $('#rechargeconfirmlandline').hide();
    }
</script>