@model IEnumerable<Vastwebmulti.Models.Mpos_Report_New_paging_Result>
@{
    Layout = null;
}
@if (Model != null && Model.Count() > 0)
{
    int sno = 0;
    foreach (var item in Model)
    {
        sno += 1;
        <tr>
            <td>@sno</td>
            <td class="mpos-imgclass">
                @if (item.status == "00")
                {
                    <p style="color:#555; font-size:13px;"><img style="height:20px;width:20px;margin-right:3px;float:left;font-size:0px; background-color:green;" src="../../ashok-images/correct.svg"><span style="font-size:0;">Success</span><span class="trans-typempos">@item.transType</span></p>
                }
                else
                {
                    <p style="color:#555; font-size:13px;"><img style="height:20px;width:20px;margin-right:3px;float:left;font-size:0px; background-color:red;" src="../../ashok-images/closes.svg"><span style="font-size:0;">Failed</span><span class="trans-typempos">@item.transType</span></p>
                }
            </td>

            <td>@item.mPOSid</td>
            <td style="display:none;">@item.Message</td>
            <td style="display:none;">@item.transType</td>
            <td style="display:none;">@item.amount</td>

            <td style="display:none;">
                @if (item.status == "00")
                {
                    <p style="color:green; font-size:18px;">Success</p>
                }
                else
                {
                    <p style="color:red; font-size:18px;">Failed</p>
                }
            </td>
            <td style="display:none;">@item.merchatID</td>
            <td style="display:none;">@item.bankmerchantID</td>
            <td style="display:none;">@item.bankterminalID</td>

            <td>@item.cardbrand</td>
            <td>@item.cardtype</td>

            <td>


                @try
                {
                    var resultID = "***********" + System.Text.RegularExpressions.Regex.Match(item.cardnumber, @"(.{6})\s*$");
                    <p>@resultID</p>
                }
                catch
                {
                    <p>@item.cardnumber</p>
                }

            </td>
            <td>@item.cardholdername</td>

            <td style="display:none;">@item.cardtype</td>

            <td style="display:none;">@item.date</td>
            <td style="display:none;">@item.invoiceno</td>

            <td>
                @try
                {
                    var resultID = "*******" + System.Text.RegularExpressions.Regex.Match(item.paymentid, @"(.{6})\s*$");
                    <p>@resultID</p>
                }
                catch
                {
                    <p>@item.paymentid</p>
                }

            </td>
            <td>User&nbsp;Fee</td>
            <td>Earn</td>

            <td style="display:none">@item.merchantnameaddress</td>

            <td>@item.RetailerPre</td>
            <td>Cr&nbsp;/&nbsp;Dr</td>
            <td>@item.RetailerPost</td>

            <td style="display:none;">@item.Rem_comm</td>
            <td style="display:none;">@item.remgst</td>
            <td style="display:none;">@item.remincome</td>

            <td class="aepsprintbutton nextaepsbutton">
                <i class="material-icons" style="cursor:pointer;">print</i>
                <img src="~/ashok-images/rightaeps.svg" data-toggle="modal" data-target="#mposprinttable" class="last-afteraeps" style="width: 10px;float: left;margin-left: 5px;margin-top: 7px;cursor: pointer;" />
            </td>
        </tr>
    }
}
else
{
    <tr>
        @if (@ViewBag.checkdata != null)
        {
            <td colspan="13"><h3 style="text-align:center;">No Data For Current Search</h3></td>
        }
        else
        {
            <td colspan="13"><h3 style="text-align:center;">Data Not Found</h3></td>
        }

    </tr>

}