
<style>
    /* New css  */

    .col-md-12.remitter_button {
        height: auto;
    }

    #statuschk {
        padding: 10px;
        width: 100%;
        float: left;
        margin-top: 15px;
        border-radius: 4px;
    }

    #firstMICRO button {
        padding: 6px 15px !important;
        border-radius: 4px;
    }

    #firstpur2 button {
        padding: 6px 15px !important;
        border-radius: 4px;
    }
    /* New css  */
    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .deviceactivemicroatm img {
        width: 122px;
        height: 122px;
        border-radius: 50%;
        padding: 22px;
        display: block;
    }

    .deviceactivemicroatm {
        width: 100%;
        float: left;
        text-align: center;
        display: grid;
        justify-items: center;
        margin-top: 15px;
    }

        .deviceactivemicroatm strong {
            margin: 10px 0;
            text-transform: uppercase;
            font-size: 16px;
            border-bottom: 1px solid green;
        }

        .deviceactivemicroatm p {
            font-size: 14px;
            text-transform: capitalize;
        }
</style>
<div class="loader loaderpancard"></div>
<div>
    <span id="errormposid123" style="color:red;font-weight:bold;"></span>
</div>

<div id="firstMICRO" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">MICROATM Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseMICROATM('VM30')" style="color: #fff;">MICROATM Purchase</button>
</div>
<div id="ALLMICRO" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">MICROATM Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseMICROATM('ALL')" style="color: #fff;">ALL Purchase</button>
</div>
<div id="BOTHMICRO" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">MICROATM Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseMICROATM('ALL')" style="color: #fff;">ALL Purchase</button>
    <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseMICROATM('VM30')" style="color: #fff;">MICROATM Purchase</button>
</div>
<input type="hidden" id="HDServicesname" name="HDServicesname" value="" />

<div id="secpur111" class="col-md-12 remitter_button remitter_buttonewq" style="display:none;text-align: center;">
    <span style="margin-top:0;">Payment Details</span>
    <div class="lavbrd">
        <label>Mode</label>
        <label class="rightlable" id="PaymentType111"></label>
    </div>
    <div class="lavbrd">
        <label>Amount</label>
        <label class="rightlable" id="Price111"></label>
    </div>
    <div class="coldebuttonnew">
        <button class="bacbuttonrrt" onclick="GotoATMActive()">Back</button>
        <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchaseMICROATM()" style="color: #fff;">Pay Now</button>
    </div>
    <br />
    <label id="errmsgmicro" style="color:red;"></label>
</div>


<div>
    <button id="statuschk" class="btn btn-default fullbodydycolorbg" onclick="microATM_StatusCheck()" style="color: #fff;">Click To Check Status</button> <span id="alredyexist" class="container-fluid aeps" style="color: red;padding: 5px 15px;border: 1px solid;margin-top: 10px;font-weight: 500;display:none;"></span>

</div>

<div>
    <span id="statuschkkk" style="color:red;float:left;display: none;"></span>
</div>

<div id="ATMReg" style="display:none;">
    <div class="container-fluid aeps">
        <div class="col-md-12 aeps-start mpos-contents">
            <div class="col-md-10 aeps_id">
                <div class="col-md-12 amount amount_strong"><strong class="etrtfdf" style="">MICRO ATM Device ID</strong><span id="Deviceidd"></span></div>
            </div>

        </div>
        @*<button id="statuschk" class="btn btn-default fullbodydycolorbg" onclick="microATM_StatusCheck()" style="color: #fff;">Click To Check Status</button> <span id="alredyexist" class="container-fluid aeps" style="color: red;padding: 5px 15px;border: 1px solid;margin-top: 10px;font-weight: 500;display:none;"></span>*@
    </div>

    <div class="deviceactivemicroatm">
        <img style="background-color:green;" src="../../ashok-images/correct.svg">
        <strong>Your Device Already Active</strong>
        <p>Now You Can Do The Transation Througy Mobile Application</p>
    </div>


</div>

<div id="firstRegister" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">🙄 Un-Reggistered micro ATM Go to Active</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="microATMActive()" style="color: #fff;">Click To Active</button>


    <div>
        <span id="errormposid2"></span>
    </div>
</div>

<div id="Updateprofiledetails" class="col-md-12 remitter_button" style="display: none; text-align: center;">
    <div class="">



        <div class="form-group">
            <label for="usr">&nbsp;&nbsp;Retailer Name:</label>
            <input type="text" class="form-control" name="remusrname" id="remusrname">
        </div>
        <div class="form-group">
            <label for="pwd">&nbsp; Pancard No:</label>
            <input type="text" class="form-control" name="rempanname" id="rempanname">
        </div>
        <button class="btn btn-default fullbodydycolorbg" type="button" onclick="Cancelrequest()" style="color: #fff;">Cancel</button>
        <button class="btn btn-default fullbodydycolorbg" type="submit" onclick="UpdateRetailerDetails()" style="color: #fff;">Update</button>




    </div>




</div>
<div>
    <span id="errormicrrefer2"></span>
</div>
<div id="SecondSerialNoSubmit" class=" remitter_button" style="display: none; margin-top: 20px; margin-bottom: 20px; font-size: 26px; float: left; width: 100%;">
    <span style="padding: 0px; background: #fff; height: 34px; border: 1px solid #dddddd; width: 100%; float: left;">
        <span style="background:#f5f5f5; float:left;padding: 8px 10px;height:32px;font-size:12px;">Merchant id </span>
        <span name="MerchantId" id="merchantidd" readonly style="border: 0px; height: 32px; width: auto; float: left; padding-top: 7px; " />
    </span>
    <span style="padding: 0px; background: #fff; height: 34px; border: 1px solid #dddddd; margin-top: 10px; width: 100%; float: left;">
        <span style="background:#f5f5f5; float:left;padding: 8px 10px;height:32px;font-size:12px;">Enter Your Device Serial No </span>
        <input name="serialno" id="serialno" readonly autocomplete="off" style="border:0px;height:32px;width:auto;float:left;" />
    </span>

    <button class="btn btn-default fullbodydycolorbg" onclick="microATMActiveSerialno()" style="color: #fff;font-size:13px !important;margin-top:10px;float:right;padding: 4px 15px !important;">Submit</button>

    <div>
        <span id="errormposid3" style="color:red;float:left;"></span>
    </div>
</div>
<script>
    function UpdateRetailerDetails() {


         $.ajax({
            url: '@Url.Action("UpdateRetailerDetails", "Home")',

             type: "POST",
             data: { remusrname: $('#remusrname').val(), rempanname: $('#rempanname').val() },
             success: function (data) {
                 $('#statuschk').hide();
                 $('#ATMReg').hide();
                 $('#SecondSerialNoSubmit').hide();
                 $('#Updateprofiledetails').hide();
                $('#errormicrrefer2').text(data.msg)
            }
        })

    }

</script>
<script>
    function UpdateRemdetails(data) {

        $('#errormicrrefer2').text(data.msg)
    }

    function Cancelrequest() {
        location.reload();
    }
</script>
<script>
    function PurchaseMICROATM(e) {
            $('#HDServicesname').val('');
        $.ajax({
            url: '@Url.Action("ServiceCharge","Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {

                $('#secpur111').show();
                $('#PaymentType111').html(data.PaymentType);
                $('#Price111').html(data.Price);
                $('#firstRegister').hide();
                $('#firstMICRO').hide();
                $('#ALLMICRO').hide();
                $('#BOTHMICRO').hide();

                $('#HDServicesname').val(e);
            }
        });
    }
    function FinalPurchaseMICROATM() {

         $.ajax({
            url: '@Url.Action("ServicePurchase","Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {

                 if (data.Status == "Success") {
                     GotoATMActive();
                 }
                 else {
                     $('#errmsgmicro').text(data.Message);
                 }

             },
             complete: function () {
                 $('.loader').hide();
                 $("#remainretailer").load(location.href + " #remainretailer");
             },
             error: function () {
                 $("#remainretailer").load(location.href + " #remainretailer");
                 $('.loader').hide();
             }
        });
    }
</script>
<script>
    function GotoATMActive() {
        $('#errormposid3').text("");
        $('#firstRegister').hide();
        $('#firstMICRO').hide();
        $('#ALLMICRO').hide();
        $('#BOTHMICRO').hide();
        $('#secpur111').hide();
        $('#ATMReg').hide();
        $('#HDServicesname').val('');
        $('#errormposid123').text("");
        $.ajax({
            url: '@Url.Action("MicroATM", "Home")',
            cache: false,
            type: "GET",
             beforeSend: function() {
                  $('.loader').show();
             },
            success: function (data) {

                $('.loader').hide();
                var output = JSON.parse(data);
                  if(output.status == "ALLNOTDONE") {
                      $('#ALLMICRO').show();
                     }
                  else if (output.status == "BOTHNOTDONE") {
                     $('#BOTHMICRO').show();
                 }
                else if (output.status == "NOTOK") {
               $('#firstMICRO').show();
             }
               else if (output.status == "StatusCheck") {
                    //buttonDisable
                    $('#alredyexist').text(output.msg);
                      $('#merchantidd').text(output.MerchantId);
                      $('#serialno').val(output.devicesr);
                    $('#errormposid123').text('');
                    $('#ATMReg').hide();
                      $('#statuschk').show();
                }
                else if (output.status == "Device") {
                    //buttonDisable
                    //$('#alredyexist').text(output.msg);

                    $('#Deviceidd').text("NOt Register");
                    $('#merchantidd').text(output.MerchantId);
                      $('#serialno').val(output.devicesr);
                    $('#errormposid123').text('');
                    $('#statuschk').hide();
                    $('#ATMReg').hide();
                    $('#SecondSerialNoSubmit').show();
                }
                else if (output.status == "Success") {
                    //buttonDisable
                    $('#Deviceidd').text(output.devicesr);

                    $('#alredyexist').text(output.msg);
                      $('#merchantidd').text(output.MerchantId);
                      $('#serialno').val(output.devicesr);
                    $('#errormposid123').text('');
                    $('#statuschk').hide();
                    $('#ATMReg').show();
                }
                else if (output.status == "Failed") {
                    //buttonEnable
                    $('#errormposid123').text(output.msg);
                      $('#firstRegister').show();
                      $('#statuschk').hide();
                }
                else if (output.status == "ERROR") {
                    alert(output.msg);

                    //buttonEnable
                    $('#errormposid123').text(output.msg);
                //    $('#firstRegister').show();
                }

                else {
                    //buttonEnable
                    $('#errormposid123').text(output.msg);
                    $('#firstRegister').show();
                }
            },
             complete: function () {

                   $('.loader').hide();
                    $.ajax({
            url: '@Url.Action("MIcroAtmReportnew", "Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
            }
        })
    }
    // Merchant Status Check
    function microATM_StatusCheck() {
        $('#Updateprofiledetails').hide();
             $('#firstRegister').hide();

        $('#ATMReg').hide();
        $('#errormposid123').text("");
        $('#alredyexist').text("");
        $.ajax({
            url: '@Url.Action("StatusCheck", "Home")',
            cache: false,
            type: "GET",
             beforeSend: function() {
                  $('.loader').show();
             },
            success: function (data) {
                $('.loader').hide();
                var output = JSON.parse(data);

                if (output.status == "Success") {
                    //buttonDisable
                    $('#alredyexist').text(output.msg);
                    $('#merchantidd').text(output.MerchantId);
                    $('#errormposid123').text('');
                    $('#statuschk').hide();
                    $('#ATMReg').show();
                    $('#SecondSerialNoSubmit').show();
                }
                else if (output.status == "REFER_BACK") {
                  $.ajax({
                         url: '@Url.Action("FillRetailerInformation", "Home")',
                        type: "POST",
                        success: function (data) {

                          $('#remusrname').val(data.name);
                          $('#rempanname').val(data.pancardname);
                          $('#errormicrrefer2').text(output.msg)
                          $('#errormposid').text('');
                          $('#statuschk').hide();
                          $('#ATMReg').hide();
                          $('#SecondSerialNoSubmit').hide();
                          $('#Updateprofiledetails').show();


            }
        })

              }
                      else if (output.status == "Failed") {
                    //buttonEnable
                    $('#alredyexist').text(output.msg);
                    $('#statuschkkk').text(output.msg);
                    $('#statuschkkk').show();
                    $('#ATMReg').hide();
                    $('#statuschk').show();
                    $('#firstRegister').hide();
                }

                else {
                    //buttonEnable
                    $('#errormposid123').text(output.msg);
                    $('#firstRegister').show();
                }
            }
        })
    }
// Merchant Submit
        function microATMActive() {
            $('#SecondSerialNoSubmit').hide();

            $('#ATMReg').hide();
            $('#errormposid2').text('');
        $.ajax({
            url: '@Url.Action("Active_microATM", "Home")',
            cache: false,
            type: "POST",
            beforeSend: function () {
                $('.loader').show();
            },
            success: function (data) {
                $('.loader').hide();
                var output = JSON.parse(data);

                if (output.status == "Success") {
                    $('#MerchantId').val(output.MerchantId);
                    $('#errormposid2').text('');
                    $('#firstRegister').hide();
                }
                else if (output.status == "Failed") {
                    //buttonEnable
                    $('#errormposid2').text(output.msg);
                    $('#firstRegister').show();
                }
                else {
                    //buttonEnable
                    $('#errormposid2').text(output.msg);
                    $('#firstRegister').show();
                }
            }
        })
    }

    // Device Serialno Active
        function microATMActiveSerialno() {
            $('#SecondSerialNoSubmit').hide();

        $('#ATMReg').hide();
        $('#errormposid3').text('');
        $.ajax({
            url: '@Url.Action("microATMSnNo", "Home")',
            cache: false,
            type: "POST",
            data: { DeviceSnNo: $('#serialno').val() },
            beforeSend: function () {
                $('.loader').show();
            },
            success: function (data) {
                $('.loader').hide();
                var output = JSON.parse(data);

                if (output.status == "Success") {
                    //$('#MerchantId').val(output.MerchantId);
                    $('#errormposid3').text('');
                    $('#SecondSerialNoSubmit').hide();
                    GotoATMActive();
                }
                else if (output.status == "Failed") {
                    //buttonEnable
                    $('#MerchantId').val('');
                    $('#serialno').val('');
                    $('#errormposid3').text(output.msg);
                    $('#SecondSerialNoSubmit').show();
                }
                else {
                    //buttonEnable
                    $('#errormposid3').text(output.msg);
                    $('#SecondSerialNoSubmit').show();
                }
            }
        })
    }
</script>