<style>

    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
    .purchage-page-fullclass .purchage-page {
        margin: 0px auto;
        margin-top: 0px;
        display: block;
        text-align: center;
        float: none;
        margin-top: 15px;
    }
</style>
<div class="loader loaderpancard"></div>
<div id="MPOSFAILED" style="display:none;">
    <div class="container-fluid aeps">
        <div class="col-md-12 aeps-start mpos-contents">
            <div class="col-md-10 aeps_id">
                <div class="col-md-12 amount amount_strong"><strong class="etrtfdf" style="width:auto;">M-POS Device ID</strong><span>Unregistered User (KYC DUE)</span></div>
            </div>

        </div>
    </div>
    <div>
        <span id="errormposid"></span>
    </div>
</div>
<div id="firstpur2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">M-POS Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg"  onclick="Purchaseddd1('MPOSH')" style="color: #fff;">MPOSH Purchase Service</button>
</div>
<div id="ALLpur2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">MICROATM Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="Purchaseddd1('ALL')" style="color: #fff;">ALL Purchase</button>
</div>
<div id="BOTHpur2" class="col-md-12 remitter_button" style="display:none;text-align: center;">
    <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
    <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">MICROATM Service Expired !</span>
    <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
    <button class="btn btn-default fullbodydycolorbg" onclick="Purchaseddd1('ALL')" style="color: #fff;">ALL Purchase</button>
    <button class="btn btn-default fullbodydycolorbg" onclick="Purchaseddd1('MPOSH')" style="color: #fff;">MPOSH Purchase</button>
   
</div>
<input type="hidden" id="HDServicesname" name="HDServicesname" value="" />

<div id="secpur2" class="col-md-12 remitter_button remitter_buttonewq" style="display:none;text-align: center;">
    <span style="font-size: 24px;border-bottom: 1px solid #ccc;margin-top: 15px;padding-bottom: 10px;margin-bottom: 10px;">Payment Details</span>
    <div class="lavbrd">
        <label>PaymentType</label>
        <label class="rightlable" id="PaymentType2"></label>
    </div>
    <div class="lavbrd">
        <label>Price</label>
        <label class="rightlable" id="Price2"></label>
    </div>
    <div class="coldebuttonnew">
        <button class="bacbuttonrrt" onclick="MPOS()">Back</button>
        <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchase()" style="color: #fff;">Pay Now</button>
    </div>
    <br />
    <label id="errmsgmposh" style="color:red;"></label>
</div>

<div id="KYCMPOS" style="display:none;" class="start-mpos">
    <div class="start-tab-3">

        <div class="container-fluid aeps">
            <div class="col-md-12 aeps-start mpos-contents">
                <div class="col-md-10 aeps_id">
                    <div class="col-md-12 amount amount_strong"><strong class="etrtfdf" style="">M-POS Device ID</strong><span>Unregistered User (KYC DUE)</span></div>
                </div>

            </div>
        </div>


    </div>

    <div class="avtar">
        <img src="~/ashok-images/avatar.svg" />
        <h2>KYC DUE !</h2>
        <p>please firstly complete your profile details and wait for KYC approval. othewise call to customer care.</p>

    </div>
</div>
<!--M-POS Regester Page-->

<div class="mpos-regester">
    <div class="container-fluid aeps">
        <div id="Unregistermpos" class="col-md-12 aeps-start mpos-contents Unregistermpos-responshive" style="display:none;">
            <div class="col-md-10 aeps_id">
                <div class="col-md-12 amount amount_strong"><strong style="width:auto !important;">M-POS Device ID</strong><span>Unregistered User</span></div>
            </div>


            <div class="education-img">
                <img src="~/ashok-images/education.svg" />
                <p>You are Not Registered with M-POS Service.</p>
                <div class="mpos-button-right">
                    @*<button type="button" style="float:left;" >Purchase Device</button>*@
                    <button id="changempos" style="float:left;"><img src="~/ashok-images/edit(1).svg" />M-pos&nbsp;merchant&nbsp;Id</button>
                    <div class="" id="marchentidshow" style="display:none;float:left;text-align:right;">
                        <input type="text" id="mposmarchantid" name="mposmarchantid" placeholder="M-pos Device Id" style="border:1px solid #dddddd;width:auto;width: 140px;position: relative;left: -2px;margin:0;" />
                        <button id="marchantidsave" style="margin:0;"><img src="~/ashok-images/check.png" />&nbsp;Save</button>
                    </div>

                </div>
            </div>
        </div>
        <!--Purchase Page-->
        <div id="purchasempos" style="display:none;">
            <div class="container-fluid aeps" id="Purchaseid">
                <div class="col-md-12 aeps-start mpos-contents">
                    <div class="col-md-10 aeps_id">
                        <div class="col-md-12 amount amount_strong"><strong style="width:auto;">M-POS Device ID</strong><span id="mposdeviceid"></span></div>
                    </div>
                </div>
            </div>
            
            <div class="purchage-page-fullclass" style="width:100%;float:left;">
                <div class="purchage-page">
                    <img src="~/ashok-images/m-poss.png" />
                </div>
            </div>

            <div class="price-last">
                <div class="container-fluid aeps" style="margin-left:0px;margin:0px auto;">
                    <div class="col-md-12 aeps-start">
                        <div class="col-md-10 aeps_id">
                            <div class="col-md-12 amount amount_strong"><span>Activated</span></div>
                            @*<div class="col-md-12 amount amount_strong"><span>M-POS price 4000</span></div>*@
                        </div>

                    </div>
                    <!--Purchase Page-->

                </div>
            </div>

            <!--M-POS Regester Page-->
        </div>
    </div>


</div>



<script>
    function MPOS() {
         $('#firstpur2').hide();
        $('#ALLpur2').hide();
        $('#BOTHpur2').hide();
         $('#secpur2').hide();
        $('#HDServicesname').val('');
        $('#KYCMPOS').hide();
        $('#Unregistermpos').hide();
        $('#purchasempos').hide();
               $('#MPOSFAILED').hide();
           $('#errormposid').text("");
        $.ajax({
            url: '@Url.Action("MPOSservice","Home")',
            cache: false,
            type: "GET",
             beforeSend: function() {
                  $('.loader').show();
             },
            success: function (data) {
                
                $('.loader').hide();
                var output = JSON.parse(data);

                if (output.status == "ALLNOTDONE") {
                    $('#ALLpur2').show();
                }
                else if (output.status == "BOTHNOTDONE") {
                    $('#BOTHpur2').show();
                }
                else if (output.status == "NOTOK") {
                    $('#firstpur2').show();
                }


              else  if (output.status == "NOTKYC") {
                    $('#KYCMPOS').show();
                }
                else if (output.status == "UNREGISTER") {
                      $('#Unregistermpos').show();
                }
                //else if (output.status == "FAILED") {
                //    $('#MPOSFAILED').show();
                //    if (output.msg == "Firstlly Purchase this Service."|| output.msg  =="AEPS Service is Expired.") {
                //             $('#firstpur2').show();
                //    }
                //    else {
                //          $('#errormposid').text(output.msg);
                //    }
                //}
                else {
                    $('#purchasempos').show();
                    $('#mposdeviceid').text(output.msg);
                }
            }
        })
            $.ajax({
            url: '@Url.Action("MPOSreportnew","Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
              success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
    }
</script>

<script>
    $("#changempos").click(function () {
        $("#marchentidshow").show();
        $(this).hide();
    });
</script>
<script>
    $("#marchantidsave").click(function () {
        if ($('#mposmarchantid').val() != '') {
              $('.loader').show();
            $.ajax({
                url: '@Url.Action("InsertRem_MposID","Home")',
                type: "POST",
                data: { mposmarchantid: $('#mposmarchantid').val() },
                success: function (data) {
                    if (data == 'success') {

                        $("#marchentidshow").hide();
                        $("#changempos").hide();
                        $('.loader').hide();
                       location.reload();
                    }
                    else {
                         alert(data);
                    }
                }
            });
        }
        else {
            alert('something went wrong');
        }


    });
</script>

<script>
     function Purchaseddd1(e) {
        alert('')

        $.ajax({
            url: '@Url.Action("ServiceCharge","Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                $('#PaymentType2').html(data.PaymentType);
                $('#Price2').html(data.Price);
                $('#firstpur2').hide();
                $('#ALLpur2').hide();
                $('#BOTHpur2').hide();
                $('#HDServicesname').val(e);
                $('#secpur2').show();
            }
        });
    }



  
</script>

<script>
      function FinalPurchase() {
         $.ajax({
            url: '@Url.Action("ServicePurchase","Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {
                 $('.loader').hide();
                 if (data.Status == "Success") {
                     MPOS();
                 }
                 else {
                            $('#errmsgmposh').text(data.Message);
                 }

            }
        });
    }
</script>