@using Vastwebmulti.Models;
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var State = db.State_Desc.Select(x => x.State_name).ToList();
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<style>
    /* New Css */
    .aeps_id .amount {
        display: flex;
        align-items: center;
    }
    #Corrections input {
        width: 100%;
    }

    .aeps_id .amount span {
        padding-top: 0;
    }

    .aeps_id .col-md-12.amount strong {
        padding: 6px 5px;
    }

    .tabspage .tab-content input {
        border: 1px solid #919191;
        border-radius: 4px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #919191 !important;
    }
    /* New Css */
    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }

    .aeps-start .fdgfgfgfga {
        width: 70% !important;
    }

    .my-trans {
        width: 100%;
        float: left;
        border: 5px solid #fff;
        padding: 10px;
        margin-top: 15px;
    }

    .update-page .container-fluid.transaction-button .update-page5, .update-page .container-fluid.transaction-button .update-page3 {
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
        color: #fff !important;
    }

    .update-page .container-fluid.transaction-button {
        margin-top: 0px;
    }

    .my-trans.introoo .custome-none-class1 {
        display: none;
    }

    .my-trans.introoo .custome-none-class {
        display: block !important;
    }

    .Physical-Token {
        display: flex;
        align-items: center;
        width: 100%;
    }

        .Physical-Token img {
            width: 15px;
            float: left;
            margin-right: 2px;
        }

    .myDiv123 {
        margin: 0px 2px;
    }

    #psaidregister {
        font-size: 12px;
    }

    .manual_form {
        width: 100%;
        float: left;
    }

    .manual_form1 {
        padding: 4px;
        width: 33.33%;
        float: left;
    }

        .manual_form1 button {
            width: 100%;
            padding: 6px 0;
        }

    .manual_form_m label {
        width: 100%;
        float: left;
        padding-top: 5px;
    }

    .manual_form_m input {
        width: 100% !important;
        float: left;
        padding-top: 5px;
    }

    .manual_w {
        width: 50%;
        float: left;
        padding: 5px;
    }

    #full .manual_w span.select2 {
        width: 100% !important;
        height: 32px !important;
    }

    #full .manual_w .selection {
        width: 100% !important;
        height: 32px !important;
        padding: 0;
    }

    .manual_w .select2-container .select2-selection--single {
        height: 32px;
    }

    #full .manual_w .select2-selection__arrow b {
        position: relative;
        top: -12px;
        margin-right: 9px;
        float: right;
    }
    /* Chrome, Safari, Edge, Opera */
    .manual_w input::-webkit-outer-spin-button,
    .manual_w input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .manual_w input[type=number] {
        -moz-appearance: textfield;
    }

    .sub_b {
        width: 100%;
        float: left;
        padding: 10px 0;
        text-align: center;
    }

        .sub_b button {
            padding: 6px 30px;
        }

    .manual_w [type="radio"]:not(:checked), .manual_w [type="radio"]:checked {
        position: sticky;
        left: initial;
        opacity: 1;
        float: initial;
        margin-right: 4px;
    }

    .manual_w.Gender input {
        width: auto !important;
        height: auto;
        position: sticky;
    }

    .backgroundss {
        background: var(--main-bg-lcolor);
        border: 1px solid #aaa;
        border-radius: 4px;
        color: #fff;
    }

    .btmd {
        height: 34px;
    }

    @@media only screen and (max-width:991px) {
        .col-md-4.tabspage {
            float: left;
        }
    }
    /* New css */

    @@media only screen and (max-width:480px) {
        .manual_form1 {
            width: 100%;
        }

        .aeps-start .fdgfgfgfga {
            width: 100% !important;
        }

            .aeps-start .fdgfgfgfga .amount_strong span {
                font-size: 14px;
                padding-top: 0px;
            }

        .col-md-2.aeps_button {
            width: 30%;
        }

        .manual_w {
            width: 100%;
        }
    }
</style>

<script>
    function colorchanges(t) {
        var s = document.getElementsByClassName('btmd');
        var s1 = document.getElementsByClassName('manual');
        for (var i = 0; i < s.length; i++) {
            s[i].classList.remove('backgroundss');
            s1[i].style.display = 'none';
        }
        s[t].classList.add('backgroundss');
        s1[t].style.display = 'block';

    }
</script>

<div class="manual_form">
    <div class="manual_form1">
        <button class="backgroundss btmd" onclick="PANCARD()">
            U T I
        </button>
    </div>
    <div class="manual_form1">
        <button class="btmd" onclick="PANCARD_manual()">
            Manual Pancard
        </button>
    </div>
    <div class="manual_form1">
        <button class="btmd" onclick="CorrectionForm()">
            Correction Pancard
        </button>
    </div>
</div>

<div class="manual_form_m " id="manual" style="display:none">


    <div class="manual_w">
        <label>Title</label>
        <select name="Title" id="panmarrigests">
            <option value="">-Select Title-</option>
            <option value="Shri">Shri</option>
            <option value="Smt.">Smt.</option>
            <option value="Kumari">Kumari</option>

        </select>
    </div>

    <div class="manual_w">
        <label>Aadhaar Number</label>
        <input type="number" id="panadharno" name="name" value="" />
    </div>

    <div class="manual_w Gender" id="panradio">
        <label>Gender</label>
        <input type="radio" name="gender" value="male" checked="checked"> Male
        <input type="radio" name="gender" value="female"> Female
    </div>

    <div class="manual_w">
        <label>Name (As Per Aadhaar)</label>
        <input type="text" name="name" value="" id="panname" />
    </div>

    <div class="manual_w">
        <label>DOB (As Per Aadhaar)</label>
        <input type="date" name="name" value="" id="pandob" />
    </div>

    <div class="manual_w">
        <label>Aadhaar Register Mobile No.</label>
        <input type="number" name="name" value="" id="panmobno" />
    </div>

    <div class="manual_w">
        <label>Father Name</label>
        <input type="text" name="name" value="" id="panfathername" />
    </div>

    <div class="manual_w">
        <label>customer Email Id </label>
        <input type="email" name="name" value="" id="panemail" />
    </div>

    <div class="manual_w">
        <label>customer Mobile No.</label>
        <input type="number" name="name" value="" id="pancustmno" />
    </div>

    <div class="manual_w">
        <label>State</label>
        <select name="Title" id="UserState">
            <option value="">-Select State-</option>
            @foreach (var item in State)
            {
                <option value="@item">@item</option>
            }

        </select>
    </div>

    <div class="sub_b">
        <button type="submit" onclick="pancardsbt()">Submit</button>
    </div>
    <div id="mess" style="color:red"></div>

</div>

<div id="manualw1">
    <div class="loader loaderpancard "></div>
    <div id="failedpancard" style="display:none;">
        <div class="start-tab-3 responsiveclassfirst">
            <div class="container-fluid aeps">
                <div class="col-md-12 aeps-start">
                    <div class="col-md-10 aeps_id fgdfgdfg">
                        <div class="col-md-12 amount amount_strong"><strong class="satedivwidth" style="">PSA ID</strong><span>Unregistered User (KYC DUE)</span></div>
                    </div>
                    <div class="col-md-2 aeps_button">
                        <a href="https://www.psaonline.utiitsl.com/psapanservices/" target="_blank">
                            <button class="uti-img"><img src="~/ashok-images/uti-logo.png" /><span><strong>U T I</strong><span class="pn-log">Login</span></span></button>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <span id="failedmessageshow" style="color:red"></span>

    </div>

    <div id="firstpur1" class="col-md-12 remitter_button" style="display:none;text-align: center;">
        <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">PANCARD Service Expired !</span>
        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
        <button class="btn btn-default fullbodydycolorbg" onclick="PurchasePAN('PANCARD')" style="color: #fff;">Purchase PANCARD  Service</button>
    </div>
    <div id="ALLpur1" class="col-md-12 remitter_button" style="display:none;text-align: center;">
        <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">PANCARD Service Expired !</span>
        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
        <button class="btn btn-default fullbodydycolorbg" onclick="PurchasePAN('ALL')" style="color: #fff;">ALL Purchase</button>
    </div>
    <div id="BOTHpur1" class="col-md-12 remitter_button" style="display:none;text-align: center;">
        <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">PANCARD Service Expired !</span>
        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
        <button class="btn btn-default fullbodydycolorbg" onclick="PurchasePAN('ALL')" style="color: #fff;">ALL Purchase</button>
        <button class="btn btn-default fullbodydycolorbg" onclick="PurchasePAN('PANCARD')" style="color: #fff;">PANCARD Purchase</button>
    </div>
    <input type="hidden" id="HDServicesname" name="HDServicesname" value="" />

    <div id="secpur1" class="col-md-12 remitter_button remitter_buttonewq" style="display:none;text-align: center;">
        <span style="margin-top:0;">Payment Details</span>
        <div class="lavbrd">
            <label>Mode</label>
            <label class="rightlable" id="PaymentType1"></label>
        </div>
        <div class="lavbrd">
            <label>Amount</label>
            <label class="rightlable" id="Price1"></label>
        </div>
        <div class="coldebuttonnew">
            <button class="bacbuttonrrt" onclick="PANCARD()">Back</button>
            <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchasePAN('')" style="color: #fff;">Pay Now</button>
        </div>
        <br />
        <label id="errmsgpan" style="color:red;"></label>
    </div>

    <div id="notkyc" style="display:none;">
        <div class="start-tab-3">
            <div class="container-fluid aeps">
                <div class="col-md-12 aeps-start">
                    <div class="col-md-10 aeps_id fdgfgfgfga">
                        <div class="col-md-12 amount amount_strong"><strong style="">PSA ID</strong><span>Unregistered User (KYC DUE)</span></div>
                    </div>
                    <div class="col-md-2 aeps_button">
                        <a href="https://www.psaonline.utiitsl.com/psapanservices/" target="_blank">
                            <button class="uti-img"><img src="~/ashok-images/uti-logo.png" /><span><strong>U T I</strong><span class="pn-log">Login</span></span></button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="avtar">
            <img src="~/ashok-images/avatar.svg" />
            <h2>KYC DUE !</h2>
            <p>please firstly complete your profile details and wait for KYC approval. othewise call to customer care.</p>
            <span id="kycerrormsg"></span>
        </div>
    </div>

    <div class="start-tab-3">

        <div class="container-fluid aeps">
            <div class="col-md-12 aeps-start">
                <div id="unregister" style="display:none;">

                    <div class="col-md-10 aeps_id fdgfgfgfga">
                        <div class="col-md-12 amount amount_strong"><strong style="">PSA ID</strong><span>Unregistered User</span></div>
                    </div>
                    <div class="col-md-2 aeps_button">
                        <a href="https://www.psaonline.utiitsl.com/psapanservices/" target="_blank">
                            <button class="uti-img">
                                <img src="~/ashok-images/uti-logo.png" /><span>
                                    <strong>U T I</strong>
                                    <span class="pn-log">  Login</span>
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="education-img">
                        <img src="~/ashok-images/education.svg" />
                        <p>You are Not Registered with Pancard Service.</p>
                        <button class="fullbodydycolorbg" onclick="registeruti()">Click to Register at UTI</button>
                    </div>
                </div>

                <!--UTI FORM-->
                <div id="resgisterform" class="uti-form" style="display:none;">
                    <p class="body-border-bottom">Registeration Form</p>
                    <form>
                        <ul>
                            <li>
                                <span>name</span>
                                <input id="txtpanname" name="txtpanname" readonly type="text" placeholder="enter your name" />
                            </li>
                            <li>
                                <span>firm name</span>
                                <input id="txtfirmnmpan" name="txtfirmnmpan" readonly type="text" placeholder="Firm Name" />
                            </li>
                            <li>
                                <span>register email ID</span>
                                <input id="txtemailpan" name="txtemailpan" readonly type="email" placeholder="enter your email" style="text-transform:inherit;" />
                            </li>
                            <li class="two-colam">
                                <div class="span-input">
                                    <span>Mobile number</span>
                                    <input id="panphone" name="panphone" readonly type="text" placeholder="number" />
                                </div>
                                <div class="span-input">
                                    <span>date of birthday</span>
                                    <input id="dobpan" name="dobpan" readonly type="text" placeholder="Date of birthday" />
                                </div>

                            </li>
                            <li class="two-colam">
                                <div class="span-input">
                                    <span>pancard number</span>
                                    <input id="panpancard" name="panpancard" readonly type="text" placeholder="Enter Pancard Number" />
                                </div>
                                <div class="span-input">
                                    <span>aadharcard number</span>
                                    <input id="aadharpan" name="aadharpan" readonly type="text" placeholder="Enter Aadharcard Number" />
                                </div>
                            </li>

                            @*<li class="two-colam">
                                    <div class="span-input">
                                        <span>state</span>
                                        <input id="statepan" readonly type="text" placeholder="Enter State"/>
                                    </div>
                                    <div class="span-input">
                                        <span>distric</span>
                                        <input id="ditrictpan" readonly type="text" placeholder="Enter distric" />
                                    </div>
                                </li>*@
                            <li>
                                <span>address</span>
                                <textarea id="txtaddresspan" name="txtaddresspan" readonly placeholder="Enter Address"></textarea>
                            </li>

                            <li class="pinCode">
                                <span>pin code</span>
                                <input id="pinpan" name="pinpan" readonly type="text" placeholder="Enter Pin Code" />
                            </li>


                        </ul>
                        <div class="container-fluid transaction-button transaction-button-reshponshive">
                            <button type="button" id="transaction-back" onclick="PANCARD()">Back</button>
                            <button type="button" id="transaction-more" style="display:block;" onclick="Register()" class="fullbodydycolorbg">Register Form</button>
                            @*     <button type="button" id="Update-more" onclick="UpdatePSA()" style="display:none;margin-left:7px;" class="fullbodydycolorbg">UPDATE PSA</button>*@
                        </div>
                        <span id="registererror" style="color:red;"></span>
                    </form>
                </div>

                <!--register now page-->
                <div id="pendingsts" class="register-page register-responshiveclass" style="display:none;">
                    <div class="container-fluid aeps">
                        <div class="col-md-12 aeps-start">
                            <div class="col-md-10 aeps_id fdgfgfgfga">
                                <div class="col-md-12 amount amount_strong"><strong style="">PSA ID</strong><span>User Registration pending</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="avtar avtar-first avtar-first-responshive">
                        <img src="~/ashok-images/duration.svg" />
                        <h2>Approval pending</h2>
                        <p>Your PAN Card Service Registration pending for Approval</p>
                    </div>
                    <div class="container-fluid transaction-button transaction-responshive">
                        @*<button id="transaction-back" onclick="PANCARD()">Back</button>*@
                        @*<button class="fullbodydycolorbg" onclick="updatepsasts()">Update PSA</button>*@
                        <button class="fullbodydycolorbg" onclick="checkstatus()">Check Live Status</button>
                    </div>
                    <div>
                        <label id="pendingstserror" style="color:red;"></label>
                    </div>
                </div>
                <!--register now page-->
                <!--Update Page-->
                <div id="purchase" class="update-page" style="display:none;">
                    <div class="container-fluid aeps">
                        <div class="col-md-12 aeps-start">
                            <div class="col-md-10 aeps_id fdgfgfgfga">
                                <div class="col-md-12 amount amount_strong"><strong style="">PSA ID</strong><span id="psaidregister"></span></div>
                            </div>
                            <div class="col-md-12 right-right">
                                <button>right</button>
                            </div>
                            <div class="col-md-2 aeps_button">
                                <a href="https://www.psaonline.utiitsl.com/psapanservices/" target="_blank">
                                    <button class="uti-img"><img src="~/ashok-images/uti-logo.png" /><span><strong>U T I</strong><span class="pn-log">Login</span></span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="Important-Step">
                        <p>Your PSA Service is Active. Enjoy with PSA services.</p>
                        <p>After buying tokens, visit the UTI website.</p>
                        <p>PAN card application will be filled on UTI portal.</p>
                    </div>
                    <div class="my-trans">
                        <input type="number" id="ssdd" placeholder="ENTER AMOUNT" required />
                        <button onclick="changebutton()" id="buttonm" style="padding: 5px 12px; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; border: 1px solid #fff; color: #fff;">Submit</button>
                        <button onclick="purchase()" id="buttonm1" style="padding: 5px 12px; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; border: 1px solid #fff; color: #fff;">sure?</button>

                        <script>
                            $('#buttonm1').hide();
                            function changebutton() {

                                $('#buttonm').hide();
                                $('#buttonm1').show();

                            }



                        </script>
                    </div>
                    <div>
                        <span id="buttokenerror" style="color:red;"></span>
                    </div>
                </div>
                <!--Update Page-->
                <!--UTI FORM-->
            </div>
        </div>
    </div>

    <!---------------Final Payment-------------------------->
    <div class="col-md-12 Confirm-Payment" id="pan-Confirm-Payment" style="display:none;">
        <div class="container-fluid">
            <div class="col-md-6 successful">
                <p>transaction successful</p>
                <strong><img src="~/ashok-images/india(2).svg" /><span class="transform-re"> - 30000</span><i class="fa fa-check fullbodydycolorbg"></i></strong>
                <span>RRN : 003419773790</span>
            </div>
            <div class="col-md-6 successful-logo"><a href="#">logo</a></div>
        </div>
        <div class="container-fluid transaction">
            <p>AEPS transaction details</p>
            <ul class="transaction-detail">
                <li class="transaction-left"><span>retailer firm</span></li>
                <li class="transaction-right"><span>instamoney</span></li>

                <li class="transaction-left"><span>Aadhaar Number</span></li>
                <li class="transaction-right"><span>852096374145698</span></li>

                <li class="transaction-left"><span>Register Mobile</span></li>
                <li class="transaction-right"><span>7665848573</span></li>



                <li class="transaction-left"><span>AEPS mode</span></li>
                <li class="transaction-right"><span>Cash</span></li>

                <li class="transaction-left"><span>A/C Remain</span></li>
                <li class="transaction-right"><span>2000</span></li>

                <li class="transaction-left"><span>Withdraw Amount </span></li>
                <li class="transaction-right"><span>10000</span></li>

                <li class="transaction-left"><span>service Fee</span></li>
                <li class="transaction-right"><span>10</span></li>

                <li class="transaction-left"><span>tax</span></li>
                <li class="transaction-right"><span>0</span></li>

                <li class="transaction-left"><span>Paid amount</span></li>
                <li class="transaction-right"><span>9990</span></li>




            </ul>
            <div class="container-fluid transaction-button">
                <button>Close</button><button class="fullbodydycolorbg">more Withdraw</button>
                <button id="transaction-print">print</button><button id="transaction-mail" class="fullbodydycolorbg">email</button>

            </div>
        </div>
    </div>
    <!---------------Final Payment-------------------------->
</div>
<div id="Corrections" style="display: none;">
    <!-- Basic Identification Details -->
    <div class="manual_w">
        <label for="Title">Title</label>
        @Html.DropDownList("Title", new List<SelectListItem>
        {
           new SelectListItem{ Text="Select Title",Value="",},
           new SelectListItem{Text="Shri",Value="Shri"},
           new SelectListItem{Text="Smt",Value="Smt"},
           new SelectListItem{Text="Kumari",Value="Kumari"}
        }, new { @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="NameAsPerAadhar">Name as per Aadhaar</label>
        @Html.TextBox("NameAsPerAadhar", null, new { @placeholder = "Enter Name As Per Aadhar", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="DateOfBirth">Date of Birth</label>
        @Html.TextBox("DateOfBirth", null, new { @type = "date", @class = "form-control", @placeholder = "Select your DOB" })
    </div>
    <div class="manual_w">
        <label for="FatherName">Father's Name</label>
        @Html.TextBox("FatherName", null, new { @placeholder = "Enter Father Name", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="Gender">Gender</label>
        @Html.DropDownList("Gender", new List<SelectListItem>
        {
           new SelectListItem{ Text="Select Gender",Value="",},
           new SelectListItem{Text="Male",Value="Male"},
           new SelectListItem{Text="Female",Value="Female"},
           new SelectListItem{Text="Other",Value="Other"}
        }, new { @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="AadharNo">Aadhaar Number</label>
        @Html.TextBox("AadharNo", null, new { @placeholder = "Enter Aadhaar Number", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="AAdharRegisterNo">Aadhaar Register Number</label>
        @Html.TextBox("AAdharRegisterNo", null, new { @placeholder = "Enter Aadhaar Register Number", @class = "form-control" })
    </div>

    <!-- Contact Information -->
    <div class="manual_w">
        <label for="CustomerMobileNo">Customer Mobile Number</label>
        @Html.TextBox("CustomerMobileNo", null, new { @placeholder = "Enter Customer Mobile Number", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="UserState">State</label>
        @Html.DropDownList("StateDropDown", new SelectList(State, ""), "-Select State-", new { @id = "StateDropDown", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="EmailId">Customer Email ID</label>
        @Html.TextBox("EmailId", null, new { @placeholder = "Enter Customer Email Id", @class = "form-control" })
    </div>

    <!-- Documents -->
    <div class="manual_w">
        <label for="PanCardNo">PAN Card Number</label>
        @Html.TextBox("PanCardNo", null, new { @placeholder = "Enter PanCard Number", @class = "form-control" })
    </div>
    <div class="manual_w">
        <label for="AAdharFrontImg">Aadhaar Front Image</label>
        @Html.TextBox("AAdharFrontImg", null, new { type = "file", @class = "form-control", @placeholder = "Enter Aadhar Front Image" })
    </div>
    <div class="manual_w">
        <label for="AAdharBackImg">Aadhaar Back Image</label>
        @Html.TextBox("AAdharBackImg", null, new { type = "file", @class = "form-control", @placeholder = "Enter Aadhar Back Image" })
    </div>
    <div class="manual_w">
        <label for="SupportingDocument">Upload Supporting Document</label>
        @Html.TextBox("SupportingDocument", null, new { type = "file", @class = "form-control", @placeholder = "Supporting Document" })
    </div>
    <div class="manual_w">
        <label for="SupportingDocumentName">Supporting Document</label>
        @Html.DropDownList("SupportingDocumentName", new List<SelectListItem>
        {
           new SelectListItem{ Text="Select Document Type",Value="",},
           new SelectListItem{Text="Voter Id",Value="Voter Id"},
           new SelectListItem{Text="Pass Port",Value="Pass Port"},
           new SelectListItem{Text="10th MarkSheet",Value="10th MarkSheet"},
           new SelectListItem{Text="Driving Licence",Value="Driving Licence"},
           new SelectListItem{Text="Ration Card",Value="Ration Card"},
           new SelectListItem{Text="Other",Value="Other"}
        }, new { @class = "form-control" })
    </div>

    <!-- Corrections -->
    <div class="manual_w">
        <label for="CorrectionsType">Correction Type</label>
        @Html.DropDownList("CorrectionsType", new List<SelectListItem>
        {
           new SelectListItem{ Text="Select Correction",Value="",},
           new SelectListItem{Text="Name",Value="Name"},
           new SelectListItem{Text="Father Name",Value="Father Name"},
           new SelectListItem{Text="DOB",Value="DOB"},
           new SelectListItem{Text="Address",Value="Address"}
        }, new { @class = "form-control" })
    </div>
    <div class="manual_w">
        <button type="submit" class="btn btn-primary" onclick="SubmitCorrectionFrom()">Submit</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    function showLoader() {
        $('.loader').show();
    }

    function onFormSuccess(data) {
        $('.loader').hide();
        $('#responseMessage').html(data);
    }

    function onFormFailure(xhr, status, error) {
        $('.loader').hide();
        $('#responseMessage').html('An error occurred: ' + error);
    }
    function SubmitCorrectionFrom() {
    var formData = new FormData();
    formData.append('Title', $('#Title').val());
    formData.append('NameAsPerAadhar', $('#NameAsPerAadhar').val());
    formData.append('DateOfBirth', $('#DateOfBirth').val());
    formData.append('FatherName', $('#FatherName').val());
    formData.append('Gender', $('#Gender').val());
    formData.append('AadharNo', $('#AadharNo').val());
    formData.append('AAdharRegisterNo', $('#AAdharRegisterNo').val());
    formData.append('CustomerMobileNo', $('#CustomerMobileNo').val());
    formData.append('UserState', $('#StateDropDown').val());
    formData.append('EmailId', $('#EmailId').val());
    formData.append('PanCardNo', $('#PanCardNo').val());
    formData.append('SupportingDocumentName', $('#SupportingDocumentName').val());
    formData.append('CorrectionsType', $('#CorrectionsType').val());
    formData.append('AAdharFrontImg', $('#AAdharFrontImg')[0].files[0]);
    formData.append('AAdharBackImg', $('#AAdharBackImg')[0].files[0]);
    formData.append('SupportingDocument', $('#SupportingDocument')[0].files[0]);
    $.ajax({
        url: '@Url.Action("CorrectionSubmit", "PANCARD")',
        type: "POST",
        data: formData,
        processData: false, 
        contentType: false, 
        success: function (data) {
            if (data.success) {
                toastr.success(data.message);
            } else {
                toastr.warning(data.message);
            }
        },
        error: function (xhr, status, error) {
            toastr.error("Error: " + error);
        }
    });
}

    function CorrectionForm() {
        document.getElementsByClassName('btmd')[0].classList.remove('backgroundss');
        document.getElementsByClassName('btmd')[1].classList.remove('backgroundss');
        document.getElementsByClassName('btmd')[2].classList.add('backgroundss');
        document.getElementById('manual').style.display = 'none';
        document.getElementById('manualw1').style.display = 'none';
        document.getElementById('Corrections').style.display = 'block';
    }
    const div = document.getElementsByClassName('myDiv123')[0];
    var i = 0;
    function myfunc() {
        const currentValue = parseInt(div.value);
        const doubledValue = parseInt(div.textContent) + 107;
        if (i == 0) {
            div.textContent = 107;
            i++;

        } else {
            div.textContent = doubledValue.toString();
            i++;
        }
    }
    function myfunc1() {

        // Get the current value from the input field
        const currentValue = parseInt(div.value);

        // Check if the current value is greater than the previous value

        // Double the value in the div
        const doubledValue = parseInt(div.textContent) - 107;

        if (doubledValue > 0) {
            div.textContent = doubledValue.toString();
            i--;



        }
        else {
            i = 0;
        }
    }

    const div1 = document.getElementsByClassName('myDiv1234')[0];
    var j = 0;


    // Add an input event listener to the input element
    function myfunc4() {

        // Get the current value from the input field
        const currentValue = parseInt(div1.value);

        // Check if the current value is greater than the previous value

        // Double the value in the div

        const doubledValue = parseInt(div1.textContent) + 72;

        if (j == 0) {
            div1.textContent = 72;
            j++;

        } else {
            div1.textContent = doubledValue.toString();
            j++;
        }
    }
    function myfunc41() {

        // Get the current value from the input field
        const currentValue = parseInt(div1.value);

        // Check if the current value is greater than the previous value

        // Double the value in the div
        const doubledValue = parseInt(div1.textContent) - 72;
        if (doubledValue > 0) {
            div1.textContent = doubledValue.toString();
            j--;



        }
        else {
            j = 0;
        }
    }










</script>

<script>
    $(".update-page2").click(function () {
        $(".my-trans").addClass("introoo");
    });
</script>
<script>
    $(".update-page1").click(function () {
        $(".my-trans").removeClass("introoo");
    });
</script>
<script>
        function PurchasePAN(e) {
            $('#HDServicesname').val('');
        $.ajax({
            url: '@Url.Action("ServiceCharge","Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                $('#PaymentType1').html(data.PaymentType);
                $('#Price1').html(data.Price);
                $('#firstpur1').hide();
                $('#BOTHpur1').hide();
                $('#ALLpur1').hide();
                $('#secpur1').show();
                $('#HDServicesname').val(e);
            }
        });
    }
        function FinalPurchasePAN() {

         $.ajax({
            url: '@Url.Action("ServicePurchase","Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {

                 if (data.Status == "Success") {
                     PANCARD();
                 }
                 else {
                      $('#errmsgpan').text(data.Message);
                 }

             },
             complete: function () {
                 $('.loader').hide();
                 $("#remainretailer").load(location.href + " #remainretailer");
             },
             error: function () {
                 $("#remainretailer").load(location.href + " #remainretailer");
                 $('.loader').hide();
             }
        });
    }
</script>
<script>
        function PANCARD() {
            $('#HDServicesname').val('');
        $('#firstpur1').hide();

        $('#BOTHpur1').hide();
        $('#ALLpur1').hide();
            $('#secpur1').hide();
            $('#Corrections').hide();
            $('#buttokenerror').text("");
            $('#transaction-more').show();
            $('#Update-more').hide();
            $('#failedpancard').hide();
            $('#notkyc').hide();
            $('#unregister').hide();
            $('#resgisterform').hide();
            $('#pendingsts').hide();
            $('#purchase').hide();
            $('#pan-Confirm-Payment').hide();
            document.getElementsByClassName('btmd')[1].classList.remove('backgroundss');
            document.getElementsByClassName('btmd')[2].classList.remove('backgroundss');
            document.getElementsByClassName('btmd')[0].classList.add('backgroundss');
            document.getElementById('manual').style.display = 'none';
            document.getElementById('manualw1').style.display = 'block';
            $.ajax({
            url: '@Url.Action("Index","PANCARD")',
            cache: false,
                type: "GET",
               beforeSend: function() {
                  $('.loader').show();
             },
                success: function (data) {

                var output = JSON.parse(data);
                $('.loader').hide();
                var status = output.status;
                var check = output.check;
                var message = output.msg;
                if (status == "NOTRegistered") {
                    $('#unregister').show();
                }
                else if (status == "PENDING") {
                    $('#pendingsts').show();
                }
                else if (status == "NOTKYC") {
                    $('#notkyc').show();
                    $('#kycerrormsg').text(message);
                }
                else if (status=="Registered")
                {
                    $('#purchase').show();
                    $('#psaidregister').text(message);
                }
                else if (status == "ALLNOTDONE") {
                    $('#ALLpur1').show();
                }
                else if (status == "BOTHNOTDONE") {
                    $('#BOTHpur1').show();
                }
                else if (status == "NOTOK") {
                    $('#firstpur1').show();
                }
                else {
                    $('#failedpancard').show();

                    if (message == "Firstlly Purchase this Service." || message  =="AEPS Service is Expired.") {
                         $('#firstpur1').show();
                    }
                    else {
                        $('#failedmessageshow').text(message);
                    }
                }
            }
            })

             $.ajax({
            url: '@Url.Action("PANCARDreportnew","Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
    }
</script>
<script>
        function PANCARD_manual() {
            $('#HDServicesname').val('');
        $('#firstpur1').hide();

        $('#BOTHpur1').hide();
        $('#ALLpur1').hide();
            $('#secpur1').hide();
            $('#Corrections').hide();
            $('#buttokenerror').text("");
            $('#transaction-more').show();
            $('#Update-more').hide();
            $('#failedpancard').hide();
            $('#notkyc').hide();
            $('#unregister').hide();
            $('#resgisterform').hide();
            $('#pendingsts').hide();
            $('#purchase').hide();
            $('#pan-Confirm-Payment').hide();
            $.ajax({
            url: '@Url.Action("Index","PANCARD")',
            cache: false,
                type: "GET",
               beforeSend: function() {
                  $('.loader').show();
             },
                success: function (data) {

                var output = JSON.parse(data);
                $('.loader').hide();
                var status = output.status;
                var check = output.check;
                var message = output.msg;
                if (status == "NOTRegistered") {
                    $('#unregister').show();
                }
                else if (status == "PENDING") {
                    $('#pendingsts').show();
                }
                else if (status == "NOTKYC") {
                    $('#notkyc').show();
                    $('#kycerrormsg').text(message);
                }
                else if (status=="Registered")
                {
                    $('#purchase').show();
                    $('#psaidregister').text(message);
                }
                else if (status == "ALLNOTDONE") {
                    $('#ALLpur1').show();
                }
                else if (status == "BOTHNOTDONE") {
                    $('#BOTHpur1').show();
                }
                else if (status == "NOTOK") {
                    $('#firstpur1').show();
                }
                else {
                    $('#failedpancard').show();

                    if (message == "Firstlly Purchase this Service." || message  =="AEPS Service is Expired.") {
                         $('#firstpur1').show();
                    }
                    else {
                        $('#failedmessageshow').text(message);
                    }
                }
            }
            })
            document.getElementsByClassName('btmd')[0].classList.remove('backgroundss');
            document.getElementsByClassName('btmd')[1].classList.add('backgroundss');
            document.getElementsByClassName('btmd')[2].classList.remove('backgroundss');
            document.getElementById('manual').style.display = 'block';
            document.getElementById('manualw1').style.display = 'none';
             $.ajax({
            url: '@Url.Action("PANCARDreportnew_manual", "Home")',
            cache: false,
                 type: "GET",
                 cache: false,
               dataType:"html",
            success: function (data) {
                 $('#reportallinone').html(data);
            }
        })
    }
</script>
<script>
    function registeruti() {
          $.ajax({
            url: '@Url.Action("Userinfo","PANCARD")',
            cache: false,
              type: "GET",
                beforeSend: function() {
                  $('.loader').show();
             },
              success: function (data) {
                  $('.loader').hide();
                  $('#txtpanname').val(data[0].RetailerName);
                  $('#txtfirmnmpan').val(data[0].Frm_Name);
                  $('#txtemailpan').val(data[0].Email);
                  $('#panphone').val(data[0].Mobile);
                  $('#dobpan').val(data[0].dateofbirth);
                  $('#panpancard').val(data[0].PanCard);
                  $('#aadharpan').val(data[0].AadharCard);
                  //$('#statepan').val(data[0].State);
                  //$('#ditrictpan').val(data[0].District);
                  $('#txtaddresspan').val(data[0].Address);
                  $('#pinpan').val(data[0].Pincode);

                   $('#resgisterform').show();
                   $('#unregister').hide();
            }
        })

    }
</script>
<script>
    function Register() {

        var txtpanname = $("#txtpanname").val();
        var txtfirmnmpan = $("#txtfirmnmpan").val();
        var txtemailpan = $("#txtemailpan").val();
        var panphone = $("#panphone").val();
        var dobpan = $("#dobpan").val();
       var panpancard = $("#panpancard").val();
        var aadharpan = $("#aadharpan").val();
        var txtaddresspan = $("#txtaddresspan").val();
        var pinpan = $("#pinpan").val();
        $.ajax({
            url: '@Url.Action("RegisterPSA","PANCARD")',
            cache: false,
            data: {txtpanname:txtpanname,txtfirmnmpan:txtfirmnmpan,txtemailpan:txtemailpan,panphone:panphone,dobpan:dobpan,panpancard:panpancard,aadharpan:aadharpan,txtaddresspan:txtaddresspan,pinpan:pinpan},
            type: "POST",
              beforeSend: function() {
                  $('.loader').show();
             },
            success: function (data) {
                $('.loader').hide();
                var output = JSON.parse(data);
                if (output.Status == "Failed") {
                    $('#registererror').text(output.Message);
                }
                else {
                    PANCARD();
                }
            }
        })
    }
</script>
<script>
    function checkstatus() {
     $.ajax({
            url: '@Url.Action("CheckStatus","PANCARD")',
            cache: false,
         type: "POST",
              beforeSend: function() {
                  $('.loader').show();
             },
         success: function (data) {
             $('.loader').hide();
                var output = JSON.parse(data);
                if (output.Status == "Success") {
                   PANCARD();
                }
                else {
                    $('#pendingstserror').text(output.Message)
                }
            }
        })
    }
</script>
<script>
    function updatepsasts() {

         $.ajax({
            url: '@Url.Action("Userinfo","PANCARD")',
            cache: false,
             type: "GET",
                 beforeSend: function() {
                  $('.loader').show();
             },
             success: function (data) {
                   $('.loader').hide();
                  $('#txtpanname').val(data[0].RetailerName);
                  $('#txtpanname').attr("Readonly", false);
                  $('#txtfirmnmpan').val(data[0].Frm_Name);
                  $('#txtfirmnmpan').attr("Readonly", false);
                  $('#txtemailpan').val(data[0].Email);
                  $('#panphone').val(data[0].Mobile);
                  $('#dobpan').val(data[0].dateofbirth);
                  $('#panpancard').val(data[0].PanCard);
                  $('#panpancard').attr("Readonly", false);
                  $('#aadharpan').val(data[0].AadharCard);
                  $('#aadharpan').attr("Readonly", false);
                  //$('#statepan').val(data[0].State);
                  //$('#ditrictpan').val(data[0].District);
                  $('#txtaddresspan').val(data[0].Address);
                  $('#txtaddresspan').attr("Readonly", false);
                  $('#pinpan').val(data[0].Pincode);
                  $('#pinpan').attr("Readonly", false);
                  $("#transaction-more").hide();
                  $('#Update-more').show();
                  $('#resgisterform').show();
                  $('#pendingstserror').text("");
                  $('#pendingsts').hide();
            }
        })
    }

</script>
<script>
    function UpdatePSA() {
        $('#registererror').text("");
        var txtpanname = $("#txtpanname").val();
        var txtfirmnmpan = $("#txtfirmnmpan").val();
        var panpancard = $("#panpancard").val();
        var aadharpan = $("#aadharpan").val();
        var txtaddresspan = $("#txtaddresspan").val();
        var pinpan = $("#pinpan").val();

        if (txtpanname != "" && txtfirmnmpan != "" && panpancard != "" && aadharpan != "" && txtaddresspan != "" && pinpan != "") {
            var validaadhar = validate(aadharpan);
            if (validaadhar == true) {
                var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
                if (regex.test(panpancard.toUpperCase())) {
                    var CheckZipCode = /(^\d{6}$)/;
                    if (CheckZipCode.test(pinpan)) {
                       $.ajax({
                               url: '@Url.Action("UpdatePSA","PANCARD")',
                               cache: false,
                               data: {txtpanname:txtpanname,txtfirmnmpan:txtfirmnmpan,panpancard:panpancard,aadharpan:aadharpan,txtaddresspan:txtaddresspan,pinpan:pinpan},
                           type: "POST",
                                beforeSend: function() {
                  $('.loader').show();
             },
                           success: function (data) {
                               $('.loader').hide();
                                       var output = JSON.parse(data);
                                       if (output.Status == "Failed") {
                                           $('#registererror').text(output.Message);
                                       }
                                       else {
                                              PANCARD();
                                       }
                                   }
                              })
                    }
                    else {
                        $('#registererror').text("Enter Valid Pin Code");
                    }
                }
                else {
                      $('#registererror').text("Enter Valid Pan Card");
                }
            }
            else {
                 $('#registererror').text("Enter Valid aadhar");
            }
        }
        else {
            $('#registererror').text("All Filed Are Required");
        }
    }
</script>

<script>
    // multiplication table
    const d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
    ]

    // permutation table
    const p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
    ]

    // validates Aadhar number received as string
    function validate(aadharNumber) {
        let c = 0
        let invertedArray = aadharNumber.split('').map(Number).reverse()

        invertedArray.forEach((val, i) => {
            c = d[c][p[(i % 8)][val]]
        })

        return (c === 0)
    }
</script>

<script>
        function purchase() {
           var a= $('#ssdd').val();

        if (a > 0 || a > 0) {
            $.ajax({
                url: '@Url.Action("buyUTIToken","PANCARD")',
                cache: false,
                data: { amount: $('#ssdd').val() },
                type: "POST",
                  beforeSend: function() {

             },
                success: function (data) {

                    var output = JSON.parse(data);
                    if (output.RESULT == 0) {
                        document.getElementById("buttokenerror").style.color = "green";
                        $('#buttokenerror').text("Pan Card Purchase Successfully");
                    }
                    else {
                        $('#buttokenerror').text(output.ADDINFO);
                    }
                },

        })



        }
        else {
               $('#buttokenerror').text("Select Any digital token or Physical token");
            }
            $('#buttonm').show();
            $('#buttonm1').hide();

    }
</script>

<script>
        function pancardsbt() {
            var panmarrigests = document.getElementById('panmarrigests').value;
            var panadharno = document.getElementById('panadharno').value;
            var panradio = document.querySelector('input[name="gender"]:checked').value;
            var panname = document.getElementById('panname').value;
            var pandob = document.getElementById('pandob').value;
            var panmobno = document.getElementById('panmobno').value;
            var panfathername = document.getElementById('panfathername').value;
            var panemail = document.getElementById('panemail').value;
            var pancustmno = document.getElementById('pancustmno').value;
            var userstate = document.getElementById('UserState').value;

            if (isBlank(panmarrigests)) {
                document.getElementById('mess').innerHTML = 'Please Select Title';
            }
            else {
                if (isBlank(panadharno)) {
                    document.getElementById('mess').innerHTML = 'Please Enter Aadhaar Card No.';
                }
                else {
                    if (isBlank(panname)) {
                        document.getElementById('mess').innerHTML = 'Please Enter Name';
                    }
                    else {
                        if (isBlank(pandob)) {
                            document.getElementById('mess').innerHTML = 'Please Enter Dob';
                        }
                        else {
                            if (isBlank(panmobno)) {
                                document.getElementById('mess').innerHTML = 'Please Enter Mobile No.';
                            }
                            else {
                                if (isBlank(panfathername)) {
                                    document.getElementById('mess').innerHTML = 'Please Enter Father Name';
                                }
                                else {
                                    if (isBlank(panemail)) {
                                        document.getElementById('mess').innerHTML = 'Please Enter Email id';
                                    }
                                    else {
                                        if (isBlank(pancustmno)) {
                                            document.getElementById('mess').innerHTML = 'Please Enter Customer Mobile No.';
                                        }
                                        else {
                                            if (isBlank(userstate)) {
                                                document.getElementById('mess').innerHTML = 'Please Select State.'
                                            }
                                            else {
                                                $.ajax({
                                                    url: '@Url.Action("pancardmanual", "Home")',
                                                    data: { msts: panmarrigests, adharno: panadharno, name: panname, dob: pandob, mobile: panmobno, father: panfathername, Email: panemail, cmobile: pancustmno, gender: panradio, state: userstate },
                                                    cache: false,
                                                    type: "POST",
                                                    dataType: 'json',

                                                    success: function (data) {
                                                    document.getElementById('mess').innerHTML = data.message;
                                                       if (data.status = "Pending") {
                                                           PANCARD_manual();
                                                       }
                                                    }
                                                });
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }
</script>
