@model Vastwebmulti.Areas.RETAILER.Models.remmulti
<style>


    .loader {
        position: fixed;
        top: -90px;
        left: 0;
        background-color: rgba(255,255,255,0.7);
        z-index: 999999999999;
        display: none;
        height: 100vw;
        width: 100vw;
    }

    @@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loader::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 25%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
</style>
<style>
    .for-prepaid tr th {
        font-size: 10px;
        text-transform: uppercase;
    }

    .for-prepaid {
        width: 100%;
        float: left;
    }
</style>

<div id="Rechargeform" class="row">
    <div class="col-md-4 Rechargeform-second">
        <div class="txtmobilemessage2">
            <p id="txtmobilemessage" class="txtmobilemessage1" style="margin-top:10px; color:#E91E63; font-size:10px; padding-left:5px;"></p>
        </div>
        <div class="form-group" style="margin-bottom:0px;">
            <div class="" style="margin-top:-2px; margin-left:4px; height:37px;">
                <input type="text" id="txtmobile" name="txtmobile" required class="form-control pp" maxlength="10" placeholder="Mobile Number (+91)" onkeypress="return isNumber(event)" autocomplete="off" />

                <div style="float:right;margin-top:-30px; margin-right:8px;" id="ddlradio">

                    <i class="fa fa-circle-o-notch fa-spin" id="rchspinner" style="font-size:14px;display:none;"></i>
                    <input name="radiogroup" type="radio" id="radio_1" class="with-gap radio-col-blue-grey radioOptType" value="PrePaid">
                    <label for="radio_1">Prepaid</label>
                    <input name="radiogroup" type="radio" id="radio_2" class="with-gap radio-col-blue-grey radioOptType" value="PostPaid">
                    <label id="postionchangebe" for="radio_2">Postpaid</label>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-7" style="margin-bottom:0px;">
        <div class="row">
            <div style="visibility:inherit;">
                <p id="mobileoptddl" style="color:#E91E63;margin-top:10px; font-size:10px; padding-left:16px;"></p>
            </div>
            <div class="col-md-4" id="Divprepaid" style="margin-bottom:0px;">
                <div id="dropprepaid">

                    @Html.DropDownList("mobileoperatorPrepaid", (IEnumerable<SelectListItem>)ViewBag.perpaid, "Select Operators", new { @class = "form-control", @style = "border-radius:none;display:block;", })
                </div>
                <div id="droppostpaid" style="display:none;">

                    @Html.DropDownList("mobileoperatorPostpaid", (IEnumerable<SelectListItem>)ViewBag.postpaid, "Select Operators", new { @class = "form-control", @style = "border-radius:none;display:block;" })
                </div>
            </div>
            <div class="col-md-4 dropprepaid-first">
                <div style="visibility:inherit;position: absolute;top: 10px;">
                    <p id="mobileCircleddl" style="margin-top:-28px; color:#E91E63; font-size:10px; padding-left:1px;visibility:inherit;"></p>
                </div>
                <div>

                    <select id="ddlcircle" name="ddlcircle" class="form-control" style="display: block;">
                        <option value="">Select Circle</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar Jharkhand">Bihar Jharkhand</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi NCR">Delhi NCR</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu Kashmir">Jammu Kashmir</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Madhya Pradesh Chhattisgarh">Madhya Pradesh Chhattisgarh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="North East">North East</option>
                        <option value="Orissa">Orissa</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="UP East">UP East</option>
                        <option value="UP West">UP West</option>
                        <option value="West Bengal">West Bengal</option>


                    </select>

                </div>
            </div>
            <div class="col-md-4 full-poporewq">
                <div style="height:28px;visibility:inherit;position:absolute;top:-11px;clear:both;">
                    <p id="txtmobileamtemessage" style="margin-top:-28px; color:#E91E63; font-size:10px; padding-left:1px;visibility:inherit;"></p>
                </div>
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="" style="margin-top:-2px;height:37px;">
                        <input type="text" id="txtmobileamount" name="txtmobileamount" class="form-control" placeholder="Amount" onkeypress="return isNumber(event)" />
                    </div>
                    <input type="hidden" id="commvalue" />
                </div>
                <div id="viewplan" style="display:none;width:10px;">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:11px; border-bottom:none; margin-left:56px;">
                            <a href="#" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>" class="view-plans-button" style="text-decoration:none; font-size:11px;padding:5px; border:1px solid #ccc !important;border-radius:1px;" onclick="getbestViewofferplan()">View&nbsp;Plans</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-1 rechargebutton">
        <div>
            @*<div class="col-md-4" id="viewplan" style="display:none;">
                    <div class="form-group" style="margin-bottom:0px;">
                        <div class="form-line" style="top:11px; border-bottom:none; margin-left:-23px;">
                            <a href="#" style="text-decoration:none; font-size:11px;border:1px solid #ffc107;padding:11px 4px 11px 4px; color: #ffc107;" onclick="getbestViewofferplan()">View&nbsp;Plans</a>
                        </div>

                    </div>
                </div>*@

            <div>
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="form-line" style=" border-bottom:none;">
                        <input type="submit" id="btn" class="btn bg-blue-grey greyss" value="Continue" style="margin-left:-21px; height:35px; margin-top:-3px; border:none;border-radius:2px;padding:9px 15px;" onclick="getmobilepreandpostcontinuebtn()" />
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="loader loaderwww"></div>

<div id="msgBox" style="margin-top:10px;"></div>



<table id="confirmprepaid" class="for-prepaid" style="width:100%;margin-top:-10px;display:none;">
    <tr>
        <th style="width:10%;"></th>
        <th style="width:30%;">Operator</th>
        <th style="width:30%;">Recharge to</th>
        <th style="width:15%;">amount</th>
        @if (Model.Ispin == true)
        {
            <th style="width:15%;">PIN</th>
        }
        <th style="width:15%;">Action</th>
    </tr>
    <tr>
        <td>
            <button style="padding: 5px 20px;" onclick="backprepaid()"><img src="~/AdminDesign/images/back.svg" style="width:18px;" /></button>
        </td>
        <td style="font-size: 24px;"><b><span id="showopt"></span> </b></td>
        <td class="border-centerbe" style="font-size: 24px;"><b> <span id="shownumber"></span> </b></td>
        <td style="font-size: 24px;"><b><span id="showamount"></span></b></td>

        @if (Model.Ispin == true)
        {
            <td style="font-size: 24px;">
                <input style=" width: 160px; " type="password"
                       id="Rechargepin"
                       class="form-control text-center"
                       placeholder="Enter PIN"
                       maxlength="6"
                       autocomplete="off" />
                <span id="pinError"
                      style="color:red; font-size:13px; display:none; margin-top:5px;">
                </span>
            </td>
        }

    <td>
        <button type="button"
                style="width: 190px; float: right;background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));border: 0; color: #fff; padding: 4px 19px; font-size: 20px;"
                onclick="processToPay()"> Procces To Pay
        </button>
    </td>
        @*<td>
            <button style=" width: 190px; float: right; background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; border: 0px; color: #fff; padding: 4px 19px; font-size: 20px;"
            onclick="processToPay()"> Procces To Pay </button>
        </td>*@



</tr>
</table>


<table id="rechargeconfirm" class="for-prepaid" style="width:100%;margin-top:-10px;display:none;">
    <tr>
        <th style="width:25%;">Recharge Status</th>
        <th style="width:37%;">Response Message</th>
        <th style="width:11%;">Action</th>
    </tr>
    <tr>
        <td style="font-size: 20px;"><b> <span id="rchstatuschkpre"></span> </b></td>
        <td class="border-centerbe border-centerbess" style="font-size: 20px;"><b><span id="rchmsgprepaid"></span></b></td>
        <td><button style="float: right;background: linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;border: 0px;color: #fff;padding: 4px 19px;font-size: 20px;" onclick="Rechargeagain()">Recharge Again</button></td>
    </tr>
</table>



<script>
    var isPinOn = @Model.Ispin.ToString().ToLower();

    function processToPay() {

        if (isPinOn) {

            var pin = $('#Rechargepin').val();
        

            if (!pin) {
                alert('Please enter transaction PIN');
                $('#Rechargepin').focus();
                return;
            }

            mobilerechargeconfirm(pin);
        }
        else {
            mobilerechargeconfirm('');
        }
    }
</script>

<script>
    function showMsg(msg, type) {

        var color = (type === "success") ? "green" : "red";

        $('#msgBox').html(
            '<div style="color:' + color + '; font-weight:bold;">' + msg + '</div>'
        );

        setTimeout(function () {
            $('#msgBox').html('');
        }, 5000);
    }
</script>





<script>
    $('#mobileoperatorPrepaid').select2();
    $('#mobileoperatorPostpaid').select2();
    $('#ddlcircle').select2();
</script>

<script>

    $(".radioOptType").on('click', function () {
        var value = document.querySelector('input[name="radiogroup"]:checked').value;
        if (value == "PrePaid") {
            document.getElementById("viewplan").style.display = "block";
            document.getElementById("PrePaidbestplan").style.display = "block";
            $('#dropprepaid').show();
            $('#droppostpaid').hide();

            optgetval("PrePaid");
        }
        if (value == "PostPaid") {
            document.getElementById("viewplan").style.display = "none";
            document.getElementById("PrePaidbestplan").style.display = "none";
            $('#droppostpaid').show();
            $('#dropprepaid').hide();

            optgetval("PostPaid");
        }
    }
    );
</script>

<script>
    var j = $.noConflict();
    $("#txtmobile").on('keypress blur keyup', function (e) {
        $('#commvalue').val("");

        $('#numbershowmobile').text($(this).val());
        var k = e.keyCode || e.which;
        var id = $(this)[0].id;
        var str = $(this)[0].value;
        var length = str.length;
        if (length == 10 && e.type == "keyup") {
            e.preventDefault();
            e.stopPropagation();
            if (id == 'txtmobile') {
                mobile();
            }
            //end
        }
    });
</script>


<script>
    function mobile() {
                    document.getElementById("PrePaidbestplan").style.display = "none";
                    $('#BestOfferTbl').empty();
                   $('#mobileoperatorPrepaid').val("");
                    j('#mobileoperatorPrepaid').select2().trigger('change');
                    var mobileno = $("#txtmobile").val();
                    document.getElementById("rchspinner").style.display = "block";
             // check circle code and fill operator throw mobile number
                   $.ajax({
                        url: '@Url.Action("Checkcircle", "Home")',
                        type: 'GET',
                        dataType: "json",
                        data: { mobileno: mobileno },
                       success: function (response) {

                                     document.getElementById("rchspinner").style.display = "none";
                            var sts = response.status;
                            var circle = response.Response.Circle;
                            var operator = response.Response.Operator;
                           var optype = response.Response.postpaid;

                            if (sts == "SUCCESS") {

                                j("#ddlcircle").val(circle);
                               j('#ddlcircle').select2().trigger('change');
                                //prepaid
                                if (optype == false) {
                                    document.getElementById("viewplan").style.display = "block";
                                     $('#droppostpaid').hide();
                                         $('#dropprepaid').show();
                                         $("#radio_1"). prop("checked", true);
                                    operator = $.trim(operator).toUpperCase();
                                    $("#mobileoperatorPrepaid option").each(function () {
                                        var opt = $(this).text().toUpperCase();
                                        if (opt == "BSNL TOPUP") {
                                            if (operator == "BSNL") {
                                                operator = "BSNL TOPUP";
                                            }
                                        }
                                        else if (opt == "MTNL TOPUP") {
                                            if (operator == "MTNL") {
                                                operator = "MTNL TOPUP";
                                            }
                                        }
                                        if (operator == opt) {

                                            var optcode = $(this).val();

                                            $('#mobileoperatorPrepaid').val(optcode);
                                             j('#mobileoperatorPrepaid').select2().trigger('change');
                                            return;
                                         }
                                       });
                                    $('#viewplan').show();
                                    getbestofferplan();
                                }
                                //postpaid
                                else {
                                                document.getElementById("viewplan").style.display = "none";
                                           $('#droppostpaid').show();
                                         $('#dropprepaid').hide();
                                    $("#radio_2"). prop("checked", true);
                                    operator = $.trim(operator).toUpperCase();

                                    $("#mobileoperatorPostpaid option").each(function () {
                                        var opt = $(this).text().toUpperCase();

                                          if (opt == "AIRTEL POSTPAID") {
                                            if (operator == "AIRTEL") {
                                                operator = "AIRTEL POSTPAID";
                                            }
                                        }
                                        else if (opt == "IDEA POSTPAID") {
                                            if (operator == "IDEA") {
                                                operator = "IDEA POSTPAID";
                                            }
                                        }
                                          else if (opt == "VODAFONE POSTPAID") {
                                            if (operator == "VODAFONE") {
                                                operator = "VODAFONE POSTPAID";
                                            }
                                        }
                                        else if (opt == "RELIANCE POSTPAID") {
                                            if (operator == "JIO") {
                                                operator = "RELIANCE POSTPAID";
                                            }
                                        }
                                         else if (opt == "BSNL POSTPAID") {
                                            if (operator == "BSNL") {
                                                operator = "BSNL POSTPAID";
                                            }
                                        }
                                         else if (opt == "TATA DOCOMO POSTPAID") {
                                            if (operator == "TATA") {
                                                operator = "TATA DOCOMO POSTPAID";
                                            }
                                        }
                                        if (operator == opt) {
                                            var optcode = $(this).val();

                                            $('#mobileoperatorPostpaid').val(optcode);
                                             j('#mobileoperatorPostpaid').select2().trigger('change');
                                            return;
                                         }
                                       });
                                }
                            }
                        },
                        error: function (response) {
                            document.getElementById("rchspinner").style.display = "none";

                        }
                    });
                    return true;
    }
</script>

<script>
    function getbestViewofferplan()
    {
        var e = document.getElementById("ddlcircle");
        circlename = e.options[e.selectedIndex].text;
        //optvalue = e.options[e.selectedIndex].value;
        var e = document.getElementById("mobileoperatorPrepaid");
        optname = e.options[e.selectedIndex].text;
        optvalue = e.options[e.selectedIndex].value;
        var array_of_numbers = [];
        $('#Viewplanoffertable').html('');
           $.ajax({
               url: '@Url.Action("RechargeViewPlanoffer", "Home")',
               type: 'GET',
               dataType: "json",
               data: { optname: optname, circlename: circlename },
               success: function (response) {
                   var sts = response.status;

               if (sts == "SUCCESS") {
                   var jsonObj = response.Response;

                       for (var i = 0; i < jsonObj.length; i++) {
                           var newRow =
                         "<tr>" +
                          "<td><button type='button' style='width:100%;color:white;' onclick='offershowforplan(this)' class='btn bg-blue-grey waves-effect' value='" + jsonObj[i]['name'] + ","+ optname + "," + circlename + "'> " + jsonObj[i]['name'] + "</button></td>" +
                           "</tr>";
                           $('#Viewplanoffertable').append(newRow);
                           $("#circle").html(circlename);
                           $("#optname").html(optname);
                           $("#offerPlanModal").modal('show');
                           array_of_numbers =array_of_numbers.concat(jsonObj[i]['name']);
                       }
                       var ll = array_of_numbers[0] + "," + optname + "," + circlename;
                       var jj = "";
                       //Function Call For First Time Prepaid
                       offershowforplan(jj, ll);
                   }
               }
           });
        return true;
       //}
    }
</script>

<!--Fill View Plan Prepaid best plan-->
<script>
    function offershowforplan(objButton,m) {
        var offervalue = "";
        $('#Viewplanoffertable2').empty();
        if (objButton == "")
        {
            offervalue = m;
        }
        else
        {
            offervalue = objButton.value;
        }
        if (m == "") {
            offervalue = objButton.value;
        }
        sid = offervalue.split(',');
        var planname = sid[0];
        var optname = sid[1];
        var circle = sid[2];
        $.ajax({
            url: '@Url.Action("RechargeViewPlanofferDetails", "Home")',
            type: 'GET',
            dataType: "json",
            data: { optname: optname, planname:planname, circlename: circle },
            success: function (response) {
                var sts = response.status;
                if (sts == "SUCCESS") {
                    var jsonObj = response.Response;

                    for (var i = 0; i < jsonObj.length; i++) {
                        var newRow =
                      "<tr>" +
                       "<td style='text-align:center;'>" + jsonObj[i]['Talktime'] + "</td>" +
                       "<td style='text-align:center;'>" + jsonObj[i]['Validity'] + "</td>" +
                       "<td style='text-align:center;'>" + jsonObj[i]['description'] + "</td>" +
                       "<td><button type='button' style='width:100%;color:white;' onclick='offershowforplan1(this)' class='btn bg-blue-grey waves-effect' value='" + jsonObj[i]['price'] + "'> " + jsonObj[i]['price'] + "</button></td>" +
                        "</tr>";
                        $('#Viewplanoffertable2').append(newRow);
                        $("#circle").html(circlename);
                        $("#optname").html(optname);
                        $("#offerPlanModal").modal('show');
                    }
                }
            }
        });
        return true;
        $('.btn.bg-blue-grey.waves-effect').click(function () {
            alert('bvhghj');
            $('.btn.bg-blue-grey.waves-effect').removeClass("active");
            $(this).addClass("active");
        });
    }
</script>
<!--Get Recharge Best Offer's -->

<script>
    function getbestofferplan()
    {
        document.getElementById("PrePaidbestplan").style.display = "none";
        $('#BestOfferTbl').empty();
        var e = document.getElementById("mobileoperatorPrepaid");
        optname = e.options[e.selectedIndex].text;
        optvalue = e.options[e.selectedIndex].value;
        var mobileno = $("#txtmobile").val();
       if(mobileno == "" || mobileno==null || optname == "" || optname==null  )
        {
            document.getElementById("mobileoptddl").innerHTML = "Please Select Operator";
            document.getElementById("txtmobilemessage").innerHTML = "Enter valid Mobile Number";
            event.preventDefault();
            return false;
       }
       var mobilenolenght = document.getElementById("txtmobile").value.length;
       var pattern = "^[6-9]{1}[0-9]{9}$";
       if (mobilenolenght != 10 && mobilenolenght != null && mobilenolenght != "") {

           document.getElementById("txtmobilemessage").innerHTML = "Number should be [10] digits";
           document.getElementById("txtmobilemessage").style.display = "block";
           event.preventDefault();
           return false;
       }
       else if (!mobileno.match(pattern)) {

           document.getElementById("txtmobilemessage").innerHTML = "Your Mobile Number is not Valid.";
           document.getElementById("txtmobilemessage").style.display = "block";
           event.preventDefault();
           return false;

       }
       else {
           $('#offertable').html('');
           $.ajax({
               url: '@Url.Action("RechargeBestofferplan", "Home")',
               type: 'GET',
               dataType: "json",
               data: { optname: optname, mobileno: mobileno },
               success: function (response) {
                   var sts = response.status;
                   if (sts == "SUCCESS") {
                       var jsonObj = response.Response;
                       if (jsonObj.length > 0) {
                        document.getElementById("PrePaidbestplan").style.display = "block";
                       $('#BestOfferTbl').empty();
                           for (var i = 0; i < jsonObj.length; i++) {
                               var newRow =
                                   "<div class='col-sm-4' style='text-align: left;'>" +
                                   "<button type='button' style='color:white;' onclick='offerval(this)' class='btn bg-blue-grey waves-effect' value='" + jsonObj[i]['price'] + "||" + jsonObj[i]['commAmount'] + "'>₹  " + jsonObj[i]['price'] + "</button>" +
                                   "<div>" + jsonObj[i]['offer'] + "</div>" +
                                   "</div>"
                               $('#BestOfferTbl').append(newRow);
                           }
                      }
                   }
                   else {
                           document.getElementById("PrePaidbestplan").style.display = "none";
                       $('#BestOfferTbl').empty();

                   }
               }
           });
           return true;
       }

    }
</script>

<!--Get Recharge Plan View Offer's-->
<!--Get value on mobile prepaid and postpaid continue button-->
<script>
    function getmobilepreandpostcontinuebtn() {
        var optname = "";
        var optvalue = "";
        var value = document.querySelector('input[name="radiogroup"]:checked').value;
        if (value == "PrePaid") {
            var e = document.getElementById("mobileoperatorPrepaid");
            optname = e.options[e.selectedIndex].text;
            optvalue = e.options[e.selectedIndex].value;
        }
        else {
            var e = document.getElementById("mobileoperatorPostpaid");
            optname = e.options[e.selectedIndex].text;
            optvalue = e.options[e.selectedIndex].value;
        }
        var e = document.getElementById("ddlcircle");
        var circle = e.options[e.selectedIndex].text;
        var mobileno = $("#txtmobile").val();
        var radiovalue = document.querySelector('input[name="radiogroup"]:checked').value;
        var amout = $("#txtmobileamount").val();
        var comm = $("#commvalue").val();

        /* call function mobile continuebutton */
        var sts = getcontinuebtnvalue(optname, optvalue, circle, mobileno, radiovalue, amout);
        if (sts == true) {
            $('#showopt').text(optname);
            $('#shownumber').text(mobileno);
            $('#showamount').text(amout);
            $('#PrePaidbestplan').hide();
            $('#Rechargeform').hide();
            $('#confirmprepaid').show();
            // Recharge(optname, optvalue, mobileno, amout, "", "", "", "", comm);
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }
    }
</script>
<script>
    function backprepaid() {
        $('#Rechargeform').show();
        $('#PrePaidbestplan').show();
        $('#confirmprepaid').hide();
    }
</script>
<script>
    function mobilerechargeconfirm(pinValue) {

       var optname = "";
        var optvalue = "";
        var value = document.querySelector('input[name="radiogroup"]:checked').value;
        if (value == "PrePaid") {
            var e = document.getElementById("mobileoperatorPrepaid");
            optname = e.options[e.selectedIndex].text;
            optvalue = e.options[e.selectedIndex].value;
        }
        else {
            var e = document.getElementById("mobileoperatorPostpaid");
            optname = e.options[e.selectedIndex].text;
            optvalue = e.options[e.selectedIndex].value;
        }
        var e = document.getElementById("ddlcircle");
        var circle = e.options[e.selectedIndex].text;
        var mobileno = $("#txtmobile").val();
        var radiovalue = document.querySelector('input[name="radiogroup"]:checked').value;
        var amout = $("#txtmobileamount").val();
        var comm = $("#commvalue").val();
        //$("#txtmobile").val("");
        //$("#txtmobileamount").val("");
        //if (mobileno != "" && amout != "")
        //{
            $.ajax({
                type: "POST",
                url: "@Url.Action("Recharge","Home")",
                data: { OperatorName: optname, OptCode: optvalue, mobileno: mobileno, Amount: amout, optional1: "", optional2: "", optional3: "", optional4: "", comm: comm, BillRefId: "", circle: circle, Rechargepin: pinValue },
                cache: false,
                dataType: 'json',
                beforeSend: function () {
                    $('.loader').show();
                },
                success: function (result)
                {

                    // 🔴 Clear old PIN error every time
                    $('#pinError').hide().text("");

                    /* 🔴 PIN ERROR — SAME PAGE */
                    if (result.status && (
                        result.status === "PIN_REQUIRED" ||
                        result.status === "INVALID_PIN" ||
                        result.status === "PIN_NOT_SET")) {

                        $('#pinError').text(result.message).show();
                        $('.loader').hide();
                        return; // 🚫 STOP ONLY FOR PIN ERROR
                    }

                   // window.location.reload();
                    var status = result.Response;
                    var message = result.Message;


                    if (status == "GATEWAY") {
                        window.open(message, "_self");
                        $('#rchstatuschkpre').text("Pending");
                        $('#rchmsgprepaid').text("Please Wait While Redirect The Gateway");
                    }
                    else {
                        $('#rchstatuschkpre').text(status);
                        $('#rchmsgprepaid').text(message);


                        // ✅ CLEAR FIELDS ONLY AFTER SUCCESS

                        $("#txtmobile").val("");
                        $("#txtmobileamount").val("");

                    }

                        $('#confirmprepaid').hide();
                        $('#rechargeconfirm').show();
                },
                complete: function () {
                    $("#remainretailer").load(location.href + " #remainretailer");
                    $('.loader').hide();
                          $.ajax({
            url: '@Url.Action("showrecentrecharge", "Home")',
            type: 'GET',
            dataType: "html",
            data: { type: "Prepaid" },
                   success: function (data) {
                    $('#reportchk').html(data);

            },
            error: function (data) {

            }
        });
                },
                error: function () {
                    $("#remainretailer").load(location.href + " #remainretailer");
                    $('.loader').hide();
                }
            })
       // }

    }
</script>

<script>
    function Rechargeagain() {
        $("#radio_1").prop("checked", true);
        j('#mobileoperatorPrepaid').val("");
        j('#mobileoperatorPrepaid').select2().trigger('change');
        j('#mobileoperatorPostpaid').val("");
        j('#mobileoperatorPostpaid').select2().trigger('change');
        j("#ddlcircle").val("");
        j('#ddlcircle').select2().trigger('change');
        $('#txtmobile').val("");
        $('#droppostpaid').hide();
        $('#dropprepaid').show();
        $('#txtmobileamount').val("");
        $('#viewplan').show();
        $('#viewplan').show();
        $('#PrePaidbestplan').hide();
        $('#Rechargeform').show();
        $('#rechargeconfirm').hide();
        $('#confirmprepaid').hide();
    }
</script>

<!--click Plan amount button on Plan modal popup prepaid-->
<script>
    function offershowforplan1(objButton) {
        var offervalue = parseInt(objButton.value);
        $("#txtmobileamount").val(offervalue);
        $("#offerPlanModal").modal('hide');
    }
</script>
<!--click offer amount button on offer modal popup-->
<script>
    function offerval(objButton) {
        $("#commvalue").val("");
        var allvalue = objButton.value;
        allvalue = allvalue.split("||");
        var offervalue = allvalue[0];
        var Comm = allvalue[1];

        $("#txtmobileamount").val(offervalue);
        $("#commvalue").val(allvalue);
        $("#offerModal").modal('hide');
    }
</script>



<script>
    $(document).ready(function () {
        $(".select2.select2-container").click(function () {
            $(".select2-results #select2-mobileoperatorPrepaid-results").addClass('rechargepagechangeheight');
        });

    });

    $(document).ready(function () {
        $(".select2.select2-container").click(function () {
            $(".select2-results #select2-ddlcircle-results").addClass('rechargepagechangeheight');
        });

    });
</script>