@*@model IEnumerable<Vastwebmulti.Models.recent_Retailer_Result>*@
@model Vastwebmulti.Areas.ADMIN.ViewModel.TargetSetviewmodel
@if (Model.recent_Retailer != null)
{
    foreach (var item in Model.recent_Retailer)
    {
        DateTime date = Convert.ToDateTime(item.Date);
        var val = item.Cr;
        if (item.Cr == 0)
        {
            val = -item.Dr;
        }
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Operator_type)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@date.ToString("d-MMM-yyyy HH:mm:ss")</td>
            <td>@val</td>
            <td>@item.UserPost</td>
        </tr>
        //i++;
    }
}



