@model List<Vastwebmulti.Models.Sp_ledgerreport_Result>
@{
    Layout = null;
}

<style>
    /*.credit-row {
        background-color: red;
        color: #fff;
    }
    .debit-row {
        background-color: green;
        color: #fff;
    }
*/
</style>

@{ int i = 1; }
@foreach (var item in Model)
{
    <tr class="@(item.Credit > 0 ? "credit-row" : "") @(item.Debit > 0 ? "debit-row" : "")">
        @*<td>@i</td>*@
        <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
        <td>@Html.DisplayFor(modelItem => item.Credit)</td>
        <td>@Html.DisplayFor(modelItem => item.Debit)</td>
        <td>@Html.DisplayFor(modelItem => item.UserRemainAmount)</td>
        <td>@Html.DisplayFor(modelItem => item.Date)</td>
    </tr>
    i++;
}


