@model Vastwebmulti.Areas.RETAILER.Models.Servicefee

<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: transparent;
        border: 0px;
    }
</style>
<style>
    .slab-first-tab {
        background: var(--second-bg-color);
        margin-left: 8px !important;
    }

    .modal .modal-content .modal-body21 {
        color: #777;
        background: #ddd;
        height: 56px;
        border-bottom: 2px solid;
        padding: 15px 122px;
    }
</style>


<table class="table special-iii table-bordered  table-hover paid-service-table example-second" id="Results1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Vlaue</th>
            <th>Action</th>
        </tr>
    </thead>


    @foreach (var item in Model.AddForm_information)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                @if (item.id == Model.AddForm_informationbyid.id)
                {

                    @Html.Hidden("idno", Model.AddForm_informationbyid.id)

                    <td>@Html.TextBox("Value", Model.AddForm_informationbyid.Value, new { @class = "form-control" })</td>

                    <td>
                        <button type="button" id="retailerformsavebtn" onclick="retailerformsavebtn(@item.id)" value="Save" class="btn waves-effect btnssl1 switch-edit-button" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save</button>


                    </td>
                }
                else
                {
            
                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                    <td class="last-td">
                        <button type="button" onclick="retailerform('@item.id')" id="retailerformedit1" class="btn waves-effect shownextrow switch-edit-button" value="Edit">
                            <p>Edit</p>
                        </button>
                    </td>
                }

            </tr>



        </tbody>
    }
</table>



<script>
    function retailerformsavebtn(idno) {
         $.ajax({
             url: '@Url.Action("RetailerEdit_Data", "Home")',
             type:'POST',
             data: { idno: idno, Value: $('#Value').val() },

             success: function (data) {

                 setTimeout(function () { $('#retailerformedit').html(data); }, 500);

            }
        });


    }

     $('.btnssl1').on('click', function () {
                    var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 500);
                });
</script>


