<div class="body table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Sender Number</th>
                <th>Account Number</th>
                <th>Reciver Name</th>
                <th>Bank Name</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
           @if (ViewBag.showdata.Count>0)
           {
               foreach (var item in ViewBag.showdata)
               {
            <tr>
                <td>@i</td>
                <td><button type="button" class="btn bg-grey waves-effect" value="@item.senderno" onclick='getval(this)'>@item.senderno</button></td>
                <td>@item.accountno</td>
                <td>@item.recivername</td>
                <td>@item.bank_nm</td>
            </tr>
                   i++;
               }
           }
           else
           {
            <tr>
                <td></td>
                <td></td>
                <td style="border-left:hidden;border-right:hidden;"><p style="font-size:17px; color:red;text-align:center;"> Sorry No data Found !</p></td>
                <td></td>
                <td></td>
            </tr>
           }

        </tbody>
    </table>
</div>
