@model IEnumerable<Vastwebmulti.Models.Showrem_UPIREQ_Result>



<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            Request To
        </th>
        <th>Amount</th>
        <th>Bank RRN</th>
        <th>VPA ID</th>
        <th>Transection date</th>
        <th>Request date</th>
        <th>Response date</th>
        <th>Current Status</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td ><span style="color:black !important">Admin</span></td>
                <td>@item.amount</td>
                <td>@item.Bankrrn</td>
                @*<th>Payer&nbsp;Mobile</th>*@
                <td>@item.sender_vpa</td>
                <td>@item.transferdate</td>
                <td>@item.requestdate</td>
                <td>@item.responsedate</td>
                <td>@item.status</td>
               
            </tr>
        }
    </tbody>
</table>
