@model Vastwebmulti.Areas.RETAILER.Models.modelviewwalletunload
<div id="datashow" class="table-responsive wallettable tablethirddesign-new tablethirddesign-newnew" style="position:inherit;padding:0px;">
    <table class="table table-bordered table-striped">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Status</th>
                <th>Account&nbsp;No</th>
                <th>Type</th>
                <th>Pre&nbsp;Bal</th>
                <th>Amount</th>
                <th>Charge</th>
                <th>Post</th>
                <th>RRN</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                var color = "";
                var img = "";
                if (item.Status.Contains("Success"))
                {
                    color = "green";
                    img = "../../ashok-images/correct.svg";
                }
                if (item.Status.Contains("Pending"))
                {
                    color = "#FF9800";
                    img = "../../ashok-images/clkk.png";
                }
                if (item.Status.Contains("Rejected"))
                {
                    color = "red";
                    img = "../../ashok-images/closes.svg";
                }
                if (item.Status.Contains("Refund"))
                {
                    color = "#3F51B5";
                    img = "../../ashok-images/undo.svg";
                }


                <tr>
                    <td class="statusimg-winload" style="color:@color;font-weight:700;"><img src="@img" style="background-color:@color;" /><span>@Html.DisplayFor(modelItem => item.Status)</span></td>
                    <td>@Html.DisplayFor(modelItem => item.BankAccount)</td>

                    <td>@Html.DisplayFor(modelItem => item.TransferType)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProcessingCharge)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                    <td>@Html.DisplayFor(modelItem => item.BankRRN)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                </tr>

            }
            @if (Model.Requests.Count() == 0)
            {
                <tr>
                    <td colspan="9"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>

                </tr>
            }

        </tbody>
    </table>
</div>
<div id="datashowPOS" class="table-responsive wallettable tablethirddesign-new tablethirddesign-newnew" style="position:inherit;padding:0px;display:none;">
    <table class="table table-bordered table-striped">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Details</th>
                <th>Remain&nbsp;Pre</th>
                <th>Cr</th>
                <th>Dr</th>
                <th>Amount</th>
                <th>Comm</th>
                <th>Gst</th>
                <th>Tds</th>
                <th>Remain&nbsp;Post</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posledger)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>

                    <td>@Html.DisplayFor(modelItem => item.remainpre)</td>
                    <td>@Html.DisplayFor(modelItem => item.cr)</td>
                    <td>@Html.DisplayFor(modelItem => item.dr)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.comm)</td>
                    <td>@Html.DisplayFor(modelItem => item.gst)</td>
                    <td>@Html.DisplayFor(modelItem => item.tds)</td>
                    <td>@Html.DisplayFor(modelItem => item.remainpost)</td>
                    <td>@Html.DisplayFor(modelItem => item.ledgerdate)</td>
                </tr>

            }
            @if (Model.Posledger.Count() == 0)
            {
                <tr>
                    <td colspan="10"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>

                </tr>
            }

        </tbody>




    </table>
</div>



<div id="datashowPOS1" class="table-responsive wallettable tablethirddesign-new tablethirddesign-newnew" style="position:inherit;padding:0px;display:none;">
    <table class="table table-bordered table-striped">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Details</th>
                <th>Remain&nbsp;Pre</th>
                <th>Cr</th>
                <th>Dr</th>
                <th>Amount</th>
                <th>Comm</th>
                <th>Gst</th>
                <th>Tds</th>
                <th>Remain&nbsp;Post</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posledger1)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>

                    <td>@Html.DisplayFor(modelItem => item.remainpre)</td>
                    <td>@Html.DisplayFor(modelItem => item.cr)</td>
                    <td>@Html.DisplayFor(modelItem => item.dr)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.comm)</td>
                    <td>@Html.DisplayFor(modelItem => item.gst)</td>
                    <td>@Html.DisplayFor(modelItem => item.tds)</td>
                    <td>@Html.DisplayFor(modelItem => item.remainpost)</td>
                    <td>@Html.DisplayFor(modelItem => item.ledgerdate)</td>
                </tr>

            }
            @if (Model.Posledger1.Count() == 0)
            {
                <tr>
                    <td colspan="10"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>

                </tr>
            }

        </tbody>




    </table>
</div>
<script>
    function OnSuccessunload() {
        var chk = $('input[name="group1"]:checked').val();
        if (chk == "bywalletunload") {
            $('#WalletUnload').show();
            $('#tabsmyss1').hide();
            $('#posunload').hide();
            $('#datashowPOS').hide();
            $('#datashowPOS1').hide();
            $('#datashow').show();
        }
        else if (chk == "byposunload") {
            $('#posunload').show();
            $('#WalletUnload').hide();
            $('#tabsmyss1').hide();
            $('#datashowPOS1').hide();
            $('#datashowPOS').show();
            $('#datashow').hide();
        }

        else if (chk == "byposDis") {
            $('#tabsmyss1').show();
            $('#WalletUnload').hide();
            $('#posunload').hide();
            $('#datashowPOS').hide();
            $('#datashowPOS1').show();
            $('#datashow').hide();
        }
    }
</script>