
@{
    ViewBag.Title = "AccountOpening";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
<link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
<style>

    /* new css  */

    #account_axis_table thead, #account_axis_table tr, #account_axis_table tbody {
        width: 100%;
        float: left;
        display: table;
    }

    #search_axis_report {
        padding: 6px 15px;
        width: 10%;
    }

    .input-daterange {
        width: 60%;
        position: relative;
        margin: 0px 5px;
    }
        .input-daterange .datesate {
            position: relative;
            width: 50%;
            float: left;
        }
            .input-daterange .datesate #iconmyssee {
                left: 0 !important;
            }
    #search_axis_input {
        width: 30%;
    }

    .tabspage {
        background: #fff;
    }
    
    /* new css  */


    .transaction ul li.transaction-left, .transaction ul li.transaction-right {
        height: 28px;
    }

    .loader::after {
        border-color: var(--main-bg-lcolor) !important;
        border-top-color: transparent !important;
    }

    .aadharpaysup {
        animation: blinks 2s linear infinite;
        font-size: 8px;
        top: -10px;
        left: -12px;
    }
    .datesatese{
        margin-top:-4px;
    }

    @@keyframes blinks {
        0% {
            color: yellow;
        }

        50% {
            color: red;
        }

        100% {
            color: orange;
        }
    }

    @@media screen and (max-width:1366px) {
        .newpagecustom.newpagecustomertyui ul li span.aeps-aadharclassdiv {
            left: 0px !important;
        }
    }

    @@media only screen and (max-width:1024px){

        .respc_item {
            display: block !important;
        }
        #search_axis_input {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }
        .input-daterange {
            float: left;
            margin-left: 0;
        }
        #search_axis_report {
            float: left;
            width: 30%;
        }



    }

    @@media only screen and (max-width:480px){

        .input-daterange {
            margin: 0;
            width: 100%;
            margin-bottom: 5px;
        }


    }






</style>
<section class="newpagecustom newpagecustomertyui newpagecustomertyui-second content-fourdesign-page allpage-four-design-section widthinherit-four">
    <div id="full" class="col-md-4 tabspage">
        
        <div class="page-header-third">
            <ul class="tabsmy" id="tabsmyss" style="display:flex;">
                <li class="tab-link-new fullbodydycolorbg current" data-tab="tab-1" onclick="fetch_account_opening_status()" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img style="height: 65px;" src="~/images/transfer.svg" /></strong><img class="hover-display-none" src="~/images/transfer-money.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">Axis&nbsp;Bank<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 10px;position:static;"></sup></span></li>
                <li class="tab-link-new fullbodydycolorbg" data-tab="tab-2" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img src="~/images/aeps1.png" /></strong><img class="hover-display-none" src="~/images/aespicon.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">ICICI&nbsp;Bank<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 10px;position:static;"></sup></span></li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <div id="reload">
                    @Html.Partial("_account_opening")
                </div>
            </div>
            <div id="tab-2" class="tab-content tab-content2" style="padding: 25px 10px;">
                <h4 style="text-align: center;">Comming Soon...</h4>
            </div>
            <div id="backtodashboardcall" data-request-url="@Url.Action("Dashboard", "Home")"></div>
            <input type="hidden" id="latss" required name="latss" />
            <input type="hidden" id="longloc" required name="longloc" />
        </div>

    </div>
    <!--Change-New-->
    <div class="col-md-8 money-transform-content money-transform-responshive oveflow-four-css">
        
        <div class="page-header-third" style="margin-top: 1px;">
            <div style="margin-bottom: 5px; float: left; width: 100%;">
                <form>
                    <div class="respc_item" style="display: flex">
                        <input type="text" name="search" id="search_axis_input" value="" class="form-control" placeholder="search..." />
                        <div class="input-daterange input-group" style="display: flex;">
                            <div class="datesate datesates focused">
                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                @Html.TextBox("axis_from_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                            </div>
                            <span class="input-group-addon" style="display:none;">
                                <i class="fa fa-exchange" style="padding-top:8px;"></i>
                            </span>
                            <div class="datesate datesatese">
                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 4px;left: 177px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                @Html.TextBox("axis_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                            </div>
                        </div>
                        <input type="button" name="submit" value="Search" id="search_axis_report" class="btn" />
                    </div>
                </form>
            </div>
            <div id="reportallinone">

                @Html.Partial("_AccountOpeningReport")
            </div>

        </div>

    </div>
</section>
<script>
    $('ul.tabsmy li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabsmy li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
</script>

<script>
    $(document).ready(() => {
        fetch_account_opening_status();
    })

    function fetch_account_opening_status() {
        $('#customer_acc_error').text('');
        fetch('@Url.Action("account_customer_status")')
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    $('#account_opening').show();
                    $('#not_active').hide();
                }
                else {
                    $('#account_opening').hide()
                    $('#not_active').show();
                }
                fetch_axis_report();
            })
    }
</script>

<script>
    var submit_loading = false;
    $('#account_opening_customer_btn').click(() => {
        $('#customer_acc_error').text('');
        if (submit_loading) return;
        submit_loading = true;

        fetch('@Url.Action("activate_customer_account")')
            .then(res => res.json())
            .then(data => {
                submit_loading = false;
                if (data.status) {
                    $('#account_opening').show();
                    $('#not_active').hide();
                }
                else {
                    $('#customer_acc_error').text(data.message);
                }

            })
            .catch(err => {
                submit_loading = false;
                $('#customer_acc_error').text(err.message);
            });

        fetch_axis_report();

    })

    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
            !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
    }
</script>
<script>

    function fetch_axis_report() {
        $.ajax({
            url: '@Url.Action("account_axis_report", "Home")',
            cache: false,
            type: "GET",
            cache: false,
            dataType: "html",
            success: function (data) {
                $('#reportallinone').html(data);
            }
        })
    }

    $('#account_submit').click(() => {

        $('#account_submit_error').text('');
        var form = $('#account_form');
        var formData = new FormData(form[0]);

        var fname = formData.get('fname');
        var lname = formData.get('lname');
        var email = formData.get('email');
        var mobile = formData.get('mobile');
        var dob = formData.get('dob');
        var pincode = formData.get('pincode');

        if (!fname) return $('#account_submit_error').text('first name is required');
        if (!lname) return $('#account_submit_error').text('last name is required');
        if (!email) return $('#account_submit_error').text('email is required');
        if (!mobile || mobile.length != 10) return $('#account_submit_error').text('mobile error');
        if (!dob) return $('#account_submit_error').text('dob is required');
        if (!pincode || pincode.length != 6) return $('#account_submit_error').text('pincode error');

        if (submit_loading) return;
        submit_loading = true;

        fetch('@Url.Action("submit_saving_account")', {
            method: 'POST',
            body: formData
        })
            .then(res => res.json())
            .then(data => {
                submit_loading = false;
                if (data.status) {
                    window.open(data.url, '_blank');
                    $('#account_reset').click();
                    fetch_axis_report();
                }
                else {
                    $('#account_submit_error').text(data.message);
                }
            })
            .catch(err => {
                submit_loading = false;
                console.error(err);
                $('#account_submit_error').text(err.message);
            })
    })
</script>

<script>
    $('#search_axis_report').click(() => {
        var search = $('#search_axis_input').val();
        var from = $('#axis_from_date').val();
        var to = $('#axis_to_date').val();
        $.ajax({
            url: '@Url.Action("account_axis_report", "Home")?search=' + search + '&from=' + from + '&to=' + to,
            cache: false,
            type: "GET",
            cache: false,
            dataType: "html",
            success: function (data) {
                $('#reportallinone').html(data);
            }
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });

        $("#axis_from_date").datepicker("setDate", new Date());
        $("#axis_to_date").datepicker("setDate", new Date());

    });

    function status_check(uniqueid) {
        if (submit_loading) return;
        submit_loading = true;
        fetch('@Url.Action("account_status_check")?uniqueid=' + uniqueid, {
            method: 'POST'
        })
            .then(res => res.json())
            .then(data => {
                submit_loading = false;
                if (data.status) {
                    fetch_axis_report();
                }
                else {
                    alert(data.message);
                }
            })
            .catch(err => {
                submit_loading = false;
                console.error(err);
                $('#account_submit_error').text(err.message);
            })
    }

</script>



