@model IEnumerable<Vastwebmulti.Models.show_all_user_income_Result>
@{
    ViewBag.Title = "Actual_Retailer_income";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .col-md-1customerightsearch, .col-md-2.customerightdate {
        float: left;
    }

        .col-md-1customerightsearch button {
            height: 32px !important;
        }

    .datesates {
        padding-right: 0px;
    }
    .col-md-4.dispute-date.dayend-date {
        width: 40%;
        float: left;
    }
    .input-daterange input {
        text-align: end;
    }
    /* new css  */


    .dropdown-menu {
        margin-top: 81px !important;
    }

    @@media only screen and (max-width:1169px){
        .actual-clearfix .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding-left: 15px;
        }
        .col-md-12.resp_set {
            padding-left: 15px !important;
        }

    }
    @@media screen and (max-width:767px) {
        .customeright {
            width: 50%;
        }
        .table-responsive.tablethirddesign-new {
            border: 1px solid var(--border-color);
            border-top: 0;
        }
    }

    @@media screen and (max-width:766px){
        .col-md-3.buttonPdf.buttonPdfdispute {
            display: block;
        }
    }
    @@media screen and (max-width:580px){
        .col-md-4.rewdfgt {
            padding:0px;
        }
        .col-md-4.rewdfgt .row {
    margin: 0;
}
        .col-md-2.despute-search.dayend-search {
            width: auto;
        }
            .col-md-2.despute-search.dayend-search button {
                padding: 0 10px;
            }
        .dispute-date.dayend-date {
            width: 33%;
        }
    }

    @@media only screen and (max-width:480px){
        .customeright {
            width: 100%;
            margin: 0px;
            padding-bottom: 4px;
        }
        .col-md-2.despute-search.dayend-search {
            width: 39%;
            margin: 0; 
        }
        .col-md-4.dispute-date.dayend-date {
            width: 61%;
            float: left;
        }
        #txt_frm_date {
            text-align: center;
        }


    }


</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>My Earn</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 1&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Earn</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">
            <div class="col-md-12 resp_set" style="padding-left: 11px;">

                <div class="page-header-third">
                    <div class="bread-same-all-page" style="width:auto;float:left;">
                        <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                            <ul style="margin:0;">
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one">
                                    My Earn (Day Income)

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>

        <div class="row clearfix actual-clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="width:100%;float:left;">


                        @using (Html.BeginForm("Actual_Retailer_income", "Home", FormMethod.Post))
                        {

                            <div class="customeright rightcustomeclass" style="float: left; width: 32%;">


                                <div class="col-md-4 dispute-date dayend-date" style="float: left; width: 60%; ">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group" style="display: flex;">
                                            <div class="datesate datesates focused" style="width:50%;">
                                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                            <span class="input-group-addon" style="display:none;">
                                                <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                            </span>
                                            <div class="datesate datesatese">
                                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2 despute-search dayend-search" style="float:left;">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left: -3px; height:34px;border:1px solid #c7c2c2;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                            

                            <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second" style="text-align:right;float:right;">

                                <button style="color:#555;" id="btnPDF">PDF</button>
                                <button style="color:#555;" id="btnExport">Export</button>

                            </div>

                        }
                    </div>
                    <div class="card class-back-tra-fourdesign"  style="width:100%;float:left;padding-top:4px;">
                        

                        <div class="body" style="padding-top: 0; padding-right: 0px;">
                            <div class="table-responsive dayend-responsive tablethirddesign-new" style="position:inherit;">
                                <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Sr.&nbsp;No</th>
                                            <th>Type</th>
                                            <th>Total&nbsp;Success</th>
                                            <th>Total&nbsp;Pending</th>
                                            <th>Total&nbsp;Failed</th>
                                            <th>Income</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalSuccess)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalPending)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalFailed)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                    <tfoot style="background-color:whitesmoke;">
                                        <tr>
                                            <td><p style="font-size:17px;">Total</p></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><p style="font-size:18px;">@Model.Sum(a => a.Amount)</p></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
$(document).ready(function(){

     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });
</script>

<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerdmt');
    });


</script>

<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("Excel_Actual_Retailer_income", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
     var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_Actual_Retailer_income", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>