@model IEnumerable<Vastwebmulti.Models.SERVICECOLUMN>
@{
    ViewBag.Title = "AdditionServices";
}
<style>

   /*  new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .loan_from_bset {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #bbb;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .loan_from0 {
        width: 70%;
        margin: auto;
    }
    .loan_from {
        width: 11%;
        float: left;
        border-right: 1px solid #e1e1e1;
        height: 450px;
        text-transform: capitalize;
        text-align:center;
    }
    .loan_from2 {
        width: 89%;
        float: left;
        padding-left: 10px;
    }
    h3 {
        color: #171717;
        font-size: 17px;
        position: relative;
        padding-left: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
        h3::after {
            content: "";
            position: absolute;
            content: "";
            background: #00adef;
            width: 2px;
            left: 0px;
            top: -1px;
            min-height: 20px;
        }
    .loan_set {
        width: 50%;
        float: left;
        text-align: left;
    }

   /*  new css  */

    #head {
        background: #00baf2;
        padding: 1px 14px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }

    select.yes1, input.yes1 {
        margin: 0px 10px;
        width: -moz-available;
        height: 34px;
        border: 1px solid #ccc;
        padding: 0px 7px;
        width: -webkit-fill-available;
    }

    .page-header-third {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
        width: fit-content;
        margin-top: 0px;
    }

    .Submit22 button {
        background: #00baf2;
        margin: auto;
        margin-top: 30px;
        color: #fff;
        border: 0px;
        border-radius: 2px;
        padding: 11px 18px 9px 18px;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Submit22 {
        text-align: end;
        width: 100%;
        float: left;
        margin-top: 30px;
        border-top: 1px solid #e1e1e1;
    }

    label {
        text-transform: capitalize;
    }

    @@media only screen and (max-width:767px){

        .loan_from0 {
            width: 100%;
            float: left;
        }

    }

    @@media only screen and (max-width:600px) {
        .loan_from {
            width: 20%;
            height: 600px;
        }
        .loan_from2 {
            width: 80%;
            padding-left: 5px;
        }
        .loan_set {
            width: 100%;
        }
        .loan_from_bset {
            width: 35px;
            height: 35px;
        }
        select.yes1, input.yes1 {
            margin: 0px 0px;
        }
        .loan_set label {
            margin: 7px 0 !important;
        }


        }
</style>
<section  class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="col-md-12">

        <div class="page-header-third" style="width:100%;"><div id="head">@Session["Servics"]</div></div>
        <div class="loan_from0">
            <div class="page-header-third" style="width: 100%; margin-top: 20px;">

                <div class="loan_from">
                    <div class="loan_from_bset">
                        1
                    </div>
                    @Session["Servics"] From
                </div>

                <div class="loan_from2">
                    <h3>@Session["Servics"] PURPOSE</h3>

                    @foreach (var i in Model)
                    {
                        if (i.isdeleted == true)
                        {
                            <div class="loan_set">
                                <input type="hidden" value="@i.header" class="yes" />

                                <div style="width:100%;float:right;"><input type="hidden" value="" class="yes1" /></div>
                            </div>
                        }
                        else
                        {

                            <div class="loan_set">
                                <input type="hidden" value="@i.header" class="yes" />

                                <label style="margin: 10px; width: -moz-available; margin-bottom: 5px;">@i.header</label>

                                @if (i.TYPE.Contains("Dropdown"))
                                {
                                    var spt = Convert.ToChar("?");
                                    var opt = i.TYPE.Split(spt);

                                    <div style="width:100%;float:right;">
                                        @*<input type="@i.TYPE" placeholder="Enter Your @i.header" class="yes1" />*@
                                        <select class="yes1">
                                            @foreach (var m in opt)
                                            {
                                                if (!string.IsNullOrEmpty(m) && m != "Dropdown")
                                                {
                                                    <option>@m</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                }
                                else
                                {

                                    <input type="@i.TYPE" placeholder="Enter Your @i.header" class="yes1" />

                                }
                            </div>


                        }
                    }
                    <div class="Submit22">
                        <button onclick="cliss()">
                            Submit
                            <svg style=" margin-left: 4px;" xmlns="http://www.w3.org/2000/svg" width="0.94em" height="1em" viewBox="0 0 15 16"><path fill="currentColor" d="M12.49 7.14L3.44 2.27c-.76-.41-1.64.3-1.4 1.13l1.24 4.34q.075.27 0 .54l-1.24 4.34c-.24.83.64 1.54 1.4 1.13l9.05-4.87a.98.98 0 0 0 0-1.72Z" /></svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <script>
        function cliss() {
            var sesdf = document.getElementById('head').innerHTML;
            var sesdf1 = sesdf.trimLeft();
            var sesdf2 = sesdf.trimRight();
            var element = document.getElementsByClassName('yes');
            var element1 = document.getElementsByClassName('yes1');
            var save = '';
            var send = '';
            for (var i = 0; i < element.length; i++) {
                var save1 = element[i].value;
                var save2 = element1[i].value;


                save = save + save1 + 'स' + save2 + 'स';

            }


                $.ajax({
                    url: '@Url.Action("SAVESERVIESDS")',
                    data: { set: save , sess: sesdf2 },
                type: "GET",
                cache: false,
                    success: function (data) {
                        alert(data);
                    location.reload();
                }
       })

        }

        </script>
    </div>
</section>


