@model Vastwebmulti.Models.SimDetail_Info
@{
    ViewBag.Title = "AddSIM";
    Layout = "~/Areas/Retailer/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

@* new css *@

    .bread-same-all-page.breadsameall-second {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0px;
    }

    body {
        overflow-x: hidden;
    }
    #divEditFormComm {
        overflow-x: auto;
        width: 100%;
        float: left;
    }

@* new css *@


    td {
        border: solid 1px black;
        text-align: center;
    }

    th {
        border: solid 1px black;
        text-align: center;
    }

    .inputdesign {
        width: 73%;
        height: 32px;
        float: right;
        margin: 1%;
        font-size: 20px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    .labledesign {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        margin: 2%;
    }

    .selectdesign {
        float: right;
        margin: 1%;
        height: 32px;
        width: 73%;
        font-size: 20px;
    }

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    #Retailershowinformation .col-md-12, #showinformation .col-md-12, #DIstribotorshowinformation .col-md-12,
    #APIUSERshowinformation .col-md-12, #WLUSERshowinformation .col-md-12 {
        border-bottom: 1px solid #bbb;
        margin: 0px 3% !important;
        width: 94%;
        margin-bottom: 6px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
    }

        #Retailershowinformation .col-md-12 label:last-child, #showinformation .col-md-12 label:last-child, #DIstribotorshowinformation .col-md-12 label:last-child,
        #APIUSERshowinformation .col-md-12 label:last-child, #WLUSERshowinformation .col-md-12 label:last-child {
            text-align: right;
            font-weight: 800;
        }

        #Retailershowinformation button, #showinformation .col-md-12 button, #DIstribotorshowinformation .col-md-12 button,
        #APIUSERshowinformation .col-md-12 button, #WLUSERshowinformation .col-md-12 button {
            margin-top: 20px !important;
        }

    .table-bordered thead tr th {
        padding: 5px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        background: green;
        width: 100%;
    }

    .fund-trasfer-left .errorss1 {
        color: #fff;
        background: red;
        width: 100%;
    }
</style>
<style>
    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        width: 100%;
        padding-left: 40px;
    }

    .custom-district1 {
        position: relative;
    }

        .custom-district1::before {
            content: '';
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            position: absolute;
            right: 8px;
            top: 13px;
        }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
        padding: 0px 20px
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

        .for-change-fund select {
            width: 220px !important;
            height: 30px;
        }

        .for-change-fund .select2.select2-container.select2-container--default {
            width: 150px !important;
            text-align: left;
        }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        font-weight: 400;
        width: 100%
    }

    .fund-trasfer-right .tab-content {
        height: 80vh;
    }

    input[type="password"] {
        background-color: transparent;
        border: 1px solid var(--main-bg-lcolor);
        box-shadow: none;
    }

    .fund-transfer-main-admin ul li a .custom-district1 select {
        width: 100%;
        float: left;
    }

    .fund-transfer-main-admin ul li a {
        width: 100%;
        float: left;
    }

    .newfourdesign-admin .for-change-fund .select2.select2-container.select2-container--default {
        width: 140px !important;
        text-align: left;
        background: #fff;
    }

    .newfourdesign-admin .fund-trasfer-left .nav-tabs li.active a, .fund-trasfer-left .nav-tabs li.active a {
        background: var(--fullbodybg-four) !important;
    }

    .onoffswitch2 {
        width: 90px;
        padding-left: 4px;
    }

        .onoffswitch2 .costom-on::after {
            display: none
        }


    .add-more {
        padding: 5px 12px;
        background-color: #289328;
        color: white;
        border: none;
        box-shadow: none;
        border-radius: 2px;
        cursor: pointer;
        float: left;
        font-size: 16px;
    }

    @@media screen and (max-width:1366px) {
        .fund-transfer-main-admin ul li a {
            width: 100%;
            float: left;
            padding-left: 0px !important;
        }

        .fund-transfer-main-admin ul li:nth-child(3) {
            width: 35% !important;
            float: left !important;
        }

            .fund-transfer-main-admin ul li:nth-child(3) .row {
                margin: 0;
            }

            .fund-transfer-main-admin ul li:nth-child(3) .for-un {
                margin-left: 0px !important;
            }

                .fund-transfer-main-admin ul li:nth-child(3) .for-un .col-md-5 {
                    padding-right: 2px;
                }
    }

    @@media screen and (max-width:766px) {
        .fund-transfer-main-admin ul.nav.nav-tabs li {
            width: 100% !important;
            float: left;
            padding: 0px;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 100% !important;
            position: static;
        }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-5 {
                float: left;
                width: 50%;
            }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-2.li-left-in {
                float: left;
                width: auto;
                margin-top: 5px
            }

        .fund-transfer-main-admin ul.nav.nav-tabs li a {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(4) {
            position: absolute;
            bottom: 9px;
            right: 0;
            width: auto !important;
            margin-top: 0px !important;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:991px) {
        .fund-transfer-form {
            height: auto;
        }

        .fund-trasfer-right ul.nav-tabs li, .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
            float: left;
        }

            .fund-trasfer-right .nav-tabs li:first-child span, .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in {
                width: 50% !important;
                text-align: left;
                float: left;
            }

                .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in button {
                    width: 97%;
                    margin-top: 10px;
                }

        #masterdrop span, #dealerdrop span, #retailerdrop span, #apidrop span, #whitedrop span {
            width: 100% !important;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            width: 50%;
            float: left;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 0px !important;
            margin: 0px;
        }

        .fund-trasfer-right ul {
            padding: 10px 10px;
            float: left;
            width: 100%;
            position: relative;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            padding: 0px 10px;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 50% !important;
            position: absolute;
            bottom: 10px;
            left: 51%;
        }

        .fund-trasfer-left .col-md-12.col-sm-12.col-xs-12 {
            width: 50%;
            float: left;
        }
    }

    @@media only screen and (max-width:480px) {
        .fund-transfer-form {
            height: auto;
            margin-bottom: 15px;
        }

        .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            width: 100% !important;
        }

        .for-un .fund-t-dalear .col-md-5 {
            width: 50%;
            float: left;
        }

        .for-un .fund-t-dalear .col-md-2 {
            width: 45%;
            float: left;
            margin-top: 3px;
        }

            .for-un .fund-t-dalear .col-md-2 button {
                width: 100%;
            }

        .for-un .fund-t-dalear {
            padding: 0px 15px;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            float: right;
        }

        .fund-trasfer-right ul {
            position: relative;
            padding-bottom: 5px;
        }

        .for-export {
            position: absolute !important;
            bottom: 6px;
            right: 5px;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 5px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .fund-tr-history .modal-dialog {
            width: 95%;
            margin-right: 2% !important;
        }
    }
</style>

<section class="content">
    <div class="container-fluid" style="height:inherit !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>AddSIM</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">AddSIM</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third second-header-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <div class="col-md-4" style="padding: 0px;">
                    <ul style="padding:0px;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </a>
                        </li>
                        <li class="smli">
                            <a href="@Url.Action("ADDSELLINGOPT", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Seller&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </a>
                        </li>
                        <li class="smli fullbodydycolorbg tmw-total-color-one">
                            SIM Card List
                        </li>
                    </ul>
                </div>

                <div class="col-md-8" style="padding:0;">
                    @*<div class="col-md-2" style="width:auto;float:right;padding:0px;">

                            <div class="white-l-search-nine pdfexpoer-second">

                                <div class="web-white-filter fil pdf-third-design" style="float: right;margin-right: 0px;">
                                    <input onclick="excel()" type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                    background-repeat: no-repeat;
                                    background-position: 4px center;
                                    padding-left: 20px;">
                                    <input onclick="PDF()" type="button" id="btnPDF" value="PDF" style="margin-left:1px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                    background-repeat: no-repeat;
                                    background-position: 4px center;
                                    padding-left: 19px;">
                                </div>

                            </div>
                        </div>*@
                    <div class="col-md-2" style="float: right; width: auto; padding: 0px 3px;">
                        <button class="add-more" data-toggle="modal" data-target="#defaultModal222" id="myBtn14" onclick="dropdownChanged()">Add New SIM</button>
                    </div>
                    <div class="col-md-4 tablesearch-second" style="padding: 0px;width:30%;float:right;">
                        <div class="search-after-third">
                            <input class="form-control marginbottom-respon-third" type="text" value="" id="myInput" placeholder="Search.." name="myInput" style="float: right;height:32px;border:1px solid;width:100%;border: 1px solid #aaa;padding: 0 5px;">
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="page-header-third">
            @Html.Partial("_SimINfo", Model)

        </div>

        <div class="modal mastetr222Modal mastermodal-second-design" id="defaultModal2212" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div id="userinfodiv" class="modal-content width100 float-left input-border-third" style="display: block; width: 100%;">

                    <!-- Modal content -->
                    <div>
                        <h4 style=" margin: 10px; border: 1px solid; padding: 6px; text-align: center;">EDIT SIM INFORMATION</h4>
                    </div>
                    @using (Ajax.BeginForm("EditSIMINFO1", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess2", OnFailure = "onfailed2", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
                    {
                        <div id="colw1"><label class="labledesign">Operator Name</label><input type="text" style=" background: darkgray;" class="inputdesign" id="colwi1" name="Operator" value="" readonly /></div>
                        <div id="colw2"></div>
                        <div id="colw3"><label class="labledesign">App User ID</label><input type="text" style=" background: darkgray;" class="inputdesign" id="colwi3" name="Simnumber" value="" readonly /></div>
                        <div id="colw4"><label class="labledesign">App Password</label><input type="text" class="inputdesign" id="colwi4" name="Password" value="" /></div>
                        <div id="colw5"></div>
                        <div id="colw6"><label class="labledesign">IMEI Number</label><input type="text" class="inputdesign" id="colwi6" min="10" max="10" name="Imeino" value="" required /></div>
                        <div id="colw7"><label class="labledesign">Day Max Limit</label><input type="text" class="inputdesign" id="colwi7" name="Daylimit" value="" required /></div>
                        <div id="colw8"><label class="labledesign">ETOP Min Bal</label><input type="text" class="inputdesign" id="colwi8" name="minbal" value="" required /></div>
                        <div id="colw9"></div>
                        <div id="colw10"></div>
                        <div id="colw11"><label class="labledesign">Remark</label><input type="text" class="inputdesign" id="colwi11" name="colwi11" value="" required /></div>
                        <div><input type="submit" style=" float: right; margin: 17px; padding: 4px 13px; background: black; color: white;" value="Submit" /></div>
                    }
                    <button type="button" class="btn bg-grey waves-effect" id="modalnonelistbank" style="margin: 17px; float: right; /* height: 22px; */ padding: 4px 13px;" data-dismiss="modal">
                        <span style="color:black;">Close</span>
                    </button>

                </div>
            </div>
        </div>





        <div class="modal mastetr222Modal mastermodal-second-design" id="defaultModal222" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
                    <div class="ldio-zdyd6mf6t5">
                        <div></div><div></div>
                    </div>
                </div>


                <div id="userinfodiv" class="modal-content width100 float-left input-border-third" style="display: block; width: 100%;">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header headingback-fourdesign" style="background-color:whitesmoke;">
                            <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New SIM</h4>
                        </div>
                        @using (Ajax.BeginForm("Add_SIM_Details", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess1", OnFailure = "onfailed", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
                        {
                            @*@using (Html.BeginForm("Add_SIM_Details", "Home", FormMethod.Post))
                                {*@
                            @Html.AntiForgeryToken()
                            <div class="modal-body changeback-four-design" style="margin-top:0px;">
                                <div class="body">

                                    <div class="row clearfix">




                                        <div class="" id="dropsd">
                                            @*@Html.DropDownList("optcode", (IEnumerable<SelectListItem>)ViewBag.opcodelist, "Select Operator", new { @class = "form-control", required = "required" })*@
                                        </div>

                                    </div>
                                    <div class="row clearfix" id="zone">
                                        @*<input type="text" id="txtid3" name="txtid3" style="display:none;" />*@

                                        @*<label for="email_address_2" class="required">Zone</label>



                                            <select name="Zone">
                                                <option value="">SELECT ZONE</option>
                                                <option>NORTH</option>
                                                <option>WEST</option>
                                                <option>EAST</option>
                                                <option>SOUTH</option>
                                            </select>*@


                                    </div>
                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">App User ID</label>
                                        <input class="inputdesign" type="number" name="USERID" required />

                                    </div>
                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">App Password</label>



                                        <input class="inputdesign" ; type="text" name="Password" required />

                                    </div>
                                    <div class="row clearfix" id="rchpin">
                                        @*<label for="email_address_2" class="required">Recharge Pin</label>

                                            <input style="width: 100px" ; type="text" name="RechargePin" required />*@

                                    </div>

                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">IMEI&nbsp;Number</label>

                                        <input class="inputdesign" type="number" name="Imeino" id="Imeino" required />

                                    </div>

                                    <div class="row clearfix">
                                        <div onclick="imeigenerate()" style="float: right; padding: 3px; border: solid; background: black; color: white; margin: 4px;">AUTO IMEI</div>
                                    </div>
                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">Day Max Limit</label>



                                        <input class="inputdesign" ; type="number" min="0" name="Daylimit" required />

                                    </div>

                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">ETOP Min Bal</label>



                                        <input class="inputdesign" type="number" min="0" name="minbal" required />

                                    </div>
                                    <div class="row clearfix" id="posd">

                                        @*<label for="email_address_2" class="required">Pos id</label>

                                            <input style="width: 100px" ; type="text" name="posid" required />*@

                                    </div>
                                    <div class="row clearfix" id="macad">

                                        @*<label for="email_address_2" class="required">Macaddress</label>

                                            <input style="width: 100px" ; type="text" name="Macaddress" required />*@

                                    </div>
                                    <div class="row clearfix">

                                        <label for="email_address_2" class="labledesign">Remark</label>



                                        <input class="inputdesign" type="text" name="Remark" required />

                                    </div>


                                    <input type="submit" value="Save" style="padding: 4px; background: black; color: white;margin-left: 72%;margin-top: 3px;height: 37px;width: 80px;" />
                                    <button type="button" class="btn bg-grey waves-effect" id="modalnonelistbank" style="margin-top: 4px; float: right; height: 34px;" data-dismiss="modal">
                                        <span style="color:black;">Close</span>
                                    </button>


                                </div>
                            </div>
                        }

                    </div>

                </div>

            </div>
        </div>


    </div>
</section>



<script>


       function dropdownChanged() {
           var selectedValue = document.getElementById('dropsd');
           selectedValue.innerHTML = "";

         $.ajax({
            url: '@Url.Action("filteroperatorforsell1", "Home")',
            type: "POST",

            cache: false,
             success: function (data2) {
                 console.log(data2);
                 console.log(data2.list[0].operator_1);

               /*  if (data2.list.length != 0) {*/

                 var selects = document.createElement("select");

                 var selectss15 = document.createElement("label");

                 selectss15.textContent = "Operator Name";
                 selectss15.setAttribute("class", "labledesign");
                 var selectss21 = document.createElement("option");
                 selectss21.text = "SELECT OPERATOR";
                 selectss21.value = "";
                 selects.appendChild(selectss21);
                     for (var i = 0; i < data2.list.length; i++) {
                         var selectss = document.createElement("option");
                         selectss.text = data2.list[i].operator_1;
                         selectss.value = data2.list[i].operator_1;
                         selects.appendChild(selectss);
                     }
                     selects.setAttribute("name", "drop2");
                     selects.setAttribute("onchange", "selectd()");
                 selects.setAttribute("class", "selectdesign");
                     selects.setAttribute("id", "sel");
                 selectedValue.appendChild(selectss15);
                 selectedValue.appendChild(selects);
                 /*}*/
             }
         });

    }

    function selectd() {
        var chk11 = document.getElementById('sel').value;
        if (chk11 == 'Jio') {


            //document.getElementById('macad').style.display = 'block';
            //document.getElementById('posd').style.display = 'block';

       var mac=   document.getElementById('macad');
       var pos =   document.getElementById('posd');

            var input2 = document.createElement('input');
            input2.setAttribute('type', 'text');
            input2.setAttribute('name', 'Macaddress');
            input2.setAttribute("required", "true");
            input2.setAttribute("class", "inputdesign");

            var labelElement = document.createElement("label");

            labelElement.textContent = "Macaddress";
            labelElement.setAttribute("class", "labledesign");

            mac.appendChild(labelElement);
            mac.appendChild(input2);


            var input3 = document.createElement('input');
            input3.setAttribute('type', 'text');
            input3.setAttribute('name', 'posid');
            input3.setAttribute("required", "true");
            input3.setAttribute("class", "inputdesign");

            var labelElement1 = document.createElement("label");

            labelElement1.textContent = "pos id";
            labelElement1.setAttribute("class", "labledesign");
            pos.appendChild(labelElement1);
            pos.appendChild(input3);





            //document.getElementById('rchpin').style.display = 'none';
            //document.getElementById('zone').style.display = 'none';
            document.getElementById('rchpin').innerHTML = '';
            document.getElementById('zone').innerHTML = '';
        }
        else if (chk11 == 'Airtel Digital TV' || chk11 == 'Dish TV' || chk11 == 'Sun Direct'  || chk11 == 'Videocon d2h') {
            //document.getElementById('macad').style.display = 'none';
            //document.getElementById('posd').style.display = 'none';
            //document.getElementById('rchpin').style.display = 'none';
            //document.getElementById('zone').style.display = 'none';
            console.log(chk11);
            document.getElementById('macad').innerHTML = '';
            document.getElementById('posd').innerHTML = '';
            document.getElementById('rchpin').innerHTML = '';
            document.getElementById('zone').innerHTML = '';
        }
        else if (chk11 == 'BSNL Recharge' || chk11 == 'BSNL Topup') {
            //document.getElementById('macad').style.display = 'none';
            //document.getElementById('posd').style.display = 'none';
            //document.getElementById('rchpin').style.display = 'none';
            console.log(chk11);
            document.getElementById('macad').innerHTML = '';
            document.getElementById('posd').innerHTML = '';
            document.getElementById('rchpin').innerHTML = '';

          /*  document.getElementById('zone').style.display = 'block';*/
            var zon = document.getElementById('zone');
            var zoninput = document.createElement("select");
            zoninput.setAttribute('name', 'Zone')
            zoninput.setAttribute('class', 'selectdesign')

            var zoninput1 = document.createElement("Label");
            zoninput1.setAttribute('class', 'labledesign');
            zoninput1.textContent = "Zone";



            var optionzon1 = document.createElement('option');
            optionzon1.text = "NORTH";
            optionzon1.value = "NORTH";
            var optionzon2 = document.createElement('option');
            optionzon2.text = "WEST";
            optionzon2.value = "WEST";
            var optionzon3 = document.createElement('option');
            optionzon3.text = "EAST";
            optionzon3.value = "EAST";
            var optionzon4 = document.createElement('option');
            optionzon4.text = "SOUTH";
            optionzon4.value = "SOUTH";

            zoninput.appendChild(optionzon1);
            zoninput.appendChild(optionzon2);
            zoninput.appendChild(optionzon3);
            zoninput.appendChild(optionzon4);
            zon.appendChild(zoninput1);
            zon.appendChild(zoninput);

        }
        else {
            console.log(chk11);
            /*document.getElementById('rchpin').style.display = 'block';*/
            //document.getElementById('macad').style.display = 'none';
            //document.getElementById('posd').style.display = 'none';
            //document.getElementById('zone').style.display = 'none';
            document.getElementById('macad').innerHTML = '';
            document.getElementById('posd').innerHTML = '';
            document.getElementById('zone').innerHTML = '';
            document.getElementById('rchpin').innerHTML = '';
            var rch = document.getElementById('rchpin');
            var rchinput = document.createElement('input');
            rchinput.setAttribute('type','text');
            rchinput.setAttribute('name', 'RechargePin');
            rchinput.setAttribute("required", "true");
            rchinput.setAttribute("class", "inputdesign");

            var labelElement3 = document.createElement("label");

            labelElement3.textContent = "Recharge Pin";
            labelElement3.setAttribute("class", "labledesign");
            rch.appendChild(labelElement3);
            rch.appendChild(rchinput);

        }
    }
</script>
<script>
    function imeigenerate() {
        document.getElementById("Imeino").value =
            Math.floor(Math.random() * 1000000000000000);
    }
</script>
<script>
    function ONOFFS(s, i) {
        @*var isvalid = confirm('Are You Sure');
        if (isvalid) {
            $.ajax({
                url: '@Url.Action("simonoff", "Home")',
                type: "POST",
                data: { switch1: s, idno: i },
                cache: false,
                success: function () {

                }
            });
        }*@

        var dof = document.getElementById('updatestatusd11').innerHTML = '<input type="hidden" name="switch1" value=\'' + s + '\'>';
        var dof = document.getElementById('updatestatusd12').innerHTML = '<input type="hidden" name="idno" value=\'' + i + '\'>';
        var dof = document.getElementById('updatestatusd').style.display = "block";


    }


    function Editcollw(id1) {


            $.ajax({
                url: '@Url.Action("EditSIMINFO", "Home")',
                type: "POST",
                data: { idno: id1 },
                cache: false,
                success: function (data2) {


                    if (data2.list[0].opt_code == "BSNL Recharge" || data2.list[0].opt_code == "BSNL Topup") {
                        document.getElementById('colw5').innerHTML = '';
                        document.getElementById('colw9').innerHTML = '';
                        document.getElementById('colw10').innerHTML = '';
                        document.getElementById('colw2').innerHTML = '';

                        var zon = document.getElementById('colw2');
                        var zoninput = document.createElement("select");
                        zoninput.setAttribute('name', 'Circlecode')
                        zoninput.setAttribute('class', 'selectdesign')
                        zoninput.setAttribute('value', data2.list[0].Zone)

                        var zoninput1 = document.createElement("Label");
                        zoninput1.setAttribute('class', 'labledesign');
                        zoninput1.textContent = "Zone";



                        var optionzon1 = document.createElement('option');

                        var optionzon2 = document.createElement('option');

                        var optionzon3 = document.createElement('option');

                        var optionzon4 = document.createElement('option');


                        if (data2.list[0].Zone == 'EAST') {
                            optionzon1.text = "EAST";
                            optionzon1.value = "EAST";
                            optionzon2.text = "NORTH";
                            optionzon2.value = "NORTH";
                            optionzon3.text = "WEST";
                            optionzon3.value = "WEST";
                            optionzon4.text = "SOUTH";
                            optionzon4.value = "SOUTH";
                        }
                        else if (data2.list[0].Zone == 'NORTH') {
                            optionzon1.text = "NORTH";
                            optionzon1.value = "NORTH";
                            optionzon2.text = "EAST";
                            optionzon2.value = "EAST";
                            optionzon3.text = "WEST";
                            optionzon3.value = "WEST";
                            optionzon4.text = "SOUTH";
                            optionzon4.value = "SOUTH";
                        }
                        else if (data2.list[0].Zone == 'WEST') {

                            optionzon1.text = "WEST";
                            optionzon1.value = "WEST";
                            optionzon2.text = "EAST";
                            optionzon2.value = "EAST";
                            optionzon3.text = "NORTH";
                            optionzon3.value = "NORTH";
                            optionzon4.text = "SOUTH";
                            optionzon4.value = "SOUTH";
                        }
                        else if (data2.list[0].Zone == 'SOUTH') {

                            optionzon1.text = "SOUTH";
                            optionzon1.value = "SOUTH";
                            optionzon2.text = "EAST";
                            optionzon2.value = "EAST";
                            optionzon3.text = "WEST";
                            optionzon3.value = "WEST";
                            optionzon4.text = "NORTH";
                            optionzon4.value = "NORTH";
                        }


                        zoninput.appendChild(optionzon1);
                        zoninput.appendChild(optionzon2);
                        zoninput.appendChild(optionzon3);
                        zoninput.appendChild(optionzon4);
                        zon.appendChild(zoninput1);
                        zon.appendChild(zoninput);
                    }
                    else if (data2.list[0].opt_code == "Jio") {

                        document.getElementById('colw5').innerHTML = '';
                        document.getElementById('colw9').innerHTML = '';
                        document.getElementById('colw10').innerHTML = '';

                        var mac = document.getElementById('colw9');
                        var pos = document.getElementById('colw10');

                        var input2 = document.createElement('input');
                        input2.setAttribute('type', 'text');
                        input2.setAttribute('name', 'Macaddress');
                        input2.setAttribute('value', data2.list[0].Macaddress);
                        input2.setAttribute("required", "true");
                        input2.setAttribute("class", "inputdesign");

                        var labelElement = document.createElement("label");

                        labelElement.textContent = "Macaddress";
                        labelElement.setAttribute("class", "labledesign");

                        mac.appendChild(labelElement);
                        mac.appendChild(input2);


                        var input3 = document.createElement('input');
                        input3.setAttribute('type', 'text');
                        input3.setAttribute('name', 'posid');
                        input3.setAttribute('value', data2.list[0].posid);
                        input3.setAttribute("required", "true");
                        input3.setAttribute("class", "inputdesign");

                        var labelElement1 = document.createElement("label");

                        labelElement1.textContent = "pos id";
                        labelElement1.setAttribute("class", "labledesign");
                        pos.appendChild(labelElement1);
                        pos.appendChild(input3);

                    }
                    else if (data2.list[0].opt_code == 'Airtel Digital TV' || data2.list[0].opt_code == 'Dish TV' || data2.list[0].opt_code == 'Sun Direct' || data2.list[0].opt_code == 'Videocon d2h') {


                        document.getElementById('colw9').innerHTML = '';
                        document.getElementById('colw10').innerHTML = '';
                        document.getElementById('colw5').innerHTML = '';
                        document.getElementById('colw2').innerHTML = '';
                    }
                    else {

                document.getElementById('colw9').innerHTML = '';
                        document.getElementById('colw5').innerHTML = '';
                document.getElementById('colw10').innerHTML = '';
                document.getElementById('colw2').innerHTML = '';
                        var rch = document.getElementById('colw5');
                var rchinput = document.createElement('input');
                rchinput.setAttribute('type', 'text');
                        rchinput.setAttribute('name', 'RechargePin');
                        rchinput.setAttribute('value', data2.list2);
                rchinput.setAttribute("required", "true");
                rchinput.setAttribute("class", "inputdesign");

                var labelElement3 = document.createElement("label");

                labelElement3.textContent = "Recharge Pin";
                labelElement3.setAttribute("class", "labledesign");
                rch.appendChild(labelElement3);
                        rch.appendChild(rchinput);


                    }


                    document.getElementById('colwi1').value = data2.list[0].opt_code;
                    document.getElementById('colwi3').value = data2.list[0].USERID;
                    document.getElementById('colwi4').value = data2.lst1;
                    document.getElementById('colwi6').value = data2.list[0].Imeino;
                    document.getElementById('colwi7').value = data2.list[0].DaylimitMax;
                    document.getElementById('colwi8').value = data2.list[0].Etopminbal;
                    document.getElementById('colwi11').value = data2.list[0].Remark;


                }
            });


    }
</script>
<script>
    function LoginbbySim(s) {
        document.getElementById('lodersd1').style.display = 'block';
        $.ajax({
            url: '@Url.Action("Loginbysiminfo", "Home")',
            type: "POST",
            data: { idno: s },
            cache: false,
            success: function (data2) {
                document.getElementById('lodersd1').style.display = 'none';
                document.getElementById('updatestatusd23').style.display = 'block';
                if (data2.list == "OTP") {
                    document.getElementById('updatestatusd342').style.display = 'block';
                    document.getElementById('idnosd').value = data2.List1;

                }
                else {
                    document.getElementById('LOGINMESSAGE12').innerHTML = data2.list;
                }

            }
        });
    }

</script>
<script>

    function OnSuccess1() {


        /*   location.reload();*/
        $("#defaultModal222").modal("hide");
    }
    function onfailed() {

    }
    function OnSuccess2() {

        $("#defaultModal2212").modal("hide");
        editpop();
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
