@model IEnumerable<Vastwebmulti.Models.Aeps_Report_New_Result>
@{
    ViewBag.Title = "AEPS Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<link href="~/RetailerCss/financialcss-retailer.css" rel="stylesheet" />
<style>


    /* new css */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
        margin-bottom: 0;
    }

    /* new css */
    
    #totafind span#lblpending::after, #totafind span#lblsuccess::after, #totafind span#lblfailed::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        float: left;
        background-color: #ff9800;
        background-size: 81%;
        background-position: center;
        border-radius: 50%;
        margin: 2px 3px 0px 3px;
    }

    #totafind span#lblsuccess::after {
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblfailed::after {
        background: url(../../ashok-images/closes.svg)no-repeat;
        background-color: #ff0000;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblpending::after {
        background: url(../../ashok-images/clkk.png)no-repeat;
        background-color: #FF9800;
        background-size: 65%;
        background-position: center;
    }
    .totalfaild-retailer span {
        float: left;
    }

        .totalfaild-retailer span ~ br {
            display: none;
        }

    .totalfaild-retailer span {
        padding: 5px 5px;
    }

    .totalfaild-retailer {
        position: absolute;
        bottom: 25px;
        right: 47px;
        background: #eeebeb;
        border: 1px solid #ccc;
        width: auto;
    }

        .totalfaild-retailer span:first-child {
            border-right: 1px solid #ccc;
        }

        .totalfaild-retailer span:last-child {
            border-left: 1px solid #ccc;
        }
    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {
        color: #555 !important;
    }
    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {
        font-size: 12px;
    }
    .dropdown-menu {
        margin-top: 91px !important;
    }


    body .col-md-9.Financial-pagetab .aeps-statusclass .btn-group button, .col-md-2.aeps-statusclass button, .col-md-2.aeps-statusclass .btn-group.bootstrap-select.form-control.open button {
        background-size: 11px !important;
    }

    .tableclasscssfirst tbody tr td {
        font-weight: 400;
    }

    .tableclasscssfirst thead tr th {
        white-space: nowrap;
    }
    .Financial-pagetabs *, .Financial-pagetabs .btn.dropdown-toggle.btn-default span, .Financial-pagetabs .aeps-status-search button i, .Financial-pagetabs .aeps-status-search button span {
        color: #555 !important;
    }

    .Financial-pagetabs .enteraddarnumber input::placeholder {
        color: #555 !important;
    }

    @@media only screen and (max-width:1169px){

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }

        .aepsfullpage .container-fluid.Financial-page, .aepsfullpage .container.container-tabsrepor {
            padding-left: 15px !important;
        }


    }

    @@media only screen and (max-width:767px){


        .content.aepsfullpage.aepsfullpageweertd .col-md-3.buttonPdf {
            left: auto;
            display: block;
        }
        .allfinancial-report-resons .col-md-2 {
            width: 50% !important;
            float: left;
        }
        .responsive-report-money .row-moneyresponsive {
            margin-right: -15px;
            margin-left: -15px;
        }
        .row.clearfix.row-moneyresponsive .col-md-12 {
            padding: 0;
        }
        .allfinancial-report-resons .col-md-3 {
            width: 100% !important;
            float: left;
            padding: 0 !important;
        }
            .allfinancial-report-resons .col-md-3 .form-group {
                margin: 8px 0 !important;
            }
        .buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer {
            width: auto !important;
        }
        .addnew-responsiveclass .nav.nav-tabs.tabsrepor-nav {
            margin-bottom: 0px !important;
        }

    }

    @@media only screen and (max-width:766px){

        .responsive-report-money .row-moneyresponsive {
            margin:0;
        }

    }

    @@media only screen and (max-width:480px){


        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            width: 50% !important;
            margin-bottom: 10px !important;
        }
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            padding-right: 0px;
        }

        .allfinancial-report-resons .col-md-2 {
            width: 100% !important;
            float: left;
            padding: 0 !important;
            padding-bottom: 5px !important;
        }
        .allfinancial-report-resons .col-md-3 .form-group {
            margin: 5px 0 !important;
            margin-top: 0px !important;
        }
        .addnew-responsiveclass .nav.nav-tabs.tabsrepor-nav {
            margin-bottom: 0px !important;
        }



    }



 
</style>
<section class="content aepsfullpage aepsfullpageweertd content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x: hidden;">
    <!--Four-Design-Page-Header-Start-->

    <div class="page-title-box-fourde">
        <h3>Aeps Report</h3>
        <ul>
            <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Aeps Report</a></li>
        </ul>
    </div>

    <!--Four-Design-Page-Header-End-->
    <!--newtabsreport-->
    <div class="newtabsreport uladdcssnew uladdcssnew-responsive" style="height:100vh;">
        <div class="container container-tabsrepor addnew-responsiveclass money-transfer-retailer" style="">
            <div class="col-md-12" style="padding:0px;">
                @Html.Partial("_menuFinicalReport")
            </div>
            <div class="col-md-12 allfinancial-report-resons" style="margin-top:0px;">
                <div class="tab-content" style="width:100%;padding:0px;">

                    <div id="home" class="tab-pane fade in active">
                        <div class="container-fluid tabsrepor-content-fluid responsive-report-money" style="padding:0;">
                            <div class="row clearfix row-moneyresponsive">
                                
                                <div class="page-header-third">
                                    <div class="col-md-12">
                                        <div class="card class-back-tra-fourdesign" style="margin-bottom: 0;">
                                            <div class="">

                                                <div class="row rowchange-margin" style="position:relative;">
                                                    @using (Html.BeginForm("AepsReport", "Home", FormMethod.Post))
                                                    {


                                                        <div class="col-md-1 Financial-none">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;border:1px solid #dddddd;">
                                                                    @Html.TextBox("amount", "", new { @placeholder = "Amt", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2 Financial-none">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                                    @Html.TextBox("BankId", "", new { @placeholder = "Bank Id", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 enteraddarnumber">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;border:1px solid #dddddd;">
                                                                    @Html.TextBox("aadhar", "", new { @placeholder = "Enter Aadhar / Bank Id / Amount", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 aeps-statusclass" style="padding-right: 0;">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;border:1px solid #dddddd;padding-bottom:10px;">
                                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                                       {
                                                               new SelectListItem{ Text="Status",Value="ALL",},
                                                               new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                               new SelectListItem{Text="Pending",Value="PENDING"},
                                                               new SelectListItem{Text="FAILED",Value="FAILED"}
                                                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-3 aeps-status finacial-selectsss" style="margin: 0 !important; padding-left: 3px;">
                                                            <div class="form-group">
                                                                <div class="input-daterange input-group">
                                                                    <div class="datesate datesates">
                                                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                                    </div>
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                                    </span>
                                                                    <div class="datesate datesatese">
                                                                        <div class="form-iconmy form-iconmyss" id="form-iconmyssee" style="top: 0px;padding: 6px 5px;left: 0;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                                    </div>
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 aeps-status-search">
                                                            <div class="form-group">
                                                                <center>
                                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                        <span style="top:-1px;color:black;">Search</span>
                                                                    </button>
                                                                </center>
                                                            </div>
                                                        </div>




                                                    }
                                                    <div class="col-md-3 buttonPdf retailer-pdf-second retailer-pdf-second-retailer" style="margin: 0px; width: auto;">

                                                        <button id="btnPDF">PDF</button>
                                                        <button id="btnExport">Export</button>
                                                        <button onclick="Findtotal()">Total</button>

                                                    </div>
                                                    <div id="totafind" class="totalfaild-retailer"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @*<div class="col-md-12">

                                    <div class="for-search for-searchretailerinput forsearch-third-retailer" style="float:right;width:auto;">
                                        <input id="myInput" name="myInput" type="text" placeholder="Search..."  />

                                    </div>
                                </div>*@
                            <div class="row clearfix">
                                <div class="col-md-12 statusshow-dmtpage" style="padding: 0">
                                    <div class="card class-back-tra-fourdesign">
                                        <div class="body" style="padding:12px;padding-left: 0;padding-top: 5px;padding-right:0px;">
                                            
                                            <div class="page-header-third">
                                                <div class="table-responsive tableclasscssfirst responsive-last-child tablethirddesign-new tablethirddesign-newnew" style="position:inherit;margin-top:0px;">
                                                    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%;font-size:12px;">
                                                        <thead style="background-color:whitesmoke;">
                                                            <tr>
                                                                <th>S. No.</th>
                                                                <th>Transaction&nbsp;Status</th>

                                                                <th style="display:none;">From</th>
                                                                <th>User&nbsp;Bank&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                                @*<th>User&nbsp;Name</th>*@
                                                                <th>User&nbsp;A/C</th>
                                                                <th>User&nbsp;Aadhaar</th>
                                                                <th>User&nbsp;Mobile</th>
                                                                <th>User&nbsp;Name</th>

                                                                <th>Net&nbsp;Amount</th>
                                                                <th>User&nbsp;Fee</th>
                                                                <th>Earn</th>
                                                                <th>GST&nbsp;IN</th>
                                                                <th>TDS</th>

                                                                <th style="display:none;">View&nbsp;Status</th>
                                                                <th style="display:none;">Merchant&nbsp;ID</th>
                                                                <th style="display:none;">Req&nbsp;Date</th>
                                                                <th style="display:none;">Transfer&nbsp;</th>
                                                                <th style="display:none;">Mobile&nbsp;No</th>
                                                                <th style="display:none;">User&nbsp;Credit&nbsp;</th>

                                                                <th>Pre&nbsp;₹</th>
                                                                <th>Cr&nbsp;/&nbsp;Dr</th>
                                                                <th>Post&nbsp;₹</th>


                                                                <th>Bank&nbsp;RRN&nbsp;&amp;&nbsp;<span style="color:red;">Error&nbsp;Info..</span></th>
                                                                <th>Request&nbsp;Time</th>

                                                                <th style="display:none;">Terminal&nbsp;ID</th>
                                                                <th style="display:none;">Remark</th>

                                                                <th>Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="trow">
                                                            @{
                                                                Html.RenderAction("_AepsReport", "Home", new { Model = Model });
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                                        <div class="loadertablecssnew">Loading...</div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="home1" class="tab-pane fade">
                        <div class="container-fluid Financial-page">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="card class-back-tra-fourdesign">
                                        <div class="col-md-9 Financial-pagetab">
                                            <div class="row">
                                                @using (Html.BeginForm("AepsReport", "Home", FormMethod.Post))
                                                {
                                                    <div class="col-md-2 Financial-none">
                                                        <div class="form-group">
                                                            <div class="" style="margin-top:5px;border:1px solid #dddddd;">
                                                                @Html.TextBox("amount", "", new { @placeholder = "Amt", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 Financial-pagetab Financial-none">
                                                        <div class="form-group">
                                                            <div class="" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                                @Html.TextBox("BankId", "", new { @placeholder = "Bank Id", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 enteraddarnumber">
                                                        <div class="form-group">
                                                            <div class="" style="margin-top:5px;border:1px solid #dddddd;">
                                                                @Html.TextBox("aadhar", "", new { @placeholder = "Enter Aadhar / Bank Id / Amount", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 aeps-statusclass">
                                                        <div class="form-group">
                                                            <div class="" style="margin-top:5px;border:1px solid #dddddd;margin-left:-13px;width:108%;">
                                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                                   {
                                                           new SelectListItem{ Text="Status",Value="ALL",},
                                                           new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                           new SelectListItem{Text="Pending",Value="PENDING"},
                                                           new SelectListItem{Text="FAILED",Value="FAILED"}
                                                            }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-3 aeps-status">
                                                        <div class="form-group">
                                                            <div class="input-daterange input-group">
                                                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                                </span>
                                                                <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 aeps-status-search">
                                                        <div class="form-group">
                                                            <center>
                                                                <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                    <span style="top:-1px;color:black;">Search</span>
                                                                </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                                    <button>PDF</button>
                                                    <button id="btnExport">Export</button>
                                                    <button>Total</button>
                                                </div>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statusshow-dmtpage" style="margin-top:-26px;">
                                    <div class="card class-back-tra-fourdesign">
                                        <div class="">
                                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                                                <li class="active" style="color:#9E9E9E; font-size:12px;"></li>
                                            </ol>
                                        </div>
                                        <div class="body" style="padding:7px;padding-left:0;">
                                            <div class="table-responsive" style="position:inherit;margin-top:-49px;">
                                                <table class="table table-bordered table-striped table-hover" style="width:100%;font-size:12px;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th style="width:110px;">Live&nbsp;Status</th>
                                                            <th>From</th>
                                                            <th>Aadhaar&nbsp;Number</th>
                                                            <th>Customer&nbsp;Bank&nbsp;Name</th>
                                                            <th>View&nbsp;Status</th>
                                                            <th>Merchant&nbsp;ID</th>
                                                            <th>Req&nbsp;Date</th>
                                                            <th>Transfer&nbsp;</th>
                                                            <th>Mobile&nbsp;No</th>
                                                            <th>User&nbsp;Credit&nbsp;</th>
                                                            <th>Bank&nbsp;RRN&nbsp;</th>
                                                            <th>User&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Credit&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                                            <th>Terminal&nbsp;ID</th>
                                                            <th>Remark</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="trow">
                                                        @{
                                                            Html.RenderAction("_AepsReport", "Home", new { Model = Model });
                                                        }
                                                    </tbody>
                                                </table>
                                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                                    <img src="~/img/ajax-loader.gif" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <div class="container-fluid">

                            <div class="row clearfix statusclas-mpos">
                                @using (Html.BeginForm("m_Possreport", "Home", FormMethod.Post))
                                {
                                    <div class="col-md-12" style="padding:0;">
                                        <div class="card">
                                            <div class="">
                                                <div class="col-md-6" style="display:none;">
                                                    <div style="margin-left:-6px;">
                                                        <p style="font-size:20px;color:#aba8a8;margin-top:2px;">M-Poss&nbsp;Report</p>
                                                    </div>
                                                </div>



                                                <div class="col-md-6 mpos-full">
                                                    <div class="row">
                                                        <div class="col-md-2 enteraddarnumber enteraddarnumbers">
                                                            <div class="form-group">
                                                                <div class="focused" style="margin-top:5px;border:1px solid #dddddd;">
                                                                    <input class="form-control" id="aadhar" name="aadhar" placeholder="Enter Aadhar / Bank Id / Amount" style="margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" type="text" value="">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-2 aeps-statusclass">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;border:1px solid #dddddd;width:100%;">
                                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                                       {
                                                               new SelectListItem{ Text="Status",Value="ALL",},
                                                               new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                               new SelectListItem{Text="Pending",Value="PENDING"},
                                                               new SelectListItem{Text="FAILED",Value="FAILED"}
                                                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-5 mpos-date">
                                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                                <div class="input-daterange input-group">
                                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                                    </span>
                                                                    <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mpos-search">
                                                            <div class="form-group">
                                                                <div class="form-line" style="border-bottom:none;">
                                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                        <span style="top:-1px;color:black;">Search</span>
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                                            <button>PDF</button>
                                                            <button>Export</button>
                                                            <button>Total</button>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statusshow-dmtpage" style="margin-top:-19px;">
                                    <div class="card">
                                        <div class="body" style="padding-left:0;">
                                            <div class="table-responsive" style="position:inherit;margin-top:-18px;">
                                                <table class="table table-bordered table-striped table-hover" style="width:100%; font-size:12px;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>M&nbsp;-&nbsp;Poss&nbsp;Id</th>
                                                            <th>Message</th>
                                                            <th>TransType</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                            <th>MerchantID</th>
                                                            <th>BankmerchantID</th>
                                                            <th>BankterminalID</th>
                                                            <th>Cardbrand</th>
                                                            <th>Card&nbsp;Holder&nbsp;Name</th>
                                                            <th>Cardnumber</th>
                                                            <th>Card&nbsp;Type</th>
                                                            <th>Date</th>
                                                            <th>Invoice&nbsp;No</th>
                                                            <th>Payment&nbsp;Id</th>
                                                            <th>Merchant&nbsp;Address</th>
                                                            <th>Retailer&nbsp;Pre</th>
                                                            <th>Retailer&nbsp;Post</th>
                                                            <th>Retailer&nbsp;Comm</th>
                                                            <th>Retailer&nbsp;GST</th>
                                                            <th>Retailer&nbsp;Income</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="trow">
                                                        @{
                                                            Html.RenderAction("_m_Possreport", "Home", new { Model = Model });
                                                        }
                                                    </tbody>
                                                </table>
                                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                                    <img src="~/img/ajax-loader.gif" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="container-fluid">
                            <div class="row clearfix">
                                @using (Html.BeginForm("TokenPurchaseReport", "PANCARD", FormMethod.Post))
                                {
                                    <div class="col-md-12" style="padding-left:0;">
                                        <div class="card">
                                            <div class="">
                                                <div class="col-md-2" style="display:none;">
                                                    <div style="margin-left:-6px;">
                                                        <p style="font-size:20px;color:#aba8a8;margin-top:2px;">Pancard&nbsp;Report</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-10" style="padding-right:0;width:100%;">
                                                    <div class="row">
                                                        <div class="col-md-2 enteraddarnumber enteraddarnumbers">
                                                            <div class="form-group">
                                                                <div class="focused" style="margin-top:5px;border:1px solid #dddddd;">
                                                                    <input class="form-control" id="aadhar" name="aadhar" placeholder="Enter Aadhar / Bank Id / Amount" style="margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" type="text" value="">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-2 pancard-status" style="width: 13%;">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;width:100%;border:1px solid #dddddd;">
                                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                    {
                                            new SelectListItem{ Text="Status",Value="ALL",},
                                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                            new SelectListItem{Text="PENDING",Value="PENDING"},
                                            new SelectListItem{Text="FAILED",Value="FAILED"}
                                             }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-3 pancarddate" style="padding-left:0;">
                                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                                <div class="input-daterange input-group">
                                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                                    </span>
                                                                    <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 pancard-search">
                                                            <div class="form-group">
                                                                <div class="form-line" style="border-bottom:none;">
                                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                        <span style="top:-1px;color:black;">Search</span>
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                                            <button>PDF</button>
                                                            <button>Export</button>
                                                            <button>Total</button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                                <div class="col-md-12 statusshow-dmtpage">
                                    <div class="card">
                                        <div class="body" style="margin-top:-18px;padding:0px;padding-left:0;">
                                            <div class="table-responsive " style="position:inherit;">
                                                <table id="example1" class="table table-bordered table-striped table-hover responshivemargin" style="width:100%; font-size:12px;">
                                                    <thead style="background-color:whitesmoke;">
                                                        <tr>
                                                            <th>Live&nbsp;Status</th>
                                                            <th>Retailer&nbsp;Id</th>
                                                            <th>Processing&nbsp;Fees</th>
                                                            <th>Physical</th>
                                                            <th>Digital</th>
                                                            <th>TXN&nbsp;ID</th>
                                                            <th>UTI&nbsp;TXN&nbsp;ID</th>
                                                            <th>UTI&nbsp;Status</th>
                                                            <th>Date</th>
                                                            <th>Action</th>
                                                            <th>Retailer&nbsp;Remain&nbsp;Pre</th>
                                                            <th>Net&nbsp;Income</th>
                                                            <th>Retailer&nbsp;Remain&nbsp;Post</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="trow">
                                                        @{
                                                            Html.RenderAction("_TokenPurchaseReport", "PANCARD", new { Model = Model });
                                                        }
                                                    </tbody>
                                                </table>
                                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                                    <img src="~/img/ajax-loader.gif" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--newtabsreport-->
    <!--<div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="">
                                @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                                {
                                    <div class="row">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="" style="margin-top: 5px;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                        {
                                        new SelectListItem{ Text="Status",Value="ALL",},
                                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                        new SelectListItem{Text="Pending",Value="PENDING"},
                                        new SelectListItem{Text="FAILED",Value="FAILED"}
                                        }, new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <div class="" style="margin-top: 5px;">
                                                    @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                        {
                                                 new SelectListItem{ Text="Type",Value="ALL",},
                                         new SelectListItem{Text="Transfer",Value="IMPS"},
                                         new SelectListItem{Text="Verify",Value="IMPS_VERIFY"}
                                        }, new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                <div class="input-daterange input-group">
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                    </span>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;">
                                                    <button value="LIVE" type="submit" class="btn" id="submit" name="submit" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">Search</span>
                                                    </button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="body" style="padding:12px;">
                                <div class="table-responsive" style="position:inherit;margin-top:-10px;">
                                    <table id="tbldata" class="table table-bordered table-striped table-hover dataTable" cellspacing="0" style="width:100%;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Status</th>
                                                <th>Sender&nbsp;No</th>
                                                <th>Beneficiary&nbsp;Account&nbsp;Information</th>
                                                <th>Type</th>
                                                <th>Request&nbsp;Date</th>
                                                <th>Transfer&nbsp;&#x002B;&nbsp;Fee&nbsp;=&nbsp;Total</th>
                                                <th>Total&nbsp;.&nbsp;Trans</th>
                                                <th>My&nbsp;Sharing</th>
                                                <th>GST&nbsp;│&nbsp;TDS</th>
                                                <th>Net&nbsp;INC</th>
                                                <th>Pre&nbsp;Amt&nbsp;│&nbsp;Debit&nbsp;│&nbsp;Post&nbsp;Amt</th>
                                                <th>Print</th>
                                                <th>View&nbsp;Sts</th>
                                                <th>Bank&nbsp;Ref&nbsp;No</th>
                                                <th>Bank&nbsp;Name</th>
                                                <th>Request&nbsp;ID</th>
                                                <th>Common&nbsp;Trans&nbsp;ID</th>
                                                <th style="width:84px; padding:9px;">IFSC&nbsp;Code</th>
                                                <th style="width:84px; padding:9px;">Response&nbsp;Date</th>


                                            </tr>
                                        </thead>
                                        <tbody id="trow">
                                            @{
                                                Html.RenderAction("_Money_Transfer_Report", "Home", new { Model = Model });
                                            }
                                        </tbody>
                                    </table>
                                    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                        <img src="~/img/ajax-loader.gif" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
    -->

</section>
<!--Refund Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel">Refund</h4>
            </div>
            <div class="modal-body">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2">Reason</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                @Html.TextBox("txtrefidno", "", new { style = "display:none;" })
                                @Html.TextBox("txtbankid", "", new { style = "display:none;" })
                                @Html.TextBox("txtrecivername", "", new { style = "display:none;" })
                                <div class="" style="border:1px solid #dddddd;">
                                    @Html.DropDownList("ddl_refund", new List<SelectListItem>
                                           {
                     new SelectListItem{ Text="Manual Failed",Value="Manual FAILED"},
                     new SelectListItem{Text="Bank Server Down ",Value="Bank Server Down"},
                   new SelectListItem{ Text="Failed Due To Invalid Choice",Value="Failed Due To Invalid Choice"},
                  new SelectListItem{Text="Network Down",Value="Network Down"},
                    new SelectListItem{Text="Unsupported Network",Value="Unsupported Network"},
                 new SelectListItem{Text="Network issue",Value="Network issue"},
                 new SelectListItem{Text="Insufficient Fund ",Value="Insufficient Fund"}
                            }, new { @class = "btn-group bootstrap-select form-control show-tick dropup" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                            <label for="email_address_2">Security&nbsp;Password</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                            <div class="form-group">
                                <div class="" style="border:1px solid #dddddd;">
                                    <input type="text" id="securitypass" name="securitypass" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="Failed()">
                            <span style="top:-2px;color:black;">Save Change</span>
                        </button>
                        <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                            <span style="top:-2px;color:black;">Close</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();
    var Operator = $('#Operator').val();
    var amount = $('#amount').val();
    var BankId = $('#BankId').val();
    var aadhar = $('#aadhar').val();


        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_aeps","Home")",
             { "pageindex": pageindex, "txt_frm_date":txt_frm_date,"txt_to_date":txt_to_date,"ddl_status":ddl_status,"amount":amount,"BankId": BankId,"aadhar":aadhar},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<!--Manual SUCCESS -->
<script>

    function checkStaus(txnid)
    {
        $.ajax({
            url: '@Url.Action("AepsStatus", "Home")',
            type: 'POST',
            dataType: "json",
            data: { txnid: txnid },
            success: function (data) {
                var response = JSON.parse(data);
                if (response.Status =="Success") {
                    swal("Good Job", response.Message, "success");
                    window.location.reload();
                    //reloadPageeee();
                }
                else {
                    swal("Oops...", response.Message, "error");
                }
                //alert(response.Message);
            },
            error: function (data) {
            }
        });
    }
</script>

<script>
    function Findtotal() {

        $('#totafind').empty();
        $.ajax({
            url: '@Url.Action("AepsReport_Total")',
            type: 'GET',
            data: { txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val(), ddl_status: $('#ddl_status').val()},
            success: function (data) {
                $('#totafind').html('<span id="lblsuccess" >' + data.success + ' </span><br/><span id="lblfailed" >' + data.failed + ' </span><br/><span id="lblpending">' + data.pending +' </span>')

            }



        })

    }


</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

<!--Generate Print-->
<script type="text/javascript">
            function GotoPDF(e) {
                // alert(e)
                var idno = e.toString(); ;
                var url = '@Url.Action("GeneratePDF", "Home")?Idno=' + idno + '';
                //window.location.href = url,;
                window.open(url, '_blank');
            }
</script>

<!--My Script-->
@*<script>
        $(".input-daterange").click(function () {
            $(".datepicker").addClass('datepickeraeps');
        });


    </script>*@

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/RETAILER/Home/AepsReport') {
            $('.list.report-list-change li#classtravelactive a').addClass('active');
        }
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var amount = $('#amount').val();
        var BankId = $('#BankId').val();
        var aadhar = $('#aadhar').val();
        var url = '@Url.Action("Excel_Aeps_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date  + '&ddl_status=' + ddl_status + '&amount=' + amount + '&BankId=' + BankId + '&aadhar=' + aadhar;
        location.href = url
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var amount = $('#amount').val();
        var BankId = $('#BankId').val();
        var aadhar = $('#aadhar').val();
        var url = '@Url.Action("PDF_AepsReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&amount=' + amount + '&BankId=' + BankId + '&aadhar=' + aadhar;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
