@{
    ViewBag.Title = "AEPS Charges Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<link href="~/RetailerCss/financialcss-retailer.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.css" rel="stylesheet" />
<style>
    .form-control {
        height: 30px;
    }
    /* new css */
    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
        margin-bottom: 0;
    }

    /* new css */

    #totafind span#lblpending::after, #totafind span#lblsuccess::after, #totafind span#lblfailed::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        float: left;
        background-color: #ff9800;
        background-size: 81%;
        background-position: center;
        border-radius: 50%;
        margin: 2px 3px 0px 3px;
    }

    #totafind span#lblsuccess::after {
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblfailed::after {
        background: url(../../ashok-images/closes.svg)no-repeat;
        background-color: #ff0000;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblpending::after {
        background: url(../../ashok-images/clkk.png)no-repeat;
        background-color: #FF9800;
        background-size: 65%;
        background-position: center;
    }

    .totalfaild-retailer span {
        float: left;
    }

        .totalfaild-retailer span ~ br {
            display: none;
        }

    .totalfaild-retailer span {
        padding: 5px 5px;
    }

    .totalfaild-retailer {
        position: absolute;
        bottom: 25px;
        right: 47px;
        background: #eeebeb;
        border: 1px solid #ccc;
        width: auto;
    }

        .totalfaild-retailer span:first-child {
            border-right: 1px solid #ccc;
        }

        .totalfaild-retailer span:last-child {
            border-left: 1px solid #ccc;
        }

    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {
        color: #555 !important;
    }

    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {
        font-size: 12px;
    }

    .dropdown-menu {
        margin-top: 91px !important;
    }


    body .col-md-9.Financial-pagetab .aeps-statusclass .btn-group button, .col-md-2.aeps-statusclass button, .col-md-2.aeps-statusclass .btn-group.bootstrap-select.form-control.open button {
        background-size: 11px !important;
    }

    .tableclasscssfirst tbody tr td {
        font-weight: 400;
    }

    .tableclasscssfirst thead tr th {
        white-space: nowrap;
    }

    .Financial-pagetabs *, .Financial-pagetabs .btn.dropdown-toggle.btn-default span, .Financial-pagetabs .aeps-status-search button i, .Financial-pagetabs .aeps-status-search button span {
        color: #555 !important;
    }

    .Financial-pagetabs .enteraddarnumber input::placeholder {
        color: #555 !important;
    }

    @@media only screen and (max-width:1169px) {

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }

        .aepsfullpage .container-fluid.Financial-page, .aepsfullpage .container.container-tabsrepor {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:767px) {


        .content.aepsfullpage.aepsfullpageweertd .col-md-3.buttonPdf {
            left: auto;
            display: block;
        }

        .allfinancial-report-resons .col-md-2 {
            width: 50% !important;
            float: left;
        }

        .responsive-report-money .row-moneyresponsive {
            margin-right: -15px;
            margin-left: -15px;
        }

        .row.clearfix.row-moneyresponsive .col-md-12 {
            padding: 0;
        }

        .allfinancial-report-resons .col-md-3 {
            width: 100% !important;
            float: left;
            padding: 0 !important;
        }

            .allfinancial-report-resons .col-md-3 .form-group {
                margin: 8px 0 !important;
            }

        .buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer {
            width: auto !important;
        }

        .addnew-responsiveclass .nav.nav-tabs.tabsrepor-nav {
            margin-bottom: 0px !important;
        }
    }

    @@media only screen and (max-width:766px) {

        .responsive-report-money .row-moneyresponsive {
            margin: 0;
        }
    }

    @@media only screen and (max-width:480px) {


        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            width: 50% !important;
            margin-bottom: 10px !important;
        }

        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            padding-right: 0px;
        }

        .allfinancial-report-resons .col-md-2 {
            width: 100% !important;
            float: left;
            padding: 0 !important;
            padding-bottom: 5px !important;
        }

        .allfinancial-report-resons .col-md-3 .form-group {
            margin: 5px 0 !important;
            margin-top: 0px !important;
        }

        .addnew-responsiveclass .nav.nav-tabs.tabsrepor-nav {
            margin-bottom: 0px !important;
        }
        
    }
</style>
@{
    var i = 1;
    List<SelectListItem> items = new List<SelectListItem>
{

        new SelectListItem { Value = "Aeps", Text = "Aeps" },
        new SelectListItem { Value = "Aadharpay", Text = "Aadharpay" }
    };

}
<section class="content aepsfullpage aepsfullpageweertd content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x: hidden;">
    <!--newtabsreport-->    
    <!--Four-Design-Page-Header-Start-->

    <div class="page-title-box-fourde">
        <h3>Financial Services</h3>
        <ul>
            <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Financial Services</a></li>
        </ul>
    </div>

    <!--Four-Design-Page-Header-End-->
    <div class="newtabsreport uladdcssnew uladdcssnew-responsive">
        <div class="container container-tabsrepor addnew-responsiveclass money-transfer-retailer">
            @Html.Partial("_menuFinicalReport")

            <div class="col-md-12 allfinancial-report-resons" style="margin-top:0px;">
                <div class="tab-content" style="width:100%;padding:0px;">

                    <div id="home" class="tab-pane fade in active">
                        <div class="container-fluid tabsrepor-content-fluid responsive-report-money" style="padding:0;">
                            <div class="row clearfix row-moneyresponsive">

                                <div class="page-header-third">
                                    <div class="col-md-12">
                                        <div class="card class-back-tra-fourdesign" style="margin-bottom: 0;">
                                            <div class="">

                                                <div class="row rowchange-margin" style="position:relative;">
                                                    @using (Html.BeginForm("AepsChargesReprt", "Home", FormMethod.Post))
                                                    {
                                                        <div class="col-md-2 aeps-statusclass" style="padding-right: 0;">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:5px;border:1px solid #dddddd;padding-bottom:10px;">
                                                                    @Html.DropDownList("Type", items, "Select type", new { @class = "form-control" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-3 aeps-status finacial-selectsss" style="margin: 0 !important; padding-left: 3px;">
                                                            <div class="form-group">
                                                                <div class="input-daterange input-group">
                                                                    <div class="datesate datesates">
                                                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                                    </div>
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                                    </span>
                                                                    <div class="datesate datesatese">
                                                                        <div class="form-iconmy form-iconmyss" id="form-iconmyssee" style="top: 0px;padding: 6px 5px;left: 0;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                                    </div>
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 aeps-status-search">
                                                            <div class="form-group">
                                                                <center>
                                                                    <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                        <span style="top:-1px;color:black;">Search</span>
                                                                    </button>
                                                                </center>
                                                            </div>
                                                        </div>




                                                    }

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12 statusshow-dmtpage">
                                        <div class="card class-back-tra-fourdesign">
                                            <div class="body" style="padding:12px;padding-left: 0;padding-top: 5px;padding-right:0px;">

                                                <div class="page-header-third">
                                                    <div class="table-responsive tableclasscssfirst responsive-last-child tablethirddesign-new tablethirddesign-newnew" style="position:inherit;margin-top:0px;">
                                                        <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%;font-size:12px;">
                                                            <thead style="background-color:whitesmoke;">
                                                                <tr>
                                                                    <td>Idno</td>
                                                                    <td>RetailerName</td>
                                                                    <td>Mobile</td>
                                                                    <td>Type</td>
                                                                    <td>AepsCharges</td>
                                                                    <td>AadharpayCharges</td>
                                                                    <td>Gst</td>
                                                                    <td>RemainPre</td>
                                                                    <td>RemainPose</td>
                                                                    <td>TransactionTime</td>
                                                                    <td>Status</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="trow">

                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>@i</td>
                                                                        <td>@item.RetailerName</td>
                                                                        <td>@item.Mobile</td>
                                                                        <td>@item.Type</td>
                                                                        <td>@item.AepsCharges</td>
                                                                        <td>@item.AadharpayCharges</td>
                                                                        <td>@item.Gst</td>
                                                                        <td>@item.RemainPre</td>
                                                                        <td>@item.RemainPose</td>
                                                                        <td>@item.TransactionTime</td>
                                                                        <td>@item.Status</td>
                                                                    </tr>
                                                                    i++;
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

