@model Vastwebmulti.Areas.RETAILER.Models.BankInfo


@*@Model Vastwebmulti.Areas.Retailer.Model.BankInfo*@
@{
    ViewBag.Title = "Bank_info";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @@media only screen and (max-width:1169px) {
        .bank-info-fullclass {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:991px) {

        .col-md-6.brachcashreport, .col-md-6.atmcashreport {
            padding-right: 0px;
        }

    }

    @@media only screen and (max-width:767px) {
        .col-md-12.responsive-scroll th, .col-md-12.responsive-scroll td {
            font-size: 14px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        
    }

    /* new css  */
</style>

<section class="content content-responshiveclass content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid bank-info-fullclass four-design-table-design" style="padding-left:9px;">

        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Bank & Cash</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Pages&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Bank & Cash</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->

        <div class="row clearfix">
            <div class="col-md-12 newclassbankclass">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;">
                        <div class="form-group" style="margin-top: 2px;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin:0px;padding: 0px;">
                                <li class="active fourdesign-heding-border" style="color:#000; font-size:22px;font-weight:700;">Company Bank Information & Cash Deposit Charges</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 brachcashreport brachcashreport-noneclass">

                    <div class="page-header-third">
                        <div class="brachcash brachcash-second changeback-four-design">
                            <img src="~/ashok-images/microsoft-office.svg" />

                            <h2 class="fullbodydycolorbg black-back-fordesign">Branch / CMS Cash Deposit</h2>
                            <ul>
                                @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.admincash %</span></li>
                            </ul>
                        </div>
                    </div>

                    
                </div>

                @*Bank-Four-Design-Start*@

                <div class="col-md-6 bank-four-design" style="padding-left:0px;">
                    <div class="page-header-third">
                        <div class="bank-full-four">
                            <div class="">
                                <img src="~/Areas/RETAILER/retailer-four-image/bankfour-design.jpg" style="max-width:100%;" />
                            </div>
                            <div class="bank-content-four">
                                <h4>Branch / CMS Cash Deposit</h4>
                                <ul>
                                    @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                    <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.admincash %</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    
                </div>

                @*Bank-Four-Design-End*@

                <div class="col-md-6 atmcashreport brachcashreport-noneclass">
                    <div class="page-header-third">
                        <div class="brachcash brachcash-second changeback-four-design">
                            <img src="~/ashok-images/value.svg">
                            <h2 class="fullbodydycolorbg black-back-fordesign">Credit Fund Charge</h2>
                            <ul>
                                @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.admincredit %</span></li>
                            </ul>
                        </div>
                    </div>

                    
                </div>


                @*Bank-Four-Design-Start*@

            <div class="col-md-6 bank-four-design" style="padding-right:0px;">
                <div class="page-header-third">
                    <div class="bank-content-four" style="border-radius: 5px 5px 0 0px;">
                        <h4>Credit Fund Charge</h4>
                        <ul>
                            @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                            <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.admincredit %</span></li>
                        </ul>

                    </div>
                    <div class="bank-full-four">
                        <div class="">
                            <img src="~/Areas/RETAILER/retailer-four-image/bankfour-design.jpg" style="max-width:100%;border-radius: 0px 0px 5px 5px;" />
                        </div>

                    </div>
                </div>

                
            </div>

                @*Bank-Four-Design-End*@

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;">
                        <div class="body bodybanksecond" style="margin-top:0px;padding: 14px;padding-bottom:0;">
                            <div class="row">

                                <h3 class="fourdesign-heding-border">Accounts</h3>
                                <div class="col-md-12 responsive-scroll" style="padding: 0px;">
                                    <table border="1" style="width: 100%;background:#f5f5f5;">
                                        <tr>
                                            <th style="font-size:14px; padding: 10px; font-family:Arial;  color:black; position:initial;border:1px solid #dddddd;background-color:whitesmoke;">
                                                Bank Name
                                            </th>

                                            <th style="background-color:whitesmoke; padding: 10px; font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                IFSC CODE
                                            </th>
                                            <th style="background-color:whitesmoke; font-size:14px;padding: 10px;  font-family:Arial;color:black;position:initial;border:1px solid #dddddd;">
                                                Account Number
                                            </th>
                                            <th style="background-color:whitesmoke; font-size:14px; padding: 10px; font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                Account Type
                                            </th>
                                            <th style="background-color:whitesmoke;padding: 10px; font-size:14px;  font-family:Arial; color:black; position:initial;border:1px solid #dddddd;">
                                                Account Holder Name
                                            </th>
                                            <th style=" background-color:whitesmoke; padding: 10px;font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                Branch Address
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.adminbank)
                                        {
                                            <tr>
                                                <td style="  font-size:14px;  font-family:Arial; padding: 10px;  color:#585858;border:1px solid #dddddd;">
                                                    @item.banknm
                                                </td>

                                                <td style="font-size:14px;  font-family:Arial;  padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.ifsccode
                                                </td>
                                                <td style="font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.acno
                                                </td>
                                                <td style=" font-size:14px;  font-family:Arial; padding: 10px; color:#585858;border:1px solid #dddddd;">
                                                    @item.actype
                                                </td>
                                                <td style="        font-size: 14px;
        font-family: Arial;
        padding: 10px;
        color: #585858;
        border: 1px solid #dddddd;">
                                                    @item.holdername
                                                </td>
                                                <td style=" font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.address
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;border-bottom: 2px solid #ff0003;padding-bottom: 20px;">
                        <div class="page-header-third">
                            <div class="body bodybanksecond" style="margin-top:0px;padding: 14px;padding-top:0px;">
                                <div class="row">

                                    <h3 class="fourdesign-heding-border" style="margin-top: 0px;">Wallets</h3>
                                    <div class="col-md-12 responsive-scroll" style="padding: 0px;">
                                        <table border="1" style="width: 100%;background:#f5f5f5;">
                                            <tr>
                                                <th style="font-size:14px; padding: 10px; font-family:Arial;  color:black; position:initial;border:1px solid #dddddd;background-color:whitesmoke;">
                                                    Wallet Name
                                                </th>

                                                <th style="background-color:whitesmoke; padding: 10px; font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                    Wallet Number
                                                </th>
                                                <th style="background-color:whitesmoke; font-size:14px;padding: 10px;  font-family:Arial;color:black;position:initial;border:1px solid #dddddd;">
                                                    Wallet Holder
                                                </th>

                                            </tr>
                                            @foreach (var item in Model.Walletinfoadmin)
                                            {
                                                <tr>
                                                    <td style="  font-size:14px;  font-family:Arial; padding: 10px;  color:#585858;border:1px solid #dddddd;">
                                                        @item.walletname

                                                    </td>

                                                    <td style="font-size:14px;  font-family:Arial;  padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                        @item.walletno

                                                    </td>
                                                    <td style="font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                        @item.walletholdername
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        <div class="row clearfix" style="margin-top: 12px;">
            <div class="col-md-12 newclassbankclass">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;">
                        <div class="form-group" style="margin-top: 2px;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin:0px;padding: 0px;">
                                <li class="active fourdesign-heding-border" style="color:#000; font-size:22px;font-weight:700;">Distributor Accounts Information & Cash Deposit Charges</li>
                            </ol>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 brachcashreport brachcashreport-noneclass">
                    <div class="page-header-third">
                        <div class="brachcash brachcash-second changeback-four-design">
                            <img src="~/ashok-images/microsoft-office.svg">
                            <h2 class="fullbodydycolorbg black-back-fordesign">Branch Cash Deposit</h2>
                            <ul>
                                @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.dealercash %</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                @*Bank-Four-Design-Start*@

                <div class="col-md-6 bank-four-design" style="padding-left:0px;">
                    <div class="page-header-third">
                        <div class="bank-content-four" style="border-radius: 5px 5px 0 0px;">
                            <h4>Branch Cash Deposit</h4>
                            <ul>
                                @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.dealercash %</span></li>
                            </ul>

                        </div>
                        <div class="bank-full-four">
                            <div class="">
                                <img src="~/Areas/RETAILER/retailer-four-image/bankfour-design.jpg" style="max-width:100%;border-radius: 0px 0px 5px 5px;" />
                            </div>

                        </div>
                    </div>
                </div>

                @*Bank-Four-Design-End*@

                <div class="col-md-6 atmcashreport brachcashreport-noneclass">
                    <div class="page-header-third">
                        <div class="brachcash brachcash-second changeback-four-design">
                            <img src="~/ashok-images/value.svg">
                            <h2 class="fullbodydycolorbg black-back-fordesign">Credit Fund Charge</h2>
                            <ul>
                                @*<li><strong>Minimum&nbsp;Charge</strong><span>10&nbsp;₹</span></li>*@
                                <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.dealercredit %</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                @*Bank-Four-Design-Start*@

                <div class="col-md-6 bank-four-design" style="padding-right:0px;">
                    <div class="page-header-third">
                        <div class="bank-full-four">
                            <div class="">
                                <img src="~/Areas/RETAILER/retailer-four-image/bankfour-design.jpg" style="max-width:100%;" />
                            </div>
                            <div class="bank-content-four">
                                <h4>Credit Fund Charge</h4>
                                <ul>

                                    <li><strong>Charges&nbsp;(In&nbsp;%)</strong><span>@ViewBag.dealercredit %</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                @*Bank-Four-Design-End*@

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;">
                        <div class="body bodybanksecond" style="margin-top:0px;padding: 14px;">
                            <div class="row">

                                <h3 class="fourdesign-heding-border">Accounts</h3>
                                <div class="col-md-12 responsive-scroll" style="padding: 0px;">
                                    <table border="1" style="width: 100%;background:#f5f5f5;">
                                        <tr>
                                            <th style="font-size:14px; padding: 10px; font-family:Arial;  color:black; position:initial;border:1px solid #dddddd;background-color:whitesmoke;">
                                                Bank Name
                                            </th>

                                            <th style="background-color:whitesmoke; padding: 10px; font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                IFSC CODE
                                            </th>
                                            <th style="background-color:whitesmoke; font-size:14px;padding: 10px;  font-family:Arial;color:black;position:initial;border:1px solid #dddddd;">
                                                Account Number
                                            </th>
                                            <th style="background-color:whitesmoke; font-size:14px; padding: 10px; font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                Account Type
                                            </th>
                                            <th style="background-color:whitesmoke;padding: 10px; font-size:14px;  font-family:Arial; color:black; position:initial;border:1px solid #dddddd;">
                                                Account Holder Name
                                            </th>
                                            <th style=" background-color:whitesmoke; padding: 10px;font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                Branch Address
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.Dealerbank)
                                        {
                                            <tr>
                                                <td style="  font-size:14px;  font-family:Arial; padding: 10px;  color:#585858;border:1px solid #dddddd;">
                                                    @item.banknm
                                                </td>

                                                <td style="font-size:14px;  font-family:Arial;  padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.ifsccode
                                                </td>
                                                <td style="font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.acno
                                                </td>
                                                <td style=" font-size:14px;  font-family:Arial; padding: 10px; color:#585858;border:1px solid #dddddd;">
                                                    @item.actype
                                                </td>
                                                <td style="        font-size: 14px;
        font-family: Arial;
        padding: 10px;
        color: #585858;
        border: 1px solid #dddddd;">
                                                    @item.holdername
                                                </td>
                                                <td style=" font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.address
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 0px;">
                        <div class="body bodybanksecond" style="margin-top:0px;padding: 14px;padding-top:0px;">
                            <div class="row">

                                <h3 class="fourdesign-heding-border" style="margin-top: 0px;">Wallets</h3>
                                <div class="col-md-12 responsive-scroll" style="padding: 0px;">
                                    <table border="1" style="width: 100%;background:#f5f5f5;">
                                        <tr>
                                            <th style="font-size:14px; padding: 10px; font-family:Arial;  color:black; position:initial;border:1px solid #dddddd;background-color:whitesmoke;">
                                                Wallet Name
                                            </th>

                                            <th style="background-color:whitesmoke; padding: 10px; font-size:14px;  font-family:Arial; color:black;position:initial;border:1px solid #dddddd;">
                                                Wallet Number
                                            </th>
                                            <th style="background-color:whitesmoke; font-size:14px;padding: 10px;  font-family:Arial;color:black;position:initial;border:1px solid #dddddd;">
                                                Wallet Holder
                                            </th>

                                        </tr>
                                        @foreach (var item in Model.Walletinfodealer)
                                        {
                                            <tr>
                                                <td style="  font-size:14px;  font-family:Arial; padding: 10px;  color:#585858;border:1px solid #dddddd;">
                                                    @item.walletname
                                                </td>

                                                <td style="font-size:14px;  font-family:Arial;  padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.walletno
                                                </td>
                                                <td style="font-size:14px;  font-family:Arial; padding: 10px;color:#585858;border:1px solid #dddddd;">
                                                    @item.walletholdername
                                                </td>

                                            </tr>
                                        }

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>





