@model IEnumerable<Vastwebmulti.Models.report_cash_deposit_Result>
@{
    ViewBag.Title = "CashDepositReport";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/RetailerCss/financialcss-retailer.css" rel="stylesheet" />
<style>

    /* new css */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
        margin-bottom: 0;
    }

    /* new css */


    .dropdown-menu {
        margin-top: 91px !important;
    }

    .aeps-report-microatm .aeps-statusclass {
        width: 15%;
        float: left;
    }

    .aeps-report-microatm .aeps-status.finacial-selectsss {
        width: 35%;
    }

    .aeps-report-microatm .aeps-status-search {
        width: 12% !important;
    }

   

    .form-group {
        width: 100%;
    }

   
    .col-md-2.aeps-statusclass button {
        background-size: 11px !important;
    }
    .Financial-pagetabs *, .Financial-pagetabs .btn.dropdown-toggle.btn-default span, .Financial-pagetabs .aeps-status-search button i, .Financial-pagetabs .aeps-status-search button span {
        color: #555 !important;
    }

    @@media only screen and (max-width:1169px){

        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }
        .aepsfullpage .container-fluid.Financial-page{
            padding-left: 15px !important;
        }

    }


    @@media only screen and (max-width:767px){

        .Financial-pagess-responshive {
            padding-right: 15px;
        }
        .newtabsreport-aepsclass ul {
            margin-bottom: 0px !important;
        }
        .aeps-report-responshive .col-md-2.aeps-statusclass {
            width: 50%;
        }
        .rewrere-aeps-responshive .body {
            padding-right: 0px !important;
        }
        .aeps-report-microatm .aeps-status.finacial-selectsss {
            width: 100%;
            padding: 0 !important;
        }
        .allfinancial-report-resons .col-md-3 .form-group {
            margin: 5px 0 !important;
        }
        .col-md-3.buttonPdf {
            display: block;
        }

    }


    @@media screen and (max-width:766px) {
        .newtabsreport.newtabsreport-aepsclass {
            width: 100% !important;
        }

        .aeps-report-microatm {
            width: 100% !important;
            float: left;
        }
        .allfinancial-report-resons .col-md-12 .col-md-12 {
            padding-left: 0;
            width: 100%;
            float: left;
        }
       
    }

    @@media only screen and (max-width:480px){

        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            width: 50% !important;
            margin-bottom: 10px !important;
        }
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            padding-right: 0px;
        }
        .allfinancial-report-resons .col-md-2 {
            width: 100% !important;
        }
        .aeps-report-responshive .aeps-status-search button span {
            font-size: 12px !important;
        }
        .aeps-report-microatm .aeps-status-search {
            width: 25% !important;
        }


    }



</style>
@{ int sno = 0; }

<section class="content aepsfullpage content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid Financial-page Financial-pagess Financial-pagess-responshive" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Cash Deposit Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Cash Deposit Report</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="newtabsreport newtabsreport-aepsclass newtabsreport-second" style="width:100%;">
            <div class="container container-tabsrepor money-transfer-retailer" style="padding:0;">
                @Html.Partial("_menuFinicalReport")
            </div>
        </div>
        <div class="row clearfix aeps-report-responshive aeps-report-microatm allfinancial-report-resons" style="margin:0px;width:100%;float:left;">
            @using (Html.BeginForm("CashDepositReport", "Home", FormMethod.Post))
            {
                <div class="col-md-12" style="padding:0;">
                    <div class="card class-back-tra-fourdesign" style="margin-bottom: 10px;">
                        <div class="page-header-third">
                            @*<div class="col-md-6" style="display:none;">
                                <div style="margin-left:-6px;">
                                    <p style="font-size:20px;color:#aba8a8;margin-top:2px;">Cash&nbsp;Deposit&nbsp;Report</p>
                                </div>
                            </div>*@
                            <div class="col-md-12 Financial-pagetabs" style="padding:0px;">
                                <div class="row" style="margin:0px;">
                                    <div class="col-md-2 aeps-statusclass" style="padding:0px;">
                                        <div class="form-group">
                                            <div class="" style="margin-top:5px;border:1px solid #dddddd;width:100%;padding-bottom:10px;">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                           {
                                   new SelectListItem{ Text="All Status",Value="",},
                                   new SelectListItem{Text="Success",Value="Success"},
                                   new SelectListItem{Text="Failed",Value="Failed"},
                                   new SelectListItem{Text="Pending",Value="Pending"},
                                   }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3 aeps-status finacial-selectsss" style="margin:0px !important;padding-left:3px;">
                                        <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" id="form-iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-1 aeps-status-search">
                                        <div class="form-group">
                                            <div class="form-line" style="border-bottom:none;">
                                                <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">Search</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 buttonPdf retailer-pdf-second retailer-pdf-second-retailer" style="width:auto;float:right;">

                                        <button id="btnPDF">PDF</button>
                                        <button id="btnExport">Export</button>
                                        <button onclick="Findtotal()">Total</button>

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row clearfix rewrere rewrere-aeps-responshive">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card class-back-tra-fourdesign">
                    <div class="body" style="padding:0;">
                        <div class="page-header-third">
                            <div class="table-responsive responsive-mposstatus tablethirddesign-newnew" style="position:inherit;margin-top:0px;">
                                <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr style="color: black;">
                                            <th>S.No.</th>
                                            <th>Status</th>
                                            <th>Firm Name</th>

                                            <th>Amount</th>
                                            <th>Time</th>
                                            <th>BankRRN&nbsp;No</th>
                                            <th>Ben&nbsp;Name</th>
                                            <th>Bank&nbsp;Name</th>
                                            <th>Remain&nbsp;Pre</th>
                                            <th>Comm</th>
                                            <th>GST</th>
                                            <th>TDS</th>
                                            <th>Remain&nbsp;Post</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            sno += 1;
                                            var img = "";
                                            var color = "";
                                            var pandingback = "";

                                            if (item.status.ToUpper() == "FAILED")
                                            {
                                                img = "../../ashok-images/closes.svg";
                                                color = "red";
                                            }
                                            if (item.status.ToUpper().Contains("REFUND"))
                                            {
                                                img = "../../ashok-images/undo.svg";
                                                color = "#9C27B0";
                                            }
                                            if (item.status.ToUpper() == "SUCCESS")
                                            {
                                                img = "../../ashok-images/correct.svg";
                                                color = "green";
                                            }
                                            if (item.status.ToUpper() == "PENDING")
                                            {
                                                img = "../../ashok-images/clkk.png";
                                                color = "#ffc107";
                                                pandingback = "#fff8d1";
                                            }
                                            <tr style="background:@pandingback;">
                                                <td>@sno</td>
                                                <td><img src="@img" style="background:@color;" />@item.status</td>
                                                <td>@item.Frm_Name</td>

                                                <td>@item.amount</td>
                                                <td>@item.req_date</td>
                                                <td>@item.bankrrn</td>
                                                <td>@item.benname</td>
                                                <td>@item.bankname</td>
                                                <td>@item.Rem_pre</td>
                                                <td>@item.rem_comm</td>
                                                <td>@item.rem_gst</td>
                                                <td>@item.rem_tds</td>
                                                <td>@item.rem_post</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script>
    function mdActionBtn(Idno) {
        $('#loadredmodel').show();

        $.ajax({
            url: '@Url.Action("Microatm_View", "Home")',
            type: "POST",
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                $("#DealerPre").val(Response[0].dealer_remain_pre);
                $("#Dlm_Comm").val(Response[0].dealer_comm);
                $("#dlmgst").val(Response[0].dealer_gst);
                $("#dlmtds").val(Response[0].dealer_tds);
                $("#DealerPost").val(Response[0].dealer_remain_post);

                $("#MasterPre").val(Response[0].master_remain_pre);
                $("#Md_Comm").val(Response[0].master_comm);
                $("#Mdgst").val(Response[0].master_gst);
                $("#Mdtds").val(Response[0].master_tds);
                $("#MasterPost").val(Response[0].master_remain_post);

                $("#Response").val(Response[0].resp);
            }
        });
    };

</script>
<script>
    $('#allwhitelabel1').select2();
    $('#allmaster2').select2();
    $('#alldealer').select2();
    $('#allretailer').select2();
</script>

<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Whitelabel") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Admin") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("allwhitelabel").style.display = "none";
        }
        else if (answer == "Retailer") {

            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("allwhitelabel").style.display = "none";
        }
    }
</script>


<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("Excel_CashDeposit_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        location.href = url
});

</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("PDF_CashDepositReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>

