
@{
    ViewBag.Title = "Certificate";
    Layout = null;
}
<link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />


<style>
    * {
    }

    .full-body {
        width: 100%;
        height: 585px;
        position: relative;
    }

    .full-body-21 {
        background-size: cover;
        height: 585px;
        background-image: linear-gradient(135deg, #fff 0%, var(--main-bg-lcolor) 55%, #fff 100%);
    }

    .full-body-2 {
        opacity: .3;
        height: 585px;
        background-image: url('../../FooterImages/img41.png');
    }

    .full-body-22 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        width: 20%;
        padding-right: 30px;
    }
        .logo .img-responsive {
            width: 116px !important;
            height: 49px;
        }

    .headig {
        width: 60%;
        text-transform: uppercase;
    }

        .headig h1 {
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.6;
            color: #000;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }

    .headig-2 {
        width: 80%;
        float: left;
    }

    .headig-1 {
        width: 80%;
    }

        .headig-1 h1 {
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.6;
            color: #000;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            float: right;
        }

    .headig-2.logo-2 {
        width: 100%;
    }

    .headig.headig-1 {
        display: none;
    }


    .headig-2 .headig {
        width: 75%;
        text-transform: uppercase;
        float: left;
    }

    .headig-2 .logo-2 {
        width: 25%;
        float: left;
    }

    .logo-2 {
        width: 20%;
    }

    .holder {
        width: 100%;
        float: left;
        background: var(--main-bg-rcolor);
        margin: 2px 0px;
    }

        .holder p {
            font-size: 34px;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 1.3;
            font-family: 'Roboto', sans-serif;
            margin: 11px;
            text-shadow: 1px 1px #a4a0a0;
        }

    .prove {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .prov {
        width: 55%;
        text-align: center;
    }

        .prov h2 {
            text-transform: uppercase;
            font-weight: inherit;
            color: #000;
            font-size: 22px;
            font-family: 'Roboto', sans-serif;
        }

    .prov-1 {
        width: 45%;
        float: left;
    }

    .user {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .user-id {
        width: 75%;
    }

    .on-duty {
        width: 25%;
        padding: 14px;
    }

    .on-1 p {
        width: 100%;
        text-align: center;
        height: 145px;
        background: #9b5d41;
        color: green;
        font-size: 39px;
        margin: 0px;
        font-weight: 700;
        border-radius: 43px;
        padding: -4px;
    }
    .sale-2 p {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        line-height: 0.4;
    }
    .sale-2 h3 {
        font-family: 'Roboto', sans-serif;
        color:#000;
    }

    .sale-2 {
        text-align: center;      
        float: left;
        margin-left: 40px;
    }

        .sale-2 h2 {
            font-size: 16px;
            font-weight: bold;
        }

    .sales {
        width: 100%;
        float: left;
        background: var(--main-bg-lcolor);
        display: flex;
        align-items: center;
        padding: 21px 0px
    }

    .sale {
        width: 35%;
    }

    .backs-1 {
        width: 65%;
        display: flex;
        align-items: center;
    }



    .sale-1 {
        width: 50%;
        text-align: center;
    }

    .nots {
        width: 100%;
        float: left;
        background: var(--main-bg-rcolor);
        padding: 0px;
        line-height: 1.5;
    }

        .nots li {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 1.7;
        }

    .headers {
        width: 100%;
        text-align: center;
        padding: 4px 8px;
        display: flex;
        align-items: center;
    }

    .on-duty-1 {
        border: 2px solid var(--main-bg-rcolor) !important;
    }

    .borders {
        border-bottom: 10px solid var(--main-bg-rcolor) !important;
        margin: 10px 14px 28px 14px;
        width: 96.60%;
        text-align: center;
    }

    .user-id td {
        text-transform: uppercase;
    }

    .table2 {
        width: 100%;
        float: right;
        line-height: 4.3;
        font-family: 'Roboto', sans-serif;
        margin-right: 12px;
        color: black;
    }

    .more {
        width: 100%;
        text-align: center;
    }

        .more p {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            padding: 2px 14px;
            color: #000;
            text-align: justify;
        }

    .weave::before {
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .weave::before, .weave::after {
        display: block;
        width: 65px;
        height: 65px;
        border: 2px solid var(--main-bg-rcolor);
        border-radius: 50px;
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
    }

    .weave {
        color: #ffb9ad;
        text-align: center;
        font: 700 22px/30px "Quicksand", sans-serif;
    }

        .weave::after {
            -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
        }

    .weave {
        display: block;
        width: 69px;
        height: 69px;
        border: 2px solid var(--main-bg-rcolor);
        border-radius: 50px;
        margin: 10px 10px !important;
        position: relative;
        color: #ffb9ad;
        text-align: center;
        font: 700 22px/120px "Quicksand", sans-serif;
        background: #fff;
    }

    .sale-3 {
        width: 50%;
        text-align: center;
    }

    .weave p {
        line-height: 1.2;
        padding: 10px;
        color: var(--main-bg-rcolor);
        font-size: 16px;
    }


    .curved-text {
        position: relative;
        display: inline-block;
        margin: 0 auto;
    }

    .curved-text-out {
        float: left;
        min-width: 0px !important;
        text-align: center;
        margin-left: -2px;
    }

    .curved-text span {
        min-width: 0.5em;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .curved-text span {
        font-size: 9px;
        color: #fff;
        margin-left: -7px;
        margin-top: 1px;
    }

    .sale-4 {
        width: 101px;
        height: 101px;
        border: 6px double #dca167;
        border-radius: 50px;
        text-align: center;
        margin-right: 40px;
        background: var(--main-bg-rcolor);
        float: right;
    }
    .error-1 h2{
        background: #ddd;
        padding: 16px;
        text-transform: uppercase;
        color: red;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border:2px solid #ccc;
    }
    .signature {
        width: 120px;
        height: 40px;
    }
</style>

<section id="drag" class="content" style="margin-top: 38px;">
    <div class="container-fluid retailer-page fundtranfer">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="" style="display:none;">
                        <h2 id="word" style="color:black; font-size:16px;padding-top:9px; padding-left:22px; font-family:initial;"></h2>
                    </div>

                    <div class="body rwertfdaaa">
                        @*<div class="table-responsive fundtran-responsive" style="position:inherit;margin-top:-10px;">
                                @if (confirm == true)
                                {
                                    <span>Name : </span>@name
                                    <span>firmname : </span>@firmname
                                    <span>mobile : </span>@mobile
                                    <span>address : </span>@address
                                }
                                else
                                {
                                    <span>@message</span>
                                }
                            </div>*@
                         @if (ViewBag.sts == true)
                            {
                        <button id="download">Print</button>

                        <div id="invoice" class="full-body" style="max-width: 842px; margin: auto;">

                            <div class="full-body-1">
                                <div class="full-body-21">
                                    <div class="full-body-2">

                                    </div>
                                </div>
                                <div class="full-body-22">

                                    <header>
                                        <div class="headers">
                                            <div class="logo">
                                                @if (ViewBag.logo == "")
                                                {
                                                    <img src="/img/Default_Logo.png" class="img-responsive">
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/" + ViewBag.logo)" class="img-responsive">
                                                }
                                                @*   <img src="../../certificate/swift-logo.png" alt="swift-logo">*@
                                            </div>

                                            <div class="headig headig-1">
                                                <h1>Essential service provider to the country<br>(Banking, AEPS & ATM services)</h1>
                                            </div>

                                            <div class="headig-2">
                                                <div class="headig">
                                                    <h1>Essential service provider to the country<br>(Banking, AEPS & ATM services)</h1>
                                                </div>
                                                @*<div class="logo-2">
                                                        <img src="../../certificate/quicksuntech-logo.png" alt="quicksuntech-logo" style="float: right;">
                                                    </div>*@
                                            </div>
                                        </div>
                                    </header>

                                    <div class="holder">
                                        <p>
                                            CERTIFICATE OF ASSOCIATION
                                        </p>

                                    </div>
                                    <div class="prove">
                                        <div class="prov">
                                            <h2 style="font-size: 20.3px;"><b>Authorised business correspondent</b></h2>
                                        </div>

                                        <div class="prov-1">
                                            <div style="width: 96.50%;text-align: center;">
                                                <img src="../../certificate/logo-3.png" alt="Kotak Bank" style="width: 38%;">
                                                <img src="../../certificate/cub-logo-new-size.jpg" alt="CU Bank" style="float: right;width: 157px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="borders" style="border-bottom: 10px solid"></div>
                                    <div class="user">

                                        <div class="on-duty">
                                            <div class="on-duty-1" style="max-width: 164px;max-height: 204px;">
                                                <img src="@ViewBag.photo" alt="Photo">
                                            </div>
                                        </div>
                                        <div class="user-id">
                                            <table class="table2" style="line-height: 3.4;">
                                                <tr>
                                                    <td><b>AGENT NAME:</b></td>
                                                    <td style="text-align:right;">@ViewBag.name</td>
                                                </tr>
                                                <tr>
                                                    <td><b>AGENT FIRM:</b></td>
                                                    <td style="text-align:right;">@ViewBag.firmname </td>
                                                </tr>
                                                <tr>
                                                    <td><b>REGISTERED MOBILE:</b></td>
                                                    <td style="text-align:right;">@ViewBag.mobile</td>
                                                </tr>
                                                <tr>
                                                    <td><b>JOINING DATE:</b></td>
                                                    <td style="text-align:right;">@ViewBag.joindate</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="more">
                                        <p>
                                            The above is hereby authorized as a Banking Channel Partner to provide banking and other financial services provided by the Company from the date of issue to the validity of the Retail Agreement.
                                            For more information on terms and conditions, please visit our website.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="sales">
                                <div class="sale">
                                    <div class="sale-2">
                                        @*<h3>Signature</h3>*@
                                        <img src="~/@ViewBag.signature" class="signature"/>
                                        <p>@ViewBag.name</p>
                                        <p>Authorities Signature</p>

                                    </div>
                                </div>
                                <div class="backs-1">
                                    <div class="sale-1">
                                        <img src="@ViewBag.qr" alt="QR" style="width: 100px;height: 100px;border: 1px solid #fff;width: 94px;height: 94px;">
                                    </div>
                                    <div class="sale-3">
                                        <div class="sale-4">

                                            <div class="curved-text curved-text-out">Essential Services Available Here&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;*&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;</div>
                                            <div class="weave">
                                                <p style="font-size: 15px;line-height: 1.1;padding: 0px;">ON<br>DUTY</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nots">
                                <ul>
                                    <li>This Certificate must be produced as per demand.</li>
                                    <li>This is a system generated certificate.</li>
                                    <li>Holders of this certificate will be acciuntable for ant misuse, loss and damage caused.</li>
                                </ul>
                            </div>
                        </div>
                         }
                            else
                            {
                                <div class="full-body error-1" style="max-width: 842px; margin: auto;">
                                    <h2 style="background: #ddd; padding: 16px; text-transform: uppercase; color: red;text-align:center;font-family: 'Roboto', sans-serif;">@ViewBag.message</h2> 
                                </div>
                            }
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/printThis.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



<script>

        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScrollss","Home")",
                    { "pageindex": pageindex, txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
                    function (data) {

                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>
    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>


<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerfundt');
    });


</script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

<script>
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 0,
                    filename: 'Certificate.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
</script>

<script>
    function updateCurvedText($curvedText, radius) {
        $curvedText.css("min-width", "initial");
        $curvedText.css("min-height", "initial");
        var w = $curvedText.width(),
            h = $curvedText.height();
        $curvedText.css("min-width", w + "px");
        $curvedText.css("min-height", h + "px");
        var text = $curvedText.text();
        var html = "";

        Array.from(text).forEach(function (letter) {
            html += `<span>${letter}</span>`;
        });
        $curvedText.html(html);

        var $letters = $curvedText.find("span");
        $letters.css({
            position: "absolute",
            height: `${radius}px`,
            // backgroundColor:"orange",
            transformOrigin: "bottom center"
        });

        var circleLength = 2 * Math.PI * radius;
        var angleRad = w / (2 * radius);
        var angle = 2 * angleRad * 360 / Math.PI / text.length;
        var d = 2.2;
        $letters.each(function (idx, el) {
            d = d + (4.6 - 1.3) / 44;
            $(el).css({
                transform: `translate(${w / 2}px,0px) rotate(${idx * angle - text.length * angle / d}deg)`
            })
        });
    }

    var $curvedText = $(".curved-text");
    updateCurvedText($curvedText, 44);

    function settingsChanged() {
        $curvedText.text($(".text").val());
        updateCurvedText($curvedText, $(".radius").val());
    }

    $(".radius").on("input change", settingsChanged);
    $(".text").on("input change", settingsChanged);
</script>
