@model IEnumerable<Vastwebmulti.Models.proc_Complaint_request_Result>
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css  */

    

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tmw-total-color-one {
        -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }

    .bread-same-all-page li {
        float: left;
        list-style: none;
    }

    


    /* new css  */

    .retailer-complaint .header {padding: 8px 10px;}
    .retailer-complaint .card {background: #f5f5f5;}
    .retailer-complaint .header h2 span, .retailer-complaint .header h2 i {color: #333 !important;}
    .retailer-complaint .body .form-group {margin-top: 0 !important;}
    .admin-retailer-chat li span img {width: 44px;height: 44px;}
    .retailer-sendmass span p {font-weight: bold;color: var(--main-bg-lcolor);text-align: center;}
    .retailer-sendmass .chat-body.clearfix {width: 48%;float: left;}
    .retailer-sendmass .chat-body.clearfix p {margin: 0px !important;}
    .retailer-sendmass .chat-body.clearfix {width: 48%;float: left;background: var(--main-bg-lcolor);}
    .chat.admin-retailer-chat {width: 100%;float: left;}
    .admin-retailer-chat li {border: 0px !important;}
    .admin-retailer-chat li .chat-body.clearfix {
        width: 48%;margin-top: 0;float: left;height: auto;margin-bottom: 0;
        border-radius: 3px;min-height: inherit;margin-left: 40px;margin-top: 10px;
        box-shadow: 0px 3px 5px 0px #555;position: relative;background: var(--main-bg-lcolor);
        color: #fff;padding: 10px;
    }
    .admin-retailer-chat li .chat-body.clearfix p {color: #fff;width:100%;float:left;}
    .admin-retailer-chat li .chat-body.clearfix .header {padding: 0;width: 100%;float: left;margin-top: 2px;}
    .admin-retailer-chat li .chat-body.clearfix::before {
        content: "";width: 27px;right: 0px;left: -25px;top: 0;
        position: absolute;border-style: solid;border-width: 0 20px 15px 0;
        border-color: transparent var(--main-bg-lcolor) transparent transparent;
    }
    .admin-retailer-chat li .chat-body.clearfix .header p {text-align: right;}
    .admin-retailer-chat li.admin-sendmess .chat-body.clearfix {
        float: right;margin-right: 40px;margin-left: 0;background: var(--main-bg-rcolor);
    }
    .admin-retailer-chat span.chat-img p {
        font-weight: bold;
        color: var(--main-bg-lcolor);
        text-align: center;
    }
    .admin-retailer-chat li.admin-sendmess span.chat-img p {
        color: var(--main-bg-rcolor);
    }
    .admin-retailer-chat li.admin-sendmess .chat-body.clearfix::before {
        left: inherit;
        width: 27px;
        top: 0;
        position: absolute;
        border-style: solid;
        border-width: 0 20px 15px 0;
        border-color: transparent transparent var(--main-bg-rcolor) transparent;
        right: -18px;
    }
    .admin-sendmess .chat-img {
        margin-top: 9px;
    }

    @@media screen and (max-width:767px){
        .retailer-complaint .body {
            height: auto !important;
        }
        .allpage-responshivenew {
            padding: 0px 0;
        }
            .allpage-responshivenew ul li {
                margin-bottom: 6px !important;
            }
        .col-md-8, .col-md-4.servicepaidreport {
            padding-left: 15px;
        }
    }

    @@media screen and (max-width:480px){
        .admin-retailer-chat li .chat-body.clearfix {
            width: 72%;
        }
        .admin-retailer-chat li.admin-sendmess .chat-body.clearfix {
            margin-right: 25px;
        }
        .chat li.left .chat-body {
            margin-left: 25px !important;
        }
    }

</style>

<link href="~/Swalalert/chatting.css" rel="stylesheet" />
<section class="content content-fourdesign-page allpage-four-design-section" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid only-fullwidth-fourdesign-new">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Complaint</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Complaint</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page allpage-responshivenew">
                <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                    <ul style="margin:0;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                            </a>
                        </li>

                        <li class="fullbodydycolorbg tmw-total-color-one">
                            Complaint
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 retailer-complaint">
                <div class="page-header-third">
                    <div class="card changeback-four-design" style="">

                        <div class="header" style="background-color:#dedddd;">
                            <h2>
                                <i class="fa fa-keyboard-o" aria-hidden="true" style="color:black; font-size:21px;"></i>&nbsp;&nbsp;<span style="color:black;">Insert Complaint</span>
                            </h2>

                        </div>
                        @using (Html.BeginForm("Complaint_insert", "Home", FormMethod.Post))
                        {
                            <div class="body" style="height:80vh;">
                                <div class="form-group" style="margin-top:22px;">
                                    <div class="">
                                        <textarea id="message" name="message" class="form-control" style="height:189px; border:1px solid #1b171714;" required="" placeholder="Enter Message"></textarea>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                            <i class="fa fa-send-o" style="font-size: 18px;top:2px;left: -13px;padding: 8px 8px 8px 8px;background: whitesmoke;border-radius: 35px;"></i>
                                            <span style="top: 3px;font-weight: 600;font-size: 19px;text-transform: uppercase;">Insert Message</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                            <i class="fa fa-eraser" style="top: 1px;"></i>
                                            <span style="top:-2px;font-size: 14px;">Reset</span>
                                        </button>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("Dashboard","Home")" class="btn  waves-effect" style="float:right;border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                            <i class="fa fa-arrow-left" style="top:0px;color: #525050;"></i>
                                            <span style="top:-2px;font-size: 14px;color:black;">Back</span>
                                        </a>
                                    </div>
                                </div>




                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="page-header-third">

                    <div class="card changeback-four-design" style="">
                        <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;">
                            <span class="fa fa-comments-o"></span> Chatting Details

                        </div>
                        <div class="panel-collapse collapse" style="display:block;">
                            <div class="panel-body only-back-transfer-four" style="height:424px;">

                                <ul class="chat admin-retailer-chat">

                                    @foreach (var item in Model)
                                    {

                                        if (item.resdate != null)
                                        {
                                            <li class="admin-sendmess" style="border:3px solid #fbddec;border-radius:10px;">
                                                <span class="chat-img pull-right">
                                                    <img src="../../images/reportimage/chatuserimage.png">
                                                    <p style="">Admin</p>
                                                </span>
                                                <div class="chat-body clearfix">

                                                    <p style="margin-left:0px;">
                                                        @item.response
                                                    </p>
                                                    <div class="header" style="border-bottom:none;">
                                                        <strong class="pull-right primary-font"></strong>
                                                        <p class="text-muted" style="margin-top:0px;"><span class="fa fa-clock-o"></span>&nbsp;@item.resdate</p>

                                                    </div>
                                                </div>
                                            </li>

                                        }
                                        if (item.rdate != null)
                                        {

                                            <li class="left clearfix retailer-sendmass" style="border:3px solid whitesmoke;border-radius:10px;">
                                                <span class="chat-img pull-left">
                                                    <img src="../../images/reportimage/chatuserimage.png">
                                                    <p style="">You</p>
                                                </span>
                                                <div class="chat-body clearfix">

                                                    @if (item.sts == "Open")
                                                    {
                                                        <p style="margin-left:-19px; font-weight:700;">@item.complant </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-left:-19px;">@item.complant </p>
                                                    }
                                                    <div class="header" style="border-bottom:none;">
                                                        <strong class="primary-font"></strong> <p class="pull-right text-muted" style="margin-top:-14px;">
                                                            <span class="fa fa-clock-o"></span>&nbsp;@item.rdate
                                                        </p>
                                                    </div>

                                                </div>



                                            </li>
                                        }

                                    }


                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
                
            </div>

        </div>

    </div>
</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



