@model IEnumerable<Vastwebmulti.Models.Convence_Fees>
@{
    ViewBag.Title = "ConvenceFees";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        @Html.Partial("_convencefee")
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">

                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">ALL WEB SUCCESS LOGIN HISTORY&nbsp;></li>
                        </ol>
                    </div>

                    <div class="body" style="margin-top:-28px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-21px;">
                            <table id="example" class="table table-bordered " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;Id</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.UserId</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>@item.CurrentLoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

