@model IEnumerable<Vastwebmulti.Models.show_dispute_list_Result>
@{
    ViewBag.Title = "DisputeReport";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .form-iconmy.form-iconmyss {z-index: 9;}
    
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .buttonPdf {
        display: block !important;
    }

    .clsshide-button {
        padding: 5px 17px !important;
        border: 1px solid #dddddd;
        color: #555;
        background: transparent;
    }

    .col-md-3.buttonPdf button:last-child {
        padding-left: 15px;
    }
    /* new css  */
    .disputesateright .col-md-2.despute-search {
        float: left;
    }
    .disputesateright {
        float: left;
    }
        .disputesateright .col-md-3.dispute-date {
            width: 40%;
            float: left;
        }
    .col-md-3.vouchercontent.voucherselect.dispute-select.fourdesign-marbin-b {
        float: left;
        width: 180px;
        margin: 0;
    }
    .vouchercontent button.dropdown-toggle, .vouchercontent input {
        margin-bottom: 0px;
    }

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @@media only screen and (max-width:1169px) {
        .actual-clearfix .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:990px) {
        .disputesateright.responsive-change {
            position: relative;
            width: 75%;
        }
    }

    @@media only screen and (max-width:767px) {
        .table-responsive > .table-bordered {
            border: 1px solid var(--border-color);
        }
    }
    @@media only screen and (max-width:580px) {
        .disputesateright.responsive-change {
            width: 100%;
            padding-bottom: 4px;
        }
        .disputesateright .col-md-3.dispute-date {
            width: 50%;
        }
        .col-md-3.vouchercontent.voucherselect.dispute-select.fourdesign-marbin-b {
            width: 35%;
        }

    }

    @@media only screen and (max-width:480px) {
        .col-md-3.vouchercontent.voucherselect.dispute-select.fourdesign-marbin-b {
            width: 100%;
            padding-bottom: 4px;
            padding-right: 0;
        }
        .disputesateright .col-md-3.dispute-date {
            width: 80%;
        }
        .disputesateright .col-md-2.despute-search {
            width: 20%;
        }

    }

    /* new css  */
</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Dispute List</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Dispute List</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 disputetransition" style="padding-left: 11px;">
                <div class="page-header-third">
                    <div class="bread-same-all-page" style="width:100%;float:left;">

                        <ul style="margin:0;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Dispute Transition
                            </li>
                        </ul>
                        
                    </div>
                </div>
                
                
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 transition-detaildespute">
                <div class="page-header-third">
                    <div class="card card-responsive class-back-tra-fourdesign fix-bootmmarg-fourdesign" style="width:100%;float:left;">
                        @using (Html.BeginForm("DisputeReport", "Home", FormMethod.Post))
                        {
                            <div class="res_set">
                                <div class="disputesateright responsive-change">
                                    <div class="col-md-3 vouchercontent voucherselect dispute-select fourdesign-marbin-b">
                                        <input type="text" placeholder="Enter Dispute Number" />
                                    </div>
                                    <div class="col-md-3 dispute-date">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                                <span class="input-group-addon" style="display:none;">
                                                    <i class="fa fa-exchange"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2 despute-search">
                                        <div class="form-group">
                                            <center>
                                                <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                    <span style="top:-2px;color:black;">Search</span>
                                                </button>
                                            </center>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second" style="text-align:right;">

                                    <button style="color:#555 !important;" id="btnPDF">PDF</button>
                                    <button style="color:#555 !important;" id="btnExport">Export</button>

                                </div>

                            </div>
                        }
                    </div>
                    <div class="card class-back-tra-fourdesign" style="width:100%;float:left;">
                        <div class="" style="">
                            <div class="body table-responsive dispite-responsive fdfff tablethirddesign-new tablethirddesign-newnew" style="position: inherit; padding: 0px; padding-top: 4px;">
                                <table class="table table-bordered table-striped third-design-table fourdesign-data-table">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Sr</th>
                                            <th>Status&nbsp;&&nbsp;Description</th>
                                            <th>Number</th>
                                            <th>Operator&nbsp;Name</th>
                                            <th>₹&nbsp;Amount</th>
                                            <th>Transition&nbsp;Date</th>
                                            <th>Dispute&nbsp;Reason</th>
                                            <th>Response</th>
                                            <th>Dispute&nbsp;Date</th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        @if (Model.Count() > 0)
                                        {

                                            int i = 1;
                                            foreach (var item in Model)
                                            {
                                                var color = "";
                                                var sts = "";
                                                var img = "";
                                                var style = "";
                                                var pendingColor = "";
                                                if (item.sts.Contains("Pending"))
                                                {
                                                    color = "#FF9800";
                                                    sts = "Request Pending";
                                                    img = "../../ashok-images/clkk.png";
                                                    style = "height:20px;width:20px;margin-right:3px;float:left;background-color:none;font-size:0px !important;";
                                                    pendingColor = "#fff8d1";
                                                }
                                                if (item.sts.Contains("Rejected"))
                                                {
                                                    color = "red";
                                                    sts = "Request Rejected (Transition Confirm Successful)";
                                                    img = "../../ashok-images/closes.svg";
                                                }
                                                if (item.sts.Contains("Success"))
                                                {
                                                    color = "green";
                                                    sts = "Success";
                                                }
                                                if (item.sts.Contains("Failed"))
                                                {
                                                    color = "green";
                                                    sts = "Failed";
                                                    img = "../../ashok-images/closes.svg";
                                                }
                                                if (item.sts.Contains("Approved"))
                                                {
                                                    color = "green";
                                                    sts = "Request Approved (Transition Refund Successfully)";
                                                    img = "../../ashok-images/correct.svg";
                                                }
                                                <tr style="background-color:@pendingColor">
                                                    <td>@i</td>
                                                    <td style="color:#555;font-weight:400;"><img style="@style background-color:@color;" src=@img /><span style="font-size:0;">@Html.DisplayFor(modelItem => item.sts)</span> @sts</td>
                                                    <td>@Html.DisplayFor(modelItem => item.rch_number)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.rch_amount)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.rch_time)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.dispute_region)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.comment)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.dis_time)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.sts)</td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p style="font-size:22px;margin-top:0px;margin-bottom:0;text-align:center;color:#555;font-weight:700;">No Data Found !</p></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerdispute');
    });


</script>

<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelDisputeReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_DisputeReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
