@model IEnumerable<Vastwebmulti.Models.Show_Ecommerce_Retailer_Report_Result>
@{
    ViewBag.Title = "Ecommerce_Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }


    .bread-same-all-page {
        float: left;
        width: 100%;
    }
        .bread-same-all-page li.smli {
            font-weight: bold;
        }
        .bread-same-all-page li {
            float: left;
            margin-bottom: 11px;
            list-style: none;
        }
    .tmw-total-color-one {
        -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }
    .bread-same-all-page a {
        font-size: 15px;
        color: #000;
        float: left;
        font-weight: normal;
    }
    .bread-same-all-page li {
        margin: 6px 0;
    }


    /* new css  */

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    @@media only screen and (max-width:1169px){

        .container-fluid.giftcardpage {
            padding-left: 15px;
        }


    }

    @@media only screen and (max-width:991px) {

        .col-md-3.giftfor {
            width: 33%;
            float: left;
        }
        .col-md-2.giftsecond {
            float: left;
            width: 100px;
        }
        .giftcardcontent .col-md-2.giftfirst {
            float: left;
        }


    }

    @@media only screen and (max-width:767px){

        .eccomerce-first .col-md-2.giftsecond {
            width: 50%;
            margin-bottom: 4px;
        }
        .eccomerce-first .col-md-2.giftfirst {
            width: 50%;
            margin-bottom: 4px;
        }
        .giftcardcontent .col-md-2.giftfirst button, .giftcardcontent .col-md-2.giftfirst .btn-group.bootstrap-select.form-control.open button {
            background-size: 10px;
        }
        .eccomerce-first .col-md-3.giftfor input {
            text-align: left;
            padding-left: 28px !important;
        }

    }

    @@media only screen and (max-width:480px) {
        .eccomerce-first .col-md-2.giftsecond {
            width: 100%;
        }

        .eccomerce-first .col-md-2.giftfirst {
            width: 100%;
        }
        .giftcardcontent .col-md-2 {
            padding-left: 0px;
        }
        .eccomerce-first .col-md-3.giftfor {
            width: 100%;
            margin-bottom: 4px;
            padding: 0;
        }
        .giftcardcontent .col-md-1.giftfive {
            width: 50%;
        }
        .col-md-3.buttonPdf {
            width: 100%;
        }
        
    }

    @@media only screen and (max-width:420px) {

        .ecommerce-page-responshive .giftsecond, .ecommerce-page-responshive .giftfirst {
            width: 100% !important;
        }

        

    }

</style>
<section class="content content-margin-second" style="">
    <div class="container-fluid giftcardpage ecommerce-page ecommerce-page-responshive">

        <div class="page-header-third">
            <div class="addtfgf-new">
                <div class="bread-same-all-page">
                    <ul>
                        <li class="smli">
                            <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                            </a>
                        </li>

                        <li class="fullbodydycolorbg tmw-total-color-one">
                            Ecommerce Report
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="page-header-third">

                        @using (Html.BeginForm("Ecommerce_Report", "Home", FormMethod.Post))
                        {
                            <div class="col-md-7 giftcardcontent eccomerce-first">
                                <div class="row">
                                    <div class="col-md-2 giftsecond">
                                        <div class="form-group">
                                            <div class="" style="">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="All Status",Value="ALL",},
                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                new SelectListItem{Text="Pending",Value="PENDING"},
                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                            </div>
                                        </div>
                                    </div>


                                    @*<div class="col-md-2 giftthree">
                                            <div class="form-group">
                                                <div class="" style="">
                                                    @Html.DropDownList("ddl_top", new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text="50",Value="50"},
                                    new SelectListItem{Text="100",Value="100"},
                                    new SelectListItem{Text="200",Value="200"},
                                    new SelectListItem{Text="500",Value="500"},
                                    new SelectListItem{Text="1500",Value="1500"},
                                    new SelectListItem{Text="All",Value="All"}
                                    }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="col-md-2 giftfirst">
                                        <div class="form-group">
                                            <div class="" style="">
                                                @Html.DropDownList("category", ViewBag.category as SelectList, "ALL Category", new { id = "category", @class = "selectpicker form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 giftfor">
                                        <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                                </div>
                                                <span class="input-group-addon" style="display:none;">
                                                    <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-1 giftfive">
                                        <div class="form-group">
                                            <div class="form-line" style="border-bottom:none;">
                                                <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-3 buttonPdf giftcardpdf retailer-pdf-second">

                            <button>PDF</button>
                            <button id="btnExport">Export</button>
                            <button>Total</button>
                        </div>
                        <div class="col-md-6 giftcard-button" style="display:none;">
                            <div class="row">
                                <div class="form-group" style="">
                                    <div style="padding-top: 22px;  margin-right: 4px; float:right;">
                                        <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;PDF&nbsp;@ViewData["totalfailed"]</button>
                                        <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;Export&nbsp;@ViewData["totalpending"]</button>
                                        <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Total&nbsp;@ViewData["totalsuccess"]</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                <div class="card">
                    <div class="page-header-third">
                        <div class="body" style="padding: 0px;">
                            <div class="table-responsive" style="position:inherit;">
                                <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            @*<th>Retailer&nbsp;Name</th>*@
                                            <th>Vendor&nbsp;Name</th>
                                            <th>Product&nbsp;Name</th>
                                            <th>List&nbsp;Price</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                            <th>OTP</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">

                                                @*<td>@item.RetailerName</td>*@
                                                <td>@item.Name</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.ListPrice</td>
                                                <td>@item.StandardPrice</td>
                                                <td>@item.QTY</td>
                                                <td>@item.Amount</td>
                                                <td>@item.DOTP</td>
                                                @if (item.AdminStatus == 1)
                                                {
                                                    <td>Pending</td>
                                                }
                                                else if (item.AdminStatus == 2)
                                                {
                                                    <td>Success</td>
                                                }
                                                else if (item.AdminStatus == 3)
                                                {
                                                    <td>Rejected</td>
                                                }

                                                <td>@item.OrderDate</td>
                                            </tr>

                                        }


                                        <tr>
                                            <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

                                        </tr>




                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Calendar Javascript-->
<script>
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>


<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerpurchaseee datepickerecommwqxd');
    });
</script>

<script>
    $(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var category = $('#category').val();
        var ddl_top = $('#ddl_top').val();
        var txt_frm_date = $('#ddl_status').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("Excel_Ecommerce_Report", "Home")?category=' + category + '&ddl_top=' + ddl_top + '&ddl_status=' + ddl_status + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>