@{
    ViewBag.Title = "FINOCMS";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
<link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
<style>
    /* new css */

    #reportallinone {
        overflow-y: auto;
    }

    .newpagecustomertyui .money-transform-content {
        overflow: inherit;
    }
    #fino_cms_table {
        padding: 0;
    }
        #fino_cms_table thead, #fino_cms_table tbody {
            display: table;
            width: 100%;
        }
    .tabspage {
        background: #fff;
    }
    #status {
        width: 25%;
        margin-right: 5px;
    }
    #number {
        width: 260px;
    }
    .input-daterange {
        width: 35%;
        margin: 0px 5px;
    }
    #search_report {
        height: 34px;
        padding: 6px 15px;
    }
    #reload h1 {
        position: relative !important;
        text-align: center;
    }


    /* new css  */

    .transaction ul li.transaction-left, .transaction ul li.transaction-right {
        height: 20px;
    }

    .loader::after {
        border-color: var(--main-bg-lcolor) !important;
        border-top-color: transparent !important;
    }

    .aadharpaysup {
        animation: blinks 2s linear infinite;
        font-size: 8px;
        top: -10px;
        left: -12px;
    }

    @@keyframes blinks {
        0% {
            color: yellow;
        }

        50% {
            color: red;
        }

        100% {
            color: orange;
        }
    }

    @@media screen and (max-width:1366px) {
        .newpagecustom.newpagecustomertyui ul li span.aeps-aadharclassdiv {
            left: 0px !important;
        }
    }
    @@media only screen and (max-width:1024px){

        .money-transform-content .col-md-12 {
            display: block !important;
        }
        #status {
            width: 49%;
            float: left;
            margin-bottom: 5px;
        }
        #number {
            width: 50%;
            float: left;
            margin-bottom: 5px;
        }
        .input-daterange {
            width: 100%;
            margin: 0;
        }

            .input-daterange .datesate {
                float: left;
                width: 50%;
                position: relative;
                margin-bottom: 5px;
            }
                .input-daterange .datesate #iconmyssee {
                    left: 0 !important;
                }

    }

    @@media only screen and (max-width:767px){

        #reload h1 {
            position: relative !important;
            margin-top: 0;
            text-align: center;
            font-size: 25px;
        }
        .navbar-header .bars {
            top: 6px !important;
        }
        .responcive {
            padding:0;
        }

    }


    @@media only screen and (max-width:600px){
        #status {
            width: 50%;
            margin-right: 0px;
        }
        
    }
    @@media only screen and (max-width:480px){
        #status{
            width:100%; 
        }
        #number {
            width: 100%;
        }
        .newpagecustom.newpagecustomertyui{
            padding-right:13px;
        }


    }



</style>
<section class="newpagecustom newpagecustomertyui newpagecustomertyui-second content-fourdesign-page allpage-four-design-section widthinherit-four">
    <div class="col-md-12 responcive" style="padding-left: 0; font-size: 18px; ">
        <div class="page-header-third">
            <a href="@Url.Action("FINOCMS","Home")">
                <div style="width: 50%; border: 1px black solid; float: left; padding: 8px; text-align: center; color: #fff; background: var(--main-bg-lcolor);">
                    Fino CMS
                </div>
            </a>
            <a href="@Url.Action("AirtelCMS","Home")">
                <div style="width: 50%; border: 1px black solid; float: left; padding: 8px; text-align: center; color: black; ">
                    Airtel CMS
                </div>
            </a>
        </div>
        
    </div>


    <div id="full" class="col-md-4 tabspage">
        <div class="page-header-third">
            <!--<ul class="tabsmy" id="tabsmyss" style="display:flex;">
            <li class="tab-link-new fullbodydycolorbg current" data-tab="tab-1" onclick="fetch_account_opening_status()" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img style="height: 65px;" src="~/images/transfer.svg" /></strong><img class="hover-display-none" src="~/images/transfer-money.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">Axis&nbsp;Bank<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 10px;position:static;"></sup></span></li>-->
            @*<li class="tab-link-new fullbodydycolorbg" data-tab="tab-2" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img src="~/images/aeps1.png" /></strong><img class="hover-display-none" src="~/images/aespicon.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;position: relative;">ICICI&nbsp;Bank<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 10px;position:static;"></sup></span></li>*@
            <!--</ul>-->

            <div id="tab-1" class="tab-content current">
                <div id="reload" style="height: 100%; position: relative">
                    @*@Html.Partial("_account_opening")*@
                    <h1 style="position: absolute; top: 0px">Fino CMS Recharge</h1>
                    <div style="height: 100%; display: grid;">
                        <small class="text-danger" style="position: absolute; top: 40%" id="fino_error"></small>
                        <button class="btn btn-default outline" id="generate_url_btn" style="margin: auto; font-size: larger; border-radius: 99px; padding: 10px 20px;">Generate Url</button>
                    </div>
                </div>
            </div>
            <div id="backtodashboardcall" data-request-url="@Url.Action("Dashboard", "Home")"></div>
            <input type="hidden" id="latss" required name="latss" />
            <input type="hidden" id="longloc" required name="longloc" />
        </div>
    </div>
    <!--Change-New-->
    <div class="col-md-8 money-transform-content money-transform-responshive oveflow-four-css">

        <div class="page-header-third" style="float: left; width: 100%; margin-top: 2px;">
            <div style="margin-bottom: 5px; float: left; width: 100%;">
                <form>
                    <div style="display: flex; justify-content: center; align-items: center;padding:0;" class="col-md-12">
                        @*@Html.TextBox("status", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off", @placeholder = "Enter Status" })*@
                        <select name="status" class="form-control" id="status">
                            <option value="">Status</option>
                            <option value="Success">Success</option>
                            <option value="Failed">Failed</option>
                            <option value="Pending">Pending</option>
                        </select>
                        @Html.TextBox("number", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off", @placeholder = "Enter Mobile" })
                        <div class="input-daterange input-group" style="display: flex;">
                            <div class="datesate datesates focused">
                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                @Html.TextBox("from_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; display: block", autocomplete = "off" })
                            </div>
                            @*<span class="input-group-addon" style="display:none;">
                                    <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                </span>*@
                            <div class="datesate datesatese">
                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                @Html.TextBox("to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; display: block", autocomplete = "off" })
                            </div>
                        </div>
                        <input type="button" name="submit" value="Search" id="search_report" class="btn" />
                    </div>
                </form>
            </div>
            <div id="reportallinone">
                @Html.Partial("_FinoCMSReport")
            </div>
        </div>

    </div>
</section>
<script>
    $('ul.tabsmy li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabsmy li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
</script>

<script>
    $(document).ready(() => {
    })


</script>

<script>

    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
            !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
    }
</script>

<script>
    $('#generate_url_btn').click(() => {
        $('#fino_error').text('')
        $.ajax({
            url: '@Url.Action("fino_generate_url", "Home")',
            cache: false,
            type: "GET",
            cache: false,
            dataType: "html",
            success: function (data) {
                data = JSON.parse(data);
                if (data.status) {
                    window.open(data.url, "_blank")
                    return;
                }
                $('#fino_error').text(data.message);
            }
        })
    });

    $('#search_report').click(() => {
        var status = $('#status').val() || '';
        var number = $('#number').val() || '';
        var from = $('#from_date').val();
        var to = $('#to_date').val();
        $.ajax({
            url: '@Url.Action("fino_cms_report", "Home")?status=' + status + '&number=' + number + '&from=' + from + '&to=' + to,
            cache: false,
            type: "GET",
            cache: false,
            dataType: "html",
            success: function (data) {
                $('#reportallinone').html(data);
            }
        })
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });

        $("#from_date").datepicker("setDate", new Date());
        $("#to_date").datepicker("setDate", new Date());

    });


</script>



