@model Vastwebmulti.Areas.RETAILER.ViewModels.FlightDetailsVM
@{
    ViewBag.Title = "Travel";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    decimal markup = ViewBag.RetailerMarkup;
}
<style>
    .scrollypy {
        overflow-y: auto !important;
        height: 250px;
    }

    .btmPlusMinus {
        padding: 3px 6px;
        margin-right: 4px;
        padding-bottom: 6px;
        border-radius: 5px;
    }

        .btmPlusMinus i {
            font-size: 10px;
        }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul#horizontal-list {
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
    }

        ul#horizontal-list li {
            display: inline;
            text-align: center;
            padding: 20px;
        }

    span.field-validation-error {
        font-size: 12px;
        display: block;
        margin-top: 5px;
        font-weight: normal;
        color: #F44336;
    }

    .vertical-text {
        /*transform: rotate(90deg);
    transform-origin: left top 0;
    float:left;
    position:absolute;*/
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        bottom: 0%;
        top: 125%;
        right: 93%;
        position: absolute;
        color: #ed217c;
    }
</style>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/AdminDesign/Retailer_Slider/Slieder.css" rel="stylesheet" />
@*@Html.Partial("_FareQuote",Model.FareQuoteVM)*@
<section class="content" style="margin-left: 10px;margin-right: 10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <!-- Flight Details start -->
                <div class="block-header" style="padding: 12px 0 22px 1px;margin-bottom: 20px;">
                    @*<h2>NO HEADER CARDS</h2>*@
                    <div class="col-md-6 pull-left">
                        <h2>Review Flight</h2>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        @*<button type="button" class="btn bg-purple waves-effect pull-right">
                                <i class="material-icons">search</i>
                                <span>Modify Search</span>
                            </button>*@
                        <a src="javascript:void(0)">change Flight</a>
                    </div>
                </div>

                <div class="row">

                    @if (Model.Onward.FareQuoteVM != null)
                    {
                        int SegmentsIndex = 0;
                        foreach (var item in Model.Onward.FareQuoteVM.Content.Addinfo.Results.Segments)
                        {

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">

                                    <div class="body bg-white">
                                        <div class="table">
                                            @foreach (var sgmtItem in item)
                                            {
                                                <div class="row clearfix">
                                                    <div class="col-md-3" style="padding-right:0px;padding-left:0px;">
                                                        @if (SegmentsIndex == 0)
                                                        {
                                                            <strong class="vertical-text">DEPARTURE</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong class="vertical-text">RETURN&nbsp;&nbsp;</strong>
                                                        }

                                                        <div class="media" style="margin:0px;">
                                                            <div class="media-left">
                                                                <a href="javascript:void(0);">
                                                                    @if (sgmtItem.Airline.AirlineCode == "AI")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.airindia.com?size=64" width="64" height="64">
                                                                    }
                                                                    else if (sgmtItem.Airline.AirlineCode == "6E")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.goindigo.in?size=32" width="32" height="32">
                                                                    }
                                                                    else if (sgmtItem.Airline.AirlineCode == "SG")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.spicejet.com/?size=32" width="32" height="32">
                                                                    }
                                                                    else if (sgmtItem.Airline.AirlineCode == "9W")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.jetairways.com?size=32" width="32" height="32">
                                                                    }
                                                                    else if (sgmtItem.Airline.AirlineCode == "9W")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.jetairways.com?size=32" width="32" height="32">
                                                                    }
                                                                    else if (sgmtItem.Airline.AirlineCode == "UK")
                                                                    {
                                                                        <img class="media-object" src="https://logo.clearbit.com/www.airvistara.com?size=32" width="32" height="32">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="media-object" src="http://placehold.it/32x32" width="32" height="32">
                                                                    }

                                                                </a><br />
                                                            </div>
                                                            <div class="media-body" style="text-align:left;">
                                                                <h4 class="media-heading">@sgmtItem.Airline.AirlineName</h4>
                                                                @sgmtItem.Airline.AirlineCode - @sgmtItem.Airline.FlightNumber
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="timeDiv col-md-9" style="padding-right:0px;padding-left:0px;">
                                                        <div class="row">
                                                            <div class="col-md-3" style="padding-left:0px;padding-right:0px;">
                                                                <strong>@sgmtItem.StopPointDepartureTime.ToString("HH:mm")</strong> <br />
                                                                <Bold>@sgmtItem.StopPointDepartureTime.ToString("ddd, dd MMM yyyy")</Bold> <br />
                                                                @sgmtItem.Origin.Airport.CityName (@sgmtItem.Origin.Airport.AirportCode) <br />
                                                                @sgmtItem.Origin.Airport.AirportName (Terminal : @sgmtItem.Origin.Airport.Terminal)
                                                            </div>
                                                            <div class="col-md-3" style="text-align:right;padding-right:0px;">

                                                                <div class="demo-google-material-icon" style="text-align:center;">
                                                                    ------------<i class="material-icons">flight_takeoff</i>------------
                                                                </div>
                                                                Baggage(@sgmtItem.Baggage + @sgmtItem.CabinBaggage) KG

                                                            </div>
                                                            <div class="col-md-3" style="padding-right:0px;">
                                                                <strong>@Convert.ToDateTime(sgmtItem.Destination.ArrTime).ToString("HH:mm")</strong> <br />
                                                                <Bold>@Convert.ToDateTime(sgmtItem.Destination.ArrTime).ToString("ddd, dd MMM yyyy")</Bold> <br />
                                                                @sgmtItem.Destination.Airport.CityName (@sgmtItem.Destination.Airport.AirportCode)<br />
                                                                @sgmtItem.Destination.Airport.AirportName (Terminal : @sgmtItem.Destination.Airport.Terminal)
                                                            </div>
                                                            <div class="col-md-2">
                                                                @{
                                                                    TimeSpan spWorkMin = TimeSpan.FromMinutes(sgmtItem.Duration);
                                                                }
                                                                @string.Format("{0:00}:{1:00}", (int)spWorkMin.TotalHours, spWorkMin.Minutes) approax
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>

                            SegmentsIndex++;
                        }
                    }
                </div>
                @if (Model.isDomastic && Model.JourneyType == 2)
                {
                    <div class="row">
                        @if (Model.Inward != null && Model.Inward.FareQuoteVM != null)
                        {
                            foreach (var sgmt in Model.Inward.FareQuoteVM.Content.Addinfo.Results.Segments)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body bg-white">
                                            <div class="table">
                                                @foreach (var item in sgmt)
                                                {
                                                    <div class="row clearfix">
                                                        <div class="col-md-3" style="padding-right:0px;padding-left:0px;">
                                                            <strong class="vertical-text" style="padding-right: 25px;">RETURN</strong>
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="javascript:void(0);">
                                                                        @if (item.Airline.AirlineCode == "AI")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.airindia.com?size=64" width="64" height="64">
                                                                        }
                                                                        else if (item.Airline.AirlineCode == "6E")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.goindigo.in?size=64" width="64" height="64">
                                                                        }
                                                                        else if (item.Airline.AirlineCode == "SG")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.spicejet.com/?size=64" width="64" height="64">
                                                                        }
                                                                        else if (item.Airline.AirlineCode == "9W")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.jetairways.com?size=64" width="64" height="64">
                                                                        }
                                                                        else if (item.Airline.AirlineCode == "9W")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.jetairways.com?size=64" width="64" height="64">
                                                                        }
                                                                        else if (item.Airline.AirlineCode == "UK")
                                                                        {
                                                                            <img class="media-object" src="https://logo.clearbit.com/www.airvistara.com?size=64" width="64" height="64">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="media-object" src="http://placehold.it/64x64" width="64" height="64">
                                                                        }

                                                                    </a><br />
                                                                </div>
                                                                <div class="media-body" style="text-align:left;">
                                                                    <h4 class="media-heading">@item.Airline.AirlineName</h4>
                                                                    @item.Airline.AirlineCode - @item.Airline.FlightNumber
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="timeDiv col-md-9" style="padding-right:0px;padding-left:0px;">
                                                            <div class="col-md-3" style="padding-left:0px;padding-right:0px;">
                                                                <strong>@item.StopPointDepartureTime.ToString("HH:mm")</strong> <br />
                                                                <Bold>@item.StopPointDepartureTime.ToString("ddd, dd MMM yyyy")</Bold> <br />
                                                                @item.Origin.Airport.CityName (@item.Origin.Airport.AirportCode) <br />
                                                                @item.Origin.Airport.AirportName (Terminal : @item.Origin.Airport.Terminal)
                                                            </div>
                                                            <div class="col-md-3" style="text-align:right;padding-right:0px;">

                                                                <div class="demo-google-material-icon" style="text-align:center;">
                                                                    ------------<i class="material-icons">flight_takeoff</i>------------
                                                                </div>
                                                                Baggage(@item.Baggage + @item.CabinBaggage) KG

                                                            </div>
                                                            <div class="col-md-3" style="padding-right:0px;">
                                                                <strong>@Convert.ToDateTime(item.Destination.ArrTime).ToString("HH:mm")</strong> <br />
                                                                <Bold>@Convert.ToDateTime(item.Destination.ArrTime).ToString("ddd, dd MMM yyyy")</Bold> <br />
                                                                @item.Destination.Airport.CityName (@item.Destination.Airport.AirportCode)<br />
                                                                @item.Destination.Airport.AirportName (Terminal : @item.Destination.Airport.Terminal)
                                                            </div>
                                                            <div class="col-md-2">
                                                                @{
                                                                    TimeSpan spWorkMin = TimeSpan.FromMinutes(item.Duration);
                                                                }
                                                                @string.Format("{0:00}:{1:00}", (int)spWorkMin.TotalHours, spWorkMin.Minutes) approax
                                                            </div>

                                                            @*<div class="col-md-2">
                                                                    <button class="btn btn-primary bg-dark-green">Book Now</button>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                <!-- #END# Flight Details start -->
                <!-- Passanger Details-->
                @*<form id="form_advanced_validation" method="POST" novalidate="novalidate">*@
                @using (Html.BeginForm("BookingReview", "Home", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.ValidationMessage("CustomError")
                    List<SelectListItem> Title = new List<SelectListItem>()
                                            {
                              new SelectListItem {Text="MR",Value="Mr",Selected=false },
                              new SelectListItem {Text="Ms",Value="Ms" },
                              new SelectListItem {Text="Mrs",Value="Mrs"},
                              new SelectListItem {Text="Miss",Value="Miss"},
                              new SelectListItem {Text="Mstr",Value="Mstr" },
                                };
                    @Html.HiddenFor(m => m.JourneyType)
                    @Html.HiddenFor(m => m.InBoundResultIndexForSpacailReturn)
                    int PaxCounter = 1;
                    int adultCounter = 1;

                    foreach (var item in Model.AdultPax)
                    {
                        @Html.HiddenFor(m => m.AdultPax[adultCounter - 1].PaxType)
                        <!-- Adult Details-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="card">
                                <div class="header">
                                    <h2>Passanger @PaxCounter (Adult @adultCounter)  </h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-2">
                                            <div class="form-group form-float">
                                                <div class="form-line focused">
                                                    @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                    @Html.DropDownListFor(m => m.AdultPax[adultCounter - 1].Title, Title, "Title", new { @class = "form-control" })
                                                    @*<label class="form-label">Min/Max Length</label>*@
                                                </div>
                                                <div class="help-info">Title</div>
                                                @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].Title, "")
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line ">
                                                    @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                    @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].FirstName, new { @class = "form-control" })
                                                    @*<label class="form-label">First Name</label>*@
                                                </div>
                                                <div class="help-info">Adult Pax First Name</div>
                                                @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].FirstName, "")
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line ">
                                                    @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                    @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].LastName, new { @class = "form-control" })
                                                    @*<label class="form-label">Last Name</label>*@
                                                </div>
                                                <div class="help-info">Adult Last Name</div>
                                                @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].LastName, "")
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                    @Html.EnumDropDownListFor(m => m.AdultPax[adultCounter - 1].Gender, new { @class = "form-control" })
                                                    @*<label class="form-label">Min/Max Length</label>*@
                                                </div>
                                                <div class="help-info">Gender</div>
                                                @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].Gender, "")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        @if (PaxCounter == 1)
                                        {
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].ContactNo, new { @class = "form-control" })
                                                        @*<label class="form-label">Mobile</label>*@
                                                    </div>
                                                    <div class="help-info">Mobile Number</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].ContactNo, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].Email, new { @class = "form-control" })
                                                        @*<label class="form-label">Email</label>*@
                                                    </div>
                                                    <div class="help-info">Email Address</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].Email, "")
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                    @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].DateOfBirth, new { @type = "date", @class = "form-control" })
                                                    @*<label class="form-label">D.O.B</label>*@
                                                </div>
                                                <div class="help-info">Date od Birth</div>
                                                @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].DateOfBirth, "")
                                            </div>
                                        </div>
                                        @*</div>
                                            <div class="row clearfix">*@
                                        @if (PaxCounter == 1)
                                        {
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextAreaFor(m => m.AdultPax[adultCounter - 1].AddressLine1, new { @class = "form-control", rows = "1" })
                                                        @*<label class="form-label">Address</label>*@
                                                    </div>
                                                    <div class="help-info">Primary Address</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].AddressLine1, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextAreaFor(m => m.AdultPax[adultCounter - 1].AddressLine2, new { @class = "form-control", rows = "1" })
                                                        @*<label class="form-label">Address</label>*@
                                                    </div>
                                                    <div class="help-info">Second Address</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].AddressLine2, "")
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-4">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                    @Html.DropDownListFor(m => m.AdultPax[adultCounter - 1].CountryCode, new List<SelectListItem>(ViewBag.contryCode), new { @class = "form-control" })
                                                    @*<label class="form-label">country</label>*@
                                                </div>
                                                <div class="help-info">country</div>
                                                @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].CountryCode, "")
                                            </div>
                                        </div>
                                        @*</div>

                                            <div class="row clearfix">*@
                                        <div class="col-md-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                    @Html.DropDownListFor(m => m.AdultPax[adultCounter - 1].Nationality, new List<SelectListItem>(ViewBag.Nationality), new { @class = "form-control" })
                                                    @*<label class="form-label">Nationality</label>*@
                                                </div>
                                                <div class="help-info">Nationality</div>
                                                @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].Nationality, "")
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                    @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].City, new { @class = "form-control" })
                                                    @*<label class="form-label">City</label>*@
                                                </div>
                                                <div class="help-info">City</div>
                                                @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].City, "")
                                            </div>
                                        </div>
                                        @if (!Model.isDomastic)
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].PassportNo, new { @class = "form-control" })
                                                        @*<label class="form-label">Passport Number</label>*@
                                                    </div>
                                                    <div class="help-info">Passport Number</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].PassportNo, "")
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.TextBoxFor(m => m.AdultPax[adultCounter - 1].PassportExpiry, new { @class = "form-control", @type = "date" })
                                                        @*<label class="form-label">Expiry Date</label>*@
                                                    </div>
                                                    <div class="help-info">Passport Exp Date</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.AdultPax[adultCounter - 1].PassportExpiry, "")
                                                </div>
                                            </div>
                                        }
                                    </div>



                                </div>
                            </div>
                        </div>
                        PaxCounter++;
                        adultCounter++;
                    }
                    if (Model.ChildPax != null)
                    {
                        int childCounter = 1;
                        foreach (var item in Model.ChildPax)
                        {
                            @Html.HiddenFor(m => m.ChildPax[childCounter - 1].PaxType)
                            <!-- Child Details-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="card">
                                    <div class="header">
                                        <h2>Passanger @PaxCounter (Child @childCounter)  </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-md-2">
                                                <div class="form-group form-float">
                                                    <div class="form-line focused">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.DropDownListFor(m => m.ChildPax[childCounter - 1].Title, Title, "Title", new { @class = "form-control" })
                                                        @*<label class="form-label">Min/Max Length</label>*@
                                                    </div>
                                                    <div class="help-info">Title</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].Title, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line ">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].FirstName, new { @class = "form-control" })
                                                        @*<label class="form-label">First Name</label>*@
                                                    </div>
                                                    <div class="help-info">Child First Name</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].FirstName, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line ">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].LastName, new { @class = "form-control" })
                                                        @*<label class="form-label">Last Name</label>*@
                                                    </div>
                                                    <div class="help-info">Child Last Name</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].LastName, "")
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.EnumDropDownListFor(m => m.ChildPax[childCounter - 1].Gender, new { @class = "form-control" })
                                                        @*<label class="form-label">Min/Max Length</label>*@
                                                    </div>
                                                    <div class="help-info">Gender</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].Gender, "")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">

                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].DateOfBirth, new { @type = "date", @class = "form-control" })
                                                        @*<label class="form-label">D.O.B</label>*@
                                                    </div>
                                                    <div class="help-info">Date od Birth</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].DateOfBirth, "")
                                                </div>
                                            </div>
                                            @*</div>
                                                <div class="row clearfix">*@

                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.DropDownListFor(m => m.ChildPax[childCounter - 1].CountryCode, new List<SelectListItem>(ViewBag.contryCode), new { @class = "form-control" })
                                                        @*<label class="form-label">country</label>*@
                                                    </div>
                                                    <div class="help-info">country</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].CountryCode, "")
                                                </div>
                                            </div>
                                            @*</div>

                                                <div class="row clearfix">*@
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.DropDownListFor(m => m.ChildPax[childCounter - 1].Nationality, new List<SelectListItem>(ViewBag.Nationality), new { @class = "form-control" })
                                                        @*<label class="form-label">Nationality</label>*@
                                                    </div>
                                                    <div class="help-info">Nationality</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].Nationality, "")
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].City, new { @class = "form-control" })
                                                        @*<label class="form-label">City</label>*@
                                                    </div>
                                                    <div class="help-info">City</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].City, "")
                                                </div>
                                            </div>
                                            @if (!Model.isDomastic)
                                            {
                                                <div class="col-md-3">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                            @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].PassportNo, new { @class = "form-control" })
                                                            @*<label class="form-label">Passport Number</label>*@
                                                        </div>
                                                        <div class="help-info">Passport Number</div>
                                                        @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                        @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].PassportNo, "")
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                            @Html.TextBoxFor(m => m.ChildPax[childCounter - 1].PassportExpiry, new { @class = "form-control", @type = "date" })
                                                            @*<label class="form-label">Expiry Date</label>*@
                                                        </div>
                                                        <div class="help-info">Passport Exp Date</div>
                                                        @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                        @Html.ValidationMessageFor(m => m.ChildPax[childCounter - 1].PassportExpiry, "")
                                                    </div>
                                                </div>
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                            PaxCounter++;
                            childCounter++;
                        }
                    }
                    if (Model.InfantPax != null)
                    {
                        int infantCounter = 1;
                        foreach (var item in Model.InfantPax)
                        {
                            @Html.HiddenFor(m => m.InfantPax[infantCounter - 1].PaxType)
                            <!-- Infant Details-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="card">
                                    <div class="header">
                                        <h2>Passanger @PaxCounter (Infant @infantCounter)  </h2>
                                    </div>
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-md-2">
                                                <div class="form-group form-float">
                                                    <div class="form-line focused">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.DropDownListFor(m => m.InfantPax[infantCounter - 1].Title, Title, "Title", new { @class = "form-control" })
                                                        @*<label class="form-label">Min/Max Length</label>*@
                                                    </div>
                                                    <div class="help-info">Title</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].Title, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line ">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.InfantPax[infantCounter - 1].FirstName, new { @class = "form-control" })
                                                        @*<label class="form-label">First Name</label>*@
                                                    </div>
                                                    <div class="help-info">Infant First Name</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].FirstName, "")
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line ">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.InfantPax[infantCounter - 1].LastName, new { @class = "form-control" })
                                                        @*<label class="form-label">Last Name</label>*@
                                                    </div>
                                                    <div class="help-info">Infant Last Name</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].LastName, "")
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.EnumDropDownListFor(m => m.InfantPax[infantCounter - 1].Gender, new { @class = "form-control" })
                                                        @*<label class="form-label">Min/Max Length</label>*@
                                                    </div>
                                                    <div class="help-info">Gender</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].Gender, "")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">

                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.InfantPax[infantCounter - 1].DateOfBirth, new { @type = "date", @class = "form-control" })
                                                        @*<label class="form-label">D.O.B</label>*@
                                                    </div>
                                                    <div class="help-info">Date od Birth</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].DateOfBirth, "")
                                                </div>
                                            </div>
                                            @*</div>
                                                <div class="row clearfix">*@

                                            <div class="col-md-4">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxlength" maxlength="10" minlength="3" required="" aria-required="true" aria-invalid="false">*@
                                                        @Html.DropDownListFor(m => m.InfantPax[infantCounter - 1].CountryCode, new List<SelectListItem>(ViewBag.contryCode), new { @class = "form-control" })
                                                        @*<label class="form-label">country</label>*@
                                                    </div>
                                                    <div class="help-info">country</div>
                                                    @*<label id="minmaxlength-error" class="error" for="minmaxlength" style="display: none;"></label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].CountryCode, "")
                                                </div>
                                            </div>
                                            @*</div>

                                                <div class="row clearfix">*@
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.DropDownListFor(m => m.InfantPax[infantCounter - 1].Nationality, new List<SelectListItem>(ViewBag.Nationality), new { @class = "form-control" })
                                                        @*<label class="form-label">Nationality</label>*@
                                                    </div>
                                                    <div class="help-info">Nationality</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].Nationality, "")
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-float">
                                                    <div class="form-line">
                                                        @*<input type="text" class="form-control" name="minmaxvalue" min="10" max="200" required="" aria-required="true">*@
                                                        @Html.TextBoxFor(m => m.InfantPax[infantCounter - 1].City, new { @class = "form-control" })
                                                        @*<label class="form-label">City</label>*@
                                                    </div>
                                                    <div class="help-info">City</div>
                                                    @*<label id="minmaxvalue-error" class="error" for="minmaxvalue">This field is required.</label>*@
                                                    @Html.ValidationMessageFor(m => m.InfantPax[infantCounter - 1].City, "")
                                                </div>
                                            </div>
                                            @if (!Model.isDomastic)
                                            {
                                                @Html.HiddenFor(m => m.InfantPax[infantCounter - 1].PassportExpiry, new { Vaule = "" })
                                                @Html.HiddenFor(m => m.InfantPax[infantCounter - 1].PassportNo, new { Vaule = "" })
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                            PaxCounter++;
                            infantCounter++;

                        }
                    }
                    <div style="display:none">

                        @Html.HiddenFor(m => m.TraceId)
                        @Html.HiddenFor(m => m.Onward.ResultIndex)
                        @Html.HiddenFor(m => m.Inward.ResultIndex)
                        @Html.HiddenFor(m => m.isDomastic)
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="block-header" style="padding: 12px 0 22px 1px;margin-bottom: 4px;">
                                <h2>Optional Services <sup>+</sup></h2>
                            </div>
                            <!-- Onward BaggageAnd Meal -->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card">
                                        <div class="body bg-white">
                                            <div id="Meal">
                                                <div class="row clearfix">
                                                    Select Meals  --------------<br />
                                                    @{var src = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Segments.First().First();}
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                                        <label>@src.Origin.Airport.AirportCode <span>-</span> @src.Destination.Airport.AirportCode</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @if (Model.Onward.SSRLcc != null && Model.Onward.SSRLcc.Content.Addinfo.MealDynamic != null)
                                                                {
                                                                    var ssr = Model.Onward.SSRLcc.Content.Addinfo.MealDynamic.First();
                                                                    @Html.DropDownListFor(m => m.Onward.MealCode, new SelectList(ssr, "Code", "AirlineDescription", ssr.Where(a => a.Code.Contains("No Meal"))), new { @class = "form-control", @onchange = "AddOptionalServiceCharge(true)" })
                                                                    for (int i = 0; i < ssr.Count; i++)
                                                                    {
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].AirlineCode)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].AirlineDescription)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Currency)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Code)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Destination)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].FlightNumber)

                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Origin)

                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Price)
                                                                        if (Model.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Quantity != null)
                                                                        {
                                                                            @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Quantity, new { Value = Model.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Quantity.Value })
                                                                        }
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].WayType)
                                                                        if (Model.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Weight != null)
                                                                        {
                                                                            @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Weight, new { Value = Model.Onward.SSRLcc.Content.Addinfo.MealDynamic[0][i].Weight.Value })
                                                                        }


                                                                    }
                                                                }
                                                                else if (Model.Onward.SSRNonLcc != null && Model.Onward.SSRNonLcc.Content.Addinfo.Meal != null)
                                                                {
                                                                    var Meal = Model.Onward.SSRNonLcc.Content.Addinfo.Meal;
                                                                    @Html.DropDownListFor(m => m.Onward.MealCode, new SelectList(Meal, "Code", "Description", Meal.Where(a => a.Code.Contains("No Meal"))), new { @class = "form-control", @onchange = "AddOptionalServiceCharge(false)" })
                                                                    for (int i = 0; i < Meal.Count; i++)
                                                                    {
                                                                        @Html.HiddenFor(m => m.Onward.SSRNonLcc.Content.Addinfo.Meal[i].Code)
                                                                        @Html.HiddenFor(m => m.Onward.SSRNonLcc.Content.Addinfo.Meal[i].Description)
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control">
                                                                        <option>No Meal</option>
                                                                    </select>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="card">
                                        <div class="body bg-white">
                                            <div id="Meal">
                                                <div class="row clearfix">
                                                    Select Baggage  --------------<br />
                                                    @{ src = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Segments.First().First();}
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-control-label">
                                                        <label>@src.Origin.Airport.AirportCode <span>-</span> @src.Destination.Airport.AirportCode</label>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                @if (Model.Onward.SSRLcc != null && Model.Onward.SSRLcc.Content.Addinfo.Baggage != null)
                                                                {
                                                                    var ssr = Model.Onward.SSRLcc.Content.Addinfo.Baggage.First();
                                                                    @*@Html.DropDownListFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage, new SelectList(ssr, "Code", "Description - Code", ssr.Where(a => a.Code.Contains("No Baggage"))), new { @class = "form-control" })*@
                                                                    var dbfb = Model.Onward.SSRLcc.Content.Addinfo.Baggage.First().Select(a => new SelectListItem { Text = a.Code.Contains("No Baggage") ? "No Excess/Extra Baggage" : a.Weight.Value.ToString() + " KG - " + "Rs. " + (int)a.Price, Value = a.Code, Selected = a.Code.Contains("No") ? true : false }).ToList();
                                                                    @Html.DropDownListFor(m => m.Onward.BaggageCode, new List<SelectListItem>(dbfb), new { @class = "form-control", @onchange = "AddOptionalServiceCharge(true)" })
                                                                    for (int i = 0; i < dbfb.Count; i++)
                                                                    {
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].AirlineCode)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].AirlineDescription)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Currency)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Code)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Description)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Destination)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].FlightNumber)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Origin)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Price)
                                                                        if (Model.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Quantity != null)
                                                                        {
                                                                            @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Quantity, new { Value = Model.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Quantity.Value })
                                                                        }

                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].WayType)
                                                                        @Html.HiddenFor(m => m.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Weight, new { Value = Model.Onward.SSRLcc.Content.Addinfo.Baggage[0][i].Weight.Value })
                                                                    }
                                                                }
                                                                else if (Model.Onward.SSRNonLcc != null)
                                                                {
                                                                    @*var Meal = Model.Onward.SSRNonLcc.Content.Addinf;
                                                                        @Html.DropDownListFor(m => m.Onward.SSRNonLcc.Content.Addinfo.Meal, new SelectList(Meal, "Description", "Code", Meal.Where(a => a.Code.Contains("No Meal"))), new { @class = "form-control" })*@
                                                                    <select class="form-control">
                                                                        <option>No Extra/Excess Baggage</option>
                                                                    </select>



                                                                }

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                    @*<button type="button" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">Submit</button>*@

                }
                <!-- Passanger Details End-->
                <!-- Fare rule -->
                <div class="block-header" style="padding: 12px 0 22px 1px;margin-bottom: 20px;">
                    @*<h2>NO HEADER CARDS</h2>*@
                    <div class="col-md-6 pull-left">
                        <h2>Fare Rule</h2>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body bg-white slimScrollDiv">

                                @*@foreach (var item in Model.Onward.FareRuleVM.Content.Addinfo.FareRules)*@
                                @if (ViewBag.FareRuleOB != null)
                                {
                                    var OBFareRule = (Vastwebmulti.Areas.RETAILER.ViewModels.FareRuleVM)ViewBag.FareRuleOB;
                                    foreach (var item in OBFareRule.Content.Addinfo.FareRules)
                                    {

                                        <strong>@item.Origin - @item.Destination</strong><br />
                                        string[] stringSeparators = new string[] { "\r\n" };
                                        string[] lines = item.FareRuleDetail.Split(stringSeparators, StringSplitOptions.None);
                                        //Console.WriteLine("Nr. Of items in list: " + lines.Length); // 2 lines
                                        foreach (string s in lines)
                                        {
                                            //Console.WriteLine(s); //But will print 3 lines in total.
                                            @Html.Raw(s)<br />
                                        }

                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.isDomastic && Model.JourneyType == 2)
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body bg-white slimScrollDiv">

                                    @*@foreach (var item in Model.Inward.FareRuleVM.Content.Addinfo.FareRules)*@
                                    @if (ViewBag.FareRuleIB != null)
                                    {
                                        var IBFareRule = (Vastwebmulti.Areas.RETAILER.ViewModels.FareRuleVM)ViewBag.FareRuleIB;
                                        foreach (var item in IBFareRule.Content.Addinfo.FareRules)
                                        {
                                            <strong>@item.Origin - @item.Destination</strong><br />
                                            string[] stringSeparators = new string[] { "\r\n" };
                                            string[] lines = item.FareRuleDetail.Split(stringSeparators, StringSplitOptions.None);
                                            //Console.WriteLine("Nr. Of items in list: " + lines.Length); // 2 lines
                                            foreach (string s in lines)
                                            {
                                                //Console.WriteLine(s); //But will print 3 lines in total.
                                                @Html.Raw(s)<br />
                                            }

                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- #END# Fare rule -->
            </div>
            <!-- Fare Details -->
            <div class="col-md-3">
                <div class="row">
                    <div class="block-header" style="padding: 12px 0 22px 1px;margin-bottom: 4px;">
                        <h2>Fare Details</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body bg-white">
                                    @{
                                        var of = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Fare.OfferedFare;
                                        var pf = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Fare.PublishedFare;
                                        var bf = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Fare.BaseFare;
                                        var tax = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Fare.Tax;
                                        var TxnFee = Model.Onward.FareQuoteVM.Content.Addinfo.Results.Fare.AdditionalTxnFeeOfrd;
                                        if (Model.isDomastic && Model.JourneyType == 2)
                                        {
                                            of = of + Model.Inward.FareQuoteVM.Content.Addinfo.Results.Fare.OfferedFare;
                                            pf = of + Model.Inward.FareQuoteVM.Content.Addinfo.Results.Fare.PublishedFare;
                                            bf = bf + Model.Inward.FareQuoteVM.Content.Addinfo.Results.Fare.BaseFare;
                                            tax = tax + Model.Inward.FareQuoteVM.Content.Addinfo.Results.Fare.Tax;
                                            TxnFee = TxnFee + Model.Inward.FareQuoteVM.Content.Addinfo.Results.Fare.AdditionalTxnFeeOfrd;
                                        }

                                        var otherCharge = pf - (bf + tax + TxnFee);
                                        TxnFee = TxnFee + markup;
                                        pf = pf + markup;
                                    }
                                    <div>
                                        Base Fare <span class="pull-right">@bf</span><br>
                                        Fuel & Tax <span class="pull-right">@tax</span><br>
                                        Other Charges <span class="pull-right">@otherCharge</span><br>
                                        Txn Fee <span class="pull-right">@TxnFee</span><br>
                                        <strong>Total Fare <span class="pull-right" id="totalPubFare">@pf</span></strong>
                                        <br>
                                        @*<span>
                                                <i class="fa fa-eye fa-2x" onclick="getOfferFare('@of')"></i>
                                            </span>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- #END# Fare Details -->

        </div>

    </div>
    <!--Slider div-->
    <br />
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Start Rechargepaybill js-->
<script src="~/Retailerjavascript/Rechargepaybill/electricityl.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Landline.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Dth.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/gas.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Insurance.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/mobileperpaidandpostpaid.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Water.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/broadband.js"></script>
<!--End-->
<script src="~/AdminDesign/Retailer_Slider/multislider.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script>
        $('#basicSlider').multislider({
            continuous: true,
            duration: 2000
        });
        $('#mixedSlider').multislider({
            duration: 750,
            interval: 3000
        });
    </script>*@
<!--Calendar Javascript-->
<script type="text/javascript">
    $(function () {
        //alert();

        $('.slimScrollDiv').slimScroll({
            height: '250px',
            wheelStep: 10,
        });
    });

</script>



<script>
    function getvalue() {
        var value = document.querySelector('input[name="JourneyType"]:checked').value;
        if (value == "1") {
            document.getElementById("txt_to_date").disabled = true;
        }
        if (value == "2") {
            document.getElementById("txt_to_date").disabled = false;
        }
    }
</script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<script>

    function onPluseMinus(check, v) {
        var adltCount = parseInt($('#txtAdultCount').val());
        var childCount = parseInt($('#txtChildCount').val());
        var infCount = parseInt($('#txtInfantCount').val());
        var allCount = parseInt($('#txtPassengerCount').val());
        if (check == 'Adult') {

            $('#txtAdultCount').val(adltCount + v);
            $('#txtPassengerCount').val(allCount + v);
            $('#showPassengerCount').html(allCount + v);
            $('#showAdultCount').html(adltCount + v);
            if (parseInt($('#txtAdultCount').val()) > 1) {
                $('#btnAdultMinus').prop('disabled', false);
            } else {
                $('#btnAdultMinus').prop('disabled', true);
            }
        }
        else if (check == 'child') {

            $('#txtChildCount').val(childCount + v);
            $('#txtPassengerCount').val(allCount + v);
            $('#showPassengerCount').html(allCount + v);
            alert(parseInt($('#txtChildCount').val()));
            $('#showChildCount').html(childCount + v);
            if (parseInt($('#txtChildCount').val()) > 0) {
                $('#btnChildMinus').prop('disabled', false);
            } else {
                $('#btnChildMinus').prop('disabled', true);
            }
        }
        if (check == 'infant') {

            $('#txtInfantCount').val(infCount + v);
            $('#txtPassengerCount').val(allCount + v);
            $('#showPassengerCount').html(allCount + v);
            $('#showInfantCount').html(infCount + v);
            if (parseInt($('#txtInfantCount').val()) > 0) {
                $('#btnInfantMinus').prop('disabled', false);
            } else {
                $('#btnInfantMinus').prop('disabled', true);
            }
        }
    }

    @*$.noConflict();
    jQuery(document).ready(function ($) {
        $("#txtSource").autocomplete({
            source: '@Url.Action("GetSourceName")',
            minLength: 3
        })
        $("#txtDestination").autocomplete({
            source: '@Url.Action("GetSourceName")',
            minLength: 3
        })
    });*@

    function AddOptionalServiceCharge(isLCC)
    {
        //alert(isLCC);

        var pubf = '@pf';
        //alert(pubf);
        var mealCode = $("#Onward_MealCode").val();
        var baggageCode = $("#Onward_BaggageCode").val();
        if (mealCode != null && mealCode != '')
        {
            //alert("Meal Code : " + mealCode);
            if (isLCC)
            {

                @*var MealDynamicArr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Onward.SSRLcc)) ;
                JSON.parse(MealDynamicArr).foreach(function(entry){
                    alert(entry.Code);
                });*@
                //var Mealprice = 0;
            }
            if (!isLCC)
            {

                @*var MealDynamicArr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Onward.SSRNonLcc.Content.Addinfo.Meal)) ;
                JSON.parse(MealDynamicArr).foreach(function(entry){
                    alert(entry.Code);
                });*@
                //var Mealprice = 0;
            }
            //alert();

        }
        if (baggageCode != null && baggageCode != '')
        {
            //alert("baggage Code : " + baggageCode);
        }

        $('#totalPubFare').html(pubf);
    }
</script>



