@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Fund_Transfer_Retailer_To_Retailer";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Retailer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Retailer")
        {
            favimage = usernname.SingleOrDefault().NickName;

        }
    }
}


<style>

    /* new css  */



    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    /* new css  */

    span {
        color: #fff !important;
    }

    section.content {
        margin: 87px 0px 0 164px;
    }

    .datepicker table tr td span {
        color: #555 !important;
    }

        .datepicker table tr td span.active {
            color: #fff !important;
        }

    .dropdown-menu.datepicker-dropdown.datepicker {
        margin-top: 87px !important;
    }

    .tab-menur li a::before {
        content: '';
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid #bbb;
        border-radius: 50%;
        margin: 2px 6px 0px 0px;
    }

    .tab-menur li a.active-ar::before {
        border-color: var(--main-bg-lcolor);
        background: var(--main-bg-lcolor);
    }

    .tab-menur li a.active-ar {
        color: var(--main-bg-lcolor);
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        padding-top: 0px !important;
        width: 100%;
        padding-left: 40px;
    }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-right .nav-tabs + .tab-content {
        padding: 5px !important;
    }

    .fund-trasfer-right .tab-content {
        height: 74vh;
    }
</style>
<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    .errorss {
        color: #fff;
        background: red;
        width: 100%;
    }

    .errorss1 {
        color: #fff;
        background: green;
        width: 100%;
    }

    #showinformation .col-md-12, #DIstribotorshowinformation .col-md-12, #Retailershowinformation .col-md-12 {
        border-bottom: 1px solid #bbb;
        margin: 0px 3% !important;
        width: 94%;
        margin-bottom: 6px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
    }

        #showinformation .col-md-12 button, #DIstribotorshowinformation .col-md-12 button, #Retailershowinformation .col-md-12 button {
            margin-top: 20px;
        }

        #showinformation .col-md-12 label:last-child, #DIstribotorshowinformation .col-md-12 label:last-child, #Retailershowinformation .col-md-12 label:last-child {
            text-align: right;
            font-weight: 800;
        }

    .fund-trasfer-right .tab-content {
        height: 80vh;
    }

    input[type="password"] {
        background-color: transparent;
        border: 1px solid var(--main-bg-lcolor);
        box-shadow: none;
    }

    .col-md-3.date-sateclassee.trypurchasecewq.trypurchasecewq-new {
        float: left;
        padding-right: 5px;
        width: 27%;
    }

    .fund-t-dalear .col-md-3.date-sateclassee.trypurchasecewq.trypurchasecewq-new input {
        padding-left: 34px;
    }

    .col-md-3.apiclass-satenew.last-nwwefrespomg {
        width: 19%;
        float: left;
    }

    .fundtransfer-rtailer-date .trypurchasecewq-new input {
        border: 1px solid #555 !important;
    }

    .fundtransfer-rtailer-date .date-sateclassee.trypurchasecewq .custom-date-icon {
        border-color: #555 !important;
        height: 31px !important;
        top: 1px !important;
    }

    .fundtransfer-rtailer-date .last-nwwefrespomg button {
        border: 1px solid #555;
    }

    .fundtransfer-rtailer-date .trypurchasecewq-new {
        width: 25% !important;
    }

    .col-md-3.apiclass-satenew.last-nwwefrespomg {
        width: 15%;
        float: left;
    }

    .fundtransfer-rtailer-date .trypurchasecewq-new {
        width: 20% !important;
        float: left;
    }

    .fundretailer-pdf input {
        background-color: #fff !important;
    }




    @@media screen and (max-width:1366px) {
        .bread-same-all-page.allpage-responshivenew {
            margin-top: 0px;
        }

        .fourthdesign-retailer-allnone .fundtransfer-rtailer-date {
            width: 72% !important;
        }
    }

    @@media only screen and (max-width:767px) {
        .allpage-responshivenew {
            padding: 0px 0;
        }

            .allpage-responshivenew ul li {
                margin-bottom: 6px;
            }

        .col-md-8, .col-md-4.servicepaidreport {
            padding-left: 15px;
        }
    }

    @@media screen and (max-width:766px) {
        .fundpdf-retailer ul.responsive-sateulce li.firstclassactive {
            width: 100% !important;
            border: 0px;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date {
            width: 100% !important;
            float: left;
            padding: 0 5px;
        }

            .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date .date-sateclassee.trypurchasecewq-new {
                width: 100% !important;
                float: left;
                margin-bottom: 5px;
            }

            .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date form .date-sateclassee.trypurchasecewq.trypurchasecewq-new {
                width: 50% !important;
                float: left;
            }

            .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date .last-nwwefrespomg {
                width: auto;
                float: left;
            }

                .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date .last-nwwefrespomg button {
                    padding: 0 10px !important;
                }

        .fundretailer-pdf {
            padding-right: 5px !important;
        }

        .fundpdf-retailer ul.responsive-sateulce li.fundtransfer-rtailer-date form .date-sateclassee.trypurchasecewq.trypurchasecewq-new input {
            text-align: center;
        }

        .fourthdesign-retailer-allnone .fundtransfer-rtailer-date .row.fund-t-dalear {
            width: 100% !important;
        }

        .fourthdesign-retailer-allnone .col-md-4, .fourthdesign-retailer-allnone .col-md-8 {
            padding: 0;
        }
    }

    @@media screen and (max-width:580px) {
        .fund-t-dalear .col-md-3.date-sateclassee.trypurchasecewq.trypurchasecewq-new input {
            padding-left: 5px !important;
            font-size: 12px;
        }
    }

    @@media screen and (max-width:420px) {
    }
</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Transfer R to R</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Transfer R to R</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page allpage-responshivenew">
                <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                    <ul style="margin:0;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                            </a>
                        </li>

                        <li class="fullbodydycolorbg tmw-total-color-one">
                            R<sup style="top: -5px;left: 2px;">2</sup>&nbsp;R Transfer
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix four-design-table-design">
            <div class="col-md-4">
                <div class="page-header-third">
                    <div class="fund-trasfer-left fund-user-left">
                        <ul class="nav nav-tabs tabtypeschages" id="tabs">
                            <li class="tab-link current active tabChangeType" style="width:100% !important;" data-tabname="ReatilertoRetailer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="ReatilertoRetailer"})" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true">@favimage To&nbsp;@favimage Fund Transfer</a></li>




                        </ul>

                        <div class="width100 float-left ">

                            <div id="home" class="width100 float-left tab-pane fade active in">

                                @using (Ajax.BeginForm("retailer_To_retailer_fund_transfer", "Home",
                                  new AjaxOptions
                                  {
                                      InsertionMode = InsertionMode.Replace,
                                      OnSuccess = "OnSuccess",
                                      OnFailure = "OnFailure",
                                      LoadingElementId = "outer-loader",
                                      UpdateTargetId = "tblshowMasterD",
                                      // LoadingElementId = "progress"
                                  }))
                                {


                                    <div class="fund-transfer-form minheight-responsivehe changeback-four-design" id="frmdata">

                                        <div class="col-md-3 retailer-first retailer-toretailerclass">
                                            <div class="fullclassdata">
                                                <div class="">
                                                    <label class="satefontsize">User&nbsp;Email&nbsp;/&nbsp;Mobile</label>
                                                    <input class="form-control" id="RetailerId" name="RetailerId" placeholder="Enter Email ID / Mobile No" minlength="6" required="required" style="padding-top:4px;height:30px;" type="text">

                                                </div>
                                                <div class="col-md-12 show-data">
                                                    <div class="row" id="retailerinform" style="display:none;">
                                                        <div class="nameshow">
                                                            <table border="1">
                                                                <tr>
                                                                    <td><label>Firm&nbsp;Name&nbsp;:</label></td>
                                                                    <td><label id="lblfrmname"></label></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label>Retailer&nbsp;Name:&nbsp;</label></td>
                                                                    <td> <label id="lblreatilername"></label></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label>Email:&nbsp;</label></td>
                                                                    <td><label id="lblemail"></label></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label>Mobile:&nbsp;</label> </td>
                                                                    <td><label id="lblmobile"></label></td>
                                                                </tr>
                                                            </table>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <label>Enter Amount </label>
                                            <div>
                                                <input type="text" id="Retaileramount" required name="Retaileramount" placeholder="Enter Amount" />
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 fund-comment">
                                            <label>Comments</label>
                                            <div>
                                                <textarea id="txtRetailercomment" style="outline:none;" required name="txtRetailercomment"></textarea>
                                            </div>
                                        </div>


                                        @if (ViewBag.dmtpin_otp != null)
                                        {
                                            if (ViewBag.dmtpin_otp.status == true)
                                            {
                                                <div class="col-md-12 col-sm-12 col-xs-12 fund-comment" style="display:none;" id="otpsubmithideshowr2r">
                                                    <label>Enter OTP</label>
                                                    <div style="position:relative;">


                                                        <input type="password" id="txtRetailerdmtpin" required name="txtRetailerdmtpin" autocomplete="new-password" placeholder="Enter OTP" style="background-color: white;" />
                                                        <i class="bi bi-eye-slash" id="togglePassword" onclick="viewpassotp()" style="position: absolute; right: 5px; top: 5px;"></i>
                                                    </div>
                                                </div>

                                                <div class="col-md-12" id="resendotpr2r" style="display:none;">
                                                    <div class="form-group" style="margin-top:4px;">
                                                        <div class="btn waves-effect fullbodydycolorbg" style="float:left; color:#fff;border:1px solid #c7c2c2;">
                                                            <a class="fullbodydycolorbg" style="cursor: pointer; color: #fff;" onclick="otpsendr2r('SECOND','R2RPINOTP')">Resend OTP</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12" id="hideshowotpbtnr2r">
                                                    <div class="form-group" style="margin-top:4px;">
                                                        <div class="btn waves-effect fullbodydycolorbg" style="float:left; color:#fff;border:1px solid #c7c2c2;">
                                                            <a class="fullbodydycolorbg" style="cursor: pointer; color: #fff;" onclick="otpsendr2r('FIRST','R2RPINOTP')">Send OTP</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-12 col-sm-12 col-xs-12 fund-comment">
                                                    <label>Transaction PIN</label>
                                                    <div style="position:relative;">


                                                        <input type="password" id="txtRetailerdmtpin" required name="txtRetailerdmtpin" autocomplete="new-password" placeholder="Enter Transaction PIN" style="background-color: white;" />
                                                        <i class="bi bi-eye-slash" id="togglePassword" onclick="viewpassotp()" style="position: absolute; right: 5px; top: 5px;"></i>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-md-12 col-sm-12 col-xs-12 fund-comment">
                                                <label>Transaction PIN</label>
                                                <div style="position:relative;">


                                                    <input type="password" id="txtRetailerdmtpin" required name="txtRetailerdmtpin" autocomplete="new-password" placeholder="Enter Transaction PIN" style="background-color: white;" />
                                                    <i class="bi bi-eye-slash" id="togglePassword" onclick="viewpassotp()" style="position: absolute; right: 5px; top: 5px;"></i>
                                                </div>
                                            </div>
                                        }
                                        <div id="dmtsuccesscodeotpr2r" style="display: none; color: green; margin-left: 17px;"></div>
                                        <div id="dmterrorcodeotpr2r" style="color: red; margin-left: 17px;"></div>
                                        <div id="demor2r" style="color: red; margin-left: 17px;"></div>



                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            @*<div>
                                                    <button id="btnnshowmaster1" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                                        Submit
                                                    </button>
                                                </div>*@
                                            <div class="new-nextbutton">
                                                <button class="waves-effect" style="background-color: white;"><a href="@Url.Action("Fund_Transfer_Retailer_To_Retailer", "Home")"> Cancel</a></button>
                                                <button class="fullbodydycolorbg waves-effect" id="shownoneclass" type="submit" disabled="disabled">Transfer</button>

                                            </div>

                                        </div>
                                        <label id="errorss"></label>

                                    </div>
                                    <input type="hidden" id="latss" required name="latss" />
                                    <input type="hidden" id="longloc" required name="longloc" />
                                }
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <div id="outer-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 15px;left: 15px;bottom: 0px;top: 0px;display:none;">
                <div id="loader" style="position: absolute; right: 30%; top: 50%; transform: translate(0%, -50%);">
                    <div class="loadingio-spinner-ripple-92ar2pfqk5j">
                        <div class="ldio-zdyd6mf6t5">
                            <div></div><div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="page-header-third">
                    <div class="fund-trasfer-right fund-user-right fundpdf-retailer">
                        <ul class="nav nav-tabs responsive-sateulce" id="tabs">
                            <li class="tab-link current active firstclassactive" data-tab="tab-1" style="width:22%;">
                                <a data-toggle="tab" aria-expanded="true" style="padding: 0px 10px;float:left;">

                                    <label class="for-change-fund">
                                        <span class="fund-fistory">History<sub class="tmw-total-color-one fullbodydycolorbg">Fund Transfer</sub></span>
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </label>
                                </a>
                            </li>
                            <li class="fundtransfer-rtailer-date" style="width: auto;float: right;margin-top: 4px;padding-right: 5px;width:70%;">

                                <div class="row fund-t-dalear" style="margin:0px;">


                                    <div class="col-md-3 date-sateclassee trypurchasecewq trypurchasecewq-new" style="padding-left: 0px;">
                                        <div class="for-search">
                                            <input id="myInput" name="myInput" type="text" placeholder="Search..." onkeyup="myFunction2()" style="padding-left:5px !important;height:33px !important;" />

                                        </div>

                                    </div>
                                    @using (Ajax.BeginForm("MDTODealer", "Home",
                                                      new AjaxOptions
                                                      {
                                                          InsertionMode = InsertionMode.Replace,
                                                          UpdateTargetId = "tblshowMasterD"

                                                          // LoadingElementId = "progress"
                                                      }))
                                    {

                                        <div class="col-md-3 date-sateclassee trypurchasecewq trypurchasecewq-new" style="padding-left: 0px;">
                                            <div class="custom-date-icon" style="height: 32px;border-top:0;border-bottom:0;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            <input type="datetime" id="txt_frm_date" name="txt_frm_date" style="margin-top:1px;border:1px solid #fff;" />
                                        </div>
                                        <div class="col-md-3 date-sateclassee trypurchasecewq trypurchasecewq-new" style="padding-left: 0px;">
                                            <div class="custom-date-icon" style="height: 32px;border-top:0;border-bottom:0;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            <input type="datetime" id="txt_to_date" name="txt_to_date" style=" margin-top: 1px !important;border:1px solid #fff;" />
                                        </div>

                                        <div class="col-md-3 apiclass-satenew last-nwwefrespomg" style="padding:0px;">
                                            <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding:0px 15px;float:left;height: 31px;margin-top:0px" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                            </button>
                                        </div>
                                    }
                                    <div class="fundretailer-pdf" style="width:auto;float:right;padding-right:0;">

                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #7b7777;background:#b1a6a638;width:auto;background-image: url(../../images/reportimage/xls.png);
                background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;margin-bottom:5px;" />
                                        <input type="button" id="" value="PDF" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #7b7777;background:#b1a6a638;width:auto;background-image: url(../../ashok-images/pdf.png);
                 background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;margin-bottom:5px;" />


                                    </div>
                                </div>

                            </li>

                        </ul>
                        <div id="tab-1" class="width100 float-left tab-content current responsiveinherithe" style="height:74vh;min-height:585px;overflow:auto;">
                            <div class="for-un">
                                @*<table>
                                        <tr>
                                            <td>

                                                <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                            </td>
                                            <td>
                                                <input type="datetime" id="txt_to_date" name="txt_to_date" />
                                            </td>
                                            <td>
                                                <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    <i class="fa fa-search"></i>

                                                </button>
                                            </td>
                                        </tr>
                                    </table>*@

                            </div>
                            <div id="tblshowMasterD" class="table-responsive tblshowMasterclassadd table-rsponsive-paddfont tablethirddesign-newnew" style="width:100%;">
                                @Html.Partial("_Purchase_OrderReports")

                            </div>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
    <!----------master distributor fund transfer----->

    <div class="modal fund-tr-history  in" id="m-d-fund-transfer" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document" style="margin:0px;float:right;margin-top: 77px;">

            <div class="modal-content width100 float-left">
                <div class="modal-header width100 float-left ecomm-pop-head">

                    <h5 id="mdhis">Retailer Fund Transfered History</h5>


                    <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>


                </div><!--.modal-header-->
                <div class="modal-body width100 float-left ecomm-pop-body">
                    <div class="float-left width100">
                        <form class="first-form">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label id="mdfrmname">Retailer Firm Name</label>

                                        <input class="form-control" readonly="readonly" required="required" id="txtmdfirmnameshow" type="text">

                                    </div>
                                </div>

                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txttotalamountshow">
                                    </div>
                                </div>

                            </div><!--.row-->


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Reatiler Pre Remain</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPREREMAINshow">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">Reatiler Post Remain</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTREMAINshow">
                                    </div>
                                </div>
                            </div><!--.row-->



                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPrecredit">Your Pre Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPRECREDITshow">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostcredit">Your Post Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshow">
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Request Timing</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtREQUESTTIMINGshow">
                                    </div>
                                </div>
                                @*<div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Transfered Timing</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtTRANSFERTIMINGshow">
                                        </div>
                                    </div>*@
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Comments</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtCOMMNETSshow" style="height:50px;">

                                    </div>
                                </div>

                            </div><!--.row-->



                        </form>

                        <!--=============-->

                    </div><!--.modal-body-->


                </div>

            </div>
        </div>
    </div>

    <div id="backtodashboardcall" data-request-url="@Url.Action("Dashboard", "Home")"></div>


</section>
<div id="outer-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 0px;left: 0px;bottom: 0px;top: 0px;display:none;">
    <div id="loader" style="position: absolute; right: 65%; top: 50%; transform: translate(0%, -50%);">
        <div class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
    </div>

</div>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    function viewpassotp() {

        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#txtRetailerdmtpin');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') == 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
    };

</script>


<script>
    $('#btnExport').click(function () {



        var usernm = $('#myInput').val();

        var url = '@Url.Action("ExportExcellFundtransfer", "Home")?tabtype=ReatilertoRetailer&txt_frm_date=' + $('#txt_frm_date').val() + '&txt_to_date=' + $('#txt_to_date').val() +'&ddtrnsfrom='+ usernm;
        location.href = url;

    })


</script>


<script>
    $(document).ready(function () {


         $.ajax({
          url: "@Url.Action("MDTODealer","Home")",
          data: { tabtype: "ReatilertoRetailer", txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val() },
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })

    })

    $('#btnchangetabbutton').click(function (e) {

        var tabtype = $("ul.tabtypeschages li.tab-link.active").attr('data-tabname')

      $.ajax({
          url: "@Url.Action("MDTODealer","Home")",
          data: { tabtype: tabtype, txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val() },
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })


    });



</script>

<script>
    $(document).ready(function()
    {


        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

<script>
    var fewSeconds = 10;
    $(document).ajaxStart(function () {

        $("#shownoneclass").prop('disabled', true);
        $("#btnsendpurorder").prop('disabled', true);
        setTimeout(function () {

            $("#btnsendpurorder").prop('disabled', false);

        }, fewSeconds * 1000);
    });


</script>



<script>
    function tablerowshowdetail(frmname, total, remainfromnew, remainfromold, remtoold, remotonew, comment, date) {



        $('#txtmdfirmnameshow').val(frmname);

        $('#txttotalamountshow').val(total);

        $('#txtMDPREREMAINshow').val(remtoold);
        $('#txtMDPOSTREMAINshow').val(remotonew);
        $('#txtMDPRECREDITshow').val(remainfromold);
        $('#txtMDPOSTCREDITshow').val(remainfromnew);
        $('#txtCOMMNETSshow').val(comment)
        $('#txtREQUESTTIMINGshow').val(date)
        //   $('#txtmdfirmnameshow').val(frmname);
        //$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //  $('#txtmdfirmnameshow').val(frmname);
    }



</script>























<script>
    $('.tabChangeType').click(function () {
        $.ajax({
            url: $(this).attr('data-href'),
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })



    })
</script>




<script>
    function buttonClick(theButton) {

        $('#hdtype').val(theButton.name);

        //alert(theButton.name+"  "+$('#hdidno').val())


        return true;
    }




</script>


<script>

     $("#RetailerId").blur(function (event) {
        //  var character = String.fromCharCode(event.keyCode);
        var mobemail = $("#RetailerId").val()



            //   alert(mobemail.val())
            $.ajax({
                url: "@Url.Action("CheckRetailerEmailMobile")",
                data: { emailmobile:mobemail},
                success: function (txt) {




                    //debugger
                    if (txt != '') {
                                  var data = JSON.parse(txt);
                        $('#retailerinform').show();
                        $('#lblfrmname').text(data.frm_name);
                          $('#lblreatilername').text(data.retailername);
                        $('#lblemail').text(data.email);
                        $('#lblmobile').text(data.mobile)
                        // $('#shownoneclass').removeattr('disabled');
                           $('#shownoneclass').prop('disabled', false);
                    }
                    else {
                        $('#retailerinform').hide();
                       // $('#shownoneclass').attr('disabled', 'disabled');

                        $('#shownoneclass').prop('disabled', true);
                    }


                },
                 error: function(xhr){
        alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                     }




            })


});


</script>




<script>
    $(document).ready(function () {
        $('.tab-ar').click(function () {

            $(".tabr").removeClass('tab-activer');
            $(".tabr[data-id='" + $(this).attr('data-id') + "']").addClass("tab-activer");
            $(".tab-ar").removeClass('active-ar');
            $(this).parent().find(".tab-ar").addClass('active-ar');
            var usertype = $(this).attr('data-usertype')
            if (usertype == 'Admin') {
                $('#Payto').val('Admin')

            }
            else if (usertype == 'Distributor') {
                $('#Payto').val('Distributor')
            }
        });
    });
</script>


<script>


    function changemasterd(value) {
        var mas = $(value).val();
        if (mas == '') {
            $('.old-crd').hide();

        } else {
            $('.old-crd').show();
        }
    }

</script>

<script>
    $(document).ready(function () {
        $('.new-nextbutton button#shownoneclass').prop('disabled', true);
        $('.fullclassdata input#RetailerId').keyup(function () {
            if ($(this).val() != '') {
                $('.new-nextbutton button#shownoneclass').prop('disabled', false);
            }
        });
    });
</script>

<script>
    function OnSuccess(result) {
        $("#errorss").text(result);
        $("#home").find("input[type=text]").val('');

        $('#retailerinform').hide();
        $('#shownoneclass').attr('disabled', 'disabled');
        // cahangeTab('menu1');

        $.ajax({
            url: "@Url.Action("MDTODealer","Home",new { tabtype="ReatilertoRetailer"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)
                $('#outer-loader').hide();

            }

        })
    }
</script>



<style>

    .tab-menur ul {
        margin: 0;
        padding: 0;
    }



        .tab-menur ul li {
            width: 50%;
            text-align: center;
        }

        .tab-menur ul li {
            float: left;
        }
</style>



<!--Active_Class_jQuery-->

<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    function myFunction2() {

        //  var value = $(this).val().toLowerCase();
        var value = $('#myInput').val().toLowerCase();

        $("#tblbody .tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    }


</script>

<script>
    function otpsendr2r(otpcount, otpfor) {
        $.ajax({
            url: '@Url.Action("Transactionotpsend", "Home")',
            data: { otpcount: otpcount, otpfor: otpfor },
            cache: false,
            type: "POST",
            success: function (data) {
                var status = data.status;
                var msg = data.Message;
                if (status == "Success") {
                    msg = data.Message

                    setTimeout(() => {
                        let deadline = new Date().getTime() + 60000;
                        let x = setInterval(function () {
                            let now = new Date().getTime();
                            let t = deadline - now;
                            let seconds = Math.floor((t % (1000 * 60)) / 1000);
                            document.getElementById("demor2r").innerHTML = "Resend OTP after " + seconds + " seconds ";
                            if (seconds < 0) {
                                clearInterval(x);
                                document.getElementById("demor2r").style.display = "none";
                                document.getElementById('hideshowotpbtnr2r').style.display = "none"
                                document.getElementById('resendotpr2r').style.display = "block"
                            }
                        }, 1000);
                    }, 4000)


                    setTimeout(() => {
                        document.getElementById('hideshowotpbtnr2r').style.display = "none"
                        document.getElementById('otpsubmithideshowr2r').style.display = 'block'
                        document.getElementById('dmtsuccesscodeotpr2r').style.display = "block"
                        $('#dmtsuccesscodeotpr2r').text(msg);
                        setTimeout(() => {
                            document.getElementById('dmtsuccesscodeotpr2r').style.display = "none"
                        }, 5000)
                    });
                }
                else {
                    $('#dmterrorcodeotpr2r').text(msg);
                    setTimeout(() => {
                        document.getElementById('dmterrorcodeotpr2r').style.display = "none"
                    }, 4000)
                }
            }
        })
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>