@{
    ViewBag.Title = "Gift_Card";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminDesign/giftcardslider/giftcard.css" rel="stylesheet" />
<style>

    /* new css */

    .body.Gift_Carddbody {
        padding: 0;
    }

        .body.Gift_Carddbody .row {
            margin: 0;
        }
    .giftcardcategory.giftcardtab-thirddesign {
        padding: 0;
    }
    
    
    /* new css */

    .soomthly {
        display: none;
    }

    .soomthly1 {
        display: block;
    }

    .nav-tabs > li {
        top: 0px;
    }

    .thumbnail h3 {
        font-size: 14px;
    }

    .form-group .help-info {
        float: left;
    }

    .tab-contentup .tab-content .thumbnail {
        background: #eff0f4;
        padding: 8px;
    }

    .tab-contentup .tab-content .caption {
        margin-top: 8px !important;
        background: #fff;
        box-shadow: 0px 0px 3px -1px #555;
    }

        .tab-contentup .tab-content .caption h3 {
            margin-top: 10px;
        }

    .voucher-success h4 {
        text-transform: capitalize;
        color: #555;
        font-size: 28px;
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
    }

        .voucher-success h4::before {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background: url('../../ashok-images/closes.svg')no-repeat;
            background-size: 50%;
            background-color: red;
            text-align: center;
            border-radius: 50%;
            background-position: center;
            margin: 0px auto;
            margin-bottom: 10px;
        }
</style>
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }

    .retyyugfdw.voucherselect select {
        background-size: 10px !important;
    }

    @@media screen and (max-width:992px) {
        .third-design .giftcardtab-thirddesign .giftul-third-block {
            display: block !important;
        }

        .third-design .giftcardtab-thirddesign .giftul-third {
            display: none !important;
        }
    }

    @@media screen and (max-width:420px) {
        .tab-content-gift-secondclass .col-sm-6.col-md-3 {
            padding-left: 0;
            padding-right: 0;
        }

        .second-design .tab-content-gift-secondclass .thumbnail.thumbnailgift .rategiftcards img {
            height: auto !important;
        }

        .second-design .tab-content-gift-secondclass .thumbnail.thumbnailgift .rategiftcards img {
            height: auto !important;
        }
    }
</style>
<section class=" Gift_Cardd Gift_Cardd-reshponshive content-fourdesign-page allpage-four-design-section" style="margin:0px 0px 0px 0px; ">

    <!--Four-Design-Page-Header-Start-->

    <div class="page-title-box-fourde">
        <h3>Gift Cards</h3>
        <ul>
            <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);">Pages&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);">Gift Cards</a></li>
        </ul>
    </div>

    <!--Four-Design-Page-Header-End-->

    <div class="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0;">
            <div class="card navbar" style="position:initial;">
                <div class="body Gift_Carddbody">

                    @*Third_Design-Start*@

                    <div class="svg-container-third-design">
                        <svg viewBox="0 0 202.9 45.5">
                            <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
                                <path d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z" />
                            </clipPath>
                        </svg>
                    </div>

                    @*Third_Design-End*@

                    <div class="row">
                        <div class="col-md-12 giftcardcategory giftcardtab-thirddesign" style="margin-bottom:0px;">
                            <center class="page-header-third">
                                <ul id="leftulbar" class="nav nav-tabs tab-col-orange fullbodydycolorbg giftul-third-block" role="tablist" style="background:#607D8B;border-bottom:none;-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:0px; border-radius:2px;">
                                    <li role="presentation" class="active" style="margin-left:22px;">
                                        <a href="#All" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/gift.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span id="alltab" style="padding-left:5px;">ALL</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:36px;">
                                        <a href="#onlineshopping" onclick="showdata('onlineshopping')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/internet.svg" style="height:45px; margin-top:-5px;" />
                                            <br /><span>Ecommerece&nbsp;&&nbsp;Online</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#entertainment" onclick="showdata('entertainment')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/video.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Entertainment</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:32px;">
                                        <a href="#fashion" onclick="showdata('fashion')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/supermarket.svg" style="height:45px;margin-top:-5px" />
                                            <br />
                                            <span style="padding-left:5px;">Grocery&nbsp;&&nbsp;Homeneeds</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:26px;">
                                        <a href="#retail" onclick="showdata('retail')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/ayurvedic.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:0px;">Health</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:8px;box-shadow:none;">
                                        <a href="#healthbeauty" onclick="showdata('healthbeauty')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/fashion-designer.svg" style="height:45px;margin-top:-5px;" />
                                            <br /><span style="margin-left:0px;text-align:center;display:block;">Fashion&nbsp;&&nbsp;Lifestyle</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#jewellery" onclick="showdata('jewellery')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/wedding.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Jewellery</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:39px;">
                                        <a href="#travels" onclick="showdata('travels')" data-toggle="tab" aria-expanded="true">
                                            <img src="~/ashok-images/sneakers.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Sportswear&nbsp;&&nbsp;Footwear</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#electronics" onclick="showdata('electronics')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/home-theater.svg" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Electronics</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                        <a href="#hotelrestaurant" onclick="showdata('hotelrestaurant')" data-toggle="tab" aria-expanded="false">
                                            <img src="~/ashok-images/plane(1).svg" style="height:38px;margin-top:2px;" />
                                            <br />
                                            <span style="margin-left:-8px;">Travel&nbsp;&&nbsp;Restaurants</span>
                                        </a>
                                    </li>
                                </ul>
                            </center>

                            @*Gift-Card-Third-Design-Start*@

                            <center>
                                <ul id="leftulbar" class="nav nav-tabs tab-col-orange fullbodydycolorbg giftul-third" role="tablist" style="background:#607D8B;border-bottom:none;-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:0px; border-radius:2px;">
                                    <li role="presentation" class="active" style="margin-left:22px;">
                                        <a href="#All" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/gift.svg" /></i>

                                            <span id="alltab" style="padding-left:5px;">ALL</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:36px;">
                                        <a href="#onlineshopping" onclick="showdata('onlineshopping')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/internet.svg" /></i>
                                            <span>Ecommerece&nbsp;&&nbsp;Online</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#entertainment" onclick="showdata('entertainment')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/video.svg" /></i>

                                            <span style="padding-left:5px;">Entertainment</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:32px;">
                                        <a href="#fashion" onclick="showdata('fashion')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/supermarket.svg" /></i>

                                            <span>Grocery&nbsp;&&nbsp;Homeneeds</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:26px;">
                                        <a href="#retail" onclick="showdata('retail')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/ayurvedic.svg" /></i>

                                            <span>Health</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:8px;box-shadow:none;">
                                        <a href="#healthbeauty" onclick="showdata('healthbeauty')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/fashion-designer.svg" /></i>
                                            <span>Fashion&nbsp;&&nbsp;Lifestyle</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#jewellery" onclick="showdata('jewellery')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/wedding.svg" /></i>

                                            <span>Jewellery</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:39px;">
                                        <a href="#travels" onclick="showdata('travels')" data-toggle="tab" aria-expanded="true">
                                            <i><img src="~/ashok-images/sneakers.svg" /></i>

                                            <span>Sportswear&nbsp;&&nbsp;Footwear</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:19px;">
                                        <a href="#electronics" onclick="showdata('electronics')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/home-theater.svg" /></i>

                                            <span>Electronics</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                        <a href="#hotelrestaurant" onclick="showdata('hotelrestaurant')" data-toggle="tab" aria-expanded="false">
                                            <i><img src="~/ashok-images/plane(1).svg" /></i>

                                            <span>Travel&nbsp;&&nbsp;Restaurants</span>
                                        </a>
                                    </li>
                                </ul>
                            </center>

                            @*Gift-Card-Third-Design-End*@


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix giftcardmain">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card class-back-tra-fourdesign" style="margin-top:-14px;">
                <div class="page-header-third">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-12 tab-contentup">
                                <!-- Tab panes -->
                                <div class="tab-content tab-content-gift-secondclass">
                                    <div role="tabpanel" class="tab-pane flipInX animated bounceIn active" id="All">
                                        <div class="header changeback-four-design padding-both-four-in">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        All Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated flash" id="fashion">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Grocery & Homeneeds Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="fashion_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated rubberBand" id="onlineshopping">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Ecommerece & Online Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="onlineshopping_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane animated flipInX" id="entertainment">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Entertainment Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="entertainment_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated fadeInRight" id="travels">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Sportswear & Footwear Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="travels_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade flipInX animated" id="retail">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Hospitality Digital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="retail_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated fadeInDownBig" id="healthbeauty">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Health & LifestyleDigital Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="healthbeauty_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated fadeInLeft" id="hotelrestaurant">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Travel & Restaurants Gift Card Vouchers
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="hotelrestaurant_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated fadeInLeft" id="electronics">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Electronics
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="electronics_container"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane flipInX animated fadeInLeft" id="jewellery">
                                        <div class="header">

                                            <div class="row">
                                                <div class="col-xs-10">
                                                    <h2>
                                                        Jewellery
                                                    </h2>
                                                </div>
                                                @*<div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn btn-primary waves-effect" onclick="ShowCheckbalModalPopup()">CHECK VOUCHER BALANCE</a>
                                    </div>*@
                                            </div>


                                        </div>
                                        <div id="jewellery_container"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
<input type="hidden" id="HDServicesname" name="HDServicesname" value="" />


<div class="modal fade in" id="defaultModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" style="padding-top:100px;">
    <div class="modal-dialog dialogsecond-gift second-gift-responshive" role="document">
        <div class="modal-content">
            <div class="modal-header vouchername">
                <h2 class="modal-title" id="optname"></h2>
                <button id="termsconditionshow" style="margin-left:1%;">Terms & Condition</button>
                <button id="">How To Redeem</button>
            </div>
            <div class="modal-body">

                <div class="row vvdserffgfgbhh">
                    <div class="col-md-5 selectvoucher">
                        <img id="myImg" src="" style="">
                        <div class="row">
                            <div class="col-md-12" style="margin-top:19px;font-size:11px;">

                                <ul class="scroll">
                                    <li>Gift Card Type:<span id="cardtype"></span></li>
                                    <li>Desctiption:<span style="text-align:justify;" id="shortdesc"></span></li>


                                </ul>




                            </div>
                        </div>
                    </div>


                    <div id="firstGiftCard123" class="col-md-12" style="text-align:center;width:50%;float:right;display:none;">
                        <img src="~/ashok-images/forbidden.svg" style="width:90px;display:block;margin: 0px auto;" />
                        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;display:block;">GIFTCARD Service Expired !</span>
                        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                        <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseGIFTCARD('GIFTCARD')" style="color: #fff;font-size:15px;">GIFTCARD Purchase</button>
                        <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href" style="font-size:15px;color:#fff;">Refresh Page</button>
                    </div>



                    <div id="ALLGiftCard123" class="col-md-12" style="text-align:center;width:50%;float:right;display:none;">

                        <img src="~/ashok-images/forbidden.svg" style="width: 90px;display: block;margin: 0px auto;" />
                        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">GIFTCARD Service Expired !</span>
                        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                        <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseGIFTCARD('ALL')" style="color: #fff;">ALL Purchase</button>
                        <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href">Refresh Page</button>

                    </div>
                    <div id="BOTHGiftCard123" class="col-md-12" style="text-align: center; width: 50%; float: right; display: none;">
                        <img src="~/ashok-images/forbidden.svg" style="width: 90px; display: block; margin: 0px auto; " />
                        <span class="bodycolormy" style="margin-top: 20px;margin-bottom: 20px;font-size: 26px;">GIFTCARD Service Expired !</span>
                        <p style="margin-bottom: 20px;text-align: justify;">Your service is currently down, if you want to keep the service running smoothly, you will have to pay the service fee, which you see below and you can purchase the service by clicking the button.</p>
                        <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseGIFTCARD('ALL')" style="color: #fff;">ALL Purchase</button>
                        <button class="btn btn-default fullbodydycolorbg" onclick="PurchaseGIFTCARD('GIFTCARD')" style="color: #fff;">GIFTCARD Purchase</button>
                        <button class="btn btn-default fullbodydycolorbg" onClick="window.location.href=window.location.href">Refresh Page</button>

                    </div>





                    <div id="secpurGiftCard" class="col-md-12 remitter_button remitter_buttonewq" style="display:none;text-align: center;width:50%;float:right;">
                        <span style="margin-top:0;">Payment Details</span>
                        <div class="lavbrd">
                            <label>Mode</label>
                            <label class="rightlable" id="PaymentType111"></label>
                        </div>
                        <div class="lavbrd">
                            <label>Amount</label>
                            <label class="rightlable" id="Price111"></label>
                        </div>
                        <div class="coldebuttonnew">
                            <button class="bacbuttonrrt" onclick="backcallfinalcancel()">Back</button>
                            <button class="btn btn-default fullbodydycolorbg" onclick="FinalPurchaseGIFTCARD()" style="color: #fff;">Pay Now</button>
                        </div>
                        <br />
                        <label id="errmsgmicro" style="color:red;"></label>
                    </div>









                    <div id="showwwww" class="col-md-6 vouchercontent">
                        <div class="nonetramscondition">

                            <input type="hidden" id="minval" />
                            <input type="hidden" id="maxval" />
                            <input type="hidden" id="optcode" />
                            <div class="form-group form-float">
                                <p class="" id="slabamt">Amount<span style="font-size:11px;color:red;" id="amount_validate"></span></p>
                                <div class="retyyugfdw voucherselect" style="border:1px solid #b5b5b56b">
                                    <input type="text" class="form-control" name="Amount" id="Amount" onkeypress="return isNumber(event)" style="margin-bottom:2px;">
                                </div>
                                <div class="help-info left" id="showprice" style="margin-bottom:10px !important;margin-top: 3px !important;"></div>
                            </div>
                            <div class="form-group form-float">
                                <p>Receiver Name <span style="font-size:11px;color:red;" id="recivername_validate"></span></p>
                                <div class="" style="margin-top:8px;border:1px solid #b5b5b56b">
                                    <input type="text" class="form-control" name="ReceiverName" id="ReceiverName">

                                </div>
                                <div class="help-info left"></div>
                            </div>

                            <div class="form-group form-float">
                                <p style="margin-top:-18px;">Receiver Email<span style="font-size:11px;color:red;" id="reciveremail_validate"></span></p>
                                <div class="" style="margin-top:6px;border:1px solid #b5b5b56b">
                                    <input type="text" class="form-control" name="ReceiverEmail" id="ReceiverEmail">
                                </div>
                                <div class="help-info left"></div>
                            </div>
                            <div class="form-group form-float">
                                <p style="margin-top:-18px;">Receiver Mobile<span style="font-size:11px;color:red;" id="recivermobile_validate"></span></p>
                                <div class="form-line" style="margin-top:8px;border:1px solid #b5b5b56b">
                                    <input type="text" class="form-control" name="ReceiverMobile" id="ReceiverMobile">
                                </div>
                                <div class="help-info left"></div>
                            </div>
                            <div class="form-group form-float">
                                <p style="margin-top:-18px;">Message for Receiver (optional)</p>
                                <div class="" style="margin-top:8px;border:1px solid #b5b5b56b">

                                    <textarea id="Message" maxlength="200" onkeyup="countChar(this)"></textarea>

                                </div>
                                <div class="help-info left"><span id="charactersytres">200</span>&nbsp;characters remaining</div>
                            </div>
                            <div class="modal-footer voucherbutton" style="padding-right:0;">

                                <button type="button" class="btn bg-grey waves-effect closebacjew" style="margin-top: 4px; margin-right: 12px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">cancel</span>
                                </button>
                                <button type="button" id="buynow" onclick="buychk()" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px;height:34px;">
                                    <span id="textshowcontentnone" style="top:-2px;color:black;">Buy Now</span>
                                </button>
                                <button type="button" id="areyousure" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px;height:34px; display:none;" onclick="Buynow()">
                                    <span id="textshowcontentnone" style="top:-2px;color:black;">Are You Sure</span>
                                </button>

                            </div>

                        </div>

                        <div class="nonetramsconditionblock" style="display:none">
                            <span style="text-align:justify;" id="termsdesc"></span>
                            <button id="termsconditionnonee" class="change-css-customenew">Close</button>
                        </div>



                    </div>
                    <div id="messageshow" class="col-md-6 voucher-success" style="display:none;">
                        <h3 id="suc">Order <span id="sts"></span></h3>
                        <h4 id="fail">Order <span id="sts1"></span></h4>
                        <table border="1">
                            <tr>
                                <th>Purchase Response</th>
                                <td><span id="msg"> </span></td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td><span id="amt"> </span></td>
                            </tr>
                            <tr>
                                <th>Receiver Name</th>
                                <td><span id="recname"></span></td>
                            </tr>
                            <tr>
                                <th>Receiver Mobile</th>
                                <td><span id="recmob"></span></td>
                            </tr>
                            <tr>
                                <th>Receiver Email</th>
                                <td><span id="recemail"></span></td>
                            </tr>
                            <tr>
                                <th>Message for Receiver</th>
                                <th><span id="recemsg"></span></th>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                        <div class="voucherbutton">
                            <button class="vouchersuccess" onclick="cancel()"><span>Cancel</span></button>
                            @*<button class="fullbodydycolorbg"><span>Send Email</span></button>*@

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>


<!--Check Balance Modal-->
<div class="modal fade in giftcardcheckblance" id="CheckbalModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">GIFT CARD BALANCE</h4>
                <button type="button" class="btn waves-effect" data-dismiss="modal">
                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" style="color:#ff003d;" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p style="font-size:13px;color:#0d72b9;">Received a gift card? Check balance in your card</p>
                    <div class="col-md-12">
                        <div class="form-group form-float" style="margin-bottom:8px;">
                            <p class="">Gift Card Number<span style="margin-left:18px;font-size:11px;color:red;" id="giftcardno_validate"></span></p>
                            <div class="" style="border:1px solid #b5b5b56b;">
                                <input type="text" class="form-control" name="Giftcardno" id="Giftcardno" onkeypress="return isNumber(event)">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <p class="">Gift Card Pin<span style="margin-left:71px;font-size:11px;color:red;" id="pin_validate"></span></p>
                            <div class="" style="border:1px solid #b5b5b56b;">
                                <input type="password" placeholder="Enter Pin" class="form-control" name="Pin" id="Pin" onkeypress="return isNumber(event)" autocomplete="off" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:-54px;">
                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" data-dismiss="modal">
                    <span style="top:-2px;color:black;">close</span>
                </button>
                <button type="button" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="CheckBalVoucher()">
                    <span style="top:-2px;color:black;">Check Balance</span>
                </button>


            </div>
            <div id="backtodashboardcall" data-request-url="@Url.Action("Dashboard", "Home")"></div>
            <input type="hidden" id="latss" required name="latss" />
            <input type="hidden" id="longloc" required name="longloc" />
        </div>
    </div>
</div>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert.min.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/CheckValidation/valideatelocations.js"></script>
<script>

    function backcallfinalcancel() {
        $('#HDServicesname').val('');
        $('#secpurGiftCard').hide();
        brand_details('ALL');
    }

    function PurchaseGIFTCARD(e) {
            $('#HDServicesname').val('');
        $.ajax({
            url: '@Url.Action("ServiceCharge","Home")',
            data: { Service: e },
            cache: false,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                
                $('#secpurGiftCard').show();
                $('#PaymentType111').html(data.PaymentType);
                $('#Price111').html(data.Price);
                 $('#ALLGiftCard123').hide();
                $('#BOTHGiftCard123').hide();
                $('#firstGiftCard123').hide();

                $('#HDServicesname').val(e);
            }
        });
    }
    function FinalPurchaseGIFTCARD() {

         $.ajax({
            url: '@Url.Action("ServicePurchase","Home")',
             data: { Service: $('#HDServicesname').val() },
            cache: false,
            type: "POST",
             dataType: 'json',
            beforeSend: function() {
                      $('.loader').show();
                     },
             success: function (data) {

                 if (data.Status == "Success") {
                     $('#HDServicesname').val('')
                     brand_details('ALL')
                 }
                 else {
                     $('#errmsgmicro').text(data.Message);
                 }

             },
             complete: function () {
                 $('.loader').hide();
                 $("#remainretailer").load(location.href + " #remainretailer");
             },
             error: function () {
                 $("#remainretailer").load(location.href + " #remainretailer");
                 $('.loader').hide();
             }
        });
    }
</script>




<script>
    function buychk() {
        $('#buynow').hide();
        $('#areyousure').show();
    }
</script>
<script>
    function cancel() {
        $('#defaultModal').modal('hide');
        $("#showwwww").show();
        $('#messageshow').hide();
    }
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!--Brand Details Function-->
<script>
    function brand_details(optcode)
    {
        $('#secpurGiftCard').hide();
        $('#ALLGiftCard123').hide();
        $('#BOTHGiftCard123').hide();
        $('#firstGiftCard123').hide();
        $('#HDServicesname').val('')
        $('#showwwww').hide();
        document.getElementById("amount_validate").innerHTML = "";
        document.getElementById("recivername_validate").innerHTML = "";
        document.getElementById("reciveremail_validate").innerHTML = "";
        document.getElementById("recivermobile_validate").innerHTML = "";
        $.ajax({
            type: 'Post',
            url: "@Url.Action("GiftCard_details", "Home")",
            data: { optcode: optcode, opttype: "ALL", isfirsttime: 'NO' },
            dataType: 'json',
             cache: false,
             async: true,
            success: function (data) {
                
                var resp = JSON.parse(data);

                if (resp == "ALLNOTDONE") {

                    $('#ALLGiftCard123').show();


                   $("#defaultModal").modal();
                }
                else if (resp == "BOTHNOTDONE") {

                    $('#BOTHGiftCard123').show();


                    $("#defaultModal").modal();
                }
                else if (resp == "NOTOK") {
                    $("#firstGiftCard123").show()

                    $("#defaultModal").modal();



                  }


                else if (resp.StatusCode == "200") {

                    $('#showwwww').show();
                   var addinfo = resp.Content.ADDINFO[0];

                    var img = "https://www.vastbazaar.com/" + addinfo.image.replace("../../", "");

                    document.getElementById("myImg").src = img;
                    $("#optname").html(addinfo.OptName);

                     var description = addinfo.DESCRIPTION;
                     var product_type = addinfo.opttype;
                     var price_type = addinfo.amounttype;
                     var min_custom_price="";
                     var max_custom_price="";
                     var showpricerange="";
                     var custom_denominations="";
                     var termcondition = addinfo.Terms;
                     var array = termcondition.split("<br/>");
                     var str = "";
                     array.forEach(function (entry) {
                         str = str + "<li style='padding-bottom:7px;font-size:12px;'>" + entry + "</li>";
                     });
                     if(price_type=="Range")
                     {
                         document.getElementById("slabamt").style.display = "block";

                         min_custom_price = addinfo.min;
                         max_custom_price = addinfo.max;
                         $("#Amount").html("");
                         $("#Amount")
                      .replaceWith('<input type="text"  id="Amount" class="form-control" onkeypress="return isNumber(event)"/ >');

                         showpricerange =  "Min: ₹" + min_custom_price + " - Max: ₹" + max_custom_price + "";
                         $("#cardtype").html(product_type);
                         $("#shortdesc").html(description);
                          $("#termsdesc").html(str);
                         $("#showprice").html(showpricerange);
                         $("#minval").val(min_custom_price);
                         $("#maxval").val(max_custom_price);
                         $("#optcode").val(optcode);
                         $("#defaultModal").modal();
                     }
                     else {
                         $("#minval").val("");
                         $("#maxval").val("");
                         document.getElementById("slabamt").style.display = "block";
                          custom_denominations = addinfo.fixedvalues;
                          showpricerange = "(Choose from ₹:" + custom_denominations + ")";
                          var array = custom_denominations.split(",");
                        $("#cardtype").html(product_type);
                         $("#shortdesc").html(description);
                         $("#showprice").html(showpricerange);
                         $("#optcode").val(optcode);
                         $("#termsdesc").html(str);

                     $("#Amount")
                  .replaceWith('<select name="Amount" id="Amount" class="form-control">' +
                    '</select>');
                   var div_data = "";
                   array.forEach(function (entry) {
                       div_data = div_data + "<option value=" + entry + ">" + entry + "</option>";
                   });
                   $(div_data).appendTo('#Amount');
                    $("#defaultModal").modal();
                     }
                }
        }
    });
        //$("#defaultModal").modal();
    }
</script>

<script>
    $(function () {

        $.ajax({
            type: "POST",
            url: "@Url.Action("GiftCard_details", "Home")",
            cache: false,
            data: { optcode: "ALL",opttype:"ALL" },
            success: function (data) {

                var resp = JSON.parse(data);
                if (resp.StatusCode == "200") {
                    var addinfo = resp.Content.ADDINFO;
                    $.each(addinfo, function (i, item) {
                        $('#container').append("<div class='col-sm-6 col-md-3'>" +
                            "<a href='javascript:void(0)' onclick=brand_details('" + item.OptCode + "') style='text-decoration:none;'>" +
                                            "<div class='thumbnail thumbnailgift'>"+
                            "<div class='rategiftcards'>" +
                            "<img src='https://www.vastbazaar.com"+item.image.replace("../..","")+"' style='height:192px; width:100%;' id='img' />" +
                                                    "<span>"+item.comm+"% OFF</span>"+
                                                "</div>"+
                            "<div class='caption' style='text-align:center;'>" +
                            "<h3>" + item.OptName + "</h3>" +
                                                "</div>"+
                                            "</div>"+
                                        "</a>"+
                                    "</div>");
                    });
                }

            }
        })
});
</script>
<script>
    function showdata(opttype) {

        $('#'+opttype).html("");
      $.ajax({
            type: "POST",
            url: "@Url.Action("GiftCard_details", "Home")",
            cache: false,
          data: { optcode: "ALL", opttype: opttype},
            success: function (data) {
                var resp = JSON.parse(data);
                if (resp.StatusCode == "200") {
                    var addinfo = resp.Content.ADDINFO;
                    if (addinfo != "") {
                        $.each(addinfo, function (i, item) {
                            $('#'+opttype).append("<div class='col-sm-6 col-md-3'>" +
                                "<a href='javascript:void(0)' onclick=brand_details('" + item.OptCode + "') style='text-decoration:none;'>" +
                                "<div class='thumbnail thumbnailgift'>" +
                                "<div class='rategiftcards'>" +
                                "<img src='https://www.vastbazaar.com" + item.image.replace("../..", "") + "' style='height:192px; width:100%;' id='img' />" +
                                "<span>" + item.comm + "% OFF</span>" +
                                "</div>" +
                                "<div class='caption' style='text-align:center;'>" +
                                "<h3>" + item.OptName + "</h3>" +
                                "</div>" +
                                "</div>" +
                                "</a>" +
                                "</div>");
                        });
                    }
                }

            }
        })
    }
</script>


<!--Buy Now Giftcard-->
<script>
    function Buynow()
    {
        latss = $('#latss').val();
        longloc = $('#longloc').val();
        var minval = $("#minval").val();
        var maxval = $("#maxval").val();
        var amount = $("#Amount").val();
        var recivername = $("#ReceiverName").val();
        var reciveremail = $("#ReceiverEmail").val();
        var recivermobile = $("#ReceiverMobile").val();
        var message = $("#Message").val();
        var optcode = $("#optcode").val();

        if (amount == "" || recivername == "" || reciveremail == "" || recivermobile == "")
         {
        if (amount == "")
        {
          document.getElementById("amount_validate").innerHTML = "Please enter amount";
            event.preventDefault();
            return false;
        }
        else {
            document.getElementById("amount_validate").innerHTML = "";
        }
        if (amount < parseInt(minval) || amount > parseInt(maxval)) {
                  document.getElementById("amount_validate").innerHTML = "Enter a valid amount";
            event.preventDefault();
            return false;

          }
          else {
              document.getElementById("amount_validate").innerHTML = "";
          }

          if (recivername == "")
           {
           document.getElementById("recivername_validate").innerHTML = "Please enter receiver name";
                event.preventDefault();
                return false;

          }
          else {
              document.getElementById("recivername_validate").innerHTML = "";
          }
          if (reciveremail == "") {
              document.getElementById("reciveremail_validate").innerHTML = "Please enter receiver email-id";
              event.preventDefault();
              return false;
          }
          else {
              document.getElementById("reciveremail_validate").innerHTML = "";
          }
          if (recivermobile == "") {
              document.getElementById("recivermobile_validate").innerHTML = "Please enter receiver mobile no";
              event.preventDefault();
              return false;
          }
          else {
              document.getElementById("recivermobile_validate").innerHTML = "";
          }
        }
          else {

              document.getElementById("amount_validate").innerHTML = "";
              document.getElementById("recivername_validate").innerHTML = "";
              document.getElementById("reciveremail_validate").innerHTML = "";
              document.getElementById("recivermobile_validate").innerHTML = "";

            ///Ajax Call


            $("#textshowcontentnone").html("Are you sure !");

                    $.ajax({
                    type: "POST",
                     url: "@Url.Action("Buygitfcard", "Home")",
                        data: { optcode: optcode, amount: amount, receiver_name: recivername, receiver_email: reciveremail, receiver_mobile: recivermobile, gift_message: message, latss: latss, longloc: longloc  },
                    cache: false,
                    dataType: 'json',
                    closeOnConfirm: true,
                        success: function (data) {

                        var sts = "";
                        sts = data.status;
                            var msg = data.message;
                            if (sts == "success") {
                                $('#fail').hide();
                                $('#suc').show();
                                $('#sts').text(sts);
                            }
                            else {
                                $('#fail').show();
                                $('#suc').hide();
                                $('#sts1').text(sts);
                            }


                            $("#showwwww").hide();
                            $('#messageshow').show();

                            $('#msg').text(msg);
                            $('#amt').text(amount);
                            $('#recname').text(recivername);
                            $('#recemail').text(reciveremail);
                            $('#recmob').text(recivermobile);
                            $('#recemsg').text(message);

                    }
                });



          }

    }
</script>

<!--Check Balance Voucher Modal Popup-->
<script>
    function ShowCheckbalModalPopup() {
        $("#Pin").val("");
        $("#CheckbalModal").modal();
    }
</script>

<!--Check Bal Gift card Voucher script-->
<script>
    function CheckBalVoucher()
    {
        var giftcardno = $("#Giftcardno").val();
        var Pin = $("#Pin").val();
        if (giftcardno == "" || Pin == "")
        {
            if (giftcardno == "") {
                document.getElementById("giftcardno_validate").innerHTML = "Please gift card number";
                event.preventDefault();
                return false;
             }
            else {
                document.getElementById("giftcardno_validate").innerHTML = "";
             }
            if (Pin == "") {
                document.getElementById("pin_validate").innerHTML = "Please enter pin";
                event.preventDefault();
                return false;
            }
            else {
                document.getElementById("pin_validate").innerHTML = "";
            }
        }
        else {
            document.getElementById("giftcardno_validate").innerHTML = "";
            document.getElementById("pin_validate").innerHTML = "";

            $.ajax({
                type: 'Post',
                url: "@Url.Action("CheckGiftVoucherBal", "Home")",
                data: { cardnumber: giftcardno, pin: Pin },
            dataType: 'json',
            cache: false,
            async: true,
            success: function (data) {
                var sts = "";

                sts = data.status;
                   var cardnumberno = data.cardnumberno;
                var cardbalance = data.cardbalance;
                var expiry = data.expiry;
                if (sts == "SUCCESS")
                {
                $("#CheckbalModal").modal('hide');
                    swal({
                        title: "CHECK VOUCHER BALANCE",
                        html: true,
                        text: "<p>Cardnumber :  " + cardnumberno + "</p> <br/><p style='margin-top:-17px;margin-left:-97px;'>Cardbalance :  " + cardbalance + "</p> <br/>  <p style='margin-top:-17px;margin-left:-61px;'>Expiry Date   :  " + expiry + "</p><br/> <p style='margin-top:-17px;margin-left:-32px;'>Status   :  " + sts + "</p>",
                        confirmButtonText: "Close",
                        allowOutsideClick: "true"
                    });
                }
                else {
                $("#CheckbalModal").modal('hide');
                    swal("Oops !", data.message, "error");
                }
            }
        });

        }
    }
</script>





<script>
    function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
            val.value = val.value.substring(0, 200);
        } else {
            $('#charactersytres').text(200 - len);
        }
    };
</script>

<script>
    $(function () {
        $("#termsconditionshow").click(function () {
            $(".nonetramscondition").css("display", "none");
            $(".nonetramsconditionblock").css("display", "block");
        });
        $("#termsconditionnonee").click(function () {
            $(".nonetramsconditionblock").css("display", "none");
            $(".nonetramscondition").css("display", "block");
        });
    });
</script>

<script>

    $('.vouchername button').on('click', function () {
        $(this).addClass('activebutton').siblings().removeClass('activebutton');
    });
</script>