@model IEnumerable<Vastwebmulti.Models.Gift_card_details_report_Result>
@{
    ViewBag.Title = "Giftcard_Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    /* new css  */

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }
    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
    .bread-same-all-page {
        float: left;
        width: 25%;
    }

        .bread-same-all-page li.smli {
            font-weight: bold;
        }

        .bread-same-all-page li {
            float: left;
            list-style: none;
        }

    .tmw-total-color-one {
        -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }


    .bread-same-all-page a {
        font-size: 15px;
        color: #000;
        float: left;
        font-weight: normal;
    }

    .second-design .giftcardpage .giftcardcontent .giftfive button span {
        color: #fff !important;
    }
    .tablethirddesign-newnew table tr td img {
        border-radius: 50%;padding: 2px 3px;
        height: 17px !important;
        width: 17px !important;margin-right:4px;
    }


    @@media only screen and (max-width:1169px){

        .container-fluid.giftcardpage {
            padding-left: 15px;
        }
        .col-md-3.buttonPdf button {
            margin-right: 0px;
        }
    }

    @@media only screen and (max-width:991px){
        .col-md-2.giftsecond {
            float: left;
        }
        #optt {
            float: left;
        }
        .giftfor.giftforeee {
            float: left;
        }

    }

    @@media only screen and (max-width:990px) {

        .col-md-3.buttonPdf.giftcardpdf.giftcardpdf-table-reportres {
            display: block;
        }
        .giftcardcontent.fghfdghclass.fghfdghclass-giftcard {
            float: left;
        }


    }

    @@media only screen and (max-width:767px) {

        .col-md-2.giftsecond {
            width: 50%;
            margin-bottom: 4px;
        }
        .giftcardcontent .col-md-2.giftfirst {
            width: 50%;
            margin-bottom: 4px;
            
        }
        .fghfdghclass .datesate .form-iconmy {
            display: block;
        }
        .fghfdghclass-giftcard .col-md-5.giftfor.giftforeee {
            padding-left: 0 !important;
        }
    }

    @@media only screen and (max-width:480px){
        .fghfdghclass-giftcard .col-md-2.giftsecond, .fghfdghclass-giftcard .giftfirst {
            width: 100% !important;
            margin-bottom: 4px;
        }
        .giftcardcontent .col-md-2 {
            padding: 0px;
        }
        .fghfdghclass-giftcard .col-md-5.giftfor.giftforeee {
            width: 100%;
            margin-bottom: 4px;
            padding:0 !important;
        }
        .col-md-6.giftcard-button {
            width: auto;
        }
        .giftcardcontent .col-md-1.giftfive {
            width: 30%;
        }



    }

</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid giftcardpage security-report-responshive" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Giftcard Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Giftcard Report</a></li>
            </ul>
        </div>

        <div class="page-header-third">
            <div class="bread-same-all-page addtfgf-new">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Gift Cards Report
                    </li>
                </ul>
            </div>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix" style="margin:0;">
            <div class="page-header-third">

                @using (Html.BeginForm("Giftcard_Report", "Home", FormMethod.Post))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 class-newresponshiveadd" style="padding:0;">
                        <div class="card class-back-tra-fourdesign" style="">

                            <div class="giftcardcontent fghfdghclass fghfdghclass-giftcard" style="width:70%;">

                                <div class="col-md-2 giftsecond">
                                    <div class="form-line" style="margin-top:5px;width:100%;border:1px solid #dddddd;padding-bottom:10px;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="All Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="PENDING",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                             }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                    </div>
                                </div>
                                <div class="col-md-2 giftfirst" id="optt">
                                    <div class="form-line" style="margin-top:5px;width:100%;border:1px solid #dddddd;padding-bottom:10px;">
                                        @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "Select Gift Card Operator", new { id = "Operator", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px; text-align:center;height:34px;" })
                                    </div>
                                </div>
                                <div class="col-md-5 giftfor giftforeee" style="padding:0px 4px;">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="datesate datesates">
                                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            </div>
                                            <span style="display:none;" class="input-group-addon">
                                                <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                            </span>
                                            <div class="datesate datesatese">
                                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-1 giftfive">
                                    <center>
                                        <button name="btntype" type="submit" class="btn retailer-search-second" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" onclick="serch()">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>
                                    </center>

                                </div>
                            </div>
                            <div class="col-md-3 buttonPdf giftcardpdf giftcardpdf-table-reportres retailer-pdf-second" style="width:auto;">

                                <button id="btnPDF">PDF</button>
                                <button id="btnExport">Export</button>
                                <button>Total</button>
                            </div>
                            <div class="col-md-6 giftcard-button" style="display:none;">
                                <div class="form-group" style="">
                                    <div style="padding-top: 26px;  margin-left: 45%; ">

                                        <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;PDF&nbsp;@ViewData["Totalf"]</button>
                                        <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;Export&nbsp;@ViewData["Totalp"]</button>
                                        <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Total&nbsp;@ViewData["Totals"]</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-security-responshive" style="padding:0px;">
                    <div class="card class-back-tra-fourdesign">

                        <div class="row clearfix" style="margin:0;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                <div class="">
                                    <div class="body table-responsive giftcard-responsive tablethirddesign-newnew" style="position:inherit;padding:3px;margin-top:4px;">
                                        <table class="table table-bordered table-striped table-hover third-design-table fourdesign-data-table" cellspacing="0" style="width:100%;font-size:12px;">
                                            <thead class="" style="color:white;position:inherit;width: 100%;">
                                                <tr>
                                                    <th>Status&nbsp;</th>
                                                    <th>Receiver</th>
                                                    <th style="width:8%;">User&nbsp;Email</th>
                                                    <th>User&nbsp;No</th>
                                                    <th>Amount</th>
                                                    <th style="width:6%;"><span style="">Pre&nbsp;₹</span></th>
                                                    <th>Dr/Cr&nbsp;₹</th>
                                                    <th><span style="">Post&nbsp;₹</span></th>
                                                    <th>Request&nbsp;Time</th>
                                                    <th>Operator&nbsp;Id</th>
                                                    <th style="width:6%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        var img = "";
                                                        var color = "";
                                                        if (item.status.ToUpper() == "FAILED")
                                                        {
                                                            color = "red";
                                                            img = "../../ashok-images/closes.svg";
                                                        }
                                                        else
                                                        {
                                                            color = "#673AB7";
                                                            img = "../../ashok-images/undo.svg";
                                                        }
                                                        if (item.status.ToUpper() == "PENDING")
                                                        {
                                                            color = "#FF9800";
                                                            img = "../../ashok-images/clkk.png";
                                                        }

                                                        if (item.status.ToUpper() == "SUCCESS")
                                                        {
                                                            color = "green";
                                                            img = "../../ashok-images/correct.svg";
                                                        }


                                                        <tr>
                                                            <td><img src="@img" style="background:@color;" />@item.status </td>
                                                            @*<td style="width:9%;" class="successimggift">
                                                    <img src="../../ashok-images/correct.svg" />Card&nbsp;Name
                                                    </td>*@
                                                            <td>@item.reciver_name</td>
                                                            <td style="width:9%;">@item.reciver_email</td>
                                                            <td>@item.reciver_mobile</td>

                                                            <td>@item.amount</td>
                                                            <td style="width:6%;">@item.rem_pre_remain ₹</td>
                                                            <td>@item.amount ₹</td>
                                                            <td>@item.rem_post_remain ₹</td>
                                                            @*<td>Earn</td>*@
                                                            <td>@item.request_time</td>
                                                            <td>@item.operator_id</td>
                                                            <td style="width:6%;">
                                                                <button><i class="material-icons">print</i></button>
                                                                <img src="../../ashok-images/rightaeps.svg" data-toggle="modal" data-target="#giftcardmodalid" class="last-afteraeps" style="width: 10px;float: left;margin-left: 5px;margin-top: 7px;cursor: pointer;" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="11"><h2 style="text-align:center;">Data Not Found</h2></td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot class="" style="color:white;position:inherit;">
                                            </tfoot>
                                        </table>
                                        @*<div class="modal mastetr222Modal in" id="giftcardmodalid" tabindex="-1" role="dialog" style="display: none;">
                                    <div class="col-md-4 new-prent-page dmttable">
                                        <div class="body-border-bottom" style="margin-bottom: 20px;">
                                            <div class="dmtaccountn">
                                                <ul>
                                                    <li>
                                                        <strong>
                                                            <span><img style="width:15px;" src="../../ashok-images/seo-and-web.svg" /></span><span>
                                                                <img style="width:15px;" src="../../ashok-images/social-media(1).svg" />
                                                            </span>
                                                        </strong><p>Consumer No</p>
                                                    </li>
                                                    <li><span class="numbersssss">458655</span></li>
                                                </ul>

                                                <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-12 Confirm-Payment">
                                            <table class="tablepopodmt" border="1" cellspacing="0">
                                                <tr>
                                                    <th>Receiver Name</th>
                                                    <td>Ashok</td>
                                                </tr>
                                                <tr>
                                                    <th>Retailer Earning</th>
                                                    <td>Retailer Earning</td>
                                                </tr>
                                                <tr>
                                                    <th>Retailer Prn ₹</th>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <th>Retailer Post ₹</th>
                                                    <td>250</td>
                                                </tr>

                                                <tr>
                                                    <th>Master Earning</th>
                                                    <td>Master Earning</td>
                                                </tr>
                                                <tr>
                                                    <th>Master Prn ₹</th>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <th>Master Post ₹</th>
                                                    <td>250</td>
                                                </tr>
                                                <tr>
                                                    <th>Distributor Earning</th>
                                                    <td>Distributor Earning</td>
                                                </tr>
                                                <tr>
                                                    <th>Distributor Prn ₹</th>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <th>Distributor Post ₹</th>
                                                    <td>250</td>
                                                </tr>

                                                <tr>
                                                    <th>Response Time</th>
                                                    <td>Response Time</td>
                                                </tr>
                                                <tr>
                                                    <th>Gift Card Massage</th>
                                                    <td>Massage</td>
                                                </tr>
                                                <tr>
                                                    <th>API Response</th>
                                                    <td>API Response</td>
                                                </tr>
                                                <tr>
                                                    <th>API Request</th>
                                                    <td>API Request</td>
                                                </tr>
                                            </table>
                                            <div class="dmtprintbutton">
                                                <center style="float:left;margin-left: 14px;">
                                                    <button id="" class="fullbodydycolorbg" type="button" data-dismiss="modal">Close</button><button id="" onclick="window.print()" class="fullbodydycolorbg">print<i class="material-icons">print</i></button>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix" style="display:none;">
            <div class="col-md-12">
                <div class="card" style="margin-top:-18px;">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;margin-top:1px;">
                            <p style="font-size:20px;margin-top:6px;">Gift Card Report</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<!--Resend Pin-->
<script>
    function Resendpin(orderid)
    {
        ///Ajax Call
        swal({
            title: "<span style='color:#bfb6b6;'>Are you sure  Resend Gift Voucher Pin!</span>",
            html:true,
            type: "warning",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Resend Pin!",
            showCancelButton: true,
            cancelButtonText: "Cancel!",
            closeOnConfirm: true,
            closeOnCancel: false
        },
           function (isConfirm) {
               if (isConfirm) {
                   $.ajax({
                       type: "POST",
                       url: "@Url.Action("Giftcardresendvoucher", "Home")",
                       data: { agentid: orderid },
                   cache: false,
                   dataType: 'json',
                   closeOnConfirm: true,
                   success: function (data) {
                       var sts = "";
                       sts = data.status;
                       if (sts == 'success') {

                            swal({
                               title: "Good job!",
                               text: data.message,
                               type: "success"

                           });
                       }
                       else {
                            swal({
                               title: "Failed!",
                               text: data.message,
                               type: "error"
                          });
                       }
                   }
               });
           }
        else {
         swal("Opps!", "This Process Is Cancel", "error");
    }
    });
    }
</script>

<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerpurchaseee datepickerpurchaseee-report');
    });
</script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var btntype = $('#btntype').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var Operator = $('#Operator').val();
        var ddl_top = $('#ddl_top').val();
        var url = '@Url.Action("Excel_Giftcard_Report", "Home")?btntype=' + btntype + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&ddl_top=' + ddl_top;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var btntype = $('#btntype').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var Operator = $('#Operator').val();
        var ddl_top = $('#ddl_top').val();
        var url = '@Url.Action("PDF_Giftcard_Report", "Home")?btntype=' + btntype + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&ddl_top=' + ddl_top;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>