@model IEnumerable<Vastwebmulti.Models.proc_report_IndoNepal_Result>
@{
    ViewBag.Title = "IndoNepal";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div>
                        <div class="col-md-3">
                            <div class="header" style="padding:6px; padding-left:12px; border-bottom:none;">
                                <ol class="breadcrumb breadcrumb-col-blue-grey">
                                    <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">Dashboard</a></li>
                                    <li class="active" style="color:#607d8b; font-weight:700;font-size:15px;">Indo Nepal Report</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.Partial("_financial")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("IndoNepalHistory", "Home", FormMethod.Post))
                {
                    <div class="card" style="margin-top:-20px;">
                        <div class="">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <a href="~/RETAILER/Home/Dashboard" class="btn bg-blue-grey  waves-effect" style="margin-top:3px; margin-left:-5px;">
                                        <i class="material-icons" style="top:3px;">arrow_back</i>
                                        <span style="top:-4px;">Back To Dashborad</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="50",Value="50"},
                                new SelectListItem{Text="100",Value="100"},
                                new SelectListItem{Text="200",Value="200"},
                                new SelectListItem{Text="500",Value="500"},
                                new SelectListItem{Text="1500",Value="1500"},
                                new SelectListItem{Text="All",Value="All"}
                                }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Status",Value="ALL",},
                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                new SelectListItem{Text="Pending",Value="PENDING"},
                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">

                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px;padding-left:15px;margin-top:-3px;">From</p>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                            &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px; padding-left:17px;margin-top:-3px;">To</p>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn bg-blue-grey  waves-effect" style="margin-top:5px; margin-left:1px;">
                                        <i class="material-icons" style="top:3px;">search</i>
                                        <span style="top:-4px;">Search</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="margin-top:-20px; padding:2px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="width:110px;">Status</th>

                                        <th>Sender&nbsp;Number</th>
                                        <th>Beneficiary&nbsp;A/C</th>
                                        <th>Type</th>
                                        <th>&nbsp;⇗&nbsp;&nbsp;&nbsp;Request&nbsp;Date</th>
                                        <th>&nbsp;⇙&nbsp;&nbsp;Response</th>
                                        <th>Net&nbsp;Tr&nbsp;</th>

                                        @*<th>User&nbsp;Debit&nbsp;</th>*@

                                        <th>Bank&nbsp;UTR&nbsp;/&nbsp;Transaction&nbsp;Id&nbsp;</th>
                                        

                                        <th>User&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Debit&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                       

                                        <th>Reciver&nbsp;Name</th>
                                        
                                        <th><span>User&nbsp;</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Charge&nbsp;│&nbsp;Margin&nbsp;│&nbsp;GST&nbsp;│&nbsp;TDS&nbsp;<span style="padding-left:9px;">⇒</span><span style="padding-left:10px;">Net&nbsp;INC</span></span></th>
                                       
                                        <th>Request&nbsp;ID&nbsp;</th>
                                        <th>Sender&nbsp;Name&nbsp;</th>
                                        <th>Sender&nbsp;Address&nbsp;</th>
                                         


                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            #region setings
                                            var color = "";

                                            var framname = "";

                                            var rolename = "";
                                            var fontweight = "";
                                            var rchtypeicon = "";
                                            var sts = "";
                                            var refundcolor = "";
                                            var dmtytpe = "";
                                            if (item.status.Contains("Success To Failed"))
                                            {
                                                color = "red";
                                                sts = "Success To Failed";
                                                fontweight = "700";

                                            }
                                            if (item.status.Contains("Failed To Success"))
                                            {
                                                color = "green";
                                                sts = "Failed To Success";
                                                fontweight = "700";

                                            }
                                            if (item.status.Contains("SUCCESS"))
                                            {
                                                color = "green";
                                                fontweight = "700";
                                                sts = item.status;

                                            }
                                            if (item.status.Contains("REFUND AGAINST"))
                                            {
                                                color = "red";
                                                fontweight = "700";
                                                sts = "REFUND";
                                                refundcolor = "red";
                                            }

                                            if (item.status.Contains("Pending"))
                                            {
                                                color = "#ff9600";
                                                fontweight = "700";
                                                sts = item.status;

                                            }
                                            if (item.status.Contains("FAILED"))
                                            {
                                                color = "#9C27B0";
                                                fontweight = "700";
                                                sts = item.status;

                                            }
                                            if (item.status.Contains("Resend"))
                                            {
                                                color = "#2196F3";
                                                fontweight = "700";
                                                sts = item.status;

                                            }
                                            #endregion
                                            <tr style="font-weight:700;">
                                                <td>
                                                    <p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p>
                                                </td>

                                                <td>
                                                    <p style="font-size:13px;margin-left:-8px;">&nbsp;@item.SenderMobile&nbsp;</p>
                                                </td>
                                                @if (item.Transfer_Type.ToUpper().Contains("BANK"))
                                                {
                                                    <td>
                                                        <p style="font-size:13px;margin-left:-7px; ">@item.Accountno</p>
                                                    </td>
                                                }


                                                <td>
                                                    <p style="font-size:18px;margin-left:-7px;margin-top:-5px;font-weight:normal;">@dmtytpe&nbsp;<span style="font-size:12px;font-weight:bold">@item.Transfer_Type</span></p>
                                                </td>

                                                <td>
                                                    <p style="font-size:11px;margin-left:-7px; margin-top:2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.Transfertime)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p>
                                                </td>
                                                <td>

                                                    @if (item.Responsetime != null)
                                                    {
                                                        DateTime end = (DateTime)item.Responsetime;
                                                        DateTime now = (DateTime)item.Transfertime;
                                                        var diff = end.Subtract(now.TimeOfDay);
                                                        <p style="font-size:13px;font-weight:700;margin-left:-7px;">@String.Format("{0:HH:mm:ss}", diff)</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="font-size:13px; margin-left:-7px;"></p>
                                                    }

                                                </td>
                                                <td>
                                                    <p style="font-size:13px;margin-left:-7px;">@item.Amount</p>
                                                </td>

                                                @*<td>

                                                    <p style="font-size:13px;margin-left:-7px;">@item.FinalAmount</p>

                                                </td>*@

                                                <td><p style="font-size:13px;margin-left:-7px;">@item.bankrefid</p></td>
                                                


                                                <td>

                                                    @item.RemainPre&nbsp;│&nbsp;@item.FinalAmount&nbsp;│&nbsp;@item.RemainPost

                                                </td>
                                                @*<td><p style="font-size:13px;">@item.Bankname</p></td>*@

                                                <td><p style="font-size:13px;">@item.reciverName</p></td>
                                                

                                                <td>
                                                    <p><span>&nbsp;</span><span style="padding-left:39px;"></span><span>&nbsp;@item.ServiceCharge</span><span style="padding-left:24px;"></span><span>&nbsp;@item.Margin</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.gst&nbsp;&nbsp;&nbsp;</span><span>&nbsp;@item.Tds&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.FinalAmount</p>
                                                </td>
                                                

                                               
                                                <td>
                                                    <p style="font-size:13px;">@item.agentid</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:13px;">@item.SenderName</p>
                                                </td>
                                                <td>
                                                    <p style="font-size:13px;">@item.SenderAddress</p>
                                                </td>
                                                
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">

    $(function () {

        $('#date').bootstrapMaterialDatePicker
       ({
           clearButton: false
       });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }
        $('[data-toggle="tooltip"]').tooltip();

    });

</script>

<script type="text/javascript">
                   function GotoPDF(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("IMPSPDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>



