@model IEnumerable<Vastwebmulti.Models.Convence_Fees>
@{
    ViewBag.Title = "MarkupSetting";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<style>
    .dropdown-menu {margin-top: 81px !important;}
    .buttonPdf{display:block !important;}
    .clsshide-button {padding: 5px 17px !important;border: 1px solid #dddddd;color: #555;background: transparent;}
    .col-md-3.buttonPdf button:last-child {padding-left: 15px;}
    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @@media only screen and (max-width:1169px) {
        .actual-clearfix .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:991px) {

        
    }

    @@media only screen and (max-width:767px) {
        .table-responsive > .table-bordered {
            border: 1px solid var(--border-color);
        }
    }

    @@media only screen and (max-width:480px) {
    }

    /* new css  */
</style>


<section class="content content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Markup Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Markup Setting</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix actual-clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;padding-left: 11px;">
                <div class="card class-back-tra-fourdesign">
                    <div class="page-header-third" style="width:100%;float:left;">
                        <div class="bread-same-all-page" style="width:auto;float:left;">

                            <ul style="margin:0;">
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one">
                                    Markup Setting
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3 buttonPdf retailer-pdf-second fourdesign-marbin-b" style="text-align:right;margin:0px;float:right;width:auto;">

                            <button style="color:#555 !important;">PDF</button>
                            <button style="color:#555 !important;">Export</button>

                        </div>
                    </div>

                    <div class="body" style="padding:7px;padding-left:0;padding-right:0;width:100%;float:left;">
                        <div class="page-header-third">
                            <div class="table-responsive dayend-responsive dayend-responsiveclas tablethirddesign-new tablethirddesign-newnew" style="position:inherit;">
                                <table id="example" class="table table-bordered showhidesate" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Sr</th>
                                            <th>Particulars</th>
                                            <th>Amount</th>
                                            <th>Description</th>
                                            <th>Last&nbsp;Updated&nbsp;Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd htmltbl-@item.idno">
                                                <td>@i</td>
                                                <td>@item.Role</td>
                                                <td class="relativetdcss" style="position: relative;">
                                                    <span id="spans-@item.idno" class="amountfont-size clssshow">@item.Amount</span>
                                                    <input type="text" id="editamountmarkup-@item.idno" class="clsshide" style="display:none;position: absolute;bottom: 5px;padding: 5px 0;width: 121px;border: 1px solid #ddd;padding-left:5px;" />
                                                </td>
                                                <td>Description</td>
                                                <td><span id="sndte-@item.idno"> @item.Date</span></td>
                                                <td>
                                                    <button id="butedit-@item.idno" class="clssshow" onclick="EditFunction('@item.idno','@item.Role')" style="background-color:transparent;color:#03a9f4; border:none;">
                                                        <p style="padding:5px 20px;border:1px solid #dddddd;color:#555;">Edit</p>
                                                    </button>
                                                    <button id="savechangeamount-@item.idno" class="clsshide clsshide-button" onclick="savedatamarkupsetting('@item.idno')" style="display:none;padding: 5px 17px;">Save</button>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function EditFunction(id, role, amnt) {
        
        $('.clssshow').show();
        $('.clsshide').hide();
        var txtidss = 'editamountmarkup-' + id;
        var spnidsss = 'spans-' + id;
        var tbneditidsss = 'butedit-' + id;
        var tbnsaveidsss = 'savechangeamount-' + id;

        $('#' + txtidss).val($('#' + spnidsss).text()).show();
        $('#' + spnidsss).hide();
        $('#' + tbneditidsss).hide();
        $('#' + tbnsaveidsss).show();
      


    }


    function savedatamarkupsetting(idno) {

        var txtidss = 'editamountmarkup-' + idno;
        var spnidsss = 'spans-' + idno;
        var tbneditidsss = 'butedit-' + idno;
        var tbnsaveidsss = 'savechangeamount-' + idno;
        var tbnspnadate = 'sndte-' + idno;

       var amountsss=  $('#' + txtidss).val();

       


            $.ajax({
                url: '@Url.Action("MarkupSettingdgdfghfghn")',
                type: 'POST',
                data: { txtidno: idno, txtamount: amountsss },
                success: function (data) {
                    
                    if (data.status == 'success') {
                        const d = new Date(parseInt(data.datess.substring(data.datess.indexOf('(') + 1, data.datess.lastIndexOf(')'))));//new Date(data.datess.match(/\d+/)[0] * 1);
                        // const formattedDate = d.getFullYear() + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + ("0" + d.getDate()).slice(-2)
                        // var ddd = data.datess.toDateString();
                        $("#" + spnidsss).slideUp("fast").text(data.amnt);
                        $("#" + tbnspnadate).text(d.toLocaleString());
                        $('.clssshow').show();
                        $('.clsshide').hide();
                    }
                    else {
                        alert('some thing went wrong');
                        location.reload();
                    }
                }
            });







    }


</script>
<!--Add Amount-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="margin-top:100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:#000000bd;">Update Convence Fees </h4>
            </div>
            @using (Html.BeginForm("MarkupSetting", "Home", FormMethod.Post))
            {

                <div class="modal-body" style="margin-top:-10px;">
                    <div class="body">
                        <input type="hidden" id="txtidno" name="txtidno" />
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Particulars</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #b1a6a638;">
                                        <input type="text" id="txtParticulars" name="txtParticulars" class="form-control" required="" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Amount</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #b1a6a638;">
                                        @Html.TextBox("txtamount", "", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                <span style="top:-2px;color:black;">Save Change</span>
                            </button>
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:4px; height:34px;" data-dismiss="modal">
                                <span style="top:-2px;color:black;">Close</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Flight Markup popup -->
@*<div class="modal fade" id="FlightMarkupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:black;">Flight Markup</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 10px 15px;text-align: center; border-bottom: 1px solid #eee;border-top: 1px solid #eee;">
                        @using (Html.BeginForm("updateFlightMarkup", "Home", FormMethod.Post))
                        {
                            @Html.TextBox("markup", (decimal)ViewBag.markup)
                            <input type="submit" value="Save" />
                        }
                        <p style="margin:-5px; margin-top:5px;"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Edit java script-->
@*<script>
    function EditFunction(idno,role,amount)
    {
       
        $("#txtidno").val(idno);
        $("#txtParticulars").val(role);
        $("#txtamount").val(amount);

        $("#editamountmarkup").show();
        $("#editamountmarkup").val(amount);
        $(".amountfont-size").hide();
        $("#savechangeamount").show();
        $("#but").hide();
    }
</script>*@





<script>
    window.onload=function()
    {
        var add = '@TempData["add"]'
        if(add !=null && add != "" )
        {
            swal("Good job!", add, "success");
        }

    }
</script>


<script>
    $(function () {
        $("#savechangeamount").click(function () {
            $("#but").css("display", "block");
            $("#editamountmarkup").css("display", "none");
            $(".amountfont-size").css("display", "block");
            $(this).css("display", "none");
        });
    });
</script>

