@model IEnumerable<Vastwebmulti.Models.Show_MicroAtm_Unload_report_Result>

@{

    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<style>

    /* new css  */



    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .Financial-pagessee {
        padding-right: 15px;
    }
    /* new css  */

    span {color:#fff;}
    .microatmhold-retailer table tr th {text-transform: capitalize;}
    .amount-top-nav-re li button ~ .custum-dropdown ul li {border: 0px !important;}

    @@media screen and (max-width:767px){
        .aepsfullpage .container-fluid.Financial-page {
            padding-left: 15px !important;
        }
        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }
    }
    @@media screen and (max-width:766px){
        .buttonPdf {display:block !important;}
    }   
    @@media screen and (max-width:480px){
        .bread-same-all-page {
            display: block;
            text-align: center;
        }
        .col-md-3.buttonPdf.buttonPdfdispute {
            width: 100% !important;
        }
    }

</style>

<section class="content aepsfullpage content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid Financial-page  Financial-pagess Financial-pagessee" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Hold Amount</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Hold Amount</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page four-design-block">

                <ul class="four-design-noneclass" style="width:auto;float:left;margin:0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Hold Amount
                    </li>
                </ul>

                <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second padding-right-none-four margin-bottom-four" style="text-align:right;width:auto;float:right;">

                    <button style="color:#555 !important;">PDF</button>
                    <button style="color:#555 !important;" id="btnExport">Export</button>

                </div>
            </div>
        </div>

        <div class="col-md-12 microatmhold-retailer padding-right-none-four" style="padding:0px;width:100%;float:left;">
            <div class="page-header-third">
                <div class="table-responsive">
                    <table class="table table-bordered third-design-table" style="background:#f7f7f7;">
                        <tr>
                            <th>Status</th>
                            <th>Bank RRN</th>

                            <th>Transection Type</th>
                            <th>Payment Method</th>
                            <th>Amount</th>
                            <th>Card Payment Type</th>
                            <th>Masked Pan</th>
                            <th>
                                @Html.DisplayNameFor(model => model.transtime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.network)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Requestid)
                            </th>


                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>


                                <td>
                                    @if (item.IsHold == true)
                                    {
                                        <span style="color:#555;">
                                            Hold
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="color:#555;">
                                            Un_Hold
                                        </span>
                                    }


                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rrn)
                                </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.transaction_type)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.payment_method)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.card_payment_type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.masked_pan)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.transtime)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.network)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Requestid)
                                </td>


                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var url = '@Url.Action("Excel_Micro_Atm_hold_Rem_Report", "Home")?txt_frm_date=' + txt_frm_date;
        location.href = url;
});
</script>