
@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
@{
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var userid = User.Identity.GetUserId();

    var Thermal = DB1.Printer_paperSize_Changes.Where(a => a.Print_Name == "Thermal_Print" && a.Userid == userid).SingleOrDefault().status;
    var A4_Size = DB1.Printer_paperSize_Changes.Where(a => a.Print_Name == "A4_Print" && a.Userid == userid).SingleOrDefault().status;


    var blockrecharge = DB1.Blocked_Recharge_Slip.Where(a => (a.Recharge_Mode == "Convence Fee" || a.Recharge_Mode == "Mobile" || a.Recharge_Mode == "Email" || a.Recharge_Mode == "Customer care" || a.Recharge_Mode == "Website Name") && a.status == "Y").ToList();
    var custfee = DB1.Blocked_Recharge_Slip.Where(a => a.Recharge_Mode == "Convence Fee").SingleOrDefault().status;
    var Mobile = DB1.Blocked_Recharge_Slip.Where(a => a.Recharge_Mode == "Mobile").SingleOrDefault().status;
    var Email = DB1.Blocked_Recharge_Slip.Where(a => a.Recharge_Mode == "Email").SingleOrDefault().status;
    var Customercare = DB1.Blocked_Recharge_Slip.Where(a => a.Recharge_Mode == "Customer care").SingleOrDefault().status;
    var WebsiteName = DB1.Blocked_Recharge_Slip.Where(a => a.Recharge_Mode == "Website Name").SingleOrDefault().status;


    var logoimage = "";
    var logo = DB1.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        if (logo.SingleOrDefault().Role == "ADMIN")
        {
            logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
        }
    }
    else
    {
        logoimage = "images/Default_Logo.png";
    }
}
@if (Thermal != "N")
{

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Transaction Receipt</title>
        <meta charset="UTF-8">
        <style>
            html {
                line-height: 1.15;
                -webkit-text-size-adjust: 100%
            }

            body {
                margin: 0
            }

            main {
                display: block
            }

            h1 {
                font-size: 2em;
                margin: .67em 0
            }

            hr {
                box-sizing: content-box;
                height: 0;
                overflow: visible
            }

            pre {
                font-family: monospace,monospace;
                font-size: 1em
            }

            a {
                background-color: transparent
            }

            abbr[title] {
                border-bottom: none;
                text-decoration: underline;
                text-decoration: underline dotted
            }

            b, strong {
                font-weight: bolder
            }

            code, kbd, samp {
                font-family: monospace,monospace;
                font-size: 1em
            }

            small {
                font-size: 80%
            }

            sub, sup {
                font-size: 75%;
                line-height: 0;
                position: relative;
                vertical-align: baseline
            }

            sub {
                bottom: -.25em
            }

            sup {
                top: -.5em
            }

            img {
                border-style: none
            }

            button, input, optgroup, select, textarea {
                font-family: inherit;
                font-size: 100%;
                line-height: 1.15;
                margin: 0
            }

            button, input {
                overflow: visible
            }

            button, select {
                text-transform: none
            }

            [type=button], [type=reset], [type=submit], button {
                -webkit-appearance: button
            }

                [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
                    border-style: none;
                    padding: 0
                }

                [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
                    outline: 1px dotted ButtonText
                }

            fieldset {
                padding: .35em .75em .625em
            }

            legend {
                box-sizing: border-box;
                color: inherit;
                display: table;
                max-width: 100%;
                padding: 0;
                white-space: normal
            }

            progress {
                vertical-align: baseline
            }

            textarea {
                overflow: auto
            }

            [type=checkbox], [type=radio] {
                box-sizing: border-box;
                padding: 0
            }

            [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
                height: auto
            }

            [type=search] {
                -webkit-appearance: textfield;
                outline-offset: -2px
            }

                [type=search]::-webkit-search-decoration {
                    -webkit-appearance: none
                }

            ::-webkit-file-upload-button {
                -webkit-appearance: button;
                font: inherit
            }

            details {
                display: block
            }

            summary {
                display: list-item
            }

            template {
                display: none
            }

            [hidden] {
                display: none
            }

            body {
                line-height: 1.5;
            }

            .receipt {
                font-size: 8pt;
                font-family: monospace;
                width: 100px;
                padding: 1px;
            }

            .m-0 {
                margin: 0;
            }

            .mb-1 {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        @*@if (ViewBag.notfound == "OK")
            {*@
        <div class="receipt">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="2" align="center">
                            <img src="@Url.Content("~/" + logoimage)" class="img-responsive" alt="Logo" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <h3 class="m-0">City Union Bank</h3>
                        </td>
                    </tr>
                    @*<tr>
                            <td colspan="2" align="center">
                                <h3 class="m-0">@ViewBag.firmname</h3>
                                <div class="mb-1">@ViewBag.address</div>
                            </td>
                        </tr>*@
                    <tr>
                        <td align="left"><strong>Date/Time: </strong>@ViewBag.transfdate</td>
                        @*<td align="right">@ViewBag.transftime</td>*@
                    </tr>
                    <tr>
                        <td align="left">Invoice No:  @ViewBag.invoiceno</td>
                        @*<td align="right">APP: @ViewBag.network </td>*@
                    </tr>

                    <tr>
                        <td colspan="2">Trans Mode: <strong>@ViewBag.type</strong>(@ViewBag.status)</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left"><strong>CARD NUM: @ViewBag.cardnumber </strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">CARD PaymntTYPE: @ViewBag.cardpaymenttype </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">CARD TYPE: @ViewBag.network </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">RRN: @ViewBag.rrn </td>
                    </tr>
                    @*<tr>
                            <td colspan="2" align="left">BASE AMOUNT: <strong>₹@ViewBag.amount</strong></td>
                        </tr>*@
                    <tr>
                        <td colspan="2" align="left">TOTAL AMOUNT: <strong>₹@ViewBag.amount</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <h3 class="m-0">Partner Info</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">Business Name: @ViewBag.firmname</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">Address: @ViewBag.address</td>

                    </tr>
                    @if (Mobile != "Y")
                    {
                        <tr>
                            <td colspan="2" align="left">Mobile: @ViewBag.mobile</td>

                        </tr>
                    }
                    @if (Email != "Y")
                    {
                        <tr>
                            <td colspan="2" align="left">Email: @ViewBag.email</td>

                        </tr>
                    }
                </tbody>
            </table>

            @*<em style="font-family: sans serif; font-weight: normal; font-style: italic; letter-spacing: 0.2em;">
                    <p style="text-align: center">SIGNATURE NOT REQUIRED</p>
                </em>*@
            <p style="text-align: center">----------------------------------------<br>I Agree to pay the above total amount according to card issuer agreement.<br>----------------------------------------</p>
            @*<p style="text-align: center">***** CUSTOMER COPY *****<br></p>*@
            <hr>
            @if (Customercare != "Y")
            {
                <p style="text-align: center">customer care No:  @ViewBag.cusomercare</p>
            }
            @if (WebsiteName != "Y")
            {

                <p style="text-align: center">Website Name  @ViewBag.websitename</p>
            }
        </div>
        @*}
            else
            {
                <div class="receipt">
                    <p>No data to fetch</p>
                </div>
            }*@
    </body>
</html>
}










@if (A4_Size != "N")
{


    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Transaction Receipt</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        @*<script src="http://code.jquery.com/jquery-latest.js"></script>*@

        <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
        <link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
        <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
        <link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/RetailerCss/StyleSheet.css" rel="stylesheet" />
        <style>
            .transaction ul li.transaction-left, .transaction ul li.transaction-right {
                height: 15px;
                border-bottom: 1px solid #f0f0ee;
            }
        </style>
        <style>
            .col-md-4.new-prent-page {
                border: 1px solid #ececec;
                background: #f5f5f5;
            }
        </style>

    </head>
    <body>

        <div class="col-md-4 new-prent-page">
            <div class="col-md-12 Confirm-Payment">
                <div class="container-fluid">
                    <div class="col-md-7 successful" style="">
                        <div style="text-align:center; margin-top:10px;">
                            <p style="position:absolute;top:15px;left:45%; text-transform:uppercase;border-bottom:2px solid #3a3a3a;">@ViewBag.status</p>
                        </div>
                        @*<div style="width: 50px; background: green; border-radius: 50px; text-align: center;margin-left:13%;">
                            <i class="fa fa-check fullbodydycolorbg" style="top: -2px; text-align: center; "> </i>
                        </div>*@
                        <div style="width:20%;float:left;">  
                            <img src="~/images/checkmark.png" style="width:60px;" />
                        </div>
                        @*<strong>
            <img src="~/ashok-images/india(2).svg" alt="india(2)" class="center" />
            <span class="transform-re"> @ViewData["total"]</span>

            @if (ViewData["msg"].ToString() == "Transaction Successful")
            {
                <i class="fa fa-check fullbodydycolorbg" style="background:green;width:50px "> </i>

            }
            else if (ViewData["msg"].ToString() == "Transaction pending")
            {
                <i class="fa fa-clock-o " style="font-size:48px;color:orange"></i>
            }
        </strong>*@
                    </div>
                        <div class="col-md-5 successful-logo" >


                            <img src="@Url.Content("~/" + logoimage)" class="img-responsive" alt="Logo" style="float: right;width: 116px !important;"  />
                        </div>
                    </div>
                <div class="container-fluid transaction">
                    @*<p style="color:white;">Micro Atm Transaction </p>*@
                    <p style="width:100%;">Micro Atm Transaction<span style="font-size:15px;float:right;width:20%; ">Invoice No : @ViewBag.invoiceno  </span></p>
                    <ul class="transaction-detail">
                        @*<li class="transaction-left"><span>retailer firm</span></li>
        <li class="transaction-right"><span>@ViewData["FirmName"]</span></li>*@

                        @*<li class="transaction-left"><span>Account Holder Name</span></li>
        <li class="transaction-right"><span>@ViewData["name"]</span></li>*@
                        @*<li class="transaction-left"><span>Net amount</span></li>
        <li class="transaction-right"><span>@ViewData["total"]</span></li>*@
                        <ul style="width: 49%; float: left; background: #e3e3e3; padding: 6px;">
                            <li class="transaction-left"><span>Transaction Mode</span></li>
                            <li class="transaction-right"><span>@ViewBag.type</span></li>
                            <li class="transaction-left"><span>CARD Num.</span></li>
                            <li class="transaction-right"><span>@ViewBag.cardnumber</span></li>
                            <li class="transaction-left"><span>CARD Type</span></li>
                            <li class="transaction-right"><span>@ViewBag.network</span></li>
                            <li class="transaction-left"><span>CARD Payment Type</span></li>
                            <li class="transaction-right"><span>@ViewBag.cardpaymenttype</span></li>
                        </ul>
                        <ul style="width: 49%; float: right; background: #e3e3e3; padding: 6px;">
                            <li class="transaction-left"><span>Bank RRN</span></li>
                            <li class="transaction-right"><span>@ViewBag.rrn</span></li>
                            <li class="transaction-left"><span>Tran Date</span></li>
                            <li class="transaction-right"><span>@ViewBag.transfdate</span></li>
                            <li class="transaction-left"><span>Total Amount</span></li>
                            <li class="transaction-right"><span>@ViewBag.amount</span></li>
                         </ul>
                        </ul>
</div>
                <div class="container-fluid transaction">
                    <p style="color: white; text-align: center;"> partner Info </p>
                    <ul style="width: 100%; background: #e3e3e3; padding: 4px; " class="transaction-detail">
                        <li class="transaction-left"><span>Business Name</span></li>
                        <li class="transaction-right"><span>@ViewBag.firmname</span></li>
                        <li class="transaction-left"><span>Address</span></li>
                        <li class="transaction-right"><span>@ViewBag.address</span></li>
                        @if (Mobile != "Y")
                        {
                            <li class="transaction-left"><span>Mobile</span></li>
                            <li class="transaction-right"><span>@ViewBag.mobile</span></li>
                        }
                        @if (Email != "Y")
                        {
                            <li class="transaction-left"><span>Email</span></li>
                            <li class="transaction-right"><span>@ViewBag.email</span></li>
                        }
                    </ul>
                </div>


                <div class="container-fluid transaction">
                    <p style="color: #000; background: none; font-size: 8px; font-family: inherit; line-height: 1.5; color: #3a3a3a; ">NOTE:  I Agree to pay the above total amount according to card issuer agreement. </p>

                    <ul style="width: 100%; background: #e3e3e3; padding: 4px; " class="transaction-detail">
                        @if (Customercare != "Y")
                        {
                            <li class="transaction-left"><span>customer care No.</span></li>
                            <li class="transaction-right"><span>@ViewBag.cusomercare</span></li>
                        }
                        @if (WebsiteName != "Y")
                        {
                            <li class="transaction-left"><span>Website Name</span></li>
                            <li class="transaction-right"><span>@ViewBag.websitename</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>
}