@model List<Vastwebmulti.Models.money_transfer_report_paging_Result>
@{
    ViewBag.Title = "Money_Transfer_Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>


    /* new css */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }
    

    /* new css */

    .dropdown-menu {
        margin-top: 91px !important;
    }
    table #trow {
        counter-reset: rowNumber;
    }

        table #trow tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) ".";
            text-align: left;
            padding-left: 3px;
            border-right: 1px solid #aaa4a4;
            border-bottom: 1px solid #aaa4a4;
            padding-top: 3px;
        }
    .table-bordered tbody tr, .table-bordered tbody tr {
        border: 1px solid var(--border-color);
    }
    .tfooter-trnone::before{display:none !important;}
</style>
<style>
    #totafind span#lblpending::after, #totafind span#lblsuccess::after, #totafind span#lblfailed::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        float: left;
        background-color: #ff9800;
        background-size: 81%;
        background-position: center;
        border-radius: 50%;
        margin: 2px 3px 0px 3px;
    }

    #totafind span#lblsuccess::after {
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblfailed::after {
        background: url(../../ashok-images/closes.svg)no-repeat;
        background-color: #ff0000;
        background-size: 65%;
        background-position: center;
    }

    #totafind span#lblpending::after {
        background: url(../../ashok-images/clkk.png)no-repeat;
        background-color: #FF9800;
        background-size: 65%;
        background-position: center;
    }

    .for-searchretailerinput input {padding: 2px 4px;}

    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {font-size: 12px;}

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
        width: auto;float: left;padding-right: 8px;margin: 0px !important;float: left !important;

    }
     .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li a {padding: 4px 8px !important;}
    .form-group {width: 100%;}

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li a {
        width: 100%;float: left;display: flex;text-align: center;justify-content: center;
        background: var(--nav-tab-bg);border: 1px solid var(--main-bg-rcolor) !important;position: relative;
    }
    .aepsfullpage .newtabsreport.uladdcssnew .container-tabsrepor ul.nav.nav-tabs.tabsrepor-nav li a {
        min-height: 30px;
    }
    .tableclasscssfirst table thead tr th {border-bottom: 0;}

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li:last-child {padding-right: 0px;}

    .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {
        width: 100% !important;float: left;
    }

        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li a.active::before {
            content: "";display: block;width: 10px;height: 10px;position: absolute;
            background: var(--main-bg-lcolor);border: 1px solid var(--main-bg-lcolor) !important;
            border-left: 0;bottom: -4px;border-top: 0;transform: rotate(45deg);text-align: center;
            margin: 0px auto;left: 0;right: 0;transition: .4s linear;z-index: 9;
        }
         
  
    .responsive-report-moneynew .finacial-select .select2 {width: 100% !important;float: left;}
        .responsive-report-moneynew .finacial-select .select2 .select2-selection {
            border-radius: 0;border: 1px solid #ccc;height: 32px;
        }
    .responsive-report-moneynew .surchnumberqqqq {padding: 0;padding-right: 0px;padding-right: 0px;padding-right: 3px;width: 15%;}
    .responsive-report-moneynew .surchnumberqqqq input {padding:0 5px !important;}
    .responsive-report-moneynew .finacial-select {width: 11%;float: left;}
    .responsive-report-moneynew .buttonPdf {
        float: right;width: auto;
    }
    .responsive-report-moneynew .col-md-4.finacial-selects {
        width: 30%;float: left;
    }

    .totalfaild-retailer span {float: left;}
    .totalfaild-retailer span ~ br {display: none;}
    .totalfaild-retailer span {padding: 5px 5px;}
    .totalfaild-retailer {
        position: absolute;bottom: 12px;right: 47px;background: #eeebeb;border: 1px solid #ccc;width: auto;
    }
    .totalfaild-retailer span:first-child {border-right: 1px solid #ccc;}
    .totalfaild-retailer span:last-child {border-left: 1px solid #ccc;}

    .Financial-pagetabs *, .Financial-pagetabs .btn.dropdown-toggle.btn-default span, .Financial-pagetabs .aeps-status-search button i, .Financial-pagetabs .aeps-status-search button span {
        color: #555 !important;
    }

    .Financial-pagetabs .enteraddarnumber input::placeholder {
        color: #555 !important;
    }
    .row-moneyresponsive input::placeholder, .row-moneyresponsive input, .row-moneyresponsive button span, .row-moneyresponsive button i {
        color: #555 !important;
    }
    .col-md-3.buttonPdf.retailer-pdf-second.retailer-pdf-second-retailer button {
        color: #555 !important;
    }

    @@media screen and (max-width:1169px) {
        .newtabsreport .container-tabsrepor.money-transfer-retailer .tab-content.tabsrepor-content {
            width: 100% !important;
        }
        .layoutt-retailer section.content.aepsfullpage {
            margin-left: 0% !important;
        }

        .aepsfullpage .container-fluid.Financial-page, .aepsfullpage .container.container-tabsrepor {
            padding-left: 15px !important;
        }

    }

    @@media only screen and (max-width:767px){

        .responsive-report-money .row-moneyresponsive {
            margin: 0 !important;
        }

            .responsive-report-money .row-moneyresponsive .col-md-12 {
                padding: 0;
            }
        .col-md-3.buttonPdf {
            display: block;
        }
        .uladdcssnew-responsive .col-md-2.finacial-select {
            width: 50%;
        }
        .responsive-report-moneynew .surchnumberqqqq {
            width: 50%;
            padding-top: 5px;
            padding-left: 4px;
            padding-right: 0;
        }
        .responsive-report-moneynew .col-md-4.finacial-selects {
            width: 50%;
            padding-top: 5px;
        }
        .uladdcssnew-responsive .col-md-2.finacial-select-search {
            width: 50%;
            padding-top: 5px;
        }

        .content.aepsfullpage.aepsfullpageweertd .col-md-3.buttonPdf {
            left: auto;
            padding-top: 5px;
            width: 50%;
            text-align: end;
        }
        .content.aepsfullpage.aepsfullpageweertd .tabsrepor-content-fluid .col-md-2.finacial-select {
            padding-left: 4px;
        }
        .col-md-12.statusshow-dmtpage {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }

    }


    @@media screen and (max-width: 766px) {
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {margin-bottom: 0px !important;}

            .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {padding-right: 5px;}

        .money-transfer-retailer .col-md-2.finacial-select {width: 50%;float: left;}

            

        .money-transfer-retailer .tab-content.tabsrepor-content .col-md-12 .col-md-3 {
            width: 100%;float: left;padding-left: 6px;margin: 10px 0;
        }

        .money-transfer-retailer .col-md-4.finacial-selectsss {
            width: 100% !important;float: left;margin-bottom: 10px;
        }

        .money-transfer-retailer .col-md-2.finacial-select-search {
            width: auto !important;float: left;
        }

        .money-transfer-retailer .tab-content.tabsrepor-content .col-md-12 {width: 100%;}

        .row-moneyresponsive {position: relative;}

        .col-md-12.statusshow-dmtpage {padding: 0 15px !important;}

        .money-transfer-retailer .col-md-2.finacial-select-search button span {font-size: 12px !important;}

        .money-transfer-retailer .tab-content.tabsrepor-content .statusshow-dmt.statusshow-dmt .statusshow-dmtpage {
            width: 100% !important;float: left;margin-left: 0;
        }
        .row-moneyresponsive .col-md-12 {padding: 0;}
        .row-moneyresponsive .col-md-12 .surchnumberqqqq {
            width: 100%;padding-left: 6px;margin: 8px 0;
        }
        .col-md-3.buttonPdf {display: block;width: auto;float: right;position: static !important;}
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav {display: block !important;}
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {width: 33% !important;margin-bottom: 15px !important;}
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li a img {width: 14px !important;}
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li a {
            padding-left: 0px !important;padding-right: 0px !important;
        }

    }

    @@media screen and (max-width:480px) {
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            padding-right: 0px;
        }

        .content.aepsfullpage.aepsfullpageweertd .col-md-3.buttonPdf {
            padding-top: 0px;
            width: 100%;
        }

        .money-transfer-retailer .col-md-2.finacial-select {
            width: 100%;
            padding: 0 !important;
            padding-bottom: 5px !important;
        }
        .row-moneyresponsive .col-md-12 .surchnumberqqqq {
            padding-left: 0px;
            margin: 0px 0;
            padding-top: 0;
        }
        .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li {
            width: 50% !important;
            margin-bottom: 10px !important;
        }

           
            .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li:nth-child(4), .money-transfer-retailer ul.nav.nav-tabs.tabsrepor-nav li:nth-child(5) {
                width: 50%;
                float: left;
            }

        .money-transfer-retailer .col-md-4.finacial-selectsss {
            padding-left: 0;
        }
        .money-transfer-retailer .col-md-2.finacial-select-search {
            padding: 0;
            padding-bottom: 5px !important;
            width: 100% !important;
        }

    }

    @@media only screen and (max-width:420px){

        .addnew-responsiveclass .finacial-select {
            width: 100% !important;
            margin-bottom: 0px;
        }
        .addnew-responsiveclass .finacial-selectsss {
            padding-left: 0px !important;
        }
        .money-transfer-retailer .col-md-4.finacial-selectsss {
            margin-bottom: 5px;
        }

    }



</style>

<section class="content aepsfullpage aepsfullpageweertd content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x: hidden;">
    <!--newtabsreport-->
    <!--Four-Design-Page-Header-Start-->

    <div class="page-title-box-fourde">
        <h3>Financial Services</h3>
        <ul>
            <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
            <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Financial Services</a></li>
        </ul>
    </div>

    <!--Four-Design-Page-Header-End-->
    <div class="newtabsreport uladdcssnew uladdcssnew-responsive">
        <div class="container container-tabsrepor addnew-responsiveclass money-transfer-retailer">

            @Html.Partial("_menuFinicalReport")

            <div id="home" class="tab-pane fade in active" style="width:100%;float:left;">
                <div class="container-fluid tabsrepor-content-fluid responsive-report-money responsive-report-moneynew">
                    <div class="row clearfix row-moneyresponsive page-header-third" style="margin-right: -15px; margin-left: -15px;">
                        <div class="col-md-12">
                            <div class="card class-back-tra-fourdesign" style="margin-bottom: 0;">
                                <div class="">

                                    <div class="row rowchange-margin" style="position:relative;">
                                        @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                                        {
                                            <div class="col-md-2 finacial-select">
                                                <div class="form-group">
                                                    <div class="" style="margin-top: 0px;">
                                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="Status",Value="ALL",},
                                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                            new SelectListItem{Text="Pending",Value="PENDING"},
                                            new SelectListItem{Text="FAILED",Value="FAILED"}
                                            }, new { @class = "form-control for-select2" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 finacial-select">
                                                <div class="form-group">
                                                    <div class="" style="margin-top: 0px;">
                                                        @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                                          {
                                                              new SelectListItem{ Text="Transition Type",Value="ALL",},
                                                              new SelectListItem{Text="Account Transfer",Value="IMPS"},
                                                              new SelectListItem{Text="UPI Transfer",Value="UPI"},
                                                              new SelectListItem{Text="Paytm Wallet",Value="WALLET"},
                                                              new SelectListItem{Text="Verify",Value="IMPS_VERIFY"},
                                                              new SelectListItem{Text="Credit Card",Value="Credit Card"}
                                                            }, new { @class = "form-control for-select2" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 surchnumberqqqq">

                                                @Html.TextBox("txtnumberfind", "", new { @class = "form-control", @placeholder = "Sender Number / Bank Acc", @style = "height:32px !important;padding:0px; background:none;font-size:12px;border-color: #ccc !important;box-shadow: none;" })
                                            </div>
                                            <div class="col-md-4 finacial-selects finacial-selectsss" id="rwqrtse">
                                                <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                    <div class="input-daterange input-group">
                                                        <div class="datesate datesates">
                                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                        </div>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                        </span>
                                                        <div class="datesate datesatese">
                                                            <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                            <div class="col-md-2 finacial-select-search">
                                                <div class="form-group">
                                                    <div class="form-line" style="border-bottom:none;">
                                                        <button value="LIVE" type="submit" class="btn retailer-search-second" id="submit" name="submit" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:#aaa;"></i>
                                                            <span class="font-responsiveo" style="top:-1px;color:black;">Search</span>
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    <div class="col-md-3 buttonPdf retailer-pdf-second retailer-pdf-second-retailer" style="margin:0px;">

                                        <button id="btnPDF">PDF</button>
                                        <button id="btnExport">Export</button>
                                        <button onclick="Findtotal()">Total</button>

                                    </div>
                                        <div id="totafind" class="totalfaild-retailer"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-12">

                            <div class="for-search for-searchretailerinput forsearch-third-retailer" style="float:right;width:auto;">
                                <input id="myInput" name="myInput" type="text" placeholder="Search..."  />

                            </div>
                        </div>*@
                    <div class="row clearfix">
                        <div class="col-md-12 statusshow-dmtpage" style="padding:0;">
                            <div class="card class-back-tra-fourdesign">
                                <div class="body" style="padding:0px;padding-left: 0;padding-top: 5px;">
                                    <div class="page-header-third">
                                        <div class="table-responsive tableclasscssfirst responsive-last-child tablethirddesign-newnew" style="position:inherit;margin-top:0px;">
                                            <table id="tbldata" class="table table-bordered table-striped table-hover dataTable gfdgfdgfdgf third-design-table" cellspacing="0" style="width: 100%; margin: 0 !important;">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>
                                                        <th>S.&nbsp;No.</th>
                                                        <th class="first-statuswe">Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

                                                        <th>Sender&nbsp;No</th>

                                                        <th>Beneficiary&nbsp;A/C</th>
                                                        <th>Beneficiary&nbsp;Name</th>

                                                        <th style="display:none;">Request&nbsp;Date</th>

                                                        <th>Net&nbsp;T/F</th>
                                                        <th>Charge</th>
                                                        @*<th>Tax</th>*@

                                                        <th style="display:none;">Total&nbsp;.&nbsp;Trans</th>
                                                        <th style="display:none;">My&nbsp;Sharing</th>
                                                        <th style="display:none;">GST&nbsp;│&nbsp;TDS</th>
                                                        <th style="display:none;">Net&nbsp;INC</th>

                                                        <th>Debit&nbsp;₹</th>
                                                        <th>Pre&nbsp;₹</th>
                                                        <th>Post&nbsp;₹</th>
                                                        @*<th>Earn</th>*@
                                                        <th>Request&nbsp;Time</th>
                                                        <th>Response&nbsp;Time</th>
                                                        <th>RRN&nbsp;(utr)&nbsp;no</th>
                                                        <th>Refund</th>
                                                        <th style="width: 65px; float: left;">Action</th>
                                                       
                                                        @*<th class="last-childaction">Action</th>*@
                                                        <th style="display:none;">View&nbsp;Sts</th>
                                                        <th style="display:none;">Bank&nbsp;Ref&nbsp;No</th>
                                                        <th style="display:none;">Bank&nbsp;Name</th>
                                                        <th style="display:none;">Request&nbsp;ID</th>
                                                        <th style="display:none;">Common&nbsp;Trans&nbsp;ID</th>
                                                        <th style="display:none;">IFSC&nbsp;Code</th>
                                                        <th style="display:none;">Response&nbsp;Date</th>


                                                    </tr>
                                                </thead>
                                                <tbody id="trow" class="myTable">
                                                    @{
                                                        Html.RenderAction("_Money_Transfer_Report", "Home", new { Model = Model });
                                                    }
                                                </tbody>
                                            </table>
                                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                                <div class="loadertablecssnew">Loading...</div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="home1" class="tab-pane fade hidden" style="clear: both;">
                <div class="container-fluid Financial-page">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="card class-back-tra-fourdesign">
                                <div class="col-md-9 Financial-pagetab">
                                    <div class="row">
                                        @using (Html.BeginForm("AepsReport", "Home", FormMethod.Post))
                                        {
                                            <div class="col-md-2 Financial-none">
                                                <div class="form-group">
                                                    <div class="" style="margin-top:5px;border:1px solid #dddddd;">
                                                        @Html.TextBox("amount", "", new { @placeholder = "Amt", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 Financial-pagetab Financial-none">
                                                <div class="form-group">
                                                    <div class="" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                        @Html.TextBox("BankId", "", new { @placeholder = "Bank Id", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 enteraddarnumber">
                                                <div class="form-group">
                                                    <div class="" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                        @Html.TextBox("aadhar", "", new { @placeholder = "Enter Addar / Banck Id / Amount", @class = "form-control", @style = "margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 aeps-statusclass">
                                                <div class="form-group">
                                                    <div class="" style="margin-top:5px;border:1px solid #dddddd;margin-left:-13px;width:108%;">
                                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                           {
                                                   new SelectListItem{ Text="Status",Value="ALL",},
                                                   new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                   new SelectListItem{Text="Pending",Value="PENDING"},
                                                   new SelectListItem{Text="FAILED",Value="FAILED"}
                                                    }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3 aeps-status">
                                                <div class="form-group">
                                                    <div class="input-daterange input-group">
                                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                        </span>
                                                        <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                            <div class="col-md-1 aeps-status-search">
                                                <div class="form-group">
                                                    <center>
                                                        <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:-22px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                            <span style="top:-1px;color:black;">Search</span>
                                                        </button>
                                                    </center>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                            <button>PDF</button>
                                            <button>Export</button>
                                            <button>Total</button>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statusshow-dmtpage" style="margin-top:-26px;">
                            <div class="card">
                                <div class="">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                                        <li class="active" style="color:#9E9E9E; font-size:12px;"></li>
                                    </ol>
                                </div>
                                <div class="body" style="padding:7px;padding-left:0;">
                                    <div class="table-responsive" style="position:inherit;margin-top:-49px;">
                                        <table class="table table-bordered table-striped table-hover" style="width:100%;font-size:12px;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th style="width:110px;">Live&nbsp;Status</th>
                                                    <th>From</th>
                                                    <th>Aadhaar&nbsp;Number</th>
                                                    <th>Customer&nbsp;Bank&nbsp;Name</th>
                                                    <th>View&nbsp;Status</th>
                                                    <th>Merchant&nbsp;ID</th>
                                                    <th>Req&nbsp;Date</th>
                                                    <th>Transfer&nbsp;</th>
                                                    <th>Mobile&nbsp;No</th>
                                                    <th>User&nbsp;Credit&nbsp;</th>
                                                    <th>Bank&nbsp;RRN&nbsp;</th>
                                                    <th>User&nbsp;Pre&nbsp;₹&nbsp;│&nbsp;Credit&nbsp;│&nbsp;Post&nbsp;Amt&nbsp;₹</th>
                                                    <th>Terminal&nbsp;ID</th>
                                                    <th>Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody id="trow">
                                                @{
                                                    Html.RenderAction("_AepsReport", "Home", new { Model = Model });
                                                }
                                            </tbody>
                                        </table>
                                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                            <img src="~/img/ajax-loader.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade hidden" style="clear: both;">
                <div class="container-fluid">

                    <div class="row clearfix statusclas-mpos">
                        @using (Html.BeginForm("m_Possreport", "Home", FormMethod.Post))
                        {
                            <div class="col-md-12" style="padding:0;">
                                <div class="card class-back-tra-fourdesign">
                                    <div class="">
                                        <div class="col-md-6" style="display:none;">
                                            <div style="margin-left:-6px;">
                                                <p style="font-size:20px;color:#aba8a8;margin-top:2px;">M-Poss&nbsp;Report</p>
                                            </div>
                                        </div>



                                        <div class="col-md-6 mpos-full">
                                            <div class="row">
                                                <div class="col-md-2 enteraddarnumber enteraddarnumbers">
                                                    <div class="form-group">
                                                        <div class="focused" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                            <input class="form-control" id="aadhar" name="aadhar" placeholder="Enter Addar / Banck Id / Amount" style="margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" type="text" value="">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-2 aeps-statusclass">
                                                    <div class="form-group">
                                                        <div class="" style="margin-top:5px;border:1px solid #dddddd;width:100%;">
                                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                               {
                                                       new SelectListItem{ Text="Status",Value="ALL",},
                                                       new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                       new SelectListItem{Text="Pending",Value="PENDING"},
                                                       new SelectListItem{Text="FAILED",Value="FAILED"}
                                                        }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-5 mpos-date">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="input-daterange input-group">
                                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                            </span>
                                                            <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mpos-search">
                                                    <div class="form-group">
                                                        <div class="form-line" style="border-bottom:none;">
                                                            <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                <span style="top:-1px;color:black;">Search</span>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                                    <button>PDF</button>
                                                    <button>Export</button>
                                                    <button>Total</button>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statusshow-dmtpage" style="margin-top:-19px;">
                            <div class="card class-back-tra-fourdesign">
                                <div class="body" style="padding-left:0;">
                                    <div class="table-responsive" style="position:inherit;margin-top:-18px;">
                                        <table class="table table-bordered table-striped table-hover" style="width:100%; font-size:12px;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>M&nbsp;-&nbsp;Poss&nbsp;Id</th>
                                                    <th>Message</th>
                                                    <th>TransType</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                    <th>MerchantID</th>
                                                    <th>BankmerchantID</th>
                                                    <th>BankterminalID</th>
                                                    <th>Cardbrand</th>
                                                    <th>Card&nbsp;Holder&nbsp;Name</th>
                                                    <th>Cardnumber</th>
                                                    <th>Card&nbsp;Type</th>
                                                    <th>Date</th>
                                                    <th>Invoice&nbsp;No</th>
                                                    <th>Payment&nbsp;Id</th>
                                                    <th>Merchant&nbsp;Address</th>
                                                    <th>Retailer&nbsp;Pre</th>
                                                    <th>Retailer&nbsp;Post</th>
                                                    <th>Retailer&nbsp;Comm</th>
                                                    <th>Retailer&nbsp;GST</th>
                                                    <th>Retailer&nbsp;Income</th>
                                                </tr>
                                            </thead>
                                            <tbody id="trow">
                                                @{
                                                    Html.RenderAction("_m_Possreport", "Home", new { Model = Model });
                                                }
                                            </tbody>
                                        </table>
                                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                            <img src="~/img/ajax-loader.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade hidden" style="clear: both;">
                <div class="container-fluid">
                    <div class="row clearfix">
                        @using (Html.BeginForm("TokenPurchaseReport", "PANCARD", FormMethod.Post))
                        {
                            <div class="col-md-12" style="padding-left:0;">
                                <div class="card class-back-tra-fourdesign">
                                    <div class="">
                                        <div class="col-md-2" style="display:none;">
                                            <div style="margin-left:-6px;">
                                                <p style="font-size:20px;color:#aba8a8;margin-top:2px;">Pancard&nbsp;Report</p>
                                            </div>
                                        </div>

                                        <div class="col-md-10" style="padding-right:0;width:100%;">
                                            <div class="row">
                                                <div class="col-md-2 enteraddarnumber enteraddarnumbers">
                                                    <div class="form-group">
                                                        <div class="focused" style="margin-top:5px;margin-left:-13px;border:1px solid #dddddd;">
                                                            <input class="form-control" id="aadhar" name="aadhar" placeholder="Enter Addar / Banck Id / Amount" style="margin-top:0px; padding-left:3px; padding-right:0px;height:30px;" type="text" value="">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2 pancard-status" style="width: 13%;">
                                                    <div class="form-group">
                                                        <div class="" style="margin-top:5px;width:100%;border:1px solid #dddddd;">
                                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                            {
                                    new SelectListItem{ Text="Status",Value="ALL",},
                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                    new SelectListItem{Text="PENDING",Value="PENDING"},
                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                     }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3 pancarddate" style="padding-left:0;">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                        <div class="input-daterange input-group">
                                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                            </span>
                                                            <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;left: 142px !important;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                </div>
                                                <div class="col-md-2 pancard-search">
                                                    <div class="form-group">
                                                        <div class="form-line" style="border-bottom:none;">
                                                            <button type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                                <span style="top:-1px;color:black;">Search</span>
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 buttonPdf" style="float: right;margin-right: 11px;">

                                                    <button>PDF</button>
                                                    <button>Export</button>
                                                    <button>Total</button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row clearfix statusshow-dmt" style="width: 83.3vw;float: left;margin-left: -55vw;position: relative;left:48%;">
                        <div class="col-md-12 statusshow-dmtpage">
                            <div class="card">
                                <div class="body" style="margin-top:-18px;padding:0px;padding-left:0;">
                                    <div class="table-responsive " style="position:inherit;">
                                        <table id="example1" class="table table-bordered table-striped table-hover responshivemargin" style="width:100%; font-size:12px;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>Live&nbsp;Status</th>
                                                    <th>Retailer&nbsp;Id</th>
                                                    <th>Processing&nbsp;Fees</th>
                                                    <th>Physical</th>
                                                    <th>Digital</th>
                                                    <th>TXN&nbsp;ID</th>
                                                    <th>UTI&nbsp;TXN&nbsp;ID</th>
                                                    <th>UTI&nbsp;Status</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                    <th>Retailer&nbsp;Remain&nbsp;Pre</th>
                                                    <th>Net&nbsp;Income</th>
                                                    <th>Retailer&nbsp;Remain&nbsp;Post</th>

                                                </tr>
                                            </thead>
                                            <tbody id="trow">
                                                @{
                                                    Html.RenderAction("_TokenPurchaseReport", "PANCARD", new { Model = Model });
                                                }
                                            </tbody>
                                        </table>
                                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                            <img src="~/img/ajax-loader.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>

    <!--newtabsreport-->
    <!--<div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="">
                                @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                                {
                                    <div class="row">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="" style="margin-top: 5px;">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                        {
                                        new SelectListItem{ Text="Status",Value="ALL",},
                                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                        new SelectListItem{Text="Pending",Value="PENDING"},
                                        new SelectListItem{Text="FAILED",Value="FAILED"}
                                        }, new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <div class="" style="margin-top: 5px;">
                                                    @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                        {
                                                 new SelectListItem{ Text="Type",Value="ALL",},
                                         new SelectListItem{Text="Transfer",Value="IMPS"},
                                         new SelectListItem{Text="Verify",Value="IMPS_VERIFY"}
                                        }, new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                                <div class="input-daterange input-group">
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                                    </span>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:33px;", autocomplete = "off" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;">
                                                    <button value="LIVE" type="submit" class="btn" id="submit" name="submit" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">Search</span>
                                                    </button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="body" style="padding:12px;">
                                <div class="table-responsive" style="position:inherit;margin-top:-10px;">
                                    <table id="tbldata" class="table table-bordered table-striped table-hover dataTable" cellspacing="0" style="width:100%;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Status</th>
                                                <th>Sender&nbsp;No</th>
                                                <th>Beneficiary&nbsp;Account&nbsp;Information</th>
                                                <th>Type</th>
                                                <th>Request&nbsp;Date</th>
                                                <th>Transfer&nbsp;&#x002B;&nbsp;Fee&nbsp;=&nbsp;Total</th>
                                                <th>Total&nbsp;.&nbsp;Trans</th>
                                                <th>My&nbsp;Sharing</th>
                                                <th>GST&nbsp;│&nbsp;TDS</th>
                                                <th>Net&nbsp;INC</th>
                                                <th>Pre&nbsp;Amt&nbsp;│&nbsp;Debit&nbsp;│&nbsp;Post&nbsp;Amt</th>
                                                <th>Print</th>
                                                <th>View&nbsp;Sts</th>
                                                <th>Bank&nbsp;Ref&nbsp;No</th>
                                                <th>Bank&nbsp;Name</th>
                                                <th>Request&nbsp;ID</th>
                                                <th>Common&nbsp;Trans&nbsp;ID</th>
                                                <th style="width:84px; padding:9px;">IFSC&nbsp;Code</th>
                                                <th style="width:84px; padding:9px;">Response&nbsp;Date</th>


                                            </tr>
                                        </thead>
                                        <tbody id="trow">
                                            @{
                                                Html.RenderAction("_Money_Transfer_Report", "Home", new { Model = Model });
                                            }
                                        </tbody>
                                    </table>
                                    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                        <img src="~/img/ajax-loader.gif" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
    -->

</section>
<!--View Status Model PopUp Modal-->

<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top:27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    <input type="text" id="name" name="name" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                    @Html.Hidden("TID")
                                </div>
                                <span style="color:red" id="invalidname"></span>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                            <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotp()">Resend Otp</button>
                            <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submit()">Send</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalold" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" id="RegisterremitterModalLabel" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top: 27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    <input type="text" id="nameold" name="nameold" class="form-control" autocomplete="off" placeholder="Enter Otp">
                                    @Html.Hidden("TIDold")
                                </div>
                                <span style="color:red" id="invalidnameold"></span>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1" style="margin-top:-17px;">
                            <button type="button" class="btn bg-blue-grey waves-effect" style="margin-left:-10px;" onclick="Resendotpold()">Resend Otp</button>
                            <button type="button" class="btn bg-blue-grey waves-effect" onclick="Submitold()">Send</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalRefund" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top:27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    @Html.TextBox("txtotpinfo", "", new {@class="form-control", @placeholder = "Enter Otp" })
                                    @Html.Hidden("hidetxnid")
                                </div>
                                <span style="color:red" id="errorhideotp"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="Submitinfo()">Submit</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalRefundPPI" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" style="color:#00000080; text-align:center;color:black;">Refund OTP</h4>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">
                            <div class="form-group" style="margin-top:27px;">
                                <div class="" style="border:1px solid #dddddd;">
                                    @Html.TextBox("txtotpinfoPPI", "", new { @class = "form-control", @placeholder = "Enter Otp" })
                                    @Html.Hidden("hidetxnidPPI")
                                    @Html.Hidden("hidestateresp")
                                </div>
                                <span style="color:red" id="errorhideotp"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="SubmitinfoPPI()">Submit</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<label id="lbltxt"></label>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    function Findtotal() {
        
        $('#totafind').empty();
        $.ajax({
            url: '@Url.Action("FindCurrentTotal")',
            type: 'GET',
            data: { txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val(), ddl_status: $('#ddl_status').val(), ddl_Type: $('#ddl_Type').val() },
            success: function (data) {
                $('#totafind').html('<span id="lblsuccess" >' + data.success + ' </span><br/><span id="lblfailed" >' + data.failed + ' </span><br/><span id="lblpending">' + data.pending +' </span>')

            }



        })

    }


</script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();

        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_money","Home")",
                    { "pageindex": pageindex, "txt_frm_date": txt_frm_date,"txt_to_date":txt_to_date, "ddl_status": ddl_status},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>

<script type="text/javascript">
                   function GotoPDF(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("IMPSPDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>
<script>
    $('select').select2();
</script>

<!--View Status-->
<script>
    function GotoView(idno)
    {
        $.ajax({
            url: '@Url.Action("viewsearch", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno},
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success")
                {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded")
                {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TID').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewold(idno) {
        $.ajax({
            url: '@Url.Action("viewsearchold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModalold').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                             //  location.reload();
                                           }
                   );
                }
            }
        });
    }
    function GotoViewoldDMT1(idno) {
        $.ajax({
            url: '@Url.Action("viewsearcholdDMT1", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { idno: idno },
            //cache: false,
            success: function (result) {
                var resp = result.split('~');
                var output = resp[0];
                var Tid = resp[1];
                $('#TIDold').val(Tid);
                if (output == "RefundPending") {
                    $('#myModal').modal('show');
                }
                else if (output == "Success") {
                    swal({ title: "Response !", text: "Money Transfer Success.", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                    );
                }
                else if (output == "Failed" || output == "Refunded") {
                    swal({ title: "Response !", text: "Money Transfer Failed.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                   );
                }
                else if (output == "Pending") {
                    swal({ title: "Response !", text: "Money Transfer Pending.", type: "warning" },
                                           function () {
                                              // location.reload();
                                           }
                   );
                }
            }
        });
    }
    function Submit()
    {
        var tid = $('#TID').val();
        var otp = $('#name').val();
        $.ajax({
            url: '@Url.Action("Refund", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP")
                {
                    $('#myModal').modal('hide');
                }
            }
        });

    }
    function Submitold() {
        var tid = $('#TIDold').val();
        var otp = $('#nameold').val();
        $.ajax({
            url: '@Url.Action("Refundold", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, otp: otp },
            //cache: false,
            success: function (result) {
                swal("Response ! ", result, "success");
                if (result != "Wrong TID or OTP") {
                    $('#myModalold').modal('hide');
                }
            }
        });

    }
    function Resendotp() {
        var tid = $('#TID').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                swal("Response ! ", result, "success");

            }
        });

    }
    function Resendotpold() {
        var tid = $('#TIDold').val();
        $.ajax({
            url: '@Url.Action("ResendDMT", "Home")',
            type: "Post",
            dataType: 'json',
            cache: false,
            //   async: false,
            data: { tid: tid, },
            //cache: false,
            success: function (result) {

                swal("Response ! ", result, "success");

            }
        });

    }



</script>
<script>
    Submitinfo = () => {
        var txnid = $('#hidetxnid').val()
        var otp = $('#txtotpinfo').val()
             $.ajax({
                   url: '@Url.Action("PaysprintVerifyOTP", "Home")',
                   type: "Post",
                   dataType: 'json',
                   cache: false,
                   data: { txnid, otp },
                   success: function (result) {
                         var sts = result.status;
                         var msg = result.message;
                       alert(msg)
                       location.reload();
                 }
             });
    }
</script>
<script>
    SubmitinfoPPI = () => {
        var txnid = $('#hidetxnidPPI').val()
        var otp = $('#txtotpinfoPPI').val()
        var stateresp = $('#hidestateresp').val()
        
             $.ajax({
                   url: '@Url.Action("PaysprintVerifyOTPPPI", "Home")',
                   type: "Post",
                   dataType: 'json',
                   cache: false,
                 data: { txnid, otp, stateresp },
                   success: function (result) {
                         var sts = result.status;
                         var msg = result.message;
                       alert(msg)
                       location.reload();
                 }
             });
    }
</script>
<script>
    Refund = (transid) => {
          $.ajax({
                  url: '@Url.Action("PaysprintRefundOTP", "Home")',
                  type: "Post",
                  dataType: 'json',
                  cache: false,
      //   async: false,
              data: { txnid: transid, },
      //cache: false,
      success: function (result) {
        //  let obj = JSON.parse(jsonData);
          var sts = result.status;
          var msg = result.message;
   

          if (sts) {
              $('#myModalRefund').modal('show')
              $('#hidetxnid').val(transid)
          }
          else {
              alert(msg)
          }
      }
  });
        
    }
</script>
<script>
    RefundPPI = (transid) => {
          $.ajax({
                  url: '@Url.Action("PaysprintRefundOTPPPI", "Home")',
                  type: "Post",
                  dataType: 'json',
                  cache: false,
      //   async: false,
              data: { txnid: transid, },
      //cache: false,
              success: function (result) {
                  console.log()
        //  let obj = JSON.parse(jsonData);
                  var sts = result.status;
          var msg = result.message;

                  if (sts == true) {
                      var stateresp = result.data.stateresp;
              $('#myModalRefundPPI').modal('show')
              $('#hidetxnidPPI').val(transid)
              $('#hidestateresp').val(stateresp)
          }
          else {
              alert(msg)
          }
      }
  });

    }
</script>


<script>
    $("").click(function () {
        $(".report-list-change li").addClass(".active");
    });

</script>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>

<script>
    $(document).ready(function () {
        $(".addnew-responsiveclass .finacial-selectsss input").click(function () {
            $(".datepicker").addClass('datapicker-bottom-responshive');
        });
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var ddl_Type = $('#ddl_Type').val();
        var txtnumberfind = $('#txtnumberfind').val();
        var url = '@Url.Action("Excel_Money_Transfer_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&ddl_Type=' + ddl_Type + '&txtnumberfind=' + txtnumberfind;
        location.href = url
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var ddl_Type = $('#ddl_Type').val();
        var txtnumberfind = $('#txtnumberfind').val();
        var url = '@Url.Action("PDF_Money_Transfer_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&ddl_Type=' + ddl_Type + '&txtnumberfind=' + txtnumberfind;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>


