@{
    ViewBag.Title = "Money_Transfer_Slab_DMT2";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>


    /* new css  */
    .wallet_transfer #ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 14px 0;
    }

        .wallet_transfer #ul a {
            padding: 10px 14px;
            background: #ccc;
            color: #000;
            border-radius: 2px;
        }

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0 !important;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    /* new css  */

    .giftcardcategory ul li a span {
        font-size: 12px;
    }

    .giftcardcategory ul li a span, .giftcardcategory ul li.active a span {
        color: #fff !important;
    }

    .operator-clearfix table tr td span {
        color: #555;
    }

    .second-design .giftcardcategory ul li a span, .second-design .giftcardcategory ul li.active a span {
        color: #000 !important;
    }

    @@media only screen and (max-width:1169px) {
        .body.Gift_Carddbody {
            padding: 0;
        }

            .body.Gift_Carddbody .row {
                margin-left: 0;
                margin-right: 0;
            }
    }

    @@media screen and (max-width:992px) {
        .third-design .giftcardtab-thirddesign .giftul-third-block {
            display: block !important;
        }

        .third-design .giftcardtab-thirddesign .giftul-third {
            display: none !important;
        }
    }

    @@media only screen and (max-width:991px) {
    }

    @@media only screen and (max-width:767px) {
        #leftulbar li {
            width: 20% !important;
        }

        .operator-clearfix .giftcardcategory ul li.active a {
            margin-top: 0px;
        }

        .Gift_Carddbody .giftcardcategory ul li.active a {
            padding: 10px 2px;
        }

        .giftcardcategory-second ul {
            display: inline-block !important;
        }
    }

    @@media screen and (max-width:766px) {
    }


    @@media only screen and (max-width:480px) {
        #leftulbar li {
            width: 50% !important;
        }

        .bread-same-all-page {
            display: block;
        }

            .bread-same-all-page .col-md-6 {
                width: 100% !important;
            }
        /* lastest css  */

        .wallet_transfer #ul {
            display: block;
        }

            .wallet_transfer #ul li {
                width: 50%;
                float: left;
                padding: 5px;
            }

            .wallet_transfer #ul a {
                width: 100%;
                float: left;
                text-align: center;
            }

        .wallet_transfer {
            width: 100%;
            float: left;
        }

    }
</style>
<section class="content operator-responsive content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid">

        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Operator Comm</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Pages&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Operator Com</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->

        <div class="row clearfix operator-clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="page-header-third">
                    <div class="bread-same-all-page header-margin-top-thrddesihn" style="width:100%;float:left;">
                        <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                            <ul>
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>
                                <li class="">
                                    Operator Info&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                </li>
                                <li class="textshowspanclass-header">
                                    Money Transfer
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second" style="text-align:right;width:auto;float:right;display:block !important;">

                            <button style="color:#555;">PDF</button>
                            <button style="color:#555;">Export</button>

                        </div>

                    </div>

                </div>

                <div class="card navbar class-back-tra-fourdesign" style="position:initial;">

                    <div class="body Gift_Carddbody">

                        @*Third_Design-Start*@

                        <div class="svg-container-third-design">
                            <svg viewBox="0 0 202.9 45.5">
                                <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
                                    <path d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z" />
                                </clipPath>
                            </svg>
                        </div>

                        @*Third_Design-End*@


                        <div class="row">
                            <div class="col-md-12 giftcardcategory giftcardcategory-second giftcardcategory-second-design giftcardtab-thirddesign" style="margin-bottom:0px;">
                                <center>
                                    <div class="page-header-third">
                                        <ul id="leftulbar" class="nav nav-tabs tab-col-orange fullbodydycolorbg giftul-third-block" role="tablist" style="background:#607D8B;border-bottom:none;display: flex;">
                                            <li role="presentation" class="" style="margin-left:22px;" @*onclick="showComm('Prepaid')"*@>
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#prepaidoperators'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/mobile-application.svg" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span id="alltab" style="padding-left:5px;">Prepaid & Dth</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:36px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#utilitisoperators'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/increase.svg" style="height:45px; margin-top:-5px;">
                                                    <br><span>Utilities</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="active" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#moneyoperator'" data-toggle="tab" aria-expanded="true">
                                                    <img src="../../images/transfer-money.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">Money Transfer</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#Walletoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/transfer-money.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">To Wallet</span>
                                                </a>
                                            </li>


                                            <li role="presentation" class="" style="margin-left:26px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#pancardoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/pancardicon.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:0px;">Pancard</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:8px;box-shadow:none;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#aepsoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/aespicon.png" style="height:45px;margin-top:-5px;">
                                                    <br><span style="margin-left:14px;">AEPS</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#mposoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/mposicon.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">M-POS</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#Microatmcashoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/mposicon.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">MicroATM</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#Microatmpurchaseoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../images/mposicon.png" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">VM30&nbsp;Purchase</span>
                                                </a>
                                            </li>

                                            <li role="presentation" class="" style="margin-left:19px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#flightoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/airplane.svg" style="height:45px; margin-top:-5px;">
                                                    <br>
                                                    <span style="padding-left:5px;">FLIGHT</span>
                                                </a>
                                            </li>

                                            <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#busoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/bus (1).svg" style="height:38px;margin-top:2px;">
                                                    <br>
                                                    <span style="margin-left:-8px;">BUS</span>
                                                </a>
                                            </li>

                                            <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#hoteloperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/hotel(1).svg" style="height:38px;margin-top:2px;">
                                                    <br>
                                                    <span style="margin-left:-8px;">HOTEL</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#giftcardoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/business(1).png" style="height:38px;margin-top:2px;">
                                                    <br>
                                                    <span style="margin-left:-8px;">Giftcard</span>
                                                </a>
                                            </li>

                                            <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                                                <a href="javascript:void(0)" onclick="window.location.href='@Url.Action("Operator_info","Home")#insuranceoperator'" data-toggle="tab" aria-expanded="false">
                                                    <img src="../../ashok-images/computer.png" style="height:38px;margin-top:2px;">
                                                    <br>
                                                    <span style="margin-left:-8px;">Security</span>
                                                </a>
                                            </li>

                                        </ul>

                                    </div>
                                </center>


                            </div>

                            <div class="page-header-third">
                                <div class="tab-content tab-contentoperators tab-content-gifts-secondde tablethirddesign-new tablethirddesign-newnew four-design-table-design">


                                    <div role="tabpanel" class="tab-pane flash" id="moneyoperator" style="display:block;">

                                        <div class="wallet_transfer">
                                            <ul id="ul" class="financal-second financal-third">
                                                <li style=" border-left:none;"><a href="@Url.Action("Money_Transfer_Slab_DMT2", "Home")">Pay Out (Slab1)</a></li>
                                                <li style=" border-left:none;"><a style="background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;color:#fff;" href="@Url.Action("Money_Transfer_Slab_DMT1", "Home")">Pay Out(Slab2)</a></li>
                                                <li><a href="@Url.Action("Money_Transfer_Slab_UPI", "Home")">Pay Out UPI</a></li>
                                                <li><a href="@Url.Action("dmtSlab", "Home")">DMT</a></li>

                                                <li><a href="@Url.Action("DmtSlabPPI", "Home")">DMT PPI</a></li>
                                                <li><a href="@Url.Action("WalleTransferSlab", "Home")">Wallet&nbsp;Transfer</a></li>

                                            </ul>
                                        </div>

                                        <div class="col-md-12" style="float: left; width: 100%;">

                                            <div class="table-responsive page-header-third">
                                                <div id="divEditFormComm" class=" table-responsive slab-edit-table tablefourdesign-admin" style="position:inherit;">
                                                    @Html.Partial("_Common_Money_transfer_1")
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                </div>


                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>
</section>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    $(function () {
        var chh = '@ViewData["type"]';
        $('#' + chh + '').show();
    });
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $(window).load(function () {

        var viewportWidth = $(window).width();
        if (viewportWidth < 420) {
            $(".second-design .giftcardcategory-second-design").removeClass("giftcardcategory-second-design");

        }

        $(window).resize(function () {

            if (viewportWidth < 420) {
                $(".second-design .giftcardcategory-second-design").removeClass("giftcardcategory-second-design");
            }
        });

    });
</script>

<script>

    $(".giftcardcategory ul li").click(function () {
        var text = $(this).text();

        $(".textshowspanclass-header").html(text);
    });
</script>