﻿@{
    ViewBag.Title = "Money_transfer";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
@*<script src="~/loaderjs/loaderdemo.js"></script>*@
@*<script src="http://code.jquery.com/jquery-latest.js"></script>*@
<link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
<link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
<style>
    /* New css */
    .newpagecustomertyui .money-transform-content {
        overflow: inherit;
        overflow-y: inherit;
    }

    #reportallinone {
        overflow-y: scroll !important;
        /*overflow-x: hidden;*/
    }

    /* New css */

    .money_tab-height p {
        padding-bottom: 0px;
        margin-bottom: 1px;
    }

    .tabsmy {
        background: #eae9e9;
    }

    .tab-link-new.current {
        height: 80px !important;
    }

    #tabsmyss li {
        padding: 3px 0;
        position: relative;
        height: 72px;
        background: #eae9e9;
    }

    .tab-link-new {
        height: 70px !important;
    }

    .tabspage ul li img {
        height: 32px !important;
    }

    .tabsmy span {
        font-size: 10px !important;
    }

    .diveotpclass button {
        border-radius: 4px !important;
    }

    /* New css*/
    .newpagecustomertyui .tab-link-new.current::after {
        content: "";
        clip-path: polygon(50% 100%, 100% 0, 0 0);
        bottom: -13px !important;
        width: 86% !important;
        height: 13px !important;
        display: block;
        position: absolute;
        left: 5px;
    }

    .newpagecustomertyui .tab-link-new.current {
        border-style: dotted;
        border-radius: 0px 0 50% 50%;
    }
    .transaction ul li.transaction-left, .transaction ul li.transaction-right {
        height: 28px;
    }
    .tab-seconddesign .tab-link active{
        color:#000;
    }
    .nav-tabs li.active a {
        color: white !important;
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
        margin: 0px;
    }
    .sign > li > a:before{
        border:none;
    }
    .sign li.active a:hover, .sign li.active a:focus {
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    }
    .loader::after {
        border-color: var(--main-bg-lcolor) !important;
        border-top-color: transparent !important;
    }
   @* .aadharpaysup {
        animation: blinks 2s linear infinite;
        font-size: 8px;
        top: -10px;
        left: -12px;
    }
    @@keyframes blinks {
        0% {
            color: yellow;
        }
        50% {
            color: red;
        }

        100% {
            color: orange;
        }
    }
    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }*@

    @@media screen and (max-width:1366px) {
        .newpagecustom.newpagecustomertyui ul li span.aeps-aadharclassdiv {
            left: 0px !important;
        }
    }
    @@media (min-width: 1200px) {
        .table-bordered th {
            font-size: 12px !important;
        }
    }
</style>
<section class="newpagecustom newpagecustomertyui newpagecustomertyui-second content-fourdesign-page allpage-four-design-section widthinherit-four">
    <div id="full" class="col-md-4 tabspage">
        <div class="page-header-third">

            <ul class="tabsmy" id="tabsmyss" style="display:flex;">

                <li class="tab-link-new fullbodydycolorbg current" data-tab="tab-1" onclick="DMT()" style="padding:5px 0px;">
                    <strong class="img-none" style="display:none;"><img style="height: 65px;" src="~/images/transfer.svg" /></strong><img class="hover-display-none" src="~/images/transfer-money.png" />
                    @if (ViewBag.openapi == "VASTWEB")
                    {
                        <span class="aeps-aadharclassdiv" style="padding-left: 0; position: relative; font-size:11px;">To&nbsp;Bank/AC<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 9px;position:static;">To&nbsp;Wallet</sup></span>
                    }
                    else
                    {
                <span class="aeps-aadharclassdiv" style="padding-left: 0; position: relative; font-size:9px !important;">Domestic Money<sup class="aadharpaysup" style="display: block; margin: 4px 0;animation: none;font-size: 9px;position:static;">Transfer</sup></span>
                    }
                </li>
                <li id="tabaeps" class="tab-link-new fullbodydycolorbg" data-tab="tab-2" onclick="AEPS()" style="padding:5px 0px;"><strong class="img-none" style="display:none;"><img src="~/images/aeps1.png" /></strong><img class="hover-display-none" src="~/images/aespicon.png" /><span class="aeps-aadharclassdiv" style="padding-left: 0;">Aadhar Pay<sup class="aadharpaysup" style="display: block;font-size: 10px;position:static;animation: none;"></sup>AEPS</span></li>
                <li class="tab-link-new fullbodydycolorbg" data-tab="tab-5" onclick="GotoATMActive()" style="padding:5px 0px;"><strong class="img-none" style="display: none; "><img src="~/ashok-images/microatm.svg" /></strong><img class="hover-display-none" src="~/ashok-images/microatm(1).svg" /><span style="padding-left:0;">Micro ATM<sup class="aadharpaysup" style="display: block; margin: 4px 0;font-size: 10px;position:static;animation: none;">VM30</sup></span></li>
                <li class="tab-link-new fullbodydycolorbg" data-tab="tab-4" onclick="MPOS()" style="padding:5px 0px;"><strong class="img-none" style="display: none; "><img src="~/images/mpos1.png" /></strong>
                <img class="hover-display-none" src="~/images/mposicon.png" />
                <span style="padding-left:0;">
                    M - Pos
                    <sup class="aadharpaysup" style="display: block; margin: 4px 0;font-size: 10px;position:static;animation: none;">
                        ME30S
                    </sup>
                </span>
                </li>
                <li class="tab-link-new fullbodydycolorbg" data-tab="tab-3" onclick="PANCARD()" style="padding:5px 0px;">
                <strong class="img-none" style="display:none;">
                    <img src="~/images/pancarde1.png" />
                    </strong>
                <img class="hover-display-none" src="~/images/pancardicon.png" />
                <span style="padding-left:0;">
                    Pancard
                    <sup class="aadharpaysup" style="display: block; margin: 4px 0;font-size: 10px;position:static;animation: none;">
                        Create
                    </sup>
                </span>
                </li>
                @*<li class="tab-link-new fullbodydycolorbg" data-tab="tab-6" onclick="CashDeposit()" style="padding:5px 0px;"><strong class="img-none" style="display: none; "><img src="~/ashok-images/moneyretailerdesec.svg" /></strong><img class="hover-display-none" src="~/ashok-images/moneyretailerde.svg" /><span style="padding-left:0;">Cash<sup class="aadharpaysup" style="display: block; margin: 4px 0;font-size: 10px;position:static;">Deposit</sup></span></li>*@

            </ul>
            @*@if (ViewBag.chkcharge == "REQUIREDOTP" || ViewBag.chkcharge == "REQUIREDSCAN")
                    {
                <div id="tab-1234" class="tab-content current">
                    @Html.Partial("_EKYC")
                </div>
                    }
                    else
                    {*@
            <div id="tab-1" class="tab-content current">
                <div id="reload">
                    @if (ViewBag.chkcharge == "DONE")
                    {
                        @Html.Partial("_Money_PPI")
                    }
                    else
                    {
                        @Html.Partial("_Money_Transfer_Purchase")
                    }
                </div>
            </div>
            <div id="tab-2" class="tab-content tab-content2 col-md-12" style="padding: 25px 10px; position:initial;">
                @*<ul class="nav nav-tabs tab-seconddesign sign tab-third-design col-md-12" id="tabs" style="display: flex; padding: 0px;">
                    <li class="tab-link active hovof" data-tab="tab-1" style="width: 50%; border-right: 1px solid #fff; text-align: center; background: #c1c1c1;">
                            <a data-toggle="tab" onclick="aeps1();">
                            <i class="fa fa-check"></i>
                            Aeps&nbsp;1</a>
                    </li>
                        <li class="tab-link hovof" style="width:50%; text-align:center;background: #c1c1c1;"><a data-toggle="tab" onclick="checkRetailerOutlet()">Aeps&nbsp;2</a></li>
                    </ul>*@
                <div class="width100 float-left tab-pane fade in active" style="width: 100%; text-align: center; margin-top: 2%;">

                    @if (ViewBag.req == "REQUIREDOTP" || ViewBag.req == "REQUIREDSCAN")
                    {
                        @Html.Partial("_EKYC")
                    }
                    else if (ViewBag.req == "2FAREQUIRED")
                    {
                        @Html.Partial("_2FA")
                    }
                    else if (ViewBag.daily2fa_AEPS == false)
                    {
                        @Html.Partial("_2FA")
                    }
                    else
                    {
                        @Html.Partial("_Aeps")
                    }

                </div>
            </div>
            <div id="tab-3" class="tab-content tab-3 pancardpageheight-tab">
                @Html.Partial("_pancard")
            </div>
            <div id="tab-4" class="tab-content">
                @Html.Partial("_mpos")
            </div>
            <div id="tab-5" class="tab-content">
                @Html.Partial("_microATM")
            </div>
            <div id="tab-6" class="tab-content">
                @Html.Partial("_cashdeposit")
            </div>
            <div id="backtodashboardcall" data-request-url="@Url.Action("Dashboard", "Home")"></div>
            <input type="hidden" id="latss" required name="latss" />
            <input type="hidden" id="longloc" required name="longloc" />
        </div>
    </div>
    <!--Change-New-->
    <div class="col-md-8 money-transform-content money-transform-responshive oveflow-four-css">
        <div class="page-header-third">
            <div id="reportallinone">
                @Html.Partial("_RecentReport")
            </div>
        </div>
    </div>
</section>

@*<script src="~/Scripts/CheckValidation/valideatelocations.js"></script>*@

<script>
    function DMT() {

        var currentUrl = window.location.href;
        window.location.href = currentUrl.replace("/AEPS", "");
        //if (currentUrl.includes("AEPS")) {
        //    // Extract the base URL
        //    var baseUrl = currentUrl.split('/').slice(0, -1).join('/');
        //    // Reload the page if it matches the base URL
        //    if (currentUrl.indexOf(baseUrl) !== -1) {
        //        location.reload();
        //    }
        //}
        //else {
        //    location.reload();
        //}
    }
</script>
<script>
    $('ul.tabsmy li').click(function () {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabsmy li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    });
</script>
<script>
    $(document).ready(function () {
        $("button.driver-buttons ,.update-page2").click(function () {
            $("button.driver-buttons ,.update-page2").addClass("update-page3");

        });
    });
</script>

<script>
    $(".update-page1").click(function () {
        $(".update-page2").removeClass("update-page3");
    });
</script>
<script>
    $(".update-page1").click(function () {
        $('#digitaltokenvalue').val(0);
        $('#buttokenerror').text("");
        $(".update-page1").addClass("update-page5");
    });
</script>
<script>
    $(".update-page2").click(function () {
        $('#Physicaltokenvalue').val(0);
        $('#buttokenerror').text("");
        $(".update-page5").removeClass("update-page5");
    });
</script>
<script>
    $(document).ready(function () {
        $("button.driver-buttons ,.update-page2").click(function () {
            $(".update-page1").addClass("update-page4");

        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#impsbutton ,.addaccount-add-scan-img').click(function () {
            $('.impsbutton ,.impsstrong ,.scan-img').css('display', 'block')
            $('.upibutton').css('display', 'none')
            $('.neftbutton').css('display', 'none')
            $('.neftstrong ,.upistrong').css('display', 'none')

        });
        $('#neftbutton ,.driver-buttons').click(function () {
            $('.impsbutton').css('display', 'none')
            $('.neftbutton ,.neftstrong ,.container-fluid.driver-page').css('display', 'block')
            $('.upibutton').css('display', 'none')
            $('.impsstrong ,.upistrong').css('display', 'none')
        });
        $('#neftbutton').click(function () {
            $('.impsbutton').css('display', 'none')

        });

        $('.addaccount-add-scan-img ,.introbutton').click(function () {
            $('.scan-img ,#aeps_id1').css('display', 'block')
            $('.container-fluid.driver-page').css('display', 'none')

        });

        $('#cash-withdrawal').click(function () {
            $('.blance-block ,.scan-img').css('display', 'none')
            $('.with-click-block').css('display', 'block')
        });

        $('#upibutton ,#get-account-balance').click(function () {
            $('.neftbutton ,.with-click-block ,.scan-img ,.driver-page').css('display', 'none')
            $('.impsbutton').css('display', 'none')
            $('.upibutton ,.upistrong ,.blance-block').css('display', 'block')
            $('.impsstrong ,.neftstrong').css('display', 'none')
        });
        $('.click-change ,.back-main-page ,.update-page1 ,.update-page4').click(function () {
            $('.click-change-remove ,.container-fluid.driver-page ,.button-plush.button-plush-top.button-plush-top-right').css('display', 'none')
            $('.click-change-block ,.button-plush-top').css('display', 'block')
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.update-page1').click(function () {
            $('.custome-none-class1').css('display', 'block')
            $('#button-top-none').css('display', 'none')
        });
        $('.update-page2').click(function () {
            $('.custome-none-class1').css('display', 'none')
            $('.custome-none-class').css('display', 'block')
        });
    });
</script>
<script>

    var incrementPlus;
    var incrementMinus;

    var buttonPlus = $(".cart-qty-plus");
    var buttonMinus = $(".cart-qty-minus");

    var incrementPlus = buttonPlus.click(function () {
        var $n = $(this)
            .parent(".button-container")
            .parent(".container")
            .find(".qty");
        $n.val(Number($n.val()) + 1);
    });

    var incrementMinus = buttonMinus.click(function () {
        var $n = $(this)
            .parent(".button-container")
            .parent(".container")
            .find(".qty");
        var amount = Number($n.val());
        if (amount > 0) {
            $n.val(amount - 1);
        }
    });
</script>
<script>
    // Initialize select2
    $('select').select2();
</script>
<script>
    function RegisterAccount(senderno, account, ifsccode, originalifsccode, benname) {
        $('#errorsenderno').text('');
        if (senderno != "" && account != "" && ifsccode != "" && originalifsccode != "" && benname != "") {
            $.ajax({
                url: '@Url.Action("Register_ben")',
                data: { senderno, account, ifsccode, originalifsccode, benname },
                cache: false,
                type: "POST",
                success: function (data) {
                    var sts = data.statuscode;
                    var msg = data.status;
                    if (sts == "TXN") {
                        fetchDmtReport();
                    }
                    else {
                        $('#errorsenderno').text(msg);
                    }
                }
            });
        }
    }
    function fetchDmtReport(e) {
        //let el = document.getElementsByClassName('fa-refresh')[0]
        //el.style.animation = 'spin 2s linear infinite;'

         $.ajax({
            url: '@Url.Action("DMTreportnew")',
            cache: false,
            type: "GET",
            cache: false,
            dataType: "html",
            success: function (data) {
                $('#reportallinone').html(data);
            }
        })
    }

    function PayAgain(senderno, mode, accountno, amount) {
        $('#Firstpage').show();
        $('#remlist').hide();
        $('#dmttransfer').hide();
        $('#dmtconfirm').hide();

        $('#senderno').val(senderno);
        senderdetails('new', (err, ben_list) => {
            if (err) return $('#errorsenderno').text(err);

            var _mode = 'impsbutton';

            if (mode == 'UPI') {
                _mode = 'upibutton';
            }
            else if (mode == 'NEFT') {
                _mode = 'neftbutton';
            }
            else if (mode == 'WALLET') {
                _mode = 'paytmwalletbutton';
            }

            $('#' + _mode).prop('checked', true);

            if (mode == 'IMPS' || mode == 'NEFT') {
                var ben_obj = ben_list.find(s => s.account == accountno);

                if (!ben_obj || !ben_obj.id) {
                    return;
                }

                let id = ben_obj.id;

                setTimeout(() => {
                    var el = $(`tr#${id} a.addtabledata`)

                    el.click();

                    $('#amounttransfer').val(amount);
                }, 500);
            }
            else if (mode == 'UPI') {
                upibenlist(senderno, (err, list) => {
                    if (err) return;
                    list = JSON.parse(list);

                    let upi_obj = list.find(s => s.UPIID == accountno);
                    if (!upi_obj) return;

                    setTimeout(() => {
                        let el = $(`tr#${upi_obj.idno} a.addtabledata`);
                        el.click();
                        $('#amounttransfer').val(amount);
                    }, 500);

                });
            }
            //else if (mode == 'WALLET') {
            //    paytmwalletbenlist(senderno, (err, list) => {
            //        if (err) return;
            //        list = JSON.parse(list);

            //        let upi_obj = list.find(s => s.UPIID == accountno);
            //        if (!upi_obj) return;

            //        setTimeout(() => {
            //            let el = $(`tr#${upi_obj.idno} a.addtabledata`);
            //            el.click();
            //            $('#amounttransfer').val(amount);
            //        }, 500);

            //    });
            //}


        });
    }

    var loading = false;

    function Dmt_status_check() {
        if (loading == true) return;

        loading = true;
        $.ajax({
            url: '@Url.Action("Dmt_status_check")',
            type: "GET",
            cache: false,
            success: function (data) {
                loading = false;
                fetchDmtReport();
            }
        })
    }

</script>

<script>
    var otpReferenceID = '';
    var hash = '';

    $('#createBtn').click(() => {
        otpReferenceID = '';
        hash = '';

        $.ajax({
            url: '@Url.Action("sendOtpForOutlet", "Home")',
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
                $('#otp-box').hide();
            },
            success: function (data) {
                $(".loader").hide();
                console.clear();

                if (data.status) {
                    $('#createBtn').hide();
                    $('#otp-input').val('');
                    $('#otp-box').show();

                    otpReferenceID = encodeURIComponent(data.otpReferenceID);
                    hash = encodeURIComponent(data.hash);
                }
                else {
                    $('#otp-box').hide();
                    alert(data.message);
                    $('#createBtn').show();
                    $('#gotoscan').hide();
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    })

    function checkRetailerOutlet() {
        $.ajax({
            url: '@Url.Action("checkRetailerOutlet", "Home")',
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();

                if (data.status) {
                    $('#createBtn').hide();
                    $('#aeps2_outlet_box').hide();
                    $('#gotoscan').show();
                }
                else {
                    $('#createBtn').show();
                    $('#aeps2_outlet_box').show();
                    $('#gotoscan').hide();
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    }

    var submit_btn_loading = false;
    $('#aeps2_otp_submit').click(() => {
        if (submit_btn_loading) return;

        let otp = $('#otp-input').val();
        if (!otp) return;

        $('#otperror').text('');
        submit_btn_loading = true;

        $.ajax({
            url: '@Url.Action("Aeps2VerifyOtp", "Home")?otp=' + otp + '&otpReferenceID=' + otpReferenceID + '&hash=' + hash,
            cache: false,
            type: "GET",
            beforeSend: function () {
                $(".loader").show();
                $('#createBtn').hide();
            },
            success: function (data) {
                $(".loader").hide();
                submit_btn_loading = false;

                if (data.status) {
                    $('#otp-box').hide();
                    $('#otp-input').val('');
                    $('#gotoscan').show();

                    otpReferenceID = '';
                    hash = '';
                }
                else {
                    alert(data.message);
                }
            },
            error: function (data) {
                //scanfing();
                $(".loader").hide();
            }
        })
    })

    function aeps1() {
        $('#aeps2_outlet_box').hide();
        $('#otp-box').hide();
        $('#gotoscan').show();
    }

</script>
<script>
    $(document).ready(function () {
        var url = window.location.href;
        if (url.includes("AEPS")) {
            $("#tabaeps").click();
        }
    });
</script>
<script>
    BACK = () => {
        var url = window.location.href;
        if (url.includes("AEPS")) {
            $("#tabaeps").click();
            location.reload();
        }
    }
</script>
<script>
    Aadhar = () => {

    }
</script>