
@{
    ViewBag.Title = "MPOS";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card navbar" style="position:initial; margin-top:-4px;">

                <div class="body" >

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10" style="margin-bottom:0px;">
                            <center>
                                <ul id="leftulbar" class="nav nav-tabs tab-col-orange" role="tablist" style="background:#607D8B;border-bottom:none;
-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:4px; border-radius:2px;">

                                    <li id="finanical" role="presentation" class="" style="padding-left:55px;">
                                        <a href="@Url.Action("Money_transfer1","Home")" aria-expanded="true">
                                            <img src="~/images/transfer-money.png" style="height:45px;margin-top:-5px" />
                                            <br />
                                            <span style="padding-left:5px;">Money&nbsp;Transfer</span>
                                        </a>
                                    </li>

                                    @if (ViewBag.psncardsts == "Y")
                                    {
                                        <li id="finanical1" role="presentation" class="" style="padding-left:52px;">
                                            <a href="@Url.Action("Index","PANCARD")" aria-expanded="true">
                                                <img src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" />
                                                <br />Pancard
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li id="finanical2" role="presentation" style="padding-left:52px;">
                                            <a href="#" @*href="@Url.Action("PANCARD","Home")"*@ aria-expanded="true"><img src="~/images/pancardicon.png" style="height:45px; margin-top:-5px;" onclick="offpancardsts()"/><br />Pancard</a>
                                        </li>
                                    }
                                    @if (ViewBag.aepsandmpos == "Y")
                                    {
                                    <li id="aeps" role="presentation" class="" style="padding-left:70px;box-shadow:none;">
                                        <a href="@Url.Action("AEPS", "Home")" aria-expanded="true">
                                            <img src="~/images/aespicon.png" style="height:45px;margin-top:-5px;" />
                                            <br /><span style="margin-left:14px;">AEPS</span>
                                        </a>
                                    </li>
                                    }
                                    else
                                    {
                                        <li id="aeps1" role="presentation" class="" style="padding-left:70px;box-shadow:none;">
                                            <a href="#" aria-expanded="true" onclick="offaepssts()">
                                                <img src="~/images/aespicon.png" style="height:45px;margin-top:-5px;" />
                                                <br /><span style="margin-left:14px;">AEPS</span>
                                            </a>
                                        </li>
                                    }
                                   
                                     <li id="mpos" role="presentation" class="active" style="padding-left:94px;box-shadow:none;padding-bottom:2px;margin-top:-7px;">
                                        <a href="@Url.Action("MPOS", "Home")" aria-expanded="true">
                                            <img src="~/images/mposicon.png" style="height:45px;margin-top:-5px;" />
                                            <br />
                                            <span style="margin-left:-8px;">M-POS</span>
                                        </a>
                                    </li>
                                  
                                    <li id="Fees" role="presentation" class="" style="padding-left:62px;">
                                        <a href="@Url.Action("SchoolFees","Home")"  aria-expanded="true">
                                            <img src="~/images/school.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:0px;">School&nbsp;Fee</span>
                                        </a>
                                    </li>
                                    <li id="Indonepal" role="presentation" class="" style="padding-left:69px;">
                                        <a href="#indonepal" data-toggle="tab" aria-expanded="false">
                                            <img src="~/images/phone.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">INDO&nbsp;NEPAL</span>
                                        </a>
                                    </li>
                                </ul>
                            </center>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="padding:10px; padding-left:21px;">
                    <h2>
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-size:21px;"></span>MOBILE&nbsp;POS&nbsp;SYSTEM(m-PoS)
                            </div>
                            <div class="col-md-6">

                                @*<a href='@Url.Action("Dashboard","Home")' class="btn bg-indigo  waves-effect" style=" margin-left:5px; float:right;">
                                        <i class="material-icons" style="top:3px;">arrow_back</i>
                                        <span style="top:-4px;">Back To Dashborad</span>
                                    </a>*@
                            </div>
                        </div>

                    </h2>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card" style="margin-top:-20px;">
                <div class="body">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:void(0);" @*class="thumbnail"*@>
                                <img src="~/images/mpos.png" class="img-responsive" />
                            </a>
                            <br />
                        </div>
                        <div class="col-md-8">
                            <p style="font-family:'Times New Roman', Times, serif; font-size:25px; margin-top:-8px;color:red;">
                            <i class="fa fa-info-circle"></i>&nbsp;MOBILE POS SYSTEM(m-PoS)</p>
                            <p style="font-family:'Times New Roman', Times, serif; font-size:18px;">
                                An mPOS ( mobile point of sale) is a smartphone, tablet or dedicated wireless device that performs the 
                            functions of a cash register or electronic point of sale terminal (POSint-of-sale terminal). </p>
                        </div>
                        <div class="row" style="margin-top:-18px;">
                            <div class="col-md-5">
                                <button type="button" id="btnGetCredentials" class="btn bg-pink waves-effect" onclick="" style="margin-left:2px;">
                                    <span style="font-size:17px;">M-POS working only android application .</span>
                                </button>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>

        </div>


    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!--Pancard status ON and Off-->
<script>
    function offpancardsts()
    {
        swal("Oops!..", "Your Pancard Status is Off. Please Contact Admin", "error");
        return false;
    }
</script>
<!--Aeps status ON and Off-->
<script>
    function offaepssts()
    {
        swal("Oops!..", "Your AEPS Status is Off. Please Contact Admin", "error");
        return false;
    }
</script>

