@model List<Vastwebmulti.Areas.RETAILER.Models.PAN_CARD_Info>
@{
    ViewBag.Title = "PAN_CARD";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .light_blue {
        color: #4A4AFF;
        font-size: 20px;
    }

    .green {
        color: #090;
    }

    .red {
        color: #F00;
    }

    .label-text {
        color: #35556A;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btnTransparent {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    table.dispDetails {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.dispDetails td {
            border: 1px solid #000000;
            padding: 5px;
        }

    .text-view {
        text-transform: uppercase;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="padding:10px; padding-left:21px;">
                    <h2>
                        <span style="font-size:21px;"></span> Offline Pancard

                        <a href='@Url.Action("ADD_PAN_CARD","Home")' class="btn bg-indigo  waves-effect" style="margin-top:-8px; margin-left:5px; float:right;">
                            <i class="material-icons" style="top:3px;">add</i>
                            <span style="top:-4px;">Add New</span>
                        </a>
                     
                    </h2>
                    
                </div>
            </div>
        </div>
       
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
@using (Html.BeginForm("PAN_CARD", "Home", FormMethod.Post))
{
                <div class="card" style="margin-top:-20px;">
                    <div class="">
                        <div class="col-md-2">
                            <div class="form-group">
                                <a href="~/RETAILER/Home/Dashboard" class="btn bg-indigo  waves-effect" style="margin-top:3px; margin-left:5px;">
                                    <i class="material-icons" style="top:3px;">arrow_back</i>
                                    <span style="top:-4px;">Back To Dashborad</span>
                                </a>
                            </div>
                        </div>
                       
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-line" style="padding-top:5px;">
                                   <select id="ddl_type" name="ddl_type" class="selectpicker form-control" data-live-search="true">
                                       <option value="All">All</option>
                                       <option value="Approved">Approved</option>
                                       <option value="Pending">Pending</option>
                                       <option value="Rejected">Rejected</option>
                                       <option value="PHY Submit">PHY Submit</option>
                                       <option value="Document Pending">Document Pending</option>
                                       <option value="Document Complete">Document Complete</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="form-line" style="padding-top:5px;">
                                    <select id="ddlTop" name="ddlTop" class="selectpicker form-control" data-live-search="true">
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                       </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-line" style="padding-top:5px;">
                                    <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-line" style="padding-top:5px;">
                                    <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="padding-left:0px;padding-right:0px;text-align:center;background-color:#93cdff30;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <button type="submit" class="btn bg-indigo  waves-effect" style="margin-top:3px; margin-left:1px;">
                                    <i class="material-icons" style="top:3px;">search</i>
                                    <span style="top:-4px;">Search</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="btn-group" role="group">
                                   <div class="btn-group" role="group">
                                        <button type="button" class="btn bg-indigo  waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:3px; margin-left:1px;">
                                      <i class="material-icons" style="top:3px;">file_download</i>
                                           <span style="top:-4px;"> Download&nbsp;PanCard&nbsp;Forms</span>
                                         </button>
                                        <ul class="dropdown-menu">
                                       <li>
                                     <a href="#" onClick="openTab(this)" class="waves-effect waves-block" name="~/downloadform/Form_49A.pdf">PAN Card Form For New</a>
                                    </li>
                                   <li>
                                       <a href="#" onClick="openTab(this)" class="waves-effect waves-block" name="~/downloadform/PAN_CR_Form.pdf">PAN Card Form For Change</a>      
                                  </li>
                                 <li>
                                 <a href="#" onClick="openTab(this)" class="waves-effect waves-block" name="~/downloadform/FIRM.pdf">SAMPLE FIRM</a>
                                  </li>
                                    <li>
                                        <a href="#" onClick="openTab(this)"  class="waves-effect waves-block" name="~/downloadform/INDIVIDUAL(Change).pdf">SAMPLE INDIVIDUAL(Change)</a>
                                    </li>
                                    <li>
                               <a href="#" onClick="openTab(this)"  class="waves-effect waves-block"  name="~/downloadform/INDIVIDUAL(New).pdf">SAMPLE INDIVIDUAL(New)</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="openTab(this)"  class="waves-effect waves-block" name="~/downloadform/MINOR(New).pdf">SAMPLE MINOR(New)</a>
                                    </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
}
                <div class="card">
                    <div class="body" style="margin-top:-20px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered table-striped   ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Form&nbsp;Number</th>
                                        <th>Name</th>
                                        <th>Info</th>
                                        <th>User&nbsp;info </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>

                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Idno)<br>
                                                @if (item.IsDocUploaded != null && item.IsDocUploaded == true)
                                                {<span title="Complete">
                                                    <img src="~/images/rightMark.gif" />
                                                </span>
                                                }
                                                <br>
                                                 @if (item.IsDocAccepted != null && item.IsDocAccepted == true)
                                                {
                                                    <div style="font-size:10px; color:forestgreen;"><strong>D C</strong></div>
                                                }

                                                @if (item.IsPhysical == true)
                                                {
                                                    <div style="font-size:10px; color:forestgreen"><strong>PHY SUBMIT</strong></div>
                                                }
                                                @if (item.IsDocUploaded == null || item.IsDocUploaded == false)
                                                {
                                                    <div style="font-size:10px; color:#F30;"><strong>Document Panding</strong></div>
                                                }

                                            </td>
                                            <td align="center">
                                                <span style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.Name) </span>
                                                <br />
                                                <span style="text-transform:uppercase">@item.FName</span>
                                                <br />
                                                <span style="text-transform:uppercase">@item.Mobile</span>
                                            </td>
                                            <td align="center">
                                                @if (item.Acknoledge != null)
                                                {
                                                    <a href="@Url.Action("ADD_PAN_CARD_FINAL", "Home",new { idno =item.Idno })">
                                                        @Html.DisplayFor(modelItem => item.Acknoledge)
                                                    </a>

                                                }
                                                @item.Date
                                                <span style="text-transform:uppercase">
                                                    @item.District,
                                                </span><br />
                                                <span style="text-transform:uppercase"> @item.State</span>
                                            </td>
                                            <td align="center">@Html.DisplayFor(modelItem => item.Retailer)</td>

                                            <td align="center">
                                                <div class="light_blue" title="New">
                                                    <strong>@Html.DisplayFor(modelItem => item.Status)</strong>
                                                </div>

                                                @if (item.IsApproved == "PENDING")
                                                {
                                                    <div class="red" title="ACKNOWLEDGEMENT NO. NOT APPROVED">Pending</div>
                                                }
                                                else
                                                {
                                                    <div class="green" title="ACKNOWLEDGEMENT NO. APPROVED">@item.IsApproved</div>
                                                }
                                            </td>

                                            <td align="left" valign="top">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <div style="display:inline-block;">
                                         @using (Html.BeginForm("View_PANCARD", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @style = "float:left; margin-bottom:0px;", @target = "_blank" }))
                                                            {
                                                                <input name="idno" id="idno" type="hidden" value="@item.Idno">
                                                                <button  type="submit" class="btnTransparent" title="View" style="margin-top:-3px;">
                                                                    <i class="fa fa-eye fa-2x"></i>
                                                                </button>
                                                            }
                                                        </div>
                                                    </div>
                                                    @if (item.IsApproved == "PENDING")
                                                    {
                                                        <div class="col-md-2">
                                                            <div>
                                                                <a href="@Url.Action("Edit_PAN_CARD","Home",new { idno = item.Idno})">
                                                                    <span>
                                                                        <i class="fa fa-pencil-square-o fa-2x" style="color:cornflowerblue;" title="Click to Edit/Update"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (item.Acknoledge != null)
                                                    {
                                                        <div class="col-md-2">
                                                            <div>
                                                                <a href="@Url.Action("PAN_SlipDownload","Home",new { ackno = item.Acknoledge})" download="" style="color:#FFF;"><i class="fa fa-cloud-download fa-2x" title="Download Slip" style="color:Highlight;"></i></a>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (item.IsDocUploaded == true)
                                                    {
                                                        <div class="col-md-2">
                                                            <div>
                                                                @using (Html.BeginForm("DocumentViewer", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @style = "float:left; margin-bottom:0px;", @target = "_blank" }))
                                                                {
                                                                    <input name="Idno" id="IdnoDocViewer" type="hidden" value="@item.Idno">
                                                                    <input name="ak_number" type="hidden" value="@item.Acknoledge">
                                                                    <button name="" type="submit" class="btnTransparent" title="Document View">
                                                                        <i class="fa fa-file-pdf-o fa-2x" style="color:red;"></i>
                                                                    </button>
                                                                }
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
      

    </div>

</section>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    window.onload = function () {
        $('#date').bootstrapMaterialDatePicker
       ({
           clearButton: false
       });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }

        $('[data-toggle="tooltip"]').tooltip();

        /*pancard swal alert message*/

        if ('@TempData["Response"]' != null && '@TempData["Response"]' != '') {
            var varTitle = $('<textarea />').html('@TempData["Response"]').text();
            var als = JSON.parse(varTitle);
            if (als.Status == true) {
                swal("Good job!", als.Message, "success");
            }
            else {
                swal("Oops!", als.Message, "error");
            }
        }

     
    }

</script>

<script type="text/javascript">
            function openTab(th)
            {
              window.open(th.name,'_blank');
            }
</script>


