@model IEnumerable<Vastwebmulti.Models.history_norton_Result>
@{
    ViewBag.Title = "PDF_SecurityReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Retailer_Day_Book_Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Status&nbsp;</th>
                <th>Plan&nbsp;Name</th>
                <th>Customer Mobile</th>
                <th>Customer Email</th>
                <th>Pre&nbsp;₹</th>
                <th>Amount</th>
                <th>Cr/Dr&nbsp;₹</th>
                <th>Post&nbsp;₹</th>
                <th>Request&nbsp;Time</th>
                <th>Operator&nbsp;Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                decimal final = Convert.ToDecimal(item.amount) - Convert.ToDecimal(item.total_rem_pay);
                <tr>
                    <td>@item.Status </td>
                    <td>@item.plan_nm</td>
                    <td>@item.customermobile</td>
                    <td>@item.customeremail</td>
                    <td>@item.rempre </td>
                    <td>@item.amount</td>
                    <td>@final</td>
                    <td>@item.rempost </td>
                    <td>@item.transfer_time</td>
                    <td>@item.OPerator_id</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>