@model List<Vastwebmulti.Models.microatm_report_Result>
@{
    ViewBag.Title = "PDF_MIcroAtmReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_MIcroAtmReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr style="color: black;">
                <th>S.No.</th>
                <th>Status</th>
                <th>Firm Name</th>

                <th>Amount</th>
                <th>Time</th>
                <th>BankRRN&nbsp;No</th>
                <th>Tran&nbsp;Type</th>
                <th>Card&nbsp;Type</th>
                <th>Pan&nbsp;Card</th>
                <th>Remain&nbsp;Pre</th>
                <th>Comm</th>
                <th>GST</th>
                <th>TDS</th>
                <th>Remain&nbsp;Post</th>

            </tr>
        </thead>
            @if (Model != null && Model.Count() > 0)
            {
                int sno = 0;
                foreach (var item in Model)
                {
                    sno += 1;
                    <tr>
                        <td>@sno</td>
                        <td>@item.status</td>
                        <td>@item.Frm_Name</td>

                        <td>@item.amount</td>
                        <td>@item.transtime</td>
                        <td>@item.rrn</td>
                        <td>@item.transaction_type</td>
                        <td>@item.card_payment_type</td>
                        <td>@item.masked_pan</td>
                        <td>@item.retailer_remain_pre</td>
                        <td>@item.Retailer_comm</td>
                        <td>@item.Retailer_gst</td>
                        <td>@item.Retailer_tds</td>
                        <td>@item.retailer_remain_post</td>
         
                    </tr>
                }
             }
       
        </table>
    </body>
</html>