@model IEnumerable<Vastwebmulti.Models.report_cash_deposit_Result>
@{
    ViewBag.Title = "PDF_CashDepositReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_CashDepositReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr style="color: black;">
                <th>S.No.</th>
                <th>Status</th>
                <th>Firm Name</th>

                <th>Amount</th>
                <th>Time</th>
                <th>BankRRN&nbsp;No</th>
                <th>Ben&nbsp;Name</th>
                <th>Bank&nbsp;Name</th>
                <th>Remain&nbsp;Pre</th>
                <th>Comm</th>
                <th>GST</th>
                <th>TDS</th>
                <th>Remain&nbsp;Post</th>

            </tr>
        </thead>
        @if (Model != null && Model.Count() > 0)
        {
            int sno = 0;
            foreach (var item in Model)
            {
                sno += 1;
                var img = "";
                var color = "";
                var pandingback = "";
                <tr style="background:@pandingback;">

                    <td>@sno</td>
                    <td>@item.status</td>
                    <td>@item.Frm_Name</td>

                    <td>@item.amount</td>
                    <td>@item.req_date</td>
                    <td>@item.bankrrn</td>
                    <td>@item.benname</td>
                    <td>@item.bankname</td>
                    <td>@item.Rem_pre</td>
                    <td>@item.rem_comm</td>
                    <td>@item.rem_gst</td>
                    <td>@item.rem_tds</td>
                    <td>@item.rem_post</td>

                </tr>

            }
        }
    </table>
</body>
</html>
               
