@model Vastwebmulti.Areas.RETAILER.Models.Daybookretailerrreport
@{
    ViewBag.Title = "PDF_Retailer_Day_Book_Report";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Retailer_Day_Book_Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover" style="width:100%;font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Firm&nbsp;Name</th>
                <th>Recharge&nbsp;&&nbsp;Bill</th>
                <th>IMPS</th>
                <th>AEPS</th>
                <th>M&nbsp;-&nbsp;POS</th>
                <th>Pancard</th>
                <th>Travel</th>
                <th>Purchase</th>
                <th>Opening&nbsp;Bal</th>
                <th>Closing&nbsp;Bal</th>
                <th>Old&nbsp;Day&nbsp;Refund</th>
                <th>Old&nbsp;Day&nbsp;Failed</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Daybooklive != null)
            {
                foreach (var item in Model.Daybooklive)
                {
                    <tr>
                        <td>
                            @if (item.Frm_Name == null)
                            {
                                @item.RetailerName
                            }
                            else
                            {
                                @item.Frm_Name
                            }
                        </td>
                        <td>@item.RCH</td>
                        <td>@item.IMPS</td>
                        <td>@item.AEPS</td>
                        <td>0.00</td>
                        <td>@item.PAN</td>
                        <td>0.00</td>
                        <td>@item.PURCHASE</td>
                        <td>@item.openbal</td>
                        <td>@item.closebal</td>
                        <td>@item.OLDDAYREFUND</td>
                        <td>@item.OLDDAYFAILED</td>
                        <td>@item.DIFF</td>
                    </tr>
                }
            }
            else
            {
                foreach (var item in Model.DayboolOLD)
                {
                    <tr>
                        <td>
                            @if (item.RetailerName == null)
                            {
                                @item.RetailerName
                            }
                            else
                            {
                                @item.Frm_Name
                            }
                        </td>
                        <td>@item.RCH</td>
                        <td>@item.IMPS</td>
                        <td>@item.AEPS</td>
                        <td>0.00</td>
                        <td>@item.PAN</td>
                        <td>0.00</td>
                        <td>@item.PURCHASE</td>
                        <td>@item.openbal</td>
                        <td>@item.closebal</td>
                        <td>@item.OLDDAYREFUND</td>
                        <td>@item.OLDDAYFAILED</td>
                        <td>@item.DIFF</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>

