@model IEnumerable<Vastwebmulti.Models.Mpos_Report_New_paging_Result>
@{
    ViewBag.Title = "PDF_M_PossReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_M_PossReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>

    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <td>S. No.</td>
                <th style="">Status</th>
                <th>M-Poss&nbsp;Id</th>

                <th style="display:none;">Message</th>
                <th style="display:none;">TransType</th>
                <th style="display:none;">Amount</th>
                <th style="display:none;">Status</th>
                <th style="display:none;">MerchantID</th>
                <th style="display:none;">BankmerchantID</th>
                <th style="display:none;">BankterminalID</th>

                <th class="cardbrandclass"><span>Brand</span></th>
                <th>Card&nbsp;Type</th>
                <th>Card&nbsp;Number</th>
                <th>Card&nbsp;Holder&nbsp;Name</th>



                <th style="display:none;">Card&nbsp;Type</th>

                <th style="display:none;">Date</th>
                <th style="display:none;">Invoice&nbsp;No</th>

                <th>Payment&nbsp;Id</th>
                <th>User&nbsp;Fee</th>
                <th>Earn</th>

                <th style="display:none">Merchant&nbsp;Address</th>

                <th>Pre&nbsp;₹</th>
                <th>Cr&nbsp;/&nbsp;Dr</th>

                <th>Post&nbsp;₹</th>
                <th style="display:none;">Retailer&nbsp;Comm</th>

                <th style="display:none;">Retailer&nbsp;GST</th>

                <th style="display:none;">Retailer&nbsp;Income</th>
            </tr>
        </thead>
        @if (Model != null && Model.Count() > 0)
        {
            int sno = 0;
            foreach (var item in Model)
            {
                sno += 1;
                <tr>
                    <td>@sno</td>
                    <td>@item.status</td>
                    <td>@item.mPOSid</td>
                    <td style="display:none;">@item.Message</td>
                    <td style="display:none;">@item.transType</td>
                    <td style="display:none;">@item.amount</td>

                    <td style="display:none;">@item.merchatID</td>
                    <td style="display:none;">@item.bankmerchantID</td>
                    <td style="display:none;">@item.bankterminalID</td>

                    <td>@item.cardbrand</td>
                    <td>@item.cardtype</td>

                    <td>


                        @try
                        {
                            var resultID = "***********" + System.Text.RegularExpressions.Regex.Match(item.cardnumber, @"(.{6})\s*$");
                            <p>@resultID</p>
                        }
                        catch
                        {
                            <p>@item.cardnumber</p>
                        }

                    </td>
                    <td>@item.cardholdername</td>

                    <td style="display:none;">@item.cardtype</td>

                    <td style="display:none;">@item.date</td>
                    <td style="display:none;">@item.invoiceno</td>

                    <td>
                        @try
                        {
                            var resultID = "*******" + System.Text.RegularExpressions.Regex.Match(item.paymentid, @"(.{6})\s*$");
                            <p>@resultID</p>
                        }
                        catch
                        {
                            <p>@item.paymentid</p>
                        }

                    </td>
                    <td>User&nbsp;Fee</td>
                    <td>Earn</td>

                    <td style="display:none">@item.merchantnameaddress</td>

                    <td>@item.RetailerPre</td>
                    <td>Cr&nbsp;/&nbsp;Dr</td>
                    <td>@item.RetailerPost</td>

                    <td style="display:none;">@item.Rem_comm</td>
                    <td style="display:none;">@item.remgst</td>
                    <td style="display:none;">@item.remincome</td>
                </tr>
            }
        }
    </table>
</body>
</html>
