@model IEnumerable<Vastwebmulti.Models.Gift_card_details_report_Result>
@{
    ViewBag.Title = "PDF_Giftcard_Report";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Giftcard_Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover" style="width:100%;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Status&nbsp;</th>
                <th>Receiver</th>
                <th style="width:8%;">User&nbsp;Email</th>
                <th>User&nbsp;No</th>
                <th>Amount</th>
                <th style="width:6%;"><span style="">Pre&nbsp;₹</span></th>
                <th>Dr/Cr&nbsp;₹</th>
                <th><span style="">Post&nbsp;₹</span></th>
                <th>Request&nbsp;Time</th>
                <th>Operator&nbsp;Id</th>
                <th style="width:6%;">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.status</td>
                        @*<td style="width:9%;" class="successimggift">
                            <img src="../../ashok-images/correct.svg" />Card&nbsp;Name
                            </td>*@
                        <td>@item.reciver_name</td>
                        <td style="width:9%;">@item.reciver_email</td>
                        <td>@item.reciver_mobile</td>

                        <td>@item.amount</td>
                        <td style="width:6%;">@item.rem_pre_remain ₹</td>
                        <td>@item.amount ₹</td>
                        <td>@item.rem_post_remain ₹</td>
                        @*<td>Earn</td>*@
                        <td>@item.request_time</td>
                        <td>@item.operator_id</td>
                        <td style="width:6%;">
                            <button><i class="material-icons">print</i></button>
                            <img src="../../ashok-images/rightaeps.svg" data-toggle="modal" data-target="#giftcardmodalid" class="last-afteraeps" style="width: 10px;float: left;margin-left: 5px;margin-top: 7px;cursor: pointer;" />
                        </td>
                    </tr>
                }
            }
    </table>
</body>
</html>
