@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "PDF_WebLoginFailed";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_WebLoginFailed</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table id="" class="table table-bordered table-striped table-hover third-design-table fourdesign-data-table" style="width:100%;">
        <thead style="background-color:whitesmoke;">
            <tr>
                @*<th>Sr.&nbsp;No.</th>*@
                <th>Login&nbsp;Status</th>
                <th>Login&nbsp;ID</th>
                @*<th>Password</th>
                    <th>IP&nbsp;Address</th>
                    <th>Browser</th>*@
                <th>Device&nbsp;Details</th>
                <th>IMEI&nbsp;No</th>
                <th>Location</th>
                <th>Login&nbsp;Time</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    @*<td>@i</td>*@
                    <td class="activeinactive">
                        <p class="" style="font-size:15px;"><span class="activeopertor">Success</span></p>

                        <p class="" style="display:none;font-size:15px;"><span class="inactiveopertor">Failed</span></p>
                    </td>
                    <td>@item.EmailId</td>
                    @*<td>@item.pwd</td>
                        <td>@item.IP_Address</td>
                        <td>@item.browser</td>*@
                    <td style="font-weight:bold;">Device&nbsp;Details</td>
                    <td style="font-weight:bold;">IMEI&nbsp;No</td>
                    <td style="font-weight:bold;">Location</td>
                    <td>@item.LoginTime</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    </body>
</html>
