@model IEnumerable<Vastwebmulti.Models.Sp_ledgerreport_Result>
@{
    ViewBag.Title = "PDF_RetailerLedger";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_RetailerLedger</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
<table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
    <thead style="background-color:whitesmoke;">
        <tr>
            @* <th>Sr.No</th>*@
            @*<th>Request&nbsp;Id</th>*@
            <th>Particular</th>
            <th>₹&nbsp;Amount</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
            <th>Date</th>
        </tr>
    </thead>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            @*  <td>@i</td>*@
            @*<td>@Html.DisplayFor(modelItem => item.RequestId)</td>*@
            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@Html.DisplayFor(modelItem => item.Credit)</td>
            <td>@Html.DisplayFor(modelItem => item.Debit)</td>
            <td>@Html.DisplayFor(modelItem => item.UserRemainAmount)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
        </tr>
        i++;
    }
</table>
</body>
</html>