@model Vastwebmulti.Areas.RETAILER.Models.modelviewwalletunload
@{
    ViewBag.Title = "pdfposUnloadReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pdfWalletUnloadReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>

    <table class="table table-bordered table-striped">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Details</th>
                <th>Remain&nbsp;Pre</th>
                <th>Cr</th>
                <th>Dr</th>
                <th>Amount</th>
                <th>Comm</th>
                <th>Gst</th>
                <th>Tds</th>
                <th>Remain&nbsp;Post</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posledger)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>

                    <td>@Html.DisplayFor(modelItem => item.remainpre)</td>
                    <td>@Html.DisplayFor(modelItem => item.cr)</td>
                    <td>@Html.DisplayFor(modelItem => item.dr)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.comm)</td>
                    <td>@Html.DisplayFor(modelItem => item.gst)</td>
                    <td>@Html.DisplayFor(modelItem => item.tds)</td>
                    <td>@Html.DisplayFor(modelItem => item.remainpost)</td>
                    <td>@Html.DisplayFor(modelItem => item.ledgerdate)</td>
                </tr>

            }
            @if (Model.Posledger.Count() == 0)
            {
                <tr>
                    <td colspan="10"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>

                </tr>
            }

        </tbody>




    </table>
</body>
</html>

