@model Vastwebmulti.Areas.RETAILER.Models.modelviewwalletunload
@{
    ViewBag.Title = "pdfWalletUnloadReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pdfWalletUnloadReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>

    <table class="table table-bordered table-striped">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Status</th>
                <th>Account&nbsp;No</th>
                <th>Type</th>
                <th>Pre&nbsp;Bal</th>
                <th>Amount</th>
                <th>Charge</th>
                <th>Post</th>
                <th>RRN</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {         
               <tr>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.BankAccount)</td>

                    <td>@Html.DisplayFor(modelItem => item.TransferType)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProcessingCharge)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                    <td>@Html.DisplayFor(modelItem => item.BankRRN)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                </tr>

            }
            @if (Model.Requests.Count() == 0)
            {
                <tr>
                    <td colspan="9"><h2 style="text-align:center;color:#555;">Data Not Found</h2></td>

                </tr>
            }

        </tbody>
    </table>
</body>
</html>