@model IEnumerable<Vastwebmulti.Models.pos_ledger_report_Result>
@{
    ViewBag.Title = "PosLedger";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .input-daterange.input-group {
        width: 40%;
    }

    .table {
        margin-bottom: 0px;
    }

    .retailerledger-container .col-md-4.dispute-date {
        display: flex;
        align-items: center;
    }

    .col-md-2.despute-search {
        width: 18%;
        padding-left: 4px;
    }

    .dropdown-menu {
        margin-top: 144px !important;
    }
    .container-fluid.retailerledger-container {
        padding-left: 10px;
    }

    /* new css  */

    .dropdown-menu {
        margin-top: 97px !important;
    }

    .form-iconmy.form-iconmyss {
        z-index: 9;
    }

    @@media only screen and (max-width:1169px){
        .container-fluid.retailerledger-container {
            padding-left: 15px;
        }

    }


    @@media screen and (max-width:767px) {
        .cardaddclass-res .bread-same-all-page {
            width: 100% !important;
            padding-top: 0px !important;
        }
        .input-daterange.input-group {
            width: 60%;
        }
        .table-responsive.table-responsive-responshive.tablethirddesign-new table {
            border: 1px solid var(--border-color);
        }
    }

    @@media only screen and (max-width:600px){

        .input-daterange.input-group {
            width: 80%;
        }

    }
    @@media only screen and (max-width:480px){

        .input-daterange.input-group {
            width: 74%;
        }
        .retailerledger-container .col-md-4.dispute-date {
            width: 100%;
            padding-bottom: 4px !important;
        }
        .col-md-2.despute-search {
            width: 26%;
        }

    }
    @@media only screen and (max-width:400px){

        .datesate.datesates #txt_frm_date {
            padding-right: 8px !important;
            text-align: end !important;
        }
        .datesate.datesatese #txt_to_date {
            padding-right: 8px !important;
            text-align: end !important;
        }

    }

</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid retailerledger-container" style="height:100vh;">

        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Microatm Rental Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 1&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">POS Ledger Reportt</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="page-header-third">
                    <div class="bread-same-all-page" style="width:auto;float:left;">
                        <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                            <ul style="margin:0;">
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>
                                <li class="smli">
                                    <a href="@Url.Action("RetailerLedger", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Back&nbsp;To&nbsp;Main&nbsp;Ledger&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>
                                <li class="fullbodydycolorbg tmw-total-color-one">
                                    POS Ledger Report
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        <div class="row clearfix clearfix-ledger">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="page-header-third">
                    <div class="card cardretailerlager legar-responshivewidth cardaddclass-res class-back-tra-fourdesign fix-bootmmarg-fourdesign" style="float: left; width: 100%;">

                        @using (Html.BeginForm("PosLedger", "Home", FormMethod.Post))
                        {
                            <div class="col-md-4 dispute-date dispute-datelager datelager-class" style="float:left;position: relative;padding:0;">
                                <div class="input-daterange input-group">
                                    <div class="datesate datesates">
                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <span class="input-group-addon" style="display:none;">
                                        <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                    </span>
                                    <div class="datesate datesatese">
                                        <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-2 despute-search">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left:-74px; height:36px;">
                                            <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                            <span style="top:0px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                            <div class="dispute-right dispute-new">
                                <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second" style="text-align:right;">

                                    <button style="color:#555;" id="btnPDF">PDF</button>
                                    <button style="color:#555;" id="btnExport">Export</button>

                                </div>
                                

                            </div>

                        }
                    </div>


                    <div class="card class-back-tra-fourdesign" style="float: left; width: 100%;padding-top:4px;">
                        <div class="body" style="padding:0;">
                            <div class="table-responsive table-responsive-responshive tablethirddesign-new" style="position: inherit;margin-top:-18px;">
                                <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%;background:#eae9e9;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>S.N.</th>
                                            <th>Details</th>
                                            <th>Amount</th>
                                            <th>Remain&nbsp;POS&nbsp;Bal&nbsp;Pre</th>
                                            <th>Remain&nbsp;POS&nbsp;Bal&nbsp;Post</th>
                                            <th>Transaction&nbsp;Date</th>
                                            <th>Credit</th>
                                            <th>Debit</th>
                                            <th>Comm</th>
                                            <th>GST</th>
                                            <th>TDS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            DateTime ledgerdate = Convert.ToDateTime(item.ledgerdate);
                                            <tr>
                                                <td>@i</td>
                                                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                <td>@Html.DisplayFor(modelItem => item.remainpre)</td>
                                                <td>@Html.DisplayFor(modelItem => item.remainpost)</td>
                                                <td>@ledgerdate.ToString("d-MMM-yyyy HH:mm:ss")</td>
                                                <td>@Html.DisplayFor(modelItem => item.cr)</td>
                                                <td>@Html.DisplayFor(modelItem => item.dr)</td>
                                                <td>@Html.DisplayFor(modelItem => item.comm)</td>
                                                <td>@Html.DisplayFor(modelItem => item.gst)</td>
                                                <td>@Html.DisplayFor(modelItem => item.tds)</td>
                                            </tr>
                                            i++;

                                        }
                                        @if (Model.Count() > 0)
                                        {
                                            <tr>
                                                <td style="font-weight: bolder;">Total</td>
                                                <td></td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.Amount)</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.cr)</td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.dr)</td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.comm)</td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.gst)</td>
                                                <td style="font-weight: bolder;">@Model.Sum(a => a.tds)</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>

<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelRetailerposreport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDFRetailerposreport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>