@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Mini Statement</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    @*<script src="http://code.jquery.com/jquery-latest.js"></script>*@

    <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/RetailerCss/StyleSheet.css" rel="stylesheet" />

    <style>
        .col-md-4.new-prent-page {
            border: 1px solid #ececec;
            background: #f5f5f5;
        }
    </style>

</head>
<body>

    <div class="col-md-12 Confirm-Payment" id="ministat" style="padding-bottom:20px;">
        <div class="container-fluid">
            <div class="col-md-6 headd" style="padding: 0px;">
                <p id="txtbankstate">@ViewData["txtbankstate"]</p>
                <p id="txtbankaadhar">@ViewData["txtbankaadhar"]</p>
            </div>
            <div class="col-md-6 headd" style="padding: 0px;text-align: right;">
                <p id="txtfrmstate">@ViewData["txtfrmstate"]</p>
                <p id="txtfrmdate">@ViewData["txtfrmdate"]</p>
            </div>

        </div>
        <div class="container-fluid minitransaction">
            <table class="table-bordered" style="width: 100%;margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th>T&nbsp;-&nbsp;Date</th>
                        <th>Open&nbsp;₹</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Close&nbsp;₹</th>
                    </tr>
                </thead>
                <tbody id="statementtbody">
                    @Html.Raw(@ViewData["statementtbody"])

                </tbody>
            </table>

        </div>
        <div class="container-fluid">
            <div class="col-md-12 headsig" style="text-align: right;padding: 0px;">
                <span style="padding: 10px;">Sig.</span>

            </div>

        </div>

    </div>
</body>
</html>

