@using Vastwebmulti.Models;
@{
    ViewBag.Title = "PrintFeesPdf";
    //Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@{
    var logoimage = "";
    var admincolor = "";
    var com = "";
    VastwebmultiEntities db = new VastwebmultiEntities();
    var logo = db.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        logoimage = logo.SingleOrDefault().LogoImage;
    }
    else
    {
        logoimage = "";
    }
    var websiteurl = db.Admin_details.SingleOrDefault().WebsiteUrl;
    var companyname = db.tblContects.ToList();
    if (companyname.Count > 0)
    {
        com = companyname.SingleOrDefault().CompnayName;
    }
    else
    {
        com = "";
    }
    var color = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    if (color.Count > 0)
    {
        admincolor = color.SingleOrDefault().adminandouterheadercolor;
    }
    else
    {
        admincolor = "pink";
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="width:100%; height:150px;">
        <div style="float:left;">
            <div><span style="font-size:25px; ">@websiteurl</span></div>
            <div><span style="font-size:18px;">Roll Number : @ViewData["rollno"] </span> </div>
            <div><span style="font-size:18px;">Student Name : @ViewData["studentname"] </span> </div>
            <div> <span style="font-size:18px; ">Father Name : @ViewData["fathername"] </span></div>
            <div> <span style="font-size:18px; ">Class : @ViewData["classname"] </span></div>
            <div> <span style="font-size:18px; ">Section : @ViewData["section"] </span></div>
            <div> <span style="font-size:18px; ">Session : @ViewData["session"] </span></div>
            <div> <span style="font-size:18px; ">Address : @ViewData["address"] </span></div>
        </div>
        <div style="float:right;">
            <img src="@Url.Content("~/" +logoimage)" class="img-responsive" />
        </div>
    </div>
    <div style="background-color:@admincolor;">
        <center>
            <h1 style="color:Black;">Fees Recepit </h1>
        </center>
    </div>
    <div style="height:40px;">
        <div style="float:left;">
            <span style="font-size:18px; ">Receipt No : @ViewData["Receiptid"]  </span>
        </div>
        <div style="float:right;">
            <span style="font-size:18px;">Date : @ViewData["datepay"] </span>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Sr&nbsp;No.</th>
            <th>Paid&nbsp;Installment</th>
            <th>Fees&nbsp;Installment&nbsp;Amount</th>
            <th>Bus&nbsp;Installment&nbsp;Amount</th>
            <th>Net&nbsp;Amount</th>
        </tr>
     
            <tr>
                <td>1</td>
                <td>@ViewData["paidinstallment"]</td>
                <td>@ViewData["feesinstallment"]</td>
                <td>@ViewData["businstallment"]</td>
                <td>@ViewData["netamt"]</td>
               </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th></th>
        </tr>

    </table>

      <div style="height:40px; margin-top:50px;">
        <div style="float:left; margin-left:580px;">
            <span style="font-size:18px; "><b>Surcharge :</b></span>
        </div>
        <div style="float:right;">
            <span style="font-size:18px;">@ViewData["srchargeamt"]</span>
        </div>
    </div>
    <hr style="margin-bottom:5px; margin-top:0px; margin-left:570px; border:1px solid;" />
    <div style="height:40px;">
        <div style="float:left; margin-left:580px;">
            <span style="font-size:18px; "><b>Total Amount :</b></span>
        </div>
        <div style="float:right;">
            <span style="font-size:18px;">@ViewData["totalamt"]</span>
        </div>
    </div>

    <div style="margin-top:50px;">
        <center>
            <span style="font-size:22px; font-weight:bold;"> Thanks for using @com</span>
        </center>
    </div>
  
</body>
</html>


