@model List<Vastwebmulti.Models.retailer_sell_gst_Result>
@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="border:1px solid darkgray; background-color:darkgray;">
            <h4><p style="text-align:center; font-size:25px; font-weight:700; color:white;">TAX INVOICE</p></h4>
        </div>
        @*<br />*@
        @*<div class="row">
                <div class="col-md-12">
                    <div class="row" style="border:1px solid black;">
                        <div class="col-xs-2">
                            <p style="text-align:left;padding-top:5px;">@ViewBag.last</p>
                        </div>
                        <div class="col-xs-5">
                            <h4><p style="text-align:right">TAX INVOICE</p></h4>
                        </div>
                        <div class="col-xs-5">
                            <center><p style="padding-top:5px;text-align:right;">INVOICE NO: @ViewBag.invoice</p></center>
                        </div>
                    </div>
                </div>
            </div>*@
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @*<div class="col-xs-2">
                            <img src="~/logoimg/N02.png" height="150" width="150" style="margin-top:10px;" data-holder-rendered="true" />
                        </div>*@
                    <div class="col-xs-6" style="border:1px solid black;border-right:0px;">
                        <p style="text-align:left;">Place Of Supply :  @ViewBag.statename</p>
                        <p style="text-align:left;">Reverse Charge Applicability : NO  </p>
                        <p style="text-align:left;">&nbsp; </p>
                    </div>


                    <div class="col-xs-6" style="border:1px solid black;">
                        <p style="text-align:left;">Invoice Number : @ViewBag.invoice </p>
                        <p style="text-align:left;">Invoice Month :  @ViewBag.month </p>
                        <p style="text-align:left;">Invoice Date :  @ViewBag.ldate </p>
                    </div>
                </div>
                <div class="row" style="border:1px solid black;border-top:0px;">
                    @*<div class="col-xs-2">
                            <img src="~/logoimg/N02.png" height="150" width="150" style="margin-top:10px;" data-holder-rendered="true" />
                        </div>*@
                    <div class="col-xs-6" style="border-right:1px solid">
                        <p style="padding-top:5px;text-align:left; font-weight:700">SELLER </p>
                        <p style="padding-top:5px;text-align:left; font-weight:700">@ViewBag.adminfirm</p>
                        <p style="text-align:left; ">@ViewBag.adminaddress </p>
                        <p style="text-align:left;margin-top:-10px;">GSTIN: @ViewBag.admingst</p>
                        <p style="text-align:left; margin-top:-10px;">Pan No: @ViewBag.pancardadmin</p>

                    </div>
                    <div class="col-xs-6">
                        <p style="padding-top:5px; text-align:left; font-weight:700;">BUYER</p>
                        <p style="padding-top:5px; text-align:left; font-weight:700;">@ViewBag.firmname</p>
                        <p style="text-align:left; margin-top:-10px; padding-top:5px;">@ViewBag.address</p>
                        <p style="text-align:left;margin-top:-10px;">GSTIN: @ViewBag.customergst</p>
                        <p style="text-align:left;margin-top:-10px;">Pan No: @ViewBag.pancard</p>

                        @*<p style="text-align:left;margin-top:-10px;">State Name: @ViewBag.statename</p>*@
                    </div>


                </div>
            </div>
        </div>
        <div class="row" style="padding-top:8px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12" style="border: 1px solid black;
                                border-bottom:0px; padding-top:4px; border:1px solid grey;
                                background-color:grey;">
                        <center>
                            <label style="font-size:18px; font-weight:bold; text-align:center;color:white;">Transaction Amount Details</label>
                        </center>
                    </div>
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Description</th>
                                <th>Transition Amount</th>
                            </tr>
                        </thead>
                        @{
                            int srno = 1;
                        }
                        <tbody>
                            @foreach (var item in Model.Where(aa => aa.hsn == "0000"))
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td>@item.type1</td>
                                    <td>@item.amount</td>
                                </tr>
                                srno++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total </td>
                                <td>@Model.Where(aa => aa.hsn == "0000").Sum(aa => aa.amount) </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:8px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12" style="        border: 1px solid black;
        border-bottom: 0px;
        padding-top: 4px;
        border: 1px solid black;
        background-color: black;
">
                        <center>
                            <label style="font-size:18px; font-weight:bold; text-align:center; color:white;">Service Charges Invoice Details</label>
                        </center>
                    </div>
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th rowspan="2">Sr No.</th>
                                <th rowspan="2">Description</th>
                                <th rowspan="2">HSN/SAC</th>
                                <th rowspan="2">Taxable Value</th>
                                @{
                                    if (ViewBag.localgst == "N")
                                    {
                                        <th colspan="2">CGST</th>
                                        <th colspan="2">SGST</th>
                                    }
                                    else
                                    {
                                        <th colspan="2">IGST</th>
                                    }
                                }
                                <th rowspan="2">Total</th>
                            </tr>
                            <tr>
                                @if (ViewBag.localgst == "N")
                                {
                                    <td><b>Amount</b></td>
                                    <td><b>%</b></td>
                                    <td><b>Amount</b></td>
                                    <td><b>%</b></td>
                                }
                                else
                                {
                                    <td><b>Amount</b></td>
                                    <td><b>%</b></td>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in Model.Where(aa => aa.hsn != "0000"))
                            {

                                //if (item.hsn != "0000")
                                //{
                                //    //item.gst = (item.amount * 18) / 100;
                                //    item.gst = item.gt;
                                //}
                                var total = item.amount + item.gst;
                                <tr>
                                    <td rowspan="2">@i.</td>
                                    <td rowspan="2">@item.type1</td>
                                    <td rowspan="2">@item.hsn</td>
                                    <td rowspan="2">@item.amount</td>
                                    @if (ViewBag.localgst == "N")
                                    {
                                        <td style="border:0px;" colspan="2"></td>
                                        <td style="border:0px;" colspan="2"></td>
                                    }
                                    else
                                    {
                                        <td style="border:0px;border-left:1px solid;" colspan="2"></td>
                                    }
                                    <td rowspan="2">@total</td>
                                </tr>
                                <tr>
                                    @if (ViewBag.localgst == "N")
                                    {
                                        var gsttt = 9;
                                        if (item.hsn == "0000")
                                        {
                                            gsttt = 0;
                                        }
                                        var gsti = Convert.ToDecimal(item.gst) / Convert.ToDecimal(2);
                                        <td style="        border: 0px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
">
                                            <b>@gsti</b>
                                        </td>
                                        <td style="        border: 0px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
">
                                            <b>@gsttt</b>
                                        </td>
                                        <td style="        border: 0px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
">
                                            <b>@gsti</b>
                                        </td>
                                        <td style="        border: 0px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
">
                                            <b>@gsttt</b>
                                        </td>
                                    }
                                    else
                                    {
                                        var gstih = Convert.ToDecimal(item.gst);
                                        <td style="border: 0px;border-right: 1px solid #000;border-bottom: 1px solid #000;"><b>@gstih</b></td>
                                        if (item.hsn == "0000")
                                        {
                                            <td style="        border: 0px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
">
                                                <b>0</b>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="        border: 0px;
        border-bottom: 1px solid #000;
">
                                                <b>18</b>
                                            </td>
                                        }

                                    }
                                </tr>
                                i++;
                            }
                        </tbody>
                        <tfoot>
                            @{
                                var col = 6;
                                if (ViewBag.localgst == "N")
                                {
                                    col = 8;
                                }
                                // var gsttotal = (Model.Where(aa => aa.hsn != "0000").Where(aa => aa.hsn != "0000").Sum(aa => aa.amount) * 18) / 100;
                                var gsttotal = (Model.Where(aa => aa.hsn != "0000").Where(aa => aa.hsn != "0000").Sum(aa => aa.gst));

                                var cgst = gsttotal / 2;
                                var sum = gsttotal + Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.amount);
                            }
                            <tr>
                                <td colspan="3">Total</td>
                                <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.amount)</td>
                                @if (ViewBag.localgst == "N")
                                {

                                    <td>@cgst</td>
                                    <td></td>
                                    <td>@cgst</td>
                                    <td></td>
                                }
                                else
                                {
                                    //    <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.amount * 18 / 100)</td>
                                    <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.gst)</td>
                                    <td></td>
                                }
                                <td>@sum</td>
                            </tr>

                        </tfoot>

                    </table>

                </div>
                <table style="float: right; margin-right: -15px;  width: 280px;">
                    <tbody>
                        <tr>
                            <td colspan="@col" style="text-align:right; padding-right:20px;width:111px;">Taxable Amount</td>
                            <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.amount)</td>
                        </tr>
                        <tr>
                            <td colspan="@col" style="text-align:right; padding-right:20px;width:111px;">Total Tax</td>
                            @* <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.amount * 18 / 100)</td>*@
                            <td>@Model.Where(aa => aa.hsn != "0000").Sum(aa => aa.gst)</td>
                        </tr>
                        <tr>
                            <td colspan="@col" style="text-align:right; padding-right:20px;width:111px;">Total Amount</td>
                            <td>@sum</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top:18px;">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">Total Amount (in Words)</p>
                    </div>
                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">@ViewBag.finalword</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-8">
                        <p>Terms & Conditions:</p>
                        <p>1. Goods once sold will not be taken back</p>
                        <p>2. Computer Generated Invoice does not requires signature.</p>
                        <p>
                            3. We declare that this invoices hows the actual price of the goods described and that all particulars true and correct.
                        </p>
                        <p>
                            4. "Subject to "@ViewBag.stname" Jurisdiction only. E.&.O.E"
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p style="padding-top:5px;font-weight:700;">For @ViewBag.adminfirm</p>
                        <p style="padding-top:10px;font-weight:700;">Authorised Signatory</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>