@model Vastwebmulti.Models.GiftCard
@{
    ViewBag.Title = "PurchaseGift_card";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/giftcard.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content" style="margin:90px 0px 0px 0px; ">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card navbar" style="position:initial; margin-top:-4px;">

                <div class="body">

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10" style="margin-bottom:0px;">
                            <center>
                                <ul id="leftulbar" class="nav nav-tabs tab-col-orange" role="tablist" style="background:#607D8B;border-bottom:none;
-webkit-box-shadow:0px 0px 4px 0px rgb(96, 125, 139);
box-shadow: 0px 0px 4px 0px rgb(96, 125, 139); padding-bottom:4px; border-radius:2px;">

                                    <li id="Apparel" role="presentation" class="" style="margin-left:32px;">
                                        <a href="@Url.Action("Gift_Card","Home")" id="Apparel"  aria-expanded="true">
                 <img src="~/images/Apparel.png" style="height:45px;margin-top:-5px" />
                                            <br />
                                            <span style="padding-left:5px;">Apparel</span>
                                        </a>
                                    </li>
                                    <li id="Accessories" role="presentation" class="" style="margin-left:36px;">
                                        <a href="@Url.Action("Gift_Card","Home")"id="Accessories"  aria-expanded="true" >
                                            <img src="~/images/Accessories.png" style="height:45px; margin-top:-5px;" />
                                            <br />Accessories
                                        </a>
                                    </li>

                                    <li id="HealthBeauty" role="presentation" class="" style="margin-left:8px;box-shadow:none;">
                                        <a href="@Url.Action("Gift_Card","Home")" id="HealthBeauty"  aria-expanded="true" >
                                            <img src="~/images/Health & beauti.png" style="height:45px;margin-top:-5px;" />
                                            <br /><span style="margin-left:14px;">Health & Beauty</span>
                                        </a>
                                    </li>
                                    <li id="Restaurants" role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;margin-top:-7px;">
                                        <a href="@Url.Action("Gift_Card","Home")"id="Restaurants"  aria-expanded="true" >
                                            <img src="~/images/Restaunts.png" style="height:45px;margin-top:2px;" />
                                            <br />
                                            <span style="margin-left:-8px;">Restaurants</span>
                                        </a>
                                    </li>
                                    <li id="Electronics" role="presentation" class="" style="margin-left:26px;">
                                        <a href="@Url.Action("Gift_Card","Home")" id="Electronics"  aria-expanded="true" >
                                            <img src="~/images/Electronics.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:0px;">Electronics</span>
                                        </a>
                                    </li>
                                    <li id="Travel" role="presentation" class="" style="margin-left:39px;">
                                        <a href="@Url.Action("Gift_Card","Home")" id="Travel" aria-expanded="true" >
                                            <img src="~/images/Travel.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Travel</span>
                                        </a>
                                    </li>
                                    <li id="Entertainment" role="presentation" class="" style="margin-left:19px;">
                                        <a href="@Url.Action("Gift_Card","Home")" id="Entertainment"  aria-expanded="true">
                                            <img src="~/images/Entertainment.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Entertainment</span>
                                        </a>
                                    </li>
                      <li id="Sports" role="presentation" class="" style="margin-left:22px;">
                          <a  href="@Url.Action("Gift_Card","Home")" id="Sports" aria-expanded="true" >
                                            <img src="~/images/Sports.png" style="height:45px; margin-top:-5px;" />
                                            <br />
                                            <span style="padding-left:5px;">Sports</span>
                                        </a>
                                    </li>
                                </ul>
                            </center>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="font-size:18px;font-weight:700;padding-top:14px;padding-bottom:5px;">
                        <p>@Model.GiftName</p>
                    </div>

                    <div class="body">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-7">
              <img src="@Url.Content("~/" + Model.GiftImage)"
                      class="img-thumbnail" style="height:306px;width:600px;">
               <p style="font-weight:700;margin-top:4px;"> Flat 5% OFF || USDCODE= BIG5</p>
                            </div>
                            <div class="col-md-3">
                      <p style="font-size:18px; font-weight:600;">Buy for yourself</p>
                      <hr />
                      <label>Enter Gift Card Quantity</label>
                        <div class="form-group">
                        <div class="">
                       <input type="text" id="Quantity" name="Quantity" class="form-control" placeholder="Enter Quantity"  style="border:1px solid #dddddd;">
                     <span style="color:#a9a9a9;font-size:9px;">Min: 1, Max: 10</span>
                          </div>
                            <span id="quantity_validation" style="color:red; font-size:13px;"></span>
                     </div>
                     <label>Enter Gift Card Amount</label>
                    <div class="form-group">
                     <div class="">
                    <input type="text" id="Amount" name="Amount" class="form-control" placeholder="Enter Amount" style="border:1px solid #dddddd;">
                    <span style="color:#a9a9a9;font-size:9px;">Min: ₹ @Model.MinimumAmt, Max: ₹ @Model.MaximumAmt</span>
                    </div>
                        <span id="amount_validation" style="color:red; font-size:13px;"></span>
                       </div>
                   <label>Enter Receiver Name</label>
                    <div class="form-group">
                    <div class="">
                   <input type="text" id="name" name="name" class="form-control" placeholder="Receiver Name" style="border:1px solid #dddddd;">
                      </div>
                        <span id="name_validation" style="color:red; font-size:13px;"></span>
                      </div>
                      <label>Enter Receiver Email</label>
                      <div class="form-group">
                      <div class="">
                      <input type="text" id="email" name="email" class="form-control" placeholder="Receiver Email-Id" style="border:1px solid #dddddd;">
                       </div>
                          <span id="email_validation" style="color:red; font-size:13px;"></span>
                        </div>
                         <label>Enter Message </label>
                           <div class="form-group">
                          <div class="">
                         <textarea id="message" name="message" class="form-control" placeholder="Enter Message" rows="3" cols="50" style="border:1px solid #dddddd;">
                        </textarea>
                         </div>
                      <span id="message_validation" style="color:red; font-size:13px;"></span>
                         </div>
                          <div class="form-group">
                          <div class="" style="float:right;">
                    <button type="button" class="btn bg-blue-grey waves-effect"  onclick="Paynow()">Submit</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
   </section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Giftcardscript.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
     $(document).ready(function () {
        var pathname = '@ViewBag.category';
         $('.nav > li > a[id="' + pathname + '"]').parent().addClass('active');

         $(document).ajaxStart(function () {
         
             document.getElementById("loadermoney").style.display = "block";
         });
         $(document).ajaxComplete(function () {
             document.getElementById("loadermoney").style.display = "none";
         });
    });
</script>

<!--validation javscript-->
<script>
    function Paynow()
    {
        var minamt=@Model.MinimumAmt;
        var maxamt=@Model.MaximumAmt;
        var amtval=$("#Amount").val();
        var quantity=$("#Quantity").val();
        var name=$("#name").val();
       var email=$("#email").val();
        var message=$("#message").val();
        if(quantity == ""  || quantity ==null)
        {
            document.getElementById("quantity_validation").innerHTML = "Quantity is required.";
                  
        }
        if(amtval == "" || amtval ==null )
        {
            document.getElementById("amount_validation").innerHTML = "Amount is required.";
                   }
       else if(amtval <= minamt || amtval >= maxamt)
        {
           document.getElementById("amount_validation").innerHTML = "Denomination should be in between ₹"+minamt+" to ₹"+maxamt+".";
       }
        if(name == "" || name == null)
        {
                   document.getElementById("name_validation").innerHTML = "Name  is required.";
               }
        if(email == "" || email == null)
        {
            document.getElementById("email_validation").innerHTML = "Email-Id  is required.";
                }
        if(message == "" || message == null)
        {
            document.getElementById("message_validation").innerHTML = "Message is required.";
           
        }
       
    }

</script>

