@model IEnumerable<Vastwebmulti.Models.Retailer_total_fund_recive_by_admin_Result>
@{
    ViewBag.Title = "ReceiveFund_by_admin";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid giftcardpage">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="giftcardcontent receive-content">
                        @using (Html.BeginForm("ReceiveFund_by_admin", "Home", FormMethod.Post))
                        {

                            <div class="col-md-7" style="display:none;">
                                <div class="form-group" style="margin-top: 2px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li class="active" style="color:#a79f9f; font-size:15px;font-weight:700;">Fund Receive From Admin History</li>
                                    </ol>
                                </div>

                            </div>

                            <div class="col-md-2 giftsecond">
                                <select>
                                    <option>All Status</option>
                                    <option>SUCCESS</option>
                                    <option>PENDING</option>
                                    <option>FAILED</option>
                                </select>


                            </div>

                            <div class="col-md-2 giftthree">
                                <select>
                                    <option>Receive Category</option>
                                    <option>Receive Category</option>
                                    <option>Receive Category</option>
                                    <option>Receive Category</option>
                                </select>
                            </div>
                            <div class="col-md-2 giftfirst">
                                <select>
                                    <option>Select Receive Card Operator</option>
                                    <option>Select Receive Card Operator</option>

                                </select>
                            </div>


                            <div class="col-md-3 giftfor">
                                <div class="form-group" style="margin-bottom:0px;width:100%;">
                                    <div class="input-daterange input-group">
                                        <div class="datesate datesates">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                        </div>
                                        <span class="input-group-addon" style="display:none;">
                                            <i class="fa fa-exchange"></i>
                                        </span>
                                        <div class="datesate datesatese">
                                            <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-1 giftfive">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; height:32px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;font-size: 13px;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>

                        }
                    </div>

                    <div class="col-md-6 giftcard-button receiverbutton">
                        <div class="form-group" style="">
                            <div style="padding-top: 26px;  margin-left: 45%; ">

                                <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;PDF&nbsp;@ViewData["Totalf"]</button>
                                <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;Export&nbsp;@ViewData["Totalp"]</button>
                                <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Total&nbsp;@ViewData["Totals"]</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-39px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;"></h2>
                    </div>
                    <div class="body" style="padding:7px;padding-left: 0;">
                        <div class="table-responsive receive-responsive" style="position:inherit;margin-top:-24px;">
                            <table id="example" class="table table-bordered " style="width:100%;background: #f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Admin&nbsp;Info</th>
                                        <th>Total&nbsp;Transfer</th>
                                        <th>Type</th>
                                        <th>Remain&nbsp;Pre</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Current&nbsp;Credit</th>
                                        <th>Old&nbsp;Credit</th>
                                        <th>Net&nbsp;Amt</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="background:no-repeat;">
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Click to All information">
                                                            @item.email
                                                        </button>
                                                        <ul class="dropdown-menu ppp">
                                                            <li>
                                                                <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                    @item.Name
                                                                    <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Name</p>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                    @item.comment
                                                                    <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Comment</p>
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </div>

                                            </td>
                                            <td><p style="margin-top:6px;">@item.Balance</p></td>
                                            <td><p style="margin-top:6px;">@item.bal_type</p></td>
                                            <td><p style="margin-top:6px;">@item.remain_pre_amount</p></td>
                                            <td><p style="margin-top:6px;">@item.remain_amount</p></td>
                                            <td><p style="margin-top:6px;">@item.cr</p></td>
                                            <td><p style="margin-top:6px;">@item.oldcrbalance</p></td>
                                            <td><p style="margin-top:6px;">@item.TotalBal</p></td>
                                            <td><p style="margin-top:6px;">@item.RechargeDate</p></td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td>Total</td>
                                        <td>@Model.Sum(m => m.Balance)</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.remain_pre_amount)</td>
                                        <td>@Model.Sum(m => m.remain_amount)</td>
                                        <td>@Model.Sum(m => m.cr)</td>
                                        <td>@Model.Sum(m => m.oldcrbalance)</td>
                                        <td>@Model.Sum(m => m.TotalBal)</td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerpurchasess');
    });
</script>