@model Vastwebmulti.Areas.RETAILER.Models.AEPSRegModel
@{
    ViewBag.Title = "regAeps";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("regAeps", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(a => a.RetailerId)
                <div class="card">
                    <div class="header" style="padding:10px;">
                        <h2>
                            <span style="font-size:21px;"></span> AEPS Registeration Form
                        </h2>
                    </div>
                    <div class="row">
                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.RetailerId)
                                    <label for="Email" class="required">Email-Id</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                        @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="setbox" class="required">Name</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.RetailerName, new { @class = "form-control", @required = "", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RetailerName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="package" class="required">Phone Number</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @required = "", @readonly = "readonly" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Mobile)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="amount" class="required">Mobile Number</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @readonly = "readonly" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Mobile)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fullname" class="required">Full Address</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @required = "", @readonly = "readonly" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="mobileno" class="required">State </label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownListFor(m => m.State, (IEnumerable<SelectListItem>)ViewBag.Sate, "-- Select State--", new { @class = "selectpicker form-control", data_live_search = "true", @required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.State)
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <label for="mobileno" class="required">Type </label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @{ List<SelectListItem> xx = new List<SelectListItem>() { new SelectListItem { Text = "Director", Value = "1" }, new SelectListItem { Text = "Authorized Signatory", Value = "2" } };}
                                            @Html.DropDownListFor(m => m.UserType, (IEnumerable<SelectListItem>)xx, "Select Type", new { @class = "form-control", @required = "required", })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.UserType)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="address" class="required">Aadharcard Number</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.AadharCard, new { @class = "form-control", onkeypress = "return isNumber(event)", maxlength = "12", @required = "", minlength = "12" })
                                        </div>
                                        @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                        @Html.ValidationMessageFor(model => model.AadharCard)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="address" class="required">Pancard Number</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.PanCard, new { @class = "form-control", @style = "text-transform:uppercase", @required = "" })
                                        </div>
                                        @*<label id="minmaxlength-error" class="error" for="minmaxlength">This field is required.</label>*@
                                        @Html.ValidationMessageFor(model => model.PanCard)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="Pincode" class="required">Password</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pwd, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Pwd)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Pincode" class="required">Confirm Password</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pwdconfirm, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Pwdconfirm)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="address">LOGO</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.LogoPath, new { @type = "file", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LogoPath)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="address">e-KYC</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.kycPath, new { @type = "file", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.kycPath)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="address">cancelled ChecK</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.canceledPath, new { @type = "file", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.canceledPath)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="address">Shop PAN</label>
                                    <div class="form-group">
                                        @*<div class="" style="border:1px solid #dddddd;">

                                                <input type="file" id="file" name="file" class="form-control" />
                                            </div>*@
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.shopPANPath, new { @type = "file", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.shopPANPath)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-top:25px;">
                                        <input type="submit" id="submit" name="Register" class="btn bg-blue-grey" style="height:36px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                                }
        </div>
    </div>
    <div class="row clearfix">
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html(""); // clear before appending new list
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>
<script>
    $(document).ready(function () {
        $('#State').val(@Model.State);
        var viewrespo = '@TempData["viewrespo"]';
        if (viewrespo != null && viewrespo != '')
        {
            //aler(viewrespo);
            swal("Oops!", viewrespo, "error");
        }
        var panMSG = '@TempData["UpdateRequiredMSG"]';
        //alert(panMSG);
        if(panMSG != null && panMSG != '')
        {
            swal("Oops!", panMSG,"warning");
        }
    });
</script>
<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>
<script>

</script>