@model IEnumerable<Vastwebmulti.Models.Sp_ledgerreport_Result>
@{
    ViewBag.Title = "RetailerLedger";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .table { 
        margin-bottom: 0px;
    }

    .retailerledger-container .col-md-4.dispute-date {
        display: flex;
        align-items: center;
    }
    .col-md-2.despute-search {
        width: 18%;
        padding-left: 4px;
    }
    .dropdown-menu {
        margin-top: 144px !important;
    }

    /* new css  */

    .card .body {
        padding: 0px;
    }

    .container-fluid.retailerledger-container {
        padding-left: 10px;
    }
    .dropdown-menu {
        margin-top: 97px !important;
    }

    .form-iconmy.form-iconmyss {
        z-index: 9;
    }

    .datepicker.datepicker-dropdown.dropdown-menu.lgdatepickedatbookre.datepicker-orient-left.datepicker-orient-bottom {
        top: 42px !important;
    }

    #btncolor a {
        text-decoration: none;
        color: #fff !important;
    }
    @@media only screen and (max-width:1169px) {

        .container-fluid.retailerledger-container {
            padding-left: 15px;
        }

    }
    
    
    @@media only screen and (max-width:767px) {
        .cardaddclass-res .bread-same-all-page {
            width: 100% !important;
            padding-top: 0px !important;
        }



        .table-responsive.table-responsive-responshive.tablethirddesign-new table {
            border: 1px solid var(--border-color);
        }

        #btncolor a {
            text-decoration: none;
            color: #fff !important;
        }
    }

    @@media only screen and (max-width:480px){
        .retailerledger-container .col-md-4.dispute-date {
            width: 100%;
            display: block;
        }
        .input-daterange.input-group {
            width: 70% !important;
            margin-bottom: 4px;
        }
        .col-md-2.despute-search {
            width: 30%;
            padding-left: 4px;
            float: left;
        }
        .dispute-date.dispute-datelager.datelager-class input {
            padding-right: 4px;
            text-align: right;
        }


    }


</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid retailerledger-container" style="height:100vh;">

        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Retailer Ledger</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 1&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Retailer Ledger</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->

        <div class="page-header-third">

            <div class="h_menu-set">

                <div class="bread-same-all-page" style="width:auto;float:left;">
                    <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                        <ul style="margin:0;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Ledger Report
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="admin-ledger-page-btn responcive-fifty widthauto-search-thi" style="float:left;">
                    <button id="btncolor" style="font-size: 14px; height: 32px; border: 1px solid #c7c2c2; padding-left: 10px; padding-right: 10px;top: 0px; color: white !important; background: var(--main-bg-lcolor);"> @Html.ActionLink("Pos Ledger", "PosLedger")</button>


                </div>

            </div>

        </div>

        <div class="row clearfix" style="margin:0;">
            
            <div class="page-header-third">

                <div class="col-md-12" style="padding:0;">
                    <div class="card cardretailerlager legar-responshivewidth cardaddclass-res class-back-tra-fourdesign fix-bootmmarg-fourdesign">

                        @using (Html.BeginForm("RetailerLedger", "Home", FormMethod.Post))
                        {

                            <div class="col-md-4 dispute-date dispute-datelager datelager-class" style="float:left;position: relative;padding:0;">
                                <div class="input-daterange input-group" style="width:auto;float:left; ">
                                    <div class="datesate datesates">
                                        <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <span class="input-group-addon" style="display:none;">
                                        <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                    </span>
                                    <div class="datesate datesatese">
                                        <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="col-md-2 despute-search">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left:-74px; height:36px;">
                                            <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                            <span style="top:0px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>

                            </div>

                            <div class="dispute-right dispute-new">
                                <div class="col-md-3 buttonPdf buttonPdfdispute retailer-pdf-second" style="text-align:right;">

                                    <button style="color:#555;" id="btnPDF">PDF</button>
                                    <button style="color:#555;" id="btnExport">Export</button>

                                </div>


                            </div>


                        }

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                    <div class="card class-back-tra-fourdesign">
                        <div class="body" style="">
                            <div class="table-responsive table-responsive-responshive tablethirddesign-new" style="position: inherit;margin-top:4px;">
                                <table id="example" class="table table-bordered example-second third-design-table" style="width:100%;background:#f5f5f5;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            @* <th>Sr.No</th>*@
                                            @*<th>Request&nbsp;Id</th>*@
                                            <th>Particular</th>
                                            <th>₹&nbsp;Amount</th>
                                            <th>Credit</th>
                                            <th>Debit</th>
                                            <th>Balance</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="trow">
                                        @{
                                            Html.RenderAction("_RetailerLedger", "Home", new { Model = Model });
                                        }
                                    </tbody>
                                </table>
                                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                    <div class="loadertablecssnew">Loading...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>




<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();

        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScrollLedger","Home")",
             { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('lgdatepickedatbookre');
    });


</script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("Excel_Retailer_Ledger", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_RetailerLedger", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
