@model IEnumerable<Vastwebmulti.Models.rem_purchase_info_Result>
@{
    ViewBag.Title = "RetailerSellgst";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}


<style>



    /* new css  */
    .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq {
        width: 15%;
        padding-right: 4px;
    }
    .col-md-2.apiclass-satenew {
        float: left;
    }
    .table-responsive {
        float: left;
        width: 100%;
    }

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0 !important;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    /* new css  */

    span {
        color: #fff !important;
    }

    .second-design .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .inputpdfbu-retailer-second button {
        border-color: #555 !important;
    }

    .for-search input {
        box-shadow: none !important;
        outline: none !important;
        border-radius: 0;
        border: 1px solid #aaa4a4;
    }

    .form-control:focus {
        border-color: #ccc;
    }

    .datepicker table tr td span {
        color: #555 !important;
    }

        .datepicker table tr td span.active {
            color: #fff !important;
        }

    .trypurchasecewq-newadd select {
        padding-left: 1px;
    }
    @@media only screen and (max-width:767px) {
        .bread-same-all-page {
            display: block;
        }
        #custnav1 {
            width: 100%;
            float: left;
        }
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq {
            width: 22%;
        }

    }
    @@media screen and (max-width:766px) {
        .fund-tr-history .modal-dialog {
            width: 100% !important;
        }
    }

    @@media screen and (max-width:480px) {
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq {
            width: 37.5%;
        }
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .col-md-2.apiclass-satenew {
            width: 25%;
        }

    }

    @@media screen and (max-width:420px) {
        #leftsidebar.sidebar.retailer-header-left, .second-design #leftsidebar.retailer-header-left.header-left-newresponshive.newresponshive-secondde {
            margin-top: -88px !important;
        }
    }
</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Wallet History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Wallet History</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page">

                <ul style="margin:0;">
                    <li class="smli four-design-noneclass">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one four-design-noneclass">
                        Sell GST
                    </li>
                    <li>

                    </li>
                </ul>

                <div>
                    @Html.Partial("_menu_invoice")
                </div>

            </div>
        </div>

        <div class=" col-md-12" style="width:100%;float:left;">
            <div class="row clearfix">
                <div class="page-header-third">
                    <div class="" style="width: 100%; float: left; padding-bottom: 4px;">
                        @using (Html.BeginForm("RetailerSellgst", "Home", FormMethod.Post))
                        {
                            <div class="row fund-t-dalear fund-t-dalear-erfrdfgdf">


                                <div class="col-md-5 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                    @Html.DropDownList("Month", ViewBag.month as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })

                                </div>
                                <div class="col-md-5 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                    @Html.DropDownList("Year", ViewBag.year as SelectList, new { @class = " form-control", @style = "border:1px solid #8e7f7f4d;" })

                                </div>
                                <div class="col-md-2 apiclass-satenew" style="padding:0px;">
                                    <input type="hidden" id="tabtype" name="tabtype" value="FundTranferAllReport" />
                                    <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding:0px 15px;float:left;height:30px;margin-top:2px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                    </button>
                                </div>



                            </div>
                        }
                    </div>
                    <div class=" col-md-12 padding-both-none-four" style="padding:0;">

                        <div class="wallet-history" style="padding:0;">
                            <div class="table-responsive">
                                <div id="tblshowMasterD" class="table-responsive tblshowMasterclassadd tablethirddesign-newnew" style="width:100%;overflow:auto;">
                                    <table class="table table-bordered table-striped table-hover third-design-table table-white-third">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Firm Name</th>
                                                <th>Email</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td>@item.Frm_Name</td>
                                                    <td>@item.Email</td>
                                                    <td>
                                                        <button onclick="Download('@item.RetailerId')" type="button" target="_blank" class="btn btn-sm btn-success" style="border-color:transparent !important;background-color:transparent !important;">
                                                            <i class="fa fa-file-pdf-o fa-2x" style="color:red;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    <!-------------orderrecive-->





</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
    $(document).ready(function () {
        var month = '@ViewBag.chkmonth';
         var val = '@ViewBag.chk';
        if (val != "post") {
            $('#Month').val(month);
            $('#Month').select2().trigger('change');
            $('#Year').select2();
        }
    });
</script>

<script>
    function Download(apiid) {
        var Month = $('#Month').val();
        var Year = $('#Year').val();
            var url = '@Url.Action("Print_Sell_Gst_retailer", "Home")?Month=' + Month + '&Year=' + Year + '';
            window.open(url, '_blank');
    }
</script>
