@model Vastwebmulti.Areas.RETAILER.Models.Servicefee
@using Vastwebmulti.Models;
@{
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var servicelist = DB1.Formservices.ToList();
    var forminfo = DB1.AddForm_information.ToList();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>More_Option</title>*@
    <style>

        /* new css  */



        .layoutt-retailer section.content {
            margin-top: 95px;
            padding-top: 5px;
        }

        .bread-same-all-page li {
            margin: 6px 0;
        }

        .bread-same-all-page {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .bordered-2 form {
            width: 100%;
            float: left;
            text-align: center;
            padding-top: 10px;
        }

        .tmw-total-color-one {
            -webkit-background-clip: text !important;
            -moz-background-clip: text !important;
            -webkit-text-fill-color: transparent;
        }
        .bread-same-all-page li {
            float: left;
            list-style: none;
        }
        .bordered-2 {
            padding: 10px;
            float: left;
            width: 100%;
        }


        /* new css  */

        .slab-first-tab {
            background: #eaeaea;
        }

        .modal .modal-content .modal-body21 {
            color: #777;
            background: #ddd;
            border-bottom: 2px solid;
        }
        .modal .modal-content .modal-body21 {
            padding: 0px !important;
        }
        .slab-first-tab {
            margin-left: 0px !important;
        }



        @@media only screen and (max-width:991px){
            #axy {
                float: left;
                width: 100%;
            }


        }

        @@media only screen and (max-width:767px){

            .allpage-responshivenew {
                padding: 0px 0;
            }
                .allpage-responshivenew ul li {
                    margin-bottom: 6px;
                }


        }



    </style>
</head>

<body>
    <section class="content fourdesign-section-admin">
        <div id="loadermoney" class="loadermoney" style="display:none;"></div>

        <div class="col-md-12">

            <!---   header menu    -->
            <div class="page-header-third">
                <div class="bread-same-all-page allpage-responshivenew">
                    <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                        <ul style="margin:0;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Retailer Form
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="page-header-third">
                <div id="custnav" class="col-md-2 slab-first-tab">

                    <ul class="nav nav-tabs">
                        @if (servicelist.Count() > 0)
                        {
                            <h2 class="reportadminclass" style="font-size: 23px; border-bottom: 2px solid #fff; padding: 3px 1px; text-transform: uppercase; background: white;">
                                <span style="padding-left:8px;padding-left: 8px !important;">Addform<sup class="addmargin"></sup></span>
                            </h2>

                            foreach (var item in servicelist)
                            {
                                <li style="width:100%;float:left;">

                                    <a href="#">
                                        <button type="button" onclick="NameItemId('@item.idno')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal786" style="padding: 0px !important; height: auto; margin: 0px; width: 35px !important; float:right;">
                                            <p style=" margin: auto;">Add</p>
                                        </button>
                                        <button style="text-decoration: underline; border: none; background: none; color: #262424; ">@item.servicename </button>
                                    </a>




                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal786" role="dialog">
            <div class="modal-dialog" style="top:90px;">

                <!-- Form Modal content-->
                <div class="modal-content" style="height: 70vh;">
                    <div class="modal-header" style="background: #c3c3c3;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body21">
                        <div class="bordered-2 " style="">
                            @using (Html.BeginForm("Retailer_Userinfomation", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="number" id="idnoInput1" name="idnoInput1" class="form-control" style="display:none;" />
                                @*<input type="number" id="Name" name="Name" class="form-control" style="display:none;" />*@
                                <div style="width:70%;float:left;">
                                    <input name="Value" type="text" maxlength="17" required placeholder="Text" class="form-control" style=" height: 30px !important; width: 100%; padding: 10px; background: #ffffff; border: 1px solid #ccc; font-size: 12px; margin-top: -2px; } " @*onkeypress="return isNumber(event)"*@ />
                                </div>
                                <div style="width:30%;float:right;">
                                    <button type="submit" id="manualsubmit11" class="btn llpo input-back-second" style="border: 1px solid #b1a6a638; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: white; height: 26px; font-size: 14px; padding: 2px 10px; ">
                                        Save
                                    </button>
                                </div>

                            }
                            <div class="col-md-12" id="axy" style="margin-top: 21px; overflow-y: scroll; height: 50vh;padding:0;">
                                <div class="table-responsive" style="position:inherit;">
                                    <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="retailerformedit">
                                        @Html.Partial("_Retailerforminfo")
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>
</body>
</html>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
    
    $('#btnSave').click(function () {
        debugger;
        var formData = $('#retailerform').serialize();

       
    $.ajax({
        type: 'POST',
        url: '@Url.Action("RetailerEdit_Data", "Home")', 
        data: formData,
        success: function() {
            // handle success
        },
        error: function() {
            // handle error
        }
    });
});


</script>
<script>
    $('#formbtnsave').click(function () {
        $('#mictiatmsave-loader').show();
    });
</script>



<script>
    function NameItemId(id) {
        $('#idnoInput1').val(id);
    }
</script>

@*<script>
    $('#chanenamelink').click(function () {
        location.reload();
    });
</script>

<script>

    $('#Manualdelete').click(function () {
        location.reload();
    });

</script>*@

<script>
    function retailerform(id) {

          $.ajax({
            url: '@Url.Action("RetailerEditAdd_Usebyid", "Home")',
              data: {id:id},

              success: function (data) {
                  $('#retailerformedit').html(data);
            }
        });
    }

</script>












