@model IEnumerable<Vastwebmulti.Models.history_norton_Result>
@{
    ViewBag.Title = "SecurityReport";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    /* new css  */

    .bread-same-all-page {
        float: left;
        width: 100%;
    }
    .datepicker {
        margin-top: 91px !important;
    }
        .bread-same-all-page li.smli {
            font-weight: bold;
        }

        .bread-same-all-page li {
            float: left;
            list-style: none;
        }

    .tmw-total-color-one {
        -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    }


    .bread-same-all-page a {
        font-size: 15px;
        color: #000;
        float: left;
        font-weight: normal;
    }

    .custom-s {
        position: relative;
    }

        .custom-s::before {
            content: '';
            border-bottom: 1px solid #bbb;
            border-left: 1px solid #bbb;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 10px;
            top: 10px;
            transform: rotate(-45deg);
        }
    .table-success-se-img table tr td img {
        border-radius: 50%;
        padding: 2px 3px;
        height: 17px;
        width: 17px;
        margin-right: 4px;
    }

    .security-allstatus::before {
        display: none;
    }

    @@media only screen and (max-width:1169px) {
        .container-fluid.giftcardpage {
            padding-left: 15px;
        }
    }

    @@media only screen and (max-width:991px) {
        .giftsecond {
            float: left;
        }

        .giftfor {
            float: left;
        }

        .giftfive {
            float: left;
        }
    }

    @@media only screen and (max-width:767px) {
        .buttonkjhbgj-new {
            display: block;
            width: auto;
        }

        .h_menu-set {
            display: block;
        }

        .giftsecond {
            width: 50% !important;
            margin-bottom: 4px;
        }

        .fghfdghclass .datesate .form-iconmy {
            display: block;
        }

        .giftfor {
            width: 50% !important;
            margin-bottom: 4px;
        }

        .giftfive {
            padding: 0 !important;
        }
    }

    @@media only screen and (max-width:480px){

        .giftsecond {
            width: 100% !important;
            padding: 0 !important;
        }
        .right{
            left:0;
            top:10px;
            position:relative;
        }
        .giftfor {
            width: 100% !important;
        }

    }


    @@media screen and (max-width:420px){
        .buttonkjhbgj-new {margin-top:10px;}
    }

</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid giftcardpage security-report-responshive" style="height:100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Security Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Security Report</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix" style="margin:0;">

            <div class="page-header-third">
                <div class="addtfgf-new">
                    <div class="bread-same-all-page">
                        <ul>
                            <li class="smli">
                                <a href="~/RETAILER/Home/%20Dashboard" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Security Report
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>

            
            <div class="page-header-third">
                <div class="h_menu-set">
                    @using (Html.BeginForm("SecurityReport", "Home", FormMethod.Post))
                    {
                        <div class="col-md-12 col-xs-12 fghfdghclass" style="padding:0;">
                            <div class="card class-back-tra-fourdesign" style="">
                                <div class="giftcardcontent giftcardcontent-responshive" style="width:100%;">

                                    <div class="col-md-4 giftsecond" style="padding: 0px 4px; padding-left: 0px;">
                                        <div class="form-line" style="margin-top:5px;width:100%;border:1px solid #dddddd;padding-bottom:10px;">
                                            <div class="custom-s security-allstatus">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                            {
                                    new SelectListItem{ Text="All Status",Value="",},
                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                    new SelectListItem{Text="PENDING",Value="PENDING"},
                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                     }, new { @class = " form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;height:32px;-webkit-appearance: textfield;box-shadow:none;padding: 6px;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 giftfor giftforeee giftforeee-responshive" style="padding:0px;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ccc;height:32px;", autocomplete = "off" })
                                                </div>
                                                <span style="display:none;" class="input-group-addon">
                                                    <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ccc;height:32px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2 giftfive">
                                        <center>
                                            <button name="btntype" type="submit" class="btn" style="margin-top:5px; margin-left:2px; height:34px;border:1px solid #ccc;background:#dedddd;height:32px;" onclick="serch()">
                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                <span style="top:-1px;color:black;">Search</span>
                                            </button>
                                        </center>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="col-lg-2 col-md-3 buttonkjhbgj-new buttonkjhbgj-new-respon" style="padding:0;">
                        <div class="white-l-search-nine inputpdfbu-retailer-second">
                            <button class="white-success-button" style="float:right; padding: 0px 4px;height:36px;border:1px solid #b1a6a638;background:#b1a6a638;height:32px;" onclick="findtotal()">Total</button>
                            <div class="web-white-filter fil" style="float: right;margin-right: 5px;">
                                <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                                <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                            </div>

                        </div>
                        <div class="white-success suc3" style="display:none;width: 100%;float: left;margin-top: -37px;">


                            <button class="btn  waves-effect" style="height:auto;padding: 0px;float:right;background:#eeebeb;border:1px solid #ddd;border-left:0px;">
                                <p class="btn-warning" style="margin-bottom:0px;padding:1px 4px;">Panding</p>
                                <span id="Pendingtotal" style="font-size: 13px;padding:4px 0px;" title="Total  Pending">₹ 0</span>
                            </button>
                            <button class="btn  waves-effect" style="height:auto;padding: 0px;float:right;background:#eeebeb;border:1px solid #ddd;border-left:0px;">
                                <p class="btn-danger" style="margin-bottom:0px;padding:1px 9px;">Failed</p>
                                <span id="Failedtotal" style="font-size: 13px;padding:4px 0px;" title="Total  Failed">₹ 0</span>
                            </button>
                            <button class="btn  waves-effect" style="height:auto;padding: 0px;float:right;background:#eeebeb;border:1px solid #ddd;">
                                <p class="btn-success" style="margin-bottom:0px;padding:1px 4px;">Success</p>
                                <span id="successtotal" style="font-size: 13px;padding:4px 0px;" title="Total  Success">₹ 0</span>
                            </button>

                        </div>

                    </div>

                </div>
            </div>

            
        </div>

        <div class="row clearfix" style="display:none;">
            <div class="col-md-12">
                <div class="card" style="margin-top:-18px;">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;margin-top:1px;">
                            <p style="font-size:20px;margin-top:6px;">Norton Purchase Report</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin:0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-security-responshive" style="padding:0px;">
                <div class="card class-back-tra-fourdesign">

                    <div class="row clearfix" style="margin:0;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                            <div class="page-header-third">
                                <div class="body table-responsive giftcard-responsive tablethirddesign-newnew table-success-se-img" style="position:inherit;padding:3px;">
                                    <table class="table table-bordered table-striped table-hover third-design-table fourdesign-data-table" style="width:100%;font-size:12px;">
                                        <thead class="" style="color:white;">
                                            <tr>
                                                <th>Status&nbsp;</th>
                                                <th>Plan&nbsp;Name</th>
                                                <th>Customer Mobile</th>
                                                <th>Customer Email</th>
                                                <th>Pre&nbsp;₹</th>
                                                <th>Amount</th>
                                                <th>Cr/Dr&nbsp;₹</th>
                                                <th>Post&nbsp;₹</th>
                                                <th>Request&nbsp;Time</th>
                                                <th>Operator&nbsp;Id</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                decimal final = Convert.ToDecimal(item.amount) - Convert.ToDecimal(item.total_rem_pay);

                                                var img = "";
                                                var color = "";

                                                if (item.Status.ToUpper() == "FAILED")
                                                {
                                                    color = "red";
                                                    img = "../../ashok-images/closes.svg";
                                                }
                                                else
                                                {
                                                    color = "#673AB7";
                                                    img = "../../ashok-images/undo.svg";
                                                }
                                                if (item.Status.ToUpper() == "PENDING")
                                                {
                                                    color = "#FF9800";
                                                    img = "../../ashok-images/clkk.png";
                                                }
                                                if (item.Status.ToUpper() == "SUCCESS")
                                                {
                                                    color = "green";
                                                    img = "../../ashok-images/correct.svg";
                                                }

                                                <tr>
                                                    <td><img src="@img" style="background:@color;" />@item.Status </td>
                                                    <td>@item.plan_nm</td>
                                                    <td>@item.customermobile</td>
                                                    <td>@item.customeremail</td>
                                                    <td>@item.rempre </td>
                                                    <td>@item.amount</td>
                                                    <td>@final </td>
                                                    <td>@item.rempost </td>
                                                    <td>@item.transfer_time</td>
                                                    <td>@item.OPerator_id</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<!--Resend Pin-->
<!--My Script-->
@*<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerpurchaseee');
    });
</script>*@
<script>
    $(document).ready(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });


</script>

@*<script>
    $(document).ready(function () {
        $(".giftforeee-responshive input").click(function () {
            $(".datepicker").addClass('datepickerrechargenmgvfwe');
        });
    });
</script>*@

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("ExcelSecurityReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("PDF_SecurityReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
