@using Vastwebmulti.Models;
@model IEnumerable<Vastwebmulti.Models.select_retailer_credit_report_by_admin_Result>
@{
    ViewBag.Title = "Show_Credit_report_by_admin";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Dealer").ToList();
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Dealer")
        {
          var  favimage = usernname.SingleOrDefault().NickName;
            ViewBag.nickname = favimage;
        }
    }

}
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<style>
    /* new css  */
    .distributor-class {
        padding-right: 0px;
    }
    .cpmpany-class {
        padding-left: 0px;
    }

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @@media only screen and (max-width:1169px) {
        .container-fluid.show-creditby {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:991px) {
        .cpmpany-class {
            padding-left: 0px;
            padding-right: 0;
        }
        .distributor-class {
            padding-left: 0px;
        }

    }
    @@media only screen and (max-width:990px) {
        .container-fluid.show-creditby {
            padding-right: 15px !important;
        }


    }

    @@media only screen and (max-width:767px) {
        .table-responsive > .table-bordered {
            border: 1px solid var(--border-color);
        }
    }

    @@media only screen and (max-width:480px) {
    }

    /* new css  */
</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="overflow-x:hidden;">
    <div class="container-fluid show-creditby" style="height: 100vh; padding-left: 11px;">

        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>My Credit</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Pages&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Credit</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->

        

        <div class="page-header-third">
            <div class="bread-same-all-page" style="width:100%;float:left;">

                <ul style="width: 100%; float: left;margin:0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Show Credit Report By Admin
                    </li>
                </ul>
            </div>
        </div>

            @*<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:0px;margin-top:9px;padding:0px;">
                            <li class="active" style="color:#555; font-size:20px;font-weight:700;margin-top: 6px;">MY CREDIT REPORT BY ADMIN </li>
                        </ol>
                    </div>
                    <div class="body" style="padding:0px;">
                        <div class="table-responsive responsive-fulldiv" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable " style="width:99%;margin-left:0;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR.NO</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Last&nbsp;Transaction&nbsp;Date</th>
                                        <th>Last&nbsp;Transaction&nbsp;Type</th>
                                        <th>Live&nbsp;Balance</th>
                                        <th>Current&nbsp;Outstanding</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.AdminEmail</td>
                                            <td>@item.Name</td>
                                            <td>@item.RechargeDate</td>
                                            <td>@item.bal_type</td>
                                            <td>@item.remain_amount</td>
                                            <td>@item.cr</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                                <tfoot class="border-color-css" style="background-color:whitesmoke;">
                                    <tr>
                                        <td><p style="font-size:17px;">Total</p></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><p style="font-size:17px;">@Model.Sum(a => a.cr)</p></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



            <div class="col-md-6 cpmpany-class distributor-responshiveclass brachcashreport-noneclass">
                <div class="page-header-third">
                    <div class="creditcompany changeback-four-design">
                        <div class="creditimg">
                            <img src="~/ashok-images/value.svg" />

                            <h2 class="fullbodydycolorbg black-back-fordesign">Credit From Company</h2>
                        </div>
                        <div class="companydataall">
                            <table border="1">
                                @foreach (var item in ViewBag.admin)
                                {
                                    <tr>
                                        <th>Company&nbsp;Name</th>
                                        <td>@item.AdminEmail</td>
                                    </tr>
                                    <tr>
                                        <th>Company&nbsp;Mobile&nbsp;No</th>
                                        <td>@item.Name</td>
                                    </tr>
                                    <tr>
                                        <th>Current &nbsp;Blance</th>
                                        <td>@item.remain_amount</td>
                                    </tr>
                                    <tr class="current-credit">
                                        <th>Current&nbsp;Credit<sup>*</sup></th>
                                        <td>@item.cr</td>
                                    </tr>
                                }
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!---------------Distributor Start---------------->

            <div class="col-md-6 distributor-class distributor-responshiveclass brachcashreport-noneclass">
                <div class="page-header-third">
                    <div class="creditcompany changeback-four-design">
                        <div class="creditimg">
                            <img src="~/ashok-images/value.svg" />
                            <h2 class="fullbodydycolorbg black-back-fordesign">Credit From @ViewBag.nickname</h2>
                        </div>
                        <div class="companydataall">
                            <table border="1">
                                @foreach (var item in ViewBag.dealer)
                                {
                                    <tr>
                                        <th>@ViewBag.nickname&nbsp;Name</th>
                                        <td>@item.DLMEmail</td>
                                    </tr>
                                    <tr>
                                        <th>@ViewBag.nickname&nbsp;Mobile&nbsp;No</th>
                                        <td>@item.DealerName</td>
                                    </tr>
                                    <tr>
                                        <th>Current &nbsp;Blance</th>
                                        <td>@item.remain_amount</td>
                                    </tr>
                                    <tr class="current-credit">
                                        <th>Current&nbsp;Credit<sup>*</sup></th>
                                        <td>@item.cr</td>
                                    </tr>
                                }
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            @*Four-Design-Start*@
            <div class="credit-four-design" style="display:none;">

                <div class="col-md-6 bank-four-design" style="padding-left:0px;">
                    <div class="bank-full-four">
                        <div class="img-back-cedit-four" style="border-radius: 5px 5px 0 0;">
                            <img src="~/ashok-images/value.svg" style="max-width:100%;" />
                        </div>
                        <div class="bank-content-four">
                            <h4>Credit From Company</h4>


                            <ul class="fourdesign-show-credit">
                                @foreach (var item in ViewBag.admin)
                                {
                                    <li>
                                        <strong>Company&nbsp;Name</strong>
                                        <span>@item.AdminEmail</span>
                                    </li>
                                    <li>
                                        <strong>Company&nbsp;Mobile&nbsp;No</strong>
                                        <span>@item.Name</span>
                                    </li>
                                    <li>
                                        <strong>Current &nbsp;Blance</strong>
                                        <span>@item.remain_amount</span>
                                    </li>
                                    <li>
                                        <strong>Current&nbsp;Credit<sup>*</sup></strong>
                                        <span>@item.cr</span>
                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 bank-four-design" style="padding-right:0px;">
                    <div class="bank-content-four" style="border-radius: 5px 5px 0 0px;">
                        <h4>Credit From Distributor</h4>


                        <ul class="fourdesign-show-credit">
                            @foreach (var item in ViewBag.dealer)
                            {
                                <li>
                                    <strong>Distributor&nbsp;Name</strong>
                                    <span>@item.DLMEmail</span>
                                </li>
                                <li>
                                    <strong>Distributor&nbsp;Mobile&nbsp;No</strong>
                                    <span>@item.DealerName</span>
                                </li>
                                <li>
                                    <strong>Current &nbsp;Blance</strong>
                                    <span>@item.remain_amount</span>
                                </li>
                                <li>
                                    <strong>Current&nbsp;Credit<sup>*</sup></strong>
                                    <span>@item.cr</span>
                                </li>
                            }
                        </ul>

                    </div>
                    <div class="bank-full-four">
                        <div class="img-back-cedit-four" style="border-radius: 0px 0px 5px 5px;">
                            <img src="~/ashok-images/value.svg" style="max-width:100%;border-radius: 0px 0px 5px 5px;" />
                        </div>

                    </div>
                </div>
            </div>
            @*Four-Design-End*@

        </div>

</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>



