
@{
    ViewBag.Title = "Travels_Report";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<section class="content" style="margin:90px 0px 0px 0px;  ">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <div class="card" style="margin-top: 2px;">
                    <div class="">
                        <div class="col-md-2">
                            <div class="form-group" style="margin-top: 6px;">
                                <p style="font-size: 20px; padding-left: 13px;">Travel Report&nbsp;&nbsp;<span style="font-size:21px;">🡇</span></p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group" style="margin-top:-19px;">
                                <div style="padding-top: 22px; padding-left: 10px;">
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px; color:green;font-weight:600;">Success&nbsp;[&nbsp;0.00&nbsp;]</span>
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px; color:red;font-weight:600;">Failed&nbsp;[&nbsp;0.00&nbsp;]</span>
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px;color:#ff9600; font-weight:600;">Pending&nbsp;[&nbsp;0.00&nbsp;]</span>
                                    <span class="btn btn-default waves-effect" style="font-size: 13px;padding:9px; color:#9C27B0 ;font-weight:600;">REM&nbsp;INC&nbsp;[&nbsp;0.00&nbsp;]</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            @Html.Partial("_Travelsview")
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -22px;">
                    <div class="card" style="margin-top: 2px;">
                        @using (Html.BeginForm("Travels", "Home", FormMethod.Post))
            {
                            <div class="">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                                            @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "selectpicker form-control", data_live_search = "true" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                            @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="50",Value="50"},
                                new SelectListItem{Text="100",Value="100"},
                                new SelectListItem{Text="200",Value="200"},
                                new SelectListItem{Text="500",Value="500"},
                                new SelectListItem{Text="1500",Value="1500"},
                                new SelectListItem{Text="All",Value="All"}
                                }, new { @class = "selectpicker form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", data_live_search = "true" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                            @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Status",Value="ALL",},
                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                new SelectListItem{Text="Pending",Value="PENDING"},
                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-group" style="margin-top:4px;">
                                            <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">

                                                &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                                <p style="font-size:9px;padding-left:15px;margin-top:-3px;">From</p>
                                            </div>
                                            <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;">
                                        </div>
                                        <!-- /.input group -->
                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-group" style="margin-top:4px;">
                                            <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                                &nbsp;&nbsp;&nbsp; <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                                <p style="font-size:9px; padding-left:17px;margin-top:-3px;">To</p>
                                            </div>
                                            <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;">
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="form-line" style=" border-bottom none;margin-top:5px;">
                                            <button type="button" id="btntype" name="btntype" value="LIVE" class="btn bg-blue-grey waves-effect" style="height: 36px;">
                                                <i class="material-icons" style="top: 2px;">search</i>
                                                <span style="top: -4px; font-weight: 600;">Search</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                    }
                    </div>
                </div>
   
             </div>
             <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="margin-top: -20px; padding:0px;">
                        <div class="table-responsive" style="position:inherit; padding:12px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable text-nowrap" cellspacing="0" style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Request ID</th>
                                        <th>Operator</th>
                                        <th>Operator&nbsp;Type</th>
                                        <th>Amount</th>
                                        <th>Income</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>                  
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            </div>
      </section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#date').bootstrapMaterialDatePicker
       ({
           clearButton: false
       });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }

        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
