@model IEnumerable<Vastwebmulti.Models.show_upi_txn_details_Result>
@using Vastwebmulti.Models;
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    ViewBag.Title = "UPIQR";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */
    /**
 * Extracted from: SweetAlert
 * Modified by: Success Payment
 */
    .qr_ex_buttona {
        cursor: pointer;
        background: var(--main-bg-lcolor);
        border-radius: 3px;
    }
    .pen::after {
        content: "";
        position: absolute;
        width: 44px;
        height: 122px;
        background: #ffffff4f;
        z-index: 1;
        top: -24px;
        transform: rotate(35deg);
        animation: l_to_r 4s linear infinite;
        background-image: linear-gradient(140deg, #FFF0 0%, #FF00AE00 50%, #BFD64100 75%);
    }

    @@keyframes l_to_r {
        0% {
            left: -74px;
        }

        100% {
            left: 100%;
        }
    }


    #successgenrate .qr_ex h2 {
        font-size: 32px;
    }
    #successgenrate .qr_ex p {
        font-size: 17px;
    }
    .qr_ex h2 {
        width: 100%;
        float: left;
        margin-bottom: 16px;
        margin-top: 0;
        font-size: 40px;
        color: #68820d;
    }
    .qr_ex p {
        float: left;
        width: 100%;
    }

.success-checkmark {
  width: 160px;
  height: 230px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 8px solid #4caf50;
}
    .success-checkmark .check-icon::before {
        top: 6px;
        left: -4px;
        width: 60px;
        transform-origin: 100% 50%;
        border-radius: 100px 0 0 100px;
    }
    .success-checkmark .check-icon::after {
        top: 0;
        left: 60px;
        width: 120px;
        transform-origin: 0 50%;
        border-radius: 0 100px 100px 0;
        animation: rotate-circle 4.25s ease-in;
    }
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 200px;
  position: absolute;
  /*background: #ffffff;*/
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 10px;
  background-color: #4caf50;
  display: block;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
}
    .success-checkmark .check-icon .icon-line.line-tip {
        top: 92px;
        left: 28px;
        width: 50px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
    }
    .success-checkmark .check-icon .icon-line.line-long {
        top: 76px;
        right: 16px;
        width: 94px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
    }
    .success-checkmark .check-icon .icon-circle {
        top: -8px;
        left: -8px;
        z-index: 10;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        border: 8px solid rgba(76, 175, 80, 0.5);
    }
    .success-checkmark .check-icon .icon-fix {
        top: 16px;
        width: 10px;
        left: 52px;
        z-index: 1;
        height: 170px;
        position: absolute;
        transform: rotate(-45deg);
        /*background-color: #ffffff;*/
    }

@@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 2px;
        top: 38px;
    }
    54% {
        width: 0;
        left: 2px;
        top: 38px;
    }
    70% {
        width: 100px;
        left: -16px;
        top: 74px;
    }
    84% {
        width: 34px;
        left: 42px;
        top: 96px;
    }
    100% {
        width: 50px;
        left: 28px;
        top: 90px;
    }
}

@@keyframes icon-line-long {
    0% {
        width: 0;
        right: 92px;
        top: 108px;
    }
    65% {
        width: 0;
        right: 92px;
        top: 108px;
    }
    84% {
        width: 110px;
        right: 0;
        top: 70px;
    }
    100% {
        width: 94px;
        right: 16px;
        top: 76px;
    }
}
    /* Success css  */

    .set_so {
        color: red;
        font-size: 72px;
        font-weight: 800;
        text-shadow: 1px 1px 1px #000;
        margin: 0;
    }
    .qr_ex_button {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
        .qr_ex_button a {
            padding: 6px 12px;
            border: 1px solid var(--main-bg-rcolor);
            border-radius: 3px;
            background: var(--main-bg-rcolor);
            color: #fff;
        }
    .qr_ex {
        width: 100%;
        float: left;
        text-align: center;
        padding: 20px;
    }
        .qr_ex img {
            margin: auto;
            width: 252px;
        }

    .swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
        width: 40em;
        font-size: 14px;
    }
    #timer {
        font-weight: 800;
        padding-left: 10px;
        padding-right:10px;
    }
    .set_time1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 5;
    }
    #divamount h3 {
        padding-bottom: 15px;
    }

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .set_time {
        width: 100%;
        float: left;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        color: #fff;
    }

        .set_time h3 {
            margin: 0;
            font-size: 20px;
            position: relative;
            z-index: 5;
        }

    @*#timer {
        animation: mymove 2s linear infinite;
    }*@
    @@keyframes mymove {
        0% {
            color: #fff;
        }

        50% {
            color: green;
        }

        100% {
            color: red;
        }
    }

    /* ------- new css -------- */

    .pen {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-image: linear-gradient(to right, #f20000, #0f8a28) !important;
        z-index: 2;
    }
    /* new css  */

    .loaders443 {
        width: 31px;
        height: 30px;
        border: 5px solid #FFF;
        border-bottom-color: #FF3D00;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    span {
        color: #fff !important;
    }

    section.content {
        margin: 87px 0px 0 164px;
    }

    .datepicker table tr td span {
        color: #555 !important;
    }
        .datepicker table tr td span.active {
            color: #fff !important;
        }

    .tab-menur li a::before {
        content: '';
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid #bbb;
        border-radius: 50%;
        margin: 2px 6px 0px 0px;
    }
    .tab-menur li a.active-ar::before {
        border-color: var(--main-bg-lcolor);
        background: var(--main-bg-lcolor);
    }

    .tab-menur li a.active-ar {
        color: var(--main-bg-lcolor);
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        padding-top: 0px !important;
        width: 100%;
        padding-left: 40px;
    }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-right .nav-tabs + .tab-content {
        padding: 5px !important;
    }

    .fund-trasfer-right .tab-content {
        height: 74vh;
    }

    .retailer-upitransfer {
        padding-right: 0;
    }

        .retailer-upitransfer .col-md-3 {
            padding-right: 0;
        }

            .retailer-upitransfer .col-md-3 label {
                font-size: 10px;
                text-transform: uppercase;
                margin-bottom: 0px !important;
            }

            .retailer-upitransfer .col-md-3 input {
                height: auto !important;
                min-height: 28px;
            }

        .retailer-upitransfer .col-md-3 {
            padding-left: 5px;
        }

    .retailer-upitransfer {
        margin-bottom: 8px;
        margin-top: -7px;
    }

    .retailer-upilastclass .fund-t-dalearretailer .date-sateclassee {
        width: 24%;
        padding-right: 5px;
    }

    .retailer-upilastclass .fund-t-dalearretailer .apiclass-satenew.apiclass-satenew-responshive.retailer-addupiclass {
        width: 24%;
        padding-right: 5px !important;
    }

    .retailer-upilastclass .apiclass-satenew.apiclass-satenew-responshive.apiclass-satenewnewclas {
        width: 16%;
    }

    .retailer-upilastclass .fund-t-dalearretailer .apiclass-satenew.apiclass-satenew-responshive.retailer-addupiclass button {
        background: var(--main-bg-lcolor);
        color: #fff;
    }

    .retailer-upitransfer .col-md-3 .btn.btn-success {
        background: #eeebeb !important;
        color: #555 !important;
    }

    .fundtransfer-retailerupi .modal-dialog {
        width: 40%;
        float: right;
    }
        .fundtransfer-retailerupi .modal-dialog .form-group label {
            font-size: 13px;
        }

        .fundtransfer-retailerupi .modal-dialog .col-md-12 {
            padding-left: 6px;
            padding-right: 6px;
        }

        .fundtransfer-retailerupi .modal-dialog .modal-header {
            padding: 15px 15px;
        }

    .fundtransfer-retailerupi .modal-dialog {
        width: 40%;
    }
        .fundtransfer-retailerupi .modal-dialog .form-group input.btn.btn-default {
            background: #ddd !important;
            float: right;
            padding: 8px 15px;
            height: auto;
        }

    .dropdown-menu.datepicker-dropdown.datepicker {
        margin-top: 99px !important;
    }

    .upi-retailer-date .date-sateclassee input {
        border: 1px solid #555;
    }

    .upi-retailer-date .apiclass-satenewnewclas button {
        border-color: #555 !important;
    }

    .upi-retailer-date .date-sateclassee .custom-date-icon {
        border-color: #555 !important;
        height: 29px !important;
        top: 1px !important;
    }

    .upi-retailer-datepdf .col-md-4.date-sateclassee {
        width: 20%;
        float: left;
    }

    .upi-retailer-datepdf .col-md-2.apiclass-satenew {
        width: 14% !important;
    }

    .upi-retailer-datepdf .col-md-4.date-sateclassee input {
        text-align: right;
        font-size: 14px;
    }

    .upi-retailer-datepdf .col-md-2.apiclass-satenew.apiclass-satenew-responshive.retailer-addupiclass {
        width: 24% !important;
    }

    .upi-retailer-datepdf .col-md-3.buttonPdf.retailer-pdf-second {
        padding-left: 0px !important;
        padding-right: 5px;
        padding-top: 1px !important;
    }
        .upi-retailer-datepdf .col-md-3.buttonPdf.retailer-pdf-second button {
            background-color: #fff !important;
            border: 1px solid #555 !important;
            color: #555;
            height: 30px;
        }


    @@media screen and (max-width:1366px) {
        .retailer-upitransfer {
            margin-top: 0;
        }

        .bread-same-all-page.allpage-responshivenew ul {
            margin-top: 5px;
        }

        .upi-retailer-datepdf .col-md-4.date-sateclassee .custom-date-icon {
            width: 26px;
        }
    }

    @@media screen and (max-width:992px) {
        .retailer-upitransfer {
            width: 100% !important;
            float: left;
        }

            .retailer-upitransfer .col-md-3 {
                width: 25%;
                float: left;
            }

                .retailer-upitransfer .col-md-3 label, .retailer-upitransfer .col-md-3 input {
                    width: 100%;
                    float: left;
                }

        .col-md-12.retailer-upitransfer {
            padding: 0;
        }
    }

    @@media screen and (max-width:990px) {
        #GenrateQr {
            padding-top: 4px;
        }
    }

    @@media screen and (max-width:767px) {
        .allpage-responshivenew ul li {
            margin-bottom: 6px;
        }

        .allpage-responshivenew {
            padding: 0px 0;
        }

        .col-md-8, .col-md-4.servicepaidreport {
            padding-left: 15px;
        }
    }

    @@media screen and (max-width:766px) {

        .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li {
            width: 100% !important;
            float: left !important;
            border: 0px !important;
            text-align: center;
        }

            .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li a {
                width: 100% !important;
                float: none !important;
                text-align: center;
            }

                .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li a label .fund-fistory sub {
                    position: static;
                    display: block;
                }

                .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li a .fund-fistory {
                    text-align: center;
                    width: 100%;
                }

                .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li a label .fa.fa-caret-down {
                    display: none;
                }

        .retailer-upilastclass-second ul.responsive-sateulce li .col-md-4, .retailer-upilastclass-second ul.responsive-sateulce li .col-md-2 {
            float: left;
        }

        .retailer-upilastclass-second ul.responsive-sateulce {
            padding-bottom: 10px;
            padding-left: 4px;
        }

        .bread-same-all-page.allpage-responshivenew ul {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .upi-retailer-datepdf .col-md-3.buttonPdf.retailer-pdf-second {
            display: block;
        }

        .upi-retailer-datepdf .col-md-4.date-sateclassee {
            width: 50%;
            margin-bottom: 5px;
        }

            .upi-retailer-datepdf .col-md-4.date-sateclassee input {
                text-align: center;
            }

        .upi-retailer-datepdf .col-md-2.apiclass-satenew.apiclass-satenew-responshive.retailer-addupiclass {
            width: auto !important;
        }

            .upi-retailer-datepdf .col-md-2.apiclass-satenew.apiclass-satenew-responshive.retailer-addupiclass button {
                padding: 0 4px !important;
            }

        .fourthdesign-retailer-allnone .col-md-4, .fourthdesign-retailer-allnone .col-md-8 {
            padding-left: 0;
        }
    }

    @@media screen and (max-width:480px) {

        #successgenrate .qr_ex h2 {
            font-size: 24px;
        }
        #successgenrate .qr_ex p {
            font-size: 14px;
        }
        .success-checkmark {
            width: 177px;
            height: 224px;
        }
        #successgenrate .qr_ex_button a {
            margin-bottom: 5px;
        }
        .qr_ex_button a {
            width: 100%;
            float: left;
        }
        .qr_ex_buttona {
            margin-bottom: 5px;
            width: 100%;
            float: left;
        }
        .set_so {
            font-size: 45px;
        }
        .qr_ex h2 {
            font-size: 30px;
        }
        .qr_ex img {
            width: 220px;
        }
        .qr_ex_button {
            display: block;
        }
        #divamount h3 {
            font-size: 18px;
            padding-bottom: 0;
        }
        .set_time h3 {
            font-size: 16px;
        }
        #timer {
            font-size: 16px !important;
        }

        .retailer-upilastclass-second ul.responsive-sateulce li .col-md-4 {
            width: 50%;
            margin-bottom: 5px;
        }

        .retailer-upilastclass-second ul.responsive-sateulce li .col-md-2 {
            width: auto !important;
            float: left;
        }

            .retailer-upilastclass-second ul.responsive-sateulce li .col-md-2 button {
                padding: 0 15px !important;
            }

        .retailer-upilastclass-second .fund-user-right ul.responsive-sateulce li {
            padding: 0px !important;
        }

        .scan-first button p {
            font-size: 30px;
        }

        .scan-first button {
            font-size: 50px;
        }
    }


    @@media screen and (max-width:420px) {
        #leftsidebar.sidebar.retailer-header-left, .second-design #leftsidebar.retailer-header-left.header-left-newresponshive.newresponshive-secondde {
            margin-top: -78px !important;
        }
        .set_time h3 {
            font-size: 14px;
        }

        #timer {
            font-size: 14px !important;
        }
    }

    @@media screen and (max-width:375px) {
        .retailer-upitransfer .col-md-3 {
            width: 50%;
            float: left;
        }
    }
</style>
<style>
    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->
        <div class="page-title-box-fourde">
            <h3>Upi Transfer</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Upi Transfer</a></li>
            </ul>
        </div>
        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page allpage-responshivenew">
                <ul style="width:auto;float:left;margin:0px;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>
                    <li class="smli">
                        <a href="@Url.Action("UPIQR","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Add Wallet By UPI QR&nbsp;
                        </a>
                    </li>
                    @*<li><input type="button" id="btnUPIreq" class="btn btn-success" name="btnUPIreq" value="Show Manual UPI REQ" /></li>*@
                </ul>
                @*<div class="col-md-12 retailer-upitransfer" style="float:right;width:auto;">
                        <div class="col-md-3">
                            <label>TOTAL SUCCESS</label> <input type="button" class="btn btn-success col-md-12" style="color:white;" value="@totalsuccess" />
                        </div>
                        <div class="col-md-3">
                            <label>TOTAL Pending</label> <input type="button" class="btn btn-warning  col-md-12" style="color:white;" value="@penamount" />
                        </div>

                        <div class="col-md-3">
                            <label>TOTAL Failed</label>  <input type="button" class="btn btn-success  col-md-12" style="color:white;" value="@totalfailamnt" />
                        </div>

                        <div class="col-md-3">
                            <label>TOTAL Charges</label> <input type="button" class="btn btn-success  col-md-12" style="color:white;" value="@totalcharges" />
                        </div>

                    </div>*@
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div class="row clearfix four-design-table-design">
            <div class="col-md-4">
                <div class="page-header-third">
                    <div class="fund-trasfer-left fund-user-left">

                        @*<ul class="nav nav-tabs tabtypeschages" id="tabs">
                                @if (UPIQRBASEPRICEset == null)
                                {
                                    <li class="tab-link current active tabChangeType" style="width:100% !important;" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true" style="font-size: 18px !important;font-weight: 600;">+ Wallet By QR Code (UPI)</a></li>
                                }
                                else if (UPIQRBASEPRICEset != null && UPIQRBASEPRICEset.status == true)
                                {

                                    <li class="tab-link current active tabChangeType" style="width:100% !important;" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true" style="font-size: 18px !important;font-weight: 600;">+ Price Base QR Code(UPI)</a></li>


                                }
                            </ul>*@
                        <div class="width100 float-left ">
                            @*@if (UPIQRBASEPRICEset == null)
                                {*@
                            <div id="home" class="width100 float-left tab-pane fade active in newaddclasstghghg changeback-four-design" style="background: var(--second-bg-color);min-height:599px;">
                                <div class="scan-outer">

                                    <!-- new   --->
                                    <div id="qrregenrate" style="display:none">

                                        <div class="qr_ex">
                                            <div style="width: 100%; float: left; padding-bottom: 2px; ">
                                                <img src="https://i.ibb.co/Vv6ynb2/bin-unscreen.gif" alt="QR Code Expired" />
                                            </div>
                                            <p class="set_so"><i>Sorry !</i></p>
                                            <h2>QR Code Expired</h2>
                                            <p>
                                                QR code has expired, please re-generate a new QR code if you need to make payment. Remember don't use this QR Code after expiry does not receive any benefit.
                                            </p>
                                            <div class="qr_ex_button">
                                                <div onclick="location.reload();" style="cursor: pointer;"><a style="background: var(--main-bg-lcolor); border: 1px solid var(--main-bg-lcolor); ">Re-Generate QR Code</a></div>

                                                <a href="@Url.Action("Dashboard", "Home")">Go To Dashboard</a>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- new   --->
                                    <!-- new   --->
                                    <div id="successgenrate" style="display:none;">

                                        <div class="qr_ex">
                                            <div style="width: 100%; float: left; padding-top: 27px; border-radius: 4px;">
                                                <div class="success-checkmark">
                                                    <div class="check-icon">
                                                        <span class="icon-line line-tip"></span>
                                                        <span class="icon-line line-long"></span>
                                                        <div class="icon-circle"></div>
                                                        <div class="icon-fix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h2 style="color: #333333;">Payment Successfull</h2>
                                            <p>
                                                Payment has been successfully updated in your wallet. Check the Add Money report if you need more details.
                                            </p>

                                            <div class="qr_ex_button">
                                                <a style="background: var(--main-bg-lcolor); border: 1px solid var(--main-bg-lcolor); " href="">Payment Again</a>
                                                <a style=" " href="@Url.Action("Dashboard", "Home")">Go To Dashboard</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- new   --->


                                    @if (ViewBag.msg == "OK")
                                    {

                                        if (ViewBag.Api == "ICICI")
                                        {
                                            if (ViewBag.set == "NOTOK")
                                            {
                                                <div class="scan-first">
                                                    @using (Html.BeginForm("UPITRANSFER_add_QR", "Home", FormMethod.Post))
                                                    {
                                                        <button type="submit" style="border: 1px solid #aaa4a4; background: #fff;">
                                                            <p style="text-align:center;"> Generate</p> QR Code
                                                        </button>
                                                    }
                                                    <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.chkmsg </p>

                                                </div>
                                            }
                                            else
                                            {
                                                <img src="@ViewBag.QRCodeImage" alt="" style=" border:5px solid black;max-width:100%;" />


                                            }

                                        }
                                        else if (ViewBag.Api == "PAYU")
                                        {
                                            if (ViewBag.set == "NOTOK")
                                            {
                                                <div class="scan-first">
                                                    @using (Html.BeginForm("UPITRANSFER_add_QR", "Home", FormMethod.Post))
                                                    {
                                                        <button type="submit" style="border: 1px solid #aaa4a4; background: #fff;">
                                                            <p style="text-align:center;"> Generate</p> QR Code
                                                        </button>
                                                    }
                                                    <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.chkmsg </p>

                                                </div>
                                            }
                                            else
                                            {
                                                <img src="@ViewBag.QRCodeImage" alt="" style=" border:5px solid black;max-width:100%;" />


                                            }
                                        }
                                        else if (ViewBag.Api == "RADIANT")
                                        {
                                            if (ViewBag.respmsg == "OK")
                                            {

                                                <div id="showgenrateform">
                                                    <div class="form-group">
                                                        <div id="divamount" class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                <label>Amount </label>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">

                                                                @Html.TextBox("txtamount", "", new { @type = "number", @class = "form-control", placeholder = "Enter Amount" })
                                                            </div>
                                                        </div>

                                                        <div id="divotp" class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 3px; display: none;">
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                <label>OTP </label>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                @Html.Hidden("hiderefid")
                                                                @Html.Hidden("hideotprefid")
                                                                @Html.TextBox("txtotp", "", new { @type = "number", @class = "form-control", placeholder = "Enter OTP" })
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 3px;">
                                                            <div id="createotp" class="col-md-3 col-sm-3 col-xs-3">
                                                                <button onclick="Subscription()" class="btn btn-primary">Send OTP</button>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 3px;">
                                                            <div id="submitotp" class="col-md-3 col-sm-3 col-xs-3" style="display:none;">
                                                                <button onclick="Submitotp()" class="btn btn-primary">Genrate QR</button>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div id="radiqrcodeshow" style="display:none">

                                                    <img id="showqrradiantimg" alt="" style=" border:5px solid black;max-width:100%;" />
                                                </div>
                                                <p id="txtmsginfo" style="color: red; text-align: center; font-weight: bold; "> </p>
                                            }
                                            else
                                            {
                                                <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.respmsg </p>
                                            }

                                        }
                                        else if (ViewBag.Api == "PAYTM")
                                        {
                                            if (ViewBag.respmsg == "OK")
                                            {

                                                <div id="paytmshowgenrateform" style=" margin-top: 18px;display:block;">
                                                    <div class="form-group">
                                                        <div id="divamount" class="">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <h3 style=" margin-top: 0; ">Enter Amount And Generate QR</h3>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 col-xs-8">

                                                                @Html.TextBox("paytmamounts", "", new { @type = "number", @class = "form-control", placeholder = "Enter Amount" })

                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-xs-4" style="">
                                                                <div id="GenrateQr" class="">
                                                                    <button id="generatte" onclick="generatepaytmqr()" class="btn btn-primary">Generate QR</button>
                                                                </div>
                                                            </div>
                                                            <div id="payidmess" style="color:red"></div>
                                                        </div>



                                                    </div>

                                                </div>
                                                <div id="paytmqrcodeshow" style="display:none">
                                                    <div class="set_time">

                                                        <div class="set_time1">
                                                            <h3>This QR Will Expire After </h3>
                                                            <div style=" font-size: 20px; " id=timer></div>
                                                        </div>
                                                        <h3>Minutes</h3>

                                                        <div class="pen">
                                                            
                                                        </div>
                                                    </div>
                                                    <img id="qrCodeImage" style="width:100%" src="" alt="QR Code will appear here">

                                                </div>


                                            }
                                            else
                                            {
                                                <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.msg </p>
                                            }

                                        }
                                        else if (ViewBag.Api == "PHONE PE")
                                        {
                                            if (ViewBag.respmsg == "OK")
                                            {

                                                <div id="Phonepeshowgenrateform" style=" margin-top: 18px;display:block;">
                                                    <div class="form-group">
                                                        <div id="divamount" class="">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <h3 style=" margin-top: 0; ">Enter Amount And Generate QR</h3>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 col-xs-8">

                                                                @Html.TextBox("Phonepeamounts", "", new { @type = "number", @class = "form-control", placeholder = "Enter Amount" })

                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-xs-4" style="">
                                                                <div id="GenrateQr" class="">
                                                                    <button id="generatte" onclick="generatePhonepeqr()" class="btn btn-primary">Generate QR</button>
                                                                </div>
                                                            </div>
                                                            <div id="payidmessss" style="color:red"></div>
                                                        </div>



                                                    </div>

                                                </div>
                                                <div id="phonepeqrcodeshow" style="display:none">
                                                    <div class="set_time">

                                                        <div class="set_time1">
                                                            <h3>This QR Will Expire After </h3>
                                                            <div style=" font-size: 20px; " id=timerss></div>
                                                        </div>
                                                        <h3>Minutes</h3>

                                                        <div class="pen">
                                                            <div class="panel">
                                                                <div class="scroll"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img id="qrCodeImagess" style="width:100%" src="" alt="QR Code will appear here">

                                                </div>


                                            }
                                            else
                                            {
                                                <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.msg </p>
                                            }

                                        }
                                        else if (ViewBag.Api == "BHARAT PE")
                                        {
                                            if (ViewBag.respmsg == "OK")
                                            {

                                                <div id="bharatpeshowgenrateform" style=" margin-top: 18px;display:block;">
                                                    <div class="form-group">
                                                        <div id="divamount" class="">
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <h3 style=" margin-top: 0; ">Enter Amount And Generate QR</h3>
                                                            </div>
                                                            <div class="col-md-8 col-sm-8 col-xs-8">

                                                                @Html.TextBox("bharatpeamounts", "", new { @type = "number", @class = "form-control", placeholder = "Enter Amount" })

                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-xs-4" style="">
                                                                <div id="GenrateQr" class="">
                                                                    <button id="generattes" onclick="generatebharatpeqr()" class="btn btn-primary">Generate QR</button>
                                                                </div>
                                                            </div>
                                                            <div id="bharatidmesssss" style="color:red"></div>
                                                        </div>



                                                    </div>

                                                </div>
                                                <div id="bharatpeqrcodeshow" style="display:none">
                                                    <div class="set_time">

                                                        <div class="set_time1">
                                                            <h3>This QR Will Expire After </h3>
                                                            <div style=" font-size: 20px; " id=timerssss></div>
                                                        </div>
                                                        <h3>Minutes</h3>

                                                        <div class="pen">
                                                            <div class="panel">
                                                                <div class="scroll"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img id="qrCodeImagesss" style="width:100%" src="" alt="QR Code will appear here">
                                                    <button id="utrsubmitbutton">Enter UTR NO.</button>
                                                </div>


                                            }
                                            else
                                            {
                                                <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.msg </p>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        <p style="color: red; text-align: center; font-weight: bold; ">@ViewBag.msg </p>
                                    }
                                    @if (ViewBag.Api != "PAYTM")
                                    {
                                        <div class="scan-third scan-third-responshive" style="width:100%;float:left;">
                                            <ol>
                                                <li>You can Not update the amount in your wallet by scanning the QR code.</li>
                                                <li>You can print a hard copy of the QR code and update through all the UPI wallets.</li>
                                                <li>Refresh the page after the customer's payment process is complete, you will get the transaction status report on the page, and after deducting the Charges on the success transaction, the balance will be updated in your wallet.</li>
                                            </ol>
                                            <table class="table table-bordered table-striped table-hover" style="width:96%;margin: 0px 2%;">
                                                <tr>
                                                    <th colspan="2"><center>Charges</center></th>
                                                </tr>
                                                <tr>
                                                    <td>Minimum Fix Charge (In Rupees)</td>
                                                    <td>@ViewBag.min&nbsp;₹</td>
                                                </tr>
                                                <tr>
                                                    <td> Charges (In Precentage)</td>
                                                    <td>@ViewBag.charge&nbsp;%</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                            @* }*@
                            @*else if (UPIQRBASEPRICEset != null && UPIQRBASEPRICEset.status == true)
                                {

                                    <div id="home" class="width100 float-left tab-pane fade active in newaddclasstghghg changeback-four-design" style="background: var(--second-bg-color);min-height:599px;">
                                        <div class="scan-outer">
                                            @if (ViewBag.set == "NOTOK")
                                            {
                                                <div class="" id="contentshowhide" style="margin: 36px;">
                                                    <ul class="nav nav-tabs tab-seconddesign sign tab-third-design col-md-12" id="tabs" style="display: flex; padding: 0px;">
                                                        @if (cfreeapi != null || phonepeapi != null)
                                                        {
                                                            <li class="tab-link active hovof" data-tab="tab-1" style="width: 50%; border-right: 1px solid #fff; cursor: pointer; text-align: center; background: #c1c1c1;"><a style="cursor: pointer;" data-toggle="tab" onclick="generateqr_opt();">QR&nbsp;Code</a></li>
                                                            <li class="tab-link hovof" style="width: 50%; text-align: center; background: #c1c1c1; cursor: pointer;"><a style="cursor: pointer;" data-toggle="tab" onclick="requestupi_opt()">UPI&nbsp;Request</a></li>
                                                            if (phonepeapi != null)
                                                            {

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li class="tab-link active hovof" data-tab="tab-1" style="width: 100%; border-right: 1px solid #fff; cursor: pointer; text-align: center; background: #c1c1c1;"><a style="cursor: pointer;" data-toggle="tab" onclick="generateqr_opt();">QR&nbsp;Code</a></li>
                                                        }
                                                    </ul>

                                                    @using (Html.BeginForm("GenerateQrBasePrice", "Home", FormMethod.Post))
                                                    {
                                                        <div class="genrateamt" style="text-align: center; width: 100%; margin-top: 35px;">
                                                            <label style="display: block; float: left; margin-top: 35px;">Enter Amount</label>
                                                            <input class="form-control" type="number" id="txtgenerateamnt" name="txtgenerateamnt" value="" required placeholder="Enter Amount" style=" width: 100%; height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                        </div>
                                                        <div class="genrateamt" style="text-align: center; width: 100%; display:none; " id="cardbox">


                                                            <div>
                                                                <label style="display: block; float: left; margin-top: 15px;">Card Number</label>
                                                                <input class="form-control" type="text" id="txtdebitCardnumber" name="txtdebitCardnumber" value="" placeholder="Enter Card Number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="19" autocomplete="off" style=" width: 100%; height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                            </div>
                                                            <div>
                                                                <label style="display: block; float: left; margin-top: 15px;">Name on Card</label>
                                                                <input class="form-control" type="text" id="txtdebitCardname" name="txtdebitCardname" value="" placeholder="Enter name as on card" style=" width: 100%; height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                            </div>
                                                            <div style="display:flex; flex-direction:row; margin-top: 15px; width:100%;">
                                                                <div style="flex-direction: column; width: 50%; float: left; margin-right: 20px; ">
                                                                    <label style="display: block; float: left !important;">Expiry</label><br />
                                                                    <input class="form-control" type="text" id="inputExpDate" name="inputExpDate" value="" maxlength='5' placeholder="MM/YY" onkeyup="formatString(event);"
                                                                           style="height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                                </div>
                                                                <div style="display:flex; flex-direction:column; float:left; width:50%;">
                                                                    <label style="display: block; float: left !important; width: 10px;">CVV</label>
                                                                    <input class="form-control" type="password" id="inputcvv" name="inputcvv" value="" maxlength='3' placeholder="CVV" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                                           style="height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <div class="genrateamt" style="text-align: center; width: 100%; display: none; margin-top: 14px; " id="upibox">
                                                            <label style="display: block; float:left;">Enter UPI ID</label>
                                                            <input class="form-control" type="text" id="Requestedupiid" name="Requestedupiid" value="" placeholder="Enter UPI ID" style="display: none; width: 100%; height: 30px; border-radius: 0px; border: 1px solid #555; padding: 0 10px;">
                                                        </div>
                                                        <div style="display:flex;">
                                                            <button onclick="spinnerhd1212()" type="submit" id="upisubmit"
                                                                    style=" border-radius: 50px; border: none; color: #fff; padding: 5px 10px; width: 100%; margin-top: 20px; font-size: 19px; font-weight: 600; text-align: center; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; }">
                                                                Generate QR
                                                            </button>
                                                            <i id="showspinner44" class="loaders443" style=" margin: 24px 0 0 -37px;display:none;"></i>
                                                        </div>
                                                    }

                                                </div>
                                                <div id="upispinner22" style=" display: none; width: 100%; height: 91px; position: absolute; top: -63px; left: 0; ">
                                                    <img src="~/AdminDesign/images/spinner.gif" style="width: 100%; filter: opacity(0.5); " />

                                                </div>
                                                <a href="@Url.Action("UPITRANSFER", "Home")" onclick="oncliktoremovetext()" id="gobackshow" class="fullbodydycolorbg tmw-total-color-one" style="font-size: 18px; font-weight: bold; margin-left: 10px; margin-top: 15px; display: none; ">
                                                    Go Back&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                                </a>
                                                <div id="MessageShoHidecollect" style="display: none; margin: 7px 89px;"></div>
                                                <div id="hidemsg1212" style="margin-top: 21px !important; font-size: 20px; font-family: serif; text-align:center;">
                                                    <span id="msgg" style="color: red !important;"></span>
                                                    <span id="msggcollect" style="color: red !important; background-color: white;"></span>
                                                </div>
                                            }
                                            <p style="color:red;text-align:center; font-weight:bold;">@ViewBag.msg </p>
                                            @if (TempData["QRCodeImage"] != null)
                                            {
                                                <a href="@Url.Action("UPITRANSFER", "Home")" onclick="oncliktoremovetext()" class="fullbodydycolorbg tmw-total-color-one" style="font-size: 18px; font-weight: bold; margin-left: 10px;">
                                                    Go Back&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                                </a>
                                            }
                                            <div style="width: 60%;float:none;text-align: center;padding-bottom: 15px;padding-top: 10px;margin: 0px auto;">
                                                @if (TempData["QRCodeImage"] != null)
                                                {
                                                    <div id="QrShowHide">
                                                        <img src="@TempData["QRCodeImage"]" alt="" style=" border:5px solid black;max-width:100%;margin-bottom:21px;" />
                                                        <div>
                                                            <span id="countDownShow" style="color: red !important; background-color: white; font-size: 20px; font-family: serif;"></span>
                                                        </div>
                                                    </div>
                                                    <div id="MessageShoHide" style="display:none;"></div>

                                                }


                                            <div class="scan-third scan-third-responshive" style="width:100%;float:left;">
                                                <ol>
                                                    <li>You can update the amount in your wallet by scanning the QR code.</li>
                                                    <li>You can print a hard copy of the QR code and update through all the UPI wallets.</li>
                                                    <li>Refresh the page after the customer's payment process is complete, you will get the transaction status report on the page, and after deducting the Charges on the success transaction, the balance will be updated in your wallet.</li>
                                                </ol>
                                                <table class="table table-bordered table-striped table-hover" style="width:96%;margin: 0px 2%;">
                                                    <tr>
                                                        <th><center>Min Amount</center></th>
                                                        <th><center>Max Amount</center></th>
                                                    </tr>
                                                    <tr>
                                                        <td>@UPIQRBASEPRICEset.minmium</td>
                                                        <td>@UPIQRBASEPRICEset.maximium</td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                }*@

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8 retailer-upilastclass retailer-upilastclass-second">
                <div class="page-header-third">
                    <div class="fund-trasfer-right fund-user-right">
                        <ul class="nav nav-tabs responsive-sateulce" id="tabs">
                            <li class="tab-link current active firstclassactive" data-tab="tab-1" style="width:22%;">
                                <a data-toggle="tab" aria-expanded="true" style="padding: 0px 10px;float:left;">
                                    <label class="for-change-fund">
                                        <span class="fund-fistory">History<sub class="tmw-total-color-one fullbodydycolorbg">By upi QR Code</sub></span>
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </label>
                                </a>
                            </li>
                            <li class="upi-retailer-date upi-retailer-datepdf" style="width:75%;float: right;margin-top: 4px;margin-right:1px;">
                                <div class="row fund-t-dalear fund-t-dalearretailer" style="margin:0;">
                                    @using (Html.BeginForm("UPITRANSFER", "Home", FormMethod.Post))
                                    {
                                        <div class="input-daterange input-group">
                                            <div class="col-md-4 date-sateclassee" style="padding-left: 0px;">
                                                <div class="custom-date-icon" style="height: 32px;border-top: 0;border-bottom: 0;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date")

                                            </div>
                                            <div class="col-md-4 date-sateclassee" style="padding-left: 0px;">
                                                <div class="custom-date-icon" style="height: 32px;border-top: 0;border-bottom: 0;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @style = " margin-top: 1px !important;" })

                                            </div>

                                            <div class="col-md-2 apiclass-satenew apiclass-satenew-responshive apiclass-satenewnewclas" style="padding:0px;">
                                                <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="border:1px solid #fff;padding:0px 15px;float:left;position:relative;height: 30px;top: 1px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                                </button>
                                            </div>
                                            <div class="col-md-3 buttonPdf retailer-pdf-second" style="text-align:right;margin:0px;float:right;width:auto;padding-top: 3px;padding-left: 5px;">

                                                <button>PDF</button>
                                                <button>Export</button>

                                            </div>
                                            @*<div class="col-md-2 apiclass-satenew apiclass-satenew-responshive retailer-addupiclass" style="padding:0px;float:right;">
                                                    <button type="button" class="btnssl22" data-toggle="modal" data-target="#fundtransfer" style="border:1px solid #fff;padding:0px 15px;float:left;position:relative;height: 30px;top: 1px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                        UPI Manual Request
                                                    </button>
                                                </div>*@

                                        </div>
                                    }
                                </div>
                            </li>

                        </ul>
                        <div id="tab-1" class="width100 float-left tab-content current changeback-four-design" style="overflow:auto;">

                            <div class="table-responsive tblshowMasterclassadd tablethirddesign-newnew" style="width:100%;overflow:auto;">
                                <table id="btnUPIreqnonetable" class="table table-bordered table-striped table-hover fourdesign-data-table">
                                    <thead style="background-color:whitesmoke;">

                                        <tr>

                                            <th>Payer&nbsp;Name</th>
                                            @*<th>Payer&nbsp;Mobile</th>*@
                                            <th>Amount</th>
                                            <th>Charges</th>
                                            <th>Net&nbsp;Received</th>
                                            <th>Bank RRN</th>
                                            <th>Transaction&nbsp;Time</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var img = "";
                                            var bgcolor = "";
                                            if (item.status.ToUpper() == "SUCCESS")
                                            {
                                                img = "../../ashok-images/correct.svg";
                                                bgcolor = "green";

                                            }
                                            else if (item.status.ToUpper() == "PENDING")
                                            {
                                                img = "../../ashok-images/clkk.png";
                                                bgcolor = "#FF9800";
                                            }
                                            else
                                            {
                                                img = "../../ashok-images/closes.svg";
                                                bgcolor = "red";
                                            }
                                            <tr>
                                                <td class="status-failsuccessa"><img src='@img' style="width: 20px; background:@bgcolor;">&nbsp;@item.PayerName</td>
                                                @*<td>9166940603</td>*@
                                                <td>@item.amt</td>
                                                <td>@item.charge</td>
                                                <td>@item.finalpay</td>
                                                @if (item.ApprovalRefNo == null || item.ApprovalRefNo == "null" || item.ApprovalRefNo == "")
                                                {
                                                    <td>@item.BankRRN</td>
                                                }
                                                else
                                                {
                                                    <td>@item.ApprovalRefNo</td>
                                                }
                                                <td>@item.txndate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div id="btnUPIreqnonetableSecond" style="display:none;">

                                </div>


                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>



<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

<style>

    .tab-menur ul {
        margin: 0;
        padding: 0;
    }
        .tab-menur ul li {
            width: 50%;
            text-align: center;
        }

        .tab-menur ul li {
            float: left;
        }
</style>

<script>
    $(document).ready(function () {
        var cchhh = '@ViewData["upi_msg"]';
        if (cchhh != null) {
            $('#msgg').text(cchhh);
            setTimeout(() => {
                document.getElementById('msgg').style.display = "none";
            }, 4000)
        }

         var cchhhcollect = '@TempData["UPICollect"]';
        if (cchhhcollect != '') {


            if (`@TempData["GetUniqueid"]` != '') {
                let xx = setInterval(() => {
                    document.getElementById('upispinner22').style.display='block'
                })
                setTimeout(() => {
                    clearInterval(xx);
                    document.getElementById('upispinner22').style.display = 'none'
                },4000)


                let deadline = new Date().getTime() + 482000;
                let x = setInterval(() => {


                    let requestUrlResp = '@TempData["GetUniqueid"]'
                    $.ajax({
                        url: '@Url.Action("UPIAUTOSERVICE", "Home")',
                        data: { generatedid: requestUrlResp },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            var status = data.status;
                            var upists = data.upists;
                            var refid = data.refid;
                            var amount = data.amount;


                            let y = setInterval(() => {
                                let now = new Date().getTime();
                                let t = deadline - now;
                                let seconds = Math.floor((t % (1000 * 482)) / 1000);
                                document.getElementById("contentshowhide").style.display = "none";
                                document.getElementById("gobackshow").style.display = "block";
                                document.getElementById("msggcollect").innerHTML = "Please wait for " + seconds + " seconds to get the payment request response";
                                if ((status == "SUCCESS")) {
                                    clearInterval(y);
                                    clearInterval(x);

                                    document.getElementById("msggcollect").style.display = "none";
                                    document.getElementById('hidemsg1212').style.display = 'none'
                                    if (upists == "FAILED" || upists == "Failed") {

                                        document.getElementById('MessageShoHidecollect').style.cssText = `display: block; color: red;`;
                                    }
                                    else {
                                        document.getElementById('MessageShoHidecollect').style.cssText = `display: block; color: green;`;

                                    }
                                    document.getElementById('MessageShoHidecollect').innerHTML = `STATUS: ${upists} <br> BANKRR NO : ${refid} <br> AMOUNT : ${amount} `;
                                    setTimeout(() => {
                                        document.getElementById('MessageShoHidecollect').innerHTML = 'Plese go back your trangection has complete successfully.';
                                    }, 20000)
                                }
                                else if (status == "FAILED") {

                                    if (seconds <= 0) {
                                        clearInterval(y);
                                        clearInterval(x);
                                        document.getElementById("msggcollect").style.display = "none";
                                        document.getElementById('hidemsg1212').style.display = 'none'
                                        document.getElementById('MessageShoHidecollect').style.cssText = `display: block; color: red;`;
                                        document.getElementById('MessageShoHidecollect').innerHTML = "No Response Found Please Go Back";
                                    }
                                }
                            }, 1000)
                            function oncliktoremovetext() {
                                document.getElementById("countDownShow").style.display = "none";
                            }

                        }
                    })

                }, 3000)
            }
        }

        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>

<script>
    $('.scan-first').click(function () {
        $(this).hide();
        $('.scan-Second').show();
    });
</script>


<script>
    $(document).ready(function () {
        $(".date-sateclassee input").click(function () {
            $(".datepicker").addClass('daqqqqkerrteyyecharge');
        });
    });
</script>

<script>
    $('#btnUPIreq').click(function () {
        $("#btnUPIreqnonetable").hide();
        $("#btnUPIreqnonetableSecond").show();

     $.ajax({
                url: '@Url.Action("Show_UPImanual_Request", "Home")',
                type: 'POST',

         success: function (data) {

             $('#btnUPIreq').val($('#btnUPIreq').val() == 'Show Manual UPI REQ' ? 'SHOW UPI HISTORY' : 'Show Manual UPI REQ.');
             if ($('#btnUPIreq').val() == "SHOW UPI HISTORY") {
                 $("#btnUPIreqnonetable").hide();
                 $('#btnUPIreq').val('SHOW UPI HISTORY')
                 $("#btnUPIreqnonetableSecond").html(data)
                 $("#btnUPIreqnonetableSecond").show();


             }
             else {
                 $('#btnUPIreq').val('Show Manual UPI REQ')
                 $("#btnUPIreqnonetable").show();
                 $("#btnUPIreqnonetableSecond").hide();
             }

                },
                error: function (data) {
                }
            });

    });

</script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
           if (@ViewData["UPICollect"] != null) {

               swal("Requested Successfully", "Please Check Your UPI App", "success");
           }
    </script>*@
<script>
    function generateqr_opt() {
        $('#Requestedupiid').hide();
        $('#cardbox').hide();
        $('#upibox').hide();
        $('#Requestedupiid').val('');
        $('#upisubmit').text("Generate QR");
        document.getElementById("Requestedupiid").required = false;
    }

    let upicollectloader = "";
    function requestupi_opt() {
        $('#Requestedupiid').show();
        $('#cardbox').hide();
        $('#upibox').show();
        $('#upisubmit').text("Request By UPI");
        document.getElementById("Requestedupiid").required = true;
        upicollectloader = "UpiLoader";

    }
    function requestdebit() {
        $('#Requestedupiid').hide();
        $('#cardbox').show();
        $('#upibox').hide();
        $('#Requestedupiid').val('');
        $('#upisubmit').text("Debit Request");
        document.getElementById("Requestedupiid").required = false;

    }
    function spinnerhd1212() {
        let chkid = document.getElementById('txtgenerateamnt').value
        let chkupid22 = document.getElementById("Requestedupiid").value

        if (chkid != "" && chkupid22 != "" && upicollectloader == "UpiLoader") {
            document.getElementById('showspinner44').style.display = "block";
            setTimeout(() => {
                document.getElementById('showspinner44').style.display = "none";
            }, 9000)
        }
        if (chkid != "" && upicollectloader == "") {
            document.getElementById('showspinner44').style.display = "block";
            setTimeout(() => {
                document.getElementById('showspinner44').style.display = "none";
            }, 9000)
        }

    }
</script>

<script>
    function formatString(e) {
        var inputChar = String.fromCharCode(event.keyCode);
        var code = event.keyCode;
        var allowedKeys = [8];
        if (allowedKeys.indexOf(code) !== -1) {
            return;
        }

        event.target.value = event.target.value.replace(
            /^([1-9]\/|[2-9])$/g, '0$1/' // 3 > 03/
        ).replace(
            /^(0[1-9]|1[0-2])$/g, '$1/' // 11 > 11/
        ).replace(
            /^([0-1])([3-9])$/g, '0$1/$2' // 13 > 01/3
        ).replace(
            /^(0?[1-9]|1[0-2])([0-9]{2})$/g, '$1/$2' // 141 > 01/41
        ).replace(
            /^([0]+)\/|[0]+$/g, '0' // 0/ > 0 and 00 > 0
        ).replace(
            /[^\d\/]|^[\/]*$/g, '' // To allow only digits and `/`
        ).replace(
            /\/\//g, '/' // Prevent entering more than 1 `/`
        );
    }

</script>

<script>
    $('#txtdebitCardnumber').on('keyup', function (e) {
        var val = $(this).val();
        var newval = '';
        val = val.replace(/\s/g, '');
        for (var i = 0; i < val.length; i++) {
            if (i % 4 == 0 && i > 0) newval = newval.concat(' ');
            newval = newval.concat(val[i]);
        }
        $(this).val(newval);
    });
</script>


<script>
    if (`@TempData["GetUniqueid"]` != '') {

        let hitservice = 'NOTOK';
        let deadline = new Date().getTime() + 482000;
        let x = setInterval(() => {


            let requestUrlResp = '@TempData["GetUniqueid"]'
            $.ajax({
                url: '@Url.Action("UPIAUTOSERVICE", "Home")',
                data: { generatedid: requestUrlResp },
                cache: false,
                type: "POST",
                success: function (data) {
                    var status = data.status;
                    var upists = data.upists;
                    var refid = data.refid;
                    var amount = data.amount;


                    let y = setInterval(() => {
                        let now = new Date().getTime();
                        let t = deadline - now;
                        let seconds = Math.floor((t % (1000 * 482)) / 1000);
                        document.getElementById("countDownShow").innerHTML = "QR code disappear after " + seconds + " seconds ";
                        if ((status == "SUCCESS") ) {
                            clearInterval(y);
                            clearInterval(x);
                            document.getElementById("countDownShow").style.display = "none";
                            document.getElementById("QrShowHide").style.display = "none";
                            if (upists == "FAILED" || upists == "Failed") {

                            document.getElementById('MessageShoHide').style.cssText = `display: block; color: red;`;
                            }
                            else {
                            document.getElementById('MessageShoHide').style.cssText = `display: block; color: green;`;

                            }
                            document.getElementById('MessageShoHide').innerHTML = `STATUS: ${upists} <br> BANKRR NO : ${refid} <br> AMOUNT : ${amount} `;

                        }
                        else if (status == "FAILED") {

                            if(seconds <= 0) {
                                clearInterval(y);
                                clearInterval(x);
                                document.getElementById("countDownShow").style.display = "none";
                                document.getElementById("QrShowHide").style.display = "none";
                                document.getElementById('MessageShoHide').style.cssText = `display: block; color: red;`;
                                document.getElementById('MessageShoHide').innerHTML = "No Response Found Please Go Back";
                            }
                        }
                    }, 1000)

                }
            })

        }, 3000)
    }
</script>
<script>
    Subscription = () => {
        var amount = $('#txtamount').val();
        if (amount != "") {
            if (amount >= 100 && amount <= 1000) {
                $("#overlay").fadeIn(300);　
                   $.ajax({
   url: '@Url.Action("RadaintUPIATMSendOTP", "Home")',
                       cache: false,
                       data: { amount },
   type: "POST",
                       success: function (data) {
                           $("#overlay").fadeOut(300);　
                           var dataout = JSON.parse(data);
                           $('#hiderefid').val(dataout.refid)
                           $('#hideotprefid').val(dataout.otpRef_id)
                           var msg = dataout.msg;
                           if (msg == "OK") {

               document.getElementById("txtamount").readOnly = true;
               $('#divotp').show();
               $('#createotp').hide();
               $('#submitotp').show();
           }
           else {
                               $('#txtmsginfo').text(msg)
           }
          }
     })
            }
            else {
                $('#txtmsginfo').text("Amount Should be Between 100 and 1000")
            }
        }
        else {
            $('#txtmsginfo').text("Please Enter The Amount")
        }
    }
</script>
<script>
    Submitotp = () => {
        var otp = $('#txtotp').val();
        var refid = $('#hiderefid').val()
        var otprefid = $('#hideotprefid').val()
        var amount = $('#txtamount').val();
        $("#overlay").fadeIn(300);　

         $.ajax({
             url: '@Url.Action("RadaintUPIATMverifyOTP", "Home")',
             data: { otp, refid, otprefid, amount },
     cache: false,
     type: "POST",
             success: function (data) {
                 $("#overlay").fadeOut(300);
                 var dataout = JSON.parse(data);
                 var msg = dataout.msg;
                 if (msg == "OK") {
                     $('#showgenrateform').hide()
                     $('#radiqrcodeshow').show()

                     document.getElementById("showqrradiantimg").src = dataout.QR;
             }
             else {
                     $('#txtmsginfo').text(msg)    
             }

            }
       })
    }
</script>

<script>
    function generatepaytmqr() {
        @{
            var CHK = db.Upi_Qr_codeGenerator.ToList();
            }

        var amount = document.getElementById('paytmamounts').value;
        if (amount.length !== 0 && amount <= @CHK[0].maximium && amount >= @CHK[0].minmium) {
            $.ajax({
                url: '@Url.Action("Paytmqrgenerates","Home")',
                type: 'GET',
                data: { amount: amount },
                success: function (response) {
                    if (response.success) {
                        var base64Image = response.image;
                        $('#qrCodeImage').attr('src', 'data:image/png;base64,' + base64Image);
                        document.getElementById('paytmshowgenrateform').style.display = "none";
                        document.getElementById('paytmqrcodeshow').style.display = "block";

                        document.getElementById('qrregenrate').style.display = 'none';
                        document.getElementById('successgenrate').style.display = 'none';
                       
                        countdown(2, 00, response.txnid);
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + xhr.responseText);
                }
            });
          

        }
        else {
            var mess = "Enter amount in between " +@CHK[0].minmium+" To " +@CHK[0].maximium;

            document.getElementById("payidmess").innerHTML = mess;
        }
    }

</script>
<script type="text/javascript">
var timeoutHandle;
function countdown(minutes, seconds,txnid) {
    function tick() {

        var counter = document.getElementById("timer");
        counter.innerHTML =
            minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
        seconds--;
        $.ajax({
                url: '@Url.Action("Paytmqrresponse","Home")',
                type: 'GET',
            data: { txnid: txnid },
            success: function (response) {


                if (response.res == "Yes") {

                    document.getElementById('successgenrate').style.display = 'block';
                    document.getElementById('qrregenrate').style.display = 'none';
                    document.getElementById('paytmshowgenrateform').style.display = 'none';
                    document.getElementById('paytmqrcodeshow').style.display = 'none';

                    setTimeout(function () {
                        location.reload();
                    }, 5000);

                }


                },

            });

        if (seconds == 0 && minutes == 0) {
            document.getElementById('qrregenrate').style.display = 'block';
            document.getElementById('successgenrate').style.display = 'none';
            document.getElementById('paytmshowgenrateform').style.display = 'none';
            document.getElementById('paytmqrcodeshow').style.display = 'none';
        }
        else {


            if (seconds >= 0) {
                timeoutHandle = setTimeout(tick, 1000);
            } else {
                if (minutes >= 1) {
                    // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
                    setTimeout(function () {
                        countdown(minutes - 1, 59, txnid);
                    }, 1000);
                }
            }
        }


    }
    tick();
}

    function Orderss(a) {
        debugger;
        console.log(a);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function generatePhonepeqr() {
        debugger;
        @{
            var CHK1 = db.Upi_Qr_codeGenerator.ToList();
            }

        var amount = document.getElementById('Phonepeamounts').value;
        if (amount.length !== 0 && amount <= @CHK1[0].maximium && amount >= @CHK1[0].minmium) {
            $.ajax({
                url: '@Url.Action("Phonepeqrgenerates", "Home")',
                type: 'GET',
                data: { amount: amount },
                success: function (response) {
                    if (response.success) {
                        var base64Image = response.image;
                        $('#qrCodeImagess').attr('src', 'data:image/png;base64,' + base64Image);
                        document.getElementById('Phonepeshowgenrateform').style.display = "none";
                        document.getElementById('phonepeqrcodeshow').style.display = "block";

                        document.getElementById('qrregenrate').style.display = 'none';
                        document.getElementById('successgenrate').style.display = 'none';

                        countdown1(2, 00, response.txnid);
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + xhr.responseText);
                }
            });


        }
        else {
            var mess = "Enter amount in between " +@CHK[0].minmium+" To " +@CHK[0].maximium;

            document.getElementById("payidmessss").innerHTML = mess;
        }
    }

</script>
<script type="text/javascript">
var timeoutHandle1;
function countdown1(minutes, seconds,txnid) {
    function tick1() {

        var counter = document.getElementById("timerss");
        counter.innerHTML =
            minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
        seconds--;
        $.ajax({
                url: '@Url.Action("phonepeqrresponse", "Home")',
                type: 'GET',
            data: { txnid: txnid },
            success: function (response) {


                if (response.res == "Yes") {

                    document.getElementById('successgenrate').style.display = 'block';
                    document.getElementById('qrregenrate').style.display = 'none';
                    document.getElementById('Phonepeshowgenrateform').style.display = 'none';
                    document.getElementById('phonepeqrcodeshow').style.display = 'none';

                    setTimeout(function () {
                        location.reload();
                    }, 5000);

                }


                },

            });

        if (seconds == 0 && minutes == 0) {
            document.getElementById('qrregenrate').style.display = 'block';
            document.getElementById('successgenrate').style.display = 'none';
            document.getElementById('Phonepeshowgenrateform').style.display = 'none';
            document.getElementById('phonepeqrcodeshow').style.display = 'none';
        }
        else {


            if (seconds >= 0) {
                timeoutHandle1 = setTimeout(tick1, 1000);
            } else {
                if (minutes >= 1) {
                    // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
                    setTimeout(function () {
                        countdown1(minutes - 1, 59, txnid);
                    }, 1000);
                }
            }
        }


    }
    tick1();
}
    function generatebharatpeqr() {

        @{
            var CHK11 = db.Upi_Qr_codeGenerator.ToList();
            }

        var amount = document.getElementById('bharatpeamounts').value;
        if (amount.length !== 0 && amount <= @CHK11[0].maximium && amount >= @CHK11[0].minmium) {
            $.ajax({
                url: '@Url.Action("bharatpeqrgenerates", "Home")',
                type: 'GET',
                data: { amount: amount },
                success: function (response) {
                    if (response.success) {
                        countdown11(2, 00, response.txnid);
                        var butrr = document.getElementById('utrsubmitbutton');
                        butrr.setAttribute('onclick', 'bharatpayutr("' +response.txnid+'")')
                        var base64Image = response.image;
                        $('#qrCodeImagesss').attr('src', 'data:image/png;base64,' + base64Image);

                        document.getElementById('bharatpeshowgenrateform').style.display = "none";
                        document.getElementById('bharatpeqrcodeshow').style.display = "block";

                        document.getElementById('qrregenrate').style.display = 'none';
                        document.getElementById('successgenrate').style.display = 'none';

                       
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + xhr.responseText);
                }
            });


        }
        else {
            var mess = "Enter amount in between " +@CHK11[0].minmium+" To " +@CHK11[0].maximium;

            document.getElementById("bharatidmesssss").innerHTML = mess;
        }

    }

    var timeoutHandle11;
    function countdown11(minutes, seconds,txnid) {
        debugger;
    function tick11() {

        var counter = document.getElementById("timerssss");
        counter.innerHTML =
            minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
        seconds--;
       

        if (seconds == 0 && minutes == 0) {
            bharatpayutr(txnid);
            document.getElementById('qrregenrate').style.display = 'block';
            document.getElementById('successgenrate').style.display = 'none';
            document.getElementById('bharatpeshowgenrateform').style.display = 'none';
            document.getElementById('bharatpeqrcodeshow').style.display = 'none';
        }
        else {


            if (seconds >= 0) {
                timeoutHandle11 = setTimeout(tick11, 1000);
            } else {
                if (minutes >= 1) {
                    // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
                    setTimeout(function () {
                        countdown11(minutes - 1, 59, txnid);
                    }, 1000);
                }
            }
        }


    }
    tick11();
    }

    function bharatpayutr(txnid) {
        Swal.fire({
            title: "Enter UTR No.",

            html: '<input id="QRutrbharatpe" style ="width: 100%;height: 30px; font-size: 15px;" Type="Text">',

            showDenyButton: true,

            confirmButtonText: "Submit",
            denyButtonText: `Cencle`
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                var utrs = document.getElementById('QRutrbharatpe').value;
                $.ajax({
                    url: "@Url.Action("bharatpeqrresponse","Home")",
                    type: 'GET',
                    data: { txnid: txnid, Utr: utrs },
                    success: function (data){
                        if (data.res == "Yes") {
                            Swal.fire({
                                title: "Success",

                                icon: "success",

                            });
                            setTimeout(function () {
                                location.reload();
                            }, 3000);
                        }
                        else {

                        }
                }


                });
            }
            else if (result.isDenied) {

            }

        });
    }
   
</script>
