
@{
    ViewBag.Title = "wallethistory";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css  */



    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .date-sateclassee {
        padding-left: 0px !important;
        padding-right: 4px;
    }
    /* new css  */

    section.content {
        margin: 87px 0px 0 164px;
    }
    span {color: #fff !important;}
    .second-design .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .inputpdfbu-retailer-second button {
        border-color:#555 !important;
    }
    .for-search input {
        box-shadow: none !important;outline: none !important;border-radius: 0;border: 1px solid #aaa4a4;
    }
    .form-control:focus {
        border-color: #ccc;
    }
    .datepicker table tr td span {
        color: #555 !important;
    }

        .datepicker table tr td span.active {
            color: #fff !important;
        }
    .trypurchasecewq-newadd select {
        padding-left: 1px;
    }

    @@media only screen and (max-width:1366px){

        .wallethistory-responshive {
            padding-top: 0px;
        }


    }

    @@media screen and (max-width:991px) {

        .padding-both-none-four {
            float: left;
            width: 100%;
        }
        .bread-same-all-page.wallethistory-newadd ul li:last-child {
            width: 100%;
        }
        .xsl-pdfbutton {
            width: auto;
        }
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .col-md-2.apiclass-satenew {
            float: left;
        }

    }
    @@media screen and (max-width:990px) {
        .bread-same-all-page.wallethistory-newadd.wallethistory-responshive ul li:last-child {
            
            width: 100%;
        }
        .bread-same-all-page.wallethistory-newadd.wallethistory-responshive .xsl-pdfbutton {
            display: block;
        }
        
    }

    @@media screen and (max-width:766px){
        .fund-tr-history .modal-dialog {
            width: 100% !important;
        }
    }
    @@media screen and (max-width:600px) {
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq {
            width: 100% !important;
            padding: 0 !important;
            padding-bottom: 4px !important;
        }
        .wallethistory-responshive .date-sateclassee.trypurchasecewq .custom-date-icon {
            display: block;
        }


    }
    /*@@media screen and (max-width:520px) {
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq {
            width: 100% !important;
            padding: 0 !important;
            padding-bottom: 4px !important;
        }

        
    }*/

    @@media screen and (max-width:480px) {
        .row.fund-t-dalear.fund-t-dalear-erfrdfgdf .date-sateclassee.trypurchasecewq.trypurchasecewq-newadd {
    width: 100% !important;
}
    }

    @@media screen and (max-width:420px) {
        #leftsidebar.sidebar.retailer-header-left, .second-design #leftsidebar.retailer-header-left.header-left-newresponshive.newresponshive-secondde {
            margin-top: -88px !important;
        }
    }

</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Wallet History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Wallet History</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="page-header-third">
            <div class="bread-same-all-page wallethistory-newadd wallethistory-responshive wallethistory-newadd-four">

                <ul style="margin:0;">
                    <li class="smli four-design-noneclass">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one four-design-noneclass">
                        Wallet Received History
                    </li>
                    <li style="margin:0;">
                        @using (Ajax.BeginForm("MDTODealer", "Home",
                                                        new AjaxOptions
                                                        {
                                                            InsertionMode = InsertionMode.Replace,
                                                            UpdateTargetId = "tblshowMasterD"

                                                            // LoadingElementId = "progress"
                                                        }))
                        {
                            <div class="row fund-t-dalear fund-t-dalear-erfrdfgdf">

                                <div class="col-md-5 date-sateclassee trypurchasecewq trypurchasecewq-newadd" style="padding-left: 0px;">

                                    <select id="ddtrnsfrom" name="ddtrnsfrom" class="form-control">
                                        <option value="">Select Filter</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Dealer">Dealer</option>

                                    </select>

                                </div>

                                <div class="col-md-5 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                    <div class="custom-date-icon" style="height: 32px;border-top:0px;border-bottom:0px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                </div>
                                <div class="col-md-5 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                    <div class="custom-date-icon" style="height: 31px;border-top:0px;border-bottom:0px;margin-top:1px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input type="datetime" id="txt_to_date" name="txt_to_date" style=" margin-top: 1px !important;" />
                                </div>
                                <div class="col-md-2 apiclass-satenew" style="padding:0px;">
                                    <input type="hidden" id="tabtype" name="tabtype" value="FundTranferAllReport" />
                                    <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding:0px 15px;float:left;height:30px;margin-top:2px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                    </button>
                                </div>
                                <div class="xsl-pdfbutton inputpdfbu-retailer-second" style="text-align: right;">
                                    <button style="width: auto; padding: 0 8px; float: none; margin-right: 0%;"><img src="~/ashok-images/pdf.png" />&nbsp;PDF</button>

                                    <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #7b7777;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;border-color:#bbbbbb;" />
                                    @*<button><img src="~/ashok-images/xls.png" />XSL</button>*@
                                </div>

                            </div>
                        }
                    </li>
                </ul>
            </div>

        </div>
    </div>
    

    <div class=" col-md-12" style="width:100%;float:left;">
        <div class="row clearfix" style="margin:0;">
            <div class="page-header-third">
                <div class="col-md-12 searchtable-second-ret" style="margin-bottom: 5px;width:100%;float:right;padding:0;">

                    <div class="for-search retailer-forsearch-second forsearch-third-retailer four-design-noneclass" style="width:auto;float:right;">
                        <input id="myInput" name="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" style="padding:5px 5px;" />

                    </div>
                </div>
                <div class=" col-md-12 padding-both-none-four" style="padding:0;">
                    <div class="wallet-history" style="padding:0;">
                        <div class="table-responsive">
                            <div id="tblshowMasterD" class="table-responsive tblshowMasterclassadd tablethirddesign-newnew" style="width:100%;overflow:auto;">
                                @Html.Action("MDTODealer", new { tabtype = "FundTranferAllReport" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------orderrecive-->

    <div class="modal fund-tr-history  in purchase-model" id="m-d-fund-orderRecive" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
        <div class="modal-dialog" role="document" style="margin:0px;float:right;">

            <div class="modal-content width100 float-left">
                <div class="modal-header width100 float-left ecomm-pop-head">

                    <h5 id="mdhis">Recive Fund Info.</h5>


                    <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>


                </div><!--.modal-header-->
                <div class="modal-body width100 float-left ecomm-pop-body">
                    <div class="float-left width100">


                        <div id="ALLdatashow">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label id="mdfrmname">Fund Recive From</label>

                                        <input class="form-control" readonly="readonly" required="required" id="txtfromrecive" type="text">

                                    </div>
                                </div>

                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Payment Mode</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymentmodes">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txttotalamounht" type="text">
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Current CR</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcurrentcr">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="lblcollreasonrecive">OLD CR</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtoldcr">
                                    </div>
                                </div>
                            </div><!--.row-->
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Credit Adjust</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcradjustshow">
                                            </div>
                                        </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                        </div>
                                    </div>
                                </div>*@<!--.row-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Net Transfer</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountnettransfer">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">Recived Date</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txttransferdaterecive">
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPrecredit">Retailer Pre Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretpreamountbalance">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostcredit">Retailer Post Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretPOSTamountbalance">
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Head  Type</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" id="txtdeadtype">

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label id="lblcollectionbyret">Collection By</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" id="txtcollectionretailer">

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Comment</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtretailercomment" style="height:50px;">

                                    </div>
                                </div>
                            </div><!--.row-->
                            @*<div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsrecive">
                                        </div>
                                    </div>
                                </div>*@
                            <!--.row-->
                        </div>
                        <div id="retailerdatashowonly">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Transfer From</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtrettransferfrom">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">Payment Mode</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretpaymentmode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Transfer amount</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretamounttransfer">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Transfer Date</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretTransferdate">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">

                                        <label id="mdPreremain">Retailer Pre Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretfrombalancepre">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">Retailer Post Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretfrompostbalance">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Your Pre Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtrettoPrebalance">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">

                                        <label id="mdPostremain">Your Post Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtrettopostbalance">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Head Type</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretheadtype">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Charges</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtretChargess">
                                    </div>
                                </div>
                            </div>

                        </div>



                        <!--=============-->

                    </div><!--.modal-body-->


                </div>

            </div>
        </div>
    </div>



</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $('#btnExport').click(function () {

        var tabID = $('.fullbodydycolorbg1 li.current.active').attr("data-tabname")
      

        var usernm = $('#ddtrnsfrom').val();
        alert(usernm)
        var url = '@Url.Action("ExportExcellFundtransfer", "Home")?tabtype=FundTranferAllReport&txt_frm_date=' + $('#txt_frm_date').val() + '&txt_to_date=' + $('#txt_to_date').val() +'&ddtrnsfrom='+ usernm;
        location.href = url;

    })
   

</script>







<script>
    function tablerowshowdetailorderrecive(roletype, frm, paymode, transferamount, charges, comment, currentcr, oldcr, nettransfer, rechargedate, retailerfromold, retailerfromnew, ret_to_old, ret_to_new, headtype, TotalBal, utrno) {

        var modess = 'Neft,RTGS,IMPS,UPI';
        if (roletype == "Retailer") {
            $('#txtrettransferfrom').val(frm);
            $('#txtretpaymentmode').val(paymode);
            $('#txtretamounttransfer').val(transferamount);

            $('#txtretTransferdate').val(rechargedate);
            $('#txtretfrombalancepre').val(retailerfromold);
            $('#txtretfrompostbalance').val(retailerfromnew)
            $('#txtrettopostbalance').val(ret_to_old);
            $('#txtrettoPrebalance').val(ret_to_new);

            $('#txtretheadtype').val(headtype);
            $('#retailerdatashowonly').show();
            $('#ALLdatashow').hide();

        }
        else {


            $('#txtfromrecive').val(frm);
            $('#txtpaymentmodes').val(paymode);

            // $('#txtutrnoshow').val(utrno);
            $('#txttotalamounht').val(transferamount);
            $('#txtcurrentcr').val(currentcr);
            $('#txtoldcr').val(oldcr);
            $('#txtamountnettransfer').val(nettransfer);
            //$('#txtcrestsshow').val(crests);
            $('#txttransferdaterecive').val(rechargedate);
            $('#txtretpreamountbalance').val(retailerfromold)
            $('#txtretPOSTamountbalance').val(retailerfromnew)

            $('#txtdeadtype').val(headtype);

            $('#txtretChargess').val(charges)
            $('#txtretailercomment').val(comment)

            if (paymode == "Cash") {

                $('#lblcollectionbyret').html('Collection By')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Branch / CMS Deposite") {

                $('#lblcollectionbyret').text('Deposite Slip No.')
                $('#txtcollectionretailer').val(utrno)
            }

            if (paymode == "Wellets Transfer") {

                $('#lblcollectionbyret').text('Transtion No')
                $('#txtcollectionretailer').val(utrno)
            }

            if (paymode == "Credit") {

                $('#lblcollectionbyret').text('')
                $('#txtcollectionretailer').val()
            }
            if (paymode == "Manual Settelment") {

                $('#lblcollectionbyret').text('Settlement Type')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "GST Credit") {

                $('#lblcollectionbyret').text('Credit Detail')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Offline Charge") {

                $('#lblcollectionbyret').text('Subject (Reason)')
                $('#txtcollectionretailer').val(utrno)
            }
            if (paymode == "Charge Back") {

                $('#lblcollectionbyret').text('Subject (Reason)')
                $('#txtcollectionretailer').val(utrno)
            }
            var res = paymode.match(/Online Transfer/)
            if (res != '' && res != null) {
                $('#lblcollectionbyret').text('UTR No.')
                $('#txtcollectionretailer').val(utrno)
            }


            $('#retailerdatashowonly').hide();
            $('#ALLdatashow').show();
        }
        //  $('#txtmdfirmnameshow').val(frmname);
        // / /$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
    }
</script>
<script>
    $(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    })
</script>
<script>
    $(function () {
        $(".date-sateclassee input").click(function () {
            $(".datepicker").addClass('dlllllllgggglcharge');
        });
    });
</script>
<script>
    function myFunction() {

        //  var value = $(this).val().toLowerCase();
        var value = $('#myInput').val().toLowerCase();

        $("#tblbody .tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    }


</script>
