@model List<Vastwebmulti.Models.WalletToBankAmountTransferCharge>
@{
    ViewBag.Title = "Slab";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    tr th {
        text-align: center;
    }
</style>

<section class="content" style="margin:90px 0px 0px 0px;">
    <div class="container-fluid">
        <div class="row clearfix clearfix-wallet">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="">
                            <h2 style="margin-top:-10px;margin-left:-17px;color:#9e9d9d;">Wallet To Bank Transfer Fllowing Charges</h2>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <div id="dataTable" class="table-responsive" style="position:inherit; margin-top:-15px;">
                            
                            <table class="table table-bordered">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        @*<th rowspan="2">SR</th>*@
                                        @*<th colspan="4">General</th>*@
                                        @*<th colspan="5">Tatkal</th>*@
                                        @*<th rowspan="2">Status</th>*@

                                    </tr>
                                    <tr>
                                        @*<th>From</th>
                                        <th>To</th>
                                        <th>Charge</th>
                                        <th>Time</th>*@

                                        <th>From&nbsp;Minimum&nbsp;(₹)</th>
                                        <th>To&nbsp;Maximum&nbsp;(₹)</th>
                                        <th>IMPS&nbsp;Charge&nbsp;(₹)</th>
                                        <th>NEFT&nbsp;Charge&nbsp;(₹)</th>
                                        @*<th>Time</th>*@
                                    </tr>
                                </thead>
                                <tbody id="tbodyshow">
                                    @{ int i = 1;}
                                    @foreach (var item in Model.OrderBy(a=>a.AmtFromTatkal))
                                    {
                                        <tr>
                                            @*<td>@i</td>*@
                                            @*<td>@item.AmtFromGeneral</td>
                                            <td>@item.AmtToGeneral</td>
                                            <td>@item.chargeGeneral</td>
                                            <td>@item.TimeTakesGeneral</td>*@
                                            <td>@item.AmtFromTatkal</td>
                                            @if(@item.AmtToTatkal == 0)
                                            {
                                                <td>---------</td>
                                            }
                                            else
                                            {
                                                <td>@item.AmtToTatkal</td>
                                            }
                                            <td>@item.chargeTatkal</td>
                                            <td>@item.chargeTatkalNEFT</td>
                                            @*<td>@item.TimeTakesTatkal</td>*@
                                            @*<td>@item.IsEnabled</td>*@

                                        </tr>
                                        i++;
                                    }

                                </tbody>

                            </table>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<!--Window Load-->
