@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "WebLoginFailed";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .col-md-6.contentrightfirst .form-group {
        width: 45%;
        float: left;
        padding-right: 4px;
    }

    .webdateloginfirst .col-md-3.buttonPdf {
        width: auto;
    }
    

    /* new css  */

    .dropdown-menu {
        margin-top: 81px !important;
    }
    .buttonPdf button {
        color: #555 !important;
    }
    @@media only screen and (max-width:1169px) {
        .container-fluid.webdateloginfirst {
            padding-left: 15px !important;
        }
    }

    @@media only screen and (max-width:990px) {
        .col-md-6.webdatelogin {
            padding-left: 0;
        }

        .nonewidthrighttuyopi {
            width: 100%;
            display: block;
        }

            .nonewidthrighttuyopi .contentrightfirst {
                float: left;
            }

            .nonewidthrighttuyopi .col-md-2.websearch {
                float: left;
            }

        .weblogin-table {
            padding-right: 15px;
        }
    }

    @@media only screen and (max-width:767px) {
        .col-md-6.contentrightfirst .form-group {
            width: 60%;
        }
    }

    @@media only screen and (max-width:480px) {
        .contentrightfirst-responshive .contentrightfirst {
            width: 100% !important;
            padding-right: 0 !important;
            padding-bottom: 4px;
        }

        .col-md-6.contentrightfirst .form-group {
            width: 71%;
        }

        .contentrightfirst-responshive .contentrightfirst input {
            text-align: end;
        }

        #btn {
            width: 50%;
            float: left;
        }
    }

</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid webdateloginfirst" style="padding-left: 10px; height: 100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>App Login History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 1&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">App Login History</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">
            <div class="col-md-12" style="">

                <div class="page-header-third">
                    <div class="col-md-6 webapplogin activeclass-bac-four" style="width: 100%; float: left;padding:0;">
                        <a href="@Url.Action("WebLogin","Home")" id="btn" class="btn" style="" title="Go to Web Success Login History">
                            <span style="top:-1px;color:black;">Web Login History</span>
                        </a>
                        <a href="@Url.Action("WebLoginFailed","Home")" id="btn" class="btn active" style="">
                            <span style="top:-1px;color:black;">App Login History</span>
                        </a>

                    </div>
                </div>

                
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 weblogin-table" style="">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="width:100%;float:left;padding-bottom:4px;">

                        <div class="col-md-6 webdatelogin" style="width:100%;float:left;">
                            @using (Html.BeginForm("WebLoginFailed", "Home", FormMethod.Post))
                            {
                                <div class="row nonewidthrighttuyopi contentrightfirst-responshive">
                                    
                                    <div class="col-md-6 contentrightfirst" style="padding-left: 0px;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                                <span class="input-group-addon" style="display:none;">
                                                    <i class="fa fa-exchange"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <div class="col-md-2 websearch">
                                            <center>
                                                <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                    <span style="top:-2px;color:black;">Search</span>
                                                </button>
                                            </center>
                                        </div>

                                    </div>
                                    

                                    <div class="col-md-3 buttonPdf retailer-pdf-second">

                                        <button id="btnPDF">PDF</button>
                                        <button id="btnExport">Export</button>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                    <div class="card class-back-tra-fourdesign" style="width: 100%; float: left;">
                        
                        <div class="body four-design-table-design" style="padding:0px;">
                            <div class="table-responsive web-responsive tablethirddesign-new tablethirddesign-newnew" style="position:inherit;">
                                <table id="" class="table table-bordered table-striped table-hover third-design-table fourdesign-data-table" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            @*<th>Sr.&nbsp;No.</th>*@
                                            <th>Login&nbsp;Status</th>
                                            <th>Login&nbsp;ID</th>
                                            @*<th>Password</th>
                                <th>IP&nbsp;Address</th>
                                <th>Browser</th>*@
                                            <th>Device&nbsp;Details</th>
                                            <th>IMEI&nbsp;No</th>
                                            <th>Location</th>
                                            <th>Login&nbsp;Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                @*<td>@i</td>*@
                                                <td class="activeinactive">
                                                    <p class="" style="font-size:15px;"><span class="activeopertor">Success</span></p>

                                                    <p class="" style="display:none;font-size:15px;"><span class="inactiveopertor">Failed</span></p>
                                                </td>
                                                <td>@item.EmailId</td>
                                                @*<td>@item.pwd</td>
                                    <td>@item.IP_Address</td>
                                    <td>@item.browser</td>*@
                                                <td style="font-weight:bold;">Device&nbsp;Details</td>
                                                <td style="font-weight:bold;">IMEI&nbsp;No</td>
                                                <td style="font-weight:bold;">Location</td>
                                                <td>@item.LoginTime</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>


<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerwebse');
    });


</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelWebLoginFailed", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_WebLoginFailed", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
