@model IEnumerable<Vastwebmulti.Models.Login_info>
@{
    ViewBag.Title = "WebLogin";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .bread-same-all-page li {
        margin: 6px 0;
    }

    .table {
        margin-bottom: 0px;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .col-md-6.contentrightfirst .form-group {
        width: 45%;
        float: left;
        padding-right: 4px;
    }
    .webdateloginfirst .col-md-3.buttonPdf {
        width: auto;
    }

    /* new css  */

    .second-design .dropdown-menu.datepickerwebse {
    margin-top: 0 !important;
}
    .webdatelogin .datesate .form-iconmy.form-iconmyss {
        z-index: 9;
    }
    .buttonPdf button {
        color: #555 !important;
    }
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
        margin-top: 91px !important;
    }
    .datepicker {margin-top:91px !important;}

    @@media only screen and (max-width:1169px){
        .container-fluid.webdateloginfirst {
            padding-left: 15px !important;
        }

    }

    @@media only screen and (max-width:990px) {
        .col-md-6.webdatelogin {
            padding-left: 0;
        }
        .nonewidthrighttuyopi {
            width: 100%;
            display: block;
        }
            .nonewidthrighttuyopi .contentrightfirst {
                float: left;
            }
            .nonewidthrighttuyopi .col-md-2.websearch {
                float: left;
            }
        .weblogin-table {
            padding-right: 15px;
        }

    }
    @@media only screen and (max-width:767px) {
        .col-md-6.contentrightfirst .form-group {
            width: 60%;
        }

    }

    @@media only screen and (max-width:480px) {
        .contentrightfirst-responshive .contentrightfirst {
            width: 100% !important;
            padding-right: 0 !important;
            padding-bottom: 4px;
        }
        .col-md-6.contentrightfirst .form-group {
            width: 71%;
        }
        .contentrightfirst-responshive .contentrightfirst input {
            text-align: end;
        }
        #btn {
            width: 50%;
            float: left;
        }


    }


</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" style="">
    <div class="container-fluid webdateloginfirst" style="padding-left: 10px; height: 100vh;">
        <!--Four-Design-Page-Header-Start-->

        <div class="page-title-box-fourde">
            <h3>Web Login History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">My Account 1&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Web Login History</a></li>
            </ul>
        </div>

        <!--Four-Design-Page-Header-End-->
        <div class="row clearfix">
            <div class="col-md-12" style="">

                <div class="page-header-third">
                    <div class="webapplogin activeclass-bac-four">

                        <a href="@Url.Action("WebLogin","Home")" id="btn" class="btn active" style="">
                            <span style="top:-1px;color:black;">Web Login History</span>
                        </a>
                        <a href="@Url.Action("WebLoginFailed","Home")" id="btn" class="btn" style="" title="Go to Web Failed Login History">
                            <span style="top:-1px;color:black;">App Login History</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 weblogin-table" style="">
                <div class="page-header-third">
                    <div class="card class-back-tra-fourdesign" style="width:100%;float:left;">

                        <div class="col-md-6 webdatelogin" style="width:100%;">
                            @using (Html.BeginForm("WebLogin", "Home", FormMethod.Post))
                            {
                                <div class="row nonewidthrighttuyopi contentrightfirst-responshive">
                                    
                                    <div class="col-md-6 contentrightfirst" style="padding-right: 3px; padding-left: 0px;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="datesate datesates">
                                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                                <span class="input-group-addon" style="display:none;">
                                                    <i class="fa fa-exchange"></i>
                                                </span>
                                                <div class="datesate datesatese">
                                                    <div class="form-iconmy form-iconmyss" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                </div>
                                            </div>

                                            <!-- /.input group -->
                                        </div>
                                        <div class="col-md-2 websearch">
                                            <center>
                                                <button type="submit" class="btn bg-grey waves-effect retailer-search-second" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                    <span style="top:-2px;color:black;">Search</span>
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3 buttonPdf retailer-pdf-second">

                                        <button id="btnPDF">PDF</button>
                                        <button id="btnExport">Export</button>
                                    </div>


                                </div>
                            }
                        </div>
                    </div>

                    <div class="card class-back-tra-fourdesign" style="padding-top:4px;width:100%;float:left;">

                        @*<div class="">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="">
                                <li class="active" style="color:#9E9E9E; font-size:12px;">ALL WEB SUCCESS LOGIN HISTORY&nbsp;></li>
                            </ol>
                        </div>*@

                        <div class="body four-design-table-design" style="padding:0px;">
                            <div class="table-responsive web-responsive tablethirddesign-new tablethirddesign-newnew" style="position:inherit;">
                                <table id="example" class="table table-bordered third-design-table fourdesign-data-table" style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            @*<th>Sr.&nbsp;No.</th>*@

                                            <th>Login&nbsp;Status</th>
                                            <th>Login&nbsp;Id&nbsp;Details</th>
                                            <th>IP&nbsp;Address</th>
                                            <th>Browser</th>
                                            <th>Lattitude</th>
                                            <th>Longitude</th>
                                            <th>Login&nbsp;Date&nbsp;Time&nbsp;Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                @*<td>@i</td>*@

                                                <td class="activeinactive">
                                                    <p class="" style="font-size:15px;"><span class="activeopertor">Success</span></p>

                                                    <p class="" style="display:none;font-size:15px;"><span class="inactiveopertor">Failed</span></p>
                                                </td>
                                                <td>@item.UserId</td>
                                                <td>@item.IP_Address</td>
                                                <td>@item.browser</td>
                                                <td>@item.Latitude</td>
                                                <td>@item.Logitude</td>
                                                <td>@item.CurrentLoginTime</td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

@*<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>*@


@*<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickerwebse');
    });


</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelWebLogin", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_WebLogin", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
</script>*@
