@model Vastwebmulti.Areas.ADMIN.Models.CashDepositeAndBank_Info_VM
@using (Ajax.BeginForm("_api_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success3", OnFailure = "failed3", UpdateTargetId = "apicash" }))
{
    <input id="btnsubmit3" type="submit" value="Save Now" class="btn btn-default" style="display:none;width:20%;" />
    <div id="tblApi">
        <table class="table table-responsive table-bordered example-second">
            <thead>
                <tr style="background: #c7c7c7;">
                    <th>User ID</th>
                    <th>Payment&nbsp;Type</th>
                    <th>Charge &nbsp;(%)</th>
                </tr>
            </thead>
            @if (Model.creditchargeapi != null)
            {
                <tbody id="tbodyshowapi">
                    @foreach (var item in Model.creditchargeapi)
                    {
                        <tr>
                            <th>@item.userid</th>
                            <th>@item.ctype</th>
                            <th>@item.Charge</th>
                        </tr>
                    }
                </tbody>
                <tbody id="tbodyeditapi" style="display:none;">
                    @for (int i = 0; i < Model.creditchargeapi.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.creditchargeapi[i].userinfo)
                            <td>
                                @Html.DisplayFor(a => a.creditchargeapi[i].userid)
                            </td>
                            <td>
                                @Html.HiddenFor(a => a.creditchargeapi[i].ctype)
                                @Html.DisplayFor(a => a.creditchargeapi[i].ctype)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.creditchargeapi[i].Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.creditchargeapi[i].Charge)
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}






<script>

        $('.second-design .example-second').DataTable({


            paging: false
        });

</script>
