@using (Html.BeginForm("Edit_Bankinfo", "Home", FormMethod.Post))
{
    <form>
        <div class="row clearfix">
            @Html.Hidden("txtidno")
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Bank Name</label>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtbanknmedit", "", new { @class = "form-control", @placeholder = "Enter Bank Name", required = "" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Account Number</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtaccnoedit", "", new { @class = "form-control", @placeholder = "Enter Account Number", @required = "required", onkeypress = "javascript:return isNumber(event)" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">IFSC Code</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtifscedit", "", new { @class = "form-control", @placeholder = "Enter IFSC Code", required = "" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Account Type</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtactypedit", "", new { @class = "form-control", @placeholder = "Enter Account Type", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Account Holder Name</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtacnameedit", "", new { @class = "form-control", placeholder = "Enter Holder Name ", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Branch Address</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="">
                        @Html.TextBox("txtaddedit", "", new { @required = "required", @class = "form-control", @placeholder = "Enter Branch Address" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn waves-effect" id="edit-to-change">
                <span>Edit Account</span>
            </button>
            <button type="button" class="btn waves-effect">
                <span>Delete Account</span>
            </button>
        </div>
    </form>
}
