@model List<Vastwebmulti.Areas.ADMIN.Models.BlockUserlistmodel>



@if (Model != null)
{
    int i = 0;
    if (ViewBag.role == "Dealer")
    {
        foreach (var item in Model)
        {
            <tr class="tr">

                <td>
                    @item.Frmname
                </td>
                @*<td>
                        <input type="button" value="View" class="btn " onclick="ViewDetailsByID('@item.Userid', '@item.ROLES')" />

                    </td>*@
                <td>
                    @item.MOBILE
                </td>

                @*<td>
                        @item.sts
                    </td>*@
                <td style="text-align:center;">
                    @if (item.sts == "Y" && item.apploginsts == "Y" && item.NetOFFR == "Y")
                    {

                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="BOTH LOGIN ON" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','OFF','@item.NetOFFR')">
                                BOTH LOGIN ON
                            </button>
                        </div>

                        <div id="btnshow_@i" style="display: none; width: auto; float: left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>




                        @*<input type="button" value="BOTH LOGIN ON" class="btn " onclick="StatusActive(this,'@item.Userid', '@item.ROLES','OFF')" />*@




                    }
                    else if (item.sts == "N" && item.apploginsts == "N" && item.NetOFFR == "Y")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="LOGIN OFF" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','WEB','@item.NetOFFR')">
                                SELF LOGIN OFF
                            </button>
                            @*<input type="button" value="LOGIN OFF" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','WEB')" />*@
                        </div>

                        <div id="btnshow_@i" style="display: none; width: auto; float: left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>
                    }

                    else if (item.sts == "Y" && item.NetOFFR == "Y")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="ONLY WEB LOGIN" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','APP','@item.NetOFFR')">
                                ONLY WEB LOGIN
                            </button>
                            @*<input type="button" value="ONLY WEB LOGIN" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','APP')" />*@
                        </div>

                        <div id="btnshow_@i" style="display: none;width:auto;float:left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>

                    }
                    else if (item.apploginsts == "Y" && item.NetOFFR == "Y")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="ONLY APP LOGIN" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','BOTHOFF','@item.NetOFFR')">
                                ONLY APP LOGIN
                            </button>
                            @*<input type="button" value="ONLY APP LOGIN" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','BOTH')" />*@

                        </div>

                        <div id="btnshow_@i" style="display: none;width:auto;float:left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>


                    }

                    else if (item.sts == "N" && item.apploginsts == "N" && item.NetOFFR == "N")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="Net OFF" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','BOTH','@item.NetOFFR')">
                                ALL NETWORK OFF
                            </button>
                            @*<input type="button" value="LOGIN OFF" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','WEB')" />*@
                        </div>

                        <div id="btnshow_@i" style="display: none; width: auto; float: left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>
                    }


                    @if (item.Block == "Y")
                    {
                        <div id="btnhidecheck_@i" class="attemptblock-first" style="float:left;padding-left:5px;">
                            <button class="btn has-spinner" onclick="unblockUser(@i,'@item.Userid', '@item.ROLES')">
                                <span class="attemptblock"><i class="fa fa-ban" aria-hidden="true"></i> Attempt Blocked</span>
                                Click To Activate
                            </button>
                        </div>
                        <div id="btnshowclick_@i" style="display: none; width: auto;float:left;padding-left:5px;">
                            <strong class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </strong>
                        </div>

                    }
                </td>

                <td class="set-city-up">
                    @if (item.userlocationlistbyid.Count() > 0)
                    {

                        <ul class="set-city-show">
                            @foreach (var itemasdsad in item.userlocationlistbyid)
                            {
                                <li>@itemasdsad</li>
                            }

                            <li>  <input type="button" value="Edit CITY" onclick="EditLocation(this, '@item.ROLES', '@item.Userid'),ViewDetailsByID('@item.Userid', '@item.ROLES')" style="font-size: 0; float: left; width: 25px; height: 28px; border: 4px solid #eae9e9; background-image: url(~/AdminDesign/images/edit.svg); background-repeat: no-repeat; margin-bottom: -9px; background-size: contain;box-shadow: 0 0 0 1px #bbb;margin-left: 1px;padding: 0;" /> </li>
                        </ul>
                    }
                    else
                    {
                        <input type="button" value="FETCH CITY" onclick="GetLoginCityName(this, '@item.ROLES', '@item.Userid'),ViewDetailsByID('@item.Userid', '@item.ROLES')" />
                    }
                </td>
            </tr>
            i++;
        }
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="tr">

                <td>
                    @item.Frmname
                </td>
                @*<td>
                        <input type="button" value="View" class="btn " onclick="ViewDetailsByID('@item.Userid', '@item.ROLES')" />

                    </td>*@
                <td>
                    @item.MOBILE
                </td>

                @*<td>
                        @item.sts
                    </td>*@
                <td style="text-align:center;">
                    @if (item.sts == "Y" && item.apploginsts == "Y")
                    {

                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="BOTH LOGIN ON" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','OFF')">
                                BOTH LOGIN ON
                            </button>
                        </div>

                        <div id="btnshow_@i" style="display: none; width: auto; float: left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>




                        @*<input type="button" value="BOTH LOGIN ON" class="btn " onclick="StatusActive(this,'@item.Userid', '@item.ROLES','OFF')" />*@




                    }
                    else if (item.sts == "N" && item.apploginsts == "N")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="LOGIN OFF" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','WEB')">
                                BOTH LOGIN OFF
                            </button>
                            @*<input type="button" value="LOGIN OFF" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','WEB')" />*@
                        </div>

                        <div id="btnshow_@i" style="display: none; width: auto; float: left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>
                    }

                    else if (item.sts == "Y")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="ONLY WEB LOGIN" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','APP')">
                                ONLY WEB LOGIN
                            </button>
                            @*<input type="button" value="ONLY WEB LOGIN" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','APP')" />*@
                        </div>

                        <div id="btnshow_@i" style="display: none;width:auto;float:left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>

                    }
                    else if (item.apploginsts == "Y")
                    {
                        <div id="btnhide_@i" style="width:auto;float:left;">
                            <button value="ONLY APP LOGIN" class="btn has-spinner" onclick="StatusActive(@i,'@item.Userid', '@item.ROLES','BOTH')">
                                ONLY APP LOGIN
                            </button>
                            @*<input type="button" value="ONLY APP LOGIN" class="btn has-spinner" onclick="StatusActive(this,'@item.Userid', '@item.ROLES','BOTH')" />*@

                        </div>

                        <div id="btnshow_@i" style="display: none;width:auto;float:left;">
                            <button class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </button>
                        </div>


                    }

                    @if (item.Block == "Y")
                    {
                        <div id="btnhidecheck_@i" class="attemptblock-first" style="float:left;padding-left:5px;">
                            <button class="btn has-spinner" onclick="unblockUser(@i,'@item.Userid', '@item.ROLES')">
                                <span class="attemptblock"><i class="fa fa-ban" aria-hidden="true"></i> Attempt Blocked</span>
                                Click To Activate
                            </button>
                        </div>
                        <div id="btnshowclick_@i" style="display: none; width: auto;float:left;padding-left:5px;">
                            <strong class="btn has-spinner">
                                <span style="top: -4px;margin-left: 5px;color: #555;"> <i class="fa fa-circle-o-notch fa-spin"></i></span>
                            </strong>
                        </div>

                    }
                </td>

                <td class="set-city-up">
                    @if (item.userlocationlistbyid.Count() > 0)
                    {

                        <ul class="set-city-show">
                            @foreach (var itemasdsad in item.userlocationlistbyid)
                            {
                                <li>@itemasdsad</li>
                            }

                            <li>  <input type="button" value="Edit CITY" onclick="EditLocation(this, '@item.ROLES', '@item.Userid'),ViewDetailsByID('@item.Userid', '@item.ROLES')" style="font-size: 0; float: left; width: 25px; height: 28px; border: 4px solid #eae9e9; background-image: url(~/AdminDesign/images/edit.svg); background-repeat: no-repeat; margin-bottom: -9px; background-size: contain;box-shadow: 0 0 0 1px #bbb;margin-left: 1px;padding: 0;" /> </li>
                        </ul>
                    }
                    else
                    {
                        <input type="button" value="FETCH CITY" onclick="GetLoginCityName(this, '@item.ROLES', '@item.Userid'),ViewDetailsByID('@item.Userid', '@item.ROLES')" />
                    }
                </td>
            </tr>
            i++;
        }
    }
}