@model IEnumerable<Vastwebmulti.Models.total_bussiness_operatorwise_Result>

<style>
    .table tbody tr td{padding:3px 10px;}
</style>
<div class="gross-business-second-top">
    <h2>@ViewBag.chk&nbsp;Transaction</h2>
    <div onclick="hide()" class="gross-business-second-hide">
        &#10006;
    </div>
</div>
<div class=" table-responsive" style="width:100%;">
    <div class="col-xs-12" style="padding:0px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Operator Name</th>
                    <th rowspan="2">Total&nbsp;Transcation</th>
                    <th colspan="2">Success&nbsp;Transcation</th>
                
                    <th colspan="2">Failed&nbsp;Transcation</th>
             
                    <th colspan="2">Pending&nbsp;Transcation</th>
          
                </tr>
                <tr>
                    <th>Amount</th>
                    <th>Count</th>
                    <th>Amount</th>
                    <th>Count</th>
                    <th>Pending</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.operator_Name</td>
                        <td>@item.amountall</td>
                        <td>@item.totalsuccess</td>
                        <td>@item.countsuccess</td>
                        <td>@item.totalfailed</td>
                        <td>@item.countfailed</td>
                        <td>@item.totalpending</td>
                        <td>@item.countpending</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function hide() {
        $('.gross-business-first').show();
        $('.gross-business-second').hide();
    }
</script>
