@model Vastwebmulti.Areas.ADMIN.Models.CashDepositeAndBank_Info_VM
@using (Ajax.BeginForm("_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success1", OnFailure = "failed1", UpdateTargetId = "remcash" }))
{
    <input id="btnsubmit1" type="submit" value="Save Now" class="btn btn-default" style="display:none;width:20%;" />
    <div id="tblRetailer">
        <table class="table table-responsive table-bordered example-second">
            <thead>
                <tr style="background: #c7c7c7;">
                    <th>User ID</th>
                    <th>Payment&nbsp;Type</th>
                    <th>Charge &nbsp;(%)</th>
                </tr>
            </thead>
            @if (Model.creditchargeRetailer != null)
            {
                <tbody id="tbodyshowretailer">
                    @foreach (var item in Model.creditchargeRetailer)
                    {
                        <tr>
                            <th>@item.userid</th>
                            <th>@item.ctype</th>
                            <th>@item.Charge</th>
                        </tr>
                    }
                </tbody>
                <tbody id="tbodyeditretailer" style="display:none;">
                    @for (int i = 0; i < Model.creditchargeRetailer.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.creditchargeRetailer[i].userinfo)
                            <td>
                                @Html.DisplayFor(a => a.creditchargeRetailer[i].userid)
                            </td>
                            <td>
                                @Html.HiddenFor(a => a.creditchargeRetailer[i].ctype)
                                @Html.DisplayFor(a => a.creditchargeRetailer[i].ctype)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.creditchargeRetailer[i].Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.creditchargeRetailer[i].Charge)
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}




<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>