@model Vastwebmulti.Areas.ADMIN.ViewModel.MicroatmchargeViewmodel

<table class="table table-bordered example-second" id="matmreport" style="width:100%;">
    <thead style="background-color:whitesmoke;">
        <tr>
            <th rowspan="3">Plan&nbsp;Name</th>
            <th rowspan="3">Days</th>
            <th rowspan="3">Device&nbsp;Price</th>
            <th rowspan="3">Min&nbsp;Qty</th>
            <th colspan="3">Upto&nbsp;2&nbsp;Transition (Daily) </th>
            <th colspan="3">Upto&nbsp;5&nbsp;Transition (Daily)</th>
            <th colspan="3">Upto&nbsp;8&nbsp;Transition (Daily)</th>
            <th colspan="3">Above&nbsp;8&nbsp;Transition (Daily)</th>
            <th colspan="3">Monthly&nbsp;Charge (Fixed) </th>
            <th rowspan="3">Edit</th>
        </tr>
        <tr>
            <th>Retailer<i style="color:red;">*</i> </th>
            <th>Dealer<i style="color:green;">*</i></th>
            <th>Master<i style="color:green;">*</i></th>
            <th>Retailer<i style="color:red;">*</i> </th>
            <th>Dealer<i style="color:green;">*</i></th>
            <th>Master<i style="color:green;">*</i></th>
            <th>Retailer<i style="color:red;">*</i> </th>
            <th>Dealer<i style="color:green;">*</i></th>
            <th>Master<i style="color:green;">*</i></th>
            <th>Retailer<i style="color:red;">*</i> </th>
            <th>Dealer<i style="color:green;">*</i></th>
            <th>Master<i style="color:green;">*</i></th>
            <th>Retailer<i style="color:red;">*</i> </th>
            <th>Dealer<i style="color:green;">*</i></th>
            <th>Master<i style="color:green;">*</i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Showdeviceplanlist)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.planname)</td>
            <td>@Html.DisplayFor(modelItem => item.noofdays)</td>
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="deviceprice" name="deviceprice" style="width: 60px" ; value="@Model.GetChargelistById.deviceprice" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.deviceprice) </td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="minquantity" name="minquantity" style="width: 50px" ; value="@Model.GetChargelistById.minquantity" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.minquantity)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="upto2" name="upto2" style="width: 50px" ; value="@Model.GetChargelistById.upto2" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.upto2)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="upto5" name="upto5" style="width: 50px" ; value="@Model.GetChargelistById.upto5" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.upto5)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="upto8" name="upto8" style="width: 50px" ; value="@Model.GetChargelistById.upto8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.upto8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="above8" name="above8" style="width: 50px" ; value="@Model.GetChargelistById.above8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.above8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="dlm_upto2" name="dlm_upto2" style="width: 50px" ; value="@Model.GetChargelistById.dlm_upto2" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.dlm_upto2)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="dlm_upto5" name="dlm_upto5" style="width: 50px" ; value="@Model.GetChargelistById.dlm_upto5" />
                </td>

            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.dlm_upto5)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="dlm_upto8" name="dlm_upto8" style="width: 50px" ; value="@Model.GetChargelistById.dlm_upto8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.dlm_upto8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="dlm_above8" name="dlm_above8" style="width: 50px" ; value="@Model.GetChargelistById.dlm_above8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.dlm_above8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_upto2" name="md_upto2" style="width: 50px" ; value="@Model.GetChargelistById.md_upto2" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.md_upto2)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_upto5" name="md_upto5" style="width: 50px" ; value="@Model.GetChargelistById.md_upto5" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.md_upto5)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_upto8" name="md_upto8" style="width: 50px" ; value="@Model.GetChargelistById.md_upto8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.md_upto8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_above8" name="md_above8" style="width: 50px" ; value="@Model.GetChargelistById.md_above8" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.md_above8)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_monthly" name="md_monthly" style="width: 50px" ; value="@Model.GetChargelistById.monthly" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.monthly)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_monthly_dealer" name="md_monthly_delaer" style="width: 50px" ; value="@Model.GetChargelistById.monthlydealer" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.monthlydealer)</td>
            }
            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <input type="text" id="md_monthly_master" name="md_monthly_master" style="width: 50px" ; value="@Model.GetChargelistById.monthlymaster" />
                </td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.monthlymaster)</td>
            }

            @if (item.idno == Model.GetChargelistById.idno)
            {
                <td>
                    <button type="button" class="switch-edit-button custom-table-loading" onclick="SaveAmountData(@item.idno)" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                        Save
                    </button>
                </td>
            }
            else
            {
                <td>
                    <button type="button" class="switch-edit-button" onclick="EditPlanorday(@item.idno)">
                        Edit
                    </button>
                </td>
            }
        </tr>
        }
    </tbody>
    </table>
