@model Vastwebmulti.Areas.ADMIN.Models.MicroatmcashCommonModel
@using (Ajax.BeginForm("_common_Microatm_cash", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <table class="table table-bordered slab-table example-second third-design-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial; ">
            <tr>
                <th rowspan="2">USER'S <br /> <span style="font-size:10px; color:green;">Type&nbsp;Of&nbsp;Users</span></th>
                <th colspan="4" style="text-align:center">Cash&nbsp;&&nbsp;POS<br /> <span style="font-size:12px; color:green;">300&nbsp;to&nbsp;1000</span></th>
                <th colspan="4" style="text-align:center">Cash&nbsp;&&nbsp;POS<br /> <span style="font-size:12px; color:green;">1001&nbsp;to&nbsp;2000</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">300&nbsp;to&nbsp;999</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">1000&nbsp;to&nbsp;1499</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">1500&nbsp;to&nbsp;1999</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">2000&nbsp;to&nbsp;2499</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">2500&nbsp;to&nbsp;2999</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">3000&nbsp;to&nbsp;3499</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">3500&nbsp;to&nbsp;5000</span></th>
                <th colspan="4" style="text-align:center">M-ATM<br /> <span style="font-size:12px; color:green;">5001&nbsp;to&nbsp;10000</span></th>
            </tr>
            <tr>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                var active1 = item.cash_0_1000_Type;
                var color1 = ""; var color11 = "";
                if (active1 == "Per")
                {
                    color1 = "green";
                    active1 = "(%)";
                }
                else
                {
                    color11 = "green";
                    active1 = "(₹)";
                }
                var active2 = item.cash_1001_2000_Type;
                var color2 = ""; var color21 = "";
                if (active2 == "Per")
                {
                    color2 = "green";
                    active2 = "(%)";
                }
                else
                {
                    color21 = "green";
                    active2 = "(₹)";
                }
                var active3 = item.mtm_500_1000_Type;
                var color3 = ""; var color31 = "";
                if (active3 == "Per")
                {
                    color3 = "green";
                    active3 = "(%)";
                }
                else
                {
                    color31 = "green";
                    active3 = "(₹)";
                }
                var active4 = item.mtm_1001_1499_Type;
                var color4 = ""; var color41 = "";
                if (active4 == "Per")
                {
                    color4 = "green";
                    active4 = "(%)";
                }
                else
                {
                    color41 = "green";
                    active4 = "(₹)";
                }
                var active5 = item.mtm_1500_1999_Type;
                var color5 = ""; var color51 = "";
                if (active5 == "Per")
                {
                    color5 = "green";
                    active5 = "(%)";
                }
                else
                {
                    color51 = "green";
                    active5 = "(₹)";
                }
                var active6 = item.mtm_2000_2499_Type;
                var color6 = ""; var color61 = "";
                if (active6 == "Per")
                {
                    color6 = "green";
                    active6 = "(%)";
                }
                else
                {
                    color61 = "green";
                    active6 = "(₹)";
                }
                var active7 = item.mtm_2500_2999_Type;
                var color7 = ""; var color71 = "";
                if (active7 == "Per")
                {
                    color7 = "green";
                    active7 = "(%)";
                }
                else
                {
                    color71 = "green";
                    active7 = "(₹)";
                }
                var active8 = item.mtm_3000_3499_Type;
                var color8 = ""; var color81 = "";
                if (active8 == "Per")
                {
                    color8 = "green";
                    active8 = "(%)";
                }
                else
                {
                    color81 = "green";
                    active8 = "(₹)";
                }
                var active9 = item.mtm_3500_5000_Type;
                var color9 = ""; var color91 = "";
                if (active9 == "Per")
                {
                    color9 = "green";
                    active9 = "(%)";
                }
                else
                {
                    color91 = "green";
                    active9 = "(₹)";
                }
                var active10 = item.mtm_5001_10000_Type;
                var color10 = ""; var color101 = "";
                if (active10 == "Per")
                {
                    color10 = "green";
                    active10 = "(%)";
                }
                else
                {
                    color101 = "green";
                    active10 = "(₹)";
                }
            <tr>
                <td>@item.users</td>
                <td style="color:@color1">@item.cash_0_1000_per</td>
                <td style="color:@color11">@item.cash_0_1000_rs</td>
                <td style="color:@color1">@item.cash_0_1000_maxrs</td>
                <td>@active1</td>
                <td style="color:@color2">@item.cash_1001_2000_per</td>
                <td style="color:@color21">@item.cash_1001_2000_rs</td>
                <td style="color:@color2">@item.cash_1001_2000_maxrs</td>
                <td>@active2</td>
                <td style="color:@color3">@item.mtm_500_1000_per</td>
                <td style="color:@color31">@item.mtm_500_1000_rs</td>
                <td style="color:@color3">@item.mtm_500_1000_maxrs</td>
                <td>@active3</td>
                <td style="color:@color4;">@item.mtm_1001_1499_per</td>
                <td style="color:@color41;">@item.mtm_1001_1499_rs</td>
                <td style="color:@color4;">@item.mtm_1001_1499_maxrs</td>
                <td>@active4</td>
                <td style="color:@color5">@item.mtm_1500_1999_per</td>
                <td style="color:@color51">@item.mtm_1500_1999_rs</td>
                <td style="color:@color5">@item.mtm_1500_1999_maxrs</td>
                <td>@active5</td>

                <td style="color:@color6">@item.mtm_2000_2499_per</td>
                <td style="color:@color61">@item.mtm_2000_2499_rs</td>
                <td style="color:@color6">@item.mtm_2000_2499_maxrs</td>
                <td>@active6</td>
                <td style="color:@color7">@item.mtm_2500_2999_per</td>
                <td style="color:@color71">@item.mtm_2500_2999_rs</td>
                <td style="color:@color7">@item.mtm_2500_2999_maxrs</td>
                <td>@active7</td>
                <td style="color:@color8">@item.mtm_3000_3499_per</td>
                <td style="color:@color81">@item.mtm_3000_3499_rs</td>
                <td style="color:@color8">@item.mtm_3000_3499_maxrs</td>
                <td>@active8</td>
                <td style="color:@color9">@item.mtm_3500_5000_per</td>
                <td style="color:@color91">@item.mtm_3500_5000_rs</td>
                <td style="color:@color9">@item.mtm_3500_5000_maxrs</td>
                <td>@active9</td>
                <td style="color:@color10">@item.mtm_5001_10000_per</td>
                <td style="color:@color101">@item.mtm_5001_10000_rs</td>
                <td style="color:@color10">@item.mtm_5001_10000_maxrs</td>
                <td>@active10</td>
            </tr>
            }

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
            <tr>
                @Html.HiddenFor(a => a.common[i].idno)
                <td>
                    @Html.DisplayFor(aa => aa.common[i].users)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_0_1000_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_0_1000_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_0_1000_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_0_1000_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_0_1000_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_0_1000_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].cash_0_1000_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].cash_0_1000_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_1001_2000_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_1001_2000_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_1001_2000_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_1001_2000_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].cash_1001_2000_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].cash_1001_2000_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].cash_1001_2000_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].cash_1001_2000_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_500_1000_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_500_1000_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_500_1000_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_500_1000_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_500_1000_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_500_1000_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_500_1000_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_500_1000_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1001_1499_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1001_1499_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1001_1499_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1001_1499_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1001_1499_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1001_1499_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_1001_1499_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_1001_1499_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1500_1999_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1500_1999_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1500_1999_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1500_1999_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_1500_1999_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_1500_1999_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_1500_1999_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_1500_1999_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2000_2499_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2000_2499_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2000_2499_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2000_2499_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2000_2499_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2000_2499_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_2000_2499_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_2000_2499_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2500_2999_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2500_2999_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2500_2999_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2500_2999_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_2500_2999_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_2500_2999_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_2500_2999_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_2500_2999_Type))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3000_3499_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3000_3499_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3000_3499_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3000_3499_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3000_3499_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3000_3499_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_3000_3499_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_3000_3499_Type))
                </td>

                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3500_5000_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3500_5000_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3500_5000_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3500_5000_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_3500_5000_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_3500_5000_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_3500_5000_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_3500_5000_Type))
                </td>

                <td>
                    @Html.EditorFor(a => a.common[i].mtm_5001_10000_per, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_5001_10000_per)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_5001_10000_rs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_5001_10000_rs)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].mtm_5001_10000_maxrs, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mtm_5001_10000_maxrs)
                </td>
                <td>
                    @Html.DropDownListFor(aa => aa.common[i].mtm_5001_10000_Type, new SelectList(
                  new List<Object>{
                       new { value = "Rs" , text = "Rs"  },
                       new { value = "Per" , text = "%" }
                    }, "value", "text", Model.common[i].mtm_5001_10000_Type))
                </td>


            </tr>
            }

        </tbody>
    </table>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>