@model Vastwebmulti.Areas.ADMIN.Models.CashDepositCommonModel
@using (Ajax.BeginForm("_common_CashDeposit", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <table class="table table-bordered slab-table example-second third-design-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial; ">
            <tr>
                <th rowspan="2">USER'S <br /> <span style="font-size:10px; color:green;">Type&nbsp;Of&nbsp;Users</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">500&nbsp;to&nbsp;999</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">1000&nbsp;to&nbsp;1499</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">1500&nbsp;to&nbsp;1999</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">2000&nbsp;to&nbsp;2499</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">2500&nbsp;to&nbsp;2999</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">3000&nbsp;to&nbsp;3499</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">3500&nbsp;to&nbsp;5000</span></th>
                <th colspan="4" style="text-align:center">CashDeposit&nbsp;COMM<br /> <span style="font-size:12px; color:green;">5001&nbsp;to&nbsp;10000</span></th>
            </tr>
            <tr>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
                <td>(%)</td>
                <td>(₹)</td>
                <td>Max(₹)</td>
                <td>Active</td>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                var active1 = item.Type_500_999;
                var color1 = ""; var color11 = "";
                if (active1 == "Per")
                {
                    color1 = "green";
                    active1 = "(%)";
                }
                else
                {
                    color11 = "green";
                    active1 = "(₹)";
                }
                var active2 = item.Type_1000_1499;
                var color2 = ""; var color21 = "";
                if (active2 == "Per")
                {
                    color2 = "green";
                    active2 = "(%)";
                }
                else
                {
                    color21 = "green";
                    active2 = "(₹)";
                }
                var active3 = item.Type_1500_1999;
                var color3 = ""; var color31 = "";
                if (active3 == "Per")
                {
                    color3 = "green";
                    active3 = "(%)";
                }
                else
                {
                    color31 = "green";
                    active3 = "(₹)";
                }
                var active4 = item.Type_2000_2499;
                var color4 = ""; var color41 = "";
                if (active4 == "Per")
                {
                    color4 = "green";
                    active4 = "(%)";
                }
                else
                {
                    color41 = "green";
                    active4 = "(₹)";
                }
                var active5 = item.Type_2500_2999;
                var color5 = ""; var color51 = "";
                if (active5 == "Per")
                {
                    color5 = "green";
                    active5 = "(%)";
                }
                else
                {
                    color51 = "green";
                    active5 = "(₹)";
                }
                var active6 = item.Type_3000_3499;
                var color6 = ""; var color61 = "";
                if (active6 == "Per")
                {
                    color6 = "green";
                    active6 = "(%)";
                }
                else
                {
                    color61 = "green";
                    active6 = "(₹)";
                }
                var active7 = item.Type_3500_5000;
                var color7 = ""; var color71 = "";
                if (active7 == "Per")
                {
                    color7 = "green";
                    active7 = "(%)";
                }
                else
                {
                    color71 = "green";
                    active7 = "(₹)";
                }
                var active8 = item.Type_5001_10000;
                var color8 = ""; var color81 = "";
                if (active8 == "Per")
                {
                    color8 = "green";
                    active8 = "(%)";
                }
                else
                {
                    color81 = "green";
                    active8 = "(₹)";
                }
                <tr>
                    <td>@item.usertype</td>
                    <td style="color:@color1">@item.per_500_999</td>
                    <td style="color:@color11">@item.rs_500_999</td>
                    <td style="color:@color1">@item.maxrs_500_999</td>
                    <td>@active1</td>
                    <td style="color:@color2;">@item.per_1000_1499</td>
                    <td style="color:@color21;">@item.rs_1000_1499</td>
                    <td style="color:@color2;">@item.maxrs_1000_1499</td>
                    <td>@active2</td>
                    <td style="color:@color3">@item.per_1500_1999</td>
                    <td style="color:@color31">@item.rs_1500_1999</td>
                    <td style="color:@color3">@item.maxrs_1500_1999</td>
                    <td>@active3</td>
                    <td style="color:@color4">@item.per_2000_2499</td>
                    <td style="color:@color41">@item.rs_2000_2499</td>
                    <td style="color:@color4">@item.maxrs_2000_2499</td>
                    <td>@active4</td>
                    <td style="color:@color5">@item.per_2500_2999</td>
                    <td style="color:@color51">@item.rs_2500_2999</td>
                    <td style="color:@color5">@item.maxrs_2500_2999</td>
                    <td>@active5</td>
                    <td style="color:@color6">@item.per_3000_3499</td>
                    <td style="color:@color61">@item.rs_3000_3499</td>
                    <td style="color:@color6">@item.maxrs_3000_3499</td>
                    <td>@active6</td>
                    <td style="color:@color7">@item.per_3500_5000</td>
                    <td style="color:@color71">@item.rs_3500_5000</td>
                    <td style="color:@color7">@item.maxrs_3500_5000</td>
                    <td>@active7</td>
                    <td style="color:@color8">@item.per_5001_10000</td>
                    <td style="color:@color81">@item.rs_5001_10000</td>
                    <td style="color:@color8">@item.maxrs_5001_10000</td>
                    <td>@active8</td>
                </tr>
            }
           
        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(a => a.common[i].idno)
                    <td>
                        @Html.DisplayFor(aa => aa.common[i].usertype)
                    </td>
                   
                    <td>
                        @Html.EditorFor(a => a.common[i].per_500_999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_500_999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_500_999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_500_999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_500_999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_500_999)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_500_999, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_500_999))
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].per_1000_1499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_1000_1499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_1000_1499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_1000_1499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_1000_1499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_1000_1499)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_1000_1499, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_1000_1499))
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].per_1500_1999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_1500_1999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_1500_1999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_1500_1999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_1500_1999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_1500_1999)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_1500_1999, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_1500_1999))
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].per_2000_2499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_2000_2499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_2000_2499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_2000_2499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_2000_2499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_2000_2499)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_2000_2499, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_2000_2499))
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].per_2500_2999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_2500_2999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_2500_2999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_2500_2999)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_2500_2999, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_2500_2999)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_2500_2999, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_2500_2999))
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].per_3000_3499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_3000_3499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_3000_3499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_3000_3499)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_3000_3499, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_3000_3499)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_3000_3499, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_3000_3499))
                    </td>

                    <td>
                        @Html.EditorFor(a => a.common[i].per_3500_5000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_3500_5000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_3500_5000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_3500_5000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_3500_5000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_3500_5000)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_3500_5000, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_3500_5000))
                    </td>

                    <td>
                        @Html.EditorFor(a => a.common[i].per_5001_10000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].per_5001_10000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].rs_5001_10000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].rs_5001_10000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].maxrs_5001_10000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].maxrs_5001_10000)
                    </td>
                    <td>
                        @Html.DropDownListFor(aa => aa.common[i].Type_5001_10000, new SelectList(
                      new List<Object>{
                           new { value = "Rs" , text = "Rs"  },
                           new { value = "Per" , text = "%" }
                        }, "value", "text", Model.common[i].Type_5001_10000))
                    </td>


                </tr>
            }

        </tbody>
    </table>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>
