@model Vastwebmulti.Areas.ADMIN.Models.GatewayPayment
@using (Ajax.BeginForm("_common_PaymentGatewaySlab", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display: none; padding: 0px 10px !important; border-radius: 4px; background: #26a426 !important; color: #fff; border: 1px solid #fff; " />
    <table class="table table-bordered slab-table example-second third-design-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial; ">
            <tr>
                <th rowspan="2">USER'S <br /> <span style="font-size:10px; color:green;">Type&nbsp;Of&nbsp;Users</span></th>
                <th colspan="3" style="text-align:center;">Credit&nbsp;Card Charge/Limit</th>
                <th colspan="3" style="text-align:center">Debit&nbsp;Card Charge/Limit</th>
                <th colspan="4" style="text-align:center">Net&nbsp;Banking Charge/Limit</th>
                <th colspan="2" style="text-align:center">Wallet Charge/Limit</th>
                <th colspan="2" style="text-align:center">UPI Charge/Limit</th>
               </tr>
            <tr>
                <!----Retailer---->
                @*<td style="border-left: 1px; border-color: #aaa4a4;">Status</td>*@
                <td style="border-left: 1px; border-color: #aaa4a4;">
                    Charge<sup>%</sup>
                    <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
                </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Max<sup>₹</sup></td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Settlement</td>
                <!----Dealer---->
                @*<td style="border-left: 1px; border-color: #aaa4a4;">Status</td>*@
            <td style="border-left: 1px; border-color: #aaa4a4;">
                UpTo 2K<sup>%</sup>
                <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
            </td>
            <td style="border-left: 1px; border-color: #aaa4a4;">
                Above 2K<sup>%</sup>
                <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
            </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Max<sup>₹</sup></td>
                <!----Net Banking---->
                @*   <td style="border-left: 1px; border-color: #aaa4a4;">Status</td>*@
            <td style="border-left: 1px; border-color: #aaa4a4;">
                HDFC/ICICI<sup>%</sup>
                <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
            </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">
                    AXIS/SBI/KOTAK<sup>%</sup>
                    <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
                </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">
                    Others<sup>₹</sup>
                    <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
                </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Max<sup>₹</sup></td>
                <!----Wallet---->
                @*   <td style="border-left: 1px; border-color: #aaa4a4;">Status</td>*@
            <td style="border-left: 1px; border-color: #aaa4a4;">
                Charge<sup>%</sup>
                <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
            </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Max<sup>₹</sup></td>
                <!----UPI---->
                @*   <td style="border-left: 1px; border-color: #aaa4a4;">Status</td>*@
            <td style="border-left: 1px; border-color: #aaa4a4;">
                Charge<sup>%</sup>
                <br /> <span style="font-size:10px; color:red;">Exclude&nbsp;GST</span>
            </td>
                <td style="border-left: 1px; border-color: #aaa4a4;">Max<sup>₹</sup></td>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
            <tr>
                <td>@item.userid</td>
                <td>
                    @item.creditcard
                    @if (item.CreditCardsts == true)
                    {
                        <i class="fa fa-toggle-on" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-toggle-off" style="color:red"></i>
                    }
                </td>
                <td>@item.creditcardmax</td>
                <td>@item.creditsettlement</td>
                <td>
                    @item.debitupto2000
                    @if (item.DebitCardsts == true)
                    {
                        <i class="fa fa-toggle-on" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-toggle-off" style="color:red"></i>
                    }
                </td>
                <td>@item.debitabove2000</td>
                <td>@item.debitmax</td>
                <td>
                    @item.netbanking
                    @if (item.netbankingsts == true)
                    {
                        <i class="fa fa-toggle-on" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-toggle-off" style="color:red"></i>
                    }
                </td>
                <td>@item.axis</td>
                <td>@item.others</td>
                <td>@item.netbankmax</td>
                <td>
                    @item.wallet
                    @if (item.walletsts == true)
                    {
                        <i class="fa fa-toggle-on" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-toggle-off" style="color:red"></i>
                    }
                </td>
                <td>@item.walletmax</td>
                <td>
                    @item.UPI
                    @if (item.upists == true)
                    {
                        <i class="fa fa-toggle-on" style="color:green"></i>
                    }
                    else
                    {
                        <i class="fa fa-toggle-off" style="color:red"></i>
                    }
                </td>
                <td>@item.upimax</td>
            </tr>
            }
        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
            <tr>
                @Html.HiddenFor(a => a.common[i].idno)
                <td>  @Html.EditorFor(a => a.common[i].userid, new { htmlAttributes = new { @style = "width:80px !important", @readonly = true } })</td>
                <td style="display:flex">
                    @Html.EditorFor(a => a.common[i].creditcard, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].creditcard)

                    @Html.DropDownListFor(m => m.common[i].CreditCardsts, new SelectList(new[]
                     {
                        new { Value = true, Text = "ON" },
                        new { Value = false, Text = "OFF" },
                     }, "Value", "Text", Model.common[i].CreditCardsts))

                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].creditcardmax, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].creditcardmax)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.common[i].creditsettlement, new SelectList(new[]
                      {
                         new { Value = "Live" , Text = "Live" },
                         new { Value = "T+1", Text = "T+1" },
                      }, "Value", "Text", Model.common[i].creditsettlement))
                </td>
                <td style="display:flex">
                    @Html.EditorFor(a => a.common[i].debitupto2000, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].debitupto2000)
                    @Html.DropDownListFor(m => m.common[i].DebitCardsts, new SelectList(new[]
                    {
                      new { Value =true, Text = "ON" },
                      new { Value = false, Text = "OFF" },
                    }, "Value", "Text", Model.common[i].DebitCardsts))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].debitabove2000, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].debitabove2000)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].debitmax, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].debitmax)
                </td>
                <td style="display:flex">
                    @Html.EditorFor(a => a.common[i].netbanking, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].netbanking)
                    @Html.DropDownListFor(m => m.common[i].netbankingsts, new SelectList(new[]
                    {
                      new { Value = true, Text = "ON" },
                      new { Value = false, Text = "OFF" },
                    }, "Value", "Text", Model.common[i].netbankingsts))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].axis, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].axis)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].others, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].others)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].netbankmax, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].netbankmax)
                </td>
                <td style="display:flex">
                    @Html.EditorFor(a => a.common[i].wallet, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].wallet)
                    @Html.DropDownListFor(m => m.common[i].walletsts, new SelectList(new[]
                    {
                            new { Value = true, Text = "ON" },
                      new { Value = false, Text = "OFF" },
                    }, "Value", "Text", Model.common[i].walletsts))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].walletmax, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].walletmax)
                </td>
                <td style="display:flex">
                    @Html.EditorFor(a => a.common[i].UPI, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].UPI)
                    @Html.DropDownListFor(m => m.common[i].upists, new SelectList(new[]
                    {
                          new { Value = true, Text = "ON" },
                      new { Value = false, Text = "OFF" },
                    }, "Value", "Text", Model.common[i].upists))
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].upimax, new { htmlAttributes = new { @style = "width:50px !important" } })
                    @Html.ValidationMessageFor(a => a.common[i].upimax)
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<script>
    function creditsts(chk, sts) {
        var valchk = 'retailersts' + chk;
        var retailertrue = "retailertrue" + chk;
        var retailerfalse = "retailerfalse" + chk;
        if (sts == true) {
            $('#' + retailerfalse).removeClass("fa-close")
            $('#' + retailerfalse).addClass("fa-check").css('color', 'green');
            document.getElementById("#" + retailerfalse).onclick = creditsts(chk, false);
        }
        else {
            $('#' + retailertrue).removeClass("fa-check")
            $('#' + retailertrue).addClass("fa-close").css('color', 'red');
            document.getElementById("#" + retailertrue).onclick = creditsts(chk, true);
        }
        $('#' + valchk).val(sts)
    }
</script>

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>