
@model Vastwebmulti.Areas.ADMIN.Models.IRCTCSlabModel
@using (Ajax.BeginForm("_Common_IRCTC", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <table class="table table-bordered slab-table example-second thpadding-second third-design-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>Retailer&nbsp;Token(₹)</th>
                <th>Renewal&nbsp;Token(₹)</th>
                @*<th>Token&nbsp;comm(₹)</th>*@
                <th>M/D&nbsp;Comm(₹)</th>
               <th>DLM&nbsp;Comm(₹)</th>
              
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                <tr>
                    <td>@item.tokenvalue</td>
                    <td>@item.retailertoken</td>
                    @*<td>@item.dlmremtokenvalue</td>*@
                    <td>@item.mdtokencomm</td>
                    <td>@item.dlmtokencomm</td>
                   
                </tr>
            }

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
            <tr>
                @Html.HiddenFor(a => a.common[i].idno)
                <td>
                    @Html.EditorFor(a => a.common[i].tokenvalue, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].tokenvalue)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].retailertoken, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].retailertoken)
                </td>
                @*<td>
                    @Html.EditorFor(a => a.common[i].dlmremtokenvalue, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dlmremtokenvalue)
                </td>*@
                <td>
                    @Html.EditorFor(a => a.common[i].mdtokencomm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].mdtokencomm)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dlmtokencomm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dlmtokencomm)
                </td>

            </tr>
            }

        </tbody>
    </table>
}

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>