
@model Vastwebmulti.Areas.ADMIN.Models.DMT2SlabModel

@using (Html.BeginForm("_Common_Money_transfer_new", "Home", FormMethod.Post))
{



    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <div class="">
        <table class="table table-bordered slab-table example-second thpadding-second third-design-table">
            <thead class="navbar" style="position:initial;">
                <tr>
                    <th rowspan="2">User&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th rowspan="2">Verify&nbsp;<br />Charge&nbsp;(₹)</th>
                    <th colspan="2" style="text-align:center">Range&nbsp;100&nbsp;>&nbsp;1K</th>
                    <th colspan="2" style="text-align:center">Range&nbsp;1001&nbsp;>&nbsp;2K</th>
                    <th colspan="2" style="text-align:center">Range&nbsp;2001&nbsp;>&nbsp;3K</th>
                    <th colspan="2" style="text-align:center">Range&nbsp;3001&nbsp;>&nbsp;4K</th>
                    <th colspan="2" style="text-align:center">Range&nbsp;4001&nbsp;>&nbsp;5K</th>

                </tr>
                <tr style="color: #333333; font-weight: 600; font-size: 11px;">
                    <td>Comm/Sharing</td>
                    <td>Active</td>
                    <td>
                        Comm/Sharing
                    </td>
                    <td>Active</td>
                    <td>
                        Comm/Sharing
                    </td>
                    <td>Active</td>
                    <td>
                        Comm/Sharing
                    </td>
                    <td>Active</td>
                    <td>
                        Comm/Sharing
                    </td>
                    <td>Active</td>



                </tr>
            </thead>
            <tbody id="tbodyshow">
                @foreach (var item in Model.commonnew)
                {
                    var usertype = item.usertype;
                    if (item.usertype == "Distributor-REM")
                    {
                        usertype = "Retailer Sharing";
                    }
                    var data = "";
                    if (item.usertype == "Retailer")
                    {
                        usertype = "Retailer Sharing";
                        data = "";
                    }
                    var color = "";
                    if (item.usertype == "Purchase")
                    {
                        usertype = "Purchase Charge";
                        color = "#f9f9cb";
                    }
                    if (item.usertype == "WhiteLabel")
                    {
                        usertype = "WhiteLabel Charge";
                    }
                    if (item.usertype == "API")
                    {
                        usertype = "API Charge";
                    }
                    if (item.usertype == "Master")
                    {
                        usertype = "Master commission";
                    }
                    if (item.usertype == "Distributor")
                    {
                        usertype = "Distributor commission";
                    }


                    <tr style="background-color:@color; display:@data">
                        @if (item.usertype == "Retailer")
                        {
                            <td>@usertype</td>
                            <td>@item.Verify_comm</td>
                            <td>@item.Comm_1000</td>
                            <td>%</td>
                            <td>@item.Comm_2000</td>
                            <td>%</td>
                            <td>@item.Comm_3000</td>
                            <td>%</td>
                            <td>@item.Comm_4000</td>
                            <td>%</td>
                            <td>@item.Comm_5000</td>
                            <td>%</td>
                        }
                        else
                        {
                            <td>@usertype</td>
                            <td>@item.Verify_comm</td>
                            <td>@item.Comm_1000</td>
                            <td>₹</td>
                            <td>@item.Comm_2000</td>
                            <td>₹</td>
                            <td>@item.Comm_3000</td>
                            <td>₹</td>
                            <td>@item.Comm_4000</td>
                            <td>₹</td>
                            <td>@item.Comm_5000</td>
                            <td>₹</td>
                        }


                    </tr>
                }

            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @for (int i = 0; i < Model.commonnew.Count; i++)
                {
                    var usertype = Model.commonnew[i].usertype;

                    var data = "";
                    if (Model.commonnew[i].usertype == "Retailer")
                    {
                        usertype = "Retailer Sharing";

                    }
                    var color = "";
                    if (Model.commonnew[i].usertype == "Purchase")
                    {
                        usertype = "Purchase Charge";
                        color = "#f9f9cb";
                    }
                    if (Model.commonnew[i].usertype == "WhiteLabel")
                    {
                        usertype = "WhiteLabel Charge";
                    }
                    if (Model.commonnew[i].usertype == "API")
                    {
                        usertype = "API Charge";
                    }
                    if (Model.commonnew[i].usertype == "Master")
                    {
                        usertype = "Master commission";
                    }
                    if (Model.commonnew[i].usertype == "Distributor")
                    {
                        usertype = "Distributor commission";
                    }
                    if (Model.commonnew[i].usertype == "Retailer")
                    {
                        <tr style="background-color:@color; display:@data">
                            @Html.HiddenFor(a => a.commonnew[i].idno)
                            <td>
                                @usertype
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].verify_comm)
                            </td>

                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_1000)
                            </td>
                            <td>
                                %
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_2000)
                            </td>
                            <td>
                                %
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_3000)
                            </td>
                            <td>
                                %
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_4000)
                            </td>
                            <td>
                                %
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_5000)
                            </td>
                            <td>
                                %
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr style="background-color:@color; display:@data">
                            @Html.HiddenFor(a => a.commonnew[i].idno)
                            <td>
                                @usertype
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].verify_comm)
                            </td>

                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_1000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_2000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_3000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_4000)
                            </td>
                            <td>
                                ₹
                            </td>
                            <td>
                                @Html.EditorFor(a => a.commonnew[i].Comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_5000)
                            </td>
                            <td>
                                ₹
                            </td>

                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });


</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>
