@model Vastwebmulti.Areas.ADMIN.Models.PancardSlabModel
@using (Ajax.BeginForm("_Common_pancard", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <table class="table table-bordered slab-table example-second thpadding-second third-design-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>Retailer&nbsp;comm(%)</th>
                <th>distributer&nbsp;comm(%)</th>
                <th>Master&nbsp;comm(%)</th>
                
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                <tr>
                    <td>@item.retailer_comm</td>
                    <td>@item.dealer_comm</td>
                    <td>@item.master_comm</td>
             
                </tr>
            }

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
            <tr>
                @Html.HiddenFor(a => a.common[i].idno)
                <td>
                    @Html.EditorFor(a => a.common[i].retailer_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].retailer_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dealer_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dealer_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].master_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].master_comm)
                </td>
               
            </tr>
            }

        </tbody>
    </table>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>