@model Vastwebmulti.Areas.ADMIN.Models.WalletTransfer
@using (Ajax.BeginForm("_Common_Wallet_transfer", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <div class="">
        <table class="table table-bordered slab-table example-second thpadding-second third-design-table" style="margin-top:15px;">
            <thead class="navbar" style="position:initial;">
                <tr>
                    <th>User&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Verify<br />(₹)</th>
                    <th>Charge&nbsp;(₹) 100&nbsp;>&nbsp;1K</th>
                    <th>Charge&nbsp;(₹) 1001&nbsp;>&nbsp;2K</th>
                    <th>Charge&nbsp;(₹) 2001&nbsp;>&nbsp;3K</th>
                    <th>Charge&nbsp;(₹) 3001&nbsp;>&nbsp;4K</th>
                    <th>Charge&nbsp;(₹) 4001&nbsp;>&nbsp;5K</th>
                    <th>Charge&nbsp;(₹) 5001&nbsp;>&nbsp;6K</th>
                    <th>Charge&nbsp;(₹) 6001&nbsp;>&nbsp;7K</th>
                    <th>Charge&nbsp;(₹) 7001&nbsp;>&nbsp;8K</th>
                    <th>Charge&nbsp;(₹) 8001&nbsp;>&nbsp;9K</th>
                    <th>Charge&nbsp;(₹) 9001&nbsp;>&nbsp;10K</th>

                    <th>Charge&nbsp;(₹) 10001&nbsp;>&nbsp;11K</th>
                    <th>Charge&nbsp;(₹) 11001&nbsp;>&nbsp;12K</th>
                    <th>Charge&nbsp;(₹) 12001&nbsp;>&nbsp;13K</th>
                    <th>Charge&nbsp;(₹) 13001&nbsp;>&nbsp;14K</th>
                    <th>Charge&nbsp;(₹) 14001&nbsp;>&nbsp;15K</th>
                    <th>Charge&nbsp;(₹) 15001&nbsp;>&nbsp;16K</th>
                    <th>Charge&nbsp;(₹) 16001&nbsp;>&nbsp;17K</th>
                    <th>Charge&nbsp;(₹) 17001&nbsp;>&nbsp;18K</th>
                    <th>Charge&nbsp;(₹) 18001&nbsp;>&nbsp;19K</th>
                    <th>Charge&nbsp;(₹) 19001&nbsp;>&nbsp;20K</th>

                    <th>Charge&nbsp;(₹) 20001&nbsp;>&nbsp;21K</th>
                    <th>Charge&nbsp;(₹) 21001&nbsp;>&nbsp;22K</th>
                    <th>Charge&nbsp;(₹) 22001&nbsp;>&nbsp;23K</th>
                    <th>Charge&nbsp;(₹) 23001&nbsp;>&nbsp;24K</th>
                    <th>Charge&nbsp;(₹) 24001&nbsp;>&nbsp;25K</th>
                    @*<th>Charge&nbsp;(₹) 25001&nbsp;>&nbsp;26K</th>
                        <th>Charge&nbsp;(₹) 26001&nbsp;>&nbsp;27K</th>
                        <th>Charge&nbsp;(₹) 27001&nbsp;>&nbsp;28K</th>
                        <th>Charge&nbsp;(₹) 28001&nbsp;>&nbsp;29K</th>
                        <th>Charge&nbsp;(₹) 29001&nbsp;>&nbsp;30K</th>

                        <th>Charge&nbsp;(₹) 30001&nbsp;>&nbsp;31K</th>
                        <th>Charge&nbsp;(₹) 31001&nbsp;>&nbsp;32K</th>
                        <th>Charge&nbsp;(₹) 32001&nbsp;>&nbsp;33K</th>
                        <th>Charge&nbsp;(₹) 33001&nbsp;>&nbsp;34K</th>
                        <th>Charge&nbsp;(₹) 34001&nbsp;>&nbsp;35K</th>
                        <th>Charge&nbsp;(₹) 35001&nbsp;>&nbsp;36K</th>
                        <th>Charge&nbsp;(₹) 36001&nbsp;>&nbsp;37K</th>
                        <th>Charge&nbsp;(₹) 37001&nbsp;>&nbsp;38K</th>
                        <th>Charge&nbsp;(₹) 38001&nbsp;>&nbsp;39K</th>
                        <th>Charge&nbsp;(₹) 39001&nbsp;>&nbsp;40K</th>

                        <th>Charge&nbsp;(₹) 40001&nbsp;>&nbsp;41K</th>
                        <th>Charge&nbsp;(₹) 41001&nbsp;>&nbsp;42K</th>
                        <th>Charge&nbsp;(₹) 42001&nbsp;>&nbsp;43K</th>
                        <th>Charge&nbsp;(₹) 43001&nbsp;>&nbsp;44K</th>
                        <th>Charge&nbsp;(₹) 44001&nbsp;>&nbsp;45K</th>
                        <th>Charge&nbsp;(₹) 45001&nbsp;>&nbsp;46K</th>
                        <th>Charge&nbsp;(₹) 46001&nbsp;>&nbsp;47K</th>
                        <th>Charge&nbsp;(₹) 47001&nbsp;>&nbsp;48K</th>
                        <th>Charge&nbsp;(₹) 48001&nbsp;>&nbsp;49K</th>
                        <th>Charge&nbsp;(₹) 49001&nbsp;>&nbsp;50K</th>*@
                    @*<th>Gst&nbsp;Status</th>
                        <th>Tds&nbsp;Status</th>*@


                </tr>
            </thead>
            <tbody id="tbodyshow">
                @foreach (var item in Model.common)
                {
                    var usertype = item.usertype;
                    var color = "";
                    if (item.usertype == "Purchase")
                    {
                        usertype = "Purchase";
                        color = "#f9f9cb";
                    }
                    <tr style="background-color:@color;">
                        <td>@item.usertype</td>
                        <td>@item.verify_comm</td>
                        <td>@item.comm_1000</td>
                        <td>@item.comm_2000</td>
                        <td>@item.comm_3000</td>
                        <td>@item.comm_4000</td>
                        <td>@item.comm_5000</td>
                        <td>@item.comm_6000</td>
                        <td>@item.comm_7000</td>
                        <td>@item.comm_8000</td>
                        <td>@item.comm_9000</td>
                        <td>@item.comm_10000</td>

                        <td>@item.comm_11000</td>
                        <td>@item.comm_12000</td>
                        <td>@item.comm_13000</td>
                        <td>@item.comm_14000</td>
                        <td>@item.comm_15000</td>
                        <td>@item.comm_16000</td>
                        <td>@item.comm_17000</td>
                        <td>@item.comm_18000</td>
                        <td>@item.comm_19000</td>
                        <td>@item.comm_20000</td>

                        <td>@item.comm_21000</td>
                        <td>@item.comm_22000</td>
                        <td>@item.comm_23000</td>
                        <td>@item.comm_24000</td>
                        <td>@item.comm_25000</td>
                        @*<td>@item.comm_26000</td>
                            <td>@item.comm_27000</td>
                            <td>@item.comm_28000</td>
                            <td>@item.comm_29000</td>
                            <td>@item.comm_30000</td>

                            <td>@item.comm_31000</td>
                            <td>@item.comm_32000</td>
                            <td>@item.comm_33000</td>
                            <td>@item.comm_34000</td>
                            <td>@item.comm_35000</td>
                            <td>@item.comm_36000</td>
                            <td>@item.comm_37000</td>
                            <td>@item.comm_38000</td>
                            <td>@item.comm_39000</td>
                            <td>@item.comm_40000</td>

                            <td>@item.comm_41000</td>
                            <td>@item.comm_42000</td>
                            <td>@item.comm_43000</td>
                            <td>@item.comm_44000</td>
                            <td>@item.comm_45000</td>
                            <td>@item.comm_46000</td>
                            <td>@item.comm_47000</td>
                            <td>@item.comm_48000</td>
                            <td>@item.comm_49000</td>
                            <td>@item.comm_50000</td>*@
                        @*<td>@item.gst</td>*@
                    </tr>
                }

            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @for (int i = 0; i < Model.common.Count; i++)
                {

                    var color = "";
                    if (Model.common[i].usertype == "Purchase")
                    {
                        color = "#f9f9cb";
                    }

                    <tr style="background-color:@color;">
                        @Html.HiddenFor(a => a.common[i].idno)
                        <td>
                            @Model.common[i].usertype
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].verify_comm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_1000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_2000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_3000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_4000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_5000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_6000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_6000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_7000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_7000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_8000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_8000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_9000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_9000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_10000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_10000)
                        </td>

                        <td>
                            @Html.EditorFor(a => a.common[i].comm_11000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_11000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_12000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_12000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_13000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_13000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_14000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_14000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_15000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_15000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_16000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_16000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_17000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_17000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_18000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_18000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_19000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_19000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_20000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_20000)
                        </td>

                        <td>
                            @Html.EditorFor(a => a.common[i].comm_21000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_21000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_22000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_22000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_23000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_23000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_24000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_24000)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].comm_25000, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.common[i].comm_25000)
                        </td>
                        @*<td>
                                @Html.EditorFor(a => a.common[i].comm_26000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_26000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_27000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_27000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_28000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_28000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_29000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_29000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_30000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_30000)
                            </td>

                            <td>
                                @Html.EditorFor(a => a.common[i].comm_31000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_31000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_32000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_32000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_33000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_33000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_34000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_34000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_35000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_35000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_36000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_36000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_37000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_37000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_38000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_38000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_39000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_39000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_40000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_40000)
                            </td>

                            <td>
                                @Html.EditorFor(a => a.common[i].comm_41000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_41000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_42000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_42000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_43000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_43000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_44000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_44000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_45000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_45000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_46000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_46000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_47000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_47000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_48000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_48000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_49000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_49000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.common[i].comm_50000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].comm_50000)
                            </td>*@
                        @*<td>
                                @Html.EditorFor(a => a.common[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.common[i].gst)
                            </td>*@
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });


</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>
