@model IEnumerable<Vastwebmulti.Models.DashBoard_Report_Result>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Role</td>
                <td>@item.username</td>
                <td>@item.Firmname</td>
                <td>@item.Operator_type</td>
                <td>@item.Description</td>
                <td>@item.Date</td>
                <td>@item.UserPre</td>
                <td>@item.Cr</td>
                <td>@item.Dr</td>
                <td>@item.UserPost</td>
            </tr>
        }
