@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel
    <table class="table table-bordered custum-tabel-input">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>State Name</th>
                <th>Operator&nbsp;Name</th>
                <th>Api/Port</th>

                <th>Min</th>
                <th>Max</th>

                <th>Status</th>
                <th>Edit</th>
                <th>DEL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SwitchStateWise)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.State_name)</td>
                <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.api_name)</td>
                
                @if (item.idno == Model.SwitchStateWiseByID.idno)
                {

                    <td>
                        <input type="text" id="txtstateamount" name="txtstateminamount" value="@Model.SwitchStateWiseByID.amount" />
                    </td>
                }
                else
                {
                    <td>@item.amount</td>
                }
                @if (item.idno == Model.SwitchStateWiseByID.idno)
                {

                    <td>
                        <input type="text" id="txtstatemaxamount" name="txtstatemaxamount" value="@Model.SwitchStateWiseByID.maxamount" />
                    </td>
                }
                else
                {
                    <td>@item.maxamount</td>
                }



              
                                <td>
                                    <div class="onoffswitch">
                    @if (item.sts == "Y")
                    {

                        @*<a href="@Url.Action("SwitchstatusStatuswise",new { id = item.idno})" style="text-decoration:none;">*@

                        <span class="costom-on" onclick="SwitchstatusStatuswise(@item.idno)">on</span>
                        @*</a>*@


                    }
                    else
                    {

                        @*<a href="@Url.Action("SwitchstatusStatuswise",new { id = item.idno})" style="text-decoration:none;">*@
                        <span class="custom-off" onclick="SwitchstatusStatuswise(@item.idno)">off</span>
                        @*</a>*@


                    }
                    </div>
                </td>
                @if (item.idno == Model.SwitchStateWiseByID.idno)
                {

                    <td>
                        <button type="button" class="switch-edit-button custom-table-loading" onclick="SaveDataStateBy('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                            Save
                        </button>
                    </td>
                }
                else
                {
                    <td>
                        <button type="button" class="switch-edit-button" onclick="EditModeStateBy('@item.idno')" >
                            Edit
                        </button>
                    </td>
                }
                <td>
                    <button id="but" onclick="deleteStateBy('@item.idno')" >
                        <img src="~/MainFrontDesign/images/delete.svg" />
                    </button>
                </td>

               
            </tr>
            }
        </tbody>
    </table>


    <script>
        $('.custom-table-loading').on('click', function () {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function () {
                $this.button('reset');
            }, 200);
        });
    </script>
