@model Vastwebmulti.Areas.ADMIN.Models.Email_ViewModel

<div class="card">
    <div class="body">
        <div class="table-responsive">
            <table class="table  dataTable js-exportable" style="width:100%;">
                <thead>

                </thead>
                <tbody>

                    @if (Model.Sent_Mail_History.Count == 0)
                    {
                        <div class="no-data-found-img">
                            <img src="~/img/NoDatall.svg" />
                        </div>
                    }
                    else
                    {
                        var ii = 1;
                        foreach (var item in Model.Sent_Mail_History)
                        {

                            var urole = item.UserId == "Master" ? "MD" : item.UserId == "Dealer" ? "Distributor" : item.UserId == "Retailer" ? "Retailer" : item.UserId == "API" ? "API" : item.UserId == "Whitelabel" ? "W/L" : item.UserId == "Admin" ? "Admin" : item.UserId == null ? "I" : string.Empty;


                            <tr>
                                <td class="mytext">
                                    @*<span>@urole</span>*@
                                    @item.Mail_Id
                                    <span> <i class="btn " style="border: 0px;background: #bbb;padding: 2px;line-height: 12px;height: auto;font-style: normal;font-weight: 600;text-transform: uppercase;" aria-hidden="true">@urole</i>@item.SentDate</span>

                                </td>

                                <td class="mytext">
                                    <p>

                                        @try
                                        {
                                            if (@TempData["showmassage"] != "yes1")
                                            {
                                                if (item.SentMsg.ToUpper().Contains(".CO") || item.SentMsg.ToUpper().Contains(".NET") || item.SentMsg.ToUpper().Contains(".IN"))
                                                {
                                                    var msg = item.SentMsg.ToUpper().Replace("WWW.", "").Replace("HTTPS://", "").Replace("HTTP://", "");
                                                    msg = "http://" + msg;
                                                    <a href="@msg" target="_blank">@msg</a>
                                                }

                                                else
                                                {
                                                    if (item.SentMsg.ToUpper().Contains("YOUR NEW PASSWORD IS"))
                                                    {
                                                    <p>
                                                        Your New Password is  ******@item.SentMsg[27]@item.SentMsg[28] 
                                                    </p>
                                                }
                                                else if (item.SentMsg.ToUpper().Contains("EMAIL SHOW PASSCODE IS"))
                                                {
                                                    <p>  Email Show Passcode is **@item.SentMsg[item.SentMsg.Length - 2]@item.SentMsg[item.SentMsg.Length - 1] </p>
                                                }
                                                else if (item.SentMsg.ToUpper().Contains("YOUR TRANSACTION PASSWORD IS"))
                                                {
                                                    <p>
                                                        Your Transaction Password Is ****@item.SentMsg[34]@item.SentMsg[35]
                                                    </p>
                                                }
                                                else if (item.SentMsg.ToUpper().Contains("YOUR SECURITY PASSWORD IS"))
                                                {
                                                    <p>
                                                        Your Security Password Is ****@item.SentMsg[31]@item.SentMsg[32]
                                                    </p>
                                                }
                                                else if (item.SentMsg.ToUpper().Contains("YOUR PASSCODE VALID FOR"))
                                                {
                                                    <p>
                                                        Your  Passcode ****@item.SentMsg[19]@item.SentMsg[20] Your Passcode valid for @item.SentMsg[item.SentMsg.Length - 21]@item.SentMsg[item.SentMsg.Length - 20]@item.SentMsg[item.SentMsg.Length - 19]@item.SentMsg[item.SentMsg.Length - 18]@item.SentMsg[item.SentMsg.Length - 17]@item.SentMsg[item.SentMsg.Length - 16]@item.SentMsg[item.SentMsg.Length - 15]@item.SentMsg[item.SentMsg.Length - 14]@item.SentMsg[item.SentMsg.Length - 13]@item.SentMsg[item.SentMsg.Length - 12]@item.SentMsg[item.SentMsg.Length - 11]@item.SentMsg[item.SentMsg.Length - 10]@item.SentMsg[item.SentMsg.Length - 9]@item.SentMsg[item.SentMsg.Length - 8]@item.SentMsg[item.SentMsg.Length - 7]@item.SentMsg[item.SentMsg.Length - 6]@item.SentMsg[item.SentMsg.Length - 5]@item.SentMsg[item.SentMsg.Length - 4]@item.SentMsg[item.SentMsg.Length - 3]@item.SentMsg[item.SentMsg.Length - 2]@item.SentMsg[item.SentMsg.Length - 1]
                                                    </p>
                                                }
                                                else if (item.SentMsg.ToUpper().Contains("YOUR NEW TRANSACTION PASSWORD IS"))
                                                {
                                                    <p>
                                                        Your New Transaction Password Is ****@item.SentMsg[38]@item.SentMsg[39]
                                                    </p>
                                                }

                                                else if (item.SentMsg.ToUpper().Contains("THE OTP FOR YOUR IP ADDRESS"))
                                                {
                                                    <p>
                                                        ****@item.SentMsg[4]@item.SentMsg[5] is the OTP For Your ip Address @item.SentMsg[item.SentMsg.Length - 14]@item.SentMsg[item.SentMsg.Length - 13]@item.SentMsg[item.SentMsg.Length - 12]@item.SentMsg[item.SentMsg.Length - 11]@item.SentMsg[item.SentMsg.Length - 10]@item.SentMsg[item.SentMsg.Length - 9]@item.SentMsg[item.SentMsg.Length - 8]@item.SentMsg[item.SentMsg.Length - 7]@item.SentMsg[item.SentMsg.Length - 6]@item.SentMsg[item.SentMsg.Length - 5]@item.SentMsg[item.SentMsg.Length - 4]@item.SentMsg[item.SentMsg.Length - 3]@item.SentMsg[item.SentMsg.Length - 2]@item.SentMsg[item.SentMsg.Length - 1]
                                                    </p>
                                                }





                                                else
                                                {
                                                    @item.SentMsg
                                                }
                                            }

                                        }
                                        else
                                        {


                                            var a = Convert.ToString(TempData["showmassage"]);
                                            TempData["1234"] = a;


                                            @item.SentMsg
                                        }


                                    }

                                    catch
                                    {

                                        @item.SentMsg
                                    }

                                        </p>


                                        <div style="word-break:break-all" id="demo-@item.Idno" class="collapse">
                                            @item.SentMsg
                                        </div>
                                    </td>
                                </tr>

                                ii++;
                            }
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>


    .mytext p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<script>
    //function expenddata(id) {
    //    $(id).text('hello');

    //}
    function changeText(btn) {

        $(btn).text(function (i, text) {

            if (text == "Show More") {
                $(btn).prev().hide()
            }
            else {
                $(btn).prev().show()
            }
            return text === "Show More" ? "Show Less" : "Show More";
        });
    };


</script>