@model Vastwebmulti.Areas.ADMIN.Models.PostpaidUtilitySlab
@using (Ajax.BeginForm("_ExtraInfoAPI", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessExtraAPI", UpdateTargetId = "divEditFormEXTRAAPI", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{<style>

    input.move1,.move2,.move3,.move4,.move5 {
        border: 1px solid #ddd;
        padding: 4px;
    }
    </style>
 <div class="" style=" height: auto; display: flow-root; background: rgb(255 255 255 / 95%); padding: 5px; box-shadow: 0px 0px 5px -2px; border-radius: 4px; margin: 7px -1px;">

     <div class="orm11" style="float: left; width: 35%;">
         <input type="button" value="Replace Table Data" onclick="Replaceallapi()" class="btn btn-default" style="width: 100% !important; background: #fbb773 !important; color: #000;" />
     </div>
     <div class="orm22" style=" float: right; width: 12%;">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
     <div class="orm11" style="float: left; width: 20%;">
         <input type="submit" value="Save Data" class="btn btn-default" style="background: var(--main-bg-lcolor) !important; color:#fff;" />
     </div>
     </div>
     <table id="tblEntAttributes" class="table table-bordered">
         <thead class="navbar" style="position:initial;">
             <tr>
                 <th>Operator Name</th>
                 <th>0 to 1500(%)</th>
                 <th>1501 to& 10000(%)</th>
                 <th>10001 to 50000(%)</th>
                 <th>50001 to 100000(%)</th>
                 <th>100001 & Above(%)</th>
             </tr>
         </thead>
         <tbody>
             @for (int i = 0; i < Model.ExtraAPI.Count; i++)
             {
                 @Html.HiddenFor(a => a.ExtraAPI[i].optcode)
                 <tr>
                     <td>
                         @Html.DisplayFor(a => a.ExtraAPI[i].operator_Name)
                     </td>
                     <td>
                         @Html.EditorFor(a => a.ExtraAPI[i].move1, new { htmlAttributes = new { @style = "width:100%", @class = "move1api" } })
                         @Html.ValidationMessageFor(a => a.ExtraAPI[i].move1)
                     </td>
                     <td>
                         @Html.EditorFor(a => a.ExtraAPI[i].move2, new { htmlAttributes = new { @style = "width:100%", @class = "move2api" } })
                         @Html.ValidationMessageFor(a => a.ExtraAPI[i].move2)
                     </td>
                     <td>
                         @Html.EditorFor(a => a.ExtraAPI[i].move3, new { htmlAttributes = new { @style = "width:100%", @class = "move3api" } })
                         @Html.ValidationMessageFor(a => a.ExtraAPI[i].move3)
                     </td>
                     <td>
                         @Html.EditorFor(a => a.ExtraAPI[i].move4, new { htmlAttributes = new { @style = "width:100%", @class = "move4api" } })
                         @Html.ValidationMessageFor(a => a.ExtraAPI[i].move4)
                     </td>
                     <td>
                         @Html.EditorFor(a => a.ExtraAPI[i].move5, new { htmlAttributes = new { @style = "width:100%", @class = "move5api" } })
                         @Html.ValidationMessageFor(a => a.ExtraAPI[i].move5)
                     </td>
                     @*<td>@item.retailercomm</td>*@
                 </tr>

             }
         </tbody>
     </table>
     }

