@model List<Vastwebmulti.Models.gstreport_monthly_Result>

@foreach (var item in Model)
{
    var travel_gst = item.flight_gst + item.hotel_gst + item.bus_gst + item.irctc_gst;
    var travel_tds = item.flight_tds + item.hotel_tds + item.bus_tds + item.irctc_tds;

    var total_purchase_gst = item.recharge_gst + item.utility_gst + item.aadharpay_gst + item.aeps_gst + item.pos_gst + item.matm_gst + item.pancard_gst + travel_gst + item.gift_gst;
    var total_tds = item.utility_tds + item.aeps_tds + item.matm_tds + item.pancard_tds + travel_tds + item.gift_tds;

    var total_sell_gst = item.imps_gst;
    <tr>
        <td></td>
        <td>@item.firm</td>
        <td>@item.recharge_gst</td>
        <td>@item.utility_gst</td>
        <td>@item.utility_tds</td>
        <td>@item.imps_gst</td>
        <td>@item.imps_tds</td>
        <td>@item.aadharpay_gst</td>
        <td>@item.aeps_gst</td>
        <td>@item.aeps_tds</td>
        <td>@item.pos_gst</td>
        <td>@item.matm_gst</td>
        <td>@item.matm_tds</td>
        <td>@item.pancard_gst</td>
        <td>@item.pancard_tds</td>
        <td>@travel_gst</td>
        <td>@travel_tds</td>
        <td>@item.gift_gst</td>
        <td>@item.gift_tds</td>
        <td>@total_purchase_gst</td>
        <td>@total_sell_gst</td>
        <td>@total_tds</td>
    </tr>
}