@model List<Vastwebmulti.Models.Mpos_Report_New_paging_Result>
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {


        <tr>
            <td>
                @if (item.status == "00")
                {
                    <img style='height: 20px;width: 18px;max-width: 100%;padding: 0; border-radius:50%; background-color:green' src='../../ashok-images/correct.svg' />
                }
                else
                {
                    <img style='height: 20px;width: 18px;max-width: 100%;padding: 0; border-radius:50%; background-color:red' src='../../ashok-images/closes.svg' />
                }<span>@item.Frm_Name</span>

            </td>

            <td>@item.transType</td>
            <td>@item.cardtype</td>
            <td>@item.cardbrand</td>
            <td>@item.mPOSid</td>

            <td>@item.amount</td>
            <td>@item.Rem_comm</td>
            <td>@item.totalamount</td>
            @*<td>
                    @if (item.Frm_Name != null)
                    {
                        <p>@item.Frm_Name</p>
                    }
                    else
                    {
                        <p>@item.Email</p>
                    }
                </td>*@
            <td>@item.BankRRN</td>
            <td>@item.date</td>
            @*<td>@item.TxnId</td>
                <td>@item.transType</td>
                <td>@item.amount</td>

                <td>@item.merchatID</td>
                <td>@item.bankmerchantID</td>*@
            <td>
                @item.bankterminalID

            </td>
            <td class="nrch">
                <span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.Idno')"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </span>
            </td>
            @*<td>@item.cardbrand</td>
                                                <td><button id="but" class="view" onclick="GotoView('@item.Idno')" href="#" style="margin-left:8px;background:none;border:none;" data-toggle="tooltip" data-placement="bottom" title="View Status">
                    <i class="fa fa-eye"></i>
                    </button>
                </td>
                                                <td>@item.cardholdername</td>
                                                <td>@item.cardnumber</td>
                                                <td>@item.cardtype</td>
                                                <td>@item.date</td>
                                                <td>@item.invoiceno</td>
                                                <td>@item.paymentid</td>
                                                <td>@item.merchantnameaddress</td>
                                                <td>@item.AdminPre</td>
                                                <td>@item.AdminPost</td>
                                                <td>@item.MasterPre</td>
                                                <td>@item.MasterPost</td>
                                                <td>@item.DealerPre</td>
                                                <td>@item.DealerPost</td>
                                                <td>@item.RetailerPre</td>
                                                <td>@item.RetailerPost</td>
                                                <td>@item.MdComm</td>
                                                <td>@item.Dlm_Comm</td>
                                                <td>@item.Rem_comm</td>
                                                <td>@item.mdgst</td>
                                                <td>@item.dlmgst</td>
                                                <td>@item.remgst</td>
                                                <td>@item.mdincome</td>
                                                <td>@item.dlmincome</td>
                                                <td>@item.remincome</td>
                                                <td>@item.adminincome</td>
                                                <td>@item.purchase</td>
                                                <td>@item.Message</td>*@
            @*<td data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.Idno',this)">
                    <center>
                        <div class="btn" style="background:#ff9e00;height: 25px;color:#fff; padding: 4px 10px; font-size: 11px; display:none "> due</div>
                        <img src="~/ashok-images/rightaeps.svg" style="width: 11px;margin-top: 6px; float:left" />
                    </center>
                </td>*@
        </tr>
    }
}
else
{
    <tr>
        @if (@ViewBag.checkdata != null)
        {
            <td colspan="13"><h3 style="text-align:center;">No Data For Current Search</h3></td>
        }
        else
        {
            <td colspan="13"><h3 style="text-align:center;">Data Not Found</h3></td>
        }

    </tr>

}