@model Vastwebmulti.Areas.ADMIN.ViewModel.MicroatmchargeViewmodel

@{
    ViewBag.Title = "";
    Layout = null;
}
<tbody>
    @foreach (var item in Model.Showdeviceplanlist)
    {
    <tr>
        <td>@Html.DisplayFor(modelitem => item.planname)</td>
        <td>@Html.DisplayFor(modelitem => item.noofdays)</td>
        <td>@Html.DisplayFor(modelitem => item.deviceprice) </td>
        <td>@Html.DisplayFor(modelitem => item.minquantity)</td>
        <td>@Html.DisplayFor(modelitem => item.upto2)</td>
        <td>@Html.DisplayFor(modelitem => item.upto5)</td>
        <td>@Html.DisplayFor(modelitem => item.upto8)</td>
        <td>@Html.DisplayFor(modelitem => item.above8)</td>
        <td>@Html.DisplayFor(modelitem => item.dlm_upto2)</td>
        <td>@Html.DisplayFor(modelitem => item.dlm_upto5)</td>
        <td>@Html.DisplayFor(modelitem => item.dlm_upto8)</td>
        <td>@Html.DisplayFor(modelitem => item.dlm_above8)</td>
        <td>@Html.DisplayFor(modelitem => item.md_upto2)</td>
        <td>@Html.DisplayFor(modelitem => item.md_upto5)</td>
        <td>@Html.DisplayFor(modelitem => item.md_upto8)</td>
        <td>@Html.DisplayFor(modelitem => item.md_above8)</td>
        <td>@Html.DisplayFor(modelitem => item.monthly)</td>
        <td>@Html.DisplayFor(modelitem => item.monthlydealer)</td>
        <td>@Html.DisplayFor(modelitem => item.monthlymaster)</td>

        <td>
            <button type="button" class="switch-edit-button deletebuttoback-second microatmcharge-button" id="editplanoder_@item.idno" onclick="EditPlanorday(@item.idno)">
                edit
            </button>
        </td>
    </tr>
    }
</tbody>
