@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel
<table class="table table-bordered table-striped table-hover js-exportable example-second" style="width:99.5%;margin-top:0 !important;">
    <thead style="background-color:whitesmoke;">
        <tr>
            <th>Operator&nbsp;Name</th>
            <th>Min</th>
            <th>Max</th>

            <th>Status</th>
            <th>Edit</th>
            <th>DEL</th>  

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NillCOmopcodeamountlist)
        {
        <tr>
            <td>@item.operator_Name</td>

            <td>@item.min</td>
            <td>@item.max </td>
            <td>
                <div class="onoffswitch onoffswitch-secondclass">
                    
                        @if (item.sts == "N")
                        {
                        


                                @*<a href="@Url.Action("nillcomblock",new { id = item.idno})" style="text-decoration:none;">*@
                               
                                <span class="custom-off custom-off-secondbutton" onclick="UpdateStatus(@item.idno)" >off</span>
                                @*</a>*@
                           

                        }
                        else
                        {
                         
                                @*<a href="@Url.Action("nillcomblock",new { id = item.idno})" style="text-decoration:none;">*@
                               
                                <span class="costom-on custom-on-secondbutton" onclick="UpdateStatus(@item.idno)" >on</span>
                                @*</a>*@
                        

                        }
                   </div>
            </td>
            <td>
                <button type="button" class="switch-edit-button deletebuttoback-second" onclick="EditMode(@item.idno)" >
                    Edit
                </button>
                @*<button type="button" class="switch-edit-button"  data-toggle="modal" data-target="#defaultModal1" onclick="animation('@item.idno','@item.operator_Name','@item.min','@item.max' )">
                <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;">Edit</p>
            </button>*@
            </td>
            <td>
                <button id="DeleteBtn" class="custom-loading waves-effect bt btnssl special-iii" onclick="Deltenillcom('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" >
                    
                    <img src="~/MainFrontDesign/images/delete.svg" />
                </button>
            </td>
        </tr>



        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
