@model Vastwebmulti.Areas.ADMIN.Models.Token_PaidService_VM

    <table class="table special-iii table-bordered  table-hover paid-service-table example-second" id="dvCategoryResults">
        <thead>
            <tr>
                <th>Service's</th>
                <th>Type</th>
                <th>Mode&nbsp;</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
       @foreach (var item in Model.PaidServicesChargeList.OrderByDescending(x=>x.ServiceName== "ALL").ThenByDescending(x => x.ServiceName))
       {
            <tbody>
                <tr >
                    <td>
                        
                        @if (item.ServiceName == "VM30")
                        {
                            <p>M-ATM&nbsp;(VM30) </p>
                        }
                        else if (item.ServiceName == "MPOSH")
                        {
                            <p>mPosh&nbsp;(ME30S) </p>
                        }
                        else if (item.ServiceName == "DMT")
                        {
                            <p>Money&nbsp;Pay</p>
                        }
                        else if (item.ServiceName == "PANCARD")
                        {
                            <p>Pan&nbsp;Card</p>
                        }

                        else if (item.ServiceName == "INDONEPAL")
                        {
                            <p>Indo&nbsp;Nepal</p>
                        }
                        else if (item.ServiceName == "SchoolFee")
                        {
                            <p>School&nbsp;Fee</p>
                        }
                        else if (item.ServiceName == "FLIGHT")
                        {
                            <p>Flight</p>
                        }
                        else if (item.ServiceName == "BUS")
                        {
                            <p>Bus&nbsp;Booking</p>
                        }

                        else if (item.ServiceName == "HOTEL")
                        {
                            <p>Hotel</p>
                        }
                        else if (item.ServiceName == "ECOMM")
                        {
                            <p>eCommerce</p>
                        }
                        else if (item.ServiceName == "GIFTCARD")
                        {
                            <p>Gift&nbsp;Card</p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(modelItem => item.ServiceName) </p>
                        }
                    </td>
                    @{ var xx = item.IsFree ? "Free" : "Paid"; }
                    <td>@xx</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentType)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td class="last-td">
                        <button type="button" onclick="Editmode('@item.Idno')" id="btnEdit" class="btn waves-effect shownextrow switch-edit-button swichedit-second" value="Edit">
                            <p>Edit</p>
                        </button>
                    </td>
                </tr>
                    
            </tbody>
        }
    </table>


    <script>
        $(function () {
            $('.second-design .example-second').DataTable({
                paging: false
            });
        });

    </script>

   