@model IEnumerable<Vastwebmulti.Models.pancard_transation>
@{
    Layout = null;
}


@if (Model != null)
{
    foreach (var item in Model)
    {

        <tr>

            <td><p style="font-size:12px;">@item.status</p></td>
            <td><p style="font-size:12px;">@item.name => @item.Email</p></td>
            <td><p style="font-size:12px;">@item.Amount</p></td>
            <td><p style="font-size:12px;">@item.Rem_comm</p></td>
            <td><p style="font-size:12px;">@item.Rem_tds</p></td>
            <td><p style="font-size:12px;">@item.Rem_pre</p></td>
            <td><p style="font-size:11px;">@item.rem_post</p></td>
            <td><p style="font-size:11px;">@item.request_time</p></td>
            <td><p style="font-size:11px;">@item.Rem_final</p></td>
            <td><p style="font-size:11px;">@item.dlm_pre</p></td>
            <td><p style="font-size:11px;">@item.dlm_post</p></td>
            <td><p style="font-size:11px;">@item.master_pre</p></td>
            <td><p style="font-size:11px;">@item.master_post</p></td>

            @*<td><p style="font-size:12px;">@item.CouponStatus</p></td>*@
            <!--<td><p style="font-size:11px;">.</p></td>-->
            @*<td><p style="font-size:11px;">@item.RetailerIncome</p></td>
                <td><p style="font-size:11px;">@item.retailer_remain_post</p></td>
                <td><p style="font-size:11px;">@item.retailer_dealer_pre</p></td>
                <td><p style="font-size:11px;">@item.DealerIncome</p></td>
                <td><p style="font-size:11px;">@item.retailer_dealer_post</p></td>
                <td><p style="font-size:11px;">@item.retailer_master_pre</p></td>
                <td><p style="font-size:11px;">@item.MDIncome</p></td>
                <td><p style="font-size:11px;">@item.retailer_master_post</p></td>
                <td><p style="font-size:11px;">@item.whitelabel_remain_pre</p></td>
                <td><p style="font-size:11px;">@item.whitelabelincome</p></td>
                <td><p style="font-size:11px;">@item.whitelabel_remain_post</p></td>*@

        </tr>
    }

}

else
{
    <tr>
        @if (@ViewBag.checkdata != null)
        {
            <td colspan="13"><h3 style="text-align:center;">No Data For Current Search</h3></td>
        }
        else
        {
            <td colspan="13"><h3 style="text-align:center;">Data Not Found</h3></td>
        }
    </tr>
}
