

<table id="simple-table" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>Api Name</th>
            <th>Response Type</th>
            <th>Key Requestid</th>
            <th>Key Status</th>
            <th>Val Status Success</th>
            <th>Val Status Failed</th>
            <th>Val Status Pending</th>
            <th>Key OPTID</th>
            <th>Key message</th>
            <th>Key Remain Balance</th>
            <th>Split With</th>
            <th>Key Error</th>
            <th>Key Error Message</th>
            <th>Val Error</th>
            <th>Val Error Message</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.apiname</td>
                <td>@item.Resptype</td>
                <td>@item.KeyRequestid</td>
                <td>@item.KeyStatus</td>
                <td>@item.ValStatusSucess</td>
                <td>@item.ValStatusFailed</td>
                <td>@item.ValStatusPending</td>
                <td>@item.KeyOptID</td>
                <td>@item.KeyMsg</td>
                <td>@item.KeyRemainBal</td>
                <td>@item.sapratewith</td>
                <td>@item.Keyerror</td>
                <td>@item.KeyerrorMessage</td>
                <td>@item.valerror</td>
                <td>@item.valerrorMessage</td>
                <td>
                    <button style="background-color:transparent;border-color:transparent" onclick="Edit('@item.idno'); recharge_api_insert_otp('RechargeApiUpdate')">
                        <i class="fa fa-edit fa-2x" style="color:red"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>