


<table id="simple-table" class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>Api Name</th>
            <th>Request Type</th>
            <th>Body Type</th>
            <th>Key Status</th>
            <th>Val Status Success</th>
            <th>Val Status Failed</th>
            <th>Key Rch ID</th>
            <th>Key message</th>
            <th>Key Operator ID</th>
            <th>Key Balance</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.apiname</td>
                <td>@item.Requesttype</td>
                <td>@item.bodytype</td>
                <td>@item.keystatus</td>
                <td>@item.valstatussuccess</td>
                <td>@item.valstatusfailed</td>
                <td>@item.keyrchid</td>
                <td>@item.keymsg</td>
                <td>@item.keyoperatorid</td>
                <td>@item.keybalance</td>
                <td>
                    <button style="background-color:transparent;border-color:transparent" onclick="Edit('@item.idno'); recharge_api_insert_otp('ApiCallbackUpdate')">
                        <i class="fa fa-edit fa-2x" style="color:red"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
