@model Vastwebmulti.Areas.ADMIN.Models.upiChargeAndgateway
<style>
    .wallet-bank-input input[readonly="readonly"] {
        background: #f5f5f5;
    }
</style>
@if (Model.msg != "DONE")
{
    <label style="color:red;">@Model.msg</label>
}

<table class="table table-bordered" style="margin: 0px 1%;width: 98%;border-top:medium;">
    <tbody>
        <tr>
            <th>Debit Card Upto 2000(%)</th>
            <td>
                @{
                    var chk = Model.PaymentGatewaycharges.SingleOrDefault();
                }
                @if (chk != null)
                {
                    var val = chk.Debitupto2000;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>Debit Card Above 2000(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.debitabove2000;
                    @val
                }
            </td>
        </tr>
        <tr>
            <th>Rupay Debit Card(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.rupaydebit;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>Credit Card(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.creditcard;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>Net Banking(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.netbanking;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>AMEX(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.amex;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>International Card(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.internationalcard;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>Wallet(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.wallet;
                    @val
                }

            </td>
        </tr>
        <tr>
            <th>UPI(%)</th>
            <td>
                @if (chk != null)
                {
                    var val = chk.UPI;
                    @val
                }

            </td>
        </tr>
        <tr style="background:#fff;">
            <th>Action</th>
            <td>
                <button type="submit" class="waves-effect bt btnssl  special-iii deleteCharged1 fullbodydycolorbg" style="background:transparent;border:1px solid #bbb;padding: 2px 10px;margin-left: 4px;padding-bottom: 3px; color:#fff;">
                    Delete All
                </button>
                <button type="submit" onclick="Deletepayment()" class="fullbodydycolorbg waves-effect bt btnssl special-iii deleteCharge" style="background:transparent;border:1px solid #bbb;padding:2px;margin-left: 4px;color:#fff;display:none;width:80px;">
                    Sure?
                </button>
            </td>
        </tr>

    </tbody>
    @*<tbody>
            @foreach (var item in Model.PaymentGatewaycharges)
            {
                <tr>
                    <td><input type="text" value="@item.Debitupto2000" readonly="readonly" /></td>
                    <td><input type="text" value="@item.debitabove2000" readonly="readonly" /></td>
                    <td><input type="text" value="@item.rupaydebit" readonly="readonly" /></td>
                    <td><input type="text" value="@item.creditcard" readonly="readonly" /></td>
                    <td><input type="text" value="@item.netbanking" readonly="readonly" /></td>
                    <td><input type="text" value="@item.amex" readonly="readonly" /></td>
                    <td><input type="text" value="@item.internationalcard" readonly="readonly" /></td>
                    <td><input type="text" value="@item.wallet" readonly="readonly" /></td>
                    <td><input type="text" value="@item.UPI" readonly="readonly" /></td>
                    <td>
                        <button type="submit" class="waves-effect bt btnssl  special-iii deleteCharged1" style="background:transparent;border:1px solid transparent;padding:2px;margin-left: 4px;">
                            <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;">
                        </button>
                        <button type="submit" onclick="DeleteChrg()" class="fullbodydycolorbg waves-effect bt btnssl special-iii deleteCharge" style="background:transparent;border:1px solid #bbb;padding:2px;margin-left: 4px;color:#fff;display:none;">
                            Sure?
                        </button>
                    </td>
                </tr>
            }
        </tbody>*@
</table>
<script>
    function DeleteChrg() {
            var url = '@Url.Action("DeleteUpiSlab", "Home")';
            $.ajax({
                url: url,
                cache: false,
                type: "GET",
                success: function (data) {
                      $('#RemTbl').html(data);
                }
            });
    }
    function Deletepayment() {
         var url = '@Url.Action("Deletepayment", "Home")';
            $.ajax({
                url: url,
                cache: false,
                type: "GET",
                success: function (data) {
                      $('#DLMTbl').html(data);
                }
            });
    }
</script>
<script>
    $('.wallet-edit').click(function () {
        $(this).closest('tr').find('input').removeAttr('readonly');
        $(this).closest('tr').find('.wallet-save').css('display', 'block');
        $(this).css('display', 'none');
    });
</script>
<script>
    $('.deleteCharged1').click(function () {
        $(this).hide();
        $(this).next('.deleteCharge').show();
    });
    $('#EditChrg').click(function () {
        $(this).next('.deleteCharged1').hide();
    });
</script>

