
@model Vastwebmulti.Areas.ADMIN.Models.RetailerDetalsModel

<style type="text/css">


    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group;
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group
    }

    footer {
        font-size: 9px;
        color: #f00;
        text-align: center;
    }

    @@page {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        /* Letter */
        size: us-letter;
        margin: 1in;
    }

    front-page {
        page: front-page;
    }

    front-page-title {
        display: block;
        text-align: center;
        margin-top: 3in;
        font-size: 2em;
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
    }

    @@page front-page {
        @@top-left {
            content: none
        }

        @@top-center {
            content: none
        }

        @@top-right {
            content: none
        }

        @@bottom-left {
            content: none
        }

        @@bottom-center {
            content: none
        }

        @@bottom-right {
            content: none
        }
    }

    @@page :first {
        /* .... */
    }
</style>
<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: var(--main-bg-lcolor);
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #c7c7c7;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    .modal input:placeholder-shown {
        border-color: red !important;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    .mastetr222Modal .modal-header .sam {
        float: left;
        width: 50%;
    }

    .second-form .alert {
        position: fixed;
        bottom: 38px;
        color: red !important;
        padding: 0px;
        height: 0;
        right: 15px;
        width: 60%;
        text-align: right;
    }

    .mastetr222Modal .modal-dialog {
        margin: 0px;
    }

    .mastetr222Modal .form-group.spspl input {
        width: 50%;
        float: left;
    }

    .mastetr222Modal .ss-right {
        float: right;
        width: 45%;
    }
</style>




<div class="">
    <table class="table table-bordered front-page" id="mdList" border="3">
        <thead class="front-page-title">
            <tr>
                <th>Sr</th>
                <th>Distributor&nbsp;Firm</th>
                <th>Retailer&nbsp;Firm</th>
                <th>Retailer&nbsp;Name</th>
                <th>Mobile&nbsp;No</th>
                <th>Cap&nbsp;&#9853;</th>
                <th>Balance</th>
                <th>Aadhar&nbsp;No</th>
                <th>PAN&nbsp;No</th>
                <th>KYC</th>
                <th>Email&nbsp;V/F</th>

            </tr>
        </thead>
        <tbody id="body" border=3px>
            @if (Model.select_retailer_details_paging != null)
            {
                int i = 0;
                int id = 1;
                foreach (var item in Model.select_retailer_details_paging)
                {
                    var idno = "subTbl";
                    idno = idno + i;

                    var idshow = "subTblshow";
                    idshow = idshow + i;

                    var idhide = "subTblhide";
                    idhide = idhide + i;


                    var colorchange = "";
                    var borderleft = "";
                    var imggg = "";
                    if (item.aadharcardPath != null && item.BackSideAadharcardphoto != null && item.pancardPath != null)
                    {
                        if (item.PSAStatus == "N" && item.AadhaarStatus == "N")
                        {
                            colorchange = "#dbdb70";

                            borderleft = "7px solid var(--main-bg-lcolor)";
                            imggg = "☻";

                        }

                    }


                    <tr class="tr" style="background-color:@colorchange">
                        <td>@id</td>
                        <td style="border-left:@borderleft">@item.DealerFarmName</td>
                        <td>
                            @*<i id="@idshow" class="fa fa-angle-double-down" aria-hidden="true" onclick="md_dlm_List('@item.RetailerId', '@i')">
                                    @item.Frm_Name
                                </i>
                                <i id="@idhide" class="fa fa-angle-double-up" aria-hidden="true" style="display:none;" onclick="md_dlm_Listhide('@i')">
                                    @item.Frm_Name
                                </i>*@
                            <span style="font-size:20px;width: 16px;display: inline-block;color: var(--main-bg-lcolor);">@imggg</span> @item.Frm_Name
                        </td>
                        <td>@item.RetailerName</td>
                        <td>@item.Mobile</td>
                        <td>@item.caption</td>
                        <td>@item.Remainamount</td>
                        <td> @item.AadharCard</td>
                        <td> @item.PanCard</td>
                        <td class="kyc-button">
                            @if (item.PSAStatus == "Y" && item.AadhaarStatus == "Y" && item.ShopwithSalfieStatus == "Y")
                            {
                                <button class="btn " style="border:1px solid #bbb;font-size: 11px !important;padding: 4px 7px;height: 25px;border: 1px solid #bbb;">Done</button>
                            }
                            else
                            {
                                <div class="btn btn-danger" style="background:red;height: 33px;color:white; padding: 4px 8px;float:left; font-size: 11px;">&nbsp;Due&nbsp;</div>
                            }
                            @*<button class="btn" style="background:yellow;"><img src="~/images/reportimage/wall-clock.svg" /></button>
                                <button class="btn btn-danger"><img src="~/images/reportimage/close.svg" /></button>
                                <button class="btn btn-success"><img src="~/images/reportimage/check.svg" /></button>*@



                            @*@item.adharcard*@
                        </td>
                        <td data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.RetailerId')">
                            @if (item.EmailConfirmed == true)
                            {
                                <button class="btn " style="border:1px solid #bbb;font-size: 11px !important;padding: 4px 7px;height: 25px;border: 1px solid #bbb;">Done</button>
                            }
                            else
                            {
                                <div class="btn btn-danger" style="background:red;height: 33px;color:white; padding: 4px 8px;float:left; font-size: 11px;">&nbsp;Due&nbsp;</div>
                            }

                        </td>

                    </tr>


                    @*<tr id="@i" style="display:none;background-color: rgb(245, 245, 245);">
                            <td colspan="8">
                                <div id="@idno">

                                </div>
                            </td>
                        </tr>*@

                    i++;
                    id++;
                }

            }
        </tbody>
    </table>
</div>