@model IEnumerable<Vastwebmulti.Models.Retailer_Cr_Dr_Report_Result>


    <div class="fullb">
        <table border="1">
            <tr>
                <th style="padding: 17px;">
                    <span class="fullbodydycolorbg">Role</span>
                </th>
                <td style="padding: 17px;">
                    <span>@ViewBag.role</span>
                </td>
                <th style="padding: 17px;">
                    <span class="fullbodydycolorbg">Name</span>
                </th>
                <td style="padding: 17px;">
                    <span>@ViewBag.name</span>
                </td>
                <th style="padding: 17px;">
                    <span class="fullbodydycolorbg">Firm Name</span>
                </th>
                <td style="padding: 17px;">
                    <span>@ViewBag.firmname</span>
                </td>
                <th style="padding: 17px;">
                    <span class="fullbodydycolorbg">Reg Number</span>
                </th>
                <td style="padding: 17px;">
                    <span>@ViewBag.number</span>
                </td>
            </tr>

        </table>
    </div>

<br />
<br />

<div class="table-responsive " style="position: inherit;">
    <table class="table table-bordered " style="width:100%;" id="table2excel" data-tableName="Test Table 1" border="1">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>Sr.&nbsp;No</th>
                <th>Request&nbsp;Id</th>


                <th>Particular&nbsp;Details</th>
                <th>₹&nbsp;Amount</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Balance</th>
               
                <th>Date&nbsp;&&nbsp;Time</th>
            </tr>
        </thead>
        <tbody id="mytable">
            @{int i = 1;}
            @foreach (var item in Model.OrderByDescending(x => x.Date))
            {

                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(modelItem => item.RequestId)</td>


                    <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.credit)</td>
                    <td>@Html.DisplayFor(modelItem => item.debit)</td>

                    @if (item.Role == "Whitelabel")
                    {
                        <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserActualRemainAmount)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                        <td style="display:none;"></td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
