@model IEnumerable<Vastwebmulti.Models.pos_ledger_report_Result>
<style>
    .action-design table tr td:last-child button::after {
        display: none;
    }

    .action-design .btn:not(.btn-link):not(.btn-circle) i {
        top: 0px;
    }

    .Un-rwls-modal .modal-body label + span {
        min-height: 30px;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: hidden !important;
    }
</style>
<div class="row clearfix">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card tablefourdesign-admin">

            @*<div class="">
                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                        <li class="active" style="color:#9E9E9E; font-size:12px;">WALLET TO BANK TRANSFER REPORT&nbsp;></li>
                    </ol>
                </div>*@

            <div class="body" style="padding:0;float:left;width:100%;">


                <!-- Static Data Start-->
                <div class="table-responsive action-design" style="height: 100vh !important; background: var(--second-bg-color) !important; overflow-x: hidden !important; margin: auto; width: 98%;">
                    <table class="table table-bordered third-design-table" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>Firm&nbsp;Name</th>
                                <th>Remain&nbsp;Pre</th>
                                <th>Cr</th>
                                <th>Dr</th>
                                <th>Amount</th>
                                <th>Comm</th>
                                <th>Gst</th>
                                <th>Tds</th>
                                <th>Remain&nbsp;Post</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Frm_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.remainpre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.cr)</td>
                                    <td>@Html.DisplayFor(modelItem => item.dr)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.comm)</td>
                                    <td>@Html.DisplayFor(modelItem => item.gst)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tds)</td>
                                    <td>@Html.DisplayFor(modelItem => item.remainpost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ledgerdate)</td>
                                </tr>

                            }
                          
                        </tbody>
                    </table>
                </div>
                <!-- Static Data End-->
                <!-- Table for modal -->
            </div>
        </div>
    </div>
</div>