@model Vastwebmulti.Areas.ADMIN.ViewModel.OperatorIndexViewModel
<table class="table table-bordered example-second exampletable-second" id="example" style="width:100%;">
    <thead>
        <tr>
            <th>Operator&nbsp;Name</th>
            <th>Opt&nbsp;Type</th>
            <th>O/C</th>
            <th>Blocked&nbsp;Date&nbsp;&&nbsp;times</th>
            <th>Del OPT</th>
            <th>Status</th>
            <th><img src="~/AdminDesign/images/amount.svg" style="width:13px;margin-top: -3px;" />&nbsp;AMT</th>
            <th><img src="~/AdminDesign/images/exchange-arrows.svg" style="width:12px;" />&nbsp;CC</th>
            <th><img src="~/AdminDesign/images/cogwheel.svg" style="width:18px;transform: rotate(13deg);" /> </th>
        </tr>
    </thead>
    @foreach (var item in Model.opcodelist)
    {
<tr>

    <td>
        @item.operator_Name
    </td>

    <td>
        @item.Operator_type
    </td>

    <td>
        @item.new_opt_code
    </td>
    <td>
        @item.blocktime
    </td>
    <td>
        <button class="fullbodydycolorbg second-button" style="padding: 0px 10px; border: 1px solid #bfbebe;color: #999;display:none;" onclick="DeleteOPTCodePrePaid('@item.Operator_id','@item.operator_Name')">Sure ?</button>
        <button class="first-botton deletebuttoback-second" style="padding: 0px 10px; background: #f0f0f0;border: 1px solid #bfbebe;color: #999;" >Delete</button>
    </td>
    <td>
        <div class="onoffswitch onoffswitch-secondclass">



            @if (item.status == "Y")
            {
                <span class="costom-on custom-on-secondbutton" id="data-@item.Operator_id" onclick=OperatorCodestatusupdate('@item.Operator_id','Y','PrePaid')>on</span>

            }
            else if (item.status == "N")
            {
                <span class="custom-off custom-off-secondbutton" id="data-@item.Operator_id" onclick=OperatorCodestatusupdate('@item.Operator_id','N','PrePaid')>off</span>

            }
        </div>
    </td>

    <td class="amount-td">
        <button type="button" onclick="EditAmountBlock('@item.operator_Name','PrePaid')" class="btn switch-edit-button deletebuttoback-second" data-toggle="modal" data-target="#defaultModal33" style="width:auto !important;height:25px;">

            Amount
        </button>
    </td>
    <td class="lcode-button">
        <button type="button" class="btn switch-edit-button deletebuttoback-second" data-toggle="modal" onclick="EditOperatorCODE('@item.Operator_id','@item.new_opt_code','@item.operator_Name','PrePaid')" data-target="#defaultModal12" style="height:25px; width:auto !important;">
            Code
        </button>
    </td>
    <td class="limit-tdb">
        <button type="button" class="btn switch-edit-button deletebuttoback-second" onclick="EditOperator('@item.Operator_id','@item.operator_Name','@item.new_opt_code','@item.resendcount','@item.resendtime','@item.nillcount','@item.nillblocktime','@item.dublicatetime','@item.minimum','@item.maximum','PrePaid')" data-toggle="modal" data-target="#defaultModal2">
            Edit
        </button>
    </td>

</tr>
    }
    <tbody>
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>