@model Vastwebmulti.Areas.ADMIN.Models.PrepaidSlab
@using (Ajax.BeginForm("_prepaid_comm", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{

    <style>
        span.range_one_1 {
            font-size: 9px !important;
            border: 1px solid;
            padding: 0px 3px;
            color: #fff !important;
            background: #000;
        }

        #updatecolm p {
            font-size: 9px;
            text-transform: uppercase;
        }

        .pddi {
            padding: 4px !important;
            text-align: center;
        }
    </style>



   
    <input id="btnsubmit" type="submit" value="Save Slab" class="btn  waves-effect" style="display: none !important; margin-left: 2px; width: auto; display: inline-block; padding: 5px 9px !important; border: 2px solid var(--main-bg-rcolor); background: var(--main-bg-lcolor) !important;color:white;" />
    <div class="slab-table">
        <table id="updatecolm" class="table table-bordered example-second third-design-table" style="">
            <thead class="navbar" style="position:initial;">
                <tr>
                    <th rowspan="3" style="text-align:center">Operator&nbsp;Name</th>
                    <th colspan="3" style="text-align:center">Master&nbsp;Distributor&nbsp;(M/D)&nbsp;% <br /><small class="font-10">Including GST (Goods and Service Tax) if commission agent</small></th>
                    <th colspan="3" style="text-align:center">Distributor&nbsp;% <br /><small class="font-10">Including GST (Goods and Service Tax) if commission agent</small></th>
                    <th colspan="3" style="text-align:center">Retailer&nbsp;% <br /><small class="font-10">Including GST (Goods and Service Tax)</small></th>
                    <th colspan="3" style="text-align:center">API&nbsp;% <br /><small class="font-10">Including GST (Goods and Service Tax)</small></th>
                    <th colspan="3" style="text-align:center">WhiteLabel&nbsp;% <br /><small class="font-10">Including GST (Goods and Service Tax)</small></th>
                </tr>

                <tr>
                    @{
                        var range1 = Convert.ToInt32(@Model.AmountRange[0].maximum1);
                        var range2 = Convert.ToInt32(@Model.AmountRange[0].maximum2);
                        var rangee1 = range1 + 1;
                        var rangee = range2 + 1;
                    }
                    <th class="pddi"><p><span class="range_one_1">1</span>1-@range1</p></th>
                    <th class="pddi"><p><span class="range_one_1">2</span>@rangee1-@range2</p></th>
                    <th class="pddi"><p><span class="range_one_1">3</span>@rangee-Above</p></th>
                    <th class="pddi"><p><span class="range_one_1">1</span>1-@range1</p></th>
                    <th class="pddi"><p><span class="range_one_1">2</span>@rangee1-@range2</p></th>
                    <th class="pddi"><p><span class="range_one_1">3</span>@rangee-Above</p></th>
                    <th class="pddi"><p><span class="range_one_1">1</span>1-@range1</p></th>
                    <th class="pddi"><p><span class="range_one_1">2</span>@rangee1-@range2</p></th>
                    <th class="pddi"><p><span class="range_one_1">3</span>@rangee-Above</p></th>
                    <th class="pddi"><p><span class="range_one_1">1</span>1-@range1</p></th>
                    <th class="pddi"><p><span class="range_one_1">2</span>@rangee1-@range2</p></th>
                    <th class="pddi"><p><span class="range_one_1">3</span>@rangee-Above</p></th>
                    <th class="pddi"><p><span class="range_one_1">1</span>1-@range1</p></th>
                    <th class="pddi"><p><span class="range_one_1">2</span>@rangee1-@range2</p></th>
                    <th class="pddi"><p><span class="range_one_1">3</span>@rangee-Above</p></th>
                </tr>
            </thead>
            <tbody id="tbodyshow">
                @foreach (var item in Model.common)
                {
                    <tr>
                        <td>@item.OperatorName</td>
                        <td>@item.mastercomm</td>
                        <td>@item.mastercomm1</td>
                        <td>@item.mastercomm2</td>
                        <td>@item.dlmcomm</td>
                        <td>@item.dlmcomm1</td>
                        <td>@item.dlmcomm2</td>
                        <td>@item.dlm_rem_comm</td>
                        <td>@item.dlm_rem_comm1</td>
                        <td>@item.dlm_rem_comm2</td>
                        <td>@item.apicomm</td>
                        <td>@item.apicomm1</td>
                        <td>@item.apicomm2</td>
                        <td>@item.whitelabelcomm</td>
                        <td>@item.whitelabelcomm1</td>
                        <td>@item.whitelabelcomm2</td>
                    </tr>
                }
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                @for (int i = 0; i < Model.common.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.common[i].idno)
                        <td>
                            @Html.DisplayFor(a => a.common[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].mastercomm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].mastercomm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].mastercomm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].mastercomm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].mastercomm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].mastercomm2)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlmcomm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlmcomm2)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlm_rem_comm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlm_rem_comm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlm_rem_comm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlm_rem_comm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].dlm_rem_comm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].dlm_rem_comm2)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].apicomm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].apicomm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].apicomm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].apicomm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].apicomm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].apicomm2)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].whitelabelcomm, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].whitelabelcomm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].whitelabelcomm1, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].whitelabelcomm1)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.common[i].whitelabelcomm2, new { htmlAttributes = new { @style = "width:70px !important" } })
                            @Html.ValidationMessageFor(a => a.common[i].whitelabelcomm2)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({

    
            paging: false
        });
    });

</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>