@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel

<table class="table table-bordered example-second" style="width:100%;">
    <thead style="background-color:whitesmoke;">
        <tr>
            <th>Recharge&nbsp;From</th>
            <th>User&nbsp;Id</th>
            @*<th>Recharge&nbsp;To</th>*@
            <th>Port&nbsp;No /&nbsp;API</th>
            <th>Operator&nbsp;Name</th>
            <th>Status</th>
            <th>DEL</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShowOPSwitchList)
        {
            <tr>
                <td>@item.Recharge_from</td>
                <td>@item.Email</td>
                @*<td>@item.Type</td>*@
                <td>@item.portno</td>
                <td>@item.operator_Name</td>
                <td>
                    <div class="onoffswitch onoffswitch-secondclass">
                        @if (item.sts == "Y")
                        {

                            @*<a href="@Url.Action("rch_switch", "Home", new { id = item.idno })" style="text-decoration:none;">*@
                            <span class="costom-on custom-on-secondbutton" onclick="changeByOpSwitch('@item.idno')">on</span>

                            @*</a>*@

                        }
                        else
                        {

                            @*<a href="@Url.Action("rch_switch", "Home", new { id = item.idno })" style="text-decoration:none;">*@

                            <span class="custom-off custom-off-secondbutton" onclick="changeByOpSwitch('@item.idno')">off</span>
                            @*</a>*@


                        }
                        </div>
                </td>
                <td>
                    <button id="DeleteBtn" class="custom-loading" onclick="DeleteByOpSwitch('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                        <img src="~/MainFrontDesign/images/delete.svg" />
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
