@model Vastwebmulti.Areas.ADMIN.Models.SchduleFundInfo
<div class="purchase-history">
    <div class="table-responsive">
        <table class="table  table-striped table-bordered table-hover third-design-table">
            <thead>
                <tr>
                    <th>API Name</th>
                    <th>Amount</th>
                    <th>MODE</th>
                    <th>Min Fund</th>
                    <th>Max Hours</th>
                    <th>Time</th>
                    <th>Schedule frequency</th>
                    <th>Daily frequency</th>
                    <th>Status</th>
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.infoaccount_Schdule)
                {
                    var mode = ""; var scfree = ""; var dailysch = "";

                    if (item.type == "LOWBAL")
                    {
                        mode = "Low Alert Basis";
                    }
                    else if (item.type == "TIME")
                    {
                        mode = "Timing Basis";
                    }
                    string time = Convert.ToDateTime(item.timeset).ToShortTimeString();
                    if (item.type == "LOWBAL")
                    {
                        time = "";
                    }
                    if (item.schdulefre == 1)
                    {
                        scfree = "Daily";
                    }
                    else if (item.schdulefre == 3)
                    {
                        scfree = "2 Days Gap";
                    }
                    else if (item.schdulefre == 7)
                    {
                        scfree = "1 Week";
                    }
                    else if (item.schdulefre == 30)
                    {
                        scfree = "1 Week";
                    }
                    if (item.dailysch == 1)
                    {
                        dailysch = "One Time";
                    }
                    else if (item.dailysch == 2)
                    {
                        dailysch = "Two Time";
                    }
                    else if (item.dailysch == 3)
                    {
                        dailysch = "Three Time";
                    }
                    else if (item.dailysch == 4)
                    {
                        dailysch = "Four Time";
                    }
                    <tr>
                        <td>@item.Apiname</td>
                        <td>@item.amount</td>
                        <td>@mode</td>
                        <td>@item.minfund</td>
                        <td>@item.maxhours</td>
                        <td>@time</td>
                        <td>@scfree</td>
                        <td>@dailysch</td>
                        <td>
                            @if (item.status == "Y")
                            {
                                <button onclick="statusupdate_sch('@item.Apiname','@item.type')" style="border-color:transparent;background-color:transparent;">
                                    <i class="fa fa-toggle-on fa-2x" style="color:green;"></i>
                                </button>
                            }
                            else
                            {
                                <button onclick="statusupdate_sch('@item.Apiname','@item.type')" style="border-color:transparent;background-color:transparent;">
                                    <i class="fa fa-toggle-off fa-2x" style="color:red;"></i>
                                </button>
                            }
                        </td>
                        <td>
                            <button onclick="del1('@item.Apiname','@item.type')" style="border-color:transparent;background-color:transparent;">
                                <i style="font-size:24px;color:red;" class="fa">&#xf014;</i>
                                <p></p>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    function success2() {

        var mshh = '@Model.msg';
        if (mshh == "NotAllow") {
            $('#schdulelable').text("Same Information Not Allow");
        }
        $('#resetallschdu').click();
        $('#tab9').click();
    }
</script>
<script>
    function statusupdate_sch(apinm,mode) {
        $.ajax({
            url: '@Url.Action("Update_sch_sts", "Home")',
            type: "POST",
            data: { Apinm: apinm, mode: mode },
            cache: false,
            success: function (data2) {
                $('#tab-9').html(data2);
            }
        });
    }
    function del1(apinm,mode) {
        $.ajax({
            url: '@Url.Action("del_schinfo", "Home")',
            type: "POST",
            data: { Apinm: apinm, mode: mode },
            cache: false,
            success: function (data2) {
                $('#tab-9').html(data2);
            }
        });
    }
</script>



<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>