@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-bordered" style="margin:0px;border:5px solid #e4e4e4;">
        <thead>
            <tr>
                <th>Distributor&nbsp;Firm</th>
                <th>Distributor&nbsp;Name</th>
                <th>Mobile&nbsp;No</th>
                <th>PAN&nbsp;No</th>
                <th>KYC</th>
                <th>D-Bal</th>
                <th>R-Bal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Select_dealer_list != null)
            {
                foreach (var item in Model.Select_dealer_list)
                {
                    <tr>
                        <td>
                            <i class="" aria-hidden="true"></i>
                            @item.FarmName
                        </td>
                        <td>@item.DealerName</td>
                        <td>@item.Mobile</td>
                        <td>@item.pancard</td>
                        <td class="kyc-button">
                            @if (item.PSAStatus == "Y" && item.AadhaarStatus == "Y")
                            {
                                <button class="btn " style="border:1px solid #bbb;font-size: 11px !important;padding: 2px 10px;height: 25px;border: 1px solid #bbb;">Done</button>
                            }
                            else
                            {
                                <div class="btn" style="background:var(--main-bg-lcolor);height: 25px;color:#fff; padding: 4px 10px;float:left; font-size: 11px;">Due</div>
                            }
                            @*<button class="btn" style="background:yellow;"><img src="~/images/reportimage/wall-clock.svg" /></button>*@
                        </td>
                        <td>
                            @item.remaindlm
                            @*@if (item.Status == "Y")
                            {
                                <center>
                                    <a href="@Url.Action("dealer_sts_update",new { id = item.DealerId })" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 0px 2px 4px;">
                                        <i class="fa fa-thumbs-o-up" style="margin-top:12px;">&nbsp;<span>I'm&nbsp;Active&nbsp;</span></i>
                                    </a>
                                </center>
                            }
                            else
                            {
                                <center>
                                    <a href="@Url.Action("dealer_sts_update",new { id = item.DealerId  })" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 11px 2px 11px;">
                                        <i class="fa fa-thumbs-o-down" style="color:red;margin-top:12px;">&nbsp;<span>Inactive</span></i>
                                    </a>
                                </center>

                            }*@
                        </td>
                        <td>
                            @item.remainrem
                            @*<button type="button" class="btn" data-toggle="modal" data-target="#defaultModal222">
            <img src="~/img/right-arrow22.svg" style="width:15px;margin-top:-3px;" />
        </button>*@
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>