@model Vastwebmulti.Areas.ADMIN.Models.AutoFund_Report
<div class="table-responsive" style="overflow:auto;height:550px;">
    <table class="table  table-striped table-bordered table-hover exampletable-second third-design-table">
        <thead>
            <tr>
                <th>API Name</th>
                <th>Mode</th>
                <th>Bank Name</th>
                <th>Payee Name</th>
                <th>Account Number</th>
                <th>Ifsc Code</th>
                <th>Amount</th>
                <th>Request Time</th>
                <th>Response Time</th>
                <th>Bank Rrn</th>
                <th>Status</th>
                <th>Api Request</th>
                <th>Api Response</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.info_auto_fund)
            {
                <tr>
                    <td>@item.apiname</td>
                    <td>@item.Mode</td>
                    <td>@item.bankName</td>
                    <td>@item.PayeeName</td>
                    <td>@item.accountno</td>
                    <td>@item.ifsccode</td>
                    <td>@item.txnamt</td>
                    <td>@item.txndate</td>
                    <td>@item.updatedate</td>
                    <td>@item.bankrrn</td>
                    <td>@item.status</td>
                    <td>@item.apirequest</td>
                    <td>@item.apiresponse</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function success1() {
        var msg = '@Model.msg';

        if (msg == "Wrong") {
            $('#msgpurchasemanual').text("Wrong Password");
        }
        else {
            $('#divaccountlist').hide();
            $('#divaccountlistadd').show();
            $('#resetform').click();
        }
        $('#tab10').click();
    }
    function fail1() {
        alert("error");
    }
</script>




<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>