

    <div class="bodyremail">
        @using (Html.BeginForm("_SendEmail", "Home", FormMethod.Post))
        {
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email_address_2">Select Users</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="dropp">
                            @Html.DropDownList("Userform1", new List<SelectListItem> {
                            new SelectListItem { Text = "Master Distributor", Value= "Master" } ,
                            new SelectListItem { Text = "Distributor", Value= "Dealer" } ,
                            new SelectListItem { Text = "Retailer", Value= "Retailer" },
                            new SelectListItem { Text = "API User", Value= "API" },
                            new SelectListItem { Text = "Whitelabel", Value= "Whitelabel" },
                          }, "Select User", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="SelectID">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email_address_2">User Email ID</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="">
                            @Html.TextBox("txtEmail", "", new { onkeyup = "apna(this)", @class = "form-control dienb" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email_address_2">Subject</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="">
                            @Html.TextBox("txtSubject", "", new { onkeyup = "apna(this)", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email_address_2">Message Description</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="">
                            @Html.TextArea("txtMsgBody", "", new { onkeyup = "apna(this)", maxlength = 160, @class = "form-control", @placeholder = "Enter Message Here" })
                        </div>
                    </div>
                </div>
            </div>
            <div><label>@ViewData["msgdlm"] </label> </div>
            <div class="form-group remail-footer">
                <div class="col-md-12">
                    <button type="submit" class="btn  waves-effect bt btnssl special-iii h1" id="start_button" onclick="verify()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled>Send Email</button>
                    <button id="btn" type="reset" class="btn  waves-effect bt btnssl special-iii h2" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Reset</button>

                </div>
            </div>
        }
    </div>