@model Vastwebmulti.Areas.ADMIN.ViewModel.EmployeePermissionViewmodel

<style>
    .cc-check [type="checkbox"]:not(:checked), .cc-check [type="checkbox"]:checked {
        position: static;
        opacity: 1;
    }

    .employfirstclass {
        width: 32.8%;
        float: left;
        border: 1px solid var(--border-color);
        text-align: center;
        padding: 5px 5px;
        background: #eae9e9;
        color: #555;
        margin-right: 10px;
    }

    .employfirstclass {
        width: 32.5%;
        float: left;
        border: 1px solid var(--border-color);
        text-align: center;
        padding: 5px 5px;
        background: #eae9e9;
        color: #555;
        margin-right: 1%;
    }

    .employ-fullclass {
        width: 100%;
        float: left;
    }

    .employfirstclass:last-child {
        border-right: 1px solid #aaa4a4;
        margin-right: 0px;
    }

    .employfirstclass li {
        display: inline-block;
        padding-right: 10px;
    }

        .employfirstclass li strong {
            display: block;
        }

    .new {
        padding: 50px;
    }

    .form-group {
        display: block;
        margin-bottom: 15px;
    }

        .form-group input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        .form-group label {
            position: relative;
            cursor: pointer;
        }

            .form-group label::before {
                content: '';
                -webkit-appearance: none !important;
                background-color: transparent !important;
                border: 1px solid #555 !important;
                background: #fff !important;
                padding: 10px !important;
                display: inline-block !important;
                position: relative !important;
                vertical-align: middle !important;
                cursor: pointer !important;
                margin-right: 5px !important;
                transform: none !important;
                top: -1px !important;
            }

    .employfirstclass label {
        font-size: 14px;
        color: #555;
        text-transform: uppercase;
        font-weight: bold;
    }

    .form-group input:checked + label::after {
        content: '';
        display: block !important;
        position: absolute !important;
        top: 2px !important;
        left: 9px !important;
        width: 6px !important;
        height: 12px !important;
        border: solid #fff !important;
        border-width: 0 2px 2px 0 !important;
        transform: rotate(45deg) !important;
        left: 33px !important;
        top: 3px !important;
    }
    .form-group input:checked + label::before {
        background: #555 !important;
    }

    .employfirstclass:nth-child(3n) {
        border-right: 1px solid var(--border-color);
        margin-right: 0px;
    }

    .employfirstclass:nth-child(3n) {
        border-right: 1px solid #aaa4a4;
        margin-right: 0px;
        margin-bottom: 15px;
    }


    .employfirstclass h2 {
        text-transform: uppercase;
    }
    .employfirstclass {
        margin-bottom: 15px;
    }

    @@media screen and (max-width: 766px) {
        .employfirstclass {
            width: 100%;
            float: left;
            margin: 0;
            margin-bottom: 0px;
            margin-bottom: 20px;
        }

        .empolyresponsiveadmin {
            position: static !important;
            width: auto !important;
            margin-bottom: 20px;
        }
        .respinsive-advance-permi .col-md-3 {
            padding: 0 !important;
            margin-bottom: 10px;
            width: 100%;
            float: left;
        }
    }
</style>
@using (Html.BeginForm("AddpermisionForServices", "Home", FormMethod.Post))
{
    <div class="empolyresponsiveadmin" style=" position: absolute; right: 19px; top: 72px; width: 11%; }">
        <input type="submit" id="btnsubmit" name="btnsubmit" value="Save Permission" style="width: 100%; border-radius: 0; border: 1px solid var(--border-color);" />
    </div>


    if (Model != null && Model.ServicelistALL != null)
    {
        <input type="hidden" id="EmployeeIDforpart" name="EmployeeIDforpart" value="@Model.EmployeeIDforpart" />

        <div class="employ-fullclass">
            @foreach (var item in Model.ServicelistALL)
            {

                var chk = item.isRead == true ? "Checked" : "";
                var chk1 = item.iswrite == true ? "Checked" : "";
                <div class="employfirstclass">
                    <h2>@item.Servicename </h2>

                    <ul>
                        <li>

                            <strong class="form-group">
                                <input type="checkbox" name="isRead" id="Read_@item.Servicename" value="Read_@item.Servicename" @chk />

                                <label for="Read_@item.Servicename">Read</label>
                            </strong>
                        </li>
                        <li>
                            <strong class="form-group">
                                <input type="checkbox" name="iswrite" id="write_@item.Servicename" value="write_@item.Servicename" @chk1 />


                                <label for="write_@item.Servicename">Write</label>
                            </strong>
                        </li>
                    </ul>
                </div>
            }
        </div>




    }



}

<div class="respinsive-advance-permi" style="width:100%;float:left;margin-top:20px;margin-bottom:15px;border-top: 2px solid var(--main-bg-lcolor);padding-top: 15px;">

  


  
    <div class="space-after-right col-md-3 space-after-right-class focused" style="padding: 0;">
        <select id="ddlStatewise" class="form-control dropdown">
            <option value="">Select User</option>
            <option value="Statewise">State Wise</option>
            <option value="Userwise">User Wise</option>
        </select>
    </div>


    <div class="space-after-right col-md-3 space-after-right-class focused" id="ddlstatefilldiv" style="padding:0px;padding-left: 5px;">
        <select id="ddlstatefill" class="form-control dropdown">
            <option value="">Select User</option>
            <option value="master">MASTER Distributor</option>
            <option value="dealer">Distributor</option>
        </select>
    </div>


</div>
<div id="advasncepermisionstatewise" class="table-responsive table-responsive-forclass addnewclass-advance" style="width: 100%; float: left;overflow:visible !important;display:none">
    @Url.Action("ShowAllstateWisedate",new {empid= @Model.EmployeeIDforpart })
</div>




<script>

    $('#ddlstatefill').change(function () {
        $('#advasncepermisionstatewise').hide();
        $("#div_Loader").show();
        $('#ddlStatewise').val()
        if ($('#ddlStatewise').val() == '' || $('#ddlstatefill').val() == '') {
            alert('Select ')
               $('#ddlStatewise').val('')
               $('#ddlstatefill').val('')
        }
        else {

            var empids = '@Model.EmployeeIDforpart'
            var filterby = $('#ddlStatewise').val();
            $.ajax({
                url: "@Url.Action("ShowAllstateWisedateBYID")",
                data: { users: $('#ddlstatefill').val(), filterby: filterby, empids: empids },
                type: "GET",
                success: function (data) {
                    
                    $('#advasncepermisionstatewise').show();
                    $("#div_Loader").hide();
                    $('#advasncepermisionstatewise').html(data)
                    $('#space-after-right').addClass("space-after-right")

                    //$.each(data, function (data, value) {

                    //    $("#ddlNationality").append($("<option></option>").val(value.stateid).html(value.statename));
                    //})

                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    })

    $('#ddlStatewise').change(function () {
        $('#ddlstatefill').val('');
        $('#advasncepermisionstatewise').hide();

    })



 

    //$('input[type=radio][name=stspermission]').change(function () {
    //    $('#ddlstatefill').val('')

    //});

</script>