@model Vastwebmulti.Areas.ADMIN.Models.SMSViewModel

<div class="tab-content-table" id="SIMSMSHISTORYtab">
    <div class="table-responsive">
        <table class="table table-bordered" style="width:100%;" id="SIMSMSHISTORY">
            <thead>
                <tr class="first-tr">
                    <th>Port No</th>
                    <th>Reatiler Id </th>
                    <th>Message</th>
                    <th>Status</th>
                    <th>Date & Time</th>
                </tr>
            </thead>
            <tbody>
                @{

                    int i = 1;
                    if (Model.srs_show_sent_message_Result_List.Count > 0)
                    {
                        foreach (var item in Model.srs_show_sent_message_Result_List)
                        {
                            <tr>
                                @*<td> @i</td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.portno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.senderno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.msg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sts)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.edate)
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <div class="no-data-found-img">
                                    <img src="~/img/NoDatall.svg" />
                                </div>
                            </td>

                        </tr>
                    }
                }
                @*<tr>

        @*<tr>
            <td>COM17</td>
            <td>Reatiler@gmail.com</td>
            <td>Hello Your Remain Blane 34543.00</td>
            <td>Panding</td>
            <td>13-12-2019 20:29:10</td>
        </tr>
        <tr>
            <td>COM17</td>
            <td>Reatiler@gmail.com</td>
            <td>Hello Your Remain Blane 34543.00</td>
            <td>Panding</td>
            <td>13-12-2019 20:29:10</td>
        </tr>
        <tr>
            <td>COM17</td>
            <td>Reatiler@gmail.com</td>
            <td>Hello Your Remain Blane 34543.00</td>
            <td>Panding</td>
            <td>13-12-2019 20:29:10</td>
        </tr>*@
            </tbody>
        </table>
    </div>
</div>


