

<style>

    .slab-first-tab .nav-tabs li a::before {
        content: '';
        border-left: 2px solid #555;
        border-bottom: 2px solid #555;
        width: 10px;
        height: 10px;
        display: block;
        right: 20px !important;
        left: auto;
        bottom: 15px !important;
        transform: rotate(-131deg);
        float: right !important;
        margin-top: 6px !important;
    }
    .slab-first-tab {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
        width:12%;
    }
    .col-md-10.slab-first-tab-content {
        float: right;
        width: 87%;
        margin: 0;
        padding: 0px;
    }

  /* new css */
  @@media only screen and (max-width:480px){
    .all-slab-header-second button {
        width: 33% !important;
        margin: 0 !important;
        float: left !important;
        margin-bottom: 4px !important;
    }

    .all-slab-header-second a {
        width: 33% !important;
        margin: 0 !important;
        float: left !important;
        margin-bottom: 4px !important;
    }
    
    .p_range {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page-header-third {
        width: 100% !important;
    }


  }


  /* new css */


</style>



<div id="custnav" class="col-md-2 slab-first-tab">
    <h2 class="borderbottom-second">Category's</h2>
    <ul class="nav nav-tabs">
        <li><a class="active" href="@Url.Action("Prepaid_Slab_setting","Home")">Prepaid/DTH</a></li>
        <li><a href="@Url.Action("PostpaidUtility_Slab_setting","Home")">Utilities</a></li>
        <li><a href="@Url.Action("Money_Transfer_Slab_DMT2","Home")" style="margin-bottom:0px;">Financial</a></li>
        <li><a href="@Url.Action("Flight_Slab","Home")" style="margin-bottom:0px;">Travel & Hotel</a></li>
        <li><a href="@Url.Action("Giftcard_Slab_setting","Home")">Gift Card</a></li>
        <li><a href="@Url.Action("Security_Slab_setting","Home")">Security</a></li>
        <li><a href="@Url.Action("WhatsappCommon","Home")">Whats App</a></li>
        <li><a href="@Url.Action("FinoCMS","Home")">Fino CMS</a></li>
        <li><a href="@Url.Action("AirtelCMS","Home")">Airtel CMS</a></li>
        <li><a href="@Url.Action("Prepaid_card","Home")">Prepaid Card</a></li>
        <li><a href="@Url.Action("setcommdaywise","Home")">Extra Day Comm</a></li>
        <li><a href="@Url.Action("Retailer_Aeps_Aadharpay_slab","Home")">Aeps & Aadharpay</a></li>
        <li><a href="@Url.Action("CreditCard_Retailer_Slab","Home")">Credit Card</a></li>
        <li><a href="@Url.Action("CreditCard_BillPayment_Slab","Home")">Credit Card Bill Payment</a></li>
        <li><a href="#">eCommerce</a></li>
        <li><a href="#">Service&nbsp;&&nbsp;Repair</a></li>
        @*    <li><a href="#">Others</a></li>*@
    </ul>
</div>
<script>
    $(document).ready(function () {
        var current = location.pathname;
        current = current.replace("M_Poss", "Money_Transfer_Slab_DMT2");
        current = current.replace("Micro_Atm", "Money_Transfer_Slab_DMT2");
        current = current.replace("MIcroatm_Cash_Slab", "Money_Transfer_Slab_DMT2");
            current = current.replace("AepsSlab", "Money_Transfer_Slab_DMT2");
            current = current.replace("Pancard_Slab_Setting", "Money_Transfer_Slab_DMT2");
            current = current.replace("BUS_Slab", "Flight_Slab");
            current = current.replace("Hotel_Slab", "Flight_Slab");
            $('#custnav ul li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.parent().addClass('active');
            }
        })
    });
</script>