@model IEnumerable<Vastwebmulti.Areas.ADMIN.ViewModel.Sending_SMS_TemplatesViewmodel>
<table id="tbldata" data-hrefscroll="" class="table table-bordered table-striped table-hover third-design-table">
    <thead>
        <tr>
            <th>SMS FOR</th>
            <th>Template</th>
            <th>Template ID</th>
            <th>SMS API</th>
            <th>Uploaded</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
      

        @foreach (var item in Model.OrderByDescending(x=>x.idno))
        {

            int indxofff = item.SMSAPI.IndexOf('?');
        <tr>
            <td>@item.SMS_TYPE</td>
            <td>
                <p style="">


                    @item.Templates
                    @*<div class="copy-to-clipboard" data-idss="@item.idno">

                    <input readonly type="text" class="form-control" data-id="txt-@item.idno" value="@item.Templates" style="width: 48px;display:none">
                </div>*@



                </p>
            </td>
            <td>@item.Templateid</td>
            <td><p>  @item.SMSAPI.Substring(0, indxofff) </p></td>
            <td>@item.UploadBy</td>
            <td>
                <button id="show-@item.idno" class="clssresetshow" onclick="DeleteTemplate('@item.idno')" href="#" title="View Status">
                    <img class="before-delete" src="~/MainFrontDesign/images/delete.svg" style="width: 20px;height: 20px;">
                </button>
                @*<button id="DeleteBtn" class=" waves-effect  special-iii delete-fa switch-edit-button">

                <img class="before-delete" src="~/MainFrontDesign/images/delete.svg">
                <span class="after-delete" style="display:none;font-size: 10px;color:red;" onclick="deleteevent(4);">Sure&nbsp;?</span>
            </button>*@
                <button id="Notshow-@item.idno" class="clssresetnotshow" onclick="ConfirmDeleteTemplate('@item.idno')" style="display:none;background: #ffff006b;color: red;" href="#" title="Confirm Delete Template">
                    Sure
                </button>
            </td>
        </tr>
        } 
    </tbody>
</table>
