@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel
    <table class="table table-bordered example-second" style="width:100%;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>User &nbsp;Name</th>
                <th>Recharge&nbsp;From</th>
                <th>Port&nbsp;No /&nbsp;API</th>
                <th>Operator&nbsp;Name</th>
                <th>Min</th>
                <th>Max</th>
                @*<th>Recharge&nbsp;To</th>*@
                <th>Status</th>
                <th>Edit</th>
                <th>DEL</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShowREchargelist)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.rch_from)</td>
                <td>@Html.DisplayFor(modelItem => item.portno)</td>
                <td>@Html.DisplayFor(modelItem => item.operator_Name) </td>
                <td>@Html.DisplayFor(modelItem => item.amount)</td>
                <td>@Html.DisplayFor(modelItem => item.maxamount)</td>
                @*<td>@Html.DisplayFor(modelItem => item.rct_to) </td>*@
                <td>
                    <div class="onoffswitch onoffswitch-secondclass">
                        @if (item.sts == "N")
                        {
                            <span class="custom-off custom-off-secondbutton" onclick="changebyamount('@item.idno')">off</span>

                        }
                        else
                        {
                            <span class="costom-on custom-on-secondbutton" onclick="changebyamount('@item.idno')">on</span>

                        }
                    </div>
                </td>
                <td>
                    <button type="button" class="switch-edit-button deletebuttoback-second" onclick="EditByamount(@item.idno)">
                        Edit
                    </button>
                </td>
                <td>
                    <button id="DeleteBtn" class="custom-loading" onclick="Deletebyamount('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                        <img src="~/MainFrontDesign/images/delete.svg" />
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>