@model Vastwebmulti.Areas.ADMIN.ViewModel.NillPortalViewmodel
<table class="table table-bordered example-second">
    <thead style="background-color:whitesmoke;">
        <tr>
            <th>User&nbsp;Name</th>
            <th>User&nbsp;Type</th>
            <th>Circle&nbsp;Name</th>
            <th>Operator&nbsp;Name</th>
            <th>Api/Port</th>
            <th>Min</th>
            <th>Max</th>
            <th>Status</th>
         
            <th>DEL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SwitchStateWise)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.namechk)</td>
            <td>@Html.DisplayFor(modelItem => item.rch_from)</td>
            <td>@Html.DisplayFor(modelItem => item.State_name)</td>
            <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
            <td>@Html.DisplayFor(modelItem => item.api_name)</td>
            <td>@Html.DisplayFor(modelItem => item.amount)</td>
            <td>@Html.DisplayFor(modelItem => item.maxamount)</td>
            <td>
                <div class="onoffswitch onoffswitch-secondclass">
                    @if (item.sts == "Y")
                    {


                        <span class="costom-on custom-on-secondbutton" onclick="SwitchstatusStatuswise(@item.idno)">on</span>
                        @*<a href="@Url.Action("SwitchstatusStateBy",new { id = item.idno})" style="text-decoration:none;">
                        <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                    </a>*@


                    }
                    else
                    {
                        <span class="custom-off custom-off-secondbutton" onclick="SwitchstatusStatuswise(@item.idno)">off</span>


                        @*<a href="@Url.Action("SwitchstatusStateBy",new { id = item.idno})" style="text-decoration:none;">
                        <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                    </a>*@


                    }
                </div>
            </td>
            <th>
                <button id="but" class="btnssl2233 custom-loading" onclick="deleteStateBy('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">

                    <img src="~/MainFrontDesign/images/delete.svg" />
                </button>
            </th>
        </tr>
        }
    </tbody>
</table>


