@model IEnumerable<Vastwebmulti.Models.DashBoard_Report_top_Result>


<div class="row clearfix">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="example" class="table example-second dash-table table-striped third-design-table  table-bordered">
                <thead>
                    <tr>
                        <th>Role</th>
                        @*<th>Name</th>*@
                        <th>Firm Name</th>
                        <th>Type</th>
                        <th>Transaction&nbsp;Description</th>
                        <th>Transaction&nbsp;Date</th>
                        @*<th>Remain pre</th>*@
                        <th>Cr/Dr</th>
                        @*<th>Dr</th>*@
                        <th>Updated&nbsp;Bal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        DateTime date = Convert.ToDateTime(item.Date);
                        var frmname = item.Firmname;
                        if (frmname == null || frmname == "")
                        {
                            frmname = item.username;
                        }
                        var val = item.Cr;
                        if (item.Cr == 0)
                        {
                            val = -item.Dr;

                        }

                    <tr>
                        <td>@item.Role</td>
                        @*<td>@item.username</td>*@
                        <td>@frmname - @item.Mobile</td>
                        <td>@item.Operator_type</td>
                        <td>@item.Description</td>
                        <td>@date.ToString("d-MMM-yyyy HH:mm:ss")</td>
                        @*<td>@item.UserPre</td>*@
                        <td>@val</td>
                        @*<td>@item.Dr</td>*@
                        <td>@item.UserPost</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('.third-design .third-design-table td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;

        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');

    });

    $('.third-design .third-design-table td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tr:nth-child(" + rowIndex + ")").css('background', 'transparent');

    });
</script>
