@model Vastwebmulti.Areas.ADMIN.Models.upiChargeAndgateway
@{
    ViewBag.Title = "_upi_report";
    Layout =null;
}
    <div class="table-responsive " style="width:100%;">
        <table class="table table-bordered table-striped table-hover">
            <thead style="background-color:whitesmoke;">


                <tr>

                    <th>Payer&nbsp;Name</th>
                    @*<th>Payer&nbsp;Mobile</th>*@
                    <th>Amount</th>
                    <th>Charges</th>
                    <th>Net&nbsp;Received</th>
                    <th>Bank RRN</th>
                    <th>Transaction&nbsp;Time</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UPIREPORT)
                {
                    var img = "";
                    if (item.status.ToUpper() == "SUCCESS")
                    {
                        img = "../../ashok-images/correct.svg";

                    }
                    else if (item.status.ToUpper() == "PENDING")
                    {
                        img = "~/ashok-images/clock.svg";
                    }
                    else
                    {
                        img = "../../ashok-images/closes.svg";
                    }
                    <tr>
                        <td><img src='@img' style="width: 20px;">&nbsp;@item.PayerName</td>
                        @*<td>9166940603</td>*@
                        <td>@item.amt</td>
                        <td>@item.charge</td>
                        <td>@item.finalpay</td>
                        <td>@item.BankRRN</td>
                        <td>@item.txndate</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


