
@model Vastwebmulti.Areas.ADMIN.Models.GiftcardSlab

@using (Ajax.BeginForm("_UserGiftcardSlab", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess1", OnFailure = "onfailed", UpdateTargetId = "divEditFormComm", LoadingElementId = "div_Loader", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmituser" type="submit" value="Update For Existing Users" class="btn waves-effect" style="display:none;" />
    <input id="btnsubmitusercommon" type="submit" name="Button" value="Update Existing & New Users" class="btn  waves-effect" style="display:none;" />

    @Html.HiddenFor(m => m.role)
    <div class="row clearfix" style="margin-right:0px;">
        <div class="col-md-12">
            <div class="slab-master-block">
                <div class="slab-master-block-left">
                    <div class="">
                        <div class="custom-district-img">

                            <img src="~/AdminDesign/images/slab-user.svg" style="width:18px;">
                        </div>
                        @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "for-select2 form-control", @onchange = "ddlUserIdChange()" })

                    </div>
                </div>
                <div class="slab-master-block-right">
                    <div id="slab-master-message" class="slab-master-message slab-master-message-show" style="display: none;">
                        <p>  If you edit the slabs of all the master distributors, you are given a data view of the common slabs.</p>
                    </div>
                    <div id="slab-master-detail" class="slab-master-detail slab-master-detail-hide" style="display: block;">
                        <div class="row clearfix">

                            <div class="col-md-4 col-sm-4 col-xs-4 col-4">
                                <span class="master-slab-right-icon">
                                    <img src="~/AdminDesign/images/user.svg">
                                </span>
                                <input class="form-control" type="text" placeholder="User Name" value="@Model.Name">

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-4">
                                <span class="master-slab-right-icon" style="border-left: 1px solid #bbb;">
                                    <img src="~/AdminDesign/images/number.svg">
                                </span>
                                <input class="form-control" type="text" placeholder="User Registered Number" value="@Model.Phone">

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-4">
                                <span class="master-slab-right-icon" style="border-left: 1px solid #bbb;">
                                    <img src="~/AdminDesign/images/email.svg">
                                </span>
                                <input class="form-control" type="text" placeholder="User Registered Mail" value="@Model.Email">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered slab-table third-design-table">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>User&nbsp;ID</th>
                <th>Operator&nbsp;Name</th>
                <th>Commission&nbsp;(%)</th>
                @*<th>Status</th>*@

            </tr>
        </thead>
        <tbody id="tbodyshow">
            <!--Master User-->
            @if (Model.Materuser != null)
            {
                for (int i = 0; i < Model.Materuser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Master-->
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.Dealeruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Dealer-->
            <!--Retailer User-->
            @if (Model.Retaileruser != null)
            {
                for (int i = 0; i < Model.Retaileruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Retailer-->
            <!--Whitelabel User-->
            @if (Model.Whitelabeluser != null)
            {
                for (int i = 0; i < Model.Whitelabeluser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Whitelabel-->

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            <!--Master User-->
            @if (Model.Materuser != null)
            {
                for (int i = 0; i < Model.Materuser.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.Materuser[i].RolesName)
                        @Html.HiddenFor(a => a.Materuser[i].idno)
                        @Html.HiddenFor(a => a.Materuser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Materuser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Materuser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Master-->
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.Dealeruser.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.Dealeruser[i].RolesName)
                        @Html.HiddenFor(a => a.Dealeruser[i].idno)
                        @Html.HiddenFor(a => a.Dealeruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Dealeruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Dealeruser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Dealer-->
            <!--Retailer User-->
            @if (Model.Retaileruser != null)
            {
                for (int i = 0; i < Model.Retaileruser.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.Retaileruser[i].RolesName)
                        @Html.HiddenFor(a => a.Retaileruser[i].idno)
                        @Html.HiddenFor(a => a.Retaileruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Retaileruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Retaileruser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Retailer-->
            <!--Whitelabel User-->
            @if (Model.Whitelabeluser != null)
            {
                for (int i = 0; i < Model.Whitelabeluser.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a.Whitelabeluser[i].RolesName)
                        @Html.HiddenFor(a => a.Whitelabeluser[i].idno)
                        @Html.HiddenFor(a => a.Whitelabeluser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Whitelabeluser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Whitelabel-->

        </tbody>
        <tbody id="tbodyeditAll" style="display:none;">
            <!--Master User Update-->
            @if (Model.Materuser != null)
            {
                for (int i = 0; i < Model.UpdateMaster.Count; i++)
                {

                    <tr>
                        @Html.HiddenFor(a => a.UpdateMaster[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateMaster[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateMaster[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateMaster[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Master User-->
            <!--Dealer User Update-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.UpdateDealer.Count; i++)
                {
                    var endID = Model.UpdateDealer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateDealer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateDealer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateDealer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateDealer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End Dealer User-->
            <!--Retailer User Update-->
            @if (Model.UpdateRetailer != null)
            {
                for (int i = 0; i < Model.UpdateRetailer.Count; i++)
                {
                    var endID = Model.UpdateRetailer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateRetailer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateRetailer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateRetailer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End Retailer User-->
            <!--WHITELABEL User Update-->
            @if (Model.Whitelabeluser != null)
            {
                for (int i = 0; i < Model.UpdateWhitelabel.Count; i++)
                {
                    var endID = Model.UpdateWhitelabel[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateWhitelabel[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateWhitelabel[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateWhitelabel[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End api User-->

        </tbody>
    </table>

}
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script>
    $('.for-select2').select2();


</script>
<script>
    function OnSuccess1(data) {
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
    }
    function onfailed(error) {
        alert(error.responseText);
    }
</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>