@model Vastwebmulti.Areas.ADMIN.Models.DMTSlabModel
@using (Html.BeginForm("Update_DMTSlab", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
{
    @Html.HiddenFor(m => m.role)
    <div class="row clearfix">
        <div class="col-md-2">
            <label for="email_address_2" style="padding-top:14px;padding-left:137px;"><i class="fa fa-users" style="font-size:25px; color:#607d8b ;"></i></label>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="margin-top:10px; margin-bottom:0px;">
                <div class="" style="border:1px solid #9E9E9E;">
                    @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                </div>
            </div>
        </div>
    </div>
      <table class="table table-bordered">
            <thead class="navbar" style="position:initial;color:white;">
                <tr>
                    <th>User&nbsp;ID</th>
                    <th>Verify&nbsp;Charge&nbsp;(₹)</th>
                    <th>Charge/Comm(₹) 100&nbsp;to&nbsp;1000</th>
                    <th>Charge/Comm(₹) 1001&nbsp;to&nbsp;2000</th>
                    <th>Charge/Comm(₹) 2001&nbsp;to&nbsp;3000</th>
                    <th>Charge/Comm(₹) 3001&nbsp;to&nbsp;4000</th>
                    <th>Charge/Comm(₹) 4001&nbsp;to&nbsp;5000</th>
                    <th>Gst&nbsp;Status</th>
                    <th>Tds&nbsp;Status</th>
                </tr>
            </thead>
            <tbody id="tbodyshow">
                <!--Master User-->
                @if (Model.Materuser != null)
                {
                    foreach (var item in Model.Materuser)
                    {
                        <tr>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.verify_comm
                            </td>
                            <td>
                                @item.comm_1000
                            </td>
                            <td>
                                @item.comm_2000
                            </td>
                            <td>
                                @item.comm_3000
                            </td>
                            <td>
                                @item.comm_4000
                            </td>
                            <td>
                                @item.comm_5000
                            </td>
                            <td>
                                @if (item.gst_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_master", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_master", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                            <td>
                                @if (item.tds_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_master", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_master", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                        </tr>
                    }
                }
                <!--End Master-->
                <!--Dealer User-->
                @if (Model.Dealeruser != null)
                {
                    foreach (var item in Model.Dealeruser)
                    {

                        <tr>

                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.verify_comm
                            </td>
                            <td>
                                @item.comm_1000
                            </td>
                            <td>
                                @item.comm_2000
                            </td>
                            <td>
                                @item.comm_3000
                            </td>
                            <td>
                                @item.comm_4000
                            </td>
                            <td>
                                @item.comm_5000
                            </td>
                            <td>
                                @if (item.gst_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_dealer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_dealer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                            <td>
                                @if (item.tds_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_Dealer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_Dealer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                        </tr>

                    }
                }
                <!--End Dealer-->
                <!--Retailer User-->
                @if (Model.Retaileruser != null)
                {
                    foreach (var item in Model.Retaileruser)
                    {

                        <tr>

                            <td>
                                @item.Email

                            </td>
                            <td>
                                @item.verify_comm

                            </td>
                            <td>
                                @item.comm_1000

                            </td>
                            <td>
                                @item.comm_2000


                            </td>
                            <td>
                                @item.comm_3000
                            </td>
                            <td>
                                @item.comm_4000
                            </td>
                            <td>
                                @item.comm_5000

                            </td>
                            <td>
                                @if (item.gst_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_Retailer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_Retailer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                            <td>
                                @if (item.tds_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_Retailer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_Retailer", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                        </tr>

                    }
                }
                <!--End Retailer-->
                <!--API User-->
                @if (Model.APIuser != null)
                {
                    foreach (var item in Model.APIuser)
                    {

                        <tr>

                            <td>
                                @item.Email

                            </td>
                            <td>
                                @item.verify_comm

                            </td>
                            <td>
                                @item.comm_1000

                            </td>
                            <td>
                                @item.comm_2000


                            </td>
                            <td>
                                @item.comm_3000
                            </td>
                            <td>
                                @item.comm_4000
                            </td>
                            <td>
                                @item.comm_5000

                            </td>
                            <td>
                                @if (item.gst_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_api", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_api", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                            <td>
                                @if (item.tds_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_api", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_api", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                        </tr>

                    }
                }
                <!--End API-->
                <!--Whitelabel User-->
                @if (Model.Whitelabeluser != null)
                {
                    foreach (var item in Model.Whitelabeluser)
                    {

                        <tr>

                            <td>
                                @item.Email

                            </td>
                            <td>
                                @item.verify_comm

                            </td>
                            <td>
                                @item.comm_1000

                            </td>
                            <td>
                                @item.comm_2000


                            </td>
                            <td>
                                @item.comm_3000
                            </td>
                            <td>
                                @item.comm_4000
                            </td>
                            <td>
                                @item.comm_5000

                            </td>
                            <td>
                                @if (item.gst_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_whitelabel", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_gststs_whitelabel", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                            <td>
                                @if (item.tds_sts == true)
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_whitelabel", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                                else
                                {
                                    <center>
                                        <a href="@Url.Action("Imps_comm_tdssts_whitelabel", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>
                                }
                            </td>
                        </tr>

                    }
                }
                <!--End Whitelabel-->
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
                <!--Master User-->
                @if (Model.Materuser != null)
                {
                    for (int i = 0; i < Model.Materuser.Count; i++)
                    {
                <tr>
                    @Html.HiddenFor(a => a.Materuser[i].RolesName)
                    @Html.HiddenFor(a => a.Materuser[i].idno)
                    <td>
                        @Html.DisplayFor(a => a.Materuser[i].Email)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].verify_comm)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].comm_1000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].comm_2000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].comm_3000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].comm_4000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].comm_5000)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].gst_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].gst_sts)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.Materuser[i].tds_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                        @Html.ValidationMessageFor(a => a.Materuser[i].tds_sts)
                    </td>
                </tr>
                    }
                }
                <!--End User-->
                <!--Dealer User-->

                @if (Model.Dealeruser != null)
                {
                    for (int i = 0; i < Model.Dealeruser.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.Dealeruser[i].RolesName)
                @Html.HiddenFor(a => a.Dealeruser[i].idno)
                <td>
                    @Html.DisplayFor(a => a.Dealeruser[i].Email)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].verify_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].comm_1000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].comm_2000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].comm_3000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].comm_4000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].comm_5000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].gst_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].gst_sts)
                </td>
                <td>
                    @Html.EditorFor(a => a.Dealeruser[i].tds_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Dealeruser[i].tds_sts)
                </td>
            </tr>
                    }
                }
               <!--End Dealer User-->

                <!--Retailer User-->

                @if (Model.Retaileruser != null)
                {
                    for (int i = 0; i < Model.Retaileruser.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.Retaileruser[i].RolesName)
                @Html.HiddenFor(a => a.Retaileruser[i].idno)
                <td>
                    @Html.DisplayFor(a => a.Retaileruser[i].Email)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].verify_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].comm_1000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].comm_2000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].comm_3000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].comm_4000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].comm_5000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].gst_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].gst_sts)
                </td>
                <td>
                    @Html.EditorFor(a => a.Retaileruser[i].tds_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Retaileruser[i].tds_sts)
                </td>
            </tr>
                    }
                }
                <!--End Retailer User-->

                <!--API User-->

                @if (Model.APIuser != null)
                {
                    for (int i = 0; i < Model.APIuser.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.APIuser[i].RolesName)
                @Html.HiddenFor(a => a.APIuser[i].idno)
                <td>
                    @Html.DisplayFor(a => a.APIuser[i].Email)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].verify_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].comm_1000)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].comm_2000)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].comm_3000)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].comm_4000)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].comm_5000)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].gst_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].gst_sts)
                </td>
                <td>
                    @Html.EditorFor(a => a.APIuser[i].tds_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.APIuser[i].tds_sts)
                </td>
            </tr>
                    }
                }
                <!--End API User-->

                <!--Whitelabel User-->

                @if (Model.Whitelabeluser != null)
                {
                    for (int i = 0; i < Model.Whitelabeluser.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.Whitelabeluser[i].RolesName)
                @Html.HiddenFor(a => a.Whitelabeluser[i].idno)
                <td>
                    @Html.DisplayFor(a => a.Whitelabeluser[i].Email)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].verify_comm)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm_1000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm_2000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm_3000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm_4000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm_5000)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].gst_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].gst_sts)
                </td>
                <td>
                    @Html.EditorFor(a => a.Whitelabeluser[i].tds_sts, new { htmlAttributes = new { @style = "width:100%;display: none;" } })
                    @Html.ValidationMessageFor(a => a.Whitelabeluser[i].tds_sts)
                </td>
            </tr>
                    }
                }
                <!--End whitelabel User-->
            </tbody>
            <tbody id="tbodyeditAll" style="display:none;">
                <!--Master User Update-->
                     @if (Model.Materuser != null)
                {
                    for (int i = 0; i < Model.UpdateMaster.Count; i++)
                    {
                <tr>
                    @Html.HiddenFor(a => a.UpdateMaster[i].idno)

                    <td>
                        <p>All</p>
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].verify_comm)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].comm_1000, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm_1000)

                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].comm_2000, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm_2000)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].comm_3000, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm_3000)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].comm_4000, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm_4000)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].comm_5000, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm_5000)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].gst_sts, new { @style = "width:100%;display:none;" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].gst_sts)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.UpdateMaster[i].tds_sts, new { @style = "width:100%;display:none;" })
                        @Html.ValidationMessageFor(a => a.UpdateMaster[i].tds_sts)
                    </td>

                </tr>
                    }
                }
             <!--End Master User-->

                <!--Dealer User Update-->
                @if (Model.Dealeruser != null)
                {
                    for (int i = 0; i < Model.UpdateDealer.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.UpdateDealer[i].idno)

                <td>
                    <p>All</p>
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].verify_comm)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].comm_1000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm_1000)

                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].comm_2000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm_2000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].comm_3000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm_3000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].comm_4000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm_4000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].comm_5000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm_5000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].gst_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].gst_sts)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateDealer[i].tds_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateDealer[i].tds_sts)
                </td>

            </tr>
                    }
                }
                <!--End Dealer User-->


                <!--Retailer User Update-->
                @if (Model.Retaileruser != null)
                {
                    for (int i = 0; i < Model.UpdateRetailer.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.UpdateRetailer[i].idno)

                <td>
                    <p>All</p>
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].verify_comm)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].comm_1000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm_1000)

                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].comm_2000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm_2000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].comm_3000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm_3000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].comm_4000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm_4000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].comm_5000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm_5000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].gst_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].gst_sts)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateRetailer[i].tds_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateRetailer[i].tds_sts)
                </td>

            </tr>
                    }
                }
                <!--End Retailer User-->

                <!--API User Update-->
                @if (Model.APIuser != null)
                {
                    for (int i = 0; i < Model.UpdateAPI.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.UpdateAPI[i].idno)

                <td>
                    <p>All</p>
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].verify_comm)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].comm_1000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm_1000)

                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].comm_2000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm_2000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].comm_3000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm_3000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].comm_4000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm_4000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].comm_5000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm_5000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].gst_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].gst_sts)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateAPI[i].tds_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateAPI[i].tds_sts)
                </td>

            </tr>
                    }
                }
                <!--End API User-->


                <!--Whitelabel User Update-->
                @if (Model.Whitelabeluser != null)
                {
                    for (int i = 0; i < Model.UpdateWhitelabel.Count; i++)
                    {
            <tr>
                @Html.HiddenFor(a => a.UpdateWhitelabel[i].idno)

                <td>
                    <p>All</p>
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].verify_comm)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm_1000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm_1000)

                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm_2000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm_2000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm_3000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm_3000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm_4000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm_4000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm_5000, new { @style = "width:100%" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm_5000)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].gst_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].gst_sts)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.UpdateWhitelabel[i].tds_sts, new { @style = "width:100%;display:none;" })
                    @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].tds_sts)
                </td>
            </tr>
                    }
                }
                <!--End API User-->
            </tbody>
        </table>

}


