@model Vastwebmulti.Areas.ADMIN.Models.Broadbandslab
@using (Html.BeginForm("_UpdateBroadbandSlab", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
{
    @Html.HiddenFor(m => m.role)
    <div class="row clearfix">
        <div class="col-md-2">
            <label for="email_address_2" style="padding-top:14px;padding-left:137px;"><i class="fa fa-users" style="font-size:25px; color:#607d8b ;"></i></label>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="margin-top:10px; margin-bottom:0px;">
                <div class="" style="border:1px solid #9E9E9E;">
                    @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                </div>
            </div>
        </div>
        @if (Model.RetailerId != null)
        {
            <div id="Retailerdropdow" style="display:block;">
                <div class="col-md-2">
                    <label for="email_address_2" style="padding-top:14px;padding-left:137px;"><i class="fa fa-users" style="font-size:25px; color:#607d8b ;"></i></label>
                </div>
                <div class="col-md-3">
                    <div class="form-group" style="margin-top:10px; margin-bottom:0px;">
                        <div class="" style="border:1px solid #9E9E9E;">

                            @Html.DropDownList("Retailerid", Model.RetailerId, "All Retailer", new { @class = "form-control", @onchange = "ddlRetailerIdChange()" })

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <table class="table table-bordered">
        <thead class="navbar" style="position:initial;color:white;">
            <tr>
                <th>User&nbsp;ID</th>
                <th>Operator&nbsp;Name</th>
                <th>Commission&nbsp;(%)</th>
                @*<th>Status</th>*@

            </tr>
        </thead>
        <tbody id="tbodyshow">
            <!--Master User-->
            @if (Model.Materuser != null)
            {
                for (int i = 0; i < Model.Materuser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Master-->
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.Dealeruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Dealer-->
            <!--Retailer User-->
            @if (Model.Retaileruser != null)
            {
                for (int i = 0; i < Model.Retaileruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Retailer-->
            <!--API User-->
            @if (Model.APIuser != null)
            {
                for (int i = 0; i < Model.APIuser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.APIuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.APIuser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.APIuser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End API-->
            <!--Whitelabel User-->
            @if (Model.Whitelabeluser != null)
            {
                for (int i = 0; i < Model.Whitelabeluser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].comm)

                        </td>

                    </tr>

                }
            }
            <!--End Whitelabel-->

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            <!--Master User-->
            @if (Model.Materuser != null)
                {
                    for (int i = 0; i < Model.Materuser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Materuser[i].RolesName)
                        @Html.HiddenFor(a => a.Materuser[i].idno)
                        @Html.HiddenFor(a => a.Materuser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Materuser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Materuser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Materuser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Master-->
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
                {
                    for (int i = 0; i < Model.Dealeruser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Dealeruser[i].RolesName)
                        @Html.HiddenFor(a => a.Dealeruser[i].idno)
                        @Html.HiddenFor(a => a.Dealeruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Dealeruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Dealeruser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Dealer-->
            <!--Retailer User-->
            @if (Model.Retaileruser != null)
                {
                    for (int i = 0; i < Model.Retaileruser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Retaileruser[i].RolesName)
                        @Html.HiddenFor(a => a.Retaileruser[i].idno)
                        @Html.HiddenFor(a => a.Retaileruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Retaileruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Retaileruser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Retailer-->
            <!--API User-->
            @if (Model.APIuser != null)
                {
                    for (int i = 0; i < Model.APIuser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.APIuser[i].RolesName)
                        @Html.HiddenFor(a => a.APIuser[i].idno)
                        @Html.HiddenFor(a => a.APIuser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.APIuser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.APIuser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.APIuser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.APIuser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Api-->
            <!--Whitelabel User-->
            @if (Model.Whitelabeluser != null)
                {
                    for (int i = 0; i < Model.Whitelabeluser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Whitelabeluser[i].RolesName)
                        @Html.HiddenFor(a => a.Whitelabeluser[i].idno)
                        @Html.HiddenFor(a => a.Whitelabeluser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Whitelabeluser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Whitelabeluser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Whitelabeluser[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Whitelabel-->

        </tbody>
        <tbody id="tbodyeditAll" style="display:none;">
            <!--Master User Update-->
            @if (Model.Materuser != null)
            {
                for (int i = 0; i < Model.UpdateMaster.Count; i++)
                {

                    <tr>
                        @Html.HiddenFor(a => a.UpdateMaster[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateMaster[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateMaster[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateMaster[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateMaster[i].comm)
                        </td>


                    </tr>
                }
            }
            <!--End Master User-->
            <!--Dealer User Update-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.UpdateDealer.Count; i++)
                {
                    var endID = Model.UpdateDealer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateDealer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateDealer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateDealer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateDealer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End Dealer User-->
            <!--Retailer User Update-->
            @if (Model.UpdateRetailer != null)
            {
                for (int i = 0; i < Model.UpdateRetailer.Count; i++)
                {
                    var endID = Model.UpdateRetailer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateRetailer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateRetailer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateRetailer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End Retailer User-->
            <!--API User Update-->
            @if (Model.APIuser != null)
            {
                for (int i = 0; i < Model.UpdateAPI.Count; i++)
                {
                    var endID = Model.UpdateAPI[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateAPI[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateAPI[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateAPI[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateAPI[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateAPI[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End api User-->
            <!--WHITELABEL User Update-->
            @if (Model.Whitelabeluser != null)
            {
                for (int i = 0; i < Model.UpdateWhitelabel.Count; i++)
                {
                    var endID = Model.UpdateWhitelabel[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateWhitelabel[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateWhitelabel[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateWhitelabel[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateWhitelabel[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateWhitelabel[i].comm)
                        </td>
                    </tr>
                }
            }
            <!--End api User-->

        </tbody>
    </table>

}

