@model List<Vastwebmulti.Models.Slab_IndoNepal>
@using (Html.BeginForm("Update_IndoNepalSlab", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
{
    @Html.Hidden("role")
    <div class="row clearfix">
        <div class="col-md-2">
            <label for="email_address_2" style="padding-top:14px;padding-left:137px;"><i class="fa fa-users" style="font-size:25px; color:#607d8b ;"></i></label>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="margin-top:10px; margin-bottom:0px;">
                <div class="" style="border:1px solid #9E9E9E;">
                    @Html.DropDownList("ddlUserId", new SelectList(Model.Where(a=>a.UserId!="Default").Select(a=> new { a.UserId,a.Email}).Distinct(),"UserId","Email"), "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="navbar" style="position:initial;color:white;">
            <tr>
                <th>User&nbsp;Type</th>
                <th>Min&nbsp;Value&nbsp;(₹)</th>
                <th>Max&nbsp;Value&nbsp;(₹)</th>
                <th>Charge</th>
                <th>Margin</th>
                @*<th>Gst</th>*@
            </tr>
        </thead>
        <tbody id="tbodyshow">
            <!--Master User-->
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    if (Model[i].UserId != "Default")
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].min)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].max)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].charge)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].margin)

                        </td>
                        @*<td>
                                @Html.DisplayFor(a => a.Materuser[i].gst)

                            </td>*@
                    </tr>
                    }
                }
            }
            <!--End Master-->
       </tbody>
        <tbody id="tbodyedit" style="display:none;">
            <!-- User-->
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    if (Model[i].UserId != "Default")
                    {
                    <tr>
                        @Html.HiddenFor(a => a[i].Role)
                        @Html.HiddenFor(a => a[i].idno)
                        @Html.HiddenFor(a => a[i].Email)
                        @Html.HiddenFor(a => a[i].UserId)
                        <td>
                            @Html.DisplayFor(a => a[i].Email)
                        </td>
                        <td>
                            @Html.EditorFor(a => a[i].min, new { htmlAttributes = new { @style = "width:100%", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(a => a[i].min)
                        </td>
                        <td>
                            @Html.EditorFor(a => a[i].max, new { htmlAttributes = new { @style = "width:100%", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(a => a[i].max)
                        </td>
                        <td>
                            @Html.EditorFor(a => a[i].charge, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a[i].charge)
                        </td>
                        <td>
                            @Html.EditorFor(a => a[i].margin, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a[i].margin)
                        </td>
                        @*<td>
                            @Html.EditorFor(a => a.Materuser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Materuser[i].gst)
                        </td>*@
                    </tr>
                    }
                }
            }
            <!--End User-->
        </tbody>
        <tbody id="tbodyeditAll" style="display:none;">
         @if (Model != null)
         {
             for (int i = 0; i < Model.Count; i++)
             {
                 if (Model[i].UserId == "Default")
                 {
                <tr>
                    @Html.HiddenFor(a => a[i].idno)
                    @Html.HiddenFor(a => a[i].min)
                    @Html.HiddenFor(a => a[i].max)
                    @Html.HiddenFor(a => a[i].UserId)

                    <td>
                        <p>All</p>
                    </td>
                    <td>
                        @Html.DisplayFor(a => a[i].min)
                    </td>
                    <td>
                        @Html.DisplayFor(a => a[i].max)

                    </td>
                    <td>
                        @Html.TextBoxFor(a => a[i].charge, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a[i].charge)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a[i].margin, new { @style = "width:100%" })
                        @Html.ValidationMessageFor(a => a[i].margin)
                    </td>

                    @*<td>
                            @Html.TextBoxFor(a => a.UpdateMaster[i].gst, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateMaster[i].gst)
                        </td>*@

                </tr>
                 }
             }
         }
        </tbody>
</table>

}


