@model Vastwebmulti.Areas.ADMIN.ViewModel.OperatorIndexViewModel

<table class="table table-bordered example-second exampletable-second third-design-table" style="width:100%;">
    <thead>
        <tr>
            <th>Operator&nbsp;Name</th>
            <th>Opt&nbsp;Type</th>
            <th>O/C</th>
            <th>Blocked&nbsp;Date&nbsp;&&nbsp;times</th>
            <th>Del OPT</th>
            <th>Status</th>
            <th><img src="~/AdminDesign/images/amount.svg" style="width:13px;margin-top: -3px;" />&nbsp;AMT</th>
            <th class="white-space-third"><img src="~/AdminDesign/images/exchange-arrows.svg" style="width:12px;" />&nbsp;CC</th>
            <th> <img src="~/AdminDesign/images/cogwheel.svg" style="width:18px;transform: rotate(13deg);" /></th>
        </tr>
    </thead>
    @*<tr>
        <td>Connect Broadband</td>
        <td>CBB</td>
        <td>Time</td>
        <td class="pre-td-btn">
            <button class="btn" type="button">Click To Block</button>
        </td>
        <td class="limit-tdb">
            <button type="button" class="btn" data-toggle="modal" data-target="#defaultModal2">
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:3px;font-size:14px;top:1px;"></i>Edit
            </button>
        </td>
        <td class="amount-td">
            <button type="button" class="btn" data-toggle="modal" data-target="#defaultModal33">
                <img src="~/img/block.svg" style="width:13px;margin-top:-1px;" />
                Amount
            </button>
        </td>
        <td class="lcode-button">
            <button class="btn" type="button" data-toggle="modal" data-target="#defaultModal12"><i class="fa fa-random" aria-hidden="true" style="margin-right:3px;top:2px;font-size:15px;float:left;"></i>Code</button>
        </td>
    </tr>*@

    <tbody>
        
        @if (Model.Utilitylist != null)
        {

            foreach (var item in Model.Utilitylist)
            {
        <tr>

            <td>
                @item.operator_Name
            </td>

            <td>
                @item.Operator_type
            </td>

            <td>
                @item.new_opt_code
            </td>
            <td>
                @item.blocktime
            </td>
            <td>
                <button class="fullbodydycolorbg second-button" style="padding: 0px 10px; border: 1px solid #bfbebe;color: #999;display:none;" onclick="DeleteOPTCodePostpaid('@item.Operator_id','@item.operator_Name')">Sure ?</button>
                <button class="first-botton deletebuttoback-second" style="padding: 0px 10px; background: #f0f0f0;border: 1px solid #bfbebe;color: #999;">Delete</button>
            </td>
            @*<td>
            <button style="padding: 0px 10px; background: #f0f0f0;border: 1px solid #bfbebe;color: #999;" onclick="DeleteOPTCodePostpaid('@item.Operator_id','@item.operator_Name')">Delete</button>
        </td>*@
            <td>
                <div class="onoffswitch onoffswitch-secondclass">
                    @if (item.status == "Y")
                    {
                        <span class="costom-on custom-on-secondbutton" onclick=OperatorCodestatusupdate('@item.Operator_id','Y','Postpaid')>on</span>

                    }
                    else if (item.status == "N")
                    {
                        <span class="custom-off custom-off-secondbutton" onclick=OperatorCodestatusupdate('@item.Operator_id','N','Postpaid')>off</span>

                    }
                </div>

            </td>

            <td class="amount-td">
                <button type="button" onclick="EditAmountBlock('@item.operator_Name','Postpaid')" class="btn switch-edit-button deletebuttoback-second" data-toggle="modal" data-target="#defaultModal33" style="width:auto !important;height:25px;">

                    Amount
                </button>
            </td>
            <td class="lcode-button">
                <button type="button" class="btn switch-edit-button deletebuttoback-second" data-toggle="modal" onclick="EditOperatorCODE('@item.Operator_id','@item.new_opt_code','@item.operator_Name','Postpaid')" data-target="#defaultModal12" style="height:25px; width:auto !important;">
                    Code
                </button>
            </td>
            <td class="limit-tdb">
                <button type="button" class="btn switch-edit-button deletebuttoback-second" onclick="EditOperator('@item.Operator_id','@item.operator_Name','@item.new_opt_code','@item.resendcount','@item.resendtime','@item.nillcount','@item.nillblocktime','@item.dublicatetime','@item.minimum','@item.maximum','Postpaid')" data-toggle="modal" data-target="#defaultModal2">
                    Edit
                </button>
            </td>

        </tr>
            }
        }
    </tbody>
</table>


<script>
    
        $('.second-design .example-second').DataTable({


            paging: false
        });
   

</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>