@model Vastwebmulti.Areas.ADMIN.Models.BlockUserViewModel

 

@{ var i = 1;}

@foreach (var item in Model.WLoginHistory)
{
    var srs = "";
    if(item.LoginFrom=="Web")
    {
        @*srs = "../../AdminDesign/images/desktop-l.svg";*@
    srs = "WEB";

}
else
{
         @*srs = "../../AdminDesign/images/android-l.svg";*@
    srs = "APP";
}
    <tr role="row" class="odd">
        <td>@i</td>
        @*<td><span style="float:left;"><img src="@srs" style="width:40px;" /></span></td>*@
        <td><span style="float:left;background: #bbb; padding: 0 3px;">@srs</span></td>
        <td>
            <p>
                <span style="float: left;"><span style="display:block;">@item.Role</span><span>@item.firmname</span></span>
            </p>

        </td>

        <td>
            <p>@item.ImeiNo</p>
            <p>@item.ModelNo</p>
            <p>@item.IP_Address</p>
            <p>@item.browser</p>
        </td>
        <td>
            <p>@item.Latitude</p>
            <p>@item.Logitude</p>
        </td>


        <td>
            <p style="font-weight:800;">@item.CurrentLoginTime</p>

            <p><span style="font-size:13px;background:#bbb;margin-right:4px;padding: 0px 2px;"> @item.City</span>@item.Location</p>
        </td>
    </tr>
    i++;
}





