@using Vastwebmulti.Models;
@{
    ViewBag.Title = "printGst_Verify_transfer";
    Layout = null;
}
@{
    var logoimage = "";
    var com = "";
    VastwebmultiEntities db = new VastwebmultiEntities();
    var logo = db.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        logoimage = logo.SingleOrDefault().LogoImage;
    }
    else
    {
        logoimage = "";
    }
    var websiteurl = db.Admin_details.SingleOrDefault().WebsiteUrl;
    var companyname = db.tblContects.ToList();
    if (companyname.Count > 0)
    {
        com = companyname.SingleOrDefault().CompnayName;
    }
    else
    {
        com = "";
    }

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@com</title>
    <link href="~/AdminDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="border:1px solid darkgray; background-color:darkgray;">
            <h4><p style="text-align:center; font-size:25px; font-weight:700; color:white;">TAX INVOICE</p></h4>
        </div>
     
        <br />
        <div class="row" style="border:1px solid black;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="@Url.Content("~/" +logoimage)" class="img-responsive"  height="150" width="150" style="margin-top:10px;" data-holder-rendered="true" />
                                 </div>
                    <div class="col-xs-6" style="border-right:1px solid">
                        <p style="padding-top:5px;text-align:left; font-weight:700">Company : @ViewBag.cmpyname</p>
                       <p style="text-align:left;margin-top:3px;">Address : <span style="font-size:11px;">@ViewBag.adminaddress</span></p>
                        <p style="text-align:left;margin-top:3px;">GSTIN:   @ViewBag.admingst</p>
                        <p style="text-align:left; margin-top:3px;margin-bottom:20px;">Pan No:  @ViewBag.adminpan</p>
                  
                    </div>
                    <div class="col-xs-4">
                        <p style="text-align:left;" >Invoice Date  </p>
                        <p style="text-align:left; font-size:16px; font-weight:700; margin-top:-10px;">@ViewBag.last</p>
                        <p style="text-align:left;margin-top:-10px;">Invoice Number  </p>
                        <p style="text-align:left; font-size:16px; font-weight:700; margin-top:-10px;"></p>
                        <p style="text-align:left;margin-top:-10px;">Invoice Month  </p>
                        <p style="text-align:left; font-size:15px; margin-top:-10px;">@ViewBag.month</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border:1px solid black;">

                    <div class="col-xs-12">
                        <p style="padding-top:5px; text-align:left; font-weight:700;">Buyer</p>
                        <p style="padding-top:5px; text-align:left; font-weight:700;">@ViewBag.firmname</p>
                        <p style="text-align:left; margin-top:-10px;">@ViewBag.address</p>
                        <p style="text-align:left;margin-top:-10px;">Pan No: @ViewBag.pancard</p>
                        <p style="text-align:left;margin-top:-10px;">GSTIN: @ViewBag.customergst</p>
                        <p style="text-align:left;margin-top:-10px;">State Name: @ViewBag.statename</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="border-bottom:1px solid black;border-right:1px solid black;border-left:1px solid black;">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th rowspan="2">Sr No.</th>
                                <th rowspan="2">Description</th>
                                <th rowspan="2">HSN/SAC</th>
                                <th rowspan="2">Taxable Value</th>
                                <th colspan="2">CGST</th>
                                <th colspan="2">SGST</th>
                                <th colspan="2">IGST</th>
                                <th rowspan="2">Total</th>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <th>%</th>
                                <th>Amount</th>
                                <th>%</th>
                                <th>Amount</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">1.</td>
                                <td rowspan="2">Account Transfer Verification</td>
                                <td rowspan="2">9971</td>
                                <td rowspan="2">@ViewBag.dmtverifycomm</td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td colspan="2" style="border: 1px solid white;"></td>
                                <td rowspan="2">@ViewBag.dmtverifytotal</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.dmtverifycgst</td>
                                <td>@ViewBag.cgst</td>
                                <td>@ViewBag.dmtverifysgst</td>
                                <td>@ViewBag.sgst</td>
                                <td>@ViewBag.dmtverifyigst</td>
                                <td>@ViewBag.igst</td>
                            </tr>
                                                        
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td>@ViewBag.totalcomm</td>
                                <td>@ViewBag.totalcgst</td>
                                <td></td>
                                <td>@ViewBag.totalsgst</td>
                                <td></td>
                                <td>@ViewBag.totaligst</td>
                                <td></td>
                                <td>@ViewBag.final</td>
                            </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Taxable Amount</td>
                                <td>@ViewBag.totalcomm</td>
                            </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Total Tax</td>
                                <td>@ViewBag.finalgst</td>
                            </tr>
                            <tr>
                                <td colspan="10" style="text-align:right; padding-right:20px;">Total Amount</td>
                                <td>@ViewBag.final</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:18px;">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">Total Amount (in Words)</p>
                    </div>
                    <div class="col-xs-12">
                        <p style="padding-top:5px;font-weight:700;">@ViewBag.finalword</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-xs-8">
                        <p>Terms & Conditions:</p>
                        <p>1. Goods once sold will not be taken back</p>
                        <p>2. Computer Generated Invoice does not requires signature.</p>
                        <p>
                            3. We declare that this invoices hows the actual price of the goods described and that all particulars true and correct.
                        </p>
                    
                    </div>
                    <div class="col-xs-4">
                        <p style="padding-top:5px;font-weight:700;">For @ViewBag.cmpyname</p>
                        <p style="padding-top:10px;font-weight:700;">Authorised Signatory</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




