@model IEnumerable<Vastwebmulti.Models.GST_Monthly_Retailer_verify_Result>
@{
    ViewBag.Title = "Gst_Invocing_Retailer_report";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card">
                    <div class="">
                        <div class="col-md-7">
                            <div style="margin-left:-13px;">
                                @Html.Partial("_Gstinvocingmenu")
                            </div>
                        </div>
                        @using (Html.BeginForm("Account_verify_Gst_Invocing_report", "Home", FormMethod.Post))
                        {


                            <div class="col-md-2">
                                <div class="form-line" style="margin-top:6px;border:1px solid #dddddd;margin-left:-13px;width:108%;padding-bottom:10px;">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { @style = "margin-top:0px;height:32px;", @class = "selectpicker form-control", data_live_search = "true", })
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn  waves-effect" style="float:right; margin-top:6px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-search" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Search</span>
                                </button>
                            </div>

                        }
                        <div class="col-md-2">
                            <p style="font-size:20px;margin-top:5px;font-weight:700;color:#55555a;">Month&nbsp;:-&nbsp;@ViewBag.OldMonth</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">RETAILER'S ACCOUNT VERIFY GST INVOCING REPORT&nbsp;></li>
                        </ol>

                    </div>
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-50px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Email&nbsp;ID</th>
                                        <th>Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Account&nbsp;Transfer&nbsp;Verify&nbsp;Comm</th>
                                        <th>Account&nbsp;Transfer&nbsp;Verify&nbsp;Gst</th>
                                        <th>Print</th>
                                                                          
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td><p style="font-size:12px;">@item.Email</p></td>
                                            <td><p style="font-size:12px;">@item.RetailerName</p></td>
                                            <td><p style="font-size:12px;">@item.Frm_Name</p></td>
                                            <td><p style="font-size:12px;">@item.rem_comm</p></td>
                                            <td><p style="font-size:12px;">@String.Format("{0:0.0#}", item.rem_gst)</p></td>                                 
                                            <td><a href="@Url.Action("Account_Verify_Gst_Pdf","Home",new {id=item.apiid })" style="font-size:14px;color:blue;font-weight:500;" target="_blank">Print</a></td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />




