@model IEnumerable<Vastwebmulti.Models.admin_income_Result>
@{
    ViewBag.Title = "Admin_Income";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */
    .margin-allnone-admin {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input-daterange input {
        width: 125px !important;
        text-align: end;
    }

    .responcive-fifty-date {
        width: auto !important;
    }

    .res_div {
        width: 50% !important;
        float: left;
    }

    /* new css  */

    .datepicker-dropdown.datepicker {
        margin-top: 75px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 32px !important;
    }

    .table-bordered thead tr th {
        padding: 5px;
    }

    .table-bordered tbody tr td p {
        margin: 0px;
    }

    .adminincome-admin .page-header-third .col-md-5 {
        width: auto;
        float: left;
    }

    .adminincome-admin .col-md-7.admin-income-page {
        width: auto;
        float: right;
    }

    .adminincome-admin .admin-income-page .col-md-2.responcive-fifty, .adminincome-admin .admin-income-page .responcive-fifty-three {
        float: left;
        width: 16%;
    }

        .adminincome-admin .admin-income-page .col-md-2.responcive-fifty.responcive-fifty-search {
            padding-right: 0;
            width: 11%;
        }

    .col-md-3.responcive-fifty.responcive-fifty-date {
        width: 20%;
        padding-left: 0 !important;
    }

    .responcive-fifty {
        padding-right: 5px !important;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px) {
        .responcive-fifty {
            width: 50%;
            float: left;
            padding: 0 2px !important;
        }

            .responcive-fifty button {
                width: 100%;
                text-align: left;
            }


            .responcive-fifty div {
                padding-bottom: 0px !important;
            }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {

        .input-daterange input {
            width: 100% !important;
            text-align: end;
        }

        .adminincome-admin .admin-income-page .col-md-2.responcive-fifty, .adminincome-admin .admin-income-page .responcive-fifty-three {
            width: 50%;
            float: left;
            margin-bottom: 3px;
        }

        .adminincome-admin .col-md-7.admin-income-page {
            width: 100%;
            float: left;
            margin: 0;
            padding: 0 15px;
        }

            .adminincome-admin .col-md-7.admin-income-page .row {
                margin: 0;
            }

        .adminincome-admin .admin-income-page .col-md-2.responcive-fifty.responcive-fifty-search {
            padding-right: 0;
            width: auto;
        }

        .adminincome-admin table {
            border-left: 1px solid var(--border-color) !important;
        }

        .col-md-3.responcive-fifty.responcive-fifty-date {
            width: 50% !important;
            float: left !important;
            margin-bottom: 3px;
            padding: 0 2px !important;
        }

        .newfourdesign-admin .col-md-7.admin-income-page.all-type-third {
            padding: 0;
        }
    }



    @@media only screen and (max-width:520px) {
        .admin-income-page .col-md-3, .admin-income-page .col-md-2 {
            width: 100% !important;
        }

            .admin-income-page .col-md-2 > div {
                padding-bottom: 0px !important;
            }

        .res_div {
            width: 100% !important;
            padding: 3px 0 !important;
        }

        .margin-allnone-admin {
            display: block;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }
    }
</style>
<section class="content fourdesign-section-admin">
    <div class="container-fluid adminincome-admin">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Business By Port/API</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Business By Port/API</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="card" style="margin-bottom:15px;">
            <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third margin-allnone-admin">
                <div class="col-md-5 four-noneclass-admin-only res_div" style="padding: 0;">

                    <div class="bread-same-all-page breadsameall-second">
                        <ul>
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Business BY Port/API
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="res_div">
                    <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: right;">
                        <input type="button" id="btnExport" value="Export" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                        <input type="button" id="btnPDF" value="PDF" style="margin-left:3px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

                    </div>
                </div>



            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">

                    <div style="width:100%;float:left;">
                        <div class="admin-income-page all-type-third">
                            @using (Html.BeginForm("Admin_income", "Home", FormMethod.Post))
                            {



                                <div class="col-md-2 responcive-fifty" style="padding:0px;">
                                    <div class="padding-bottomo-third" style="">
                                        <select class="selectpicker form-control" id="ddl_type" name="ddl_type" style="margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" onchange="searchoption()">
                                            <option value="All">&nbsp;All Category</option>
                                            <option value="MACHINE">MACHINE</option>
                                            <option value="API">API</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fifty" style="padding:0px;padding-left:5px;display:none;" id="apiname">
                                    <div class="">
                                        @Html.DropDownList("apinm", ViewBag.apinm as SelectList, "Selct API", new { id = "apinm", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;" })
                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fifty" style="display:none;padding:0px;padding-left:5px;" id="portnoo">
                                    <div class="">
                                        @Html.DropDownList("portno", ViewBag.portno as SelectList, "Port", new { id = "portno", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                    </div>
                                </div>
                                <div class="col-md-3 responcive-fifty responcive-fifty-three" style="padding:0px;">
                                    <div class="">
                                        @Html.DropDownList("optnm", ViewBag.optnm as SelectList, "Operator", new { id = "optnm", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;" })

                                    </div>
                                </div>
                                <div class="col-md-3 responcive-fifty responcive-fifty-date" style="padding:0px 5px;">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; ", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-3 responcive-fifty responcive-fifty-date" style="padding:0px 5px;">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; ", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>


                                <div class="col-md-2 responcive-fifty responcive-fifty-search" style="padding-left:0px;">

                                    <button type="submit" class="btn  waves-effect input-back-second" style="width:100%;  height:32px;border:1px solid #bbb;background:transparent;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>&nbsp;<span>Search</span>
                                    </button>

                                </div>




                            }
                        </div>

                    </div>

                    <div style="float: left; width: 100%; margin-top: 5px;">

                        <div class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped third-design-table">
                                <thead style="color:black;position:inherit;background-color:whitesmoke;">
                                    <tr>
                                        <th rowspan="2">Port/API&nbsp;Info</th>
                                        <th rowspan="2">Users</th>
                                        <th rowspan="2">Operator&nbsp;Name</th>
                                        <th colspan="2">Purchase</th>
                                        <th colspan="2">Retailer's</th>


                                        <th colspan="2">Distributor's</th>
                                        <th colspan="2">M/D&nbsp;User's</th>
                                        <th colspan="2">Api&nbsp;User's</th>
                                        <th colspan="2">Whitelabel's</th>


                                        <th colspan="1">Admin</th>
                                        <th colspan="1">Total&nbsp;Success</th>

                                    </tr>
                                    <tr>
                                        <th><span style="background: #05c420;color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Rate</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Commission</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Commission</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Commission</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Commission</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Commission</span></th>
                                        <th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>
                                        <th><span style="background: var(--main-bg-lcolor);color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Income</span></th>
                                        @*<th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>*@
                                        <th><span style="background: #05c420;color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Success + Pending</span></th>
                                        @*<th><span style="background: #dfd20a;color: #fff;padding: 0px 10px;font-size: 10px;line-height: 10px;">Pending</span></th>*@
                                        @*<th><span style="background: #a4a0a0;color: #fff;padding: 0px 10px;font-size: 10px;">%</span></th>*@

                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        decimal? totalcountinc = 0;
                                        decimal? retailertotalinc = 0;
                                        decimal? dlmtotalinc = 0;
                                        decimal? mdtotalinc = 0;
                                        decimal? apitotalinc = 0;
                                        decimal? wltotalinc = 0;
                                        decimal? admintotalinc = 0;
                                        decimal? totalpurcahse = 0;
                                    }
                                    <tr>
                                        <td colspan="3"><p style="font-size:15px;">Total</p></td>
                                        <td colspan="2">@Model.Sum(a => a.purchase)</td>

                                        <td colspan="2">
                                            @Model.Where(a => a.UserRole == "Retailer" || a.UserRole == "API User").Sum(a => a.remincome)
                                        </td>
                                        <td colspan="2">
                                            @Model.Where(a => a.UserRole == "Retailer" || a.UserRole == "API User").Sum(a => a.dlmincome)
                                        </td>

                                        <td colspan="2">@Model.Sum(a => a.masterincome)</td>
                                        <td colspan="2">@Model.Sum(a => a.apiincome)</td>
                                        <td colspan="2">@Model.Sum(a => a.whitelabelincome)</td>

                                        <td colspan="1">
                                            @*<p>@admintotalinc</p>*@
                                            @Model.Sum(a => a.admin_income)
                                        </td>
                                        <td colspan="1">@Model.Sum(a => a.total)</td>

                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        var color = "#";
                                        var backcolor = "";


                                        if (item.admin_income < 0)
                                        {
                                            color = "white";
                                            backcolor = "red";
                                        }
                                        totalpurcahse = Convert.ToDecimal(Model.Sum(a => a.purchase));
                                        if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                        {
                                            retailertotalinc = retailertotalinc + item.remincome;
                                            dlmtotalinc = dlmtotalinc + item.dlmincome; ;
                                            mdtotalinc = mdtotalinc + item.masterincome;
                                            apitotalinc = apitotalinc + item.apiincome;
                                            wltotalinc = wltotalinc + 0;
                                            totalcountinc = (apitotalinc + wltotalinc + retailertotalinc + dlmtotalinc + mdtotalinc);
                                            admintotalinc = totalpurcahse - totalcountinc;
                                        }
                                        if (item.UserRole == "Whitelabel")
                                        {
                                            retailertotalinc = retailertotalinc + 0;
                                            dlmtotalinc = dlmtotalinc + 0;
                                            mdtotalinc = mdtotalinc + 0;
                                            apitotalinc = apitotalinc + 0;
                                            wltotalinc = wltotalinc + item.whitelabelincome;
                                            totalcountinc = (apitotalinc + wltotalinc + retailertotalinc + dlmtotalinc + mdtotalinc);
                                            admintotalinc = totalpurcahse - totalcountinc;
                                        }
                                        decimal purper = 0; decimal remper = 0; decimal dlmper = 0;
                                        decimal mdper = 0; decimal apiper = 0; decimal whiteper = 0;
                                        if (item.total != 0)
                                        {
                                            decimal pur = Convert.ToDecimal(item.purchase);
                                            decimal rem = Convert.ToDecimal(item.remincome);
                                            decimal dlm = Convert.ToDecimal(item.dlmincome);
                                            decimal md = Convert.ToDecimal(item.masterincome);
                                            decimal api = Convert.ToDecimal(item.apiincome);
                                            decimal white = Convert.ToDecimal(item.whitelabelincome);
                                            decimal to = Convert.ToDecimal(item.total);
                                            decimal dif = Convert.ToDecimal("100");
                                            purper = (pur * dif) / to;
                                            remper = (rem * dif) / to;
                                            dlmper = (dlm * dif) / to;
                                            mdper = (md * dif) / to;
                                            apiper = (api * dif) / to;
                                            whiteper = (white * dif) / to;
                                        }
                                        <tr>
                                            <td style="background-color:@backcolor; color:@color;"><p style="font-size:13px;">@item.type</p></td>
                                            <td style="background-color:@backcolor; color:@color;"><p style="font-size:13px;">@item.UserRole</p></td>


                                            <td style="background-color:@backcolor; color:@color;"><p style="font-size:13px;">@item.optnm</p> </td>
                                            <td style="background-color:@backcolor; color:@color;">@Html.DisplayFor(modelItem => item.purchase)</td>
                                            <td>@purper.ToString("0.##") </td>
                                            <td style="background-color:@backcolor; color:@color;">
                                                @if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                                {
                                                    <p>@Html.DisplayFor(modelItem => item.remincome)</p>
                                                }
                                                else
                                                {

                                                    <p>0.00</p>
                                                }

                                            </td>
                                            <td>@remper.ToString("0.##") </td>


                                            <td style="background-color:@backcolor; color:@color;">
                                                @if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                                {

                                                    <p>@Html.DisplayFor(modelItem => item.dlmincome)</p>
                                                }
                                                else
                                                {
                                                    <p>0.00</p>

                                                }

                                            </td>
                                            <td>@dlmper.ToString("0.##")  </td>
                                            <td style="background-color:@backcolor; color:@color;">
                                                @if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                                {

                                                    <p>@Html.DisplayFor(modelItem => item.masterincome)</p>
                                                }
                                                else
                                                {
                                                    <p>0.00</p>

                                                }

                                            </td>
                                            <td>@mdper.ToString("0.##") </td>
                                            <td style="background-color:@backcolor; color:@color;">
                                                @if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                                {

                                                    <p>@Html.DisplayFor(modelItem => item.apiincome)</p>
                                                }
                                                else
                                                {

                                                    <p>0.00</p>

                                                }

                                            </td>
                                            <td>@apiper.ToString("0.##") </td>
                                            <td style="background-color:@backcolor; color:@color;"><p>@item.whitelabelincome</p></td>
                                            <td>@whiteper.ToString("0.##") </td>
                                            <td style="background-color:@backcolor; color:@color;">
                                                @if (item.UserRole == "Retailer" || item.UserRole == "API User")
                                                {
                                                    <p>@Html.DisplayFor(modelItem => item.admin_income)</p>
                                                }
                                                else
                                                {
                                                    decimal purchas = 0;
                                                    decimal whitelabelinc = 0;
                                                    decimal admininc = 0;

                                                    purchas = Convert.ToDecimal(item.purchase);
                                                    whitelabelinc = Convert.ToDecimal(item.whitelabelincome);
                                                    admininc = purchas - whitelabelinc;
                                                    <p>@admininc</p>
                                                }

                                            </td>

                                            <td style="background-color:@backcolor; color:@color;">@Html.DisplayFor(modelItem => item.total)</td>


                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script>
    $('select').select2();
</script>
<script>

    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>
<script type="text/javascript">
    function searchoption() {
        var x = document.getElementById("ddl_type").value;
        if (x == "All") {
            $('#apinm option').eq(0).prop('selected', true);
            $('#portno option').eq(0).prop('selected', true);
            $("#portnoo").css("display", "none");
            $("#apiname").css("display", "none");
        }
        else if (x == "MACHINE") {
            $('#apinm option').eq(0).prop('selected', true);
            $('#portno option').eq(0).prop('selected', true);
            $("#portnoo").css("display", "inline-block");
            $("#apiname").css("display", "none");
        }
        else if (x == "API") {
            $('#apinm option').eq(0).prop('selected', true);
            $('#portno option').eq(0).prop('selected', true);
            $("#portnoo").css("display", "none");
            $("#apiname").css("display", "inline-block");
        }
    }
    $(function () {
        var x = document.getElementById("ddl_type").value;
        if (x == "All") {
            $("#portnoo").css("display", "none");
            $("#apiname").css("display", "none");
        }
        else if (x == "MACHINE") {
            $("#portnoo").css("display", "inline-block");
            $("#apiname").css("display", "none");
        }
        else if (x == "API") {
            $("#portnoo").css("display", "none");
            $("#apiname").css("display", "inline-block");
        }
    });
</script>