@model List<Vastwebmulti.Models.Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "RetailerLedger";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>


    /* new css  */
    .up-to-up .card.page-header-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .responcive-fifty.spanpdfback-third.padding-right-third {
        width: auto;
        float: left;
    }

    .responcive-fifty.date-respon-third {
        width: auto !important;
        padding: 0;
        float: left;
    }

        .responcive-fifty.date-respon-third .row {
            margin: 0;
        }

    .col-md-5.responcive-fifty {
        width: 114px;
    }

    .fa.fa-sort-desc {
        top: 8px !important;
        right: 9px !important;
    }

    .admin-ledger-page-btn {
        width: 125px;
    }

    /* new css  */


    .input-daterange {
        width: auto !important;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }


    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
    }

    .form-iconmy {
        position: absolute;
        z-index: 99;
        top: 0px;
        bottom: 0px;
        padding: 6px 5px;
        border-right: 1px solid #bbb;
        height: 32px;
    }

    .data-show .col-md-3 span:first-child {
        width: 40%;
        float: left;
        color: #fff;
        text-align: center;
        padding: 3px 5px;
    }

    .data-show .col-md-3 span:last-child {
        width: 60%;
        float: left;
        text-align: right;
        background: var(--second-bg-color);
        padding: 3px 5px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px) {

        .admin-ledger-page-btn {
            margin: 0px 19px;
            float: left;
        }

        .res_t .responcive-fifty {
            width: 50% !important;
            float: left;
            margin: 0px !important;
            padding: 0 2px !important;
            margin-bottom: 10px !important;
        }

        .input-daterange {
            width: 50% !important;
        }

            .input-daterange input {
                width: 100% !important;
            }

        .responcive-fifty.padding-left-third {
            width: 105px;
            float: left;
        }

        .responcive-fifty button {
            width: 100%;
            text-align: left;
        }

        .admin-income-page {
            margin: 0 15px;
        }

        .responcive-fifty div {
            padding-bottom: 0px !important;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }



    @@media screen and (max-width:766px) {
        .date-respon-third {
            width: 50% !important;
        }

        .third-design .widthauto-search-thi {
            width: auto;
        }


        .adminledger-adminpage .row.admin-ledger-page {
            margin: 0;
        }

        .adminledger-adminpage .col-md-1.admin-ledger-page-btn.responcive-fifty {
            padding-right: 0 !important;
        }

        .adminledger-adminpage .col-md-2.responcive-fifty.spanpdfback-third {
            width: auto;
        }
    }

    @@media only screen and (max-width:520px) {
        .admin-ledger-page .col-md-2, .admin-ledger-page .col-md-1 {
            padding: 0px 15px !important;
            margin-top: 5px;
        }

        .admin-ledger-page .admin-ledger-page-btn {
            width: 50%;
            float: left;
        }

        .data-show .col-md-3 {
            padding: 0px 0px !important;
            margin-bottom: 4px;
            width: 100%;
            float: left;
        }

        .data-show {
            padding-top: 5px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-left: 1px solid var(--border-color);
        }

        .adminledger-adminpage .responcive-fifty {
            padding: 0px 3px !important;
        }
    }

    @@media only screen and (max-width:480px) {

        .up-to-up .card.page-header-third {
            display: block;
            width: 100%;
            float: left;
        }

        .res_div {
            width: 100%;
            float: left;
            margin-top: 4px;
        }

        .admin-ledger-page-btn {
            margin: 0px 0;
        }

        .res_t .responcive-fifty {
            width: 100% !important;
            margin-bottom: 6px !important;
        }

        .input-daterange {
            width: 100% !important;
            margin-top: 17px;
        }

            .input-daterange .input-group-addon {
                display: none;
            }

        .adminledger-adminpage .responcive-fifty {
            padding: 0px 0px !important;
        }

        .col-md-5.responcive-fifty {
            display: contents;
        }
    }

    #btncolor a {
        text-decoration: none;
        color: #fff !important;
    }
</style>

<section class="content fourdesign-section-admin">
    <div class="container-fluid adminledger-adminpage">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Ledger Book</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Ledger Book</a></li>

            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 up-to-up">
                <div class="card page-header-third" style="margin-bottom:10px;">

                    <div class="col-md-1 responcive-fifty padding-left-third" style="padding: 0;">
                        <div style="position:relative;margin-top:4px;">
                            <p style="margin: 0px;font-size: 20px;line-height: 14px;text-transform: uppercase;">Ledger</p>
                            <p class="fullbodydycolorbg fulltextbodycolor" style="margin: 0px;font-size: 8px;line-height: 9px;">Individual User Wise</p>
                            <i class="fa fa-caret-down" aria-hidden="true" style="transform: rotate(-90deg);position: absolute;top: -22px;left: 74px;font-size: 39px;line-height: 65px;color: var(--main-bg-lcolor);"></i>
                        </div>
                    </div>

                    <div class="res_div">


                        <div class="col-md-1 admin-ledger-page-btn responcive-fifty widthauto-search-thi" style="height: 32px;">
                            <button id="btncolor" style="font-size: 14px; height: 31px; border: 1px solid #c7c2c2; padding-left: 10px; padding-right: 10px; position: absolute; top: 0px; color: #000; background: var(--main-bg-lcolor);"> @Html.ActionLink("Pos Ledger", "AdminPOSLedgershow")</button>


                        </div>

                        <div class="col-md-2 responcive-fifty spanpdfback-third padding-right-third" style="float: right; padding: 0;">
                            <div class="rechargepdfexal pdfexport-span-second" style="float:right;">
                                <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                <span>
                                    <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                </span>
                            </div>
                        </div>

                    </div>



                </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third res_t">

                    <div>
                        <div>

                            @using (Html.BeginForm("AdminLedger", "Home", FormMethod.Post))
                            {
                                <div class="row admin-ledger-page margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third" style="margin: 0;">
                                    <div class="all-type-third">

                                        <div class="col-md-2 responcive-fifty" style="padding: 0px; ">
                                            <div class="form-line">
                                                @Html.DropDownList("ddlusers", new List<SelectListItem>
                                          {
                                       new SelectListItem{ Text="Admin Ledger",Value="Admin"},
                                       new SelectListItem{Text="Master Distributor Ledger",Value="Master"},
                                       new SelectListItem{Text="Distributor Ledger",Value="Dealer"},
                                       new SelectListItem{Text="Retailer Ledger",Value="Retailer"},
                                       new SelectListItem{Text="API User Ledger" ,Value="API"},
                                       new SelectListItem{Text="White Label Ledger",Value="Whitelabel"}
                                      }, new { @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @onchange = "answers()" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 responcive-fifty" style="display:none;padding-left:5px;padding-right:0px;" id="allwh">
                                            <div class="form-line">
                                                @Html.DropDownList("allwhitelabel", ViewBag.allwhitelabel as SelectList, "Select Whitelabel", new { id = "allwhitelabel", @style = "margin-top:0px", @class = "for-select2 form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 responcive-fifty" style="display:none;padding-left:5px;padding-right:0px;" id="allms">
                                            <div class="form-line">
                                                @Html.DropDownList("allmaster", ViewBag.allmaster as SelectList, "Select Master Distributor", new { id = "allmaster", @style = "margin-top:0px", @class = "for-select2 form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 responcive-fifty" style="display:none;padding-left:5px;padding-right:0px;" id="dlm">
                                            <div class="form-line">
                                                @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " Select Distubutor", new { id = "alldealer", @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 responcive-fifty" style="display:none;padding-left:5px;padding-right:0px;" id="rem">
                                            <div class="form-line">
                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "Select Retailer", new { id = "allretailer", @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 responcive-fifty" style="display:none;padding-left:5px;padding-right:0px;" id="apiid">
                                            <div class="form-line">
                                                @Html.DropDownList("allapiuser", ViewBag.apiid as SelectList, "Select API", new { id = "allapiuser", @class = "for-select2 form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                            </div>
                                        </div>

                                        <div class="col-md-2 responcive-fifty date-respon-third" style="margin-left:5px;padding-right:0px;width:19%;">
                                            <div class="row" style=" display: flex;">
                                                <div class="col-md-4 responcive-fifty" style="padding: 0px; margin-right: 5px;">
                                                    <i class="fa fa-sort-desc" aria-hidden="true" style="position: absolute; z-index: 999; right: 12px; top: 5px; color: #958f8f; "></i>
                                                    <div class="form-line">
                                                        @Html.DropDownList("prev_numberOfDays", new List<SelectListItem>
                                                  {
                                                   new SelectListItem{ Text="Selected Day",Value="0"},
                                               new SelectListItem{ Text="Prev Days 1",Value="1"},
                                               new SelectListItem{Text="Prev Days 3",Value="3"},
                                               new SelectListItem{Text="Prev Days 5",Value="5"},
                                               new SelectListItem{Text="Prev Days 7",Value="7"},

                                              }, new { @class = "selectpicker form-control", @style = "height:32px;padding:0px;" })

                                                    </div>
                                                </div>


                                                <div class="col-md-8 clk responcive-full" style="padding-right:0px;">
                                                    <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                                                        <div class="custom-date-icon ner">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px;" })
                                                        <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                                                        </span>
                                                        <div class="nrr3">
                                                            <div class="custom-date-icon ner2">
                                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                            </div>
                                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px; " })
                                                        </div>
                                                    </div>
                                                </div>





                                                <!-- /.input group -->
                                            </div>
                                        </div>
                                        <div class="col-md-1 admin-ledger-page-btn responcive-fifty widthauto-search-thi" style="padding-left:2px;padding-right:0px;text-align:center;">

                                            <button type="submit" class="btn input-back-second" style=" height:32px;border:1px solid #c7c2c2;background:transparent;">
                                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                <span style="top:-2px;color:black;">Search</span>
                                            </button>

                                        </div>


                                    </div>


                                </div>
                            }

                        </div>

                        <div class="row margin-allnone-admin" style="padding-top:10px;">
                            <div class="data-show data-show-second" style="border-top:3px solid var(--main-bg-lcolor);margin:0px 15px;padding-top:10px;">
                                <div class="col-md-3 responcive-fifty" style="padding-left:0px;">
                                    <span class="fullbodydycolorbg">Role</span>
                                    <span>@ViewBag.role</span>
                                </div>
                                <div class="col-md-3 responcive-fifty">
                                    <span class="fullbodydycolorbg">Name</span>
                                    <span>@ViewBag.name</span>
                                </div>
                                <div class="col-md-3 responcive-fifty">
                                    <span class="fullbodydycolorbg">Firm Name</span>
                                    <span>@ViewBag.firmname</span>
                                </div>
                                <div class="col-md-3 responcive-fifty" style="padding-right:0px;">
                                    <span class="fullbodydycolorbg">Reg Number</span>
                                    <span>@ViewBag.number</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%; float: left; margin-top: 5px;">
                        <div class="table-responsive tableseconddes-admin" style="position: inherit;">
                            <table class="table table-bordered example-second third-design-table" style="width:100%;background:#f5f5f5;" id="table2excel" data-tableName="Test Table 1">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No</th>
                                        <th>Request&nbsp;Id</th>


                                        <th>Particular&nbsp;Details</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th id="whitelabelpre"></th>
                                        <th id="whitelabelbalance"></th>
                                        <th>Date&nbsp;&&nbsp;Time</th>
                                        <th>Diff</th>
                                    </tr>
                                </thead>

                                <tbody id="mytable">
                                    @{
                                        int t = 1;
                                        int total = Model.Count;

                                    }
                                    @for (int i = 0; i < total; i++)
                                    {
                                        decimal? nextvalue = 0;
                                        decimal? diff = 0;
                                        var color = ""; var backcolor = "";
                                        if (i != total - 1)
                                        {
                                            nextvalue = Model[i + 1].Balance - Model[i + 1].credit + Model[i + 1].debit;
                                        }
                                        else
                                        {
                                            nextvalue = Model[i].Balance;
                                        }

                                        diff = Model[i].Balance - nextvalue;
                                        if (diff != 0)
                                        {
                                            color = "white";
                                            backcolor = "red";
                                        }
                                        <tr style="background-color:@backcolor;color:@color;">
                                            <td>@t</td>
                                            <td>@Model[i].RequestId</td>
                                            <td>@Model[i].Particulars</td>
                                            <td>@Model[i].Amount</td>
                                            <td>@Model[i].credit</td>
                                            <td>@Model[i].debit</td>
                                         

                                            @if (Model[i].Role == "Whitelabel")
                                            {
                                                <td>@Model[i].Balance</td>
                                                <td>@Model[i].UserActualRemainAmount</td>
                                            }
                                            else
                                            {
                                                <td>@Model[i].Balance</td>
                                                <td style="display:none;"></td>
                                            }

                                            <td>@Model[i].Date</td>
                                            <td>@diff</td>
                                        </tr>
                                        t++;
                                    }
                                </tbody>


                                @*<tbody id="mytable">
            @{
                int i = 1;
                decimal previousBalance = 0;
                bool isFirstRow = true;
            }

            @foreach (var item in Model)
            {
                decimal credit = Convert.ToDecimal(item.credit);
                decimal debit = Convert.ToDecimal(item.debit);
                decimal currentBalance = Convert.ToDecimal(item.Balance);

                var backcolor = "";
                var color = "";

                if (isFirstRow)
                {
                    // First row = Opening balance, no validation
                    previousBalance = currentBalance;
                    isFirstRow = false;
                }
                else
                {
                    decimal expectedBalance = previousBalance + credit - debit;

                    if (expectedBalance != currentBalance)
                    {
                        backcolor = "red";
                        color = "white";
                    }

                    previousBalance = currentBalance;
                }

                <tr style="background-color:@backcolor; color:@color;">
                    <td>@i</td>
                    <td>@item.RequestId</td>
                    <td>@item.Particulars</td>
                    <td>@item.Amount</td>
                    <td>@item.credit</td>
                    <td>@item.debit</td>

                    @if (item.Role == "Whitelabel")
                    {
                        <td>@item.Balance</td>
                        <td>@item.UserActualRemainAmount</td>
                    }
                    else
                    {
                        <td>@item.Balance</td>
                        <td style="display:none;"></td>
                    }

                    <td>@item.Date</td>
                </tr>

                i++;
            }
        </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>




<script>
    $('#btnExport').click(function () {
        var usernm = "";
         var  role = $('#ddlusers').val();
        if (role == 'Admin') {
            usernm = 'Admin';
        }
        else if (role == 'Master') {
            usernm = $('#allmaster').val()

        }
        else if (role == 'Dealer') {
            usernm = $('#alldealer').val();
        }
        else if (role == 'Retailer') {
            usernm = $('#allretailer').val();
        }
        else if (role == 'API') {
            usernm = $('#allwhitelabel').val();
        }
         else if (role == 'Whitelabel') {
            usernm = $('#allapiuser').val();
        }

       var url = '@Url.Action("ExcellGenerateForAdminLedger", "Home")?txt_frm_date='+ $('#txt_frm_date').val()+'&ddlusers=' + $('#ddlusers').val() + '&allmaster=' + $('#allmaster').val()+'&alldealer='+ $('#alldealer').val()+'&allretailer='+$('#allretailer').val()+'&allwhitelabel='+$('#allwhitelabel').val() + '&allapiuser=' + $('#allapiuser').val();
        location.href = url;

    })
    $('#btnPDF').click(function () {

      var usernm = "";
         var  role = $('#ddlusers').val();
        if (role == 'Admin') {
            usernm = 'Admin';
        }
        else if (role == 'Master') {
            usernm = $('#allmaster').val()

        }
        else if (role == 'Dealer') {
            usernm = $('#alldealer').val();
        }
        else if (role == 'Retailer') {
            usernm = $('#allretailer').val();
        }
        else if (role == 'API') {
            usernm = $('#allwhitelabel').val();
        }
         else if (role == 'Whitelabel') {
            usernm = $('#allapiuser').val();
        }
          var url = '@Url.Action("PrintAdminLedgerPartialViewToPdf", "Home")?txt_frm_date='+ $('#txt_frm_date').val()+'&ddlusers=' + $('#ddlusers').val() + '&allmaster=' + $('#allmaster').val()+'&alldealer='+ $('#alldealer').val()+'&allretailer='+$('#allretailer').val()+'&allwhitelabel='+$('#allwhitelabel').val() + '&allapiuser=' + $('#allapiuser').val();
        //location.href = url;
window.open(
  url,
  '_blank' // <- This is what makes it open in a new window.
);

    })


</script>



<script>
    $('.for-select2').select2();


</script>
<script type="text/javascript">
    $(document).ready(function () {

        document.getElementById("whitelabelpre").innerHTML = "Balance";
        document.getElementById("whitelabelbalance").style.display = "none";
        $('#mytable').show();
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
            var text = "pp";
            answers(text);

        });
</script>

@*<script>
        $(document).ready(function () {

            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });
        });
    </script>*@
@*<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
    </script>*@

<script type="text/javascript">
    function answers(text) {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allms").style.display = "none";
            document.getElementById("allwh").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelbalance").style.display = "none";
            if (answer == "Dealer" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "Dealer" && text != "pp") {
                $('#mytable').hide();

            }
        }
        else if (answer == "Whitelabel") {
            document.getElementById("whitelabelbalance").style.display = "block";
            document.getElementById("allms").style.display = "none";
            document.getElementById("allwh").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelpre").innerHTML = "WhitelabelPre";
            document.getElementById("whitelabelbalance").innerHTML = "WhitelabelPost";
            document.getElementById("whitelabelbalance").style.display = "block";


            if (answer == "Whitelabel" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "Whitelabel" && text != "pp") {
                $('#mytable').hide();

            }


        }
        else if (answer == "Master") {
            document.getElementById("allms").style.display = "block";
            document.getElementById("allwh").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelbalance").style.display = "none";
            if (answer == "Master" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "Master" && text != "pp") {
                $('#mytable').hide();

            }
        }
        else if (answer == "Admin") {
            document.getElementById("allwh").style.display = "none";
            document.getElementById("allms").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelbalance").style.display = "none";
            document.getElementById("whitelabelpre").innerHTML = "Balance";

            if (answer == "Admin" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "Admin" && text != "pp") {
                $('#mytable').hide();

            }

        }
        else if (answer == "Retailer") {
            document.getElementById("allwh").style.display = "none";
            document.getElementById("allms").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelbalance").style.display = "none";
            if (answer == "Retailer" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "Retailer" && text != "pp") {
                $('#mytable').hide();

            }
        }
        else if (answer == "API") {
            document.getElementById("allwh").style.display = "none";
            document.getElementById("allms").style.display = "none";
            document.getElementById("apiid").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelbalance").style.display = "none";
            if (answer == "API" && text == "pp") {

                $('#mytable').show();
            }
            else if (answer == "API" && text != "pp") {
                $('#mytable').hide();

            }
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>