@model List<Vastwebmulti.Models.Airtel_Report_paging_Result>
@{
    ViewBag.Title = "FinoCMSReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    #example tbody tr td {
        padding: 10px;
    }

    .form-group {
        width: 100%;
        height: 34px;
    }

    i.fa.fa-calendar.tmw-total-color-one.fullbodydycolorbg {
        position: absolute;
        top: 0px;
        z-index: 99;
        left: 6px;
        border-right: 1px solid #ddd;
        height: 33px;
        padding-right: 5px;
        padding-top: 9px;
    }

    #calender_icons_1 {
        position: absolute;
        top: 0px;
        z-index: 99;
        left: 53%;
        border-right: 1px solid #ddd;
        height: 33px;
        padding-right: 5px;
        padding-top: 9px;
    }

    .col-md-2.rechargefirst {
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-3.rechargesecond {
        padding-left: 5px;
        padding-right: 0;
    }

    .col-md-2.rechargefiveclass {
        padding-left: 5px;
        padding-right: 0;
    }

    .col-md-3.rechargethrees {
        padding-left: 5px;
        padding-right: 0;
    }

    .col-md-2.rechargefive {
        padding-right: 0;
        padding-left: 11px;
        width: 8%;
    }


    .breadcrumb-arrows
    li {
        display: inline-block;
        line-height: 30px;
        position: relative;
        margin-right: 13px;
    }

    .breadcrumb-arrows:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: -2px;
        border-style: solid;
        border-width: 15px 15px 15px 0px;
        border-color: transparent #fff transparent transparent;
        z-index: 0;
    }

    .breadcrumb-arrows:first-child:after {
        border-color: transparent;
    }

    .breadcrumb-arrows a:before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        left: -15px;
        border-style: solid;
        border-width: 15px 15px 15px 0px;
        border-color: transparent #dca167 !important;
        transparent transparent;
        z-index: 10;
    }

    .breadcrumb-arrows a:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: 0px;
        border-style: solid;
        border-width: 15px 15px 15px 0px;
        border-color: transparent #fff transparent transparent;
        z-index: 10;
    }

    .breadcrumb-arrows .active a {
        background: var(--main-bg-lcolor) !important;
        z-index: 100;
        padding-right: 35px !important;
    }

        .breadcrumb-arrows .active a:before {
            border-right-color: var(--main-bg-lcolor) !important;
        }

    .breadcrumb-arrows a {
        display: block;
        background: var(--main-bg-lcolor) !important;
        padding: 0 20px;
        padding-right: 35px !important;
    }

    .breadcrumb-arrows {
        background: var(--main-bg-lcolor) !important;
    }

        .breadcrumb-arrows a:hover:before {
            border-color: transparent var(--main-bg-lcolor) !important;
            transparent transparent;
        }

    .breadcrumb-arrows {
        background: var(--main-bg-lcolor) !important;
    }
</style>
<style>
   @* .datepicker-orient-bottom {
        top: 173px !important;
    }

        .datepicker-orient-bottom.datepickerrecharge {
            top: 147px !important;
        }*@

    .recharge-report-rtailer th {
        border-bottom: 0px !important;
    }

    .table-responsive table tr, .table-responsive table, .table-responsive table tr td, .table-responsive table tr th {
        border-color: #aaa4a4 !important;
    }

    .noexel-newclass img {
        border-radius: 50% !important;
    }

    .datepicker.datepicker-dropdown.dropdown-menu.datepickerrecharge.datepicker-orient-left.datepicker-orient-bottom {
        margin-top: -21px !important;
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:991px){

        .col-md-3.rechargesecond {
            width: 200px;
        }
        .col-md-3.rechargethrees {
            width: 30%;
        }

        .backtoaccountreport {
            width: auto !important;
        }
        .col-md-2.rechargefive {
            width: auto;
        }
        .col-md-2.rechargefirst {
            width: auto !important;
        }


    }


    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }

        .res_menu {
            display: block !important;
        }
        .col-md-2.rechargefirst {
            width: 16% !important;
            float: left;
        }
        .col-md-3.rechargesecond {
            width: 50%;
            float: left;
        }
        .col-md-2.rechargefiveclass {
            float: left;
            width: 25% !important;
        }
        .col-md-3.rechargethrees {
            width: 60%;
            float: left;
        }
        .col-md-2.rechargefive {
            width: 15%;
            float: left;
        }

    }

    @@media screen and (max-width:766px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 151px !important;
        }
    }

    @@media screen and (max-width:580px) {
        .datepicker-orient-bottom.datepickerrecharge {
            top: 194px !important;
        }

        .col-md-3.rechargesecond {
            width: 100%;
            margin: 3px 0;
        }
        .col-md-2.rechargefirst {
            width: 50% !important;
        }
        .col-md-2.rechargefiveclass {
            width: 100% !important;
            margin-bottom: 3px;
        }
        .col-md-3.rechargethrees {
            width: 100%;
            margin-bottom: 3px;
        }
        .col-md-2.rechargefive {
            width: 30%;
        }


    }
    .breadcrumb-arrows{
        margin-bottom:0px;
    }
</style>

<section class="content content-margin-second content-fourdesign-page allpage-four-design-section" @* style="margin:90px 0px 0px 0px;"*@>
    <div class="container-fluid retailer-page fundtranfer rechargefirstclass fundtranfer-responshive" style="height:100vh;">
        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third">
            @using (Html.BeginForm("airtelCMSReport", "Home", FormMethod.Post))
            {
                <div class="res_menu" style="display: flex; align-items: center;">
                    <div class="backtoaccountreport" style="width:24%; float:left;">
                        <div class="width_set" style="width: 10%; margin-left: 15px;">
                            <ul class="breadcrumb-arrows" style="background-color: var(--main-bg-lcolor) !important;">
                                <li class="active"><a href="@Url.Action("Dashboard", "Home")" style="color:#000;">Dashboard</a></li>
                                @*  <li><a href="@Url.Action("AccountOpeningReport", "Home")">Back&nbsp;To&nbsp;AccountOpeningReport</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 rechargefirst" style="width:7%;">
                        <div class="form-group" style=" border: 1px solid #ddd; ">
                            <div class="" style="">
                                @Html.DropDownList("status", new List<SelectListItem>
                        {
                        new SelectListItem{ Text="ALL Status",Value="",},
                        new SelectListItem{Text="SUCCESS",Value="Success"},
                        new SelectListItem{Text="Pending",Value="Pending"},
                        new SelectListItem{Text="FAILED",Value="Failed"}
                        }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 rechargesecond">
                        <div class="form-group" style=" border: 1px solid #ddd;">
                            <div class="" style="">
                                @Html.DropDownList("Retailers", ViewBag.Retailers as SelectList, "All Retailers", new { id = "Retailers", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 rechargefiveclass" style="width:11%;">
                        <div class="form-group" style=" border: 1px solid #ddd;">
                            <div class="" style=" ">
                                @Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Consumer Number", @style = "height:30px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 rechargethrees">
                        <div class="form-group" style=" ">
                            <div class="input-daterange input-group" style="display: flex; align-items: center">
                                <div class="datesate datesates focused">
                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>  </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border: 1px solid #ddd; height: 32px;position: absolute;width: 50%;top: 0px;height: 34px !important; ", autocomplete = "off" })
                                </div>
                                <span class="input-group-addon" style="display:none;">
                                    <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                </span>
                                <div class="datesate datesatese">
                                    <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" id="calender_icons_1"></i></div>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "    margin-left: 5px; border: 1px solid #ddd; height: 32px;position: absolute;width: 50%;top: 0px; left:50%;height: 34px !important;", autocomplete = "off" })
                                </div>
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-md-2 rechargefive">
                        <div class="form-group" style="width:100%; float:right !important;">
                            <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                <center>
                                    <button value="LIVE" type="submit" class="btn" id="btntype" name="btntype" style="width: 100%; height: 34px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                        <span style="top:-1px;color:black;">Search</span>
                                    </button>

                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="page-header-third" style="overflow-x: scroll;">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Retailer Firm</th>
                        <th>Operator</th>
                        <th>Number</th>
                        <th>Amount</th>
                        <th>Operator Id</th>
                        <th>Request Time</th>
                        <th>@*Response Time*@</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var type = item.sts;
                        var img = ""; var color = ""; var style = "";
                        if (item.sts.ToUpper() == "Success")
                        {
                            type = "Verify";
                            style = "height:20px;width:20px;margin-right:3px;float:left;";

                        }
                        if (item.sts.ToUpper() == "SUCCESS")
                        {
                            img = "../../ashok-images/correct.svg";
                            color = "green";
                            style = "height:20px;width:20px;margin-right:3px;float:left;";
                        }
                        else if (item.sts.ToUpper() == "PENDING")
                        {
                            img = "../../ashok-images/clock.svg";
                            style = "height: 20px;width: 20px;margin-right:3px;float:left;max-width: 100%;padding: 0;";
                            //color = "#ff9e00";

                        }
                        else if (item.sts.ToUpper() == "FAILED")
                        {
                            img = "../../ashok-images/closes.svg";
                            color = "red";
                            style = "height:20px;width:20px;margin-right:3px;float:left;";
                        }
                        else
                        {
                            img = "../../ashok-images/backresnd.svg";
                            color = "red";
                            style = "height:20px;width:20px;margin-right:3px;float:left;border-radius:99px;padding:2px;";
                            item.sts = "Refund";
                        }


                        <tr>
                            <td style="width: 100px;">
                                <img style="@style background-color:@color;" src=@img />
                                @Html.DisplayFor(modelItem => item.sts)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.RetailerFirm) - @Html.DisplayFor(modelItem => item.RetailerMobile)</td>
                            <td>@Html.DisplayFor(modelItem => item.optcode)</td>
                            <td>@Html.DisplayFor(modelItem => item.number)</td>
                            <td>@Html.DisplayFor(modelItem => item.amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.operatorId)</td>
                            <td>@Convert.ToDateTime(item.req_time).ToString("yyyy-MM-dd HH:mm:ss")</td>
                            @*<td>@Convert.ToDateTime(item.response_time).ToString("yyyy-MM-dd HH:mm:ss")</td>*@
                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });

        var check = '@ViewBag.chk';
        if (!check) {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });

</script>