@model Vastwebmulti.Areas.ADMIN.Models.Dealeractiveinactive
@{
    ViewBag.Title = "All_Dealer_Status";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 8px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {
        .All_Dealer_Status .col-md-6 {
            width: 100%;
            float: left;
        }

            .All_Dealer_Status .col-md-6 .for-retailer-status {
                padding-top: 15px;
            }
    }

    @@media only screen and (max-width:520px) {
        .for-retailer-status p {
            position: static !important;
            float: left;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .for-retailer-status {
            border-bottom: 0px !important;
            padding-bottom: 0px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-left: 1px solid var(--border-color);
        }
    }
</style>
<link href="~/AdminDesign/css/themes/all-themes.css" rel="stylesheet" />
<section class="content fourdesign-section-admin">
    <div class="container-fluid All_Dealer_Status allstatus-adminsamclass">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>All Dealer Status</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's Book&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">All Dealer Status</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div class="page-header-third">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                @Html.Partial("Index_patrial_view")
                            </div>
                            <div class="col-md-6">
                                <div class="for-retailer-status" style="border-bottom:8px solid red;padding-bottom:15px;width:100%;float:left;">
                                    <div class="web-white-filter fil pdfexpoer-second" style="float:right;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                                    </div>
                                    <p style="position: absolute;right: 164px;left: 15px;font-size: 11px;background: #eee;padding-left:5px;">A user doing business within the current 15 days is considered an <span style="color:green;">active user</span>, no new user appears to be active until he or she starts the business.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">

                        <div class="col-md-6">
                            <div class="page-header-third">
                                <div class="table-responsive tableseconddes-admin" style="position:inherit;">

                                    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Sr</th>
                                                <th>Firm&nbsp;Name&nbsp;&nbsp;"ACTIVE&nbsp;USER"</th>
                                                <th>Active</th>
                                                <th>Day's</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                            }
                                            @foreach (var item in Model.active)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Html.DisplayFor(modelItem => item.farmname)</td>
                                                    <td>@String.Format("{0:dd-MM-yyyy}", item.Rch_time)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.todays) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.type) </td>

                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="page-header-third">
                                <div class="table-responsive tableseconddes-admin" style="position:inherit;">

                                    <table class="table table-bordered table-striped table-hover example-second" style="width:100%;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Sr</th>
                                                <th>Firm&nbsp;Name&nbsp;&nbsp;"INACTIVE&nbsp;USER"</th>
                                                <th>InActive</th>
                                                <th>Day's</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int ii = 1;
                                            }
                                            @foreach (var item in Model.inactive)
                                            {
                                                <tr>
                                                    <td>@ii</td>
                                                    <td>@Html.DisplayFor(modelItem => item.farmname)</td>
                                                    <td>@String.Format("{0:dd-MM-yyyy}", item.Rch_time)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.todays) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.type) </td>
                                                </tr>
                                                ii++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $("#btnExport").click(function () {
        var url = '@Url.Action("Excel_All_Dealer_Status", "Home")';
        location.href = url;
});
</script>