@model List<Vastwebmulti.Models.show_all_account_Result>
@{
    Layout = null;
}

@{
    Vastwebmulti.Models.VastwebmultiEntities db = new Vastwebmulti.Models.VastwebmultiEntities();
    var amount1 = db.Remain_Admin_balance.SingleOrDefault().VirtualAmount;
}
@foreach (var item in Model)
{
    var bgcolor = "";
    var color = "";
    var total = item.total;
    var amount = amount1;
    if (total != amount)
    {
        bgcolor = "red";
        color = "white";
    }
    <tr style="background-color: @bgcolor;color:@color">
        <td>@item.id</td>
        <td >@Html.DisplayFor(modelItem => item.details)</td>
        <td>@Html.DisplayFor(modelItem => item.totaladmin)</td>
        <td>@Html.DisplayFor(modelItem => item.totalsuper)</td>
        <td>@Html.DisplayFor(modelItem => item.totaldlm)</td>
        <td>@Html.DisplayFor(modelItem => item.totalrem)</td>
        <td>@Html.DisplayFor(modelItem => item.posremain)</td>
        <td>@Html.DisplayFor(modelItem => item.totalapi)</td>
        <td>@Html.DisplayFor(modelItem => item.totalwhitelabel)</td>
        <td>@Html.DisplayFor(modelItem => item.total)</td>
        <td>@String.Format("{0:dd-MM-yyyy}", item.tdate)</td>
    </tr>
}



<script>
    $(function () {
        $('.second-design .example-second').DataTable({

            paging: false
        });
    });

</script>
