@model IEnumerable<Vastwebmulti.Models.Recharge_API_URLS>
@{
    ViewBag.Title = "Api_Name";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

   /* new css */
    .col-md-12.rtyfrty {
        padding: 0;
    }
    .col-md-7.rtyfrtyclass-third {
        padding: 0;
    }
    .rtyfrty .card {
        width: 100%;
        float: left;
        margin-bottom: 4px;
    }
    .modal-body .row.clearfix {
        padding: 2px 0px;
    }
    #ul li {
        width: 15%;
    }
    #ul {
        display: flex;
    }
    .rtyfrtyclass-third {
        padding: 0;
        margin-bottom: 4px;
    }
    .rtyfrty form {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .vacrivet {
        padding: 0 5px;
    }
    .modal-footer {
        margin-top: 10px;
    }

   /* new css */


    span.select2.select2-container.select2-container--default {

        float: right;
    }
    .col-md-7.col-xs-6.vacrivet {
        padding-right:4px;
    }
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .form-control-label {
        text-align: left;
    }
         .select2-selection.select2-selection--single {
    border-radius: 0px !important;
    height: 32px !important;border-color: #ccc !important;
}
         .bread-same-all-page li{margin:6px 0px;}


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media screen and (max-width: 992px) {

        .rtyfrty .card {
            display: block;
            width: 100%;
            float: left;
        }
        .col-md-7.rtyfrtyclass-third {
            width: 100%;
            float: left;
        }
        .col-md-5.for-r-width.for-r-button {
            width: 100% !important;
        }

        .vacrivet {
            width: 33.333% !important;
            float: left;
            padding: 0 4px !important;
        }

        span.select2.select2-container.select2-container--default {
            width: 100% !important;
            float: right;
        }

        .rtyfrty {
            width: 100%;
            float: left;
        }

            .rtyfrty ul li {
                width: 33%;
                float: left;
                margin-bottom: 10px;
            }

                .rtyfrty ul li a {
                    margin-bottom: 0;
                }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }

            .vacrivet button {
                width: 100%;
            }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        .rtyfrty ul li {
            width: 50%;
            float: left;
            margin-bottom: 10px;
            margin-right: 0px !important;
        }
    }

         @@media only screen and (max-width:480px) {
            #ul {
                display: block;
            }
            .rtyfrty form {
                display: block;
            }
            div#custnav ul li a {
                font-size: 12px;
            }
            .rtyfrty ul li {
                margin-bottom: 5px;
            }
            .rtyfrtyclass-third #custnav ul li {
                width: 50% !important;
            }
            .vacrivet {
                width: 100% !important;
                float: left;
                padding: 2px 0px !important;
            }

            

            .for-r-width, .vast-bazar-api {
                width: 100% !important;
                float: left !important;
                margin-bottom: 10px !important;
            }            
            span.select2.select2-container.select2-container--default {
                width: 100% !important;
                float: right;
            }
             .modal-dialog{width:96% !important;}
         }
    
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Set {Post} API
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">
                    <div class="col-md-12 rtyfrty">
                        <div class="card" style="">

                            <div class="col-md-12 rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menuapinm")
                                </div>

                            </div>
                            <div class="col-md-12 for-r-width for-r-button" style="width: 100%; float: right;">
                                <div class="row">
                                    @using (Html.BeginForm("Api_Name", "Home", FormMethod.Post))
                                    {

                                        <div class="col-md-2 vacrivet">
                                            <div class="input-group" style="">
                                                <div class="">
                                                    @Html.DropDownList("apinm", ViewBag.apinm as SelectList, "Api Name", new { id = "apinm", @class = "form-control for-select2", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;", @required = "required" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-1 vacrivet buttonsearch-second" style="padding:0px;">
                                            <center>
                                                <button type="submit" class=" waves-effect" style="width: 100%; height: 32px; float: left; border: 1px solid #c7c2c2; background: transparent;">
                                                    <i class="fa fa-search" style="top: 1px; font-size: 14px; color: #444;"></i>
                                                    <span style="color: #444;">Search</span>
                                                </button>
                                            </center>
                                        </div>
                                        <div class="col-md-1  col-xs-3 vacrivet" style="padding-right: 0;">
                                            <center>
                                                <button type="button" class="btn waves-effect fullbodydycolorbg" style="width:100%; float:right; height:32px;float:right;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                                    <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;"></i>
                                                    <span style="color:#fff;">Add New</span>
                                                </button>
                                            </center>

                                        </div>


                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="" style="width:100%;float:left;">
                        <div class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped example-second" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>API&nbsp;Name</th>
                                        <th>API&nbsp;ID</th>
                                        @*  <th>Password</th>*@
                                        <th>API&nbsp;Token1</th>
                                        <th>API&nbsp;Token2</th>
                                        <th>API&nbsp;Token3</th>
                                        <th>Token&nbsp;Priority</th>
                                        <th>API&nbsp;Url</th>
                                        @*<th><center>Status</center></th>*@
                                        <th><center>Edit</center></th>
                                        <th><center>Delete</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.API_Name</td>
                                                <td>@item.API_ID</td>
                                                @* <td>@item.Api_pwd</td>*@
                                                <td>@item.Token</td>
                                                <td>@item.token1</td>
                                                <td>@item.token2</td>
                                                <td>@item.prioritytoken</td>
                                                <td>@item.url</td>
                                                @*<td>
                                        @if (item.MoneyApiStatus == "Y")
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_money_api_status", new { id = item.API_NAME, sts = item.MoneyApiStatus })" style="text-decoration:none;">
                                                    <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                </a>
                                            </center>

                                        }
                                        else
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_money_api_status", new { id = item.API_NAME, sts = item.MoneyApiStatus })" style="text-decoration:none;">
                                                    <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                </a>
                                            </center>

                                        }
                                    </td>*@
                                                <td>
                                                    <center>
                                                        <button id="but" onclick="animation('@item.Idno', '@item.API_Name', '@item.API_ID', '@item.Api_pwd', '@item.Token', '@item.token1', '@item.token2', '@item.prioritytoken', '@item.url')" style="background-color:transparent;color:#03a9f4; border:none;" data-toggle="modal" data-target="#defaultModal1">
                                                            <p style="padding:2px 11px 2px 11px;border:1px solid #dddddd;color:black;margin:0px;">Edit</p>
                                                        </button>
                                                    </center>

                                                </td>
                                                <td>
                                                    <center>

                                                        <button type="button" class="first-button" style="background-color:transparent; border:none;">
                                                            <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;height: 26px;margin:0px; line-height: 22px;">Delete</p>
                                                        </button>

                                                        <button class="second-button" type="button" style=" border:none;display:none;width:64px;" onclick="DelteAPi('@item.Idno')">
                                                            <p class="fullbodydycolorbg" style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:#fff;height: 26px;margin:0px; line-height: 22px;">Sure ?</p>
                                                        </button>
                                                    </center>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add Model-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 0px;float: right;width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add API Url</h4>
            </div>
            @using (Html.BeginForm("insert_Api_Name", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Name</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="txtapiname" name="txtapiname" placeholder="Enter API Name" class="form-control" maxlength="8" required="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API ID</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtapiId", "", new { @class = "form-control", @required = "", @placeholder = "Enter API ID" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtApi_pwd", "", new { @class = "form-control", @placeholder = "Enter Password", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token1</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtApiToken", "", new { @class = "form-control", @placeholder = "Enter API Token1", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token2</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtApiToken1", "", new { @class = "form-control", @placeholder = "Enter API Token2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token3</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtApiToken2", "", new { @class = "form-control", @placeholder = "Enter API Token3", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token3</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("tokenpriority", new List<SelectListItem>
                           {
                        new SelectListItem{ Text="token1",Value="token1"},
                        new SelectListItem{Text="token2",Value="token2"},
                        new SelectListItem{Text="token3",Value="token3"}
                       }, new { @class = "form-control", @style = "margin-top:0px; padding:0px;text-align:center;"})

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Url</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtApiUrl", "", new { @class = "form-control", @placeholder = "Enter API Token", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:32px;" data-dismiss="modal">
                                <span style="color:black;">Close</span>
                            </button>
                            <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                                <span style="color:#fff;">Save Change</span>
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 0px;float: right;width: 50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit API Details</h4>
            </div>
            @using (Html.BeginForm("Edit_Api_Nam", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">

                        @Html.Hidden("Editid")
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Name</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("Editapiname", "", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API ID</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditapiId", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditApi_pwd", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token1</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditApiToken", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token2</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditApiToken1", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token3</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditApiToken2", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token Priority</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("edittokenpriority", new List<SelectListItem>
                          {
                       new SelectListItem{Text="token1",Value="token1"},
                       new SelectListItem{Text="token2",Value="token2"},
                       new SelectListItem{Text="token3",Value="token3"}
                      }, new { @class = "form-control", @style = "margin-top:0px; padding:0px;text-align:center;"})

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Url</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditApiUrl", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:32px;" data-dismiss="modal">
                                <span style="color:black;">Close</span>
                            </button>
                            <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                                <span style="color:#fff;">Save Change</span>
                            </button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>




<script>
    $('.for-select2').select2();
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!--Insert Popuop-->
<script>
    $(document).ready(function () {
        var editdata = '@ViewData["success"]'
        var error = '@ViewData["errormsg"]';
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

        if (error != null && error != "") {
            swal("Oops..!", error, "error");
        }

    });
</script>


<!--Edit Javascript-->
<script type="text/javascript">
    function animation(id, apinnm, apiid, pwd, token1,token2,token3,priortitytoken, url) {
        $('#Editid').val(id);
        $('#Editapiname').val(apinnm);
        $('#EditapiId').val(apiid);
        $('#EditApi_pwd').val(pwd);
        $('#EditApiToken').val(token1);
        $('#EditApiToken1').val(token2);
        $('#EditApiToken2').val(token3);
        $('#edittokenpriority').val(priortitytoken);
        $('#EditApiUrl').val(url);
    }

</script>

<script>
    function DelteAPi(e) {
        var url = '@Url.Action("Delete_Api_Name_Details", "Home")'
        $.ajax({
            url: url,
            data: { Idno: e },
            cache: false,
            type: "POST",
            success: function (data) {
                    var pathname = window.location.pathname; // Returns path only
    var url = window.location.href;
    window.location.href = url;
            }
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var gg = window.location.href
        var n = gg.indexOf("API");
        if (n != -1) {
            $("#but3").click();
        }
    });
</script>
<script>
    $('.first-button').click(function () {
        $(this).hide();
        $(this).next('.second-button').show();
    })
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>