@model IEnumerable<Vastwebmulti.Models.select_api_info_Test_Result>
@{
    ViewBag.Title = "Api_Operator";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

   /* new css  */
    #ul li {
        width: 15%;
    }
    .vacrivet {
        padding: 0 5px;
    }
    .col-md-5.rtyfrty.rtyfrtyclass-third {
        padding: 0;
        width: 100%;
    }
    .rtyfrtyclass-third {
        padding: 0;
    }
    .res_div {
        display: flex;
        justify-content: end;
    }
        .res_div form {
            width: 100%;
        }

    .table-responsive button {
        border: none;
    }
    #ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


   
   /* new css  */

    .multiselect-container.dropdown-menu button {
        border: 1px solid;
        margin: 0px !important;
        padding: 5px !important;
        text-align: center;
        border-bottom: 0px;
    }

    .multiselect-container [type="checkbox"] + label {
        text-align: center;
        margin: 0px !important;
    }

    .multiselect-container.dropdown-menu {
        height: 289px;
        overflow-y: scroll;
        border-bottom: 1px solid;
    }

    i.fa.fa-caret-down {
        z-index: 1;
    }

    #ul li a {
        display: block;
        text-align: center;
        padding: 5px 9px;
        text-decoration: none;
        border: 1px solid #b1a6a638;
        position: initial;
        margin-bottom: 0;
        font-size: 12px;
    }
    .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
        width: 14%;
    }
    button.multiselect.dropdown-toggle.custom-select.text-center {
        margin-top: 1px;
        height: 32px;
    }
    .col-md-1.vacrivet.buttonsearch-second {
        margin-left: -44px;
    }
    i.fa.fa-caret-down {
        position: absolute;
        right: 6px;
        top: 12px;
        color: #444 !important;
    }
    .col-md-2.api-operator.api-operator-left.vacrivet.vacrivet-second.vacrivet-third.respon-vacrivet-third.api-operatoradmin-new {
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: 50%;
        margin-left: 0px !important;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 6px !important;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dropdown-menu {
        margin-top: 0px !important;
        @*width: 100%;*@
    }
    .multiselect-container > li > a > label{padding: 4px 15px !important;}
    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;height: 32px !important;border-color: #ccc !important;
    }

    .form-control-label {text-align: left;}

    .form-control-label label {
        margin: 0px;border: 1px solid #dddddd;border-right: 0px;height: 34px;
        padding: 6px 0px;width: 100%;text-align: left;padding-left: 5px;
        font-size: 12px;background: #f5f5f5;
    }

    .form-group {margin-bottom: 12px;}

    .table-bordered tbody tr td {padding: 5px 10px;}

    .bread-same-all-page li {margin: 6px 0px;}
    .api-operator-left button, .api-operator-left button span {
        color: #444;
        width: 100%;
        float: left;
        text-align: left;
        margin-right: -5px;
        background: transparent;
    }
    .api-operator-left .btn-group {
        box-shadow: none;width: 100%;margin-top: 4px;
    }
    .multiselect-container > li > a > label.checkbox::before {
        content: '';width: 15px;height: 15px;border: 1px solid #000;display: inline-block;
        vertical-align: sub;margin-right: 5px;
    }
    .multiselect-container > .active > a > label.checkbox::before{border-color: #fff;}
    .dropdown-menu > .active > a > label.checkbox::after {
        content: '';border-bottom: 1px solid #000;border-right: 1px solid #000;width: 5px;
        height: 10px;display: inline-block;position: absolute;left: 20px;
        top: 10px;transform: rotate(40deg);border-color: #fff;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: var(--main-bg-lcolor);
    }
    .dropdown-menu > .active > a label, .dropdown-menu > .active > a:hover label, .dropdown-menu > .active > a:focus label{color:#fff;}
    .multiselect-container > li {
        border-top: 1px dotted #555;
    }
    .multiselect-container > .multiselect-item.multiselect-all{border-top: 0px;}

    .api-operatoradmin-new button {padding: 4px 2px;}
    .api-operatoradmin-new .btn-group {margin-top: 3px;}
    .api-operatoradmin-new .multiselect {
        padding: 0 0;border-radius: 0;border: 1px solid #ccc;padding: 5px 5px;
    }

    @@media only screen and (max-width: 1400px){
     #ul li a {
    font-size: 9px !important;
    padding: 5px !important;
}
           }

   
    @@media screen and (max-width: 1300px) {


    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }
    @@media screen and (max-width: 992px) {
        .res_div {
            display: block;
        }

        .col-md-7.rtyfrty.rtyfrtyclass-third {
            width: 100%;
            padding: 0;
        }

        .col-md-7 {
            width: auto;
        }

        .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
            width: 20% !important;
            margin-left: 0 !important;
        }

        .col-md-1.vacrivet.buttonsearch-second {
            margin-left: -4px;
        }

        .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
            width: 20% !important;
            margin-left: 0 !important;
        }

        button#btnGetSkills {
            width: 100% !important;
        }

        .vacrivet {
            width: 13.333%;
            float: left;
            padding: 0 4px !important;
        }

        button#btnGetSkills {
            margin-top: 4px;
            float: left !important;
            height: 32px;
            border: 1px solid #c7c2c2;
            background: transparent;
            width: 43.3%;
            padding-left: 5px;
        }
    }
        @@media screen and (max-width: 992px) {
            .vacrivet {
                width: 22%;
                float: left;
                padding: 0px 2px !important;
                margin-top: -4px;
            }

            #ul li {
                margin-right: 0px !important;
            }



            .rtyfrty ul li {
                width: 33%;
                float: left;
                margin-bottom: 10px;
            }

                .rtyfrty ul li a {
                    margin-bottom: 0;
                }
            @*.vacrivet {width: 50%;float: left;padding: 0 4px !important;}*@
            .input-group {
                width: 100% !important;
            }
        }

        @@media screen and (max-width:767px) {

            #ul li{
                margin-right:0px !important;            }

            .vacrivet {
                width: 22%;
                float: left;
                padding: 0px 2px !important;
                margin-top: -4px;
            }




            .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
                width: 20% !important;
            }

            .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
                width: 20% !important;
                margin-left: 0 !important;
            }

            .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
                width: 35.3% !important;
                margin-left: 0 !important;
            }

            span.select2.select2-container.select2-container--default {
                width: 100% !important;
            }

            .input-group {
                width: 100% !important;
            }

            button#btnGetSkills {
                width: fit-content !important;
            }


            .otpswich-editmodal .col-md-5, .otpswich-editmodal .col-md-4, .otpswich-editmodal .col-md-3, .otpswich-editmodal .col-md-2, .otpswich-editmodal .col-md-6 {
                float: left;
            }

            .otpswich-editmodal .row.clearfix .col-md-5, .otpswich-editmodal .row.clearfix .col-md-7 {
                width: 100%;
                float: left;
            }

            .otpswich-editmodal .otpeditmodal-secondrow .col-md-4 {
                width: 100%;
                float: left;
            }

                .otpswich-editmodal .otpeditmodal-secondrow .col-md-4 .col-md-5 {
                    width: 40%;
                    float: left;
                }

                .otpswich-editmodal .otpeditmodal-secondrow .col-md-4 .col-md-7 {
                    width: 60%;
                    float: left;
                }

            .otpswich-editmodal .otpeditmodal-secondrow .col-md-4 {
                margin-bottom: 10px;
            }

                .otpswich-editmodal .otpeditmodal-secondrow .col-md-4 ~ .col-md-2 ~ .col-md-2 {
                    width: auto;
                    float: right;
                    padding-left: 0;
                }
        }

        @@media screen and (max-width:500px) {
            .responsive-button-third, .responsive-button-third#btnGetSkills {
                width: fit-content !important;
                float: left !important;
            }
            .vacrivet {
                width: 22%;
                float: left;
                padding: 0px 2px !important;
                margin-top: -4px;
            }
        }





        @@media screen and (max-width: 480px) {
            .responsive-button-third, .responsive-button-third#btnGetSkills {
                width: 100% !important;
                margin-bottom: 5px;
            }

            #ul {
                display: block;
            }

            .api-operator {
                clear: both;
            }
            .vacrivet {
                width: 100%;
                float: left;
                padding: 0px 2px !important;
                margin-top: 0px;
            }

            .col-md-2.api-operator.vacrivet.respon-vacrivet-third {
                width: 100% !important;
            }

            .col-md-1.vacrivet.buttonsearch-second {
                width: 100% !important;
            }

            button#btnGetSkills {
                margin-left: 0px;
            }

            img.email-popup-second {
                width: 11px;
                margin-top: 0px;
            }
        }

</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third four-noneclass-admin-only">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-third" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                OPT Switching
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">

                    <div class="col-md-12" style="width: 100%;float: left;padding: 0px;">
                        <div class="card" style="">
                            <div class="col-md-12 rtyfrty rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menuapinm")
                                </div>

                            </div>
                            @using (Html.BeginForm("Api_Operator", "Home", FormMethod.Post))
                            {
                                <div class="col-md-12 rtyfrty rtyfrtyclass-third  res_div">
                                    <div class="col-md-2 vacrivet respon-vacrivet-third" style="padding: 4px;">
                                        <div class="input-group" style="">
                                            <div class="">
                                                @Html.DropDownList("apinm", ViewBag.apinm as SelectList, "Select Api Name", new { id = "apinm", @class = "for-select2 form-control border-0", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 api-operator api-operator-left vacrivet vacrivet-second vacrivet-third respon-vacrivet-third api-operatoradmin-new" style="padding: 0px;">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        <select id="myCategories" multiple="multiple" name="myCategories">
                                            @if (ViewBag.OptCategories != null)
                                            {
                                                foreach (var item in ViewBag.OptCategories)
                                                {
                                                    if (item.Text != null)
                                                    {
                                                        <option value="@item.Value">
                                                            @item.Text
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class=" col-md-2 vacrivet buttonsearch-second" style="padding-right: 0px;">
                                        <center>
                                            <button type="submit" id="btnGetSkills" class="btn btnssl222  waves-effect button-thirdclass responsive-button-third" data-loading-text="<i class='fa fa-spinner fa-spin' style='margin-top:-10px;'></i>" style="margin-top: 4px; border: 1px solid #c7c2c2; width: 100%;">
                                                <i class="fa fa-search" style="top:-1px;font-size:12px;color:black;"></i>
                                                <span style="color:black;">Search</span>
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div style="width:100%;float:left;">
                        <div class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%;background:#f9f9f9;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>API&nbsp;Name</th>
                                        <th>Operator</th>
                                        <th>My&nbsp;Code</th>
                                        <th>Api&nbsp;Code</th>
                                        <th>Purchase&nbsp;(₹)</th>
                                        <th><center>Status</center></th>
                                        <th><center>Edit</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var text = "";
                                        if (item.purchasetype == "Rupees")
                                        {
                                            text = " (₹)";
                                        }
                                        if (item.purchasetype == "Percentage")
                                        {
                                            text = "(%)";
                                        }

                                        <tr>
                                            <td>@item.apiname</td>
                                            <td>@item.optnm</td>
                                            <td>@item.opt_code</td>
                                            <td>@item.apioptcode</td>
                                            <td>@item.Purchase <span style="margin-left:22px;">@text</span></td>
                                            <td>
                                                @if (item.status == "Y")
                                                {
                                                    <center>
                                                        @*<a href="@url.action("api_status",new { id = item.id, apinm = item.api_nm })" style="text-decoration:none;">
                                                <div class="onoffswitch onoffswitch-secondclass">
                                                    <span class="costom-on custom-on-secondbutton">on</span>
                                                </div>
                                            </a>*@
                                                        @using (Html.BeginForm("Api_Status", "Home", FormMethod.Get, new { id = "myForm2" }))
                                                        {
                                                            @Html.Hidden("id", item.id)
                                                            @Html.Hidden("apinm", item.api_nm)
                                                            <button type="submit">
                                                                <div class="onoffswitch onoffswitch-secondclass" onclick="displaynone()">
                                                                    <span class="costom-on custom-on-secondbutton">on</span>
                                                                </div>
                                                            </button>
                                                        }
                                                    </center>

                                                }
                                                else
                                                {
                                                    <center>
                                                        @using (Html.BeginForm("Api_Status", "Home", FormMethod.Get, new { id = "myForm2" }))
                                                        {
                                                            @Html.Hidden("id", item.id)
                                                            @Html.Hidden("apinm", item.api_nm)
                                                            <button type="submit">
                                                                <div class="onoffswitch onoffswitch-secondclass" onclick="displaynone()">
                                                                    <span class="custom-off custom-off-secondbutton">off</span>
                                                                </div>
                                                            </button>
                                                        }
                                                        @*<a href="@Url.Action("Api_Status",new { id = item.id, apinm = item.api_nm })" style="text-decoration:none;">
                                                <div class="onoffswitch onoffswitch-secondclass">
                                                    <span class="custom-off custom-off-secondbutton">off</span>
                                                </div>
                                            </a>*@
                                                    </center>

                                                }
                                            </td>
                                            <td>
                                                <center>
                                                    <button id="but" onclick="animation('@item.api_nm','@item.id','@item.apiname','@item.optnm','@item.apioptcode','@item.Purchase','@item.purchase_rs','@item.max_rs')" style="background-color:transparent;color:#03a9f4; border:none;height: 25px;line-height: 22px;" data-toggle="modal" data-target="#defaultModal1">
                                                        <p class="deletebuttoback-second" style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;margin:0px;">Edit</p>
                                                    </button>
                                                </center>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Edit Model-->
<div class="modal fade otpswich-editmodal" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-right: 0px;margin-top: 63px;float: right;width: 50%;">
        <div class="modal-content">

            @using (Html.BeginForm("Api_Operator", "Home", FormMethod.Post, new { id = "myForm" }))
            {
                <div class="modal-body" style="margin-top:0px;padding: 5px;">
                    <div class="body">
                        <form>
                            @Html.TextBox("apinm", "", new { style = "Display:none" })
                            @Html.TextBox("txtidno", "", new { style = "Display:none" })
                            <div class="row clearfix">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label " style="padding-right:0px;">
                                            <label for="email_address_2">API&nbsp;Name</label>
                                        </div>

                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtapinm", "", new { @class = "form-control", placeholder = "Enter operator Name.", @required = "required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Operator&nbsp;Name</label>
                                        </div>

                                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-5" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtoptnm", "", new { @class = "form-control", placeholder = "Enter operator Name.", @required = "", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <button type="button" class="btn waves-effect" style="  height:34px;float:right;" data-dismiss="modal">
                                                &#10005;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix otpeditmodal-secondrow">
                                <div class="col-md-4">
                                    <div class="row clearfix">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">API&nbsp;Code</label>
                                        </div>

                                        <div class="ol-lg-7 col-md-7 col-sm-7 col-xs-12" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtapiopt", "", new { @class = "form-control", placeholder = "Enter Api Opt Code.", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row clearfix">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Purchase Type</label>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <select id="purchasetype" name="purchasetype" class="form-control" required="">
                                                        <option value="">Select Type</option>
                                                        <option value="Rupees">Flat Rupees (₹)</option>
                                                        <option value="Percentage">Percantage (%)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row clearfix">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtpurcharge", "", new { @class = "form-control", placeholder = "Enter purcharge (%)", @required = "required" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="modal-footer">

                                        <button type="submit" onclick="displaynone()" class="btn fullbodydycolorbg waves-effect" style="  height:34px;">
                                            <span style="color:#fff;">Save Change</span>
                                        </button>

                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit M  modal-->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    $('.for-select2').select2();
</script>
<!--Insert Popuop-->
<script>
    $(document).ready(function(){

        var editdata = '@ViewData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

    })
</script>
<script type="text/javascript">
    function animation(apinnm, id, apinm, optnm, apiopt, txtpurcharge, txtpurchargers, txtpurchargemax) {
        $("#apinm").val(apinnm);
        $("#txtidno").val(id);
        $("#txtapinm").val(apinm);
        $("#txtoptnm").val(optnm);
        $("#txtapiopt").val(apiopt);
        $("#txtpurcharge").val(txtpurcharge);
        $("#txtpurchargers").val(txtpurchargers);
        $("#txtpurchargemax").val(txtpurchargemax);
    }
</script>
<script>
    $('.btnssl222').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 2000);
    });
</script>

<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<script>
    $('#myCategories').multiselect({
        includeSelectAllOption: true
    });
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>
<script>
        $(function () {
            $("#myForm").submit(function (e) {
                e.preventDefault(); // Prevent the default form submission behavior

                // Serialize the form data
                var formData = $(this).serialize();

                // Perform an AJAX POST request to submit the form data
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Api_Operator", "Home")',
                    data: formData,
                    success: function (data) {
                        // Handle the success response, if needed
                    },
                    error: function () {
                        // Handle any errors, if needed
                    }
                });
            });
        });


     $(function () {
            $("#myForm2").submit(function (e) {
                e.preventDefault(); // Prevent the default form submission behavior

                // Serialize the form data
                var formData = $(this).serialize();

                // Perform an AJAX POST request to submit the form data
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Api_Status", "Home")',
                    data: formData,
                    success: function (data) {
                        // Handle the success response, if needed
                    },
                    error: function () {
                        // Handle any errors, if needed
                    }
                });
            });
        });
    function displaynone() {
        setTimeout(() => {
            window.location.reload();
        },500)

    }
</script>

