@model IEnumerable<Vastwebmulti.Models.RechargeapiInfo>
@{
    ViewBag.Title = "ApiCallBack";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
   /* new css */
    #ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bread-same-all-page li {
        margin: 6px 0px;
    }
    .col-md-7.rtyfrty.rtyfrtyclass-third {
        padding: 0;
        width: 100%;
        float: left;
        margin-bottom: 5px;
    }
    #custnav #ul li {
        width: 16.6666666667%;
        
    }
    #custnav1 #ul li {
        width: 25%;
    }
    #ul li {
        margin-right: 0px !important;
        background: none !important;
        padding: 0px 2px;
    }
        #ul li a {
            background: #efefef;
        }
   
   /* new css */


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px){

        #custnav #ul li {
            width: 33.3333%;
            padding-bottom: 4px;
        }

    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        div#custnav ul li a {
            font-size: 12px;
        }
        #custnav1 #ul li {
            width: 50%;
            padding-bottom: 4px;
        }

    }

    @@media only screen and (max-width:480px){

        #ul {
            display: block;
        }

        #custnav1 #ul li {
            width: 100%;
        }
        .rtyfrtyclass-third #custnav ul li {
            width: 50% !important;
        }
        div#custnav ul li a {
            font-size: 11px;
        }


    }


</style>

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                ApiCallBack
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">
                    <div class="col-md-12" style="padding:0;">
                        <div class=" pageheader-second-third">
                            <div class="col-md-7 rtyfrty rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menuapinm")
                                </div>

                            </div>
                            <div class="col-md-7 rtyfrty rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menu_rch_Api")
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="" style="width:100%;float:left;">
                        <div id="datashoww" class="table-responsive tablefourdesign-admin" style="position:inherit;">



                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>

                                    <tr>
                                        <th>Api Name</th>
                                        <th>Call Back Page</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.apiname</td>
                                            <td>
                                                <span>  @ViewBag.api/Response/apiresponse/@item.id</span>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
    $(document).ready(function () {
        $(".allow_decimal").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /***************/

        $('.show-details-btn').on('click', function (e) {

            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/
    })
</script>




