@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.ApiCallBack>
@{
    ViewBag.Title = "ApiCallBackUrl";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
   /* new css */
    .form-control {
        height: 32px;
    }
        .clx {
        padding: 0;
        padding-left: 5px;
    }
    .pageheader-second-third {
        padding-left: 5px;
    }
    .bread-same-all-page li {
        margin: 6px 0;
    }
    .modal-body .row.clearfix {
        padding: 2px 0;
    }
    .modal .modal-footer {
        padding: 24px;
    }
    .col-md-7.rtyfrty.rtyfrtyclass-third {
        width: 100%;
        padding: 0;
        margin-bottom: 5px;
    }
    .col-md-5.rtyfrty.rtyfrtyclass-third {
        padding: 0;
        width: 60%;
        float:left;

    }
    .res_div {
        width: auto;
        display: flex;
        justify-content: end;
    }
    #custnav #ul li {
        width: 13.8%;
    }

    .clx {
        /*padding: 0;*/
    }

   /* new css */



    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }

        #custnav #ul li {
            width: 16%;
        }
        .col-md-5.rtyfrty.rtyfrtyclass-third {
            width: 100%;
            margin-bottom: 5px;
        }


    }

    @@media only screen and (max-width:992px){

        #custnav #ul li {
            width: 33.333%;
            margin-right: 0px;
            margin-bottom: 5px;
        }


    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        .res_div {
            width: 80%;
        }
        .clx {
            width: 50%;
        }
        #custnav1 #ul li {
            width: 50%;
            margin-right: 0px;
            margin-bottom: 5px;
        }

    }
    @@media only screen and (max-width:480px){

        div#custnav ul li a {
            font-size: 12px;
        }
        #custnav1 #ul li {
            width: 100%;
        }
        .res_div {
            width: 100%;
        }


    }



</style>


<section class="content">
    <div class="container-fluid">

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                ApiCallBackUrl
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">
                    <div class="col-md-12" style="padding:0px;">
                        <div class="pageheader-second-third">
                            <div class="col-md-7 rtyfrty rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menuapinm")
                                </div>

                            </div>
                            <div class="col-md-5 rtyfrty rtyfrtyclass-third">
                                <div style="">
                                    @Html.Partial("_menu_rch_Api")
                                </div>

                            </div>
                            <div class="row res_div">
                                @using (Html.BeginForm("RechargeApiResponse", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="col-xs-12 col-sm-12" style="padding:0;">
                                        <div class="col-xs-12 col-md-8 col-sm-12 clx">
                                            @Html.DropDownList("apiinfomove", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-sm-12 clx" style="text-align:center;">
                                            <span class="input-group-btn">
                                                <button style=" width: 100%;" type="submit" class="btn btn-sm btn-success">
                                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                                    Search
                                                </button>
                                            </span>
                                        </div>

                                    </div><!-- /.span -->
                                }

                               <div class=" pageheader-second-third">
                                <div class="pull-right " style="margin-top:-4px;">
                                    <button type="button" class="btn waves-effect fullbodydycolorbg" style="margin-top: 4px; float:right; height:32px;float:right;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#myModalAdd" onclick="recharge_api_insert_otp('ApiCallbackInsert')">
                                        <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;" aria-hidden="true"></i>
                                        <span style="color:#fff;">Add New</span>
                                    </button>
                                    @*<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModalAdd">
                            <i class="ace-icon glyphicon glyphicon-plus"></i>
                            <span class="bigger-110 no-text-shadow">Add New</span>
                        </button>*@
                                </div>
                                <div class="pull-right tableTools-container tableTools-containerapi">
                                </div>
                            </div>
                            </div><!-- /.row -->
                        </div>

                    </div>

                    <div class="" style="width: 100%; float: left; margin-top: 4px;">
                        <div id="datashoww" class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            @Html.Partial("_PartialCallBack", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!--add modal popup-->
    <div class="modal fade" id="myModalAdd" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @using (Ajax.BeginForm("ApiCallbackAdd", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "datashoww", OnSuccess = "Success" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Call Back</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            @Html.Hidden("uniqueid")
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Api Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("apiinfo", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Request type</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("reqtype", ViewBag.reqtype as SelectList, "Select Request Type", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Body Type</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("reqbodytype", ViewBag.reqbodytype as SelectList, "Select Body Type", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("addKeyStatus", "", new { @class = "form-control", placeholder = "Enter Key Status" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Value Success Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("addvalsuccess", "", new { @class = "form-control", placeholder = "Enter Value Success Status", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Value Failed Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("addvalfailed", "", new { @class = "form-control", placeholder = "Enter Value Failed Status", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Rch ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("addKeyrch", "", new { @class = "form-control", placeholder = "Key Rch ID", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Message</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("KeyMessage", "", new { @class = "form-control", placeholder = "Key Message" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Operator ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("keyoptid", "", new { @class = "form-control", placeholder = "Key Operator ID", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Balance</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("keybalance", "", new { @class = "form-control", placeholder = "Key Balance" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Otp</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("otp", "", new { @class = "form-control", required = "required", placeholder = "Otp", pattern = "[0-9]{4}", title = "Enter 4 digit Otp" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                                <span style="color:#fff;">Submit</span>
                            </button>
                        </div>
                        }
                    </div>
        </div>
    </div>
    <!--end-->
    <!--Edit modal popup-->
    <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                @using (Ajax.BeginForm("UpdateRechargeApiCallBack", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "datashoww", OnSuccess = "Success1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Recharge API Call Back</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            @Html.Hidden("unique_update")
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Api Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.Hidden("editidno")
                                            @Html.Hidden("editapiinfo1")
                                            @Html.DropDownList("editapiinfo", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control", required = "required", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Request Type</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("editreqtype", ViewBag.reqtype as SelectList, "Select Request Type", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Body Type</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("editreqbodytype", ViewBag.reqbodytype as SelectList, "Select Body Type", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Key Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editKeyStatus", "", new { @class = "form-control", placeholder = "Enter Key Status", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Value Success Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editvalsuccess", "", new { @class = "form-control", placeholder = "Enter Value Success Status", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Value Failed Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editvalfailed", "", new { @class = "form-control", placeholder = "Enter Value Failed Status", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Rch ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editKeyrch", "", new { @class = "form-control", placeholder = "Key Rch ID", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Message</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editKeyMessage", "", new { @class = "form-control", placeholder = "Key Message" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Operator ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editkeyoptid", "", new { @class = "form-control", placeholder = "Key Operator ID", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Balance</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("editkeybalance", "", new { @class = "form-control", placeholder = "Key Balance" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Otp</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("otp_update", "", new { @class = "form-control", required = "required", placeholder = "Otp", pattern = "[0-9]{4}", title = "Enter 4 digit Otp" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                            <span style="color:#fff;">Submit</span>
                        </button>

                    </div>
                }
            </div>
        </div>
    </div>
    <!--end-->
    <script>
        function Success() {
            $('#myModalAdd').modal('hide');
        }
    </script>
    <script>
    Edit = (id) => {
        var url = "@Url.Action("EditcallBack", "Home")";
         var requ = { "idno": id }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.json()).then(res => {
            $('#editidno').val(res[0].idno);
            $('#editapiinfo').val(res[0].id).change();
            $('#editapiinfo1').val(res[0].id);
            $('#editreqtype').val(res[0].Requesttype).change();
            $('#editreqbodytype').val(res[0].bodytype).change();
            $('#editKeyStatus').val(res[0].keystatus);
            $('#editvalsuccess').val(res[0].valstatussuccess);
            $('#editvalfailed').val(res[0].valstatusfailed);
            $('#editKeyrch').val(res[0].keyrchid);
            $('#editKeyMessage').val(res[0].keymsg);
            $('#editkeyoptid').val(res[0].keyoperatorid);
            $('#editkeybalance').val(res[0].keybalance);
            $('#myModalEdit').modal()
        }).catch(err => alert(err));
    }
    </script>
    <script>
        function Success1() {
            $('#myModalEdit').modal('hide');
        }
    </script>
    <script>
    update = (idno) => {
        var apiinfomove = $('#apiinfomove').val();
        var optidmove = $('#optidmove').val();
        var url = '@Url.Action("UpdateMoveapiSts","Home")'
        var requ = { "idno": idno, "apiinfomove": apiinfomove, "optidmove": optidmove }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.text()).then(res => {
            $('#datashoww').html(res);
        }).catch(err => alert(err));
    }
    </script>

    <link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Swalalert/sweetalert-dev.js"></script>
    <script>
        $(function () {
            $(".allow_decimal").on("input", function (evt) {
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            var active_class = 'active';
            $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#simple-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if ($row.is('.detail-row ')) return;
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /***************/

            $('.show-details-btn').on('click', function (e) {

                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/
        })
    </script>
    <script>
    function recharge_api_insert_otp(type) {
        $('#uniqueid').val('');
        $('#unique_update').val('');
        fetch('@Url.Action("ApiResponseInsert_SendOtp")?type=' + type)
        .then(res => res.json())
            .then(data => {
                if (data.status) {
                    if (type == "ApiCallbackInsert") {
                        $('#uniqueid').val(data.uniqueid);
                    }
                    else if (type == "ApiCallbackUpdate") {
                        $('#unique_update').val(data.uniqueid);
                    }
                }
        })
    }
    </script>

