@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.remuploadgst>
@{
    ViewBag.Title = "ApiuploadgstRecharge";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .col-md-8.customlisttupe .retailer-profile-secondclass {
        padding-bottom: 40px;
    }

    .retailer-profile-secondclass p.uptotransction {
        float: left;
        background: #f9f9cb;
        color: #555;
        padding: 0 1px;
        margin-left: 8px;
        margin-top: 3px;
        margin-bottom: 0;
        width: 33%;
    }

    .retailer-profile-secondclass strong {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }

        .retailer-profile-secondclass strong span {
            font-size: 12px;
        }

    .col-md-8.customlisttupe {
        margin-top: 20px;
    }

        .col-md-8.customlisttupe .retailer-profile-secondclass {
            margin-bottom: 0;
        }

        .col-md-8.customlisttupe button.btn.bg-blue-grey.waves-effect.valuechangebuttonadmin.valuechang-second {
            border: none;
        }

    p.uptotransction.activeupto::after {
        content: "";
        float: left;
        width: 10px;
        height: 10px;
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 83%;
        background-position: center;
        position: relative;
        left: 1px;
        top: 3.4px;
    }
</style>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .cas-hdeposi-tcharge-page .bank-name ul {
        margin-top: 8px;
    }

    .cash-charg-tab .nav-pills > li.active > a {
        background: transparent;
        color: inherit;
    }

    .cash-charg-tab .nav-pills > li > a {
        background: transparent;
        color: inherit;
        padding: 0px;
    }

        .cash-charg-tab .nav-pills > li > a::before {
            content: '';
            border: 2px solid #bbb;
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }

    .cash-charg-tab .nav-pills > li.active > a::before {
        background: var(--main-bg-lcolor);
        border-color: var(--main-bg-lcolor);
    }

    .cash-charg-tab .nav-pills > li {
        padding: 5px 9px;
        margin: 0px auto;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
    }
    /*.cash-charg-tab-first .btn.btn-default{background-color:transparent !important;}*/
    .select2-container .select2-selection--single {
        height: 32px !important;
        border-color: #ccc !important;
    }

    .cash-charg-tab-first #btnsubmit1, .cash-charg-tab-first #btnsubmit, .cash-charg-tab-first #btnsubmit2, .cash-charg-tab-first #btnsubmit3,
    .cash-charg-tab-first #btnsubmit4 {
        position: absolute;
        right: 29px;
        top: 83px;
    }

    #remcash table tbody tr th, #Distributor table tbody tr th, #Master table tbody tr th, #API table tbody tr th, #WhiteLabel table tbody tr th {
        padding: 5px 10px;
    }

    .onoffswitch {
        width: 32px;
        height: 32px;
        margin-left: 5px;
        float: right;
    }

    .costom-on::after {
        width: 20px;
        height: 20px;
        top: 5px;
    }

    .custom-off::before {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
    }

    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .adminpay-admin {
        float: right;
        width: 16%;
        margin-left: 5px;
    }

    .position-third-designadmincus {
        float: right;
    }

    .adminpay-admin button {
        padding: 0 !important;
    }

    .retailer-profile-secondclass strong span {
        font-size: 9px;
    }

    .retailer-profile-secondclass p.uptotransction {
        line-height: normal;
        margin-top: 0;
    }

    .three-page-same .unload-item.item-three {
        width: 50% !important;
    }

    .three-page-same .unload-item .leftt {
        width: 74%;
    }

    .cas-hdeposi-tcharge-page .ca-dipo-right {
        height: auto;
        background: var(--second-bg-color);
        overflow: hidden;
    }

    .table-responsive.table-responsive-payugateway {
        height: 600px;
        overflow: auto;
    }

    .payugatwaynewclass {
        margin-top: 8px;
    }

    .newfourdesign-admin .payugatwaynewclass {
        margin-top: 0;
    }

    .newfourdesign-admin .three-page-same .table-responsive-payugateway table tr td button {
        background: var(--fullbodybg-four) !important;
    }

    .three-page-same .unload-item {
        margin-right: 4px;
    }

    .payment-responsi {
        position: relative;
    }

    @@media screen and (max-width:1366px) {

        .three-page-same .rightt {
            width: 26% !important;
        }

        .three-page-same .unload-item.item-three {
            width: 60% !important;
        }

        .three-page-same .unload-item.item-three {
            width: 56% !important;
        }

        .payment-responsi ul.ulautopadd-third {
            width: 100% !important;
        }

        .charge-fullclass-re .payugatwaynewclass {
            margin-top: 0;
        }

            .charge-fullclass-re .payugatwaynewclass:nth-child(2) {
                margin-right: 2px;
            }

        .charge-fullclass-re {
            width: auto;
            float: left;
            position: absolute;
            right: 0;
            top: -5px;
        }

        .payment-responsi ul.ulautopadd-third {
            width: 100% !important;
            padding-bottom: 13px;
        }

        .payment-responsi .adminpay-admin {
            width: auto;
        }

        .payment-responsi .three-page-same.upi-charge.all-type-third.upiclass-respfull-third {
            width: 72% !important;
        }

        .payment-responsi .three-page-same.upi-charge .un-re-wa-right {
            padding-left: 0 !important;
        }

            .payment-responsi .three-page-same.upi-charge .un-re-wa-right .unload-item.special-iii.item-three {
                width: 55% !important;
            }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {
        .un-re-wa-right11 {
            width: 100% !important;
        }
        .un-re-wa-right {
            width: 100% !important;
        }
        .payugateway-admin-respo .bread-same-all-page ul {
            width: 100%;
            float: left;
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        .payugateway-admin-respo .unload-item {
            width: 50% !important;
            padding-right: 0px;
            margin: 2px 0;
        }

            .payugateway-admin-respo .unload-item.special-iii.item-three {
                width: 50% !important;
                margin: 2px 0;
            }

        .payugateway-admin-respo .leftt {
            width: 100% !important;
            float: left;
        }

        .payugateway-admin-respo .rightt {
            width: auto !important;
            float: left;
        }

        .payugateway-admin-respo .adminpay-admin {
            width: auto;
            float: right;
        }

        .payugateway-admin-respo .when-tr-left.position-third {
            width: auto;
            float: right;
            margin-top: 0;
        }

        .col-md-1.re-treyop.pdf-lastclass-third.pdf-lastclass-third-responsive {
            margin-bottom: 5px;
        }

        .charge-fullclass-re {
            position: static;
        }

        .payment-responsi .three-page-same.upi-charge.all-type-third.upiclass-respfull-third {
            width: 100% !important;
        }

        .payment-responsi .unload-item {
            width: 100% !important;
        }

        .payment-responsi .three-page-same.upi-charge .un-re-wa-right .unload-item.special-iii.item-three {
            width: 100% !important;
        }

        .payment-responsi .re-treyop {
            display: none;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:991px) {
        .dust-gr-terw ul {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .three-page-same.upi-charge {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .un-re-wa-right {
            padding-left: 0px !important;
        }

        .when-tr-left {
            width: auto;
            float: left;
            margin-top: 10px;
        }
    }

    @@media only screen and (max-width:480px) {

        .payugateway-admin-respo .unload-item {
            width: 100% !important;
        }
            .payugateway-admin-respo .unload-item.special-iii.item-three {
                width: 100% !important;
            }
        #WAdminSearchList {
            overflow-x: scroll;
        }

        .onoffswitch {
            position: absolute;
            top: 213px;
            left: 29%;
        }

        .bread-same-all-page ul, .three-page-same.upi-charge {
            width: 100% !important;
        }

        .un-re-wa-right {
            padding-left: 0px !important;
        }

        .three-page-same.upi-charge .unload-item.item-two {
            width: 49% !important;
            padding: 0px;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item.item-one {
            width: 49% !important;
        }

        .three-page-same.upi-charge .unload-item.item-two.item-two-width {
            width: 100% !important;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item .rightt {
            width: 26% !important;
        }

            .three-page-same.upi-charge .unload-item .rightt button {
                width: 100% !important;
                margin-left: 0px !important;
            }

        .for-button-upi {
            position: absolute;
            right: 15px;
            top: 212px;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4.padd-r-5 {
            padding-right: 15px !important;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4.padd-l-5 {
            padding-left: 15px !important;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4 .form-group {
            margin-bottom: 10px;
        }

        .Wallet-To-Bank-Charge-modal .modal-dialog {
            width: 96%;
            margin-right: 5px !important;
        }

        .payugateway-admin-respo .when-tr-left button.for-button-upi {
            position: static;
        }

        .payugateway-admin-respo .onoffswitch {
            position: relative;
            left: 0;
            top: 0;
        }

        .payugateway-admin-respo .three-page-same.upi-charge .unload-item .rightt {
            width: auto !important;
        }

        .payment-responsi .unload-item {
            width: 100% !important;
        }

        .three-page-same.upi-charge .unload-item.item-two {
            width: 100% !important;
            padding: 0px;
            margin-right: 0;
        }

        .charge-fullclass-re .when-tr-left button {
            width: 100% !important;
            margin-top: 5px;
        }

        .charge-fullclass-re {
            width: 100%;
            float: left;
            margin-top: 5px;
        }

            .charge-fullclass-re .when-tr-left {
                width: 100% !important;
            }
    }
    

    .unload-item {
        margin: 0px 2px;
        width: 20%;
    }

    .un-re-wa-right11 {
        padding-left: 10px;
        width: 40%;
        float: left;
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .ca-dipo-right.height-auto-second.height-auto-third {
        height: auto;
        background: var(--second-bg-color);
        overflow: hidden;
        margin: auto;
        display: flow-root;
        margin-bottom: 5px;
        background: rgb(255 255 255 / 95%);
        padding: 0px 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 2px;
    }
</style>
<section class="content content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid payugateway-admin-respo">
        <div class="page-title-box-fourde-admin">
            <h3>Api Purchase Gst</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">API GST Invoice</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style=" width: auto; float: left;margin-bottom:7px;">
            <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style="background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; margin-bottom: 0px;  padding: 0px !important; border-radius: 2px; ">
                <div class="bread-same-all-page dust-gr-terw breadsameall-second margin-bottomo-third payment-responsi" style="background: rgb(255 255 255 / 95%); padding: 4px; box-shadow: 0px 0px 5px -2px; border-radius: 2px; ">

                    @Html.Partial("_menu_invoice")

                </div>
            </div>
        </div>
        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style=" width: auto; float: right;">
            @Html.Partial("_menu_invoice_API")
        </div>

        

        <div class="row clearfix">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="ca-dipo-right height-auto-second height-auto-third" style="">

                    <div class="un-re-wa-right11" style="padding-left: 10px; width: 40%; float: left; padding: 10px 5px;">
                        <li><a href="~/ADMIN/Home/ApiuploadgstRecharge">Api&nbsp;Recharge&nbsp;Upload&nbsp;Gst</a></li>
                        <li><a href="~/ADMIN/Home/Apisellgst" style="color: var(--main-bg-rcolor);">API&nbsp;GST </a><i class="fa fa-angle-right" style=" font-size: 14px; padding: 0px 3px 0px 7px;"></i></li>
                    </div>

                    <div class="un-re-wa-right" style=" width: 60%; float: right; background: none; padding: 5px 2px;">
                        @using (Html.BeginForm("ApiuploadgstRecharge", "Home", FormMethod.Post))
                        {
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("apiid", ViewBag.apiid as SelectList, "Select API ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("Month", ViewBag.month as SelectList, new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("Year", ViewBag.year as SelectList, new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item special-iii item-three" style="width: auto;">
                                <div class="rightt" style="width:auto;">
                                    <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second button-center-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;justify-content:center;align-items:center;">
                                        <i class="fa fa-search"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="three-page-same">
                        <div class="row clearfix" id="RetailerSRC">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="RetailerSearchList">
                                    <div class="table-responsive table-responsive-payugateway tableseconddes-admin" style="width:100%;">

                                        <div id="WAdminSearchList">
                                            <table class="table table-bordered table-striped table-hover third-design-table table-white-third">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>
                                                        <th>Email Id</th>
                                                        <th>Firm Name</th>
                                                        <th>Month</th>
                                                        <th>Year</th>
                                                        <th>Status</th>
                                                        <th>Reason</th>
                                                        <th>View</th>
                                                        <th>#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.email</td>
                                                            <td>@item.firmname</td>
                                                            <td>@item.monthchk</td>
                                                            <td>@item.yearchk</td>
                                                            <td>@item.status</td>
                                                            <td>@item.reason</td>
                                                            <td>
                                                                <i class="fa fa-file-pdf-o fa-2x" style="color:red;cursor:pointer;" onclick="show('@item.uploadfile')"></i>
                                                            </td>
                                                            <td>
                                                                @if (item.status == "Pending")
                                                                {
                                                                    <i class="fa fa-check fa-2x" style="color:green;cursor:pointer;" onclick="approved('@item.idno', '@item.firmname', '@item.monthchk', '@item.yearchk')" title="Approved"></i>
                                                                    <i class="fa fa-ban fa-2x" style="color:red;cursor:pointer;" onclick="Rejected('@item.idno', '@item.firmname', '@item.monthchk', '@item.yearchk')" title="Rejected"></i>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------orderrecive-->
                </div>
</section>
<!---------Purchase request send-->
<div class="modal fund-tr-history  in purchase-model purchase-model-newadd model-responshive-full" id="m-d-fund-transfer12" tabindex="-1" role="dialog" style="margin-top: 77px;width:auto;">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;height:auto;width:auto;">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left ecomm-pop-head">
                <h5 id="mdhis">API Upload  GST</h5>
                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left ecomm-pop-body">
                <div class="float-left width100">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <iframe id="ifrmgst" src="#" style="width:1000px;height:1000px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!--=============-->
                </div><!--.modal-body-->
            </div>
        </div>
    </div>
</div>
<div class="modal fund-tr-history  in purchase-model purchase-model-newadd model-responshive-full" id="m-d-fund-transfer121" tabindex="-1" role="dialog" style="margin-top: 77px;">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;height:auto;">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left ecomm-pop-head">
                <h5 id="mdhis">Approved Upload GST</h5>
                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left ecomm-pop-body">
                <div class="float-left width100">
                    <div class="row">
                        @using (Html.BeginForm("ApprovedDoneApiRecharge", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("idnochk")
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Firm Name : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="aprfrmname"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Month : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="aprmonth"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Year : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="apryear"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second button-center-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;justify-content:center;align-items:center;">
                                    <i class="fa fa fa-check fa-2x"></i>
                                    <span>Approved</span>
                                </button>
                            </div>
                        }
                    </div>
                    <!--=============-->
                </div><!--.modal-body-->
            </div>
        </div>
    </div>
</div>

<div class="modal fund-tr-history  in purchase-model purchase-model-newadd model-responshive-full" id="m-d-fund-transfer1211" tabindex="-1" role="dialog" style="margin-top: 77px;">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;height:auto;">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left ecomm-pop-head">
                <h5 id="mdhis">Rejected Upload GST</h5>
                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left ecomm-pop-body">
                <div class="float-left width100">
                    <div class="row">
                        @using (Html.BeginForm("RejectedDoneApiRecharge", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("idnochk1")
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Firm Name : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="aprfrmname1"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Month : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="aprmonth1"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Year : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label id="apryear1"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <label>Reason : </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    @Html.TextBox("txtreason", "", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second button-center-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;justify-content:center;align-items:center;">
                                    <i class="fa fa fa-check fa-2x"></i>
                                    <span>Rejected</span>
                                </button>
                            </div>
                        }
                    </div>
                    <!--=============-->
                </div><!--.modal-body-->
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
    $(function () {
        var month = '@ViewBag.chkmonth';
        var val = '@ViewBag.chk';
        if (val != "post") {
            $('#Month').val(month);
            $('#Month').select2().trigger('change');
            $('#apiid').select2();
            $('#Year').select2();
        }
    });
</script>
<script>
    function show(str) {
        $('#m-d-fund-transfer12').modal('toggle');
        $('#ifrmgst').attr("src", "../../" + str)
    }
</script>
<script>
    function approved(idno, firmname, month, year) {
        $('#idnochk').val(idno);
        $('#aprfrmname').text(firmname);
        $('#aprmonth').text(month);
        $('#apryear').text(year);
        $('#m-d-fund-transfer121').modal('toggle');
    }
</script>
<script>
    function Rejected(idno, firmname, month, year) {
        $('#idnochk1').val(idno);
        $('#aprfrmname1').text(firmname);
        $('#aprmonth1').text(month);
        $('#apryear1').text(year);
        $('#m-d-fund-transfer1211').modal('toggle');
    }
</script>

