@model IEnumerable<Vastwebmulti.Models.App_login_history_Result>
@{
    ViewBag.Title = "AppLoginHistory";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_Loginmenu")
                        </div>

                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("AppLoginHistory", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
         <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">ALL APPS SUCCESS LOGIN HISTORY&nbsp;></li>
                        </ol>
                    </div>
                    <div class="" style="margin-top:-28px;padding:7px;">
                        <div class="body table-responsive" style="position:inherit;margin-top:-20px;padding:0px;">
                            <table id="example" class="table table-bordered">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;ID</th>
                                        <th>Imei&nbsp;No</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Model&nbsp;No</th>
                                        <th>Last&nbsp;Login&nbsp;Details</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                       </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.Userid</td>
                                            <td>@item.ImeiNo</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>@item.ModelNo</td>
                                            <td>@item.LastLoginTime</td>
                                            <td>
                                                <button class="btn bg-grey" id="but" onclick="viewlocation('@item.Latitude','@item.Logitude')" style="background-color:transparent;color:#03a9f4; border:none;">
                                                   <span style="color:black;">@item.CurrentLoginTime</span>
                                                </button>
                                               </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Get Loction for Longtiude and Litutde-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p id="location"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/AdminDesign/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    function viewlocation(Latitude, Logitude) {
        $.ajax({
            url: '@Url.Action("GetLoctaion", "Home")',
            type: 'GET',
            dataType: "html",
            data: { Latitude: Latitude, Logitude: Logitude },
            success: function (data) {
                $("#location").html(data);
                $("#myModal").modal('show');
            },
            error: function (data) {

            }
        });
        return true;
    }
  </script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>


