@model Vastwebmulti.Areas.ADMIN.Models.RchModel
@{
    ViewBag.Title = "Assign_Opt";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
             <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-10">
                            <div style="margin-left:1px;">
                                @Html.Partial("_menunillcom")
                            </div>

                        </div>
                        <div class="col-md-2">
                            <center>
                                <button type="button" class="btn btn-default waves-effect" style="float:right;height:32px;margin-top:4px;margin-right:10px;border:1px solid #dddddd;" data-toggle="modal" data-target="#defaultModal1">
                                    <i class="fa fa-plus" style="top:1px;font-size:14px;color:black;"></i>
                                    <span style="top:-1px;color:black;">Assign OPT</span>
                                </button>
                            </center>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row clearfix" style="padding-top: 24px;">
            <div style="margin-top:-52px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:2px;">
                    <div class="card" style="margin-top:9px;">
                   
                        <div class="row">
                            <div class="col-md-12">
                                <div class="" style="margin-top:-4px;">
                                    <div class="body table-responsive " style="position:inherit;border:none;padding:7px;">
                                        <table class="table table-bordered">
                                            <thead  style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>Rch ID</th>
                                                    <th>Rem-ID</th>
                                                    <th>Operator</th>
                                                    <th>Minimum</th>
                                                    <th>Maximum</th>
                                                    <th>Status</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    
                                                </tr>
                                            </thead>
                                               <tbody>
                                                @foreach (var item in Model.show_all)
                                                {
                                                    <tr>
                                                        <td>@item.RCHEmail</td>
                                                        <td>@item.RemEmail</td>
                                                        <td>@item.operator_Name</td>
                                                        <td>@item.minamount</td>
                                                        <td>@item.maxamount</td>
                                                        <td>
                                                            @if (item.status == "Y")
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("manualedit",new {id = item.id,sts=item.status })" style="text-decoration:none;">
                                                                        <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                                    </a>
                                                                </center>

                                                            }
                                                            else
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("manualedit",new {id = item.id,sts=item.status })" style="text-decoration:none;">
                                                                        <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                                    </a>
                                                                </center>


                                                            }
                                                        </td>
                                                        <td>
                                                            <button id="but" onclick="animation('@item.id','@item.RCHEmail','@item.minamount','@item.maxamount')" style="background-color:transparent;color:#03a9f4; border:none;" data-toggle="modal" data-target="#defaultModal2">
                                                                <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;">Edit</p>
                                                            </button>
                                                        </td>
                                                        

                                                        <td>
                                                            <button type="button" style="background-color:transparent; border:none;" onclick="deletedata('@item.id')">
                                                                <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;">Delete</p>
                                                            </button>
                                                        </td>
                                                        

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add Rch Purchase Operator-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Rch Purchase</h4>
            </div>
            @using (Html.BeginForm("Insert_rch_purcharge", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Rch Id</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("rchid2", ViewBag.rchid2 as SelectList, "Select RchId", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("opt2", ViewBag.opt2 as SelectList, "Select Operator", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Purchase&nbsp;Comm(%)</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("Comm", "", new { @class = "form-control", required = "required", placeholder = "Enter Commission", onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Assign Operator-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Assign Operator</h4>
            </div>
            @using (Html.BeginForm("Assign_Opt_insert", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Rch Id</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("rchid", ViewBag.rchid as SelectList, "Select RchId", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Retailer Id</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("retailerId", ViewBag.retailerId as SelectList, "Select RetailerId", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("opt", ViewBag.opt as SelectList, "Select Operator", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Minimum Amount</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("MinAmount", "", new { @class = "form-control", required = "required", placeholder = "Enter Amount", onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Maximum Amount</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("MaxAmount", "", new { @class = "form-control", required = "required", placeholder = "Enter Amount", onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit -->
<div class="modal fade" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Rch Amount</h4>
            </div>
            @using (Html.BeginForm("Edit_rch", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            @Html.Hidden("idchk")
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Rch Id</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtpp", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Minimum Amount</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("MinAmt", "", new { @class = "form-control", required = "required", placeholder = "Enter Minimum Amount", onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Maximum Amount</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("MaxAmt", "", new { @class = "form-control", required = "required", placeholder = "Enter Maximum Amount", onkeypress = "javascript:return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
    window.onload = function () {

        var message = '@TempData["success"]'
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var error = '@TempData["error"]'
        if (error != "" && error != null) {
            swal("Oops...", error, "error");

        }

    }

</script>
<!--Only Digit -->
<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>
<!--Edit-->
<script type="text/javascript">
        var val1 = "";
        function animation(id, rchid, MinAmt, MaxAmt) {

            $("#idchk").val(id);
            $("#txtpp").val(rchid);
            $('#MinAmt').val(MinAmt);
            $('#MaxAmt').val(MaxAmt);
        }
</script>

<script type="text/javascript">

    function deletedata(e) {


        swal({
            title: "Are you sure?",
            text: "Do you want to delete Rch " + e + " !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("del_rch", "Home")', data: { id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Rch Deleted Successfully.", "success");
                var url = '@Url.Action("Assign_Opt", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Assign_Opt", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }


</script>