@model Vastwebmulti.Areas.ADMIN.Models.FundAutoTransferModel

@{
    ViewBag.Title = "AutoFundtransferStatus";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    #Retailershowinformation .col-md-12, #showinformation .col-md-12, #DIstribotorshowinformation .col-md-12,
    #APIUSERshowinformation .col-md-12, #WLUSERshowinformation .col-md-12 {
        border-bottom: 1px solid #bbb;
        margin: 0px 3% !important;
        width: 94%;
        margin-bottom: 6px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
    }

        #Retailershowinformation .col-md-12 label:last-child, #showinformation .col-md-12 label:last-child, #DIstribotorshowinformation .col-md-12 label:last-child,
        #APIUSERshowinformation .col-md-12 label:last-child, #WLUSERshowinformation .col-md-12 label:last-child {
            text-align: right;
            font-weight: 800;
        }

        #Retailershowinformation button, #showinformation .col-md-12 button, #DIstribotorshowinformation .col-md-12 button,
        #APIUSERshowinformation .col-md-12 button, #WLUSERshowinformation .col-md-12 button {
            margin-top: 20px !important;
        }

    .table-bordered thead tr th {
        padding: 5px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        background: green;
        width: 100%;
    }

    .fund-trasfer-left .errorss1 {
        color: #fff;
        background: red;
        width: 100%;
    }

    .bartu {
        position: relative;
    }

    .bar {
        border: 1px solid #ccc;
        padding: 4px 4px 5px 29px;
        font-weight: 400 !important;
        background: #e1dcdc;
        color: #333 !important;
    }

    .bar-in {
        background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        color: #fff !important;
    }

    .slt.fa-user-cog {
        position: absolute;
        left: 7px;
        top: 8px;
    }

    .bar:hover {
        background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        color: #fff !important;
    }
</style>
<style>
    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        width: 100%;
        padding-left: 40px;
    }

    .custom-district1 {
        position: relative;
    }

        .custom-district1::before {
            content: '';
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            position: absolute;
            right: 8px;
            top: 13px;
        }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
        padding: 0px 20px
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

        .for-change-fund select {
            width: 220px !important;
            height: 30px;
        }

        .for-change-fund .select2.select2-container.select2-container--default {
            width: 150px !important;
            text-align: left;
        }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-left .errorss {
        color: #fff;
        font-weight: 400;
        width: 100%
    }

    .fund-trasfer-right .tab-content {
        height: 80vh;
    }

    input[type="password"] {
        background-color: transparent;
        border: 1px solid var(--main-bg-lcolor);
        box-shadow: none;
    }

    .fund-transfer-main-admin ul li a .custom-district1 select {
        width: 100%;
        float: left;
    }

    .fund-transfer-main-admin ul li a {
        width: 100%;
        float: left;
    }

    .newfourdesign-admin .for-change-fund .select2.select2-container.select2-container--default {
        width: 140px !important;
        text-align: left;
        background: #fff;
    }

    .newfourdesign-admin .fund-trasfer-left .nav-tabs li.active a, .fund-trasfer-left .nav-tabs li.active a {
        background: var(--fullbodybg-four) !important;
    }

    .onoffswitch2 {
        width: 90px;
        padding-left: 4px;
    }

        .onoffswitch2 .costom-on::after {
            display: none
        }

    @@media screen and (max-width:1366px) {
        .fund-transfer-main-admin ul li a {
            width: 100%;
            float: left;
            padding-left: 0px !important;
        }

        .fund-transfer-main-admin ul li:nth-child(3) {
            width: 35% !important;
            float: left !important;
        }

            .fund-transfer-main-admin ul li:nth-child(3) .row {
                margin: 0;
            }

            .fund-transfer-main-admin ul li:nth-child(3) .for-un {
                margin-left: 0px !important;
            }

                .fund-transfer-main-admin ul li:nth-child(3) .for-un .col-md-5 {
                    padding-right: 2px;
                }
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:992px){

        .bread-same-all-page .col-md-8 {
            width: 100%;
            float: left;
        }
        .bread-same-all-page .col-md-4 {
            width: 100%;
            margin-top: 3px;
            padding: 0;
        }

    }

    @@media screen and (max-width:767px) {

        .bartu {
            width: 50%;
            margin: 0 !important;
            padding-right: 4px;
            padding-bottom: 4px;
        }
            .bartu a {
                width: 100%;
                font-size: 12px !important;
            }
        .search-after-third {
            margin-bottom: 4px;
        }

        .fund-transfer-main-admin ul.nav.nav-tabs li {
            width: 100% !important;
            float: left;
            padding: 0px;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 100% !important;
            position: static;
        }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-5 {
                float: left;
                width: 50%;
            }

            .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(3) .col-md-2.li-left-in {
                float: left;
                width: auto;
                margin-top: 5px
            }

        .fund-transfer-main-admin ul.nav.nav-tabs li a {
            padding-right: 0px !important;
            margin-right: 0px !important;
        }

        .fund-transfer-main-admin .fund-trasfer-right .nav-tabs li:nth-child(4) {
            position: absolute;
            bottom: 9px;
            right: 0;
            width: auto !important;
            margin-top: 0px !important;
        }
    }

    @@media only screen and (max-width:991px) {
        .fund-transfer-form {
            height: auto;
        }

        .fund-trasfer-right ul.nav-tabs li, .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
            float: left;
        }

            .fund-trasfer-right .nav-tabs li:first-child span, .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in {
                width: 50% !important;
                text-align: left;
                float: left;
            }

                .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in button {
                    width: 97%;
                    margin-top: 10px;
                }

        #masterdrop span, #dealerdrop span, #retailerdrop span, #apidrop span, #whitedrop span {
            width: 100% !important;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            width: 50%;
            float: left;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 0px !important;
            margin: 0px;
        }

        .fund-trasfer-right ul {
            padding: 10px 10px;
            float: left;
            width: 100%;
            position: relative;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            padding: 0px 10px;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 50% !important;
            position: absolute;
            bottom: 10px;
            left: 51%;
        }

        .fund-trasfer-left .col-md-12.col-sm-12.col-xs-12 {
            width: 50%;
            float: left;
        }
    }

    @@media only screen and (max-width:480px) {

        .bartu {
            width: 100%;
            padding-right: 0px;
        }

        .fund-transfer-form {
            height: auto;
            margin-bottom: 15px;
        }

        .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            width: 100% !important;
        }

        .for-un .fund-t-dalear .col-md-5 {
            width: 50%;
            float: left;
        }

        .for-un .fund-t-dalear .col-md-2 {
            width: 45%;
            float: left;
            margin-top: 3px;
        }

            .for-un .fund-t-dalear .col-md-2 button {
                width: 100%;
            }

        .for-un .fund-t-dalear {
            padding: 0px 15px;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            float: right;
        }

        .fund-trasfer-right ul {
            position: relative;
            padding-bottom: 5px;
        }

        .for-export {
            position: absolute !important;
            bottom: 6px;
            right: 5px;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 5px !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .fund-tr-history .modal-dialog {
            width: 95%;
            margin-right: 2% !important;
        }
    }
</style>




<section class="content">
    <div class="container-fluid" style="height:inherit !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Fund Transfer</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Auto Credit Transfer Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third second-header-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <div class="col-md-8" style="padding: 0px;">
                    <ul>
                        <li class="bartu">
                            <a class="bar bar-in" href="@Url.Action("AutoFundTransferMD")" style="font-size: 15px;">Auto Fund TransferStatus to Retailer</a><i class="fas slt fa-user-cog"></i>
                        </li>
                        <li class="bartu">
                            <a class="bar" href="@Url.Action("AutoFundTransferDistributor")" style="font-size: 15px;">Auto Transfer to Distributor</a><i class="fas slt fa-user-cog"></i>
                        </li>
                        <li class="bartu">
                            <a class="bar" href="@Url.Action("AutoFundTransferMD")" style="font-size: 15px;">Auto Transfer to MD</a><i class="fas slt fa-user-cog"></i>
                        </li>
                        <li class="bartu">
                            <a class="bar" href="@Url.Action("AutoFundTransfer_Api_user")" style="font-size: 15px;">Auto Transfer to API</a><i class="fas slt fa-user-cog"></i>
                        </li>
                        @*<li class="bartu">
                                @Html.ActionLink("Auto Fund to Distributor", "AutoFundTransferDistributor", null, new { style = "font-size: 15px;" })<i class="fas slt-1 fa-user-cog"></i>
                            </li>
                            <li class="bartu">
                                @Html.ActionLink("Auto Fund to API User", "AutoFundTransfer_Api_user", null, new { style = "font-size: 15px;" })<i class="fas slt-2 fa-user-cog"></i>
                            </li>*@
                    </ul>
                </div>
                <div class="col-md-4" style="float:right;padding-right:0px;">

                    <div class="search-after-third col-md-6" style="padding: 0;">
                        <input class="form-control marginbottom-respon-third" type="text" value="" id="myInput" placeholder="Search.." name="myInput" style="height:32px;border:1px solid;border: 1px solid #aaa;padding: 0 5px;">
                    </div>

                    <div class="white-l-search-nine pdfexpoer-second col-md-6" style="padding: 0;">

                        <div class="web-white-filter fil pdf-third-design" style="float: right;margin-right: 0px;">
                            <input onclick="excel()" type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                            <input onclick="PDF()" type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>

    <div class="col-md-12 fund-transfer-main-admin">
        <div class="fund-trasfer-right page-header-third ">

            <div id="tab-1" class="width100 float-left tab-content current" style="padding:0px;">





                <div id="tblshowMasterD" class=" table-responsive tableseconddes-admin" style="width:100%;">
                    <table class="table table-bordered table-striped table-hover third-design-table">
                        <thead>
                            <tr>
                                <th>Retailer Firm</th>
                                <th>Retailer Minimium Balance</th>
                                <th>Transfer Amount</th>
                                <th>Day Count</th>
                                <th>Credit Limit</th>
                                <th>Last Transection Date</th>
                                <th>Last Update Time</th>
                                <th>Transfer Type</th>
                                <th>Current Status</th>

                            </tr>
                        </thead>
                        <tbody id="body">

                            @foreach (var item in Model.autocredittransferreports)
                            {


                                <tr style="background: #eae9e9" class="tr">


                                    <td><p style="margin-top:6px;">  @item.Frm_Name/@item.Mobile</p></td>
                                    <td class="tbltdshow" id="tbltdminiumamntshow_@item.idno">
                                        <span id="spanminimium_@item.idno">
                                            @item.Rem_minimiumamnt
                                        </span>
                                    </td>



                                    <td class="tbltdNOTshow" id="tbltdminiumamntNOTshow_@item.idno" style="display:none">


                                        <input type="number" id="miniumamnttxtbox_@item.idno" value="0" min="0" oninput="this.value = Math.abs(this.value)" style="border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield;display:block;" />
                                        <span style="color:red;display:none;" id="errormsg_@item.idno">Minimum amount must be 500</span>

                                    </td>

                                    <td class="tbltdshow" id="tbltdtransamntshow_@item.idno">
                                        <span id="spantransferamnt_@item.idno">@item.transferamount </span>

                                    </td>
                                    <td class="tbltdNOTshow" id="tbltdtransamntNOTshow_@item.idno" style="display: none; width: 120px;">
                                        <input type="number" id="transamnttxtbox_@item.idno" value="0" min="0" oninput="this.value = Math.abs(this.value)" style=" width:100%; border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield;display:block;" />
                                        <span style="color:red;display:none;" id="errormsg1_@item.idno">Minimum amount must be 500</span>
                                    </td>


                                    <td class="tbltdshow" id="datcountshow_@item.idno">
                                        <span id="spandaycount_@item.idno">
                                            @item.Totalfundytranfersete
                                        </span>
                                    </td>
                                    <td class="tbltdNOTshow" id="DaycountNOTshow_@item.idno" style="display: none; width:77px;">
                                        <input type="number" id="counttbox_@item.idno" value="0" min="0" oninput="this.value = Math.abs(this.value)" style=" width: 100%; border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield; display: block;" />
                                    </td>





                                    <td class="tbltdshow" id="UPtolimitshow_@item.idno">
                                        <span id="spanuptolimit_@item.idno">
                                            @item.MaxCredit
                                        </span>
                                    </td>

                                    <td class="tbltdNOTshow" id="UptolimitNOTshow_@item.idno" style="display: none; width: 104px;">
                                        <input type="number" id="Uptolimitbox_@item.idno" value="0" min="0" oninput="this.value = Math.abs(this.value)" style="width: 100%; border: 1px solid #aaa4a4; padding: 5px 5px; -webkit-appearance: none; -moz-appearance: textfield; display: block;" />
                                    </td>



                                    <td><p style=""> @item.transferdate</p></td>

                                    <td>@item.remupdatestatusdate</td>


                                    <td>
                                        <p style="">

                                            @if (item.transfertype == "Credit")
                                            {
                                                <span class="onoffswitch onoffswitch2 costom-on-second" style="float: left;border:1px solid #aaa4a4">
                                                    <img src="../../ashok-images/correct.svg" style="background:#fe7d0f;height: 15px;width: 15px;margin-right: 3px;float: left;border-radius: 50%;padding: 3px;display: inline-block;margin-top: 3px;">
                                                    <button class="costom-on clscall" id="btntransfersts_@item.idno" value="Cash" onclick="calltransfertype('@item.idno')" style="border: 0px; width: auto;">BY CREDIT</button>
                                                </span>

                                            }
                                            else
                                            {
                                                <span class="onoffswitch onoffswitch2 costom-on-second" style="float: left;border:1px solid #aaa4a4">
                                                    <img src="../../ashok-images/correct.svg" style="background:green;height: 15px;width: 15px;margin-right: 3px;float: left;border-radius: 50%;padding: 3px;display: inline-block;margin-top: 3px;">
                                                    <button class="costom-on clscall" id="btntransfersts_@item.idno" onclick="calltransfertype('@item.idno')" value="Credit" style="border:0px;width: auto;">BY CASH</button>
                                                </span>
                                            }







                                        </p>
                                    </td>
                                    <td>
                                        <p style="float:left;margin:0px;">

                                            @if (item.remcurrentstatus == "Y")
                                            {
                                                <span class="onoffswitch costom-on-second" style="float: left;border:0px;">
                                                    <button class="costom-on clscall" id="btnsts_@item.idno" value="ON" onclick="callstats('@item.idno')" style="border:1px solid #aaa4a4;">ON</button>
                                                </span>

                                            }
                                            else
                                            {
                                                <span class="onoffswitch costom-off-second" style="float: left;border:0px;">
                                                    <button class="custom-off clscall" id="btnsts_@item.idno" onclick="callstats('@item.idno')" value="OFF" style="border:1px solid #aaa4a4;">OFF</button>
                                                </span>
                                            }





                                            @*@{
                                                    var curntsts = item.remcurrentstatus == "Y" ? "OFF" : "ON";

                                                };*@

                                            @*<button value="@item.remcurrentstatus" class="btn btn-success">@curntsts</button>*@

                                            @*@if (item.remcurrentstatus == "Y")
                                                {

                                                    <button value="ON" class="btn btn-success">ON</button>
                                                }
                                                else
                                                {
                                                    <button value="OFF" class="btnssl22 btn-danger">OFF</button>
                                                }*@
                                            <div class="tbltdshow" id="editbtnshow_@item.idno" style="float:left;">
                                                <button value="EDIT" onclick="Edittransferinform('@item.idno')" class="btnssl22" style="border: 1px solid #aaa4a4; padding: 1px 5px; text-transform: capitalize; color: #555;margin-left:4px;">Edit</button>
                                            </div>
                                            <div class="tbltdNOTshow" id="savebtnNotshow_@item.idno" style="display:none;float:left;">
                                                <button value="Save" onclick="Savetransferamnt('@item.idno', '@item.remid')" class="btnssl22" style="border: 1px solid #aaa4a4; padding: 1px 5px; text-transform: capitalize; color: #555;margin-left:4px;">Save</button>
                                            </div>

                                        </p>
                                    </td>



                                </tr>
                            }

                        </tbody>
                    </table>






                </div>
            </div>

        </div>
    </div>

</section>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $(document).ready(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })



</script>
<script>
    function calltransfertype(idno) {


        var btntransfersts = '#btntransfersts_' + idno;
        var trnstypes = $('#btntransfersts_' + idno).val();
        var crnrsts;

         $.ajax({
        url:"@Url.Action("ChangeStatusAutoCreditTrnasfer")",
        type: "POST",
             data: { idno: idno, curntsts: trnstypes},
             success: function (result) {

                 //var curntst;
                 //if (result == 'Y') {
                 //    curntst = 'ON';
                 //}
                 //else if (result == 'N') {
                 //    curntst = 'OFF';
                 //}

                 if (result == 'Credit') {
                     // $(btntransfersts).removeClass('costom-on');
                     // $(btntransfersts).addClass('custom-off');
                     $(btntransfersts).val('Cash');
                     $(btntransfersts).text('BY CREDIT');
                 }
                 else if (result == 'Cash') {
                     // $(btntransfersts).removeClass('custom-off');
                     // $(btntransfersts).addClass('costom-on');

                     $(btntransfersts).val('Credit');
                     $(btntransfersts).text('BY Cash');
                 }

           // $("#" + tabID).html(result);
        }
   });



    }


    function callstats(idno) {

        var btnstss = '#btnsts_' + idno;
        var ssss = $(btnstss).val();
        var crnrsts;
        if (ssss == 'OFF') {
            crnrsts = 'Y';
        }
        else {
            crnrsts = 'N';
        }
         $.ajax({
        url:"@Url.Action("ChangeStatusAutoCreditTrnasfer")",
        type: "POST",
             data: { idno: idno, curntsts: crnrsts},
             success: function (result) {

                 var curntst;
                 if (result == 'Y') {
                     curntst = 'ON';
                 }
                 else if (result == 'N') {
                     curntst = 'OFF';
                 }

                 if (curntst == 'OFF') {
                      $(btnstss).removeClass('costom-on');
                      $(btnstss).addClass('custom-off');
                     $(btnstss).val('OFF');
                      $(btnstss).text('OFF');
                  }
                 else if (curntst == 'ON') {
                      $(btnstss).removeClass('custom-off');
                      $(btnstss).addClass('costom-on');

                      $(btnstss).val('ON');
                      $(btnstss).text('ON');
                  }

           // $("#" + tabID).html(result);
        }
   });



    }

    //$('.clscall').click(function () {

    // var sss=   $('.clscall').val();
    //    alert(sss);

    //    //$.ajax({
    //    //    type: 'POST',
    //    //    data:


    //    //})

    //})


    var transamnttxt, miniumamnttxtbox,countperday,uplimit;
    function Edittransferinform(id) {

        $('.tbltdshow').show();
        $('.tbltdNOTshow').hide();


      var  tbltranstdamntnotshow=  'tbltdtransamntNOTshow_' + id;
        var tbltranstdamntshow =    'tbltdtransamntshow_' + id;
         transamnttxt =   'transamnttxtbox_' + id;
         miniumamnttxtbox =   'miniumamnttxtbox_' + id;
        countperday =   'counttbox_' + id;
        uplimit =   'Uptolimitbox_' + id;
        var editbtnshows= 'editbtnshow_' + id;
        var savebtnNotshow = 'savebtnNotshow_' + id;
        var editshowvr = 'errormsg_' + id;
        var tbltdminiumamntNOTshow = 'tbltdminiumamntNOTshow_' + id;
        var tbltdminiumamntshow = 'tbltdminiumamntshow_' + id;
        var Datcountnotshow = 'DaycountNOTshow_' + id;
        var Uptolimitnotshow = 'UptolimitNOTshow_' + id;
        var datcountshow = 'datcountshow_' + id;
        var UPtolimitshow = 'UPtolimitshow_' + id;
        $('#' + tbltranstdamntnotshow).show();
        $('#' + savebtnNotshow).show();
        $('#' + tbltdminiumamntNOTshow).show();
        $('#' + Datcountnotshow).show();
        $('#' + Uptolimitnotshow).show();
        $('#' + tbltranstdamntshow).hide();
        $('#' + editbtnshows).hide();

        $('#' + tbltdminiumamntshow).hide();
        $('#' + datcountshow).hide();
        $('#' + UPtolimitshow).hide();

         $.ajax({
        url:"@Url.Action("GetAutoTransferAmountDetails")",
             type: "GET",
             data: { idno: id },
        dataType: "html",
             success: function (result) {

                 var ssssd=JSON.parse(result)
                 $('#' + transamnttxt).val(ssssd.transferamnt);
                 $('#' + miniumamnttxtbox).val(ssssd.minimiumbal);
                 $('#' + countperday).val(ssssd.totalfundtrsf);
                 $('#' + uplimit).val(ssssd.uptolimit);

           // $("#" + tabID).html(result);
        }
   });



    }

    function Savetransferamnt(idno,remidids) {

      var transamnt=  $('#' + transamnttxt).val();
        var minimiumset = $('#' + miniumamnttxtbox).val();
        var totalfundtrns = $('#' + countperday).val();
        var Uptolimitt = $('#' + uplimit).val();
        var tbltranstdamntnotshow = 'tbltdtransamntNOTshow_' + idno;
        var tbltranstdamntshow = 'tbltdtransamntshow_' + idno;
        transamnttxt = 'transamnttxtbox_' + idno;
        miniumamnttxtbox = 'miniumamnttxtbox_' + idno;
        countperday = 'counttbox_' + idno;
        uplimit = 'Uptolimitbox_' + idno;
        var editbtnshows = 'editbtnshow_' + idno;
        var savebtnNotshow = 'savebtnNotshow_' + idno;
        var tbltdminiumamntNOTshow = 'tbltdminiumamntNOTshow_' + idno;
        var tbltdminiumamntshow = 'tbltdminiumamntshow_' + idno;
        var Datcountnotshow = 'DaycountNOTshow_' + idno;
        var Uptolimitnotshow = 'UptolimitNOTshow_' + idno;
        var datcountshow = 'datcountshow_' + idno;
        var UPtolimitshow = 'UPtolimitshow_' + idno;
        var editshowvr = 'errormsg_' + idno;
        $('#errormsg_' + idno).hide();
        $('#errormsg1_' + idno).hide();

        if (transamnt < 500) {
            $('#errormsg1_' + idno).show();
        }

        if (minimiumset < 500) {
            $('#errormsg_' + idno).show();
        }

        if (transamnt >= 500 && minimiumset >= 500) {
            $('#errormsg_' + idno).hide();
            $('#errormsg1_' + idno).hide();
            $.ajax({
                url: "@Url.Action("SaveautoTransferamount")",
                type: "POST",

                data: { transamnt: transamnt, minimiumset: minimiumset, totalfundtrns: totalfundtrns, Uptolimitt: Uptolimitt, remid: remidids },
                dataType: "html",
                success: function (result) {
                    $('#' + tbltranstdamntnotshow).hide();
                    $('#' + savebtnNotshow).hide();
                    $('#' + tbltdminiumamntNOTshow).hide();
                    $('#' + Datcountnotshow).hide();
                    $('#' + Uptolimitnotshow).hide();
                    $('#' + tbltranstdamntshow).show();
                    $('#' + editbtnshows).show();


                    $('#' + tbltdminiumamntshow).show();
                    $('#' + datcountshow).show();
                    $('#' + UPtolimitshow).show();
                    var aaaaa = JSON.parse(result)
                    $('#spanminimium_' + idno).text(aaaaa.minimiumbal);
                    $('#spantransferamnt_' + idno).text(aaaaa.transferamnt);
                    $('#spandaycount_' + idno).text(aaaaa.totalfundtrsf);
                    $('#spanuptolimit_' + idno).text(aaaaa.uptolimit);

                    // $("#" + tabID).html(result);
                }
            });
        }

    }


</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>