@model Vastwebmulti.Areas.ADMIN.Models.BankInfoList
@{
    ViewBag.Title = "bankinfo";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<style>

    /* new css  */
    .col-md-8.bankinfo.bankinfo-respon-third {
        background: #fff !important;
    }

    .col-md-4.bank-info-left.bank-firstresp-third.bankadminfirstclass {
        background: #fff !important;
    }

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* new css  */

    .tabbb ul li {
        list-style: none;
        float: left;
        width: 50%;
        text-align: center;
    }

    .tbistn1 span {
        color: #555;
        font-size: 16px;
        width: 100%;
        float: left;
        display: block;
        font-weight: bold;
    }

    .tbistn1 input {
        width: 100%;
        float: left;
        height: 32px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        padding: 0px 7px;
    }

    .tbistn1 select {
        height: 32px;
        margin-bottom: 14px;
        width: 100%;
    }

    .Masterlist-page #tab-6 form {
        border-bottom: none;
    }

    .tbistn1 button {
        border: 0px;
        margin-top: 10px;
        float: right;
        font-size: 19px;
        padding: 5px 20px;
        color: #fff;
    }

    .tbistn1 {
        padding: 15px;
    }

    .bankinfo .nav.nav-tabs li {
        width: 50%;
        float: left;
        text-align: center;
        margin-bottom: 0px;
    }

    .bankinfo .nav-tabs > li > a {
        color: #fff !important;
        padding: 6px 10px;
    }

        .bankinfo .nav-tabs > li > a::before {
            display: none;
        }

    .bankinfo .nav-tabs {
        border-bottom: none;
        background: var(--nav-tab-bg);
    }

        .bankinfo .nav-tabs li.active a, .bankinfo .nav-tabs li.active a:focus, .bankinfo .nav-tabs li.active a:hover {
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
            color: #fff !important;
        }

    .bankinfo-admin-page .table-responsive table td, .bankinfo-admin-page .table-responsive table th {
        padding: 5px 2px;
    }

    @@media screen and (max-width:1366px) {
        .bankinfo-admin-page .bankadminfirstclass {
            min-height: 80vh !important;
            height: auto !important;
            margin-bottom: 15px;
        }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px) {

        .bank-info-left {
            width: 100% !important;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


    @@media screen and (max-width:766px) {
        .bankinfo-respon-third {
            width: 100%;
            float: left;
        }

        .bank-firstresp-third {
            width: 100% !important;
            float: left !important;
            height: auto !important;
            margin-bottom: 10px;
        }

        .table-resp-padd-third tr th, .table-resp-padd-third tr td {
            padding: 5px 5px;
            white-space: nowrap;
        }
    }

    @@media only screen and (max-width:480px) {
        .bank-info-left {
            width: auto !important;
        }

        .bread-same-all-page {
            display: block;
        }

        .four-noneclass-admin-only {
            width: 100% !important;
            float: left !important;
            padding: 2px 0;
        }

        .widthautposit-third-respon {
            width: 100% !important;
            float: left !important;
            margin: 2px 0;
        }

        .col-md-8.bankinfo {
            width: 100%;
            margin-top: 15px;
        }
    }
</style>



<section class="content Masterlist-page fourdesign-section-admin">
    <div class="container-fluid bankinfo-admin-page">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Add A/C & Wallet</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Account 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Add A/C & Wallet</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second bankinfo-classmargin" style="width:100%;float:left;">
                <ul class="padding-top-third four-noneclass-admin-only" style="width: auto; float: left; margin: 0;">
                    <li class="smli">
                        <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one" style="line-height: 22px;">
                        Bank Info
                    </li>
                </ul>
                <div class="col-md-2 tre4 pdf-lastclass-third widthautposit-third-respon" style="padding: 0;width:auto;float:right;">
                    <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas">
                        <div class="web-white-filter" style="float: right;">
                            <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                            <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                            <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 bank-info-left bank-firstresp-third bankadminfirstclass" style="background: var(--second-bg-color);padding: 0px;height: 80vh;float: left;width: 32%;">

            <div class="page-header-third">


                <div class="tabbb">
                    <ul class="tabs width100 float-left tab-seconddesign tab-third-design">
                        <li class="tab-link current" data-tab="tab-5">Add Bank Account</li>
                        <li class="tab-link" data-tab="tab-6">Add Wallet</li>
                    </ul>
                </div>

                <div id="tab-5" class="tab-content current tbistn1 tabcurrent-seconddesign input-border-third inputspanborder-third">
                    @using (Html.BeginForm("AddBank", "Home", FormMethod.Post))
                    {
                        <span>Bank Name</span>
                        @Html.TextBox("Banknm", "", new { @class = "form-input", Placeholder = "Enter Bank Name", required = true })
                        <span>Branch Name</span>
                        @Html.TextBox("BranchName", "", new { @class = "form-input", Placeholder = "Enter Branch Name", required = true })
                        <span>IFSC CODE</span>
                        @Html.TextBox("ifsccode", "", new { @class = "form-input", Placeholder = "Enter Ifsc Code", required = true })
                        <span>Account Number</span>
                        @Html.TextBox("accountno", "", new { @class = "form-input", Placeholder = "Enter Account Number", required = true })
                        <span>Account Type</span>
                        @Html.TextBox("accounttype", "", new { @class = "form-input", Placeholder = "Enter Account Type", required = true })
                        <span>Account Holder Name</span>
                        @Html.TextBox("accountholder", "", new { @class = "form-input", Placeholder = "Enter Account Holder Name", required = true })
                        <span>City / Town</span>
                        @Html.TextBox("City", "", new { @class = "form-input", Placeholder = "Enter City", required = true })
                        <input type="submit" class="fullbodydycolorbg button-third" value="Save" style="color:white;float: right;
width: 100px;" />
                    }
                </div>

                <div id="tab-6" class="tab-content tbistn1 tabcurrent-seconddesign input-border-third inputspanborder-third">
                    @using (Html.BeginForm("AddWallet", "Home", FormMethod.Post))
                    {
                        <span>Wallet Name</span>
                        @Html.TextBox("walletnm", "", new { @class = "form-input", Placeholder = "Wallet Name", required = true })
                        <span>Wallet No</span>
                        @Html.TextBox("walletno", "", new { @class = "form-input", Placeholder = "Wallet No", required = true })
                        <span>Wallet Holder Name</span>
                        @Html.TextBox("walletholdername", "", new { @class = "form-input", Placeholder = "Wallet Holder Name", required = true })
                        <input type="submit" class="fullbodydycolorbg button-third" value="Save" style="color:white;float: right;
width: 100px;" />
                    }
                </div>


            </div>

        </div>

        <div class="col-md-8 bankinfo bankinfo-respon-third" style="background: var(--second-bg-color);padding: 0px;height: 80vh;float: right;">

            <div class="page-header-third">
                <div class="tabbba">
                    <ul class="nav nav-tabs tab-seconddesign tab-third-design tab-third-designactivea">
                        <li class="active"><a data-toggle="tab" href="#home">Bank Details</a></li>
                        <li><a data-toggle="tab" href="#menu1">Wallets Details</a></li>

                    </ul>

                </div>
                <div class="tab-content padding-top-second" style="display:block;">
                    <div id="home" class="tab-pane fade in active">



                        <div class="col-md-12" style="padding: 0px;">
                            <div class="table-responsive tableseconddes-admin">
                                <table class="third-design-table table-resp-padd-third" style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                    <tbody>
                                        <tr>
                                            <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                                Bank&nbsp;Name
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Branch&nbsp;Name
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                IFSC&nbsp;CODE
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Account&nbsp;Number
                                            </th>
                                            <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Account&nbsp;Type
                                            </th>
                                            <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);">
                                                Account&nbsp;Holder&nbsp;Name
                                            </th>
                                            <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                City&nbsp;/&nbsp;Town
                                            </th>

                                            <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Action
                                            </th>

                                        </tr>
                                        @if (Model.bankinfo != null)
                                        {
                                            foreach (var item in Model.bankinfo)
                                            {
                                                <tr>
                                                    <td style="width:320px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.banknm
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.branch_nm
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.ifsccode
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.acno
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial; text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.actype
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.holdername
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.address
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        <button class="first-del done-third" style="width: auto; padding: 4px 4px;"><i style="font-size:24px;color:red;" class="fa" aria-hidden="true"></i></button>
                                                        <button onclick="deletebank('@item.idno')" class="fullbodydycolorbg second-del done-third" style="display:none;width: auto;height: auto;padding: 2px 2px;color:#fff;font-size: 12px;background: var(--main-bg-lcolor) !important;border: 1px solid var(--main-bg-rcolor);">Sure<br />?</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <div id="menu1" class="tab-pane fade">


                        <div class="col-md-12" style="padding: 0px;">
                            <div class="table-responsive tableseconddes-admin">
                                <table class="third-design-table" style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                    <tbody>
                                        <tr>
                                            <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                                Company Name
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Wallet No.
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Wallet Holder
                                            </th>
                                            <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                                Action
                                            </th>
                                        </tr>

                                        @if (Model.walletinfo != null)
                                        {

                                            foreach (var item in Model.walletinfo)
                                            {
                                                <tr>
                                                    <td style="width:320px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletname
                                                    </td>
                                                    <td style="width:160px;  font-size:14px;padding: 10px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletno
                                                    </td>
                                                    <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                        @item.walletholdername
                                                    </td>
                                                    <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">


                                                        <button class="first-del done-third" style="width: auto; padding: 4px 4px;"><i style="font-size:24px;color:red;" class="fa" aria-hidden="true"></i></button>
                                                        <button onclick="deleteWallet('@item.walletid')" class="fullbodydycolorbg second-del done-third" style="display:none;width: auto;height: auto;padding: 2px 2px;color:#fff;font-size: 12px;background: var(--main-bg-lcolor) !important;border: 1px solid var(--main-bg-rcolor);">Sure<br />?</button>
                                                    </td>
                                                </tr>
                                            }

                                        }


                                    </tbody>

                                </table>
                            </div>
                        </div>



                    </div>
                </div>


            </div>

        </div>


    </div>



</section>

<script>
    function deletebank(idno) {
        var url = '@Url.Action("Deletebank", "Home")';
        $.ajax({
            url: url,
            data: { id: idno},
            cache: false,
            type: "GET",
            success: function (data) {
                var url = '@Url.Action("bankinfo", "Home")';
                window.location=url;
            }
        })
    }
     function deleteWallet(idno) {
        var url = '@Url.Action("Deletewallet", "Home")';
        $.ajax({
            url: url,
            data: { id: idno},
            cache: false,
            type: "GET",
            success: function (data) {
                var url = '@Url.Action("bankinfo", "Home")';
                window.location=url;
            }
        })
    }
</script>
<script>
    $('.first-del').click(function () {
        $(this).hide();
        $(this).next('.second-del').show();
    });
</script>
<script>
    $("#btnExportA").click(function () {
        var title = $('.active')[2].children[0].text
            var url = '@Url.Action("Excelbankinfo", "Home")' + '?title=' + title;
            location.href = url;
        });
</script>
