@model Vastwebmulti.Models.Bus_Purchase
@{
    ViewBag.Title = " Bus Purchase";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-7px;">
                <div class="card">
                    <div class="card">
                        <div class="header">
                            <div class="">
                                <div class="col-md-6">
                                    <p style="font-size:18px;margin-top:-11px;">Show Bus Purchase Commission Details</p>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>

                        </div>
                        <div class="body" style="margin-top:15px;">
                            <div class="row">
                                <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                    <table class="table table-bordered ">
                                        <thead style="color:black;position:inherit;background-color:whitesmoke;">
                                            <tr>
                                                <th>SR.No</th>
                                                <th>Commission</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                           
                                                <tr>
                                                    <td>1</td>
                                                   
                                                    <td>@Html.DisplayFor(modelItem => modelItem.commPCT)</td>

                                                    <td>
                                                        <button class="btn btn default" id="but" onclick="edit('@Model.Idno','@Model.commPCT')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="Edit Information">
                                                            Edit
                                                        </button>
                                                     
                                                    </td>
                                                </tr>
                                               
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 </section>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position:initial; background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit BUS Purchase Commission</h4>
            </div>
            @using (Html.BeginForm("Bus_Purchase", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-2px;">
                    <div class="body">
                        <form>

                            

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("commission", "", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                            
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    function edit(idno,comm)
    {
        $("#txtid").val(idno);
        $("#commission").val(comm);
        $("#defaultModal1").modal('show');
    }
</script>
<script>
    $(function () {
        var msg = '@ViewData["update"]';
        if (msg != null && msg != "") {
            swal("Good job!", msg, "success");
        }

    });
</script>