@model Vastwebmulti.Areas.ADMIN.Models.CashDepositeAndBank_Info_VM
@{
    ViewBag.Title = "ShowPurchase_master";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css */
    .bread-same-all-page li {
        margin: 6px 0px;
    }
    .cas-hdeposi-tcharge-page .ca-dipo-left {
        background: #fff;
    }
    .cas-hdeposi-tcharge-page .ca-dipo-right {
        background: #fff;
    }
        .cas-hdeposi-tcharge-page .ca-dipo-right .un-re-wa-right {
            background: #fff;
        }
    #remcash1 {
        overflow-x: scroll;
    }
    /* new css */


    .row.clearfix {
        width: 100%;
        margin: auto;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .cas-hdeposi-tcharge-page .bank-name ul {
        margin-top: 8px;
    }

    .cash-charg-tab .nav-pills > li.active > a {
        background: transparent;
        color: inherit;
    }

    .cash-charg-tab .nav-pills > li > a {
        background: transparent;
        color: inherit;
        padding: 0px;
    }

        .cash-charg-tab .nav-pills > li > a::before {
            content: '';
            border: 2px solid #bbb;
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }

    .cash-charg-tab .nav-pills > li.active > a::before {
        background: var(--main-bg-lcolor);
        border-color: var(--main-bg-lcolor);
    }

    .cash-charg-tab .nav-pills > li {
        padding: 5px 9px;
        margin: 0px auto;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
    }
    /*.cash-charg-tab-first .btn.btn-default{background-color:transparent !important;}*/
    .select2-container .select2-selection--single {
        height: 32px !important;
        border-color: #ccc !important;
    }

    .cash-charg-tab-first #btnsubmit1, .cash-charg-tab-first #btnsubmit, .cash-charg-tab-first #btnsubmit2, .cash-charg-tab-first #btnsubmit3,
    .cash-charg-tab-first #btnsubmit4 {
        position: absolute;
        right: 29px;
        top: 83px;
    }

    #remcash table tbody tr th, #Distributor table tbody tr th, #Master table tbody tr th, #API table tbody tr th, #WhiteLabel table tbody tr th {
        padding: 5px 10px;
    }

    #EditPurchageOrder .col-md-6 {
        padding-right: 0px;
        width: 50%;
    }

    #EditPurchageOrder .col-md-3 {
        width: 25%;
        padding: 0px 5px;
    }

    #EditPurchageOrder #editbuttonRetailer.col-md-3, #EditPurchageOrder #editbuttonDealer.col-md-3, #EditPurchageOrder #editbuttonapi.col-md-3,
    #EditPurchageOrder #editbuttonmaster.col-md-3, #EditPurchageOrder #editbuttonwhite.col-md-3 {
        width: 22%;
        padding-left: 0px;
    }

    #remcash, #dlmcash, #farziidhye, #apicash, #whitecash {
        margin-top: 5px !important;
    }

    .table-responsive-cashdeposit {
        height: 350px;
        overflow: auto;
    }

    .cas-hdeposi-tcharge-page .ca-dipo-right {
        height: auto;
    }

    .cashdeposit-pdfexl .unload-item.item-one {
        width: 20%;
        margin: 0;
        padding-right: 3px;
    }

    .cashdeposit-pdfexl .unload-item.special-iii.item-three {
        width: 67%;
        float: left;
    }

    .cashdeposit-pdfexl .item-three .leftt {
        width: 50%;
        float: left;
    }

        .cashdeposit-pdfexl .item-three .leftt span.input-group-addon {
            padding: 0 !important;
            min-width: 5px !important;
        }

    .cashdeposit-pdfexl .rightt.buttonsearch-second button {
        width: 100% !important;
        text-align: center !important;
        display: flex;
        justify-content: center;
    }

        .cashdeposit-pdfexl .rightt.buttonsearch-second button .fa.fa-search {
            position: relative;
            left: -1px;
            top: 2px !important;
        }

    .cashdeposit-pdfexl .rightt.buttonsearch-second {
        width: 19%;
        padding-left: 5px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:992px){

        .cashdeposit-pdfexl .unload-item.item-one {
            width: 50%;
            padding-bottom: 3px;
        }
        .three-page-same .unload-item.item-two {
            width: 50%;
            margin: 0;
        }
        .cas-hdeposi-tcharge-page .ca-dipo-right .un-re-wa-right {
            padding: 5px 0 !important;
        }



    }

    @@media screen and (max-width:766px) {
        .cashdeposit-pdfexl .unload-item.item-one, .cashdeposit-pdfexl .unload-item.item-two {
            width: 50%;
            float: left;
        }

        .cashdeposit-pdfexl .unload-item.special-iii.item-three {
            width: 100%;
            float: left;
        }

            .cashdeposit-pdfexl .unload-item.special-iii.item-three .leftt {
                width: 100%;
                float: left;
            }

        .cashdeposit-pdfexl .rightt.buttonsearch-second {
            width: auto;
            padding-left: 0;
            float: left;
        }
    }


    @@media only screen and (max-width:520px) {
        .un-re-wa-right .unload-item.item-one, .un-re-wa-right .unload-item.item-two, .un-re-wa-right .unload-item.special-iii.item-three {
            padding: 0px 5px !important;
            width: 100%;
        }

        .un-re-wa-right {
            padding: 0px 5px !important;
        }

            .un-re-wa-right .unload-item.item-one, .un-re-wa-right .unload-item.item-two {
                width: 50%;
            }

            .un-re-wa-right .unload-item.special-iii.item-three .input-group-addon {
                min-width: 10px;
                padding: 0px;
            }

        .modal.Un-rwls-modal.in .modal-dialog, .modal.Un-rwls-modal .modal-dialog {
            width: 95%;
        }

        .un-re-wa-right .unload-item.special-iii.item-three .rightt button {
            width: 96%;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
        }

        .three-page-same .unload-item .rightt button span {
            float: none;
        }
    }

    @@media only screen and (max-width:480px){

        .tab-third-design {
            font-size: 11px;
        }

        .un-re-wa-right .unload-item.item-one, .un-re-wa-right .unload-item.item-two, .un-re-wa-right .unload-item.special-iii.item-three {
            padding: 3px 0 !important;
            width: 100%;
        }

    }

</style>
<section class="content cas-hdeposi-tcharge-page fourdesign-section-admin">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Cash Charge's</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Cash Charge's</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Cash Charge's
                    </li>
                </ul>
            </div>
        </div>

        <div class="" style="margin-right: -15px; margin-left: -15px;">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="ca-dipo-left page-header-third" style="height: auto; min-height: 642px;">
                    <div class="Head fullbodydycolorbg">
                        <ul class="tabs3 tab-seconddesign tab-third-design">
                            <li class="tab-link current3" data-tab="tab3-1"><i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i>Unload Charges</li>
                            <li class="tab-link" data-tab="tab3-2">Cash Deposit Charge</li>
                        </ul>
                    </div>

                    <div id="tab3-1" class="tab-content3 current3">
                        <div class="bank-name">
                            <ul class="tabs2" for="retailer">

                                <li class="tab-link2 current2" data-tab="tab-5">
                                    <input type="radio" value="value1" name="group1" id="byapi1" class="RemTab" checked>
                                    <label for="byapi1">Retailer</label>
                                </li>
                                <li class="tab-link2" data-tab="tab-6">
                                    <input type="radio" value="value2" name="group1" id="bysim1" class="WhiteLabelTab">
                                    <label for="bysim1">White Label</label>
                                    <input type="radio" name="retailer" value="value2" />
                                </li>

                            </ul>

                        </div>
                        <div id="tab-5" class="tab-content2 current2 current-tab-seconddesign tabcurrent-seconddesign">
                            <form>

                                <div class="col-md-12 col-sm-12 col-xs-12 padd-lr-5 input-border-third">
                                    <fieldset>
                                        <legend>Add Charges</legend>
                                        <div class="row clearfix">
                                            <div class="unload-item item-one">

                                                @Html.DropDownList("RetailerId", (IEnumerable<SelectListItem>)ViewBag.RetailerId, "Select Retailer", new { id = "RetailerId12", @class = "selectpicker form-control", data_live_search = "true" })

                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-6 padd-r-5">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label for="email_address_2">Minimum</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input class="form-control" type="text" placeholder="Min Amount" id="RemMinAmt">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-6 padd-l-5 ">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label for="email_address_2">Maximum</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input class="form-control" type="text" placeholder="Max Amount" id="RemMaxAmt">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix button-seconddesign">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label for="email_address_2">IMPS&nbsp;(Fee)</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input class="form-control" type="text" placeholder="IMPS Fee" id="RemIMPSFee">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 padd-l-5">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label for="email_address_2">NEFT&nbsp;(Fee)</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <input class="form-control" type="text" placeholder="NEFT Fee" id="RemNEFTFee">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="fullbodydycolorbg btn fieldset-save btn-first button-third" id="SaveChargeREM" onClick="window.location.reload()"><span style="color:#fff;">Save</span></button>
                                        </div>
                                    </fieldset>

                                </div>

                            </form>
                            <fieldset style="margin: 0px 5px;">
                                <legend>Wallet Unload Setting</legend>
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div id="First" class="row">
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <label for="email_address_2" style="font-size: 12px;">
                                                    Current Active <span style="color:green;">
                                                        >
                                                    </span><span style="color:red;">></span>
                                                    <span>@ViewBag.unload</span>
                                                </label>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="form-group" style="text-align: right;margin: 0px;">
                                                    <div class="form-line">
                                                        <button onclick="Edit1()" style="background:linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;padding: 4px 23px;border: 0px;color: #fff;border-radius: 15px;"> Edit </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Second" class="row" style="display:none;">
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                @Html.DropDownList("apinm", new List<SelectListItem>
                                                {
                                                  new SelectListItem{Text="24*7 Live", Value="0"},
                                                  new SelectListItem{Text="9:00 AM to 6:00 PM", Value="1"},
                                                  new SelectListItem{Text="10:00 AM to 7:00 PM", Value="2"},
                                                  new SelectListItem{Text="11:00 AM to 8:00 PM", Value="3"},
                                                  new SelectListItem{Text="8:00 AM to 10:00 AM", Value="4"},
                                                  new SelectListItem{Text="11:00 AM to 1:00 PM", Value="5"},
                                                  new SelectListItem{Text="11:00 AM to 4:00 PM", Value="6"},
                                                  new SelectListItem{Text="4:00 PM to 6:00 PM", Value="7"},
                                                  new SelectListItem{Text="Only Sunday Off", Value="8"},
                                                  new SelectListItem{Text="Permanent Off", Value="9"}
                                               }, new { @class = "form-control", @style = "padding:0px;" })
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <div class="form-group" style="text-align: right;margin: 0px;">
                                                    <div class="form-line">
                                                        <button onclick="Save()" style="background:red;padding: 4px 23px;border: 0px;color: #fff;border-radius: 15px;"> Save </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <div class="tab-content cash-charg-tab-first">
                                <div id="Retailer1" class="tab-pane active">
                                    <div style="padding: 10px 10px;padding-top:10px;">
                                        @using (Ajax.BeginForm("_WalletToBankSlabList", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "remcash1" }))
                                        {
                                            <div id="EditPurchageOrder1">
                                                <div class="row">

                                                    <div class="col-md-8">
                                                        @Html.DropDownList("Retailerid", ViewBag.RetailerId2 as SelectList, "Select Retailer ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input id="Retailersubmit1" type="submit" value="Search" class="btn btn-default" />
                                                    </div>
                                                    @*<div id="editbuttonRetailer" class="col-md-3">
                                                            <input type="button" value="Edit" onclick="editRetailer()" class="btn btn-default" />
                                                        </div>*@

                                                </div>
                                            </div>
                                        }
                                        <div id="remcash1">
                                            @Html.Partial("_WalletToBankSlabList")
                                        </div>
                                    </div>
                                </div>



                            </div><!--.three-page-same-->

                        </div><!--  #tab-5 -->
                        <div id="tab-6" class="tab-content2">
                            <div class="banks-modal" id="banks-modal3">
                                <form>

                                    <div class="col-md-12 col-sm-12 col-xs-12 padd-lr-5 input-border-third">
                                        <fieldset>
                                            <legend>Add Charges</legend>
                                            <div class="row clearfix">
                                                <div class="col-md-6 col-sm-6 col-xs-6 padd-r-5">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <label for="email_address_2">Minimum</label>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input class="form-control" type="text" placeholder="Min Amount" id="WhiteMinAmt">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 padd-l-5 ">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <label for="email_address_2">Maximum</label>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input class="form-control" type="text" placeholder="Max Amount" id="WhiteMaxAmt">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="row clearfix button-seconddesign">
                                                <div class="col-md-4 col-sm-4 col-xs-4 ">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <label for="email_address_2">IMPS&nbsp;(Fee)</label>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input class="form-control" type="text" placeholder="IMPS Fee" id="WhiteIMPSFee">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-4 padd-l-5">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <label for="email_address_2">NEFT&nbsp;(Fee)</label>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <input class="form-control" type="text" placeholder="NEFT Fee" id="WhiteNEFTFee">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="fullbodydycolorbg btn fieldset-save btn-first" id="SaveChargeWhite"><span style="color:#fff;">Save</span></button>
                                            </div>
                                        </fieldset>
                                    </div>
                                </form>
                                <div class="table-responsive table-responsive-cashdeposit" style="width:100%; " id="WhiteTbl">
                                    @Html.Partial("_WalletToBankSlabList")
                                </div>
                            </div><!--  #banks-modal3-->
                        </div><!--  .#tab-6-->

                    </div><!-- #tab3-1 -->
                    <div id="tab3-2" class="tab-content3" style="padding-top:10px;">
                        <div class="cash-charg-tab">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="pill" href="#Retailer">Retailer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#Distributor">Distributor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#Master">Master</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#API">API</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#WhiteLabel">WhiteLabel</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content cash-charg-tab-first">
                            <div id="Retailer" class="tab-pane active">
                                <div style="padding: 10px 10px;padding-top:10px;">
                                    @using (Ajax.BeginForm("_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "remcash" }))
                                    {
                                        <div id="EditPurchageOrder">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.DropDownList("Retailerid", ViewBag.Retailerid as SelectList, "Select Retailer ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="Retailersubmit" type="submit" value="Search" class="btn btn-default" />
                                                </div>
                                                <div id="editbuttonRetailer" class="col-md-3">
                                                    <input type="button" value="Edit" onclick="editRetailer()" class="btn btn-default" />
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <div id="remcash" style="margin-top:30px;">
                                        @Html.Partial("_CashDepositCharge", Model)
                                    </div>
                                </div>
                            </div>
                            <div id="Distributor" class=" tab-pane fade">
                                <div style="padding: 10px 10px;padding-top:10px;">
                                    @using (Ajax.BeginForm("_dlm_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "dlmcash" }))
                                    {
                                        <div id="EditPurchageOrder">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.DropDownList("Dealerid", ViewBag.Dealerid as SelectList, "Select Distributor ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="Dealersubmit" type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                                <div id="editbuttonDealer" class="col-md-3">
                                                    <input type="button" value="Edit" onclick="editDealer()" class="btn btn-default" />
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <div id="dlmcash" style="margin-top:30px;">
                                        @Html.Partial("_dlm_CashDepositCharge", Model)
                                    </div>
                                </div>
                            </div>
                            <div id="Master" class=" tab-pane fade">
                                <div style="padding: 10px 10px;padding-top:10px;">
                                    @using (Ajax.BeginForm("_EditPurchageOrder", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "farziidhye" }))
                                    {
                                        <div id="EditPurchageOrder">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.DropDownList("Masterid", ViewBag.Masterid as SelectList, "Select Master ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="mastersubmit" type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                                <div id="editbuttonmaster" class="col-md-3">
                                                    <input type="button" value="Edit" onclick="editmaster()" class="btn btn-default" />
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <div id="farziidhye" style="margin-top:30px;">
                                        @Html.Partial("_EditPurchageOrder", Model)
                                    </div>
                                </div>
                            </div>
                            <div id="API" class=" tab-pane fade">
                                <div style="padding: 10px 10px;padding-top:10px;">
                                    @using (Ajax.BeginForm("_api_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "apicash" }))
                                    {
                                        <div id="EditPurchageOrder">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.DropDownList("Apiid", ViewBag.Apiid as SelectList, "Select API ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="apisubmit" type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                                <div id="editbuttonapi" class="col-md-3">
                                                    <input type="button" value="Edit" onclick="editApi()" class="btn btn-default" />
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <div id="apicash" style="margin-top:30px;">
                                        @Html.Partial("_api_CashDepositCharge", Model)
                                    </div>
                                </div>
                            </div>
                            <div id="WhiteLabel" class="tab-pane fade">
                                <div style="padding: 10px 10px;padding-top:10px;">
                                    @using (Ajax.BeginForm("_white_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "GET", OnFailure = "failed", UpdateTargetId = "whitecash" }))
                                    {
                                        <div id="EditPurchageOrder">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    @Html.DropDownList("Whitelabelid", ViewBag.White as SelectList, "Select WhiteLable ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                                                </div>
                                                <div class="col-md-3">
                                                    <input id="whitesubmit" type="submit" value="Submit" class="btn btn-default" />
                                                </div>
                                                <div id="editbuttonwhite" class="col-md-3">
                                                    <input type="button" value="Edit" onclick="editWhite()" class="btn btn-default" />
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <div id="whitecash" style="margin-top:30px;">
                                        @Html.Partial("_white_CashDepositCharge", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab panes -->

                </div><!-- #tab3-2-->
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="ca-dipo-right page-header-third">
                    <ul class="just-bottom tab-seconddesign tab-third-design" style="display:flex;">
                        <li type="button" class="fli1 acttt" onclick="show('RetailerSRC');"> Unload Retailer Wallet</li>
                        <li type="button" class="fli3" onclick="show('RetailerPOS');"> Pos To Main Wallet</li>
                        <li type="button" class="fli2" onclick="show('WAdminSRC');"> Unload White Label Wallet</li>

                    </ul>

                    <div class="three-page-same padding-top-second">
                        <div class="row clearfix" id="RetailerSRC">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="un-re-wa-right cashdeposit-pdfexl" style="padding-left: 10px;">
                                    <div class="unload-item item-one">
                                        @Html.DropDownList("RetailerId", (IEnumerable<SelectListItem>)ViewBag.RetailerId1, "Select Retailer", new { @class = "selectpicker form-control", data_live_search = "true" })
                                    </div>
                                    <div class="unload-item item-two">
                                        @Html.DropDownList("ddlstatus", new List<SelectListItem>
                                          {
                                      new SelectListItem{ Text="Status",Value="ALL"},
                                       new SelectListItem{ Text="Pending",Value="Pending"},
                                       new SelectListItem{Text="Success",Value="Success"},
                                       new SelectListItem{Text="Rejected",Value="Rejected"}
                                      }, new { @class = "selectpicker form-control", data_live_search = "false" })

                                    </div>
                                    <div class="unload-item special-iii item-three">
                                        <div class="leftt">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background: #fff;" })
                                                <span class="input-group-addon" style="max-width:5px;">

                                                </span>
                                                <div class="for-position">
                                                    <div class="custom-date-icon">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background: #fff;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rightt buttonsearch-second">
                                            <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="background:#fff;">
                                                <i class="fa fa-search"></i>
                                                <span>Search</span>
                                            </button>
                                        </div>

                                        <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas cashpdfclass" style="width:auto;float:right;">
                                            <div class="web-white-filter fil" style="float: left;margin-right: 0px;width:auto;float:right;">
                                                <button type="button" id="" name="" value="Export" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb;background: url(../../images/reportimage/xls.png) no-repeat;background-position: 4px center; padding-left: 19px;background-color:#fff;">Export</button>
                                                <button type="button" id="" name="" value="PDF" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb;background: url(../../images/reportimage/pdf.png) no-repeat;background-position: 4px center; padding-left: 19px;background-color:#fff;">PDF</button>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                                <div id="RetailerSearchList">
                                    @Html.Partial("Unload_Retailer_Wallet", Model)
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row clearfix" id="RetailerPOS" style="display:none;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="un-re-wa-right cashdeposit-pdfexl" style="padding-left: 10px;">
                                    <div class="unload-item item-one">
                                        @Html.DropDownList("RetailerIdpos", (IEnumerable<SelectListItem>)ViewBag.RetailerId11, "Select Retailer", new { @class = "selectpicker form-control", data_live_search = "true" })
                                    </div>

                                    <div class="unload-item special-iii item-three">
                                        <div class="leftt">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_datepos", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background: #fff;" })
                                                <span class="input-group-addon" style="max-width:5px;">

                                                </span>
                                                <div class="for-position">
                                                    <div class="custom-date-icon">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_datepos", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background: #fff;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rightt buttonsearch-second">
                                            <button type="submit" id="RetailerPOSMAINSearch" class="btn  waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="background:#fff;">
                                                <i class="fa fa-search"></i>
                                                <span>Search</span>
                                            </button>
                                        </div>

                                        <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas cashpdfclass" style="width:auto;float:right;">
                                            <div class="web-white-filter fil" style="float: left;margin-right: 0px;width:auto;float:right;">
                                                <button type="button" id="" name="" value="Export" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb;background: url(../../images/reportimage/xls.png) no-repeat;background-position: 4px center; padding-left: 19px;background-color:#fff;">Export</button>
                                                <button type="button" id="" name="" value="PDF" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb;background: url(../../images/reportimage/pdf.png) no-repeat;background-position: 4px center; padding-left: 19px;background-color:#fff;">PDF</button>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                                <div id="RetailerPOSSearchList">
                                    @*@Html.Partial("POS_Retailer_MAINWallet", Model)*@
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix" id="WAdminSRC" style="display:none">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="un-re-wa-right cashdeposit-pdfexl">
                                    <div class="unload-item item-one" style="padding-left: 10px;">
                                        @Html.DropDownList("Whitelabel", ViewBag.whitelabel as SelectList, "Select Whitelabel", new { id = "Whitelabel", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px;  padding:0px;text-align:center;height:34px;" })
                                    </div>
                                    <div class="unload-item item-two">
                                        @Html.DropDownList("ddlstatus", new List<SelectListItem>
                                          {
                                      new SelectListItem{ Text="Status",Value="ALL"},
                                       new SelectListItem{ Text="Pending",Value="Pending"},
                                       new SelectListItem{Text="Success",Value="Success"},
                                       new SelectListItem{Text="Rejected",Value="Rejected"}
                                      }, new { @class = "selectpicker form-control", data_live_search = "false" })

                                    </div>
                                    <div class="unload-item special-iii item-three">
                                        <div class="leftt">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background:#fff;" })
                                                <span class="input-group-addon" style="max-width:5px;">

                                                </span>
                                                <div class="for-position">
                                                    <div class="custom-date-icon">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", autocomplete = "off", @style = "background:#fff;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rightt buttonsearch-second">
                                            <button type="submit" id="WAdminSearch" class="btn  waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="background:#fff;">
                                                <i class="fa fa-search"></i>
                                                <span>Search</span>
                                            </button>
                                        </div>
                                        <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas cashpdfclass" style="width:auto;float:right;">

                                            <div class="web-white-filter fil" style="float: left;margin-right: 0px;width:auto;float:right;">
                                                <button type="button" id="" name="" value="Export" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb; background: url(../../images/reportimage/xls.png) no-repeat; background-position: 4px center; padding-left: 19px; background-color: #fff;">Export</button>
                                                <button type="button" id="" name="" value="PDF" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb; background: url(../../images/reportimage/pdf.png) no-repeat; background-position: 4px center; padding-left: 19px; background-color: #fff;">PDF</button>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div id="WAdminSearchList">
                                    @Html.Partial("Unload_Retailer_Wallet", Model)
                                </div>

                            </div>
                        </div><!--.row-->



                    </div><!--.three-page-same-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========   Wallet To Bank Charge Add New Modal  =============-->
<div id="myModal" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content fullbodydycolorbg">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel" style="color:#fff;">Add Charge Category</h4>
            </div>
            @using (Ajax.BeginForm("AddWalletToBankSlab", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dataTable", InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess", LoadingElementId = "div_Loader" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="color:#fff;">Amount From</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("amtFromTatkal", "", new { onkeypress = "validate(event)", @class = "form-control searchInput", placeholder = "Enter From Amount", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="color:#fff;">Amount To</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("amtToTatkal", "", new { onkeypress = "validate(event)", @class = "form-control searchInput", placeholder = "Enter To Amount", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="color:#fff;">Charge</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("chargeTatkal", "", new { onkeypress = "validate(event)", @class = "form-control searchInput", placeholder = "Enter Charge", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="color:#fff;">Time</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("TimeTakesTatkal", "", new { @class = "form-control searchInput", placeholder = "Enter Time in Hours", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer special-iii">
                                <button type="submit" class="btn waves-effect btnssl2233 enableOnInput" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled="disabled">
                                    Save Change
                                </button>
                                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal">
                                    Close
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<script>
    function Unblock() {
            var url = '@Url.Action("UnblockWallet", "Home")';
            $.ajax({
            url: url,
            success: function(data)
            {
              location.reload();
            }
        });
    }
</script>
<script>
    function editmaster() {
        $('#editbuttonmaster').hide();
        $('#btnsubmit').show();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
    }
    function editRetailer() {
        $('#editbuttonRetailer').hide();
        $('#btnsubmit1').show();
        $('#tbodyshowretailer').hide();
        $('#tbodyeditretailer').show();
    }
    function editDealer() {
        $('#editbuttonDealer').hide();
        $('#btnsubmit2').show();
        $('#tbodyshowdealer').hide();
        $('#tbodyeditdealer').show();
    }

    function editApi() {
        $('#editbuttonapi').hide();
        $('#btnsubmit3').show();
        $('#tbodyshowapi').hide();
        $('#tbodyeditapi').show();
    }
    function editWhite() {
        $('#editbuttonwhite').hide();
        $('#btnsubmit4').show();
        $('#tbodyshowwhite').hide();
        $('#tbodyeditwhite').show();
    }
</script>
<script>
    function success() {
        $('#editbuttonmaster').show();
        $('#btnsubmit').hide();
        $('#tbodyshow').show();
        $('#tbodyedit').hide();
        //$('#mastersubmit').submit();
    }
    function success1() {
        $('#editbuttonRetailer').show();
        $('#btnsubmit1').hide();
        $('#tbodyshowretailer').show();
        $('#tbodyeditretailer').hide();
        //$('#Retailersubmit').submit();
    }
    function success2() {
        $('#editbuttonDealer').show();
        $('#btnsubmit2').hide();
        $('#tbodyshowdealer').show();
        $('#tbodyeditdealer').hide();
        $('#Dealersubmit').submit();
    }

    function success3() {
        $('#editbuttonApi').show();
        $('#btnsubmit3').hide();
        $('#tbodyshowapi').show();
        $('#tbodyeditapi').hide();
        $('#Apisubmit').submit();
    }

    function success4() {
        $('#editbuttonWhite').show();
        $('#btnsubmit4').hide();
        $('#tbodyshowWhite').show();
        $('#tbodyeditWhite').hide();
        $('#Whitesubmit').submit();
    }
</script>

<!--=======    Modal For Bank Details   ========-->
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    function failed(error) {
        alert(error.statusText);
    }
    function failed1(error) {
        alert(error.statusText);
    }
</script>
<script>
    $('select').select2();
</script>
<!------------------------>
<script>
$(function(){
    $("button.shownextrow").click(function () {
        $(this).closest("tr").next().show();
        $(this).closest("tr").hide();
    });
     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });
</script>
<script>
    window.onload = function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }

    }
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            sweetAlert("Oops...", data, "error");
        }
        })
</script>
<script>
    //window.onload=function()
    //{
    //   // alert();
    //}
    function reloadTable()
    {
        var url = '@Url.Action("_WalletToBankSlabList", "Home")';
        $("#div_Loader").show();
        $.ajax({
            url: url,
            dataType: "html",
            success: function(data)
            {
                $("#div_Loader").hide();
                $("#dataTable").html(data);
            },
            error:function()
            {
                $("#div_Loader").hide();
                alert("Error");
            }
        });
        //alert();

    }
    function OnSuccess()
    {
        $('#closebtn').click();

    }
    function clearForm()
    {
        $("#form0").trigger("reset");
    }
</script>
<script>
    $(function () {
        $("button#edit-to-change").click(function () {
            $('#banks-modal2').show();
            $('#banks-modal1').hide();
        });
        $("button#edit-to-change1").click(function () {
            $('#banks-modal4').show();
            $('#banks-modal3').hide();
        });
        $("button#edit-to-change2").click(function () {
            $('#banks-modal6').show();
            $('#banks-modal5').hide();
        });
        $("button#edit-to-change3").click(function () {
            $('#banks-modal8').show();
            $('#banks-modal7').hide();
        });
    });
</script>
<!--  ==   Script For tabs2  ==--->
<script type="text/javascript">
    $(function () {

        $('ul.tabs2 li').click(function () {
            var tab_id = $(this).attr('data-tab');


            $('ul.tabs2 li').removeClass('current2');
            $('.tab-content2').removeClass('current2');


            $(this).addClass('current2');
            $("#" + tab_id).addClass('current2');

        })

    })
</script>
<!--  ==   Script For tabs3  ==--->
<script type="text/javascript">
    $(function () {

        $('ul.tabs3 li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs3 li').removeClass('current3');
            $('.tab-content3').removeClass('current3');

            $(this).addClass('current3');
            $("#" + tab_id).addClass('current3');
        })

    })
</script>

<script>
    $('#RetailerSearch1').click(function () {

        $.ajax({
            url: '@Url.Action("_WalletToBankSlabList", "Home")',
            type: 'GET',
            data: { Role: "Retailer",RetailerId: $("#RetailerId").val() },
            success: function (response) {

                $('#RetailerSearchList1').html(response);


                }
        })
    })




    $('#RetailerSearch').click(function () {

        $.ajax({
            url: '@Url.Action("Unload_Retailer_Wallet","Home")',
            type: 'POST',
            data: { ddlusers: "Retailer",RetailerId: $("#RetailerId").val(),ddlstatus: $("#ddlstatus").val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
            success: function (response) {

                $('#RetailerSearchList').html(response);


                }
        })
    })

    $('#RetailerPOSMAINSearch').click(function () {

        $.ajax({
            url: '@Url.Action("POS_Retailer_MAINWallet", "Home")',
            type: 'POST',
            data: { RetailerId: $("#RetailerIdpos").val(),txt_frm_date: $('#txt_frm_datepos').val(), txt_to_date: $('#txt_to_datepos').val() },
            success: function (response) {

                $('#RetailerPOSSearchList').html(response);


                }
        })
    })


    $('#WAdminSearch').click(function () {
        $.ajax({
            url: '@Url.Action("Unload_Retailer_Wallet","Home")',
            type: 'POST',
            data: { ddlusers: "WAdmin", RetailerId: $("#Whitelabel").val(), ddlstatus: $("#ddlstatus").val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
            success: function (response) {

                $('#WAdminSearchList').html(response);


            }
        });
    })

    $('#VendorSearch').click(function () {

        $.ajax({
            url: '@Url.Action("Unload_Retailer_Wallet","Home")',
            type: 'POST',
            data: { ddlusers: "Vendor",RetailerId: $("#VendorId").val(),ddlstatus: $("#ddlstatus").val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
            success: function (response) {

                $('#VendorSearchList').html(response);


                }

        })
    })

</script>
<script type="text/javascript">

    function show(elementId) {
        if (elementId == "RetailerSRC") {
            document.getElementById("RetailerSRC").style.display = "block";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("RetailerPOS").style.display = "none";

        }
        if (elementId == "RetailerPOS") {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("RetailerPOS").style.display = "block";

        }
        else if (elementId == "WAdminSRC") {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "block";
            document.getElementById("RetailerPOS").style.display = "none";

        }
        else {
            document.getElementById("RetailerSRC").style.display = "block";
            document.getElementById("WAdminSRC").style.display = "none";
            //   document.getElementById("VendorSRC").style.display = "block";
            document.getElementById("RetailerPOS").style.display = "none";
        }
    }
</script>
<script>
    $(function () {
        $('.ca-dipo-right ul.just-bottom li.fli2').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli3').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli2").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli1').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli2,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });
    });
</script>
<script>
    $('#SaveChargeREM').click(function () {
        debugger;
        $.ajax({
            url: '@Url.Action("AddWalletToBankSlab","Home")',
            type: 'POST',
            data: { amtFromTatkal: $("#RemMinAmt").val(), amtToTatkal: $("#RemMaxAmt").val(), IMPSFee: $("#RemIMPSFee").val(), NEFTFee: $("#RemNEFTFee").val(), RetailerId: $("#RetailerId12").val(), Role: "Retailer" },
            success: function (response) {
                   $('#RemTbl').html(response);
                   $("#RemMinAmt").val(''),
                   $("#RemMaxAmt").val(''),
                   $('#RemTime').val(''),
                   $("#RemIMPSFee").val(''),
                   $("#RemNEFTFee").val('')
                $("#RetailerId12").val('')
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    })

    $('#SaveChargeWhite').click(function (){
        $.ajax({
            url: '@Url.Action("AddWalletToBankSlab","Home")',
            type: 'POST',
            data: { amtFromTatkal: $("#WhiteMinAmt").val(), amtToTatkal: $("#WhiteMaxAmt").val(),IMPSFee: $("#WhiteIMPSFee").val(),NEFTFee: $("#WhiteNEFTFee").val(), Role: "WhiteLabel" },
            success: function (response) {
                $('#WhiteTbl').html(response);
                $("#WhiteMinAmt").val(''),
                    $("#WhiteMaxAmt").val(''),
                    $('#WhiteTime').val(''),
                    $("#WhiteIMPSFee").val(''),
                    $("#WhiteNEFTFee").val('')
            }
        });
    })

    $('#SaveChargeSeller').click(function () {
        $.ajax({
            url: '@Url.Action("AddWalletToBankSlab","Home")',
            type: 'POST',
            data: { amtFromTatkal: $("#SellerMinAmt").val(), amtToTatkal: $("#SellerMaxAmt").val(), IMPSFee: $("#SellerIMPSFee").val(),NEFTFee: $("#SellerNEFTFee").val(), Role: "Seller" },
            success: function (response) {

                $('#SellerTbl').html(response);

                $("#SellerMinAmt").val(''),
                    $("#SellerMaxAmt").val(''),
                    $('#SellerTime').val(''),
                    $("#SellerIMPSFee").val(''),
                    $("#SellerNEFTFee").val('')
            }
        });
    })

        $('.RemTab').click(function () {
          $.ajax({
            url: '@Url.Action("_WalletToBankSlabList","Home")',
              type: 'POST',
              data: { Role: "Retailer",RetailerId: $("#RetailerId12").val() },
            success: function (response) {

                $('#RemTbl').html(response);

            }
        });
    })

    $('.WhiteLabelTab').click(function () {
          $.ajax({
            url: '@Url.Action("_WalletToBankSlabList","Home")',
              type: 'POST',
              data: { Role: "WhiteLabel" },
            success: function (response) {

                $('#WhiteTbl').html(response);

            }
        })
    })

    $('.SellerTab').click(function () {
          $.ajax({
            url: '@Url.Action("_WalletToBankSlabList","Home")',
              type: 'POST',
              data: { Role: "Seller" },
            success: function (response) {

                $('#SellerTbl').html(response);

            }
        });
    })
</script>
<script>
    function Edit1() {
        var mn = '@ViewBag.unload1';
        $("#apinm").val(mn).trigger('change');
        $('#First').hide();
        $('#Second').show();
    }
    function Save() {
      $.ajax({
            url: '@Url.Action("updatecashcharge", "Home")',
            type: 'POST',
          data: { apinm: $("#apinm").val()},
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
</script>

@*$(function () {
        $('#SaveChargeREM').click(function () {
            location.reload();
        });
    });*@




