@model IEnumerable<Vastwebmulti.Models.Opt_codes_Result>
@{
    ViewBag.Title = "ChangeOperatorcode";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    @Html.Partial("_menuoperatorcode")

                </div>
            </div>


        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-39px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            All Operators Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-23px;">
                            <table class="table table-bordered ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Operator Name</th>
                                        <th>Operator Type</th>
                                        <th>Code</th>
                                        <th>Edit</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model)
                                            {

                                                var color1 = "#424242";
                                                var color = "#fff";
                                                if (item.Operator_type == "PrePaid")
                                                {
                                                    color1 = "#484343";
                                                    color = "#f7f1f3";
                                                }
                                                else if (item.Operator_type == "PostPaid")
                                                {
                                                    color1 = "#484343";
                                                    color = "#25c59121";
                                                }
                                                else if (item.Operator_type == "Landline")
                                                {
                                                    color1 = "#484343";
                                                    color = "#2531c51a";
                                                }
                                                else if (item.Operator_type == "Insurance")
                                                {
                                                    color1 = "#484343";
                                                    color = "#c525c01a";
                                                }
                                                else if (item.Operator_type == "Gas")
                                                {
                                                    color1 = "#484343";
                                                    color = "#c3c5251a";
                                                }
                                                else if (item.Operator_type == "Electricity")
                                                {
                                                    color1 = "#484343";
                                                    color = "#71c5251a";
                                                }
                                                else if (item.Operator_type == "DTH")
                                                {
                                                    color1 = "#484343";
                                                    color = "#13090f1a";
                                                }
                                                else if (item.Operator_type == "DTH-Booking")
                                                {
                                                    color1 = "#484343";
                                                    color = "#1488ab1a";
                                                }
                                                else if (item.Operator_type == "INDO NEPAL")
                                                {
                                                    color1 = "#484343";
                                                    color = "#25c52a1a";
                                                }
                                                else if (item.Operator_type == "Money")
                                                {
                                                    color1 = "#484343";
                                                    color = "#c5252521";
                                                }
                                                else if (item.Operator_type == "PAN")
                                                {
                                                    color1 = "#484343";
                                                    color = "#25c52a21";
                                                }
                                                else if (item.Operator_type == "Water")
                                                {
                                                    color1 = "#484343";
                                                    color = "#f3f7f1";
                                                }
                                             <tr style="background-color: @color;color:@color1;">
                                                <td>@i</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.operator_Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Operator_type)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.new_opt_code)
                                                </td>
                                                <td>
                                                    <button type="button" style="background-color:transparent; border:none;color:green;" data-toggle="modal" data-target="#defaultModal"
                                                            onclick="animation('@item.new_opt_code','@item.operator_Name')">
                                                        <i class="fa fa-edit fa-2x" style="font-size:24px;color:#607D8B;"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                                i++;
                                            }
                                        }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Edit Operator code   modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Change Operator Code</h4>
            </div>
         @using (Html.BeginForm("change_opt", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtoptnm", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Old&nbsp;Operator&nbsp;Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtoptcode", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">New&nbsp;Operator&nbsp;Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtnewoptcode", "", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary waves-effect">Save Change</button>
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
       var val1 = "";
       function animation(optcode, optname) {

           $("#txtoptnm").val(optname);
           $("#txtoptcode").val(optcode);

       }
</script>

<script>
    window.onload=function()
    {
        var succ = '@TempData["value"]'
        if (succ != null && succ != "")
        {
            swal("Good job!", succ, "success")
        }
        var fali = '@TempData["wrong"]'
        if (fali != null && fali != "") {
            swal("Oops...", fali, "error")
        }

    }

</script>

