@using Vastwebmulti.Models;
@model Tuple<ChangePasswordViewModel, ChangeTransactionViewModel, ChangeSecurityViewModel>

@{
    ViewBag.Title = "ChangeSecurityPassword";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css */

    .pageheader-second-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    /* new css */


    .custom-off {
        text-align: right;
        width: 100%;
        padding: 8px 5px 2px 29px !important;
        background: #f0f0f0;
        color: #2b2929;
        font-weight: 700;
    }

    .costom-on {
        text-align: right;
        width: 100%;
        padding: 8px 5px 2px 29px !important;
        background: #f0f0f0;
        color: #2b2929;
        font-weight: 700;
    }
    .onoffswitch {
        width: 32px;
        height: 32px;
        margin-left: 5px;
        float: right;
    }
    .onoffswitch1 {
        width: 32px;
        height: 32px;
        margin-left: 5px;
        float: right;
    }

    .costom-on::after {
        width: 20px;
        height: 20px;
        top: 5px;
        left:5px;
    }

    .custom-off::before {
        width: 20px;
        height: 20px;
        top: 5px;
        left: 5px;
    }

    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }

    #error-message-one, #error-message-security, #error-message {
        color: red;
        font-size: 14px;
        width: 100%;
        margin-bottom: 15px;
    }

    @@media only screen and (max-width:480px) {
        .login-pass-top {
            display: inline-block;
            width: 100%;
        }

        .login-pass-top-inner > .col-md-5 p {
            line-height: 22px !important;
            margin-bottom: 6px;
        }

        .login-pass-top-inner > .col-md-5 .body {
            padding: 0px;
            margin-bottom: 10px;
        }

        .login-pass-seond.body {
            padding: 0px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
    /********************** Start Reset Pin Popup************************************/
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 420px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 25px;
        height: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 25px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    /* ----- v CAN BE DELETED v ----- */
    

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }

    .demo-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background-color: #212121;
        text-align: center;
    }

        .demo-footer > a {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
        }

    .toast-top-right1 {
        top: 78px;
        left: 81%;
    }

    .modai-body-out .form-group .form-control, .modai-body-out .btn {
        background: transparent;
        padding: 0px 20px;
        margin: 0;
    }

    .modai-body-out .row {
        margin: 0px;
    }

    .modai-body-out .col-xs-12, .modai-body-out .col-sm-12, .modai-body-out .col-md-12, .modai-body-out .col-lg-12 {
        padding: 0px;
    }

    .modai-body-out .form-group {
        margin-bottom: 15px;
    }

    .modal-header span {
        color: var(--main-bg-lcolor);
        font-size: 34px;
    }

    .modal-header button {
        opacity: 1;
    }

   
    .modai-body-out .btn {
        float: right;
        margin-top: 15px;
    }

    .modai-body-in {
        background: #eae9e9;
        width: 100%;
        float: left;
        padding-top: 20px;
        border: 5px solid;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

    @@media only screen and (max-width:480px) {
        .reset-responcive {
            width: 100% !important;
            float: left;
            text-align: left !important;
        }

            .reset-responcive button {
                width: 100%;
                margin-bottom: 10px !important;
            }
    }


    .hide_otp input {
        width: 40px !important;
        height: 32px !important;
        text-align: center;
        font-size: 19px;
    }
    /* Chrome, Safari, Edge, Opera */
        .hide_otp input::-webkit-outer-spin-button,
        .hide_otp input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    /* Firefox */
        .hide_otp input[type=number] {
            -moz-appearance: textfield;
        }
    .otp_set2 {
        text-align: left;
    }
    .otp_set3 {
        text-align: left;
    }

    /********************** End Reset Pin Popup************************************/

    /**/


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px){

        .reset-responcive {
            width: 100% !important;
            float: left;
            padding: 6px 0px;
        }
        .pageheader-second-third {
            display: table;
        }

    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }
   
    @@media only screen and (max-width:710px)
    {

        .res_div {
            width: 50%;
            padding: 0px 2px 6px 2px;
        }
        .KYCON {
            width: 100% !important;
        }


    }
    @@media only screen and (max-width:600px)
    {
        .res_div
        {
            width: 50%;
            padding: 0px 2px 6px 2px;
        }
        .RECHARGEON 
        {
            width:100% !important;
        }  
    }

    @@media only screen and (max-width:480px){


        .res_div {
            width: 100%;
            padding: 0px 0px 6px 0px;
        }


    }



    /**/

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<!--Change Password for your Website-->
<section class="content fourdesign-section-admin">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Change Security Password</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>

                <li><a href="javascript:void(0);">Change Security Password</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third pageheader-three-third">
            <div class="bread-same-all-page reset-responcive breadsameall-second responcivefullmarg-third four-noneclass-admin-only" style="width:30%">
                <ul style="margin: 0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Set Password
                    </li>
                </ul>
            </div>
            <!-- Start Admin Reset Pin of Distributors and Retailers -->
            <div class="reset-responcive responcivefullmarg-third fourwidth-none-admin" style="width:70%; float:left;text-align: right;">
                <div class="res_div" style="float: left; ">
                    @*<span style="font-size:11px;display:block;">UPI EKYC Status</span>*@
                    @if (ViewBag.dmtotpsts != null)
                    {
                        if (ViewBag.dmtotpsts.status == true)
                        {
                            <div class="KYCON onoffswitch" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                <span class="costom-on" style=" font-size: 10px;" onclick="KYCONOFF('KYCON')">IMPS PIN/OTP SWITCH</span>
                            </div>
                        }
                        else
                        {
                            <div class="KYCON onoffswitch" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                <span class="custom-off" style="font-size: 10px;" onclick="KYCONOFF('KYCON')">IMPS PIN/OTP SWITCH</span>
                            </div>
                        }
                    }
                </div>
                <div class="res_div" style="float: left;">
                    @if (ViewBag.rechargeotpsts != null)
                    {
                            if (ViewBag.rechargeotpsts.status == true)
                            {
                              <div class="RECHARGEON onoffswitch" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                  <span class="costom-on" style=" font-size: 10px;" onclick="RECHARGEPINONOFF('RECHARGEON')">RECHARGE PIN </span>   
                              </div>
                            }
                            else
                            {
                              <div class="RECHARGEON onoffswitch" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                  <span class="custom-off" style="font-size: 10px;" onclick="RECHARGEPINONOFF('RECHARGEON')">RECHARGE PIN </span> 
                              </div>

                            }
                    }
                </div>
                <div class="res_div" style="float: left;">
                    @if (ViewBag.failedotpsts != null)
                    {
                        if (ViewBag.failedotpsts == true)
                        {
                            <div class="KYCON onoffswitch onoffswitch1" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                <span class="costom-on" style=" font-size: 10px;" onclick="Recharge('ON')">Recharge/Utility Failed OTP</span>
                            </div>
                        }
                        else
                        {
                            <div class="KYCON onoffswitch onoffswitch1" style="float: right; width: auto; background: #f0f0f0 !important; ">
                                <span class="custom-off" style="font-size: 10px;" onclick="Recharge('OFF')">Recharge/Utility Failed OTP</span>
                            </div>
                        }
                    }
                </div>


                <button style="padding:0px 10px;margin: 0px 6px 0px 0px;color:#fff;border:0px;" type="button" class="btn btn-demo fullbodydycolorbg back-button-third header-button-thirddesign" data-toggle="modal" data-target="#myModal3">
                    <img src="~/AdminDesign/images/settings.svg" style="height: 20px;margin-right: 5px;" />Reset Distributors Pin
                </button>

                <button style="padding: 0px 10px; margin: 0px 0;color:#fff;border:0px;" type="button" class="btn btn-demo fullbodydycolorbg back-button-third header-button-thirddesign" data-toggle="modal" data-target="#myModal2">
                    <img src="~/AdminDesign/images/settings.svg" style="height: 20px;margin-right: 5px;" />Reset Retailers Pin
                </button>



            </div>
        </div>

        <!-- Dealer Modal -->
        <div class="modal right fade" id="myModal3" role="dialog" aria-labelledby="myModalLabel3" style="padding-top:63px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel3">Distributor Information</h4>
                    </div>

                    <div class="modal-body modai-body-out">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label style="padding-left:0;">Select Distributor</label>
                            </div>
                            <div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DropDownList("DistributorList", (IEnumerable<SelectListItem>)ViewBag.DealerList, "Select Distributor", new { id = "DistributorDDL", @class = "for-select2 form-control", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;-webkit-appearance: none;", @required = "required", @onchange = "GetDistributorDetails();" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modai-body-in">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Distributor Name :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DistributorName", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Firm Name :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DistributorFirmName", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Mobile No :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DistributorMobileNo", "", new { @class = "form-control", @readonly = "readonly" ,id= "DistributorMobileNo" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Address :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("DistributorAddress", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="position:relative;">
                            @{
                                var asd1 = Convert.ToString(Session["chk1"]);

                                if (asd1 != null && asd1 != "0" && asd1 != "")
                                {

                                    <a href="#" onclick="otpsendD('12')" id="forgetpass" style=" position: absolute; bottom: 5px; right: -2px; padding: 2px 5px; color: green;">Send OTP</a>
                                    <div class="hide_otp">
                                        <div class="row clearfix ">
                                            <div class="col-md-4" style="padding: 0; width: 25.333333%; padding-top: 6px; ">
                                                <label class="required" style=" margin-top: 0.5rem;">Enter&nbsp;OTP</label>
                                            </div>

                                            <div class="col-md-8">


                                                @*<input type="number" id="OTp" name="OTp" placeholder="Enter OTP" required="required" maxlength="4" style="height: 31px; width: 100%; border: 2px solid #dad9df; outline: none; text-align: center; font-size: 1.5em; border-radius: -1.7em; background-color: #ffffff; outline: none; margin-top: 6px; " />*@
                                                <div class="inputfield" style=" width: 100%; margin-top: 5px; text-align: end; ">


                                                    <div class="otp_set2">

                                                        <input class="tested" type="number" id="oTP"  maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" required>
                                                        <input class="tested" type="number" id="oTP1" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" required>
                                                        <input class="tested" type="number" id="oTP2" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" required>
                                                        <input class="tested" type="number" id="oTP3" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" required>



                                                    </div>

                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <button type="button" class="btn btn-demo fullbodydycolorbg" style="color: #fff;border: 0;width: 100%;font-size: 16px;" onclick="DistributorResetPin()">
                            Reset Transaction Pin
                        </button>
                    </div>

                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- Dealer modal -->
        <!-- Retailer Modal -->
        <div class="modal right fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel2" style="padding-top:63px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">Retailer Information</h4>
                    </div>

                    <div class="modal-body modai-body-out">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label>Retailer</label>
                            </div>
                            <div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DropDownList("RetailerList", (IEnumerable<SelectListItem>)ViewBag.RetailerList, "Select Retailer", new { id = "RetailerList", @class = "for-select2 form-control", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;-webkit-appearance: none;", @required = "required", @onchange = "GetRetaileretails();" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modai-body-in">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Retailer Name :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("RetailerName", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Firm Name :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("FirmName", "", new { @class = "form-control", @readonly = "readonly", id= "FirmName" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Mobile No :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("MobileNo", "", new { @class = "form-control", @readonly = "readonly", id = "MobileNo" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Address :-</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("RetailerAddress", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            @{
                                var asd2 = Convert.ToString(Session["chk1"]);

                                if (asd2 != null && asd2 != "0" && asd2 != "")
                                {
                                    <a href="#" onclick="otpsendR('12')" id="forgetpass" style="position: absolute; bottom: 84px; right: 23px; padding: 2px 5px; color: green;">Send OTP</a>
                                    <div class="hide_otp">
                                        <div class="row clearfix ">
                                            <div class="col-md-4" style="padding: 0; width: 25.333333%; padding-top: 6px;">
                                                <label class="required" style=" margin-top: 0.5rem;">Enter&nbsp;OTP</label>
                                            </div>

                                            <div class="col-md-8">


                                                @*<input type="number" id="OTp" name="OTp" placeholder="Enter OTP" required="required" maxlength="4" style="height: 31px; width: 100%; border: 2px solid #dad9df; outline: none; text-align: center; font-size: 1.5em; border-radius: -1.7em; background-color: #ffffff; outline: none; margin-top: 6px; " />*@
                                                <div class="inputfield" style=" width: 100%; margin-top: 5px; text-align: end; ">


                                                    <div class="otp_set3">

                                                        <input class="tested" type="number" id="oTP4" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" required>
                                                        <input class="tested" type="number" id="oTP5" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" required>
                                                        <input class="tested" type="number" id="oTP6" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" required>
                                                        <input class="tested" type="number" id="oTP7" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" required>



                                                    </div>

                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <button type="button" class="btn btn-demo fullbodydycolorbg" style="color: #fff;border: 0; width: 100%; font-size:16px;" onclick="ResetPin()">
                            Reset Transaction Pin
                        </button>
                    </div>

                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- Retailer modal -->
        <!-- End Admin Reset Pin of Distributors and Retailers -->
        <!--Change Login Password -->
        <div class="row clearfix">
            <div class="col-md-12" style="width: 100%;float: left;">
                <div class="card page-header-third">
                    <p class="login-pass-top menucoloerfour-design" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Login&nbsp;Password</p>
                    <div class="row login-pass-top-inner">
                        <div class="col-md-5">
                            <div class="body">
                                <div class="background-all-second password-third boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Important</p></center>
                                    <p style="line-height:32px;padding-left:10px;">1.Password must be Required one Special character</p>
                                    <p style="line-height:32px;padding-left:10px;">2.Password must be Required one Digit Number</p>
                                    <p style="line-height:32px;padding-left:10px;">3.Password must be Required one Lowercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one Uppercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">5.Password must be Required one alphabet character</p>
                                    <p style="line-height:32px;padding-left:10px;">6.Password must be Required Minimum Length Six character</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div class="background-all-second boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Login&nbsp;Password</p></center>
                                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                <div class="body" style="margin-top:20px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <label class="required">Old Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item1.OldPassword, "", new { @class = "text-danger" })</p>
                                            <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.PasswordFor(tuple => tuple.Item1.OldPassword, new { @class = "form-control", @required = "" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <label class="required">New Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item1.NewPassword, "", new { @class = "text-danger" })</p>
                                            <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.PasswordFor(tuple => tuple.Item1.NewPassword, new { @class = "form-control", @required = "" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <label class="required">Confirm Password</label>
                                        </div>
                                        <div class="col-md-8">
                                            <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                            <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.PasswordFor(tuple => tuple.Item1.ConfirmPassword, new { @class = "form-control", @required = "" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                  
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                            <div class="" style="float:right;">
                                                                <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                                <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                                <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Change Transaction Passsword-->
        <div class="row clearfix">
            <div class="col-md-12">
                <label id="error-message-one"></label>
                <div class="card page-header-third" style="margin-top:-11px;">
                    <p class="menucoloerfour-design" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Transaction&nbsp;Password</p>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="body login-pass-seond">
                                <div class="background-all-second boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;height: 263px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Reset&nbsp;Transaction&nbsp;Password</p></center>
                                    @using (Html.BeginForm("Resend_Transactionpass", "Home", FormMethod.Post, new { id = "resttarnspass" }))
                                    {
                                <div class="body" style="margin-top:20px;">
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <label class="required">Email&nbsp;Id</label>
                                        </div>
                                        <div class="col-md-8">

                                            <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="txtemail" required name="txtemail" class="form-control" placeholder="Enter Registered Email" />

                                                </div>
                                                <label id="error-message"></label>
                                            </div>
                                        </div>
                                    </div>
                                    @{
                                        var asd = Convert.ToString(Session["chk1"]);

                                        if (asd != null && asd != "0" && asd != "")
                                        {

                                            <a href="#" onclick="otpsend('12')" id="forgetpass" style=" position: absolute; top: 72px; right: 60px; padding: 2px 5px; color: green;">Send OTP</a>

                                            <div class="hide_otp">
                                                <div class="row clearfix ">
                                                    <div class="col-md-4">
                                                        <label class="required" style=" margin-top: 0.5rem;">Enter&nbsp;OTP</label>
                                                    </div>

                                                    <div class="col-md-8">


                                                        @*<input type="number" id="OTp" name="OTp" placeholder="Enter OTP" required="required" maxlength="4" style="height: 31px; width: 100%; border: 2px solid #dad9df; outline: none; text-align: center; font-size: 1.5em; border-radius: -1.7em; background-color: #ffffff; outline: none; margin-top: 6px; " />*@
                                                        <div class="inputfield" style=" width: 100%; margin-top: 5px; text-align: end; ">


                                                            <div class="otp_set">

                                                                <input class="tested" type="number" name="oTP" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" required>
                                                                <input class="tested" type="number" name="oTP1" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" required>
                                                                <input class="tested" type="number" name="oTP2" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" required>
                                                                <input class="tested" type="number" name="oTP3" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" required>



                                                            </div>

                                                        </div>




                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-bottom:0px;margin-top:11px;">
                                                <center>
                                                    <div class="">

                                                        <p class="btn   waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;float:right;">Change Password</p>
                                                        <button type="submit" class="btn  waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;float:right; line-height: 18px;" onclick="confrim()">Sure ?</button>
                                                    </div>
                                                </center>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div class="background-all-second boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Transaction &nbsp;Password</p></center>
                                    @using (Html.BeginForm("Edit_Transactionpass", "Home", FormMethod.Post))
                                    {
                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Oldtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Oldtransactionpass, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Newtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Newtransactionpass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Confirmtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Confirmtransactionpass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                            <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Change Security Password-->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card page-header-third" style="">
                    <p class="menucoloerfour-design" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Security&nbsp;Password</p>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="body login-pass-seond">
                                <div class="background-all-second boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;height: 263px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Reset&nbsp;Security&nbsp;Password</p></center>
                                    @using (Html.BeginForm("Resend_Securitypass", "Home", FormMethod.Post, new { id = "restsecurityspass" }))
                                    {
                                <div class="body" style="margin-top:20px;">
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <label class="required">Email&nbsp;Id</label>
                                        </div>
                                        <div class="col-md-8">

                                            <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="txtsecuritemail" name="txtsecuritemail" class="form-control" placeholder="Enter Registered Email" />
                                                </div>

                                            </div>
                                            <label id="error-message-security"></label>
                                        </div>
                                    </div>
                                    <div>
                                        @{
                                            var asd = Convert.ToString(Session["chk1"]);


                                            if (asd != null && asd != "0" && asd != "")
                                            {

                                                <a href="#" onclick="otpsend1('12')" id="forgetpass" style=" position: absolute; top: 72px; right: 60px; padding: 2px 5px; color: green;">Send OTP</a>
                                                

                                                <div class="hide_otp">
                                                    <div class="row clearfix ">
                                                        <div class="col-md-4">
                                                            <label class="required" style=" margin-top: 0.5rem;">Enter&nbsp;OTP</label>
                                                        </div>

                                                        <div class="col-md-8">


                                                            @*<input type="number" id="OTp" name="OTp" placeholder="Enter OTP" required="required" maxlength="4" style="height: 31px; width: 100%; border: 2px solid #dad9df; outline: none; text-align: center; font-size: 1.5em; border-radius: -1.7em; background-color: #ffffff; outline: none; margin-top: 6px; " />*@
                                                            <div class="inputfield" style=" width: 100%; margin-top: 5px; text-align: end; ">


                                                                <div class="otp_set1">

                                                                    <input class="tested" type="number" name="oTP" maxlength="1" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)" required>
                                                                    <input class="tested" type="number" name="oTP1" maxlength="1" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)" required>
                                                                    <input class="tested" type="number" name="oTP2" maxlength="1" onkeyup="onKeyUpEvent(7, event)" onfocus="onFocusEvent(7)" required>
                                                                    <input class="tested" type="number" name="oTP3" maxlength="1" onkeyup="onKeyUpEvent(8, event)" onfocus="onFocusEvent(8)" required>



                                                                </div>

                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>



                                            }
                                        }
                                    </div>
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <div class="form-group" style="margin-bottom:0px;margin-top:11px;">
                                                            <center>
                                                                <div class="">

                                                                    <p class="btn   waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;float:right;">Change Password</p>
                                                                    <button type="submit" class="btn  waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;float:right; line-height: 18px;" onclick="securityconfrim()">Sure ?</button>
                                                                </div>
                                                            </center>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div class="background-all-second boxback-allpage-admin" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p class="fordesign-security-heding" style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Security &nbsp;Password</p></center>
                                    @using (Html.BeginForm("Edit_Securitypass", "Home", FormMethod.Post))
                                    {

                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item3.OldSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.OldSecuritypass, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item3.NewSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.NewSecuritypass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item3.ConfirmSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.ConfirmSecuritypass, new { @class = "form-control", @required = "", @maxlength = "6" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                            <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    @* otp sect valu *@
        var container = document.getElementsByClassName("otp_set")[0];
    container.onkeyup = function (e) {
        var target = e.srcElement || e.target;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() === "input") {
                    next.focus();
                    break;
                }
            }
        }
        // Move to previous field if empty (user pressed backspace)
        else if (myLength === 0) {
            var previous = target;
            while (previous = previous.previousElementSibling) {
                if (previous == null)
                    break;
                if (previous.tagName.toLowerCase() === "input") {
                    previous.focus();
                    break;
                }
            }
        }
    }

    @* otp sect valu end *@

    @* otp sect valu *@
        var container = document.getElementsByClassName("otp_set1")[0];
    container.onkeyup = function (e) {
        var target = e.srcElement || e.target;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() === "input") {
                    next.focus();
                    break;
                }
            }
        }
        // Move to previous field if empty (user pressed backspace)
        else if (myLength === 0) {
            var previous = target;
            while (previous = previous.previousElementSibling) {
                if (previous == null)
                    break;
                if (previous.tagName.toLowerCase() === "input") {
                    previous.focus();
                    break;
                }
            }
        }
    }

    @* otp sect valu end *@

    @* otp sect valu *@
        var container = document.getElementsByClassName("otp_set2")[0];
    container.onkeyup = function (e) {
        var target = e.srcElement || e.target;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() === "input") {
                    next.focus();
                    break;
                }
            }
        }
        // Move to previous field if empty (user pressed backspace)
        else if (myLength === 0) {
            var previous = target;
            while (previous = previous.previousElementSibling) {
                if (previous == null)
                    break;
                if (previous.tagName.toLowerCase() === "input") {
                    previous.focus();
                    break;
                }
            }
        }
    }

    @* otp sect valu end *@

    @* otp sect valu *@
    var container = document.getElementsByClassName("otp_set3")[0];
    container.onkeyup = function (e) {
        var target = e.srcElement || e.target;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() === "input") {
                    next.focus();
                    break;
                }
            }
        }
        // Move to previous field if empty (user pressed backspace)
        else if (myLength === 0) {
            var previous = target;
            while (previous = previous.previousElementSibling) {
                if (previous == null)
                    break;
                if (previous.tagName.toLowerCase() === "input") {
                    previous.focus();
                    break;
                }
            }
        }
    }

    @* otp sect valu end *@
</script>


<script>
    $('.for-select2').select2();


</script>
<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>
<script>
    $(function () {
         var succ = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (succ != null && succ != "") {
           $('#error-message-one').text (succ);
        }
        else if (error != null && error != "") {
            $('#error-message-one').text (error);
        }
        //transsction password and security password
        var succ1 = '@TempData["success"]';

        if (succ1 != null && succ1 != "") {

            $('#error-message-one').text (succ1);
        }


    });
</script>
<!--Transaction Reset Password-->
<script>
    function confrim()
    {
        var txtmail = $("#txtemail").val();
        if (txtmail != "")
        {
             $("#resttarnspass").submit();
             return true;

        }
        else
        {
            @*swal("Oops!", "Please Enter Register Email-Id", "error");
            $(".sweet-alert").css('background', '@PageData["globalCol"]');*@
                 $('#error-message').text ('Please Enter Register Email-Id');
            return false;
        }

    }
</script>

<!--Security Reset Password-->
<script>
    function securityconfrim()
    {
        var txtmail = $("#txtsecuritemail").val();
        if (txtmail != "")
        {
             $("#restsecurityspass").submit();
             return true;
        }
        else
        {
            @*swal("Oops!", "Please Enter Register Email-Id", "error");
            $(".sweet-alert").css('background', '@PageData["globalCol"]');*@
            $('#error-message-security').text ('Please Enter Register Email-Id');
            return false;
        }

    }
</script>
<script>
    $('.password-change').click(function () {
        $(this).hide();
        $(this).next('.password-sure').show();
    });


    $('.password-sure').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 200);
    });
</script>

<script>
    //Retailer Reset IMPS PIN
    function GetRetaileretails() {
        if ($('#RetailerList').val() != "") {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDLM_REM_Details", "Home")',
                data: { UserType: "Retailer", UserId: $('#RetailerList').val() },
            dataType:"Json",
                success: function (data) {
                $('#RetailerName').val(data[0].RetailerName);
                $('#FirmName').val(data[0].Frm_Name);
                $('#MobileNo').val(data[0].Mobile);
                $('#RetailerAddress').val(data[0].Address);
                }
            });
        }
    }

    function ResetPin() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Retailer_Reset_IMPSPin", "Home")',
            data: { RetailerId: $('#RetailerList').val(), oTP: $('#oTP4').val(), oTP1: $('#oTP5').val(), oTP2: $('#oTP6').val(), oTP3: $('#oTP7').val()},
           /* data: { OTp: $('#OTp2').val()},*/
            dataType:"Json",
            success: function (data) {
                if (data.status === "Success") {
                    ToastrMessage();
                    toastr.success(data.Message);
                }
                else {
                    ToastrMessage();
                    toastr.error(data.Message);
                }
                $('#myModal2').modal('hide');

                $('#RetailerList').val('');
                $('#RetailerName').val('');
                $('#FirmName').val('');
                $('#MobileNo').val('');
                $('#RetailerAddress').val('');

              }
            });
    }
    //Dealer Reset Trans PIN
    function GetDistributorDetails() {
        if ($('#DistributorDDL').val() != "") {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDLM_REM_Details", "Home")',
            data: { UserType: "Distributor", UserId: $('#DistributorDDL').val() },
            dataType:"Json",
                success: function (data) {
                    $('#DistributorName').val(data[0].DealerName);
                    $('#DistributorFirmName').val(data[0].FarmName);
                    $('#DistributorMobileNo').val(data[0].Mobile);
                    $('#DistributorAddress').val(data[0].Address);
                }
            });
        }
    }

    function DistributorResetPin() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Dealer_Reset_TransPin", "Home")',
            data: { DealerId: $('#DistributorDDL').val(), oTP: $('#oTP').val(), oTP1: $('#oTP1').val(), oTP2: $('#oTP2').val(), oTP3: $('#oTP3').val()},
            
            dataType:"Json",
            success: function (data) {
                if (data.status === "Success") {
                    ToastrMessage();
                    toastr.success(data.Message);
                }
                else {
                    ToastrMessage();
                    toastr.error(data.Message);
                }

                $('#myModal3').modal('hide');

                $('#DistributorDDL').val('');
                $('#DistributorName').val('');
                $('#DistributorFirmName').val('');
                $('#DistributorMobileNo').val('');
                $('#DistributorAddress').val('');
                }
            });
    }
</script>

<script>
    function KYCONOFF(usefor) {
       $.ajax({
            url: '@Url.Action("dmtpin_otp_status_ON_OFF", "Home")',
                type: 'GET',
           success: function (data) {

                    if (data.status == "Success") {

                        if (data.Message == true) {
                            ToastrMessage();
                            toastr.info("OTP Required for Transaction in Web","Transaction OTP");
                            $('.'+usefor+'.onoffswitch span').removeClass('custom-off');
                            $('.' + usefor + '.onoffswitch span').addClass('costom-on');
                            location.reload();
                        }
                        else {
                            if (data.Message == false) {
                                ToastrMessage();
                                toastr.info("TXN PIN Required for Transaction", "Transaction PIN");
                                $('.' + usefor +'.onoffswitch span').removeClass('costom-on');
                                $('.' + usefor + '.onoffswitch span').addClass('custom-off');
                                location.reload();
                            }
                        }
                    }
                    else {
                        ToastrMessage();
                        toastr.error("Something went wrong");
                    }
            }
        });
    }


    function RECHARGEPINONOFF(usefor) {
        $.ajax({
            url: '@Url.Action("Rechargepin_otp_status_ON_OFF", "Home")',
            type: 'GET',
            success: function (data)
            {
                window.location.reload();
            //    if (data.status == "Success")
            //    {
            //        if (data.Message == true) {
            //            ToastrMessage();
            //            toastr.info("OTP Required for Recharge in Web", "Transaction OTP");
            //            $('.' + usefor + '.onoffswitch span').removeClass('custom-off');
            //            $('.' + usefor + '.onoffswitch span').addClass('costom-on');
            //            window.location.reload();
            //        }
            //        else
            //        {
            //            if (data.Message == false) {
            //                ToastrMessage();
            //                toastr.info("Transaction PIN Required for RECHARGE", "Transaction PIN");
            //                $('.' + usefor + '.onoffswitch span').removeClass('costom-on');
            //                $('.' + usefor + '.onoffswitch span').addClass('custom-off');
            //                window.location.reload();
            //            }
            //        }
            //    }
            //    else
            //    {
            //        TostrMessage();
            //        toastr.error("Something went wrong");   

            //    }
            }
        })
    }

    function Recharge(usefor) {
       $.ajax({
            url: '@Url.Action("Recharge_status_ON_OFF", "Home")',
                type: 'GET',
           success: function (data) {
               window.location.reload();

            }
        });
    }
</script>

@*<script>
       function RECHARGEPINONOFF(usefor) {
       $.ajax({
           url: '@Url.Action("Rechargepin_otp_status_ON_OFF", "Home")',
           type: 'GET',
           success: function (data)
           {
               if (data.status == "Success")
               {
                   if (data.Message == true) {
                       ToastrMessage();
                       toastr.info("OTP Required for Recharge in Web", "Transaction OTP");
                       $('.' + usefor + '.onoffswitch span').removeClass('custom-off');
                       $('.' + usefor + '.onoffswitch span').addClass('costom-on');
                       location.reload();
                   }
                   else
                   {
                       if (data.Message == false) {
                           ToastrMessage();
                           toastr.info("Transaction PIN Required for RECHARGE", "Transaction PIN");
                           $('.' + usefor + '.onoffswitch span').removeClass('costom-on');
                           $('.' + usefor + '.onoffswitch span').addClass('custom-off');
                           location.reload();
                       }
                   }
               }
               else
               {
                   TostrMessage();
                   toastr.error("Something went wrong");

               }
           }
       })
   }
</script>*@
<script>

    function otpsend() {

        var id = $('#txtemail').val();
        $.ajax({
            url:   '@Url.Action("Passcode1", "Home")',

            type: 'GET',
            data: { ids: id },

            dataType: "JSON",

        })
    }
       function otpsend1() {

           var id = $('#txtsecuritemail').val();
        $.ajax({
            url:   '@Url.Action("Passcode2", "Home")',

            type: 'GET',
            data: { ids: id },

        dataType: "JSON",


        })
    }
     function otpsendD() {

    
         var id = $('#DistributorMobileNo').val();
        $.ajax({
            url:   '@Url.Action("Passcode2", "Home")',

            type: 'GET',
            data: { ids: id },

        dataType: "JSON",


        })
    }
     function otpsendR() {

         var id = $('#MobileNo').val();
        $.ajax({
            url:   '@Url.Action("Passcode2", "Home")',

            type: 'GET',
            data: { ids: id },

        dataType: "JSON",


        })
    }
</script>
