@model Vastwebmulti.Areas.ADMIN.Models.ChattingModel
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<link href="~/Swalalert/chatting.css" rel="stylesheet" />
<style>

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:480px) {
        .message-respo-third {
            float: left !important;
            margin-right: 0 !important;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Chat's</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Complaint&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Chat's</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="card page-header-third" style="margin-top:0px;">
                    <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;">
                        <span class="fa fa-user-circle-o"></span> User's List

                    </div>
                    <div class="panel-collapse collapse" style="display:block;">
                        <div class="panel-body" style="height:495px;background: #f5f5f5;">

                            <ul class="chat chat-second">

                                @foreach (var item in Model.Chatuser)
                                {
                                    <li style="cursor:pointer;border-bottom:1px solid #fff;" onclick="getval('@item.Userid')">
                                        <div class="row">

                                            <div class="col-xs-3">
                                                <div class="chat-body clearfix">
                                                    <div class="header" style="border-bottom:none;">
                                                        <p class="text-muted" style="">
                                                            <center>
                                                                @if (item.Photo != null && item.Photo != "")
                                                                {
                                                                    <img src="@Url.Content("~/" + item.Photo)" style="height:44px;border:1px solid #efefef;width:44px;" class="img-circle" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="img-circle" src="~/images/reportimage/chatuserimage.png" style="height:44px;width:44px; border:1px solid #efefef;" />
                                                                }
                                                            </center>

                                                        </p>
                                                        <strong class="pull-right primary-font"></strong>
                                                    </div>
                                                    <p style="text-align:center;font-size:13px;color:var(--main-bg-lcolor);">
                                                        @item.Role
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <span class="chat-img chat-img-second">
                                                    @if (item.count != 0)
                                                    {
                                                        <p style="float:right;background-color: var(--main-bg-lcolor); padding: 0px 6px 0px 6px;  border-radius: 50pc; margin-top: -4px;color: white; " title="Complain Request Pending">@item.count</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="float:right;background-color: #dedddd; padding: 0px 6px 0px 6px;  border-radius: 50pc; margin-top: -4px;color: white; ">@item.count</p>
                                                    }

                                                    <p style="margin-right:22px;margin-top:9px;">@item.Email&nbsp;&nbsp;</p>
                                                    <p style="margin-right:22px;margin-top: -9px;">@item.Name&nbsp;&nbsp;</p>
                                                </span>
                                            </div>
                                        </div>


                                    </li>
                                }


                            </ul>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-8">

                <div class="card page-header-third" style="margin-top:0px;">
                    <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;">
                        <span class="fa fa-comments-o"></span> Chatting Details

                    </div>
                    <div class="panel-collapse collapse four-chat-section-admin" style="display:block;">
                        <div class="panel-body" style="height:495px;">

                            <ul class="chat">

                                @foreach (var item in Model.Complainreq)
                                {

                                    if (item.rdate != null)
                                    {

                                        <li class="left clearfix">

                                            <span class="chat-img pull-right fourdesign-chat-none" style="text-align:center;">
                                                <img class="img-circle" src="~/images/reportimage/chatuserimage.png" style="height:44px;width:44px; border:1px solid #efefef;" />
                                                <p style="color:black;margin-top:4px;font-size:12px;">
                                                    @item.Email
                                                </p>
                                            </span>
                                            <div class="message-box-side clearfix message-respo-third fourdesign-chat-none" style="width:420px ;float:right;background:#f5f5f5;padding: 0px 10px;border-radius: 7px 0px 7px 7px;margin-right:30px;">
                                                <div>
                                                    <strong class="primary-font"></strong>
                                                    <p style="text-align:justify;">@item.complant </p>
                                                    <p class=" text-muted" style="float:left;">
                                                        <span class="fa fa-clock-o"></span>&nbsp;@item.rdate
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="chat-four-left">
                                                <div class="send-msg-name-four noneclasschat-pageadmin">
                                                    <p>
                                                        <strong>@item.Email</strong>
                                                        <span>@item.rdate</span>
                                                    </p>
                                                </div>
                                                <div class="in-msg-four-admin noneclasschat-pageadmin">
                                                    <p>@item.complant</p>
                                                </div>
                                                <div style="float: left;width: 100%;margin-top: 10px;">
                                                    @if (item.resdate == null)
                                                    {
                                                        <div class="input-group" style="margin-bottom:0px;">
                                                            <span class="input-group-addon" style="background-color: var(--main-bg-rcolor);cursor: pointer;padding: 6px 15px;" onclick="submitdata('@item.idno','@item.userid')" title="Reply for this complain request">
                                                                <i class="fa fa-send" style="margin-top:-2px;color:#fff;"></i>
                                                            </span>
                                                            <div class="">
                                                                <input type="text" id="@item.idno" required name="txtcomment" class="form-control" placeholder="First Insert reply" style="border:1px solid var(--main-bg-lcolor);height:30px;padding-left:4px;" />
                                                            </div>

                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </li>
                                    }
                                    if (item.resdate != null)
                                    {
                                        <div class="chat-four-right">
                                            <div class="send-msg-name-four">
                                                <p>
                                                    <span>@item.resdate</span>
                                                    <strong>Admin</strong>

                                                </p>
                                            </div><br /><br />
                                            <div class="in-msg-four-admin">
                                                <p>@item.response</p>
                                            </div>
                                        </div>

                                        <li class="fourdesign-chat-none">
                                            <span class="chat-img pull-left">
                                                <img class="img-circle" src="~/images/reportimage/chatuserimage.png" style="height:44px;width:44px; border:1px solid #efefef;" />
                                                <p style="color:#e05c5c;font-weight:700;padding-left:7px;padding-right:4px;margin-top:4px;">Admin</p>
                                            </span>
                                            <div class="message-box-side-admin clearfix fullbodydycolorbg messageafter-second" style="width: 420px;float: left;margin-left: 40px;padding: 2px 10px;border-radius:0px 7px 7px 7px;">
                                                <div>

                                                    <strong class="pull-right primary-font"></strong>
                                                </div>
                                                <p class="pull-right" style="width:100%;color:#fff;text-align:right;text-align:justify;">
                                                    @item.response
                                                </p>
                                                <p class="text-muted pull-right" style="width:100%;color:#fff;text-align:right;"><span class="fa fa-clock-o" style="color:#fff;"></span>&nbsp;@item.resdate</p>
                                            </div>
                                        </li>

                                    }
                                }


                            </ul>
                        </div>

                    </div>




                </div>
            </div>

        </div>

    </div>
</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    function getval(userid)
    {
        var url = '@Url.Action("Complaint","Home")?type=User&userid=' + userid + '';
        window.location.href = url;
    }
</script>

<script>
    function submitdata(idno,userid)
    {
        comment = document.getElementById(idno).value;
        if (comment == "" || comment == null) {
            return false;
        }
        else {
            var url = '@Url.Action("Complaint_edit", "Home")?type=User&useridd=' + userid + '&id=' + idno + '&response=' + comment + '';
            window.location.href = url;
        }
    }
</script>