@model IEnumerable<Vastwebmulti.Models.cyberplate_info>
@{
    ViewBag.Title = "cyberplate_details";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                      <div class="col-md-9">
                            @Html.Partial("_menuapinm")
                        </div>
                        <div class="col-md-3">
                            <div class="button-demo">
                                <button type="button" class="btn bg-blue-grey waves-effect" style="margin-top:2px; margin-left:55%;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="material-icons">group</i>
                                    <span style="top:-2px;">Add New</span>
                                </button>
                            </div>
                         </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:4px;">
                            <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">API Info</a></li>
                            <li class="active" style="color:#607d8b; font-size:15px;font-weight:700;">All CyberPlate Information Details</li>
                        </ol>
                      
                    </div>
                    <div class="body" style="margin-top:-13px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                    <th>SD&nbsp;Code</th>
                                    <th>AP&nbsp;Code</th>
                                    <th>OP&nbsp;Code</th>
                                    <th>CERT&nbsp;Code</th>
                                    <th>Password</th>
                                    <th>Dealer&nbsp;Code</th>
                                    <th>Key</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                             @foreach (var item in Model)
                             {
                                        <tr>
                                         <td>@item.sdcode</td>
                                         <td>@item.apcode</td>
                                         <td>@item.opcode</td>
                                         <td>@item.certcode</td>
                                         <td>@item.password</td>
                                         <td>@item.dealercode</td>
                                         <td>@item.keypath</td>
                                          <td>
                                                <button id="but" onclick="animation('@item.idnno','@item.sdcode','@item.apcode','@item.opcode','@item.certcode','@item.password','@item.dealercode','@item.keypath')"style="background-color:transparent;color:#03a9f4; border:none;" data-toggle="modal" data-target="#defaultModal1">
                                                    <i class="fa fa-edit fa-2x" style="font-size:24px; color:#607D8B;"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button id="but"  onclick="DelteAPi('@item.idnno')"style="background-color:transparent;color:#03a9f4; border:none;">
                                                    <i class="fa fa-trash fa-2x" style="font-size:24px; color:red;"></i>
                                                </button>
                                            </td>
                                          </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add Model-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add CyberPlate Information</h4>
            </div>
         @using (Html.BeginForm("insert_cyber", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
         { 
            <div class="modal-body" style="margin-top:-26px;">
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">SD Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("sdcode", "", new { @placeholder = "Enter SD Code", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">AP Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("apcode", "", new { @placeholder = "Enter AP Code", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">OP Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("opcode", "", new { @placeholder = "Enter OP Code", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("password", "", new { @placeholder = "Enter Password", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Cert Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("cert", "", new { @placeholder = "Enter Cert Code", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Dealer Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("dealercode", "", new { @placeholder = "Enter Dealer Code", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Upload</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="file" name="file" id="file" accept=".pfx" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bg-blue-grey waves-effect">Save</button>
                            <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </form>
                </div>
            </div>
            }

        </div>
    </div>
</div>
<!--Edit Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Edit CyberPlate Information</h4>
            </div>
         @using (Html.BeginForm("Edit_cyber", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">SD Code</label>
                                </div>
                                @Html.TextBox("txtid", "", new { style = "display:none;" })
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtsdcode", "", new { @placeholder = "Enter SD Code", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">AP Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtapcode", "", new { @placeholder = "Enter AP Code", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">OP Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtopcode", "", new { @placeholder = "Enter OP Code", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Password</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtpasswordcode", "", new { @placeholder = "Enter Password", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Cert Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtcertcode", "", new { @placeholder = "Enter Cert Code", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Dealer Code</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtdcode", "", new { @placeholder = "Enter Dealer Code", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Key Upload</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="text" id="txtfile" readonly="readonly" />

                                            <input type="file" name="file" id="file" accept=".pfx" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-blue-grey waves-effect">UPDATE</button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!--Insert Popuop-->
<script>
    window.onload = function () {
        var add = '@TempData["add"]'
        if (add != null && add != "") {
            swal("Good job!", add, "success");
        }

        var file = '@TempData["file"]'
        if (file != null && file != "") {
            swal("Oops...", file, "error");
        }

        var allready = '@TempData["allready"]'
        if (allready != null && allready != "") {
            swal("", allready, "warning");
        }

    }
</script>


<!--Edit Javascript-->
<script type="text/javascript">
     var val1 = "";
     function animation(id, sd, ap,op,cert,password,dealercode,path) {
         $("#txtid").val(id);
         $("#txtfile").val(path);
         $("#txtdcode").val(dealercode);
         $("#txtpasswordcode").val(password);
         $("#txtcertcode").val(cert);
         $("#txtopcode").val(op);
         $("#txtapcode").val(ap);
         $("#txtsdcode").val(sd);
     }
</script>
<!--Delete-->
<script type="text/javascript">
    function DelteAPi(e) {
        //alert(e)
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Cyber Details  !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {
    var url = '@Url.Action("Delete_cyber_Details", "Home")'

    $.ajax({
        url: url,
        data: { idno: e },
        cache: false,
        type: "POST",
        success: function (data) {
                swal({
                    title: "Success!",
                    text: "Delete SuccessFully",
                    type: "success"
                },
function () {
    var pathname = window.location.pathname; // Returns path only
    var url = window.location.href;
    window.location.href = url;
});
       },
        error: function (data) {
        swal("Oops...", "SomeThing Wrong.......","error")
        }
    });
}
);
    }
   
   
</script>



