
@{
    ViewBag.Title = "dealer_retailer_transfer";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 26px;
    }
</style>
<section class="content">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-7" style="margin-left:-14px;">
                        @Html.Partial("_menunillcom")
                    </div>
                    <div class="col-md-5">
                        @using (Html.BeginForm("dealer_retailer_transfer", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="" style="margin-top:6px; margin-left:-12px;width:108%;padding-bottom:4px;">
                                            @Html.DropDownList("remid", ViewBag.remid as SelectList, "Select Retailer", new { id = "remid", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="" style="margin-top:6px; margin-left:-12px;width:108%;padding-bottom:4px;">
                                            @Html.DropDownList("dlmid", ViewBag.dlmid as SelectList, "Select Dealer", new { id = "dlmid", @class = "selectpicker form-control border-0", @style = "border:1px solid #8e7f7f4d;height:38px;", data_live_search = "true", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-default waves-effect" style="margin-top:6px; height:32px; margin-left:-23px;border:1px solid #dddddd;" onclick="return fun()">
                                        <i class="fa fa-exchange" style="color:black;top:0px;"></i>
                                        <span style="top:-2px;color:black;">Transfer</span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
    
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
    $(function () {
        var message = '@TempData["success"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var slab = '@TempData["slabname"]';
        if (slab != "" && slab != null) {
            swal("Ooops!", slab, "error");

        }
    });
</script>

