@model Vastwebmulti.Areas.ADMIN.Models.DeleteUser
@{
    ViewBag.Title = "DeleteUserReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<style>

    /* new css */
    .deleted-users {
        height: auto;
    }

    .for-search.tablesearch-second {
        float: left;
        margin-right: 3px;
    }

    .bread-same-all-page {
        width: auto;
    }

    .pageheader-margin-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* new css */



    .deleted-users .dataTables_filter, .deleted-users .dt-button.buttons-copy, .deleted-users .dt-button.buttons-csv, .deleted-users .dt-button.buttons-print {
        display: none;
    }

    .for-search input {
        width: 250px;
        border: 1px solid #dbdbdb;
        padding: 3px 10px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:650px) {

        .pageheader-margin-third {
            display: block;
            float: left;
            width: 100%;
        }

        .bread-same-all-page {
            width: 100%;
            margin: 2px 0;
        }

        .web-white-filter {
            width: 100%;
            margin: 2px 0;
        }
    }

    @@media only screen and (max-width:480px) {
        .for-search.tablesearch-second {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 3px;
        }

        .for-search input {
            width: 100%;
        }
    }
</style>
<section class="content fourdesign-section-admin">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Delete User Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Delete User Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Deleted User History
                    </li>
                </ul>
            </div>
            <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: right;">

                <div class="for-search tablesearch-second">
                    <div class="search-after-third">
                        <input id="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" />
                    </div>
                </div>
                <input type="button" id="btnExport" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                <input type="button" id="btnPDF" value="PDF" style="margin-left:3px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

            </div>


        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-header-third">

                    <div>
                        <div class=" deleted-users table-responsive tablefourdesign-admin paddingboth-none-admin" style="position:inherit;padding:0px;scrollbar-width: thin;">
                            <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%; ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr</th>
                                        <th>User&nbsp;Role</th>

                                        <th>Firm&nbsp;Name</th>
                                        <th>User&nbsp;Name</th>
                                        <th>Contact&nbsp;No</th>
                                        <th>Register&nbsp;Email</th>
                                        <th>Joining&nbsp;Date</th>
                                        <th>Deleted&nbsp;Date</th>
                                        <th>Recovery&nbsp;&#8377;</th>


                                    </tr>
                                </thead>
                                <tbody class="body">
                                    @{
                                        var i = 1;
                                    }
                                    @if (Model.Deleteuserall != null)
                                    {
                                        foreach (var item in Model.Deleteuserall)
                                        {
                                            <tr class="tr">
                                                <td>@i</td>
                                                <td>@item.Role</td>
                                                <td>@item.FarmName</td>
                                                <td>@item.Name</td>
                                                <td>@item.ContectNo</td>
                                                <td>@item.Email</td>
                                                <td>@item.JoiningDate</td>
                                                <td>@item.DeleteDate</td>
                                                <td>@item.RecoveryAmount</td>


                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                @*<tfoot class="navbar" style="color:white;position:inherit;">
                                        @if (Model.GSTAdmin != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTAdmin.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTMaster != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTMaster.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTDealer != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTDealer.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTRetailer != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTRetailer.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                    </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });

    });
</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

<script>
    $("#btnExport").click(function () {
        var url = '@Url.Action("Excel_DeleteUserReport", "Home")';
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var url = '@Url.Action("Pdf_DeleteUserReport", "Home")';
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>