@model IEnumerable<Vastwebmulti.Models.Vendor_Select_Details_Result>
@{
    ViewBag.Title = "DeleteVendorList";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-10">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_MenuDeleteUserList")
                        </div>
                    </div>
                    <div class="col-md-2">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-17px;">
                <div class="card">
                        <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit; margin-top:-3px;">
                            <table id="example" class="table table-bordered" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Email&nbsp;ID</th>
                                        <th>Name</th>
                                        <th>Firm&nbsp;Name</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                        <th>Email&nbsp;Confrim</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.emailid</td>
                                                <td>@item.Name</td>
                                                <td>@item.Firmname</td>
                                                <td>@item.mobile</td>
                                                <td style="padding-top:13px;">
                                                    @if (item.status == true)
                                                    {
                                                        <center>
                                                            <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 4px 2px 5px">
                                                                <span>I'm&nbsp;Active</span>
                                                            </a>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 11px 2px 11px;">
                                                                <span>Inactive</span>
                                                            </a>
                                                        </center>

                                                    }
                                                </td>
                                                <td>
                                                    @if (item.EmailConfirmed == true)
                                                    {
                                                        <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 7px 2px 10px">
                                                            <i class="fa fa-thumbs-o-up" style="margin-top:6px;">&nbsp;<span>I'm&nbsp;Verified&nbsp;!</span></i>
                                                        </a>

                                                    }
                                                    else
                                                    {
                                                        <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 11px 2px 11px;">
                                                            <i class="fa fa-thumbs-o-down" style="color:red;margin-top:6px;">&nbsp;<span>Unverified&nbsp;!</span></i>
                                                        </a>

                                                    }
                                                </td>
                                                <td>
                                                    <button class="btn btn default" id="DeleteBtn" onclick="sendotpVendor('@item.userid')" style="background-color:transparent; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><p style="font-size:22px;margin-top:-5px;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">User Delete (OTP) </h4>
            </div>

            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>
                        <input type="text" id="VendorID" name="VendorID" style="display:none;" />
                        <div class="row clearfix">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <p><span style="font-size:19px;color:red;font-weight:600;">Note</span><span style="color:green;font-size:14px;font-weight:600;margin-left:10px;">OTP Send Successfully Administrator Mail.Please Check Your Mail</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top:-9px;">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Enter&nbsp;OTP</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="txtotp" name="txtotp" class="form-control" placeholder="Enter OTP"  onkeypress="return isNumber(event)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="DeleteAPI()">
                                <span style="top:-2px;color:black;">Save Change</span>
                            </button>
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                <span style="top:-2px;color:black;">Close</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<!--Send OTP BY ADMIN-->
<script>
    function sendotpVendor(ID) {
        $.ajax({
            type: 'Post',
          url: "@Url.Action("DeleteVendorSendOTP", "Home")",
            dataType: 'json',
        cache: false,
        async: false,
        success: function (result) {
            if(result=="Success")
            {
                $("#VendorID").val(ID);
                $("#defaultModal").modal('show');
            }
            else {
                swal({ title: "Failed !", text: "Something went wrong.", type: "error" });
            }
        }
    });
    }
</script>

<script>
    function DeleteAPI()
    {
        var OTP = $("#txtotp").val();
        var vendorid = $("#VendorID").val();

        if(OTP != "")
        {
            $("#defaultModal").modal('hide');
            swal({
                text: "<p style='color:#948f8b; font-size:20px;border-bottom:1px solid #dddddd;margin-top:-12px;padding-bottom:12px;'>Delete</p>" +
                       "</br><i class='fa fa-trash'style='font-size:72px;color:red;'></i></br><p style=''>Are you sure ?</p>",
                html: true,
                title: "",
                showCancelButton: true,
                confirmButtonColor: "#f9a7a7",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                       function (isConfirm) {
                           if (isConfirm) {
                               $.ajax({
                                   type: "POST",
                                   url: '@Url.Action("Delte_vendor", "Home")',
                                   data: { 'Vendorid': vendorid, 'OTP': OTP },
                                   cache: false,
                                   dataType: 'json',
                                   async: true,
                                   success: function (result) {
                                       if (result == "Success") {
                                           swal({ title: "Data Removed !", text: "Data Deleted Successfully.", type: "success" },
                                              function () {
                                                  location.reload();
                                              }
                                           );
                                       }

                                       else if (result == "OTPWrong") {

                                           swal("Wrong OTP !", "OTP Is Wrong !. Please try again.", "error");
                                           $("#defaultModal").modal('show');
                                       }
                                       else {
                                           swal({ title: "Failed !", text: "Something went wrong.", type: "error" },
                                           function () {
                                               location.reload();
                                           }
                                        );
                                       }
                                   }
                               });
                           }
                       });
            return true;
        }
        else {

            swal("Oops !", "Please Enter OTP", "error")
            $("#defaultModal").modal('show');
            return false;
        }
    }
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>