@model IEnumerable<Vastwebmulti.Models.deletedApprveBankInfo>

@{
    ViewBag.Title = "Delete_Approve_Bank_list";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .image-modal-content button {
        color: #000;
        z-index: 9;
        width: 100%;
        float: left;
        text-align: right;
        border-bottom: 1px solid #aaa4a4;
        padding: 10px 15px;
        opacity: 1;
    }
    .image-modal-content .modal-body {
        padding: 15px !important;
    }
        .image-modal-content button span {
            font-size: 1.2em !important;
            color: #000 !important;
            font-weight: 400;
            line-height: 1;
            text-shadow: 0 1px 0 #fff;
        }
    .image-modal-content button.close-footer {
        border-bottom: 0px;
        border-top: 0;
        background: #6c757d;
        width: auto;
        float: right;
        padding: 0;
        font-size: 14px;
        border-radius: .25rem;
        padding: 10px 15px;
    }
            .image-modal-content button.close-footer span {
                text-shadow: none;color:#fff !important;
            }
    .button-footer-close {
        width: 100%;
        float: left;
        padding: 9px 15px;
        border-top: 1px solid #e1e1e1;
    }

    @@media screen and (max-width:766px){
        #galleryimageprofile-modal .modal-dialog {
            width: 100% !important;
            float: left !important;
            margin: 0;
            padding: 0 15px;
        }
    }

    @@media screen and (max-width:420px){
        .image-modal-content img {
            height: 250px !important;
        }
    }

</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Delete Approve Bank List</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" style="margin:0px;"></i></a></li>
                <li><a href="javascript:void(0);">User A/C Q&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Delete Approve Bank List</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-third four-noneclass-admin-only" style="width:auto;float:left;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Retailer Deleted Bank
                    </li>

                </ul>
                <div class="col-md-4" style="width:auto;float:right;margin-bottom:10px;padding-right:0px;">
                    <div style="float:right; " class="web-white-filter lop">

                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;">
                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive tablefourdesign-admin" style="width:100%;float:left;overflow:auto;">
            <table class="table table-bordered table-striped third-design-table" style="background:#f9f9f9;">
                <tr>

                    <th>
                        <span>Delete Date</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AcconutHolderName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BankAccountNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IFSC_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bank_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bank_Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Firm_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CancelCheckFile)
                    </th>


                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.deleteddate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcconutHolderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankAccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IFSC_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bank_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bank_Address)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Firm_Name)
                        </td>
                        <td>
                            @if (item.CancelCheckFile == null)
                            {

                                <span>Image Not Found</span>

                            }
                            else
                            {
                                <button class="image-profilemodal" data-toggle="modal" data-target="#galleryimageprofile-modal">
                                    <img src="@Url.Content("~/"+ item.CancelCheckFile )" class="img img-responsive" onclick="imgfullsizecopy('@item.Idno')" id="upload-@item.Idno" alt="User" width="100" height="100"
                                         style="display: flex; align-items: center; justify-content: center" />
                                </button>
                            }

                        </td>


                    </tr>
                }

            </table>
        </div>

        <div class="modal fade" id="galleryimageprofile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" margin-top: 78px;">
            <div class="modal-dialog" role="document" style="">
                <div class="modal-content image-modal-content" style="width:100%;float:left;border-radius: 5px;border: 1px solid #aaa4a4;">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #000;z-index:9;">
                        <span aria-hidden="true" style=" font-size: 36px; color: #000; opacity: 1;">&times;</span>
                    </button>*@
                    <div class="modal-body" style="width:100%;float:left;">



                        <img src="" class="" id="uploadprofileim111g" alt="User" width="100" height="100" style="cursor:pointer; float:right;width: 100%;height: 340px;" />



                    </div>
                    <div class="button-footer-close">
                        <button type="button" class="close close-footer" data-dismiss="modal" aria-label="Close" style="color: #000;z-index:9;">
                            <span aria-hidden="true" style=" font-size: 36px; color: #000; opacity: 1;">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<script>

    function imgfullsizecopy(id) {
        
        var srcids = '#upload-' + id

        var imgsss = $(srcids).attr('src')
        $('#uploadprofileim111g').attr('src',imgsss);
    }


</script>