
@model Vastwebmulti.Areas.ADMIN.Models.DealerModel
@{
    ViewBag.Title = "DistibutorList";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>

    /* new css  */

    .custom-table-responsive, #EmailHistory {
        background: #fff !important;
    }

    .for-search.tablesearch-second {
        float: left;
    }

    .res_div {
        width: 50% !important;
        float: left !important;
    }

    .pageheader-margin-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .res_w {
        float: right;
    }

    .search-after-third {
        margin-right: 3px;
    }

    #distributorlist i {
        cursor: pointer;
    }

    /* new css  */

    .mastetr222Modal .modal-footer ul li.four {
        width: auto !important;
    }

    .three {
        width: 75px !important;
        float: left;
        margin-left: 6px !important;
    }

    .one {
        width: 107px !important;
        float: left;
    }

        .one button {
            width: 109px !important;
        }

    .custom-off::before {
        width: 16px !important;
        height: 17px !important;
        top: 7px !important;
    }

    .costom-on::after {
        width: 16px !important;
        height: 16px !important;
        top: 7px !important;
        left: 4px !important;
    }

    .costom-on::after {
        float: left;
        margin-right: 4.5rem !important;
    }

    .one2.onoffswitch {
        width: 75px;
        float: left;
    }

    .five.onoffswitch {
        width: 26%;
        float: left;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) {
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-gs56nt525f div {
            box-sizing: content-box;
        }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }



    .for-search input {
        width: 250px;
        border: 1px solid #dbdbdb;
        padding: 3px 10px;
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }

        .pageheader-margin-third {
            display: block;
            float: left;
            width: 100%;
        }

        .res_div {
            width: 100% !important;
            padding: 2px 0;
        }
    }


    @@media only screen and (max-width:520px) {
        .web-white-filter {
            position: static !important;
        }

        .res_w {
            width: 100%;
        }

        .for-search.tablesearch-second {
            width: 100%;
            margin-bottom: 3px;
        }

        .search-after-third {
            margin-right: 0px;
        }

        .create-bulk-add-image {
            margin-right: 0px;
        }

        .for-search input {
            width: 100%;
        }

        .Upload-form input[type="file"] {
            padding: 4px;
        }
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<section class="content DistibutorList_page fourdesign-section-admin">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Distibutor List</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Distibutor List</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only res_div">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one" style="line-height: 22px;">
                        Distributor
                    </li>
                </ul>
            </div>


            <div class="web-white-filter pdfexpoer-second pdf-third-design res_div" style="float: right;">

            </div>
            <div class="for-search tablesearch-second">
                <div class="search-after-third">
                    <a href="@Url.Action("DistibutorListforseller","Home")"><button style="float: right;">Recharge Seller</button></a>
                  <input style="float: right;" id="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" />
                </div>
            </div>


        </div>


        <div class="row clearfix" style="margin-bottom:40px;">
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="first-tab width100 float-left boxback-allpage-admin page-header-third">
                    <ul class="tabs width100 float-left tab-seconddesign tab-third-design">
                        <li class="tab-link current" data-tab="tab-7"><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">&nbsp;&nbsp;Create Distributor</li>
                        <li class="tab-link" data-tab="tab-8"><img src="~/images/reportimage/create-group-button.svg" alt="add user" class="create-bulk-add-image">Create Bulk Users</li>
                    </ul>



                    <div id="tab-7" class="tab-content current custom-table-responsive tabcurrent-seconddesign input-border-third">
                        <div class="left-four-tabs width100 float-left">
                            @*@using (Html.BeginForm("insert_super", "Home", FormMethod.Post))*@
                            @using (Ajax.BeginForm("insert_super", new AjaxOptions { HttpMethod = "Post", OnSuccess = "RegisterSuccess", OnBegin = "ajaxValidate()", LoadingElementId = "div-loader" }))

                            {
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Master Distributor ID</label>

                                        <div class="form-group">
                                            <div class="custom-district">
                                                @Html.DropDownList("masterid", new SelectList(ViewBag.masterid, "Value", "Text"), "Select Master Distributor Id", new { @class = "form-control", data_live_search = "true", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Distributor Name
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Firm Name
                                            @Html.ValidationMessageFor(m => m.FarmName, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.FarmName, new { @class = "form-control", placeholder = "Enter Firm Name", maxlength = "40", required = "required" })
                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Email-ID
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email-id", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">
                                            (+91) Mobile
                                            @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Enter Mobile Name", required = "required", onkeypress = "return isNumber(event)", maxlength = "10" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <label for="email_address_2">PAN card</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.pancard, "", new { @class = "form-control", placeholder = "Enter PAN card No", maxlength = 10 })

                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->


                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">
                                            State
                                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="custom-district">
                                                @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "form-control", data_live_search = "true" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <label for="email_address_2">
                                            District
                                            @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="custom-district">
                                                @Html.DropDownListFor(m => m.District,
                                      new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                                      "Select district",
                                      new { @class = "form-control" })
                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Address
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", minlength = "15", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="email_address_2">
                                            Area Pin Code
                                            @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label for="ddlrole">
                                            Finincial Role
                                            @Html.ValidationMessageFor(m => m.ddlrole, "", new { @class = "text-danger" })
                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                <select id="ddlrole" name="ddlrole" class="form-control" required="required" title="Finincial Role Required" style="height:34px;">
                                                    <option value="">Select Fininacial Role</option>
                                                    <option value="FieldSalesOfficer" title="Field Sales Officer">FOS</option>
                                                    <option value="CommissionAgent">Commission Agent</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">
                                            Aadhar Card

                                        </label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.adharcard, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12" })

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <label for="email_address_2">Gst Number</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.gst, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15" })

                                            </div>

                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div class="width100 float-left button-seconddesign">
                                    <div id="lblSuccess">
                                        <label id="lblmsg1" class="danger" style="color:#fff;font-size: 16px;background:green;width: 97%;margin-bottom:5px;"></label>
                                    </div>
                                    <div id="lblerror">
                                        <label id="lblmsg" class="danger" style="color:#fff;font-size: 16px;background:red ;width: 97%;margin-bottom:5px;"></label>
                                    </div>
                                    <button type="submit" class="btn waves-effect pull-right fullbodydycolorbg btn-first button-third" style="margin-left:15px;color:#fff;border-color:transparent;margin-right: 13px;">
                                        <span style="color:#fff;">Create Distributor</span>
                                    </button>
                                    <button type="reset" class="btn pull-right btn-second button-third-design">
                                        Reset
                                    </button>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="tab-8" class="tab-content custom-table-responsive ">
                        <div class="left-four-tabs width100 float-left">
                            @*<form id="custom-master-form" class="master-upload-file">*@
                            <div class="Upload-form">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    @using (Html.BeginForm("BulkDealerCreate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "fileform" }))
                                    {
                                        <div class="form-group centerclass-third">
                                            <h2 class="afterheading-third">Upload Distributor File </h2>
                                            <input type="file" id="FileUpload1" class="masterfile-second brouseinput-third" name="FileUpload1" accept=".xlsx, .xls" />
                                            <input class="fullbodydycolorbg pull-right button-third" type="submit" value="Upload File">
                                            <button type="reset" class="btn pull-right button-third-design" style="color:#000;">
                                                Reset
                                            </button>
                                        </div>
                                    }

                                </div>
                            </div>
                            @*</form>*@
                            <hr />
                            <div class="Upload-form button-seconddesign">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div id="custom-Download-form" class="downloadtaxt-second sup-color-third" style="margin-top: 25px;">
                                        <p><sup>*</sup>To create bulk users, You must first download the Excel format.</p>
                                        <p><sup>*</sup>According to the download excel you have to fill the details of all users.</p>
                                        <p><sup>*</sup>While uploading the details, keep in mind that no Firm name, mobile number, mail id should be multiple.</p>
                                        <button type="button" onclick="DownloadAttachment()" id="custom-submit" class="btn waves-effect special-iii btnssl2233 pull-right fullbodydycolorbg btn-first button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #ccc;float: right;margin-bottom: 10px;width:230px;">
                                            <span style="color:#fff;">Download Bulk User Create Format</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>




                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 ">
                <div class="right-tabs width100 float-left custom-table-responsive page-header-third">
                    <div id="distributorlist" class="tablefourdesign-admin">
                        @Html.Partial("_DistibutorList")

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div id="div-loader" style="display:none; position: fixed;top: 0px;background: rgba(0,0,0,.5);left: 0px;bottom: 0px;right: 0px;width: 100%;height: 100vh;z-index: 9999;">
        <div id="loader" style="position: absolute;right: 34%;top: 50%;display:block; transform: translate(-34%,-50%);">
            <div class="loadingio-spinner-ripple-92ar2pfqk5j" style="background:transparent;">
                <div class="ldio-zdyd6mf6t5">
                    <div></div><div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="div_Loader" style="display:none;">
    <div class="loadingio-spinner-gear-94vo528ab8">
        <div class="ldio-gs56nt525f">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<!--Add New  Distributor  modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Distributor</h4>
            </div>
            @using (Html.BeginForm("insert_super", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        @*<form id="form_validation" method="POST">*@
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">MD-ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("masterid", new SelectList(ViewBag.masterid, "Value", "Text"), "Select Master Id", new { @class = "selectpicker form-control", data_live_search = "true", @required = "required" })
                                    </div>
                                    @*@Html.ValidationMessageFor(m => m.masterid, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Firm Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.FarmName, new { @class = "form-control", placeholder = "Enter Firm Name", required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.FarmName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">State</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "selectpicker form-control", data_live_search = "true" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">District</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownListFor(m => m.District,
                               new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                                      "Select district",
                                      new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Mobile</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Enter Mobile Name", required = "required", onkeypress = "return isNumber(event)", maxlength = "10" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*<div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Slab List</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="slab_name" name="slab_name" class="form-control" required="">
                                                <option>
                                                    Select Slab
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Slab List</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownListFor(m => m.slab_name, ViewBag.slabname as SelectList, "Select Slab", new { @class = "form-control",  @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                                          </div>
                                        @Html.ValidationMessageFor(m => m.slab_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Address</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", required = "required" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Pincode</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Email-ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email-id", required = "required" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Pancard</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.pancard, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", required = "required" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.pancard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Aadhar Card</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.adharcard, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12", required = "required" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.adharcard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Gst Number</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBoxFor(m => m.gst, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase", required = "required" })

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                <span style="top:-2px;color:black;">Save Change</span>
                            </button>
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                <span style="top:-2px;color:black;">Close</span>
                            </button>

                        </div>
                        @*</form>*@
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Master Distributor  modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit  Distributor</h4>
            </div>
            @using (Html.BeginForm("Editdealer", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">DLM-ID</label>
                                </div>
                                @Html.TextBox("txtdealerid", "", new { @class = "form-control", @style = "display:none;" })
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtemail", "", new { @class = "form-control", placeholder = "Enter Email Id", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtdealername", "", new { @class = "form-control", placeholder = "Enter Dealer Name.", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Firm Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtfrmname", "", new { @class = "form-control", placeholder = "Enter Firm Name.", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">State</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("State1", (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">District</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="District1" name="District1" class="form-control show-tick" required="">
                                                <option>
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtmobileedit", "", new { @class = "form-control", placeholder = "Enter Mobile", required = "", onkeypress = "javascript:return isNumber(event)" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Slab List</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.DropDownList("slabedit", ViewBag.slabname as SelectList, "Select Slab", new { @class = "form-control",  @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextArea("txtAddress", "", new { @class = "form-control", placeholder = "Enter Address.", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pincode</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtpincode", "", new { @class = "form-control", placeholder = "Enter Pin Code", required = "required", onkeypress = "return isNumber(event)", maxlength = "6" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pancard</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtpancard1", "", new { @class = "form-control", placeholder = "Enter Pancard No", required = "required", maxlength = 10, @style = "text-transform:uppercase" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Aadhar Card</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtadharcard1", "", new { @class = "form-control", placeholder = "Enter Aadharrcard No", required = "required", onkeypress = "return isNumber(event)", maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Gst Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtgst1", "", new { @class = "form-control", placeholder = "Enter GST No", maxlength = 15, @style = "text-transform:uppercase" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- For Right Modal -->
<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left">
                <div class="modal-back width100 float-left">
                    <div class="sam">
                        <h4 class="oneh">
                            <span class="first">
                                M
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <div class="sam">
                        <h4 class="twoh">
                            <span class="first">
                                D
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <div class="sam">
                        <h4 class="threeh">
                            <span class="first">
                                R
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <button type="button" class="btn waves-effect" data-dismiss="modal">
                        <i class="fa fa-times fullbodydycolorbg fulltextbodycolor" aria-hidden="true"></i>
                    </button>
                </div>

            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">
                <div class="background-kk width100 float-left">
                    <div class="thisLeft float-left">
                        <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User" />
                    </div>
                    <div class="thisRight">
                        <ul class="float-left width100">
                            <li><span><b>Name:</b></span><span>TestTest</span></li>
                            <li><span><b>Firm:</b></span><span>TestTest</span></li>
                            <li><span><b>Registered Date:</b></span><span>9837452845</span></li>
                        </ul>
                    </div>
                </div>
                <div class="float-left width100">

                    <form class="first-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="EmailID" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Pancard</label>
                                    <input type="text" class="form-control" placeholder="Enter Pancard No" readonly />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Aadhar Card</label>
                                    <input type="text" class="form-control" placeholder="Enter Aadhaar Number" readonly />
                                </div>
                            </div>
                        </div><!--.row-->




                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Firm Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter Firm Registration No" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>GST Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter GST Registration No" readonly />
                                </div>
                            </div>
                        </div><!--.row-->



                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>District</label>
                                    <input type="text" class="form-control" placeholder="Select District" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" placeholder="Select State" readonly />
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" placeholder="Enter Address" readonly></textarea>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter Pin Code" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                    </form>

                    <!--=============-->
                    <form class="second-form" style="display:none;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="EmailID" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Pancard</label>
                                    <input type="text" class="form-control" placeholder="Enter Pancard No" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Firm Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter Firm Registration No" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>GST Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter GST Registration No" />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Aadhar Card</label>
                                    <input type="text" class="form-control" placeholder="Enter Aadhaar Number" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control">
                                        <option value="" selected>Select District</option>
                                        <option value="1">Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control">
                                        <option value="" selected>Select State</option>
                                        <option value="1">Test</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter Pin Code" />
                                </div>
                            </div>
                        </div><!--.row-->
                    </form>

                </div>
            </div><!--.modal-body-->

            <div class="modal-footer width100 float-left">
                <ul class="width100 float-left">
                    <li class="one">
                        <button type="button" value="Edit" class="btn">Edit</button>
                    </li>
                    <li class="One2" style="display:none;">
                        <button type="button" value="SaveChange" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Change</button>
                    </li>
                    <li class="two">
                        <button type="button" value="Change" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Reset Password</button>
                    </li>
                    <li class="three">
                        <button type="button" value="Email_Verify" class="btn">Email Verify</button>
                    </li>
                    <li class="four">
                        <button type="button" value="Delet" class="btn">Delete User</button>
                    </li>
                </ul>
            </div><!--.modal-footer-->
        </div>
    </div>
</div>
<div class="modal fund-tr-history  in" id="myModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;">

        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left ecomm-pop-head">

                <h5 id="mdhis">Not Create User History</h5>


                <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>


            </div><!--.modal-header-->
            <div class="modal-body width100 float-left ecomm-pop-body">
                <div class="float-left width100">

                    <div id="htmleerrrorrtable">

                    </div>





                    <!--=============-->

                </div><!--.modal-body-->


            </div>

        </div>
    </div>
</div>




<div class="loaderdealer"></div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Swalalert/datatablejquery.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    $('#btnExport').click(function () {

           var  usernm = $('#myInput').val();

        var url = '@Url.Action("ExcellGenerateForDistibutor", "Home")?usernm='+ usernm;
        location.href = url;

    })
    $('#btnPDF').click(function () {

      var usernm = $('#myInput').val();

          var url = '@Url.Action("PrintDistibutorPartialViewToPdf", "Home")?usernm='+ usernm;;
        //location.href = url;
window.open(
  url,
  '_blank' // <- This is what makes it open in a new window.
);

    })


</script>


<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>
<script>
    var ravi = $.noConflict()
    ravi(document).ready(function () {

        // Initialize select2
        ravi("select").select2();

        // Read selected option

    });
    $(document).ajaxComplete(function () {
        ravi("select").select2();
    });
</script>
<script>
    $('#fileform').submit(function () {
        valid = true;

        if ($("#FileUpload1").val() == '') {
            // your error validation action

            $("#FileUpload1").parent().after("<div class='danger' style='color:red;margin-bottom: 20px;'>Please Upload File</div>");
            valid = false;
        }

        return valid
    });
</script>
<!--edit fill dropdown list-->
<script language="javascript" type="text/javascript">
                    $(function () {
                        $('#State1').change(function () {
                            // alert('Value:' + ' ' + $('#State1').val())
                            var stid = $('#State1').val()
                            if (stid === "") {
                                stid = 0;
                                //alert(stid)
                            }
                            else {
                                //alert(stid)
                                GetDistrict(stid)

                            }
                            function GetDistrict(_stateId) {
                                var procemessage = "<option value='0'> Please wait...</option>";
                                ravi("#District1").html(procemessage).show();
                                var url = '@Url.Action("DistrictList","Home")'
                                $.ajax({
                                    url: url,
                                    data: { Id: _stateId },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value='0'>Select District</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        ravi("#District1").html(markup).show();
                                    },
                                    error: function (reponse) {
                                        alert("error : " + reponse);
                                    }
                                });
                            }
                        });
                    })
</script>

<!--add fill dropdown list-->
<script type="text/javascript">
            $(function () {
                ravi('#State').change(function () {
                    // alert('Value:' + ' ' + $('#State').val())
                    var stid = $('#State').val()
                    if (stid === "") {
                        stid = 0;
                        //alert(stid)
                    }
                    else {
                        //alert(stid)
                        GetDistrict(stid)
                    }
                    function GetDistrict(_stateId) {
                        var procemessage = "<option value='0'> Please wait...</option>";
                        ravi("#District").html(procemessage).show();
                        var url = '@Url.Action("DistrictList","Home")'
                        $.ajax({
                            url: url,
                            data: { Id: _stateId },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                var markup = "<option value='0'>Select District</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                    //alert(markup)
                                }
                               ravi("#District").html(markup).show();
                            },
                            error: function (reponse) {
                                alert("error : " + reponse);
                            }
                        });
                    }
                });
            })
</script>

<!--Edit Distributor Detail-->
<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<script>
    $(document).ajaxStart(function () {
        $("#loading").show();
    });
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
</script>
<script type="text/javascript">
    function val() {
        var dlmnm = document.getElementById("dealername1").value;
        var tel = document.getElementById("Mobile2").value;
        var pin = document.getElementById("Pincode1").value;
        var state1 = document.getElementById("State1").value;
        var dist1 = document.getElementById("District1").value;
        var masterid = document.getElementById("masterid").value;
        if (dlmnm == "" || tel == "" || pin == "" || state1 == "" || dist1 == "Select District" || masterid == "") {
            if (masterid == "") {
                $('#masterid').css('border-color', 'red');
                return false;
            }
            else if (dlmnm == "") {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'red');
                return false;
            }
            else if (state1 == "") {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'red');
                return false;
            }
            else if (District1 == "Select District") {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'green');
                $('#District1').css('border-color', 'red');
                return false;
            }
            else if (tel == "") {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'green');
                $('#District1').css('border-color', 'green');
                $('#Mobile2').css('border-color', 'red');
                return false;
            }
            else if (tel.length > 10) {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'green');
                $('#District1').css('border-color', 'green');
                $('#Mobile2').css('border-color', 'red');
                return false;
            }
            else if (tel.length < 10) {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'green');
                $('#District1').css('border-color', 'green');
                $('#Mobile2').css('border-color', 'red');
                return false;
            }
            else if (pin == "") {
                $('#masterid').css('border-color', 'green');
                $('#dealername1').css('border-color', 'green');
                $('#State1').css('border-color', 'green');
                $('#District1').css('border-color', 'green');
                $('#Mobile2').css('border-color', 'green');
                $('#Pincode1').css('border-color', 'red');
                return false;
            }
        }
        else {
            $('#masterid').css('border-color', 'green');
            $('#dealername1').css('border-color', 'green');
            $('#State1').css('border-color', 'green');
            $('#District1').css('border-color', 'green');
            $('#Mobile2').css('border-color', 'green');
            $('#Pincode1').css('border-color', 'green');
            return true;
        }
    }
</script>
<script>
    function ajaxValidate() {
        $('#lblerror').hide();
        $('#lblmsg').text('')
        $('#lblSuccess').hide();
        $('#lblmsg1').text('')
        var aadhar = $('#adharcard').val();//document.getElementById("adharcard").value;
        var gst = $('#gst').val();
        var pancard = $('#pancard').val();

        if (pancard.length > 0) {
            var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
            if (!regex.test(pancard.toUpperCase())) {
                // $('#error').text('Invalid Pan No')
                // return false;
                $('#lblerror').show();
                $('#lblmsg').text('☒ Invalid PAN No')
                RegisterSuccess.stopImmediatePropagation();

                return false;
            }



        }

        if (aadhar.length > 0) {



            var res = validatesss(aadhar)

            if (res == false) {
                $('#lblerror').show();
                $('#lblmsg').text('☒ Invalid AADHAR No.')

                event.preventDefault();
                RegisterSuccess.stopImmediatePropagation();
                return false;

            }


        }


        if (gst.length > 0) {
            var gstinformat = new RegExp('^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$');
            if (!gstinformat.test($('#gst').val())) {
                //   $('#error').text('Invalid GST No')
                //  return false;
                $('#lblerror').show();
                $('#lblmsg').text('☒ Invalid GST No')

                event.preventDefault();
                RegisterSuccess.stopImmediatePropagation();
                return false;
            }


        }


    }
    // multiplication table
    const d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
    ]

    // permutation table
    const p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
    ]

    // validates Aadhar number received as string
    function validatesss(aadharNumber) {
        let c = 0
        let invertedArray = aadharNumber.split('').map(Number).reverse()

        invertedArray.forEach((val, i) => {
            c = d[c][p[(i % 8)][val]]
        })

        return (c === 0)
    }
</script>
<script>

    $(function () {
        $("#custom-submit").click(function () {

             $.ajax(
            {
                url: '@Url.Action("FormatDownload", "Home")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    Userid: "Distributor"
                },
                type: "GET",
                success: function () {
                    window.location = '@Url.Action("FormatDownload", "Home", new { Userid = "Distributor" })';

                }
            });

        });
    });




    function RegisterSuccess(data) {
        $('#lblSuccess').hide();
        $('#lblmsg1').text('');
        $('#lblerror').hide();
        $('#lblmsg').text('');

        var sts = data.type;
        if (data.type === "Success") {

            ToastrMessage();
            $('#lblSuccess').show();
            $('#lblmsg1').text('✅  Congratulations Account successfully Created');
            $('#lblmsg1').css('padding', '5px');
            ToastrMessage();
              toastr.success('Congratulations Account successfully Created');

                 }
        else {

            $('#lblerror').show();
            $('#lblmsg').text('☒' + " " + data.msg );
             $('#lblmsg').css('padding', '5px');

                    ToastrMessage();
                    toastr.error(data.msg);
                 }


          if (sts === "Success") {
                        // var reason = data.value;
                        $.ajax({
                            url: '@Url.Action("DealerlistPart","Home")',
                            type: 'GET',
                            cache: false,
                            success: function (response) {

                               $('#masterid').val('');
                                $('#Name').val('');
                                $('#FarmName').val('');
                                $('#Email').val('');
                                $('#Mb').val('');
                                 $('#pancard').val('');
                                $('#State').val('');
                                $('#District').val('');
                                $('#Address').val('');
                                 $('#Pincode').val('');
                                $('#adharcard').val('');
                                $('#gst').val('');
                                $('#distributorlist').html(response);

                            }
                        })

                    }
    }


</script>
<!--Edit Dealer detail -->
<script type="text/javascript">
        var val1 = "";
        function editdealer(DealerId) {
            var url = '@Url.Action("DealerIdSearch", "Home")'
            $.ajax({
                url: url,
                data: { dealerid: DealerId },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#txtdealerid").val(data[0].DealerId);
                    $("#txtemail").val(data[0].Email);
                    $("#txtdealername").val(data[0].DealerName);
                    $("#txtfrmname").val(data[0].FarmName);
                    $("#State1").val(data[0].State);
                    $("#txtmobileedit").val(data[0].Mobile);
                    $("#txtAddress").val(data[0].Address);
                    $("#txtpincode").val(data[0].Pincode);
                    $("#txtpancard1").val(data[0].pancard);
                    $("#txtadharcard1").val(data[0].adharcard);
                    $("#txtgst1").val(data[0].gst);
                    //$("#slabedit").val(data[0].slab_name);
                    var objSelect1 = document.getElementById("District1");
                    binddist(data[0].State, data[0].District, objSelect1);
                    $('#defaultModal1').modal('show');
                }

            });

        }
    function binddist(staid, dist, objSelect1) {

            var url = '@Url.Action("DistrictList","Home")'
            $.ajax({
                url: url,
                data: { Id: staid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select District</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#District1").html(markup).show();
                    setSelectedValue(objSelect1, dist);
                }

            });
        }
    function setSelectedValue(selectObj, valueToSet) {

            for (var i = 0; i < selectObj.options.length; i++) {
                if (selectObj.options[i].value == valueToSet) {
                    //alert(selectObj.options[i].value);
                    selectObj.options[i].selected = true;
                    return;
                }
            }
        }
</script>
<script>
     function md_dlm_List(DealerId, id) {
        var idno = "subTbl";
        idno = idno + id;
           var idshow = "subTblshow";
                    idshow = idshow +id;
                    var idhide = "subTblhide";
                    idhide = idhide + id;
    $.ajax({
        url: '@Url.Action("SelectRetailerID","Home")',
        data: { MdId: DealerId },
        type: 'POST',
        cache: false,
        success: function (response) {

            $('#' + idno).html(response);
             $('#' + idshow).css("display", "none");
            $('#' + idhide).css("display", "block");
            $('#' + id).css("display", "table-row");
           }
        })
    }

    function md_dlm_Listhide( id) {
          var idno = "subTbl";
        idno = idno + id;
           var idshow = "subTblshow";
                    idshow = idshow +id;
                    var idhide = "subTblhide";
                    idhide = idhide + id;
            $('#' + idshow).css("display", "block");
            $('#' + idhide).css("display", "none");
            $('#' + id).css("display", "none");
    }


</script>

<!--Insert Popuop-->
<script>
    $(function () {
      @*var message = '@TempData["Error"]'*@

        var chkanyerrorbulk = "@TempData["errorexist"]"
        if (chkanyerrorbulk != null && chkanyerrorbulk!="") {
         var htm ="@Html.Raw(TempData["errortable"])" ;
        $('#htmleerrrorrtable').append(htm)
      $('#myModal').modal('show')
        }

    @{
        var errorMessages = TempData["Error"] as IEnumerable<string>;
         }

        if (@errorMessages != null) {
            swal("Oooops..!", @errorMessages, "success");

        }

        var message = '@TempData["msgrem"]'
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var mobileconfrimation = '@TempData["mobileno"]'
        if (mobileconfrimation != "" && mobileconfrimation != null) {
            swal("Oops...", mobileconfrimation, "error");

        }

        var mailconfrimation = '@TempData["emailconfrim"]'
        if (mailconfrimation != "" && mailconfrimation != null) {
            swal("Oops...", mailconfrimation, "error");

        }
        //Edit Message
        var editdata = '@TempData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }
        //Wrong OTP
        var wrong = '@TempData["wrong"]'
        if (wrong != null && wrong != "") {
            swal("Oops...", wrong, "error");
        }
        //delete Dealer
        var deletemsg = '@TempData["delete"]'
        if (deletemsg != null && deletemsg != "") {
            swal("Good job!", deletemsg, "success");
        }
        var resendmail = '@ViewData["ResendMail"]'
        if (resendmail != null && resendmail != "") {
            swal("Good job!", resendmail, "success");
        }
    });
</script>


<!--Add Slab By master Id-->
<script language="javascript" type="text/javascript">
                    $(function () {
                        $('#masterid').change(function () {
                            // alert('Value:' + ' ' + $('#State1').val())
                            var dealerid = $('#masterid').val()
                            if (dealerid === "") {
                                dealerid = 0;

                            }
                            else {
                                //alert(dealerid)
                                GetDistrict(dealerid)
                            }
                            function GetDistrict(dealerid) {
                                var procemessage = "<option value='0'> Please wait...</option>";
                                $("#slab_name").html(procemessage).show();
                                var url = '@Url.Action("SlabList1","Home")'
                                $.ajax({
                                    url: url,
                                    data: { Id: dealerid },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value=' '>Select Slab</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        $("#slab_name").html(markup).show();
                                    },
                                    //error: function (reponse) {
                                    //    alert("error : " + reponse);
                                    //}
                                });
                            }
                        });
                    })
</script>


<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>
<script>
    $(function () {
        $('.mastetr222Modal button.btn[value="Edit"]').click(function () {
            $(".mastetr222Modal .first-form").hide();
            $(".mastetr222Modal .second-form").show();
            $('.mastetr222Modal .modal-footer li.one').hide();
            $('.mastetr222Modal .modal-footer li.One2').show();
        });
    });
</script>
<script>

    $(function () {
        $('.master-upload-file input:file').change(function () {
            if ($(this).val()) {
                $('.master-upload-file input:submit').attr('disabled', false);

            }
        }
        );
    });
</script>

<script>
    $(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
