@model IEnumerable<Vastwebmulti.Models.DMTpurchase>
@{
    ViewBag.Title = "Dmt_Purchase";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:2px;">
                    <div class="row">
                        <div class="col-md-12">

                            @Html.Partial("_ApislabSetting")

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Account Transfer Services Information</h2>
                                </div>

                                <div class="col-md-8">
                                    <a href="@Url.Action("Money_Transfer_Slab","Home")" id="Comm" class="btn bg-blue-grey waves-effect">Common</a>
                                    <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">Master</button>
                                    <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor</button>
                                    <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer</button>
                                    <button type="button" id="Apibtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('API', 'EditFormUserWise')">API</button>
                                    <button type="button" id="Whitebtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Whitelabel', 'EditFormUserWise')">White Label</button>
                                    <a href="@Url.Action("Dmt_Purchase","Home")" id="purchase" class="btn bg-grey waves-effect">Purchase</a>
                                </div>
                            </div>

                        </div>
                        <div class="body" style="margin-top:15px;">
                            <div class="row">
                                <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                    <table class="table table-bordered ">
                                        <thead style="color:black;position:inherit;background-color:white;">
                                            <tr>
                                                <th>SR.No</th>
                                                <th>Range&nbsp;Amount</th>
                                                <th>Commission</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Html.DisplayFor(modelItem => item.range_amt)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.comm)</td>

                                                    <td>
                                                        <button class="btn btn default" id="but" onclick="edit('@item.idno','@item.range_amt','@item.comm')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="Edit Information">
                                                            Edit
                                                        </button>

                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
     
</div>
</section>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position:initial;background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Account Transfer Purchase Commission</h4>
            </div>
            @using (Html.BeginForm("Dmt_Purchase_comm", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-2px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <input type="text" id="txtid" name="txtid" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Range&nbsp;Amount</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                         @Html.TextBox("amt", "", new { @class = "form-control", required = "required", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("commission", "", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                              
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    function edit(idno,amount,comm)
    {
        $("#txtid").val(idno);
        $("#amt").val(amount);
        $("#commission").val(comm);
        $("#defaultModal1").modal('show');
    }
</script>
<script>
    $(function () {
        var msg = '@ViewData["update"]';
        if (msg != null && msg != "") {
            swal("Good job!", msg, "success");
        }

    });
</script>