@model IEnumerable<Vastwebmulti.Models.DMTBlockUnblock>
@{
    ViewBag.Title = "DMTBlockUnblock";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}


<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    [type="checkbox"].filled-in:not(:checked) + label:after
    {
        background-color:#f5f5f5;
        border:2px solid #dddddd;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-8">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_menuoperatorcode")
                        </div>

                    </div>
                    @*@using (Html.BeginForm("OperatorIndex", "Home", FormMethod.Post))
                        {*@
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-bottom:0px; margin-top:3px;">
                                    <div class="input-group" style="margin-top:0px; margin-bottom:0px;">
                                        <div class="input-group-addon" style="background-color:whitesmoke; color:white;border:1px solid #dddddd;border-radius:0px;padding:0 7px 0 0;">
                                            &nbsp;&nbsp;&nbsp;<i class="material-icons" style="color:#607d8b;">date_range</i>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datetimepicker form-control " style="text-align:center;border:1px solid #dddddd; height:37px; width:100px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>

                            </div>
                            <div class="col-md-6">
                                <button type="button" id="block" name="block" value="Blocked" class="btn btn-default waves-effect" style="margin-top:3px;  height:37px;border:1px solid #dddddd; margin-left:-37px;">
                                    <i class="fa fa-lock" style="top:2px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Blocked</span>
                                </button>
                                <button type="button" id="unblock" value="Unblocked" name="Unblocked" class="btn btn-default waves-effect" style="margin-top:3px;height:37px;border:1px solid #dddddd;">
                                    <i class="fa fa-unlock-alt" style="top:2px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Unblocked</span>
                                </button>
                            </div>


                        </div>

                    </div>
                    @*}*@
                </div>
            </div>

        </div>
       
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:8px;">
                <div class="card">
                    <div class="body" style="margin-top:-25px;padding:5px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered">
                                <thead  style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center;">
                                            <input name="optblock" type="checkbox" id="selecctall" class="filled-in chk-col-deep-purple" />
                                            <label for="selecctall" style="height:9px;margin-left:9px;"></label>
                                        </th>
                                        <th style="padding-left:0px; text-align:center;">Type</th>
                                        <th style="padding-left:0px; text-align:center;">Status </th>          
                                        <th style="padding-left:0px; text-align:center;">Block Time  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                            var color1 = "#424242";
                                            var color = "#fff";
                                            <tr style="background-color: @color;color:@color1;">
                                                <td>
                                                    <center>
                                                        <input name="optblock" type="checkbox" id="@item.Type" value="@item.Type" class="filled-in chk-col-pink" />
                                                        <label for="@item.Type"></label>
                                                    </center>
                                                </td>
                                                <td>
                                                    @item.Type
                                                </td>
                                                <td>
                                                    @if (item.status == "Y")
                                                    {
                                                        <center>
                                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />

                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />

                                                        </center>

                                                    }
                                                </td>
                                                <td>
                                                    @item.blocktime
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function(){

         var message = '@ViewData["success"]'
        if (message != "" && message != null) {
            if (message.includes("Successfully")) {
                swal("Good job!", message, "success");
            }
            else {
                swal("Ooops !", message, "error");
            }
        }

        var from = '@ViewBag.fromdate';
        if (from != "" && from != null) {
            $('#txt_frm_date').val(from);

        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
        }
    });
</script>
<!--Block Javascript-->
<script>
         $("#block").click(function () {
             var date = $("#txt_frm_date").val();

                        var answer = confirm("ARE YOU SURE?")
                        if (answer = true) {
                            var optCode = [];
                                $.each($("input[name='optblock']:checked"), function () {
                                    optCode.push($(this).val());
                                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("checkDmtBlock", "Home")',
                    data: { 'array': optCode, 'date': date,'type':'block' },
                    success: function (result) {
                        window.location.reload(true);
                    }
                });
            }
            else {
                return false;
            }
        });
</script>

<!--Unblock Status Code-->
<script>
    $("#unblock").click(function () {
        var date = $("#txt_frm_date").val();

        var answer = confirm("ARE YOU SURE?")
        if (answer = true) {
            var optCode = [];
            $.each($("input[name='optblock']:checked"), function () {
                optCode.push($(this).val());
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkDmtBlock", "Home")',
                data: { 'array': optCode, 'date': date, 'type': 'unblock' },
                success: function (result) {
                    window.location.reload(true);
                }
            });
        }
        else {
            return false;
        }

    });
</script>




