@model Vastwebmulti.Areas.ADMIN.Models.DMTSlabModelPPI
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "DmtSlabPPI";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities db = new VastwebmultiEntities();
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>

    select, input {
        background: #f5f5f5;
        height: 36px;
        border: 1px solid #ccc;
        width: 19%;
        margin-right: 4px;
        padding: 0 10px;
        margin-bottom: 4px;
    }

    #divComm11 {
        width: 100%;
        float: left;
    }



    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) {
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 38px !important;
        background-color: #f5f5f5 !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px !important;
        }

    .ldio-gs56nt525f div {
        box-sizing: content-box;
    }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }

    .slab-buttonadminch button, .slab-buttonadminch a {
        float: left !important;
    }

    .slab-buttonadminch #updatediv {
        padding-left: 0;
        padding-right: 0;
    }

    .slab-buttonadminch p.uptotransction {
        float: left;
        background: #f9f9cb;
        color: #555;
        padding: 0 1px;
        margin-left: 8px;
        margin-top: 3px;
    }

        .slab-buttonadminch p.uptotransction.activeupto::after {
            content: "";
            float: left;
            width: 10px;
            height: 10px;
            background: url('../../ashok-images/correct.svg')no-repeat;
            background-color: green;
            background-size: 83%;
            background-position: center;
            position: relative;
            left: -3px;
            top: 1.4px;
        }

    .slab-buttonadminch button.valuechangebuttonadmin {
        float: right !important;
        width: 13% !important;
        background: #f0f0f0 !important;
        border: 1px solid #bfbebe !important;
        color: #555 !important;
        text-transform: uppercase;
        font-size: 10px !important;
        padding: 0 1px !important;
    }

    .moneytransferslab-admin .admin-slabcardclass button:nth-child(8) {
        width: 13% !important;
    }

    @@media screen and (max-width:1366px) {
        .slab-buttonadminch button.valuechangebuttonadmin {
            width: 13.5% !important;
        }

        .moneytransferslab-admin .admin-slabcardclass button:nth-child(8) {
            width: 17% !important;
        }

        .moneytransferslab-admin .admin-slabcardclass button .uptotransction {
            margin-left: 6px;
        }
    }

    @@media screen and (max-width:766px) {
        .moneytransferslab-admin .admin-slabcardclass a, .moneytransferslab-admin .admin-slabcardclass button {
            width: 25% !important;
            float: left !important;
        }

            .moneytransferslab-admin .admin-slabcardclass button:nth-child(8), .moneytransferslab-admin .admin-slabcardclass button:nth-child(9) {
                width: 48% !important;
                float: left !important;
                margin-top: 12px;
            }
    }

    #Comm {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Mdbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Dlmbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Rembtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Apibtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Whitebtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    .table-respo11 {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
    }

    .btn.bg-blue-grey.waves-effect.fullbodydycolorbg {
        color: #fff !important;
    }

    .all-slab-header .bg-blue-grey {
        color: #8f9393 !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
    }

        #ul li a {
            display: initial !important;
        }



    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }

        .custnav-adminbuttonch ul li {
            margin-bottom: 8px !important;
            padding: 0px 9px !important;
        }
    }



    @@media only screen and (max-width:1080px) {

        .slab-first-tab h2 {
            font-size: 18px;
        }

        .nav > li > a {
            padding: 10px 5px;
        }

        div#custnav ul li a {
            font-size: 12px;
        }

        .slab-first-tab .nav-tabs li a::before {
            width: 8px !important;
            height: 8px !important;
            right: 9px !important;
        }

        .slab-first-tab ul li {
            margin-top: 11px;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            font-size: 10px !important;
        }
    }


    @@media only screen and (max-width:1024px) {
        #sidebar-open {
            top: 29px;
            left: -146px;
        }
    }


    @@media only screen and (max-width:992px) {
    }

    @@media only screen and (max-width:991px) {

        .slab-first-tab {
            float: left;
        }

        .slab-first-tab {
            width: 15% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 84% !important;
        }
    }


    @@media only screen and (max-width:767px) {

        #sidebar-open {
            top: 0px;
            left: -3px;
        }

        .all-slab-header button#btnEdit {
            margin-top: 0px;
        }

        .all-slab-header #btnutility {
            margin-top: 0px;
        }

        .p_range {
            width: 100% !important;
            float: left !important;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            margin-bottom: 7px;
            width: 32% !important;
        }
    }

    @@media only screen and (max-width:600px) {
        .slab-first-tab {
            width: 25% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 73% !important;
        }
    }


    @@media only screen and (max-width:425px) {
        .slab-first-tab {
            width: 100% !important;
        }

            .slab-first-tab .nav-tabs li a::before {
                top: 3px;
            }

        .col-md-10.slab-first-tab-content {
            width: 100% !important;
        }
    }
</style>
<section class="content fourdesign-section-admin">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Money Transfer PPI Wallet Slab </h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">DMT</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        @*<div class="row clearfix">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom:2px;">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Partial("_ApislabSetting")
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row clearfix">
            <div class="col-md-12">
                @Html.Partial("_Slab_Menu")
                <div class="col-md-10 slab-first-tab-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 moneytransferslab-admin">
                            <div class="page-header-third">
                                @Html.Partial("_slab_Financal")
                            </div>
                            <div class="card admin-slabcardclass">
                                <div class="">
                                    <div class="row">
                                        <div id="updatediv" class="col-md-12 all-slab-header slab-buttonadminch all-slab-header-second slab-btn-second">
                                            <div class="page-header-third p_range" style="float:left; width:auto;">
                                                <a href="@Url.Action("DmtSlabPPI", "Home")" id="Comm" class="btn bg-blue-grey waves-effect fullbodydycolorbg">Common Slab<p>For New Users</p></a>
                                                <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">MD Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer Slab<p>Exsiting Users</p></button>
                                             </div>
                                            <div class="page-header-third" style="float:right;width:auto;">
                                                <button id="btnEdit" type="button" class="btn  waves-effect btn-first" style=" width: auto; padding: 7px 15px !important; float: right !important;" onclick="funcEdit(this, 'EditFormComm')"><img src="~/AdminDesign/images/edit.svg" style="width:13px;"><span style="color:#3c3c3c;">Edit</span></button>
                                                @*<button id="btnEdit11" type="button" class="btn  waves-effect btn-first" style="display:none; width: auto; padding: 7px 15px !important; float: right !important;" onclick="editddff()"><img src="~/AdminDesign/images/edit.svg" style="width:13px;"><span style="color:#3c3c3c;">Edit</span></button>*@
                                                @* <button id="btnEdit112" type="button" class="btn  waves-effect btn-first" style="display:none; width: auto; padding: 7px 15px !important; float: right !important;" onclick="Savedmtdata()"><span style="color:#3c3c3c;">Save</span></button>*@

                                             

                                            </div>
                                        </div>
                                        <div class="table-responsive page-header-third">
                                            <div id="divEditFormComm" class=" table-responsive slab-edit-table tablefourdesign-admin" style="position:inherit;">
                                                @Html.Partial("_Common_Money_transfer_new_PPI", Model)
                                            </div>
                                            <div id="divComm11" class=" table-responsive slab-edit-table tablefourdesign-admin" style="position:inherit;display:none">

                                            </div>
                                            <div style="display:none">
                                                <input type="hidden" value="" id="usseersss" />
                                                <input type="hidden" value="" id="rolenames" />
                                            </div>
                                            <table id="tblhide" class="table table-bordered slab-table example-second thpadding-second third-design-table" style="display:none">
                                                <thead class="navbar" style="position:initial;">
                                                    <tr>
                                                        <th rowspan="2">User&nbsp;Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        <th rowspan="2">Verify&nbsp;<br />Charge&nbsp;(₹)</th>
                                                        <th colspan="2" style="text-align:center">Charge&nbsp;100&nbsp;>&nbsp;1K</th>
                                                        <th colspan="2" style="text-align:center">Charge&nbsp;1001&nbsp;>&nbsp;2K</th>
                                                        <th colspan="2" style="text-align:center">Charge&nbsp;2001&nbsp;>&nbsp;3K</th>
                                                        <th colspan="2" style="text-align:center">Charge&nbsp;3001&nbsp;>&nbsp;4K</th>
                                                        <th colspan="2" style="text-align:center">Charge&nbsp;4001&nbsp;>&nbsp;5K</th>

                                                    </tr>
                                                    <tr style="color: #333333; font-weight: 600; font-size: 11px;">
                                                        <td>Charge</td>
                                                        <td>Active</td>
                                                        <td>
                                                            Charge
                                                        </td>
                                                        <td>Active</td>
                                                        <td>
                                                            Charge
                                                        </td>
                                                        <td>Active</td>
                                                        <td>
                                                            Charge
                                                        </td>
                                                        <td>Active</td>
                                                        <td>
                                                            Charge
                                                        </td>
                                                        <td>Active</td>



                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyshowss" style="display:none">
                                                    <tr>
                                                        <td id="usertype"></td>
                                                        <td id="Verify_comm"></td>
                                                        <td id="Comm_1"></td>
                                                        <td>%</td>
                                                        <td id="Comm_2"></td>
                                                        <td>%</td>
                                                        <td id="Comm_3"></td>
                                                        <td>%</td>
                                                        <td id="Comm_4"></td>
                                                        <td>%</td>
                                                        <td id="Comm_5"></td>
                                                        <td>%</td>
                                                    </tr>
                                                </tbody>

                                                <tbody id="tbodyshowh" style="display:none">
                                                    <tr>
                                                        <td><input type="text" id="usertype1" value="" readonly="readonly" /> </td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Verify_comm1" value="" /></td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Comm_11" value="" /></td>
                                                        <td>%</td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Comm_21" value="" /></td>
                                                        <td>%</td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Comm_31" value="" /></td>
                                                        <td>%</td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Comm_41" value="" /></td>
                                                        <td>%</td>
                                                        <td> <input type="text" style=" border: 1px solid; border-color: gainsboro;" id="Comm_51" value="" /></td>
                                                        <td>%</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <script>
                                            function Savedmtdata() {
                                                var roles = document.getElementById('rolenames').value;
                                                var userid = document.getElementById('usseersss').value;
                                                var vc = document.getElementById('Verify_comm1').value;
                                                var c1 = document.getElementById('Comm_11').value;
                                                var c2 = document.getElementById('Comm_21').value;
                                                var c3 = document.getElementById('Comm_31').value;
                                                var c4 = document.getElementById('Comm_41').value;
                                                var c5 = document.getElementById('Comm_51').value;

                                                $.ajax({
                                                url: '@Url.Action("DMTdataSaves", "Home")',
                                                    type: 'POST',
                                                    data: { role: roles, userid: userid, vc: vc, c1: c1, c2: c2, c3: c3, c4: c4 , c5:c5 },
                                                    success: function (data) {
                                                        if (data == "Success") {
                                                            document.getElementById('Verify_comm').innerHTML = vc;
                                                            document.getElementById('Comm_1').innerHTML = c1;
                                                            document.getElementById('Comm_2').innerHTML = c2;
                                                            document.getElementById('Comm_3').innerHTML = c3;
                                                            document.getElementById('Comm_4').innerHTML = c4;
                                                            document.getElementById('Comm_5').innerHTML = c5;

                                                            document.getElementById('tbodyshowss').style.display = "contents";
                                                            document.getElementById('tbodyshowh').style.display = "none";
                                                            document.getElementById('btnEdit112').style.display = "none";
                                                            document.getElementById('btnEdit11').style.display = "block";
                                                        }
                                                        else {

                                                        }
                                                    },
                                                    error: function (data) {
                                                    }
                                                });
                                            }


                                            function getvalue(role) {


                                                    var value = document.getElementById("getvalules").value;

                                                document.getElementById('tbodyshowh').style.display = "none";
                                                document.getElementById('btnEdit112').style.display = "none";
                                                document.getElementById('btnEdit11').style.display = "block";
                                                if (value != "" && value != null) {
                                                    $.ajax({
                                                        url: '@Url.Action("userdetailsall", "Home")',
                                                        type: 'POST',
                                                        data: { role: role, userid: value },
                                                        success: function (data) {
                                                            document.getElementById('tbodyshowss').style.display = "contents";
                                                            document.getElementById('frmnme').value = data.farmname;
                                                            document.getElementById('usertype').innerHTML = data.farmname;
                                                            document.getElementById('usertype1').value = data.farmname;
                                                            document.getElementById('Verify_comm').innerHTML = data.vc;
                                                            document.getElementById('Verify_comm1').value = data.vc;
                                                            document.getElementById('Comm_1').innerHTML = data.c1;
                                                            document.getElementById('Comm_11').value = data.c1;
                                                            document.getElementById('Comm_2').innerHTML = data.c2;
                                                            document.getElementById('Comm_21').value = data.c2;
                                                            document.getElementById('Comm_3').innerHTML = data.c3;
                                                            document.getElementById('Comm_31').value = data.c3;
                                                            document.getElementById('Comm_4').innerHTML = data.c4;
                                                            document.getElementById('Comm_41').value = data.c4;
                                                            document.getElementById('Comm_5').innerHTML = data.c5;
                                                            document.getElementById('Comm_51').value = data.c5;

                                                            document.getElementById('Emls').value = data.Emails;
                                                            document.getElementById('mbss').value = data.mobile;
                                                            document.getElementById('Rolessd').value = role;
                                                            document.getElementById('rolenames').value = role;
                                                            document.getElementById('usseersss').value = data.userid;

                                                        },
                                                        error: function (data) {
                                                        }
                                                    });
                                                }
                                                else {
                                                    document.getElementById('frmnme').value = "";
                                                    document.getElementById('Emls').value = "";
                                                    document.getElementById('mbss').value = "";
                                                    document.getElementById('tbodyshowss').style.display = "none";
                                                    document.getElementById('tbodyshowh').style.display = "none";
                                                    document.getElementById('btnEdit112').style.display = "none";
                                                    document.getElementById('btnEdit11').style.display = "block";
                                                }
                                            }
                                            function getvalue21(role) {



                                                    var value = document.getElementById("getvalules111").value;


                                                document.getElementById('tbodyshowh').style.display = "none";
                                                document.getElementById('btnEdit112').style.display = "none";
                                                document.getElementById('btnEdit11').style.display = "block";
                                                if (value != "" && value != null) {
                                                    $.ajax({
                                                        url: '@Url.Action("userdetailsall", "Home")',
                                                        type: 'POST',
                                                        data: { role: role, userid: value },
                                                        success: function (data) {
                                                            document.getElementById('tbodyshowss').style.display = "contents";
                                                            document.getElementById('frmnme').value = data.farmname;
                                                            document.getElementById('usertype').innerHTML = data.farmname;
                                                            document.getElementById('usertype1').value = data.farmname;
                                                            document.getElementById('Verify_comm').innerHTML = data.vc;
                                                            document.getElementById('Verify_comm1').value = data.vc;
                                                            document.getElementById('Comm_1').innerHTML = data.c1;
                                                            document.getElementById('Comm_11').value = data.c1;
                                                            document.getElementById('Comm_2').innerHTML = data.c2;
                                                            document.getElementById('Comm_21').value = data.c2;
                                                            document.getElementById('Comm_3').innerHTML = data.c3;
                                                            document.getElementById('Comm_31').value = data.c3;
                                                            document.getElementById('Comm_4').innerHTML = data.c4;
                                                            document.getElementById('Comm_41').value = data.c4;
                                                            document.getElementById('Comm_5').innerHTML = data.c5;
                                                            document.getElementById('Comm_51').value = data.c5;

                                                            document.getElementById('Emls').value = data.Emails;
                                                            document.getElementById('mbss').value = data.mobile;
                                                            document.getElementById('Rolessd').value = role;
                                                            document.getElementById('rolenames').value = role;
                                                            document.getElementById('usseersss').value = data.userid;

                                                        },
                                                        error: function (data) {
                                                        }
                                                    });
                                                }
                                                else {
                                                    document.getElementById('frmnme').value = "";
                                                    document.getElementById('Emls').value = "";
                                                    document.getElementById('mbss').value = "";
                                                    document.getElementById('tbodyshowss').style.display = "none";
                                                    document.getElementById('tbodyshowh').style.display = "none";
                                                    document.getElementById('btnEdit112').style.display = "none";
                                                    document.getElementById('btnEdit11').style.display = "block";
                                                }
                                            }



                                            function editUserWise1(userRole, user) {
                                                document.getElementById('btnEdit').style.display = "none";
                                                document.getElementById('btnEdit11').style.display = "block";
                                                document.getElementById('tbodyshowss').style.display = "none";
                                                document.getElementById('tbodyshowh').style.display = "none";
                                                document.getElementById('btnEdit112').style.display = "none";
                                                 $.ajax({
                url: '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")',
                type: 'POST',
             data: { role: userRole },
             success: function (data) {
                 var element = document.getElementById("Mdbtn");
                 var element1 = document.getElementById("Dlmbtn");
                 var element2 = document.getElementById("Rembtn");
                 var element3 = document.getElementById("Apibtn");
                 var element4 = document.getElementById("Whitebtn");
                 var element5 = document.getElementById("Comm");
                 element5.classList.remove("fullbodydycolorbg");
                 element5.classList.remove("bg-grey");
                 var hhh = document.getElementById('divComm11');

                     element.classList.remove("fullbodydycolorbg");
                     element1.classList.remove("fullbodydycolorbg");
                     element2.classList.add("fullbodydycolorbg");
                     element3.classList.remove("fullbodydycolorbg");
                     element4.classList.remove("fullbodydycolorbg");

                 var set = document.createElement("select");
                 var set11 = document.createElement("select");
                 set.setAttribute("onchange", "getvalue11(\'" + userRole + "\')")
                 set11.setAttribute("onchange", "getvalue21('Retailer')")

                     userRole = "Dealers";

                 set.id = "getvalules";
                 set11.id = "getvalules111";
                 var set1 = document.createElement("option");
                 var set111 = document.createElement("option");
                 set1.value = "";
                 set1.text = userRole + " All Users";
                 set111.value = "";
                 set111.text = "Retailers All Users";
                 set.appendChild(set1);
                 set11.appendChild(set111);
                 for (var i = 0; i < data.userid.length; i++) {
                     var set2 = document.createElement("option");
                     set2.text = data.farmname[i];
                     set2.value = data.userid[i];
                     set.appendChild(set2);
                 }
                 var hhh = document.getElementById('divComm11');
                 document.getElementById('divEditFormComm').style.display = "none";
                 document.getElementById('divComm11').style.display = "inline-table";
                 document.getElementById('tblhide').style.display = "inline-table";
                 hhh.innerHTML = "";


                 var createinput = document.createElement("input");
                 createinput.id = "frmnme";

                 createinput.setAttribute("placeholder", "User Name")
                 createinput.setAttribute("readonly", "readonly")
                 createinput.setAttribute("value", "")

                 var createinput1 = document.createElement("input");
                 createinput1.id = "Emls";
                 createinput1.placeholder = "User Email";
                 createinput1.setAttribute("placeholder", "User Email")
                 createinput1.setAttribute("readonly", "readonly")
                 createinput1.setAttribute("value", "")
                 var createinput2 = document.createElement("input");
                 createinput2.id = "mbss";
                 createinput2.setAttribute("placeholder", "User Mobile no.")
                 createinput2.setAttribute("readonly", "readonly")
                 createinput2.setAttribute("value", "")



                 var createinput3 = document.createElement("input");
                 createinput3.id = "usrdf";
                 createinput3.style = "Display:none"
                 createinput3.setAttribute("readonly", "readonly")
                 createinput3.setAttribute("value", "")

                 var createinput4 = document.createElement("input");
                 createinput4.id = "Rolessd";
                 createinput4.style = "Display:none"
                 createinput4.setAttribute("readonly", "readonly")
                 createinput4.setAttribute("value", "")

                 hhh.appendChild(set);
                 hhh.appendChild(set11);

                 hhh.appendChild(createinput);
                 hhh.appendChild(createinput1);
                 hhh.appendChild(createinput2);
                 hhh.appendChild(createinput3);
                 hhh.appendChild(createinput4);
                },
                error: function (data) {
                }
            });
                                            }


                                            function getvalue11(userRole) {
                                                var value = document.getElementById("getvalules").value;
                                                document.getElementById('tbodyshowh').style.display = "none";
                                                document.getElementById('btnEdit112').style.display = "none";
                                                document.getElementById('btnEdit11').style.display = "block";
                                                if (value != "" && value != null) {
                                                    $.ajax({
                                                        url: '@Url.Action("userdetailsall1", "Home")',
                                                        type: 'POST',
                                                        data: { role: userRole, userid: value },
                                                        success: function (data) {


                                                            document.getElementById('tbodyshowss').style.display = "contents";
                                                            document.getElementById('frmnme').value = data.farmname;
                                                            document.getElementById('usertype').innerHTML = data.farmname;
                                                            document.getElementById('usertype1').value = data.farmname;
                                                            document.getElementById('Verify_comm').innerHTML = data.vc;
                                                            document.getElementById('Verify_comm1').value = data.vc;
                                                           document.getElementById('Comm_1').innerHTML = data.c1;
                                                           document.getElementById('Comm_11').value = data.c1;
                                                           document.getElementById('Comm_2').innerHTML = data.c2;
                                                           document.getElementById('Comm_21').value = data.c2;
                                                           document.getElementById('Comm_3').innerHTML = data.c3;
                                                           document.getElementById('Comm_31').value = data.c3;
                                                           document.getElementById('Comm_4').innerHTML = data.c4;
                                                           document.getElementById('Comm_41').value = data.c4;
                                                           document.getElementById('Comm_5').innerHTML = data.c5;
                                                           document.getElementById('Comm_51').value = data.c5;

                                                            document.getElementById('Emls').value = data.Emails;
                                                            document.getElementById('mbss').value = data.mobile;
                                                            document.getElementById('Rolessd').value = userRole;
                                                            document.getElementById('rolenames').value = userRole;
                                                            document.getElementById('usseersss').value = data.userid;
                                                            var remidss = document.getElementById('getvalules111');


                                                            // Remove existing options
                                                            for (var i = remidss.options.length - 1; i >= 0; i--) {
                                                                remidss.remove(i);
                                                            }
                                                            var ddd11 = document.createElement("option");
                                                            ddd11.text = "Select Retailer";
                                                            ddd11.value = "";
                                                            remidss.appendChild(ddd11);
                                                            if (data.remusers != "" && data.remusers != null) {
                                                                for (var i = 0; i < data.remusers.length; i++) {

                                                                    var ddd = document.createElement("option");
                                                                    ddd.text = data.remfrm[i];
                                                                    ddd.value = data.remusers[i];
                                                                    remidss.appendChild(ddd);
                                                                }

                                                            }
                                                        },
                                                        error: function (data) {
                                                        }
                                                    });
                                                }
                                                else {
                                                    document.getElementById('frmnme').value = "";
                                                    document.getElementById('Emls').value = "";
                                                    document.getElementById('mbss').value = "";
                                                    document.getElementById('tbodyshowss').style.display = "none";
                                                    document.getElementById('tbodyshowh').style.display = "none";
                                                    document.getElementById('btnEdit112').style.display = "none";
                                                    document.getElementById('btnEdit11').style.display = "block";
                                                    var remidss = document.getElementById('getvalules111');


                                                    // Remove existing options
                                                    for (var i = remidss.options.length - 1; i >= 0; i--) {
                                                        remidss.remove(i);
                                                    }
                                                    var ddd11 = document.createElement("option");
                                                    ddd11.text = "Select Retailer";
                                                    ddd11.value = "";
                                                    remidss.appendChild(ddd11);
                                                }
                                            }




                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</section>
<div id="div_Loader" style="display:none;">
    <div class="loadingio-spinner-gear-94vo528ab8">
        <div class="ldio-gs56nt525f">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Update_Dlm_slab", "Home", FormMethod.Post))
        {
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ekyc Charge </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="Name" class="col-sm-3 text-right control-label col-form-label">Charge</label>
                            <div class="col-sm-9">
                                @Html.TextBox("txtcharge", "", new { @class = "form-control", placeholder = "Enter Charge", required = "required", @type = "number" })


                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function update(e) {
        var url = '@Url.Action("UpdateLimit", "Home")';

        $.post(url, { per: e }, function (data) {
            $("#updatediv").load(location.href + " #updatediv");
          })
          .fail(function (xhr, status, error) {
          })
    }
    $('.classwithknown1').click(function () {
        var e = $(this).find("span").data("value");
        var currenclass = $(this);

     $.ajax({
                url: '@Url.Action("UpdateLimit", "Home")',
                type: 'POST',
                 data: { per: e },
                success: function (data) {

                    if (data == 'okok')
                    {

                        currenclass.addClass('activeupto').siblings().removeClass('activeupto');

                    }
                    else {
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {
                }
            });

    })
      $('.classwhichknown').click(function () {
          var e = $(this).find("span").data("value");
        var currenclass = $(this);

     $.ajax({
                url: '@Url.Action("Pertansectonmoneytransfer", "Home")',
                type: 'POST',
                 data: { per: e },
                success: function (data) {

                    if (data == 'okok')
                    {

                        currenclass.addClass('activeupto').siblings().removeClass('activeupto');

                    }
                    else {
                        //swal("Oops...", response.Message, "error");
                    }
                },
                error: function (data) {
                }
            });

    })

</script>
<script>
    var FormId = "";
        var roleshow = "";
    function funcEdit(event, frmId) {
        //alert();
        var val = $('#ddlUserId').val();
        var ddldlm = $('#ddldealer').val();
        var ddlrem = $('#ddlUserIdrem').val();

        $('#btnsubmit').show();
        $('#btnsubmituser').show();
            if (val == "") {
            $('#btnsubmitusercommon').show();
        }
                if (roleshow == "Retailer" && ddldlm != "" && ddlrem=="") {
            $('#btnsubmitusercommondlmrem').show();
        }
        $('#btnEdit').hide();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        } else if (ddlVal != null && ddlVal != '')//Update ALL
        {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
        }
    }
    function funcSave() {
        //alert(FormId);
        $("#" + FormId + "").submit();
    }
        function editUserWise(userRole, frmId) {
          roleshow = userRole;
           $('#div_Loader').show();
          $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(userRole);
        var url = '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")';
        $.post(url, { role: userRole }, function (data) {
              $('#div_Loader').hide();
            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#role").val(userRole);
              if (userRole == "Retailer") {
                $('#retailerdrop').show();
                $('#allshow').hide();
        }
        else {
                $('#retailerdrop').hide();
                $('#allshow').show();
        }
        })
            .fail(function (xhr, status, error) {
                $('#div_Loader').hide();
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
        }
    }
    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
         $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(ddlVal);
        var url = '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
          })
          .fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
              //alert("finished");
          });
    }
      function ddlRetailerIdChange() {
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var ddlVal = $('#ddlUserId').val();

        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });
    }

       function ddlretailerid() {
        var dlmid = $('#ddldealer').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")';
        $.post(url, { role: role, dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });
    }

     function ddlUserIdChangerem() {
        var dlmid = $('#ddldealer').val();
        var ddlVal = $('#ddlUserIdrem').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserDMTSlab_DMT_PPI", "Home")';
        $.post(url, { role: role, userid: ddlVal,dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });
    }
</script>

<script>
    $(function () {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    });
</script>


@*<script>
        $('.admin-slabcardclass button p.uptotransction').on('click', function(){
        $(this).addClass('activeupto').siblings().removeClass('activeupto');
    });
    </script>*@

<script>
    updatechargeekyc = () => {
           $.ajax({
              url: '@Url.Action("ChargeDMTEKYCinfo", "Home")',
              type: 'POST',
               success: function (data) {
                   $('#txtcharge').val(data)
                  $('#exampleModal').modal('show');
              },
              error: function (data) {
              }
          });

    }
</script>

