@model Vastwebmulti.Areas.ADMIN.Models.DthConnSlab
@{
    ViewBag.Title = "DthConnection_Slab_setting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:2px;">
                    <div class="row">
                        <div class="col-md-12">

                            @Html.Partial("_ApislabSetting")

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>DthConnection Services Information</h2>
                            </div>
                            <div class="col-md-8">
                                <a href="@Url.Action("DthConnection_Slab_setting","Home")" id="Comm" class="btn bg-blue-grey waves-effect">Common</a>
                                <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">Master</button>
                                <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor</button>
                                <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer</button>
                                <button type="button" id="Apibtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('API', 'EditFormUserWise')">API</button>
                                <button type="button" id="Whitebtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Whitelabel', 'EditFormUserWise')">White Label</button>
                                <button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, 'EditFormComm')">Edit</button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <div id="divEditFormComm" class="body table-responsive" style="position:inherit; margin-top:-20px;">
                            @using (Html.BeginForm("DthConnection_Slab_setting", "Home", FormMethod.Post, new { id = "EditFormComm" }))
                            {
                                <table class="table table-bordered">
                                    <thead class="navbar" style="position:initial;color:white;">
                                        <tr>
                                            <th>Operator&nbsp;Name</th>
                                            <th>Master</th>
                                            <th>Distributor</th>
                                            <th>Retailer</th>
                                            <th>API</th>
                                            <th>Whitelabel</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyshow">
                                        @foreach (var item in Model.common)
                                        {
                                            <tr>
                                                <td><p>@item.OperatorName</p></td>
                                                <td>@item.mastercomm</td>
                                                <td>@item.dlmcomm</td>
                                                <td>@item.retailercomm</td>
                                                <td>@item.apicomm</td>
                                                <td>@item.whitelabelcomm</td>

                                            </tr>
                                        }

                                    </tbody>
                                    <tbody id="tbodyedit" style="display:none;">
                                        @for (int i = 0; i < Model.common.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(a => a.common[i].idno)
                                                <td>
                                                    @Html.DisplayFor(a => a.common[i].OperatorName)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].mastercomm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].mastercomm)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].dlmcomm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].dlmcomm)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].retailercomm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].retailercomm)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].apicomm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].apicomm)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].whitelabelcomm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].whitelabelcomm)
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var FormId = "";
    function funcEdit(event, frmId) {
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        $(event).replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcSave()">Save</button>');
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();

        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        }
         if (ddlVal != null && ddlVal != '')//Update ALL
         {

            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
         }
         var Retailerval = $('#Retailerid').val();

         if (Retailerval != null && Retailerval == '')//Update ALL
         {

             $('#tbodyeditAll').show();
             $('#tbodyedit').hide();

         }
         if (Retailerval != null && Retailerval != '')//Update ALL
         {

             $('#tbodyeditAll').hide();
             $('#tbodyedit').show();

         }


    }
    function funcSave() {
        //alert(FormId);
        $("#" + FormId + "").submit();
    }
    function editUserWise(userRole, frmId) {
        //alert(userRole);
        var url = '@Url.Action("_UserDthConnectionSlab", "Home")';
        $.post(url, { role: userRole }, function (data) {

            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, \'EditFormComm\')">Edit</button>');
            $("#role").val(userRole);
        })
          .fail(function (xhr, status, error) {
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";

        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Retailer") {

            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Retailerdropdow").show();
           //var  x = $("#ddlUserId");
           // x.options[x.selectedIndex].text = "Select Dealer";

        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
    }

    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserDthConnectionSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, \'EditFormComm\')">Edit</button>');

        })
          .fail(function (xhr, status, error) {

          })
          .always(function () {

          });

    }
    //Indivual Retailer Wise
    function ddlRetailerIdChange() {
        var ddlVal = $('#Retailerid').val();
        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserDthConnectionSlab", "Home")';
        $.post(url, { role: role, Retailerid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, \'EditFormComm\')">Edit</button>');

        })
          .fail(function (xhr, status, error) {

          })
          .always(function () {

          });

    }
</script>
<!--Window Load-->
<script>
    window.onload=function()
    {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    }
</script>