@model IEnumerable<Vastwebmulti.Models.show_ecomm_report_Result>
@{
    ViewBag.Title = "EcommerceHistory";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    /*  New css vs responcive    */
    .mrj {
        width: auto;
    }
    .filter-option.pull-left {
        margin: 0px 10px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }



    @@media only screen and (max-width: 992px){
        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }
        .all-type-third {
            display: block !important;
        }

    }

    @@media only screen and (max-width:767px){
        #sidebar-open {
            top: -1px;
            left: -4px;
        }

        .tre1, .tre2 {
            width: 50% !important;
            float: left !important;
            margin-bottom: 15px;
        }

        .tre3 {
            width: 100%;
            float: left;
            margin-bottom: 15px;
        }

        .tre1 ul li, .tre2 ul li {
            width: 32%;
        }

        .web-white-filter {
            float: left !important;
        }

        .tre1 ul li a, .tre2 ul li a {
            text-align: left !important;
        }

        .responcive-fifty {
            width: 50% !important;
            float: left;
            margin: 0;
            margin-bottom: 10px;
        }

            .responcive-fifty{
                margin-right: 0px;
                margin-bottom: 10px;
            }

        .responcive-full {
            width: 100% !important;
            float: left;
            margin-bottom: 10px !important;
        }

            .responcive-full input {
                width: 50% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

            .responcive-full .nrr3 {
                width: 49.5% !important;
            }

            .responcive-full .form-group.jjp {
                width: 100%;
                margin-bottom: 10px;
            }

        .responcive-fifty button {
            width: 100%;
            text-align: left;
        }


    }

    @@media screen and (max-width: 600px) {
        .responcive-full {
            margin-bottom: 0px !important;
        }

        .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
            height: auto;
        }
        .D_menu {
            width: 100% !important;
        }
        .responcive-fifty {
            width: 100% !important;
            float: left;
            margin-bottom: 4px;
        }
        .responcive-full{width: 100% !important;float: left;}
        .responcive-full .form-group.jjp,.responcive-full .nrr3 input {width: 100% !important;}
        .responcive-full input {width: 100% !important;margin: 0;}
            .responcive-full .nrr3 {
                width: 100% !important;
                margin-top: 6px;
            }
        .responcive-full .mrj {width: 100% !important;}
        .responcive-full .mrj button {width: 100%;text-align: left;}

    }
</style>



<section class="content">
    <div class="container-fluid">
        <div class="row clearfix margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12 up-to-up" style="padding-right: 15px; padding-left: 15px;">
                <div class="card" style="margin-bottom:5px;">
                    @*<div class="col-md-5">
                            <div style="margin-left:-13px;margin-top:1px;">
                                @Html.Partial("Ecommercemenu")
                            </div>

                        </div>*@
                    

                    <div class="page-header-third D_menu" style="width: auto; float: right;">
                        <div class="col-md-2 tre4 pdf-lastclass-third" style="padding: 0; width: auto;">
                            <div class="white-l-search-nine">
                                <div class="web-white-filter pdfexpoer-second totalbutton-secondclas" style="float: right;">
                                    <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                                </div>
                            </div>
                        </div>
                        <div class="white-success" style="display: none; position: absolute;" id="total">
                            <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                            <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                            <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                        </div>
                    </div>


                        @*<div class="col-md-2" style="float: right;padding: 0px;text-align: right;">
            <div class="form-group">
                <div>
                    <button type="button" class="btn btn-success waves-effect" style="border: 1px solid #b1a6a638;" title="Total Order  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                    <button type="button" class="btn btn-danger waves-effect" style="border: 1px solid #b1a6a638;" title="Total Order  Rejected"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                    <button type="button" class="btn btn-warning waves-effect" style="border: 1px solid #b1a6a638;" title="Total Order  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"]</button>

                </div>
            </div>
        </div>*@

                    </div>
            </div>
        </div>




        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">
                    @*<div class="">
            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                <li class="active" style="color:#9E9E9E; font-size:12px;">E-COMMERCE HISTORY&nbsp;></li>
            </ol>
        </div>*@



                    <div class="col-md-9 all-type-third" style="padding: 0px; width: 100%; display: flex; align-items: center; justify-content: space-between;">

                        <div class="t_menu">
                            <div class="bread-same-all-page breadsameall-second">
                                <ul>
                                    <li class="smli">
                                        <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                        EcommerceHistory
                                    </li>
                                </ul>

                            </div>
                        </div>
                        
                        <div class="t_menu">
                            
                                @using (Html.BeginForm("EcommerceHistory", "Home", FormMethod.Post))
                                {
                                    <div class="">
                                        <div class="col-md-2 mrj jkjk responcive-fifty">
                                            <div class="form-line">
                                                @Html.DropDownList("ddlusers", new List<SelectListItem>
                                   {
                                new SelectListItem{ Text="All User",Value="Admin"},
                                new SelectListItem{Text="Master D",Value="Master"},
                                new SelectListItem{Text="Distributor",Value="Dealer"},
                                new SelectListItem{Text="Retailer",Value="Retailer"},
                                new SelectListItem{Text="Vendor",Value="Vendor"}

                               }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @onchange = "answers()" })

                                            </div>
                                        </div>

                                        <div class="col-md-2 mrj responcive-fifty" style="display:none;" id="allvendor">
                                            <div class="form-line">
                                                @Html.DropDownList("allvendor", ViewBag.allvendor as SelectList, "All Vendor", new { @style = "margin-top:0px", @class = "selectpicker form-control allmasters", data_live_search = "true", })
                                            </div>
                                        </div>
                                        <div class="col-md-2 mrj responcive-fifty" style="display:none;" id="allmaster">
                                            <div class="form-line">
                                                @Html.DropDownList("allmaster", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px", @class = "selectpicker form-control allmasters", data_live_search = "true", })
                                            </div>
                                        </div>

                                        <div class="col-md-2 mrj responcive-fifty" style="display:none;" id="dlm">
                                            <div class="form-line">
                                                @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, "All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 mrj responcive-fifty" style="display:none;" id="rem">
                                            <div class="form-line">
                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 mrj responcive-fifty" style="width: 130px;">
                                            <div class="form-line">
                                                @Html.DropDownList("Cateid", ViewBag.category as SelectList, "Select Category", new { id = "Cateid", @class = "selectpicker form-control", data_live_search = "true" })
                                            </div>
                                        </div>

                                        <div class="col-md-2 mrj jkjk responcive-fifty">
                                            <div class="form-line">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                     {
                             new SelectListItem{ Text="All Status",Value="ALL",},
                             new SelectListItem{Text="SUCCESS",Value="2"},
                             new SelectListItem{Text="Pending",Value="1"},
                             new SelectListItem{Text="Rejected",Value="3"}
                              }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>

                                        <div class="col-md-5 mrj responcive-full" style="width: auto;margin-top:1px;">
                                            <div class="form-group jjp">
                                                <div class="input-daterange input-group">
                                                    <div class="custom-date-icon ner height-icon-third">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height: 33px !important;", autocomplete = "off" })

                                                    <div class="nrr3">
                                                        <div class="custom-date-icon ner height-icon-third">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height: 33px !important;", autocomplete = "off" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mrj responcive-fifty search-resp-third" style="margin-right: 0px;">

                                                <button type="submit" value="Old" name="submit" class="btn input-back-second" style="background: transparent;border: 1px solid #b1a6a638;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                    <span style="top:-2px;color:black;">Search</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                }
                            
                        </div>
                    </div>



                    <div class="body" style="padding: 0px; width: 100%; float: left;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable example-second thpadding-second" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr&nbsp;No.</th>
                                        <th>Live&nbsp;Status</th>
                                        <th>Users&nbsp;Registration&nbsp;Information</th>
                                        <th>Order&nbsp;Date</th>
                                        <th>Product&nbsp;Name</th>
                                        <th>MRP&nbsp;Price</th>
                                        <th>Product&nbsp;Price</th>
                                        <th>Qty</th>
                                        <th>Total&nbsp;Amount</th>
                                        <th><span>User&nbsp;Role</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Whitelabel</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Admin</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th>Approved&nbsp;Date</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var color = "";
                                        var fontweight = "";
                                        var emailid = "";
                                        var name = "";
                                        var framname = "";
                                        var rolename = "";
                                        var sts = "";

                                        if (item.RoleName == "Retailer")
                                        {
                                            emailid = item.Email;
                                            name = item.RetailerName;
                                            framname = item.Frm_Name;
                                            rolename = item.RoleName;

                                        }
                                        if (item.RoleName == "Vendor")
                                        {
                                            emailid = item.VendorEmail;
                                            name = item.VendorName;
                                            framname = item.Vendorfrmname;
                                            rolename = item.RoleName;

                                        }
                                        if (item.OrderStatus == 2)
                                        {
                                            color = "green";
                                            fontweight = "700";
                                            sts = "Success";
                                        }
                                        if (item.OrderStatus == 3)
                                        {
                                            color = "red";
                                            fontweight = "700";
                                            sts = "Rejected";
                                        }

                                        if (item.OrderStatus == 1)
                                        {
                                            color = "#FF9800";
                                            fontweight = "700";
                                            sts = "Pending";
                                        }
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td><p style="font-size:12px;"><span style="color:@color;font-weight:@fontweight;">@sts</span></p></td>
                                            <td><p style="font-size:12px;"><span>&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;@framname</span>&nbsp;⇒&nbsp;@emailid</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.OrderDate</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.ProductName</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.ListPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.StandardPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.QTY</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.Amount</p></td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>@rolename</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.RemPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.Remcomm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.RemPost</span></p>
                                                }
                                                else
                                                {
                                                    <p><span>@rolename</span></p>
                                                }
                                            </td>

                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.DlmPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.DlmComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.DlmPost</span></p>
                                                }
                                                else
                                                {
                                                    <p><span></span></p>
                                                }
                                            </td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.MasterPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.MdComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.MasterPost</span></p>
                                                }
                                                else
                                                {
                                                    <p><span></span></p>
                                                }
                                            </td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Whitelabel</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.WhitelabelPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.Whitelabecomm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.WhitelabelPost</span></p>
                                                }
                                                else
                                                {
                                                    <p><span></span></p>
                                                }
                                            </td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Admin</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.AdminPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.AdminComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.AdminPost</span></p>
                                                }
                                                else
                                                {
                                                    <p><span></span></p>
                                                }
                                            </td>
                                            <td><p style="font-size:11px;">&nbsp;@item.UpdatedOn</p></td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>

    $('.allmasters').select2();
    $('#alldealer').select2();
    $('#allretailer').select2();
    $('#Cateid').select2();
</script>

<script>
    $(document).ready(function() {

   $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
            answers();
    });
</script>


<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allvendor").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Vendor") {
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("allvendor").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("allvendor").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Admin") {
            document.getElementById("allvendor").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
        }
        else if (answer == "Retailer") {
            document.getElementById("allvendor").style.display = "none";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";

        }

    }
</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>