@model Vastwebmulti.Models.GiftCard
@{
    ViewBag.Title = "Edit_Giftcard";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="background-color:whitesmoke;">
                        <h2>
                         Update Gift Card
                        </h2>
                        
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                        <div class="col-md-2">

                        </div>
@using (Html.BeginForm("Edit_Giftcard", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
{
                            <div class="col-md-8">
                                @Html.HiddenFor(model => model.ID);
                                  <div class="row clearfix">
                                      <label for="email_address">Select Category</label>
                                      <div class="form-group">
                                          <div class="" style="border:1px solid #dddddd;">
                                              @Html.DropDownList("ddlCategory", new List<SelectListItem>
                         {
   new SelectListItem{ Text="Please Select",Value="",},
   new SelectListItem{ Text="Apparel",Value="Apparel",},
   new SelectListItem{Text="Accessories",Value="Accessories"},
   new SelectListItem{Text="Health & Beauty",Value="HealthBeauty"},
   new SelectListItem{Text="Restaurants",Value="Restaurants"},
   new SelectListItem{Text="Travel",Value="Travel"},
    new SelectListItem{Text="Entertainment",Value="Entertainment"},
     new SelectListItem{Text="Sports",Value="Sports"},
   new SelectListItem{Text="Electronics",Value="Electronics"}
   }, new { @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                                          </div></div>
                                  </div>
                                <div class="row clearfix">
                                  <label for="email_address_2">Enter Gift Card Amount</label>
                                    <div class="demo-radio-button" style="margin-top:10px;margin-left:12px;">
                                        <input name="radiogroup" type="radio" id="radio_1" class="with-gap" value="Variable" onclick="val()" checked>
                                        <label for="radio_1">Variable</label>
                                        <input name="radiogroup" type="radio" id="radio_2" class="with-gap" value="Fixed" onclick="val()">
                                        <label for="radio_2">Fixed</label>
                                        
                                    </div>
                                  
                                </div>
                                <div class="row clearfix" id="variablediv" style="display:block; margin-top:14px;">
                                    <div class="form-group">
                                        <label for="email_address">Enter Minimum Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.MinimumAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email_address">Enter Maximum Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.MaximumAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row clearfix" id="fixeddiv" style="display:none;margin-top:14px;">
                                    <div class="form-group">
                                        <label for="email_address">Enter First Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.FirstAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email_address">Enter Second Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.SecondAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email_address">Enter Third Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.ThirdAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email_address">Enter Fourth Amount</label>
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.FourthAmt, new { @class = "form-control", @style = "border:none;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                   <label for="email_address_2">Gift Card Name</label>
                                       <div class="form-group">
                                           <div class="" style="border:1px solid #dddddd;">
                                               @Html.TextBoxFor(model => model.GiftName, new { @class = "form-control", @style = "border:none;" })
                                           </div>
                                        </div>
                                   
                                </div>
                                <div class="row clearfix">
                                <label for="email_address_2">Gift Card Image&nbsp;&nbsp;<span style="color:red;"> Note : - Image Size will Be :- 320 * 220 Pixel</span></label>
                                        <div class="form-group">
                                          <div class="" style="border:1px solid #dddddd;">
                                                <input type="file" name="file" class="form-control">
                                            </div>
                                        </div>
                                   
                                </div>
                                <div class="row clearfix">
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                        <span style="top:-2px;color:black;">Update</span>
                                    </button>
                                    <button type="reset" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                        <span style="top:-2px;color:black;">Reset</span>
                                    </button>
                            

                                </div>
                               </div>
}

                            <div class="col-md-2">

                            </div>
                        </div>
                      
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
            function val() {
                var vv = document.querySelector('input[name="radiogroup"]:checked').value;
                if (vv == "Variable")
                {
                    document.getElementById("variablediv").style.display = "block";
                    document.getElementById("fixeddiv").style.display = "none";
                }
                else {
                    document.getElementById("fixeddiv").style.display = "block";
                    document.getElementById("variablediv").style.display = "none";
                }
            }
</script>
<script>
    window.onload=function()
    {
        var typeval = '@ViewBag.type'
        var categry = '@ViewBag.category1'
        $('input:radio[name="radiogroup"][value= ' + typeval  + ']').prop('checked', true);
        $('#ddlCategory').val(categry);
        var error = '@ViewData["error"]';
        if(error !=null && error != "")
        {
            swal("Oops...", error, "error");
        }
    }
</script>

