@model Vastwebmulti.Models.tblSilder
@{
    ViewBag.Title = "Edit_Outside_Silder";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript"> CKEDITOR.replace('Content'); </script>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="demo-button">
                            <div class="row">
                                <div class="col-md-12" style="margin-top:-10px;">
                                    @Html.Partial("ColorPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                                <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                                   EDIT OUTSIDE SILDER
                                </h2>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
@using (Html.BeginForm("Edit_Outside_Silder", "Home", FormMethod.Post))
{
        <div class="body">
            <form>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Select Type</label>
                    </div>
                    @Html.HiddenFor(model => model.SilderId, new { id = "SilderId" })
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.DropDownList("ddledit", new List<SelectListItem>
                         {
   new SelectListItem{ Text="Please Select",Value="",},
   new SelectListItem{ Text="Silder First",Value="Silder1",},
   new SelectListItem{Text="Silder Second",Value="Silder2"}

   }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Silder Heading</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                              @Html.TextBoxFor(model=>model.ImageHeading,new {@class="form-control", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Enter Content</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor ", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Select Image</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="file" name="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="silder1">
                    <button type="submit" class="btn btn-primary waves-effect" onclick="return check()">Save Change</button>
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">CLOSE</button>
                </div>


            </form>
        </div>
}
     </div>
  </section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
    window.onload = function () {

        var succ = '@ViewData["success"]';

        if (succ != null && succ != "")
        {
            if (succ.includes("successfully"))
            {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }

    function check() {
        var hh = $('#ddledit').val();
        if (hh != "")
        {
            return true;
        }
        else
        {
            swal("Opsssss!", "Please Select One", "error");
            return false;
        }
    }
</script>



