@model Vastwebmulti.Areas.ADMIN.Models.WalletToBankSlabEditModel
@*@using (Html.BeginForm("EditWalletToBankSlab", "Home",FormMethod.Post))*@

<div class="wditwallettobank">

    @using (Ajax.BeginForm("EditWalletToBankSlab", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "dataTable", InsertionMode = InsertionMode.Replace, LoadingElementId = "div_Loader" }))

    {
        @Html.AntiForgeryToken()

        <form id="form_validation" method="POST">
            @Html.HiddenFor(a => a.Idno)
            @*<h3 style="text-align: center;
                    background-color: whitesmoke;padding:8px 9px;">
                    <span class="pull-left" onclick="reloadTable()"><i class="fa fa-arrow-left"></i></span>
                    General
                </h3>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Amount From</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBoxFor(m => m.amtFromGeneral, new { @class = "form-control", placeholder = "Enter From Amount", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Amount To</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBoxFor(m => m.amtToGeneral, new { @class = "form-control", placeholder = "Enter To Amount", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Charge</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBoxFor(m => m.chargeGeneral, new { @class = "form-control", placeholder = "Enter Charge", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Time</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBoxFor(m => m.TimeTakesGeneral, new { @class = "form-control", placeholder = "Enter Time in Hours", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>*@
            @*<h3 style="text-align: center;background-color: whitesmoke;padding:8px 9px;font-size:23px;margin-top:0;">
                Tatkal
            </h3>*@
            <div class="row clearfix">
                <div class="col-md-3 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Amount From</label>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="" style="border:1px solid #dddddd;">
                            @*@Html.TextBoxFor(m => m.amtFromTatkal, new { @class = "form-control", placeholder = "Enter From Amount", required = "required" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Amount To</label>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="" style="border:1px solid #dddddd;">
                            @*@Html.TextBoxFor(m => m.amtToTatkal, new { @class = "form-control", placeholder = "Enter To Amount", required = "required" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Charge</label>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="" style="border:1px solid #dddddd;">
                            @*@Html.TextBoxFor(m => m.chargeTatkal, new { @class = "form-control", placeholder = "Enter Charge", required = "required" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Time</label>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="" style="border:1px solid #dddddd;">
                            @*@Html.TextBoxFor(m => m.TimeTakesTatkal, new { @class = "form-control", placeholder = "Enter Time in Hours", required = "required" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer special-iii">
                <button type="submit" class="btn waves-effect btnssl" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Changes</button>
                <button type="button" class="btn waves-effect btnssl" onclick="reloadTable()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Back</button>
            </div>
        </form>
    }


</div>
<!--  Script For Data Loading -->
<script>
    $('.btnssl').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 8000);
    });
</script>