@model Vastwebmulti.Models.tblNewUpdate
@{
    ViewBag.Title = "Edit_NewUpdate";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_NewUpdate", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                    <div class="card">
                        <div class="header" style="padding:10px;background-color:whitesmoke;">
                            <h2>
                                <span style="font-size:21px;"></span> Update New Update Data Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.Id)
                                    <label for="email_address">Enter Name</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="email_address">Company Name</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="email_address">News Heading</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBoxFor(model => model.NewsHeading, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="setbox">Enter Content</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextAreaFor(model => model.NewsContent, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="setbox">Select Image</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="file" id="file" name="file" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn" style="border:1px solid #c7c2c2;background:#dedddd;">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />


