@model IEnumerable<Vastwebmulti.Models.proc_failed_Move_Result>
@{
    ViewBag.Title = "FailedMove";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
   /* new css  */
    #ul li {
        width: 15%;
    }
    #ul {
        display: flex;
        justify-content: space-between;
    }
    .vacrivet {
        padding: 0px 4px;
    }



   /* new css  */


    .col-md-5 for-r-width {
        width: 30.666667%;
    }

    .col-md-5 {
        /* width: 41.66666667%;*/
        padding-left: 4px;
        padding-right: 0;
    }

    .for-r-width .row {
        display: flex;
        padding: 0;
        justify-content: end;
    }

    .rtyfrty.rtyfrtyclass-third {
        padding: 0;
    }






    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 34px !important;
        border-color: #ccc !important;
    }

    .form-control-label {
        text-align: left;
    }

        .form-control-label label {
            margin: 0px;
            border: 1px solid #dddddd;
            border-right: 0px;
            height: 34px;
            padding: 8px 0px;
            width: 100%;
            text-align: left;
            padding-left: 5px;
            font-size: 12px;
            background: #f5f5f5;
        }

    .form-group {
        margin-bottom: 0px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px !important;
    }

    .bread-same-all-page li {
        margin: 6px 0px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media screen and (max-width: 992px) {
        .rtyfrty {
            width: 100%;
            float: left;
        }

        .for-r-width {
            width: 100%;
        }

        .rtyfrty ul li {
            width: 33.3333%;
            float: left;
            margin-bottom: 10px;
            margin-right: 0px !important;
        }

            .rtyfrty ul li a {
                margin-bottom: 0;
            }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }

            .vacrivet button {
                width: 100%;
                margin-left: 0 !important;
            }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:480px) {
        #ul {
            display: block;
        }
        .for-r-width .row {
            display: block;
            margin: 0;
        }
        .rtyfrty ul li {
            margin-bottom: 6px;
        }
        div#custnav ul li a {
            font-size: 12px;
        }

        .for-r-width {
            padding: 0;
        }
        .vacrivet {
            padding: 0 0px !important;
        }

        .rtyfrtyclass-third #custnav ul li {
            width: 50% !important;
        }

        .for-r-width .col-xs-5 {
            width: 100%;
            padding: 0px 5px;
        }

        .for-r-width .col-xs-2 {
            width: 100%;
            float: right;
            padding: 0px 0px !important;
        }

            .for-r-width .col-xs-2 button {
                width: 100%;
                margin: 0px !important;
                margin-top: 2px !important;
            }
    }
</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Set BackUp API
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">

                    <div class="col-md-12" style="padding:0px;">
                        <div class="card">
                            <div class="col-md-12 rtyfrty rtyfrtyclass-third">
                                <div>
                                    @Html.Partial("_menuapinm")
                                </div>
                            </div>
                            @using (Html.BeginForm("FailedMove", "Home", FormMethod.Post))
                            {
                                <div class="col-md-12 for-r-width">
                                    <div class="row clearfix">
                                        <div class="col-md-2 vacrivet" style="padding-right:0px;">
                                            <div class="form-group" style="margin-top:4px; margin-bottom:0px;">
                                                <div class="form-line" style="padding-bottom:3px;">
                                                    @Html.DropDownList("Operator", ViewBag.operatorcode as SelectList, "Select OPerator", new { @class = "for-select2 form-control border-0", data_live_search = "true", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 vacrivet">
                                            <div class="form-group" style="margin-top:4px; margin-bottom:0px;">
                                                <div class="form-line" style="padding-bottom:3px;">
                                                    @Html.DropDownList("Apinm", ViewBag.Apinm as SelectList, "Select Api", new { @class = "for-select2 form-control border-0", data_live_search = "true", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 vacrivet" style="padding-right:0px;">
                                            <center>
                                                <button type="button" class="btn first-button  waves-effect" style="margin-top: 4px; height: 34px; border: 1px solid #c7c2c2; background: transparent; width: 100%;">
                                                    <span style="color:black;">Set&nbsp;Operator</span>
                                                </button>
                                                <button type="submit" class="btn fullbodydycolorbg second-button  waves-effect" style="margin-top:4px; height:34px;border:1px solid #c7c2c2;display:none;width:100%;">
                                                    <span style="color:#fff;">Sure ?</span>
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                    <h4 style="color: Red; padding: 2px 0; float: right; font-size: 14px; width: 100%; margin: 0; "> @ViewData["output"] </h4>
                    <div style="width:100%;float:left;">
                        <div class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover example-second">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Operator Name</th>
                                        <th>Api Name</th>
                                        <th><center>Status</center></th>
                                        <th><center>Edit</center></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.api_name)</td>
                                            <td>
                                                <center>
                                                    @if (item.status == "Y")
                                                    {

                                                        <a href="@Url.Action("Failedstatus",new { id = item.idno })" style="text-decoration:none;">
                                                            <div class="onoffswitch onoffswitch-secondclass">
                                                                <span class="costom-on custom-on-secondbutton">on</span>
                                                            </div>
                                                        </a>


                                                    }
                                                    else
                                                    {

                                                        <a href="@Url.Action("Failedstatus",new { id = item.idno  })" style="text-decoration:none;">
                                                            <div class="onoffswitch onoffswitch-secondclass">
                                                                <span class="custom-off custom-off-secondbutton">off</span>
                                                            </div>
                                                        </a>


                                                    }
                                                </center>
                                            </td>
                                            <td>
                                                <center>
                                                    <button id="but" onclick="animation('@item.operator_code','@item.api_name','@item.idno')" style="background-color:transparent; border:none;">
                                                        <p class="deletebuttoback-second" style="margin:0px; padding:2px 11px 2px 11px;border:1px solid #dddddd;color:black;">Edit</p>
                                                    </button>
                                                    <button id="but" class="first-button" style="background-color:transparent; border:none;">
                                                        <p class="deletebuttoback-second" style="margin:0px; padding:2px 11px 2px 11px;border:1px solid #dddddd;color:black;">Delete</p>
                                                    </button>
                                                    <button id="but" class=" fullbodydycolorbg second-button" style="background-color:transparent;display:none; border:none;" onclick="delBkpOpt('@item.idno')">
                                                        <p style="margin:0px; padding:2px 11px 2px 11px;border:1px solid #dddddd;color:#fff;">Sure ?</p>
                                                    </button>
                                                </center>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float:right;margin:0px;width:50%;margin-top:63px;">
        <div class="modal-content">

            @using (Html.BeginForm("Edit_Failed_Move", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding:5px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix" style="margin:0;">
                                <input type="text" id="txtSSID" name="txtSSID" style="display:none;" />
                                <div class="col-md-4" style="">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Operator </label>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.Hidden("txtidno")
                                                    @Html.DropDownList("operatorcode1", ViewBag.operatorcode1 as SelectList, "Select Operator", new { @class = "form-control", required = "required" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style="padding-right:0px;">
                                    <div class="row clearfix">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">API Name</label>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @Html.DropDownList("Apinm1", ViewBag.Apinm1 as SelectList, "Select Api", new { @class = "for-select2 form-control", required = "required" })

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn fullbodydycolorbg waves-effect" style="  height:34px;">
                                        <span style="color:#fff;">Save Change</span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn bg-grey waves-effect" style="height:34px;color:#000;" data-dismiss="modal">
                                        &#10005;
                                    </button>
                                </div>
                            </div>

                            <div class="modal-footer">



                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    function animation(operatorname, apiname, idno) {
        $('#operatorcode1').val(operatorname).trigger('change');
        $("#operatorcode1").prop("disabled", true);
        $('#Apinm1').val(apiname).trigger('change');
        $('#defaultModal1').modal('show');
        $('#txtidno').val(idno);

    }

        function delBkpOpt( idno) {
        $.ajax({
        type: "GET", url: "del_Failed_Move", data: { 'idno': idno }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                //swal("Deleted!", "Deleted Successfully.", "success");
                var url = '@Url.Action("FailedMove", "Home")';
                window.location.href = url;
            }
            else {
                //swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("FailedMove", "Home")';
                window.location.href = url;
            }
        }
    });
    }
</script>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>




<script>
    $('.for-select2').select2();
</script>

<script>
    $(document).ready(function () {
        var msg = '@ViewBag.msg';
        if(msg!="")
        {
            if (msg == "Successfully Added")
            {
                //swal("SUCCESS !", msg, "success");
            }
            else
            {
               // swal("ERROR !", msg, "error");
            }
        }

    });
</script>
<script>
    $('.first-button').click(function () {
        $(this).hide();
        $(this).next('.second-button').show();
    })
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>