@model Vastwebmulti.Areas.ADMIN.Models.FCModel
@{
    ViewBag.Title = "Master_list";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<section class="content Fee_Collector_Page">
    <div class="container-fluid">


        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/img/right-arrow2.svg" alt="right-arrow" style="width:17px;margin-top:-3px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Fee Collector
                </li>
            </ul>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-10">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_menuuserlist")
                        </div>
                    </div>
                    <div class="col-md-2">
                        <center>
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-toggle="modal" data-target="#defaultModal">
                                <i class="fa fa-plus" style="top:-1px;font-size:16px;color:black;"></i>
                                <span style="top:-2px;color:black;">Add&nbsp;New</span>
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>

  
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">ALL FEE COLLECTOR DETAILS&nbsp;></li>
                        </ol>
                    </div>
                    <div class="body" style="margin-top:-24px;padding:2px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table id="example" class="table table-bordered">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>FeeCollector&nbsp;Information</th>
                                        <th>Live&nbsp;Remain</th>
                                        <th>Mobile&nbsp;No</th>
                                        <th>Commission</th>
                                        <th>Full&nbsp;Address</th>
                                        <th>Pancard&nbsp;/&nbsp;KYC</th>
                                        <th>Status</th>
                                        <th>Email&nbsp;Confirm</th>
                                        <th><center>Edit&nbsp;/&nbsp;Resend&nbsp;Email</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.feeCollectors)
                                    {
                                        <tr style="background:no-repeat;">
                                            <td title="Click To View Information">
                                                <div class="dropdown">
                                                    <span style="background:white;padding:5px 7px 7px 5px;cursor:pointer;">@item.Email</span>
                                                    <div class="dropdown-content" style="min-width:200px;">

                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">User&nbsp;Name</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.FCName
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Frim&nbsp;Name</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.FirmName
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Joining &nbsp;Date</p>

                                                        <p style="border-bottom:1px solid #f1efef;line-height:10px;padding-bottom:10px;">
                                                            @item.JoinDate
                                                        </p>

                                                    </div>
                                                </div>


                                            </td>
                                            <td><p style="margin-top:2px;">@item.FCremain</p></td>
                                            <td><p style="margin-top:2px;">@item.Mobile</p></td>
                                            <td title="Click To View Information">
                                                <div class="dropdown">
                                                    <span style="background:white;padding:5px 7px 7px 5px;cursor:pointer;">@item.CommissionAdmin</span>
                                                    <div class="dropdown-content" style="min-width:200px;">

                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Master&nbsp;Commission</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:10px;padding-bottom:10px;">
                                                            @item.CommissionMD
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Distributor&nbsp;Commission</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:10px;padding-bottom:10px;">
                                                            @item.CommissionDLM
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Retailer &nbsp;Commission</p>

                                                        <p style="border-bottom:1px solid #f1efef;line-height:10px;padding-bottom:10px;">
                                                            @item.CommissionREM
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Whitelabel &nbsp;Commission</p>

                                                        <p style="border-bottom:1px solid #f1efef;line-height:10px;padding-bottom:10px;">
                                                            @item.CommissionWL
                                                        </p>
                                                    </div>
                                                </div>


                                            </td>
                                            <td title="Click To View Information">
                                                <div class="dropdown">
                                                    <span style="background:white;padding:5px 7px 7px 5px;cursor:pointer;">@item.State_name</span>
                                                    <div class="dropdown-content" style="min-width:930px;">

                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">District&nbsp;Name</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.Dist_Desc
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Pincode&nbsp;No</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.Pincode
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Address</p>

                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.Address
                                                        </p>

                                                    </div>
                                                </div>


                                            </td>
                                            <td title="Click To View Information">
                                                <div class="dropdown">
                                                    <span style="background:white;padding:5px 7px 7px 5px;cursor:pointer;">@item.pancard</span>
                                                    <div class="dropdown-content" style="min-width:930px;">

                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">Aadhaar&nbsp;Card</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.adharcard
                                                        </p>
                                                        <p style="font-size: 11px;margin-left: 0px;margin-top: 6px;">GST&nbsp;Number</p>
                                                        <p style="border-bottom:1px solid #f1efef;line-height:22px;padding-bottom:10px;">
                                                            @item.gst
                                                        </p>


                                                    </div>
                                                </div>


                                            </td>
                                            <td style="padding:3px;">
                                                @if (item.Status == "Y")
                                                {
                                                    <center>
                                                        <a href="@Url.Action("FCstatus",new { id = item.FCId })" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 0px 2px 4px;">
                                                            <i class="fa fa-thumbs-o-up" style="margin-top:12px;">&nbsp;<span>I'm&nbsp;Active&nbsp;</span></i>
                                                        </a>
                                                    </center>
                                                }
                                                else
                                                {
                                                    <center>
                                                        <a href="@Url.Action("FCstatus",new { id = item.FCId  })" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 11px 2px 11px;">
                                                            <i class="fa fa-thumbs-o-down" style="color:red;margin-top:12px;">&nbsp;<span>Inactive</span></i>
                                                        </a>
                                                    </center>

                                                }
                                            </td>
                                            <td>
                                                @if (item.emailConfirmed == true)
                                                {
                                                    <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 7px 2px 10px">
                                                        <i class="fa fa-thumbs-o-up" style="margin-top:6px;">&nbsp;<span>I'm&nbsp;Verified&nbsp;!</span></i>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <a href="#" style="text-decoration:none;border:1px solid #c7c2c2;padding:2px 11px 2px 11px;">
                                                        <i class="fa fa-thumbs-o-down" style="color:red;margin-top:6px;">&nbsp;<span>Unverified&nbsp;!</span></i>
                                                    </a>

                                                }
                                            </td>

                                            <td>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <button class="btn btn default" id="but" onclick="animation('@item.FCId')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="Edit Information">
                                                            Edit
                                                        </button>

                                                    </div>

                                                    <div class="col-xs-6">
                                                        @if (item.emailConfirmed == false)
                                                        {
                                                            <a class="btn btn default" href="@Url.Action("ResendFCEmail", "Home", new { email = item.Email })" title="Resend Email " style="border:1px solid #c7c2c2; padding:1px 4px 1px 4px;margin-top:4px;margin-left:-17px;">
                                                                Resend
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add New Fee Collector  modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Fee Collector</h4>
            </div>
            @using (Html.BeginForm("insert_FC", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Name</label>
                                </div>
                                @*@Html.HiddenFor(m => m.Password, new { Value = "55qK5G" })
                                    @Html.HiddenFor(m => m.ConfirmPassword, new { Value = "55qK5G" })*@

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.FeeCollectorName, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.FeeCollectorName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Firm Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.FirmName, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.FirmName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">State</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">

                                            @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "selectpicker form-control", data_live_search = "true" })


                                        </div>
                                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">District</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownListFor(m => m.District,
       new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
              "Select district",
              new { @class = "form-control" })

                                            @*@Html.DropDownListFor(model => model.District, new SelectList(ViewBag.district, "Value", "Text"), "Select District", new { @class = "selectpicker form-control", data_live_search = "true" })*@
                                        </div>

                                        @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Enter Mobile Number", onkeypress = "return isNumber(event)", maxlength = "10", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission&nbsp;Admin</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionAdmin,  new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionAdmin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission MD</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionMD, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionMD1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission DLM</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionDLM, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionDLM1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission REM</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionREM, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionREM1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission WL</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionWL, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionWL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pincode</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Email-ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email-id", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">School Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.SchoolName, "", new { @class = "form-control", placeholder = "Enter Name of School", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.SchoolName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Website URL</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Website, "", new { @class = "form-control", placeholder = "Enter URL", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pancard</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.pancard, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.pancard, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Aadhar Card</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.adharcard, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.adharcard, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Gst Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.gst, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.gst, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                 <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit User  modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Fee Collector</h4>
            </div>
            @using (Html.BeginForm("EditFeeController", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <input type="text" id="txtFCId" name="txtFCId" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.FeeCollectorName1, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.FeeCollectorName1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Firm Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.FirmName1, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.FirmName1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">State</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">

                                            @Html.DropDownListFor(model => model.State1, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "form-control", data_live_search = "true" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.State1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">District</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownListFor(m => m.District1,
       new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
              "Select district",
              new { @class = "form-control" })

                                            @*@Html.DropDownListFor(model => model.District, new SelectList(ViewBag.district, "Value", "Text"), "Select District", new { @class = "selectpicker form-control", data_live_search = "true" })*@
                                        </div>

                                        @Html.ValidationMessageFor(m => m.District1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission&nbsp;Admin</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">

                                            @Html.TextBoxFor(m => m.CommissionAdmin1, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionAdmin1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission MD</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionMD1, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionMD1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission DLM</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionDLM1, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionDLM1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission REM</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionREM1, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionREM1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission WL</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.CommissionWL1, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;", required = "required" })
                                            @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CommissionWL1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextAreaFor(m => m.Address1, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">School Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.SchoolName1, "", new { @class = "form-control", placeholder = "Enter Name of School", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.SchoolName1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Website URL</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Website1, "", new { @class = "form-control", placeholder = "Enter URL", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Website1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pincode</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.Pincode1, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Pincode1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pancard</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.pancard1, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.pancard1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Aadhar Card</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.adharcard1, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.adharcard1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Gst Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(m => m.gst1, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase", required = "required" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.gst1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!--Add fill dropdown list-->
<script language="javascript" type="text/javascript">
    $(function () {
        $('#State').change(function () {
            // alert('Value:' + ' ' + $('#State1').val())
            var stid = $('#State').val()
            GetDistrict(stid)
        });
    })
    $(function () {
        $('#State1').change(function () {
            // alert('Value:' + ' ' + $('#State1').val())
            var stid = $('#State1').val()
            GetDistrict1(stid)
        });
    })

    function GetDistrict(_stateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#District").html(procemessage).show();
        var url = '@Url.Action("DistrictList","Home")'
        $.ajax({
            url: url,
            data: { Id: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#District").html("");
                for (var x = 0; x < data.length; x++) {
                    //alert(markup)
                    $("#District").append($('<option></option>').val(data[x].Value).html(data[x].Text));
                }

            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function GetDistrict1(_stateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#District1").html(procemessage).show();
        var url = '@Url.Action("DistrictList","Home")'
        $.ajax({
            url: url,
            data: { Id: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#District1").html("");
                for (var x = 0; x < data.length; x++) {
                    //alert(markup)
                    $("#District1").append($('<option></option>').val(data[x].Value).html(data[x].Text));
                }

            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }


</script>
<!--Edit master detail-->
<script type="text/javascript">
    var val1 = "";
    function animation(FCId) {
        var url = '@Url.Action("FCIdSearch", "Home")'
        $.ajax({
            url: url,
            data: { fcid: FCId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#FeeCollectorName1").val(data[0].FCName);
                $("#txtFCId").val(FCId);
                $("#FirmName1").val(data[0].FirmName);
                $("#Address1").val(data[0].Address);
                $("#SchoolName1").val(data[0].SchoolName);
                $("#Website1").val(data[0].Website);

                $("#Pincode1").val(data[0].Pincode);
                $("#pancard1").val(data[0].pancard);
                $("#adharcard1").val(data[0].adharcard);
                $("#gst1").val(data[0].gst);
                $("#CommissionAdmin1").val(data[0].CommissionAdmin);
                $("#CommissionMD1").val(data[0].CommissionMD);
                $("#CommissionDLM1").val(data[0].CommissionDLM);
                $("#CommissionREM1").val(data[0].CommissionREM);
                $("#CommissionWL1").val(data[0].CommissionWL);
                $("#State1").val(data[0].State);
                GetDistrict1(data[0].State)
                var objSelect1 = document.getElementById("District1");
                binddist(data[0].State, data[0].District, objSelect1);
                $('#defaultModal1').modal('show');
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
    function binddist(staid, dist, objSelect1) {
        var url = '@Url.Action("DistrictList","Home")'
        $.ajax({
            url: url,
            data: { Id: staid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select District</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#District").html(markup).show();
                setSelectedValue(objSelect1, dist);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function setSelectedValue(selectObj, valueToSet) {

        for (var i = 0; i < selectObj.options.length; i++) {
            if (selectObj.options[i].value == valueToSet) {
                //alert(selectObj.options[i].value);
                selectObj.options[i].selected = true;
                return;
            }
        }
    }
</script>
<!--Insert Popuop-->
<script>
    $(function () {
        var message = '@TempData["msgrem"]'
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var mobileconfrimation = '@TempData["mobileno"]'
        if (mobileconfrimation != "" && mobileconfrimation != null) {
            swal("Oops...", mobileconfrimation, "error");

        }

        var mailconfrimation = '@TempData["emailconfrim"]'
        if (mailconfrimation != "" && mailconfrimation != null) {
            swal("Oops...", mailconfrimation, "error");

        }
        //Edit Message
        var editdata = '@TempData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }
        var errormessage = '@TempData["Error"]'
        if (errormessage != "" && errormessage != null) {
            swal("Oops...", errormessage, "error");
        }
        var resendmail = '@ViewData["ResendMail"]'
        if (resendmail != null && resendmail != "") {
            swal("Good job!", resendmail, "success");
        }
    });
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<script>
    $(function () {
        var val = '@ViewData["value"]';

        if (val == "OK") {

            $('#clickshow').click();
        }

    });
</script>


<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>






