@model Vastwebmulti.Areas.ADMIN.Models.Show_Flight_Commission
@{
    ViewBag.Title = "Flight_Commission";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {

        var chh = 'Flight';
        $('#' + chh + '_show').show();
    });

    function funedit() {
        var chh1 = 'Flight';
        var vv = document.getElementById("ret").innerText;
        $('#retailercommission').val(vv);
      
        $('#' + chh1 + '_show').hide()
        $('#' + chh1 + '_edit').show()
        $('#' + chh1 + '_Save').show()
    }
</script>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;">
                                <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">Slab & Charge's</a></li>
                                <li class="active" style="color:#607d8b; font-size:15px;">Flight Commission</li>
                                <li class="active" style="color:#607d8b; font-weight:700;font-size:15px;"> All Flight Commission</li>
                            </ol>
                            @*<h2 style="color:black; font-size:16px; padding-left:9px;">
                                All Flight Commission
                            </h2>*@
                        </div>
                        <div class="col-md-6">
                            <center style="margin-right:15px; margin-top:5px; float:right;">
                                <button type="submit" class="btn bg-blue-grey waves-effect" onclick="funedit()">
                                    <i class="material-icons">edit</i>
                                    <span style="top:-2px;">EDIT</span>
                                </button>
                            </center>
                        </div>      
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="body table-responsive" style="position:inherit; margin-top:-20px;">
                                @using (Html.BeginForm("EditFlightCommission", "Home", FormMethod.Post, new { id = "EditForm" }))
                            {
                                    <div id="Flight_Save" style="padding-bottom: 10px; display:none;">
                                       <input type="submit" value="Save" class="btn bg-blue-grey waves-effect" style="margin-top:6px;" />
                                    </div>
                                    <table class="table table-bordered" style="width:100%;">
                                        <thead class="navbar" style="color:white;position:inherit;">
                                            <tr>
                                                <th>Retailer&nbsp;Commission</th>
                                                <th>Dealer&nbsp;Commission</th>
                                                <th>Master&nbsp;Commission</th>
                                                <th>Whitelabel&nbsp;Commission</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Flight_show">
                                            @foreach(var item in Model.Flight)
                                                    {
                                                <tr>
                                                  <td >
                                                      <span id="ret"> @Html.DisplayFor(modelItem => item.RetailerCommission)</span> </td>
                                                  <td>@Html.DisplayFor(modelItem => item.DealerCommission)</td>
                                                  <td>@Html.DisplayFor(modelItem => item.MasterCommission)</td>
                                                  <td>@Html.DisplayFor(modelItem => item.WhitelabelCommission)</td>
                                                </tr>
                                                    }
                                        </tbody>
                                        <tbody id="Flight_edit" style="display:none;">
                                            @{
                                                        int i = 0;
                                                        foreach (var item in Model.Flight)
                                                        {
                                                    @Html.HiddenFor(o => o.Flight[i].idno)
                                                    @Html.Hidden("ID", "Flight")
                                                    <tr>
                                                        <td>
                                                            @*@Html.EditorFor(o => o.Flight[i].RetailerCommission)*@
                                                            <div>
                                                                @Html.DropDownList("retailercommission", new List<SelectListItem>
               {
               new SelectListItem{Text="0.50",Value="0.50"},
                new SelectListItem{Text="1.00",Value="1.00"},
               new SelectListItem{Text="1.50",Value="1.50"},
                new SelectListItem{Text="2.00",Value="2.00"}
                },"Select Commission", new { @class = "form-control", @style = "padding:0px; -webkit-appearance:none;" })
                                                       </div>
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(o => o.Flight[i].DealerCommission)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(o => o.Flight[i].MasterCommission)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(o => o.Flight[i].WhitelabelCommission)
                                                        </td>
                                                    </tr>
                                                            i++;
                                                        }
                                            }
                                        </tbody>
                                    </table>
                                                        }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    window.onload = function () {

        var succ = '@TempData["flight"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>
