@{
    ViewBag.Title = "AepsReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table > thead > tr > th {
        font-size: 13px !important;
        padding: 10px 4px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    table.dataTable thead > tr > th, table.dataTable thead > tr > td {
        padding-right: 10px;
    }

    .card {
        margin-bottom: 0px;
    }

    .table-bordered tbody tr td span {
        color: inherit;
    }

    .table-bordered tbody tr td {
        font-size: 13px;
        padding: 10px 4px;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    .cltu {
        width: 15%;
    }

    .money-tab-secondclass {
        width: 30%;
    }

    .pdfresponsive-second {
        width: auto;
        float: right;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    .custom-date-icon.ner {
        border-color: #e1dcdc !important;
    }

    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

        .newfourdesign-admin .form-control .btn {
            background: transparent !important;
        }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }



    @@media only screen and (min-width:481px) and (max-width:992px) {

        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }

        .fin2 {
            width: 100% !important;
            float: left;
            display: block !important;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify button.btn.llpo {
            width: 100%;
            text-align: left;
        }

        .responcive-full input {
            width: 49% !important;
        }

        .responcive-full .nrr3 input {
            width: 100% !important;
        }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .col-md-1.cltu.for-width-r.responcive-full {
            margin-bottom: 23px;
        }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 52% !important;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:767px) {


        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:520px) {

        .fin3 {
            position: relative;
            right: 0;
        }
    }

    @@media only screen and (max-width:480px) {
        .d_menu {
            width: 100% !important;
        }

        .kklo.money-transfer-admin #custnav ul li a {
            font-size: 12px;
        }

        .inputiconsateall {
            width: 50% !important;
        }

        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }

        .fin1, .fin2 {
            width: 100% !important;
            display: block !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                width: 49% !important;
                float: left;
                margin-left: 0px !important;
            }

            .fin2 .col-md-1.cltu.for-width {
                width: 49.2% !important;
            }

            .fin2 .col-md-1.cltu.for-width-r {
                width: 48% !important;
            }

            .fin2 .col-md-3 {
                width: 100% !important;
                margin-bottom: 5px;
            }

                .fin2 .col-md-3 input {
                    width: 49% !important;
                }

                .fin2 .col-md-3 .nrr3 {
                    width: 48%;
                }

                    .fin2 .col-md-3 .nrr3 input {
                        width: 100% !important;
                    }

        .cltu {
            margin-bottom: 15px !important;
        }

        .llpo span {
            display: inline-block;
        }

        .fin2 .col-md-1 {
            width: 40% !important;
        }

            .fin2 .col-md-1 .button {
                width: 100%;
            }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }



        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }

        .fin2 .col-md-3 input {
            width: 100% !important;
        }
    }

    .kklo.money-transfer-admin #custnav ul {
        margin-bottom: 0px;
    }

    .d_menu .row {
        margin: 0;
    }

    .allpagefinincal-report .responcive-fify {
        width: auto !important;
    }

    .filter-option.pull-left {
        margin: 0px 9px;
    }

    .allpagefinincal-report .reportdate-money-allpage {
        width: auto;
    }

    .inputiconsateall {
        width: 113px;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Financial Services</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Aeps Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12">
                <div class="card card-rel-third-respo">
                    <div class="col-md-12" style="padding:0px;">

                        <div class="page-header-third" style="width: auto; float: left;">
                            @Html.Partial("_finicalmenureport")
                        </div>

                        <div class="page-header-third d_menu" style="width: auto; float: right;">
                            <div class="col-md-2 fin3 responcive-fify pdfresponsive-second pdf-lastclass-third widthauto-resp-third exl-respo-third pdfadmin-allpageclass" style="padding: 0px;">
                                <div class="row">
                                    <div class="form-group">
                                        <div style="float:right; text-align:right;" class="web-white-filter">
                                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="white-success white-successadmin-money" style="display:none;position: absolute;width: auto;right: 53px !important;z-index: 9;">
                                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;float: left;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;float: left;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;float: left;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">

            <div class="col-md-12" style="margin-top: 10px;">
                <div class="card page-header-third">

                    <div class="col-md-12 fin2 all-type-third allpagefinincal-report" style="padding: 0px; margin-top: 0px; position: relative; display: flex; align-items: center; justify-content: space-between;">

                        <div class="t_menu">
                            <div class="bread-same-all-page breadsameall-second">
                                <ul>
                                    <li class="smli">
                                        <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                        AepsReport
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="t_menu">
                            @using (Html.BeginForm("GetCreditReport", "Home", FormMethod.Post))
                            {

                                <div class="col-md-1 cltu responcive-fify" style="padding: 0px; margin-right: 3px;">
                                    <div class="form-line">
                                        <select class="selectpicker form-control" data-live-search="true" id="ddlusers" name="RoleType" style="margin-top:4px;padding-left:0px; padding-right:0px;text-align:center;" onchange="answers()">
                                            <option value="ALL">All User</option>
                                            <option value="master">Master</option>
                                            <option value="Dealer">Distributor</option>
                                            <option value="Retailer">Retailer</option>
                                            <option value="API">Api User</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="allmaster">
                                    <div class="form-line">
                                        @Html.DropDownList("allmaster1", ViewBag.allmaster as SelectList, "All Master", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                    </div>
                                </div>

                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="dlm">
                                    <div class="form-line">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="rem">
                                    <div class="form-line">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-2 responcive-fify" style="display:none;padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="apiid">
                                    <div class="form-line">
                                        @Html.DropDownList("allapiuser", ViewBag.apiid as SelectList, "All API", new { id = "allapiuser", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-3 responcive-full reportdate-money-allpage" style="padding: 0px;float: left;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <div class="input-daterange input-group">
                                            <div class="inputiconsateall" style="padding-right:2px;">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 105px;margin-right: 3px;" })
                                            </div>
                                            <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 105px;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 responcive-fify respon-third-button responcive-fify-search" style="padding: 0px;float: left;width: 10px;">

                                    <center>
                                        <button type="submit" value="Old" name="submit" class="btn llpo input-back-second" style=" border:1px solid #b1a6a638;background: transparent;">
                                            <i class="fa fa-search" style="top:0px;font-size:16px;color:black;"></i>
                                            <span style="top:0px;color:black;">SEARCH</span>
                                        </button>
                                    </center>

                                </div>

                            }

                        </div>
                    </div>


                    <div class="body" style="padding: 0px; float: left; width: 100%; margin-top: 6px;">
                        <div class="table-responsive tableseconddes-admin" style="position:inherit;margin-top:0px;">
                            <table id="Aeps" class="table table-bordered table-striped table-hover example-second thpadding-second whitetable-second" cellspacing="0" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;font-size: 13px;">
                                        <th>Transfer From</th>
                                        <th>Transfer To</th>
                                        <th>Frm Name</th>
                                        <th>Person Name</th>
                                        <th>Mobile No.</th>
                                        <th>District</th>
                                        <th>State</th>
                                        <th>Admin Credit Amount</th>
                                        <th>Account Balance</th>
                                        <th>Due Credit</th>
                                        <th>Live Due Credit</th>
                                        <th>Transfer Time</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.FromRole</td>
                                            <td>@item.ToRole</td>
                                            <td>@item.FrmName</td>
                                            <td>@item.Name</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Dist_Desc</td>
                                            <td>@item.State_name</td>
                                            <td>@item.Amount</td>
                                            <td>@item.ToRemainPose</td>
                                            <td>@item.CrPose</td>
                                            <td>@item.livecr</td>
                                            <td>@item.TransferTime</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                   autoclose: true,
                orientation: "bottom auto",
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());

        }
    });

    function answers() {
        var selectElement = document.getElementById("ddlusers");
        var selectedValue = selectElement.value;
        if (selectedValue == 'master') {
            document.getElementById('allmaster').style.display = 'block';
            document.getElementById('dlm').style.display = 'none';
            document.getElementById('rem').style.display = 'none';
            document.getElementById('apiid').style.display = 'none';
        }
        else if (selectedValue == 'Dealer') {
            document.getElementById('dlm').style.display = 'block';
            document.getElementById('allmaster').style.display = 'none';
            document.getElementById('rem').style.display = 'none';
            document.getElementById('apiid').style.display = 'none';
        }
        else if (selectedValue == 'Retailer') {
            document.getElementById('rem').style.display = 'block';
            document.getElementById('allmaster').style.display = 'none';
            document.getElementById('dlm').style.display = 'none';
            document.getElementById('apiid').style.display = 'none';
        }
        else if (selectedValue == 'API') {
            document.getElementById('apiid').style.display = 'block';
            document.getElementById('allmaster').style.display = 'none';
            document.getElementById('dlm').style.display = 'none';
            document.getElementById('rem').style.display = 'none';
        }
        else if (selectedValue == 'ALL') {
            document.getElementById('apiid').style.display = 'none';
            document.getElementById('allmaster').style.display = 'none';
            document.getElementById('dlm').style.display = 'none';
            document.getElementById('rem').style.display = 'none';
        }
    }

     $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
         var RoleType = $('#ddlusers').val();
        var allmaster = $('#allmaster1').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();
         var url = '@Url.Action("ExcelCreditReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&RoleType=' + RoleType + '&allmaster1=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser' + allapiuser;
        location.href = url;
     });

    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var RoleType = $('#ddlusers').val();
        var allmaster = $('#allmaster1').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();
        var url = '@Url.Action("PDFCreditReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&RoleType=' + RoleType + '&allmaster1=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser' + allapiuser;
        window.open(url,'_blank');
    });
</script>