
@model List<Vastwebmulti.Models.Slab_IndoNepal>
            <!--Master User Update-->
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(a => a[i].idno)
                        @Html.HiddenFor(a => a[i].min)
                        @Html.HiddenFor(a => a[i].max)
                        @Html.HiddenFor(a => a[i].UserId)

                        <td>
                            <p>All</p>
                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].min)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a[i].max)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a[i].charge, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a[i].charge)
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a[i].margin, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a[i].margin)
                        </td>

                        @*<td>
                                @Html.TextBoxFor(a => a.UpdateMaster[i].gst, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateMaster[i].gst)
                            </td>*@

                    </tr>
                }
            }
            <!--End Master User-->
      
  




