@model IEnumerable<Vastwebmulti.Models.Gift_card_details_report_Result>
@{
    ViewBag.Title = "Giftcard_Report";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<link href="~/Swalalert/datatable.css" rel="stylesheet" />
<style>
    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .gift-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .gift-select {
        position: relative;
    }

        .gift-select::before {
            content: '';
            border-bottom: 1px solid #555;
            border-left: 1px solid #555;
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            right: 10px;
            transform: rotate(-45deg);
            top: 11px;
        }

    .giftadmin-tableste tbody tr td, .giftadmin-tableste thead tr th {
        white-space: nowrap;
    }

        .giftadmin-tableste tbody tr td .row {
            margin: 0px;
        }

        .giftadmin-tableste tbody tr td:nth-child(17) {
            white-space: normal;
        }

    .status-gift-admin img {
        height: 18px !important;
        padding: 3px !important;
        width: 18px;
        border-radius: 50%;
    }

    .status-gift-admin p {
        font-size: 0px !important;
    }

    .second-design .giftth-seconclass, .giftth-seconclass {
        width: 80px !important;
    }

    .borderclassgift select, .borderclassgift input, .borderclassgift button, .borderclassgift .select2-selection.select2-selection--single {
        border-color: #ddd !important;
    }
  
    
    .report-status {
        width: 80%;
        float: left;
    }

        .report-status label {
            float: left;
        }

        .report-status input {
            float: left;
            font-size: 16px;
            background-color: transparent !important;
            font-weight: 800;
            height: 17px !important;
        }

        .report-status .form-group {
            width: 46%;
            float: left;
            margin: auto 2%;
        }
    .mastetr222Modal .modal-body .form-group input {
        min-height: 32px;
        width: 100%;
    }
    .newfourdesign-admin  .gift-select::before {
        display: none;
    }
    .newfourdesign-admin .btn:not(.btn-link):not(.btn-circle), .newfourdesign-admin .form-group .form-control {
        border: 1px solid #ddd !important;
        background: transparent !important;
    }
    .newfourdesign-admin .margi-topo-third .col-lg-12.col-md-12.col-sm-12.col-xs-12.for-margin-top {
        margin-top: 0px !important;
    }
    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

    .ner {
        width: 25px !important;
        border: 1px solid #ddd !important;
    }
    .custom-date-icon i {
        left: 5px;
    }

    .admin-giftcard-table table tbody tr:first-child td, .admin-giftcard-table table tbody tr:first-child {
        border-top: 0px;
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {
        .mastetr222Modal .modal-dialog {
            width: 95% !important;
        }
    }


    @@media only screen and (max-width:992px) {
        .gift-select, .ytr-okpli {width: 50%;float: left;margin-bottom: 10px;}
        .col-md-4.respo-upup {margin: 10px 0 !important;}
        .ytr-okpli button {width: 100%; text-align: left;}
        .card{margin: 0px;}
        .ytr-okpli{margin-bottom: 35px;}
        .col-md-4.respo-upup{width: 100%; float: left;}
        .white-success {float: left !important;width: auto !important;position: static !important;margin-left: 5px !important;}
    }

    @@media only screen and (max-width:480px) {
        .gift-card-top .col-md-1 {width: 50%;float: left;padding-left: 0px !important;}
        .gift-card-top .col-md-2 {width: 50%;float: left;margin-bottom: 3px;}
        .gift-card-top .col-md-4 {padding-left: 0px !important;margin-bottom: 4px;float: left;}
        .for-margin-top {margin-top: 10px !important;}
        .gift-card-top .col-md-1 center button {margin-top: 0px !important;float: left;width: 100%;}
        #total {text-align: right;margin-right: 15px;}
        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child {border-left: 1px solid var(--border-color);}
        .table-responsive > .table-bordered > thead > tr > th:last-child {border-right: 1px solid var(--border-color);}
        .body.table-responsive {padding: 1px !important;}
        .col-md-2.tre4.pdf-lastclass-third {
            float: right;padding:0px;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Giftcard Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Giftcard Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">

            <div class="col-lg-12 col-md-12 gift-card-top all-type-third">
                <div class="card page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass borderclassgift" style="margin-top:2px;">
                    @using (Html.BeginForm("Giftcard_Report", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-1 gift-select" style="padding:0px;">
                                <div class="form-line selecthotel-third" style="">
                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Admin",Value="Admin"},
                           new SelectListItem{Text="Master",Value="Master"},
                           new SelectListItem{Text="Distributor",Value="Dealer"},
                           new SelectListItem{Text="Retailer",Value="Retailer"},
                           new SelectListItem{Text="Whitelabel",Value="WAdmin"}
                                            }, new { @class = " form-control", data_live_search = "true", @style = "margin-top:0px;height:32px;border-color:#eee;box-shadow: none;", onchange = "answers()" })
                                </div>

                            </div>
                            <div class="col-md-1 gift-select" style="display:none;padding: 0px;padding-left:3px;" id="allmaster">
                                <div class="form-line selecthotel-third">
                                    @Html.DropDownList("allmaster1", ViewBag.allmaster as SelectList, "Master", new { @style = "margin-top:0px;padding:0px;height:32px;", @class = " select-s form-control", data_live_search = "true", })
                                </div>
                            </div>

                            <div class="col-md-1 gift-select" style="display:none;padding: 0px;padding-left:3px;" id="dlm">
                                <div class="form-line selecthotel-third">
                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, "Distubutor", new { id = "alldealer", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:32px;" })
                                </div>
                            </div>
                            <div class="col-md-1 gift-select" style="display:none;padding: 0px;padding-left:3px;" id="rem">
                                <div class="form-line selecthotel-third">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:32px;" })
                                </div>
                            </div>

                            <div class="col-md-1 gift-select" style="display:none;padding: 0px;padding-left:3px;" id="whitelabelid">
                                <div class="form-line selecthotel-third">
                                    @Html.DropDownList("Whitelabel", ViewBag.whitelabel as SelectList, "Select Whitelabel", new { id = "Whitelabel", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px;  padding:0px;text-align:center;height:32px;" })
                                </div>
                            </div>
                            <div class="col-md-1 gift-select selecthotel-third paddingleft-res-third" style="padding:0px;padding-left:3px;">
                                <div class="form-line">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                        new SelectListItem{Text="PENDING",Value="PENDING"},
                        new SelectListItem{Text="FAILED",Value="FAILED"}
                         }, new { @class = " form-control", data_live_search = "true", @style = "margin-top:0px;height:32px;border-color:#eee;box-shadow: none;" })
                                </div>
                            </div>
                            <div class="col-md-2 gift-select" id="optt" style="padding:0px;padding-left:3px;">
                                <div class="form-line">
                                    @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "Select Operator", new { id = "Operator", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px; text-align:center;height:32px;" })
                                </div>
                            </div>


                            <div class="col-md-4 respo-upup" style="margin-top: 1px;padding: 0px;padding-left:3px;">
                                <div class="">
                                    <div class="">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                                <span class="input-group-addon" style="padding:0px;min-width:3px;">

                                                </span>
                                                <div style="position:relative;">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; ;height:32px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 ytr-okpli gift-respo-thired search-resp-third" style="padding:0px;padding-left:5px;">
                                <div class="">
                                    <div class="">
                                        <center>
                                            <button name="btntype" type="submit" class="btn input-back-second" style="  height:32px;border: 1px solid #b1a6a638;background: #fff;margin-top:1px;background: #f9f9f9;width: 100%;" onclick="serch()">
                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                <span style="top:-1px;color:black;">Search</span>
                                            </button>
                                        </center>

                                    </div>


                                </div>
                            </div>

                        </div>
                    }
                    <div class="col-md-2 tre4 pdf-lastclass-third" style="width:auto;padding-right:0;">
                        <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas">
                            <div class="web-white-filter" style="float: right;">
                                <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="white-success" style="display:none;" id="total">
                    <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</span>
                    <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"] </span>
                    <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"] </span>

                </div>
            </div>


            <div class="row clearfix margi-topo-third" style="margin:0;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 for-margin-top">
                    <div class="card page-header-third">

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-giftcard-table">
                                <div class="">
                                    <div class="body table-responsive tableseconddes-admin giftcard-table-reportnew" style="position:inherit;padding:3px;">
                                        <table class="table table-bordered table-striped table-hover giftadmin-tableste table-background-second example-second thpadding-second third-design-table" cellspacing="0" style="width:100%;font-size:12px;background:#f9f9f9;">
                                            <thead class="navbar" style="color:#000; position:inherit;">
                                                <tr>
                                                    <th>Status</th>
                                                    <th>Sender&nbsp;Information</th>
                                                    <th>Receiver&nbsp;Information</th>
                                                    <th>Request&nbsp;Date</th>
                                                    <th>Amount</th>
                                                    <th>Service&nbsp;Name</th>
                                                    <th>Type</th>
                                                    <th>Operator&nbsp;Id</th>
                                                    <th>Retailer&nbsp;Pre</th>
                                                    <th>Retailer&nbsp;Post</th>
                                                    @*<th><span>Retailer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>*@
                                                    @*<th><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                                    <th><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                                    <th><span>Whitelabel</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>*@
                                                    <th>Response&nbsp;Time</th>
                                                    <th>API&nbsp;Remain</th>
                                                    @*<th>Gift&nbsp;Card&nbsp;Message</th>*@
                                                    @*<th>API&nbsp;Request</th>*@
                                                    @*<th>API&nbsp;Response</th>*@
                                                    <th class="giftth-seconclass" style="width: 80px !important; display: block;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        var color = "";
                                                        var fontweight = "";
                                                        var icon = "";
                                                        var pandingcolor = "";

                                                        if (item.status.Contains("success"))
                                                        {
                                                            color = "green";
                                                            fontweight = "700";
                                                            icon = "../../ashok-images/correct.svg";
                                                        }
                                                        if (item.status.Contains("failed"))
                                                        {
                                                            color = "red";
                                                            fontweight = "700";
                                                            icon = "../../ashok-images/closes.svg";
                                                        }

                                                        if (item.status.Contains("Pending"))
                                                        {
                                                            color = "#FF9800";
                                                            fontweight = "700";
                                                            icon = "../../ashok-images/clkk.png";
                                                            pandingcolor = "#fff8d1";
                                                        }
                                                        if (item.status.Contains("Refund "))
                                                        {
                                                            color = "#9C27B0";
                                                            fontweight = "700";
                                                            icon = "../../ashok-images/undo.svg";
                                                        }


                                                        <tr style="background:@pandingcolor;">
                                                            <td class="status-gift-admin"><img style="background-color:@color" src="@icon" /><p style="font-size:13px;color:@color;font-weight:@fontweight;">&nbsp;@item.status</p></td>
                                                            <td><p style="font-size:11px;"><span>@item.sender_name</span>&nbsp;⇒&nbsp;@item.sender_email</p></td>
                                                            <td><p style="font-size:11px;"><span>@item.reciver_name</span>&nbsp;⇒&nbsp;@item.reciver_email</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@String.Format("{0:dd-MMM-yy HH:mm:ss}", item.request_time)</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.amount</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.operator_Name</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.Operator_type</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.operator_id</p></td>
                                                            <td><span style="">@item.rem_pre_remain</span></td>
                                                            <td><span style="">@item.rem_post_remain</span></td>

                                                            @*<td><p><span>Retailer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.rem_pre_remain</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.comm_rem</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.rem_post_remain</span></p></td>*@
                                                            @*<td><p><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.dlm_pre_remain</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.comm_dlm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.dlm_post_remain</span></p></td>
                                                            <td><p><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.master_pre_remain</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.comm_master</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.master_post_remain</span></p></td>
                                                            <td><p><span>Whitelabel</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.whitelabel_pre_remain</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.comm_whitelabel</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.whitelabel_post_remain</span></p></td>*@
                                                            <td><p style="font-size:13px;">&nbsp;@String.Format("{0:dd-MMM-yy HH:mm:ss}", item.Response_time)</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.api_remain</p></td>
                                                            @*<td><p style="font-size:13px;">&nbsp;@item.gift_message</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.api_request</p></td>
                                                            <td><p style="font-size:13px;">&nbsp;@item.api_response</p></td>*@

                                                            <td>
                                                                <div class="row">

                                                                    <button class="ss" onclick="success('@item.orderid','success')" style="background-color: transparent; color: black; border: none; margin-top: 0px;" title="Mannual Success">
                                                                        <i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;" aria-hidden="true"></i>
                                                                    </button>


                                                                    <button class="ff" onclick="refundshow('@item.orderid','failed')" style="background-color: transparent; color: black; border: none; margin-top: 0px;" data-target="#defaultModal1" data-toggle="modal" title="Mannual Failed">
                                                                        <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i>
                                                                    </button>

                                                                    <span class="nrch" data-toggle="modal" data-target="#defaultModal222"> <img src="~/ashok-images/rightaeps.svg" style="border: 1px solid #c7c2c2; font-size: 10px; height: 18px !important; padding: 3px !important;" /> </span>
                                                                </div>


                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                            <tfoot class="navbar" style="color:white;position:inherit;">

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*Gift_Card_Modal*@

            <div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
                        <div class="ldio-zdyd6mf6t5">
                            <div></div><div></div>
                        </div>
                    </div>
                    <div id="userinfodiv" class="modal-content width100 float-left">
                        <div class="modal-header width100 float-left">
                            <div class="modal-back width100 float-left">

                                <div class="report-status">
                                    <div class="form-group" style="border-right: 3px solid #555;">


                                    </div>
                                    <div class="form-group">


                                    </div>

                                </div>
                                <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;background:transparent;">
                                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <!--.modal-header-->
                        <div class="modal-body width100 float-left">

                            <div class="float-left width100">

                                <form class="first-form">

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Dealer pre</label>
                                                <input type="text" id="gift-dealer-pre" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Dealer post</label>
                                                <input type="text" id="gift-dealer-post" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Master pre</label>
                                                <input type="text" id="gift-master-pre" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Master post</label>
                                                <input type="text" id="gift-master-post" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Whitelable pre</label>
                                                <input type="text" id="gift-whitelable-pre" readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Whitelable post</label>
                                                <input type="text" id="gift-whitelable-post" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Gift&nbsp;Card&nbsp;Message</label>
                                                <textarea class="form-control" cols="20" id="giftcard-massage" name="" readonly="readonly" style="height:50px;"></textarea>
                                            </div>
                                        </div>
                                    </div><!--.row-->

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>API&nbsp;Request</label>
                                                <textarea class="form-control" cols="20" id="gift-api-request" name="" readonly="readonly" style="height:50px;"></textarea>
                                            </div>
                                        </div>
                                    </div><!--.row-->

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>API&nbsp;Response</label>
                                                <textarea class="form-control" cols="20" id="gift-api-response" name="" readonly="readonly" style="height:50px;"></textarea>
                                            </div>
                                        </div>
                                    </div><!--.row-->

                                </form>
                            </div>
                        </div><!--.modal-body-->


                    </div>

                </div>
            </div>


        </div>
    </div>
        </section>

        <!--Refund Model-->
        <div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:1px solid #ece7e7;background-color:whitesmoke;">
                        <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Refund</h4>
                    </div>
                    <div class="modal-body">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Reason</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        @Html.TextBox("txtorderid", "", new { style = "display:none;" })
                                        @Html.TextBox("status", "", new { style = "display:none;" })
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.DropDownList("ddl_refund", new List<SelectListItem>
                                                   {
                             new SelectListItem{ Text="Manual Failed",Value="Manual FAILED"},
                           new SelectListItem{ Text="Failed Due To Invalid Choice",Value="Failed Due To Invalid Choice"},
                          new SelectListItem{Text="Network Down",Value="Network Down"},
                            new SelectListItem{Text="Unsupported Network",Value="Unsupported Network"},
                         new SelectListItem{Text="Network issue",Value="Network issue"},
                         new SelectListItem{Text="Insufficient Fund ",Value="Insufficient Fund"}
                                    }, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="Failed()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Swalalert/datatablejquery.js"></script>
        <script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
        <!-- Custom Js -->
        <script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
        <!-- Demo Js -->
        <script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

        <script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
        <script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
        <script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
        <script src="~/AdminDesign/js/demo.js"></script>
        <script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

        <link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
        <script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

        <script>
            $('.select-s').select2();

        </script>


        <!--Calendar Javascript-->
        <script>

            $('.white-success-button').click(function () {
                $('.white-success').toggle();
            });


        </script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('.input-daterange').datepicker({
                    format: "yyyy-mm-dd",
                    todayHighlight: true,
                    autoclose: true,
                    orientation: "bottom auto",

                });
                var val = '@ViewBag.chk';
                if (val != "post") {
                    $("#txt_frm_date").datepicker("setDate", new Date());
                    $("#txt_to_date").datepicker("setDate", new Date());
                }

                answers();
            });

        </script>


        <script type="text/javascript">
            function answers() {
                var e = document.getElementById("ddlusers");
                var answer = e.options[e.selectedIndex].value;
                if (answer == "Dealer") {
                    $("#optt").removeClass("col-md-3");
                    $("#optt").addClass("col-md-2");
                    document.getElementById("allmaster").style.display = "none";
                    document.getElementById("whitelabelid").style.display = "none";
                    document.getElementById("dlm").style.display = "block";
                    document.getElementById("rem").style.display = "none";
                    document.getElementById("allretailer").selectedIndex = "0";
                    document.getElementById("allmaster1").selectedIndex = "0";
                    document.getElementById("Whitelabel").selectedIndex = "0";
                }
                else if (answer == "Master") {
                    $("#optt").removeClass("col-md-3");
                    $("#optt").addClass("col-md-2");
                    document.getElementById("allmaster").style.display = "block";
                    document.getElementById("whitelabelid").style.display = "none";
                    document.getElementById("dlm").style.display = "none";
                    document.getElementById("rem").style.display = "none";
                    document.getElementById("alldealer").selectedIndex = "0";
                    document.getElementById("allretailer").selectedIndex = "0";
                    document.getElementById("Whitelabel").selectedIndex = "0";
                }
                else if (answer == "Admin") {
                    $("select#allmaster1").attr('selectedIndex', 0);
                    $("select#alldealer").attr('selectedIndex', 0);
                    $("#optt").removeClass("col-md-3");
                    $("#optt").addClass("col-md-2");

                    document.getElementById("whitelabelid").style.display = "none";
                    document.getElementById("allmaster").style.display = "none";
                    document.getElementById("dlm").style.display = "none";
                    document.getElementById("rem").style.display = "none";
                    document.getElementById("alldealer").selectedIndex = "0";
                    document.getElementById("allretailer").selectedIndex = "0";
                    document.getElementById("allmaster1").selectedIndex = "0";
                    document.getElementById("Whitelabel").selectedIndex = "0";
                }
                else if (answer == "Retailer") {
                    $("#optt").removeClass("col-md-3");
                    $("#optt").addClass("col-md-2");
                    document.getElementById("allmaster").style.display = "none";
                    document.getElementById("whitelabelid").style.display = "none";
                    document.getElementById("dlm").style.display = "none";
                    document.getElementById("rem").style.display = "block";
                    document.getElementById("alldealer").selectedIndex = "0";
                    document.getElementById("allmaster1").selectedIndex = "0";
                    document.getElementById("Whitelabel").selectedIndex = "0";
                }

                else if (answer == "WAdmin") {
                    $("#optt").removeClass("col-md-3");
                    $("#optt").addClass("col-md-2");
                    document.getElementById("allmaster").style.display = "none";
                    document.getElementById("whitelabelid").style.display = "block";
                    document.getElementById("dlm").style.display = "none";
                    document.getElementById("rem").style.display = "none";
                    document.getElementById("alldealer").selectedIndex = "0";
                    document.getElementById("allretailer").selectedIndex = "0";
                    document.getElementById("allmaster1").selectedIndex = "0";
                    document.getElementById("Whitelabel").selectedIndex = "0";
                }


            }
        </script>

        <!--failed show model popup-->
        <script>
            function refundshow(orderid, status) {
                $("#txtorderid").val(orderid);
                $("#status").val(status);

            }
        </script>

        <!--Manual failed -->
        <script>
            function Failed()
            {
             var answer = confirm('Are you sure ?');
             if(answer)
             {
                 var orderid = $("#txtorderid").val();
                 var status = $("#status").val();
                 var e = document.getElementById("ddl_refund");
                 var ddlval = e.options[e.selectedIndex].value

                 $.ajax({
                     url: '@Url.Action("GiftcardFailed", "Home")',
                     type: 'POST',
                     dataType: "html",
                     data: { orderid: orderid, status: status, ddl_refund: ddlval },
                     success: function (data) {
                         var response = JSON.parse(data);
                         if (response.Status) {
                             swal("Good Job!", response.Message, "success");
                             window.location.reload();
                              }
                         else {
                             swal("Oops...", response.Message, "error");
                         }
                     },
                     error: function (data) {

                     }
                 }).done(function () {
                     $("#defaultModal1").modal('hide');
                 });
                     return true;

                }
             else {
                 $("#defaultModal1").modal('hide');
                    return false;
                }
            }
        </script>

        <!--Mannual Success-->
        <script>
            function success(orderid, status)
            {
             var answer = confirm('Are you sure ?');
             if(answer)
             {
                 $.ajax({
                     url: '@Url.Action("GiftcardSuccess", "Home")',
                     type: 'POST',
                     dataType: "html",
                     data: { orderid: orderid, status: status },
                     success: function (data) {
                         var response = JSON.parse(data);
                         if (response.Status) {
                             swal("Good Job!", response.Message, "success");
                             window.location.reload();
                         }
                         else {
                             swal("Oops...", response.Message, "error");
                         }
                     },
                     error: function (data) {

                     }
                 });
                     return true;

                }
             else {

                    return false;
                }
            }
        </script>







        <script>
            $(document).ready(function () {
                $('.second-design .example-second').DataTable({


                    paging: false
                });
            });

        </script>

        <script>
            $("#btnExportA").click(function () {
                var txt_frm_date = $('#txt_frm_date').val();
                var txt_to_date = $('#txt_to_date').val();
                var ddlusers = $('#ddlusers').val();
                var ddl_status = $('#ddl_status').val();
                var alldealer = $('#alldealer').val();
                var allretailer = $('#allretailer').val();
                var allmaster = $('#allmaster').val();
                var allapiuser = $('#allapiuser').val();
                var Whitelabel = $('#Whitelabel').val();
                var ddl_Type = $('#ddl_Type').val();
                var Operator = $('#Operator').val();
                var allmaster1 = $('#allmaster1').val();
                var url = '@Url.Action("ExcelGiftCardReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type + '&Operator=' + Operator + '&allmaster1=' + allmaster1;
                location.href = url;
            });
            </script>



