@model IEnumerable<Vastwebmulti.Models.tbl_Holiday>
@{
    ViewBag.Title = "Holidaycalendar";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content holidaycalender-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header" style="background-color:whitesmoke;">
                        <h2 style="color:black;">
                        <i class="fa fa-calendar"></i>&nbsp;Holiday Calendar
                        </h2>
                       </div>
                    @using (Html.BeginForm("Holidaycalendar", "Home", FormMethod.Post))
                    {
                    <div class="body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <label for="email_address">Select Date</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="text" id="txtdate" name="txtdate" class="form-control" placeholder="Ex: yyyy-mm-dd" required="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <label for="password">Holiday&nbsp;Name</label>
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="text" id="txtname" name="txtname" class="form-control" placeholder="Enter Holiday Name" required="" autocomplete="off" maxlength="22">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn bg-grey waves-effect">
                                        <span style="top:-2px;color:black;">Save Change</span>
                                    </button>
                                    <button type="reset" class="btn bg-grey waves-effect">
                                        <span style="top:-2px;color:black;">Reset</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                </div>
                <div class="card">
                    <div class="" style="margin-top:-17px;">
                        <div class="body table-responsive " style="position:inherit;padding:7px;">
                            <table class="table table-bordered table-striped   ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Holiday&nbsp;Date</th>
                                        <th>Holiday Name</th>
                                        <th><center>AEPS&nbsp;Transfer&nbsp;Amount&nbsp;(Block)</center></th>
                                        <th><center>MPOS&nbsp;Transfer&nbsp;Amount&nbsp;(Block)</center></th>
                                        <th>Delete</th>
                                        </tr>
                                </thead>
                                <tbody>
                             @{ int i = 1;}
                                   @if(Model.Count()> 0)
                                   { 
                                   foreach (var item in Model)
                                   {
                                      <tr>
                                       <td>@i</td>
                                       <td>@item.HolidayDate</td>
                                       <td>@item.HolidayName</td>
                                          <td>
                                              @if (item.isAepsBlocked == true)
                                              {
                                                  <center>
                                                      <a href="@Url.Action("UpdateAepsMposStatus", new { id = item.id, flag = "AEPS" })" style="text-decoration:none;">
                                                          <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                      </a>
                                                  </center>
                                              }
                                              else
                                              {
                                                  <center>
                                                      <a href="@Url.Action("UpdateAepsMposStatus", new { id = item.id, flag = "AEPS" })" style="text-decoration:none;">
                                                          <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                      </a>
                                                  </center>
                                              }
                                          </td>

                                          <td>
                                              @if (item.isMposBlocked == true)
                                              {
                                                  <center>
                                                      <a href="@Url.Action("UpdateAepsMposStatus", new { id = item.id, flag = "MPOS"})" style="text-decoration:none;">
                                                          <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                      </a>
                                                  </center>

                                              }
                                              else
                                              {
                                                  <center>
                                                      <a href="@Url.Action("UpdateAepsMposStatus", new { id = item.id, flag = "MPOS" })" style="text-decoration:none;">
                                                          <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                      </a>
                                                  </center>

                                              }
                                          </td>

                                        <td>
                                        <button type="button" style="background-color:transparent; border:none;margin-top:1px;" onclick="deletedata('@item.id')">
                                            <p style="padding:3px 9px 1px 8px;border:1px solid #dddddd;color:black;">Delete</p>
                                        </button>
                                        </td>
                                        </tr>
                                           i++;
                                       }
                                   }
                                   else
                                   {
                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td><p style="font-size:22px;margin-top:20px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                                   }

                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<!--Window onload javascript-->
<script>
    window.onload=function()
    {
        var msg = '@ViewData["success"]';
        if(msg != "")
        {
            swal("Good job!", msg, "success");
        }
    }
</script>
<script>
   
    var dates = $("#txtdate").datepicker({
            minDate: "+1",
            maxDate: "+2Y",
            defaultDate: "+1w",
            dateFormat: 'yy-mm-dd',
            numberOfMonths: 1,
            onSelect: function (date) {
                for (var i = 0; i < dates.length; ++i) {
                    if (dates[i].id < this.id)
                        $(dates[i]).datepicker('option', 'maxDate', date);
                    else if (dates[i].id > this.id)
                        $(dates[i]).datepicker('option', 'minDate', date);
                }
            }
        });
  
</script>
<script type="text/javascript">

    function deletedata(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("deleteholidaycalendar", "Home")', data: { id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Data Deleted Successfully.", "success");
                var url = '@Url.Action("Holidaycalendar", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Holidaycalendar", "Home")';
                window.location.href = url;
            }
        }
    });
    
            }

);
$(".sweet-alert").css('background', '@PageData["globalCol"]');
    }

</script>
