@*@model IEnumerable<Vastwebmulti.Models.SRS_show_incomg_msg_Result>*@
@{
    ViewBag.Title = "incoming";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .ner {
        width: 25px !important;
        border: 1px solid #b1a6a638 !important;
    }

    .clk {
        width: 70%;
    }

    .ner2 {
        width: 25px !important;
        border: 1px solid #b1a6a638 !important;
    }

    .clk input {
        padding-right: 0px;
        padding-left: 20px !important;
    }
    .nrr3 {
        float: left;
        position: relative;
    }
    .kitwe select {
    -webkit-appearance: none;
    border: 1px solid #b1a6a638 !important;
box-shadow: none !important;
}

    .kitwe::after{
        content: "";
display: block;
border-color: #888 transparent transparent transparent;
border-style: solid;
border-width: 5px 4px 0 4px;
height: 0;

margin-left: -4px;
margin-top: -2px;
position: absolute;
top: 50%;
width: 0;
right: 10px;
    }
      @@media only screen and (min-width:481px) and (max-width:992px){
            .up-to-up #custnav ul li {width: 33%;}
            .responcive-fifty {width: 50% !important;float: left;padding: 0px;}
            .responcive-full {width: 100% !important;float: left;}
            .responcive-full .clk{width: 100% !important;float: left;margin-left: 0px !important;margin-top: 10px;}
            .responcive-full .clk .nrr3{width: 100% !important;}
            .responcive-full .clk .input-group-addon{min-width: 2px !important;}
            .responcive-full .sre {width: 50%;float: left;margin: 10px 0px;padding: 0px !important;}
            .responcive-full .sre input{width: 100%;}
           }
    @@media only screen and (max-width:480px) {
    .err5{width: 100%;}
    .err5 .kklo #custnav #ul li {float: left;margin-right: 2px;width: 32.3%;}
    .err6 .col-md-2{padding-left:0px;float: left;width: 50%;}
    .dis-none-n{display:none;}
    .err6 .err6-inner{float: left;width: 48%;}
    .clk {width: 98% !important;margin-left:0px !important;margin-top:5px;}
    .err6 .col-md-2.sre{padding-left: 0px !important;padding-right: 6px;margin-top:5px;}
    .err6 .col-md-2.sre input{width:100%;}
    .err6 .col-md-2.sre i{left:22% !important;}
    .table-responsive > .table-bordered > thead > tr > th:first-child{border-left:1px solid  var(--border-color);}
    .table-responsive > .table-bordered > thead > tr > th:last-child{border-right:1px solid  var(--border-color);}
    }

    @@media only screen and (max-width:1367px) {

        .err6-inner {
            width: 25%;
        }
        .left-responsive-third {
            width: 41%;
        }
        section.content {
            margin: 75px 0px 0 165px;
        }

    }

    @@media only screen and (max-width:1169px) {

        

        section.content {
            margin: 75px 0px 0 0px;
        }
        .ls-closed section.content {
            margin-left: 0px;
        }

    }

    @@media only screen and (max-width:1024px) {
        #sidebar-open {
            top: 30px;
            left: -143px;
        }
        
    }
    

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -2px;
            left: -3px;
        }
    }

    @@media only screen and (max-width:480px) {
        .left-responsive-third {
            width: 100%;
        }
        .responcive-fifty {
            margin-top: 5px;
        }
    }


</style>
<section class="content">
    <div class="container-fluid">
            <div class="row clearfix page-header-third margin-bottom-third cardbackg-third cardbackg-thirdclass">
            <div class="col-md-12" style="padding:0px;">
                 <div class="card">
                     <div class="">
                         <div class="col-md-3 err5 up-to-up up-third-design" style="padding: 0px;">
                             <div>
                                 @Html.Partial("menuoperatorreport")
                             </div>
                             </div>
                         @using (Html.BeginForm("incoming", "Home", FormMethod.Post))
                         {
                             <div class="col-md-9 err6 all-type-third">
                                 <div class="row">
                               
                                     <div class="col-md-2 dis-none-n dis-none-third-res"></div>
                                     <div class="col-md-2 responcive-fifty" style="padding-right: 5px;">
                                         <div class="form-group kitwe" style="margin-bottom:0px;margin-top:0px;margin-left:0px; width:100%;">

                                             @Html.DropDownList("lapuno11", ViewBag.Lapuno as SelectList, "Port No", new { id = "lapuno11", @class = "form-control" })
                                         </div>

                                         </div>
                                         <div class="col-md-4 err6-inner responcive-fifty rightpadding-third" style="padding: 0px;">
                                             <div class="form-group" style="margin-bottom:0px;margin-top:0px;margin-left:0px; width:100%;">
                                                 <div class="">
                                                     @Html.TextBox("txtmsg", "", new { @class = "form-control", @placeholder = "Search Text Message", @style = "margin-top:0px;border:1px solid #b1a6a638;" })
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="col-md-4 responcive-full left-responsive-third" style="padding: 0px;float:right;">
                                             <div class="col-md-10 clk" style="padding: 0px;margin-left: 4px;float:right;">
                                                 <div class="input-daterange input-group" style="margin-left:0px;width:100%;margin-top: 0px;">
                                                     <div class="custom-date-icon ner">
                                                         <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                     </div>
                                                     @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;" })
                                                     <span class="input-group-addon" style="padding:0px;min-width:5px;">

                                                     </span>
                                                     <div class="nrr3">
                                                         <div class="custom-date-icon ner2">
                                                             <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                         </div>
                                                         @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;" })
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-md-2 sre" style="padding-left:5px;">
                                                 <center>
                                                     <div class="" style="margin-top:0px;">

                                                         <i class="fa fa-search color-white-second" style="margin-left: 3px;position: absolute;top: 9px;left: 7px;color: #333;" aria-hidden="true"></i>

                                                         @*<input id="btntype_TODAY" name="btntype" type="submit" value="TODAY" class="btn" style="margin-top:0px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" />*@
                                                         <input id="btntype_OLD" name="btntype" type="submit" value="SEARCH" class="btn input-back-second" style="padding-left: 20px;margin-top:0px; height:32px;border:1px solid #b1a6a638;background:#fff ;" />
                                                     </div>
                                                 </center>
                                             </div>
                                         </div>


                                     </div>

                                 </div>
                         }
                     </div>
                </div>
            </div>
        </div>
        <div class="row clearfix margi-topo-third">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:11px;">
                <div class="card">
                 
                    <div class="body" style="margin-top:0px;padding:0px;">
                        <div class="table-responsive page-header-third" style="position:inherit;overflow: hidden;">
                            <table id="example" class="table table-bordered table-striped table-hover  " style="width:100%">
                                <thead style="background-color:whitesmoke;" >
                                    <tr>
                                        <th>Port Number</th>
                                        <th>Lapu Number</th>
                                        <th>Incoming Message Details</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin">
                                        @{
                                            Html.RenderAction("_incoming", "Home", new { Model = Model });
                                        }
                                </tbody>
                            </table>
                        </div>

                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script type="text/javascript">
		$(function()
		{

     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
				});
</script>


<script>
    var pageindex = 2;
    var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
        
        if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_incoming", "Home")",
                    { lapuno11: $('#lapuno11').val(), txtmsg: $('#txtmsg').val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val(), pageIndex: pageindex },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
    });
</script>
<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/ADMIN/Home/Incoming') {
            $('.sidebar .kkli li:nth-child(1) a').addClass('activee');
        }
    });
</script>