@model List<Vastwebmulti.Models.Slab_IndoNepal>
@{
    ViewBag.Title = "IndoNepal Slab";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:2px;">
                    <div class="row">
                        <div class="col-md-12">

                            @Html.Partial("_ApislabSetting")

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>IndoNepal Services Information</h2>
                            </div>

                            <div class="col-md-8">
                                <a href="@Url.Action("IndoNepal_Slab","Home")" id="Comm" class="btn bg-blue-grey waves-effect">Common</a>
                                <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">Master</button>
                                <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor</button>
                                <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer</button>
                                <button type="button" id="Apibtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('API', 'EditFormUserWise')">API</button>
                                <button type="button" id="Whitebtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Whitelabel', 'EditFormUserWise')">White Label</button>
                                @*<a href="@Url.Action("Dmt_Purchase","Home")" id="purchase" class="btn bg-blue-grey waves-effect">Purchase</a>*@
                                <button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, 'EditFormComm')">Edit</button>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <div id="divEditFormComm" class="body table-responsive" style="position:inherit; margin-top:-20px;">
                            @using (Html.BeginForm("IndoNepal_Slab", "Home", FormMethod.Post, new { id = "EditFormComm" }))
                            {
                                <table class="table table-bordered">
                                    <thead class="navbar" style="position:initial;color:white;">
                                        <tr>
                                            <th>User&nbsp;Type</th>
                                            <th>Min&nbsp;Value&nbsp;(₹)</th>
                                            <th>Max&nbsp;Value&nbsp;(₹)</th>
                                            <th>Charge</th>
                                            <th>Margin</th>
                                            @*<th>Gst</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyshow">
                                        @foreach (var item in Model.Where(a=>a.UserId == "Default"))
                                        {
                                            <tr>
                                                <td>@item.Role</td>
                                                <td>@item.min</td>
                                                <td>@item.max</td>
                                                <td>@item.charge</td>
                                                <td>@item.margin</td>
                                                @*<td>@item.gst</td>*@
                                            </tr>
                                        }

                                    </tbody>
                                    <tbody id="tbodyedit" style="display:none;">
                                        @for (int i = 0; i < Model.Where(a => a.UserId == "Default").ToList().Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(a => a[i].idno)
                                                @Html.HiddenFor(a => a[i].Email)
                                                @Html.HiddenFor(a => a[i].UserId)
                                                <td>
                                                    @Html.DisplayFor(a => a[i].Role)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a[i].min, new { htmlAttributes = new { @style = "width:100%", @readonly = "" } })
                                                    @Html.ValidationMessageFor(a => a[i].min)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a[i].max, new { htmlAttributes = new { @style = "width:100%", @readonly = "" } })
                                                    @Html.ValidationMessageFor(a => a[i].max)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a[i].charge, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a[i].charge)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a[i].margin, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a[i].margin)
                                                </td>
                                               
                                                @*<td>
                                                        @Html.EditorFor(a => a.common[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                                        @Html.ValidationMessageFor(a => a.common[i].gst)
                                                    </td>*@
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<script>
    var FormId = "";
    function funcEdit(event, frmId) {
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        $(event).replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcSave()">Save</button>');
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        } else if (ddlVal != null && ddlVal != '')//Update ALL
        {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
        }
    }
    function funcSave() {
        //alert(FormId);
        $("#" + FormId + "").submit();
    }

    function editUserWise(userRole, frmId) {
        //alert(userRole);
        var url = '@Url.Action("_UserIndoNepalSlab", "Home")';
        $.post(url, { role: userRole }, function (data) {
            
            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, \'EditFormComm\')">Edit</button>');
            $("#role").val(userRole);
                    ///Fatch default slab for selected role
                    //alert("a");
                    //var newurl = '@Url.Action("getIndoNepalDefSalb", "Home")';
                   // $.post(newurl, { role: userRole }, function (data) {
                       // $("#tbodyeditAll").html(data);
                    //}).fail(function (xhr, status, error) {
                    //    //alert("error");
                    //    //var err = eval("(" + xhr.responseText + ")");
                    //    //alert(err.Message);
                    //}).always(function () {
                    // //alert("finished");
                    //  });
        })
          .fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");

        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
    }

    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserIndoNepalSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
           
            $("#divEditFormComm").html(data);
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:22px;" onclick="funcEdit(this, \'EditFormComm\')">Edit</button>');
            $('#ddlUserId').val(ddlVal);
          
           
        }).fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
              //alert("finished");
          });
       
       
    }
</script>

<!--Window Load-->
<script>
    $(function () {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
          });
</script>

