@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
<div class="left-first-tabs width100 float-left">
    <h2 class="float-left width100 fullbodydycolorbg">Create Master Distributor</h2>
    @*@using (Html.BeginForm("insert_master_super", "Home", FormMethod.Post))
        {*@
    <form>
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Name</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.SuperstokistName, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                    </div>
                    @Html.ValidationMessageFor(m => m.SuperstokistName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Firm Name</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.FarmName, "", new { @class = "form-control", placeholder = "Enter Firm Name", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.FarmName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Email-ID</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email-id", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 col">
                <label for="email_address_2">Mobile</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Enter Mobile Number", onkeypress = "return isNumber(event)", maxlength = "10", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                <label for="email_address_2">Pancard</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.pancard, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.pancard, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-6 col">
                <label for="email_address_2">State</label>
                <div class="form-group">
                    <div class="">
                        @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "selectpicker form-control", data_live_search = "true" })
                    </div>
                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-2">
                <label for="email_address_2">District</label>
                <div class="form-group">
                    <div class="">
                        @Html.DropDownListFor(m => m.District,
                       new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                              "Select district",
                              new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Address</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="email_address_2">Area Pin Code</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->

        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 col">
                <label for="email_address_2">Aadhar Card</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.adharcard, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.adharcard, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                <label for="email_address_2">Gst Number</label>
                <div class="form-group">
                    <div class="">
                        @Html.TextBoxFor(m => m.gst, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase", required = "required" })

                    </div>
                    @Html.ValidationMessageFor(m => m.gst, "", new { @class = "text-danger" })
                </div>
            </div>
        </div><!--.row-->
        <!--modal-footer-->
        <div class="modal-footer width100 float-left border-0">
            <button type="submit" onclick="AddNewMD();" class="btn waves-effect special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                Save Change
            </button>
            <button type="reset" class="btn">Reset</button>
        </div><!--.modal-footer-->
    </form>
    @*}*@

</div><!--.left-first-tabs-->
