@model Vastwebmulti.Areas.ADMIN.ViewModel.IRCTC_report_model

@{
    ViewBag.Title = "IRCTC_rem_REPORTS";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .jkjk::after {
        display:none;
    }
    .form-control {
        padding-left: 2px;
    }
    .mrj input {
        border: 1px solid #ccc !important;
    }
    .custom-date-icon.ner {
        height: 34px;
    }
    .mrj.responcive-fifty .btn.input-back-second {
        height: 34px;
        border-color: #ccc !important;
    }

     /* New css vs responcive   */

    .irctcmenu {
        width: auto;
    }



    @@media screen and (max-width:1366px){
        
        .col-md-6.tre3.all-type-third.tickt-third-responsive {
            width: 100%;
            float: left !important;
        }
            
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:992px){

        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }
        .tre3 {
            display: block !important;
        }


    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


    @@media screen and (max-width:766px){
        .col-md-6.tre3.all-type-third.tickt-third-responsive .col-md-2 {
            width: 50%;
            float: left !important;
            margin: 0;
            padding-right: 3px;
            margin-bottom: 15px;
        }

        .col-md-6.tre3.all-type-third.tickt-third-responsive .col-md-1 {
            width: 50%;
            margin: 0;
        }

        .col-md-5.mrj.responcive-full {
            width: 100% !important;
            float: left;
            margin: 0;
        }

            .col-md-5.mrj.responcive-full .form-group.jjp {
                width: 100%;
                margin-bottom: 10px;
            }

        .tre3 .col-md-5 .form-group.jjp input {
            width: 50% !important;
        }
        .nrr3 {
            width: 49%;
        }
        .tre3 .col-md-5 .form-group.jjp .nrr3 input {
            width: 100% !important;
        }
    }

@@media only screen and (max-width:480px){
    .col-md-6.tre3.all-type-third.tickt-third-responsive .col-md-2 {
        width: 100%;
    }

    .col-md-6.tre3.all-type-third.tickt-third-responsive .col-md-1 {
        width: 100%;
        margin-bottom: 8px;
    }
    .tre3 .col-md-5 .form-group.jjp input {
        width: 100% !important;
        margin-bottom: 8px;
    }
    .nrr3 {
        width: 100%;
    }

    .D_menu {
        width: 100% !important;
    }
    .page-header-third {
        width: 100% !important;
    }
        .page-header-third #custnav ul li {
            width: 50%;
            float: left;
            margin: 0;
            padding: 5px 0;
            padding-right: 2px;
        }

    .irctcmenu { 
        width: 100%;
    }

}



</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-md-12 up-to-up" style="padding-right: 15px; padding-left: 15px;">
                <div class="card card-rel-third-respo">

                    <div class="page-header-third" style="width: auto; float: left;">
                        <div class="col-md-2 tre1 up-third-design airtab-respon-third airtab-respon-third-design irctcmenu" style="padding: 0px;">
                            <div>
                                @Html.Partial("~/Areas/ADMIN/Views/Air/_travelReportMenu.cshtml")

                            </div>
                        </div>
                        <!--<div class="col-md-2 tre2 up-third-design airtab-respon-third airtab-respon-third-design" style="padding: 0px;">-->
                        @*@Html.Partial("HotelpartialView")*@
                        <!--</div>-->
                    </div>

                    <div class="page-header-third D_menu" style="width: auto; float: right;">
                        <div class="col-md-2 tre4 pdf-lastclass-third widthautposit-third-respon" style="padding: 0; float: right; width: auto; ">
                            <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas">
                                <div class="web-white-filter" style="float: right;">
                                    <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:34px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:34px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 34px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                                </div>
                            </div>
                        </div>
                        <div class="white-success" style="display: none; position: absolute;" id="total">
                            <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                            <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                            <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                        </div>
                    </div>


                        
                    </div>
                </div>
        </div>
        <div class="row clearfix" id="tblshowdtaa">
            <div class="col-md-12" style="">

                <div class="page-header-third">

                    <div class="col-md-6 tre3 all-type-third tickt-third-responsive" style="padding: 0px; margin: 0; width: 100%; display: flex; align-items: center; justify-content: space-between;">

                        <div class="t_menu">
                            <div class="bread-same-all-page breadsameall-second">
                                <ul>
                                    <li class="smli">
                                        <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>

                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                        IRCTC_rem_REPORTS
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div class="t_menu">
                            @using (Html.BeginForm("IRCTC_rem_REPORTS", "Home", FormMethod.Post))
                            {




                                <div class="col-md-2 mrj jkjk dip responcive-fifty">
                                    <div class="form-line">
                                        @Html.DropDownList("allmaster", ViewBag.allmasters as SelectList, "All Master", new { @style = "margin-top:0px", @class = "form-control", data_live_search = "true", })
                                    </div>
                                </div>

                                <div class="col-md-2 mrj jkjk dip responcive-fifty">
                                    <div class="form-line">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-2 mrj jkjk dip responcive-fifty">
                                    <div class="form-line">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-1 mrj jkjk responcive-fifty aapearnce-noneclass apperancenone-third selecthotel-third" id="sts">
                                    <div class="">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                          {
                                                         new SelectListItem{ Text="Status",Value="",},
                                                         new SelectListItem{Text="SUCCESS",Value="Confirmed"},
                                                         new SelectListItem{Text="PENDING",Value="PROCCESSED"},
                                                         new SelectListItem{Text="FAILED",Value="Failed"}
                                                          }, new { @class = "form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                    </div>
                                </div>



                                <div class="col-md-5 mrj responcive-full" style="width: auto;">
                                    <div class="form-group jjp">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon ner height-icon-third" style="border-color:#ccc !important;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ccc; height: 34px !important;", autocomplete = "off" })
                                            <div class="nrr3">
                                                <div class="custom-date-icon ner height-icon-third" style="border-color:#ccc !important;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ccc !important; height: 34px !important;", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mrj responcive-fifty" style="margin-right: 0px;">
                                        <button type="submit" value="Old" name="submit" class="btn input-back-second" style="background: transparent;border: 1px solid #b1a6a638;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>


                        <div style="overflow: auto; width: 100%; float: left; margin-top: 6px; ">

                            <table class="table table-responsive table-bordered" style="background: #f5f5f5;">
                                <tr>
                                    <th>Status</th>
                                    <th>Order ID</th>
                                    <th>Retailer Name</th>
                                    <th>Mobile</th>
                                    <th>Secondary Mobile</th>
                                    <th>Email</th>
                                    <th>Secondary Email</th>
                                    <th>Amount</th>
                                    <th>Transection date</th>
                                    <th>Expire time</th>
                                    <th>Retailer OLD balance</th>
                                    <th>Retailer Latest Balance</th>
                                    <th>Distributor OLD balance</th>
                                    <th>Distributor Latest Balance</th>
                                    <th>MasterDistributor OLD balance</th>
                                    <th>MasterDistributor Latest Balance</th>

                                    <th>Action</th>
                                </tr>

                                <tbody id="turborbl" class="chnj">
                                    @foreach (var item in Model.Admin_IRCTC_reports)
                                    {
                                        DateTime txn_date = Convert.ToDateTime(item.txn_date);
                                        DateTime expire_time = Convert.ToDateTime(item.expire_time);
                                        var btnstyle = "none";
                                        var img = "";
                                        var color = "";

                                        if (item.status.Contains("Failed"))
                                        {
                                            img = "../../ashok-images/closes.svg";
                                            color = "red";
                                        }
                                        if (item.status.Contains("Refund"))
                                        {
                                            color = "#673ab7";
                                            img = "../../ashok-images/undo.svg";
                                        }
                                        if (item.status.Contains("Success".ToUpper()))
                                        {
                                            color = "green";
                                            img = "../../ashok-images/correct.svg";
                                        }
                                        if (item.status.Contains("Pending"))
                                        {
                                            color = "#ff9600";
                                            img = "../../ashok-images/clkk.png";
                                        }

                                        <tr>
                                            <td>
                                                @if (item.status == "Pending")
                                                {
                                                    <img src="@img" style="background-color:@color;border-radius:50%;" />@*<span>Pending</span>*@
                                                    <input type="button" value="status chk" onclick="checkstatusdata('@item.TxnID')" style="border: 1px solid #aaa4a4; font-size: 12px; text-transform: uppercase; padding: 6px 5px; margin-top: 5px;" />
                                                }
                                                else
                                                {
                                                    <span>
                                                        <img src="@img" style="background-color:@color;border-radius:50%;" /> @item.status
                                                    </span>
                                                }
                                            </td>
                                            <td>
                                                @item.TxnID
                                            </td>
                                            <td>
                                                @item.RetailerName
                                            </td>
                                            <td>
                                                @item.remmobile
                                            </td>
                                            <td>
                                                @item.secondmobile
                                            </td>
                                            <td>
                                                @item.remEmail
                                            </td>
                                            <td>
                                                @item.secondemail
                                            </td>
                                            <td>
                                                @item.amount
                                            </td>
                                            <td>
                                                @txn_date.ToString("d-MMM-yyyy HH:mm:ss")
                                            </td>
                                            <td>
                                                @expire_time.ToString("d-MMM-yyyy HH:mm:ss")
                                            </td>
                                            <td>
                                                @item.remain_pre
                                            </td>
                                            <td>
                                                @item.remain
                                            </td>
                                            <td>
                                                @item.dealer_remain_pre
                                            </td>
                                            <td>
                                                @item.dealerremain
                                            </td>
                                            <td>
                                                @item.master_remain_pre
                                            </td>
                                            <td>
                                                @item.masterremain
                                            </td>
                                            <td>
                                                @if (item.status == "Pending")
                                                {
                                                    <button type="button" onclick="successdstatus('@item.TxnID','APPROVE')" style="border:0;background:transparent;">
                                                        <i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" onclick="successdstatus('@item.TxnID','REJECT')" style="border:0;background:transparent;">
                                                        <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i>
                                                    </button>

                                                    @*<input type="button" value="Success" onclick="successdstatus('@item.TxnID','APPROVE')" />
                                    <input type="button" value="Failed" onclick="successdstatus('@item.TxnID','REJECT')" />*@
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>





                            </table>


                        </div>


                    </div>
            
            </div>


        </div>
        </div>
</section>

<script>

    function checkstatusdata(idno) {
        
        $.ajax({
            url: '@Url.Action("Status_IRCTC_CHECK", "Home")',
            data: { idno: idno},
            cache: false,
            type: "POST",
            success: function (data) {
                
                alert(data);

            }

        })
    }
    function successdstatus(idno,sts) {
        alert(idno)

        $.ajax({
            url: '@Url.Action("IRCTCT_PENDING_SUCCESS_FAILED", "Home")',
            data: { generate_txnid: idno,sts:sts },
            cache: false,
            type: "POST",
            success: function (data) {
                // alert(data);
                location.reload();
            }

        })
    }
 

</script>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>