@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.RetailerCreationTokenVM>
@{
    ViewBag.Title = "Joining Tokens";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
      .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 20px;
    }
</style>

<section class="content tmw-joing-tokens">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-7">
                    <div style="margin-left:-13px;">
                        @Html.Partial("Signupsettingmenu")
                    </div>
                    </div>
          
                     @using (Html.BeginForm("JoingTokens", "Home", FormMethod.Post))
{
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:8px;margin-left:-14px;">
                                    <div class="" style="padding-top:2px;padding-bottom:11px;">
                                        @Html.DropDownList("dealerId", ViewBag.ddlDealers as IEnumerable<SelectListItem>, "Select Distributor", new { @class = "selectpicker form-control border-0", data_live_search = "true", @style = "padding-left:0px;" })
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-1">
                               <center>
                                   <button type="submit" class="btn btnssl" style="margin-top:3px; margin-left: -63px;border:1px solid #c7c2c2;background:#dedddd;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                       <i class="fa fa-search"></i>
                                       <span>Search</span>
                                   </button>
                               </center>
                            </div>

                        <div class="col-md-1">
                            <center>
                                <button type="button" class="btn" style="margin-top:3px; margin-left:-55px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus"></i>
                                    <span>Add&nbsp;Token's</span>
                                </button>
                            </center>
                    </div>

                    <div class="col-md-1">
                        <center>
                            <button type="button" class="btn" style="margin-top:3px; margin-left:-33px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModalToken">
                                <i class="fa fa-inr"></i>
                                <span>Token's&nbsp;Price</span>
                            </button>
                        </center>


                    </div>
}
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-17px;">
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:7px;">
                            <table class="table table-bordered" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Distributor</th>
                                        <th>Purchase&nbsp;Tokens</th>
                                        <th>Token&nbsp;Pre</th>
                                        <th>Token&nbsp;Post</th>
                                        <th>Distributor&nbsp;Pre</th>
                                        <th>Distributor&nbsp;Post</th>
                                        <th>Admin&nbsp;Pre</th>
                                        <th>Admin&nbsp;Post</th>
                                        <th>Per&nbsp;Token&nbsp;Value</th>
                                        <th>Total&nbsp;Debit</th>
                                        <th>Purchase&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
{
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                            <td>@Html.DisplayFor(modelItem => item.pre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.post)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DealerPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DealerPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CteatedOn)</td>   
                                        </tr> 
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!--Add Token Value modal-->
<div class="modal fade" id="defaultModalToken" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Token Price</h4>
            </div>
            @using (Html.BeginForm("AddTokenValue", "Home", FormMethod.Post))
{
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Price&nbsp;To&nbsp;Master</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtmastervalue" name="txtmastervalue" class="form-control" required="" placeholder="Enter Master Charge Token Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Price&nbsp;To&nbsp;Distributor</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtdealervalue" name="txtdealervalue" class="form-control" required="" placeholder="Enter Distributor Charge Token Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6" style="background-color:whitesmoke;">
                                    <div class="row" style="border:1px solid #dacccc;">
                                        <div class="col-md-8 form-control-label" style="color:grey;">
                                            <label for="email_address_2">Old&nbsp;Master&nbsp;Token&nbsp;Price</label>
                                        </div>
                                        <div class="col-md-1 form-control-label" style="color:grey;">
                                            <label for="email_address_2">@ViewBag.mastervalue</label>
                                        </div>
                                    </div>
                                    <div class="row" style="border:1px solid #dacccc;"> 
                                        <div class="col-md-10 form-control-label" style="margin-left:-25px; color:grey;">
                                            <label for="email_address_2">Old&nbsp;Distributor&nbsp;Token&nbsp;Price</label>
                                        </div>
                                        <div class="col-md-1 form-control-label" style="color:grey;">
                                            <label for="email_address_2">@ViewBag.dealervalue</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                            <span style="top:-2px;color:black;">Save Change</span>
                                        </button>
                                        <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                            <span style="top:-2px;color:black;">Close</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
}
        </div>
    </div>
</div>

<!--Add New  modal-->
<div class="modal fade tmw-joing-tokens" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background:@PageData["globalCol"];">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add New Sign Up Token (Distributor)</h4>
            </div>
            @using (Html.BeginForm("addJoiningToken", "Home", FormMethod.Post))
{
                <div class="modal-body">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label for="email_address_2">Select Dealer</label>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="" style="padding-bottom:11px;">
                                                    @Html.DropDownList("ddlDealer", ViewBag.ddlDealers as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 col-xs-12 enter-token">
                                            <label for="email_address_2">Enter Token</label>
                                            <input type="hidden" name="tokenCount" id="tokenCount" value="1" />
                                            <div class="form-group">
                                                <ul class="jo-to-po-ul">
                                                    <li>
                                                        <button type="button" id="btnChildMinus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus(-1)" disabled="disabled">
                                                            <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                        </button>
                                                    </li>
                                                    <li><span id="showPhysicalCount">1</span> @*Retailer Creation Token*@</li>
                                                    <li>
                                                        <button type="button" id="btnChildPlus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus(1)">
                                                            <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="modal-footer">
                                                <button type="submit" class="btn waves-effect">
                                                    <span>Save Change</span>
                                                </button>
                                                <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                    <span>Close</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
}

        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }


        var message = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (message != "") {
                swal("Good job!", message, "success");
        }
        if (error != "") {
            swal("Ooops!", error, "error");
        }
       $(".sweet-alert").css('background', '@PageData["globalCol"]');
    });

 
</script>


<script>
    function onPluseMinus(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount').val());
            if (v >= 0)
            {
                $('#tokenCount').val(digiCount + v);
                $('#showPhysicalCount').html(digiCount + v);
            } else
            {
                $('#tokenCount').val(digiCount - 1);
                $('#showPhysicalCount').html(digiCount - 1);
            }
            if (parseInt($('#tokenCount').val()) >= 1) {
                $('#btnChildMinus').prop('disabled', false);
            }
            if (parseInt($('#tokenCount').val()) == 0) {
                $('#btnChildMinus').prop('disabled', true);
            }  
    }
</script>


