@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.DealerCreationTokenVM>
@{
    ViewBag.Title = "JoingTokenMaster";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    /*.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 20px;
    }*/
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card special-iii">
                    <div class="col-md-7">
                        <div style="margin-left:-13px;">
                            @Html.Partial("Signupsettingmenu")
                        </div>
                    </div>

                    @using (Html.BeginForm("JoingTokenMaster", "Home", FormMethod.Post))
                    {
                        <div class="col-md-3">
                            <div class="form-group" style="margin-bottom:8px; margin-top:3px;">
                                <div class="" style="padding-bottom:11px;margin-left:-16px;margin-right:20px;width:100%;">
                                    @Html.DropDownList("masterId", ViewBag.ddlMaster as IEnumerable<SelectListItem>, "Select Master", new { @class = "selectpicker form-control", data_live_search = "true", @style = "padding-left:0px;" })
                                </div>
                            </div>
                        </div>
                            <div class="col-md-1">
                                <center>
                                    <button type="submit" class="btn btnssl" style="margin-top:3px; margin-left: -51px;border:1px solid #c7c2c2;background:#dedddd;"  data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-search" style="font-size:16px;"></i>
                                        <span>Search</span>
                                    </button>
                                </center>
                            </div>

                            <div class="col-md-1">
                                <center>
                                    <button type="button" class="btn" style="margin-top:3px; margin-left:-37px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                        <i class="fa fa-plus" style="font-size:14px;"></i>
                                        <span style="color:black;">Add&nbsp;Token's</span>
                                    </button>
                                </center>
                            </div>
                       
                    }
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-17px;">
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:7px;">
                            <table class="table table-bordered" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Master</th>
                                        <th>Purchase&nbsp;Tokens</th>
                                        <th>Token&nbsp;Pre</th>
                                        <th>Token&nbsp;Post</th>
                                        <th>Master&nbsp;Pre</th>
                                        <th>Master&nbsp;Post</th>
                                        <th>Admin&nbsp;Pre</th>
                                        <th>Admin&nbsp;Post</th>
                                        <th>Per&nbsp;Token&nbsp;Value</th>
                                        <th>Total&nbsp;Debit</th>
                                        <th>Purchase&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                            <td>@Html.DisplayFor(modelItem => item.pre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.post)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MasterPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MasterPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CteatedOn)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!--Add New  modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Sign Up Token (Master Distributor)</h4>
            </div>
            @using (Html.BeginForm("addJoiningTokenMaster", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Master</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #bfbebe;padding-bottom:11px;">
                                            @Html.DropDownList("ddlMaster", ViewBag.ddlMaster as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Token</label>
                                </div>
                                <input type="hidden" name="tokenCount" id="tokenCount" value="1" />
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group" style="border:1px solid #bfbebe;">
                                        <ul class="" style="min-width:250px;list-style-type:none;margin-bottom:7px;">
                                            <li>
                                                <ul style="display:-webkit-box;list-style:none;">
                                                    <li style="margin-top:11px;margin-left:-67px;margin-right:48px;"><span id="showPhysicalCount" style="padding-right:4px;padding-left:4px;">1</span> Distributor Creation Token</li>
                                                    <li style="margin-top:6px;">
                                                        <button type="button" id="btnChildMinus" class="btn  waves-effect btmPlusMinus" style="margin-right: 0px;margin-left: 58px; background:white; border:1px solid #cdcecf;box-shadow:none;" onclick="onPluseMinus(-1)" disabled="disabled">
                                                            <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                        </button>
                                                    </li>
                                                    <li style="margin-top:6px;">
                                                        <button type="button" id="btnChildPlus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus(1)" style="background:white; border:1px solid #cdcecf;box-shadow:none;margin-left:8px;">
                                                            <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(document).ready(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }


        var message = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (message != "") {
                swal("Good job!", message, "success");
        }
        if (error != "") {
            swal("Ooops!", error, "error");
        }
    });


</script>


<script>
    function onPluseMinus(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount').val());
            if (v >= 0)
            {
                $('#tokenCount').val(digiCount + v);
                $('#showPhysicalCount').html(digiCount + v);
            } else
            {
                $('#tokenCount').val(digiCount - 1);
                $('#showPhysicalCount').html(digiCount - 1);
            }
            if (parseInt($('#tokenCount').val()) >= 1) {
                $('#btnChildMinus').prop('disabled', false);
            }
            if (parseInt($('#tokenCount').val()) == 0) {
                $('#btnChildMinus').prop('disabled', true);
            }
    }
</script>

