@model IEnumerable<Vastwebmulti.Models.srs_lapu_report_n_Result>
@{
    ViewBag.Title = "LapuReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css */
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    /* new css */

     .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

      @@media only screen and (max-width:480px) {

        .bread-same-all-page {
            display: block;
        }
        .four-noneclass-admin-only {
            padding: 4px 0px;
            width: 100%;
            float: left;
        }

   .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > thead > tr > th:last-child{border-left: 1px solid var(--border-color);border-right: 1px solid var(--border-color);}

    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Hardware</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Lapu Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="four-noneclass-admin-only" style="margin:0px;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Set Hardware
                    </li>
                </ul>
                <div class="report-top" style="margin-bottom: 2px;">
                    @using (Html.BeginForm("LapuReport", "Home", FormMethod.Post))
                    {
                        <div class="input-group">
                            <div class="custom-district">
                                @Html.DropDownList("lapuno11", ViewBag.Lapuno as SelectList, "Select Port", new { id = "lapuno11", @class = "form-control white-back-bor-third", @style = "border:1px solid #bbb;" })
                            </div>
                            <span class="input-group-addon">
                                <button type="submit" class="btn btn-default waves-effect white-back-bor-third" style="margin-left:5px; border:1px solid #bbb; height:32px;background:#f5f5f5 !important; ">

                                    <span style="color:black;">
                                        <img src="~/AdminDesign/images/search.svg" style="width:14px;" />&nbsp;Search
                                    </span>
                                </button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="custom-hardware">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="hardware-left page-header-third">
                        @Html.Partial("_menuport")
                    </div>

                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="hardware-right page-header-third">
                        <div class="card">
                            <div class="body" style="padding:0px;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable example-second" style="width:100%;">
                                        <thead style="background-color:var(--second-bg-color);">
                                            <tr>
                                                <th>Port</th>
                                                @*<th style="padding-left:0px; text-align:center;">Sim No</th>*@
                                                <th>Operator</th>
                                                <th>Code</th>
                                                <th>PIN</th>
                                                <th>Method</th>
                                                <th>Lapu&nbsp;Bal</th>
                                                <th>Min&nbsp;Bal</th>
                                                <th>D-Max&nbsp;Rch</th>
                                                <th>purchase&nbsp;(%)</th>
                                                @*<th style="padding-left:0px; text-align:center;">ImeiNo</th>*@

                                                <th>Sts</th>
                                                <th>Edit</th>
                                                <th>DEL</th>

                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            @foreach (var item in Model)
                                            {
                                                <div id="chkchk" style=" float:right;">
                                                    <button type="button" onclick="animation1('@item.PortNo','@item.Simno')" value="Add New" href="#" data-toggle="modal" data-target="#defaultModal" class="btn bg-grey waves-effect" style="background:#f5f5f5 !important;border: 1px solid #bbb !important;">

                                                        <span style="color:black;"><img src="~/AdminDesign/images/plus.svg" style="width:11px;margin-right:4px;" />New Lapu</span>
                                                    </button>
                                                </div>

                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.PortNo)</td>
                                                    @*<td style="padding:3px;">@Html.DisplayFor(modelItem => item.Simno)</td>*@
                                                    <td>@Html.DisplayFor(modelItem => item.simName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.pin)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.method)</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SimBal)
                                                        <a href="@Url.Action("lapucheckbalance", new {port=item.PortNo,code = item.Code,pin = item.pin,pass=item.method })" style=" text-decoration:none;float:right;background:#fff;width: 22px;height: 22px;padding: 5px;border-radius: 50%;">

                                                            <img src="~/AdminDesign/images/refresh.svg" style="width:12px;margin:auto;display:block;" />
                                                        </a>
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => item.minbal)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.maxrch)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.purchase)</td>
                                                    @*<td style="padding:3px;">@Html.DisplayFor(modelItem => item.imeino)</td>*@

                                                    <td>
                                                        <div class="onoffswitch">
                                                            @if (item.ActiveSts == "False")
                                                            {

                                                                <a href="@Url.Action("lapusts",new {id = item.idno, sts = item.ActiveSts, port = item.PortNo })" style="text-decoration:none;">
                                                                    <span class="custom-off">off</span>
                                                                </a>

                                                            }
                                                            else
                                                            {

                                                                <a href="@Url.Action("lapusts",new {id = item.idno, sts = item.ActiveSts, port = item.PortNo })" style="text-decoration:none;">
                                                                    <span class="costom-on">on</span>
                                                                </a>


                                                            }
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" onclick="animation('@item.PortNo','@item.Simno','@item.idno','@item.simName','@item.Code','@item.pin','@item.method','@item.minbal','@item.maxrch','@item.purchase','@item.imeino')" href="#" data-toggle="modal" data-target="#defaultModal1" style="background-color:transparent;border-color:transparent;color:#03a9f4;">
                                                            <p style="padding:1px 11px 1px 11px;border:1px solid #bbb;color:#555;margin: 0px;height: 25px;background:#f0f0f0;">Edit</p>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="click-to-sure" style="background-color:#f0f0f0;border: 1px solid #bbb;height: 25px;padding: 0px 4px;width:30px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:14px;display: block;margin: auto;">
                                                        </button>
                                                        <button id="DeleteBtn" class="custom-loading waves-effect bt btnssl special-iii" onclick="del('@item.idno','@item.PortNo')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 30px;background: var(--main-bg-lcolor);border: 1px solid var(--main-bg-lcolor);padding: 2px 0px;display:none;">
                                                            <span style="color:#fff;font-size: 11px;font-weight: bold;">Sure?</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Edit Lapu Report Model-->
<div class="modal fade lapu-model" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Lapu Report</h4>
                <button type="button" class="btn bg-grey waves-effect" style="border:0px;background:transparent !important;float:right;" data-dismiss="modal">
                    <img src="~/ashok-images/close.svg" style="width:14px;" />
                </button>
            </div>
         @using (Html.BeginForm("Editlapu", "Home", FormMethod.Post))
         {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Sim No</label>
                                </div>
                                @Html.TextBox("txtidno", "", new { style = "display:none;" })
                                @Html.TextBox("txtport", "", new { style = "display:none;" })
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                              @Html.TextBox("txtsimno", "", new { @class = "form-control", @readonly = "Readonly" })
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownList("txtOperator", ViewBag.lapu1 as SelectList, "Select OPT Name", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pin</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtpinno", "", new { @class = "form-control", placeholder = "Enter Pin No.", required = "", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Method</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtmethod", "", new { @class = "form-control", placeholder = "Enter Method.", required = "" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Min Bal</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtminbal", "", new { @class = "form-control", placeholder = "Enter Min Bal.", required = "", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Daily MaxRch</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtdailymax", "", new { @class = "form-control", placeholder = "Enter Daily Max.", required = "" , onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Purchase (%)</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtpurcharge", "", new { @class = "form-control", placeholder = "Enter purcharge.", required = "", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px;  height:32px;">
                                    <span style="color:#fff;">Save Change</span>
                                </button>
                              
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Add Lapu Report-->
<div class="modal fade lapu-model" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">
Add New Lapu (Sim)</h4>
                <button type="button" class="btn bg-grey waves-effect" style="border:0px;background:transparent !important;float:right;" data-dismiss="modal">
                    <img src="~/ashok-images/close.svg" style="width:14px;" />
                </button>
            </div>
     @using (Html.BeginForm("Addlapu", "Home", FormMethod.Post))
     {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Port No</label>
                                </div>
                                <input type="hidden" id="edit-id" value="" class="hidden">
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtportnonew", "", new { @class = "form-control", @readonly = "Readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Sim No</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtSimnonew", "", new { @class = "form-control", @readonly = "Readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group custom-district">
                                        <div class="form-line ">
                                            @Html.DropDownList("txtOperator1", ViewBag.lapu11 as SelectList, "Select Operator Name", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Recharge Pin</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtpinno1", "", new { @class = "form-control", placeholder = "Enter Pin No.", required = "" , onkeypress = "return isNumber(event)" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Recharge&nbsp;Method</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtmethod1", "", new { @class = "form-control", placeholder = "Enter Recharge Method", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Minimum&nbsp;Bal</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtminbal1", "", new { @class = "form-control", placeholder = "Enter Min Bal.", required = "", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Day&nbsp;Max&nbsp;Recharge</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtdailymax1", "0", new { @class = "form-control", required = "", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Purchase&nbsp;Rate&nbsp;(%)</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("purcharge1", "0", new { @class = "form-control", required = "" , onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                
                                <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px;  height:32px; ">
                                    <span style="color:#fff;">Save Details</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!--Edit Lapu Report-->
<script type="text/javascript">
    var val1 = "";
    function animation(port, simno, idno, Operator, Code, pinno, method, minbal, maxdaily, txtpurcharge,imeino) {
        $("#txtsimno").val(simno);
        $("#txtidno").val(idno);
        $("#txtOperator").val(Operator);
        $("#txtCode").val(Code);
        $("#txtpinno").val(pinno);
        $("#txtmethod").val(method);
        $("#txtminbal").val(minbal);
        $("#txtport").val(port);
        $("#txtport").val(port);
        $("#txtdailymax").val(maxdaily);
        $("#txtpurcharge").val(txtpurcharge);
        $("#txtimeino").val(imeino);
    }
    $(document).ready(function () {
        var hh = $("#lapuno11").val();
        if (hh != "") {
            jQuery('#chkchk').css("display", "block")
        }
    });
    function animation1(port, simno) {
        $("#txtportnonew").val(port);
        $("#txtSimnonew").val(simno);
    }
    function del(id, portno) {

       
       
            var url = '@Url.Action("deleteport", "Home")';

            $.ajax({
                url: url,
                data: { id: id, Port:portno },
                cache: false,
                async: false,
                type: "GET",
                success: function (data) {
                     var url = '@Url.Action("LapuReport", "Home")?portno=' + data + '';
                    window.location.href = url
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
          
       
       
    }
</script>


<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>
<script>
     $('.click-to-sure').click(function () {
        $(this).hide();
        $(this).next('button').show();
    });
</script>



<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>