@model IEnumerable<Vastwebmulti.Models.loanrequest>
@using Vastwebmulti.Models
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */
    
    .res_div svg {
        width: 23px;
        color: #000;
        margin-left: 8px;
        cursor: pointer;
    }

    .all_page_alert {
        position: absolute;
        top: 109px;
        z-index: 99;
        right: 15px;
        display: none;
        padding: 10px;
    }

    .alert-success {
        background-color: #2b982b;
    }

    .res_div svg:hover + .all_page_alert {
        display: block;
    }

    .bread-same-all-page {
        width: auto;
    }

    .headline_set {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .res_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .p_one {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        color: #fff;
        background: #0000006e;
        width: 100%;
        height: 100%;
    }
    .p_two {
        background: #fff;
        width: 400px;
        height: auto;
        border: 7px solid #ccc;
        color: #000;
        text-align: center;
        position: absolute;
        left: 40%;
        top: 40%;
        padding: 10px;
    }
        .p_two button {
            padding: 3px 19px;
            background: #2ba92bde;
            margin: 19px 0px;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 18px;
            color: #fff;
        }

    .p_menu {
        float: left;
        width: 100%;
    }

        /* new css  */
        .second-design .datepicker-dropdown.datepicker {
            margin-top: 0px !important;
        }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .gift-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .gift-select {
        position: relative;
        padding: 0;
        width: auto;
    }

        .gift-select::before {
            content: '';
            border-bottom: 1px solid #555;
            border-left: 1px solid #555;
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            right: 10px;
            transform: rotate(-45deg);
            top: 11px;
        }

    .giftadmin-tableste tbody tr td, .giftadmin-tableste thead tr th {
        white-space: nowrap;
    }

        .giftadmin-tableste tbody tr td .row {
            margin: 0px;
        }

        .giftadmin-tableste tbody tr td:nth-child(17) {
            white-space: normal;
        }

    .status-gift-admin img {
        height: 18px !important;
        padding: 3px !important;
        width: 18px;
        border-radius: 50%;
    }

    .status-gift-admin p {
        font-size: 0px !important;
    }

    .second-design .giftth-seconclass, .giftth-seconclass {
        width: 80px !important;
    }

    .borderclassgift select, .borderclassgift input, .borderclassgift button, .borderclassgift .select2-selection.select2-selection--single {
        border-color: #ddd !important;
    }


    .report-status {
        width: 80%;
        float: left;
    }

        .report-status label {
            float: left;
        }

        .report-status input {
            float: left;
            font-size: 16px;
            background-color: transparent !important;
            font-weight: 800;
            height: 17px !important;
        }

        .report-status .form-group {
            width: 46%;
            float: left;
            margin: auto 2%;
        }

    .mastetr222Modal .modal-body .form-group input {
        min-height: 32px;
        width: 100%;
    }

    .newfourdesign-admin .gift-select::before {
        display: none;
    }

    .newfourdesign-admin .btn:not(.btn-link):not(.btn-circle), .newfourdesign-admin .form-group .form-control {
        border: 1px solid #ddd !important;
        background: transparent !important;
    }

    .newfourdesign-admin .margi-topo-third .col-lg-12.col-md-12.col-sm-12.col-xs-12.for-margin-top {
        margin-top: 0px !important;
    }

    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

    .ner {
        width: 25px !important;
        border: 1px solid #ddd !important;
    }

    .custom-date-icon i {
        left: 5px;
    }

    .admin-giftcard-table table tbody tr:first-child td, .admin-giftcard-table table tbody tr:first-child {
        border-top: 0px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


    @@media screen and (max-width:766px) {
        .mastetr222Modal .modal-dialog {
            width: 95% !important;
        }
    }


    @@media only screen and (max-width:992px) {
        .gift-select, .ytr-okpli {
            width: 50%;
            float: left;
            margin-bottom: 10px;
        }

        .col-md-4.respo-upup {
            margin: 10px 0 !important;
        }

        .ytr-okpli button {
            width: 100%;
            text-align: left;
        }

        .card {
            margin: 0px;
        }


        .col-md-4.respo-upup {
            width: 100%;
            float: left;
            padding: 0 !important;
        }

        .form-line {
            width: 100% !important;
        }

        .white-success {
            float: left !important;
            width: auto !important;
            position: static !important;
            margin-left: 5px !important;
        }

        .for-margin-top {
            margin-top: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .gift-card-top .col-md-1 {
            width: 100%;
            float: left;
            padding-left: 0px !important;
            margin: 0;
        }

        .gift-card-top .col-md-2 {
            width: 50%;
            float: left;
            margin-bottom: 3px;
        }

        .gift-card-top .col-md-4 {
            padding-left: 0px !important;
            margin-bottom: 4px;
            float: left;
        }

        .for-margin-top {
            margin-top: 10px !important;
        }

        .gift-card-top .col-md-1 center button {
            margin-top: 0px !important;
            float: left;
            width: 100%;
        }

        #total {
            text-align: right;
            margin-right: 15px;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .body.table-responsive {
            padding: 1px !important;
        }

        .col-md-2.tre4.pdf-lastclass-third {
            float: right;
            padding: 0px;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Giftcard Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Giftcard Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        <div class="page-header-third pageheader-margin-third retailerlist-header-resp headline_set">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Loan History
                    </li>
                </ul>
            </div>
            <div class="res_div">

                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
                <div class="alert alert-success all_page_alert" role="alert">
                    Loan History
                </div>
            </div>
        </div>




        <div class="row clearfix" style="margin:0;">

            <div class="page-header-third">
                <table class="table table-bordered table-striped table-hover table-background-second third-design-table">
                    <tr>

                        <th>Status </th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Days</th>
                        <th>Last Date</th>
                        <th>Request Time</th>
                        <th>response Time</th>
                        <th>Loan ID</th>
                        <th>#</th>
                    </tr>
                    @{
                        var h = 0;
                    }
                    @foreach (var i in Model)
                    {
                        var frm = db.Retailer_Details.Where(s => s.RetailerId == i.userid).SingleOrDefault().Frm_Name;
                        <tr>
                            <td>@i.status</td>
                            <td>@frm</td>
                            <td>@i.amount</td>
                            <td>@i.months</td>
                            <td>@Convert.ToDateTime(i.minserverloandate).ToString("dd-MM-yyyy")</td>
                            <td>@i.requesttime</td>
                            <td>@i.responsetime</td>
                            <td>@i.loanid</td>
                            <td>
                                @if (i.status == "Pending")
                                {
                                    <button style="color:white;background:red" class="fails" onclick="onoffs('Failed',@h,'@frm',@i.amount,@i.loanid,@i.idno)">Failed</button>
                                    @*<a href="@Url.Action("LoanreqUpdate","Home",new {sts = "Failed",idno = i.idno,Loanid = i.loanid})"><button style="color:white;background:red;display:none" class="fails1">Sure?</button></a>*@
                                    <button style="color:white;background:green" class="succ" onclick="onoffs('Success',@h,'@frm',@i.amount,@i.loanid,@i.idno)">Success</button>

                                }
                            </td>
                        </tr>
                        h++;
                    }
                </table>
            </div>

        </div>



        <div class="p_one" id="popoos" style="display:none">

            <div class="p_two">
                <div class="p_menu" id="useridss">

                </div>
                <div class="p_menu" id="amountss">

                </div>
                <div class="p_menu" id="Loansidss">

                </div>
                <div class="p_menu" id="buttomss">

                </div>

            </div>

        </div>



    </div>


</section>
<script>
  function onoffs(a, h, F, D, L, I) {
  
    document.getElementById('useridss').innerHTML = F;

   
    document.getElementById('amountss').innerHTML = D;

    
    document.getElementById('Loansidss').innerHTML = L;

   
    let loanLink = `<a href='LoanreqUpdate/Home?sts=${a}&idno=${I}&Loanid=${L}'>
                        <button style="background:blue;color:white">${a}</button>
                    </a><button onclick="document.getElementById('popoos').style.display = 'none'">Cencle</button>`;


      document.getElementById('buttomss').innerHTML = loanLink;
      document.getElementById('popoos').style.display = "Block"
}

</script>



