
@{
    ViewBag.Title = "Login_Content";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">

            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*=--- login wala partial  =*@
        <div class="col-md-10">
            


            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card" style="margin-top:-10px;">
                        <div class="body">
                            <div class="row">
                                <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>Login Background Image</th>
                                                <th>
                                                    @using (Html.BeginForm("BackLogin_Content", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                                    {
                                                        <div class="col-md-10" style="margin-top:-12px;">
                                                            <div class="input-group" style="margin-top:3px;margin-bottom:-33px;">
                                                                <div class="" style="border:1px solid #dddddd; height:38px;">
                                                                    <input type="file" id="file" name="file" class="form-control" style="padding-left:6px;" />
                                                                </div>
                                                                <span class="input-group-addon">
                                                                    <button type="submit" class="btn  waves-effect" style="margin-top:-6px; height:38px;border:1px solid #c7c2c2;background:#dedddd; ">
                                                                        <span style="top:-2px;">Submit</span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    }
                                                </th>
                                                <th><center>View Upload Image</center></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @if (ViewBag.showimg != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="@Url.Content("~/"+ ViewBag.showimg)" width="100" height="70" />
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        <center style="margin-top:9px;">
                                                            <a href="@Url.Content("~/"+ ViewBag.showimg)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">View</button></a>
                                                        </center>

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td><p style="font-size:22px;margin-top:-5px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-33px; margin-bottom:30px;">
                    <div class="card">
                        <div class="">
                            <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                Login Page BackGround Image
                            </h2>
                        </div>

                        <div class="body">
                            <div class="demo-radio-button" style="width:103%;">
                                <input name="group" type="radio" id="img1" value="img1.png" class="radio-col-red" checked="" onclick="val()">
                                <label for="img1"><img src="~/FooterImages/img1.png" id="img1" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img2" value="img2.png" class="radio-col-pink" onclick="val()">
                                <label for="img2"><img src="~/FooterImages/img2.png" id="img2" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img3" value="img3.png" class="radio-col-red" onclick="val()">
                                <label for="img3"><img src="~/FooterImages/img3.png" id="img3" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img4" value="img4.png" class="radio-col-pink" onclick="val()">
                                <label for="img4"><img src="~/FooterImages/img4.png" id="img4" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img5" value="img5.png" class="radio-col-red" onclick="val()">
                                <label for="img5"><img src="~/FooterImages/img5.png" id="img5" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img6" value="img6.png" class="radio-col-pink" onclick="val()">
                                <label for="img6"><img src="~/FooterImages/img6.png" id="img6" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img7" value="img7.png" class="radio-col-red" onclick="val()">
                                <label for="img7"><img src="~/FooterImages/img7.png" id="img7" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img8" value="img8.png" class="radio-col-pink" onclick="val()">
                                <label for="img8"><img src="~/FooterImages/img8.png" id="img8" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img9" value="img9.png" class="radio-col-red" onclick="val()">
                                <label for="img9"><img src="~/FooterImages/img9.png" id="img9" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img10" value="img10.png" class="radio-col-pink" onclick="val()">
                                <label for="img10"><img src="~/FooterImages/img10.png" id="img10" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img11" value="img11.png" class="radio-col-pink" onclick="val()">
                                <label for="img11"><img src="~/FooterImages/img11.png" id="img11" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img12" value="img12.png" class="radio-col-pink" onclick="val()">
                                <label for="img12"><img src="~/FooterImages/img12.png" id="img12" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img13" value="img13.png" class="radio-col-pink" onclick="val()">
                                <label for="img13"><img src="~/FooterImages/img13.png" id="img13" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img14" value="img14.png" class="radio-col-pink" onclick="val()">
                                <label for="img14"><img src="~/FooterImages/img14.png" id="img14" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img15" value="img15.png" class="radio-col-pink" onclick="val()">
                                <label for="img15"><img src="~/FooterImages/img15.png" id="img15" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img16" value="img16.png" class="radio-col-pink" onclick="val()">
                                <label for="img16"><img src="~/FooterImages/img16.png" id="img16" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img17" value="img17.png" class="radio-col-pink" onclick="val()">
                                <label for="img17"><img src="~/FooterImages/img17.png" id="img17" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img18" value="img18.png" class="radio-col-pink" onclick="val()">
                                <label for="img18"><img src="~/FooterImages/img18.png" id="img18" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img19" value="img19.png" class="radio-col-pink" onclick="val()">
                                <label for="img19"><img src="~/FooterImages/img19.png" id="img19" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img20" value="img20.png" class="radio-col-pink" onclick="val()">
                                <label for="img20"><img src="~/FooterImages/img20.png" id="img20" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img21" value="img21.png" class="radio-col-pink" onclick="val()">
                                <label for="img21"><img src="~/FooterImages/img21.png" id="img21" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img22" value="img22.png" class="radio-col-pink" onclick="val()">
                                <label for="img22"><img src="~/FooterImages/img22.png" id="img22" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img23" value="img23.png" class="radio-col-pink" onclick="val()">
                                <label for="img23"><img src="~/FooterImages/img23.png" id="img23" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img24" value="img24.png" class="radio-col-pink" onclick="val()">
                                <label for="img24"><img src="~/FooterImages/img24.png" id="img24" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img25" value="img25.png" class="radio-col-pink" onclick="val()">
                                <label for="img25"><img src="~/FooterImages/img25.png" id="img25" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img26" value="img26.png" class="radio-col-pink" onclick="val()">
                                <label for="img26"><img src="~/FooterImages/img26.png" id="img26" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img27" value="img27.png" class="radio-col-pink" onclick="val()">
                                <label for="img27"><img src="~/FooterImages/img27.png" id="img27" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img28" value="img28.png" class="radio-col-pink" onclick="val()">
                                <label for="img28"><img src="~/FooterImages/img28.png" id="img28" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img29" value="img29.png" class="radio-col-pink" onclick="val()">
                                <label for="img29"><img src="~/FooterImages/img29.png" id="img29" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img30" value="img30.png" class="radio-col-pink" onclick="val()">
                                <label for="img30"><img src="~/FooterImages/img30.png" id="img30" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img31" value="img31.png" class="radio-col-pink" onclick="val()">
                                <label for="img31"><img src="~/FooterImages/img31.png" id="img31" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img32" value="img32.png" class="radio-col-pink" onclick="val()">
                                <label for="img32"><img src="~/FooterImages/img32.png" id="img32" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img33" value="img33.png" class="radio-col-pink" onclick="val()">
                                <label for="img33"><img src="~/FooterImages/img33.png" id="img33" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img34" value="img34.png" class="radio-col-pink" onclick="val()">
                                <label for="img34"><img src="~/FooterImages/img34.png" id="img34" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img35" value="img35.png" class="radio-col-pink" onclick="val()">
                                <label for="img35"><img src="~/FooterImages/img35.png" id="img35" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img36" value="img36.png" class="radio-col-pink" onclick="val()">
                                <label for="img36"><img src="~/FooterImages/img36.png" id="img36" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img37" value="img37.png" class="radio-col-pink" onclick="val()">
                                <label for="img37"><img src="~/FooterImages/img37.png" id="img37" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img38" value="img38.png" class="radio-col-pink" onclick="val()">
                                <label for="img38"><img src="~/FooterImages/img38.png" id="img38" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img39" value="img39.png" class="radio-col-pink" onclick="val()">
                                <label for="img39"><img src="~/FooterImages/img39.png" id="img39" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img40" value="img40.png" class="radio-col-pink" onclick="val()">
                                <label for="img40"><img src="~/FooterImages/img40.png" id="img40" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img41" value="img41.png" class="radio-col-pink" onclick="val()">
                                <label for="img41"><img src="~/FooterImages/img41.png" id="img41" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img42" value="img42.png" class="radio-col-pink" onclick="val()">
                                <label for="img42"><img src="~/FooterImages/img42.png" id="img42" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img43" value="img43.png" class="radio-col-pink" onclick="val()">
                                <label for="img43"><img src="~/FooterImages/img43.png" id="img43" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img44" value="img44.png" class="radio-col-pink" onclick="val()">
                                <label for="img44"><img src="~/FooterImages/img44.png" id="img44" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img45" value="img45.png" class="radio-col-pink" onclick="val()">
                                <label for="img45"><img src="~/FooterImages/img45.png" id="img45" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img46" value="img46.png" class="radio-col-pink" onclick="val()">
                                <label for="img46"><img src="~/FooterImages/img46.png" id="img46" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img47" value="img47.png" class="radio-col-pink" onclick="val()">
                                <label for="img47"><img src="~/FooterImages/img47.png" id="img47" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img48" value="img48.png" class="radio-col-pink" onclick="val()">
                                <label for="img48"><img src="~/FooterImages/img48.png" id="img48" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img49" value="img49.png" class="radio-col-pink" onclick="val()">
                                <label for="img49"><img src="~/FooterImages/img49.png" id="img49" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img50" value="img50.png" class="radio-col-pink" onclick="val()">
                                <label for="img50"><img src="~/FooterImages/img50.png" id="img50" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img51" value="img51.png" class="radio-col-pink" onclick="val()">
                                <label for="img51"><img src="~/FooterImages/img51.png" id="img51" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img52" value="img52.png" class="radio-col-pink" onclick="val()">
                                <label for="img52"><img src="~/FooterImages/img52.png" id="img52" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img53" value="img53.png" class="radio-col-pink" onclick="val()">
                                <label for="img53"><img src="~/FooterImages/img53.png" id="img53" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img54" value="img54.png" class="radio-col-pink" onclick="val()">
                                <label for="img54"><img src="~/FooterImages/img54.png" id="img54" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img55" value="img55.png" class="radio-col-pink" onclick="val()">
                                <label for="img55"><img src="~/FooterImages/img55.png" id="img55" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img56" value="img56.png" class="radio-col-pink" onclick="val()">
                                <label for="img56"><img src="~/FooterImages/img56.png" id="img56" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img57" value="img57.png" class="radio-col-pink" onclick="val()">
                                <label for="img57"><img src="~/FooterImages/img57.png" id="img57" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img58" value="img58.png" class="radio-col-pink" onclick="val()">
                                <label for="img58"><img src="~/FooterImages/img58.png" id="img58" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img59" value="img59.png" class="radio-col-pink" onclick="val()">
                                <label for="img59"><img src="~/FooterImages/img59.png" id="img59" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img60" value="img60.png" class="radio-col-pink" onclick="val()">
                                <label for="img60"><img src="~/FooterImages/img60.png" id="img60" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img61" value="img61.png" class="radio-col-pink" onclick="val()">
                                <label for="img61"><img src="~/FooterImages/img61.png" id="img61" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img62" value="img62.png" class="radio-col-pink" onclick="val()">
                                <label for="img62"><img src="~/FooterImages/img62.png" id="img62" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img63" value="img63.png" class="radio-col-pink" onclick="val()">
                                <label for="img63"><img src="~/FooterImages/img63.png" id="img63" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img64" value="img64.png" class="radio-col-pink" onclick="val()">
                                <label for="img64"><img src="~/FooterImages/img64.png" id="img64" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img65" value="img65.png" class="radio-col-pink" onclick="val()">
                                <label for="img65"><img src="~/FooterImages/img65.png" id="img65" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img66" value="img66.png" class="radio-col-pink" onclick="val()">
                                <label for="img66"><img src="~/FooterImages/img66.png" id="img66" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img67" value="img67.png" class="radio-col-pink" onclick="val()">
                                <label for="img67"><img src="~/FooterImages/img67.png" id="img67" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img68" value="img68.png" class="radio-col-pink" onclick="val()">
                                <label for="img68"><img src="~/FooterImages/img68.png" id="img68" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img69" value="img69.png" class="radio-col-pink" onclick="val()">
                                <label for="img69"><img src="~/FooterImages/img69.png" id="img69" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img70" value="img70.png" class="radio-col-pink" onclick="val()">
                                <label for="img70"><img src="~/FooterImages/img70.png" id="img70" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img71" value="img71.png" class="radio-col-pink" onclick="val()">
                                <label for="img71"><img src="~/FooterImages/img71.png" id="img71" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img72" value="img72.png" class="radio-col-pink" onclick="val()">
                                <label for="img72"><img src="~/FooterImages/img72.png" id="img72" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img73" value="img73.png" class="radio-col-pink" onclick="val()">
                                <label for="img73"><img src="~/FooterImages/img73.png" id="img73" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img74" value="img74.png" class="radio-col-pink" onclick="val()">
                                <label for="img74"><img src="~/FooterImages/img74.png" id="img74" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img75" value="img75.png" class="radio-col-pink" onclick="val()">
                                <label for="img75"><img src="~/FooterImages/img75.png" id="img75" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img76" value="img76.png" class="radio-col-pink" onclick="val()">
                                <label for="img76"><img src="~/FooterImages/img76.png" id="img76" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img77" value="img77.png" class="radio-col-pink" onclick="val()">
                                <label for="img77"><img src="~/FooterImages/img77.png" id="img77" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img78" value="img78.png" class="radio-col-pink" onclick="val()">
                                <label for="img78"><img src="~/FooterImages/img78.png" id="img78" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img79" value="img79.png" class="radio-col-pink" onclick="val()">
                                <label for="img79"><img src="~/FooterImages/img79.png" id="img79" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img80" value="img80.png" class="radio-col-pink" onclick="val()">
                                <label for="img80"><img src="~/FooterImages/img80.png" id="img80" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img81" value="img81.png" class="radio-col-pink" onclick="val()">
                                <label for="img81"><img src="~/FooterImages/img81.png" id="img81" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img82" value="img82.png" class="radio-col-pink" onclick="val()">
                                <label for="img82"><img src="~/FooterImages/img82.png" id="img82" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img83" value="img83.png" class="radio-col-pink" onclick="val()">
                                <label for="img83"><img src="~/FooterImages/img83.png" id="img83" style="height:30px; width:50px;" class="img-responsive" /></label>

                                <input name="group" type="radio" id="img84" value="img84.png" class="radio-col-pink" onclick="val()">
                                <label for="img84"><img src="~/FooterImages/img84.png" id="img84" style="height:30px; width:50px;" class="img-responsive" /></label>

                            </div>
                        </div><!--.body-->

                    </div>
                </div>
            </div>
        </div>
            @*=--- login wala partial end  =*@

        </div>
        </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/css/sp.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
    $(document).ready(function () {
        var succ = '@TempData["success"]';
        var seletedimg = '@ViewBag.img';
        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("File Uploaded!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }

        if (seletedimg != "" && seletedimg != null) {
            $('input:radio[name="group"][value=' + seletedimg + ']').prop('checked', true);
        }
    });
</script>


<script>
            function val() {
                var vv = document.querySelector('input[name="group"]:checked').value;
                var url = '@Url.Action("LoginImage", "Home")?image=' + vv + '';
                location.href = url;
            }
</script>

