@model IEnumerable<Vastwebmulti.Models.masterinfo_purchase_info_Result>
@{
    ViewBag.Title = "MasterPurchasegst";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .col-md-8.customlisttupe .retailer-profile-secondclass {
        padding-bottom: 40px;
    }

    .retailer-profile-secondclass p.uptotransction {
        float: left;
        background: #f9f9cb;
        color: #555;
        padding: 0 1px;
        margin-left: 8px;
        margin-top: 3px;
        margin-bottom: 0;
        width: 33%;
    }

    .retailer-profile-secondclass strong {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }

        .retailer-profile-secondclass strong span {
            font-size: 12px;
        }

    .col-md-8.customlisttupe {
        margin-top: 20px;
    }

        .col-md-8.customlisttupe .retailer-profile-secondclass {
            margin-bottom: 0;
        }

        .col-md-8.customlisttupe button.btn.bg-blue-grey.waves-effect.valuechangebuttonadmin.valuechang-second {
            border: none;
        }

    p.uptotransction.activeupto::after {
        content: "";
        float: left;
        width: 10px;
        height: 10px;
        background: url(../../ashok-images/correct.svg)no-repeat;
        background-color: green;
        background-size: 83%;
        background-position: center;
        position: relative;
        left: 1px;
        top: 3.4px;
    }
    .unload-item {
        margin: 0px 2px;
        width: 20%;
    }

   
</style>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .cas-hdeposi-tcharge-page .bank-name ul {
        margin-top: 8px;
    }

    .cash-charg-tab .nav-pills > li.active > a {
        background: transparent;
        color: inherit;
    }

    .cash-charg-tab .nav-pills > li > a {
        background: transparent;
        color: inherit;
        padding: 0px;
    }

        .cash-charg-tab .nav-pills > li > a::before {
            content: '';
            border: 2px solid #bbb;
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }

    .cash-charg-tab .nav-pills > li.active > a::before {
        background: var(--main-bg-lcolor);
        border-color: var(--main-bg-lcolor);
    }

    .cash-charg-tab .nav-pills > li {
        padding: 5px 9px;
        margin: 0px auto;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
    }
    /*.cash-charg-tab-first .btn.btn-default{background-color:transparent !important;}*/
    .select2-container .select2-selection--single {
        height: 32px !important;
        border-color: #ccc !important;
    }

    .cash-charg-tab-first #btnsubmit1, .cash-charg-tab-first #btnsubmit, .cash-charg-tab-first #btnsubmit2, .cash-charg-tab-first #btnsubmit3,
    .cash-charg-tab-first #btnsubmit4 {
        position: absolute;
        right: 29px;
        top: 83px;
    }

    #remcash table tbody tr th, #Distributor table tbody tr th, #Master table tbody tr th, #API table tbody tr th, #WhiteLabel table tbody tr th {
        padding: 5px 10px;
    }

    .onoffswitch {
        width: 32px;
        height: 32px;
        margin-left: 5px;
        float: right;
    }

    .costom-on::after {
        width: 20px;
        height: 20px;
        top: 5px;
    }

    .custom-off::before {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
    }

    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .adminpay-admin {
        float: right;
        width: 16%;
        margin-left: 5px;
    }

    .position-third-designadmincus {
        float: right;
    }

    .adminpay-admin button {
        padding: 0 !important;
    }

    .retailer-profile-secondclass strong span {
        font-size: 9px;
    }

    .retailer-profile-secondclass p.uptotransction {
        line-height: normal;
        margin-top: 0;
    }

    .three-page-same .unload-item.item-three {
        width: 50% !important;
    }

    .three-page-same .unload-item .leftt {
        width: 74%;
    }

    .cas-hdeposi-tcharge-page .ca-dipo-right {
        height: auto;
        background: var(--second-bg-color);
        overflow: hidden;
    }

    .table-responsive.table-responsive-payugateway {
        height: 600px;
        overflow: auto;
    }

    .payugatwaynewclass {
        margin-top: 8px;
    }

    .newfourdesign-admin .payugatwaynewclass {
        margin-top: 0;
    }

    .newfourdesign-admin .three-page-same .table-responsive-payugateway table tr td button {
        background: var(--fullbodybg-four) !important;
    }

    .three-page-same .unload-item {
        margin-right: 4px;
    }

    .payment-responsi {
        position: relative;
    }

    @@media screen and (max-width:1366px) {

        .three-page-same .rightt {
            width: 26% !important;
        }

        .three-page-same .unload-item.item-three {
            width: 60% !important;
        }

        .three-page-same .unload-item.item-three {
            width: 56% !important;
        }

        .payment-responsi ul.ulautopadd-third {
            width: 100% !important;
        }

        .charge-fullclass-re .payugatwaynewclass {
            margin-top: 0;
        }

            .charge-fullclass-re .payugatwaynewclass:nth-child(2) {
                margin-right: 2px;
            }

        .charge-fullclass-re {
            width: auto;
            float: left;
            position: absolute;
            right: 0;
            top: -5px;
        }

        .payment-responsi ul.ulautopadd-third {
            width: 100% !important;
            padding-bottom: 13px;
        }

        .payment-responsi .adminpay-admin {
            width: auto;
        }

        .payment-responsi .three-page-same.upi-charge.all-type-third.upiclass-respfull-third {
            width: 72% !important;
        }

        .payment-responsi .three-page-same.upi-charge .un-re-wa-right {
            padding-left: 0 !important;
        }

            .payment-responsi .three-page-same.upi-charge .un-re-wa-right .unload-item.special-iii.item-three {
                width: 55% !important;
            }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {
        .un-re-wa-right11 {
            width: 100% !important;
        }
        .un-re-wa-right {
            width: 100% !important;
        }
        .payugateway-admin-respo .bread-same-all-page ul {
            width: 100%;
            float: left;
            margin-bottom: 10px !important;
            margin-top: 5px !important;
        }

        .payugateway-admin-respo .unload-item {
            width: 50% !important;
            padding-right: 0px;
            margin: 2px 0;
        }

            .payugateway-admin-respo .unload-item.special-iii.item-three {
                width: 50% !important;
                margin: 2px 0;
            }

        .payugateway-admin-respo .leftt {
            width: 100% !important;
            float: left;
        }

        .payugateway-admin-respo .rightt {
            width: auto !important;
            float: left;
        }

        .payugateway-admin-respo .adminpay-admin {
            width: auto;
            float: right;
        }

        .payugateway-admin-respo .when-tr-left.position-third {
            width: auto;
            float: right;
            margin-top: 0;
        }

        .col-md-1.re-treyop.pdf-lastclass-third.pdf-lastclass-third-responsive {
            margin-bottom: 5px;
        }

        .charge-fullclass-re {
            position: static;
        }

        .payment-responsi .three-page-same.upi-charge.all-type-third.upiclass-respfull-third {
            width: 100% !important;
        }

        .payment-responsi .unload-item {
            width: 100% !important;
        }

        .payment-responsi .three-page-same.upi-charge .un-re-wa-right .unload-item.special-iii.item-three {
            width: 100% !important;
        }

        .payment-responsi .re-treyop {
            display: none;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:991px) {
        .dust-gr-terw ul {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .three-page-same.upi-charge {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .un-re-wa-right {
            padding-left: 0px !important;
        }

        .when-tr-left {
            width: auto;
            float: left;
            margin-top: 10px;
        }
    }

    @@media only screen and (max-width:480px) {

        .payugateway-admin-respo .unload-item {
            width: 100% !important;
        }
            .payugateway-admin-respo .unload-item.special-iii.item-three {
                width: 100% !important;
            }
        #WAdminSearchList {
            overflow: scroll;
        }

        .onoffswitch {
            position: absolute;
            top: 213px;
            left: 29%;
        }

        .bread-same-all-page ul, .three-page-same.upi-charge {
            width: 100% !important;
        }

        .un-re-wa-right {
            padding-left: 0px !important;
        }

        .three-page-same.upi-charge .unload-item.item-two {
            width: 49% !important;
            padding: 0px;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item.item-one {
            width: 49% !important;
        }

        .three-page-same.upi-charge .unload-item.item-two.item-two-width {
            width: 100% !important;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item .rightt {
            width: 26% !important;
        }

            .three-page-same.upi-charge .unload-item .rightt button {
                width: 100% !important;
                margin-left: 0px !important;
            }

        .for-button-upi {
            position: absolute;
            right: 15px;
            top: 212px;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4.padd-r-5 {
            padding-right: 15px !important;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4.padd-l-5 {
            padding-left: 15px !important;
        }

        .Wallet-To-Bank-Charge-modal .col-md-4 .form-group {
            margin-bottom: 10px;
        }

        .Wallet-To-Bank-Charge-modal .modal-dialog {
            width: 96%;
            margin-right: 5px !important;
        }

        .payugateway-admin-respo .when-tr-left button.for-button-upi {
            position: static;
        }

        .payugateway-admin-respo .onoffswitch {
            position: relative;
            left: 0;
            top: 0;
        }

        .payugateway-admin-respo .three-page-same.upi-charge .unload-item .rightt {
            width: auto !important;
        }

        .payment-responsi .unload-item {
            width: 100% !important;
        }

        .three-page-same.upi-charge .unload-item.item-two {
            width: 100% !important;
            padding: 0px;
            margin-right: 0;
        }

        .charge-fullclass-re .when-tr-left button {
            width: 100% !important;
            margin-top: 5px;
        }

        .charge-fullclass-re {
            width: 100%;
            float: left;
            margin-top: 5px;
        }

            .charge-fullclass-re .when-tr-left {
                width: 100% !important;
            }
    }
    .un-re-wa-right11 {
        padding-left: 10px;
        width: 40%;
        float: left;
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .ca-dipo-right.height-auto-second.height-auto-third {
        height: auto;
        background: var(--second-bg-color);
        overflow: hidden;
        margin: auto;
        display: flow-root;
        margin-bottom: 5px;
        background: rgb(255 255 255 / 95%);
        padding: 0px 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 2px;
    }
</style>

<section class="content cas-hdeposi-tcharge-page">
    <div class="container-fluid payugateway-admin-respo">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Master Purchase GST</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Retailer GST Invoice</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style=" width: auto; float: left;margin-bottom:7px;">
            <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style="background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; margin-bottom: 0px;  padding: 0px !important; border-radius: 2px; ">
                <div class="bread-same-all-page dust-gr-terw breadsameall-second margin-bottomo-third payment-responsi" style="background: rgb(255 255 255 / 95%); padding: 4px; box-shadow: 0px 0px 5px -2px; border-radius: 2px; ">

                    @Html.Partial("_menu_invoice")

                </div>
            </div>
        </div>
        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third" style=" width: auto; float: right;">
            @Html.Partial("_menu_invoice_Master")
        </div>

        <div class="row clearfix">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="ca-dipo-right height-auto-second height-auto-third" style="">

                    <div class="un-re-wa-right11" style="padding-left: 10px; width: 40%; float: left; padding: 10px 5px;">
                        <li><a href="~/ADMIN/Home/MasterPurchasegst">Master&nbsp;Purchase&nbsp;Gst </a></li>
                        <li><a href="~/ADMIN/Home/MasterPurchasegst" style="color: var(--main-bg-rcolor);">Master&nbsp;GST</a><i class="fa fa-angle-right" style=" font-size: 14px; padding: 0px 3px 0px 7px;"></i></li>
                    </div>

                    <div class="un-re-wa-right" style=" width: 60%; float: right; background: none; padding: 5px 2px;">
                        @using (Html.BeginForm("MasterPurchasegst", "Home", FormMethod.Post))
                        {
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("masterid", ViewBag.apiid as SelectList, "Select Master ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("Month", ViewBag.month as SelectList, new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-one" style="width:17%;">
                                @Html.DropDownList("Year", ViewBag.year as SelectList, new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item special-iii item-three" style="width: auto;">
                                <div class="rightt" style="width:auto;">
                                    <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second button-center-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;justify-content:center;align-items:center;">
                                        <i class="fa fa-search"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="three-page-same">
                        <div class="row clearfix" id="RetailerSRC">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="RetailerSearchList">
                                    <div class="table-responsive table-responsive-payugateway tableseconddes-admin" style="width:100%;">

                                        <div id="WAdminSearchList">
                                            <table class="table table-bordered table-striped table-hover third-design-table table-white-third">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>
                                                        <th>Firm Name</th>
                                                        <th>Email</th>
                                                        <th>#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {

                                                        <tr>
                                                            <td>@item.FarmName</td>
                                                            <td>@item.Email</td>
                                                            <td>
                                                                <button onclick="Download('@item.SSId')" type="button" target="_blank" class="btn btn-sm btn-success" style="border-color:transparent !important;background-color:transparent !important;">
                                                                    <i class="fa fa-file-pdf-o fa-2x" style="color:red;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>





                                        @*<table class="table table-bordered table-striped table-hover">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Role</th>
                                        <th>User</th>
                                        <th>Payer&nbsp;Name</th>

                                        <th>Remain&nbsp;Pre</th>
                                        <th>Amount</th>
                                        <th>Charges</th>
                                        <th>Net&nbsp;Pay</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Bank RRN</th>
                                        <th>Transaction&nbsp;Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GATEWAYREPORT)
                                    {
                                        var img = "";
                                        if (item.status.ToUpper() == "SUCCESS")
                                        {
                                            img = "../../ashok-images/correct.svg";

                                        }
                                        else if (item.status.ToUpper() == "PENDING")
                                        {
                                            img = "~/ashok-images/clock.svg";
                                        }
                                        else
                                        {
                                            img = "../../ashok-images/closes.svg";
                                        }
                                    <tr>


                                        <td>@item.roles</td>
                                        <td>@item.Frm_Name</td>
                                        <td><img src='@img' style="width: 20px;">&nbsp;@item.mode</td>
                                        <td>@item.PG_TYPE</td>
                                        <td>@item.remainpre</td>
                                        <td>@item.amount</td>
                                        <td>@item.charge</td>
                                        <td>@item.finalpay</td>
                                        <td>@item.totalpay</td>
                                        <td>@item.remainpost</td>
                                        <td>@item.bankrrnno;</td>
                                        <td>@item.payuMoneyId</td>
                                        <td>@item.f_date</td>
                                        <td>
                                            @if (item.status.ToUpper() == "PENDING")
                                            {
                                                <button onclick="Statuschk('@item.txnid')"> Status Check</button>
                                            }
                                            else
                                            {
                                                @item.resptime
                                            }
                                        </td>



                                    </tr>
                                    }
                                </tbody>
                            </table>*@

                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->


                        <div class="row clearfix" id="WAdminSRC" style="display:none">
                            <div id="divEmp" class="col-md-12 col-sm-12 col-xs-12">
                                @*<div class="un-re-wa-right" style="padding-left: 10px;">
                        @using (Ajax.BeginForm("_Gateway_report", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure", UpdateTargetId = "WAdminSearchList" }))
                        {
                            <div class="unload-item item-two" style="width:10%">
                                @Html.DropDownList("ddlname1", new List<SelectListItem>
                                  {
                              new SelectListItem{ Text="All",Value="ALL"},
                               new SelectListItem{ Text="Retailer",Value="Retailer"},
                               new SelectListItem{Text="Distributor",Value="Distributor"},
                               new SelectListItem{Text="Master",Value="Master"},
                               new SelectListItem{Text="Whitelabel",Value="Whitelabel"}
                              }, new { @class = "selectpicker form-control", data_live_search = "false", @onchange = "ddlnamechange1()" })
                            </div>

                            <div id="drpretailer1" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Retailerid1", ViewBag.Retailerid1 as SelectList, "Select Retailer ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpdealer1" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Dealerid1", ViewBag.Dealerid1 as SelectList, "Select Distributor ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpmaster1" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Masterid1", ViewBag.Masterid1 as SelectList, "Select Master ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpwhite1" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Whitelabelid1", ViewBag.whitelabelid1 as SelectList, "Select Whitelabel ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-two">
                                @Html.DropDownList("ddlstatus1", new List<SelectListItem>
                                  {
                              new SelectListItem{ Text="Status",Value="ALL"},
                               new SelectListItem{ Text="Pending",Value="Pending"},
                               new SelectListItem{Text="Success",Value="Success"},
                               new SelectListItem{Text="Failed",Value="Failed"}
                              }, new { @class = "selectpicker form-control", data_live_search = "false" })

                            </div>
                            <div class="unload-item special-iii item-three">
                                <div class="leftt">
                                    <div class="input-daterange input-group">
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date1", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        <span class="input-group-addon" style="max-width:5px;">

                                        </span>
                                        <div class="for-position">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date1", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                                <div class="rightt" style="width:23%;">
                                    <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"  style="width: 94%;margin-left: 8px;">
                                        <i class="fa fa-search"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>

                        }
                    </div>*@
                                @*<div id="WAdminSearchList">
                        @Html.Partial("_Gateway_report")
                    </div>*@
                            </div>
                        </div><!--.row-->



                    </div><!--.three-page-same-->
                </div>
            </div>
        </div>
    </div>
</section>

@*<script>
        $('select').select2();

    </script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
    $(document).ready(function () {
        var month = '@ViewBag.chkmonth';
         var val = '@ViewBag.chk';
        if (val != "post") {
            $('#Month').val(month);
            $('#Month').select2().trigger('change');
            $('#masterid').select2();
            $('#Year').select2();
        }
    });
</script>

<!--<!--=======    Modal For Bank Details   ========-->
<!--<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />-->
<!-- Jquery Core Js -->
<!--<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>-->
<!-- Custom Js -->
<!--<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>-->
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
@*<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>*@
<!------------------------------------------partialpage-->
<script>
    function Download(apiid) {
        var Month = $('#Month').val();
        var Year = $('#Year').val();
            var url = '@Url.Action("Print_purchase_Gst_Master", "Home")?masterid=' + apiid + '&Month=' + Month + '&Year=' + Year + '';
            window.open(url, '_blank');
    }
</script>





