@model IEnumerable<Vastwebmulti.Models.Message_top>
@{
    ViewBag.Title = "Message";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
@using (Html.BeginForm("Message", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                <div class="card">
                 <div class="col-md-2">
                     <div class="form-group" style="margin-bottom:0px;">
                         <div class="" style="border:1px solid #dddddd;margin-top:4px;">
                             @Html.DropDownList("ddltop", new List<SelectListItem>
                         {
   new SelectListItem{ Text="All User",Value="All",},
   new SelectListItem{Text="Master Distributor",Value="Master"},
   new SelectListItem{Text="Distributor",Value="Distributor"},
   new SelectListItem{Text="Retailer",Value="Retailer"},
   new SelectListItem{Text="Api User",Value="Api"},
   new SelectListItem{Text="Whitelabel",Value="Whitelabel"},
   new SelectListItem{Text="Outer News",Value="Outer"}
   }, new { @class = "selectpicker form-control", data_live_search = "true" })
                         </div>
                     </div>
                 </div>
                    <div class="col-md-2">
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="" style="border:1px solid #dddddd;margin-top:4px;">
                                <input type="text" name="txtname" id="txtname" class="form-control" required="" placeholder="Enter Your Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="" style="border:1px solid #dddddd; margin-top:4px;">
                                <textarea id="txtmessage" name="txtmessage" class="form-control" required="" placeholder="Enter Message" style="height:34px;"></textarea>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="margin-bottom:0px;">
                            <div class="" style="border:1px solid #dddddd;margin-top:4px;">
                                <input type="file" name="file" id="file" class="form-control" style="background-color:whitesmoke;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn bg-grey waves-effect" style="height:36px;margin-top:4px;">
                            <span style="top:-1px;color:black;">Save Change</span>
                        </button>
                   
                    </div>
                </div>
}
            </div>
            
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-5px;">
                <div class="card">
                                  
                    <div class="body" style="margin-top:-12px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-2px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead  style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Users</th>
                                        <th>Name</th>
                                        <th>Message</th>
                                        <th>Image</th>
                                        <th>Status</th>
                                   
                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                        <tr>
                                           <td>@item.users</td>  
                                            <td>@item.name</td> 
                                            <td>@item.message</td>  
                                            <td><img src="@Url.Content("~/" + item.image)" class="img-responsive"  style="height:37px;width:37px;"/></td>                    
                                            <td>
                                        @if (item.status == "Y")
                                         {
                                    <center>
                                        <a href="@Url.Action("blockmessage", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>

                                  }
                                  else
                                  {
                                    <center>
                                        <a href = "@Url.Action("blockmessage", "Home", new { id = item.idno })" style="text-decoration:none;">
                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                        </a>
                                    </center>

                                  }
                                                </td>
                                        
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><p style="font-size:22px;margin-top:20px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                        <td></td>
                                     
                                        <td></td>
                                    
                                    </tr>
                                    }
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<!--Insert Popuop-->
<script>
    $(document).ready(function () {
            var message = '@TempData["add"]'
            if(message !="" && message!=null)
            {
              swal("Good job!", message, "success");

            }
                       //Edit Message
            var editdata = '@TempData["edit"]'
            if (editdata != null && editdata != "")
            {
                swal("Good job!", editdata, "success");
        }
        $(".sweet-alert").css('background', '@PageData["globalCol"]');

        });
</script>










