@model Vastwebmulti.Areas.ADMIN.ViewModel.Microatmdeviceadd
@{
    ViewBag.Title = "MicroAtm_Device_info";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<style>

    /* new css */
    .retailerList_Page .left-tabs form {
        background: #fff;
    }
    .custom-table-responsive, #EmailHistory {
        background: #fff !important;
    }
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    /* new css */


    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }
    .toast-top-right1 {top: 65px;left: 81%;}
    .dropdown {position: relative;display: inline-block;}
    .dropdown-content {
        display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding: 12px 16px;z-index: 1;
    }
    .dropdown:hover .dropdown-content {display: block;}
    .for-search {position: absolute;right: 130px;}
    .for-search input {width: 250px;border: 1px solid #dbdbdb;padding: 3px 10px;}
    section.content {background-color: white;margin: 75px 0px 0 164px;}
    a.addnewbuttonemploy-admin {
        background: var(--main-bg-lcolor);width: auto;height: 28px;display: inline-block;float: right;
        text-align: center;padding: 4px 13px;border: 1px solid #555;color: #fff;margin-left: 10px;
    }
    .custom-date-icon i{left:4px;}
    .retailerList_Page .left-tabs form {border:0px;}
    .retailerList_Page .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: block;
    }
    .select2addnew .select2.select2-container.select2-container--default{
        float:left;
        width: 150px !important;
    }

    @@keyframes microatmspin111 {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }

    .editbutton-spinclass {
        width: 15px;height: 15px;border: 2px solid #aaa4a4;border-top-color: rgb(170, 164, 164);
        border-radius: 50%;border-top-color: transparent;animation: microatmspin111 2s linear infinite;display:none;
        float:left;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px) {
        .newemployee-admin .left-tabs ul li {width: 100%;float: left;}
        .for-search.search-after-third {
            position: static;width: 100%;float: left;margin-bottom: 10px;
        }
        .for-search.search-after-third input {width: auto;}
    }

    @@media only screen and (max-width:395px) {
        .for-search.search-after-third input {width: 100%;margin-bottom: 10px;}
        .for-search.search-after-third a {margin: 0;width: 100%;}
    }
</style>
<section class="content retailerList_Page fourdesign-section-admin">
    <div class="container-fluid newemployee-admin">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Whitelabel User</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Whitelabel User</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pagheadernewclass-admin-third" style="width:100%;float:left;">
            <div class="bread-same-all-page four-noneclass-admin-only">
                <ul style="float:left;margin:0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        M-ATM Device's
                    </li>

                </ul>

                <div class="web-white-filter pdf-third-design" style="float: right;">
                    <div class="retalerrlist-add-button" style="width:auto;float:right; ">

                        <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: right;position:static;width:auto;padding-left:3px;">
                            <a href="@Url.Action("Microatm_charge_list", "Home")" style=" margin-left: 0px; font-size: 11px; float: left; padding: 0px 4px; height: 32px; border: 1px solid #b1a6a638; background: #b1a6a638; font-size: 14px; color: #555; display: flex; align-items: center; position: relative; height: 29px; top: -1px;">Charge List</a>

                        </div>
                        <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: right;position:static;width:auto;padding-left:3px;">
                            <a href="@Url.Action("Admin_Microatm_rental_report", "Home")" style=" margin-left: 0px; font-size: 11px; float: left; padding: 0px 4px; height: 32px; border: 1px solid #b1a6a638; background: #b1a6a638; font-size: 14px; color: #555; display: flex; align-items: center; position: relative; height: 29px; top: -1px;">Rental Report</a>

                        </div>
                        <div class="for-search tablesearch-second" style="position:static;float:right;width:auto;padding-right: 5px;">
                            <div class="search-after-third">
                                <input id="myInput" type="text" name="myInput" placeholder="Search..." onkeyup="myFunction()" style="height: 32px; border: 1px solid #ccc; padding: 5px 8px;" />
                            </div>
                        </div>
                    </div>

                    <iframe id="txtArea1" style="display:none"></iframe>
                </div>

            </div>



        </div>

        <!--////-->
        <div class="row clearfix" style="margin-bottom:40px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="page-header-third left-tabs width100 float-left">
                    <ul class="tabs width100 float-left">
                        <li class="tab-link current" style="width:100%;float:left;" data-tab="tab-9"><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">Create Device info</li>
                    </ul>
                    <div id="tab-9" class="tab-content current custom-table-responsive" style="height:75vh !important;">
                        @using (Ajax.BeginForm("Insert_microAtm_deviceinfo", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "devicelist_tbl", LoadingElementId = "div-loader" }))
                        {
                        <div class="left-four-tabs width100 float-left">
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Retailer ID</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.DropDownList("Remid", (IEnumerable<SelectListItem>)ViewBag.remid, "Select Retailerid", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Device Name </label>
                                    <div class="form-group">
                                        <div class="">

                                            @Html.DropDownList("deviceid", (IEnumerable<SelectListItem>)ViewBag.deviceid, "Select deviceid", new { @class = "form-control", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Plan Name </label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.DropDownList("plannm", (IEnumerable<SelectListItem>)ViewBag.planchk, "Select PlanName", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Plan Charge Type </label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.DropDownList("chargetype", new List<SelectListItem>
                                             {
                                              new SelectListItem{ Text="Daily",Value="Daily"},
                                                  new SelectListItem{Text="Monthly",Value="Monthly"}
                                              }, new { @class = "form-control", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Start Date </label>
                                    <div class="form-group">

                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon ner" style="border-color:#aaa !important;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #aaa !important; height: 32px !important;text-align:left;padding-left:38px;", autocomplete = "off" })

                                        </div>

                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class=" width100 float-left">
                                <div id="lblSuccess">
                                    <label id="lblmsg1" class="danger" style="color:#fff;font-size: 16px;background: green;width: 96%;margin-bottom:5px;"></label>
                                </div>
                                <div id="lblerror">
                                    <label id="lblmsg" class="danger" style="color:#fff;font-size: 16px;background: red;width: 96%;margin-bottom:5px;"></label>
                                </div>
                                <button type="submit" class="btn pull-right fullbodydycolorbg insert-errorshow" style="margin-left:15px;color:#fff;border-color:transparent;margin-right: 15px;margin-top:5px;">Insert Device</button>
                                <button type="reset" class="btn pull-right" style="margin-top:5px;">Reset</button>
                            </div>
                            <label id="error-mictigit"></label>
                        </div>
                        }
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="page-header-third right-tabs width100 float-left">
                    <div class="table-responsive custom-table-responsive tablefourdesign-admin" style="height:80vh !important;" id="devicelist_tbl">
                        @Html.Action("Get_allDeviceList")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div-loader" style="display:none; position: fixed;top: 0px;background: rgba(0,0,0,.5);left: 0px;bottom: 0px;right: 0px;width: 100%;height: 100vh;z-index: 9999;">
        <div id="loader" style="position: absolute;right: 34%;top: 50%;display:block; transform: translate(-34%,-50%);">
            <div class="loadingio-spinner-ripple-92ar2pfqk5j" style="background:transparent;">
                <div class="ldio-zdyd6mf6t5">
                    <div></div><div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
@*<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>*@
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<!--Add State dropdown list-->


<script>
    $('.for-select2').select2();
</script>

<script>
    var ravi = $.noConflict()
    ravi(document).ready(function () {

        // Initialize select2
        ravi("select").select2();

        // Read selected option

            $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();

    });
    $(document).ajaxComplete(function () {
        ravi("select").select2();
    });
</script>

@*<script>
        function Deletebyamount (e) {
        $.ajax({
            type: 'POST',
            url:'@Url.Action("del_spl1", "Home")',
            data: { idno: e },

            success: function (result) {
                //

                $('#devicelist_tbl').html(result)

            }
            });
            }
        </script>
    @ViewBag.msg;*@


<script>
    function Editbyamount(e) {
        debugger
        $("#microloader_" + e).show();
        $("#editmicro_" + e).hide();
    $.ajax({
        type: 'POST',
        url:'@Url.Action("Check_DevicelistByid", "Home")',
        data: { idno: e },

        success: function (result) {
            //
            $("#microloader_" + e).hide();
            $("#editmicro_" + e).show();

            $('#mdList').html(result)

        }
        });
        }

</script>

<script>
    function Savebyamount(e) {

    $.ajax({
        type: 'POST',
        url:'@Url.Action("Edit_Get_All_Devicelist", "Home")',
        data: { idno: e, userid: $('#Frm_Name').val(), ctype:$('#chargetypeEdit').val() },

        success: function (result) {
            //

            $('#mdList').html(result)

        }
        });
        }
</script>

<script>
    $(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


