@model Vastwebmulti.Areas.ADMIN.ViewModel.MicroatmchargeViewmodel

@{
    ViewBag.Title = "Microatm_charge_list";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .table-bordered tbody tr td, .table-bordered thead tr th {
        padding: 5px 2px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }


    .form-iconmy {
        position: absolute;
        z-index: 99;
        top: 0px;
        bottom: 0px;
        padding: 6px 5px;
        border-right: 1px solid #bbb;
        height: 32px;
    }
    .microatm-charge-table table th, .microatm-charge-table table td {
        padding: 5px 6px !important;
    }
        .microatm-charge-table table td select {
            padding-left: 0;
        }
        .microatm-charge-table table td input {
            border: 1px solid #aaa4a4;
            padding: 4px 4px;
        }
    @@keyframes microatmspin111 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    .microatmcharge-button {
        position:relative;
    }
    .microatmcharge-button::after {
        content: "";
        display: none;
        width: 15px;
        height: 15px;
        border: 2px solid #aaa4a4;
        border-radius: 50%;
        border-top-color: transparent;
        animation: microatmspin111 1s linear infinite;
    }
    .microatmcharge-button-spin::after{display:block;}

    @@media screen and (max-width:1366px) {
        .actul-none-third {
            display: none;
        }

        .actul-search-third {
            width: 23%;
        }

        .actulpdf-third {
            width: 35%;
            padding-right: 5px;
        }

        .actulpdf-third {
            padding-left: 0;
        }
    }

    @@media only screen and (max-width:767px) {
        .up-up-up #custnav li {
            width: 33%;
            margin-bottom: 10px;
        }

        .responcive-fifty {
            width: 50%;
            float: left;
            margin-bottom: 10px;
            padding: 0 2px !important;
        }

            .responcive-fifty button {
                width: 100%;
                text-align: left;
            }

            .responcive-fifty div {
                padding-bottom: 0px !important;
            }

        .actul-search-third {
            width: auto;
        }

        .actulpdf-third {
            width: auto;
            float: right;
        }
    }

    @@media only screen and (max-width:520px) {
        .admin-day-book .col-md-5 {
            width: 38%;
            padding-left: 15px !important;
            float: left;
        }

            .admin-day-book .col-md-5 input {
                padding-left: 15px;
            }

        .admin-day-book .col-md-2 {
            width: 25%;
            float: left;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-left: 1px solid var(--border-color);
        }
    }
</style>
<section class="content fourdesign-section-admin">
    <div class="container-fluid">
        <div class="page-header-third pageheader-margin-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting &nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="smli">
                        <a href="@Url.Action("MicroAtm_Device_info", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            M-ATM&nbsp;Device's &nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Microatm Charge List
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive microatm-charge-table" style="width:100%;float:left;margin-top:10px;">
            <table class="table table-bordered example-second" id="matmreport" style="width:100%;background:#f5f5f5;">
                <thead style="background-color:whitesmoke;">
                    <tr>
                        <th rowspan="3">Plan&nbsp;Name</th>
                        <th rowspan="3">Days</th>
                        <th rowspan="3">Device&nbsp;Price</th>
                        <th rowspan="3">Min&nbsp;Qty</th>
                        <th colspan="3">Upto&nbsp;2&nbsp;Transition (Daily) </th>
                        <th colspan="3">Upto&nbsp;5&nbsp;Transition (Daily)</th>
                        <th colspan="3">Upto&nbsp;8&nbsp;Transition (Daily)</th>
                        <th colspan="3">Above&nbsp;8&nbsp;Transition (Daily)</th>
                        <th colspan="3">Monthly&nbsp;Charge (Fixed) </th>
                        <th rowspan="3">Edit</th>
                    </tr>
                    <tr>
                        <th>Retailer<i style="color:red;">*</i> </th>
                        <th>Dealer<i style="color:green;">*</i></th>
                        <th>Master<i style="color:green;">*</i></th>
                        <th>Retailer<i style="color:red;">*</i> </th>
                        <th>Dealer<i style="color:green;">*</i></th>
                        <th>Master<i style="color:green;">*</i></th>
                        <th>Retailer<i style="color:red;">*</i> </th>
                        <th>Dealer<i style="color:green;">*</i></th>
                        <th>Master<i style="color:green;">*</i></th>
                        <th>Retailer<i style="color:red;">*</i> </th>
                        <th>Dealer<i style="color:green;">*</i></th>
                        <th>Master<i style="color:green;">*</i></th>
                        <th>Retailer<i style="color:red;">*</i> </th>
                        <th>Dealer<i style="color:green;">*</i></th>
                        <th>Master<i style="color:green;">*</i></th>
                    </tr>
                </thead>
                @Html.Partial("_microatmEdit", Model)


            </table>
        </div>
    </div>
    </section>


<script>

    function EditPlanorday(id) {
        debugger
        $("#editplanoder_" + id).addClass("microatmcharge-button-spin");
        $("#editplanoder_" + id).attr('style', 'font-size:0px !important;');
         $.ajax({
                type: 'POST',
                url: '@Url.Action("GetChargelistById", "Home")',
                data: {idno:id },
             success: function (data) {
                 $('#matmreport').html(data);
                 $("#editplanoder_" + id).style("font-size:12px !important;")
                 $("#editplanoder_" + id).attr('style', 'font-size:0px !important;');
                },
         });
    }

    function SaveAmountData(id) {
         $.ajax({
                type: 'POST',
             url: '@Url.Action("Editrentalchargelist", "Home")',
             data: {
                 idno: id, deviceprice: $('#deviceprice').val(), minquantity: $('#minquantity').val(), upto2: $('#upto2').val()
                 , upto5: $('#upto5').val(), upto8: $('#upto8').val(), above8: $('#above8').val(), dlm_upto2: $('#dlm_upto2').val()
                 , dlm_upto5: $('#dlm_upto5').val(), dlm_upto8: $('#dlm_upto8').val(), dlm_above8: $('#dlm_above8').val(), md_upto2: $('#md_upto2').val()
                 , md_upto5: $('#md_upto5').val(), md_upto8: $('#md_upto8').val(), md_above8: $('#md_above8').val(), md_monthly: $('#md_monthly').val(),
                 md_monthly_dealer: $('#md_monthly_dealer').val(), md_monthly_master: $('#md_monthly_master').val()},
             success: function (data) {
                 $('#matmreport').html(data);
             },
         });
    }
</script>
