@model Vastwebmulti.Areas.ADMIN.Models.MicroATMPurchase_Max_Purchase_Limit

@{
    ViewBag.Title = "MicroATM_Purchase_MaxLimit";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .table-responsive {
        width: 100%;float: left;
    }

    section.content {
        background-color: white;margin: 75px 0px 0 175px;-moz-transition: 0.5s;
        -o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
    }
    .retailerList-Pagenwead .col-md-12 {width: auto;float: left;}
    .retailerList-Pagenwead .col-md-12 .col-md-3 {width: auto;float: left;padding: 0;}
    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;height: 200px;display: inline-block;overflow: hidden;background: transparent;
    }
    .ldio-zdyd6mf6t5 {
        width: 100%;height: 100%;position: relative;transform: translateZ(0) scale(1);
        backface-visibility: hidden;transform-origin: 0 0;
    }
    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;border-width: 4px;border-style: solid;opacity: 1;
        border-radius: 50%;animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

    .ldio-zdyd6mf6t5 div:nth-child(1) {border-color: #e90c59}
    .ldio-zdyd6mf6t5 div:nth-child(2) {border-color: #46dff0;animation-delay: -0.5s;}
    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;height: 200px;display: inline-block;overflow: hidden;background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;height: 100%;position: relative;transform: translateZ(0) scale(1);backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {box-sizing: content-box;}

    .microatm-maxlimttable table tbody tr td {
        padding: 8px 5px;
    }
    * {
        outline: none !important;
    }
    .microatmmaxlimt-select .select2 .select2-selection__arrow {
        display: block !important;
    }

    @@media screen and (max-width:1366px){
        .microatm-maxlimt-btnedit, .microatm-maxlimt-btnsave {
            right: 26% !important;
            padding-left: 0;
        }
        .microatm-maxlimt-btnsave {
            padding-right:15px;
        }
    }

    @@media screen and (max-width:766px){
        .microatmmaxlimt-select, .microatm-maxlimt-btnsearch, .microatm-maxlimt-btnedit {
            position: static !important;float: left;width: auto !important;padding-right: 5px;margin-bottom: 15px;
        }
    }

</style>

<section class="content retailerList_Page retailerList-Pagenwead maxlimitmicropage-third">

    <div id="mictiatmsave-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 0px;left: 15px;bottom: 0px;top: 0px;display:none;z-index: 9999;width: 100%;">
        <div id="loader" style="position: absolute; right: 41%; top: 50%; transform: translate(0%, -50%);">
            <div class="loadingio-spinner-ripple-92ar2pfqk5j">
                <div class="ldio-zdyd6mf6t5">
                    <div></div><div></div>
                </div>
            </div>
        </div>
    </div>


    <div class="pageheader-admin-microthird pageheader-unhold-third" style="width:100%;float:left;">

        <div class="page-header-third page-header-third-microatm maxlimitmicro-third" style="width:100%;float:left;">

            <div class="bread-same-all-page" style="padding-left:15px;">
                <ul style="float:left;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Micro_Atm_hold Amount set
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 microatm-maxlimt-btnedit" style="position: absolute; right: 24%; top: 75px;">
            @*<select id="sadasdds" name="sadasdds" class="custom-select">
                    <option>sfdsdfd</option>
                    <option>asdsdfsd</option>
                </select>*@ 


            <div class="col-md-3">
                <div class="btneditclassshow">
                    <input type="button" id="btnedit" value="EDIT" class="btn btn-warning" style="background: #f0f0f0 !important; color: #555;" />
                </div>
                @*<div class="btnsaveshow" style="display:none;">
                        <input type="button" id="btnsave" value="Save" class="btn btn-success" />
                    </div>*@
            </div>
        </div>
        <div style="display:none;">
            @using (Html.BeginForm("MicroATM_Purchase_MaxLimit", "Home", FormMethod.Post))

            {
                <input type="hidden" id="hdRetailer_ID" name="hdRetailer_ID" value="" />
                <input type="submit" id="btnsubmitsearch" name="btnsubmitsearch" />
            }




        </div>

        @using (Ajax.BeginForm("Update_MicroATM_Limit", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success1", OnFailure = "failed1", UpdateTargetId = "remcash" }))
        {
            <div class="col-md-6 microatmmaxlimt-select" style=" width: 20%; padding-left: 0;position: absolute;right: 70px;">
                @Html.DropDownListFor(m => m.Retailer_ID, Model.retailer_lists, "Please select", new { @class = "for-select2" })
            </div>
            <div class="col-md-3 microatm-maxlimt-btnsearch" style="width: auto; float: left; padding-left: 0; padding-right: 0;    position: absolute;right: 15px;">
                <input type="button" id="btnsearch" name="btnsearch" value="Search" style=" border: 1px solid #ddd; padding: 5px 10px;" />
            </div>
            <div class="btnsaveshowclass microatm-maxlimt-btnsave" style="display:none;width: auto;position: absolute;right: 25%;">
                <input type="submit" id="btnsave" value="Save" class="btn btn-success" style="background: #f0f0f0 !important; color: #555;" />
            </div>
            <div id="remcash" class="table-responsive microatm-maxlimttable">
                <table class="table table-bordered" style="background:#f5f5f5;">
                    <tr>
                        <th>
                            Users
                        </th>
                        <th>
                            Card Type
                        </th>
                        <th>
                            Max Amount limit
                        </th>

                    </tr>

                    @if (Model.microchargelist != null)
                    {
                        <tbody id="tbodyshowretailer" style="border-top:0px;">
                            @foreach (var item in Model.microchargelist)
                            {
                                <tr>
                                    <td>@item.userid</td>
                                    <td>@item.Card_type</td>
                                    <td>@item.maxamount</td>
                                </tr>
                            }
                        </tbody>
                        <tbody id="tbodyeditretailer" style="display:none;border-top:0px;">
                            @for (int i = 0; i < Model.microchargelist.Count; i++)
                            {

                                <tr>
                                    @*//   @Html.HiddenFor(a => a.holdlist[i].id)*@
                                    @Html.HiddenFor(a => a.microchargelist[i].idno)
                                    @Html.HiddenFor(a => a.microchargelist[i].userinfo)
                                    <td>

                                        @Html.DisplayFor(a => a.microchargelist[i].userid)
                                    </td>
                                    <td>

                                        @Html.HiddenFor(a => a.microchargelist[i].Card_type)
                                        @Html.DisplayFor(a => a.microchargelist[i].Card_type)
                                    </td>
                                    <td>
                                        @Html.EditorFor(a => a.microchargelist[i].maxamount, new { htmlAttributes = new { @style = "width:100%;width: auto;float: left;padding: 5px 5px;border: 1px solid #aaa4a4; " } })
                                        @Html.ValidationMessageFor(a => a.microchargelist[i].maxamount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }


                </table>

            </div>
        }
    </div>
</section>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script>

        $('.for-select2').select2();

</script>


<script>
    $('#btnsave').click(function () {
        $('#mictiatmsave-loader').show();
    });
</script>

<script>
    $('#btnedit').click(function () {
        
        $('#tbodyeditretailer').show();
        $('#tbodyshowretailer').hide();
     
        $('.btnsaveshowclass').show();
        $('.btneditclassshow').hide();


    })

    $('#btnsearch').click(function () {
        
        $('#hdRetailer_ID').val($('#Retailer_ID').val())
        $('#btnsubmitsearch').click();
    })

    function success1(data) {
        debugger
        if (data.status = "Success") {
           
            //$('input[type=text]').attr('readonly', true);
            //$('input[type=text]').addClass('input-disabled');
            $('.btnsaveshowclass').hide();
            $('#mictiatmsave-loader').hide();
            $('.btneditclassshow').show();
            $("#remcash").load(window.location.href + " #remcash");

           
        }
      
    }

  

</script>