@model IEnumerable<Vastwebmulti.Models.Show_MicroAtM_UnholdHistory_Result>

@{
    ViewBag.Title = "MicroATM_Unhold_History";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .table-responsive {
        width: 100%;
        float: left;
    }

    section.content {
        background-color: white;
        margin: 75px 0px 0 175px;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .dropdown-menu.datepicker-dropdown.datepicker {
        margin-top: 75px !important;
    }
    .microatmhistory-second .custom-date-icon {
        border-color: #e1dcdc !important;
    }

    @@media screen and (max-width:1366px){
        .microatmhistory {padding-left: 15px;}
        .microatmhistory-second .clk.responcive-full {width: auto !important;padding: 0;}
        .microatmunholdmaxlimit-admin {padding-left:15px !important;}
        
    }

    @@media screen and (max-width:766px){
        .microatmhistory-second .col-md-4.rtrt.responcive-full {
            width: 100% !important;padding-left: 15px !important;float: left !important;
        }
        .microatmhistory-second {
            position: static !important;width: 100%;float: left;padding: 0;margin:0px;margin-bottom: 10px;
        }
        .microatmhistory-second .col-md-4.rtrt.responcive-full .row {margin:0px;}
        .microatmhistory ul {margin-bottom: 0px;}
        .microatmhistory-second .col-md-10.clk.responcive-full {margin-bottom: 15px;}
        .microatmhistory-second .clk.responcive-full {
            width: 100% !important;
            float: left;
        }
            .microatmhistory-second .clk.responcive-full .nrr3 {
                width: 99% !important;
            }
        .col-md-1.re-treyop.pdf-lastclass-third.pdf-lastclass-third-responsive {
            margin-bottom: 5px;
        }
    }

    

</style>


<section class="content retailerList_Page">
    <div class="pageheader-admin-microthird pageheader-unhold-third" style="width:100%;float:left;">

        <div class="page-header-third page-header-third-microatm" style="width:100%;float:left;">
            <div class="bread-same-all-page microatmhistory">
                <ul style="float:left;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Micro_Atm_Unhold Amount_Report
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <div class="row col-md-12 microatmhistory-second microatmhistory-second-third" style="position: absolute; right: 20px;">


        <div class="col-md-1 re-treyop pdf-lastclass-third pdf-lastclass-third-responsive" style="padding-right:0px;float:right;width:auto;padding:0px;">
            <div class="header" style="margin-top:0;padding:0px;width:100%;float:left;">



                <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas" style="width:100%;float:left;">

                    <div class="web-white-filter fil" style="float: left;margin-right: 5px;">
                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;font-size:11px;">
                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;font-size:11px;">
                    </div>
                    <button class="white-success-button" style="float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;" onclick="findtotal()">Total</button>
                </div>



            </div>
        </div>
        <div class="col-md-4 rtrt responcive-full" style="padding: 0px;margin-top: 0px;padding-left: 3px;width:auto;float:right;">
            @using (Html.BeginForm("MicroATM_Unhold_History", "Home", FormMethod.Post))
            {

                <div class="row" style="margin:0px;">
                    <div class="col-md-10 clk responcive-full" style="padding-right:0px;width:auto;">
                        <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                            <div class="custom-date-icon ner" style="display:flex;text-align: center;justify-content: center;justify-items: center;align-items: center;border-color:#e1dcdc;">
                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" style="position:static;" aria-hidden="true"></i>
                            </div>
                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #e1dcdc; height:32px;" })
                            <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                            </span>
                            <div class="nrr3">
                                <div class="custom-date-icon ner2" style="display:flex;text-align: center;justify-content: center;justify-items: center;align-items: center;border-color:#e1dcdc;">
                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" style="position:static;" aria-hidden="true"></i>
                                </div>
                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #e1dcdc; height:32px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 sre" style="padding-left:3px;width:auto;float:right;padding-right:8px;">
                        <center>
                            <div class="">

                                <i class="fa fa-search color-white-second" style="margin-left: 3px;position: absolute;top: 9px;left: 5px;color: #333;" aria-hidden="true"></i>

                                @*<input id="btntype_TODAY" name="btntype" type="submit" value="TODAY" class="btn" style="margin-top:0px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" />*@
                                <input id="btntype_OLD" name="btntype" type="submit" value="SEARCH" class="btn input-back-second" style="padding-left: 20px;margin-top:0px; height:32px;border:1px solid #e1dcdc;background:#fff;width:100%;float:left;" />
                            </div>
                        </center>
                    </div>

                </div>

            }
        </div>
    </div>
    <div class="container-fluid microatmunholdmaxlimit-admin" style="padding-left:0px;">
        <div class="table-responsive tableseconddes-admin">
            <table class="table table-bordered table-striped table-hover table-background-second third-design-table" style="background:#f9f9f9;">
                <tr>
                    <th>

                        FIRM NAME
                    </th>
                    <th>
                        Unhold By
                    </th>
                    <th>
                        Bank RRN
                    </th>
                    <th>
                        TRANSACTION TYPE
                    </th>

                    <th>
                        PAYMENT METHOD
                    </th>
                    <th>
                        AMOUNT
                    </th>
                    <th>
                        CARD_PAYMENT_TYPE

                    </th>
                    <th>
                        Masked pen
                    </th>

                    <th>
                        retailer pre
                    </th>

                    <th>
                        retailer post
                    </th>



                    <th>
                        CARD_USAGE_TYPE
                    </th>
                    <th>
                        CARD_TYPE
                    </th>
                    <th>
                        Unhold Time
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.frmname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rrn)
                        </td>
                       <td>
                            @Html.DisplayFor(modelItem => item.transaction_type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.payment_method)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.card_payment_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.masked_pan)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.retailer_remain_pre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.retailer_remain_post)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.network)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.card_usage_type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.unhold_transection_time)
                        </td>

                    </tr>
                }

            </table>

        </div>

    </div>
</section>
<script type="text/javascript">
    $(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>


<script>
    $("#btnExport").click(function () {
        
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelMicroATMUnholdHistoryReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date ;
        location.href = url;
});
</script>