@model Vastwebmulti.Areas.ADMIN.ViewModel.MicroatmchargeViewmodel
@{
    Layout = null;
}
<thead style="background-color:whitesmoke;">
    <tr>
        <th rowspan="3">Plan&nbsp;Name</th>
        <th rowspan="3">Days</th>
        <th rowspan="3">Device&nbsp;Price</th>
        <th rowspan="3">Min&nbsp;Qty</th>
        <th colspan="3">Upto&nbsp;2&nbsp;Transition (Daily) </th>
        <th colspan="3">Upto&nbsp;5&nbsp;Transition (Daily)</th>
        <th colspan="3">Upto&nbsp;8&nbsp;Transition (Daily)</th>
        <th colspan="3">Above&nbsp;8&nbsp;Transition (Daily)</th>
        <th colspan="3">Monthly&nbsp;Charge (Fixed) </th>
        <th rowspan="3">Edit</th>
    </tr>
    <tr>
        <th>Retailer<i style="color:red;">*</i> </th>
        <th>Dealer<i style="color:green;">*</i></th>
        <th>Master<i style="color:green;">*</i></th>
        <th>Retailer<i style="color:red;">*</i> </th>
        <th>Dealer<i style="color:green;">*</i></th>
        <th>Master<i style="color:green;">*</i></th>
        <th>Retailer<i style="color:red;">*</i> </th>
        <th>Dealer<i style="color:green;">*</i></th>
        <th>Master<i style="color:green;">*</i></th>
        <th>Retailer<i style="color:red;">*</i> </th>
        <th>Dealer<i style="color:green;">*</i></th>
        <th>Master<i style="color:green;">*</i></th>
        <th>Retailer<i style="color:red;">*</i> </th>
        <th>Dealer<i style="color:green;">*</i></th>
        <th>Master<i style="color:green;">*</i></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.Showdeviceplanlist)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.planname)</td>
        <td>@Html.DisplayFor(modelItem => item.noofdays)</td>
        <td>@Html.DisplayFor(modelItem => item.deviceprice) </td>
        <td>@Html.DisplayFor(modelItem => item.minquantity)</td>
        <td>@Html.DisplayFor(modelItem => item.upto2)</td>
        <td>@Html.DisplayFor(modelItem => item.upto5)</td>
        <td>@Html.DisplayFor(modelItem => item.upto8)</td>
        <td>@Html.DisplayFor(modelItem => item.above8)</td>
        <td>@Html.DisplayFor(modelItem => item.dlm_upto2)</td>
        <td>@Html.DisplayFor(modelItem => item.dlm_upto5)</td>
        <td>@Html.DisplayFor(modelItem => item.dlm_upto8)</td>
        <td>@Html.DisplayFor(modelItem => item.dlm_above8)</td>
        <td>@Html.DisplayFor(modelItem => item.md_upto2)</td>
        <td>@Html.DisplayFor(modelItem => item.md_upto5)</td>
        <td>@Html.DisplayFor(modelItem => item.md_upto8)</td>
        <td>@Html.DisplayFor(modelItem => item.md_above8)</td>
        <td>@Html.DisplayFor(modelItem => item.monthly)</td>
        <td>@Html.DisplayFor(modelItem => item.monthlydealer)</td>
        <td>@Html.DisplayFor(modelItem => item.monthlymaster)</td>
        <td>
            <button type="button" class="switch-edit-button deletebuttoback-second" onclick="EditPlanorday(@item.idno)">
                Edit
            </button>
        </td>
    </tr>
    }
</tbody>

