@model IEnumerable<Vastwebmulti.Models.Show_MicroAtm_Unload_report_Result>

@{
    ViewBag.Title = "Micro_Atm_Unhold_Report";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    var outputresult=  Convert.ToString(TempData["Resultdata"]);
   
}
<script>
    var msg = outputresult;
    if (outputresult == "Success") {
        alert("Success")
    } else {
        alert("Error")
    }
</script>
}

<style>
    .table-responsive {width: 100%;float: left;}

    section.content {
        background-color: white;margin: 56px 0px 0 175px;-moz-transition: 0.5s;-o-transition: 0.5s;
        -webkit-transition: 0.5s;transition: 0.5s;
    }
    .microatmnewpdf-class {
        padding-left: 3px;
    }
    .micro-unhold {
        border-radius: 0px;
        border: 1px solid #aaa4a4;
        padding: 2px 5px;
    }
    .unhold-modal .modal-dialog.modal-md {
        float: right;
        margin-top: 0;
    }
    .unhold-modal .modal-header h4 {
        text-transform: uppercase;
        color: #555;
        letter-spacing: 1px;
    }
    .unhold-modal .modal-header {position: relative;}
    .unhold-modal .modal-header button.close {
        position: absolute;right: 15px;font-size: 30px;top: 12px;
        font-weight: 400;opacity: 1;color: #555;
    }
    .unhold-modal .modal-body label {
        font-size: 14px !important;float: left;margin-top:10px;
    }
    
    .unhold-modal .modal-body .form-group input {
        float: right;font-size: 14px !important;padding: 8px 5px;
    }
    .unhold-modal .modal-body {padding: 15px 15px !important;background: #f3f3f3;width:100%;float:left;}
    .unhold-modal .modal-body .form-group {width: 100%;float: left;}
    .unhold-modal .modal-body .form-group input {box-shadow: none;border-radius: 0;border: 1px solid #aaa4a4;background: #f3f3f3;}
    .unhald-modal-confirm {margin-bottom: 0;}
    .unhald-modal-confirm input, .unhald-modal-confirm button {
        padding: 8px !important;height: auto !important;font-size: 14px !important;text-transform: uppercase;
    }
    .unhald-modal-confirm button {margin-left: 5px;}
    .unhald-modal-confirm input {background: #d0cfcf !important;color: #000;}
    .table-responsive table tr th span {
        color: #555;
    }
    .back-white-third-de {
        background: #eeebeb !important;
    }

             /*    new css  */

    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
             
             /*    new css  */
    
    @@media screen and (max-width:1366px) and (min-width:1320px){
        .microatmreportnew {
            padding-left: 10px;
        }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 56px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:766px){
        .bread-same-all-page {
            display: block;
        }
        .res_div1 {
            padding: 4px 0;
            width: 100%;
        }
        .microatm-responsive {margin-bottom: 5px;}
        .microatm-section{padding-left:5px;}
        .microatm-responsive {width: 100% !important;float: left !important;}
        .microatm-responsive a {width: 49%;margin-bottom: 5px;}
        .unhold-modal .modal-body label, .unhold-modal .modal-body input {width: 100%;float: left;}
        .unhold-modal .modal-body .form-group {margin-bottom: 0;}
        .unhald-modal-confirm input {width: auto !important;}
        .unhald-modal-confirm {margin-top: 15px;}
        .unhold-modal .modal-dialog.modal-md {padding: 0;margin: 0;}
    }

    @@media screen and (max-width:480px){
        .white-l-search-nine.pdfexpoer-second.totalbutton-secondclas {margin-bottom:5px;}
    }

</style>


<section class="content retailerList_Page microatm-section microatmreportnew">
    <div class="pageheader-admin-microthird microthirdfirst container-fluid" style="width: 100%; float: left; padding-left: 0px;">
        <div class=" page-header-third-microatm" style="width:100%;float:left;">
            <div class="page-header-third bread-same-all-page" style="">
                <ul class="res_div1" style="float: left; margin: 0;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Micro_Atm_hold Amount_Report
                    </li>

                </ul>
                <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas microatm-responsive res_div1" style="width:auto;float:right;">
                    <a href="@Url.Action("MicroATM_Unhold_History","Home")" class="btn btn-success back-white-third-de" style="margin-right:3px;background:#eeebeb;color:#333 !important;font-weight:400 !important;">Hold amount</a>
                    <a href="@Url.Action("MicroATM_Purchase_MaxLimit","Home")" class="btn btn-warning back-white-third-de" style="background: #eeebeb;color:#333 !important;font-weight:400 !important;">Micro atm maxlimit</a>


                    <div class="web-white-filter fil microatmnewpdf-class" style="float: left;margin-right: 5px;">
                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #bfbebe;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;font-size:11px;">
                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #bfbebe;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;font-size:11px;">
                    </div>
                    <button class="white-success-button" style="float: left; padding: 0px 4px;height:32px;border:1px solid #bfbebe;background:#b1a6a638;" onclick="findtotal()">Total</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid" style="padding-left:0px;">
        <div class="table-responsive tableseconddes-admin page-header-third">
         <table class="table table-bordered table-striped table-hover table-background-second third-design-table" style="background:#f9f9f9;">
                <tr>

                    <th>
                      FIRM NAME
                    </th>
                    <th>
                        <span>
                            Bank RRN
                        </span>
                    </th>
                    <th>
                        TRANSACTION TYPE
                    </th>

                    <th>
                        PAYMENT METHOD
                    </th>
                    <th>
                        AMOUNT
                    </th>
                    <th>
                        CARD_PAYMENT_TYPE

                    </th>

                    <th>
                        TRANSTIME
                    </th>
                
                  

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Frm_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rrn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.transaction_type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.payment_method)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.card_payment_type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.transtime)
                        </td>
                       <td>
                            <button class="micro-unhold"  data-toggle="modal" data-target="#myModal" onclick="EditModel('@item.idno', '@item.Frm_Name','@item.rrn','@item.amount','@item.card_payment_type','@item.transaction_type','@item.payment_method','@item.network')">Unhold</button>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade unhold-modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Unhold</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="frmname" style="font-size: 20px;">Farm Name/Mobile</label>
                    <input type="text" id="txtfrmname" readonly name="txtfrmname" style="font-size: 28px;" />

                </div>
                <div class="form-group">
                    <label style="font-size: 20px;">Bank RRN:</label>
                    <input type="text" id="txtbnkrrnno" readonly name="txtbnkrrnno" style="font-size: 28px;" />

                </div>
                <div class="form-group">
                    <label style="font-size: 20px;">Amount</label>
                    <input type="text" id="txtamountss" readonly name="txtamountss" style="font-size: 28px;" />

                </div>
                <div class="form-group">
                    <label style="font-size: 20px;">Card PayMent Type</label>
                    <input type="text" id="txtcardPaymentType" readonly name="txtcardPaymentType" style="font-size: 28px;" />

                </div>

                <div class="form-group">
                    <label style="font-size: 20px;">Transection Type</label>
                    <input type="text" id="txttransectionType" readonly name="txttransectionType" style="font-size: 28px;" />

                </div>
                <div class="form-group">
                    <label style="font-size: 20px;">Transection Type</label>
                    <input type="text" id="txtPaymentMethode" readonly name="txtPaymentMethode" style="font-size: 28px;" />

                </div>
                <div class="form-group">
                    <label style="font-size: 20px;">NetWork</label>
                    <input type="text" id="txtnetwork" readonly name="txtnetwork" style="font-size: 28px;" />

                </div>


                @*<div class="form-group">
            <label class="form-control-label col-md-5" style="text-align: left;">Farm Name/Mobile</label><input type="text" class="col-md-5" id="txtfrmmobile" name="txtfrmmobile" />
        </div>
        <div class="form-group">
            <label class="form-control-label col-md-5" style="text-align: left;">Bank RRN</label><input class="col-md-5" type="text"   id="txtbnkrrnno" name="txtbnkrrnno" />
        </div>
        <div class="form-group">
            <label class="form-control-label col-md-5" style="text-align: left;">Amount</label><input type="text"  class="col-md-5" id="txtamountss" name="txtamountss" />
        </div>*@
                @using (Html.BeginForm("MicroATM_Unhold_update", "Home", FormMethod.Post))
                {
                    <input type="hidden" value="0" id="hdid" name="hdid" />

                    <div class="form-group">
                        <label style="font-size: 20px;"> Enter Person Name</label>
                        <input type="text" id="txtpersonname" required name="txtpersonname" style="font-size: 28px;" />

                    </div>

                    <div class="form-group unhald-modal-confirm">
                        <button type="button" style="float:right;" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btnupdate" value="Confirm Unhold" style="font-size: 28px;" />

                    </div>
                }
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>

<script>
    function EditModel(idno,frmname, rrn, amount, cardpaymenttype, transectiontype, paymentmethode, network) {
        
      
        if (idno != null && idno == '' && idno == 0) {
            $('#txtfrmname').val('');
            $('#txtbnkrrnno').val('');
            $('#txtamountss').val('');
            $('#txtcardPaymentType').val('');
            $('#txttransectionType').val('');
            $('#txtPaymentMethode').val('');
            $('#txtnetwork').val('');
            $('#hdid').val('');
        } else {
            $('#txtfrmname').val(frmname);
            $('#txtbnkrrnno').val(rrn);
            $('#txtamountss').val(amount);
            $('#txtcardPaymentType').val(cardpaymenttype);
            $('#txttransectionType').val(transectiontype);
            $('#txtPaymentMethode').val(paymentmethode);
            $('#txtnetwork').val(network);
            $('#hdid').val(idno);
        }
     


    }
</script>

<script>
    $("#btnExport").click(function () {
        var url = '@Url.Action("Excel_Micro_Atm_Unhold_Report", "Home")';
        location.href = url;
});
</script>


<script>
    $("#btnPDF").click(function () {
      
        var url = '@Url.Action("PDFMicro_Atm_Unhold_Report", "Home")' ;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
