@model IEnumerable<Vastwebmulti.Models.money_api_status1>
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "MoneyApiUrls";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* New css  */
    .rtyfrtyclass-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0;
    }
    .money_api_s {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
        .money_api_s a {
            background-color: var(--main-bg-lcolor);
            border: 1px solid #7b7b7b38 !important;
        }
    .padding-top-thirdclass {
        padding: 5px 4px;
        float: left;
    }
    .updatests button {
        background: green !important;
        padding: 6px 16px;
        border: 1px solid !important;
    }

    /* New css  */


    .off {
        width: 30%;
        background: red;
        color: white;
    }

    .on {
        width: 30%;
        background: green;
        color: white;
    }


    @@media only screen and (max-width: 480px) {
        .rtyfrtyclass-third {
            display: block;
        }

        .money_api_s a {
            width: 100%;
        }

        .row.money_api_s .col.col-md-3 {
            width: 50%;
            padding: 0;
        }

        .money_api_s {
            margin-top: 6px;
            width: 100%;
            float: left;
            text-align: center;
        }
    } 

</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 four-noneclass-admin-only">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Vast Bazaar API
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="page-header-third">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card" style="">
                        <div class="col-md-12 rtyfrty rtyfrtyclass-third">
                            <div style="">
                                @Html.Partial("_menuapinm")
                            </div>
                            <div style="" class="row money_api_s">
                                <div class="col col-md-3">
                                    <a href="@Url.Action("money_api_statss","Home")" class="btn btn-default"> BANK1 </a>
                                </div>
                                <div class="col col-md-3">
                                    <a href="@Url.Action("money_api_statss1","Home")" class="btn " style="color:#fff;"> BANK2 </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="" style="width: 100%; float: left; margin-top: 8px;">
                <div class=" table-responsive tablefourdesign-admin" style="position:inherit;">
                    <table class="table table-bordered table-striped example-second" style="width:100%;">
                        <thead style="background-color:whitesmoke;">
                            <tr>
                                <th>API&nbsp;Name</th>
                                <th>API&nbsp;Category</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var deta = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <select id="apis+@item.idno" onchange="updateapi(@item.idno)" class="btn btn-secondary dropdown-toggle">
                                                @if (item.catagory != "DMT")
                                                {
                                                    <option>VASTWEB</option>
                                                }
                                                <option @(item.api_name == "RADIANT" ? "selected" : "")>RADIANT</option>


                                            </select>
                                        </td>
                                        <td>
                                            @if (item.catagory == "PAYOUT")
                                            {
                                                <select id="apis1+@item.idno" onchange="updateapiSlab(@item.idno)" class="btn btn-secondary dropdown-toggle">
                                                    <option>Slab1</option>
                                                    <option @(item.Slabnm == "Slab2" ? "selected" : "")>Slab2</option>
                                                </select>
                                            }
                                        </td>
                                        <td>@item.catagory</td>
                                        <td class="updatests">
                                            @if (item.status == true)
                                            {


                                                <button class="btn btn-primary" onclick="updates(false,@item.idno , @deta )">ON</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary" onclick="updates(true,@item.idno, @deta )">OFF</button>
                                            }

                                        </td>
                                    </tr>
                                    deta++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updates(s , id) {

            $.ajax({
    url: '@Url.Action("updatestsmoneyapi1", "Home")',
                cache: false,
                data: { idno: id, sts: s },
    type: "GET",
                success: function (data) {
                    location.reload();
    }
});
        }

        function updateapi(idno) {
            var idss = 'apis+' + idno;
            var value = document.getElementById(idss).value;
            $.ajax({
    url: '@Url.Action("updatestsmoneyapiyes1", "Home")',
                cache: false,
                data: { idno: idno, cat: value },
    type: "GET",
                success: function (data) {
                    location.reload();
    }
});
        }

          function updateapiSlab(idno) {
            var idss = 'apis1+' + idno;
            var value = document.getElementById(idss).value;
            $.ajax({
    url: '@Url.Action("updatestsmoneyapiyesSlab1", "Home")',
                cache: false,
                data: { idno: idno, cat: value },
    type: "GET",
                success: function (data) {
                    location.reload();
    }
});
        }
    </script>


</section>


<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

