@model Vastwebmulti.Areas.ADMIN.Models.money_api_name
@{
    ViewBag.Title = "Money_api_name";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
      
                        <div class="col-md-8">
                            @Html.Partial("_menuapinm")
                        </div>
                        <div class="col-md-4">
                            <div class="button-demo" style="float:right; margin-top:-15px;">
                                <button type="button" class="btn bg-blue-grey waves-effect" style="margin-top:19px; " data-toggle="modal" data-target="#defaultModal">
                                    <i class="material-icons">group</i>
                                    <span style="top:-2px;">Add New</span>
                                </button>
                            </div>
                        </div>
                 
                </div>
            </div>
                 </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:4px;">
                            <li><a href="javascript:void(0);" style="font-weight:100; font-size:15px;">API Info</a></li>
                            <li class="active" style="color:#607d8b; font-size:15px;font-weight:700;">All Money API Details</li>
                        </ol>
                      </div>
                    <div class="body" style="margin-top:-13px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                        <th >API&nbsp;Name</th>
                        <th>Money&nbsp;Purchase&nbsp;(Rs.)</th>
                        <th>Money&nbsp;Verify&nbsp;(Rs.)</th>
                        <th>Status</th>
                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                               @foreach (var item in Model.moneyapi)
                               {
                                        <tr>
                                            <td>@item.Api_name</td>
                                            <td>@item.money_purchase</td>
                                            <td>@item.money_verify_purchase</td>     
                                            <td style="padding:0px;">
                                            @if (item.status == "Y")
                                            {
                                           <div class="demo-switch">
                                           <div class="switch">
                                               <label style="padding-top:4px;">
                                                   <a href="@Url.Action("Update_money_api_status", new { id = item.idno, sts = item.status })"  style="text-decoration:none;">
                                                       <input type="checkbox" checked /><span class="lever" style="background-color:green;"></span></a>
                                               </label>
                                             </div>
                                               </div>
                                            }
                                            else
                                            {
                                          <div class="demo-switch">
                                         <div class="switch">
                                             <label style="padding-top:4px;">
                                                 <a href="@Url.Action("Update_money_api_status", new { id = item.idno, sts = item.status })"  style="text-decoration:none;"><span class="lever" style="background-color:red;"></span></a>
                                             </label>
                                        </div>
                                         </div>
                                            }
                                            </td>
                                            <td style="padding:0px;text-align:center;">
                                                <button id="but" onclick="animation('@item.idno','@item.Api_name','@item.money_purchase','@item.money_verify_purchase')"style="background-color:transparent;color:#03a9f4; border:none;" data-toggle="modal" data-target="#defaultModal1">
                                                    <i class="fa fa-edit fa-2x" style="font-size:24px; color:#607D8B;"></i>
                                                </button>
                                            </td>
                                       

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add Model-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add Money API Name</h4>
            </div>
            @using (Html.BeginForm("Add_Api_name", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                           <div class="row clearfix">
                           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">API Name</label>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                           @Html.TextBoxFor(model => model.txtapinm, "", new { @placeholder = "Enter Api Name", @required = "required", @class = "form-control" })
                                        </div>
                                 </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Purchase&nbsp;(Rs)</label>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.txtmoneypur, "", new { @placeholder = "Enter KYC Purchase(Rs)", @required = "required", @class = "form-control " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Money&nbsp;Verify&nbsp;Purchase&nbsp;(Rs.)</label>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.txtmoneypurverify, "", new { @placeholder = "Enter Money Verify Purchase(%)", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-blue-grey waves-effect">Save</button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Edit Money API Name</h4>
            </div>
            @using (Html.BeginForm("Edit_Api_name", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                @Html.HiddenFor(model => model.txtidno) 
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">API Name</label>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.txtapinmedit, "", new { @placeholder = "Enter Api Name", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Purchase&nbsp;(Rs)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.txtmoneypurrsedit, "", new { @placeholder = "Enter Money Purchase(rs)", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Money&nbsp;Verify&nbsp;Purchase&nbsp;(Rs)</label>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBoxFor(model => model.txtmoneypurverifyedit, "", new { @placeholder = "Enter Money Verify Purchase(rs)", @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-blue-grey waves-effect">UPDATE</button>
                                <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!--Insert Popuop-->
<script>
    window.onload = function () {
        var add = '@TempData["add"]'
        if (add != null && add != "") {
            if (add.includes("Successfully"))
            {
                swal("Good job!", add, "success");
            }
            //swal("Good job!", add, "success");
        }

        var allready = '@TempData["allready"]'
        if (allready != null && allready != "") {
            swal("Oops...", allready, "error");
        }

        var edit = '@TempData["edit"]'
        if (edit != null && edit != "") {
            swal("Good job!", edit, "success");
        }

    }
</script>

<!--View All Popup-->
<script>
    function showalldetils(idno, ResendOTP, AddBeneficiary, DeleteBeneficiary, VerifyBeneficiary, SendMoney, Reinitialize, TransitionDetails, UpdateTransition, updatepancard)
    {
        $("#idno").val(idno);
        $("#resendopturl").val(ResendOTP);
        $("#addbeneficiaryurl").val(AddBeneficiary);
        $("#deletebeniurl").val(DeleteBeneficiary);
        $("#verifybeneficiaryurl").val(VerifyBeneficiary);
        $("#sendmoneyurl").val(SendMoney);
        $("#Reinitializeurl").val(Reinitialize);
        $("#transactiondetilsurl").val(TransitionDetails);
        $("#updatetransactionurl").val(UpdateTransition);
        $("#updatepancardurl").val(updatepancard);
    }
</script>
<!--Edit Javascript-->
<script>
    function animation(id,apinm,pur,verify)
    {
        $('#txtidno').val(id);
        $('#txtapinmedit').val(apinm);
        $('#txtmoneypurrsedit').val(pur);
        $('#txtmoneypurverifyedit').val(verify);
         }

</script>

