@model IEnumerable<Vastwebmulti.Models.Money_API_URLS>
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "MoneyApiUrls";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /*new css*/
    .form-group div {
        margin-bottom: 5px;
    }






    /*new css end*/



    .dropdown-menu {
        margin-top: 81px !important;
    }

    .col-md-6.vacrivet {
        width: 140px;
        padding-right: 3px;
    }

    .col-md-2.vacrivet {
        margin-right: -57px;
    }

    .col-md-5.vast-bazar-api.respon-fullwidth-third {
        float: right;
        position: absolute;
        right: -16.6%;
    }

    .modal-footer {
        width: 100%;
        padding-left: 11.3rem !important;
    }

    button.btn.bg-grey.waves-effect {
        width: 45%;
        float: left;
    }

    button.btn.fullbodydycolorbg.waves-effect {
        width: 45%;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .form-control-label {
        text-align: left;
    }

    .col-md-2.vacrivet {
        margin-right: -57px;
    }

    .col-md-3.vacrivet.vacrivet-third-design {
        padding-right: 6px;
        margin-left: -9px;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

    .bread-same-all-page li {
        margin-bottom: 0px;
    }
    .padding-top-thirdclass {
        padding: 4px 3px;
        float: left;
        width: 100%;
    }

    @@media screen and (max-width: 992px) {
        .rtyfrty {
            width: 100%;
            float: left;
        }

            .rtyfrty ul li {
                width: 33%;
                float: left;
                margin-bottom: 10px;
            }

                .rtyfrty ul li a {
                    margin-bottom: 0;
                }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }

            .vacrivet button {
                width: 100%;
            }

        .vast-bazar-api {
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }
    }

    @@media only screen and (max-width:480px) {
        #defaultModal .modal-dialog {
            width: 95% !important;
        }
        .vacrivet-third-design {
            width: 100% !important;
        }
        .vast-bazar-api {
            padding-right: 15px;
        }


    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">API Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 four-noneclass-admin-only">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Vast Bazaar API
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="page-header-third">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="col-md-9 rtyfrty rtyfrtyclass-third">
                            <div style="margin-left:-13px;">
                                @Html.Partial("_menuapinm")
                            </div>

                        </div>
                        <div class="col-md-3 vast-bazar-api respon-fullwidth-third">
                            @using (Html.BeginForm("MoneyApiUrls", "Home", FormMethod.Post))
                            {
                                <div class="row" style="float: right; display: flex; ">
                                    @*<div class="col-md-6 vacrivet">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="">
                                            @Html.DropDownList("apinm", ViewBag.apinm as SelectList, "Api Name", new { id = "apinm", @class = "for-select2 form-control", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;", @required = "required" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2 vacrivet" style="padding:0px;">
                                    <center>
                                        <button type="submit" class="btn  waves-effect" style="margin-top: 4px; width: 77%; padding-left: 8px !important; height: 32px; float: left; border: 1px solid #c7c2c2; background: transparent;">
                                            <i class="fa fa-search" style="top:-1px;font-size:14px;color:black;"></i>
                                            <span style="top:-2px;color:black; font-size:12px;">Search</span>
                                        </button>
                                    </center>
                                </div>*@
                                    <div class="col-md-6 vacrivet vacrivet-third-design" style=" padding: 0;">
                                        <center>
                                            <button type="button" class="fullbodydycolorbg waves-effect" style="padding: 0px 10px; float:right; height:32px;float:right;border:1px solid #c7c2c2;" data-toggle="modal" data-target="#defaultModal">
                                                <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;"></i>
                                                <span style="color:#fff;">Add New</span>
                                            </button>
                                        </center>

                                    </div>
                                    <div class="col-xs vacrivet" style=" padding: 0;">
                                        <button type="button" class="btn fullbodydycolorbg  waves-effect" style="float: right; border: 1px solid #c7c2c2; padding-right: 23px;" data-toggle="modal" data-target="#defaultModalPlan">
                                            <i class="fa fa-plus" style="top:1px;font-size:15px;color:#fff;"></i>

                                        </button>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="" style="width: 100%; float: left; margin-top: 8px;">
                <div class=" table-responsive tablefourdesign-admin" style="position:inherit;">
                    <table class="table table-bordered table-striped example-second" style="width:100%;">
                        <thead style="background-color:whitesmoke;">
                            <tr>
                                <th>API&nbsp;Name</th>
                                <th>API&nbsp;ID</th>
                                <th>API&nbsp;Token1</th>
                                <th>API&nbsp;Token2</th>
                                <th>API&nbsp;Token3</th>
                                <th>Token&nbsp;Priority</th>

                                <th><center>Edit</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.API_Name</td>
                                        <td>@item.API_ID</td>
                                        <td>@item.Token</td>
                                        <td>@item.token1</td>
                                        <td>@item.token2</td>
                                        <td>@item.tokenpriority</td>
                                        @*<td>
                                        @if (item.MoneyApiStatus == "Y")
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_money_api_status", new { id = item.API_NAME, sts = item.MoneyApiStatus })" style="text-decoration:none;">
                                                    <div class="onoffswitch">
                                                        <span class="costom-on">on</span>
                                                    </div>
                                                </a>
                                            </center>

                                        }
                                        else
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_money_api_status", new { id = item.API_NAME, sts = item.MoneyApiStatus })" style="text-decoration:none;">
                                                    <div class="onoffswitch">
                                                        <span class="custom-off">off</span>
                                                    </div>
                                                </a>
                                            </center>

                                        }
                                    </td>*@
                                        <td>
                                            <center>
                                                @* <button id="but" onclick="animation('@item.Idno', '@item.API_Name', '@item.API_ID', '@item.Api_pwd', '@item.Token', '@item.money_purchase', '@item.money_verify_purchase', '@item.token1', '@item.token2', '@item.tokenpriority')" style="background-color:transparent; border:none;line-height:19px;height:25px;" data-toggle="modal" data-target="#defaultModal1">  *@
                                                <button id="but" onclick="animation('@item.Idno', '@item.API_Name', '@item.API_ID', '@item.Api_pwd', '@item.Token',  '@item.token1', '@item.token2', '@item.tokenpriority')" style="background-color:transparent; border:none;line-height:19px;height:25px;" data-toggle="modal" data-target="#defaultModal1">
                                                    <p style="padding:2px 11px 2px 11px;border:1px solid #dddddd;color:black;margin:0px;">Edit</p>
                                                </button>
                                            </center>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
                </div>
           

        @*@if (ViewBag.serviceallow == true)
        {
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div>
                        <h3>Payout Api Switch</h3>
                    </div>

                    <div class="">
                        <div class=" table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped example-second" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>API&nbsp;Name</th>
                                        <th><center>Status</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in ViewBag.payout)
                                        {
                                            <tr>
                                                <td>@item.api_name</td>
                                                <td>
                                                    @if (item.status == "Y")
                                                    {
                                                        <center>
                                                            <a href="@Url.Action("Payout_status_change", new { id = item.api_name, sts = "N" })" style="text-decoration:none;">
                                                                <div class="onoffswitch">
                                                                    <span class="costom-on">on</span>
                                                                </div>
                                                            </a>
                                                        </center>

                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <a href="@Url.Action("Payout_status_change", new { id = item.api_name, sts = "Y" })" style="text-decoration:none;">
                                                                <div class="onoffswitch">
                                                                    <span class="custom-off">off</span>
                                                                </div>
                                                            </a>
                                                        </center>

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="s_set">
            <div id="dealerselect">

            </div>
            <div id="retailerselect">

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div>
                        <h3>Payout Api Switch</h3>
                    </div>

                    <div class="">
                        <div class=" table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped example-second" style="width:100%;" id="save">

                                <tr style="background-color:whitesmoke;">
                                    <th>User</th>
                                    <th style="display:none">VAST BAZZAR MIN</th>
                                    <th style="display:none">VAST BAZZAR MAX</th>
                                    @if (ViewBag.instantpaypayout == true)
                                    {
                                    <th>INSTANT PAY MIN</th>
                                    <th>INSTANT PAY MAX</th>
                                    }
                                    @if (ViewBag.razorpayupi == true)
                                    {
                                    <th>RAZOR PAY MIN</th>
                                    <th>RAZOR PAY MAX</th>
                                    }
                                    <th>ACTION</th>
                                </tr>


                                <tr>
                                    @{
                                        VastwebmultiEntities db = new VastwebmultiEntities();
                                        var forall = db.rang_of_imps_transaction_ALL_retailer.ToList();
                                    }
                                    <td id="user">ALL</td>
                                    <td id="vbmin" style="display:none">@forall[0].vastbazzar_min</td>
                                    <td id="vbmax" style="display:none">@forall[0].vastbazzar_max</td>
                                    @if (ViewBag.instantpaypayout == true)
                                    {
                                        <td id="imin">@forall[0].instatntpay_min</td>
                                        <td id="imax">@forall[0].instatntpay_max</td>
                                    }
                                    @if (ViewBag.razorpayupi == true)
                                    {
                                        <td id="Rmin">@forall[0].Razorpay_min</td>
                                        <td id="Rmax">@forall[0].razorpay_max</td>
                                    }
                                        <td><button onclick="editss()">Edit</button></td>

                                    </tr>


                            </table>
                            <table class="table table-bordered table-striped example-second" style="width:100%;display:none" id="edit">

                                <tr style="background-color:whitesmoke;">
                                    <th>User</th>
                                    <th style="display:none">VAST BAZZAR MIN</th>
                                    <th style="display:none">VAST BAZZAR MAX</th>
                                    @if (ViewBag.instantpaypayout == true)
                                    {
                                        <th>INSTANT PAY MIN</th>
                                        <th>INSTANT PAY MAX</th>
                                    }
                                    @if (ViewBag.razorpayupi == true)
                                    {
                                        <th>RAZOR PAY MIN</th>
                                        <th>RAZOR PAY MAX</th>
                                    }
                                        <th>ACTION</th>
                                    </tr>

                                <tr>
                                    <td><input type="text" id="Euser" name="Euser" value="ALL" readonly /></td>
                                    <td style="display:none"><input type="text" id="Evbmin" name="Evbmin" value=@forall[0].vastbazzar_min /></td>
                                    <td style="display:none"><input type="text" id="Evbmax" name="Evbmax" value=@forall[0].vastbazzar_max /></td>
                                    <td style="display:none"><input type="text" id="EUserid" name="EUserid" value="ALL" /></td>
                                    <td style="display:none"><input type="text" id="ERole" name="ERole" value="ALL" /></td>
                                    @if (ViewBag.instantpaypayout == true)
                                    {
                                        <td><input type="text" id="Eimin" name="Eimin" value=@forall[0].instatntpay_min /></td>
                                        <td><input type="text" id="Eimax" name="Eimax" value=@forall[0].instatntpay_max /></td>
                                    }
                                    @if (ViewBag.razorpayupi == true)
                                    {
                                        <td><input type="text" id="ERmin" name="ERmin" value=@forall[0].Razorpay_min /></td>
                                        <td><input type="text" id="ERmax" name="ERmax" value=@forall[0].razorpay_max /></td>
                                    }
                                        <td><button onclick="savedataodrangewish()">Save</button> <button onclick="cencless()">Cencle</button></td>
                                    </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       }
    </div>*@
</section>
<!--Add Model-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;width:30%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color: black; padding-left: 10px;">Add IMPS API Url</h4>
            </div>
            @using (Html.BeginForm("Add_MoneyApiUrls", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Name</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        <input type="text" id="txtapiname" name="txtapiname" value="VASTWEB" placeholder="Enter API Name" class="form-control" readonly="readonly" maxlength="8" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API ID</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("apiid", "", new { @class = "form-control", @required = "", @placeholder = "Enter API ID" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("pwd", "", new { @class = "form-control", @placeholder = "Enter Password", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token1</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("tkn", "", new { @class = "form-control", @placeholder = "Enter API Token", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token2</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("tkn1", "", new { @class = "form-control", @placeholder = "Enter API Token", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Token3</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("tkn2", "", new { @class = "form-control", @placeholder = "Enter API Token", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token priority</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("tokenpriority", new List<SelectListItem>
                                         {
              new SelectListItem{ Text="token1",Value="token1"},
              new SelectListItem{Text="token2",Value="token2"},
              new SelectListItem{Text="token3",Value="token3"}
             }, new { @class = "form-control", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px;  height:32px;" data-dismiss="modal">
                                <span style="color:black;">Close</span>
                            </button>
                            <button type="submit" class="btn fullbodydycolorbg waves-effect" style="margin-top: 4px;  height:32px;">
                                <span style="top:-2px;color:#fff;">Save Change</span>
                            </button>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit IMPS API Url</h4>
            </div>
            @using (Html.BeginForm("Edit_MoneyApiUrls", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">

                        @Html.Hidden("IdnoEdit")
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API Name</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtapinm", "", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">API ID</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtapiid", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Password</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtpwd", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txttkn", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token1</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txttkn1", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token2</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txttkn2", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Token Priority</label>
                            </div>

                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("txttokenpriority", new List<SelectListItem>
                                         {
              new SelectListItem{ Text="token1",Value="token1"},
              new SelectListItem{Text="token2",Value="token2"},
              new SelectListItem{Text="token3",Value="token3"}
             }, new { @class = "form-control", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px;  height:32px;" data-dismiss="modal">
                                <span style="color:black;">Close</span>
                            </button>
                            <button type="submit" class="btn fullbodydycolorbg waves-effect" style="margin-top: 4px;  height:32px;">
                                <span style="color:#fff;">Save Change</span>
                            </button>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Add NEW Offer api Modal-->
<div class="modal fade moneyurl-model" id="defaultModalPlan" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;min-width:50%;margin-top:63px;">
        <div class="modal-content">

            @using (Html.BeginForm("Tokensecurity", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding:5px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-md-5" style="padding-right: 0px;">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Token&nbsp;Number<sup>*</sup></label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="tokenno" name="tokenno" class="form-control" placeholder="Enter Token Number" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 0px;">
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Email-Id<sup>*</sup></label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter Email Id" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3 for-save-one">
                                    <button type="submit" class="btn register fullbodydycolorbg waves-effect" disabled style=" width: auto; height: 34px;">
                                        <span style="color:#fff;">Save Change</span>
                                    </button>
                                </div>
                                <div class="col-md-1 for-save-two">
                                    <button type="button" class="btn bg-grey waves-effect" style=" width: auto; height: 34px; color: #000;" data-dismiss="modal">
                                        &#10005;
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>




<script>
    $('.for-select2').select2();
</script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!--Insert Popuop-->
<script>
    $(document).ready(function () {
        var editdata = '@ViewData["success"]'
        var error = '@ViewData["errormsg"]';
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

        if (error != null && error != "") {
            swal("Oops..!", error, "error");
        }

    });
</script>


<!--Edit Javascript-->
<script type="text/javascript">
    function animation(id, apinnm, apiid, pwd, token, token1, token2, txttokenpriority) {
        $('#txtapinm').val(apinnm);
        $('#IdnoEdit').val(id);
        $('#txtapiid').val(apiid);
        $('#txtpwd').val(pwd);
        $('#txttkn').val(token);
        $('#txttkn1').val(token1);
        $('#txttkn2').val(token2);
        $('#txttokenpriority').val(txttokenpriority);
        //$('#txteditpurcharers').val(purcahsers);
        //$('#txteditdmtverifyrs').val(moneyverifyrs);

    }

</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    function editss() {
        document.getElementById('save').style.display = "none";
        document.getElementById('edit').style.display = "block";
    } function cencless() {
        document.getElementById('save').style.display = "block";
        document.getElementById('edit').style.display = "none";
    }
    function savedataodrangewish() {

        var insmin = document.getElementById('Eimin').value;
        var insmax = document.getElementById('Eimax').value;
        var razmin = document.getElementById('ERmin').value;
        var razmax = document.getElementById('ERmax').value;
        var Uids = document.getElementById('EUserid').value;
        var rol = document.getElementById('ERole').value;


        $.ajax({
            url: '@Url.Action("savedataodrangewish", "Home")',
            data: { Uid: Uids, insmin: insmin, insmax: insmax, Razmin: razmin, Razmax: razmax, Role: rol },
    cache: false,
    type: "GET",
    success: function (data) {
        if (data == "Done") {


            document.getElementById('imin').innerHTML = insmin;
            document.getElementById('imax').innerHTML = insmax;
            document.getElementById('Rmin').innerHTML = razmin;
            document.getElementById('Rmax').innerHTML = razmax;



            document.getElementById('Eimin').value = insmin;
            document.getElementById('Eimax').value = insmax;
            document.getElementById('ERmin').value = razmin;
            document.getElementById('ERmax').value = razmax;
            document.getElementById('EUserid').value = Uids;
            document.getElementById('ERole').value = rol;

            cencless();
        }
        else {
            cencless();
        }
    }
});



    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$.ajax({
    url: '@Url.Action("dealerllist", "Home")',
    cache: false,
    type: "GET",
    success: function (data) {
        console.log(data);

        var dealerid = document.getElementById('dealerselect');

        var selectList = document.createElement("select");
        selectList.id = "mySelect";
        selectList.setAttribute("onchange", "Remlist()"); // Set the onchange attribute using setAttribute method
        var option = document.createElement("option");
        option.value = "";
        option.text = "Select distributor";
        selectList.appendChild(option);
        for (var i = 0; i < data.length; i++) {
            var option = document.createElement("option");
            option.value = data[i].DealerId;
            option.text = data[i].FarmName + " " + data[i].Email;
            selectList.appendChild(option);
        }

        dealerid.appendChild(selectList);
    }
});


    function Remlist() {

        var change = document.getElementById('mySelect').value;

        console.log(change);
        if (change != "") {
            $.ajax({
                url: '@Url.Action("Remllist", "Home")',
                data: { dealerid: change },
                cache: false,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    document.getElementById('retailerselect').innerHTML = "";
                    var dealerid = document.getElementById('retailerselect');

                    var selectList = document.createElement("select");
                    selectList.id = "mySelectrem";
                    selectList.setAttribute("onchange", "commisionlist()");
                    var option = document.createElement("option");
                    option.value = "";
                    option.text = "Select Retailer";
                    selectList.appendChild(option);
                    for (var i = 0; i < data.retailerids.length; i++) {
                        var option = document.createElement("option");
                        option.value = data.retailerids[i];
                        option.text = data.Frm_Names[i] + " " + data.Emails[i];
                        selectList.appendChild(option);
                    }

                    // Append the select list to the dealerid element
                    dealerid.appendChild(selectList);

                    document.getElementById('user').innerHTML = data.dealerEMail + '=>' + data.dealerFarm;
                    document.getElementById('vbmin').innerHTML = data.dealedetails[0].vastbazzar_min;
                    document.getElementById('vbmax').innerHTML = data.dealedetails[0].vastbazzar_max;
                    document.getElementById('imin').innerHTML = data.dealedetails[0].instatntpay_min;
                    document.getElementById('imax').innerHTML = data.dealedetails[0].instatntpay_max;
                    document.getElementById('Rmin').innerHTML = data.dealedetails[0].Razorpay_min;
                    document.getElementById('Rmax').innerHTML = data.dealedetails[0].razorpay_max;


                    document.getElementById('Euser').value = data.dealerEMail + '=>' + data.dealerFarm;
                    document.getElementById('Evbmin').value = data.dealedetails[0].vastbazzar_min;
                    document.getElementById('Evbmax').value = data.dealedetails[0].vastbazzar_max;
                    document.getElementById('Eimin').value = data.dealedetails[0].instatntpay_min;
                    document.getElementById('Eimax').value = data.dealedetails[0].instatntpay_max;
                    document.getElementById('ERmin').value = data.dealedetails[0].Razorpay_min;
                    document.getElementById('ERmax').value = data.dealedetails[0].razorpay_max;
                    document.getElementById('EUserid').value = data.dealedetails[0].Dealer_id;
                    document.getElementById('ERole').value = 'Dealer';




                }

            });
        }
        else {
            location.reload();
        }

    }


    function commisionlist() {

        var change = document.getElementById('mySelectrem').value;
        console.log(change);
        console.log(change);
        if (change != "") {
            $.ajax({
                url: '@Url.Action("Remllistbyid", "Home")',
                data: { retailerid: change },
                cache: false,
                type: "GET",
                success: function (data) {

                    document.getElementById('user').innerHTML = data.Emails + '=>' + data.Frm_Names;
                    document.getElementById('vbmin').innerHTML = data.retailerdetails[0].vastbazzar_min;
                    document.getElementById('vbmax').innerHTML = data.retailerdetails[0].vastbazzar_max;
                    document.getElementById('imin').innerHTML = data.retailerdetails[0].instatntpay_min;
                    document.getElementById('imax').innerHTML = data.retailerdetails[0].instatntpay_max;
                    document.getElementById('Rmin').innerHTML = data.retailerdetails[0].Razorpay_min;
                    document.getElementById('Rmax').innerHTML = data.retailerdetails[0].razorpay_max;


                    document.getElementById('Euser').value = data.Emails + '=>' + data.Frm_Names;
                    document.getElementById('Evbmin').value = data.retailerdetails[0].vastbazzar_min;
                    document.getElementById('Evbmax').value = data.retailerdetails[0].vastbazzar_max;
                    document.getElementById('Eimin').value = data.retailerdetails[0].instatntpay_min;
                    document.getElementById('Eimax').value = data.retailerdetails[0].instatntpay_max;
                    document.getElementById('ERmin').value = data.retailerdetails[0].Razorpay_min;
                    document.getElementById('ERmax').value = data.retailerdetails[0].razorpay_max;
                    document.getElementById('EUserid').value = data.retailerdetails[0].retailer_id;
                    document.getElementById('ERole').value = 'Retailer';
                }
            });
        }
        else {
            location.reload();
        }

    }

</script>