@model Vastwebmulti.Areas.ADMIN.Models.MasterDistributerModel
@using Vastwebmulti.Models;
@{
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var linkurl123 = DB1.Upload_Link.ToList();
    var outerlink = DB1.OuterUpload_Link.ToList();

    var imagmanual = DB1.Formservices.ToList();
    var Addforminfo = DB1.AddForm_information.ToList();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>More_Option</title>
    <style>
        /* New css  */
        #Outerother_links input {
            width: 100% !important;
            float: left;
        }

        /* New css  */

        .box_c #custnav {
            width: 75%;
            margin: auto !important;
            float: initial !important;
            margin-top: 5% !important;
            height: 500px;
        }
            .box_c #custnav .nav.nav-tabs {
                border: none;
            }
            .box_c #custnav li {
                width: 50%;
                float: left;
                margin: 0;
                padding: 3px;
            }

            .box_c #custnav a::before {
                content: initial;
            }

        .slab-first-tab {
            background: #fff;
            margin-left: 8px !important;
            margin-right: 8px !important;
        }

        .modal .modal-content .modal-body21 {
            color: #777;
            background: #ddd;
            height: 56px;
            border-bottom: 2px solid;
            padding: 15px 122px;
        }


        @@media only screen and (max-width:1280px) {

            section.content {
                margin: 75px 0px 0 160px;
            }
        }

        @@media only screen and (max-width:1169px) {

            .ls-closed section.content {
                margin-left: 0px;
            }
        }

        @@media only screen and (max-width:1024px) {

            #sidebar-open {
                top: 29px;
                left: -147px;
            }
        }

        @@media only screen and (max-width:767px) {
            #sidebar-open {
                top: -1px;
                left: -4px;
            }
            .box_c #custnav {
                width: 85%;
                height: auto;
            }
        }
        @@media only screen and (max-width:480px) {
            .box_c #custnav li {
                width: 100%;
                
            }
            
        }


    </style>
</head>

<body>
    <section class="content fourdesign-section-admin">
        <div id="loadermoney" class="loadermoney" style="display:none;"></div>

        <div class="box_c" style="width: 100%; float: left;">

            <div id="custnav" class="col-md-2 slab-first-tab page-header-third" style="padding: 5px; ">
                <h2 class="borderbottom-second">Category's</h2>
                <ul class="nav nav-tabs">
                    <li>

                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("ADDNEWSERVICES", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">ADD NEW SERVICE</a>  </button>

                    </li>
                    <li>
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("sellrechargeoptList", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">Sell Recharge Comm %</a>  </button>
                    </li>
                    <li><button data-toggle="modal" id="myModal123show" data-target="#myModal" class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> Nickname Changes</button></li>
                    <li><button data-toggle="modal" id="myModal123showdata1" data-target="#myModalnew" onclick="travel_hideshow()" class="fullbodydycolorbg for-button-upi back-button-third" style="width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> Travel & Card</button></li>
                    <li><button data-toggle="modal" id="myModal123showdata2" data-target="#myModal123" class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> Upload Links</button></li>
                    <li><button data-toggle="modal" id="myModal123showdata3" data-target="#myModal1234" class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> OuterUpload Links</button></li>
                    <li><button data-toggle="modal" id="myModallowbalsts" data-target="#myModallowbalsts123" class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; ">Low Balance Message</button></li>
                    <li><button data-toggle="modal" id="myModallowbalsts1" data-target="#myModalmanualform" class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; ">Manual Form</button></li>
                    <li>
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("Loanlimitset", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">Loan Setting</a>  </button>
                    </li> 
                    <li>
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("LoancommRemsts", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">Loan Retailer Status</a>  </button>
                    </li>
                    <li>
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("LoanHistory", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">Loan History</a>  </button>
     
                    </li><li>
                   
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("webappsetting", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">Retailer Login Status</a>  </button>
                        
                    </li><li>
                        <button class="fullbodydycolorbg for-button-upi back-button-third" style=" width: 100%; color: #fff; padding: 10px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "> <a href="@Url.Action("user_no_setting", "Home")" style="color: #777; font-size: inherit; font-weight: initial; ">User Mobile No. Status</a>  </button>
                    </li>


                </ul>
            </div>

        </div>


        <div id="myModalnew" class="modal fade  in allusershow-admin-modal" tabindex="-1" role="dialog" style="display: none; padding-right: 17px;">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;width:622px;background: #fff;">
                <div class="modal-content" style="box-shadow: none !important;">
                    <div class="modal-header" style="background:#eae9e9;padding: 10px 15px;margin: 15px 15px 0 15px;border: 0 !important;">
                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="float: right; line-height: 18px; margin-top: 5px; border: 2px solid var(--main-bg-lcolor); color: var(--main-bg-lcolor); background: #fff; font-size: 30px; padding: 14px 7px; margin-bottom: 4px;">
                            <span style="color: var(--main-bg-lcolor);font-size: 30px;margin: 0;position: relative;top: -11px;">x</span>
                        </button>
                        <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;">Hide and Show information </h2>
                        <span> <b>Note :- </b>Selected section will be <strong style="color:red;">hidden</strong> from the home screen </span>
                    </div>
                    <div class="modal-body" style="margin-top:0px;background:#f5f5f5;float: left;width: 100%;padding: 15px;">

                        <div class="third">
                            <ul class="smssetting-top backgfull-third lllkggt" style="display: flex; margin: 3px; justify-content: space-around; width: 99%;">
                                
                                <li style="width:20%; float:left;">
                                    <button type="button" class="btn  waves-effect for-select-mail" onclick="eselectAll1()" style="padding: revert;height:25px;">
                                        <i class="far fa-check-square" aria-hidden="true" style="color:var(--main-bg-lcolor);top:1px;"></i> <span style="top:-2px;">Block All</span>
                                    </button>
                                </li>
                                <li style="width:20%; float:left;">
                                    <button type="button" class="btn waves-effect for-select-mail text-center" onclick="eUnSelectAll1()" style="padding: revert;height:25px;">
                                        <i class="fa fa-square-o" aria-hidden="true" style="top:1px;"></i><span style="top:-2px;">Unblock All</span>
                                    </button>
                                </li>
                                <li class="button-seconddesign" style="width:60%; float:left;">
                                    <button type="button" id="SaveAll1" class="btn waves-effect fullbodydycolorbg btn-first" style="float: right; height: 25px; padding: 4px;" onclick="travel_hideshow_update()">
                                        <span style="color: #fff; top: -2px">Save Details</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="row" id="RechargeSlipCheckUncheck1">
                            <div class="col-md-12 col-sm-12 col-xs-12 co" style="margin: 8px;">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-6 co">
                                        <input type="checkbox" id="CARDS" value="CARDS" class="filled-in chk-col-red" name="acs11">
                                        <label for="CARDS" style="padding-left: 21px;">CARDS</label>
                                    </div>

                                    <div class="col-md-3 col-sm-4 col-xs-6 co">
                                        <input type="checkbox" id="TRAVEL" value="TRAVEL" class="filled-in chk-col-red" name="acs11">
                                        <label for="TRAVEL" style="padding-left: 21px;">TRAVEL</label>
                                    </div>

                                </div><!--.row-->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
                <div class="modal-content">
                    <div class="modal-header" style="background:#bbb;">
                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;
                    font-size: 14px;line-height: 18px;margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                            <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                        </button>
                        <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;">Nickname Changes</h2>

                    </div>
                    <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">
                        <div class="body">

                            @*<div class="table-responsive " style="width:100%; height:auto;" id="RemTblQRCODE">
                                    @Html.Partial("_NICKNAME_CHANGE")
                                </div>*@
                            <div class="body-two">
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="body-two">
                                            <div id="NICKNAMEOPTION" class="body table-responsive padding-topclass-third" style="background:var(--second-bg-color); ">
                                                @Html.Partial("_NICKNAME_CHANGE")

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-top: 3px solid var(--main-bg-lcolor);"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div id="myModal123" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
                <div class="modal-content">
                    <div class="modal-header" style="background:#bbb;">
                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;
                    font-size: 14px;line-height: 18px;margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                            <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                        </button>
                        <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;">Upload Third Party Links</h2>

                    </div>
                    <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">

                        <div class="row">

                            <div class="col-md-12 tmw-sp-i admin-apk current-tab-seconddesign">
                                <fieldset style="">
                                    <legend style="margin-bottom: -5px;">Upload Link</legend>

                                    <form onsubmit="return handleLinkSubmit(this)">
                                        <div class="form-group button-seconddesign tabcurrent-seconddesign">
                                            <input type="text" placeholder="Enter Link Name" style="width: 100% !important; margin-bottom: 18px;" id="Namelink1" name="Namelink1" />
                                            <input type="text" placeholder="Enter Link" style="width:100% !important; " id="uploadedlink" name="uploadedlink" />
                                            <button class="fullbodydycolorbg btn-first" type="submit" style="margin-top:15px; margin-bottom:10px;"><span style="color:#fff;position:relative;">Upload Link</span></button>
                                        </div>
                                    </form>





                                </fieldset>
                                <div class="col-md-12" id="axy">
                                    <div class="table-responsive" style="position:inherit;">
                                        <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="Uploadlinks">
                                            <table class="table table-bordered " style="width:100%;">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>

                                                        <th>Link Name</th>
                                                        <th>Links</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="other_links">

                                                    @foreach (var item in linkurl123)
                                                    {
                                                        <tr class="hidelink">

                                                            <td>
                                                                <p style="font-size:18PX;color:green;"></p>
                                                                <input type="text" id="txthdlink1" class="dummy" name="txthdlink1" readonly value="@item.Name" style="background:transparent;border:0px;" />
                                                            </td>

                                                            <td>
                                                                <p style="font-size:18PX;color:green;">
                                                                    <input type="text" id="txthdlink" class="dummy" name="txthdlink" readonly value="@item.Link" style="background:transparent;border:0px;" />

                                                                </p>
                                                            </td>
                                                            <td>

                                                                <button style="height: 24px;float: left;padding: 0px 3px;background: #777;border: 1px solid #bfbebe;margin-left: 2px;" onclick="myFunction(@item.idno)">Delete</button>

                                                            </td>
                                                        </tr>

                                                    }



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Outerlink-->
        <div id="myModal1234" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
                <div class="modal-content">
                    <div class="modal-header" style="background:#bbb;">
                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;
                    font-size: 14px;line-height: 18px;margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                            <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                        </button>
                        <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;width:78%;">
                            Upload Third Party Links

                            <div class="retalerrlist-add-button" style="width: auto; float: right;">
                                <button type="button" style="height: 30px; border: 1px solid #837c7c; padding: 3px 10px 2px 10px; margin-top: -3px; font-size: 14px; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: #fff; " data-toggle="modal" id="myModal123showdata1" data-target="#myModalnamechange" onclick="travel_hideshow()">Change name link</button>


                            </div>

                        </h2>

                    </div>
                    <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">

                        <div class="row">

                            <div class="col-md-12 tmw-sp-i admin-apk current-tab-seconddesign">
                                <fieldset style="">
                                    <legend style="">OuterUpload Link</legend>

                                    <form onsubmit="return handleLinkSubmit1(this)">
                                        <div class="form-group button-seconddesign tabcurrent-seconddesign">
                                            <input type="text" placeholder="Enter Link Name" style="width: 100% !important; margin-bottom: 18px;" id="Namelink11" name="Namelink11" />
                                            <input type="text" placeholder="Enter Link" style="width:100% !important; " id="uploadedlink1" name="uploadedlink1" />
                                            <button class="fullbodydycolorbg btn-first" type="submit" onClick="window.location.reload()" style="margin-top:15px; margin-bottom:10px;"><span style="color:#fff;position:relative;">Upload Link</span></button>
                                        </div>
                                    </form>

                                </fieldset>
                                <div class="col-md-12" id="axy">
                                    <div class="table-responsive" style="position:inherit;">
                                        <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="Uploadlinks">
                                            <table class="table table-bordered " style="width:100%;">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>

                                                        <th>Link Name</th>
                                                        <th>Links</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Outerother_links">

                                                    @foreach (var item in outerlink)
                                                    {
                                                        <tr class="hidelink">

                                                            <td>
                                                                <p style="font-size:18PX;color:green;"></p>
                                                                <input type="text" id="txthdlink11" class="dummy" name="txthdlink11" readonly value="@item.Name" style="background:transparent;border:0px;" />
                                                            </td>

                                                            <td>
                                                                <p style="font-size:18PX;color:green;">
                                                                    <input type="text" id="txthdlink1" class="dummy" name="txthdlink1" readonly value="@item.Link" style="background:transparent;border:0px;" />

                                                                </p>
                                                            </td>
                                                            <td>

                                                                <button style="height: 24px;float: left;padding: 0px 3px;background: #777;border: 1px solid #bfbebe;margin-left: 2px;" onclick="myFunction1(@item.idno)">Delete</button>

                                                            </td>
                                                        </tr>

                                                    }



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- model Name change link-->
        <div id="myModalnamechange" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;width:24%;">
                <div class="modal-content">
                    <div class="modal-header" style="background: #bbb; padding: 0px 9px 8px 10px !important;">

                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="background: none;">
                            <p style="float: left; font-size: 20px; font-weight: 800;">Change the Link Name<span style="float: right; color: var(--main-bg-lcolor); font-size: 30px; margin: 0; position: absolute;right: 19px;">x</span></p>

                        </button>
                    </div>
                    <div class="retailerlist-select" style="padding:20px;">
                        @using (Ajax.BeginForm("Add_ChangeName", new AjaxOptions { HttpMethod = "Post", OnSuccess = "RetailerMobSearch", LoadingElementId = "div-loader" }))
                        {
                            <div class="input-group classborder-thirddesign">
                                <div class="ffjkt">
                                    <input name="Name" type="text" @*maxlength="4"*@ required placeholder="Change Name" class="form-control" style="height: 27px !important; width: 242px; margin-left: 8px; padding: 12px; background: #f5f5f5; border: 1px solid #ccc; font-size: 12px; " @*onkeypress="return isNumber(event)"*@ />
                                    <div class="retailerlist-search" style="float: left; padding-left: 5px;">
                                        <button type="submit" id="chanenamelink" class="btn llpo input-back-second" style="border: 1px solid #b1a6a638; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: white; height: 29px; font-size: 14px; padding: 2px 10px; ">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>



        <div id="myModallowbalsts123" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
                <div class="modal-content">
                    <div class="modal-header" style="background:#bbb;">
                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;
                    font-size: 14px;line-height: 18px;margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                            <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                        </button>
                        <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;">Low Balance Alert Range</h2>

                    </div>
                    <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">
                        <div class="body">
                            <div class="body-two">
                                <div class="row clearfix">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="body-two">
                                            <div id="LOWBALRANGE" class="body table-responsive padding-topclass-third" style="background:var(--second-bg-color); ">
                                                @Html.Partial("Low_Bal_Range_Msg")

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-top: 3px solid var(--main-bg-lcolor);"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Modal manual form-->

        <div id="myModalmanualform" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="float: right; margin: 0px; width: 24%; background: white;">
                <div class="modal-content" style="">
                    <div class="modal-header" style="background: #bbb; padding: 0px 9px 8px 10px !important;">

                        <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="background: none;">
                            <p style="float: left; font-size: 20px; font-weight: 800;">Upload Service Name and image<span style="float: right; color: var(--main-bg-lcolor); font-size: 30px; margin: 0; position: absolute;right: 19px;">x</span></p>

                        </button>
                    </div>
                    <div class="retailerlist-select" style="">

                        @using (Html.BeginForm("Manual_FormName", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="input-group classborder-thirddesign" style="padding: 18px; background: #eaeae8; border-bottom: 2px solid var(--main-bg-lcolor);">
                                <div class="ffjkt">
                                    <input type="hidden" id="id" name="id">
                                    <input name="Name" type="text" maxlength="17" required placeholder="Upload Name" class="form-control" style="height: 27px !important; width: 175px; margin-left: 8px; padding: 12px; background: #f5f5f5; border: 1px solid #ccc; font-size: 12px; " @*onkeypress="return isNumber(event)"*@ />
                                    <div class="retailerlist-search" style="">
                                        <input type="file" name="ManualformFile" value="image" id="ManualformFile" class="custom-upload" accept="image/png" required style=" width: 28%; float: left; height: 27px; padding: 2px; border: 1px solid #ccc; margin-right: 11px; " />
                                        <button type="submit" id="manualsubmit" class="btn llpo input-back-second" style="border: 1px solid #b1a6a638; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: white; height: 26px; font-size: 14px; padding: 2px 10px; ">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>

                        }
                        <div class="col-md-12" id="axy" style="margin-top: 21px;">
                            <div class="table-responsive" style="position:inherit;">
                                <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="formmanual12">
                                    @Html.Partial("_Manualform")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---Addform_information-->
        <div class="modal fade" id="myModal55" role="dialog">
            <div class="modal-dialog">

                <!-- Form Modal content-->
                <div class="modal-content" style="height: 70vh;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body21">
                        <div class="bordered-2 " style="">

                            @using (Html.BeginForm("Addform_Userinfomation", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="number" id="idnoInput" name="idnoInput" class="form-control" style="display:none;" />
                                <div style="width:70%;float:left;">
                                    <input name="Name" type="text" maxlength="17" required placeholder="Text" class="form-control" style=" height: 30px !important; width: 215px; margin-left: 8px; padding: 10px; background: #ffffff; border: 1px solid #ccc; font-size: 12px; margin-top: -2px; } " @*onkeypress="return isNumber(event)"*@ />
                                </div>
                                <div style="width:30%;float:right;">
                                    <button type="submit" id="manualsubmit1" class="btn llpo input-back-second" style="border: 1px solid #b1a6a638; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: white; height: 26px; font-size: 14px; padding: 2px 10px; ">
                                        Save
                                    </button>
                                </div>

                            }

                            <div class="col-md-12" id="axy" style="margin-top: 21px; overflow-y: scroll; height: 50vh;">
                                <div class="table-responsive" style="position:inherit;">
                                    <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="manualaddinfomatin">
                                        @Html.Partial("_Addforminfo")
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>

</body>
</html>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script>
    function setItemId(id) {
        $('#idnoInput').val(id);
    }
</script>

<script>
    $('#chanenamelink').click(function () {
        location.reload();
    });
</script>

<script>

    $('#Manualdelete').click(function () {
        location.reload();
    });

</script>

<script>
    function myFunctionform(id) {

          $.ajax({
            url: '@Url.Action("EditAdd_Userinfobyid", "Home")',
              data: {id:id},

              success: function (data) {
                  $('#manualaddinfomatin').html(data);
            }
        });
    }

</script>


<script>
    function formEditmode1(id) {

          $.ajax({
            url: '@Url.Action("FormEditByID", "Home")',
              data: {id:id},

              success: function (data) {
                  $('#formmanual12').html(data);
            }
        });
    }

</script>
<script>

    function handleLinkSubmit(e) {
        if (!e.Namelink1.value || !e.uploadedlink.value) {
            alert('field required');
            return false;
        }
        $.ajax({
            url: '@Url.Action("Upload_Link", "Home")',
            type: 'POST',
            data: { Namelink1: e.Namelink1.value, uploadedlink: e.uploadedlink.value },
                success: function (data) {
                    getOtherLinks();
            }
        });
        return false;
    }

    function myFunction(idno) {
            $.ajax({

            url: '@Url.Action("DeleteLINK", "Home")',
            type: 'POST',
            data: { idno: idno },
                success: function (data) {
                    getOtherLinks()
            }
        });
    }

    function getOtherLinks() {
        $.ajax({

            url: '@Url.Action("other_links", "Home")',
            type: 'GET',
            success: function (data) {
                $('#other_links').empty();

                Array.from(data).forEach(data => {
                    var _body = `<tr class="hidelink">

                                                            <td>
                                                                <p style="font-size:18PX;color:green;"></p>
                                                                <input type="text" id="txthdlink1" class="dummy" name="txthdlink1" readonly value="${data.Name}" style="background:transparent;border:0px;" />
                                                            </td>

                                                            <td>
                                                                <p style="font-size:18PX;color:green;">
                                                                    <input type="text" id="txthdlink" class="dummy" name="txthdlink" readonly value="${data.Link}" style="background:transparent;border:0px;" />

                                                                </p>
                                                            </td>
                                                            <td>

                                                                <button style="height: 24px;float: left;padding: 0px 3px;background: #777;border: 1px solid #bfbebe;margin-left: 2px;" onclick="myFunction(${data.idno})">Delete</button>

                                                            </td>
                                                        </tr>`;
                    $('#other_links').append(_body);
                })

            }
        });
    }


</script>


<script>

    function handleLinkSubmit1(e) {
        if (!e.Namelink11.value || !e.uploadedlink1.value) {
            alert('field required');
            return false;
        }
        $.ajax({
            url: '@Url.Action("OuterUpload_Link", "Home")',
            type: 'POST',
            data: { Namelink11: e.Namelink11.value, uploadedlink1: e.uploadedlink1.value },
                success: function (data) {
                    getOtherLinks1();
            }
        });
        return false;
    }

    function myFunction1(idno1) {
        debugger;
            $.ajax({

            url: '@Url.Action("OuterDeleteLINK", "Home")',
            type: 'POST',
                data: { idno1: idno1 },
                success: function (data) {
                    getOtherLinks1()
            }
        });
    }

    function getOtherLinks1() {
        $.ajax({

            url: '@Url.Action("Outerother_links", "Home")',
            type: 'GET',
            success: function (data) {
                $('#Outerother_links').empty();

                Array.from(data).forEach(data => {
                    var _body = `<tr class="hidelink">

                                                            <td>
                                                                <p style="font-size:18PX;color:green;"></p>
                                                                <input type="text" id="txthdlink11" class="dummy" name="txthdlink11" readonly value="${data.Name}" style="background:transparent;border:0px;" />
                                                            </td>

                                                            <td>
                                                                <p style="font-size:18PX;color:green;">
                                                                    <input type="text" id="txthdlink1" class="dummy" name="txthdlink1" readonly value="${data.Link}" style="background:transparent;border:0px;" />

                                                                </p>
                                                            </td>
                                                            <td>

                                                                <button style="height: 24px;float: left;padding: 0px 3px;background: #777;border: 1px solid #bfbebe;margin-left: 2px;" onclick="myFunction1(${data.idno1})">Delete</button>

                                                            </td>
                                                        </tr>`;
                    $('#Outerother_links').append(_body);
                })

            }
        });
    }


</script>

<script type="text/javascript">
    function eselectAll1() {
        var items = document.getElementsByName('acs11');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    function eUnSelectAll1() {
        var items = document.getElementsByName('acs11');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }
</script>
<script type="text/javascript">
    $(function () {
        @*function travel_hideshow() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Status_on_off", "Home")',
                cache: false,
                dataType: 'json',
                async: true,
                success: function (data) {
                    var obj = data;

                    for (var item in obj) {
                        var sts = obj[item].status;
                        var name = obj[item].MenuName;
                        if (sts == "Y") {
                            $("#" + name + "").prop("checked", true);
                        }
                    }
                }
            });
        }*@
    });
</script>
<script>

    function travel_hideshow() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Status_on_off", "Home")',
                cache: false,
                dataType: 'json',
                async: true,
                success: function (data) {
                    var obj = data;

                    for (var item in obj) {
                        var sts = obj[item].Status;
                        var name = obj[item].MenuName;
                        if (sts == "Y") {
                            $("#" + name + "").prop("checked", true);
                        }
                        else {
                            $("#" + name + "").prop("checked", false);
                        }
                    }
                }
            });
        }
    function travel_hideshow_update() {
            var optCode = []

            $("#RechargeSlipCheckUncheck1 input").each(function () {
                if ($(this).prop('checked') == true) {
                    optCode.push($(this).val() + ",Y");
                }
                if ($(this).prop('checked') == false) {
                    optCode.push($(this).val() + ",N");
                }
            });

            //document.getElementById("loadermoney").style.display = "block";

            $.ajax({
                type: "POST",
                url: '@Url.Action("Status_on_offSettingSave", "Home")',
                data: { 'ch': optCode },
                cache: false,
                dataType: 'json',
                async: true,

                success: function (data) {
                    var pp = data.status;
                    var mm = data.Message;
                    if (pp) {

                        /*document.getElementById("loadermoney").style.display = "none";*/
                        toastr.success('SUCCESS', 'Travel/Card Hide Show');
                    }
                    else {
                        toastr.error(mm, ' Travle and Card Error');
                    }

                }
            });

        }
</script>




<script>
    function Editmode1(id) {

          $.ajax({
            url: '@Url.Action("EditnicknameByID", "Home")',
              data: {id:id},

              success: function (data) {
                  $('#NICKNAMEOPTION').html(data);
            }
        });
    }

</script>


<script>
    function Editmode1lowbal(id) {

          $.ajax({
            url: '@Url.Action("Low_Bal_Range_MsgById", "Home")',
              data: {id:id},

              success: function (data) {
                  $('#LOWBALRANGE').html(data);
            }
        });
    }

</script>