@model Vastwebmulti.Areas.ADMIN.Models.Notify
@{
    ViewBag.Title = "Notification";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    /* new css */
    .tab-sam-start .card {
        background: #fff;
    }
    .tmw-notifications .tab-content.current, .tmw-notifications .tab-content2.current2 {
        background: #fff;
    }
    .bread-same-all-page li {
        margin: 6px 0;
    }
    .tmw-notifications .tab-content2 .holiday-cal ul li.three {
        width: 30%;
    }
    .tmw-notifications .tab-content2 .holiday-cal ul li.four {
        padding-left: 8px;
    }
    /* new css */

    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/Progess.svg') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }


    table.table.table-responsive.tests input.custom-checkbox {
        position: inherit;
        opacity: inherit;
    }
</style>
<style>
    .dropdown-menu {margin-top: 81px !important;}

    .custom-district-selectclass .custom-district::after {display: none;}
    .customer-support-time tr th, .customer-support-time tr td, .customer-support-time tr, .customer-support-time table, .customer-support-time tr th {
        border: 1px solid #ccc;
    }
        .customer-support-time tr td button {
            border: 1px solid #ccc;padding: 2px 10px;background: #f0f0f0;height:32px;
        }
        .customer-support-time tr td input {
            width: 100%;padding: 1px 2px;text-align: center;box-shadow: none !important;
            outline: none !important;border:1px solid #ccc;height:32px;
        }
        .customer-support-time tr td select {border: 1px solid #ccc;padding: 4px 0;height:32px;}
    .customer-support-time .popup_img {width: 100%;float: left;}
    .customer-support-time .popup_img .width100.margin0, .customer-support-time .popup_img ul, .customer-support-time .popup_img .width100.margin0, .customer-support-time .popup_img ul li {
        width: 100%;float: left;text-align: center;
    }
        .customer-support-time .popup_img h2 {padding: 8px 0 !important;color: #555;}
    .customer-support-time .appslider-admin table tr td a {float: left;}
    .customer-support-time .appslider-admin table tr td form {
        float: left;padding-left: 5px;
    }
    .app-content-class ul {display:flex;}


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media screen and (max-width:767px){
        .customer-support-time tr th, .customer-support-time tr td, .customer-support-time tr, .customer-support-time table, .customer-support-time tr th {
            white-space:nowrap;
        }
        .notification-customer ul.tabs2 li {width: 33.3% !important;border-bottom: 2px solid #fff;}
        .notification-customer ul.tabs2 li:nth-child(3) {border-right: 0;}
        .notification-customer ul.tabs2 li:nth-child(4), .notification-customer ul.tabs2 li:nth-child(5) {
            width: 50% !important;border-bottom-color: #a4a0a0;
        }
        .notification-customer ul.tabs2 li.current2 {border-bottom: 2px solid #000;}
        .app-content-class ul {display: block;}
        .app-content-class ul li {
            margin: 0 !important;float: left;width: 50% !important;padding-right: 3px;
            margin-bottom: 10px !important;min-height: 34px !important;
        }
        .app-content-class .popup_img.width100 li {
            width: 100% !important;margin: 0px !important;padding: 0px !important;
        }
        .customer-support-time .appslider-admin table tr td img {max-width: 118px;}

    }

    @@media only screen and (max-width:480px){

        .tab-link {
            font-size: 12px;
        }
        .tmw-notifications .tab-content2 ul.tk1 li.two {
            width: 100%;
        }
        .tmw-notifications .tab-content2 ul.tk1 li.three {
            width: 100%;
            margin-top: 4px;
        }
        .tmw-notifications .tab-content2 ul li {
            width: 100% !important;
        }

    }

</style>

<div id="loadermoney" class="loadermoney" style="display: none;"></div>
<section class="content tmw-notifications">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Notification</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Notification</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting &nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        News & alerts
                    </li>
                </ul>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="page-header-third">
                    <ul class="tabs tab-seconddesign tab-third-design">
                        <li class="tab-link current" data-tab="tab-1">App Notification</li>
                        <li class="tab-link" data-tab="tab-2">Web Notification Setting</li>
                    </ul>
                    <div id="tab-1" class="tab-content current input-border-third">
                        <div class="tab-sam-start">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card" style="margin:0;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="left-menu fullbodydycolorbg">
                                                    <div class="testmenu">
                                                        <div class="left-item-one fullbodydycolorbg">
                                                            <h2>The test</h2>
                                                        </div>
                                                        @*<img src="~/Custom-Animation/Custom-img/mobile-phone-variant.svg" />*@
                                                        <div class="body">
                                                            @using (Html.BeginForm("Send_Notification", "Home", FormMethod.Post))
                                                            {
                                                                <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                                                    <div class="col-md-12">
                                                                        <label for="email_address_2">Select Users</label>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <div class="Dropdown-ee">
                                                                                @Html.DropDownList("Userform1", new List<SelectListItem> {
                                                                    new SelectListItem { Text = "ALL User's", Value= "All" },
                                            new SelectListItem { Text = "Master Distributor's", Value= "Master" },
                                            new SelectListItem { Text = "Distributor's", Value= "Distributor" },
                                             new SelectListItem { Text = "Retailer's", Value= "Retailer" },
                                            new SelectListItem { Text = "API User's", Value= "APIUser" },
                                            new SelectListItem { Text = "Whitelabel User's", Value= "Whitelabel" },
                                            new SelectListItem { Text = "Indivisual User's", Value= "Indivisual" },
                                              }, new { @class = "selectpicker form-control border-0", data_live_search = "true" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="display:none;" id="user">
                                                                    <div class="col-md-12">
                                                                        <label for="email_address_2">User Email</label>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="AC-em">
                                                                            @Html.TextBox("txtUserid", "", new { @class = "form-control", @placeholder = "Enter Email-Id" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row bottom-textarea tabcurrent-seconddesign">
                                                                    <div class="col-md-12">
                                                                        <label for="email_address_2">Message</label>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <div class="">
                                                                                @Html.TextArea("txtMsgBody", "", new { onkeyup = "apna(this)", maxlength = 160, @class = "form-control dienb", @placeholder = "Enter Message Here", style = "height:143px" })
                                                                                @*<ul id="sms-counter"><li>Remaining : <span class="remaining"></span></li></ul>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="left-item-two fullbodydycolorbg">
                                                                    <div class="form-group">
                                                                        <div class="col-md-12 text-center">
                                                                            <button type="submit" id="start_button" class="btn waves-effect btnssl22 special-iii test pull-left" onclick="verify()" disabled data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                                                <span>Send Notification</span>
                                                                            </button>
                                                                            <button id="btn" type="reset" class="btn waves-effect special-iii pull-right">
                                                                                <span>Reset</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--#tab-1-->

                    <div id="tab-2" class="tab-content">
                        <div class="tab-sam-start">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="right-menu">
                                        <div class="right-menu-one rightmenuone-second">
                                            <!--User Create-->
                                            <div class="card">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <div class="demo-checkbox">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="row sam">
                                                                        <div class="col-md-9 col-sm-8 col-xs-9">
                                                                            <span>Admin Notification </span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-4 col-xs-3">
                                                                            <input type="checkbox" id="Admin" value="Admin" class="filled-in chk-col-red" name="acs">
                                                                            <label for="Admin"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row sam">
                                                                        <div class="col-md-9 col-sm-8 col-xs-9">
                                                                            <span>Master Notification</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-4 col-xs-3">
                                                                            <input type="checkbox" id="Master" value="Master" class="filled-in chk-col-red" name="acs">
                                                                            <label for="Master"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row sam">
                                                                        <div class="col-md-9 col-sm-8 col-xs-9">
                                                                            <span>Distributor Notification</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-4 col-xs-3">
                                                                            <input type="checkbox" id="Distributor" value="Distributor" class="filled-in chk-col-red" name="acs">
                                                                            <label for="Distributor"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row sam">
                                                                        <div class="col-md-9 col-sm-8 col-xs-9">
                                                                            <span>Retailer Notification</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-4 col-xs-3">
                                                                            <input type="checkbox" id="Retailer" value="Retailer" class="filled-in chk-col-red" name="acs">
                                                                            <label for="Retailer"></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row sam">
                                                                        <div class="col-md-9 col-sm-8 col-xs-9">
                                                                            <span>API User Notification</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-4 col-xs-3">
                                                                            <input type="checkbox" id="ApiUser" value="ApiUser" class="filled-in chk-col-red" name="acs">
                                                                            <label for="ApiUser"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <div class="bottom-buttons">
                                                <ul>
                                                    <li class="fullbodydycolorbg"></li>
                                                    <li class="fullbodydycolorbg"></li>
                                                    <li class="fullbodydycolorbg"></li>
                                                    <li class="last">
                                                        <button type="button" id="SaveAll" class="btn btnssl2233 special-iii" onclick='this.form' data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><span>Save Changes</span> </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="right-menu-two hto-bordercolor-second">
                                            <h2>Bottom</h2>
                                            <h3>Bottom Two</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--#tab-2-->
                </div>
            </div>
            @* ====================================================================== *@
            <div class="col-md-8 col-sm-12 col-xs-12 notification-customer">
                <div class="page-header-third">

                    <ul id="mmmmnnnn" class="tabs2 tab-seconddesign tab-third-design">
                        <li class="tab-link current2" style=" width: 19.33%;" data-tab="tab-3"> <img src="~/images/reportimage/Desktop 1.svg" style="width:14px;" alt="Desktop Img" />&nbsp;Desktop Popup</li>
                        <li class="tab-link" data-tab="tab-4" style=" width:19.33%;"><img src="~/img/calnder.svg" alt="Calender" style="width:14px;" />&nbsp;Holiday Setting</li>
                        <li class="tab-link" data-tab="tab-5" style=" width:19.33%;"><img src="~/img/live-news-report.svg" style="width:14px;" alt="Live News" />&nbsp;Live News</li>
                        <li class="tab-link tbbbbb" data-tab="tab-6" style="width:19.33%;"><img src="~/img/live-news-report.svg" style="width:14px;" alt="Live News" />&nbsp;App Slider</li>
                        <li class="tab-link tbbbbb" data-tab="tab-7" style="width: 22%; display: flex; justify-content: center;"><img src="~/img/live-news-report.svg" style="width:14px;" alt="Support Time" />&nbsp;Customer&nbsp;Support&nbsp;Time</li>
                    </ul>


                    <div id="tab-3" class="tab-content2 current2">

                        @using (Html.BeginForm("Notification", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <ul class="tk1">
                                <li class="one tabcurrent-seconddesign">
                                    <textarea id="headercontent" name="headercontent" class="form-control" placeholder="Enter Header Content" required="" maxlength="70"></textarea>
                                </li>
                                <li class="two">
                                    <input type="file" name="file" id="file" class="custom-upload" required />
                                    <label for="file" style="width:91px;">Browse...</label>
                                </li>
                                <li class="three buttonsearch-second">
                                    <button type="submit" class="btn waves-effect">
                                        <span style="top:0px;color:black;">Upload Image</span>
                                    </button>
                                </li>
                            </ul>

                        }

                        <div class="tab2-sam2-start2">
                            <div class="popup_img width100 float-left">
                                <ul class="width100 float-left margin0">
                                    <li>
                                        <h2>Popup Image</h2>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Delete_desktopsts","Home")" style="text-decoration:none;">
                                            <button type="button" class="btn btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Delete</button>
                                        </a>

                                    </li>
                                    <li>
                                        @if (ViewData["but"] == "OPEN")
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_desktopsts","Home",new {sts="Y" })" style="text-decoration:none;">
                                                    <button type="button" class="btn" style="background-color:green;color:white;">Status ON</button>
                                                </a>
                                            </center>
                                        }
                                        else
                                        {
                                            <center>
                                                <a href="@Url.Action("Update_desktopsts","Home",new {sts="N" })" style="text-decoration:none;">
                                                    <button type="button" class="btn" style="background-color:red;color:white;">Status OFF</button>
                                                </a>
                                            </center>

                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="popup_img_second float-left width100">
                                @if (ViewBag.ImageURL != "")
                                {
                                    <img src="@Url.Content("~/"+@ViewBag.ImageURL)" class="img-responsive" />
                                }


                            </div>



                        </div><!--.tab2-sam2-start2-->
                    </div><!--#tab-3-->

                    <div id="tab-4" class="tab-content2">
                        <div class="holiday-cal width100 float-left">
                            <ul class="width100 float-left">
                                @using (Ajax.BeginForm("HolidayAdd", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
                                {
                                    <li class="two">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                        @Html.TextBox("date", "", new { @class = "timepicker-actions-exmpl width100 float-left", @placeholder = "Select Date & Time", required = "required", @style = "padding-left:40px;" })
                                    </li>
                                    <li class="three tabcurrent-seconddesign">
                                        @Html.TextBox("desc", "", new { @placeholder = "Enter Description", @style = "padding-left:10px;", required = "required" })
                                    </li>
                                    <li>
                                        <select id="id_select2_example" name="holydayimages" style="width: 180px;">
                                        
                                            
                                            @for(int i=0; i<30; i++)
                                            {
                                                var set = "Holiday/Holiday/" + i + ".svg";
                                        <option value="@set" data-img_src="../../@set"></option>
                                            }



                                            @*<option data-img_src="https://sdtimes.com/wp-content/uploads/2018/09/Java-logo-490x301.jpg"></option>
                                            <option data-img_src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/783373/1160/772/m1/fpnw/wm0/letter-c-cm-.png?1447712834&s=c2ab07fcddfa8acf10c5a0c40f0578c2"></option>*@
                                        </select>
                                        <!-- /content -->
                                        <!-- scripts -->
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
                                        <script type="text/javascript">
                                            function custom_template(obj) {
                                                var data = $(obj.element).data();
                                                var text = $(obj.element).text();
                                                if (data && data['img_src']) {
                                                    img_src = data['img_src'];
                                                    template = $("<div><img src=\"" + img_src + "\" style=\"width:100%;height:150px;\"/><p style=\"font-weight: 700;font-size:14pt;text-align:center;\">" + text + "</p></div>");
                                                    return template;
                                                }
                                            }
                                            var options = {
                                                'templateSelection': custom_template,
                                                'templateResult': custom_template,
                                            }
                                            $('#id_select2_example').select2(options);
                                            $('.select2-container--default .select2-selection--single').css({ 'height': '155px' });

                                        </script>
                                    </li>
                                    <li class="four ">
                                        <input type="submit" class="btn special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" value="Save" />
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="tab2-sam2-start2">
                            <div id="divEmp" class="table-responsive">
                                <table class="table table-bordered example-second" style="text-align:center;">
                                    <thead>
                                        <tr>

                                            <th>Holiday&nbsp;Date</th>
                                            <th>Day&nbsp;Info</th>
                                            <th>Full&nbsp;Description</th>
                                            <th>image</th>
                                            <th>DEL</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.Holiday.Count() > 0)
                                        {

                                            foreach (var item in Model.Holiday)
                                            {
                                                var date = item.HolidayDate;
                                                var day = Convert.ToDateTime(date).ToString("dddd");
                                                <tr>
                                                    <td>@item.HolidayDate</td>
                                                    <td>@day</td>
                                                    <td>@item.HolidayName</td>
                                                    <td>
                                                        <img style="width:100px;" src="@item.images" />
                                                    </td>
                                                    @*<td>
                                            @if (item.isAepsBlocked == true)
                                            {
                                                <button onclick="blockunblock('AEPS','@item.HolidayDate')" type="button" class="btn green-button">Unblock</button>
                                            }
                                            else
                                            {
                                                <button onclick="blockunblock('AEPS','@item.HolidayDate')" type="button" class="btn red-button">Blocked</button>
                                            }
                                        </td>
                                        <td>
                                            @if (item.isMposBlocked == true)
                                            {
                                                <button onclick="blockunblock('MPOS','@item.HolidayDate')" type="button" class="btn green-button">Unblock</button>
                                            }
                                            else
                                            {
                                                <button onclick="blockunblock('MPOS','@item.HolidayDate')" type="button" class="btn red-button">Blocked</button>
                                            }
                                        </td>*@
                                                    <td>
                                                        <button onclick="delet('@item.HolidayDate')" class="btnssl2233 custom-loading" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width:28px;height: 25px;background:transparent;border: 1px solid #bbb;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width: 14px;display: block;margin: auto;">
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!--#tab-4-->

                    <div id="tab-5" class="tab-content2 custom-district-selectclass">
                        <ul class="live_news_ul width100 float-left">
                            <li class="one">
                                <div class="custom-district">
                                    @Html.DropDownList("ddlUser", new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="All User",Value="All",},
                                        new SelectListItem{Text="Master Distributor",Value="Master"},
                                        new SelectListItem{Text="Distributor",Value="Distributor"},
                                        new SelectListItem{Text="Retailer",Value="Retailer"},
                                        new SelectListItem{Text="Api User",Value="Api"},
                                        new SelectListItem{Text="White Label",Value="Whitelabel"},
                                        new SelectListItem{Text="Outer News",Value="Outer"}
                                      }, new { @class = "form-control", @onchange = "ddlchange(this.value)" })
                                </div>
                            </li>
                            <li class="two">
                                <div class="custom-district" id="outerddl">
                                    @Html.DropDownList("ddlType", new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text="Type Of Header",Value="",},
                                       new SelectListItem{Text="News",Value="Great News"}
                                       //new SelectListItem{Text="Need Help",Value="Need Help"}
                                     }, new { @class = "form-control", @onchange = "userval(this.value)" })
                                </div>
                                <div class="custom-district" id="retailerddl" style="display:none;">
                                    @Html.DropDownList("ddlretailer", new List<SelectListItem>
                                    {
                                       new SelectListItem{Text="Aeps Notification",Value="Aeps Notification"},
                                       new SelectListItem{Text="Bank Notification",Value="BankNotification"},
                                       new SelectListItem{Text="BusBooking",Value="Bus Booking"},
                                       new SelectListItem{Text="DTH Offers",Value="DTHOffers"},
                                       new SelectListItem{Text="Electricity Aleart",Value="ElectricityAleart"},
                                       new SelectListItem{Text="Finger Print Device",Value="FingerPrintDevice"},
                                       new SelectListItem{Text="Flight Booking",Value="Flight Booking"},
                                       new SelectListItem{Text="Fraud Alert",Value="FraudAlert"},
                                       //new SelectListItem{Text="GATEWAY",Value="GATEWAY"},
                                       new SelectListItem{Text="Holiday Notification",Value="HolidayNotification"},
                                       new SelectListItem{Text="Hot Deals",Value="Hot Deals"},
                                       new SelectListItem{Text="Hotel Notification",Value="HotelNotification"},
                                       new SelectListItem{Text="Important News",Value="Important News"},
                                       new SelectListItem{Text="important Notification",Value="importantNotification"},
                                       new SelectListItem{Text="Invoices Information",Value="InvoicesInformation"},
                                       new SelectListItem{Text="Loan Information",Value="LoanInformation"},
                                       new SelectListItem{Text="Micro ATM Notification",Value="MicroATMNotification"},
                                       new SelectListItem{Text="Money Transfer",Value="MoneyTransfer"},
                                       new SelectListItem{Text="New Service",Value="New Service"},
                                       new SelectListItem{Text="Operator Down",Value="Operator Down"},
                                       new SelectListItem{Text="Operator Up",Value="Operator Up"},
                                       new SelectListItem{Text="Pancard Offers",Value="PancardOffers"},
                                       new SelectListItem{Text="Referal Program",Value="ReferalProgram"},
                                       new SelectListItem{Text="Special Offers",Value="SpecialOffers"},
                                       new SelectListItem{Text="Super Dhamaka",Value="SuperDhamaka"},
                                       new SelectListItem{Text="Thermal Printer Offer",Value="ThermalPrinterOffer"},
                                       new SelectListItem{Text="Traget Achive",Value="TragetAchive"},
                                       new SelectListItem{Text="Train Booking",Value="TrainBooking"},
                                       new SelectListItem{Text="UPI",Value="UPI"},
                                       new SelectListItem{Text="Wishes Message",Value="WishesMessage"},

                                     }, new { @class = "form-control", @onchange = "userval(this.value)" })
                                </div>

                                <div class="custom-district" id="masteranddealer" style="display:none;">
                                    @Html.DropDownList("ddlretailer", new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text="Type Of Header",Value="",},
                                       new SelectListItem{Text="New Service",Value="New Service"},
                                       new SelectListItem{Text="Important News",Value="Important News"}
                                     }, new { @class = "form-control", @onchange = "userval(this.value)" })
                                </div>

                            </li>
                            <li class="three three-inputcsstextarea">
                                <div class="textareafirst tabcurrent-seconddesign" style="width:50%;float:left;padding-right:5px;">
                                    <textarea id="txtHeader" name="txtHeader" class="form-control" placeholder="Enter Header"></textarea>
                                </div>
                                <div class="textareafirst tabcurrent-seconddesign" style="width:50%;float:left;padding-left:5px;">
                                    <textarea id="txtmessage" name="txtmessage" class="form-control" placeholder="Enter Message"></textarea>
                                </div>
                            </li>
                            <li style="display:none;">
                                <input type="hidden" id="ddltypeee" name="ddltypeee" value="">
                            </li>
                            <li class="five buttonsearch-second">
                                <button type="button" onclick="LiveNewschk()" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save</button>

                            </li>

                        </ul>
                        <ul>
                            <li>
                                <label id="errr" style="color:red;"></label>
                            </li>
                        </ul>
                        <div class="tab2-sam2-start2">
                            <div class="table-responsive">
                                <table class="table table-bordered example-second" id="LiveNewTbl">
                                    <thead>
                                        <tr>
                                            <th>Users</th>
                                            <th>UseFor</th>
                                            <th>Header</th>
                                            <th>Message</th>
                                            <th>img</th>
                                            <th>Status</th>
                                            <th>DEL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.messagetop.Count() > 0)
                                        {
                                            foreach (var item in Model.messagetop)
                                            {
                                                <tr>
                                                    <td>@item.users</td>
                                                    <td>@item.name</td>
                                                    <td>@item.Header</td>
                                                    <td>@item.message</td>
                                                    <td>
                                                        <img src="@Url.Content("../.."+@item.image)" alt="no Img" />


                                                    </td>

                                                    <td>
                                                        <div class="onoffswitch status onoffswitch-secondclass">
                                                            @if (item.status == "Y")
                                                            {
                                                                <center>
                                                                    @*<a href="@Url.Action("blockmessage", "Home", new { id = item.idno })">*@
                                                                    <span class="costom-on custom-on-secondbutton" onclick="blockNews(@item.idno)">on</span>
                                                                    @*</a>*@
                                                                </center>
                                                            }
                                                            else
                                                            {
                                                                <center>
                                                                    @*<a href="@Url.Action("blockmessage", "Home", new { id = item.idno })">*@
                                                                    <span class="custom-off custom-off-secondbutton" onclick="blockNews(@item.idno)">off</span>
                                                                    @*</a>*@
                                                                </center>

                                                            }

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <center class="btnssl2233 custom-loading" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width:28px;background:transparent;border: 1px solid #bbb;">
                                                            @*<a href="@Url.Action("delMessage", "Home", new { id = item.idno })">*@
                                                            <span onclick="delNews(@item.idno)">
                                                                <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;">
                                                            </span>
                                                            @*</a>*@
                                                        </center>


                                                    </td>

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><p style="font-size:22px;margin-top:20px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                <td></td>

                                                <td></td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!--#tab-5-->

                    <div id="tab-6" class="tab-content2 app-content-class">

                        @using (Html.BeginForm("Add_app_Slider", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <ul class="tk1">
                                <li class="one tabcurrent-seconddesign" style="width: 24%;">
                                    <input type="text" id="Appheadercontent" name="Appheadercontent" class="form-control" placeholder="Enter Header Content" required="" maxlength="35" />

                                </li>
                                <li class="one tabcurrent-seconddesign" style="width: 24%;">
                                    <textarea id="app_slidedescription" name="app_slidedescription" class="form-control" placeholder="Enter Description" required="" maxlength="160"></textarea>
                                </li>
                                <li class="two" style="width: 24%;">
                                    <input type="file" name="appsliderfile" id="appsliderfile" class="custom-upload" accept="image/png" required />
                                    <label for="appsliderfile" style="width:91px;">Browse...</label>

                                </li>
                                <li class="three buttonsearch-second" style="width: 22%;">
                                    <button type="submit" id="btnsubmitsss" name="btnsubmitsss" class="btn waves-effect">
                                        <span style="top:0px;color:black;">Upload Image</span>
                                    </button>
                                </li>
                            </ul>

                        }

                        <div class="tab2-sam2-start2 customer-support-time">
                            <div class="popup_img width100">
                                <ul class="width100  margin0">
                                    <li style=" float: left;">
                                        <h2>Slider For App</h2>
                                    </li>
                                    <!--<li>-->
                                    @*@using (Html.BeginForm("Delete_APP_Images", "Home", FormMethod.Post))
                        {
                            <input type="hidden" value="" name="hdcheckvalues" id="hdcheckvalues" />
                            <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" id="btndeleteappslider"> Delete</button>
                        }*@
                                    @*<a href="@Url.Action("Delete_APP_Images","Home")" style="text-decoration:none;">
                            <button type="button" class="btn btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Delete</button>
                        </a>*@

                                    <!--</li>-->

                                </ul>
                            </div>
                            <div class="appslider-admin" style="width:100%;float:left;overflow:auto;">

                                <table class="table table-responsive tests">
                                    <thead>
                                        <tr>
                                            <th>
                                                Header name
                                            </th>
                                            <th>
                                                Discription
                                            </th>
                                            <th>
                                                Slides
                                            </th>
                                            <th>
                                                Current status
                                            </th>
                                            <!--<th>-->
                                            @*<input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                                Select ALL*@
                                            <!--Action
                            </th>-->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.appsliders != null)
                                        {
                                            foreach (var itemss in Model.appsliders)
                                            {
                                                <tr>
                                                    <td>@itemss.appheader</td>
                                                    <td>@itemss.Discription</td>
                                                    <td><img src="data:image/png;base64,@itemss.sliderimages" alt="" class="img-responsive" /></td>
                                                    <td>
                                                        @if (itemss.slidestatus == "Y")
                                                        {

                                                            <a href="@Url.Action("Update_APPSLIDER","Home",new {sts="N",idno=itemss.id })" class="onoffswitch status onoffswitch-secondclass" style="text-decoration:none;">
                                                                <span class="costom-on custom-on-secondbutton">on</span>
                                                            </a>

                                                        }
                                                        else
                                                        {

                                                            <a href="@Url.Action("Update_APPSLIDER","Home",new {sts="Y",idno=itemss.id })" class="onoffswitch status onoffswitch-secondclass" style="text-decoration:none;">
                                                                <span class="custom-off custom-off-secondbutton">off</span>
                                                            </a>



                                                        }

                                                        @using (Html.BeginForm("Delete_APP_Images", "Home", FormMethod.Post))
                                                        {
                                                            <input type="hidden" value="@itemss.id" name="hdcheckvalues" />

                                                            <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" style="width: 28px; background: transparent !important;padding:1px 0;height:auto; border: 1px solid #bbb;">
                                                                <span>
                                                                    <img src="~/MainFrontDesign/images/delete.svg" style="width:16px;">
                                                                </span>
                                                            </button>
                                                        }

                                                    </td>
                                                    @*<td>
                                            <input type="checkbox" name="typesid" value="@itemss.id" class="custom-checkbox chkCheckBoxId" />
                                        </td>*@

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3">No data</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>

                            @*<div class="popup_img_second float-left width100">

                    <img src="@Url.Content("~/"+@ViewBag.ImageURL)" class="img-responsive" />

                </div>*@



                        </div><!--.tab2-sam2-start2-->
                    </div><!--#tab-6-->
                    <div id="tab-7" class="tab-content2">



                        <div class="tab2-sam2-start2 customer-support-time">
                            <div class="popup_img width100 ">
                                <ul class="width100  margin0">
                                    <li style=" float: left;">
                                        <h2>Customer Support Time</h2>
                                    </li>
                                    <!--<li>-->
                                    @*@using (Html.BeginForm("Delete_APP_Images", "Home", FormMethod.Post))
                        {
                            <input type="hidden" value="" name="hdcheckvalues" id="hdcheckvalues" />
                            <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" id="btndeleteappslider"> Delete</button>
                        }*@
                                    @*<a href="@Url.Action("Delete_APP_Images","Home")" style="text-decoration:none;">
                            <button type="button" class="btn btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Delete</button>
                        </a>*@

                                    <!--</li>-->

                                </ul>
                            </div>
                            <div class="" style="width:100%;float:left;overflow:auto;">

                                <table class="table table-responsive tests">
                                    <thead>
                                        <tr>
                                            <th>
                                                Day info
                                            </th>
                                            <th>
                                                Opening Time
                                            </th>
                                            <th>
                                                Clossing Time
                                            </th>
                                            <th>
                                                Current status
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            <!--<th>-->
                                            @*<input type="checkbox" id="checkBoxAll" class="custom-checkbox" />
                                Select ALL*@
                                            <!--Action
                            </th>-->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemss in Model.customertimelist)
                                        {
                                            var timsformateopen = string.Format("{0:hh:mm:ss tt}", itemss.openingtime);
                                            var timsformateclose = string.Format("{0:hh:mm:ss tt}", itemss.clossingtime);
                                            <tr>
                                                <td>@itemss.nameofday</td>
                                                <td>

                                                    <div class="timeshowclass" id="opentimeshow_@itemss.idno">
                                                        <span id="spntimefrom_@itemss.idno">

                                                            @timsformateopen


                                                        </span>
                                                    </div>

                                                    <div style="display:none;" class="timehideclass" id="opentimenotshow_@itemss.idno">
                                                        <input type="time" id="txttimeopen_@itemss.idno" />
                                                    </div>

                                                </td>
                                                <td>

                                                    <div class="timeshowclass" id="closetimeshow_@itemss.idno">
                                                        <span id="spntimeclose_@itemss.idno">

                                                            @timsformateclose



                                                        </span>
                                                    </div>


                                                    <div style="display:none" class="timehideclass" id="closetimenotshow_@itemss.idno">
                                                        <input type="time" id="txttimeclose_@itemss.idno" />
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="timeshowclass" id="stsidshow_@itemss.idno">
                                                        @{string dasss = @itemss.status == "Y" ? "OPEN" : "CLOSE";}
                                                        <span id="spnsts_@itemss.idno">   @dasss</span>
                                                    </div>
                                                    <div class="timehideclass" id="ddlstsid_@itemss.idno" style="display:none;">
                                                        <select id="ddlopenclosestatus_@itemss.idno">
                                                            <option value="Y" @(itemss.status == "Y" ? "selected" : "")>OPEN</option>
                                                            <option value="N" @(itemss.status == "N" ? "selected" : "")>CLOSE</option>
                                                        </select>
                                                    </div>

                                                </td>

                                                <td>
                                                    <div class="timeshowclass" id="editbtnshow_@itemss.idno">
                                                        <button type="button" onclick="Editbtn('@itemss.idno')">Edit</button>
                                                    </div>
                                                    <div style="display:none" class="timehideclass" id="savebtnnotshow_@itemss.idno">
                                                        <button type="button" onclick="SaveTimeInformation('@itemss.idno')">Save</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>

                                </table>

                            </div>

                            @*<div class="popup_img_second float-left width100">

                    <img src="@Url.Content("~/"+@ViewBag.ImageURL)" class="img-responsive" />

                </div>*@



                        </div><!--.tab2-sam2-start2-->
                    </div>
                </div>
            </div>
            @* ======================================================================== *@
        </div><!--.row-->
    </div>
</section>

<link href="~/MainFrontDesign/css/datepicker.min.css" rel="stylesheet" />
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script src="~/img/js/datepicker.min.js"></script>
<script src="~/img/js/datepicker.en.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function Editbtn(idno) {
        
        $('.timeshowclass').show();
        $('.timehideclass').hide();
        var btnedit = "editbtnshow_" + idno;
        var btnsave = "savebtnnotshow_" + idno;
        var opentmeshow = "opentimeshow_" + idno;
        var opentimenotshow = "opentimenotshow_" + idno;
        var closetimeshow = "closetimeshow_" + idno;
        var stsidshow = "stsidshow_" + idno;
        var closetimenotshow = "closetimenotshow_" + idno;
        var ddlstsid = "ddlstsid_" + idno;
        var closetimenotshow = "closetimenotshow_" + idno;
        $('#'+btnedit).hide();
        $('#' + btnsave).show()
        $('#' + opentmeshow).hide();
        $('#' + opentimenotshow).show();
        $('#' + closetimeshow).hide();
        $('#' + stsidshow).hide();
        $('#' + closetimenotshow).show();
        $('#' + ddlstsid).show();



    }


    function SaveTimeInformation(idno) {
        
        var fromtime=  $('#txttimeopen_' + idno).val();
        var totime = $('#txttimeclose_' + idno).val();
        var spntimefrom = "spntimefrom_" + idno;
        var spnclose = "spntimeclose_" + idno;
        var spnstss = "spnsts_" + idno;
        var ddlopenclosestatus = "ddlopenclosestatus_" + idno;
      
        var dataa = { idno: idno, fromtime: fromtime, totime: totime, statuscurrent: $('#' + ddlopenclosestatus).val() }
         $.ajax({
            type: "POST",
            url: '@Url.Action("Addscheduletime", "Home")',
             data: dataa,
            success: function (data) {
                if (data.sts == 'OK') {
                    

                    var converdattinformate = new Date(parseInt(data.openstime.replace("/Date(", "").replace(")/", ""), 10));
                    converdattinformate = converdattinformate.toLocaleTimeString()
                    $('#' + spntimefrom).text(converdattinformate);
                    converdattinformate = new Date(parseInt(data.closingtime.replace("/Date(", "").replace(")/", ""), 10));
                    converdattinformate = converdattinformate.toLocaleTimeString()
                    $('#' + spnclose).text(converdattinformate);
                    if (data.currentsts == "Y") {
                        $('#' + spnstss).text('Open');
                    } else {
                        $('#' + spnstss).text('Close');
                    }
                    $('#' + ddlopenclosestatus).val(data.currentsts);
                    $('.timeshowclass').show();
                    $('.timehideclass').hide();

                }
            }
        })


    }

</script>
<script>
    function delet(date) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Deleteholiday", "Home")',
            data: { date: date },
            success: function (data) {
                        $("#divEmp").load(location.href + " #divEmp");
            }
        })
    }
    function blockunblock(type,date) {
           $.ajax({
            type: "POST",
            url: '@Url.Action("Updateholiday", "Home")',
            data: {type:type, date: date },
            success: function (data) {
                        $("#divEmp").load(location.href + " #divEmp");
            }
        })
    }
</script>

<script>
    function Success() {
        $("#desc").val("");
        $("#date").val("");
        $("#divEmp").load(location.href + " #divEmp");
    }
</script>

<script>

    $('#Userform1').on('change', function () {
        var responseId = $(this).val();
        if (responseId == "Indivisual") {
            document.getElementById("user").style.display = "block";
        }
        else {
            document.getElementById("user").style.display = "none";
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SaveAll").click(function () {
                     var optCode = []
                     $("input:checkbox(:checked)").each(function () {
                         if ($(this).prop('checked') == true) {
                             optCode.push($(this).val() + ",Y");
                         }
                         if ($(this).prop('checked') == false) {
                             optCode.push($(this).val() + ",N");
                         }
                     });
                     //document.getElementById("loadermoney").style.display = "block";
                     $.ajax({
                         type: "POST",
                         url: '@Url.Action("PushNotificationSave", "Home")',
                         data: { 'ch': optCode },
                         cache: false,
                         dataType: 'json',
                         async: true,
                         success: function (data) {
                             var pp = data.status;
                             var mm = data.Message;

                             if (pp == "Success") {
                                 $.ajax({
                                     type: "GET",
                                     url: '@Url.Action("Check_UnchekPushNotification", "Home")',
                                     cache: false,
                                     dataType: 'html',
                                     async: true,
                                     success: function (data) {
                                         var obj = JSON.parse(data);
                                         for (var item in obj) {
                                             var sts = obj[item].Status;
                                             var name = obj[item].ServiceName;
                                             if (sts == "Y") {
                                                 $("#" + name + "").prop("checked", true);
                                             }
                                         }
                                     }
                                 });

                             }
                         }
                     });
                     return true;

        });

        });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Check_UnchekPushNotification", "Home")',
            cache: false,
            dataType: 'html',
            async: true,
            success: function (data) {
                var obj = JSON.parse(data);
                for (var item in obj) {
                    var sts = obj[item].Status;
                    var name = obj[item].UserRole;
                    if (sts == "Y") {
                        $("#" + name + "").prop("checked", true);
                    }
                }
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        $(".sweet-alert").addClass("fullbodydycolorbg");
    });
</script>
@* For Calender *@
<script>
    // Create start date
    var start = new Date(),
        prevDay,
        startHours = 9;

    // 09:00 AM
    start.setHours(24);
    start.setMinutes(0);

    // If today is Saturday or Sunday set 10:00 AM
    if ([6, 0].indexOf(start.getDay()) != -1) {
        start.setHours(24);
        startHours = 9
    }

    $('.timepicker-actions-exmpl').datepicker({
        timepicker: false,
        language: 'en',
        startDate: start,
        minDate: new Date(),
        onSelect: function (fd, d, picker) {
            // Do nothing if selection was cleared
            if (!d) return;

            var day = d.getDay();

            // Trigger only if date is changed
            if (prevDay != undefined && prevDay == day) return;
            prevDay = day;

            // If chosen day is Saturday or Sunday when set
            // hour value for weekends, else restore defaults
            if (day == 6 || day == 0) {
                picker.update({
                    minHours: 24,
                    maxHours: 24
                })
            } else {
                picker.update({
                    minHours: 24,
                    maxHours: 24
                })
            }
        }
    })
</script>
<script>

    function userval(val) {
        
        $('#ddltypeee').val(val)
    }




    function LiveNewschk() {
        var ddlUser = $('#ddlUser').val();
        var txtmessage = $('#txtmessage').val();
        var ddlType = $('#ddltypeee').val();
        var header = $('#txtHeader').val();
        if (txtmessage != "" && ddlType != "") {
              $.ajax({
            url: '@Url.Action("Message", "Home")',
            type: 'POST',
            data: { ddltop: ddlUser, txtmessage: txtmessage, txtname:ddlType,txtheader:header },
                  success: function (dlmresponse) {
                   $('#errr').text("");
                var dlmtblHtml = "";
                var i = 0;
                $.each(dlmresponse, function (a, b) {
                    dlmtblHtml += "<tr><td style='display:none;'>" + b.idno + "</td>";
                    dlmtblHtml += "<td>" + b.users + "</td>";
                    dlmtblHtml += "<td>" + b.name + "</td>";
                    dlmtblHtml += "<td>" + b.Header + "</td>";
                    dlmtblHtml += "<td>" + b.message + "</td>";
                    dlmtblHtml += "<td><img src=../../" + b.image + " /></td>";
                    dlmtblHtml += (b.status === "Y" ? "<td><div class='onoffswitch status'><span class='costom-on' onclick='blockNews(" + b.idno + ")'>" + "on" + "</span></div></td>" : "<td><div class='onoffswitch status'><span class='custom-off' onclick='blockNews(" + b.idno +")'>" + "off" + "</span></div></td>")
                    dlmtblHtml += "<td><center class='btnssl2233 custom-loading' style='width: 28px; background: transparent; border: 1px solid #bbb;'><span onclick='delNews(" + b.idno +")'><img src='../../MainFrontDesign/images/delete.svg' style='width: 16px;'/></span></center</td></tr>";

                    i++;
                });
                $('#LiveNewTbl > tbody').html(dlmtblHtml);
            }
          });
        }
        else {
            $('#errr').text("Message and Header Are Required *");
        }
    }
</script>
<script>
    function converttoDate(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
        return dd = [day, mnth, date.getFullYear()];
    }




</script>

<script>
 function delNews(id) {

        $.ajax({
            url: '@Url.Action("delMessage", "Home")',
            type: 'POST',
            data: { id: id },
            cache: false,
            success: function (dlmresponse) {
                var dlmtblHtml = "";
                var i = 0;
                $.each(dlmresponse, function (a, b) {
                    dlmtblHtml += "<tr><td style='display:none;'>" + b.idno + "</td>";
                    dlmtblHtml += "<td>" + b.users + "</td>";
                    dlmtblHtml += "<td>" + b.name + "</td>";
                    dlmtblHtml += "<td>" + b.Header + "</td>";
                    dlmtblHtml += "<td>" + b.message + "</td>";
                    dlmtblHtml += "<td><img src=../../" + b.image + " /></td>";
                    dlmtblHtml += (b.status === "Y" ? "<td><div class='onoffswitch status'><span class='costom-on' onclick='blockNews(" + b.idno + ")'>" + "on" + "</span></div></td>" : "<td><div class='onoffswitch status'><span class='custom-off' onclick='blockNews(" + b.idno +")'>" + "off" + "</span></div></td>")
                    dlmtblHtml += "<td><center class='btnssl2233 custom-loading' style='width: 28px; background: transparent; border: 1px solid #bbb;'><span onclick='delNews(" + b.idno +")'><img src='../../MainFrontDesign/images/delete.svg' style='width: 16px;'/></span></center</td></tr>";

                    i++;
                });
                $('#LiveNewTbl > tbody').html(dlmtblHtml);
            }
        });
    }



    function blockNews(id) {
        $.ajax({
            url: '@Url.Action("blockmessage", "Home")',
            type: 'POST',
            data: { id: id },
            cache: false,
            success: function (dlmresponse) {
                var dlmtblHtml = "";
                var i = 0;
                $.each(dlmresponse, function (a, b) {
                    dlmtblHtml += "<tr><td style='display:none;'>" + b.idno + "</td>";
                    dlmtblHtml += "<td>" + b.users + "</td>";
                    dlmtblHtml += "<td>" + b.name + "</td>";
                    dlmtblHtml += "<td>" + b.Header + "</td>";
                    dlmtblHtml += "<td>" + b.message + "</td>";
                    dlmtblHtml += "<td><img src=../../" + b.image + " /></td>";
                    dlmtblHtml += (b.status === "Y" ? "<td><div class='onoffswitch status'><span class='costom-on' onclick='blockNews(" + b.idno + ")'>" + "on" + "</span></div></td>" : "<td><div class='onoffswitch status'><span class='custom-off' onclick='blockNews(" + b.idno +")'>" + "off" + "</span></div></td>")
                    dlmtblHtml += "<td><center class='btnssl2233 custom-loading' style='width: 28px; background: transparent; border: 1px solid #bbb;'><span onclick='delNews(" + b.idno +")'><img src='../../MainFrontDesign/images/delete.svg' style='width: 16px;'/></span></center</td></tr>";

                    i++;
                });
                $('#LiveNewTbl > tbody').html(dlmtblHtml);
            }
        });
    }
</script>
<script>
    function ddlchange(role) {

        if (role === "Retailer") {
            $('#outerddl').hide();
            $('#retailerddl').show();
            $('#masteranddealer').hide();
        }
        if (role === "Master") {
            $('#outerddl').hide();
            $('#retailerddl').hide();
            $('#masteranddealer').show();
        }
        if (role === "Api") {
            $('#outerddl').hide();
            $('#retailerddl').show();
            $('#masteranddealer').hide();
        }
        if (role === "Whitelabel") {
            $('#outerddl').hide();
            $('#retailerddl').show();
            $('#masteranddealer').hide();
        }
        if (role === "Master") {
            $('#outerddl').hide();
            $('#retailerddl').hide();
            $('#masteranddealer').show();
        }
        if (role === "Distributor") {
            $('#outerddl').hide();
            $('#retailerddl').hide();
            $('#masteranddealer').show();
        }
        if (role === "Outer") {
            $('#outerddl').show();
            $('#retailerddl').hide();
            $('#masteranddealer').hide();
        }
        if (role === "All") {
            $('#outerddl').show();
            $('#retailerddl').hide();
            $('#masteranddealer').hide();
        }
    }
</script>


<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });



</script>
@*<script>
        $(document).ready(function () {

            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chkCheckBoxId").prop("checked", true)
                }
                else {
                    $(".chkCheckBoxId").prop("checked", false)
                }

            })
        })
        $('#checkBoxAll').click(function () {



        })
        $('#btndeleteappslider').on('click', function () {
            $('#hdcheckvalues').val("");
            var array = [];
            
            if ($("input:checkbox[name=typesid]:checked").length > 0) {
                $("input:checkbox[name=typesid]:checked").each(function () {
                    array.push($(this).val());
                });
                $('#hdcheckvalues').val(array);
            }
            else {
                return false;
            }
        });


    </script>*@
<script>
    var currentss = '@TempData["cueerntdtabeopen"]';
    
    if (currentss != '') {

        $('#mmmmnnnn li.current2').removeClass('current2');
        $('.tbbbbb').addClass('current2');
        $('.tab-content2.current2').removeClass('current2');
        $('#tab-6.tab-content2').addClass('current2');

    }


    var errorimages = '@TempData["Errormsgtype"]';

    if (errorimages == "PNGIMG") {
        swal("","Image must be only in PNG format", "error");

    }
    else if (errorimages == "IMGSIZE") {
        swal("", "Maximum images height can be 322 Pixels", "error");
    }
</script>