
@{
    ViewBag.Title = "offer_income";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .info-box {
        box-shadow: none;
        background: whitesmoke;
    }

        .info-box .content .number {
            margin-top: 1px;
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="row" style="margin-top:6px;margin-bottom:-25px;">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box" style="height:auto;margin-left:2px;">
                                        <div class="icon" style="background-color:#dddddd42;">
                                            <img src="~/offerimg/airtel.png" class="img-responsive" style="padding-top:1px;" />
                                        </div>
                                        <div class="content">
                                            <div class="text" style="font-size:11px;">AIRTEL OFFER</div>
                                            <div style="text-align:center;" class="number count-to" data-from="0" data-to="@ViewData["airtel"]" data-speed="1000" data-fresh-interval="20">@ViewData["airtel"]</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box" style="height:auto;">
                                        <div class="icon" style="background-color:#dddddd42;">
                                            <img src="~/offerimg/vodafone.png" class="img-responsive" style="padding-top:1px;" />
                                        </div>
                                        <div class="content">
                                            <div class="text" style="font-size:11px;">VODAFONE OFFER</div>
                                            <div style="text-align:center;" class="number count-to" data-from="0" data-to="@ViewData["voda"]" data-speed="1000" data-fresh-interval="20">@ViewData["voda"]</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box" style="height:auto;">
                                        <div class="icon" style="background-color:#dddddd42;">
                                            <img src="~/offerimg/idea.png" class="img-responsive" style="padding-top:1px;" />
                                        </div>
                                        <div class="content">
                                            <div class="text" style="font-size:11px;">IDEA OFFER</div>
                                            <div style="text-align:center;" class="number count-to" data-from="0" data-to="@ViewData["idea"]" data-speed="1000" data-fresh-interval="20">@ViewData["idea"]</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="info-box" style="height:auto;margin-right:2px;">
                                        <div class="icon" style="background-color:#dddddd42;">
                                            <i class="material-icons" style="font-size:52px;line-height:64px;color:#d4d3d3 !important">add_circle_outline</i>
                                        </div>
                                        <div class="content">
                                            <div class="text" style="font-size:11px;">TOTAL OFFER</div>
                                            <div style="text-align:center;" class="number count-to" data-from="0" data-to="@ViewData["TOTAL"]" data-speed="1000" data-fresh-interval="20">@ViewData["TOTAL"]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-11" style="margin-top:-17px;">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-14px;margin-top:1px;">
                            @Html.Partial("menuoperatorreport")
                        </div>

                    </div>
                    @using (Html.BeginForm("offer_income", "Home", FormMethod.Post))
                    {
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group" style="margin-bottom:0px;margin-top:5px;">
                                        <div class="" style="margin-top:4px;">
                                            @Html.DropDownList("new_opt_code", ViewBag.optnm as SelectList, "ALL OPERATOR", new { id = "new_opt_code", @class = " form-control", data_live_search = "true", @style = "height:32px;padding:0px;" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group" style="margin-bottom:0px;margin-top:2px;">
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <center>
                                        <button type="submit" class="btn" style="margin-top:6px; margin-left: -18px; height:34px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>
            @*<div class="col-md-1">
                <button id="btnExl">Excel</button>
                <button id="btnPDF">PDF</button>
            </div>*@
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="" style="margin-top:8px;">
                        <div class="body table-responsive " style="position:inherit;padding:7px;">
                            <table class="table table-bordered">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Port No</th>
                                        <th>Message</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin">
                                    @{
                                        Html.RenderAction("_offer_income", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script type="text/javascript">
		$(document).ready(function()
		{
		    $('.input-daterange').datepicker({
		        format: "yyyy-mm-dd",
		        todayHighlight: true,
		        autoclose: true,
		        orientation: "bottom auto",

		    });
		    var val = '@ViewBag.chk';
		    if (val != "post") {
		        $("#txt_frm_date").datepicker("setDate", new Date());
		        $("#txt_to_date").datepicker("setDate", new Date());
		    }
				});
</script>

<script>
    var pageindex = 2;
    var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
        
        if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_offer_income", "Home")",
                    { new_opt_code: $('#new_opt_code').val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val(), pageIndex: pageindex },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
    });


</script>

<script>
    $("#btnExl").click(function(){
       var txt_frm_date = $('#txt_frm_date').val();
       var txt_to_date = $('#txt_to_date').val();
        var allretailer = $('#allretailer').val();

        var url = '@Url.Action("Excel_Roffer_Income", "Home")?allretailer=' + allretailer + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
       location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var allretailer = $('#allretailer').val();

         var url = '@Url.Action("PDF_Roffer_Income", "Home")?allretailer=' + allretailer + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
         window.open(url,'_blank' // <- This is what makes it open in a new window.
    );
    });
</script>