@model Vastwebmulti.Areas.ADMIN.Models.Bal
@{
    ViewBag.Title = "Operator_lapu_report";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminDesign/css/themes/all-themes.css" rel="stylesheet" />
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    @Html.Partial("menuoperatorvalue")
                   </div>
            </div>
       
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top: -15px;height: 60px;">
                        <h2 style="padding-top:18px; font-size:22px; padding-left:9px;">
                            <label style="color:#e91e63;">Lapu Grand Total :&nbsp;</label><label>@ViewData["SumOfLapu"]</label>
                        </h2>
                    </div>
                </div>
          
        </div>
      <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:-37px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            Com Wise Total Lapu Balance
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-25px;">
                            <table class="table table-bordered">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Port No</th>
                                        <th>Lapu No</th>
                                        <th>Sim No</th>
                                        <th>Operator Name</th>
                                        <th>Lapu Balance</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.singlelapu)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.PortNo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.phone)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Simno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SimBal)</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:-36px;">
              <div class="card">
                  <div class="">
                      <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                          Operator Wise Total Lapu Balance
                      </h2>
                  </div>
                  <div class="body" style="margin-top:-25px;">
                      <div class="table-responsive">
                          <table class="table table-bordered" style="position:inherit;">
                              <thead class="navbar" style="color:white;position:inherit;">
                                  <tr>
                                      <th>Operator Name</th>
                                      <th>Lapu Balance</th>
                                  </tr>
                              </thead>
                              @foreach (var item in Model.Alllapu)
                              {
                                  <tbody>
                                      <tr>
                                          <td>@Html.DisplayFor(modelItem => item.optname)</td>
                                          <td>@Html.DisplayFor(modelItem => item.lapubal)</td>
                                      </tr>
                                  </tbody>
                              }
                          </table>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </div>
</section>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>






