@model IEnumerable<Vastwebmulti.Models.select_operator_retailer_Result> 
@{
    ViewBag.Title = "OTPBLOCKREM";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
       .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div style="margin-left:1px;">
                                @Html.Partial("_menuoperatorcode")
                            </div>
                        </div>
                        @using (Html.BeginForm("OTPBLOCKREM", "Home", FormMethod.Post))
            {
                            <div class="col-md-4">

                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="form-line" style="margin-top:5px;padding-bottom:3px;">
                                                @Html.DropDownList("opttype", ViewBag.opttype as SelectList, "Operator Type", new { id = "opttype", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-bottom:0px; width:150px;">
                                            <div class="form-line" style="margin-top:5px;padding-bottom:3px;">
                                                @Html.DropDownList("rem", ViewBag.retailer as SelectList, "Select Retailer", new { id = "rem", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;", @required = "required" })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <center>
                                            <button type="submit" class="btn btn-default waves-effect" style="margin-top:5px; height:34px;margin-left:-50px;border:1px solid #dddddd;">
                                                <span style="top:0px;color:black;">Submit</span>
                                            </button>
                                        </center>
                                    </div>

                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>
                <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:7px;">
                <div class="card">

                        <div class="body" style="margin-top:-25px;padding:8px;">
                        <div class="body table-responsive" style="position:inherit;padding:0px;">
                            <table class="table table-bordered ">
                                <thead  style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Operator Name</th>
                                        <th>Operator Type</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            var color1 = "#424242";
                                            var color = "#fff";
                                            if (item.Operator_type == "PrePaid")
                                            {
                                                color1 = "#484343";
                                                color = "#f7f1f3";
                                            }
                                            else if (item.Operator_type == "PostPaid")
                                            {
                                                color1 = "#484343";
                                                color = "#25c59121";
                                            }
                                            else if (item.Operator_type == "Landline")
                                            {
                                                color1 = "#484343";
                                                color = "#2531c51a";
                                            }
                                            else if (item.Operator_type == "Insurance")
                                            {
                                                color1 = "#484343";
                                                color = "#c525c01a";
                                            }
                                            else if (item.Operator_type == "Gas")
                                            {
                                                color1 = "#484343";
                                                color = "#c3c5251a";
                                            }
                                            else if (item.Operator_type == "Electricity")
                                            {
                                                color1 = "#484343";
                                                color = "#71c5251a";
                                            }
                                            else if (item.Operator_type == "DTH")
                                            {
                                                color1 = "#484343";
                                                color = "#13090f1a";
                                            }
                                            <tr style="background-color: @color;color:@color1;">
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.opt_name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Operator_type)
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(modelItem => item.status)
                                                    @{
                                                        if (@item.status == true)
                                                        {
                                                            <center>
                                                                <a href="@Url.Action("OTPBLOCKREM", new { id = item.Operator_id, rem = item.RetailerId,opttype=item.Operator_type })" style="text-decoration:none;">
                                                                    <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                                </a>
                                                            </center>

                                                        }
                                                        else
                                                        {
                                                            <center>
                                                                <a href="@Url.Action("OTPBLOCKREM", new { id = item.Operator_id, rem = item.RetailerId,opttype=item.Operator_type })" style="text-decoration:none;">
                                                                    <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                                </a>
                                                            </center>
                                                            
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                                            i++;
                                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


