
@{
    ViewBag.Title = "Outer_Page_Border";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="col-md-10">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#000000a6; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Admin Outer Page Border
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px; margin-right:7px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                 <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                    <span style="top:-1px;">Add New</span>
                                </button>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-21px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>Admin&nbsp;Outer&nbsp;Border</th>
                                                    <th><center>Edit</center></th>
                                                    <th><center>Delete</center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.border)
                                                {
                                                    <tr>
                                                        <td>@item.Border</td>
                                                        <td>
                                                            <center>
                                                                <button id="but" class="btn btn-default waves-effect" onclick="animation('@item.ID','@item.Border')" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" data-toggle="modal" data-target="#defaultModal1">
                                                                    Edit
                                                                </button>
                                                            </center>
                                                         
                                                        </td>
                                                        <td>
                                                            <center>
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:none;border:1px solid #c7c2c2;" onclick="delmessage('@item.ID')">
                                                                    Delete
                                                                </button>
                                                            </center>
                                                       
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
        

        
    </div>
</section>
<!--Add New  modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Admin Outer Theme Border</h4>
            </div>
            @using (Html.BeginForm("Insert_AdminOuterBorder", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Bank Name</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBox("txtborder", "", new { @class = "form-control", placeholder = "Enter Border Like:-1px solid Color Name", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit   modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Outer Theme Border</h4>
            </div>
            @using (Html.BeginForm("Edit_Outerborder", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                @Html.Hidden("txtidno")
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Border</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBox("txtBorderedit", "", new { @class = "form-control", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<!--Insert Popuop-->
<script>
        window.onload = function()
        {
            var message = '@TempData["success"]'
            if (message != "" && message != null)
            {
                if (message.includes("successfully")) {
                    swal("Insert Item!", message, "success");
                }
                else {
                    swal("Oops!", message, "error");
                }
            }
                       //Edit Message
            var editdata = '@TempData["edit"]'
            if (editdata != null && editdata != "")
            {
                swal("Update Item!", editdata, "success");
            }

        }
</script>

<script type="text/javascript">
     var val1 = "";
     function animation(ID,Border) {
         $("#txtBorderedit").val(Border);
         $("#txtidno").val(ID);
     }
</script>
<!--Delete-->
<script type="text/javascript">

    function delmessage(e) {

        swal({
            title: "Are you sure?",
            text: "Do you want to delete Outer Border Data " + e + " !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delBorderinfo", "Home")', data: { id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Data Removed!", "Outer Border Deleted Successfully.", "success");
                var url = '@Url.Action("Outer_Page_Border", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Outer_Page_Border", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>
<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>

