@model IEnumerable<Vastwebmulti.Models.total_report_Result>
@{
    ViewBag.Title = "Outer_color";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminDesign/css/sp.css" rel="stylesheet" />
<link href="~/AdminDesign/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content outer-colos-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
               
                   
                        <div class="card">
                            
                                <div class="demo-button ">
                                   
                                        
                                            @Html.Partial("ColorPartial")
                                       
                                   
                                </div>
                          
                        </div>
                   
               
            </div>
            <div class="col-md-10">
                @*<div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-18px; margin-bottom:30px;">
                            <div class="card">
                                <div class="">
                                    <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                        INSIDE COLOR
                                    </h2>
                                </div>

                                <div class="body">

                                    <div class="demo-radio-button" style="width:103%;">
                                        <input name="group" type="radio" id="radio_7" value="red" class="radio-col-red" checked="" onclick="val()">
                                        <label for="radio_7">RED</label>
                                        <input name="group" type="radio" id="radio_8" value="pink" class="radio-col-pink" onclick="val()">
                                        <label for="radio_8">PINK</label>
                                        <input name="group" type="radio" id="radio_9" value="purple" class="radio-col-purple" onclick="val()">
                                        <label for="radio_9">PURPLE</label>
                                        <input name="group" type="radio" id="radio_10" value="deep-purple" class="radio-col-deep-purple" onclick="val()">
                                        <label for="radio_10">DEEP PURPLE</label>
                                        <input name="group" type="radio" id="radio_11" value="indigo" class="radio-col-indigo" onclick="val()">
                                        <label for="radio_11">INDIGO</label>
                                        <input name="group" type="radio" id="radio_12" value="blue" class="radio-col-blue" onclick="val()">
                                        <label for="radio_12">BLUE</label>
                                        <input name="group" type="radio" id="radio_13" value="light-blue" class="radio-col-light-blue" onclick="val()">
                                        <label for="radio_13">LIGHT BLUE</label>
                                        <input name="group" type="radio" id="radio_14" value="cyan" class="radio-col-cyan" onclick="val()">
                                        <label for="radio_14">CYAN</label>
                                        <input name="group" type="radio" id="radio_15" value="teal" class="radio-col-teal" onclick="val()">
                                        <label for="radio_15">TEAL</label>
                                        <input name="group" type="radio" id="radio_16" value="green" class="radio-col-green" onclick="val()">
                                        <label for="radio_16">GREEN</label>
                                        <input name="group" type="radio" id="radio_17" value="light-green" class="radio-col-light-green" onclick="val()">
                                        <label for="radio_17">LIGHT GREEN</label>
                                        <input name="group" type="radio" id="radio_18" value="lime" class="radio-col-lime" onclick="val()">
                                        <label for="radio_18">LIME</label>
                                        <input name="group" type="radio" id="radio_19" value="yellow" class="radio-col-yellow" onclick="val()">
                                        <label for="radio_19">YELLOW</label>
                                        <input name="group" type="radio" id="radio_20" value="amber" class="radio-col-amber" onclick="val()">
                                        <label for="radio_20">AMBER</label>
                                        <input name="group" type="radio" id="radio_21" value="orange" class="radio-col-orange" onclick="val()">
                                        <label for="radio_21">ORANGE</label>
                                        <input name="group" type="radio" id="radio_22" value="deep-orange" class="radio-col-deep-orange" onclick="val()">
                                        <label for="radio_22">DEEP ORANGE</label>
                                        <input name="group" type="radio" id="radio_23" value="brown" class="radio-col-brown" onclick="val()">
                                        <label for="radio_23">BROWN</label>
                                        <input name="group" type="radio" id="radio_24" value="grey" class="radio-col-grey" onclick="val()">
                                        <label for="radio_24">GREY</label>
                                        <input name="group" type="radio" id="radio_25" value="blue-grey" class="radio-col-blue-grey" onclick="val()">
                                        <label for="radio_25">BLUE GREY</label>
                                        <input name="group" type="radio" id="radio_26" value="black" class="radio-col-black" onclick="val()">
                                        <label for="radio_26">BLACK</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="row clearfix">
                    <div class="col-md-12" style="margin-bottom:30px;">
                        <div class="card">
                            <div class="outside-inside-color">
                                <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["first"],@ViewData["second"]);">
                                    HEADER THEME COLOR
                                </h2>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;HEX CODE&nbsp;</label> <input type="color" id="color1" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtcolor" name="txtcolor" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="height:45px; margin:0px -12px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;RGB CODE&nbsp;</label> <input type="color" id="color2" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtcolor1" name="txtcolor1" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="height:45px; margin:0px -13px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <br />
                                        <button type="button" id="btn" name="btnsave" onclick="Savecolor()" class="btn outer-w-save btnssl special-iii" style="margin-top:-19px;height:45px;border:1px solid #c7c2c2;background:#dedddd;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Color</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12" style="margin-top:-59px; margin-bottom:30px;">
                        <div class="card">
                            <div class="">

                                <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["selected"],@ViewData["menu"]);">
                                    OUTSIDE MENU COLOR
                                </h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-md-5">
                                        <b>MENU COLOR (SELECTED)</b>
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;COLOR</label> <input type="color" id="colorselect" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtMenucolor" name="txtMenucolor" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="funMenu()" class="btn  waves-effect" style="height:45px; margin:0px -13px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <b>MENU COLOR (BY DEFAULT)</b>
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;COLOR</label> <input type="color" id="colormenu" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtMenucolor1" name="txtMenucolor1" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="funMenu()" class="btn  waves-effect" style="height:45px; margin:0px -13px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" id="btn" name="btnsave" onclick="SaveMenucolor()" class="btn outer-w-save btnssl special-iii" style="margin-top:21px;height:45px;border:1px solid #c7c2c2;background:#dedddd;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Color</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-validation/jquery.validate.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/css/sp.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
            function val() {
                var vv = document.querySelector('input[name="group"]:checked').value;
                var url = '@Url.Action("Outercolorchange", "Home")?color=' + vv + '';
                location.href = url;
            }
</script>

<script>
    $(document).ready(function () {

        var insidecol = '@ViewBag.insidecolor'
        if (insidecol != "" && insidecol != null) {
            $('input:radio[name="group"][value=' + insidecol + ']').prop('checked', true);
        }

        var first = '@ViewData["first"]';
        var second = '@ViewData["second"]';
        if (first != "" && second != "") {
           $("#color1").val(first);
            $("#color2").val(second);
            $("#txtcolor").val(first);
            $("#txtcolor1").val(second);
        }
        var selected = '@ViewData["selected"]';
        var menu = '@ViewData["menu"]';
        if (selected != "" && menu != "") {
            $("#colorselect").val(selected);
            $("#txtMenucolor").val(selected);
            $("#colormenu").val(menu);
            $("#txtMenucolor1").val(menu);
        }

        var color = '@TempData["default"]'
        $('input:radio[name="group"][value=' + color + ']').prop('checked', true);
    });

    var succ = '@TempData["success"]';
    if (succ != null && succ != "") {
        if (succ.includes("successfully")) {
            swal("Good job!", succ, "success");
        }
        else {
            swal("Oops!", succ, "error");
        }
        
    }
</script>

<script>
    function updateColor(element, color) {
        var hexColor = '@ViewData["first"]';
        if (color) hexColor = color.toHexString();
        $(element).css("color", hexColor);
        alert(hexColor);
    }
</script>

<script>
    function funMenu() {
        var color = document.getElementById("colorselect").value;
        $("#txtMenucolor").val(color);
        var color = document.getElementById("colormenu").value;
        $("#txtMenucolor1").val(color);
    }
</script>
<script>
    function SaveMenucolor() {
        var vv = $("#txtMenucolor").val();
        var col = $("#txtMenucolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("OuterMenuColor", "Home")?selected=' + vv + '&menu=' + col + '';
        location.href = url;
    }
</script>


<script>
    function fun() {
        var col = document.getElementById("color1").value;
        $("#txtcolor").val(col);
        var col = document.getElementById("color2").value;
        $("#txtcolor1").val(col);
    }
</script>
<script>
    function Savecolor() {
        var vv = $("#txtcolor").val();
        var col = $("#txtcolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("Outercolorchange", "Home")?first=' + vv + '&second='+ col + '';
        location.href = url;
    }
</script>
