@model IEnumerable<Vastwebmulti.Models.PaidServicesPaymentHistory>
@{
    ViewBag.Title = "WebLogin";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

 
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-4">
                       <p style="font-size:20px;margin-top:6px;">Paid Service Payment Report</p>

                    </div>
                    <div class="col-md-8">
                        @using (Html.BeginForm("Paidservicepaymentreport", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-4">
                                    <div class="form-line" style="margin-top:5px;margin-left:-13px;width:108%;border:1px solid #dddddd;padding-bottom:10px;">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">

                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">PAID SERVICE PAYMENT REPORT&nbsp;></li>
                        </ol>
                    </div>

                    <div class="body" style="margin-top:-28px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Email</th>
                                        <th>Service&nbsp;Name</th>
                                        <th>Payment&nbsp;Type</th>
                                        <th>Paid&nbsp;Amount</th>
                                        <th>Retailer&nbsp;Pre</th>
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Admin&nbsp;Pre</th>
                                        <th>Admin&nbsp;Post</th>
                                        <th>Purchase&nbsp;Date</th>
                                        <th>Expiry&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.Email</td>
                                            <td>@item.ServiceName</td>
                                            <td>@item.PaymentType</td>
                                            <td>@item.AmountPaid</td>
                                            <td>@item.RemainPre</td>
                                            <td>@item.RemainPost</td>
                                            <td>@item.AdminPre</td>
                                            <td>@item.AdminPost</td>
                                            <td>@item.PurchaseDate</td>
                                            <td>@item.ExpiryDate</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

