@model Vastwebmulti.Areas.ADMIN.Models.pancard_reports
@{
    ViewBag.Title = "pancard_new";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>

    /* New css */

    .s_button {
        padding: 2px 10px;
    }
    
    /* New css */

    table #trow {
        counter-reset: rowNumber;
    }

        table #trow tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) ".";
            text-align: left;
            padding-left: 5px;
            border-right: 1px solid #aaa4a4;
        }
</style>
<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table-bordered tbody tr td {
        padding: 10px;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    .money-tab-secondclass {
        width: 30%;
    }

    .pdfresponsive-second {
        width: auto;
        float: right;
    }

    .finclass-second {
        width: 57%;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    .custom-date-icon.ner {
        border-color: #e1dcdc !important;
    }

    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

        .newfourdesign-admin .form-control .btn {
            background: transparent !important;
        }

    .newfourdesign-admin .cltu.responcive-fify .form-group .form-control {
        border: 0px !important;
    }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:992px) {
        .fin2 {
            width: 100% !important;
            float: left;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify {
            width: 49% !important;
            float: left !important;
            margin-bottom: 20px;
        }

            .responcive-fify button.btn.llpo {
                width: 100%;
                text-align: left;
            }

        .responcive-full {
            width: 99% !important;
            float: left;
            margin-bottom: 10px;
        }

            .responcive-full .nrr3 {
                width: 50% !important;
                float: left;
            }

            .responcive-full input {
                width: 49% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .web-white-filter.ttre.responcive-fify {
            position: absolute;
            bottom: 0px;
            right: 25px;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 35% !important;
            bottom: 20px;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 42px;
            bottom: 0;
            width: auto !important;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:766px) {
        .table-responsive table tbody tr td {
            white-space: normal !important;
        }

        .white-successadmin-money {
            bottom: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .fin1, .fin2 {
            width: 100% !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .col-md-1 {
                width: 49% !important;
                float: left;
                margin-left: 0px !important;
            }

                .fin2 .col-md-2.cltu {
                    width: 99% !important;
                }

        .cltu {
            margin-bottom: 5px !important;
        }

        .fin2 .col-md-6 {
            width: 100% !important;
            margin-bottom: 5px;
        }

            .fin2 .col-md-6 input {
                width: 49% !important;
            }

            .fin2 .col-md-6 .nrr3 {
                width: 49%;
            }

                .fin2 .col-md-6 .nrr3 input {
                    width: 100% !important;
                }

        .llpo span {
            display: inline-block;
        }

        .web-white-filter.ttre {
            width: 48%;
            right: 18px;
            top: 154px;
        }

        .fin2 .col-md-1.for-b button {
            width: 70% !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third, .web-white-filter.ttre {
            position: absolute;
            top: inherit !important;
            right: 19px;
            bottom: 0;
            width: auto !important;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }

        .fin2 .col-md-6 input {
            width: 100% !important;
        }

        .allpagefinincal-report .responcive-fify-search button {
            width: 100% !important;
        }
    }

    .new_old a {
        padding: 6px 12px;
        border: 1px solid #ccc;
    }

    .kklo.money-transfer-admin #custnav ul {
        margin-bottom: 0px;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<section class="content pancard-ad">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Financial Services</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Pan Card Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third" style="width:auto;float:left;">
            <div class="col-md-12" style="padding:0px;">
                <div>
                    @Html.Partial("_finicalmenureport")
                </div>
            </div>
        </div>
        <div>

        </div>


        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third" style="width:auto;float:right;">
            <div class="new_old" style="float: left; text-align: right; width: auto; margin-top: 7px; margin-right: 4px;">
                @Html.ActionLink("NEW", "Pancard_new", "Home", new { @style = "background: var(--main-bg-lcolor);color: #fff;" })
                @Html.ActionLink("OLD", "TokenPurchaseReport", "Home")
                @Html.ActionLink("MANUAL", "Pancard_new_manual", "Home")
            </div>

            <div style="float:right;text-align: right;" class="web-white-filter ttre responcive-fify pdfresponsive-second pdfexpoer-second totalbutton-secondclas pdf-lastclass-third widthauto-resp-third exl-respo-third pdfadmin-allpageclass">

                <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 20px;" />
                <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />

            </div>
            <div class="white-success white-successadmin-money" style="display:none;position: absolute;width: auto;right: 40px !important;z-index: 9;bottom: 0;">
                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;float: left;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;float: left;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; float: left;font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

            </div>
        </div>

    </div>


    <div class="col-md-12" style="">
        <div class="page-header-third">

            <div class="body" style="padding:0px;">

                <div class="col-md-12 dfg fin2 finclass-second all-type-third allpagefinincal-report" style="padding: 0; margin-bottom: 5px; width: 100% !important; float: left !important; position: relative;">
                    @using (Html.BeginForm("Pancard_new", "Home", FormMethod.Post))
                    {



                        <div class="col-md-2 responcive-fify showa" style="padding: 0px; margin-right: 3px; margin-bottom: 10px;" id="rem">
                            <div class="">
                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                            </div>
                        </div>

                        <div class="col-md-2 cltu responcive-fify" style="padding: 0px; margin-right: 3px;margin-bottom: 10px;">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <div class="">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="All Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="PENDING",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                             }, new { @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 responcive-full reportdate-money-allpage" style="padding: 0px;float: left;">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <div class="input-daterange input-group">
                                    <div class="inputiconsateall" style="padding-right:2px;">
                                        <div class="custom-date-icon ner">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 105px;margin-right: 3px;" })
                                    </div>
                                    <div class="nrr3 inputiconsateall" style="padding-left:2px;">
                                        <div class="custom-date-icon ner2">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width: 105px;" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 for-b responcive-fify respon-third-button responcive-fify-search" style="padding: 0px; margin-right: 4px;">

                            <button type="submit" class="btn waves-effect llpo input-back-second" onclick="Reportpancard()" style=" border:1px solid #b1a6a638;width:100% !important;background: transparent;">
                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                <span style="top:-2px;color:black;">Search</span>
                            </button>

                        </div>
                    }



                </div>

                <table class="table table-bordered example-second thpadding-second whitetable-second third-design-table showa" cellspacing="0" style="width:100%;font-size:12px;background:#f5f5f5; margin:0px;">
                    <thead style="background-color:whitesmoke;">
                        <tr style="color:black">

                            <th>Status</th>
                            <th style="width: 13%;">User&nbsp;Information</th>
                            <th>Amount</th>
                            <th>comm</th>
                            <th>TDS</th>
                            <th>User&nbsp;Remain&nbsp;Pre&nbsp;₹</th>
                            <th>User&nbsp;Remain&nbsp;Post&nbsp;₹</th>
                            <th>Time</th>
                            <th>User&nbsp;Final</th>

                            <th>dis&nbsp;Pre&nbsp;₹</th>
                            <th>dis&nbsp;Post&nbsp;₹</th>
                            <th>master&nbsp;Pre&nbsp;₹</th>
                            <th>Master&nbsp;Post&nbsp;₹</th>
                            <th>#</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody class="alin chnj">

                        @if (Model.pancard_Transations_report_new != null)
                        {


                            foreach (var i in Model.pancard_Transations_report_new)
                            {
                                <tr>
                                    @{
                                        var sts = i.status;


                                        if (i.status.Contains("Refund"))
                                        {
                                            sts = "Refund";
                                        }





                                        <td>
                                            @if (i.status.Contains("PENDING"))
                                            {
                                                <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:#ffc107" src="../../ashok-images/clkk.png"> @sts


                                            }
                                            @if (i.status.Contains("Refund"))
                                            {
                                                <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:brown" src="../../ashok-images/backresnd.svg"> @sts

                                            }
                                            @if (i.status.Contains("Failed"))
                                            {
                                                <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:red" src="../../ashok-images/closes.svg"> @sts

                                            }
                                            @if (i.status.Contains("Success"))
                                            {
                                                <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:green" src="../../ashok-images/correct.svg"> @sts

                                            }
                                        </td>

                                        <td>@i.name = > @i.Email</td>
                                        <td>@i.Amount</td>
                                        <td>@i.Rem_comm</td>
                                        <td>@i.Rem_tds</td>
                                        <td>@i.Rem_pre</td>
                                        <td>@i.rem_post</td>
                                        <td>@i.request_time</td>
                                        <td>@i.Rem_final</td>
                                        <td>@i.dlm_pre</td>
                                        <td>@i.dlm_post</td>
                                        <td>@i.master_pre</td>
                                        <td>@i.master_post</td>
                                        <td>
                                            @if (i.status.Contains("PENDING"))
                                            {
                                                <button class="s_button" style="border: 1px solid #fb483a; background: #ee837b;" onclick="openPopup('@i.name', '@i.Email', '@i.Amount', '@i.Rem_comm', '@i.idno', '@i.requestid', '@i.status', 'Failed')">Failed</button>

                                                @* <td><a href="#">succes</a></td>*@
                                            }
                                        </td>
                                        <td>
                                            @if (i.status.Contains("PENDING"))
                                            {
                                                <button class="s_button" style="border: 1px solid #5cb85c; background: #94ca94;" onclick="openPopup('@i.name', '@i.Email', '@i.Amount', '@i.Rem_comm', '@i.idno', '@i.requestid', '@i.status', 'success')">success</button>

                                            }
                                        </td>
                                    }
                                </tr>

                            }

                        }

                    </tbody>

                </table>

                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                    <img src="~/img/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left" style="background-color:#eee">
                <div class="modal-back width100 float-left">



                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("Idno")
                        @*<div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Retailer Net Income</label>
                                        @Html.TextBox("RetailerIncome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Retailer Remain Post</label>
                                        @Html.TextBox("retailer_remain_post", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>*@

                        <!--.row-->
                        <div class="row">

                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Income</label>
                                    @Html.TextBox("DealerIncome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group ">
                                    <label>Distributor Remain Post</label>
                                    @Html.TextBox("retailer_dealer_post", "", new { @class = "form-control", maxlength = 6, @style = "  text-transform:uppercase ", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Remain Pre</label>
                                    @Html.TextBox("retailer_dealer_pre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>MD Income</label>
                                    @Html.TextBox("MDIncome", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>MD Remain Pre</label>
                                    @Html.TextBox("retailer_master_pre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>MD Remain Post</label>
                                    @Html.TextBox("retailer_master_post", "", new { @class = "form-control", @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })


                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Whitelabel Income</label>
                                    @Html.TextBox("whitelabelincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Whitelabel Remain Post</label>
                                    @Html.TextBox("whitelabel_remain_post", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Whitelabel Remain Pre</label>
                                    @Html.TextBox("whitelabel_remain_pre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>UTI Status</label>
                                    @Html.TextBox("CouponStatus", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<style>
    /* Styles for the overlay */

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: #0000006e; /* Semi-transparent black overlay */
        justify-content: center;
        align-items: center;
    }

    /* Styles for the popup */
    .popup {
        padding: 5px 5px 15px 5px;
        /*border-radius: 5px;*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background: #fff;
        width: 350px;
        height: auto;
        border: 7px solid #ccc;
        color: #000;
        text-align: center;
        position: relative;
    }
        .popup p {
            word-spacing: 2px;
            padding: 0 5px;
        }
            .popup p table {
                width: 100%;
                text-align: left;
            }
            .popup p th, .popup p td {
                width: 50%;
                text-align: left;
            }
    #closeModal {
        font-size: 31px;
        position: absolute;
        right: 7px;
        top: 1px;
    }
    #closeModal:hover {
        color:red;
    }

    
</style>


<div class="overlay" id="overlay">
    <div class="popup">
        
        <h2 style="font-size: 22px; margin-top: 0; background: #ccc; padding: 6px 5px; text-align: left; position: relative; ">Pan Card Token Details <span onclick="hidebox()" id="closeModal">&times;</span></h2>
        <p id="popupContent"></p>
        @using (Html.BeginForm("Pancard_Panding_success_failed", "Home", FormMethod.Post))
        {

            <!-- Your form fields here -->
            <input type="hidden" name="idno" id="idno" value="" />
            <input type="hidden" name="transid" id="requestid" value="" />
            <input type="hidden" name="status" id="status" value="" />
            <input type="hidden" name="sts" id="sts" value="" />

            <!-- Add other form fields as needed -->


            <input style="padding: 2px 10px; border: 1px solid #ccc; background: #f1f1f1;" type="submit" value="faild" id="submitButton">
        }




        @* <a href="@Url.Action("Pancard_Panding_success_failed", "Home", new {})">content</a>*@
    </div>
</div>

<script>

    function hidebox() {

        document.getElementById("overlay").style.display = "none";

    }

    // JavaScript functions to open and close the popup
    function openPopup(name, email, amount, com, idno, requestid, status, sts) {
        /*var content = "Name : " + name + "<br>Email : " + email + "<br>Amount : " + amount + "<br>comm : " + com;*/
        var content = "<table> <tr> <th>Name:</th> <td>" + name + "</td> </tr> <tr> <th>Email:</th> <td>" + email + "</td> </tr><tr> <th>Amount:</th> <td>" + amount + "</td> </tr> <tr> <th>Comm:</th> <td>" + com + "</td> </tr></table>";

        document.getElementById('popupContent').innerHTML = content;
        document.getElementById('idno').value = idno;
        document.getElementById('status').value = status;
        document.getElementById('requestid').value = requestid;
        document.getElementById('sts').value = sts;

        document.getElementById('overlay').style.display = 'flex';

        var submitButton = document.getElementById('submitButton');
        submitButton.value = (sts === 'success') ? 'Success' : 'Failed';


    }

    function closePopup() {
        document.getElementById('overlay').style.display = 'none';
    }
</script>





<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $('#allmaster1').select2();
    $('#alldealer').select2();
    $('#allretailer').select2();
    $('#allapiuser').select2();
    $('#Whitelabel').select2();
</script>
<script>
    function findtotalpan() {
        var ddlusers = $('#ddlusers').val();
        var allmaster = $('#allmaster1').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_status = $('#ddl_status').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("TokenPurchaseReport_Total", "Home")",
                 { "ddlusers": ddlusers, "allmaster1": allmaster, "alldealer": alldealer, "allretailer": allretailer, "allapiuser": allapiuser, "Whitelabel": Whitelabel, "ddl_status": $('#ddl_status').val(), "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date  },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>

<script type="text/javascript">
    function answers1() {

        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            $("#ddl_status").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("ddl_status").style.marginLeft = "-6px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Master") {
            $("#ddl_status").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("ddl_status").style.marginLeft = "-6px";
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("allmaster").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Admin") {

            $("#ddl_status").removeClass("col-md-1").addClass("col-md-1");
            $("#top").removeClass("col-md-1").addClass("col-md-1");
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "Retailer") {
            $("#ddl_status").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("ddl_status").style.marginLeft = "-6px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "APIID") {
            $("#ddl_status").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("ddl_status").style.marginLeft = "-6px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "block";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "none";
        }
        else if (answer == "WAdmin") {
            $("#ddl_status").addClass("col-md-1").removeClass("col-md-2");
            $("#top").addClass("col-md-1").removeClass("col-md-2");
            document.getElementById("ddl_status").style.marginLeft = "-6px";
            document.getElementById("allmaster").style.display = "none";
            document.getElementById("apiid").style.display = "none";
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("whitelabelid").style.display = "block";
        }
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>

<script>
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
        $(window).scroll(function () {

            var ddlusers = $('#ddlusers').val();
            var allmaster = $('#allmaster1').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var allapiuser = $('#allapiuser').val();
            var Whitelabel = $('#Whitelabel').val();
            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
            if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll3", "Home")",
             { "pageindex": pageindex, "ddlusers": $('#ddlusers').val(), "allmaster": $('#allmaster1').val(), "alldealer": alldealer, "allretailer": allretailer, "allapiuser": allapiuser, "Whitelabel": Whitelabel, "ddl_status": $('#ddl_status').val(), "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });


</script>
<script>
    $("#btnExport").click(function () {

          var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster1').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();

        var url = '@Url.Action("ExcelRechargereport1_new", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster1=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        location.href = url;
    });
</script>
<script>
    $("#btnPDF").click(function () {
   var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster1').val();
        var allapiuser = $('#allapiuser').val();
        var Whitelabel = $('#Whitelabel').val();
        var ddl_Type = $('#ddl_Type').val();

        var url = '@Url.Action("PDFRechargereport_token1", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers' + ddlusers + '&ddl_status=' + ddl_status + '&allmaster1=' + allmaster + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allapiuser=' + allapiuser + '&Whitelabel=' + Whitelabel + '&ddl_Type=' + ddl_Type;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>



<script>
    function mdActionBtn(Idno) {

        $('#loadredmodel').show();
        ;
        $.ajax({
            url: '@Url.Action("Token_report_View", "Home")',
            type: "POST",
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {

                //$("#RetailerIncome").val(Response[0].RetailerIncome);
                //$("#retailer_remain_post").val(Response[0].retailer_remain_post);
                $("#retailer_dealer_pre").val(Response[0].retailer_dealer_pre);
                $("#DealerIncome").val(Response[0].DealerIncome);
                $("#retailer_dealer_post").val(Response[0].retailer_dealer_post);
                $("#retailer_master_pre").val(Response[0].retailer_master_pre);
                $("#MDIncome").val(Response[0].MDIncome);
                $("#retailer_master_post").val(Response[0].retailer_master_post);
                $("#whitelabel_remain_pre").val(Response[0].whitelabel_remain_pre);
                $("#whitelabelincome").val(Response[0].whitelabelincome);
                $("#whitelabel_remain_post").val(Response[0].whitelabel_remain_post);
                $("#CouponStatus").val(Response[0].CouponStatus);
                $("#Request").val(Response[0].Request);
                $("#Response").val(Response[0].response_output);
            }
        });
    };




</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });

</script>
<script>

    function tokenStatus(id) {

        var url = '@Url.Action("GetTokenStatus", "Home")'
        var jqxhr = $.post(url, {id : id}, function (data) {
            var response = JSON.parse(data);
            if (response.RESULT == "0") {
                //swal("Wow!", response.ADDINFO, "success");
                //location.reload();
                ToastrMessage();
                toastr.success('Wow! ' +response.ADDINFO);

            }
            else {
                //swal("Oops!!!", response.ADDINFO, "error");

                ToastrMessage();
                toastr.error('Oops!!! ' +response.ADDINFO);
            }
        })
       .fail(function (jqXHR, textStatus, errorThrown) {

           //swal("Oops!!!", jqXHR.responseText, "error");

           ToastrMessage();
           toastr.error('Oops!!! ' +jqXHR.responseText);

       })

    }
    function manuallyfailed(id,msg) {
        var url = '@Url.Action("PanManualFailed", "Home")'
        var jqxhr = $.post(url, { id: id, remark :msg}, function (data) {
            var response = JSON.parse(data);
            if (response.RESULT == "0") {
                swal("Wow!", response.ADDINFO, "success");
                //location.reload();


            }
            else {
                swal("Oops!!!", response.ADDINFO, "error");


            }
        })
       .fail(function (jqXHR, textStatus, errorThrown) {

           //swal("Oops!!!", jqXHR.responseText, "error");

           ToastrMessage();
           toastr.error('Oops!!!' +jqXHR.responseText);

       })

    }
</script>
<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/ADMIN/Home/TokenPurchaseReport') {
            $('.sidebar .kkli li:nth-child(2) a').addClass('activee');
        }
    });
</script>
@*<script>
        function converttoDate(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2),
                Hrs = (date.getHours()),
                mnts = (date.getMinutes()),
                sec = (date.getSeconds());
            return dd = [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
        }
        function Reportpancard() {
            var ddlusers = $('#ddlusers').val();
            var allmaster = $('#allmaster1').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var allapiuser = $('#allapiuser').val();
            var Whitelabel = $('#Whitelabel').val();
            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
            $.ajax({
                url: '@Url.Action("_TokenPurchaseReport", "Home")',
                method: "Post",
                cache: false,
                data: { "ddlusers": $('#ddlusers').val(), "allmaster": $('#allmaster1').val(), "alldealer": alldealer, "allretailer": allretailer, "allapiuser": allapiuser, "Whitelabel": Whitelabel, "ddl_status": $('#ddl_status').val(), "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                dataType: 'json',
                async: false,
                success: function (data) {
                    var mdtblHtml = "";
                    var i = 0;
                    var img = "";
                    var img1 = "";
                    var icon ="";

                    img1 = '<img src="../../ashok-images/rightaeps.svg" onc style="width: 11px;margin-top: 6px;float:right; float:inherit" />';

                    $.each(data, function (a, b) {

                        if (b.Particulars.match(/Refund/))
                        {
                            img = "<img src='../../ashok-images/closes.svg' style='height:20px;width:20px;margin-right:8px;float:left; border-radius: 50%; background-color:#9C27B0;'/>";
                            icon = '<span id="tokenStatus" onclick="tokenStatus(' + b.idno + ')"><i class="fa fa-eye"></i></span>';
                        }
                        if (b.Particulars == "Failed")
                        {
                            img = "<img src='../../ashok-images/closes.svg' style='height:20px;width:20px;margin-right:8px;float:left; border-radius: 50%; background-color:red;' />";
                            icon = '<span id="tokenStatus" onclick="tokenStatus(' + b.idno + ')"><i class="fa fa-eye"></i></span>';
                        }
                        if (b.Particulars == "Success") {
                            img = "<img src='../../ashok-images/correct.svg' style='height:20px;width:20px;margin-right:8px;float:left; background-color:green;'/>";
                            icon = '<span id="tokenStatus" onclick="tokenStatus(' + b.idno + ')"><i class="fa fa-eye"></i></span>';
                        }
                        if (b.Particulars == "Pending") {
                            img = "<img src='../../ashok-images/clock.svg' style='height:20px;width:20px;margin-right:8px;float:left; background-color:#ff9600;'/>";
                            icon = '<span id="tokenStatus" onclick="manuallyfailed(' + b.idno + ')"><i class="fa fa-eye"></i></span>';
                        }
                        mdtblHtml += "<tr><td style='font-size:12px;'>" + img + b.UserType + " ⇒ " + b.Frm_Name + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.MerchantTxnId + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.PhysicalCount + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.DigitalCount + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.ProcessingFees + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.UTI_TXN_ID + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.RetailerIncome + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.retailer_remain_post + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.retailer_remain_pre + "</td>"
                        mdtblHtml += "<td style='font-size:12px;'>" + converttoDate(eval(("new " + b.Date).replace(/\//g, ""))) + "</td>"
                        mdtblHtml += "<td >" + icon + "</td>"
                        mdtblHtml += "<td data-toggle='modal' data-target='#defaultModal222' onclick='mdActionBtn("+ b.idno +")'>" + img1 + "</td>"
                           "</tr>";
                        i++;
                    });
                    $('#hhhh > tbody').html(mdtblHtml);
                }
            });
        };




    </script>*@



<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>


