@model IEnumerable<Vastwebmulti.Models.retailer_Ekycreport_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Retailer_ekyc</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>SR</th>
                <th>Status</th>
                <th>Firm&nbsp;Name</th>
                <th>Email&nbsp;Id</th>
                <th>Mobile&nbsp;No</th>
                <th>Adharcard&nbsp;No</th>
                <th>Pancard</th>
                <th>Merchant&nbsp;Id</th>
                <th>e-kyc Mobile</th>
                <th>e-kyc Adhaar</th>
                <th>In&nbsp;Date</th>
                <th>Update Date</th>
                <th>Device&nbsp;Info</th>
            </tr>

        </thead>

        <tbody>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                var sts = "";
                if (item.ekycstatus == true)
                {
                    sts = "verify";
                }
                else if (item.ekycstatus == false)
                {
                    sts = "unverify";
                }

                else
                {
                    sts = "unregisterd";
                }
                <tr>
                    <td>@i</td>
                    <td>@sts</td>
                    <td>@item.frm_name</td>
                    <td>@item.email</td>
                    <td>@item.mobile</td>
                    <td>@item.AadharCard</td>
                    <td>@item.Pancard</td>
                    <td>@item.AepsMerchandId</td>
                    <td>@item.ekycmobile</td>
                    <td>@item.ekycadhaar</td>
                    <td>@item.insertdate</td>
                    <td>@item.updatedate</td>
                    <td>@item.devicename @item.devicesrno</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</body>
</html>
