
@model Vastwebmulti.Areas.ADMIN.Models.Whitelabel_user
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Whitelabeluser Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            padding: 8px 5px;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Sr</th>
                <th>White&nbsp;label&nbsp;Firm</th>
                <th>White&nbsp;label&nbsp;Name</th>
                <th>Mobile&nbsp;No</th>
                <th>PAN&nbsp;No</th>
                <th>KYC</th>
                <th>Email&nbsp;V/F</th>
                <th>Robotic&nbsp;Api</th>

        </thead>

        <tbody>

            @if (Model.White_labelUser != null)
            {
                int i = 0;
                int id = 1;
                foreach (var item in Model.White_labelUser)
                {
                    var idno = "subTbl";
                    idno = idno + i;

                    var idshow = "subTblshow";
                    idshow = idshow + i;

                    var idhide = "subTblhide";
                    idhide = idhide + i;

                    <tr class="tr">
                        <td>@id</td>
                        <td>@item.FrmName</td>
                        <td>@item.Name</td>
                        <td>@item.Mobile</td>
                        <td> @item.PanCardnumber</td>
                        <td>
                            @if (item.PSAStatus == "Y" && item.AadhaarStatus == "Y")
                            {
                            <center><p>Done</p></center>
                                
                            }

                            else
                            {
                                <center><p>Due</p></center>
                                }

                        </td>

                        <td>
                            @if (item.EmailConfirmed == true)
                            {
                                <center><p>Done</p></center>
                            }
                            else
                            {
                               <center><p>Due</p></center>
                            }

                        </td>
                        <td>
                            <span id="@item.WhiteLabelID">
                                @if (item.Allow_RoboticsApi == "Y")
                                {

                                <center><p>ON</p></center>
                                }
                                else
                                {
                            <center><p>OFF</p></center>
                                }
                              
                        </td>

                    </tr>

                    i++;
                    id++;
                }

            }

           
                       

                   


        </tbody>
    </table>
</body>
</html>

