@model Vastwebmulti.Areas.ADMIN.Models.DeleteUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pdf_Deleted_UserReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%; ">
            <thead style="background-color:whitesmoke;">
                <tr>
                    <th>Sr</th>
                    <th>User&nbsp;Role</th>

                    <th>Firm&nbsp;Name</th>
                    <th>User&nbsp;Name</th>
                    <th>Contact&nbsp;No</th>
                    <th>Register&nbsp;Email</th>
                    <th>Joining&nbsp;Date</th>
                    <th>Deleted&nbsp;Date</th>
                    <th>Recovery&nbsp;&#8377;</th>


                </tr>
            </thead>
            <tbody class="body">
                @{
                    var i = 1;
                }
                @if (Model.Deleteuserall != null)
                {
                    foreach (var item in Model.Deleteuserall)
                    {
                        <tr class="tr">
                            <td>@i</td>
                            <td>@item.Role</td>
                            <td>@item.FarmName</td>
                            <td>@item.Name</td>
                            <td>@item.ContectNo</td>
                            <td>@item.Email</td>
                            <td>@item.JoiningDate</td>
                            <td>@item.DeleteDate</td>
                            <td>@item.RecoveryAmount</td>


                        </tr>
                        i++;
                    }
                }
            </tbody>
            @*<tfoot class="navbar" style="color:white;position:inherit;">
                    @if (Model.GSTAdmin != null)
                    {
                        <tr>
                            <td style="font-size:18px;">Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-size:18px;">@Model.GSTAdmin.Sum(a => a.gst)</td>
                        </tr>
                    }
                    else if (Model.GSTMaster != null)
                    {
                        <tr>
                            <td style="font-size:18px;">Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-size:18px;">@Model.GSTMaster.Sum(a => a.gst)</td>
                        </tr>
                    }
                    else if (Model.GSTDealer != null)
                    {
                        <tr>
                            <td style="font-size:18px;">Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-size:18px;">@Model.GSTDealer.Sum(a => a.gst)</td>
                        </tr>
                    }
                    else if (Model.GSTRetailer != null)
                    {
                        <tr>
                            <td style="font-size:18px;">Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-size:18px;">@Model.GSTRetailer.Sum(a => a.gst)</td>
                        </tr>
                    }
                </tfoot>*@
        </table>
    </div>
</body>
</html>
