@model Vastwebmulti.Areas.ADMIN.ViewModel.GeltALLEmployee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Whitelabeluser Report</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
        }

        td, th {
            padding: 8px 5px;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Current Status</th>
                <th>Employee Name</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Mobile&nbsp;No</th>
                <th>Joining &nbsp;Date</th>
                <th>Date of Birth</th>
                <th>EmailId</th>
                <th>Adhar&nbsp;No</th>
                <th>PAN&nbsp;No</th>
                <th>Email&nbsp;V/F</th>
                  </thead>

               <tbody>

            @if (Model.Emplist != null)
            {
                int i = 0;
                int id = 1;
                foreach (var item in Model.Emplist)
                {
                    var isactive = item.Status == true ? "Checked" : "";

                    <tr class="tr">

                        <td class="onofswich-admin" style=" white-space: nowrap; padding-right: 30px;">
                            @if (item.Status == true)
                            {
                              <p>Active</p>
                            }
                            else
                            {
                            <p>Deactive</p>
                            }
                        </td>
                        <td>@item.Employee_name</td>
                        <td>@item.Address</td>
                        <td>@item.Pincode</td>
                        <td>@item.Mobile</td>
                        <td>@item.JoinDate</td>
                        <td> @item.DOB</td>
                        <td> @item.E_mail</td>
                        <td> @item.AadharCard</td>
                        <td> @item.PanCard</td>
                        <td data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.EmployeeID')">
                            @if (item.EmailConfirmed == true)
                            {
                                <p>Done</p>
                                 }
                            else
                            {
                             <p>Due</p> 
                             }
                        </td>
                    </tr>
                    i++;
                    id++;
                }
            }
        </tbody>
    </table>
</body>
</html>

