@model List<Vastwebmulti.Models.Proc_Recharge_info_Failed_TO_Success_Reports_Result>

    @{
        Layout = null;
    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PDF_Rch_Failed_success_Report</title>
        <style>
            table {
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid black;
            }

            thead {
                display: table-header-group
            }

            tfoot {
                display: table-row-group
            }

            tr {
                page-break-inside: avoid
            }
        </style>
    </head>
    <body>
        <table cellspacing="0">
            <thead style="background-color: whitesmoke; display:table-header-group;">
                <tr>
                    <th>S.N</th>
                    <th>User&nbsp;Information</th>
                    <th>Recharge Request Time</th>
                    <th>Operator&nbsp;Name</th>
                    <th>Consumer&nbsp;No</th>
                    <th>Port&nbsp;/&nbsp;API</th>
                    <th>Request&nbsp;Time</th>
                    <th>Operator&nbsp;ID</th>
                    <th>Response&nbsp;Time</th>
                    <th>Modify&nbsp;Time</th>
                    <th>Modify&nbsp;Status</th>
                </tr>

            </thead>
            @{ var i = 1;}
            <tbody>
                @foreach (var item in Model)
                {                   
                    <tr>
                        <td>@i</td>
                        <td>@item.usertype &nbsp;@item.frmname</td>
                        <td>@item.Rch_time</td>
                        <td>@item.operator_Name</td>
                        <td>@item.Mobile</td>
                        <td>@item.portno</td>
                        <td>@item.Rch_time</td>
                        <td>@item.OPt_id</td>
                        <td>@item.Resp_time</td>
                        <td>@item.Modify_time</td>
                        <td>@item.modifystaus<span> (@item.rchidno) </span> </td>
                    </tr
                    >i++;
                }
            </tbody>
        </table>
    </body>
</html>
