@model IEnumerable<Vastwebmulti.Models.roffer_All_history_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Roffer History</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Retailer&nbsp;Id</th>
                <th>Retailer&nbsp;Name</th>

                <th>Recharge&nbsp;Number</th>
                <th>Amount</th>
                <th>Operator</th>
                <th>Roffer&nbsp;Comm</th>
                <th>Remain&nbsp;Pre</th>
                <th>Share&nbsp;Comm</th>
                <th>Remain&nbsp;Post</th>
                <th>Date</th>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RetailerId</td>
                    <td>@item.Retailer_Name</td>
                    <td>@item.Number</td>
                    <td>@item.Price</td>
                    <td>@item.Operator_Name</td>
                    <td>@item.Comm</td>
                    <td>@item.RemainPre</td>
                    <td>@item.ShareComm</td>
                    <td>@item.RemainPost</td>
                    <td>@item.tdate</td>
                </tr>
            }


        </tbody>
    </table>
</body>
</html>

