@model List<Vastwebmulti.Models.Aeps_Report_New_Result>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AEPS Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
        /*   thead {
            display: table-header-group;
        }*/

        /*  tfoot {
            display: table-header-group;
        }*/
    </style>
</head>
<body>
    <table cellspacing="0">

        <tr>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Sr.&nbsp;</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Live&nbsp;Status</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Customer&nbsp;Bank&nbsp;Name</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">TXN&nbsp;ID</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Device Name&nbsp;&nbsp;Serial No</th>

            <th style="padding-left:2px; padding-right:2px;text-align:center;">Aadhaar&nbsp;Number</th>
            <th style="padding-left: 2px;padding-right: 2px;text-align:center;">Transfer</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">User Comm</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Credit&nbsp;</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Pre&nbsp;</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Post&nbsp;</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;RRN&nbsp;</th>

            <th style="padding-left:2px; padding-right:2px;text-align:center;">Request&nbsp;Date</th>


        </tr>


        @if (Model != null)
        {
            int i = 1;
            foreach (var item in Model)
            {


                if (item.Status == "Success")
                {
                    item.Status = "Success";
                }
                if (item.Status == "Pending")
                {
                    item.Status = "Pending";

                }
                if (item.Status == "Failed")
                {
                    item.Status = "Failed";

                }
                if (item.Status == "Refund")
                {
                    item.Status = "Refund";

                }
                <tr>
                    <td>@i</td>
                    <td>@item.Status&nbsp;⇒ &nbsp;@item.Frm_Name</td>
                    <td>@item.BankName</td>
                    <td>@item.MerchantTxnId</td>
                    <td>
                        @if (item.devicename != null && item.devicename != "")
                        {
                            <p>@item.devicename&nbsp;@item.deviceserialno</p>
                        }
                        else
                        {
                            <p></p>
                        }

                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(@item.AccountHolderAadhaar))
                        {
                            var aadhar = item.AccountHolderAadhaar;
                            var len = aadhar.Length;
                            var last = aadhar.Substring(8, 4);
                            var first = new String('x', 8);

                            <p>
                                @first@last
                            </p>
                        }
                        else
                        {
                            <p></p>
                        }



                    </td>
                    <td>@item.Amount</td>
                    <td>@item.RemIncome</td>

                    <td>
                        @{
                            decimal amount = 0;
                            decimal remincome = 0;
                            decimal usercredit = 0;
                            if (item.Role == "Retailer")
                            {
                                amount = Convert.ToDecimal(item.Amount);
                                remincome = Convert.ToDecimal(item.RemIncome);
                                usercredit = (amount + remincome);
                            }
                            if (item.Role == "Whitelabelretailer")
                            {
                                amount = Convert.ToDecimal(item.Amount);
                                remincome = Convert.ToDecimal(item.RemIncome);
                                usercredit = (amount + remincome);
                            }
                        }

                        <p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@usercredit&nbsp;</p>

                    </td>
                    <td>@item.RemPre</td>
                    <td>@item.RemPost</td>
                    <td>@item.BankRRN</td>
                    <td>@item.Txn_Date</td>


                </tr>
                i++;
            }
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.Sum(aa => aa.Amount)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

    </table>
</body>
</html>

