@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AEPS Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
        /*   thead {
            display: table-header-group;
        }*/

        /*  tfoot {
            display: table-header-group;
        }*/
    </style>
</head>
<body>
    <table cellspacing="0">

        <tr>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Sr.&nbsp;</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Transfer From</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Transfer To</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Frm Name</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Name</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Mobile No.</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">District</th>

            <th style="padding-left:2px; padding-right:2px;text-align:center;">State</th>
            <th style="padding-left: 2px;padding-right: 2px;text-align:center;">Admin Credit Amount</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Account Balance</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Due Credit</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Live Due Credit</th>
            <th style="padding-left:2px; padding-right:2px;text-align:center;">Transfer Time</th>

        </tr>


        @if (Model != null)
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.FromRole</td>
                    <td>@item.ToRole</td>
                    <td>@item.FrmName</td>
                    <td>@item.Name</td>
                    <td>@item.Mobile</td>
                    <td>@item.Dist_Desc</td>
                    <td>@item.State_name</td>
                    <td>@item.Amount</td>
                    <td>@item.ToRemainPose</td>
                    <td>@item.CrPose</td>
                    <td>@item.livecr</td>
                    <td>@item.TransferTime</td>
                </tr>
                i++;
            }

        }

    </table>
</body>
</html>

