@model IEnumerable<Vastwebmulti.Models.Gift_card_details_report_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>Status</th>
                <th>Sender Information</th>
                <th>Receiver Information</th>
                <th>Request Date </th>
                <th>Amount</th>
                <th>Service Name</th>
                <th>Type</th>
                <th>Operator Id</th>
                <th>Response Time</th>
                <th>API Remain</th>
                <th>Gift Card Message</th>
                <th>Retailer Pre</th>
                <th>Retailer Post</th>
                <th>Dealer Pre</th>
                <th>Dealer Post</th>
                <th>Master Pre</th>
                <th>Master Post</th>
                <th>Whitelabel Pre</th>
                <th>Whitelabel Post</th>


                @*<th>Dealer&nbsp;Pre</th>
        <th>Dealer&nbsp;Inc</th>
        <th>Dealer&nbsp;Post</th>
        <th>Master&nbsp;Pre</th>
        <th>Master&nbsp;Inc</th>
        <th>Master&nbsp;Post</th>
        <th>Admin&nbsp;Pre</th>
        <th>Admin&nbsp;Inc</th>
        <th>Admin&nbsp;Post</th>*@

</thead>

        <tbody>
            @foreach (var item in Model)
            {

               
            <tr>
                <td>@item.status</td>
                <td>@item.sender_name</td>
                <td>@item.reciver_name</td>
                <td>@item.request_time</td>
                <td>@item.amount</td>
                <td>@item.operator_Name</td>
                <td>@item.Operator_type</td>
                <td>@item.operator_id</td>
                <td>@item.Response_time</td>
                <td>@item.api_remain</td>
                <td>@item.gift_message</td>
                <td>@item.rem_pre_remain</td>
                <td>@item.rem_post_remain</td>
                <td>@item.dlm_pre_remain</td>
                <td>@item.dlm_post_remain</td>
                <td>@item.master_pre_remain</td>
                <td>@item.master_post_remain</td>
                <td>@item.whitelabel_pre_remain</td>
                <td>@item.whitelabel_post_remain</td>
                @*<td>@item.DlmPre</td>
        <td>@item.DlmInc</td>
        <td>@item.DlmPost</td>
        <td>@item.MdPre</td>
        <td>@item.MdInc</td>
        <td>@item.MdPost</td>
        <td>@item.AdminPre</td>
        <td>@item.AdminInc</td>
        <td>@item.AdminPost</td>*@

            </tr>
            }


        </tbody>
    </table>
</body>
</html>
