@model IEnumerable<Vastwebmulti.Models.Show_MicroAtm_Unload_report_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Hotel Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>FIRM NAME</th>
                <th><span>Bank RRN</span></th>
                <th> TRANSACTION TYPE</th>
                <th>PAYMENT METHOD</th>
                <th>AMOUNT</th>
                <th>CARD_PAYMENT_TYPE</th>
                <th>TRANSTIME</th>
            </tr>
                @*<th>Dealer&nbsp;Pre</th>
                    <th>Dealer&nbsp;Inc</th>
                    <th>Dealer&nbsp;Post</th>
                    <th>Master&nbsp;Pre</th>
                    <th>Master&nbsp;Inc</th>
                    <th>Master&nbsp;Post</th>
                    <th>Admin&nbsp;Pre</th>
                    <th>Admin&nbsp;Inc</th>
                    <th>Admin&nbsp;Post</th>*@

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
               
                <tr>
                    <td>@item.Frm_Name </td>
                    <td>@item.rrn</td>
                    <td>@item.transaction_type</td>
                    <td>@item.payment_method</td>
                    <td>@item.amount </td>
                    <td>@item.card_payment_type</td>
                    <td>@item.transtime</td>
                    
                    @*<td>@item.DlmPre</td>
                        <td>@item.DlmInc</td>
                        <td>@item.DlmPost</td>
                        <td>@item.MdPre</td>
                        <td>@item.MdInc</td>
                        <td>@item.MdPost</td>
                        <td>@item.AdminPre</td>
                        <td>@item.AdminInc</td>
                        <td>@item.AdminPost</td>*@

                </tr>
            }
           


        </tbody>
    </table>
</body>
</html>
