@model List<Vastwebmulti.Models.pancard_transation>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF PANCARD report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>

                <th> Status    </th>
                <th> User      </th>
                <th> Amount    </th>
                <th>user pre</th>
                <th> TDS       </th>
                <th> Comm      </th>
                <th> User Post </th>
                <th> User Final</th>
                <th> distributor Pre    </th>
                <th> distributor Post   </th>
                <th> master pre  </th>
                <th> master post  </th>
               


        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.status;
                if (item.status.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                if (item.status.Contains("Refund"))
                {
                    sts = "Refund";
                }
                <tr align="center">
                    <td>@sts </td>
                    <td> @item.name => @item.name</td>

                    <td>@item.Amount</td>
                    <td>@item.Rem_pre</td>
                    <td>@item.Rem_tds</td>
                    <td>@item.Rem_comm</td>
                    <td>@item.rem_post</td>
                    <td>@item.Rem_final</td>

                    <td>@item.dlm_pre</td>

                    <td>@item.dlm_post</td>
                    <td>@item.master_pre</td>

                    <td>@item.master_post</td>
                  
                </tr>
            }


        </tbody>
    </table>
</body>
</html>

