@model IEnumerable<Vastwebmulti.Models.select_master_pur_order_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Hotel Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Order&nbsp;No</th>
                <th>Status </th>
                <th>Master&nbsp;Distributor</th>
                <th>Request&nbsp;Date </th>
                <th>Payment&nbsp;Mode</th>
                <th>Amount</th>
                <th>Charge</th>
                <th>From&nbsp;Acc&nbsp;No </th>
                <th>UtrNo/SlipNo </th>
                <th>Comment</th>
                <th>Response&nbsp;Date</th>
                @*<th>Dealer&nbsp;Pre</th>
                    <th>Dealer&nbsp;Inc</th>
                    <th>Dealer&nbsp;Post</th>
                    <th>Master&nbsp;Pre</th>
                    <th>Master&nbsp;Inc</th>
                    <th>Master&nbsp;Post</th>
                    <th>Admin&nbsp;Pre</th>
                    <th>Admin&nbsp;Inc</th>
                    <th>Admin&nbsp;Post</th>*@

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts1 = item.sts;
                if (item.sts.ToUpper().Contains("REQ"))
                {
                    sts1 = "Pending";
                }
                <tr>
                    <td>@item.orderno </td>
                    <td>@item.sts</td>
                    <td>@item.mdemail</td>
                    <td>@item.reqdate</td>
                    <td>@item.paymode </td>
                    <td>@item.amount</td>
                    <td>@item.cashDepositCharge</td>
                    <td>@item.Fromaccountno</td>
                    <td>@item.utrno</td>
                    <td>@item.details </td>
                    <td>@item.responsedate </td>


                    @*<td>@item.DlmPre</td>
                        <td>@item.DlmInc</td>
                        <td>@item.DlmPost</td>
                        <td>@item.MdPre</td>
                        <td>@item.MdInc</td>
                        <td>@item.MdPost</td>
                        <td>@item.AdminPre</td>
                        <td>@item.AdminInc</td>
                        <td>@item.AdminPost</td>*@

                </tr>
            }
            <tr>
                <td><p style="font-size:17px;">Total</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><p style="font-size:18px;text-align:center;">@Model.Sum(a => a.amount)</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>


        </tbody>
    </table>
</body>
</html>
