@model IEnumerable<Vastwebmulti.Models.WalletUnloadReportAdmin_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
           
                <th>Role</th>
                <th>Firm Name</th>
                <th>Status</th>
                <th>Transfer Type</th>
                <th>Bank Name</th>
                <th>Remain Pre</th>
                <th>Amount</th>
                <th>Charge</th>
                <th>Remain Post</th>
                <th>Request Time</th>
                <th>Response Time</th>
                <th>Bank RRN</th>
                @*<th>Dealer&nbsp;Pre</th>
        <th>Dealer&nbsp;Inc</th>
        <th>Dealer&nbsp;Post</th>
        <th>Master&nbsp;Pre</th>
        <th>Master&nbsp;Inc</th>
        <th>Master&nbsp;Post</th>
        <th>Admin&nbsp;Pre</th>
        <th>Admin&nbsp;Inc</th>
        <th>Admin&nbsp;Post</th>*@

           </thead>

        <tbody>
            @foreach (var item in Model)
            {


            <tr>
                <td>@item.RoleName</td>
                <td>@item.FirmName</td>
                <td>@item.Status</td>
                <td>@item.TransferType</td>
                <td>@item.BankName</td>
                <td>@item.Rempre</td>
                <td>@item.Amount</td>
                <td>@item.ProcessingCharge</td>
                <td>@item.RemPost</td>
                <td>@item.RequestDate</td>
                <td>@item.ResponseDate</td>
                <td>@item.BankRRN</td>

            </tr>
            }

           
            <tr>
                <td><p style="font-size:17px;">Total</p></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><p style="font-size:18px;text-align:center;">@Model.Sum(a => a.Amount)</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</body>
</html>
