@model IEnumerable<Vastwebmulti.Models.srsshowport_Result>
@{
    ViewBag.Title = "PortReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

   /* new css */
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
   
   /* new css */

    #loader {
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }

    .loader_innner {
        position: fixed;
        z-index: 999999;
        height: 100%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:480px) {

        .bread-same-all-page {
            display: block;
        }
        .four-noneclass-admin-only {
            width: 100%;
            float: left;
        }
        .report-top {
            width: 100%;
            margin-top: 4px;
        }


   .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > thead > tr > th:last-child{border-left: 1px solid var(--border-color);border-right: 1px solid var(--border-color);}

    }
</style>
<div id="div_Loader">
    <div class="loader_innner">
        <img src="~/offerimg/moneyload.gif" style="margin-top:15%;margin-left:46%;" class="img-responsive" />
    </div>
</div>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Hardware</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Set Hardware</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="four-noneclass-admin-only" style="margin:0px;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Set Hardware
                    </li>
                </ul><div class="report-top" style="margin-bottom:2px;">
                    <button type="button" class="btn btn-default waves-effect white-back-bor-third" style="float:right;height:32px;border:1px solid #bbb;background:#f5f5f5 !important;width: 125px;" @*data-toggle="modal" data-target="#defaultModal"*@>
                        <span class="add-new-port" style="top:-1px;color:black;"><img src="~/AdminDesign/images/plus.svg" style="width:11px;margin-right:4px;" />New Port</span>
                        <span class="port-save">Save Change</span>
                    </button>
                    <div class="report-top-in">
                        <input type="text" class="white-back-bor-third" placeholder="Enter Port Number" />
                    </div>

                </div>
            </div>
        </div>



        <div class="custom-hardware">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="hardware-left page-header-third">

                        @Html.Partial("_menuport")



                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="hardware-right page-header-third">

                        <div class="card">

                            <div class="body" style="padding:0px;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover example-second" style="width:100%;">
                                        <thead style="background-color:var(--second-bg-color);">
                                            <tr>
                                                <th>Port</th>
                                                <th>Port&nbsp;/&nbsp;Lapu&nbsp;Info</th>
                                                <th>Operator</th>
                                                <th>Service</th>
                                                <th style="padding: 9px 14px;">
                                                    Outbox
                                                </th>
                                                <th style="padding: 9px 14px;">
                                                    <img src="~/AdminDesign/images/count.svg" style="width:20px;" />
                                                </th>
                                                <th>Server</th>
                                                <th>Topup</th>
                                                <th>
                                                    <img src="~/AdminDesign/images/no-network.svg" style="width:19px;" />
                                                </th>
                                                <th>Edit</th>
                                                <th>DEL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                var signal = item.Signal;
                                                if (signal != null)
                                                {
                                                    signal = signal.Replace("+CSQ:", "");
                                                    signal = signal.Replace("\r\n\r\n\r\n^SYSSTART", "");
                                                    signal = signal.Replace(",0", "");
                                                    signal = signal.Replace(",99", "");
                                                }
                                                <tr>
                                                    <td>@item.PortNo</td>
                                                    <td><input type="text" value="@item.PortNm" readonly /></td>
                                                    <td>@item.Operator</td>
                                                    <td><input type="text" value="@item.Sname" readonly /></td>
                                                    <td>
                                                        <div class="onoffswitch">
                                                            @if (item.WritePort == "False")
                                                            {

                                                                <center>
                                                                    <a href="@Url.Action("portedit",new {port = item.PortNo, type = "write", sts = item.WritePort})" style="text-decoration:none;">
                                                                        <span class="custom-off">off</span>
                                                                    </a>
                                                                </center>


                                                            }
                                                            else
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("portedit",new {port = item.PortNo, type = "write", sts = item.WritePort})" style="text-decoration:none;">
                                                                        <span class="costom-on">on</span>
                                                                    </a>
                                                                </center>


                                                            }
                                                        </div>
                                                    </td>
                                                    <td> @item.count1 </td>
                                                    @*<td style="padding:2px;">
                                                        @Html.DisplayFor(modelItem => item.Phone)
                                                    </td>*@
                                                    <td>
                                                        <div class="onoffswitch">
                                                            @if (item.ReadPort == "False")
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("portedit",new { port = item.PortNo,type="read",sts=item.ReadPort })" style="text-decoration:none;">
                                                                        <span class="custom-off">off</span>
                                                                    </a>
                                                                </center>
                                                            }
                                                            else
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("portedit",new { port = item.PortNo,type="read",sts=item.ReadPort })" style="text-decoration:none;">
                                                                        <span class="costom-on">on</span>
                                                                    </a>
                                                                </center>


                                                            }
                                                        </div>
                                                    </td>







                                                    <td>
                                                        <div class="onoffswitch">
                                                            @if (item.Active == "False")
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("portedit",new {port = item.PortNo, type = "active", sts = item.Active })" style="text-decoration:none;">
                                                                        <span class="custom-off">off</span>
                                                                    </a>
                                                                </center>


                                                            }
                                                            else
                                                            {
                                                                <center>
                                                                    <a href="@Url.Action("portedit",new {port = item.PortNo, type = "active", sts = item.Active })" style="text-decoration:none;">
                                                                        <span class="costom-on">on</span>
                                                                    </a>
                                                                </center>


                                                            }
                                                        </div>
                                                    </td>


                                                    <td>
                                                        <center>
                                                            @if (item.Sname.Contains("DOCOMO") || item.Sname.Contains("BSNL") || item.Sname.Contains("TNOR") || item.Sname.Contains("IDEA"))
                                                            {
                                                                <button style="background-color:transparent; color:transparent; border-color:transparent;" onclick="login('@item.PortNo')">  <i class="icofont icofont-login" style="color:green;font-size:22px;"></i>  </button>
                                                            }
                                                            else if (item.PortNo.Contains("COM"))
                                                            {
                                                                if (item.Signal == "" || item.Signal == null)
                                                                {
                                                                    <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><i class="fa fa-signal fa-2x" style="color:red; "></i></a>
                                                                }
                                                                else
                                                                {
                                                                    int sig = Convert.ToInt32(signal);
                                                                    if (sig <= 10)
                                                                    {
                                                                        <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><img src="~/AdminDesign/images/no-network.svg" style="width:22px;"></a>
                                                                    }
                                                                    else if (10 < sig && sig <= 15)
                                                                    {
                                                                        <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><img src="~/AdminDesign/images/poor-network.svg" style="width:22px;"></a>
                                                                    }
                                                                    else if (15 < sig && sig <= 20)
                                                                    {
                                                                        <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><img src="~/AdminDesign/images/weak-network.svg" style="width:22px;"></a>
                                                                    }
                                                                    else if (20 < sig && sig <= 25)
                                                                    {
                                                                        <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><img src="~/AdminDesign/images/avg-network.svg" style="width:22px;"></a>
                                                                    }
                                                                    else if (25 < sig && sig <= 31)
                                                                    {
                                                                        <a href="@Url.Action("checksignal", new { port = item.PortNo, type = "Signal" })"><img src="~/AdminDesign/images/strong-network.svg" style="width:22px;"></a>
                                                                    }
                                                                }
                                                            }
                                                        </center>
                                                    </td>

                                                    <td>
                                                        <button type="button" class="hardware-right-edit" style="background-color:transparent; border:none;color:#03a9f4;" @*data-toggle="modal" data-target="#defaultModal1"*@
                                                                onclick="animation('@item.PortNo','@item.PortNm','@item.Phone','@item.minsms','@item.Sname','@item.machinename','@item.lapuno','@item.idno')">
                                                            <p style="padding:1px 11px 1px 11px;border:1px solid #bbb;color:#555;height: 25px;margin: 0px;background:transparent;">Edit</p>
                                                        </button>
                                                        <button type="button" class="hardware-right-save" style="display:none; background-color:transparent; border:none;color:#03a9f4;">
                                                            <p style="padding:1px 11px 1px 11px;border:1px solid #bbb;color:#555;height: 25px;margin: 0px;background:transparent;">Save</p>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="custom-loading waves-effect bt btnssl special-iii click-to-sure" style="width: 30px;background: transparent;border: 1px solid #bbb;padding: 4px;">

                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:14px;display: block;margin: auto;">
                                                        </button>

                                                        <button id="DeleteBtn" class="custom-loading waves-effect bt btnssl special-iii" onclick="Deleteport('@item.PortNo')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 30px;background: var(--main-bg-lcolor);border: 1px solid var(--main-bg-lcolor);padding: 2px 0px;display:none;">
                                                            <span style="color:#fff;font-size: 11px;font-weight: bold;">Sure?</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add New Port   modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Port</h4>
            </div>
            @using (Html.BeginForm("AddPort", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Port Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtportno" name="txtportno" class="form-control" required="" placeholder="Enter Port Number" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!--Edit Port Report  modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit  Port Setting</h4>
            </div>
            @using (Html.BeginForm("Editport", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Port Number</label>
                                </div>
                                <input id="txtidno" name="txtidno" class="form-control" style="display:none;" />
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtportno1" name="txtportno1" class="form-control" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Port Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtportnm" name="txtportnm" class="form-control" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Lapu Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtlapuno" name="txtlapuno" class="form-control" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Sim Number</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtsimno" name="txtsimno" class="form-control" readonly="" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Max Sms</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtmin" name="txtmin" class="form-control" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtsname" name="txtsname" class="form-control" required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">M Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="txtmname" name="txtmname" class="form-control" required="" readonly="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

<!--OTP Insert Popup-->
<div class="modal fade" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Insert OTP </h4>
            </div>
            @using (Html.BeginForm("otpinsert", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <input type="hidden" id="porthidden" value="" name="porthidden" style="display:none;">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter OTP </label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtotp", "", new { @class = "form-control", required = "", @placeholder = "Enter OTP" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<!--View all Details-->


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!--Window load Popuop message-->
<script>
    $(function () {

            var message = '@TempData["msgrem"]'
            if(message !="" && message!=null)
            {
              swal("Good job!", message, "success");

            }
            var mobileconfrimation = '@TempData["wrong"]'
            if (mobileconfrimation != "" && mobileconfrimation != null) {
                swal("Oops...", mobileconfrimation, "error");

            }

            var mailconfrimation = '@TempData["emailconfrim"]'
            if (mailconfrimation != "" && mailconfrimation != null) {
                swal("Oops...", mailconfrimation, "error");

            }
            //Edit Message
            var editdata = '@TempData["edit"]'
            if (editdata != null && editdata != "")
            {
                swal("Good job!", editdata, "success");
        }
        $(".sweet-alert").css('background', '@PageData["globalCol"]');
        });

</script>

<!--Login -->
<script type="text/javascript">

    function login(portno) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("portlogin", "Home")?Id=' + portno,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function(){
                Show(); // Show loader icon
            },
            success: function (response) {

                if (response == "Your OTP has been sent to registered mobile, please enter to proceed" || response == "Otp Sent Successfully" || response == "An OTP has been sent. Please check your SMS" || response == "Otp Send SuccessFully")
                {
                    $('#porthidden').val(portno);
                    $('#defaultModal2').modal('show');
                }
                else
                {
                   swal("Error!", response, "error");
                }
            },
            complete: function(){
                Hide(); // Hide loader icon
            },
            failure: function (jqXHR, textStatus, errorThrown) {
                alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
            }
        });
    }

    $(function () {
        $("#div_Loader").hide();
    });

    function Show() {
        $('#div_Loader').show();
    }

    function Hide() {
        $('#div_Loader').hide();
    }
</script>

<!--Edit Port Report-->
<script type="text/javascript">
    var val1 = "";
    function animation(portno, portnm, lapuno, minsms, sname, mname, simno, idno) {
        $("#txtportno1").val(portno);
        $("#txtportnm").val(portnm);
        $("#txtlapuno").val(lapuno);
        $("#txtmin").val(minsms);
        $("#txtsname").val(sname);
        $("#txtmname").val(mname);
        $("#txtsimno").val(simno);
        $("#txtidno").val(idno);
    }
</script>




<!--Delete Port-->
<script type="text/javascript">
    function Deleteport(e) {
        //alert(e)

    $.ajax({
        type: "POST", url: "Deleteportreport", data: { 'portno': e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                //swal("Deleted!", " Deleted Successfully.", "success");
                var url = '@Url.Action("PortReport", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("PortReport", "Home")';
                window.location.href = url;
            }
        }
    });

    }

</script>


<script>
    $('.report-top .add-new-port').click(function () {
        $(this).css('display', 'none');
        $('.port-save').css('display', 'block');
        $('.report-top-in').fadeIn();
    });

    $('.report-top .port-save').click(function () {
        $(this).css('display', 'none');
        $('.add-new-port').css('display', 'block');
        $('.report-top-in').fadeOut();
    });
</script>


<script>
    $('.hardware-right-edit').click(function () {
        $(this).hide();
        $(this).next('.hardware-right-save').show();
        $(this).closest('tr').find('input').removeAttr('readonly');
    });

    $('.click-to-sure').click(function () {
        $(this).hide();
        $(this).next('button').show();
    });
    
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>