@model Vastwebmulti.Areas.ADMIN.Models.PostpaidUtilitySlab
@{
    ViewBag.Title = "PostpaidUtility_Slab_setting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) {
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 38px !important;
        background-color: #f5f5f5 !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px !important;
        }

    .ldio-gs56nt525f div {
        box-sizing: content-box;
    }

    .slab-table .utility-slab-select select {
        border: 1px solid var(--border-color);
    }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }

    center {
        font-size: 30px;
        color: green;
    }

    .popup {
        display: none;
        position: absolute;
        z-index: 5;
        border: 1px solid;
        right: 27%;
        top: 37px;
        background: #fff;
        padding: 2px;
    }

    .popup1 {
        display: none;
        position: absolute;
        z-index: 5;
        border: 1px solid;
        right: 19.7%;
        top: 37px;
        background: #fff;
        padding: 2px;
    }



    .modal-dialog {
     
        text-align: center;
    }

        .modal-dialog .row {
            display: flex;
            align-items: center;
        }

    #First .form-group {
        margin-bottom: 0px;
    }

    

    #Comm {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Mdbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Dlmbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Rembtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Apibtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Whitebtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    .table-respo11 {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
    }
    .all-slab-header .bg-blue-grey {
        
        color: #8f9393 !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    .btn.bg-blue-grey.waves-effect {
        margin: 0px 1px;
    }
    .btn.bg-blue-grey.waves-effect.fullbodydycolorbg {
        color: #fff !important;
    }
    .e1all input {
        width: 110px !important;
        text-align: right;
        margin: 0px 2px;
    }
    .e1all{
        float:left;
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1080px) {

        .slab-first-tab h2 {
            font-size: 18px;
        }

        .nav > li > a {
            padding: 10px 5px;
        }

        div#custnav ul li a {
            font-size: 12px;
        }

        .slab-first-tab .nav-tabs li a::before {
            width: 8px !important;
            height: 8px !important;
            right: 9px !important;
        }

        .slab-first-tab ul li {
            margin-top: 11px;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            font-size: 10px !important;
        }
    }

    @@media only screen and (max-width:1024px) {
        #sidebar-open {
            top: 29px;
            left: -146px;
        }
    }


    @@media only screen and (max-width:992px) {
        .p_range {
            margin-top: 9px;
        }
    }

    @@media only screen and (max-width:991px) {

        .slab-first-tab {
            float: left;
        }

        .slab-first-tab {
            width: 15% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 84% !important;
        }
    }


    @@media only screen and (max-width:767px) {

        #sidebar-open {
            top: 0px;
            left: -3px;
        }

        .all-slab-header button#btnEdit {
            margin-top: 0px;
        }
        .all-slab-header #btnutility {
            margin-top: 0px;
        }

    }

    @@media only screen and (max-width:600px) {
        .slab-first-tab {
            width: 25% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 73% !important;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            margin-bottom: 7px;
        }
    }


    @@media only screen and (max-width:425px) {
        .slab-first-tab {
            width: 100% !important;
        }

            .slab-first-tab .nav-tabs li a::before {
                top: 3px;
            }

        .col-md-10.slab-first-tab-content {
            width: 100% !important;
        }
    }

  
</style>
<section class="content fourdesign-section-admin">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Postpaid Utility Slab Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Postpaid Utility Slab Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        @*<div class="row clearfix">
                <div class="col-md-12">
                    <div class="card" style="margin-bottom:2px;">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Partial("_ApislabSetting")
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_Slab_Menu")
                <div class="col-md-10 slab-first-tab-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-12 all-slab-header all-slab-header-second slab-btn-second">
                                            <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third" style="float:left;">
                                                <a href="@Url.Action("PostpaidUtility_Slab_setting","Home")" id="Comm" class="btn bg-blue-grey waves-effect fullbodydycolorbg">Common Slab<p>For New Users</p></a>
                                                <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">MD Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Apibtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('API', 'EditFormUserWise')">API user Slab<p>Exsiting Users</p></button>
                                                <button type="button" id="Whitebtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Whitelabel', 'EditFormUserWise')">White Label Slab<p>Exsiting Users</p></button>
                                            </div>
                                            <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third" style="float:right;">
                                                <button id="btnEdit" type="button" class="btn  waves-effect btn-first" style="padding: 2px 4px !important; margin-left: 2px; width: auto;" onclick="funcEdit(this, 'EditFormComm')"><img src="~/AdminDesign/images/edit.svg" style="width:13px;">&nbsp;<span style="color:#3c3c3c;">Edit Slab</span></button>
                                               
                                                <button id="btnutility" type="button" class="btn waves-effect for-click-hide" style="float: right; text-align: right; padding-right: 2px !important; font-size: 11px !important; width: 94px; line-height: 1.5; padding: 2px 4px !important; " onclick="editChargeType()">
                                                    <img src="~/AdminDesign/images/rupee.svg" style="width: 25px; width: 25px; position: absolute; left: 2px; top: 4px;" /><span>&nbsp;Utility Charge</span><p style="">Setting</p>
                                                </button>

                                                <button data-toggle="modal" id="myModal123slab" data-target="#myModaltiming" class="gfg1 fullbodydycolorbg for-button-upi back-button-third" style="width: auto; border: 1px solid #bfbebe; background: #f75252 !important; color: #fff; font-size: 13px !important; float: right; font-size: 13px !important; float: right; padding: 1px 4px 3px 21px !important; margin-right: 1px; line-height: 1; "><p style="position: absolute; left: 2px; top: 4px; font-size: 23px; font-weight: 400; "><i style="font-size: 20px; color: antiquewhite;" class="fa">&#xf295;</i></p>After 9PM <br /><span style=" text-transform: uppercase; color: #fff; font-size: 8px;">for due date</span></button>


                                                <div class="popup">
                                                    Comm:@ViewBag.unload1%
                                                </div>

                                                <button data-toggle="modal" id="myModal123slab" data-target="#myModaltiming1117" class="fullbodydycolorbg for-button-upi back-button-third gfg" style="width: auto; border: 1px solid #bfbebe; color: #fff; background: #f27900 !important; margin-right: 0px; font-size: 13px !important; float: right; padding: 1px 4px 3px 21px !important; margin-right: 1px; line-height: 1; "><p style=" position: absolute; left: 2px; top: 4px; font-size: 23px; font-weight: 400;"><i style="font-size: 20px; color: antiquewhite;" class="fa">&#xf295;</i></p>After 6PM <br /><span style=" text-transform: uppercase; color: #fff; font-size: 8px;">for due date</span></button>

                                                <div class="popup1">
                                                    Comm:@ViewBag.unload2%
                                                </div>
                                            </div>
                                           
                                        </div>
                                </div>
                                <div class="table-responsive page-header-third">
                                    <div id="divEditFormComm" class=" table-responsive slab-edit-table tablefourdesign-admin" style="position:inherit; ">
                                        @Html.Partial("_common_utility_comm", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal content For Time Comm-->
<div id="myModaltiming" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right; margin: 2px; border: 1px solid #ccc; width: 25%;">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--main-bg-lcolor); padding: 8px; border-bottom: 2px solid var(--main-bg-rcolor) !important; ">


                <p style="float: left; color: #fff; font-size: 16px; font-weight: 800; margin: 0px;">After 9 PM Current Commission</p>


            </div>
            <div class="modal-body upi-charge-modal" style="margin-top: 0px; background: #f5f5f5; padding: 24px 21px 10px 0px;">
                <div class="body">
                    <div id="First" class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @*<table style="border:1px solid #808080;width:100%;">
                                    <tr>
                                        <td style="border: 1px solid #808080; width: 50%; text-align: center;">Current Active Comm</td>
                                        <td id="dataresp123" style="border: 1px solid #808080; width: 25%; text-align: center;">@ViewBag.unload1 %</td>
                                        <td style="border: 1px solid #808080; width: 25%; text-align: center;"><button onclick="Edit1()" style="background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; padding: 4px 23px; border: 0px; color: #fff;margin:2px;"> Edit </button></td>
                                    </tr>
                                </table>*@
                            @using (Html.BeginForm("Utilitycomm_Time", "Home", FormMethod.Post))
                            {
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 " style=" padding-right: 0; ">
                                        <label style="font-size: 12px; margin: 0; " for="email_address_2">Comm (%)  </label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="">
                                                @*<select class="form-control" id="commper2" name="commper2">
            <option value="100">Select one</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
        </select>*@
@Html.DropDownList("commper2", new List<SelectListItem>
{
new SelectListItem{ Text="25%",Value="25"},
new SelectListItem{Text="50%",Value="50"},
 new SelectListItem{Text="75%",Value="75"},
new SelectListItem{Text="100%",Value="100"},
 },"ALL" ,new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style=" margin-top: 12px; margin-bottom: 16px; border-top: 1px solid #ddd7d7; width: 100%; margin-left: 9px;" />
                                <div style="float:right; ">
                                    <input type="submit" value="Submit" class="btn btn-default" style="background: var(--main-bg-lcolor) !important; color: aliceblue; font-weight: 800; " />

                                    <button type="button" class="btn waves-effect" style="width: auto; border: 1px solid #ddd; margin-left: 18px;" id="closebtn" data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            }
                            @*<label for="email_address_2" style="font-size: 18px;">
                                   After 7 PM Current Active Comm <span style="color:green;">
                                        >
                                    </span><span style="color:red;">></span>
                                    <span id="dataresp123">@ViewBag.unload1 %</span>

                                </label>*@
                        </div>
                        @* <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group" style="text-align: right;margin: 0px;">
                                        <div class="form-line">
                                            <button onclick="Edit1()" style="background:linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;padding: 4px 23px;border: 0px;color: #fff;border-radius: 15px;"> Edit </button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                    @*<div id="Second" class="row" style="display:none;">
                            @using (Html.BeginForm("Utilitycomm_Time", "Home", FormMethod.Post))
                            {
                                <div class="row clearfix">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                        <label for="email_address_2">Comm (%)</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="">
                                                <select class="form-control" id="commper" name="commper">
                                                    <option value="">Select one</option>
                                                    <option value="25">25%</option>
                                                    <option value="50">50%</option>
                                                    <option value="75">75%</option>
                                                    <option value="100">100%</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="commper1" ; name="commper1" value="1" />
                                </div>

                                <div>
                                    <input type="submit" value="Create" class="btn btn-default" />

                                    <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            }
                        </div>*@


                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="myModaltiming1117" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background: #bbb; padding: 0px 9px 8px 10px !important;">

                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="background: none;">
                    <p style="float: left; font-size: 20px; font-weight: 800;">After 7 PM Current Commission<span style="float: right; color: var(--main-bg-lcolor); font-size: 30px; margin: 0; position: absolute;right: 19px;">x</span></p>

                </button>
            </div>*@
<div id="myModaltiming1117" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style=" float: right; margin: 2px; border: 1px solid #ccc; width: 25%;">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--main-bg-lcolor); padding: 8px; border-bottom: 2px solid var(--main-bg-rcolor) !important; ">


                <p style="float: left; color:#fff; font-size: 16px; font-weight: 800; margin:0px;">After 6 PM Current Commission</p>


            </div>
            <div class="modal-body upi-charge-modal" style="margin-top: 0px; background: #f5f5f5; padding: 24px 21px 10px 0px;">
                <div class="body">
                    <div id="First" class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @*<table style="border:1px solid #808080;width:100%;">
                                    <tr>
                                        <td style="border: 1px solid #808080; width: 50%; text-align: center;">Current Active Comm</td>
                                        <td id="dataresp123" style="border: 1px solid #808080; width: 25%; text-align: center;">@ViewBag.unload1 %</td>
                                        <td style="border: 1px solid #808080; width: 25%; text-align: center;"><button onclick="Edit1()" style="background: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; padding: 4px 23px; border: 0px; color: #fff;margin:2px;"> Edit </button></td>
                                    </tr>
                                </table>*@
                            @using (Html.BeginForm("Utilitycomm_Time", "Home", FormMethod.Post))
                            {
                                <div class="row clearfix">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 " style=" padding-right: 0; ">
                                        <label style="font-size: 12px; margin: 0; for="email_address_2">Comm (%)</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="">
                                                @*<select class="form-control" id="commper" name="commper">
            <option value="100">Select one</option>
            <option value="25">25%</option>
            <option value="50">50%</option>
            <option value="75">75%</option>
            <option value="100">100%</option>
        </select>*@
@Html.DropDownList("commper", new List<SelectListItem>
{
new SelectListItem{ Text="25%",Value="25"},
new SelectListItem{Text="50%",Value="50"},
 new SelectListItem{Text="75%",Value="75"},
new SelectListItem{Text="100%",Value="100"},
 }, "ALL", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style=" margin-top: 12px; margin-bottom: 16px; border-top: 1px solid #ddd7d7; width: 100%; margin-left: 9px;" />
                                <div style=" float:right;">
                                    <input type="submit" value="Submit" class="btn btn-default" style="background: var(--main-bg-lcolor) !important; color: aliceblue; font-weight: 800; " />
                                    <button type="button" class="btn waves-effect" style="width: auto; border: 1px solid #ddd; margin-left: 18px;" id="closebtn" data-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            }
                            @*<label for="email_address_2" style="font-size: 18px;">
                                   After 7 PM Current Active Comm <span style="color:green;">
                                        >
                                    </span><span style="color:red;">></span>
                                    <span id="dataresp123">@ViewBag.unload1 %</span>

                                </label>*@
                            <!--</div>-->
                            @* <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group" style="text-align: right;margin: 0px;">
                                            <div class="form-line">
                                                <button onclick="Edit1()" style="background:linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;padding: 4px 23px;border: 0px;color: #fff;border-radius: 15px;"> Edit </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <!--</div>-->
                            @*<div id="Second" class="row" style="display:none;">
                                    @using (Html.BeginForm("Utilitycomm_Time", "Home", FormMethod.Post))
                                    {
                                        <div class="row clearfix">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                                <label for="email_address_2">Comm (%)</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                                <div class="form-group">
                                                    <div class="">
                                                        <select class="form-control" id="commper" name="commper">
                                                            <option value="">Select one</option>
                                                            <option value="25">25%</option>
                                                            <option value="50">50%</option>
                                                            <option value="75">75%</option>
                                                            <option value="100">100%</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="commper1" ; name="commper1" value="2" />
                                        </div>

                                        <div>
                                            <input type="submit" value="Create" class="btn btn-default" />

                                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                                Close
                                            </button>

                                        </div>
                                    }
                                </div>*@


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Utility Charge</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead class="navbar" style="position:initial;">
                                <tr>
                                    <th>Operator&nbsp;Type</th>
                                    <th>Retailer Fixed Charge(Rs)</th>
                                    <th>Retailer Per Charge(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PostPaid</td>
                                    <td>
                                        @if (ViewBag.postpaidf == true)
                                        {
                                            <a href="@Url.Action("postpaidcharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("postpaidcharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (ViewBag.postpaidp == true)
                                        {
                                            <a href="@Url.Action("postpaidcharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("postpaidcharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Landline</td>
                                    <td>
                                        @if (ViewBag.landlinef == true)
                                        {
                                            <a href="@Url.Action("landlinecharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("landlinecharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (ViewBag.landlinep == true)
                                        {
                                            <a href="@Url.Action("landlinecharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("landlinecharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Electricity</td>
                                    <td>
                                        @if (ViewBag.Electricityf == true)
                                        {
                                            <a href="@Url.Action("Electricitycharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Electricitycharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (ViewBag.Electricityp == true)
                                        {
                                            <a href="@Url.Action("Electricitycharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Electricitycharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gas</td>
                                    <td>
                                        @if (ViewBag.Gasf == true)
                                        {
                                            <a href="@Url.Action("gascharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("gascharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (ViewBag.Gasp == true)
                                        {
                                            <a href="@Url.Action("gascharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("gascharge", "Home")" style="text-decoration:none;">
                                                <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                            </a>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_Loader" style="display:none;">
            <div class="loadingio-spinner-gear-94vo528ab8">
                <div class="ldio-gs56nt525f">
                    <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalExtra" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
               @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="e1all">
                        <input id="move1all" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 3px; background: #e3e3e3; padding: 6px;">1</span>
                    </div>
                    <div class="e1all">
                        <input id="move2all" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 20.6%; background: #e3e3e3; padding: 6px;">2</span>
                    </div>
                    <div class="e1all">
                        <input id="move3all" type="text" placeholder="e.g 1-100%" class="form-control" /><span style=" position: absolute; top: 1px; left: 40.6%; background: #e3e3e3; padding: 6px;">3</span>
                    </div>
                    <div class="e1all">
                        <input id="move4all" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 60.6%; background: #e3e3e3; padding: 6px;">4</span>
                    </div>
                    <div class="e1all">
                        <input id="move5all" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 80.7%; background: #e3e3e3; padding: 6px;">5</span>
                    </div>
                   
                </div> 
                </div>
            <div id="divEditFormEXTRA" class="modal-body" style=" padding: 1px 13px;">
               
                @Html.Partial("_ExtraInfo", Model)



            </div>
            </div>
    </div>
</div>

<div id="myModalExtraAPI" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="e1all">
                        <input id="move1allapi" type="text"  onkeypress="return isNumber(event)" name="txtpolicyno" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 3px; background: #e3e3e3; padding: 6px;">1</span>
                    </div>
                    <div class="e1all">
                        <input id="move2allapi" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 20.6%; background: #e3e3e3; padding: 6px;">2</span>
                    </div>
                    <div class="e1all">
                        <input id="move3allapi" type="text" placeholder="e.g 1-100%" class="form-control" /><span style=" position: absolute; top: 1px; left: 40.6%; background: #e3e3e3; padding: 6px;">3</span>
                    </div>
                    <div class="e1all">
                        <input id="move4allapi" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 60.6%; background: #e3e3e3; padding: 6px;">4</span>
                    </div>
                    <div class="e1all">
                        <input id="move5allapi" type="text" placeholder="e.g 1-100%" class="form-control" /><span style="position: absolute; top: 1px; left: 80.7%; background: #e3e3e3; padding: 6px;">5</span>
                    </div>

                </div>
            </div>
            <div id="divEditFormEXTRAAPI" class="modal-body"  style=" padding: 1px 13px;">

                
                @Html.Partial("_ExtraInfoAPI", Model)


            </div>
        </div>
    </div>
</div>
<script>
    Replaceall = () => {
        $('.move1').val($('#move1all').val())
        $('.move2').val($('#move2all').val())
        $('.move3').val($('#move3all').val())
        $('.move4').val($('#move4all').val())
        $('.move5').val($('#move5all').val())
        $('#move1all').val("")
        $('#move2all').val("")
        $('#move3all').val("")
        $('#move4all').val("")
        $('#move5all').val("")
    }
    Replaceallapi = () => {
        $('.move1api').val($('#move1allapi').val())
        $('.move2api').val($('#move2allapi').val())
        $('.move3api').val($('#move3allapi').val())
        $('.move4api').val($('#move4allapi').val())
        $('.move5api').val($('#move5allapi').val())
        $('#move1allapi').val("")
        $('#move2allapi').val("")
        $('#move3allapi').val("")
        $('#move4allapi').val("")
        $('#move5allapi').val("")
    }
</script>
<script>
    OnSuccessExtra = () => {
        $('#myModalExtra').modal('hide');
    }
    OnSuccessExtraAPI = () => {
        $('#myModalExtraAPI').modal('hide');
    }
</script>
<script>
    function ddlopttypeChange() {
        var ddlVal = $('#ddlOPttype').val();
        var url = '@Url.Action("_common_utility_comm", "Home")';
        $.ajax({
   type: "POST",
   url: url,
   data: "ddlVal="+ddlVal,
            success: function (result) {
                $("#divEditFormComm").html(result);
                $('#ddlOPttype').val(ddlVal);
        // Do stuff
   },
            error: function (request, status, errorThrown) {
                alert("Error1"+ status);
        // There's been an error, do something with it!
        // Only use status and errorThrown.
        // Chances are request will not have anything in it.
   }
        });

              var url = '@Url.Action("_ExtraInfo", "Home")';
        $.ajax({
   type: "POST",
   url: url,
   data: "ddlVal="+ddlVal,
            success: function (result) {
                $("#divEditFormEXTRA").html(result);
                $('#ddlOPttype').val(ddlVal);
        // Do stuff
   },
            error: function (request, status, errorThrown) {
                alert("Error 2"+status);
        // There's been an error, do something with it!
        // Only use status and errorThrown.
        // Chances are request will not have anything in it.
   }
        });

                    var url = '@Url.Action("_ExtraInfoAPI", "Home")';
        $.ajax({
   type: "POST",
   url: url,
   data: "ddlVal="+ddlVal,
            success: function (result) {
                $("#divEditFormEXTRAAPI").html(result);
                $('#ddlOPttype').val(ddlVal);
        // Do stuff
   },
            error: function (request, status, errorThrown) {
                alert("Error 3"+status);
        // There's been an error, do something with it!
        // Only use status and errorThrown.
        // Chances are request will not have anything in it.
   }
        });


        // $.post(url, { ddlVal: ddlVal }, function (data) {
        //    alert(data);
        //    $("#divEditFormComm").html(data);
        //})
    }
</script>
<script>
     var FormId = "";
    var roleshow = "";

    function funcEdit(event, frmId) {
        var val = $('#ddlUserId').val();
         var ddldlm = $('#ddldealer').val();
        var ddlrem = $('#ddlUserIdrem').val();
        $('#btnsubmit').show();
        $('#btnsubmituser').show();
        if (val == "") {
            $('#btnsubmitusercommon').show();
        }
        if (roleshow == "Retailer" && ddldlm != "" && ddlrem=="") {
            $('#btnsubmitusercommondlmrem').show();
        }
        $('#btnEdit').hide();
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        }
         if (ddlVal != null && ddlVal != '')//Update ALL
         {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
         }
         var Retailerval = $('#Retailerid').val();
         if (Retailerval != null && Retailerval == '')//Update ALL
         {
             $('#tbodyeditAll').show();
             $('#tbodyedit').hide();
         }
         if (Retailerval != null && Retailerval != '')//Update ALL
         {
             $('#tbodyeditAll').hide();
             $('#tbodyedit').show();
        }

    }
    function funcSave() {
        //alert(FormId);
        $("#" + FormId + "").submit();
    }

    function editChargeType() {
        $('#div_Loader').show();
        var url = '@Url.Action("_utility_charge_type", "Home")';
        $.post(url, function (data) {
            $('#div_Loader').hide();
            $("#divEditFormComm").html(data);
            $("#role").val(userRole);
        }).fail(function (xhr, status, error) {
            $('#div_Loader').hide();
            alert("error");
            //var err = eval("(" + xhr.responseText + ")");
            //alert(err.Message);
        }).always(function () {
        });
    }

    function change(usertype,rchtype) {
        var url = '@Url.Action("_utility_charge_type", "Home")';
         $.post(url, { usertype: usertype,rchtype:rchtype }, function (data) {
              $("#divEditFormComm").html(data);
        })
            .fail(function (xhr, status, error) {
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
    }

    function editUserWise(userRole, frmId) {
         roleshow = userRole;
        //alert(userRole);
          $('#div_Loader').show();
          $('#btnsubmit').hide();
          $('#btnsubmituser').hide();
          $('#btnsubmitusercommon').hide();
          $('#btnEdit').show();
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: userRole }, function (data) {
              $('#div_Loader').hide();
              $("#divEditFormComm").html(data);
              FormId = frmId;
            $("#role").val(userRole);
            if (userRole == "Retailer") {
                $('#retailerdrop').show();
                $('#allshow').hide();
        }
        else {
                $('#retailerdrop').hide();
                $('#allshow').show();
        }
        })
            .fail(function (xhr, status, error) {
              $('#div_Loader').hide();
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";

        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Retailerdropdow").show();
        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
    }

    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        var ddlOPttype1 = $('#ddlOPttype1').val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(ddlVal);
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: role, userid: ddlVal,ddlVal1: ddlOPttype1 }, function (data) {
            $("#divEditFormComm").html(data);
        })
          .fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
              //alert("finished");
          });
    }
      function ddlUserIdChangerem() {
        var dlmid = $('#ddldealer').val();
        var ddlVal = $('#ddlUserIdrem').val();
        var ddlVal1 = $("#ddlOPttype1").val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: role, ddlUserIdrem: ddlVal,dlmid: dlmid,ddlVal1:ddlVal1 }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });
    }



    function ddlopttypeChange1() {

        var dlmid = $('#ddldealer').val();
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();

        var ddlOPttype1 = $('#ddlOPttype1').val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(ddlVal);
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: role, userid: ddlVal,dlmid: dlmid,ddlVal1: ddlOPttype1 }, function (data) {
            $("#divEditFormComm").html(data);
            if (role == "Retailer") {
                   $('#retailerdrop').show();
                   $('#allshow').hide();
            }

        })
          .fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
              //alert("finished");
          });
    }

    function ddlRetailerIdChange() {
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var ddlVal = $('#Retailerid').val();
        var ddlOPttype1 = $('#ddlOPttype1').val();
        var ddlValdealer = $('#ddlUserId').val();
        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: role, Retailerid: ddlVal,ddlVal1: ddlOPttype1}, function (data) {
            $("#divEditFormComm").html(data);
            $('#ddlUserId').val(ddlValdealer);
                 $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });

    }
        function ddlretailerid() {
        var dlmid = $('#ddldealer').val();
            var role = $("#role").val();
            var ddlVal1= $("#ddlOPttype1").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPostpaidUtilitySlab", "Home")';
        $.post(url, { role: role, dlmid: dlmid,ddlVal1:ddlVal1 }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
          })
          .always(function () {
          });
    }
</script>

<!--Window Load-->
<script>
    window.onload = function () {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    }
</script>
<script>
    $('.for-click-hide').click(function () {
        $('#btnEdit').hide();
    });

    $('#Mdbtn,#Dlmbtn,#Rembtn,#Apibtn,#Whitebtn').click(function () {
        $('#btnEdit').show();
    });
</script>

<script>
      function Edit1() {
        var mn = '@ViewBag.unload1';
        $('#First').hide();
        $('#Second').show();
    }

     $('#SaveChargeREM').click(function () {

       $('#lblmsg').text('')
        $.ajax({
            url: '@Url.Action("Utilitycomm_Time", "Home")',
            type: 'POST',
            data: { commper: $("#RemMinAmt").val()},
            success: function (response) {
                $('#dataresp123').html(response);
                $('#First').show();
                $('#Second').hide();
            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });
    })
</script>

<script>
    $flag = -1;

    $("div.gfg").hover(
        function () {
            $("div.popup").attr("style", "display:block");
        },
        function () {
            if ($flag == -1) {
                $("div.popup").attr("style", "display:none");
            }
        }
    );

    $("div.gfg").click(function () {
        $flag = -1;
    });
</script>

<script>
    $flag = -1;

    $("div.gfg1").hover(
        function () {
            $("div.popup1").attr("style", "display:block");
        },
        function () {
            if ($flag == -1) {
                $("div.popup1").attr("style", "display:none");
            }
        }
    );

    $("div.gfg1").click(function () {
        $flag = -1;
    });
</script>

<script>
    extraretailer = () => {
        $('#myModalExtra').modal();
    }
    extraapi = () => {
        $('#myModalExtraAPI').modal();
    }
</script>
<script>
    $(function ()
    {
        $('#commper2').val('@ViewBag.unload2')
        $('#commper').val('@ViewBag.unload1')
    });
</script>
<script>
    commonreplace = () => {
        $('.commonmaster').val($('#common1').val())
        $('.commondlm').val($('#common2').val())
        $('.commonrem').val($('#common3').val())
        $('.commonapi').val($('#common4').val())
        $('.commonwhite').val($('#common5').val())  
    }
    masterreplace = () => {
        $('.master1').val($('#master1').val())  
        
    }
    Dealerreplace = () => {
        $('.dealer1').val($('#dealer1').val())  
        
    }
    Retailerreplace = () => {
        $('.Retailer1').val($('#Retailer1').val())  
        
    }
    dlmremreplace = () => {
        $('.dlmrem1').val($('#dlmrem1').val())  
        
    }
    apireplace = () => {
        $('.api1').val($('#api1').val())  
        
    }
    whitereplace = () => {
        $('.white1').val($('#white1').val())  
        
    }
    masterallreplace = () => {
        $('.masterall1').val($('#masterall1').val())  
    }
    Dealerallreplace = () => {
        $('.dealerall1').val($('#dealerall1').val())  
    }
    Retailerallreplace = () => {
        $('.Retailerall1').val($('#Retailerall1').val())  
    }
    dlmRetailerallreplace = () => {
        $('.DLMRetailerall1').val($('#DLMRetailerall1').val())  
        
    }
    apiallreplace = () => {
        $('.apiall1').val($('#apiall1').val())  
    }
    Whiteallreplace = () => {
        $('.whiteall1').val($('#whiteall1').val())  
        
    }
</script>