@model Vastwebmulti.Areas.ADMIN.Models.PrepaidSlab
@{
    ViewBag.Title = "Prepaid_Slab_setting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>

   /*  new css  */



   /*  new css  */


    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
        
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) { 
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
                
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-gs56nt525f div {
            box-sizing: content-box;
        }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 38px !important;
        background-color: #f5f5f5 !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px !important;
        }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }

    .utilitiescommission {
        float: right;
    }

    .predthrange {
        float: right;
    }

    a.bg-blue-grey.btn.waves-effect.predthrange {
        width: 152px;
        border: 1.3px solid #ccc;
        background: #efefefef !important;
        color: #555555 !important;
        border-bottom: 1.3px solid #ccc !important;
        float: revert;
    }
   
    #Comm {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    #Mdbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    #Dlmbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    #Rembtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    #Apibtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    #Whitebtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    .table-respo11 {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
    }
    .btn.bg-blue-grey.waves-effect.fullbodydycolorbg {
        color: #fff !important;
    }
    .all-slab-header .bg-blue-grey {
        color: #8f9393 !important;
        border-bottom: 1px solid #bfbebe !important;
    }
    [type="checkbox"].filled-in:not(:checked) + label:after {
        height: 13px;
        width: 14px;
        background-color: transparent;
        border: 2px solid #5a5a5a;
        top: 8px;
        z-index: 0;
        left:11px;
    }
    .third {
        border-bottom: 1px solid #ddd;
    }
    [type="checkbox"] + label {
        padding-left: 32px;
        height: 23px;
        line-height: 28px;
        font-size: 13px;
        font-weight: normal;
    }
    [type="checkbox"].filled-in:checked + label:after {
        top: 8px;
        width: 14px;
        height: 13px;
        border: 2px solid #26a69a;
        background-color: #26a69a;
        z-index: 0;
        left: 11px;
    }
    [type="checkbox"].filled-in:checked + label:before {
        top: 7px;
        left: 13px;
        width: 5px;
        height: 10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    @@media only screen and (max-width:1169px){

        .ls-closed section.content {
            margin-left: 0px;
        }


    }

    @@media only screen and (max-width:1080px) {

        .slab-first-tab h2 {
            font-size: 18px;
        }

        .nav > li > a {
            padding: 10px 5px;
        }
        div#custnav ul li a {
            font-size: 12px;
        }
        .slab-first-tab .nav-tabs li a::before {
            width: 8px !important;
            height: 8px !important;
            right: 9px !important;
        }
        .slab-first-tab ul li {
            margin-top: 11px;
        }
        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            font-size: 10px !important;
        }
        


    }

    @@media only screen and (max-width:1024px){
        #sidebar-open {
            top: 29px;
            left: -146px;
        }


    }


    @@media only screen and (max-width:992px) {
        .p_range {
            margin-top: 9px;
        }
        
    }

    @@media only screen and (max-width:991px) {

        .slab-first-tab {
            float: left;
        }
        .slab-first-tab {
            width: 15% !important;
        }
        .col-md-10.slab-first-tab-content {
            width: 84% !important;
        }

    }


    @@media only screen and (max-width:767px) {

        #sidebar-open {
            top: 0px;
            left: -3px;
        }
        .all-slab-header button#btnEdit {
            margin-top: 1px;
        }


    }

    @@media only screen and (max-width:600px) {
        .slab-first-tab {
            width: 25% !important;
        }
        .col-md-10.slab-first-tab-content {
            width: 73% !important;
        }
        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            margin-bottom: 7px;
        }

        
    }


    @@media only screen and (max-width:480px) {
        #slab-master-detail .col-md-3.col-sm-3.col-xs-3.col-3 {
            width: 50%;
            padding: 4px;
        }
        #slab-master-detail .aoow-commision span {
            font-size: 7px !important;
        }
        #slab-master-detail .aoow-commision strong {
            font-size: 11px !important;
        }

        .slab-first-tab {
            width: 100% !important;
        }
            .slab-first-tab .nav-tabs li a::before {
                top: 3px;
            }

        .col-md-10.slab-first-tab-content {
            width: 100% !important;
        }
        
    }

</style>

<section class="content fourdesign-section-admin">
    <div id="loadermoney" class="loadermoney" style="display:none;"></div>
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Commission</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Commission</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        @*<div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:2px;">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_ApislabSetting")
                        </div>
                    </div>

                    </div>
                </div>
            </div>*@
        <div class="row clearfix">
            <div class="col-md-12">
                @Html.Partial("_Slab_Menu")
                <div class="col-md-10 slab-first-tab-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header" style="width:auto;">
                                    <div class="row">
                                        <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third" style="float:left;">
                                            <a href="@Url.Action("Prepaid_Slab_setting","Home")" id="Comm" class="btn bg-blue-grey waves-effect fullbodydycolorbg">Common Slab<p>For New Users</p></a>
                                            <button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect masterdealerclass" onclick="editUserWise('Master', 'EditFormUserWise')">MD Slab<p>Exsiting Users</p></button>
                                            <button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect masterdealerclass" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor Slab<p>Exsiting Users</p></button>
                                            <button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer Slab<p>Exsiting Users</p></button>
                                            <button type="button" id="Apibtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('API', 'EditFormUserWise')">API user Slab<p>Exsiting Users</p></button>
                                            <button type="button" id="Whitebtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Whitelabel', 'EditFormUserWise')">White Label Slab<p>Exsiting Users</p></button>
                                        </div>
                                        <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third p_range" style="float:right;">
                                            <button id="btnEdit" type="button" class="btn  waves-effect btn-first" style="margin-left: 2px; width: auto; display: inline-block; padding: 4px !important;" onclick="funcEdit(this, 'EditFormComm')"> <img src="~/AdminDesign/images/edit.svg" style="width:13px;" />&nbsp;<span style="color: #3c3c3c; top: 1px !important; margin-left: 0px !important;">Edit Slab</span></button>
                                            <a href="@Url.Action("Commsion_Status_master_dlm","Home")" class="bg-blue-grey btn waves-effect utilitiescommission" style="display: none; width: auto; padding: 2px 5px !important;">Hold Setting<p>utilities commission</p></a>
                                            @*<a href="@Url.Action("Prepaid_DTH_AmountRange","Home")" class="bg-blue-grey btn waves-effect predthrange"> <span class="slab_amt" style="letter-spacing:1px; color:#555555; font-weight:bold;">Slab Amount Range</span> <p style="color:var(--main-bg-lcolor) !important; ">Set / Edit On Prepaid&DTH Slab</p></a>*@

                                            <button data-toggle="modal" id="myModal123slab" data-target="#myModalxyz" class="fullbodydycolorbg for-button-upi back-button-third" style=" color: #fff;width:auto; padding: 4px 4px !important; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "><i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i>Slab Amount Range</button>
                                            <button data-toggle="modal" id="myModal123showdata" data-target="#myModal123" onclick="block_rechargeshow()" class="fullbodydycolorbg for-button-upi back-button-third" style=" margin-right: 2px;color: #fff; padding: 7px 6px !important;width:auto; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "><i style=' padding-right: 6px; font-size: 14px;' class='fas'>&#xf543;</i>Edit Slip</button>



                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive tablefourdesign-admin table-respo11" style="margin-top: 10px;">
                                    <div id="divEditFormComm" class="slab-edit-table table-responsive" style="position:inherit;">
                                        @Html.Partial("_prepaid_comm", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="div_Loader" style="display:none;">
    <div class="loadingio-spinner-gear-94vo528ab8">
        <div class="ldio-gs56nt525f">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<!--Slab EDIT LIST-->
<div id="myModalxyz" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background: #bbb; padding: 6px;">

                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width: auto; float: right; padding: 0px; background: transparent; font-size: 14px; line-height: 18px; margin-top: 0px; border: 2px solid var(--main-bg-lcolor); color: var(--main-bg-lcolor); background: #fff; margin-right: 4px; padding: 8px 7px;">
                    <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                </button>
            </div>
            <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">

                    <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="RemTbl333">

                        <div class="card Are">
                            <div id="tblshowMasterD" class=" table-responsive tableseconddes-admin page-header-third" style="width:100%;">
                                <table class="table table-bordered table-striped table-hover third-design-table" style="margin:0px;">
                                    <thead>
                                        <tr>
                                            <th> <div class="maximum_amt" style="letter-spacing: 0.5px; line-height: 0;">Maximum Amount Range1</div> <br /> <div class="enter_the_1" style="font-size: 9px; line-height: 0;">Enter The Max Amount According Range One.</div></th>
                                            <th> <div class="maximum_amt" style="letter-spacing: 0.5px; line-height: 0;">Maximum Amount Range2</div><br /> <div class="enter_the_1" style="font-size: 9px; line-height: 0;">Enter The Max Amount According Range Two.</div></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="body">
                                        @foreach (var item in Model.AmountRange)
                                        {
                                            <tr class="tr">
                                                <td>@item.maximum1</td>
                                                <td>@item.maximum2</td>
                                                <th>
                                                    <button id="btnEdit1" type="button" class="btn  waves-effect btn-first" style="margin-left: 5px;" onclick="funcEdit1()"> <img src="~/AdminDesign/images/edit.svg" style="width:13px;" />&nbsp;<span style="color:#3c3c3c;">Edit</span></button>
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                    <tbody id="bodyedit" style="display:none;">
                                        @using (Html.BeginForm("Edit_prePaid_amountRange", "Home", FormMethod.Post))
                                        {
                                            for (int i = 0; i < Model.AmountRange.Count; i++)
                                            {
                                                @Html.HiddenFor(aa => aa.AmountRange[i].idno)
                                                <tr class="tr">
                                                    <td>
                                                       
                                                        @Html.EditorFor(a => a.AmountRange[i].maximum1, new { htmlAttributes = new { @style = "width:100% !important; border: 1px solid #cdc4c4; padding: 5px;", @required = "true" } })
                                                        @Html.ValidationMessageFor(a => a.AmountRange[i].maximum1)

                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(a => a.AmountRange[i].maximum2, new { htmlAttributes = new { @style = "width:100% !important; border: 1px solid #cdc4c4; padding: 5px;", @required = "true" } })
                                                        @Html.ValidationMessageFor(a => a.AmountRange[i].maximum2)

                                                    </td>
                                                    <td>
                                                        <button id="btnsave" type="submit" class="btn  waves-effect btn-first" style="margin-left:5px; display:none;"> <img src="~/AdminDesign/images/edit.svg" style="width:13px;" />&nbsp;<span style="color:#3c3c3c;">Save</span></button>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-md-12 all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon">
                             <p class="tabl_1" id="tabl_1">Please note that the amount exceeding the maximum amount of the (2) second range is calculated in the range no (3) three.</p>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--Edit slip-->
<div id="myModal123" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;width:auto;">
        <div class="modal-content" style="height:auto;">
            <div class="modal-header" style="background: #bbb; padding: 6px;">


                <li style="width:auto; float:left;">
                    <button type="button" class="btn  waves-effect for-select-mail" onclick="eselectAll()" style="padding: revert;height:25px;">
                        <i class="far fa-check-square" aria-hidden="true" style="color: var(--main-bg-lcolor); top: 2px; font-size: 17px;"></i> <span style="top:0px;">Block All</span>
                    </button>
                </li>
                <li style="width:auto; float:left;">
                    <button type="button" class="btn waves-effect for-select-mail text-center" onclick="eUnSelectAll()" style="padding: revert;height:25px;">
                        <i class="fa fa-square-o" aria-hidden="true" style="top:2px;font-size:17px;"></i><span style="top:0px;">Unblock All</span>
                    </button>
                </li>
            </div>
            <div class="modal-body upi-charge-modal" style="background: #f5f5f5; height: 234px; padding: 8px;">

                <div class="" style="width: auto; height: auto;" id="RemTbl333">
                    <div class="row" id="RechargeSlipCheckUncheck" style="margin: auto; height: auto; display: flow-root; background: rgb(255 255 255 / 95%); padding: 5px; box-shadow: 0px 0px 5px -2px; border-radius: 4px;">

                        <div class="third">
                            <input type="checkbox" id="Convence Fee" value="Convence Fee" class="filled-in chk-col-red" name="acs11" style="">
                            <label for="Convence Fee" style="">Convence Fee</label>
                        </div>
                        <div class="third">
                            <input type="checkbox" id="Mobile" value="Mobile" class="filled-in chk-col-red" name="acs11">
                            <label for="Mobile" style="">Mobile</label>
                        </div>
                        <div class="third">
                            <input type="checkbox" id="Email" value="Email" class="filled-in chk-col-red" name="acs11">
                            <label for="Email" style="">Email</label>
                        </div>
                        <div class="third">
                            <input type="checkbox" id="Customer care" value="Customer care" class="filled-in chk-col-red" name="acs11">
                            <label for="Customer care" style="">Customer care</label>
                        </div>
                        <div class="third">
                            <input type="checkbox" id="Website Name" value="Website Name" class="filled-in chk-col-red" name="acs11">
                            <label for="Website Name" style="">Website Name</label>
                        </div>
                        <div class="third">
                            <input type="checkbox" id="TotalAmount" value="TotalAmount" class="filled-in chk-col-red" name="acs11">
                            <label for="TotalAmount" style="">Total Amount</label>
                        </div>
                    </div><!--.row-->

                    <div class="third11" style="margin: auto; height: auto; display: flow-root; background: rgb(255 255 255 / 95%); padding: 5px; box-shadow: 0px 0px 5px -2px; border-radius: 4px;">
                        <ul class="smssetting-top backgfull-third lllkggt" style="">
                            <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width: auto; margin: 0px; background: transparent; background: #fff; padding: 2px 6px; height: auto; "><span style="">Clog</span></button>
                            <li class="button-seconddesign" style="width:auto;float:right;">
                                <button type="button" id="SaveAll" onclick="block_rechargesupdateShow()" class="btn  waves-effect fullbodydycolorbg btn-first" style="float: right; height: 25px; padding: 4px;">
                                    <span style="color: #fff; top: -2px;">Save Details</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                                
         </div>

      </div>

</div>





<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script>
    $('#tabl_1').hide();
    function funcEdit1() {
        $('#btnEdit1').hide();
        $('#btnsave').show();
        $('#body').hide();
        $('#bodyedit').show();
        $('#tabl_1').show();
    }
</script>

<script>
    $(document).ready(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })



</script>
<script>
    var btnshowhidmastertext = "Report";
    $('#btnshowhidmaster_dlmComm').click(function () {
        var btntextvalue = $('#btnshowhidmaster_dlmComm').text();
        var role = $('#ddlusers').val();

        var urlsss = '@Url.Action("Commsion_Status_master_dlm_userwise", "Home")?userwise=' + role + '&btntextvalue=' + btnshowhidmastertext ;

        if (btnshowhidmastertext == "ShowStatus") {
               $('#tblshowmaster_dlm_comm_reports').hide()

               $("#tblshowMasterD").load(urlsss + " #tblshowMasterD");
               $('#btnshowhidmaster_dlmComm').text("Show Report")
               btnshowhidmastertext = "Report";
            $('#tblshowMasterD').show()
            $('#tblshowmaster_dlm_comm_reports').empty()

          }
           else {


               $("#tblshowmaster_dlm_comm_reports").load(urlsss + " #tblshowmaster_dlm_comm_reports");
            $('#btnshowhidmaster_dlmComm').text("Show Status")
            btnshowhidmastertext = "ShowStatus";
               $('#tblshowMasterD').hide()
               $('#tblshowmaster_dlm_comm_reports').show()

            $('#tblshowMasterD').empty()
           }


    })

    function changestats(idno, role,csts) {

         $.ajax({
            url: "@Url.Action("Commsion_Status_master_dlm_change")",
            type: "GET",
             data: { idno: idno, userwise: role, sts: csts },

             success: function (result) {

                 if (result == "success") {

                     var urlsss = '@Url.Action("Commsion_Status_master_dlm_userwise", "Home")?userwise=' + role + '&btntextvalue=ShowStatus' ;


                // var urlsss = '@Url.Action("Commsion_Status_master_dlm_userwise", "Home")?userwise=' + role;

                     $("#tblshowMasterD").load(urlsss + " #tblshowMasterD");
             }

                // $("#" + tabID).html(result);
            }
        });


    }


    $('#ddlusers').change(function () {
        var btntextvalue = $('#btnshowhidmaster_dlmComm').text();
        var role = $('#ddlusers').val();
        var urlsss = '@Url.Action("Commsion_Status_master_dlm_userwise", "Home")?userwise=' + role + '&btntextvalue=' + btnshowhidmastertext ;

        if (btnshowhidmastertext == "ShowStatus") {
            $('#tblshowmaster_dlm_comm_reports').hide()

            $("#tblshowMasterD").load(urlsss + " #tblshowMasterD");

            $('#tblshowMasterD').show()
        }
        else {

            $("#tblshowmaster_dlm_comm_reports").load(urlsss + " #tblshowmaster_dlm_comm_reports");

            $('#tblshowMasterD').hide()
            $('#tblshowmaster_dlm_comm_reports').show()

        }

    })
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<script type="text/javascript">
    function eselectAll() {
        var items = document.getElementsByName('acs11');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    function eUnSelectAll() {
        var items = document.getElementsByName('acs11');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }
</script>
<script type="text/javascript">
                    $(document).ready(function () {
                        loadRechargeSlipBlockStatus();
            $("#SaveAll").click(function () {
                var optCode = []

                $("#RechargeSlipCheckUncheck input").each(function () {
                        if ($(this).prop('checked') == true) {
                            optCode.push($(this).val() + ",Y");
                        }
                        if ($(this).prop('checked') == false) {
                            optCode.push($(this).val() + ",N");
                        }
                    });

                document.getElementById("loadermoney").style.display = "block";

                $.ajax({
                             type: "POST",
                             url: '@Url.Action("Blocked_Recharge_Slip_SettingSave", "Home")',
                             data: { 'ch': optCode },
                             cache: false,
                             dataType: 'json',
                             async: true,
                             success: function (data) {
                                 var pp = data.status;
                                 var mm = data.Message;

                                 if (pp) {
                                     document.getElementById("loadermoney").style.display = "none";
                                     toastr.success('Recharge Slip Mode Successfully Blocked', 'Recharge Slip Block');
                                 }
                                 else {
                                     toastr.error(mm, 'Recharge Slip Block Error');
                                 }

                             }
                         });

            });

                        function loadRechargeSlipBlockStatus() {
                 $.ajax({
                    type: "GET",
                    url: '@Url.Action("Check_Unchek_Recharge_slip_Setting", "Home")',
                    cache: false,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        var obj = data;

                        for (var item in obj) {
                            var sts = obj[item].status;
                            var name = obj[item].Upi_Mode;
                            if (sts == "Y") {
                                $("#" + name + "").prop("checked", true);
                            }
                        }
                    }
                });
            }
            });
    </script>

@*<script>

    function block_rechargeshow() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Check_Unchek_Recharge_slip_Setting", "Home")',
                cache: false,
                dataType: 'json',
                async: true,
                success: function (data) {
                    var obj = data;

                    for (var item in obj) {
                        var sts = obj[item].status;
                        var name = obj[item].Recharge_Mode;;
                        console.log(name, sts)
                        if (sts == "Y") {
                            $("#" + name + "").prop("checked", true);
                        }
                        else {
                            $("#" + name + "").prop("checked", false);
                        }
                    }
                }
            });
        }
    function block_rechargesupdateShow() {
            var optCode = []

        $("#RechargeSlipCheckUncheck input").each(function () {
                if ($(this).prop('checked') == true) {
                    optCode.push($(this).val() + ",Y");
                }
                if ($(this).prop('checked') == false) {
                    optCode.push($(this).val() + ",N");
                }
            });

            document.getElementById("loadermoney").style.display = "block";

            $.ajax({
                type: "POST",
                url: '@Url.Action("Blocked_Recharge_Slip_SettingSave", "Home")',
                data: { 'ch': optCode },
                cache: false,
                dataType: 'json',
                async: true,

                success: function (data) {
                    var pp = data.status;
                    var mm = data.Message;
                    if (pp) {

                        document.getElementById("loadermoney").style.display = "none";
                        toastr.success('Recharge Slip Mode Successfully Blocked', 'Recharge Slip Block');
                    }
                    else {
                        toastr.error(mm, 'Recharge Slip Block Error');
                    }

                }
            });

        }
</script>*@

<script>
    var FormId = "";
    var roleshow = "";

    function funcEdit(event, frmId) {
        var val = $('#ddlUserId').val();
         var ddldlm = $('#ddldealer').val();
        var ddlrem = $('#ddlUserIdrem').val();
        $('#btnsubmit').show();
        $('#btnsubmituser').show();
        if (val == "") {
            $('#btnsubmitusercommon').show();
        }
        if (roleshow == "Retailer" && ddldlm != "" && ddlrem=="") {
            $('#btnsubmitusercommondlmrem').show();
        }
        $('#btnEdit').hide();
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        }
         if (ddlVal != null && ddlVal != '')//Update ALL
         {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
         }
         var Retailerval = $('#Retailerid').val();
         if (Retailerval != null && Retailerval == '')//Update ALL
         {
             $('#tbodyeditAll').show();
             $('#tbodyedit').hide();
         }
         if (Retailerval != null && Retailerval != '')//Update ALL
         {
             $('#tbodyeditAll').hide();
             $('#tbodyedit').show();
        }

    }
    function funcSave() {
        //$("#"+FormId+"").on("submit", function (event) { });
        //alert(FormId);
        $("#" + FormId + "").submit();
    }

    function editUserWise(userRole, frmId) {
        roleshow = userRole;

        $('#div_Loader').show();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(userRole);
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: userRole }, function (data) {
        $('#div_Loader').hide();
            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#role").val(userRole);
            if (userRole == "Retailer") {
                $('#retailerdrop').show();
                $('#allshow').hide();
            }
            else {
                $('#retailerdrop').hide();
                $('#allshow').show();
            }
            if (['Master', 'Dealer'].includes(userRole)) {
                $('#user_desc').text('Including GST (Goods and Service Tax) if commission agent');
            }
            else {
                $('#user_desc').text('Including GST (Goods and Service Tax)');
            }
        })
            .fail(function (xhr, status, error) {
                  $('#div_Loader').hide();
             //  $('#divLoader').hide();
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
              console.log(xhr.responseText);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Retailerdropdow").show();
           //var  x = $("#ddlUserId");
           // x.options[x.selectedIndex].text = "Select Dealer";
        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
    }
    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal}, function (data) {
            $("#divEditFormComm").html(data);
            if (['Master', 'Dealer'].includes(roleshow)) {
                $('#user_desc').text('Including GST (Goods and Service Tax) if commission agent');
            }
            else {
                $('#user_desc').text('Including GST (Goods and Service Tax)');
            }
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    function ddlUserIdChangerem() {
        var dlmid = $('#ddldealer').val();
        var ddlVal = $('#ddlUserIdrem').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal,dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
            if (['Master', 'Dealer'].includes(roleshow)) {
                $('#user_desc').text('Including GST (Goods and Service Tax) if commission agent');
            }
            else {
                $('#user_desc').text('Including GST (Goods and Service Tax)');
            }
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    //Indivual Retailer Wise
    function ddlRetailerIdChange() {
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var ddlVal = $('#ddlUserId').val();

        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
            if (['Master', 'Dealer'].includes(roleshow)) {
                $('#user_desc').text('Including GST (Goods and Service Tax) if commission agent');
            }
            else {
                $('#user_desc').text('Including GST (Goods and Service Tax)');
            }
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    function ddlretailerid() {
        var dlmid = $('#ddldealer').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
            if (['Master', 'Dealer'].includes(roleshow)) {
                $('#user_desc').text('Including GST (Goods and Service Tax) if commission agent');
            }
            else {
                $('#user_desc').text('Including GST (Goods and Service Tax)');
            }
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
</script>
<!--Window Load-->
<script>
    window.onload = function () {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    }
</script>


<script>
    $(".allbuttonclicknon button").click(function () {
        $(".utilitiescommission").hide();
        $(".predthrange").show();

    });
    $(".masterdealerclass").click(function () {
        $(".utilitiescommission").show();
        $(".predthrange").hide();
    });
</script>
