@model Vastwebmulti.Areas.ADMIN.Models.QRCODE_Details
@{
    Layout = null;
    var l0ogoimg = Model.logoimage;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .print-qr-top {
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }

        .print-qr-top-in {
            width: 49%;
            float: left;
            margin-right: 1%;
            margin-bottom: 3%;
        }

            .print-qr-top-in:nth-child(2n) {
                margin-right: 0px
            }

        .print-qr {
            border: 4px solid #000;
            padding: 22px;
            padding-top: 5px;
        }

        .print-qr, .print-qr-first {
            width: 100%;
            float: left;
        }

        .print-qr-first-left {
            width: 45%;
            float: left;
        }

            .print-qr-first-left img {
                max-width: 100%;
            }

        .print-qr-first-right {
            width: 45%;
            float: left;
            margin-left: 10%;
            text-align: center;
        }

            .print-qr-first-right img {
                max-width: 100%;
            }

        .print-qr-third {
            width: 100%;
            float: left;
            margin: 10px 0px;
        }

            .print-qr-third span {
                border-bottom: 1px solid #ddd;
                padding-bottom: 3px;
                padding-top: 3px;
            }

        .print-qr-second {
            width: 100%;
            float: left;
            border: 2px solid #a4a0a0;
        }

            .print-qr-second p {
                width: 100%;
                float: left;
                font-size: 16px;
                text-align: center;
                margin: 0px;
                background: #dbdbdb;
                color: #000;
            }

            .print-qr-second img {
                max-width: 100%;
            }
    </style>
</head>
<body>
    <div class="print-qr-top">
        @foreach (var item in Model.QRDetails)
        {
            <div class="print-qr-top-in">

                <div class="print-qr">
                    <div class="print-qr-first">
                        <div class="print-qr-first-left">
                            <img src="~/AdminDesign/images/bhim-upi.png" />
                        </div>
                        <div class="print-qr-first-right">
                            
                            <img src="@Url.Content("~/"+ Model.logoimage )"    />
                       

                            @*<img src="~/Outside_logo/ab08fc1a-2d8e-48b6-b521-6344043d564b_24onlinelogo.png" />*@
                        </div>
                    </div>
                    <div class="print-qr-third">
                        <span style="width:10%;float:left;height:27px;"><img src="~/AdminDesign/images/retail.svg" style="width:18px;" /></span>
                        <span style="width:90%;float:right;text-align:right;height:27px;">@item.firmname</span>
                        <span style="width:10%;float:left;height:27px;"><img src="~/AdminDesign/images/qr-codes.svg" style="width:18px;" /></span>
                        <span style="width:90%;float:right;text-align:right;height:27px;">@item.MerchantVPA</span>
                        <span style="width:5%;float:left;height:27px;text-align:left;"><img src="~/AdminDesign/images/call.svg" style="width:100%;" /></span>
                        <span style="width:95%;float:right;text-align:right;height:27px;">@item.Mobile</span>

                    </div>
                    <div class="print-qr-second">
                        <p>Accepted Here All UPI Payments</p>
                        <img src='@item.QRCODE' />
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>
