@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.radiantcashdepositlist>
@{
    ViewBag.Title = "RadiantCMSDeposit";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}


<section class="content cas-hdeposi-tcharge-page upicharge-thirddesign">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("RadiantCMSDeposit","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Radiant CMS Deposit
                        </a>

                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix ">
            <div class="switch-user-tab">


                <div class="col-md-12 switch-user-tab-right">

                    <div class="page-header-third">
                        <div class="col-md-12 rtrt responcive-full" style="padding: 0px;padding-left: 3px;">
                            <div class="row">
                                @using (Html.BeginForm("RadiantCMSDeposit", "Home", FormMethod.Post))
                                {
                                    <div class="col-md-3 clk responcive-full" style="padding-right:0px;">
                                        <div class="form-line">
                                            @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 clk responcive-full" style="padding-right:0px;">
                                        @Html.DropDownList(
                                            "Status",
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "Success", Value = "Success" },
                                                new SelectListItem { Text = "Failed", Value = "Failed" },
                                                new SelectListItem { Text = "Pending", Value = "Pending" }
                                            },
                                            "Select Status",
                                            new { @class = "form-control" }
                                        )
                                    </div>
                                    <div class="col-md-3 clk responcive-full" style="padding-right:0px;">

                                        <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638;" })
                                            <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                                            </span>
                                            <div class="nrr3">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638;" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 sre responcive-full" style="padding-left:3px;">
                                        <button type="submit" class="btn input-back-second" style="background-color:transparent;border-color:transparent;">
                                            <i class="fa fa-search color-white-second" style=" position: absolute; top: 8px; left: 11px; color: var(--main-bg-lcolor); z-index: 1;" aria-hidden="true"></i>
                                        </button>
                                        <!--<center>
                                        <div class="sponc11">

                                            <i class="fa fa-search color-white-second" style=" position: absolute; top: 8px; left: 11px; color: var(--main-bg-lcolor); z-index: 1;" aria-hidden="true"></i>-->
                                        @*<input id="btntype_TODAY" name="btntype" type="submit" value="TODAY" class="btn" style="margin-top:0px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" />*@
                                        <!--<input name="btntype" type="submit" value="" class="btn input-back-second" style="padding-left: 20px; margin-top: 0px; height: 32px; border: none; background: transparent; z-index: 2; position: relative;" />
                                            </div>
                                        </center>-->
                                    </div>
                                }
                                <div class="col-md-2 clk responcive-full" style="padding-right:0px;">
                                    <span>Total : @ViewBag.total</span>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>




                        <div class="table-responsive " style="width:100%;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr style="background:#f9f9f9;">
                                        <th>Firm Name</th>
                                        <th>Req ID</th>
                                        <th>Mode</th>
                                        <th>Bank Info</th>
                                        <th>Slip/ Bank RRN</th>
                                        <th>Amount</th>
                                        <th>Remain Pre</th>
                                        <th>Remain Post</th>
                                        <th>Insert Date </th>
                                        <th>Update Date </th>
                                        <th>Status </th>
                                        <th>Upload Slip  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var repurl = ViewBag.url + "/uploads/slips/" + item.Slipname;
                                        <tr>
                                            <td>@item.Firmanme</td>
                                            <td>@item.Requestid</td>
                                            <td>@item.Mode</td>
                                            <td>@item.BankName</td>
                                            <td>@item.Slipid</td>
                                            <td>@item.Amount</td>
                                            <td>@item.Remainpre</td>
                                            <td>@item.Remainpost</td>
                                            <td>@(item.Insertdate?.ToString("dd-MM-yyyy hh:mm:ss tt"))</td>
                                            <td>@(item.Updatedate?.ToString("dd-MM-yyyy hh:mm:ss tt"))</td>
                                            <td>@item.Status</td>
                                            <td>
                                                <a href="javascript:void(0);"
                                                   onclick="openSlip('@repurl')"
                                                   class="btn btn-sm btn-primary">
                                                    View Slip
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
<div id="slipModal" style="display:none; position:fixed; inset:0; background:rgba(0,0,0,0.6); z-index:9999;">
    <div style="background:#fff; width:70%; margin:5% auto; padding:15px; position:relative;">
        <span id="closeSlip" style="position:absolute; right:10px; top:5px; cursor:pointer; font-size:22px;">×</span>
        <div id="slipBody" style="text-align:center;"></div>
    </div>
</div>

<!--=======    Modal For Bank Details   ========-->
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $('#allretailer').select2();
    $('#allDetails').select2();
</script>
<script>
    $(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>
<script>
    function openSlip(url) {
        var html = "";

        if (url.toLowerCase().endsWith(".pdf")) {
            html = '<iframe src="' + url + '" width="100%" height="500px"></iframe>';
        } else {
            html = '<img src="' + url + '" style="max-width:100%;max-height:500px;" />';
        }

        $("#slipBody").html(html);
        $("#slipModal").fadeIn();
    }

    $(function () {
        $("#closeSlip").on("click", function () {
            $("#slipModal").fadeOut();
        });

        $("#slipModal").on("click", function (e) {
            if (e.target.id === "slipModal") {
                $("#slipModal").fadeOut();
            }
        });
    });
</script>