@model List<Vastwebmulti.Models.Proc_Recharge_info_Failed_TO_Success_Reports_Result>

@{
    ViewBag.Title = "Rch_Failed_success_Reports";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />

<style>


    /*   New css    */

    .cardretailerlager {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }

    .res_div {
        width: 50% !important;
        float: left !important;
    }

    .res_div1 {
        width: auto !important;
    }

        .res_div1 .input-daterange input {
            max-width: 110px;
        }

    /*   New css    */

    table #trow {
        counter-reset: rowNumber;
    }

        table #trow tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) ".";
            text-align: right;
        }

    @@media only screen and (max-width: 1367px) {
        .res_div1 {
            width: auto !important;
        }

        .clk {
            width: auto !important;
        }
    }

    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:991px){

        .cardretailerlager {
            display: block !important;
            width: 100%;
            float: left;
        }
        .res_div {
            width: 100% !important;
            float: left !important;
            padding: 5px 0;
        }
            .res_div form .row {
                width: 100%;
            }
        .res_div1 {
            float: left;
            padding: 0;
        }

    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }
    @@media only screen and (max-width:480px){

        .res_div1 .input-daterange input {
            max-width: 100%;
        }
        .nrr3 {
            width: 100%;
        }
        .res_div1 {
            margin: 2px 0;
        }
    }

</style>


<section class="content">

    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card page-header-third cardretailerlager legar-responshivewidth cardaddclass-res class-back-tra-fourdesign fix-bootmmarg-fourdesign" style="margin:0px;">
                    <div class="bread-same-all-page res_div" style="width:auto;float:left;">
                        <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                            <ul>
                                <li class="smli">
                                    <a href="~/RETAILER/Home" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one">
                                    Recharge Failed Success Reports
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="res_div">
                        @using (Html.BeginForm("Rch_Failed_success_Reports", "Home", FormMethod.Post))
                        {
                            <div class="col-md-4 rtrt responcive-full" style="float: right;padding: 0px;width:100%;">
                                <div class="row" style="float: right; margin: 0;">
                                    <div class="col-md-7 responcive-full res_div1" style="padding-right:0px;">
                                        <div class="input-daterange input-group focused" style="margin-left:0px;width:100%;">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width:100% !important;" })
                                            <span class="input-group-addon datepicker" style="padding: 0px !important;min-width: 3px;">

                                            </span>
                                            <div class="nrr3">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;padding-right: 0px;padding-left: 23px;width:100% !important;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 sre res_div1" style="padding:0 3px;">
                                        <center>
                                            <div class="">

                                                <i class="fa fa-search color-white-second" style="margin-left: 3px;position: absolute;top: 9px;left: 5px;color: #333;" aria-hidden="true"></i>


                                                <input id="btntype_OLD" name="btntype" type="submit" value="SEARCH" class="btn input-back-second" style="padding-left: 20px;margin-top:0px; height:32px;border:1px solid #b1a6a638;background:#fff ;">
                                            </div>
                                        </center>
                                    </div>
                                    <div class="col-md-3 sre res_div1" style="padding:0;">
                                        <div class="web-white-filter fil microatmnewpdf-class" style="float: left;">
                                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #bfbebe;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;font-size:11px;">
                                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #bfbebe;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;font-size:11px;">
                                        </div>
                                    </div>


                                    <div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="showreport-class page-header-third" id="showreport" style="margin-top:18px;">
                                <div class="table-responsive" style="">
                                    <table id="example" class="table table-bordered table-striped table-hover table-background-second third-design-table" style="width:100%;font-size:13px;">
                                        <thead style="color:black;font-size: 13px;">
                                            <tr>
                                                <th>S.N</th>
                                                @*<th>S/B</th>*@
                                                <th>#&nbsp;User&nbsp;Information</th>
                                                <th>Recharge Request Time</th>

                                                <th>Operator&nbsp;Name</th>
                                                <th>Consumer&nbsp;No</th>
                                                <th>Port&nbsp;/&nbsp;API</th>
                                                <th>Request&nbsp;Time</th>
                                                <th>Operator&nbsp;ID</th>
                                                <th>Response&nbsp;Time</th>
                                                <th>Modify&nbsp;Time</th>
                                                <th>Modify&nbsp;Status</th>

                                                @*<th>##</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="trow" class="alin chnj">
                                            @foreach (var item in Model)
                                            {
                                                var stylecls = "";
                                                if (item.ISREAD == false)
                                                {
                                                    stylecls = "font-weight:bold;";
                                                }

                                                <tr onclick="callingforchange(this,'@item.idno')" style="@stylecls">
                                                    <td>
                                                        @if (item.ISREAD == true)
                                                        {
                                                            <i class="fa fa-envelope-open " id="iconechange_@item.idno" aria-hidden="true"></i>

                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-envelope " id="iconechange_@item.idno" aria-hidden="true"></i>
                                                        }
                                                        &nbsp;

                                                        @item.usertype &nbsp;@item.frmname
                                                    </td>
                                                    <td>@item.Rch_time</td>

                                                    <td>@item.operator_Name</td>
                                                    <td>@item.Mobile</td>
                                                    <td>@item.portno</td>
                                                    <td>@item.Rch_time</td>
                                                    <td>@item.OPt_id</td>
                                                    <td>@item.Resp_time</td>
                                                    <td>@item.Modify_time</td>
                                                    <td>@item.modifystaus<span> (@item.rchidno) </span> </td>
                                                    <!--<td><button class="fa fa-envelope"></button> </td>
                                                    <td><button class="fa fa-envelope-open"></button>-->
                                                    @*<i class="fa fa-envelope-open" aria-hidden="true"></i>*@
                                                    <!--</td>-->

                                                </tr>
                                            }
                                        </tbody>



                                    </table>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });

        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date,.txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date,.txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>


<script>
    function callingforchange(id,idno) {

        var iconechange=   "#iconechange_" + idno;
        $.ajax({
            url: '@Url.Action("StatusChangeReadreport","Home")',
            type: 'GET',
            data: { idno: idno},
            success: function (result) {
                if (result == true) {
                    $(iconechange).removeClass('fa-envelope').addClass('fa-envelope-open')
                    $(id).removeAttr("style");
                }
            }

        })

    }


</script>

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("Excel_Rch_Failed_success_Reports", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDF_Rch_Failed_success_Reports", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>

