@model Vastwebmulti.Areas.ADMIN.Models.RchModelcs
@using Vastwebmulti.Areas.ADMIN.Models
@{
    ViewBag.Title = "Rch_details";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 10px;
    }

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }



    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: var(--main-bg-lcolor);
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #c7c7c7;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }


    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }


    .for-search {
        position: absolute;
        right: 130px;
    }

        .for-search input {
            width: 250px;
            border: 1px solid #dbdbdb;
            padding: 3px 10px;
        }

    ul.other-serve li a {
        display: block;
        text-align: center;
        padding: 3px 10px;
        text-decoration: none;
        border: 1px solid #b1a6a638;
        position: initial;
    }

    ul.other-serve {
        position: absolute;
        right: 390px;
    }

        ul.other-serve li {
            float: left;
            margin-left: 3px;
        }

    @@media only screen and (max-width:520px) {
        .web-white-filter {
            position: static !important;
        }

        .for-search input {
            width: 100%;
        }

        .for-search {
            top: 108px;
        }

        ul.other-serve {
            right: 15px;
        }
    }


    .secend_b-type {
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        font-size: 16px;
        color: #fff;
        padding: 5px 23px;
        float: right;
        border: 1px solid;
        margin: 0px 5px;
    }

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<section class="content RCH_Details_Page">
    <div class="container-fluid">

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        RCH Users
                    </li>
                </ul>
            </div>
            <div class="seller-second seller-third">
                <ul class="other-serve">
                    <li>
                        <a href="@Url.Action("VendorList", "Home")">Seller</a>
                    </li>

                </ul>
            </div>
            <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: right;position:absolute;right:15px;">
                <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                <input type="button" id="btnPDFA" value="PDF" style="margin-left:7px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

            </div>
            <div class="for-search tablesearch-second ">
                <div class="search-after-third">
                    <input id="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" />
                </div>
            </div>
        </div>


        <div class="row clearfix" style="margin-bottom:40px;">
            <div class="col-md-4 col-sm-4 col-xs-12">

                <ul class="tabs width100 float-left tab-seconddesign tab-third-design">
                    <a href="@Url.Action("new_Employee","Home")">
                    <li><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">Create Employee Login</li></a>
                    <li onclick="CallBackTab('R')" class="tab-link current" data-tab="tab-1"><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">Create RCH Users</li>
                    @*<li onclick="CallBackTab('F')" class="tab-link" data-tab="tab-2"><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">Create Fee Collector</li>*@
                </ul>

                <div id="tab-1" class="tab-content current custom-table-responsive tabcurrent-seconddesign input-border-third" style="height: 78vh !important;">
                    <div class="left-four-tabs width100 float-left">

                        @*@using (Html.BeginForm("insert_Rch", "Home", FormMethod.Post))*@

                        @using (Ajax.BeginForm("insert_Rch", new AjaxOptions { HttpMethod = "Post", OnSuccess = "RegisterSuccess", OnBegin = "Validatationchk()", LoadingElementId = "div_Loader" }))

                        {
                            @Html.AntiForgeryToken()


                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">RCH User Name</label>
                                    <div class="form-group">
                                        <div class="">

                                            @Html.TextBox("rchname1", "", new { @class = "form-control", placeholder = "Enter Name" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2"> Firm Name</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextBox("rchfrimname1", "", new { @class = "form-control", maxlength = "40", placeholder = "Enter Frim Name" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Email-ID</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextBox("email1", "", new { @class = "form-control", type = "email", placeholder = "Enter Email Id" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">(+91) Mobile</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextBox("Mobile2", "", new { @class = "form-control", placeholder = "Enter Mobile Number", minlength = "10", onkeypress = "javascript:return isNumber(event)", maxlength = 10 })
                                        </div>
                                    </div>
                                </div>

                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <label for="email_address_2">State</label>
                                    <div class="form-group">
                                        <div class="custom-district">
                                            @Html.DropDownList("State1", Model.RCHddlist, "Select State", new { @data_search = "true", @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", onchange = "statechangess()" })
                                            @*@Html.DropDownList("State1", (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", required = "required" })*@


                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <label for="email_address_2">District</label>
                                    <div class="form-group">
                                        <div class="custom-district">


                                            <select id="District1" required="required" data-search="true" name="District1" class="form-control show-tick">
                                                <option value="">
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Address</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextArea("Address1", "", new { @class = "form-control", placeholder = "Enter Address ", minlength = "15" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <label for="email_address_2">Pincode</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextBox("Pincode1", "", new { @class = "form-control", placeholder = "Enter Pin Code", onkeypress = "javascript:return isNumber(event)", maxlength = 6 })
                                        </div>
                                    </div>
                                </div>

                            </div><!--.row-->
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">Adhar No</label>
                                    <div class="form-group">
                                        <div class="">
                                            @Html.TextBox("txtaadharcard", "", new { @class = "form-control", placeholder = "Enter Aadhar Card", onkeypress = "javascript:return isNumber(event)", maxlength = 12 })
                                        </div>
                                    </div>
                                </div>

                            </div><!--.row-->
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="email_address_2">PanCard No.</label>
                                    <div class="form-group">
                                        <div class="">
                                            <input type="text" id="txtpancard" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" title="Invalid Pancard No" name="txtpancard" maxlength="12" min="0" class="form-control" , placeholder="Enter pancard No" />

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--.row-->
                    <div class=" width100 float-left button-seconddesign" style="width:99%;">


                        <button style=" margin-right: 0;" type="submit" class="secend_b-type">Save</button>

                        <button type="reset" class="secend_b-type button-third-design">
                            Reset
                        </button>


                    </div>

                        }

                    </div>
                </div><!--#tab-1-->
                <div id="tab-2" class="tab-content custom-table-responsive tabcurrent-seconddesign input-border-third">
                    <div class="left-four-tabs width100 float-left">
                        @*@using (Html.BeginForm("insert_FC", "Home", FormMethod.Post))*@
                        @using (Ajax.BeginForm("insert_FC", new AjaxOptions { HttpMethod = "Post", OnSuccess = "RegisterSuccess1", OnBegin = "Validatationchk1()", LoadingElementId = "div_Loader" }))

                        {

                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Name   @Html.ValidationMessageFor(m => m.FeeCollectorName, "", new { @class = "text-danger" })</label>



                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.FeeCollectorName, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Firm Name    @Html.ValidationMessageFor(m => m.FirmName, "", new { @class = "text-danger" })</label>


                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.FirmName, "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">State     @Html.ValidationMessageFor(m => m.State2, "", new { @class = "text-danger" })</label>


                                        <div class="form-group">
                                            <div class="custom-district">

                                                @Html.DropDownListFor(model => model.State2, new SelectList(ViewBag.state, "Value", "Text"), "Select State", new { @class = "form-control", onchange = "statechange()" })


                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-2 ">
                                        <label for="email_address_2">District</label>


                                        <div class="form-group">
                                            <div class="custom-district">
                                                @Html.DropDownListFor(m => m.District2,
           new SelectList(Enumerable.Empty<SelectListItem>(), "Dist_id", "Dist_Desc"),
                  "Select district",
                  new { @class = "form-control" })

                                                @*@Html.DropDownListFor(model => model.District, new SelectList(ViewBag.district, "Value", "Text"), "Select District", new { @class = "selectpicker form-control", data_live_search = "true" })*@
                                            </div>

                                            @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">Mobile      @Html.ValidationMessageFor(m => m.Mb, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Mb, new { @class = "form-control", placeholder = "Mobile Number", onkeypress = "return isNumber(event)", maxlength = "10", required = "required" })

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-2">
                                        <label for="email_address_2">Commission&nbsp;Admin</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CommissionAdmin, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-right:0px;", required = "required" })
                                                @*@Html.ValidationMessageFor(m => m.Commission, "", new { @class = "text-danger" })*@
                                            </div>
                                            @Html.ValidationMessageFor(m => m.CommissionAdmin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Address  @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address ", @onkeypress = "javascript:return AddValidation(event)", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Pincode   @Html.ValidationMessageFor(m => m.Pincode, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Pincode, "", new { @class = "form-control", placeholder = "Enter Pincode No", onkeypress = "return isNumber(event)", maxlength = "6", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Email-ID     @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", placeholder = "Enter Email-id", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">School Name @Html.ValidationMessageFor(m => m.SchoolName, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SchoolName, "", new { @class = "form-control", placeholder = "Enter Name of School", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Website URL  @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Website, "", new { @class = "form-control", placeholder = "Enter URL", required = "required" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <label for="email_address_2">Pancard  @Html.ValidationMessageFor(m => m.pancard, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="">
                                                @Html.TextBoxFor(m => m.pancard, "", new { @class = "form-control", placeholder = "Enter Pancard No", maxlength = 10, @style = "text-transform:uppercase" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Aadhar Card    @Html.ValidationMessageFor(m => m.adharcard, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.adharcard, "", new { @class = "form-control", placeholder = "Enter Aadhaarcard No", onkeypress = "return isNumber(event)", maxlength = "12" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">Gst Number @Html.ValidationMessageFor(m => m.gst, "", new { @class = "text-danger" })</label>

                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(m => m.gst, "", new { @class = "form-control", placeholder = "Enter Gst No", maxlength = "15", @style = "text-transform:uppercase" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer button-seconddesign">

                                    @*<label id="lblerror1" class="danger" style="color:#fff;font-size: 16px;background: green;width: 100%;display:block;"></label>
                                        <label id="lblerror" class="danger" style="color:#fff;font-size: 16px;background: red;width: 100%;display:block;"></label>*@

                                    <button type="submit" class="btn pull-right fullbodydycolorbg btn-first button-third" style="margin-left:15px;color:#fff;border-color:transparent;margin-top:5px;">
                                        <span style="color:#fff;">Create Fee Collector</span>
                                    </button>
                                    <button type="reset" class="btn pull-right btn-second button-third-design" style="margin-top:5px;">
                                        Reset
                                    </button>
                                </div>
                            </form>

                        }



                    </div>

                </div><!--#tab-2-->



            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="right-tabs width100 float-left" id="RECTable">

                    @Html.Partial("_REC_DetailsPartialview")


                </div>
            </div>
        </div><!--.row-->

    </div>
</section>

<div id="div_Loader" style="display:none; position: fixed;top: 0px;background: rgba(0,0,0,.5);left: 0px;bottom: 0px;right: 0px;width: 100%;height: 100vh;z-index: 9999;">
    <div id="loader" style="position: absolute;right: 34%;top: 50%;display:block; transform: translate(-34%,-50%);">
        <div class="loadingio-spinner-ripple-92ar2pfqk5j" style="background:transparent;">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
    </div>
</div>
<!--Add New Master Distributor  modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add RCH User</h4>
            </div>
            @using (Html.BeginForm("insert_Rch", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Email-ID</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("email11", "", new { @class = "form-control", placeholder = "Enter Email Id", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("rchname11", "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2"> Frim Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("rchfrimname11", "", new { @class = "form-control", placeholder = "Enter Frim Name", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("Mobile12", "", new { @class = "form-control", required = "required", placeholder = "Enter Mobile Number", onkeypress = "javascript:return isNumber(event)", maxlength = 10 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">State</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @*@Html.DropDownList("State1", (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", required = "required" })*@


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">District</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="District11" name="District1" class="form-control show-tick" required="">
                                                <option>
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextArea("Address11", "", new { @class = "form-control", placeholder = "Enter Address ", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pincode</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("Pincode11", "", new { @class = "form-control", placeholder = "Enter Pin Code", required = "required", onkeypress = "javascript:return isNumber(event)", maxlength = 6 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Master Distributor  modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit  RCH User</h4>
            </div>
            @using (Html.BeginForm("Editrch", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form id="form_validation" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">RCH-ID</label>
                                </div>
                                <input id="txtrchid" name="txtrchid" class="form-control" style="display:none;" />
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtemail", "", new { @class = "form-control", placeholder = "Enter Email Id.", required = "", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtname", "", new { @class = "form-control", placeholder = "Enter  Name.", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Frim Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtfrimname", "", new { @class = "form-control", placeholder = "Enter Frim Name Name.", required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("txtmobil", "", new { @class = "form-control", placeholder = "Enter Mobile.", required = "", @onkeypress = "javascript:return isNumber(event)", maxlength = 10 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">State</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @*@Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", required = "required" })*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">District</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <select id="District" name="District" class="form-control show-tick" required="">
                                                <option>
                                                    Select District
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextArea("Address", "", new { @class = "form-control", placeholder = "Enter Address ", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Pincode</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("Pincode", "", new { @class = "form-control", placeholder = "Enter Pin Code", @onkeypress = "javascript:return isNumber(event)", maxlength = 6 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content width100 float-left">
            <div class="modal-header width100 float-left">
                <div class="modal-back width100 float-left">
                    <div class="sam">
                        <h4 class="oneh">
                            <span class="first">
                                M
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <div class="sam">
                        <h4 class="twoh">
                            <span class="first">
                                D
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <div class="sam">
                        <h4 class="threeh">
                            <span class="first">
                                R
                            </span>
                        </h4>
                        <span class="lastData">
                            000
                        </span>
                    </div>
                    <button type="button" class="btn waves-effect" data-dismiss="modal">
                        <i class="fa fa-times fullbodydycolorbg fulltextbodycolor" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">
                <div class="background-kk width100 float-left">
                    <div class="thisLeft float-left">
                        <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User" />
                    </div>
                    <div class="thisRight">
                        <ul class="float-left width100">
                            <li><span><b>Name:</b></span><span>TestTest</span></li>
                            <li><span><b>Firm:</b></span><span>TestTest</span></li>
                            <li><span><b>Registered Date:</b></span><span>9837452845</span></li>
                        </ul>
                    </div>
                </div>
                <div class="float-left width100">

                    <form class="first-form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="EmailID" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Pancard</label>
                                    <input type="text" class="form-control" placeholder="Enter Pancard No" readonly />
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>Aadhar Card</label>
                                    <input type="text" class="form-control" placeholder="Enter Aadhaar Number" readonly />
                                </div>
                            </div>
                        </div><!--.row-->



                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Firm Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter Firm Registration No" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>GST Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter GST Registration No" readonly />
                                </div>
                            </div>
                        </div><!--.row-->



                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>District</label>
                                    <input type="text" class="form-control" placeholder="Select District" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" placeholder="Select State" readonly />
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" placeholder="Enter Address" readonly></textarea>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter Pin Code" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                    </form>

                    <!--=============-->
                    <form class="second-form" style="display:none;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="EmailID" readonly />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Pancard</label>
                                    <input type="text" class="form-control" placeholder="Enter Pancard No" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Firm Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter Firm Registration No" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>GST Registration No</label>
                                    <input type="text" class="form-control" placeholder="Enter GST Registration No" />
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group spspl">
                                    <label>Aadhar Card</label>
                                    <input type="text" class="form-control" placeholder="Enter Aadhaar Number" />
                                    <div class="ss-right">
                                        <button type="button" class="btn" value="view">View</button>
                                        <button type="button" class="btn" value="reject">Reject</button>
                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control">
                                        <option value="" selected>Select District</option>
                                        <option value="1">Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control">
                                        <option value="" selected>Select State</option>
                                        <option value="1">Test</option>
                                    </select>
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Pin Code</label>
                                    <input type="text" class="form-control" placeholder="Enter Pin Code" />
                                </div>
                            </div>
                        </div><!--.row-->
                    </form>

                </div>
            </div><!--.modal-body-->

            <div class="modal-footer width100 float-left">
                <ul class="width100 float-left">
                    <li class="one">
                        <button type="button" value="Edit" class="btn">Edit</button>
                    </li>
                    <li class="One2" style="display:none;">
                        <button type="button" value="SaveChange" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Change</button>
                    </li>
                    <li class="two">
                        <button type="button" value="Change" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Reset Password</button>
                    </li>
                    <li class="three">
                        <button type="button" value="Email_Verify" class="btn">Email Verify</button>
                    </li>
                    <li class="four">
                        <button type="button" value="Delet" class="btn">Delete</button>
                    </li>
                </ul>
            </div><!--.modal-footer-->
        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
@*<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>*@
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>
<script>
    var ravi = $.noConflict()
    ravi(document).ready(function () {

        // Initialize select2
        ravi("select").select2();

        // Read selected option

    });

    $(document).ajaxComplete(function () {
        ravi("select").select2();
    });
</script>
<script>
    var d = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
        [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
        [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
        [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
        [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
        [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
        [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
        [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
        [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
    ];

    // permutation table p
    var p = [
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
        [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
        [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
        [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
        [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
        [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
        [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
    ];


    function invArray(array) {

        if (Object.prototype.toString.call(array) === "[object Number]") {
            array = String(array);
        }

        if (Object.prototype.toString.call(array) === "[object String]") {
            array = array.split("").map(Number);
        }

        return array.reverse();

    }


    function validateaadhar(array) {

        var c = 0;
        var invertedArray = invArray(array);

        for (var i = 0; i < invertedArray.length; i++) {
            c = d[c][p[(i % 8)][invertedArray[i]]];
        }

        return (c === 0);
    }


    //    $('#txtpancard').keypress(function (event) {
    //var key = event.which;
    //var esc = (key == 127 || key == 8 || key == 0 || key == 46);
    ////alert(key);
    ////var nor = $("#txtPANNumber").mask("aaaaa9999a");
    //var regExp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/;
    //var txtpan = $(this).val();
    //if (txtpan.length < 10 ) {
    //    if (txtpan.match(regExp)) {
    //        //event.preventDefault();

    //    }
    //    else
    //    {
    //        $('.lblerror').text('Invalid PanCard No.')
    //          $('#txtpancard').focus();
    //    }
    //        }
    //      else { event.preventDefault(); }
    //    });


    //



    function Validatationchk() {

        $('#lblerror1').hide();

        var name = $('#rchname1').val();
        var FarmName = $('#rchfrimname1').val();
        var Email = $('#email1').val();
        var Mb = $('#Mobile2').val();
        var State = $('#State1').val();
        var District = $('#District1').val();
        var Address = $('#Address1').val();
        var Pincode = $('#Pincode1').val();
        var adharcard = $('#txtaadharcard').val();
        //  var gst = $('#gstEdit').val();
        var pancard = $('#txtpancard').val();

        if (name == null || name == '') {
            $('#lblerror').text('RCH User Name Required')


            RegisterSuccess.stopImmediatePropagation();
            return false;

        }
        if (FarmName == null || FarmName == '') {
            $('#lblerror').text('Firm Name Required')


            RegisterSuccess.stopImmediatePropagation();
            return false;
        }



        if (State == null || State == '') {
            //   $('#error').text(' State Required')
            //  return false;
            $('#lblerror').text('State Name Required')

            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (District == null || District == '') {
            //  $('#error').text(' District Required')
            //  return false;
            $('#lblerror').text('District Name Required')

            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (Address == null || Address == '') {
            // $('#error').text(' Address Required')
            //  return false;
            $('#lblerror').text('Address Required')

            RegisterSuccess.stopImmediatePropagation();
            return false;
        }

        if (adharcard.length != 0) {

            var res = validateaadhar(adharcard)

            if (res == false) {
                $('#lblerror').hide();
                $('#lblerror').text('☒ Invalid AADHAR No')
                event.preventDefault();
                RegisterSuccess.stopImmediatePropagation();
                return false;

            }




        }
        if (pancard.length != 0) {
            var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
            if (!regex.test(pancard.toUpperCase())) {
                // $('#error').text('Invalid Pan No')
                // return false;
                // $("#txtpancard").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid Pan No'</div>");
                $('#lblerror').text('Invalid Pan No')

                RegisterSuccess.stopImmediatePropagation();

                return false;
            }


        }
        //if (gst.length != 0) {
        //       var gstinformat = new RegExp('^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]1}[1-9A-Z]{1}Z[0-9A-Z]{1}$');
        //    if (!gstinformat.test(gst)) {
        //        //  $('#error').text('Invalid GST No')
        //      //  return false;
        //          $("#txtpancard").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid GST No'</div>");
        //       RegisterSuccess.stopImmediatePropagation();
        //    return false;
        //        }


        //}
        if (Pincode == null || Pincode == '') {
            //  $('#error').text(' Pincode Required')
            //  return false;

            $('#lblerror').text('Pincode Required')

            RegisterSuccess.stopImmediatePropagation();
            return false;
        }


    }


    function Validatationchk1() {

        $("#gst").parent().next(".alert.alert-success").remove(); // remove it
        var name = $('#FeeCollectorName').val();
        var FarmName = $('#FirmName').val();
        var Email = $('#Email').val();
        var Mb = $('#Mb').val();
        var State = $('#State2').val();
        var District = $('#District2').val();
        var Address = $('#Address').val();
        var Pincode = $('#Pincode').val();
        var adharcard = $('#adharcard').val();
        var gst = $('#gst').val();
        var pancard = $('#pancard').val();

        if (name == null || name == '') {
            $('#error').text('Master Distributor Name Required')
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Please Enter Name</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;

        }
        if (FarmName == null || FarmName == '') {
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Firm Name Required</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }
        if ($('#CommissionAdmin').val() == null || $('#CommissionAdmin').val() == '' || $('#CommissionAdmin').val() == 0) {
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Commission Required</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }
        if ($('#SchoolName').val() == null || $('#SchoolName').val() == '') {
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> School Name Required</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }
        if ($('#Website').val() == null || $('#Website').val() == '' || $('#CommissionAdmin').val() == 0) {
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong> Website Required</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }

        if (State == null || State == '') {
            //   $('#error').text(' State Required')
            //  return false;
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'State Required'</div>");
            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (District == null || District == '') {
            //  $('#error').text(' District Required')
            //  return false;
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' District Required'</div>");
            RegisterSuccess.stopImmediatePropagation();

            return false;
        }
        if (Address == null || Address == '') {
            // $('#error').text(' Address Required')
            //  return false;
            $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' Address Required'</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }

        if (adharcard.length != 0) {


            var res = validateaadhar(adharcard)

            if (res == false) {
                $('#lblerror').hide();
                $('#lblmsg').text('☒ Invalid AADHAR No')
                event.preventDefault();
                RegisterSuccess.stopImmediatePropagation();
                return false;

            }

        }
        if (pancard.length != 0) {
            var regex = /([A-Z]){5}([0-9]){4}([A-Z]){1}$/;
            if (!regex.test(pancard.toUpperCase())) {
                // $('#error').text('Invalid Pan No')
                // return false;
                $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid Pan No'</div>");
                RegisterSuccess.stopImmediatePropagation();

                return false;
            }


        }
        if (gst.length != 0) {
            var gstinformat = new RegExp('^([0][1-9]|[1-2][0-9]|[3][0-5])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$');
            if (!gstinformat.test(gst)) {
                //  $('#error').text('Invalid GST No')
                //  return false;
                $("#gst").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>'Invalid GST No'</div>");
                RegisterSuccess.stopImmediatePropagation();
                return false;
            }


        }
        if (Pincode == null || Pincode == '') {
            //  $('#error').text(' Pincode Required')
            //  return false;
            $("#pancard").parent().after("<div class='alert alert-success' style='color:red;margin-bottom: 20px;'><strong>Error!</strong>' Pincode Required')'</div>");
            RegisterSuccess.stopImmediatePropagation();
            return false;
        }


    }




</script>

<!--Window load Popuop message-->
<script>
    $(function () {

        var message = '@TempData["msgrem"]'
        if (message != "" && message != null) {
            //swal("Good job!", message, "success");
            ToastrMessage();
            toastr.success(message);

        }
        var mobileconfrimation = '@TempData["mobileno"]'
        if (mobileconfrimation != "" && mobileconfrimation != null) {
            //swal("Oops...", mobileconfrimation, "error");
            ToastrMessage();
            toastr.error(mobileconfrimation);

        }

        var mailconfrimation = '@TempData["emailconfrim"]'
        if (mailconfrimation != "" && mailconfrimation != null) {
           // swal("Oops...", mailconfrimation, "error");
              ToastrMessage();
            toastr.error(mailconfrimation);


        }
        //Edit Message
        var editdata = '@TempData["edit"]'
        if (editdata != null && editdata != "") {
            //swal("Good job!", editdata, "success");
              ToastrMessage();
            toastr.success(editdata);
        }
        var errormessage = '@TempData["Error"]'
        if (errormessage != "" && errormessage != null) {
            //swal("Oops...", errormessage, "error");
              ToastrMessage();
            toastr.error(errormessage);
        }
        var resendmail = '@ViewData["ResendMail"]'
        if (resendmail != null && resendmail != "") {
            //swal("Good job!", resendmail, "success");
               ToastrMessage();
            toastr.success(resendmail);
        }
    });


</script>
<script>
    function CallBackTab(f) {
          $.ajax({
                            url: '@Url.Action("Calltab","Home")',
              type: 'GET',
              data: {usertypr:f},
                            cache: false,
                            success: function (response) {
                                $('#RECTable').html(response);

                                $('.lblerror').text('')
                                  $('#rchname1').val('');
                                $('#rchfrimname1').val('');
                                $('#email1').val('');
                                $('#Mobile2').val('');
                                $('#Address1').val('');
                                $('#txtaadharcard').val('')
                                $('#Pincode1').val('');

                                   $('#FeeCollectorName').val('');
                                $('#FirmName').val('');
                                $('#Mb').val('');
                                $('#CommissionAdmin').val(0);
                                 $('#Address').val('');
                                 $('#Email').val('');
                                $('#Pincode').val(0);
                                 $('#SchoolName').val('');
                               $('#Website').val('');
                                $('#pancard').val('');
                               $('#txtpancard').val('');
                                $('#adharcard').val('')
                                  $("#District").empty();




                                $("#District1").empty();
                                 ravi("select").select2();
                             ravi("select").select2("val", 0);




                             }
                        })
    }
</script>

<script>
     function RegisterSuccess(data) {
         var sts = data.type;

         $('.lblerror').text(data.msg)
          // swal(data.msg, sts);
          if (data.msg === "Register SuccessFully.") {
                     ToastrMessage();
                     toastr.success('Congratulations Account Create successfully');
              $('#lblerror1').text('✅ Congratulations Account Create successfully')
               $('#lblerror1').css('padding', '5px');
             $('#lblerror1').show();
            $('#lblerror').hide();
                 }
                 else {
              $('#lblerror').text('☒' + " " + data.msg)
              $('#lblerror').css('padding', '5px');
             $('#lblerror1').hide();
                    ToastrMessage();
                    toastr.error(data.msg);
                 }

          if (sts === "Success") {
                        // var reason = data.value;
                        $.ajax({
                            url: '@Url.Action("RCHlistPart","Home")',
                            type: 'GET',
                            cache: false,
                            success: function (response) {
                                 $('#RECTable').html(response);
                                $('#rchname1').val('');
                                $('#rchfrimname1').val('');
                                $('#email1').val('');
                                $('#Mobile2').val('');
                                 $('#Address1').val('');

                                $('#Pincode1').val('');


                             ravi("select").select2("val", 0);

                             $("#District1").empty();




                            }
                        })

                    }
    }

     function RegisterSuccess1(data) {

         var sts = data.type;
         $('.lblerror').text(data.msg)
          // swal(data.msg, sts);
            if (sts === "Success") {
                        // var reason = data.value;
                        $.ajax({
                            url: '@Url.Action("FClistPart","Home")',
                            type: 'GET',
                            cache: false,
                            success: function (response) {
                                 $('#RECTable').html(response);
                                $('#FeeCollectorName').val('');
                                $('#FirmName').val('');
                                $('#Mb').val('');
                                $('#CommissionAdmin').val(0);
                                 $('#Address').val('');
                                 $('#Email').val('');
                                $('#Pincode').val(0);
                                 $('#SchoolName').val('');
                               $('#Website').val('');
                                $('#pancard').val('');
                                $('#adharcard').val('');
                                $('#Address1').val('');
                                  $('#gst').val('');

                             ravi("select").select2("val", 0);

                             $("#District").empty();




                            }
                        })

                    }
    }

</script>


<!--Add fill dropdown list-->
<script>

    function statechange() {

         var stid =$('#State2').val()
                            if (stid === "") {
                                stid = 0;
                                //alert(stid)
                            }
                            else {
                                //alert(stid)
                                GetDistrictby(stid)
                            }

    }

     function statechangess() {

         var stid =$('#State1').val()
                            if (stid === "") {
                                stid = 0;
                                //alert(stid)
                            }
                            else {
                                //alert(stid)
                                GetDistrict(stid)
                            }

    }

     function GetDistrictby(_stateId) {
                        var procemessage = "<option value='0'> Please wait...</option>";
                        $("#District2").html(procemessage).show();
                        var url = '@Url.Action("DistrictList","Home")'
                        $.ajax({
                            url: url,
                            data: { Id: _stateId },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                var markup = "<option value='0'>Select District</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                    //alert(markup)
                                }
                                ravi("#District2").html(markup).show();
                            },
                            error: function (reponse) {
                                alert("error : " + reponse);
                            }
                        });
    }

     function GetDistrict(_stateId) {
                        var procemessage = "<option value='0'> Please wait...</option>";
                        $("#District1").html(procemessage).show();
                        var url = '@Url.Action("DistrictList","Home")'
                        $.ajax({
                            url: url,
                            data: { Id: _stateId },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                var markup = "<option value='0'>Select District</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                    //alert(markup)
                                }
                                $("#District1").html(markup).show();
                            },
                            error: function (reponse) {
                                alert("error : " + reponse);
                            }
                        });
                    }


</script>

<script language="javascript" type="text/javascript">


                $(function () {
              $('#State1').change(function () {
                            // alert('Value:' + ' ' + $('#State1').val())
                            var stid = $('#State1').val()
                            if (stid === "") {
                                stid = 0;
                                //alert(stid)
                            }
                            else {
                                //alert(stid)
                                GetDistrict(stid)
                            }
                            function GetDistrict(_stateId) {
                                var procemessage = "<option value='0'> Please wait...</option>";
                                $("#District1").html(procemessage).show();
                                var url = '@Url.Action("DistrictList","Home")'
                                $.ajax({
                                    url: url,
                                    data: { Id: _stateId },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value=''>Select District</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        ravi("#District1").html(markup).show();
                                    },
                                    error: function (reponse) {
                                        alert("error : " + reponse);
                                    }
                                });
                            }
                        });
                    })
</script>

<!--Edit fill dropdown list-->
<script type="text/javascript">
            $(function () {
               $('#State').change(function () {
                    // alert('Value:' + ' ' + $('#State').val())
                    var stid = $('#State').val()
                    if (stid === "") {
                        stid = 0;
                        //alert(stid)
                    }
                    else {
                        //alert(stid)
                        GetDistrict(stid)
                    }
                    function GetDistrict(_stateId) {
                        var procemessage = "<option value='0'> Please wait...</option>";
                        $("#District").html(procemessage).show();
                        var url = '@Url.Action("DistrictList","Home")'
                        $.ajax({
                            url: url,
                            data: { Id: _stateId },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                var markup = "<option value='0'>Select District</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                    //alert(markup)
                                }
                                $("#District").html(markup).show();
                            },
                            error: function (reponse) {
                                alert("error : " + reponse);
                            }
                        });
                    }
                });
            })
</script>

<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--edit Rch Details-->
<script type="text/javascript">
        var val1 = "";
        function editrch(RCHId) {
            var url = '@Url.Action("ShowRchIdsearch", "Home")'
            $.ajax({
                url: url,
                data: { Rchid: RCHId },
                cache: false,
                type: "POST",
                success: function (data) {

                    $("#txtrchid").val(data[0].RCHId);
                    $("#txtemail").val(data[0].Email);
                    $("#txtname").val(data[0].RCHName);
                    $("#txtfrimname").val(data[0].FarmName);
                    $("#State").val(data[0].State);
                    $("#txtmobil").val(data[0].Mobile);
                    $("#Address").val(data[0].Address);
                    $("#Pincode").val(data[0].Pincode);
                    var objSelect1 = document.getElementById("District");
                    bind(data[0].State, data[0].District, objSelect1);
                    $('#defaultModal1').modal('show');
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    function bind(staid, dist, objSelect1) {

            var url = '@Url.Action("DistrictList","Home")'
            $.ajax({
                url: url,
                data: { Id: staid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select District</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#District").html(markup).show();
                    setSelectedValue(objSelect1, dist);
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    function setSelectedValue(selectObj, valueToSet) {

            for (var i = 0; i < selectObj.options.length; i++) {
                if (selectObj.options[i].value == valueToSet) {
                    //alert(selectObj.options[i].value);
                    selectObj.options[i].selected = true;
                    return;
                }
            }
        }
</script>



<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

<script>
    $(function () {
        $('.mastetr222Modal button.btn[value="Edit"]').click(function () {
            $(".mastetr222Modal .first-form").hide();
            $(".mastetr222Modal .second-form").show();
            $('.mastetr222Modal .modal-footer li.one').hide();
            $('.mastetr222Modal .modal-footer li.One2').show();
        });
    });
</script>
<script>
    $(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>