@model IEnumerable<Vastwebmulti.Models.show_recharge_switch_special_Result>
@{
    ViewBag.Title = "Recharge_special";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

   
    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 26px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                      <div class="">
                            <div class="col-md-7">
                              <div style="margin-left:-13px;">
                                  @Html.Partial("_menunillcom")
                              </div>
                            </div>
                            <div class="col-md-5">
                             <div class="">
                            @using (Html.BeginForm("Recharge_special", "Home", FormMethod.Post))
                            {
                               <div class="col-md-2">
                                   <div class="form-group" style="margin-bottom:0px; margin-left:-28px;width:108%;">
                                       <div class="" style="height:36px; margin-top:3px;border-right:1px solid #dddddd;width:108%;">
                                           @Html.TextBox("txtamount1", "", new { id = "txtamount1", @placeholder = "Amt", @class = "form-control", onkeypress = "return isNumber(event)" })
                                       </div>
                                   </div>
                               </div>
                                 <div class="col-md-4">
                                     <div class="" style="height:36px;margin-bottom:0px;margin-left:-13px;width:108%;margin-top:3px;">
                                         @Html.DropDownList("optnm1", ViewBag.optnm as SelectList, "Select Operator", new { id = "optnm1", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;" })
                                     </div>
                                 </div>
                                 <div class="col-md-1">
                                     <button type="submit" class="btn btn-default waves-effect" style="height:36px; margin-top:3px; width:36px; margin-left:-24px; border:1px solid #dddddd;" data-toggle="modal" data-target="#defaultModal">
                                         <i class="fa fa-search" style="top:1px;font-size:14px;color:black;"></i>
                                       
                                     </button>
                                 </div>
                             }
                                 <div class="col-md-5">
                                     <div class="icon-and-text-button-demo">
                                         <button type="button" id="block" name="block" value="Blocked" class="btn btn-default waves-effect" style="color:White; height:36px; margin-top:3px;margin-left:-19px;border:1px solid #dddddd; width:72px;" onclick="BlockOperatorbyAmount()">
                                             <i class="fa fa-lock" style="top:2px;color:black;"></i>
                                             <span style="top:-2px;color:black;">Block</span>
                                         </button>
                                         <button type="button" id="unblock" name="unblock" value="UnBlocked" class="btn btn-default waves-effect" style="color:White; height:36px; margin-top:3px;margin-left:-1px; width:88px; border:1px solid #dddddd;" onclick="UnBlockOperatorbyAmount()">
                                             <i class="fa fa-lock" style="top:2px;color:black;"></i>
                                             <span style="top:-2px;color:black;">UnBlock</span>
                                         </button>
                                         @*<a href="@Url.Action("rch_spl_all_block", "Home")">
                                             <span class="btn btn-default waves-effect" style="color:White; height:36px; margin-top:3px;margin-left:-14px;border:1px solid #dddddd;">
                                                 <i class="fa fa-lock" style="top:3px;color:black;"></i>
                                                 <span style="top:1px;color:black;">Block</span>
                                             </span>
                                         </a>*@
                                         @*<a href="@Url.Action("rch_spl_all_unblock", "Home")">
                                             <span class="btn btn-default waves-effect" style="color:White; height:36px; margin-top:-57px;margin-left:65px;width:77px;border:1px solid #dddddd;">
                                                 <i class="fa fa-unlock-alt" style="top:3px;color:black;left:-5px;"></i>
                                                 <span style="top:1px;color:black;left:-6px;">UnBlock</span>
                                             </span>
                                         </a>*@


                                     </div>
                                 </div>
                             </div>
                            </div>
                        </div>
                                           
                </div>
             </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="background-color:whitesmoke;">
                    <div class="" style="margin-top:-17px;">
                        <div class="col-md-12" style="margin-top: -1px;">
                            @using (Html.BeginForm("Recharge_special_add", "Home", FormMethod.Post))
                            {
                                <div class="row" style="margin-top:2px;">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="" style="margin-top:6px;padding-bottom:4px;">
                                                        @Html.DropDownList("ddl_rechargeTo", new List<SelectListItem>
                                                      {
                                                 new SelectListItem{Text="Select User",Value=""},
                                                new SelectListItem{Text="API User",Value="API"},
                                                new SelectListItem{ Text="Retailer",Value="Retailer",}
                                               }, new { @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="" style="margin-top:6px;padding-bottom:4px;">
                                                        @Html.DropDownList("optnm", ViewBag.optnm as SelectList, "Select Operator", new { id = "optnm", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="" style="margin-top:6px;">
                                                        @Html.TextBox("txtamount", "", new { id = "txtamount", @style = "margin-top:0px;padding-left:0px; padding-right:0px; text-align:center;height:31px;", @placeholder = "Enter Min. Amount", @class = "form-control", onkeypress = "return isNumber(event)" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" style="margin-bottom:0px;">
                                                        <div class="" style="margin-top:6px;">
                                                            @Html.TextBox("txtmaxamount", "", new { id = "txtmaxamount", @style = "margin-top:0px;padding-left:0px; padding-right:0px; text-align:center;height:31px;", @placeholder = "Enter Max. Amount", @class = "form-control", onkeypress = "return isNumber(event)" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="margin-top:6px;padding-bottom:4px;">
                                                @Html.DropDownList("ddl_type", new List<SelectListItem>
                                    {
                                   new SelectListItem{Text="Switch To",Value=""},
                                 new SelectListItem{Text="API",Value="API"},
                                 new SelectListItem{Text="Machine",Value="Machine"}
                                  }, new { @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" id="dlmport">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="margin-top:6px;padding-bottom:4px;">
                                                @Html.DropDownList("portno", ViewBag.portno as SelectList, "Select Machine Port", new { id = "portno", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" id="dlmapiport" style="display:none;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="" style="margin-top:6px;padding-bottom:4px;">
                                                @Html.DropDownList("portapi", ViewBag.portapi as SelectList, "All Port", new { id = "portapi", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <center>
                                            <button type="submit" id="btn" class="btn" style="margin-top:6px; margin-left:1px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                                <span style="top:-1px;color:black;">Submit</span>
                                            </button>
                                           
                                        </center>
                                       
                                    </div>
                                </div>
                            }
                        </div>
                      </div>

                </div>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card" style="margin-top:14px;">
                                
                    <div class="body" style="margin-top:-31px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered" style="width:100%;">
                                <thead  style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:2px;">Recharge&nbsp;From</th>
                                        <th style="padding-left:2px;">Port&nbsp;No</th>
                                        <th style="padding-left:2px;">Operator&nbsp;Name</th>
                                        <th style="padding-left:2px;">Min.</th>
                                        <th style="padding-left:2px;">Max.</th>
                                        <th style="padding-left:2px;">Recharge&nbsp;To</th>
                                        <th style="padding-left:2px;">Status</th>
                                        <th style="padding-left:2px;">Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.rch_from)</td>
                                            <td>@Html.DisplayFor(modelItem => item.portno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.operator_Name) </td>
                                            <td>@Html.DisplayFor(modelItem => item.amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.maxamount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.rct_to) </td>
                                            <td>
                                                @if (item.sts == "N")
                                                {
                                                    <center>
                                                        <a href="@Url.Action("rch_spl", "Home", new { id = item.idno })" style="text-decoration:none;">
                                                            <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                        </a>
                                                    </center>

                                                }
                                                else
                                                {
                                                    <center>
                                                        <a href="@Url.Action("rch_spl", "Home", new { id = item.idno })" style="text-decoration:none;">
                                                            <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                        </a>
                                                    </center>
                                               
                                                }
                                            </td>
                                            <td>
                                                <button id="DeleteBtn" onclick="Delete('@item.idno')" style="background-color:transparent; border:none;">
                                                    <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;">Delete</p>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


  <!--Block All Operator-->
<script>
    function BlockOperatorbyAmount()
    {
        var operatorname = $("#optnm1").val();
        if (operatorname == "" || operatorname == null)
        {
            operatorname = "All";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("rch_spl_all_block", "Home")',
            data: { 'operatorname': operatorname },
            cache: false,
            dataType: 'json',
            async: true,
            success: function (data) {
                var sts = data.status;
                var message = data.Message;
                if (sts == "Success") {
                    swal({ title: "Operator Block !", text: message, type: "success" },
                                            function () {
                                                location.reload();
                                            }
                                         );
                }
            }
        });
    }
</script>

<!--UnBlock All Operator-->
<script>
    function UnBlockOperatorbyAmount()
    {
        var operatorname = $("#optnm1").val();
        if (operatorname == "" || operatorname == null)
        {
            operatorname = "All";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("rch_spl_all_unblock", "Home")',
            data: { 'operatorname': operatorname },
            cache: false,
            dataType: 'json',
            async: true,
            success: function (data) {
                var sts = data.status;
                var message = data.Message;
                if (sts == "Success") {
                    swal({ title: "Operator UnBlock !", text: message, type: "success" },
                                          function () {
                                              location.reload();
                                          }
                                       );
                }
            }
        });
    }
</script>
<!--Delete Recharge spical-->

<script type="text/javascript">
    function Delete(e) {
        //alert(e)
        swal({
            title: "Are you sure?",
            text: "Do you want to delete API " + e + " !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {
    $.ajax({
        type: "POST", url: "del_spl", data: { 'idno': e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Deleted Successfully.", "success");
                var url = '@Url.Action("Recharge_special", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Recharge_special", "Home")';
                window.location.href = url;
            }
        }
    });
}
);
    }

</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<script type="text/javascript">
    function Validate() {
     var optnm=$("#optnm" ).val();
        var amount = $("#txtamount").val() && $("#txtmaxamount").val();
     if (optnm == "") {
         $("#optnm").css("border-color", "#FF0000");
         return false;
     }
     else if (amount == "") {
         $("#optnm").css("border-color", "	#008000");
         $("#txtamount").css("border-color", "#FF0000");
         $("#txtmaxamount").css("border-color", "#FF0000");
         return false;
     }
     else {
         $("#optnm").css("border-color", "	#008000");
         $("#txtamount").css("border-color", "#008000");
         $("#txtmaxamount").css("border-color", "#008000");
         return true;
     }
 }
 $(function () {
     $("#ddl_type").change(function () {
         var val = $("#ddl_type option:selected").text();
         if (val == "API") {
             $("#dlmport").css("display", "none");
             $("#dlmapiport").css("display", "block");
         }
         else {
             $("#dlmport").css("display", "block");
             $("#dlmapiport").css("display", "none");
         }
          });
 });
</script>

