@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.RchApiResponse>
@{
    ViewBag.Title = "RechargeApiResponse";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

   /* new css */

    .tible_menu {
        float: left;
        width: 100%;
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .clx {
        width: auto;
        padding: 0;
    }

    .rtyfrty.rtyfrtyclass-third.set_in {
        width: 100%;
        float: left;
    }
    .card.page-header-third .col-md-12 {
        padding: 0;
    }
    #custnav #ul li {
        width: 16.6666666667%;
    }
    #custnav #ul {
        display: flex;
        width: 100%;
        float: left;
        justify-content: space-between;
    }
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   /* new css */


    .col-xs-12.col-md-4.col-sm-12.clx.focused {
        padding-left: 0px !important;
    }

    
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .form-control-label {
        text-align: left;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

    
    .rtyfrty {
        float: left;

    }
    
    .rtyfrty ul li a {
        font-size: 13px;

    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media screen and (max-width: 992px) {

        #custnav #ul li {
            width: 16.6666666667%;
            margin-right: 0px;
        }

        .col-md-4 {
            width: fit-content !important;
        }
        .tible_menu {
            display: block;
            margin: 0;
        }
        .rtyfrty ul li {
            width: 50%;
            float: left;
            margin-bottom: 6px;
            margin-right: 0px !important;
        }

        .rtyfrty {
            width: 100%;
            float: left;
        }

            

                .rtyfrty ul li a {
                    margin-bottom: 0;
                }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }

            .vacrivet button {
                width: 100%;
            }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }
    @@media screen and (max-width:767px) {
        #custnav #ul li {
            width: 33.3333%;
        }
        #custnav #ul {
            display: block;
        }
    }

    @@media only screen and (max-width:480px) {
        div#custnav ul li a {
            font-size: 12px;
        }
        .rtyfrtyclass-third #custnav ul li {
            width: 50% !important;
        }
        .bread-same-all-page {
            display: block;
        }
        .padding-top-thirdclass {
            width: 100%;
            float: left;
        }
        .bread-same-all-page .pageheader-second-third {
            width: 100%;
            float: left;
            display: flex;
            justify-content: center;
            padding-top: 5px;
        }
        .bread-same-all-page a {
            font-size: 14px;
        }
        .rtyfrty ul li {
            width: 100%;
        }


    }

    
    
</style>

<section class="content">
    <div class="container-fluid">

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                RechargeApiResponse
                            </li>
                        </ul>

                        <div class="pageheader-second-third">
                            <div class="pull-right " style="">
                                <button type="button" class="btn waves-effect fullbodydycolorbg" style=" float:right; height:32px;float:right;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#myModalAdd" onclick="recharge_api_insert_otp('RechargeApiInsert')">
                                    <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;" aria-hidden="true"></i>
                                    <span style="color:#fff;">Add New</span>
                                </button>
                                @*<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModalAdd">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
                <span class="bigger-110 no-text-shadow">Add New</span>
            </button>*@
                            </div>
                            <div class="pull-right tableTools-container tableTools-containerapi">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third ">
                    <div class="col-md-12">
                        <div class="pageheader-second-third">

                            <div class="rtyfrty rtyfrtyclass-third set_in" style="">
                                <div>
                                    @Html.Partial("_menuapinm")
                                </div>

                            </div>
                            
                            <div class="tible_menu">
                                <div class="rtyfrty rtyfrtyclass-third" style="">
                                    <div>
                                        @Html.Partial("_menu_rch_Api")
                                    </div>

                                </div>
                                <div class="form_set">
                                    @using (Html.BeginForm("RechargeApiResponse", "Home", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="col-xs-10 col-sm-10" style="width: auto; float: left; padding: 0; ">
                                            <div class="col-xs-12 col-md-4 col-sm-12 clx" style="padding-right:4px;">
                                                @Html.DropDownList("apiinfomove", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control" })
                                            </div>
                                            <div class="col-xs-12 col-md-1 col-sm-12 clx" style=" padding-left: 0;">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-sm btn-success" style="height: 34px; width: fit-content; background: transparent; color: #000;">
                                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                                        Search
                                                    </button>
                                                </span>
                                            </div>

                                        </div><!-- /.span -->
                                    }
                                    @*<div class="col-xs-2 col-sm-2">
                <div class="col-xs-12 col-md-12 col-sm-12 clx">
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModalAdd">
                        <i class="ace-icon glyphicon glyphicon-plus"></i>
                        <span class="bigger-110 no-text-shadow">Add New</span>
                    </button>
                </div>
            </div>*@
                                </div><!-- /.row -->
                            </div>

                        </div>

                    </div>

                    <div class="" style="width:100%;float:left;margin-top:6px; ">
                        <div id="datashoww" class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            @Html.Partial("_PartialRechargeApiResponse", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<!--add modal popup-->
<div class="modal fade" id="myModalAdd" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Ajax.BeginForm("ApiResponseInsert", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "datashoww", OnSuccess = "Success" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header" style="background-color:whitesmoke;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Move API</h4>
                </div>
                <div class="modal-body">
                    <div class="body">
                        @Html.Hidden("uniqueid")
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("apiinfo", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("restype", ViewBag.resptype as SelectList, "Select Response Type", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Requestid</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addKeyRequestid", "", new { @class = "form-control", placeholder = "Enter Key Requestid" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Status</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addKeyStatus", "", new { @class = "form-control", placeholder = "Enter Key Status", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key OptID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addKeyOptID", "", new { @class = "form-control", placeholder = "Enter Key OptID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addKeymsg", "", new { @class = "form-control", placeholder = "Enter Message" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Remain Bal</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("KeyRemainBal", "", new { @class = "form-control", placeholder = "Key Remain Bal" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Sucess</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("ValStatusSucess", "", new { @class = "form-control", placeholder = "Value Status Sucess", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Failed</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("ValStatusFailed", "", new { @class = "form-control", placeholder = "Value Status Failed", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Pending</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("ValStatusPending", "", new { @class = "form-control", placeholder = "Value Status Pending", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">saprate with</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("sapratewith", "", new { @class = "form-control", placeholder = "saprate with" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Error</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("Keyerror", "", new { @class = "form-control", placeholder = "Key Error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Error Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("KeyerrorMessage", "", new { @class = "form-control", placeholder = "Key Error Message" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Error</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("valerror", "", new { @class = "form-control", placeholder = "Key Error" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Error Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("valerrorMessage", "", new { @class = "form-control", placeholder = "Value Error Message" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Otp</label>
                            </div>
                            <div class="otp-set-input" style="width: 40% !important; float: left; padding-left: 16px;">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("otp", "", new { @class = "form-control", placeholder = "Enter Otp", required = "required", pattern = "[0-9]{4}", title = "Enter 4 digit Otp" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn fullbodydycolorbg waves-effect" style="height: 34px; width: 30%; margin-right: 14px;">
                                    <span style="color:#fff;">Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               
            }
        </div>
    </div>
</div>
<!--end-->
<!--Edit modal popup-->
<div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*@using (Html.BeginForm("rechargerespUpdate", "RechargeAPI", FormMethod.Post))
                {*@
            @using (Ajax.BeginForm("rechargerespUpdate", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "datashoww", OnSuccess = "Success1" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Recharge API Response</h4>
                </div>
                <div class="modal-body">
                    <div class="body">
                        @Html.Hidden("unique_update")
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.Hidden("editidno")
                                        @Html.Hidden("editapiinfo1")
                                        @Html.DropDownList("editapiinfo", ViewBag.apiinfo as SelectList, "Select Api Name", new { @class = "form-control", required = "required", @disabled = "disabled" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Response Type</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("editresptype", ViewBag.resptype as SelectList, "Select Response Type", new { @class = "form-control", required = "required" })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Request ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editKeyRequestid", "", new { @class = "form-control", placeholder = "Enter Key Requestid" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Status</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editKeyStatus", "", new { @class = "form-control", placeholder = "Enter Key Status", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key OptID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editKeyOptID", "", new { @class = "form-control", placeholder = "Enter Key OptID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("EditKeymsg", "", new { @class = "form-control", placeholder = "Key Message" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Remain Bal</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editRemainBal", "", new { @class = "form-control", placeholder = "Key Remain Bal" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Success</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editValStatusSucess", "", new { @class = "form-control", placeholder = "ValStatusSucess", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Failed</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editValStatusFailed", "", new { @class = "form-control", placeholder = "ValStatusFailed", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Status Pending</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editValStatusPending", "", new { @class = "form-control", placeholder = "ValStatusPending", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Saprate With</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editsapratewith", "", new { @class = "form-control", placeholder = "sapratewith" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Error</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editKeyerror", "", new { @class = "form-control", placeholder = "Keyerror" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Error Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editKeyerrorMessage", "", new { @class = "form-control", placeholder = "KeyerrorMessage" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Error</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editvalerror", "", new { @class = "form-control", placeholder = "valerror" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Error Message</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editvalerrorMessage", "", new { @class = "form-control", placeholder = "valerrorMessage" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Otp</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("otp_update", "", new { @class = "form-control", required = "required", placeholder = "Otp", pattern= "[0-9]{4}", title="Enter 4 digit Otp" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*  <button type="submit" class="btn btn-primary">Submit</button>*@
                    <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                        <span style="color:#fff;">Submit</span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<!--end-->
<script>
    function Success() {
        $('#myModalAdd').modal('hide');
    }
</script>
<script>
    Edit = (id) => {
        var url = "@Url.Action("EditRchApiResponse", "Home")";
         var requ = { "idno": id }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.json()).then(res => {
            $('#editidno').val(res[0].Idno);
            $('#editapiinfo').val(res[0].id).change();
            $('#editapiinfo1').val(res[0].id);
            $('#editresptype').val(res[0].Resptype).change();
            $('#editKeyRequestid').val(res[0].KeyRequestid);
            $('#editKeyStatus').val(res[0].KeyStatus);
            $('#editKeyOptID').val(res[0].KeyOptID);
            $('#EditKeymsg').val(res[0].KeyMsg);
            $('#editRemainBal').val(res[0].KeyRemainBal);
            $('#editValStatusSucess').val(res[0].ValStatusSucess);
            $('#editValStatusFailed').val(res[0].ValStatusFailed);
            $('#editValStatusPending').val(res[0].ValStatusPending);
            $('#editsapratewith').val(res[0].sapratewith)
            $('#editKeyerror').val(res[0].Keyerror)
            $('#editKeyerrorMessage').val(res[0].KeyerrorMessage);
            $('#editvalerror').val(res[0].valerror);
            $('#editvalerrorMessage').val(res[0].valerrorMessage);
            $('#myModalEdit').modal()
        }).catch(err => alert(err));
    }
</script>
<script>
    function Success1() {
        $('#myModalEdit').modal('hide');
    }
</script>
<script>
    update = (idno) => {
        var apiinfomove = $('#apiinfomove').val();
        var optidmove = $('#optidmove').val();
        var url = '@Url.Action("UpdateMoveapiSts","RechargeAPI")'
        var requ = { "idno": idno, "apiinfomove": apiinfomove, "optidmove": optidmove }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.text()).then(res => {
            $('#datashoww').html(res);
        }).catch(err => alert(err));
    }
</script>

<script>
    $(function () {
        $(".allow_decimal").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /***************/

        $('.show-details-btn').on('click', function (e) {

            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/
    })
</script>
<script>
    function recharge_api_insert_otp(type) {
        $('#uniqueid').val('');
        $('#unique_update').val('');
        fetch('@Url.Action("ApiResponseInsert_SendOtp")?type=' + type)
        .then(res => res.json())
            .then(data => {
                if (data.status) {
                    if (type == "RechargeApiInsert") {
                        $('#uniqueid').val(data.uniqueid);
                    }
                    else if (type == "RechargeApiUpdate") {
                        $('#unique_update').val(data.uniqueid);
                    }
                }
        })
    }
</script>