@model IEnumerable<Vastwebmulti.Models.RechargeapiInfo>
@{
    ViewBag.Title = "RechargeAPIUrl";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

   /* new css */
    .modal-body .row.clearfix {
        margin: 3px 0px;
    }
    .modal .modal-footer {
        padding: 26px 38px;
        padding-top: 0;
    }
    #ul {
        width: 100%;
    }
    #custnav1 #ul li {
        width: 25%;
    }
    #custnav1 #ul {
        margin-top: 6px;
    }
    .col-md-5.rtyfrty.rtyfrtyclass-third {
        padding: 0;
    }
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card.page-header-third .col-md-12 {
        padding: 0;
    }
    #ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


   /* new css */

    .col-md-7.rtyfrty.rtyfrtyclass-third {
        width: 55% !important;
        float: right;
        padding: 0;
    }

    #ul li {
        float: left;
        margin-right: 3px;
        background: #efefef;
        width: 15%;
    }

        #ul li a {
            display: block;
            text-align: center;
            padding: 5px 9px;
            text-decoration: none;
            border: 1px solid #b1a6a638;
            position: initial;
            font-size: 12px;
        }

    ul#ul {
        float: right;
    }
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .form-control-label {
        text-align: left;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

   
    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media screen and (max-width: 992px) {

        #ul li {
            margin-right: 0px !important;
        }
        #custnav1 #ul {
            width: 100%;
            display: flex;
        }

        .col-md-7.rtyfrty.rtyfrtyclass-third {
            width: 100% !important;
        }
        .col-md-5.rtyfrty.rtyfrtyclass-third {
            width: 100% !important;
        }
        .col-md-5.rtyfrty.rtyfrtyclass-third {
            width: 100% !important;
            margin: 0 !important;
        }

        .rtyfrty {
            width: 100%;
            float: left;
        }

            .rtyfrty ul li {
                width: 33.333%;
                float: left;
                margin-bottom: 6px;
            }

                .rtyfrty ul li a {
                    margin-bottom: 0;
                }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }

            .vacrivet button {
                width: 100%;
            }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:580px){
        #custnav1 #ul {
            display: block;
        }
        .rtyfrty ul li {
            width: 50%;
        }
        div#custnav ul li a {
            font-size: 12px;
        }
    }

    @@media only screen and (max-width:480px) {
        #ul {
            display: block;
        }
        #custnav1 #ul li {
            width: 50%;
            display: table;
        }

        .modal-dialog {
            width: 96% !important;
        }
        .bread-same-all-page {
            display: block;
        }
        .padding-top-thirdclass {
            width: 100%;
            float: left;
        }
        .pageheader-second-third {
            width: 100%;
            float: left;
            display: flex;
            justify-content: center;
            padding-top: 8px;
        }
        .rtyfrtyclass-third #custnav ul li {
            width: 50% !important;
        }

    }
    
</style>
<section class="content">
    <div class="container-fluid">
        <!--Four-Design-Admin-page-Header-Section-Start-->
        @*<div class="page-title-box-fourde-admin">
            <h3>API Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Recharge API URL</a></li>
            </ul>
        </div>*@
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix four-noneclass-admin-only">
            <div class="col-md-12">
                <div class="page-header-third pageheader-second-third">
                    <div class="bread-same-all-page breadsameall-second">
                        <ul class="padding-top-thirdclass" style="margin:0px;">
                            <li class="smli">
                                <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                                </a>
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                    Basic&nbsp;Setting
                                </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </li>
                            <li class="fullbodydycolorbg tmw-total-color-one">
                                RechargeAPIUrl
                            </li>
                        </ul>

                        <div class="pageheader-second-third">
                            <div class="pull-right " >
                                <button type="button" class="btn waves-effect fullbodydycolorbg" style="float:right; height:32px;float:right;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#myModalAdd">
                                    <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;" aria-hidden="true"></i>
                                    <span style="color:#fff;">Add New</span>
                                </button>
                                @*<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModalAdd">
                    <i class="ace-icon glyphicon glyphicon-plus"></i>
                    <span class="bigger-110 no-text-shadow">Add New</span>
                </button>*@
                            </div>
                            <div class="pull-right tableTools-container tableTools-containerapi">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third">
                    <div class="col-md-12">
                        <div class="col-md-12 rtyfrty rtyfrtyclass-third" style=" float:left; ">
                            <div style="">
                                @Html.Partial("_menuapinm")
                            </div>

                        </div>
                        <div class="col-md-12 rtyfrty rtyfrtyclass-third" style="float: right;  ">
                            <div style="">
                                @Html.Partial("_menu_rch_Api")
                            </div>

                        </div>


                    </div>

                    <div class="" style="width: 100%; float: left; margin-top: 6px;">
                        <div class="table-responsive tablefourdesign-admin" style="position:inherit;">
                            <table class="table table-bordered table-striped example-second" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Api Name</th>
                                        <th>Api URL</th>
                                        <th>Api Type</th>
                                        <th>Request Type</th>
                                        <th>Key Userid</th>
                                        <th>Val Userid</th>
                                        <th>Key Password</th>
                                        <th>Value Password</th>
                                        <th>Key Recharge No</th>
                                        <th>Key OptCode</th>
                                        <th>Key Amount</th>
                                        <th>Key RequestID</th>
                                        <th>is STV</th>
                                        <th>Key State Code</th>
                                        <th>Key No Romaing</th>
                                        <th>Status</th>
                                        <th>Success To Failed</th>
                                        <th>Failed To Success</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.apiname</td>
                                            <td>@item.apiendpoint</td>
                                            <td>@item.apitype</td>
                                            <td>@item.Requesttype</td>
                                            <td>@item.Keyuserid</td>
                                            <td>@item.valuserid</td>
                                            <td>@item.Keypasscode</td>
                                            <td>@item.valpasscode</td>
                                            <td>@item.Keyrechargeno</td>
                                            <td>@item.Keyoptcode</td>
                                            <td>@item.KeyAmount</td>
                                            <td>@item.KeyReqid</td>
                                            <td>@item.isstv</td>
                                            <td>@item.keystatecode</td>
                                            <td>@item.keynoromaing</td>
                                            <td>
                                                @if (item.Sts == true)
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="update('@item.id')">
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="update('@item.id')">
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red"></i>
                                                    </button>
                                                }
                                            </td>
                                            <td>
                                                @if (item.success_to_failed == true)
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="success_failed_change('@item.id', 'success_to_failed')">
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="success_failed_change('@item.id', 'success_to_failed')">
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red"></i>
                                                    </button>
                                                }
                                            </td>
                                            <td>
                                                @if (item.failed_to_success == true)
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="success_failed_change('@item.id', 'failed_to_success')">
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button style="background-color:transparent;border-color:transparent" onclick="success_failed_change('@item.id', 'failed_to_success')">
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red"></i>
                                                    </button>
                                                }
                                            </td>
                                            <td style=" display: flex;">
                                                <button style="background-color:transparent;border-color:transparent" onclick="Edit('@item.id')">
                                                    <i class="fa fa-edit fa-2x" style="color:red"></i>
                                                </button>
                                                <button style="background-color:transparent;border-color:transparent;" onclick="Delete('@item.id')">
                                                    <i class="fa fa-trash-o fa-2x" style="color:red"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--add modal popup-->
<div class="modal fade" id="myModalAdd" tabindex="-1"  role="dialog">
    <div class="modal-dialog" role="document" >
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("InsertAPI", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header" style="background-color:whitesmoke;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Recharge API Url's</h4>
                </div>
                <div class="modal-body">
                    <div class="body">

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Enter Api Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addApinm", "", new { @class = "form-control", placeholder = "Enter Api Name", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api URL</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextArea("addApiUrl", "", new { @style = "height:100px;", @class = "form-control", placeholder = "Enter Api URL", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Type</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("addapitype", new List<SelectListItem>
                                   {
                                          new SelectListItem{Text="Get", Value="Get"},
                                          new SelectListItem{Text="Post", Value="Post"}
                                   }, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Request Type</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("addapireqtype", new List<SelectListItem>
                                   {
                                          new SelectListItem{Text="Query String", Value="Query String"},
                                       new SelectListItem{Text="Form", Value="Form"},
                                       new SelectListItem{Text="JSON", Value="JSON"}
                                   }, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key User ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addkeyuserid", "", new { @class = "form-control", placeholder = "Enter Key USERID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Userid</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addvalueuserid", "", new { @class = "form-control", placeholder = "Enter Userid" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Passcode</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addkeypasscode", "", new { @class = "form-control", placeholder = "Enter Key Pass code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Pass Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addvalpasscode", "", new { @class = "form-control", placeholder = "Enter Value Pass Code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Recharge Number</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addrchnumber", "", new { @class = "form-control", placeholder = "Enter Key Recharge Number", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Operator Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addkeyoptcode", "", new { @class = "form-control", placeholder = "Enter Operator Code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Amount</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addekyamount", "", new { @class = "form-control", placeholder = "Enter Key Amount", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Request ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("addrequestID", "", new { @class = "form-control", placeholder = "Enter Key Request ID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">is STV</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("addisstv", "", new { @class = "form-control", placeholder = "Enter is STV" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key State Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("addstatecode", "", new { @class = "form-control", placeholder = "Enter State CODE" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key No Romaing</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("addkeynoromaing", "", new { @class = "form-control", placeholder = "Enter Key No Romaing" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                        <span style="color:#fff;">Insert API</span>
                    </button>
                  
                </div>
                    }
                </div>
    </div>
</div>
<!--end-->
<!--Edit modal popup-->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("EDITAPI", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("editid")
                <div class="modal-header" style="background-color:whitesmoke;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Recharge API Url's</h4>
                </div>
                <div class="modal-body">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Enter Api Name</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editApinm", "", new { @class = "form-control", placeholder = "Enter Api Name", required = "required", @disabled=true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api URL</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextArea("editApiUrl", "", new { @style = "height:100px;", @class = "form-control", placeholder = "Enter Api URL", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Type</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("editapitype", new List<SelectListItem>
                                   {
                                          new SelectListItem{Text="Get", Value="Get"},
                                          new SelectListItem{Text="Post", Value="Post"}
                                   }, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Api Request Type</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.DropDownList("editapireqtype", new List<SelectListItem>
                                   {
                                          new SelectListItem{Text="Query String", Value="Query String"},
                                       new SelectListItem{Text="Form", Value="Form"},
                                       new SelectListItem{Text="JSON", Value="JSON"}
                                   }, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key User ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("Editkeyuserid", "", new { @class = "form-control", placeholder = "Enter Key USERID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Userid</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("Editvalueuserid", "", new { @class = "form-control", placeholder = "Enter Userid" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Passcode</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editkeypasscode", "", new { @class = "form-control", placeholder = "Enter Key Pass code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Value Pass Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editvalpasscode", "", new { @class = "form-control", placeholder = "Enter Value Pass Code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Recharge Number</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editrchnumber", "", new { @class = "form-control", placeholder = "Enter Key Recharge Number", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Operator Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editkeyoptcode", "", new { @class = "form-control", placeholder = "Enter Operator Code", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Amount</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editekyamount", "", new { @class = "form-control", placeholder = "Enter Key Amount", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key Request ID</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("editrequestID", "", new { @class = "form-control", placeholder = "Enter Key Request ID", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">is STV</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("editisstv", "", new { @class = "form-control", placeholder = "Enter is STV" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key State Code</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("editstatecode", "", new { @class = "form-control", placeholder = "Enter State CODE" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Key No Romaing</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">

                                        @Html.TextBox("editkeynoromaing", "", new { @class = "form-control", placeholder = "Enter Key No Romaing" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="return func()"  class="btn fullbodydycolorbg waves-effect" style=" height:32px;">
                        <span style="color:#fff;">Submit</span>
                    </button>

                </div>
            }
        </div>
    </div>
</div>
<!--end-->
<div id="loadredmodel" style="display:none; position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
    <div class="ldio-zdyd6mf6t5">
        <div></div><div></div>
    </div>
</div>
<script>
    update = (id) => {
        var url = '@Url.Action("UpdateApiUrlSts","Home")'
        var requ = { "idno": id }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.json()).then(res => window.location.reload(true)).catch(err => alert(err));
    }

    success_failed_change = (id, type) => {
        var url = '@Url.Action("success_failed_change", "Home")'
        var requ = { "idno": id, type }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.json()).then(res => window.location.reload(true)).catch(err => alert(err));
    }
</script>
<script>
    Edit = (id) => {
        var url = '@Url.Action("EditRechargeAPIURLS","Home")'
        var requ = { "idno": id }
        var request = JSON.stringify(requ);
        fetch(url, {
            method: "Post",
            headers: { "Content-Type": "application/json" },
            body: request
        }).then(Response => Response.json()).then(res => {
            $('#editid').val(res[0].id);
            $('#editApinm').val(res[0].apiname);
            $('#editApiUrl').val(res[0].apiendpoint);
            $('#editapitype').val(res[0].apitype).change();
            $('#editapireqtype').val(res[0].Requesttype).change();
            $('#Editkeyuserid').val(res[0].Keyuserid);
            $('#Editvalueuserid').val(res[0].valuserid);
            $('#editkeypasscode').val(res[0].Keypasscode);
            $('#editvalpasscode').val(res[0].valpasscode);
            $('#editrchnumber').val(res[0].Keyrechargeno);
            $('#editkeyoptcode').val(res[0].Keyoptcode);
            $('#editekyamount').val(res[0].KeyAmount)
            $('#editrequestID').val(res[0].KeyReqid)
            $('#editisstv').val(res[0].isstv);
            $('#editstatecode').val(res[0].keystatecode);
            $('#editkeynoromaing').val(res[0].keynoromaing);
            $('#myModalEdit').modal()
    }

    function Delete(id) {
        if (confirm('are you sure?')) {
            fetch('@Url.Action("Delete_Recharge_Api")?id=' + id)
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    location.reload();
                }
            })
        }
    }
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /***************/

        $('.show-details-btn').on('click', function (e) {

            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/
    })
</script>

