@model IEnumerable<Vastwebmulti.Models.Retailer_to_Dealer>
@{
    ViewBag.Title = "Retailer_to_dealer";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}



<style>
    /* new css */

    .padding-top-third {
        padding: 5px;
        float: left;
        margin: 0;
    }
    .sponc11 {
        border: 1px solid #ccc;
        height: 32px;
        background: green;
    }
        .sponc11 .fa.fa-search.color-white-second {
            color: #fff !important;
            left: 20px !important;
        }


    section.content {
        margin: 75px 0px 0 180px;
    }

    .body_sidebar_menu span {
        background: #000 !important;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        width: 50px;
        float: left;
        height: 42px;
    }

    .tablinks a {
        cursor: pointer !important;
    }

    .disablevalue {
        width: 50%;
        float: left;
    }

    .disablevalue {
        padding: 7px 10px;
        background: #ddd;
        color: #555;
    }

    .reffael-fullseting select.form-control {
        width: 50%;
        float: left;
    }

    .reffael-fullseting button.reffralactivedeacrt {
        float: right;
        padding: 7px 14px !important;
        text-align: center;
        border: 0;
        font-weight: bold;
    }

    .classfullsavechange button {
        width: 100%;
        float: left;
        margin-top: 30px;
        border: 0 !important;
        background: #d3d3d3;
        width: 100%;
        border-radius: 30px !important;
        height: 40px !important;
    }

    p.prag_1 {
        font-size: 9px;
        padding-right: 0px;
        font-weight: 500;
        padding-top: 2px;
    }

    p.prag_2 {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.4px;
    }

    .butttuno_2 {
        width: auto;
        height: 22px;
        float: left;
        border: 1px #ddd solid;
        margin-left: 5px;
        margin-top: 3px;
        text-align: center;
        color: #000;
        padding: 0px 3px;
    }

    #refferalsetinpartial {
        height: 29px;
        margin-right: 4px;
    }

    div#refferalsetinpartial button {
        width: 137px;
        height: 29px;
        border: 1px solid #ddd;
        text-align: end;
        padding-right: 5px;
        position: relative;
    }

    .bkp:hover .dropdown-submenu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        top: 34px;
        border-top: 0;
    }

    .bkp.seventd {
        float: left;
        position: relative;
    }

    .dropdown-submenu {
        background: #fff;
        width: 200px;
        display: block;
        float: left;
        position: absolute;
        top: 51px;
        left: 2px;
        transform: translateY(25px);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s linear;
        padding: 10px 15px;
        border: 1px solid #ccc;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 300;
        z-index: 9999;
    }

        .dropdown-submenu::before, .custum-dropdown::before {
            border-style: solid;
            border-width: 0 6px 6px;
            content: "";
            height: 0;
            position: absolute;
            left: 1em;
            top: -6px;
            width: 0;
            z-index: 9999;
            border-color: transparent transparent #fff;
            display: block;
        }

    .all_page_alert {
        position: absolute;
        top: 109px;
        z-index: 99;
        right: 15px;
        display: none;
        padding: 10px;
    }

    .res_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .res_div svg:hover + .all_page_alert {
            display: block;
        }

        .res_div svg {
            width: 23px;
            color: #000;
            margin-left: 8px;
            cursor: pointer;
        }

    .retailerlist-header-resp {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .refferal-type-left, .refferal-type-right {
        height: 400px;
    }

    .bread-same-all-page {
        width: auto;
    }

    .refferal-type ul li {
        border-bottom: 2px solid #eaeaea;
    }

    .switch-history-table {
        background: #fff;
    }

    .fund-transfer-form {
        background: #fff;
    }

    /* new css */


    .table-responsive {
        min-height: .01%;
        overflow-x: inherit;
        height: 75vh;
        overflow: overlay !important;
    }

    .tab-link.active::after {
        content: '';
        width: 100%;
        border-bottom: 2px solid #000;
        display: block;
    }

    .ulbussnessnotshow input, .ulbussnessnotshow select, .ulpurchasenotshow select, .ulpurchasenotshow input {
        padding: 4px 10px;
        border: 0px;
        width: 150px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        .rtrt.responcive-full {
            width: 100%;
        }

        .clk {
            width: 62% !important;
        }
        .input-daterange input {
            text-align: end;
        }
        .sponc11 {
            width: 38px;
        }

        #sidebar-open {
            top: -1px;
            left: -4px;
        }

        .modal-dialog {
            margin: 0;
        }
    }

    @@media only screen and (max-width:480px) {
        .switch-history-table .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .switch-user-tab-right .nav-tabs li a {
            height: 61px;
        }
    }
</style>

<section class="content cas-hdeposi-tcharge-page upicharge-thirddesign">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Retailer_to_dealer","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Retailer To Distributor Transfer
                        </a>

                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix ">
            <div class="switch-user-tab">

                <div class="col-md-4 switch-user-tab-left" id="body_left">

                    <div class="page-header-third">
                        <ul class="nav nav-tabs fullbodydycolorbg tab" id="tabs">
                            <li class="tab-link tablinks active" onclick="openCity(event, 'tab-1')" style="width:100%;">
                                <a href="@Url.Action("Retailer_to_dealer","Home")" style="font-size: 17px;padding: 4px;">
                                    <img src="~/AdminDesign/images/userupgrade.svg" style="width:25px;" />

                                    Retailer To Distributor Transfer
                                </a>
                            </li>
                        </ul>
                        <div class="width100 home float-left tab-pane fade active in input-border-third">
                            <div class="fund-transfer-form tabcurrent-seconddesign boxback-allpage-admin tabcontent" id="tab-1">
                                <form id="newsletter-form" method="post">
                                    <div id="hideretailer" class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Retailer Details </label>
                                        <div>
                                            <div class="unload-item item-two unloadupi-third-design">
                                                @Html.DropDownList("allretailer", ViewBag.retailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "false" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hidedealer" class="col-md-12 col-sm-12 col-xs-12 ">
                                        <label>Master Distributor Details </label>
                                        <div>
                                            <div class="unload-item item-two unloadupi-third-design">
                                                @Html.DropDownList("allDetails", ViewBag.superinfo as SelectList, "All Master Distributor", new { id = "allDetails", @class = "selectpicker form-control", data_live_search = "false" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hideotp" class="col-md-12 col-sm-12 col-xs-12 " style="display:none;">
                                        <label>OTP </label>
                                        <div>
                                            <div>
                                                @Html.TextBox("txtotp", "", new { @class = "form-control", @placeholder = "Enter OTP" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                        <div>

                                            <button type="button" id="btnshowdetails" class="fullbodydycolorbg btn-first button-third" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;">
                                                <span style="color:#fff;position:relative;">Submit</span>
                                            </button>
                                            <button type="button" id="btnshowdetailsotp" class="fullbodydycolorbg btn-first button-third" style="color:#fff;display:none; float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;">
                                                <span style="color:#fff;position:relative;">Submit</span>
                                            </button>
                                            <button class="btn-second button-third-design" type="reset" style="color:#000;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;margin-right:10px;">Cancel</button>
                                        </div>
                                        <label style="color:red;" id="lblmsg"></label>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 switch-user-tab-right">

                    <div class="page-header-third">
                        <div class="col-md-5 rtrt responcive-full" style="padding: 0px;padding-left: 3px;">
                            <div class="row">
                                @using (Html.BeginForm("Retailer_to_dealer", "Home", FormMethod.Post))
                                {
                                    <div class="col-md-10 clk responcive-full" style="padding-right:0px;">
                                        <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638;" })
                                            <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                                            </span>
                                            <div class="nrr3">
                                                <div class="custom-date-icon ner2">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 sre responcive-full" style="padding-left:3px;">
                                        <center>
                                            <div class="sponc11">

                                                <i class="fa fa-search color-white-second" style=" position: absolute; top: 8px; left: 11px; color: var(--main-bg-lcolor); z-index: 1;" aria-hidden="true"></i>

                                                @*<input id="btntype_TODAY" name="btntype" type="submit" value="TODAY" class="btn" style="margin-top:0px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" />*@
                                                <input name="btntype" type="submit" value="" class="btn input-back-second" style="padding-left: 20px; margin-top: 0px; height: 32px; border: none; background: transparent; z-index: 2; position: relative;" />
                                            </div>
                                        </center>
                                    </div>
                                }
                                <div>
                                </div>
                            </div>
                        </div>




                        <div class="table-responsive " style="width: 100%; margin-top: 7px; float: left;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr style="background:#f9f9f9;">
                                        <th>Role</th>
                                        <th>Name</th>
                                        <th>Firm Name</th>
                                        <th>Mobile</th>
                                        <th>Remain Balance</th>
                                        <th>Date </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Role</td>
                                            <td>@item.Name</td>
                                            <td>@item.Firmname</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Remainbal</td>
                                            <td>@item.insertdate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<!--=======    Modal For Bank Details   ========-->
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

<script>
    $('#allretailer').select2();
    $('#allDetails').select2();
</script>


<script>
    $(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>


<script>

    document.querySelectorAll('[data-component~="body_sidebar"]').forEach((button) => {
        button.addEventListener("click", function () {
            document.getElementById(this.dataset.target).classList.toggle("body_sidebar_active");
        });
    });

</script>





<script>
    $('#btnshowdetails').click(function () {
        var rem = $('#allretailer').val();
        var dlm = $('#allDetails').val();
        if (rem != "" && dlm != "") {
              $.ajax({
            url: '@Url.Action("Transfer_Retailer_to_dealer", "Home")',
            method: 'GET',
                  data: { rem, dlm },
                  success: function (data) {
                      if (data == "OTP") {
                          $('#hideretailer').hide();
                          $('#hidedealer').hide();
                          $('#hideotp').show();
                          $('#btnshowdetails').hide();
                          $('#btnshowdetailsotp').show();
                      }
          }
        });
        }
        else {
            $('#lblmsg').text("Select Retailer and Master Distributor ")
        }
    });

</script>
<script>
    $('#btnshowdetailsotp').click(function () {
        var rem = $('#allretailer').val();
        var dlm = $('#allDetails').val();
        var otp = $('#txtotp').val();
        if (rem != "" && dlm != "") {
            if (otp != "") {
                $.ajax({
                    url: '@Url.Action("Transfer_Retailer_to_dealer_Verify_OTP", "Home")',
                    method: 'GET',
                    data: { rem, dlm, otp },
                    success: function (data) {
                        if (data == "Register SuccessFully.") {
                            location.reload(true);
                        }
                        else {
                            $('#lblmsg').text(data)
                        }
                    }
                });
            }
        }
        else {
            $('#lblmsg').text("Select Retailer and Master Distributor ")
        }
    });

</script>



<style>

    .loader {
        /*border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;*/
        border - radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0 % {
            - webkit - transform: rotate(0deg);
        }

        100% {
            -webkit - transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0 % {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<!-- Select2 CSS -->
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
@*Select2 JS*@

<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->
@*<script>
        $(function () {
            $('.select2').select2({
                width: '100%' // ensures full width in Bootstrap
            });
        });
    </script>*@
