@model Vastwebmulti.Areas.ADMIN.Models.Token_PaidService_VM
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "Joining Charge";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
@{
    int? all_cappingretailer = 0;
    VastwebmultiEntities db = new VastwebmultiEntities();
    var all_cappingretailer1 = db.All_Retailercapping.SingleOrDefault();
    if (all_cappingretailer1 != null)
    {
        all_cappingretailer = all_cappingretailer1.All_Capping;

    }
    else
    {
        all_cappingretailer = 0;
    }

}
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment-with-locales.min.js"></script>

<style>
    /* new css */
    .res_div {
        float: right;
        width: auto;
    }

    .bread-same-all-page {
        width: auto;
        float: left;
    }

    .pageheader-margin-third {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #refferalsetinpartial {
        height: 29px;
    }

    .retalerrlist-add-button {
        height: 29px;
    }

    .tmw-retailer-creaction-charge .ri-hist-itemsecond table, .tmw-retailer-creaction-charge .ri-hist-itemone table {
        background: #fff;
    }

    .tmw-retailer-creaction-charge .left-sign-ups {
        height: auto;
    }

    /* new css */

    .reffael-fullseting {
        width: 100%;
        float: left;
    }

        .reffael-fullseting select.form-control {
            width: 50%;
            float: left;
        }

        .reffael-fullseting button.reffralactivedeacrt {
            float: right;
            padding: 7px 14px !important;
            text-align: center;
            border: 0;
            font-weight: bold;
        }

    button.reffralactivedeacrt.reffralactivedeacrt-add span.reffralactive {
        display: none;
    }

    button.reffralactivedeacrt.reffralactivedeacrt-add span.reffraldeactive {
        display: block !important;
    }

    .classfullsavechange button {
        width: 100%;
        float: left;
        margin-top: 30px;
        border: 0 !important;
        background: #d3d3d3;
        width: 100%;
        border-radius: 30px !important;
        height: 40px !important;
    }

    .disablevalue {
        padding: 7px 10px;
        background: #ddd;
        color: #555;
    }

    .disablevalue {
        width: 50%;
        float: left;
    }

    div#refferalsetinpartial button {
        width: 137px;
        height: 29px;
        border: 1px solid #ddd;
        text-align: end;
        padding-right: 5px;
        position: relative;
    }

    .butttuno_2 {
        width: auto;
        height: 22px;
        float: left;
        border: 1px #ddd solid;
        margin-left: 5px;
        margin-top: 3px;
        text-align: center;
        color: #000;
        padding:0px 3px;
    }

    p.prag_1 {
        font-size: 9px;
        padding-right: 0px;
        font-weight: 500;
        padding-top: 2px;
    }

    p.prag_2 {
        position: absolute;
        top: 10px;
        right: 7px;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.4px;
    }

    p.prag_12_off {
        width: 100%;
        float: left;
        margin-top: 5px;
        font-weight: 600;
        position: absolute;
        right: 5px;
    }

    p.prag_2_3 {
        position: absolute;
        top: 10px;
        right: 6px;
        font-size: 13px;
        color: red;
        text-transform: uppercase;
        font-weight: 600;
    }

    p.prag-14 {
        font-size: 9px;
        padding-right: 0px;
        font-weight: 500;
        padding-top: 2px;
        margin: 0;
    }

    p.prag-16 {
        position: absolute;
        top: 13px;
        left: 55px;
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
    }

    @@media screen and (max-width:1366px) {
        .retailercrection-first .left-sign-ups ul.tab-seconddesign li button {
            font-weight: normal;
            font-size: 12px;
        }
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:991px) {

        .padd-right {
            padding-right: 15px !important;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:600px) {

        .pageheader-margin-third {
            display: block;
            float: left;
            width: 100%;
        }

        .bread-same-all-page {
            width: 100%;
            padding: 2px 0;
        }

        .res_div {
            width: 100%;
            padding: 2px 0;
        }
    }

    @@media screen and (max-width:420px) {
        .tmw-retailer-creaction-charge .left-sign-ups .user-registration-right .rightright .ririririr {
            height: auto;
        }

        .web-white-filter.pdfexpoer-second.pdf-third-design {
            width: 100%;
            margin-top: 5px;
        }

        .retailercrection-first .left-sign-ups ul.tab-seconddesign li button {
            font-weight: normal;
            font-size: 11px;
        }

        div#refferalsetinpartial button {
            width: 100%;
            float: left;
        }

        #refferalsetinpartial {
            width: 50%;
            margin: 0;
        }

        #myModal123showdata1 {
            width: 100% !important;
            float: left;
        }

        .retalerrlist-add-button {
            width: 50%;
        }
    }
</style>

<section class="content tmw-retailer-creaction-charge special-iii fourdesign-section-admin" style="position:fix;">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>SignUp Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">SignUp Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            User&nbsp;Controller
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        SignUp Setting
                    </li>
                </ul>
            </div>

            <div class="res_div">

                @*<div class="web-white-filter pdfexpoer-second pdf-third-design" id="refferalsetinpartial" style="float: left;">

                    @Html.Action("_RefferalSettingpage")


                </div>*@

                <div class="retalerrlist-add-button" style="float: left;">
                    <button type="button" style="height: 29px; position: relative; background-color: #b1a6a638; width: 150px; border: 1px solid #ccc; margin: 0px 3px; " data-toggle="modal" id="myModal123showdata1" data-target="#myModalnew" onclick="travel_hideshow()">
                    <div class="butttuno_2" style=" background-color: orange;">
                        @all_cappingretailer
                    </div> 
                    <div>
                        <p class="prag-14">Self SignUp Retailers </p>
                        <br>
                        <p class="prag-16">Default Capping</p>
                    </div>
                    
                    </button>


                </div>

                <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: left;">
                    <input type="button" id="btnExport" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                    <input type="button" id="btnPDF" value="PDF" style="margin-left:3px;font-size: 11px;float: left; padding: 0px 4px;height:28px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

                </div>

            </div>

        </div>

        <div class="row clearfix tablefourdesign-admin">
            <div class="col-md-4 col-sm-12 col-xs-12 padd-right retailercrection-first">
                <div class="left-sign-ups left-sign-ups-second page-header-third">
                    <ul class="tab-seconddesign tab-seconddesignclass tab-third-design" style="background:#a4a0a0;display:flex;">
                        <li><button class="paid-serv fi-bu">Paid Services</button></li>
                        <li><button class="sign-up" onclick="dlmSignUpRight();">Sign Up Rights</button></li>
                        <li><button class="Token" onclick="AddToken();">Token's Price</button></li>
                        @*<li><button class="Reffaralclass" onclick="Rerffaralse();">Reffral Setting</button></li>*@
                    </ul>

                    <div class="body body-one" style="background:var(--second-bg-color);height: 75vh;">
                        <div class="user-registration-right" id="SignUpSetting">
                            @Html.Partial("_DlmSignUpRight")

                        </div>
                        <div class="body table-responsive special-iii" id="_SetSignUpCharge" style="border-top:6px solid #fff;">
                            @Html.Partial("_SetJoingChargeStatus")
                        </div>
                    </div>

                    <div class="body-two">
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="body-two">
                                    <div id="paidservicetbl" class="body table-responsive padding-topclass-third" style="background:#fff; height: 75vh;">
                                        @Html.Partial("_PaidService")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--.body-two-->

                    <div class="body-three special-iii" id="AddTokenVal">
                        @Html.Partial("_AddTokenValue")
                    </div><!--.body-three-->
                    @using (Ajax.BeginForm("Refferal_Setting", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "comments1234" }))
                    {
                        <div class="body-foure special-iii" id="" style="float: left; width: 100%; background: var(--second-bg-color); display: none; padding: 10px; height: 75vh;">
                            <div class="reffael-fullseting">

                                <div class="select-reffralcode">
                                    <p><strong>Set Refferal Code Limit</strong></p>
                                    <select class="form-control" id="limit123" name="limit123">
                                        <option>--Select Limit--</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    <span class="disablevalue" id="showvalueid" style="display:none;"></span>
                                    <div>
                                        <input type="hidden" id="status123" name="status123" />
                                    </div>
                                    <button type="button" onclick="togglereferrel('N');" class="reffralactivedeacrt" id="active-reffrasl" name="active-reffrasl" style="background: #d3d3d3; padding: 7px 0;"><span class="reffralactive" style="color:green;">Active</span></button>
                                    <button type="button" onclick="togglereferrel('Y');" class="reffralactivedeacrt" id="deactive-reffrasl" name="deactive-reffrasl" style="display:none;background: #d3d3d3; padding: 7px 0;"><span class="reffraldeactive" style="color:red;">Deactive</span></button>
                                </div>
                                <div class="classfullsavechange">
                                    <button type="submit" id="tnSave" class="btn waves-effect btnssl2233 ees btn-first button-third" style="overflow:hidden;display:none;" value="Save" data-loading-text="">
                                        <span class="loaderclick">Save Change</span>
                                        <i class='fa fa-spinner fa-spin loaderclickspiner' style="display:none;"></i>
                                    </button>
                                    <button type="submit" id="Editbutton" class="btn waves-effect btnssl2233 ees btn-first button-third" style="overflow:hidden;" value="Save" data-loading-text="">
                                        <span class="">Edit</span>
                                        @*<i class='fa fa-spinner fa-spin loaderclickspiner' style="display:none;"></i>*@
                                    </button>
                                </div>

                            </div>
                        </div><!--.body-four-->
                    }
                </div><!--.left-sign-ups-->
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="right-history right-history-second page-header-third">
                    <div class="right-hist-bottom">

                        <ul class="rrrr tab-seconddesign">
                            <li class="active">
                                <button class="rib1" onclick="dlm_ddlVal()">
                                    Distributor Buy Token's History
                                </button>
                                <button type="button" class="btn fullbodydycolorbg plushbtn-second" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus"></i>
                                    <span>Token's</span>
                                </button>
                            </li>
                            <li>
                                <button class="rib2" onclick="md_ddlVal()">
                                    M/D Buy Token's History
                                </button>
                                <button type="button" class="btn fullbodydycolorbg plushbtn-second" data-toggle="modal" data-target="#defaultModal2">
                                    <i class="fa fa-plus"></i>
                                    <span>Token's</span>
                                </button>
                            </li>
                            <li>
                                <button class="rib3" onclick="md_dlm_remainTkn()">Remain Token's</button>
                            </li>
                        </ul>

                    </div>
                    <div class="ri-hist-itemone">

                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive" style="height: 75vh; background: var(--second-bg-color);">

                                    <table id="DLM_BuyTokenHistory" class="table table-bordered example-second third-design-table" style="width:100%;">
                                        <thead>
                                            <tr id="dlmHeading">
                                                <th class="select-th">

                                                    <div class="btn-groupss">

                                                        <button type="button" class="btnsam dropdown-toggle" data-toggle="dropdown">
                                                            @Html.DropDownList("dlmId", ViewBag.ddlDealers as IEnumerable<SelectListItem>, "Select Distributor", new { @class = "selectpicker border-0", data_live_search = "true", @onchange = "dlm_ddlVal();" })
                                                            <i class="fa fa-chevron-down tmw-total-color-one fullbodydycolorbg" aria-hidden="true" style="float:right;"></i>
                                                        </button>
                                                    </div>

                                                </th>
                                                <th title="Purched User Tokens">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </th>
                                                <th title="Token Price"><span class="table-header-text-black">Price</span></th>
                                                <th title="Total Debit Amount">@*&nbsp;<i class="fa fa-inr" aria-hidden="true" style="float:left;margin-top:3px;"></i>&nbsp;*@Debit</th>
                                                <th>Post&nbsp;Bal</th>
                                                <th class="table-header-img">@*&nbsp;<i class="fa fa-tags" style="margin-right:3px;float:left;margin-top: 4px;"></i>*@<span class="table-header-text">Pre</span></th>
                                                <th class="table-header-img">
                                                    @*&nbsp;<i class="fa fa-tags" style="margin-right:3px;float:left;margin-top: 4px;"></i>*@<span class="table-header-text-green">Post</span>

                                                </th>
                                                <th>Purchased&nbsp;Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.RetailerCreationTokenVM != null)
                                            {
                                                foreach (var item in Model.RetailerCreationTokenVM)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.DealerPost)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.pre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.post)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CteatedOn)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div><!--.row-->
                    </div>
                    <div class="ri-hist-itemsecond">
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive" style="height: 75vh; background: var(--second-bg-color);">
                                    <table id="MD_BuyTokenHistory" class="table table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th class="tht">
                                                    @using (Html.BeginForm("RetailerCreationCharge", "Home", FormMethod.Post))
                                                    {
                                                        <div class="btn-groupss">

                                                            <button type="button" class="btnsam dropdown-toggle" data-toggle="dropdown">
                                                                @Html.DropDownList("masterId", ViewBag.ddlMaster as IEnumerable<SelectListItem>, "Select Master", new { @class = "selectpicker border-0", data_live_search = "true", @onchange = "md_ddlVal();" })
                                                                <i class="fa fa-chevron-down tmw-total-color-one fullbodydycolorbg" aria-hidden="true" style="float:right;"></i>
                                                            </button>

                                                        </div>
                                                    }
                                                </th>
                                                <th title="Purched User Tokens">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </th>
                                                <th title="Token Price"><span class="table-header-text-black">Price</span></th>
                                                <th title="Total Debit Amount">@*&nbsp;<i class="fa fa-inr" aria-hidden="true" style="float:left;margin-top:3px;"></i>&nbsp;*@Debit</th>
                                                <th>Post&nbsp;Bal</th>
                                                <th>
                                                    @*&nbsp;<i class="fa fa-tags" style="margin-right:3px;float:left;margin-top: 4px;"></i>&nbsp;Pre*@
                                                    <span class="table-header-text">Pre</span>
                                                </th>
                                                <th>
                                                    @*&nbsp;<i class="fa fa-tags" style="margin-right:3px;float:left;margin-top: 4px;"></i>&nbsp;Post*@
                                                    <span class="table-header-text-green">Post</span>
                                                </th>
                                                <th>Purchased&nbsp;Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DealerCreationTokenVM != null)
                                            {
                                                foreach (var item in Model.DealerCreationTokenVM)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.MasterPost)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.pre)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.post)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CteatedOn)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ri-hist-itemThree" style="height:75vh;">
                        <div class="row" id="Md_dlm_RemainToken">
                            @Html.Partial("_Md_dlm_RemainToken")
                        </div>

                    </div>

                </div>
            </div>
        </div><!--.row-->

    </div>
</section>

@* Add Tokens Model *@
<div class="modal fade tmw-joing-tokens custom-token-popup" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog model-height" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Sign Up Token (Distributor)
                </h4>
            </div>
            <div class="modal-body">
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12 sm-popup">
                                        <label for="email_address_2">Select Distributr &</label>
                                        <label for="email_address_2">
                                            Enter Token <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </label>
                                        <div class="form-group">

                                            @Html.DropDownList("ddlDealer", ViewBag.ddlDealers as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })


                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 enter-token">
                                        <input type="hidden" name="tokenCount" id="tokenCount" value="1" />
                                        <div class="form-group">
                                            <ul class="jo-to-po-ul">
                                                <li>
                                                    <button type="button" id="btnChildMinus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus(-1)" disabled="disabled">
                                                        <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                                <li><span id="showPhysicalCount">1</span></li>
                                                <li>
                                                    <button type="button" id="btnChildPlus" class="btn  waves-effect btmPlusMinus" onclick="onPluseMinus(1)">
                                                        <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="modal-footer">
                                            <label id="Lblmsg"></label>
                                            <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                <span>Close</span>
                                            </button>
                                            <button type="button" id="DlmbtnSubmit" class="btn waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <span>Verify & Sale Token</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@* =========================== *@
<div class="modal fade tmw-joing-tokens custom-token-popup" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog model-height" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Sign Up Token (Master Distributor)
                </h4>
            </div>

            <div class="modal-body">
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <label for="email_address_2">Select Master &</label>
                                        <label for="email_address_2">
                                            Enter Token <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </label>
                                        <div class="form-group">
                                            @Html.DropDownList("ddlMaster", ViewBag.ddlMaster as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12 enter-token">
                                        <input type="hidden" name="tokenCount2" id="tokenCount2" value="1" />
                                        <div class="form-group">
                                            <ul class="jo-to-po-ul">
                                                <li>
                                                    <button type="button" id="btnChildMinus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(-1)" disabled="disabled">
                                                        <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                                <li><span id="showPhysicalCount2">1</span></li>
                                                <li>
                                                    <button type="button" id="btnChildPlus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(1)">
                                                        <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="modal-footer">
                                            <label id="Lblmsg2"></label>
                                            <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                <span>Close</span>
                                            </button>
                                            <button type="button" id="MdbtnSubmit" class="btn waves-effect btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <span>Verify & Sale Token</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- model default capping-->
<div id="myModalnew" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;width:24%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #bbb; padding: 0px 9px 8px 10px !important;">

                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="background: none;">
                    <p style="float: left; font-size: 20px; font-weight: 800;">Reset/Change Retailer Capping<span style="float: right; color: var(--main-bg-lcolor); font-size: 30px; margin: 0; position: absolute;right: 19px;">x</span></p>

                </button>
            </div>
            <div class="retailerlist-select" style="padding:20px;">
                @using (Ajax.BeginForm("Add_RetailerCapping", new AjaxOptions { HttpMethod = "Post", OnSuccess = "RetailerMobSearch", LoadingElementId = "div-loader" }))
                {
                    <div class="input-group classborder-thirddesign">
                        <div class="ffjkt">
                            <input name="Capping" type="text" maxlength="4" required placeholder="Default Capping Retailer" class="form-control" style="height: 27px !important; width: 242px; margin-left: 8px; padding: 12px; background: #f5f5f5; border: 1px solid #ccc; font-size: 12px; " onkeypress="return isNumber(event)" />
                            <div class="retailerlist-search" style="float: left; padding-left: 5px;">
                                <button type="submit" id="retailercapping" class="btn llpo input-back-second" title=@all_cappingretailer style="border: 1px solid #b1a6a638; background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important; color: white; height: 29px; font-size: 14px; padding: 2px 10px; ">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    function refferalsetup(numberee,statuss) {
         $.ajax({
            url: '@Url.Action("Refferal_Setting", "Home")',
             type: 'POST',
             data: { status123: statuss, limit123: numberee},
            cache: false,
            success: function (dlmresponse) {

                $('#refferalsetinpartial').html(dlmresponse);
            }
        });
    }
</script>

<script>
    $('#retailercapping').click(function () {
        location.reload();
    });
</script>

<script>
    $(document).ready(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
            $('tr.act').show();
            $('tr.top-tr').hide();
        });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
@*<script>
        $(document).ready(function () {
            $('.tmw-retailer-creaction-charge button#Change_Default').click(function () {
                $(".tmw-retailer-creaction-charge .left-sign-ups .user-registration-right .lefts").hide();
                $(".tmw-retailer-creaction-charge .left-sign-ups .user-registration-right .rights").show();

            });
        });
    </script>*@
<script>
    $(document).ready(function () {
        $(".tmw-retailer-creaction-charge button.paid-serv").click(function () {
            $('.tmw-retailer-creaction-charge .body-one,.tmw-retailer-creaction-charge .body-three').hide();
            $('.tmw-retailer-creaction-charge .body-two').show();
            $('.tmw-retailer-creaction-charge .body-foure').hide();
            $('.tmw-retailer-creaction-charge button.sign-up,.tmw-retailer-creaction-charge button.Token').removeClass('fi-bu');
            $(this).addClass('fi-bu');
            $('.tmw-retailer-creaction-charge button.Reffaralclass').removeClass("fi-bu");
        });
        $(".tmw-retailer-creaction-charge button.sign-up").click(function () {
            $('.tmw-retailer-creaction-charge .body-one').show();
            $('.tmw-retailer-creaction-charge .body-foure').hide();
            $('.tmw-retailer-creaction-charge .body-two,.tmw-retailer-creaction-charge .body-three').hide();
            $('.tmw-retailer-creaction-charge button.paid-serv,.tmw-retailer-creaction-charge button.Token').removeClass("fi-bu");
            $(this).addClass('fi-bu');
            $('.tmw-retailer-creaction-charge button.Reffaralclass').removeClass("fi-bu");

        });
        $(".tmw-retailer-creaction-charge button.Token").click(function () {
            $('.tmw-retailer-creaction-charge .body-three').show();
            $('.tmw-retailer-creaction-charge .body-foure').hide();
            $('.tmw-retailer-creaction-charge .body-one').hide();
            $('.tmw-retailer-creaction-charge .body-two').hide();
            $('.tmw-retailer-creaction-charge button.paid-serv,.tmw-retailer-creaction-charge button.sign-up').removeClass("fi-bu");
            $(this).addClass('fi-bu');
            $('.tmw-retailer-creaction-charge button.Reffaralclass').removeClass("fi-bu");

        });

        $(".tmw-retailer-creaction-charge button.Reffaralclass").click(function () {
            $('.tmw-retailer-creaction-charge .body-foure').show();
            $('.tmw-retailer-creaction-charge .body-three').hide();

            $('.tmw-retailer-creaction-charge .body-two').hide();
            $('.tmw-retailer-creaction-charge .body-two').hide();
            $('.tmw-retailer-creaction-charge button.paid-serv,.tmw-retailer-creaction-charge button.sign-up').removeClass("fi-bu");
            $('.tmw-retailer-creaction-charge button.Token').removeClass("fi-bu");
            $(this).addClass('fi-bu');

        });
    });
</script>
@* Right Side Toggle *@
<script>
    $(document).ready(function () {
        $(".tmw-retailer-creaction-charge .right-history button.rib2").click(function () {
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemone,.tmw-retailer-creaction-charge .right-history .ri-hist-itemThree").hide();
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemsecond").show();
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:nth-child(2)").addClass("active");
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:first-child,.tmw-retailer-creaction-charge .right-history ul.rrrr li:last-child").removeClass("active");
        });

        $(".tmw-retailer-creaction-charge .right-history button.rib3").click(function () {
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemThree").show();
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemsecond,.tmw-retailer-creaction-charge .right-history .ri-hist-itemone").hide();
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:last-child").addClass("active");
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:nth-child(2),.tmw-retailer-creaction-charge .right-history ul.rrrr li:first-child").removeClass("active");
        });

        $(".tmw-retailer-creaction-charge .right-history button.rib1").click(function () {
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemone").show();
            $(".tmw-retailer-creaction-charge .right-history .ri-hist-itemsecond,.tmw-retailer-creaction-charge .right-history .ri-hist-itemThree").hide();
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:first-child").addClass("active");
            $(".tmw-retailer-creaction-charge .right-history ul.rrrr li:nth-child(2),.tmw-retailer-creaction-charge .right-history ul.rrrr li:last-child").removeClass("active");
        });

    });
</script>

<script>
    $(document).ready(function () {
        $(".dropdown-menu li a").click(function () {
            $(".btnsam").html($(this).text());

        });

    });
</script>
@*==--------------    Paid Service Script   ------------=== *@

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    window.onload = function () {
        answers();
        $('#date').bootstrapMaterialDatePicker
             ({
                 clearButton: false
             });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0, format: 'DD/MM/YYYY'
        }).on('change', function (e, date) {
            $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
        });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
   "Apr", "May", "Jun", "Jul", "Aug", "Sep",
   "Oct", "Nov", "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }
        answers();
    }
</script>
<script>
    $(document).ready(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
        var succ = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (succ != null && succ != "") {
           // swal("Good job!", succ, "success");
        }
        if (error != null && error != "") {
            //swal("Oops!", error, "error");
            $('#defaultModal').getElementById('#msg').value = "error";
                $('#defaultModal').delay(5000).modal('hide');
        }
        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        fundreciveonload(from, to);

    });
    function OnSuccess(data) {
        //alert("Success");
        var respose = JSON.parse(data);
        console.log(data);
        if (respose.status == "Success") {
            swal("Good job!", respose.Message, "success");

        } else if (respose.status == "Failed") {
            swal("Oops!", respose.Message, "error");
        }
        setTimeout(function () {
            location.reload();
        }, 2000);
    }
    function OnFailed() {
        swal("Oops!", "Failed to update.", "error");


    }
</script>


@*======================     Joing Tokens Script     ============================= *@
<script>
    function onPluseMinus(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount').val());
        if (v >= 0) {
            $('#tokenCount').val(digiCount + v);
            $('#showPhysicalCount').html(digiCount + v);
        } else {
            $('#tokenCount').val(digiCount - 1);
            $('#showPhysicalCount').html(digiCount - 1);
        }
        if (parseInt($('#tokenCount').val()) >= 1) {
            $('#btnChildMinus').prop('disabled', false);
        }
        if (parseInt($('#tokenCount').val()) == 0) {
            $('#btnChildMinus').prop('disabled', true);
        }
    }
</script>

<script>
    function onPluseMinuss(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount2').val());
        if (v >= 0) {
            $('#tokenCount2').val(digiCount + v);
            $('#showPhysicalCount2').html(digiCount + v);
        } else {
            $('#tokenCount2').val(digiCount - 1);
            $('#showPhysicalCount2').html(digiCount - 1);
        }
        if (parseInt($('#tokenCount2').val()) >= 1) {
            $('#btnChildMinus2').prop('disabled', false);
        }
        if (parseInt($('#tokenCount2').val()) == 0) {
            $('#btnChildMinus2').prop('disabled', true);
        }
    }
</script>
<!--==============-->
<script>
        function converttoDate(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2),
                Hrs = (date.getHours()),
                mnts = (date.getMinutes()),
                sec = (date.getSeconds());
            return dd= [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts +":"+sec];
        }
    //***************************************** DLM_BuyTokenHistory
    function dlm_ddlVal() {
        $.ajax({
            url: '@Url.Action("DLM_BuyTokenHistory","Home")',
            type: 'POST',
            data: { dealerId: $("#dlmId").val() },
            cache: false,
            success: function (dlmresponse) {
                var dlmtblHtml = "";
                var i = 0;
                $.each(dlmresponse, function (a, b) {
                    dlmtblHtml += "<tr><td>" + b.Email + "</td>";
                    dlmtblHtml += "<td>" + b.Tokens + "</td>";
                    dlmtblHtml += "<td>" + b.PerTokenValue + "</td>";
                    dlmtblHtml += "<td>" + b.TotalDebit + "</td>";
                    dlmtblHtml += "<td>" + b.DealerPost + "</td>";
                    dlmtblHtml += "<td>" + b.pre + "</td>";
                    dlmtblHtml += "<td>" + b.post + "</td>";
                    dlmtblHtml += "<td>" + converttoDate(eval(("new " + b.CteatedOn).replace(/\//g, ""))) + "</td></tr>";
                    i++;
                });
                $('#DLM_BuyTokenHistory > tbody').html(dlmtblHtml);
            }
        });
    }
    //***************************************** MD_BuyTokenHistory
    function md_ddlVal() {
        $.ajax({
            url: '@Url.Action("MD_BuyTokenHistory","Home")',
            type: 'POST',
            data: { masterId: $("#masterId").val() },
            cache: false,
            success: function (mdresponse) {
                var mdtblHtml = "";
                var i = 0;
                $.each(mdresponse, function (a, b) {
                    mdtblHtml += "<tr><td>" + b.Email + "</td>";
                    /*mdtblHtml += "<td>" Url Actionb.TokenUrl ★★ Action ActionActiontion + "</td>";*/
                    mdtblHtml += "<td>" + b.Tokens + "</td>";
                    mdtblHtml += "<td>" + b.PerTokenValue + "</td>";
                    mdtblHtml += "<td>" + b.TotalDebit + "</td>";
                    mdtblHtml += "<td>" + b.MasterPost + "</td>";
                    mdtblHtml += "<td>" + b.pre + "</td>";
                    mdtblHtml += "<td>" + b.post + "</td>";
                    mdtblHtml += "<td>" + converttoDate(eval(("new " + mdresponse[i].CteatedOn).replace(/\//g, ""))) + "</td></tr>";
                    i++;
                });
                $('#MD_BuyTokenHistory > tbody').html(mdtblHtml);
            }
        });
    }
    //***************************************** Both Md_dlm_RemainToken

    function md_dlm_remainTkn() {
    $.ajax({
            url: '@Url.Action("_Md_dlm_RemainToken","Home")',
            type: 'GET',
            cache: false,
        success: function (response) {
                $('#Md_dlm_RemainToken').html(response);
                }
        })
    }

    $('#DlmbtnSubmit').click(function () {

        $.ajax({
            url: '@Url.Action("addJoiningToken","Home")',
            type: 'POST',
            data: { ddlDealer: $("#ddlDealer").val(), tokenCount: $("#tokenCount").val() },
            cache: false,
            success: function (response) {
                if (response == "Insufficient balance." || response == "Set the Dealer token Value." || response == "Token Can Not Be Negative") {
                    $("#Lblmsg").css("color", 'red').text(response);
                    //$("#defaultModal").delay(1500).hide(0, function () {
                    //    $("#Lblmsg").text('');
                    //    $("#defaultModal").modal('hide');
                    //});
                }
                else {
                    $("#Lblmsg").css("color", 'green').text("Credited Successfully.");
                    $("#defaultModal").delay(1000).hide(0, function () {
                        $("#Lblmsg").text('');
                        $("#defaultModal").modal('hide');
                    });
                }

                var dlmtblHtml = "";
                $.each(response, function (a, b) {
                    var i = 0;
                    dlmtblHtml += "<tr><td>" + b.Email + "</td>";
                    dlmtblHtml += "<td>" + b.Tokens + "</td>";
                    dlmtblHtml += "<td>" + b.PerTokenValue + "</td>";
                    dlmtblHtml += "<td>" + b.TotalDebit + "</td>";
                    dlmtblHtml += "<td>" + b.DealerPost + "</td>";
                    dlmtblHtml += "<td>" + b.pre + "</td>";
                    dlmtblHtml += "<td>" + b.post + "</td>";
                    dlmtblHtml += "<td>" + converttoDate(eval(("new " + b.CteatedOn).replace(/\//g, ""))) + "</td></tr>";
                    i++;
                });
                $("#DLM_BuyTokenHistory > tbody").html(dlmtblHtml);
            }
        });



    })



    $('#MdbtnSubmit').click(function () {

        $.ajax({
            url: '@Url.Action("addJoiningTokenMaster","Home")',
            type: 'POST',
            data: { ddlMaster: $("#ddlMaster").val(), tokenCount: $("#tokenCount2").val() },
            cache: false,
            success: function (response) {
                if (response == "Insufficient balance." || response == "Set the Dealer token Value." || response =="Token Can Not Be Negative") {
                    $("#Lblmsg2").css("color", 'red').text(response);
                    //$("#defaultModal2").delay(1500).hide(0, function () {
                    //    $("#Lblmsg2").text('');
                    //    $("#defaultModal2").modal('hide');
                    //});
                }
                else {
                    $("#Lblmsg2").css("color", 'green').text("Credited Successfully.");
                    $("#defaultModal2").delay(1000).hide(0, function () {
                        $("#Lblmsg2").text('');
                        $("#defaultModal2").modal('hide');
                    });
                }

                var i = 0;
                var mdtblHtml = "";
                $.each(response, function (a, b) {
                    mdtblHtml += "<tr><td>" + b.Email + "</td>";
                    mdtblHtml += "<td>" + b.Tokens + "</td>";
                    mdtblHtml += "<td>" + b.PerTokenValue + "</td>";
                    mdtblHtml += "<td>" + b.TotalDebit + "</td>";
                    mdtblHtml += "<td>" + b.MasterPost + "</td>";
                    mdtblHtml += "<td>" + b.pre + "</td>";
                    mdtblHtml += "<td>" + b.post + "</td>";
                    mdtblHtml += "<td>" + converttoDate(eval(("new " + b.CteatedOn).replace(/\//g, ""))) + "</td></tr>";
                    i++;
                });
                $('#MD_BuyTokenHistory > tbody').html(mdtblHtml);
            }
        });



    })
</script>

<script>
    function dlmSignUpRight() {
        $.ajax({
            url: '@Url.Action("_DlmSignUpRight","Home")',
            type: 'GET',
            cache: false,
            success: function (response) {
                $("#SignUpSetting").html(response);
                $('#Change_Default1').show();
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $(".sweet-alert").addClass("fullbodydycolorbg");
    });
</script>
<script>
    function Editmode(id) {

          $.ajax({
            url: '@Url.Action("PaidServicesChargeByID","Home")',
              data: {id:id},

              success: function (data) {
                  $('#paidservicetbl').html(data);
            }
        });
    }

</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

<script>


    $("#deactive-reffrasl").click(function () {
        $('#status123').val("Y")
        $("#active-reffrasl").show();
        $(this).hide();
    });
    $("#active-reffrasl").click(function () {
        $('#status123').val("N")
        $("#deactive-reffrasl").show();
        $(this).hide();
    });

    $("#limit123").change(function () {
        var selectvalue = $(this).find(":selected").val();
        $("#showvalueid").html(selectvalue);
    });

    $("#tnSave").click(function () {
        $("#tnSave").hide();
        $("#Editbutton").show();
        $(".loaderclick").hide();
        $(".loaderclickspiner").show();
        setTimeout(function () { $(".loaderclick").show(); }, 3000);
        setTimeout(function () { $(".loaderclickspiner").hide(); }, 3000);

        $("#limit123").hide();
        $("#showvalueid").show();

    });
    $("#Editbutton").click(function () {
        $("#tnSave").show();
        $("#Editbutton").hide();
        $("#limit123").show();
        $("#showvalueid").hide();


    });
    function togglereferrel(status) {
        $.ajax({
            url: '@Url.Action("Refferal_Status", "Home")',
            method: 'GET',
            data: {status123: status },
            success: function ({ data }) {
                $('#status123').val(data.status)
          }
        });
    }

    function Rerffaralse() {
        $('.body.body-one').hide()
        $.ajax({
            url: '@Url.Action("ReferrelLimit", "Home")',
            method: 'GET',
            success: function ({ data }) {
                if (!data) {
                    data = { status: 'Y', limit : '3'};
                }
                if (!data?.status) data.status = 'Y';
                if (!data?.limit) data.limit = '3';

                $('#limit123').val(data.limit)

                if (data.status == "Y") {
                    $('#status123').val(data.status)
                    $('#active-reffrasl').show()
                    $('#deactive-reffrasl').hide();
                    $('#showvalueid').show();
                    $('#limit123').hide();
                    $('#showvalueid').html(data.limit);
                }
                else {
                    $('#status123').val(data.status)
                    $('#active-reffrasl').hide()
                    $('#deactive-reffrasl').show();
                    $('#showvalueid').show();
                    $('#limit123').hide();
                    $('#showvalueid').html(data.limit);
                }

            }
        })
    }

</script>
<script>
        function Edit() {
        var mn = '@ViewBag.unload1';
        $('#First').hide();
        $('#Second').show();
    }

     $('#SaveChargeREM').click(function () {

       $('#lblmsg').text('')
        $.ajax({
            url: '@Url.Action("Utilitycomm_Time", "Home")',
            type: 'POST',
            data: { commper: $("#RemMinAmt").val()},
            success: function (response) {
                console.log(response);
                $('#dataresp123').html(response);
                $('#First').show();
                $('#Second').hide();
            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });
    })
</script>