
@{
    ViewBag.Title = "Prepaid_Slab_setting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) {
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-gs56nt525f div {
            box-sizing: content-box;
        }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 38px !important;
        background-color: #f5f5f5 !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px !important;
        }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }

    .utilitiescommission {
        float: right;
    }

    .predthrange {
        float: right;
    }

    a.bg-blue-grey.btn.waves-effect.predthrange {
        width: 152px;
        border: 1.3px solid #ccc;
        background: #efefefef !important;
        color: #555555 !important;
        border-bottom: 1.3px solid #ccc !important;
        float: revert;
    }

    #Comm {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Mdbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Dlmbtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Rembtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Apibtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    #Whitebtn {
        width: auto;
        padding: 2px 5px !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    .table-respo11 {
        margin: auto;
        height: auto;
        display: flow-root;
        margin-bottom: 11px;
        background: rgb(255 255 255 / 95%);
        padding: 5px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 4px;
    }

    .btn.bg-blue-grey.waves-effect.fullbodydycolorbg {
        color: #fff !important;
    }

    .all-slab-header .bg-blue-grey {
        color: #8f9393 !important;
        border-bottom: 1px solid #bfbebe !important;
    }

    [type="checkbox"].filled-in:not(:checked) + label:after {
        height: 13px;
        width: 14px;
        background-color: transparent;
        border: 2px solid #5a5a5a;
        top: 8px;
        z-index: 0;
        left: 11px;
    }

    .third {
        border-bottom: 1px solid #ddd;
    }

    [type="checkbox"] + label {
        padding-left: 32px;
        height: 23px;
        line-height: 28px;
        font-size: 13px;
        font-weight: normal;
    }

    [type="checkbox"].filled-in:checked + label:after {
        top: 8px;
        width: 14px;
        height: 13px;
        border: 2px solid #26a69a;
        background-color: #26a69a;
        z-index: 0;
        left: 11px;
    }

    [type="checkbox"].filled-in:checked + label:before {
        top: 7px;
        left: 13px;
        width: 5px;
        height: 10px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1080px) {

        .slab-first-tab h2 {
            font-size: 18px;
        }

        .nav > li > a {
            padding: 10px 5px;
        }

        div#custnav ul li a {
            font-size: 12px;
        }

        .slab-first-tab .nav-tabs li a::before {
            width: 8px !important;
            height: 8px !important;
            right: 9px !important;
        }

        .slab-first-tab ul li {
            margin-top: 11px;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            font-size: 10px !important;
        }
    }

    @@media only screen and (max-width:1024px) {
        #sidebar-open {
            top: 29px;
            left: -146px;
        }
    }


    @@media only screen and (max-width:992px) {
        .p_range {
            margin-top: 9px;
        }
    }

    @@media only screen and (max-width:991px) {

        .slab-first-tab {
            float: left;
        }

        .slab-first-tab {
            width: 15% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 84% !important;
        }
    }


    @@media only screen and (max-width:767px) {

        #sidebar-open {
            top: 0px;
            left: -3px;
        }

        .all-slab-header button#btnEdit {
            margin-top: 1px;
        }
    }

    @@media only screen and (max-width:600px) {
        .slab-first-tab {
            width: 25% !important;
        }

        .col-md-10.slab-first-tab-content {
            width: 73% !important;
        }

        #Comm, #Rembtn, #Mdbtn, #Dlmbtn, #Apibtn, #Whitebtn {
            margin-bottom: 7px;
        }
    }


    @@media only screen and (max-width:425px) {
        .slab-first-tab {
            width: 100% !important;
        }

            .slab-first-tab .nav-tabs li a::before {
                top: 3px;
            }

        .col-md-10.slab-first-tab-content {
            width: 100% !important;
        }
    }

    span.range_one_1 {
        font-size: 9px !important;
        border: 1px solid;
        padding: 0px 3px;
        color: #fff !important;
        background: #000;
    }

    #updatecolm p {
        font-size: 9px;
        text-transform: uppercase;
    }

    .pddi {
        padding: 4px !important;
        text-align: center;
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .popup-content {
        background-color: white;
        width: 300px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
<section class="content fourdesign-section-admin">
    <div id="loadermoney" class="loadermoney" style="display:none;"></div>
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Commission</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Commission</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        @*<div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:2px;">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_ApislabSetting")
                        </div>
                    </div>

                    </div>
                </div>
            </div>*@
        <div class="row clearfix">
            <div class="col-md-12">
                @Html.Partial("_Slab_Menu")
                <div class="col-md-10 slab-first-tab-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header" style="width:auto;">
                                    <div class="row">
                                        <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third" style="float:left;">
                                            @using (Html.BeginForm("Retailer_Aeps_Aadharpay_slab", "Home", FormMethod.Post))
                                            {
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        @Html.DropDownList("DealerId", ViewBag.DealerId as SelectList, "Select dealer", new { @class = "form-control country-dropdown", onchange = "SelectDealer(this)" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        @Html.DropDownList("RetailerId", Enumerable.Empty<SelectListItem>(), "Select retailer", new { @class = "form-control country-dropdown" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <input type="submit" name="name" value="Search" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="all-slab-header all-slab-header-second slab-btn-second allbuttonclicknon page-header-third p_range" style="float:right;">
                                            <button id="EditSlab" onclick="togglePopup()" class="fullbodydycolorbg for-button-upi back-button-third" style=" margin-right: 2px;color: #fff; padding: 7px 6px !important;width:auto; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "><i style=' padding-right: 6px; font-size: 14px;' class='fas'>&#xf543;</i>Edit All Selected User</button>
                                            <button id="EditSlab" type="button" class="btn  waves-effect btn-first" style="margin-left: 2px; width: auto; display: inline-block; padding: 4px !important;" onclick="EditSlab()"> <img src="~/AdminDesign/images/edit.svg" style="width:13px;" />&nbsp;<span style="color: #3c3c3c; top: 1px !important; margin-left: 0px !important;">Edit Slab</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive tablefourdesign-admin table-respo11" style="margin-top: 10px;">
                                    <div id="divEditFormComm" class="slab-edit-table table-responsive" style="position:inherit;">

                                        <input id="SaveSlab" type="submit" value="Save Slab" class="btn  waves-effect" style="display: none !important;  border: 2px solid var(--main-bg-rcolor); background: var(--main-bg-lcolor) !important;color:white; margin:10px; float:right;" />

                                        <div class="slab-table">
                                            <table class="table table-bordered example-second third-design-table" style="">
                                                <thead class="navbar" style="position:initial;">
                                                    <tr>
                                                        <th style="text-align:center">Retailer Name</th>
                                                        <th style="text-align:center">Mobile no</th>
                                                        <th style="text-align:center">AepsCharge</th>
                                                        <th style="text-align:center">AadharpayCharge</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @using (Ajax.BeginForm("UpdateCharges", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { id = "chargesForm" }))
                                                    {
                                                        foreach (var item in ViewBag.apescharges)
                                                        {
                                                            <tr>
                                                                <td>@item.Retailer_name</td>
                                                                <td>@item.retailer_mobile</td>
                                                                <td class="setcharge">@item.AepsCharge</td>
                                                                <td class="setcharge">@item.AadharpayCharge</td>
                                                                <td>
                                                                    <div class="chargehide" style="white-space: nowrap; display: none;">
                                                                        <input type="hidden" name="DealerId" value="@item.DealerId" />
                                                                        <input type="hidden" name="RetailerId" value="@item.RetailerId" />
                                                                        <input step="any" style="width: 80px;" type="number" name="AepsCharge" value="@item.AepsCharge" />
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="chargehide" style="white-space: nowrap; display: none;">
                                                                        <input step="any" style="width: 80px;" type="number" name="AadharpayCharge" value="@item.AadharpayCharge" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                            </table>

                                            <div id="popup" class="popup" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
                                                <div class="popup-content" style="background-color: white; width: 300px; padding: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ccc; border-radius: 5px;">
                                                    <span class="close" onclick="togglePopup()" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">&times;</span>
                                                    <label for="updateAeps" style="display: block; margin-bottom: 10px;">Aeps Charge:</label>
                                                    <input id="updateAeps" type="number" name="aeps" value="0.80" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                                                    <label for="updateAadharpay" style="display: block; margin-bottom: 10px;">Aadharpay Charge:</label>
                                                    <input id="updateAadharpay" type="number" name="aadharpay" value="0.80" style="width: 100%; padding: 5px; margin-bottom: 10px;">
                                                    <button onclick="UpdateAll()" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; cursor: pointer; border-radius: 5px;">Save</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="div_Loader" style="display:none;">
    <div class="loadingio-spinner-gear-94vo528ab8">
        <div class="ldio-gs56nt525f">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<script>
    function togglePopup() {
        var popup = document.getElementById("popup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }
    function SelectDealer(dealer) {
    var selectedValue = dealer.value;
    $.ajax({
        type: "GET",
        url: '@Url.Action("GetRetailer", "Home")',
        data: { dealerId: selectedValue },
        success: function (data) {
            var selectElement = $('#RetailerId');
            for (var i = 0; i < data.retailer.length; i++) {
                var retailer = data.retailer[i];
                selectElement.append(`<option value="${retailer.Value}">${retailer.Text}</option>`);
            }
        },
        error: function (error) {
            console.log('Error:', error);
        }
    });
    }
    function EditSlab() {
        document.getElementById('EditSlab').style.display = 'none';
        document.getElementById('SaveSlab').style.display = 'block';
        var setchargeElements = document.querySelectorAll('.setcharge');
        for (var i = 0; i < setchargeElements.length; i++) {
            setchargeElements[i].style.display = 'none';
        }
        var chargehideElements = document.querySelectorAll('.chargehide');
        for (var j = 0; j < chargehideElements.length; j++) {
            chargehideElements[j].style.display = 'block'; // Or 'inline' or any other display property you prefer
        }
    }
    $(document).ready(function () {
        $("#SaveSlab").click(function () {
            // Submit the form
            $("#chargesForm").submit();
        });
    });
    function UpdateAll() {
        var dealer = document.getElementById("DealerId").value;
        var retailer = document.getElementById("RetailerId").value;
        if (retailer == '') {
            retailer = null;
        }
        var value = document.getElementById("updateAeps").value;
        var value1 = document.getElementById("updateAadharpay").value;
       $.ajax({
           type: "GET",
           url: '@Url.Action("UpdateAllEntery", "Home")',
           data: { dealer: dealer, retailer: retailer, aeps: value, aadhar: value1 },
           success: function (data) {
               $.ajax({
                   type: "POST",
                   url: '@Url.Action("Retailer_Aeps_Aadharpay_slab", "Home")',
                   data: { DealerId: data.dealerid, RetailerId: null },
                   success: function (data) {
                       window.location.reload();
                   }
                   })
           }
       });
    }

</script>
