@model IEnumerable<Vastwebmulti.Models.retailer_Ekycreport_Result>
@{
    ViewBag.Title = "Retailerekycreport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
     
    .table-bordered tbody tr td, .table-bordered tbody tr th {
        padding: 10px;
    }

    .form-iconmy {
        position: absolute;
        z-index: 9;
        top: 0px;
        bottom: 0px;
        padding: 6px 5px;
        border-right: 1px solid #bbb;
        height: 32px;
    }

    #custnav ul li a {
        font-size: 13px;
    }

    .newfourdesign-admin .col-md-5 {
        padding-right: 0;
    }
    u
    .newfourdesign-admin .col-md-4.spanpdfback-third.actulpdf-third {
        padding-right: 0;
    }

    .ner i, .ner2 i {
        left: 5px !important;
    }
    .table-responsive.tableseconddes-admin table tbody tr:first-child td, .table-responsive.tableseconddes-admin table tbody tr:first-child  {
        border-top:0px;
    }
    .ekyc-tabledata table thead tr th {
        white-space: nowrap;
        color: #333;
        font-size: 14px;
    }

    @@media screen and (max-width:1366px) {
        .actul-none-third {
            display: none;
        }

        .actul-search-third {
            width: 23%;
        }

        .actulpdf-third {
            width: 35%;
            padding-right: 5px;
        }

        .newfourdesign-admin .col-md-8.up-up-up.up-third-design.active-nav-third {
            padding-right: 0;
        }

            .newfourdesign-admin .col-md-8.up-up-up.up-third-design.active-nav-third #custnav ul li a {
                font-size: 13px;
            }

        .responcive-fifty.date-actul-third input, .responcive-fifty.date-actul-third button {
            font-size: 13px;
        }

        .newfourdesign-admin #custnav ul li a {
            font-size: 12px;
        }

        .newfourdesign-admin .responcive-fifty.date-actul-third input, .newfourdesign-admin .responcive-fifty.date-actul-third button {
            font-size: 12px;
        }
    }

    @@media only screen and (max-width:767px) {
        .up-up-up #custnav li {
            width: 33%;
            margin-bottom: 10px;
        }

        .responcive-fifty {
            width: 50%;
            float: left;
            margin-bottom: 10px;
            padding: 0 2px !important;
        }

            .responcive-fifty button {
                width: 100%;
                text-align: left;
            }

            .responcive-fifty div {
                padding-bottom: 0px !important;
            }

        .actul-search-third {
            width: auto;
        }

        .actulpdf-third {
            width: auto;
            float: right;
        }

        #custnav ul li:nth-child(3n) {
            margin-right: 0 !important;
        }
    }

    @@media only screen and (max-width:520px) {
        .admin-day-book .col-md-5 {
            width: 38%;
            padding-left: 15px !important;
            float: left;
        }

            .admin-day-book .col-md-5 input {
                padding-left: 15px;
            }

        .admin-day-book .col-md-2 {
            width: 25%;
            float: left;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-left: 1px solid var(--border-color);
        }

        .responcive-fifty.date-actul-third {
            width: 100%;
            float: left;
        }

            .responcive-fifty.date-actul-third .nrr3 {
                width: 98%;
            }

        .newfourdesign-admin .onlymargin-third .col-md-12 {
            padding-right: 0;
        }

        .newfourdesign-admin #custnav #ul li {
            width: 49%;
        }

        #custnav ul li:nth-child(2n) {
            margin-right: 0 !important;
        }
    }
     





    .breadcrumb-arrows
    li {
        display: inline-block;
        line-height: 30px;
        position: relative;
        margin-right: 13px;
    }
    .breadcrumb-arrows:after {
        content: " "; height: 0; width: 0 ;position: absolute; right: -2px; border-style: solid; border-width: 15px 15px 15px 0px;border-color: transparent #fff transparent transparent ;z-index: 0;
    }

    .breadcrumb-arrows:first-child:after {
        border-color: transparent;
    }
    .breadcrumb-arrows a:before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        left: -15px;
        border-style: solid;
        border-width: 15px 15px 15px 0px;
        border-color: transparent #dca167 !important;
        transparent transparent;
        z-index: 10;
    }
    .breadcrumb-arrows a:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: 0px;
        border-style: solid;
        border-width: 15px 15px 15px 0px;
        border-color: transparent #fff transparent transparent;
        z-index: 10;
    }

    .breadcrumb-arrows .active a {
        background: #dca167;
        z-index: 100;
        padding-right: 35px !important;
    }
        .breadcrumb-arrows .active a:before {
            border-right-color: var(--main-bg-lcolor) !important;
        }
    .breadcrumb-arrows a {
        display: block;
        background: var(--main-bg-lcolor) !important;
        padding: 0 20px;
        padding-right: 35px !important;
    }
    .breadcrumb-arrows {
        background: var(--main-bg-lcolor) !important;
    }
            .breadcrumb-arrows a:hover:before {
                border-color: transparent var(--main-bg-lcolor) !important;
                transparent transparent;
            }
    .breadcrumb-arrows {
        background: var(--main-bg-lcolor) !important;
    }


</style>
<section class="content">
    <div class="container-fluid">


        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Retailerekycreport</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Retailer ekyc Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp" style="width:100%;float:left;margin-bottom:0px;">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only" style="width: auto; float: left; margin-left: 17px;">
                <!--<ul>
    <li class="smli">
        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
        </a>
    </li>-->
                @*<li class="smli">
            <a href="@Url.Action("FaceAPIFilter", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                FaceAPIFilter&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
            </a>
        </li>*@
                @*<li class="fullbodydycolorbg tmw-total-color-one">
            Retailer ekyc Report
        </li>*@
                <!--</ul>-->
                <ul class="breadcrumb-arrows" style="background-color: #dca167 !important;">
                    <li class="active"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                    <li><a href="@Url.Action("Retailerlist", "Home")">Back&nbsp;To&nbsp;Retailerlist</a></li>
                </ul>
            </div>           
            <div class="col-md-12" style="width:auto;float:right;padding:0;">
                @using (Html.BeginForm("retailerekyccheck", "Home"))
                {
                    <div class="row admin-day-book">
                        <div class="col-md-4 spanpdfback-third actulpdf-third" style="padding-left:0px;width:auto;float:right;">
                            <div class="rechargepdfexal pdfexport-span-second" style="float:right;">
                                <span>
                                    <img src="~/ashok-images/xls.png"><input type="button"  id="btnExport" value="Export" style="border:0px;background:transparent;">
                                </span>
                                <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                            </div>
                        </div>

                        <div class="for-search tablesearch-second" style="position:static;float:right;width:auto;padding-right: 5px;">
                            <div class="search-after-third">
                                <input id="myInput" type="text" name="myInput" placeholder="Search..." onkeyup="myFunction()" style="height: 32px; border: 1px solid #ccc; padding: 5px 8px;" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
            

        <div class="row clearfix ekyc-tabledata" id="tblpdf">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="table-responsive tableseconddes-admin" style="position:inherit;">                         

                            <table class="table table-bordered table-striped table-hover example-second table-background-second" cellspacing="0" style="background:#f9f9f9;width:100%;font-size:12px;">
                                <thead class="navbar" style="color:#000; position:inherit;">
                                    <tr>
                                        <th>SR</th>
                                        <th>Status</th>
                                        <th>Firm&nbsp;Name</th>
                                        <th>Email&nbsp;Id</th>
                                        <th>Mobile&nbsp;No</th>
                                        <th>Adharcard&nbsp;No</th>
                                        <th>Pancard</th>
                                        <th>Merchant&nbsp;Id</th>
                                        <th>e-kyc Mobile</th>
                                        <th>e-kyc Adhaar</th>
                                        <th>In&nbsp;Date</th>
                                        <th>Update Date</th>
                                        <th>Device&nbsp;Info</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var sts = "";
                                        if (item.ekycstatus == true)
                                        {
                                            sts = "verify";
                                        }
                                        else if (item.ekycstatus == false)
                                        {
                                            sts = "unverify";
                                        }

                                        else
                                        {
                                            sts = "unregisterd";
                                        }
                                        <tr>
                                            <td>@i</td>
                                            <td>@sts</td>
                                            <td>@item.frm_name</td>
                                            <td>@item.email</td>
                                            <td>@item.mobile</td>
                                            <td>@item.AadharCard</td>
                                            <td>@item.Pancard</td>
                                            <td>@item.AepsMerchandId</td>
                                            <td>@item.ekycmobile</td>
                                            <td>@item.ekycadhaar</td>
                                            <td>@item.insertdate</td>
                                            <td>@item.updatedate</td>
                                            <td>@item.devicename @item.devicesrno</td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>

                                <tfoot class="navbar" style="color:white;position:inherit;">

                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
$(function(){

     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({
            paging: false
        });
    });

</script>
<script>
    $(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#trow tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $("#btnExport").click(function () {
        var url = '@Url.Action("Excel_retailerekyccheck", "Home")';
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var url = '@Url.Action("PDF_retailerekyccheck", "Home")';
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>