
@{
    ViewBag.Title = "Roffer_comm";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    .item-field {
        display: none;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-14px;">
                            @Html.Partial("menuoperatorreport")
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="col-md-3" onclick="offersts();" id="mydiv">
                            @if (ViewBag.chkroffersts == "Y")
                            {
                                <center>
                                    <a class="btn" style="margin-top: 4px; margin-left: -22px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                        <span><img style="height: 20px;width: 18px;max-width: 100%;padding: 0; border-radius:50%; background-color:green" src="../../ashok-images/correct.svg" /></span>
                                        <span style="top:-1px;color:black;">User&nbsp;Sharing</span>
                                    </a>
                                </center>
                            }
                            else
                            {
                                <center>
                                    <a class="btn" style="margin-top: 5px; margin-left: -22px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                        <span><img style="height: 20px;width: 18px;max-width: 100%;padding: 0; border-radius:50%; background-color:red" src="../../ashok-images/closes.svg" /></span>
                                        <span style="top:-1px;color:black;">User&nbsp;Sharing</span>
                                    </a>
                                </center>

                            }
                        </div>
                        
                        <div class="col-md-3">
                            
                            <center>
                                <a href="@Url.Action("Roffer_comm","Home")" class="btn" style="margin-top: 4px; margin-left: -22px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-gear" style="top:0px;font-size:16px;color:green;"></i>
                                    <span style="top:-1px;color:black;">Set&nbsp;Comm</span>
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-19px;">
                <div class="card">
                    <div>
                        <h2 style="color:#000000a8; font-size:16px; padding-top:11px; margin-left:17px;">
                            Roffer Commission Details
                        </h2>
                    </div>
                    <div class="body" style="margin-top:24px;">
                        <div class="row">
                            <div id="tblList" class="table-responsive" style="position:inherit;margin-top:-22px;">
                                @Html.Partial("_Update_Roffer_comm")

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit Roffer Commision</h4>
            </div>
            @using (Html.BeginForm("Update_Roffer_comm", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <input type="text" id="txtSSID" name="txtSSID" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.Hidden("optcode")
                                            @Html.TextBox("operator", "", new { @class = "form-control", required = "required", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <input type="text" id="txtSSID" name="txtSSID" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Commission Value</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            @Html.TextBox("baseval", "", new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $("#btnExport").click(function(){
   var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
        var txtmob = $('#txtmob').val();
        var url = '@Url.Action("ExcelRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
     var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
         var txtmob = $('#txtmob').val();
         var lapuno11 = $('#lapuno11').val();
        var url = '@Url.Action("PDFRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob + '&lapuno11='+lapuno11;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function () {
        var msg = '@ViewBag.msg';
        if(msg!="")
        {
            if (msg == "Succesfully Assign.")
            {
                swal("SUCCESS !", msg, "success");
            }
            else
            {
                swal("ERROR !", msg, "error");
            }
        }

    });
</script>
<script>
    function offersts() {
        $.ajax({
            url: '@Url.Action("offersts", "Home")',
            type: 'GET',
            cache: false,
            success: function () {

            }
        });
        $("#mydiv").load(location.href + " #mydiv");
    }
</script>

<script>
    $(document.documentElement)
        .on("click", "span.item-display", function (event) {
            $(event.currentTarget)
                .hide()
                .next("span.item-field")
                .show()
                .find(":input:first")
                .focus()
                .select();
        })
        .on("click", "span.item-field", function (event) {
            $(event.currentTarget)
                .show()
                .next("span.item-field")
                .hide()
                .find(":input:first")
                .focus()
                .select();
        })
</script>