@model IEnumerable<Vastwebmulti.Models.roffer_retailer_comm_Result>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 26px;
    }

    .err2 {
        padding-right: 0px;
    }

    .eree {
        padding-left: 0px;
        padding-right: 0px;
    }

    .ner {
        width: 25px !important;
        border: 1px solid #b1a6a638 !important;
    }

    .clk {
        width: 70%;
    }

    .ner2 {
        width: 25px !important;
        border: 1px solid #b1a6a638 !important;
    }

    .clk input {
        padding-right: 0px;
        padding-left: 20px !important;
    }

    .nrr3 {
        float: left;
        position: relative;
    }

    .rer2 .select2-container--default .select2-selection--single {
        border: 1px solid #b1a6a638 !important;
    }

    .cjk .select2-selection.select2-selection--single {
        border-radius: 0px;
        height: 32px;
    }

    #custnav {
        padding-top: 0px !important;
    }

    .cjk {
        width: 20%;
    }

    #defaultModal1ss {
        position: fixed;
        width: 30%;
        float: right;
        right: 0px;
        top: 0px;
        display: none;
        z-index: 99999;
        padding-right: 0px !important;
    }

    .klk {
        width: 100%;
        padding: 15px;
    }

    .item-field {
        display: none;
    }

    .btnspl, .btnspl2 {
        padding: 5px 5px;
        display: inline-block;
        cursor: pointer;
    }

        .btnspl::before {
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
            background: url('~/../../../ashok-images/correct.svg') no-repeat;
            background-size: 55%;
            background-color: green;
            padding: 8px;
            border-radius: 50%;
            padding: 8px;
            float: left;
            margin-right: 5px;
            background-position: center;
            margin-top: 2px;
        }

        .btnspl2::before {
            background: url('~/../../../ashok-images/closes.svg') no-repeat;
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
            background-size: 50%;
            background-color: red;
            padding: 8px;
            border-radius: 50%;
            padding: 8px;
            float: left;
            background-position: center;
            margin-right: 5px;
            margin-top: 2px;
        }
    .table-bordered thead tr th,.table-bordered tbody tr td {
        padding: 10px 4px;font-size:13px;
    }
    @@media only screen and (min-width:481px) and (max-width:992px){
            .err2{width: 100%;}
            .up-to-up #custnav ul li {width: 33%;}
            .responcive-fifty {width: 49% !important;float: left;padding: 0px;}
            .responcive-full {width: 100% !important;float: left;}
            .responcive-full .clk{width: 98% !important;float: left;margin-left: 0px !important;margin-top: 10px;}
            .responcive-full .clk .nrr3{width: 100% !important;}
            .responcive-full .clk .input-group-addon{min-width: 4px !important;}
            .responcive-full .sre {width: 50%;float: left;margin: 10px 0px;padding: 0px !important;}
            .responcive-full .sre input{width: 100%;}
            .responcive-fifty .form-group{margin-bottom: 0px;}
            .up-to-down{width: 50%;float: right;position: relative;bottom: 10px;right: 0;}
            .for-margin-top {margin: 0 !important;}
           }
    @@media only screen and (max-width:480px) {
        .err2 {width: 100%;margin-bottom: 0px;}
        .err2 .kklo #custnav #ul li {float: left;margin-right: 2px;width: 32.3%;}
        .rer2 .col-md-2.cjk{width:48%;}
        .rer2 .col-md-2.cjk .form-group{margin-bottom:0px;}
        .rer2 {padding: 5px 0px !important;}
        .clk {width: 100% !important;margin-left:0px !important;}
        .plip {padding-right:15px !important;width: 98%;}
        .sre{width: 48%;padding: 0px;margin-left:0px !important;margin-top:5px;}
        .sre input{width:100%;}
        .sre i{left: 22% !important;}
        .comm-set,#mydiv{float:left !important;margin-right: 2px !important;}
        .for-margin-top{margin-top:0px !important;}
        #defaultModal1ss {width: 96%;margin:2%;}
        .table-responsive > .table-bordered > thead > tr > th:first-child{border-left:1px solid  var(--border-color);}
        .table-responsive > .table-bordered > thead > tr > th:last-child{border-right:1px solid  var(--border-color);}

    }
     
    @@media only screen and (max-width:1280px){
        section.content {
            margin: 75px 0px 0 160px;
        }
    }
    @@media only screen and (max-width:1169px) {
        .ls-closed section.content {
            margin-left: 0px;
        }
    }
    @@media only screen and (max-width:1024px) {
        .up-to-down {
            width: 100%;
            float: left;
        }
        .rer2.all-type-third {
            width: 100%;
            float: left;
            margin-top: 4px;
        }

        #sidebar-open {
            top: 31px;
            left: -144px;
        }

    }
    @@media only screen and (max-width:767px) {
        

        #sidebar-open {
            top: 0px;
            left: -5px;
        }
    }
 
</style>

<section class="content tmw-roffer-history">
    <div class="container-fluid">
        <div class="row clearfix page-header-third margin-bottom-third cardbackg-third onlymargin-third">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                <div class="card" style="margin-top:2px;">
                    <div class="">
                        <div class="col-md-2 err2 up-to-up up-third-design up-third-design-respon">
                            <div style="margin-top:0px;margin-left:-13px;">
                                @Html.Partial("menuoperatorreport")
                            </div>
                        </div>
                        <div class="col-md-10 eree all-type-third-responsive classrow-respo-third">
                            <div class="col-md-8 rer2 all-type-third" style="padding: 0px;">
                                @using (Html.BeginForm("Roffer_history", "Home", FormMethod.Post))
                                {
                                    <div class="col-md-2 cjk responcive-fifty" style="padding: 0px;margin-right: 7px;float: left;">
                                        <div class="form-group">
                                            <div class="" style="margin-top:0px;padding-bottom:4px;">
                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 cjk responcive-fifty" style="padding: 0px;margin-right: 4px;float: left;">
                                        <div class="form-group">
                                            <div class="" style="margin-top:0px;padding-bottom:4px;">
                                                @Html.DropDownList("OperatorName", new List<SelectListItem>
                                                    {
                                                       new SelectListItem{ Text="All Operator", Value = "ALL" },
                                                       new SelectListItem{ Text="Idea", Value = "Idea" },
                                                       new SelectListItem{ Text="Airtel", Value = "Airtel" },
                                                       new SelectListItem{ Text="Vodafone", Value = "Vodafone" },
                                                    },
                                                    new { @class = "selectpicker form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" }
                                                    )
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 rtrt plip responcive-full" style="padding-right: 0px;">
                                        <div class="row">
                                            <div class="col-md-10 clk" style="padding: 0px;margin-left: 4px;">
                                                <div class="input-daterange input-group" style="margin-left:0px;width:100%;margin-top: 0px;">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;" })
                                                    <span class="input-group-addon" style="padding:0px;min-width:7px;">
                                                       
                                                    </span>
                                                    <div class="nrr3">
                                                        <div class="custom-date-icon ner2">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; margin-top:0px;height:32px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 sre" style="margin-left: -7px;">
                                                <center>
                                                    <div class="" style="margin-top:0px;">

                                                        <i class="fa fa-search color-white-second" style="margin-left: 3px;position: absolute;top: 9px;left: 16px;color: #333;" aria-hidden="true"></i>

                                                        @*<input id="btntype_TODAY" name="btntype" type="submit" value="TODAY" class="btn" style="margin-top:0px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" />*@
                                                        <input id="btntype_OLD" name="btntype" type="submit" value="SEARCH" class="btn input-back-second" style="padding-left: 20px;margin-top:0px; height:32px;border:1px solid #b1a6a638;background:#fff ;" />
                                                    </div>
                                                </center>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>


                            <div class="col-md-4 up-to-down pdf-lastclass-third pdf-lastclassecond-third" style="padding-left: 0px;padding-right: 0px;">



                                <div class="web-white-filter fil pdfexpoer-second pdfresponsive-third" style="float: right;">
                                    <input type="button" id="btnExl" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                    background-repeat: no-repeat;
                                    background-position: 4px center;
                                    padding-left: 20px;" />
                                    <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                    background-repeat: no-repeat;
                                    background-position: 4px center;
                                    padding-left: 19px;" />

                                </div>


                                <a  href="#" data-toggle="modal" data-target="#defaultModal1ss" class="btn comm-set" style="float: right;padding-right: 4px;margin-right: 5px;padding-left: 4px; height:31px;border:1px solid #b1a6a638;background:#b1a6a638;">
                                    <i class="fa fa-gear" style="top:0px;font-size:16px;color:green;"></i>
                                    <span style="top:-1px;color:black;">Set&nbsp;Comm</span>
                                </a>
                                <div class="col-md-3" onclick="offersts();" id="mydiv" style="padding: 0px;width: auto;margin-right: 5px;float:right; background: #eeebeb;">
                                    @if (ViewBag.chkroffersts == "Y")
                                    {
                                        <span class="btnspl">User&nbsp;Sharing</span>
                                    }
                                    else
                                    {
                                        <span class="btnspl2">User&nbsp;Sharing</span>
                                    }
                                </div>





                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row clearfix margi-topo-third">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:15px;">
                <div class="card">

                    <div class="for-margin-top" style="margin-top:0px;">
                        <div class="body table-responsive page-header-third" style="position:inherit;padding:5px;">
                            <table id="example" class="table table-bordered table-striped example-second third-design-table" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>User&nbsp;Details</th>

                                        <th>Customer&nbsp;No</th>
                                        <th>R-Amount</th>
                                        <th>Operator</th>
                                        <th>Roffer</th>
                                        <th>User&nbsp;(%)</th>
                                        <th>User&nbsp;Pre&nbsp;₹</th>
                                        <th>Share</th>
                                        <th>User&nbsp;Post&nbsp;₹</th>
                                        <th>Recharge&nbsp;Time</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin">
                                    @{
                                        Html.RenderAction("_Roffer_history", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="defaultModal1ss">
        <div class="pppop">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
                <div class="card">
                    <div>
                        <h2 style="color:#000000a8; display: inline-block;font-size:16px; padding-top:11px; margin-left:17px;">
                            Roffer Commission Details
                        </h2>
                        <button type="button" class="btn waves-effect" data-dismiss="modal" style="float: right;margin-top: 18px;margin-right: 10px;background: transparent;border: 0px;">
                            <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="klk" id="tblList">
                        <table class="table-bordered" style="width: 100%;">
                            <thead style="background-color: whitesmoke;">
                                <tr>
                                    <th>Operator Name</th>
                                    <th>Commission</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null) { 
                                if (Model.Count() > 0)
                                {
                                    int i = 1;

                                    foreach (var item in Model)
                                    {
                                        var ii = "Opt" + i;

                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.operator_name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.basevalue)</td>
                                            <td>
                                                <button class="butt" id="@ii" style="background-color:transparent;color:#03a9f4; border:none;">
                                                    <i class="fa fa-edit fa-2x" style="font-size:24px;color:#607D8B;"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr style="display:none;">
                                                @Html.Hidden("optcode", item.optcode)
                                                <td>@Html.DisplayFor(modelItem => item.operator_name)</td>
                                                <td>
                                                    <input type="text" id="@i" value="@item.basevalue" />
                                                </td>
                                                <td>
                                                    <input type="hidden" id="@ii" value="@item.optcode" />
                                                    <button onclick="save(@i)">Save</button>
                                                </td>
                                        </tr>
                                        
                                        i++;
                                    }
                                }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>



</section>


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('select').select2();
</script>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<!-- Demo Js -->

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });

</script>

<script>
    var pageindex = 2;
    var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
        if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
            
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("Scroll_Roffer_history", "Home")",
                    { allretailer: $('#allretailer').val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val(), PageIndex: pageindex, OperatorName: $('#OperatorName').val() },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
    });
</script>

<script>
    $("#btnExl").click(function(){
       var txt_frm_date = $('#txt_frm_date').val();
       var txt_to_date = $('#txt_to_date').val();
        var allretailer = $('#allretailer').val();
        var OperatorName = $('#OperatorName').val();

        var url = '@Url.Action("Excel_Roffer_history", "Home")?allretailer=' + allretailer + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&OperatorName=' + OperatorName;
       location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
        var allretailer = $('#OperatorName').val();
        var OperatorName = $('#OperatorName').val();

        var url = '@Url.Action("PDF_Roffer_history", "Home")?allretailer=' + allretailer + '&txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&OperatorName=' + OperatorName;
         window.open(url,'_blank' // <- This is what makes it open in a new window.
    );
    });
</script>

<script>
    function save(id) {
        
        var idno = id;
        var CommVal = $('#' + id).val();

        $.ajax({
            url: '@Url.Action("Update_Roffer_comm", "Home")',
            data: { Idno: idno, baseval: CommVal },
            type: 'GET',
            cache: false,
            success: function (data) {

                $('#tblList').html(data);

                $('.butt').click(function () {
                    $(this).closest("tr").next().show();
                    $(this).closest("tr").hide();
                });
            }
        });
    }
</script>
<script>
    $('.butt').click(function () {
        $(this).closest("tr").next().show();
        $(this).closest("tr").hide();
    });
</script>

<script>
    function offersts() {
        $.ajax({
            url: '@Url.Action("offersts", "Home")',
            type: 'GET',
            cache: false,
            success: function () {

            }
        });
        $("#mydiv").load(location.href + " #mydiv");
    }
</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/ADMIN/Home/Roffer_history') {
            $('.sidebar .kkli li:nth-child(1) a').addClass('activee');
        }
    });
</script>



<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>