@model IEnumerable<Vastwebmulti.Models.history_norton_Result>
@{
    ViewBag.Title = "SecurityReport";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}


<link href="~/Swalalert/datatable.css" rel="stylesheet" />
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .gift-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .gift-select {
        position: relative;
    }

        .gift-select::before {
            content: '';
            border-bottom: 1px solid #555;
            border-left: 1px solid #555;
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            right: 10px;
            transform: rotate(-45deg);
            top: 11px;
        }

    table thead th {
        padding: 10px 5px !important;
    }

    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .securityreport-adminpdf .gift-select {
        width: auto;
        float: left;
    }

    .select2-container--default .select2-selection--single {
        border-color: #ddd !important;
    }
    .newfourdesign-admin .form-group .form-control {
        border-color: #ddd !important;
    }
    .newfourdesign-admin .col-md-1.grtyetry button {
        background: transparent !important;
    }
    .newfourdesign-admin .gift-select::before {
        display: none;
    }
    .newfourdesign-admin .modal-header button.btn:not(.btn-link):not(.btn-circle) {
        border: 0 !important;
    }
    .trruopsit-class {
        width: auto;
    }
    .trruopsit-class input {
        text-align:right;
    }

    /*   New css vs responcive    */
        .trruopsit-class input {
            width: 113px !important;
        }



    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }



    @@media only screen and (max-width:992px) {

        .t_menu {
            margin: 4px 0;
            float: left;
            width: 100%;
        }
        .all-type-flex {
            display: block !important;
        }
        .trruopsit-class {
            float: left;
        }

        .grtyetry {
            float: left;
        }


    }

    


    @@media screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
        .trruopsit-class input {
            width: 100% !important;
        }

        .gift-select {
            width: 50%;
            float: left;
            margin-bottom: 10px;
        }

        .grtyetry {
            width: 50%;
            float: left;
            margin: 10px 0px 35px;
        }

        .trruopsit {
            clear: both;
        }

        .securityreport-adminpdf {
            width: 100% !important;float: left !important;
        }

            .securityreport-adminpdf .card {
                min-height: inherit !important;width: 100%;float: left;
            }

            .securityreport-adminpdf .gift-select {
                width: 50%;float: left;
            }

            .securityreport-adminpdf .grtyetry {
                width: auto;float: left;margin-bottom: 15px;
            }

            .securityreport-adminpdf .pdf-lastclass-third-responsive {
                padding: 0;margin-top: 11px;
            }
        .trruopsit-class {width:100%;float:left;}
    }

    @@media only screen and (max-width:480px) {

        .securityreport-adminpdf .gift-select {
            width: 100%;
        }


        .security-report-top .col-md-2, .security-report-top .col-md-5, .security-report-top .col-md-1 {
            padding: 0px !important;
            margin-bottom: 5px;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .mastetr222Modal .modal-dialog {
            width: 95%;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Security Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Security Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="clearfix margin-bottom-third cardbackg-third onlymargin-third">
            
        
        <div class="page-header-third D_menu" style="width: auto; float: right;">
            <div class="col-md-1 re-treyop pdf-lastclass-third pdf-lastclass-third-responsive" style="padding:0px;float:right;width:auto;">
                <div class="header" style="margin-top:0;padding:0px;width:100%;float:left;border:0px;">



                    <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas" style="width:100%;float:left;">

                        <div class="web-white-filter fil" style="float: left;margin-right: 5px;">
                            <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                            <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                        </div>
                        <button class="white-success-button" style="float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;" onclick="findtotal()">Total</button>
                    </div>



                </div>
            </div>

        </div>
        
        
        </div>


        <div class="row clearfix margi-topo-third">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 security-report-top-table" style="margin-top:0px;">
                <div class="card">

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="page-header-third">

                                <div class="col-md-9 all-type-flex" style="padding: 0px; width: 100%; display: flex; align-items: center; justify-content: space-between;">
                                    <div class="t_menu">
                                        <div class="bread-same-all-page breadsameall-second">
                                            <ul>
                                                <li class="smli">
                                                    <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                                                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                                    </a>
                                                </li>

                                                <li class="fullbodydycolorbg tmw-total-color-one">
                                                    Security Services
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="t_menu">
                                        @using (Html.BeginForm("SecurityReport", "Home", FormMethod.Post))
                                        {
                                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 all-type-third securityreport-adminpdf" style="width:auto;">
                                                <div class="card security-report-top" style="">
                                                    <div class="">
                                                        <div class="col-md-2 gift-select" style="padding:0px;">
                                                            <div class="form-line selecthotel-third" style="">
                                                                @Html.DropDownList("ddlusers", new List<SelectListItem>
                                                                {
                                                                    new SelectListItem{ Text="ALL",Value="Admin"},
                                                                    new SelectListItem{Text="Retailer",Value="Retailer"}
                                                                }, new { @class = "select-s form-control", data_live_search = "true", @style = "margin-top:1px; padding:0px;height:32px;border-color:#eee;box-shadow: none;", onchange = "answers()" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 gift-select" style="display:none;padding: 0px;padding-left:3px;" id="rem">
                                                            <div class="form-line selecthotel-third">
                                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:1px; padding:0px;text-align:center;height:32px;" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 gift-select" style="padding:0px;padding-left:3px;">
                                                            <div class="form-line selecthotel-third">
                                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                            {
                                                    new SelectListItem{ Text="Status",Value="",},
                                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                    new SelectListItem{Text="PENDING",Value="PENDING"},
                                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                                     }, new { @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;height:32px;border-color:#eee;box-shadow: none;" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 trruopsit trruopsit-class" style="margin-top: 1px;padding: 0px;padding-left:3px;">
                                                            <div class="">
                                                                <div class="">
                                                                    <div class="form-group" style="margin-bottom:0px;">
                                                                        <div class="input-daterange input-group">
                                                                            <div class="custom-date-icon ner" style="border-color:#ddd !important;">
                                                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                                            </div>
                                                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ddd; height:32px;", autocomplete = "off" })
                                                                            <span class="input-group-addon" style="padding:0px;min-width:3px;">

                                                                            </span>
                                                                            <div style="position:relative;">
                                                                                <div class="custom-date-icon ner" style="border-color:#ddd !important;">
                                                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                                                </div>
                                                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #ddd; ;height:32px;", autocomplete = "off" })
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.input group -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 grtyetry" style="padding:0px;padding-left:3px;width:auto;">
                                                            <div class="">
                                                                <div class="">
                                                                    <button name="btntype" type="submit" class="btn input-back-second" style="  height:32px;border: 1px solid #ddd;background: #fff;margin-top:1px;padding:5px;width:100%;" onclick="serch()">
                                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:#555;"></i>
                                                                        <span style="top:-1px;color:black;">Search</span>
                                                                    </button>


                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>


                                <div class="body table-responsive tableseconddes-admin" style="position:inherit;padding:3px;">
                                    <table class="table table-bordered table-striped table-hover example-second table-background-second" cellspacing="0" style="background:#f9f9f9;width:100%;font-size:12px;">
                                        <thead class="navbar" style="color:#000; position:inherit;">
                                            <tr>
                                                <th>Request&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                <th>Plan&nbsp;Name</th>
                                                <th>User&nbsp;Firm </th>
                                                <th>Amount</th>
                                                <th>Income</th>
                                                <th>Pre&nbsp;₹</th>

                                                <th>Cr/Dr</th>
                                                <th>post&nbsp;₹</th>
                                                <th>Operator&nbsp;ID</th>

                                                <th>Date&nbsp;Time</th>
                                                @*<th>Response&nbsp;Date</th>
                                                <th>Dlm pre</th>
                                                <th>Debit/Credit</th>
                                                <th>Dlm post</th>
                                                <th>Md pre</th>
                                                <th>Debit/Credit</th>
                                                <th>MD post</th>
                                                <th>Admin Income</th>
                                                <th>API Request</th>
                                                <th>API Response</th>*@
                                                <th>Response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    var icon = ""; var backcolor = ""; var padd = "";
                                                    if (item.Status.ToUpper() == "SUCCESS")
                                                    {
                                                        icon = "../../ashok-images/correct.svg";
                                                        backcolor = "green";
                                                        padd = "3px";
                                                    }
                                                    else if (item.Status.ToUpper() == "FAILED")
                                                    {
                                                        icon = "../../ashok-images/closes.svg";
                                                        backcolor = "red";
                                                        padd = "3px";
                                                    }
                                                    else if (item.Status.ToUpper() == "PENDING")
                                                    {
                                                        icon = "../../ashok-images/clock.svg";
                                                        backcolor = "";
                                                        padd = "0px";
                                                    }
                                                    else
                                                    {
                                                        icon = "../../ashok-images/backresnd.svg";
                                                        backcolor = "brown";
                                                        padd = "2px";
                                                    }
                                                    decimal final = Convert.ToDecimal(item.amount) - Convert.ToDecimal(item.total_rem_pay);

                                                    var idnn = item.idno + "divchk";
                                                    var rchsuc = item.idno + "nrchsuccess";
                                                    var rchfailed = item.idno + "nrchfailed";

                                                    <tr>


                                                        <td>
                                                            <span><img src="@icon" style="width: 17px;background:@backcolor;border-radius: 50%;padding: @padd;float:left;margin-right:2px;" />&nbsp;@item.req_id</span>

                                                        </td>
                                                        <td>@item.plan_nm</td>
                                                        <td>@item.Frm_Name</td>
                                                        <td>@item.amount</td>
                                                        <td>@item.total_rem_pay</td>
                                                        <td>@item.rempre</td>

                                                        <td>@final</td>
                                                        <td>@item.rempost</td>
                                                        <td>@item.OPerator_id</td>

                                                        <td>@item.transfer_time</td>
                                                        <td>
                                                            <p id="@idnn" style="margin:0px;">
                                                                @if (item.Status.ToUpper() == "PENDING")
                                                                {


                                                                    <button class="ss" onclick="Successchk('@item.idno')" style="margin-left:0px;background:transparent;border:none;float:left;margin-right:2px;" title="Manual Success">
                                                                        <i class="fa fa-check" style="top:1px;border:1px solid var(--border-color);padding: 3px;font-size: 13px;" aria-hidden="true"></i>
                                                                    </button>
                                                                    <button class="ff" onclick="Failedchk('@item.idno')" style="background:transparent;border:none;float:left;margin-right:2px;" title="Manual Failed">
                                                                        <i class="fa fa-times" style="top:1px;border:1px solid var(--border-color);padding: 3px 4px;font-size: 13px;" aria-hidden="true"></i>
                                                                    </button>

                                                                }
                                                                <button class="ff" data-toggle="modal" data-target="#defaultModal222" onclick="ActionBtn('@item.Response_time','@item.dlmpre','@item.total_dlm_pay','@item.dlmpost','@item.mdpre','@item.total_md_pay','@item.mdpost','@item.purchase_final','@item.Api_request','@item.Api_response')" style="color:#ffc107;background:transparent;border:none;margin-top:0px !important;float:left;">
                                                                    <img src="~/ashok-images/rightaeps.svg" style="border: 1px solid var(--border-color);padding: 3px 3px;font-size: 10px;height:20px !important;">
                                                                </button>
                                                            </p>

                                                            <p id="@rchsuc" class="nrchsuccess" style="display: none;margin:0px; text-align: center; background: green; width: 100%; padding: 5px;">
                                                                <button style="color: #fff; font-weight: 800;font-size: 11px; background-color:transparent;border-color:transparent;" onclick="Response('@item.req_id','Success')">
                                                                    I'M SURE&nbsp;>&nbsp;SUCCESS
                                                                </button>
                                                            </p>
                                                            <p id="@rchfailed" class="nrchsuccess" style="display: none;margin:0px; text-align: center; background: red; width: 100%; padding: 5px;" onclick="Response('@item.req_id','Failed')">
                                                                <button style="color: #fff; font-weight: 800;font-size: 11px; background-color:transparent;border-color:transparent;">
                                                                    I'M SURE&nbsp;>&nbsp;FAILED
                                                                </button>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                        <tfoot class="navbar" style="color:white;position:inherit;">

                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mastetr222Modal in" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left">
                <div class="modal-back width100 float-left">
                    <div style="float:left;">
                        <span>
                            Response Time&nbsp;&nbsp;
                            <span id="resptm"></span>

                        </span>
                    </div>
                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">



                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Pre</label>
                                    <input class="form-control" id="distpre" name="distpre" readonly="readonly" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Income</label>
                                    <input class="form-control" id="distincome" name="distincome" readonly="readonly" type="text" value="">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Post</label>
                                    <input class="form-control" id="distpost" name="distpost" readonly="readonly" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>M/D Pre</label>
                                    <input class="form-control" id="mdpre" name="mdpre" readonly="readonly" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Income</label>
                                    <input class="form-control" id="mdincome" name="mdincome" readonly="readonly" type="text" value="">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>M/D Post</label>
                                    <input class="form-control" id="mdpost" name="mdpost" readonly="readonly" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Admin Income</label>
                                    <input class="form-control" id="adminincome" name="adminincome" readonly="readonly" style="text-transform:uppercase" type="text" value="">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>API Request</label>
                                    <textarea class="form-control" cols="20" id="APIRequest" name="APIRequest" readonly="readonly" rows="2" style="height:80px;"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>API Response</label>
                                    <textarea class="form-control" cols="20" id="APIResponse" name="APIResponse" readonly="readonly" rows="2" style="height:50px;"></textarea>
                                </div>
                            </div>
                        </div>



                    </form>

                </div>
            </div>


        </div>

    </div>
</div>

<script>
    function ActionBtn(resptime, dlmpre, dlmincome, dlmpost, mdpre, mdincome, mdpost, adminincome, apireq, apiresp) {
        $('#resptm').text(resptime);
        $('#distpre').val(dlmpre);
        $('#distincome').val(dlmincome);
        $('#distpost').val(dlmpost);
        $('#mdpre').val(mdpre);
        $('#mdincome').val(mdincome);
        $('#mdpost').val(mdpost);
        $('#adminincome').val(adminincome);
        $('#APIRequest').val(apireq);
        $('#APIResponse').val(apiresp);
    }
</script>

<script>
    function Successchk(idno) {
        let idnn = idno + "divchk";
        let rchsuc = idno + "nrchsuccess";
        let rchfailed = idno + "nrchfailed";
        $('#' + idnn).hide();
        $('#' + rchsuc).show();
        $('#' + rchfailed).hide();
    }
    function Failedchk(idno) {
        let idnn = idno + "divchk";
        let rchsuc = idno + "nrchsuccess";
        let rchfailed = idno + "nrchfailed";
        $('#' + idnn).hide();
        $('#' + rchsuc).hide();
        $('#' + rchfailed).show();
    }
</script>

<!--Refund Model-->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('.select-s').select2();

</script>


<!--Calendar Javascript-->
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });


</script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });

</script>


<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;

        if (answer == "Admin") {
            document.getElementById("rem").style.display = "none";
            document.getElementById("allretailer").selectedIndex = "0";
        }
        else if (answer == "Retailer") {
            document.getElementById("rem").style.display = "block";
        }


    }
</script>
<!--Manual failed -->
<script>
    function Response(reqid,sts)
    {
         $.ajax({
             url: '@Url.Action("SecurityManually", "Home")',
             type: 'POST',
             data: { orderid: reqid, status: sts },
             success: function (data) {
                  window.location.reload();
             },
             error: function (data) {

             }
         });
            return true;
    }
</script>

<!--Mannual Success-->
<script>
    function success(orderid, status)
    {
     var answer = confirm('Are you sure ?');
     if(answer)
     {
         $.ajax({
             url: '@Url.Action("GiftcardSuccess", "Home")',
             type: 'POST',
             dataType: "html",
             data: { orderid: orderid, status: status },
             success: function (data) {
                 var response = JSON.parse(data);
                 if (response.Status) {
                     swal("Good Job!", response.Message, "success");
                     window.location.reload();
                 }
                 else {
                     swal("Oops...", response.Message, "error");
                 }
             },
             error: function (data) {

             }
         });
             return true;

        }
     else {

            return false;
        }
    }
</script>





<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var allretailer = $('#allretailer').val();
        var ddl_status = $('#ddl_status').val();
        var url = '@Url.Action("ExcelSecurityReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&allretailer=' + allretailer + '&ddl_status=' + ddl_status;
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allmaster = $('#allmaster').val();
        var ddl_status_ticket = $('#ddl_status_ticket').val();
        var url = '@Url.Action("PDFSecurityReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&allmaster=' + allmaster + '&ddl_status_ticket=' + ddl_status_ticket;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
