@model Vastwebmulti.Areas.ADMIN.Models.optmergeforsell
@{
    ViewBag.Title = "sellrechargeoptList";
}
@using Vastwebmulti.Models;
<style>
    .page-header-third form{
        display:flex;
        
    }

    .over{
        height: auto;
        overflow: scroll;
        overflow-y: scroll;
    }
    .over2 {
        height: auto;
        overflow: scroll;
        overflow-y: scroll;
    }
    </style>
<style>
    /* new css */

    select {
        margin-right: 4px;
        float: left;
        padding: 0px 4px;
        border: 0.2px solid #b1a6a638;
        font-size: 14px;
        color: #555;
        height: 29px;
    }

    input {
        float: left;
        padding: 0px 7px;
        border: 0.2px solid #b1a6a638;
        background: #b1a6a638;
        font-size: 14px;
        color: #4a4a4a;
        display: flex;
        align-items: center;
        position: relative;
        height: 29px;
    }

    .res_div svg {
        width: 23px;
        color: #000;
        margin-left: 8px;
        cursor: pointer;
    }

    .all_page_alert {
        position: absolute;
        top: 109px;
        z-index: 99;
        right: 15px;
        display: none;
        padding: 10px;
    }

    .alert-success {
        background-color: #2b982b;
    }

    .res_div svg:hover + .all_page_alert {
        display: block;
    }

    .bread-same-all-page {
        width: auto;
    }

    .headline_set {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .res_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* new css */
</style>

<section class="content classrecharge-report" style="">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Referral</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Set Referrals</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp headline_set">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Sell Recharge Operater List
                    </li>
                </ul>
            </div>
            <div class="res_div">
                @using (Html.BeginForm("merge_opt1", "Home"))
                {
                    @Html.DropDownList("OPTCODEOFAPI", ViewBag.OPTCODEOFAPI as SelectList, "Select Api Operator")
                    @Html.DropDownList("OPTCODEOFService", ViewBag.OPTCODEOFService as SelectList, "Select Your Operator")
                    <input type="submit" value="Save" />
                }
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
                <div class="alert alert-success all_page_alert" role="alert">
                    User Number Setting
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix " style="margin:0;">
            <div class="switch-user-tab">
                
                <div class="page-header-third over">

                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>API OPERATOR</th>
                            <th>API OPERATORCODE</th>
                            <th>MY OPERATOR</th>
                            <th>MY OPERATORCODE</th>

                        </tr>
                        @foreach (var i in Model.optmerge)
                        {
                            <tr>
                                <td>@i.api_operator</td>
                                <td>@i.api_optcode</td>
                                <td>@i.self_operator</td>
                                <td>@i.self_optcode</td>
                            </tr>

                        }

                    </table>
                </div>

                <div class="page-header-third ">
                    <div class="over2">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>USER</th>
                                <th>USER Email</th>
                                <th>Farm Name</th>
                                <th>Operator</th>
                                <th>Comm %</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var i in Model.optcomm)
                            {
                                <tr>
                                    @{
                                        VastwebmultiEntities db = new VastwebmultiEntities();
                                        var chk = db.Retailer_Details.Where(s => s.RetailerId == i.userid).ToList();
                                    }

                                    @if (chk.Count > 0)
                                    {
                                        <td>@i.dlm_Name - Retailer</td>
                                    }
                                    else
                                    {
                                        <td>@i.dlm_Name - Distributor</td>
                                    }
                                    <td>@i.Email</td>
                                    <td>@i.farmname</td>
                                    <td>@i.operator_1</td>
                                    <td>@i.comm %</td>
                                    <td>@i.status</td>

                                    @if (i.status == "Pending")
                                    {
                                        <td>
                                            <a href="@Url.Action("sellrechargeoptUpdate","Home",new { idno=i.idno ,status="Reject"},"")"><button>Reject</button></a>
                                            <a href="@Url.Action("sellrechargeoptUpdate","Home",new { idno=i.idno ,status="Success"},"")"><button>Success</button></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>

                                    }
                                </tr>

                            }

                        </table>
                    </div>
                </div>

            </div>
            </div>
        </div>

                
</section>







