@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-right:1px;">
                                    @Html.Partial("EmailMenu")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="card" style="margin-top:-18px;">

                        <div class="" style="border-bottom:1px solid #130f0f17; background-color:whitesmoke;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:4px;">
                                <li class="active" style="color:#a79f9f; font-size:15px;font-weight:700;">SEND Email</li>
                            </ol>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="body" style="margin-bottom:68px;">
                                    @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
                                    {
                                        <div class="row" style="margin-bottom:0px; margin-top:0px;">

                                            <div class="col-lg-3" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:right;">User Level :</label>
                                            </div>
                                            <div class="col-lg-9" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        @Html.DropDownList("Userform1", new List<SelectListItem> {
                                                        new SelectListItem { Text = "Master Distributor", Value= "Master" } ,
                                                        new SelectListItem { Text = "Distributor", Value= "Dealer" } ,
                                                        new SelectListItem { Text = "Retailer", Value= "Retailer" },
                                                        new SelectListItem { Text = "API User", Value= "API" },
                                                        new SelectListItem { Text = "Whitelabel", Value= "Whitelabel" },
                                                      }, "Select User", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                            <div class="col-lg-3" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:right;">Email :</label>
                                            </div>
                                            <div class="col-lg-9" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        @Html.TextBox("txtEmail", "", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                            <div class="col-lg-3" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:right;">Subject :</label>
                                            </div>
                                            <div class="col-lg-9" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        @Html.TextBox("txtSubject", "", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                            <div class="col-lg-3" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:right;">Message :</label>
                                            </div>
                                            <div class="col-lg-9" style="margin-bottom:0px;">
                                                <div class="form-group">
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control", @placeholder = "Enter Message Here", style = "height:120px" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div><label style="color:Red; padding-right: 0px; width:23%; padding-left: 5px;">@ViewData["msgdlm"] </label> </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn  waves-effect" style="float:right;border:1px solid #c7c2c2;background:#dedddd;">Send Email</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button id="btn" type="reset" class="btn  waves-effect" style="float:right; margin-right:5px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

