@model IEnumerable<Vastwebmulti.Models.Show_retailer_info_service_sts_Result>
@{
    ViewBag.Title = "ServiceStatus";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
      .table.dataTable thead th, table.dataTable thead td {
        padding: 12px 12px 10px 7px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
   padding: 12px 12px 10px 7px;
    }

     table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">ALL RETAILER SERVICE STATUS&nbsp;></li>
                        </ol>
                    </div>

                    <div class="body" style="margin-top:-20px;padding:2px;">
                        <div class="table-responsive" style="position:inherit; margin-top:-20px;">
                            <table id="example" class="table table-bordered" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Email&nbsp;ID</th>
                                        <th>Retailer&nbsp;Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Status</th>
                                        <th>Money&nbsp;Sts</th>
                                        <th>Pancard&nbsp;Sts</th>
                                        <th>Aeps&nbsp;Sts</th>
                                        <th>MPOS&nbsp;Sts</th>
                                        <th>Flight&nbsp;Sts</th>
                                        <th>Bus&nbsp;Sts</th>
                                        <th>Hotel&nbsp;Sts</th>
                                        <th>GiftCard&nbsp;Sts</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                     <tr>
                                         <td><p style="font-size:13px;">@item.Email</p></td> 
                                         <td><p style="font-size:13px;">@item.RetailerName</p></td> 
                                         <td><p style="font-size:13px;">@item.Frm_Name</p></td> 
                                         <td>
                                             @if (item.Status == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Updateretailer_ststus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                   </center>
                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Updateretailer_ststus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 
                                                 </center>

                                             }
                                         </td>

                                         <td>
                                             @if (item.moneysts == true)
                                             {
                                             <center>
                                                 <a href="@Url.Action("Finanicalsts", new { id = item.RetailerId })" style="text-decoration:none;">
                                                     <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                 </a>
                                             </center>

                                             }
                                             else
                                             {
                                             <center>
                                                 <a href="@Url.Action("Finanicalsts", new { id = item.RetailerId })" style="text-decoration:none;">
                                                     <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                 </a>
                                             </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.pancardsts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Pancardstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Pancardstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.AepsMposstatus == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Aepsstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Aepsstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.Mpossts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Mpossts", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Mpossts", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.Flighsts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Flightstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Flightstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.Bussts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Busstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Busstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                         <td>
                                             @if (item.Hotelsts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Hotelstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Hotelstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>

                                         <td>
                                             @if (item.giftcardsts == "Y")
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Giftcardstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switch_on.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                             else
                                             {
                                                 <center>
                                                     <a href="@Url.Action("Giftcardstatus", new { id = item.RetailerId })" style="text-decoration:none;">
                                                         <img src="~/images/reportimage/switchoff.png" style="margin-top:2px;height:23px;" />
                                                     </a>
                                                 </center>

                                             }
                                         </td>
                                     </tr>
                                     
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        </div>
    </section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

