@model IEnumerable<Vastwebmulti.Areas.ADMIN.ViewModel.RefferalListViewModel>
@{
    ViewBag.Title = "Set_Referral";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}


<style>
    /* new css */
    section.content {
        margin: 75px 0px 0 180px;
    }

    .body_sidebar_menu span {
        background: #000 !important;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        width: 50px;
        float: left;
        height: 42px;
    }
    
    .tablinks a {
        cursor: pointer !important;
    }
    .disablevalue {
        width: 50%;
        float: left;
    }   

    .disablevalue {
        padding: 7px 10px;
        background: #ddd;
        color: #555;
    }
    .reffael-fullseting select.form-control {
        width: 50%;
        float: left;
    }

    .reffael-fullseting button.reffralactivedeacrt {
        float: right;
        padding: 7px 14px !important;
        text-align: center;
        border: 0;
        font-weight: bold;
    }

    .classfullsavechange button {
        width: 100%;
        float: left;
        margin-top: 30px;
        border: 0 !important;
        background: #d3d3d3;
        width: 100%;
        border-radius: 30px !important;
        height: 40px !important;
    }

    p.prag_1 {
        font-size: 9px;
        padding-right: 0px;
        font-weight: 500;
        padding-top: 2px;
    }

    p.prag_2 {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.4px;
    }

    .butttuno_2 {
        width: auto;
        height: 22px;
        float: left;
        border: 1px #ddd solid;
        margin-left: 5px;
        margin-top: 3px;
        text-align: center;
        color: #000;
        padding: 0px 3px;
    }

    #refferalsetinpartial {
        height: 29px;
        margin-right: 4px;
    }

    div#refferalsetinpartial button {
        width: 137px;
        height: 29px;
        border: 1px solid #ddd;
        text-align: end;
        padding-right: 5px;
        position: relative;
    }

    .bkp:hover .dropdown-submenu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        top: 34px;
        border-top: 0;
    }

    .bkp.seventd {
        float: left;
        position: relative;
    }

    .dropdown-submenu {
        background: #fff;
        width: 200px;
        display: block;
        float: left;
        position: absolute;
        top: 51px;
        left: 2px;
        transform: translateY(25px);
        visibility: hidden;
        opacity: 0;
        transition: 0.4s linear;
        padding: 10px 15px;
        border: 1px solid #ccc;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 300;
        z-index: 9999;
    }

        .dropdown-submenu::before, .custum-dropdown::before {
            border-style: solid;
            border-width: 0 6px 6px;
            content: "";
            height: 0;
            position: absolute;
            left: 1em;
            top: -6px;
            width: 0;
            z-index: 9999;
            border-color: transparent transparent #fff;
            display: block;
        }

    .all_page_alert {
        position: absolute;
        top: 109px;
        z-index: 99;
        right: 15px;
        display: none;
        padding: 10px;
    }

    .res_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .res_div svg:hover + .all_page_alert {
            display: block;
        }

        .res_div svg {
            width: 23px;
            color: #000;
            margin-left: 8px;
            cursor: pointer;
        }

    .retailerlist-header-resp {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .refferal-type-left, .refferal-type-right {
        height: 400px;
    }

    .bread-same-all-page {
        width: auto;
    }

    .refferal-type ul li {
        border-bottom: 2px solid #eaeaea;
    }

    .switch-history-table {
        background: #fff;
    }

    .fund-transfer-form {
        background: #fff;
    }

    /* new css */


    .table-responsive {
        min-height: .01%;
        overflow-x: inherit;
        height: 75vh;
        overflow: overlay !important;
    }

    .tab-link.active::after {
        content: '';
        width: 100%;
        border-bottom: 2px solid #000;
        display: block;
    }

    .ulbussnessnotshow input, .ulbussnessnotshow select, .ulpurchasenotshow select, .ulpurchasenotshow input {
        padding: 4px 10px;
        border: 0px;
        width: 150px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }

        .modal-dialog {
            margin: 0;
        }
    }

    @@media only screen and (max-width:480px) {
        .switch-history-table .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .switch-user-tab-right .nav-tabs li a {
            height: 61px;
        }
    }
</style>

<section class="content fourdesign-section-admin">
    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Referral</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Set Referrals</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Set/Exit Referral Earn
                    </li>
                </ul>
            </div>
            <div class="res_div">

                <div class="web-white-filter pdfexpoer-second pdf-third-design" id="refferalsetinpartial" style="float: left;">

                    @Html.Action("_RefferalSettingpage")


                </div>

                <div>
                    <ul style="position:relative;">
                        <li class="bkp seventd">
                            <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: left;position:static;width:auto;">
                                <a href="@Url.Action("daywisecomm", "Home")" style=" margin-left: 0px; margin-right: 4px; font-size: 11px; float: left; padding: 0px 4px; height: 28px; border: 0.2px solid #b1a6a638; background: #b1a6a638; font-size: 14px; color: #555; display: flex; align-items: center; position: relative; height: 29px; top: -1px;">Extra Comm Status</a>

                            </div>

                            <div class="dropdown-submenu">
                                <ul>
                                    <li style="font-weight:700;"> Extra Commission Status </li>
                                </ul>
                            </div>
                        </li>

                        <li class="bkp seventd">
                            <div class="web-white-filter pdfexpoer-second pdf-third-design" style="float: left;position:static;width:auto;">
                                <a href="@Url.Action("daywisecommhistory", "Home")" style=" margin-left: 0px; margin-right: 4px; font-size: 11px; float: left; padding: 0px 4px; height: 28px; border: 0.2px solid #b1a6a638; background: #b1a6a638; font-size: 14px; color: #555; display: flex; align-items: center; position: relative; height: 29px; top: -1px;">Extra Comm History</a>

                            </div>

                            <div class="dropdown-submenu">
                                <ul>
                                    <li style="font-weight:700;"> Extra Commission History </li>
                                </ul>
                            </div>
                        </li>
                    </ul>



                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
                <div class="alert alert-success all_page_alert" role="alert">
                    Set Referral Earn
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix ">
            <div class="switch-user-tab">

                <div class="col-md-4 switch-user-tab-left"  id="body_left">

                    <div class="page-header-third">
                        <ul class="nav nav-tabs fullbodydycolorbg tab" id="tabs">
                            <li class="tab-link tablinks active" onclick="openCity(event, 'tab-1')" style="width:100%;">
                                <a style="font-size: 17px;padding: 4px;">
                                    <img src="~/AdminDesign/images/referral.svg" style="width:25px;" /> Referral Setting
                                </a>
                            </li>
                            @*<li id="tab2click" class="tab-link tablinks" onclick="openCity(event, 'tab-2')">
                                <a class="Reffaralclass" onclick="Rerffaralse();" style="font-size: 17px;padding: 4px;">
                                    <img src="~/AdminDesign/images/referral.svg" style="width:25px;" /> Referral Limit
                                </a>
                            </li>*@

                        </ul>


                        <div class="width100 home float-left tab-pane fade active in input-border-third">
                            <div class="fund-transfer-form tabcurrent-seconddesign boxback-allpage-admin tabcontent" id="tab-1">
                                <form id="newsletter-form" method="post">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <label>Referral Type </label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="changereferraltype" name="changereferraltype" onchange="changereferral(this)" required>
                                                    <option value="1">Purchases Basis</option>
                                                    <option value="2">business Basis</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="purchase-basis1">

                                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                                            <label id="lblpurc">Minimum Purchase Limit </label>
                                            <label id="lblbusness" style="display:none">Minimum Business </label>
                                            <div>
                                                <input id="txtminimiumpurchase" name="txtminimiumpurchase" type="number" required placeholder="Enter Amount" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="business-basis" style="display:none;">


                                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                                            <label>Category</label>
                                            <div>
                                                <div class="custom-district">
                                                    <select id="catetype" name="catetype">
                                                        <option value="Prepaid/DTH">Prepaid/DTH</option>
                                                        <option value="Utilities">Utilities</option>
                                                        <option value="Financial">Financial</option>
                                                        <option value="Travel/Hotel">Travel&nbsp;&&nbsp;Hotel</option>
                                                        <option value="Ecommerce">Ecommerce</option>
                                                        <option value="Service/Repair">Service&nbsp;&&nbsp;Repair</option>
                                                        <option value="Other">Other</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <label>Expiry No. Of Days </label>
                                        <div>
                                            <input type="number" id="txtexpnoofday" name="txtexpnoofday" required placeholder="Enter Days" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <label>Sharing Type</label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="ddlsharingtype" name="ddlsharingtype" required>
                                                    <option value="Percentage">(%) Percentage</option>
                                                    <option value="FixRupees">Fix Rupees</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 purchase-type ">
                                        <label>Purchasing Type</label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="ddlReferalcode" name="ddlReferalcode" required>
                                                    <option value="SinglePurchasing">First Purchasing</option>
                                                    <option value="MultiplePurchasing">Multiple Purchasing</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <label>Sharing Value </label>
                                        <div>
                                            <input type="number" id="txtSharingValue" name="txtSharingValue" step="0.01" required placeholder="Enter Value" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                        <div>
                                            <label id="lblmsg"></label>
                                            <button id="btnshowdetails" class="fullbodydycolorbg btn-first button-third" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;">
                                                <span style="color:#fff;position:relative;">Submit</span>
                                            </button>
                                            <button class="btn-second button-third-design" type="reset" style="color:#000;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;margin-right:10px;">Cancel</button>
                                        </div>
                                    </div>
                                </form>



                            </div>

                            <div class="fund-transfer-form tabcurrent-seconddesign boxback-allpage-admin tabcontent" id="tab-2" style="display:none;">
                                @using (Ajax.BeginForm("Refferal_Setting", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "comments1234" }))
                                {
                                    <div class="body-foure special-iii" id="" style="float: left; width: 100%; background: var(--second-bg-color); padding: 10px; height: 75vh;">
                                        <div class="reffael-fullseting">

                                            <div class="select-reffralcode">
                                                <p><strong>Set Refferal Code Limit</strong></p>
                                                <select class="form-control" id="limit123" name="limit123">
                                                    <option>--Select Limit--</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                </select>
                                                <span class="disablevalue" id="showvalueid" style="display:none;"></span>
                                                <div>
                                                    <input type="hidden" id="status123" name="status123" />
                                                </div>
                                                <button type="button" onclick="togglereferrel('N');" class="reffralactivedeacrt" id="active-reffrasl" name="active-reffrasl" style="background: #d3d3d3; padding: 7px 0;"><span class="reffralactive" style="color:green;">Active</span></button>
                                                <button type="button" onclick="togglereferrel('Y');" class="reffralactivedeacrt" id="deactive-reffrasl" name="deactive-reffrasl" style="display:none;background: #d3d3d3; padding: 7px 0;"><span class="reffraldeactive" style="color:red;">Deactive</span></button>
                                            </div>
                                            <div class="classfullsavechange">
                                                <button type="submit" id="tnSave" class="btn waves-effect btnssl2233 ees btn-first button-third" style="overflow:hidden;display:none;" value="Save" data-loading-text="">
                                                    <span class="loaderclick">Save Change</span>
                                                    <i class='fa fa-spinner fa-spin loaderclickspiner' style="display:none;"></i>
                                                </button>
                                                <button type="submit" id="Editbutton" class="btn waves-effect btnssl2233 ees btn-first button-third" style="overflow:hidden;" value="Save" data-loading-text="">
                                                    <span class="">Edit</span>
                                                    @*<i class='fa fa-spinner fa-spin loaderclickspiner' style="display:none;"></i>*@
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 switch-user-tab-right">

                    <div class="page-header-third">
                        <ul class="nav nav-tabs tab-seconddesign setretab-seconddesign tab-third-design tabactive-bac-third" id="tabs">
                            @*<li class="body_sidebar_menu" data-component="body_sidebar" data-target="body_left" style="width: 7%; height: 42px;background:#fff;">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 56 56"><path fill="currentColor" fill-rule="evenodd" d="M10 36a3 3 0 1 1 0 6a3 3 0 0 1 0-6m35.998 1c1.106 0 2.002.888 2.002 2c0 1.105-.89 2-2.002 2H18.002A1.996 1.996 0 0 1 16 39c0-1.105.89-2 2.002-2zM10 26a3 3 0 1 1 0 6a3 3 0 0 1 0-6m35.998 1c1.106 0 2.002.888 2.002 2c0 1.105-.89 2-2.002 2H18.002A1.996 1.996 0 0 1 16 29c0-1.105.89-2 2.002-2zM10 16a3 3 0 1 1 0 6a3 3 0 0 1 0-6m35.998 1c1.106 0 2.002.888 2.002 2c0 1.105-.89 2-2.002 2H18.002A1.996 1.996 0 0 1 16 19c0-1.105.89-2 2.002-2z" /></svg>
                                </span>
                            </li>*@
                            <li class="tab-link active" data-tab="tab-1" style="border-right: 2px solid #fff; width: 33.3% !important;"><a data-toggle="tab" href="#home" aria-expanded="false">Referral Set Detail </a></li>
                            <li class="tab-link tablchangess" data-tab="tab-2" style="border-right: 2px solid #fff; width: 33.3% !important;"><a data-toggle="tab" href="#menu1" aria-expanded="false">Referral Achievement History</a></li>
                            <li class="tab-link tablchangess3" data-tab="tab-3" style="width: 33.3% !important;"><a data-toggle="tab" href="#menu3" aria-expanded="false">Referral Unachived History</a></li>

                        </ul>

                        <div id="home" class="width100 home float-left tab-pane fade active in">
                            <div class="switch-history-table padding-topclass-third boxback-allpage-admin">
                                <div class="refferal-type refferal-type-second">
                                    <p class="background-thirddesign" style="background: var(--main-bg-lcolor); color: #fff; padding: 5px; text-align: center; font-weight: 600; border-radius: 20px; margin-top: 8px;">
                                        <b>NOTE:-&nbsp;</b>Referrals can be given only in one way. If you want to set another method, you must remove the former.
                                    </p>
                                    <div class="refferal-type-left purchasebas-second ulbackg-third-design" id="purchasetype" style="margin-right:4%; display:none;">
                                        <h2>Purshases Basis</h2>

                                        <ul class="ulpurchaseshow">

                                            <li>Minimum Limit <span id="spnbusneww"></span></li>
                                            <li>Expery No. Of Days<span id="expnoofday"></span></li>
                                            <li>Sharing Type<span id="spansharingtypes"></span></li>
                                            <li>Sharing Value<span id="spnsharingvalue"></span></li>
                                            <li>Repeat<span id="spntotalsharingvalue"></span></li>

                                        </ul>

                                        <ul class="ulpurchasenotshow" style="display:none;">



                                            <li>Minimum Limit<span id="spnbusneww"><input type="text" id="txtpurchaselimit" name="txtpurchaselimit" /></span></li>

                                            <li>Expery No. Of Days<span id="expnoofday"><input type="text" id="txtpurchasenoofday" name="txtpurchasenoofday" /></span></li>
                                            <li>
                                                Sharing Type<span id="spansharingtypes">
                                                    <select id="ddlpurchsharingtype" name="ddlpurchsharingtype" required="">
                                                        <option value="Percentage">(%) Percentage</option>
                                                        <option value="FixRupees">Fix Rupees</option>

                                                    </select>
                                                </span>
                                            </li>

                                            <li>Sharing Value<span id="spnsharingvalue"><input type="text" id="txtpurchassharingvlaue" name="txtpurchassharingvlaue" /></span></li>
                                            <li>Repeat<span id="spntotalsharingvalue"><input type="number" max="12" id="txtpurchastotalsharingvalue" name="txtpurchastotalsharingvalue" /></span></li>
                                        </ul>

                                        <div id="Statussetting" class="col-md-2">


                                            <fieldset class="firstf fff" id="purchgreen" style="display:none;margin-top:11px;">

                                                <button data-id="" onclick="Chkstatusonoffpurch('Purchases Basis',true)" type="button" class="btn">
                                                    <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:17px;" />
                                                    <span>Active </span>
                                                </button>

                                            </fieldset>
                                            <fieldset class="secondf sss" id="purchred" style="display:none;margin-top:11px;">

                                                <button data-id="" onclick="Chkstatusonoffpurch('Purchases Basis',false)" type="button" class="btn">
                                                    <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:14px;" />
                                                    <span> Deactive </span>
                                                </button>

                                            </fieldset>
                                        </div>
                                        <div class="ulpurchaseshow">
                                            <button id="btnDeletepur" onclick="DeleteRefferedCode('Purchases Basis')" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                                Delete
                                            </button>
                                            <button type="button" id="btneditdatapurchase" data-href="Purchases Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Edit</button>
                                        </div>
                                        <div class="ulpurchasenotshow" style="display:none">
                                            <button type="button" id="btneditdatapurchaseedit" data-href="Purchases Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Save</button>

                                        </div>

                                    </div>
                                    <div class="refferal-type-right purchasebas-second ulbackg-third-design" id="busnesstype" style="display:none;">
                                        <h2>Business Basis</h2>
                                        <ul class="ulbussnessshow">



                                            <li>Minimum Bussiness<span id="bussminlimit"></span></li>
                                            <li>Category<span id="spncategry"></span></li>
                                            <li>Expery No. Of Days<span id="bussnoofday"></span></li>
                                            <li>Sharing Type<span id="busssharingtype"></span></li>
                                            <li>Sharing Value<span id="busssharingvalue"></span></li>
                                            <li>Repeat<span id="spntotalbusness"></span></li>
                                        </ul>
                                        <ul class="ulbussnessnotshow" style="display:none;">



                                            <li>Minimum Bussiness<span id="spnbusneww"><input type="text" id="txtbusslimit" name="txtbusslimit" /></span></li>

                                            <li>
                                                Category<span id="spnbusnewwcategry">

                                                    <select id="busscatetype" name="busscatetype">
                                                        <option value="Prepaid/DTH">Prepaid/DTH</option>
                                                        <option value="Utilities">Utilities</option>
                                                        <option value="Financial">Financial</option>
                                                        <option value="Travel/Hotel">Travel&nbsp;&amp;&nbsp;Hotel</option>
                                                        <option value="Ecommerce">Ecommerce</option>
                                                        <option value="Service/Repair">Service&nbsp;&amp;&nbsp;Repair</option>
                                                        <option value="Other">Other</option>

                                                    </select>

                                                </span>
                                            </li>

                                            <li>Expery No. Of Days<span id="expnoofday"><input type="text" id="txtbusnessnoofday" name="txtbusnessnoofday" /></span></li>
                                            <li>
                                                Sharing Type<span id="spansharingtypes">
                                                    <select id="ddlbusnesssharingtype" name="ddlbusnesssharingtype" required="">
                                                        <option value="Percentage">(%) Percentage</option>
                                                        <option value="FixRupees">Fix Rupees</option>

                                                    </select>
                                                </span>
                                            </li>

                                            <li>Sharing Value<span id="spnsharingvalue"><input type="text" id="txtbusnessssharingvlaue" name="txtbusnessssharingvlaue" /></span></li>
                                            <li>Repeat<span id="spntotalbusness"><input type="number" maxlength="1" id="txtbusnessstotalcount" name="txtbusnessstotalcount" /></span></li>
                                        </ul>
                                        <div id="Statussettingbuss" class="col-md-2 activedeactive-third">


                                            <fieldset class="firstf fff" id="busnessgreen" style="display:none;">

                                                <button data-id="" onclick="Chkstatusonoff('business Basis',true)" type="button" class="btn active-secondclass button-active-third">
                                                    <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:17px;" />
                                                    <span>Active </span>
                                                </button>

                                            </fieldset>
                                            <fieldset class="secondf sss" id="busnessred" style="display:none">

                                                <button data-id="" onclick="Chkstatusonoff('business Basis',false)" type="button" class="btn deactive-secondclass button-deactive-third">
                                                    <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:14px;" />
                                                    <span> Deactive </span>
                                                </button>

                                            </fieldset>
                                        </div>
                                        <div class="ulbussnessshow button-seconddesign">
                                            <button id="btnshowdetails123" onclick="DeleteRefferedCode('business Basis')" class="fullbodydycolorbg btn-first button-third" style="color:#fff;float:right;padding: 5px 20px;border: 1px solid #bbb;line-height: 22px;">
                                                <span style="color:#fff;position:relative;">Delete</span>
                                            </button>
                                            <button class="btn-second button-third-design" type="button" id="btneditbusness" data-href="business Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;line-height: 22px;margin-right:10px;">Edit</button>

                                        </div>
                                        <div class="ulbussnessnotshow" style="display:none">
                                            <button type="button" id="btneditdataBusnessedit" class="button-third" data-href="business Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Save</button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="width100 menu1 float-left tab-pane fade">

                            <div class="switch-history-table swichhistory-second boxback-allpage-admin">
                                <div class="table-responsive " style="width:100%;">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr style="background:#f9f9f9;">
                                                <th>Benefit&nbsp;Holder</th>
                                                <th>Refferal&nbsp;Type</th>
                                                <th>Got&nbsp;Benefit</th>
                                                <th>Received&nbsp;Date</th>
                                                <th>Raferral&nbsp;User</th>
                                                <th>Achieved&nbsp;Time </th>
                                                <th>Achieved&nbsp;Amount</th>
                                                <th>Sharing&nbsp;Type</th>
                                                <th>Sharing&nbsp;Value</th>
                                                <th>Pre&nbsp;&#8377;</th>
                                                <th>Post&nbsp;&#8377;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="mydivchange">
                                            <tr id="loads" style="display:none"><td colspan="3"></td><td><div class="loader"></div></td><td colspan="6"></td></tr>
                                            @*@foreach (var item in Model)
                                                {
                                                <tr data-toggle="modal" data-target="#m-d-fund-transfer">
                                                    <td>@item.ParrentRetailerName</td>
                                                    <td>@item.BenifitRecived</td>
                                                    <td>@item.RecivedDate</td>
                                                    <td>@item.childRetailerName</td>
                                                    <td>@item.RecivedDate</td>
                                                    <td>@item.BenifitRecived</td>
                                                    <td>@item.sharingtype</td>
                                                    <td>@item.sharingvalue</td>
                                                    <td>@item.PreParrentRetailerBalance</td>
                                                    <td>@item.PostParrentRetailerBalance</td>
                                                </tr>
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="menu3" class="width100 menu3 float-left tab-pane fade">

                            <div class="switch-history-table swichhistory-second boxback-allpage-admin">
                                <div class="table-responsive " style="width:100%;">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr style="background:#f9f9f9;">
                                                <th>Benefit&nbsp;Holder</th>
                                                <th>Refferal&nbsp;Type</th>
                                                <th>Raferral&nbsp;User</th>
                                                <th>Min.&nbsp;limit</th>
                                                <th>Sharing&nbsp;Type</th>
                                                <th>Sharing&nbsp;Value</th>
                                                <th>Category</th>
                                                <th>Start&nbsp;Date</th>
                                                <th>Exp.&nbsp;Time </th>
                                                <th>Repeat&nbsp;Benefit </th>
                                                <th>Purchase&nbsp;Type</th>

                                            </tr>
                                        </thead>
                                        <tbody id="mydivchange3">
                                            <tr id="loads3" style="display:none"><td colspan="3"></td><td><div class="loader3"></div></td><td colspan="6"></td></tr>
                                            @*@foreach (var item in Model)
                                                {
                                                <tr data-toggle="modal" data-target="#m-d-fund-transfer">
                                                    <td>@item.ParrentRetailerName</td>
                                                    <td>@item.BenifitRecived</td>
                                                    <td>@item.RecivedDate</td>
                                                    <td>@item.childRetailerName</td>
                                                    <td>@item.RecivedDate</td>
                                                    <td>@item.BenifitRecived</td>
                                                    <td>@item.sharingtype</td>
                                                    <td>@item.sharingvalue</td>
                                                    <td>@item.PreParrentRetailerBalance</td>
                                                    <td>@item.PostParrentRetailerBalance</td>
                                                </tr>
                                                }*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>

    document.querySelectorAll('[data-component~="body_sidebar"]').forEach((button) => {
        button.addEventListener("click", function () {
            document.getElementById(this.dataset.target).classList.toggle("body_sidebar_active");
        });
    });

</script>




<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<script>
    $(document).ready(function () {
        $(".sweet-alert").addClass("fullbodydycolorbg");
    });
</script>
<script>
    function Editmode(id) {

          $.ajax({
            url: '@Url.Action("PaidServicesChargeByID","Home")',
              data: {id:id},

              success: function (data) {
                  $('#paidservicetbl').html(data);
            }
        });
    }

</script>

<script>
    $(document).ready(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

<script>


    $("#deactive-reffrasl").click(function () {
        $('#status123').val("Y")
        $("#active-reffrasl").show();
        $(this).hide();
    });
    $("#active-reffrasl").click(function () {
        $('#status123').val("N")
        $("#deactive-reffrasl").show();
        $(this).hide();
    });

    $("#limit123").change(function () {
        var selectvalue = $(this).find(":selected").val();
        $("#showvalueid").html(selectvalue);
    });

    $("#tnSave").click(function () {
        $("#tnSave").hide();
        $("#Editbutton").show();
        $(".loaderclick").hide();
        $(".loaderclickspiner").show();
        setTimeout(function () { $(".loaderclick").show(); }, 3000);
        setTimeout(function () { $(".loaderclickspiner").hide(); }, 3000);

        $("#limit123").hide();
        $("#showvalueid").show();

    });
    $("#Editbutton").click(function () {
        $("#tnSave").show();
        $("#Editbutton").hide();
        $("#limit123").show();
        $("#showvalueid").hide();


    });
    function togglereferrel(status) {
        $.ajax({
            url: '@Url.Action("Refferal_Status", "Home")',
            method: 'GET',
            data: {status123: status },
            success: function ({ data }) {
                $('#status123').val(data.status)
          }
        });
    }

    function Rerffaralse() {
        $('.body.body-one').hide()
        $.ajax({
            url: '@Url.Action("ReferrelLimit", "Home")',
            method: 'GET',
            success: function ({ data }) {
                if (!data) {
                    data = { status: 'Y', limit : '3'};
                }
                if (!data?.status) data.status = 'Y';
                if (!data?.limit) data.limit = '3';

                $('#limit123').val(data.limit)

                if (data.status == "Y") {
                    $('#status123').val(data.status)
                    $('#active-reffrasl').show()
                    $('#deactive-reffrasl').hide();
                    $('#showvalueid').show();
                    $('#limit123').hide();
                    $('#showvalueid').html(data.limit);
                }
                else {
                    $('#status123').val(data.status)
                    $('#active-reffrasl').hide()
                    $('#deactive-reffrasl').show();
                    $('#showvalueid').show();
                    $('#limit123').hide();
                    $('#showvalueid').html(data.limit);
                }

            }
        })
    }

</script>





<script>
    function refferalsetup(numberee,statuss) {
         $.ajax({
            url: '@Url.Action("Refferal_Setting", "Home")',
             type: 'POST',
             data: { status123: statuss, limit123: numberee},
            cache: false,
            success: function (dlmresponse) {

                $('#refferalsetinpartial').html(dlmresponse);
            }
        });
    }
</script>

<script>

    $('.tablchangess').click(function () {
        $('#loads').show();

        $.ajax({


            url:"@Url.Action("SetRefferedList","Home")",
            success: function (data) {

                $('#loads').hide();
                $("#mydivchange").html(data);


            }



        })




    })
</script>

<script>

    $('.tablchangess3').click(function () {
        $('#loads3').show();

        $.ajax({


            url:"@Url.Action("RefferedListofrrefer", "Home")",
            success: function (data) {

                $('#loads3').hide();
                $("#mydivchange3").html(data);

            }
        })
    })
</script>

@*<script>
        $(function () {
            $('#toggle-event').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        })
    </script>*@

<script>
    function DeleteRefferedCode(type) {
        $.ajax({

            url: "DeleteReferedCode",
            data: { type: type },
            success: function (data) {
                if (type == "Purchases Basis") {
                    $('.ulpurchaseshow').show();
                    $('.ulpurchasenotshow').hide();
                    $('#purchasetype').hide();
                    $('#purchred').show()
                    $('#purchgreen').hide();
                }
                if (type == "business Basis") {
                    $('.ulbussnessshow').show();
                    $('.ulbussnessnotshow').hide();
                    $('#busnesstype').hide();
                    $('#busnessred').show()
                    $('#busnessgreen').hide();

                }

            }




        })
    }
</script>





<script>


    $(document).ready(function () {

            $.ajax({

            url: "@Url.Action("CHKSTATSETREFFEREDONTIME")",
         //   data: { name: $(status).prop('checked') },
            success: function (data) {

                if (data == "Purchases Basis") {
                    $('#purchgreen').show();
                    $('#busnessred').show()

                }
                else if (data == "business Basis") {
                    $('#busnessgreen').show();
                      $('#purchred').show()

                }
                else  {

                    $('#purchred').show()
                    $('#busnessred').show()
                }

            }


        })
    });


</script>


<script>
    function Chkstatusonoffpurch(type, status) {

         $.ajax({

            url: "@Url.Action("CHKSTATSETREFFERED")",
            data: { name: type,status:status },
            success: function (data) {

                if (data == "Erroe") {

                       $('#purchred').show()

                }
                else {
                    $('#purchgreen').show();
                    $('#purchred').hide()
                    $('#busnessred').show()
                    $('#busnessgreen').hide();
                }

            }


        })
    }

    function Chkstatusonoff(type,status) {

        $.ajax({

            url: "@Url.Action("CHKSTATSETREFFERED")",
             data: { name: type,status:status},
            success: function (data) {

                if (data == "Erroe") {
                    // $('#toggle-event').prop('checked', false)
                    //  $('#purchgreen').show();
                    $('#busnessred').show()
                }
                else {
                    $('#busnessgreen').show();
                    $('#busnessred').hide()
                    $('#purchred').show()
                    $('#purchgreen').hide();
                }

            }


        })

    }
</script>
<script>
    $('#btneditdataBusnessedit').click(function () {

          var type=$('#btneditdataBusnessedit').attr('data-href')
           $.ajax({
        url: "@Url.Action("InsertRefferalsettingEditdata")",
        type: "POST",
        data: {
            reftype: type, minlimit: $('#txtbusslimit').val(), noofday: $('#txtbusnessnoofday').val(), sharingtype: $('#ddlbusnesssharingtype').val(),
            sharingvalue: $('#txtbusnessssharingvlaue').val(), catetype: $('#busscatetype').val(), totalcount: $('#txtbusnessstotalcount').val()

        },
        success: function (data) {

            //  console.log(data); // data object will return the response when status code is 200$
            $('.ulbussnessshow').show();
            $('.ulbussnessnotshow').hide();
              fillDivTable();
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
            //console.log("error"); //otherwise error if status code is other than 200.
        }
    });

    })

</script>

<script>
    $('#btneditdatapurchaseedit').click(function () {

           var type=$('#btneditdatapurchaseedit').attr('data-href')
           $.ajax({
        url: "@Url.Action("InsertRefferalsettingEditdata")",
        type: "POST",
        data: {
            reftype: type, minlimit: $('#txtpurchaselimit').val(), noofday: $('#txtpurchasenoofday').val(), sharingtype: $('#ddlpurchsharingtype').val(),
            sharingvalue: $('#txtpurchassharingvlaue').val(), catetype: $('#busscatetype').val(), totalcount: $('#txtpurchastotalsharingvalue').val()

        },
        success: function (data) {

            $('.ulpurchasenotshow').hide();
            $('.ulpurchaseshow').show();
            //  console.log(data); // data object will return the response when status code is 200
              fillDivTable();
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
            //console.log("error"); //otherwise error if status code is other than 200.
        }
    });





    })





</script>

<script>
    $('#btneditdatapurchase').click(function () {
        var type=$('#btneditdatapurchase').attr('data-href')
          $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {

                   if (data.purchaseBasic.ReferalType === type) {

                       $('#txtpurchaselimit').val(data.purchaseBasic.minimiumimit)
                       $('#txtpurchasenoofday').val(data.purchaseBasic.expnoofday)
                       $('#ddlpurchsharingtype').val(data.purchaseBasic.SharingType)
                       $('#txtpurchassharingvlaue').val(data.purchaseBasic.SharingValue)
                       $('#txtpurchastotalsharingvalue').val(data.purchaseBasic.benifitrepeat)
                         $('.ulpurchaseshow').hide();
                       $('.ulpurchasenotshow').show();
                        $('.ulbussnessshow').show();
                    $('.ulbussnessnotshow').hide();

                  }
                  //if (data.BusnewwBasic != null) {
                  //    $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                  //    $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                  //    $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                  //    $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                  //    $('#spncategry').text(data.BusnewwBasic.category)

                  //}
              }


                })



    })


    $('#btneditbusness').click(function () {


         var type=$('#btneditbusness').attr('data-href')
          $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {

                   if (data.BusnewwBasic.ReferalType === type) {
                        $('.ulbussnessshow').hide();
                       $('.ulbussnessnotshow').show();
                        $('.ulpurchaseshow').show();
                    $('.ulpurchasenotshow').hide();
                       $('#txtbusslimit').val(data.BusnewwBasic.minimiumimit)
                       $('#txtbusnessnoofday').val(data.BusnewwBasic.expnoofday)
                       $('#ddlbusnesssharingtype').val(data.BusnewwBasic.SharingType)
                       $('#txtbusnessssharingvlaue').val(data.BusnewwBasic.SharingValue)
                       $('#txtbusnessstotalcount').val(data.BusnewwBasic.benifitrepeat)
                       $('#busscatetype').val(data.BusnewwBasic.category)

                  }
                  //if (data.BusnewwBasic != null) {
                  //    $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                  //    $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                  //    $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                  //    $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                  //    $('#spncategry').text(data.BusnewwBasic.category)

                  //}
              }


                })




    })
</script>


@*<script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("GetRefferalSetting")",

     })
    });
    </script>*@
<script>
    function fillDivTable() {


           $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {
                   $('#busnesstype').hide();
                   $('#purchasetype').hide();

                   if (data.purchaseBasic != null) {
                       $('#purchasetype').show();
                      $('#spnbusneww').text(data.purchaseBasic.minimiumimit)
                      $('#expnoofday').text(data.purchaseBasic.expnoofday)
                      $('#spansharingtypes').text(data.purchaseBasic.SharingType)
                      $('#spnsharingvalue').text(data.purchaseBasic.SharingValue)
                       $('#spntotalsharingvalue').text(data.purchaseBasic.benifitrepeat)
                  }
                   if (data.BusnewwBasic != null) {
                       $('#busnesstype').show();
                      $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                      $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                      $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                      $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                      $('#spncategry').text(data.BusnewwBasic.category)
                       $('#spntotalbusness').text(data.BusnewwBasic.benifitrepeat)

                  }
              }


                })



    }

    $(document).ready(function () {

        fillDivTable();



    })



    $("#newsletter-form").on("submit", function (event) {
        event.preventDefault();

 //   var newsletter_email = $("#footer-grid1-newsletter-input").val();
 //   var targeted_popup_class = jQuery(this).attr('data-popup-open');
        var reffertype=$("#changereferraltype option:selected").text();
    $.ajax({
        url: "@Url.Action("InsertRefferalsetting")",
        type: "POST",
        data: {
            reftype: reffertype, minlimit: $('#txtminimiumpurchase').val(), noofday: $('#txtexpnoofday').val(), sharingtype: $('#ddlsharingtype').val(),
            sharingvalue: $('#txtSharingValue').val(), catetype: $('#catetype').val(), ddlReferalcode: $('#ddlReferalcode').val()

        },
        success: function (data) {

            //  console.log(data); // data object will return the response when status code is 200
            if (data == "Success") {
                $('#lblmsg').text(data)


        fillDivTable();

            }
            else {

                  $('#lblmsg').text(data)
            }
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
            //console.log("error"); //otherwise error if status code is other than 200.
        }
    });
    // your code...
});



</script>

<script>

    function changereferral(value) {

        var res = $(value).val();
        if (res == 1) {
            $('#lblpurc').show()
            $('#lblbusness').hide();
            $('.purchase-basis').show();
            $('.business-basis').hide();
            $(".purchase-type").show();
        }
        else if (res == 2) {

            $('.purchase-basis').hide();
            $('.business-basis').show();
            $('#lblpurc').hide()
            $('#lblbusness').show();
            $(".purchase-type").hide();
        }
    }

</script>

<style>

    .loader {
        /*border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;*/
        border - radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0 % {
            - webkit - transform: rotate(0deg);
        }

        100% {
            -webkit - transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0 % {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>