@model IEnumerable<Vastwebmulti.Areas.ADMIN.ViewModel.Sending_SMS_TemplatesViewmodel>
@{
    ViewBag.Title = "Set_target";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }

    .errorss {
        color: #fff;
        background: red;
        width: 100%;
    }

    .errorss1 {
        color: #fff;
        background: green;
        width: 100%;
    }

    #showinformation .col-md-12, #DIstribotorshowinformation .col-md-12, #Retailershowinformation .col-md-12 {
        border-bottom: 1px solid #bbb;
        margin: 0px 3% !important;
        width: 94%;
        margin-bottom: 6px !important;
        padding: 0px !important;
        padding-bottom: 10px !important;
    }

        #showinformation .col-md-12 button, #DIstribotorshowinformation .col-md-12 button, #Retailershowinformation .col-md-12 button {
            margin-top: 20px;
        }

        #showinformation .col-md-12 label:last-child, #DIstribotorshowinformation .col-md-12 label:last-child, #Retailershowinformation .col-md-12 label:last-child {
            text-align: right;
            font-weight: 800;
        }

    .fund-trasfer-right .tab-content {
        height: 80vh;
    }

    input[type="password"] {
        background-color: transparent;
        border: 1px solid var(--main-bg-lcolor);
        box-shadow: none;
    }
</style>


<style type="text/css">

    @@keyframes ldio-zdyd6mf6t5 {
        0% {
            top: 96px;
            left: 96px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 18px;
            left: 18px;
            width: 156px;
            height: 156px;
            opacity: 0;
        }
    }

    .ldio-zdyd6mf6t5 div {
        position: absolute;
        border-width: 4px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        animation: ldio-zdyd6mf6t5 1s cubic-bezier(0,0.2,0.8,1) infinite;
    }

        .ldio-zdyd6mf6t5 div:nth-child(1) {
            border-color: #e90c59
        }

        .ldio-zdyd6mf6t5 div:nth-child(2) {
            border-color: #46dff0;
            animation-delay: -0.5s;
        }

    .loadingio-spinner-ripple-92ar2pfqk5j {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-zdyd6mf6t5 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-zdyd6mf6t5 div {
            box-sizing: content-box;
        }
</style>


<style>
    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        width: 100%;
        padding-left: 40px;
    }

    .custom-district1 {
        position: relative;
    }

        .custom-district1::before {
            content: '';
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            position: absolute;
            right: 8px;
            top: 13px;
        }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
        padding: 0px 20px
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

        .for-change-fund select {
            width: 220px !important;
            height: 30px;
        }

        .for-change-fund .select2.select2-container.select2-container--default {
            width: 220px !important;
            text-align: left;
        }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 30px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -1px;
        line-height: 36px;
    }

    @@media only screen and (min-width:481px) and (max-width:991px) {
        .fund-transfer-form {
            height: auto;
        }

        .fund-trasfer-right ul.nav-tabs li, .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
            float: left;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in {
            width: 50% !important;
            text-align: left;
            float: left;
        }

            .fund-trasfer-right .nav-tabs li:nth-child(2) .li-left-in button {
                width: 97%;
                margin-top: 10px;
            }

        .col-md-8.for-padd {
            padding-left: 15px !important;
        }

        #masterdrop span, #dealerdrop span, #retailerdrop span {
            width: 100% !important;
        }

        #masterdrop, #dealerdrop, #retailerdrop {
            width: 50%;
            float: right;
        }

        .fund-trasfer-right .nav-tabs li:first-child a {
            padding-right: 0px !important;
            margin: 0px;
        }

        .fund-trasfer-right ul {
            padding: 10px 10px;
            float: left;
            width: 100%;
            position: relative;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            padding: 0px 10px;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(3) {
            width: 50% !important;
            position: absolute;
            bottom: 10px;
            left: 51%;
        }

        .fund-trasfer-left .col-md-12.col-sm-12.col-xs-12 {
            width: 50%;
            float: left;
        }

            .fund-trasfer-left .col-md-12.col-sm-12.col-xs-12 button {
                float: left !important;
            }
    }

    @@media screen and (max-width:766px) {
        .marginmains-third {
            margin-top: -5px;
        }
    }

    @@media only screen and (max-width:480px) {
        .fund-user-left.fund-trasfer-left .nav-tabs li {
            width: 100%;
            border-bottom: 2px solid #fff;
        }

        .fund-transfer-form {
            height: auto;
            margin-bottom: 15px;
        }

        .for-padd {
            padding-left: 15px !important;
        }

        .fund-trasfer-right .nav-tabs li:first-child {
            width: 100% !important;
        }

        .for-un {
            margin-left: 0px !important;
            padding: 0px 10px;
        }

        .fund-trasfer-right .nav-tabs li:nth-child(2) {
            width: 100% !important;
        }

        .for-un .fund-t-dalear .col-md-5 {
            width: 50%;
            float: left;
        }

        .for-un .fund-t-dalear .col-md-2 {
            width: 45%;
            float: left;
            margin-top: 3px;
        }

            .for-un .fund-t-dalear .col-md-2 button {
                width: 100%;
            }

        .for-un .fund-t-dalear {
            padding-left: 15px;
        }

        #masterdrop, #dealerdrop, #retailerdrop, #apidrop, #whitedrop {
            float: right;
        }

        .fund-trasfer-right ul {
            position: relative;
            padding-bottom: 5px;
        }

        .for-export {
            position: absolute !important;
            bottom: 5px;
            right: 8px;
        }

        .fund-trasfer-left .nav-tabs li a {
            border-right: 0px !important;
        }

        .tablesearch-second-fullthird {
            width: 100% !important;
            float: left;
            margin-bottom: 8px;
        }

        .marginmains-third {
            margin-top: 0px;
        }

        .third-design ul.tab-third-design li.active::after {
            display: none !important;
        }

        .third-design .second-header-third .col-md-6.tablesearch-second {
            margin-bottom: 8px !important;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/img/right-arrow2.svg" alt="right-arrow" style="width:17px;margin-top:-3px;">
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home" )#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic&nbsp;Setting
                    </a>&nbsp;<img src="~/img/right-arrow2.svg" alt="right-arrow" style="width:17px;margin-top:0px;">
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Set SMS Templates
                </li>
            </ul>

            <div class="col-md-6 tablesearch-second" style="padding: 0px;margin-bottom:15px;width:30%;float:right;">
                <div class="search-after-third">

                    <input id="searchSms" type="text" style="float: right;height:32px;border:1px solid;width:100%;" placeholder="Search..." onkeyup="myFunction()" />
                </div>
            </div>

        </div>

        <div class="col-md-12">

            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="fund-trasfer-left fund-user-left">
                        <ul class="nav nav-tabs fullbodydycolorbg1 tab-seconddesign tab-third-design" id="tabs">
                            <li class="tab-link tabChangeType active" data-tabname="Master" data-href="~/ADMIN/Home/MDTODealer?tabtype=Master" current="" active"="" data-tab="tab-1" style="width:100% !important;">
                                <a data-toggle="tab" href="#home" aria-expanded="true">SET&nbsp;&nbsp;Templates</a>
                            </li>



                        </ul>

                        <div class="width100 float-left tabcurrent-seconddesign input-border-third only-select-third">

                            <div id="home" class="width100 float-left tab-pane fade active in">
                                @using (Ajax.BeginForm("Save_SMS_Templates", "Home",
                                    new AjaxOptions
                                    {
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "outer-loader",
                                        UpdateTargetId = "tblshowMasterD"


                                        // LoadingElementId = "progress"
                                    }))
                                {
                                    <div class="fund-transfer-form" id="frmdata">

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>
                                                Select API
                                            </label>
                                            <div>
                                                <div class="custom-district1">
                                                    @Html.DropDownList("ddlAPIfill", ViewBag.spsmsmmmsdsd as IEnumerable<SelectListItem>, "Select SMS API", new { @class = "for-select2" })


                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>
                                                Select  SMS TYPE
                                            </label>
                                            <div>
                                                <div class="custom-district1">
                                                    <select id="idst" name="idst" required class="for-select2">
                                                        <option value="">Select SMS TYPE</option>
                                                        <option value="FUNDTRANSFERMESSAGE_CREDIT">FUND TRANSFER MESSAGE_CREDIT</option>
                                                        <option value="FUNDTRANSFERMESSAGE_CASH">FUND TRANSFER MESSAGE_CASH</option>
                                                        <option value="MONEYTRANSFERMANUALMONEYSUCCESS">MONEY TRANSFER MANUAL MONEY SUCCESS</option>
                                                        <option value="MONEYTRANSFERMANUALMONEYFAILEDDUETO">MONEY TRANSFER MANUAL MONEY FAILED DUETO</option>
                                                        <option value="MONEYTRANSFERMANUALMONEYFAILED">MONEY TRANSFER MANUAL MONEY FAILED</option>
                                                        <option value="ADMIN_CREATE_NEW_USERS">ADMIN_CREATE_NEW_USERS</option>
                                                        <option value="STATUSSENDSMSMASTER_NEW_DEALER">STATUS SEND SMS MASTER_NEW_DEALER</option>
                                                        <option value="ADMIN_CREATE_NEW_RETAILER">ADMIN_CREATE_NEW_RETAILER</option>
                                                        <option value="STATUSSENDSMSDEALER_NEW_RETAILER">STATUS SEND SMS DEALER_NEW_RETAILER</option>
                                                        <option value="NEWEMPLOYEECREATES">NEW EMPLOYEE CREATES</option>
                                                        <option value="ADMINAEPSTRANSACTIONSUCCESS">ADMIN AEPS TRANSACTION SUCCESS</option>
                                                        <option value="ADMINAEPSTRANSACTIONFAILED">ADMIN AEPS TRANSACTION FAILED</option>
                                                        <option value="SENDSMSMASTERTODLMFUNDTRANSFERMSGCASH">SEND SMS MASTER TO DLM FUNDTRANSFER MSG CASH</option>
                                                        <option value="SEND_SMS_CREDIT_RECEIVEDBY">SEND_SMS_CREDIT_RECEIVEDBY</option>
                                                        <option value="SEND_SMS_CREDIT_TRANSFERREDTO">SEND_SMS_CREDIT_TRANSFERREDTO</option>
                                                        <option value="FUNDTRANSFERBALANCETRANSFER">FUND TRANSFER BALANCE TRANSFER</option>
                                                        <option value="UPITRANSFERSUCCESSFULLY">UPI TRANSFER SUCCESSFULLY</option>
                                                        <option value="UPITRANSFERFAILED">UPI TRANSFER FAILED</option>
                                                        <option value="SELF UPI INSERT OTP">SELFUPIINSERTOTP</option>
                                                        <option value="TOKENOTPFORIPADDRESS">TOKENOTPFORIPADDRESS</option>
                                                        <option value="WALLETUNLOADPROCESSEDSUCCESSFULLY">WALLETUNLOADPROCESSEDSUCCESSFULLY</option>
                                                        <option value="RECHARGEDISTRIBUTORREMAINBALLOW">RECHARGEDISTRIBUTORREMAINBALLOW</option>
                                                        <option value="RECHARGETIMEDIFF">RECHARGETIMEDIFF</option>
                                                        <option value="RECHARGEMINIMIUM">RECHARGEMINIMIUM</option>
                                                        <option value="RECHARGECAPPINGLOW">RECHARGECAPPINGLOW</option>
                                                        <option value="RECHARGERETAILERREMAINBALANCELOW">RECHARGERETAILERREMAINBALANCELOW</option>
                                                        <option value="RECHARGERETAILEROPERATORBLOCK">RECHARGERETAILEROPERATORBLOCK</option>
                                                        <option value="RECHARGEDISTRIBUTOROPERATORBLOCK">RECHARGEDISTRIBUTOROPERATORBLOCK</option>
                                                        <option value="RECHARGEOPERATORBLOCK">RECHARGEOPERATORBLOCK</option>
                                                        <option value="RECHARGERETAILERIDBLOCK">RECHARGERETAILERIDBLOCK</option>
                                                        <option value="RECHARGEDEALERIDBLOCK">RECHARGEDEALERIDBLOCK</option>
                                                        <option value="RECHARGESUCCESS">RECHARGESUCCESS</option>
                                                        <option value="RECHARGEFAILED">RECHARGEFAILED</option>
                                                        <option value="RECHARGEPENDING">RECHARGEPENDING</option>
                                                        <option value="PASSCODEOTP">PASSCODEOTP</option>
                                                        <option value="VERYFYPROFILESUSERSOTP">VERYFYPROFILESUSERSOTP</option>
                                                        <option value="RETAILERTORETAILERFROMFUNDTRANSFER">RETAILERTORETAILERFROMFUNDTRANSFER</option>
                                                        <option value="RETAILERTORETAILERTOFUNDTRANSFER">RETAILERTORETAILERTOFUNDTRANSFER</option>
                                                        <option value="PaymentConfirmationIMSPSMOBILEOTP">PaymentConfirmationIMSPSMOBILEOTP</option>
                                                        <option value="IMPSPAYMENTSUCCESSFULLY">IMPSPAYMENTSUCCESSFULLY</option>
                                                        <option value="IMPSPAYMENTFAILED">IMPSPAYMENTFAILED</option>
                                                        <option value="OTPFOR_AEPS_AADHARPAY">OTP FOR_AEPS_AADHARPAY</option>
                                                        <option value="SECURITYCODEIS">SECURITY CODE IS</option>
                                                        <option value="FUNDTRANSFERCREDITRECIVEDBYADMIN">FUND TRANSFER CREDIT RECIVEDBY ADMIN</option>
                                                        <option value="RETAILERPINCHANGE">RETAILER PIN CHANGE</option>
                                                        <option value="RETAILERPINCHANGE">RETAILER PIN CHANGE</option>
                                                        <option value="PROFILEUPDATEDSUCCESSFULLY">PROFILE UPDATED SUCCESSFULLY</option>
                                                        <option value="NEWPASSWORDIS">NEW PASS WORD IS</option>
                                                        <option value="RESPNSEMONEYTRANSFERMANUALMONEYFAILEDDUETO">RESPNSEMONEYTRANSFERMANUALMONEYFAILEDDUETO</option>
                                                        <option value="CHANGE_MOBILE_NUMBER">CHANGE_MOBILE_NUMBER</option>
                                                        <option value="CHANGE_EMAILID">CHANGE_EMAILID</option>
                                                        <option value="Register_MOBILE_SIGNUP">Register_MOBILE_SIGNUP</option>
                                                        <option value="NEWPASSOWRD_WITHWEBURL">NEW PASSOWRD_WITH WEB URL</option>
                                                        <option value="APIPURCHASE">API PURCHASE</option>
                                                        <option value="PAYBYUPISUCCESS">PAY BY UPI SUCCESS</option>


                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Template ID </label>
                                            <div>
                                                <input type="text" id="txttemplate_id" required name="txttemplate_id" placeholder="Enter Template ID" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Templates Formate </label>
                                            <div>
                                                <textarea id="txttemplateformate" required name="txttemplateformate" rows="4" cols="50" placeholder="Enter Formate of Template"> </textarea>
                                            </div>
                                        </div>



                                        <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                            <label class="errorss"></label>
                                            <label class="errorss1"></label>
                                            <div>
                                                <button type="submit" id="btnnshowmaster" class="fullbodydycolorbg btn-first button-third" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                                    <span style="color:#fff;position:relative;">Save</span>
                                                </button>
                                            </div>
                                        </div>


                                    </div>

                                }
                            </div>


                        </div>
                        <div id="outer-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 15px;left: 15px;bottom: 0px;top: 0px;display:none;">
                            <div id="loader" style="position: absolute; right: 30%; top: 50%; transform: translate(0%, -50%);">
                                <div class="loadingio-spinner-ripple-92ar2pfqk5j">
                                    <div class="ldio-zdyd6mf6t5">
                                        <div></div><div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8 for-padd" style="padding-left:0px;">
                    <div class="fund-trasfer-right fund-user-right">

                        <div id="tab-1" class="width100 float-left tab-content current" style="padding:0px;">

                            <ul class="nav nav-tabs">


                                <li class="tab-link current active" data-tab="tab-1" style="width:40%;border-right:0px;">
                                    <a data-toggle="tab" aria-expanded="true" style="padding:3px 10px;padding-bottom: 1px;">
                                        <label class="for-change-fund" style="color:#000;font-weight:400;">
                                            <span class="fund-fistory">History<sub class="tmw-total-color-one fullbodydycolorbg">Fund Transfer</sub></span><i class="fa fa-caret-down" aria-hidden="true"></i>
                                            @*<div id="masterdrop">
                                                    <select class="for-select2 select2-hidden-accessible" id="SuperstokistID1" name="DdlfilMasterID" required="required" tabindex="-1" aria-hidden="true">
                                                        <option value="">--Select--</option>
                                                        <option value="142f2f73-b114-49fc-abe1-6e1ed71865f3">Aasha Digital India</option>

                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 220px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-SuperstokistID1-container"><span class="select2-selection__rendered" id="select2-SuperstokistID1-container" title="--Select--">--Select--</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>*@
                                            @*<div id="dealerdrop" style="display:none;">
                                                    <select id="ddlDistributor1" name="ddlDistributor1" class="for-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                        <option value="">Select DD Name</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 222.222px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ddlDistributor1-container"><span class="select2-selection__rendered" id="select2-ddlDistributor1-container" title="Select DD Name">Select DD Name</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                                <div id="retailerdrop" style="display:none;">
                                                    <select id="RLMID1" name="RLMID1" class="for-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                        <option value="">Select Retailer Name</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 222.222px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-RLMID1-container"><span class="select2-selection__rendered" id="select2-RLMID1-container" title="Select Retailer Name">Select Retailer Name</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>*@

                                        </label>
                                    </a>
                                </li>

                                <li style="width:45%;border-right:0px;">
                                    <div class="for-un" style="width: 100%;margin-top:3px;margin-left: 8px;">
                                        <div class="row fund-t-dalear">

                                            @*<div class="col-md-5 li-left-in" style="padding-left: 0px;">
                                                    <div class="custom-date-icon" style="height: 32px;">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                    </div>
                                                    <input type="datetime" id="txt_frm_date" name="txt_frm_date">
                                                </div>*@
                                            @*<div class="col-md-5 li-left-in" style="padding-left: 0px;">
                                                    <div class="custom-date-icon" style="height: 32px;">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                    </div>
                                                    <input type="datetime" id="txt_to_date" name="txt_to_date">
                                                </div>*@
                                            @*<div class="col-md-2 li-left-in" style="padding:0px;">
                                                    <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding: 0px 6px;float: left;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                        Search

                                                    </button>
                                                </div>*@





                                        </div>
                                    </div>
                                </li>
                                <li class="for-export" style="width:auto;float:right;margin-top:3px;">
                                    <div class="web-white-filter fil pdfexpoer-second" style="float: left;margin-right: 5px;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #7b7777;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 20px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #7b7777;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;">
                                    </div>
                                </li>
                            </ul>
                            <div id="tblshowMasterD" class="table-responsive " style="width:100%;padding: 4px 4px;">

                                @Html.Partial("_SMS_TEMPLATE_Reports", Model)


                            </div>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                                <img src="~/img/ajax-loader.gif">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>

    function DeleteTemplate(idno) {

        $('.clssresetshow').show();
        $('.clssresetnotshow').hide();

        var showid = "#show-" + idno;
        var Notshowid = "#Notshow-" + idno;

       $(showid).hide();
     $(Notshowid).show();

    }



    function ConfirmDeleteTemplate(idno) {

        $('.clssresetshow').show();
        $('.clssresetnotshow').hide();

        var showid = "#show-" + idno;
        var Notshowid = "#Notshow-" + idno;

        $(showid).hide();
        $(Notshowid).show();


          $.ajax({
              url: "@Url.Action("DeleteTemplatebyid")",
            data: { id: idno },
            type: 'POST',
              success: function (result) {
                  $('#tblshowMasterD').html(result);

            }
        });




    }





</script>
<script>

    $(function () {
        $('.copy-to-clipboard').click(function () {

            var idno = $(this).data("idss")
            var txtcurent = "#txt-" + idno;
            $(txtcurent).focus();
            $(txtcurent).select();
            document.execCommand('copy');
            toastr.success('Copied to clipboard', 'Success')
            /*  $(".copied").text("Copied to clipboard").show().fadeOut(1200);*/
        });
    });




    //function myFunction(idno) {
    //
    //    var myInput = "#mycopytext-" + idno
    //    var copyText = $(myInput);
    //    copyText[0].select();
    //    copyText[0].setSelectionRange(0, 99999)
    //    document.execCommand("copy");
    //  //  alert("Copied the text: " + copyText[0].value);
    //  //  window.clipboardData.setData('Text', copyText[0].value);
    //}
</script>


@*<script>
        $(function () {

            $.ajax({
                url: "@Url.Action("GET_ALL_Template_list")",
                type: 'POST',
                success: function (result) {

                        if (result.Data.length > 0) {
                            alert(result.Message);
                            // CODE FOR HANDLEBARS
                            var HandlerbarTemplate = $("#tbldata").html(); // GET TEMPLATE

                            var EmployeeDetailHTML = CompileHtml({ EmployeeDetail: result.Data }); //SET RECORD LIST TO HANDLEBARS OBJECT
                            $('#tblshowMasterD').html(EmployeeDetailHTML); // APPEND HTML TO TABLE BODY
                        }
                        else {
                         //   alert(result.Message);
                        }

                }
            });
        });
    </script>*@


<script>
    $('.for-select2').select2();
</script>
<script>

    $(function () {

        // Initialize select2
        $("#select").select2();


    });


</script>

<script>
    $("#btnExport").click(function () {
        var url = '@Url.Action("Generate_Excel_Setting_SMS_TEMPLATE", "Home")';
        location.href = url;
    });
</script>






<script>
    $('#searchSms').on('keyup', (e) => {

        var value = e.target.value.toLowerCase();
        $("#tbldata tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    })
</script>