@model IEnumerable<Vastwebmulti.Models.Showrem_UPIREQ_Result>
@{
    ViewBag.Title = "Show_ManualUPI_REQ";
    var errors = Convert.ToString(TempData["GETSTATUS"]);
    if (!string.IsNullOrEmpty(errors))
    {


        if (errors == "APPROVED")
        {
            <script>

            alert('@errors');
            </script>
        }
        else
        {

            <script>

            alert('@errors');
            </script>



            @*<script>
                      var res=@errors;
                    alert(res)
                </script>*@

        }

    }
}

<style>

    section.content {
        background-color: white;
        margin: 29px 0px 0 164px;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .datepicker-dropdown.datepicker {
        margin-top: 20px !important;
    }

    .custom-date-icon {
        border-color: #bbb !important;
        left: 4px;
    }

        .custom-date-icon i {
            left: 5px;
        }

        .custom-date-icon.ner2 {
            left: 2px;
        }

    .show-manual-req select {
        height: 32px;
    }

        .show-manual-req select:focus {
            border-color: #bbb;
        }

    .show-manual-report table tr td img {
        height: 20px;
        width: 20px;
        margin-right: 3px;
        float: left;
        border-radius: 50%;
        padding: 3px;
    }

    .show-manual-report table tr td {
        padding: 8px 5px;
    }

    @@media screen and (max-width:766px) {
        .show-manual-ul {
            width: 100% !important;
            float: left;
        }

        .bread-same-all-page.dust-gr-terw.breadsameall-second.classbottomo-third {
            padding-left: 0;
        }

        .show-manual-alloption {
            width: 100% !important;
            float: left;
        }

            .show-manual-alloption .col-md-5, .show-manual-alloption .col-md-2 {
                float: left;
            }

            .show-manual-alloption .input-daterange {
                width: 65% !important;
            }

            .show-manual-alloption .show-manual-req {
                width: 25% !important;
            }

            .show-manual-alloption .input-daterange {
                width: 75% !important;
            }

            .show-manual-alloption .col-md-5 {
                width: 37%;
            }

        .col-md-1.re-treyop.pdf-lastclass-third.pdf-lastclass-third-responsive {
            margin-top: 15px;
        }
    }

    @@media screen and (max-width:420px) {
        .show-manual-alloption .show-manual-req select {
            font-size: 12px;
        }

        .show-manual-alloption .col-md-5 .custom-date-icon {
            display: none;
        }

        .show-manual-alloption .col-md-5 input {
            padding: 0px 3px !important;
            font-size: 12px;
        }

        .show-manual-alloption .col-md-2 button {
            font-size: 0;
            padding: 0 14px !important;
        }
    }
</style>

<h2>Show_ManualUPI_REQ</h2>



<section class="content cas-hdeposi-tcharge-page">
    <div class="container-fluid">
        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third">
            <div class="col-md-6 bread-same-all-page dust-gr-terw breadsameall-second classbottomo-third" style="margin-bottom: 10px;padding-right:0px;padding-left:0px;">
                <ul class="ulautopadd-third show-manual-ul" style="float: left;margin: 0px auto;width: auto;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Upi Payment Request
                    </li>
                </ul>
                @using (Html.BeginForm("Show_ManualUPI_REQ", "Home", FormMethod.Post))
                {
                    <div class="col-md-6 show-manual-alloption" style="float:right;width:auto;padding:0px;">
                        <div class="show-manual-req" style="width:auto;float:left;">

                            @Html.DropDownList("ddlstatus", new List<SelectListItem>
                                          {
                                  new SelectListItem{ Text="ALL",Value="ALL",},
                                  new SelectListItem{Text="PENDING",Value="PENDING"},
                                  new SelectListItem{Text="APPROVED",Value="APPROVED"},
                                  new SelectListItem{Text="REJECTED",Value="REJECTED"},
                                   }, new { @class = "form-control", @style = "margin-top:0px; padding:0px;text-align:left;" })


                        </div>
                        <div class="input-daterange" style="width:auto;float:left;padding-left:2px;">
                            <div class="col-md-5 li-left-in" style="padding-left: 4px;padding-right:2px;">
                                <div class="custom-date-icon ner" style="height: 32px;">
                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                </div>

                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border: 1px solid #bbb;width:100% !important;text-align:center; height: 32px;  padding: 0px 5px; width: 75%; padding-left: 40px;" })
                                @*<input type="datetime" style="border: 1px solid #bbb;width:100% !important;text-align:center; height: 32px;  padding: 0px 5px; width: 75%; padding-left: 40px;" id="txt_frm_date" name="txt_frm_date" />*@
                            </div>
                            <div class="col-md-5 li-left-in" style="padding-left: 2px;padding-right:2px;">
                                <div class="custom-date-icon ner2" style="height: 32px;">
                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                </div>
                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border: 1px solid #bbb;width:100% !important;text-align:center; height: 32px;  padding: 0px 5px; width: 75%; padding-left: 40px;" })
                                @*<input type="datetime" id="txt_to_date" name="txt_to_date" style="" />*@
                            </div>
                            <div class="col-md-2 li-left-in" style="padding:0px;padding-left:2px;">
                                <button type="submit" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="width:100%;padding: 0px 6px;float: left;border-radius: 0;border: 1px solid #bbbbbb;height: 32px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search" style="top:1px;font-size:14px;color:#555;" aria-hidden="true"></i>&nbsp;Search
                                </button>
                            </div>
                        </div>
                        <div class="col-md-1 re-treyop pdf-lastclass-third pdf-lastclass-third-responsive" style="padding-right:0px;float:right;width:auto;padding:0px;padding-left:4px;">
                            <div class="header" style="margin-top:0;padding:0px;width:100%;float:left;">



                                <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas" style="width:100%;float:left;">

                                    <div class="web-white-filter fil" style="float: left;margin-right: 4px;">
                                        <input type="button" id="btnExport" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;margin-right:4px;float:left;
                                padding-left: 20px;font-size:11px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:0px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                background-repeat: no-repeat;
                                background-position: 4px center;
                                padding-left: 19px;font-size:11px;">
                                    </div>
                                    <button class="white-success-button" style="float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;" onclick="findtotal()">Total</button>
                                </div>



                            </div>
                        </div>

                    </div>
                }
            </div>


        </div>
    </div>
    <div class="col-md-12">

        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="" style="">


                    <div class="three-page-same">
                        <div class="row clearfix" id="RetailerSRC">
                            <div class="col-md-12 col-sm-12 col-xs-12">


                                <div id="RetailerSearchList">
                                    <div class="table-responsive show-manual-report" style="width:100%;">
                                        <table class="table table-bordered table-striped table-hover third-design-table" style="background:#f5f5f5;">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>Current Status</th>
                                                    <th>Firm Name/Mobile</th>
                                                    <th>Amount</th>
                                                    <th>Bank RRN</th>
                                                    @*<th>Payer&nbsp;Mobile</th>*@
                                                    <th>VPA ID</th>
                                                    <th>Transaction&nbsp;Time</th>
                                                    <th>Request Date</th>
                                                    <th>Response Date</th>

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    var img = "";
                                                    var color = "";
                                                    if (item.status.ToUpper() == "APPROVED")
                                                    {
                                                        img = "../../ashok-images/correct.svg";
                                                        color = "green";
                                                    }
                                                    if (item.status.ToUpper() == "REJECTED")
                                                    {
                                                        img = "../../ashok-images/closes.svg";
                                                        color = "red";
                                                    }
                                                    if (item.status.ToUpper() == "PENDING")
                                                    {
                                                        img = "../../ashok-images/clkk.png";
                                                        color = "#FF9800";
                                                    }

                                                    <tr>
                                                        <td class="manual-report-status"><img src="@img" style="background:@color;" />@item.status</td>
                                                        <td>@item.Firmname</td>
                                                        <td>@item.amount</td>
                                                        <td>@item.Bankrrn</td>
                                                        @*<th>Payer&nbsp;Mobile</th>*@
                                                        <td>@item.sender_vpa</td>
                                                        <td>@item.transferdate</td>
                                                        <td>@item.requestdate</td>
                                                        <td>@item.responsedate</td>

                                                        <td>
                                                            @if (@item.status == "PENDING")
                                                            {
                                                                <button data-toggle="modal" data-target="#myModal" onclick="UPIRESPONSE('APPROVED', '@item.id')" style="background-color: transparent; color: black; border: none; margin-top: 0px;">
                                                                    <i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;" aria-hidden="true"></i>
                                                                </button>
                                                                <button data-toggle="modal" data-target="#myModal" onclick="UPIRESPONSE('REJECTED', '@item.id')" style="background-color: transparent; color: black; border: none; margin-top: 0px;">
                                                                    <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i>
                                                                </button>
                                                            }


                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                    </div><!--.three-page-same-->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ========   Wallet To Bank Charge Add New Modal  =============-->
<div id="myModal" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#bbb;">
                <h4 class="modal-title" id="defaultModalLabel"> Add UPI Charges</h4>
            </div>



            <div class="modal-body" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">

                    @using (Html.BeginForm("Update_UPID_REQ", "Home", FormMethod.Post))
                    {

                        <input type="hidden" id="hideupiidres" name="hideupiidres" />
                        <input type="hidden" id="hideupiidrestypes" name="hideupiidrestypes" />

                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Enter Transection Password</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtcode" name="txtcode" type="password" placeholder="Enter Transection Password" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer special-iii">
                            <button id="Saveotp" type="submit" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Enter Transection Password
                            </button>
                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>

                    }
                    <label id="lblmsg"></label>
                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl11">

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>



<script>
    $(document).ready(function()
    {
        $('.input-daterange').datepicker({

            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {

            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>
<script>
    function UPIRESPONSE(respon, id) {
        $('#hideupiidres').val(id);
        $('#hideupiidrestypes').val(respon);
    }

    @*$('#Saveotp').click(function () {


        $.ajax({
            url: '@Url.Action("Update_UPID_REQ")',
            dataType: "html",
            success: function (data) {
                $("#div_Loader").hide();
                $("#dataTable").html(data);
            },
            error: function () {
                $("#div_Loader").hide();
                alert("Error");
            }
        });

    })*@


</script>

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlstatus = $('#ddlstatus').val();
        var url = '@Url.Action("Excel_Show_ManualUPI_REQ", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlstatus=' + ddlstatus;
        location.href = url;
});
</script>