@model IEnumerable<Vastwebmulti.Models.closingbalance>
@using Vastwebmulti.Models
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .ss :hover {
        color: green;
    }

    .ff :hover {
        color: red;
    }

    .gift-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .gift-select {
        position: relative;
        padding: 0;
        width: auto;
    }

        .gift-select::before {
            content: '';
            border-bottom: 1px solid #555;
            border-left: 1px solid #555;
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            right: 10px;
            transform: rotate(-45deg);
            top: 11px;
        }

    .giftadmin-tableste tbody tr td, .giftadmin-tableste thead tr th {
        white-space: nowrap;
    }

        .giftadmin-tableste tbody tr td .row {
            margin: 0px;
        }

        .giftadmin-tableste tbody tr td:nth-child(17) {
            white-space: normal;
        }

    .status-gift-admin img {
        height: 18px !important;
        padding: 3px !important;
        width: 18px;
        border-radius: 50%;
    }

    .status-gift-admin p {
        font-size: 0px !important;
    }

    .second-design .giftth-seconclass, .giftth-seconclass {
        width: 80px !important;
    }

    .borderclassgift select, .borderclassgift input, .borderclassgift button, .borderclassgift .select2-selection.select2-selection--single {
        border-color: #ddd !important;
    }


    .report-status {
        width: 80%;
        float: left;
    }

        .report-status label {
            float: left;
        }

        .report-status input {
            float: left;
            font-size: 16px;
            background-color: transparent !important;
            font-weight: 800;
            height: 17px !important;
        }

        .report-status .form-group {
            width: 46%;
            float: left;
            margin: auto 2%;
        }

    .mastetr222Modal .modal-body .form-group input {
        min-height: 32px;
        width: 100%;
    }

    .newfourdesign-admin .gift-select::before {
        display: none;
    }

    .newfourdesign-admin .btn:not(.btn-link):not(.btn-circle), .newfourdesign-admin .form-group .form-control {
        border: 1px solid #ddd !important;
        background: transparent !important;
    }

    .newfourdesign-admin .margi-topo-third .col-lg-12.col-md-12.col-sm-12.col-xs-12.for-margin-top {
        margin-top: 0px !important;
    }

    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

    .ner {
        width: 25px !important;
        border: 1px solid #ddd !important;
    }

    .custom-date-icon i {
        left: 5px;
    }

    .admin-giftcard-table table tbody tr:first-child td, .admin-giftcard-table table tbody tr:first-child {
        border-top: 0px;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


    @@media screen and (max-width:766px) {
        .mastetr222Modal .modal-dialog {
            width: 95% !important;
        }
    }


    @@media only screen and (max-width:992px) {
        .gift-select, .ytr-okpli {
            width: 50%;
            float: left;
            margin-bottom: 10px;
        }

        .col-md-4.respo-upup {
            margin: 10px 0 !important;
        }

        .ytr-okpli button {
            width: 100%;
            text-align: left;
        }

        .card {
            margin: 0px;
        }


        .col-md-4.respo-upup {
            width: 100%;
            float: left;
            padding: 0 !important;
        }

        .form-line {
            width: 100% !important;
        }

        .white-success {
            float: left !important;
            width: auto !important;
            position: static !important;
            margin-left: 5px !important;
        }

        .for-margin-top {
            margin-top: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {
        .gift-card-top .col-md-1 {
            width: 100%;
            float: left;
            padding-left: 0px !important;
            margin: 0;
        }

        .gift-card-top .col-md-2 {
            width: 50%;
            float: left;
            margin-bottom: 3px;
        }

        .gift-card-top .col-md-4 {
            padding-left: 0px !important;
            margin-bottom: 4px;
            float: left;
        }

        .for-margin-top {
            margin-top: 10px !important;
        }

        .gift-card-top .col-md-1 center button {
            margin-top: 0px !important;
            float: left;
            width: 100%;
        }

        #total {
            text-align: right;
            margin-right: 15px;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .body.table-responsive {
            padding: 1px !important;
        }

        .col-md-2.tre4.pdf-lastclass-third {
            float: right;
            padding: 0px;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Giftcard Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Giftcard Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
     
        <div class="row clearfix">

            <div class="col-lg-12 col-md-12 gift-card-top all-type-third">
                <div class="card page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass borderclassgift" style="margin-top:2px;">
                    @using (Html.BeginForm("Showclosingbalance", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="col-md-4 gift-select">
                            <div class="form-line selecthotel-third" style="width: 146px;">
                                @Html.DropDownList("allretailer", ViewBag.retailer as SelectList, "All Retailer", new { id = "allretailer", @class = "select-s form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:32px;" })
                            </div>
                        </div>

                        <div class="col-md-3 clk responcive-full" style="padding-right: 0px; padding-left: 5px;">
                            <div class="input-daterange input-group" style="margin-left:0px;width:100%;">
                                <div class="custom-date-icon ner">
                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                </div>
                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px; width: 100%;" })
                                <span class="input-group-addon" style="padding: 0px !important;min-width: 3px;">

                                </span>
                                <div class="nrr3">
                                    <div class="custom-date-icon ner2">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                    </div>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #b1a6a638; height:32px; width: 100%;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 ytr-okpli gift-respo-thired search-resp-third" style="padding:0px;padding-left:5px;">
                            <div class="">
                                <div class="">
                                    <center>
                                        <button name="btntype" type="submit" class="btn input-back-second" style="  height:32px;border: 1px solid #b1a6a638;background: #fff;margin-top:1px;background: #f9f9f9;width: 100%;" onclick="serch()">
                                            <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                            <span style="top:-1px;color:black;">Search</span>
                                        </button>
                                    </center>

                                </div>


                            </div>
                        </div>

                    </div>
                    }

                </div>


            </div>

            <div>
                <table class="table table-bordered table-striped table-hover table-background-second third-design-table">
                    <tr>
                        <th>Sr.</th>
                        <th>USER</th>
                        <th>Dealer</th>
                        <th>Master</th>
                        <th>Opening Balance</th>
                        <th>Date & Time</th>
                    </tr>
                    @{ var id = 0; }
                    @{ var id1 = 1; }
                    @foreach (var i in Model)
                    {
                        var frmname = db.Retailer_Details.Where(s => s.RetailerId == i.userid).SingleOrDefault();
                        var dlmfrmname = db.Dealer_Details.Where(s => s.DealerId == frmname.DealerId).SingleOrDefault();
                        var ssfrmname = db.Superstokist_details.Where(s => s.SSId == dlmfrmname.SSId).SingleOrDefault();

                <tr>
                    <td>@id1</td>
                    <td>@frmname.Frm_Name</td>
                    <td>@dlmfrmname.FarmName</td>
                    <td>@ssfrmname.FarmName</td>
                    <td>
                        @i.closingbalance1
                    </td>
                    <td>
                        @i.date
                    </td>
                </tr>
                        id++;
                        id1++;
                    }
                </table>
            </div>




        </div>
    </div>
</section>




<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>

    $('#allretailer').select2();


</script>
<script type="text/javascript">
    $(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>