@model IEnumerable<Vastwebmulti.Models.sms_api_entry>
@{
    ViewBag.Title = "show_sms_api";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-23px;">
                    <div class="">
                        <div class="">
                            <div class="col-md-12">
                                @using (Html.BeginForm("show_sms_api", "Home", FormMethod.Post))
                                {
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:0px;">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div style="margin-left:-13px;">
                                                        @Html.Partial("smsapipartialview")
                                                    </div>

                                                </div>
                                                <div class="col-md-5">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="" style="margin-top:4px;border:1px solid #dddddd;">
                                                                    @Html.TextBox("txtmsg", "", new { @class = "form-control", placeholder = "Enter Message", @style = "height:31px;" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group" style="margin-bottom:0px;">
                                                                <div class="input-daterange input-group">
                                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-exchange"></i>
                                                                    </span>
                                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <center>
                                                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:-25px; height:34px;">
                                                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                                    <span style="color:black;top:-2px;">Search</span>
                                                                </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-13px;">
                <div class="card">
          
                    <div class="body" style="margin-top:-4px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-2px;">
                            <table class="table table-bordered " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th><center>Message</center></th>
                                        <th>Response</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        if(Model.Count() > 0)
                                        { 
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td style="padding:3px;">@item.msg</td>
                                                <td style="padding:3px;">@item.response</td>
                                                <td style="padding:3px;">@item.m_date</td>
                                            </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td><p style="font-size:22px;margin-top:-5px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                <td></td>
                                                <td></td>
                                             
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Add New Distributor Modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Send SMS</h4>
            </div>
            @using (Html.BeginForm("Send_API_SMS", "Home", FormMethod.Post))
            {
       
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">User Level</label>
                                </div>
                                @*@Html.HiddenFor(m => m.Password, new { Value = "55qK5G" })
                                    @Html.HiddenFor(m => m.ConfirmPassword, new { Value = "55qK5G" })*@

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.DropDownList("Userform1", new List<SelectListItem> {
                                            new SelectListItem { Text = "Selected Number", Value= "Selected" },
                                            new SelectListItem { Text = "Distributor", Value= "Dealer" },
                                            new SelectListItem { Text = "Retailer", Value= "Retailer"},
                       },
                      "Select User", new { @class = "selectpicker form-control", data_live_search = "true" })
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div id="Mobile" style="display:none;" class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.TextBox("txtmobileNo", "", new { @class = "form-control", placeholder = "Enter Mobile", required = "required", @maxlength = "10" })
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Message</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">

                                            @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control", placeholder = "Enter Name", required = "required", style = " height:120px" })

                                        </div>
                                        <div id="textarea_feedback"></div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var text_max = 160;
        $('#textarea_feedback').html(text_max + ' characters remaining');

        $('#txtMsgBody').keyup(function () {
            var text_length = $('#txtMsgBody').val().length;
            var text_remaining = text_max - text_length;

            $('#textarea_feedback').html(text_remaining + ' characters remaining');
        });
    });
</script>
<script>
    $("#Userform1").change(function () {
        var val = $('#Userform1').val();
        if(val=="Selected")
        {
            $('#Mobile').show();
        }
        else
        {
            $('#Mobile').hide();
        }

    });
  
</script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>