@{
    ViewBag.Title = "Socialmedia";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('txtedit');
</script>

<style>
   /* new css */
    .folower-setting {
        background: #fff;
    }
    .bread-same-all-page li {
        margin: 6px 0px;
    }
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
   /* new css */


    .socialmedia-page .folower-setting .custom-district::after, .custom-district::after {
        display: none;
    }



    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }


    @@media screen and (max-width:992px){
        .folower-setting {margin-bottom: 15px;}
    }

    @@media only screen and (max-width:650px){

        .bread-same-all-page {
            display: block;
        }
        .four-noneclass-admin-only {
            width: 100%;
            float: left;
        }
        .sitemap-button button {
            margin: 3px 0;
        }


    }


</style>

<section class="content">
    <div class="container-fluid socialmedia-page">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Social Media</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Social Media</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="four-noneclass-admin-only" style="margin:0px;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Social Media
                    </li>
                </ul>
                <div class="sitemap-button setmap-third-responsive">
                    <button class="fullbodydycolorbg white-back-bor-third" data-toggle="modal" data-target="#defaultModal">Sitemap </button>
                    <button class="fullbodydycolorbg white-back-bor-third" data-toggle="modal" data-target="#defaultModal1">Help </button>
                    <button class="fullbodydycolorbg white-back-bor-third" data-toggle="modal" data-target="#defaultModal2">Term&nbsp;&&nbsp;Condition </button>
                    <button class="fullbodydycolorbg white-back-bor-third" data-toggle="modal" data-target="#defaultModal3">Privacy</button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="page-header-third folower-setting current-tab-seconddesign tabcurrent-seconddesign button-seconddesign input-border-third">
                    <h2>Followers Setting</h2>

                    <fieldset>
                        <legend>Select Social Media</legend>
                        <div class="custom-district aapearnce-noneclass apperancenone-third">
                            @Html.DropDownList("ddlSocial", new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Select Media",Value="",},
                                   new SelectListItem{ Text="Facebook",Value="Facebook",},
                                   new SelectListItem{Text="Instagram",Value="Instagram"},
                                   new SelectListItem{Text="Youtube",Value="Youtube"},
                                   new SelectListItem{Text="Twitter",Value="Twitter"},
                                   new SelectListItem{Text="Pinterest",Value="Pinterest"},
                                   new SelectListItem{Text="LinkedIn",Value="LinkedIn"},
                                   new SelectListItem{Text="Blogger",Value="Blogger"},
                                   new SelectListItem{Text="Tumblr",Value="Tumblr"}
                                 }, new { @required = "required" })
                        </div>
                        <input type="url" id="urlLink" placeholder="Enter Social Media Link" />
                        <button class="fullbodydycolorbg btn-first" onclick="SaveSocialAc()"><span style="color:#fff;position:relative;">Save Link</span></button>
                    </fieldset>
                    <div class="social-history table-responsive">
                        <table id="social-list" class="table table-bordered table-striped table-hover" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Media&nbsp;Type</th>
                                    <th>Social Media Link</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.linkcontact.Count > 0)
                                {
                                    foreach (var item in ViewBag.linkcontact)
                                    {
                                        <tr>
                                            <td>@item.FooterType</td>
                                            <td>@item.FooterLink</td>
                                            <td>
                                                <button onclick="delSocialAc('@item.Id')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;margin-top:-1px;"></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="page-header-third Badges-setting folower-setting current-tab-seconddesign tabcurrent-seconddesign button-seconddesign input-border-third">
                    <h2>Badges Setting</h2>
                    <fieldset>
                        <legend>Select Badges</legend>
                        <div class="custom-district apperancenone-third">
                            @Html.DropDownList("ddlBadges", new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text="Select Media",Value="",},
                                       new SelectListItem{ Text="Appfutura",Value="Appfutura",},
                                       new SelectListItem{Text="Applancher",Value="Applancher"},
                                       new SelectListItem{Text="Badush",Value="Badush"},
                                       new SelectListItem{Text="Extract",Value="Extract"},
                                       new SelectListItem{Text="Freelancer",Value="Freelancer"},
                                       new SelectListItem{Text="Good-firms",Value="Good-firms"},
                                       new SelectListItem{Text="Mobile-app",Value="Mobile-app"},
                                       new SelectListItem{Text="Trustpilot",Value="Trustpilot"},
                                     }, new { @required = "required" })
                        </div>
                        <input type="url" id="BadgeLink" placeholder="Enter Badges Link" />
                        <button class="fullbodydycolorbg btn-first" onclick="SaveBadge()"><span style="color:#fff;position:relative;">Save Link</span></button>
                    </fieldset>
                    <div class="social-history">
                        <table id="Badge-list" class="table table-bordered table-striped table-hover" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Badges&nbsp;Type</th>
                                    <th>Badges Link</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Badges.Count > 0)
                                {
                                    foreach (var item in ViewBag.Badges)
                                    {
                                        <tr>
                                            <td>@item.BadgeType</td>
                                            <td>@item.Url_Link</td>
                                            <td>
                                                <button onclick="delBadge('@item.Id')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;"></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<!--- site map content editor-------------->

<div class="modal fade sitemap-editor" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Sitemap Content</h4>
                <button type="button" class="btn bg-grey waves-effect" style="float:right; height:auto;padding: 0px;background-color: #f5f5f5 !important;padding: 0px;border:0px;" data-dismiss="modal">
                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true" style="top: 0px;"></i>
                </button>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    <form>

                        <div class="row clearfix">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group folower-setting" style="height: auto;margin-bottom: 0px;">
                                    <fieldset>
                                        <legend>Select Badges</legend>
                                        <div class="custom-district">
                                            <select>
                                                <option>Help </option>
                                                <option>Privacy</option>
                                                <option>T&nbsp;&&nbsp;C</option>
                                                <option>Login</option>

                                            </select>
                                        </div>
                                        <input type="text" placeholder="Enter Badges Link" />
                                        <button class="fullbodydycolorbg">Save Link</button>
                                    </fieldset>
                                    <div class="social-history table-responsive">
                                        <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Badges&nbsp;Type</th>
                                                    <th>Badges Link</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Help content editor-------------->

<div class="modal fade sitemap-editor" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Help Content</h4>
                <button type="button" class="btn bg-grey waves-effect" style="float:right; height:auto;padding: 0px;background-color: #f5f5f5 !important;padding: 0px;border:0px;" data-dismiss="modal">
                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true" style="top: 0px;"></i>
                </button>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    @using (Ajax.BeginForm("HelpJsonData", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure"
                    }))
                    {
                        Vastwebmulti.JsonData.Hlp_TC_Privacy person = new Vastwebmulti.JsonData.Hlp_TC_Privacy();
                        <div class="row clearfix">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #c7c2c2;">
                                        @*<textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>*@
                                        <input type="hidden" asp-for="@person.Id" name="Id" value="1" />
                                        <br />
                                        <br />
                                        <textarea id="txtedit" asp-for="@person.Name" name="Name" class="ckeditor" required></textarea>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1">
                            <button id="Help" type="submit" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                <span style="color:black;">Save Change</span>
                            </button>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>

<!--- Term & Condition content editor-------------->

<div class="modal fade sitemap-editor" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Term&nbsp;&&nbsp;Condition Content</h4>
                <button type="button" class="btn bg-grey waves-effect" style="float:right; height:auto;padding: 0px;background-color: #f5f5f5 !important;padding: 0px;border:0px;" data-dismiss="modal">
                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true" style="top: 0px;"></i>
                </button>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    @using (Ajax.BeginForm("TCJsonData", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure"
                    }))
                    {
                        Vastwebmulti.JsonData.Hlp_TC_Privacy person = new Vastwebmulti.JsonData.Hlp_TC_Privacy();
                        <div class="row clearfix">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #c7c2c2;">
                                        @*<textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>*@
                                        <input type="hidden" asp-for="@person.Id" name="Id" value="1" />
                                        <br />
                                        <br />
                                        <textarea id="txtedit" asp-for="@person.Name" name="Name" class="ckeditor" required></textarea>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1">
                            <button id="TC" type="submit" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                <span style="color:black;">Save Change</span>
                            </button>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>

<!--- Privacy Policy content editor-------------->

<div class="modal fade sitemap-editor" id="defaultModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Privacy Policy Content</h4>
                <button type="button" class="btn bg-grey waves-effect" style="float:right; height:auto;padding: 0px;background-color: #f5f5f5 !important;padding: 0px;border:0px;" data-dismiss="modal">
                    <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true" style="top: 0px;"></i>
                </button>
            </div>
            <div class="modal-body" style="margin-top:0px;">
                <div class="body">
                    @using (Ajax.BeginForm("PrivacyJsonData", "Home", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure"
                    }))
                    {
                        Vastwebmulti.JsonData.Hlp_TC_Privacy person = new Vastwebmulti.JsonData.Hlp_TC_Privacy();

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #c7c2c2;">

                                        <input type="hidden" asp-for="@person.Id" name="Id" value="1" />
                                        <br />
                                        <br />
                                        <textarea id="txtedit" asp-for="@person.Name" name="Name" class="ckeditor" required></textarea>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="silder1">
                            <button type="submit" id="savePrivacy" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                <span style="color:black;">Save Change</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SaveSocialAc() {
        var social = $('#ddlSocial').val();
        if (social != "") {
            var txt = $('#urlLink').val();
        var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
        if (re.test(txt)) {
            $.ajax({
                type: "GET",
               url: '@Url.Action("Social_Media", "Home")',
                    data: { socialType: $('#ddlSocial').val(), link: $('#urlLink').val() },
                success: function (response) {

                var i = 0;
                var mdtblHtml = "";
                $.each(response, function (a, b) {
                    mdtblHtml += "<tr><td>" + b.FooterType + "</td>";
                    mdtblHtml += "<td>" + b.FooterLink + "</td>";
                    mdtblHtml += "<td>" + '<button onclick="delSocialAc('+b.Id+')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;"></button>' + "</td>";
                    i++;
                });
                $('#social-list > tbody').html(mdtblHtml);
                }

            });
            }
            else {
            alert('Not a Valid Url !');
        }
        }

        else {
            alert('Select Social Account Type');
        }
    }
</script>
<script>
    function delSocialAc(e) {
        if (e != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("delfooterlink", "Home")',
                data: { Id: e },
                dataType: 'json',
                cache: false,
                success: function (response) {
                var i = 0;
                var mdtblHtml = "";
                $.each(response, function (a, b) {
                    mdtblHtml += "<tr><td>" + b.FooterType + "</td>";
                    mdtblHtml += "<td>" + b.FooterLink + "</td>";
                    mdtblHtml += "<td>" + '<button onclick="delSocialAc('+b.Id+')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;"></button>' + "</td>";
                    i++;
                });
                $('#social-list > tbody').html(mdtblHtml);
                }

            });
        }
        else {
            alert('');
        }
    }
</script>


<script>
    function SaveBadge() {
        var Badge = $('#ddlBadges').val();
        if (Badge != "") {
            var txt = $('#BadgeLink').val();
        var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
        if (re.test(txt)) {
            $.ajax({
                type: "GET",
               url: '@Url.Action("BadgeMedia", "Home")',
                    data: { BadgeType: $('#ddlBadges').val(), Badgelink: $('#BadgeLink').val() },
                success: function (response) {

                var i = 0;
                var BadgeHtml = "";
                $.each(response, function (a, b) {
                    BadgeHtml += "<tr><td>" + b.BadgeType + "</td>";
                    BadgeHtml += "<td>" + b.Url_Link + "</td>";
                    BadgeHtml += "<td>" + '<button onclick="delBadge('+b.Id+')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;"></button>' + "</td>";
                    i++;
                });
                $('#Badge-list > tbody').html(BadgeHtml);
                }

            });
            }
            else {
            alert('Not a Valid Url !');
        }
        }

        else {
            alert('Select Badge Type');
        }
    }
</script>
<script>
    function delBadge(e) {
        if (e != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("delBadgesMedia", "Home")',
                data: { Id: e },
                dataType: 'json',
                cache: false,
                success: function (response) {
                var i = 0;
                var BadgeHtml = "";
                $.each(response, function (a, b) {
                    BadgeHtml += "<tr><td>" + b.BadgeType + "</td>";
                    BadgeHtml += "<td>" + b.Url_Link + "</td>";
                    BadgeHtml += "<td>" + '<button onclick="delBadge('+b.Id+')"><img src="../../MainFrontDesign/images/delete.svg" style="width:16px;"></button>' + "</td>";
                    i++;
                });
                $('#Badge-list > tbody').html(BadgeHtml);
                }

            });
        }
        else {
            alert('');
        }
    }
</script>

<script>
    $('#savePrivacy').click(function () {
        $('#defaultModal3').modal('hide');
    })

    $('#Help').click(function () {
        $('#defaultModal1').modal('hide');
    })

    $('#TC').click(function () {
        $('#defaultModal2').modal('hide');
    })
</script>
