@model IEnumerable<Vastwebmulti.Models.show_status_master_Result>
@{
    ViewBag.Title = "Status_master";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css */
    .bread-same-all-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    
    /* new css */


    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
    .select2-selection.select2-selection--single {
        border-radius: 0px;
        height: 32px;
    }
     .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 32px !important;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }

    @@media only screen and (max-width:600px){

        .bread-same-all-page {
            display: block;
        }
        .report-top {
            margin-top: 6px;
        }

    }

    @@media only screen and (max-width:480px) {



   .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > thead > tr > th:last-child{border-left: 1px solid var(--border-color);border-right: 1px solid var(--border-color);}

    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Hardware</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Status Mnager</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="four-noneclass-admin-only" style="margin:0px;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Set Hardware
                    </li>
                </ul>
                <div class="report-top input-border-third" style="margin-bottom:2px;">
                    @using (Html.BeginForm("Status_master", "Home", FormMethod.Post))
                    {
                        <div class="status-master-tab-top">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="" style="padding-bottom:3px;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                       {
                                       new SelectListItem{ Text="STATUS",Value="ALL",},
                                       new SelectListItem{Text="BALANCE",Value="B"},
                                       new SelectListItem{Text="SUCCESS",Value="S"},
                                       new SelectListItem{Text="FAILED",Value="F"},
                                       new SelectListItem{Text="Purchase",Value="P"}
                                       }, new { @class = "form-control border-0", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                        </div>
                        <div class="status-master-tab-top">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="" style="padding-bottom:3px;">
                                    @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "form-control border-0", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="status-master-tab-top">
                            <button type="submit" class="btn btn-default waves-effect white-back-bor-third" style=" height:32px;border:1px solid #bbb; margin-left:-1px;background:#f5f5f5 !important; ">
                                <span style="color:black;"><img src="~/AdminDesign/images/search.svg" style="width:14px;" />&nbsp;Search</span>
                            </button>
                        </div>
                        <div class="status-master-tab-top">
                            <button type="button" class="btn btn-default waves-effect white-back-bor-third" style="float:right;height:32px; border:1px solid #bbb;background:#f5f5f5 !important;" data-toggle="modal" data-target="#defaultModal">
                                <span style="color:black;"><img src="~/AdminDesign/images/plus.svg" style="width:11px;margin-right:4px;" />New status</span>
                            </button>
                        </div>
                    }

                </div>
            </div>
        </div>



        <div class="custom-hardware">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="hardware-left page-header-third">
                        @Html.Partial("_menuport")
                    </div>

                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="hardware-right page-header-third">
                        <div class="card">

                            <div class="body" style="padding:0px;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" style="width:100%;">
                                        <thead style="background-color:var(--second-bg-color);">
                                            <tr>
                                                <th>OPT&nbsp;Name</th>
                                                <th>Keyword</th>
                                                <th colspan="2">Mobile&nbsp;Number </th>
                                                <th colspan="2"> Recharge&nbsp;Amount</th>
                                                <th colspan="2">Trans&nbsp;ID </th>
                                                <th colspan="2">Lapu&nbsp;Bal</th>
                                                <th>Reason</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                                <th>DEL</th>

                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Pre</th>
                                                <th>Post</th>
                                                <th>Pre</th>
                                                <th>Post</th>
                                                <th>Pre</th>
                                                <th>Post</th>
                                                <th>Pre</th>
                                                <th>Post</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.operator_name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Keyword)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Mobilepre)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Mobilepost)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Amountpre)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Amountpost) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Transpre)  </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Transpost)  </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Lapubalpre)  </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Lapubalpost)   </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Reason)  </td>
                                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                                    <td>
                                                        <button id="but" type="button" onclick="animation('@item.idno','@item.operator_name','@item.Keyword','@item.Mobilepre','@item.Mobilepost','@item.Amountpre','@item.Amountpost','@item.Transpre','@item.Transpost','@item.Lapubalpre','@item.Lapubalpost','@item.Reason','@item.SMSFrom','@item.Status')" style="background-color:transparent;color:#03a9f4; border:none;" data-toggle="modal" data-target="#defaultModal1">
                                                            <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color: #555;background: #f0f0f0;margin:0px;">View</p>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button id="but" class="click-to-sure" style="background-color:#f0f0f0;border: 1px solid #bbb;height: 25px;padding: 0px 4px;width:30px;">
                                                            <img src="~/MainFrontDesign/images/delete.svg" style="width:14px;display: block;margin: auto;">
                                                        </button>
                                                        <button id="DeleteBtn" class="custom-loading waves-effect bt btnssl special-iii" onclick="deletests('@item.idno')" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 30px;background: var(--main-bg-lcolor);border: 1px solid var(--main-bg-lcolor);padding: 2px 0px;display:none;">
                                                            <span style="color:#fff;font-size: 11px;font-weight: bold;">Sure?</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add  modal-->
<div class="modal fade lapu-model status-master-model input-border-third" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Status Master</h4>
                <button type="button" class="btn bg-grey waves-effect" style="border:0px;background:transparent !important;float:right;" data-dismiss="modal">
                    <img src="~/ashok-images/close.svg" style="width:14px;" />
                </button>
            </div>
            @using (Html.BeginForm("inset_statusmaster", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownList("Operator1", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator1", @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Keyword</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertkey", "", new { @class = "form-control ", placeholder = "Enter Key Word" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertmobpre", "", new { @class = "form-control", placeholder = "Enter Mobile Pre", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertmobpost", "", new { @class = "form-control", placeholder = "Enter Mobile Post", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Amount&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertamtpre", "", new { @class = "form-control", placeholder = "Enter Amount Pre", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Amount&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertamtpost", "", new { @class = "form-control", placeholder = "Enter Amount Post", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Transaction&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Inserttranpre", "", new { @class = "form-control", placeholder = "Enter Transaction Pre" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Transaction&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Inserttranpost", "", new { @class = "form-control", placeholder = "Enter Transaction Post" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Lapu&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertlapupre", "", new { @class = "form-control", placeholder = "Enter Lapu Pre" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Lapu&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertlapupost", "", new { @class = "form-control", placeholder = "Enter Lapu Post" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Reason</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertreason", "", new { @class = "form-control", placeholder = "Enter Failed Reason" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">SMS&nbsp;From</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("Insertsmsfrom", "", new { @class = "form-control", placeholder = "Enter SMS From" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownList("ddl_status1", new List<SelectListItem>
   {
   new SelectListItem{Text="BALANCE",Value="B"},
   new SelectListItem{Text="SUCCESS",Value="S"},
   new SelectListItem{Text="FAILED",Value="F"},
   new SelectListItem{Text="purcharge",Value="P"}
   }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg button-third" style="margin-top: 4px;  height:32px;">
                                    <span style="color:#fff;">Save Status</span>
                                </button>


                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit Nill Com  modal-->
<div class="modal fade lapu-model" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color: black;">Edit Status Mnager</h4>
                <button type="button" class="btn bg-grey waves-effect" style="border:0px;background:transparent !important;float:right;" data-dismiss="modal">
                    <img src="~/ashok-images/close.svg" style="width:14px;" />
                </button>
            </div>
            @using (Html.BeginForm("Editstsmaster", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                @Html.TextBox("txtid", "", new { @class = "form-control", @style = "display:none;" })
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Operator Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtoptnm", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Keyword</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextArea("txtkey", "", new { @class = "form-control", placeholder = "Enter Keyword." })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">

                                            @Html.TextBox("txtmobpre", "", new { @class = "form-control", placeholder = "Enter Mobile Pre", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtmobpost", "", new { @class = "form-control", placeholder = "Enter Mobile Post", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Amount&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtamtpre", "", new { @class = "form-control", placeholder = "Enter Amount Pre", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Amount&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtamtpost", "", new { @class = "form-control", placeholder = "Enter Amount Post", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Transaction&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txttranpre", "", new { @class = "form-control", placeholder = "Enter Transaction Pre" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Transaction&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txttranpost", "", new { @class = "form-control", placeholder = "Enter Transaction Post" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Lapu&nbsp;Pre</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtlapupre", "", new { @class = "form-control", placeholder = "Enter Lapu Pre" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Lapu&nbsp;Post</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtlapupost", "", new { @class = "form-control", placeholder = "Enter Lapu Post" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Reason</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtreason", "", new { @class = "form-control", placeholder = "Enter Failed Reason" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">SMS&nbsp;From</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtsmsfrm", "", new { @class = "form-control", placeholder = "Enter SMS From" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Status</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtsts", "", new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top: 4px; height:32px;">
                                    <span style="color:#fff;">Save Change</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

<script>
   
        $("select").select2();
  

</script>
<script type="text/javascript">
    var val1 = "";
    function animation(txtid, txtoptnm, txtkey, txtmobpre, txtmobpost, txtamtpre, txtamtpost, txttranpre, txttranpost, txtlapupre, txtlapupost, txtreason, txtsmsfrm, txtsts) {
        $("#txtid").val(txtid);
        $("#txtoptnm").val(txtoptnm);
        $("#txtkey").val(txtkey);
        $("#txtmobpre").val(txtmobpre);
        $("#txtmobpost").val(txtmobpost);
        $("#txtamtpre").val(txtamtpre);
        $("#txtamtpost").val(txtamtpost);
        $("#txttranpre").val(txttranpre);
        $("#txttranpost").val(txttranpost);
        $("#txtlapupre").val(txtlapupre);
        $("#txtlapupost").val(txtlapupost);
        $("#txtreason").val(txtreason);
        $("#txtsmsfrm").val(txtsmsfrm);
        $("#txtsts").val(txtsts);
    }

</script>
<!--Window load Popuop message-->
<script>
    window.onload = function () {
        var message = '@TempData["add"]'
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        //Edit Message
        var editdata = '@TempData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

    }

</script>
<!--Delete Nillcom-->

<script type="text/javascript">
    function deletests(e) {
        //alert(e)

    $.ajax({
        type: "POST", url: "Delete_Statusmaster", data: { 'idno': e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                //swal("Deleted!", "Deleted Successfully.", "success");
                var url = '@Url.Action("Status_master", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Status_master", "Home")';
                window.location.href = url;
            }
        }
    });

    }

</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>

<script>
    $('.click-to-sure').click(function () {
        $(this).hide();
        $(this).next('button').show();
    });
</script>


