@model IEnumerable<Vastwebmulti.Models.TDSControllerMaster>
@{
    ViewBag.Title = "TDSControllerMaster";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadermoney {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 199999;
        background: url('../../images/smsload.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.9);
    }

    [type="checkbox"].filled-in:not(:checked) + label:after {
        background-color: #f5f5f5;
        border: 2px solid #dddddd;
    }
</style>
<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    <div class="row">
                        <div class="col-md-7">
                            <div style="margin-left:15px;">
                                @Html.Partial("_tdscontroller")
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="SaveAll" class="btn  waves-effect" style="float:right; padding-top:9px; margin-right:19px; margin-top:6px;border:1px solid #c7c2c2;background:#dedddd;" onclick='this.form'>
                                        <span style="top:-1px;">Save All</span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn  waves-effect" style="float:right; padding-top:9px; margin-right:20px; margin-top:6px;border:1px solid #c7c2c2;background:#dedddd;" onclick='selectAll()'>
                                        <span style="top:-1px;">Select All</span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn  waves-effect" style="float:right; padding-top:9px; margin-right:5px; margin-top:6px;border:1px solid #c7c2c2;background:#dedddd;" onclick='UnSelectAll()'>
                                        <span style="top:-1px;">UnSelect All</span>
                                    </button>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-18px;">
                <div class="card">
                    <div class="body" style="margin-top:0px;padding:5px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center;">Sr.</th>
                                        <th style="padding-left:0px; text-align:center;">Email </th>
                                        <th style="padding-left:0px; text-align:center;">DMT</th>
                                        <th style="padding-left:0px; text-align:center;">AEPS </th>
                                        <th style="padding-left:0px; text-align:center;">M-Poss</th>
                                        <th style="padding-left:0px; text-align:center;">Flight</th>
                                        <th style="padding-left:0px; text-align:center;">Pancard</th>
                                        <th style="padding-left:0px; text-align:center;">Postpaid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @if (item.DMT == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='DMT,@item.Email' value="DMT" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='DMT,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='DMT,@item.Email' value="DMT" class="filled-in chk-col-red" name="acs">
                                                            <label for='DMT,@item.Email'></label>
                                                        </center>

                                                    }
                                                </td>
                                                <td>
                                                    @if (item.AEPS == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='AEPS,@item.Email' value="AEPS" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='AEPS,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='AEPS,@item.Email' value="AEPS" class="filled-in chk-col-red" name="acs">
                                                            <label for='AEPS,@item.Email'></label>
                                                        </center>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.MPoss == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='MPoss,@item.Email' value="MPoss" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='MPoss,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='MPoss,@item.Email' value="MPoss" class="filled-in chk-col-red" name="acs">
                                                            <label for='MPoss,@item.Email'></label>
                                                        </center>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Flight == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Flight,@item.Email' value="Flight" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='Flight,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Flight,@item.Email' value="Flight" class="filled-in chk-col-red" name="acs">
                                                            <label for='Flight,@item.Email'></label>
                                                        </center>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Pancard == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Pancard,@item.Email' value="Pancard" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='Pancard,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Pancard,@item.Email' value="Pancard" class="filled-in chk-col-red" name="acs">
                                                            <label for='Pancard,@item.Email'></label>
                                                        </center>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Postpaid == "Y")
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Postpaid,@item.Email' value="Postpaid" class="filled-in chk-col-red" checked name="acs">
                                                            <label for='Postpaid,@item.Email'></label>
                                                        </center>
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <input type="checkbox" id='Postpaid,@item.Email' value="Postpaid" class="filled-in chk-col-red" name="acs">
                                                            <label for='Postpaid,@item.Email'></label>
                                                        </center>
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
        $(document).ready(function () {
            var cc = '@ViewData["success"]';
            if (cc != "") {
                swal("Good job!", cc, "success");
            }
        });
</script>


<script type="text/javascript">
    function selectAll() {
        var items = document.getElementsByName('acs');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    function UnSelectAll() {
        var items = document.getElementsByName('acs');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SaveAll").click(function () {

            var optCode = []
            $("input:checkbox(:checked)").each(function () {
                if ($(this).prop('checked') == true) {
                    optCode.push( this.id + ",Y");

                }
                else if ($(this).prop('checked') == false) {
                    optCode.push(this.id + ",N");
                }
            });
            document.getElementById("loadermoney").style.display = "block";
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("TDSSettingSaveMaster", "Home")',
                    data: { optCode: optCode },
                    cache: false,
                    dataType: 'json',
                    success: function (result) {
                        var pp = result.status;
                        var mm = result.Message;
                        if (pp == "Success") {
                            document.getElementById("loadermoney").style.display = "none";
                            //swal("Good job!", mm, "success");
                            window.location.reload();
                        }
                        else
                        {
                            document.getElementById("loadermoney").style.display = "none";
                            swal("Ooops!", "Something Wrong !", "error");
                        }
                    }
                });

            });
        });
</script>

