@using Vastwebmulti.Models;
@{
    Layout = null;
    VastwebmultiEntities db = new VastwebmultiEntities();

    var chksd = db.application_color.ToList();
    var chksd123 = db.appicons.ToList();
    var chksd123ss = db.fronticons.ToList();
    var manatoryfilDS = db.manatorypermisions.ToList();
    var backgapp = db.backroundColorofapps.ToList();
    var loginss = db.Login_to_sim.ToList();
}



<input type="color" value="@chksd123[0].color1" id="appcolor11" onchange="appiconcolor(1, 0)" />
<input type="color" value="@chksd123[0].color2" id="appcolor12" onchange="appiconcolor(2, 0)" />
<input type="color" value="@chksd123[0].background_color" id="appBGcolor" onchange="appiconcolor(3, 0)" />
<input type="color" value="@chksd123ss[0].color1" id="appcolorssss" onchange="appiconcolorss(1, 0)" />
<input type="color" value="@chksd123ss[0].color2" id="appcolor12ss" onchange="appiconcolorss(2, 0)" />
<input type="color" value="@chksd123ss[0].background_color" id="appBGcolorss" onchange="appiconcolorss(3, 0)" />

<div class="center_iset">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="300" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
    <rect width="512" height="512" rx="@chksd123[0].icon_design" ry="@chksd123[0].icon_design" fill="@chksd123[0].background_color" class="bgcolores"></rect>
    <g transform="matrix(0.88,0,0,0.88,30.72,30.72)">
    <linearGradient id="a" x1="11.781" x2="500.219" y1="256" y2="256" gradientUnits="userSpaceOnUse">
    <stop class="coloew1" stop-color="@chksd123[0].color1" offset="0"></stop>
    <stop class="coloew2" stop-color="@chksd123[0].color2" offset="0.021"></stop>
    <stop class="coloew1" stop-color="@chksd123[0].color1" offset="0.293"></stop>
    <stop class="coloew2" stop-color="@chksd123[0].color2" offset="0.554"></stop>
    <stop class="coloew1" stop-color="@chksd123[0].color1" offset="0.796"></stop>
            </linearGradient>
    <path d="M206.461 225.73v-35.556c0-27.208 22.183-49.264 49.546-49.264s49.546 22.056 49.546 49.264v35.556M251.13 39.37a223.243 223.243 0 0 0-42.899 4.628C88.523 68.729 11.609 185.433 36.439 304.664c15.419 74.04 66.446 131.643 131.576 158.751M217.97 70.651l36.763-31.695L209.124 20m51.746 452.63a223.243 223.243 0 0 0 42.899-4.628c119.708-24.731 196.622-141.436 171.792-260.667-15.419-74.04-66.446-131.643-131.576-158.751M294.03 441.349l-36.763 31.695L302.876 492m30.704-221.909-.005-8.581c-1.082-19.942-17.625-35.781-37.874-35.781h-79.387c-20.949 0-37.931 16.951-37.931 37.86v69.641c0 20.909 16.982 37.86 37.931 37.86h79.387c2.992 0 5.902-.346 8.695-1" style="fill: none; stroke: url(#a); stroke-width: 45; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 10;"></path>
        </g>
    </svg>
</div>

<div class="center_isetss">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="300" height="300" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
    <rect width="512" height="512" rx="@chksd123ss[0].icon_design" ry="@chksd123ss[0].icon_design" fill="@chksd123ss[0].background_color" class="bgcoloresss"></rect>
    <g transform="matrix(0.88,0,0,0.88,30.72,30.72)">
    <linearGradient id="b" x1="11.781" x2="500.219" y1="256" y2="256" gradientUnits="userSpaceOnUse">
    <stop class="coloewsss" stop-color="@chksd123ss[0].color1" offset="0"></stop>
    <stop class="coloew2ss" stop-color="@chksd123ss[0].color2" offset="0.021"></stop>
    <stop class="coloewsss" stop-color="@chksd123ss[0].color1" offset="0.293"></stop>
    <stop class="coloew2ss" stop-color="@chksd123ss[0].color2" offset="0.554"></stop>
    <stop class="coloewsss" stop-color="@chksd123ss[0].color1" offset="0.796"></stop>
            </linearGradient>
    <path d="M206.461 225.73v-35.556c0-27.208 22.183-49.264 49.546-49.264s49.546 22.056 49.546 49.264v35.556M251.13 39.37a223.243 223.243 0 0 0-42.899 4.628C88.523 68.729 11.609 185.433 36.439 304.664c15.419 74.04 66.446 131.643 131.576 158.751M217.97 70.651l36.763-31.695L209.124 20m51.746 452.63a223.243 223.243 0 0 0 42.899-4.628c119.708-24.731 196.622-141.436 171.792-260.667-15.419-74.04-66.446-131.643-131.576-158.751M294.03 441.349l-36.763 31.695L302.876 492m30.704-221.909-.005-8.581c-1.082-19.942-17.625-35.781-37.874-35.781h-79.387c-20.949 0-37.931 16.951-37.931 37.86v69.641c0 20.909 16.982 37.86 37.931 37.86h79.387c2.992 0 5.902-.346 8.695-1" style="fill: none; stroke: url(#b); stroke-width: 45; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 10;"></path>
        </g>
    </svg>
</div>

<script>
    function setGradientColor(s, color, prefix, className) {
        var gradientStops = document.querySelectorAll(className);

        gradientStops.forEach(function (stop) {
            stop.setAttribute('stop-color', color);
        });
        document.getElementById(prefix + 'col' + s).innerHTML = color;
    }

    function setBackgroundColor(color, prefix) {
        debugger;
        var gradientStops = document.querySelectorAll('.bgcolores' + prefix);
        gradientStops.forEach(function (stop) {
            stop.setAttribute('fill', color);
        });
        document.getElementById('col3' + prefix).innerHTML = color;
    }

    function setRadius(d, prefix) {
        var arr = [1, 10, 20, 30, 100, 200, 300, 400, 500];
        var gradientStops = document.querySelectorAll('.bgcolores');

        gradientStops.forEach(function (stop) {
            stop.setAttribute('rx', arr[d]);
            stop.setAttribute('ry', arr[d]);
        });
        document.getElementById(prefix + 'col4').innerHTML = arr[d];

        for (var i = 0; i <= 8; i++) {
            document.getElementById('sef' + i).classList.remove('selected');
        }
        document.getElementById('sef' + d).classList.add('selected');
    }

    function appiconcolor(s, d) {
        if (s === 1) {
            var color = document.getElementById('appcolor11').value;
            setGradientColor(s, color, '', '.coloew1');
        } else if (s === 2) {
            var color = document.getElementById('appcolor12').value;
            setGradientColor(s, color, '', '.coloew2');
        } else if (s === 3) {
            var color = document.getElementById('appBGcolor').value;
            setBackgroundColor(color, '');
        } else if (s === 4) {
            setRadius(d, '');
        }
    }

    function appiconcolorss(s, d) {
        if (s === 1) {
            var color = document.getElementById('appcolorssss').value;
            setGradientColor(s, color, 'ss', '.coloewsss');
        } else if (s === 2) {
            var color = document.getElementById('appcolor12ss').value;
            setGradientColor(s, color, 'ss', '.coloew2ss');
        } else if (s === 3) {
            var color = document.getElementById('appBGcolorss').value;
            setBackgroundColor(color, 'ss');
        } else if (s === 4) {
            setRadius(d, 'ss');
        }
    }
</script>
