@model IEnumerable<Vastwebmulti.Models.Bestoffer>
@{
    ViewBag.Title = "Tokensecurity";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control-label{text-align:left;}
    .form-control-label label sup{color:red;}
    .form-control-label label{margin: 0px;
border: 1px solid #dddddd;border-right: 0px;
height: 34px;
padding: 8px 0px;width: 100%;
text-align: left;
padding-left: 5px;font-size:12px;background:#f5f5f5;}
    .form-group{margin-bottom:0px;}
    .bread-same-all-page li{margin-bottom:6px;}
</style>
<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul style="margin:0px;">
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic&nbsp;Setting
                    </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Set Plan API
                </li>
            </ul>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom:15px;">
                    <div class="row">
                        <div class="col-xs-10">
                            @Html.Partial("_menuapinm")
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn fullbodydycolorbg  waves-effect" style="float:right; margin-top:4px;border:1px solid #c7c2c2;" data-toggle="modal" data-target="#defaultModal">
                                <i class="fa fa-plus" style="top:1px;font-size:15px;color:#fff;"></i>
                                <span style="top:0px;color:#fff;">Add New</span>
                            </button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive" style="position:inherit;">
                                <table class="table table-bordered">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>

                                            <th>Token Number</th>
                                            <th>User-Id / Email-Id</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var i = 1;}
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>@item.token</td>
                                                    <td>@item.Emailid</td>
                                                    <td>
                                                        <a class="btn btn-default" href="#" onclick="Edititem('@item.idno')" style="border:1px solid #c7c2c2;padding:1px 11px 1px 11px;line-height: 20px;height: 25px;">
                                                            Edit
                                                        </a>
                                                    </td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td><p style="font-size:22px;margin-top:-5px;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Add NEW Offer api Modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;min-width:50%;margin-top:63px;">
        <div class="modal-content">
           
            @using (Html.BeginForm("Tokensecurity", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding:5px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <div class="col-md-5" style="padding-right: 0px;">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Token&nbsp;Number<sup>*</sup></label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="tokenno" name="tokenno" class="form-control" placeholder="Enter Token Number" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                <div class="col-md-4" style="padding-right: 0px;">
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Email-Id<sup>*</sup></label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter Email Id" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn register fullbodydycolorbg waves-effect" disabled style=" height:34px;">
                                        <span style="color:#fff;">Save Change</span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn bg-grey waves-effect" style="height:34px;color:#000;" data-dismiss="modal">
                                        &#10005;
                                    </button>
                                </div>
                                    </div>
                                   

</form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Edit Offer api Modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;min-width:50%;margin-top:63px;">
        <div class="modal-content">
            
            @using (Html.BeginForm("Update_offerapitoken", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding:5px;">
                    <div class="body">
                        <form>

                            <div class="row clearfix">
                                <input type="text" id="txtidno" name="txtidno" style="display:none;" />
                                <div class="col-md-5" style="padding-right: 0px;">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Token&nbsp;Number</label>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="edittokennumber" name="edittokennumber" class="form-control" placeholder="Enter Token Number" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 0px;">
                                    <div class="row clearfix">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Email-Id</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <input type="text" id="editemailid" name="editemailid" class="form-control" placeholder="Enter Token Number" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn fullbodydycolorbg waves-effect" style="  height:34px;">
                                        <span style="color:#fff;">Save Change</span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn bg-grey waves-effect" style="height:34px;color:#000;" data-dismiss="modal">
                                        &#10005;
                                    </button>
                                </div>
                            </div>
                               

                             
</form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    window.onload=function()
    {
        var sucs = '@ViewData["Success"]';
        var error = '@ViewData["error"]';
        if(sucs != "")
        {
            swal("Data Insert!", sucs, "success");
        }
         if(error !=null)
        {
            swal("Oops !!", error, "error");
        }
    }
</script>
<script>
    function Edititem (idno)
    {

        var url = '@Url.Action("Editofferapitoken","Home")'
        $.ajax({
            url: url,
            data: { idno: idno },
            cache: false,
            type: "POST",
            success: function (data) {
       
                $("#txtidno").val(idno);
                $("#edittokennumber").val(data[0].token);
                $("#editemailid").val(data[0].Emailid);
                $('#defaultModal1').modal('show');
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>
<script>
$(' #emailid').bind('keyup', function() {
    $('.register').removeAttr('disabled');
});


</script>