@model Vastwebmulti.Areas.ADMIN.Models.salesincome
@{
    ViewBag.Title = "total_daily_income";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="bread-same-all-page">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Business BY Port/API
                    </li>
                </ul>
            </div>
            <div class="col-md-8">

            </div>

            <div class="col-md-4">
                @using (Html.BeginForm("total_daily_income", "Home", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-8">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <i class="fa fa-exchange"></i>
                                    </span>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-2">
                            <center>
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -11px; height:34px;border:1px solid #c7c2c2;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                    </div>
                }

            </div>


        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-27px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">OPERATOR WISE SALES REPORT&nbsp;></li>
                        </ol>
                    </div>
                    <div class="row">


                        <div class="body" style="margin-top:-25px;">
                            <div class="body">
                                <div class="table-responsive" style="position:inherit;margin-top:-57px;">
                                    <table id="example" class="table table-bordered">
                                        <thead  style="color:black;position:inherit;background-color:whitesmoke;">
                                            <tr>
                                                <th>Operator</th>
                                                <th>Total&nbsp;Count</th>
                                                <th>Total&nbsp;Recharge</th>
                                                <th>Success&nbsp;Count</th>
                                                <th>Success&nbsp;Recharge</th>
                                                <th>Failed&nbsp;Count</th>
                                                <th>Failed&nbsp;Recharge</th>
                                                <th>Pending&nbsp;Count</th>
                                                <th>Pending&nbsp;Recharge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.sales)
                                        {
                                                <tr>
                                                    <td><p style="font-size:13px;">@item.operator_Name</p></td>
                                                    <td> @Html.DisplayFor(modelItem => item.countall)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.amountall)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.countsuccess)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.totalsuccess)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.countfailed)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.totalfailed)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.countpending)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.totalpending)</td>
                                                </tr>
                                        }
                                        </tbody>
                                        <tfoot style="background-color:whitesmoke;">
                                            <tr>
                                                <td><p style="font-size:17px;margin-left:-8px;">Total</p></td>
                                                <td>@Model.sales.Sum(a => a.countall)</td>
                                                <td>@Model.sales.Sum(a => a.amountall)</td>
                                                <td>@Model.sales.Sum(a => a.countsuccess)</td>
                                                <td>@Model.sales.Sum(a => a.totalsuccess)</td>
                                                <td>@Model.sales.Sum(a => a.countfailed)</td>
                                                <td>@Model.sales.Sum(a => a.totalfailed)</td>
                                                <td>@Model.sales.Sum(a => a.countpending)</td>
                                                <td>@Model.sales.Sum(a => a.totalpending)</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
        </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>

    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>


