@{
   Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
</head>
<body>
    <section class="content Unload-WL-wallet-page three-page-same">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h2>This is Whitelabel</h2>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="un-re-wa-right">
                        <div class="unload-item item-one">
                            @Html.DropDownList("test", new List<SelectListItem>
                            {
                        new SelectListItem{ Text="Select Whitelabel",Value=""},
                         new SelectListItem{ Text="support@vastwebindia.com - Kaniram",Value=""},
                         new SelectListItem{Text="Two Item",Value=""},
                         new SelectListItem{Text="Three Item",Value=""}
                        }, new { @class = "selectpicker form-control", data_live_search = "true" })
                        </div>
                        <div class="unload-item item-two">
                            @Html.DropDownList("ddlstatus", new List<SelectListItem>
                              {
                          new SelectListItem{ Text="Status",Value="ALL"},
                           new SelectListItem{ Text="Pending",Value="Pending"},
                           new SelectListItem{Text="Success",Value="Success"},
                           new SelectListItem{Text="Rejected",Value="Rejected"}
                          }, new { @class = "selectpicker form-control", data_live_search = "true", @onchange = "answers()" })

                        </div>
                        <div class="unload-item special-iii item-three">
                            <div class="leftt">
                                <div class="input-daterange input-group">
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <i class="fa fa-exchange"></i>
                                    </span>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                </div>
                            </div>
                            <div class="rightt">
                                <button type="submit" class="btn  waves-effect btnssl" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                        <div class="unload-item item-four">
                            <button type="button">
                                <i class="fa fa-cog fa-spin"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section><!-- .content-->
    <script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
               $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        });
    </script>
</body>
</html>
