@model IEnumerable<Vastwebmulti.Models.walletunloadlimit>
@using System;
@using Vastwebmulti.Models;
@{
    ViewBag.Title = "wallet unload limit";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities db = new VastwebmultiEntities();
    var fg = 0;
}

<link href="~/MainFrontDesign/css/financialreportcss-admin.css" rel="stylesheet" />

<style>
    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 1px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table > thead > tr > th {
        font-size: 13px !important;
        padding: 10px 4px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    table.dataTable thead > tr > th, table.dataTable thead > tr > td {
        padding-right: 10px;
    }

    .card {
        margin-bottom: 0px;
    }

    .table-bordered tbody tr td span {
        color: inherit;
    }

    .table-bordered tbody tr td {
        font-size: 13px;
        padding: 10px 4px;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    .cltu {
        width: 15%;
    }

    .money-tab-secondclass {
        width: 30%;
    }

    .pdfresponsive-second {
        width: auto;
        float: right;
    }

    .white-successadmin-money span {
        float: left;
        line-height: normal;
    }

    .custom-date-icon.ner {
        border-color: #e1dcdc !important;
    }

    .newfourdesign-admin .form-control {
        background: transparent !important;
    }

        .newfourdesign-admin .form-control .btn {
            background: transparent !important;
        }

    @@media screen and (max-width:1366px) {
        .firsttimerespon-admin {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .marginleft-third-respon {
            margin-left: 0 !important;
        }

        .exl-respo-third {
            width: auto !important;
        }
    }

    @@media only screen and (min-width:481px) and (max-width:992px) {
        .fin2 {
            width: 100% !important;
            float: left;
        }

        .left-space-no {
            margin-left: 0px !important;
        }

        .responcive-fify {
            width: 49% !important;
            float: left !important;
            margin-bottom: 20px;
        }

            .responcive-fify button.btn.llpo {
                width: 100%;
                text-align: left;
            }

        .responcive-full {
            width: 99% !important;
            float: left;
            margin-bottom: 10px;
        }

            .responcive-full .nrr3 {
                width: 50% !important;
                float: left;
            }

            .responcive-full input {
                width: 49% !important;
            }

            .responcive-full .nrr3 input {
                width: 100% !important;
            }

        .responcive-fify .web-white-filter {
            width: 100%;
        }

        .fin3.responcive-fify {
            position: absolute;
            top: 170px;
            right: 10px;
        }

        .fin1.gjut-ruty ul li {
            width: 24.5%;
            position: relative;
        }

            .fin1.gjut-ruty ul li img {
                position: absolute;
                left: 30%;
            }

        .col-md-1.cltu.for-width-r.responcive-full {
            margin-bottom: 23px;
        }

        .white-success {
            float: left !important;
            width: auto !important;
            right: 52% !important;
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 42px;
            bottom: 0;
            width: auto !important;
        }

        .col-md-1.responcive-fify.respon-third-button {
            width: auto !important;
        }

        .monalltab-resp-third ul {
            display: flex;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }
    }

    @@media screen and (max-width:766px) {
        .white-successadmin-money {
            bottom: 10px !important;
        }
    }

    @@media only screen and (max-width:480px) {

        .fin1, .fin2 {
            width: 100% !important;
        }

            .fin1 .kklo #custnav ul li a {
                padding: 5px 15px;
            }

            .fin2 .col-md-2, .fin2 .cltu.col-md-1 {
                width: 49% !important;
                float: left;
                margin-left: 0px !important;
            }

            .fin2 .col-md-1.cltu.for-width {
                width: 49.2% !important;
            }

            .fin2 .col-md-1.cltu.for-width-r {
                width: 48% !important;
            }

            .fin2 .col-md-3 {
                width: 100% !important;
                margin-bottom: 5px;
            }

                .fin2 .col-md-3 input {
                    width: 49% !important;
                }

                .fin2 .col-md-3 .nrr3 {
                    width: 48%;
                }

                    .fin2 .col-md-3 .nrr3 input {
                        width: 100% !important;
                    }

        .cltu {
            margin-bottom: 15px !important;
        }

        .llpo span {
            display: inline-block;
        }

        .col-md-2.fin3 {
            width: 55%;
            right: 18px;
            top: 151px;
        }

        .fin2 .col-md-1 {
            width: 40% !important;
        }

            .fin2 .col-md-1 .button {
                width: 100%;
            }

        .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }

        .col-md-12.classbottomo-third {
            width: 100%;
            float: left;
            position: relative;
        }

        .col-md-2.exl-respo-third {
            position: absolute;
            top: inherit !important;
            right: 19px;
            bottom: 0;
            width: auto !important;
        }

        .card.card-rel-third-respo {
            width: 100%;
            float: left;
            position: relative;
        }

        .fin2 .col-md-3 input {
            width: 100% !important;
        }
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Financial Services</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Aeps Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->


        <div class="row clearfix">

            <div class="col-md-12" style="margin-top: 10px;">
                <div class="card">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive tableseconddes-admin" style="position:inherit;margin-top:0px;">
                            <table id="Aeps" class="table table-bordered table-striped table-hover example-second thpadding-second whitetable-second" cellspacing="0" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;font-size: 13px;">

                                        <th>User</th>
                                        <th>Limit</th>




                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @foreach (var item in Model)
                                    {
                                        var cj = db.Retailer_Details.Where(s => s.RetailerId == item.userid).SingleOrDefault();
                                        <tr>
                                            <td>@cj.Frm_Name => @cj.Email</td>
                                            <td class="edith" style="width:40%">
                                                @if (item.limit == null)
                                                {
                                                    <div class="saveunload1" style="float: left;">0.00</div><button style=" float: right; padding: 3px 19px;" onclick="hids(@fg)"> Edit </button>
                                                }
                                                else
                                                {
                                                    <div class="saveunload1" style="float: left;">
                                                        @item.limit
                                                    </div> <button style=" float: right; padding: 3px 19px;" onclick="hids(@fg)">Edit</button>

                                                }
                                            </td>
                                            <td class="edits" style="display:none; width:40%">
                                                @if (item.limit == null)
                                                {
                                                    <div><input class="saveunload" value="0.00" /> <button style=" float: right; padding: 3px 19px;" onclick="unllimsave(@fg, '@item.userid')">Save</button></div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <input class="saveunload" value="@item.limit" /><button style=" float: right; padding: 3px 19px;" onclick="unllimsave(@fg, '@item.userid')">Save</button>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                        fg++;
                                    }

                                    @*@{

                                            Html.RenderAction("_AepsReport", "Home", new { Model = Model });

                                        }*@
                                </tbody>
                            </table>
                            <script>
                                function hids(s) {
                                    var ch1 = document.getElementsByClassName('edith');
                                    var ch2 = document.getElementsByClassName('edits');
                                    ch1[s].style.display = "none";
                                    ch2[s].style.display = "table-cell";
                                    ch2[s].style.border = "none";

                                }
                                function unllimsave(s , user) {
                                    var ch1 = document.getElementsByClassName('saveunload');
                                    var ch2 = ch1[s].value;
                                    $.ajax({
                                     url: '@Url.Action("walletunloadlimitsave","Home")',
                                      type: 'POST',
                                        data: { RetailerId: user , limit : ch2},
                                     cache: false,
                                        success: function (response) {
                                            if (response == "Success") {

                                                var ch11 = document.getElementsByClassName('saveunload1');
                                                ch11[s].innerHTML = ch2;
                                                var ch12 = document.getElementsByClassName('edith');
                                                var ch22 = document.getElementsByClassName('edits');
                                                ch12[s].style.display = "table-cell";
                                                ch12[s].style.border = "none";
                                                ch22[s].style.display = "none";
                                            }
                                            else {
                                                var ch121 = document.getElementsByClassName('edith');
                                                var ch221 = document.getElementsByClassName('edits');
                                                ch121[s].style.display = "table-cell";
                                                ch121[s].style.border = "none";
                                                ch221[s].style.display = "none";
                                            }
                                            alert(response);
                                   }
                                 });
                                }
                            </script>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--Refund Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float:right; width:550px;">
        <div class="modal-content">
            <div class="modal-body" style="padding:5px;">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:5px;">
                            <div>
                                @Html.TextBox("txtrefidno", "", new { style = "display:none;" })
                                @Html.TextBox("txtbankid", "", new { style = "display:none;" })
                                @Html.TextBox("txtrecivername", "", new { style = "display:none;" })
                                <div class="custom-district">
                                    @Html.DropDownList("ddl_refund", new List<SelectListItem>
                                           {
                     new SelectListItem{ Text="Manual Failed",Value="Manual FAILED"},
                     new SelectListItem{Text="Bank Server Down ",Value="Bank Server Down"},
                   new SelectListItem{ Text="Failed Due To Invalid Choice",Value="Failed Due To Invalid Choice"},
                  new SelectListItem{Text="Network Down",Value="Network Down"},
                    new SelectListItem{Text="Unsupported Network",Value="Unsupported Network"},
                 new SelectListItem{Text="Network issue",Value="Network issue"},
                 new SelectListItem{Text="Insufficient Fund ",Value="Insufficient Fund"}
                            }, new { @class = "btn-group bootstrap-select form-control show-tick dropup", @style = "height:32px;border: 1px solid #bbb;-webkit-appearance: none;" })

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                            <div>
                                <div class="">
                                    <input type="text" id="securitypass" name="securitypass" placeholder="Enter Security Password" style="box-shadow: none;border: 1px solid #bbb;height: 32px;width:220px;" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right;">
                            <button type="submit" class="btn fullbodydycolorbg  waves-effect" style=" height:32px;padding: 0px 21px;margin-right: 18px;font-size: 15px;border: 0px;" onclick="Failed()">
                                <span style="top:-1px;color:#fff;">Save</span>
                            </button>
                            <button type="button" class="btn  waves-effect" style=" height:32px;padding: 0px 10px;font-size: 20px;" data-dismiss="modal">
                                <span style="top:0px;color:var(--main-bg-lcolor);">&#10006;</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Manual Success Model-->
<div class="modal fade" id="defaultModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float:right;width:550px;">
        <div class="modal-content">
            <div class="modal-body" style="padding:5px;">
                <div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="">
                                @Html.Hidden("idno")
                                @Html.Hidden("trans_id")
                                @Html.TextBox("BankRRN", "", new { style = "width:184px; height: 32px;padding: 0px 5px;border: 1px solid #ddd;box-shadow: none;", @required = "", @placeholder = "Enter Bank RRN" })

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="">
                                @Html.TextBox("Remark", "", new { style = "width:214px; height: 32px;padding: 0px 5px;border: 1px solid #ddd;", @placeholder = "Enter Remark" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align:right;">
                            <button type="submit" class="btn fullbodydycolorbg  waves-effect" style=" height:32px;padding: 0px 21px;margin-right: 10px;font-size: 15px;border: 0px;" onclick="success()">
                                <span style="top:-1px;color:#fff;">Save</span>
                            </button>
                            <button type="button" class="btn  waves-effect" style=" height:32px;padding: 0px 10px;font-size: 20px;" data-dismiss="modal">
                                <span style="top:0px;color:var(--main-bg-lcolor);">&#10006;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="min-height:auto;">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left" style="background-color:#eee">

                <div class="modal-back width100 float-left">
                    <div class="form-group" style="float: left;margin: 0px;width:80%;">

                        @Html.TextBox("MerchantTxnId", "", new { @class = "form-control", @style = "text-transform:uppercase;background: transparent;", @readonly = "readonly" })
                    </div>
                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("idno")


                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Admin Pre</label>
                                    @Html.TextBox("AdminPre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Commission</label>
                                    @Html.TextBox("Admincomm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Post Amt</label>
                                    @Html.TextBox("AdminPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Master Pre</label>
                                    @Html.TextBox("MdPre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Commission</label>
                                    @Html.TextBox("Mdcomm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Post Amt</label>
                                    @Html.TextBox("MdPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Pre</label>
                                    @Html.TextBox("DlmPre", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Commission</label>
                                    @Html.TextBox("DlmComm", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Post Amt</label>
                                    @Html.TextBox("DlmPost", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
