@model Vastwebmulti.Areas.ADMIN.Models.UPI_status_setting
@{
    ViewBag.Title = "UPIAndGatewaySetting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="content fourdesign-section-admin">
    <div class="container-fluid">
        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Profile</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Profile</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third" style="margin-bottom: 15px; margin-top: 8px;">
                    <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">
                        <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px;">
                            <span id="spncompny"> UPI & Payment GateWay Status </span>
                        </h1>
                    </div>
                    <div class="body profile-register-address profile-address-second boxback-allpage-admin" style="background:var(--second-bg-color);padding-bottom: 6px;  ">

                        <table class="table table-bordered table-striped table-hover fourdesign-data-table">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.upiandgateway)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="UPIGATEWAYSTS('upiandgateway','@item.Idno')"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="UPIGATEWAYSTS('upiandgateway','@item.Idno')"></i>
                                            }
                                       
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third" style="margin-bottom:15px;">
                    <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">

                        <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px; padding:10px !important;">
                            <span id="spncompny"> UPI API Setting </span>
                            <button data-toggle="modal" data-target="#myModal" class="fullbodydycolorbg for-button-upi back-button-third" style="float:right;color:#fff;padding: 5px 12px;border: 1px solid #bfbebe;background: #f0f0f0 !important;color: #777; margin-left:4px;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i>Set UPI Charges</button>

                            <button data-toggle="modal" id="myModal123showdata" data-target="#myModal123" class="fullbodydycolorbg for-button-upi back-button-third" style="float: right; color: #fff; padding: 5px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; "><i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i> Set UPI Transction</button>


                        </h1>

                        <div style="display: flex; align-items: center;">
                            @if (ViewBag.KYCCHECK != null)
                            {
                                if (ViewBag.KYCCHECK.isekyc == true)
                                {
                                    <p style=" margin: 0; margin: 0 10px;">KYC Status</p>
                                    <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="KYCONOFF('KYCON')"></i>
                                }
                                else
                                {
                                    <p style=" margin: 0; margin: 0 10px;">KYC Status</p>
                                    <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="KYCONOFF('KYCON')"></i>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style=" padding: 15px 10px;">
                        <div class="card page-header-third" style="margin-bottom:0px;">
                            <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">
                                <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px;">
                                    <span id="spncompny"> UPI QR API </span>
                                </h1>
                            </div>
                            <div class="body profile-register-address profile-address-second boxback-allpage-admin" style="background:var(--second-bg-color);padding-bottom: 13px;  ">

                                <table class="table table-bordered table-striped table-hover fourdesign-data-table">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>API Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.upiqr)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>
                                                    @if (item.Sts == true)
                                                    {
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="UPIGATEWAYSTS('upiqr','@item.Idno')"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="UPIGATEWAYSTS('upiqr','@item.Idno')"></i>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style=" padding: 15px 10px;">
                        <div class="card page-header-third" style="margin-bottom:0px;">
                            <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">
                                <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px;">
                                    <span id="spncompny"> UPI Intent API </span>
                                </h1>
                            </div>
                            <div class="body profile-register-address profile-address-second boxback-allpage-admin" style="background: var(--second-bg-color); padding-bottom: 13px; height: 379px; ">

                                <table class="table table-bordered table-striped table-hover fourdesign-data-table">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>API Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.upiintent)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>
                                                    @if (item.Sts == true)
                                                    {
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="UPIGATEWAYSTS('upiintent','@item.Idno')"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="UPIGATEWAYSTS('upiintent','@item.Idno')"></i>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style=" padding: 15px 10px;">
                        <div class="card page-header-third" style="margin-bottom:0px;">
                            <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">
                                <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px;">
                                    <span id="spncompny"> UPI Collection API </span>
                                </h1>
                            </div>
                            <div class="body profile-register-address profile-address-second boxback-allpage-admin" style="background: var(--second-bg-color); padding-bottom: 13px; height: 379px; ">

                                <table class="table table-bordered table-striped table-hover fourdesign-data-table">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>API Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.upicollection)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>
                                                    @if (item.sts == true)
                                                    {
                                                        <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="UPIGATEWAYSTS('upicollection','@item.Idno')"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="UPIGATEWAYSTS('upicollection','@item.Idno')"></i>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card page-header-third" style="margin-bottom:0px;">
                    <div class="heading-back-third boxback-allpage-admin" style="background-color:#c7c7c7;padding: 5px 10px; padding:10px;">
                        <h1 style="color:#555;font-size:20px;font-weight:bold;text-transform:uppercase;margin:0px;">
                            <span id="spncompny"> Payment Gateway  API Setting </span>
                            <button  class="fullbodydycolorbg for-button-upi back-button-third" style="float: right; color: #fff; padding: 5px 5px; border: 1px solid #bfbebe; background: #f0f0f0 !important; color: #777; ">
                            <i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i> 
              
                            <a href="@Url.Action("PaymentGatewaySlab","Home")" target="_blank"> PG Charges Setting</a>
                            </button>

                            @*<a href="@Url.Action("PaymentGatewaySlab","Home")" class="fullbodydycolorbg for-button-upi button-third back-button-third rightfloat-third header-button-thirddesign" id="pggetwaysetting" style="float: left; color: #fff; padding: 6px 5px;  height: 32px;">
            <i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:0px;font-size:16px;top:1px;"></i>
            PG Charges Setting
        </a>*@
                        </h1>
                        
                        <div style="display: flex; align-items: center;">
                            @if (ViewBag.KYCGATEWAY != null)
                            {
                                if (ViewBag.KYCGATEWAY.isekyc == true)
                                {
                                    <p style=" margin: 0; margin: 0 10px;">KYC Status</p>
                                    <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="KYCONOFFGATEWAY('KYCON')"></i>
                                }
                                else
                                {
                                    <p style=" margin: 0; margin: 0 10px;">KYC Status</p>
                                    <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="KYCONOFFGATEWAY('KYCON')"></i>
                                }
                            }
                        </div>

                    </div>
                    <div class="body profile-register-address profile-address-second boxback-allpage-admin" style="background:var(--second-bg-color);padding-bottom: 13px;">

                        <table class="table table-bordered table-striped table-hover fourdesign-data-table">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>API Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.gateway)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Sts == true)
                                            {
                                                <i class="fa fa-toggle-on fa-2x" style="color:green; cursor:pointer;" onclick="UPIGATEWAYSTS('gateway','@item.idno')"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-toggle-off fa-2x" style="color:red; cursor:pointer;" onclick="UPIGATEWAYSTS('gateway','@item.idno')"></i>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<div id="loadermoney" class="loadermoney" style="display:none;"></div>
<div id="myModal" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#bbb;">
                <h4 class="modal-title" id="defaultModalLabel" style="width:50%;float:left"> Add UPI Charge</h4>
                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;font-size: 14px;line-height: 18px;
                    margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                    <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                </button>
            </div>



            <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">

                    <form id="form_validation" method="POST">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Minimum Charge (Rs)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <select class="form-control" id="RemMinAmt" name="RemMinAmt">
                                            <option value="">Select one</option>
                                            <option value="0.00">0.00</option>
                                            <option value="0.05">0.05</option>
                                            <option value="0.15">0.15</option>
                                            <option value="0.25">0.25</option>
                                            <option value="0.50">0.50</option>
                                            <option value="0.75">0.75</option>
                                            <option value="1.00 ">1.00 </option>
                                            <option value="1.25">1.25</option>
                                            <option value="1.50">1.50</option>
                                            <option value="1.75">1.75</option>
                                            <option value="2.00">2.00</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">

                                <label for="email_address_2"> Charge (%)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group" style="margin-bottom:10px;">
                                    <div class="">
                                        <select class="form-control" id="RemMaxAmt" name="RemMaxAmt">
                                            <option value="">Select one</option>
                                            <option value="0.00">0.00</option>
                                            <option value="0.01">0.01</option>
                                            <option value="0.02">0.02</option>
                                            <option value="0.03">0.03</option>
                                            <option value="0.04">0.04</option>
                                            <option value="0.05">0.05</option>
                                            <option value="0.75">0.75</option>
                                            <option value="1.00 ">1.00 </option>
                                            <option value="1.25">1.25</option>
                                            <option value="1.50">1.50</option>
                                            <option value="1.75">1.75</option>
                                            <option value="2.00">2.00</option>

                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer special-iii">
                            <button id="SaveChargeREM" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Save Change
                            </button>

                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>
                    </form>
                    <h2 style="font-size:18px;margin-bottom:0px;border-top: 3px solid var(--main-bg-lcolor);padding-top: 20px;margin-bottom:10px;">Current Active UPI Charge Detail</h2>
                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl">
                        @Html.Partial("_Upi_slabList")
                    </div>
                    @*<h2 style="font-size:18px;margin-bottom:0px;border-top: 3px solid var(--main-bg-lcolor);padding-top: 20px;margin-bottom:10px;">UPI SELF SETTING</h2>*@

                    @*<form id="form_validation11" method="POST">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                    <label for="email_address_2">VPAID (Upi id)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="">
                                            <input id="txtupiid" type="text" placeholder="Enter UPI ID" class="form-control" required />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                    <label for="email_address_2"> Minimum Amount (Rs)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group" style="margin-bottom:10px;">
                                        <div class="">
                                            <input id="txtminbal" type="number" placeholder="Enter Minimum Amount" class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                    <label for="email_address_2"> Maximum Amount (Rs)</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group" style="margin-bottom:10px;">
                                        <div class="">
                                            <input id="txtmaxbal" type="number" placeholder="Enter Maximum Amount" class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer special-iii">
                                <button id="SaveChargeminbal" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    Save Change
                                </button>

                                <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                    Close
                                </button>

                            </div>
                        </form>

                        <form id="form_validation1" method="post" style="display:none;">
                            <input type="hidden" id="hideupiid" />
                            <input type="hidden" id="hidemin" />
                            <input type="hidden" id="hidemax" />
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                    <label for="email_address_2">Enter OTP</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="">
                                            <input id="txtotp" type="text" placeholder="Enter OTP" class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer special-iii">
                                <button id="Saveotp" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    Submit OTP
                                </button>
                                <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                    Close
                                </button>

                            </div>
                        </form>*@
                    @*<label id="lblmsg"></label>
                        <input type="hidden" id="hideupiid" />
                        <input type="hidden" id="hidemin" />
                        <input type="hidden" id="hidemax" />

                        <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl111">
                            @Html.Partial("_upi_SelfList")
                        </div>*@
                </div>

            </div>

        </div>
    </div>

</div>

<div id="myModal123" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#bbb;">
                <h4 class="modal-title" id="defaultModalLabel" style="width:50%;float:left;">Set UPI Transction</h4>
                <button type="button" class="btn waves-effect" id="closebtn" data-dismiss="modal" style="width:auto;float:right;padding: 0px;background: transparent;
                    font-size: 14px;line-height: 18px;margin-top: -5px;border:2px solid var(--main-bg-lcolor);color: var(--main-bg-lcolor);background:#fff;padding: 8px 7px;">
                    <span style="color: var(--main-bg-lcolor);font-size: 21px;margin: 0;position: relative;top: -5px;">x</span>
                </button>
            </div>
            <div class="modal-body upi-charge-modal" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">
                    <h2 style="font-size: 18px; margin-bottom: 5px; margin-top: 0px !important;">Set Variable QR / UPI Request Transction Limit</h2>
                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTblQRCODE">
                        @Html.Partial("_Upi_VARIBALE_QR")
                    </div>
                    <div style="border-top: 3px solid var(--main-bg-lcolor);"></div>
                    <h2 style="font-size:18px;margin-top: 0px;padding-top: 40px;margin-bottom: -10px;">
                        Self UPI Transction Limit
                        <span style="color: red; margin-bottom: -10px; font-size:13px;">&nbsp;(*Self UPI Range Between 10 To 3000)</span>
                    </h2>
                    <label id="lblmsg"></label>
                    <input type="hidden" id="hideupiid" />
                    <input type="hidden" id="hidemin" />
                    <input type="hidden" id="hidemax" />
                    <input type="hidden" id="hidddlpaymenttype" />
                    <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="RemTbl111">
                        @Html.Partial("_upi_SelfList")
                    </div>
                    <h2 style="font-size: 18px; margin-bottom: 10px; margin-top: -10px;">VPA Details</h2>
                    <div class="" style="width: 100%; height: auto; overflow-y: auto;" id="RemTbl222">
                        @Html.Partial("_VPAset_SelfList")
                    </div>
                    <h2 style="font-size: 18px; margin-bottom: 10px; margin-top: -10px;">Selected UPI Mode Are Blocked</h2>
                    <div class="" style="width: 100%; height: auto;" id="RemTbl333">
                        <div class="card Are">
                            <div class="demo-checkbox">
                                <div class="row">
                                </div>
                                <div class="third">
                                    <ul class="smssetting-top backgfull-third lllkggt" style="display: flex; margin: 3px; justify-content: space-around; width: 99%;">
                                        <li style="width:20%; float:left;">
                                            <button type="button" class="btn  waves-effect for-select-mail" onclick="eselectAll()" style="padding: revert;height:25px;">
                                                <i class="far fa-check-square" aria-hidden="true" style="color:var(--main-bg-lcolor);top:1px;"></i> <span style="top:-2px;">Block All</span>
                                            </button>
                                        </li>
                                        <li style="width:20%; float:left;">
                                            <button type="button" class="btn waves-effect for-select-mail text-center" onclick="eUnSelectAll()" style="padding: revert;height:25px;">
                                                <i class="fa fa-square-o" aria-hidden="true" style="top:1px;"></i><span style="top:-2px;">Unblock All</span>
                                            </button>
                                        </li>
                                        <li class="button-seconddesign" style="width:55%; float:left;">
                                            <button type="button" id="SaveAll" class="btn  waves-effect fullbodydycolorbg btn-first" style="float: right; height: 25px; padding: 4px;">
                                                <span style="color: #fff; top: -2px">Save Details </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row" id="SelfUpiCheckUncheck">
                                    <div class="col-md-12 col-sm-12 col-xs-12 co" style="margin: 8px;">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4 col-xs-6 co">
                                                <input type="checkbox" id="Paytm" value="Paytm" class="filled-in chk-col-red" name="acs1">
                                                <label for="Paytm" style="padding-left: 21px;">Paytm</label>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6 co">
                                                <input type="checkbox" id="PhonePe" value="PhonePe" class="filled-in chk-col-red" name="acs1">
                                                <label for="PhonePe" style="padding-left: 21px;">PhonePe</label>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6 co">
                                                <input type="checkbox" id="GooglePay" value="Google Pay" class="filled-in chk-col-red" name="acs1">
                                                <label for="GooglePay" style="padding-left: 21px;">Google Pay</label>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6 co">
                                                <input type="checkbox" id="AmazonPay" value="Amazon Pay" class="filled-in chk-col-red" name="acs1">
                                                <label for="AmazonPay" style="padding-left: 21px;">Amazon Pay</label>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6 co">
                                                <input type="checkbox" id="WhatsApp" value="WhatsApp" class="filled-in chk-col-red" name="acs1">
                                                <label for="WhatsApp" style="padding-left: 21px;">WhatsApp</label>
                                            </div>
                                        </div><!--.row-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=======    Modal For Bank Details   ========-->
<script>
    $(document).ready(function () {
        ddlnamechange();
    });
</script>
<script>
    function ddlnamechange() {
        var selectname = $('#ddlname').val();
        if (selectname == "Retailer") {
            $('#drpretailer').show()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
        else if (selectname == "Distributor") {
            $('#drpretailer').hide()
            $('#drpdealer').show();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
        else if (selectname == "Master") {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').show();
            $('#drpwhite').hide();
        }
        else if (selectname == "Whitelabel") {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').show();
        }
        else {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
    }
</script>
<script>
    function ddlnamechange1() {
        var selectname = $('#ddlname1').val();
        if (selectname == "Retailer") {
            $('#drpretailer1').show()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Distributor") {
            $('#drpretailer1').hide()
            $('#drpdealer1').show();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Master") {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').show();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Whitelabel") {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').show();
        }
        else {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
    }
</script>
<script>
    function editmaster() {
        $('#editbuttonmaster').hide();
        $('#btnsubmit').show();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
    }
    function editRetailer() {
        $('#editbuttonRetailer').hide();
        $('#btnsubmit1').show();
        $('#tbodyshowretailer').hide();
        $('#tbodyeditretailer').show();
    }
    function editDealer() {
        $('#editbuttonDealer').hide();
        $('#btnsubmit2').show();
        $('#tbodyshowdealer').hide();
        $('#tbodyeditdealer').show();
    }
    function editApi() {
        $('#editbuttonapi').hide();
        $('#btnsubmit3').show();
        $('#tbodyshowapi').hide();
        $('#tbodyeditapi').show();
    }
    function editWhite() {
        $('#editbuttonwhite').hide();
        $('#btnsubmit4').show();
        $('#tbodyshowwhite').hide();
        $('#tbodyeditwhite').show();
    }
</script>
<script>
    function success() {
        $('#editbuttonmaster').show();
        $('#btnsubmit').hide();
        $('#tbodyshow').show();
        $('#tbodyedit').hide();
        //$('#mastersubmit').submit();
    }
    function success1() {
        $('#editbuttonRetailer').show();
        $('#btnsubmit1').hide();
        $('#tbodyshowretailer').show();
        $('#tbodyeditretailer').hide();
        //$('#Retailersubmit').submit();
    }
    function success2() {
        $('#editbuttonDealer').show();
        $('#btnsubmit2').hide();
        $('#tbodyshowdealer').show();
        $('#tbodyeditdealer').hide();
        $('#Dealersubmit').submit();
    }

    function success3() {
        $('#editbuttonApi').show();
        $('#btnsubmit3').hide();
        $('#tbodyshowapi').show();
        $('#tbodyeditapi').hide();
        $('#Apisubmit').submit();
    }

    function success4() {
        $('#editbuttonWhite').show();
        $('#btnsubmit4').hide();
        $('#tbodyshowWhite').show();
        $('#tbodyeditWhite').hide();
        $('#Whitesubmit').submit();
    }
</script>
<!--=======    Modal For Bank Details   ========-->
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    function failed(error) {
        alert(error.statusText);
    }
    function failed1(error) {
        alert(error.statusText);
    }
</script>
<script>
    $('#ddlname').select2();
    $('#Retailerid').select2();
    $('#Dealerid').select2();
    $('#Masterid').select2();
    $('#Whitelabelid').select2();
    $('#ddlstatus').select2();
</script>
<!------------------------>
<script>
$(document).ready(function(){
    $("button.shownextrow").click(function () {
        $(this).closest("tr").next().show();
        $(this).closest("tr").hide();
    });
     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
    }
     if (val != "post") {
                $("#txt_frm_date1").datepicker("setDate", new Date());
                $("#txt_to_date1").datepicker("setDate", new Date());
            }
    });
</script>
<script>
    window.onload = function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }
    }
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            sweetAlert("Oops...", data, "error");
        }
        })
</script>
<script>
    $(document).ready(function () {
        $("button#edit-to-change").click(function () {
            $('#banks-modal2').show();
            $('#banks-modal1').hide();
        });
        $("button#edit-to-change1").click(function () {
            $('#banks-modal4').show();
            $('#banks-modal3').hide();
        });
        $("button#edit-to-change2").click(function () {
            $('#banks-modal6').show();
            $('#banks-modal5').hide();
        });
        $("button#edit-to-change3").click(function () {
            $('#banks-modal8').show();
            $('#banks-modal7').hide();
        });
    });
</script>
<!--  ==   Script For tabs2  ==--->
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.tabs2 li').click(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs2 li').removeClass('current2');
            $('.tab-content2').removeClass('current2');
            $(this).addClass('current2');
            $("#" + tab_id).addClass('current2');
        })
    })
</script>
<!--  ==   Script For tabs3  ==--->
<script type="text/javascript">
    $(document).ready(function () {

        $('ul.tabs3 li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs3 li').removeClass('current3');
            $('.tab-content3').removeClass('current3');

            $(this).addClass('current3');
            $("#" + tab_id).addClass('current3');
        })

    })
</script>




<script type="text/javascript">

    function show(elementId) {
        if (elementId == "RetailerSRC") {
            document.getElementById("RetailerSRC").style.display = "block";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("VendorSRC").style.display = "none";

        }
        else if (elementId == "WAdminSRC") {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "block";
            document.getElementById("VendorSRC").style.display = "none";

        }
        else {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("VendorSRC").style.display = "block";

        }
    }
</script>
<script>
    $(document).ready(function () {
        $('.ca-dipo-right ul.just-bottom li.fli2').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli3').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli2").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli1').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli2,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });
    });
</script>



<label style="color:red;">@Model.msg</label>

<script>
    function UPIOnOff(usefor) {
            $.ajax({
            url: '@Url.Action("Hide_Show_UPI", "Home")',
                type: 'POST',
            data: { usefor: usefor },
                success: function (data) {

                    if (data.status == "Success") {
                        if (data.Message == "ON") {
                            $('.'+usefor+'.onoffswitch span').removeClass('custom-off');
                            $('.'+usefor+'.onoffswitch span').addClass('costom-on');
                        }
                        else {
                            if (data.Message == "OFF") {
                                $('.' + usefor +'.onoffswitch span').removeClass('costom-on');
                                $('.' + usefor +'.onoffswitch span').addClass('custom-off');
                            }
                        }
                    }
                    else {
                        ToastrMessage();
                        toastr.error(data.Message);
                    }
            }
        });
    }
</script>
<script>
    function KYCONOFF(usefor) {
       $.ajax({
            url: '@Url.Action("KYC_ON_OFF", "Home")',
                type: 'GET',
           success: function (data) {
               location.reload();
            }
        });
    }
</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

<script>
    $(document).ready(function () {
        var msg = '@TempData["msgupi"]';
        if (msg != "") {
            alert(msg);
        }
    });
</script>

<script>
    $(document).ready(function () {
        var msg = '@TempData["msgupisucc"]';
        if (msg != "") {
            swal("Success", "Pending To Success", "success");
        }
    });
</script>

<script>
    function UPIRESPONSEsss(status, idno, firmname, txndate, amount) {
        $('#txtBankRRN').val('')
        $('#txtcode').val('')
        if (status == 'REJECTED') {
            $('#defaultModalLabel').text('Fail Transection');
            /* $('#txtBankRRN').val('REJECTED')*/
            $('#txtBankRRN').prop('disabled', true)

        }
        else {
            $('#defaultModalLabel').text('Confirm Transection');
            $('#txtBankRRN').prop('disabled', false)


        }

        $('#hideupiidres').val(idno);
        $('#hideupiidrestypes').val(status);
        $('#txtremfrmname').val(firmname);
        $('#txttxndate').val(txndate);
        $('#txtremamount').val(amount);
    }
</script>



<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlname = $('#ddlname').val();
        var Retailerid = $('#Retailerid').val();
        var Dealerid = $('#Dealerid').val();
        var Masterid = $('#Masterid').val();
        var Whitelabelid = $('#Whitelabelid').val();
        var ddlstatus = $('#ddlstatus').val();
        var ddlfiltertable = $('#ddlfiltertable').val();
        var url = '@Url.Action("ExcelUPIChargesReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlname=' + ddlname + '&Retailerid=' + Retailerid + '&Dealerid=' + Dealerid + '&Masterid=' + Masterid + '&Whitelabelid=' + Whitelabelid + '&ddlstatus=' + ddlstatus + '&ddlfiltertable=' + ddlfiltertable;
        location.href = url;
    });
</script>

<script>
    $("#btnpdf").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlname = $('#ddlname').val();
        var Retailerid = $('#Retailerid').val();
        var Dealerid = $('#Dealerid').val();
        var Masterid = $('#Masterid').val();
        var Whitelabelid = $('#Whitelabelid').val();
        var ddlstatus = $('#ddlstatus').val();
        var ddlfiltertable = $('#ddlfiltertable').val();
        var url = '@Url.Action("PdfUPICharges", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlname=' + ddlname + '&Retailerid=' + Retailerid + '&Dealerid=' + Dealerid + '&Masterid=' + Masterid + '&Whitelabelid=' + Whitelabelid + '&ddlstatus=' + ddlstatus + '&ddlfiltertable=' + ddlfiltertable;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>


<script>
    $(".buttonqrtype").click(function () {
          $.ajax({
            url: '@Url.Action("Upi_Qr_statusChange","Home")',
            type: 'POST',
              success: function (response) {
                  GETUpiQRCODEMINMAX();
                  if (response == true) {

                      $(".buttonqrtype span").text("variable QR");


                  }
                  else {
                      $(".buttonqrtype span").text("fixed QR");


                     // $(this).toggleClass("buttonqrtypeadd");
                  }
            },
            error: function () {
                //alert(error);
            }
        });
    });
        $(".buttonQRAPI").click(function () {
          $.ajax({
            url: '@Url.Action("Upi_Qr_API", "Home")',
            type: 'POST',
              success: function (response) {
                  GETUpiQRCODEMINMAX();
                  if (response == "CFREE") {
                      $(".buttonQRAPI span").text("CFREE");
                      $(".buttonqrtype span").text("variable QR");
                  }
                  else if (response == "PHONEPE") {
                      $(".buttonQRAPI span").text("PHONEPE");
                      $(".buttonqrtype span").text("variable QR");
                  }
                  else if (response == "PAYU") {
                      $(".buttonQRAPI span").text("PAYU");
                      $(".buttonqrtype span").text("fixedqr");
                  }
                  else {
                      $(".buttonQRAPI span").text("ICICI");
                      $(".buttonqrtype span").text("fixedqr");
                  }
            },
            error: function () {
                //alert(error);
            }
        });
      });

    function GETUpiQRCODEMINMAX() {
        $.ajax({
            url: '@Url.Action("GETUpiQRCODEMINMAX", "Home")',
            type: 'GET',
            success: function (response) {
                $('#RemTblQRCODE').html(response);
                //$("#txtminbalUPIQRCODE").val(''),
                //    $("#txtmaxbalUPIQRCODE").val('')
                $('#txtminbalUPIQRCODE').attr("readonly", true);
                $('#txtmaxbalUPIQRCODE').attr("readonly", true);



            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });


    }


    $('#myModal123showdata').click(function () {

         $.ajax({
            url: '@Url.Action("GETUpiQRCODEMINMAX", "Home")',
            type: 'GET',
            success: function (response) {
                $('#RemTblQRCODE').html(response);
                //$("#txtminbalUPIQRCODE").val(''),
                //    $("#txtmaxbalUPIQRCODE").val('')
                $('#txtminbalUPIQRCODE').attr("readonly", true);
                $('#txtmaxbalUPIQRCODE').attr("readonly", true);



            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });


    })


     $('#SaveChargeREM').click(function () {

       $('#lblmsg').text('')
        $.ajax({
            url: '@Url.Action("AddUpiCharge","Home")',
            type: 'POST',
            data: { min: $("#RemMinAmt").val(), charge: $("#RemMaxAmt").val()},
            success: function (response) {
                   $('#RemTbl').html(response);
                   $("#RemMinAmt").val(''),
                   $("#RemMaxAmt").val(''),
                   $('#RemTime').val(''),
                   $("#RemIMPSFee").val(''),
                    $("#RemNEFTFee").val('')



            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });
    })


</script>



<script type="text/javascript">
    function eselectAll() {
        debugger;
        var items = document.getElementsByName('acs1');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    function eUnSelectAll() {
        var items = document.getElementsByName('acs1');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }
</script>


<script type="text/javascript">
                $(document).ready(function () {
                    loadSelfUpiBlockStatus();
                    $("#SaveAll").click(function () {

            var optCode = []

                        $("#SelfUpiCheckUncheck input").each(function () {

                    if ($(this).prop('checked') == true) {
                        optCode.push($(this).val() + ",Y");
                    }
                    if ($(this).prop('checked') == false) {
                        optCode.push($(this).val() + ",N");
                    }
                });

            document.getElementById("loadermoney").style.display = "block";

            $.ajax({
                         type: "POST",
                         url: '@Url.Action("Blocked_Self_Upi_SettingSaveSaveotp", "Home")',
                         data: { 'ch': optCode },
                         cache: false,
                         dataType: 'json',
                         async: true,
                         success: function (data) {
                             var pp = data.status;
                             var mm = data.Message;

                             if (pp) {
                                 document.getElementById("loadermoney").style.display = "none";
                                 toastr.success('SUCCESS', 'Self UPI Block/Unblock');
                             }
                             else {
                                 toastr.error(mm, 'Self UPI Block Error');
                             }

                         }
                     });

        });

        function loadSelfUpiBlockStatus() {
             $.ajax({
                type: "GET",
                url: '@Url.Action("Check_Unchek_Blocked_Self_Upi_Setting", "Home")',
                cache: false,
                dataType: 'json',
                async: true,
                success: function (data) {
                    var obj = data;

                    for (var item in obj) {
                        var sts = obj[item].status;
                        var name = obj[item].Upi_Mode;
                        name = name.replace(' ', '')
                        if (sts == "Y") {
                            $("#" + name + "").prop("checked", true);
                        }
                    }
                }
            });
        }
        });
</script>
<script>
    function KYCONOFFGATEWAY(usefor) {
       $.ajax({
            url: '@Url.Action("Payment_Gateway_KYC_ON_OFF", "Home")',
                type: 'GET',
           success: function (data) {
               location.reload();
            }
        });
    }
</script>

<script>
    UPIGATEWAYSTS = (val,idno) => {
           $.ajax({
        url: '@Url.Action("Payment_Gateway_UPIGATEWAYSTS", "Home")',
               type: 'GET',
               data: { val, idno },
               cache: false,
               dataType: 'json',
       success: function (data) {
           location.reload();
        }
    });
    }
</script>