
@{
    ViewBag.Title = "UploadAPK";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css */
    .bread-same-all-page li {
        margin: 6px 0;
    }
    .main-play-api {
        background: #fff;
    }
    .admin-apk.current-tab-seconddesign #txtuploadedlink12 {
        margin-bottom: 6px;
    }
    .fullbodydycolorbg.btn-first {
        background-image: none !important;
        background: var(--main-bg-lcolor);
        border-radius: 2px;
    }
    
    /* new css */


    .select2-selection.select2-selection--single {
        border-radius: 0px !important;height: 32px !important;border-color: #ccc !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px !important;
    }


    @@media only screen and (max-width:1280px) {

        section.content {
            margin: 75px 0px 0 160px;
        }
    }

    @@media only screen and (max-width:1169px) {

        .ls-closed section.content {
            margin-left: 0px;
        }
    }

    @@media only screen and (max-width:1024px) {

        #sidebar-open {
            top: 29px;
            left: -147px;
        }
    }

    @@media only screen and (max-width:767px) {
        #sidebar-open {
            top: -1px;
            left: -4px;
        }
    }



    @@media screen and (max-width:766px){
        .col-md-6 {
            width: 100%;float: left;margin-bottom: 15px;
        }
    }

    @@media only screen and (max-width:480px) {
        .white-main-play-api .col-md-12 > p {
            font-size: 18px !important;
        }
        .admin-apk input, .admin-apk select, .admin-apk .form-group > div{
            width: 55% !important;
        }
        .admin-apk button {padding: 0px 20px;}
        .table-responsive > .table-bordered > thead > tr > th:first-child,.table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > thead > tr > th:last-child{border-left: 1px solid var(--border-color);border-right: 1px solid var(--border-color);}
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>APK Setting</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">APK Setting</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-second-third four-noneclass-admin-only">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-thirdclass">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        APK Setting
                    </li>
                </ul>

            </div>
        </div>






        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-border-third">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-header-third main-play-api">
                            <div class="body">
                                <div class="row">

                                    <div class="col-md-12">
                                        <p style="font-size:20px;background:var(--nav-tab-bg);padding: 5px 10px;">Admin APK (Main App)<span style="float: right;color:#333;background:#fff;border-radius: 50%;height: 30px;width: 30px;text-align: center;"><img src="~/AdminDesign/images/android.svg" style="width:18px;" /> </span>  </p>


                                        <div class="row">

                                            <div class="col-md-12 tmw-sp-i admin-apk current-tab-seconddesign">
                                                <fieldset style="margin-top: 30px;">
                                                    <legend>Play Store Link</legend>

                                                    @using (Html.BeginForm("Upload_Adadmin_APKlink", "Home", FormMethod.Post))
                                                    {
                                                        <div class="form-group button-seconddesign tabcurrent-seconddesign">
                                                            <input type="text" placeholder="Enter Play Store Link" style="width:100% !important; " id="txtuploadedlink" name="txtuploadedlink" />
                                                            <button class="fullbodydycolorbg btn-first" type="submit" style="margin-top:15px; margin-bottom:10px;"><span style="color:#fff;position:relative;">Upload Link</span></button>
                                                        </div>
                                                    }




                                                </fieldset>
                                            </div>

                                        </div>

                                        <div class="row">
                                            @using (Html.BeginForm("Uploadadminapk", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                            {
                                                <div class="col-md-12 tmw-sp-i admin-apk current-tab-seconddesign">
                                                    <fieldset style="margin-top: 30px;">
                                                        <legend>APK File</legend>
                                                        <div class="form-group button-seconddesign">
                                                            <input type="text" placeholder="Enter Application Latest Version" style="width:100% !important; " id="txtuploadedlink12" name="txtuploadedlink12" />
                                                            <input type="file" id="Adminapk" name="Adminapk" class="form-control" style="width:100% !important;" />
                                                            <button type="submit" class="fullbodydycolorbg btn-first" style="margin-top:15px;margin-bottom:10px;"><span style="color:#fff;position:relative;">Upload Apk</span></button>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            }
                                        </div>





                                    </div>

                                    <div class="col-md-12">
                                        <div class="table-responsive" style="position:inherit;">
                                            <table class="table table-bordered " style="width:100%;">
                                                <thead style="background-color:whitesmoke;">
                                                    <tr>
                                                        <th>File Name</th>
                                                        <th>Files</th>
                                                        @*<th>Delete</th>*@
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                    <tr>
                                                        @*@if (ViewBag.adminshowurl == "Upload Successfully.")
                                                        {
                                                            <td><p style="font-size:18PX;color:green;">@ViewBag.apkfilename</p></td>
                                                            <td><p style="font-size:18PX;color:green;">@ViewBag.APKLINK</p></td>*@
                                                        @*<td>
                                                            <button class="btn btn default" id="but" onclick="deleteadminapk()" style="background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="Delete Information">
                                                                Delete
                                                            </button>
                                                        </td>*@
                                                        @*}
                                                        else
                                                        {
                                                            <td><p style="font-size:18PX;color:red;">@ViewBag.adminshowurl</p></td>
                                                            <td></td>
                                                        }*@

                                                        <td>APK Name</td>
                                                        <td><p style="font-size:18PX;color:green;"> @ViewBag.apkfilename</p></td>

                                                        <td>
                                                            @if (@ViewBag.apkfilename == "File Not Found")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("DownloadAPK", "Home", new { Area = "" })" class="fullbodydycolorbg" style="color: #fff;padding: 5px 10px;border: 1px solid #000;">Download Android App / Version = @ViewBag.Apk_Version</a>
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>APK Link</td>
                                                        <td>
                                                            <p style="font-size:18PX;color:green;">
                                                                <input type="text" id="txthdlink" name="txthdlink" readonly value="@ViewBag.adminshowurl" style="background:transparent;border:0px;" />
                                                                @*<a target="_blank" href="@ViewBag.adminshowurl">@ViewBag.adminshowurl</a>*@
                                                            </p>
                                                        </td>
                                                        <td>

                                                            @if (ViewBag.adminshowurl == "File Not Found" || ViewBag.adminshowurl == null || ViewBag.adminshowurl == "")
                                                            {

                                                            }
                                                            else
                                                            {
                                                                <a onclick="myFunction()" onmouseout="outFunc()" class="fullbodydycolorbg" style="color: #fff;padding: 5px 10px;border:1px solid #000;cursor:pointer">
                                                                    <span class="tooltiptext" id="myTooltip" style="color:#fff;">Copy to clipboard</span>

                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>





                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-12">
                            <div class="table-responsive" style="position:inherit;margin-top:-28px;">
                                <table class="table table-bordered " style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Message</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                @ViewBag.apkfilename
                                            </td>

                                            @if (ViewBag.whitelabelshowurl == "Upload Successfully.")
                            {
                                <td><p style="font-size:18PX;color:green;">@ViewBag.whitelabelshowurl</p></td>
                                <td>
                                    <button class="btn btn default" id="but" onclick="deletewhitelabelapk()" style="background-color:transparent; border:none;border:1px solid #c7c2c2;margin-top:4px; padding:1px 6px 1px 6px;" title="Delete Information">
                                        Delete
                                    </button>
                                </td>
                            }
                            else
                            {

                                <td><p style="font-size:18PX;color:red;">@ViewBag.whitelabelshowurl</p></td>
                                <td></td>
                            }

                                        </tr>
                                        <tr>
                                          <td>@ViewBag.adminshowurl</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                    </div>
                    <div class="col-md-6">
                        <div class="page-header-third main-play-api white-main-play-api">
                            <div class="body">
                                <div class="row">

                                    <div class="col-md-12">
                                        <p style="font-size:20px;background:var(--nav-tab-bg);padding: 5px 10px;">White Label User (App Setting)<span style="float: right;color:#333;background:#fff;border-radius: 50%;height: 30px;width: 30px;text-align: center;"><img src="~/AdminDesign/images/android.svg" style="width:18px;" /> </span> </p>
                                        @*<div class="row clearfix">

                                            <div class="col-sm-12">
                                                <label>Upload</label>
                                                <div class="form-group">
                                                    <div class="" style="border:1px solid #dddddd;">
                                                        <input type="file" id="Whitelabelapk" name="Whitelabelapk" class="form-control">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>*@


                                        <div class="row">
                                            @using (Html.BeginForm("Uploadwhitelabelapk", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                            {
                                                <div class="col-md-12 tmw-sp-i admin-apk">
                                                    <label>Common App</label>
                                                    <div class="form-group button-seconddesign">

                                                        <input type="file" nter Play Store Link id="Whitelabelapk" name="Whitelabelapk" class="form-control">
                                                        <button type="submit" class="fullbodydycolorbg btn-first"><span style="color:#fff;position:relative">Upload</span></button>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <div class="row">

                                            <div class="col-md-12 tmw-sp-i admin-apk">
                                                <div class="admin-apk-border">
                                                    <label>Select User</label>
                                                    <div class="form-group">
                                                        <div class="" style="width:75%;float:left;">
                                                            <select class="for-select2" style="width:100% !important;">
                                                                <option value="">Select User</option>
                                                                <option value="1">dfjddddnkjfdsbn@gmail.com</option>
                                                                <option value="2">hhjjksdnkjfdsbn@gmail.com</option>
                                                                <option value="3">ioiyiusdnkjfdsbn@gmail.com</option>
                                                            </select>
                                                        </div>

                                                        <button type="submit" style="color: #000;border: 1px solid #bbb;font-weight:400;">Search</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-12 tmw-sp-i admin-apk">
                                                <label>Play Store Link</label>
                                                <div class="form-group button-seconddesign tabcurrent-seconddesign">
                                                    <input type="text" placeholder="Enter Play Store Link" />
                                                    <button class="fullbodydycolorbg btn-first"><span style="color:#fff;position:relative">Upload Link</span></button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-12 tmw-sp-i admin-apk">
                                                <label>Apk File</label>
                                                <div class="form-group button-seconddesign tabcurrent-seconddesign">
                                                    <input type="text" placeholder="Enter Play Store Link" />
                                                    <button class="fullbodydycolorbg btn-first"><span style="color:#fff;position:relative">Upload Apk</span></button>
                                                </div>
                                            </div>

                                        </div>





                                        @*<div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-9 tmw-sp-i">
                                                <button type="submit" class="btn bg-grey waves-effect btnssl" data-loading-text="<i class='fa fa-spinner fa-spin '></i>" style="margin-top:-30px;float:right;">
                                                    <span>Save Change</span>
                                                </button>
                                            </div>

                                        </div>*@
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>



<script>
    function myFunction() {
        var copyText = document.getElementById("txthdlink");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>

<script>
    $('.for-select2').select2();
</script>

<script>
    $(function () {
        var succ = '@ViewBag.success';
        var error = '@ViewBag.error';
        if (succ != "" && succ != null) {
            swal("Good job!", succ, "success");
        }
        if (error != "" && error != null) {
            swal("Oops...", error, "error");
        }
    });
</script>

<!--AdminAPK Delete -->
<script type="text/javascript">
    function deleteadminapk(e, email) {
        // alert(e)
        swal({
            title: "Are you sure?",
            text: "Do you want to delete APK File",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {
    $.ajax({
        type: "POST", url: '@Url.Action("deleteadminapk", "Home")', dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "APK Deleted Successfully.", "success");
                var url = '@Url.Action("UploadAPK", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("UploadAPK", "Home")';
                window.location.href = url;
            }
        }
    });
}
);
    }
</script>

<!--wHITELABEL Apk Delete -->
<script type="text/javascript">
    function deletewhitelabelapk(e, email) {
        // alert(e)
        swal({
            title: "Are you sure?",
            text: "Do you want to delete APK File",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {
      $.ajax({
        type: "POST", url: '@Url.Action("deletewhitelabelapk", "Home")', dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "APK Deleted Successfully.", "success");
                var url = '@Url.Action("UploadAPK", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("UploadAPK", "Home")';
                window.location.href = url;
            }
        }
    });
}
);
    }
</script>




