@model Vastwebmulti.Areas.ADMIN.Models.BlockUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web_Login_PDF_History</title>
    <style>
        .informaction {
            width: 100%;
            margin: 0;
            margin-bottom: 0px;
            float: left;
            border: 2px solid #000;
            padding: 0px 5px;
            background: #fff8dc;
            border-left: 0;
            border-right: 0;
        }

        .informaction-left, .informaction-right {
            width: auto;
            float: left;
            padding: 3px 0px;
        }

            .informaction-left span:first-child {
                font-weight: 600;
                padding-right: 5px;
            }

        .informaction span {
            float: left;
        }

        .informaction h3 {
            text-transform: uppercase;
        }

        .fullpdfsuccess {
            width: 100%;
            float: left;
        }

        .informaction-right {
            float: right;
        }

        .fullpdfsuccess {
            margin: 5px 0;
            padding: 0 15px;
            float: left;
        }

            .fullpdfsuccess span {
                font-weight: 400 !important;
                font-size: 14px;
            }

        * {
            box-sizing: border-box;
        }

        .table-responsive-webpdf-history table {
            width: 100%;
            float: left;
            border: 0;
        }

        table tr th, table tr td, table tr, table {
            border-color: #e0e0e0 !important;
        }

        .table-responsive-webpdf-history table th, .table-responsive-webpdf-history table td {
            padding: 5px 5px;
        }

        table tr th, table tr td {
            border-top: 0;
            border-right: 0;
        }

        table {
            border-right: 1px solid #888787 !important;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
    </style>
</head>
<body>

    <h3 style="text-align:center">Success Login History</h3>
    <div class="" style="width:100%;float:left;padding:0 10px;">
        <div class="informaction" style="overflow:hidden;">
            <div class="fullpdfsuccess">
                <div class="informaction-left">
                    <span>User Role : </span>
                    <span> @Model.LoginSearchUserRole </span>
                </div>
                <div class="informaction-right">

                    <span>Farm Name : </span>
                    <span> @Model.searchfrmname </span>
                </div>
            </div>

            <div class="fullpdfsuccess">
                <div class="informaction-left">
                    <span>User Type : </span>
                    <span> @Model.LoginType </span>
                </div>
                <div class="informaction-right">

                    <span>WebSiteURL : </span>
                    <span> @Model.CompanyURL </span>
                </div>
            </div>
            <div class="fullpdfsuccess">
                <div class="informaction-left">
                    <span>Registered Mobile No : </span>
                    <span> @Model.RegisteredMobile</span>
                </div>
                <div class="informaction-right">
                    <span>Email Id : </span>
                    <span> @Model.searchEmailID</span>
                </div>
            </div>
            <div class="fullpdfsuccess">
                <div class="informaction-left">
                    <span>From Date : </span>
                    <span> @Model.Fromdatesearch</span>
                </div>
                <div class="informaction-left">
                    <span style="padding-left: 10px;">To Date : </span>
                    <span> @Model.Todatesearch</span>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive table-responsive-webpdf-history" style="width:100%;float:left;padding:0 10px;">
        <table class="table table-responsive" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th>Sr.&nbsp;No.</th>
                <th>Registered&nbsp;User&nbsp;Id</th>
                <th>IP&nbsp;Address</th>
                <th>Browser</th>
                <th>Lattitude</th>
                <th>Longitude</th>
                <th>Login Time </th>
                <th>Address</th>
            </tr>
            @{ var i = 1;}
            @foreach (var item in Model.WLoginHistory)
            {

                <tr role="row" class="odd">
                    <td>@i</td>
                    <td>@item.UserId</td>

                    <td>
                        <p>@item.ModelNo</p>
                        @item.IP_Address
                    </td>
                    <td>@item.browser</td>
                    <td>@item.Latitude</td>
                    <td>@item.Logitude</td>
                    <td>@item.CurrentLoginTime</td>
                    <td>
                        @item.City<span>&nbsp;&nbsp; @item.Location</span>
                    </td>
                </tr>
                i++;
            }

        </table>
    </div>
</body>
</html>
