@using Vastwebmulti.Models
@model IEnumerable<Vastwebmulti.Models.appwebloginsetting>
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    ViewBag.Title = "webappsetting";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<style>
    /* new css */
    .modal .modal-footer {
        width: 100%;
        text-align: center;
    }

        .modal .modal-footer #savebutton {
            margin-bottom: 20px;
        }

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #tstsmessage {
        text-align: center;
        font-size: 21px;
        margin-top: 10px;
    }

    .modal-body {
        width: 100%;
        float: left;
    }

    .modal-header::after, .modal-header::before {
        display: none;
    }

    select {
        margin-right: 4px;
        float: left;
        padding: 0px 4px;
        border: 0.2px solid #b1a6a638;
        font-size: 14px;
        color: #555;
        height: 29px;
    }

    .modal-body input {
        padding: 8px 7px;
        width: 100%;
        height: auto;
        background: #fff;
    }

    input {
        float: left;
        padding: 0px 7px;
        border: 0.2px solid #b1a6a638;
        background: #b1a6a638;
        font-size: 14px;
        color: #4a4a4a;
        display: flex;
        align-items: center;
        position: relative;
        height: 29px;
    }

    .res_div svg {
        width: 23px;
        color: #000;
        margin-left: 8px;
        cursor: pointer;
    }

    .all_page_alert {
        position: absolute;
        top: 109px;
        z-index: 99;
        right: 15px;
        display: none;
        padding: 10px;
    }

    .alert-success {
        background-color: #2b982b;
    }

    .res_div svg:hover + .all_page_alert {
        display: block;
    }

    .bread-same-all-page {
        width: auto;
    }

    .headline_set {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .res_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* new css */
</style>

<section class="content">

    <div class="container-fluid" style="height:auto !important;min-height:inherit !important;">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin">
            <h3>Set Referral</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">User's & Account&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Set Referrals</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third pageheader-margin-third retailerlist-header-resp headline_set">
            <div class="bread-same-all-page breadsameall-second four-noneclass-admin-only">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        User Number Setting
                    </li>
                </ul>
            </div>
            <div class="res_div">

                @{
                    var chkd = db.Retailer_Details.ToList();
                }
                @using (Html.BeginForm())
                {
                    <select name="ids">
                        <option value="">ALL</option>
                        @foreach (var i in chkd)
                        {
                            <option value="@i.RetailerId">@i.Frm_Name</option>
                        }
                    </select>
                    <input type="submit" value="submit" />
                }
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                </svg>
                <div class="alert alert-success all_page_alert" role="alert">
                    User Number Setting
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-12">
        <div class="page-header-third">

            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>USER</th>
                    <th>Web Status</th>
                    <th>App Status</th>

                </tr>
                @{
                    var k = 0;
                }
                @foreach (var i in Model)
                {
                    <tr>
                        <td>
                            @{
                                var chk = db.Retailer_Details.Where(s => s.RetailerId == i.Retailerid).SingleOrDefault();

                            }
                            @chk.Frm_Name
                        </td>
                        <td class="websss">
                            @if (i.webLoginoff == true)
                            {
                                <button data-toggle="modal" data-target="#exampleModal" style="padding: 3px 18px; background-color: green; color: white; border: none; border-radius: 2px;" onclick="changesetting('Web','@i.Retailerid',@k,false)">ON</button>
                            }
                            else
                            {
                                <button data-toggle="modal" data-target="#exampleModal" style=" background-color: red; padding: 3px 18px; color: white; border: none; border-radius: 2px;" onclick="changesetting('Web','@i.Retailerid',@k,true)">OFF</button>
                            }

                        </td>
                        <td class="appsss">

                            @if (i.appLoginoff == true)
                            {
                                <button data-toggle="modal" data-target="#exampleModal" style="padding: 3px 18px; background-color: green; color: white; border: none; border-radius: 2px;" onclick="changesetting('App','@i.Retailerid',@k,false)">ON</button>
                            }
                            else
                            {
                                <button data-toggle="modal" data-target="#exampleModal" style=" background-color: red; padding: 3px 18px; color: white; border: none; border-radius: 2px" onclick="changesetting('App','@i.Retailerid',@k,true)">OFF</button>
                            }

                        </td>


                    </tr>
                    k++;
                }

            </table>
        </div>
    </div>
    



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter OTP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="color:red" id="tstsmessage">
                    Otp Sent Successfully..........!
                </div>
                <div class="modal-body">
                    <input type="number" id="tops" placeholder="Enter OTP" />

                </div>

                <div class="modal-footer" id="chkdss">

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function changesetting(type, id, no, sts) {

       


        $.ajax({
            url: "@Url.Action("otpsentforsts", "Home")",
         success: function (data) {

            }
        });
        document.getElementById('chkdss').innerHTML = "";
        document.getElementById('chkdss').innerHTML = '<button onclick="changesetting11(\''+type+'\', \'' + id + '\', ' + no + ','+ sts+')" type="button" id="savebutton" class="btn btn-primary">Save changes</button>'
    }

    function changesetting11(type, id, no, sts) {
        var chjs = document.getElementById('tops').value;

        if (chjs.length == 4) {
            if (type == "Web") {
                $.ajax({
                    url: "@Url.Action("websettingsts", "Home")",
                    data: { userid: id, sts: sts, otp: chjs },
                    success: function (data) {
                        if (data.status1 == true) {
                            if (data.status == true) {
                                document.getElementsByClassName('websss')[no].innerHTML = '<button data-toggle="modal" data-target="#exampleModal" style="padding: 1px 15px; background-color:green; color:white" onclick="changesetting(\'Web\', \'' + id + '\', ' + no + ', false)">ON</button>';
                            } else {
                                document.getElementsByClassName('websss')[no].innerHTML = '<button data-toggle="modal" data-target="#exampleModal" style="padding: 1px 15px; background-color:red; color:white" onclick="changesetting(\'Web\', \'' + id + '\', ' + no + ', true)">OFF</button>';
                            }
                            $('#exampleModal').modal('hide');
                        }
                        else {
                            document.getElementById('tstsmessage').innerHTML = 'OTP Not Matched....!'
                        }
                    }
                });
            } else {
                $.ajax({
                    url: "@Url.Action("appsettingsts", "Home")",
                    data: { userid: id, sts: sts, otp: chjs },
                    success: function (data) {
                        if (data.status1 == true) {
                            if (data.status == true) {
                                document.getElementsByClassName('appsss')[no].innerHTML = '<button data-toggle="modal" data-target="#exampleModal" style="padding: 1px 16px; background-color:green; color:white" onclick="changesetting(\'App\', \'' + id + '\', ' + no + ', false)">ON</button>';
                            } else {
                                document.getElementsByClassName('appsss')[no].innerHTML = '<button data-toggle="modal" data-target="#exampleModal" style="padding: 1px 16px; background-color:red; color:white" onclick="changesetting(\'App\', \'' + id + '\', ' + no + ', true)">OFF</button>';
                            }
                            $('#exampleModal').modal('hide');
                        }
                        else {
                            document.getElementById('tstsmessage').innerHTML = 'OTP Not Matched....!'
                        }
                    }
                });
            }
        }
        else {
            document.getElementById('tstsmessage').innerHTML = 'otp is in 4 digit'
        }
}

</script>