
@{
    ViewBag.Title = "WhyChooseUs_Content";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript"> CKEDITOR.replace('txtedit'); </script>
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <div class="col-md-10">
             <div class="row clearfix">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                     <div class="card">
                         <div class="">
                             <h2 style="color:#00000082; font-size:16px;padding-top:9px; padding-left:22px;">
                                 Why Choose Us Content
                             </h2>
                             <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                 <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                 <span style="top:0px;">Add New</span>
                             </button>
                           
                         </div>
                         <div class="body">
                             <div class="row">
                                 <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                     <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                         <thead style="background-color:whitesmoke;">
                                             <tr>
                                                 <th>Content</th>
                                                 <th>Edit</th>
                                                 <th>Delete</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                             @foreach (var item in ViewBag.content)
                                             {
                                                 var p = item.AllContent;
                                                 var q = "";
                                                 if (p.Length > 500)
                                                 {
                                                     q = p.Substring(0, 500);
                                                 }
                                                 else
                                                 {
                                                     q = p;
                                                 }
                                                 <tr>
                                                     <td>@Html.Raw(q)</td>
                                                     <td>
                                                         <a class="btn btn-default waves-effect" href='@Url.Action("Edit_WhyChooseUs", "Home", new {WhyChooseUsid = item.Id})' style="border:1px solid #c7c2c2;">
                                                          Edit
                                                         </a>
                                                     </td>
                                                     <td>
                                                         <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delcontent('@item.Id')">
                                                             <i class="fa fa-trash" style="font-size:23px; color:red;"></i>
                                                         </button>
                                                     </td>
                                                 </tr>
                                             }
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                             
                         </div>
                     </div>
                 </div>
             </div>
             
             <div class="row clearfix">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-30px;">
                     <div class="card">
                         <div class="">
                             <h2 style="color:#00000082; font-size:16px;padding-top:9px; padding-left:22px;">
                                 Why Choose Us All Data Content
                             </h2>
                             <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal1">
                                 <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                 <span style="top:0px;">Add New</span>
                             </button>
                   
                         </div>
                         <div class="body">
                             <div class="row">
                                 <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                     <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                         <thead style="background-color:whitesmoke;">
                                             <tr>
                                                 <th>Name</th>
                                                 <th>Image&nbsp;content</th>
                                                 <th>Image</th>
                                                 <th>Edit</th>
                                                 <th>Delete</th>
                                                 <th>View Image</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                             @foreach (var item in ViewBag.allcontent)
                                             {
                                                 <tr>
                                                     <td>@item.Name</td>
                                                     <td>@item.Imagecontent</td>
                                                     <td><img src="@Url.Content("~/"+item.Image)" width="100" height="70" /></td>
                                                     <td>
                                                         <a class="btn btn-default waves-effect" href='@Url.Action("Edit_WhyChooseUsData", "Home", new {WhyChooseUsDataid = item.Id})' style="border:1px solid #c7c2c2;">
                                                         Edit
                                                         </a>
                                                     </td>
                                                     <td>
                                                         <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delallcontent('@item.Id')">
                                                            Delete
                                                         </button>
                                                     </td>
                                                     <td>
                                                         <a class="btn btn-default waves-effect" href="@Url.Content("~/" + item.Image)" style="border:1px solid #c7c2c2;" target="_blank">
                                                             View
                                                         </a>
                                                     </td>
                                                 </tr>
                                             }
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                             
                         </div>
                     </div>
                 </div>
             </div>
             @*<div class="row clearfix">
                 <div class="col-md-12" style="margin-top:-24px; margin-bottom:30px;">
                     <div class="card">
                         <div class="">

                             <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["first"],@ViewData["second"]);">
                                 OUTSIDE WHY CHOOSE US BACKGROUND COLOR
                             </h2>
                         </div>
                    
                         <div class="body">
                             <div class="row">
                                 <div class="col-md-5">
                                     <div class="form-group" style="border:1px solid #dddddd;">
                                         <div class="input-group">
                                             <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                 <label>&nbsp;HEX CODE&nbsp;</label> <input type="color" id="color1" value="#ff0000">
                                             </div>
                                             <input type="text" id="txtcolor" name="txtcolor" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                             <div class="input-group-addon" style="padding-top:0px;">
                                                 <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="height:45px; margin:0px -12px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-5">
                                     <div class="form-group" style="border:1px solid #dddddd;">
                                         <div class="input-group">
                                             <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                 <label>&nbsp;RGB CODE&nbsp;</label> <input type="color" id="color2" value="#ff0000">
                                             </div>
                                             <input type="text" id="txtcolor1" name="txtcolor1" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                             <div class="input-group-addon" style="padding-top:0px;">
                                                 <button type="button" id="btn" onclick="fun()" class="btn waves-effect" style="height:45px; margin:0px -13px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="col-md-2">
                                     <br />
                                     <button type="button" id="btn" name="btnsave" onclick="Savecolor()" class="btn" style="margin-top:-19px;height:45px;border:1px solid #c7c2c2;background:#dedddd;">Save Color</button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>*@
         </div>
        </div>
      </div>
</section>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Why Choose Content</h4>
            </div>
            @using (Html.BeginForm("WhyChooseUs_Content", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Content</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>
                                            <input type="hidden" id="editor" name="editor" value="ckeditor" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add Why Choose Us All Content</h4>
            </div>
            @using (Html.BeginForm("WhyChooseUs_Content", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Service Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtname" name="txtname" maxlength="30" class="form-control" placeholder="Enter Provided Service Name " />
                                            <input type="hidden" id="allcontent" name="allcontent" value="content" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Content</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <textarea id="txtcontent" name="txtcontent" class="form-control" required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <p style="color:red;">Image Size will Be :- 320 * 200 Pixel</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>
<script>
    $(document).ready(function () {
        var succ = '@ViewData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("successfully")) {
                swal("Data Upload!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
        var first = '@ViewData["first"]';
        var second = '@ViewData["second"]';
        if (first != "" && second != "") {
            $("#color1").val(first);
            $("#color2").val(second);
            $("#txtcolor").val(first);
            $("#txtcolor1").val(second);
        }
    });
</script>
<script>
    function fun()
    {
           var col = document.getElementById("color1").value;
           $("#txtcolor").val(col);
           var col = document.getElementById("color2").value;
           $("#txtcolor1").val(col);
    }
</script>
<script>
    function Savecolor()
    {
        var vv = $("#txtcolor").val();
        var col = $("#txtcolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("OuterWhyColorchange", "Home")?first=' + vv + '&second='+ col + '';
        location.href = url;
     }
</script>
<script type="text/javascript">

    function delallcontent(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Why Choose Us Content Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delallcontent", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("File Removed!", "Why Choose Us Content Data Deleted Successfully.", "success");
                var url = '@Url.Action("WhyChooseUs_Content", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("WhyChooseUs_Content", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

<script type="text/javascript">

    function delcontent(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Why Choose Us Content Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delcontent", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("File Removed!", "Why Choose Us Content Data Deleted Successfully.", "success");
                var url = '@Url.Action("WhyChooseUs_Content", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("WhyChooseUs_Content", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>