
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/RCH/Views/Shared/_Layout.cshtml";
}

<section class="content">
  
    <div class="container-fluid">
                      <!-- Widgets -->
        <div class="row">
             <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-pink">group</i>
                    </div>
                    <div class="content">
                        <div class="text">@ViewData["super"]</div>
                        <div class="number">Master</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-blue">group</i>
                    </div>
                    <div class="content">
                        <div class="text">@ViewData["Dlm"]</div>
                        <div class="number">Distributor</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-teal">group</i>
                    </div>
                    <div class="content">
                        <div class="text">@ViewData["Rem"]</div>
                        <div class="number">Retailer</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-purple">group</i>
                    </div>
                    <div class="content">
                        <div class="text">@ViewData["API"]</div>
                        <div class="number">API User</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon">
                        <i class="material-icons col-light-blue">group</i>
                    </div>
                    <div class="content">
                        <div class="text">@ViewData["EndUser"]</div>
                        <div class="number">White label</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
@using (Html.BeginForm("levelvalue", "Home", FormMethod.Post))
{
                    <div class="icon">
                        <button type="submit" style="background-color:transparent;border-color:transparent; "><i class="material-icons col-red">add_circle_outline</i></button>
                        @*<i class="material-icons col-red">add_circle_outline</i>*@
                    </div>
}
                    <div class="content">
                        <div class="text">@ViewData["total"]</div>
                        <div class="number">Total</div>
                        <a href="@Url.Action("AllDetails", "Home")" style="font-size:13px;">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <!-- CPU Usage -->
        <div class="row clearfix">
            <!-- Task Info -->
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card">
                    <div class="header">
                   <h2><i class="material-icons col-pink">group</i>&nbsp;<span>ACTIVE / INACTIVE USERS</span></h2>
                     </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>USER</th>
                                        <th>ACTIVE</th>
                                        <th>INACTIVE</th>
                                        <th>TOTAL</th>
                                        <th>PROGRESS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Master</td>
                                        <td><a href="~/ADMIN/Home/All_MD_Status" style="text-decoration:none;color:#867b7b;">@ViewData["Act_master"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_MD_Status" style="text-decoration:none;color:#867b7b;">@ViewData["iactiv_master"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_MD_Status" style="text-decoration:none;color:#867b7b;">@ViewData["total_master"]</a></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_master_per"]%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Distributor</td>
                                        <td><a href="~/ADMIN/Home/All_Dealer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["Act_delaler"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Dealer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["InAct_delaler"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Dealer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["total_Del"]</a></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_Del_Perc"]%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Retailer</td>
                                        <td><a href="~/ADMIN/Home/All_Retailer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["actRtl"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Retailer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["inRtl"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Retailer_Status" style="text-decoration:none;color:#867b7b;">@ViewData["TotalRetailrs"]</a></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_Rtl_Perc"]%"></div>
                                                </div>
                                         
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>API User</td>
                                        <td><a href="~/ADMIN/Home/All_Api_Status" style="text-decoration:none;color:#867b7b;">@ViewData["Act_Api"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Api_Status" style="text-decoration:none;color:#867b7b;">@ViewData["Inactv_Api"]</a></td>
                                        <td><a href="~/ADMIN/Home/All_Api_Status" style="text-decoration:none;color:#867b7b;">@ViewData["total_Api"]</a></td>
                                            <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_Api_Perc"]%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>White label</td>
                                        <td><a href="~/ADMIN/Home/All_Whitelabel_Status" style="text-decoration:none;color:#867b7b;"></a>4</td>
                                        <td><a href="~/ADMIN/Home/All_Whitelabel_Status" style="text-decoration:none;color:#867b7b;"></a>4</td>
                                        <td><a href="~/ADMIN/Home/All_Whitelabel_Status" style="text-decoration:none;color:#867b7b;"></a>4</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- #END# Task Info -->
            <!-- Browser Usage -->
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="card">
                    <div class="header">
                        <h2><i class="material-icons col-pink">equalizer</i>&nbsp;TODAY BUSINESS</h2>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="body">
                                <div id="donut_chart" class="graph"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover dashboard-task-infos">
                                        <thead>
                                            <tr>
                                                <th>SIGN</th>
                                                <th>OPERATORS</th>
                                                <th>TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i class="material-icons col-pink">phone_iphone</i></td>
                                                <td>Prepaid</td>
                                                <td>@ViewData["Prepaid"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-blue">phone_iphone</i></td>
                                                <td>Pospaid</td>
                                                <td>@ViewData["Postpaid"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-green">desktop_mac</i></td>
                                                <td>DTH</td>
                                                <td>@ViewData["DTH"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-red">call_end</i></td>
                                                <td>Landline</td>
                                                <td>@ViewData["Landline"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons chk-col-teal">wb_incandescent</i></td>
                                                <td>Electricity</td>
                                                <td>@ViewData["Electricity"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-brown">panorama_vertical</i></td>
                                                <td>Gas</td>
                                                <td>@ViewData["Gas"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-red">account_balance</i></td>
                                                <td>IMPS</td>
                                                <td>@ViewData["Moneytransfer"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-indigo">beach_access</i></td>
                                                <td>Insurance</td>
                                                <td>@ViewData["Insurance"]</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-orange">business_center</i></td>
                                                <td>Gift Card</td>
                                                <td>0</td>

                                            </tr>
                                            <tr>
                                                <td><i class="material-icons col-cyan">personal_video</i></td>
                                                <td>DTH Booking</td>
                                                <td>0</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- #END# Browser Usage -->
        </div>
       
        
    </div>
</section>
<script>
    window.onload=function()
    {
        initDonutChart();
    }
</script>
<!-- Doughnut Chart -->
 <script type="text/javascript">
     function initDonutChart() {
         var pre = '@ViewData["Prepaid"]';
        var post = '@ViewData["Postpaid"]';
        var dth = '@ViewData["DTH"]';
        var landline = '@ViewData["Landline"]';
        var elect = '@ViewData["Electricity"]';
        var gas = '@ViewData["Gas"]';
        var imps = '@ViewData["Moneytransfer"]';
        var ins = '@ViewData["Insurance"]'
        var gift = 0;
        var dthbooking = 0;
        Morris.Donut({
            element: 'donut_chart',

            data: [
                {
                    label: 'Prepaid',
                    value: pre,
                },
            {
                label: 'Postpaid',
                value: post
            },
            {
                label: 'DTH',
                value: dth
            },
            {
                label: 'Landline',
                value: landline,
                },
             {
                 label: 'Electricity',
                 value: elect
             },
              {
                  label: 'Gas',
                  value: gas
              },
               {
                   label: 'IMPS',
                   value: imps
               },
                {
                    label: 'Insurance',
                    value: ins
                },
                  {
                      label: 'Gift Card',
                      value: gift
                  },
            {
                label: 'DTH Booking',
                value: dthbooking
            }
            ],
       
            colors: [
                'rgb(233, 30, 99)',
                'rgb(0, 128, 255)',
                'rgb(76, 175, 80)',
                'rgb(255, 0, 0)',
                'rgb(128, 128, 128)',
                'rgb(121, 85, 72)',
                'rgb(244, 67, 54)',
                'rgb(63, 81, 181)',
                'rgb(255, 152, 0)',
                'rgb(0, 188, 212)'],
            
            formatter: function (y) {
             return y
               
            }
 
         });
       
    }
</script>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

