@model IEnumerable<Vastwebmulti.Models.maual_rch_details_Result>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/RCH/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function serch() {
        var x = document.getElementsByName("daterangepicker_start")[0].value;
        var x1 = document.getElementsByName("daterangepicker_end")[0].value;
        document.getElementById("txt_frm_date").value = x;
        document.getElementById("txt_to_date").value = x1;
    }
</script>
<script type="text/javascript">
    function fun() {
        var answer = confirm("ARE YOU SURE?")
        if (answer)
            return true;
        else
            return false;
    }
</script>
<section class="content">
   
    <div class="container-fluid">
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> TOTAL SUCCESS</span></div>
                        <label style="font-size:20px; font-weight:normal;">@ViewData["snsucc"]</i></label>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> SUCCESS AMOUNT</span></div>
                        <label style="font-size:20px; font-weight:normal;"><i class="fa fa-rupee">@ViewData["snsamt"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> TOTAL FAILED</span></div>
                        <label style="font-size:20px; font-weight:normal;">@ViewData["snfai"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> FAILED AMOUNT</span></div>
                        <label style="font-size:20px; font-weight:normal;"><i class="fa fa-rupee">@ViewData["snfamt"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> TOTAL PENDING</span> </div>
                        <label style="font-size:20px; font-weight:normal;">@ViewData["snpai"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> PENDING AMOUNT</span></div>
                        <label style="font-size:20px; font-weight:normal;"><i class="fa fa-rupee">@ViewData["snpamt"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> TOTAL RESEND</span> </div>
                        <label style="font-size:20px; font-weight:normal;">@ViewData["snpai12"]</i></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="content">
                        <div class="number" style="font-size:14px;"><span class="fa fa-arrow-circle-o-down"> RESEND AMOUNT</span></div>
                        <label style="font-size:20px; font-weight:normal;"><i class="fa fa-rupee">@ViewData["snpamt12"]</i></label>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    <div class="row">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-line" style="margin-top:10px;">
                                        <input type="date" name="txt_frm_date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-line" style="margin-top:10px;">
                                        <input type="date" name="txt_to_date" class="form-control" />
                                        @*@Html.TextBox("txt_to_date", "", new { style = "padding-left:0px;padding-right:0px;text-align:center; background-color:#93cdff30;", @class = "datepicker form-control" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-line" style="margin-top:10px;">
                                    @Html.DropDownList("DDLsts", new List<SelectListItem>
        {
        new SelectListItem{ Text="STATUS",Value="ALL",},
        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
        new SelectListItem{Text="PENDING",Value="PENDING"},
        new SelectListItem{Text="FAILED",Value="FAILED"},
        new SelectListItem{Text="RESEND",Value="Resend"}
        }, new { @style = "background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;margin-left:3px; height:31px; min-height: 1px; float: left;", @class = "selectpicker form-control", data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-md-1">
                                <center>
                                    <div class="" style="margin-top:10px;">
                                        <input type="submit" value="Search" class="btn btn-primary" onclick="serch()" style="margin-left:5px; height:31px;" />
                                    </div>
                                </center>
                            </div>
                        }

                        <div class="col-md-3">
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="" style="margin-top:-30px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            Recharge Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Mobile</th>
                                        <th>Operator</th>
                                        <th>Amount</th>
                                        <th>Response</th>
                                        <th>OperatorID</th>
                                        <th>Rch Time</th>
                                        <th>Success</th>
                                        <th>Failed</th>
                                        <th>Resend</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    var color = "";
                                    if (item.Rstaus == "Request Send")
                                    {
                                        color = "#610B0B";
                                    }
                                    else if (item.Rstaus == "SUCCESS")
                                    {
                                        color = "Green";
                                    }
                                    else if (item.Rstaus == "FAILED")
                                    {
                                        color = "Red";
                                    }
                                    else if (item.Rstaus == "RESEND")
                                    {
                                        color = "#003366";
                                    }
                                    <tbody>
                                        <tr>
                                            <td>
                                                @{ if (item.Rstaus == "Resend")
                                                    {
                                                        <img style="height: 19px;width: 19px;margin-right:5px;max-width: 100%;padding: 2px; border-radius:50%; background-color:blue" src="../../ashok-images/replyfund.svg">

                                                    }

                                                    else if (item.Rstaus == "SUCCESS")
                                                    {
                                                        <img src="../../ashok-images/correct.svg" style=" height: 19px; width: 19px; margin-right: 3px; float: left; background-color: green; border-radius: 50%; padding: 2px;">

                                                    }
                                                    else if (item.Rstaus == "Request Send")
                                                    {
                                                        <img style="height: 19px; width: 19px; margin-right: 3px; float: left; max-width: 100%; padding: 0px; border-radius: 50%; background-color:" src="../../ashok-images/clock.svg">

                                                    }
                                                    else if (item.Rstaus == "FAILED")
                                                    {
                                                        <img src="../../ashok-images/closes.svg" style="height: 19px; width: 19px; margin-right: 3px; float: left; border-radius: 50%; padding: 2px; background-color: red; ">

                                                    }

                                                }


                                                @*@item.Rstaus*@
                                            </td>
                                            <td>@item.Mobile</td>
                                            <td>@item.operator_Name</td>
                                            <td>@item.amount</td>
                                            <td>@item.Rstaus</td>
                                            <td>@item.optcode</td>
                                            <td>@item.Rch_time</td>


                                            <td>
                                                @{ if (item.Rstaus == "Request Send")
                                                    {
                                                        using (Html.BeginForm("success", "Home", FormMethod.Post))
                                                        {
                                                            @Html.TextBox("idno", item.idno, new { @style = "display:none;" })
                                                            <input type="submit" value="Success" class="btn btn-primary" style="margin-left:5px; height:31px;" />

                                                        }
                                                    }
                                                    else if (item.Rstaus == "FAILED")
                                                    {
                                                        using (Html.BeginForm("failed_to_success", "Home", FormMethod.Post))
                                                        {
                                                            @Html.TextBox("fid", item.idno, new { @style = "display:none;" })
                                                            <input type="submit" value="Success" class="btn btn-primary" style="margin-left:5px; height:31px;" />

                                                        }
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @if (item.Rstaus == "Request Send" || item.Rstaus == "success" || item.Rstaus == "SUCCESS")
                                                {
                                                    using (Html.BeginForm("failed", "Home", FormMethod.Post))
                                                    {
                                                        @Html.TextBox("fid", item.idno, new { @style = "display:none;" })
                                                        <input type="submit" value="Failed" class="btn btn-primary" style="margin-left:5px; height:31px;" />

                                                    }
                                                }

                                            </td>

                                            <td>
                                                @if (item.Rstaus == "Request Send")
                                                {
                                                    using (Html.BeginForm("resend", "Home", FormMethod.Post))
                                                    {
                                                        @Html.TextBox("fid", item.idno, new { @style = "display:none;" })
                                                        <input type="submit" value="Resend" class="btn btn-primary" onclick="return fun()" style="margin-left:5px; height:31px; background-color:#8A0829;" />

                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

    <!-- Doughnut Chart -->
    <script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
    <!-- Custom Js -->
    <script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
    <script src="~/AdminDesign/js/demo.js"></script>
    <script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!--Calendar Javascript-->
    <script type="text/javascript">
    window.onload = function () {

	     	 $('#date').bootstrapMaterialDatePicker
			({
      	clearButton: false
			});
		    $('#txt_to_date').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY'
			});
		    $('#txt_frm_date').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY'
			}).on('change', function(e, date)
			{
			    $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
			});

		    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

		    var from = '@ViewBag.fromdate';
		    var to = '@ViewBag.todate';
		    if (from != "" && to != "") {
		        $('#txt_frm_date').val(from);
		        $('#txt_to_date').val(to);
		    }
		    else {
		        var month = new Array("Jan", "Feb", "Mar",
       "Apr", "May", "Jun", "Jul", "Aug", "Sep",
       "Oct", "Nov", "Dec");
		        var d = new Date();
		        var curr_date = d.getDate();
		        var curr_month = d.getMonth();
		        var curr_year = d.getFullYear();

		        var tt = curr_date + "-" + month[curr_month]
                + "-" + curr_year;
		        document.getElementById("txt_frm_date").value = tt;
		        document.getElementById("txt_to_date").value = tt;
		    }

        $('[data-toggle="tooltip"]').tooltip();
    }

    </script>
