@model IEnumerable<Vastwebmulti.Models.Select_manual_opt_Result>
@{
    ViewBag.Title = "Operator_Manage";
    Layout = "~/Areas/RCH/Views/Shared/_Layout.cshtml";
}

<style>
    .add_o a {
        background: blue;
        padding: 6px 12px;
        float: left;
        font-size: 13px;
        color: #fff;
    }

    .card2 {
        width: 100%;
        float: left;
        position: relative;
    }

    .su_b {
        float: right;
        margin: 0px 3px;
    }
</style>






<section class="content">
    <div class="container-fluid" style="display: flex;">
        <div style=" width: 100%; float: right;">
            <div class="su_b">
                @using (Html.BeginForm("Operator_manage", "Home", FormMethod.Post))
                {

                    <input type="hidden" name="but" value="All Unblock Block" />

                    <input type="submit" value="All Unblock Block" class="btn btn-success" />
                }
            </div>
            <div class="su_b">
                @using (Html.BeginForm("Operator_manage", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="but" value="All Block" />

                    <input type="submit" value="All Block" class="btn btn-danger" />
                }
            </div>
            <div class="su_b">
                <div class="add_o">
                    @Html.ActionLink("Add Operator", "addoperaterforrecharge", "Home")
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid">

            @*<div class="row clearfix">*@
            @*<div class="su_b">
                <div class="add_o">
                    @Html.ActionLink("Add Operator", "addoperaterforrecharge", "Home")
                </div>
            </div>*@
            @*@<!--@using (Html.BeginForm("Operator_manage", "Home", FormMethod.Post))*@
            <!--{-->
            @*<div style=" float: right; margin: 0px 3px;">*@

            <!--<input name="but" type="submit" value="All Unblock Block" class="btn btn-success" />-->
            @*</div>

            <div style=" float: right; margin: 0px 3px;">*@

            <!--<input name="but" type="submit" value="All Block" class="btn btn-danger" style="float: right; margin: 0px 3px;" />-->
            @*</div>*@





            <!--}-->
            @*</div>*@

            <div class="row clearfix">
                <div class="" style="margin-top:-30px;">
                    <div class="card">
                        <div class="">
                            <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                                Manage
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="position:inherit;">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                    <thead class="navbar" style="color:white;position:inherit;">
                                        <tr>
                                            <th>Operator</th>
                                            <th>Minimum&nbsp;Amount</th>
                                            <th>Maximum&nbsp;Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.minamount)</td>
                                                <td>@Html.DisplayFor(modelItem => item.maxamount)</td>
                                                <td>
                                                    @if (item.status == "N")
                                                    {
                                                        <div class="demo-switch">
                                                            <div class="switch">
                                                                <label>
                                                                    <a href="@Url.Action("manualedit",new {id = item.id, sts = item.status  })" style="text-decoration:none;"><span class="lever" style="background-color:red;"></span></a>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <div class="demo-switch">
                                                            <div class="switch">
                                                                <label>
                                                                    <a href="@Url.Action("manualedit",new { id = item.id, sts = item.status })" style="text-decoration:none;"><input type="checkbox" checked /> <span class="lever" style="background-color:green;"></span></a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
