@model Vastwebmulti.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/RCH/Views/Shared/_Layout.cshtml";
}

<section class="content" >
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="card navbar" style="height:324px; position:initial;">
                    <div class="header " style="padding:10px;border-bottom:1px solid white;">
                        <h2 style="color:white;"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Profile Image</h2>
                    </div>
                    <div class="body">
                        <center>
                            @if (ViewBag.image != null)
                        {
                                <div class="image" style="margin-top:24px;">
                                    <img src="@Url.Content("~/"+ ViewBag.image )" class="img-circle" alt="User" width="100" height="100" />
                                </div>
                        }
                        else
                        {
                                <div class="image" style="margin-top:24px;">
                                    <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">
                                </div>
                        }
                            <div class="msg" style="padding-top:12px; font-size:22px; font-weight:600; color:white;">@ViewBag.rch.RCHName</div>
                            <div class="col-xs-12" style="margin-top:25px;">
                                <a href='@Url.Action("Edit_Profile","Home",new { RchId = ViewBag.rch.RCHId })' class="btn btn-info waves-effect" style="text-decoration:none;box-shadow:none; border:1px solid #dddddd;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit&nbsp;Profile</a>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="card">
                    <div class="header " style="padding:10px;border-bottom:1px solid white;">
                        <div class="button-demo" style="height:52px;margin-top:-28px;">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn  waves-effect" style="background:transparent;box-shadow:none; top:22px; font-size:18px;"><i class="fa fa-lock" aria-hidden="true" style="top:2px;"></i>&nbsp;&nbsp;OTP Security</button>
                            </div>
                            <div class="col-xs-4">
                                @if (Model.TwoFactorEnabled)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data",@style= "padding-left:38px;padding-top:2px;" }))
                                {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" style="text-decoration:none; background:transparent;box-shadow:none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-on icofont-3x" style="color:green;font-size:63px;top:2px;"></i></button>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data", @style = "padding-left:38px;padding-top:2px;" }))
                                {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" style="text-decoration:none; background:transparent;box-shadow:none;" class="btn btn- waves-effect"><i class="icofont icofont-toggle-off icofont-3x" style="color:red;font-size:63px;top:2px;"></i></button>

                                }
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="header " style="padding:10px;">
                        <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My Admin Details</h2>
                    </div>
                    <div class="body" style="padding-bottom:0px;">
                        <div class="row">
                            <div class="body table-responsive" style="margin-top:-39px; border:none;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="border-top:none;">Email-Id</th>
                                            <td style="border-top:none;">@ViewBag.admin.email</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>@ViewBag.admin.Name</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mobile&nbsp;No</th>
                                            <td>@ViewBag.admin.mobile</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header " style="padding:10px;">
                        <h2><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;User Profile Information</h2>
                    </div>
                    <div class="row">
                        <div class="body table-responsive" style="margin-bottom:4px;">
                            <table class="table table-bordered" style="margin-top:-20px;">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="border-top:none;">Name</th>
                                        <td style="border-top:none;">@ViewBag.rch.RCHName</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Firm Name</th>
                                        <td>@ViewBag.rch.FarmName</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email-Id</th>
                                        <td>@ViewBag.rch.Email</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mobile Number</th>
                                        <td>@ViewBag.rch.Mobile</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Full Address</th>
                                        <td>@ViewBag.rch.Address</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">State</th>
                                        <td>@ViewBag.ddlstate</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">District</th>
                                        <td>@ViewBag.district</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pincode Number</th>
                                        <td>@ViewBag.rch.Pincode</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Joining Date</th>
                                        <td>@ViewBag.rch.JoinDate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>

<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html("");
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>

@*<script>
    $(function () {
        $('#State').val(@Model.State);
        $('#District').val(@Model.District);

    })
</script>*@

