<!DOCTYPE html>
@using Vastwebmulti.Models;
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.compnay</title>
    @{
        var favimage = "";
        VastwebmultiEntities db2 = new VastwebmultiEntities();
        var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
        if (faviconlogo.Count() > 0)
        {
            if (faviconlogo.SingleOrDefault().Role == "ADMIN")
            {
                favimage = faviconlogo.SingleOrDefault().faviconimage;
            }
        }
        else
        {
            <link rel="icon" href="" type="image/x-icon" />
        }
        var admindetail = db2.Admin_details.ToList();
        var mailid = admindetail.SingleOrDefault().email;
        var mobile = admindetail.SingleOrDefault().mobile;
        var Address = admindetail.SingleOrDefault().Address;
        var Firm_Name = admindetail.SingleOrDefault().Companyname;
        var cin_number = admindetail.SingleOrDefault().registrationno;
        var gst_number = admindetail.SingleOrDefault().Gstno;
        var SupportMail = admindetail.SingleOrDefault().email1;
        var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
        var PinCode = admindetail.SingleOrDefault().pincode;

        int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
        int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
        var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
        var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

        var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

        var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
        var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;


    }

    <link rel="icon" href="@favimage" type="image/x-icon" />
    <link rel="icon" href="@favimage" sizes="32x32" />
    <link rel="icon" href="@favimage" sizes="192x192" />
    <link rel="apple-touch-icon" href="@favimage" />
    <meta name="msapplication-TileImage" content="@favimage" />

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192149869-1" type="92ce67dc42a8c0c83fda73d7-text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900display=swap" rel="stylesheet">

    <link href="~/MainFrontDesign/css10/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css10/font-awesome.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css10/main.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css10/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/MainFrontDesign/css10/owl.theme.default.min.css" rel="stylesheet" />

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    @if (!HttpContext.Current.Request.IsLocal)
    {
        <!-- To Disable Inspect Element -->
        @*
            <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>*@
    }
    @{
        var selectedcolor = "";
        var menucolor = "";
        VastwebmultiEntities db1 = new VastwebmultiEntities();
        var allcolor = db1.tblMenuColors.ToList();
        if (allcolor.Count > 0)
        {
            selectedcolor = allcolor.SingleOrDefault().SelectedColor;
            menucolor = allcolor.SingleOrDefault().MenuColor;
        }
        else
        {
            selectedcolor = "Green";
            menucolor = "White";
        }

        //var selectedcolor = allcolor.SingleOrDefault().SelectedColor;
        //var menucolor = allcolor.SingleOrDefault().MenuColor;
    }
    <style>
        .blogimage {
            width: 100% !important;
            padding-bottom: 20px;
        }


        .post-body p a {
            position: absolute;
            bottom: 9px;
            right: 16px;
            color: #c12527;
        }

        


        #blog .post .post-title {
            font-size: 21px;
            line-height: 31px;
        }
    </style>
    <style>
        /* Floating Social Media Bar Style Starts Here */

        .fl-fl {
            background: #000000;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 4px;
            width: 190px;
            position: fixed;
            right: -144px;
            z-index: 1000;
            font: normal normal 10px Arial;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }

            .fl-fl .fa {
                font-size: 30px;
                color: #fff;
                padding: 0;
                width: 31px;
                margin-left: 8px;
                line-height: 42px;
            }

            .fl-fl:hover {
                right: 0;
            }

            .fl-fl a {
                color: #fff !important;
                text-decoration: none;
                text-align: center;
                line-height: 43px !important;
                vertical-align: top !important;
                font-size: 15px;
                font-weight: 600;
            }

        .float-fb {
            top: 160px;
            background: #0DC143;
        }

        .float-tw {
            top: 215px;
            background: #009ED6;
        }

        .float-gp {
            top: 270px;
            background: #0087DB;
        }

        .float-rs {
            top: 325px;
        }

        .float-ig {
            top: 380px;
        }

        .float-pn {
            top: 435px;
        }
        /* Floating Social Media Bar Style Ends Here */
    </style>
</head>
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var outercolor = db.changecolors.Where(p => p.Role == "ADMIN").ToList();
    var col = "";
    if (outercolor.Count > 0)
    {
        if (outercolor.SingleOrDefault().Role == "ADMIN")
        {
            col = outercolor.Where(p => p.Role == "ADMIN").SingleOrDefault().multipaloutercolor;
        }
    }
    else
    {
        col = "#da097d";
    }
    if (col == "")
    {
        col = "#da097d";
    }
    var color = col;

    var allcolor1 = db.tblMenuColors.ToList();
    var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
    var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
    var logoimage = "";
    var logo = db.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        if (logo.SingleOrDefault().Role == "ADMIN")
        {
            logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
        }
    }
    else
    {
        logoimage = "images/Default_Logo.png";
    }

    var vv = from tbl in db.tblMenus
             where tbl.Status == "Y" && tbl.Role == "ADMIN"
             select new
             {
                 tbl.MenuName
             };
    ViewBag.menuname = vv;



    List
<Vastwebmulti.JsonData.Hlp_TC_Privacy>
    people = new List<Vastwebmulti.JsonData.Hlp_TC_Privacy>
        ();
    JSONReadWrite readWrite = new JSONReadWrite();
    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.JsonData.Hlp_TC_Privacy>>(readWrite.Read("PrivacyAdmin.json", "~/Areas/ADMIN/Models/JsonData/"));
    var Privacy = people.ToList();

    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.JsonData.Hlp_TC_Privacy>>(readWrite.Read("OutHelpForAdmin.json", "~/Areas/ADMIN/Models/JsonData/"));
    var Help = people.ToList();

    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.JsonData.Hlp_TC_Privacy>>(readWrite.Read("TnCAdmin.json", "~/Areas/ADMIN/Models/JsonData/"));
    var TC = people.ToList();

    var Great_Help_News = db.Message_top.Where(a => a.users == "Outer").ToList();

    var statuschkGreat = Great_Help_News.Where(aa => aa.name == "Great News" && aa.status == "Y" && aa.users == "Outer").FirstOrDefault();
    var statuschkNeed = Great_Help_News.Where(aa => aa.name == "Need Help" && aa.status == "Y" && aa.users == "Outer").FirstOrDefault();

    JSONReadWrite readWrit1e = new JSONReadWrite();
    dynamic people1 = Newtonsoft.Json.JsonConvert.DeserializeObject(readWrit1e.Read("LogoBackgroundColor.json", "~/Areas/ADMIN/Models/JsonData/"));
    string logoBgColor = people1.ColorCode;
}
<body data-spy="scroll" data-target=".navbar-collapse">
    @*<div class='preloader'><div class='loaded'>&nbsp;</div></div>*@
    @*Header Section Start*@
    <header class="aheto-header aheto-header-6">
        <div class="aheto-header-6__toolbar">
            <div class="aheto-header-6__toolbar-inner">
                <div class="aheto-header-6__toolbar-contact">
                    <h6 class="aheto-header-6__toolbar-text">Have any question ?</h6>
                    <a class="aheto-header-6__toolbar-tel" href="tel:(+91)@CustCareNo"><i class="fa fa-phone"></i>@CustCareNo</a>
                    <a class="aheto-header-6__toolbar-email" href="mailto:@SupportMail"><i class="fa fa-envelope"></i><span class="__cf_email__">@SupportMail</span></a>
                </div>
                <div class="aheto-header-6__toolbar-additional">

                    <ul class="navbar-nav social-icon-2">
                        <li class="nav-item">
                            <a class="nav-link twitter social-icon" target="_blank" href="">
                                <i class="fa fa-twitter"></i><span class="d-lg-none ml-3">Twitter</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link social-icon facebook" target="_blank" href="
">
                                <i class="fa fa-facebook-f"></i><span class="d-lg-none ml-3">Facebook</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link social-icon instagram" target="_blank" href="">
                                <i class="fa fa-instagram"></i><span class="d-lg-none ml-3">Instagram</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link social-icon linkedin-in" target="_blank" href="">
                                <i class="fa fa-linkedin"></i><span class="d-lg-none ml-3">Linkedin</span>
                            </a>
                            
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-white shadow-sm bg-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index1", "Home")">
                    <img src="@Url.Content("~/"+@logoimage)" alt="@Firm_Name">
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" aria-label="toggle" data-target="#navbar4">
                    <i class="fa fa-bars" aria-hidden="true" style="color: #fff;"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbar4">
                    <ul class="navbar-nav mr-auto mx-auto text-center">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index1", "Home")">Home</a> </li>
                        <li class="nav-item dropdown d-menu">
                            <a class="nav-link" href="#" id="A0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                                <svg id="Svg0" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9" />
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("about_us","Home")">Overview</a>
                                <a class="dropdown-item" href="#">Career</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="A1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                API Services
                                <svg id="Svg1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9" />
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("recharge_api", "Home")">Recharge API</a>
                                <a class="dropdown-item" href="@Url.Action("travel_api", "Home")">Travel API</a>
                                <a class="dropdown-item" href="@Url.Action("domestic_transfer", "Home")">Domestic Money Transfer</a>
                                <a class="dropdown-item" href="@Url.Action("bbps", "Home")">BBPS</a>
                                <a class="dropdown-item" href="@Url.Action("payout_api", "Home")">Payout API</a>
                                <a class="dropdown-item" href="@Url.Action("pancard_api", "Home")">Pan Card API</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="A2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FinTech
                                <svg id="Svg2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9" />
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("aeps", "Home")">AePS</a>
                                <a class="dropdown-item" href="@Url.Action("m_pos", "Home")">POS</a>
                                <a class="dropdown-item" href="@Url.Action("matm", "Home")">Mini ATM</a>
                                <a class="dropdown-item" href="@Url.Action("indo_nepal", "Home")">Indo Nepal Money Transfer</a>
                                <a class="dropdown-item" href="@Url.Action("prepaid_card", "Home")">Prepaid Card</a>
                                <a class="dropdown-item" href="@Url.Action("pan_card_UTI", "Home")">Pan Card - UTI</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="A3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                IT Services
                                <svg id="Svg3" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9" />
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("software_development", "Home")">Software Development</a>
                                <a class="dropdown-item" href="@Url.Action("mlm_software", "Home")">MLM Software</a>
                                <a class="dropdown-item" href="@Url.Action("recharge_application", "Home")">Recharge Application</a>
                                <a class="dropdown-item" href="@Url.Action("digital_maketing", "Home")">Digital Marketing</a>
                                <a class="dropdown-item" href="@Url.Action("blockchain", "Home")">Blockchain Development</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-menu">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                VAS Services
                                <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9" />
                                </svg>
                            </a>
                            <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="@Url.Action("vas", "Home")">Long / Short Code</a>
                                <a class="dropdown-item" href="@Url.Action("bulk_sms", "Home")">Bulk SMS</a>
                                <a class="dropdown-item" href="@Url.Action("vas", "Home")">Sim Hosting</a>
                                <a class="dropdown-item" href="@Url.Action("api_services", "Home")">HLR Lookup</a>
                                <a class="dropdown-item" href="@Url.Action("api_services", "Home")">Pincode Finder</a>
                                <a class="dropdown-item" href="@Url.Action("api_services", "Home")">IFSC Finder</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("allblog", "Home")">Blog</a> </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a> </li>
                    </ul>


                    <ul class="navbar-nav social-icon-2">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login","Home",new { id="singin" })">
                                <span class="authentication__log-in" type="button">LOGIN</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login","Home",new { id="singup" })">
                                <span class="authentication__log-in" type="button">SIGN&nbsp;UP</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="ic">
        <a href="#Android_id"><i class="fa fa-android" style="font-size: 20px;"></i> Android App</a>
    </div>


    @*Header Section End*@


    @RenderBody()

    @*Footer Section Start*@
    <div class="float-sm">
        <div class="fl-fl float-fb">
            <i class="fa fa-whatsapp"></i>
            <a href="" target="_blank">Whatsapp</a>
        </div>
        <div class="fl-fl float-tw">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <a href="" target="_blank">Telegram</a>
        </div>
        <div class="fl-fl float-gp">
            <i class="fa fa-skype"></i>
            <a href="" target="_blank">Skype</a>
        </div>
    </div>
    <footer class="rs-footer style1">
        <div class="overflow-hidden">
            <div class="divider text-navy mx-n2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
                    <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z" />
                </svg>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="d-lg-flex flex-row align-items-lg-center  ml-5 mr-5">
                    <h2 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">Get comprehensive financial software development from a reliable technology partner and transform your business today</h2>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-primary btn-contactClick rounded-pill mb-0 text-nowrap">Let's Connect</a>
                </div>
                <div class="row y-middle ml-5 mr-5">
                    <div class="col-md-12">
                        <h6 class="text-white">Related Search :</h6>
                        <span class="badge badge-light">JIO Recharge&nbsp;API&nbsp;</span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge&nbsp;API&nbsp;Documentation </span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge API&nbsp;Free </span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge API&nbsp;India </span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge API&nbsp;Shopify </span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Robotic Recharge API&nbsp;</span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge API&nbsp;Javascript </span>
                        <span style="color: #fff;">|</span>
                        <span class="badge badge-light">Recharge API&nbsp;DTH </span>
                    </div>
                </div>
                <hr class="mt-11 mb-12 ml-5 mr-5">
                <div class="row y-middle ml-5 mr-5">
                    <div class="col-lg-6 col-sm-12 col-12 md-mb-10 text-lg-end text-center order-last">
                        <ul class="copy-right-menu">
                            <li><a href="FAQ.html">Help</a></li>
                            <li><a href="@Url.Action("termsconditions", "Home")">Terms & Conditions</a></li>
                            <li><a href="@Url.Action("privacy", "Home")">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-12">
                        <div class="copyright text-lg-start">
                            <p>© 2019 - @DateTime.Now.Year All Rights Reserved | @Firm_Name <br /> Address - @Address</p>
                            <p>CIN - @cin_number | GSTIN - @gst_number </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @*Footer Section End*@




    <script src="~/MainFrontDesign/is10/rocket-loader.min.js"></script>
    <script src="~/MainFrontDesign/is10/owl.carousel.min.js"></script>
    <script src="~/MainFrontDesign/is10/main.js"></script>
    <script src="~/MainFrontDesign/is10/jquery.min.js"></script>
    <script src="~/MainFrontDesign/is10/jquery-3.3.1.slim.min.js"></script>
    <script src="~/MainFrontDesign/is10/cloudflare-static-email-decode.min.js"></script>
    <script src="~/MainFrontDesign/is10/3.5.1-jquery.min.js"></script>
    <script src="~/MainFrontDesign/is10/3.4.1-jquery.min.js"></script>
    <script src="~/MainFrontDesign/is10/bootstrap.min.js"></script>
    <script src="~/MainFrontDesign/is10/jquery.min_1.js"></script>
    <script>
        $(document).ready(function () {
            var url = '@Url.Action("Officeaddress", "Home")'
            $.ajax({
                url: url,
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#pfirmname').text(data.Firmname);
                    $('#paddress').text(data.address);
                        $('#pcity').text(data.DistirictName + "," + data.StateName);
                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                }
            });
        });
    </script>

</body>
</html>
