
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "about_us";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<div class="rs-achievement style1 relative md-pt-80 mt-5">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 rs-vertical-middle">
            <div class="col-lg-7">
                <div class="sec-title4 mb-25">
                    <div class="sec-title3">
                        <span class="sub-text">Overview</span>
                    </div>
                    <h1 class="title">Complete assurance about quality &amp; timely execution</h1>
                    <div class="desc left-line-v">
                        <div class="draw-line start-draw"></div>
                        @Firm_Name have recognized that the future requires harnessing new business models, integrating digital channels, capturing the economics of customer loyalty and dramatically reducing costs
                    </div>
                </div>
                <p>We design, develop, implement, manage and optimize access to systems and information to answer your business processing, application and infrastructure needs. Whether you are a private or public sector organization, or whether you want to run our solutions on your own hardware, or outsource your IT through us, @Firm_Name has the expertise you need to overcome the business challenges you face.</p>
                <p>we are pioneering strong Partnerships with the Banking ecosystem and provide a Unified Open API Platform that would transform how Bharat transacts and leads to larger Consumer Adoption, Interface, and Delight. Integrate banking into your business workflow with APIs for collection, payouts, virtual accounts, cards &amp; more</p>
                <div class="crypto_mlm_btns mt-4 mb-3">
                    <a href="" class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
            <div class="col-lg-5 position-relative">
                <div class="btn btn-circle btn-primary img-UP-but disabled position-absolute counter-wrapper flex-column d-none d-md-flex">
                    <h2 class="text-white mb-1 mt-n2"><span class="counter counter-lg" style="visibility: visible;">10+</span></h2>
                    <p>Year Experience</p>
                </div>
                <div class="row gx-md-5 gy-5 align-items-center">
                    <div class="col-md-6">
                        <div class="row gx-md-5 gy-5">
                            <div class="col-md-10 offset-md-2 img-maT">
                                <figure class="rounded">
                                    <img src="~/images/img10/Complete.jpg" style="height: 210px;" alt="@Firm_Name" class="img-fluid rounded w-100 mob-none">
                                </figure>
                            </div>

                            <div class="col-md-12 img-maT">
                                <figure class="rounded">
                                    <img src="~/images/img10/large-experience.jpg" style="height: 200px;" alt="@Firm_Name" class="img-fluid rounded w-100 mob-none">
                                </figure>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <figure class="rounded">
                            <img src="~/images/img10/wikimedia-image.jpg" style="height: 341px; " alt="@Firm_Name" class="img-fluid rounded w-100">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-lg-8 gx-xl-12 gy-6 mb-14 ml-5 mr-5 mt-20 pb-3">
            <div class="col-lg-6">
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18">1</span> </div>
                    </div>
                    <div>
                        <h4>Our Mission</h4>
                        <p class="mb-2">@Firm_Name is not easy to operate but also it makes your easier and faster. We are providing the best services to our customers. Whether it&rsquo;s an online recharge/bill payment, hotel booking or many more services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon btn btn-circle-sm disabled btn-soft-primary me-4 fontW-700"><span class="number fs-18">2</span> </div>
                    </div>
                    <div>
                        <h4>Our Vision</h4>
                        <p class="mb-2">Company&rsquo;s main goal is to fulfill the needs and desire of our customer and satisfy them. We are providing numerous services to our customers for their betterment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counter-wrap mt-5">
    <div class="container">
        <div class="counter-card-wrap">
            <div class="counter-card row align-items-center">
                <div class="col-md-10">
                    <p class="text-white consultant-1 text mb-0">Get comprehensive financial software development from a reliable technology partner and transform your business today.</p>
                </div>
                <div class="col-md-2">
                    <div class="btn-part">
                        <a class="readon consultant contact orange-more w-100" href="@Url.Action("Contact", "Home")" style="width: 100%!important;">Talk To Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-wrap style3 ptb-100 bg-rock">
    <div class="container">
        <img src="~/images/img10/images-service-shape-1.png" alt="@Firm_Name" class="service-shape-one">
        
        <img src="~/images/img10/images-service-shape-2.png" alt="@Firm_Name" class="service-shape-two">
        <div class="section-title style1 text-center mb-40">
            <h2 class="text-white">Core Services</h2>
        </div>
        <div class="row gx-5 align-items-center">
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="~/images/img10/icon-bank.png" alt="@Firm_Name">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Bank APIs</a></h3>
                        <p>We are the CMS Partner of ICICI Bank who is one of the largest Private Sector Bank. Integrate banking into your business workflow with APIs for collection, payouts, virtual accounts, cards &amp; more</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="~/images/img10/icon-bill-payment.png" alt="@Firm_Name">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Utility APIs</a></h3>
                        <p>
                            Easy, reliable and secure way to accept and process all bill payments across India
                            is a unified interoperable online bill payments platform built on the Bharat BillPay (BBP) infrastructure developed .
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="~/images/img10/icon-it-services.png" alt="@Firm_Name">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">IT Service and Solution</a></h3>
                        <p>
                            Enhance performance and reduce costs with our digital IT services and solutions
                            In today&rsquo;s highly competitive world, organizations across all sectors are turning to IT service providers to help them reduce costs, boost productivity and enhance performance. As a world-class end-to-end IT services provider, with over 80 years&rsquo; experience working with organizations from all sectors around the globe, Fujitsu can provide the business IT solutions you need to improve efficiency, add value and lower costs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-card style3">
                    <span class="service-icon">
                        <img src="~/images/img10/icon-banking.png" alt="@Firm_Name">
                    </span>
                    <div class="service-info">
                        <h3><a href="#">Banking - BC Model </a></h3>
                        <p>With the objective of ensuring greater Financial Inclusion and increasing outreach of the banking sector,Banks have been permitted to use the services of NGOs/SHGs, Micro Finance Institution (MFIs) and other Civil Society Organization (CSOs) as intermediaries providing Financial &amp; Banking services through the use of Business Correspondent Model. Business Correspondent agent is an extended arm of the Bank Branch who is providing doorstep Banking and Financial services to customers in remote areas. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-block-bg-service" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-12 offset-md-5 pr-5">
                <div class="section-heading">
                    <span>Improve your business with us !</span>
                    <h4>First class business solutions</h4>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-10">
                        <p>Company&rsquo;s main goal is to fulfill the needs and desire of our customer and satisfy them. We are providing numerous services to our customers for their betterment.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-random"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">All-in-one solution</a></h4>
                                    <p>Our team help you get through the whole digital transformation process seamlessly. Just tell us your idea. We will go step-by-step together from consultation to UI/UX, and from development to long-term maintenance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-window-restore"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Clean Code</a></h4>
                                    <p>Code is clean if it can be understood easily &ndash; by everyone on the team. Clean code can be read and enhanced by a developer other than its original author. With understandability comes readability, changeability, extensibility and maintainability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-phone"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">24X7 Support</a></h4>
                                    <p>Our customer service is best in class and committed to serve you 24x7 for your queries and questions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <div class="feature-flex-square">
                            <div class="clearfix">
                                <div class="feature-flex-square-icon"><i class="fa fa-thumbs-up"></i></div>
                                <div class="feature-flex-square-content">
                                    <h4><a href="#">Easy Integration</a></h4>
                                    <p>Sing-Up and go with easy integration feature for your web and mobile applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="company-profile">
    <div class="container-fluid">
        <div class="section-heading center-holder pt-100">
            <span>Our key values</span>
            <h2>Make Successful Business</h2>
            <div class="section-heading-line"></div>
            <p>
                Our skilled experts provide full-cycle custom financial software development<br>
                to fit your business domain and budget requirements while leveraging leading-edge technologies.
            </p>
            <div class="profile-download">
                <a href="" class="btn btn-download mt-4">Download Now</a>
            </div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>01</h3>
                    <div class="number-box-line"></div>
                    <h4>People</h4>
                    <p>@Firm_Name is comprised of highly skilled strategic teams that contribute to the company&rsquo;s continued and sustainable growth.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>02</h3>
                    <div class="number-box-line"></div>
                    <h4>Expertise</h4>
                    <p>Experts at @Firm_Name assist in developing a working turn-key solution, providing a range of training sessions for cloud automation, microservices, blockchain, and AI.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>03</h3>
                    <div class="number-box-line"></div>
                    <h4>Quality</h4>
                    <p>We combine deep tech expertise and a team of industry focus engineers powered by extensive hands-on experience to help your business to obtain competitive advantages.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="number-box">
                    <h3>04</h3>
                    <div class="number-box-line"></div>
                    <h4>Trust and relations</h4>
                    <p>We value our partners and customers and focus on quality and putting our customers&rsquo; business needs first.</p>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-12 col-sm-6 col-12">
            </div>
        </div>
    </div>
</section>
<section class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="img/bg6.jpg" style="background-image: url(website-assets-22/images/bg/bg6.png);" alt="@Firm_Name Voice Tech">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <div class="sec-title3 sec-titleP text-center mb-65 md-mb-45">

                    <h2 class="title pb-25 text-white">Our Process</h2>
                    <div class="heading-border-line text-white pb-25">We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design &amp; web development services.</div>
                </div>
            </div>
            <div class="full-width clearfix"></div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="~/images/img10/images-arrow.png" class="tobotm" alt="@Firm_Name Voice Tech">
                    
                    <span class="icon fa fa-lightbulb-o"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">1</span> </div>
                    </div>
                    <h6>Research &amp; Discovery</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd mb-md50 text-center">
                    <img src="~/images/img10/images-arrow.png" alt="@Firm_Name Voice Tech">
                    <span class="icon fa fa-book"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">2</span> </div>
                    </div>
                    <h6>Validating &amp; Shaping Idea</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="~/images/img10/images-arrow.png" class="tobotm" alt="@Firm_Name Voice Tech">
                    <span class="icon fa fa-wrench"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">3</span> </div>
                    </div>
                    <h6>Design &amp; Prototyping</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd mb-md50 text-center">
                    <img src="~/images/img10/images-arrow.png" alt="@Firm_Name Voice Tech">
                    <span class="icon fa fa-book"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">4</span> </div>
                    </div>
                    <h6>Development</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item first mb-md50 text-center">
                    <img src="~/images/img10/images-arrow.png" class="tobotm" alt="@Firm_Name Voice Tech">
                    <span class="icon fa fa-wrench"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">5</span> </div>
                    </div>
                    <h6>Testing &amp; Quality Assurance</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="item odd text-center">
                    <span class="icon fa fa-laptop"></span>
                    <div>
                        <div class="btn btn-circle-sm btn-soft-primary me-4 fontW-700 process-num"><span class="number fs-18">6</span> </div>
                    </div>
                    <h6>Maintenance &amp; Support</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="curve curve-gray-t curve-top"></div>

</section>
<div class="technology-used mb-5 pb-5">
    <div class="container">
        <div class="section-heading center-holder pt-100">
            <h2>Technologies We Use</h2>
            <div class="section-heading-line"></div>
        </div>
        <div class="row ml-5 mr-5 mt-50">
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box react-bg">
                        <img src="~/images/img10/Tech-L-react.png" alt="@Firm_Name">
                    </div>
                    <h3>React</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box AWS-bg">
                        <img src="~/images/img10/Tech-L-aws.png" alt="@Firm_Name">
                    </div>
                    <h3>AWS</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box python-bg">
                        <img src="~/images/img10/Tech-L-python.png" alt="@Firm_Name">
                    </div>
                    <h3>Python</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box nodeJs-bg">
                        <img src="~/images/img10/Tech-L-nodeJs.png" alt="@Firm_Name">
                    </div>
                    <h3>Node.js</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box webflow-bg">
                        <img src="~/images/img10/Tech-L-webflow.png" alt="@Firm_Name">
                    </div>
                    <h3>WebFlow</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box nativeJs-bg">
                        <img src="~/images/img10/Tech-L-nativeJs.png" alt="@Firm_Name">
                    </div>
                    <h3>React Native</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box Javascript-bg">
                        <img src="~/images/img10/Tech-L-Javascript.png" alt="@Firm_Name">
                    </div>
                    <h3>Javascript</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box solidity-bg">
                        <img src="~/images/img10/Tech-L-solidity.png" alt="@Firm_Name">
                    </div>
                    <h3>Solidity</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features-box">
                    <div class="icon-single-features-box ethereum-bg">
                        <img src="~/images/img10/Tech-L-ethereum.png" alt="@Firm_Name">
                    </div>
                    <h3>Ethereum</h3>
                </div>
            </div>
        </div>
    </div>
</div>


