
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "aeps";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    

}

<section class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <div class="section-heading">
                    <h1>Aadhaar Enabled Payment System</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="mt-30">In association with Fingpay and Fino Bank, @Firm_Name is one of the leaders in the Business Correspondent space, providing AEPS solutions to more than 300 distributors across the country. With our seamless integration, you, as a distributor can be live and running in 48 hours.</p>
                <p>Aadhaar Enabled Payment System (AEPS) is a sort of installment framework that depends on the Unique Identification Number and permits Aadhaar card holders to consistently make money related exchanges through Aadhaar-based confirmation. The AEPS framework plans to enable all areas of the general public by making budgetary and saving money administrations accessible to all through Aadhaar. AEPS is only an Aadhaar-empowered installment framework through which you can exchange reserves, influence installments, to store money, influence withdrawals, to make enquiry about bank adjust, and so forth. AEPS Software enables clients to make installments utilizing their Aadhaar number and by giving Aadhaar confirmation at purpose of Sale (PoS) or smaller scale ATMs.</p>
                <p>This is a straightforward, secure and easy to understand stage for money related exchanges. This is another activity taken by the National Payments Corporation of India (NPCI) to empower cashless exchanges in India.</p>
                <p>@Firm_Name is one of the best company which provides you API for AEPS. By integrating the Aadhaar Enabled Payment System you API in your portal you can able to transfer funds using your aadhaar detail.</p>
                <p><b>The main information sources required for a client to complete an exchange under this situation are :-</b></p>
                <div class="mt-20">
                    <ul class="primary-list">
                        <li><i class="fa fa-caret-right"></i>IIN (Identifying the Bank to which the client is related)</li>
                        <li><i class="fa fa-caret-right"></i>Aadhaar Number</li>
                        <li><i class="fa fa-caret-right"></i>Unique mark caught amid their enlistment</li>
                    </ul>
                </div>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-8 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>Aadhaar Enabled Payment System</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <ul class="primary-list mt-30">
                    <li><i class="fa fa-caret-right"></i>To empower a bank customer to use Aadhaar as his/her identity to access his/ her respective Aadhaar enabled bank account and perform basic banking transactions like cash deposit, cash withdrawal, Intrabank or interbank fund transfer, balance enquiry and obtain a mini statement through a Business Correspondent</li>
                    <li><i class="fa fa-caret-right"></i>To sub-serve the goal of Government of India (GoI) and Reserve Bank of India (RBI) in furthering Financial Inclusion</li>
                    <li><i class="fa fa-caret-right"></i>To sub-serve the goal of RBI in electronification of retail payments</li>
                    <li><i class="fa fa-caret-right"></i>To enable banks to route the Aadhaar initiated interbank transactions through a central switching and clearing agency</li>
                    <li><i class="fa fa-caret-right"></i>To facilitate disbursements of Government entitlements like NREGA, Social Security pension, Handicapped Old Age Pension etc. of any Central or State Government bodies, using Aadhaar and authentication thereof as supported by UIDAI</li>
                    <li><i class="fa fa-caret-right"></i>To facilitate inter-operability across banks in a safe and secured manner</li>
                    <li><i class="fa fa-caret-right"></i>To build the foundation for a full range of Aadhaar enabled Banking services</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <img src="~/images/img10/banner_2.png" alt="@Firm_Name" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h4>White Label Partner & Easy to Use</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="mt-30 ">Do you want to provide services under your brand name? Partner with us and rollout most services under your own brand within few days. Your retailers will see your company name and logo.</p>
                <ul class="primary-list mt-35">
                    <li><i class="fa fa-check"></i>Complete Your Own Branding</li>
                    <li><i class="fa fa-check"></i>Merchant Certificate with Your Own Logo</li>
                    <li><i class="fa fa-check"></i>Email and Message setting</li>
                    <li><i class="fa fa-check"></i>Complete User Management Control</li>
                    <li><i class="fa fa-check"></i>25+ Services under a roof</li>
                </ul>
                <p class="mt-2">Increase revenue for yourself and your retailers by enabling following services.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/images/img10/dmt-3.jpg" class="rounded-border" alt="img" />
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-12">
                <div class="crypto_mlm_btns mt-45 text-center">
                    <a href="" class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey pb-2" style="background-image: none; ">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>AEPS API</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <p>We at @Firm_Name Providing AEPS- Aadhaar Enabled Payment System API which will a best solution for Cash Deposit and Cash Out for Rural India.</p>
                <p>With a simple API integration you can convert your existing Retail outlet in Mini ATM To facilitate disbursements of Government entitlements like NREGA, Social Security pension, Handicapped Old Age Pension etc. of any Central or State Government bodies, using Aadhaar and authentication thereof as :</p>
                <ul class="primary-list mt-30">
                    <li><i class="fa fa-caret-right"></i>Supported by UIDAI</li>
                    <li><i class="fa fa-caret-right"></i>Realtime Onboarding</li>
                    <li><i class="fa fa-caret-right"></i>Best Commission of Industry</li>
                    <li><i class="fa fa-caret-right"></i>Realtime Bank Settlement</li>
                    <li><i class="fa fa-caret-right"></i>100+ Banks Supported</li>
                    <li><i class="fa fa-caret-right"></i>Supported All Majors Biometric Devices:- Mantra, Morfo, Startek,Precision,Tatvik,Secugen,Next Biomatrices</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/images/img10/Aeps-1.gif" alt="@Firm_Name" class="img-fluid" />
                
            </div>
        </div>
    </div>
</section>
<div class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>Awesome Features</h3>
            <div class="section-heading-line"></div>
            <p>
                We at @Firm_Name Providing AEPS- Aadhaar Enabled Payment System API & AEPS Software which will
                <br />
                be a best solution for Cash Deposit and Cash Out for Rural India.
            </p>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i>
                                <img src="~/images/img10/aeps/icon-1.png" alt="@Firm_Name" />
                            </i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Trust and Reliability</a></h4>
                            <p>10 Years of truthfulness and experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i>
                                <img src="~/images/img10/aeps/icon-2.png" alt="@Firm_Name" />
                            </i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Secure Platform</a></h4>
                            <p>Our platform is Safe, Sound, Secure & most reliable, developed in house.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i>
                                <img src="~/images/img10/aeps/icon-3.png" alt="@Firm_Name" />
                            </i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Agent Onboarding</a></h4>
                            <p>Realtime agent onboarding with Ekyc enable to your agent Realtime transactions facility.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i>
                                <img src="~/images/img10/aeps/icon-4.png" alt="@Firm_Name" />
                            </i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Proven Technology</a></h4>
                            <p>Our robust and secured Payments Platform is proven and is churning millions of transactions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i>
                                <img src="~/images/img10/aeps/icon-5.png" alt="@Firm_Name" />
                            </i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Quick Settlements</a></h4>
                            <p>Realtime Settlement for All Channels.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>