
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "allblog";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;


}
<style>
    a {
        color: #000;
    }
    .post {
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);
        padding: 10px;
    }
    .post-body {
        padding: 10px;
    }
        .post-body h3 {
            font-size: 22px;
        }
        .post-body h5 {
            font-weight: normal;
            color: black;
            font-size: 16px;
            line-height: 24px;
            text-align: justify;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
</style>

<div class="section-block-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="section-heading">
                    <h1>Blog</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="row dvBlogs" id="dvBlogs">
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 1 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/seo-strategies.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Unlocking the Secrets of SEO: Your Ultimate Guide
                                    </h3>
                                    <h5>Ever wondered how some websites magically appear at the top of your search results? That's where Search Engine Optimization (SEO) comes into play. It's like a powerful tool that he  </h5>
                                    <span href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 2 })" >
                        <div >
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/Digital Marketing.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        10 Essential Digital Marketing Strategies That Can
                                    </h3>
                                    <h5>In today's fast-paced digital landscape, having a strong digital marketing strategy is crucial for success. With new technologies and platforms constantly emerging, it can be chall  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 3 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/Unveiling the Ultimate.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Unveiling the Ultimate Money Remittance Software:
                                    </h3>
                                    <h5>Hey there, money movers and shakers! Let's dive into the thrilling world of hassle-free money transfers that can make your financial life smoother than a silk tie. Buckle up, becau  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 4 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/B2B Recharge.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Boosting Efficiency with B2B Recharge Software: A
                                    </h3>
                                    <h5>Are you interested in starting your own online recharge business as an admin and seeking the best opportunity? In this blog, We will provide you with a comprehensive guide on b2b r  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 5 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/Designing Your Digital Triumph.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Designing Your Digital Triumph: 7 Compelling Reaso
                                    </h3>
                                    <h5>Welcome to the fascinating world of web design! In this ever-changing digital landscape, having an online presence that rocks the cyber world has become a must for everyone - be it  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 6 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/Earnings Potential.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Unleash Your Earnings Potential: A Comprehensive G
                                    </h3>
                                    <h5>Welcome to our comprehensive guide on @Firm_Name, a leading multi-recharge company that can help you unleash your earnings potential. In this article, we will delve into the various   </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 7 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/7 Mistakes AEPS.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        7 Mistakes AEPS Admins Must Avoid to Ensure Succes
                                    </h3>
                                    <h5>As an AEPS (Aadhaar Enabled Payment System) administrator, it is crucial to navigate the landscape carefully and make informed decisions to ensure the success of your operations. A  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 8 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/AEPS Cash Withdr.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Essential Factors to Remember for AEPS Cash Withdr
                                    </h3>
                                    <h5>In the world of digital transactions, AEPS (Aadhaar Enabled Payment System) has emerged as a convenient and secure way to withdraw cash. This revolutionary system allows individual  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 9 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/Free App.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        @Firm_Name: Free App for Money Transfer, Pan Card, a
                                    </h3>
                                    <h5>In today's digital age, the need for quick and seamless financial transactions has become more important than ever. With the advent of smartphones, mobile apps have revolutionized   </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 10 })" >
                        <div >
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/Aadhaar-based.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        The impact of Aadhaar-based payment on daily life:
                                    </h3>
                                    <h5>In this digital age, convenience, and security are of paramount importance when it comes to financial transactions. Aadhaar-based payment systems have emerged as a reliable and eff  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 mt-5" href="@Url.Action("blog_detail","Home",new { id= 11 })" >
                        <div>
                            <div class="post">
                                <span class="post-img" href="">
                                    <img src="~/images/img10/contact/Features.png" alt="" class="blogimage">
                                </span>
                                <div class="post-body">
                                    <h3 class="post-title">
                                        Advantages and Security Features of the Aadhaar-En
                                    </h3>
                                    <h5>In this article, we will explore the numerous benefits and robust security features of the Aadhaar-Enabled Payment System (AEPS). AEPS has revolutionized digital payments, and with  </h5>
                                    <span  href=""><span>read more....</span></span>
                                </div>
                            </div>
                        </div>
                    </a>

                       
                       
                       
                      
                       
                      
                       
                       

                </div>


            </div>
        </div>
    </div>
</div>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        function Showbox() {
            $.ajax({
                url: '@Url.Action("Showbox", "Home")',
                type: 'get', data: { param1: "value1", param2: "value2" },
                success: function (data) {
                    
                }
            });
        }
</script>*@