
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "blockchain";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    

}

<section class="section-block-services pb-0">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 flex-column-reverse flex-lg-row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="wt-box text-right">
                    <img src="~/images/img10/our-services/bg-laptop.png" alt="@Firm_Name"  />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="wt-right-part p-b80">
                    <div class="section-head mb-2 text-left">
                        <h1 class="block-chain-H">
                            Find India’s Top Blockchain<br />
                            Developers And Get Started With<br />
                            Your Project
                        </h1>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-orange">
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="section-content pr-5 mr-2">
                        <div class="wt-box mb-5">
                            <p>@Firm_Name is the best blockchain development company to help you fulfill all your blockchain needs in no-time! Our experts have years of experience in delivering top-notch blockchain solutions to countless clients across the globe!</p>
                            <p>Whether your project is big or small, easy or complex, urgent or with a lengthy timeline, our blockchain developers are skilled at providing smart solutions that fit your unique needs.</p>
                            <p>So connect with us now to get the best in-class blockchain services at affordable rates with dedicated managers to take care of your entire project! Or book a free consultation session with us now!</p>
                            <div class="crypto_mlm_btns mt-3">
                                <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                                <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                                <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>Blockchain Services</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-faddd4">
                        <img src="~/images/img10/our-services/icon-1.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Blockchain Wallet Development</a></h3>
                    <p>We have expert blockchain developers that can secure your bitcoin and other cryptocurrencies to safeguard your digital assets and increase the level of your online wallets.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cafbf1">
                        <img src="~/images/img10/our-services/icon-2.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Multi Chain / Supply Chain</a></h3>
                    <p>Our blockchain developers have created several multi chain/supply chains to assure transparency in the supply chain through easy and traceable solutions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-ddd5fb">
                        <img src="~/images/img10/our-services/icon-3.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Crowdsale</a></h3>
                    <p>We have a group of expert blockchain coders that can create the most ideal Crowdsale contracts for you to facilitate better management of your cryptocoins.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-fcdeee">
                        <img src="~/images/img10/our-services/icon-4.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Ethereum</a></h3>
                    <p>Expand My Business has expertise in Ethereum technology and framework.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-c5ebf9">
                        <img src="~/images/img10/our-services/icon-5.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Smart Contract</a></h3>
                    <p>Our blockchain developers understand your needs and accordingly come up with smart contract management platforms and eWallet apps.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-f8fbd5">
                        <img src="~/images/img10/our-services/icon-6.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Coin Trading</a></h3>
                    <p>A coin trading platform is a platform for exchanging crypto currencies. To facilitate this, our platform has Polygon, Binance, coinGecko APIs among several others.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-h8fyd8">
                        <img src="~/images/img10/our-services/icon-7.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">NFT Marketplace</a></h3>
                    <p>Our NFT marketplace is very similar to innumerable existing online marketplace to ease out your trading and transactions through facilitate familiarity.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-faddd4">
                        <img src="~/images/img10/our-services/icon-8.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">ICO</a></h3>
                    <p>ICO draws several similarities with Indian Stock Markets and the existing IPO which allows business owners to generate capital for their business in the form of cryptocurrencies.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cafbf1">
                        <img src="~/images/img10/our-services/icon-9.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Dedicated Blockchain Developer</a></h3>
                    <p>Our team includes 200+ expert developers who are skilled at working private and public blockchain projects with utmost efficiency and result-oriented approach.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-ddd5fb">
                        <img src="~/images/img10/our-services/icon-10.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Tokenization</a></h3>
                    <p>Our vendors and developers support a number of tokens such as Security Tokens, Asset Tokens and Utility Tokens among others to allow transactions between several parties with ease.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-fcdeee">
                        <img src="~/images/img10/our-services/icon11.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Public Blockchain</a></h3>
                    <p>Our developers create public blockchains where new participants can join the chain and have their own non-custodial wallets for exchange.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-c5ebf9">
                        <img src="~/images/img10/our-services/icon-12.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Blockchain Banking Solution</a></h3>
                    <p>Hire our blockchain developers and get personalised banking solutions to suit your crypto and blockchain activities. This is done by integrating KYC and AML protocols.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-f8fbd5">
                        <img src="~/images/img10/our-services/icon-13.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Blockchain Mining Software</a></h3>
                    <p>You can hire our blockchain experts to improve the security through mining designs and dashboards along with decentralised networks for mining pools.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-h8fyd8">
                        <img src="~/images/img10/our-services/icon-14.png" alt="@Firm_Name" />
                    </div>
                    <h3><a href="#">Private Blockchain</a></h3>
                    <p>To manage the entire blockchain platform and the nodes, our blockchain developers centralise the private blockchains and follow it up with Shared Ledger, peer nodes, component assets, and more by implementing the Hyperledger fabric.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block mt-5 mb-5">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>MLM Business Plan</h3>
            <div class="section-heading-line"></div>
            <span>Guiding your business to achieve online success.</span>
        </div>
        <div class="row mt-10 ml-5 mr-5 mb-5 pb-5">
            <div class="col-md-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated text-center" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img src="~/images/img10/our-services/Ethereum-MLM-icon-01.png" alt="@Firm_Name" />
                    <h3 class="text-center">Ethereum MLM Software</h3>
                    <p>Ethereum blockchain is popular for building DApps (decentralized applications), and a multitude of smart-contract-based MLM projects are built on the Ethereum blockchain. We provide Ethereum smart contract MLM software backed by a plan as per your business needs. Whether you need Ethereum MLM script or custom Ethereum based MLM software built from the ground up, we successfully serve your needs with our mission-driven services.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated text-center" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img src="~/images/img10/our-services/Ethereum-MLM-icon-02.png" alt="@Firm_Name" />
                    <h3>TRON MLM Software</h3>
                    <p>TRON has gained significant traction for smart contract based MLM software development, after Ethereum. It is due to its higher transaction speed and lower transaction fee. If you are planning to build a TRON decentralized MLM platform, we can provide you with a TRON based MLM software script to accelerate the deployment, and at the same time, we can develop custom TRON smart contract MLM software for you from scratch.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="features-box wow animate__ animate__fadeInUp animated text-center" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img src="~/images/img10/our-services/Ethereum-MLM-icon-03.png" alt="@Firm_Name" />
                    <h3>Bitcoin MLM Software</h3>
                    <p>Bitcoin is redefining nearly every industry, and MLM is no exception. Businesses are leveraging Bitcoin blockchain to build their MLM platforms. At Antier, we provide business-oriented Bitcoin MLM software development solutions to help you launch your Bitcoin MLM business. Whether you need a Bitcoin matrix plan, unilevel plan, or any other Bitcoin MLM plan, we navigate your development journey with our customized solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>