
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "domestic_transfer";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<div class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 flex-column-reverse flex-lg-row">
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-left-heading">
                        <h1>API Services</h1>
                    </div>
                    <div class="services-single-menu mt-30">
                        <ul>
                            <li><a href="@Url.Action("recharge_api", "Home")">Recharge API</a></li>
                            <li><a href="@Url.Action("travel_api", "Home")">Travel API</a></li>
                            <li class="services-active"><a href="@Url.Action("domestic_transfer", "Home")">Domestic Money Transfer</a></li>
                            <li><a href="@Url.Action("bbps", "Home")">BBPS</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Operator Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Pincode Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">IFSC Finder</a></li>
                        </ul>
                    </div>
                    <div class="services-single-left-heading mt-30">
                        <h4>Need Help ?</h4>
                    </div>
                    <ul class="primary-list mt-30">
                        <li><i class="fa fa-globe"></i>@PinCode</li>
                        <li><i class="fa fa-phone"></i>@CustCareNo</li>
                        <li><i class="fa fa-envelope-open"></i><a href="mailto:@SupportMail" class="__cf_email__">@SupportMail</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-12">
                <div class="services-single-right">
                    <div class="text-content-big mt-20">
                        <p>We offer domestic money transfer (DMT), which provides customers with an easy, safe, secure, and instant way to send money to banking institutions. Our Money Transfer framework is the result of study and nonstop up-degree for more than 5 years. Our DMT service allows you to send NEFT and IMPS transactions to more than 400 banks. Our services are promptly accessible in our outlets and are broadly spread in different urban communities.</p>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-6 col-sm-7 col-12">
                            <div class="pr-15-md">
                                <div class="section-single-heading">
                                    <h4>DMT Distributor Services</h4>
                                </div>
                                <ul class="primary-list mt-35">
                                    <li><i class="fa fa-check"></i>Simple On-boarding Process</li>
                                    <li><i class="fa fa-check"></i>Best Commission for Distributor and Retailers</li>
                                    <li><i class="fa fa-check"></i>Cash Deposit Facility available with AXIS CDM</li>
                                    <li><i class="fa fa-check"></i>24*7 Auto Billing</li>
                                    <li><i class="fa fa-check"></i>400 +Banks Available</li>
                                    <li><i class="fa fa-check"></i>IMPS and NEFT Both Mode are available</li>
                                    <li><i class="fa fa-check"></i>Auto Refund- No Need of OTP</li>
                                    <li><i class="fa fa-check"></i>Even without a bank account, you can make use of this service</li>
                                    <li><i class="fa fa-check"></i>Flexibility in the system</li>
                                    <li><i class="fa fa-check"></i>Can be accessible beyond the banking hours</li>
                                    <li><i class="fa fa-check"></i>Available on Sundays and other public holidays too</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-12">
                            <img src="~/images/img10/AnyConv.com__dmt-1.png" class="rounded-border" alt="img" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 ml-5 mr-5 flex-column-reverse flex-lg-row">
            <div class="col-md-12 col-sm-12 col-12">
                <p>The most amazing thing about Domestic Money Remittance is that it is helpful for un- banked people too. They can also send money to their family members instantly.</p>
                <div class="crypto_mlm_btns mt-4 mb-0">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>Objectives Of Domestic Money Transfer</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <p>The main purpose of introducing the DMT service is to help unbanked and underbanked people send or transfer money. Most of the migrant workers from different states don’t have documents for KYC to open a bank account in their working city or town. We, as a domestic money transfer API provider India, intended to help them instantly send money to their hometown. People must take time away from their jobs to visit banks, which are not open 24 hours a day. Domestic money transfer is the solution for such issues. We are confident that we can make this service accessible to everyone in the country.</p>
                    </div>
                    <div class="mt-20">
                        <ul class="primary-list">
                            <li><i class="fa fa-caret-right"></i>Best Commercial of Industry</li>
                            <li><i class="fa fa-caret-right"></i>White-label can decide commission for down-line network</li>
                            <li><i class="fa fa-caret-right"></i>Complete Branding in Web-portal and APP</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/images/img10/AnyConv.com__dmt-2.png" class="rounded-border shadow-primary" alt="img" />
                
            </div>
        </div>
    </div>
</div>
<div class="section-dmt-api">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>Domestic Money Transfer API</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-12 text-center pt-4">
                <img src="~/images/img10/AnyConv.com__dmt-api.png" alt="@Firm_Name" />
                <p>
                    Domestic Money Transfer API is a great way to generate additional revenue for @Firm_Name owners, SMEs and any other organization. Intelligent payment routing for minimum cost and maximum profit.
                    @Firm_Name money transfer API allows your retailers to turn their shop into mini bank.We are most Reliable and professional brand among the Domestic Money Transfer API Provider India. Customers who need assistance for transferring money using cash can visit these retailer shops. Integrate with us to increase the growth of your business and that of your retailers.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-block-features">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-5 col-sm-5 col-12">
                <img src="~/images/img10/AnyConv.com__dmt-feature.png" class="shadow-primary rounded-border" alt="img" />
               
            </div>
            <div class="col-md-7 col-sm-7 col-12">
                <div class="pl-45-md mt-0">
                    <div class="section-heading left-holder">
                        <h3>Feature of Money Transfer</h3>
                        <div class="section-heading-line-left"></div>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="feature-box-2">
                                <img src="~/images/img10/AnyConv.com__dmt-fea-1.png" alt="@Firm_Name" />
                                <h4>Easy Cash Transfer</h4>
                                <p>Your retailers can use this feature to let customers transfer money to any bank account by paying in cash.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="feature-box-2">
                                <img src="~/images/img10/AnyConv.com__dmt-fea-2.png" alt="@Firm_Name" />
                                <h4>Transaction Receipt</h4>
                                <p>Retailers can print transaction-receipt with Bank UTR for their customers to give them a sense of safety.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="feature-box-2">
                                <img src="~/images/img10/AnyConv.com__dmt-fea-3.png" alt="@Firm_Name" />
                                <h4>Best Success Rate</h4>
                                <p>Transaction failures occur rarely with our services. We ensure that you get the best success rate for every transaction. We are as reliable as banks themselves.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="feature-box-2">
                                <img src="~/images/img10/AnyConv.com__dmt-fea-4.png" alt="@Firm_Name" />
                                <h4>Seamless Integration</h4>
                                <p>JSON Based Money Transfer API. Easy To Integrate By Developer. Money Transfer API is well-documented & easy to understand. we provide 24x7 integration support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>