
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "m_pos";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<section class="section-block-services pb-3">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <div class="section-heading">
                    <h1>M-POS - POINT OF SALE</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <p class="mt-30 mb-1">mPOS stands for mobile Point of Sale. It is a mobile device, smartphone or tablet that works as a cash register or traditional POS terminal wirelessly.</p>
                <p class="mb-1">mPOS is used by merchants that need to receive payments on the go. For example, any taxi driver or professional service providers like lawyers, mechanics, plumbers, etc</p>
                <p>All-in-one POS device to accept any type of payment such as Debit/Credit Cards, UPI/QR-based payments, Wallets and remote payments via SMS Pay</p>
                <div class="crypto_mlm_btns mt-4 mb-4">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="divider-area divider-seo-report-area">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-lg-5 offset-lg-1">
                <div class="seo-report-form-content">
                    <div class="seo-report-form">
                        <img src="~/images/img10/pos-machine.png" alt="@Firm_Name">
                       
                    </div>
                    <div class="shape-layer">
                        <div class="layer layer-one">
                            <img src="~/images/img10/pos-d01.png" alt="@Firm_Name">
                        </div>
                        <div class="layer layer-two">
                            <img src="~/images/img10/pos-d02.png" alt="@Firm_Name">
                        </div>
                        <div class="layer layer-three">
                            <img src="~/images/img10/pos-d03.png" alt="@Firm_Name">
                        </div>
                        <div class="layer layer-four">
                            <img src="~/images/img10/pos-d04.png" alt="@Firm_Name">
                        </div>
                        <div class="layer layer-five">
                            <img src="~/images/img10/pos-d05.png" alt="@Firm_Name">
                        </div>
                        <div class="layer layer-six">
                            <img src="~/images/img10/pos-d06.png" alt="@Firm_Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="section-heading mb-4">
                    <h4>Specification</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="section-title">
                    <p>In the event that you are hoping to manufacture a Merchant Network or on the off chance that you have vendors that need POS Terminals&sbquo; then you have gone to the correct place. We can be your optimal accomplice in your undertaking to construct a card obtaining system.</p>
                    <p><b>Our administrations are composed into 3 fundamental classifications which just put makes us : </b></p>
                    <ul class="primary-list mt-35">
                        <li><i class="fa fa-check"></i>A National Deployer, which implies we can convey POS for you the nation over</li>
                        <li><i class="fa fa-check"></i>A Service Provider&sbquo; which implies we can give you benefits, which are not centre to your keeping money business but rather basic for the administration of the POS organize</li>
                        <li><i class="fa fa-check"></i>A Transaction Processor&sbquo; which implies we can give you innovation answers for interface POS to a switch&sbquo; associate with national and worldwide systems and furnish you with back-office instruments for administration of the system</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-12">
                <div class="section-heading center-holder">
                    <span>PROCESSING</span>
                    <h3>
                        IT'S SIMPLE! 3 STEPS
                        WITHIN 10 SECONDS
                    </h3>
                    <div class="section-heading-line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ct-process-item process-1">
                    <div class="ct-process-icon">
                        <number>1</number>
                        <span></span>
                        <img src="~/images/img10/pos-machine-01.png" alt="@Firm_Name">
                    </div>
                    <h3 class="ct-process-title" >Swipe or Insert</h3>
                    <div class="ct-process-desc" >Enter the amount and swipe or insert the card.</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ct-process-item process-1">
                    <div class="ct-process-icon">
                        <number>2</number>
                        <span></span>
                        <img src="~/images/img10/pos-machine-02.png" alt="@Firm_Name">
                    </div>
                    <h3 class="ct-process-title" >Enter PIN</h3>
                    <div class="ct-process-desc" >Customer to enter the PIN to authenticate the transaction.</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ct-process-item process-1">
                    <div class="ct-process-icon">
                        <number>3</number>
                        <span></span>
                        <img src="~/images/img10/pos-machine-03.png" alt="@Firm_Name">
                    </div>
                    <h3 class="ct-process-title" >Complete Transaction</h3>
                    <div class="ct-process-desc" >Transaction complete. Send digital receipt to customer via SMS or Email.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services mb-2">
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-6 col-12">
                <p>The purpose of offer (POS) or purpose of procurement (POP) is the time and place where a retail exchange is finished. At the purpose of offer, the trader ascertains the sum owed by the client, demonstrates that sum, may set up a receipt for the client (which might be a money enroll printout), and shows the alternatives for the client to make instalment. It is additionally the time when a client makes an installment to the shipper in return for merchandise or after arrangement of an administration. In the wake of getting installment, the trader may issue a receipt for the exchange, which is generally printed yet is progressively being abstained from or. The purpose of offer is frequently alluded to as the purpose of administration since it isn't only a state of offer yet in addition a state of return or client arrange. POS terminal programming may likewise incorporate highlights for extra usefulness, for example, stock administration, CRM, financials, or warehousing.</p>
            </div>
        </div>
    </div>
</section>