
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "mlm_software";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}
<style>
    .discover_services .heading_secs {
        padding: 90px 29px 0 49px;
    }
</style>

<section class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 flex-column-reverse flex-lg-row">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/images/img10/mlm-about-img2.png" class="img-fluid" alt="@Firm_Name">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-tab">
                    <h1>Custom MLM Software Development Company</h1>
                    <div class="bar"></div>
                    <p>10+ Years of Experience with 1000+ Software installation across the globe. Major organizations are using our @Firm_Name MLM Software for Multi Level Marketing business to fuel their efficiency and accelerate business growth. Our Direct Selling Software helps you to resolve all your network marketing worries in no time.</p>
                    <p>Our Multi-Level Marketing software solutions feature advanced scripts, user-friendly interface, and easy-to-comprehend structure to help businesses based on network marketing achieve sales and revenue goals within time. MLM Software Services.</p>
                    <p>We at @Firm_Name provide MLM Software Services from last 10 Years are Leading Trusted and Reliable MLM Software Development Company In Lucknow. We are Top Most Relaible Brand among the MLM Software Provider In Lucknow.We are a renowned Name in MLM Software Provider in india </p>
                    <div class="crypto_mlm_btns">
                        <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                        <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                        <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="media discover_services">
                <div class="media-left heading_secs col-sm-5 col-md-3">
                    <h2 class="discover_heading">
                        Discover Our
                        <br>
                        MLM Software Services
                    </h2>
                    <h5 class="sub_heading">
                        How Our Network Marketing Software helps
                        you to drive up your MLM Business
                    </h5>
                    <p class="about">Our Multi-Level Marketing software solutions feature advanced scripts, user-friendly interface, and easy-to-comprehend structure to help businesses based on network marketing achieve sales and revenue goals within time. MLM Software Services. We best and leading MLM Software Company In Lucknow</p>
                </div>
                <div class="media-body services_secs col-sm-7 col-md-9">
                    <div class="row">
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-1.png" alt="@Firm_Name">
                                    <h6>Multi-Vendor System</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>Multi-Vendor System</h6>
                                        <div class="about">Now you can add multiple number of sellers and add unlimited products for they want to sell at one platform.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-2.png" alt="@Firm_Name">
                                    <h6>E-Commerce Installation</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>E-Commerce Installation</h6>
                                        <div class="about">We offer cutomized shopping cart integration of the e-commerce solution with the MLM Software.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-3.png" alt="@Firm_Name">
                                    <h6>Two Factor Authentication</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>Two Factor Authentication</h6>
                                        <div class="about">Secure your system with our two factor authentication service.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-4.png" alt="@Firm_Name">
                                    <h6>Impactable Design</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>Impactable Design</h6>
                                        <div class="about">Design Meet Customer Delight. We provide a perfect match to your business need.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-5.png" alt="@Firm_Name">
                                    <h6>Quick Response Time</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>Quick Response Time</h6>
                                        <div class="about">Customer support is available 24/7 and is ready to help you with any question.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 service_box">
                            <div class="service_box_inner">
                                <div class="preview_box">
                                    <img src="~/images/img10/icon-6.png" alt="@Firm_Name">
                                    <h6>Mobilized Backoffice</h6>
                                </div>
                                <div class="hover_box">
                                    <div class="m0 inner">
                                        <h6>Mobilized Backoffice</h6>
                                        <div class="about">Build and implement back office mobilization program through MLM Software Services.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block mt-5 mb-5 pb-5">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h3>MLM Business Plan</h3>
            <div class="section-heading-line"></div>
            <span>Guiding your business to achieve online success.</span>
        </div>
        <div class="row mt-20 ml-5 mr-5">
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-1.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Matrix Plan</h3>
                    <p class="description">MLM Matrix Plan Software is an organized plan for distributors that motivates them to hire more members down the line</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-2.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Generation Plan</h3>
                    <p class="description">MLM Generation Plan Software fits well for the companies that deal into purely consumable goods</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-3.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Binary Plan</h3>
                    <p class="description">Binary MLM Software Plan network is distributed under 2 people who have joined at the first level</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-4.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Board Plan</h3>
                    <p class="description">MLM Board Plan Software is one of the most critical MLM compensation plans that focuses on the development of business services</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-5.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Hybrid Plan</h3>
                    <p class="description">Hybrid MLM Software Plan is one of the most successful plans of MLM companies that received the quality response</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-6.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Unilevel Plan</h3>
                    <p class="description">Unilevel Compensation Plan is one of easiest MLM plan to work with. It is a plan with unlimited width</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-7.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Repurchase Plan</h3>
                    <p class="description">MLM Repurchase Software plan is a process of direct marketing of goods or services to the customers</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-8.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">Stair Step/ Orbit Plan</h3>
                    <p class="description">Eldest plan of the MLM plans is Stair Step MLM plan, also known as "stair step plan" or "Stair Step breakaway Plan</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox red-bor">
                    <div class="service-icon">
                        <span>
                            <img src="~/images/img10/icon-plan-9.png" alt="@Firm_Name">
                        </span>
                    </div>
                    <h3 class="title">investment plan</h3>
                    <p class="description">The investment plan software is a solution to all difficulties that people usually have to understand the database mgmt systems</p>
                </div>
            </div>
        </div>
    </div>
</section>