
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "pan_card_UTI";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link href="~/MainFrontDesign/css10/css-main.css" rel="stylesheet" />
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}
<style>
        .section-wraper-one .icon-bx-wraper:nth-child(4) {
            margin-left: 60px;
        }

        .font13 {
            font-size: 13px;
        }

        .box-corporate {
            padding: 17px 19px;
            box-shadow: -4px 20px 40px rgba(0, 0, 0, 0.15);
            transition: 0.33s all ease-in-out;
            background: #ffffff;
            text-align: center;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            min-height: 250px;
        }

        .box-corporate-corner {
            position: absolute;
            width: 18px;
            height: 18px;
            transition: 0.33s all ease-in-out;
            opacity: 0;
            border-color: #39BA82;
            border-style: solid;
        }

        .box-corporate-corner-tl {
            top: 0;
            left: 0;
            transform: translate(120%, 120%);
            border-width: 1px 0 0 1px;
        }

        .box-corporate:hover .box-corporate-corner {
            transform: none;
            opacity: 1;
        }

        .box-corporate-corner-tr {
            top: 0;
            right: 0;
            transform: translate(-120%, 120%);
            border-width: 1px 1px 0 0;
        }

        .box-corporate-corner-br {
            bottom: 0;
            right: 0;
            transform: translate(-120%, -120%);
            border-width: 0 1px 1px 0;
        }

        .box-corporate-corner-bl {
            bottom: 0;
            left: 0;
            transform: translate(120%, -120%);
            border-width: 0 0 1px 1px;
        }

        .box-corporate-inner {
            position: relative;
            padding: 15px 12px 12px 12px;
        }

        .position-relative {
            position: relative !important;
        }

        .box-scene-img {
            max-width: 150px;
            z-index: 2;
        }

        .img-modern {
            border-radius: 6px;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
        }

        .decor-element {
            position: absolute;
        }

        .decor-element {
            position: absolute;
        }

        @@media (min-width: 576px) {
            .box-corporate {
                max-width: none;
            }
        }

        @@media (min-width: 768px) {
            .box-scene-img {
                max-width: 260px;
            }

            .decor-element-3 {
                top: 49.1%;
                transform: translateY(-50%);
                left: 50px;
                z-index: 1;
            }
        }

        @@media (min-width: 1200px) {
            .box-corporate-inner {
                padding: 23px 30px 28px 30px;
            }

            .decor-element-4 {
                top: 0;
                right: 12px;
                z-index: 0;
                display: block;
            }

            .box-scene-img {
                max-width: 350px;
            }

            .decor-element-3 {
                top: 49.1%;
                transform: translateY(-50%);
                left: 162px;
                z-index: 1;
            }

            .decor-element-5 {
                top: 70.9%;
                transform: translateY(-50%);
                right: -13px;
                z-index: 1;
                display: block;
            }
        }

        .animation-rotate-1 {
            animation: rotate 9s infinite;
        }

        @@keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(90deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(270deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .animation-rotate-2 {
            animation: rotate-reverse 7s infinite;
        }

        @@keyframes rotate-reverse {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(-90deg);
            }

            50% {
                transform: rotate(-180deg);
            }

            75% {
                transform: rotate(-270deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }
</style>
<style>
    /* Floating Social Media Bar Style Starts Here */

    .fl-fl {
        background: #000000;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 4px;
        width: 190px;
        position: fixed;
        right: -144px;
        z-index: 1000;
        font: normal normal 10px Arial;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

        .fl-fl .fa {
            font-size: 30px;
            color: #fff;
            padding: 0;
            width: 31px;
            margin-left: 8px;
            line-height: 42px;
        }

        .fl-fl:hover {
            right: 0;
        }

        .fl-fl a {
            color: #fff !important;
            text-decoration: none;
            text-align: center;
            line-height: 43px !important;
            vertical-align: top !important;
            font-size: 15px;
            font-weight: 600;
        }

    .float-fb {
        top: 160px;
        background: #0DC143;
    }

    .float-tw {
        top: 215px;
        background: #009ED6;
    }

    .float-gp {
        top: 270px;
        background: #0087DB;
    }

    .float-rs {
        top: 325px;
    }

    .float-ig {
        top: 380px;
    }

    .float-pn {
        top: 435px;
    }
    /* Floating Social Media Bar Style Ends Here */
</style>

<section class="section-block-services bor-bottom">
    <div class="container-fluid">
        <div class="section-heading center-holder">
            <h1>Pan Card UTI</h1>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50 ml-5 mr-5">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/images/img10/services-pan_uti.png" alt="@Firm_Name">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <p>In today's digital age, obtaining essential documents like a Permanent Account Number (PAN) card has become more convenient than ever before. The advent of online platforms, such as @Firm_Name, has streamlined the process, making it easier for individuals to apply for and track their PAN cards. We will guide you step-by-step on how to apply for a PAN card through UTI and use @Firm_Name to make the entire process hassle-free.</p>
                <h3>Understanding the Importance of PAN Card</h3>
                <p>A PAN card is a unique 10-digit alphanumeric identification number issued by the Income Tax Department of India. It serves as a crucial document for various financial transactions, including filing income tax returns, opening bank accounts, and conducting large-scale financial transactions. Having a PAN card is mandatory for Indian citizens and entities such as companies and firms.</p>
                <div class="crypto_mlm_btns mt-45">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i>| WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i>| Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i>| Skype</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="section-heading center-holder mb-5">
            <h1>Step-by-Step Guide to Apply for a PAN Card through UTI</h1>
            <div class="section-heading-line"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-sm-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="section-wraper-one ml-5 mt-50">
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-red">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/pan-uti-1.png" alt="@Firm_Name">
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Creating Your Account</h4>
                            <p class="font13">The first step to applying for a PAN card through @Firm_Name is to create an account on our @Firm_Name. Provide the required details, including your name, date of birth, email address, and contact number. Create a secure password for your account and verify your email and contact number through the OTP sent by @Firm_Name.</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-yellow">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/pan-uti-2.png" alt="@Firm_Name">
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Payment &amp; Document Submission</h4>
                            <p class="font13">Once your @Firm_Name account is set up, log in and fill out the PAN card application form. Ensure that all the information you provide is accurate and matches your supporting documents. The form will require details such as your name, parents' names, address, and other essential information.</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-green">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/pan-uti-3.png" alt="@Firm_Name">
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Filling PAN Card Application Form</h4>
                            <p class="font13">Fully responsive web applications saves on development and maintenance costs as all the efforts are directed in building a single interface for all the devices. This also leads to positive impact on the sales &amp; conversion rates as user experience remains consistent.</p>
                        </div>
                    </div>
                    <div class="icon-bx-wraper style-2 left m-b30">
                        <div class="icon-bx-md radius bg-white text-yellow">
                            <a href="#" class="icon-cell">
                                <img src="~/images/img10/pan-uti-4.png" alt="@Firm_Name">
                            </a>
                        </div>
                        <div class="icon-content">
                            <h4 class="dlab-title">Tracking Your Application Status</h4>
                            <p class="font13">Once you have submitted your PAN card application, you can track its status in real time through your @Firm_Name account. You will receive updates on each stage of the process, from the verification of documents to the dispatch of your PAN card.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="dlab-media">
                    <img src="~/images/img10/it-pan_card.png" class="move-2" alt>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-grey" style="background-image: none;">
    <div class="container-fluid">
        <div class="section-heading center-holder mb-5">
            <h1>Why Choose @Firm_Name for PAN Card Application?</h1>
            <div class="section-heading-line"></div>
            <p>@Firm_Name offers a host of advantages for applying for a PAN card</p>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".1s">
                <div class="box-corporate">
                    <div class="box-corporate-inner">
                        <img src="~/images/img10/pan-uti-5.png">
                        <h4 class="box-corporate-title mt-1">Efficiency</h4>
                        <p class="box-corporate-text">The platform ensures a quick and efficient application process, reducing the time taken for processing</p>
                        <div class="box-corporate-corner box-corporate-corner-tl"></div>
                        <div class="box-corporate-corner box-corporate-corner-tr"></div>
                        <div class="box-corporate-corner box-corporate-corner-br"></div>
                        <div class="box-corporate-corner box-corporate-corner-bl"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".3s">
                <div class="box-corporate">
                    <div class="box-corporate-inner">
                        <img src="~/images/img10/pan-uti-6.png">
                        <h4 class="box-corporate-title mt-1">Convenience</h4>
                        <p class="box-corporate-text">Applying for a PAN card online through @Firm_Name allows you to do it from the comfort of your home or office</p>
                        <div class="box-corporate-corner box-corporate-corner-tl"></div>
                        <div class="box-corporate-corner box-corporate-corner-tr"></div>
                        <div class="box-corporate-corner box-corporate-corner-br"></div>
                        <div class="box-corporate-corner box-corporate-corner-bl"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".5s">
                <div class="box-corporate">
                    <div class="box-corporate-inner">
                        <img src="~/images/img10/pan-uti-7.png">
                        <h4 class="box-corporate-title mt-1">Transparency</h4>
                        <p class="box-corporate-text">With real-time tracking, you can have complete transparency regarding the status of your application</p>
                        <div class="box-corporate-corner box-corporate-corner-tl"></div>
                        <div class="box-corporate-corner box-corporate-corner-tr"></div>
                        <div class="box-corporate-corner box-corporate-corner-br"></div>
                        <div class="box-corporate-corner box-corporate-corner-bl"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".8s">
                <div class="box-corporate">
                    <div class="box-corporate-inner">
                        <img src="~/images/img10/pan-uti-8.png">
                        <h4 class="box-corporate-title mt-1">Security</h4>
                        <p class="box-corporate-text">@Firm_Name ensures that your personal and financial information remains secure throughout the process</p>
                        <div class="box-corporate-corner box-corporate-corner-tl"></div>
                        <div class="box-corporate-corner box-corporate-corner-tr"></div>
                        <div class="box-corporate-corner box-corporate-corner-br"></div>
                        <div class="box-corporate-corner box-corporate-corner-bl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 justify-content-between align-items-center">
            <div class="col-md-6 col-lg-7 col-xl-5 col-xxl-6 d-none d-md-block">
                <div class="box-scene">
                    <img class="img-modern wow fadeIn box-scene-img position-relative" src="~/images/img10/pan-uti-img-scene-1-316x439.jpg" alt width="316" height="439">
                    <img class="img-modern decor-element decor-element-3 box-scene-img wow fadeIn" src="~/images/img10/pan-uti-img-scene-2-454x315.jpg" alt width="454" height="315" data-wow-delay=".2s">
                    <svg class="decor-element decor-element-4 animation-rotate-1" width="174" height="196" viewbox="0 0 174 196" fill="none">
                        <path opacity="0.1" d="M84.5513 10.9904C86.0983 10.0972 88.0043 10.0972 89.5513 10.9904L161.163 52.3353C162.71 53.2284 163.663 54.8791 163.663 56.6654V139.355C163.663 141.141 162.71 142.792 161.163 143.685L89.5513 185.03C88.0043 185.923 86.0983 185.923 84.5513 185.03L12.9399 143.685L7.93985 152.346L12.9398 143.685C11.3928 142.792 10.4398 141.141 10.4398 139.355V56.6654C10.4398 54.8791 11.3928 53.2284 12.9399 52.3353L84.5513 10.9904Z" stroke="#000" stroke-width="20"></path>
                    </svg>
                    <svg class="decor-element decor-element-5 animation-rotate-2" width="64" height="70" viewbox="0 0 64 70" fill="none">
                        <path opacity="0.2" d="M26.9585 7.15488C30.0525 5.36855 33.8644 5.36855 36.9585 7.15488L53.7425 16.8451C56.8365 18.6315 58.7425 21.9327 58.7425 25.5054V44.8859C58.7425 48.4585 56.8365 51.7598 53.7425 53.5461L36.9585 63.2364C33.8644 65.0227 30.0525 65.0227 26.9585 63.2364L10.1744 53.5461C7.08044 51.7598 5.17445 48.4585 5.17445 44.8859V25.5054C5.17445 21.9327 7.08044 18.6315 10.1744 16.8451L26.9585 7.15488Z" stroke="#FDB818" stroke-width="10"></path>
                    </svg>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 col-xxl-5 wow fadeIn">
                <p class="text-gray-600 font-size-custom inset-custom-1">Obtaining a PAN card is now a hassle-free experience, With @Firm_Name's user-friendly interface, secure payment options, and real-time tracking, @Firm_Name simplifies the process, ensuring you get your PAN card promptly. So, if you are looking to apply for a PAN card, give @Firm_Name a try, and experience a seamless and efficient application process.</p>
            </div>
        </div>
    </div>
</section>