
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "recharge_api";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}


<div class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 flex-column-reverse flex-lg-row">
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-left-heading">
                        <h1>API Services</h1>
                    </div>
                    <div class="services-single-menu mt-30">
                        <ul>
                            <li class="services-active"><a href="@Url.Action("recharge_api", "Home")">Recharge API</a></li>
                            <li><a href="@Url.Action("travel_api", "Home")">Travel API</a></li>
                            <li><a href="@Url.Action("domestic_transfer", "Home")">Domestic Money Transfer</a></li>
                            <li><a href="@Url.Action("bbps", "Home")">BBPS</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Operator Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Pincode Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">IFSC Finder</a></li>
                        </ul>
                    </div>
                    <div class="services-single-left-heading mt-30">
                        <h4>Need Help ?</h4>
                    </div>
                    <ul class="primary-list mt-30">
                        <li><i class="fa fa-globe"></i><a id="paddress" href="@Url.Action("Officeaddress", "Home")"></a>@PinCode</li>
                        <li><i class="fa fa-phone"></i>@CustCareNo</li>
                        <li><i class="fa fa-envelope-open"></i><a href="mailto:@SupportMail" class="__cf_email__">@SupportMail</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-12">
                <div class="services-single-right">
                    <div class="text-content-big mt-20">
                        <p>@Firm_Name is among the top 10 multi-recharge companies in India. We provide reliable, secure, and fastest-growing Mobile Recharge API In India. API interface stands for "Application Programming Interface," a convention (a set of principles and controls) intended to be utilized as an interface by two or more programming applications to speak with each other.</p>
                        <p>@Firm_Name is one of the best Multi Recharge API solutions available in today's recharging solutions arena. We are the most reliable brand among the Recharge API Providers in India We make your Recharge API options extremely economical, as well as beneficial, while at the same time making no compromises on efficiency. We put all our efforts into introducing the latest technological trends, making our Recharge API solutions consistently above par.</p>
                    </div>
                    <div class="row mt-30">
                        <div class="col-md-8 col-sm-8 col-12">
                            <div class="pr-15-md">
                                <div class="section-single-heading">
                                    <h4>Advantages of Our Recharge API</h4>
                                </div>
                                <ul class="primary-list mt-35">
                                    <li><i class="fa fa-check"></i>A comprehensive recharge structure enables you to recharge for all network operators from a solitary platform.</li>
                                    <li><i class="fa fa-check"></i>Set up your recharge business with elevated commissions</li>
                                    <li><i class="fa fa-check"></i>Returns the amount automatically within 24 hours in the situation of recharge non-success.</li>
                                    <li><i class="fa fa-check"></i>Extremely shielded and validated APIs</li>
                                    <li><i class="fa fa-check"></i>Gives giant transaction volume progressing platform</li>
                                    <li><i class="fa fa-check"></i>Gives immediate operation transaction ID for all the transactions</li>
                                    <li><i class="fa fa-check"></i>Enables you to approach from anywhere in India the numbers associated to any set.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-12">
                            <img src="~/images/img10/11.png" class="rounded-border" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30 mt-45 ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="services-single-heading mb-4">
                    <h4>Start Your Own Recharge Business</h4>
                </div>
                <p>You can obtain different categories of recharge packages from @Firm_Name. @Firm_Name is one of the foremost recharge solutions is achievable in the modern recharging solutions arena. We create your recharging option extremely budget-friendly, together with advantageous and no adjustment on competence. We go hard for presenting the ultra-modern technological trends and that make our recharge solutions different.</p>
                <div class="section-single-left-heading mt-4">
                    <h4>How To Utilize Our Recharge API?</h4>
                </div>
                <ul class="primary-list mt-35">
                    <li><i class="fa fa-check"></i>Enter all the needed information involving mobile number, network operator, network zone, and recharge amount. </li>
                    <li><i class="fa fa-check"></i>Hit the continue button after checking the payment information</li>
                    <li><i class="fa fa-check"></i>A verification SMS or email will be received on your email ID or mobile number you have filled with all the information of the recharge.</li>
                </ul>
                <div class="crypto_mlm_btns mt-45 mb-1">
                    <a href="" class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="services-single-heading mt-40">
                    <h4>How API Operates ?</h4>
                </div>
                <div class="text-content-big mt-20">
                    <p>With the support of Mobile Recharge API, you can recharge with a single hit of a button. We will give you a code that you can add to your current website code. An Interface Page would enable you to position your recharge orders for different operators. The recharge would be prepared and the amount would be deducted from your wallet. You can also check your current balance, the commission obtained and recharge history and the position of recharge on your wallet page.</p>
                    <div class="section-single-left-heading mt-4">
                        <h4>Mobile Recharge API Advantages</h4>
                    </div>
                    <ul class="primary-list mt-35">
                        <li><i class="fa fa-check"></i>Uncomplicated recharge solutions are obtainable in India.</li>
                        <li><i class="fa fa-check"></i>@Firm_Name involves all indispensable service providers of Mobile, DTH, & Data Card.</li>
                        <li><i class="fa fa-check"></i>We have robust backend support and a structure through our remarkable services.</li>
                        <li><i class="fa fa-check"></i>No requirement for any investment to set up an online recharge service.</li>
                        <li><i class="fa fa-check"></i>Augmentation in the telecom industry aids in good output.</li>
                        <li><i class="fa fa-check"></i>We offer easy and rapid mobile recharge means for all cellular services like BSNL, Airtel, Idea, Vodafone, & more. DTH recharge is given by us such as Tata Sky, Dish TV, Sun direct, & more with Direct Operator Transaction ID, Bill Payment & Postpaid Bill Payment also involved in @Firm_Name. Moreover, Our Data Card service covers the game changers like Idea, Reliance, MTS, Airtel & more.</li>
                        <li><i class="fa fa-check"></i>Mobile Recharge API gives an excellent worth addition to current websites or companies. </li>
                        <li><i class="fa fa-check"></i>Solitary E-wallet - there is no requirement of maintaining certain stock for each mobile operator.</li>
                        <li><i class="fa fa-check"></i>There is no need to stock paper-based recharge Coupons.</li>
                        <li><i class="fa fa-check"></i>Working capital hangs on your daily transactions. </li>
                        <li><i class="fa fa-check"></i>No minimum deposits and balance maintenance are needed. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>