@using Microsoft.AspNet.Identity
@using Vastwebmulti.Models;
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "termsconditions";
}
@{
    VastwebmultiEntities DB = new VastwebmultiEntities();
    var url = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    var admindetail = DB.Admin_details.ToList();
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var weburl = admindetail.SingleOrDefault().WebsiteUrl;
    var email = admindetail.SingleOrDefault().email;
    var weburl2 = "http://" + weburl;
    var logoimage = "";
    var logo = DB.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
    if (logo.Count > 0)
    {
        if (logo.SingleOrDefault().Role == "ADMIN")
        {
            logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
        }
    }
    else
    {
        logoimage = "images/Default_Logo.png";
    }

    List<Vastwebmulti.JsonData.Hlp_TC_Privacy> people = new List<Vastwebmulti.JsonData.Hlp_TC_Privacy>();
    JSONReadWrite readWrite = new JSONReadWrite();
    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.JsonData.Hlp_TC_Privacy>>(readWrite.Read("TnCAdmin.json", "~/Areas/ADMIN/Models/JsonData/"));
    var Terms = people.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TERMS & CONDITIONS for @weburl</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
    <link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />

    <style>



        body {
            background: #fff;
            color: #000;
            font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 28px;
            margin: 0
        }

        h1, h2, h3 {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        h1 {
            font-size: 40px;
            line-height: 60px;
        }

        h1, h2 {
            font-weight: 700;
        }

        h2 {
            font-size: 32px;
            line-height: 48px
        }

        h3 {
            font-size: 24px;
            line-height: 36px
        }

        h3, h4 {
            font-weight: 700
        }

        h4 {
            font-size: 20px;
            line-height: 30px
        }

        h5, h6 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: #000
        }

            a:hover, a[rel~=nofollow] {
                text-decoration: underline
            }

            a[rel~=nofollow] {
                color: #0452a5
            }

                a[rel~=nofollow]:hover {
                    text-decoration: none
                }

        .visible {
            display: block
        }

        .hidden {
            display: none
        }

        .page {
            width: 100%
        }

        .container {
            position: relative;
            width: 90%;
            max-width: 1024px;
            margin: 0 auto
        }

        .header {
            background: #0452a5;
            color: #fff;
            padding: 16px 0
        }

            .header .title {
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                margin: 0
            }

        .content {
            padding-bottom: 32px
        }

        .translations-list-container {
            background: #253246;
            color: #fff;
            padding: 8px 0 0;
            margin: 0 0 32px
        }

            .translations-list-container .translations-list {
                margin: 0;
                padding: 0;
                list-style: none
            }

                .translations-list-container .translations-list .translations-list-item {
                    display: inline-block;
                    padding: 0;
                    margin: 0 8px 8px 0;
                    color: #fff
                }

                    .translations-list-container .translations-list .translations-list-item a {
                        display: inline-block;
                        color: #fff;
                        padding: 4px 8px
                    }

                        .translations-list-container .translations-list .translations-list-item a.active {
                            background: #334055
                        }

        .pera-1 {
            text-align: justify;
        }
    </style>
</head>
<body>

    <div class="page pera-1">
        
        <div class="translations-content-container">
            <div class="container">
                <div class="tab-content translations-content-item en visible" id="en_container">
                    <h1>TERMS & CONDITIONS</h1>
                    <p><small><strong>1. GENERAL</strong></small></p>

                    <p id="Privacycontent"><small>These terms and conditions shall govern the accessing and availing by You the Services as detailed below when You as an end user approach us or our retailers for the same. By accessing and using the Services, you as the End User agree to be bound by these terms and conditions of use, including any additional guidelines and/or future modifications to these terms and conditions (&quot;Terms&quot;). You agree and acknowledge that the access and use of the Services by You is voluntary and of Your own accord, and that the Terms shall be binding on you, for access and use of the Services, in India (&quot;Territory&quot;). Your access and use of the Services shall be subject to the applicable laws, rules and regulations in force in the Territory, and as may be amended from time to time (&quot;Applicable Laws&quot;) Your act of accessing and using the Services, shall be deemed to be Your absolute agreement to these Terms and Privacy Policy (defined below) of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>   as prescribed from time to time.</small></p>


                    <small><strong>2. SERVICES</strong></small>


                    <p><small>Services herein shall mean the payment services availed by You as an end user (&quot;You/End User&quot;) through @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a> (Wallet) which is a semi-closed prepaid instrument,operated under the authorisation granted by RBI under Payment and Settlement System Act 2007, and shall be linked to Your registered mobile number after Your registration on Wallet. The payment services shall include money transfer services. For the purpose of availing the Services, You will be required to register Yourself upon providing certain information. Upon verification and successful registration, Your user account (&quot;User Account&quot;) will get created in the form of a mobile wallet through which You will be able to avail the Services.</small></p>


                    <small><strong>3. PRIVACY POLICY &amp; DATA PROTECTION</strong></small>


                    <p><small>Any personal information You supply to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  when using the Services will be used by @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  in accordance with its privacy policy (&quot;Privacy Policy&quot;) as available in the Website.</small></p>



                    <small><strong>4. PROPRIETARY RIGHTS AND LICENCE</strong></small>

                    <ol type="i">
                        <li><small>All trademarks, copyright, database rights and other intellectual property rights of any nature in the Website and Services, any name, mark or logo related to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  and/or the Services are owned either directly by @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  or @Firm_Name&rsquo;s <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>   licensors. You should not adapt or use otherwise any name, mark or logo that is identical, or confusingly similar to any of these marks and logos. You agree and acknowledge that the access and use of the Services and Website shall not be construed to confer on You any rights of any nature including rights in any form of intellectual property contained in the Services and/or Website or related to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  . If in the course of accessing and using the Services and Website, You even unintentionally infringe the rights including rights in any form of intellectual property of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  or @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s licensors in the Services, You shall immediately cease and desist any such use.</small></li>
                        <li><small>You agree and confirm that You shall not at any time reveal or make public any and all proprietary and/or confidential information relating to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  , its business, the Services, that You may gain access to during the course of accessing and using the Services. Except as expressly authorized by @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  , You agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the content comprised in the Website or Services, in whole or in part.</small></li>
                    </ol>


                    <small><strong>5. CONDITIONS OF USE</strong></small>
                    <ol type="i">
                        <li><small>The Website and the Services are not available to persons under the age of 18 or to anyone previously suspended or removed from the Services by @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  . By accepting these Terms and/or by using the Website/Services, You represent that You are at least of the age of 18 years.</small></li>
                        <li><small>The Website and the Services here under are currently made available to You for Your personal and non-commercial use. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  reserves the right to amend or withdraw the Website and the Services, provided to You in accordance with these Terms, at any time and for any reason.</small></li>
                        <li><small>You acknowledge that the terms of agreement with Your respective telecom or internet service provider will continue to apply when using the Services. As a result, You may be charged by the respective telecom or internet service provider for access to network connection services for the duration of the connection while accessing the Website and the Services or any such third party charges as may arise. You accept responsibility for any such charges that arise, and shall not claim the same from @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  or dispute the same.</small></li>
                        <li><small>If you are not the bill payer for the internet services provided by the telecom operator/internet service provider being used to access the Services, You will be assumed to have received permission from the bill payer for using the Services.</small></li>
                        <li><small>You are solely responsible for your use of the Services. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  does not create, monitor, examine or inspect the content delivered to You through the Services, if any. Such content may include links to third-party websites and content. The linked content is not under @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s control and @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  is not responsible whatsoever for the content of any such linked content. The content does not represent or reflect any advice, views, opinions or beliefs of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  . Further, you are advised to lodge a complaint ( on @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  ) regarding any un-authorized transaction from your PPI wallet.</small></li>
                        <li><small>You must only use the Services and anything available via the Services for lawful purposes (complying with all Applicable Laws), in a responsible manner, and not in a way that might damage @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s name or reputation or that of any of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s affiliates or service providers. You agree and acknowledge that the use of the information delivered to You through the Services is Your sole responsibility and that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not at any time be held responsible for any unlawful usage of the information secured through the Services, by You.</small></li>
                        <li><small>You may find advertising or other content delivered with the use of Services that link to the sites and mobile applications and services of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s partners, advertisers, sponsors, licensors and other third parties and service providers. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a> (on its own or along with @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s partners, Suppliers, advertisers, sponsors, licensors and other third parties and service providers), from time to time which may be made available to You in the course of Your access and use of Services. If You choose to participate in such campaigns and offers, You agree that Your participation shall be voluntary and at Your sole discretion. Further, You should read and understand fully the contents of such campaigns and offers and should be in agreement with them before Your participation. These campaigns and offers may have their own terms of use and customer service policies available on their respective websites and You agree to such terms of use and policies before You participate in any of them. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be liable for any costs, liabilities, expenses and damages to You or any third parties arising out of and in course of Your participation in such campaigns and offers and Your availing the benefits therefrom.</small></li>
                        <li><small>You will not, nor allow third parties on Your behalf to (i) make and distribute copies of the Website (ii) attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Website; or (iii) create derivative works of the Website of any kind whatsoever.</small></li>
                        <li>
                            <small>You shall not host, display, upload, modify, publish, transmit, update or share any information that:</small>

                            <p><small>(a) belongs to another person and to which You do not have any right to;</small></p>
                            <p><small>(b) is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another&#39;s privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever; or unlawfully threatening or unlawfully harassing including but not limited to &quot;indecent representation of women&quot; within the meaning of the Indecent Representation of Women (Prohibition) Act, 1986;</small></p>
                            <p><small>(c) harm minors in any way;</small></p>
                            <p><small>(d) infringes any patent, trademark, copyright or other proprietary rights or third party&rsquo;s trade secrets or rights of publicity or privacy or shall not be fraudulent or involve the sale of counterfeit or stolen items;</small></p>
                            <p><small>(e) violates any law for the time being in force;</small></p>
                            <p><small>(f) deceives or misleads the addressee/ users about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</small></p>
                            <p><small>(g) impersonate another person;</small></p>
                            <p><small>(h) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource; or contains any Trojan horses, worms, time bombs, cancelbots, easter eggs or other computer programming routines that may damage, detrimentally interfere with, diminish value of, surreptitiously intercept or expropriate any system, data or personal information;</small></p>
                            <p><small>(i) threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting any other nation.</small></p>
                            <p><small>(j) shall not be false, inaccurate or misleading;</small></p>

                        </li>
                    </ol>

                    <small><strong>6. CONDITIONS OF USE SPECIFIC TO THE SERVICES</strong></small>


                    <p><small>You agree and acknowledge the following:</small></p>

                    <ol type="i">
                        <li><small>You are solely responsible for entering the correct information (name, phone number, email address, home address, Date of Birth, Gender etc.);</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) is not responsible for faulty internet connection or electricity failure or any other problem on Your side while availing the Services;</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) shall not in any way be liable for any delay, disruption or defects in the online payment facility provided by any financial institution/bank/payment gateway service</small></li>
                        <li><small>You agree to pay all fees and charges which are specified for availing any fee based Services. Unless otherwise noted, all currency references are in Indian Rupees.</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) may, upon notice if required by applicable laws, at any time change the amount of, or the basis for determining, any fee or charge, or institute new fees or charges.</small></li>
                        <li><small>All taxes, levies, cesses or statutory claim for the charge or fee paid to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall be borne and paid by you, whether past, present or future, including penalties or claims of any nature whatsoever.</small></li>
                        <li><small>The cost of connectivity including but not limited to voice calls, GPRS activation charges, internet charges and charges for sending/receiving SMS from designated numbers will be borne by You as per the charges specified by Your respective service providers.</small></li>
                        <li><small>Refund of amount loaded/reloaded in User Account, as the case may be, will be done in accordance with regulatory framework prevailing and as amended from time to time.</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) shall not be liable/ responsible for any defect in the product/merchandise/goods/services purchased/availed from third parties through Wallet.</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) is not responsible in any manner whatsoever for non-provisioning of the Services due to GPRS/EDGE/3G failure/internet connectivity failure/download error.</small></li>
                        <li><small>You understand and agree that password and other information with respect to your User Account are confidential information.</small></li>
                        <li><small>You agree to immediately change the password on receipt and to continue changing the password periodically (recommended every 15 days).</small></li>
                        <li><small>You agree that @Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) shall not be responsible if you share your password and other confidential information about Your User Account with any person or fail to abide by the advice given in these Terms about changing password periodically.</small></li>
                        <li><small>You understand and agree that Your User Account is linked to your registered mobile number.</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) will not be held liable for unauthorized use of User Account on account of loss/theft/misplacement of Mobile number and/or SIM, unless You have informed @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  customer care about such loss/theft/misplacement and have blocked User Account temporarily till You reactivate the same using a new SIM with same mobile number. It must be noted that You shall continue to be held liable for any unauthorized use of your User Account till You inform @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  customer care about such loss/theft/misplacement and Your request for blocking your User Account is executed.</small></li>
                        <li><small>You agree and acknowledge that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be responsible for any use/misuse of User Account in any manner whatsoever.</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) may amend the procedure and process of creation and operation of User Account in compliance with any laws or direction/order of any government/ statutory/regulatory authority and/or court, with or without intimation to the User.</small></li>
                        <li><small>As of now @Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) is providing Services in the Territory only, therefore only individuals of 18 years or older and residing in India may enroll for the Services. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  reserves the right to prevent access to the Website and the Services there under from mobile number or IP addresses outside of India.</small></li>
                        <li><small>You agree and undertake that You shall not use or create fake ID or provide any fake/false profile information for availing the Services through the Website.</small></li>
                        <li><small>You agree to promptly notify @Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) of any change in Your mobile number or email address or any other details in Your personal profile by sending an e-mail to &nbsp;@email</small></li>
                        <li><small>@Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) will not be liable to pay any compensation if any error occurs due to any technical or manual fault at the end of the web server holder.</small></li>
                        <li><small>You are solely responsible for Your device and the internet services that connect Your said device to the Website.</small></li>
                        <li><small>You agree and confirm that You shall not be entitled to opt out of receiving transactional messages pertaining to the Services.</small></li>
                        <li><small>You agree and confirm to provide @Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) any and every detail @Firm_Name (<a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>) requires to obtain from You, including such other personal or proprietary information relating to any of Your acts or omissions or violations of other persons who may be a party with You, on suspicion or otherwise in relation to the use of Website.</small></li>
                    </ol>

                    <small><strong>7. Modifications and Interruption to Service</strong></small>


                    <p><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  reserves the right to modify or discontinue the Service with or without notice to You. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be liable to You or any third party should @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  exercise its right to modify or discontinue the Service. You acknowledge and accepts that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  does not guarantee continuous, uninterrupted or secure access to Website and operation of our Website may be interfered with or adversely affected by numerous factors or circumstances outside the control of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  .</small></p>

                    <p><small><strong>8. Collection of End User Information</strong></small></p>


                    <p><small>You agree and acknowledge that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may collect IP address and Website usage information from You . @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may use the above information, inter alia.</small></p>

                    <ol type="i">

                        <li><small>to maintain, operate, provide and enhance our Website and Services; and</small></li>
                        <li><small>to comply with legal requirements or process, or where necessary to prevent or investigate fraud, to protect the safety of an individual. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may share Your personally identifiable information with suppliers, subcontractors, vendors and other businesses that we employ to perform functions on our behalf. For example, @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may employ third parties to send email campaigns or provide marketing assistance, or provide customer service. These entities have access to Your information only for the purposes of performing the functions for which we have engaged them. If such entities have access to Your personally identifiable information, their agreements with us require them to keep Your information confidential.</small></li>
                    </ol>
                    <p>
                        <small><strong>9. AVAILABILITY</strong></small>
                        <ol type="i">
                            <li><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  will use reasonable efforts to make the Services available at all times. However You acknowledge the Services are provided over networks of internet service providers and dependent on them , so the quality and availability of the Services may be affected by factors outside of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &rsquo;s reasonable control. In the event the Services are unavailable to You for any factors not attributable to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  and due to any reasons attributable to any third party service provider, @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be responsible for the same in any event whatsoever.</small></li>
                            <li><small>You hereby agree and confirm that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be held liable for any unavailability or non-functionality of the Website or Services due to war, industrial action, flood, or act of God. You further agree and confirm that @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  shall not be responsible for any disruption in the functionality of the Services and/or any unavailability in the Services, arising due to the internet service provider and/or any other third party, and/or any intermediary who may deliver the Services to You and that You shall not hold @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  liable for any of the same.</small></li>
                        </ol>
                    </p>

                    <small><strong>10. SYSTEM REQUIREMENTS</strong></small>
                    <ol type="i">
                        <li><small>In order to access and use the Services, You are required to have a mobile, computer or laptop or any compatible device with internet connectivity.</small></li>
                        <li><small>It is Your responsibility to ensure Your device meets all the necessary technical specifications to enable You to access and use the Services.</small></li>
                    </ol>

                    <small><strong>11. TERMINATION</strong></small>


                    <p><small>Notwithstanding any remedies that may be available under any Applicable Law, @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may temporarily or permanently deny, limit, suspend, or terminate the Services provided to You, if @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  believes that: (a) You have abused Your rights to use the Services; or (b) You are in breach of this Terms or Privacy Policy; or, (c) You have performed any act or omission that violates any Applicable Law, rules, or regulations; or, (d) You have performed any act or omission which is harmful or likely to be harmful to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  , or any other third party, including other users or suppliers of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  or the service providers; or, (e) You made use of the Services to perform an illegal act, or for the purpose of enabling, facilitating, assisting or inducing the performance of such an act; or, (f) You made any confidential and/or proprietary information pertaining to the @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  and/or the Services public without the prior written consent of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  . You agree that notwithstanding the termination, @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  will continue to be entitled to use the information supplied by You or collected from You during the use and access of the Services by You.</small></p>


                    <small><strong>12. LIMITATION OF LIABILITY</strong></small>


                    <p><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  , INCLUDING ITS OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, SUB-CONTRACTORS, AGENTS, PARENT COMPANIES, SISTER COMPANIES, SUBSIDIARIES AND OTHER AFFILIATES WILL NOT BE LIABLE, TO THE MAXIMUM EXTENT PERMITTED BY THE APPLICABLE LAW, FOR ANY DIRECT, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, OR ANY OTHER DAMAGE AND LOSS (INCLUDING LOSS OF PROFIT, LOSS OF DATA AND WORK STOPPAGE), COSTS, EXPENSES AND PAYMENTS, REGARDLESS OF THE ALLEGED LIABILITY OR FORM OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, INCLUDING NEGLIGENCE, INTELLECTUAL PROPERTY INFRINGEMENT, PRODUCT LIABILITY AND STRICT LIABILITY, THAT MAY RESULT FROM, OR IN CONNECTION WITH THE USE OR THE INABILITY TO ACCESS AND USE THE WEBSITE OR THE SERVICES, OR FROM ANY FAILURE, ERROR, OR DOWNTIME IN THE FUNCTION OF THE SERVICES, OR FROM ANY FAULT OR ERROR MADE BY @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  &#39;S STAFF, OR FROM YOUR RELIANCE ON CONTENT DELIVERED THROUGH THE SERVICES, OR FROM ANY COMMUNICATION WITH @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  OR FROM ANY DENIAL OR CANCELLATION OF REQUEST FOR INFORMATION THROUGH THE SERVICES, OR FROM RETENTION, DELETION, DISCLOSURE OR ANY CONTENT THROUGH THE SERVICES, REGARDLESS OF WHETHER @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.OTHER USE OR LOSS OF</small></p>

                    <ol type="i">
                        <li>
                            <small>LIMITED LIABILITY OF A PPI CUSTOMER</small>
                            <p><small>(a) Customer liability arising out of an unauthorized electronic payment transaction will be limited to:</small></p>

                        </li>
                    </ol>
                    <small><strong>13. DISCLAIMER OF WARRANTIES</strong></small>

                    <ol type="i">
                        <li><small>EXCEPT AS EXPRESSLY SET FORTH IN THIS TERMS, @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  EXPRESSLY DISCLAIMS ANY OTHER WARRANTY WITH RESPECT TO THE USE OF THE WEBSITE/SERVICES OR ANY CONTENT OR INFORMATION DELIVERED OR SENT THROUGH THE SERVICES TO YOU. THE SERVICES ARE PROVIDED WITHOUT ANY EXPRESS OR IMPLIED GUARANTEE OR ASSURANCE OF QUALITY, RELIABILITY OF THE INFORMATION DELIVERED THROUGH THE SERVICES. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES WITH REGARD TO THE SERVICES. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  DOES NOT WARRANT OR GUARANTEE THAT THE USE OF THE SERVICES WILL NOT CAUSE ANY DAMAGES TO YOUR MOBILE PHONE, COMPUTER/LAPTOP AND ANY OTHER COMPATIBLE DEVICE OR TO ANY OTHER SERVICES PROVIDED TO YOUR MOBILE PHONE, COMPUTER/LAPTOP AND ANY OTHER COMPATIBLE DEVICE OR WEBSITE AND CONTENT THAT RESIDE ON YOUR MOBILE PHONE, COMPUTER/LAPTOP AND ANY OTHER COMPATIBLE DEVICE. YOU AGREE AND ACKNOWLEDGE THAT THE USE, AND ACCESS OF THE SERVICES IS ENTIRELY, OR AT THE MAXIMUM PERMITTED BY THE APPLICABLE LAW, AT YOUR OWN RISK.</small></li>
                        <li><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  DOES NOT WARRANT OR GUARANTEE THAT THE WEBSITE AND SERVICES WILL OPERATE IN AN UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE MANNER, OR THAT THE SERVICES WILL ALWAYS BE AVAILABLE OR FREE FROM ERRORS OR THAT THE SERVICES WILL BE IMMUNE FROM UNAUTHORIZED ACCESS.</small></li>
                        <li><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  DOES NOT WARRANT, GUARANTEE OR MAKE ANY REPRESENTATIONS THAT YOU WILL FIND THE SERVICES SUITABLE FOR YOUR NEEDS. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  DOES NOT WARRANT OR GUARANTEE THAT THE INFORMATION YOU RECEIVE TO YOUR MOBILE, COMPUTER/LAPTOP AND ANY OTHER COMPATIBLE DEVICES WILL BE FREE FROM TECHNICAL INACCURACIES.</small></li>
                        <li><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  CANNOT AND DOES NOT GUARANTEE THAT THE WEBSITE AND/OR SERVICES WILL BE FREE FROM VIRUSES AND/OR OTHER CODE THAT MAY HAVE CONTAMINATING OR DESTRUCTIVE ELEMENTS. IT IS YOUR RESPONSIBILITY TO IMPLEMENT APPROPRIATE SECURITY SAFEGUARDS (INCLUDING ANTI-VIRUS AND OTHER SECURITY CHECKS) TO SATISY YOUR PARTICULAR REQUIREMENTS AS TO THE SAFETY AND RELIABILITY OF THE SYSTEM.</small></li>
                        <li><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  WILL BE ENTITLED TO USE, SUBJECT TO THE PRIVACY POLICY AS DEFINED ABOVE, ANY INFORMATION SUPPLIED BY YOU DURING THE COURSE OF ACCESSING AND USING THE SERVICES.</small></li>
                    </ol>

                    <small><strong>14. INDEMNIFICATION</strong></small>

                    <p><small>You agree to indemnify and hold @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  , the licensors, business partners of @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  or the service providers and their respective officers, directors, shareholders, employees, sub-contractors, agents, parent companies, sister companies, subsidiaries and other affiliates, indemnified and harmless from any claim or demand, including reasonable attorneys&#39; fees, made by any third party due to or arising out of Your use of the Website or Services, any unauthorised use of the Website/Services by You, Your violation of these Terms, or Your violation of any rights including rights in any form of intellectual property of any third party and/or any violation of applicable law by You.</small></p>

                    <small><strong>15. AMENDMENTS TO THE TERMS</strong></small>


                    <p><small>@Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  may amend and modify this Terms from time to time, including any and all documents and policies incorporated thereto without any prior notice to You. You agree to be bound by any of the changes made in the Terms, including changes to any and all documents and policies incorporated thereto. Continuing to access and use the Services will indicate Your acceptance of the amended Terms. If You do not agree with any of the amended Terms, then You must avoid any further use and access of the Services. @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  advises You to periodically read these Terms, as it may change from time to time.</small></p>


                    <small><strong>16. ENTIRE AGREEMENT</strong></small>


                    <p><small>The &quot;Terms&quot; including the Privacy Policy constitutes the entire agreement between You and @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  and governs Your access and use of the Services, superseding any prior agreements between You and @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  with respect to the Website and Services.</small></p>

                    <h1><small><ins><span class="marker" style="background-color:yellow;"><strong><em>REFUND POLICY</em></strong></span></ins></small></h1>

                    <p><small><strong>CAN I CLAIM REFUND OF AMOUNT ADDED TO @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  ?</strong></small></p>

                    <p><small>No, any amount added to @Firm_Name <a href="@weburl2" rel="external nofollow noopener" target="_blank">@weburl2</a>  is non-refundable; it can be used for recharges and other services available in portal only. !</small></p>

                </div>
            </div>
        </div>

    </div>
</body>

</html>

<script>
    var PrivacyElement = @Html.Raw(Json.Encode(Terms.SingleOrDefault().Name));
    console.log(decodeURIComponent(PrivacyElement))
    if (decodeURIComponent(PrivacyElement).length > 7) {
        document.getElementById('en_container').innerHTML = '<div><div/>';
        document.getElementById('en_container').innerHTML = decodeURIComponent(PrivacyElement);
    }

</script>
