
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "travel_api";
}
@using Vastwebmulti.Models;
@{
    var favimage = "";
    VastwebmultiEntities db2 = new VastwebmultiEntities();
    var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
    if (faviconlogo.Count() > 0)
    {
        if (faviconlogo.SingleOrDefault().Role == "ADMIN")
        {
            favimage = faviconlogo.SingleOrDefault().faviconimage;
        }
    }
    else
    {
        <link rel="icon" href="" type="image/x-icon" />
    }
    var admindetail = db2.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var Address = admindetail.SingleOrDefault().Address;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;
    var SupportMail = admindetail.SingleOrDefault().email1;
    var CustCareNo = "+91" + admindetail.SingleOrDefault().mobile1;
    var PinCode = admindetail.SingleOrDefault().pincode;

    int state = Convert.ToInt32(admindetail.SingleOrDefault().State);
    int district = Convert.ToInt32(admindetail.SingleOrDefault().District);
    var City = db2.State_Desc.Where(a => a.State_id == state).SingleOrDefault().State_name;
    var State = db2.District_Desc.Where(a => a.Dist_id == district && a.State_id == state).SingleOrDefault().Dist_Desc;

    var notshow = db2.tblMenus.Where(a => (a.MenuName == "CARDS" || a.MenuName == "TRAVEL") && a.Status == "Y" && a.Role == "ADMIN").ToList();

    var Card = db2.tblMenus.Where(a => a.MenuName == "CARDS" && a.Role == "ADMIN").SingleOrDefault().Status;
    var Travel = db2.tblMenus.Where(a => a.MenuName == "TRAVEL" && a.Role == "ADMIN").SingleOrDefault().Status;
    
}

<div class="section-block-services">
    <div class="container-fluid">
        <div class="row ml-5 mr-5 flex-column-reverse flex-lg-row">
            <div class="col-md-3 col-sm-4 col-12">
                <div class="services-single-left-box">
                    <div class="services-single-left-heading">
                        <h1>API Services</h1>
                    </div>
                    <div class="services-single-menu mt-30">
                        <ul>
                            <li><a href="@Url.Action("recharge_api", "Home")">Recharge API</a></li>
                            <li class="services-active"><a href="@Url.Action("travel_api", "Home")">Travel API</a></li>
                            <li><a href="@Url.Action("domestic_transfer", "Home")">Domestic Money Transfer</a></li>
                            <li><a href="@Url.Action("bbps", "Home")">BBPS</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Operator Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">Pincode Finder</a></li>
                            <li><a href="@Url.Action("api_services", "Home")">IFSC Finder</a></li>
                        </ul>
                    </div>
                    <div class="services-single-left-heading mt-30">
                        <h4>Need Help ?</h4>
                    </div>
                    <ul class="primary-list mt-30">
                        <li><i class="fa fa-globe"></i>@PinCode</li>
                        <li><i class="fa fa-phone"></i>@CustCareNo</li>
                        <li><i class="fa fa-envelope-open"></i><a href="mailto:@SupportMail" class="__cf_email__">@SupportMail</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-12">
                <div class="services-single-right">
                    <img src="~/images/img10/our-services-travel-api.png" class="rounded-border" alt="img">
                    
                    <div class="text-content-big mt-20">
                        <p>Indian Railways are gaining popularity due to their amazing services. Trains are one of the best modes of transportation for traveling within India. People prefer trains for their travel needs due to their economical rates and best-in-class services. Gone are the days when people need to visit IRCTC reservation offices and stand in long queues for booking train tickets. Nowadays, with the advancement in technology, a person can easily book train tickets online using IRCTC API.</p>
                        <p>Become a ticket booking agent and serve lots of people by offering train ticket booking services at competitive costs using our train ticket booking API.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="text-content-big mt-20">
                    <p>@Firm_Name, the top IRCTC API Provider company in India provides Indian Railway API at a very reasonable and affordable cost. Our Indian Railway API allows a business correspondent to book train tickets for their customers.</p>
                    <p>Being the best IRCTC API provider in India, we at @Firm_Name ensure the best API services to our clients with expertise. Our team includes highly qualified and certified API developers to serve our clients with the best possible solution for every problem.</p>
                    <p>Our Indian railway ticket booking API gives access to a vast collection of trains and station data with various amazing features including ticket booking, train live tracking, etc. Our IRCTC train ticket booking APIs are easy to access without any interruptions. You can also get PNR status API from @Firm_Name to check your PNR status easily.</p>
                    <p>Our APIs are secured with the latest security features to ensure the end-to-end safety of the user. We facilitate a single wallet to a single account for all transactions. Our most advanced online ticket booking methods of IRCTC allow a user to book instantly with ease.</p>
                    <p>Opt for @Firm_Name for getting budget-friendly IRCTC API Cost and provide excellent train ticket booking services to your customer using our API solutions and earn great profit and revenue. Reach @Firm_Name now and get your train ticket booking API, and PNR status API and start increasing your business revenue.</p>
                </div>
                <div class="crypto_mlm_btns mt-5 mb-4">
                    <a href=" " class="btn consult_btn cryptmlmwhatsappbtn_color" name="button" target="_blank"><i class="fa fa-whatsapp"></i> | WhatsApp </a>
                    <a href=" " target="_blank" class="btn consult_btn cryptmlmtelegrambtn_color ml-1" name="button"><i class="fa fa-telegram"></i> | Telegram</a>
                    <a href="" target="_blank" class="btn consult_btn cryptmlmskypebtn_color ml-1" name="button"><i class="fa fa-skype"></i> | Skype</a>
                </div>
            </div>
        </div>
        <div class="row mt-30 ml-5 mr-5">
            <div class="col-md-8 col-sm-7 col-12">
                <div class="pr-15-md">
                    <div class="section-single-heading">
                        <h4>Benefits Of Choosing Our IRCTC API</h4>
                    </div>
                    <ul class="primary-list mt-35">
                        <li><i class="fa fa-check"></i>You can easily integrate your wallet API. It can be integrated into your existing wallet with IRCTC</li>
                        <li><i class="fa fa-check"></i>Cost-effective solution with great income and reputation.</li>
                        <li><i class="fa fa-check"></i>Simplify day-to-day activities using our API services</li>
                        <li><i class="fa fa-check"></i>24X7 live customer support by experienced teams</li>
                        <li><i class="fa fa-check"></i>Easy to use and navigate APIs ensuring the great user experience</li>
                        <li><i class="fa fa-check"></i>Issue authorized tickets to your customers</li>
                        <li><i class="fa fa-check"></i>Allows you to book tickets for all types like a tatkal, waiting list, RAC, etc</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-12">
                <img src="~/images/img10/our-services-travel-api-2.png" class="rounded-border" alt="img">
            </div>
        </div>
    </div>
</div>