
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <style type="text/css">
        .state-status-img, .state-status-fail {
            width: 100px;
            height: 100px;
            border: 2px solid #000;
            border-radius: 50%;
            position: relative;
            margin: auto;
            background: green;
        }

        .state-status-fail {
            background: red;
        }

        .state-status {
            width: 40%;
            margin: auto;
        }

        .state-status-suc {
            text-align: center;
            border-bottom: 2px solid #555;
        }

        .state-status-img::before {
            content: '';
            border-bottom: 2px solid #000;
            border-left: 2px solid #000;
            display: block;
            width: 50px;
            height: 20px;
            transform: rotate(-45deg);
            position: absolute;
            top: 31px;
            left: 23px;
        }

        .state-status-fail::before {
            content: '\00D7';
            font-size: 97px;
            line-height: 97px;
        }

        .status-data ul {
            padding: 0px;
        }

            .status-data ul li {
                list-style: none;
                width: 100%;
                float: left;
                margin-bottom: 8px;
                border-bottom: 1px solid #555;
                padding-bottom: 6px;
            }

                .status-data ul li span:first-child {
                    float: left;
                }

                .status-data ul li span:last-child {
                    float: right;
                }

        .status-data button {
            padding: 5px 20px;
            margin-right: 10px;
            font-size: 15px;
            margin-top: 10px;
        }
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="state-status">
        <div class="state-status-suc">
            @if (ViewBag.Status == "SUCCESS")
            {
                <div class="state-status-img">

                </div>
                <h2>Transaction Success</h2>
            }
            else if (ViewBag.Status == "PENDING")
            {
                <div class="state-status-img">

                </div>
                <h2>Transaction Pending</h2>
            }
            else
            {
                <div class="state-status-fail">

                </div>
                <h2>Transaction Fail</h2>
            }
        </div>
        <div class="status-data">
            <ul>
                <li><span>Transaction Amount</span><span>@ViewBag.amount</span></li>
                <li><span>Payment Mode</span><span>@ViewBag.Mode</span></li>
                <li><span>Decription</span><span>@ViewBag.type</span></li>
                <li><span>Pay Id</span><span>@ViewBag.payid</span></li>
                <li><span>Bank RRN/Error</span><span>@ViewBag.bankrrn</span></li>
                <li><span>Charge</span><span>@ViewBag.charge</span></li>
                <li><span>Final Wallet Recieved</span><span>@ViewBag.recive</span></li>
                <li><span>Transaction Time</span><span>@ViewBag.time</span></li>
            </ul>

            <a href="@Url.Action("Dashboard","Home",new { Area="Retailer" })" class="w3-btn w3-black">Back To Home</a>
            <a href="@Url.Action("GatewayTRANSFER","Home",new { Area="Retailer" })" class="w3-btn w3-black">Other Payment</a>
            <button>Print</button>
        </div>
    </div>
</body>
</html>