@model Vastwebmulti.Areas.ADMIN.ViewModel.Whitelabel_TargetSetviewmodel

@if (Model.AchivedTarget_His != null)
{
    int sn = 1;
    foreach (var item in Model.AchivedTarget_His)
    {
        <tr>
            <td>@sn</td>
            <td>@item.FarmName</td>
            <td>@item.Name</td>
            <td>@item.Total_TargetSet</td>
            <td>@item.Opt_Type</td>
            <td>@item.Total_Txn_amt</td>
            <td>@item.Target_Type </td>
            <td>@item.Achived_Perce</td>
            <td>@item.Received_Perce</td>
            <td>@item.rem_pre</td>
            <td>@item.rem_post</td>
            <td>@item.total_achived_amt</td>
            <td>@item.Admin_Pre</td>
            <td>@item.Admin_Post</td>
            <td>@item.GST</td>
            <td>@item.TDS</td>
            <td>@item.Achived_Date</td>
        </tr>
        sn++;
    }
}
