@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_SMSViewModel

<div id="tab-4" class="tab-content custom-table-responsive">
    <div class="table-responsive">
        <table class="table table-bordered " style="width:100%;">
            <thead>
                <tr>
                    <th>SMS Api Name</th>
                    <th>Status</th>
                    <th>DEL</th>
                </tr>
            </thead>
            <tbody id="smsapilist">
                @if (Model.SMS_API_LIST.Count() > 0)
                {
                    foreach (var item in Model.SMS_API_LIST)
                    {
                        <tr>
                            <td class="nr">
                                <span class="default-sms-api">@item.smsapi</span>
                                <span class="edit-sms-api" style="display:none;">  @Html.TextBoxFor(m => m.apisms.smsapi1, "", new { @class = "form-control searchInput", placeholder = "Enter SMS Api", required = "required" })</span>

                            </td>
                            <td>
                                <div class="onoffswitch">
                                    @if (item.sts == "Y")
                                    {
                                        <span class="costom-on" onclick="checkevent(@item.id);">on</span>
                                    }
                                    else
                                    {
                                        <span class="custom-off" onclick="checkevent(@item.id);">off</span>
                                    }
                                </div>
                            </td>
                            <td>

                                <button id="DeleteBtn" class=" waves-effect  special-iii delete-fa switch-edit-button">

                                    <img class="before-delete" src="~/MainFrontDesign/images/delete.svg" />
                                    <span class="after-delete" style="display:none;font-size: 10px;color:red;" onclick='deleteevent(@item.id);'>Sure&nbsp;?</span>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">
                            <div class="no-data-found-img">
                                <img src="~/img/NoDatall.svg" />
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



