@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_BlockUserViewModel

@foreach (var item in Model.Blocked_UsersList)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.FirmName</td>
        <td>@item.Mobile</td>
        <td>
            @if (item.Status == "N")
            {
                <button class="btn btn default first-button" id="DeleteBtn" style="background-color:transparent; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;" title="Click to Unlock Userid">
                    Click To Unblock
                </button>
                <button class="btn btn default fullbodydycolorbg second-buttt" onclick="UnBlock_Login('@item.UserId','@item.Role')" style="color:#fff;display:none; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;" title="Click to Unblock Userid">
                    Are You Sure ?
                </button>
            }
        </td>
    </tr>
}

<script>
    $('.first-button').click(function () {
        $(this).hide();
        $(this).next('.second-buttt').show();
    })
</script>