@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_GiftcardSlab
@using (Ajax.BeginForm("_common_giftCard", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />

    <table class="table table-bordered slab-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>Operator&nbsp;Name</th>
                <th>Master</th>
                <th>Distributor</th>
                <th>Retailer</th>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                <tr>
                    <td><p>@item.OperatorName</p></td>
                    <td>@item.mastercomm</td>
                    <td>@item.dlmcomm</td>
                    <td>@item.retailercomm</td>

                </tr>
            }

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(a => a.common[i].idno)
                    <td>
                        @Html.DisplayFor(a => a.common[i].OperatorName)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].mastercomm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].mastercomm)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].dlmcomm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].dlmcomm)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].retailercomm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].retailercomm)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>