@model Vastwebmulti.Areas.WHITELABEL.Models.PancardSlabModel
@using (Ajax.BeginForm("_Common_pancard", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Data" class="btn  waves-effect" style="display:none;" />
    <table class="table table-bordered slab-table" style="margin-top:15px;">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>Physical&nbsp;Token(₹)</th>
                <th>Physical&nbsp;Token&nbsp;comm(₹)</th>
                <th>Digital&nbsp;Token(₹)</th>
                <th>Digital&nbsp;Token&nbsp;comm(₹)</th>
                <th>M/D&nbsp;physical&nbsp;Comm(₹)</th>
                <th>M/D&nbsp;Digital&nbsp;Comm(₹)</th>
                <th>DLM&nbsp;physical&nbsp;Comm(₹)</th>
                <th>DLM&nbsp;Digital&nbsp;Comm(₹)</th>
                <th>Purchase&nbsp;physical(₹)</th>
                <th>Purchase&nbsp;Digital(₹)</th>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                <tr>
                    <td>@item.tokenvaluePhysical</td>
                    <td>@item.dlmremvaluephysical</td>
                    <td>@item.tokenvalueDigital</td>
                    <td>@item.dlmremvaluedigital</td>
                    <td>@item.masterphysical</td>
                    <td>@item.masterdigital</td>
                    <td>@item.dealerPhysical</td>  
                    <td>@item.dealerDigital</td>  
                    <td>@item.PurchasePhysical</td>
                    <td>@item.PurchaseDigital</td>
                </tr>
            }

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
            <tr>
                @Html.HiddenFor(a => a.common[i].idno)
                <td>
                    @Html.EditorFor(a => a.common[i].tokenvaluePhysical, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].tokenvaluePhysical)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dlmremvaluephysical, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dlmremvaluephysical)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].tokenvalueDigital, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].tokenvalueDigital)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dlmremvaluedigital, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dlmremvaluedigital)
                </td>

                <td>
                    @Html.EditorFor(a => a.common[i].masterphysical, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].masterphysical)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].masterdigital, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].masterdigital)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dealerPhysical, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dealerPhysical)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].dealerDigital, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].dealerDigital)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].PurchasePhysical, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].PurchasePhysical)
                </td>
                <td>
                    @Html.EditorFor(a => a.common[i].PurchaseDigital, new { htmlAttributes = new { @style = "width:100%" } })
                    @Html.ValidationMessageFor(a => a.common[i].PurchaseDigital)
                </td>
            </tr>
            }

        </tbody>
    </table>
}
<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>
