@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_CashDepositeAndBank_Info_VM
@using (Ajax.BeginForm("_dlm_CashDepositCharge", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success2", OnFailure = "failed2", UpdateTargetId = "dlmcash" }))
{
    <input id="btnsubmit2" type="submit" value="Save Now" class="btn btn-default" style="display:none;width:20%;" />
    <div id="tblDealer">
        <table class="table table-responsive table-bordered">
            <thead>
                <tr style="background: #c7c7c7;">
                    <th>User ID</th>
                    <th>Payment&nbsp;Type</th>
                    <th>Charge &nbsp;(%)</th>
                </tr>
            </thead>
            @if (Model.creditchargeDealer != null)
            {
                <tbody id="tbodyshowdealer">
                    @foreach (var item in Model.creditchargeDealer)
                    {
                        <tr>
                            <th>@item.userid</th>
                            <th>@item.ctype</th>
                            <th>@item.Charge</th>
                        </tr>
                    }
                </tbody>
                <tbody id="tbodyeditdealer" style="display:none;">
                    @for (int i = 0; i < Model.creditchargeDealer.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.creditchargeDealer[i].userinfo)
                            <td>
                                @Html.DisplayFor(a => a.creditchargeDealer[i].userid)
                            </td>
                            <td>
                                @Html.HiddenFor(a => a.creditchargeDealer[i].ctype)
                                @Html.DisplayFor(a => a.creditchargeDealer[i].ctype)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.creditchargeDealer[i].Charge, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.creditchargeDealer[i].Charge)
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}






