@model Vastwebmulti.Areas.WHITELABEL.Models.Token_PaidService_VM


<div class="col-md-6 col-sm-6 col-xs-12 padd-left">
    <div class="item-border custom-table-responsive">
        <div class="Th-on">
            <h3 class="dmlsing-seconddesign">Master Distributor Live Remain Token's</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered third-design-table" style="width:100%;">
                <thead>
                    <tr>
                        <th>Firm Name</th>
                        <th>Contact Info</th>
                        <th><span class="table-header-text-green" style="transform:none;-webkit-transform:none;">live</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.master_remain_token_report_Result != null)
                    {
                        foreach (var item in Model.master_remain_token_report_Result)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FarmName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 padd-right padd-left">
    <div class="item-border custom-table-responsive">
        <div class="Th-on">
            <h3 class="dmlsing-seconddesign">Distributor Live Remain Token's</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>Firm Name</th>
                        <th>Contact Info</th>
                        <th><span class="table-header-text-green" style="transform:none;-webkit-transform:none;">live</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.dealer_remain_token_report_Result != null)
                    {
                        foreach (var item in Model.dealer_remain_token_report_Result)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FarmName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>