
@model Vastwebmulti.Areas.ADMIN.ViewModel.Whitelabel_TargetSetviewmodel
@{

    DateTime todaysDate = DateTime.Now.Date;
    int month = todaysDate.Month;
    int year = todaysDate.Year;
}
<style>
    .edit-target-table tr td input[readonly] {
        background: transparent;
    }
</style>
<table class="table table-bordered table-striped table-hover" id="categoryList">
    <thead>
        <tr>
            <th>Category</th>
            <th>Target&nbsp;Business</th>
            <th>Offer&nbsp;Type</th>
            <th>(60%)&nbsp;Achieved</th>
            <th>(70%)&nbsp;Achieved</th>
            <th>(80%)&nbsp;Achieved</th>
            <th>(90%)&nbsp;Achieved</th>
            <th>(100%)&nbsp;Achieved</th>
            <th>Status</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        <tr id="beforload" style="display:none">
            <td colspan="10"><div class="loader"></div></td>
        </tr>
        <tr id="AfterLoding">
            @if (Model.mdTargetCategory != null)
            {
                foreach (var item in Model.mdTargetCategory)
                {
                    if (item.Date.Value.Month == month && item.Date.Value.Year == year)
                    {
                    <tr>
                        <td>@item.Category</td>
                        <td><input type="text" value="@item.SetTarget" class="txtsettarget" name="txtsettarget" readonly="readonly" /></td>
                        <td>
                            <div class="for-custom-select-icon">
                                <input type="text" class="ddloffertypeDisplay" disabled="true" value="@item.OfferType" />
                                <select class="ddloffertype" disabled="true" onchange="changeachive(this)" style="display:none;">
                                    <option value="Fixrupees">Fix Rupees</option>
                                    <option value="Giftitem">Gift Item</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="txt60achive" value="@item.Achive_60" readonly="readonly" />
                            <div class="for-custom-select-icon-other">
                                <select class="ddl60achive" style="display:none;">
                                    @foreach (var Giftitem in Model.tblproductlist)
                                    {
                                        <option value="@Giftitem.Text">@Giftitem.Text</option>
                                    }

                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="txt70achive" value="@item.Achive_70" readonly="readonly" />
                            <div class="for-custom-select-icon-other">
                                <select class="ddl70achive" style="display:none;">
                                    @foreach (var Giftitem in Model.tblproductlist)
                                    {
                                        <option value="@Giftitem.Text">@Giftitem.Text</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="txt80achive" value="@item.Achive_80" readonly="readonly" />
                            <div class="for-custom-select-icon-other">
                                <select class="ddl80achive" style="display:none;">
                                    @foreach (var Giftitem in Model.tblproductlist)
                                    {
                                        <option value="@Giftitem.Text">@Giftitem.Text</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="txt90achive" value="@item.Achive_90" readonly="readonly" />
                            <div class="for-custom-select-icon-other">
                                <select class="ddl90achive" style="display:none;">
                                    @foreach (var Giftitem in Model.tblproductlist)
                                    {
                                        <option value="@Giftitem.Text">@Giftitem.Text</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="txt100achive" value="@item.Achive_100" readonly="readonly" />
                            <div class="for-custom-select-icon-other">
                                <select class="ddl100achive" style="display:none;">
                                    @foreach (var Giftitem in Model.tblproductlist)
                                    {
                                        <option value="@Giftitem.Text">@Giftitem.Text</option>

                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            @if (item.Status == true)
                            {
                                <div class="onoffswitch">
                                    <span class="costom-on" id="@item.supersettargetid" onclick="MasterStatus(@item.supersettargetid)">on</span>
                                </div>
                            }
                            else
                            {
                                <div class="onoffswitch">
                                    <span class="custom-off" id="@item.supersettargetid" onclick="MasterStatus(@item.supersettargetid)">off</span>
                                </div>
                            }

                        </td>
                        <td class="last-target">
                            <button class="edit-target">Edit</button>
                            <button class="save-target" onclick="setTimeout(saveTarget, 500)" data-href="@Url.Action("UpdateSetTargerMaster", "Home", new { targetID = @item.supersettargetid })" style="display:none;">Save</button>
                        </td>

                    </tr>
                }
            }
        }
        </tbody>
    </table>
    <script>
    $('.edit-target').click(function () {

        $(this).closest('tr').find('input[type=text]').removeAttr('readonly');
        $(this).closest('tr').find('select').removeAttr('disabled');
        $(this).closest('tr').find('select.ddloffertype').css('display', 'block');
        $(this).closest('tr').find('.ddloffertypeDisplay').css('display', 'none');
        //$(this).closest('tr').find('.for-custom-select-icon').addClass('custom-district');
        $(this).css('display', 'none');
        $(this).next('.save-target').css('display', 'block');

                });

    $('.save-target').click(function () {

                    var currentid = $(this);
                    var settarget = $(this).closest('tr').find('.txtsettarget').val()
        var offertype = $(this).closest('tr').find('.ddloffertype').val()
        var txt60achive = $(this).closest('tr').find('.txt60achive').val()
        var txt70achive = $(this).closest('tr').find('.txt70achive').val()
        var txt80achive = $(this).closest('tr').find('.txt80achive').val()
        var txt90achive = $(this).closest('tr').find('.txt90achive').val()
        var txt100achive = $(this).closest('tr').find('.txt100achive').val()
        var ddl60achive = $(this).closest('tr').find('.ddl60achive').val()
        var ddl70achive = $(this).closest('tr').find('.ddl70achive').val()
        var ddl80achive = $(this).closest('tr').find('.ddl80achive').val()
        var ddl90achive = $(this).closest('tr').find('.ddl90achive').val()
        var ddl100achive = $(this).closest('tr').find('.ddl100achive').val()

        $.ajax({
                    url: $(this).attr('data-href'),
            data: { settarget: settarget, offertype: offertype, txt60achive: txt60achive, txt70achive: txt70achive, txt80achive: txt80achive, txt90achive: txt90achive, txt100achive: txt100achive, ddl60achive: ddl60achive, ddl70achive: ddl70achive, ddl80achive: ddl80achive, ddl90achive: ddl90achive, ddl100achive: ddl100achive },
            success: function (data) {


                            if (data == 'Success') {
                                currentid.closest('tr').find('select').prop("disabled", true);
                                currentid.closest('tr').find('input[type=text]').prop("readonly", "readonly");
                                currentid.closest('tr').find('.for-custom-select-icon').removeClass('custom-district');
                                currentid.css('display', 'none');
                                currentid.prev('.edit-target').css('display', 'block');
                            }


                        }
                    })
    });


       function MasterStatus(targetID) {
        $.ajax({
                    url: "@Url.Action("TargetAchiveStatus")",
            data: { targetId: targetID, userRole: "master" },
            dataType: "Json",
            cache: false,
            success: function data(data) {
                            if (data === false) {
                                $('#' + targetID).addClass('custom-off');
                                $('#' + targetID).removeClass('costom-on');
                                $('#' + targetID).text('OFF');
                            }
                            else {
                                $('#' + targetID).removeClass('custom-off');
                                $('#' + targetID).addClass('costom-on');
                                $('#' + targetID).text('ON');
                            }
                mdGetCateMonthWise('CurrentMonth')
                        }
                    })
    }
    </script>