@model Vastwebmulti.Areas.WHITELABEL.Models.Token_PaidService_VM

<table class="table special-iii table-bordered  table-hover paid-service-table" id="dvCategoryResults">
    <thead>
        <tr>
            <th>Service's</th>
            <th>Type</th>
            <th>Mode&nbsp;</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
  


    
    <tbody>
        @foreach (var item in Model.PaidServicesChargeList)
        {
            <tr>

                <td>
                    @if (item.ServiceName == "DMT")
                    {
                        <p>Money&nbsp;Transfer</p>
                    }
                    else if (item.ServiceName == "PANCARD")
                    {
                        <p>Pan&nbsp;Card</p>
                    }
                    else if (item.ServiceName == "MPOSH")
                    {
                        <p>mPosh</p>
                    }
                    else if (item.ServiceName == "INDONEPAL")
                    {
                        <p>Indo&nbsp;Nepal</p>
                    }
                    else if (item.ServiceName == "FLIGHT")
                    {
                        <p>Flight</p>
                    }
                    else if (item.ServiceName == "SchoolFee")
                    {
                        <p>School&nbsp;Fee</p>
                    }
                    else if (item.ServiceName == "BUS")
                    {
                        <p>Bus&nbsp;Booking</p>
                    }

                    else if (item.ServiceName == "HOTEL")
                    {
                        <p>Hotel</p>
                    }
                    else if (item.ServiceName == "ECOMM")
                    {
                        <p>eCommerce</p>
                    }
                    else if (item.ServiceName == "GIFTCARD")
                    {
                        <p>Gift&nbsp;Card</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(modelItem => item.ServiceName)</p>
                    }
                </td>
                @if (item.Idno == Model.PaidServicesChargeByID.Idno)
                {
                    //using (Ajax.BeginForm("UpdatePaidService", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "paidservicetbl" }))
                    //{
                    @Html.Hidden("Idno", Model.PaidServicesChargeByID.Idno)

                    var selectm = Model.PaidServicesChargeByID.PaymentType == "Monthly" ? "selected" : string.Empty;
                    var selecty = Model.PaidServicesChargeByID.PaymentType == "Yearly" ? "selected" : string.Empty;
                    var selectl = Model.PaidServicesChargeByID.PaymentType == "LifeTime" ? "selected" : string.Empty;
                    var isfree = Model.PaidServicesChargeByID.IsFree == true ? "selected" : string.Empty;
                    var ispaid = Model.PaidServicesChargeByID.IsFree == false ? "selected" : string.Empty;
                    <td>

                        <select id="ddlServiceName" name="ddlServiceName">
                            <option @isfree value="true">Free</option>
                            <option @ispaid value="false">Paid</option>

                        </select>
                        @*@Html.DropDownList("ddlServiceName", ddl, new { @class = "form-control" })*@
                    </td>
                    <td>


                        <select id="ddlChargeType" name="ddlChargeType">
                            <option value="Monthly" @selectm>Monthly</option>

                            <option value="Yearly" @selecty>Yearly</option>

                            <option value="LifeTime" @selectl>LifeTime</option>

                        </select>
                        @*@Html.DropDownList("ddlChargeType", ddlFree, new { @class = "form-control" })*@
                    </td>

                    <td>@Html.TextBox("Price", Model.PaidServicesChargeByID.Price, new { @class = "form-control" })</td>
                    <td>
                        <button type="button" id="btnSavedata" onclick="btnSavedata(@item.Idno)" value="Save" class="btn waves-effect btnssl1 switch-edit-button" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save</button> 
                        @*<button type="submit" id="btnSave" class="btn waves-effect btnssl2233 switch-edit-button" value="Save" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                            <p>Save</p>
                        </button>*@

                    </td>
                }

                //}
                else
                {
                    var xx = item.IsFree == true ? "Free" : "Paid";
                    <td>@xx</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentType)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td class="last-td">
                        <button type="button" onclick="Editmode('@item.Idno')" id="btnEdit" class="btn waves-effect shownextrow switch-edit-button" value="Edit">
                            <p>Edit</p>
                        </button>
                    </td>
                }

            </tr>
        }
        </tbody>
    
</table>
<script>
    function btnSavedata(idno) {
         $.ajax({
             url: '@Url.Action("UpdatePaidService","Home")',
             type:'POST',
             data: { idno: idno,ddlChargeType: $('#ddlChargeType').val(),ddlServiceName: $('#ddlServiceName').val(),Price: $('#Price').val() },

             success: function (data) {

                 setTimeout(function(){ $('#paidservicetbl').html(data); }, 500);
                  
            }
        });


    }

     $('.btnssl1').on('click', function () {
                    var $this = $(this);
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 500);
                });
</script>
