@model Vastwebmulti.Areas.WHITELABEL.Models.vmWhitelabel_OperatorIndex
<table class="table table-bordered" id="example" style="width:100%;">
    <thead>
        <tr>
            <th>Operator&nbsp;Name</th>
            <th>Opt&nbsp;Type</th>
            <th>O/C</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in Model.OptCodeList)
    {
        <tr>

            <td>
                @item.Operator_Name
            </td>

            <td>
                @item.Operator_type
            </td>

            <td>
                @item.opt_code
            </td>
            <td>
                <div class="onoffswitch">
                    @if (item.status == true)
                    {
                    <span class="costom-on custom-on-secondbutton" id="data-@item.Operator_Id" onclick=OperatorCodestatusupdate('@item.Operator_Id','Y','PrePaid')>on</span>
                    }
                    else if (item.status == false)
                    {
                <span class="custom-off custom-off-secondbutton" id="data-@item.Operator_Id" onclick=OperatorCodestatusupdate('@item.Operator_Id','N','PrePaid')>off</span>
                    }
                </div>
            </td>
        </tr>
    }
    <tbody>
    </tbody>
</table>

