@model List<Vastwebmulti.Models.whitelabel_Recharge_Report_Paging_Result>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        var color = "";
        var fontweight = "";
        var emailid = "";
        var Retailername = "";
        var framname = "";
        var rolename = "";
        var icon = "";
        var rchtype = "";
        var rchtypeicon = "";



        emailid = item.whiterememail;
        Retailername = item.whiteremname;
        framname = item.whiteremfrmname;
        rolename = "Retailer";

        if (item.rstatus.Contains("SUCCESS"))
        {
            color = "green";
            fontweight = "700";

        }
        if (item.rstatus.Contains("FAILED"))
        {
            color = "red";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Success To Failed"))
        {
            color = "red";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Failed To Success"))
        {
            color = "#53ad00";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Refund"))
        {
            color = "#673AB7";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Request Send"))
        {
            color = "#FF9800";
            fontweight = "700";
        }
        if (item.operator_type.ToUpper() == "PREPAID" || item.operator_type.ToUpper() == "POSTPAID")
        {
            icon = "../../images/WLReportIcon/smartphone.svg";
        }
        if (item.operator_type.ToUpper() == "DTH")
        {
            icon = "../../images/WLReportIcon/radar.svg";
        }
        if (item.operator_type.ToUpper() == "LANDLINE")
        {
            icon = "../../images/WLReportIcon/landline.svg";
        }
        if (item.operator_type.ToUpper() == "ELECTRICITY")
        {
            icon = "../../images/WLReportIcon/innovation.svg";
        }
        if (item.operator_type.ToUpper() == "GAS")
        {
            icon = "../../images/WLReportIcon/gas.svg";
        }
        if (item.operator_type.ToUpper() == "BROADBAND")
        {
            icon = "../../images/WLReportIcon/wifi.svg";
        }
        if (item.operator_type.ToUpper() == "LOAN")
        {
            icon = "../../images/WLReportIcon/tax.svg";
        }
        if (item.operator_type.ToUpper() == "DIGITALVOUCHER")
        {
            icon = "../../images/WLReportIcon/gift.svg";
        }
        if (item.operator_type.ToUpper() == "WATER")
        {
            icon = "../../images/WLReportIcon/water.svg";
        }
        if (item.operator_type.ToUpper() == "INSURANCE")
        {
            icon = "../../images/WLReportIcon/shield.svg";
        }

        if (item.rch_type == "ONLINE")
        {
            rchtype = "WEB";
            rchtypeicon = "../../images/www.svg";
        }
        if (item.rch_type == "Apps")
        {
            rchtype = "APP";
            rchtypeicon = "../../images/android-logo.svg";
        }

<tr style="text-align : center;">
        @*<td style="font-size:11px;"><span style="color:@color;font-weight:@fontweight;"><span class="@rchtypeicon" style="padding-right:4px;"></span>@item.rstatus</span></td>*@
        <td>
            <div style="border-radius: 5px 5px 5px 5px; background-color:@color">
                @if (item.rstatus.ToUpper().Contains("REQ"))
                {
                    <img style="height: 14px;width: 17px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%;" src="../../ashok-images/clock.svg">
                    <i><img style="height: 14px;width: 17px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@rchtypeicon" /></i>

                }
                else
                {
                    if (item.rstatus.ToUpper() == "SUCCESS")
                    {
                        <img src="../../ashok-images/correct.svg" style="height:14px;width:14px;margin-right:5px; border-radius:50%;" />
                        <img style="height: 14px;width: 14px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@icon" />
                    }
                    else if (item.rstatus.ToUpper() == "FAILED")
                    {
                        <img src="../../ashok-images/closes.svg" style="height:14px;width:14px;margin-right:5px; border-radius:50%;" />
                        <img style="height: 14px;width: 14px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@icon" />
                    }
                    else
                    {
                        <img src="../../ashok-images/closes.svg" style="height:14px;width:14px;margin-right:5px; border-radius:50%;" />
                        <img style="height: 14px;width: 14px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@icon" />
                    }
                    @*@item.Rstaus*@
                }
            </div>
        </td>

    <td>@item.mobile</td>
    <td>&nbsp;@framname</td>
    <td><span>&nbsp;₹&nbsp;@item.amount</span></td>
    <td>@item.Operator_name</td>
    <td><span>&nbsp;₹&nbsp;@item.user_remain_pre</span></td>
    <td><span>&nbsp;₹&nbsp;@item.income</span></td>
    <td><span>&nbsp;₹&nbsp;@item.remain</span></td>
    <td>@item.opt_id</td>
    <td>@item.Rch_time</td>
    <td>
        <img src="../../Images/double-down.png" style="width:16px;" />
        <div style="display:none">
            <table cellpadding="0" cellspacing="0" class="ChildGrid" style="text-align:center;">
                <thead>
                    <tr style="background : aliceblue">
                        <th style="text-align:center">Req From</th>
                        <th style="text-align:center">Registered Email</th>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Opt Type</th>
                        <th style="text-align:center">IP Address</th>
                        <th style="text-align:center">MAC Address</th>
                        <th style="text-align:center">Response Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@item.rch_type</td>
                        <td>@item.whiterememail</td>
                        <td>@item.whiteremname</td>
                        <td>@item.operator_type</td>
                        <td>@item.ipaddress</td>
                        <td>@item.macaddress</td>
                        <td>@item.resp_time</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>

    }
}