@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_SecuritySlab
@using (Ajax.BeginForm("_Security_comm", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divEditFormComm", InsertionMode = InsertionMode.Replace }))
{
    <input id="btnsubmit" type="submit" value="Save Now" class="btn  waves-effect" style="display:none;" />

    <table id="updatecolm" class="table table-bordered slab-table" style="margin-top: 15px;">
        <thead class="navbar" style="position:initial;">
            <tr>
                <th>Operator&nbsp;Name</th>
                <th>Master&nbsp;(M/D)&nbsp;%</th>
                <th>Distributor&nbsp;%</th>
                <th>Retailer&nbsp;%</th>
            </tr>
        </thead>
        <tbody id="tbodyshow">
            @foreach (var item in Model.common)
            {
                <tr>
                    <td>@item.OperatorName</td>
                    <td>@item.mastercomm</td>
                    <td>@item.dlmcomm</td>
                    <td>@item.dlm_rem_comm</td>
                </tr>
            }
        </tbody>
        <tbody id="tbodyedit" style="display:none;">
            @for (int i = 0; i < Model.common.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(a => a.common[i].idno)
                    <td>
                        @Html.DisplayFor(a => a.common[i].OperatorName)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].mastercomm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].mastercomm)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].dlmcomm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].dlmcomm)
                    </td>
                    <td>
                        @Html.EditorFor(a => a.common[i].dlm_rem_comm, new { htmlAttributes = new { @style = "width:100%" } })
                        @Html.ValidationMessageFor(a => a.common[i].dlm_rem_comm)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<script>
    function OnSuccess() {
        $('#btnsubmit').hide();
        $('#btnEdit').show();
    }
</script>
