@model Vastwebmulti.Areas.WHITELABEL.Models.Token_PaidService_VM

    
        <table class="table">
            <tbody>
                @if (Model.RetailerCreationCharge != null)
                {
                    <tr class="top-tr">
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><p><i class="fa fa-user-plus" aria-hidden="true" style="margin-right:5px;"></i>Sign Up Fee!! Create By Admin</p></th>
                                    </tr>
                                    <tr class="by-admin-tr">
                                        <td><i class="fa fa-inr" aria-hidden="true" style="margin-right:3px;"></i>@Html.DisplayFor(modelItem => modelItem.RetailerCreationCharge.SingleOrDefault().CreatedByAdminCharge)</td>
                                        <td align="center">
                                            @if (Model.RetailerCreationCharge.SingleOrDefault().CreatedByAdminIsFree == true)
                                            {
                                                <a onclick="SETsignUpChargeActive_CreateByAdmin();" class="ba btnssl2233" style="text-decoration:none;color:green;font-weight:bold;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Activated
                                                </a>

                                            }
                                            else
                                            {
                                                <a onclick="SETsignUpChargeDeActive_CreateByAdmin();" class="ba btnssl2233" style="text-decoration:none;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Deactivated
                                                </a>

                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><p><i class="fa fa-sign-in" aria-hidden="true" style="margin-right:5px;"></i>Sign Up Fee!! Self Sign Up</p></th>
                                    </tr>
                                    <tr class="by-admin-tr">
                                        <td><i class="fa fa-inr" aria-hidden="true" style="margin-right:3px;"></i>@Html.DisplayFor(modelItem => modelItem.RetailerCreationCharge.SingleOrDefault().CreatedBySignUpCharge)</td>
                                        <td align="center">
                                            @if (Model.RetailerCreationCharge.SingleOrDefault().CreatedBySignUpIsFree == true)
                                            {
                                                <a onclick="SETsignUpChargeActive_SelfSignUp();" class="ba btnssl2233" style="text-decoration:none;color:green;font-weight:bold;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Activated
                                                </a>

                                            }
                                            else
                                            {
                                                <a onclick="SETsignUpChargeDeActive_SelfSignUp();" class="ba btnssl2233" style="text-decoration:none;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Deactivated
                                                </a>
                                            }
                                        </td>
                                    </tr>

                                    <tr>
                                        <td border="0">
                                            <button type="button" id="btnEdit" class="btn waves-effect shownextrow122 btnssl2233 ees" value="Edit" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <span>Edit Sign Up Fee</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


                    <tr style="display:none;" class="act">
                        <td>
                            <table class="save-wtab">
                                <tbody>

                                    <tr class="one">
                                        <th>
                                            <p>
                                                <i class="fa fa-user-plus" aria-hidden="true" style="margin-right:5px;"></i>Sign Up Fee!! Create By Admin
                                            </p>
                                        </th>
                                    </tr>
                                    @Html.HiddenFor(m => m.RetailerCreationCharge.SingleOrDefault().Idno, Model.RetailerCreationCharge.SingleOrDefault().Idno)
                                    <tr class="by-admin-tr">
                                        <td>@Html.EditorFor(m => m.RetailerCreationCharge.SingleOrDefault().CreatedByAdminCharge, Model.RetailerCreationCharge.SingleOrDefault().CreatedByAdminCharge)</td>
                                        <td>
                                            @if (Model.RetailerCreationCharge.SingleOrDefault().CreatedByAdminIsFree == true)
                                            {
                                                <a onclick="SETsignUpChargeActive_CreateByAdmin();" class="ba btnssl2233" style="color:green;text-decoration:none;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Activated
                                                </a>
                                            }
                                            else
                                            {
                                                <a onclick="SETsignUpChargeDeActive_CreateByAdmin();" class="btnssl2233 ba" style="text-decoration:none;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Deactivated
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="two">
                                        <th>
                                            <p><i class="fa fa-sign-in" aria-hidden="true" style="margin-right:5px;"></i>Sign Up Fee!! Self Sign Up</p>
                                        </th>
                                    </tr>
                                    <tr class="by-admin-tr">
                                        <td>@Html.EditorFor(m => m.RetailerCreationCharge.SingleOrDefault().CreatedBySignUpCharge, Model.RetailerCreationCharge.SingleOrDefault().CreatedBySignUpCharge)</td>
                                        <td>
                                            @if (Model.RetailerCreationCharge.SingleOrDefault().CreatedBySignUpIsFree == true)
                                            {
                                                <a onclick="SETsignUpChargeActive_SelfSignUp();" class="btnssl2233 ba" style="text-decoration:none;color:green;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Activated
                                                </a>
                                            }
                                            else
                                            {
                                                <a onclick="SETsignUpChargeActive_SelfSignUp();" class="btnssl2233 ba" style="text-decoration:none;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    Deactivated
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="submit" id="btnSave" onclick="EditSiginUpFees();" class="btn waves-effect btnssl2233 ees" value="Save" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <span>Save Change</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        

        <script>
    //SETsignUpChargeActive By Admin
    function SETsignUpChargeActive_CreateByAdmin() {
        $.ajax({
            url: '@Url.Action("_SetJoingChargeStatus","Home")',
            type: 'GET',
            data: { CreationType: 'Admin',val:false },
            cache: false,
            success: function (response) {
                $("#_SetSignUpCharge").html(response);
          }
        });
    }

    function SETsignUpChargeDeActive_CreateByAdmin() {
        $.ajax({
            url: '@Url.Action("_SetJoingChargeStatus","Home")',
            type: 'GET',
            data: { CreationType: 'Admin',val:true },
            cache: false,
            success: function (response) {
                $("#_SetSignUpCharge").html(response);
          }
        });
    }

    //SETsignUpChargeActive By Self Sign Up
    function SETsignUpChargeActive_SelfSignUp() {
        $.ajax({
            url: '@Url.Action("_SetJoingChargeStatus","Home")',
            type: 'GET',
            data: { CreationType: 'self',val:false },
            cache: false,
            success: function (response) {
                $("#_SetSignUpCharge").html(response);
          }
        });
    }

    function SETsignUpChargeDeActive_SelfSignUp() {
        $.ajax({
            url: '@Url.Action("_SetJoingChargeStatus","Home")',
            type: 'GET',
            data: { CreationType: 'self',val:true },
            cache: false,
            success: function (response) {
                $("#_SetSignUpCharge").html(response);
          }
        });
    }

    // Edit SiginUp Fees
    function EditSiginUpFees() {

        $.ajax({
            url: '@Url.Action("EditSiginUpFees","Home")',
            type: 'POST',
            data: { CreatedByAdminCharge: $('#CreatedByAdminCharge').val(), CreatedBySignUpCharge: $('#CreatedBySignUpCharge').val() },
            cache: false,
            success: function (response) {
                $("#_SetSignUpCharge").html(response);
          }
        });
            }


       
        </script>

<script>
           $('.shownextrow122').click(function () {
            $('tr.act').css('display','block');
            $(this).closest("tr.top-tr").hide();
        });
</script>



