<div id="custnav" class="col-md-2 slab-first-tab">
    <h2>Category's</h2>
    <ul class="nav nav-tabs">
        <li><a class="active" href="@Url.Action("Prepaid_Slab_setting","Home")">Prepaid/DTH</a></li>
        <li><a href="@Url.Action("PostpaidUtility_Slab_setting","Home")">Utilities</a></li>
        <li><a href="@Url.Action("Money_Transfer_Slab_DMT2","Home")" style="margin-bottom:0px;">Financial</a></li>
        @*<li><a href="@Url.Action("Flight_Slab","Home")" style="margin-bottom:0px;">Travel & Hotel</a></li>
        <li><a href="@Url.Action("Giftcard_Slab_setting","Home")">Gift Card</a></li>
        <li><a href="@Url.Action("Security_Slab_setting","Home")">Security</a></li>*@
        <li><a href="#">eCommerce</a></li>
        <li><a href="#">Service&nbsp;&&nbsp;Repair</a></li>
        <li><a href="#">Others</a></li>
    </ul>
</div>
<script>
    $(function () {
        var current = location.pathname;
            current = current.replace("M_Poss", "Money_Transfer_Slab_DMT2");
            current = current.replace("AepsSlab", "Money_Transfer_Slab_DMT2");
            current = current.replace("Pancard_Slab_Setting", "Money_Transfer_Slab_DMT2");
            current = current.replace("BUS_Slab", "Flight_Slab");
            current = current.replace("Hotel_Slab", "Flight_Slab");
            $('#custnav ul li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.parent().addClass('active');
            }
        })
    });
</script>
