



<style>
    .slab-setting-menu {
        
        
        
        
        float: left;
        padding: 0px;
    }

        .slab-setting-menu li {
            list-style: none;
            float: left;
            border: 1px solid #bbb;
margin-right: 3px;

        }

            .slab-setting-menu li a {
                color: #555 !important;
                padding: 6px 6px;
                display:block;
            }
                .slab-setting-menu li a.activee {
                    color: #fff !important;
                }
           
</style>












<ul class="slab-setting-menu" style="background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);">
    <li >
        <a href="@Url.Action("Prepaid_Slab_setting","Home")">Prepaid / DTH</a>
    </li>
    <li>
        <a href="@Url.Action("PostpaidUtility_Slab_setting","Home")">Bill&nbsp;&&nbsp;Cards</a>
    </li>
    <li>
        <a href="@Url.Action("Money_Transfer_Slab","Home")">DMT</a>
    </li>
    <li>
        <a href="@Url.Action("AepsSlab","Home")">AEPS</a>
    </li>
    <li>
        <a href="@Url.Action("M_Poss","Home")">M-Pos</a>
    </li>
    @*<li>
            <a href="~/WHITELABEL/Home/Flight_Commission">Flight Commission</a>
        </li>*@
    <li>
        <a href="@Url.Action("Pancard_Slab_Setting","Home")">Pancard</a>
    </li>
    <li>
        <a href="@Url.Action("Broadband_Slab_setting","Home")">Broadband </a>
    </li>
    <li>
        <a href="@Url.Action("Water_Slab_setting","Home")">Water </a>
    </li>
    <li>
        <a href="@Url.Action("Insurance_Slab_setting","Home")">Insurance </a>
    </li>


</ul>
<script type="text/javascript">


 
        $(document).ready(function () {
        var current = location.pathname;
        $('.slab-setting-menu li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
            $this.addClass('activee');
        
    }
})
});

</script>