<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
            margin-right: 20px;
        }

            #ul li a {
                display: block;
                text-decoration: none;
                position: initial;
            }

                #ul li a::before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    float: left;
                    border: 3px solid #bbb;
                    border-radius: 50%;
                    margin: 2px 10px 0px 0px;
                }

                #ul li a.activee::before {
                    background: @PageData["Globalfirst"];
                    border-color: @PageData["Globalfirst"];
                }

                #ul li a.activee {
                    border-color: @PageData["Globalfirst"];
                }

                #ul li a:hover {
                    color: inherit;
                }



    .activee {
        background-color: transparent;
        color: initial;
    }

    @@media only screen and (max-width:520px) {
        #ul li a.activee {
            margin-bottom: 0px !important;
        }

        #ul li {
            margin-right: 1%;
            margin-bottom: 5px;
            margin-left: 1%;
        }
    }
</style>
<div>
    <div id="custnav">
        <ul id="ul" class="mopacomi">
            <li><a href="@Url.Action("Money_Transfer_Slab_DMT2","Home")">Money&nbsp;Transfer</a></li>
            <li><a href="@Url.Action("Pancard_Slab_Setting","Home")">Pan&nbsp;Card</a></li>
            <li><a href="@Url.Action("AepsSlab","Home")">AEPS&nbsp;Comm</a></li>
            <li><a href="@Url.Action("Micro_Atm","Home")">M-Poss&nbsp;(Micro ATM)</a></li>
            <li><a href="@Url.Action("MIcroatm_Cash_Slab","Home")">VM30&nbsp;(Micro ATM)</a></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        var current = location.pathname;
        $('#custnav li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('activee');
                $this.addClass('navbar');
            }
        })
    });
</script>