@model Vastwebmulti.Areas.WHITELABEL.Models.vmSwitchWhitelabelUserModel
@if (Model.ShowSwitch_DealerTOMD != null)
{
     int i = 1;
    <div class="table-responsive " style="width:100%;">
       
        <table id="tbldata" data-hrefscroll="@Url.Action("InfiniteScrollSwitchuser","Home",new { Utype="dealer"})" class="table table-bordered table-striped table-hover">
            <thead>
                <tr style="background:#f9f9f9;">
                   
                    <th>Distributor&nbsp;Firm</th>
                    <th>Name</th>
                    <th>Old M/D</th>
                    <th>Current M/D</th>
                    <th>Switch Date</th>

                </tr>
            </thead>
            @foreach (var item in Model.ShowSwitch_DealerTOMD)
            {
                <tbody class="body">
                    <tr data-toggle="modal" data-target="#m-d-fund-transfer" class="tr">
                        
                        <td>@item.FarmName</td>
                        <td>@item.DealerName</td>
                        <td>@item.old</td>
                        <td>@item.curr</td>
                        <td>@item.SwitchDate</td>

                    </tr>
                </tbody>
             
            }
        </table>
    </div>

}

@if (Model.ShowRetailerDealerSwitch_Result != null)
{
  int i =1;
    <div class="table-responsive " style="width:100%;">
        <table id="tbldata" data-hrefscroll="@Url.Action("InfiniteScrollSwitchuser","Home",new { Utype="Retailer"})" class="table table-bordered table-striped table-hover">
            <thead>
                <tr style="background:#f9f9f9;">
                    @*<th>S.R.</th>*@
                    <th>Retailer&nbsp;Firm</th>
                    <th>Name</th>
                    <th>Old Distributor</th>
                    <th>Current Distributor </th>
                    <th>Switch Date</th>

                </tr>
            </thead>


            @foreach (var item in Model.ShowRetailerDealerSwitch_Result)
            {
                <tbody class="body">
                    <tr data-toggle="modal" data-target="#m-d-fund-transfer" class="tr">
                        @*<td>@i+1</td>*@
                        <td>@item.Frm_Name</td>
                        <td>@item.RetailerName</td>
                        <td>@item.old</td>
                        <td>@item.curr</td>
                        <td>@item.SwitchDate</td>

                    </tr>
                </tbody>
            }


          
        </table>
    </div>
}