
@model Vastwebmulti.Areas.WHITELABEL.Models.InsuranceSlab
@using (Html.BeginForm("_UpdateInsuranceSlab", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
{
    @Html.HiddenFor(m => m.role)
    <div class="row clearfix">
        <div class="slab-retailer-white">
            <div class="col-md-6">
                <div class="form-group" style="margin-top:0px; margin-bottom:0px;">
                    <label>Select Distributor</label>
                    <div class="edit-white-b" style="border:1px solid #9E9E9E;">
                        @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                    </div>
                </div>
            </div>
            @if (Model.RetailerId != null)
            {
                <div id="Retailerdropdow" style="display:block;">

                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:0px; margin-bottom:0px;">
                            <label>Select Retailer</label>
                            <div class="edit-white-b" style="border:1px solid #9E9E9E;">

                                @Html.DropDownList("Retailerid", Model.RetailerId, "All Retailer", new { @class = "form-control", @onchange = "ddlRetailerIdChange()" })

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="navbar" style="position:initial;color:white;">
            <tr>
                <th>User&nbsp;ID</th>
                <th>Operator&nbsp;Name</th>
                <th>Commission</th>
                <th>Gst</th>
                @if (ViewBag.user == "Retailer")
                {
                    <th>SurCharge</th>
                }


            </tr>
        </thead>
        <tbody id="tbodyshow">
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.Dealeruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].comm)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].gst)

                        </td>

                    </tr>

                }
            }
            <!--End Dealer-->
            <!--Retailer User-->
            @if (Model.Retaileruser != null)
            {
                for (int i = 0; i < Model.Retaileruser.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].comm)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].gst)

                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].surcharge)

                        </td>
                    </tr>

                }
            }
            <!--End Reatiler-->
        

        </tbody>
        <tbody id="tbodyedit" style="display:none;">
          
            <!--Dealer User-->
            @if (Model.Dealeruser != null)
                {
                    for (int i = 0; i < Model.Dealeruser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Dealeruser[i].RolesName)
                        @Html.HiddenFor(a => a.Dealeruser[i].idno)
                        @Html.HiddenFor(a => a.Dealeruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Dealeruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Dealeruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Dealeruser[i].comm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Dealeruser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Dealeruser[i].gst)
                        </td>

                    </tr>
                }
            }

            <!--Retailer User-->
            @if (Model.Retaileruser != null)
                {
                    for (int i = 0; i < Model.Retaileruser.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(a => a.Retaileruser[i].RolesName)
                        @Html.HiddenFor(a => a.Retaileruser[i].idno)
                        @Html.HiddenFor(a => a.Retaileruser[i].optcode)
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].Email)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.Retaileruser[i].OperatorName)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Retaileruser[i].comm, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Retaileruser[i].comm)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Retaileruser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Retaileruser[i].gst)
                        </td>
                        <td>
                            @Html.EditorFor(a => a.Retaileruser[i].surcharge, new { htmlAttributes = new { @style = "width:100%" } })
                            @Html.ValidationMessageFor(a => a.Retaileruser[i].surcharge)
                        </td>
                    </tr>
                }
            }
            <!--End Dealer-->
           
          
        </tbody>
        <tbody id="tbodyeditAll" style="display:none;">
             <!--Dealer User Update-->
            @if (Model.Dealeruser != null)
            {
                for (int i = 0; i < Model.UpdateDealer.Count; i++)
                {
                    var endID = Model.UpdateDealer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateDealer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateDealer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateDealer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateDealer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateDealer[i].comm)
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateDealer[i].gst, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateDealer[i].gst)
                        </td>
                    </tr>
                }
            }
            <!--End Dealer User-->
            <!--Reatiler User Update-->
            @if (Model.UpdateRetailer != null)
            {
                for (int i = 0; i < Model.UpdateRetailer.Count; i++)
                {
                    var endID = Model.UpdateRetailer[i].idno;
                    <tr>
                        @Html.HiddenFor(a => a.UpdateRetailer[i].idno)

                        <td>
                            <p>All</p>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(a => a.UpdateRetailer[i].optcode)
                        </td>
                        <td>
                            @Html.DisplayFor(a => a.UpdateRetailer[i].OperatorName)

                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].comm, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].comm)
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].gst, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].gst)
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].surcharge, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].surcharge)
                        </td>
                    </tr>
                }
            }
            <!--End Dealer User-->
        
        

        </tbody>
    </table>

}

