@model Vastwebmulti.Areas.WHITELABEL.Models.DMTSlabModel
@using (Html.BeginForm("Update_DMTSlab", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
{
    @Html.HiddenFor(m => m.role)
    <div class="row clearfix">
        <div class="slab-retailer-white">
            <div class="col-md-6">
                <div class="form-group" style="margin-top:0px; margin-bottom:0px;">
                    <label>Select User</label>
                    <div class="edit-white-b" style="border:1px solid #9E9E9E;">
                        @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                    </div>
                </div>
            </div>
        </div>
        </div>
      <table class="table table-bordered">
            <thead class="navbar" style="position:initial;color:white;">
                <tr>
                    <th>User&nbsp;Type</th>
                    <th>Verify&nbsp;Charge&nbsp;(₹)</th>
                    <th>Share(%)&nbsp;01&nbsp;>&nbsp;1000</th>
                    <th>Share(%)&nbsp;1001&nbsp;>&nbsp;2000</th>
                    <th>Share(%)&nbsp;2001&nbsp;>&nbsp;3000</th>
                    <th>Share(%)&nbsp;3001&nbsp;>&nbsp;4000</th>
                    <th>Share(%)&nbsp;4001&nbsp;>&nbsp;5000</th>
                    @*<th style="padding-left:26px;padding-right:26px;">Gst</th>*@
                </tr>
            </thead>
            <tbody id="tbodyshow">
           
                <!--Dealer User-->
                @if (Model.WDealeruser != null)
                {
                    for (int i = 0; i < Model.WDealeruser.Count; i++)
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].Email)
                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].verify_comm)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].comm_1000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].comm_2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].comm_3000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].comm_4000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].comm_5000)

                            </td>
                            @*<td>
                                @Html.DisplayFor(a => a.WDealeruser[i].gst)

                            </td>*@
                        </tr>

                    }
                }
                <!--End Dealer-->

                <!--Retailer User-->
                @if (Model.WRetaileruser != null)
                {
                    for (int i = 0; i < Model.WRetaileruser.Count; i++)
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].Email)
                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].verify_comm)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].comm_1000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].comm_2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].comm_3000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].comm_4000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].comm_5000)

                            </td>
                            @*<td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].gst)

                            </td>*@
                        </tr>

                    }
                }
                <!--End Retailer-->
                               
            </tbody>
            <tbody id="tbodyedit" style="display:none;">
          
                <!--Dealer User-->

                @if (Model.WDealeruser != null)
                {
                    for (int i = 0; i < Model.WDealeruser.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.WDealeruser[i].RolesName)
                            @Html.HiddenFor(a => a.WDealeruser[i].idno)
                            @Html.HiddenFor(a => a.WDealeruser[i].whitelabelid)
                            <td>
                                @Html.DisplayFor(a => a.WDealeruser[i].Email)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].verify_comm)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].comm_1000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].comm_2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].comm_3000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].comm_4000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WDealeruser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].comm_5000)
                            </td>
                            @*<td>
                                @Html.EditorFor(a => a.WDealeruser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WDealeruser[i].gst)
                            </td>*@
                        </tr>
                    }
                }
               <!--End Dealer User-->

                <!--Retailer User-->

                @if (Model.WRetaileruser != null)
                {
                    for (int i = 0; i < Model.WRetaileruser.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.WRetaileruser[i].RolesName)
                            @Html.HiddenFor(a => a.WRetaileruser[i].idno)
                            @Html.HiddenFor(a => a.WRetaileruser[i].whitelabelid)
                            <td>
                                @Html.DisplayFor(a => a.WRetaileruser[i].Email)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].verify_comm)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].comm_1000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].comm_2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].comm_3000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].comm_4000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.WRetaileruser[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].comm_5000)
                            </td>
                            @*<td>
                                @Html.EditorFor(a => a.WRetaileruser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.WRetaileruser[i].gst)
                            </td>*@
                        </tr>
                    }
                }
                <!--End Retailer User-->

              

            </tbody>
          <tbody id="tbodyeditAll" style="display:none;">
             
              <!--Dealer User Update-->
              @if (Model.WDealeruser != null)
                {
                    for (int i = 0; i < Model.WUpdateDealer.Count; i++)
                    {
                      <tr>
                          @Html.HiddenFor(a => a.WUpdateDealer[i].idno)

                          <td>
                              <p>All</p>
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].verify_comm)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].comm_1000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateDealer[i].comm_1000)

                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].comm_2000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateDealer[i].comm_2000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].comm_3000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateDealer[i].comm_3000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].comm_4000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateDealer[i].comm_4000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateDealer[i].comm_5000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateDealer[i].comm_5000)
                          </td>
                          @*<td>
                            @Html.TextBoxFor(a => a.UpdateDealer[i].gst, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateDealer[i].gst)
                        </td>*@

                      </tr>
                  }
              }
              <!--End Dealer User-->
              <!--Retailer User Update-->
              @if (Model.WRetaileruser != null)
                {
                    for (int i = 0; i < Model.WUpdateRetailer.Count; i++)
                    {
                      <tr>
                          @Html.HiddenFor(a => a.WUpdateRetailer[i].idno)

                          <td>
                              <p>All</p>
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].verify_comm)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].comm_1000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateRetailer[i].comm_1000)

                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].comm_2000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateRetailer[i].comm_2000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].comm_3000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateRetailer[i].comm_3000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].comm_4000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateRetailer[i].comm_4000)
                          </td>
                          <td>
                              @Html.TextBoxFor(a => a.WUpdateRetailer[i].comm_5000, new { @style = "width:100%" })
                              @Html.ValidationMessageFor(a => a.WUpdateRetailer[i].comm_5000)
                          </td>
                          @*<td>
                            @Html.TextBoxFor(a => a.UpdateRetailer[i].gst, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(a => a.UpdateRetailer[i].gst)
                        </td>*@

                      </tr>
                  }
              }
              <!--End Retailer User-->
            
             
          </tbody>

            
        </table>

}


