@model Vastwebmulti.Areas.WHITELABEL.Models.MposSlabModel
    @using (Html.BeginForm("M_PossUserWise", "Home", FormMethod.Post, new { id = "EditFormUserWise" }))
    {
        @Html.HiddenFor(m=>m.role)
    <div class="row clearfix">
        <div class="slab-retailer-white">
            <div class="col-md-6">
                <div class="form-group" style="margin-top:0px; margin-bottom:0px;">
                    <label>Select User</label>
                    <div class="edit-white-b" style="border:1px solid #9E9E9E;">
                        @Html.DropDownList("ddlUserId", Model.UserId, "All Users", new { @class = "form-control", @onchange = "ddlUserIdChange()" })
                    </div>
                </div>
            </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead class="navbar" style="position:initial;color:white;">
                <tr>
                    <th>Email</th>
                    <th>Withdraw</th>
                    <th>S&nbsp;Debit&nbsp;2000</th>
                    <th>S&nbsp;Debit&nbsp;above&nbsp;2000</th>
                    <th>S&nbsp;Credit&nbsp;Normal</th>
                    <th>S&nbsp;Credit&nbsp;Grocery</th>
                    <th>S&nbsp;Credit&nbsp;EduIns</th>
                    <th>Gst</th>
                    <th>Credit_Type</th>
                </tr>
            </thead>
            <tbody id="tbodyshow">

                <!--Dealer-->
                @if (Model.DealerMposUser != null)
                {
                    for (int i = 0; i < Model.DealerMposUser.Count; i++)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].Email)
                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].CashWithdraw)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].salesDebitUpto2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].salesDebitAbove2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].saleCredit)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].saleCreditGrocery)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].saleCreditEduAndIns)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].gst)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].credite_type)
                            </td>
                        </tr>

                    }
                }

                <!--Retailer-->
                @if (Model.RetailerMposUser != null)
                {
                    for (int i = 0; i < Model.RetailerMposUser.Count; i++)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].Email)
                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].CashWithdraw)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].salesDebitUpto2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].salesDebitAbove2000)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].saleCredit)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].saleCreditGrocery)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].saleCreditEduAndIns)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].gst)

                            </td>
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].credite_type)
                            </td>
                        </tr>

                    }
                }


            </tbody>
            <tbody id="tbodyedit" style="display:none;">


                <!--Dealer-->
                @if (Model.DealerMposUser != null)
                {
                    for (int i = 0; i < Model.DealerMposUser.Count; i++)
                    {
                        var value = Model.DealerMposUser[i].credite_type;
                        <tr>
                            @Html.HiddenFor(a => a.DealerMposUser[i].UserRole)
                            @Html.HiddenFor(a => a.DealerMposUser[i].Idno)
                            <td>
                                @Html.DisplayFor(a => a.DealerMposUser[i].Email)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].CashWithdraw, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].CashWithdraw)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].salesDebitUpto2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].salesDebitUpto2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].salesDebitAbove2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].salesDebitAbove2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].saleCredit, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].saleCredit)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].saleCreditGrocery, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].saleCreditGrocery)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].saleCreditEduAndIns, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].saleCreditEduAndIns)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.DealerMposUser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.DealerMposUser[i].gst)
                            </td>
                            <td>
                                @Html.DropDownList("credite_type", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Normal",Value="Normal"},
                           new SelectListItem{Text="Grocery",Value="Grocery"},
                             new SelectListItem{Text="Education&Insurance",Value="Education&Insurance"}
                            }, value, new { @class = "form-control" })
                            </td>
                        </tr>
                    }
                }

                <!--Reatiler-->
                @if (Model.RetailerMposUser != null)
                {
                    for (int i = 0; i < Model.RetailerMposUser.Count; i++)
                    {
                        var value = Model.RetailerMposUser[i].credite_type;
                        <tr>
                            @Html.HiddenFor(a => a.RetailerMposUser[i].UserRole)
                            @Html.HiddenFor(a => a.RetailerMposUser[i].Idno)
                            <td>
                                @Html.DisplayFor(a => a.RetailerMposUser[i].Email)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].CashWithdraw, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].CashWithdraw)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].salesDebitUpto2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].salesDebitUpto2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].salesDebitAbove2000, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].salesDebitAbove2000)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].saleCredit, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].saleCredit)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].saleCreditGrocery, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].saleCreditGrocery)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].saleCreditEduAndIns, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].saleCreditEduAndIns)
                            </td>
                            <td>
                                @Html.EditorFor(a => a.RetailerMposUser[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                @Html.ValidationMessageFor(a => a.RetailerMposUser[i].gst)
                            </td>
                            <td>
                                @Html.DropDownList("credite_type", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Normal",Value="Normal"},
                           new SelectListItem{Text="Grocery",Value="Grocery"},
                             new SelectListItem{Text="Education&Insurance",Value="Education&Insurance"}
                            }, value, new { @class = "form-control" })
                            </td>
                        </tr>
                    }
                }



            </tbody>
            <tbody id="tbodyeditAll" style="display:none;">


                <!--Dealer-->
                @if (Model.DealerMposUser != null)
                {
                    for (int i = 0; i < Model.UpdateDealerMposUser.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.UpdateDealerMposUser[i].idno)
                            @Html.HiddenFor(a => a.UpdateDealerMposUser[i].UserRole)

                            <td>
                                <p>All</p>
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].CashWithdraw)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].Salesdebitupto2000, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].Salesdebitupto2000)

                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].Salesdebitabove2000, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].Salesdebitabove2000)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].SalescreditNormal, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].SalescreditNormal)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].Salescreditgrocery, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].Salescreditgrocery)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].SalescreditEduandInsu, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].SalescreditEduandInsu)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateDealerMposUser[i].gst, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateDealerMposUser[i].gst)
                            </td>
                            <td>
                                @Html.DropDownList("credite_typeAll", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Normal",Value="Normal"},
                           new SelectListItem{Text="Grocery",Value="Grocery"},
                             new SelectListItem{Text="Education&Insurance",Value="Education&Insurance"}
                            }, new { @class = "form-control" })
                            </td>


                        </tr>
                    }
                }

                <!--Reatiler-->
                @if (Model.RetailerMposUser != null)
                {
                    for (int i = 0; i < Model.UpdateRetailerMposUser.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(a => a.UpdateRetailerMposUser[i].idno)
                            @Html.HiddenFor(a => a.UpdateRetailerMposUser[i].UserRole)

                            <td>
                                <p>All</p>
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].CashWithdraw)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].Salesdebitupto2000, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].Salesdebitupto2000)

                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].Salesdebitabove2000, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].Salesdebitabove2000)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].SalescreditNormal, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].SalescreditNormal)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].Salescreditgrocery, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].Salescreditgrocery)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].SalescreditEduandInsu, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].SalescreditEduandInsu)
                            </td>
                            <td>
                                @Html.TextBoxFor(a => a.UpdateRetailerMposUser[i].gst, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(a => a.UpdateRetailerMposUser[i].gst)
                            </td>
                            <td>
                                @Html.DropDownList("credite_typeAll", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="Normal",Value="Normal"},
                           new SelectListItem{Text="Grocery",Value="Grocery"},
                             new SelectListItem{Text="Education&Insurance",Value="Education&Insurance"}
                            }, new { @class = "form-control" })
                            </td>


                        </tr>
                    }
                }

            </tbody>
        </table>


        }
