@model Vastwebmulti.Areas.WHITELABEL.Models.PostpaidUtilitySlab

<table class="table table-bordered slab-table" style="margin-top:15px;">
    <thead class="navbar" style="position:initial;">
        <tr>
            <th>User&nbsp;Type</th>
            <th> Rch&nbsp;Type</th>
            <th>Fixed Charge (Rs)</th>
            <th>Fixed Charge (%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.chargetype)
        {
            <tr>
                <td>@item.user_type</td>
                <td>@item.rch_type</td>
                <td>
                    <div class="onoffswitch">
                        @if (item.fixedrs == true)
                        {


                            <span class="costom-on" style=" cursor:pointer;" onclick="change('@item.user_type','@item.rch_type')">on</span>
                        }
                        else
                        {

                            <span class="custom-off" style=" cursor:pointer;" onclick="change('@item.user_type','@item.rch_type')">off</span>
                        }
                    </div>
                </td>
                <td>
                    <div class="onoffswitch">
                        @if (item.fixedrs == false)
                        {
                            <span class="costom-on" style=" cursor:pointer;" onclick="change('@item.user_type','@item.rch_type')">on</span>

                        }
                        else
                        {

                            <span class="custom-off" style=" cursor:pointer;" onclick="change('@item.user_type','@item.rch_type')">off</span>
                        }
                    </div>
                </td>
            </tr>
        }

    </tbody>

</table>
