@model IEnumerable<Vastwebmulti.Models.proc_Whitelabel_PAN_CARD_IPAY_Token_report_Paging_Result>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    var sts = "";
    var color = "";
    if (item.Particulars.Contains("Pending"))
    {
        color = "#ff9600";
        sts = "Pending";
    }
    if (item.Particulars.Contains("Success"))
    {
        color = "green";
        sts = "Success";
    }
    if (item.Particulars.Contains("Failed"))
    {
        color = "red";
        sts = item.Particulars;
    }
    if (item.Particulars.Contains("Refund"))
    {
        color = "#9C27B0";
        sts = "Refund";
    }
    <tr>
        <td><p style="color:@color;font-size:11px;font-weight:700;">@sts</p></td>
        <td><p style="font-size:11px;"><span>@item.Frm_Name</span></p></td>
        <td><p style="font-size:12px;">@item.MerchantTxnId</p></td>
        <td><p style="font-size:12px;">@item.PhysicalCount</p></td>
        <td><p style="font-size:12px;">@item.DigitalCount</p></td>
        <td><p style="font-size:12px;">@item.ProcessingFees</p></td>
        <td><p style="font-size:12px;">@item.CouponStatus</p></td>
        <td><p style="font-size:11px;">@item.Date</p></td>
        @*<td title="Token status" style="cursor:pointer;"><span id="tokenStatus" onclick="tokenStatus('@item.idno')"><i class="fa fa-eye"></i></span></td>
        @if (item.Particulars == "Pending")
        {
            <td title="Manually Failed" style="cursor:pointer;"><span onclick="manuallyfailed('@item.idno','Manually Failed')"><i class="fa fa-reply"></i></span></td>
        }
        else
        {
            <td></td>
        }*@
        <td><p style="font-size:12px;">@item.UTI_TXN_ID</p></td>
        <td><p style="font-size:11px;">@item.retailer_remain_pre</p></td>
        <td><p style="font-size:11px;">@item.RetailerIncome</p></td>
        <td><p style="font-size:11px;">@item.retailer_remain_post</p></td>
        <td>
            <img src="../../Images/double-down.png" style="width:16px;" />
            <div style="display:none">
                <table cellpadding="0" cellspacing="0" class="ChildGrid" style="text-align:center;">
                    <thead>
                        <tr style="background : aliceblue; text-align:center;">
                            <th>Retailer&nbsp;Remain&nbsp;Post</th>
                            <th>Dealer&nbsp;Remain&nbsp;Pre</th>
                            <th>Net&nbsp;Income</th>
                            <th>Dealer&nbsp;Remain&nbsp;Post</th>
                            <th>Whitelabel&nbsp;Remain&nbsp;Pre</th>
                            <th>Net&nbsp;Income</th>
                            <th>Whitelabel&nbsp;Remain&nbsp;Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p style="font-size:11px;">@item.retailer_dealer_pre</p></td>
                            <td><p style="font-size:11px;">@item.DealerIncome</p></td>
                            <td><p style="font-size:11px;">@item.retailer_dealer_post</p></td>
                            <td><p style="font-size:11px;">@item.whitelabel_remain_pre</p></td>
                            <td><p style="font-size:11px;">@item.whitelabelincome</p></td>
                            <td><p style="font-size:11px;">@item.whitelabel_remain_post</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
        @*<td><p style="font-size:11px;">@item.retailer_dealer_pre</p></td>
        <td><p style="font-size:11px;">@item.DealerIncome</p></td>
        <td><p style="font-size:11px;">@item.retailer_dealer_post</p></td>
        <td><p style="font-size:11px;">@item.whitelabel_remain_pre</p></td>
        <td><p style="font-size:11px;">@item.whitelabelincome</p></td>
        <td><p style="font-size:11px;">@item.whitelabel_remain_post</p></td>*@
    </tr>

}