
@{
    ViewBag.Title = "About_us_Content";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript"> CKEDITOR.replace('txtedit'); </script>
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">

                    <div class="card">
                        <div class="body scroll" style="max-height:572px;">
                            <div class="demo-button ">
                                <div class="row">
                                    <div class="col-md-12" ">
                                        @Html.Partial("ColorPartialView")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-10">



                <div class="row clearfix">
                    <div class="col-md-12" style=" margin-bottom:30px;">
                        <div class="">
                            <h2 style="color:#0000008c; font-size:16px;padding-top:9px; padding-left:22px;margin-bottom: 0px;background:#ddd;padding: 15px;border-bottom: 3px solid var(--main-bg-lcolor);">
                                All About Us Data Edit
                            </h2>

                            <button type="button" class="btn bg-grey waves-effect for-form-in" style="float:right;border:1px solid #bbb;color:#000;position: absolute;z-index: 4;right: 31px;top: 29px;  height:32px;">Add / Edit Contain</button>
                        </div>
                        <div class="form-pop-up" style="display:none;">
                            @using (Html.BeginForm("About_us_Content", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                            {
                                <div class="modal-body" style="background: #f5f5f5;">
                                    <div class="body">
                                        <form>
                                            <div class="row clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label for="email_address_2">About Us Heading</label>

                                                    <div class="form-group">
                                                        <div class="" style="border:1px solid #c7c2c2;">
                                                            <input type="text" id="txtheading" name="txtheading" class="form-control" required="" placeholder="About Us Heading" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                    <label for="email_address_2">Select Image</label>

                                                    <div class="form-group">
                                                        <div class="" style="border:1px solid #c7c2c2;">
                                                            <input type="file" name="file" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                    <label for="email_address_2">Enter Content</label>

                                                    <div class="form-group">
                                                        <div class="">
                                                            <textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg" style="float:right; margin-left: 12px; height:32px;margin-right: 15px;" onclick="return check()">
                                                    <span style="color:#fff;">Save Change</span>
                                                </button>
                                                <button type="button" class="btn bg-grey waves-effect fullbodydycolorbg" style="float:right;  height:32px;" data-dismiss="modal">
                                                    <span style="color:#fff;">Close</span>
                                                </button>
                                            </div>








                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">

                            <div class="body" style="background: #f5f5f5;">
                                <div class="row">
                                    <div style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead style="color:#555;position:inherit;">
                                                <tr>
                                                    <th>About&nbsp;Heading</th>
                                                    <th>About&nbsp;Content</th>
                                                    <th>Image</th>
                                                    @*<th>Edit</th>*@

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Aboutdata)
                                                {
                                                    var p = item.AboutContent;
                                                    var q = "";
                                                    if (p.Length > 500)
                                                    {
                                                        q = p.Substring(0, 500);
                                                    }
                                                    else
                                                    {
                                                        q = p;
                                                    }
                                                    <tr>
                                                        <td>@item.AboutHeading</td>
                                                        <td>@Html.Raw(q)</td>
                                                        <td> <img src="@Url.Content("~/"+item.AboutImage)" width="100" height="70" /></td>
                                                        @*<td>
                                                    <a class="btn btn-default waves-effect" href='@Url.Action("Edit_Aboutus", "Home", new {aboutusid = item.AboutId})' style="border:1px solid #c7c2c2;">
                                                        Edit
                                                    </a>

                                                </td>*@
                                                        <td>
                                                            <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delAbout('@item.AboutId')">
                                                                Delete
                                                            </button>


                                                            <a class="btn btn-default waves-effect" href="@Url.Content("~/"+item.AboutImage)" style="border:1px solid #c7c2c2;color:#000 !important;padding: 6px 17px;" target="_blank">
                                                                View
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row clearfix">
            <div class="col-md-12" style="margin-top:-24px; margin-bottom:30px;">
                <div class="card">
                    <div class="">

                        <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["first"],@ViewData["second"]);">
                            OUTSIDE ABOUT US BACKGROUND COLOR
                        </h2>
                    </div>

                    <div class="body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" style="border:1px solid #dddddd;">
                                    <div class="input-group">
                                        <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                            <label>&nbsp;HEX CODE&nbsp;</label> <input type="color" id="color1" value="#ff0000">
                                        </div>
                                        <input type="text" id="txtcolor" name="txtcolor" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                        <div class="input-group-addon" style="padding-top:0px;">
                                            <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="height:45px; margin:0px -12px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group" style="border:1px solid #dddddd;">
                                    <div class="input-group">
                                        <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                            <label>&nbsp;RGB CODE&nbsp;</label> <input type="color" id="color2" value="#ff0000">
                                        </div>
                                        <input type="text" id="txtcolor1" name="txtcolor1" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                        <div class="input-group-addon" style="padding-top:0px;">
                                            <button type="button" id="btn" onclick="fun()" class="btn waves-effect" style="height:45px; margin:0px -13px -6px -5px;border-radius:0px;border:1px solid #c7c2c2;background:#dedddd;">&nbsp;Set Color</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <br />
                                <button type="button" id="btn" name="btnsave" onclick="Savecolor()" class="btn " style="margin-top:-19px;height:45px;border:1px solid #c7c2c2;background:#dedddd;">Save Color</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
                </div>

            </div>
</section>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add About Us Content</h4>
            </div>
            @using (Html.BeginForm("About_us_Content", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">About Us Heading</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtheading" name="txtheading" class="form-control" required="" placeholder="About Us Heading" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Content</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <p style="color:red;">Image Size will Be :- 450 * 450 Pixel</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>



                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script>
   
    $('.for-form-in').click(function () {
        $('.form-pop-up').toggle('slow');
    });
    
        
</script>
<script>
    $(function () {
        var succ = '@TempData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("successfully")) {
                //swal("File Uploaded!", succ, "success");
            }
            else {
                //swal("Oops!", succ, "error");
            }
        }

        var first = '@ViewData["first"]';
        var second = '@ViewData["second"]';
        if (first != "" && second != "") {
            $("#color1").val(first);
            $("#color2").val(second);
            $("#txtcolor").val(first);
            $("#txtcolor1").val(second);
        }
    });
</script>
<script type="text/javascript">

    function delAbout(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete About Us Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delAbout", "Home")', data: { AboutId: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                //swal("Deleted!", "About Us Data Deleted Successfully.", "success");
                var url = '@Url.Action("About_us_Content", "Home")';
                window.location.href = url;
            }
            else {
                //swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("About_us_Content", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

<script>
      function fun() {
           var col = document.getElementById("color1").value;
           $("#txtcolor").val(col);
           var col = document.getElementById("color2").value;
           $("#txtcolor1").val(col);
       }
</script>
<script>
    function Savecolor() {
        var vv = $("#txtcolor").val();
        var col = $("#txtcolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("OuterAboutusColorchange", "Home")?first=' + vv + '&second='+ col + '';
        location.href = url;
    }
</script>
