@model IEnumerable<Vastwebmulti.Models.whitelabel_api_name>
@{
    ViewBag.Title = "Api_nm";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .table-bordered tbody tr td{padding:5px 10px;}
     .bread-same-all-page li{margin-bottom:6px;}
         #ul li {
        background: @PageData["Globalfirst"];
    }
    .activee{
        background: @PageData["GlobalSecond"] !important;
    }
    @@media screen and (max-width: 992px) {
        .rtyfrty{width: 100%;float: left;}
        .rtyfrty ul li {
            width: 33%;
            float: left;
            margin-bottom: 10px;
        }

            .rtyfrty ul li a {
                margin-bottom: 0;
            }

        .vacrivet {
            width: 50%;
            float: left;
            padding: 0 4px !important;
        }
        .table-responsive > .table-bordered > tbody > tr td:last-child {
            width: 135px;
            display: block;
        }
    }
    
</style>
<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul style="margin:0px;">
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic&nbsp;Setting
                    </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Set {Get} API
                </li>
            </ul>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 rtyfrty" style="padding-bottom: 15px;">
                <div class="">
                    <div class="col-md-6" style="padding: 0;">
                        <div style="">
                            @Html.Partial("_menuapinm")
                        </div>

                    </div>
                    <div class="col-md-3" style="padding-right:0px;">
                        <button type="button" class="btn waves-effect fullbodydycolorbg for-margin" style="float:right; margin-top:5px;border:none;color:#fff;" data-toggle="modal" data-target="#largeModal">
                            <i class="fa fa-plus" style="top:1px;font-size:16px;color:#fff;"></i>
                            <span style="color:#fff;">Add 1 Robotic Api</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">


                    <div class="">
                        <div class=" table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>API&nbsp;Name</th>
                                        <th style="width:72%;">API&nbsp;Url Details</th>
                                        <th><center>Action</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.apiname</td>
                                            <td><input type="text" value="@item.api_url" id="@i" name="myInput" class="input-set-api" style="height:34px; border:1px dashed #9E9E9E ;width:90%;" readonly=""><button onclick="myFunction('@i')" class="btn  waves-effect" style="margin-top:-1px;border-top-left-radius:0px;border-bottom-left-radius:0px;background:#dedddd;border:1px solid #c7c2c2; height:34px;color:black;">Copy</button></td>
                                            <td>
                                                    <button id="but" onclick="animation('@item.idno','@item.apiname','@item.api_url','@item.viewbill')" style="background-color:transparent;color:#03a9f4; border:none;float:left;margin-right:1px;" data-toggle="modal" data-target="#defaultModal1">
                                                        <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;height: 34px;margin:0px; line-height: 32px;">Edit</p>
                                                    </button>
                                                    <button type="button" class="first-button" style="background-color:transparent; border:none;">
                                                        <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;height: 34px;margin:0px; line-height: 32px;">Delete</p>
                                                    </button>

                                                    <button class="second-button" type="button" style=" border:none;display:none;width:63px;" onclick="deletedata('@item.idno')">
                                                        <p class="fullbodydycolorbg" style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:#fff;height: 34px;margin:0px; line-height: 32px;">Sure ?</p>
                                                    </button>
                                                
                                            </td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add New  modal-->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New API</h4>
            </div>
            @using (Html.BeginForm("Api_nm", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding-bottom:0px;">
                    <div class="body">
                        <label for="email_address">API Name</label>
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("apinm", "Vast", new { @placeholder = "Enter Api Name", @maxlength = "10", @required = "required", @class = "form-control", @style = "text-transform: uppercase;", @readonly = "readonly" })
                            </div>
                        </div>
                        <label for="password">API Url</label>
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("apiurl", "", new { @placeholder = "http://sitedomainname/pagename?uid=uuu&pass=ppp&mno=mmm&op=ooo&amt=aaa&refid=iii", @required = "required", @class = "form-control" })
                            </div>
                        </div>
                        @*<label for="password">Check Balance Url</label>
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("CheckbalUrl", "", new { @placeholder = "http://sitedomainname/pagename?uid=uuu&pass=ppp&mno=mmm&op=ooo&amt=aaa&refid=iii",  @class = "form-control" })
                            </div>
                        </div>*@

                    </div>
                </div>
                <div class="modal-footer" style="padding-bottom:15px;padding-right: 25px;">
                    <button type="button" class="btn bg-grey waves-effect" style=" margin-right: 12px;  height:32px;" data-dismiss="modal">
                        <span style="color:black;">Close</span>
                    </button>
                    <button type="submit" class="btn  waves-effect fullbodydycolorbg" style=" height:32px;">
                        <span style="top:-2px;color:#fff;">Save Change</span>
                    </button>

                </div>
            }
        </div>
    </div>
</div>

<!--Edit M  modal-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 0px;float: right;width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Edit API Url </h4>
            </div>
            @using (Html.BeginForm("Editapi_nm", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding-bottom:0px;">
                    <div class="body">
                        <label for="email_address">API Name</label>
                        <div class="form-group">
                            @Html.TextBox("txtid", "", new { style = "display:none;" })
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("txtapiname", "", new { @placeholder = "Enter Api Name", @required = "required", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <label for="password">API Url</label>
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("txtapiurl", "", new { @placeholder = "http://sitedomainname/pagename?uid=uuu&pass=ppp&mno=mmm&op=ooo&amt=aaa&refid=iii", @required = "required", @class = "form-control" })
                            </div>
                        </div>
                        @*<label for="password">Check Balance Url</label>
                        <div class="form-group">
                            <div class="" style="border:1px solid #dddddd;">
                                @Html.TextBox("viewurledit", "", new { @placeholder = "http://sitedomainname/pagename?uid=uuu&pass=ppp&mno=mmm&op=ooo&amt=aaa&refid=iii",  @class = "form-control" })
                            </div>
                        </div>*@


                    </div>
                </div>
                <div class="modal-footer" style="padding-bottom:15px;padding-right: 25px;">
                    <button type="button" class="btn bg-grey waves-effect" style=" margin-right: 12px;  height:32px;" data-dismiss="modal">
                        <span style="color:black;">Close</span>
                    </button>
                    <button type="submit" class="btn  waves-effect fullbodydycolorbg" style=" height:32px;">
                        <span style="top:-2px;color:#fff;">Save Change</span>
                    </button>

                </div>
            }

        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>


<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Insert Popuop-->
<script>
    window.onload = function () {
        var message = '@TempData["add"]'
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        //Edit Message
        var editdata = '@TempData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

    }
</script>

<script type="text/javascript">
    var val1 = "";
    function animation(id, apiname,apiurl, viewbillurl) {
        $("#txtid").val(id);
        $("#txtapiname").val(apiname);
        $("#txtapiurl").val(apiurl);
        $("#viewurledit").val(viewbillurl);
    }
</script>

<!--View View Bill javascript-->
<script type="text/javascript">
    function showviewbilldata(id, viewbillurl) {
        $("#txtviewbillurlid").val(id);
        $("#txtviewbillurl1").val(viewbillurl);
        }
</script>
<!--Delete-->
<script type="text/javascript">

    function deletedata(e) {


    $.ajax({
        type: "POST", url: '@Url.Action("Delte_API_From_info", "Home")', data: { idno: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                //swal("Deleted!", "API Url Deleted Successfully.", "success");
                var url = '@Url.Action("Api_nm", "Home")';
                window.location.href = url;
            }
            else {
                //swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Api_nm", "Home")';
                window.location.href = url;
            }
        }
    });

    }


</script>
<!--Copy Url javascript-->
<script>
    function myFunction(p) {
        var copyText = document.getElementById(p);
       copyText.select();
     document.execCommand('copy');
         }
</script>

<script>
    $('.first-button').click(function () {
        $(this).hide();
        $(this).next('.second-button').show();
    })
</script>