@model IEnumerable<Vastwebmulti.Models.spWhitelabel_select_api_info_Result>
@{
    ViewBag.Title = "Api_Operator";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 0px !important;
        width: 100%;
    }
    .multiselect-container > li > a > label{padding: 4px 15px !important;}
    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

    .form-control-label {
        text-align: left;
    }

        .form-control-label label {
            margin: 0px;
            border: 1px solid #dddddd;
            border-right: 0px;
            height: 34px;
            padding: 6px 0px;
            width: 100%;
            text-align: left;
            padding-left: 5px;
            font-size: 12px;
            background: #f5f5f5;
        }

    .form-group {
        margin-bottom: 12px;
    }

    .table-bordered tbody tr td {
        padding: 5px 10px;
    }

    .bread-same-all-page li {
        margin-bottom: 6px;
    }
    .api-operator-left button, .api-operator-left button span{
        color: #444;
        width: 100%;
        float: left;
        text-align: left;
        margin-right: -5px;
    }
    .api-operator-left .btn-group {
        box-shadow: none;
        width: 100%;
        margin-top: 4px;
    }
    .multiselect-container > li > a > label.checkbox::before {
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        display: inline-block;
        vertical-align: sub;
        margin-right: 5px;
    }
    .multiselect-container > .active > a > label.checkbox::before{border-color: #fff;}
    .dropdown-menu > .active > a > label.checkbox::after {
        content: '';
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        width: 5px;
        height: 10px;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
        transform: rotate(40deg);
        border-color: #fff;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: var(--main-bg-lcolor);
    }
    .dropdown-menu > .active > a label, .dropdown-menu > .active > a:hover label, .dropdown-menu > .active > a:focus label{color:#fff;}
    .multiselect-container > li {
        border-top: 1px dotted #555;
    }
    .multiselect-container > .multiselect-item.multiselect-all{border-top: 0px;}
    .col-md-2.api-operator.api-operator-left.vacrivet button {
        height: 32px;
        background: transparent;
        border: 1px solid #ddd;
    }
    .col-md-2.api-operator.api-operator-left.vacrivet button span {
        padding: 3px 20px;
    }
    #ul li {
        background: @PageData["Globalfirst"];
    }
    .activee{
        background: @PageData["GlobalSecond"] !important;
    }
    @@media screen and (max-width: 992px) {
        .rtyfrty ul li{width: 33%;float: left;margin-bottom: 10px;}
        .rtyfrty ul li a{margin-bottom: 0;}
        .vacrivet {width: 50%;float: left;padding: 0 4px !important;}
    }
    @@media screen and (max-width: 480px) {
        .api-operator ~ .col-md-1 button{width: 100% !important;}
        .col-md-2.api-operator.api-operator-left.vacrivet button span {
            padding: 0;
        }
        .col-md-2.api-operator.api-operator-left.vacrivet button{margin: 0 !important;}
        .bread-same-all-page a{font-size: 14px;}
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="bread-same-all-page">
                    <ul style="margin:0px;">
                        <li class="smli">
                            <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                            </a>
                        </li>
                        <li class="fullbodydycolorbg tmw-total-color-one">
                            <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                                Basic&nbsp;Setting
                            </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </li>
                        <li class="fullbodydycolorbg tmw-total-color-one">
                            OPT Switching
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12" style="width: 100%;float: left;margin-bottom: 10px;">
                <div class="card " style="margin-bottom:15px;">
                    <div class="col-md-6 rtyfrty" style="padding: 0;">
                        <div style="">
                            @Html.Partial("_menuapinm")
                        </div>

                    </div>
                    @using (Html.BeginForm("Api_Operator", "Home", FormMethod.Post))
                    {
                <div class="col-md-2 api-operator vacrivet" style="padding-right:0px;">
                    <div class="input-group" style="margin-top:4px;">
                        <div class="">
                            @Html.DropDownList("apinm", ViewBag.apinm as SelectList, "Select Api Name", new { id = "apinm", @class = "for-select2 form-control border-0", data_live_search = "true", @style = "border:1px solid #8e7f7f4d;height:38px;", @required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2 api-operator api-operator-left vacrivet">
                    <select id="myCategories" multiple="multiple" name="myCategories">
                        @if (ViewBag.OptCategories != null)
                        {
                            foreach (var item in ViewBag.OptCategories)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            }
                        }
                    </select>
                </div> 
                        <div class="col-md-1 vacrivet" style="padding: 0px;">
                            <center>
                                <button type="submit" id="btnGetSkills" class="btn btnssl222  waves-effect" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="margin-top:4px; float:right; height:32px;border:1px solid #c7c2c2;background:transparent;width:100%;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div>
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>API&nbsp;Name</th>
                                        <th>Operator</th>
                                        <th>My&nbsp;Code</th>
                                        <th>Api&nbsp;Code</th>
                                        <th>Purchase&nbsp;(₹)</th>
                                        <th><center>Status</center></th>
                                        <th><center>Edit</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var text = "";
                                        if (item.purchasetype == "Rupees")
                                        {
                                            text = " (₹)";
                                        }
                                        if (item.purchasetype == "Percentage")
                                        {
                                            text = "(%)";
                                        }

                                        <tr>
                                            <td>@item.apiname</td>
                                            <td>@item.optnm</td>
                                            <td>@item.opt_code</td>
                                            <td>@item.apioptcode</td>
                                            <td>@item.Purchase <span style="margin-left:22px;">@text</span></td>
                                            <td>
                                                @if (item.status == "Y")
                                                {
                                                    <center>
                                                        <a href="@Url.Action("Api_Status",new { id = item.idno, apinm = item.api_nm })" style="text-decoration:none;">
                                                            <div class="onoffswitch">
                                                                <span class="costom-on">on</span>
                                                            </div>
                                                        </a>
                                                    </center>

                                                }
                                                else
                                                {
                                                    <center>
                                                        <a href="@Url.Action("Api_Status",new { id = item.idno, apinm = item.api_nm })" style="text-decoration:none;">
                                                            <div class="onoffswitch">
                                                                <span class="custom-off">off</span>
                                                            </div>
                                                        </a>
                                                    </center>

                                                }
                                            </td>
                                            <td>
                                                <center>
                                                    <button id="but" onclick="animation('@item.api_nm','@item.idno','@item.apiname','@item.optnm','@item.apioptcode','@item.Purchase','@item.purchase_rs','@item.max_rs')" style="background-color:transparent;color:#03a9f4; border:none;height: 25px;line-height: 22px;" data-toggle="modal" data-target="#defaultModal1">
                                                        <p style="padding:1px 11px 1px 11px;border:1px solid #dddddd;color:black;margin:0px;">Edit</p>
                                                    </button>
                                                </center>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Edit Model-->
<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin-right: 0px;margin-top: 63px;float: right;width: 50%;">
        <div class="modal-content">

            @using (Html.BeginForm("Api_Operator", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;padding: 5px;">
                    <div class="body">
                        <form>
                            @Html.TextBox("apinm", "", new { style = "Display:none" })
                            @Html.TextBox("txtidno", "", new { style = "Display:none" })
                            <div class="row clearfix">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 form-control-label " style="padding-right:0px;">
                                            <label for="email_address_2">API&nbsp;Name</label>
                                        </div>

                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtapinm", "", new { @class = "form-control", placeholder = "Enter operator Name.", @required = "required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row clearfix">
                                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Operator&nbsp;Name</label>
                                        </div>

                                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-5" style="padding-left:0px;">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtoptnm", "", new { @class = "form-control", placeholder = "Enter operator Name.", @required = "", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <button type="button" class="btn waves-effect" style="  height:34px;float:right;" data-dismiss="modal">
                                                &#10005;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="row clearfix">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">API&nbsp;Code</label>
                                        </div>

                                        <div class="ol-lg-7 col-md-7 col-sm-7 col-xs-12" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtapiopt", "", new { @class = "form-control", placeholder = "Enter Api Opt Code.", @required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row clearfix">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label" style="padding-right:0px;">
                                            <label for="email_address_2">Purchase Type</label>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="padding-left:0px;">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <select id="purchasetype" name="purchasetype" class="form-control" required="">
                                                        <option value="">Select Type</option>
                                                        <option value="Rupees">Flat Rupees (₹)</option>
                                                        <option value="Percentage">Percantage (%)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row clearfix">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtpurcharge", "", new { @class = "form-control", placeholder = "Enter purcharge (%)", @required = "required" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="modal-footer">

                                        <button type="submit" class="btn fullbodydycolorbg waves-effect" style="  height:34px;">
                                            <span style="color:#fff;">Save Change</span>
                                        </button>

                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!--Edit M  modal-->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    $('.for-select2').select2();
</script>
<!--Insert Popuop-->
<script>
    $(function(){

        var editdata = '@ViewData["edit"]'
        if (editdata != null && editdata != "") {
            swal("Good job!", editdata, "success");
        }

    })
</script>
<script type="text/javascript">
    function animation(apinnm, id, apinm, optnm, apiopt, txtpurcharge, txtpurchargers, txtpurchargemax) {
        $("#apinm").val(apinnm);
        $("#txtidno").val(id);
        $("#txtapinm").val(apinm);
        $("#txtoptnm").val(optnm);
        $("#txtapiopt").val(apiopt);
        $("#txtpurcharge").val(txtpurcharge);
        $("#txtpurchargers").val(txtpurchargers);
        $("#txtpurchargemax").val(txtpurchargemax);
    }
</script>
<script>
    $('.btnssl222').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 2000);
    });
</script>

<link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
<script>
        $('#myCategories').multiselect({
            includeSelectAllOption: true
        });
</script>
