@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_BankInfoList
@{
    ViewBag.Title = "Bank_info";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<style>
    .tabbb ul li {
        list-style: none;
        float: left;
        width: 50%;
        text-align: center;
    }

    .tbistn1 span {
        color: #555;
        font-size: 16px;
        width: 100%;
        float: left;
        display: block;
        font-weight: bold;
    }

    .tbistn1 input {
        width: 100%;
        float: left;
        height: 32px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        padding: 0px 7px;
    }

    .tbistn1 select {
        height: 32px;
        margin-bottom: 14px;
        width: 100%;
    }

    .Masterlist-page #tab-6 form {
        border-bottom: none;
    }

    .tbistn1 button {
        border: 0px;
        margin-top: 10px;
        float: right;
        font-size: 19px;
        padding: 5px 20px;
        color: #fff;
    }

    .tbistn1 {
        padding: 15px;
    }

    .bankinfo .nav.nav-tabs li {
        width: 50%;
        float: left;
        text-align: center;
        margin-bottom: 0px;
    }

    .bankinfo .nav-tabs > li > a {
        color: #fff !important;
        padding: 6px 10px;
    }

    .bankinfo .nav-tabs {
        border-bottom: none;
        background: var(--nav-tab-bg);
    }

        .bankinfo .nav-tabs li.active a, .bankinfo .nav-tabs li.active a:focus, .bankinfo .nav-tabs li.active a:hover {
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
            color: #fff !important;
        }

            .Masterlist-page ul.tabs li.current::after, .bankinfo .nav-tabs li.active a::after, .Masterlist-page ul.tabs li::after, .bankinfo .nav-tabs li a::after {
                content: '';
                width: 25px;
                float: left;
                top: 0;
                left: 0;
                position: absolute;
                height: 70%;
                border: 2px solid #fff;
                margin: 5px;
            }
            .Masterlist-page ul.tabs li.current::before, .bankinfo .nav-tabs li.active a::before{
                content: "";
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                height: 28%;
                width: 17px;
                position: absolute;
                left: 9px;
                transform: rotate(-45deg);
                top: 9px;
            }
    .Masterlist-page ul.tabs li.current, .bankinfo .nav-tabs li.active a {
        background: @PageData["Globalfirst"] !important;
    }
    .Masterlist-page ul.tabs li, .bankinfo .nav-tabs li a {
        background: @PageData["GlobalSecond"] !important;
        border-bottom: 0px !important;
        color: #fff !important;
        height: 36px;
        position: relative !important;
        padding-top: 8px;
    }

    @@media only screen and (max-width:480px) {
        .bank-info-left {
            width: auto !important;
        }

        .col-md-8.bankinfo {
            width: 100%;
            margin-top: 15px;
        }
        .Masterlist-page ul.tabs li, .bankinfo .nav-tabs li {
            width: 100% !important;
            border: 0 !important;
            margin-bottom: 10px !important;
        }
    }
</style>



<section class="content Masterlist-page">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="~/ADMIN/Home" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one" style="line-height: 22px;">
                    Bank Info
                </li>
            </ul>
        </div>
        <div class="col-md-4 bank-info-left" style="background: var(--second-bg-color);float: left;">

            <div class="tabbb">
                <ul class="tabs width100 float-left">
                    <li class="tab-link current" data-tab="tab-5">Add Bank Account</li>
                    <li class="tab-link" data-tab="tab-6">Add Wallet</li>
                </ul>
            </div>

            <div id="tab-5" class="tab-content current tbistn1" style="border: 1px solid #ccc;">
                @using (Html.BeginForm("AddBank", "Home", FormMethod.Post))
                {
                    <span>Bank Name</span>
                    @Html.TextBox("Banknm", "", new { @class = "form-input", Placeholder = "Enter Bank Name", required = true })
                    <span>Branch Name</span>
                    @Html.TextBox("BranchName", "", new { @class = "form-input", Placeholder = "Enter Branch Name", required = true })
                    <span>IFSC CODE</span>
                    @Html.TextBox("ifsccode", "", new { @class = "form-input", Placeholder = "Enter Ifsc Code", required = true })
                    <span>Account Number</span>
                    @Html.TextBox("accountno", "", new { @class = "form-input", Placeholder = "Enter Account Number", required = true })
                    <span>Account Type</span>
                    @Html.TextBox("accounttype", "", new { @class = "form-input", Placeholder = "Enter Account Type", required = true })
                    <span>Account Holder Name</span>
                    @Html.TextBox("accountholder", "", new { @class = "form-input", Placeholder = "Enter Account Holder Name", required = true })
                    <span>City / Town</span>
                    @Html.TextBox("City", "", new { @class = "form-input", Placeholder = "Enter City", required = true })
                    <input type="submit" class="fullbodydycolorbg" value="Save" style="color:white;float: right;
width: 100px;" />
                }
            </div>

            <div id="tab-6" class="tab-content tbistn1">
                @using (Html.BeginForm("AddWallet", "Home", FormMethod.Post))
                {
                    <span>Wallet Name</span>
                    @Html.TextBox("walletnm", "", new { @class = "form-input", Placeholder = "Wallet Name", required = true })
                    <span>Wallet No</span>
                    @Html.TextBox("walletno", "", new { @class = "form-input", Placeholder = "Wallet No", required = true })
                    <span>Wallet Holder Name</span>
                    @Html.TextBox("walletholdername", "", new { @class = "form-input", Placeholder = "Wallet Holder Name", required = true })
                    <input type="submit" class="fullbodydycolorbg" value="Save" style="color:white;float: right;
width: 100px;" />
                }
            </div>

        </div>

        <div class="col-md-8 bankinfo" style="background: var(--second-bg-color);float: right;">
            <div class="tabbba">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Bank Details</a></li>
                    <li><a data-toggle="tab" href="#menu1">Wallets Details</a></li>

                </ul>

            </div>
            <div class="tab-content" style="display:block;">
                <div id="home" class="tab-pane fade in active">



                    <div class="col-md-12" style="padding: 0px;">
                        <div class="table-responsive">
                            <table style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                            Bank&nbsp;Name
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Branch&nbsp;Name
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            IFSC&nbsp;CODE
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Account&nbsp;Number
                                        </th>
                                        <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Account&nbsp;Type
                                        </th>
                                        <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);">
                                            Account&nbsp;Holder&nbsp;Name
                                        </th>
                                        <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            City&nbsp;/&nbsp;Town
                                        </th>

                                        <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Action
                                        </th>

                                    </tr>
                                    @if (Model.bankinfo != null)
                                    {
                                        foreach (var item in Model.bankinfo)
                                        {
                                            <tr>
                                                <td style="width:320px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.banknm
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.branch_nm
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.ifsccode
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.acno
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial; text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.actype
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.holdername
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.address
                                                </td>
                                                <td style="width:160px;  font-size:14px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    <button class="first-del" style=" width:70px;">Delete</button>
                                                    <button onclick="deletebank('@item.idno')" class="fullbodydycolorbg second-del" style="display:none;border: 1px solid #ccc; color:#fff; width:70px;height:26px;">Sure ?</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div id="menu1" class="tab-pane fade">


                    <div class="col-md-12" style="padding: 0px;">
                        <div class="table-responsive">
                            <table style="margin-top:5px;width: 100%;margin-bottom:5px; float:left;" border="1">
                                <tbody>
                                    <tr>
                                        <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid var(--border-color);background-color:whitesmoke;">
                                            Company Name
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Wallet No.
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Wallet Holder
                                        </th>
                                        <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid var(--border-color);">
                                            Action
                                        </th>
                                    </tr>

                                    @if (Model.walletinfo != null)
                                    {

                                        foreach (var item in Model.walletinfo)
                                        {
                                            <tr>
                                                <td style="width:320px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.walletname
                                                </td>
                                                <td style="width:160px;  font-size:14px;padding: 10px;  font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.walletno
                                                </td>
                                                <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">
                                                    @item.walletholdername
                                                </td>
                                                <td style="width:160px;  font-size:14px; padding: 10px; font-family:Arial;  text-align:center; color:#585858;border:1px solid var(--border-color);">

                                                    <button class="first-del" style=" width:70px;">Delete</button>
                                                    <button onclick="deleteWallet('@item.walletid')" class="fullbodydycolorbg second-del" style="display:none; color:#fff;height:26px;border: 1px solid #ccc; width:70px;">Sure ?</button>
                                                </td>
                                            </tr>
                                        }

                                    }


                                </tbody>

                            </table>
                        </div>
                    </div>



                </div>
            </div>




        </div>


    </div>



</section>

<script>
    function deletebank(idno) {
        var url = '@Url.Action("Deletebank", "Home")';
        $.ajax({
            url: url,
            data: { id: idno},
            cache: false,
            type: "GET",
            success: function (data) {
                var url = '@Url.Action("Bank_info", "Home")';
                window.location=url;
            }
        })
    }
     function deleteWallet(idno) {
        var url = '@Url.Action("Deletewallet", "Home")';
        $.ajax({
            url: url,
            data: { id: idno},
            cache: false,
            type: "GET",
            success: function (data) {
                var url = '@Url.Action("Bank_info", "Home")';
                window.location=url;
            }
        })
    }
</script>
<script>
    $('.first-del').click(function () {
        $(this).hide();
        $(this).next('.second-del').show();
    });
</script>