@using Vastwebmulti.Models;
@model Tuple<ChangePasswordViewModel, ChangeTransactionViewModel, ChangeSecurityViewModel>
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }

    #error-message-one, #error-message-security, #error-message {
        color: red;
        font-size: 14px;
        width: 100%;
        margin-bottom: 15px;
    }

    @@media only screen and (max-width:480px) {
        .login-pass-top {
            display: inline-block;
            width: 100%;
        }

        .login-pass-top-inner > .col-md-5 p {
            line-height: 22px !important;
            margin-bottom: 6px;
        }

        .login-pass-top-inner > .col-md-5 .body {
            padding: 0px;
            margin-bottom: 10px;
        }

        .login-pass-seond.body {
            padding: 0px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
    /********************** Start Reset Pin Popup************************************/
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 420px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 25px;
        height: auto;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 25px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    /* ----- v CAN BE DELETED v ----- */

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }

    .demo-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background-color: #212121;
        text-align: center;
    }

        .demo-footer > a {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
        }

    .toast-top-right1 {
        top: 78px;
        left: 81%;
    }

    .modai-body-out .form-group .form-control, .modai-body-out .btn {
        background: transparent;
        padding: 0px 20px;
        margin: 0;
    }

    .modai-body-out .row {
        margin: 0px;
    }

    .modai-body-out .col-xs-12, .modai-body-out .col-sm-12, .modai-body-out .col-md-12, .modai-body-out .col-lg-12 {
        padding: 0px;
    }

    .modai-body-out .form-group {
        margin-bottom: 15px;
    }

    .modal-header span {
        color: var(--main-bg-lcolor);
        font-size: 34px;
    }

    .modal-header button {
        opacity: 1;
    }

    .modai-body-out .btn {
        float: right;
        margin-top: 15px;
    }

    .modai-body-in {
        background: #eae9e9;
        width: 100%;
        float: left;
        padding-top: 20px;
        border: 5px solid;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }
    /********************** End Reset Pin Popup************************************/
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<!--Change Password for your Website-->
<section class="content" style="height:calc(100vh - 67px);">
    <div class="container-fluid">
        <div class="bread-same-all-page" style="">
            <ul style="margin-top: 12px;">
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic&nbsp;Setting
                    </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Set Password
                </li>
            </ul>
        </div>

        <!--Change Login Password -->
        <div class="row clearfix">
            <div class="col-md-12" style="clear: both;">
                <div class="card">
                    <p class="login-pass-top" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Login&nbsp;Password</p>
                    <div class="row login-pass-top-inner">
                        <div class="col-md-5">
                            <div class="body">
                                <div style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Important</p></center>
                                    <p style="line-height:32px;padding-left:10px;">1.Password must be Required one Special character</p>
                                    <p style="line-height:32px;padding-left:10px;">2.Password must be Required one Digit Number</p>
                                    <p style="line-height:32px;padding-left:10px;">3.Password must be Required one Lowercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one Uppercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">5.Password must be Required one alphabet character</p>
                                    <p style="line-height:32px;padding-left:10px;">6.Password must be Required Minimum Length Six character</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Login&nbsp;Password</p></center>
                                    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item1.OldPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.OldPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item1.NewPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.NewPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item1.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item1.ConfirmPassword, new { @class = "form-control", @required = "" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                            <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Change Transaction Password -->
        <div class="row clearfix">
            <div class="col-md-12" style="clear: both;">
                <div class="card">
                    <p class="login-pass-top" style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Transaction&nbsp;Password</p>
                    <div class="row login-pass-top-inner">
                        <div class="col-md-5">
                            <div class="body login-pass-seond">
                                <div class="background-all-second" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;height: 263px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Reset&nbsp;Transaction&nbsp;Password</p></center>
                                    @using (Html.BeginForm("Resend_Transactionpass", "Home", FormMethod.Post, new { id = "resttarnspass" }))
                                    {
                                        <div class="body" style="margin-top:20px;">
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Email&nbsp;Id</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="Enter Registered Email" />

                                                        </div>
                                                        <label id="error-message"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:11px;">
                                                        <center>
                                                            <div class="">
                                                                <p class="btn   waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;float:right;">Change Password</p>
                                                                <button type="submit" class="btn  waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;float:right; line-height: 18px;" onclick="confrim()">Sure ?</button>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div class="background-all-second" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Transaction &nbsp;Password</p></center>
                                    @using (Html.BeginForm("Edit_Transactionpass", "Home", FormMethod.Post))
                                    {
                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Oldtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Oldtransactionpass, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Newtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Newtransactionpass, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item2.Confirmtransactionpass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item2.Confirmtransactionpass, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                            <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Change Security Password-->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-top:-11px;">
                    <p style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:var(--nav-tab-bg);"><i class="fa fa-lock"></i>&nbsp;Security&nbsp;Password</p>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="body login-pass-seond">
                                <div class="background-all-second" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;height: 263px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Reset&nbsp;Security&nbsp;Password</p></center>
                                    @using (Html.BeginForm("Resend_Securitypass", "Home", FormMethod.Post, new { id = "restsecurityspass" }))
                                    {
                                        <div class="body" style="margin-top:20px;">
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Email&nbsp;Id</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            <input type="text" id="txtsecuritemail" name="txtsecuritemail" class="form-control" placeholder="Enter Registered Email" />
                                                        </div>

                                                    </div>
                                                    <label id="error-message-security"></label>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:11px;">
                                                        <center>
                                                            <div class="">

                                                                <p class="btn   waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;float:right;">Change Password</p>
                                                                <button type="submit" class="btn  waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;float:right; line-height: 18px;" onclick="securityconfrim()">Sure ?</button>
                                                            </div>
                                                        </center>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body login-pass-seond" style="margin-bottom:11px;">
                                <div class="background-all-second" style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;left: 50px;border-radius:1px;">Change&nbsp;Security &nbsp;Password</p></center>
                                    @using (Html.BeginForm("Edit_Securitypass", "Home", FormMethod.Post))
                                    {

                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item3.OldSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.OldSecuritypass, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(tuple => tuple.Item3.NewSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.NewSecuritypass, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(tuple => tuple.Item3.ConfirmSecuritypass, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(tuple => tuple.Item3.ConfirmSecuritypass, new { @class = "form-control", @required = "", @maxlength = "4" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                            <p class="btn  m-t-15 waves-effect fullbodydycolorbg password-change" style="width:131px;border:1px solid #c7c2c2;color:#fff;">Change Password</p>
                                                            <button type="submit" class="btn  m-t-15 waves-effect fullbodydycolorbg password-sure" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border:1px solid #c7c2c2;color:#fff;width:131px;display:none;font-size: 18px;line-height: 18px;">Sure ?</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>
<script>
    $('.for-select2').select2();
</script>
<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>
<script>
    $(function () {
         var succ = '@ViewData["success"]';
        var error = '@ViewData["error"]';

        if (succ != null && succ != "") {
           $('#error-message-one').text(succ);
        }
        else if (error != null && error != "") {
            $('#error-message-one').text(error);
        }
        var succ1 = '@TempData["success"]';

        if (succ1 != null && succ1 != "") {
            $('#error-message-one').text(succ1);
        }
    });
</script>
<!--Transaction Reset Password-->
<script>
    function confrim() {
        var txtmail = $("#txtemail").val();
        if (txtmail != "") {
            $("#resttarnspass").submit();
            return true;
        }
        else {
            $('#error-message').text('Please Enter Register Email-Id');
            return false;
        }

    }
</script>

<!--Security Reset Password-->
<script>
    function securityconfrim() {
        var txtmail = $("#txtsecuritemail").val();
        if (txtmail != "") {
            $("#restsecurityspass").submit();
            return true;
        }
        else {
            $('#error-message-security').text('Please Enter Register Email-Id');
            return false;
        }

    }
</script>
<script>
    $('.password-change').click(function () {
        $(this).hide();
        $(this).next('.password-sure').show();
    });


    $('.password-sure').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 200);
    });
</script>


