
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {max-width: 49%;}
    .admin-tabs .col-lg-2.col-md-2 {width: 20%;}
    .fullbodydycolorbg{background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]) !important;}
    .all-tabels-right li {width: 33%;float: left;margin: 0 !important;border: 0;background: none !important;}
    .all-tabels-right li:nth-child(2){width: 34%;}
    .all-tabels-right li:nth-child(2) a{margin: 0px 5px;}
    .all-tabels-right li a{padding: 10px 0px !important;margin: 0;background-color: @PageData["GlobalSecond"] !important;}
    .all-tabels-right li.active a ,.all-tabels-right li a:hover ,.all-tabels-right li.active a:hover, .all-tabels-right li.active a:focus{background-color: @PageData["Globalfirst"] !important;}
    .all-tabels-right li a span, .all-tabels-right li.active a span{color: #fff !important;}
    .white-dash-link{border-top: 2px solid @PageData["Globalfirst"];border-left: 2px solid @PageData["Globalfirst"];border-right: 2px solid @PageData["GlobalSecond"];border-bottom: 2px solid @PageData["GlobalSecond"];margin-top: 10px;}
    .white-dash-link .col-md-3.col-sm-3.col-xs-3 {padding: 15px;}
    .white-dash-link .col-md-3.col-sm-3.col-xs-3 button:hover::after{-webkit-transform: /*translateX(68%)*/ translateY(-25%) rotate(45deg);transform: /*translateX(68%)*/ translateY(-25%) rotate(45deg);}
    .white-dash-link .col-md-3.col-sm-3.col-xs-3 button::after{content: "";position: absolute;left: 0;top: 0;height: 490%;width: 140%;background: @PageData["Globalfirst"];-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;-webkit-transform: translateX(-189%) translateY(-25%) rotate(45deg);transform: translateX(-189%) translateY(-25%) rotate(45deg);}
    .all-tabels-right li a .fa.fa-newspaper-o, .all-tabels-right li a .fa.fa-calendar-check-o{color:#fff !important;}
    .td-border-none td {border: 0 !important;}
    .admin-tabs .col-lg-2.col-md-2 i {background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]) !important;}
    @@media only screen and (max-width: 992px) {
        .profile-setting {width: 33%;}
    }
    @@media only screen and (max-width: 767px) {
        .profile-setting {width: 25%;}
        .admin-tabs .col-lg-2.col-md-2.col-sm-6.col-xs-6 {width: 50%;}
    }
    @@media only screen and (max-width: 520px) {
        .profile-setting {width: 33%;}
    }
</style>
<section class="content tmw-dashaboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 admin-tabs">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a href="#" style="text-decoration:none;cursor:pointer;">
                                <div class="info-box-4 hover-zoom-effect" style="background:whitesmoke;box-shadow:none;margin-top:3px;margin-bottom:3px;margin-left:3px;margin-right:3px;cursor:pointer;">
                                    <div class="icon" style="top:4px;">
                                        <i class="material-icons col-pink tmw-total-color-one fullbodydycolorbg fulltextbodycolor">group</i>
                                    </div>
                                    <div class="content">
                                        <div class="text">@ViewData["whitelabeladmin"]</div>
                                        <div class="number" style="font-size:18px;">Admin</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a href="@Url.Action("Master_account_detail", "Home")" style="text-decoration:none;cursor:pointer;">
                                <div class="info-box-4 hover-zoom-effect" style="background:whitesmoke;box-shadow:none;margin-top:3px;margin-bottom:3px;margin-left:3px;margin-right:3px;cursor:pointer;">
                                    <div class="icon" style="top:4px;">
                                        <i class="material-icons col-pink tmw-total-color-one fullbodydycolorbg fulltextbodycolor">group</i>
                                    </div>
                                    <div class="content">
                                        <div class="text">@ViewData["whitelabelMaster"]</div>
                                        <div class="number" style="font-size:18px;">Master</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a href="@Url.Action("Distributor_account_detail", "Home")" style="text-decoration:none;cursor:pointer;">
                                <div class="info-box-4 hover-zoom-effect" style="background: whitesmoke;cursor:pointer; box-shadow: none; margin-top: 3px; margin-bottom: 3px; margin-left: 3px; margin-right: 3px;">
                                    <div class="icon" style="top: 4px;">
                                        <i class="material-icons col-blue tmw-total-color-one fullbodydycolorbg fulltextbodycolor">group</i>
                                    </div>
                                    <div class="content">
                                        <div class="text">@ViewData["whitelabeldealer"]</div>
                                        <div class="number" style="font-size:18px;">Distributor</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                            <a href="@Url.Action("Retailer_accoumt_detail", "Home")" style="text-decoration:none; cursor:pointer;">
                                <div class="info-box-4 hover-zoom-effect" style="cursor:pointer; background:whitesmoke;box-shadow:none;margin-top:3px;margin-bottom:3px;margin-left:3px;margin-right:3px;">
                                    <div class="icon" style="top:4px;">
                                        <i class="material-icons col-teal tmw-total-color-one fullbodydycolorbg fulltextbodycolor">group</i>
                                    </div>
                                    <div class="content">
                                        <div class="text">@ViewData["whitelabelretailer"]</div>
                                        <div class="number" style="font-size:18px;">Retailer</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">

                            <div class="info-box-4 hover-zoom-effect" style="cursor:pointer; background:whitesmoke;box-shadow:none;margin-top:3px;margin-bottom:3px;margin-left:3px;margin-right:3px;">

                                <div class="icon" style="top:4px;">
                                    <button type="button" style="background-color:transparent;border-color:transparent; " onclick="fillval()" title="Add New Virtural Value "><i class="material-icons col-red tmw-total-color-one fullbodydycolorbg fulltextbodycolor" style="font-size:34px;">add_circle_outline</i></button>
                                </div>

                                <div class="content">
                                    <a href="#" style=" text-decoration:none;cursor:pointer;">
                                        <div class="text">@ViewData["total"]</div>
                                        <input type="text" id="virval" name="virval" value="@ViewData["total"]" style="display: none;" />
                                        @using (Html.BeginForm("levelvalue", "Home", FormMethod.Post))
                                        {
                                            <div class="number" style="font-size:18px;">
                                                <button type="submit" style="background-color:transparent;border-color:transparent;"><span style="margin-left:-3px;">Total</span></button>
                                            </div>
                                        }
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CPU Usage -->
        <div class="row clearfix white-label-dash">
            <div>
                <!-- Task Info -->
                <div class="col-md-4 white-label-dash-left">

                    @*<ul class="nav-pills" style="background:linear-gradient(to right,@PageData["Globalfirst"],@PageData["GlobalSecond"]);">
                            <li class="active"><a data-toggle="pill" href="#menu1">Profile & User's Account</a></li>
                            <li><a data-toggle="pill" href="#home">Basic Setting</a></li>
                        </ul>*@
                    <ul class="nav-pills" style="background:linear-gradient(to right,@PageData["Globalfirst"],@PageData["GlobalSecond"]);">
                        <li style="width: 100%;padding:10px 0px;">
                            <a href="#">Profile & User's Account</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade active in">
                            <div class="white-dash-link">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Master_list","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/md-d.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Master_list","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Master&nbsp;Distributor</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Dealer_details","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/md-d.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Dealer_details","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Distributor</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Retailer_list","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/md-d.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Retailer_list","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Retailer</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("DeleteUserReport","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/delete-user.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("DeleteUserReport","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Deleted&nbsp;User</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Switch_Users","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/switch-user-d.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Switch_Users","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Switch&nbsp;User's</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Set_Referral","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/img/refer.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Set_Referral","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Set&nbsp;Referral</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Ledger_Report","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/ladger-b.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Ledger_Report","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Ledger&nbsp;Book</a>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Day_book_Report","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/daybook-b.svg" style="margin-left:-2px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Day_book_Report","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Day&nbsp;Book</a>
                                    </div>

                                </div><!----row-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        @*<a href="@Url.Action("RetailerCreationCharge","Home")">*@
                                        <a href="@Url.Action("RetailerCreationCharge","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>
                                                    <img src="~/images/reportimage/Signup.svg" style="width:32px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("RetailerCreationCharge","Home")" style="cursor: pointer; font-size: 11px; font-weight: 700;">SignUp&nbsp;Setting</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Email_Security","Home")">
                                            <button type="button" class="btn btn-circle-lg waves-effect waves-circle waves-float">
                                                <img src="~/img/email.svg" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Email_Security","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Email&nbsp;Setting</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("SMSAPI","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>
                                                    <img src="~/img/chat.svg" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("SMSAPI","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">SMS&nbsp;Setting</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("WebLogin","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>
                                                    <img src="~/img/padlock.svg" style="width:96%;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("WebLogin","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Login&nbsp;Setting</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("CashDepositCharge","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <img src="~/img/business-and-finance.svg" style="width:90%;" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("CashDepositCharge","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Cash&nbsp;Charge's</a>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Prepaid_Slab_setting","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <img src="~/img/rupee.svg" style="width:100%;" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Prepaid_Slab_setting","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Commission</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("OperatorIndex","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>
                                                    <img src="/img/Block2.svg" style="margin-left: -2px;width: 28px;">
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("OperatorIndex","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Block Service</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="~/WHITELABEL/Home/Message">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>
                                                    <img src="/img/alert.svg" style="margin-left:0px;">
                                                </center>
                                            </button>
                                        </a>
                                        <a href="~/WHITELABEL/Home/Message" style="cursor:pointer;font-size:11px;font-weight:700;">News&nbsp;&&nbsp;Holiday</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Outside_logo","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <img src="~/img/computer.svg" style="width:90%;" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Outside_logo","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Logo&nbsp;& &nbsp;Theme</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Bank_info","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                <center>

                                                    <img src="~/AdminDesign/images/wallet-b.svg" style="margin-left:0px;width:28px;" />
                                                </center>
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Bank_info","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Add&nbsp;Bank A/C</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("Socialmedia","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                <img src="~/AdminDesign/images/social-media.svg" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Socialmedia","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Social&nbsp;Media</a>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("ChangePassword","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                <img src="~/AdminDesign/images/d-password.svg" style="width:28px;" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("ChangePassword","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Set&nbsp;Password</a>
                                    </div>
                                    @if (ViewBag.RoboticAPI == "Y")
                                    {
                                        <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                            <a href="@Url.Action("Api_Operator","Home")">
                                                <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">
                                                    <img src="~/img/programming-code-signs.svg" style="width:100%;" />
                                                </button>
                                            </a>
                                            <a href="@Url.Action("Api_nm","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">API&nbsp;Setting</a>
                                        </div>
                                    }
                                    <div class="col-md-3 col-sm-3 col-xs-3 col text-center profile-setting">
                                        <a href="@Url.Action("OperatorSlab","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                <img src="~/AdminDesign/images/social-media.svg" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("OperatorSlab","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Operator&nbsp;Slab</a>
                                    </div>
                                </div><!--.row-->
                            </div>
                        </div>
                        <div id="home" class="tab-pane fade ">
                            <div class="white-dash-link">


                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4 col text-center">
                                        <a href="@Url.Action("Set_target","Home")">
                                            <button type="button" class="btn btn-grey btn-circle-lg waves-effect waves-circle waves-float">

                                                <img src="~/AdminDesign/images/set-target.svg" />
                                            </button>
                                        </a>
                                        <a href="@Url.Action("Set_target","Home")" style="cursor:pointer;font-size:11px;font-weight:700;">Set&nbsp;Target</a>
                                    </div>
                                </div><!--.row-->
                            </div><!----row-->
                            <!----row-->
                            <div class="for-white-space">
                                <div id="imgid" class="imagehide" style="cursor:pointer;margin:13px auto;">
                                    <img src="/images/reportimage/tap.svg" style="height:110px;" title="Show Active &amp; Inactive User's">
                                    <h2>User's Status</h2>
                                </div>
                                <div class="table-responsive User-status" style="display:none;">
                                    <table class="table table-hover dashboard-task-infos table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>USER</th>
                                                <th>ACTIVE</th>
                                                <th>INACTIVE</th>
                                                <th>TOTAL</th>
                                                <th>PROGRESS</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>Distributor</td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["Act_delaler"]</a>
                                                </td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["InAct_delaler"]</a>
                                                </td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["total_Del"]</a>
                                                </td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_Del_Perc"]%"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Retailer</td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["actRtl"]</a>
                                                </td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["inRtl"]</a>
                                                </td>
                                                <td>
                                                    <a href="#" style="text-decoration:none;color:#867b7b;">@ViewData["TotalRetailrs"]</a>
                                                </td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: @ViewData["Act_Rtl_Perc"]%"></div>
                                                    </div>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="" style="padding-top:1px;">
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs all-tabels-right" role="tablist" style="border-bottom:1px solid #e6e6e6;background:#fff;">
                            <li role="presentation" class="active" style="background:#dddddd70; margin-left:4px;">
                                <a href="#History" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect" onclick="Alltab()">
                                    <i class="fa fa-newspaper-o" style="top:3px;color:black;font-size:16px;"></i><span style="color:black;top:2px;">All Transaction Tab</span>
                                </a>
                            </li>
                            <li role="presentation" style="background:#dddddd70;">
                                <a href="#Todaybusiness" id="Today" data-toggle="tab" aria-expanded="false" class="btn bg-grey waves-effect" onclick="today(this)">
                                    <i class="fa fa-calendar-check-o" style="top:3px;color:black;font-size:16px;"></i><span style="color:black;top:2px;">Today Business Chart</span>
                                </a>
                            </li>
                            <li role="presentation" style="background:#dddddd70;">
                                <a href="#Todaybusiness" data-toggle="tab" id="Yesterday" aria-expanded="false" class="btn bg-grey waves-effect" onclick="today(this)">
                                    <i class="fa fa-calendar-check-o" style="top:3px;color:black;font-size:16px;"></i><span style="color:black;top:2px;">Yesterday Business Chart</span>
                                </a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="padding-top: 0;">
                            <div role="tabpanel" class="tab-pane fade in active" id="History">
                                <div class="" style="" id="rch">
                                    <div style="">
                                        <div class="row clearfix">
                                            <div class="col-md-12 td-border-none">
                                                <div class="table-responsive" style="">
                                                    <table class="table" style="margin-left:1%;width:98%;">
                                                        <tr style="border-bottom:1px solid #eeeeee;">
                                                            <td>
                                                                <a href="@Url.Action("Operator_report_new","Home")" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/recharge.svg" />
                                                                        <p>Recharge&nbsp;&&nbsp;Bill</p>
                                                                    </center>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Money_transfer_Report","Home")" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/dmt.svg" />
                                                                        <p>Money&nbsp;Transfer</p>
                                                                    </center>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/airplane.svg" />
                                                                        <p>Flight&nbsp;Booking</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/bus.svg" />
                                                                        <p>Bus&nbsp;Booking</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                    <table class="table" style="margin-top:-17px;margin-left:1%;width:98%;">
                                                        <tr style="border-bottom:1px solid #eeeeee;">
                                                            <td>
                                                                <a href="@Url.Action("AepsReport","Home")" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/fingerprint.svg" />
                                                                        <p>Aadhaar&nbsp;Pay</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/shopping-cart.svg" />
                                                                        <p>E-commerce&nbsp;&nbsp;&nbsp;</p>
                                                                    </center>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/mposs.svg" />
                                                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;M-Poss&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                            <td>
                                                                <a href="@Url.Action("Whitelable_pancardreport","Home")" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/pan.svg" />
                                                                        <p>Pancard</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                    <table class="table" style=";margin-left:1%;width:98%;">
                                                        <tr style="border-bottom:1px solid #eeeeee;">
                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/indo nepal.svg" />
                                                                        <p>&nbsp;Indo&nbsp;Nepal&nbsp;</p>
                                                                    </center>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/hotel.svg" />
                                                                        <p>Hotel&nbsp;Bokking</p>
                                                                    </center>
                                                                </a>
                                                            </td>


                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/satellite-dish.svg" />
                                                                        <p>Dth&nbsp;Booking</p>
                                                                    </center>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" style="text-decoration:none;">
                                                                    <center>
                                                                        <img class="img-responsive" src="~/images/reportimage/greeting-card.svg" />
                                                                        <p>Gift&nbsp;Card</p>
                                                                    </center>
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane1 fade" id="Todaybusiness" style="">
                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div id="donut_chart" class="graph" style=""></div>
                                        </div>*@
                                    <div class="col-md-12">
                                        <div class="body" style="">
                                            <div class="table-responsive">
                                                <table class="table table-hover dashboard-task-infos" style="border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;">
                                                    <thead>
                                                        <tr>
                                                            <th>SIGN</th>
                                                            <th>OPERATORS</th>
                                                            <th>TOTAL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tabletoday"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- #END# Browser Usage -->
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade tmr-model" id="myModal" role="dialog">
    <div class="modal-dialog" style="margin:0px;width:530px;float:right;margin-top:75px;">

        <!-- Modal content-->
        <div class="modal-content">

            @using (Html.BeginForm("UpdateVirtualbal", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="padding: 9px 25px;">

                    <div class="row">
                        <div class="col-md-9" style="padding:0px;">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div>
                                    <input type="text" id="txtvirtual" style="border:1px solid #ddd;" name="txtvirtual" class="form-control" placeholder="Enter Virtual Value" required="">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 " style="padding:0px 5px;">
                            <div class="modal-footer">
                                <button type="submit" class="btn waves-effect btnssl" data-loading-text="<i class='fa fa-spinner fa-spin '></i>" style="height:32px;background: transparent;border: 1px solid #ddd;">
                                    <span style="color:black;">Update</span>
                                </button>
                                <button type="button" class="btn  waves-effect " data-loading-text="<i class='fa fa-spinner fa-spin '></i>" style="height:32px;background: transparent;border: 1px solid #ddd;padding: 0px;" data-dismiss="modal">
                                    <span style="color:black;font-size: 23px;padding: 0px 6px;">&#10006;</span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

            }
        </div>
    </div>
</div>
<script>
    function fillval() {

        var virtual = $("#virval").val();
        $("#txtvirtual").val(virtual);
        $("#myModal").modal('show');

    }
</script>
<script>

    $('.imagehide').click(function () {
        $(this).css('display', 'none');
        $('.User-status').css('display', 'block');
    });
</script>
<script>
    window.onload = function () {
        initDonutChart();
    }
</script>
<script>
    $(function () {
        var succ = '@ViewData["sucess"]';
        var error = '@ViewData["error"]';
        if (succ != "" && succ != null) {
            swal("Good job!", succ, "success");
        }
        if (error != "" && error != null) {
            swal("Ooops!", error, "error");
        }
        document.getElementById("Todaybusiness").style.display = "none";
        document.getElementById("rch").style.marginBottom = "22px";
        //initDonutChart();
    });
</script>
<script>
    function Alltab() {
        document.getElementById("Todaybusiness").style.display = "none";
        document.getElementById("rch").style.marginBottom = "22px";
    }
</script>
<script>
    function today(a)
    {
        document.getElementById("Todaybusiness").style.display = "block";
        $("#tabletoday").empty();

        var x = a.id;
        //call ajax
        $.ajax({
            url: '@Url.Action("Show_All_Recharge", "Home")',
            type: 'POST',
            dataType: "html",
            data: { type: x },
            success: function (data) {
                var  x = JSON.parse(data);

                    var newRow =
                "<tr>" +
               " <td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-desktop' style='color:#E91E63;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Recharge & bill</p></td>" +
               "<td><p style='padding-top:3px;'> " + x.Recharge + "</p></td>" + "</tr>" +
               "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-university' style='color:#2196F3;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Financial Services</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Moneytransfer + "</p></td>" + "</tr>" +
                 "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='material-icons' style='color:#FF9800;'>fingerprint</i></p></td>" +
               "<td><p style='padding-top:3px;'>Aeps Services</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Aeps + "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-id-card' aria-hidden='true' style='color:#000000;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Pancard</p> </td>" +
               "<td><p style='padding-top:3px;'>" + x.Pancard + "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-plane' style='color:#4CAF50;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Travel</p> </td>" +
               "<td><p style='padding-top:3px;'>" + 0.00+ "</p></td>" + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-gift' style='color:#F44336;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>Gift Cards </p></td>" +
               "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>"
                 + "</tr>" +
                "<tr>" +
                "<td style='border-right:1px solid #eeeeee;'><p style='font-size:20px;margin-top:-5px'><i class='fa fa-cart-plus' style='color:#555;'></i></p></td>" +
               "<td><p style='padding-top:3px;'>E-Commerce</p> </td>" +
                 "<td><p style='padding-top:3px;'>" + 0.00 + "</p></td>"
                 + "</tr>";
                    $('#tabletoday').append(newRow);
                    $("#donut_chart").empty();
                    var rechargebillamt = x.Recharge;
                    var moneytransferamt = x.Moneytransfer;
                    var Aepsamt = x.Aeps;
                    var pancardamount = x.Pancard;
                    initDonutChart(rechargebillamt, moneytransferamt, Aepsamt, pancardamount);


            },
            error: function (data) {

            }
        });
        return true;

     }
</script>
<!-- Doughnut Chart -->
<script type="text/javascript">
    function initDonutChart(rechargebill, moneytrasfer, Aepsamt, pancardamount) {

        var rechargeandbill = rechargebill;
        var Financial = moneytrasfer;
        var aeps = Aepsamt;
        var Pancard = pancardamount;
        var Travel = 0.00
        var GiftCards = 0.00
        var ECommerce = 0.00

        Morris.Donut({
            element: 'donut_chart',

            data: [
                {
                    label: 'Recharge & bill',
                    value: rechargeandbill,
                },
                {
                    label: 'Financial',
                    value: Financial
                },
                {
                    label: 'Aeps',
                    value: aeps
                },
                {
                    label: 'Pancard',
                    value: Pancard
                },
                {
                    label: 'Travels',
                    value: Travel
                },
                {
                    label: 'Gift Cards',
                    value: GiftCards,
                },
                {
                    label: 'E-Commerce',
                    value: ECommerce
                }
            ],

            colors: [
                'rgb(233, 30, 99)',
                'rgb(0, 128, 255)',
                'rgb(255, 152, 0)',
                'rgb(0, 0, 0)',
                'rgb(76, 175, 80)',
                'rgb(255, 0, 0)',
                'rgb(128, 128, 128)'],

            formatter: function (y) {
                return y
            }
        });

    }
</script>

@*<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>*@
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

