@model Vastwebmulti.Areas.ADMIN.Models.DayBookreport
@{
    ViewBag.Title = "Day_book_Report";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }
</style>
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px 5px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-7">
                        <p style="font-size:20px;margin-top:6px;">Admin&nbsp;Day&nbsp;Book Report</p>
                    </div>

                    @using (Html.BeginForm("Day_book_Report", "Home", FormMethod.Post))
                    {
                        <div class="col-md-2  for-web-date">
                            <div class="input-daterange input-group" style="width:100%;">
                                <div class="custom-date-icon">
                                    <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: #46c837;"></i>
                                </div>
                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:34px;" })
                            </div>
                        </div>
                        <div class="col-md-1" style="padding:0px;">
                            <center>
                                <button type="submit" class="btn  waves-effect" style="width:100%; height:34px;border:1px solid #c7c2c2;">
                                  
                                    <span style="top:0px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                    }
                    <div class="col-md-2">
                        <div class="web-white-filter" style="float:right;">
                            <table class="dataTable js-exportable ">
                                <thead>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                  
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive web-white-table" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Firm&nbsp;Name</th>
                                        <th>Recharge&nbsp;&&nbsp;Bill</th>
                                        <th>IMPS</th>
                                        <th>AEPS</th>
                                        <th>M&nbsp;-&nbsp;POS</th>
                                        <th>Pancard</th>
                                        <th>Travel</th>
                                        <th>Purchase</th>
                                        <th>Opening&nbsp;Bal</th>
                                        <th>Closing&nbsp;Bal</th>
                                        <th>Old&nbsp;Day&nbsp;Refund</th>
                                        <th>Old&nbsp;Day&nbsp;Failed</th>
                                        <th>Diff</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.daybook_whitelabel != null)
                                    {
                                        foreach (var item in Model.daybook_whitelabel)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.frmname == null)
                                                    {
                                                        @item.name
                                                    }
                                                    else
                                                    {
                                                        @item.frmname
                                                    }
                                                </td>
                                                <td>@item.rch</td>
                                                <td>@item.imps</td>
                                                <td>@item.aeps</td>
                                                <td>0.00</td>
                                                <td>@item.pan</td>
                                                <td>0.00</td>
                                                <td>@item.purchase</td>
                                                <td>@item.pre</td>
                                                <td>@item.post</td>
                                                <td>@item.olddayrefund</td>
                                                <td>@item.olddayfailed</td>
                                                <td>@item.DIFF</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item in Model.daybook_whitelabel_old)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.frmname == null)
                                                    {
                                                        @item.name
                                                    }
                                                    else
                                                    {
                                                        @item.frmname
                                                    }
                                                </td>
                                                <td>@item.rch</td>
                                                <td>@item.imps</td>
                                                <td>@item.aeps</td>
                                                <td>0.00</td>
                                                <td>@item.pan</td>
                                                <td>0.00</td>
                                                <td>@item.purchase</td>
                                                <td>@item.pre</td>
                                                <td>@item.post</td>
                                                <td>@item.olddayrefund</td>
                                                <td>@item.olddayfailed</td>
                                                <td>@item.DIFF</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
        });
</script>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


