@model IEnumerable<Vastwebmulti.Models.whitelabel_Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "Dealer_Ledger_Report";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }


    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @using (Html.BeginForm("Dealer_Ledger_Report", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="col-md-4">
                            <div style="margin-left:-13px;">
                                @Html.Partial("Ledgerpartialview")
                            </div>
                        </div>

                        <div class="col-md-2" id="dlm">
                            <div class="form-line" style=";border:1px solid #dddddd;width:100%;padding-bottom:10px;">
                                @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = " padding-left:0px; padding-right:0px;text-align:center;", @required = "" })
                            </div>
                        </div>
                        <div class="col-md-3" style="padding:0px;">
                            <div class="form-group for-web-date" style="margin-bottom:0px;">
                                <div class="input-daterange input-group">
                                    <div class="custom-date-icon">
                                        <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: #46c837;"></i>
                                    </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;padding-left:20px; ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <i class="fa fa-exchange"></i>
                                    </span>
                                    <div class="custom-date-icon">
                                        <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: #46c837;"></i>
                                    </div>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;padding-left:20px; ", autocomplete = "off" })
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-right:0px;">
                            <center>
                                <button type="submit" class="btn" style="width:100%;  height:34px;border:1px solid #c7c2c2;">
                                  
                                    <span style="color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-2">
                            <div class="web-white-filter" style="float:right;">
                                <table class="dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        }
                    </div>
            </div>

        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div>
                        <div class="table-responsive web-white-table" style="position: inherit;margin-top:-18px;">
                            <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                <thead style="color:white;position:initial;" class="navbar">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Request&nbsp;Id</th>
                                        <th>Role</th>
                                        <th>Email</th>
                                        <th>Particular</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th>Balance</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="mytable">
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestId)</td>
                                            <td><p style="font-size:12px;">@item.Role</p></td>
                                            <td><p style="font-size:12px;">@item.Email</p></td>
                                            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.credit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debit)</td>
                                            <td>@item.Balance</td>
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

                       $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
       
        });
</script>

