@model IEnumerable<Vastwebmulti.Models.whitelabel_dlm_cr_report_Result>
@{
    ViewBag.Title = "DealercrReport";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
    <style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

    </style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="">

                        @* @Html.Partial("_Menuaccount")*@
                        @*<div class="col-md-6  float: left;">
                            <ul>
                                <li class="smli">
                                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                        Dashboard&nbsp;<img src="~/img/right-arrow2.svg" alt="right-arrow" style="width:17px;margin-top:-3px;">
                                    </a>
                                </li>

                                <li class="fullbodydycolorbg tmw-total-color-one">
                                    DLM <sup style="top: -5px;left: 2px;"></sup>cr&nbsp;&nbsp;Report
                                </li>
                            </ul>
                        </div>*@
                        <div class="web-white-filter col-md-12" style="float:right;">
                            <table class="dataTable js-exportable ">
                                <thead>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-20px;">

                    <div class="">
                        <div class="table-responsive web-white-table" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Farm&nbsp;Name</th>
                                        <th>Name</th>
                                        <th>Last&nbsp;Transaction&nbsp;Date</th>
                                        <th>Last&nbsp;Transaction&nbsp;Type</th>
                                        <th>Remain</th>
                                        <th>Current&nbsp;Outstanding</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.FarmName</td>
                                            <td>@item.DealerName</td>
                                            <td>@item.transfer_date</td>
                                            <td>@item.bal_type</td>
                                            <td>@item.dealer_postbal</td>
                                            <td>@item.cr</td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>