@model Vastwebmulti.Areas.WHITELABEL.Models.DeleteWhitelabelUser
@{
    ViewBag.Title = "DeleteUserReport";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}



<style>
    .deleted-users .dataTables_filter, .deleted-users .dt-button.buttons-copy, .deleted-users .dt-button.buttons-csv, .deleted-users .dt-button.buttons-print {
        display: none;
    }

    .for-search {
        position: absolute;
        right: 15px;
    }

        .for-search input {
            width: 250px;
            border: 1px solid #dbdbdb;
            padding: 3px 10px;
        }

    @@media only screen and (max-width:520px) {
        .for-search input {
            width: 100%;
        }

        .for-search {
            position: static;
        }

        .deleted-users.table-responsive {
            margin-top: 15px;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one">
                    Deleted User History
                </li>
            </ul>
        </div>
        <div class="for-search">
            <input id="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>

                    <div>
                        <div class=" deleted-users table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%; ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr</th>
                                        <th>User&nbsp;Role</th>

                                        <th>Firm&nbsp;Name</th>
                                        <th>User&nbsp;Name</th>
                                        <th>Contact&nbsp;No</th>
                                        <th>Register&nbsp;Email</th>
                                        <th>Joining&nbsp;Date</th>
                                        <th>Deleted&nbsp;Date</th>
                                        <th>Recovery&nbsp;&#8377;</th>


                                    </tr>
                                </thead>
                                <tbody class="body">
                                    @{
                                        var i = 1;
                                    }
                                    @if (Model.DeleteWhitelabelUserAll != null)
                                    {
                                        foreach (var item in Model.DeleteWhitelabelUserAll)
                                        {
                                            <tr class="tr">
                                                <td>@i</td>
                                                <td>@item.Role</td>
                                                <td>@item.FarmName</td>
                                                <td>@item.Name</td>
                                                <td>@item.ContectNo</td>
                                                <td>@item.Email</td>
                                                <td>@item.JoiningDate</td>
                                                <td>@item.DeleteDate</td>
                                                <td>@item.RecoveryAmount</td>


                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                                @*<tfoot class="navbar" style="color:white;position:inherit;">
                                        @if (Model.GSTAdmin != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTAdmin.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTMaster != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTMaster.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTDealer != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTDealer.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                        else if (Model.GSTRetailer != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="font-size:18px;">@Model.GSTRetailer.Sum(a => a.gst)</td>
                                            </tr>
                                        }
                                    </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
