@model IEnumerable<Vastwebmulti.Models.whitelabel_show_all_retailer_Result>
@{
    ViewBag.Title = "DeleteRetailerlist";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Partial("_MenuDeleteUserList")
                        </div>
                        <div class="col-md-4">
                            <div class="web-white-filter" style="float:right;">
                                <table class="dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="">
                        <div class="table-responsive web-white-table" style="position:inherit; margin-top:-19px;">
                            <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>REM&nbsp;ID</th>
                                        <th>Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Mobile</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Email</td>
                                            <td>@item.RetailerName</td>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.Mobile</td>
                                            <td>
                                                <button class="first-but" id="DeleteBtn"  style="background-color:transparent;color:#03a9f4; border:1px solid #bbb; margin-left:6px;">
                                                    <img src="../../MainFrontDesign/images/delete.svg" style="width:18px;display:block;padding:2px;" />
                                                </button>
                                                <button class="first-buts" id="DeleteBtn" onclick="Deleteretailer('@item.RetailerId','@item.Email')" style="background-color:red;border:1px solid #bbb;color:#fff;display:none; margin-left:6px;">
                                                    sure
                                                </button>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!--Delete Retailer-->
@*<script type="text/javascript">
        function Deleteretailer(e,email) {
            // alert(e)
            swal({
                title: "Are you sure?",
                text: "Do you want to delete Retailer " + email + " !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
    function () {
        $.ajax({
            type: "POST", url: "Delete_Retailer", data: { 'RetailerId': e }, dataType: 'json', cache: false, success: function (result) {
               if (result == "Success") {
                    swal("Deleted!", "Data Deleted Successfully.", "success");
                    var url = '@Url.Action("DeleteRetailerlist", "Home")';
                    window.location.href = url;
                }
                else {
                    swal("Failed!", "Something went wrong.", "error");
                    var url = '@Url.Action("DeleteRetailerlist", "Home")';
                    window.location.href = url;
                }
            }
        });
    }
    );
        }
    </script>*@

<script>
    function Deleteretailer(e, email)
{
     
      
           
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete_Retailer", "Home")',
                    data: { 'RetailerId': e },
                    cache: false,
                    dataType: 'json',
                    async: true,
                    success: function (result) {
                        if (result == "Success")
                        {
                            location.reload();
                            //swal({ title: "Deleted !", text: "Data Deleted Successfully.", type: "success" },
                            //   function () {
                            //       location.reload();
                            //   }
                            //);
                        }
                        else {
                            location.reload();
                         //   swal({ title: "Failed !", text: "Something went wrong.", type: "error" },
                         //   function () {
                         //       location.reload();
                         //   }
                         //);
                        }
                    }
                });
            }
       
</script>
<script>
    $('.first-but').click(function () {
        $(this).hide();
        $(this).next('.first-buts').show();

    })
</script>