@model IEnumerable<Vastwebmulti.Models.whitelabel_all_dispute_list_Result>
@{
    ViewBag.Title = "Dispute_list";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<style>
    .input-group-addon {
        padding: 0 5px !important;
        border-radius: 0 !important;
    }
    .btn:not(.btn-link):not(.btn-circle) i{
        top: 2px;
    }
    .col-md-2 {
        padding: 0 5px;
    }
    .form-group {
        width: 100%;
        margin-bottom: 0;
    }
    .form-group button {
        margin: 0px !important;
    }
    @@media only screen and (max-width: 992px) {
        .col-md-2{width: 50%;float: left;}
    } 
</style>


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
           
            @using (Html.BeginForm("Dispute_list", "Home", FormMethod.Post))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top:2px; margin-bottom: 0px;">
                        <div class="">
                            <div class="col-md-2">
                                    <h2 style="color:black; font-size:16px; padding-left:22px;margin-top: 13px; margin-bottom :0;">
                                        Dispute Report
                                    </h2>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd; margin-top:4px;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Pending",Value="Pending",},
                        new SelectListItem{Text="Approved",Value="Approved"},
                        new SelectListItem{Text="Rejected",Value="Rejected"}
                        }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                            <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px;text-align:center;margin-top:-3px;">From</p>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;" data-dtp="dtp_FUmMD">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:4px;">
                                        <div class="input-group-addon" style="background:#dddddd; color:#607d8b;border:1px solid #dddddd;">
                                            <i class="material-icons" style="color:#607d8b; font-size:17px; margin-top:-4px;">date_range</i>
                                            <p style="font-size:9px; text-align:center;margin-top:-3px;">To</p>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;" data-dtp="dtp_zdyoO">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>


                            <div class="col-md-2">
                                    <button type="submit" class="btn bg-blue-grey waves-effect" style="margin-top:4px;padding: 0 10px !important; ">
                                        <i class="material-icons">search</i>
                                        <span style="top:-3px;">Search</span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card">
                    <div class="">
                        @*<h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            
                        </h2>*@
                    </div>
                    <div style="margin-top:0px;">
                        <div class="body table-responsive" style="position:inherit;margin-top:0px;">
                            <table class="table table-bordered table-striped " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Rch&nbsp;from</th>
                                        <th>Rch&nbsp;No.</th>
                                        <th>Amount</th>
                                        <th>Operator</th>
                                        <th>Port&nbsp;No</th>
                                        <th>Port&nbsp;Nm</th>
                                        <th>Rch&nbsp;Time</th>
                                        <th>Disp&nbsp;Time</th>
                                        <th>Status</th>
                                        <th>Dispute&nbsp;Reason</th>
                                        <th>Response</th>
                                        <th>Show</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.rch_from</td>
                                            <td>@item.rch_number</td>
                                            <td>@item.rch_amount</td>
                                            <td>@item.opt</td>
                                            <td>@item.portno</td>
                                            <td>@item.portnm</td>
                                            <td>@item.rch_time</td>
                                            <td>@item.dis_time</td>
                                            <td>@item.sts</td>
                                            <td>@item.dispute_region</td>
                                            <td>@item.comment</td>
                                            <td>
                                                @if (item.sts == "Pending")
                                                {
                                                    @Html.ActionLink("Show", "ShowAll", new { idno = item.rch_id, disput = item.dispute_region })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!--Calendar Javascript-->
<script type="text/javascript">
    window.onload = function () {
    
	     	 $('#date').bootstrapMaterialDatePicker
			({
      	clearButton: false
			});
		    $('#txt_to_date').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY'
			});
		    $('#txt_frm_date').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY'
			}).on('change', function(e, date)
			{
			    $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
			});

		    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

		    var from = '@ViewBag.fromdate';
		    var to = '@ViewBag.todate';
		    if (from != "" && to != "") {
		        $('#txt_frm_date').val(from);
		        $('#txt_to_date').val(to);
		    }
		    else {
		        var month = new Array("Jan", "Feb", "Mar",
       "Apr", "May", "Jun", "Jul", "Aug", "Sep",
       "Oct", "Nov", "Dec");
		        var d = new Date();
		        var curr_date = d.getDate();
		        var curr_month = d.getMonth();
		        var curr_year = d.getFullYear();

		        var tt = curr_date + "-" + month[curr_month]
                + "-" + curr_year;
		        document.getElementById("txt_frm_date").value = tt;
		        document.getElementById("txt_to_date").value = tt;
		    }

        $('[data-toggle="tooltip"]').tooltip();
    }

</script>