
@{
    ViewBag.Title = "DTH_Connection";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="margin-top:5px;">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartialView")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-14px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                    All DTH Connection Data Details
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Add New</span>
                                </button>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead class="navbar" style="color:white;position:inherit;">
                                                <tr>
                                                    <th>Price</th>
                                                    <th>Actual&nbsp;Price</th>
                                                    <th>HD&nbsp;Channel</th>
                                                    <th>Game&nbsp;Channel</th>
                                                    <th>Subscription</th>
                                                    <th>Free&nbsp;Month</th>
                                                    <th>Image</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    <th>View&nbsp;Image</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.dth)
                                                {
                                                    <tr>
                                                        <td>@item.lPrice</td>
                                                        <td>@item.ActualPrice</td>
                                                        <td>@item.HDChannel</td>
                                                        <td>@item.GameChannel</td>
                                                        <td>@item.Subscription</td>
                                                        <td>@item.FreeMonth</td>
                                                        <td><img src="@Url.Content("~/"+item.Image)" width="100" height="70" /></td>
                                                        <td>
                                                            <a class="btn btn-default waves-effect" href='@Url.Action("Edit_DTHConnection", "Home", new {Dthid = item.Id})' style="border:1px solid #c7c2c2;">
                                                                Edit
                                                            </a>

                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delDTH('@item.Id')">
                                                                Delete
                                                            </button>

                                                        </td>
                                                        <td>
                                                            <a class="btn btn-default waves-effect" href="@Url.Content("~/" + item.Image)" style="border:1px solid #c7c2c2;" target="_blank">
                                                                View
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12" style="margin-top:-24px; margin-bottom:30px;">
                        <div class="card">
                            <div class="">

                                <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["first"],@ViewData["second"]);">
                                    OUTSIDE DTH BACKGROUND COLOR
                                </h2>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;HEX CODE&nbsp;</label> <input type="color" id="color1" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtcolor" name="txtcolor" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="fun()" class="btn waves-effect" style="height:45px;border:1px solid #c7c2c2; margin:0px -12px -6px -5px;border-radius:0px;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group" style="border:1px solid #dddddd;">
                                            <div class="input-group">
                                                <div class="input-group-addon colorpicker-element" style="background:#dddddd; color:#000000b8;border:1px solid #dddddd;padding-top:7px;border-radius:0px;">
                                                    <label>&nbsp;RGB CODE&nbsp;</label> <input type="color" id="color2" value="#ff0000">
                                                </div>
                                                <input type="text" id="txtcolor1" name="txtcolor1" class="form-control" autocomplete="off" style="border:1px solid #dddddd;padding-left:9px; height:45px;">
                                                <div class="input-group-addon" style="padding-top:0px;">
                                                    <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="height:45px;border:1px solid #c7c2c2; margin:0px -13px -6px -5px;border-radius:0px;">&nbsp;Set Color</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <br />
                                        <button type="button" id="btn" name="btnsave" onclick="Savecolor()" class="btn " style="margin-top:-19px;height:45px;border:1px solid #c7c2c2;">Save Color</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add Card Content</h4>
            </div>
            @using (Html.BeginForm("DTH_Connection", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Price</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtprice" name="txtprice" maxlength="10" class="form-control" placeholder="Enter Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Actual Price</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtactual" name="txtactual" class="form-control" placeholder="Enter Actual Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter HD Channel</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txthdchannel" name="txthdchannel" class="form-control" required="" placeholder="HD Channel Like:- 10 HD Channel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Subscription</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtsub" name="txtsub" class="form-control" required="" placeholder="Enter Subscription Like:-2 Month Subscription" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Free Month</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtfree" name="txtfree" class="form-control" required="" placeholder="Enter Free Month Like:-2 Month free" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Game Channel</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtgame" name="txtgame" class="form-control" required="" placeholder="Enter Game Channel :-10 Game Channel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <p style="color:red;">Image Size will Be :- 440 * 165 Pixel</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $(function () {
     var succ = '@ViewData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("successfully")) {
                swal("Data Upload!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
        var first = '@ViewData["first"]';
        var second = '@ViewData["second"]';
        if (first != "" && second != "") {
            $("#color1").val(first);
            $("#color2").val(second);
            $("#txtcolor").val(first);
            $("#txtcolor1").val(second);
        }
    });
</script>
<script>
    function fun()
    {
           var col = document.getElementById("color1").value;
           $("#txtcolor").val(col);
           var col = document.getElementById("color2").value;
           $("#txtcolor1").val(col);
    }
</script>
<script>
    function Savecolor()
    {
        var vv = $("#txtcolor").val();
        var col = $("#txtcolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("OuterDTHColorchange", "Home")?first=' + vv + '&second='+ col + '';
        location.href = url;
     }
</script>
<script type="text/javascript">

    function delDTH(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete DTH Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delDTH", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "DTH Data Deleted Successfully.", "success");
                var url = '@Url.Action("DTH_Connection", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("DTH_Connection", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>
