@model Vastwebmulti.Models.tblDTH
@{
    ViewBag.Title = "Edit_DTHConnection";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_Dth", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span>Update DTHConnection Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => model.Id)
                                        <label for="email_address">Price</label>
                                        <div class="form-group">
                                            <div class=""  style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.lPrice, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email_address">Actual Price</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.ActualPrice, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <label for="email_address">HD Channel</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.HDChannel, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email_address">Game Channel</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.GameChannel, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         <div class="row clearfix">
                             <div class="col-md-6">
                                 <label for="email_address">Subscription</label>
                                 <div class="form-group">
                                     <div class="" style="border:1px solid #dddddd;">
                                         @Html.TextBoxFor(model => model.Subscription, new { @class = "form-control" })
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-6">
                                 <label for="email_address">Free Month</label>
                                 <div class="form-group">
                                     <div class="" style="border:1px solid #dddddd;">
                                         @Html.TextBoxFor(model => model.FreeMonth, new { @class = "form-control" })
                                     </div>
                                 </div>
                             </div>
                         </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <label for="setbox">Select Image</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                <input type="file" id="file" name="file" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn bg-blue-grey" style="margin-top:26px;height:36px;">Update</button>
 <a href="@Url.Action("DTH_Connection","Home")" class="btn bg-blue-grey" style="margin-top:26px;height:36px;">Back</a>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>


