@model Vastwebmulti.Models.tblWhiteContactData
@{
    ViewBag.Title = "Edit_ContectUsData";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit_ContectUsData", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                 {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update Contect Us Data Content
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => model.Id)
                                        <label for="email_address">Company Name</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.CompnayName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email_address">Email-Id</label>
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #dddddd;">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="row clearfix">
                                   <div class="col-md-6">
                                       <label for="email_address">Phone No</label>
                                       <div class="form-group">
                                           <div class="" style="border:1px solid #dddddd;">
                                               @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <label for="email_address">Landline No</label>
                                       <div class="form-group">
                                           <div class="" style="border:1px solid #dddddd;">
                                               @Html.TextBoxFor(model => model.LandlineNo, new { @class = "form-control" })
                                           </div>
                                       </div>
                                   </div>
                               </div>
                             <div class="row clearfix">
                                 <div class="col-md-6">
                                     <label for="setbox">Address</label>
                                     <div class="form-group">
                                         <div class="" style="border:1px solid #dddddd;">
                                             @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                         <span style="top:-2px;color:black;">Save Change</span>
                                     </button>
                                     <a href="@Url.Action("Contect_Content","Home")" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                         <span style="top:-2px;color:black;">Back</span>
                                     </a>

                                 </div>
                             </div>
                                
                            </div>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</section>
