@model Vastwebmulti.Models.WhiteLabel_userList
@{
    ViewBag.Title = "Edit_Profile";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }
</style>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid white-l-edit">
        <div class="row clearfix">
               <div class="col-md-12">
                @using (Html.BeginForm("Edit_Profile", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <span style="font-size:21px;"></span> Update Profile Information
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-l-edit-first">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(model => model.Idno)
                                            <label for="email_address" class="required">Email-Id</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="setbox" class="required">Name</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Name)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="package" class="required">Frim Name</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(model => model.FrmName, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FrmName)
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="amount" class="required">Mobile Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Mobile)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="mobileno" class="required">State </label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="edit-white-b" style="border:1px solid #dddddd;">
                                                    @Html.DropDownListFor(m => m.state, (IEnumerable<SelectListItem>)ViewBag.Sate, "-- Select State--", new { @class = "selectpicker form-control", data_live_search = "true", @required = "required" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.state)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="District" class="required">District</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="edit-white-b" style="border:1px solid #dddddd;">
                                                    @Html.DropDownListFor(m => m.district, (IEnumerable<SelectListItem>)ViewBag.District, "-- Select District--", new { @class = "form-control", @required = "required" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.district)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fullname" class="required">Full Address</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Address)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address" class="required">Aadharcard Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.aadharnumber, new { @class = "form-control", onkeypress = "return isNumber(event)", maxlength = "12" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.aadharnumber)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Pancard Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.PanCardnumber, new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.PanCardnumber)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">GST Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.GstNumber, new { @class = "form-control", maxlength = "15", @style = "text-transform:uppercase" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Position</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="edit-white-b" style="border:1px solid #dddddd;">
                                                    @Html.DropDownListFor(m => m.Position, new List<SelectListItem>
                                               {
                                      new SelectListItem{ Text="Select Type",Value=""},
                                     new SelectListItem{Text="Director",Value="Director"},
                                      new SelectListItem{Text="Authorized Signatory",Value="Authorized Signatory"}
                                       }, new { @class = "selectpicker form-control", data_live_search = "true", @required = "required" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.Position)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="fullname" class="required">Pincode Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", onkeypress = "return isNumber(event)", maxlength = "6" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Pincode)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Business Type</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="edit-white-b" style="border:1px solid #dddddd;">
                                                    @Html.DropDownListFor(m => m.BusinessType, new List<SelectListItem>
                                               {
                                     new SelectListItem{ Text="Select Type",Value=""},
                                     new SelectListItem{Text="Agriculture Machinery",Value="Agriculture Machinery"},
                                     new SelectListItem{Text="Agriculture Fertilizer",Value="Agriculture Fertilizer"},
                                     new SelectListItem{Text="Automobiles and Vehicles",Value="Automobiles and Vehicles"},
                                     new SelectListItem{Text="Automobile Tyre Supply and Service",Value="Automobile Tyre Supply and Service"},
                                     new SelectListItem{Text="Beauty and Wellness",Value="Beauty and Wellness"},
                                     new SelectListItem{Text="Advertising Agenices",Value="Advertising Agenices"},
                                     new SelectListItem{Text="accounting & Tax Consultants",Value="accounting & Tax Consultants"},
                                     new SelectListItem{Text="Employment Consultants",Value="Employment Consultants"},
                                     new SelectListItem{Text="Software Development and Sales",Value="Software Development and Sales"},
                                     new SelectListItem{Text="Photo and Video Studio",Value="Photo and Video Studio"},
                                     new SelectListItem{Text="Computer Repair & Services",Value="Computer Repair & Services"},
                                     new SelectListItem{Text="Tent And Awning Shops",Value="Tent And Awning Shops"},
                                     new SelectListItem{Text="Packers and Movers",Value="Packers and Movers"},
                                     new SelectListItem{Text="RealEstate Consultants",Value="RealEstate Consultants"},
                                     new SelectListItem{Text="Laundy and Dry Cleaner",Value="Laundy and Dry Cleaner"},
                                     new SelectListItem{Text="Matrimony Services",Value="Matrimony Services"},
                                     new SelectListItem{Text="Lawyers",Value="Lawyers"},
                                     new SelectListItem{Text="Charitable Organisation",Value="Charitable Organisation"},
                                     new SelectListItem{Text="Driving Classes",Value="Driving Classes"},
                                     new SelectListItem{Text="Elementary and Secondary Schools",Value="Elementary and Secondary Schools"},
                                     new SelectListItem{Text="Correspondance Courses",Value="Correspondance Courses"},
                                     new SelectListItem{Text="Other Events & Entertainment",Value="Other Events & Entertainment"},
                                     new SelectListItem{Text="Security Brokers and Dealers",Value="Security Brokers and Dealers"},
                                     new SelectListItem{Text="Collection Agency",Value="Collection Agency"},

                                    new SelectListItem{Text="fuel Service Stations",Value="fuel Service Stations"},
                                    new SelectListItem{Text="Government",Value="Government"},
                                    new SelectListItem{Text="Home Services",Value="Home Services"},
                                    new SelectListItem{Text="Hospitals and Healthcare",Value="Hospitals and Healthcare"},
                                    new SelectListItem{Text="Hotels, Restaurants and Food",Value="Hotels, Restaurants and Food"},
                                    new SelectListItem{Text="Insurance Sale",Value="Insurance Sale"},
                                    new SelectListItem{Text="Computers and Acessories",Value="Computers and Acessories"},
                                    new SelectListItem{Text="Silver Jewellery",Value="Silver Jewellery"},
                                    new SelectListItem{Text="Hardware Shop (Paint & Building Materials)",Value="Hardware Shop (Paint & Building Materials)"},
                                    new SelectListItem{Text="Mobile shop",Value="Mobile shop"},
                                    new SelectListItem{Text="Home Decor",Value="Home Decor"},
                                    new SelectListItem{Text="Bicycle Shop, Repair and Service",Value="Bicycle Shop, Repair and Service"},
                                    new SelectListItem{Text="Tours and Travel Agency",Value="Tours and Travel Agency"},
                                    new SelectListItem{Text="Trucks and Others",Value="Trucks and Others"},
                                    new SelectListItem{Text="Taxi and Car Rentals",Value="Taxi and Car Rentals"},
                                    new SelectListItem{Text="Cruises Service",Value="Cruises Service"},
                                      new SelectListItem{Text="Tuition and Classes",Value="Tuition and Classes"},
                                    new SelectListItem{Text="Cable Service Providers",Value="Cable Service Providers"},
                                    new SelectListItem{Text="Recharges and Bill Payments",Value="Recharges and Bill Payments"},

                              }, new { @class = "selectpicker form-control", data_live_search = "true", @required = "required" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.BusinessType)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address" class="required">Bank Account Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Bankaccountno, new { @class = "form-control", onkeypress = "return isNumber(event)", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Bankaccountno)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Bank Name</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.bankname, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.bankname)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address" class="required">IFSC Code</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Ifsccode, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Ifsccode)
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Account Holder</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.accountholder, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.accountholder)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address" class="required">City</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.city, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.city)
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Branch&nbsp;Address</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.bankAddress, new { @class = "form-control", @required = "" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.bankAddress)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address" class="required">Pancard Upload</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.pancardPath, new { @type = "file", @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address" class="required">Aadhaar Upload</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.aadharcardPath, new { @type = "file", @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="address">Passport Image Upload</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.Photo, new { @type = "file", @class = "form-control" })
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="address">Firm Registration Upload</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.TextBoxFor(m => m.frimregistrationPath, new { @type = "file", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div style="margin-top:25px;">
                                                <button type="submit" class="btn  " style="height:36px;float:right;background:red;color:#fff; ">Update Profile</button>
                                                <a href="@Url.Action("Profile","Home")" class="btn bg-blue-grey waves-effect" style="padding: 10px 23px !important; float:right;margin-right:15px;">Back</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                           
                                
                                                   
                            </div>
                        </div>
                }
                    </div>
           
            </div>
            
        </div>
    
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />/>
<script language="javascript" type="text/javascript">
                    $(function () {
                        $('#state').change(function () {
                            // alert('Value:' + ' ' + $('#State1').val())
                            var stid = $('#state').val()
                                GetDistrict1(stid)
                        });
                    })

                    function GetDistrict1(_stateId) {
                        var procemessage = "<option value='0'> Please wait...</option>";
                        $("#district").html(procemessage).show();
                        var url = '@Url.Action("DistrictList","Home")'
                        $.ajax({
                            url: url,
                            data: { Id: _stateId },
                            cache: false,
                            type: "POST",
                            success: function (data) {
                                $("#district").html("");
                                for (var x = 0; x < data.length; x++) {
                                    //alert(markup)
                                    $("#district").append($('<option></option>').val(data[x].Value).html(data[x].Text));
                                }

                            },
                            error: function (reponse) {
                                alert("error : " + reponse);
                            }
                        });
                    }
</script>


<script>
    $(function () {

        $('#state').val(@Model.state);
        $('#district').val(@Model.district);

    })
</script>

<script type="text/javascript">
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;
            return true;
        }
</script>

