@model Vastwebmulti.Areas.WHITELABEL.Models.Show_all_flight_commission
@{
    ViewBag.Title = "Flight_Commission";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<script>
    $(function () {

        var chh = 'Flight';
        $('#' + chh + '_show').show();
    });

    function funedit() {
        var chh1 = 'Flight';
        //var vv = document.getElementById("ret").innerText;
        //$('#retailercommission').val(vv);

        $('#' + chh1 + '_show').hide()
        $('#' + chh1 + '_edit').show()
        $('#' + chh1 + '_Save').show()
    }
</script>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                                All Flight Commission
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <center style="margin-right:15px; margin-top:5px; float:right;">
                                <button type="submit" class="btn bg-blue-grey waves-effect" onclick="funedit()">
                                    <i class="material-icons">edit</i>
                                    <span style="top:-2px;">EDIT</span>
                                </button>
                            </center>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="body table-responsive" style="position:inherit; margin-top:-20px;">
                                @using (Html.BeginForm("EditFlightCommission", "Home", FormMethod.Post, new { id = "EditForm" }))
                                {
                                    <div id="Flight_Save" style="padding-bottom: 10px; display:none;">
                                    <input type="submit" value="Save" class="btn btn-primary" style="margin-top:6px;" />
                                    </div>
                                    <table class="table table-bordered" style="width:100%;">
                                      <thead class="navbar" style="color:white;position:inherit;">
                                         <tr>
                                                <th>Whitelabel&nbsp;Commission</th>
                                                <th>Retailer&nbsp;Commission</th>
                                                <th>Dealer&nbsp;Commission</th> 
                                         </tr>
                                      </thead>
                                      <tbody id="Flight_show">
                                        @foreach (var item in Model.Flight1)
                                         {
                                         <tr>
                                         <td>@Html.DisplayFor(modelItem => item.WhitelabelCommission)</td>
                                         <td>@Html.DisplayFor(modelItem => item.WRetailerCommission)</td>
                                         <td>@Html.DisplayFor(modelItem => item.WDealerCommission)</td>
                                         </tr>
                                            }
                                        </tbody>
                                        <tbody id="Flight_edit" style="display:none;">
                                            @{
                                                int i = 0;
                                                foreach (var item in Model.Flight1)
                                                {
                                                    @Html.HiddenFor(o => o.Flight1[i].idno)
                                                    @Html.Hidden("ID", "Flight")
                                                    @Html.HiddenFor(o => o.Flight1[i].WhitelabelCommission)
                                                    <tr>
                                                        <td>
                                                            @item.WhitelabelCommission
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(o => o.Flight1[i].WRetailerCommission) 
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(o => o.Flight1[i].WDealerCommission)
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    window.onload = function () {

        var succ = '@TempData["flight"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>

