
@{
    ViewBag.Title = "Footer_Content";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript"> CKEDITOR.replace('txtedit'); </script>
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="margin-top:5px;">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartialView")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-14px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                    All Footer Pages Content Details
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Add New</span>
                                </button>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead class="navbar" style="color:white;position:inherit;">
                                                <tr>
                                                    <th>Page&nbsp;Name</th>
                                                    <th>Page Content</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.page)
                                                {
                                                    var p = item.FooterPageContent;
                                                    var q = "";
                                                    if (p.Length > 500)
                                                    {
                                                        q = p.Substring(0, 500);
                                                    }
                                                    else
                                                    {
                                                        q = p;
                                                    }
                                                    <tr>
                                                        <td>@item.FooterPagetype</td>
                                                        <td>@Html.Raw(q)</td>
                                                        <td>
                                                            <a class="btn btn-default waves-effect" href='@Url.Action("Edit_FooterPage", "Home", new {PageId = item.Id})' style="border:1px solid #c7c2c2;">
                                                                Edit
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delfooterPage('@item.Id')">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-30px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                    All Footer Services Details
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal1">
                                    <i class="fa fa-plus" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Add New</span>
                                </button>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead class="navbar" style="color:white;position:inherit;">
                                                <tr>
                                                    <th>Service&nbsp;Type</th>
                                                    <th>Service&nbsp;Name&nbsp;1</th>
                                                    <th>Service&nbsp;Name&nbsp;2</th>
                                                    <th>Service&nbsp;Name&nbsp;3</th>
                                                    <th>Service&nbsp;Name&nbsp;4</th>
                                                    <th>Service&nbsp;Name&nbsp;5</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.allfooter)
                                                {
                                                    <tr>
                                                        <td>@item.ServiceType</td>
                                                        <td>@item.ServiceName1</td>
                                                        <td>@item.ServiceName2</td>
                                                        <td>@item.ServiceName3</td>
                                                        <td>@item.ServiceName4</td>
                                                        <td>@item.ServiceName5</td>
                                                        <td>
                                                            <a class="btn btn-default waves-effect" href='@Url.Action("Edit_FooterService", "Home", new { ServiceId = item.Id })' style="border:1px solid #c7c2c2;">
                                                                Edit
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delfooterser('@item.Id')">
                                                                Delete
                                                            </button>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-33px; margin-bottom:30px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000094; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Footer BackGround Image
                                </h2>
                            </div>
                            <div class="body">
                                <div class="demo-radio-button">
                                    <input name="group" type="radio" id="img1" value="img1.png" class="radio-col-red" checked="" onclick="val()">
                                    <label for="img1"><img src="~/FooterImages/img1.png" id="img1" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img2" value="img2.png" class="radio-col-pink" onclick="val()">
                                    <label for="img2"><img src="~/FooterImages/img2.png" id="img2" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img3" value="img3.png" class="radio-col-red" onclick="val()">
                                    <label for="img3"><img src="~/FooterImages/img3.png" id="img3" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img4" value="img4.png" class="radio-col-pink" onclick="val()">
                                    <label for="img4"><img src="~/FooterImages/img4.png" id="img4" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img5" value="img5.png" class="radio-col-red" onclick="val()">
                                    <label for="img5"><img src="~/FooterImages/img5.png" id="img5" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img6" value="img6.png" class="radio-col-pink" onclick="val()">
                                    <label for="img6"><img src="~/FooterImages/img6.png" id="img6" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img7" value="img7.png" class="radio-col-red" onclick="val()">
                                    <label for="img7"><img src="~/FooterImages/img7.png" id="img7" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img8" value="img8.png" class="radio-col-pink" onclick="val()">
                                    <label for="img8"><img src="~/FooterImages/img8.png" id="img8" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img9" value="img9.png" class="radio-col-red" onclick="val()">
                                    <label for="img9"><img src="~/FooterImages/img9.png" id="img9" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img10" value="img10.png" class="radio-col-pink" onclick="val()">
                                    <label for="img10"><img src="~/FooterImages/img10.png" id="img10" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img11" value="img11.png" class="radio-col-pink" onclick="val()">
                                    <label for="img11"><img src="~/FooterImages/img11.png" id="img11" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img12" value="img12.png" class="radio-col-pink" onclick="val()">
                                    <label for="img12"><img src="~/FooterImages/img12.png" id="img12" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img13" value="img13.png" class="radio-col-pink" onclick="val()">
                                    <label for="img13"><img src="~/FooterImages/img13.png" id="img13" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img14" value="img14.png" class="radio-col-pink" onclick="val()">
                                    <label for="img14"><img src="~/FooterImages/img14.png" id="img14" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img15" value="img15.png" class="radio-col-pink" onclick="val()">
                                    <label for="img15"><img src="~/FooterImages/img15.png" id="img15" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img16" value="img16.png" class="radio-col-pink" onclick="val()">
                                    <label for="img16"><img src="~/FooterImages/img16.png" id="img16" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img17" value="img17.png" class="radio-col-pink" onclick="val()">
                                    <label for="img17"><img src="~/FooterImages/img17.png" id="img17" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img18" value="img18.png" class="radio-col-pink" onclick="val()">
                                    <label for="img18"><img src="~/FooterImages/img18.png" id="img18" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img19" value="img19.png" class="radio-col-pink" onclick="val()">
                                    <label for="img19"><img src="~/FooterImages/img19.png" id="img19" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img20" value="img20.png" class="radio-col-pink" onclick="val()">
                                    <label for="img20"><img src="~/FooterImages/img20.png" id="img20" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img21" value="img21.png" class="radio-col-pink" onclick="val()">
                                    <label for="img21"><img src="~/FooterImages/img21.png" id="img21" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img22" value="img22.png" class="radio-col-pink" onclick="val()">
                                    <label for="img22"><img src="~/FooterImages/img22.png" id="img22" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img23" value="img23.png" class="radio-col-pink" onclick="val()">
                                    <label for="img23"><img src="~/FooterImages/img23.png" id="img23" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img24" value="img24.png" class="radio-col-pink" onclick="val()">
                                    <label for="img24"><img src="~/FooterImages/img24.png" id="img24" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img25" value="img25.png" class="radio-col-pink" onclick="val()">
                                    <label for="img25"><img src="~/FooterImages/img25.png" id="img25" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img26" value="img26.png" class="radio-col-pink" onclick="val()">
                                    <label for="img26"><img src="~/FooterImages/img26.png" id="img26" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img27" value="img27.png" class="radio-col-pink" onclick="val()">
                                    <label for="img27"><img src="~/FooterImages/img27.png" id="img27" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img28" value="img28.png" class="radio-col-pink" onclick="val()">
                                    <label for="img28"><img src="~/FooterImages/img28.png" id="img28" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img29" value="img29.png" class="radio-col-pink" onclick="val()">
                                    <label for="img29"><img src="~/FooterImages/img29.png" id="img29" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img30" value="img30.png" class="radio-col-pink" onclick="val()">
                                    <label for="img30"><img src="~/FooterImages/img30.png" id="img30" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img31" value="img31.png" class="radio-col-pink" onclick="val()">
                                    <label for="img31"><img src="~/FooterImages/img31.png" id="img31" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img32" value="img32.png" class="radio-col-pink" onclick="val()">
                                    <label for="img32"><img src="~/FooterImages/img32.png" id="img32" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img33" value="img33.png" class="radio-col-pink" onclick="val()">
                                    <label for="img33"><img src="~/FooterImages/img33.png" id="img33" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img34" value="img34.png" class="radio-col-pink" onclick="val()">
                                    <label for="img34"><img src="~/FooterImages/img34.png" id="img34" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img35" value="img35.png" class="radio-col-pink" onclick="val()">
                                    <label for="img35"><img src="~/FooterImages/img35.png" id="img35" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img36" value="img36.png" class="radio-col-pink" onclick="val()">
                                    <label for="img36"><img src="~/FooterImages/img36.png" id="img36" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img37" value="img37.png" class="radio-col-pink" onclick="val()">
                                    <label for="img37"><img src="~/FooterImages/img37.png" id="img37" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img38" value="img38.png" class="radio-col-pink" onclick="val()">
                                    <label for="img38"><img src="~/FooterImages/img38.png" id="img38" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img39" value="img39.png" class="radio-col-pink" onclick="val()">
                                    <label for="img39"><img src="~/FooterImages/img39.png" id="img39" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img40" value="img40.png" class="radio-col-pink" onclick="val()">
                                    <label for="img40"><img src="~/FooterImages/img40.png" id="img40" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img41" value="img41.png" class="radio-col-pink" onclick="val()">
                                    <label for="img41"><img src="~/FooterImages/img41.png" id="img41" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img42" value="img42.png" class="radio-col-pink" onclick="val()">
                                    <label for="img42"><img src="~/FooterImages/img42.png" id="img42" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img43" value="img43.png" class="radio-col-pink" onclick="val()">
                                    <label for="img43"><img src="~/FooterImages/img43.png" id="img43" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img44" value="img44.png" class="radio-col-pink" onclick="val()">
                                    <label for="img44"><img src="~/FooterImages/img44.png" id="img44" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img45" value="img45.png" class="radio-col-pink" onclick="val()">
                                    <label for="img45"><img src="~/FooterImages/img45.png" id="img45" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img46" value="img46.png" class="radio-col-pink" onclick="val()">
                                    <label for="img46"><img src="~/FooterImages/img46.png" id="img46" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img47" value="img47.png" class="radio-col-pink" onclick="val()">
                                    <label for="img47"><img src="~/FooterImages/img47.png" id="img47" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img48" value="img48.png" class="radio-col-pink" onclick="val()">
                                    <label for="img48"><img src="~/FooterImages/img48.png" id="img48" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img49" value="img49.png" class="radio-col-pink" onclick="val()">
                                    <label for="img49"><img src="~/FooterImages/img49.png" id="img49" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img50" value="img50.png" class="radio-col-pink" onclick="val()">
                                    <label for="img50"><img src="~/FooterImages/img50.png" id="img50" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img51" value="img51.png" class="radio-col-pink" onclick="val()">
                                    <label for="img51"><img src="~/FooterImages/img51.png" id="img51" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img52" value="img52.png" class="radio-col-pink" onclick="val()">
                                    <label for="img52"><img src="~/FooterImages/img52.png" id="img52" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img53" value="img53.png" class="radio-col-pink" onclick="val()">
                                    <label for="img53"><img src="~/FooterImages/img53.png" id="img53" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img54" value="img54.png" class="radio-col-pink" onclick="val()">
                                    <label for="img54"><img src="~/FooterImages/img54.png" id="img54" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img55" value="img55.png" class="radio-col-pink" onclick="val()">
                                    <label for="img55"><img src="~/FooterImages/img55.png" id="img55" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img56" value="img56.png" class="radio-col-pink" onclick="val()">
                                    <label for="img56"><img src="~/FooterImages/img56.png" id="img56" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img57" value="img57.png" class="radio-col-pink" onclick="val()">
                                    <label for="img57"><img src="~/FooterImages/img57.png" id="img57" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img58" value="img58.png" class="radio-col-pink" onclick="val()">
                                    <label for="img58"><img src="~/FooterImages/img58.png" id="img58" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img59" value="img59.png" class="radio-col-pink" onclick="val()">
                                    <label for="img59"><img src="~/FooterImages/img59.png" id="img59" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img60" value="img60.png" class="radio-col-pink" onclick="val()">
                                    <label for="img60"><img src="~/FooterImages/img60.png" id="img60" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img61" value="img61.png" class="radio-col-pink" onclick="val()">
                                    <label for="img61"><img src="~/FooterImages/img61.png" id="img61" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img62" value="img62.png" class="radio-col-pink" onclick="val()">
                                    <label for="img62"><img src="~/FooterImages/img62.png" id="img62" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img63" value="img63.png" class="radio-col-pink" onclick="val()">
                                    <label for="img63"><img src="~/FooterImages/img63.png" id="img63" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img64" value="img64.png" class="radio-col-pink" onclick="val()">
                                    <label for="img64"><img src="~/FooterImages/img64.png" id="img64" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img65" value="img65.png" class="radio-col-pink" onclick="val()">
                                    <label for="img65"><img src="~/FooterImages/img65.png" id="img65" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img66" value="img66.png" class="radio-col-pink" onclick="val()">
                                    <label for="img66"><img src="~/FooterImages/img66.png" id="img66" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img67" value="img67.png" class="radio-col-pink" onclick="val()">
                                    <label for="img67"><img src="~/FooterImages/img67.png" id="img67" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img68" value="img68.png" class="radio-col-pink" onclick="val()">
                                    <label for="img68"><img src="~/FooterImages/img68.png" id="img68" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img69" value="img69.png" class="radio-col-pink" onclick="val()">
                                    <label for="img69"><img src="~/FooterImages/img69.png" id="img69" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img70" value="img70.png" class="radio-col-pink" onclick="val()">
                                    <label for="img70"><img src="~/FooterImages/img70.png" id="img70" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img71" value="img71.png" class="radio-col-pink" onclick="val()">
                                    <label for="img71"><img src="~/FooterImages/img71.png" id="img71" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img72" value="img72.png" class="radio-col-pink" onclick="val()">
                                    <label for="img72"><img src="~/FooterImages/img72.png" id="img72" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img73" value="img73.png" class="radio-col-pink" onclick="val()">
                                    <label for="img73"><img src="~/FooterImages/img73.png" id="img73" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img74" value="img74.png" class="radio-col-pink" onclick="val()">
                                    <label for="img74"><img src="~/FooterImages/img74.png" id="img74" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img75" value="img75.png" class="radio-col-pink" onclick="val()">
                                    <label for="img75"><img src="~/FooterImages/img75.png" id="img75" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img76" value="img76.png" class="radio-col-pink" onclick="val()">
                                    <label for="img76"><img src="~/FooterImages/img76.png" id="img76" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img77" value="img77.png" class="radio-col-pink" onclick="val()">
                                    <label for="img77"><img src="~/FooterImages/img77.png" id="img77" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img78" value="img78.png" class="radio-col-pink" onclick="val()">
                                    <label for="img78"><img src="~/FooterImages/img78.png" id="img78" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img79" value="img79.png" class="radio-col-pink" onclick="val()">
                                    <label for="img79"><img src="~/FooterImages/img79.png" id="img79" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img80" value="img80.png" class="radio-col-pink" onclick="val()">
                                    <label for="img80"><img src="~/FooterImages/img80.png" id="img80" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img81" value="img81.png" class="radio-col-pink" onclick="val()">
                                    <label for="img81"><img src="~/FooterImages/img81.png" id="img81" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img82" value="img82.png" class="radio-col-pink" onclick="val()">
                                    <label for="img82"><img src="~/FooterImages/img82.png" id="img82" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img83" value="img83.png" class="radio-col-pink" onclick="val()">
                                    <label for="img83"><img src="~/FooterImages/img83.png" id="img83" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img84" value="img84.png" class="radio-col-pink" onclick="val()">
                                    <label for="img84"><img src="~/FooterImages/img84.png" id="img84" style="height:30px; width:50px;" class="img-responsive" /></label>

                                    <input name="group" type="radio" id="img85" value="img85.png" class="radio-col-pink" onclick="val()">
                                    <label for="img85"><img src="~/FooterImages/img85.png" id="img85" style="height:30px; width:50px;" class="img-responsive" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add Footer Help,Terms & Condition And Privacy Content</h4>
            </div>
            @using (Html.BeginForm("Footer_Content", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Any One</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.DropDownList("ddlPages", new List<SelectListItem>
                         {
   new SelectListItem{ Text="Please Select",Value="",},
   new SelectListItem{ Text="Help",Value="Help",},
   new SelectListItem{Text="Privacy",Value="Privacy"},
   new SelectListItem{Text="Terms & Condition",Value="Terms & Condition"}
   }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Enter Page Content</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <textarea id="txtedit" name="txtedit" class="ckeditor" required=""></textarea>
                                            <input type="hidden" id="page" name="page" value="Yes" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>


                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add Footer Services Content</h4>
            </div>
            @using (Html.BeginForm("Footer_Content", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Service</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            @Html.DropDownList("ddlServices", new List<SelectListItem>
                         {
   new SelectListItem{ Text="Please Select",Value="",},
   new SelectListItem{ Text="Recharge & Bill",Value="Recharge & Bill",},
   new SelectListItem{Text="Travel & Hotel",Value="Travel & Hotel"},
   new SelectListItem{Text="E-Commerce",Value="E-Commerce"},
   new SelectListItem{Text="Gift Cards",Value="Gift Cards"}
   }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name 1</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtService1" name="txtService1" class="form-control" required="" placeholder="Enter Service Name 1" />
                                            <input type="hidden" id="service" name="service" value="Yes" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name 2</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtService2" name="txtService2" class="form-control" required="" placeholder="Enter Service Name 2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name 3</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtService3" name="txtService3" class="form-control" required="" placeholder="Enter Service Name 3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name 4</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtService4" name="txtService4" class="form-control" required="" placeholder="Enter Service Name 4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Service Name 5</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #c7c2c2;">
                                            <input type="text" id="txtService5" name="txtService5" class="form-control" required="" placeholder="Enter Service Name 5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;" onclick="return check()">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
    window.onload = function () {

        var succ = '@ViewData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
        var succ = '@TempData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>
<script type="text/javascript">

    function delfooterPage(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Footer Pages Content Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delfooterPage", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Footer Pages Content Data Deleted Successfully.", "success");
                var url = '@Url.Action("Contect_Content", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Contect_Content", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>


<script>
            function val() {
                var vv = document.querySelector('input[name="group"]:checked').value;
                var url = '@Url.Action("footerImage", "Home")?image=' + vv + '';
                location.href = url;
            }
</script>