@model IEnumerable<Vastwebmulti.Models.show_forgot_user_Result>
@{
    ViewBag.Title = "ForgotpassLink";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                @Html.Partial("Userpartialview")
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="web-white-filter" style="float:right;">
                                <table class="dataTable js-exportable ">
                                    <thead>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="body" style="padding:0px;margin-top:10px;">
                        <div class="table-responsive web-white-table" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Email&nbsp;ID</th>
                                        <th>Role</th>
                                        <th>Link</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.Email</td>
                                            <td>@item.Roles</td>
                                            <td><a href="@item.forgotlink" class="btn  m-t-15 waves-effect" style="border:1px solid #c7c2c2;margin-top:-3px;" title="Please Click this Button Forgot Password Your User" target="_blank">Click Me</a></td>
                                            <td>@item.Date</td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

