@model Vastwebmulti.Areas.WHITELABEL.ViewModel.FundTransferWhitelabelToDLM
@{
    ViewBag.Title = "FundTransfer";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";

    var favimage = "";
}


<style>
    span {
        color: #fff !important;
    }

    section.content {
        margin: 87px 0px 0 164px;
    }

    .datepicker table tr td span {
        color: #555 !important;
    }

        .datepicker table tr td span.active {
            color: #fff !important;
        }


    .tab-menur li a::before {
        content: '';
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 2px solid #bbb;
        border-radius: 50%;
        margin: 2px 6px 0px 0px;
    }

    .tab-menur li a.active-ar::before {
        border-color: var(--main-bg-lcolor);
        background: var(--main-bg-lcolor);
    }

    .tab-menur li a.active-ar {
        color: var(--main-bg-lcolor);
    }

    .fund-user-left.fund-trasfer-left .nav-tabs li {
        width: 50% !important;
    }

    .fund-t-dalear input {
        border: 1px solid #bbb;
        height: 32px;
        padding: 0px 5px;
        padding-top: 0px !important;
        width: 100%;
        padding-left: 40px;
    }

    .fund-t-dalear button {
        height: 32px;
        border: 1px solid #c7c2c2;
        background: #fff;
    }

    .for-change-fund {
        margin: 0px;
        width: 100%;
    }

    .fund-fistory {
        float: left;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

        .fund-fistory sub {
            position: absolute;
            bottom: 4px !important;
            top: 24px;
            line-height: 8px;
            left: 11px;
            font-size: 9px;
        }

    .nav-tabs li.active .for-change-fund .fa {
        float: left;
        font-size: 44px;
        transform: rotate(-90deg);
        margin-left: 5px;
        color: var(--main-bg-lcolor) !important;
        margin-top: -2px;
        line-height: 36px;
    }

    .fund-trasfer-right .nav-tabs + .tab-content {
        padding: 5px !important;
    }

    .fund-trasfer-right .tab-content {
        height: 74vh;
    }

    .secondclassaddew-design {
        height: 75vh !important;
    }

    .fundtransfer-retailer-date .trypurchasecewq input {
        border: 1px solid #555;
    }

    .fundtransfer-retailer-date .trypurchasecewq .custom-date-icon {
        border: 1px solid #555;
        height: 31px !important;
        top: 1px !important;
    }

    .fundtransfer-retailer-date .apiclass-satenew button {
        border: 1px solid #555 !important;
    }

    .addexcelpdf-retailer .trypurchasecewq {
        width: 27%;
        padding-right: 5px;
    }

    .addexcelpdf-retailer .col-md-3.buttonPdf {
        padding: 0px !important;
    }

        .addexcelpdf-retailer .col-md-3.buttonPdf button {
            border: 1px solid #555 !important;
            margin-top: 1px;
            background-color: #fff !important;
            color: #555;
        }

    .addexcelpdf-retailer .apiclass-satenew button {
        height: 32px !important;
        margin-top: 1px !important;
    }

    .col-md-3.buttonPdf button:last-child {
        padding-left: 15px;
    }

    .addexcelpdf-retailer .trypurchasecewq input {
        text-align: center;
    }

    .selectbeforeclass::before {
        display: block;
        float: right;
        content: "";
        border: 1px solid #555;
        height: 7px;
        width: 7px;
        position: absolute;
        top: 30%;
        right: 8px;
        border-top: 0;
        border-left: 0;
        transform: rotate(46deg);
        pointer-events: none;
    }

    .fourthdesign-retailer-allnone .col-md-4 {
        padding-left: 0;
    }

    @@media screen and (max-width:1366px) {
        .bread-same-all-page.allpage-responshivenew {
            margin-top: 5px !important;
        }
    }

    @@media screen and (max-width:766px) {
        .col-md-3.buttonPdf {
            display: block;
        }

        .fourthdesign-retailer-allnone .col-md-4, .fourthdesign-retailer-allnone .col-md-8 {
            padding: 0;
        }
    }

    @@media screen and (max-width:420px) {
        #leftsidebar.sidebar.retailer-header-left, .second-design #leftsidebar.retailer-header-left.header-left-newresponshive.newresponshive-secondde {
            margin-top: -88px !important;
        }

        .addexcelpdf-retailer .trypurchasecewq {
            width: 50%;
        }
    }
</style>

<section class="content fundretailer-content-responshive content-margin-second content-fourdesign-page allpage-four-design-section">
    <div class="container-fluid">
        <!--Four-Design-Page-Header-Start-->

        <!--<div class="page-title-box-fourde">
            <h3>Request Manualy</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard", "Home")" style="color:var(--fullbodybg-four);background: transparent;margin: 0;padding: 0;">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>-->
                @*<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <!--<li><a href="javascript:void(0);" style="background: transparent; margin: 0; padding: 0;">Request Manualy</a></li>
            </ul>
        </div>-->

        <!--Four-Design-Page-Header-End-->
        <div class="bread-same-all-page allpage-responshivenew marginbottom-retailer-second">
            <div class="col-md-6" style="width: auto; float: left; padding: 0;">
                <ul>
                    <li class="smli">
                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px;margin-top: -2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Fund <sup style="top: -5px;left: 2px;">2</sup>&nbsp;&nbsp;Request
                    </li>
                </ul>
            </div>
            <div class="col-md-6 searchtable-second-ret" style="width:auto;float:right;padding-right:0;">

                <div class="for-search retailer-forsearch-second forsearch-third-retailer">
                    <input id="myInput" name="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" style="padding:3px 5px;border: 1px solid #aaa4a4;" />

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <script>
            $(function () {

                $('#firstontyimetabe').click();

            })
        </script>
        <div class="row clearfix four-design-table-design">
            <div class="col-md-4">
                <div class="fund-trasfer-left fund-user-left">
                    <ul class="nav nav-tabs tabtypeschages tabtypeschages-fullpage" id="tabs">
                        @*<li class="tab-link current active tabChangeType" data-tabname="ReatilertoRetailer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="ReatilertoRetailer"})" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true">Retailer<sup style="top: -5px;left: 2px;">2</sup>&nbsp;&nbsp;Reatiler</a></li>*@
                        <li id="firstontyimetabe" class="tab-link tabChangeType current active" data-tabname="Purchase_ORDER" data-href="@Url.Action("WLTOADMIN","Home",new { tabtype="Purchase_ORDER"})" data-tab="tab-1" style="width:100% !important;"><a data-toggle="tab" href="#menu1" aria-expanded="false">Purchase Rerquest &nbsp;&nbsp; &nbsp;</a></li>
                        @*<li class="tab-link tabChangeType" data-tabname="FundTranferAllReport" data-href="@Url.Action("WLTOADMIN","Home",new { tabtype="FundTranferAllReport"})" data-tab="tab-1"><a href="#" data-toggle="tab">Fund&nbsp;Recive&nbsp;Reports&nbsp;</a></li>*@


                    </ul>

                    <div class="width100 float-left ">


                        <div id="menu1" class="width100 float-left tab-pane fade active in">

                            <div class="fund-transfer-form textarea-classadd changeback-four-design" id="frmdata1">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div>

                                        <div class="old-crd old-crd-showoption fullbodydycolorbg" style="border:0px; position: absolute; color: #fff !important;"><span>My Old Cr</span> = 100</div>
                                    </div>
                                </div>

                                <!--<div class="w-100 float-left tab-menur tab-menubaar-responsive">
                                    <ul class="w-100 float-left">
                                        <li><a href="#" data-oldcr="@Url.Action("R_Creditchk","Home")" class="chkoldcredit tab-ar" data-usertype="Admin" data-id="tab2">Request&nbsp;To&nbsp;Admin</a></li>
                                    </ul>
                                </div>-->
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>
                                        Payment Mode
                                    </label>
                                    <div>

                                        <div class="custom-district custom-district-retailercss selectbeforeclass">
                                            <select id="ddldealerPaymentMode" name="ddldealerPaymentMode" onchange="changemoded(this)">
                                                <option value="Cash">Cash</option>
                                                @*<option value="Branch / CMS Deposite">Branch / CMS Deposite</option>
                                                <option value="Online Transfer">Online Transfer</option>
                                                <option value="Wellets Transfer">Wellets Transfer</option>*@
                                                <option value="Credit">Credit</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dcollection-by ">
                                    <label>Collection By </label>
                                    <div>
                                        <input type="text" id="txtdlmretcollection" name="txtdlmretcollection" placeholder="Enter Collection Person" />
                                    </div>
                                </div>
                                @*<div class="col-md-12 col-sm-12 col-xs-12 dtransfer-type" style="display:none;">
                                    <label>Transfer Type </label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="ddlAdmintransfertype" name="ddlAdmintransfertype">
                                                <option>Neft</option>
                                                <option>RTGS</option>
                                                <option>IMPS</option>
                                                <option>Same Bank</option>
                                                <option>UPI</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="col-md-12 col-sm-12 col-xs-12 dbank-select" style="display:none;">
                                    <label>Select Bank </label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="dealerbank" name="dealerbank">
                                                <option>select</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="col-md-12 col-sm-12 col-xs-12 daccount-no" style="display:none;">
                                    <label>Account No.</label>
                                    <div>
                                        <input type="text" id="txtdealeraccountno" readonly name="txtdealeraccountno" placeholder="Enter Account No." />
                                    </div>
                                </div>*@
                                @*<div class="col-md-12 col-sm-12 col-xs-12 dutr-no" style="display:none;">
                                    <label>UTR No.</label>
                                    <div>
                                        <input type="text" id="txtdelmretutr" name="txtdelmretutr" placeholder="Enter UTR No." />
                                    </div>
                                </div>*@
                                @*<div class="col-md-12 col-sm-12 col-xs-12 dwallet-select" style="display:none;">
                                    <label>Select Wallet</label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="dealerwallets" name="dealerwallets">
                                                <option>select</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="col-md-12 col-sm-12 col-xs-12 dwallet-no" style="display:none;">
                                    <label>Wallet No.</label>
                                    <div>
                                        <input type="text" id="txtdealerwalletno" readonly name="txtdealerwalletno" placeholder="Enter Wallet No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dtranstion-no" style="display:none;">
                                    <label>Transtion No.</label>
                                    <div>
                                        <input type="text" id="txtdlmrettranctionno" name="txtdlmrettranctionno" placeholder="Enter Transtion No." />
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 dsubject-reason" style="display:none;">
                                    <label>Subject (Reason)</label>
                                    <div>
                                        <input type="text" id="txtdlmretreason" name="txtdlmretreason" placeholder="Enter Credit Detail" />
                                    </div>
                                </div>*@

                                <div class="col-md-12 col-sm-12 col-xs-12 damount ">
                                    <label>Enter Amount </label>
                                    <div>
                                        <input type="text" id="txtdlmretamount" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" name="txtdlmretamount" placeholder="Enter Amount" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ddeposite-slip-no" style="display:none;">
                                    <label>Deposite Slip No. </label>
                                    <div>
                                        <input type="text" id="txtdeposno" name="txtdeposno" placeholder="Enter Deposite No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dfund-comment">
                                    <label>Comments</label>
                                    <div>
                                        <textarea id="dlmretcomment" name="dlmretcomment"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label id="errorsssnd"></label>
                                        <button id="btndistributorInform" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                            Submit
                                        </button>
                                    </div>
                                </div>


                            </div>

                            <div id="DIstribotorshowinformation" style="display:none" class="fund-transfer-form show-after-submit">


                                @using (Ajax.BeginForm("PurchasertequestWhiteLabelToadmin", "Home",
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "OnSuccess11",
                                    OnFailure = "OnFailure",
                                    UpdateTargetId = "tblshowMasterD",
                                                        // LoadingElementId = "progress"
                                                    }))
                                {

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            <input type="hidden" id="Payto" name="Payto" value="Distributor" />

                                            <div id="hdddninputvalues">

                                            </div>
                                            <button id="btnsendpurorder" class="fullbodydycolorbg" type="submit" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-left:10px;">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="fund-trasfer-right fund-user-right">
                    <ul class="nav nav-tabs responsive-sateulce" id="tabs">
                        <li class="tab-link current active firstclassactive" data-tab="tab-1" style="width:22%;">
                            <a data-toggle="tab" aria-expanded="true" style="padding: 0px 10px;float:left;">
                                <label class="for-change-fund">
                                    <span class="fund-fistory">History<sub class="tmw-total-color-one fullbodydycolorbg">Fund Received</sub></span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </label>
                            </a>
                        </li>
                        <li class="fundtransfer-retailer-date addexcelpdf-retailer" style="width: 65%;float: right;margin-top: 4px;margin-right: 20px;">
                            <div class="row fund-t-dalear fund-t-dalear-responshive">

                                <div class="col-md-5 date-sateclassee trypurchasecewq trypurchasecewq-fi" style="padding-left: 0px;">
                                    <div class="custom-date-icon" style="height: 32px;border-top:0px;border-bottom:0px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                </div>
                                <div class="col-md-5 date-sateclassee trypurchasecewq" style="padding-left: 0px;">
                                    <div class="custom-date-icon" style="height: 32px;border-top:0px;border-bottom:0px;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                    </div>
                                    <input type="datetime" id="txt_to_date" name="txt_to_date" style=" margin-top: 1px !important;" />
                                </div>
                                <div class="col-md-2 apiclass-satenew" style="padding:0px;">
                                    <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="padding:0px 15px;float:left;height:30px;margin-top:2px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>Search
                                    </button>
                                </div>
                                @*<div class="col-md-3 buttonPdf retailer-pdf-second" style="text-align:right;margin:0px;float:right;width:auto;padding-top: 3px;padding-left: 5px;">

                                    <button>PDF</button>
                                    <button>Export</button>

                                </div>*@
                            </div>
                        </li>

                    </ul>
                    <div id="tab-1" class="width100 float-left tab-content current secondclassaddew secondclassaddew-design" style="overflow:auto;">
                        <div class="for-un">
                            @*<table>
                                    <tr>
                                        <td>

                                            <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                        </td>
                                        <td>
                                            <input type="datetime" id="txt_to_date" name="txt_to_date" />
                                        </td>
                                        <td>
                                            <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                <i class="fa fa-search"></i>

                                            </button>
                                        </td>
                                    </tr>
                                </table>*@

                        </div>
                        <div id="tblshowMasterD" class="table-responsive tblshowMasterclassadd tablethirddesign-newnew" style="width: 100%; overflow: auto; height: 100%;">
                            @Html.Partial("_Purchase_OrderReports")

                        </div>
                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!----------master distributor fund transfer----->

    <div class="modal fund-tr-history  in" id="m-d-fund-transfer" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document" style="margin:0px;float:right;margin-top: 77px;">

            <div class="modal-content width100 float-left">
                <div class="modal-header width100 float-left ecomm-pop-head">

                    <h5 id="mdhis">Retailer Fund Transfered History</h5>


                    <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>


                </div><!--.modal-header-->
                <div class="modal-body width100 float-left ecomm-pop-body">
                    <div class="float-left width100">
                        <form class="first-form">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label id="mdfrmname">Retailer Firm Name</label>

                                        <input class="form-control" readonly="readonly" required="required" id="txtmdfirmnameshow" type="text">

                                    </div>
                                </div>

                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txttotalamountshow">
                                    </div>
                                </div>

                            </div><!--.row-->


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">Reatiler Pre Remain</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPREREMAINshow">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">Reatiler Post Remain</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTREMAINshow">
                                    </div>
                                </div>
                            </div><!--.row-->



                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPrecredit">Your Pre Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPRECREDITshow">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostcredit">Your Post Balance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshow">
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Request Timing</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtREQUESTTIMINGshow">
                                    </div>
                                </div>
                                @*<div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Transfered Timing</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtTRANSFERTIMINGshow">
                                        </div>
                                    </div>*@
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label>Comments</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtCOMMNETSshow" style="height:50px;">

                                    </div>
                                </div>

                            </div><!--.row-->



                        </form>

                        <!--=============-->

                    </div><!--.modal-body-->


                </div>

            </div>
        </div>
    </div>


    <!---------Purchase request send-->
    <div class="modal fund-tr-history  in purchase-model purchase-model-newadd model-responshive-full" id="m-d-fund-transfer12" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
        <div class="modal-dialog" role="document" style="margin:0px;float:right;height:auto;">

            <div class="modal-content width100 float-left">
                <div class="modal-header width100 float-left ecomm-pop-head">

                    <h5 id="mdhis">Purchase Order History</h5>


                    <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>


                </div><!--.modal-header-->
                <div class="modal-body width100 float-left ecomm-pop-body">
                    <div class="float-left width100">
                        <form class="first-form">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="form-group">
                                        <label id="mdfrmname">Request To</label>

                                        <input class="form-control" readonly="readonly" required="required" id="txtfromshow" type="text">

                                    </div>
                                </div>

                            </div><!--.row-->
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Order No</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtordernohow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txtstsshow" type="text">
                                        </div>
                                    </div>
                                </div>*@<!--.row-->
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>paymode</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymodeshow">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="lblcollreason">utrno</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcollreason">
                                        </div>
                                    </div>
                                </div>*@<!--.row-->
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                            <div class="form-group">
                                                <label>Credit Adjust</label>
                                                <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcradjustshow">
                                            </div>
                                        </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label>Comment</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                        </div>
                                    </div>
                                </div>*@<!--.row-->


                            <div class="row">
                                @*<div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label id="mdPreremain">amount</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountshow">
                                        </div>
                                    </div>*@
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPrecredit">response date</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtresponsedateshow">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">request date</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtreqdateshow">
                                    </div>
                                </div>
                            </div><!--.row-->



                            <div class="row">

                                @*<div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                        <div class="form-group">
                                            <label id="mdPostcredit">M/D Post Credit</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshow">
                                        </div>
                                    </div>*@
                            </div><!--.row-->
                            @*<div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>cashDepositCharge</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" id="txtcashDepositChargehow">

                                    </div>
                                </div>*@
                            @*<div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>crests</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" id="txtcrestsshow">

                                    </div>
                                </div>*@
                            @*<div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>finalAmount</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtfinalAmountshow" style="height:50px;">

                                        </div>
                                    </div>
                                </div>*@<!--.row-->

                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshow">
                                    </div>
                                </div>
                            </div><!--.row-->



                        </form>

                        <!--=============-->

                    </div><!--.modal-body-->


                </div>

            </div>
        </div>
    </div>



    <!-------------ALLFUNDRECIVE-->
    <div class="modal fund-tr-history  in purchase-model" id="ALLm-d-fund-transfer12" tabindex="-1" role="dialog" style="display: none; margin-top: 77px;">
        <div class="modal-dialog" role="document" style="margin:0px;float:right;">

            <div class="modal-content width100 float-left">
                <div class="modal-header width100 float-left ecomm-pop-head">

                    <h5 id="mdhis">Fund Receive History</h5>


                    <button type="button" class="btn waves-effect " data-dismiss="modal" style="float:right;border:0px;color:var(--main-bg-lcolor);padding:0px; height:auto;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>


                </div><!--.modal-header-->
                <div class="modal-body width100 float-left ecomm-pop-body">
                    <div class="float-left width100">
                        <form class="first-form">
                            @*<div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="form-group">
                                            <label id="mdfrmname">TO</label>

                                            <input class="form-control" readonly="readonly" required="required" id="txtfromshow" type="text">

                                        </div>
                                    </div>

                                </div>*@<!--.row-->





                            <div class="row">
                                @*<div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <div class="form-group">
                                            <label>Order No</label>
                                            <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtordernohow">
                                        </div>
                                    </div>*@
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" id="txtstsshowfundrecive" type="text">
                                    </div>
                                </div>
                            </div>
                            <!--.row-->

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>paymode</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtpaymodeshowfundrecive">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="lblcollreasonfundrecive">utrno</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtcollreasonfundrecive">
                                    </div>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>PreBalance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtPrebalanceshowrecive">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label>PostBalance</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtPostbalanceshowrecive">
                                    </div>
                                </div>
                            </div>

                            <!--.row-->


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPreremain">amount</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtamountshowfundrecive">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostremain">reqdate</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtreqdateshowfundrecive">
                                    </div>
                                </div>
                            </div><!--.row-->



                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label id="mdPrecredit">M/D Pre Credit</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtPrecreditshowfundrecive">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label id="mdPostcredit">M/D Post Credit</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase" type="text" id="txtMDPOSTCREDITshowfundrecive">
                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>cashDepositCharge</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" id="txtcashDepositChargehowfundrecive">

                                    </div>
                                </div>
                                @*<div class="col-md-6 col-sm-6 col-xs-12 ">
                                        <div class="form-group">
                                            <label>crests</label>

                                            <input class="form-control" readonly="readonly" required="required" type="text" id="txtcrestsshow">

                                        </div>
                                    </div>*@
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>finalAmount</label>

                                        <input class="form-control" readonly="readonly" required="required" type="text" value="" id="txtfinalAmountshowfundrecive" style="height:50px;">

                                    </div>
                                </div>
                            </div><!--.row-->

                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12 col-2">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input class="form-control" readonly="readonly" required="required" style="text-transform:uppercase;border-color:var(--main-bg-lcolor);" type="text" id="txtdetailsshowfundrecive">
                                    </div>
                                </div>
                            </div><!--.row-->



                        </form>

                        <!--=============-->

                    </div><!--.modal-body-->


                </div>

            </div>
        </div>
    </div>

</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>


    $('#btnchangetabbutton').click(function (e) {
        debugger
        var tabtype = $("ul.tabtypeschages li.tab-link.active").attr('data-tabname')

      $.ajax({
          url: "@Url.Action("WLTOADMIN", "Home")",
          data: { tabtype: tabtype, txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val() },
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })


    });



</script>

<script>
    $(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

<script>
    var fewSeconds = 10;
    $(document).ajaxStart(function () {

        $("#shownoneclass").prop('disabled', true);
        $("#btnsendpurorder").prop('disabled', true);
        setTimeout(function () {

            $("#btnsendpurorder").prop('disabled', false);

        }, fewSeconds * 1000);
    });


</script>

<script>
    function tablerowshowdetail22(frm, orderno, sts, paymode, utrno, details, amount, reqdate, responsedate, cashDepositCharge, finalAmount, headtype) {

        $('#txtfromshow').val(frm);
        $('#txtordernohow').val(orderno);
        $('#txtstsshow').val(sts);
        $('#txtpaymodeshow').val(paymode);
        // $('#txtutrnoshow').val(utrno);
        $('#txtdetailsshow').val(details);
        $('#txtamountshow').val(amount);
        $('#txtreqdateshow').val(reqdate);
        $('#txtresponsedateshow').val(responsedate);
        //$('#txtcrestsshow').val(crests);
        $('#txttypeshow').val(headtype);
        $('#txtcashDepositChargehow').val(cashDepositCharge)
        $('#txtfinalAmountshow').val(finalAmount)
        if (paymode == "Cash") {

            $('#lblcollreason').html('Collection By')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Branch / CMS Deposite") {

            $('#lblcollreason').text('Deposite Slip No.')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Online Transfer") {

            $('#lblcollreason').text('UTR No.')
            $('#txtcollreason').val(utrno)
        }
        if (paymode == "Wellets Transfer") {

            $('#lblcollreason').text('Transtion No')
            $('#txtcollreason').val(utrno)
        }


        //  $('#txtmdfirmnameshow').val(frmname);
        // / /$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
    }



</script>

<script>
    function tablerowshowdetail(frmname, total, remainfromnew, remainfromold, remtoold, remotonew, comment, date) {



        $('#txtmdfirmnameshow').val(frmname);

        $('#txttotalamountshow').val(total);

        $('#txtMDPREREMAINshow').val(remtoold);
        $('#txtMDPOSTREMAINshow').val(remotonew);
        $('#txtMDPRECREDITshow').val(remainfromold);
        $('#txtMDPOSTCREDITshow').val(remainfromnew);
        $('#txtCOMMNETSshow').val(comment)
        $('#txtREQUESTTIMINGshow').val(date)
        //   $('#txtmdfirmnameshow').val(frmname);
        //$('#txtmdfirmnameshow').val(frmname);
        //   $('#txtmdfirmnameshow').val(frmname);
        //  $('#txtmdfirmnameshow').val(frmname);
    }



</script>

<script>
    $( document ).ready(function() {

         $('.old-crd').show();
        $('.old-crd').html('Loading...')


         $.ajax({
             url: "@Url.Action("R_Creditchk","Home")",
             data: {MID:'Distributor'},
            success: function (data) {

                $('.old-crd').empty();
                if (data.diff > 0) {

                    $('.old-crd').html('CR. ' + data.diff)


                }
                else {
                    $('.old-crd').html('<b>No Old Credit Balance</b>')

                }

                $("#dealerbank").html("");

                $("#dealerbank").append($('<option></option>').val('').html('Select Bank'));
                for (var x = 0; x < data.listbank.length; x++) {
                    $("#dealerbank").append($('<option></option>').val(data.listbank[x].Value).html(data.listbank[x].Text));
                }
                $("#dealerwallets").html("");
                $("#dealerwallets").append($('<option></option>').val('').html('Select Wallet'));
                for (var x = 0; x < data.walletinfo.length; x++) {
                    $("#dealerwallets").append($('<option></option>').val(data.walletinfo[x].Value).html(data.walletinfo[x].Text));
                }
            }

        })


});



</script>


<script>
    $('.chkoldcredit').click(function () {
        $('.old-crd').show();
        $('.old-crd').html('Loading...')

        $.ajax({
            url: $(this).attr('data-oldcr'),
            success: function (data) {

                $('.old-crd').empty();
                if (data.diff > 0) {

                    $('.old-crd').html('CR. ' + data.diff)


                }
                else {
                    $('.old-crd').html('<b>No Old Credit Balance</b>')

                }

                $("#dealerbank").html("");

                $("#dealerbank").append($('<option></option>').val('').html('Select Bank'));
                for (var x = 0; x < data.listbank.length; x++) {
                    $("#dealerbank").append($('<option></option>').val(data.listbank[x].Value).html(data.listbank[x].Text));
                }
                $("#dealerwallets").html("");
                $("#dealerwallets").append($('<option></option>').val('').html('Select Wallet'));
                for (var x = 0; x < data.walletinfo.length; x++) {
                    $("#dealerwallets").append($('<option></option>').val(data.walletinfo[x].Value).html(data.walletinfo[x].Text));
                }
            }

        })


    })
</script>


















<script>
    $('.tabChangeType').click(function () {
        $.ajax({
            url: $(this).attr('data-href'),
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }

        })



    })
</script>




<script>
    function buttonClick(theButton) {

        $('#hdtype').val(theButton.name);

        //alert(theButton.name+"  "+$('#hdidno').val())


        return true;
    }




</script>


<script>

     $("#RetailerId").blur(function (event) {
        //  var character = String.fromCharCode(event.keyCode);
        var mobemail = $("#RetailerId").val()

         debugger

            //   alert(mobemail.val())
            $.ajax({
                url: "@Url.Action("CheckRetailerEmailMobile")",
                data: { emailmobile:mobemail},
                success: function (txt) {




                    //debugger
                    if (txt != '') {
                                  var data = JSON.parse(txt);
                        $('#retailerinform').show();
                        $('#lblfrmname').text(data.frm_name);
                          $('#lblreatilername').text(data.retailername);
                        $('#lblemail').text(data.email);
                        $('#lblmobile').text(data.mobile)
                         $('#shownoneclass').removeattr('disabled');
                    }
                    else {
                        $('#retailerinform').hide();
                         $('#shownoneclass').attr('disabled', 'disabled');
                    }


                },
                 error: function(xhr){
        alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                     }




            })


});


</script>




<script>
    $(function () {
        $('.tab-ar').click(function () {

            $(".tabr").removeClass('tab-activer');
            $(".tabr[data-id='" + $(this).attr('data-id') + "']").addClass("tab-activer");
            $(".tab-ar").removeClass('active-ar');
            $(this).parent().find(".tab-ar").addClass('active-ar');
            var usertype = $(this).attr('data-usertype')
            if (usertype == 'Admin') {
                $('#Payto').val('Admin')

            }
            else if (usertype == 'Distributor') {
                $('#Payto').val('Distributor')
            }
        });
    });
</script>


<script>


    function changemasterd(value) {
        var mas = $(value).val();
        if (mas == '') {
            $('.old-crd').hide();

        } else {
            $('.old-crd').show();
        }
    }

</script>

<script>
    $(function () {
        $('.new-nextbutton button#shownoneclass').prop('disabled', true);
        $('.fullclassdata input#RetailerId').keyup(function () {
            if ($(this).val() != '') {
                $('.new-nextbutton button#shownoneclass').prop('disabled', false);
            }
        });
    });
</script>

<script>


     function OnSuccess(result) {
        //$("#frmdata1 #errorsssnd").text(result);
         $("#home").find("input[type=text]").val('');

         $('#retailerinform').hide();
         $('#shownoneclass').attr('disabled', 'disabled');
       // cahangeTab('menu1');

        $.ajax({
            url: "@Url.Action("WLTOADMIN", "Home",new { tabtype="ReatilertoRetailer"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)

  }

        })



    }




</script>

<style>

    .tab-menur ul {
        margin: 0;
        padding: 0;
    }



        .tab-menur ul li {
            width: 50%;
            text-align: center;
        }

        .tab-menur ul li {
            float: left;
        }
</style>

<script>


    function changemasterd(value) {
        var mas = $(value).val();
        if (mas == '') {
            $('.old-crd').hide();

        } else {
            $('.old-crd').show();
        }
    }
    function changemoded(value) {
        var res = $(value).val();

        if (res == "Cash") {
            $('.dcollection-by').show();

            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
        else if (res == "Branch / CMS Deposite") {
            $('.dcollection-by').hide();

            $('.dbank-select').show();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').show();
            $('.dfund-comment').show();
        }
        else if (res == "Online Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').show();
            $('.dbank-select').show();
            $('.daccount-no').show();
            $('.dutr-no').show();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').hide();


        }
        else if (res == "Wellets Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').hide();
            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').show();
            $('.dwallet-no').show();
            $('.dtranstion-no').show();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
        else if (res == "Credit") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').hide();
            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
    }





</script>


<script>
    $('#dealerbank').change(function () {

        $('#txtdealeraccountno').val($('#dealerbank').val())


    })

    $('#dealerwallets').change(function () {

        $('#txtdealerwalletno').val($('#dealerwallets').val())


    })


</script>


<script>

    ///Distreibutort Start

    $('#btndistributorInform').click(function () {
        $('#hdddninputvalues').empty();

        if ($('#ddldealerPaymentMode').val() == '' || $('#ddldealerPaymentMode').val() == null) {
            $("#errorsssnd").text('Pay mode REQUIRED');
            return false;
        }
        if ($('#ddldealerPaymentMode').val() == 'Cash') {
            if ($('#txtdlmretcollection').val() == '' || $('#txtdlmretcollection').val() == null) {
                $("#errorsssnd").text('Collection Person Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }


        }
        else if ($('#ddldealerPaymentMode').val() == 'Branch / CMS Deposite') {

            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#txtdeposno').val() == '' || $('#txtdeposno').val() == null) {
                $("#errorsssnd").text('Enter Deposite Slip No.');
                return false;
            }

            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }

        }

        else if ($('#ddldealerPaymentMode').val() == 'Online Transfer') {

            //if ($('#DDTransferType').val() == '' || $('#DDTransferType').val() == null) {
            //    $("#errorss").text('Select Transfer Type');
            //    return false;
            //}
            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdealeraccountno').val() == '' || $('#txtdealeraccountno').val() == null) {
                $("#errorsssnd").text('Account No Required');
                return false;
            }
            if ($('#txtdelmretutr').val() == '' || $('#txtdelmretutr').val() == null) {
                $("#errorsssnd").text('UTR No Required');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }

        }
        else if ($('#ddldealerPaymentMode').val() == 'Wellets Transfer') {

            if ($('#dealerwallets').val() == '' || $('#dealerwallets').val() == null) {
                $("#errorsssnd").text('Select Wallets');
                return false;
            }
            if ($('#txtdealerwalletno').val() == '' || $('#txtdealerwalletno').val() == null) {
                $("#errorsssnd").text('Wallet No. Required');
                return false;
            }
            if ($('#txtdlmrettranctionno').val() == '' || $('#txtdlmrettranctionno').val() == null) {
                $("#errorsssnd").text('Transtion No.');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            //if ($('#txtDISTCOMMENTS').val() == '' || $('#txtDISTCOMMENTS').val() == null) {
            //    $("#errorss").text('Comment Required');
            //    return false;
            //}
        }

        else if ($('#ddldealerPaymentMode').val() == 'Credit') {



            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }
        }


        var idst = $("#ddldealerPaymentMode option:selected").text();
        var collper = $('#txtdlmretcollection').val();
        var amount = $('#txtdlmretamount').val();

        var comment = $('#dlmretcomment').val();
        var bankname = $("#dealerbank option:selected").text();
        var depositeslip = $('#txtdeposno').val();
        var tranftype = $("#ddlAdmintransfertype option:selected");
        var accountno = $('#txtdealeraccountno').val();
        var UTRnos = $('#txtdelmretutr').val();
        var walletname = $("#dealerwallets option:selected");
        var walletno = $('#txtdealerwalletno').val();
        var transectionno = $('#txtdlmrettranctionno').val();
        //var setteltype = $('#txtDISTSETTLEMENTTYPE').val();
        //var crdetails = $('#txtDISTCREDITDETAILS').val();
        var sbject = $('#txtdlmretreason').val();
        var accnosele = $("#dealerbank").val();


        var thtm = '<div id="hdidsss">';

        thtm += '<input id="hdPaymentMode" required name="hdPaymentMode" type="hidden"  value="' + idst + '" />';
        //  thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' +amount + '" />';


        if ($("#ddldealerPaymentMode").val() === "Cash") {

            thtm += '<input id="hdMDcollection" required name="hdMDcollection" type="hidden"  value="' + collper + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Branch / CMS Deposite") {

            thtm += '<input id="hdMDBank" required name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" required name="hdMDaccountno" type="hidden"  value="' + accnosele + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDDepositeSlipNo" required name="hdMDDepositeSlipNo" type="hidden"  value="' + depositeslip + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';


        }
        if ($("#ddldealerPaymentMode").val() === "Online Transfer") {

            thtm += '<input id="hdMDTransferType" required name="hdMDTransferType" type="hidden"  value="' + tranftype.text() + '" />';
            thtm += '<input id="hdMDBank" required name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" required  name="hdMDaccountno" type="hidden"  value="' + accountno + '" />';
            thtm += '<input id="hdMDutrno" required name="hdMDutrno" type="hidden"  value="' + UTRnos + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Wellets Transfer") {

            thtm += '<input id="hdMDwallet" required name="hdMDwallet" type="hidden"  value="' + walletname.text() + '" />';
            thtm += '<input id="hdMDwalletno" required name="hdMDwalletno" type="hidden"  value="' + walletno + '" />';
            thtm += '<input id="hdMDtransationno" required name="hdMDtransationno" type="hidden"  value="' + transectionno + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Credit") {


            thtm += '<input id="hdMDComments" required name="hdMDComments" type="hidden"  value="' + comment + '" />';
            thtm += '<input id="hdPaymentAmount" required name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }

        thtm += '</div>';

        $('.txtcodecodec').val('');
        // $('#txtcode').val('')
        $('#hdddninputvalues').html(thtm);
        $('#btnsendpurorder').click();


    })

    ///Distreibutort END

</script>

<script>

     function OnSuccess11(result) {
        $("#frmdata1 #errorsssnd").text(result);


        $('.old-crd').empty();

        $('#hdddninputvalues').empty();

       // cahangeTab('menu1');

        $.ajax({
            url: "@Url.Action("WLTOADMIN", "Home",new { tabtype="Purchase_ORDER"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)

  }

        })



    }




</script>





<!--Active_Class_jQuery-->

<script>
    $(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>

<script>
    $(function () {
        $(".date-sateclassee input").click(function () {
            $(".datepicker").addClass('daqqqqkerrteyyecharge daqqqqkerrteyyechargedfdgdfgfh');
        });
    });
</script>

<script>
    function myFunction() {

        //  var value = $(this).val().toLowerCase();
        var value = $('#myInput').val().toLowerCase();

        $("#tblbody .tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    }


</script>

