@model Vastwebmulti.Areas.ADMIN.Models.ResultSetViewModel
@{
    ViewBag.Title = "generateSlab";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="demo-button">
                            <div class="col-md-6" style="margin-top:-10px;">
                                <p style="font-size:23px; margin-top:-5px;font-weight:700;">Generate Slab</p>
                            </div>
                            <div class="col-md-6" style="margin-top:-14px;">
                                @using (Html.BeginForm("AddSlabname", "Home", FormMethod.Post, new { id = "CreateForm" }))
                                    {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd; margin-top:-3px;">
                                                    @Html.DropDownListFor(model => model.AccountVM.SlabFor, new SelectList(ViewBag.slabfor, "Value", "Text"), "Select User Type", new { @class = "selectpicker form-control", data_live_search = "true" })

                                                </div>
                                                @Html.ValidationMessageFor(m => m.AccountVM.SlabFor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="" style="border:1px solid #dddddd;margin-top:-3px;">
                                                    @Html.TextBoxFor(Model => Model.AccountVM.Slab_Name, "", new { @class = "form-control", placeholder = "Enter Slab Name" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.AccountVM.Slab_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="submit" value="Generate Slab" class="btn bg-blue-grey" style="margin-top:-3px; height:36px;" />
                                        </div>

                                    </div>
                                    }

                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-78px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            All Slab Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Slab For</th>
                                        <th style="padding-left:0px;text-align:center">Slab Name</th>
                                        <th style="padding-left:0px;text-align:center">Create Date</th>
                                        <th style="padding-left:0px;text-align:center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ResultSet)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.SlabFor)</td>
                                            <td> @Html.DisplayFor(modelItem => item.SlabName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.cdate)</td>
                                            @*<td>
                                                <label>
                                                    <a href="@Url.Action("View_SlabName", new { id = item.idno })" style="text-decoration:none;"><span class="fa fa-eye fa-2x"></span></a>
                                                </label>
                                            </td>*@
                                            <td>
                                                <center>
                                                    <a href="@Url.Action("Delete_slabName", new { id=item.idno,slabfor=item.SlabFor,slabname=item.SlabName })" style="text-decoration:none;"><span class="fa fa-trash" style="color:red; font-size:23px;"></span></a>
                                                </center>
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    $(function () {
        var msg = '@ViewData["msg"]';
        if (msg.includes("Successfully")) {
            swal("Good job!", msg, "success")
        }
        else if(msg!="")
        {
            swal("Failure !", msg, "error")
        }
        var msg1 = '@TempData["api"]';
        if (msg1 != "" && msg1 != null) {
            swal("Oops..!", msg1, "error");
        }
        var msg2 = '@TempData["successmsg"]';
        if (msg2.includes("Successfully")) {
            swal("Good job!", msg2, "success");
        }
    });

</script>