@model IEnumerable<Vastwebmulti.Models.Whilelabel_LedgerReport_Result>
@{
    ViewBag.Title = "Ledger_Report";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;">
                            @Html.Partial("Ledgerpartialview")
                        </div>

                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("Ledger_Report", "Home", FormMethod.Post))
                        {
                            <div class="row">
                              
                                <div class="col-md-7 for-web-date" style="padding-right: 0px;">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: #46c837;"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; ", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: #46c837;"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2" >
                                    <center>
                                        <button type="submit" class="btn waves-effect" style="width:100%;  height:34px;border:1px solid #c7c2c2;">
                                            
                                            <span style="color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                                <div class="col-md-3" style="padding-left: 0px;padding-right: 14px;">
                                    <div class="web-white-filter" style="float:right;">
                                        <table class="dataTable js-exportable ">
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="" style="margin-top: -20px;">
                        <div class="table-responsive web-white-table " style="position: inherit;margin-top:-16px;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;font-size:12px;">
                                <thead class="navbar" style="color: white; position: inherit;">
                                    <tr>
                                        <th>SR</th>
                                        @*<th>Request&nbsp;Id</th>*@
                                        <th>Date</th>
                                        <th>Particular</th>
                                        <th>Amount</th>
                                        <th>CreditActual</th>
                                        <th>DebitActual</th>
                                        <th>CreditVirtual</th>
                                        <th>DebitVirtual</th>
                                        <th>VirtualPre</th>
                                        <th>VirtualPost</th>
                                        <th>WhitelabelPre</th>
                                        <th>WhitelabelPost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            @*<td>@Html.DisplayFor(modelItem => item.RequestId)</td>*@
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.creditActual)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debitActual)</td>
                                            <td>@Html.DisplayFor(modelItem => item.creditVirtual)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debitVirtual)</td>
                                            <td>@Html.DisplayFor(modelItem => item.VirtualPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.VirtualPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.WhitelabelActualPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.WhitelabelActualPost)</td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<!--Calendar Javascript-->
<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>



