@model Vastwebmulti.Areas.WHITELABEL.Models.DMTSlabModel
@{
    ViewBag.Title = "Money_Transfer_Slab";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
    <style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

    </style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="">
                        <div class="row">
                            <div class="col-md-8">
                                @Html.Partial("_slab_setting_menu")
                            </div>

                            <div class="col-md-4 slab-edit-w-b">
                                <a href="@Url.Action("Money_Transfer_Slab","Home")" id="Comm" class="btn bg-blue-grey waves-effect">Common</a><button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor</button><button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer</button><button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:10px;" onclick="funcEdit(this, 'EditFormComm')"><img src="~/AdminDesign/images/edit.svg" style="width:14px;margin-right:6px;" />Edit</button>
                                <div class="custom-data-table">
                                    <table class=" js-exportable ">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <div id="divEditFormComm" class=" table-responsive" style="position:inherit; ">
                            @using (Html.BeginForm("Money_Transfer_Slab", "Home", FormMethod.Post, new { id = "EditFormComm" }))
                            {
                                <table class="table table-bordered">
                                    <thead class="navbar" style="position:initial;color:white;">
                                        <tr>
                                            <th>User&nbsp;Type</th>
                                            <th>Verify&nbsp;Charge&nbsp;(₹)</th>
                                            <th>Share(%)&nbsp;01&nbsp;>&nbsp;1000</th>
                                            <th>Share(%)&nbsp;1001&nbsp;>&nbsp;2000</th>
                                            <th>Share(%)&nbsp;2001&nbsp;>&nbsp;3000</th>
                                            <th>Share(%)&nbsp;3001&nbsp;>&nbsp;4000</th>
                                            <th>Share(%)&nbsp;4001&nbsp;>&nbsp;5000</th>
                                            @*<th>Gst</th>*@


                                        </tr>
                                    </thead>
                                    <tbody id="tbodyshow">
                                        @foreach (var item in Model.common)
                                        {
                                            <tr>
                                                <td><p>@item.usertype</p></td>
                                                <td>@item.verify_comm</td>
                                                <td>@item.comm_1000</td>
                                                <td>@item.comm_2000</td>
                                                <td>@item.comm_3000</td>
                                                <td>@item.comm_4000</td>
                                                <td>@item.comm_5000</td>
                                                @*<td>@item.gst</td>*@
                                            </tr>
                                        }
                                        @foreach (var item in Model.common1)
                                        {
                                            <tr>
                                                <td><p>Purcahse</p></td>
                                                <td>@item.verify_comm</td>
                                                <td>@item.comm_1000</td>
                                                <td>@item.comm_2000</td>
                                                <td>@item.comm_3000</td>
                                                <td>@item.comm_4000</td>
                                                <td>@item.comm_5000</td>
                                                @*<td>@item.gst</td>*@
                                            </tr>
                                        }

                                    </tbody>
                                    <tbody id="tbodyedit" style="display:none;">
                                        @for (int i = 0; i < Model.common.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(a => a.common[i].idno)
                                                @Html.HiddenFor(a => a.common[i].whitelabelid)
                                                <td>
                                                    @Html.DisplayFor(a => a.common[i].usertype)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].verify_comm, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].verify_comm)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].comm_1000, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].comm_1000)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].comm_2000, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].comm_2000)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].comm_3000, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].comm_3000)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].comm_4000, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].comm_4000)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].comm_5000, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].comm_5000)
                                                </td>
                                                <td>
                                                    @Html.EditorFor(a => a.common[i].gst, new { htmlAttributes = new { @style = "width:100%" } })
                                                    @Html.ValidationMessageFor(a => a.common[i].gst)
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script>
    var FormId = "";
    function funcEdit(event, frmId) {
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        $(event).replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect btn-for-green" style="margin-left:10px;" onclick="funcSave()">Save</button>');
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        } else if (ddlVal != null && ddlVal != '')//Update ALL
        {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
        }
    }
    function funcSave() {
        //alert(FormId);
        $("#" + FormId + "").submit();
    }

    function editUserWise(userRole, frmId) {
        //alert(userRole);
        var url = '@Url.Action("_UserDMTSlab", "Home")';
        $.post(url, { role: userRole }, function (data) {
            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:10px;" onclick="funcEdit(this, \'EditFormComm\')"><img src="../../AdminDesign/images/edit.svg" style="width:14px;margin-right:6px;" />Edit</button>');
            $("#role").val(userRole);
        })
          .fail(function (xhr, status, error) {
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
          });
     
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect").addClass("btn bg-blue-grey waves-effect");
        }
     
         }

    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserDMTSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
            $("#btnEdit").replaceWith('<button id="btnEdit" type="button" class="btn bg-blue-grey waves-effect" style="margin-left:10px;" onclick="funcEdit(this, \'EditFormComm\')"><img src="../../AdminDesign/images/edit.svg" style="width:14px;margin-right:6px;" />Edit</button>');

        })
          .fail(function (xhr, status, error) {
              //alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
          })
          .always(function () {
              //alert("finished");
          });

    }
</script>

<!--Window Load-->
<script>
    window.onload=function()
    {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    }
</script>


