
@model Vastwebmulti.Areas.ADMIN.Models.Operater_Commission
@{
    ViewBag.Title = "Operator_code_sts";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<script>
    $(function () {
        var chh = '@ViewData["type"]';
        $('#' + chh+'').show();
    });
</script>


<section class="content">
    <div class="container-fluid">
        <div class="row clearfix" style="margin-top:-9px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom:10px;">
                    @using (Html.BeginForm("Operator_code_sts", "Home", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" style="margin-top: 2px;margin-bottom:0px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li  style="font-size:20px; margin-top:6px;">Show Operator Wise Commission Details</li>
                                       
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;">
                                    @Html.DropDownList("ddlcomm", new List<SelectListItem>
                                {
                               new SelectListItem{ Text="Select One",Value="Select",},
                                new SelectListItem{Text="Prepaid & Dth",Value="Prepaid"},
                                new SelectListItem{Text="Utilities",Value="Utility"},
                                new SelectListItem{Text="Money",Value="Money"},
                                new SelectListItem{Text="Pancard",Value="Pancard"},
                                //new SelectListItem{Text="AEPS",Value="AEPS"},
                                    new SelectListItem{Text="M-POS",Value="MPOS"},
                                    //new SelectListItem{Text="INDO-NEPAL",Value="INDONEPAL"},
                                        //new SelectListItem{Text="FLIGHT",Value="FLIGHT"},
                                        //     new SelectListItem{Text="BUS",Value="BUS"},
                                        //    new SelectListItem{Text="HOTEL",Value="HOTEL"},
                                                  //new SelectListItem{Text="Giftcard",Value="GIFT"},
                                              new SelectListItem{Text="Broadband",Value="Broadband"},
                                               new SelectListItem{Text="Loan",Value="Loan"},
                                                 new SelectListItem{Text="Water",Value="Water"},
                                                   new SelectListItem{Text="Insurance",Value="Insurance"},
                                }, new { @class = "form-control", @style = "margin-top:10px; padding-left:0px; padding-right:0px;text-align:center;border:1px solid #dddddd;height:33px;" })

                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" id="btntype" name="btntype" class="btn  waves-effect" style="margin-top:11px; width:100%; border:1px solid #c7c2c2;background: transparent;">
                                        
                                    <span style="top:0px;">Search</span>
                                </button>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                    <div>
                        <div id="Prepaid" class=" web-white-table " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Prepaid)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Utility" class="table-responsive web-white-table " style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover  ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Electricity_comm)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                        @*<a href="#" style="text-decoration:none;"><i class="icofont icofont-toggle-on icofont-3x" style="color:green;font-size:46px;"></i></a>*@
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                        @*<a href="#" style="text-decoration:none;"><i class="icofont icofont-toggle-off icofont-3x" style="color:red;font-size:46px;"></i></a>*@
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Money" class="web-white-table  table-responsive" style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Verify&nbsp;Comm</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;0&nbsp;-&nbsp;1000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;1001&nbsp;-&nbsp;2000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;2001&nbsp;-&nbsp;3000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;3001&nbsp;-&nbsp;4000</th>
                                        <th style="padding-left:0px; text-align:center">Comm&nbsp;4001&nbsp;-&nbsp;5000</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Money)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Verifycomm)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_1000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_2000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_3000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_4000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comm_5000)</td>
                                            <td>@Html.DisplayFor(modelItem => item.gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Pancard" class=" web-white-table table-responsive" style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>

                                        <th style="padding-left:0px;text-align:center">Token&nbsp;Digital</th>
                                        <th style="padding-left:0px;text-align:center">Token&nbsp;Physical</th>
                                        <th style="padding-left:0px;text-align:center">Commission&nbsp;Digital</th>
                                        <th style="padding-left:0px;text-align:center">Commission&nbsp;Physical</th>
                                        <th style="padding-left:0px;text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Pencard_comm)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.TokenValueDigital)</td>
                                            <td> @Html.DisplayFor(modelItem => item.TokenValuePhysical)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CommissionDigital)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CommissionPhysical)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="AEPS" class="web-white-table table-responsive" style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover ">

                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>₹&nbsp;20</th>
                                        <th>₹&nbsp;50</th>
                                        <th>₹&nbsp;100</th>
                                        <th>₹&nbsp;200</th>
                                        <th>₹&nbsp;500</th>
                                        <th>₹&nbsp;1000</th>
                                        <th>₹&nbsp;2000</th>
                                        <th>₹&nbsp;2500</th>
                                        <th>₹&nbsp;3000</th>
                                        <th>₹&nbsp;3500</th>
                                        <th>₹&nbsp;5000</th>
                                        <th>₹&nbsp;10000</th>
                                        <th>IsGstApplicable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AEPS)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.RS20)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS50)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS100)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS200)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS1000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS2000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS2500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS3000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS3500)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS5000)</td>
                                            <td> @Html.DisplayFor(modelItem => item.RS10000)</td>
                                            <td>
                                                @if (item.IsGstApplicable == true)
                                                {
                                                    <center><p style="color:green;font-weight:600;">Yes</p></center>
                                                }
                                                else
                                                {
                                                    <center><p style="color:red;font-weight:600;">No</p></center>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div id="MPOS" class=" web-white-table table-responsive" style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>

                                        <th>Withdraw</th>
                                        <th>S&nbsp;Debit&nbsp;2000</th>
                                        <th>S&nbsp;Debit&nbsp;above&nbsp;2000</th>
                                        <th>S&nbsp;Credit&nbsp;Normal</th>
                                        <th>S&nbsp;Credit&nbsp;Grocery</th>
                                        <th>S&nbsp;Credit&nbsp;EduIns</th>
                                        <th>Gst</th>
                                        <th>Credit_Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MPOS)
                                    {
                                        <tr>

                                            <td>@item.CashWithdraw</td>
                                            <td>@item.Salesdebitupto2000</td>
                                            <td>@item.Salesdebitabove2000</td>
                                            <td>@item.SalescreditNormal</td>
                                            <td>@item.Salescreditgrocery</td>
                                            <td>@item.SalescreditEduandInsu</td>
                                            <td>@item.gst</td>
                                            <td>@item.credit_type</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                        <div id="Broadband" class=" web-white-table table-responsive" style="position:inherit; display:none; margin-top:-17px;">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Broadband)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                                                
                        <div id="Water" class=" web-white-table table-responsive " style="position:inherit; display:none; margin-top:-17px;">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Water)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>
                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="Insurance" class=" web-white-table table-responsive" style="position:inherit; display:none;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Type</th>
                                        <th style="padding-left:0px; text-align:center">Operator&nbsp;Code</th>
                                        <th style="padding-left:0px; text-align:center">Status</th>
                                        <th style="padding-left:0px; text-align:center">Block&nbsp;Time</th>
                                        <th style="padding-left:0px; text-align:center">Commission</th>
                                        <th style="padding-left:0px; text-align:center">GST</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Insurance)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>
                                            <td>
                                                @if (item.Status == "Y")
                                                {
                                                    <p style="color:green;font-size:15px;">Active</p>

                                                }
                                                else
                                                {
                                                    <p style="color:red;font-size:15px;">InActive</p>

                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gst)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</section>




@*<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-22px;">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                           Operator Code
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;">
                            <table id="example" class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:4px;">Operator Name</th>
                                        <th style="padding-left:4px;">Operator Code</th>
                                        <th style="padding-left:4px;">Operator Type</th>
                                        <th style="padding-left:4px;">Status</th>
               

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.operator_Name</td>
                                            <td>@item.new_opt_code</td>
                                            <td>@item.Operator_type</td>
                                            <td>@item.status</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
