
@{
    ViewBag.Title = "Outer_Logo";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">

                    <div class="card">
                        <div class="body scroll" style="max-height:572px;">
                            <div class="demo-button ">
                                <div class="row">
                                    <div class="col-md-12" ">
                                        @Html.Partial("ColorPartialView")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-10">

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="card" style="background:#f5f5f5;">
                            <div class="" style="background: #bbb;padding: 10px;margin-top: 20px;">
                                <span style="color:#00000082; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Main Logo Image
                                </span>
                               
                                <div class="w-logo-open" style="display:none;">
                                    @using (Html.BeginForm("Outer_logo", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {
                                        <input type="file" name="file" class="form-control">
                                        <button type="submit" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                            <span style="top:-2px;color:#555;">Save Change</span>
                                        </button>
                                    }
                                </div>
                                    <button type="button" class="btn  waves-effect w-logo-close" style="float:right;border: 1px solid #c7c2c2;background:#dedddd;margin-top: -6px;padding: 7px 10px;" data-toggle="modal" data-target="#defaultModal">
                                       
                                        <span style="top:0px;">Upload Image</span>
                                    </button>
                             


                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead  style="color:#555;position:inherit;">
                                                <tr>
                                                    <th>Logo Image</th>
                                                    <th style="text-align:center;">Delete</th>
                                                    <th><center>View Uploaded Image</center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.logoimage)
                                                {
                                                    <tr>
                                                        <td> <img src="@Url.Content("~/"+item.LogoImage)" width="100" height="70" /></td>
                                                        <td>
                                                            <center style="margin-top:8px;">
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delLogo1('@item.Id')">
                                                                    Delete
                                                                </button>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center style="margin-top:9px;">
                                                                <a href="@Url.Content("~/"+item.LogoImage)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">View LInk</button></a>
                                                            </center>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="card" style="background:#f5f5f5;">
                            <div class="" style="background: #bbb;padding: 10px;margin-top: 20px;">
                                <span style="color:#00000082; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Favicon Image
                                </span>

                                <div class="w-logo-openf" style="display:none;">
                                   @using (Html.BeginForm("Outside_favicon", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                                        <input type="file" name="file" class="form-control">
                                        <button type="submit" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                            <span style="top:-2px;color:#555;">Save Change</span>
                                        </button>
                                    }
                                </div>
                                <button type="button" class="btn  waves-effect w-logo-closef" style="float:right;border: 1px solid #c7c2c2;background:#dedddd;margin-top: -6px;padding: 7px 10px;" data-toggle="modal" data-target="#defaultModal">

                                    <span style="top:0px;">Upload Image</span>
                                </button>



                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead style="color:#555;position:inherit;">
                                                <tr>
                                                    <th>Favicon Image</th>
                                                    <th style="text-align:center;">Delete</th>
                                                    <th style="text-align:center;">View Uploaded Image</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item1 in ViewBag.faviconimage)
                                                {
                                                    <tr>
                                                        <td> <img src="@Url.Content("~/"+item1.faviconimage)" width="100" height="70" /></td>
                                                        <td>
                                                            <center style="margin-top:8px;">
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delfavicon('@item1.Id')">
                                                                    Delete
                                                                </button>
                                                            </center>

                                                        </td>
                                                        <td>
                                                            <center style="margin-top:9px;">
                                                                <a href="@Url.Content("~/"+item1.faviconimage)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">View LInk</button></a>
                                                            </center>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<div class="modal fade" id="@*defaultModal*@" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add New Logo</h4>
            </div>
            @using (Html.BeginForm("Outer_logo", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                    <p style="color:red; font-size:16px;">Note:- Image Size Must be 160 x 60</p>
                                </div>

                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="@*defaultModal1*@" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add New Favicon</h4>
            </div>
            @using (Html.BeginForm("Outside_favicon", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                    <p style="color:red; font-size:16px;">Note:- Image Size Must be 40 x 50</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script>
    $('.w-logo-close').click(function () {
        $(this).hide();
         $('.w-logo-open').show();

    });
      $('.w-logo-closef').click(function () {
        $(this).hide();
         $('.w-logo-openf').show();

    });
</script>

<script type="text/javascript">

    function delLogo1(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Logo !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delLogo", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Logo Data Deleted Successfully.", "success");
                var url = '@Url.Action("Outer_Logo", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Outer_Logo", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

<script type="text/javascript">

    function delfavicon(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete Slider Data " + e + " !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delfavicon", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Silder Data Deleted Successfully.", "success");
                var url = '@Url.Action("Outer_Logo", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Outer_Logo", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

<script>
    window.onload = function ()
    {
        var succ = '@TempData["successfavicon"]';
        if (succ != null && succ != "")
        {
            if (succ.includes("successfully"))
            {
                //swal("Good job!", succ, "success");
            }
            else {
                //swal("Oops!", succ, "error");
            }
        }
        var succ = '@TempData["success"]';
        if (succ != null && succ != "") {
            if (succ.includes("successfully")) {
                //swal("Good job!", succ, "success");
            }
            else {
                //swal("Oops!", succ, "error");
            }
        }
    }
</script>

