_
@{
    ViewBag.Title = "Outer_Silder";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card" style="margin-top:-16px;">
                            <div class="body scroll" style="max-height:572px;">
                                <div class="demo-button ">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top:-10px;">
                                            @Html.Partial("ColorPartialView")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-37px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000096; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Outside Silder Background Image
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal1">
                                    <i class="fa fa-upload" style="top:4px;"></i>
                                    <span style="top:0px;">Upload Image</span>
                                </button>

                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <thead class="navbar" style="color:white;position:inherit;">
                                                <tr>
                                                    <th>BackGround&nbsp;Image</th>
                                                    <th style="text-align:center;">Delete</th>
                                                    <th><center>View Upload Image</center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.back)
                                                {
                                                    <tr>
                                                        <td> <img src="@Url.Content("~/"+item.SilderBackImage)" width="100" height="70" /></td>
                                                        <td>
                                                            <center style="margin-top:8px;">
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delBackSilder('@item.Id')">
                                                                    Delete
                                                                </button>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center style="margin-top:9px;">
                                                                <a href="@Url.Content("~/"+item.SilderBackImage)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">View</button></a>
                                                            </center>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-30px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:#00000096; font-size:16px;padding-top:9px; padding-left:22px;">
                                    Outside Silder Front Content
                                </h2>
                                <button type="button" class="btn  waves-effect" style="float:right; margin-top:-34px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus" style="top:4px;"></i>
                                    <span style="top:0px;">Add New</span>
                                </button>

                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                            <thead class="navbar" style="color:white;position:inherit;">
                                                <tr>
                                                    <th>Silder&nbsp;Heading</th>
                                                    <th>Silder&nbsp;Content</th>
                                                    <th>Front&nbsp;Image</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.front)
                                                {
                                                    <tr>
                                                        <td>@item.SilderHeading</td>
                                                        <td>@item.SilderContent</td>
                                                        <td><img src="@Url.Content("~/"+item.SilderfrontImage)" width="100" height="70" /></td>
                                                        <td>
                                                            <center style="margin-top:9px;">
                                                                <a href='@Url.Action("Edit_OuterSilder", "Home", new {Outerid = item.Id})'><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">Edit</button></a>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center style="margin-top:8px;">
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delFrontSilder('@item.Id')">
                                                                    Delete
                                                                </button>
                                                            </center>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add New Silder Content</h4>
            </div>
            @using (Html.BeginForm("Outer_Silder", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Silder Heading</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="text" id="txtheading" maxlength="75" name="txtheading" class="form-control" required="" placeholder="Enter Silder Heading" />
                                            <input type="hidden" value="Yes" name="front" id="front" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Silder Content</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <textarea id="txtcontent" name="txtcontent" class="form-control" required="" placeholder="Silder Content"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Silder&nbsp;Front&nbsp;Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" id="frontImage" name="frontImage" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <p style="color:red;">Image Size will Be :- 350 * 300 Pixel</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add New Silder BackGround Image</h4>
            </div>
            @using (Html.BeginForm("Outer_Silder", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Silder&nbsp;Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" id="BackImage" name="BackImage" class="form-control">
                                            <input type="hidden" value="Yes" name="background" id="background" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <p style="color:red;">Image Size will Be :- 1950 * 550 Pixel</p>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script>
    window.onload = function () {

        var succ = '@TempData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>

<script type="text/javascript">

    function delBackSilder(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete the Background Silder Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delBackSilder", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Background Silder Data Deleted Successfully.", "success");
                var url = '@Url.Action("Outer_Silder", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Outer_Silder", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

<script type="text/javascript">

    function delFrontSilder(e) {
        swal({
            title: "Are you sure?",
            text: "Do you want to delete the Front Silder Data !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("delFrontSilder", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("Deleted!", "Front Silder Data Deleted Successfully.", "success");
                var url = '@Url.Action("Outer_Silder", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Outer_Silder", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>

