
@{
    ViewBag.Title = "Outside_logo";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

    .outside-logo-page .table.dataTable tr td {
        border-top-width: 0px;
    }

    .outside-logo-page .table-responsive {
        background: #f9f9f9;
    }

    table.dataTable {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .scroll::-webkit-scrollbar {
        width: 4px;
    }

    .scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }




    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }

    .background-view-slider img {
        width: 100%;
        height: 188px;
    }

    .background-view-third-one input {
        margin-left: 33%;
    }

    .login-slider-status label::after {
        content: '';
        border-left: 11px solid #000;
        border-bottom: 10px solid transparent;
        border-top: 11px solid transparent;
        width: 10px;
        height: 12px;
        display: inline-block;
        position: absolute;
        right: -11px;
        top: 0px;
    }
    .table-responsive {
        border-left: 25px solid #ddd;
        border-bottom: 25px solid #c7c7c7;
        border-top: 25px solid #c7c7c7;
        border-right: 25px solid #ddd;
        margin-top: 0 !important;
    }
    .outside-logo-page .table.dataTable tr td:last-child p {
        border: 1px solid #555;
    }
    .login-bg-sitting {
        border-left: 25px solid #ddd;
        border-bottom: 25px solid #c7c7c7;
        border-top: 25px solid #c7c7c7;
        border-right: 25px solid #ddd;
        margin: 0 !important;
    }
    .login-back-img ul li {
        border: 1px solid #555 !important;
        padding: 15px;
    }
    @@media only screen and (max-width:992px) {
        .background-view-third-one input {
            margin-left: 0;
            width: 150px;
        }
    }
    @@media only screen and (max-width:767px) {
        .background-view-third-one,.background-view-third-two{
            margin:10px 0px;
        }
        .background-view-third-one span {
            margin-top: 0;
        }
        .background-view-first, .background-view {
            width: 50%;
            float: left;
            margin: 0;
        }
        .background-view-third {
            width: 100%;
        }
        .background-view-third-one input{width: 35%;}
        .col-md-12.hgyturopo {
            width: 100%;
            float: left;
        }
        }
    @@media only screen and (max-width:480px) {
        .image-upload #btnaaa {
            float: right;
        }

        .table-responsive .table-bordered tr td img {
            max-width: 100px !important;
        }

        .background-view-third-one input {
            width: 50%;
        }

        .image-upload input[type="file"], .image-upload input[type="text"] {
            float: left !important;
            width: 55% !important;
        }

        .image-upload {
            float: left;
            margin-top: 10px;
            width: 100%;
        }

        .table-responsive, .login-bg-sitting {
            border-left: 5px solid #ddd;
            border-bottom: 5px solid #c7c7c7;
            border-top: 5px solid #c7c7c7;
            border-right: 5px solid #ddd;
        }

        .logo-change h2 {
            margin: 0 5px !important;
            float: left !important;
        }

        .background-view-third-one span {
            margin-top: 10px;
            float: left;
            text-align: left;
        }

        .background-view-first, .background-view {
            width: 100%;
            text-align: center;
        }

        .login-back-img [type="radio"]:checked + label::after, .login-back-img [type="radio"]:not(:checked) + label::before, .login-back-img [type="radio"]:not(:checked) + label::after  {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        .background-view-third-two button{padding: 0 7px;}
        .background-view-third-one, .background-view-third-two {
            margin: 10px 0px;
            text-align: left;
        }
        .background-view-third{padding: 0;}
        .background-view-third-one, .background-view-third-two {
            margin: 10px 0px 0 0;
            text-align: left;
        }
        }
</style>
<style>

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    .checkmark {
        position: absolute;
        top: 3px;
        left: 35%;
        height: 25px;
        width: 25px;
        background-color: var(--border-color);
        border-radius: 50%;
    }


    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }


    .container input:checked ~ .checkmark {
        background-color: green;
    }


    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }


    .container input:checked ~ .checkmark:after {
        display: block;
    }


    .container .checkmark:after {
        top: 8px;
        left: 6px;
        width: 14px;
        height: 7px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
    }


    /*@@media only screen and (max-width:480px) {
        .header-logo-background {
            display: none;
        }

        .background-view-first, .background-view, .background-view-third {
            width: 100% !important;
        }

        .background-view-third-one input {
            margin-left: 0px;
            width: 210px;
        }

        .background-view-third-one {
            margin-top: 5px;
        }

        .background-view-third-two {
            margin-top: 15px;
        }

        .background-view {
            width: 94%;
            margin: 0px 10px;
        }

        .login-back-img h2 {
            width: 100%;
            padding: 5px 10px;
        }

        .login-slider-status label {
            float: left;
            margin: 13px 0px 0px 10px;
            width: 20%;
            text-align: center;
        }

        .login-slider-status .onoffswitch {
            margin: 12px 15px 10px 0px;
        }

        .slider-image-number {
            margin: auto;
        }

            .slider-image-number ~ span {
                text-align: center;
            }

        .background-view-slider {
            width: 95%;
            margin: 1% 2.5%;
        }
    }*/
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('txtedit');
</script>

<section class="content outside-logo-page">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic Setting&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Logo&nbsp;&&nbsp;Theme
                </li>
                <button style="float: right;color: #fff;border: 0;padding: 5px 15px;margin-top: -4px;" class="fullbodydycolorbg" data-toggle="modal" data-target="#defaultModal3">about-us content</button>
            </ul>
        </div>


        <div class="modal fade sitemap-editor" id="defaultModal3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:whitesmoke;">
                        <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add About Us Content</h4>
                        <button type="button" class="btn bg-grey waves-effect" style="float:right; height:auto;padding: 0px;background-color: #f5f5f5 !important;padding: 0px;border:0px;" data-dismiss="modal">
                            <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true" style="top: 0px;height: 30px;width: 30px;border-radius: 50%;padding-top: 4px;"></i>
                        </button>
                    </div>
                    <div class="modal-body" style="margin-top:0px;">
                        <div class="body">
                            @using (Ajax.BeginForm("AboutUsContext", "Home", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                OnSuccess = "OnSuccess",
                                OnFailure = "OnFailure"
                            }))
                            {
                                Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.AboutUs person = new Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.AboutUs();

                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #c7c2c2;">

                                                <input type="hidden" asp-for="@person.AboutId" name="AboutId" value="1" />
                                                <br />
                                                <br />
                                                <textarea id="txtedit" asp-for="@person.AboutContent" name="AboutContent" class="ckeditor" required></textarea>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" id="silder1">
                                    <button type="submit" id="savePrivacy" class="btn bg-grey waves-effect" style=" margin-right: 12px; height:34px;">
                                        <span style="color:black;">Save Change</span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">

            <div class="col-md-12 hgyturopo">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="logo-change" style="margin-top:0px;">
                                <h2>
                                    Login Page Logo Image
                                </h2>
                                <div class="image-upload">
                                    <input type="file" name="files" id="LoginPageLogo" class="form-control">
                                    <input type="submit" value="Save Change" class="for-disable" id="btnaaa" style="font-size:14px; padding: 6px 15px;height: 32px !important;background: #f0f0f0 !important;border: 1px solid #555;" />
                                </div>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            <tbody id="loginlogo">
                                                @if (ViewBag.login != null)
                                                {
                                                    foreach (var item in ViewBag.login)
                                                    {
                                                        <tr>
                                                            <td> <img src="@Url.Content("~/"+item.Image)" width="100" height="70" id="LoginPageLogoImg" /></td>
                                                            <td>
                                                                <p><strong>Note :-</strong> For Best Veiw, Logo Size Must Be required 300 pixel * 300 pixel</p>
                                                                <div style="float:right;clear:both;">
                                                                    <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delLoginContent1('@item.Id')">
                                                                        Delete
                                                                    </button>
                                                                    <a id="LoginPageLogoTab" href="@Url.Content("~/"+item.Image)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">Open Link In New Tab</button></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-2px;">
                        <div class="card">
                            <div class="logo-change">
                                <h2>
                                    Header Logo Image
                                </h2>
                                <h2 class="header-logo-background" style="margin-left:10%;">Header Logo Background</h2>
                                <div class="image-upload">
                                    <input type="file" name="file" id="HeaderLogo" class="form-control">

                                    <button type="submit" id="HeaderLogoBtn" class="btn bg-grey waves-effect for-disable" onclick="return check()">
                                        <span>Save Change</span>
                                    </button>

                                </div>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                            @if (ViewBag.logoHeaderimage != null)
                                            {
                                                <tbody>
                                                    @foreach (var item in ViewBag.logoHeaderimage)
                                                    {
                                                        <tr>
                                                            <td> <img id="LogoHeaderImg" src="@Url.Content("~/" + item.LogoImage)" width="100" height="70" /></td>
                                                            <td style="text-align:center;">

                                                                <span style="width: 100px;height: 70px;display: inline-block;border: 1px solid var(--border-color);background:#fff;">
                                                                    <label class="container">

                                                                        <input type="radio" checked="checked" name="radio" value="#fff">
                                                                        <span class="checkmark"></span>
                                                                    </label>
                                                                    <p style="margin:0px;margin-top:30px;">White</p>
                                                                </span>
                                                                <span style="width: 100px;height: 70px;display: inline-block;border: 1px solid var(--border-color);">
                                                                    <label class="container">

                                                                        <input type="radio" name="radio" value="transparent">
                                                                        <span class="checkmark"></span>
                                                                    </label>
                                                                    <p style="margin:0px;margin-top:30px;"> Transparent</p>
                                                                </span>
                                                                <span style="width: 100px;height: 70px;display: inline-block;border: 1px solid var(--border-color);background:#000;">
                                                                    <label class="container">

                                                                        <input type="radio" name="radio" value="#000">
                                                                        <span class="checkmark"></span>
                                                                    </label>
                                                                    <p style="margin:0px;margin-top:30px;color:#fff;">Black</p>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <p><strong>Note :-</strong> For Best Veiw, Logo Size Must Be required 170 pixel * 80 pixel</p>
                                                                <div style="float:right;clear:both;">

                                                                    <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delLogo1('@item.Id')">
                                                                        Delete
                                                                    </button>
                                                                    <a id="LogoHeaderTab" href="@Url.Content("~/" + item.LogoImage)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">Open Link In New Tab</button></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-2px;">
                        <div class="card">
                            <div class="logo-change">
                                <h2>
                                    Favicon Image
                                </h2>
                                <div class="image-upload">

                                    <input type="file" name="file" class="form-control" id="faviconfile">

                                    <button type="submit" class="btn bg-grey waves-effect for-disable" onclick="return check()" id="faviconBtn">
                                        <span>Save Change</span>
                                    </button>
                                </div>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                                        <table class="table table-bordered table-striped table-hover dataTable js-exportable ">

                                            <tbody>
                                                @foreach (var item1 in ViewBag.faviconimage)
                                                {
                                                    <tr>
                                                        <td> <img id="faviconImg" src="@Url.Content("~/"+item1.faviconimage)" width="100" height="70" /></td>
                                                        <td>
                                                            <p><strong>Note :-</strong> For Best Veiw, Logo Size Must Be required 32 pixel * 32 Pixel</p>
                                                            <div style="float:right;clear:both;">
                                                                <button type="button" class="btn btn-default waves-effect" style="background-color:transparent; border:none;border:1px solid #c7c2c2;" onclick="delfavico('@item1.Id')">
                                                                    Delete
                                                                </button>
                                                                <a id="faviconTab" href="@Url.Content("~/"+item1.faviconimage)" target="_blank"><button type="button" class="btn btn-default waves-effect" style="border:1px solid #c7c2c2;">Open Link In New Tab</button></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row clearfix login-bg-sitting">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:18px;">
                        <div class="card login-back-img">
                            <h2>Login Page Background Setting</h2>
                            <ul class="" for="retailer">

                                <li class="tab-link2 current2" data-tab="tab-5">
                                    <div class="background-view-first">

                                        <input type="radio" value="value1" name="group1" onclick="Img_ON_OffDefault()" id="byapi1">
                                        <label for="byapi1">Background</label>
                                        <p>Color</p>
                                    </div>
                                    <div class="background-view fullbodydycolorbg"></div>
                                    <div class="background-view-third">
                                        <p style="font-size: 18px;text-align: justify;">This is default color you can't change. You are not intersted to use this color then can use next two options.</p>

                                    </div>
                                </li>
                                <li class="tab-link2" data-tab="tab-6" id="imgg2">
                                    <div class="background-view-first">

                                        <input type="radio" onclick="Img_ON_Off()" value="value3" name="group1" id="bysim2">

                                        <label for="bysim2">Single Image</label>
                                        <span style="display:block;">(file Size Upto 824kb)</span>
                                    </div>
                                    @if (ViewBag.showimg3 != null)
                                    {
                                        <div style="background-repeat:no-repeat">

                                            <img class="background-view" id="img1" name="img1" src="@Url.Content("~/"+ ViewBag.showimg3)" />

                                        </div>
                                    }
                                    else
                                    {
                                        <div style="background-repeat:no-repeat">

                                            <img class="background-view" id="img1" name="img1" src="@Url.Content("~/"+ ViewBag.showimg3)" />
                                        </div>
                                    }
                                    <div class="background-view-third">
                                        <div class="background-view-third-one">
                                            <input type="file" id="fileInputSingle" multiple />
                                            <button type="button" class="for-disable" id="fileButtonSingle" value="Single">Save</button>
                                            <span><strong>Note :- </strong>Image Max Size 1600 * 900 Pixel</span>
                                            <label id="Single1"></label>
                                        </div>
                                        <div class="background-view-third-two">
                                            <button type="button" id="delBackLogin_ContentSingle">Delete</button>
                                            @if (ViewBag.showimg3 != null)
                                            {
                                                <a id="fileInputSingleTab" href="@Url.Content("~/" + ViewBag.showimg3)" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                            }
                                            else
                                            {
                                                <a id="fileInputSingleTab" href="#" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                            }
                                        </div>
                                    </div>
                                </li>
                                <li class="tab-link2" data-tab="tab-7" id="imgg3">

                                    <div class="background-view-first">

                                        <input type="radio" onclick="Img_ON_Off2()" value="value2" name="group1" id="bysim1">

                                        <label for="bysim1">Repeat Image</label>

                                        <span style="display:block;">(file Size Upto 224kb)</span>
                                    </div>
                                    @if (ViewBag.showimg2 != null)
                                    {
                                        <div id="mydiv">
                                            <div class="background-view" id="img2" name="img2" style="background:url('@Url.Content("~/" + ViewBag.showimg2)')repeat;">

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="background-view" id="img2" name="img2">

                                        </div>
                                    }
                                    <div class="background-view-third">
                                        <div class="background-view-third-one">
                                            <input type="file" id="fileInput" multiple />
                                            <button type="button" class="for-disable" id="fileButton" value="Repeat">Save</button>
                                            <span><strong>Note :- </strong>Image Max Size 300 * 300 Pixel</span>
                                            <label id="Repeat1"></label>
                                        </div>
                                        <div class="background-view-third-two">
                                            <button type="button" id="delBackLogin_ContentRepeat">Delete</button>
                                            @if (ViewBag.showimg2 != null)
                                            {
                                                <a id="RepeatTab" href="@Url.Content("~/" + ViewBag.showimg2)" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                            }
                                            else
                                            {
                                                <a id="RepeatTab" href="#" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                            }
                                        </div>

                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                @*<div class="row clearfix" id="loginSliders">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:18px;">
                            <div class="card login-back-img">
                                <div class="login-slider-status">
                                    <h2>Login Page slider Image</h2>
                                    <div class="onoffswitch" style="cursor:pointer;">

                                        @{var res = ViewBag.LoginsilderStatus;
                                            if (res == null)
                                            {
                                                <span id="statusNULL" class="custom-off" onclick="SliderStatus()">Status Off</span>
                                            }

                                            else
                                            {
                                                if (ViewBag.LoginsilderStatus[0].Status == "Y")
                                                {
                                                    <span id="statusOn" class="costom-on" onclick="SliderStatus()">Status on</span>
                                                    <span id="statusOff" style="display:none;" class="custom-off" onclick="SliderStatus()">Status Off</span>
                                                }
                                                else if (ViewBag.LoginsilderStatus[0].Status == "N")
                                                {

                                                    <span id="statusOff" class="custom-off" onclick="SliderStatus()">Status Off</span>
                                                    <span id="statusOn" style="display:none;" class="custom-on" onclick="SliderStatus()">Status on</span>
                                                }
                                            }
                                        }
                                    </div>
                                    <label>Slider</label>

                                </div>
                                <ul>

                                    <li>
                                        <div class="background-view-first" style="width: 33%;">

                                            <div class="slider-image-number">
                                                <span>1</span>
                                                <label>Image</label>
                                            </div>
                                            <span style="display:block;">(file Size Upto 224kb)</span>
                                        </div>
                                        @if (ViewBag.Loginsilder1 != null)
                                        {
                                            <div class="background-view-slider">
                                                @{
                                                    <img name="slider1" src="@Url.Content("~/" + ViewBag.Loginsilder1.ImagePath)" id="slider1" />
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <img name="slider1" src="" id="slider1" />
                                        }
                                        <div class="background-view-third" style="float:right;">
                                            <div class="background-view-third-one">
                                                <input type="file" id="image1" />
                                                <button type="button" class="for-disable" id="btnimage1">Save</button>
                                                <span><strong>Note :- </strong>Image Max Size 460 * 460 Pixel</span>
                                                <label id="img1msg"></label>
                                            </div>
                                            <div class="background-view-third-two">
                                                <button id="btnslid1img" type="button">Delete</button>
                                                @if (ViewBag.Loginsilder1 != null)
                                                {
                                                    <a id="image1Tab" href="@Url.Content("~/" +  ViewBag.Loginsilder1.ImagePath)" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                                }
                                                else
                                                {
                                                    <a id="image1Tab" href="#" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                                }

                                            </div>

                                        </div>

                                    </li>
                                    <li>
                                        <div class="background-view-first" style="width: 33%;">
                                            <div class="slider-image-number">
                                                <span>2</span>
                                                <label>Image</label>
                                            </div>
                                            <span style="display:block;">(file Size Upto 224kb)</span>
                                        </div>
                                        @if (ViewBag.Loginsilder2 != null)
                                        {
                                            <div class="background-view-slider">
                                                @{
                                                    <img name="slider2" src="@Url.Content("~/" +  ViewBag.Loginsilder2.ImagePath)" id="slider2" />
                                                }
                                            </div>
                                        }

                                        else
                                        {
                                            <img name="slider2" src="" id="slider2" />
                                        }
                                        <div class="background-view-third" style="float:right;">
                                            <div class="background-view-third-one">
                                                <input type="file" id="image2" />
                                                <button type="button" class="for-disable" id="btnimage2">Save</button>
                                                <span><strong>Note :- </strong>Image Max Size 460 * 460 Pixel</span>
                                                <label id="img2msg"></label>
                                            </div>
                                            <div class="background-view-third-two">
                                                <button type="button" id="btnslider2">Delete</button>
                                                @if (ViewBag.Loginsilders2 != null)
                                                {
                                                    <a id="image1Tab" href="@Url.Content("~/" + ViewBag.Loginsilders2.ImagePath)" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                                }
                                                else
                                                {
                                                    <a id="image1Tab" href="#" target="_blank"><button type="button">Open Link In New Tab</button></a>
                                                }

                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>

</section>

<div class="modal fade" id="defaultModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Favicon</h4>
            </div>
            @using (Html.BeginForm("Outside_favicon", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:-0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Select Image</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #dddddd;">
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="silder1">
                                <button type="submit" class="btn bg-grey waves-effect for-disable" style="margin-top: 4px; margin-right: 12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
    }
</script>

<script type="text/javascript">

    function Img_ON_Off() {
        $.ajax({
            type: "POST", url: '@Url.Action("StausUpdate", "Home")', data: { type: "Single" }, dataType: 'json',
            cache: false,
            success: function (result) {
            if (result == "Success") {


            }
            else {

            }
        }
    });

    }

</script>
<script type="text/javascript">

    function Img_ON_Off2() {
        $.ajax({
            type: "POST", url: '@Url.Action("StausUpdate", "Home")', data: { type: "Repeat" }, dataType: 'json',
            cache: false,
            success: function (result) {
            if (result == "Success") {


            }
            else {

            }
        }
    });

    }

</script>
<script type="text/javascript">

    function delLogo1(e) {

        $.ajax({
        type: "POST", url: '@Url.Action("delLogo1", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                $('#LogoHeaderImg').attr('src', "")
                $('LogoHeaderTab').attr('href',"")
            }
            else {
                $('#LogoHeaderImg').attr('src', "")
                $('#LogoHeaderTab').attr('href',"")
            }
        }
    });

    }

</script>
<script type="text/javascript">

    function delLoginContent1(e) {

        $.ajax({
        type: "POST", url: '@Url.Action("delLoginContent1", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                $('#LoginPageLogoImg').attr('src', "")
                $('#LoginPageLogoTab').attr('href', "")
            }
            else {
                $('#LoginPageLogoImg').attr('src', "")
                $('#LoginPageLogoTab').attr('href', "")
            }
        }
    });

    }

</script>
<script type="text/javascript">

    function delfavico(e) {

        $.ajax({
        type: "POST", url: '@Url.Action("delfavicon", "Home")', data: { Id: e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
               $('#faviconImg').attr('src', "")
                $('#faviconTab').attr('href',"")
            }
            else {
                $('#faviconImg').attr('src', "")
                $('#faviconTab').attr('href',"")
            }
        }
    });
}

</script>

<script>
    window.onload = function ()
    {
        var succ = '@TempData["successfavicon"]';

        if (succ != null && succ != "")
        {
            if (succ.includes("successfully"))
            {
                //swal("File Uploaded!", succ, "success");
            }
            else {
                //swal("Oops!", succ, "error");
            }
        }

    }


</script>
<script>
    $(function () {
        var chk = '@ViewBag.sts';

        if (chk == "Single") {
           $("#bysim2").prop("checked", true);

        }
        else if (chk == "Repeat") {
         $("#bysim1").prop("checked", true);

        }
        else {
            $("#byapi1").prop("checked", true);

        }
 });
</script>


<script>

$("#fileButtonSingle").click(function () {
    var maxFileSize = 1648000; // 1648 kb
   var fileUpload = $('#fileInputSingle');

        if (fileUpload.val() == '') {
            ToastrMessage();
            toastr.error('Select a File');
    return false;
   }
else {
      if (fileUpload[0].files[0].size < maxFileSize) {

        var files = $("#fileInputSingle").get(0).files;
        var btnVal = "Single";
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInputSingle", files[i]);
                fileData.append("fileButton", btnVal);
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("BackLogin_Content", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result, status, xhr) {

                $.ajax({
                    url: '@Url.Action("_LoginPageBackgroundImages3","Home")',
                    type: 'GET',
                    success: function (response2) {

                        $("#img1").attr('src',"../.."+ response2)
                        $('#fileInputSingleTab').attr('href', "../.." + response2)

                        ToastrMessage();
                        toastr.success('File Upload Successfully.');
                    }
                });

                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
         return true;
      }else{
            ToastrMessage();
            toastr.error('File too big !');
         return false;
      }
   }
    });


$("#fileButton").click(function () {
        var maxFileSize = 224000; // 224 kb
   var fileUpload = $('#fileInput');

        if (fileUpload.val() == '') {
       ToastrMessage();
       toastr.error('Select a File');
    return false;
   }
   else {
      if (fileUpload[0].files[0].size < maxFileSize) {

        var files = $("#fileInput").get(0).files;
        var btnVal = "Repeat";
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
                fileData.append("fileButton", btnVal);
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("BackLogin_Content", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result, status, xhr) {

                $.ajax({
                    url: '@Url.Action("_LoginPageBackgroundImages2","Home")',
                    type: 'GET',
                    data: { usedFor: "Repeat" },
                    success: function (response1) {
                        $("#mydiv").load(location.href + " #mydiv");
                        $('#RepeatTab').attr('href', "../.." + response1)
                        ToastrMessage();
                        toastr.success('File upload Successfully.');
                    }
                });

                },
                error: function (xhr, status, error) {
                }
            });
         return true;
      }else{
          ToastrMessage();
          toastr.error('File too big !');
         return false;
      }
   }

    });

</script>
<script>
    $('#btnslider2').click(function () {
         $.ajax({
                    url: '@Url.Action("delLogo","Home")',
             type: 'GET',
             data: {type:'LoginSlide2'},
             success: function (response) {

                 if (response === 'Success') {
                     $('#slider2').attr('src', '')
                     ToastrMessage();
                     toastr.warning('Logo has been Deleted !');
                 }

                    }
                });
    })



    $('#btnslid1img').click(function () {
           $.ajax({
                    url: '@Url.Action("delLogo","Home")',
             type: 'GET',
             data: {type:'LoginSlide1'},
             success: function (response) {

                 if (response === 'Success') {
                       $('#slider1').attr('src','')
                        ToastrMessage();
                     toastr.warning('Logo has been Deleted !');
                 }

                    }
                });
    })
</script>

<script>
    $("#btnimage1").click(function () {
        var maxFileSize = 224000; // 224 kb
        var fileUpload = $('#image1');
        if (fileUpload.val() == '') {
            ToastrMessage();
            toastr.error('Select a File !');
    return false;
   }
else {
      if (fileUpload[0].files[0].size < maxFileSize) {

         var files = $("#image1").get(0).files;
        var btnVal = "LoginSlide1";
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("image1", files[i]);
                fileData.append("sliderType", btnVal);
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("_LoginSlider", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result, status, xhr) {

                $.ajax({
                    url: '@Url.Action("_LoginPagesliderImage","Home")',
                    type: 'GET',
                    success: function (response) {
                        if (response[0].SilderType === 'LoginSlide1') {
                            $('#slider1').attr('src', "../../" + response[0].ImagePath);
                            $('#image1').attr('src', "");
                        }
                         if (response[1].SilderType === 'LoginSlide1') {
                             $('#slider1').attr('src', "../../" + response[1].ImagePath);
                             $('#image1').attr('src', "");
                        }
                        ToastrMessage();
                        toastr.success('File Upload Successfully.');

                    }
                });

                },
                error: function (xhr, status, error) {
                }
            });

         return true;
      } else {
          ToastrMessage();
            toastr.error('File too big !');
         return false;
      }
   }
 });

$("#btnimage2").click(function () {
        var maxFileSize = 224000; // 224 kb
        var fileUpload = $('#image2');
        if (fileUpload.val() == '') {

            ToastrMessage();
            toastr.error('Select a File !');
    return false;
   }
else {
      if (fileUpload[0].files[0].size < maxFileSize) {

          var files = $("#image2").get(0).files;
        var btnVal = "LoginSlide2";
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("image2", files[i]);
                fileData.append("sliderType", btnVal);
            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("_LoginSlider", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result, status, xhr) {

                $.ajax({
                    url: '@Url.Action("_LoginPagesliderImage","Home")',
                    type: 'GET',
                    success: function (response) {

                         if (response[0].SilderType === 'LoginSlide2') {
                             $('#slider2').attr('src', "../../" + response[0].ImagePath);
                             $('#image2').attr('src', "");
                        }
                         if (response[1].SilderType === 'LoginSlide2') {
                             $('#slider2').attr('src', "../../" + response[1].ImagePath);
                             $('#image2').attr('src', "");
                        }
                        ToastrMessage();
                        toastr.success('File upload successfully.');
                    }
                });

                },
                error: function (xhr, status, error) {
                }
            });

         return true;
      } else {
          ToastrMessage();
            toastr.error('File too big !');
         return false;
      }
   }
});

</script>

<script>
    function Img_ON_OffDefault() {
        $.ajax({
            type: "POST", url: '@Url.Action("StausUpdate", "Home")', data: { type: "DefaultColor" }, dataType: 'json',
            cache: false,
            success: function (result) {
            if (result == "Success") {
                $.ajax({
                    url: '@Url.Action("_LoginPageBackgroundImages2","Home")',
                    type: 'GET',
                    data: { usedFor: "Single" },
                    success: function (response) {
                        ToastrMessage();
                        toastr.success('File Selected');
                    }
                });
            }
            else {

            }
        }
    });

    }
</script>

<script>

    ViewBag.sts
</script>

<script>
    function SliderStatus() {

                $.ajax({
                    url: '@Url.Action("LoginSilderIsStatus","Home")',
                    type: 'GET',
                    success: function (response) {

                        if (response === 'Success') {
                            $('#statusOff').show();//.addClass('custom-off')
                            $('#statusOn').hide();
                            ToastrMessage();
                            toastr.error('Login Slider Status Off');
                        }
                        else if (response === 'Failed') {
                            $('#statusOff').hide();
                            $('#statusOn').show();//.addClass('custom-on')
                            ToastrMessage();
                            toastr.success('Login Slider Status On');

                        }
                        else {
                            $('#statusNULL').show()//.addClass('custom-off');
                            $('#statusOff').hide();
                            ToastrMessage();
                            toastr.error('Login Slider Status Off');

                        }
                    }
                });
    }

</script>

<script>
    $("#btnaaa").click(function () {

        var files = $("#LoginPageLogo").get(0).files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("LoginPageLogo", files[i]);

            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Login_Content_outside", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {

                $('#LoginPageLogoImg').attr('src', "../.." + response[0].Image)
                $('#LoginPageLogoTab').attr('href', "../.." + response[0].Image)
                $("#LoginPageLogo").val('');
                ToastrMessage();
                toastr.success('Logo Upload for Login Page');
                },
                error: function (xhr, status, error) {
                }
            });
    });


$("#HeaderLogoBtn").click(function () {

        var files = $("#HeaderLogo").get(0).files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("HeaderLogo", files[i]);

            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Header_logo", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {

                $('#LogoHeaderImg').attr('src', "../.." + response[0].LogoImage)
                $('#LogoHeaderTab').attr('href',"../.."+ response[0].LogoImage)
                $("#HeaderLogo").val('');

                ToastrMessage();
                toastr.success('Header Upload Successfully.');
                },
                error: function (xhr, status, error) {
                }
            });
});

$("#faviconBtn").click(function () {

        var files = $("#faviconfile").get(0).files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("faviconfile", files[i]);

            }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Outside_favicon", "Home")',
            contentType: false,
            processData: false,
            data: fileData,
            success: function (response) {
                $('#faviconImg').attr('src', "../.." + response[0].faviconimage)
                $('#faviconTab').attr('href', "../.." + response[0].faviconimage)
                $("#faviconfile").val('');

                ToastrMessage();
                toastr.success('Favicon Upload Successfully.');
                },
                error: function (xhr, status, error) {
                }
            });
 });
</script>

<script>

    $('#delBackLogin_ContentSingle').click(function () {

           $.ajax({
                    url: '@Url.Action("delBackLogin_ContentRepeat","Home")',
             type: 'GET',
             data: {Type:'Single'},
             success: function (response) {

                 if (response === 'Success') {
                       $('#img1').attr('background',"")
                     ToastrMessage();
                     toastr.error('Delete Login Background Image');
                 }

                    }
                });



        })

    $('#delBackLogin_ContentRepeat').click(function () {

           $.ajax({
                    url: '@Url.Action("delBackLogin_ContentRepeat","Home")',
             type: 'GET',
             data: {Type:'Repeat'},
             success: function (response) {

                 if (response === 'Success') {
                     $('#img2').attr('background', "")
                     ToastrMessage();
                     toastr.error('Delete Login Background Image');

                 }

                    }
                });



    })

</script>
<script>
    $(function () {

        var color = "#fff";
        var msgcolor = '@ViewBag.colors';
        if (msgcolor != "") {
            color = msgcolor;
        }
        $("input[name='radio'][value='" + color + "']").prop('checked', true);
      });
</script>
<script type='text/javascript'>
    $("input[type='radio']").click(function(){
        var radioValue = $("input[name='radio']:checked").val();
            if(radioValue){
                $.ajax({
                    url: '@Url.Action("AddColor","Home")',
             type: 'POST',
             data: {ColorCode:radioValue},
             success: function (response) {
                 if (response === 'Success') {
                     ToastrMessage();
                     toastr.success('Logo Background Color Select.');
                 }
                 else {
                     ToastrMessage();
                     toastr.success('Transparent Color Select.');
                 }

                    }
                });
            }
        });
</script>
<script>
    $('.for-disable').click(function () {

        $(this).prop('disabled', true);
        $(this).css('cursor', 'no-drop');
    });
</script>

<script>
    $('#savePrivacy').click(function () {
        $('#defaultModal3').modal('hide');
        $('#txtedit').val('');
    })
</script>