@model List<Vastwebmulti.Models.proc_whitelabel_AepsReport_Paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">From</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Firm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Aadhar&nbsp;Number</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Customer&nbsp;Bank&nbsp;Name</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Marchent&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Req&nbsp;Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Transfer</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;Name</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;RRN</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Remark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.Status;
                if (item.Status.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
            <tr>
                <td>@sts</td>
                <td>@item.ApplicationType</td>
                <td>@item.Frm_Name</td>
                <td>@item.AccountHolderAadhaar</td>
                <td>@item.BankName</td>
                <td>@item.MerchantTxnId</td>
                <td>@item.Txn_Date</td>
                <td>@item.Amount</td>
                <td>@item.BankName</td>
                <td>@item.BankRRN</td>
                <td>@item.Remark</td>
            </tr>
            }

        </tbody>
    </table>
</body>
</html>
