
@model List<Vastwebmulti.Models.whitelabel_money_transfer_report_Paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left: 2px;padding-right: 2px;text-align:center;">Sender&nbsp;No</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Beneficiary&nbsp;Ac</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Firm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Trans&nbsp;Type</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Rch&nbsp;Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Resp&nbsp;Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Trans&nbsp;Amt</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Tatol&nbsp;Amt</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Operator&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">From</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.status;
                if (item.status.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
            <tr>
                <td>@sts</td>
                <td>@item.senderno</td>
                <td>@item.accountno</td>
                <td>@item.frm_name</td>
                <td>@item.Trans_type</td>
                <td>@item.trans_time</td>
                <td>@item.response_time</td>
                <td>@item.amount</td>
                <td>@item.totalamount</td>
                <td>@item.income</td>
                <td>@item.bank_trans_id</td>
                <td>@item.income</td>
                <td>@item.user_remain</td>
                <td>@item.trans_from</td>
            </tr>
            }

        </tbody>
    </table>
</body>
</html>
