@model List<Vastwebmulti.Models.Whitelabel_Mpos_Report_Paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF mPoss Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">M&nbsp;-&nbsp;Poss&nbsp;Id</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Customer&nbsp;Id</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">BankRRN&nbsp;No</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">TxnId</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">TransType</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Amount</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Merchant&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;Merchant&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Bank&nbsp;Terminal&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Card&nbsp;Brand</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Card&nbsp;Holder&nbsp;Name</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Card&nbsp;Number</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Card&nbsp;Type</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Invoice&nbsp;No</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Payment&nbsp;Id</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Merchant&nbsp;Address</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Admin&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Admin&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Whitelabel&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Whitelabel&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Master&nbsp;Comm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Comm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Comm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Whitelabel&nbsp;GST</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;GST</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;GST</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Whitelabel&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Admin&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Purchase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @if (item.status == "00")
                    {
                        <p style="color:green;font-weight:700;">Success</p>
                    }
                    else
                    {
                        <p style="color:red;font-weight:700;">Failed</p>
                    }
                </td>
                <td>@item.mPOSid</td>
                <td>
                    @if (item.Frm_Name != null)
                    {
                        <p>@item.Frm_Name</p>
                    }
                    else
                    {
                        <p>@item.Email</p>
                    }
                </td>
                <td>@item.BankRRN</td>
                <td>@item.TxnId</td>
                <td>@item.transType</td>
                <td>@item.amount</td>
                <td>@item.merchatID</td>
                <td>@item.bankmerchantID</td>
                <td>@item.bankterminalID</td>
                <td>@item.cardbrand</td>
                <td>@item.cardholdername</td>
                <td>@item.cardnumber</td>
                <td>@item.cardtype</td>
                <td>@item.date</td>
                <td>@item.invoiceno</td>
                <td>@item.paymentid</td>
                <td>@item.merchantnameaddress</td>
                <td>@item.AdminPre</td>
                <td>@item.AdminPost</td>
                <td>@item.MasterPre</td>
                <td>@item.MasterPost</td>
                <td>@item.DealerPre</td>
                <td>@item.DealerPost</td>
                <td>@item.RetailerPre</td>
                <td>@item.RetailerPost</td>
                <td>@item.MdComm</td>
                <td>@item.Dlm_Comm</td>
                <td>@item.Rem_comm</td>
                <td>@item.mdgst</td>
                <td>@item.dlmgst</td>
                <td>@item.remgst</td>
                <td>@item.mdincome</td>
                <td>@item.dlmincome</td>
                <td>@item.remincome</td>
                <td>@item.adminincome</td>
                <td>@item.purchase</td>
            </tr>
            }

        </tbody>
    </table>
</body>
</html>

