@model List<Vastwebmulti.Models.proc_Whitelabel_PAN_CARD_IPAY_Token_report_Paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Pancard Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">User&nbsp;Firm</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Merchant&nbsp;Txn&nbsp;Id</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Physical</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Digital</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Processing&nbsp;Fees</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">UTI&nbsp;Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">UTI&nbsp;TXN&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Remain&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Net&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Retailer&nbsp;Remain&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Remain&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Dealer&nbsp;Remain&nbsp;Post</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">WhiteLabel&nbsp;Remain&nbsp;Pre</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">WhiteLabel&nbsp;Net&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">WhiteLabel&nbsp;Remain&nbsp;Post</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.Particulars;
                if (item.Particulars.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>
                    <td>@item.Frm_Name</td>
                    <td>@item.MerchantTxnId</td>
                    <td>@item.PhysicalCount</td>
                    <td>@item.DigitalCount</td>
                    <td>@item.ProcessingFees</td>
                    <td>@item.CouponStatus</td>
                    <td>@item.Date</td>
                    <td>@item.UTI_TXN_ID</td>
                    <td>@item.retailer_remain_pre</td>
                    <td>@item.RetailerIncome</td>
                    <td>@item.retailer_remain_post</td>
                    <td>@item.retailer_dealer_pre</td>
                    <td>@item.retailer_dealer_post</td>
                    <td>@item.whitelabel_remain_pre</td>
                    <td>@item.whitelabelincome</td>
                    <td>@item.whitelabel_remain_post</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>

