@model List<Vastwebmulti.Models.whitelabel_Recharge_Report_Paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left: 2px;padding-right: 2px;text-align: center;">Recharge&nbsp;No</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Operator</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Opt&nbsp;Type</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Rch&nbsp;Amt</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Remain</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Type</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Operator&nbsp;ID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Rch&nbsp;Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Resp&nbsp;Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.rstatus;
                if (item.rstatus.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
                <tr>
                    <td>@sts</td>
                    <td>@item.mobile</td>
                    <td>@item.Operator_name</td>
                    <td>@item.operator_type</td>
                    <td>@item.amount</td>
                    <td>@item.income</td>
                    <td>@item.remain</td>
                    <td>@item.rch_type</td>
                    <td>@item.opt_id</td>
                    <td>@item.Rch_time</td>
                    <td>@item.resp_time</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
