@model Vastwebmulti.Areas.WHITELABEL.Models.PrepaidSlab
@{
    ViewBag.Title = "Prepaid_Slab_setting";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    #div_Loader {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999;
    }


    .ldio-gs56nt525f > div {
        transform-origin: 100px 100px;
        animation: ldio-gs56nt525f 0.2s infinite linear;
    }

        .ldio-gs56nt525f > div div {
            position: absolute;
            width: 22px;
            height: 152px;
            background: var(--main-bg-lcolor);
            left: 100px;
            top: 100px;
            transform: translate(-50%,-50%);
        }

            .ldio-gs56nt525f > div div:nth-child(1) {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(6) {
                width: 80px;
                height: 80px;
                background: #fff;
                border-radius: 50%;
            }

            .ldio-gs56nt525f > div div:nth-child(3) {
                transform: translate(-50%,-50%) rotate(45deg)
            }

            .ldio-gs56nt525f > div div:nth-child(4) {
                transform: translate(-50%,-50%) rotate(90deg)
            }

            .ldio-gs56nt525f > div div:nth-child(5) {
                transform: translate(-50%,-50%) rotate(135deg)
            }

    .loadingio-spinner-gear-94vo528ab8 {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .ldio-gs56nt525f {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

        .ldio-gs56nt525f div {
            box-sizing: content-box;
        }

    .select2-container--default .select2-selection--single {
        border: 1px solid #bbb !important;
        border-radius: 0px !important;
        height: 38px !important;
        background-color: #f5f5f5 !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px !important;
        }

    @@keyframes ldio-gs56nt525f {
        0% {
            transform: rotate(0deg)
        }

        50% {
            transform: rotate(22.5deg)
        }

        100% {
            transform: rotate(45deg)
        }
    }
    .slab-first-tab {
        background: @PageData["GlobalSecond"] !important;
        float: left;
        padding-bottom: 20px !important;
    }

        .slab-first-tab ul li:first-child {
            margin-top: 0px !important;
        }

        .slab-first-tab h2 {
            background: #fff !important;
            margin: 13px auto !important;
            display: block;
            width: 90%;
        }

    .slab-first-tab .nav-tabs li.active a, .slab-first-tab .nav-tabs li.active a:hover, .slab-first-tab .nav-tabs li.active a:focus {
        background: @PageData["Globalfirst"] !important;
        margin: 0px;
    }

    .slab-first-tab .nav-tabs li a::before {
        transform: rotate(-131deg) !important;
    }

    .all-slab-header .bg-blue-grey {
        background: @PageData["GlobalSecond"] !important;
        border-left: 2px solid #fff !important;
    }

    .all-slab-header .fullbodydycolorbg {
        background: @PageData["Globalfirst"] !important;
    }
    #btnEdit.btn.waves-effect, #btnsubmit.btn.waves-effect {
        background: linear-gradient(to right, @PageData["Globalfirst"], @PageData["GlobalSecond"] ) !important;
        color: #fff;
    }
    .slab-edit-table #btnsubmituser, .slab-edit-table #btnsubmit, .slab-edit-table #btnsubmitusercommon{
        border: 1px solid #000;
    }
    @@media screen and (max-width:992px) {
        .col-md-10.slab-first-tab-content {
            margin-top: 40px;
            width: 100%;
            float: left;
        }
    }

    @@media screen and (max-width:767px) {
        .slab-first-tab h2 {
            width: 98%;
        }
    }

    @@media screen and (max-width:480px) {
        .all-slab-header button, .all-slab-header a, #btnsubmit {
            width: 50%;
            float: left !important;
            margin: 0 !important;
            margin-bottom: 10px !important;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @Html.Partial("_Slab_Menu")
                <div class="col-md-10 slab-first-tab-content">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header " style="padding:0px;border-bottom:0px;">
                                    <div class="row">
                                        <div class="col-md-12 all-slab-header">
                                            <a href="@Url.Action("Prepaid_Slab_setting","Home")" id="Comm" class="btn bg-blue-grey waves-effect fullbodydycolorbg">Common Slab<p>For New Users</p></a><button type="button" id="Mdbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Master', 'EditFormUserWise')">MD Slab<p>Exsiting Users</p></button><button type="button" id="Dlmbtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Dealer', 'EditFormUserWise')">Distributor Slab<p>Exsiting Users</p></button><button type="button" id="Rembtn" class="btn bg-blue-grey waves-effect" onclick="editUserWise('Retailer', 'EditFormUserWise')">Retailer Slab<p>Exsiting Users</p></button><button id="btnEdit" type="button" class="btn  waves-effect" style="margin-left:22px;" onclick="funcEdit(this, 'EditFormComm')"> <img src="~/AdminDesign/images/edit-button.svg" style="width:15px;" />&nbsp;Edit Slab</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div id="divEditFormComm" class="slab-edit-table table-responsive " style="position:inherit;">
                                        @Html.Partial("_prepaid_comm", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="div_Loader" style="display:none;">
    <div class="loadingio-spinner-gear-94vo528ab8">
        <div class="ldio-gs56nt525f">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>


<script>
    var FormId = "";
    var roleshow = "";

    function funcEdit(event, frmId) {
        var val = $('#ddlUserId').val();
         var ddldlm = $('#ddldealer').val();
        var ddlrem = $('#ddlUserIdrem').val();
        $('#btnsubmit').show();
        $('#btnsubmituser').show();
        if (val == "") {
            $('#btnsubmitusercommon').show();
        }
        if (roleshow == "Retailer" && ddldlm != "" && ddlrem=="") {
            $('#btnsubmitusercommondlmrem').show();
        }
        $('#btnEdit').hide();
        //alert();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
        if (FormId == "")//Use in Default Slab edit
        {
            FormId = frmId;
        }
        var ddlVal = $('#ddlUserId').val();
        if (ddlVal != null && ddlVal == '')//Update ALL
        {
            $('#tbodyeditAll').show();
            $('#tbodyedit').hide();
        }
         if (ddlVal != null && ddlVal != '')//Update ALL
         {
            $('#tbodyeditAll').hide();
            $('#tbodyedit').show();
         }
         var Retailerval = $('#Retailerid').val();
         if (Retailerval != null && Retailerval == '')//Update ALL
         {
             $('#tbodyeditAll').show();
             $('#tbodyedit').hide();
         }
         if (Retailerval != null && Retailerval != '')//Update ALL
         {
             $('#tbodyeditAll').hide();
             $('#tbodyedit').show();
        }

    }
    function funcSave() {
        //$("#"+FormId+"").on("submit", function (event) { });
        //alert(FormId);
        $("#" + FormId + "").submit();
    }

    function editUserWise(userRole, frmId) {
        roleshow = userRole;
        $('#div_Loader').show();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        //alert(userRole);
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: userRole }, function (data) {
        $('#div_Loader').hide();
            $("#divEditFormComm").html(data);
            FormId = frmId;
            $("#role").val(userRole);
            if (userRole == "Retailer") {
                $('#retailerdrop').show();
                $('#allshow').hide();
        }
        else {
                $('#retailerdrop').hide();
                $('#allshow').show();
        }
        })
            .fail(function (xhr, status, error) {
                  $('#div_Loader').hide();
             //  $('#divLoader').hide();
              alert("error");
              //var err = eval("(" + xhr.responseText + ")");
              //alert(err.Message);
              console.log(xhr.responseText);
          })
          .always(function () {
          });
        if(userRole=="Master")
        {
            $("#Mdbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Dealer") {
            $("#Dlmbtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Retailer") {
            $("#Rembtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Retailerdropdow").show();
           //var  x = $("#ddlUserId");
           // x.options[x.selectedIndex].text = "Select Dealer";
        }
        if (userRole == "API") {
            $("#Apibtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Whitebtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
        if (userRole == "Whitelabel") {
            $("#Whitebtn").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect fullbodydycolorbg");
            $("#Mdbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Dlmbtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Rembtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Apibtn").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            $("#Comm").removeClass("btn bg-grey waves-effect fullbodydycolorbg").addClass("btn bg-blue-grey waves-effect");
            document.getElementById("Retailerdropdow").style.display = "none";
        }
    }
    function ddlUserIdChange() {
        var ddlVal = $('#ddlUserId').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal}, function (data) {
            $("#divEditFormComm").html(data);
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    function ddlUserIdChangerem() {
        var dlmid = $('#ddldealer').val();
        var ddlVal = $('#ddlUserIdrem').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal,dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    //Indivual Retailer Wise
    function ddlRetailerIdChange() {
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
        $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var ddlVal = $('#ddlUserId').val();

        var role = $("#role").val();
        //alert(ddlVal);
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, userid: ddlVal }, function (data) {
            $("#divEditFormComm").html(data);
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
    function ddlretailerid() {
                 var dlmid = $('#ddldealer').val();
        var role = $("#role").val();
        $('#btnsubmit').hide();
        $('#btnsubmituser').hide();
         $('#btnsubmitusercommon').hide();
        $('#btnEdit').show();
        var url = '@Url.Action("_UserPrepaidSlab", "Home")';
        $.post(url, { role: role, dlmid: dlmid }, function (data) {
            $("#divEditFormComm").html(data);
            $('#retailerdrop').show();
            $('#allshow').hide();
        })
          .fail(function (xhr, status, error) {
              console.log(xhr.responseText);
          })
          .always(function () {
          });
    }
</script>
<!--Window Load-->
<script>
    window.onload = function () {
        $("#Comm").removeClass("btn bg-blue-grey waves-effect").addClass("btn bg-grey waves-effect");
    }
</script>



