@model Vastwebmulti.Areas.WHITELABEL.Models.ReferralcodeList
@{
    ViewBag.Title = "ReferralBenefit";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-5">
                        @using (Html.BeginForm("ReferralBenefit", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-top:4px;margin-left:10px;margin-bottom:0px;">
                                        <div class="" style="padding-bottom:3px;border:1px solid #dddddd;">
                                            @Html.DropDownList("retailerid1", new SelectList(ViewBag.remid, "Value", "Text"), "Select Retailer Id", new { @class = "selectpicker form-control", data_live_search = "true", @style = "height:29px;padding:0px;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:-25px; height:34px;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-20px;">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-17px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;font-size:13px;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Retailer&nbsp;Id</th>
                                        <th>Retailer&nbsp;Name</th>
                                        <th>Amount</th>
                                        <th>Whitelabel&nbsp;Pre</th>
                                        <th>Whitelabel&nbsp;Post</th>
                                        <th>Retailer&nbsp;Pre</th>
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Referalcode_benifitHistory)
                                    {
                                        <tr>
                                            <td style="font-size:11px;">@item.Retailermail</td>
                                            <td>@item.Retailername</td>
                                            <td>@item.Refamount</td>
                                            <td>@item.whitelabelremainpre</td>
                                            <td>@item.whitelabelremainpost</td>
                                            <td>@item.retailerremainpre</td>
                                            <td>@item.retailerremainpost</td>
                                            <td>@item.refdate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    window.onload = function() {
        var result = '@TempData["result"]';
        var sts = '@TempData["sts"]';
        if (result!= null && result != '')
        {
            swal("Good job!", result, sts);
        }
    }
</script>

