@model IEnumerable<Vastwebmulti.Models.ReferralCode_Capping>
@{
    ViewBag.Title = "ReferralCodeCapping";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<section class="content" >
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("ReferralCodeCapping", "Home", FormMethod.Post))
                {
                <div class="card">
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom:0px;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                <li style="font-size:20px;">Set Referral</li>

                            </ol>
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="" style="border:1px solid #dddddd;margin-top:4px;">
                                    @Html.TextBox("cappingbalance", "", new { @class = "form-control", @placeholder = "Enter Capping Balance", required = "", onkeypress = "return isNumber(event)" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="padding:0px;">
                            <div class="form-group" style="margin-bottom:0px;">
                                <div class="" style="border:1px solid #dddddd; margin-top:4px;">
                                    @Html.TextBox("refamount", "", new { @class = "form-control", @placeholder = "Enter Referral Amount", required = "", onkeypress = "return isNumber(event)" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn  waves-effect" style="height:36px;margin-top:4px;border:1px solid #bbb;background: transparent;">
                                <span style="top:-1px;color:black;">Submit</span>
                            </button>
                        </div>
                    </div>
                    }
                </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-5px;">
                <div class="card">
                    <div class="body" style="margin-top:-12px;padding:7px;">
                        <div class="table-responsive web-white-table" style="position:inherit;margin-top:-2px;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="navbar" style="color:white;position:initial;">
                                    <tr>
                                        <th>Capping Balance</th>
                                        <th>Referral Amount</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="data">
                                            <td>@item.cappingbalance</td>
                                            <td>@item.refamount</td>
                                            <td><input type="button" onclick="Edit()" value="Edit" class="btn " style="border: 1px solid #bbb;padding: 5px 15px;" /></td>
                                        </tr>
                                        <tr id="editdata" style="display:none;">
                                            @using (Html.BeginForm("ReferralCodeCappingEdit", "Home", FormMethod.Post))
                                            {
                                                <td> @Html.TextBox("editcap", item.cappingbalance, new { @class = "form-control", @placeholder = "Enter Capping Balance", required = "",@style = "width:100px;border:0px;", onkeypress = "return isNumber(event)" }) </td>
                                                <td> @Html.TextBox("editamount", item.refamount, new { @class = "form-control", @placeholder = "Enter Referral Amount", required = "",@style = "width:100px;border:0px;", onkeypress = "return isNumber(event)" }) </td>
                                                <td>
                                                    <input type="submit" value="Save" class="btn" style="border: 1px solid #bbb;padding: 5px 15px;" />
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>
<!--Insert Popuop-->
<script>
    $(document).ready(function () {
            var message = '@ViewData["message"]'
            if(message !="" && message!=null)
            {
              swal("Message !", message, "success");
            }
        });
</script>
<script>
    function Edit() {
        $('#editdata').show();
        $('#data').hide();
    }
</script>

