
@{
    ViewBag.Title = "Send_SMS";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-right:1px;">
                                @Html.Partial("smsapipartialview")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-5">

                <img src="~/Areas/WHITELABEL/Design/img/chat.svg" style="width: 450px;margin: auto;display:block;" />
            </div>
            <div class="col-md-7">
                <div class="send-sms-wl" >
                    <div class="" style="border-bottom:1px solid #130f0f17; background-color:#bbb;">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin:0px;">
                            <li class="active" style="color:#000; font-size:15px;font-weight:700;">SEND API SMS</li>
                        </ol>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="body " style="background:#f5f5f5;padding:10px;">
                                @using (Html.BeginForm("Send_API_SMS", "Home", FormMethod.Post))
                                {
                                    <div class="row" style="margin-bottom:0px; margin-top:0px;">

                                        
                                        <div class="col-lg-12" style="margin-bottom:0px;">
                                            <div class="form-group">
                                                <label for="email_address_2" >User Level :</label>
                                                <div class="edit-white-b" style="border:1px solid #dddddd;">
                                                    @Html.DropDownList("Userform1", new List<SelectListItem> {
                       new SelectListItem { Text = "Distributor", Value= "WDealer" } ,
                     new SelectListItem { Text = "Retailer", Value= "WRetailer" },
                       },
"Select User", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                     
                                        <div class="col-lg-12" style="margin-bottom:0px;">
                                            <div class="form-group">
                                                <label for="email_address_2" >Mobile :</label>
                                                <div class="form-line" style="border:1px solid #dddddd;">
                                                    @Html.TextBox("txtmobileNo", "", new { @class = "form-control", @maxlength = "10" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0px; margin-top:0px;">
                                       
                                        <div class="col-lg-12" style="margin-bottom:0px;">
                                            <div class="form-group">
                                                <label for="email_address_2">Message :</label>
                                                <div class="form-line" style="border:1px solid #dddddd;">
                                                    @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control", @placeholder = "Enter Message Here", style = "height:120px" })
                                                    @*<ul id="sms-counter"><li>Remaining : <span class="remaining"></span></li></ul>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div><label style="color:Red; padding-right: 0px; width:23%; padding-left: 5px;">@ViewData["msgdlm"] </label> </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn  waves-effect" style="float:right;color:#fff;    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);">Send Sms</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button id="btn" type="reset" class="btn  waves-effect" style="float:right;border:1px solid #bbb; margin-right:5px;">Reset</button>
                                            @*<input id="submit1" type="submit" value="Send Sms" class="btn btn-success" style="float:right;" />
                                                <input id="btn" type="reset" value="Reset" class="btn btn-success" style="float:right;" />*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
