@model IEnumerable<Vastwebmulti.Areas.WHITELABEL.Models.WhiteLabelRefferalListViewModel>
@{
    ViewBag.Title = "Set_Referral";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}


<style>
    .tab-link.active::after {
        content: '';
        width: 100%;
        border-bottom: 2px solid #000;
        display: block;
    }

    .ulbussnessnotshow input, .ulbussnessnotshow select, .ulpurchasenotshow select, .ulpurchasenotshow input {
        padding: 4px 10px;
        border: 0px;
        width: 150px;
    }
    .switch-user-tab-right .nav-tabs li.active::after, .switch-user-tab-right .nav-tabs li::after {
        content: '';
        width: 25px;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        height: 70%;
        border: 2px solid #fff;
        margin: 5px;
    }

    .switch-user-tab-right .nav-tabs li.active::before{
        content: "";
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        height: 28%;
        width: 17px;
        position: absolute;
        left: 9px;
        transform: rotate(-45deg);
        top: 9px;
    }
    .switch-user-tab-right .nav-tabs li.active {
        background: @PageData["Globalfirst"] !important;
    }
    .switch-user-tab-right .nav-tabs li {
        background: @PageData["GlobalSecond"] !important;
    }
    .switch-user-tab-right .nav-tabs li a {
    background: transparent !important;
    color: #fff !important;
    }
    .refferal-type-left, .refferal-type-right {
        background: #f5f5f5;
    }
    .refferal-type ul li {
        border-bottom: 1px dashed #bbb;
        padding: 5px;
    }
    .refferal-type h2 {
        border: 2px solid @PageData["Globalfirst"];
    }
    .ulbussnessnotshow input, .ulbussnessnotshow select, .ulpurchasenotshow select, .ulpurchasenotshow input {
        height: 30px;
        margin-top: -10px;
    }
    @@media only screen and (max-width:992px) {
        .switch-user-tab-right {
            margin-top: 50px;
            float: left;
            width: 100%;
        }
    }
    @@media only screen and (max-width:520px) {
        .switch-history-table .table-responsive > .table-bordered > thead > tr > th:first-child {
            border-left: 1px solid var(--border-color);
        }
        .switch-user-tab-right .nav-tabs li{width: 100%;margin-bottom: 10px;}
    }

</style>

<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one">
                    Set Referral
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix ">
            <div class="switch-user-tab">
                <div class="col-md-4 switch-user-tab-left">
                    <ul class="nav nav-tabs fullbodydycolorbg" id="tabs">
                        <li class="tab-link " data-tab="tab-1" style="width:100%;">
                            <a data-toggle="tab" href=".home" aria-expanded="false" style="font-size: 17px;padding: 4px;">
                                <img src="~/AdminDesign/images/referral.svg" style="width:25px;" /> Referral Setting
                            </a>
                        </li>


                    </ul>
                    <div class="width100 home float-left tab-pane fade active in" style="height:100% !important;border: 1px solid #ddd;background: #f5f5f5 !important;padding-bottom: 10px;">
                        <div class="fund-transfer-form">
                            <form id="newsletter-form" method="post">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <label>Referral Type </label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="changereferraltype" name="changereferraltype" onchange="changereferral(this)" required>
                                                <option value="1">Purchases Basis</option>
                                                <option value="2">business Basis</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="purchase-basis1">

                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <label id="lblpurc">Minimum Purchase Limit </label>
                                        <label id="lblbusness" style="display:none">Minimum Business </label>
                                        <div>
                                            <input id="txtminimiumpurchase" name="txtminimiumpurchase" type="number" required placeholder="Enter Amount" />
                                        </div>
                                    </div>

                                </div>


                                <div class="business-basis" style="display:none;">


                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <label>Category</label>
                                        <div>
                                            <div class="custom-district">
                                                <select id="catetype" name="catetype">
                                                    <option value="Prepaid/DTH">Prepaid/DTH</option>
                                                    <option value="Utilities">Utilities</option>
                                                    <option value="Financial">Financial</option>
                                                    <option value="Travel/Hotel">Travel&nbsp;&&nbsp;Hotel</option>
                                                    <option value="Ecommerce">Ecommerce</option>
                                                    <option value="Service/Repair">Service&nbsp;&&nbsp;Repair</option>
                                                    <option value="Other">Other</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <label>Expiry No. Of Days </label>
                                    <div>
                                        <input type="number" id="txtexpnoofday" name="txtexpnoofday" required placeholder="Enter Days" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <label>Sharing Type</label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="ddlsharingtype" name="ddlsharingtype" required>
                                                <option value="Percentage">(%) Percentage</option>
                                                <option value="FixRupees">Fix Rupees</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 purchase-type ">
                                    <label>Purchasing Type</label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="ddlReferalcode" name="ddlReferalcode" required>
                                                <option value="SinglePurchasing">First Purchasing</option>
                                                <option value="MultiplePurchasing">Multiple Purchasing</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <label>Sharing Value </label>
                                    <div>
                                        <input type="number" id="txtSharingValue" name="txtSharingValue" required placeholder="Enter Value" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label id="lblmsg"></label>
                                        <button id="btnshowdetails" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;">
                                            Submit
                                        </button>
                                        <button type="reset" style="color:#000;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 15px;line-height: 22px;margin-right:10px;">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 switch-user-tab-right">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="tab-link active" data-tab="tab-1" style="border-right: 2px solid #fff;"><a data-toggle="tab" href="#home" aria-expanded="false">Referral Set Detail </a></li>
                        <li class="tab-link tablchangess" data-tab="tab-2"><a data-toggle="tab" href="#menu1" aria-expanded="false">Referral Achievement History</a></li>

                    </ul>

                    <div id="home" class="width100 home float-left tab-pane fade active in">
                        <div class="switch-history-table">
                            <div class="refferal-type">
                                <p class="fullbodydycolorbg" style="color: #fff;padding: 10px;text-align: center;font-weight: 600;margin: 10px 0;">
                                    <b>NOTE:-&nbsp;</b>Referrals can be given only in one way. If you want to set another method, you must remove the former.
                                </p>
                                <div class="refferal-type-left" id="purchasetype" style="margin-right:4%;">
                                    <h2>Purshases Basis</h2>

                                    <ul class="ulpurchaseshow">



                                        <li>Minimum Limit <span id="spnbusneww"></span></li>

                                        <li>Expery No. Of Days<span id="expnoofday"></span></li>
                                        <li>Sharing Type<span id="spansharingtypes"></span></li>
                                        <li>Sharing Value<span id="spnsharingvalue"></span></li>
                                    </ul>

                                    <ul class="ulpurchasenotshow" style="display:none;">



                                        <li>Minimum Limit<span id="spnbusneww"><input type="text" id="txtpurchaselimit" name="txtpurchaselimit" /></span></li>

                                        <li>Expery No. Of Days<span id="expnoofday"><input type="text" id="txtpurchasenoofday" name="txtpurchasenoofday" /></span></li>
                                        <li>
                                            Sharing Type<span id="spansharingtypes">
                                                <select id="ddlpurchsharingtype" name="ddlpurchsharingtype" required="">
                                                    <option value="Percentage">(%) Percentage</option>
                                                    <option value="FixRupees">Fix Rupees</option>

                                                </select>
                                            </span>
                                        </li>

                                        <li>Sharing Value<span id="spnsharingvalue"><input type="text" id="txtpurchassharingvlaue" name="txtpurchassharingvlaue" /></span></li>
                                    </ul>

                                    <div id="Statussetting" class="col-md-3">


                                        <fieldset class="firstf fff" id="purchgreen" style="display:none;margin-top:11px;">

                                            <button data-id="" onclick="Chkstatusonoffpurch('Purchases Basis',true)" type="button" class="btn" style="border: 1px solid #bbb;">
                                                <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:17px;" />
                                                <span>Active </span>
                                            </button>

                                        </fieldset>
                                        <fieldset class="secondf sss" id="purchred" style="display:none;margin-top:11px;">

                                            <button data-id="" onclick="Chkstatusonoffpurch('Purchases Basis',false)" type="button" class="btn">
                                                <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:14px;" />
                                                <span> Deactive </span>
                                            </button>

                                        </fieldset>
                                    </div>
                                    <div class="ulpurchaseshow">
                                        <button id="btnDeletepur" onclick="DeleteRefferedCode('Purchases Basis')" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                            Delete
                                        </button>
                                        <button type="button" id="btneditdatapurchase" data-href="Purchases Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Edit</button>
                                    </div>
                                    <div class="ulpurchasenotshow" style="display:none">
                                        <button type="button" id="btneditdatapurchaseedit" data-href="Purchases Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Save</button>

                                    </div>

                                </div>
                                <div class="refferal-type-right" id="busnesstype">
                                    <h2>Business Basis</h2>
                                    <ul class="ulbussnessshow">



                                        <li>Minimum Bussiness<span id="bussminlimit">iuygigiuyg</span></li>
                                        <li>Category<span id="spncategry">iuygigiuyg</span></li>
                                        <li>Expery No. Of Days<span id="bussnoofday">iuygigiuyg</span></li>
                                        <li>Sharing Type<span id="busssharingtype">iuygigiuyg</span></li>
                                        <li>Sharing Value<span id="busssharingvalue">iuygigiuyg</span></li>
                                    </ul>
                                    <ul class="ulbussnessnotshow" style="display:none;">



                                        <li>Minimum Bussiness<span id="spnbusneww"><input type="text" id="txtbusslimit" name="txtbusslimit" /></span></li>

                                        <li>
                                            Category<span id="spnbusnewwcategry">

                                                <select id="busscatetype" name="busscatetype">
                                                    <option value="Prepaid/DTH">Prepaid/DTH</option>
                                                    <option value="Utilities">Utilities</option>
                                                    <option value="Financial">Financial</option>
                                                    <option value="Travel/Hotel">Travel&nbsp;&amp;&nbsp;Hotel</option>
                                                    <option value="Ecommerce">Ecommerce</option>
                                                    <option value="Service/Repair">Service&nbsp;&amp;&nbsp;Repair</option>
                                                    <option value="Other">Other</option>

                                                </select>

                                            </span>
                                        </li>

                                        <li>Expery No. Of Days<span id="expnoofday"><input type="text" id="txtbusnessnoofday" name="txtbusnessnoofday" /></span></li>
                                        <li>
                                            Sharing Type<span id="spansharingtypes">
                                                <select id="ddlbusnesssharingtype" name="ddlbusnesssharingtype" required="">
                                                    <option value="Percentage">(%) Percentage</option>
                                                    <option value="FixRupees">Fix Rupees</option>

                                                </select>
                                            </span>
                                        </li>

                                        <li>Sharing Value<span id="spnsharingvalue"><input type="text" id="txtbusnessssharingvlaue" name="txtbusnessssharingvlaue" /></span></li>
                                    </ul>
                                    <div id="Statussettingbuss" class="col-md-2">


                                        <fieldset class="firstf fff" id="busnessgreen" style="display:none;">

                                            <button data-id="" onclick="Chkstatusonoff('business Basis',true)" type="button" class="btn">
                                                <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:17px;" />
                                                <span>Active </span>
                                            </button>

                                        </fieldset>
                                        <fieldset class="secondf sss" id="busnessred" style="display:none">

                                            <button data-id="" onclick="Chkstatusonoff('business Basis',false)" type="button" class="btn">
                                                <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:14px;" />
                                                <span> Deactive </span>
                                            </button>

                                        </fieldset>
                                    </div>
                                    <div class="ulbussnessshow">
                                        <button id="btnshowdetails123" onclick="DeleteRefferedCode('business Basis')" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 5px 20px;border: 1px solid #bbb;line-height: 22px;">
                                            Delete
                                        </button>
                                        <button type="button" id="btneditbusness" data-href="business Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;line-height: 22px;margin-right:10px;">Edit</button>

                                    </div>
                                    <div class="ulbussnessnotshow" style="display:none">
                                        <button type="button" id="btneditdataBusnessedit" data-href="business Basis" style="color:#000;float:right;padding: 5px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Save</button>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="width100 menu1 float-left tab-pane fade">

                        <div class="switch-history-table">
                            <div class="table-responsive " style="width:100%;">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr style="background:#f9f9f9;">
                                            <th>Benefit&nbsp;Holder</th>
                                            <th>Refferal&nbsp;Type</th>
                                            <th>Got&nbsp;Benefit</th>
                                            <th>Received&nbsp;Date</th>
                                            <th>Raferral&nbsp;User</th>
                                            <th>Achieved&nbsp;Time </th>
                                            <th>Achieved&nbsp;Amount</th>
                                            <th>Sharing&nbsp;Type</th>
                                            <th>Sharing&nbsp;Value</th>
                                            <th>Pre&nbsp;&#8377;</th>
                                            <th>Post&nbsp;&#8377;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="mydivchange">
                                        <tr id="loads" style="display:none"><td colspan="3"></td><td><div class="loader"></div></td><td colspan="6"></td></tr>
                                        @*@foreach (var item in Model)
                                            {
                                            <tr data-toggle="modal" data-target="#m-d-fund-transfer">
                                                <td>@item.ParrentRetailerName</td>
                                                <td>@item.BenifitRecived</td>
                                                <td>@item.RecivedDate</td>
                                                <td>@item.childRetailerName</td>
                                                <td>@item.RecivedDate</td>
                                                <td>@item.BenifitRecived</td>
                                                <td>@item.sharingtype</td>
                                                <td>@item.sharingvalue</td>
                                                <td>@item.PreParrentRetailerBalance</td>
                                                <td>@item.PostParrentRetailerBalance</td>
                                            </tr>
                                            }*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $('.tablchangess').click(function () {
        $('#loads').show();

        $.ajax({


            url:"@Url.Action("SetRefferedList","Home")",
            success: function (data) {

                $('#loads').hide();
                $("#mydivchange").html(data);


            }



        })




    })
</script>

@*<script>
        $(function () {
            $('#toggle-event').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        })
    </script>*@

<script>
    function DeleteRefferedCode(type) {
        $.ajax({

            url: "DeleteReferedCode",
            data: { type: type },
            success: function (data) {
                if (type == "Purchases Basis") {
                    $('.ulpurchaseshow').show();
                    $('.ulpurchasenotshow').hide();
                    $('#purchasetype').hide();
                    $('#purchred').show()
                    $('#purchgreen').hide();
                }
                if (type == "business Basis") {
                    $('.ulbussnessshow').show();
                    $('.ulbussnessnotshow').hide();
                    $('#busnesstype').hide();
                    $('#busnessred').show()
                    $('#busnessgreen').hide();

                }

            }




        })
    }
</script>





<script>


    $(function () {

            $.ajax({

            url: "@Url.Action("CHKSTATSETREFFEREDONTIME")",
         //   data: { name: $(status).prop('checked') },
            success: function (data) {

                if (data == "Purchases Basis") {
                    $('#purchgreen').show();
                    $('#busnessred').show()

                }
                else if (data == "business Basis") {
                    $('#busnessgreen').show();
                      $('#purchred').show()

                }
                else  {

                    $('#purchred').show()
                    $('#busnessred').show()
                }

            }


        })
    });


</script>


<script>
    function Chkstatusonoffpurch(type, status) {

         $.ajax({

            url: "@Url.Action("CHKSTATSETREFFERED")",
            data: { name: type,status:status },
            success: function (data) {

                if (data == "Erroe") {

                       $('#purchred').show()

                }
                else {
                    $('#purchgreen').show();
                    $('#purchred').hide()
                    $('#busnessred').show()
                    $('#busnessgreen').hide();
                }

            }


        })
    }

    function Chkstatusonoff(type,status) {

        $.ajax({

            url: "@Url.Action("CHKSTATSETREFFERED")",
             data: { name: type,status:status},
            success: function (data) {

                if (data == "Erroe") {
                    // $('#toggle-event').prop('checked', false)
                    //  $('#purchgreen').show();
                    $('#busnessred').show()
                }
                else {
                    $('#busnessgreen').show();
                    $('#busnessred').hide()
                    $('#purchred').show()
                    $('#purchgreen').hide();
                }

            }


        })

    }
</script>
<script>
    $('#btneditdataBusnessedit').click(function () {

          var type=$('#btneditdataBusnessedit').attr('data-href')
           $.ajax({
        url: "@Url.Action("InsertRefferalsettingEditdata")",
        type: "POST",
        data: {
            reftype: type, minlimit: $('#txtbusslimit').val(), noofday: $('#txtbusnessnoofday').val(), sharingtype: $('#ddlbusnesssharingtype').val(),
            sharingvalue: $('#txtbusnessssharingvlaue').val(), catetype: $('#busscatetype').val()

        },
        success: function (data) {

            $('.ulbussnessshow').show();
            $('.ulbussnessnotshow').hide();
              fillDivTable();
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
        }
    });

    })

</script>

<script>
    $('#btneditdatapurchaseedit').click(function () {

           var type=$('#btneditdatapurchaseedit').attr('data-href')
           $.ajax({
        url: "@Url.Action("InsertRefferalsettingEditdata")",
        type: "POST",
        data: {
            reftype: type, minlimit: $('#txtpurchaselimit').val(), noofday: $('#txtpurchasenoofday').val(), sharingtype: $('#ddlpurchsharingtype').val(),
            sharingvalue: $('#txtpurchassharingvlaue').val(), catetype: $('#busscatetype').val()

        },
        success: function (data) {

            $('.ulpurchasenotshow').hide();
            $('.ulpurchaseshow').show();
              fillDivTable();
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
        }
    });





    })





</script>

<script>
    $('#btneditdatapurchase').click(function () {
        var type=$('#btneditdatapurchase').attr('data-href')
          $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {

                   if (data.purchaseBasic.ReferalType === type) {

                       $('#txtpurchaselimit').val(data.purchaseBasic.minimiumimit)
                       $('#txtpurchasenoofday').val(data.purchaseBasic.expnoofday)
                       $('#ddlpurchsharingtype').val(data.purchaseBasic.SharingType)
                       $('#txtpurchassharingvlaue').val(data.purchaseBasic.SharingValue)
                         $('.ulpurchaseshow').hide();
                       $('.ulpurchasenotshow').show();
                        $('.ulbussnessshow').show();
                    $('.ulbussnessnotshow').hide();

                  }
                  //if (data.BusnewwBasic != null) {
                  //    $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                  //    $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                  //    $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                  //    $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                  //    $('#spncategry').text(data.BusnewwBasic.category)

                  //}
              }


                })



    })


    $('#btneditbusness').click(function () {


         var type=$('#btneditbusness').attr('data-href')
          $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {

                   if (data.BusnewwBasic.ReferalType === type) {
                        $('.ulbussnessshow').hide();
                       $('.ulbussnessnotshow').show();
                        $('.ulpurchaseshow').show();
                    $('.ulpurchasenotshow').hide();
                       $('#txtbusslimit').val(data.BusnewwBasic.minimiumimit)
                       $('#txtbusnessnoofday').val(data.BusnewwBasic.expnoofday)
                       $('#ddlbusnesssharingtype').val(data.BusnewwBasic.SharingType)
                       $('#txtbusnessssharingvlaue').val(data.BusnewwBasic.SharingValue)
                       $('#busscatetype').val(data.BusnewwBasic.category)

                  }
                  //if (data.BusnewwBasic != null) {
                  //    $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                  //    $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                  //    $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                  //    $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                  //    $('#spncategry').text(data.BusnewwBasic.category)

                  //}
              }


                })




    })
</script>


@*<script>
        $(function () {
            $.ajax({
                url: "@Url.Action("GetRefferalSetting")",

     })
    });
    </script>*@
<script>
    function fillDivTable() {


           $.ajax({
              url: "@Url.Action("GetRefferalSetting")",
               success: function (data) {
                   $('#busnesstype').hide();
                   $('#purchasetype').hide();

                   if (data.purchaseBasic != null) {
                       $('#purchasetype').show();
                      $('#spnbusneww').text(data.purchaseBasic.minimiumimit)
                      $('#expnoofday').text(data.purchaseBasic.expnoofday)
                      $('#spansharingtypes').text(data.purchaseBasic.SharingType)
                      $('#spnsharingvalue').text(data.purchaseBasic.SharingValue)
                  }
                   if (data.BusnewwBasic != null) {
                       $('#busnesstype').show();
                      $('#bussminlimit').text(data.BusnewwBasic.minimiumimit)
                      $('#bussnoofday').text(data.BusnewwBasic.expnoofday)
                      $('#busssharingtype').text(data.BusnewwBasic.SharingType)
                      $('#busssharingvalue').text(data.BusnewwBasic.SharingValue)
                      $('#spncategry').text(data.BusnewwBasic.category)

                  }
              }


                })



    }

    $(function () {

        fillDivTable();



    })



    $("#newsletter-form").on("submit", function (event) {
        event.preventDefault();

 //   var newsletter_email = $("#footer-grid1-newsletter-input").val();
 //   var targeted_popup_class = jQuery(this).attr('data-popup-open');
        var reffertype=$("#changereferraltype option:selected").text();
    $.ajax({
        url: "@Url.Action("InsertRefferalsetting")",
        type: "POST",
        data: {
            reftype: reffertype, minlimit: $('#txtminimiumpurchase').val(), noofday: $('#txtexpnoofday').val(), sharingtype: $('#ddlsharingtype').val(),
            sharingvalue: $('#txtSharingValue').val(), catetype: $('#catetype').val()

        },
        success: function (data) {

            if (data == "Success") {
                $('#lblmsg').text(data)


        fillDivTable();

            }
            else {

                  $('#lblmsg').text(data)
            }
        },
        error: function (xhr, textStatus, errorThrown) {

             $('#lblmsg').text(textStatus + " | " + errorThrown)
        }
    });
    // your code...
});



</script>

<script>

    function changereferral(value) {

        var res = $(value).val();
        if (res == 1) {
            $('#lblpurc').show()
            $('#lblbusness').hide();
            $('.purchase-basis').show();
            $('.business-basis').hide();
            $(".purchase-type").show();
        }
        else if (res == 2) {

            $('.purchase-basis').hide();
            $('.business-basis').show();
            $('#lblpurc').hide()
            $('#lblbusness').show();
              $(".purchase-type").hide();
        }
    }

</script>

<style>

    .loader {
        /*border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;*/
        border - radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        border-left: 16px solid pink;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0 % {
            - webkit - transform: rotate(0deg);
        }

        100% {
            -webkit - transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0 % {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>


