@model IEnumerable<Vastwebmulti.Models.whitelabel_sms_api_entry>
@{
    ViewBag.Title = "show_sms_api";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
}
    <style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

    </style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-2px;">
                <div style="margin-top:2px;">
                    <div class="">
                        @using (Html.BeginForm("show_sms_api", "Home", FormMethod.Post))
                        {
                            <div class="col-md-4" style="padding-right:0px;">
                                @Html.Partial("smsapipartialview")
                            </div>
                            <div class="col-md-2" style="display:none;" >
                                <div class="form-group">
                                    <div class="" style="border:1px solid #dddddd;">
                                        @Html.TextBox("txtmsg", "", new { @class = "form-control", placeholder = "Enter Message" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 for-web-date" style="padding:0px 5px;">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" >
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: @PageData["Globalfirst"];"></i>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd; height:36px;" data-dtp="dtp_FUmMD">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2 for-web-date" style="padding:0px 5px;">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" >
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one" aria-hidden="true" style="color: @PageData["Globalfirst"];"></i>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #dddddd;height:36px;" data-dtp="dtp_zdyoO">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn bg-blue-grey waves-effect" style=" height:36px;padding: 0px 17px !important;background: transparent !important;border: 1px solid #bbb !important;">
                                    <i class="material-icons" style="top:3px;">search</i>
                                    <span style="top:-4px;color:#000;">Search</span>
                                </button>

                            </div>
                            <div class="web-white-filter col-md-2">
                                <table class=" js-exportable ">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>


                        }

                    </div>
                </div>

            </div>

        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                   
                    <div class="col-md-12">
                        <div class="table-responsive web-white-table" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th >Message</th>
                                        <th >Response</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @i</td>
                                            <td style="padding:3px;">@item.msg</td>
                                            <td style="padding:3px;">@item.response</td>
                                            <td style="padding:3px;">@item.m_date</td>
                                        </tr>
                                        i++;
                                    }
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Add New Distributor Modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Send SMS</h4>
            </div>
            @using (Html.BeginForm("Send_API_SMS", "Home", FormMethod.Post))
            {
       
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">User Level</label>
                                </div>
                                @*@Html.HiddenFor(m => m.Password, new { Value = "55qK5G" })
                                    @Html.HiddenFor(m => m.ConfirmPassword, new { Value = "55qK5G" })*@

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DropDownList("Userform1", new List<SelectListItem> {
                                            new SelectListItem { Text = "Selected Number", Value= "Selected" },
                                            new SelectListItem { Text = "Distributor", Value= "Dealer" },
                                            new SelectListItem { Text = "Retailer", Value= "Retailer"},
                       },
                      "Select User", new { @class = "selectpicker form-control", data_live_search = "true" })
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div id="Mobile" style="display:none;" class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Mobile</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("txtmobileNo", "", new { @class = "form-control", placeholder = "Enter Mobile", required = "required", @maxlength = "10" })
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Message</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">

                                            @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control", placeholder = "Enter Name", required = "required", style = " height:120px" })
                                          
                                        </div>
                                        <div id="textarea_feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary waves-effect">Send SMS</button>
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(function () {
        var text_max = 160;
        $('#textarea_feedback').html(text_max + ' characters remaining');

        $('#txtMsgBody').keyup(function () {
            var text_length = $('#txtMsgBody').val().length;
            var text_remaining = text_max - text_length;

            $('#textarea_feedback').html(text_remaining + ' characters remaining');
        });
    });
</script>
<script>
    $("#Userform1").change(function () {
        var val = $('#Userform1').val();
        if(val=="Selected")
        {
            $('#Mobile').show();
        }
        else
        {
            $('#Mobile').hide();
        }

    });
  
</script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/AdminDesign/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    window.onload = function () {
  
        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';
        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        }
        else {
            var month = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            var tt = curr_date + "-" + month[curr_month]
            + "-" + curr_year;
        
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }
        var dateformat = '@ViewBag.format';
        if (dateformat != null && dateformat != "") {
            swal("Oops...", dateformat, "error");
        }
       }
</script>