@model IEnumerable<Vastwebmulti.Models.select_dealer_pur_order_Result>
@{
    ViewBag.Title = "ShowPurchase_dealer";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    @Html.Partial("_menupurchase")

                </div>
            </div>
            @using (Html.BeginForm("ShowPurchase_dealer", "Home", FormMethod.Post))
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card" style="margin-top:2px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom:12px;">
                                    <div class="input-group" style="margin-top:8px; margin-bottom:0px;">
                                        <div class="input-group-addon" style="background:#3f51b5; color:white;border:1px solid #3f51b5; ">
                                            &nbsp;&nbsp;&nbsp;<i class="material-icons" style="color:white;">date_range</i>
                                        </div>
                                        <input type="text" id="txt_frm_date" name="txt_frm_date" class="datepicker form-control" style="text-align:center;border:1px solid #3f51b5; height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group" style="margin-top:8px;margin-bottom:0px;">
                                        <div class="input-group-addon" style="background:#3f51b5; color:white;border:1px solid #3f51b5;">
                                            &nbsp;&nbsp;&nbsp;<i class="material-icons" style="color:white;">date_range</i>
                                        </div>
                                        <input type="text" id="txt_to_date" name="txt_to_date" class="datepicker form-control" style="text-align:center;border:1px solid #3f51b5; height:36px;">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <button type="submit" class="btn bg-indigo waves-effect" style="margin-top:7px; ">
                                        <i class="material-icons">search</i>
                                        <span style="top:-2px;">Search</span>
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-40px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            Purchase Order Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Order&nbsp;No</th>
                                        <th>DLM&nbsp;ID</th>
                                        <th>Amount</th>
                                        <th>PayMent&nbsp;Mode</th>
                                        <th>Type</th>
                                        <th>To&nbsp;Acc&nbsp;No</th>
                                        <th>Status</th>
                                        <th>Approved</th>
                                        <th>Rejected</th>
                                        <th>UtrNo/SlipNo </th>
                                        <th>Screenshot</th>
                                        <th>Comment</th>
                                        <th>Request&nbsp;Date</th>
                                        <th>Response&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.orderno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdemail).ToString().ToUpper()</td>
                                            <td>@Html.DisplayFor(modelItem => item.amount) </td>
                                            <td>@Html.DisplayFor(modelItem => item.paymode).ToString().ToUpper()</td>
                                            <td>@Html.DisplayFor(modelItem => item.type_).ToString().ToUpper()</td>
                                            <td>@Html.DisplayFor(modelItem => item.Toaccountno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.sts).ToString().ToUpper()</td>
                                            <td>
                                                <button type="button" name="type" onclick="return funin('@item.idno','APP')" style="background:transparent;border:none;font-size:20px;"><li class="fa fa-check" style="color:green;"></li> </button>
                                            </td>
                                            <td>
                                                <button type="button" name="type" onclick="return funin('@item.idno','REJ')" style="background:transparent;border:none;font-size:20px;"><li class="fa  fa-ban" style="color:red;"></li> </button>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.utrno).ToString().ToUpper()</td>
                                            <td>
                                                @if (!string.IsNullOrWhiteSpace(item.SlipUrl))
                                                {
                                                    <img src="@Url.Content("~/" + item.SlipUrl)" height="60" width="60" />
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.details)</td>
                                            <td>@Html.DisplayFor(modelItem => item.reqdate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.responsedate)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header  navbar" style="position:initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white;">Enter Comment</h4>
            </div>
            @using (Html.BeginForm("updatepurchage_master", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="text" id="id" name="id" class="form-control" style="display:none;" />
                    <input type="text" id="type" name="type" class="form-control" style="display:none;" />
                    <textarea id="txtcomment" name="txtcomment" class="form-control" required="" placeholder="Enter Comment"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn" class="btn btn-primary" value="Submit">Submit</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            }

        </div>

    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function() {

        $('#date').bootstrapMaterialDatePicker
        ({
            clearButton: false
        });
        $('#txt_to_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0,
            format: 'DD/MM/YYYY'
        });
        $('#txt_frm_date').bootstrapMaterialDatePicker
        ({
            weekStart: 0,
            format: 'DD/MM/YYYY'
        }).on('change',
            function(e, date) {
                $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
            });

        $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });

        var from = '@ViewBag.fromdate';
        var to = '@ViewBag.todate';

        if (from != "" && to != "") {
            $('#txt_frm_date').val(from);
            $('#txt_to_date').val(to);
        } else {
            var month = new Array("Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sep",
                "Oct",
                "Nov",
                "Dec");
            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();

            var tt = curr_date + "-" + month[curr_month] + "-" + curr_year;
            document.getElementById("txt_frm_date").value = tt;
            document.getElementById("txt_to_date").value = tt;
        }

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<script>
    window.onload = function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }

    }
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            sweetAlert("Oops...", data, "error");
        }
        })


</script>

<script>
    function funin(idno, status) {
        var answer = confirm("ARE YOU SURE?")
        if (answer) {
            var id = $('#id').val(idno);
            var type = $('#type').val(status);
               $('#myModal').modal('show');
                var txtcomment = $('#txtcomment').val();
                var type = $('#type').val();
                var id = $('#id').val();
               return true;
                  }
           else {
            return false;
        }
    }
</script>


