@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_SMSViewModel
@{
    ViewBag.Title = "SMSAPI";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .tmw-email-securty .header-top.fi ul li .active::after, .smsapi-pages .smsapi-second ul.tabs li.current::after, .tmw-email-securty .header-top.fi ul li::after, .smsapi-pages .smsapi-second ul.tabs li::after {
        content: '';
        width: 25px;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        height: 70%;
        border: 2px solid #fff;
        margin: 5px;
    }
    .tmw-email-securty .header-top.fi ul li .active::before, .smsapi-pages .smsapi-second ul.tabs li.current::before {
        content: "";
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        height: 28%;
        width: 17px;
        position: absolute;
        left: 9px;
        transform: rotate(-45deg);
        top: 9px;
    }
    .smsapi-pages .left-rowss ul.tabs2 li.current2, .smsapi-pages .smsapi-second ul.tabs li.current {
        background: @PageData["Globalfirst"] !important;
        position: relative !important;
    }
    .smsapi-pages .left-rowss ul.tabs2 li.current2, .smsapi-pages .smsapi-second ul.tabs li {
        background: @PageData["GlobalSecond"] !important;
        border: 0px !important;
        color: #fff !important;
        height: 36px;
        border-right: 2px solid #fff !important;
        padding: 7px;
        position: relative;
    }
    @@media only screen and (max-width:520px) {
        .smsapi-pages .smsapi-second ul.tabs {
            min-width: 100%;
        }
            .smsapi-pages .left-rowss ul.tabs2 li.current2, .smsapi-pages .smsapi-second ul.tabs li {
                width: 100% !important;
                margin-bottom: 10px;
                border: 0 !important;
            }
        .smsapi-pages .smsapi-second ul.tabs{padding: 10px 0px;}
        .smsapi-pages .smsapi-second .tab-content ul li:nth-child(2){width: 100%;margin-bottom: 5px;}
        .date-icon-upper {
            position: relative;
            width: 50%;
            float: left;
        }
        .input-group .input-group-addon {
            display: none;
        }
    }
    #smstest > li {
            background: #ed164c !important;
    }
        #smstest > li.current2 {
        background: #08a187 !important;
        }

</style>
<section class="content smsapi-pages">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                        Basic&nbsp;Setting
                    </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    SMS setting
                </li>
            </ul>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 col-sm-12 col-xs-12 left-rowss">
                <div class="head-sms">
                    <ul class="tabs2" id="smstest">
                        <li class="tab-link2 current2" data-tab="tab-6" style="width:50%;">SEND SMS</li>
                        <li class="tab-link2" data-tab="tab-7" style="width:50%;">SET TEMPLATE</li>
                    </ul>
                </div>
                <div class="smsapi-first custom-table-responsive">
                    <div class="sams-next ">
                        <div id="tab-6" class="tab-content2 current2">
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="body paid-service-table sms-page" style="padding: 0;">
                                        <form>
                                            <!--<div class="radio-sms">
                                            <fieldset>
                                                <ul>
                                                    <li>
                                                        <input type="radio" value="value1" name="group1" id="byapi1" checked>
                                                        <label for="byapi1">BY API</label>
                                                    </li>-->
                                            @*<li>
                                                    <input type="radio" value="value2" name="group1" id="bysim1">
                                                    <label for="bysim1">BY SIM</label>
                                                </li>*@
                                            <!--</ul>

                                                </fieldset>
                                            </div>-->
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label for="email_address_2">Select Users</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group drop">
                                                        @Html.DropDownList("Userform1", new List<SelectListItem> {
                              new SelectListItem { Text = "Master Distributor", Value= "Master" } ,
                               new SelectListItem { Text = "Distributor", Value= "Dealer" } ,
                             new SelectListItem { Text = "Retailer", Value= "Retailer" },
                               new SelectListItem { Text = "API User", Value= "API" },
                                   new SelectListItem { Text = "Whitelabel", Value= "Whitelabel" },
                               },
                                    "Select User", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div id="prtno" class="row" style="margin-bottom:0px; margin-top:0px;display:none; ">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <label for="email_address_2">Port No :</label>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="lapuno" style="border:1px solid #dddddd;">
                                                                @Html.DropDownList("Lapuno", ViewBag.Lapuno as SelectList, "Select Port No", new { @class = "form-control", required = "required" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@

                                            <div class="row" id="SelectID">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label for="email_address_2">Mobile</label>
                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtmobileNo", "", new { @class = "form-control searchInput", @maxlength = "10" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label for="email_address_2">Message</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group" style="margin:0;">
                                                        @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control searchInput", @placeholder = "Enter Message Here", style = "height:92px" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label style="color:Red; padding-right: 0px; width:23%; padding-left: 5px;">@ViewData["msgdlm"] </label>
                                                </div>
                                            </div>
                                            <div class="footer-button special-iii">

                                                <button type="button" id="btnSendSms" class="btn  waves-effect btnssl enableOnInput fullbodydycolorbg " style="color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled>Send Sms</button>
                                                <button id="btn" type="reset" class="btn  waves-effect">Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div><!-- #tab-6 -->
                        <div id="tab-7" class="tab-content2">
                            <div class="fund-trasfer-left fund-user-left">
                                <div class="width100 float-left tabcurrent-seconddesign input-border-third only-select-third">

                                    <div id="home" class="width100 float-left tab-pane fade active in">
                                        @using (Ajax.BeginForm("Save_SMS_Templates", "Home",
                                            new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                LoadingElementId = "outer-loader",
                                                UpdateTargetId = "tblshowMasterD"


                                                // LoadingElementId = "progress"
                                            }))
                                        {
                                            <div class="fund-transfer-form" id="frmdata">

                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label>
                                                        Select API
                                                    </label>
                                                    <div>
                                                        <div class="custom-district1">
                                                            @Html.DropDownList("ddlAPIfill", ViewBag.spsmsmmmsdsd as IEnumerable<SelectListItem>, "Select SMS API", new { @class = "for-select2" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label>
                                                        Select  SMS TYPE
                                                    </label>
                                                    <div>
                                                        <div class="custom-district1">
                                                            <select id="idst" name="idst" required class="for-select2">
                                                                <option value="ADMIN_CREATE_NEW_RETAILER">ADMIN_CREATE_NEW_RETAILER</option>
                                                                <option value="ADMIN_CREATE_NEW_USERS">ADMIN_CREATE_NEW_USERS</option>
                                                                <option value="ADMINAEPSTRANSACTIONFAILED">ADMIN AEPS TRANSACTION FAILED</option>
                                                                <option value="ADMINAEPSTRANSACTIONSUCCESS">ADMIN AEPS TRANSACTION SUCCESS</option>
                                                                <option value="APIPURCHASE">API PURCHASE</option>
                                                                <option value="CHANGE_EMAILID">CHANGE_EMAILID</option>
                                                                <option value="CHANGE_MOBILE_NUMBER">CHANGE_MOBILE_NUMBER</option>
                                                                <option value="FUNDTRANSFERBALANCETRANSFER">FUND TRANSFER BALANCE TRANSFER</option>
                                                                <option value="FUNDTRANSFERCREDITRECIVEDBYADMIN">FUND TRANSFER CREDIT RECIVEDBY ADMIN</option>
                                                                <option value="FUNDTRANSFERMESSAGE_CASH">FUND TRANSFER MESSAGE_CASH</option>
                                                                <option value="FUNDTRANSFERMESSAGE_CREDIT">FUND TRANSFER MESSAGE_CREDIT</option>
                                                                <option value="IMPSPAYMENTFAILED">IMPSPAYMENTFAILED</option>
                                                                <option value="IMPSPAYMENTSUCCESSFULLY">IMPSPAYMENTSUCCESSFULLY</option>
                                                                <option value="ManualSMS">Manual SMS</option>
                                                                <option value="MONEYTRANSFERMANUALMONEYFAILED">MONEY TRANSFER MANUAL MONEY FAILED</option>
                                                                <option value="MONEYTRANSFERMANUALMONEYFAILEDDUETO">MONEY TRANSFER MANUAL MONEY FAILED DUETO</option>
                                                                <option value="MONEYTRANSFERMANUALMONEYSUCCESS">MONEY TRANSFER MANUAL MONEY SUCCESS</option>
                                                                <option value="NEWEMPLOYEECREATES">NEW EMPLOYEE CREATES</option>
                                                                <option value="NEWPASSOWRD_WITHWEBURL">NEW PASSOWRD_WITH WEB URL</option>
                                                                <option value="NEWPASSWORDIS">NEW PASS WORD IS</option>
                                                                <option value="OTPFOR_AEPS_AADHARPAY">OTP FOR_AEPS_AADHARPAY</option>
                                                                <option value="PASSCODEOTP">PASSCODEOTP</option>
                                                                <option value="PAYBYUPISUCCESS">PAYBYUPISUCCESS</option>
                                                                <option value="PaymentConfirmationIMSPSMOBILEOTP">PaymentConfirmationIMSPSMOBILEOTP</option>
                                                                <option value="PROFILEUPDATEDSUCCESSFULLY">PROFILE UPDATED SUCCESSFULLY</option>
                                                                <option value="RECHARGECAPPINGLOW">RECHARGECAPPINGLOW</option>
                                                                <option value="RECHARGEDEALERIDBLOCK">RECHARGEDEALERIDBLOCK</option>
                                                                <option value="RECHARGEDISTRIBUTOROPERATORBLOCK">RECHARGEDISTRIBUTOROPERATORBLOCK</option>
                                                                <option value="RECHARGEDISTRIBUTORREMAINBALLOW">RECHARGEDISTRIBUTORREMAINBALLOW</option>
                                                                <option value="RECHARGEFAILED">RECHARGEFAILED</option>
                                                                <option value="RECHARGEMINIMIUM">RECHARGEMINIMIUM</option>
                                                                <option value="RECHARGEOPERATORBLOCK">RECHARGEOPERATORBLOCK</option>
                                                                <option value="RECHARGEPENDING">RECHARGEPENDING</option>
                                                                <option value="RECHARGERETAILERIDBLOCK">RECHARGERETAILERIDBLOCK</option>
                                                                <option value="RECHARGERETAILEROPERATORBLOCK">RECHARGERETAILEROPERATORBLOCK</option>
                                                                <option value="RECHARGERETAILERREMAINBALANCELOW">RECHARGERETAILERREMAINBALANCELOW</option>
                                                                <option value="RECHARGESUCCESS">RECHARGESUCCESS</option>
                                                                <option value="RECHARGETIMEDIFF">RECHARGETIMEDIFF</option>
                                                                <option value="Register_MOBILE_SIGNUP">Register_MOBILE_SIGNUP</option>
                                                                <option value="RESPNSEMONEYTRANSFERMANUALMONEYFAILEDDUETO">RESPNSEMONEYTRANSFERMANUALMONEYFAILEDDUETO</option>
                                                                <option value="RetailerDelete">RetailerDelete</option>
                                                                <option value="RETAILERPINCHANGE">RETAILER PIN CHANGE</option>
                                                                <option value="RETAILERPINCHANGE">RETAILER PIN CHANGE</option>
                                                                <option value="RETAILERTORETAILERFROMFUNDTRANSFER">RETAILERTORETAILERFROMFUNDTRANSFER</option>
                                                                <option value="RETAILERTORETAILERTOFUNDTRANSFER">RETAILERTORETAILERTOFUNDTRANSFER</option>
                                                                <option value="SECURITYCODEIS">SECURITY CODE IS</option>
                                                                <option value="SELF UPI INSERT OTP">SELFUPIINSERTOTP</option>
                                                                <option value="SEND_SMS_CREDIT_RECEIVEDBY">SEND_SMS_CREDIT_RECEIVEDBY</option>
                                                                <option value="SEND_SMS_CREDIT_TRANSFERREDTO">SEND_SMS_CREDIT_TRANSFERREDTO</option>
                                                                <option value="SENDSMSMASTERTODLMFUNDTRANSFERMSGCASH">SEND SMS MASTER TO DLM FUNDTRANSFER MSG CASH</option>
                                                                <option value="STATUSSENDSMSDEALER_NEW_RETAILER">STATUS SEND SMS DEALER_NEW_RETAILER</option>
                                                                <option value="STATUSSENDSMSMASTER_NEW_DEALER">STATUS SEND SMS MASTER_NEW_DEALER</option>
                                                                <option value="TOKENOTPFORIPADDRESS">TOKENOTPFORIPADDRESS</option>
                                                                <option value="UPITRANSFERFAILED">UPI TRANSFER FAILED</option>
                                                                <option value="UPITRANSFERSUCCESSFULLY">UPI TRANSFER SUCCESSFULLY</option>
                                                                <option value="VERYFYPROFILESUSERSOTP">VERYFYPROFILESUSERSOTP</option>
                                                                <option value="WALLETUNLOADPROCESSEDSUCCESSFULLY">WALLETUNLOADPROCESSEDSUCCESSFULLY</option>
                                                           </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label>Template ID </label>
                                                    <div>
                                                        <input type="text" id="txttemplate_id" required name="txttemplate_id" placeholder="Enter Template ID" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <label>Templates Formate </label>
                                                    <div>
                                                        <textarea id="txttemplateformate" required name="txttemplateformate" rows="4" cols="50" placeholder="Enter Formate of Template"> </textarea>
                                                    </div>
                                                </div>


                                                <div class="col-md-12 col-sm-12 col-xs-12 button-seconddesign">
                                                    <label class="errorss"></label>
                                                    <label class="errorss1"></label>
                                                    <div>
                                                        <button type="submit" id="btnnshowmaster" class="fullbodydycolorbg btn-first button-third" style="color:#fff;float:right;padding: 6px 40px;border: 1px solid #bbb;line-height: 24px;">
                                                            <span style="color:#fff;position:relative;">Save</span>
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>

                                        }
                                    </div>


                                </div>
                                <div id="outer-loader" style="position: absolute;background: rgba(0,0,0,.5);right: 15px;left: 15px;bottom: 0px;top: 0px;display:none;">
                                    <div id="loader" style="position: absolute; right: 30%; top: 50%; transform: translate(0%, -50%);">
                                        <div class="loadingio-spinner-ripple-92ar2pfqk5j">
                                            <div class="ldio-zdyd6mf6t5">
                                                <div></div><div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @*right tab*@
            <div class="col-md-8 col-sm-12 col-xs-12" style="display: block" id="right_tab1">
                <div class="smsapi-second ">

                    <div class="head2-sms">
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-1" id="SMS_API_HistoryTab" style="width:33.33%;text-align: center;">
                                <img src="~/Areas/WHITELABEL/Design/img/api_gateway2.png" />&nbsp;API&nbsp;-&nbsp;SMS&nbsp;HISTORY
                            </li>
                            <li class="tab-link" data-tab="tab-3" style="width:33.33%; text-align: center;"><i class="fa fa-paper-plane" aria-hidden="true" style="margin-right:3px;"></i>&nbsp;MANAGE&nbsp;OUTBOX</li>
                            <li class="tab-link" data-tab="tab-4" id="LoaddataTemp" style="width:33.33%;text-align: center;">
                                <i class="fa fa-wrench" aria-hidden="true" style="margin-right:2px;"></i>&nbsp;API&nbsp;SETTING
                                <button type="button" class="btn  waves-effect" style="float:right;top: 6px;right: 6px;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus" style="color: #000;"></i>&nbsp;<span style="">API</span>
                                </button>
                            </li>
                        </ul>
                    </div>


                    <div id="tab-1" class="tab-content current custom-table-responsive">
                        <ul>

                            <li>
                                @Html.TextBox("txtmsg", "", new { @class = "form-control API_SMS", onkeyup = "Search_API_His_ByTest()", placeholder = "Type Searching Text" })
                            </li>
                            <li>
                                <div class="input-daterange input-group">
                                    <div class="date-icon-upper">
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control txt_frm_date", required = "required", autocomplete = "off" })
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="fa fa-exchange" style="display:none;"></i>
                                    </span>
                                    <div class="date-icon-upper">
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control txt_to_date", required = "required", autocomplete = "off" })
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" id="btnaa" name="btnaa" class="btn waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </li>

                        </ul>
                        <div id="tableapismshistory">
                            @Html.Partial("_APISMSHISTORY", Model)
                        </div>
                    </div><!-- #tab-1 -->

                    <div id="tab-3" class="tab-content custom-table-responsive">
                        @Html.Action("SMS_Setting")
                    </div><!-- #tab-3 -->
                    <div id="ApiSettings">
                        @Html.Partial("_APISETTINGS")
                    </div>


                    <!--#tab-4-->


                </div>
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12 sms-second-show" style="display: none;" id="right_tab2">
                <div class="fund-trasfer-right fund-user-right">

                    <div id="tab-1" class="width100 float-left tab-content current" style="padding:0px;">

                        <ul class="nav nav-tabs" style="margin-bottom: 20px;position: sticky;top: 0;background: white;">


                            <li class="tab-link current active" data-tab="tab-1" style="border-right:0px;">
                                <a data-toggle="tab" aria-expanded="true" style="padding:7px 10px;padding-bottom: 1px;">
                                    <label class="for-change-fund" style="color:#000;font-weight:400;">
                                        <span class="fund-fistory">History<sub class="tmw-total-color-one fullbodydycolorbg">Fund Transfer</sub></span><i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </label>
                                </a>
                            </li>
                            <li>

                                <div style="display:flex;">
                                    @*<div class="web-white-filter fil pdfexpoer-second" style="float: left;margin-right: 7px;">
                                                <input type="button" id="btnExport1" value="Export" style="margin-left:0px; padding: 0px 4px;height:32px;border:0;background:#fff;background-image: url(../../images/reportimage/xls.png);
                                        background-repeat: no-repeat;
                                        background-position: 4px center;
                                        padding-left: 20px;">
                                                <input type="button" id="btnPDF1" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:0;background:#fff;background-image: url(../../images/reportimage/pdf.png);
                                        background-repeat: no-repeat;
                                        background-position: 4px center;
                                        padding-left: 19px;">
                                            </div>*@
                                    @*<div class="form-group downloadformnt" style="width:30%;float:left;">
                                            <a href="@Url.Action("SMS_TemplateDownload_Formate")" class="btn"><i class="fa fa-file-excel-o" width="25" height="25" title="Download Excel format" alt="excel" style="color: #2f900a;"></i>Excel format</a>
                                        </div>*@

                                    @using (Html.BeginForm("UploadExcelfileforsendingsmstemplate", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
                                    {
                                        <div class="form-horizontal form-horizontal-smsapi" style="display: flex; align-items: center; justify-content: space-between">

                                            <div class="form-group formgroup-upload" float:left;">
                                                @*<div class="control-label col-md-2">Excel:</div>*@

                                                <input type="file" id="FileUpload" name="FileUpload" class="" />

                                            </div>
                                            <div class="form-group filesave-form" style="width:10%;float:left;">

                                                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                            <li class="" style="float: right; margin-top: -31px; margin-left: 10px;">
                                @using (Ajax.BeginForm("copypastedeveloper", "Home",
                                           new AjaxOptions
                                           {
                                               InsertionMode = InsertionMode.Replace,
                                               LoadingElementId = "outer-loader",
                                               UpdateTargetId = "tblshowMasterD"


                                               // LoadingElementId = "progress"
                                           }))
                                {
                                    <button type="submit" id="btnaaaddnewtenp" name="btnaaaddnewtenp" class="btn waves-effect btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">

                                        <span>MERGE Templates To ALL</span>
                                    </button>
                                }
                            </li>

                        </ul>
                        <div id="tblshowMasterD" class="table-responsive " style="width:100%;padding: 4px 4px;">


                            @Html.Partial("_SMS_TEMPLATE_Reports", Model.Sending_SMS_Templates_reports)


                        </div>
                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="/AashaDigitalIndia24Testing/img/ajax-loader.gif">
                        </div>
                    </div>


                </div>
            </div>
        </div><!--.row-->

    </div>
</section>
<!--Add New  Modal-->
<div class="modal fade smsapi-model-one" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;width: 58%;margin-right: 15px;">
        <div class="modal-content ">

            <div class="modal-body" style="padding: 5px 15px;">
                <div class="body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="smsaoiinput" style="width: 88%;float: left;">
                                                <input type="text" id="smsapiurl" class="form-control searchInput" placeholder="Enter API URL" required />
                                            </div>
                                            <div class="modal-footer" style="width: 12%;float: left;">

                                                <button type="button" onclick="AddSMSAPI()" class="btn waves-effect btnssl2233 special-iii enableOnInput" style="margin:0px;border-radius: 0px !important;" id="start_SMSAPI" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled="disabled">
                                                    <span style="color:#000;">Save Api</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
@*<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>*@
<!-- Custom Js -->
@*<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>*@
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

@*<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/AdminDesign/js/demo.js"></script>
    <script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>*@
<script>

    $('#btnSendSms').click(function () {
        var URL = "";
        //var res = $('input[name=group1]:checked').val();
        //if (res == 'value1') {
         $.ajax({
            url: '@Url.Action("Send_API_SMS")',
            type: 'POST',
            data: { Userform1: $('#Userform1').val(), txtmobileNo: $('#txtmobileNo').val(), txtMsgBody: $('#txtMsgBody').val() },
            success: function (response) {

                $('#tableapismshistory').html(response);
                $('#txtmobileNo').val('');
                $('#txtMsgBody').val('');
                $('#SMS_API_HistoryTab').click();
                }



        })

        //}
        @*else if (res == 'value2') {
              $.ajax({
            url: '@Url.Action("sim_sms")',
              type: 'POST',
              data: { Userform3: $('#Userform1').val(), Lapuno: $('#Lapuno').val(), txtmobilesim: $('#txtmobileNo').val(), txtsim: $('#txtMsgBody').val() },
            success: function (response) {

                $('#SIMSMSHISTORYtable').html(response);
                $('#txtmobileNo').val('');
                $('#txtMsgBody').val('');

                $('#SMS_SIM_HistoryTab').click();
                }



        })
        }*@






    })



    $('#btnaa').click(function(){

        $.ajax({
            url: '@Url.Action("_APISMSHISTORY","Home")',
            type: 'POST',
            data: { txtmsg: $('#txtmsg').val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
            success: function (response) {

                $('#tableapismshistory').html(response);


                }



        })
   })

      $('#btnsimhistory').click(function(){
        $.ajax({
            url: '@Url.Action("_SIMSMSHISTORY","Home")',
            type: 'POST',
            data: { txtmsg: $('#txtmsg').val(), txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
            success: function (response) {

                $('#SIMSMSHISTORYtable').html(response);


                }



        })
   })


    function Search_API_His_ByTest() {

        var value = $('.API_SMS').val();


        var patt = new RegExp(value, "i");



        $('#APISMSHISTORY').find('tr').each(function () {

            if (!($(this).find('td').text().search(patt) >= 0)) {

                $(this).not('.first-tr').hide();

            }

            if (($(this).find('td').text().search(patt) >= 0)) {

                $(this).show();

            }

        });

    };
function Search_SIM_His_ByTest() {
        var value = $('.SIM_His').val();


        var patt = new RegExp(value, "i");



        $('#SIMSMSHISTORY').find('tr').each(function () {

            if (!($(this).find('td').text().search(patt) >= 0)) {

                $(this).not('.first-tr').hide();

            }

            if (($(this).find('td').text().search(patt) >= 0)) {

                $(this).show();

            }

        });

    };


 $("input[type='radio']").change(function(){

if($(this).val()=="value2")
{
    $("#prtno").show();
}
else
{
       $("#prtno").hide();
}

});

</script>
<script type="text/jscript">
    function confirm1() {
        var answer = confirm("ARE YOU SURE?")
        if (answer)
            return true;
        else
            return false;
    }
</script>

<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $(".txt_frm_date").datepicker("setDate", new Date());
            $(".txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script type="text/javascript">
    $(function () {

        $('ul.tabs2 li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs2 li').removeClass('current2');
            $('.tab-content2').removeClass('current2');

            $(this).addClass('current2');
            $("#" + tab_id).addClass('current2');
        })

    })
</script>
<script>
    $(function () {
        var elem = document.getElementById("Userform1");
        elem.onchange = function () {
            var hiddenDiv = document.getElementById("SelectID");
            hiddenDiv.style.display = (this.value == "") ? "block" : "none";
        };
    });
</script>

<!-- _APISETTINGS -->
<script>


    function checkevent(id) {
         $.ajax({
            url: '@Url.Action("SMSAPISTSetting","Home")',
            type: 'GET',
             data: { id: id },

            success: function (response) {

            $('#ApiSettings').html(response);

                $('#LoaddataTemp').click();
                }
        })
    }

    function deleteevent(id) {
              $.ajax({
                type: 'POST',
                url: '@Url.Action("deletesmsapi","Home")',
                data: {id: id},
             success: function (response) {
                 $('#ApiSettings').html(response);

                    $('#LoaddataTemp').click();

                }

            });

    }

</script>

<script>
    function AddSMSAPI() {
        var txt = $('#smsapiurl').val();
        var re = /(http(s)?:\\)?([\w-]+\.)+[\w-]+[.com|.in|.org]+(\[\?%&=]*)?/
        if (re.test(txt)) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddSmsApi","Home")',
                data: { smsapiurl: $('#smsapiurl').val() },
                success: function (response) {
                    $('#defaultModal').modal('hide');
                    $('#ApiSettings').html(response);

                    $('#LoaddataTemp').click();
                }

            });
        }
        else {
            alert('Not a Valid Url !');
        }
    }
</script>

<script type="text/javascript">

    var val1 = "";
    function animationEdit(id, smsapi) {
        $("#apiapisms_id").val(id);
        $("#apiapisms_smsapi1").val(smsapi);
        $('#defaultModal1').modal('show');
    }

</script>

<script>

    $('.edit-change').click(function () {
        $(this).closest("tr").find(".nr").find("span.default-sms-api").hide()
        $(this).closest("tr").find(".nr").find("span.edit-sms-api").show()
    });

    $('.before-delete').click(function () {
        $(this).hide()
        $(this).next().show()
    });

</script>

<!--   All Tabs -->
<script type="text/javascript">
    $(function () {

        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');

        })


        $('#smstest li').click((e) => {
            if (e.target.innerText == "SET TEMPLATE") {
                $('#right_tab1').hide();
                $('#right_tab2').show();
            }
            else {
                $('#right_tab1').show();
                $('#right_tab2').hide();
            }

        })



    })
</script>

<script>
    $('.btnssl2233').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 2000);
    });
</script>
<script>
    $(function () {
        $('button.smsbbtn').click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
    });
</script>
<script>
    $(function () {
        $(".sweet-alert").addClass("fullbodydycolorbg");
    });
</script>

<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>

<script>

    function DeleteTemplate(idno) {

        $('.clssresetshow').show();
        $('.clssresetnotshow').hide();

        var showid = "#show-" + idno;
        var Notshowid = "#Notshow-" + idno;

       $(showid).hide();
     $(Notshowid).show();

    }

    function ConfirmDeleteTemplate(idno) {

        $('.clssresetshow').show();
        $('.clssresetnotshow').hide();

        var showid = "#show-" + idno;
        var Notshowid = "#Notshow-" + idno;

        $(showid).hide();
        $(Notshowid).show();


          $.ajax({
              url: "@Url.Action("DeleteTemplatebyid")",
            data: { id: idno },
            type: 'POST',
              success: function (result) {
                  $('#tblshowMasterD').html(result);

            }
        });
    }

</script>
<script>

    $(function () {
        $('.copy-to-clipboard').click(function () {

            var idno = $(this).data("idss")
            var txtcurent = "#txt-" + idno;
            $(txtcurent).focus();
            $(txtcurent).select();
            document.execCommand('copy');
            toastr.success('Copied to clipboard', 'Success')
            /*  $(".copied").text("Copied to clipboard").show().fadeOut(1200);*/
        });
    });
</script>