@model Vastwebmulti.Areas.WHITELABEL.Models.vmSwitchWhitelabelUserModel
@{
    ViewBag.Title = "Switch_Users";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .for-search {
        position: absolute;
        right: 15px; 
    }

        .for-search input {
            width: 250px;
            border: 1px solid #dbdbdb;
            padding: 3px 10px;
        }
    
    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }
    .switch-user-tab .switch-user-tab-left ul li.active::after, .switch-user-tab .switch-user-tab-left ul li::after, .switch-user-tab-right .nav-tabs li::after {
        content: '';
        width: 25px;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        height: 70%;
        border: 2px solid #fff;
        margin: 5px;
    }

    .switch-user-tab .switch-user-tab-left ul li.active::before, .tt-right-table ul.tabs2 li.current2::before {
        content: "";
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        height: 28%;
        width: 17px;
        position: absolute;
        left: 9px;
        transform: rotate(-45deg);
        top: 9px;
    }
    .switch-user-tab .switch-user-tab-left ul li.active {
        background: @PageData["Globalfirst"] !important;
    }
    .switch-user-tab .switch-user-tab-left ul li, .switch-user-tab-right .nav-tabs li {
        background: @PageData["GlobalSecond"] !important;
    }
    .distributor-detail, .distributor-details {
        background: #f5f5f5;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #bbb;
    }
    .distributor-detail p, .distributor-details p{
        border-bottom: 1px dashed #bbb;
        margin: 0;
        padding: 5px 0;
    }
    .distributor-detail p:last-child, .distributor-details p:last-child {
    border: 0;
    }
    .fund-transfer-form {
        height: 100% !important;
        border: 1px solid #ddd;
        background: #f5f5f5 !important;
    }
    @*.distributor-detail .fund-transfer-form button, .distributor-details .fund-transfer-form button{background: @PageData["Globalfirst"] !important;}
    .distributor-detail button:first-child, .distributor-details button:first-child{background: @PageData["Globalfirst"] !important;}*@
    @@media only screen and (max-width:520px) {
        .web-white-filter {
            position: static !important;
        }

        .for-search input {
            width: 100%;
        }

        .for-search {
            position: static;
        }

        .switch-user-tab-left {
            margin-top: 15px;
        }

            .switch-user-tab-left .fund-transfer-form {
                padding-bottom: 20px;
                height: auto;
            }
        .switch-user-tab .switch-user-tab-left ul li, .switch-user-tab-right .nav-tabs li {
            width: 100%;
            margin-bottom: 10px;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="bread-same-all-page">
            <ul>
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </a>
                </li>

                <li class="fullbodydycolorbg tmw-total-color-one">
                    Switch User
                </li>
            </ul>
        </div>
        <div class="for-search">
            <input id="myInput" type="text" placeholder="Search..." onkeyup="myFunction()" />
        </div>

    </div>

    <div class="col-md-12">

        <div class="row clearfix ">
            <div class="switch-user-tab">
                <div class="col-md-4 switch-user-tab-left">
                    <ul class="nav nav-tabs " id="tabs">
                        <li class="tab-link active changetabeuser" data-tab="tab-1" data-href="@Url.Action("ChangeTabtype","Home",new { Utype="dealer"})"><a data-toggle="tab" href=".home" aria-expanded="false"> Distributor Switch</a></li>
                        <li class="tab-link changetabeuser" data-tab="tab-2" data-href="@Url.Action("ChangeTabtype","Home",new { Utype="Retailer"})"><a data-toggle="tab" href=".menu1" aria-expanded="false">Retailer Switch</a></li>

                    </ul>
                    <div class="width100 home float-left tab-pane fade active in">
                        <div class="fund-transfer-form">
                            <form id="frmdealtomd">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <label>Select Distributor </label>
                                    <div>
                                        <div class="">
                                            @Html.DropDownList("dealerid", new SelectList(ViewBag.dealerid, "Value", "Text"), "Select  Dealer Id", new { @class = "form-control", data_live_search = "true", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <div class="distributor-detail" style="display:none;">
                                        <p>Distributor Name&nbsp;-&nbsp;&nbsp; <span id="DISNAME"></span></p>
                                        <p>Firm Name&nbsp;-&nbsp;&nbsp; <span id="DISfrmname"></span></p>
                                        <p>Mobile No.&nbsp;-&nbsp;&nbsp; <span id="DISmobile"></span></p>
                                        <p>Email&nbsp;-&nbsp;&nbsp; <span id="DISEMAIL"></span></p>
                                        <p>Address&nbsp;-&nbsp;&nbsp; <span id="DISADDRESS"></span></p>
                                        <p>Current M/D&nbsp;-&nbsp;&nbsp; <span id="DISCRNTMD"> </span></p>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <label>Select New M/D </label>
                                    <div>
                                        <div class="">
                                            @Html.DropDownList("masterid", new SelectList(ViewBag.masterid, "Value", "Text"), "Select Master  Dealer Id", new { @class = "form-control", data_live_search = "true", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>

                                        <button id="btnshowdetails" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                            Move User
                                        </button>
                                        <button type="reset" style="color:#000;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="width100 menu1 float-left tab-pane fade">

                        <div class="fund-transfer-form">
                            <form id="frmretdeal">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <label>Select Retailer </label>
                                    <div>
                                        <div class="">
                                            @Html.DropDownList("retailerid", new SelectList(ViewBag.Retailerids, "Value", "Text"), "Select Retailer Id", new { @class = "form-control", data_live_search = "true", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <div class="distributor-details" style="display:none;">
                                        <p>Retailer Name&nbsp;-&nbsp;&nbsp; <span id="RETNAME"></span></p>
                                        <p>Firm Name&nbsp;-&nbsp;&nbsp; <span id="RETfrmname"></span></p>
                                        <p>Mobile No.&nbsp;-&nbsp;&nbsp; <span id="RETmobile"></span></p>
                                        <p>Email&nbsp;-&nbsp;&nbsp; <span id="RETEMAIL"></span></p>
                                        <p>Address&nbsp;-&nbsp;&nbsp; <span id="RETADDRESS"></span></p>
                                        <p>Current Distributor&nbsp;-&nbsp;&nbsp; <span id="RETCRNTMD"> </span></p>
                                    </div>
                                </div>



                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <label>Select New Distributor </label>
                                    <div>
                                        <div class="">
                                            @Html.DropDownList("dealerdetailsid", new SelectList(ViewBag.dealerid, "Value", "Text"), "Select  Dealer Id", new { @class = "form-control", data_live_search = "true", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>

                                        <button id="btnshowdetails" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                            Move User
                                        </button>
                                        <button type="reset" style="color:#000;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-right:10px;">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>




                    </div>
                </div>
                <div class="col-md-8 switch-user-tab-right">


                    <div id="home" class="width100 home float-left tab-pane fade active in">
                        <div class="switch-history-table" id="dlmd">
                            @Html.Partial("_SwitchUsertable", Model)
                        </div>
                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

        var pageindex = 1;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post($('#tbldata').attr('data-hrefscroll'),
                    { "pageindex": pageindex, txt_frm_date: $('#txt_frm_date').val(), txt_to_date: $('#txt_to_date').val() },
                    function (data) {

                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#dlmd").empty();
                        $("#dlmd").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>

<script>

    var ravi = $.noConflict()
    ravi(document).ready(function () {

        // Initialize select2
        ravi("select").select2();

        // Read selected option

    });

</script>


<script>
    ravi("#dealerid").on("change", function () {

        var id = $(this).val();

          $.ajax({

                url:"@Url.Action("FetchDetails","Home")",
                data: { id: id },
                success: function (data) {

                    if (data != null && data != '') {

                        $('#DISNAME').text(data[0].Name)
                        $('#DISfrmname').text(data[0].farmname)
                        $('#DISmobile').text(data[0].mobile)
                        $('#DISEMAIL').text(data[0].EMAIL)
                        $('#DISADDRESS').text(data[0].ADDRESS)
                        $('#DISCRNTMD').text(data[0].MDNAME)

                        $('.distributor-detail').show();
                    }
                    else {
                        $('.distributor-detail').hide();
                    }
                }


            })
    });

    ravi("#retailerid").on("change", function () {

          var id = $(this).val();
            $.ajax({

                url:"@Url.Action("FetchRetailerDetails","Home")",
                data: { id: id },
                success: function (data) {
                    if (data != null && data != '') {
                        $('#RETNAME').text(data[0].Name)
                        $('#RETfrmname').text(data[0].farmname)
                        $('#RETmobile').text(data[0].mobile)
                        $('#RETEMAIL').text(data[0].EMAIL)
                        $('#RETADDRESS').text(data[0].ADDRESS)
                        $('#RETCRNTMD').text(data[0].DealerNAME)

                        $('.distributor-details').show();
                    }
                    else {
                        $('.distributor-details').hide();
                    }
                }


            })




    })

        @*$('#retailerid').change(function () {

            var id = $('#retailerid').val();
            $.ajax({

                url:"@Url.Action("FetchRetailerDetails","Home")",
                data: { id: id },
                success: function (data) {
                    if (data != null && data != '') {
                        $('#RETNAME').text(data[0].Name)
                        $('#RETfrmname').text(data[0].farmname)
                        $('#RETmobile').text(data[0].mobile)
                        $('#RETEMAIL').text(data[0].EMAIL)
                        $('#RETADDRESS').text(data[0].ADDRESS)
                        $('#RETCRNTMD').text(data[0].DealerNAME)

                        $('.distributor-details').show();
                    }
                    else {
                        $('.distributor-details').hide();
                    }
                }


            })





         })*@
    ravi('.changetabeuser').click(function () {

        $.ajax({

            url: $(this).attr('data-href'),
            success: function (data) {


                $('#dlmd').html(data)




            }




        })





    })

      ravi('#frmretdeal').submit(    function(e){

            e.preventDefault();
           // var $frmdealtomd = $(this);

          // check if the input is valid
          //  if(! $form.valid()) return false;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("dealer_retailer_Switch","Home")',
                data: {remid: $('#retailerid').val(),dlmid:$('#dealerdetailsid').val()},
                success: function (response) {
                       $('#retailerid').val('')
                      $('#dealerdetailsid').val('')
                     $.ajax({

            url:"@Url.Action("ChangeTabtype","Home",new { Utype="Retailer"})",
            success: function (data) {

                   $('.distributor-details').hide();
                $('#dlmd').html(data)
                ravi("#retailerid").select2().select2("val", null);
                 ravi("#dealerdetailsid").select2().select2("val", null);





            }




        })


                }

            });
        });

        ravi('#frmdealtomd').submit(    function(e){

            e.preventDefault();


            $.ajax({
                type: 'POST',
                url: '@Url.Action("DealerMD_switch","Home")',
                data: {dealerid: $('#dealerid').val(),masterid:$('#masterid').val()},
                success: function (response) {
                    $('#dealerid').val('')
                      $('#masterid').val('')
                   $.ajax({

            url:"@Url.Action("ChangeTabtype","Home",new { Utype="dealer"})",
            success: function (data) {

                 $('.distributor-detail').hide();
                $('#dlmd').html(data)
                  ravi("#dealerid").select2().select2("val", null);
                 ravi("#masterid").select2().select2("val", null);

      }


  })
                }

            });
        });

        @*ravi('#dealerid').change(function () {

            var id = $('#dealerid').val();
            $.ajax({

                url:"@Url.Action("FetchDetails","Home")",
                data: { id: id },
                success: function (data) {

                    if (data != null && data != '') {

                        $('#DISNAME').text(data[0].Name)
                        $('#DISfrmname').text(data[0].farmname)
                        $('#DISmobile').text(data[0].mobile)
                        $('#DISEMAIL').text(data[0].EMAIL)
                        $('#DISADDRESS').text(data[0].ADDRESS)
                        $('#DISCRNTMD').text(data[0].MDNAME)

                        $('.distributor-detail').show();
                    }
                    else {
                        $('.distributor-detail').hide();
                    }
                }


            })





        })*@

    //        function masterdetail(value) {
    //    var mas = $(value).val();
    //    if (mas == 1) {
    //        $('.distributor-detail').hide();

    //    } else {
    //        $('.distributor-detail').show();
    //    }
    //    }



    //        function masterdetailr(value) {
    //    var mas = $(value).val();
    //    if (mas == 1) {
    //        $('.distributor-details').hide();

    //    } else {
    //        $('.distributor-details').show();
    //    }
    //}
</script>
<script>
    $(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".body .tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

