@model Vastwebmulti.Areas.WHITELABEL.Models.upiChargeAndgateway
@{
    ViewBag.Title = "UPICharges";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
    decimal? TOTALAMOUNT = 0M;
    decimal? TOTALNET = 0M;
    int i = 0;


}

<style>
    .second-design .datepicker-dropdown.datepicker {
        margin-top: 0px !important;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .cas-hdeposi-tcharge-page .bank-name ul {
        margin-top: 8px;
    }

    .cash-charg-tab .nav-pills > li.active > a {
        background: transparent;
        color: inherit;
    }

    .cash-charg-tab .nav-pills > li > a {
        background: transparent;
        color: inherit;
        padding: 0px;
    }

        .cash-charg-tab .nav-pills > li > a::before {
            content: '';
            border: 2px solid #bbb;
            width: 12px;
            height: 12px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 5px;
        }

    .cash-charg-tab .nav-pills > li.active > a::before {
        background: var(--main-bg-lcolor);
        border-color: var(--main-bg-lcolor);
    }

    .cash-charg-tab .nav-pills > li {
        padding: 5px 9px;
        margin: 0px auto;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
    }
    /*.cash-charg-tab-first .btn.btn-default{background-color:transparent !important;}*/
    .select2-container .select2-selection--single {
        height: 32px !important;
        border-color: #ccc !important;
    }

    .cash-charg-tab-first #btnsubmit1, .cash-charg-tab-first #btnsubmit, .cash-charg-tab-first #btnsubmit2, .cash-charg-tab-first #btnsubmit3,
    .cash-charg-tab-first #btnsubmit4 {
        position: absolute;
        right: 29px;
        top: 83px;
    }

    #remcash table tbody tr th, #Distributor table tbody tr th, #Master table tbody tr th, #API table tbody tr th, #WhiteLabel table tbody tr th {
        padding: 5px 10px;
    }

    .three-page-same.upi-charge {
        width: 66%;
    }

    .onoffswitch {
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }

    .costom-on::after {
        width: 20px;
        height: 20px;
        top: 5px;
    }

    .custom-off::before {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
    }

    .onoffswitch {
        float: right;
    }

    .qrclassnewaddsame {
        padding-right: 7px;
        margin-top: -8px;
    }

    .three-page-same.upi-charge {
        width: 60%;
    }

    .qrclassnewaddsame .onoffswitch {
        margin-right: 0;
    }

    .qrclassnewaddsame {
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

        .qrclassnewaddsame .onoffswitch {
            height: 24px;
            width: 24px;
        }

            .qrclassnewaddsame .onoffswitch .costom-on::after, .qrclassnewaddsame .onoffswitch .custom-off::before {
                width: 15px;
                height: 17px;
                top: 2px;
                right: 4px;
            }

            .qrclassnewaddsame .onoffswitch span {
                height: 24px !important;
            }


    .paybyupiclassnewaddsame {
        padding-right: 7px;
        margin-top: -8px;
    }

    .three-page-same.upi-charge {
        width: 50%;
    }

    .three-page-same .unload-item .leftt {
        width: 72% !important;
    }

    .three-page-same .unload-item.item-three {
        width: 60% !important;
    }

    .newfourdesign-admin .page-header-third ul.ulautopadd-third li:nth-child(1), .newfourdesign-admin .page-header-third ul.ulautopadd-third li:nth-child(2) {
        display: none;
    }

    @@media screen and (max-width:1366px) {
        .upinamecssresp {
            display: none;
        }
    }


    @@media screen and (max-width:766px) {
        .upicharges-mainadmin .bread-same-all-page ul {
            width: 100% !important;
            float: left;
        }

        .upicharges-mainadmin .unload-item {
            width: 50% !important;
            padding-right: 5px;
        }

            .upicharges-mainadmin .unload-item.special-iii {
                width: 100% !important;
                float: left;
                margin-top: 5px;
            }

                .upicharges-mainadmin .unload-item.special-iii .leftt {
                    width: 100% !important;
                    float: left;
                    margin-bottom: 5px;
                }

                .upicharges-mainadmin .unload-item.special-iii .rightt.rightt-left-third {
                    width: auto !important;
                    float: left;
                }

                    .upicharges-mainadmin .unload-item.special-iii .rightt.rightt-left-third button {
                        margin-left: 0 !important;
                        width: 100% !important;
                    }

        .upicharges-mainadmin .bread-same-all-page {
            position: relative;
        }

            .upicharges-mainadmin .bread-same-all-page .when-tr-left.position-third {
                margin-top: 0;
                position: absolute;
                bottom: 0;
                right: 0;
            }

                .upicharges-mainadmin .bread-same-all-page .when-tr-left.position-third button {
                    position: static;
                    width: auto;
                }

                .upicharges-mainadmin .bread-same-all-page .when-tr-left.position-third .onoffswitch {
                    position: relative;
                    top: 0px;
                    left: 0px;
                }
    }

    .paybyupiclassnewaddsame .onoffswitch {
        margin-right: 0;
    }

    .paybyupiclassnewaddsame {
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

        .paybyupiclassnewaddsame .onoffswitch {
            height: 24px;
            width: 24px;
        }

            .paybyupiclassnewaddsame .onoffswitch .costom-on::after, .paybyupiclassnewaddsame .onoffswitch .custom-off::before {
                width: 15px;
                height: 17px;
                top: 2px;
                right: 4px;
            }

            .paybyupiclassnewaddsame .onoffswitch span {
                height: 24px !important;
            }




    @@media only screen and (min-width:481px) and (max-width:991px) {
        .dust-gr-terw ul {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .three-page-same.upi-charge {
            width: 100% !important;
            float: left;
        }

        .dust-gr-terw .un-re-wa-right {
            padding-left: 0px !important;
        }

        .when-tr-left {
            width: auto;
            float: left;
            margin-top: 10px;
        }
    }

    @@media only screen and (max-width:480px) {
        .bread-same-all-page ul {
            width: 100% !important;
        }

        .three-page-same.upi-charge {
            width: 100%;
        }

        .un-re-wa-right {
            padding-left: 0px !important;
        }

        .three-page-same.upi-charge .unload-item.item-two {
            width: 49% !important;
            padding: 0px;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item.item-one {
            width: 49% !important;
        }

        .three-page-same.upi-charge .unload-item.item-two.item-two-width {
            width: 100% !important;
            margin-right: 2%;
        }

        .three-page-same.upi-charge .unload-item .rightt button span {
            float: none;
        }

        .three-page-same.upi-charge .unload-item .rightt button {
            width: 100% !important;
            margin-left: 0px !important;
        }

        .three-page-same.upi-charge .unload-item .rightt {
            width: 28% !important;
        }

        .onoffswitch {
            position: absolute;
            top: 213px;
            left: 41%;
        }

        .for-button-upi {
            position: absolute;
            width: 45%;
            top: 213px;
            right: 15px;
        }

        .Wallet-To-Bank-Charge-modal .modal-dialog {
            width: 96%;
            margin-right: 1% !important;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child {
            border-left: 1px solid var(--border-color);
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child {
            border-right: 1px solid var(--border-color);
        }
    }

    @@media screen and (max-width:400px) {
        .upicharges-mainadmin .bread-same-all-page .when-tr-left.position-third {
            position: static;
        }
    }
</style>
<section class="content cas-hdeposi-tcharge-page upicharge-thirddesign">
    <div class="container-fluid upicharges-mainadmin">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-admin" style="display:none;">
            <h3>UPI Charges</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">UPI Charges</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="page-header-third margin-bottom-third cardbackg-third onlymargin-third newcardclass leftrightpadd-third positionrelavtive-third">
            <div class="bread-same-all-page dust-gr-terw breadsameall-second classbottomo-third" style="margin-bottom: 10px;">
                <ul class="ulautopadd-third" style="float: left;margin: 0px auto;width: 23%;">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="../../ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                        </a>
                    </li>

                    <li class="fullbodydycolorbg tmw-total-color-one upinamecssresp">
                        Upi Payment
                        &nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </li>
                    <li>
                        @Html.ActionLink("Show UPI Request", "Show_ManualUPI_REQ", "Home")

                    </li>
                </ul>
                <div class="three-page-same upi-charge all-type-third upiclass-respfull-third">
                    <div class="un-re-wa-right" style="padding-left: 10px;">

                        @using (Html.BeginForm("UPICharges", "Home", FormMethod.Post))
                        {
                            <div class="unload-item item-two unloadupi-third-design" style="width:10%">
                                @Html.DropDownList("ddlname", new List<SelectListItem>
                                  {
                              new SelectListItem{ Text="All",Value="ALL"},
                               new SelectListItem{ Text="Retailer",Value="Retailer"},
                               new SelectListItem{Text="Distributor",Value="Distributor"},
                               new SelectListItem{Text="Master",Value="Master"},
                               new SelectListItem{Text="Whitelabel",Value="Whitelabel"}
                              }, new { @class = "selectpicker form-control", data_live_search = "false", @onchange = "ddlnamechange()" })

                            </div>

                            <div id="drpretailer" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Retailerid", ViewBag.Retailerid as SelectList, "Select Retailer ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpdealer" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Dealerid", ViewBag.Dealerid as SelectList, "Select Distributor ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpmaster" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Masterid", ViewBag.Masterid as SelectList, "Select Master ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div id="drpwhite" class="unload-item item-one" style="width:25%;display:none;">
                                @Html.DropDownList("Whitelabelid", ViewBag.whitelabelid as SelectList, "Select Whitelabel ID", new { @class = " form-control border-0", @style = "border:1px solid #8e7f7f4d;" })
                            </div>
                            <div class="unload-item item-two item-two-width ">
                                @Html.DropDownList("ddlstatus", new List<SelectListItem>
                                  {
                              new SelectListItem{ Text="Status",Value="ALL"},
                               new SelectListItem{ Text="Pending",Value="Pending"},
                               new SelectListItem{Text="Success",Value="Success"},
                               new SelectListItem{Text="Rejected",Value="Failed"}
                              }, new { @class = "selectpicker form-control", data_live_search = "false" })

                            </div>

                            <div class="unload-item item-two item-two-width ">
                                @Html.DropDownList("ddlfiltertable", new List<SelectListItem>
                                  {
                              new SelectListItem{ Text="Filter By ALL",Value="ALL"},
                               new SelectListItem{ Text="Filter by QR",Value="VASTBAZAAR"},
                               new SelectListItem{Text="Filter By Self",Value="SELF"},

                              }, new { @class = "selectpicker form-control", data_live_search = "false" })

                            </div>
                            <div class="unload-item special-iii item-three">
                                <div class="leftt">
                                    <div class="input-daterange input-group inputbackground-third">
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        <span class="input-group-addon" style="min-width:10px;padding:0px;">

                                        </span>
                                        <div class="for-position">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                                <div class="rightt rightt-left-third" style="width:26%;">
                                    <button type="submit" id="RetailerSearch" class="btn  waves-effect btnssl2233 input-back-second" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="width: 94%;margin-left: 8px;display:flex;">
                                        <i class="fa fa-search"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="when-tr-left position-third" style="float:right;">
                    <div class="for-export" style="width:auto;float:right;margin-top:0px;padding-left:3px;">
                        <div class="web-white-filter fil pdfexpoer-second" style="float: left;margin-right: 2px;">
                            <input type="button" id="btnExport" title="Export" value="Export" style="font-size: 0px;
        margin-left: 0px;padding: 0px 4px;height: 30px;border: 1px solid #22151538;background: #d69f9fcf;
        background-image: url(../../images/reportimage/xls.png);
        background-repeat: no-repeat;background-position: 7px center;padding:0;width:25px;">
                            <input type="button" id="btnpdf" value="PDF" title="PDF" style="margin-left: 2px;font-size: 0px;padding: 0px 4px;
        height: 30px;border: 1px solid #22151538;background: #79cc87c7;
        background-image: url(../../images/reportimage/pdf.png);
        background-repeat: no-repeat;background-position: 9px center;padding: 0px;width:25px;">
                        </div>

                    </div>
                    <button data-toggle="modal" data-target="#myModal" class="fullbodydycolorbg for-button-upi back-button-third" style="float:right;color:#fff;padding: 5px 12px;border:1px solid #ddd;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="margin-right:6px;font-size:16px;position:relative;top:1px;"></i>UPI Charge</button>

                    <div class="qrclassnewaddsame" style="float:right;">
                        <span style="font-size:11px;display:block;">pay by Qr</span>
                        @if (ViewBag.CHKUPI != null)
                        {
                            if (ViewBag.CHKUPI.Status == "Y")
                            {
                                <div class="UPI onoffswitch" style="float:left;">
                                    <span class="costom-on" style="height:32px;" onclick="UPIOnOff('UPI')"></span>
                                </div>
                            }
                            else
                            {
                                <div class="UPI onoffswitch" style="float:left;">
                                    <span class="custom-off" style="height:32px;" onclick="UPIOnOff('UPI')"></span>

                                </div>
                            }
                        }
                    </div>
                    <div class="paybyupiclassnewaddsame" style="float:right;">
                        <span style="font-size:11px;display:block;">pay by upi</span>
                        @if (ViewBag.CHKPAYBYUPIUPI != null)
                        {
                            if (ViewBag.CHKPAYBYUPIUPI.Status == "Y")
                            {
                                <div class="SELFUPI onoffswitch" style="float:left;">
                                    <span class="costom-on" style="height:32px;" onclick="UPIOnOff('SELFUPI')"></span>
                                </div>
                            }
                            else
                            {
                                <div class="SELFUPI onoffswitch" style="float:left;">
                                    <span class="custom-off" style="height:32px;" onclick="UPIOnOff('SELFUPI')"></span>

                                </div>
                            }
                        }
                    </div>

                </div>



            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="" style="">


                    <div class="three-page-same">
                        <div class="row clearfix" id="RetailerSRC">
                            <div class="col-md-12 col-sm-12 col-xs-12">


                                <div id="RetailerSearchList">
                                    <div class="table-responsive tableseconddes-admin" style="width:100%;">
                                        <table class="table table-bordered table-striped table-hover third-design-table">
                                            <thead style="background-color:whitesmoke;">
                                                <tr>
                                                    <th>S.NO</th>
                                                    <th>Role</th>
                                                    <th>User</th>
                                                    <th>Payer&nbsp;Name</th>
                                                    @*<th>Payer&nbsp;Mobile</th>*@
                                                    <th>Remain&nbsp;Pre</th>
                                                    <th>Amount</th>
                                                    <th>Charges</th>
                                                    <th>Net&nbsp;Pay</th>
                                                    <th>Remain&nbsp;Post</th>
                                                    <th>Bank RRN</th>
                                                    <th>Transaction&nbsp;Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.UPIREPORT)
                                                {

                                                    i++;
                                                    var frmname = item.Frm_Name == null || item.Frm_Name == "" ? item.RetailerName : item.Frm_Name;

                                                    TOTALAMOUNT = item.amt + TOTALAMOUNT;
                                                    TOTALNET = item.finalpay + TOTALNET;
                                                    var img = "";
                                                    var bg = "";
                                                    var pd = "";

                                                    if (item.status.ToUpper() == "SUCCESS")
                                                    {
                                                        img = "../../ashok-images/correct.svg";
                                                        bg = "green";
                                                        pd = "3px";

                                                    }
                                                    else if (item.status.ToUpper() == "PENDING")
                                                    {
                                                        img = "../../ashok-images/clock.svg";
                                                    }
                                                    else
                                                    {
                                                        img = "../../ashok-images/closes.svg";
                                                        bg = "red";
                                                        pd = "3px";
                                                    }
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.rolename</td>
                                                        <td>@frmname</td>
                                                        <td><img src='@img' style="width: 20px;background:@bg;padding:@pd;border-radius:50%;">&nbsp;@item.PayerName</td>
                                                        @*<td>9166940603</td>*@
                                                        <td style="font-weight:bold;">@item.remainpre</td>
                                                        <td>@item.amt</td>
                                                        <td>@item.charge</td>
                                                        <td>@item.finalpay</td>
                                                        <td>@item.remainpost</td>
                                                        <td>@item.BankRRN</td>
                                                        <td>@item.txndate</td>
                                                        <td>
                                                            @if (@item.status.ToUpper() == "PENDING")
                                                            {
                                                                <button data-toggle="modal" data-target="#myModalUPITXN" onclick="UPIRESPONSEsss('APPROVED', '@item.idno','@frmname' ,'@item.txndate', '@item.amt')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><i class="fa fa-check" style="top:1px;border: 1px solid #c7c2c2;padding: 3px;font-size: 10px;" aria-hidden="true"></i>	</button>
                                                                <button data-toggle="modal" data-target="#myModalUPITXN" onclick="UPIRESPONSEsss('REJECTED', '@item.idno','@frmname','@item.txndate' ,'@item.amt')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"> <i class="fa fa-times" style="top:1px;border: 1px solid #c7c2c2;padding: 3px 4px;font-size: 10px;" aria-hidden="true"></i></button>
                                                            }
                                                        </td>
                                                    </tr>

                                                }
                                                <tr>
                                                    <td colspan="5">TOTAL</td>
                                                    <td>@TOTALAMOUNT</td>
                                                    <td></td>
                                                    <td>@TOTALNET</td>
                                                    <td colspan="4"></td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div><!--.row-->
                    </div><!--.three-page-same-->
                </div><!--.three-page-same-->
            </div>

        </div>
    </div>
    </div>
</section>

<div id="myModalUPITXN" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#bbb;">
                <h4 class="modal-title" id="defaultModalLabel"> Confirm Transection</h4>
            </div>


            <div class="modal-body" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">

                    @using (Html.BeginForm("UPI_Manual_Pending_To_Success", "Home", FormMethod.Post))
                    {
                        <input type="hidden" id="hideupiidres" name="hideupiidres" />
                        <input type="hidden" id="hideupiidrestypes" name="hideupiidrestypes" />
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Retailer Firm</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtremfrmname" name="txtremfrmname" type="text" disabled="disabled" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Transection Date</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txttxndate" name="txttxndate" type="text" disabled="disabled" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Amount</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtremamount" name="txtremamount" type="text" disabled="disabled" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Enter Bank RRN</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtBankRRN" name="txtBankRRN" type="text" placeholder="Enter Bank RRN" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                <label for="email_address_2">Enter Transection Password</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtcode" name="txtcode" type="password" placeholder="Enter Transection Password" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer special-iii">
                            <button id="Saveotp123" type="submit" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Enter Transection Password
                            </button>
                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>

                    }
                    <label id="lblmsg"></label>

                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl11">
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>





<!-- ========   Wallet To Bank Charge Add New Modal  =============-->
<div id="myModal" class="modal fade Wallet-To-Bank-Charge-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="float: right;margin: 0px;">
        <div class="modal-content">
            <div class="modal-header" style="background:#bbb;">
                <h4 class="modal-title" id="defaultModalLabel"> Add UPI Charges</h4>
            </div>



            <div class="modal-body" style="margin-top:0px;background:#f5f5f5;">
                <div class="body">
                    <form id="form_validation" method="POST">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Minimum Charge (Rs)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <select class="form-control" id="RemMinAmt" name="RemMinAmt">
                                            <option value="">Select one</option>
                                            <option value="0.00">0.00</option>
                                            <option value="0.05">0.05</option>
                                            <option value="0.15">0.15</option>
                                            <option value="0.25">0.25</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">

                                <label for="email_address_2"> Charge (%)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group" style="margin-bottom:10px;">
                                    <div class="">
                                        <select class="form-control" id="RemMaxAmt" name="RemMaxAmt">
                                            <option value="">Select one</option>
                                            <option value="0.00">0.00</option>
                                            <option value="0.01">0.01</option>
                                            <option value="0.02">0.02</option>

                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer special-iii">
                            <button id="SaveChargeREM" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Save Change
                            </button>

                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>
                    </form>
                    <h2 style="font-size:18px;margin-bottom:0px;border-top: 3px solid var(--main-bg-lcolor);padding-top: 20px;">Following current Charges Detail</h2>
                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl">
                        @Html.Partial("_Upi_slabList")
                    </div>
                    <h2 style="font-size:18px;margin-bottom:0px;border-top: 3px solid var(--main-bg-lcolor);padding-top: 20px;">UPI SELF SETTING</h2>
                    <form id="form_validation11" method="POST">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">VPAID (Upi id)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtupiid" type="text" placeholder="Enter UPI ID" class="form-control" required />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2"> Minimum Amount (Rs)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group" style="margin-bottom:10px;">
                                    <div class="">
                                        <input id="txtminbal" type="number" placeholder="Enter Minimum Amount" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2"> Maximum Amount (Rs)</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group" style="margin-bottom:10px;">
                                    <div class="">
                                        <input id="txtmaxbal" type="number" placeholder="Enter Maximum Amount" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer special-iii">
                            <button id="SaveChargeminbal" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Save Change
                            </button>

                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>
                    </form>
                    <form id="form_validation1" method="post" style="display:none;">
                        <input type="hidden" id="hideupiid" />
                        <input type="hidden" id="hidemin" />
                        <input type="hidden" id="hidemax" />
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 ">
                                <label for="email_address_2">Enter OTP</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="">
                                        <input id="txtotp" type="text" placeholder="Enter OTP" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer special-iii">
                            <button id="Saveotp" type="button" class="btn waves-effect btnssl2233 fullbodydycolorbg enableOnInput" style="width:auto;border: 1px solid #ddd;color:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                Enter OTP
                            </button>
                            <button type="button" class="btn waves-effect" style="width:auto;border: 1px solid #ddd;" id="closebtn" data-dismiss="modal">
                                Close
                            </button>

                        </div>
                    </form>
                    <label id="lblmsg"></label>
                    <div class="table-responsive " style="width:100%; height:auto;" id="RemTbl11">
                        @Html.Partial("_upi_SelfList")
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        ddlnamechange();
    });
</script>


<script>
    function ddlnamechange() {
        var selectname = $('#ddlname').val();
        if (selectname == "Retailer") {
            $('#drpretailer').show()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
        else if (selectname == "Distributor") {
            $('#drpretailer').hide()
            $('#drpdealer').show();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
        else if (selectname == "Master") {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').show();
            $('#drpwhite').hide();
        }
        else if (selectname == "Whitelabel") {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').show();
        }
        else {
            $('#drpretailer').hide()
            $('#drpdealer').hide();
            $('#drpmaster').hide();
            $('#drpwhite').hide();
        }
    }
</script>
<script>
    function ddlnamechange1() {
        var selectname = $('#ddlname1').val();
        if (selectname == "Retailer") {
            $('#drpretailer1').show()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Distributor") {
            $('#drpretailer1').hide()
            $('#drpdealer1').show();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Master") {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').show();
            $('#drpwhite1').hide();
        }
        else if (selectname == "Whitelabel") {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').show();
        }
        else {
            $('#drpretailer1').hide()
            $('#drpdealer1').hide();
            $('#drpmaster1').hide();
            $('#drpwhite1').hide();
        }
    }
</script>
<script>
    function editmaster() {
        $('#editbuttonmaster').hide();
        $('#btnsubmit').show();
        $('#tbodyshow').hide();
        $('#tbodyedit').show();
    }
    function editRetailer() {
        $('#editbuttonRetailer').hide();
        $('#btnsubmit1').show();
        $('#tbodyshowretailer').hide();
        $('#tbodyeditretailer').show();
    }
    function editDealer() {
        $('#editbuttonDealer').hide();
        $('#btnsubmit2').show();
        $('#tbodyshowdealer').hide();
        $('#tbodyeditdealer').show();
    }

    function editApi() {
        $('#editbuttonapi').hide();
        $('#btnsubmit3').show();
        $('#tbodyshowapi').hide();
        $('#tbodyeditapi').show();
    }
    function editWhite() {
        $('#editbuttonwhite').hide();
        $('#btnsubmit4').show();
        $('#tbodyshowwhite').hide();
        $('#tbodyeditwhite').show();
    }
</script>
<script>
    function success() {
        $('#editbuttonmaster').show();
        $('#btnsubmit').hide();
        $('#tbodyshow').show();
        $('#tbodyedit').hide();
        //$('#mastersubmit').submit();
    }
    function success1() {
        $('#editbuttonRetailer').show();
        $('#btnsubmit1').hide();
        $('#tbodyshowretailer').show();
        $('#tbodyeditretailer').hide();
        //$('#Retailersubmit').submit();
    }
    function success2() {
        $('#editbuttonDealer').show();
        $('#btnsubmit2').hide();
        $('#tbodyshowdealer').show();
        $('#tbodyeditdealer').hide();
        $('#Dealersubmit').submit();
    }

    function success3() {
        $('#editbuttonApi').show();
        $('#btnsubmit3').hide();
        $('#tbodyshowapi').show();
        $('#tbodyeditapi').hide();
        $('#Apisubmit').submit();
    }

    function success4() {
        $('#editbuttonWhite').show();
        $('#btnsubmit4').hide();
        $('#tbodyshowWhite').show();
        $('#tbodyeditWhite').hide();
        $('#Whitesubmit').submit();
    }
</script>

<!--=======    Modal For Bank Details   ========-->
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!------------------------------------------partialpage-->
<link href="~/select2/dist/css/select2.css" rel="stylesheet" />
<script src="~/select2/dist/js/select2.min.js"></script>

<script>
    function failed(error) {
        alert(error.statusText);
    }
    function failed1(error) {
        alert(error.statusText);
    }
</script>

<script>
    $('#ddlname').select2();
    $('#Retailerid').select2();
    $('#Dealerid').select2();
    $('#Masterid').select2();
    $('#Whitelabelid').select2();
    $('#ddlstatus').select2();
</script>

<!------------------------>

<script>
$(function(){
    $("button.shownextrow").click(function () {
        $(this).closest("tr").next().show();
        $(this).closest("tr").hide();
    });
     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
    }
     if (val != "post") {
                $("#txt_frm_date1").datepicker("setDate", new Date());
                $("#txt_to_date1").datepicker("setDate", new Date());
            }
    });
</script>


<script>
    window.onload = function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }

    }
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            sweetAlert("Oops...", data, "error");
        }
        })


</script>



<script>
    $(function () {
        $("button#edit-to-change").click(function () {
            $('#banks-modal2').show();
            $('#banks-modal1').hide();
        });
        $("button#edit-to-change1").click(function () {
            $('#banks-modal4').show();
            $('#banks-modal3').hide();
        });
        $("button#edit-to-change2").click(function () {
            $('#banks-modal6').show();
            $('#banks-modal5').hide();
        });
        $("button#edit-to-change3").click(function () {
            $('#banks-modal8').show();
            $('#banks-modal7').hide();
        });
    });
</script>
<!--  ==   Script For tabs2  ==--->
<script type="text/javascript">
    $(function () {

        $('ul.tabs2 li').click(function () {
            var tab_id = $(this).attr('data-tab');


            $('ul.tabs2 li').removeClass('current2');
            $('.tab-content2').removeClass('current2');


            $(this).addClass('current2');
            $("#" + tab_id).addClass('current2');

        })

    })
</script>
<!--  ==   Script For tabs3  ==--->
<script type="text/javascript">
    $(function () {

        $('ul.tabs3 li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs3 li').removeClass('current3');
            $('.tab-content3').removeClass('current3');

            $(this).addClass('current3');
            $("#" + tab_id).addClass('current3');
        })

    })
</script>




<script type="text/javascript">

    function show(elementId) {
        if (elementId == "RetailerSRC") {
            document.getElementById("RetailerSRC").style.display = "block";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("VendorSRC").style.display = "none";

        }
        else if (elementId == "WAdminSRC") {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "block";
            document.getElementById("VendorSRC").style.display = "none";

        }
        else {
            document.getElementById("RetailerSRC").style.display = "none";
            document.getElementById("WAdminSRC").style.display = "none";
            document.getElementById("VendorSRC").style.display = "block";

        }
    }
</script>
<script>
    $(function () {
        $('.ca-dipo-right ul.just-bottom li.fli2').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli3').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli1,.ca-dipo-right ul.just-bottom li.fli2").removeClass("acttt");
            $(this).addClass("acttt");
        });

        $('.ca-dipo-right ul.just-bottom li.fli1').click(function () {
            $(".ca-dipo-right ul.just-bottom li.fli2,.ca-dipo-right ul.just-bottom li.fli3").removeClass("acttt");
            $(this).addClass("acttt");
        });
    });
</script>


<script>
    $('#SaveChargeREM').click(function () {

       $('#lblmsg').text('')
        $.ajax({
            url: '@Url.Action("AddUpiCharge","Home")',
            type: 'POST',
            data: { min: $("#RemMinAmt").val(), charge: $("#RemMaxAmt").val()},
            success: function (response) {
                debugger
                   $('#RemTbl').html(response);
                   $("#RemMinAmt").val(''),
                   $("#RemMaxAmt").val(''),
                   $('#RemTime').val(''),
                   $("#RemIMPSFee").val(''),
                    $("#RemNEFTFee").val('')



            },
            error: function (xhr, status, error) {
                //alert(error);

            }
        });
    })
</script>
<script>
    $('#SaveChargeminbal').click(function () {
        $('#lblmsg').text('')
        $("#hideupiid").val($("#txtupiid").val());
        $("#hidemin").val($("#txtminbal").val());
        $("#hidemax").val($("#txtmaxbal").val());
        $(this).html('<i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i>');

        $.ajax({
            url: '@Url.Action("SENDOTP","Home")',
            type: 'POST',
            success: function (response) {
                $('#form_validation11').hide();
                $('#form_validation1').show();
                $('#RemTbl11').html(response);
                $("#txtupiid").val('');
                $("#txtminbal").val('');
                $("#txtmaxbal").val('');
                $(this).html('Save Change');
            },
            error: function () {
                //alert(error);
            }
        });
    })
</script>

<label style="color:red;">@Model.msg</label>

<script>
    $('#Saveotp').click(function () {
       $('#lblmsg').text('')
        $.ajax({
            url: '@Url.Action("AddUpiSelf","Home")',
            type: 'POST',
            data: { upiid: $("#hideupiid").val(), min: $("#hidemin").val(), otp: $("#txtotp").val(), max: $("#hidemax").val()},
            success: function (response) {
                $('#SaveChargeminbal').text('save')
                $('#form_validation11').show();
                $('#form_validation1').hide();
               $('#RemTbl11').html(response);
               $("#txtupiid").val(''),
               $("#txtminbal").val('')
                $("#txtmaxbal").val('')
            },
            error: function () {
                //alert(error);
            }
        });
    })
</script>
<script>
    function UPIOnOff(usefor) {
            $.ajax({
            url: '@Url.Action("Hide_Show_UPI", "Home")',
                type: 'POST',
            data: { usefor: usefor },
                success: function (data) {
                    
                    if (data.status == "Success") {
                        if (data.Message == "ON") {
                            $('.'+usefor+'.onoffswitch span').removeClass('custom-off');
                            $('.'+usefor+'.onoffswitch span').addClass('costom-on');
                        }
                        else {
                            if (data.Message == "OFF") {
                                $('.' + usefor +'.onoffswitch span').removeClass('costom-on');
                                $('.' + usefor +'.onoffswitch span').addClass('custom-off');
                            }
                        }
                    }
                    else {
                        ToastrMessage();
                        toastr.error(data.Message);
                    }
            }
        });
    }
</script>


<script>
    $('.third-design .third-design-table tbody td').mouseenter(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'var(--main-bg-rcolor)');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#fff');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'var(--main-bg-rcolor)');
    });

    $('.third-design .third-design-table tbody td').mouseleave(function () {
        var colIndex = $(this).parent().children().index($(this)) + 1;
        var rowIndex = $(this).parent().parent().children().index($(this).parent()) + 1;
        $(".third-design-table td:nth-child(" + colIndex + ")").css('background', 'transparent');
        $(".third-design-table td:nth-child(" + colIndex + ")").css('color', '#333');
        $(".third-design-table tbody tr:nth-child(" + rowIndex + ")").css('background', 'transparent');
    });
</script>

<script>
    $(function () {
        var msg = '@TempData["msgupi"]';
        if (msg != "") {
            alert(msg);
        }
    });
</script>

<script>
    function UPIRESPONSEsss(status, idno, firmname, txndate, amount) {
        $('#hideupiidres').val(idno);
        $('#hideupiidrestypes').val(status);
        $('#txtremfrmname').val(firmname);
        $('#txttxndate').val(txndate);
        $('#txtremamount').val(amount);
    }
</script>



<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlname = $('#ddlname').val();
        var Retailerid = $('#Retailerid').val();
        var Dealerid = $('#Dealerid').val();
        var Masterid = $('#Masterid').val();
        var Whitelabelid = $('#Whitelabelid').val();
        var ddlstatus = $('#ddlstatus').val();
        var ddlfiltertable = $('#ddlfiltertable').val();
        var url = '@Url.Action("ExcelUPIChargesReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlname=' + ddlname + '&Retailerid=' + Retailerid + '&Dealerid=' + Dealerid + '&Masterid=' + Masterid + '&Whitelabelid=' + Whitelabelid + '&ddlstatus=' + ddlstatus + '&ddlfiltertable=' + ddlfiltertable;
        location.href = url;
    });
</script>

<script>
    $("#btnpdf").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlname = $('#ddlname').val();
        var Retailerid = $('#Retailerid').val();
        var Dealerid = $('#Dealerid').val();
        var Masterid = $('#Masterid').val();
        var Whitelabelid = $('#Whitelabelid').val();
        var ddlstatus = $('#ddlstatus').val();
        var ddlfiltertable = $('#ddlfiltertable').val();
        var url = '@Url.Action("PdfUPICharges", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlname=' + ddlname + '&Retailerid=' + Retailerid + '&Dealerid=' + Dealerid + '&Masterid=' + Masterid + '&Whitelabelid=' + Whitelabelid + '&ddlstatus=' + ddlstatus + '&ddlfiltertable=' + ddlfiltertable;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
