@model List<Vastwebmulti.Models.WalletToBankAmountTransferCharge>
@{
    ViewBag.Title = "WalletToBankAmountCharge";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}

<style>
    tr th {
        text-align: center;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="">
                        <div class="">
                            <h2 style="font-size:20px;margin-top:0px; color:#000;">
                                Wallet To Bank Amount Transfer Slab
                            </h2>


                        </div>
                    </div>
                    <div class=" table-responsive">
                        <div id="dataTable" class="table-responsive" style="position:inherit;">

                            <table class="table table-bordered">
                                <thead style="background-color:#bbb;">
                                    <tr>
                                        
                                        @*<th colspan="4">General</th>*@
                                        <th colspan="6">Tatkal</th>
                                        @*<th rowspan="2">Status</th>*@

                                    </tr>
                                    <tr>
                                        <th>SR</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Charge</th>
                                        <th>Time</th>

                                        <th>From</th>

                                    </tr>
                                </thead>
                                <tbody id="tbodyshow">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr style="background:#f5f5f5;">
                                            <td>@i</td>
                                            @*<td>@item.AmtFromGeneral</td>
                                            <td>@item.AmtToGeneral</td>
                                            <td>@item.chargeGeneral</td>
                                            <td>@item.TimeTakesGeneral</td>*@
                                            <td>@item.AmtFromTatkal</td>
                                            @if(@item.AmtToTatkal == 0)
                                            {
                                                <td>---------</td>
                                            }
                                            else
                                            {
                                                <td>@item.AmtToTatkal</td>
                                            }
                                            <td>@item.chargeTatkal</td>
                                            <td>@item.chargeTatkalNEFT</td>
                                            <td>@item.TimeTakesTatkal</td>
                                            @*<td>@item.IsEnabled</td>*@

                                        </tr>
                                        i++;
                                    }

                                </tbody>

                            </table>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

