@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "WebFailedLogin";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<style>
    .slab-setting-menu li a.activee {

    background:linear-gradient(to right, @PageData["Globalfirst"],@PageData["GlobalSecond"]);

    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_Loginmenu")
                        </div>

                    </div>
                    <div class="col-md-6">
                      
                        <div class="row ">
                            @using (Html.BeginForm("WebFailedLogin", "Home", FormMethod.Post))
                            {
                                <div class="col-md-6 for-web-date">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one  " aria-hidden="true" style="color: @PageData["Globalfirst"];"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; padding-left: 20px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one  " aria-hidden="true" style="color: @PageData["Globalfirst"];"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;padding-left: 20px;     ", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style=" margin-left: -3px; height:34px;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                                <div class="web-white-filter col-md-4">
                                    <table class=" js-exportable ">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            }
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card">
                    
                    <div class="" >
                        <div class="table-responsive web-white-table" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;">
                                <thead style="color:white;position:initial;" class="navbar">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;ID</th>
                                        <th>Password</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Login&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.EmailId</td>
                                            <td>@item.pwd</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.LoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>


