@model Vastwebmulti.Areas.WHITELABEL.Models.Whitelabel_BlockUserViewModel
@{
    ViewBag.Title = "WebLogin";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
        border-color: #ccc !important;
    }

    .custom-district1::before {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        right: 7px;
        position: absolute;
        top: 13px;
        content: '';
    }

    .custom-district1 {
        position: relative;
    }

    .OpertorIndex-page .oprindex-right input#txt_frm_date {
        padding-left: 25px;
    }

    #webloginhis tr td p, #APPloginhis tr td p {
        margin-bottom: 0px;
    }

    .table-bordered thead tr th {
        padding: 5px;
    }

    .web_login_page .tab-under-ul ul {
        width: 100%;
    }

        .web_login_page .tab-under-ul ul li {
            margin-right: 2px;
        }

    @@media screen and (max-width:766px) {
        .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(1), .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(2), .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(3) {
            width: 32% !important;
            float: left;
            margin-bottom: 5px;
        }

        .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(4), .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(5) {
            width: 49% !important;
            float: left;
            margin-bottom: 5px;
        }

        .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(6) {
            width: auto !important;
            margin: 0px !important;
        }

        .web_login_page .tab-under-ul .weblogn-admin-firsttab li:nth-child(7) {
            width: auto !important;
        }
    }

    #leftmenu > li.current {
        color: #fff !important;
        background-image: linear-gradient(to right, #78c778, #e63b3b) !important;
    }

    #leftmenu > li {
        color: #222325 !important;
        background-color: aliceblue !important;
        border-right: 2px solid #e4e4e4 !important;
    }

    /*#rightmenu > li.current2 {
        color: #fff !important;
        background-image: linear-gradient(to right, #78c778, #e63b3b) !important;
    }

    #rightmenu > li {
        color: #222325 !important;
        background-color: aliceblue !important;
        border-right: 2px solid #e4e4e4 !important;
    }*/

    /*.web_login_page .Weblogin-left .web-just-bottom {
        background: aliceblue !important;
    }*/
</style>
<section class="content web_login_page OpertorIndex-page">
    <div class="container-fluid">

        <div class="page-header-third pageheader-margin-third">
            <div class="bread-same-all-page breadsameall-second">
                <ul class="padding-top-third">
                    <li class="smli">
                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                        </a>
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        <a href="@Url.Action("Dashboard", "Home")#setting" class="fullbodydycolorbg tmw-total-color-one">
                            Basic&nbsp;Setting
                        </a>&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;" />
                    </li>
                    <li class="fullbodydycolorbg tmw-total-color-one">
                        Login Setting
                    </li>
                </ul>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <div style="margin-left:-13px;">
                            @Html.Partial("_Loginmenu")
                        </div>

                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("WebLogin", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <center>
                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="Weblogin-left oprindex-left " style="height: 82vh;overflow: auto;">
                    <div class="justul">
                        <ul class="tabs tab-seconddesign tab-third-design" id="leftmenu">
                            <li class="tab-link current" onclick="tabopen('for-SET')" data-tab="tab-1"><i class="fa fa-shield" aria-hidden="true"></i>&nbsp;Security</li>
                            <li class="tab-link " onclick="tabopen('for-RET')" data-tab="tab-2">Change Login ID</li>
                            <li class="tab-link " onclick="tabopen('for-Distr')" data-tab="tab-3">
                                <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Block Login
                            </li>
                        </ul>
                    </div>
                    <!-- web-just-bottom Start -->
                    <div class="web-just-bottom">
                        <div id="tab-1" class="tab-content current">
                            <div id="Statussetting">
                                @foreach (var item in ViewBag.setting)
                                {

                                    if (item.highsecurity == true)
                                    {

                                        <fieldset class="firstf fff">
                                            <legend>High Security</legend>
                                            <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                                                <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:37px;" />
                                                <span>Active </span>
                                            </button>
                                            <p class="dmlsing-seconddesign border-full-third">Email verification is required for high security</p>
                                        </fieldset>
                                        <fieldset class="secondf sss">
                                            <legend>Low Security</legend>
                                            <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                                                <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;" />
                                                <span> Deactive </span>
                                            </button>
                                            <p class="dmlsing-seconddesign border-full-third">No more security required, then send password to mobile</p>
                                        </fieldset>
                                    }
                                    if (item.highsecurity == false)
                                    {
                                        <fieldset class="secondf fff secondf-custom">
                                            <legend>High Security</legend>
                                            <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                                                <img src="~/img/red.svg" alt="Wrong Arrow image" style="width:32px;" />
                                                <span> Deactive </span>
                                            </button>
                                            <p class="dmlsing-seconddesign border-full-third">Email verification is required for high security</p>
                                        </fieldset>
                                        <fieldset class="firstf sss firstf-custom">
                                            <legend>Low Security</legend>
                                            <button data-id="@item.id" onclick="SecurityChange()" type="button" class="btn btn-firstwhite-second">
                                                <img src="~/img/green-right.svg" alt="Right Arrow image" style="width:37px;" />
                                                <span>Active </span>
                                            </button>
                                            <p class="dmlsing-seconddesign border-full-third">No more security required, then send password to mobile</p>
                                        </fieldset>
                                    }
                                }

                            </div>

                        </div><!--#tab-1-->
                        <div id="tab-2" class="tab-content">
                            <div>
                                <ul class="for-radio">
                                    <li>
                                        <input type="radio" value="ChangeEmail" name="group1" id="email_id" checked>
                                        <label for="email_id">Email ID</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="ChangeMobile" name="group1" id="mobile_no">
                                        <label for="mobile_no">Mobile No</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="Same-design-form input-border-third">
                                <form action="" method="POST" id="emailletter" class="Same-design-form ">
                                    <div id="for-email-id">
                                        <div class="form-group ">
                                            <label>User's Role</label>
                                            <div class="custom-district1">
                                                <select required name="UserRole" id="UserRole" class="form-control" onchange="ONCHANGE()" style="-webkit-appearance:none;">
                                                    <option value="">Select User Role</option>
                                                    <option value="Whitelabel">Administration</option>
                                                    <option value="Whitelabelmaster">Master Distributor</option>
                                                    <option value="Whitelabeldealer">Distributor</option>
                                                    <option value="Whitelabelretailer">Retailer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>All User's List</label>
                                            <div class="">
                                                <select required name="userslist" id="userslist" class="form-control for-select2" style="-webkit-appearance:none;">
                                                    <option value="">Select User</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Old Registered Email ID</label>
                                            <input type="text" required id="txtoldemail" name="txtoldemail" placeholder="Old Email" class="form-control" readonly />
                                        </div>
                                        <div class="form-group tabcurrent-seconddesign">
                                            <label>New Email</label>
                                            <input type="email" id="txtnewemail" required name="txtnewemail" placeholder="Enter New Email" class="form-control" />
                                        </div>
                                        <div class="form-group tabcurrent-seconddesign">
                                            <label>Confirm Email</label>
                                            <input type="email" id="txtconfemail" required name="txtconfemail" placeholder="Enter Conform Email" class="form-control" />
                                        </div>
                                        <div class="form-group tabcurrent-seconddesign" id="OTPCONF" style="display:none;">
                                            <label>Confirm OTP</label>
                                            <input type="number" id="otpVeify" required name="otpVeify" placeholder="Enter Conform otp" class="form-control" />
                                        </div>
                                        <div class="form-group button-seconddesign" style="margin-top:15px;" id="confirmFirst">

                                            <button type="submit" onclick="SendOTP()" id="btnFirst" name="btnFirst" class="btn save-change btnssl2233 special-iii fullbodydycolorbg btn-first" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;"><span style="color:#fff;">Submit</span></button>
                                            <button type="button" class="btn cancel btnssl2233 special-iii btn-second" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Cancel</button>
                                            <div class="error">
                                                <label class="error danger" id="errorshow"></label>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-top:15px; display:none;" id="confirmSubmit">

                                            <button type="submit" id="btnChangeemailmobile" name="btnChangeemailmobile" class="btn save-change btnssl2233 special-iii fullbodydycolorbg button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;">Save Change</button>
                                            <button type="button" class="btn cancel btnssl2233 special-iii button-third-design" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Cancel</button>
                                            <div class="error">
                                                <label class="error danger" id="errorshow"></label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!---->
                            <div class="Same-design-form input-border-third">
                                <form action="" method="POST" id="newsletter">
                                    <div id="for-mobile-no" style="display:none;">
                                        <div class="form-group">
                                            <label>User's Role</label>
                                            <div class="custom-district1">
                                                <select required name="UserRoleonmobile" id="UserRoleonmobile" class="form-control" style="-webkit-appearance:none;">
                                                    <option value="">Select User Role</option>
                                                    @*<option value="Whitelabel">Administration</option>*@
                                                    <option value="Whitelabelmaster">Master Distributor</option>
                                                    <option value="Whitelabeldealer">Distributor</option>
                                                    <option value="Whitelabelretailer">Retailer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>All User's List</label>
                                            <div class="">
                                                <select name="userslistmob" id="userslistmob" required class="form-control for-select2" style="-webkit-appearance:none;">
                                                    <option value="">Select User</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Old Registered Mobile No</label>
                                            <input name="txtoldmob" id="txtoldmob" required type="number" placeholder="Old Mobile No" class="form-control" readonly style="-webkit-appearance:none;-moz-appearance:textfield;" />
                                        </div>
                                        <div class="form-group tabcurrent-seconddesign">
                                            <label>New Mobile No</label>

                                            <input name="txtnewmob" maxlength="10" id="txtnewmob" required type="number" placeholder="Enter New Mobile No" class="form-control" style="-webkit-appearance:none;-moz-appearance:textfield;" />
                                        </div>
                                        <div class="form-group tabcurrent-seconddesign">
                                            <label>Conform Mobile No</label>
                                            <input name="txtcommob" id="txtcommob" maxlength="10" required type="number" placeholder="Enter Conform Mobile No" class="form-control" style="-webkit-appearance:none;-moz-appearance:textfield;" />
                                        </div>

                                        <div class="form-group" id="OTPmobileCONF" style="display:none;">
                                            <label>Confirm OTP</label>
                                            <input type="number" id="otpmobileVeify" required name="otpmobileVeify" placeholder="Enter Conform otp" class="form-control" />
                                        </div>

                                        <div class="form-group" style="margin-top: 15px;" id="confirmmobileFirst">

                                            <button type="submit" onclick="SendmobileOTP()" id="btnmobileFirst" name="btnFirst" class="btn save-change btnssl2233 special-iii fullbodydycolorbg" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;">Submit</button>
                                            <button type="button" class="btn cancel btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Cancel</button>
                                            <div class="error">
                                                <label class="error danger" id="errorsshow"></label>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-top:15px; display:none;" id="confirmSmobileubmit">

                                            <button type="submit" id="btnchangemobile" name="btnchangemobile" class="btn save-change btnssl2233 special-iii fullbodydycolorbg btn-first button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;"><span style="color:#fff;">Save Change</span></button>
                                            <button type="button" class="btn cancel btnssl2233 special-iii btn-second button-third-design" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Cancel</button>

                                        </div>

                                        <div class="error">
                                            <label class="error danger" id="errorshowmob"></label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!--#tab-2-->
                        <div id="tab-3" class="tab-content Same-design-form input-border-third">
                            @using (Ajax.BeginForm("BlockLoginUsers", "Home", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "success" }))
                            {
                                <div class="form-group">

                                    <label>User's Role</label>
                                    <div class="custom-district1">
                                        <select required name="UserRoleBlocklogin" id="UserRoleBlocklogin" class="form-control">
                                            <option value="">Select User Role</option>
                                            <option value="Whitelabelmaster">Master Distributor</option>
                                            <option value="Whitelabeldealer">Distributor</option>
                                            <option value="Whitelabelretailer">Retailer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>All User's List</label>
                                    <div class="">
                                        <select class="form-control for-select2" id="block_login_User" name="block_login_User">
                                            <option value="" selected>Select User</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group blocklogin" style="display:none;">
                                    <div class="left">
                                        <img id="userimgs" src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User" />
                                    </div>
                                    <div class="right">
                                        <span>Firm:<label id="blockuserfrmname"></label></span>
                                        <span>Name:<label id="blockusername"></label></span>
                                        <span>Mobile No:<label id="blockloginmobile"></label></span>
                                        @*<span>Address:-<label id="blockaddress"></label></span>*@
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top:15px;text-align:center;">

                                    <p id="blockloginuser555" style="display:none;text-align: justify;">"Are you sure?" After submit, check for updated particular user status in blocked history.</p>
                                    @*<button type="button" id="fordistr" class="for-Distr">fcc</button>*@
                                    <button type="button" id="blockloginuser55" class="btn btnssl2233 special-iii button-third" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#555;margin-left:10px;">Block User</button>
                                    <button type="submit" id="blockloginuser" name="blockloginuser" class="btn btnssl2233 special-iii fullbodydycolorbg button-third-design" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="color:#fff;display:none;margin-left:10px;">Are You Sure ?</button>
                                    <button type="button" class="btn btnssl2233 special-iii button-third-design" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Cancel</button>
                                </div>
                            }
                        </div><!--#tab-3-->
                    </div>
                    <!-- web-just-bottom End -->
                </div><!--.Weblogin-left-->
            </div>

            <div class="col-md-8 col-sm-6 col-xs-12 padd-left">
                <div class="Weblogin-right oprindex-right">
                    <div class="justul">
                        <ul class="tabs2 tab-seconddesign tab-seconddesign-color tab-third-design" id="rightmenu">
                            <li class="tab-link current2" data-tab="tab-4">Success&nbsp;Login&nbsp;History</li>
                            <li class="tab-link" data-tab="tab-5">Failed&nbsp;Login&nbsp;History</li>
                            <li class="tab-link" data-tab="tab-6">Attempted&nbsp;Blocked&nbsp;History</li>
                        </ul>
                    </div>
                    <div id="tab-4" class="tab-content2 current2" style="background:var(--second-bg-color);">
                        <div class="tab-under-ul">
                            @using (Ajax.BeginForm("WebLoginFilter", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "webloginhis" }))
                            {
                                <ul class="weblogn-admin-firsttab">
                                    <li style="width: 12%;">
                                        @*<input type="text" placeholder="Search Login ID" />*@
                                        <div class="custom-district1">
                                            <select id="ddlRoleName" name="ddlRoleName" class="form-control" style="-webkit-appearance: none;">
                                                <option value="Whitelabel">Admin</option>
                                                <option value="Whitelabelmaster">Master Distributor</option>
                                                <option value="Whitelabeldealer">Distributor</option>
                                                <option value="Whitelabelretailer">Retailer</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="" style="width: 12%;">
                                        <select id="ddlfirmname" name="ddlfirmname" class="form-control for-select2" style="-webkit-appearance: none;">
                                            <option value="">Select User</option>
                                        </select>
                                    </li>
                                    <li class="" style="width: 12%;">
                                        <div class="custom-district1">
                                            <select id="ddlType" name="ddlType" class="form-control" style="-webkit-appearance: none;">
                                                <option value="">Select From</option>
                                                <option value="Web">Web</option>
                                                <option value="Apps">Apps</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li style="width: 18%;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control txt_frm_date", style = "border: 1px solid #bbb;", required = "required", autocomplete = "off" })
                                        </div>
                                    </li>
                                    <li style="width: 18%;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", style = "border: 1px solid #bbb;", required = "required", autocomplete = "off" })
                                        </div>
                                    </li>
                                    <li class="buttonsearch-second buttonsearch-second-color" style="width: 10%;">
                                        @*<input type="submit" id="btnwebuser" name="btnwebuser" value="Submit" />*@
                                        <button type="submit" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="background:#fff;width:84px;"><i class="fa fa-search" style="top:1px;font-size:16px;color:black;" aria-hidden="true"></i>&nbsp;Search</button>
                                    </li>
                                    <li style="width:15%;float:right;">
                                        <div class="white-l-search-nine pdfexpoer-second totalbutton-secondclas" style="width:100%;float:left;">

                                            <div class="web-white-filter fil" style="float: left;margin-right: 0px;width:auto;float:right;">
                                                <button type="button" id="btnPDFss" name="btnPDFss" value="PDF" style="padding: 0px 4px; padding-left: 4px; height: 32px; border: 1px solid #bbb;background: url(../../images/reportimage/pdf.png) no-repeat;background-position: 4px center; padding-left: 19px;background-color:#fff;">PDF</button>
                                                @*<input type="button" id="btnPDFss" name="btnPDFss" value="PDF" style="margin-left:2px; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);
                                                    background-repeat: no-repeat;
                                                    background-position: 4px center;
                                                    padding-left: 19px;width:49%;" />*@
                                            </div>
                                            @*<button class="white-success-button" style="float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;" onclick="findtotal()">Total</button>*@
                                        </div>
                                    </li>
                                </ul>
                            }
                            <table class="js-exportable">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--.tab-under-ul-->


                        <div class="right-under-table">
                            <div id="" class="table-responsive" style="height: 542px;">
                                <table id="WebLoginHistory" class="table table-bordered table-striped table-hover example-second third-design-table">
                                    <thead>

                                        <tr>
                                            <th>SR</th>
                                            <th>BY</th>
                                            <th>User&nbsp;Information</th>
                                            <th>Device&nbsp;&&nbsp;System&nbsp;Info</th>
                                            <th>Latitude&nbsp;/&nbsp;Longitude</th>
                                            <th>Login&nbsp;Time&nbsp;/&nbsp;Address</th>
                                        </tr>
                                    </thead>
                                    <tbody id="webloginhis">
                                        @Html.Partial("_WebLoginHistory", Model)
                                    </tbody>
                                </table>
                            </div>
                        </div><!--.right-under-table-->
                    </div><!--#tab-4-->
                    <div id="tab-5" class="tab-content2" style="background:var(--second-bg-color);">
                        <div class="tab-under-ul">
                            @using (Ajax.BeginForm("APPLoginFilter", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "APPloginhis" }))
                            {
                                <ul>
                                    <li style="width: 20%;">
                                        <div class="custom-district1">
                                            <select id="ddlAppRoleName" name="ddlAppRoleName" class="form-control" style="-webkit-appearance: none;">
                                                <option value="Admin">Admin</option>
                                                <option value="master">Master Distributor</option>
                                                <option value="Dealer">Distributor</option>
                                                <option value="Retailer">Retailer</option>
                                                <option value="API">API User</option>
                                            </select>
                                        </div>

                                        @*<input type="text" placeholder="Search Login ID" />*@
                                    </li>
                                    <li class="" style="width: 24%;">
                                        <select id="ddlAppfirmname" name="ddlAppfirmname" class="form-control for-select2" style="-webkit-appearance: none;">
                                            <option value="">Select User</option>
                                        </select>
                                    </li>
                                    <li class="" style="width: 18%;">
                                        <div class="custom-district1">
                                            <select id="ddlType1" name="ddlType1" class="form-control" style="-webkit-appearance: none;">
                                                <option value="">Select From</option>
                                                <option value="Web">Web</option>
                                                <option value="Apps">Apps</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li style="width: 18%;">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_APPfrm_date", "", new { @class = "form-control txt_frm_date", required = "required", style = "padding-left: 20px;", autocomplete = "off" })
                                        </div>
                                    </li>
                                    <li class="buttonsearch-second buttonsearch-second-color" style="width: 10%;">
                                        <button type="submit" class="btn special-iii btnssl2233" style="background:#fff;width:84px;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search" style="top:1px;font-size:16px;color:black;" aria-hidden="true"></i>&nbsp;Search</button>
                                    </li>
                                </ul>

                            }
                            <table class="js-exportable">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--.tab-under-ul-->
                        <div class="right-under-table">
                            <div class="table-responsive">
                                <table class="table table-bordered example-second">
                                    <thead>
                                        <tr>


                                            <th>SR</th>
                                            <th>BY</th>
                                            <th>User&nbsp;Information</th>
                                            <th>Device&nbsp;&&nbsp;System&nbsp;Info</th>
                                            <th>Latitude&nbsp;/&nbsp;Longitude</th>
                                            <th>Login&nbsp;Time&nbsp;/&nbsp;Address</th>
                                        </tr>
                                    </thead>

                                    <tbody id="APPloginhis">
                                        @Html.Partial("_Apploginhistory", Model)
                                    </tbody>

                                </table>
                            </div>
                        </div><!--.right-under-table-->
                    </div><!--#tab-5-->
                    <div id="tab-6" class="tab-content2" style="background:var(--second-bg-color);">
                        <div class="tab-under-ul">
                            @using (Ajax.BeginForm("AttemptBlockFilter", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "Attemptloginhis" }))
                            {
                                <ul>
                                    <li class="first custom-district1">
                                        <select id="ddlAttemptRoleName" name="ddlAttemptRoleName" class="form-control" style="-webkit-appearance: none;">
                                            <option value="">Select User Role</option>
                                            <option value="master">Master Distributor</option>
                                            <option value="Dealer">Distributor</option>
                                            <option value="Retailer">Retailer</option>
                                            <option value="Vendor">Seller</option>
                                            <option value="Admin">Admin</option>
                                            <option value="RCH">RCH User</option>
                                            <option value="API">API User</option>
                                            <option value="FeeCollector">Fee Collector</option>
                                            <option value="Whitelabel">White Label User</option>

                                        </select>

                                        @*<input type="text" placeholder="Search Login ID" />*@
                                    </li>
                                    <li class="" style="width: 30%;">
                                        <select name="ddlAttemptfirmname" id="ddlAttemptfirmname" class="form-control for-select2" style="-webkit-appearance: none;">
                                            <option value="">Select User</option>
                                        </select>
                                    </li>
                                    <li class="second">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_Attemptfrm_date", "", new { @class = "form-control txt_frm_date", required = "required", autocomplete = "off" })
                                        </div>
                                    </li>
                                    <li class="third buttonsearch-second buttonsearch-second-color">
                                        <button type="submit" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search" style="top:1px;font-size:16px;color:black;" aria-hidden="true"></i>&nbsp;Search</button>
                                    </li>
                                </ul>
                            }
                            <table class="js-exportable">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--.tab-under-ul-->
                        <div class="right-under-table">
                            <div class="table-responsive">
                                <table id="AttemptBlockhistory" class="table table-bordered example-second">
                                    <thead>
                                        <tr>
                                            <th>User&nbsp;Id</th>
                                            <th>Registered&nbsp;Number</th>
                                            <th>Registered&nbsp;Email</th>
                                            <th>Lock&nbsp;Out&nbsp;Date&nbsp;Time</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>
                                    <tbody id="Attemptloginhis">
                                        @Html.Partial("_AttemptBlockHistory", Model)
                                    </tbody>
                                </table>
                            </div>
                        </div><!--.right-under-table-->
                    </div><!--#tab-6-->
                </div><!--.Weblogin-right-->
                <div class="for-Distributor width100" style="display:none;">
                    <div class="for-un ">
                        <ul>
                            <li class="one">
                                <div class="custom-district1">
                                    <select id="DDLUserRole" name="DDLUserRole" class="form-control">

                                        <option value="">Select User Role</option>
                                        <option value="Whitelabelmaster">Master Distributor</option>
                                        <option value="Whitelabeldealer">Distributor</option>
                                        <option value="Whitelabelretailer">Retailer</option>
                                    </select>
                                </div>
                            </li>
                            <li class="two">
                                <div class="">
                                    <select id="DDLUSerlist" name="DDLUSerlist" class="form-control for-select2">
                                        <option>Select User</option>
                                    </select>
                                </div>
                            </li>
                            <li class="five" style="width:11%;">
                                <button type="button" id="btnusersearch" name="btnusersearch" class="btnssl22" style="background:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </li>

                            <li class="seven">
                                <button type="button" id="btnclocemodel" class="close-button" name="close"><i class="fa fa-times tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>

                    <div class="table-data" style="background:#f5f5f5;">
                        <div class="table-responsive" style="padding:0px 6px;">
                            <table class="table table-bordered" id="mytableblockuser" style="width:100%;">
                                <thead>

                                    <tr>
                                        <th>Name</th>
                                        <th>Firm Name</th>
                                        <th>Registered No.</th>
                                        <th>Action</th>
                                        @*<th>Action</th>*@
                                    </tr>

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--.for-Distributor-->






                <div class="for-Retailer width100" style="display:none;">

                    <div class="for-un">
                        <ul>
                            <li class="one">
                                @Html.DropDownList("retailerlist", Enumerable.Empty<SelectListItem>(), "Select Retailer", new { @class = "form-control border-0", data_live_search = "true", })

                            </li>
                            <li class="two">

                                <select id="Categorylist" name="Categorylist" class="form-control border-0">
                                    <option>Select Category</option>
                                </select>
                            </li>
                            <li class="three">
                                <select id="servicelist" name="servicelist" class="form-control border-0">
                                    <option>Select Service</option>
                                </select>

                            </li>


                            <li class="four">
                                <select id="Operatorlist" name="Operatorlist" class="form-control border-0">
                                    <option>Select Operator</option>
                                </select>
                            </li>

                            <li class="five">
                                <button type="button" id="btnsearch" name="btnsearch" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </li>

                            <li class="six">
                                <button type="button" onclick="btnunblockall('retailer')">Unblocked All User</button>
                            </li>
                            <li class="seven">
                                <button type="button" class="close-button" name="close"><i class="fa fa-times tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>


                    <div class="table-data">
                        <div class="table-responsive">
                            <table id="mytble" class="table table-bordered" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>RetailerName</th>
                                        <th>Frm_Name</th>
                                        <th>Operator_type</th>
                                        <th>operator_Name</th>
                                        <th>Action</th>
                                        <th>On Time Block</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <button type="button" class="close-button">Close</button>



                </div>



                <div class="for-White-Label width100" style="display:none;">
                    <div class="for-un">
                        <ul>
                            <li class="one">
                                <select id="Whitelabeluserlist" name="Whitelabeluserlist" class="form-control border-0">
                                    <option>Select WhiteLabel</option>
                                </select>
                            </li>
                            <li class="two">
                                <select id="WhitelabeluserCategorylist" name="WhitelabeluserCategorylist" class="form-control border-0">
                                    <option>Select Category </option>
                                </select>
                            </li>
                            <li class="three">
                                <select id="WhitelabeluserServicelist" name="WhitelabeluserServicelist" class="form-control border-0">
                                    <option>Select Service</option>
                                </select>
                            </li>
                            <li class="four">
                                <select id="whitelabeluserOperatorlist" name="whitelabeluserOperatorlist" class="form-control border-0" style="display:none">
                                    <option>Select Operator</option>
                                </select>
                            </li>
                            <li class="five">
                                <button type="button" name="btnsearchWhitelabel" id="btnsearchWhitelabel" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </li>
                            <li class="six">
                                <button type="button" onclick="btnunblockall('Whitelabel')">Unblocked All User</button>
                            </li>
                            <li class="seven">
                                <button type="button" class="close-button" name="close"><i class="fa fa-times tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="for-Api-User width100" style="display:none;">
                    <div class="for-un">
                        <ul>
                            <li class="one">
                                <select id="AAPIUSERlist" name="AAPIUSERlist" class="form-control border-0">
                                    <option>Select Dealer</option>
                                </select>
                            </li>
                            <li class="two">
                                <select id="AAPIUSERCategorylist" name="AAPIUSERCategorylist" class="form-control border-0">
                                    <option>Select Category</option>
                                </select>
                            </li>
                            <li class="three">
                                <select id="AAPIUSERServicelist" name="AAPIUSERServicelist" class="form-control border-0">
                                    <option>Select Service</option>
                                </select>
                            </li>
                            <li class="four">
                                <select id="APIUSEROperatorlist" name="APIUSEROperatorlist" class="form-control border-0" style="display:none">
                                    <option>Select Operator</option>
                                </select>
                            </li>
                            <li class="five">
                                <button type="button" name="search" id="btnsearchapiuser" class="btnssl22" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                    <i class="fa fa-search"></i>
                                    <span>Search</span>
                                </button>
                            </li>
                            <li class="six">
                                <button type="button" onclick="btnunblockall('ApiUSER')">Unblocked All User</button>
                            </li>
                            <li class="seven">
                                <button type="button" class="close-button" name="close"><i class="fa fa-times tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>

                    <div class="table-data">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="apiusertable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>API User Name</th>
                                        <th>Frm_Name</th>
                                        <th>Operator Type</th>
                                        <th>Operator Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--.row-->

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p id="location"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">ALL WEB SUCCESS LOGIN HISTORY&nbsp;></li>
                        </ol>
                    </div>

                    <div class="body" style="margin-top:-28px;padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;Id</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model.WLoginHistory)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.userid</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>@item.CurrentLoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<div class="high-security-popup" id="Email_Secu_myModal">
    <div class="high-input fullbodydycolorbg box-shadow-second">

        <div><i class="material-icons" style="top:2px; font-size:100px; color:white;">lock</i></div>
        <h3> High Security Password :-  </h3>
        <form>
            <div class="form-group">
                <input type="password" id="txtcode1" name="txtcode1" class="form-control" onkeyup="manages(this)" />-->
@*<center><p id="errormsg"></p></center>*@
<!--<span id="error" style="font-size:15px;width: 100%;float: left;color:#fff;"> </span>
            </div>
        </form>
        <button type="button" class="btn btn-default waves-effect btnssl special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" style="border-radius: 20px 0px 0px 20px;">
            <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                Back To Home
            </a>
        </button><button type="button" id="btSubmits" style="border-radius: 0px 20px 20px 0px;" class="btn btn-default waves-effect btnssl special-iii" onclick="showloader1()" data-loading-text="<i class='fa fa-spinner fa-spin'></i>" disabled>
            <center><i id="loaderfa" class=""></i></center>
            <span id="submitbtn">Proceed Now</span>
        </button>

        <div>
        </div>

    </div>
    <div class="isrbga"></div>
</div>-->
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!----------Chk high Security-->

<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    $('.for-select2').select2();


</script>
<script>

    @*$("#btnPDFss").click(function () {
        
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_APPto_date = $('#txt_APPto_date').val();
        var ddlRoleName = $('#ddlRoleName').val();
        var ddlfirmname = $('#ddlfirmname').val();
        var ddlType = $('#ddlType').val();

        var url = '@Url.Action("Web_Login_PDF_History", "Home")?txt_frm_date=' + txt_frm_date + '&txt_APPto_date=' + txt_APPto_date + '&ddlRoleName=' + ddlRoleName + '&ddlType=' + ddlType +& 'ddlfirmname=' + ddlfirmname;

    });*@

    $("#btnPDFss").click(function () {
        
        var txt_frm_date = $('#txtAPP_frm_date').val();
        var txt_APPto_date = $('#txt_APPto_date').val();
        var ddlRoleName = $('#ddlRoleName').val();
        var ddlfirmname = $('#ddlfirmname').val();
        var ddlType = $('#ddlType').val();

        var url = '@Url.Action("Web_Login_PDF_History", "Home")?txt_frm_date=' + txt_frm_date + '&txt_APPto_date=' + txt_APPto_date + '&ddlRoleName=' + ddlRoleName + '&ddlType=' + ddlType +'&ddlfirmname=' + ddlfirmname;
        window.open(url, '_blank');
    });
</script>


<script>
    $(function () {

        //  $("#Email_Secu_myModal").show();


    });
</script>
<script>
    $(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
        });


    function showloader1()
    {
        var txtcode1 = $("#txtcode1").val();

        if(txtcode1 !=null && txtcode1 !="")
        {
            $('#loaderfa').show();

            $.ajax({
                type: "POST",
                    dataType: 'json',
                data: { txtcode1: txtcode1 },
                url: "@Url.Action("Email_Secu_Pass", "Home")",
                success: function (response) {
                    $('#loaderfa').hide();
                    if (response == "Success")
                    {
                        //alert("ddd");
                        $("#Email_Secu_myModal").hide();

                    }
                    else
                    {
                        $('#error').text("* Wrong High Security Password!");
                    }

                }


        });
        }
        else {

            document.getElementById("errormsg").innerHTML = "Please Required Transaction Password";
        }

    }
</script>



<script>
    function RenivalId(userid)
    {
        
            $.ajax({
                type: "POST",
                url: '@Url.Action("Unlockuserid", "Home")',
                cache: false,
                dataType: 'json',
                data:{userid:userid},
                async: true,
                success: function (data) {
                    var sts = data.Status;
                    var message = data.Message;
                    if (sts == "Success") {







                        //swal({ title: "UnLock !", text: message, type: "success" },

                        //  );
                       }
                }
            });


         $.ajax({
                type: 'POST',
                             url: '@Url.Action("AttemptBlockFilter","Home")',
                             data: { txt_Attemptfrm_date: $('#txt_Attemptfrm_date').val(), ddlAttemptfirmname: $('#ddlAttemptfirmname').val() },
                 success: function (data) {


                     $('#AttemptBlockhistory tbody').html(data);
                },

            });


             @*$.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: {role:'master'},
                 success: function (data) {


                     $('#AttemptBlockhistory tbody').html(data);
                },

            });
            return true;*@

    }
</script>

<script>
    function viewlocation(Latitude, Logitude) {
        $.ajax({
            url: '@Url.Action("GetLoctaion", "Home")',
            type: 'GET',
            dataType: "html",
            data: { Latitude: Latitude, Logitude: Logitude },
            success: function (data) {


                $("#location").html(data);
                $("#myModal").modal('show');
            },
            error: function (data) {

            }
        });
        return true;
    }





    $('#btnclocemodel').click(function () {
         $(".OpertorIndex-page .for-Distributor").hide();


    })
    function tabopen(st) {
        if (st == "for-Distr") {
            $(".OpertorIndex-page .for-Distributor").show();

              $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:'master'},
             success: function (data) {

                  $('#DDLUSerlist').empty()
                   $('#DDLUSerlist').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#DDLUSerlist').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

            $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: {role:'Whitelabelmaster'},
             success: function (data) {
                     $('#mytableblockuser tbody').html(data);
                },

            });
        }
        else {
            $(".OpertorIndex-page .for-Distributor").hide();
        }
    }


    function success(data) {
        if (data == 1) {
            //swal("Good job!", "User has Been Block", "success");
            $("#DDLUserRole").val('Whitelabelmaster');
            $("#UserRoleBlocklogin").val('');
            $('#block_login_User').empty();
            $('.blocklogin').hide();
            $('#blockloginuser55').show();
            $('#blockloginuser555').hide();
        $('#blockloginuser').hide();
            tabopen('for-Distr')
             @*$.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: {role:'master'},
             success: function (data) {
                     $('#mytableblockuser tbody').html(data);
                },

            });*@
        }
        else {

            swal("Oops...", "Something Wrong", "error");
        }
    }



       $('#ddlAttemptRoleName').change(function () {
        role = $(this).val();
          $('#ddlAttemptfirmname').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

      $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role,type:'value1'},
             success: function (data) {

                  $('#ddlAttemptfirmname').empty()
                   $('#ddlAttemptfirmname').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#ddlAttemptfirmname').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });




    })

    $('#UserRoleBlocklogin').change(function () {
        role = $(this).val();
          $('#block_login_User').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

      $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role},
             success: function (data) {

                  $('#block_login_User').empty()
                   $('#block_login_User').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#block_login_User').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });




    })
    $('#block_login_User').change(function () {

        id = $(this).val();
        if (id == "" || id == null) {
            return false;
        }
      $.ajax({
                type: 'POST',
          url: '@Url.Action("FillUserInformation","Home")',
          data: { idno: id, role: $('#UserRoleBlocklogin').val() },
          success: function (data) {
              $('.blocklogin').show();
              $('#blockuserfrmname').text(data.firm)
                 $('#blockusername').text(data.name)
              $('#blockloginmobile').text(data.mobile)
              $('#blockaddress').text(data.Address)
              //$('#userimgs').attr('src', '\Retailer_image\"' + data.imgname + '"');
              if (data.imgname != null && data.imgname!="") {
                  $('#userimgs').attr('src', '../..' + data.imgname);
              }
              else {
                    $('#userimgs').attr('src','../../AdminDesign/images/user.png');
              }
             //  $('#userimgs').src = '/Retailer_image/' + data.imgname;
                },

            });


    })

    function ONCHANGE() {
                var role = $('#UserRole').val();
          $('#userslist').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

         $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role,type:$("input[name='group1']:checked").val()},
             success: function (data) {

                  $('#userslist').empty()
                   $('#userslist').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#userslist').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

    }

      $('#UserRoleonmobile').change(function () {

        var role = $(this).val();
          $('#userslistmob').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

         $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role,type:$("input[name='group1']:checked").val()},
             success: function (data) {

                  $('#userslistmob').empty()
                   $('#userslistmob').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#userslistmob').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

      })

      $('#ddlRoleName').change(function () {
          var role = $(this).val();
          $('#ddlfirmname').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')
          if (role == 'Whitelabel') {
              $('#ddlfirmname').empty();
              $('#ddlfirmname').closest('li').hide()
              return
          }
          $('#ddlfirmname').closest('li').show()
         $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role,type:'value1'},
             success: function (data) {

                  $('#ddlfirmname').empty()
                   $('#ddlfirmname').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#ddlfirmname').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

      })

       $('#ddlAppRoleName').change(function () {

        var role = $(this).val();
          $('#ddlAppfirmname').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

         $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role,type:'value1'},
             success: function (data) {

                  $('#ddlAppfirmname').empty()
                   $('#ddlAppfirmname').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#ddlAppfirmname').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

      })




      $('#userslistmob').change(function () {

          var role = $('#userslistmob').val();
          $('#txtoldmob').val(role)


      })


      $('#userslist').change(function () {

          var role = $('#userslist').val();
          $('#txtoldemail').val(role)


      })



//});
    $(function () {
        $('#ddlfirmname').closest('li').hide()
        $('#emailletter').submit(function (e) {
            e.preventDefault();
            $("#btnChangeemailmobile").text('Please Wait').html('<i class="fa fa-spinner fa-spin"></i >');
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Change_email_mobile","Account",new { Area = "" })',
                    data: { role: $('#UserRole').val(), oldemail: $('#txtoldemail').val(), newmail: $('#txtnewemail').val(), confirmOTP: $('#otpVeify').val() },
                success: function (data) {

                    if (data.msg === "OTP is incorrect or Expire") {
                        $("#confirmFirst").text('Please Wait').html('Submit');
                        $('#otpVeify').text('')
                        $('#errorshow').text(data.msg)
                        return true;
                    }
                    else {
                        $("#btnChangeemailmobile").text('Save Change');
                        swal(data.msg, data.error);
                        $('#UserRole').val('')
                        $('#userslist').val('')
                        $('#txtoldemail').val('')
                        $('#txtnewemail').val('')
                        $('#txtconfemail').val('')
                        $('#errorshow').text('')


                        $('#otpVeify').text('')
                        $('#confirmSubmit').hide();
                        $('#OTPCONF').hide();

                        window.location.href = '@Url.Action("WebLogin", "Home")';
                    }
                },

            });
             return false;
        })
    })

    function SendOTP() {
        //$('#emailletter').submit(function (e) {
            //e.preventDefault();
            $("#btnFirst").text('Please Wait').html('<i class="fa fa-spinner fa-spin"></i >');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("mailChangeOTP", "Home")',
                success: function (data) {
                    //**********************************
                    if (data === "Success") {
                        $('#confirmSubmit').show();
                        $('#OTPCONF').show();

                        $('#confirmFirst').hide();
                    }
                    else {
                        $('#errorshow').text('Something went wrong !!!')
                    }
                    //**********************************
                },

            });
             return false;


        //})
    }

    function SendmobileOTP() {
        //$('#emailletter').submit(function (e) {
            //e.preventDefault();

        $("#btnmobileFirst").text('Please Wait').html('<i class="fa fa-spinner fa-spin"></i >');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("mailChangeOTP", "Home")',
                success: function (data) {
                    
                    //**********************************
                    if (data === "Success") {
                        $('#confirmSmobileubmit').show();
                        $('#OTPmobileCONF').show();

                        $('#confirmmobileFirst').hide();
                    }
                    else {
                        $('#errorsshow').text('Something went wrong !!!')
                    }
                    //**********************************
                },

            });
             return false;


        //})
    }








     ///   The event handler can be bound to the first input field:
    $("#txtnewemail").blur(function () {
        var emails = $('#txtnewemail').val();
        var testEmail = /^[A-Z0-9._%+-]+@@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
       // var confirm = $('#txtconfemail').val();
        if (!testEmail.test(emails)) {

            $('#errorshow').html('<b>Not Valid Formate of Email </b>')
            $("#btnChangeemailmobile").prop('disabled', true);
        }
        else {
            $('#errorshow').text('');

            $("#txtconfemail").focus();
            $("#btnChangeemailmobile").prop('disabled', false);
        }

    });




    ///handle mobile validation digit


     $("#txtnewmob").blur(function () {
        var txtnewmob = $('#txtnewmob').val();
        var testmob = /^\d*(?:\.\d{1,2})?$/;
       // var confirm = $('#txtconfemail').val();
         if (txtnewmob.length == 10 && testmob.test(txtnewmob)) {
              $('#errorshowmob').text('');

            $("#txtcommob").focus();
             $("#btnchangemobile").prop('disabled', false);
         }
        else {

              $('#errorshowmob').html('<b> Mobile Formate Wrong </b>')
            $("#btnchangemobile").prop('disabled', true);
        }

});


    $(function () {
        $('#newsletter').submit(function (event) {
             event.preventDefault();
            $('#btnchangemobile').text('Please Wait').html('<i class="fa fa-spinner fa-spin"></i >');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Change_email_mobile","Account",new { Area = "" })',
                data: { role: $('#UserRoleonmobile').val(), oldmobile: $('#txtoldmob').val(), newmobile: $('#txtcommob').val(), confirmOTP: $('#otpmobileVeify').val() },
                success: function (data) {
                    //alert(data);
                    $('#btnchangemobile').text('Save Change');
                    $('#UserRoleonmobile').val('')
                    $('#userslistmob').val('')
                    $('#txtoldmob').val('')
                    $('#txtnewmob').val('')
                    $('#txtcommob').val('')
                    $('#errorshow').text('')
                    $('#OTPmobileCONF').hide();
                    $('#otpmobileVeify').text('');
                    $('#confirmmobileFirst').show();
                    $('#confirmSmobileubmit').hide();
                    swal(data.msg, data.error);

                },

            });

             return false;


        })
    })



     ///   The event handler can be bound to the first input field:
    $("#txtcommob").blur(function () {
         var mob = $('#txtnewmob').val();
        var confirm = $('#txtcommob').val();
        if (mob != confirm) {
             $('#errorshowmob').html('<b>The New Mobile and confirmation Mobile do not match </b>')
            $("#btnchangemobile").prop('disabled', true);
        }
        else {
            $('#errorshowmob').text('');

            $("#btnchangemobile").prop('disabled', false);
        }
 // alert( "Handler for .blur() called." );
});



 ///   The event handler can be bound to the first input field:
    $("#txtconfemail").blur(function () {
         var emails = $('#txtnewemail').val();
        var confirm = $('#txtconfemail').val();
        if (emails != confirm) {
             $('#errorshowmob').html('<b>The password and confirmation password do not match </b>')
            $("#btnChangeemailmobile").prop('disabled', true);
        }
        else {
            $('#errorshowmob').text('');

            $("#btnChangeemailmobile").prop('disabled', false);
        }
 // alert( "Handler for .blur() called." );
});

    function SecurityChange() {

         $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeSecuritySetting","Home")',
                success: function (data) {
                 $('#Statussetting').html(data)


                },

            });

    }



    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date,.txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date,.txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>
<script>
    $("input[type='radio']").change(function () {
        if ($(this).val() == "ChangeMobile") {
            $('#for-mobile-no').show();
            $('#UserRole').val('')
            $('#userslist').val('')
            $('#txtoldemail').val('')
            $('#txtnewemail').val('')
            $('#txtconfemail').val('')
            $('#errorshow').text('')
            $('#for-email-id').hide();
        } else {
            $('#for-mobile-no').hide();
            $('#UserRoleonmobile').val('')
            $('#userslistmob').val('')
            $('#txtoldmob').val('')
            $('#txtnewmob').val('')
            $('#txtcommob').val('')
            $('#errorshow').text('')
            $('#for-email-id').show();
        }
    });
</script>
<script>
    var loginUser = document.getElementById('block_login_User');
    $(loginUser).change(function () {
        if ($(this).val() != "") {
            $('.blocklogin').show();
        } else {
            $('.blocklogin').hide();
        }
    });
</script>
<!-----------sasdsadsdfd----------------------->

<script>
    function StatusActive(id) {
         $.ajax({
             type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: { role: $('#DDLUserRole').val(), userlist: $('#DDLUSerlist').val(), userid: id },
             success: function (data) {
                     $('#mytableblockuser tbody').html(data);
                },

            });
    }



    $('#DDLUSerlist').change(function () {
    var role=    $('#DDLUserRole').val();
       var userlist=  $(this).val()
        $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: {role:role,userlist:userlist},
             success: function (data) {
                     $('#mytableblockuser tbody').html(data);
                },

            });



    })

    $('#DDLUserRole').change(function () {
        role = $(this).val();
          $('#DDLUSerlist').append('<option selected="selected" value="" disabled = "disabled">Loading.....</option>')

      $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersList","Home")',
             data: {role:role},
             success: function (data) {

                  $('#DDLUSerlist').empty()
                   $('#DDLUSerlist').append('<option selected="selected" value="">Please select User</option>');
                 $.each(data, function (data, item) {
                     $('#DDLUSerlist').append($('<option></option>').text(item.Text).val(item.Value));
                 })

                },

            });

         $.ajax({
                type: 'POST',
             url: '@Url.Action("FillUsersBaseOnRole","Home")',
             data: {role:role},
             success: function (data) {
                     $('#mytableblockuser tbody').html(data);
                },

            });



    })


</script>
<script>
    $('#blockloginuser55').click(function () {
        $(this).hide();
        $('#blockloginuser').show();
        $('#blockloginuser555').show();
    });
</script>


<script>
    $(function () {
        $('.second-design .example-second').DataTable({


            paging: false
        });
    });

</script>