
@{
    ViewBag.Title = "White_Outer_Color";
    Layout = "~/Areas/WHITELABEL/Views/Shared/Main.cshtml";
}
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }

        .scroll::-webkit-scrollbar {
            width: 4px;
        }

        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <div class="row clearfix">

                    <div class="card">
                        <div class="body scroll" style="max-height:572px;">
                            <div class="demo-button ">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Partial("ColorPartialView")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-10">
                
                <div>
                    <div style=" margin-bottom:30px;">
                        <div class="card">
                            <div class="">
                                <h2 style="color:white; font-size:16px;padding-top:11px; padding-left:22px;padding-bottom:9px;background:linear-gradient(to right,@ViewData["first"],@ViewData["second"]);">
                                    OUTSIDE HOME HEADER COLOR
                                </h2>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group for-color-border">
                                            <div>
                                                <div class="w-color-pick-second">
                                                    <div class="colorpicker-element" style="background:#dddddd;width:60%;float:left;  color:#000000b8;border:5px solid #dddddd;border-radius:0px;">
                                                        <label>&nbsp;HEX CODE&nbsp;</label> <input type="color" id="color1" value="#ff0000">
                                                    </div>
                                                </div>
                                                <div class="w-color-pick">
                                                    <input type="text" id="txtcolor" name="txtcolor" class="form-control" autocomplete="off" style="border:5px solid #dddddd;padding-left:9px; height:44px;">
                                                </div>
                                                <div class="w-color-pick-one">
                                                    <div class="" style="padding-top:0px;">
                                                        <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style="border-radius:0px;width:100%;padding: 10px;">&nbsp;Save Color</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group for-color-border">
                                            <div>
                                                <div class=" w-color-pick-second">
                                                    <div class=" colorpicker-element" style="background:#dddddd;width:60%;float:left; color:#000000b8;border:5px solid #dddddd;border-radius:0px;">
                                                        <label>&nbsp;RGB CODE&nbsp;</label> <input type="color" id="color2" value="#ff0000">
                                                    </div>
                                                </div>
                                                <div class="w-color-pick">
                                                    <input type="text" id="txtcolor1" name="txtcolor1" class="form-control" autocomplete="off" style="border:5px solid #dddddd;padding-left:9px; height:44px;">
                                                </div>
                                                <div class="w-color-pick-one">
                                                    <div class="" style="padding:0px;">
                                                        <button type="button" id="btn" onclick="fun()" class="btn  waves-effect" style=" border-radius:0px;width:100%;padding: 10px;">&nbsp;Save Color</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <br />
                                        <button type="button" id="btn" class="btn w-delet" style=" border: 1px solid #c7c2c2;background:#f0f0f0;float: right;margin-top: -19px;padding: 24px 16px;"><span style="font-size: 40px;display: block; line-height:40px;margin-bottom: 10px;">Apply</span> For Website</button>
                                        <button type="button" id="btn" name="btnsave" onclick="Savecolor()" class="btn w-sure " style="display:none;border: 1px solid #c7c2c2;background:#f0f0f0;float: right;margin-top: -19px;padding: 24px 16px;"><span style="font-size: 40px;display: block; margin-bottom: 10px;color:red;">Sure?</span> </button>

                                    </div>
                                </div>
                                <div>
                                    <div class="white-label-note">
                                        <h2 style="border-bottom:1px solid @ViewData["first"];">Important Note</h2>
                                        <ul>
                                            <li>The color you set here will be on the entire website.</li>
                                            <li>Do not change colors frequently, it uses database.</li>
                                            <li>When adding color, make sure the text on your website is displayed correctly, otherwise customers will have problems.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/css/sp.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>

 
 
<script>
    $('.w-delet').click(function () {
        $(this).css('display', 'none');
        $(this).next('.w-sure').css('display','block')

    });
</script>
<script>
            function val() {
                var vv = document.querySelector('input[name="group"]:checked').value;
                var url = '@Url.Action("Outercolorchange", "Home")?color=' + vv + '';
                location.href = url;
            }
</script>

<script>
    window.onload = function () {
        var insidecol = '@ViewBag.insidecolor'
        if (insidecol != "" && insidecol != null)
        {
            $('input:radio[name="group"][value=' + insidecol + ']').prop('checked', true);
        }

        var first = '@ViewData["first"]';
        var second = '@ViewData["second"]';
        if (first != "" && second != "")
        {
             $("#color1").val(first);
             $("#color2").val(second);
             $("#txtcolor").val(first);
             $("#txtcolor1").val(second);
        }


        var color = '@TempData["default"]'
        $('input:radio[name="group"][value=' + color + ']').prop('checked', true);
    }

    var succ = '@TempData["success"]';
    if (succ != null && succ != "") {
        if (succ.includes("Sucessfully")) {
            //swal("Good job!", succ, "success");
        }
        else {
            //swal("Oops!", succ, "error");
        }
    }
</script>

<script>
    function updateColor(element, color) {
        var hexColor = '@ViewData["first"]';
        if (color) hexColor = color.toHexString();
        $(element).css("color", hexColor);
        alert(hexColor);
    }
</script>



<script>
    function fun() {
        var col = document.getElementById("color1").value;
        $("#txtcolor").val(col);
        var col = document.getElementById("color2").value;
        $("#txtcolor1").val(col);
    }
</script>
<script>
    function Savecolor() {
        var vv = $("#txtcolor").val();
        var col = $("#txtcolor1").val();
        vv = vv.replace('#', "");
        col = col.replace('#', "");
        var url = '@Url.Action("Outercolorchange", "Home")?first=' + vv + '&second='+ col + '';
        location.href = url;
    }
</script>



