@model Vastwebmulti.Areas.RETAILER.Models.DthConMenuVM
@using Microsoft.AspNet.Identity
@using Vastwebmulti.Models;
<section>
    @{
        var userid = User.Identity.GetUserId();
        var comnyname = "";
        VastwebmultiEntities DB = new VastwebmultiEntities();
        var companyname = DB.tblContects.ToList();
        if (companyname.Count > 0)
        {
            comnyname = companyname.FirstOrDefault().CompnayName;
            ViewBag.companyname = comnyname;
        }
        else
        {
            comnyname = "";
        }
       
    }
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu navbar" style="position:initial;">
            <ul class="list">
                @if (Model != null)
                {
                    <li class="header" id="Catagories_li" style="cursor: pointer; font-size:18px; background-color:white;">All Catagories</li>
                    foreach (var catagory in Model.lstCatagory)
                    {
                        <li>
                            <a href="javascript:void(0);" onclick="GetPlanListByOperatorID('@catagory.CatID')" class="menu-toggle">
                           <span style="color:white; text-transform:uppercase;">@catagory.CatName</span>
                            </a>
                            <ul class="ml-menu">
                                @foreach (var subcatagory in Model.subCata.ToList())
                                {
                                    <li>
                                        <a href="javascript:void(0);" onclick="getProductBySetTopBoxID('@catagory.CatID',@subcatagory.SubcatID)">
                                            <span style="color:white; text-transform:uppercase;">@subcatagory.SubCatagoryName</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                }
               
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright" style="margin-top:-4px;">
                Copyright&nbsp;&nbsp;2017 - <span>@DateTime.Now.Year.ToString()</span>
            </div>
            <div class="copyright">
                <a href="javascript:void(0);">@comnyname</a>.
            </div>
            <div class="navbar" style="position:inherit;margin-top:52px; height:33px;">

            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>
