@model IEnumerable<Vastwebmulti.Models.DTHConnection_Report_New_Result>
@{
    ViewBag.Title = "DthBookingReport";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<section class="content" style="margin:90px 0px 0px 0px;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @using (Html.BeginForm("DthBookingReport", "DthConnection", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-2">
                                <div class="form-line" style="margin-top:6px;border:1px solid #dddddd;margin-left:-9px;width:109%;padding-bottom:10px;">
                                    @Html.DropDownList("ddl_top", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="TOP 50",Value="50"},
                           new SelectListItem{Text="TOP 100",Value="100"},
                           new SelectListItem{Text="TOP 200",Value="200"},
                           new SelectListItem{Text="TOP 500",Value="500"},
                           new SelectListItem{Text="TOP 1500",Value="1500"},
                           new SelectListItem{Text="All Entry",Value="All"}
                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-line" style="margin-top:6px;border:1px solid #dddddd;margin-left:-12px;width:108%;padding-bottom:10px;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="Status",},
                        new SelectListItem{Text="Success",Value="Success"},
                        new SelectListItem{Text="Failed",Value="Failed"},
                         new SelectListItem{Text="Pending",Value="Pending"},
                        }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:32px;" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;margin-left:-10px;width:108%;margin-top:2px;">
                                    <div>
                                        <div class="input-daterange input-group">
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <center>
                                    <button type="submit" class="btn" style="margin-top: 6px; margin-left: -69px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>

                            <div class="col-md-3">
                                <div class="row">
                                    <div class="form-group" style="margin-top:-17px; margin-left:-14px;">
                                        <div style="padding-top: 22px;  padding-left: 10px; float:right;">
                                            <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                                            <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-26px;">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:9px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">DTH Connection Report&nbsp;></li>
                        </ol>
                    </div>
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-50px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Customer&nbsp;Id</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Customer&nbsp;Name</th>
                                        <th>Customer&nbsp;Email</th>
                                        <th>Customer&nbsp;Mobile</th>
                                        <th>Address</th>
                                        <th>DTH&nbsp;Title</th>
                                        <th>Dth&nbsp;Plan&nbsp;Name</th>
                                        <th>Operator&nbsp;Code</th>
                                        <th>Operator&nbsp;Name</th>
                                        <th>Rch_time</th>
                                        <th>Resp_time</th>
                                        <th>Dth&nbsp;Box&nbsp;Type</th>
                                        <th>Dth&nbsp;Box&nbsp;Type&nbsp;Name</th>
                                        <th>Retailer&nbsp;Pre</th>
                                        <th>Retailer&nbsp;Post</th>
                                        <th>Retailer&nbsp;Comm</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            var color = "";
                                            var sts = "";
                                            var fontweight = "";
                                            if (item.Status.Contains("Success"))
                                            {
                                                color = "green";
                                                fontweight = "700";
                                                sts = item.Status;

                                            }
                                            if (item.Status.Contains("Refund"))
                                            {
                                                color = "red";
                                                fontweight = "700";
                                                sts = item.Status;
                                            }
                                            if (item.Status.Contains("Failed"))
                                            {
                                                color = "red";
                                                fontweight = "700";
                                                sts = item.Status;
                                            }
                                            if (item.Status.Contains("Pending"))
                                            {
                                                color = "#ff9600";
                                                fontweight = "700";
                                                sts = item.Status;

                                            }
                                            <tr>
                                                <td>
                                                    @if (item.Frm_Name != null)
                                                    {
                                                        <p>@item.Frm_Name</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.Email</p>
                                                    }
                                                </td>
                                                <td><p style="font-size:13px;text-transform:uppercase;"><span style="color:@color;">@sts</span>&nbsp;</p></td>
                                                <td>@item.Amount</td>
                                                <td>@item.CustomerName</td>
                                                <td>@item.CustomerEmail</td>
                                                <td>@item.CustomerMobile</td>
                                                <td>@item.Address</td>
                                                <td>@item.DTHTitle</td>
                                                <td>@item.Dthplanname</td>
                                                <td>@item.optcode</td>
                                                <td>@item.optname</td>
                                                <td>@item.Rch_time</td>
                                                <td>@item.Resp_time</td>
                                                <td>@item.DthBoxtype</td>
                                                <td>@item.DthBoxtypename</td>
                                                <td>@item.RetailerPre</td>
                                                <td>@item.RetailerPost</td>
                                                <td>@item.Rem_comm</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
-------------------------------------------------------------------------------------------------

<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>
