
@{
    ViewBag.Title = "ProcessToPay";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<section class="content" style="margin:90px 0px 0px 0px; overflow-x:hidden;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                @using (Html.BeginForm("ProcessToPayFinal", "DthConnection", FormMethod.Post, new { encType = "multipart/form-data" }))
                {
                    <input type="hidden" id="idno" name="idno" value="@ViewBag.PlanData.Id">
                    <div class="card">
                        <div class="header" style="padding:10px;">
                            <h2>
                                <center>
                                    <span style="font-size:21px;"></span> CHECKOUT
                                </center>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="body">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <label for="email_address" class="required">Name</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #ddd;">
                                                    @Html.TextBox("txtname", "", new { @class = "form-control", placeholder = "Enter Name", required = "required" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <label for="setbox" class="required">Email-Id</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #ddd;">
                                                    @Html.TextBox("txtEmail", "", new { @class = "form-control", placeholder = "Enter Email-Id", required = "required", type = "email" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <label for="package" class="required">Contact Number</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #ddd;">
                                                    @Html.TextBox("txtmobile", "", new { @class = "form-control", placeholder = "Enter Contact No", required = "required", maxlength = "10" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <label for="address" class="required">Pincode</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #ddd;">
                                                    @Html.TextBox("txtpincode", "", new { @class = "form-control", placeholder = "Enter Pincode", required = "required", maxlength = "6" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <label for="mobileno" class="required">State </label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    @Html.DropDownList("State1", (IEnumerable<SelectListItem>)ViewBag.state, "Select State", new { @class = "selectpicker form-control", data_live_search = "true", @style = "text-align:center;", required = "required" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="District" class="required">District</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #dddddd;">
                                                    <select id="District1" name="District1" class="form-control show-tick" required="">
                                                        <option>
                                                            Select District
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <label for="fullname" class="required">Full Address</label>
                                            <div class="form-group" style="margin-bottom:0px;">
                                                <div class="" style="border:1px solid #ddd;">
                                                    @Html.TextArea("txtAddress", "", new { @class = "form-control", placeholder = "Enter Your Address", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                                <span style="top:-2px;color:black;">Save Change</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul style="list-style:decimal; font-size:20px;">
                                        <li>
                                            <p style="font-size:20px;"><b>Title :- @ViewBag.PlanData.Title</b></p>
                                        </li>
                                        <br />
                                        <li>
                                            <p style="font-size:20px;"><b>Price :- @ViewBag.PlanData.OfferePrice</b></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Add State dropdown list-->
<script language="javascript" type="text/javascript">
                    $(function () {
                        $('#State1').change(function () {
                            // alert('Value:' + ' ' + $('#State1').val())
                            var stid = $('#State1').val()
                            if (stid === "") {
                                stid = 0;
                                //alert(stid)
                            }
                            else {
                                //alert(stid)
                                GetDistrict(stid)
                            }
                            function GetDistrict(_stateId) {
                                var procemessage = "<option value='0'> Please wait...</option>";
                                $("#District1").html(procemessage).show();
                                var url = '@Url.Action("DistrictList", "DthConnection")'
                                $.ajax({
                                    url: url,
                                    data: { Id: _stateId },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value='0'>Select District</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        $("#District1").html(markup).show();
                                    },
                                    error: function (reponse) {
                                        alert("error : " + reponse);
                                    }
                                });
                            }
                        });
                    })
</script>