@model Vastwebmulti.Models.proc_DthPlanList_Result
@{
    ViewBag.Title = "Plan details";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<link href="~/AdminDesign/Retailerimagezoom/flexslider.css" rel="stylesheet" />
<style>
    .scroll {
        width: 100%;
        max-height: 530px;
        overflow: auto;
    }
        .scroll::-webkit-scrollbar {
            width: 2px;
        }
        .scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }
        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
</style>
<link href="~/CSS/PageCss/ProductView.css" rel="stylesheet" />
<section class="content" style="margin: 75px 0px 0 0px;">
    <!-- Product Detailed Description-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    <div class="">
                        <div class="col-md-3">
                            <div class="form-group" style="margin-top:6px;margin-bottom:0px;">
                                <p style="font-size:20px;padding-left:10px;">Product Description &nbsp;🡇</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:-20px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 single-right-left ">
                            <div class="grid images_3_of_2" style="height:460px;">
                                <div class="flexslider">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1311px, 0px, 0px);">
                                            <li data-thumb="@Url.Content(Model.Photo)" class="clone" aria-hidden="true" style="width: 437px; float: left; display: block;">
                                                <div class="thumb-image">
                                                    <img src="@Url.Content(Model.Photo)" data-imagezoom="true" class="img-responsive" alt="" draggable="false">
                                                </div>
                                            </li>
                                            <li data-thumb="@Url.Content(Model.Photo)" style="width: 437px; float: left; display: block;" class="">
                                                <div class="thumb-image">
                                                    <img src="@Url.Content(Model.Photo)" data-imagezoom="true" class="img-responsive" alt="" draggable="false">
                                                </div>
                                            </li>
                                            <li data-thumb="@Url.Content(Model.Photo)" class="" style="width: 437px; float: left; display: block;">
                                                <div class="thumb-image">
                                                    <img src="@Url.Content(Model.Photo)" data-imagezoom="true" class="img-responsive" alt="" draggable="false">
                                                </div>
                                            </li>
                                            <li data-thumb="@Url.Content(Model.Photo)" class="flex-active-slide" style="width: 437px; float: left; display: block;">
                                                <div class="thumb-image">
                                                    <img src="@Url.Content(Model.Photo)" data-imagezoom="true" class="img-responsive" alt="" draggable="false">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                            <div class="" style="min-height:528px;border:1px solid #0000001f;">
                                <div id="" class="body scroll">
                                    <h3 style="color:#212121; font-size:23px;font-weight:400;">@Model.Title</h3>
                                    <p style="font-family:Roboto, Arial, sans-serif;color:#212121;">@Model.PlanName </p>
                                    <span style="text-decoration:line-through;color:#0000008f;">
                                        MRP : ₹&nbsp;@Model.PublishePrice
                                    </span>
                                    <br />
                                    <small>
                                        <span style="color:#212121;">PRICE : ₹&nbsp;</span><span style="color:black;font-weight:700;">@Model.OfferePrice</span>
                                    </small>
                                    <br />

                                    <hr style="border-top:1px solid #eeeeee4d;" />
                                    <span style="color:#212121d9; font-family:Roboto, Arial, sans-serif; font-weight:500;">
                                        @*@Html.Raw(Model.Specification)*@
                                        @{ var specifications = Model.Specification.Split(',');}
                                        @foreach (var item in specifications)
                                        {
                                            <img src="~/images/checkmark.png" class="img-responsive" style="height:20px;width:20px;margin-left:-14px;" />
                                            <p style="margin-left:13px;margin-top:-29px;line-height:29px;">@item</p>
                                        }
                                    </span>
                                    <br />
                                    @*<p style="color:#212121; font-family:Roboto, Arial, sans-serif;">
                                            Vendor: This Product is Filled And Soled By
                                            <a href="javascript:void(0);" style="color:#0035f7;">@ViewBag.Vendor.Firmname</a>
                                        </p>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                @using (Html.BeginForm("ProcessToPay", "DthConnection", FormMethod.Get))
                                                {

                                                    <input type="hidden" name="Dthid" value="@Model.Id" />
                                                    <button type="submit" id="pay" class="btn bg-grey waves-effect" style="margin-top:-1px;margin-left:58px;" onclick="if (!confirm('Are you sure you want to pay this order?')) { return false }">
                                                        <i class="material-icons">offline_bolt</i>
                                                        <span style="top:-1px;color:black;">BUY NOW</span>
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END-->
</section>

@Html.Partial("Loder")
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/Retailerimagezoom/imagezoom.js"></script>
<script src="~/AdminDesign/Retailerimagezoom/jquery.magnific-popup.js"></script>
<script src="~/AdminDesign/Retailerimagezoom/move-top.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $(function () {

    });
</script>