@model List<Vastwebmulti.Models.proc_BusReport_Result>
@{
    Layout = null;
}


@if (Model != null)
{
    foreach (var item in Model)
    {
        var sts = "";
        var color = "";
        var icon = "";
        if (item.Status.Contains("Pending") || item.TicketStatus.Contains("Proccessed"))
        {
           
            sts = "Pending";
            icon = "../../ashok-images/clock.svg";
        }
        if (item.Status.Contains("Success"))
        {
            color = "green";
            sts = "Success";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.Status.ToUpper().Contains("FAILED"))
        {
            color = "red";
            sts = "Failed";
            icon = "../../ashok-images/closes.svg";
        }
        if (item.Status.Contains("Refund"))
        {
            color = "#9C27B0";
            sts = "Refund";
            icon = "../../ashok-images/closes.svg";
        }
    <tr>
        <td >
            <p>
                <img style="height: 18px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />
                @item.Frm_Name
            </p>
        </td>


        <td >@Html.DisplayFor(modelItem => item.TicketStatus)</td>
        <td>@Html.DisplayFor(modelItem => item.PassengerName)</td>
        <td>@Html.DisplayFor(modelItem => item.TicketNo)</td>

        <td>@Html.DisplayFor(modelItem => item.PNR)</td>
        <td>@Html.DisplayFor(modelItem => item.totalseat)</td>
        <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>

        <td>@Html.DisplayFor(modelItem => item.RemInc)</td>
        <td>@item.MdPre</td>
        <td>@item.MdInc</td>
        <td>@item.MdPost</td>

        <td>@item.DlmInc</td>


        <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
        <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>


    </tr>

    }
}