@model List<Vastwebmulti.Models.proc_HotelReport_Result>
@{

    Layout = null;
}

@if (Model != null)
{

    foreach (var item in Model)
    {
        var sts = "";
        var color = "";
        var icon = "";
        if (item.TicketStatus.Contains("Pending") || item.TicketStatus.Contains("Proccessed"))
        {
         
            sts = "Pending";
            color = "#ff9800";
            icon = "../../ashok-images/clkk.png";
        }
        if (item.TicketStatus.Contains("Success"))
        {
            color = "green";
            sts = "Success";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.TicketStatus.ToUpper().Contains("FAILED"))
        {
            color = "red";
            sts = "Failed";
            icon = "../../ashok-images/closes.svg";
        }
        if (item.TicketStatus.Contains("Refund"))
        {
            color = "#9C27B0";
            sts = "Refund";
            icon = "../../ashok-images/closes.svg";
        }
    <tr>
        <td>
            <p>
                <img style="height: 20px;width: 18px;margin-right:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />


                @item.Frm_Name
            </p>
        </td>



        <td>@item.HotelName</td>
        <td>@item.NoOfRooms</td>
        <td>@item.totalOfferedFare</td>
        <td>@item.BookingId</td>

        <td>@item.reminc</td>
        <td>@item.masterpre</td>
        <td>@item.masterinc</td>
        <td>@item.masterpost</td>

        <td>@item.dlminc</td>


        <td>@String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.ticketdate) </td>
    </tr>

    }
}