@model List<Vastwebmulti.Models.PAN_CARD_IPAY_Token_report_paging_Result>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        var sts = "";
        var color = "";
        var icon = "";
        if (item.Particulars.Contains("Pending"))
        {
            color = "#ff9600";
            sts = "Pending";
            icon = "../../ashok-images/clkk.png";
        }
        if (item.Particulars.Contains("Success"))
        {
            color = "green";
            sts = "Success";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.Particulars.Contains("Failed"))
        {
            color = "red";
           
            icon = "../../ashok-images/closes.svg";
        }
        if (item.Particulars.Contains("Refund"))
        {
            color = "#9C27B0";
            sts = "Refund";
            icon = "../../ashok-images/closes.svg";

        }
    <tr style="color: black;font-size:12px;text-transform: capitalize;">
        <td>
            <p>

                <img style="height: 20px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />
                @item.Frm_Name
            </p>
        </td>

        <td><p>@item.PhysicalCount</p></td>
        <td><p>@item.DigitalCount</p></td>
        <td><p>@item.ProcessingFees</p></td>
        <td><p>@item.CouponStatus</p></td>

        <td><p>@item.UTI_TXN_ID</p></td>
        <td><p>@item.retailer_remain_pre</p></td>
        <td><p>@item.RetailerIncome</p></td>
        <td><p>@item.retailer_remain_post</p></td>
        <td><p>@item.retailer_master_pre</p></td>
        <td><p>@item.MDIncome</p></td>
        <td><p>@item.retailer_master_post</p></td>
        <td><p>@item.DealerIncome</p></td>

        <td><p>@item.Date</p></td>
    </tr>

    }
}