@model List<Vastwebmulti.Models.Master_token_select_Result>
@{
    Layout = null;
}
@if (Model != null)
{


    foreach (var item in Model)
    {

        var rol = "";

        if (item.role == "Self")
        {
            rol = "By Self";
        }
        if (item.role == null)
        {
            rol = "By Administrator";

        }
        <tr>
            <td>
                @rol
            </td>
            <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
            <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
            <td>@Html.DisplayFor(modelItem => item.MasterPre)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
            <td>@Html.DisplayFor(modelItem => item.MasterPost)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
        </tr>




    }
}

