@model IEnumerable<Vastwebmulti.Models.bank_info>
@{
    ViewBag.Title = "Actual_Master_income";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .toast-top-right1 {
        top: 65px;
        left: 81%;
    }
    .actualmaster-first ul li {font-size: 14px;color: #fff;font-weight: bold;}
    .actualmaster-first ul {padding: 5px 0;}
    .actualmaster-first ul li img {margin-right: 5px;margin-top: -4px;}
    .actualmaster-first .left-first-tabs {background: #f5f5f5;}
    .actualmaster-first .left-first-tabs .select2 span.select2-selection {border-radius: 0px;height: 32px;border-color: #ccc;}
    .actualmaster-first .modal-footer button {background: #ddd;height: 34px !important;font-size: 14px !important;}

    .actualmaster-form .col-md-12 {
        margin-bottom: 10px;
    }

    @@media screen and (max-width:1366px){
        .rowresponsivemastermargin {margin:0px;margin-top:15px;}
    }
    @@media screen and (max-width:992px) {
        .padding-master .col-md-12 {padding: 0px;margin-top: 10px !important;width: 100%;float: left;}
        .padding-master {padding-left: 0px;}
        .table-responsive table {border: 1px solid #aaa4a4 !important;}
        .actualmaster-first {padding: 0px;margin-bottom: 20px;width:100%;float:left;}
        .actualmaster-first ~ .col-md-8 {width: 100%;float: left;padding: 0;}
        .actualmaster-first .col-md-6 {width: 100%;float: left;padding: 0;}
        .actualmaster-first .left-four-tabs {padding: 0 10px;}
        .actualmaster-first ~ .col-md-8 #Masterlistupdate {height: auto !important;}
    }

</style>
<section class="content">
    <div class="container-fluid padding-master">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Actual Master Income</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Add Bank Account</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->

        <div class="row clearfix rowresponsivemastermargin">
            <div class="col-md-4 col-sm-4 col-xs-12 actualmaster-first">
                <div class="left-first-tabs width100 float-left dealer-box-back-four" style="height:80vh;overflow-y: auto;">
                    <ul class="tabs width100 float-left fullbodydycolorbg" style="text-align:center;">
                        <li class="tab-link current" data-tab="tab-5"><img src="~/images/reportimage/add-user-button.svg" alt="add user" class="create-add-image">Add Bank&nbsp;Details</li>

                    </ul>
                    <div id="tab-5" class="tab-content current">
                        <div class="left-four-tabs width100 float-left actualmaster-form">

                            @using (Html.BeginForm("Insert_bankinfo", "Home", FormMethod.Post))
                            {
                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Bank Name

                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.DropDownList("txtbanknm", (IEnumerable<SelectListItem>)ViewBag.BankList, "Select Bank Name", new { @class = "form-control", @style = "border-radius:none;display:block;", required = "required", })


                                                @*@Html.DropDownList("txtbanknm", @ViewBag.BankList as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true", @onchange = "bankChange()" })*@

                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            IFSC Code

                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtifsc", "", new { @class = "form-control", placeholder = "Enter IFSC Code", @style = "text-transform:uppercase", required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->

                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Account Number

                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtacno", "", new { @class = "form-control", placeholder = "Enter Account Number", @style = "text-transform:uppercase", required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                </div><!--.row-->
                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label for="email_address_2">
                                            Account Holder Name

                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtname", "", new { @class = "form-control", placeholder = "Enter Account Holder Name", @style = "text-transform:uppercase", required = "required" })

                                            </div>
                                        </div>
                                    </div>

                                </div><!--.row-->

                                <div class="col-md-12" style="padding:0px;">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">Account Type</label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtacctype", "", new { @class = "form-control", placeholder = "Enter Account Type", @style = "text-transform:uppercase", required = "required" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 col">
                                        <label for="email_address_2">
                                            Branch Name

                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtbranchnm", "", new { @class = "form-control", placeholder = "Enter Branch Name", @style = "text-transform:uppercase", required = "required" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                        <label for="email_address_2">
                                            Address
                                        </label>
                                        <div>
                                            <div class="">
                                                @Html.TextBox("txtaddress", "", new { @class = "form-control", placeholder = "Enter Address", @style = "text-transform:uppercase", required = "required" })
                                            </div>
                                        </div>
                                    
                                </div>
                                    

                                    <!--.row-->

                                    <div class="modal-footer width100 float-left border-0">
                                        <label id="error" class="danger" style="position: absolute;right: 32px;bottom: 104px;color:red;font-size: 12px;"></label>
                                        <button type="submit" class="btn bg-grey waves-effect fullbodydycolorbg" style="margin-top:0px; margin-right:12px; height:34px;">
                                            <span style="margin:0;color:#fff;">Save Change</span>
                                        </button>
                                        <button type="reset" class="btn pull-right">Reset</button>
                                    </div><!--.modal-footer-->
                                    }
                                </div>
                            </div>

                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div id="Masterlistupdate" class="right-first float-left width100 table-responsive dealer-box-back-four" style="background:#f5f5f5;height:80vh;">
                    <div class="table-responsive" style="position:inherit;margin-top:0px;overflow: auto;">
                        <table class="table table-bordered table-striped table-hover dataTable " style="width:100%;">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Bank&nbsp;Name</th>
                                    <th>IFSC Code</th>
                                    <th>Account Number</th>
                                    <th>Account Holder Name</th>
                                    <th>Account Type</th>
                                    <th>Branch Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.banknm)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ifsccode)</td>
                                        <td>@Html.DisplayFor(modelItem => item.acno)</td>
                                        <td>@Html.DisplayFor(modelItem => item.holdername)</td>
                                        <td>@Html.DisplayFor(modelItem => item.actype)</td>
                                        <td>@Html.DisplayFor(modelItem => item.branch_nm)</td>
                                        <td>
                                            <button type="button" class="btn btn-default waves-effect button-for-click" style="background-color:transparent !important; border:none;border:0;padding:0px;">
                                                <i class="fa fa-trash" style="color:red;position:relative;top:0px;"></i>
                                            </button>
                                            <button type="button" onclick="bankdelete('@item.idno')" class="btn btn-default waves-effect fullbodydycolorbg button-for-sure" style="background-color:transparent; border:none;border:1px solid #c7c2c2;color:#fff;display:none;">
                                                Sure ?
                                            </button>
                                            @*<button id="show" class="btn " onclick="bnkshow()" style="border:1px solid #bbb;font-size: 11px !important;padding: 4px 7px;height: 25px;border: 1px solid Red;">Delete</button>
                                            <button id="hidden" class="btn " onclick="bankdelete('@item.idno')" style="border:1px solid #bbb;visibility:hidden; font-size: 11px !important;padding: 4px 7px;height: 25px;border: 1px solid Red;">Sure</button>*@

                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    function ToastrMessage() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right1",
            "newestOnTop": false,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
        //toastr.info('MY MESSAGE!');
    }
</script>

<script>
$(function(){

     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });
</script>
<script>
    $('select').select2();
</script>

<script>
    function bankdelete(idno) {
        
           $.ajax({
               url: "@Url.Action("Delete_bankinfo", "Home")",
               type: 'Post',
               dataType: 'json',
               data: { 'idno': idno},
               cache: false,
               async: false,
        success: function (result) {
            if (result == "Success") {
                ToastrMessage();
                toastr.success('Data Deleted Successfully');
                //swal({ title: "Data Removed !", text: "Data Deleted Successfully.", type: "success" },
                        location.reload()
            }
            else {
                ToastrMessage();
                toastr.error('Something wrong !');
            }
        }
    });
    };

</script>

<script>
    $('.button-for-click').click(function () {

        $(this).hide();
        $(this).next().show();
    });
</script>

<script>
    $(function () {
        
        if ("@ViewBag.temp" == "Success") {
            ToastrMessage();
            toastr.success("Add Bank Successfully")
        }
        else if ("@ViewBag.temp" == "Failed") {
            ToastrMessage();
            toastr.error("Your Account Number Already Registered")
        }

    });


</script>