@model IEnumerable<Vastwebmulti.Models.bank_info>
@{
    ViewBag.Title = "Bank";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}

<style>
@@media screen and (max-width:766px){
    .second-design-master .content-master-second {margin-left:0px !important;}
    .second-design-master .bankinfo-master-second .body {padding: 0px !important;}
    .second-design-master .bankinfo-master-second ol {padding-left: 0px;padding-right: 0;margin-bottom: 0px !important;padding-bottom: 0px;}
    .second-design-master .bankinfo-master-second .card {min-height: inherit;}
    .second-design-master .bankinfo-master-second .second-bank-masterani:first-child {border-bottom: 1px solid #555;padding-bottom: 22px;}
}

    .master-four-design .second-bank-masterani table {
        width: 100%;
        box-shadow: none !important;
    }
    .master-four-design .second-bank-masterani:first-child {
        padding-left: 0;
    }
    .master-four-design .second-bank-masterani:last-child {
        padding-right: 0;
    }

</style>

<section class="content content-master-second">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Bank Info</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting 2&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Company A/C</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="bankinfo-master-second">
                <div class="col-md-12 dealer-none-fourclass">
                    <div class="card" style="margin-bottom:10px;">
                        <div class="form-group" style="margin-top: 2px;margin-bottom:0px;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:0px;">
                                <li class="active" style="color:#555;font-size:15px;font-weight:700;">All Bank Information</li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body" style="padding:0px 15px;">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-6 second-bank-masterani">
                                        <table class="dealer-box-back-four" border="1" style="margin-top:5px;margin-bottom:5px; float:left;border:10px solid #e4e1e1;">
                                            <tr>
                                                <th style="width:220px; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid #dddddd;background-color:whitesmoke;">
                                                    Bank Name
                                                </th>
                                                <th style="width:320px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.banknm)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px;background-color:whitesmoke;   height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid #dddddd;">
                                                    Branch Name
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.branch_nm)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px;background-color:whitesmoke;  height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid #dddddd;">
                                                    IFSC CODE
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.ifsccode)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px;background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid #dddddd;">
                                                    Account Number
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.acno)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid #dddddd;">
                                                    Account Type
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.actype)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px; height: 42px;background-color:whitesmoke; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black; position:initial;border:1px solid #dddddd;">
                                                    Account Holder Name
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.holdername)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width:220px; background-color:whitesmoke; height: 42px; font-size:14px;  font-family:Arial; font-weight:300; text-align:center; color:black;position:initial;border:1px solid #dddddd;">
                                                    Branch Address
                                                </th>
                                                <th style="width:160px;  font-size:14px;  font-family:Arial; font-weight:bold; text-align:center; color:#585858;border:1px solid #dddddd;">
                                                    @Html.DisplayFor(modelItem => item.address)
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


</section>




<script>
    $(document).ready(function () {
        $(".second-design-master .second-bank-masterani").addClass("second-bank-masteranisow")
    });
</script>