@model List<Vastwebmulti.Models.proc_BusReport_Result>
@{
    ViewBag.Title = "Bus";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}

<style>
.table.dataTable thead th, table.dataTable thead td {padding: 8px 4px 6px 4px;}
.table.dataTable tbody th, table.dataTable tbody td {padding: 8px 4px 6px 4px;}
.dropdown-menu {margin-top: 81px !important;}
table.dataTable tbody th, table.dataTable tbody td {padding: 8px 4px;}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {height: 20px;}
     @@media screen and (max-width:991px) {
        .card-out-layout .tre1, .card-out-layout .tre2{width: 50% !important;float: left !important;padding-bottom: 10px !important;}
        .card-out-layout .tre3{width: 100% !important;padding-bottom: 12px !important;}
        .card-out-layout .tre4 div {float: left !important;}
        .card-out-layout ul li{width: 32%;float: left;margin-right: 4px;text-align: left;}
        .padding-left-right {width: 50%;float: left;margin-bottom: 10px;}
        .padding-left-right .form-group{margin-bottom: 0px;}
        .table-th-padding .table-bordered thead tr th{padding: 7px;}
        .paddig-right-right{padding: 0px;}
        .padding-top-in-top{padding-top: 25px;}
        .ls-closed section.content{margin-left: 0px;}
        .card-out-layout {width: 100%;margin-bottom: 15px;}
        .col-md-6.tre3.card-out-layout{width: 100% !important;}
        .col-md-3.tre1.card-out-layout .kklo a {text-align: left !important;padding-left: 40% !important;}
     }
    @@media screen and (max-width:767px) {
        .col-md-6.tre3.card-out-layout{width:100% !important;}
        .card-out-layout .tre4 {width: 50% !important;float: left;margin-top: 15px;}
        .card-out-layout .kklo a, .card-out-layout .uuio a {padding-left: 25% !important;}
    }
    @@media screen and (max-width:520px) {
        .card-out-layout .tre1, .card-out-layout .tre2, .card-out-layout .tre3{width: 100% !important;padding-left: 0px !important;}
        .card-out-layout .tre4{margin-top: 0px;float: right;}
        .card-out-layout .uuio ul li{width: 48%;}
        .card-out-layout ul li{width: 32%;float: left;margin-right: 3px;text-align: left;}
        .card-out-layout .tre3 .mrj{padding-bottom:15px;}
        .card-out-layout .tre3{padding-bottom:0;}
        .responcive-fifty-fifty{width: 49%;float: left;padding-bottom: 25px !important;}
        .responcive-fifty-full, .responcive-fifty-full .form-group.jjp .nrr3 input, .responcive-fifty-fifty button{width:100% !important;float:left;margin-bottom: 10px;}
        .responcive-fifty-full .form-group.jjp input, .responcive-fifty-full .nrr3{width:49% !important;}
        .col-md-3.tre1.card-out-layout .kklo a {padding-left: 30% !important;}
    }
</style>

<style>
    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        #ul li {
            float: left;
        }

            #ul li a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
                border: 1px solid #b1a6a638;
                position: initial;
            }

                #ul li a img {
                    width: 12px;
                    float: left;
                    margin-top: 4px;
                    margin-right: 5px;
                }

                #ul li a:hover:not(.activee) {
                    background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
                    color: #fff;
                    border: 1px solid #b1a6a6;
                }

                #ul li a.activee.navbar img.reportnone {
                    display: none;
                }

                #ul li a img.reportblock {
                    display: none;
                }

                #ul li a.activee.navbar img.reportblock {
                    display: block;
                }

    .activee {
        color: white;
        margin-bottom: 0px;
        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
    }

    .card-out-layout .tre3 {
        width: 68% !important
    }

    @@media screen and (max-width:991px) {
        .card-out-layout .tre1, .card-out-layout .tre2 {
            width: 50% !important;
            float: left !important;
            padding-bottom: 10px !important;
        }

        .card-out-layout .tre3 {
            width: 100% !important;
            padding-bottom: 12px !important;
        }

        .card-out-layout .tre4 div {
            float: left !important;
        }

        .card-out-layout ul li {
            width: 32%;
            float: left;
            margin-right: 4px;
            text-align: left;
        }

        .padding-left-right {
            width: 50%;
            float: left;
            margin-bottom: 10px;
        }

            .padding-left-right .form-group {
                margin-bottom: 0px;
            }

        .table-th-padding .table-bordered thead tr th {
            padding: 7px;
        }

        .paddig-right-right {
            padding: 0px;
        }

        .padding-top-in-top {
            padding-top: 25px;
        }

        .ls-closed section.content {
            margin-left: 0px;
        }

        .card-out-layout .kklo a, .card-out-layout .uuio a {
            text-align: left !important;
            padding-left: 40% !important;
        }
    }

    @@media screen and (max-width:767px) {
        .card-out-layout .tre3 {
            width: 100% !important;
        }

        .card-out-layout .tre4 {
            width: 50% !important;
            float: left;
            margin-top: 15px;
        }
    }

    @@media screen and (max-width:520px) {
        .card-out-layout .tre1, .card-out-layout .tre2, .card-out-layout .tre3 {
            width: 100% !important;
            padding-left: 0px !important;
        }

        .card-out-layout .tre4 {
            margin-top: 0px;
            float: right;
        }

        .card-out-layout .uuio ul li {
            width: 48%;
        }

        .card-out-layout ul li {
            width: 32%;
            float: left;
            margin-right: 3px;
            text-align: left;
        }

        .card-out-layout .tre3 .mrj {
            padding-bottom: 15px;
        }

        .card-out-layout .tre3 {
            padding-bottom: 0;
        }

        .responcive-fifty-fifty {
            width: 48%;
            float: left;
            padding-bottom: 25px !important;
        }

            .responcive-fifty-full, .responcive-fifty-full .form-group.jjp .nrr3 input, .responcive-fifty-fifty button {
                width: 100% !important;
                float: left;
            }

                .responcive-fifty-full .form-group.jjp input, .responcive-fifty-full .nrr3 {
                    width: 49% !important;
                }

        .card-out-layout .kklo a, .card-out-layout .uuio a {
            text-align: left !important;
            padding-left: 30% !important;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Bus Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Bus Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix" style="margin-top: 12px;">
            <div class="col-md-12 card-out-layout">
                <div class="card">
                    <div class="col-md-3 tre1" style="padding: 0;">
                        <div>
                            @Html.Partial("_Flightpartialmenu")

                        </div>
                    </div>
                    <div class="col-md-2 tre2" style="padding: 0;">


                        <div>
                            <div id="custnav" class="uuio">
                                <ul id="ul">
                                    <li><a href="#" class="activee navbar">Booked <img class="reportnone" src="~/ashok-images/bus-ticket1.svg"><img class="reportblock" style="" src="~/ashok-images/bus-ticket.svg"></a></li>
                                    <li><a href="#">Canceled <img class="reportnone" src="~/ashok-images/bus-ticket1.svg"><img class="reportblock" style="" src="~/ashok-images/bus-ticket.svg"></a></li>

                                </ul>
                            </div>
                        </div>
                        <script src="/Scripts/jquery-1.10.2.min.js"></script>
                        <script>
                            $(function () {
                                var current = location.pathname;
                                $('#custnav li a').each(function () {
                                    var $this = $(this);
                                    if ($this.attr('href').indexOf(current) !== -1) {
                                        $this.addClass('activee');
                                        $this.addClass('navbar');

                                    }
                                })
                            });
                        </script>
                    </div>
                    @*<div class="col-md-2 tre2" style="padding: 0;">
                        <div>
                            @Html.Partial("_trevlmnu")

                        </div>
                    </div>*@
                    <div class="col-md-6 tre3 card-out-layout" style="padding: 0;width: 68%;">
                        @using (Html.BeginForm("Bus_Report", "Home", FormMethod.Post))
                        {

                            <div class="">
                                <div class="col-md-1 mrj jkjk responcive-fifty-fifty">
                                    <div class="">
                                        @Html.DropDownList("ddlusers", new List<SelectListItem>
                                  {

                               new SelectListItem{Text="Master",Value="Master"},
                               new SelectListItem{Text="Distributor",Value="Dealer"},
                               new SelectListItem{Text="Retailer",Value="Retailer"}
                                 }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                    </div>
                                </div>


                                <div class="col-md-2 mrj jkjk dip card-out-layout" style="display:none;" id="dlm">
                                    <div class="form-line">
                                        @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-2 mrj jkjk dip" style="display:none;" id="rem">
                                    <div class="form-line">
                                        @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                                <div class="col-md-1 mrj jkjk responcive-fifty-fifty" id="sts">
                                    <div class="">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="Status",Value="",},
                            new SelectListItem{Text="Success",Value="SUCCESS"},
                            new SelectListItem{Text="Pending",Value="PENDING"},
                            new SelectListItem{Text="Failed",Value="FAILED"}
                             }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                    </div>
                                </div>


                                <div class="col-md-2 mrj responcive-fifty-full">
                                    <div class="form-group">
                                        <div>
                                            @Html.TextBox("TicketNo", "", new { @class = "form-control", placeholder = "Ticket No", autocomplete = "off", @style = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 mrj responcive-fifty-full" style="width: auto;">
                                    <div class="form-group jjp">
                                        <div class="input-daterange input-group">
                                            <div class="custom-date-icon ner">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })

                                            <div class="nrr3">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <div class="col-md-1 mrj responcive-fifty-fifty">

                                    <button type="submit" name="submit" class="btn" style="height:31px;border:1px solid #c7c2c2;background: transparent;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>

                                </div>
                                <div class="col-md-2 tre4" style="padding: 0;width: auto;">

                                    <div style="float:right">

                                        <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                        <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalticket()">Total</button>

                                    </div>
                                    <div class="white-success" style="display:none; position: absolute;right: 37px;">
                                        <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                        <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                        <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;float: left;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <div id="BusLoader" style="display:none;">
                            <div class="loader_innner">
                                <img src="~/images/Busloader.gif" style="margin-top:15%;margin-left:46%;" />
                            </div>
                        </div>
                        <div class="body table-responsive tableseconddes-master" style="position:inherit;padding:0px;">
                            <table id="example1" class="table table-bordered example-second third-design-table" style="width:100%; font-size:12px;">
                                <thead style="color:black;position:inherit;background-color:whitesmoke;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Ticket&nbsp;Status</th>


                                        <th>Passenger&nbsp;Name</th>
                                        <th>Booking&nbsp;No</th>

                                        <th>PNR</th>

                                        <th>Total&nbsp;Pass.</th>
                                        <th>Fare</th>

                                        <th>User&nbsp;Income</th>
                                        <th>My&nbsp;Pre</th>
                                        <th>My&nbsp;Income</th>
                                        <th>My&nbsp;Post</th>

                                        <th>Distributort&nbsp;Income</th>


                                        <th>Journey&nbsp;Date</th>
                                        <th>Booking&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody id="trow" class="alin chnj">

                                    @{
                                        Html.RenderAction("_Bus_Report", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
        }

        else if (answer == "Master") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }

        else if (answer == "Retailer") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            // document.getElementById("apiid").style.display = "none";
        }

    }
</script>
<script>
    function findtotalticket() {
        
        var ddlusers = $('#ddlusers').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var ddl_status = $('#ddl_status').val();
        var TicketNo = $('#TicketNo').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("Bus_ReportTotal", "Home")",
                 { "ddlusers": ddlusers, "alldealer": alldealer, "allretailer": allretailer, "ddl_status": ddl_status, "TicketNo": TicketNo, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date  },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var TicketNo = $('#TicketNo').val();
        var url = '@Url.Action("ExcelBusReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&TicketNo=' + TicketNo;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var TicketNo = $('#TicketNo').val();
        var url = '@Url.Action("PDFBus_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status + '&alldealer=' + alldealer + '&allretailer=' + allretailer + '&TicketNo=' + TicketNo;
        window.open(url,'_blank');
    });
</script>
<script>
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
        $(window).scroll(function () {
            
            var ddlusers = $('#ddlusers').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();
            var TicketNo = $('#TicketNo').val();
            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
            if ($(window).scrollTop() > Number($("#example1").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll_Ticket", "Home")",
                    { "pageindex": pageindex, "ddlusers": ddlusers, "alldealer": alldealer, "allretailer": allretailer, "TicketNo": TicketNo,"ddl_status": ddl_status, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });


</script>

<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/MASTER/Home/Bus_Report') {
            $('.menu.side-icon ul li:nth-child(9) a').addClass('activee');
        }
    });
</script>



<script>
    $(function () {
        $('.second-design-master .example-second').DataTable({


            paging: false
        });
    });

</script>