@model List<Vastwebmulti.Models.proc_HotelCancellationReport_Result>
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-5">
                        <div style="margin-left:-14px;">
                            @Html.Partial("HotelpartialView")
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-5">

                        @*<button type="button" class="btn btn-success waves-effect" style="margin-top:6px;" title="Total  Success">Success&nbsp;@ViewData["Totalofferfare"]</button>
                            <button type="button" class="btn btn-danger waves-effect" style="margin-top:6px;" title="Total  Failed">Total&nbsp;Failed&nbsp;@ViewData["Totalf"]</button>
                            <button type="button" class="btn btn-warning waves-effect" style="margin-top:6px;" title="Total  Pending">Total Pending&nbsp;@ViewData["Totalp"]</button>*@

                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            @using (Html.BeginForm("CancellationQueue", "Home", FormMethod.Post))
            {
                <div class="col-md-12">
                    <div class="card" style="margin-top:-18px;">
                        <div class="">
                            <div class="col-md-1">
                                <div class="" style="margin-top:6px; margin-left:-13px;width:108%;border:1px solid #dddddd;padding-bottom:10px;">
                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                              {
                     
                           new SelectListItem{Text="Master",Value="Master"},
                           new SelectListItem{Text="Distributor",Value="Dealer"},
                           new SelectListItem{Text="Retailer",Value="Retailer"},
                      
                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                </div>
                            </div>
                                                   
                                <div class="col-md-2" style="display:none;" id="dlm">
                                <div class="form-line" style="margin-top:6px;border:1px solid #dddddd;margin-left:-13px;width:108%;padding-bottom:10px;">
                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2" style="display:none;" id="rem">
                                <div class="form-line" style="margin-top:6px;border:1px solid #dddddd;margin-left:-13px;width:108%;padding-bottom:10px;">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-1" id="sts">
                                <div class="" style="margin-top:6px;margin-left:-13px;width:108%;border:1px solid #dddddd;padding-bottom:10px;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="",},
                        new SelectListItem{Text="Success",Value="Confirmed"},
                        new SelectListItem{Text="Pending",Value="Proccessed"},
                        new SelectListItem{Text="Failed",Value="Failed"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>
                            </div>

                            <div class="col-md-1" id="top">
                                <div class="" style="margin-top:6px;margin-left:-16px;width:109%;border:1px solid #dddddd;padding-bottom:10px;">
                                    @Html.DropDownList("ddl_top", new List<SelectListItem>
                              {
                           new SelectListItem{ Text="TOP 50",Value="50"},
                           new SelectListItem{Text="TOP 100",Value="100"},
                           new SelectListItem{Text="TOP 200",Value="200"},
                           new SelectListItem{Text="TOP 500",Value="500"},
                           new SelectListItem{Text="TOP 1500",Value="1500"},
                           new SelectListItem{Text="All Entry", Value = null}
                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;" })
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <div style="margin-top:6px;margin-left:-13px;width:108%;border:1px solid #dddddd;">
                                        @Html.TextBox("BookingId", "", new { @class = "form-control", placeholder = "TXN/REF NO", autocomplete = "off", @style = "height:30px;" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;margin-top:2px;">
                                    <div class="input-daterange input-group">
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                        </span>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                            <div class="col-md-2">


                                <div class="col-md-6">
                                    <center>
                                        <button type="submit" name="submit" class="btn" style="margin-top: 6px; margin-left:-9px; height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="">
                        <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:5px;margin-top:-18px;">
                            <li class="active" style="color:#9E9E9E; font-size:12px;">HOTEL&nbsp;CANCELLATION&nbsp;REPORT&nbsp;></li>
                        </ol>
                    </div>
                    <div class="body" style="margin-top:-45px;padding:4px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table id="example1" class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Status</th>
                                        <th>Email&nbsp;Id</th>
                                        <th>Retailer&nbsp;Name</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Cancellation&nbsp;Id</th>
                                        <th>Booking&nbsp;Id</th>
                                        <th>Cancallation&nbsp;Charge</th>
                                        <th>Refund&nbsp;Amount</th>
                                        <th>Request&nbsp;Date</th>
                                        <th>Response&nbsp;Date</th>
                                      
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var sts = "";
                                        var color = "";
                                        if (item.ChangeRequestStatus.Contains("1") || item.ChangeRequestStatus.Contains("2"))
                                        {
                                            color = "#ff9600";
                                            sts = "Pending";
                                        }
                                        if (item.ChangeRequestStatus.Contains("3"))
                                        {
                                            color = "green";
                                            sts = "Processed";
                                        }
                                        if (item.ChangeRequestStatus.ToUpper().Contains("4"))
                                        {
                                            color = "red";
                                            sts = "Failed";
                                        }
                                        //if (item.TicketStatus.Contains("Refund"))
                                        //{
                                        //    color = "#9C27B0";
                                        //    sts = "Refund";
                                        //}
                                        <tr>
                                            <td><p style="color:@color;font-size:15px;font-weight:700;">@sts</p></td>
                                            <td>@item.Email</td>
                                            <td>@item.RetailerName</td>
                                            <td>@item.Frm_Name</td>
                                            <td>@item.ChangeRequestId</td>
                                            <td>@item.BookingId</td>
                                            <td>@item.CancellationCharge</td>
                                            <td>@item.RefundedAmount</td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationRequestDate)
                                            </td>
                                            <td>
                                                @String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.CancellationResponseDate)
                                            </td>
                                            </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Guest Modal -->
<!-- Price Modal -->
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script>
    $(function () {

          $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>


<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
        
        }
    
        else if (answer == "Master") {
       
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
    
        }
    
        else if (answer == "Retailer") {
                document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
           // document.getElementById("apiid").style.display = "none";
          }
 
    }
</script>
