@model IEnumerable<Vastwebmulti.Models.proc_Complaint_request_Result>
@{
    ViewBag.Title = "Complaint";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<link href="~/Swalalert/chatting.css" rel="stylesheet" />

<style>
    .master-chatstart .chat-img {
        height: auto;width: auto;float: left;
    }
    .master-chatstart .chat-img img {width: 44px;height: 44px;border-radius: 50%;}
    .master-chatstart .chat-img p {
        margin: 0;border-radius: 0 !important;width: auto;height: auto;border: 0;
        background: transparent;font-weight: bold;color: var(--main-bg-lcolor);text-align: center;
    }
    .master-chatstart .chat-body {
        width: 48%;margin-top: 0;float: left;height: auto;margin-bottom: 0;border-radius: 3px;
        min-height: inherit;margin-left: 40px;margin-top: 10px;box-shadow: 0px 3px 5px 0px #555;
        position: relative;background: var(--main-bg-lcolor);color: #fff;padding: 10px;
    }
    .master-chatstart .chat-body * {color: #fff !important;}
    .master-admin-msg::before {
        content: "";width: 27px;right: 0px;left: -25px;top: 0;position: absolute;
        border-style: solid;border-width: 0 20px 15px 0;border-color: transparent var(--main-bg-lcolor) transparent transparent;
    }
    .master-chatstart .chat-body.chat-bodymaster-you {
        margin-right: 40px;float: right;margin-left: 0 !important;background: var(--main-bg-rcolor);
     
    }
    .master-chatstart .chat-body.chat-bodymaster-you::before {
        width: 27px;right: 0px;top: 0;position: absolute;border-style: solid;border-width: 0 20px 15px 0;
        border-color: transparent transparent var(--main-bg-rcolor) transparent;right: -18px;
    }
    .chat-master-you .chat-img p {color: var(--main-bg-rcolor);}


    .master-four-design .master-chatstart .chat-body.chat-bodymaster-you {
        background: var(--four-design-bg-first);
    }
    .master-four-design .master-chatstart .chat-body.chat-bodymaster-you::before {
        border-color: transparent transparent var(--four-design-bg-first) transparent;
    }
    .master-four-design .master-chatstart .chat-body {
        background: var(--fullbodybg-four);
    }
    .master-four-design .master-admin-msg::before {
        border-color: transparent var(--fullbodybg-four) transparent transparent;
    }
    .master-four-design .master-chatstart .chat-img p {
        color: var(--fullbodybg-four);
    }
    .master-four-design .chat-master-you .chat-img p {
        color: var(--four-design-bg-first);
    }

    @@media screen and (max-width:766px){
        .col-md-4, .col-md-8 {width: 100%;float: left;padding-left: 0;}
        .complaint-master {margin-top: 10px;}
        .master-chatstart .chat-body {width: 80%;}
    }

    @@media screen and (max-width:480px) {
        .master-chatstart .chat-body {width: 70%;}
        .master-chatstart .chat-body.chat-bodymaster-you {margin-right: 25px;}
        .master-chatstart .chat-body {margin-left: 25px;}
    }

</style>


<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Complaint</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>*@
                <li><a href="javascript:void(0);">Chat's</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-4 complaint-master">
                <div class="card" style="margin-top:0;background:#f5f5f5;">

                    <div class="header" style="background-color:#dedddd;padding: 8px 10px;">
                        <h2>
                            <i class="fa fa-keyboard-o" aria-hidden="true" style="color:black; font-size:21px;"></i>&nbsp;&nbsp;<span style="color:black;">Insert Complaint</span>
                        </h2>

                    </div>
                    @using (Html.BeginForm("Complaint_insert", "Home", FormMethod.Post))
                    {
                        <div class="body dealer-box-back-four" style="height:399px;">
                            <div class="form-group" style="margin-top:0px;">
                                <div class="">
                                    <textarea id="message" name="message" class="form-control" style="height:189px; border:1px solid #1b171714;" required="" placeholder="Enter Message"></textarea>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;height: auto;">
                                        <i class="fa fa-send-o" style="font-size: 18px;top:2px;left: -13px;padding: 8px 8px 8px 8px;background: whitesmoke;border-radius: 35px;"></i>
                                        <span style="top: 3px;font-weight: 600;font-size: 19px;text-transform: uppercase;">Insert Message</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="reset" class="btn  waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-eraser" style="top: 1px;"></i>
                                        <span style="top:-2px;font-size: 14px;">Reset</span>
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <a href="@Url.Action("Dashboard","Home")" class="btn  waves-effect" style="float:right;border:1px solid #c7c2c2;background:#dedddd;width:100%;">
                                        <i class="fa fa-arrow-left" style="top:0px;color: #525050;"></i>
                                        <span style="top:-2px;font-size: 14px;color:black;">Back</span>
                                    </a>
                                </div>
                            </div>




                        </div>
                    }
                </div>
            </div>

            <div class="col-md-8">

                <div class="card master-chatstart" style="margin-top:0;">
                    <div class="panel-heading" style="border:0px solid #dddddd;background:#dedddd;border-radius:0px;">
                        <span class="fa fa-comments-o"></span> Chatting Details

                    </div>
                    <div class="panel-collapse collapse dealer-box-back-four" style="display:block;">
                        <div class="panel-body" style="height:424px;">

                            <ul class="chat">

                                @foreach (var item in Model)
                                {

                                    if (item.resdate != null)
                                    {
                                        <li>
                                            <span class="chat-img" style="float:left;">
                                                <img src="../../images/reportimage/chatuserimage.png">
                                                <p style="">Admin</p>
                                            </span>
                                            <div class="chat-body clearfix master-admin-msg">
                                                <p style="margin-left:0;float:left;width:100%;">
                                                    @item.response
                                                </p>
                                                <div class="header" style="border-bottom:none;float:right;padding:0px;float:right;">
                                                    <p class="text-muted" style="margin-top:0px;"><span class="fa fa-clock-o"></span>&nbsp;@item.resdate</p>
                                                    <strong class="pull-right primary-font"></strong>
                                                </div>

                                            </div>
                                        </li>

                                    }
                                    if (item.rdate != null)
                                    {

                                        <li class="left clearfix chat-master-you" style="border:0;">
                                            <span class="chat-img" style="float:right;">
                                                <img src="../../images/reportimage/chatuserimage.png">
                                                <p>You</p>
                                            </span>
                                            <div class="chat-body clearfix chat-bodymaster-you">

                                                @if (item.sts == "Open")
                                                {
                                                    <p style="">@item.complant </p>
                                                }
                                                else
                                                {
                                                    <p style="">@item.complant </p>
                                                }

                                                <div class="header" style="border-bottom:none;padding:0px;float:right;text-align:center;">
                                                    <strong class="primary-font"></strong> <p class="pull-right text-muted" style="">
                                                        <span class="fa fa-clock-o"></span>&nbsp;@item.rdate
                                                    </p>
                                                </div>

                                            </div>



                                        </li>
                                    }

                                }


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>



<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>



