@model IEnumerable<Vastwebmulti.Models.show_ecomm_report_Result>
@{
    ViewBag.Title = "Ecommerce_Report";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .padding-left-right{padding-left: 2px;padding-right: 2px;z-index:999;}
    .padding-left-right button, .padding-left-right .btn-group.bootstrap-select.form-control{height: 32px !important;padding-left: 5px;text-align: left;}
    .padding-left-right .input-group input[type="text"], .padding-left-right .input-group .form-control{height: 34px !important;}
    .padding-left-right-right{padding:0px;}
    .card .body{padding: 0px;}
    .padding-left-right .ner{height: 34px;}
    @@media screen and (max-width:767px) {
        .padding-left-right{width: 50%;float: left;margin-top: 15px;z-index: 999;}
        .form-group{margin-bottom: 0px;}
        .padding-left-right-right{z-index: 999;margin: 15px 0px;}
    }
    @@media screen and (max-width:420px) {
        .padding-left-right, .padding-left-right-right{width:50%;float: left;}
        .padding-left-right.padding-left-right-full{width: 100%;float: left;padding: 0px;}
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Ecommerce Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Ecommerce Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->

        @*        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6">
                        <p style="font-size:21px;margin-top:6px;color:#00000070;">E-commerce Report</p>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group" style="margin-top:-17px; ">
                                <div style="padding-top: 22px;  padding-left: 10px; float:right;">
                                    <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                                    <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                                    <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                <div class="card">
                    @using (Html.BeginForm("Ecommerce_Report", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-1 padding-left-right">
                                <div class="" style="width: 100%; border: 1px solid #dddddd;">
                                    @Html.DropDownList("ddlusers", new List<SelectListItem>
                              {
                            new SelectListItem{Text="Master",Value="Master"},
                           new SelectListItem{Text="Distributor",Value="Dealer"},
                           new SelectListItem{Text="Retailer",Value="Retailer"},

                          }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                </div>
                            </div>

                            <div class="col-md-2" style="display:none;" id="dlm">
                                <div class="form-line" style="width: 100%; border: 1px solid #dddddd;">
                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2" style="display:none;" id="rem">
                                <div class="form-line" style="width: 100%; border: 1px solid #dddddd;">
                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>
                            <div class="col-md-2 padding-left-right">
                                <div class="form-group">
                                    <div class="" style="width: 100%; border: 1px solid #dddddd;">
                                        @Html.DropDownList("category", ViewBag.category as SelectList, "ALL Category", new { id = "category", @class = "selectpicker form-control", data_live_search = "true" })

                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-1">
                                  <div class="form-line" style="width: 100%; border: 1px solid #dddddd">
                                      @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                             new SelectListItem{ Text="50",Value="50"},
                             new SelectListItem{Text="100",Value="100"},
                             new SelectListItem{Text="200",Value="200"},
                             new SelectListItem{Text="500",Value="500"},
                             new SelectListItem{Text="1500",Value="1500"},
                             new SelectListItem{Text="All",Value="1000000"}
                            }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                  </div>

                              </div>*@
                            <div class="col-md-1 padding-left-right padding-left-right-full">
                                <div class="form-line" style="width: 100%; border: 1px solid #dddddd;">
                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                        new SelectListItem{ Text="Status",Value="ALL",},
                        new SelectListItem{Text="SUCCESS",Value="2"},
                        new SelectListItem{Text="Pending",Value="1"},
                        new SelectListItem{Text="Rejected",Value="3"}
                         }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                </div>
                            </div>

                            <div class="col-md-3 padding-left-right padding-left-right-full">
                                <div class="">
                                    <div class="" style="width: 100%;">
                                        <div class="form-group" style="margin-bottom: 0px;">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                <input autocomplete="off" class="form-control" id="txt_frm_date" name="txt_frm_date" required="required" style="border:1px solid #dddddd; height:32px;" type="text" value="">
                                                <span class="input-group-addon" style="padding:0px;min-width:3px;">

                                                </span>
                                                <div style="position:relative;">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    <input autocomplete="off" class="form-control" id="txt_to_date" name="txt_to_date" required="required" style="border:1px solid #dddddd; ;height:32px;" type="text" value="">
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 padding-left-right">
                                <center>
                                    <button type="submit" class="btn" style="height: 32px !important; border: 1px solid #dddddd; background: #fff; width: 100%;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                            <div class="col-md-2 tre4 padding-left-right-right">
                                <div class="white-l-search-nine">
                                    <div class="web-white-filter" style="float: right;">
                                        <input type="button" id="btnExportA" value="Export" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                        <input type="button" id="btnPDFA" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                        <button class="white-success-button" style="height:32px !important;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalA()">Total</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="margin-top: -20px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover" cellspacing="0" style="width:100%;">
                                <thead class="navbar" style="position:inherit; color: #000; background:transparent;">
                                    <tr>
                                        <th>Sr&nbsp;No.</th>
                                        <th>Live&nbsp;Status</th>
                                        <th>Users&nbsp;Registration&nbsp;Information</th>
                                        <th>Order&nbsp;Date</th>
                                        <th>Product&nbsp;Name</th>
                                        <th>MRP&nbsp;Price</th>
                                        <th>Product&nbsp;Price</th>
                                        <th>Qty</th>
                                        <th>Total&nbsp;Amount</th>
                                        <th><span>User&nbsp;Role</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">Pre&nbsp;Amt&nbsp;</span><span style="padding-left:2px;">│</span><span style="padding-left:3px;">Net&nbsp;INC</span><span style="padding-left:2px;">│</span><span style="padding-left:2px;">Post&nbsp;Amt</span></th>
                                        <th>Approved&nbsp;Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var color = "";
                                        var fontweight = "";
                                        var emailid = "";
                                        var name = "";
                                        var framname = "";
                                        var rolename = "";
                                        var sts = "";

                                        if (item.RoleName == "Retailer")
                                        {
                                            emailid = item.Email;
                                            name = item.RetailerName;
                                            framname = item.Frm_Name;
                                            rolename = item.RoleName;

                                        }

                                        if (item.OrderStatus == 2)
                                        {
                                            color = "green";
                                            fontweight = "700";
                                            sts = "Success";
                                        }
                                        if (item.OrderStatus == 3)
                                        {
                                            color = "red";
                                            fontweight = "700";
                                            sts = "Rejected";
                                        }

                                        if (item.OrderStatus == 1)
                                        {
                                            color = "#FF9800";
                                            fontweight = "700";
                                            sts = "Pending";
                                        }
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td><p style="font-size:12px;"><span style="color:@color;font-weight:@fontweight;">@sts</span></p></td>
                                            <td><p style="font-size:12px;"><span>&nbsp;<i class="fa fa-user-circle-o"></i>&nbsp;@framname</span>&nbsp;⇒&nbsp;@emailid</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.OrderDate</p></td>
                                            <td><p style="font-size:11px;">&nbsp;@item.ProductName</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.ListPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.StandardPrice</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.QTY</p></td>
                                            <td><p style="font-size:12px;">&nbsp;@item.Amount</p></td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>@rolename</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.RemPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.Remcomm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.RemPost</span></p>
                                                }
                                            </td>

                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Dealer</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.DlmPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.DlmComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.DlmPost</span></p>
                                                }

                                            </td>
                                            <td>
                                                @if (item.RoleName == "Retailer")
                                                {
                                                    <p><span>Master</span><span style="padding-left:4px;">⇒</span><span style="padding-left:8px;">@item.MasterPre</span><span style="padding-left:18px;">│</span><span style="padding-left:3px;">@item.MdComm</span><span style="padding-left:14px;">│</span><span style="padding-left:9px;">@item.MasterPost</span></p>
                                                }

                                            </td>

                                            <td><p style="font-size:11px;">&nbsp;@item.UpdatedOn</p></td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>

</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
        }

        else if (answer == "Master") {
                  document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }

        else if (answer == "Retailer") {
                     document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";

          }
       }
</script>