@model IEnumerable<Vastwebmulti.Models.GST_Monthly_master_Result>
@{
    ViewBag.Title = "Gst_Invocing_Master_report";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}

<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    @@media screen and (max-width:766px) {
        .padding-master .col-md-12 {
            padding: 0px;
            margin-top: 10px !important;
            width: 100%;
            float: left;
        }

        .padding-master {
            padding-left: 0px;
        }

        .table-responsive table {
            border: 1px solid #aaa4a4 !important;
        }
    }

</style>

<section class="content">
    <div class="container-fluid padding-master">
        <div class="row" style="margin: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card" style="width:100%;float:left;margin-bottom:15px;">
                    <div class="">
                        <div class="col-md-7" style="width:auto;float:left;">
                          <p style="font-size:22px;margin-top:4px;">Master GST Invoice Report</p>
                        </div>
                     
                            

                        <div class="col-md-2" style="width:auto;float:right;">
                            <p style="font-size:20px;margin-top:5px;font-weight:700;color:#55555a;">Month&nbsp;:-&nbsp;@ViewBag.OldMonth</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    
                    <div class="body" style="padding:7px;padding-top:0px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped" style="width:100%; font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Email&nbsp;ID</th>
                                        <th>Frim&nbsp;Name</th>
                                        <th>Account Transfer Comm</th>
                                        <th>Account Transfer GST</th>
                                        <th>RCH Comm</th>
                                        <th>RCH GST</th>
                                        <th>Aeps Comm</th>
                                        <th>Aeps GST</th>
                                        <th>PAN Comm</th>
                                        <th>PAN GST</th>
                                        <th>MPOS Comm</th>
                                        <th>MPOS GST</th>
                                        <th>Flight Comm</th>
                                        <th>Flight GST</th>
                                        <th>Total GST</th>
                                        <th>Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 1;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td><p style="font-size:12px;">@item.Email</p></td>
                                            <td><p style="font-size:12px;">@item.FarmName</p></td>
                                            <td><p style="font-size:12px;">@item.dmtcomm</p></td>
                                            <td><p style="font-size:12px;">@item.dmtgst</p></td>
                                            <td><p style="font-size:12px;">@item.rchcomm</p></td>
                                            <td><p style="font-size:12px;">@item.rchgst</p></td>
                                            <td><p style="font-size:12px;">@String.Format("{0:0.00#}", item.aepscomm)</p></td>
                                            <td><p style="font-size:12px;">@item.aepsgst</p></td>
                                            <td><p style="font-size:12px;">@item.pancomm</p></td>
                                            <td><p style="font-size:12px;">@item.pangst</p></td>
                                            <td><p style="font-size:12px;">@item.mposcomm</p></td>
                                            <td><p style="font-size:12px;">@item.mposgst</p></td>
                                            <td><p style="font-size:12px;">@String.Format("{0:0.00#}", item.flightcomm)</p></td>
                                            <td><p style="font-size:12px;">@item.flightgst</p></td>
                                            <td><p style="font-size:12px;">@item.total</p></td>
                                            <td><a href="@Url.Action("GST_Invocing_Report_Pdf","Home")" style="font-size:14px;color:blue;font-weight:500;" target="_blank">Print</a></td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />



