@using Vastwebmulti.Models;
@model IEnumerable<Vastwebmulti.Models.microatm_rental_report_Result>
@{
    ViewBag.Title = "Master_Microatm_rental_report";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "master").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "master")
        {
            favimage = usernname.SingleOrDefault().NickName;


        }
    }
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .master-microatmdate input {
        width: 100% !important;
        float: left !important;
        text-align: center !important;
    }

    .master-microatmdate .input-daterange.input-group {
        float: left;
        width: 50%;
    }

    .master-microatmdate .input-daterange:nth-child(2) .custom-date-icon {
        left: 2px;
    }

    .master-microatmdate .input-daterange .custom-date-icon i {
        left: 4px;
    }

    @@media screen and (max-width:520px) {
        .container-fluid.full-master-secondanimation.classmaster-padding-second {
            padding-left: 0px;
        }

        .masterladgerclass {
            width: 100% !important;
            float: left !important;
            margin: 10px 0px;
        }

            .masterladgerclass .col-md-7 {
                width: 70% !important;
                float: left;
            }

            .masterladgerclass .col-md-5 {
                width: 30% !important;
            }

            .masterladgerclass .col-md-7 input {
                width: 100% !important;
                text-align: center !important;
            }

            .masterladgerclass .col-md-7 input {
                text-align: right !important;
            }
    }
</style>
<section class="content">
    <div class="container-fluid full-master-secondanimation classmaster-padding-second">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Microatm Rental Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Rental Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 0px;">
                    <div class="bread-same-all-page dealer-none-fourclass" style="width:auto;float:left;">
                        <ul>
                            <li class="smli">
                                <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                    Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:17px;margin-top:-3px;transform: scale(0.8);">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one">
                                Rental Report

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="padding: 0px;float:right; width: auto;padding-left:5px;">
                        <div class="form-group">
                            <div style="float:right">
                                <div class="for-search tablesearch-second" style="position:static;float:right;width:auto;padding-right: 5px;">
                                    <div class="search-after-third">
                                        <input id="myInput" type="text" name="myInput" placeholder="Search..." onkeyup="myFunction()" style="height: 32px; border: 1px solid #ccc; padding: 5px 8px;" />
                                    </div>
                                </div>
                                <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                            </div>





                        </div>
                    </div>
                    <div class="col-md-2 masterladgerclass" style="padding: 0px;float: right;width:auto;">
                        @using (Html.BeginForm("Master_Microatm_rental_report", "Home", FormMethod.Post))
                        {
                            <div class="col-md-7 master-microatmdate" style="padding: 0px;width:auto;float:left;">
                                <div class="input-daterange input-group" style="padding-right:2px;">
                                    <div class="custom-date-icon ner" style="border-color:#dddddd !important;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                    </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; width: 119px;margin-top:0px;height:36px;text-align:right;text-align:right;" })
                                </div>
                                <div class="input-daterange input-group" style="padding-left:2px;">
                                    <div class="custom-date-icon ner" style="border-color:#dddddd !important;">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                    </div>
                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; width: 119px;margin-top:0px;height:36px;text-align:right;text-align:right;" })
                                </div>
                            </div>
                            <div class="col-md-5" style="padding: 0px;padding-left:5px;width:auto;float:left;">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style=" background: transparent !important;border: 1px solid #ddd !important;width:100%;float:left;width:100%;">
                                        <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                        <span style="top:0px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body" style="margin-top: 0px;padding: 0;">
                        <div class="table-responsive tableseconddes-master" style="position: inherit;margin-top:0px;">
                            <table class="table table-bordered table-striped table-hover example-second third-design-table" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>S.N</th>
                                        <th>Frm&nbsp;Name</th>
                                        <th>DeviceId</th>
                                        <th>Plan&nbsp;Name</th>
                                        <th>Num.of&nbsp;Trans</th>
                                        <th>Trans&nbsp;Date</th>
                                        <th>Curr&nbsp;Date</th>
                                        <th>@favimage&nbsp;Pre</th>
                                        <th>@favimage&nbsp;Commission</th>
                                        <th>@favimage&nbsp;GST</th>
                                        <th>@favimage&nbsp;TDS</th>
                                        <th>@favimage&nbsp;Post</th>

                                    </tr>
                                </thead>
                                <tbody id="body" class="alin  chnj">
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.Frm_Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.deviceid)</td>
                                            <td>@Html.DisplayFor(modelItem => item.planname)</td>
                                            <td>@Html.DisplayFor(modelItem => item.nooftrans)</td>
                                            <td>@Html.DisplayFor(modelItem => item.transdate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.currdate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdpre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdcomm)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdgst)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdtds)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mdpost)</td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>
<script>
    $(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>