
@{
    ViewBag.Title = "Money_Transfer_Report";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {padding: 8px 4px 6px 4px;}

    .dropdown-menu {margin-top: 81px !important;}
    .cltu #ddl_Type {-webkit-appearance: none;border: 1px solid #b1a6a638;height: auto !important;}
    .cltu .btn-group {padding-left: 0px !important;}
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
     .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;border-radius: 0px !important;height: 32px !important;margin-top: 2px;
    }

    .master-money-transfer * {
        border-color: #e1dcdc !important;
    }
    .master-money-transfer .form-group.jjp input, .master-money-transfer .form-group.jjp .custom-date-icon {
        border-color: #e1dcdc !important;
    }
    .master-money-transfer .col-md-2.mrj.cltu-war .form-group button {
        border-color: #e1dcdc !important;
    }

    @@media screen and (max-width:992px) {
        .cltu-out{width: 100% !important;float: left;}
        .cltu-out .from-right-none{float:left !important;width:100%;margin-bottom: 15px;}
        .cltu-out .card, .cltu-out .form-group{margin: 0px;}

    }

    @@media screen and (max-width:767px) {
        .cltu-out {width: 100% !important;float: left;}
        .cltu-out div {float: left !important;width: 100%;}
        .col-md-3.fin1.cltu-out ul li{width:25%;}
        .kklo #custnav ul li a {text-align: left;}
        .moneytransfer-report-master .col-md-2, .moneytransfer-report-master .col-md-1 {
            width: 50% !important;float: left;margin: 0 !important;padding-right: 5px !important;margin-bottom: 8px !important;
        }
        .moneytransfer-report-master .btn-group.bootstrap-select.form-control {height: auto !important;}
        .moneytransfer-report-master .col-md-4 {width: 100% !important;margin: 0px !important;}
        .moneytransfer-report-master .col-md-4 input {width: 50% !important;float: left;margin: 0px !important;text-align: center;}
        .moneytransfer-report-master .col-md-4 .nrr3 {width: 50%;float: left;padding-left: 5px;}
        .moneytransfer-report-master .col-md-4 .nrr3 input {text-align: center;width: 100% !important;margin-bottom: 8px !important;}
        .moneytransfer-report-master .col-md-4 .nrr3 .custom-date-icon.ner {left: 5px;}
        .moneytransfer-report-master .col-md-2.mrj.cltu-war {width: auto !important;padding: 0 !important;}
        .moneytransfer-report-master .card {width: 100%;float: left;}
        .moneytransfer-report-master .col-md-2.pploh.fin3.cltu-out {
            width: auto !important;padding: 0px !important;position: absolute;bottom: -15px;right: 0;
        }
        .moneytransfer-report-master .col-md-1 select {text-align: left !important;}
        .modal .modal-dialog {
            width: 100% !important;
            float: left !important;
        }
        .table-responsive td, .table-responsive th {
            white-space: normal !important;
        }
        .col-md-4.mrj.cltu-war-full div.input-daterange.input-group .nrr3 input {
            width: 100% !important;
        }

    }

    @@media screen and (max-width:520px) {
        .cltu.cltu-war, .gglk.cltu-war, .mrj.cltu-war {width: 48.9% !important;float: left !important;}
        .cltu-war-full {width: 100% !important;float: left !important;}
        .cltu-out .cltu-war input {text-align: left;}
        .cltu-out .cltu-war-full div.input-daterange.input-group, .cltu-out .cltu-war-full div.form-group.jjp {
            width: 100%;float: left;
        }
        .cltu-out .cltu-war-full div {width: 50%;}
        .cltu-out .cltu-war-full div.input-daterange.input-group input {width: 49% !important;}
        .cltu-out .cltu-war-full div.input-daterange.input-group .custom-date-icon.ner {width: 100% !important;}
        .col-md-2.mrj.cltu-war #btntype {width: 100%;margin-top: 20px;}
        .pploh.fin3.cltu-out {position: static;}
    }

        @@media screen and (max-width:420px) {
            .cltu.cltu-war, .gglk.cltu-war, .mrj.cltu-war {width: 48% !important;float: left !important;}
        }

</style>
<section class="content">
    <div class="container-fluid moneytransfer-report-master">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Money Transfer Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Financial Services</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card master-money-transfer">
                    <div class="col-md-3 fin1 cltu-out" style="padding: 0px;">
                        <div>
                            @Html.Partial("_finicalmenureportMaster")
                        </div>
                    </div>
                    <div class="col-md-7 fin2 cltu-out" style="padding: 0px;">
                        @using (Html.BeginForm("Money_Transfer_Report", "Home", FormMethod.Post))
                        {
                            <div class="card">
                                <div class="">
                                    <div class="col-md-2 cltu cltu-war" style="padding: 0px;">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("ddlusers", new List<SelectListItem>
                          {
                        new SelectListItem{Text="ALL",Value="Master"},
                       new SelectListItem{Text="Distributor",Value="Dealer"},
                       new SelectListItem{Text="Retailer",Value="Retailer"},

                      }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="display:none;padding: 0px;padding-right:5px;" id="dlm">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, "All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="display:none;padding: 0px;padding-right:5px;" id="rem">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="display:none;padding: 0px;" id="apiid">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("allapiuser", ViewBag.apiid as IEnumerable<SelectListItem>, "Select API User", new { id = "allapiuser", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 cltu cltu-war" style="padding: 0px;">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                        {
                                        new SelectListItem{ Text="Status",Value="ALL",},
                                        new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                        new SelectListItem{Text="Pending",Value="PENDING"},
                                        new SelectListItem{Text="FAILED",Value="FAILED"}
                                        }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1 cltu cltu-war" style="padding: 0px;">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("ddl_Type", new List<SelectListItem>
                                        {
                                              new SelectListItem{ Text="Type",Value="ALL",},
                                         new SelectListItem{Text="Transfer",Value="IMPS"},
                                         new SelectListItem{Text="Verify",Value="IMPS_VERIFY"}
                                        }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:30px;" })

                                            </div>

                                        </div>
                                    </div>



                                    @*<div class="col-md-2">
                                        <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                                            @Html.DropDownList("api_name", ViewBag.apiname as SelectList, "Select Api Name", new { @style = "margin-top:0px", @class = "selectpicker form-control", data_live_search = "true", })
                                        </div>
                                    </div>*@
                                    <div class="col-md-2 gglk cltu-war" style="padding: 0px;margin-right: 3px;">
                                        <div class="input-group" style="border: 1px solid #b1a6a638;margin-top: 1px;">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search" style="margin-left:3px;color:#9999b3;" aria-hidden="true"></i>
                                            </span>
                                            <div class="ffjkt">
                                                <input class="form-control" id="txtmob" name="txtmob" placeholder="Sender Number / Bank Acc" style="height:30px !important;margin-left:-8px;padding:0px; background:none;font-size:12px;" type="text" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mrj cltu-war-full" style="padding: 0px;width: auto;">
                                        <div class="form-group jjp" style="margin-bottom:0px;margin-top:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:33px;", autocomplete = "off" })

                                                <div class="nrr3">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:33px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>

                                    <div class="col-md-2 mrj cltu-war" style="width: auto;">
                                        <div class="form-group">
                                            <div class="form-line" style="border-bottom:none;">

                                                <button value="OLD" type="submit" class="btn" id="btntype" name="btntype" style="height:32px;border:1px solid #c7c2c2;background: transparent;">
                                                    <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                    <span style="top:-1px;color:black;">SEARCH</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>

                    @*<div class="col-md-6">
                        <div class="form-group" style="margin-top: 2px;">
                            <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left: -22px;">
                                <li class="active" style="color: #a79f9f;font-size: 20px;margin-top: -12px;">Money Transfer&nbsp;Report</li>
                            </ol>
                        </div>
                    </div>*@
                    <div class="col-md-2 pploh fin3 cltu-out" style="padding: 0px;">

                        <div class="form-group">
                            <div class="from-right-none" style="float:right">

                                <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotal()">Total</button>
                            </div>
                            <div class="white-success" style="display:none; position: absolute;width: auto;right: 40px;">
                                <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;float: left;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive tableseconddes-master" style="position:inherit;">
                        <table class="table table-bordered example-second third-design-table" style="width:100%; font-size:12px;">
                            <thead style="background-color:whitesmoke;">
                                <tr style="color: black;">
                                    <th style="width:100px;">Status</th>
                                    <th>Type</th>
                                    <th>Beneficiary&nbsp;Account</th>
                                    <th>Sender&nbsp;No</th>
                                    <th>Net&nbsp;T/F&nbsp;</th>
                                    <th>Transfer&nbsp;Total</th>
                                    <th>MY&nbsp;Income</th>
                                    <th>MY&nbsp;Pre</th>
                                    <th>Bank&nbsp;UTR</th>
                                    <th>Request&nbsp;Date</th>
                                    <th>#</th>


                                    @*<th>GST&nbsp;│&nbsp;TDS</th>
                                    <th>Net&nbsp;INC</th>
                                    <th>Pre&nbsp;Amt&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;Post&nbsp;Amt</th>
                                    <th>Request&nbsp;ID</th>

                                    <th>Bank&nbsp;Reference&nbsp;No</th>
                                    <th>Bank&nbsp;Name</th>
                                    <th>IFSC&nbsp;Code</th>
                                    <th>DLM&nbsp;Id</th>
                                    <th>DLM&nbsp;Name</th>
                                    <th>DLM&nbsp;Frm&nbsp;Name</th>
                                    <th>Pre&nbsp;DLM&nbsp;Amount</th>
                                    <th>DLM&nbsp;Net&nbsp;INC</th>
                                    <th>Post&nbsp;DLM&nbsp;Amount</th>
                                    <th>Retailer&nbsp;ID</th>
                                    <th>Retailer&nbsp;Name</th>
                                    <th>Retailer&nbsp;Frm&nbsp;Name</th>
                                    <th>
                                        <span>REM.Pre&nbsp;Amt&nbsp;</span><span style="padding-left:-4px;">&nbsp;│&nbsp;</span>Debit<span style="padding-left:38px;">&nbsp;│&nbsp;</span><span>REM.Post&nbsp;Amt</span>
                                    </th>
                                    <th>Response&nbsp;Date</th>*@

                                </tr>
                            </thead>
                            <tbody id="trow" class="alin chnj">

                                @{
                                    Html.RenderAction("_Money_TransferReport", "Home", new { Model = Model });
                                }
                            </tbody>
                        </table>
                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                            <img src="~/img/ajax-loader.gif" />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left">
                <div class="modal-back width100 float-left">
                    @Html.Hidden("Idno")
                    
                    <div class="form-group" style="margin-bottom: 0px;float: left;width: auto;">
                        <label>Status</label>
                        <img id="img12" src="" style="height: 20px;width: 20px;margin:5px;max-width: 100%;padding: 2px; border-radius:50%;" />

                    </div>

                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">


                <div class="float-left width100">

                    <form class="first-form">
                       
                                
                         
                       
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>Sender No</label>
                                    @Html.TextBox("senderno", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>Request ID</label>
                                    @Html.TextBox("trans_id", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>

                        </div><!--.row-->
                        <!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    @Html.TextBox("bank_nm", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>

                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>IFSC Code</label>
                                    @Html.TextBox("ifsccode", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>

                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col">
                                <div class="form-group">
                                    <label>Response Time</label>
                                    @Html.TextBox("responce_time", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>

                        </div><!--.row-->
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Pre</label>
                                    @Html.TextBox("user_remain_pre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Income</label>
                                    @Html.TextBox("income", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Post</label>
                                    @Html.TextBox("user_remain", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor&nbsp;Pre</label>
                                    @Html.TextBox("DealerPre", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Income</label>
                                    @Html.TextBox("dlm_income", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor&nbsp;Post</label>
                                    @Html.TextBox("DealerPost", "", new { @class = "form-control", @style = "text-transform:uppercase", @readonly = "readonly" })
                                </div>
                            </div>
                        </div><!--.row-->
                        @*<div class="modal-footer width100 float-left">
                                <ul class="width100 float-left">
                                    <li class="one">
                                        <button type="button" value="Edit" class="btn">Edit</button>
                                    </li>
                                    <li class="One2" style="display:none;">
                                        <button type="button" value="SaveChange" class="btn special-iii btnssl2233" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Save Change</button>
                                    </li>
                                    <li class="three">
                                        <button type="button" value="Email_Verify" class="btn" onclick="EmailVerify()">Email Verify</button>
                                    </li>
                                    <li class="four">
                                        <button type="button" value="Delet" class="btn" onclick="Deleteuser()">Delete MD</button>
                                    </li>

                                </ul>
                                <div> <span id="error" style="color:red;"></span> </div>
                            </div>*@

                    </form>

                </div>
            </div><!--.modal-body-->


        </div>

    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script>
    $("#alldealer").select2();
    $("#allretailer").select2();
       $("#allapiuser").select2();
</script>


<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("ExcelMoneyreport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers +'&ddl_status=' + ddl_status +  '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("PDFMoneyReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status +  '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
        answers();
    });
</script>
<script type="text/javascript">
    function answers() {

        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Master") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Retailer") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";
            document.getElementById("apiid").style.display = "none";
        }
        else if (answer == "Api") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";
            document.getElementById("apiid").style.display = "block";
        }

    }
</script>
<script type="text/javascript">
                   function GotoPDF(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("GeneratePDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>
<!--show count Gst and Tds and Admin income-->
<script>
    function Getvaladmin(obj)
    {
        var val = obj.value;
        var txt_frm_date=$("#txt_frm_date").val();
        var txt_to_date = $("#txt_to_date").val();
          $.ajax({
            type: 'Post',
            url: "@Url.Action("MasterImpsIncmoe", "Home")",
            data:{Type:val,txt_frm_date:txt_frm_date,txt_to_date:txt_to_date},
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                var type = data.Type;

                if (type == "Master")
                {
                    document.getElementById("master").innerText = "₹ " + data.Adminincome;

                  }
                else if (type == "GST")
                {
                    document.getElementById("gst").innerText = "₹ " + data.Gst;
                   }
                else if (type == "TDS")
                {
                    document.getElementById("tds").innerText = "₹ " + data.Tds;
              }


        }
    });
    }
</script>
<!--show count Imps Verify and Count Imps In javscript-->
<script>
    function totaocount(obj)
    {
        var val = obj.value;
        var txt_frm_date=$("#txt_frm_date").val();
        var txt_to_date = $("#txt_to_date").val();
        var ddltop = $("#ddl_top").val();
          $.ajax({
            type: 'Post',
            url: "@Url.Action("CountImpasandVerify", "Home")",
              data: { Type: val, ddlval: ddltop, txt_frm_date: txt_frm_date, txt_to_date: txt_to_date },
            dataType: 'json',
            cache: false,
            async: false,
            success: function (data) {
                var type = data.Type;
                if (type == "Verify")
                {
                    document.getElementById("countverify").innerText = "ⓥ " + data.VerifyCount;

                  }
                else if (type == "IMPS")
                {
                    document.getElementById("countimps").innerText = "⇗ " + data.Impscount;
              }

              }
    });
    }
</script>
<script>
    function mdActionBtn(Idno) {
        $.ajax({
            url: '@Url.Action("Money_Tranfer_Details_View", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {
                if (Response[0].status == "SUCCESS") {
                    status = "../../ashok-images/correct.svg";
                    var color = "green";
                }

                if (Response[0].status == "FAILED") {
                    status = "../../ashok-images/closes.svg";
                    color = "red";
                }
                if (Response[0].status == "Pending") {
                    status = "../../ashok-images/clock.svg";

                }
                document.getElementById("img12").src = status
                document.getElementById("img12").style.backgroundColor = color
                $('#Idno').val(Response[0].idno)
                $('#senderno').val(Response[0].senderno)
                $('#trans_id').val(Response[0].trans_id)
                $('#bank_nm').val(Response[0].bank_nm)
                $('#ifsccode').val(Response[0].ifsccode)
                $('#responce_time').val(Response[0].responce_time)
                $('#user_remain_pre').val(Response[0].user_remain_pre)
                $('#income').val(Response[0].income)
                $('#user_remain').val(Response[0].user_remain)
                $('#DealerPre').val(Response[0].dlm_remain_pre)
                $('#dlm_income').val(Response[0].dlm_income)
                $('#DealerPost').val(Response[0].dlm_remain)

                $('#Response').val(Response[0].response_output)
            }
        });
    }

</script>
<script>
    var pageindex = 2;
        var NoMoredata = false;
    var inProgress = false;
    $(window).scroll(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var allapiuser = $('#allapiuser').val();
        var ddl_Type = $('#ddl_Type').val();

            if ($(window).scrollTop() > Number($("#mmm").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll1", "Home")",
                    { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date, "ddlusers": ddlusers, "alldealer": alldealer, "allretailer": allretailer, "ddl_status": ddl_status, "allapiuser": allapiuser,  "ddl_Type": ddl_Type},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>
    function findtotal() {
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("MoneyTransfer_Total", "Home")",
                 { "ddlusers": ddlusers,"ddl_status": ddl_status, "allretailer": allretailer, "alldealer": alldealer, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });

</script>



<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/MASTER/Home/m_Possreport') {
            $('.menu.side-icon ul li:nth-child(8) a').addClass('activee');
        }
    });
</script>



<script>
    $(document).ready(function () {
        $('.second-design-master .example-second').DataTable({
            paging: false
        });
    });

</script>