@model Vastwebmulti.Areas.ADMIN.Models.Operater_Commission

@{
    ViewBag.Title = "ShowAllSlab";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        @*var chh = '@ViewData["type"]';
        $('#' + chh+'').show();*@
    });
</script>

<style>
    .operatorindex-master {display: flex;}
    .operatorindex-master li {width: 11.1%;float: left;padding-right: 2px;}
    .operatorindex-master li a {padding-left: 0px !important;padding-right: 0 !important;width: 100%;float: left;}
    .operatorindex-master li a span {font-size: 12px;text-align: center;padding: 0 !important;white-space: nowrap;}
    .operatorindex-master-responsive .tab-content {overflow: auto;}

    .pancardoperator-tabledetails table tr th, .pancardoperator-tabledetails table tr td {
        border: 0 !important;width: 48.9% !important;float: left;background: #f5f5f5;margin-left: 1.2%;
        position: relative;left: 2px;border-left: 1px solid #ddd !important;border-right: 1px solid #ddd !important;
    }
    .pancardoperator-tabledetails table tr th.phisicalborder, .pancardoperator-tabledetails table tr td.phisicalborder {
    margin-left: 0;margin-right: 1%;
}
    .pancardoperator-tabledetails table tr:first-child th {border-top: 1px solid #ddd !important;}
    .pancardoperator-tabledetails table tr:last-child td {border-bottom: 1px solid #ddd !important;}
    .pancardoperator-tabledetails table tr th {font-size: 26px;color: #555;}
    .pancardoperator-tabledetails table tr td {font-size: 18px;}

    .master-four-design #pancardoperator .pancardoperator-tabledetails table, .master-four-design #pancardoperator .pancardoperator-tabledetails table tr, .master-four-design #pancardoperator .pancardoperator-tabledetails table tbody {
        background: transparent !important;
    }

    @@media screen and (max-width:766px) {
        .operatorindex-master {display: block;}
        .operatorindex-master li {width: 16%;float: left;margin-bottom: 5px;}
        .pancardoperator-tabledetails table tr th {font-size: 18px;}
        .pancardoperator-tabledetails table tr td {font-size: 14px;}
        .pancardoperator-tabledetails table tr {display: flex;}

    }

    @@media screen and (max-width:480px){
        .operatorindex-master-responsive {padding-left: 0px;}
        .operatorindex-master-responsive ul li a img {display: none;}
        .operatorindex-master-responsive ul li a br {display: none;}
        .operatorindex-master-responsive ul li a {padding: 10px 8px !important;}
        .operatorindex-master-responsive ul li.active a::before {display: none;}
        .operatorindex-master-responsive ul li.active a {margin: 0px;}
        .operatorindex-master-responsive ul li.active a span, .operatorindex-master-responsive ul li a span {
           top: 0;position: static !important;padding: 0px !important;margin: 0px !important;
        }
        .operatorindex-master li {width:auto;}

    }

</style>
<style>
    .button_1 {
        border: 1px solid #bfbebe;
        width: fit-content;
        margin-bottom: 5px;
    }
</style>

<section class="content">
    <div class="container-fluid operatorindex-master-responsive">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>User Management</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Commission</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix" style="margin-top:0px;">
            <div class="col-md-12 giftcardcategory giftcardcategory-third-design-master" style="margin-bottom:0px;">

                @*Third_Design-Start*@

                <div class="svg-container-third-designmaster">
                    <svg viewBox="0 0 202.9 45.5">
                        <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
                            <path d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
          c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
          c9.2,3.6,17.6,4.2,23.3,4H6.7z" />
                        </clipPath>
                    </svg>
                </div>

                @*Third_Design-End*@

                <center>
                    <ul id="leftulbar" class="nav nav-tabs tab-col-orange fullbodydycolorbg operatorindex-master opertor-third-design-master" role="tablist" style="background:#607D8B;border-bottom:none;">

                        <li role="presentation" class="active" style="margin-left:22px;">
                            <a href="#prepaidoperators" data-toggle="tab" aria-expanded="true">
                                <img src="../../ashok-images/mobile-application.svg" style="height:45px; margin-top:-5px;">
                                <br>
                                <span id="alltab" style="padding-left:5px;">Prepaid &amp; Dth</span>
                            </a>
                        </li>
                        <li role="presentation" class="" style="margin-left:36px;">
                            <a href="#utilitisoperators" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/increase.svg" style="height:45px; margin-top:-5px;">
                                <br><span>Utilities</span>
                            </a>
                        </li>
                        <li role="presentation" class="" style="margin-left:19px;">
                            <a href="#moneyoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../images/transfer-money.png" style="height:45px; margin-top:-5px;">
                                <br>
                                <span style="padding-left:5px;">Money Transfer</span>
                            </a>
                        </li>


                        <li role="presentation" class="" style="margin-left:26px;">
                            <a href="#pancardoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../images/pancardicon.png" style="height:45px; margin-top:-5px;">
                                <br>
                                <span style="padding-left:0px;">Pancard</span>
                            </a>
                        </li>
                        <li role="presentation" class="" style="margin-left:8px;box-shadow:none;">
                            <a href="#aepsoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../images/aespicon.png" style="height:45px;margin-top:-5px;">
                                <br><span style="margin-left:14px;">AEPS</span>
                            </a>
                        </li>
                        <li role="presentation" class="" style="margin-left:19px;">
                            <a href="#mposoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../images/mposicon.png" style="height:45px; margin-top:-5px;">
                                <br>
                                <span style="padding-left:5px;">M-POS</span>
                            </a>
                        </li>


                        <li role="presentation" class="" style="margin-left:19px;">
                            <a href="#flightoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/airplane.svg" style="height:45px; margin-top:-5px;">
                                <br>
                                <span style="padding-left:5px;">FLIGHT</span>
                            </a>
                        </li>

                        <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                            <a href="#busoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/bus (1).svg" style="height:38px;margin-top:2px;">
                                <br>
                                <span style="margin-left:-8px;">BUS</span>
                            </a>
                        </li>

                        <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                            <a href="#hoteloperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/hotel(1).svg" style="height:38px;margin-top:2px;">
                                <br>
                                <span style="margin-left:-8px;">HOTEL</span>
                            </a>
                        </li>
                        <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                            <a href="#giftcardoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/business(1).png" style="height:38px;margin-top:2px;">
                                <br>
                                <span style="margin-left:-8px;">Giftcard</span>
                            </a>
                        </li>

                        <li role="presentation" class="" style="margin-left:10px;box-shadow:none;padding-bottom:2px;">
                            <a href="#insuranceoperator" data-toggle="tab" aria-expanded="false">
                                <img src="../../ashok-images/computer.png" style="height:38px;margin-top:2px;">
                                <br>
                                <span style="margin-left:-8px;">Security</span>
                            </a>
                        </li>

                    </ul>
                </center>

                @*Operator-Info-Third-Design-Start*@

                <center>
                    <ul id="leftulbar" class="nav nav-tabs tab-col-orange fullbodydycolorbg operatorindex-master operatorindex-master-thirddes" role="tablist" style="background:#607D8B;border-bottom:none;">

                        <li role="presentation" class="active">
                            <a href="#prepaidoperators" data-toggle="tab" aria-expanded="true">
                                <i><img src="../../ashok-images/mobile-application.svg" /></i>

                                <span id="alltab">Prepaid &amp; Dth</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#utilitisoperators" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/increase.svg" /></i>
                                <span>Utilities</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#moneyoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../images/transfer-money.png" /></i>

                                <span>Money Transfer</span>
                            </a>
                        </li>


                        <li role="presentation" class="">
                            <a href="#pancardoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../images/pancardicon.png" /></i>

                                <span>Pancard</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#aepsoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../images/aespicon.png" /></i>
                                <span>AEPS</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#mposoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../images/mposicon.png" /></i>

                                <span>M-POS</span>
                            </a>
                        </li>


                        <li role="presentation" class="">
                            <a href="#flightoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/airplane.svg" /></i>

                                <span>FLIGHT</span>
                            </a>
                        </li>

                        <li role="presentation" class="">
                            <a href="#busoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/bus (1).svg" /></i>

                                <span>BUS</span>
                            </a>
                        </li>

                        <li role="presentation" class="">
                            <a href="#hoteloperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/hotel(1).svg" /></i>

                                <span>HOTEL</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#giftcardoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/business(1).png" /></i>

                                <span>Giftcard</span>
                            </a>
                        </li>

                        <li role="presentation" class="">
                            <a href="#insuranceoperator" data-toggle="tab" aria-expanded="false">
                                <i><img src="../../ashok-images/computer.png" /></i>

                                <span>Security</span>
                            </a>
                        </li>

                    </ul>
                </center>

                @*Operator-Info-Third-Design-End*@

            </div>
            <div class="tab-content tab-contentoperators tableseconddes-master">
                <div role="tabpanel" class="tab-pane  active tbdis" id="prepaidoperators">
                    <div class="col-md-12">
                        <div class="button_1">
                            @if (ViewBag.show == true)
                            {
                                <a href="@Url.Action("Prepaid_Slab_setting", "Home")" class="btn btn-default"> Slab Setting Retailer </a>
                            }
                        </div>
                        <table class="table table-bordered table-striped table-hover">

                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    @{
                                        var range1 = Convert.ToInt32(@Model.AmountRange[0].maximum1);
                                        var range2 = Convert.ToInt32(@Model.AmountRange[0].maximum2);
                                        var rangee1 = range1 + 1;
                                        var rangee = range2 + 1;
                                    }
                                    <th>Operator&nbsp;Current&nbsp;Status</th>
                                    @*<th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>*@
                                    <th>Operator&nbsp;Type</th>
                                    <th>Code</th>
                                    <th style="text-align:center;"><span class="rangeone_123">Range One</span><p>1 To @range1</p></th>
                                    <th style="text-align:center;"><span class="rangeone_123">Range Two</span><p>@rangee1 To @range2</p></th>
                                    <th style="text-align:center;"><span class="rangeone_123">Range Three</span><p>@rangee and Above</p></th>
                                    <th>Blocked&nbsp;Time</th>
                                </tr>
                            </thead>
                            <tbody class="tdyspn">
                                @foreach (var item in Model.Prepaid.OrderBy(x => x.OperatorType))
                                {


                                <tr>
                                    <td class="activeinactive">
                                        @if (item.Status == "Y")
                                        {
                                            <p class=""><span class="activeopertor" style="background: green;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">Active</span> @Html.DisplayFor(modelItem => item.OperatorName)</p>
                                        }
                                        else
                                        {
                                            <p class=""><span class="inactiveopertor" style="background: red;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">Inactive</span> @Html.DisplayFor(modelItem => item.OperatorName)</p>
                                        }
                                    </td>
                                    @*<td>@Html.DisplayFor(modelItem => item.OperatorName)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>


                                    <td>@Html.DisplayFor(modelItem => item.Commission)&nbsp;(%)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Commission1)&nbsp;(%)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Commission2)&nbsp;(%)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="utilitisoperators">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">

                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Operator&nbsp;Current&nbsp;Status</th>
                                    @*<th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>*@
                                    <th>Operator&nbsp;Type</th>
                                    <th>Code</th>

                                    <th>Blocked&nbsp;Time</th>
                                    <th>Commission</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Electricity_comm.OrderBy(x => x.OperatorType))
                                {
                                    <tr>
                                        <td class="activeinactive">
                                            @if (item.Status == "Y")
                                            {
                                                <p class=""><span class="activeopertor" style="background: green;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">Active</span> @Html.DisplayFor(modelItem => item.OperatorName)</p>


                                            }
                                            else
                                            {
                                                <p class=""><span class="inactiveopertor" style="background: red;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">InActive</span> @Html.DisplayFor(modelItem => item.OperatorName)</p>
                                            }
                                        </td>
                                        @*<td>@Html.DisplayFor(modelItem => item.OperatorName)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>

                                        <td>@Html.DisplayFor(modelItem => item.BlockTime)</td>
                                        <td>
                                            @if (item.CommIn == true)
                                            {
                                                @Html.DisplayFor(modelItem => item.Commission) <span>(Rs.)</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.Commission) <span>(%)</span>
                                            }

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="moneyoperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">

                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Minmum&nbsp;Amount&nbsp;(₹)</th>
                                    <th>Maximum&nbsp;Amount&nbsp;(₹)</th>
                                    <th>Transition&nbsp;Charges</th>
                                    <th>Charges&nbsp;In</th>

                                    @*<th style="padding-left:0px; text-align:center">Verify&nbsp;Charge (₹)</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;0&nbsp;-&nbsp;1000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;1001&nbsp;-&nbsp;2000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;2001&nbsp;-&nbsp;3000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;3001&nbsp;-&nbsp;4000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;4001&nbsp;-&nbsp;5000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;5001&nbsp;-&nbsp;6000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;6001&nbsp;-&nbsp;7000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;7001&nbsp;-&nbsp;8000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;8001&nbsp;-&nbsp;9000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;9001&nbsp;-&nbsp;10000</th>

        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;10001&nbsp;-&nbsp;11000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;11001&nbsp;-&nbsp;12000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;12001&nbsp;-&nbsp;13000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;13001&nbsp;-&nbsp;14000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;14001&nbsp;-&nbsp;15000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;15001&nbsp;-&nbsp;16000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;16001&nbsp;-&nbsp;17000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;17001&nbsp;-&nbsp;18000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;18001&nbsp;-&nbsp;19000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;19001&nbsp;-&nbsp;20000</th>

        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;20001&nbsp;-&nbsp;21000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;21001&nbsp;-&nbsp;22000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;22001&nbsp;-&nbsp;23000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;23001&nbsp;-&nbsp;24000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;24001&nbsp;-&nbsp;25000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;25001&nbsp;-&nbsp;26000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;26001&nbsp;-&nbsp;27000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;27001&nbsp;-&nbsp;28000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;28001&nbsp;-&nbsp;29000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;29001&nbsp;-&nbsp;30000</th>

        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;30001&nbsp;-&nbsp;31000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;31001&nbsp;-&nbsp;32000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;32001&nbsp;-&nbsp;33000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;33001&nbsp;-&nbsp;34000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;34001&nbsp;-&nbsp;35000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;35001&nbsp;-&nbsp;36000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;36001&nbsp;-&nbsp;37000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;37001&nbsp;-&nbsp;38000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;38001&nbsp;-&nbsp;39000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;39001&nbsp;-&nbsp;40000</th>

        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;40001&nbsp;-&nbsp;41000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;41001&nbsp;-&nbsp;32000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;42001&nbsp;-&nbsp;43000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;43001&nbsp;-&nbsp;44000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;44001&nbsp;-&nbsp;45000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;45001&nbsp;-&nbsp;46000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;46001&nbsp;-&nbsp;47000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;47001&nbsp;-&nbsp;48000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;48001&nbsp;-&nbsp;49000</th>
        <th style="padding-left:0px; text-align:center">Charge (₹)&nbsp;49001&nbsp;-&nbsp;50000</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Money2)
                                {
                                    <tr>
                                        <td colspan="2">Account&nbsp;Verify&nbsp;Charge (₹)</td>
                                        <td colspan="2">@Html.DisplayFor(modelItem => item.Verifycomm)</td>

                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_1000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_1000)</td>

                                    </tr>
                                    <tr>
                                        <td>1001</td>
                                        <td>2000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_2000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_2000)</td>

                                    </tr>
                                    <tr>
                                        <td>2001</td>
                                        <td>3000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_3000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_3000)</td>

                                    </tr>
                                    <tr>
                                        <td>3001</td>
                                        <td>4000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_4000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_4000)</td>

                                    </tr>
                                    <tr>
                                        <td>4001</td>
                                        <td>5000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_5000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_5000)</td>

                                    </tr>
                                    <tr>
                                        <td>5001</td>
                                        <td>6000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_6000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_6000)</td>

                                    </tr>
                                    <tr>
                                        <td>6001</td>
                                        <td>7000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_7000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_7000)</td>

                                    </tr>
                                    <tr>
                                        <td>7001</td>
                                        <td>8000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_8000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_8000)</td>

                                    </tr>
                                    <tr>
                                        <td>8001</td>
                                        <td>9000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_9000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_9000)</td>

                                    </tr>

                                    <tr>
                                        <td>9001</td>
                                        <td>10000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_10000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_10000)</td>

                                    </tr>
                                    <tr>
                                        <td>10001</td>
                                        <td>11000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_11000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_11000)</td>

                                    </tr>
                                    <tr>
                                        <td>11001</td>
                                        <td>12000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_12000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_12000)</td>

                                    </tr>
                                    <tr>
                                        <td>12001</td>
                                        <td>13000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_13000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_13000)</td>

                                    </tr>
                                    <tr>
                                        <td>13001</td>
                                        <td>14000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_14000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_14000)</td>

                                    </tr>

                                    <tr>
                                        <td>14001</td>
                                        <td>15000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_15000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_15000)</td>

                                    </tr>

                                    <tr>
                                        <td>15001</td>
                                        <td>16000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_16000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_16000)</td>

                                    </tr>
                                    <tr>
                                        <td>16001</td>
                                        <td>17000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_17000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_17000)</td>

                                    </tr>
                                    <tr>
                                        <td>17001</td>
                                        <td>18000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_18000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_18000)</td>

                                    </tr>
                                    <tr>
                                        <td>18001</td>
                                        <td>19000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_19000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_19000)</td>

                                    </tr>
                                    <tr>
                                        <td>19001</td>
                                        <td>20000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_20000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_20000)</td>

                                    </tr>
                                    <tr>
                                        <td>20001</td>
                                        <td>21000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_21000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_21000)</td>

                                    </tr>
                                    <tr>
                                        <td>21001</td>
                                        <td>22000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_22000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_22000)</td>

                                    </tr>
                                    <tr>
                                        <td>22001</td>
                                        <td>23000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_23000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_23000)</td>

                                    </tr>
                                    <tr>
                                        <td>23001</td>
                                        <td>24000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_24000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_24000)</td>

                                    </tr>
                                    <tr>
                                        <td>24001</td>
                                        <td>25000</td>
                                        <td>@Html.DisplayFor(modelItem => item.comm_25000)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Type_25000)</td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Above 25K</td>

                                        @if (item.Type_26000 == "Rs")
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.comm_26000)</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.per_26000)</td>
                                        }
                                        <td>@Html.DisplayFor(modelItem => item.Type_26000)</td>

                                    </tr>
                                    @*<tr>
                <td>25001</td>
                <td>26000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_26000)</td>

            </tr>
            <tr>
                <td>26001</td>
                <td>27000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_27000)</td>

            </tr>

            <tr>
                <td>27001</td>
                <td>28000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_28000)</td>

            </tr>

            <tr>
                <td>28001</td>
                <td>29000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_29000)</td>

            </tr>
            <tr>
                <td>29001</td>
                <td>30000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_30000)</td>

            </tr>
            <tr>
                <td>30001</td>
                <td>31000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_31000)</td>

            </tr>
            <tr>
                <td>31001</td>
                <td>32000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_32000)</td>

            </tr>
            <tr>
                <td>32001</td>
                <td>33000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_33000)</td>

            </tr>
            <tr>
                <td>33001</td>
                <td>34000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_34000)</td>

            </tr>
            <tr>
                <td>34001</td>
                <td>35000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_35000)</td>

            </tr>
            <tr>
                <td>35001</td>
                <td>36000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_36000)</td>

            </tr>
            <tr>
                <td>36001</td>
                <td>37000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_37000)</td>

            </tr>
            <tr>
                <td>37001</td>
                <td>38000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_38000)</td>

            </tr>
            <tr>
                <td>38001</td>
                <td>39000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_39000)</td>

            </tr>
            <tr>
                <td>39001</td>
                <td>40000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_40000)</td>

            </tr>
            <tr>
                <td>40001</td>
                <td>41000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_41000)</td>

            </tr>

            <tr>
                <td>41001</td>
                <td>42000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_42000)</td>

            </tr>


            <tr>
                <td>42001</td>
                <td>43000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_43000)</td>

            </tr>

            <tr>
                <td>43001</td>
                <td>44000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_44000)</td>

            </tr>
            <tr>
                <td>44001</td>
                <td>45000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_45000)</td>

            </tr>
            <tr>
                <td>45001</td>
                <td>46000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_46000)</td>

            </tr>
            <tr>
                <td>46001</td>
                <td>47000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_47000)</td>

            </tr>
            <tr>
                <td>47001</td>
                <td>48000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_48000)</td>

            </tr>
            <tr>
                <td>48001</td>
                <td>49000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_49000)</td>

            </tr>
            <tr>
                <td>49001</td>
                <td>50000</td>
                <td>@Html.DisplayFor(modelItem => item.comm_50000)</td>

            </tr>*@



                                    @*<td>@Html.DisplayFor(modelItem => item.Verifycomm)</td>*@
                                    @*<td>@Html.DisplayFor(modelItem => item.comm_1000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_2000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_3000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_4000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_5000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_6000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_7000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_8000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_9000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_10000)</td>

            <td>@Html.DisplayFor(modelItem => item.comm_11000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_12000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_13000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_14000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_15000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_16000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_17000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_18000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_19000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_20000)</td>

            <td>@Html.DisplayFor(modelItem => item.comm_21000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_22000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_23000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_24000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_25000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_26000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_27000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_28000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_29000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_30000)</td>

            <td>@Html.DisplayFor(modelItem => item.comm_31000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_32000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_33000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_34000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_35000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_36000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_37000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_38000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_39000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_40000)</td>

            <td>@Html.DisplayFor(modelItem => item.comm_41000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_42000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_43000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_44000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_45000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_46000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_47000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_48000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_49000)</td>
            <td>@Html.DisplayFor(modelItem => item.comm_50000)</td>
            <td>@Html.DisplayFor(modelItem => item.gst)</td>*@
                                    @*</tr>*@
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="pancardoperator">
                    <div class="col-md-12 nnbdr pancardoperator-tabledetails pancardtable-secondch">

                        <table class="table">

                            <thead style="background-color:whitesmoke;">
                                @*<tr>


                                    <th style="padding-left:0px;text-align:center">Token&nbsp;Digital&nbsp;Value</th>
                                    <th style="padding-left:0px;text-align:center">Token&nbsp;Physical&nbsp;Value</th>

                                    <th style="padding-left:0px;text-align:center">Digital&nbsp;Commission</th>
                                    <th style="padding-left:0px;text-align:center">Physical&nbsp;Commission</th>

                                </tr>*@



                            </thead>
                            <tbody>
                                @foreach (var item in Model.Pencard_comm)
                                {
                                    @*<tr>
                                        <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.TokenValueDigital)</td>
                                        <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.TokenValuePhysical)</td>
                                        <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.CommissionDigital)</td>
                                        <td style="text-align:center;"> @Html.DisplayFor(modelItem => item.CommissionPhysical)</td>

                                    </tr>*@

                                    <tr>
                                        <th class="phisicalborder">Physical&nbsp;Token&nbsp;Price</th>
                                        <th class="phisicalbordersecond">Digital&nbsp;Token&nbsp;Price</th>
                                    </tr>
                                    <tr>
                                        <td class="phisicalborder"> ₹ @Html.DisplayFor(modelItem => item.TokenValuePhysical)</td>
                                        <td class="phisicalbordersecond">₹ @Html.DisplayFor(modelItem => item.TokenValueDigital)</td>
                                    </tr>

                                    <tr>

                                        <th class="phisicalborder">Commission</th>
                                        <th class="phisicalbordersecond">Commission</th>
                                    </tr>
                                    <tr>
                                        <td class="phisicalborder">₹ @Html.DisplayFor(modelItem => item.CommissionPhysical)</td>

                                        <td class="phisicalbordersecond">₹ @Html.DisplayFor(modelItem => item.CommissionDigital)</td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="aepsoperator">
                    <div class="col-md-12" style="overflow:scroll;">

                        <table class="table table-bordered table-striped">

                            <thead style="background-color:whitesmoke;">

                                <tr>
                                    <th rowspan="2">CHARGE'S<br /> <span style="font-size:10px; color:green;">Aadhar&nbsp;Pay&nbsp;(%)</span></th>
                                    <th rowspan="2">CHARGE'S<br /> <span style="font-size:10px; color:green;">Mini&nbsp;Statement&nbsp;(₹)</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">500&nbsp;to&nbsp;999</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">1000&nbsp;to&nbsp;1499</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">1500&nbsp;to&nbsp;1999</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">2000&nbsp;to&nbsp;2499</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">2500&nbsp;to&nbsp;2999</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">3000&nbsp;to&nbsp;3499</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">3500&nbsp;to&nbsp;5000</span></th>
                                    <th colspan="4" style="text-align:center">AEPS&nbsp;COMM<br /> <span style="font-size:12px; color:green;">5001&nbsp;to&nbsp;10000</span></th>

                                </tr>
                                <tr>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                    <td>(%)</td>
                                    <td>(₹)</td>
                                    <td>Max(₹)</td>
                                    <td>Active</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AEPS.Count() > 0)
                                {
                                    foreach (var item in Model.AEPS)
                                    {
                                        var active1 = item.Type_500_999;
                                        var color1 = ""; var color11 = "";
                                        if (active1 == "Per")
                                        {
                                            color1 = "green";
                                            active1 = "(%)";
                                        }
                                        else
                                        {
                                            color11 = "green";
                                            active1 = "(₹)";
                                        }
                                        var active2 = item.Type_1000_1499;
                                        var color2 = ""; var color21 = "";
                                        if (active2 == "Per")
                                        {
                                            color2 = "green";
                                            active2 = "(%)";
                                        }
                                        else
                                        {
                                            color21 = "green";
                                            active2 = "(₹)";
                                        }
                                        var active3 = item.Type_1500_1999;
                                        var color3 = ""; var color31 = "";
                                        if (active3 == "Per")
                                        {
                                            color3 = "green";
                                            active3 = "(%)";
                                        }
                                        else
                                        {
                                            color31 = "green";
                                            active3 = "(₹)";
                                        }
                                        var active4 = item.Type_2000_2499;
                                        var color4 = ""; var color41 = "";
                                        if (active4 == "Per")
                                        {
                                            color4 = "green";
                                            active4 = "(%)";
                                        }
                                        else
                                        {
                                            color41 = "green";
                                            active4 = "(₹)";
                                        }
                                        var active5 = item.Type_2500_2999;
                                        var color5 = ""; var color51 = "";
                                        if (active5 == "Per")
                                        {
                                            color5 = "green";
                                            active5 = "(%)";
                                        }
                                        else
                                        {
                                            color51 = "green";
                                            active5 = "(₹)";
                                        }
                                        var active6 = item.Type_3000_3499;
                                        var color6 = ""; var color61 = "";
                                        if (active6 == "Per")
                                        {
                                            color6 = "green";
                                            active6 = "(%)";
                                        }
                                        else
                                        {
                                            color61 = "green";
                                            active6 = "(₹)";
                                        }
                                        var active7 = item.Type_3500_5000;
                                        var color7 = ""; var color71 = "";
                                        if (active7 == "Per")
                                        {
                                            color7 = "green";
                                            active7 = "(%)";
                                        }
                                        else
                                        {
                                            color71 = "green";
                                            active7 = "(₹)";
                                        }
                                        var active8 = item.Type_5001_10000;
                                        var color8 = ""; var color81 = "";
                                        if (active8 == "Per")
                                        {
                                            color8 = "green";
                                            active8 = "(%)";
                                        }
                                        else
                                        {
                                            color81 = "green";
                                            active8 = "(₹)";
                                        }
                                        <tr>

                                            <td>@item.aadharpay</td>
                                            <td>@item.ministatement</td>
                                            <td style="color:@color1">@item.per_500_999</td>
                                            <td style="color:@color11">@item.rs_500_999</td>
                                            <td style="color:@color1">@item.maxrs_500_999</td>
                                            <td>@active1</td>
                                            <td style="color:@color2;">@item.per_1000_1499</td>
                                            <td style="color:@color21;">@item.rs_1000_1499</td>
                                            <td style="color:@color2;">@item.maxrs_1000_1499</td>
                                            <td>@active2</td>
                                            <td style="color:@color3">@item.per_1500_1999</td>
                                            <td style="color:@color31">@item.rs_1500_1999</td>
                                            <td style="color:@color3">@item.maxrs_1500_1999</td>
                                            <td>@active3</td>
                                            <td style="color:@color4">@item.per_2000_2499</td>
                                            <td style="color:@color41">@item.rs_2000_2499</td>
                                            <td style="color:@color4">@item.maxrs_2000_2499</td>
                                            <td>@active4</td>
                                            <td style="color:@color5">@item.per_2500_2999</td>
                                            <td style="color:@color51">@item.rs_2500_2999</td>
                                            <td style="color:@color5">@item.maxrs_2500_2999</td>
                                            <td>@active5</td>
                                            <td style="color:@color6">@item.per_3000_3499</td>
                                            <td style="color:@color61">@item.rs_3000_3499</td>
                                            <td style="color:@color6">@item.maxrs_3000_3499</td>
                                            <td>@active6</td>
                                            <td style="color:@color7">@item.per_3500_5000</td>
                                            <td style="color:@color71">@item.rs_3500_5000</td>
                                            <td style="color:@color7">@item.maxrs_3500_5000</td>
                                            <td>@active7</td>
                                            <td style="color:@color8">@item.per_5001_10000</td>
                                            <td style="color:@color81">@item.rs_5001_10000</td>
                                            <td style="color:@color8">@item.maxrs_5001_10000</td>
                                            <td>@active8</td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr><td colspan="2"><h3 style="text-align:center">Firstly Purchase AEPS Service</h3></td></tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="mposoperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead style="background-color:whitesmoke;">
                                <tr>

                                    <th>Withdraw</th>
                                    <th>S&nbsp;Debit&nbsp;2000</th>
                                    <th>S&nbsp;Debit&nbsp;above&nbsp;2000</th>
                                    <th>S&nbsp;Credit&nbsp;Normal</th>
                                    <th>S&nbsp;Credit&nbsp;Grocery</th>
                                    <th>S&nbsp;Credit&nbsp;EduIns</th>

                                    <th>Credit_Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MPOS)
                                {
                                    <tr>

                                        <td>@item.CashWithdraw</td>
                                        <td>@item.Salesdebitupto2000</td>
                                        <td>@item.Salesdebitabove2000</td>
                                        <td>@item.SalescreditNormal</td>
                                        <td>@item.Salescreditgrocery</td>
                                        <td>@item.SalescreditEduandInsu</td>

                                        <td>@item.credit_type</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>



                <div role="tabpanel" class="tab-pane flash" id="flightoperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Flight&nbsp;Type)</th>
                                    <th>Commision&nbsp;Value&nbsp;(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FLIGHT)
                                {
                                    <tr>
                                        <td>@string.Format("{0}", item.IsDomestic ? "Domestic" : "International")</td>
                                        <td>@item.marginPercentage</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="busoperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Type</th>
                                    <th>Commision&nbsp;Value&nbsp;(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BUS)
                                {
                                    <tr>
                                        <td>BUS</td>
                                        <td>@item.marginPercentage</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="hoteloperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Hotel&nbsp;Type</th>
                                    <th>Commision&nbsp;Value&nbsp;(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.HOTEL)
                                {
                                    <tr>
                                        <td>@string.Format("{0}", item.IsDomestic ? "Domestic" : "International")</td>
                                        <td>@item.marginPercentage</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="giftcardoperator">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Operator&nbsp;Current&nbsp;Status</th>
                                    @*<th style="padding-left:0px; text-align:center">Operator&nbsp;Name</th>*@
                                    <th>Operator&nbsp;Type</th>
                                    <th>Code</th>

                                    <th>Commission</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Giftcard)
                                {

                                    <tr>
                                        <td class="activeinactive">
                                            @if (item.Status == "Y")
                                            {

                                                <p class=""><span class="activeopertor" style="background: green;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">Active</span>@Html.DisplayFor(modelItem => item.OperatorName)</p>
                                            }
                                            else
                                            {

                                                <p class=""><span class="inactiveopertor" style="background: red;color: #fff;cursor: pointer;padding: 2px 6px;margin-right: 5px;">Inactive</span>@Html.DisplayFor(modelItem => item.OperatorName)</p>
                                            }
                                        </td>
                                        @*<td>@Html.DisplayFor(modelItem => item.OperatorName)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.OperatorType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OperatorCode)</td>

                                        <td>@Html.DisplayFor(modelItem => item.Commission)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane flash" id="insuranceoperator">
                    <div class="col-md-12">



                    </div>
                </div>


            </div>
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    @using (Html.BeginForm("OperatorIndex", "Home", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group" style="margin-top: 2px;margin-bottom:0px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li class="active" style="color:#a79f9f; font-size:15px;font-weight:700;">Show Operator Wise Commission Details</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;">
                                    @Html.DropDownList("ddlcomm", new List<SelectListItem>
                              {
                             new SelectListItem{ Text="Select One",Value="Select",},
                              new SelectListItem{Text="Prepaid & Dth",Value="Prepaid"},
                              new SelectListItem{Text="Utilities",Value="Utility"},
                              new SelectListItem{Text="Money",Value="Money"},
                              new SelectListItem{Text="Pancard",Value="Pancard"},
                              new SelectListItem{Text="AEPS",Value="AEPS"},
                                   new SelectListItem{Text="M-POS",Value="MPOS"},
                                  new SelectListItem{Text="INDO-NEPAL",Value="INDONEPAL"},
                                      new SelectListItem{Text="FLIGHT",Value="FLIGHT"},
                                       new SelectListItem{Text="BUS",Value="BUS"},
                                          new SelectListItem{Text="HOTEL",Value="HOTEL"},
                                           new SelectListItem{Text="Giftcard",Value="GIFT"},
                                            new SelectListItem{Text="Broadband",Value="Broadband"},
                                             new SelectListItem{Text="Loan",Value="Loan"},
                                              new SelectListItem{Text="Water",Value="Water"},
                                                    new SelectListItem{Text="Insurance",Value="Insurance"},
                              }, new { @class = "form-control", @style = "margin-top:5px; padding-left:0px; padding-right:0px;text-align:center;border:1px solid #dddddd;height:32px;" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="btntype" name="btntype" class="btn  waves-effect" style=" margin-top:5px;margin-right:6px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-search" style="top:1px;font-size:15px;"></i>
                                    <span style="top:0px;">Search</span>
                                </button>
                            </div>

                        </div>
                    }
                </div>
            </div>*@
        </div>

    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function OnSuccess(data) {
        //alert(data);
        //$("PartialDiv").html(data);
        //alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);
    }
    function OnFailed(data) {
        alert("Failed to load data at this movement!");
        //alert('HTTP Status Code: ' + data.param1 + '  Error Message: ' + data.param2);
    }
    function OnBegin() {
        //alert("begin");
        $("#PartialDiv").html("<p>Loading...</p>");
    }
</script>

