@using Vastwebmulti.Models;
@model IEnumerable<Vastwebmulti.Models.select_dlm_pur_order_Result>
@{
    ViewBag.Title = "Orders Requests";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Dealer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Dealer")
        {
            favimage = usernname.SingleOrDefault().NickName;

        }
    }
}
<style>
    .nav-tabs li.active a {
        background: none;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .dateselect-master {
        width: 50%;
        float: left;
        position: relative;
    }

        .dateselect-master .custom-date-icon {
            width: 28px;
        }

    @@media screen and (max-width:766px) {
        .master-receivefund, .master-receivefund .col-md-3, .master-receivefund .col-md-7 {
            width: 100% !important;
            float: left !important;
        }


            .master-receivefund .form-group, .master-receivefund .form-group ol {
                margin-bottom: 0px;
            }

            .master-receivefund .col-md-3 {
                margin-top: 5px;
                margin-bottom: 5px;
            }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Distributor Wallet Request</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                @*<li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>*@
                <li><a href="javascript:void(0);">Distributor Wallet Request</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 master-receivefund">
                <div class="card">
                    @using (Html.BeginForm("purcharge_request", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-7 dealer-none-fourclass" style="float:left;width:auto;padding:0px;">
                                <div class="form-group" style="margin-top: 2px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li class="active" style="color:#555; font-size:15px;font-weight:700;">Purchase Order Request</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="col-md-2" style="padding: 0px;float:right; width: auto;padding-left:5px;">
                                <div class="form-group">
                                    <div style="float:right">

                                        <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-right:0px;float:right;width:auto;padding-left:5px;">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin: 0px; height: 32px; border: 1px solid #bbb !important;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>

                            </div>

                            <div class="col-md-3" style="padding: 0; float: right; width: auto;">
                                <div class="form-group" style="margin-bottom:0px;width:100%;">
                                    <div class="input-daterange input-group">
                                        <div class="dateselect-master" style="padding-right:3px;">
                                            <div class="custom-date-icon">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; margin-top:0px;", autocomplete = "off" })
                                        </div>
                                        <div class="dateselect-master" style="padding-left:3px;">
                                            <div class="custom-date-icon" style="left:3px;">
                                                <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; margin-top:0px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body" style="padding:0px;">
                        <div class="table-responsive" style="position:inherit;">
                            <table class="table table-bordered table-striped" style="width:100%;">

                                <thead style="background-color:whitesmoke;">

                                    <tr>
                                        <th>Order&nbsp;No</th>
                                        <th>Status</th>
                                        <th>@favimage&nbsp;Info</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>₹&nbsp;Charge</th>
                                        <th>Payment&nbsp;Mode</th>
                                        <th>Action</th>
                                        <th>Request&nbsp;Date </th>
                                        <th>To&nbsp;Acc&nbsp;No </th>
                                        <th>UtrNo/SlipNo </th>
                                        <th>Comment</th>
                                        <th>Screenshot </th>
                                        <th>Response&nbsp;Date</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var color = "";
                                        var stscolor = "";
                                        if (item.type_ == "Cash")
                                        {
                                            color = "green";
                                        }
                                        if (item.type_ == "Credit")
                                        {
                                            color = "red";
                                        }
                                        if (item.sts == "Pending")
                                        {
                                            stscolor = "#FF9800";

                                        }
                                        if (item.sts == "APPROVED")
                                        {
                                            stscolor = "green";

                                        }
                                        if (item.sts == "REJECTED")
                                        {
                                            stscolor = "red";

                                        }

                                        <tr>
                                            <td><p style="font-size:12px;">@item.orderno&nbsp;⇒&nbsp;<span style="color:@color;font-weight:600;">@item.type_.ToUpper()</span></p></td>
                                            <td><p style="font-size:12px;text-align:center;"><span style="color:@stscolor;font-weight:600;">@item.sts.ToUpper()</span></p></td>
                                            <td><p style="font-size:11px;font-weight:700;">@Html.DisplayFor(modelItem => item.DealerEmail).ToString().ToUpper()</p></td>
                                            <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.amount)</p></td>
                                            <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.cashDepositCharge)</p></td>
                                            <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.paymode).ToString().ToUpper()</p></td>
                                            <td>
                                                <div class="row">
                                                    @if (item.sts == "Pending")
                                                    {
                                                        <div class="col-xs-6" style="margin-bottom:0px;">
                                                            <center>
                                                                <button type="button" name="type" onclick="return funin('@item.id','APP')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa fa-check" style="color:green;"></li> </button>
                                                            </center>
                                                        </div>
                                                        <div class="col-xs-6" style="margin-bottom:0px;">
                                                            <center>
                                                                <button type="button" name="type" onclick="return funin('@item.id','REJ')" style="background:transparent;border:none;font-size:20px;margin-top:-6px;"><li class="fa  fa-ban" style="color:red;"></li> </button>
                                                            </center>
                                                        </div>
                                                    }
                                                    else
                                                    {

                                                    }
                                                </div>
                                            </td>
                                            <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.reqdate)</p></td>
                                            <td><p style="font-size:12px;text-align:center;">@Html.DisplayFor(modelItem => item.Toaccountno)</p></td>
                                            <td>@Html.DisplayFor(modelItem => item.utrno).ToString().ToUpper()</td>
                                            <td>@Html.DisplayFor(modelItem => item.details)</td>

                                            <td>
                                                @if (!string.IsNullOrWhiteSpace(item.Slip))
                                                {
                                                    <img src="@Url.Content("~/" + item.Slip)" height="60" width="60" />
                                                }
                                            </td>
                                            <td>@String.Format("{0:dd-MM-yyy}", item.respodate)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td><p style="font-size:17px;">Total</p></td>
                                        <td></td>
                                        <td></td>
                                        <td><p style="font-size:18px;text-align:center;">@Model.Sum(a => a.amount)</p></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:black;">Enter Comment</h4>
            </div>
            @using (Html.BeginForm("updatepurchage_dlm", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="text" id="id" name="id" class="form-control" style="display:none;" />
                    <input type="text" id="type" name="type" class="form-control" style="display:none;" />
                    <textarea id="txtcomment" name="txtcomment" class="form-control" required="" placeholder="Enter Comment"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="btn" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right: 12px; height:34px;">
                        <span style="top:-2px;color:black;">Save Change</span>
                    </button>
                    <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                        <span style="top:-2px;color:black;">Close</span>
                    </button>
                </div>

            }

        </div>

    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(document).ready(function()
    {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>
<!--Insert Popuop-->
<script>
    $(document).ready(function () {
        var message = '@ViewData["successorder"]';
        if (message != "" && message != null) {
            swal("Good job!", message, "success");

        }
        var errormessage = '@ViewData["failedorder"]';
        if (errormessage != "" && errormessage != null) {
            swal("Oops!", errormessage, "error");

        }

    });
</script>
<script type="text/jscript">
    $(function () {
        var data = '@ViewData["show"]';
        if (data != "") {
            swal("Oops...", data, "error");
        }
    })


</script>
<script>
    function funin(idno, status) {
        var answer = confirm("ARE YOU SURE?")
        if (answer) {
            var id = $('#id').val(idno);
            var type = $('#type').val(status);

            $('#myModal').modal('show');
            var txtcomment = $('#txtcomment').val();
            var type = $('#type').val();
            var id = $('#id').val();
            return true;
        }
        else {
            return false;
        }
    }
</script>


