@using System.Net.Mime
@using Vastwebmulti.Models
@model IEnumerable<Vastwebmulti.Models.Select_balance_Super_stokist_Result>
@{
    ViewBag.Title = "Send";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
     .dropdown-menu {
        margin-top: 81px !important;
    }
    .dateselect-master {
        width: 50%;
        float: left;
        position: relative;
    }
        .dateselect-master .custom-date-icon {
            width: 28px;
        }

    .table-responsive table {
        background: #f5f5f5;
    }

    @@media screen and (max-width:766px){
        .master-receivefund, .master-receivefund .col-md-3, .master-receivefund .col-md-7 {
            width: 100% !important;
            float: left !important;
        }
        .receivefund-table-master {margin-top:0px !important;}
        .master-receivefund .form-group, .master-receivefund .form-group ol {
            margin-bottom: 0px;
        }
        .master-receivefund .col-md-3 {
            margin-top: 5px;
        }
    }

   
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Master-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Received From Admin</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Report's&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0);">Received From Admin</a></li>
            </ul>
        </div>
        <!--Four-Design-Master-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 master-receivefund">
                <div class="card">
                    @using (Html.BeginForm("ReceiveFund", "Home", FormMethod.Post))
                    {
                    <div class="">
                        <div class="col-md-7 dealer-none-fourclass" style="width:auto;float:left;padding-left:0px;">
                            <div class="form-group" style="margin-top: 2px;">
                                <ol class="breadcrumb breadcrumb-col-blue-grey" style="padding-left:0px;">
                                    <li class="active" style="color:#555; font-size:15px;font-weight:700;">Fund Receive History</li>
                                </ol>
                            </div>

                        </div>

                        <div class="col-md-2" style="padding: 0px;float:right; width: auto;padding-left:5px;">
                            <div class="form-group">
                                <div style="float:right">

                                    <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                    <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 14px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-2" style="width:auto;float:right;padding-right: 0;padding-left: 6px;">
                            <center>
                                <button type="submit" class="btn bg-grey waves-effect" style="margin: 0px; height: 32px; border: 1px solid #bbb !important;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-3" style="width:auto;float:right;padding:0px;">
                            <div class="form-group" style="margin-bottom:0px;width:100%;">
                                <div class="input-daterange input-group">
                                    <div class="dateselect-master" style="padding-right:3px;">
                                        <div class="custom-date-icon">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; margin-top:0px;", autocomplete = "off" })
                                    </div>
                                    <div class="dateselect-master" style="padding-left:3px;">
                                        <div class="custom-date-icon" style="left:3px;">
                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                        </div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #bbb; margin-top:0px;", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card">

                    <div class="body" style="padding: 0;margin-top: 15px;">
                        <div class="table-responsive receivefund-table-master" style="position:inherit;margin-top:-24px;">
                            <table id="example" class="table table-bordered " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>

                                        <th>Remain&nbsp;Pre</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Total&nbsp;Transfer</th>
                                        <th>Type</th>
                                        <th>Net&nbsp;Amount</th>
                                        <th>Date</th>
                                        <th>Comment</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="background:no-repeat;">

                                            <td> @Html.DisplayFor(modelItem => item.remainsuper)</td>
                                            <td>@Html.DisplayFor(modelItem => item.remainsuperafter)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                                            <td>@Html.DisplayFor(modeltem => item.bal_type)</td>
                                            <td>@Html.DisplayFor(modeltem => item.fund_transfer)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RechargeDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comment)</td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.Balance)</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.fund_transfer)</td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

@*<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>*@