@model Vastwebmulti.Areas.RETAILER.Models.remmulti
@{
    ViewBag.Title = "RechargeReport";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    .cltu .btn-group.bootstrap-select.form-control {
        padding-left: 0px;
    }

    .cltu .form-line.focused::after {
        display: none;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
        border-radius: 0px !important;
        height: 32px !important;
        margin-top: 2px;
    }

    .dataTables_wrapper .dt-buttons a.dt-button {
        padding: 7px 10px 8px 8px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    .col-md-9.text-form-down #txtmob {
        height: 26px !important;
    }

    .table-responsive table {
        background: #f5f5f5;
    }

    .row-on-down-master .mrj button, .row-on-down-master.cltu button, .row-on-down-master .mrj input {
        border-color: #e1dcdc !important;
    }
    .row-on-down-master .ner {
        border-color: #e1dcdc !important;
    }

    @@media screen and (max-width:766px) {
        .row-on-down-master {
            width: 100%;
            float: left;
        }

            .row-on-down-master .col-md-2, .row-on-down-master .col-md-1 {
                width: 50% !important;
                margin: 0px !important;
                float: left;
                padding-right: 5px !important;
            }

                .row-on-down-master .col-md-1.mrj.button-small.ftftr-in {
                    width: 100% !important;
                    float: left;
                }

            .row-on-down-master .col-md-4.mrj.cs-wp-dgt.dqpot {
                width: 100% !important;
                float: left !important;
                margin: 0;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .row-on-down-master .form-group.jjp {
                width: 100%;
                float: left;
            }

                .row-on-down-master .form-group.jjp input {
                    width: 50% !important;
                    float: left;
                    text-align: center;
                }

                .row-on-down-master .form-group.jjp .nrr3 {
                    width: 49%;
                    float: left;
                }

                    .row-on-down-master .form-group.jjp .nrr3 input {
                        width: 100% !important;
                        float: left;
                    }

        .table-responsive-master-recharge {
            width: 100%;
            float: left;
            margin-top: 15px;
        }

            .table-responsive-master-recharge table {
                border-left: 1px solid var(--nav-tab-bg) !important;
            }

                .table-responsive-master-recharge table tr td {
                    padding-right: 25px;
                }

        .mastetr222Modal .modal-dialog {
            width: 100% !important;
            float: left;
            margin: 0;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Recharge Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                @*<li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>*@
                <li><a href="javascript:void(0);">Prepaid & Utility</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-on-down row-on-down-master" style="padding-top: 5px;">
                <div class="card" style="margin-bottom: 5px;">
                    <div class="">
                        <div class="col-md-9" style="padding: 0px; width: auto;">
                            <div class="card" style="margin-bottom: 0px;">

                                @using (Html.BeginForm("RechargeReport", "Home", FormMethod.Post))
                                {
                                    <div class="ftftr">
                                        @*<div class="col-md-2 err2 dqpot" style="width: auto;">
                                            <div style="margin-top:1px;">
                                                <style>
                                                    #ul {
                                                        list-style-type: none;
                                                        margin: 0;
                                                        padding: 0;
                                                        overflow: hidden;
                                                        /*background-color: #e91e63;*/
                                                    }

                                                        #ul li {
                                                            float: left;
                                                            margin-right: 2px;
                                                        }

                                                            #ul li a {
                                                                display: block;
                                                                text-align: center;
                                                                padding: 5px 5px;
                                                                text-decoration: none;
                                                                border: 1px solid #b1a6a638;
                                                                position: initial;
                                                            }

                                                                #ul li a:hover:not(.activee) {
                                                                    background-color: #FFC107;
                                                                    color: black;
                                                                    border: 1px solid #b1a6a6;
                                                                }

                                                    .activee {
                                                        /*background-color: #000000;*/
                                                        color: white;
                                                        margin-bottom: 0px;
                                                    }

                                                    .bartu a img {
                                                        width: 12px;
                                                        float: none;
                                                        margin-top: -2px;
                                                    }

                                                    .kklo #custnav ul li a.activee.navbar {
                                                        background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor)) !important;
                                                    }

                                                    .kklo #custnav ul li a img.ddise {
                                                        display: none;
                                                    }

                                                    .kklo #custnav ul li a.activee.navbar img.ddise {
                                                        display: inline-block;
                                                    }

                                                    .kklo #custnav ul li a.activee.navbar img.ddis {
                                                        display: none;
                                                    }

                                                    @@media screen and (max-width:767px) {
                                                        .col-md-1.mrj.button-small {
                                                            width: 15%;
                                                        }
                                                        .row-on-down{padding-bottom: 15px;}
                                                    }
                                                    .cs-wp-dgt{margin-left: 15px;}
                                                    @@media screen and (max-width:366px) {
                                                        .dqpot{width: 100% !important;float: left !important;margin-bottom: 15px;}
                                                            .dqpot .bartu {
                                                                width: 30%;
                                                            }
                                                            .ftftr .ftftr-in {
                                                                width: 45% !important;
                                                                float: left !important;
                                                                margin: 0px !important;
                                                                margin-bottom: 20px !important;
                                                                margin-left: 15px !important;
                                                            }
                                                            .ftftr .ftftr-in .form-group{margin-bottom: 0px;}
                                                        .ttuo .find-full-width {
                                                            width: 80% !important;
                                                        }

                                                        .ttuo .pull-left img {
                                                            width: 45px !important;
                                                        }
                                                    }
                                                </style>

                                                <div class="kklo">
                                                    <div id="custnav" style="">
                                                        <ul id="ul">
                                                            <li class="bartu"><a href="#" class="activee navbar"><img class="ddis" src="~/ashok-images/glob2.svg"><img class="ddise" src="~/ashok-images/glob.svg">&nbsp;Live</a></li>

                                                            <li class="bartu"><a href="#"><img class="ddis" src="~/ashok-images/sim2.svg"><img class="ddise" src="~/ashok-images/sim.svg">&nbsp;Incoming</a></li>

                                                            <li class="bartu"><a href="#"><img class="ddis" src="~/ashok-images/roffr.svg"><img class="ddise" src="~/ashok-images/roffer.svg">&nbsp;R-Offer</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <script src="/Scripts/jquery-1.10.2.min.js"></script>
                                                <script>
                                                    $(function () {
                                                        var current = location.pathname;
                                                        $('#custnav li a').each(function () {
                                                            var $this = $(this);
                                                            if ($this.attr('href').indexOf(current) !== -1) {
                                                                $this.addClass('activee');
                                                                $this.addClass('navbar');
                                                            }
                                                        })
                                                    });
                                                </script>

                                            </div>
                                        </div>*@
                                        <div class="col-md-2 mrj jkjk ftftr-in" style="padding: 0px;">
                                            <div class="">
                                                @Html.DropDownList("ddlusers", new List<SelectListItem>
                                          {
                                        new SelectListItem{Text="ALL",Value="Master"},
                                       new SelectListItem{Text="Distributor",Value="Dealer"},
                                       new SelectListItem{Text="Retailer",Value="Retailer"},

                                      }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                            </div>
                                        </div>
                                        <div class="col-md-1 ftftr-in" style="padding: 0px;display:none;" id="dlm">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, "Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ftftr-in" style="padding: 0px;display:none;" id="rem">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 cltu ftftr-in" style="padding: 0px;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @*@Html.DropDownList("Operator_Type", ViewBag.Operator_Type as SelectList, "ALL OPERATORS Type", new { id = "Operator_Type", @class = "selectpicker form-control", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;", @onchange = "answers1()" })*@
                                                    @Html.DropDownList("Operator_Type", new List<SelectListItem>
                                                                     {
                                                       new SelectListItem{Text="All Category",Value="Broadband"},
                                                                   new SelectListItem{Text="Broad Band Bill",Value="Broadband"},
                                                                  new SelectListItem{Text="DTH Recharge",Value="DTH"},
                                                                  new SelectListItem{Text="Electricity Bill",Value="Electricity"},
                                                                      new SelectListItem{Text="Insurance",Value="Insurance"},
                                                                  new SelectListItem{Text="Loan Payment",Value="Loan"},
                                                                       new SelectListItem{Text="Gas Bill",Value="Gas"},
                                                                  new SelectListItem{Text="Landline Bill",Value="Landline"},
                                                                            new SelectListItem{Text="PostPaid Bill",Value="PostPaid"},
                                                                  new SelectListItem{Text="PrePaid Recharge",Value="PrePaid"},
                                                                  new SelectListItem{Text="Water",Value="Water"},
                                                                 }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;", @onchange = "answers1()" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 cltu ftftr-in" style="padding: 0px;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "selectpicker form-control", data_live_search = "true", @style = "display:none;margin-top:0px;padding:0px;height:32px;" })

                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-1">
                                            <div class="form-group">
                                                <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                                    @Html.DropDownList("ddl_top", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="50",Value="50"},
                                                    new SelectListItem{Text="100",Value="100"},
                                                    new SelectListItem{Text="200",Value="200"},
                                                    new SelectListItem{Text="500",Value="500"},
                                                    new SelectListItem{Text="1500",Value="1500"},
                                                    new SelectListItem{Text="All",Value="All"}
                                                    }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;height:30px;" })

                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="col-md-1 cltu mrj jkjk ftftr-in" style="padding: 0px;">
                                            <div class="form-group">
                                                <div class="">
                                                    @Html.DropDownList("ddl_status", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="Status",Value="ALL",},
                                                    new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                                    new SelectListItem{Text="Pending",Value="PENDING"},
                                                    new SelectListItem{Text="FAILED",Value="FAILED"}
                                                    }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 mrj button-small ftftr-in" style="padding: 0px;">
                                            <div class="form-group">
                                                <div class="">
                                                    <input type="text" id="txtmob" name="txtmob" class="form-control" placeholder="Mobile" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mrj cs-wp-dgt dqpot" style="padding: 0px;width: auto;float:left;">
                                            <div class="form-group jjp">
                                                <div class="input-daterange input-group">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })

                                                    <div class="nrr3">
                                                        <div class="custom-date-icon ner">
                                                            <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                        </div>
                                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;", autocomplete = "off" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 mrj ftftr-in" style="width: auto;float: left;">
                                            <div class="form-group">
                                                <div class="form-line" style="border-bottom:none;margin-top:0px;">

                                                    @*<button value="LIVE" type="submit" class="btn" id="btntype" name="btntype" style="margin-top:5px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">Today</span>
                                                    </button>*@
                                                    <button value="OLD" type="submit" class="btn" id="btntype" name="btntype" style="border:1px solid #c7c2c2;background: transparent;">
                                                        <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                        <span style="top:-1px;color:black;">SEARCH</span>
                                                    </button>



                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-2" style="padding: 0px;float:right; width: auto;">
                            <div class="form-group">
                                <div style="float:right">

                                    <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotal()">Total</button>
                                </div>
                                @*<button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totals"]</button>
                                <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalf"]</button>
                                <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;@ViewData["Totalp"]</button>
                                <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Master Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">MD</span>&nbsp;@ViewData["TotalMD"]</button>
                                <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Distributor Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">DLM</span>&nbsp;@ViewData["Totald"]</button>
                                <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Retailer Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">REM</span>&nbsp;@ViewData["Totalr"]</button>*@
                                <div class="white-success" style="display:none;position: absolute;width: auto;right: 40px;">
                                    <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;float: left;padding:9px;color:white; font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>
                                    <span id="totaldlm" class="btn bg-indigo waves-effect" style="font-size: 13px;float: left;padding:9px; color:white;font-weight:600;"> </span>
                                    <span id="totalrem" class="btn bg-blue waves-effect" style="font-size: 13px;float: left;padding:9px;color:white; font-weight:600;"> </span>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @* <div class="row clearfix">
            <div class="col-md-12 ttuo">
                <div class="card" style="background-color:White; height:48px;float: left;">
                    <div class="pull-left" style="border:1px solid #dddddd;background:white;height:47px;">
                        <img src="~/images/Spiner.svg" style="height:105px;width:63px;margin-top:-30px;">

                    </div>

                    <div id="all" class="pull-left">
                        <div id="all" class="pull-left">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="margin-top:-2px;">
                                    <tbody>
                                        <tr>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-2 find find-addclass find-full-width" style="padding: 0px;margin-left: 10px;width: auto; text-align: center;">
                    <div class="bck fullbodydycolorbg">
                        <span class="topwil fullbodydycolorbg" style="color: #fff;"> - Will search in 30 days record only -</span>
                    </div>
                    <div class="input-group" style="border: 1px solid #dddddd;width:100%;border-top: 0px;">
                        <form action="/ADMIN/Home/Operator_report_new" method="post">
                            <div class="col-md-9 text-form-down" style="float: left;">
                                <input class="form-control" id="txtmob" name="txtmob" placeholder=" Search Consumer Number" style="height:30px;padding:0px;" type="text" value="">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="input-group-addon" style="padding: 0px;cursor: pointer;">
                                    <i class="fa fa-search" style="margin-left: 3px;
                                color: #999999;
                                background: #dedddd;
                                border-radius: 50%;
                                padding: 5px;
                                margin-right: 5px;font-size: 11px;margin-top: 3px;" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="for-new-button" style="display:none;">
                    <div class="for-new-button-inner">
                        <button data-toggle="modal" onclick="checkboxinfo()" data-target="#s-b-pop" style="border: 1px solid #5cb85c;background:#94ca94;">Success</button>
                        <button data-toggle="modal" onclick="checkboxinfoF()" data-target="#f-b-pop" style="border: 1px solid #fb483a;background:#ee837b;">Failed</button>
                        <button data-toggle="modal" onclick="checkboxinfoR()" data-target="#r-b-pop" style="border: 1px solid #ff9600;background:#f0bd74;">Resend</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive table-responsive-master-recharge tableseconddes-master" style="position:inherit;">
                        <table id="example" class="table table-bordered example-second third-design-table" cellspacing="0" style="width:100%">
                            <thead style="background-color:whitesmoke;">
                                <tr>

                                    <th>Status</th>
                                    <th>Request&nbsp;Id</th>
                                    <th>Consumer&nbsp;No</th>
                                    <th>Opt&nbsp;Type</th>
                                    <th>Operator</th>
                                    <th>Amount</th>

                                    <th>MY Income</th>
                                    <th>Update Balance</th>
                                    <th>OperatorID</th>
                                    <th>Date</th>
                                    <th>#</th>
                                    @*<th style="padding-left:2px; padding-right:2px;">Emain&nbsp;Id</th>*@
                                    @*<th style="padding-left:2px; padding-right:2px;">User&nbsp;Info</th>*@
                                    @*<th style="padding-left:2px; padding-right:2px;">User Pre</th>*@


                                    @*<th style="padding-left:2px; padding-right:2px;">Distributor&nbsp;-&nbsp;Income</th>
                                    <th style="padding-left:2px; padding-right:2px;">Retailer&nbsp;-&nbsp;Income</th>
                                    <th style="padding-left:2px; padding-right:2px;">Distributor&nbsp;-&nbsp;Remain</th>
                                    <th style="padding-left:2px; padding-right:2px;">Retailer&nbsp;-&nbsp;Remain</th>
                                    <th style="padding-left:2px; padding-right:2px;">Type</th>*@



                                </tr>
                            </thead>
                            <tbody id="trow" class="alin chnj">

                                @{
                                    Html.RenderAction("_RechargeReport", "Home", new { Model = Model });
                                }
                            </tbody>
                        </table>
                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal mastetr222Modal" id="defaultModal222" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="loadredmodel" style="display:none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);" class="loadingio-spinner-ripple-92ar2pfqk5j">
            <div class="ldio-zdyd6mf6t5">
                <div></div><div></div>
            </div>
        </div>
        <div id="userinfodiv" class="modal-content width100 float-left">
            <div class="modal-header width100 float-left" style="background-color:#eee">
                <div class="modal-back width100 float-left">

                    <div class="form-group" style="width: auto;display: inline-block;margin-bottom: 0px;">
                        <label>Status</label>
                        <img id="img12" src="" style="height: 20px;width: 20px;margin:5px;max-width: 100%;padding: 3px; border-radius:50%;" />

                    </div>

                    <button type="button" class="btn waves-effect" data-dismiss="modal" style="padding: 0px;margin-top: 7px;background:transparent;">
                        <i class="fa fa-times fulltextbodycolor fullbodydycolorbg" aria-hidden="true"></i>
                    </button>
                </div>
            </div><!--.modal-header-->
            <div class="modal-body width100 float-left">

                <div class="float-left width100">

                    <form class="first-form">
                        @Html.Hidden("Idno")


                        @*<div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 col">
                                    <div class="form-group">
                                        <label>Firm Name</label>
                                        @Html.TextBox("frm_name", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>*@
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Consumer No</label>
                                    @Html.TextBox("mobile", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Income</label>
                                    @Html.TextBox("dealerincome", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Distributor Remain</label>
                                    @Html.TextBox("dealerremain", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Income</label>
                                    @Html.TextBox("income", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 col">
                                <div class="form-group">
                                    <label>Retailer Remain</label>
                                    @Html.TextBox("remain", "", new { @class = "form-control", maxlength = 10, @style = "text-transform:uppercase", required = "required", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

<!-- Jquery Core Js -->
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />
<script>
    $("#alldealer").select2();
    $("#allretailer").select2();
</script>

<script>

    function mdActionBtn(Idno) {
        $('#loadredmodel').show();
        $.ajax({
            url: '@Url.Action("Recharge_report_View", "Home")',
            type: 'POST',
            data: { Idno: Idno },
            cache: false,
            success: function (Response) {
                
                if (Response[0].rstatus == "SUCCESS" )
                {
                    rstatus = "../../ashok-images/correct.svg";
                    var color = "green";
                }

                if (Response[0].rstatus == "FAILED") {
                    rstatus = "../../ashok-images/closes.svg";
                    color = "red";
                }
                if (Response[0].rstatus == "Resend") {
                    rstatus = "";
                    color = "blue"
                }
                if (Response[0].rstatus == "REFUND") {
                    rstatus = "";
                    color = "brown"
                }
                if (Response[0].rstatus == "Success To Failed") {
                    rstatus = "";
                    color = "red"
                }
                if (Response[0].rstatus == "Refund") {
                    rstatus = "";
                    color = "#673AB7"
                }
                document.getElementById("img12").src = rstatus
                document.getElementById("img12").style.backgroundColor = color

                //$('#frm_name').val(Response[0].frm_name)
                $('#mobile').val(Response[0].mobile)
                $('#dealerincome').val(Response[0].dealerincome)
                $('#dealerremain').val(Response[0].dealerremain)
                $('#income').val(Response[0].income)
                $('#remain').val(Response[0].remain)
                $('#Response').val(Response[0].api_response_output)
            }
        });
    }

</script>

<script>
    function findtotal() {
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("TotalRecharge", "Home")",
                 { "ddlusers": ddlusers, "Operator": Operator, "ddl_status": ddl_status, "txtmob": txtmob, "allretailer": allretailer, "alldealer": alldealer, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);
                     $('#totaldlm').text("DLM ₹. " + data.dlmincom);
                     $('#totalrem').text("REM ₹. " + data.remincome);

                 });
    }
</script>


<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<!--Calendar Javascript-->

<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });

</script>

<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("ExcelRechargereport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&Operator=' + Operator + '&ddl_status=' + ddl_status + '&txtmob=' + txtmob + '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var Operator = $('#Operator').val();
        var ddl_status = $('#ddl_status').val();
        var txtmob = $('#txtmob').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("PDFRechargeReport", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&Operator=' + Operator + '&ddl_status=' + ddl_status + '&txtmob=' + txtmob + '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>

<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
        }

        else if (answer == "Master") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }

        else if (answer == "Retailer") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";

        }
    }
</script>

<script type="text/javascript">
    var output = '@TempData["Output"]';
    var OutputMessage = '@TempData["OutputMessage"]';
    if (output == "Success") {
        //alert(OutputMessage);
        swal("Wow...", OutputMessage, "success");
    }
    if (output == "Failed") {
        swal("Oops...", OutputMessage, "error");
    }

</script>
<!--Dispute Id-->
<script>
    function showdata(id) {
        $("#id").val(id);
    }
</script>

<!--Genertae Invoice-->
<script type="text/javascript">
    function GenrateInvoice(ultra_request_id, RechargeTo, OptName, amt, OptID, Date) {

       var url = '@Url.Action("GotoInvoicePDF1", "Home")?Id=' + ultra_request_id + '&RechargeTo=' + RechargeTo + '&OptName=' + OptName + '&amt=' + amt + '&OptID=' + OptID + '&Date=' + Date + '';
            window.open(url, '_blank');
             }
</script>


<script>
    var ddlusers = $('#ddlusers').val();
    var Operator = $('#Operator').val();
    var ddl_status = $('#ddl_status').val();
    var txtmob = $('#txtmob').val();
    var allretailer = $('#allretailer').val();
    var alldealer = $('#alldealer').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {

        if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll","Home")",
                    { "pageindex": pageindex, txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val(), "ddlusers": ddlusers, "Operator": Operator, "ddl_status": ddl_status, "txtmob": txtmob, "allretailer": allretailer, "alldealer": alldealer},
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });

</script>
<script type="text/javascript">
    function answers1()
    {
        var Operator_Type = $('#Operator_Type').val();
        if (Operator_Type === "") {
            Operator_Type = 0;
            //alert(stid)
        }
        else {
            //alert(stid)
            GetOperator(Operator_Type)
        }


    }

    function GetOperator(Operator_Type) {
                                var url = '@Url.Action("Getopt", "Home")'
                                $.ajax({
                                    url: url,
                                    data: { Id: Operator_Type },
                                    cache: false,
                                    type: "POST",
                                    success: function (data) {
                                        var markup = "<option value='0'>Select Operator</option>";
                                        for (var x = 0; x < data.length; x++) {
                                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                                            //alert(markup)
                                        }
                                        $("#Operator").html(markup).show();
                                    },
                                    error: function (reponse) {
                                        alert("error : " + reponse);
                                    }
                                });
                            }
</script>

