@using Vastwebmulti.Models;
@model IEnumerable<Vastwebmulti.Areas.ADMIN.Models.RetailerCreationTokenVM>
@{
    ViewBag.Title = "SignupTokens";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
    VastwebmultiEntities DB1 = new VastwebmultiEntities();
    var usernname = DB1.Usernicknames.Where(aa => aa.Role == "Dealer").ToList();
    var favimage = "";
    if (usernname.Count() > 0)
    {
        if (usernname.SingleOrDefault().Role == "Dealer")
        {
            favimage = usernname.SingleOrDefault().NickName;


        }
    }
    var usernname1 = DB1.Usernicknames.Where(aa => aa.Role == "master").ToList();
    var favimage1 = "";
    if (usernname1.Count() > 0)
    {
        if (usernname1.SingleOrDefault().Role == "master")
        {
            favimage1 = usernname1.SingleOrDefault().NickName;


        }
    }

}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 20px;
    }

    .select-drop-up button {
        height: 30px !important;
    }

    .tmw-joing-tokens ul.jo-to-po-ul li {
        width: 33%;
        text-align: center;
        height: 30px;
    }

        .tmw-joing-tokens ul.jo-to-po-ul li span {
            padding: 5px 0px;
            display: block;
        }

        .tmw-joing-tokens ul.jo-to-po-ul li button {
            background: transparent;
        }

    .tmw-joing-tokens ul.jo-to-po-ul {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
    }

    .small-s-change-newclass button {
        padding: 0 !important;
        height: 29px !important;
    }

    @@media screen and (max-width:992px) {
        .small-s-change span, .small-s-change button, .small-s-change a {
            display: inline-block;
            width: 49%;
            margin: 0px !important;
            margin-bottom: 15px !important;
            text-align: left;
            float: left;
            margin-right: 7px !important;
        }

            .small-s-change button span {
                width: auto;
            }

        .small-s-change {
            padding: 0px !important;
            margin: 0px !important;
        }

        .select-dropdown-up-down form {
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }
    }

    @@media screen and (max-width:767px) {
        .small-s-change span, .small-s-change button, .small-s-change a {
            display: inline-block;
            width: 100%;
            margin: 0px !important;
            margin-bottom: 15px !important;
            text-align: left;
        }

        .small-s-change {
            padding: 0px !important;
            margin: 0px !important;
        }

            .small-s-change a span, .small-s-change button span {
                width: auto;
                margin-right: 5px !important;
            }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 select-dropdown-up-down">
                <div class="card">
                    <div class="col-md-4 small-s-change" style="margin-top:11px;">
                        <span class="" style="color:#607d8b; font-size:15px;font-weight:700; margin-left:-17px; color:#a9a4a4;padding:8px 18px 8px 18px;border:1px solid #ccc;"> Token Purchase Price :- @ViewBag.mastervalue</span>
                        <span class="" style="color:#607d8b; font-size:15px;font-weight:700; margin-left:0px; color:#a9a4a4;padding:8px 18px 8px 18px;border:1px solid #ccc;"> Stock Token : @ViewBag.masterToken</span>

                    </div>

                    @using (Html.BeginForm("SignupTokens", "Home", FormMethod.Post))
                    {
                        <div class="col-md-2 small-s-change small-s-change-newclass">
                            <div class="form-group" style="margin-bottom:8px; margin-top:3px;">
                                <div class="" style="padding-top:3px;border:1px solid #dddddd;padding-bottom:12px;">
                                    @Html.DropDownList("dealerId", ViewBag.ddlDealers as IEnumerable<SelectListItem>, "Select Distributor", new { @class = "selectpicker form-control", data_live_search = "true", @style = "padding-left:0px;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 small-s-change">
                            <center>
                                <button type="submit" class="btn" style="margin-top:3px; margin-left: -26px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>

                        <div class="col-md-1 small-s-change">
                            <center>
                                <button type="button" class="btn" style="height:36px;margin-top:3px; margin-left:-25px;border:1px solid #c7c2c2;background:#dedddd;" data-toggle="modal" data-target="#defaultModal">
                                    <i class="fa fa-plus" style="top:1px;font-size:14px;color:black;"></i>
                                    <span style="top:-1px;color:black;">Add&nbsp;Token's</span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-2 small-s-change">
                            <center>
                                <a href="@Url.Action("Remain_dealer_token_report","Home")" class="btn" style="height:36px;margin-top:3px; margin-left:-1px;border:1px solid #c7c2c2;background:#dedddd;">
                                    <i class="fa fa-folder-open-o" style="top:3px;font-size:14px;color:black;"></i>
                                    <span style="top:2px;color:black;">@favimage&nbsp;Remain&nbsp;Token</span>
                                </a>
                            </center>
                        </div>
                        <div class="col-md-2" style="padding: 0px;float:right; width: auto;padding-left:5px;margin-top: 3px;">
                            <div class="form-group">
                                <div style="float:right">

                                    <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:36px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                    <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 14px;float: left; padding: 0px 4px;height:36px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;">
                                    @*<button class="white-success-button" style="height:32px;font-size: 14px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotal()">Total</button>*@
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-3 col-sm-12 col-xs-12 padd-right">
                <div class="card" style="margin-top:-17px;">
                    <div class="body small-s-change" style="padding:7px;">
                        <div class="table-responsive small-s-change" style="position:inherit;margin-top:7px;">
                            <table id="kkkk" class="table table-bordered" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>


                                        <th>Frim Name</th>
                                        <th>Name</th>

                                        <th>Remain Token</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@{
                                            var i = 1;
                                        }
                                        @if (Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.DealerName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.FarmName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.RemainTokenPost)</td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><p style="font-size:22px;margin-top:-5px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 ">
                <div class="card" style="margin-top:-17px;">
                    <div class="body small-s-change" style="padding:7px;">
                        <div class="table-responsive small-s-change" style="position:inherit;margin-top:7px;">
                            <table class="table table-bordered" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>@favimage</th>
                                        <th>Purchase&nbsp;Tokens</th>
                                        <th>Token&nbsp;Pre</th>
                                        <th>Token&nbsp;Post</th>
                                        <th>@favimage&nbsp;Pre</th>
                                        <th>@favimage&nbsp;Post</th>
                                        <th>@favimage1&nbsp;Pre</th>
                                        <th>@favimage1&nbsp;Post</th>
                                        <th>@favimage1&nbsp;Comm.</th>
                                        <th>Per&nbsp;Token&nbsp;Value</th>
                                        <th>Total&nbsp;Debit</th>
                                        <th>Purchase&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    @foreach (var item in Model)
                                    {
                                        decimal? totalcomm = 0;
                                        {
                                            var masterpertokenvalue = ViewBag.mastervalue;
                                            decimal? mastervalue = Convert.ToDecimal(masterpertokenvalue);
                                            decimal? totalDealertokenvalue = item.PerTokenValue * item.Tokens;
                                            decimal? totelMastertokenvalue = mastervalue * item.Tokens;
                                            totalcomm = totelMastertokenvalue - totalDealertokenvalue;
                                        }
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tokens)</td>
                                            <td>@Html.DisplayFor(modelItem => item.pre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.post)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DealerPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DealerPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AdminPost)</td>
                                            <td>@totalcomm</td>
                                            <td>@Html.DisplayFor(modelItem => item.PerTokenValue)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalDebit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CteatedOn)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>

<!--Add New  modal-->
<div class="modal fade tmw-joing-tokens custom-token-popup" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog model-height" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Add New Token (@favimage)
                </h4>
            </div>
            @using (Html.BeginForm("addJoiningToken", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                @*<div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Select Dealer</label>
                                    </div>*@
                                <div class="col-md-12" style="padding-top: 25px;">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group">
                                            <div class="select-drop-up" style="border:1px solid #bfbebe;padding-bottom:10px;">
                                                @Html.DropDownList("ddlDealer", ViewBag.ddlDealers as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 0;">
                                        <input type="hidden" name="tokenCount2" id="tokenCount2" value="1" />
                                        <div class="form-group">
                                            <ul class="jo-to-po-ul" style="margin: 0px;">
                                                <li>
                                                    <button type="button" id="btnChildMinus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(-1)" disabled="disabled">
                                                        <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                                <li><span id="showPhysicalCount2">1</span></li>
                                                <li>
                                                    <button type="button" id="btnChildPlus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(1)">
                                                        <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="modal-footer">
                                                <label id="Lblmsg2"></label>
                                                <button type="button" class="btn waves-effect" data-dismiss="modal">
                                                    <span>Close</span>
                                                </button>
                                                <button type="button" id="MdbtnSubmit" class="btn waves-effect btnssl2233 special-iii" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                    <span>Verify & Sale Token</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:whitesmoke;">
                    <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Add New Token (Distributor)</h4>
                </div>
                @using (Html.BeginForm("addJoiningToken", "Home", FormMethod.Post))
                {
                    <div class="modal-body" style="margin-top:0px;">
                        <div class="body">
                            <form>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Select Dealer</label>
                                    </div>

                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="" style="border:1px solid #bfbebe;padding-bottom:10px;">
                                                @Html.DropDownList("ddlDealer", ViewBag.ddlDealers as IEnumerable<SelectListItem>, new { @class = "selectpicker form-control", data_live_search = "true" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Enter Token</label>
                                    </div>
                                    <input type="hidden" name="tokenCount" id="tokenCount" value="1" />
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                        <div class="form-group" style="border:1px solid #bfbebe;">
                                            <ul class="" style="min-width:250px;list-style-type:none;margin-bottom:7px;">
                                                <li>
                                                    <ul class="jo-to-po-ul">
                                                        <li>
                                                            <button type="button" id="btnChildMinus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(-1)" disabled="disabled">
                                                                <i class="fa fa-minus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                            </button>
                                                        </li>
                                                        <li><span id="showPhysicalCount2">1</span></li>
                                                        <li>
                                                            <button type="button" id="btnChildPlus2" class="btn  waves-effect btmPlusMinus2" onclick="onPluseMinuss(1)">
                                                                <i class="fa fa-plus" aria-hidden="true" style="font-size:10px;color:#757979;top:0px;"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn bg-grey waves-effect">
                                        <span style="top:-2px;color:black;">Save Change</span>
                                    </button>
                                    <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">
                                        <span style="top:-2px;color:black;">Close</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>*@
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
    $(function () {
        $("button.shownextrow").click(function () {
            $(this).closest("tr").next().show();
            $(this).closest("tr").hide();
        });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",
        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }


        var message = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (message != "") {
                swal("Good job!", message, "success");
        }
        if (error != "") {
            swal("Ooops!", error, "error");
        }
    });


</script>


<script>
    function onPluseMinus(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount').val());
        if (v >= 0) {
            $('#tokenCount').val(digiCount + v);
            $('#showPhysicalCount').html(digiCount + v);
        } else {
            $('#tokenCount').val(digiCount - 1);
            $('#showPhysicalCount').html(digiCount - 1);
        }
        if (parseInt($('#tokenCount').val()) >= 1) {
            $('#btnChildMinus').prop('disabled', false);
        }
        if (parseInt($('#tokenCount').val()) == 0) {
            $('#btnChildMinus').prop('disabled', true);
        }
    }
</script>



<script>

    $(function () {
        $.ajax({
            url: '@Url.Action("Remain_dealer_token_report", "Home")',
            method: "Post",
            cache: false,
            dataType: 'json',
            async: false,
            success: function (data) {
                var mdtblHtml = "";
                var i = 0;
                $.each(data, function (a, b) {

                    mdtblHtml += "<tr><td style='font-size:12px;'>" + b.FarmName + "</td>";

                    mdtblHtml += "<td style='font-size:12px;'>" + b.DealerName + "</td>";

                    mdtblHtml += "<td style='font-size:12px;'>" + b.RemainTokenPost + "</td></tr >";


                    i++;
                });
                $('#kkkk > tbody').html(mdtblHtml);
            }
        });
    });

</script>

<script>
    function converttoDate(str) {
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2),
            Hrs = (date.getHours()),
            mnts = (date.getMinutes()),
            sec = (date.getSeconds());
        return dd = [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
    }

    $('#MdbtnSubmit').click(function () {


        $.ajax({
            url: '@Url.Action("addJoiningToken_dlm", "Home")',
            type: 'POST',
            data: { ddlDealer: $("#ddlDealer").val(),tokenCount: $("#tokenCount2").val() },
            cache: false,
            success: function (response) {
                if (response == "Insufficient balance." || response == "Set the Dealer token Value." || response == "Token Can Not Be Negative") {
                    $("#Lblmsg2").css("color", 'red').text(response);
                    //$("#defaultModal").delay(1500).hide(0, function () {
                    //    $("#Lblmsg2").text('');
                    //    $("#defaultModal").modal('hide');
                    //});
                }
                else {
                    $("#Lblmsg2").css("color", 'green').text("Credited Successfully.");
                    $("#defaultModal").delay(1000).hide(0, function () {
                        $("#Lblmsg2").text('');
                        $("#defaultModal").modal('hide');
                    });
                }
                location.reload();

            }
        });



    })
</script>

@*<script>
        function converttoDate(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2),
                Hrs = (date.getHours()),
                mnts = (date.getMinutes()),
                sec = (date.getSeconds());
            return dd = [day, mnth, date.getFullYear()].join("-") + " " + [Hrs + ":" + mnts + ":" + sec];
        }
        $(function () {

            $.ajax({
                url: '@Url.Action("SignupTokens", "Home")',
                method: "Post",
                cache: false,
                dataType: 'json',
                async: false,
                success: function (data) {
                    var mdtblHtml = "";
                    var i = 0;
                    $.each(data, function (a, b) {



                        mdtblHtml += "<td style='font-size:12px;'>" + b.Email + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.Tokens + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.pre + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.post + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.DealerPre + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.DealerPost + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.totalcomm + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.PerTokenValue + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + b.TotalDebit + "</td>";
                        mdtblHtml += "<td style='font-size:12px;'>" + converttoDate(eval(("new " + b.CteatedOn).replace(/\//g, ""))) + "</td>
                          </tr>";
                        i++;
                    });
                    $('#kkkk > tbody').html(mdtblHtml);
                }
            });
        });

    </script>*@
<script>
    function onPluseMinuss(v) {
        //alert(v);
        event.stopPropagation();
        var digiCount = parseInt($('#tokenCount2').val());
        if (v >= 0) {
            $('#tokenCount2').val(digiCount + v);
            $('#showPhysicalCount2').html(digiCount + v);
        } else {
            $('#tokenCount2').val(digiCount - 1);
            $('#showPhysicalCount2').html(digiCount - 1);
        }
        if (parseInt($('#tokenCount2').val()) >= 1) {
            $('#btnChildMinus2').prop('disabled', false);
        }
        if (parseInt($('#tokenCount2').val()) == 0) {
            $('#btnChildMinus2').prop('disabled', true);
        }
    }
</script>