
@{
    ViewBag.Title = "Travels";
    Layout = "~/Areas/MASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top: 2px;">
                    <div class="">
                        <div class="col-md-3">
                            <div class="form-group" style="margin-top: 6px;">
                                <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left: -22px;">
                                    <li class="active" style="color: #a79f9f;font-size: 20px;margin-top: -12px;/* font-weight:700; */">Flight Report</li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group" style="margin-top:-19px;">
                                <div style="padding-top: 22px; padding-left:78%;">
                                    <button type="button" class="btn btn-success waves-effect" style="margin-top:2px;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;0</button>
                                    <button type="button" class="btn btn-danger waves-effect" style="margin-top:2px;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;0</button>
                                    <button type="button" class="btn btn-warning waves-effect" style="margin-top:2px;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;0</button>
                                    @*<button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Master Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">MD</span>&nbsp;@ViewData["TotalMD"]</button>
                                    <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Distributor Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">DLM</span>&nbsp;@ViewData["Totald"]</button>
                                    <button type="button" class="btn btn-default waves-effect" style="margin-top: 2px;border:1px solid #c7c2c2;background:#dedddd;height: 31px;" title="Total  Retailer Income"><span style="font-size:13px;top: 0px;left: -7px;" aria-hidden="true">REM</span>&nbsp;@ViewData["Totalr"]</button>*@
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -22px;">
                <div class="card" style="margin-top: 2px;">
                    @using (Html.BeginForm("Travels", "Home", FormMethod.Post))
            {
                        <div class="">
                            <div class="col-md-2" style="display:block;" id="rem">
                                <div class="form-group">
                                    <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                        @Html.DropDownList("alldealerid", (IEnumerable<SelectListItem>)ViewBag.DealerId, "All Dealer", new { id = "alldealerid", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-line" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "selectpicker form-control", data_live_search = "true" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("ddl_top", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="50",Value="50"},
                                new SelectListItem{Text="100",Value="100"},
                                new SelectListItem{Text="200",Value="200"},
                                new SelectListItem{Text="500",Value="500"},
                                new SelectListItem{Text="1500",Value="1500"},
                                new SelectListItem{Text="All",Value="All"}
                                }, new { @class = "selectpicker form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;", data_live_search = "true" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="" style="margin-top: 5px;border:1px solid #dddddd;">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Status",Value="ALL",},
                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                new SelectListItem{Text="Pending",Value="PENDING"},
                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px; margin-left:-13px;margin-top:1px;">
                                    <div class="input-daterange input-group">
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                        </span>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <button type="button" class="btn bg-grey waves-effect" style="margin-top:6px; margin-left: -3px; height:32px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>

                        </div>
                    }
                </div>
            </div>



        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="body" style="margin-top: -20px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-19px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable text-nowrap" cellspacing="0" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>ReqID</th>
                                        <th>Customer&nbsp;Id</th>
                                        <th>DLM&nbsp;Name</th>
                                        <th>Operator</th>
                                        <th>Opt&nbsp;Type</th>
                                        <th>Amt</th>
                                        <th>Distributor-IN</th>
                                        <th>User-IN</th>
                                        <th>Type</th>
                                        <th>Status</th>
                              
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      
                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!--Calendar Javascript-->
<script>
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>

