
@model List<Vastwebmulti.Models.BusCancellationDetail>
@{ 
    Layout = null;
}
@foreach (var item in Model)
{
    <tr>     
        <td>@Html.DisplayFor(modelItem => item.LeadPaxFirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.PNR)</td>
        <td>@Html.DisplayFor(modelItem => item.sourceStationName)</td>
        <td>@Html.DisplayFor(modelItem => item.destinationStationName)</td>
        <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
        <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>
        <td>@Html.DisplayFor(modelItem => item.CancallationCharge)</td>
        <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
        <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
        <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>
        <td>@Html.DisplayFor(modelItem => item.CancellationDate)</td>
    </tr>
}
