@model List<Vastwebmulti.Models.BusCancellationDetail>
@{
    ViewBag.Title = "Bus";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
}
<style>

    /* new css  */

    .layoutt-retailer section.content {
        margin-top: 95px;
        padding-top: 5px;
    }

    .h_menu-set {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

        .h_menu-set .page-header-third {
            margin-left: 0;
            margin-right: 0;
        }

    .air-cancellation .container-fluid {
        padding-left: 10px;
    }


    /* new css  */

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }

    @@media only screen and (max-width:1169px){

        .newtabsreport.newtabsreport-ticketreport .container.container-tabsrepor, .buscancelcss {
            padding-left: 15px;
        }


    }

    @@media only screen and (max-width:991px){
        .col-md-2.flightdate-search {
            float: left;
        }
        .flightdate-show {
            float: left;
        }


    }

    @@media only screen and (max-width:990px) {

        .row.clearfix.clearfix-tableresponshive.clearfix-tableresponshive-respons {
            margin: 0;
        }

            .row.clearfix.clearfix-tableresponshive.clearfix-tableresponshive-respons .col-md-12 {
                padding: 0;
            }
        .flightreportcssaaa-respo .flightsecond-srarch button span {
            font-size: 14px !important;
        }
        .flightdate-show {
            width: 100%;
            margin-bottom: 4px;
        }
            .flightdate-show #txt_frm_date {
                width: 100% !important;
            }
        .col-md-2.flightdate-search {
            padding-left: 0px !important;
        }

    }


    @@media only screen and (max-width:480px) {

        .h_menu-set {
            display: block;
        }
        #tabsrepor-navs li {
            margin-right: 0px !important;
            padding-right: 2px;
            width: 33.333%;
            float: left;
        }

        #ul li {
            margin-left: 0px !important;
            padding-right: 2px;
            width: 50%;
        }
        #tabsrepor-navs li a {
            width: 100%;
            float: left;
        }





    }




</style>
<section class="content content-margin-second" style="overflow-x:hidden;">
    <div class="container-fluid buscancelcss hotelcsschange-responsive">

        <div class="newtabsreport newtabsreportBusreport" id="flightaddclass">
            <div class="container container-tabsrepor">

                <div class="h_menu-set">

                    <div class="page-header-third">
                        @Html.Partial("~/Areas/RETAILER/Views/Home/_Travelsview.cshtml")
                    </div>

                    <div class="page-header-third">
                        <div class="row clearfix flight-changecss Cancellations Cancellations-responshive" style="margin:0;">
                            
                                @Html.Partial("_Buspartialmenu")
                            
                        </div>
                    </div>


                </div>

                
            </div>
        </div>

        <div class="row clearfix tabsrepor-content flightreportcssaaa flightreportcssaaa-respo" style="margin:0;">
            <div class="col-md-12" style="padding: 0;">
                <div class="card" style="width:100%;float:left;">
                    
                    <div class="row clearfix flight-secondcss flightdatesecond flightdatesecond-responshiveee" style="margin:0;">
                        @using (Html.BeginForm("cancellationReport", "Bus", FormMethod.Post))
                        {
                            <div class="page-header-third">
                                <div class="col-md-5  flightdate-show ">
                                    <div class="form-group" style="margin-bottom:0px;margin-left:-10px;width:100%;margin-top:2px;">
                                        <div class="input-daterange input-group">
                                            <div class="datesate datesates">
                                                <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;width:99%;float:right; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                            <span class="input-group-addon" style="display:none;">
                                                <i class="fa fa-exchange" style="padding-top:10px;"></i>
                                            </span>
                                            <div class="datesate datesates">
                                                <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left:138px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;width:99%;float:right; margin-top:4px;height:32px;", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 flightdate-search flightsecond-srarch classretbuttonbor-second">
                                    <center>
                                        <button type="submit" value="Old" name="submit" class="btn retailer-search-second" style="margin-top:7px;height:31px;border:1px solid #c7c2c2;background:#dedddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>
                                    </center>
                                </div>

                                <div class="col-md-3 buttonPdf buttonPdfs retailer-pdf-second" style="width: 30%;float: right;text-align: right;">

                                    <button id="btnPDF">PDF</button>
                                    <button id="btnExport">Export</button>
                                    <button>Total</button>
                                </div>


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix clearfix-tableresponshive clearfix-tableresponshive-respons">
            <div class="col-md-12">
                <div class="card" style="">

                    <div class="page-header-third">
                        <div class="body table-responsive " style="position:inherit;padding:0px;">
                            <table id="example" class="table table-bordered table-striped table-hover" cellspacing="0" style="width:100%;font-size:12px;">
                                <thead style="color:black;position:inherit;background-color:whitesmoke;">
                                    <tr>
                                        <th>S.R.</th>
                                        <th>Passanger&nbsp;Name</th>
                                        <th>PNR</th>
                                        <th>Source</th>
                                        <th>Destination</th>
                                        <th>DOJ</th>
                                        <th>Fare</th>
                                        <th>Charge</th>
                                        <th>Pre</th>
                                        <th>Post</th>
                                        <th>Date</th>
                                        <th>Cancellation&nbsp;Date</th>

                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.LeadPaxFirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PNR)</td>
                                            <td>@Html.DisplayFor(modelItem => item.sourceStationName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.destinationStationName)</td>
                                            <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
                                            <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CancallationCharge)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CancellationDate)</td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<!--Calendar Javascript-->
<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    });
</script>

<!--My Script-->
<script>
    $(".input-daterange").click(function () {
        $(".datepicker").addClass('datepickersecondcancel');
    });


</script>
<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/RETAILER/Bus/cancellationReport') {
            $('#flightaddclass ul li:nth-child(2) a ,.list.report-list-change li#rewertyd a').addClass('active');
        }
    });
</script>
<script>
    $("#btnExport").click(function (e) {
        e.preventDefault()

        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("ExcelancellationReport", "Bus")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var url = '@Url.Action("PDFCancellationReport", "Bus")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>


