@*@using Vastwebmulti.Models;
@using Microsoft.AspNet.Identity*@
@model List<Vastwebmulti.Models.proc_BusReport_Result>
@{
    ViewBag.Title = "PDF_TicketBusReport";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_TicketBusReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table id="example" class="table table-bordered table-striped table-hover third-design-table" cellspacing="0" style="width:100%;font-size:12px;">
        <thead class="" style="color:black;position:inherit;background-color:whitesmoke;">
            <tr>
                <th>#&nbsp;/&nbsp;PNR</th>
                <th>Passanger&nbsp;Name</th>
                <th>Booking&nbsp;No</th>
                <th>Source</th>
                <th>Destination</th>
                <th>DOJ</th>
                <th>Fare</th>
                <th>Pre&nbsp;₹</th>
                <th>Post&nbsp;₹</th>
                <th>Income</th>
                <th>Date</th>
            </tr>
        </thead>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus)@Html.DisplayFor(modelItem => item.PNR)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PassengerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TicketNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.sourceStationName)</td>
                    <td>@Html.DisplayFor(modelItem => item.destinationStationName)</td>
                    <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemInc)</td>
                    <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>

                </tr>
            }
        }

        else
        {
            <tr>
                <td colspan="13"><h2 style="text-align:center;">Data Not Found</h2></td>

            </tr>

        }
    </table>
</body>
</html>
