@model List<Vastwebmulti.Models.BusCancellationDetail>
@{
    ViewBag.Title = "PDFCancellationReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDFCancellationReport</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover third-design-table" style="width:100%; font-size:12px;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th>S.R.</th>
                <th>Passanger&nbsp;Name</th>
                <th>PNR</th>
                <th>Source</th>
                <th>Destination</th>
                <th>DOJ</th>
                <th>Fare</th>
                <th>Charge</th>
                <th>Pre</th>
                <th>Post</th>
                <th>Date</th>
                <th>Cancellation&nbsp;Date</th>

            </tr>
        </thead>
        <tbody id="myTable">
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(modelItem => item.LeadPaxFirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PNR)</td>
                    <td>@Html.DisplayFor(modelItem => item.sourceStationName)</td>
                    <td>@Html.DisplayFor(modelItem => item.destinationStationName)</td>
                    <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.CancallationCharge)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPre)</td>
                    <td>@Html.DisplayFor(modelItem => item.RemPost)</td>
                    <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.CancellationDate)</td>
                </tr>
                i++;
            }
            <tr>
                <td colspan="18"><h2 style="text-align:center;">Data Not Found</h2></td>

            </tr>
        </tbody>
        </table>
 </body>
</html>

