@model Vastwebmulti.Areas.RETAILER.ViewModels.BusSearchResultVM
@{
    ViewBag.Title = "Travel";
    Layout = "~/Areas/RETAILER/Views/Shared/_Layout.cshtml";
    decimal Markup = ViewBag.RetailerMarkup;
    decimal charge = ViewBag.charge;
    decimal vastcharge = ViewBag.Margin;
}
<style>
    .scrollypy {
        overflow-y: auto !important;
        height: 250px;
    }

    .btmPlusMinus {
        padding: 3px 6px;
        margin-right: 4px;
        padding-bottom: 6px;
        border-radius: 5px;
    }

        .btmPlusMinus i {
            font-size: 10px;
        }

    .table {
        display: table; /* Allow the centering to work */
        margin: 0 auto;
    }

    ul#horizontal-list {
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
    }

        ul#horizontal-list li {
            display: inline;
            text-align: center;
            padding: 20px;
        }
    /*======================================
    =            NO GUTTER CODE            =
    ======================================*/
    .no-gutter > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    #topSection {
        position: fixed;
        z-index: 99;
        background-color: lavender;
        padding: 5px;
    }

    .Seatdiv {
        position: absolute;
        width: 32px;
        height: 30px;
        background-color: #7cca7c;
        text-align: center;
        padding-top: 4px;
        cursor: pointer;
    }

    .row0 {
        top: 5px;
    }

    .row1 {
        top: 38px;
    }

    .row2 {
        top: 70px;
    }

    .row3 {
        top: 101px;
    }

    .row4 {
        top: 132px;
    }

    .row5 {
        top: 160px;
    }
    /*.row6 {top: 160px; width: 80px;}*/
    .row6 {
        top: 56px;
    }

    .row7 {
        top: 93px;
    }

    .row8 {
        top: 10px;
    }

    .row9 {
        top: 165px;
    }

    .col0 {
        left: 6%;
    }

    .col1 {
        left: 12%;
    }

    .col2 {
        left: 18%;
    }

    .col3 {
        left: 24%;
    }

    .col4 {
        left: 30%;
    }

    .col5 {
        left: 36%;
    }

    .col6 {
        left: 42%;
    }

    .col7 {
        left: 48%;
    }

    .col8 {
        left: 54%;
    }

    .col9 {
        left: 60%;
    }

    .col10 {
        left: 66%;
    }

    .col11 {
        left: 72%;
    }

    .col12 {
        left: 78%;
    }

    .col13 {
        left: 82%;
    }

    .pillow {
        background-color: #FFFFFF;
        border: 1px solid #A8A8A8;
        display: inline-block;
        height: 14px;
        margin-top: 3px;
        margin-left: 1px;
        float: left;
        width: 5px;
        z-index: 999px;
    }

    .vertical-text {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        bottom: 0%;
        top: 2%;
        right: 79%;
        position: absolute;
        color: #636162;
    }

    .loader_innner {
        position: fixed;
        z-index: 999999;
        height: 100%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    }

    .filterHeader {
        background: #eee;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;
        margin-bottom: 10px;
    }

    .sleeper {
        width: 56px;
    }

    .vertical_sleeper {
        height: 64px;
    }

    #block-headermy1.hotelfdfdert-responshive::before {
    top: -14px;
    height: 14px;
}

    @@media screen and (max-width:1366px){
        .sidebar.sidebar-searchfilter.searchfilterrewqy.searchfiltermarginnone-reds.searchfilterrewqy-respon .busfilter-responsivescroll {
    height: 100vh !important;
}
    }

    @@media screen and (max-width:766px){
        .sidebar.sidebar-searchfilter.searchfilterrewqy.searchfiltermarginnone-reds.searchfilterrewqy-respon {
    height: 420px !important;
}
        
    }

    @@media screen and (max-width:580px){
        .headermy1-hotelfdfdert.hotelfdfdert-responshive #defaultnonebus .modifay-totalrooms .modifay-search button span.noneSpan {
    display: none;
}
        .headermy1-hotelfdfdert.hotelfdfdert-responshive #defaultnonebus .modifyones .form-group input {
    padding-right: 2px !important;
}
        .headermy1-hotelfdfdert.hotelfdfdert-responshive #defaultnonebus .col-md-3.p-r-0.modifyone.modifyones.modifyonesreweq input#txtDestinationBus {
    padding-left: 4px !important;
}
    }

    @@media screen and (max-width:420px) {
        .sidebar.sidebar-searchfilter.searchfilterrewqy.searchfiltermarginnone-reds.searchfilterrewqy-respon {
            height: 450px !important;
        }
    }

    @@media screen and (max-width:320px) {
        .sidebar.sidebar-searchfilter.searchfilterrewqy.searchfiltermarginnone-reds.searchfilterrewqy-respon {
            height: 560px !important;
        }
    }


</style>
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/AdminDesign/Retailer_Slider/Slieder.css" rel="stylesheet" />
<link href="~/CSS/PageCss/AirSearch.css" rel="stylesheet" />
<!-- Range Slider Css -->
<!--Plugin CSS file with desired skin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
@Html.Action("_BusFilter", new { model = Model })

<section id="search-filtershow" class="content bus-contentfiltershow" style="margin-left:23%;">
    <div class="container-fluid fluidclassadnew">
        <!-- No Header Card -->
        @*<div class="block-header" style="padding: 12px 0 22px 1px;margin-bottom: 20px;">
                <div class="col-md-6 pull-left"><h2>Found @Model.Content.Addinfo.BusResults.Count<sup>+</sup> &nbsp;Bus</h2></div>
                <div class="col-md-6 pull-left">
                    <button type="button" class="btn bg-purple waves-effect pull-right" data-toggle="modal" data-target="#ModifySearchModal">
                        <i class="material-icons">search</i>
                        <span>Modify Search</span>
                    </button>
                </div>
            </div>*@

        <div class="container-fluid">
            <!-- No Header Card -->
            <div id="block-headermy1" class="block-header fullbodydycolorbg headermy1-hotel headermy1-hotelfdfdert hotelfdfdert-responshive" style="padding: 12px 0 22px 1px;margin-bottom: 20px;">
                @*<h2>NO HEADER CARDS</h2>*@

                <div id="defaultshowbus">
                    <div class="col-md-9 showhotelvalue">
                        <div class="add-hotelvalue add-busvalue">
                            <ul style="list-style:none;">
                                <li>
                                    <span> Source </span>
                                    <input type="text" value="@ViewBag.txtSourceBus" class="form-control" placeholder="Source" readonly="readonly" style="padding-left:10px;font-size:16px;z-index:1052;" />
                                </li>
                                <li style="width:15%">
                                    <span>Destination</span>
                                    <input type="text" value="@ViewBag.txtDestinationBus" class="form-control" placeholder="Destination" readonly="readonly" style="padding-left:10px;font-size:16px;z-index:1052;" />
                                </li>
                                <li style="width:15%">
                                    <span> Date</span>
                                    @{
                                        var date = ViewBag.txt_frm_dateBus;
                                        DateTime dd = Convert.ToDateTime(date);
                                        var newdate = dd.ToShortDateString();
                                    }
                                    <input type="text" value="@newdate" class="form-control" placeholder="Date" readonly="readonly" style="padding-left:10px;font-size:16px;z-index:1052;" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 pull-left hotel-modify hotel-totals totals-bustotal" id="bus-totals">
                        <span class="editmodify">Edit Details</span>
                        <button type="button" id="busclickshow" class="btn bg-purple waves-effect pull-right">
                            <img src="~/ashok-images/search(4).svg" style="width:20px;margin-right: 3px;" />
                            <span style="top:-2px;">Modify&nbsp;Search</span>
                        </button>
                    </div>
                </div>
                <div class="" id="defaultnonebus" style="display:none;">
                    <div class="modal-body">
                        @using (Html.BeginForm("Search", "Bus", FormMethod.Get))
                        {
                            <form method='post'>
                                <div class="row" style="margin-left:0px;margin:0;">
                                    <div class="col-md-12 hotel-modifyclass">
                                        <div class="row" style="margin-bottom:-29px;margin:0;">
                                            <div class="col-md-8 p-r-0 modify-colmd">
                                                <div style="">
                                                    <span id="" style="font-size:11px; float:left;">Source</span>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="input-group" style="margin-bottom:0px; margin-top:-2px;border:1px solid #dddddd; height:37px;margin-left:1px;">
                                                        <input type="text" id="txtSourceBus" name="txtSourceBus" value="@ViewBag.txtSourceBus" class="form-control" placeholder="Hotel or City Name" style="padding-left:10px;font-size:16px;z-index:1052;" />
                                                    </div>
                                                    <!-- /.input group -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 modifyclasssecond" style="margin-top:20px;">
                                        <div class="row" style="margin:0;">

                                            <div class="col-md-3 p-r-0 modifyone modifyones modifyonesreweq" style="width:20%;">
                                                <div style="">
                                                    <span id="" style="font-size:11px; float:left;">Destination</span>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="input-group" style="margin-bottom:0px; margin-top:-6px; margin-left:1px;">
                                                        <div class="form-iconmy form-iconmycust" style="display:none;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        <input type="text" id="txtDestinationBus" name="txtDestinationBus" value="@ViewBag.txtDestinationBus" class="form-control" placeholder="Hotel or City Name" style="padding-left:10px;font-size:16px;z-index:1052;" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 p-r-0 modifyone modifyones" style="width:20%;">
                                                <div style="">
                                                    <span id="" style="font-size:11px; float:left;">Journey Date</span>
                                                </div>
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div class="input-group input-daterange" style="margin-bottom:0px; margin-top:-6px; margin-left:1px;">
                                                        <div class="form-iconmy form-iconmycust"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                        <input type="text" id="txt_frm_dateBus" name="txt_frm_dateBus" value="@ViewBag.txt_frm_dateBus" class="datepicker form-control" placeholder="Depart Date" style="padding-left:10px;font-size:16px;" />
                                                        <div class="input-group-addon">
                                                            <img src="~/images/departurescal.png" class="img-respinsive" style="height:21px;margin-right:-7px;" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modifay-totalrooms" style="padding-left:12px;">
                                        <div class="row">
                                            <div class="col-md-3 p-r-0 modifay-search">
                                                <div class="form-group" style="margin-bottom:0px;">
                                                    <div style="border-bottom:none;">
                                                        <div class="icon-and-text-button-demo">
                                                            <button type="submit" id="searchmodify-block" class="btn bg-blue-grey waves-effect effectjqueryadd" style="width:100%;height:37px; float:left;">
                                                                <i class="fa fa-search noneiconclick" style="top:-2px;"></i> <span class="noneSpan" style="">Search</span>

                                                                <div class="nextloaderessqq nextloaderessqqss nextloaderessqqssewq" style="display:none">
                                                                    <div class="loader1 loader--style2" title="1">
                                                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                                                        <rect x="0" y="0" width="4" height="20" fill="#bb252a">
                                                                        <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                                                                 </rect>
                                                                        <rect x="7" y="0" width="4" height="20" fill="#bb252a">
                                                                        <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animate>
                                                                </rect>
                                                                        <rect x="14" y="0" width="4" height="20" fill="#bb252a">
                                                                        <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animate>
</rect>
  </svg>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>

            </div>


        </div>


        <div class="row sortingRowdftrttg sortingRowdftrttg-responshive" style="margin-top: 104px !important;margin-left:0;margin-right:0;">
            <div id="sortingRow" class="sortingRowrtyusf sortingRowrtyusf-responshiveclass" style="background:#a4a0a0;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hotel-col-lg-12 bus-newclass" style="color:white;">
                    <div class="col-md-4" style="text-align:center">Bus Operator</div>
                    <div class="col-md-8 addbus-alldetail">
                        <div class="col-md-3 p-r-0 p-l-0"><span>Departure &nbsp;&nbsp;</span>&nbsp;<span class="pull-right">Arrival</span></div>
                        <div class="col-md-2 p-r-0"><span class="pull-right">Duration</span> </div>
                        <div class="col-md-2"><span class="pull-right">Seats</span></div>
                        <div class="col-md-2 Price-busprice" style="text-align:right;">
                            Price
                            <span class="ofrrs-sh" style="cursor:pointer;"> <i class="fa fa-eye"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="BusLoader" style="display:none;">
                <div class="loader_innner">
                    <img src="~/images/Busloader.gif" style="margin-top:15%;margin-left:46%;" />
                </div>
            </div>
            @foreach (var m_Item in Model.Content.Addinfo.BusResults.OrderBy(a => a.BusPrice.PublishedPriceRoundedOff))
            {
                var filter_AC_ATT = m_Item.BusType.ToUpper().Contains("AC") ? "data-bus-ac=AC" : "data-bus-ac=NONAC";
                var filter_seat_ATT = m_Item.BusType.ToUpper().Contains("SLEEPER") ? "data-bus-seat=SLEEPER" : "data-bus-seat=SEATER";
                var priceToShow = m_Item.BusPrice.PublishedPriceRoundedOff + Markup;
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seatcolmd12 priceminclass_@priceToShow pricemaxclass_@priceToShow" @filter_AC_ATT @filter_seat_ATT data-bus-optname="@m_Item.TravelName" data-bus-price-min="@priceToShow" data-bus-price-max="@priceToShow">
                    <div class="card carddertyuo">
                        <div class="body bg-white whiteewsrtyu" style="padding-bottom:0px;">
                            <div class="row">
                                <div class="col-md-4" style="padding-right:0px; margin-bottom:0px;">
                                    <div class="media" style="margin:0px;">
                                        <div class="media-left">
                                            <a href="javascript:void(0);">
                                                <img class="media-object" src="~/images/Bus Default Logo.png" width="40" height="40">
                                            </a>
                                            <br />
                                        </div>
                                        <div class="media-body" style="text-align:left;">
                                            <h4 class="media-heading">@m_Item.TravelName</h4>
                                            @m_Item.BusType
                                        </div>
                                    </div>
                                </div>
                                <div class="timeDiv col-md-8" style="margin-bottom:0px;">
                                    <div class="row">
                                        <div class="col-md-6" style="margin-bottom:0px;">
                                            <div class="col-md-12">
                                                <div class="row clearfix">
                                                    <div class="col-md-4 flightlocation" style="padding-left:5px;">
                                                        <strong> @Convert.ToDateTime(m_Item.DepartureTime).ToString("HH:mm")</strong> <br />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <strong>
                                                            @Convert.ToDateTime(m_Item.ArrivalTime).ToString("HH:mm")<br />
                                                        </strong>
                                                    </div>
                                                    <div class="col-md-4 p-r-0">
                                                        @string.Format("{0}{1}{2}", m_Item.ArrivalTime.Subtract(m_Item.DepartureTime).Hours, ":", m_Item.ArrivalTime.Subtract(m_Item.DepartureTime).Minutes + " Hours")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 classwidthqwerryu">
                                            <div class="row">
                                                <div class="col-md-2"><span></span>@m_Item.AvailableSeats</div>
                                                <div class="col-md-10 post-busqwe">
                                                    <center>
                                                        <strong>
                                                            <span>@priceToShow</span>
                                                        </strong>
                                                        <br />
                                                        <!-- Get Offer Price-->
                                                        <span title="Offer Price" class="ofrrs" style="display:none;">
                                                            @{
                                                                var pubfare = m_Item.BusPrice.PublishedPriceRoundedOff;
                                                                var offerdfare = m_Item.BusPrice.OfferedPriceRoundedOff;
                                                                var totalofferfare = offerdfare + (offerdfare * charge) / 100- (vastcharge*offerdfare)/100;
                                                                var offer = 0;
                                                                if (pubfare > totalofferfare)
                                                                {
                                                                    offerdfare = totalofferfare;
                                                                }

                                                            }
                                                            @offerdfare
                                                        </span>
                                                        <!-- Offer Price end-->
                                                    </center>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-2 btn btn-primary primarybookbuse" id="booklink">
                                            @*<a class="btn btn-primary bg-dark-green" href="#">Slect Seats</a>*@
                                            @{
                                                var SeatLayouMaindiv = "layoutMainDiv_" + m_Item.OperatorId + "_" + m_Item.RouteId;
                                                var xxx = m_Item.BoardingPointsDetails;
                                                var yyy = m_Item.DroppingPointsDetails;
                                            }
                                            @*@Ajax.ActionLink("SELECT SEATS", "GetBusLayout", new { txtSourceBus = Model.source, txtDestinationBus = Model.destination, txt_frm_dateBus = Convert.ToDateTime(Model.doj), inventoryType = m_Item.InventoryType, routeSchedule = m_Item.RouteId }, new AjaxOptions { OnSuccess = "OnSuccessGetLayout", OnFailure = "OnFailureGetLayout", UpdateTargetId = SeatLayouMaindiv, LoadingElementId = "BusLoader" }, new { onclick = "ShowLayoutClick('" + SeatLayouMaindiv + "')", style = "color :white" })*@
                                            @Ajax.ActionLink("SELECT SEATS", "GetBusLayout", new { ResultIndex = m_Item.ResultIndex, TraceId = Model.Content.Addinfo.TraceId }, new AjaxOptions { OnSuccess = "OnSuccessGetLayout", OnFailure = "OnFailureGetLayout", UpdateTargetId = SeatLayouMaindiv, LoadingElementId = "BusLoader" }, new { onclick = "ShowLayoutClick('" + SeatLayouMaindiv + "')", style = "color :white" })

                                            <div class="nextloaderess nextloaderessqwer" style="display:none;">
                                                <div class="loader1 loader--style2" title="1">
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                                    <rect x="0" y="0" width="4" height="20" fill="#c0242a">
                                                    <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                                                     </rect>
                                                    <rect x="7" y="0" width="4" height="20" fill="#c0242a">
                                                    <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animate>
                                                    </rect>
                                                    <rect x="14" y="0" width="4" height="20" fill="#c0242a">
                                                    <animate attributeName="opacity" attributeType="XML" values="1; .2; 1" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animate>
</rect>
  </svg>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix selectSeatRightCol" id="@SeatLayouMaindiv" style="display:none;">

                </div>
            }
            <!-- #END# No Header Card -->
        </div>
        <!--Slider div-->
        <br />
    </div>
</section>
<!-- Jquery Core Js -->
<div class="loaderssee loaderpancard" id="loaderpancardss" style="display:none;"></div>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Start Rechargepaybill js-->
<script src="~/Retailerjavascript/Rechargepaybill/electricityl.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Landline.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Dth.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/gas.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Insurance.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/mobileperpaidandpostpaid.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/Water.js"></script>
<script src="~/Retailerjavascript/Rechargepaybill/broadband.js"></script>
<!--End-->
<script src="~/AdminDesign/Retailer_Slider/multislider.js"></script>
<script src="~/Scripts/PageScript/Retailer/AirSearch.js"></script>
@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
@*<script>
        $('#busclickshow').click(function () {
            $('#block-headermy1').hide();
            $('#defaultnonebus').show();
        })

    </script>*@

<script>
    $('.ofrrs-sh').click(function () {
        if ($('.ofrrs:visible').length == 0) {
            $('.ofrrs').show();
        }
        else {
            $('.ofrrs').hide();
        }
    });
</script>
@*<script>
        $('#basicSlider').multislider({
            continuous: true,
            duration: 2000
        });
        $('#mixedSlider').multislider({
            duration: 750,
            interval: 3000
        });
    </script>*@
<!--Calendar Javascript-->
<script type="text/javascript">
    $(function () {
               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                'startDate': dateToday
               });
            });
            var val = '@ViewBag.chk';
        if (val != "post") {

                $("#txt_frm_dateBus").datepicker("setDate", new Date());
            }
        });
</script>
<script type="text/javascript">
    //$(function () {
    //    $('#date').bootstrapMaterialDatePicker
    //   ({
    //       clearButton: false
    //   });
    //    $('#txt_to_date').bootstrapMaterialDatePicker
    //    ({
    //        weekStart: 0, format: 'DD/MM/YYYY'
    //    });
    //    $('#txt_frm_date').bootstrapMaterialDatePicker
    //    ({
    //        weekStart: 0, format: 'DD/MM/YYYY'
    //    }).on('change', function (e, date) {
    //        $('#txt_to_date').bootstrapMaterialDatePicker('setMinDate', date);
    //    });
    //    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
    //    $('[data-toggle="tooltip"]').tooltip();
    //});
</script>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<script>
    function OnSuccessGetLayout(data) {
        $('[data-toggle="tooltip"]').tooltip();
    }
    function OnFailureGetLayout(data) {
    }
</script>


<!-- Filter Code -->
<script>
    $(".busTypeFilter").on("click", function (e) {
        //        alert($(this).val());
        if ($(this).prop('checked') == true) {
            $("div").find("[data-bus-ac='" + $(this).val() + "']").show();
            $("div").find("[data-bus-seat='" + $(this).val() + "']").show();
            if ($(this).val() == "ALL") {
                $(".seatcolmd12").show();
                $(".busTypeFilter").prop('checked', true);
            }
        }
        else {
            $("div").find("[data-bus-ac='" + $(this).val() + "']").hide();
            $("div").find("[data-bus-seat='" + $(this).val() + "']").hide();
            if ($(this).val() == "ALL") {
                $(".seatcolmd12").hide();
                $(".busTypeFilter").prop('checked', false);
            }
        }
    });
    $(".busOptNameFilter").on("click", function (e) {
        //alert($(this).val());
        if ($(this).prop('checked') == true) {
            $("div").find("[data-bus-optname='" + $(this).val() + "']").show();
            if ($(this).val() == "ALL") {
                $(".seatcolmd12").show();
                $(".busOptNameFilter").prop('checked', true);
            }
        }
        else {
            $("div").find("[data-bus-optname='" + $(this).val() + "']").hide();
            if ($(this).val() == "ALL") {
                $(".seatcolmd12").hide();
                $(".busOptNameFilter").prop('checked', false);
            }
        }
    });
</script>

<script>
$.noConflict();
jQuery(document).ready(function ($) {
    //////////// BUS /////////////////
    $("#txtSourceBus").autocomplete({
        source: '@Url.Action("GetBusStopName")',
        minLength: 3
    })
    $("#txtDestinationBus").autocomplete({
        source: '@Url.Action("GetBusStopName")',
        minLength: 3
    })
});
</script>
<!-- RangeSlider Plugin Js -->


<script>
    $(function () {
        $('#busclickshow').click(function () {
            $('#defaultnonebus').css('display', 'block');
            $('#defaultshowbus').css('display', 'none');
        });
    });
</script>

<script>
    $(function () {
        $('.primarybookbuse').click(function () {

            $(this).find('.nextloaderess').css('display', 'block');
            $(this).css('font-size', '0px');

        });
    });
</script>

<script>
    $(function () {
        $('.effectjqueryadd').click(function () {

            $(this).find('.nextloaderessqqssewq').css('display', 'block');
            $(this).css('font-size', '0px');
            $(this).find('.fa.fa-search.noneiconclick ,.noneSpan').css('display', 'none');

        });
    });
</script>



