@model Vastwebmulti.Areas.FeeCollector.Models.FeeInvoiceModel
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>INVOICE</title>
</head>
<body style="border:1px solid black; overflow-x:hidden;overflow-y:hidden;">
    <header>
        <table style="background-color:mediumslateblue; width:100%; font-size:20px;">
            <tr>
                <td style="width:40%;"><b>Receipt: @Model.lstReceiptItems.First().InvoiceID.ToString()</b></td>
                <td style="width:33%;"><b>Invoice</b></td>
                <td style="width:33%;"><b>@Model.lstReceiptItems.First().InvoiceDate.ToString()</b></td>
            </tr>
        </table>
     <address>
            <table style="width:100%;">
                <thead>
                    <tr>
                        <td colspan="5" style="width:80%;">
                            <b>Fee Receipt :-</b><br /><br />
                            @Model.feecollcector.SchoolName<br />
                            @Model.feecollcector.Address<br />
                            @Model.feecollcector.Email<br />
                            @Model.feecollcector.Mobile
                        </td>
                        <td colspan="5" style="width:30%;">
                            <span> <img src="@Url.Content("~/"+Model.feecollcector.Logo)" width="110" height="110" /></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
            </table>
        </address>
    </header>
    <hr />
    <article>
        <address>
            <table style="width:100%">
                <tr>
                    <td style="font-size:18px; width:50%;"><b>Student Information</b></td>
                   
                    <td style="font-size:18px; width:50%;"><b>Roll No : @Model.student.RollNo</b></td>
                </tr>
                <tr>
                    <td>Name : @Model.student.Name</td>
                    
                    <td>Father Name : @Model.student.FName</td>
                </tr>
                <tr>
                    <td>Class: @Model.student.stdClass</td>
                  
                    <td>Section: @Model.student.Section</td>
                </tr>
            </table>
        </address>
        <br />
        <table border="1" style="width:100%;">
            <thead>
                <tr>
                    <th><span contenteditable>S.R.</span></th>
                    <th><span contenteditable>Description</span></th>
                    <th><span contenteditable>Amount</span></th>
                    
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model.lstReceiptItems)
                {
                <tr>
                    <td><span>@i</span></td>
                    <td><span >@item.Perticular</span></td>
                    <td><span contenteditable>@item.Amount</span></td>

                </tr>
                    i++;
                }
            </tbody>
        </table>

        
    </article>

    
</body>
</html>  
