@model Vastwebmulti.Areas.FeeCollector.Models.FixedFeeChargeModel
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="demo-button">
                            <div class="row">
                                <div class="col-md-6" style="margin-top:-10px;">
                                </div>
                                <div class="col-md-6" style="margin-top:-10px;">
                                    <button type="button" class="btn bg-indigo waves-effect" style="float:right;" data-toggle="modal" data-target="#defaultModal">
                                        <i class="material-icons" style="top:0px;">group</i>
                                        <span style="top:-4px;">Add&nbsp;New</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-33px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
                            All Fixed Charges Details
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th style="padding-left:2px;">S.R.</th>
                                        <th style="padding-left:2px;">Attribute</th>
                                        <th style="padding-left:2px;">Value</th>
                                        <th style="padding-left:2px;">Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.lstFeeCharges)
                                    {
                                        <tr>
                                            <td>@item.Idno</td>
                                            <td>@item.FeeName</td>
                                            <td>@string.Format("{0:C2}", item.FeeValue)</td>
                                            <td>@item.stdClass</td>
                                            @*<td style="padding:3px;">
                                                <a href="@Url.Action("RemoveAttribute",new { id = item.AttID  })" style="text-decoration:none;"><span class="" style=""></span><i class="fa fa-trash fa-2x" style="color:red;"></i></a>
                                            </td>*@

                                        </tr>


                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add New   modal-->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:white;">Add New Attribute</h4>
            </div>
            @using (Html.BeginForm("insertFixedFeeCharges", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:-26px;">
                    <div class="body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="ProductId">Class</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.EnumDropDownListFor(m=>m.stdClass,  new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.stdClass, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="AttName">Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m=>m.FeeName, "", new { @class = "form-control", placeholder = "Enter Attribute Name", required = "required" })
                                            @Html.ValidationMessageFor(m => m.FeeName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="AttValue">Value</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m=>m.FeeValue, "", new { @class = "form-control", placeholder = "Enter Amount.", required = "required" })
                                            @Html.ValidationMessageFor(m => m.FeeValue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary waves-effect">Save Change</button>
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />



