
<link href="~/AdditionalCSS/effectivemodalpopup.css" rel="stylesheet" />
<section class="content" style="">
    <div class="container-fluid">
        <div class="row clearfix" style="margin-top: -3px;">
            <!-- Profile-->
            <div class="col-md-4">

                <div class="card navbar" style="position: initial;">
                    <div class="header " style="padding: 10px;">
                        <h2 style="color: white;"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:green;"></i>&nbsp;&nbsp;<span style="color:green;font-weight:700;">" Distributor "</span> Profile</h2>
                    </div>
                    <div class="body">
                        <center>
                            <div class="image" style="margin-top: -9px;">
                                @if (ViewBag.image != null && ViewBag.image != "")
                                {
                                    <img src="@Url.Content("~/" + ViewBag.image)" width="100" height="100" class="img-circle" alt="User">

                                }
                                else
                                {

                                    <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User">
                                }

                            </div>
                            <div class="msg" style="padding-top: 6px; color: white;">@ViewBag.email</div>
                        </center>
                        <div class="row" style="margin-top:18px;">

                            <div class="col-xs-3" style="margin-left: 9px;">
                                <a href="~/DEALER/Home/Profile" class="btn btn-default waves-effect" type="button" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left: -16px;">My&nbsp;Profile</a>
                            </div>
                            <div class="col-xs-3">
                                @using (Html.BeginForm("LogOff", "Account", new { Area = "", id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-default waves-effect" type="submit" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left: -6px;"><i class="fa fa-sign-out" style="top:0px; color:red;font-size:14px;"></i>&nbsp;<span style="color:red; top:-1px;">Logout</span></button>
                                }
                            </div>
                            <div class="col-xs-4">
                                <a href="~/DEALER/Home/ChangePassword" class="btn btn-default waves-effect" type="button" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left:5px;">&nbsp;Change Password</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- My Todays Business-->
            <div class="col-md-8">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4" style="border-right:1px solid #0000000a;">
                            <div class="header" style="padding: 10px;">
                                <h2><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My All Users Chart</h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <center><div id="donut_chart" class="graph" style="margin-top:-15px; height:151px;"></div></center>
                                        <center>
                                            @*<span style="color:green;font-weight:700; text-align:center;font-size:12px;">Active-&nbsp;<span style="color:black; text-align:center;">@ViewData["actRtl"]</span></span>
                                            <span style="color:#e91e63;font-weight:700;text-align:center;font-size:12px;">InActive-&nbsp;<span style="color:black;text-align:center;">@ViewData["inRtl"]</span></span>
                                            <span*@ 
                                            @*style="color:#8000ff;font-weight:700;text-align:center;font-size:12px;">Total-&nbsp;<span style="color:black;text-align:center;">@ViewData["TotalRetailrs"]</span></span>*@
                                        </center>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="header" style="padding: 10px;">
                                <h2><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Today Business</h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <canvas id="pie_chart" height="400" style="margin-top:-23px;"></canvas>
                                    </div>
                                    <div class="col-md-8" style="margin-bottom:-22px;">
                                        <div class="row">
                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="border-right:1px solid #00000014;">
                                                <p style="color:#e91e63;font-weight:700; font-size:12px;">Prepaid&nbsp;:&nbsp;<span style="color:#2f2d2d94; padding-left:26px;">11657</span></p>
                                                <p style="color:#0080ff;font-weight:700;font-size:12px;">Postpaid&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:20px;">44455</span></p>
                                                <p style="color:#4caf50;font-weight:700;font-size:12px;">DTH&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:44px;">44455</span></p>
                                                <p style="color:#ff0000;font-weight:700;font-size:12px;">Landline&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:21px;">44455</span></p>
                                                <p style="color:#808080;font-weight:700;font-size:12px;">Electricity&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:13px;">44455</span></p>
                                                <p style="color:black;font-weight:700;font-size:12px;">Ecommerce&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:2px;">44455</span></p>
                                                <p style="color:#00ffff;font-weight:700;font-size:12px;">M&nbsp;Pos&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:32px;">44455</span></p>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <p style="color:#3f51b5;font-weight:700;font-size:12px;">Insurance&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:19px;">25563</span></p>
                                                <p style="color:#bf00ff;font-weight:700;font-size:12px;">IMPS&nbsp;:&nbsp;<span style="color:#2f2d2d94; padding-left:43px;">44455</span></p>
                                                <p style="color:#795548;font-weight:700;font-size:12px;">Gas&Water&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:12px;">44455</span></p>
                                                <p style="color:#ff9800;font-weight:700;font-size:12px;">Gift&nbsp;Card&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:24px;">44455</span></p>
                                                <p style="color:#00bcd4;font-weight:700;font-size:12px;">DTH&nbsp;Booking&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:2px;">44455</span></p>
                                                <p style="color:#00ffbf;font-weight:700;font-size:12px;">Pancard&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:28px;">44455</span></p>
                                                <p style="color:#ff00ff;font-weight:700;font-size:12px;">AEPS&nbsp;:&nbsp;<span style="color:#2f2d2d94;padding-left:42px;">44455</span></p>
                                            </div>*@

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row clearfix">
            <!-- Upcoming Holidays-->
            <div class="col-md-4">

                <div class="card">
                    <div class="header" style="padding: 10px;">
                        <h2><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Upcoming Holidays</h2>
                    </div>
                    <div class="body" style="margin-top: -18px; margin-bottom: -18px;height:136px;">
                        <div class="row">
                            @foreach (var item in ViewBag.showholiday)
                            {
                                <div class="col-xs-6">
                                    <center>
                                        <span style="font-size: 30px;">@item.Day</span>
                                        <span style="font-size: 16px;display:block; margin-top:-8px;">@item.Month<span style="font-size: 10px; margin-top: 10px; padding-left:5px;"><sup style="font-size:12px; top:0px; font-weight:600;">@item.Year</sup></span></span>
                                        <span style="font-size: 11px; margin-top: 3px; display: block; font-weight:700;">@item.HolidayName</span>
                                    </center>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="card navbar" style="position: initial;">
                    <div class="header" style="padding: 10px;">
                        <h2 style="color: white;"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Helpdesk</h2>
                    </div>
                    <div class="body">
                        <div class="row" style="margin-bottom: -4px;">

                            <div class="col-xs-4">
                                <button class="btn btn-default waves-effect" type="button" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left: -14px;" data-toggle="modal" data-target="#niceZoomIn">Email Us</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default waves-effect" type="button" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left: -29px;" data-toggle="modal" data-target="#zoomOutIn">Contact Us</button>
                            </div>
                            <div class="col-xs-4">
                                <a href="~/MASTER/Home/Complaint" class="btn btn-default waves-effect" type="button" style="text-decoration: none; box-shadow: none; border: 1px solid #dddddd; margin-left: -31px;">Complaint&nbsp;Req.</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- News-->
            <div class="col-md-8">
                <div class="card">
                    <div class="header" style="padding: 10px;">
                        <h2>Update News</h2>
                    </div>
                    <div class="body" style="padding:3px;">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <div class="carousel-inner">
                                @{int count = 0;
                                    string activeclass = "";

                                }
                                @foreach (var item in ViewBag.news)
                                {
                                    if (count == 0)
                                    {
                                        activeclass = "item active";
                                        count++;
                                    }
                                    else
                                    {
                                        activeclass = "item";
                                    }
                                    var messagee = "";
                                    var message = item.message;
                                    if (message.Length > 340)
                                    {
                                        message = message.Substring(0, 340);
                                    }
                                    else
                                    {
                                        messagee = message;
                                    }
                                    <div class="item @activeclass">
                                        <div class="row">
                                            <div class="col-xs-12" style="margin-top:10px;">
                                                <div class="thumbnail adjust1" style="border:none;">
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        <img class="media-object img-rounded img-responsive" src="@Url.Content("~/" + item.image)" style="margin-top:11px;">
                                                    </div> <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <div class="caption">
                                                            <p style="text-align:justify;"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;@message</p>
                                                            <blockquote class="adjust2">
                                                                <p>@item.name</p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div> <!-- Controls -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!--Email Us Modal -->
<div class="modal fade" id="niceZoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:white;">Admin Email Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 10px 15px;text-align: center; border-bottom: 1px solid #eee;border-top: 1px solid #eee;">
                        <strong>HelpTime:(9AM - 9PM)</strong>
                        <br>
                        <p style="margin:-5px;margin-top:5px;">@ViewBag.email1</p>
                        <p style="margin:-5px; margin-top:5px;">@ViewBag.email2</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Contact US Modal-->
<div class="modal fade" id="zoomOutIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header navbar" style="position:initial;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:white;">Admin Contact Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 10px 15px;text-align: center; border-bottom: 1px solid #eee;border-top: 1px solid #eee;">
                        <strong>HelpTime:(9AM - 9PM)</strong>
                        <br>
                        <p style="margin:-5px;margin-top:5px;">@ViewBag.mobile1</p>
                        <p style="margin:-5px; margin-top:5px;">@ViewBag.mobile2</p>
                    </div>
                    <div class="col-md-12" style="padding: 10px 15px;text-align: center; border-bottom: 1px solid #eee;border-top: 1px solid #eee;">
                        <strong>Customercare Number</strong>
                        <br>
                        <p style="margin:-5px;margin-top:5px;">@ViewBag.customercareno</p>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>



<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Chart Plugins Js -->
<script src="~/AdminDesign/plugins/chartjs/Chart.bundle.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/charts/chartjs.js"></script>

<script>
    window.onload=function()
    {
        initDonutChart();
    }
</script>
<!-- Distributor active and inactive users Chart -->
<script type="text/javascript">
    function initDonutChart() {
        var active = '@ViewData["actRtl"]';
        var inactive = '@ViewData["inRtl"]';
        var totalusers = '@ViewData["TotalRetailrs"]';
        Morris.Donut({
            element: 'donut_chart',

            data: [
                {
                    label: 'Active',
                    value: active,
                },

            {
                label: 'InActive',
                value: inactive
            },
              {
                  label: 'Total',
                  value: totalusers
              }
            ],

            colors: [
                'rgb(34,139,34)',
                 'rgb(233, 30, 99)',
                'rgb(128, 0, 255)'],

            formatter: function (y) {
                return y

            }

        });

    }
</script>

@*Today Business Pie Chart*@
<script>
    $(function () {
        var vv = (document.getElementById("pie_chart").getContext("2d"), getChartJs('pie'));
      });

    function getChartJs(type) {
        var prepaid = 8;
        var postpaid = 10;
        var Dth = 12;
        var landline = 14;
        var electricity = 8;
        var gas = 6;
        var imps = 7;
        var Insurance = 10;
        var Giftcard = 5;
        var Dthbooking = 8;
        var ecommerce = 10;
        var mpos = 16;
        var pancard = 14;
        var AEPS = 13;

        var config = null;
        if (type === 'pie') {
            config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [prepaid, postpaid, Dth, landline, electricity, gas, imps, Insurance, Giftcard, Dthbooking, ecommerce, mpos, pancard, AEPS],
                        backgroundColor: [
                "rgb(233, 30, 99)",
                "rgb(0, 128, 255)",
                "rgb(76, 175, 80)",
                "rgb(255, 0, 0)",
                "rgb(128, 128, 128)",
                "rgb(121, 85, 72)",
                "rgb(191, 0, 255)",
                "rgb(63, 81, 181)",
                "rgb(255, 152, 0)",
                "rgb(0, 188, 212)",
                "rgb(0, 0, 0)",
                "rgb(0, 255, 255)",
                "rgb(0, 255, 191)",
                "rgb(255, 0, 255)"
                        ],
                    }],
                    labels: [
                        "Prepaid",
                        "Postpaid",
                         "DTH",
                         "Landline",
                         "Electricity",
                         "Gas",
                         "IMPS",
                         "Insurance",
                         "Gift Card",
                         "DTH Booking",
                         "E-Commerce",
                         "M-Pos",
                         "Pancard",
                         "AEPS"
                    ]
                },
                options: {
                    responsive: true,
                    legend: false
                }
            }
        }
        return config;
    }
</script>