@using Vastwebmulti.Models;
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.companyname</title>
    <!-- Load Roboto font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Load css styles -->
    <link rel="stylesheet" href="~/MainFrontDesign/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/pluton.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/jquery.cslider.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="~/FrontapplicationDesign/css/animate.css" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/FrontapplicationDesign/images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/FrontapplicationDesign/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/FrontapplicationDesign/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4eb3ded1c6.js" crossorigin="anonymous"></script>

    @{
        if (!HttpContext.Current.Request.IsLocal)
        {
            <!-- To Disable Inspect Element -->
            <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
        }
    }
    @{
        var favimage = "";
        VastwebmultiEntities db2 = new VastwebmultiEntities();
        string currenturl = HttpContext.Current.Request.Url.Authority;
        currenturl = currenturl.Replace("www.", "").Replace("https://", "").Replace("http://", "");
        currenturl = currenturl.ToUpper();
        var whitelabelid = "";
        try
        {
            if (currenturl.Contains("LOCALHOST"))
            {
                whitelabelid = db2.WhiteLabel_userList.AsNoTracking().Where(aa => aa.localhost.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
            }
            else
            {
                whitelabelid = db2.WhiteLabel_userList.AsNoTracking().Where(aa => aa.websitename.Replace("www.", "").Replace("https://", "").Replace("http://", "").ToLower() == currenturl.ToLower()).SingleOrDefault().WhiteLabelID;
            }
        }
        catch { }
        // Single query instead of ToList() + SingleOrDefault()
        var faviconRec2 = db2.tblfavicons.AsNoTracking().FirstOrDefault(p => p.UserId == whitelabelid);
        if (faviconRec2 != null)
        {
            favimage = faviconRec2.faviconimage;
        }

        var imageRec = db2.tblfooterImages.AsNoTracking().FirstOrDefault(p => p.UserId == whitelabelid);
        ViewBag.image = imageRec != null ? imageRec.ImageUrl : "img42.png";

        ViewBag.Sate = db2.State_Desc.AsNoTracking().Select(a => new SelectListItem { Text = a.State_name, Value = a.State_id.ToString() }).ToList();

        var cardMenu2 = db2.tblMenus.AsNoTracking().FirstOrDefault(a => a.MenuName == "CARDS");
        var travelMenu2 = db2.tblMenus.AsNoTracking().FirstOrDefault(a => a.MenuName == "TRAVEL");
        var Card = cardMenu2 != null ? cardMenu2.Status : "N";
        var Travel = travelMenu2 != null ? travelMenu2.Status : "N";
        var NotShow = (Card == "Y" || Travel == "Y");
    }
    <link rel="icon" href="@Url.Content("~/" + @favimage)" type="image/x-icon" />
    <style>
        * {
            font-family: 'Poppins', sans-serif !important;
        }

        .headerwl.navbar {
            position: absolute;
            z-index: 1;
            right: 0px;
            left: 0px;
            background: transparent;
        }

        .headerwl .navbar-inner {
            background: transparent;
        }

        .headerwl .footer-wl-in {
            border: 1px solid #fff;
            padding: 4px 10px;
            color: #fff;
            cursor: pointer;
        }

        #top-navigation > li {
            display: inline-block;
        }

        .outer-log > a {
            color: #fff !important;
            border: 2px solid #f0c20d !important;
            transition: .5s linear !important;
            padding: 4px 15px !important;
            background: #f0c20d;
        }

        .navbar .white-nav .nav .outer-log > a:hover {
            background: #fff !important;
            color: #f0c20d !important;
        }

        .footer-wl-one {
            display: inline-block;
            width: 60%;
            box-shadow: 0px 0px 12px -2px #000;
            padding: 20px;
        }

            .footer-wl-one > li {
                width: 100%;
                padding-bottom: 10px;
                margin: auto;
            }

            .footer-wl-one li .fa {
                display: inline-block;
                font-size: 22px;
                margin-bottom: 5px;
                margin-right: 10px;
            }

        .social li {
            padding: 0 0px;
            width: 40px;
        }

        .headerwl.fixed {
            background: rgba(0,0,0,.6);
            position: fixed;
        }

        .navbar.headerwl.fixed.navbar-fixed-top ul.headernav-white li a, .navbar.headerwl .white-nav .nav > .active > a, .navbar.headerwl .white-nav .nav > li:hover > a {
            color: #fff !important;
        }

        .navbar.headerwl .white-nav .nav > .active > a, .navbar.headerwl .white-nav .nav > li:hover > a {
            color: #fff !important;
        }
        .footer-content-white i {
            font: normal normal normal 14px/1 FontAwesome !important;
        }
        .footer-content-white .footer-title-wh {
            margin: 0;
            margin-bottom: 25px;
            font-size: 25px;
            font-weight: 400;
            font-weight: 600;
            letter-spacing: 1px;
            color: #f0c20d;
        }

        .footer-content-white ul li a i {
            font-size: 15px !important;
            margin-right: 10px;
        }
        .footer-content-white ul li a {
            font-size: 15px;
            font-weight: 300;
            transition:all .4s linear;
        }
        .footer-content-white ul li {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
            .footer-content-white ul li a:hover i, .footer-content-white ul li a:hover {
                color: #f0c20d !important;
            }
            .footer-content-white ul li a i {
                background: #fff;
                color: #555;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .footer-content-white ul li a{display:flex;align-items:center;}
            .footer-content-white ul li a:hover i{
                background:#f0c20d;
                color:#fff !important;
            }
        .white-footer {
            padding: 30px 0;
        }
        body .navbar.headerwl .white-nav .nav > li:hover > a, .navbar.headerwl .white-nav .nav > li > a:hover, .navbar.headerwl .white-nav .nav > li:hover > a 
        ,body .navbar.headerwl .white-nav .nav > li > a:focus {
            color: #f0c20d !important;
            background: transparent !important;
        }
            body .navbar.headerwl .white-nav .nav > li.active:hover > a{color:#fff !important;}
        body .navbar.headerwl .white-nav .nav > li > a {
            padding: 6px 15px;
        }
        body .navbar.headerwl .white-nav .nav > li.active > a {
            background: #f0c20d !important;
            color: #fff !important;
            border-radius: 25px;
        }
        body .navbar.headerwl .white-nav .nav > li {
            margin-left:0px !important;margin-right:0px !important;
        }
        
        .wh-resmenu {
            background: transparent;
            float: right;
            border: 0;
            position: relative;
        }
            .wh-resmenu span {
                width: 20px;
                height: 2px;
                background: #fff;
                display: block;
                margin-bottom: 5px;
                transition:all .4s linear;
            }
        

        @@media screen and (max-width:991px) {
            .wh-resmenu{display:block !important;}
            
            .navbar-wh-header img {
                width: 80px;
            }
            .wh-resmenu {
                margin-top: 15px;
            }
            .wh-resmenu-show span:nth-child(2) {
                transform: translateX(500%);
            }
            .wh-resmenu-show span {
                transform: rotate(45deg);
            }
                .wh-resmenu-show span:nth-child(3) {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    transform: rotate(-45deg);
                }
            .wh-resmenu.wh-resmenu-show {
                position: relative;
                top: 7px;
            }
            .navbar-wh-header .headernav-white {
                position: fixed;
                top: 55px;
                background: rgba(0,0,0,.6);
                right: 0;
                z-index: 999;
                float: right;
                width: 350px;
            }
                .navbar-wh-header .headernav-white li {
                    display: block !important;
                }
            body .navbar.headerwl .white-nav .nav > li.active > a {
                border-radius: 0;
                margin: 0;
            }
            body .navbar.headerwl .white-nav .nav > li > a {
                font-weight: 400;
            }
            .navbar .nav > li > a {
                margin-left: 0;
                margin-right: 0;
                border-radius: 0 !important;
            }

            .navbar.navbar-fixed-top.animated.fadeInDown {
                height: 60px;
            }
            .navbar-inner.navbar-wh-header .container {
                padding: 0 !important;
            }
            .navbar-inner.navbar-wh-header {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .navbar-wh-header .wh-logo {
                padding-left: 20px;
            }
            .wh-resmenu {
                padding-right: 20px;
            }
            .navbar-wh-header .headernav-white {
                transform: scale(0);
                transition:all .4s linear;
            }
            .navbar-wh-header .wh-resmenu.wh-resmenu-show + .headernav-white {
                transform: scale(1);
            }
            .navbar .nav > li:last-child > a {
                margin-bottom: 0;
            }
        }

        @@media screen and (max-width:470px) {
            .wl-logo {
                margin-top: 0px !important;
            }

            .footer-wl-one {
                width: 100%;
            }
        }
    </style>
    <style>
        @@media only screen and (max-width:470px) {

        }




    </style>
</head>
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var col = "";

    //var color = db.changecolors.Where(p => p.UserId == whitelabelid).ToList();
    List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.ColorSetting> people = new List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.ColorSetting>();
    JSONReadWrite readWrite = new JSONReadWrite();
    people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Vastwebmulti.Areas.WHITELABEL.Models.JsonFile.ColorSetting>>(readWrite.Read("ColorSetting.json", "~/Areas/WHITELABEL/Models/JsonFile/"));

    var color = people.Where(p => p.UserId == whitelabelid).ToList();
    if (color.Count > 0)
    {
        //if (color.SingleOrDefault().Role == "WHITELABEL")
        //{
        col = color.SingleOrDefault().multipaloutercolor;
        //}
    }
    else
    {
        col = "";
    }
    var image1 = "";
    var logoRec = db.tblHeaderLogoes.AsNoTracking().FirstOrDefault(p => p.UserId == whitelabelid);
    if (logoRec != null) { image1 = logoRec.LogoImage; }
    var vv = db.tblMenus.AsNoTracking().Where(tbl => tbl.Status == "Y" && tbl.UserId == whitelabelid).Select(tbl => new { tbl.MenuName });
    ViewBag.menuname = vv;
    // FirstOrDefault instead of ToList() + SingleOrDefault() - avoids loading full table
    var admindetail = db.Admin_details.AsNoTracking().FirstOrDefault();
    var mailid = admindetail != null ? (admindetail.email ?? "") : "";
    var mobile = admindetail != null ? (admindetail.mobile ?? "") : "";
    string RDate = admindetail != null ? admindetail.Date.ToString() : DateTime.Now.ToString();

    // Single query with FirstOrDefault; fields accessed from cached object
    var wlRec = db.WhiteLabel_userList.AsNoTracking().FirstOrDefault(p => p.WhiteLabelID == whitelabelid);
    var company_Name = wlRec != null ? (wlRec.websitename ?? "") : "";
    var phone = wlRec != null ? (wlRec.Support_Mobile ?? "") : "";
    var WMobile = wlRec != null ? (wlRec.Mobile ?? "") : "";
    var address = wlRec != null ? (wlRec.Address ?? "") : "";
    var email = wlRec != null ? (wlRec.Support_Email ?? "") : "";
    var Wemail = wlRec != null ? (wlRec.EmailId ?? "") : "";




    //********************** Start Whitelabel Badges Media **************************
    var allBadges = db.WhiteLabel_Badges.AsNoTracking().Where(p => p.Userid == whitelabelid).ToList();
    var Appfutur = allBadges.FirstOrDefault(p => p.BadgeType == "Appfutura")?.Url_Link ?? "";
    var Applanche = allBadges.FirstOrDefault(p => p.BadgeType == "Applancher")?.Url_Link ?? "";
    var Badus = allBadges.FirstOrDefault(p => p.BadgeType == "Badush")?.Url_Link ?? "";
    var Extrac = allBadges.FirstOrDefault(p => p.BadgeType == "Extract")?.Url_Link ?? "";
    var Goodfirm = allBadges.FirstOrDefault(p => p.BadgeType == "Good-firms")?.Url_Link ?? "";
    var Mobileap = allBadges.FirstOrDefault(p => p.BadgeType == "Mobile-app")?.Url_Link ?? "";
    var Trustpilo = allBadges.FirstOrDefault(p => p.BadgeType == "Trustpilot")?.Url_Link ?? "";
    //********************** End Whitelabel Badges Media **************************

}

<body>
    <div class="navbar headerwl">
        <div class="navbar-inner navbar-wh-header">
            <div class="container">
                <a href="#Home" class="wh-logo">
                    @*<img src="~/MainFrontDesign/images/logo.png" style="margin-top: 6px; margin-bottom: 6px;" />*@
                    <img src="@Url.Content("~/"+@image1)" alt="Logo" class="wl-logo" style="margin-top:6px;margin-bottom:6px;" />
                    <!-- This is website logo -->
                </a>

                <!-- Main navigation -->
                <div class="nav-collapse pull-right white-nav">
                    <button class="wh-resmenu" style="display:none;">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="nav headernav-white" id="top-navigation">
                        @*<li>
            <div class="footer-wl-in">
                <span style="font-size:16px; margin-top:5px;">@email</span>
            </div>
        </li>
        <li>
            <div class="footer-wl-in">
                <span style="font-size:16px; margin-top:5px;">@phone</span>
            </div>
        </li>*@
                        <li>
                            <a href="#HOME">Home</a>
                        </li>
                        <li>
                            <a href="#ABOUT">About</a>
                        </li>
                        <li>
                            <a href="#SERVICES">service</a>
                        </li>
                        <li>
                            <a href="#WORKS">works</a>
                        </li>
                        @if (Travel != "Y") { 
                        <li>
                            <a href="#Travelservice">travel</a>
                        </li>
                        }
                        <li>
                            <a href="#WhyChoose">why choose us</a>
                        </li>
                        <li class="outer-log"><a style="font-weight:bold;" href='@Url.Action("NewLogin","Home")'>Login</a></li>
                        @*<li class="outer-log"><a style="font-weight:bold;" href='javascript:void(0);'>Login</a></li>*@

                    </ul>

                </div>
                <!-- End main navigation -->
            </div>
        </div>
    </div>





    @RenderBody()

    @*Footer section start*@

    <footer>
        <section class="white-footer" style="background:#666666;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-content-white">
                            <h2 class="footer-title-wh">Location</h2>
                            <ul>
                                <li>
                                    <a href="Javacript:void(0);" style="cursor:inherit;"><i class="fa fa-building-o" aria-hidden="true"></i> @company_Name</a>
                                </li>
                                <li>
                                    <a href="mailto:@Wemail"><i class="fa fa-envelope-o" aria-hidden="true"></i> @Wemail</a>
                                </li>
                                <li>
                                    <a href="tel:@WMobile"><i class="fa fa-phone" aria-hidden="true"></i> @WMobile</a>
                                </li>
                                <li>
                                    <a href="tel:@phone"><i class="fa fa-mobile" aria-hidden="true"></i> @phone</a>
                                </li>
                                <li>
                                    <a href="Javacript:void(0);" style="cursor:inherit;"><i class="fa fa-map-marker-alt"></i> @address</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-content-white">
                            <h2 class="footer-title-wh">Service</h2>
                            <ul>
                                <li>
                                    <a href="#HOME">Home</a>
                                </li>
                                <li>
                                    <a href="#ABOUT">About</a>
                                </li>
                                <li>
                                    <a href="#SERVICES">Service</a>
                                </li>
                                <li>
                                    <a href="#Travelservice">Travel</a>
                                </li>
                                <li>
                                    <a href="#WhyChoose">why Choose us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-content-white">
                            <h2 class="footer-title-wh">Social link</h2>
                            <ul class="social-icon-wh">
                                <li>
                                    <a href="Javascript:void(0);"><i class="fab fa-facebook"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="Javascript:void(0);"><i class="fa fa-instagram"></i> Instagram</a>
                                </li>
                                <li>
                                    <a href="Javascript:void(0);"><i class="fab fa-twitter"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="Javascript:void(0);"><i class="fab fa-twitter"></i> Linkedin</a>
                                </li>
                                <li>
                                    <a href="Javascript:void(0);"><i class="fab fa-youtube"></i> Youtube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

@*    <div class="footer" style="border-top:5px solid white; background-color:#64798a;padding: 20px 0px;">
        <div class="container">
            <div class="row-fluid" style="margin-top:10px;">
                <ul class="footer-wl-one">
                    <li>
                        <div class="footer-wl-in">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <span style="font-size:16px; margin-top:5px;">@company_Name</span>
                        </div>
                    </li>
                    <li>
                        <div class="footer-wl-in">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <span style="font-size:16px; margin-top:5px;">@Wemail</span>
                        </div>
                    </li>
                    <li>
                        <div class="footer-wl-in">
                            
                            <span style="font-size:16px; margin-top:5px;display:inline-block;margin-right: 30px;"><i class="fa fa-phone" aria-hidden="true"></i>@WMobile</span>
                            <span style="font-size:16px; margin-top:5px;"><i class="fa fa-mobile" aria-hidden="true"></i>@phone</span>
                        </div>
                    </li>
                    <li>
                        <div class="footer-wl-in">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span style="font-size:16px; margin-top:5px;">@address</span>
                        </div>
                    </li>
                   
                </ul>
                <ul>
                    <li>
                        <div class="footer-wl-in">
                            <div class="row-fluid" style="float: left;width: 70%;text-align: left;">
                                <ul class="social">
                                    @if (Appfutur != "")
                                    {
                                        <li>

                                            <a href="@Appfutur" target="_blank">

                                                <img src="~/AdminDesign/images/Appfutura.png" />
                                            </a>

                                        </li>
                                    }
                                    @if (Applanche != "")
                                    {
                                        <li>

                                            <a href="@Applanche" target="_blank">
                                                <img src="~/AdminDesign/images/applancher.png" />
                                            </a>

                                        </li>
                                    } @if (Badus != "")
                                    {
                                        <li>

                                            <a href="@Badus" target="_blank">
                                                <img src="~/AdminDesign/images/badush1.png" />
                                            </a>

                                        </li>
                                    }
                                    @if (Extrac != "")
                                    {
                                        <li>

                                            <a href="@Extrac" target="_blank">
                                                <img src="~/AdminDesign/images/extract-badge-black.png" />
                                            </a>

                                        </li>
                                    }
                                    @if (Goodfirm != "")
                                    {
                                        <li>

                                            <a href="@Goodfirm" target="_blank">
                                                <img src="~/AdminDesign/images/good-firms.png" />
                                            </a>

                                        </li>
                                    }
                                    @if (Mobileap != "")
                                    {
                                        <li>

                                            <a href="@Mobileap" target="_blank">
                                                  <img src="~/AdminDesign/images/mobile-app.png" />
                                            </a>

                                        </li>
                                    }
                                    @if (Trustpilo != "")
                                    {
                                        <li>

                                            <a href="@Trustpilo" target="_blank">
                                                <img src="~/AdminDesign/images/trustpilot-posst-80-1a.png" />
                                            </a>

                                        </li>
                                    }
                                </ul>
                            </div>
                            <span style="font-size:16px; margin-top:14px;float:right;">
                                © 2019 - @DateTime.Now.Year All Rights Reserved | @ViewBag.companyname&nbsp;<a href="@Url.Action("WhitelabelDownloadAPK", "Home")" title="Click to Download Android Application"><i class="fa fa-android" style="color:#fff;font-size:19px;"></i></a>
                            </span>
                        </div>
                    </li>
                </ul>


            </div>
        </div>

    </div>*@
    <div class="scrollup">
        <a href="#">
            <i class="icon-up-open"></i>
        </a>
    </div>
    @*@{
            <input type="button" value="sleep" id="btnsleep" data-toggle="modal" data-target="#sleep-modal" style="display:none;">
            <div class="modal fade" id="sleep-modal" style="top:17%;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-color:white;">
                        <div class="modal-body">
                            <img src="@Url.Content("~/Deskrop Sleep Mode.png")" id="mImage" class="img-responsive" />
                        </div>
                        <div>
                            <span style="font-size:15px; margin-left:15px; color:black;">Mail-id :-<b style="color:red;"> @mailid</b> </span>
                            <br />
                            <span style="font-size:15px; margin-left:15px; color:black;">Mobile No :-<b style="color:red;"> @mobile</b></span>
                        </div>
                        <div class="modal-footer" style="background-color:white;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size:16px;">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }*@


    <script src="~/FrontapplicationDesign/js/jquery.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/jquery.inview.js"></script>
    <script type="text/javascript" src="~/FrontapplicationDesign/js/app.js"></script>
   
    <script type="text/javascript">
        var val1 = "";
        function animation(type) {

            var url = '@Url.Action("pagefootercontent", "Home")'
            $.ajax({
                url: url,
                data: { type: type },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data != "") {
                        document.getElementById("shoppingBasket").innerHTML = data;
                        $('#defaultModal').modal('show');
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    </script>
    <script>
        window.onload=function()
        {
            var block = '@ViewData["msg"]';
            if (block == "websiteblock") {
                $('#btnsleep').click();
                $("#sleep-modal").modal('show');
            }
        }
    </script>
    @*<script>

            $('.outer-log').click(function () {
                $('.for-outer').fadeIn('slow');
            })
            $('.for-outer-close').click(function () {
                $('.for-outer').fadeOut('slow');
            })
            $('.for-create').click(function () {
                $('.login-form').fadeOut('slow');
                $('.create-form').fadeIn('slow');
            })
            $('.for-login').click(function () {
                $('.login-form').fadeIn('slow');
                $('.create-form').fadeOut('slow');
            })
            $('.for-forget').click(function () {
                $('.login-form').fadeOut('slow');
                $('.forget-form').fadeIn('slow');
            })
            $('.for-forget-login').click(function () {
                $('.login-form').fadeIn('slow');
                $('.forget-form').fadeOut('slow');
            })



        </script>*@
</body>
</html>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="background:white;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer" id="silder1">
                <button type="button" style="background:none; color:red; border:none;" data-dismiss="modal">CLOSE</button>
            </div>
            <div class="modal-body" style="margin-top:-26px; max-height:500px;">
                <div class="body">
                    <form>
                        <div id="shoppingBasket" style="font-size: 13px; text-align: justify; color: black;">
                            <p>Page Content</p>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function FillDistict() {
        var State_id = $('#state').val();
        var dist = $('#distict').val();

    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",
        data: { State: State_id },
        success: function (data) {
            var markup = "<option value=''> -- Select District --</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
            }
            $("#distict").html(markup).show();
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });
  }
</script>
<script>
    $("#digit-1, #digit-2, #digit-3, #digit-4, #digit-5, #digit-6").on("keyup", function () {
        debugger
        var OtpDigit = $("#digit-1").val() + $("#digit-2").val() + $("#digit-3").val() + $("#digit-4").val() + $("#digit-5").val() + $("#digit-6").val();


        if (OtpDigit.length == 6) {
            $('#Code').val(OtpDigit);

            $('#subHere').click();
        }
    });
</script>

<script>
    $('.digit-group').find('input').each(function () {
        
        $(this).attr('maxlength', 1);
        $(this).on('keyup', function (e) {
            var parent = $($(this).parent());

            if (e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if (prev.length) {
                    $(prev).select();
                }
            } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                var next = parent.find('input#' + $(this).data('next'));

                if (next.length) {
                    $(next).select();
                } else {
                    if (parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
        });
    });
</script>
<script>
    $(window).scroll(function () {
        var sticky = $('.headerwl'),
            scroll = $(window).scrollTop();

        if (scroll >= 80) {
            sticky.addClass('fixed');
        }
        else {
            sticky.removeClass('fixed');

        }
    });
</script>

<script>
    $(".wh-resmenu").click(function () { 
        $(".wh-resmenu").toggleClass("wh-resmenu-show");
    });
</script>