@model List<Vastwebmulti.Models.Aeps_Report_New_Result>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {

        var color = "";
        var fontweight = "";
        var text = "";
        var emailid = "";
        var Retailername = "";
        var framname = "";
        var mobile = "";
        var icon = "";
        var rchtype = "";
        var rchtypeicon = "";
        var sts = "";
        var refundcolor = "";
        var rolename = "";

        if (item.ApplicationType == "web")
        {
            rchtypeicon = "../../images/wwwBlack.svg";
        }
        if (item.ApplicationType == "app")
        {
            rchtypeicon = "../../images/android-logo.svg";
        }
        if (item.Role == "Retailer")
        {
            emailid = item.Email;
            Retailername = item.RetailerName;
            mobile = item.Mobile;
            framname = item.Frm_Name;
            rolename = "Retailer";


        }

        if (item.Status.Contains("Pending"))
        {
            
            fontweight = "700";
            sts = item.Status;
            icon = "../../ashok-images/clkk.png";
            color = "#FF9800";
        }
        if (item.Status.Contains("Failed"))
        {
            color = "red";
            fontweight = "700";
            sts = item.Status;
            icon = "../../ashok-images/closes.svg";

        }
        if (item.Status.Contains("Success"))
        {
            color = "green";
            fontweight = "700";
            sts = item.Status;
            icon = "../../ashok-images/correct.svg";
        }
        if (item.Status.ToUpper().Contains("REFUND"))
        {
            color = "blue";
            sts = "Refund";
            icon = "../../ashok-images/undo.svg";
        }
        if (item.Status.ToUpper().Contains("SETTLEMENT"))
        {
            color = "#9C27B0";
            sts = "Settlement";
        }
    <tr style="color: black;text-transform: capitalize;">
        <td>
            <p>

                <img style="height: 18px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />

                <span style="color:black;font-weight;">@item.Frm_Name</span>


        </td>
        <td>
            <i><img style="height: 20px;width: 18px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@rchtypeicon" /></i>
            @*<p style="font-size:12px;margin-left:-8px;margin-top:-2px;">&nbsp;@item.MerchantTxnId&nbsp;</p>*@
            <span style="font-size:12px;">@item.MerchantTxnId</span>
        </td>

        <td>
            <p>&nbsp;@item.AccountHolderAadhaar&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;@item.BankName&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;@item.Type&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;@item.Amount&nbsp;</p>
        </td>

        <td>
            @{
                decimal amount = 0;
                decimal remincome = 0;
                decimal usercredit = 0;
                if (item.Role == "Retailer")
                {
                    amount = Convert.ToDecimal(item.Amount);
                    remincome = Convert.ToDecimal(item.RemIncome);
                    usercredit = (amount + remincome);
                }

            }
            <p>&nbsp;@usercredit&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;@item.MdPost&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;@item.BankRRN&nbsp;</p>
        </td>
        <td>

            <span style=" color:#504141">@String.Format("{0:dd-MMM HH:mm:ss}", item.Txn_Date)</span>
            @*<p style="font-size:11px;margin-left:-7px; margin-top:-2px;">@String.Format("{0:dd-MMM HH:mm:ss}", item.Txn_Date)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p>*@
            


        </td>
        <td class="nrch">
            <span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.idno')" style="padding-left:15px;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </td>





        @*<td>
            <p style="font-size:13px;">&nbsp;@rolename&nbsp;⇒&nbsp;@emailid</p>
        </td>

        <td>
            @{
                decimal usercredit1 = 0;
                if (item.Role == "Retailer")
                {

                    usercredit1 = (Convert.ToDecimal(item.Amount) + Convert.ToDecimal(item.RemIncome));
                }

            }
            <p style="font-size:13px;">@item.RemPre&nbsp;│&nbsp;@usercredit1&nbsp;│&nbsp;@item.RemPost</p>
        </td>

        <td>
            <p style="font-size:13px;">@item.MdPre&nbsp;│&nbsp;@item.MdPost</p>
        </td>
        <td>
            <p style="font-size:13px;">@item.DlmPre&nbsp;│&nbsp;@item.DlmPost</p>
        </td>
        <td>
            <p style="font-size:13px;">@item.TerminalId</p>
        </td>
        <td>
            <p style="font-size:13px;">@item.Remark</p>
        </td>*@

    </tr>
    }
}