
@model Vastwebmulti.Areas.ADMIN.ViewModel.TargetSetviewmodel
@{

    DateTime todaysDate = DateTime.Now.Date;
    int month = todaysDate.Month;
    int year = todaysDate.Year;
}


@if (Model.mdTargetCategory != null)
{
    <div id="myCarouselslide2" class="carousel slide" data-ride="carousel" style="width:100%;float:left;">

        <div class="carousel-inner" style="margin-top:0px;padding-bottom:41px;">
            <div class="satearrowleft-right-dealersecond">
                <a class="left carousel-control" href="#myCarouselslide2" data-slide="prev" style="margin-right:8px;"><span class="glyphicon">←</span></a>
                <a class="right carousel-control" href="#myCarouselslide2" data-slide="next"><span class="glyphicon ">→</span></a>
            </div>
            @foreach (var item in Model.mdTargetCategory.Select((value, i) => new { i, value }))
            {
                if (item.value.Date.Value.Month == month && item.value.Date.Value.Year == year)
                {
                    var activeClass = item.i == 0 ? "active" : "";
                    var _60per = ""; var _70per = ""; var _80per = ""; var _90per = ""; var _100per = "";
                    var _60prdnm = ""; var _70prdnm = ""; var _80prdnm = ""; var _90prdnm = ""; var _100prdnm = "";

                    var categotyLogo = ""; var categotyLogoPath = "";
                    foreach (var image in Model.CategoryImages)
                    {
                        categotyLogo = item.value.Category == image ? image + ".JPG" : "";
                        if (categotyLogo != "") { categotyLogoPath = item.value.Category == image ? image + ".JPG" : ""; break; }
                    }

                    if (Model.productItems != null)
                    {
                        foreach (var pItem in Model.productItems.Select((ItemName, i) => new { i, ItemName }))
                        {
                            _60per = pItem.ItemName.ProductName == item.value.Achive_60 ? pItem.ItemName.ProductImages : item.value.Achive_60;
                            _60prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_60 : "Cash Rs.";

                            _70per = pItem.ItemName.ProductName == item.value.Achive_70 ? pItem.ItemName.ProductImages : item.value.Achive_70;
                            _70prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_70 : "Cash Rs.";

                            _80per = pItem.ItemName.ProductName == item.value.Achive_80 ? pItem.ItemName.ProductImages : item.value.Achive_80;
                            _80prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_80 : "Cash Rs.";

                            _90per = pItem.ItemName.ProductName == item.value.Achive_90 ? pItem.ItemName.ProductImages : item.value.Achive_90;
                            _90prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_90 : "Cash Rs.";

                            _100per = pItem.ItemName.ProductName == item.value.Achive_100 ? pItem.ItemName.ProductImages : item.value.Achive_100;
                            _100prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_100 : "Cash Rs.";
                        }
                    }

                    <div class="offerslider-full item '+ @activeClass +'">
                        <div class="offer-imageslide">
                            <h3><strong>Target&nbsp;Amount&nbsp;INR</strong><span>@item.value.SetTarget</span></h3>
                            <div class="nofitio-imageround">
                                <img src="../CategoryImages/@categotyLogoPath" style="width:100%;border-radius: 50%;" />
                            </div>
                            <h2>@item.value.Category</h2>
                        </div>
                        <div class="offer-text-description">

                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>100% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_100prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _100per + " width='95' height='63'>" : "<strong>" + _100per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>90% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_90prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _90per + " width='95' height='63'>" : "<strong>" + _90per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>80% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_80prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _80per + " width='95' height='63'>" : "<strong>" + _80per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>70% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_70prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _70per + " width='95' height='63'>" : "<strong>" + _70per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>60% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_60prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _60per + " width='95' height='63'>" : "<strong>" + _60per + "</strong>")</p></div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
@if (Model.mdTargetCategoryNxt != null)
{
    <div id="myCarouselslide3" class="carousel slide" data-ride="carousel" style="width:100%;float:left; display:none;">

        <div class="carousel-inner" style="margin-top:0px;padding-bottom:41px;">
            <div class="satearrowleft-right-dealersecond">
                <a class="left carousel-control" href="#myCarouselslide3" data-slide="prev" style="margin-right:8px;"><span class="glyphicon">←</span></a>
                <a class="right carousel-control" href="#myCarouselslide3" data-slide="next"><span class="glyphicon ">→</span></a>
            </div>
            @foreach (var item in Model.mdTargetCategoryNxt.Select((value, i) => new { i, value }))
            {
                if (item.value.Date.Value.Month == todaysDate.AddMonths(1).Month && item.value.Date.Value.Year == todaysDate.AddMonths(1).Year)
                {
                    var activeClass = item.i == 0 ? "active" : "";
                    var _60per = ""; var _70per = ""; var _80per = ""; var _90per = ""; var _100per = "";
                    var _60prdnm = ""; var _70prdnm = ""; var _80prdnm = ""; var _90prdnm = ""; var _100prdnm = "";

                    var categotyLogo = ""; var categotyLogoPath = "";
                    foreach (var image in Model.CategoryImages)
                    {
                        categotyLogo = item.value.Category == image ? image + ".JPG" : "";
                        if (categotyLogo != "") { categotyLogoPath = item.value.Category == image ? image + ".JPG" : ""; break; }
                    }

                    if (Model.productItems != null)
                    {
                        foreach (var pItem in Model.productItems.Select((ItemName, i) => new { i, ItemName }))
                        {
                            _60per = pItem.ItemName.ProductName == item.value.Achive_60 ? pItem.ItemName.ProductImages : item.value.Achive_60;
                            _60prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_60 : "Cash Rs.";

                            _70per = pItem.ItemName.ProductName == item.value.Achive_70 ? pItem.ItemName.ProductImages : item.value.Achive_70;
                            _70prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_70 : "Cash Rs.";

                            _80per = pItem.ItemName.ProductName == item.value.Achive_80 ? pItem.ItemName.ProductImages : item.value.Achive_80;
                            _80prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_80 : "Cash Rs.";

                            _90per = pItem.ItemName.ProductName == item.value.Achive_90 ? pItem.ItemName.ProductImages : item.value.Achive_90;
                            _90prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_90 : "Cash Rs.";

                            _100per = pItem.ItemName.ProductName == item.value.Achive_100 ? pItem.ItemName.ProductImages : item.value.Achive_100;
                            _100prdnm = item.value.OfferType == "Giftitem" ? item.value.Achive_100 : "Cash Rs.";
                        }
                    }

                    <div class="offerslider-full item '+ @activeClass +'">
                        <div class="offer-imageslide">
                            <h3><strong>Target&nbsp;Amount&nbsp;INR</strong><span>@item.value.SetTarget</span></h3>
                            <div class="nofitio-imageround">
                                <img src="../CategoryImages/@categotyLogoPath" style="width:100%;border-radius: 50%;" />
                            </div>
                            <h2>@item.value.Category</h2>
                        </div>
                        <div class="offer-text-description">

                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>100% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_100prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _100per + " width='95' height='63'>" : "<strong>" + _100per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>90% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_90prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _90per + " width='95' height='63'>" : "<strong>" + _90per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>80% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_80prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _80per + " width='95' height='63'>" : "<strong>" + _80per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>70% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_70prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _70per + " width='95' height='63'>" : "<strong>" + _70per + "</strong>")</p></div>
                            </div>
                            <div class="offerachivment">
                                <div class="offerachivment-text"><strong>60% <span>Achievement</span></strong></div>
                                <div class="offerachivment-image"><p style="margin:0;"><span style="display:block;">@_60prdnm</span>@Html.Raw(item.value.OfferType == "Giftitem" ? "<img src=../images/" + _60per + " width='95' height='63'>" : "<strong>" + _60per + "</strong>")</p></div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

