
@model List<Vastwebmulti.Areas.ADMIN.Models.ELE>
@{
    Layout = null;
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable ">
    <thead class="navbar" style="color:white;position:inherit;">
        <tr>
            <th style="padding-left:0px; text-align:center">Operator Name</th>
            <th style="padding-left:0px;text-align:center">Range(1-1000)</th>
            <th style="padding-left:0px;text-align:center">Range(1001-5000)</th>
            <th style="padding-left:0px;text-align:center">Range(5001-10000)</th>
            <th style="padding-left:0px;text-align:center">Range(10001 and Above)</th>
        </tr>
    </thead>
    <tbody id="PostPaid_show">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OperatorName)</td>
                <td> @Html.DisplayFor(modelItem => item.comm1)</td>
                <td> @Html.DisplayFor(modelItem => item.comm2)</td>
                <td> @Html.DisplayFor(modelItem => item.comm3)</td>
                <td> @Html.DisplayFor(modelItem => item.comm4)</td>
            </tr>
        }
    </tbody>
</table>