@model IEnumerable<Vastwebmulti.Models.spWhitelabel_Recharge_operator_report_newPaging_Result>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        var color = "";
        var fontweight = "";
        var faicon = "";
        var icon = "";
        var backgraound = "";
        if (item.rstatus.Contains("Resend"))
        {
            color = "blue";
            icon = "../../ashok-images/undo.svg";
        }
        if (item.rstatus.Contains("REFUND"))
        {
            color = "brown";
            icon = "../../ashok-images/undo.svg";
        }
        if (item.rstatus.Contains("SUCCESS"))
        {
            color = "green";
            fontweight = "700";
            icon = "../../ashok-images/correct.svg";
        }
        if (item.rstatus.Contains("FAILED"))
        {
            color = "red";
            fontweight = "700";
            icon = "../../ashok-images/closes.svg";
        }
        if (item.rstatus.Contains("Success To Failed"))
        {
            color = "red";
            fontweight = "700";
        }
        if (item.rstatus.Contains("Failed To Success"))
        {
            color = "#53ad00";
            fontweight = "700";
            icon = "../../ashok-images/undo.svg";
        }
        if (item.rstatus.Contains("Refund"))
        {
            color = "#673AB7";
            fontweight = "700";
            icon = "../../ashok-images/undo.svg";
        }
        if (item.rstatus.Contains("Request Send"))
        {
            icon = "../../ashok-images/clkk.png";
            color = "#FF9800";
            fontweight = "700";
            backgraound = "#fff8d1";
        }
        if (item.rch_type == "ONLINE")
        {
            faicon = "../../images/wwwBlack.svg";
        }
        if (item.rch_type == "Apps")
        {
            faicon = "../../images/android-logo.svg";
        }
        if (item.rch_type == "Offline")
        {
            faicon = "fa fa-envelope";
        }
        if (item.rch_type == "API")
        {
            faicon = "../../images/wwwBlack.svg";
        }
    <tr style="font-size: 12px;text-transform: capitalize;color:black;background:@backgraound;">
        <td>
            <p>
                <img style="height: 18px;width: 18px;margin:5px;max-width: 100%;padding: 0; border-radius:50%; background-color:@color" src="@icon" />



                <span>@item.frm_name</span>
            </p>
        </td>

        <td>
            <i><img style="height: 20px;width: 18px;margin-right:3px;max-width: 100%;padding: 0; border-radius:50%;" src="@faicon" /></i>&nbsp;&nbsp;<span> @item.idno</span>
        </td>

        <td>@item.mobile</td>
        <td>@item.operator_type</td>
        <td>@item.Operator_name</td>
        <td>@item.amount</td>
        <td>@item.masterincome</td>
        <td>@item.masterremain</td>
        <td>@item.opt_id</td>
        <td>
            @item.Rch_time

        </td>
        <td class="nrch"><span class="fftt" data-toggle="modal" data-target="#defaultModal222" onclick="mdActionBtn('@item.idno')"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></td>
        @*<td>@item.retailername</td>*@


        @*<td>@item.dealerincome</td>
        <td>@item.income</td>
        <td>@item.dealerremain</td>
        <td>@item.remain</td>
        <td>@item.rch_type</td>*@


    </tr>
    }
}
