@model Vastwebmulti.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <p style="font-size:21px;padding-top:7px;padding-bottom:7px;padding-left:15px;background-color:whitesmoke;"><i class="fa fa-lock"></i>&nbsp;Login&nbsp;Password</p>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="body">
                                <div style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:43%;border-radius:1px;">Important</p></center>
                                    <p style="line-height:32px;padding-left:10px;">1.Password must be Required one Special character</p>
                                    <p style="line-height:32px;padding-left:10px;">2.Password must be Required one Digit Number</p>
                                    <p style="line-height:32px;padding-left:10px;">3.Password must be Required one Lowercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one Uppercase character</p>
                                    <p style="line-height:32px;padding-left:10px;">4.Password must be Required one alphabet character</p>
                                    <p style="line-height:32px;padding-left:10px;">5.Password must be Required Minimum Length Six character</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="body" style="margin-bottom:11px;">
                                <div style="padding-top:13px;border:1px solid #dddddd;border-radius:5px;">
                                    <center><p style="margin-top:-24px;font-weight:bold;padding:0px 16px 1px 16px;background:linear-gradient(#ffffff 0%, #ffffff 100%);position:absolute;right:35%;border-radius:1px;">Change&nbsp;Login&nbsp;Password</p></center>
                                  @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                  {
                                        @Html.AntiForgeryToken()
                                        <div class="body" style="margin-top:20px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Old Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">New Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-21px;">@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-4">
                                                    <label class="required">Confirm Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="font-size:10px;margin-top:-16px;">@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })</p>
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-8px;">
                                                        <div class="" style="border:1px solid #dddddd;">
                                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "" })
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-bottom:0px;margin-top:-20px;">
                                                        <div class="" style="float:right;">
                                                            <button type="submit" class="btn  m-t-15 waves-effect" style="border:1px solid #c7c2c2;background:#dedddd;">Change Password</button>
                                                            <button type="reset" class="btn  m-t-15 waves-effect" style="margin-top:15px;border:1px solid #c7c2c2;background:#dedddd;">Reset</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function () {

            var message = '@TempData["Message"]';
            if(message !="" && message !=null) {
                swal("Change Password!", message, "success");
            }
    });
</script>
