@model Vastwebmulti.Areas.MASTER.Models.Daybookmasterreport
@{
    ViewBag.Title = "Master_Daybook_Report";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }
</style>
<style>
    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .dropdown-menu {
        margin-top: 81px !important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px 5px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-8">
                        <p style="font-size:20px;margin-top:5px;color:#9e9e9e;font-weight:700;margin-left:5px;">Master&nbsp;Distributor&nbsp;DayBook&nbsp;Report</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                    @using (Html.BeginForm("Master_Daybook_Report", "Home", FormMethod.Post))
                    {
                        <div class="col-md-2">
                            <div class="input-daterange input-group" style="margin-left:-13px;width:90%;">
                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:36px;", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-md-1">
                            <center>
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:-74px; height:36px;">
                                    <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                    <span style="top:0px;color:black;">Search</span>
                                </button>
                            </center>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-19px;">
                <div class="card">
                  
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit; margin-top:-3px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Firm&nbsp;Name</th>
                                        <th>Recharge&nbsp;&&nbsp;Bill</th>
                                        <th>IMPS</th>
                                        <th>AEPS</th>
                                        <th>M&nbsp;-&nbsp;POS</th>
                                        <th>Pancard</th>
                                        <th>Travel</th>
                                        <th>Purchase</th>
                                        <th>Opening&nbsp;Bal</th>
                                        <th>Closing&nbsp;Bal</th>
                                        <th>Old&nbsp;Day&nbsp;Refund</th>
                                        <th>Old&nbsp;Day&nbsp;Failed</th>
                                        <th>Diff</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DaybookLive != null)
                                    {
                                        foreach (var item in Model.DaybookLive)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.FarmName == null)
                                                    {
                                                        @item.SuperstokistName
                                                    }
                                                    else
                                                    {
                                                        @item.FarmName
                                                    }
                                                </td>
                                                <td>@item.RCH</td>
                                                <td>@item.IMPS</td>
                                                <td>@item.AEPS</td>
                                                <td>0.00</td>
                                                <td>@item.PAN</td>
                                                <td>0.00</td>
                                                <td>@item.PURCHASE</td>
                                                <td>@item.openbal</td>
                                                <td>@item.closebal</td>
                                                <td>@item.OLDDAYREFUND</td>
                                                <td>@item.OLDDAYFAILED</td>
                                                <td>@item.DIFF</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var item in Model.DaybookOld)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.FarmName == null)
                                                    {
                                                        @item.SuperstokistName
                                                    }
                                                    else
                                                    {
                                                        @item.FarmName
                                                    }
                                                </td>
                                                <td>@item.RCH</td>
                                                <td>@item.IMPS</td>
                                                <td>@item.AEPS</td>
                                                <td>0.00</td>
                                                <td>@item.PAN</td>
                                                <td>0.00</td>
                                                <td>@item.PURCHASE</td>
                                                <td>@item.openbal</td>
                                                <td>@item.closebal</td>
                                                <td>@item.OLDDAYREFUND</td>
                                                <td>@item.OLDDAYFAILED</td>
                                                <td>@item.DIFF</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


