@model IEnumerable<Vastwebmulti.Models.Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "RetailerLedger";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom: 0px;">
                    <div class="col-md-4" style="padding: 0px;">
                       <p style="font-size:19px;margin-top:3px;color:#a79f9f;">Ledger Report</p>
                    </div>
                    <div class="col-md-2" style="padding: 0px;float: right;">
                        @using (Html.BeginForm("MasterLedger", "Home", FormMethod.Post))
                        {
                            <div class="col-md-7 jjp" style="padding: 0px;">
                                <div class="input-daterange input-group" style="">
                                    <div class="custom-date-icon ner">
                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                    </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; width: 119px !important;margin-top:0px;height:36px;" })
                                </div>
                            </div>
                            <div class="col-md-5" style="padding: 0px;">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style=" background: transparent !important;border: 1px solid #ddd !important;">
                                        <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                        <span style="top:0px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                        }
                    </div>
                    </div>
            </div>
        </div>

        <div class="row clearfix">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="card">
                    <div class="body" style="margin-top: 0px;padding: 0;">
                        <div class="table-responsive " style="position: inherit;margin-top:0px;">
                            <table id="example" class="table table-bordered " style="width:100%;">
                               <thead style="background-color:var(--second-bg-color);">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Request&nbsp;Id</th>
                                        <th>Particular</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th>Balance</th>
                                        <th>Date&nbsp;&&nbsp;Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                     
                                    <tr>
                                        <td>@i</td>
                                        <td >@Html.DisplayFor(modelItem => item.RequestId)</td>
                                          <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                        <td >@Html.DisplayFor(modelItem => item.Amount)</td>
                                        <td >@Html.DisplayFor(modelItem => item.credit)</td>
                                        <td >@Html.DisplayFor(modelItem => item.debit)</td>
                                        <td >@Html.DisplayFor(modelItem => item.Balance)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>

@*<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>*@

