@model List<Vastwebmulti.Areas.WMASTER.Models.RootObject>
@{
    ViewBag.Title = "Master_income";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top:75px !important;
    }
    .wmaster-alltableclass .table-responsive {
    background: #f9f9f9;
}
        .wmaster-alltableclass .table-responsive table, .wmaster-alltableclass .table-responsive table.table-bordered tr, .wmaster-alltableclass .table-responsive table.table-bordered tbody tr td, .wmaster-alltableclass .table-responsive table.table-bordered thead tr th {
            border-color: #ddd !important;border:1px solid;
        }

        .wmaster-alltableclass .table-responsive table {
            border-top: 1px solid #ddd !important;
        }
        .wmaster-alltableclass .table-responsive table {
    margin-bottom: 0;
}
    .wmaster-alltableclass .table-responsive table tr td, .wmaster-alltableclass .table-responsive table tr th {
    padding: 8px 5px;
}

    @@media screen and (max-width:768px){
        .container-fluid.wmaster-income {
    padding: 0;
}
        .wmaster-income .row.clearfix .col-md-12 {
    padding-left: 0;
}
        .wmaster-income .wmaster-alltableclass .table-responsive {
    border: 0;
}
    }

    @@media screen and (max-width:420px){
        .wmaster-income .card .col-md-4 p {
    font-size: 19px !important;
}
        .wmaster-income .card .col-md-4 .col-md-7 {
    width: 64%;
}
    }

</style>
<section class="content">
    <div class="container-fluid wmaster-income">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style=" margin-bottom: 0; ">
                    <div class="col-md-4" style="float:left;">
                        <p style="font-size:20px;margin-top:6px;padding-left:5px;">Master Distributor Actual Income</p>
                    </div>
                    
                    <div class="col-md-4" style="float:right;width:auto;">
                        @using (Html.BeginForm("Master_income", "Home", FormMethod.Post))
                        {
                            
                        <div class="col-md-2" style="width:auto;float:right;padding-right:5px;">
                            <center>
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;border:1px solid #ddd !important;padding-top:0;padding-bottom:0;background:#eee !important;">
                                    <i class="fa fa-search" style="top:0px;font-size:15px;color:#555;"></i>
                                    <span style="top:0px;color:#555;margin:0;">Search</span>
                                </button>
                            </center>
                        </div>
                                <div class="col-md-7" style="float:right;padding-right:0;">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="input-daterange input-group" style="position:relative;margin-top:4px;">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;"><i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i></div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;", autocomplete = "off" })
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                
                            
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wmaster-alltableclass" style="">
                <div class="card">
                    

                    <div class="body">
                        <div class="table-responsive" style="position:inherit;overflow:auto;">
                            <table class="table table-bordered table-striped table-hover" style="width:100%;">
                                <thead style="background-color: whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No</th>
                                        <th>Type</th>
                                        <th>Total&nbsp;Success</th>
                                        <th>Total&nbsp;Pending</th>
                                        <th>Total&nbsp;Failed</th>
                                        <th>Income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalSuccess)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalPending)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalFailed)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                                <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td><p style="font-size:17px;">Total</p></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><p style="font-size:18px;">@if (Model != null) { Model.Sum(a => a.Amount); }</p></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<script>
$(function(){

     $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });
</script>

