
@{
    ViewBag.Title = "Notification";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .loadermoney {
        width: auto;
        float: left;
        margin-right: 15px;
        margin-top: 8px;
    }

        .loadermoney img {
            width: 17px;
            margin-right: 6px;
            border-radius: 50%;
            padding: 3px;
        }

    .breadcrumb li::before {
        display: none;
    }
</style>
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #ddd !important;
        border-radius: 0px !important;
        height: 32px !important;
    }
    .wmasterselectclass span.select2.select2-container {
        width: 100% !important;
    }
    .wmasterselectclass span.select2.select2-container span.select2-selection.select2-selection--single {
    height: 36px !important;
    padding-top: 4px;
}
    .wmasterselectclass span.select2.select2-container span.select2-selection__arrow {
    height: 34px;
}
    .notification-wmaster {
        
        box-shadow: 0px 0px 10px -3px #555;border-radius: 5px;
    }
    .card.wmastercardnotification {
        padding: 0 15px;
        padding-right: 15px;
        padding-right: 10px;
    }
    .fullnotifactionwmaster {
        width: 98%;
        text-align: center;
        margin: 0px auto;
    }
    .wmasterselectclass span{text-align:left;}
    .form-group.wmasternotifactionformgroup {
    width: 100%;
    float: left;
    margin: 0;
    padding-right: 15px;
}
    .form-group.wmasternotifactionformgroup button:hover{background:@PageData["Globalfirst"] !important;transition:.4s linear;}
    .form-group.wmasternotifactionformgroup button:hover span{color:#fff !important;}

    @@media screen and (max-width:767px) {
        .container-fluid.notification-wmasterfirst .col-md-12 {
            padding: 0;
        }
        .container-fluid.notification-wmasterfirst .row{margin:0;}
    
    .notification-wmasterfirst .card.wmastercardnotification {
        padding: 0;
        width: 100%;
        float: left;
    }
    .container-fluid.notification-wmasterfirst {
        padding-left: 0;
    }
    }
</style>


<section class="content">
    <div class="container-fluid notification-wmasterfirst">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-12">
                        <div class="card wmastercardnotification" style="margin-bottom: 0px;">
                            <div class="" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);width:100%;float:left;">
                                <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:0px;margin-top:2px;">
                                    <li class="active" style="color:#fff;font-size:16px;"><i class="fa fa-android" style="color:#fff;" aria-hidden="true"></i>&nbsp;NOTIFICATION TO DISTRIBUTOR</li>
                                    <li style="float: right;color:#fff;"><span>Note:-</span>Use only to send the required information</li>
                                </ol>
                            </div>
                            <div class="fullnotifactionwmaster">
                            <div class="col-md-12 notification-wmaster" style="margin: 0px auto;float: none;background: #f5f5f5;margin-top: 15px;width:100%;float:left;padding:0;border:1px solid #ddd;padding-top:15px;">

                                <div class="col-md-12" style="width:100%;float:left;padding:0;">
                                    <div class="body" style="width:100%;float:left;padding:0;">
                                        @using (Html.BeginForm("Send_Notification", "Home", FormMethod.Post))
                                        {


                                            <div class="col-lg-12 wmasterselectclass" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:left;width:100%;text-align:left;">Select Distubutor</label>
                                                <div class="form-group">
                                                    <div class="" style="">
                                                        @Html.DropDownList("dealerid", (List<SelectListItem>)ViewBag.alldealer, "Select Distubutor", new { @class = "selectpicker form-control for-select2", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-lg-12" style="margin-bottom:0px;">
                                                <label for="email_address_2" style="float:left;width:100%;text-align:left;">Message</label>
                                                <div class="form-group">
                                                    <div class="" style="">
                                                        @Html.TextArea("txtMsgBody", "", new { maxlength = 160, @class = "form-control", @placeholder = "Enter Message Here", style = "height:120px;border:1px solid #dddddd;", @required = "" })

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group wmasternotifactionformgroup">
                                                <div class="col-lg-12" style="padding: 0px;float: right;">

                                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 0px; margin-right:0px; height:34px;float:right;" onclick="Saveall()">
                                                        <span style="top:0px;color:#555;font-size:14px;margin:0;">Send Notification</span>
                                                    </button>
                                                    <button id="btn" type="reset" class="btn bg-grey waves-effect" style="margin-top: 0px; margin-right:16px; height:34px;float:right;">
                                                        <span style="top:0px;color:#555;font-size:14px;margin:0;">Reset</span>
                                                    </button>
                                                    <div id="loadermoney" class="loadermoney" style="display:none;"><img style="background-color: green" src="../../ashok-images/correct.svg">Notification Sended Successfully</div>

                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script src="~/Swalalert/sweetalert-dev.js"></script>



<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>


<script>
    $(document).ready(function()
    {
        document.getElementById("loadermoney").style.display = "none";
        var succ = '@ViewData["success"]'
        if(succ != "")
        {
            //swal("Send Notification !", succ, "success");
            $("#loadermoney").css("display", "block");
        }
    })
</script>
@*<script>
        function Saveall()
        {
            document.getElementById("loadermoney").style.display = "none";
            return true;
        }
    </script>*@

<script>


    $("#btn").click(function () {
        $('#loadermoney').css('display', 'none');
    });

</script>