@model IEnumerable<Vastwebmulti.Models.PAN_CARD_IPAY_Token_report_paging_Result>
@{
    ViewBag.Title = "TokenPurchaseReport";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .table.dataTable thead th, table.dataTable thead td {
        padding: 8px 4px 6px 4px;
    }

    .table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px 6px 4px;
    }


    table.dataTable tbody th, table.dataTable tbody td {
        padding: 8px 4px;
    }
    .cltu .btn-group.bootstrap-select.form-control {
    padding-left: 0px;
}
       .select2-container--default .select2-selection--single {
        border: 1px solid #eee !important;
border-radius: 0px !important;
height: 32px !important;
margin-top: 2px;
    }
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>

<section class="content" style="overflow-x:hidden;">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-3 fin1" style="padding: 0px;">
                        <div>
                            @Html.Partial("_finicalmenureportMaster")
                        </div>
                    </div>
                    <div class="col-md-7 fin2" style="padding: 0px;">
                        <div class="card">

                            @using (Html.BeginForm("Pancard_report", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-2 cltu" style="padding: 0px;">
                                        <div class="">
                                            @Html.DropDownList("ddlusers", new List<SelectListItem>
                                  {
                                new SelectListItem{Text="ALL",Value="Master"},
                               new SelectListItem{Text="Distributor",Value="Dealer"},
                               new SelectListItem{Text="Retailer",Value="Retailer"},

                              }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;", @onchange = "answers()" })

                                        </div>
                                    </div>

                                    <div class="col-md-2 " style="display:none;padding: 0px;" id="dlm">
                                        <div class="form-line">
                                            @Html.DropDownList("alldealer", ViewBag.alldealer as SelectList, " All Distubutor", new { id = "alldealer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 " style="display:none;padding: 0px;" id="rem">
                                        <div class="form-line">
                                            @Html.DropDownList("allretailer", ViewBag.allretailer as SelectList, "All Retailer", new { id = "allretailer", @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 cltu" style="padding: 0px;">
                                        <div class="form-group">
                                            <div class="">
                                                @Html.DropDownList("ddl_status", new List<SelectListItem>
                                    {
                            new SelectListItem{ Text="Status",Value="ALL",},
                            new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                            new SelectListItem{Text="PENDING",Value="PENDING"},
                            new SelectListItem{Text="FAILED",Value="FAILED"}
                             }, new { @class = "selectpicker form-control", data_live_search = "true", @style = "margin-top:0px; padding:0px;text-align:center;height:34px;" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4 mrj" style="padding: 0px;width: auto;">
                                        <div class="form-group jjp">
                                            <div class="input-daterange input-group">
                                                <div class="custom-date-icon ner">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                </div>
                                                @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })

                                                <div class="nrr3">
                                                    <div class="custom-date-icon ner">
                                                        <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg " aria-hidden="true"></i>
                                                    </div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                                </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-md-2 mrj" style="padding: 0px;width: auto;">
                                   
                                            <button type="submit" class="btn bg-grey waves-effect" style="background: transparent !important;border: 1px solid #b1a6a638 !important">
                                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                                <span style="top:-2px;color:black;">Search</span>
                                            </button>
                                      
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    @*<div class="col-md-6">
            <p style="font-size:21px;margin-top:6px;color:#00000070;">Aeps Report</p>
        </div>*@

                    <div class="col-md-2 fin3 pploh" style="padding: 0px;">
                       
                            <div class="form-group">
                                <div style="padding-top: 0px; float:right">

                                    <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 11px;float: left; padding: 0px 4px;height:32px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                    <button class="white-success-button" style="height:32px;font-size: 11px;padding: 0px 4px;height: 32px;border: 1px solid #b1a6a638;float: left;margin-left: 2px;background: #b1a6a638;" onclick="findtotalpan()">Total</button>
                                </div>
                                <div class="white-success" style="display:none;position: absolute;width: auto;right: 40px;">
                                    <span id="successtotal" class="btn btn-success waves-effect" style="font-size: 13px;padding:9px; color:white;float: left;font-weight:600;" title="Total  Success"><i style="font-size:15px;top:1px;" class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Failedtotal" class="btn btn-danger waves-effect" style="font-size: 13px;padding:9px; color:white;float: left;font-weight:600;" title="Total  Failed"><i style="font-size:15px;top:1px;" class="fa fa-times-circle-o" aria-hidden="true"></i> </span>
                                    <span id="Pendingtotal" class="btn btn-warning waves-effect" style="font-size: 13px;padding:9px;color:white; float: left;font-weight:600;" title="Total  Pending"><i style="font-size:15px;top:1px;" class="fa fa-question-circle-o" aria-hidden="true"></i> </span>

                                </div>
                            </div>
                     
                    </div>
                </div>
            </div>
        </div>
       
           
      


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  
                        <div class="table-responsive " style="position:inherit;">
                            <table id="example" class="table table-bordered " cellspacing="0" style="width:100%;font-size:12px;">
                                <thead style="background-color:whitesmoke;">
                                    <tr style="color: black;">
                                        <th>Live&nbsp;Status</th>

                                        <th>Physical</th>
                                        <th>Digital</th>
                                        <th>Processing&nbsp;Fees</th>
                                        <th>UTI&nbsp;Status</th>
                                        <th>UTI&nbsp;TXN&nbsp;ID</th>
                                        <th>User&nbsp;Pre</th>
                                        <th>Net&nbsp;Income</th>
                                        <th>User&nbsp;Post</th>

                                        <th>MY&nbsp;Pre</th>
                                        <th>MY&nbsp;Income</th>
                                        <th>MY&nbsp;Post</th>
                                        <th>Distributort&nbsp;Income</th>

                                        <th>Date</th>
                                    </tr>

                                </thead>
                                <tbody id="trow" class="alin chnj">
                                    @{
                                        Html.RenderAction("_Pancard_Report", "Home", new { Model = Model });

                                    }


                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <img src="~/img/ajax-loader.gif" />
                            </div>
                        </div>
                  
                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/Swalalert/datatablejquery.js"></script>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />


<script>
    $("#alldealer").select2();
    $("#allretailer").select2();

</script>
<script>
    $("#btnExport").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("ExcelRechargereportPan", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers +'&ddl_status=' + ddl_status +  '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
        var ddlusers = $('#ddlusers').val();
        var ddl_status = $('#ddl_status').val();
        var allretailer = $('#allretailer').val();
        var alldealer = $('#alldealer').val();
        var url = '@Url.Action("PDFreport_PAN", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddlusers=' + ddlusers + '&ddl_status=' + ddl_status +  '&alldealer=' + alldealer + '&allretailer=' + allretailer;
        window.open(url,'_blank');
    });
</script>
<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<!--Calendar Javascript-->
<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }
    });

</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
            document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";
        }

        else if (answer == "Master") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }

        else if (answer == "Retailer") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";

        }
    }
</script>

<script>
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
        $(window).scroll(function () {
            
            var ddlusers = $('#ddlusers').val();
            var alldealer = $('#alldealer').val();
            var allretailer = $('#allretailer').val();

            var ddl_status = $('#ddl_status').val();
            var txt_frm_date = $('#txt_frm_date').val();
            var txt_to_date = $('#txt_to_date').val();
            if ($(window).scrollTop() > Number($("#example").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScrollpan", "Home")",
                    { "pageindex": pageindex, "ddlusers": ddlusers, "alldealer": alldealer, "allretailer": allretailer, "ddl_status": ddl_status, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });


</script>
<script>
    function findtotalpan() {
        var ddlusers = $('#ddlusers').val();
        var alldealer = $('#alldealer').val();
        var allretailer = $('#allretailer').val();
        var ddl_status = $('#ddl_status').val();
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
             $.post("@Url.Action("PancardReport_Total", "Home")",
                 { "ddlusers": ddlusers, "alldealer": alldealer, "allretailer": allretailer, "ddl_status": ddl_status, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date  },
                 function (data) {
                     $('#successtotal').text("₹. " + data.success);
                     $('#Failedtotal').text("₹. " + data.failed);
                     $('#Pendingtotal').text("₹. " + data.pending);

                 });
    }
</script>
<script>

    $('.white-success-button').click(function () {
        $('.white-success').toggle();
    });
</script>


<script>
    $(function () {
        var loc = window.location.href; // returns the full URL
        if ('/~/MASTER/Home/m_Possreport') {
            $('.menu.side-icon ul li:nth-child(8) a').addClass('activee');
        }
    });
</script>

