@model List<Vastwebmulti.Models.proc_FlightReport_Result>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF FLIGHT report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>

                <th style="width:110px;">Status</th>
    
                <th>Passanger&nbsp;Name</th>
                <th>Flight</th>
                <th>Booking&nbsp;Id</th>
                <th>PNR</th>
                <th>Fare&nbsp;Amount</th>
                <th>USer&nbsp;Income</th>
                <th>MY&nbsp;Pre</th>
                <th>My&nbsp;Income</th>
                <th>My&nbsp;Post</th>
                <th>Distributort&nbsp;Income</th>
                <th>Booking&nbsp;Date</th>
</thead>

        <tbody>
            @foreach (var item in Model)
            {
            #region CssSettings
            var color = "";
            var fontweight = "";
            var text = "";
            var emailid = "";
            var Retailername = "";
            var framname = "";
            var mobile = "";
            var rolename = "";
            var icon = "";
            var rchtype = "";
            var rchtypeicon = "";
            var sts = "";
            var refundcolor = "";
            var dmtytpe = "";

            sts = ((Vastwebmulti.Areas.RETAILER.Enums.TicketStatus)Convert.ToInt32(item.TicketStatusCode)).ToString();

            if (item.TicketStatusCode == 0 || item.TicketStatusCode == 3 || item.TicketStatusCode == 4 || item.TicketStatusCode == 6 || item.TicketStatusCode == 8 || item.TicketStatusCode == 9)
            {
            color = "red";
            fontweight = "700";
            }
            if (item.TicketStatusCode == 5 || item.TicketStatusCode == 1)
            {
            color = "green";
            fontweight = "700";
            }
            if (item.TicketStatusCode == 2)
            {
            color = "#ff9600";
            fontweight = "700";
            }
            #endregion
          
         
           
            <tr style="font-weight:700;">
                <td>
                    <p style="font-weight:700;">

                    @item.TicketStatus
                        @item.Frm_Name
                    </p>
                </td>
                <td>
                    <p>&nbsp;@item.LeadPaxFirstName @item.LeadPaxLastName&nbsp;</p>
                </td>
                <td >@item.AirlineName</td>
                <td >@item.BookingId</td>
                <td >@item.PNR</td>
                <td >@item.OfferedFare</td>
                <td >@Math.Round(item.RemInc, 2)</td>
                <td>@Math.Round(item.MdPre, 2)</td>
                <td >@Math.Round(item.MdInc, 2)</td>
                <td >@Math.Round(item.MdPost, 2)</td>
                <td >@Math.Round(item.DlmInc, 2)</td>
                <td><p >@String.Format("{0:dd-MMM HH:mm:ss}", item.TicketDate)&nbsp;&nbsp;<span style="color:green;font-weight:700;"></span></p></td>
            </tr>
            }

        </tbody>
    </table>
</body>
</html>

