@model List<Vastwebmulti.Models.proc_BusReport_Result>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF BUS report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>
                <th>Status</th>
                <th>Pass&nbsp;Name</th>
                <th>Booking&nbsp;No</th>

         
              
                <th>Total &nbsp;Pass.</th>
                <th>Fare</th>

                <th>User &nbsp;Income</th>
         
                <th>MY&nbsp;Income</th>
                <th>My&nbsp;Post</th>

                <th>Distributort&nbsp;Income</th>


                <th>Journey&nbsp;Date</th>
                <th>Booking&nbsp;Date</th>
</thead>

        <tbody>
            @foreach (var item in Model)
            {
      
            <tr>
                <td>
                    <p style="font-weight:700;">
                        @item.TicketStatus
                        @item.Frm_Name
                    </p>
                </td>


                <td>@Html.DisplayFor(modelItem => item.PassengerName)</td>
                <td>@Html.DisplayFor(modelItem => item.TicketNo)</td>


                <td>@Html.DisplayFor(modelItem => item.totalseat)</td>
                <td>@Html.DisplayFor(modelItem => item.FareAmount)</td>

                <td>@Html.DisplayFor(modelItem => item.RemInc)</td>
     
                <td>@item.MdInc</td>
                <td>@item.MdPost</td>

                <td>@item.DlmInc</td>


                <td>@item.dateOfJourney.ToString("dddd,dd MMMM yyyy")</td>
                <td>@Html.DisplayFor(modelItem => item.TicketDate)</td>


            </tr>

            }
        </tbody>
    </table>
</body>
</html>

