@model List<Vastwebmulti.Models.proc_HotelReport_Result>
@{

    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Hotal report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>
                <th>Live&nbsp;Status</th>
                <th>Hotel</th>
                <th>Rooms</th>
                <th>Price</th>
                <th>Booking&nbsp;Id</th>
                <th>User Income</th>
                <th>MY&nbsp;Pre</th>
                <th>MY Income</th>
                <th>MY&nbsp;Post</th>
                <th>Distributort&nbsp;Income</th>
                <th>Booking&nbsp;Date</th>
</thead>

        <tbody>
            @foreach (var item in Model)
            {
          
            <tr>
                <td>
                    <p style="font-size:15px;font-weight:700;">
                    

                        @item.TicketStatus
                        @item.Frm_Name
                    </p>
                </td>



                <td>@item.HotelName</td>
                <td>@item.NoOfRooms</td>
                <td>@item.totalOfferedFare</td>
                <td>@item.BookingId</td>

                <td>@item.reminc</td>
                <td>@item.masterpre</td>
                <td>@item.masterinc</td>
                <td>@item.masterpost</td>

                <td>@item.dlminc</td>


                <td>@String.Format("{0:ddd, MMM d, yyyy HH:ss:mm}", item.ticketdate) </td>
            </tr>

            }
        </tbody>
    </table>
</body>
</html>

