@model List<Vastwebmulti.Models.proc_Recharge_operator_report_newPaging_Result>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Recharge report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Status</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Request&nbsp;Id&nbsp;</th>

                <th style="padding-left:2px; padding-right:2px;text-align:center;">Consumer&nbsp;No</th>
                <th style="padding-left: 2px;padding-right: 2px;text-align:center;">Opt&nbsp;Type</th>
                <th style="padding-left: 2px;padding-right: 2px;text-align:center;">Operator</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Amount</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">MY &nbsp;Income&nbsp;</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">My&nbsp;Post&nbsp;</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">OperatorID</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Date</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Distributor&nbsp;Income</th>
                <th style="padding-left:2px; padding-right:2px;text-align:center;">Distributor&nbsp;Remain</th>



</thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {


                   
            <tr>

                <td>@item.rstatus&nbsp;&nbsp;@item.frm_name</td>
                <td>@item.idno&nbsp;&nbsp;@item.rch_type</td>
                <td>@item.mobile</td>
                <td>@item.operator_type</td>
                <td>@item.Operator_name</td>


                <td>@item.amount</td>
                <td>@item.masterincome</td>
                <td>@item.masterremain</td>
                <td>@item.opt_id</td>

                <td>@item.Rch_time</td>
                <td>@item.dealerincome</td>
                <td>@item.dealerremain</td>
            </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>