@model List<Vastwebmulti.Models.PAN_CARD_IPAY_Token_report_paging_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF PANCARD report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table cellspacing="0" style="width:100%;font-size:12px;">
        <thead style="background-color: whitesmoke; ">
            <tr>

                <th>Live&nbsp;Status</th>
                <th>Physical</th>
                <th>Digital</th>
                <th>Processing&nbsp;Fees</th>
                <th>UTI&nbsp;Status</th>
                <th>UTI&nbsp;TXN&nbsp;ID</th>

                <th>User&nbsp;Income</th>


                <th>MY&nbsp;Pre</th>
                <th>MY&nbsp;Income</th>


                <th>Date</th>
</thead>

        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.Particulars;
                if (item.Particulars.ToUpper().Contains("REQ"))
                {
                    sts = "Pending";
                }
            <tr align="center">
                <td>@item.Particulars</td>

                <td>@item.PhysicalCount</td>
                <td>@item.DigitalCount</td>
                <td>@item.ProcessingFees</td>
                <td>@item.CouponStatus</td>
                <td>@item.UTI_TXN_ID</td>
          
                <td>@item.RetailerIncome</td>

                <td>@item.retailer_master_pre</td>
                <td>@item.MDIncome</td>
         
                <td>@item.Date</td>
            </tr>
            }


        </tbody>
    </table>
</body>
</html>


