@model Vastwebmulti.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";

}
<link href="~/Areas/WMASTER/MasterCss/mastercss.css" rel="stylesheet" />

<style>
    .ribbon {
        position: absolute;
        right: 16px;
        top: 0px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
    }

        .ribbon span {
            font-size: 11px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 100px;
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px;
            right: -21px;
            background: linear-gradient(#c5c5c5 0%, #868686 100%);
        }

    .list-group-item {
        border: none;
    }

    .field-validation-error {
        color: red;
    }

    .required:after {
        color: red;
        content: " *";
    }

    .ltgl .list-group-item {
        background: transparent;
    }

    .ltgl {
        border: 1px solid #ddd;
        border-bottom: 0px;
    }

        .ltgl li {
            border-bottom: 1px solid #ddd;
        }

    .edtbdy .col-md-3 {
        text-align: left !important;
    }

    .edtbdy .col-md-3, .edtbdy .col-md-9 {
        margin-bottom: 0px !important;
    }

    .edtbdy .form-group {
        margin-bottom: 0px;
    }

    .edtbdy .modal-footer {
        border: 0px;
        padding: 0px;
    }

    .edtbdy .row {
        margin-bottom: 10px;
    }

    .edtbdy .col-md-9 .form-control {
        width: 100% !important;
    }

    .edtbdy .col-md-9 select {
        -webkit-appearance: none;
        background: url('~/AdminDesign/images/multimedia.svg')no-repeat;
        background-position-y: 50%;
        background-color: #fff;
    }

    .classprofileheading h1 {
        width: auto;
        float: left;
        margin-top: -8px !important;
        margin-left: 10px;
        background: #f5f5f5;
        color: #555 !important;
        padding: 0 7px;
    }

    .jonbdy p {
        background: #fff;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
        height: 32px !important;
    }

    .spdtl-uploadclass span.select2.select2-container {
        width: 100% !important;
    }

        .spdtl-uploadclass span.select2.select2-container span.select2-selection.select2-selection--single {
            border: 1px solid #ddd !important;
            height: 34px !important;
            padding-top: 2px;
        }

    .jonbdy p {
        padding: 7px 5px;
    }

    .list-group.ltgl.ltgl-firstclass li.list-group-item {
        background: #ddd;
        border: 1px solid #555;
        margin-bottom: 10px;
    }

    .wh-masterclass .body.jonbdy p {
        background: #ddd;
        border-color: #555;
    }

    .wh-masterclass p.wmasternamefirst {
        border-right: 0;
    }

    .wh-masterclass .body.jonbdy p {
        padding: 7px 5px;
    }
    .editbuttoncssclass a:hover::before {
    opacity: 1;
    background-color: @PageData["Globalfirst"];
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
    .editbuttoncssclass a:hover ,.docoment-uploadclassbutto p.badge:hover{
        color: #fff;
        border-color: @PageData["Globalfirst"] !important;
    }
    .edit-uploadprofileimage .modal-footer button:hover ,.adresbuttonsave .modal-footer button:hover ,.docoment-uploadclassbutto p.badge::before ,.buttonfulclasscss .modal-footers button:hover{
    background: @PageData["Globalfirst"] !important;border-color: @PageData["Globalfirst"] !important;
}
        .edit-uploadprofileimage .modal-footer button:hover span, .adresbuttonsave .modal-footer button:hover span {
            color: #fff !important;
        }
        .profile-imgupload .profilebackground .classprofileheading button::before{background:@PageData["GlobalSecond"];}
@@keyframes blinkmaster {
    0% {
        color:#555;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #555;
    }
}

     .address-profileupload #EditaddressModal .col-md-9 select {
    background-size: 11px;
}
    @@media screen and (max-width:1366px) {
        .wh-masterclass .spdtl-uploadclass .tftg .col-md-3 label {
            font-size: 12px;
        }

        .wh-masterclass .spdtl-uploadclass .tftg .col-md-3 {
            width: 30%;
            float: left;
            padding-right: 0;
        }

        .wh-masterclass .spdtl-uploadclass .tftg .col-md-9 {width: 69%;float: right;}
    }

  @@media screen and (max-width:766px){
      .profile-imgupload {width: 100%;float: left;padding-right: 15px !important;margin-top:5px;margin-bottom:15px;}
      .profile-imgupload .profilebackground .ribbon {right: 16px;}
      .wh-masterclass {
    width: 100%;
    float: left;
    padding-right: 15px !important;
}
      .col-md-8.docoment-uploadclassbutto {
    width: 100%;
    float: left;
}
  }

  @@media screen and (max-width:420px){
    .address-profileupload #EditaddressModal .col-md-3, .address-profileupload #EditaddressModal .col-md-9 {
        width: 100%;
        float: left;
    }
 
      .profile-imgupload .profilebackground .edit-uploadprofileimage .col-lg-3.col-md-3.col-sm-4.col-xs-5.form-control-label 
      ,.profile-imgupload .profilebackground .edit-uploadprofileimage .col-lg-9.col-md-9.col-sm-8.col-xs-7{
    float: left;
    width: 100%;
}
      .profile-imgupload .profilebackground .edit-uploadprofileimage {
    min-height: 150px;
}
      .wh-masterclass .body.jonbdy p {
    width: 100%;
    float: left;
    text-align: left;
    margin: 0;
    border: 1px solid #555;
}
      .wh-masterclass .body.jonbdy p.wmasternamefirst {
    border-bottom: 0;
    margin-top: 15px;
}
      .wh-masterclass .body.jonbdy p {
    background: transparent;
}
      .wh-masterclass .body.jonbdy p.wmasternamefirst {
    background: #dddddd;
}
      .wh-masterclass .body.jonbdy p.wmasternamefirst:first-child {
    margin-top: 0;
}
      .address-profileupload ul.ltgl-firstclass li {
    padding: 6px 4px;
}
      .address-profileupload ul.ltgl-firstclass li span, .address-profileupload ul.ltgl-firstclass li p {
    font-size: 12px;
}
      .address-profileupload .card {
    min-height: inherit !important;
}
      .wh-masterclass .card .spdtl-uploadclass .body.tftg .col-md-3 ,.wh-masterclass .card .spdtl-uploadclass .body.tftg .col-md-9{
    width: 100%;
    float: left;
}
      .wh-masterclass .card .spdtl-uploadclass .body.tftg .col-md-3 label {
    margin-top: 0;
}
      .buttonfulclasscss .upload-pancardclass ,.buttonfulclasscss .upload-text ,.buttonfulclasscss .uploadtext-img{
    width: 100%;
}
      .buttonfulclasscss .upload-text label {
    padding-top: 0;
    margin-bottom: 5px;
}
      .buttonfulclasscss .modal-footers {
    width: 100%;
    padding-left: 0;
    margin-top: 5px;
}
      .docoment-uploadclassbutto .body.panbody-content {
    padding: 0 6px;
}
      .docoment-uploadclassbutto .body.panbody-content ul.list-group.ltgl li {
    padding: 10px 5px;
}
      .docoment-uploadclassbutto .body.panbody-content ul.list-group.ltgl li p {
    font-size: 11px;
}
      .docoment-uploadclassbutto .body.panbody-content ul.list-group.ltgl li p.badge {
    font-size: 10px;
}
      .docoment-uploadclassbutto .body.panbody-content {
    min-height: inherit;
}
      .profile-imgupload .profilebackground .classprofileheading h1 {
    font-size: 13px !important;
}



  }


</style>
<section class="content" style=" margin: 75px 0px 0 170px;">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-4 profile-imgupload" style="padding-right: 4px;">
                <div class="profilebackground" style="width: 100%; float: left; min-height: 374px; background: #f5f5f5; ">
                    <div class="ribbon"><span>MASTER</span></div>

                    <div class="body">
                        <center>
                            @if (ViewBag.MD_Details.Photo != null)
                            {
                                <div class="image" style="margin-top:15px;">
                                    <img src="@Url.Content("~/"+ ViewBag.MD_Details.Photo )" class="img-circle" alt="User" width="100" height="100" title="Click Me Upload Profile Image" style="cursor:pointer;" onclick="uploadimage('@ViewBag.MD_Details.SSId')" />

                                </div>

                            }
                            else
                            {
                                <div class="image" style="margin-top:15px;">
                                    <img src="~/AdminDesign/images/user.png" width="100" height="100" class="img-circle" alt="User" title="Click Me Upload Profile Image" style="cursor: pointer;" onclick="uploadimage('@ViewBag.MD_Details.SSId')">

                                </div>
                            }

                            <div class="msg" style="padding-top:12px; font-size:19px; font-weight:600; color: #555;text-transform: capitalize;">@ViewBag.MD_Details.SuperstokistName</div>
                            <p style="margin-top:15px;font-size:14px;text-transform:uppercase;">Master Distribution Partner</p>

                        </center>
                        <div class="" style="margin-bottom: 20px;margin-top:26px !important;width: 100%;float: left;">
                            <div class="body fullbodydycolorbg classprofileheading" id="classprofileheadingnone" style="background-color:whitesmoke;height:113px;border:3px solid #555;border-radius: 5px;width: 90%;margin: 0px auto;">
                                <h1 style="color:#fff;font-size:14px;font-weight:bold;text-transform:uppercase;text-align:center;margin-top: 10px;margin-bottom: 15px;">
                                    <i class="fa fa-lock"></i>&nbsp;One Time Password Security
                                </h1>
                                <div class="row" style="margin-bottom:-20px;">
                                    <div class="col-md-12">
                                        @if (Model.TwoFactorEnabled)
                                        {
                                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data", @style = "padding-left:0px;padding-top:2px;" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <center>
                                                    <button type="submit" class="btn  btn-circle-lg waves-effect waves-circle waves-float" style="margin-top:10px;height: 40px !important;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.12);width:145px;padding: 0px !important;border-radius: 50px 50px !important;background-color:@PageData["Globalfirst"];">
                                                        <span style="font-size:20px;font-weight:700;color:#fff;">OTP&nbsp;-&nbsp;ON</span>
                                                    </button>
                                                </center>
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", new { area = "" }, FormMethod.Post, new { encType = "multipart/form-data", @style = "padding-top:2px;" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <center>
                                                    <button type="submit" class="btn  btn-circle-lg waves-effect waves-circle waves-float" style="margin-top:10px;height: 40px !important;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.12);width:145px;padding: 0px !important;border-radius: 50px 50px !important;background-color:@PageData["Globalfirst"];">
                                                        <span style="font-size:20px;font-weight:700;color:#fff;">OTP&nbsp;-&nbsp;OFF</span>
                                                    </button>
                                                </center>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="edit-uploadprofileimage" id="EditProfileimageModal" style="display:none;">
                                
                                    
                                        
                                            <h4 class="modal-title" id="defaultModalLabel" style="color:black;"><i class="fa fa-user" style="font-size:14px;color:#555;"></i>&nbsp;Upload Profile Image</h4>
                                        
                                        @using (Html.BeginForm("UploadProfileimage", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                        {
                                            
                                                
                                                    <form>
                                                        <div class="row clearfix">
                                                            <input type="text" id="txtprofileid" name="txtprofileid" style="display:none;" />
                                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                                <label for="email_address_2">Upload Image</label>
                                                            </div>

                                                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                                <div class="form-group">
                                                                    <div class="" style="border:1px solid #ddd;">
                                                                        <input type="file" class="form-control" id="file" name="file" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                                                <span style="top:-2px;color:black;">Save Change</span>
                                                            </button>
                                                            <button type="button" id="close-bodyprofile" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                                                <span style="top:-2px;color:black;">Close</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                
                                            
                                        }

                                    
                               
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 address-profileupload">
                <div class="card" style="border: 1px solid #e6e3e3;background: #f5f5f5;min-height:374px;">
                    <div class="body editbuttoncssclass" style="margin-bottom:0px;background-color:#dddddd;height:3px;padding-bottom: 30px;">
                        @if (ViewBag.MD_Details.FarmName != null)
                        {
                            <h1 style="color:#49586e;font-size:20px;font-weight:bold;margin-top:-10px;text-transform:uppercase;">
                                <img src="~/ashok-images/store.svg" style="width:24px;margin-right: 10px;display: inline-block;">
                                @ViewBag.MD_Details.FarmName
                                <a style="float:right;cursor:pointer;text-transform: capitalize;border: 1px solid #bdbdbd;font-size: 12px !important;background: #fff;padding: 2px 10px;text-decoration:none;"><span style="color: #9E9E9E;font-size: 21px;font-weight: normal;" onclick="editeaddress('@ViewBag.MD_Details.SSId')">Edit</span></a>
                            </h1>
                        }
                        else
                        {
                            <h1 style="color:#49586e;font-size:24px;font-weight:bold;margin-top:-13px;text-transform:uppercase;">
                                No Data Found !
                                <a style="float:right;cursor:pointer;text-decoration:none;"><i class="fa fa-pencil-square-o" style="font-size:22px;margin-top:0px;" onclick="editeaddress('@ViewBag.MD_Details.SSId')"></i></a>
                            </h1>
                        }
                    </div>
                    <div class="body" style="margin-top:0px;">
                        <ul class="list-group ltgl ltgl-firstclass" style="        margin-bottom: 0px;
        background: transparent;
        border: 0;">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker"></i> <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Registered Business Address</span>
                                <span style="display: block;color: #7a7676;">
                                    @if (ViewBag.MD_Details.Address != null && ViewBag.MD_Details.Address != "")
                                    {
                                        <p style="text-align:justify;margin-bottom: 0px;">@ViewBag.MD_Details.Address</p>
                                    }
                                    else
                                    {
                                        <p>ADDRESS NOT FOUND !</p>
                                    }
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;Town&nbsp;/&nbsp;City</span>
                                @if (ViewBag.MD_Details.city != null && ViewBag.MD_Details.city != "")
                                {
                                    <p style="float:right;text-transform:uppercase;margin-top:4px;">@ViewBag.MD_Details.city</p>
                                }
                                else
                                {
                                    <p style="margin-top:4px;float:right;">CITY NOT FOUND !</p>
                                }
                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;District</span>
                                <p style="float:right;text-transform:uppercase;">@ViewBag.district</p>
                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;State</span>
                                <p style="float:right;text-transform:uppercase;">@ViewBag.ddlstate</p>
                            </li>
                            <li class="list-group-item">
                                <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">&nbsp;Zip Code</span>
                                @if (ViewBag.MD_Details.Pincode != null)
                                {
                                    <p style="float:right;margin-top:0px;">@ViewBag.MD_Details.Pincode</p>
                                }
                                else
                                {
                                    <p style="float:right;margin-top:0px;">ZIP CODE NOT FOUND !</p>
                                }
                            </li>


                        </ul>

                        <div class="adresbuttonsave" id="EditaddressModal" style="display:none;">
                            <div class="dlog" role="document">
                                <div class="modal-content" style="box-shadow: none;border-radius: 0px;">
                                    <div class="modal-header" style="background-color: #ddd;padding: 5px 15px;">
                                        <h4 class="modal-title" id="defaultModalLabel" style="color:#555;">Update Address</h4>
                                    </div>
                                    @using (Html.BeginForm("UpdateMasterProfile", "Home", FormMethod.Post))
                                    {
                                        <div class="modal-body" style="margin-top:0px;background: #f5f5f5;">
                                            <div class="body edtbdy" style="padding: 0px;">
                                                <form>
                                                    <div class="row clearfix">
                                                        <input type="text" id="txtid1" name="txtid1" style="display:none;" />
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">Frim Name</label>
                                                        </div>

                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.TextBox("txtfrimname", "", new { @class = "form-control", placeholder = "Enter Your Address", required = "required" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">Address</label>
                                                        </div>

                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.TextBox("txtaddress", "", new { @class = "form-control", placeholder = "Enter Your Address", required = "required" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">Town / City</label>
                                                        </div>

                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.TextBox("txtcity", "", new { @class = "form-control", placeholder = "Enter Your Town/city ", required = "required" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">State</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.Sate, "-- Select State--", new { @class = "form-control", @required = "required", @onchange = "FillDistict()" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">District</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.DropDownList("District", (IEnumerable<SelectListItem>)ViewBag.ALLDistrict, "-- Select District--", new { @class = "form-control", @required = "" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                            <label for="email_address_2" class="required">Zip Code</label>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                            <div class="form-group">
                                                                <div class="" style="border:1px solid #ddd;">
                                                                    @Html.TextBox("txtzipcode", "", new { @required = "required", @class = "form-control", @placeholder = "Enter Zip Code", onkeypress = "return isNumber(event)" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                                            <span style="top:-2px;color:black;">Save Change</span>
                                                        </button>
                                                        <button type="button" id="editbuttonclose" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                                            <span style="top:-2px;color:black;">Close</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-4 wh-masterclass" style="padding-right: 4px;">
                <div class="card " style="height:auto;float: left;border: 1px solid #ddd;width: 100%;">
                    <div class="body jdt editbuttoncssclass" style="margin-bottom:0px;background-color:#dddddd;height:42px;">
                        <h1 style="color: #555 !important;font-size:14px;font-weight:bold;margin-top:-16px;text-transform:uppercase;">
                            Joining Date
                            <a style="margin-top:3px;float: right;cursor: pointer;text-transform: capitalize;border: 1px solid #bdbdbd;font-size: 12px !important;background: #fff;padding: 2px 10px;text-decoration: none;" onclick="editemobileandpancard('@ViewBag.MD_Details.SSId')"><span style="font-size: 21px;font-weight: normal;">Edit</span></a>
                        </h1>
                        <p style="text-transform:uppercase;margin-top:-9px;font-size: 11px;">@ViewBag.MD_Details.JoinDate</p>

                    </div>
                    <div class="body jonbdy" style="margin-top:0px;background: #f5f5f5;float: left;">
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Name</p>
                        <p style="text-transform:uppercase;">@ViewBag.MD_Details.SuperstokistName</p>
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Email-ID</p>
                        <p style="text-transform:uppercase;">@ViewBag.MD_Details.Email</p>
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Mobile</p>
                        <p style="text-transform:uppercase;">@ViewBag.MD_Details.Mobile</p>
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Aadharcard</p>
                        @if (ViewBag.MD_Details.adharcard != null && ViewBag.MD_Details.adharcard != "")
                        {
                            <p style="text-transform:uppercase;">@ViewBag.MD_Details.adharcard</p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;">Data Not Found !</p>
                        }
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Pancard</p>
                        @if (ViewBag.MD_Details.pancard != null && ViewBag.MD_Details.pancard != "")
                        {
                            <p style="text-transform:uppercase;">@ViewBag.MD_Details.pancard</p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;">Data Not Found !</p>
                        }
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">GST No</p>
                        @if (ViewBag.MD_Details.gst != null && ViewBag.MD_Details.gst != "")
                        {
                            <p style="text-transform:uppercase;">@ViewBag.MD_Details.gst</p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;">Data Not Found !</p>
                        }
                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Position</p>
                        @if (ViewBag.MD_Details.Position != null && ViewBag.MD_Details.Position != "")
                        {
                            <p style="text-transform:uppercase;">@ViewBag.MD_Details.Position</p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;">Data Not Found !</p>
                        }

                        <p class="wmasternamefirst" style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Businees&nbsp;Type</p>
                        @if (ViewBag.MD_Details.BusinessType != null && ViewBag.MD_Details.BusinessType != "")
                        {
                            <p style="text-transform:uppercase;">@ViewBag.MD_Details.BusinessType</p>
                        }
                        else
                        {
                            <p style="text-transform:uppercase;">Data Not Found !</p>
                        }
                    </div>

                    <div class="spdtl spdtl-uploadclass adresbuttonsave" id="EditnameandpancardModal" style="display:none;background: #f5f5f5;">
                        <div class="" role="document">
                            <div class="modal-content" style="box-shadow: none;border-radius: 0px;background: #f5f5f5;">
                                <div class="modal-header" style="background: #dddddd;padding: 5px 11px;">
                                    <h4 class="modal-title" id="defaultModalLabel" style="color:#555;">Update Profile</h4>
                                </div>
                                @using (Html.BeginForm("UpdatePanccardandmobile", "Home", FormMethod.Post))
                                {
                                    <div class="modal-body" style="margin-top:0px;">
                                        <div class="body tftg" style="padding: 0px;">
                                            <form>
                                                <div class="row clearfix">
                                                    <input type="text" id="txtid2" name="txtid2" style="display:none;" />
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Name</label>
                                                    </div>

                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                @Html.TextBox("txtname", "", new { @class = "form-control", placeholder = "Enter Your Name", required = "required" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Aadhaar&nbsp;No</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                @Html.TextBox("txtaadhaarcard", "", new { @required = "required", @class = "form-control", @placeholder = "Enter Aadhaar Number", onkeypress = "return isNumber(event)", maxlength = "12" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Pancard&nbsp;No</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                @Html.TextBox("txtpancard", "", new { @required = "required", @class = "form-control", @placeholder = "Enter Pancard Number", @style = "text-transform:uppercase", maxlength = 10 })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Gst&nbsp;No</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                @Html.TextBox("txtgst", "", new { @required = "required", @class = "form-control", @placeholder = "Enter GST Number", maxlength = "15", @style = "text-transform:uppercase" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Position</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="">
                                                                @Html.DropDownList("ddlPosition", new List<SelectListItem>
                                                               {
                                                      new SelectListItem{ Text="Select Type",Value=""},
                                                     new SelectListItem{Text="Director",Value="Director"},
                                                      new SelectListItem{Text="Authorized Signatory",Value="Authorized Signatory"}
                                                       }, new { @class = "for-select2 form-control" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                                        <label for="email_address_2" class="required">Business&nbsp;Type</label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                                        <div class="form-group">
                                                            <div class="" style="">
                                                                @Html.DropDownList("ddlBusinessType", new List<SelectListItem>
                                                               {
                                                     new SelectListItem{ Text="Select Type",Value=""},
                                                     new SelectListItem{Text="Agriculture Machinery",Value="Agriculture Machinery"},
                                                     new SelectListItem{Text="Agriculture Fertilizer",Value="Agriculture Fertilizer"},
                                                     new SelectListItem{Text="Automobiles and Vehicles",Value="Automobiles and Vehicles"},
                                                     new SelectListItem{Text="Automobile Tyre Supply and Service",Value="Automobile Tyre Supply and Service"},
                                                     new SelectListItem{Text="Beauty and Wellness",Value="Beauty and Wellness"},
                                                     new SelectListItem{Text="Advertising Agenices",Value="Advertising Agenices"},
                                                     new SelectListItem{Text="accounting & Tax Consultants",Value="accounting & Tax Consultants"},
                                                     new SelectListItem{Text="Employment Consultants",Value="Employment Consultants"},
                                                     new SelectListItem{Text="Software Development and Sales",Value="Software Development and Sales"},
                                                     new SelectListItem{Text="Photo and Video Studio",Value="Photo and Video Studio"},
                                                     new SelectListItem{Text="Computer Repair & Services",Value="Computer Repair & Services"},
                                                     new SelectListItem{Text="Tent And Awning Shops",Value="Tent And Awning Shops"},
                                                     new SelectListItem{Text="Packers and Movers",Value="Packers and Movers"},
                                                     new SelectListItem{Text="RealEstate Consultants",Value="RealEstate Consultants"},
                                                     new SelectListItem{Text="Laundy and Dry Cleaner",Value="Laundy and Dry Cleaner"},
                                                     new SelectListItem{Text="Matrimony Services",Value="Matrimony Services"},
                                                     new SelectListItem{Text="Lawyers",Value="Lawyers"},
                                                     new SelectListItem{Text="Charitable Organisation",Value="Charitable Organisation"},
                                                     new SelectListItem{Text="Driving Classes",Value="Driving Classes"},
                                                     new SelectListItem{Text="Elementary and Secondary Schools",Value="Elementary and Secondary Schools"},
                                                     new SelectListItem{Text="Correspondance Courses",Value="Correspondance Courses"},
                                                     new SelectListItem{Text="Other Events & Entertainment",Value="Other Events & Entertainment"},
                                                     new SelectListItem{Text="Security Brokers and Dealers",Value="Security Brokers and Dealers"},
                                                     new SelectListItem{Text="Collection Agency",Value="Collection Agency"},
                                                     new SelectListItem{Text="fuel Service Stations",Value="fuel Service Stations"},
                                                    new SelectListItem{Text="Government",Value="Government"},
                                                    new SelectListItem{Text="Home Services",Value="Home Services"},
                                                    new SelectListItem{Text="Hospitals and Healthcare",Value="Hospitals and Healthcare"},
                                                    new SelectListItem{Text="Hotels, Restaurants and Food",Value="Hotels, Restaurants and Food"},
                                                    new SelectListItem{Text="Insurance Sale",Value="Insurance Sale"},
                                                    new SelectListItem{Text="Computers and Acessories",Value="Computers and Acessories"},
                                                    new SelectListItem{Text="Silver Jewellery",Value="Silver Jewellery"},
                                                    new SelectListItem{Text="Hardware Shop (Paint & Building Materials)",Value="Hardware Shop (Paint & Building Materials)"},
                                                    new SelectListItem{Text="Mobile shop",Value="Mobile shop"},
                                                    new SelectListItem{Text="Home Decor",Value="Home Decor"},
                                                    new SelectListItem{Text="Bicycle Shop, Repair and Service",Value="Bicycle Shop, Repair and Service"},
                                                    new SelectListItem{Text="Tours and Travel Agency",Value="Tours and Travel Agency"},
                                                    new SelectListItem{Text="Trucks and Others",Value="Trucks and Others"},
                                                    new SelectListItem{Text="Taxi and Car Rentals",Value="Taxi and Car Rentals"},
                                                    new SelectListItem{Text="Cruises Service",Value="Cruises Service"},
                                                      new SelectListItem{Text="Tuition and Classes",Value="Tuition and Classes"},
                                                    new SelectListItem{Text="Cable Service Providers",Value="Cable Service Providers"},
                                                    new SelectListItem{Text="Recharges and Bill Payments",Value="Recharges and Bill Payments"},

                                              }, new { @class = "for-select2 form-control" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                                        <span style="top:-2px;color:#555;">Save Change</span>
                                                    </button>
                                                    <button type="button" class="btn bg-grey waves-effect" id="clst" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                                        <span style="top:-2px;color:#555;">Close</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="col-md-8">
                  <div class="card " style="margin-top:0px;border: 1px solid #ddd;background: #f5f5f5;">
                      <div class="body" style="margin-bottom:0px;background-color:#dddddd;height:42px;">
                          <h1 style="color:#49586e;font-size:17px;font-weight:bold;margin-top:-16px;text-transform:uppercase;">
                             <i class="fa fa-university"></i>&nbsp;Bank Information
                              <a style="float:right;cursor:pointer;" onclick="editebankinformation('@ViewBag.MD_Details.SSId')"><i class="fa fa-pencil-square-o" style="font-size:22px;margin-top:0px;"></i></a>
                          </h1>
                      </div>
                      <div class="body" style="margin-top:0px;">
                          <ul class="list-group ltgl">
                              <li class="list-group-item" >
                                  <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Acc Holder Name</span>
                                  @if (ViewBag.MD_Details.accountholder != null && ViewBag.MD_Details.accountholder != "")
                                  {
                                      <p style="float:right;margin-top:0px;">@ViewBag.MD_Details.accountholder</p>
                                  }
                                  else
                                  {
                                      <p style="float:right;margin-top:0px;">DATA NOT FOUND !</p>
                                  }
                              </li>
                              <li class="list-group-item">
                                  <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Bank Account No</span>
                                  @if (ViewBag.MD_Details.Bankaccountno != null && ViewBag.MD_Details.Bankaccountno != "")
                                  {
                                      <p style="float:right;text-transform:uppercase;margin-top:4px;">@ViewBag.MD_Details.Bankaccountno</p>
                                  }
                                  else
                                  {
                                      <p style="margin-top:4px;float:right;">DATA NOT FOUND !</p>
                                  }
                              </li>
                              <li class="list-group-item">
                                  <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">IFS Code</span>
                                  @if (ViewBag.MD_Details.Ifsccode != null && ViewBag.MD_Details.Ifsccode != "")
                                  {
                                      <p style="float:right;margin-top:0px;">@ViewBag.MD_Details.Ifsccode</p>
                                  }
                                  else
                                  {
                                      <p style="float:right;margin-top:0px;">DATA NOT FOUND !</p>
                                  }
                              </li>
                            <li class="list-group-item">
                                  <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Bank Name</span>
                                  @if (ViewBag.MD_Details.bankname != null && ViewBag.MD_Details.bankname != "")
                                  {
                                      <p style="float:right;text-transform:uppercase;margin-top:4px;">@ViewBag.MD_Details.bankname</p>
                                  }
                                  else
                                  {
                                      <p style="margin-top:4px;float:right;">DATA NOT FOUND !</p>
                                  }
                              </li>

                              <li class="list-group-item">
                                  <span style="color:#7a7676;font-family:'Open Sans',sans-serif;font-weight:600;">Branch Address</span>
                                  @if (ViewBag.MD_Details.bankAddress != null && ViewBag.MD_Details.bankAddress != "")
                                  {
                                      <p style="float:right;margin-top:0px;">@ViewBag.MD_Details.bankAddress</p>
                                  }
                                  else
                                  {
                                      <p style="float:right;margin-top:0px;">DATA NOT FOUND !</p>
                                  }
                              </li>

                          </ul>


                      </div>
                  </div>
                </div>*@

            <div class="col-md-8 docoment-uploadclassbutto">
                <div class="card " style="margin-top:0px;border: 1px solid #ddd;background: #f5f5f5;">
                    <div class="body" style="margin-bottom:11px;background-color:#dddddd;height:42px;">
                        <h1 style="color:#49586e;font-size:20px;font-weight:bold;margin-top:-13px;text-transform:uppercase;">
                            <i class="fa fa-file" style="font-size:20px;margin-right: 12px;"></i>&nbsp;Upload Document
                        </h1>

                    </div>
                    <div class="body panbody-content" style="margin-top:0px;">
                        <ul class="list-group ltgl">
                            <li class="list-group-item" style="border-bottom: 1px dashed #ddd;">
                                <p style="font-weight:bold;color:#7a7676;font-family:'Open Sans',sans-serif;" class="required">Aadhaar Card</p>
                                <p style="color:brown;opacity:0.5;margin-top:-10px;display: inline-block;">MANDATORY</p>
                                <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;"><a href="@Url.Content("~/" + ViewBag.MD_Details.aadharcardPath)" style="cursor:pointer;text-decoration:none;color:#4a2400;" target="_blank">View</a></p>
                                @if (ViewBag.MD_Details.aadharcardPath == null)
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="uploadaadhaarDoc('@ViewBag.MD_Details.SSId')">Upload</p>
                                }
                                else
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:red;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="deleteDoc('@ViewBag.MD_Details.SSId', 'Aadhaar')">Delete</p>
                                }

                            </li>
                            <li class="list-group-item" id="pancarduploadid" style="border-bottom: 1px dashed #ddd;">

                                <p style="font-weight:bold;color:#7a7676;font-family:'Open Sans',sans-serif;" class="required">Pancard</p>
                                <p style="color:brown;opacity:0.5;margin-top:-10px;display:inline-block;">MANDATORY</p>
                                <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;"><a href="@Url.Content("~/" + ViewBag.MD_Details.pancardPath)" style="cursor:pointer;text-decoration:none;color:#4a2400;" target="_blank">View</a></p>
                                @if (ViewBag.MD_Details.pancardPath == null)
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="uploadpancardDoc('@ViewBag.MD_Details.SSId')">Upload</p>
                                }
                                else
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:red;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="deleteDoc('@ViewBag.MD_Details.SSId', 'Pancard')">Delete</p>
                                }




                            </li>
                            <li class="list-group-item pancardallcss" id="EditPancarddocModal" style="display:none;border-bottom: 1px dashed #ddd;">
                                <div class="">

                                    @using (Html.BeginForm("UploadPancardcarddoc", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {


                                        <form>
                                            <div class="buttonfulclasscss">
                                                <input type="text" id="txtpancardid" name="txtpancardid" style="display:none;" />


                                                <div class="upload-pancardclass">
                                                    <div class="upload-text">
                                                        <label for="email_address_2">Upload Image</label>
                                                    </div>
                                                    <div class="uploadtext-img">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                <input type="file" class="form-control" id="file" name="file" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="modal-footers">
                                                    <button type="submit" class="btn bg-grey waves-effect" style="height:32px;">
                                                        <span style="top:0px;color:#555;">Save Change</span>
                                                    </button>
                                                    <button type="button" class="btn bg-grey waves-effect" id="pancarduploadnone" style="margin-right:12px;height:32px;" data-dismiss="modal">
                                                        <span style="top:0px;color:#555;">Close</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>


                                    }



                                </div>
                            </li>
                            <li class="list-group-item" id="registractionnone" style="border-bottom: 1px dashed #ddd;">
                                <p style="font-weight:bold;color:#7a7676;font-family:'Open Sans',sans-serif;">Registraction Certificate</p>
                                <p style="color:deepskyblue;opacity:0.5;margin-top:-10px;display:inline-block;">OPTIONAL</p>
                                <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;"><a href="@Url.Content("~/" + ViewBag.MD_Details.Registractioncertificatepath)" style="cursor:pointer;text-decoration:none;color:#4a2400;" target="_blank">View</a></p>
                                @if (ViewBag.MD_Details.Registractioncertificatepath == null)
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="uploadRegistractionCertificateDoc('@ViewBag.MD_Details.SSId')">Upload</p>
                                }
                                else
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:red;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="deleteDoc('@ViewBag.MD_Details.SSId', 'RegistractionCertificate')">Delete</p>
                                }
                            </li>

                            <li class="list-group-item pancardallcss" id="EditRegistractiondocModal" style="display:none;border-bottom: 1px dashed #ddd;">
                                <div class="">

                                    @using (Html.BeginForm("UploadRegistractionCertificatedoc", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {


                                        <form>
                                            <div class="buttonfulclasscss">
                                                <div class="upload-pancardclass">
                                                    <input type="text" id="txtRegistractionid" name="txtRegistractionid" style="display:none;" />
                                                    <div class="upload-text">
                                                        <label for="email_address_2">Upload Image</label>
                                                    </div>

                                                    <div class="uploadtext-img">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                <input type="file" class="form-control" id="file" name="file" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footers">
                                                    <button type="submit" class="btn bg-grey waves-effect" style="height:32px;">
                                                        <span style="top:-2px;color:#555;">Save Change</span>
                                                    </button>
                                                    <button type="button" class="btn bg-grey waves-effect" id="regiractionuploadnone" style="margin-right:12px;height:32px;" data-dismiss="modal">
                                                        <span style="top:-2px;color:#555;">Close</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>


                                    }



                                </div>
                            </li>

                            <li class="list-group-item" id="servicesclassnone" style="border-bottom: 1px dashed #ddd;">
                                <p style="font-weight:bold;color:#7a7676;font-family:'Open Sans',sans-serif;">Service Agreement</p>
                                <p style="color:deepskyblue;opacity:0.5;margin-top:-10px; display:inline-block;">OPTIONAL</p>
                                <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;"><a href="@Url.Content("~/" + ViewBag.MD_Details.serviceagreementpath)" style="cursor:pointer;text-decoration:none;color:#4a2400;" target="_blank">View</a></p>
                                @if (ViewBag.MD_Details.serviceagreementpath == null)
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="uploadserviceDoc('@ViewBag.MD_Details.SSId')">Upload</p>
                                }
                                else
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:red;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="deleteDoc('@ViewBag.MD_Details.SSId', 'ServiceAgrrement')">Delete</p>
                                }
                            </li>

                            <li class="list-group-item pancardallcss" id="EditServicedocModal" style="display:none;border-bottom: 1px dashed #ddd;">
                                <div class="">

                                    @using (Html.BeginForm("UploadServiceAggrementdoc", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {

                                        <form>
                                            <div class="buttonfulclasscss">
                                                <div class="upload-pancardclass">
                                                    <input type="text" id="txtserviceid" name="txtserviceid" style="display:none;" />
                                                    <div class="upload-text">
                                                        <label for="email_address_2">Upload Image</label>
                                                    </div>

                                                    <div class="uploadtext-img">
                                                        <div class="form-group">
                                                            <div class="" style="border:1px solid #ddd;">
                                                                <input type="file" class="form-control" id="file" name="file" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footers">
                                                    <button type="submit" class="btn bg-grey waves-effect" style="height:32px;">
                                                        <span style="top:-2px;color:#555;">Save Change</span>
                                                    </button>
                                                    <button type="button" class="btn bg-grey waves-effect" id="servicebuttonlastnone" style="margin-right:12px;height:32px;" data-dismiss="modal">
                                                        <span style="top:-2px;color:#555;">Close</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    }






                                </div>
                            </li>

                            <li class="list-group-item" id="addresproofclass" style="border-bottom: 1px dashed #ddd;">
                                <p style="font-weight:bold;color:#7a7676;font-family:'Open Sans',sans-serif;">Address Proof</p>
                                <p style="color:deepskyblue;opacity:0.5;margin-top:-10px;display:inline-block;">OPTIONAL</p>
                                <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;"><a href="@Url.Content("~/" + ViewBag.MD_Details.AddressProofpath)" style="cursor:pointer;text-decoration:none;color:#4a2400;" target="_blank">View</a></p>
                                @if (ViewBag.MD_Details.AddressProofpath == null)
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:black;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="uploadAddressProofDoc('@ViewBag.MD_Details.SSId')">Upload</p>
                                }
                                else
                                {
                                    <p class="badge" style="padding: 7px 10px;background-color:white;color:red;border:1px solid #dddddd;font-weight:400;cursor:pointer;" onclick="deleteDoc('@ViewBag.MD_Details.SSId', 'AddressProof')">Delete</p>
                                }
                            </li>

                            <li class="list-group-item pancardallcss" id="EditAddressProofdocModal" style="display:none;border-bottom: 1px dashed #ddd;">
                                <div class="">
                                        @using (Html.BeginForm("UploadAddressProofdoc", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
                                                {
                                                    
                                                            <form>
                                                                <div class="buttonfulclasscss">
                                                                    <div class="upload-pancardclass">
                                                                        <input type="text" id="txtAddressproofid" name="txtAddressproofid" style="display:none;" />
                                                                        <div class="upload-text">
                                                                            <label for="email_address_2">Upload Image</label>
                                                                        </div>

                                                                        <div class="uploadtext-img">
                                                                            <div class="form-group">
                                                                                <div class="" style="border:1px solid #ddd;">
                                                                                    <input type="file" class="form-control" id="file" name="file" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footers">
                                                                        <button type="submit" class="btn bg-grey waves-effect" style="height:32px;">
                                                                            <span style="top:-2px;color:#555;">Save Change</span>
                                                                        </button>
                                                                        <button type="button" class="btn bg-grey waves-effect" id="addresproofclassnone" style="margin-right:12px;height:32px;" data-dismiss="modal">
                                                                            <span style="top:-2px;color:#555;">Close</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        
                                                }

                                           


                                </div>
                            </li>

                        </ul>
                    </div>

                </div>


            </div>
        </div>

    </div>
</section>

<!--Edit Address and Pincode Modal Poppup popup-->
<!--Edit Pancard nad Name and Gst Number Modal Popup-->
<!--Edit Bankinfromation Modal Poppup popup-->
<div class="modal fade" id="EditBankinfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Update Bank Infromation</h4>
            </div>
            @using (Html.BeginForm("UpdateBankinfromation", "Home", FormMethod.Post))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <input type="text" id="txtid3" name="txtid3" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Account Holder</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            @Html.TextBox("txtaccholder", "", new { @class = "form-control", placeholder = "Enter Your Account Holder Name" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Bank Account No</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            @Html.TextBox("txtbankaccountno", "", new { @class = "form-control", placeholder = "Enter Your Bank Account Number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">IFS Code</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            @Html.TextBox("txtifsc", "", new { @class = "form-control", placeholder = "Enter Your IFSC " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Bank Name</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            @Html.TextBox("txtbankname", "", new { @class = "form-control", placeholder = "Enter Bank Name " })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Branch Address</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            @Html.TextBox("txtbranchaddress", "", new { @class = "form-control", placeholder = "Enter Branch Address " })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Upload Aadhaar card Doc Moadl Popup-->
<div class="modal fade" id="EditAadhaardocModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:whitesmoke;">
                <h4 class="modal-title" id="defaultModalLabel" style="color:black;">Upload Aadhaar Card Document</h4>
            </div>
            @using (Html.BeginForm("UploadAadharcarddoc", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                <div class="modal-body" style="margin-top:0px;">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <input type="text" id="txtaadharid" name="txtaadharid" style="display:none;" />
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Upload Image</label>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="" style="border:1px solid #ddd;">
                                            <input type="file" class="form-control" id="file" name="file" />
                                            <input type="file" class="form-control" id="file1" name="file1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-right:12px; height:34px;">
                                    <span style="top:-2px;color:black;">Save Change</span>
                                </button>
                                <button type="button" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left: -3px; height:34px;" data-dismiss="modal">
                                    <span style="top:-2px;color:black;">Close</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<!--Upload Pancard card Doc Moadl Popup-->


<!--Upload Serviceaggremt card Doc Moadl Popup-->


<!--Upload Registracion Certification  Doc Moadl Popup-->


<!--Upload Address Proof  Doc Moadl Popup-->


<!--Upload Profile Image   Moadl Popup-->

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<link href="~/Areas/MASTER/MasterCss/mastercss.css" rel="stylesheet" />


<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>


<script>
    $('.for-select2').select2();


</script>



<script>
    $(document).ready(function()
    {
        var msg = '@ViewData["msg"]';
        if(msg !="")
        {
            swal("File Uploaded!", msg, "success");
        }
    })
</script>
<script type="text/javascript">
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>

<script>
    function FillDistict() {
        var State_id = $('#State').val();
    $.ajax({
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (cities) {
            $("#District").html("");
            $.each(cities, function (i, District) {
                $("#District").append(
                    $('<option></option>').val(District.Dist_id).html(District.Dist_Desc));
            });
        }
    });
  }
</script>

<!--edit address and prifile image -->
<script>
    function editeaddress(SSID) {
        var url = '@Url.Action("ShowMasterprofile", "Home")'
        $.ajax({
            url: url,
            data: { SSID: SSID },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#txtid1").val(data[0].SSId);
                $("#txtfrimname").val(data[0].FarmName)
                $("#txtcity").val(data[0].city);
                $("#txtaddress").val(data[0].Address);
                $("#txtzipcode").val(data[0].Pincode);
                $("#State").val(data[0].State);
                $("#District").val(data[0].District);
                $('#EditaddressModal').show();
                $(".ltgl-firstclass").hide();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>
<script>
    $(document).ready(function () {
        $("#editbuttonclose").click(function () {
            $('#EditaddressModal').hide();
            $(".ltgl-firstclass").show();
        });
    });
</script>


<!--edit Name and Pancrad and Gst Number  image -->
<script>
    function editemobileandpancard(SSID) {

        var url = '@Url.Action("Showmobileandpancardprofile", "Home")'
        $.ajax({
            url: url,
            data: { SSID: SSID },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#txtid2").val(data[0].SSId);
                $("#txtname").val(data[0].SuperstokistName);
                $("#txtaadhaarcard").val(data[0].adharcard);
                $("#txtpancard").val(data[0].pancard);
                $("#txtgst").val(data[0].gst);
                $("#ddlPosition").val(data[0].Position);
                $("#ddlBusinessType").val(data[0].BusinessType);
                $('#EditnameandpancardModal').show();
                $(".jonbdy").hide();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

<script>
    $(document).ready(function () {
        $("#clst").click(function () {
            $('#EditnameandpancardModal').hide();
            $(".jonbdy").show();
        });
    });
</script>

<!--edit Bank Information-->
<script>
    function editebankinformation(SSID) {
        var url = '@Url.Action("ShowBankinfo", "Home")'
        $.ajax({
            url: url,
            data: { SSID: SSID },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#txtid3").val(data[0].SSId);
                $("#txtaccholder").val(data[0].accountholder)
                $("#txtbankaccountno").val(data[0].Bankaccountno);
                $("#txtifsc").val(data[0].Ifsccode);
                $("#txtbankname").val(data[0].bankname);
                $("#txtbranchaddress").val(data[0].bankAddress);
                $('#EditBankinfoModal').modal('show');
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>
<!--Upload Aadhaar Card Doc Script-->
<script>
    function uploadaadhaarDoc(SSID) {
        $("#txtaadharid").val(SSID);
        $('#EditAadhaardocModal').modal('show');
    }
</script>


<!--Upload Pancard  Card Doc Script-->
<script>
    function uploadpancardDoc(SSID) {
        $("#txtpancardid").val(SSID);
        $('#EditPancarddocModal').show();
        $('#pancarduploadid').hide();
    }
</script>

<!--Upload Upload
Registraction Certificate  Doc Script-->
<script>
    function uploadRegistractionCertificateDoc(SSID) {
        $("#txtRegistractionid").val(SSID);
        $('#EditRegistractiondocModal').show();
        $('#registractionnone').hide();
    }
</script>
<!--Upload Service Aggrement  Doc Script-->
<script>
    function uploadserviceDoc(SSID) {
        $("#txtserviceid").val(SSID);
        $('#EditServicedocModal').show();
        $('#servicesclassnone').hide();
    }
</script>

<!--Upload Address Proof  Doc Script-->
<script>
    function uploadAddressProofDoc(SSID) {
        $("#txtAddressproofid").val(SSID);
        $('#EditAddressProofdocModal').show();
        $('#addresproofclass').hide();
    }
</script>

<!--Upload Profile Image Script-->
<script>
    function uploadimage(SSID) {
        $("#txtprofileid").val(SSID);
        $('#EditProfileimageModal').show();
        $('#classprofileheadingnone').hide();
    }
</script>

<!--Delete Doc -->

<script type="text/javascript">

    function deleteDoc(SSID,docname) {
        swal({
            text: "<p style='color:#948f8b; font-size:20px;border-bottom:1px solid #dddddd;margin-top:-12px;padding-bottom:12px;'>Delete " + " " + docname + " !</p>" +
                   "</br><i class='fa fa-trash'style='font-size:72px;color:red;'></i></br><p style=''>Are you sure ?</p>",
             html: true,
            title:"" ,
            showCancelButton: true,
            confirmButtonColor: "#f9a7a7",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
function () {

    $.ajax({
        type: "POST", url: '@Url.Action("DelereprofileDoc", "Home")', data: { 'SSID': SSID, 'Docname': docname }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
                swal("File Removed!", " Deleted Successfully.", "success");
                var url = '@Url.Action("Profile", "Home")';
                window.location.href = url;
            }
            else {
                swal("Failed!", "Something went wrong.", "error");
                var url = '@Url.Action("Profile", "Home")';
                window.location.href = url;
            }
        }
    });
}
);

    }

</script>


<script>
    $("#close-bodyprofile").click(function () { 
        
        $('#EditProfileimageModal').hide();
        $('#classprofileheadingnone').show();
    });
</script>

<script>
    $("#pancarduploadnone").click(function () {

        $('#EditPancarddocModal').hide();
        $('#pancarduploadid').show();
    });
</script>

<script>
    $("#regiractionuploadnone").click(function () {

        $('#EditRegistractiondocModal').hide();
        $('#registractionnone').show();
    });
</script>
<script>
    $("#servicebuttonlastnone").click(function () {

        $('#EditServicedocModal').hide();
        $('#servicesclassnone').show();
    });
</script>
<script>
    $("#addresproofclassnone").click(function () {

        $('#EditAddressProofdocModal').hide();
        $('#addresproofclass').show();
    });
</script>