@using System.Net.Mime
@using Vastwebmulti.Models
@model IEnumerable<Vastwebmulti.Models.Select_balance_Super_stokist_Result>
@{
    ViewBag.Title = "Send";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
<style>
     .dropdown-menu {
        margin-top: 81px !important;
    }
   
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    @using (Html.BeginForm("ReceiveFund", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-7">
                                <div class="form-group" style="margin-top: 2px;">
                                    <ol class="breadcrumb breadcrumb-col-blue-grey" style="margin-left:-12px;">
                                        <li class="active" style="color:#a79f9f; font-size:15px;font-weight:700;">Fund Receive History</li>
                                    </ol>
                                </div>
                            
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-bottom:0px;margin-left:-10px;width:108%;">
                                    <div class="input-daterange input-group">
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange"></i>
                                        </span>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;", autocomplete = "off" })
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style="margin-top: 4px; margin-left:-20px; height:34px;">
                                        <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                        <span style="top:-2px;color:black;">Search</span>
                                    </button>
                                </center>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-39px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;">
       
                        </h2>
                    </div>
                    <div class="body" style="padding:7px;">
                        <div class="table-responsive" style="position:inherit;margin-top:-24px;">
                            <table id="example" class="table table-bordered " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>

                                        <th>Remain&nbsp;Pre</th>
                                        <th>Remain&nbsp;Post</th>
                                        <th>Total&nbsp;Transfer</th>
                                        <th>Type</th>
                                        <th>Net&nbsp;Amount</th>
                                        <th>Date</th>
                                        <th>Comment</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="background:no-repeat;">
                                            
                                            <td> @Html.DisplayFor(modelItem => item.remainsuper)</td>
                                             <td>@Html.DisplayFor(modelItem => item.remainsuperafter)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                                            <td>@Html.DisplayFor(modeltem => item.bal_type)</td>
                                            <td>@Html.DisplayFor(modeltem => item.fund_transfer)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RechargeDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.comment)</td>
                                            
                                        </tr>
                                    }
                                </tbody>
                              <tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td>Total</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.Balance)</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.fund_transfer)</td>
                                        <td></td>
                                        <td></td>
                                       
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    $(document).ready(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>