@model IEnumerable<Vastwebmulti.Models.Show_master_credit_report_by_admin_Result>
@{
    ViewBag.Title = "show_credit_Report";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}

<style>
    .wmaster-alltableclass .table-responsive {
    background: #f9f9f9;
}
        .wmaster-alltableclass .table-responsive table, .wmaster-alltableclass .table-responsive table.table-bordered tr, .wmaster-alltableclass .table-responsive table.table-bordered tbody tr td, .wmaster-alltableclass .table-responsive table.table-bordered thead tr th {
            border-color: #ddd !important;border:1px solid;
        }

        .wmaster-alltableclass .table-responsive table {
            border-top: 1px solid #ddd !important;
        }
        .wmaster-alltableclass .table-responsive table {
    margin-bottom: 0;
}
    .wmaster-alltableclass .table-responsive table tr td, .wmaster-alltableclass .table-responsive table tr th {
    padding: 8px 5px;
}
    .dropdown-menu {
        margin-top:75px !important;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;padding:0 25px;">
                <div class="card">
                    <div class="wmaster-dashboardclass">
                        <ul>
                            <li class="smli">
                                <a href="@Url.Action("Dashboard","Home")" class="tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);text-decoration:none;">
                                    Dashboard&nbsp;<img src="/ashok-images/rightaeps.svg" alt="right-arrow" style="width: 12px; margin-top: -2px;">
                                </a>
                            </li>

                            <li class="fullbodydycolorbg tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);">
                                My Credit
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-md-2" style="padding: 0px;float: right;width:30%;">
                        @using (Html.BeginForm("MasterLedger", "Home", FormMethod.Post))
                        {

                            <div class="col-md-5" style="padding: 0px;width:auto;float:right;">
                                <center>
                                    <button type="submit" class="btn bg-grey waves-effect" style=" background: transparent !important;border: 1px solid #ddd !important;height:34px;">
                                        <i class="fa fa-search" style="top:1px;font-size:16px;color:#555;"></i>
                                        <span style="top:0px;color:#555;">Search</span>
                                    </button>
                                </center>
                            </div>
                            <div class="col-md-7 jjp" style="padding: 0px;float:right;width:40%;padding-right:8px;">
                                <div class="input-daterange input-group" style="position:relative;">
                                    <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                        <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                    </div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; width:100% !important;margin-top:0px;height:34px;" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="body wmaster-alltableclass" style="margin-top:0px;padding:0px;width:100%;float:left;margin-top:25px;">
                        <div class="table-responsive" style="position:inherit;overflow:hidden;">
                            <table class="table table-bordered table-striped table-hover " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR.NO</th>
                                        <th>Master&nbsp;Information</th>
                                        <th>Last&nbsp;Transaction&nbsp;Date</th>
                                        <th>Last&nbsp;Transaction&nbsp;Type</th>
                                        <th>Live&nbsp;Balance</th>
                                        <th>Current&nbsp;Outstanding</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @if (item.FarmName == null)
                                                {
                                                    @item.SuperstokistName
                                                }
                                                else
                                                {
                                                    @item.FarmName
                                                }
                                            </td>
                                            <td>@item.RechargeDate</td>
                                            <td>@item.bal_type</td>
                                            <td>@item.remainsuperafter</td>
                                            <td>@item.cr</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>



<script type="text/javascript">
    $(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>