@model Vastwebmulti.Areas.ADMIN.Models.TDSReportModel
@{
    ViewBag.Title = "TDSReport";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
        height: 20px;
    }
</style>
<section class="content">
    <div class="container-fluid">  
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8">
                            <p style="font-size:20px;margin-top:5px;color:#9e9e9e;font-weight:700;margin-left:5px;">TDS&nbsp;Report&nbsp;For&nbsp;Month&nbsp;:-&nbsp;@ViewBag.Crmonth</p>
                        </div>
                        <div class="col-md-4">
                            @using (Html.BeginForm("TDSReport", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-xs-4">

                                        <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: 3px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.CurrentMonthName'>
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">@ViewBag.CurrentMonthName</span>
                                        </button>
                                        <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: -10px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth1'>
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">@ViewBag.OldMonth1</span>
                                        </button>
                                        <button id="submit" type="submit" class="btn  waves-effect" style="margin-top: 6px; margin-left: -30px; height:32px;border:1px solid #c7c2c2;background:#dedddd;" name="submit" value='@ViewBag.OldMonth2'>
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">@ViewBag.OldMonth2</span>
                                        </button>
                                    </div>
                                   
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                    <div class="card">
                  
                        <div class="body" style="padding:0px;">
                            <div class="table-responsive" style="position:inherit;margin-top:0px;overflow: hidden;">
                                <table class="table table-bordered table-striped table-hover dataTable " style="width:100%; font-size:12px;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Idno</th>
                                            <th>Role</th>
                                            <th>FarmName</th>
                                            <th>Name</th>
                                            <th>DMT&nbsp;TDS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var i = 1;
                                        }
                                        @if (Model.TDSMaster != null)
                                        {
                                            foreach (var item in Model.TDSMaster)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.Role</td>
                                                    <td>@item.FarmName</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.TDS</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                    <tfoot  style="background-color:whitesmoke;">
                                        @if (Model.TDSMaster != null)
                                        {
                                            <tr>
                                                <td style="font-size:18px;">Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p style="font-size:18px;margin-left:-10px;">@Model.TDSMaster.Sum(a => a.TDS)</p></td>
                                            </tr>
                                        }
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
      
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->

<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

        answers();
    });
</script>
<script type="text/javascript">
    function answers() {
        var e = document.getElementById("ddlusers");
        var answer = e.options[e.selectedIndex].value;
        if (answer == "Dealer") {
             document.getElementById("dlm").style.display = "block";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Master") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "none";

        }
        else if (answer == "Retailer") {
            document.getElementById("dlm").style.display = "none";
            document.getElementById("rem").style.display = "block";

          }

    }
</script>



