@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "WebFailedLogin";
    Layout = "~/Areas/WMASTER/Views/Shared/_Layout.cshtml";
}
    <style>
    .dropdown-menu {
        margin-top:75px !important;z-index:99;
    }
    .wmasterweblogin a::after {
        content: "";display: block;width: 20px;height: 20px;float: left;border-radius: 50%;
        background:url('../../../../ashok-images/down-arrowweb.svg')no-repeat;
        background-size:contain;background-color:@PageData["Globalfirst"];background-size: 12px;background-position: center;
        transform: rotate(-180deg);transition: .4s linear;
    }
    .wmasterweblogin .activebuttonweb::after, .wmasterweblogin a:hover::after {
        background: url('../../../../ashok-images/correct.svg')no-repeat;
        transform: none;transition: .4s linear;background-size:12px;background-color: @PageData["GlobalSecond"];
        background-position:center;
        background-position-x:3px;
    }
    .wmasterweblogin a:hover{background-color:@PageData["Globalfirst"] !important;}
    .wmasterweblogin a:hover span{color:#fff !important;}
    .wmasterweblogin a {
    height: auto !important;
    padding: 5px 7px;
}
    .wweblogin-date {
    float: right;
    width: 55%;
    padding: 0;
}
    .wweblogin-pdfbutton {
    float: right;
    width: 25%;
}
    .wweblogin-search {
    width: 20%;
    float: right;
}  
    .wmaster-tabledata-all table, .wmaster-tabledata-all table tr, .wmaster-tabledata-all table tr th, .wmaster-tabledata-all table tr td {
    border-color: #ddd !important;
    border: 1px solid;
}
    .wmaster-tabledata-all table tr th, .wmaster-tabledata-all table tr td {
    padding: 8px 5px;
}
    .wmaster-weblogindate {
    padding-right: 0;
}
    .container-fluid.weblogin-wmasterfirstclass {
    padding-left: 25px;
}

    @@media screen and (max-width:767px){
        .wmaster-weblogindate {
    padding-left: 0;
}
        .wmaster-weblogindate {
    width: 100%;
    float: left;
    margin: 15px 0;
}
        .wmaster-tabledata-all .table-responsive {
    border: 0;padding-bottom:15px;z-index:9;position:relative !important;
}
        .container-fluid.weblogin-wmasterfirstclass {
    padding-left: 0;
}

    }

    @@media screen and (max-width:480px){
        .wweblogin-date {
    width:75%;
    float: left;
}
        .wweblogin-search {
    width: 40%;
    float: left;
}
        .wweblogin-pdfbutton {
    display:none;
}
        .wweblogin-date .form-iconmy {
    display: none;
}
        .wweblogin-search {
    width: 25%;
    float: right;
}
        .wweblogin-search button {
    padding-left: 0;
    padding-right: 0;
}
        .wweblogin-search button span ,.wweblogin-date input{
    font-size: 12px;
}
        .wweblogin-search button .fa.fa-search {
    font-size: 12px !important;
}
        .wmasterweblogin {
    padding-right: 0;
    width: 100%;
}
    }

    </style>
<section class="content">
    <div class="container-fluid weblogin-wmasterfirstclass">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-6 wmasterweblogin" style="width: auto; float: left;">

                        <a href="@Url.Action("WebLogin","Home")" id="btn" class="btn" style="margin-top:6px; margin-left:-13px; height:31px;border:1px solid #c7c2c2;background-color: @PageData["GlobalSecond"];">
                            <span style="top:0px;color:#fff;">Web Login History</span>
                        </a>
                        <a href="@Url.Action("WebLoginFailed","Home")" id="btn" class="btn activebuttonweb" style="margin-top:6px; margin-left:12px; height:31px;border:1px solid #c7c2c2;background: @PageData["Globalfirst"];" title="Go to Web Failed Login History">
                            <span style="top:0px;color:#fff;">App Login History</span>
                        </a>
                    </div>
                    <div class="col-md-6 wmaster-weblogindate">
                        @using (Html.BeginForm("WebLoginFailed", "Home", FormMethod.Post))
                        {

                            <div class="col-md-2 wweblogin-pdfbutton" style="padding: 0px;float: right;">

                                <div class="form-group">
                                    <div style="padding-top: 0px; float:right">

                                        <input type="button" id="btnExport" value="Excel" style="margin-left:0px;font-size: 14px;float: left; padding: 0px 4px;height:34px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/xls.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />
                                        <input type="button" id="btnPDF" value="PDF" style="margin-left:2px;font-size: 14px;float: left; padding: 0px 4px;height:34px;border:1px solid #b1a6a638;background:#b1a6a638;background-image: url(../../images/reportimage/pdf.png);background-repeat: no-repeat;background-position: 4px center;padding-left: 19px;" />

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-2 wweblogin-search" style="padding: 0px;padding-left:6px;">

                                <button type="submit" class="btn bg-grey waves-effect" style="border: 1px solid #ddd !important;background: transparent !important;width:100%;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:#555;"></i>
                                    <span style="top:-1px;color:#555;">Search</span>
                                </button>

                            </div>
                            <div class="col-md-4 wweblogin-date" style="margin: 0px;">
                                <div class="form-group jjp" style="margin-bottom: 0px;width:100%;float:left;">
                                    <div class="input-daterange input-group">
                                        <div class="wmasteralltwodate" style="padding-right:3px;">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                                <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                            </div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;", autocomplete = "off" })
                                        </div>
                                        <div class="wmasteralltwodate" style="padding-left:3px;">
                                            <div class="form-iconmy" style="top: 0px;left:4px;padding: 6px 5px;position:absolute;z-index:9;border-right: 1px solid #ddd;padding-top: 7px;">
                                                <i class="fa fa-calendar tmw-total-color-one" style="background-image: linear-gradient(to right , @PageData["Globalfirst"], @PageData["GlobalSecond"]);background-color: #fff;-webkit-background-clip: text !important;-moz-background-clip: text !important;-webkit-text-fill-color: transparent;"></i>
                                            </div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:0px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>



                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                <div class="card wmaster-tabledata-all">


                    <div class="body" style="margin-top:0px;padding:0px;">
                        <div class="table-responsive" style="position:inherit;margin-top:0px;">
                            <table id="example" class="table table-bordered " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                      
                                        <th>Login&nbsp;From</th>
                                      
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                     
                                        <th>Login&nbsp;Date&nbsp;Time&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                    <tr role="row" class="odd">
                                        <td><span style="">@item.LoginFrom</span></td>
                                 
                                        <td>@item.IP_Address</td>
                                        <td>@item.browser</td>
                                        <td>@item.LoginTime</td>
                                       
                                       
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

@*<script>
        $(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    'print'
                ]
            });
        });
    </script>*@

