@model  IEnumerable<Vastwebmulti.Models.Api_ip_address>
@{
    ViewBag.Title = "Generate_Token";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    @@media only screen and (max-width:766px) {
        .api-token-sett input {
            width: 100%;
        }
        .modal-dialog{width:100%;}
        .modal-dialog .col-md-4{margin-top:8px;}
        .api-token-sett button{float:right;margin-top:10px;}
        .col-lg-12.col-md-12.col-sm-12.col-xs-12 {
            padding-left: 0;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="api-token-sett">
                    <fieldset>
                        <legend>Add Response URL </legend>
                        @using (Html.BeginForm("AddUrl", "Home", FormMethod.Post))
                        {
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Enter Website URL</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 ">
                                    <input  id="apiurl" name="apiurl" placeholder="http://domainname/pagename" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 ">
                                    <button  type="submit" class="fullbodydycolorbg submitip">Generate</button>
                                </div>
                            </div>
                        }
                        </fieldset>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 style="font-size: 24px;">Response URl</h2>
                                <div class="table-responsive" style="margin-bottom:10px;">



                                    <table class="table table-bordered table-striped" style="background:#f5f5f5;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>SR No</th>
                                                <th>Response Url</th>
                                                <th><center>Edit</center></th>
                                                <th><center>Delete</center></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.responseurlchk != null)
                                            {
                                                var p = 1;
                                                foreach (var item in ViewBag.responseurlchk)
                                                {
                                                    <tr>
                                                        <td>@p</td>
                                                        <td>@item.responseurl</td>
                                                        <td>
                                                            <center>
                                                                <button class="btn btn default" id="btn1" data-toggle="modal" data-target="#exampleModal1" style="background-color:transparent; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;" onclick="editurl('@item.idno', '@item.responseurl')">
                                                                    Edit
                                                                </button>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
 
                                                                <button class="btn btn  default first-btn" id="btn1" style="background-color:transparent; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;">
                                                                    Delete
                                                                </button>
                                                                <button class="btn btn fullbodydycolorbg default second-btn" id="btn1" onclick="deleteurl('@item.idno')" style="background-color:transparent; border:none;border:1px solid #c7c2c2; padding:2px 11px 1px 11px;margin-top:2px;display:none;color:#fff;">
                                                                    Sure  ?
                                                                </button>
                                                            </center>
                                                        </td>
                                                    </tr>

                                                }
                                                p++;
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td><p style="font-size:22px;margin-top:-5px;text-align:center;color:#e0dddd;font-weight:700;">No Data Found !</p></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 style="font-size: 24px;">Response URL Parameter Details</h2>
                                <div class="table-responsive" style="margin-bottom:4px;">



                                    <table class="table table-bordered table-hover table-striped" style="background:#f5f5f5;">
                                        <thead style="background-color:whitesmoke;">
                                            <tr>
                                                <th>SR.No</th>
                                                <th>Parameter</th>
                                                <th>Parameter Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>rchid</td>
                                                <td>Api Recharge ID</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Status</td>
                                                <td>Success or Failed</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Operatorid</td>
                                                <td>Operator Transition ID</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>remainbal</td>
                                                <td>Api Remain Balance</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!--Edit Response Url Poupup-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="margin:0px;float:right;margin-top:63px;">
        <div class="modal-content">
            @using (Html.BeginForm("EditResponseUrl", "Home", FormMethod.Post))
            {
                <form class="form-horizontal" id="edit-form">
                   
                    <div class="modal-body" style="padding:5px;">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="txtid" name="txtid" style="display:none;" />

                                <div class="">
                                    <input type="text" class="form-control" id="editapiurl" name="editapiurl" placeholder="http://domainname/pagename" style="height: 32px;box-shadow: none;" required="">
                                </div>
                            </div>
                            <div class="col-md-4">
                               
                                    <button type="submit" class="btn  waves-effect" style=" height:32px;background:transparent;border:1px solid #ddd;">
                                        <span style="top:-2px;color:black;">Save Change</span>
                                    </button>
                                    <button type="button" class="btn  waves-effect" style="  height:32px;float:right;background:transparent;border:1px solid #ddd;padding: 0px;" data-dismiss="modal">
                                        <span style="top:-2px;color:black;font-size: 23px;margin-left: 0px;padding: 10px;">&#x2716;</span>
                                    </button>
                              
                            </div>

                            </div>
                        </div>
                  
                </form>
            }
        </div>
    </div>
</div>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>
    $(document).ready(function () {

        var success = '@ViewData["success"]';
        var error = '@ViewData["error"]';
        if (success != "" && success != null) {
            //swal("Good job!.", success, "success");
        }
        else if (error != "" && error != null) {
            swal("Oops..", error, "error");
        }
    });
</script>
<!--Generate Token -->
<script>
    function insertip()
    {

        var ipaddress = $('input[name=txtipaddress]').val();
        if (ipaddress != "" && ipaddress != null)
        {
        var CheckIP = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/;
        if (CheckIP.test(ipaddress)) {
            $.ajax(
            {
                url: '@Url.Action("insertipaddress", "Home")',
                type: 'POST',
                dataType: "html",
                data: { ipaddress: ipaddress },
                success: function (data) {
                    var response = JSON.parse(data);
                    if (response.Status) {
                        swal("Good job!", response.Message, "success");
                        var url = '@Url.Action("Generate_Token", "Home")'
                        window.location.href = url;
                     }
                    else {
                        swal("Oops...", response.Message, "error");
                    }
                },

                failure: function (jqXHR, textStatus, errorThrown) {
                    alert("HTTP Status: " + jqXHR.status + "; Error Text: " + jqXHR.responseText); // Display error message
                }
            });
        }
        else {
            swal("Oops...", "Your IP Address Is Not Valid.", "error");

        }
        }
        else {
            swal("Oops...", "Please Enter IP Address", "error");

        }
    }
</script>

<!--Copy Token-->

<script>
    function myFunction(p) {
        var copyText = document.getElementById(p);
       copyText.select();
     document.execCommand('copy');
         }
</script>
<!--Delete Ip Address-->
<script type="text/javascript">

    function deleteipaddress(e, ipaddress) {

      


    $.ajax({
        type: "POST", url: '@Url.Action("DeleteIpaddress", "Home")', data: { 'idno': e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
              
                var url = '@Url.Action("Generate_Token", "Home")';
                window.location.href = url;
            }
          
        }
    });


    }

</script>
<!--edit url -->
<!--Edit Response Url-->
<script>
    function editurl(idno, responseurl)
    {
        $("#txtid").val(idno);
        var n = responseurl.indexOf("?");
        var res = responseurl.substring(0, n);
        $("#editapiurl").val(res);
    }
</script>

<!--Delete Response Url-->
<script type="text/javascript">

    function deleteurl(e) {
       
        
    



    $.ajax({
        type: "POST", url: '@Url.Action("DeleteResponseurl", "Home")', data: { 'id': e }, dataType: 'json', cache: false, success: function (result) {
            if (result == "Success") {
               
                var url = '@Url.Action("Generate_Token", "Home")';
                window.location.href = url;
            }

        }
    });


    }

</script>
<script>
    $('.first-btn').click(function () {
        $(this).hide();
        $(this).next('.second-btn').show();
    })
</script>


