@model Vastwebmulti.Areas.RETAILER.Models.remmulti
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .datepicker-orient-bottom {
        top: 145px !important;
    }

    .pdfblocks {
        height: 40px !important;
        padding: 5px !important;
        right: 73px !important;
    }

        .pdfblocks span {
            color: white !important;
            padding: 5px 1px;
            font-weight: 600;
            font-size: 18px !important;
            height: 40px !important;
            width: 30% !important;
        }
    .selecttwo-full .select2.select2-container.select2-container--default {
        width: 100% !important;
        float: left;
    }

    @@media screen and (max-width:991px) {
        .rechargefirst {
            width: 34%;
            float: left;
        }

        .col-md-3.rechargesecond {
            width: 33%;
            float: left;
        }

            .col-md-3.rechargesecond .select2, .rechargefirst .select2 {
                width: 100% !important;
            }

        .col-md-2.rechargefiveclass {
            width: 33%;
            float: left;
        }

        .col-md-3.rechargethrees {
            width: 40%;
            float: left;
            margin-top: 4px
        }

        .col-md-2.rechargefive {
            width: 13%;
            float: left;
            margin-top: 4px
        }

        .rechargepdfexal {
            width: 41%;
            margin-top: 4px
        }

        .ls-closed section.content {
            margin-left: 0px;
        }
        .rechargefirst, .col-md-3.rechargesecond {
            width: 50%;
        }

        .col-md-2.rechargefiveclass {
            width: 100%;
            margin: 4px 0px;
            float: left;
        }

        .col-md-3.rechargethrees {
            width: 100%;
            margin-top: 0px;
        }

        .rechargepdfexal {
            width: 70%;
        }

        .col-md-2.rechargefive {
            width: 25%;
        }

    }


</style>

<section class="content">
    <div class="container-fluid retailer-page fundtranfer rechargefirstclass">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Recharge & Bill</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Recharge & Bill</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selecttwo-full">
                <div class="card" style="margin-top:2px;float: left;width: 100%;">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="">
                            <div class="col-md-2 rechargefirst">
                                <div class="form-group">
                                    <div class="" style="">
                                        @Html.DropDownList("ddl_status", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="ALL Status",Value="",},
                                new SelectListItem{Text="SUCCESS",Value="SUCCESS"},
                                new SelectListItem{Text="Pending",Value="PENDING"},
                                new SelectListItem{Text="FAILED",Value="FAILED"}
                                }, new { @class = "form-control", @style = "margin-top:0px; padding-left:0px; padding-right:0px;text-align:center;" })

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3 rechargesecond">
                                <div class="form-group">
                                    <div class="" style="">
                                        @Html.DropDownList("Operator", ViewBag.Operator as SelectList, "ALL OPERATORS", new { id = "Operator", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 rechargefiveclass">
                                <div class="form-group">
                                    <div class="" style="border: 1px solid #ccc;
">
                                        @Html.TextBox("txtmob", "", new { @class = "form-control", @placeholder = "Consumer Number", @style = "height:30px;" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 rechargethrees">
                                <div class="form-group" style="margin-bottom:0px;margin-top:1px;">
                                    <div class="input-daterange input-group">
                                        <div class="datesate datesates focused">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                        <span class="input-group-addon" style="display:none;">
                                            <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                        </span>
                                        <div class="datesate datesatese">
                                            <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-2 rechargefive">
                                <div class="form-group">
                                    <div class="form-line" style="border-bottom:none;margin-top:0px;">
                                        <center>
                                            <button value="LIVE" type="submit" class="btn" id="btntype" name="btntype" style="margin-top:1px; margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                                <i class="fa fa-search" style="top:-1px;font-size:13px;color:black;"></i>
                                                <span style="top:-1px;color:black;">Search</span>
                                            </button>

                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 rechargepdfexal">
                        <div style="float:right;">
                            <span><img src="~/ashok-images/pdf.png" /><input type="button" id="btnPDF" value="PDF" style="margin-left:2px; " /></span>
                            <span>
                                <img src="~/ashok-images/xls.png" /><input type="button" id="btnExport" value="Export" style="margin-left:2px;" />
                            </span>

                            <button onclick="findtotal()" class="btn" id="pdfblock" style=" margin-left:2px; height:32px;border:1px solid #c7c2c2;background:#dedddd;">
                                <span class="displaypdf" style="top:-1px;color:black;">TOTAL</span>
                                <strong class="pdfblocks" style="display:none;float:right; width:80% !important">
                                    <span id="successtotal" style="background-color:green !important;height: 25px !important;font-size: 18px !important"></span>
                                    <span id="Failedtotal" style="background-color:red !important;height: 25px !important;font-size: 18px !important"></span>
                                    <span id="Pendingtotal" style="background-color:orange !important;height: 25px !important;font-size: 18px !important"></span>
                                </strong>
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="body change-iconrech-report" style="padding:12px;padding-left: 0;padding-right: 0;padding-top: 15px;">
                        <div class="table-responsive recharge-responsive tableseconddes-master" style="position:inherit;margin-top:-10px;">
                            <table id="tbldata" class="table table-bordered table-striped table-hover" cellspacing="0" style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>#&nbsp;Category</th>
                                        <th>Consumer&nbsp;No</th>
                                        <th>Operator&nbsp;Name</th>


                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Opt&nbsp;Type</th>*@

                                        <th>Net&nbsp;Amt</th>
                                        <th>Debit</th>
                                        <th>Earn</th>
                                        <th>Remain</th>
                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Type</th>*@

                                        @*<th style="padding-left:2px; padding-right:2px;text-align:center;">Operator&nbsp;ID</th>*@
                                        <th>Request&nbsp;Date</th>
                                        <th>Resp&nbsp;Date</th>

                                        <th>Transition</th>
                                        <th>Refid</th>
                                        <th class="noExl">Action</th>

                                    </tr>
                                </thead>
                                <tbody id="trow">
                                    @{
                                        Html.RenderAction("_Rechargereport", "Home", new { Model = Model });
                                    }
                                </tbody>
                            </table>
                            <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                                <div class="loadertablecssnew">Loading...</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>

<script src="~/Swalalert/sweetalert-dev.js"></script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<link href="~/MainFrontDesign/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/MainFrontDesign/select2/dist/js/select2.full.min.js"></script>

<script>
    function confirm(e) {
        $('#disp-'+e).hide();
        $('#confirm-'+e).show();
        $('#close-'+e).show();
    }
    function cancel(e) {
          $('#disp-'+e).show();
        $('#confirm-'+e).hide();
        $('#close-'+e).hide();
    }
    function disputedata(e) {
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
        var txtmob = $('#txtmob').val();

             $.post("@Url.Action("dispute","Home")",
             {"id": e, "txtregion": ""},
                 function (data) {
                     $.post("@Url.Action("InfiniteScroll","Home")",
             { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob },
                    function (data) {
                        $("#trow").html(data.HTMLString);
                    });
           });

    }
</script>
<script>
    $('select').select2();
</script>
<script>
    var txt_frm_date = $('#txt_frm_date').val();
    var txt_to_date = $('#txt_to_date').val();
    var ddl_status = $('#ddl_status').val();
    var Operator = $('#Operator').val();
    var txtmob = $('#txtmob').val();
        var pageindex = 2;
        var NoMoredata = false;
        var inProgress = false;
    $(window).scroll(function () {
            if ($(window).scrollTop() > Number($("#tbldata").height()) / 4 && !NoMoredata && !inProgress) {
                inProgress = true;
                $("#loadingdiv").show();
                $.post("@Url.Action("InfiniteScroll","Home")",
             { "pageindex": pageindex, "txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob },
                    function (data) {
                        pageindex = pageindex + 1;
                        NoMoredata = data.NoMoredata;
                        $("#trow").append(data.HTMLString);
                        $("#loadingdiv").hide();
                        inProgress = false;
                    });
            }
        });
</script>
<script type="text/javascript">
    function GotoPDFRecharge(e) {
                       // alert(e)
                       var idno = e.toString();
                       var url = '@Url.Action("RechargePDF", "Home")?Idno=' + idno + '';
                       //window.location.href = url,;
                       window.open(url, '_blank');
                   }
</script>

<script>
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 45 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }
</script>
<script type="text/javascript">
    $(function () {

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

   });

</script>

<!--Dispute Id-->
<script>
    function findtotal() {
        
         var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
         var txtmob = $('#txtmob').val();
             $.post("@Url.Action("FindTotal", "Home")",
             {"txt_frm_date": txt_frm_date, "txt_to_date": txt_to_date,"ddl_status":ddl_status,"Operator":Operator,"txtmob":txtmob},
                 function (data) {
                     $('#successtotal').text(data.success);
                     $('#Failedtotal').text(data.failed);
                       $('#Pendingtotal').text(data.pending);
                    });
    }
</script>

<!--Genertae Invoice-->
<script type="text/javascript">
    function GenrateInvoice(ultra_request_id, RechargeTo, OptName, amt, OptID, Date) {
       var url = '@Url.Action("GotoInvoicePDF1", "Home")?Id=' + ultra_request_id + '&RechargeTo=' + RechargeTo + '&OptName=' + OptName + '&amt=' + amt + '&OptID=' + OptID + '&Date=' + Date + '';
            window.open(url, '_blank');
     }
</script>
<script>
    $("#btnExport").click(function(){
   var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
        var txtmob = $('#txtmob').val();
        var url = '@Url.Action("ExcelRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob;
        location.href = url;
});
</script>
<script>
    $("#btnPDF").click(function () {
     var txt_frm_date = $('#txt_frm_date').val();
         var txt_to_date = $('#txt_to_date').val();
         var ddl_status = $('#ddl_status').val();
         var Operator = $('#Operator').val();
        var txtmob = $('#txtmob').val();
        var url = '@Url.Action("PDFRechargereport","Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date + '&ddl_status=' + ddl_status + '&Operator=' + Operator + '&txtmob=' + txtmob;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>
<script>
    $(function () {
        var current = location.pathname;
        $('.report-list-change li a').each(function () {
            var $this = $(this);
            if ($this.attr('href').indexOf(current) !== -1) {
                $this.addClass('active');


            }
        })
    });
</script>
<script>
    $(function () {
        $("#pdfblock").click(function () {
            $(".pdfblocks").css("display", "block");

        });
    });
</script>
<script>
    $(function () {
        $(".rechargefirst span.select2-selection").click(function () {
            $(".select2-dropdown").addClass('selectcutomere');
        });
    });
</script>

<script>
    $(function () {
        $(".rechargesecond span.select2-selection").click(function () {
            $(".select2-dropdown").addClass('selectcutomeress');
        });
    });
</script>


<script>
    $(function () {
        $(".rechargethrees input").click(function () {
            $(".datepicker").addClass('datepickerrecharge');
        });
    });
</script>


