@model IEnumerable<Vastwebmulti.Models.Api_ip_address>
@{
    ViewBag.Title = "IPAddress";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="" style="margin-top:10px; padding-left:22px;">
                                <input id="but" type="button" value="Add New" href="#" data-toggle="modal" data-target="#Add_Address" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                        <div class="col-md-5" style="padding-top:10px;">
                            <span style="font-weight:bold; font-size:14px; color:#0092FC;">Your DMT Token Number is :</span> <span style="color:#F86903;font-weight:bold; font-size:14px;">@ViewData["Token"] </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-40px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;"></h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>IP&nbsp;Address</th>
                                        <th>Status </th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var gg = "";
                                        <tr>
                                            <td style="font-size:20px;">
                                                @Html.DisplayFor(modelItem => item.ipaddress, null, new { @style = "font-size:20px;" })
                                            </td>
                                            <td>
                                                @if (item.sts == "Y")
                                                {
                                                    gg = "APPROVED";
                                                    <label style="font-size:18px;">@gg </label>
                                                }
                                                else
                                                {
                                                    gg = "DISAPPROVED";
                                                    <label style="font-size:18px;">@gg </label>
                                                }
                                            </td>
                                            <td><button type="button" onclick="del('@item.idno')" style="background-color:transparent;border-color:transparent;"><i class="icofont icofont-ui-delete icofont-2x"> </i> </button> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--Add Response URL Popup-->
<div class="modal fade" id="Add_Address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("insertapiip", "Home", FormMethod.Post))
            {
                <form class="form-horizontal" id="edit-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Add IP ADDRESS</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">IP ADDRESS</label>
                            <div class="form-line">
                                <input type="text" class="form-control" id="apiip" name="apiip" placeholder="01.2.34.567" required="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Insert" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="Edit_Address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("edit_ipaddess", "Home", FormMethod.Post))
            {
                <form class="form-horizontal" id="edit-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Edit API ADDRESS</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="txtid" name="txtid" style="display:none;" />
                            <label for="recipient-name" class="control-label">Api Url</label>
                            <div class="form-line">
                                <input type="text" class="form-control" id="editapiurl" name="editapiurl" placeholder="http://sitedomainname/pagename" required="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
     function del(id) {
        var answer = confirm("ARE YOU SURE?")
        if (answer) {
            var url = '@Url.Action("deleteip", "Home")'
            $.ajax({
                url: url,
                data: { Id: id },
                cache: false,
                type: "GET",
                success: function (data) {
                    var url = '@Url.Action("IPAddress", "Home")';
                    window.location.href = url
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script>
    window.onload = function () {

        var succ = '@TempData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>
