@model IEnumerable<Vastwebmulti.Models.Retailer_Cr_Dr_Report_Result>
@{
    ViewBag.Title = "Ledger_Report";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-iconmy {
        padding: 6px 7px;
        top: 0px;
    }

    .rechargepdfexal {
        width: 100%;
        text-align: right;
    }

    @@media screen and (max-width:1366px) and (min-width:991px) {
        .input-daterange input {
            text-align: right;
        }
    }

    @@media screen and (max-width:991px){
        .col-md-7.apiheaderfull-responsive {
            padding: 0;
        }
        .col-md-2.api-export {
            padding-right: 0;
        }
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.api-ledger-table {
            padding: 0;
        }
        .col-md-1.apiladger-search-third {
            float: left !important;
            padding: 0 !important;
        }
    }

    @@media only screen and (max-width:767px) {
        .ls-closed section.content {
            margin-left: 0px;
            padding: 0px 10px;
        }

        .api-ledger .col-md-7 {
            padding: 0px;
        }

        .api-ledger .col-md-1 {
            padding: 0px !important;
            width: 50%;
            margin: 5px 0px;
            float: left;
        }

            .api-ledger .col-md-1 button {
                width: 100%;
            }

        .api-ledger .api-export {
            width: 50%;
            float: left;
            margin: 5px 0px;
            padding: 0px;
        }

        .api-ledger-table {
            padding: 0px;
        }

        .apiladger-search-third {
            padding: 0px !important;
            width: auto !important;
            float: left;
            margin: 8px 0px;
        }

        .api-export {
            float: right !important;
            width: auto !important;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>API User Ledger Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Ledger Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:10px;">
                    <div class="row api-ledger">
                        <div class="col-md-7 apiheaderfull-responsive" style="width:auto;float:left;">
                            <div class="bread-same-all-page breadsameall-second">
                                <ul class="">
                                    <li class="smli">
                                        <a href="@Url.Action("Dashboard", "Home")" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="~/ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>
                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                         Ledger Report
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-md-2 api-export" style="width:auto;float:right;">
                            <div class="rechargepdfexal" style="float:right;">
                                <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                <span>
                                    <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                </span>
                            </div>
                        </div>
                        @using (Html.BeginForm("Ledger_Report", "Home", FormMethod.Post))
                        {
                            <div class="col-md-1 apiladger-search-third" style="padding:0px 5px;float:right;">

                                <button type="submit" class="btn  waves-effect" style=" height:32px;background:transparent;border:1px solid #ddd;width:100%;">
                                    <i class="fa fa-search" style="top:1px;font-size:16px;color:black;"></i>
                                    <span style="top:0px;color:black;">Search</span>
                                </button>

                            </div>

                            <div class="col-md-1.5 rechargethrees api-allpage-date" style="float:right;">
                                <div class="form-group" style="margin-bottom:0px;margin-top:0px;">
                                    <div class="input-daterange input-group">
                                        <div class="datesate datesates focused">
                                            <div class="form-iconmy" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                        <span class="input-group-addon" style="display:none;">
                                            <i class="fa fa-exchange" style="padding-top:8px;"></i>
                                        </span>
                                        <div class="datesate datesatese">
                                            <div class="form-iconmy form-iconmyss" id="iconmyssee" style="top: 0px;left: 1px;padding: 6px 5px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; margin-top:4px;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 api-ledger-table">
                <div class="card">
                    <div>
                        <div class="table-responsive tableseconddes-master" style="position: inherit;">
                            <table class="table table-bordered " style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Request&nbsp;Id</th>
                                        <th>Particular</th>
                                        <th>₹&nbsp;Amount</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                        <th>Balance</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.RequestId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Particulars)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.credit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.debit)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>

<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

               $('.input-daterange').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true

            });
            var val = '@ViewBag.chk';
            if (val != "post") {
                $("#txt_frm_date").datepicker("setDate", new Date());
                $("#txt_to_date").datepicker("setDate", new Date());
            }


        });
</script>



<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var url = '@Url.Action("ExcelLedger_Report", "Home")?txt_frm_date=' + txt_frm_date;

        location.href = url;
});
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var url = '@Url.Action("PDFLedger_Report", "Home")?txt_frm_date=' + txt_frm_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>



