@model IEnumerable<Vastwebmulti.Models.show_dispute_list_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
        th, td{padding:5px;}
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>SR</th>
                <th>Rch&nbsp;Number</th>
                <th>Operator Name</th>
                <th>Amount</th>
                <th>Recharge Date</th>
                <th>Dispute Reason</th>
                <th>Response</th>
                <th>Dispute Date</th>
                <th>Status</th>
                </tr>

</thead>

        <tbody>
            @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.rch_number)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.rch_amount)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.rch_time)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.dispute_region)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.comment)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.dis_time)</td>
                                        <td style="">@Html.DisplayFor(modelItem => item.sts)</td>
                                    </tr>
                                    i++;
                                }


        </tbody>
    </table>
</body>
</html>
