@model IEnumerable<Vastwebmulti.Models.gateway_report_Result>
@{
    ViewBag.Title = "PDFGatewayTRANSFER";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Retailer_Day_Book_Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-striped table-hover" style="width:100%;">
        <thead style="background-color:whitesmoke;">
            <tr>
                <th style="width:110px">Mode</th>
                <th>Mode&nbsp;Type</th>
                <th>Amount</th>
                <th>Charges</th>
                <th>Net&nbsp;Received</th>
                <th>Bank RRN</th>
                <th>Transaction&nbsp;Time</th>
                <th>Response&nbsp;Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var sts = item.status;
                var code = "";
                var bankrrn = item.errormsg;
                var color = "";
                var margin = "";
                var padding = "";
                var width = "20px";
                <tr>
                    <td>@item.mode</td>
                    <td>@item.PG_TYPE</td>
                    <td>@item.amount</td>
                    <td>@item.charge</td>
                    <td>@item.totalpay</td>
                    <td>@bankrrn</td>
                    <td>@item.f_date</td>
                    <td>@item.resptime</td>

                </tr>
            }
            @*<tr>
                    <td><img style="height:20px;width:20px;margin-right:3px;float:left; background-color:red;border-radius: 50%;padding: 3px;" src="../../ashok-images/closes.svg">&nbsp;Sanjay Choudhary</td>
                    <td>9166940603</td>
                    <td>5000</td>
                    <td>50</td>
                    <td>4950</td>
                    <td>18517104506</td>
                    <td>ljuyhggv</td>
                </tr>
                <tr>
                    <td> <img style="height:20px;width:20px; background-color:green;border-radius: 50%;padding: 3px;" src="../../ashok-images/correct.svg"> &nbsp;Sanjay Choudhary</td>
                    <td>9166940603</td>
                    <td>5000</td>
                    <td>50</td>
                    <td>4950</td>
                    <td>18517104506</td>
                    <td>ljuyhggv</td>
                </tr>*@
        </tbody>
    </table>
</body>
</html>

