@model IEnumerable<Vastwebmulti.Models.api_total_fund_recive_by_admin_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>
                <th>Admin&nbsp;Info</th>
                <th>Total&nbsp;Transfer</th>
                <th>Type</th>
                <th>Remain&nbsp;Pre</th>
                <th>Remain&nbsp;Post</th>
                <th>Current&nbsp;Credit</th>
                <th>Old&nbsp;Credit</th>
                <th>Net&nbsp;Amt</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr style="background:no-repeat;">
                    
                    <td>@item.email</td>
                      <td>@item.Name</td>
                      <td>@item.comment</td>
                    <td>@item.balance</td>
                    <td>@item.bal_type</td>
                    <td>@item.remianold</td>
                    <td>@item.remainamount</td>
                    <td>@item.cr</td>
                    <td>@item.oldcrbalance</td>
                    <td>@item.TotalFund</td>
                    <td>@item.date</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
