@model List<Vastwebmulti.Models.select_api_pur_order_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>Status</th>
                <th>OrderNo</th>
                <th>Request To</th>
                <th>Payment Mode</th>
                <th>Discription</th>
                <th>Total AMT</th>
                <th>Charge</th>
                <th>Net T/F</th>
                <th>Req.Date</th>
                <th>Resp.Date</th>
            </tr>

        </thead>

        <tbody>
            @if (Model != null && Model != null)
            {
                foreach (var item in Model)
                {
                    DateTime reqdate = Convert.ToDateTime(item.reqdate);
                    DateTime responsedate = Convert.ToDateTime(item.responsedate);
                    <tr>
                        <td>@item.sts.ToUpper() </td>
                        <td>@item.orderno&nbsp;</td>
                        <td><span> Admin </span></td>
                        <td>@item.paymode.ToUpper()</td>
                        <td>@item.details</td>
                        <td>@item.amount</td>
                        <td>@item.cashDepositCharge</td>
                        <td>@item.finalAmount</td>
                        <td>@reqdate.ToString("d-MMM-yyyy HH:mm:ss")</td>
                        @if (item.responsedate != null)
                        {
                            <td>@responsedate.ToString("d-MMM-yyyy HH:mm:ss")</td>
                        }
                        else
                        {
                            <td>@item.responsedate</td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
</body>
</html>
