@model IEnumerable<Vastwebmulti.Models.User_wise_comm_report_Result>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>Email-ID</th>
                <th>Name</th>
                <th>Frim&nbsp;Name</th>
                <th>Operator&nbsp;Name</th>
                <th>Income</th>
                <th>Total Success</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td><p style="font-size:13px;">@item.Email</p></td>
                    <td><p style="font-size:13px;">@item.RetailerName</p></td>
                    <td><p style="font-size:13px;">@item.Frm_Name</p></td>
                    <td><p style="font-size:13px;">@item.optnm</p></td>
                    <td><p style="font-size:13px;">@item.remincome</p></td>
                    <td><p style="font-size:13px;">@item.total</p></td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
