@model IEnumerable<Vastwebmulti.Models.Login_info>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF Security Report</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <thead style="background-color: whitesmoke; display:table-header-group;">
            <tr>

                <th>Sr.&nbsp;No.</th>
                <th>Registered&nbsp;User&nbsp;Id</th>
                <th>IP&nbsp;Address</th>
                <th>Browser</th>
                <th>Lattitude</th>
                <th>Longitude</th>
                <th>Region</th>
                <th>Country</th>
                <th>ISP</th>
                <th>Current&nbsp;Login&nbsp;Details</th>
            </tr>

        </thead>

        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    <td>@i</td>

                    <td>@item.UserId</td>
                    <td>@item.IP_Address</td>
                    <td>@item.browser</td>
                    <td>@item.Latitude</td>
                    <td>@item.Logitude</td>
                    <td>demy</td>
                    <td>demy</td>
                    <td>demy</td>
                    <td>@item.CurrentLoginTime</td>
                </tr>
                i++;
            }


        </tbody>
    </table>
</body>
</html>
