@model IEnumerable<Vastwebmulti.Models.api_total_fund_recive_by_admin_Result>
@{
    ViewBag.Title = "ReceiveFund_by_admin";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .btn-group, .btn-group-vertical {
        box-shadow: none;
    }

    .ppp {
        margin-top: -20px !important;
    }

    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        height: 29px;
    }

    .form-iconmy {
        top: 0px;
        padding: 6px 7px;
    }

    .rechargepdfexal {
        width: 100%;
        text-align: right;
    }
    .recivefund-api table tr td p {
        margin: 0px !important;
    }
    .recivefund-api table {
        background: #f5f5f5;
    }
    .recivefund-api table tr td button.btn{background:transparent !important;}

    @@media screen and (max-width:1366px) and (min-width:766px) {
        .input-daterange.input-group input {
            text-align: right;
        }
    }

    @@media screen and (max-width:991px) {
        .usrwise-pageheader {
            width: 100% !important;
            float: left;
        }

        .col-md-1, .rechargepdfexal {
            margin-top: 0px !important;
        }
    }

    @@media only screen and (max-width:766px) {
        .ls-closed section.content {
            margin-left: 0px;
            padding: 0px 10px;
        }

        .recieve-fund-api .col-md-6 {
            padding: 0px;
            margin-bottom: 5px;
        }

        .recieve-fund-api .col-md-3 .form-group {
            margin-bottom: 5px;
        }

        .recieve-fund-api .col-md-1 {
            padding: 0px !important;
            width: auto;
            float: left;
        }

        .recieve-fund-api .col-md-2 {
            width: 50%;
            float: left;
            padding: 0px;
        }

        .recieve-fund-api .col-md-1 button {
            width: 98%;
        }

        .receive-fund-table {
            padding: 0px;
            margin-top: 10px;
        }
        .col-md-1 {
            width: auto;
            float: left !important;
            padding-left: 0px !important;
        }

        .bread-same-all-page.breadsameall-second ul {
            margin-bottom: 0;
        }

        .col-md-3 {
            width: 100%;
            float: left;
        }
        .col-md-3 {
            margin-top: 4px;
        }

    }

</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Api-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Fund Receive From Admin History</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                @*<li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>*@
                <li><a href="javascript:void(0);">Fund Receive</a></li>
            </ul>
        </div>
        <!--Four-Design-Api-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:0px;">
                    @using (Html.BeginForm("ReceiveFund_by_admin", "Home", FormMethod.Post))
                    {
                    <div class="row recieve-fund-api">
                        <div class="col-md-6 usrwise-pageheader" style="width:auto;float:left;">
                            <div class="bread-same-all-page breadsameall-second" style="width:100%;float:left;">
                                <ul class="">
                                    <li class="smli">
                                        <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                            Dashboard&nbsp;<img src="../../ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                        </a>
                                    </li>
                                    <li class="fullbodydycolorbg tmw-total-color-one">
                                        Fund Receive History
                                    </li>
                                </ul>
                            </div>



                        </div>
                        <div class="col-md-2" style="width:auto !important;float:right !important;">
                            <div class="rechargepdfexal" style="float:right;">
                                <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                <span>
                                    <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                </span>
                            </div>
                        </div>

                        <div class="col-md-1" style="padding:0px 5px;float:right;">

                            <button type="submit" class="btn  waves-effect" style=" height:32px;background:transparent;border:1px solid #ddd;">
                                <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                <span style="top:-2px;color:black;">Search</span>
                            </button>

                        </div>

                        <div class="col-md-3" style="padding:0px;float:right;">
                            <div class="form-group">
                                <div class="input-daterange input-group">
                                    <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></div>
                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px; ", autocomplete = "off" })
                                    <span class="input-group-addon" style="padding:0px;min-width:5px;">

                                    </span>
                                    <div style="position:relative;width:100%;float:left;">
                                        <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i></div>
                                        @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px; ", autocomplete = "off" })
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>

                        
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix recivefund-api">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 receive-fund-table">
                <div class="card">

                    <div class="table-responsive tableseconddes-master" style="position:inherit;">
                        <table class="table table-bordered table-striped table-hover  " style="width:100%;">
                            <thead style="background-color:whitesmoke;">
                                <tr>
                                    <th>Admin&nbsp;Info</th>
                                    <th>Total&nbsp;Transfer</th>
                                    <th>Type</th>
                                    <th>Remain&nbsp;Pre</th>
                                    <th>Remain&nbsp;Post</th>
                                    <th>Current&nbsp;Credit</th>
                                    <th>Old&nbsp;Credit</th>
                                    <th>Net&nbsp;Amt</th>
                                    <th>Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr style="background:no-repeat;">
                                        <td>
                                            <div class="btn-group" role="group">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Click to All information">
                                                        @item.email
                                                    </button>
                                                    <ul class="dropdown-menu ppp">
                                                        <li>
                                                            <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                @item.Name
                                                                <p style="font-size: 11px;">Name</p>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="javascript:void(0);" class="waves-effect waves-block" style="border-bottom:1px solid #f1efef;line-height:11px;">
                                                                @item.comment
                                                                <p style="font-size: 11px;">Comment</p>
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>

                                        </td>
                                        <td><p>@item.balance</p></td>
                                        <td><p>@item.bal_type</p></td>
                                        <td><p>@item.remianold</p></td>
                                        <td><p>@item.remainamount</p></td>
                                        <td><p>@item.cr</p></td>
                                        <td><p>@item.oldcrbalance</p></td>
                                        <td><p>@item.TotalFund</p></td>
                                        <td><p>@item.date</p></td>

                                    </tr>
                                }
                            </tbody>
                            @*<tfoot style="background-color:whitesmoke;">
                                    <tr>
                                        <td>Total</td>
                                        <td>@Model.Sum(m => m.balance)</td>
                                        <td></td>
                                        <td>@Model.Sum(m => m.remianold)</td>
                                        <td>@Model.Sum(m => m.remainamount)</td>
                                        <td>@Model.Sum(m => m.cr)</td>
                                        <td>@Model.Sum(m => m.oldcrbalance)</td>
                                        <td>@Model.Sum(m => m.TotalFund)</td>
                                        <td></td>

                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">
</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />

<script>

    $(function()
    {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("ExcelReceiveFund_by_admin", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;

        location.href = url;
});
</script>


<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("PDFReceiveFund_by_admin", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>