@model IEnumerable<Vastwebmulti.Models.Operator_Code>
@{
    ViewBag.Title = "Recharge_Url";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
    
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
              <div class="card">
                  <div class="">
                      <div class="col-md-12">
                        @Html.Partial("_Apimenupartial")
                    
                    </div>
                  </div>
                
                    <h4 style="padding-left:22px; padding-top:10px;">Recharge URL :- </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="padding-left:22px;">For PrePaid,DTH,PostPaid:- </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                <p style="color:blue; padding-left:22px;">http://PayNowRecharge.in/Recharge_req.aspx?uid=userid&pass=password&mno=mobilenumber&op=operatorcode&amt=amount&refid=yourrecharge ID&format=xml/json/txt</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="padding-left:22px;">For Electricity,Gas:-  </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                <p style="color:blue; padding-left:22px;">http://PayNowRecharge.in/Recharge_req.aspx?uid=userid&pass=password&mno=mobilenumber&op=operatorcode&amt=amount&refid=yourrecharge ID&format=xml/json/txt&ProcessingCycle=ProcessingCycle&billunit=billunit" </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="padding-left:22px;">For LandLine:-  </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                <p style="color:blue; padding-left:22px;">http://PayNowRecharge.in/Recharge_req.aspx?uid=userid&pass=password&mno=mobilenumber&op=operatorcode&amt=amount&refid=yourrechargeID&format=xml/json/txt&accountno=AccountNo&Landlinetype=LandLineType                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <h4 style="padding-left:22px; padding-top:10px;">Recharge ParaMeter :- </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="padding-left:22px;">For Land Line :-</h4>
                        </div>
                    </div>
                    <div class="body" style="margin-top:-20px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered table-striped   ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Oprator&nbsp;Name</th>
                                        <th>Type </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>MTNL Delhi </td>
                                        <td>
                                            mobilenumber -> NUMBER (8 digits) AND
                                            AccountNo -> (10 digits)
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>BSNL Landline </td>
                                        <td>
                                            mobilenumber with STD code but without starting 0 -> NUMBER (1-10 Digits), <br />
                                            Account Number -> ACCOUNT (10 digits),<br />
                                            LandLineType -> LLI or LLC (LLI – Landline Individual / LLC – Landline Corporate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Airtel Landline  </td>
                                        <td>
                                            mobilenumber -> NUMBER (11 digits along with STD Code)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="padding-left:22px;">For Electricity :-</h4>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="body" style="margin-top:-20px;">
                            <div class="table-responsive " style="position:inherit;">
                                <table class="table table-bordered table-striped   ">
                                    <thead class="navbar" style="color:white;position:inherit;">
                                        <tr>
                                            <th>Oprator&nbsp;Name</th>
                                            <th>Type </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Reliance Energy (Mumbai) </td>
                                            <td>
                                                Mobilenumber -> NUMBER (9 digits) <br />
                                                ProcessingCycle -> ACCOUNT (2 digits)
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>BSES Rajdhani </td>
                                            <td>Mobilenumber -> NUMBER (9 digits) </td>
                                        </tr>
                                        <tr>
                                            <td>Brihan Mumbai Electric Supply and Transport Undertaking </td>
                                            <td>Mobilenumber -> NUMBER (10 Digits) </td>
                                        </tr>
                                        <tr>
                                            <td>Rajasthan Vidyut Vitran Nigam Limited </td>
                                            <td>Mobilenumber -> NUMBER (12 digits start with 2 or 3) </td>
                                        </tr>
                                        <tr>
                                            <td>Madhya Pradesh Madhya Kshetra Vidyut Vitaran Company Limited - Bhopal </td>
                                            <td>Mobilenumber -> NUMBER (10 Digits) </td>
                                        </tr>
                                        <tr>
                                            <td>Noida Power Company Limited </td>
                                            <td>Mobilenumber -> NUMBER (10 Digits)</td>
                                        </tr>
                                        <tr>
                                            <td>Chhattisgarh State Electricity Board </td>
                                            <td>Mobilenumber -> NUMBER (10 Digits)</td>
                                        </tr>
                                        <tr>
                                            <td>India Power Corporation Limited </td>
                                            <td>Mobilenumber -> NUMBER (5-13 Digits + Characters)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="body" style="margin-top:-20px;">
                                <div class="table-responsive " style="position:inherit;">
                                    <table class="table table-bordered table-striped   ">
                                        <thead class="navbar" style="color:white;position:inherit;">
                                            <tr>
                                                <th>Oprator&nbsp;Name</th>
                                                <th>Type </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BSES Yamuna  </td>
                                                <td>
                                                    mobilenumber ->  NUMBER (9 digits)
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>North Delhi Power Limited  </td>
                                                <td>
                                                    mobilenumber ->  NUMBER (11-12 digits)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>MSEDC Limited </td>
                                                <td>
                                                    Mobilenumber -> NUMBER (12 Digits)<br />
                                                    billunit -> ACCOUNT (4 digits)<br />
                                                    ProcessingCycle -> Authenticator3 (2 digits)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Torrent Power </td>
                                                <td>
                                                    Mobilenumber -> NUMBER (1-15 digits)<br />
                                                    billunit -> ACCOUNT (1-30 characters)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bangalore Electricity Supply Company </td>
                                                <td>
                                                    Mobilenumber -> NUMBER (10 Digits)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Madhya Pradesh Paschim Kshetra Vidyut Vitaran Indor </td>
                                                <td>
                                                    Mobilenumber -> NUMBER (10 Digits)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Calcutta Electricity Supply Ltd </td>
                                                <td>
                                                    Mobilenumber ->  NUMBER (11 Digits)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Jamshedpur Utilities and Services Company Limited </td>
                                                <td>
                                                    Mobilenumber ->  NUMBER (6-10 Digits)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <h4 style="padding-left:22px; padding-top:10px;">For Gas :- </h4>
                    <div class="body" style="margin-top:-20px;">
                        <div class="table-responsive " style="position:inherit;">
                            <table class="table table-bordered table-striped   ">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Oprator&nbsp;Name</th>
                                        <th>Type </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Mahanagar Gas Limited
                                        </td>
                                        <td>
                                            Mobilenumber -> NUMBER (12 DIGITS START WITH 21)  <br />
                                            billunit -> ACCOUNT(1 - 8 DIGITS)
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            IGL (Indraprast Gas Limited)
                                        </td>
                                        <td>
                                            Mobilenumber ->  NUMBER (10 DIGITS)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Gujarat Gas company Limited
                                        </td>
                                        <td>
                                            Mobilenumber ->  NUMBER (1-15 Digits)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            ADANI GAS
                                        </td>
                                        <td>
                                            Mobilenumber ->  NUMBER (10 Digits)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <h4 style="padding-left:22px; padding-top:10px;">Get Bill :- </h4>
                   <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                @Html.Label("cc", "http://PayNowRecharge.in/ViewBill.aspx?billno=Bill Number&optcode=Operator Code&ProcessingCycle=Processing Cycle&billunit=Bill Unit",new { @style = "color:blue; padding-left:22px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <h4 style="padding-left:22px; padding-top:10px;">Check Balance Url :- </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                @Html.Label("cc", "http://PayNowRecharge.in/balchk.aspx?uid=Apiid", new { @style = "color:blue; padding-left:22px;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                          <h4 style="padding-left:22px;">Recharge Response :- </h4>
                            <div class="body" style="margin-top:-20px;">
                                <div class="table-responsive " style="position:inherit;">
                                    <table class="table table-bordered table-striped">
                                        <thead class="navbar" style="color:white;position:inherit;">
                                            <tr>
                                                <th>  XML Format Response    </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr> <td> @Html.Label("1", "<nodedata>", new { Style = "color:red" }) </td> </tr>
                                            <tr> <td> @Html.Label("1", "<NODE>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<status> PROCESS OR FAILED</status>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<Mobile>Recharge number</Mobile>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<Amount>Amount</Amount>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<operator>Operator code</operator>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<RID>Recharge Id </RID>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<Operatorid>Operator ID </Operatorid>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<reason> Reason </reason>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "<remainamount>Your Remain Amount </remainamount>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "</NODE>", new { Style = "color:red" }) </td>  </tr>
                                            <tr> <td> @Html.Label("1", "</nodedata>", new { Style = "color:red" }) </td>  </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                                    <div class="card">
                                        <h4 style="padding-left:22px; padding-top:10px;">JSON Format Response :- </h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive " style="position:inherit; padding-left: 22px; color: blue;">
                                                    {"status":"PROCESS OR FAILED","Mobile":"Recharge number","Amount":"Amount","operator":"Operator code","RID":"Recharge Id ","Operatorid":"Operator ID","reason":"Reason ","remainamount":"Your Remain Amount "}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                                    <div class="card">
                                        <h4 style="padding-left:22px; padding-top:10px;">TEXT Format Response :- </h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive " style="position:inherit;  padding-left: 22px; color: blue;">
                                                    status : PROCESS OR FAILED,Mobile : Recharge number,Amount : Amount,operator : Operator code,RID : Recharge Id ,Operatorid : Operator ID,reason : Reason ,remainamount : Your Remain Amount
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 style="padding-left:22px;">Operator Code :- </h4>
                            <div class="body" style="margin-top:-20px;">
                                <div class="table-responsive " style="position:inherit;">
                                    <table class="table table-bordered table-striped">
                                        <thead class="navbar" style="color:white;position:inherit;">
                                            <tr>
                                                <th>Operator Name</th>
                                                <th>Operator Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.operator_Name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.new_opt_code)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

