@model IEnumerable<Vastwebmulti.Models.API_select_apiupdateurl_Result>
@{
    ViewBag.Title = "Response_Url";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top:2px;">
                        <div class="row">
                            <div class="col-md-2">
                                    <div class="" style="margin-top:10px; padding-left:22px;">
                                        <input id="but" type="button" value="Add New" href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary" />
                                    </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-5" style="padding-top:10px;">
                                <span style="font-weight:bold; font-size:14px; color:#0092FC;">Your DMT Token Number is :</span> <span style="color:#F86903;font-weight:bold; font-size:14px;">@ViewData["Token"] </span>
                            </div>
                            <div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-40px;">
                <div class="card">
                    <div class="">
                        <h2 style="color:black; font-size:16px;padding-top:9px; padding-left:22px;"></h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="position:inherit;margin-top:-20px;">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable " style="width:100%;">
                                <thead class="navbar" style="color:white;position:inherit;">
                                    <tr>
                                        <th>Update&nbsp;Url</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.Updateurl)</td>
                                            <td>
                                                <span id="but" onclick="animation('@item.id','@item.Updateurl')" value="Edit" href="#" data-toggle="modal" data-target="#exampleModal1"><i class="fa fa-edit" style="font-size:27px; color:#f30850;"></i></span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:-15px;">
                <div class="card">
                    <h4 style="padding-left:22px; padding-top:10px;">Response :- </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="padding-left:22px;">For Success :- </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                <p style="color:blue; padding-left:22px;">http://YourUrl/YourPage?txid=Operator Id&rchNo=Recharge Number&amt=Amount&prvdr=Operator Code&transtype=SUCCESS&bal=Remain Balance&rid=yourrecharge ID
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 style="padding-left:22px;">For Failed :-  </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive " style="position:inherit;">
                                <p style="color:blue; padding-left:22px;">http://YourUrl/YourPage?txid=Operator Id&rchNo=Recharge Number&amt=Amount&prvdr=Operator Code&transtype=FAILED&bal=Remain Balance&rid=yourrecharge ID
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Add Response URL Popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Response_Url", "Home", FormMethod.Post))
            {
                <form class="form-horizontal" id="edit-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Add Update Page</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Update Url</label>
                            <div class="form-line">
                                <input type="text" class="form-control" id="apiurl" name="apiurl" placeholder="http://domainname/pagename" required="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Insert" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Edit_ResponseUrl", "Home", FormMethod.Post))
            {
                <form class="form-horizontal" id="edit-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Edit Update Page</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input id="txtid" name="txtid" style="display:none;" />
                            <label for="recipient-name" class="control-label">Api Url</label>
                            <div class="form-line">
                                <input type="text" class="form-control" id="editapiurl" name="editapiurl" placeholder="http://sitedomainname/pagename" required="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>


<script>
    function animation(idno,responseurl)
    {
        $("#txtid").val(idno);
        var n = responseurl.indexOf("?");
        var res = responseurl.substring(0, n);
        $("#editapiurl").val(res);
    }
</script>
<script>
    window.onload = function () {

        var succ = '@TempData["success"]';

        if (succ != null && succ != "") {
            if (succ.includes("Successfully")) {
                swal("Good job!", succ, "success");
            }
            else {
                swal("Oops!", succ, "error");
            }
        }
    }
</script>