@model List<Vastwebmulti.Models.select_api_pur_order_Result>
@{
    ViewBag.Title = "SendPurchaseOrder";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<style>

    .sendpurchase-api .col-md-4 {
        padding-left: 0;
    }

    .sendpurchase-api .sendpurchase-date {
        width: 100%;
        float: left;
        background: #fff;
        border: 1px solid #555;
        position: relative;
    }

        .sendpurchase-api .sendpurchase-date input {
            border: 0;
        }

        .sendpurchase-api .sendpurchase-date input {
            border: 0;
            text-align: center;
            padding: 5px 0;
        }

    .sendpurchase-api .col-md-4 {
        padding-left: 0;
        margin-bottom: 5px;
    }

        .sendpurchase-api .col-md-4 .custom-date-icon {
            border-color: #555;
        }

    .sendpurchase-api .col-md-2 {
        width: auto;
        float: left;
        padding: 0;
    }

        .sendpurchase-api .col-md-2 button {
            background: #fff;
            color: #555;
            border: 1px solid #555;
            padding: 5px 18px;
        }

    .sendpurchase-api .col-md-4 .custom-date-icon {
        border-left: 0px;
        border-top: 0px;
        border-bottom: 0px;
    }

    .sendpurchase-api .sendpurchase-date input {
        width: 100% !important;
        float: left;
    }
    .master-four-design .old-crd.old-crd-showoption span {
        color: #fff;
    }
    .dealer-four-design section.content {
        float:left;
    }

    .api-fundtrans table tr td, .api-fundtrans table tr th {
        white-space: nowrap;
    }

    @@media screen and (max-width:766px) {
        .fund-t-dalear.sendpurchase-api .col-md-4 {
            width: 50%;
            float: left;
        }

        .fund-trasfer-right.fund-user-right ul li {
            width: 100% !important;
            float: left;
        }

        .sendpurchase-api .col-md-2 {
            margin-bottom: 5px;
        }

        .col-md-8, .col-md-4 {
            width: 100%;
            float: left;
            margin-bottom: 20px;
        }
        section.content{width:100%;float:left;}

        .sendpurchase-apiclass {
            position: absolute !important;
            float: right;
            width: auto !important;
            right: 0;
            bottom: 5px;
        }

        .fund-trasfer-right.fund-user-right ul {
            position: relative;
        }

        .fund-transfer-form {
            height: auto !important;
        }
    }
</style>

<section class="content">
    

    <div class="col-md-12">
        <div class="bread-same-all-page breadsameall-second" style="width:100%;float:left;">
            <ul class="">
                <li class="smli">
                    <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                        Dashboard&nbsp;<img src="../../ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                    </a>
                </li>
                <li class="fullbodydycolorbg tmw-total-color-one">
                    Purchase Order
                </li>
            </ul>
        </div>

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Send Purchase Order</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Purchase Order</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-4">
                <div class="fund-trasfer-left fund-user-left">
                    <ul class="nav nav-tabs tabtypeschages tabtypeschages-fullpage" id="tabs">
                        @*<li class="tab-link current active tabChangeType" data-tabname="ReatilertoRetailer" data-href="@Url.Action("MDTODealer","Home",new { tabtype="ReatilertoRetailer"})" data-tab="tab-1"><a data-toggle="tab" href="#home" aria-expanded="true">Retailer<sup style="top: -5px;left: 2px;">2</sup>&nbsp;&nbsp;Reatiler</a></li>*@
                        <li id="firstontyimetabe" class="tab-link tabChangeType current active" data-tabname="Purchase_ORDER" data-href="@Url.Action("MDTODealer","Home",new { tabtype="Purchase_ORDER"})" data-tab="tab-1" style="width:100% !important;"><a data-toggle="tab" href="#menu1" aria-expanded="false">Purchase Rerquest &nbsp;&nbsp; &nbsp;</a></li>
                        @*<li class="tab-link tabChangeType" data-tabname="FundTranferAllReport" data-href="@Url.Action("MDTODealer","Home",new { tabtype="FundTranferAllReport"})" data-tab="tab-1"><a href="#" data-toggle="tab">Fund&nbsp;Recive&nbsp;Reports&nbsp;</a></li>*@


                    </ul>

                    <div class="width100 float-left ">


                        <div id="menu1" class="width100 float-left tab-pane fade active in">

                            <div class="fund-transfer-form textarea-classadd dealer-box-back-four" id="frmdata1">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div>

                                        <div class="old-crd old-crd-showoption fullbodydycolorbg" style="border:0px; position: absolute;top: 0;color: #fff !important;display:block;"><span>My Old Cr</span>= @Convert.ToDecimal(ViewData["oldcredit"] ?? 0.00) </div>
                                    </div>
                                </div>

                                <div class="w-100 float-left tab-menur tab-menubaar-responsive">
                                    @*<ul class="w-100 float-left">
                                        <li><a href="#" data-oldcr="@Url.Action("R_Creditchk","Home",new {MID="Distributor" })" data-usertype="Distributor" class="chkoldcredit tab-ar  active-ar" data-id="tab1">Request&nbsp;To&#8658;&nbsp;Distributor</a></li>
                                        <li><a href="#" data-oldcr="@Url.Action("R_Creditchk","Home",new {MID="Admin" })" class="chkoldcredit tab-ar" data-usertype="Admin" data-id="tab2">Request&nbsp;To&nbsp;Admin</a></li>

                                    </ul>*@
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>
                                        Payment Mode
                                    </label>
                                    <div>

                                        <div class="custom-district custom-district-retailercss">
                                            <select id="ddldealerPaymentMode" name="ddldealerPaymentMode" onchange="changemoded(this)">
                                                <option value="Cash">Cash</option>
                                                <option value="Branch / CMS Deposite">Branch / CMS Deposite</option>
                                                <option value="Online Transfer">Online Transfer</option>
                                                <option value="Wellets Transfer">Wellets Transfer</option>
                                                <option value="Credit">Credit</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dcollection-by ">
                                    <label>Collection By </label>
                                    <div>
                                        <input type="text" id="txtdlmretcollection" name="txtdlmretcollection" placeholder="Enter Collection Person" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dtransfer-type" style="display:none;">
                                    <label>Transfer Type </label>
                                    <div>
                                        <div class="custom-district">
                                            <select id="ddlAdmintransfertype" name="ddlAdmintransfertype">
                                                <option>Neft</option>
                                                <option>RTGS</option>
                                                <option>IMPS</option>
                                                <option>Same Bank</option>
                                                <option>UPI</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dbank-select" style="display:none;">
                                    <label>Select Bank </label>
                                    <div>
                                        <div class="custom-district">
                                            @*<select id="dealerbank" name="dealerbank">
                                                <option>select</option>

                                            </select>*@
                                            @Html.DropDownList("dealerbank", (IEnumerable<SelectListItem>)ViewBag.fillaccount, "Select Bank", new { @class = "form-control", required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 daccount-no" style="display:none;">
                                    <label>Account No.</label>
                                    <div>
                                        <input type="text" id="txtdealeraccountno" readonly name="txtdealeraccountno" placeholder="Enter Account No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dutr-no" style="display:none;">
                                    <label>UTR No.</label>
                                    <div>
                                        <input type="text" id="txtdelmretutr" name="txtdelmretutr" placeholder="Enter UTR No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dwallet-select" style="display:none;">
                                    <label>Select Wallet</label>
                                    <div>
                                        <div class="custom-district">
                                            @Html.DropDownList("dealerwallets", (IEnumerable<SelectListItem>)ViewBag.walletsdlm, "Select Wallet", new { @class = "form-control", required = "required" })

                                            @*<select id="dealerwallets" name="dealerwallets">
                                                <option>select</option>

                                            </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dwallet-no" style="display:none;">
                                    <label>Wallet No.</label>
                                    <div>
                                        <input type="text" id="txtdealerwalletno" readonly name="txtdealerwalletno" placeholder="Enter Wallet No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dtranstion-no" style="display:none;">
                                    <label>Transtion No.</label>
                                    <div>
                                        <input type="text" id="txtdlmrettranctionno" name="txtdlmrettranctionno" placeholder="Enter Transtion No." />
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 dsubject-reason" style="display:none;">
                                    <label>Subject (Reason)</label>
                                    <div>
                                        <input type="text" id="txtdlmretreason" name="txtdlmretreason" placeholder="Enter Credit Detail" />
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 damount ">
                                    <label>Enter Amount </label>
                                    <div>
                                        <input type="text" id="txtdlmretamount" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" name="txtdlmretamount" placeholder="Enter Amount" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ddeposite-slip-no" style="display:none;">
                                    <label>Deposite Slip No. </label>
                                    <div>
                                        <input type="text" id="txtdeposno" name="txtdeposno" placeholder="Enter Deposite No." />
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 dfund-comment">
                                    <label>Comments</label>
                                    <div>
                                        <textarea id="dlmretcomment" name="dlmretcomment"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <label id="errorsssnd"></label>
                                        <button id="btndistributorInform" class="fullbodydycolorbg" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;">
                                            Submit
                                        </button>
                                    </div>
                                </div>


                            </div>

                            <div id="DIstribotorshowinformation" style="display:none" class="fund-transfer-form show-after-submit">


                                @using (Ajax.BeginForm("PlacePurchaseOrder", "Home",
                                new AjaxOptions
                                {
                                                        //InsertionMode = InsertionMode.Replace
                                                        //OnSuccess = "OnSuccess11",
                                                        //OnFailure = "OnFailure",
                                                        //UpdateTargetId = "tblshowMasterD",
                                                        // LoadingElementId = "progress"
                                                    }))
                                {

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div>

                                            <div id="hdddninputvalues">

                                            </div>
                                            <button id="btnsendpurorder" class="fullbodydycolorbg" type="submit" style="color:#fff;float:right;padding: 6px 20px;border: 1px solid #bbb;margin-top: 10px;line-height: 22px;margin-left:10px;">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="fund-trasfer-right fund-user-right">




                    <div id="tab-1" class="width100 float-left tab-content current dealer-box-back-four" style="padding:0px;">
                        <ul class="nav nav-tabs">
                            @*<li class="tab-link current active" data-tab="tab-1" style="width:30%;"><a data-toggle="tab" aria-expanded="true" style="color:#000 !important;"><label class="for-change-fund" style="color:#000;font-weight:400;">M/D to Distibutor</label> Transfered</a></li>*@

                            <li class="tab-link current active" data-tab="tab-1" style="width:auto;border-right:0px;">


                                <div id="dealerdropfund">
                                    @* @Html.DropDownListFor(m => m.ddlDealerID, Model.ddldealers, "Please select", new { @id = "ddlDistributor1", @class = "for-select2" })*@

                                </div>
                                <div id="dealerdropreq" style="display:none;">
                                    @*@Html.DropDownListFor(m => m.ddlDealerID, Model.ddldealers, "Please select", new { @id = "ddlDistributor2", @class = "for-select2" })*@

                                </div>




                            </li>

                            <li style="width:70%;">
                                <div class="for-un" style="width: 97%;margin: auto;margin-top:3px;">
                                    <div class="row fund-t-dalear sendpurchase-api" style="margin:0px;">

                                        <div class="col-md-4">
                                            <div class="sendpurchase-date">
                                                <div class="custom-date-icon" style="height: 32px;left:0px;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                <input type="datetime" id="txt_frm_date" name="txt_frm_date" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="sendpurchase-date">
                                                <div class="custom-date-icon" style="height: 32px;left:0px;">
                                                    <i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg" aria-hidden="true"></i>
                                                </div>
                                                <input type="datetime" id="txt_to_date" name="txt_to_date" />
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 0px;">
                                            <button type="button" id="btnchangetabbutton" name="btnDsearch" class="btnssl22" style="background:#fff;" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                                                &nbsp;Search

                                            </button>
                                        </div>





                                    </div>
                                </div>
                            </li>

                            <li class="sendpurchase-apiclass" style="border:0px;float:right;width:auto !important;">
                                <div class="col-md-4 dmt-pdf" style="width:auto;float:right;margin-top: 3px;margin-bottom:0px;">
                                    <div>
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div>

                                                <div class="rechargepdfexal" style="float:right;width:100%;">
                                                    <span style="background-color: #fff !important; border: 1px solid #555 !important;">
                                                        <img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent;color:#555;">
                                                    </span>
                                                    <span style="background-color: #fff !important; border: 1px solid #555 !important;">
                                                        <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;color:#555;">
                                                    </span>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div id="tblshowMasterD" class="table-responsive tableseconddes-master api-fundtrans" style="width:100%;">
                            @Html.Partial("_FundTransferAdminToAPi_userPartial")

                        </div>

                        <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">

                            <img src="~/img/ajax-loader.gif" />
                        </div>
                    </div>
                    <div id="tab-2" class="width100 float-left tab-content ">
                        <div class="table-responsive " style="width:100%;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Distributor Firm</th>
                                        <th>Retailer Firm</th>
                                        <th>Head</th>

                                        <th>Total AMT</th>
                                        <th>Charge</th>

                                        <th>Net T/F</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="modal" data-target="#distributor-fund-transfer">

                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu<img src="~/ashok-images/rightaeps.svg" style="width:11px;margin-top:6px;float:right;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-3" class="width100 float-left tab-content ">
                        <div class="table-responsive " style="width:100%;">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>From Retailer Firm</th>
                                        <th>To Retailer Firm</th>
                                        <th>Head</th>
                                        <th>Payment&nbsp;Type</th>
                                        <th>Total AMT</th>
                                        <th>Charge</th>

                                        <th>Net T/F</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="modal" data-target="#retailer-fund-transfer">
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu</td>
                                        <td>uiu<img src="~/ashok-images/rightaeps.svg" style="width:11px;margin-top:6px;float:right;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<link href="~/MainFrontDesign/css/Dashcustom.css" rel="stylesheet" />

<script>

    ///Distreibutort Start

    $('#btndistributorInform').click(function () {

        $('#hdddninputvalues').empty();
        
        if ($('#ddldealerPaymentMode').val() == '' || $('#ddldealerPaymentMode').val() == null) {
            $("#errorsssnd").text('Pay mode REQUIRED');
            return false;
        }
        if ($('#ddldealerPaymentMode').val() == 'Cash') {
            if ($('#txtdlmretcollection').val() == '' || $('#txtdlmretcollection').val() == null) {
                $("#errorsssnd").text('Collection Person Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }


        }
        else if ($('#ddldealerPaymentMode').val() == 'Branch / CMS Deposite') {

            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#txtdeposno').val() == '' || $('#txtdeposno').val() == null) {
                $("#errorsssnd").text('Enter Deposite Slip No.');
                return false;
            }

            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }

        }

        else if ($('#ddldealerPaymentMode').val() == 'Online Transfer') {

            //if ($('#DDTransferType').val() == '' || $('#DDTransferType').val() == null) {
            //    $("#errorss").text('Select Transfer Type');
            //    return false;
            //}
            if ($('#dealerbank').val() == '' || $('#dealerbank').val() == null) {
                $("#errorsssnd").text('Select Bank Name');
                return false;
            }
            if ($('#txtdealeraccountno').val() == '' || $('#txtdealeraccountno').val() == null) {
                $("#errorsssnd").text('Account No Required');
                return false;
            }
            if ($('#txtdelmretutr').val() == '' || $('#txtdelmretutr').val() == null) {
                $("#errorsssnd").text('UTR No Required');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }

        }
        else if ($('#ddldealerPaymentMode').val() == 'Wellets Transfer') {

            if ($('#dealerwallets').val() == '' || $('#dealerwallets').val() == null) {
                $("#errorsssnd").text('Select Wallets');
                return false;
            }
            if ($('#txtdealerwalletno').val() == '' || $('#txtdealerwalletno').val() == null) {
                $("#errorsssnd").text('Wallet No. Required');
                return false;
            }
            if ($('#txtdlmrettranctionno').val() == '' || $('#txtdlmrettranctionno').val() == null) {
                $("#errorsssnd").text('Transtion No.');
                return false;
            }
            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            //if ($('#txtDISTCOMMENTS').val() == '' || $('#txtDISTCOMMENTS').val() == null) {
            //    $("#errorss").text('Comment Required');
            //    return false;
            //}
        }

        else if ($('#ddldealerPaymentMode').val() == 'Credit') {


            if ($('#txtdlmretamount').val() == '' || $('#txtdlmretamount').val() == null) {
                $("#errorsssnd").text('Amount Required');
                return false;
            }
            if ($('#dlmretcomment').val() == '' || $('#dlmretcomment').val() == null) {
                $("#errorsssnd").text('Comment Required');
                return false;
            }
        }


        var idst = $("#ddldealerPaymentMode option:selected").text();
        var collper = $('#txtdlmretcollection').val();
        var amount = $('#txtdlmretamount').val();

        var comment = $('#dlmretcomment').val();
        var bankname = $("#dealerbank option:selected").text();
        var depositeslip = $('#txtdeposno').val();
        var tranftype = $("#ddlAdmintransfertype option:selected");
        var accountno = $('#txtdealeraccountno').val();
        var UTRnos = $('#txtdelmretutr').val();
        var walletname = $("#dealerwallets option:selected");
        var walletno = $('#txtdealerwalletno').val();
        var transectionno = $('#txtdlmrettranctionno').val();
        //var setteltype = $('#txtDISTSETTLEMENTTYPE').val();
        //var crdetails = $('#txtDISTCREDITDETAILS').val();
        var sbject = $('#txtdlmretreason').val();
        var accnosele = $("#dealerbank").val();


        var thtm = '<div id="hdidsss">';

        thtm += '<input id="hdPaymentMode" name="hdPaymentMode" type="hidden"  value="' + idst + '" />';
        //  thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' +amount + '" />';


        if ($("#ddldealerPaymentMode").val() === "Cash") {

            thtm += '<input id="hdMDcollection" name="hdMDcollection" type="hidden"  value="' + collper + '" />';
            thtm += '<input id="hdMDComments" name="hdMDComments" type="hidden"  value="' + comment + '" />';
            thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Branch / CMS Deposite") {

            thtm += '<input id="hdMDBank" name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" name="hdMDaccountno" type="hidden"  value="' + accnosele + '" />';
            thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDDepositeSlipNo" name="hdMDDepositeSlipNo" type="hidden"  value="' + depositeslip + '" />';
            thtm += '<input id="hdMDComments" name="hdMDComments" type="hidden"  value="' + comment + '" />';


        }
        if ($("#ddldealerPaymentMode").val() === "Online Transfer") {

            thtm += '<input id="hdMDTransferType" name="hdMDTransferType" type="hidden"  value="' + tranftype.text() + '" />';
            thtm += '<input id="hdMDBank" name="hdMDBank" type="hidden"  value="' + bankname + '" />';
            thtm += '<input id="hdMDaccountno" name="hdMDaccountno" type="hidden"  value="' + accountno + '" />';
            thtm += '<input id="hdMDutrno" name="hdMDutrno" type="hidden"  value="' + UTRnos + '" />';
            thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Wellets Transfer") {

            thtm += '<input id="hdMDwallet" name="hdMDwallet" type="hidden"  value="' + walletname.text() + '" />';
            thtm += '<input id="hdMDwalletno" name="hdMDwalletno" type="hidden"  value="' + walletno + '" />';
            thtm += '<input id="hdMDtransationno" name="hdMDtransationno" type="hidden"  value="' + transectionno + '" />';
            thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDComments" name="hdMDComments" type="hidden"  value="' + comment + '" />';
        }
        if ($("#ddldealerPaymentMode").val() === "Credit") {


            thtm += '<input id="hdPaymentAmount" name="hdPaymentAmount" type="hidden"  value="' + amount + '" />';
            thtm += '<input id="hdMDComments" name="hdMDComments" type="hidden"  value="' + comment + '" />';
        }
        thtm += '</div>';

        $('.txtcodecodec').val('');
        // $('#txtcode').val('')
        $('#hdddninputvalues').html(thtm);
        $('#btnsendpurorder').click();


    })

    ///Distreibutort END

</script>
<script>
    $('#dealerbank').change(function () {

        $('#txtdealeraccountno').val($('#dealerbank').val());

    })
    $('#dealerwallets').change(function () {

        $('#txtdealerwalletno').val($('#dealerwallets').val());

    })
</script>

<!--<script>


     function OnSuccess11(result) {
        //$("#errorsssnd").text(result);


        $('.old-crd').empty();

        $('#hdddninputvalues').empty();
        $('#DIstribotorshowinformation').hide();
         $('#tblshowMasterD').html(result)
       // cahangeTab('menu1');-->

        @*$.ajax({
            url: "@Url.Action("MDTODealer","Home",new { tabtype="Admin"})",
            success: function (data) {
                $('#tblshowMasterD').html(data)

  }

        })*@



    <!--}




</script>-->



<script>


    function changemasterd(value) {
        var mas = $(value).val();
        if (mas == '') {
            $('.old-crd').hide();

        } else {
            $('.old-crd').show();
        }
    }
    function changemoded(value) {
        var res = $(value).val();

        if (res == "Cash") {
            $('.dcollection-by').show();

            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
        else if (res == "Branch / CMS Deposite") {
            $('.dcollection-by').hide();

            $('.dbank-select').show();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').show();
            $('.dfund-comment').show();
        }
        else if (res == "Online Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').show();
            $('.dbank-select').show();
            $('.daccount-no').show();
            $('.dutr-no').show();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').hide();


        }
        else if (res == "Wellets Transfer") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').hide();
            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').show();
            $('.dwallet-no').show();
            $('.dtranstion-no').show();

            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
        else if (res == "Credit") {
            $('.dcollection-by').hide();
            $('.dtransfer-type').hide();
            $('.dbank-select').hide();
            $('.daccount-no').hide();
            $('.dutr-no').hide();
            $('.dwallet-select').hide();
            $('.dwallet-no').hide();
            $('.dtranstion-no').hide();
            $('.dtransfer-type').hide();
            $('.dsubject-reason').hide();
            $('.ddeposite-slip-no').hide();
            $('.dfund-comment').show();
        }
    }





</script>
<script>
    $(function()
    {
            $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }

    })
</script>

<script>
    $('#btnchangetabbutton').click(function (e) {
      $.ajax({
          url: "@Url.Action("SendPurchaseOrder", "Home")",
          type: 'POST',
          data: {txt_frm_date: $('#txt_frm_date').val(),txt_to_date: $('#txt_to_date').val() },
            success: function (data) {
                $('#tblshowMasterD').html(data)

            }
        })
    });
</script>

<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("PDFSendPurchaseOrder", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>

<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();
       
        var url = '@Url.Action("ExcelSendPurchaseOrder", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
            
        location.href = url;
});
</script>

