@model IEnumerable<Vastwebmulti.Models.select_api_credit_report_by_admin_Result>
@{
    ViewBag.Title = "Show_Credit_report_by_admin";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable tfoot td{border-top-color: #ddd;}
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="card" style="margin-bottom:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <p style="color: #555;font-weight:700;font-size: 20px;margin-bottom:0px;">My Credit Report By Admin </p>
                        </div>
                        <div class="col-md-5">
                            <div class="rechargepdfexal" style="float:right;">
                                <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                <span>
                                    <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                        <div>
                            <div class="table-responsive" style="position:inherit;">
                                <table id="iiiii" class="table table-bordered table-striped table-hover  " style="width:100%;">
                                    <thead style="background-color:whitesmoke;">
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Last&nbsp;Transaction&nbsp;Date</th>
                                            <th>Last&nbsp;Transaction&nbsp;Type</th>
                                            <th>Live&nbsp;Balance</th>
                                            <th>Current&nbsp;Outstanding</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 1;}
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td><p style="font-size:12px;">@item.AdminEmail</p></td>
                                                <td><p style="font-size:12px;">@item.Name</p></td>
                                                <td><p style="font-size:12px;">@item.date</p></td>
                                                <td><p style="font-size:12px;">@item.bal_type</p></td>
                                                <td><p style="font-size:12px;">@item.remainamount</p></td>
                                                <td><p style="font-size:12px;text-align:center;">@item.cr</p></td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                    @*<tfoot style="background-color:whitesmoke;">
                                        <tr>
                                            <td><p style="font-size:17px;">Total</p></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><p style="font-size:17px;text-align:center;">@Model.Sum(a => a.cr)</p></td>
                                        </tr>
                                    </tfoot>*@
                                </table>
                            </div>
                        </div>
                   
            </div>
        </div>

    </div>

</section>

<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>






