@model IEnumerable<Vastwebmulti.Models.Login_info>
@{
    ViewBag.Title = "Web_Login";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-iconmy {
        top: 0px;
        padding: 6px 7px;
    }

    .rechargepdfexal {
        width: 100%;
        text-align: right;
    }

    @@media screen and (max-width:766px) {
        .weblogin-apiclass {
            margin: 0;
        }

            .weblogin-apiclass .col-md-6 {
                padding: 0;
            }

                .weblogin-apiclass .col-md-6 .row {
                    margin: 0px;
                }

                .weblogin-apiclass .col-md-6 .input-daterange.input-group {
                    margin-top: 8px;
                    margin-bottom: 8px;
                }

            .weblogin-apiclass .col-md-2 {
                width: auto;
                float: left;
                padding: 0px !important;
            }

            .weblogin-apiclass .col-md-3 {
                float: right;
                width: auto;
                padding: 0;
            }

        .web-login-api-class {
            padding-left: 0px;
        }

        .api-weblogin-nav {
            padding: 0px;
        }

            .api-weblogin-nav a {
                width: 48.4%;
            }
    }

    @@media only screen and (max-width:480px) {
        .ls-closed section.content {
            margin-left: 0px;
            padding: 0px 10px;
        }
    }
</style>
<section class="content">
    <div class="container-fluid web-login-api-class">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Web Login</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Web Login</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card" style="margin-bottom:10px;">
                    <div class="row weblogin-apiclass">
                        <div class="col-md-6 api-weblogin-nav">
                            <div>
                                <a href="@Url.Action("Web_Login","Home")" id="btn" class="btn fullbodydycolorbg" style=" height:32px;border:1px solid #c7c2c2;" title="Go to Web Success Login History">
                                    <span style="top:-1px;color:#fff;">Login History</span>
                                </a>
                                <a href="@Url.Action("Web_LoginFailed","Home")" id="btn" class="btn" style="height:32px;border:1px solid #c7c2c2;">
                                    <span style="top:-1px;color:black;">Failed Login History</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @using (Html.BeginForm("Web_Login", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-6" style="padding:0px;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="" style="position:relative;width:50%;float:left;padding-right:3px;">
                                                    <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                </div>
                                                <div style="position:relative;float:left;width:50%;padding-left:3px;">
                                                    <div class="form-iconmy" style="left:4px;"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding:0px 5px;">

                                        <button type="submit" class="btn  waves-effect" style="height:32px;background:transparent;border:1px solid #ddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>

                                    </div>
                                    <div class="col-md-3" style="padding-left:0px;">
                                        <div class="rechargepdfexal" style="float:right;">
                                            <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                            <span>
                                                <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">


                    <div>
                        <div class="table-responsive tableseconddes-master" style="position:inherit;">
                            <table class="table table-bordered third-design-table" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;Id</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Lattitude</th>
                                        <th>Longitude</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                        <th>ISP</th>
                                        <th>Current&nbsp;Login&nbsp;Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>

                                            <td>@item.UserId</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Logitude</td>
                                            <td>demy</td>
                                            <td>demy</td>
                                            <td>demy</td>
                                            <td>@item.CurrentLoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("ExcelWeb_Login", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;

        location.href = url;
});
</script>



<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("PDFWeb_Login", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>