@model IEnumerable<Vastwebmulti.Models.Failed_Login_info>
@{
    ViewBag.Title = "Web_LoginFailed";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-menu {
        margin-top: 75px !important;
    }

    .form-iconmy {
        padding: 5px 7px;
        top: 0px;
    }

    .webloginfaild-api {
        padding-left: 0;
    }

    @@media screen and (max-width:766px) {
        .col-md-6, .col-md-12 {
            padding-left: 0px;
        }

            .col-md-6 .row {
                margin: 0px;
            }

        .responsiveclassweblogin .col-md-6 {
            width: 100%;
            float: left;
            margin: 10px 0px;
        }

        .responsiveclassweblogin .col-md-2 {
            width: auto;
            float: left;
            padding: 0 !important;
        }

        .webloginfaild-api {
            padding-right: 0;
        }

            .webloginfaild-api a {
                padding: 5px 8px;
            }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>Web Login Failed</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Web Login Failed</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-md-12 api-padding-right-re">
                <div class="card" style="margin-bottom:10px;">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-6 webloginfaild-api">
                            <a href="@Url.Action("Web_Login","Home")" id="btn" class="btn " style=" height:32px;border:1px solid #c7c2c2;" title="Go to Web Success Login History">
                                <span style="top:-1px;color:#000;">Success Login History</span>
                            </a>
                            <a href="@Url.Action("Web_LoginFailed","Home")" id="btn" class="btn fullbodydycolorbg" style="height:32px;border:1px solid #c7c2c2;">
                                <span style="top:-1px;color:#fff;">Failed Login History</span>
                            </a>

                        </div>
                        <div class="col-md-6 responsiveclassweblogin">
                            @using (Html.BeginForm("Web_LoginFailed", "Home", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-6" style="padding:0px;">
                                        <div class="form-group" style="margin-bottom:0px;">
                                            <div class="input-daterange input-group">
                                                <div class="" style="width:50%;float:left;position:relative;padding-right:3px;">
                                                    <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                </div>
                                                <div class="" style="width: 50%; float: left;position:relative;padding-right:3px;">
                                                    <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                                    @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding:0px 5px;">

                                        <button type="submit" class="btn waves-effect" style=" height:32px;background:transparent;border:1px solid #ddd;">
                                            <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                            <span style="top:-2px;color:black;">Search</span>
                                        </button>

                                    </div>
                                    <div class="col-md-3" style="padding-left:0px;width:auto;float:right;padding-right:0px;">
                                        <div class="rechargepdfexal" style="float:right;width:auto;">
                                            <span><img src="~/ashok-images/pdf.png"><input type="button" id="btnPDF" value="PDF" style="border:0px;background:transparent"></span>
                                            <span>
                                                <img src="~/ashok-images/xls.png"><input type="button" id="btnExport" value="Export" style="border:0px;background:transparent;">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div>
                        <div class="table-responsive tableseconddes-master" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  -am-pm-" style="width:100%;background:#f5f5f5;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>Sr.&nbsp;No.</th>
                                        <th>Registered&nbsp;User&nbsp;ID</th>
                                        <th>Password</th>
                                        <th>IP&nbsp;Address</th>
                                        <th>Browser</th>
                                        <th>Login&nbsp;Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.EmailId</td>
                                            <td>@item.pwd</td>
                                            <td>@item.IP_Address</td>
                                            <td>@item.browser</td>
                                            <td>@item.LoginTime</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js -->
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>


<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    });
</script>

<script>
    $(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });
    });
</script>

<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("ExcelWeb_LoginFailed", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;

        location.href = url;
});
</script>




