@model IEnumerable<Vastwebmulti.Models.whatsapp_report_Result>
@{
    ViewBag.Title = "Whatsapp_Report";
    Layout = "~/Areas/API/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu {
        margin-top: 81px !important;
    }

    .form-iconmy {
        top: 0px;
        padding: 6px 7px;
    }

    .rechargepdfexal {
        width: 100%;
        text-align: right;
    }

    .dealer-four-design.master-four-design .dropdown-menu {
        margin-top: 0 !important;
    }

    @@media screen and (max-width:1366px) and (min-width:766px) {
        .input-daterange.input-group input {
            text-align: right;
        }
    }

    @@media screen and (max-width:991px) {
        .usrwise-pageheader {
            width: 100% !important;
            float: left;
        }

        .col-md-1, .rechargepdfexal {
            margin-top: 0px !important;
        }
    }

    @@media only screen and (max-width:766px) {

        .ls-closed section.content {
            margin-left: 0px;
            padding: 0px 10px;
        }

        .dispute-filter .col-md-6 {
            padding: 0px;
            margin-bottom: 5px;
        }

        .dispute-filter .col-md-1 {
            padding: 0px !important;
            width: 50%;
            float: left;
            margin: 5px 0px;
        }

            .dispute-filter .col-md-1 button {
                width: 98%;
            }

        .dispute-filter .col-md-2 {
            width: 50%;
            float: left;
            margin: 5px 0px;
            padding: 0px;
        }

        .dispute-filter-table {
            padding: 0px;
        }

        .dispute-filter .col-md-1 {
            width: auto !important;
        }

        .col-md-1 {
            width: auto;
            float: left !important;
            padding-left: 0px !important;
        }

        .bread-same-all-page.breadsameall-second ul {
            margin-bottom: 0;
        }

        .col-md-3 {
            width: 100%;
            float: left;
        }

        .col-md-3 {
            margin-top: 4px;
        }
    }
</style>
<section class="content">
    <div class="container-fluid">

        <!--Four-Design-Admin-page-Header-Section-Start-->
        <div class="page-title-box-fourde-dealer">
            <h3>All Dispute Report</h3>
            <ul>
                <li><a href="@Url.Action("Dashboard","Home")" style="color:var(--fullbodybg-four);">Home&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Basic Setting&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                <li><a href="javascript:void(0);">Whatsapp Report</a></li>
            </ul>
        </div>
        <!--Four-Design-Admin-page-Header-Section-End-->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-bottom:10px;">
                    @using (Html.BeginForm("Whatsapp_Report", "Home", FormMethod.Post))
                    {
                        <div class="row dispute-filter">
                            <div class="col-md-6 usrwise-pageheader" style="width:auto;float:left;">
                                <div class="dealer-none-fourclass">
                                    <div class="bread-same-all-page breadsameall-second" style="width:100%;float:left;">
                                        <ul class="">
                                            <li class="smli">
                                                <a href="@Url.Action("Dashboard","Home")" class="fullbodydycolorbg tmw-total-color-one">
                                                    Dashboard&nbsp;<img src="../../ashok-images/rightaeps.svg" alt="right-arrow" style="width:12px;margin-top:-2px;">
                                                </a>
                                            </li>
                                            <li class="fullbodydycolorbg tmw-total-color-one">
                                                All Whatsapp Report
                                            </li>
                                        </ul>
                                    </div>



                                </div>
                            </div>
                         
                            <div class="col-md-1" style="padding:0px 5px;float:right;">

                                <button type="submit" class="btn  waves-effect" style="height:32px;border:1px solid #ddd;background:transparent;width:100%;">
                                    <i class="fa fa-search" style="top:-1px;font-size:16px;color:black;"></i>
                                    <span style="top:-2px;color:black;">Search</span>
                                </button>

                            </div>
                            <div class="col-md-3" style="padding:0px;float:right;">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-daterange input-group">
                                        <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                        @Html.TextBox("txt_frm_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd; height:32px;", autocomplete = "off" })
                                        <span class="input-group-addon" style="min-width:5px;padding:0px;">

                                        </span>
                                        <div style="position:relative;width:100%;float:left;">
                                            <div class="form-iconmy"><i class="fa fa-calendar tmw-total-color-one fullbodydycolorbg"></i></div>
                                            @Html.TextBox("txt_to_date", "", new { @class = "form-control", required = "required", style = "border:1px solid #dddddd;height:32px;", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>




                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dispute-filter-table">
                <div class="card">

                    <div>
                        <div class="table-responsive tableseconddes-master" style="position:inherit;">
                            <table class="table table-bordered table-striped table-hover  " style="width:100%;">
                                <thead style="background-color:whitesmoke;">
                                    <tr>
                                        <th>SR</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                        <th>Message</th>
                                        <th>Send Time</th>
                                        <th>Api Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 1;}
                                    @foreach (var item in Model)
                                    {
                                        var sendtime = Convert.ToDateTime(item.sendtime);
                                        <tr>
                                            <td>@i</td>
                                            <td style="">@item.mobile</td>
                                            <td style="">@item.sts</td>
                                            <td style="">@item.message</td>
                                            <td style="">@sendtime.ToString("dd-MM-yyyy hh:mm:ss tt")</td>
                                            <td style="">@item.rchmessage</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminDesign/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/AdminDesign/js/pages/forms/basic-form-elements.js"></script>
<!-- Demo Js -->
<script src="~/AdminDesign/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/AdminDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/AdminDesign/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/AdminDesign/js/pages/tables/jquery-datatable.js"></script>
<script src="~/AdminDesign/js/demo.js"></script>
<script src="~/AdminDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/Swalalert/sweetalert-dev.js">

</script>
<link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
<script>
    $(function () {
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true,
            autoclose: true,
            orientation: "bottom auto",

        });
        var val = '@ViewBag.chk';
        if (val != "post") {
            $("#txt_frm_date").datepicker("setDate", new Date());
            $("#txt_to_date").datepicker("setDate", new Date());
        }
    })
</script>


<script>
    $("#btnExport").click(function(){
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("ExcelDispute_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;

        location.href = url;
});
</script>


<script>
    $("#btnPDF").click(function () {
        var txt_frm_date = $('#txt_frm_date').val();
        var txt_to_date = $('#txt_to_date').val();

        var url = '@Url.Action("PDFDispute_Report", "Home")?txt_frm_date=' + txt_frm_date + '&txt_to_date=' + txt_to_date;
        window.open(
url,
  '_blank' // <- This is what makes it open in a new window.
);
    });
</script>


