@model Vastwebmulti.Models.RegisterViewModel
@using Vastwebmulti.Models;
@{
    Layout = null;
}
@{
    VastwebmultiEntities db = new VastwebmultiEntities();
    var ccc = db.tblContects.ToList();
    var companyname = ccc.Count == 0 ? "" : ccc.SingleOrDefault().CompnayName;
    var loginimage = db.tblLoginContents.ToList();
    if (loginimage.Count > 0)
    {
        ViewBag.loginimage = loginimage.FirstOrDefault().Image;
    }
    else
    {
        ViewBag.loginimage = "Login_Images/login22.png";
    }

    var image1 = "";
    var fullpath = "";
    var size = "";
    var repeat = "";
    var height = "";
    var backgroundImage = "";
    var image = db.tblWhiteLabelLoginBackImages.Where(p => p.Role == "ADMIN").ToList();
    if (image.Count > 0)
    {

        if (image.Where(a => a.UsedFor == "Repeat" && a.StatusCheck == "Y").SingleOrDefault() != null)
        {

            image1 = image.SingleOrDefault(a => a.UsedFor == "Repeat").otherimage;
            var ddd = image1.Replace(@"\", "/");
            fullpath = "../.." + ddd;

        }
        else if (image.Where(a => a.UsedFor == "Single" && a.StatusCheck == "Y").SingleOrDefault() != null)
        {
            image1 = image.SingleOrDefault(a => a.UsedFor == "Single").otherimage;
            var ddd = image1.Replace(@"\", "/");
            fullpath = "../.." + ddd;

            size = "cover";
            repeat = "no-repeat";
            height = "100vh";
        }
        else
        {
            backgroundImage = "linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important";
        }
    }
    else
    {
        image1 = "img32.png";
        fullpath = "../FooterImages/" + image1;
        backgroundImage = "linear-gradient(to right , var(--main-bg-lcolor), var(--main-bg-rcolor)) !important";
    }
    var admindetail = db.Admin_details.ToList();
    var mailid = admindetail.SingleOrDefault().email;
    var mobile = admindetail.SingleOrDefault().mobile;
    var background = fullpath;
    var Firm_Name = admindetail.SingleOrDefault().Companyname;


    var col = db.changecolors.ToList();
    var color = "";
    if (col.Count > 0)
    {
        color = col.SingleOrDefault(p => p.Role == "ADMIN").adminandouterheadercolor;
    }
    else
    {
        color = "Gray";
    }

}

<!DOCTYPE html>

<html>
<head>
    <title>@companyname</title>
    <!-- Meta tag Keywords -->
    @{
        var favimage = "";
        VastwebmultiEntities db2 = new VastwebmultiEntities();
        var faviconlogo = db2.tblfavicons.Where(p => p.Role == "ADMIN").ToList();
        if (faviconlogo.Count() > 0)
        {
            if (faviconlogo.SingleOrDefault().Role == "ADMIN")
            {
                favimage = faviconlogo.SingleOrDefault().faviconimage;

            }
        }
        else
        {
            <link rel="icon" href="" type="image/x-icon" />
        }
        var allcolor1 = db.tblMenuColors.ToList();
        var selectedcolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().SelectedColor;
        var menucolor1 = allcolor1.Count == 0 ? "" : allcolor1.SingleOrDefault().MenuColor;
        var logoimage = "";
        var logo = db.tblHeaderLogoes.Where(p => p.Role == "ADMIN").ToList();
        if (logo.Count > 0)
        {
            if (logo.SingleOrDefault().Role == "ADMIN")
            {
                logoimage = logo.Where(p => p.Role == "ADMIN").SingleOrDefault().LogoImage;
            }
        }
        else
        {

            logoimage = "images/Default_Logo.png";
        }
    }

    <link rel="icon" href="@Url.Content("~/" + @favimage)" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classic Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="~/NewLoginDesign/css/font-awesome.css" rel="stylesheet" />
    <link href="~/NewLoginDesign/css/style.css" rel="stylesheet" />
    @*<link href="~/CSS/aaaaa.css" rel="stylesheet" />*@
    <link href="~/NewLoginDesign/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- Web-Fonts -->
    <link href="~/NewLoginDesign/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,400,400i,500,500i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="~/MainFrontDesign/css/Custom-style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="~/MainFrontDesign/css/globalallcss.css" rel="stylesheet" />

    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script defer src="~/Scripts/owl.carousel.js"></script>

    @if (!HttpContext.Current.Request.IsLocal)
    {
        <!-- To Disable Inspect Element -->
        <script src="~/Scripts/Disable_Inspect_Element/Disable_Inspect.js"></script>
    }

    <style>

        @*:root {
            --main-bg-lcolor: #57badd;
            --main-bg-rcolor: #d639f4;
        }*@

        input {
            background: #454242 !important;
            color: #fff !important;
        }

        body {
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        }

        .text-muted {
            color: #000 !important;
        }

        label {
            color: #000 !important;
            font-size: 20px;
            font-family: 'Trebuchet MS', sans-serif;
        }

        .Login-one {
            background: #fff;
            width: 35%;
            height: 500px;
            margin: 100px auto;
            border-radius: 10px;
            padding: 45px;
        }

        .container_one {
            position: relative;
            float: left;
            width: 100%;
        }

        h2 {
            padding-top: 15px;
            font-family: Tahoma, sans-serif;
            font-weight: 600;
        }

        input {
            border: none;
            border-bottom: 2px solid #d7d7d7;
            padding: 10px;
        }
    </style>


    <style>
        .hidden {
            display: none;
        }

        .spinner-border {
            border: 2px solid gray;
            border-radius: 99px;
            animation: spinner;
        }

        input[type=number] {
            height: 25px;
            width: 32px;
            font-size: 22px;
            text-align: center;
            border: 1px solid #ccc;
        }

            input[type=number]:focus-visible {
                outline: solid 0px !important;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        div#otp_continer_inputs_email {
            border: 1px solid #ccc;
            width: 100%;
            height: 35px;
            padding-top: 4px;
            padding-left: 4px;
            margin-top: 0px !important;
        }


        small#mobile_err {
            position: absolute;
            top: 34px;
            font-size: 11px;
            left: 8px;
        }

        small#email_err {
            position: absolute;
            top: 34px;
            left: 10px;
            font-size: 11px;
        }

        p.opt_pra {
            font-size: 10px !important;
            text-align: start;
            top: -15px;
            left: 6px !important;
            line-height: 1.2;
            text-transform: uppercase;
        }

        p.opt_pra_1 {
            font-size: 10px !important;
            text-align: start;
            left: 6px !important;
            line-height: 1.2;
            text-transform: uppercase;
        }

        .otp_set_1 {
            width: auto;
            float: right;
            margin-top: -28px;
            margin-right: 5px;
        }

        .otp_block {
            background-color: #454242 !important;
            width: 148px;
            height: 31px;
            margin-left: -3px;
            border-radius: 0px 25px 25px 0px;
            margin-top: -4px;
        }

        .otp_set {
            margin-top: -28px;
        }


        div#otp_continer_inputs {
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
            height: 35px;
            font-size: 1rem;
            text-align: right;
        }

        .otp_block_1 {
            background-color: #ddd !important;
            width: 148px;
            height: 31px;
            margin-left: -3px;
            border-radius: 0px 25px 25px 0px;
            margin-top: -3px;
        }




        #resend_btn_otp {
            width: auto;
            position: absolute;
            top: 0px;
            left: 19rem;
            background: border-box;
            color: #000;
            font-size: 14px;
            height: 26px;
        }

        #resend_btn_otp-1 {
            width: auto;
            position: absolute;
            top: 0px;
            left: 19rem;
            background: border-box;
            color: #000;
            font-size: 14px;
            height: 26px;
        }

            #resend_btn_otp-1:hover {
                background-color: #fff !important;
            }

        #resend_btn_otp:hover {
            background-color: #fff !important;
        }

        input#resend_btn_otp_email {
            width: fit-content;
            background: none !important;
            color: black;
            float: right;
        }



        input#Mobile {
            width: 100%;
            top: -33px !important;
            position: absolute;
        }

        input#btnsendOTP_Email {
            position: absolute;
            top: 5px;
            right: 3px;
            background: none !important;
            border-style: none;
        }

        .otp_m {
            margin-bottom: 0px;
        }

        div#margin-bottom {
            margin: auto;
        }

        .form-control ~ .focus-border:before, .form-control ~ .focus-border:after {
            height: 0;
        }
    </style>
    <style>

        .header {
            width: 100%;
            padding: 15px 46px;
            float: left;
            z-index: 9;
            position: relative;
            display: flex;
            align-items: center;
        }

        .ikon a {
            width: 45px;
            height: 45px;
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            padding: 9px;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            margin: auto;
        }

        .ikon {
            text-align: center;
            width: 100%;
            float: left;
            margin-bottom: 8px;
        }

        .login-page {
            float: left;
            width: 50%;
        }

        .longhover1 {
            background: #fff;
            width: 70%;
            margin: auto;
            padding: 25px 50px;
            border-radius: 10px;
            position: relative;
            box-shadow: 2px 2px 15px 5px;
            overflow: hidden;
        }

        .longhover11 {
            width: 70%;
            margin: auto;
            padding: 25px 50px;
            border-radius: 10px;
            position: relative;
            box-shadow: 2px 2px 15px 5px;
            overflow: hidden;
            height: 630px;
            background-size: cover;
            background-repeat: no-repeat;
        }

            .longhover11::after {
                content: "";
                background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
                width: 400px;
                height: 400px;
                position: absolute;
                top: -96px;
                right: -101px;
                border-radius: 50%;
            }

            .longhover11 h2, p {
                z-index: 2;
                position: relative;
                color: #fff !important;
                text-align: center;
            }

            .longhover11::before {
                content: "";
                width: 400px;
                height: 400px;
                position: absolute;
                bottom: -120px;
                left: -97px;
                border-radius: 50%;
                background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            }

        .imagecenterback {
            top: 38%;
        }

        .page-login-singup {
            display: flex;
            overflow-x: hidden;
            width: 100%;
            min-height: calc(100vh - 72px);
            padding-top: 0;
            flex-wrap: wrap;
        }

        .login-topimg {
            width: 22%;
            display: block;
            text-align: center;
            margin: 0px auto;
            background: #313a46;
            border-radius: 50%;
            padding: 20px;
        }

            .login-topimg img {
                width: 100%;
            }

        .signinclass button {
            width: 100%;
            background: #313a46;
            padding: 10px 0;
            transition: all .4s linear;
        }

            .signinclass button:hover {
                background: #727cf5;
            }

        .welcomback {
            font-family: 'Poppins', sans-serif;
        }

        .welcomback {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            color: #000;
            margin: 13px 0px;
        }

        .formsubmiterror, .formsubmiterror * {
            text-align: center;
            color: red;
        }

        .login-top {
            margin-top: 80px;
        }


        @@media only screen and (max-width: 1199px) {
        }

        @@media only screen and (max-width: 1080px) {
            .longhover1 {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 992px) {
            .longhover1 {
                padding: 9px !important;
                height: 624px !important;
            }

            .imagecenterback {
                left: 14%;
            }
        }


        @@media only screen and (max-width: 767px) {
            .longhover1 {
                height: auto !important;
            }

            .login-bottom .col-sm-6 {
                width: 50%;
            }

            .welcomback {
                margin: 13px 0px !important;
            }
        }


        .header .logo {
            width: 50%;
            float: left;
        }

        .header-icon {
            float: left;
            width: 50%;
            text-align: end;
        }

            .header-icon i {
                font-size: 25px;
                color: #fff;
                margin: 0px 16px;
                cursor: pointer;
            }

                .header-icon i:hover {
                    color: var(--main-bg-lcolor);
                    text-shadow: 1px 1px 4px #fff;
                }

        a {
            color: var(--main-bg-lcolor);
        }

        @*input:focus {
            background-color: var(--main-bg-rcolor) !important;
            border: 3px solid var(--main-bg-lcolor) !important;
            outline: 0 !important;
        }*@

        .otp_set input[type="number"] {
            width: 35px;
            padding: 2px;
        }

        .longhover1::before {
            content: "";
            width: 480px;
            height: 400px;
            position: absolute;
            top: -80px;
            left: -55px;
            border-radius: 0px 0px 50% 50%;
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            transform: rotate(-32deg);
        }

        .longhover1::after {
            content: "";
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            width: 480px;
            height: 400px;
            position: absolute;
            bottom: -92px;
            right: -77px;
            border-radius: 0px 0px 50% 50%;
            transform: rotate(128deg);
        }

        .longhover1 form,div{
            position:relative;
            z-index:5;
        }

        .longhover2::before {
            content: "";
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -140px;
            left: -120px;
            border-radius: 50%;
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
        }

        .longhover2::after {
            content: "";
            background-image: linear-gradient(to right, var(--main-bg-lcolor), var(--main-bg-rcolor));
            width: 200px;
            height: 200px;
            position: absolute;
            top: -92px;
            right: -139px;
            border-radius: 50%;
        }

    </style>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="body Login_body" style="padding:0;">
    @*<h1>Login with @companyname</h1>*@


    <div class="page-login-singup">
        <div class="container-fluid p-0">


            <div class="gx-0 min-vh-100 row" style="min-height: 100vh;">

                <div class="header">

                    <div class="logo">

                        <h1 class="text-light"><a href="@Url.Action("index", "Home")"><img src="@Url.Content("~/"+@logoimage)" alt="@Firm_Name" style="width: 115px; " /></a></h1>

                    </div>

                    <div class="header-icon">

                        <i class="fas fa-user-tie"></i>

                        <i class="fa fa-heart"></i>
                    </div>

                </div>


                @*Background-image*@

                <div class="login-page" style="padding-left:0px;">

                    <div class="sixbackgroundimg">
                        <div class="longhover11">

                            <h2 style="margin-bottom: 50px; text-transform: uppercase; font-size: 30px; text-align: center;">Welcome to <span>@Firm_Name</span></h2>

                            <p style="font-size: large; font-family: cursive;">
                                We are work Prepaid & Dth Recharge, Postpaid payments, Electricity bill payments, Gas & insurance payments, Domestic & internationnal Hotel booking, Domestic & internationnal flight booking, Bus booking, New PAN registration & edit, Mini ATM (M-Pos), AEPS services and largest Ecommerace that offers comprehensive payment services for customer and merchants.
                            </p>

                            <p class="imagecenterback" style="color:#000;"> &copy; 2019 - @DateTime.Now.Year All Rights Reserved | @Firm_Name </p>
                        </div>
                    </div>

                </div>


                <div class="login-page">
                    <div class="longhover1">

                        <div class="longhover2">

                            <div class="text-center longhover">
                                <div class="logo" style="width: auto; padding: 13px; ">

                                    <h1 class="text-light"><a href="@Url.Action("index", "Home")"><img src="@Url.Content("~/"+@logoimage)" alt="@Firm_Name" style="width: 115px; " /></a></h1>

                                </div>
                                <h1 class="h4 text-uppercase mb-3 welcomback">Welcome Back</h1>
                            </div>

                            @*Sign in-form*@

                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "UpdateForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("latloc")
                                @Html.Hidden("longloc")
                                @Html.Hidden("hdaddress")
                                <div id="signinform">
                                    <div class="mb-3">
                                        <label class="form-label form-label">Email Address / Mobile No</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "", @required = "" })

                                    </div>
                                    <div class="mb-4">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label form-label">Password</label>
                                            </div>
                                            <div class="col-auto">
                                                <a class="form-text small text-muted" id="forgotopenform" href="javascript:void(0);">Forgot your password?</a>
                                            </div>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "", @required = "" })

                                    </div>
                                    <div class="mb-4 form-check" style="padding-left:0px;">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <label title="" for="RememberMe" class="form-check-label">Remember this device</label>
                                    </div>
                                    <div class="d-grid mb-5 signinclass">
                                        <button type="submit" class="text-uppercase btn btn-primary fullbodydycolorbg">Sign in</button>
                                    </div>
                                    <div class="formsubmiterror">
                                        <span id="login-error" class="locationafterbefore"></span>
                                        <span id="login-error1"></span>
                                        <span id="login-error2" class="locationafterbefore" style="display:none"></span>
                                    </div>

                                    <div class="ikon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus"></i></a>
                                    </div>

                                    <p class="text-sm text-muted text-center singup-pclass">Don't have an account yet? <a href="javascript:void(0);" class="button-sinupsign" id="singin">Register</a>.</p>

                                </div>
                            }

                            @*Sign up Form*@

                            @using (Html.BeginForm("Insert_retailer", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmsignup" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Hidden("Email_Id")
                                @Html.Hidden("Mobile_Id")

                                <div class="tab-1 resp-tab-content" id="signupform" style="margin-top: -30px;">
                                    <div class="login-top sign-top">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="for-border-effect" style="position:relative;">
                                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control phone", onkeypress = "return isNumber(event)", maxlength = "10", @placeholder = "Enter Mobile No", @required = "", @field = "mobile" })
                                                    <small style="color: red;" id="mobile_err"></small>
                                                    <div class="spinner-border hidden" id="Mobileno_spinner" style="font-size: 8px;position: absolute;right: 10px;top: -26px;height: 20px;width: 20px;">
                                                    </div>
                                                    <img class="hidden" id="success_mobile_img" src="~/images/check_img_input.jpg" style="width:25px; position:absolute; right:7px; top:5px; background-color:none;" />
                                                    <div class="otp_m">
                                                        <div class="form_otp" id="otp_continer_inputs">
                                                            <div class="otp_block">
                                                                <p class="opt_pra_1"> OTP sent successfully to <br />entered mobile number</p>
                                                            </div>
                                                            <div class="otp_set">
                                                                <input id="codeBox1" type="number" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" />
                                                                <input id="codeBox2" type="number" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" />
                                                                <input id="codeBox3" type="number" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" />
                                                                <input id="codeBox4" type="number" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="for-border-effect" style="position: relative;}">
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control email", @type = "email", @placeholder = "Enter Email-ID", @required = "", @field = "email" })
                                                    <small style="color: red;" id="email_err"></small>
                                                    <input type="button" name="button" value="Send OTP" id="btnsendOTP_Email" style="cursor: pointer;">
                                                    <div class="spinner-border hidden" id="Email_spinner" style="font-size: 8px;position: absolute;right: 10px;top: 8px;height: 20px;width: 20px;"></div>
                                                    <img class="hidden" id="success_email_img" src="~/images/check_img_input.jpg" style="width:25px; position:absolute; right:7px; top:5px; background-color:none;" />
                                                    <div class="form_otp" id="otp_continer_inputs_email" style="margin-top:-20px;">
                                                        <div class="otp_block_1">
                                                            <p class="opt_pra"> OTP sent successfully to <br />entered mobile number</p>
                                                        </div>
                                                        <div class="otp_set_1">
                                                            <input id="codeBox5" type="number" maxlength="1" onkeyup="onKeyUpEvent_Email(5, event)" onfocus="onFocusEvent(5)" />
                                                            <input id="codeBox6" type="number" maxlength="1" onkeyup="onKeyUpEvent_Email(6, event)" onfocus="onFocusEvent(6)" />
                                                            <input id="codeBox7" type="number" maxlength="1" onkeyup="onKeyUpEvent_Email(7, event)" onfocus="onFocusEvent(7)" />
                                                            <input id="codeBox8" type="number" maxlength="1" onkeyup="onKeyUpEvent_Email(8, event)" onfocus="onFocusEvent(8)" />
                                                        </div>
                                                    </div>

                                                    <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="for-border-effect">
                                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control name", @placeholder = "Enter Customer Name", @required = "" })                                                            <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="for-border-effect">
                                                    @Html.TextBoxFor(m => m.Companyname, new { @class = "form-control phone", maxlength = "40", @placeholder = "Enter Business Name(Optional)" })
                                                    <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="for-border-effect">
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control phone", maxlength = "10", @placeholder = "Enter Password", @required = "" })
                                                    <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="for-border-effect">
                                                    @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger " })
                                                    @Html.TextBoxFor(m => m.Pin, new { @class = "form-control phone", maxlength = "4", minlength = "4", @placeholder = "Enter Pin", @required = "", onkeypress = "return isNumber(event)" })
                                                    <div class="focus-border"><i></i></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="for-border-effect custom-district">
                                                    @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                                                    @Html.DropDownListFor(model => model.state, (IEnumerable<SelectListItem>)ViewBag.Sate, "Select State", new { @class = "form-control", @onchange = "FillDistict()", @required = "" })
                                                    <div class="focus-border"><i></i></div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="for-border-effect custom-district">
                                                    @Html.ValidationMessageFor(m => m.distict, "", new { @class = "text-danger" })
                                                    @Html.DropDownListFor(model => model.distict, new SelectList("Value", "Text"), "Select District", new { @class = "form-control", @required = "" })
                                                    <div class="focus-border"><i></i></div>
                                                </div>


                                            </div>
                                        </div>


                                        <div class="login-bottom">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <ul>
                                                        <li>
                                                            <label>@Html.CheckBoxFor(m => m.RememberMe)&nbsp;Remember Me&nbsp;?</label>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="col-sm-6" style="margin-top:5px;">

                                                    <div class="for-border-effect" style="position: absolute;top: -11px;right: 14px;width: 78%;">
                                                        @Html.TextBoxFor(m => m.referralcode, new { @class = "form-control", @placeholder = "Referral Code", @style = "height:32px;width:100%;margin-top:0px;margin-bottom:0px;", @maxlength = "10" })
                                                        <div class="focus-border"><i></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="submit" style="float:none;">
                                            <div class="loadingio-spinner-gear-94vo528ab8 second-login" style="display:none;">
                                                <div class="loader"></div>
                                            </div>
                                            <input id="SignUp" type="submit" disabled="disabled" value="Sign Up Now" class="fullbodydycolorbg" />
                                        </div>


                                    </div>
                                    <p class="text-sm text-muted text-center sing-pclass" style="padding-top:25px;">Already have an account? <a href="javascript:void(0);" id="singup" class="singupclass">Login</a>.</p>
                                </div>
                            }
                            @using (Html.BeginForm("ForgotPasswordAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ForgtFrm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div id="forgetpassword" class="" style="display:none;">
                                    <div class="mb-3">
                                        <label class="form-label form-label">Registered Email Id</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "", required = "" })
                                    </div>
                                    <div class="d-grid mb-5 signinclass">
                                        <button type="submit" id="btnforget" class="btn btn-primary">Forgot Password</button>
                                    </div>
                                    <p class="text-sm text-muted text-center sing-pclass">Already have an account? <a href='@Url.Action("Login","Home",new { id="singin" })' class="singupclass">Login</a>.</p>
                                </div>
                            }


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    @{
        <input type="button" value="sleep" id="btnsleep" data-toggle="modal" data-target="#sleep-modal" style="display:none;">
        <div class="modal fade" id="sleep-modal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="@Url.Content("~/Deskrop Sleep Mode.png")" id="mImage" />

                    </div>
                    <div>
                        <span style="font-size:15px; margin-left:15px;">Mail-id :-<b style="color:red;"> @mailid</b> </span>
                        <br />
                        <span style="font-size:15px; margin-left:15px;">Mobile No :-<b style="color:red;"> @mobile</b></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    }

    <script src="~/NewLoginDesign/js/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/NewLoginDesign/js/easyResponsiveTabs.js"></script>
    <script src="~/Swalalert/sweetalert-dev.js"></script>
    <link href="~/Swalalert/sweetalert.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>
        $("#UpdateForm").submit(function (e) {

            if ($("#UpdateForm").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#login').show();
                    $('.loadingio-spinner-gear-94vo528ab8.first-login').hide()
                } else {
                    $('#login').hide();
                    $('.loadingio-spinner-gear-94vo528ab8.first-login').show()

                }
            }
            else {
                e.preventDefault();
                return false;
            }

        })
        $("#frmsignup").submit(function (e) {

            if ($("#frmsignup").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#SignUp').show();
                    $('.loadingio-spinner-gear-94vo528ab8.second-login').hide()
                } else {
                    $('#SignUp').hide();
                    $('.loadingio-spinner-gear-94vo528ab8.second-login').show()

                }
            }
            else {
                e.preventDefault();
                return false;
            }



        })


        $("#ForgtFrm").submit(function (e) {


            if ($("#ForgtFrm").valid()) {
                // ajax call
                if (document.readyState !== "complete") {
                    $('#btnforget').show();
                    $('.loadingio-spinner-gear-94vo528ab8.third-login').hide()
                } else {
                    $('#btnforget').hide();
                    $('.loadingio-spinner-gear-94vo528ab8.third-login').show()

                }
            }
            else {
                e.preventDefault();
                return false;
            }



        })
    </script>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "#login").style.visibility = "visible";
                document.querySelector(
                    ".loadingio-spinner-gear-94vo528ab8.first-login").style.display = "none";
                $('#btnforget').show();
                $('.loadingio-spinner-gear-94vo528ab8.third-login').hide()
            } else {
                document.querySelector(
                    "#login").style.display = "block";
                document.querySelector(
                    ".loadingio-spinner-gear-94vo528ab8.first-login").style.display = "none";


            }
        };
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <script>
        function show(clicked_id) {
            if (clicked_id == "singin") {
                $('#fristimage').show();
                $('#thirdimage').hide();
                $('#secondimage').hide();
                $('#signinform').show();
                $('#signupform').hide();
                $('#forget').hide();
            }
            else if (clicked_id == "singup") {
                $('#fristimage').hide();
                $('#thirdimage').hide();
                $('#secondimage').show();
                $('#signinform').hide();
                $('#signupform').show();
                $('#forget').hide();
            }
            else {
                $('#fristimage').hide();
                $('#thirdimage').show();
                $('#secondimage').hide();
                $('#signinform').hide();
                $('#signupform').hide();
                $('#forget').show();
            }
        }

    </script>
    <script>
        $('button').click(function () {
            if (this.id == 'viewmore') {
                $('#allcard').show();
                $('#silderid').hide();
                $('#viewless').show();
                $('#viewmore').hide();
            }
            else {
                $('#allcard').hide();
                $('#silderid').show();
                $('#viewless').hide();
                $('#viewmore').show();
            }
        })
    </script>


</body>
</html>
<script>
    async function reverseGeocode(latitude, longitude) {

        try {
            var url = '@Url.Action("fetchlatlong", "Home")';
            url = url + '?lat=' + latitude + '&lon=' + longitude + '';
            const chk = await fetch(url).then((response) => response.json());
            let apikey = chk.key;
            if (chk.sts == true) {
                $('#hdaddress').val(chk.resp);
            } else {
                const resp = await fetch('https://api.opencagedata.com/geocode/v1/json'
                    + '?'
                    + 'key=' + apikey
                    + '&q=' + encodeURIComponent(latitude + ',' + longitude)
                    + '&pretty=1'
                    + '&no_annotations=1')
                    .then((response) => response.json());

                if (resp.status.code == 200) {
                    $('#hdaddress').val(JSON.stringify(resp.results[0].components));
                }
                else {
                    $('#hdaddress').val("Location Not Fetch");
                }
            }
        }
        catch {
            $('#hdaddress').val("Location Not Fetch");
        }
    }

    function success(data) {
        let latitude = data.coords.latitude;
        let longitude = data.coords.longitude;
        $('#latloc').val(latitude);
        $('#longloc').val(longitude);

        reverseGeocode(latitude, longitude);
    }

    if (navigator.geolocation) {
        window.navigator.geolocation
            .getCurrentPosition(success, showError);
    }

    function showError(error) {
        $('#lblerrormsg').text('')
        switch (error.code) {
            case error.PERMISSION_DENIED:
                // alert("User denied the request for Geolocation.")
                $('#login-error2').html("<i class='material-icons'>add_location</i> User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                //  alert("Location information is unavailable.")
                $('#login-error2').html("<i class='material-icons'>add_location</i> Location information is unavailable.")
                break;
            case error.TIMEOUT:
                // alert("The request to get user location timed out.")
                $('#login-error2').html("<i class='material-icons'>add_location</i> The request to get user location timed out.")
                break;
            case error.UNKNOWN_ERROR:
                $('#login-error2').text("An unknown error occurred.")
                // alert("An unknown error occurred.")
                break;
        }
    }


    $('#UpdateForm').submit(function (e) {
        if (location.protocol == 'https:' || location.href.includes("http://localhost/")) {
            if ($('#latloc').val() == "" || $('#longloc').val() == "" || $('#hdaddress').val() == "") {
                e.preventDefault();
                if ($('#login-error2').text() == "") {
                    $('#login-error2').html("<i class='material-icons'>add_location</i> Please allow the Location access");
                }
                $('#login-error').html($('#login-error2').html())
                $('.loadingio-spinner-gear-94vo528ab8.first-login').hide();

    //            $('#login').show();

                navigator.permissions && navigator.permissions.query({ name: 'geolocation' })
                    .then(function (PermissionStatus) {
                        if (PermissionStatus.state == 'granted') {
                        //    alert("allowed")
                             return true;
                            //allowed
                        } else if (PermissionStatus.state == 'prompt') {
                           // alert("prompt - not yet grated or denied")
                            return false;
                            // prompt - not yet grated or denied
                        } else {
                           // alert("denied");
                            return false;
                            //denied
                        }
                    })


            }
        }
    })


</script>


<script>
    $(function () {
          var message = '@ViewBag.messagechkk'
       if (message != null && message != "") {
           $('#login-error').text(message)
        }
        var status = '@TempData["defaultstatus"]';
        if (status != null && status != "") {
            $('#login-error').text(status)
        }

        var reg = '@ViewData["success"]';
        if (reg != null && reg != "") {
            var vv = reg.replace(".", "\n");
            $('#login-error1').html('&#9989;'+reg)
        }

        var slaberror = '@ViewData["slaberror"]';
        if (slaberror != null && slaberror != "") {
            $('#login-error').text(slaberror)
        }
        var email = '@ViewData["email"]'
        if (email != null && email != "") {
            $('#login-error').text(email)
         }
        var mobile = '@ViewData["mobilecon"]'
        if (mobile != null && mobile != "") {
            $('#login-error').text(mobile)
        }
        var message = '@ViewData["wrongpass"]'
        if (message != "") {
            if (message == "Failure") {
                $('#login-error').text('User ID Or Password Wrong')
            }
        }
        var userMsg = '@ViewData["userblock"]'
        if (userMsg != "") {
            $('#login-error').text(userMsg)
        }
        var existuser = '@ViewData["existuser"]'
        if (existuser != "" && existuser != null) {
            $('#login-error').text(existuser)
        }

        var ch2 = '@ViewData["confrim"]';
        if (ch2 != "" && ch2 != null) {
            if (ch2 == "Confrimed") {
                $('#login-error').text('Your Email verification is pending. Please verify the Email first')

            }
        }
        var block = '@ViewData["msg"]';
        if (block == "websiteblock") {
            $('#btnsleep').click();
            $("#sleep-modal").modal('show');
        }
        $(".sweet-alert").css('background', '@PageData["globalOuter"]');
    });
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!--fill district javascript-->
<script>
    function FillDistict() {
        var State_id = $('#state').val();
        var dist = $('#distict').val();
        if (dist == "") {
              $("#divdistributor").css("display", "none");
        }
    $.ajax({
       // url: '/Home/FillCity',
        url: '@Url.Action("FillDistict", "Home")',
        type: "GET",
        dataType: "JSON",

        data: { State: State_id },
        success: function (data) {
            var markup = "<option value=''> -- Select District --</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                //alert(markup)
            }
            $("#distict").html(markup).show();
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });
  }
</script>
<!--fill dealer according to district id-->
<script>
    function FillDealer() {
        var district_id = $('#distict').val();

        $.ajax({
             url: '@Url.Action("FillDealerList", "Home")',
            type: "GET",
            dataType: "JSON",

            data: { District: district_id },
            success: function (show) {
                $("#Distributorid").html("");
                var procemessage = "<option value=''>Select your Nearest & Known Distributor Point</option>";
                $("#Distributorid").html(procemessage).show();
                $("#divdistributor").css("display", "block");
                for (var x = 0; x < show.length; x++) {

                    $("#Distributorid").append($('<option></option>').val(show[x].Value).html(show[x].Text));
                }
                },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>
<!--referral code javascropt-->
<script>
    function myFunction() {
        var checkBox = document.getElementById("referrral");
        if (checkBox.checked == true) {
            document.getElementById("referralcode").style.display = "block";

        } else {
            document.getElementById("referrral").style.display = "block";
            document.getElementById("referrral1").style.display = "block";
            document.getElementById("referralcode").style.display = "none";

        }
    }
</script>
<script>
    jQuery(function ($) {

        jQuery(".owl-carousel").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,

            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 1
                },

                1024: {
                    items: 1
                },

                1366: {
                    items: 1
                }
            }
        });
    });
</script>
<script>
    /*************Agent Login / SignUp*************/
    $(document).ready(function () {
        $('#singin').click(function () {
            $('#signupform').hide();
        })
    });
</script>




<script>
    var mobile_loading = false;
    var email_loading = false;
    var mobile_clientId = null;
    var email_clientId = null;
    var mobile_verify = false;
    var email_verify = false;
    window.addEventListener('load', () => {
        var sendBtnOtp = document.getElementById('btnsendOTP');
        var txtmobileno = document.getElementById('txtmobileno');
        var resend_btn_otp = document.getElementById('resend_btn_otp');
        var otp_continer_inputs = document.getElementById('otp_continer_inputs');
        otp_continer_inputs.classList.add('hidden');


        $('input[name="Mobile"]').keyup(e => {
            $('#mobile_err').text('');
            if (mobile_loading) return;
            var mobileno = e.target.value;

            if (mobileno.length == 10) {
                mobile_loading = true;

                $('#Mobileno_spinner').show();

                fetch('@Url.Action("IsMobileEmailExist")?entry=' + mobileno + '&type=mobile')
                    .then(res => res.json())
                    .then(data => {
                        $('#Mobileno_spinner').hide();
                        mobile_loading = false;

                        if (data.status == true) {
                            $('#otp_continer_inputs').show();
                            mobile_clientId = data.client_id;
                            $('#codeBox1').focus();
                            $('input[name="Mobile"]').hide();
                        }
                        else if (data.status == false) {
                            mobile_clientId = null;
                            var message = data.message;
                            $('#mobile_err').text(message);
                            $('#otp_continer_inputs').hide();
                            $('#singup').focus();
                        }
                    })
                    .catch(err => {
                        mobile_loading = false;
                        mobile_clientId = null;
                        $('#Mobileno_spinner').hide();
                    })

            }
            else {
                $('#txtmobileno_spinner').hide();
            }

        })


        $('#btnsendOTP_Email').click(() => {
            $('#email_err').text('');
            if (email_loading) return;
            var emaild = $('input[type="email"]').val();

            if (!emaild) {
                return $('#email_err').text('Please Enter Email');
            }
            $('#btnsendOTP_Email').hide();

            email_loading = true;

            $('#Email_spinner').show();

            fetch('@Url.Action("IsMobileEmailExist")?entry=' + emaild + '&type=email')
                    .then(res => res.json())
                    .then(data => {
                        $('#Email_spinner').hide();
                        email_loading = false;

                        if (data.status == true) {
                            $('#otp_continer_inputs_email').show();
                            $('#btnsendOTP_Email').hide();
                            $('input[type="email"]').hide();
                            email_clientId = data.client_id;
                            $('#codeBox5').focus();
                        }
                        else if (data.status == false) {
                            email_clientId = null;
                            $('#singup').focus();
                            var message = data.message;
                            $('#email_err').text(message);
                            $('#btnsendOTP_Email').show();
                        }
                    })
                    .catch(err => {
                        email_loading = false;
                        mobile_clientId = null;
                        $('#Email_spinner').hide();
                    })


        })

    })
    function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
    }

    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;
        return true;
    }

    function onKeyUpEvent(index, event) {
        $('#mobile_err').text('');
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
            if (index !== 4) {
                getCodeBoxElement(index + 1).focus();
            } else {
                getCodeBoxElement(index).blur();
                // Submit code
                $('#Mobileno_spinner').show();
                var otp = $('#codeBox1').val() + $('#codeBox2').val() + $('#codeBox3').val() + $('#codeBox4').val();
                fetch('@Url.Action("OtpVerify")?type=mobile&clientId=' + mobile_clientId + '&otp=' + otp)
                    .then(res => res.json())
                    .then(data => {
                        $('#Mobileno_spinner').hide();
                        if (data.status) {
                            $('#otp_continer_inputs').hide();
                            $('input[name="Mobile"]').show();
                            document.querySelector('input[name="Mobile"]').setAttribute('disabled', 'disabled');
                            mobile_clientId = null;
                            $('#success_mobile_img').show();
                            document.querySelector('input[type="email"]').removeAttribute('disabled');
                            $('#btnsendOTP_Email').show();
                            mobile_verify = true;

                            fetch('@Url.Action("fetchEmail_Mobile_sts_Data")')
                                .then(res => res.json())
                                .then(data1 => {
                                    if (data1.type == 'OFF') {
                                        email_verify = true;
                                        $('#btnsendOTP_Email').hide()
                                    }
                                    else {
                                        $('#btnsendOTP_Email').show()
                                    }
                                    if (email_verify && mobile_verify) {
                                        block_inputs();
                                        document.getElementById('SignUp').removeAttribute('disabled');
                                    }

                                    $('#Mobile_Id').val(data.id);
                                })
                        }
                        else {
                            $('#mobile_err').text(data.message);
                        }
                    })
                    .catch(err => {
                        mobile_clientId = null;
                    })
            }
        }
        if (eventCode === 8 && index !== 1) {
            getCodeBoxElement(index - 1).focus();
        }
    }

    function onKeyUpEvent_Email(index, event) {
        $('#email_err').text('');
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
            if (index !== 8) {
                getCodeBoxElement(index + 1).focus();
            } else {
                getCodeBoxElement(index).blur();
                // Submit code
                $('#Email_spinner').show();
                var otp = $('#codeBox5').val() + $('#codeBox6').val() + $('#codeBox7').val() + $('#codeBox8').val();
                fetch('@Url.Action("OtpVerify")?type=email&clientId=' + email_clientId + '&otp=' + otp)
                    .then(res => res.json())
                    .then(data => {
                        $('#Email_spinner').hide();
                        if (data.status) {
                            $('#otp_continer_inputs_email').hide();
                            $('input[type="email"]').show();
                            document.querySelector('input[type="email"]').setAttribute('disabled', 'disabled');
                            email_clientId = null;
                            $('#success_email_img').show();
                            email_verify = true;
                            if (email_verify && mobile_verify) {
                                block_inputs(true);
                                document.getElementById('SignUp').removeAttribute('disabled');
                            }
                            $('#Email_Id').val(data.id);
                        }
                        else {
                            $('#email_err').text(data.message);
                        }
                    })
                    .catch(err => {
                        mobile_clientId = null;
                    })
            }
        }
        if (eventCode === 8 && index !== 1) {
            getCodeBoxElement(index - 1).focus();
        }
    }

    function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
            const currentElement = getCodeBoxElement(item);
            if (!currentElement.value) {
                currentElement.focus();
                break;
            }
        }
    }
</script>



<script>
    window.addEventListener('load', () => {

        var txtemail = document.getElementById('txtemail');
        var resend_btn_otp_email = document.getElementById('resend_btn_otp_email');

        $('#otp_continer_inputs_email').hide();

    })
    function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
    }

    function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
            const currentElement = getCodeBoxElement(item);
            if (!currentElement.value) {
                currentElement.focus();
                break;
            }
        }
    }
</script>


<script>
    var inputs = document.getElementById('frmsignup').querySelectorAll('input[type="text"], input[type="password"], input[type="email"], select');
    var mobile_ref = document.getElementsByName('Mobile')[0];
    var email_ref = document.querySelector('input[type="email"]');

    $('#btnsendOTP_Email').hide();
    disable_inputs();


    function disable_inputs() {
        for (i = 0; i < inputs.length; i++) {
            if (!['Mobile'].includes(inputs[i].getAttribute('id'))) {
                inputs[i].setAttribute('disabled', true);
                inputs[i].value = '';
            }
        }
    }

    function block_inputs(email_verify = false) {
        var omit_field = ['Mobile'];
        if (email_verify) {
            omit_field.push('Email');
        }
        for (i = 0; i < inputs.length; i++) {
            if (!omit_field.includes(inputs[i].getAttribute('id'))) {
                inputs[i].removeAttribute('disabled');
                inputs[i].value = '';
            }
        }
    }
</script>

<script>

    $(document).ready(function () {
        $('#singin').click(function () {
            $('#signinform').hide();
            $('#signupform').show();
            $('.welcomback').text("REGISTER");
            $('#forgetpassword').hide();
        })
    });
</script>
<script>

    $(document).ready(function () {
        $('#singup').click(function () {
            $('#signinform').show();
            $('#signupform').hide();
            $('.welcomback').text("Welcome Back");
            $('#forgetpassword').hide();
        })
    });
</script>
<script>

    $(document).ready(function () {
        $('#forgotopenform').click(function () {
            $('#signinform').hide();
            $('#signupform').hide();
            $('.welcomback').text("Forgot password");
            $('#forgetpassword').show();
        })
    });
</script>

